<script type="text/javascript">
	function toggle_info(id){
		if( $('#'+id+' div').is(':hidden') ){
				$('.inv_info').hide(500);
		}

		$('#'+id+' div').toggle(500);

		return false;
	}
</script>

<style type="text/css">
	ul, li{
		padding:0;
		margin:0;
		font-size: 9px;
		list-style: none;
	}
	
	.inv_info{
		background: #C5EAFF;
		padding: 10px;
	}
	
	.info_header{
		background: #C5EAFF;
	}
</style>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="20px">&nbsp;</th>
		<th width="100px"><?php echo $this->translate("Date")?></th>
		<th><?php echo $this->translate("Invoice No")?></th>
		<th><?php echo $this->translate("Description")?></th>
		<th width="150px"><?php echo $this->translate("Invoice Amount")?> (IDR)</th>
		<th width="150px"><?php echo $this->translate("Paid")?> (IDR)</th>
		<th width="150px"><?php echo $this->translate("Credit Note")?> (IDR)</th>
		<th width="150px"><?php echo $this->translate("Balance")?> (IDR)</th>
	</tr>
	
	<?php 
	$i=0;
	$total = 0;
	$total_paid = 0;
	$total_cn = 0;
	$total_balance = 0;
	if($this->invoice){
	
	foreach ($this->invoice as $entry):
	
		$total_paid = $total_paid + $entry['paid'];
		$total_balance = $total_balance + $entry['balance'];
		$total_cn += $entry['cn'];
		$total = $total + $entry['debit'];
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $i+1;?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
		<td><a href="#" onclick="return toggle_info('<?php echo $entry['id']; ?>');"><?php echo $entry['document']; ?></a></td>
		<td><?php echo $entry['description']; ?></td>
		<td><?php echo number_format($entry['debit'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['paid'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['cn'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['balance'], 2, '.', ','); ?></td>
	</tr>
	<tr>
		<td colspan="8" id="<?php echo $entry['id']; ?>">
			<div class="inv_info" style="display: none">
			
				<!-- Payment Record Info-->
				<?php 
					if($entry['payment_record']){
				?>
					<b>Payment Record</b>
					<ul>
						<?php foreach ($entry['payment_record'] as $payment):?>
							<li><?php echo date('d/m/Y',strtotime($payment['payment_date'])); ?> - IDR<?php echo number_format($payment['amount'], 2, '.', ','); ?> &nbsp;<?php echo $payment['payment_mode']; ?>(<?php echo isset($payment['bancs_journal_number'])?$payment['bancs_journal_number']:$payment['slip_transaction_reference']; ?>)</li>
						<?php endforeach;?>
					</ul>
					<br />
				<?php 
					}
				?>
				
				<!-- Advance Payment Info -->
				<?php 
					if($entry['advance_payment_detail']){
				?>
					<b>Payment using Advance Payment</b>
					<ul>
						<?php foreach ($entry['advance_payment_detail'] as $advPymt):?>
							<li><?php echo date('d/m/Y',strtotime($advPymt['date_create'])); ?> - IDR<?php echo number_format($advPymt['advpydet_total_paid'], 2, '.', ','); ?> &nbsp; (<?php echo $advPymt['advpy_invoice_no'];?> - <?php echo $advPymt['advpy_description'];?>)</li>
						<?php endforeach;?>
					</ul>
					<br />
				<?php 
					}
				?>
				
				<!-- Credit Note Info -->
				<?php 
					if($entry['cn_info']){
				?>
					<b>Credit Note</b>
					<ul>
						<?php foreach ($entry['credit_note'] as $cn):?>
						<li><?php echo date('d/m/Y',strtotime($cn['cn_create_date'])); ?> - IDR<?php echo number_format($cn['cn_amount'], 2, '.', ','); ?> &nbsp;(<?php echo $cn['cn_description'];?>) <?php echo isset($cn['cn_approve_date'])?"Approved":""; ?></li>
						<?php endforeach;?>
					</ul>
					<br />
				<?php 
				}
				?>
				
				
			</div>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>
	<tr>
		<td colspan="4">&nbsp;</td>
		<th><?php echo number_format($total, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_paid, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_cn, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_balance, 2, '.', ','); ?></th>
	</tr>
</table>