<script type="text/javascript">
var prepend_val = false;
$(function() {
	$( "#tabs" ).tabs({
		beforeActivate: function( event, ui ) {
			
			if(ui.newPanel.selector == '#tabs-1' && !prepend_val){				
				$(ui.newPanel).prepend('<input type="button" value="Reload Account Statement" onClick="window.location.href=\'<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant', 'action'=>'ledger', 'id'=>$this->appl_id),'default',true);  ?>\'" />');
				prepend_val = true;
			}
		},
		beforeLoad: function(event, ui){
			$(ui.panel).html("Loading...");
		},
		load: function( event, ui ) {
			
			if(ui.panel.selector == '#ui-tabs-3'){
				$(".view").click(function() {
					$.fancybox({
							'title'			: 'Advance Payment - Detail',
							'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
							'type'			: 'ajax'
						});

					return false;
				});
			}
		}
	});
});


</script>

<style type="text/css">
#ui-datepicker-div { display: none; }
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />
<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate("Applicant Name"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_mname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_lname']." ":""; ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("NIM"); ?></td>
			<td>:</td>
			<td><?php echo $this->profile['registrationId']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Program Studi"); ?></td>
			<td>:</td>
			<td><?php echo $this->profile['ArabicName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake"); ?></td>
			<td>:</td>
			<td><?php echo $this->registration['intake']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Email"); ?></td>
			<td>:</td>
			<td><?php echo $this->profile['appl_email']; ?></td>
		</tr>
	</table>
</fieldset>
<br />
<div id="tabs">
	<ul>
    	<li><a href="#tabs-1">Account Statement</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-student', 'action'=>'invoice', 'id'=>$this->profile['appl_id'],'rid'=>$this->idStudentRegistration),'default',true);?>">Invoice</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-student', 'action'=>'payment', 'id'=>$this->profile['appl_id'],'rid'=>$this->idStudentRegistration),'default',true);?>">Payment</a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'advance-payment', 'action'=>'applicant-detail', 'id'=>$this->profile['appl_id'],'rid'=>$this->idStudentRegistration),'default',true);?>">Advance Payment</a></li>
  	</ul>
  	<div id="tabs-1">
    	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th width="20px">&nbsp;</th>
				<th width="100px"><?php echo $this->translate("Date")?></th>
				<th><?php echo $this->translate("Transaction Type")?></th>
				<th><?php echo $this->translate("Invoice No")?></th>
				<th><?php echo $this->translate("Receipt No")?></th>
				<th><?php echo $this->translate("Description")?></th>
				<th width="150px"><?php echo $this->translate("Debit Amount")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Credit Amount")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Balance")?> (IDR)</th>
			</tr>
			
			<?php 
			$i=0;
			if($this->account){
				$balance = 0;
			foreach ($this->account as $entry):
				
			if( $entry['txn_type']=="Invoice" ){
				$balance = $balance + $entry['debit'];
			}else
			if( $entry['txn_type']=="Payment" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Credit Note" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Refund" ){
				$balance = $balance + $entry['debit'];
			}
			
			?>
			<tr <?php echo $i%2==0?"class='shade'":""; ?>>
				<td align="center"><?php echo $i+1;?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>
				<td><?php echo $entry['receipt_no']; ?></td>
				<td><?php echo $entry['description']; ?></td>
				<td><?php echo number_format($entry['debit'], 2, '.', ','); ?></td>
				<td><?php echo number_format($entry['credit'], 2, '.', ','); ?></td>
				<td><?php echo number_format($balance, 2, '.', ','); ?></td>
			</tr>
			<?php 
			$i++;
			endforeach; 
			?>
			<tr>
				<td colspan="8">&nbsp;</td>
				<th><?php echo number_format($balance, 2, '.', ','); ?></th>
			</tr>
			<?php 
			}
			?>
		</table>
  	</div>
  	
  	
</div>
