<script type="text/javascript">
	function edit_account(faculty_id){
		$.fancybox({
			type: 'ajax',
			href: '/studentfinance/fee-item-account/faculty-update',
			ajax: {
				data: {
					'f_id':faculty_id,
					'fi_id':'<?php echo $this->fi_id; ?>'
				}
			} 
		});

		return false;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item-account', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend><?php echo $this->translate("Faculty Info"); ?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate("Faculty's Name");?></td>
			<td>:</td>
			<td><?php echo $this->faculty['ArabicName']; ?> / <?php echo $this->faculty['CollegeName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Short Name");?></td>
			<td>:</td>
			<td><?php echo $this->faculty['ShortName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Code");?></td>
			<td>:</td>
			<td><?php echo $this->faculty['CollegeCode']; ?></td>
		</tr>
	</table>
</fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Faculty")?></th>
		<th><?php echo $this->translate("Short Name")?></th>
		<th><?php echo $this->translate("Code")?></th>
	</tr>
	<?php
		if($this->program){ 
		foreach ($this->program as $data):
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item-account', 'action'=>'program-detail', 'fid'=>$this->faculty['IdCollege'], 'pid'=>$data['IdProgram']),'default',true);?>">
				<?php echo $data['ArabicName']; ?> / <?php echo $data['ProgramName']; ?>
			</a>
		</td>
		<td><?php echo $data['ShortName']; ?></td>
		<td><?php echo $data['ProgramCode']; ?></td>
	</tr>
	<?php 
		endforeach;
		}else{
	?>
	<tr>
		<td align="center" colspan="2"><?php echo $this->translate("No program setup for this faculty");?></td>
	</tr>
	<?php 
		}
	?>
</table>

