<script type="text/javascript">
	function edit_account(faculty_id,program_id,fee_item_id){
		$.fancybox({
			type: 'ajax',
			href: '/studentfinance/fee-item-account/fee-item-update',
			ajax: {
				data: {
					'f_id':faculty_id,
					'p_id':program_id,
					'fi_id':fee_item_id
				}
			} 
		});

		return false;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item-account', 'action'=>'faculty-detail', 'fid'=>$this->fid),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div style="width:49%; float:left;">
	<fieldset>
		<legend><?php echo $this->translate("Faculty Info"); ?></legend>
		<table>
			<tr>
				<td><?php echo $this->translate("Faculty's Name");?></td>
				<td>:</td>
				<td><?php echo $this->faculty['ArabicName']; ?> / <?php echo $this->faculty['CollegeName']; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Short Name");?></td>
				<td>:</td>
				<td><?php echo $this->faculty['ShortName']; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Code");?></td>
				<td>:</td>
				<td><?php echo $this->faculty['CollegeCode']; ?></td>
			</tr>
		</table>
	</fieldset>
</div>
<div style="width:49%; float:left;margin: 0 0 0 1%">
	<fieldset>
		<legend><?php echo $this->translate("Program Info"); ?></legend>
		<table>
			<tr>
				<td><?php echo $this->translate("Program's Name");?></td>
				<td>:</td>
				<td><?php echo $this->program['ArabicName']; ?> / <?php echo $this->program['ProgramName']; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Short Name");?></td>
				<td>:</td>
				<td><?php echo $this->program['ShortName']; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Code");?></td>
				<td>:</td>
				<td><?php echo $this->program['ProgramCode']; ?></td>
			</tr>
		</table>
	</fieldset>
</div>
<div style="clear:both">&nbsp;</div>


<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Fee Item")?></th>
		<th><?php echo $this->translate("Short Name")?></th>
		<th><?php echo $this->translate("Account No.")?></th>
		<th><?php echo $this->translate("Bank")?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
		if($this->data){
		foreach ($this->data as $data):
	?>
	<tr>
		<td><?php echo $data['fi_name_bahasa']; ?></td>
		<td><?php echo $data['fi_name_short']; ?></td>
		<td><?php echo $data['fiacc_account']; ?></td>
		<td><?php echo $data['bank_name']; ?></td>
		<td align="center"><a href="#" onclick="edit_account('<?php echo $this->fid; ?>', '<?php echo $this->pid?>', '<?php echo $data['fi_id']; ?>')" >Edit</a></td>
	</tr>
	<?php 
		endforeach;
		}else{
	?>
	<tr>
		<td colspan="4" align="center"><?php echo $this->translate("No fee item setup"); ?></td>
	</tr>
	<?php 
		}
	?>
</table>

