<style type="text/css">
	.shade_row{
		background-color: #E6E4E4;
	}
</style>
<?php 
$lobjquestion = new App_Model_Survey_DbTable_QuestionSurvey();
?>

<table class="table3" width="100%" border="0" cellpadding="0" cellspacing="1" >
	<tr>
		<th>
			<div class="message toolbar toolbar-clear">
				<h2><?php echo $this->translate($this->title);?></h2>
				<div class="toolbar-button">
				</div>
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<!-- TABLE FOR LANDSCAPE -->
			<?php if($this->taggingGroup){?>
			
			<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			
			<?php 
			$countSubmit = 0;
			
			foreach($this->pool as $data){
			if($data['poolid'] == 1){  //lecturer evaluation
				?>
			<tr>
				<td colspan="4"><?php echo strtoupper($data['poolname']);?></td>
			</tr>
				<?php
				$a=1; 
				$countAll = 0;
				foreach($this->registerCourse as $course){?>
				<tr>
					<td><?php echo $a;?>) <a href="<?php echo $this->url(array('module'=>'default','controller'=>'survey', 'action'=>'survey','id'=>$data['poolid'],'courseid'=>$course['course_id']),'default',true);?>"><?php echo $course['course_code'];?></a></td>
					<td><?php echo strtoupper($course['course_name']);?></a></td>
					<td><?php echo strtoupper($course['lecturername']);?></td>
					<td><?php 
					if($course['statusSurvey'] == 1){
						$countSubmit++;
						echo "SUBMITTED";
					}elseif($course['statusSurvey'] == 0){
						echo "<font color='red'>INCOMPLETE</font>";
						
					}
					
					?></td>
					</tr>
				<?php 
					$countAll++;
				$a++;
				}
			}else{
				$countAll = $countAll;
			?>	
			
			<tr>
				<td colspan="3"><a href="<?php echo $this->url(array('module'=>'default','controller'=>'survey', 'action'=>'survey','id'=>$data['poolid']),'default',true);?>"><?php echo strtoupper($data['poolname']);?></a></td>
				<td>
				<?php 
				
				$getStatus = $lobjquestion->getStatusSurvey($this->student_id,$data['poolid']);
					if($getStatus['status'] == 1){
						$countSubmit++;
						echo "SUBMITTED";
					}elseif($getStatus['status'] == 0){
						echo "<font color='red'>INCOMPLETE</font>";
						
					}
					
					?>
				</td>
			</tr>
				
			<?php 	
			}
			$countAll++;
			}
			?>
			</table>
			
			
			
			<form action="">
			<?php 
			$countAll = $countAll -1;
			if($countSubmit == $countAll){
				$url = "'".$this->url(array('controller' => 'user', 'action' => 'print-slip-exam'), 'default', true)."'";
				echo '<br>&nbsp;&nbsp;<input type="button" name="submit" id="submit" value="Print Examination Slip" onclick="location.href='.$url.'">';
			}else{
				echo "<br>&nbsp;&nbsp;* Please complete ALL survey to print Examination Slip. <br>";
			}
			?>
			
			</form>
			
			<?php }else{?>
			
			<br>
			<font color="red">You are not allowed to access Online Survey. </font>
			<br><br><br>
			<?php }?>
		</td>
	</tr>
</table>