<?php 
include('../lib/fckeditor/fckeditor.inc');
include('..//css/stylesheet.css');
include ("lmsconn.php");
$lmsconn=new lmsconn();
include ("conn.php");
$assignment=new asgconn();
?>
<META http-equiv="Content-Type" content='text/html; charset=windows-1256'>
</head>
<body class="body4" onload="showdiv2()">
<?php 
$ras=$assignment->getsubmit($_GET["said"]);
$asg = $lmsconn->getinfo("id=".$ras->fields["as_id"]);

if($asg->fields["gbookid"]!=""){
	$gbook=$lmsconn->getGbookmain("gbookid=".$asg->fields["gbookid"]);
	//baizura add here
	$gbookuser=$lmsconn->getGbookuser("gbookID=".$asg->fields["gbookid"]);
	$totalmark_check = $lmsconn->totalmark($ras->fields["userID"],$asg->fields["gbookid"]);
}

//$rus=$lmsconn->getUserInfo($ras->fields["userID"],"firstname,studentID",2);
$rassubmit=$assignment->checksubmit($asg->fields["id"],$ras->fields["userID"]);

$rus=$lmsconn->getUserInfoALL($ras->fields["userID"],"firstname,studentID,userID");
$userdetail=$lmsconn->tableuser($rus->fields["userID"]);
$programme = $userdetail->fields["programme"];
$prog=$lmsconn->programme($rus->fields["userID"]);
$progName = $prog->fields["progname"];

$said = $_GET["said"];
$courserole=$_GET["courserole"];

$ulc=$lmsconn->listULC($ras->fields["userID"]);

$ulcName = $ulc->fields["lcname"];

?>
<!--tr.on {background: #99CCFF;}-->
<style type="text/css">
tr.off {background: #ffffff;}
tr.on {background: #DDECF7;}
table.aa {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
}
</style>

<script language="JavaScript">
function setVisibility(id,id2,info,all,btnwrong,visibility) {
document.getElementById(id).style.display = visibility;
document.getElementById(id2).style.display = visibility;
document.getElementById(all).style.display = visibility;
document.getElementById(info).style.display = visibility;
document.getElementById(btnwrong).style.display = visibility;
}

//this is the first set of functions
function hidediv(boxid,showwrong,info,all,btnwrong){
document.getElementById(boxid).style.visibility='visible';
document.getElementById(info).style.visibility='visible';
document.getElementById(all).style.visibility='hidden';
document.getElementById(showwrong).style.visibility='visible';
document.getElementById(btnwrong).style.visibility='visible';
}
function showdiv(boxid,showwrong,info,all,btnwrong){
document.getElementById(boxid).style.visibility='visible';
document.getElementById(info).style.visibility='visible';
document.getElementById(all).style.visibility='visible';
document.getElementById(showwrong).style.visibility='hidden';
document.getElementById(btnwrong).style.visibility='visible';
}
//this is the second set of functions
function hidediv2(){
//single or double quotes do not matter in javascript. I like to use single quotes for
//all things javascript and double quotes for all things html
document.getElementById('sub').style.visibility='hidden';
document.getElementById('info').style.visibility='hidden';
document.getElementById('all').style.visibility='hidden';
document.getElementById('showwrong').style.visibility='visible';
document.getElementById('btnwrong').style.visibility='visible';
}
function showdiv2(){
document.getElementById('sub').style.visibility='visible';
document.getElementById('info').style.visibility='visible';
document.getElementById('all').style.visibility='visible';
document.getElementById('showwrong').style.visibility='hidden';
document.getElementById('btnwrong').style.visibility='visible';
}

</script>

<table class="data_border" width="100%">
<form name="f1" method="POST" action="ex_assignment.php?act=marksubmission">
<tr><td>
<div id="all">
<table border="0" align="center" width="100%" >
<tr>
	<td width="60%" valign="top">
		<div id="sub">
		<table align="center" width="100%" border="0" class="gridtable">
	     <tr>
	       <th><b>ASSIGNMENT SUBMISSION</b></th>
	     </tr>	       
	     <tr>
			<td width="100%">
			<?php
			if($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){
				$fdir="/var/www/html/uploadasg"."/".$_GET["cid"]."/".$_GET["aid"]."/";
				$fname=$ras->fields["fileupload"];
				$filename = $fdir.$fname;
				
				$downloaddir="http://".$_SERVER['HTTP_HOST']."/uploadasg"."/".$_GET["cid"]."/".$_GET["aid"]."/".$fname;
				
				if($asg->fields["subopt"]==1){
					if ($asg->fields["multiplefile"]==1) {
						$multiview="viewmultiplefile.php?aid=".$_GET["aid"]."&cid=".$_GET["cid"]."&uid=".$ras->fields["userID"];
						echo "<a target='_blank'  href=\"".$multiview."\">View Files</a>";
					}else{
						if($ras->fields["id"]!=NULL && $fname!=null && file_exists($filename)){?>
							<a href="<?php echo $downloaddir?>" target="_blank">Click to Download Assignment Submission</a>
						<?php }
						else {
							echo "No file!!";
						}
					}
				}else{
					if($ras->fields["fileupload"]!=""){
						if($ras->fields["id"]!=NULL && $fname!=null && file_exists($filename)){?>
							<a href="<?php echo $downloaddir?>" target="_blank">Click to Download Assignment Submission</a>
						<?php }
						else {
							echo "No file!!";
						}
					}else
					echo "Offline Submission";
				}?>
			</td>
		 </tr>
	     <tr>
			<td width="100%">
			<?php if($fname!=null || $fname!=""){?>
			<iframe src='<?php echo $downloaddir?>' style='border:1px solid black' height="500" width="100%"></iframe>
			<?php }else{
				echo "<b>FILE COULD NOT BE OPENED.<P>Please contact administrator.</b>";
			}?>
			</td>
		  </tr>
		  <?php }?>
	    </table>
	    </div>
	</td>
	
	<td width="40%" valign="top">
	<!--iframe view students information and comment-->
		<div id="info">
		 <table width="100%"  border="0" cellpadding="2" cellspacing="1" class="gridtable">
			<tr>
	          <th colspan="2"><b>STUDENT INFORMATION</b></th>
	        </tr>
	        <tr>
	          <td width="35%">Full Name</td>
	          <td width="65%"><?php echo $rus->fields["firstname"]?></td>
	        </tr>
	        <?php if($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){?>
	        <tr>
	          <td>Learning Center</td>
			  <td><?php if ($ulcName==""){?>NA<?php }else{echo $ulcName;}?></td>
	        <?php }?>
	        </tr>
	        <tr>
	          <td>Student ID</td>
	          <td><?php if ($rus->fields["studentID"]==""){?>NA
			  <?php }else{echo $rus->fields["studentID"];}?></td>
	        </tr>
	        <?php if($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){?>
	        <tr>
	          <td>Programme</td>
	          <td><?php if ($progName==""){?>NA
	          <?php }else{echo $progName;}?></td>
	          <?php }?>
	        </tr>
	        <tr>
	          <td>Title</td>
	          <td><?php echo $asg->fields["title"]?></td>
	          </tr>
	        <tr>
	          <td>Due Date</td>
	          <td><?php
	          $Date = $asg->fields["dtend"]; echo $Date;?></td>
	          </tr>
	        <tr>
	          <td>Submission Date</td>
	          <td><?php $datesubmission = $rassubmit->fields["dtupload"];
	          echo $datesubmission;
	          ?></td>
	        </tr>
	      </table>
	      </div>
	      
	     <br>
	     <div id="btnwrong">
	     <table width="100%"  border="0" cellpadding="2" cellspacing="1" class="gridtable2">
			<tr>
	          <td colspan="2">
	          <font color="Blue">
	          <b>Wrong File Submission :</b></font>
	          <input type="checkbox" name="wrong" id="wrong" value="1" onClick="checkwrongsub();"><br>[wrong file submission/blank page/corrupted file]
	          </td>
	        </tr>
	     </table>
		 </div>
	     <div id="showwrong"><p>
		<input type="button" name="btnwrong" value="Lock & Email Student" onclick="wrongsub(this.form,'Are you sure this is a wrong submission assignment?');">
		</div> 
	      
	      <?php if ($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){
	      $markahNow=round($totalmark_check->fields["point"],2);?>
	      <?php if($asg->fields["idtype"]!="" && $asg->fields["idtype"]!=0){?>
	      	<input type="hidden" name="Svalue" id="Svalue" value="<?php echo $Svalue?>">
	      	<input type="hidden" name="totalpercent" id="totalpercent" value="<?php echo $asg->fields["totalpercent"]?>">
	      <?php }else{?>
				<table bgcolor="White" width="100" border="0" style="width: 100%" class="gridtable">
				  <tr>
					<th  colspan="2"><b>MARKING DETAILS</b></th>
				  </tr>
				  <tr>
					<td  valign="top" width="35%">Mark</td>
					<td  valign="top" width="65%"><input type="text" id="aas_mark" name="aas_mark" maxlength="10" size="3" onkeyup="javascript:calcmark()"  onkeypress="return isNumberKey(event);" value="<?php echo $ras->fields["actmark"]?>">&nbsp;<b>/<?php echo $asg->fields["totalpercent"]?></b>
					<input type="hidden" name="totalpercent" id="totalpercent" value="<?php echo $asg->fields["totalpercent"]?>">
					<input type="hidden" name="gb_point" readonly maxlength="10" size="3" ></b>
					<input type="hidden" name="Svalue" id="Svalue" value="<?php echo $Svalue?>">
					</td></tr>
				</table>
				<?php }?>
				<P>
		      <!--<FIELDSET>
				<LEGEND>-->
				<table width="100%">
			    <?php if($ras->fields["markdeduct"]!=NULL && $ras->fields["locker"]==1){?>
			    <!--<tr>
				  <td width="35%" valign="top">Deducted Mark</td>
				  <td width="65%" valign="top">: &nbsp;<?php echo $ras->fields["markdeduct"]?> %</td>
			    </tr>-->
			    <?php }else{?><input type="hidden" name="deduct" id="deduct" value="0">
			    <?php }?>
				</table>
			  <!--</FIELDSET>-->
	      <?php
	      if($asg->fields["idtype"]!="" && $asg->fields["idtype"]!=0){}else{?>
<p>
		  <table width="100%" class="gridtable">
			<tr><th><b>OVERALL COMMENTS</b></th></tr>
			<tr><td>
			<textarea name="txtmesg"  style="width: 100%" rows="15" cols="50"><?php echo $ras->fields["remarks"]?></textarea>
			</td></tr>
	      </table>
	      <?php }}?>
	</td>
</tr>
<?php if($asg->fields["idtype"]!="" && $asg->fields["idtype"]!=0){
	//if($Svalue!=NULL){?>

<tr>
	<td colspan="2" align="center">
	<!--iframe view assginment's rubric if visible-->
	
	<table width="100%" border="0" class="">
	<?php if ($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){?>
			<tr><td><b>MARKING DETAILS</b></td></tr>
			<tr>
			<td>
				<?php if($asg->fields["idtype"]!="" && $asg->fields["idtype"]!=0){
					$gettypestatus = $lmsconn->getassgtype2($asg->fields["idtype"], " AND status=1 ");
					if($gettypestatus!=""){?>
				<table bgcolor="White" width="100" border="0" style="width: 100%" border="0">
					  <tr>
					    <td  valign="top" align="center" >
				<?php 
					$totaltype = $lmsconn->counttype2($asg->fields["idtype"],$asg->fields["id"]);
					$counttype = $totaltype->fields["count"];
			
					$total = $assignment->countmark($ras->fields["userID"],$asg->fields["id"],$said);
					$total2 = $total->fields["total"];
					
					if($courserole==1 || $courserole==3 || $courserole==4 || $courserole==5){
						
						if ($total2 !="0")
						{
								
						}
						else
						{	$assg=new lmsconn();
						 	$allType = $assg->getassgtype2($asg->fields["idtype"], " ");
						 	foreach ($allType as $type) {
								$as_typeID = $type['id'];
								$typeName = $type['typename'];
								$totalrubric = $type['totalrubric'];?>
							<table width="100%" border="1" cellspacing="1" cellpadding="4" class="aa">
					  		 <tr>
					    		<th bgcolor="#dedede" width="100%" colspan="15" class="tbtitle"><b>Type : <?php echo $typeName?><b></th>
					    	 </tr>
					  	 	 <?php 
					 	 	 $allCat =  $assg->gettypecategory($as_typeID);
						 	 $i = 0;
						 	 if (empty($allCat)){?>
							 <tr>
					   			<td bgcolor="White">&nbsp;</td>
					   			<td width="100%" bgcolor="White">No component </td>
					   			<td bgcolor="White">&nbsp;</td>
					   			<td bgcolor="White">&nbsp;</td>
					   			<!--<td bgcolor="White">&nbsp;</td>-->
					  		 </tr>
					  		<?php 
							}else {
							?>
							 <tr>
							<?php 
								foreach ($allCat as $cat) {
									$id =$cat["id"];
								}
								
						 		$numCol =  $assg->countcolumn($id,$as_typeID);
						 		$num = $numCol->fields["total"];
						 		
						 		$numRow =  $assg->countrow($as_typeID);
						 		$row = $numRow->fields["totalrow"];
						 		
						 		$numPoint= $assg->checktotalpoint($id,$as_typeID);
								 foreach ($numPoint as $np){
								 	$np["totalpoint"];
								 }
								 
								$highestval =  $assg->highestval($as_typeID);
						 		$highval = $highestval->fields["totalpoint"];
								 
								 if($np["totalpoint"]==0){
									$k =$num-1;
								 }else{
									$k =$num;
								 }?>
								<td width="30%"class="" bgcolor="#F2F2F2">&nbsp;<b>Category</b></td>
								<?php 
								//$k =$num;
								//for($j=0;$j<$num;$j++){
								$allComponent =  $assg->gettypecomponent($id);
								foreach ($allComponent as $comp) {?>
								<td width="15%"class="" bgcolor="#F2F2F2" align="center">&nbsp;<b><?php echo $k?></b></td>
								<?php
								$k--;
								}
								?>
								<td width="5%" class="" bgcolor="#F2F2F2">&nbsp;<b>Weightage</b></td>
					 		 </tr>
							 <?php
							 $n =1;
						 		foreach ($allCat as $cat) {
						 			$i++;
						 			$fldcatname = $cat['catname'];
						 			$fldweightage = $cat['weightage'];
						 			$fldcatid = $cat['id'];?>
							 <tr bgcolor="#000000" class="off" onmouseover="this.className='on'" onmouseout="this.className='off'">
							 
							<!--Display category-->
								<td width="30%"class="" bgcolor="#F2F2F2"><b>
								<?php if ($fldcatname!=""){?><?php echo $fldcatname?><?php }else{?>N/A<?php }?></b>
								</td>
								<?php 
								$numPoint= $assg->checktotalpoint($fldcatid,$as_typeID);
								 foreach ($numPoint as $np){
								 	$np["totalpoint"];
								 }
								 
								 if($np["totalpoint"]==0){
									$k =$num-1;
									$number =$num-1;
								 }else{
									$k =$num;
									$number =$num;
								 }
								
								$q = $k;
								$allComponent =  $assg->gettypecomponent($fldcatid);
								foreach ($allComponent as $comp) {?>
						
								<td width="15%"class="" align="left" valign="top" height="100%">
									<table width="100%" border="0" cellpadding="5" height="100%" cellspacing="0" class="aa">
										<tr><td valign="top" width="100%">
										<?php
										echo $comp['feedbackdesc'];
										?>
										</td><!--</tr>
										<tr><td><hr></td></tr>
										<tr>--><td width="100%" align="center">
										<p align="center">
										<?php if(((trim(strtoupper($comp['visiblity'])))=="0")){echo "[".$q."]";?>
										<input type="radio" disabled id="aas_mark<?php echo $n?>" name="aas_mark<?php echo $n?>" value="<?php echo $q?>,<?php echo $comp['id']?>">
										<?php }else{echo "[".$q."]";?>
										<input type="radio" id="aas_mark<?php echo $n?>" name="aas_mark<?php echo $n?>" value="<?php echo $q?>,<?php echo $comp['id']?>">
										<?php }?>
										<input type="hidden" name="as_cat<?php echo $n?>" value="<?php echo $fldcatid?>">
										<input type="hidden" name="as_typeid<?php echo $n?>" value="<?php echo $asg->fields["idtype"]?>">
										</td></tr>
									</table>
								</td>
									
								<?php	$q--;
									}?>
								<td width="5%"class="" align="center"><?php if ($fldweightage!=""){?><?php echo $fldweightage?><?php }else{?>N/A<?php }?></td>
								<input type="hidden" id="as_weightage<?php echo $n?>" name="as_weightage<?php echo $n?>" value="<?php echo $fldweightage?>">
							</tr>
						 	<?php $n++;
							 		}
							 }?>
							 <br/><br/>
							 <?php
							 	}?>
						 </table>
						<?php	
						}						
					}?>
					</td>
					</tr>
				<input type="hidden" name="totrubric" value="<?php echo $totalrubric?>">
				<input type="hidden" name="count" value="<?php echo $counttype?>">
				<input type="hidden" name="num" value="<?php echo $number?>">
				<input type="hidden" name="highval" value="<?php echo $highval?>">
				<input type="hidden" name="row" value="<?php echo $row?>">
				<tr><td align="right"><br>
				</td></tr>
				<tr><td align="right">
				
					<b>Total Mark :</b>&nbsp;<input type="text" name="gb_mark" value="" readonly maxlength="10" size="3" ></b><br>
					<b>Total Percentage :</b>&nbsp;<input type="text" name="gb_point" value="" readonly maxlength="10" size="3" ></b>
					<input type="hidden" name="bilchecked" value="" readonly maxlength="10" size="3" >
					<input type="hidden" name="number" value="<?php echo $n?>">
				</td></tr>
				</table>				
				<?php }else{?>
				
				<table bgcolor="White" width="100" border="0" style="width: 100%">
					  <tr><td  valign="top" ><b>No rubric available - Please report to assignmentgrader@oum.edu.my</b></td></tr>
					  <tr><td  valign="top" >&nbsp;</td></tr>
				</table>
				<?php }}?>	
				<P>
				<table width="100%" class="gridtable">
					<tr><th><b>OVERALL COMMENTS</b></th></tr>
					<tr><td>
					<textarea name="txtmesg"  style="width: 100%" rows="15" cols="50"><?php echo $ras->fields["remarks"]?>
					</textarea>
					</td></tr>
					<tr><th align="">
					<input type="button" id="startd" name="startd" value="Save Mark" onclick="javascript:savemark2(this.form,'Are you sure you want to save this marks?')" />
					</td></th>
		      	</table>		
			</td>
			</tr>
			
			<?php }?>
	</table>
	</td>
</tr>
<?php }else{?>
<tr>
<td colspan="2" align="right"><p>
<input type="button" value="Save Mark" onclick="savemark(this.form,'Are you sure you want to save this marks?');">
</td></tr>
<?php }?>
</table>
</td></tr>

</table>
<?php
$ref=$_SERVER['HTTP_REFERER'];
$ex_ref=explode("?",$ref);
$referer=$ex_ref[0];
?>

<input type="hidden" name="gb_userID" value="<?php echo $ras->fields["userID"]?>">
<input type="hidden" name="gb_gbookID" value="<?php echo $asg->fields["gbookid"]?>">
<input type="hidden" name="as_typeid" value="<?php echo $asg->fields["idtype"]?>">
<input type="hidden" name="fullmark" value="<?php echo $gbook->fields["point"]?>">
<input type="hidden" name="said" value="<?php echo $_GET["said"]?>">
<input type="hidden" name="cid" value="<?php echo $_GET["cid"]?>">
<input type="hidden" name="aid" value="<?php echo $asg->fields["id"]?>">
<input type="hidden" name="courserole" value="<?php echo $courserole?>">
<input type="hidden" name="username" value="<?php echo $_GET["uid"]?>">
<!--<input type="hidden" name="referer" value="<?php echo $referer?>">-->
<!--<input type="hidden" name="sem" value="<?php echo $_GET["sem"]?>">-->
</form>

</body>

<script>
function savemark(form,msg){
	calcmark();
	var cmark= "";
	cmark =document.f1.aas_mark.value;
	point =document.f1.gb_point.value;
	txtmesg2 =document.f1.txtmesg.value;
//	txtmesg=txtmesg2.trim();
	var totalpercent = parseInt(document.f1.totalpercent.value);
	
	var percentage=Math.round(point*100)/100  
	
	if(cmark.length ==0 || cmark.length ==null){
		alert("Please enter mark");
		return false;
	}
	
		function ltrim(stringToTrim) {
			return stringToTrim.replace(/^\s+|\s+$/g,"");
		}
	
	txtmesg2=ltrim(txtmesg2);
	if(txtmesg2==""){
		alert("Kindly input your comment");
		return false;
	}
//	if ( ( form.deduct[0].checked == false ) && ( form.deduct[1].checked == false ) ) { 
//		alert ( "Please click whether to deduct or no." ); 
//		return false; 
//	}
	else{
		msg= msg+"\n \nTOTAL MARK=  "+cmark+"/"+totalpercent+"\n\nTOTAL PERCENTAGE= "+percentage+"%";
		if (confirm(msg)){
			document.f1.submit();
		}
		else return;
	}

	
}

function openwindow(cid,username,aid,said){
	destination = "receipt.php?cid="+cid+"&username="+username+"&aid="+aid+"&said="+said
	height =450;
	width=800;
	newwindow=window.open(destination, "myWindow","status = 1, height ="+height+", width = "+width+", resizable = 0,scrollbars=No");
	if (window.focus) {newwindow.focus()}
	return false;
}

function sumitup(form,msg){
	
	var ccount = parseInt(document.f1.count.value);
	var num = parseInt(document.f1.num.value);
	var highestnum = parseInt(document.f1.highval.value);
	var row = parseInt(document.f1.row.value);
	var totrubric = parseFloat(document.f1.totrubric.value);
	var total = 0;
	var totalmark =0;
	var markrubric =0;
	var totalrubric =0;
	total = ccount + 1;
	//total = ccount;
	var scripts = new Array();
	var scripts2 = new Array();
	
		for(h=1;h<total;h++)
		{
			var kk="aas_mark"+h;
			var k=document.forms.f1[kk];
			scripts.push(k);
		}
	
	var xax = scripts;
	var xax2 = scripts2;
	
	var sum, grp, x, y, jum;
	var acc = Array(ccount);
	
	//totalpercent for all assignment for mei2010 is 30, subject to be changed in future
//	var totalpercent = 30;
	var totalpercent = parseInt(document.f1.totalpercent.value);
	
	sum = 0;
	jum = 0;
	totalval = ccount*num;
	bilchecked=0;
	
		 //start baca column
	for(x = 0; x <= num; x++){
		acc[x] = 0;	
		
//		if(xax.length!=1){
				//start baca row
				for(y = 0; y < xax.length; y++){
					grp = xax[y];
					var u=1+y;
					
						if(grp[x].checked){						
							var xweightage = 'as_weightage'+u; 
							var yweightage = document.getElementById(xweightage).value;
							val = grp[x].value;
							
//							trubric=highestnum*yweightage;
//							totalrubric=totalrubric+trubric;
							
							sum2=parseInt(val)*yweightage;
							jum=jum+sum2;
							
							markrubric=jum/totrubric;
							markover=markrubric*totalpercent;
							markover2=markover/totalpercent;
							tmark=markover2*100;
							var result=Math.round(tmark*100)/100;
							acc[x] = acc[x] + 1;
							bilchecked = bilchecked+1;										
						}
				}
//		}else{
//				//start baca row
//				//for(y = 0; y < xax.length; y++){	
////				for(y = 0; y <row; y++){
//				y=0;
//					grp = xax[y];
//					var u=1+y;
////										alert(grp.checked);					
////						if(grp[x].checked!=""){
//						if(grp[x].checked){
//							var xweightage = 'as_weightage'+u; 
//							var yweightage = document.getElementById(xweightage).value;
//							val = grp[x].value;
////										alert("x="+x+" num="+num+" y="+xax.length);
////							alert("yweightage="+yweightage+" val="+val);
//							trubric=highestnum*yweightage;
//							totalrubric=totalrubric+trubric;
//							
//							sum2=parseInt(val)*yweightage;
//							jum=jum+sum2;
////							alert(jum);
//							markrubric=jum/totalrubric;
//							markover=markrubric*totalpercent;
//							markover2=markover/totalpercent;
//							tmark=markover2*100;
////							alert(tmark);
//							var result=Math.round(tmark*100)/100;
//							
//							acc[x] = acc[x] + 1;
//							bilchecked = bilchecked+1;
////							alert("result"+result+" jum="+jum+" bilchk="+bilchecked);
//						}
//				//}
//				
//		}	
//		alert("totrubric="+totrubric+" totalpercent="+totalpercent);
								
		document.f1.gb_point.value=result;
		document.f1.gb_mark.value=jum;			
		document.f1.bilchecked.value=bilchecked;
//		alert("result"+result+" jum="+jum+" bilchk="+bilchecked);
	}
	
	//document.f1.gb_point.value=result;
	

};

function savemark2(form,msg){
	
//	if(parseInt(document.f1.gb_point.value) > 100){
//		alert("<?//=_ERROR_POINT_VALUE?>");
//		document.f1.gb_point.focus();		
//	}
	
//	if ( ( form.deduct[0].checked == false ) && ( form.deduct[1].checked == false ) ) { 
//		alert ( "Please click whether to deduct or no." ); 
//		return false; 
//	}
//	else{
		sumitup(form,msg);
		var num = parseInt(document.f1.num.value);
		var row = parseInt(document.f1.row.value);
		var bilchecked = parseInt(document.f1.bilchecked.value);
		var totalpercent = parseInt(document.f1.totalpercent.value);
		var totrubric = parseFloat(document.f1.totrubric.value);
		txtmesg2 = document.f1.txtmesg.value;
//		txtmesg=txtmesg2.trim();
		//alert("row="+row+"check="+bilchecked);
		point=document.f1.gb_point.value;
		mark=document.f1.gb_mark.value;
		msg= msg+"\n \nTOTAL MARK= "+mark+"/"+totrubric+"\n\nTOTAL PERCENTAGE= "+point+"%";
		if(row!=bilchecked){
			alert("Incomplete mark! \n\nPlease check mark for all category.");
			return;
//		}if(txtmesg==""){
//			alert("Kindly input your comment");
//			return false;
		}
		
			function ltrim(stringToTrim) {
				return stringToTrim.replace(/^\s+|\s+$/g,"");
			}
	
		txtmesg2=ltrim(txtmesg2);
		if (txtmesg2 == ""){
//			alert(txtmesg2);
           	alert("Kindly input your comment");
   			return (false);
		}else{
			if (confirm(msg)){
				document.f1.submit();
			}
			else return;
		}

}

function trim(str) {
    return str.replace( /^\s+|\s+$/g, '' );
}

//function isNumberKey(evt)
// {
//         var charCode = (evt.which) ? evt.which : event.keyCode
//         if (charCode > 31 && (charCode < 48 || charCode > 57))
//            return false;
//
//         return true;
// }

function calcmark(){
	var mark = 'aas_mark';
//	var totalpercent = 30;
	var totalpercent = parseInt(document.f1.totalpercent.value);
	
	var cmark = document.getElementById(mark).value;
	
	if (cmark > totalpercent){
		alert("Invalid mark.");
		document.getElementById(mark).value = 0;
		document.f1.gb_point.value=0;
		
	}else{
		var ans=(cmark/totalpercent)*100;
		var tmark=ans/100;
		document.f1.gb_point.value=ans;
	}
}

function openwindowChek(cosid,aid,f1,f2){
	destination = "http://simcheck.oum.edu.my/assignment/checker/preview.php?cid="+cosid+"&aid="+aid+"&file1="+f1+"&file2="+f2;
	height =800;
	width=800;
	newwindow=window.open(destination, "myWindow","status = 1, height ="+height+", width = "+width+", resizable = 0,scrollbars=Yes");
	if (window.focus) {newwindow.focus()}
	return false;
}

function isNumberKey(evt)
 {
         var charCode = (evt.which) ? evt.which : event.keyCode
         //allows only numeric and point
         if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode!=46))
            return false;
            

         return true;
 }
 
 function wrongsub(form,msg){
//	if(form.wrong[0].checked == true){
//		wrong=form.wrong[0].value;
	if(document.f1.wrong.checked==true){
		wrong=document.f1.wrong.value;
//		alert (wrong);
		msg= msg+"\n \nSend email to student to resubmit right assignment";
		if (confirm(msg)){
			document.f1.submit();
		}
		else return;
		
	}else{
		return false; 
	}	
}

function checkwrongsub(){

	if (document.f1.wrong.checked){
		document.f1.wrong.checked = true;
		hidediv('sub','showwrong','info','all','btnwrong');
		return;
	}
	else {
		document.f1.wrong.checked = false;
		showdiv('sub','showwrong','info','all','btnwrong');
		return;
	}
	
}
</script>
</html>
