<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>




<div align="center" style="background:#ebebeb; height:30px;">
<ul class="steps">
	<li class="prevDone">
		<span>1</span> Company Identity Number
	</li>
    <li class="current">
		<span>2</span> Company Particular
	</li> 
	<li class="empty">
		<span>3</span> Confirmation of Registration
	</li>
</ul>
<br class="clear" />
</div>
<BR>

<p>* <?php echo $this->translate("Please enter company details below."); ?></p>

<div>

<form name="onlineForm" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'company-application','action'=>'company-particular'),'default',true) ?>" >

<table class="table6" width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr bgcolor="#cccccc">
		<td colspan="3"> Company Particular</td>
	</tr>	
	 <tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Client Type"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top">
		<input type="radio" name="idClienttype" id="idClienttype" value="2"> Takaful Operator<br>
        <input type="radio" name="idClienttype" id="idClienttype" value="3"> Company / Insurance Agency</td>
	</tr>
	 <tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Company Name"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="name" id="name" size="60" value="<?php echo $this->company['name'];?>"/></td>
	</tr>
	  
	
	<tr bgcolor="#ffffff">
		<td width="20%" valign="top" class="shade"><?php echo $this->translate("Registration No"); ?> *</td>
		<td width="2%" valign="top">:</td>
		<td width="80%" valign="top">
		<input type="text" name="" id="" size="60"  value="<?php echo $this->registrationNo;?>" disabled>
		<input type="hidden" name="registrationNo" id="registrationNo" size="60"  value="<?php echo $this->registrationNo;?>" >
		</td>
	</tr>
	
	<tr bgcolor="#ffffff">
	 <tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Email Address");?> *<br> <?php echo $this->translate("(Please indicate valid email address because notification will be sent through email)"); ?> </td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="email" id="email" size="60" value="<?php echo $this->company['email'];?>"></td>
	</tr> 
	<tr bgcolor="#ffffff">
	 <tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Alternate Email Address");?> *<br> <?php echo $this->translate("(Please indicate valid email address because notification will be sent through email)"); ?> </td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="altEmail" id="altEmail" size="60" value="<?php echo $this->company['altEmail'];?>"></td>
	</tr> 
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Mailing Address"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="address" id="address" size="60" value="<?php echo $this->company['address'];?>"></td>
	</tr> 
	
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Postal Code"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="postcode" id="postcode" size="60" value="<?php echo $this->company['postcode'];?>"></td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("City"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="city" id="city" size="60" value="<?php echo $this->company['city'];?>"></td>
	</tr>
	
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("State"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top">
		<select name="state" id="state">
			<option value="0"> -- Please select -- </option>
			<?php 
				foreach ($this->state as $data) {
					
					if ($data['id'] == $this->company['state']) {
						$selected = "selected";
					}else{
						$selected ="";
					}
			
					echo "<option value='".$data['id']."' $selected>".$data['name']."</option>";
				}
			?>
		</select>
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Country"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="country_name" id="country_name" size="60" value="MALAYSIA" disabled>
		<input type="hidden" name="country" id="country" size="60" value="129">
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Contact Person"); ?> </td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="contactperson" id="contactperson" size="60" value="<?php echo $this->company['contactperson'];?>"></td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Contact No 1"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="contactno" id="contactno" size="60" value="<?php echo $this->company['contactno'];?>"></td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Contact No 2"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="text" name="contactoffice" id="contactoffice" size="60" value="<?php echo $this->company['contactoffice'];?>"></td>
	</tr>

	
	<!--<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Takaful Operator"); ?> </td>
		<td valign="top">:</td>
		<td valign="top">
		<select name="idbusinesstype" id="idbusinesstype">
			<option value="0"> -- Please select -- </option>
			<?php 
				foreach ($this->takaful as $data) {
					
					if ($data['id'] == $this->company['idbusinesstype']) {
						$selected = "selected";
					}else{
						$selected ="";
					}
			
					echo "<option value='".$data['id']."' $selected>".$data['name']."</option>";
				}
			?>
		</select></td>
	</tr>-->
	<tr bgcolor="#cccccc">
		<td colspan="3">Company Access</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Username"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top">
		<?php if($this->company['loginid'] !=""){
			$usernameDisabled = "disabled";
		}else{
			$usernameDisabled = "";
		}?>
		<input type="text" name="loginid" id="loginid" size="60" value="<?php echo $this->company['loginid'];?>" <?php echo $usernameDisabled;?> onblur="checkUsername(this.value)">
		
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td valign="top" class="shade"><?php echo $this->translate("Password"); ?> *</td>
		<td valign="top">:</td>
		<td valign="top"><input type="password" name="clearpass" id="clearpass" size="60" value="<?php echo $this->company['clearpass'];?>" >
		</td>
	</tr>
	</table>
	<br>
	<table width="100%" align="center">
	<tr bgcolor="#ffffff" align="center">
		<td valign="top" colspan="3" > 
		<input type="button" name="Submit" value="Next" onclick="return form_Validator();"> 
		<input type="button" name="Reset" value="Reset"> 
		<input type="button" name="Back" value="Back" onclick="back();">
		</td>
		
	</tr>
	
</table>

</form>


</div>

<script type="text/javascript">

function hide() //Hide function: hide the div
{
getResult = document.getElementById("txt").style.
display = "none"; // hide the div
}

function show()
{
getResult = document.getElementById("txt").style.
display = "block"; //make the div visible
}


function form_Validator()
{
	
	var name = document.forms["onlineForm"]["name"].value;
	var ic = document.forms["onlineForm"]["registrationNo"].value;
	var email = document.forms["onlineForm"]["email"].value;
	var address = document.forms["onlineForm"]["address"].value;
	var postcode = document.forms["onlineForm"]["postcode"].value;
	var state = document.forms["onlineForm"]["state"];
	
	
	
	if (name==null || name=="")
	{
		alert("Please enter company name");
		document.forms["onlineForm"]["name"].focus();
		document.forms["onlineForm"]["name"].style.border = "1px solid red";
		return false;
	}
	
	if (email==null || email=="")
	{
		alert('Please enter company Email Address!');
		document.forms["onlineForm"]["email"].focus();
		document.forms["onlineForm"]["email"].style.border = "1px solid red";
		return (false);
	}else{
		var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		if (!filter.test(email)) {
			alert('Please enter valid e-mail address!');
			document.forms["onlineForm"]["email"].focus();
			document.forms["onlineForm"]["email"].style.border = "1px solid red";
			return (false);
		} 
	}

	if (address==null || address=="")
	{
		alert("Please enter company Address");
		document.forms["onlineForm"]["address"].focus();
		document.forms["onlineForm"]["address"].style.border = "1px solid red";
		return false;
	}

	if (postcode==null || postcode=="")
	{
		alert("Please enter postcode");
		document.forms["onlineForm"]["postcode"].focus();
		document.forms["onlineForm"]["postcode"].style.border = "1px solid red";
		return false;
	}

	if (state.selectedIndex == 0 || state.selectedIndex=="" || state.selectedIndex==null)
	{
		alert("Please select State");
		state.style.border = "1px solid red";
		return false;
	}

	
	document.forms["onlineForm"].submit();
}



function checkUsername (id){
	
	$.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'company-application','action'=>'ajax-check-username'),'default',true);?>", 
		data: "id=" + id,
		context: document.body, 
		success: function(data){
			response = eval(data);

		if(response != ""){
			alert(response);
			document.getElementById('username').focus();
			document.getElementById('username').style.border = "1px solid red";
			document.getElementById('username').value = "";
		}
			
			
	}
	
	});

}

function back(){
	window.location="<?php echo $this->url(array('module'=>'application','controller'=>'company-application','action'=>'index'),'default',true);?>";
}

</script>



