<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		 	<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'landscape-list','id'=>$this->programId),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>

<div style="width:100%;">

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>    	    
        	<th><?php echo $this->translate("Course Name");?></th>
        	<th><?php echo $this->translate("Course Code");?></th>
        	<th><?php echo $this->translate("Credit Hours");?></th>	 
    	</tr>
        <?php 
        if (count($this->paginator)){
       		foreach ($this->paginator as $course){
       	?>
       
  		<tr>
        	<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape','action'=>'add-prerequisite','idlandscape'=>$this->landscapeId,'id'=>$this->programId,'idSubject'=>$course["IdSubject"]),'default',true);?>"><?php echo $course["BahasaIndonesia"]?></a></td>
			<td><?php echo $course["SubCode"]?></td>
       		<td><?php echo $course["CreditHours"]?></td>
       	</tr>	
		<?php } }?>
</table>

</div>