<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'documents','action'=>'index'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<table width="100%" class="table vcenter">
	<tr>
		<td width="20%"><?php echo $this->translate('Name')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->title ?></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Research Type')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->research_type ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->form->description ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Files')?></td>
		<td>
			<div class="files-wrap">
				<input type="file" name="upload[]" class="file" />
			</div>
			<p><a href="#" onclick="return addFile()">+ <?php echo $this->translate('Add More')?></a></p>
			<p><small class='desc'><?php echo $this->translate('Allowed types')?>: zip, jpg, jpeg, png, gif, doc, pdf, docx</small></p>
		</td>
	</tr>
</table>

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'documents','action'=>'set'), 'default', true);?>'" />
</div>

</form>
<script type="text/javascript">
	function addFile()
	{
		$('<div style="display: none;"><input type="file" name="upload[]" class="file" /></div>').appendTo($('.files-wrap')).slideDown("fast");

		return false;
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		$(window).unbind('beforeunload');

		return true;
	}
</script>