<fieldset><legend><?php echo $this->translate("Update Specialization");?></legend>
<Form dojoType="dijit.form.Form" id="myForm1" action="" method="post"
	name="myForm"><script type="dojo/method" event="onSubmit">
                if (this.validate()) {
if(validateSemesterMainDates()) {
									return true;}
									else {return false; }
                } else {
									return false;
                }
				</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Specialization Details");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Specialization");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjspecializationform->Specialization;?></td>
		<td><?php echo $this->translate("Description");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjspecializationform->Description;?><?php echo $this->lobjspecializationform->UpdDate ;?>
		<?php echo $this->lobjspecializationform->UpdUser ;?><?php echo $this->lobjspecializationform->IdSpecialization ;?></td>
	</tr>
</table>
<table class="table" width="100%">
	<tr>
		<td align="right"><?php echo $this->lobjspecializationform->Save;?> <input
			type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'specialization', 'action'=>'index'),'default',true);?>';" />
		</td>
	</tr>
</table>
</Form>
</fieldset>
