<body class="claro">
<fieldset><legend><?php echo $this->translate("Specialization");?></legend>
</fieldset>
<fieldset>
<form
	action="<?php echo $this->baseUrl();?>/application/specialization/index/search/1"
	method="POST">
<table width="100%">
	<tr>
		<td><?php echo $this->translate("Specialization");?></td>
		<td><?php echo $this->lobjform->field3;?></td>
		<td><?php echo $this->translate("Description");?></td>
		<td><?php echo $this->lobjform->field2;?></td>
	</tr>

	<tr>
		<td colspan="4" align="center"><?php echo $this->lobjform->Search;?> <input
			type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Add"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'specialization', 'action'=>'newspecialization'),'default',true);?>';" />
			<?php echo $this->lobjform->Clear;?></td>
	</tr>
</table>
</form>
</fieldset>
<br />
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Specialization");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<!--<th><?php echo $this->translate("Delete");?></th>
	--></tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjSpecialization): ?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		<td><a
			href="<?php echo $this->baseUrl();?>/application/specialization/editspecialization/id/<?php echo $this->escape($lobjSpecialization['IdSpecialization']);?>"><?php print_r($this->escape($lobjSpecialization['Specialization']));?></a></td>
		<td><?php print_r($this->escape($lobjSpecialization['Description']));?></td>
<!--		<td><a-->
<!--			href="<?php echo $this->baseUrl();?>/application/specialization/deletespecialization/id/<?php echo $this->escape($lobjSpecialization['IdSpecialization']);?>"-->
<!--			" onClick="return confirm('Do you want to delete specialization?');">-->
<!--		<img src='<?php echo $this->baseUrl();?>/images/delete.png' border=0-->
<!--			width='16' height='16'> </a></td>-->

			<?php endforeach; ?>
			<?php endif; ?>
	</tr>
	<tr>
		<td colspan="8" align="right">
		<div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>

</table>
</fieldset>
</body>
