<script>

function check(element,val){

	 element2 = '#idSubject'+val;
	 element3 = '#idProgram'+val;
	 element4 = '#idSemester'+val;

	 var isChecked = $(element).is(':checked');

	 if(isChecked==true){
		 $(element2).prop('disabled', false);
		 $(element3).prop('disabled', false);
		 $(element4).prop('disabled', false);
		
	 }else{
		 $(element2).prop('disabled', true);
		 $(element3).prop('disabled', true);
		 $(element4).prop('disabled', true);
	 }
}


$(function () {

	$('.approve-btn').click(function(){

		var isChecked = $('.chk').is(':checked');

		 if(isChecked==true){

				 //$( "#dialog-approval" ).dialog('open');	 
				var msg = confirm('Are you sure?');
				if(msg){
			 		$("#formApproval").submit();  
				}
			 	
		 }else{
			alert("<?php echo $this->translate('You did not select any section. Please select.');?>");
		 }
	});


		
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').prop('checked', true);
			 $('.chk2').prop('disabled', false);
			 $('.chk3').prop('disabled', false);
			 $('.chk4').prop('disabled', false);
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
			 $('.chk2').prop('disabled', true);
			 $('.chk3').prop('disabled', true);
			 $('.chk4').prop('disabled', true);
		 }
	 });


	 $('.linkDialog').click(function(e){
		 var url = $(this).attr('href');
		 $( "#dialog-box" ).load(url);
		 $( "#dialog-box" ).dialog('open');	
		 return false;		
	 });
	
	 $( "#dialog-box" ).dialog({
	        autoOpen: false,
	        width: 650,
	        modal: true	     
	 });

	 $( "#dialog-approval" ).dialog({
	        autoOpen: false,
	        width: 650,
	        modal: true,
	        buttons: {
	            "Confirm": function() {
	            	
            		var status_val = $("#status_approval option:selected").val();
                 	if(status_val==0){
                		alert('Please select status');
                 	}else{
                 		$("#status").val(status_val);
                 		$("#remarks").val( $('#remark').val() );	 
                 		$("#formApproval").submit();                 		
                 	}						
	            	    	
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });
	 
});
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>




<?php if(count($this->groups)>0){?>

<form name='formApproval'  id='formApproval' method='post' action="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-approval','action'=>'approve'),'default',true);?>">
<input type='hidden' name='status' id='status' value='1'> 
<input type='hidden' name='remarks' id='remarks' value='Approved'> 
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Section Name")?></th>
		<th><?php echo $this->translate("Programme Name")?></th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("Lecturer")?></th>
		<th><input type="checkbox" name="checkall" id="checkall" >&nbsp;<?php echo $this->translate("Check All")?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->groups as $group){
		
	?>
	<input class='chk2' type="hidden" name="idSubject[<?php echo $group["IdCourseTaggingGroup"];?>]" id="idSubject<?php echo $group["IdCourseTaggingGroup"];?>" value="<?php echo $group["IdSubject"];?>" disabled>	
	<input class='chk3' type="hidden" name="idProgram[<?php echo $group["IdCourseTaggingGroup"];?>]" id="idProgram<?php echo $group["IdCourseTaggingGroup"];?>" value="<?php echo $group["IdProgram"];?>" disabled>	
	<input class='chk4' type="hidden" name="idSemester[<?php echo $group["IdCourseTaggingGroup"];?>]" id="idSemester<?php echo $group["IdCourseTaggingGroup"];?>" value="<?php echo $group["IdSemester"];?>" disabled>	
	
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-approval','action'=>'view','idSubject'=>$group["IdSubject"],'idProgram'=>$group["IdProgram"],'idSemester'=>$group["IdSemester"],'idGroup'=>$group["IdCourseTaggingGroup"]),'default',true);?>" class='linkDialog'><?php echo $group["GroupName"];?></a></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $group['ArabicName']:$group['ProgramName'];;?></td>
		<td align='center'><?php echo $group["SubCode"];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $group['subjectMainDefaultLanguage']:$group['SubjectName'];;?></td>
		<td align='center'><?php echo $group['FullName'];?></td>
		<td align='center'>
		
		<input class='chk' type="checkbox" name="IdCourseTaggingGroup[]" id="IdCourseTaggingGroup[]" value="<?php echo $group["IdCourseTaggingGroup"];?>" onclick='check(this,<?php echo $group["IdCourseTaggingGroup"];?>)'></td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
	<?php if(count($this->groups)>0){?>
	<div class='form-opt'>
		<input type='button' name='btn-submit' id='btn-submit' value='Confirm' class='approve-btn'></input>
	</div>
	<?php } ?>
</form>
<?php }//end if?>
</div>
<br>

<div id="dialog-approval" title="<?php echo $this->translate("Mark Distribution Confirmation"); ?>"> 
<table>
	<tr>
	<td>Status</td>
	<td><select name='status_approval' id='status_approval'>
	<option value='1'><?php echo $this->translate("Approve"); ?></option>
	<option value='2'><?php echo $this->translate("Reject"); ?></option>
</select></td>
	</tr>
	<tr>
	<td>Remarks</td>
	<td><textarea name='remark' id='remark'></textarea></td>
	</tr>
</table>
</div>

<div id="dialog-box" title="<?php echo $this->translate("Mark Distribution Details"); ?>"> 
</div>