
<script type="text/javascript">
	function search_subject(){
				
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(faculty_id!==0){
			$.ajax({
				url: "/examination/mark-distribution-ce/search-ce-course",
			    type: "post",
			    async : false,
			    data: {'idCollege':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	

	$(function () {

		 var str = "";
		 $('#checkall').click(function () {	

			 var isChecked = $('#checkall').is(':checked');

			 if(isChecked==true){			 
				 $('.chk').prop('checked', true);				
			 }else{
				 // Un-check
				 $('.chk').prop('checked', false);
				
			 }
		 });



		 $('.linkDialog').click(function(e){
			 var url = $(this).attr('href');
			 $( "#dialog-box" ).load(url);
			 $( "#dialog-box" ).dialog('open');	
			 return false;		
		 });
		
		 $( "#dialog-box" ).dialog({
		        autoOpen: false,
		        width: 650,
		        modal: true	     
		 });

		$('.approve-btn').click(function(){

			var isChecked = $('.chk').is(':checked');

			 if(isChecked==true){

					 $( "#dialog-approval" ).dialog('open');	 
				 	
			 }else{
				alert("<?php echo $this->translate('You did not select any section. Please select.');?>");
			 }
		});


		$( "#dialog-approval" ).dialog({
	        autoOpen: false,
	        width: 650,
	        modal: true,
	        buttons: {
	            "Confirm": function() {
	            	
            		var status_val = $("#status_approval option:selected").val();
                 	if(status_val==0){
                		alert('Please select status');
                 	}else{
                 		$("#status").val(status_val);
                 		$("#remarks").val( $('#remark').val() );	                 		
                 		$("#formApproval").submit();                 		
                 	}						
	            	    	
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

	});

	
	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>

<br>


<?php if(sizeof($this->subjects)>0){?>
<form name='formApproval'  id='formApproval' method='post' action="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-approval','action'=>'approve-ce'),'default',true);?>">
<input type='hidden' name='status' id='status'> 
<input type='hidden' name='remarks' id='remarks'> 
<input type='hidden' name='idSemester' id='idSemester' value='<?php echo $this->idSemester; ?>'> 
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>	
		<th><input type="checkbox" name="checkall" id="checkall" >&nbsp;<?php echo $this->translate("Check All ?")?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->subjects as $subject){		
	?>		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-approval','action'=>'view-ce','idSubject'=>$subject["IdSubject"],'idSemester'=>$this->idSemester),'default',true);?>" class='linkDialog'><?php echo $subject['SubCode']; ?></a></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["subjectMainDefaultLanguage"]:$subject["SubjectName"];?></td>		
		<td  align='center'><input class='chk' type="checkbox" name="IdSubject[]" id="IdSubject[]" value="<?php echo $subject["IdSubject"];?>" onclick='check(this,<?php echo $subject["IdSubject"];?>)'></td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php if(count($this->subjects)>0){?>
<div class='form-opt'>
		<input type='button' name='btn-submit' id='btn-submit' value='Approve'  class='approve-btn' ></input>
</div>
<?php } ?>
</form>
<?php } ?>
</div>
<br>
<div id="dialog-approval" title="<?php echo $this->translate("Mark Distribution Approval"); ?>"> 
<table>
	<tr>
	<td>Status</td>
	<td><select name='status_approval' id='status_approval'>
	<option value='1'><?php echo $this->translate("Approve"); ?></option>
	<option value='2'><?php echo $this->translate("Reject"); ?></option>
</select></td>
	</tr>
	<tr>
	<td>Remarks</td>
	<td><textarea name='remark' id='remark'></textarea></td>
	</tr>
</table>

</div>

<div id="dialog-box" title="<?php echo $this->translate("Mark Distribution Details"); ?>"> 
</div>