<script>
function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution','action'=>'index'), 'default', true);?>";
}


</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			<li>							
					<a href="#" onClick="back()">
						<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br />
<form name='form1' method='post'>
<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Subject Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Scheme"); ?></th>   
		    <td>
		    	<select name='IdProgramScheme' id='IdProgramScheme' class="input-txt" onchange='form1.submit()'>		    	
		    		<option value=''><?php echo $this->translate("-- All --"); ?></option>
		    		<?php 
					foreach($this->scheme as $index=>$scheme){
						
						$scheme_name = $scheme['ProgramMode'].' - '.$scheme['StudyMode'];
						
						if(isset($scheme['ProgramType']) && $scheme['ProgramType']!=' '){
							$scheme_name .= ' - '.$scheme['ProgramType'];
						}
						
						if($this->idProgramScheme== $scheme['IdProgramScheme']){
							$sel = 'selected';
						}else{
							$sel = '';
						}
					?>
		    		<option value='<?php echo $scheme['IdProgramScheme']?>' <?php echo $sel;?>><?php echo $scheme_name; ?> </option>
		    		<?php } ?>
		    	</select>
		    </td>   
	</tr>
</table>
</form>
<br />

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate('No');?></th>
		<th><?php echo $this->translate('Lecturer Name');?></th>
		<th><?php echo $this->translate('Programme Scheme');?></th>		
		<th><?php echo $this->translate('Status');?></th>
	</tr>
	<?php if(count($this->rs_component)>0){
			foreach($this->rs_component as $index=>$comp){
		?>
	<tr>
		<td align='center'><?php echo $index+1;?></td>
		<td align='center'><a href='<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-approval','action'=>'view','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idScheme'=>$comp['IdProgramScheme']), 'default', true);?>'><?php echo $comp['FullName']; ?></a></td>
		<td align='center'>
		<?php 
			 if($this->locale=='ms_MY'){
                 		echo $this->translate('Program Mode').': '.$comp['ProgramModeMy'].'<br>';
                 		echo $this->translate('Study Mode').': '.$comp['StudyModeMy'].'<br>';
                 		if($comp['program_type']!=627){
                 			echo $this->translate('Program Type').': '.$comp['ProgramTypeMy'].'<br>';
                 		}
                	 }else{
                	 	echo $this->translate('Program Mode').': '.$comp['ProgramMode'].'<br>';
                 		echo $this->translate('Study Mode').': '.$comp['StudyMode'].'<br>';
                 		if($comp['program_type']!=627){
                 			echo $this->translate('Program Type').': '.$comp['ProgramType'].'<br>';
                 		}
                	 }
		?>
		</td>
		<td align='center'>
			<select name='Status[]' id='Status[]'>
				<option value='193' <?php if($comp['Status']==193) echo 'selected';?>><?php echo $this->translate('Entry')?></option>
				<option value='243' <?php if($comp['Status']==243) echo 'selected';?>><?php echo $this->translate('Approved')?></option>
			</select>
		</td>
	</tr>
	<?php } } ?>
</table>
<div class='form-opt'>
		<input type='submit' class='btn-submit' value='<?php echo $this->translate('Save')?>'></input>
</div>

