

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	
	<tr>
		    <th width="30%"><?php echo $this->translate("Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<!--<tr>
		    <th width="30%"><?php echo $this->translate("Programme"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	-->
	<tr>
		    <th><?php echo $this->translate("Course Code "); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>
	<tr>
		    <th width="30%"><?php echo $this->translate("Section Name "); ?></th>   
		    <td><?php echo $this->group['GroupName'];?></td>   
	</tr>
	</table>

<br />

<table class="table noalt number" width="100%" cellpadding="5" cellspacing="1" >
	<tr>
		<th><?php echo $this->translate('Component Name'); ?></th>
		<th><?php echo $this->translate('Component Item'); ?></th>
		<th><?php echo $this->translate('Raw'); ?></th>
		<th><?php echo $this->translate('Weightage'); ?></th>
		<th><?php echo $this->translate('Moodle Integration'); ?></th>
	</tr>	
	 <?php 
		  if($this->rs_component){			  
		  foreach ($this->rs_component as $component){
		  	$rowspan = !empty($component['component_item']) ? count($component['component_item'])+1 : 0;
		  ?>
			<tr>
				<td align='center' class='border2' <?php echo $rowspan > 0 ? 'rowspan="'.$rowspan.'"':''?>><?php echo $component['component_name'];?></td>
				<td align='center'>&nbsp;</td>
				<td align='center'><?php //echo $component["Marks"];?></td>
				<td align='center'><?php //echo $component["Percentage"];?></td>
				
			</tr>
			<?php 
				if($component['component_item']){
					$i=0;
					$last = count($component['component_item']);
									
					foreach ($component['component_item'] as $item){
						$i++;
					?>
					<tr <?php echo $i == $last ? 'class="border2"':''?>>
						<?php if ( $rowspan == 0 ) { ?><td align='center'></td><?php } ?>
						<td align='center'><?php echo $item["ComponentName"]?></td>
						<td align='center' class='num'><?php echo $item["Weightage"]?></td>
						<td align='center' class='num'><?php echo $item["Percentage"];?></td>
						<td align='center'>
						<?php echo ($item['moodle']==1) ? 'Yes':'No'; ?>
						<?php 
						if ($item['moodle_type']==1){
							echo ' ( Quiz )';										
						}elseif ($item['moodle_type']==2){
							echo ' ( Assignment )';	
						}
						?>
						</td>
					</tr>
			
	<?php 		} //end if
			 }//end for
	?>
			<tr class="special">
				<td align='center'><strong><?php echo $this->translate('Total'); ?> <?php echo $component['component_name'];?></strong></td>
				<td align='center'></td>
				<td align='center' class='num'><strong><?php echo $component["Marks"];?></strong></td>
				<td align='center' class='num'><strong><?php echo $component["Percentage"];?></strong></td>
				<td align='center'>&nbsp;</td>
			</tr>
	
	<?php 
		  }//end for
		}else { //end if
	?>
	<tr bgcolor="#FFFFFF">
	    <td colspan="5">No assessment component has been setup</td>   
    </tr>
	<?php }  ?>
</table>

