<?php
	$partials[2] = 'personal';
	$partials[3] = 'education';
	$partials[4] = 'english-proficiency';
	$partials[7] = 'employment';
	$partials[8] = 'industry-working-experience';
	$partials[9] = 'health-condition';
	$partials[11] = 'visa';
	$partials[10] = 'financial-particulars';
	$partials[12] = 'accomodation';


$html = '';
$html = '
        <style>
        @page { margin: 180px 50px; }
        #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 75px; background-color: white; text-align: center; }
        #footer { position: fixed; left: 0px; bottom: -150px; right: 0px; height: 75px; background-color: white; text-align: center; }
        #footer .page:after { content: counter(page, upper-roman); }
        
        .table {
                margin:0px;padding:0px;
                width:100%;
                border:1px solid #000000;

                -moz-border-radius-bottomleft:0px;
                -webkit-border-bottom-left-radius:0px;
                border-bottom-left-radius:0px;

                -moz-border-radius-bottomright:0px;
                -webkit-border-bottom-right-radius:0px;
                border-bottom-right-radius:0px;

                -moz-border-radius-topright:0px;
                -webkit-border-top-right-radius:0px;
                border-top-right-radius:0px;

                -moz-border-radius-topleft:0px;
                -webkit-border-top-left-radius:0px;
                border-top-left-radius:0px;
        }.table table{
            border-collapse: collapse;
                border-spacing: 0;
                width:100%;
                height:100%;
                margin:0px;padding:0px;
        }.table tr:last-child td:last-child {
                -moz-border-radius-bottomright:0px;
                -webkit-border-bottom-right-radius:0px;
                border-bottom-right-radius:0px;
        }
        .table tr:last-child td:first-child{
                -moz-border-radius-bottomleft:0px;
                -webkit-border-bottom-left-radius:0px;
                border-bottom-left-radius:0px;
        }.table tr:hover td{

        }
        .table tr:nth-child(odd){ background-color:#e5e5e5; }
        .table tr:nth-child(even)    { background-color:#ffffff; }.table td{
                vertical-align:middle;


                border:1px solid #000000;
                border-width:0px 1px 1px 0px;
                text-align:left;
                padding:7px;
                font-size:10px;
                font-family:Arial;
                font-weight:normal;
                color:#000000;
        }.table tr:last-child td{
                border-width:0px 1px 0px 0px;
        }.table tr td:last-child{
                border-width:0px 0px 1px 0px;
        }.table tr:last-child td:last-child{
                border-width:0px 0px 0px 0px;
        }
        
        
        .pure-table {
            border: 1px solid #cbcbcb;
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
        }
        .pure-table caption {
            color: #000;
            font: italic 85%/1 arial,sans-serif;
            padding: 1em 0;
            text-align: center;
        }
        .pure-table td, .pure-table th {
            border-left: 1px solid #cbcbcb;
            border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible;
            padding: 0.5em 1em;
        }
        
        .pure-table thead {
            background: none repeat scroll 0 0 #e0e0e0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
        }
        .pure-table td {
            background-color: transparent;
        }
        .pure-table-odd td {
            background-color: #f2f2f2;
        }
        .pure-table-striped tr:nth-child(2n-1) td {
            background-color: #f2f2f2;
        }
        .pure-table-bordered td {
            border-bottom: 1px solid #cbcbcb;
        }
        .pure-table-bordered tbody > tr:last-child td, .pure-table-horizontal tbody > tr:last-child td {
            border-bottom-width: 0;
        }
        .pure-table-horizontal td, .pure-table-horizontal th {
            border-bottom: 1px solid #cbcbcb;
            border-width: 0 0 1px;
        }
        .pure-table-horizontal tbody > tr:last-child td {
            border-bottom-width: 0;
        }

        </style>
        <div id="header">
            <img class="page" border="0" src="'.getPublic().'/images/logo.png" width="144" height="50">
            <h1>Application Summary</h1>
        </div>
        <div id="footer">
            <p class="page" align="center">
                Lorong Universiti A, 59100 Kuala Lumpur, Malaysia. (718736-K)
                <br/>
                t: +603 7651 4000 &nbsp;&nbsp; f : +603 7651 4094 &nbsp;&nbsp; w: www.inceif.org
            </p>
        </div>
    ';
    
    $html .= $this->partial('application-summary/partials/program.phtml', array('data' => $this->related['personal'], 'transID' => $this->transID) ); 
	foreach($this->items as $item) {
		if(trim($item['name']) == 'Declaration') { continue; }
		$html .= '<div style="page-break-after:auto">';
		$html .= '<h2>'. $item['name'] . '</h2> <hr>'; 

		 if($item['status'] == 1) { 
			
		 } 
		$html .= '<p>';

		if(!empty($partials[$item['main_section_id']])) { 
				$html .=  $this->partial('application-summary/partials/' .  $partials[$item['main_section_id']] . '.phtml', array('data' => $this->related[$partials[$item['main_section_id']]], 'transID' => $this->transID) ); 
		} 
		$html .= '</p>';
		$html .= "</div>";
	}
    $html .= '<div style="page-break-after:auto">';
    $html .= '<h2>Declaration</h2><hr><p>'; 
    $html .= $this->partial('application-summary/partials/declaration.phtml', array('data'=>$this->items[9]['sectionTagInstruction']));
    $html .= '</p></div>';

$html .= '';
echo $html;
//generatePdfDocument($html);
//echo $html;
//include(APPLICATION_PATH.'/../library/dompdf/dompdf.php');
/*
require_once APPLICATION_PATH.'/../library/dompdf/dompdf_config.inc.php';

$autoloader = Zend_Loader_Autoloader::getInstance(); // assuming we're in a controller
$autoloader->pushAutoloader('DOMPDF_autoload');

$dompdf = new DOMPDF();
$dompdf->load_html($html);
$dompdf->set_paper('a4', 'potrait');
$dompdf->render();

//$dompdf = $dompdf->output();
$output_filename = "application_summary.pdf";
$dompdf->stream($output_filename);
*/