<?php
//var_dump($this->related); exit;
$partials[2] = 'personal';
$partials[3] = 'education';
$partials[4] = 'english-proficiency';
$partials[5] = 'quantitative';
$partials[6] = 'research';
$partials[7] = 'employment';
$partials[8] = 'industry-working-experience';
$partials[9] = 'health-condition';
$partials[10] = 'financial-particulars';
$partials[11] = 'visa';
$partials[12] = 'accomodation';
$partials[13] = 'initial-registration';
$partials[14] = 'essay';
$partials[16] = 'referee';

$alphabet = array('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','h','y','z');

$declaration_content = $this->declaration['itemTagInstruction'];
//$declaration_content = $this->declaration['tpl_content'];
$personal = $this->related['personal'];
$fullname = $personal['salutation_def'] . ' ' . $personal['appl_fname'] . ' ' . $personal['appl_mname']. ' ' . $personal['appl_lname'];

$icpassport = $personal['appl_idnumber'];
$datesubmit = format_date_to_view($this->transaction['at_submit_date'], 'd F Y');
$declaration_content .= '<table width="60%">';
$declaration_content .= '<tr><td width="20%">Name</td><td>:</td><td>'.$fullname.'</td></tr>';
$declaration_content .= '<tr><td width="20%">ID Number</td><td>:</td><td>'.$icpassport.'</td></tr>';
$declaration_content .= '<tr><td width="20%">Date</td><td>:</td><td>'.$datesubmit.'</td></tr>';
$declaration_content .= '</table><br/>';

$html = '';
/*$html .= '
        <html>
        <title>Application Number: ' . $this->transaction['at_pes_id'] . '</title>
        <style>
        @page { margin: 180px 20px; }
        *{font-family:sans-serif; font-size:small;}
        table { border:1px solid black;border-collapse:collapse; }
        td { border: thin solid black;vertical-align:top; }
        thead { background-color:#e3e3e3;}
        thead th { border: thin solid black;vertical-align:top;  }
        .table tr th { background-color:#e3e3e3;}

        </style>
        <body>
        <div width="100%"" style="text-align:center">
            <img class="page" border="0" src="'.$this->baseUrl().'/images/logo.png" >
        </div>
    ';*/

    $alpha_cur = 0;    
    $html .= $this->partial('application-summary/partials/program.phtml', array('data' => $this->related['personal'], 'transID' => $this->transID, 'at_pes_id' =>  $this->transaction['at_pes_id']) ); 
    
	//$html .= "<hr style='page-break-before:always'>";

    //$html .= $this->guidelines['tpl_content'];
	$html .= '<br />';
    $html .= $this->partial('application-summary/partials/admission_office.phtml');
    
	//$html .="<hr style='page-break-after:always'>";
    
	$i = 0;

	$sections = array();

	foreach($this->items as $item) 
	{
		if(!empty($partials[$item['main_section_id']])) 
		{ 
			
			$sections[$partials[$item['main_section_id']]] = $this->partial('application-summary/partials/' .  $partials[$item['main_section_id']] . '.phtml', array('data' => $this->related[$partials[$item['main_section_id']]], 'transID' => $this->transID) );
        }
    }

	foreach($this->items as $item) 
	{
		$i++;
        if(trim($item['name']) == 'Declaration') { continue; }

		$html .= '<br />';
        $html .= '<b>'. strtoupper($alphabet[$alpha_cur++]). '. ' . $item['name'] . '</b> <br />'; 

         if($item['status'] == 1) { 
            
         } 

        if(!empty($partials[$item['main_section_id']])) 
		{ 		
			$html .= $sections[$partials[$item['main_section_id']]];
        } 
		
		if ( isset($partials[$item['main_section_id']]) && $partials[$item['main_section_id']] == calculate_break($this->transaction['appl_category']==579?1:0) )
		{
			$html .= "<div style='page-break-after: always'></div>";
		}
        //$html .= "</div>";
    }
    
	//$html .= '<div style="page-break-before:always;margin-top:10px;">';
    $html .= '<br><p><b>Declaration</b></p>'; 
    $html .= $declaration_content;
   // $html .= '</div>';
    $html .= '<div style="page-break-before:always;margin-top:10px;">';
    $html .= '<p><b>Document Checklist</b></p>';
    $html .= $this->partial('application-summary/partials/docchecklist.phtml', array('data'=>$this->docchecklist, 'transID' => $this->transID));
    //$this->partial('application-summary/partials/declaration.phtml', array('data'=>$this->items[9]['sectionTagInstruction']));
    $html .= '</div>';

	//debug
	//$html .= 'COUNT : '.$GLOBALS['item_count'];
   
	
	//$html .= '</body></html>';
	if ( $this->download == 0 ) 
	{
		$html .= '<div class="form-opt">
		<button onclick="window.print();" class="btn-submit" type="button" id="print" name="print">Print</button>		
		</div>';

		$html .= '<style type="text/css">
					.app-photo { text-align:center }
					.form-opt { text-align:right; }
					@media print { .form-opt { display:none } }
				  </style>';

		echo $html;
	}

// ------------------------------------------------------------------------------------------

//generatePdfDocument($html);
//echo $html;

if ( $this->download == 1 )
{
	$html = '<html>
	<head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="css/pdf.css" media="all" rel="stylesheet" type="text/css" >
                <style type="text/css">
                    font-family: DejaVu Sans, Helvetica, Arial, sans-serif;
                </style>
	</head>
	<body>

	<div class="a4-wrap">
		<header id="header">
			<img src="images/logo_text_high.jpg" style="width:250px" alt="logo" />		
		</header>'.$html.'
	</div>
	
	</body>
	</html>';

	//include(APPLICATION_PATH.'/../library/dompdf/dompdf.php');
	require_once APPLICATION_PATH.'/../library/dompdf/dompdf_config.inc.php';

	//$autoloader = Zend_Loader_Autoloader::getInstance(); // assuming we're in a controller
	//$autoloader->pushAutoloader('DOMPDF_autoload');

	$dompdf = new DOMPDF();
	$dompdf->set_base_path($this->base_path);
	$dompdf->load_html($html);
	$dompdf->set_paper('a4', 'potrait');
	$dompdf->render();

	//$dompdf = $dompdf->output();
	$output_filename = "application_summary-".$this->trans_id.".pdf";
	$dompdf->stream($output_filename);

}

function calculate_break($local=0)
{
	$return = '';
	
	if ( $local == 1 )
	{
		if ( $GLOBALS['item_count'] < 3 )
		{
			return '';
		}
		else if ( $GLOBALS['item_count'] >= 9  )
		{
			return 'referee';
		}
		else
		{
			return '';
		}
	}
	else
	{
		if ( $GLOBALS['item_count'] < 4 )
		{
			return '';
		}
		else if ( $GLOBALS['item_count'] >= 4 )
		{
			if ( $GLOBALS['item_count'] > 10 )
			{
				return '';
			}
			else
			{
				return 'employment';
			}
		}
		else
		{
			return 'financial-particulars';
		}
	}
}