
<script type="text/javascript">

   function searchbox(){
		$( "#dialog-search" ).dialog('open');
	}
	
   $(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
		$( "#dialog-search" ).dialog({
			modal: true,
			autoOpen: false,
			width: 600,
			buttons: {
				"Search": function() { 
					$("#search_form").submit(); 
				}, 
				"Cancel": function() { 
					$(this).dialog("close"); 
				}
				
			}
		});
	});
	
	function del(){
		var id = $('input[name=set_id]:checked').val();

		if(!id){
			alert('Please select any question exam set set first');
		}else{
			if(confirm('Are you sure to delete this set ?')){
				window.location = "<?php echo $this->url(array('module'=>'question-bank','controller'=>'exam-set', 'action'=>'del-set')); ?>/sid/"+id;
			}
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'question-bank','controller'=>'exam-set', 'action'=>'add-set'));?>";
	}

	function edit(){
		var id = $('input[name=set_id]:checked').val();

		if(!id){
			alert('Please select any exam set set first');
		}else{
			window.location="<?php echo $this->url(array('module'=>'question-bank','controller'=>'exam-set', 'action'=>'edit-set'));?>/sid/"+id;
		}
	}

</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th>Set Name</th>
		<th>Course Name</th>	
		<th>Status</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td width="25px">
			<input type="radio" name="set_id" value="<?php echo $entry['id']; ?>">
		</td>
		<td><?php echo $entry['setname']; ?></td>
		<td><?php echo $entry['CourseName']; ?></td>		
		<td align="center"><?php echo $entry['status']==1?"Active":"Not Active"; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>



<div id="dialog-search" title="Search Bank">
<form name="search_form" id="search_form" action="" method="post">
	<table width="100%" class="table5">
	<tr>
			<td>
				Course Name
			</td>
			<td width="5px">:</td>
			<td>
				<select name="courseid">
				<option value="">--Please Select--</option>
				<?foreach ($this->course as $c){?>
				<option value="<?php echo $c["id"]?>"><?php echo $c["code"].'-'.$c["name"]?></option>
				<? } ?>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Set Name
			</td>
			<td width="5px">:</td>
			<td><input type="text" size="50" name="setname" value=""></td>
		</tr>
		
		
	</table>
</form>
</div>
