

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>

			<li>
				<a id="search" href="/migration/index/studentlist/id/<?php echo $this->intakeid?>">
					<span class='upload_omr'></span>
					Student List</a>
			</li>		
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<?php 
	$mdb = new Migration_Model_DbTable_Migrate();
	$totalprog=0;
	$totalrel=0;
	$totalgen=0;
	$totalctz=0;
	$totalmigrated=0;
?>
<h2>Progam</h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Program"); ?></th>
		<th width="30%"><?php echo $this->translate("ProgramID"); ?></th>
		<th width="10%"><?php echo $this->translate("Total Data"); ?></th>
		<th width="10%"><?php echo $this->translate("Migrated Data"); ?></th>
		<th width="20%"><?php echo $this->translate("Function"); ?></th>
	</tr>
	<?php 
	foreach($this->programs as $progam){
		//$mdb->updProgram($progam["programCode"]);
		$migrated = $mdb->getTotalMigrated($this->intakeid,$progam["programCode"]);
		$totalprog= $totalprog+$progam["Rows"];
		$totalmigrated = $totalmigrated+$migrated["Total"];
	?>
	<tr>
		<td width="30%"><?php echo $mdb->getProgramSis($progam["programCode"]);?></td>
		<td width="30%"><?php echo $progam["programCode"]; ?></td>
		<td width="10%"><?php echo $progam["Rows"];  ?></td>
		<td width="10%"><?php echo $migrated["Total"];  ?></td>
		<td width="20%">
		<a href="/migration/index/migrate/intakeid/<?=$this->intakeid?>/progid/<?=$progam["programCode"]?>">Migrate</a>
		| 
		<a href="/migration/index/migrate/reindexsem/1/intakeid/<?=$this->intakeid?>/progid/<?=$progam["programCode"]?>">Re-index semester</a>
		</td>
	</tr>	
	<?php 
	}
	?>
	<tr>
		<td width="30%"></td>
		<td width="30%">Total</td>
		<td width="10%"><b><?php echo $totalprog;  ?></b></td>
		<td width="10%"><b><?php echo $totalmigrated;  ?></b></td>
		<td width="20%">
		<!--<a href="/migration/index/index/chreligion/<?=$progam["programCode"]?>">Process religion</a>
		--><br>
		</td>
	</tr>	
</table>
<h2>Religion</h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Religion"); ?></th>
		<th width="30%"><?php echo $this->translate("ReligionID"); ?></th>
		<th width="30%"><?php echo $this->translate("Total Data"); ?></th>
		<th width="30%"><?php echo $this->translate("Function"); ?></th>
	</tr>
	<?php 
	foreach($this->religions as $religion){
		//$mdb->updReligion($religion["Religion"]);
		$totalrel= $totalrel+$religion["Rows"];
	?>
	<tr>
		<td width="30%"><?php echo $mdb->getReligionSis($religion["Religion"]);?></td>
		<td width="30%"><?php echo $religion["Religion"]; ?></td>
		<td width="30%"><?php echo $religion["Rows"];  ?></td>
		<td width="30%">
		<!--<a href="/migration/index/index/chreligion/<?=$religion["Religion"]?>">Process religion</a>
		--><br>
		</td>
	</tr>	
	<?php 
	}
	?>
	<tr>
		<td width="30%"></td>
		<td width="30%">Total</td>
		<td width="30%"><b><?php echo $totalrel;  ?></b></td>
		<td width="30%">
		<!--<a href="/migration/index/index/chreligion/<?=$progam["programCode"]?>">Process religion</a>
		--><br>
		</td>
	</tr>		
</table>

<h2>Gender</h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Gender"); ?></th>
		<th width="30%"><?php echo $this->translate("Total Data"); ?></th>
		<th width="30%"><?php echo $this->translate("Function"); ?></th>
	</tr>
	<?php 
	foreach($this->genders as $gender){
		//$mdb->updProgram($progam["programCode"]);
		$totalgen= $totalgen+$gender["Rows"];
		$gendername[1]="MALE";
		$gendername[2]="FEMALE";
	?>
	<tr>
		<td width="30%"><?php echo $gendername[$gender["gender"]];?></td>
		<td width="30%"><?php echo $gender["Rows"];  ?></td>
		<td width="30%">
		<!--<a href="/migration/index/index/chreligion/">Process religion</a>
		--><br>
		</td>
	</tr>	
	<?php 
	}
	?>
	<tr>
		<td width="30%">Total</td>
		<td width="30%"><b><?php echo $totalgen;  ?></b></td>
		<td width="30%">
		<br>
		</td>
	</tr>	
</table>

<h2>Citizenship</h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Citizenship"); ?></th>
		<th width="30%"><?php echo $this->translate("Total Data"); ?></th>
		<th width="30%"><?php echo $this->translate("Function"); ?></th>
	</tr>
	<?php 
	foreach($this->citizens as $citizen){
		//$mdb->updProgram($progam["programCode"]);
		$totalctz= $totalctz+$citizen["Rows"];
	?>
	<tr>
		<td width="30%"><?php echo $citizen["Citizenship"];?></td>
		<td width="30%"><?php echo $citizen["Rows"];  ?></td>
		<td width="30%">
		<!--<a href="/migration/index/index/chreligion/">Process religion</a>
		--><br>
		</td>
	</tr>	
	<?php 
	}
	?>
	<tr>
		<td width="30%">Total</td>
		<td width="30%"><b><?php echo $totalctz;  ?></b></td>
		<td width="30%">
		<br>
		</td>
	</tr>		
</table>