<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<link rel="shortcut icon" href="/images/favicon.ico">

<style type="text/css">
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(//themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* General Demo Style */
body{
	font-family: Verdana, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;

	background: #efefef url(/images/bg-loop.png) repeat;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 /*font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;*/
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 365px;
	position: relative;
}
#canvas{
	/*width: 365px;
	height: 437px;*/
	top:100px;
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.65);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.65);
	box-shadow: 0 1px 10px rgba(0,0,0,.65);
	border-radius: 8px;
    padding-top:15px;
}
/**** Styling the form elements **/
.logo{
	background: url(/images/logo_new.png) no-repeat;
    background-size:cover;
	width:142px;
	height:40px;
	margin-right:auto;
    margin-left:auto;
}
.greybar{
	width: 366px;
	height: 69px;
	top:70px;
	position:relative;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 5px rgba(0,0,0,.05);
}
/**** general text styling ****/
#wrapper input:not([type="checkbox"]), #wrapper select {
    -moz-box-sizing: content-box;
    border: 1px solid #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    bottom: 17px;
	left:35px;
	position:relative;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 250px;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}
#wrapper .button input{
	width: 115px;
	/*height: 34px;*/
	background-color: #448ccb;
	cursor: pointer;
	position:relative;
	float:left;
	margin: 0 10px 0 0;
	bottom:2px;
	/*background: rgb(61, 157, 179);*/
	padding: 8px 5px;
	/*font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;*/
	color: #fff;
	font-size: 12px;
	border: 1px solid rgb(28, 108, 122);

}
#wrapper .button input:hover{
	background-color: #707070;
	/*background: rgb(74, 179, 198);*/
}
#wrapper .button input:active,
#wrapper .button input:focus{
	background: rgb(40, 137, 154);
	/*
	position: relative;
	top: 1px;*/
	border: 1px solid rgb(12, 76, 87);
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
.login.button,
.signin.button{
	text-align: center;
	margin: 0;
}
input {
    outline: medium none;
}
[data-icon]:after {
    color: #6A9FAB;
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    left: 10px;
    position: absolute;
    top: 35px;
    width: 30px;
}
#wrapper label {
    color: #405C60;
    position: relative;
}
#wrapper a{
	color: #FFFFFF;
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	/*font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;*/
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg,
	rgb(18, 83, 93) ,
	rgb(18, 83, 93) 20px,
	rgb(64, 111, 118) 20px,
	rgb(64, 111, 118) 40px,
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.username{
	position:relative;
	top:15px;
	/*bottom:40px;*/
}
.password, .university{
	margin-top:22px;
	display: block;
}
#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}
h2{
	padding: 0 35px;
	font-family: "Helvetica LT Std", Oswald, sans-serif;
	font-size: 18px;
	color: #7d7d7d;
}
h3{
	position:relative;
	/*left:25px;*/
	padding: 0 40px 10px;
	font-family: "Helvetica LT Std", Oswald, sans-serif;
	font-size: 16px;
}
.borderline{
	width: 365px;
	margin-top:60px;
	background-color: #D3D3D3;
	height:1px;
	box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
}
.dunworry{
	font-family: "Helvetica LT Std", Helvetica, sans-serif;
	font-size: 11px;
	padding:15px 25px 0 40px;
	position:relative;
}
link{
	color: #06C;
	text-decoration: none;
}

#myform{
	position: relative;
}

.message {
  background-color: #EEEEEE;
    border: 2px solid #DDDDDD;
    color: #222222;
    padding: 10px;
    width: 556x;
}
.error {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}

#ie-msg, #ie-modal { display:none }
</style>
<!-- dropping support for IE lower than 8 -->
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl()?>/css/ie.css" />
<![endif]-->
</head>

<body>
 <div class="container">
	<section>
			<div id="container_demo" >
				<div id="wrapper">
					<div id="canvas">

						<?php if(isset($this->layout()->alertError)){?>
						<div class="message error"><strong><?php echo $this->layout()->alertError;?></strong>.</div>
						<?php }?>

						<div class="logo"></div>
						<h2>Login to your account</h2>
						<?php echo $this->layout()->content; ?>
						<div style="clear: both"></div>
					</div>

				</div>
			</div>
	</section>
</div>
<!-- Drop IE Support -->
<div id="ie-msg">
<span class="icon icon-attention"></span> You are using an older version of Internet Explorer. Upgrade to the <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">latest version</a> or download alternatives like <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.getfirefox.com">Firefox</a>.</div>
<div id="ie-modal"></div>
<!-- /Drop IE Support -->
</body>
</html>
