<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<?php
$this->jQuery()->enable();
$this->jQuery()->setVersion('1.9.1');
$this->jQuery()->useCdn(false);
$this->jQuery()->setLocalPath($this->baseUrl().'/js/jquery/jquery.19.1.min.js');
echo $this->jQuery();
?>
<link rel="shortcut icon" href="/images/favicon.ico">

<style type="text/css">

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
textarea:focus, input:focus, select:focus { outline: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

body{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #1d3c41;
	background: #efefef url(/images/bg-loop.png) repeat;
}

a {	color: #333; text-decoration: none; }

/* login stuff */
.wrap { padding-top:100px }
.container { position:relative; width: 650px; margin:0 auto; background:#fff; -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.65); -moz-box-shadow: 0 1px 10px rgba(0,0,0,.65); box-shadow: 0 1px 10px rgba(0,0,0,.65); border-radius: 8px; min-height:400px; height: auto !important; height:400px; padding-bottom:60px; }
.container header { overflow:hidden; padding:15px 20px; margin-bottom:5px; text-align:left; border-bottom:1px solid #efefef; }
.container header .logo { float:right ;}
.container #content { padding:20px; }
h1.title
{
	font-family: "Helvetica LT Std", Oswald, sans-serif;
	font-size: 20px;
	color: #7d7d7d;
	top:25px;
	left:20px;
	position:absolute;
}

.container footer {
	background-color: #0198cd; 
	border-radius: 0 0 8px 8px; 
	color: #FFFFFF; 
	border-top: 3px solid #5fad30; 
	height:40px;
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	padding:10px 15px;
}
.container footer a { font-size:11px; color:#fff; }
.container footer a:hover {  text-decoration:underline  }

/* nice forms */
.formnice						{ background:#fff; margin-bottom:10px; }
.formnice div.row strong,
.formnice p strong				{ color:#666; font-weight:bold; margin-bottom:15px; display:block; }
.formnice p, .formnice div.row  { overflow:hidden }
.formnice p .wrap,
.formnice div.row .wrap  		{ margin-left:160px; }
.formnice div.row				{ padding:10px 0; background:#fff; margin:0; color:#898177 }
.formnice div.row:last-child	{ border:none }
.formnice div.submit 			{ padding:10px 0; margin-top:10px;}


.input-txt { 
	 border: 1px solid #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    padding: 10px;
    transition: all 0.2s linear 0s;
    width: 350px;
	
}

.btn-submit
{
	width: 115px;
	background-color: #448ccb;
	cursor: pointer;	
	position:relative;
	float:left;
	margin: 0 10px 0 0;
	bottom:2px;
	padding: 8px 5px;
	color: #fff;
	font-size: 12px;	
	border: 1px solid rgb(28, 108, 122);
	border-radius: 3px 3px 3px 3px;
}

.btn-submit:hover{
	background-color: #707070;
	/*background: rgb(74, 179, 198);*/
}

.message {
  padding: 10px;
  border: 2px solid #ddd;
  background-color: #eee;
  color: #222;
  margin-bottom:15px;
}
.error {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}
</style>
</head>

<body>
<div class="wrap">
	<div class="container">
		<header>
			<a class="logo" href="<?php echo $this->baseUrl()?>/"><img src="<?php echo $this->baseUrl()?>/images/logo_new.png" alt="INCEIF Logo" /></a>
		</header>
		<div id="content">
			<?php echo $this->layout()->content; ?>
		</div>
		<footer>
			<a href="<?php echo $this->baseUrl()?>/">&laquo; <?php echo $this->translate('Go Back')?></a>
		</footer>
	</div>
</div>
</body>
</html>