<script>
$(function() {
	$( "#tabs" ).tabs();
});

function toggle_all(element){
    $('input.sel_all:not(:disabled)').prop('checked', $(element).is(':checked'));
}

function add_application(){
	window.location = "/graduation/convocation/add-application";
}

function approve_application(){
	if ($("input.sel_all:checkbox:checked").length > 0){
		$('#type').val(1);
		$('#form_approval').submit();
	}else{
		alert('<?php echo $this->translate('Please select atleast 1 application'); ?>');
	}
}

function reject_application(){
	if ($("input.sel_all:checkbox:checked").length > 0){
		$('#type').val(0);
		$('#form_approval').submit();
	}else{
		alert('<?php echo $this->translate('Please select atleast 1 application'); ?>');
	}
}
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="approve_application();" >
					<span class='verify'></span>
					<?php echo $this->translate('Approve');?>
				</a>
			</li>
			<li>
				<a href="#" onclick="reject_application();" >
					<span class='remove'></span>
					<?php echo $this->translate('Reject');?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="add_application();" >
					<span class='add'></span>
					<?php echo $this->translate('Manual Add Application');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">New Application List</a></li>
    <li><a href="#tabs-2">History</a></li>
  </ul>
  <div id="tabs-1">
  	<form id="form_approval" method="post">
  		<input type="hidden" id="type" name="type" value="" />
    <table class="table" width="100%">
    	<tr>
    		<th align="center"><input type="checkbox" onclick="toggle_all(this);" /></th>
    		<th><?php echo $this->translate('NIM');?></th>
    		<th><?php echo $this->translate('Name');?></th>
    		<th><?php echo $this->translate('Program');?></th>
    		<th><?php echo $this->translate('Convocation');?></th>
    		<th><?php echo $this->translate('Date Apply');?></th>
    	</tr>
    	<?php 
    	if(isset($this->application_list) && sizeof($this->application_list)>0 ){
			foreach ($this->application_list as $index=>$application){
		?>
			<tr>
				<td align="center"><input type="checkbox" class="sel_all" name="convocation_application_id[]" value="<?php echo $application['id']; ?>" /></td>
				<td><?php echo $application['registrationId']?></td>
				<td>
					<?php echo isset($application['appl_fname'])?$application['appl_fname']." ":""; ?>
					<?php echo isset($application['appl_mname'])?$application['appl_mname']." ":""; ?>
					<?php echo isset($application['appl_lname'])?$application['appl_lname']." ":""; ?>
				</td>
				<td><?php echo $application['program_name']?></td>
				<td>
					<?php echo $application['c_semester_count_type']==1?"Gasal ":""; ?>
					<?php echo $application['c_semester_count_type']==2?"Genap ":""; ?>
					<?php echo $application['SemesterMainName']?>
					<br />
					<small>
						<?php echo date('d-m-Y', strtotime($application['c_date_from'])); ?> - <?php echo date('d-m-Y', strtotime($application['c_date_to'])); ?> 
					</small>
				</td>
				<td><?php echo $application['apply_date']?></td>
			</tr>
		<?php 
			}
		}else{
		?>
		<tr>
			<td colspan="6"><?php echo $this->translate("No new application");?></td>
		</tr>
		<?php 
		}
    	?>
    </table>
    </form>
  </div>
  <div id="tabs-2">
    <table class="table" width="100%">
    	<tr>
    		<th>#</th>
    		<th><?php echo $this->translate('NIM');?></th>
    		<th><?php echo $this->translate('Name');?></th>
    		<th><?php echo $this->translate('Program');?></th>
    		<th><?php echo $this->translate('Convocation');?></th>
    		<th><?php echo $this->translate('Date Apply');?></th>
    		<th><?php echo $this->translate('Status');?></th>
    		<th><?php echo $this->translate('Status Date');?></th>
    	</tr>
    	<?php 
    	if(isset($this->application_list_history) && sizeof($this->application_list_history)>0 ){
			foreach ($this->application_list_history as $index=>$application){
		?>
			<tr>
				<td align="center"><?php echo $index+1; ?></td>
				<td><?php echo $application['registrationId']?></td>
				<td>
					<?php echo isset($application['appl_fname'])?$application['appl_fname']." ":""; ?>
					<?php echo isset($application['appl_mname'])?$application['appl_mname']." ":""; ?>
					<?php echo isset($application['appl_lname'])?$application['appl_lname']." ":""; ?>
				</td>
				<td><?php echo $application['program_name']?></td>
				<td>
					<?php echo $application['SemesterMainName']?>
					<br />
					<small>
						<?php echo date('d-m-Y', strtotime($application['c_date_from'])); ?> - <?php echo date('d-m-Y', strtotime($application['c_date_to'])); ?> 
					</small>
				</td>
				<td><?php echo $application['apply_date']?></td>
				<td>
					<?php echo $application['status']==0?$this->translate("Reject"):""?>
					<?php echo $application['status']==1?$this->translate("Approved"):""?>
				</td>
				<td><?php echo date('d M Y', strtotime($application['status_date']))?></td>
			</tr>
		<?php 
			}
		}else{
		?>
		<tr>
			<td colspan="6"><?php echo $this->translate("No new application");?></td>
		</tr>
		<?php 
		}
    	?>
    </table>
  </div>
</div>