<script>
	$(function(){

			$('#c_year').datepicker( {
		        changeMonth: true,
		        changeYear: true,
		        showButtonPanel: true,
		        dateFormat: 'yy',
		        onClose: function(dateText, inst) { 
		            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
		            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
		            $(this).datepicker('setDate', new Date(year, month, 1));
		        }
		    });


			$("#c_year").focus(function () {
		         $(".ui-datepicker-calendar").hide();
		         $("#ui-datepicker-div .ui-datepicker-month").hide();
		         $("#ui-datepicker-div").position({
		             my: "center top",
		             at: "center bottom",
		             of: $(this)
		         });
		    });

	 });
</script>
	
		   
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<fieldset>
	<legend><?php echo $this->translate('Search'); ?></legend>
	<form method="post">
	<table>
		<tr>
			<td width='35%'><?php echo $this->translate('Year');?></td>			
			<td><input type='text' name='c_year' id='c_year' class='input-txt'></td>
		</tr>		
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="<?php echo $this->translate('Search');?>" /></td>
		</tr>
	</table>
	</form>
</fieldset>
<br></br>
<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Year");?></th>
			<th><?php echo $this->translate("Session");?></th>			
			<th><?php echo $this->translate("Capacity");?></th>	
			<th><?php echo $this->translate("No of Guest");?></th>	
			<th><?php echo $this->translate("Convocation Date");?></th>
			<th><?php echo $this->translate("Award");?></th>		
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php 
		if(count($this->data )>0){
		foreach($this->data as $convo){
		?>
		<tr>
			<td align='center'><?php echo $convo['c_year'];?></td>
			<td align='center'><?php echo $convo['c_session'];?></td>
			<td align='center'><?php echo $convo['c_capacity'];?></td>	
			<td align='center'><?php echo $convo['c_guest'];?></td>	
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_date_from'])); ?> to <?php echo date('d-m-Y', strtotime($convo['c_date_to'])); ?></td>
			<td >
				<?php 
				if(count($convo['award'])>0){
					echo '<ul>';
					foreach($convo['award'] as $award){
						echo '<li>'.$award['name'].'</li>';
					}
					echo '</ul>';
				}
				?>
			</td>					
			<td align="center">
				<a class="link" href="/graduation/convocation/graduate-list/id/<?php echo $convo['c_id']; ?>"><?php echo $this->translate('Graduate List'); ?></a>				 
			</td>
		</tr>
		<?php 
		}}
		?>
	</tbody>
</table>

<!--<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Academic Year");?></th>
			<th><?php echo $this->translate("Convocation Date");?></th>
			<th><?php echo $this->translate("Bil Session");?></th>
			<th><?php echo $this->translate("Capacity per session");?></th>
			<th><?php echo $this->translate("Total Capacity");?></th>
			<th><?php echo $this->translate("Editor Info");?></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php 
		for($i=0; $i<sizeof($this->data); $i++){
			$convo = $this->data[$i];
		?>
		<tr <?php echo $i%2==0?"class='shade'":"";?>>
			<td><?php echo $convo['SemesterMainName'];?></td>
			<td><?php echo date('d-m-Y', strtotime($convo['c_date_from'])); ?> - <?php echo date('d-m-Y', strtotime($convo['c_date_to'])); ?></td>
			<td align="center"><?php echo $convo['c_session'];?></td>
			<td align="center"><?php echo $convo['c_capacity'];?></td>
			<td align="center"><?php echo ($convo['c_capacity'] * $convo['c_session']);?></td>
			<td><?php echo $convo['last_edit_by_name'];?> (<?php echo date('d-m-Y g:ia', strtotime($convo['last_edit_date'])); ?>)</td>
			<td><a href="/graduation/convocation/graduate-list/id/<?php echo $convo['c_id']; ?>"><?php echo $this->translate('Graduate List'); ?></a></td>
		</tr>
		<?php 
		}
		?>
	</tbody>
</table>-->