<script>
$( document ).ready(function() {	


	$('#collectionForm').submit(function(event) {

		var status = true;
		
		if( ( $("input:radio[name=scroll_collection]").is(":checked") && $( "input:radio[name=scroll_collection]:checked" ).val()==2 ) ||   ( $("input:radio[name=photo_collection]").is(":checked") && $( "input:radio[name=photo_collection]:checked" ).val()==2 ))  {

			
			if( $('#scroll_address1').val() == ''){
				alert('Please enter address.');
				status =  false;
			}else

			if( $('#scroll_postcode').val() == ''){
				alert('Please enter postcode.');
				status =  false;
			}else

			if ($('#scroll_country').val() == '') {
				alert('Please select country.');
				status =  false;
			}else

			if ($('#scroll_state').val() == '') {
				alert('Please select state.');
				//status =  false;
			}else

			if ($('#scroll_city').val() == '') {
				alert('Please select city.');
				//status =  false;
			}
			
			if(	status ==  false ){
				return false;
			}else{
				return true;
			}
			
		}else{
			return true;
		}
		
		event.preventDefault();
	});

	$( ".attStatus" ).click(function(event) {
		$( "#dialog" ).dialog( "open" );
	});

	$( "#dialog" ).dialog({
		  autoOpen:false,
	      resizable: false,
	      height:140,
	      modal: true,
	      buttons: {
	        "Submit": function() {			  
	          $('#attendanceForm').submit();	
	          $( this ).dialog( "close" );          
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      }
	});
	
	<?php if (isset($this->collect) && ($this->collect['scroll_collection'] == 2 || $this->collect['photo_collection'] == 2)){?>
	
    		$( ".mailAddress" ).show();

    <? }else{ ?>

    		$( ".mailAddress" ).hide();
    		
    <? } ?>


    <?php if (isset($this->collect) && ($this->collect['photo_collection'] == 2)){?>
		
    	$('#photo_number').show();
	
	<? }else{ ?>
	
		$('#photo_number').hide();
		
	<? } ?>


	
    $('input:radio').click(function() {

    	if( $("input:radio[class='courier']").is(":checked") ) { 
            
            $( ".mailAddress" ).show(); 
        }else{  
      	  
            $( ".mailAddress" ).hide(); 
        }


        if( $("input:radio[name='photo_collection']").is(":checked") && $( "input:radio[name=photo_collection]:checked" ).val()==2 ){
			$('#photo_number').show();
        }else{
        	$('#photo_number').hide();
        }
        
 	});
     
});





function getState(country_id, element,selectedState){
	
	$.ajax({
		url: "/default/ajax-utility/get-state",
	    type: "post",
	    async : false,
	    data: {'country_id':country_id},
	    dataType: 'json',
	    success: function(data){

    		console.log(data);
	    		
	    		$('#'+element).empty();
				$('#'+element).append('<option value="">-- Please Select --</option>');
			    
		    	$.each(data, function(index) {
		    		if(selectedState==data[index].idState){
						var selected = 'selected';
					}else{
						var selected = '';
					}
					$('#'+element).append('<option value="'+data[index].idState+'" '+selected+'>'+data[index].StateName+'</option>');	
		    	});
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading(element);
	      
		},
		complete: function() {
			hideLoading(element);
		}   
	});
}

function getCity(idState, element,selectedCity){
	
	
	var targetElement = '#city';
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-city'),'default',true);?>",
		data: {'state_id':idState},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading(element);
		},
		complete: function() {
			hideLoading(element);
		},
		success: function(data) {
			
			$('#'+element).empty();
			$('#'+element).append('<option value="">-- Please Select --</option>');
				
			$.each(data, function(index) {
				if(selectedCity==data[index].idCity){
					var selected = 'selected';
				}else{
					var selected = '';
				}
				$('#'+element).append('<option value="'+data[index].idCity+'" '+selected+'>'+data[index].CityName+'</option>');	
			});
		}
	});
}

function checkOthers(val,target_element)
{
	var e_val = $(val).val();
	
	if (e_val == '99')
	{
		$("#"+target_element).show();
	}
	else
	{
		$("#"+target_element).hide();
	}
}

function showLoading(element){
	$('#'+element).hide();
	$('#'+element).after("<div id='loading'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(element){
	$('#loading').remove();
	$('#'+element).show();
}

$(function()
{

	<?php if( $this->collect['scroll_country'] != '' ) { ?>
		getState(<?php echo $this->collect['scroll_country']?>,'scroll_state',<?php echo $this->collect['scroll_state']?>);
	<?php } ?>

	<?php if( $this->collect['photo_country'] != '' ) { ?>
		getState(<?php echo $this->collect['photo_country']?>,'photo_state',<?php echo $this->collect['photo_state']?>);
	<?php } ?>

	<?php if( $this->collect['scroll_state'] != '' ) { ?>
		getCity(<?php echo $this->collect['scroll_state']?>,'scroll_city',<?php echo $this->collect['scroll_city']?>);
	<?php } ?>

	<?php if( $this->collect['photo_state'] != '' ) { ?>
		getCity(<?php echo $this->collect['photo_state']?>,'photo_city',<?php echo $this->collect['photo_city']?>);
	<?php } ?>


	<?php if ($this->collect['scroll_state'] == 99 ){?>
		$("#scroll_state_others").show();
	<?php } ?>
	
	<?php if ($this->collect['scroll_city'] == 99 ){?>
		$("#scroll_city_others").show();
	<?php } ?>


	<?php if ($this->collect['photo_state'] == 99 ){?>
		$("#photo_state_others").show();
	<?php } ?>
	
	<?php if ($this->collect['photo_city'] == 99 ){?>
		$("#photo_city_others").show();
	<?php } ?>
		
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'convocation', 'action'=>'graduate-list','id'=>$this->cid),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
<legend><?php echo $this->translate('Student Convocation Info'); ?></legend>
<h4><?php echo $this->translate('Student Info'); ?></h4>
<table class="table" width="100%">
	
	<tr>
		<th width="20%"><?php echo $this->translate('Student ID'); ?></th>
		<td><?php echo $this->grad_data['registrationId']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Student Name'); ?></th>
		<td><?php echo $this->grad_data['student_name']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Programme'); ?></th>
		<td><?php echo $this->grad_data['program_name']; ?></td>
	</tr>
	<tr>
		<th width="20%"><?php echo $this->translate('Attendance Status'); ?></th>
		<td>
		<?php 
		if(isset($this->grad_data['confirm_attend'])){
			if($this->grad_data['confirm_attend']==1) { 
				echo 'Yes'; 
				echo ' ( Confirmed Date: ';
				echo (isset($this->grad_data['confirm_date'])) ? date('d-m-Y',strtotime($this->grad_data['confirm_date'])).')':'';
			}else 
			if($this->grad_data['confirm_attend']==0) {
				echo 'No'; 
			}			
			
			echo '&nbsp;&nbsp;&nbsp;<a class="attStatus" href="#" title="Click to change attendance confirmation status.">Change status</a>';
		}else{
			echo '<a class="attStatus" href="#" title="Click to change attendance confirmation status.">Change status</a>'; 
		}
		?>
		</td>
	</tr>	
	<tr>
		<th width="20%"><?php echo $this->translate('Guest Info'); ?></th>
		<td>
			<?php if(isset($this->guests)) { ?>
			<table class="table" width="100%">
				<tr>
					<th><?php echo $this->translate('Number Of Applied Guest'); ?></th>
					<th><?php echo $this->translate('Number Of Approved Guest'); ?></th>
					<th><?php echo $this->translate('Note'); ?></th>
					<th><?php echo $this->translate('Status'); ?></th>
					<th><?php echo $this->translate('Payment Status'); ?></th>
				</tr>
				<tr>
					<td align="center"><?php echo $this->guests['guests']; ?></td>
					<td align="center"><?php echo $this->guests['guest_approve']; ?></td>
					<td><?php echo $this->guests['note']; ?></td>
					<td align="center"><?php echo $this->guests['status']; ?></td>
					<td align="center">
						<?php
						$guestPaymentStatus2 = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 164);

						if ($guestPaymentStatus2 == true){
							echo 'Paid';
						}else{
							echo 'Not Paid';
						}
						?>
					</td>
				</tr>
			</table>
			<?php }else { echo 'No records'; } ?>
		</td>
	</tr>
	<!--<tr>
		<th><?php //echo $this->translate('Note'); ?></th>
		<td><?php //echo $this->guests['note']; ?></td>
	</tr>-->
	<tr>
		<th width="20%"><?php echo $this->translate('Refreshment Info'); ?></th>
		<td>
			<?php if(isset($this->refreshment)) { ?>
			<table class="table" width="100%">
				<tr>
					<th><?php echo $this->translate('Number Of Applied Refreshment'); ?></th>
					<th><?php echo $this->translate('Number Of Approved Refreshment'); ?></th>
					<th><?php echo $this->translate('Note'); ?></th>
					<th><?php echo $this->translate('Status'); ?></th>
					<th><?php echo $this->translate('Payment Status'); ?></th>
				</tr>
				<tr>
					<td align="center"><?php echo $this->refreshment['guests']; ?></td>
					<td align="center"><?php echo $this->refreshment['guest_approve']; ?></td>
					<td><?php echo $this->refreshment['note']; ?></td>
					<td align="center"><?php echo $this->refreshment['status']; ?></td>
					<td align="center">
						<?php
						$refreshmentPaymentStatus2 = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 162);

						if ($refreshmentPaymentStatus2 == true){
							echo 'Paid';
						}else{
							echo 'Not Paid';
						}
						?>
					</td>
				</tr>
			</table>
			<?php }else { echo 'No records'; } ?>
		</td>
	</tr>
	<!--<tr>
		<th><?php //echo $this->translate('Note'); ?></th>
		<td><?php //echo $this->refreshment['note']; ?></td>
	</tr>-->
	<tr>
		<th><?php echo $this->translate('Checklist'); ?></th>
		<td>
		<?php if(count($this->checklists)>0) { ?>
		<table class="" width="100%">
			<?php foreach ($this->checklists as  $index=>$checklist): ?>
			<tr>
				<td width="5%" align="center"><?php echo $index+1;?>.</td>
				<td width="" >
				<?php echo $checklist['checklist_name']; ?>
				&nbsp;
				<?php 
					if($checklist['psc_status']==1) {
						echo "<img src='/images/images/icon/tick.png'>";
					} 
				?>
				</td>
				<td width="30%" ><?php echo $checklist['remarks_message']; ?></td>
			</tr>	
			<?php endforeach ?>
		</table>
		<?php } ?>
		
		</td>
	</tr>
</table>
<br/>
<h4><?php echo $this->translate('Payment Status'); ?></h4>
<table class="table" width="100%">
	<tr>
		<th width="20%"><?php echo $this->translate('Convocation Fee'); ?></th>
		<td>
			<?php
			$convoPaymentStatus = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 67);

			if ($convoPaymentStatus == true){
				echo 'Paid';
			}else{
				echo 'Not Paid';
			}
			?>
		</td>
	</tr>
	<tr>
		<th width="20%"><?php echo $this->translate('Additional Guest Fee'); ?></th>
		<td>
			<?php
			$guestPaymentStatus = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 164);

			if ($guestPaymentStatus == true){
				echo 'Paid';
			}else{
				echo 'Not Paid';
			}
			?>
		</td>
	</tr>
	<tr>
		<th width="20%"><?php echo $this->translate('Additional Refreshment Fee'); ?></th>
		<td>
			<?php
			$refreshmentPaymentStatus = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 162);

			if ($refreshmentPaymentStatus == true){
				echo 'Paid';
			}else{
				echo 'Not Paid';
			}
			?>
		</td>
	</tr>
	<tr>
		<th width="20%"><?php echo $this->translate('Courier Service Fee'); ?></th>
		<td>
			<?php
			$courierPaymentStatus = Graduation_Model_DbTable_Reports::getPaymentStatus($this->studentid, 123);

			if ($courierPaymentStatus == true){
				echo 'Paid';
			}else{
				echo 'Not Paid';
			}
			?>
		</td>
	</tr>
</table>
</fieldset>
<br>

<h4><?php echo $this->translate('Convocation Regalia'); ?></h4>

<form name='form1' method="post" name='collectionForm' id='collectionForm' >

<input type='hidden' name='cg_id' value='<?php echo (isset($this->robe['id'])) ? $this->robe['id']:''; ?>'>
<input type='hidden' name='idStudentRegistration' value='<?php echo $this->grad_data['idStudentRegistration']; ?>'>
<input type='hidden' name='c_id' value='<?php echo $this->grad_data['c_id']; ?>'>


<table class="table" width="100%">	
	<tr>
		<th width='30%'><?php echo $this->translate('Item'); ?></th>
		<th width='30%'><?php echo $this->translate('Robe Collection'); ?></th>
		<th width='30%'><?php echo $this->translate('Robe Return'); ?></th>
	</tr>		
	<tr>
		<td width=""><?php echo $this->translate('Date '); ?></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<input class='input-txt datepicker' type="text"  name="date_collected" id="date_collected" value="<?php echo (isset($this->robe['date_collected'])) ? format_date_to_view($this->robe['date_collected']):''; ?>"></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<input class='input-txt datepicker' type="text"  name="date_returned" id="date_returned" value="<?php echo (isset($this->robe['date_returned'])) ? format_date_to_view($this->robe['date_returned']):''; ?>"></td>
	</tr>
	<tr>
		<td width=""><?php echo $this->translate('Robe'); ?></td>
		<td><input type="checkbox" name="robe_collect" id='robe_collect' value="1" <?php echo ($this->robe['robe_collect']==1) ? 'checked':'';?> >&nbsp;<input class='input-txt datepicker' type="text"  name="robe_date_collected" id="robe_date_collected" value="<?php echo (isset($this->robe['robe_date_collected'])) ? format_date_to_view($this->robe['robe_date_collected']):''; ?>"></td>
		<td><input type="checkbox" name="robe_return" id="robe_return" value="1" <?php echo ($this->robe['robe_return']==1) ? 'checked':'';?> >&nbsp;<input class='input-txt datepicker' type="text"  name="robe_date_returned" id="robe_date_returned" value="<?php echo (isset($this->robe['robe_date_returned'])) ? format_date_to_view($this->robe['robe_date_collected']):''; ?>"></td>
	</tr>
	<!--<tr>
		<td width=""><?php echo $this->translate('Robe Kit Serial No'); ?></td>
		<td><input class='input-txt'  type="text" name="robe_serial_number" value="<?php echo $this->robe['robe_serial_number']; ?>" ></td>
		<td></td>
	</tr>
	-->
	<tr>
		<td width=""><?php echo $this->translate('Size'); ?></td>
		<td>
			<input type='radio' name='robe_size' value='S' <?php echo ($this->robe['robe_size']=='S') ? 'checked':'';?> >S&nbsp;
			<input type='radio' name='robe_size' value='M' <?php echo ($this->robe['robe_size']=='M') ? 'checked':'';?>>M&nbsp;
			<input type='radio' name='robe_size' value='L' <?php echo ($this->robe['robe_size']=='L') ? 'checked':'';?>>L&nbsp;
			<input type='radio' name='robe_size' value='XL' <?php echo ($this->robe['robe_size']=='XL') ? 'checked':'';?>>XL&nbsp;
			<input type='radio' name='robe_size' value='XXL' <?php echo ($this->robe['robe_size']=='XXL') ? 'checked':'';?>>XXL&nbsp;
		</td>
		<td></td>
	</tr>
	<tr>
		<td width=""><?php echo $this->translate('Hood'); ?></td>
		<td><input type="checkbox" name="hood_collect" id="hood_collect" value="1" <?php echo ($this->robe['hood_collect']==1) ? 'checked':'';?>>&nbsp;<input class='input-txt datepicker' type="text"  name="hood_date_collected" id="hood_date_collected" value="<?php echo (isset($this->robe['hood_date_collected'])) ? format_date_to_view($this->robe['hood_date_collected']):''; ?>"></td>
		<td><input type="checkbox" name="hood_return" id="hood_return" value="1" <?php echo ($this->robe['hood_return']==1) ? 'checked':'';?>>&nbsp;<input class='input-txt datepicker' type="text"  name="hood_date_returned" id="hood_date_returned" value="<?php echo (isset($this->robe['hood_date_returned'])) ? format_date_to_view($this->robe['hood_date_returned']):''; ?>"></td>
	</tr>
	<tr>
		<td width=""><?php echo $this->translate('Mortar Board/Hat'); ?></td>
		<td><input type="checkbox" name="mortar_collect" id="mortar_collect" value="1" <?php echo ($this->robe['mortar_collect']==1) ? 'checked':'';?>>&nbsp;<input class='input-txt datepicker' type="text"  name="mortar_date_collected" id="mortar_date_collected" value="<?php echo (isset($this->robe['mortar_date_collected'])) ? format_date_to_view($this->robe['mortar_date_collected']):''; ?>"></td>
		<td><input type="checkbox" name="mortar_return" id="mortar_return" value="1" <?php echo ($this->robe['mortar_return']==1) ? 'checked':'';?>>&nbsp;<input class='input-txt datepicker' type="text"  name="mortar_date_returned" id="mortar_date_returned" value="<?php echo (isset($this->robe['mortar_date_returned'])) ? format_date_to_view($this->robe['mortar_date_returned']):''; ?>"></td>
	</tr>
	
</table>

<br>
<h4><?php echo $this->translate('Awards'); ?></h4>

<?php if(count($this->awards)>0){?>
<table class="table" width="100%">
	<?php foreach ($this->awards as  $award): 
		if(in_array($award['IdAward'], $this->awarded)) {
			$checked = "checked='checked'";
		} else {
			$checked = "";
		}
	?>
		<tr>
			<td  width="5%" align="center">
				<input type="checkbox" name="award[<?php echo $award['IdAward']; ?>]" value="1" <?php echo $checked; ?>>
			</td>
			<td><?php echo $award['name']; ?></td>
		</tr>	
	<?php endforeach ?>
</table>
<?php }else{ echo 'There is no award set up.'; }?>

<br>
<br>
<h4><?php echo $this->translate('Scroll,Transcript & Photo Collection'); ?></h4>
<input type='hidden' name='gc_id' value='<?php echo $this->collect['gc_id']; ?>'>


<table class="table" width="100%">
	<tr>
		<th width='30%'><?php echo $this->translate('Item'); ?></th>
		<th width='30%'><?php echo $this->translate('Scroll & Transcript'); ?></th>
		<th width='30%'><?php echo $this->translate('Convocation Photo'); ?></th>
	</tr>	
	<tr>
		<td width=""><?php echo $this->translate('Self Collect'); ?></td>
		<td><input type="radio" name="scroll_collection" id="scroll_collection" value="1" <?php echo ($this->collect['scroll_collection']==1) ? 'checked':'';?>></td>
		<td><input type="radio" name="photo_collection" id="photo_collection" value="1" <?php echo ($this->collect['photo_collection']==1) ? 'checked':'';?>></td>
	</tr>
	<tr>
		<td width=""><?php echo $this->translate('Courier'); ?></td>
		<td><input class='courier'  type="radio" name="scroll_collection" id="scroll_collection" value="2" <?php echo ($this->collect['scroll_collection']==2) ? 'checked':'';?>></td>
		<td>
		<input  class='courier'  type="radio" name="photo_collection" id="photo_collection" value="2" <?php echo ($this->collect['photo_collection']==2) ? 'checked':'';?>>
		<input type='text' name='photo_number' id='photo_number' value='<?php echo $this->collect['photo_number']; ?>' style='display:none'> 
		</td>
	</tr>
	<tr class='mailAddress'>
		<th colspan=3><?php echo $this->translate('Mailing Address'); ?></th>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('Address 1'); ?></td>
		<td><input type='text' class='input-txt' name='scroll_address1' id='scroll_address1'  value='<?php echo $this->collect['scroll_address1'];?>'></td>		
		<td><!--<input type='text' class='input-txt' name='photo_address1' value='<?php echo $this->collect['photo_address1'];?>'>--></td>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('Address 2'); ?></td>
		<td><input type='text' class='input-txt' name='scroll_address2' id='scroll_address2' value='<?php echo $this->collect['scroll_address2'];?>'></td>		
		<td><!--<input type='text' class='input-txt' name='photo_address2' value='<?php echo $this->collect['photo_address2'];?>'>--></td>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('Postcode'); ?></td>
		<td><input type='text' class='input-txt' name='scroll_postcode' id='scroll_postcode' value='<?php echo $this->collect['scroll_postcode'];?>'></td>		
		<td><!--<input type='text' class='input-txt' name='photo_postcode' value='<?php echo $this->collect['photo_postcode'];?>'>--></td>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('Country'); ?></td>
		<td>
			<select name='scroll_country' id='scroll_country' class='select' onchange='getState(this.value,"scroll_state");'>
				<option value=''>-- Please Select --</option>
				<?php foreach($this->country_data as $country){
						if($country['idCountry']==$this->collect['scroll_country']){
							$sel = 'selected';
						}else{
							$sel = '';
						}
				?>
				<option value='<?php echo $country['idCountry'];?>' <?php echo $sel; ?>><?php echo $country['CountryName'];?></option>
				<?php } ?>
			</select>
			
		</td>		
		<td>
			<!--<select name='photo_country' id='photo_country' class='select' onchange='getState(this.value,"photo_state");'>
				<option value=''>-- Please Select --</option>
				<?php foreach($this->country_data as $country){
					if($country['idCountry']==$this->collect['photo_country']){
						$sel = 'selected';
					}else{
						$sel = '';
					}
					
				?>
				<option value='<?php echo $country['idCountry'];?>' <?php echo $sel; ?>><?php echo $country['CountryName'];?></option>
				<?php } ?>
			</select>
		--></td>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('State'); ?></td>
		<td>
			<select name='scroll_state' id='scroll_state' class='select' onchange='getCity(this.value,"scroll_city"); checkOthers(this,"scroll_state_others");'>
				<option value=''>-- Please Select --</option>				
			</select>
			<input placeHolder='Please specify' type='text' name='scroll_state_others' id='scroll_state_others' class='select' style='display:none' value='<?php echo $this->collect['scroll_state_others'];?>'>
		</td>		
		<td>
			<!--<select name='photo_state' id='photo_state' class='select' onchange='getCity(this.value,"photo_city"); checkOthers(this,"photo_state_others");' >
				<option value=''>-- Please Select --</option>				
			</select>
			<input placeHolder='Please specify' type='text' name='photo_state_others' id='photo_state_others' class='select' style='display:none' value='<?php echo $this->collect['photo_state_others'];?>'>
		--></td>
	</tr>
	<tr class='mailAddress'>
		<td width=""><?php echo $this->translate('City'); ?></td>
		<td>
			<select name='scroll_city' id='scroll_city' class='select' onchange='checkOthers(this,"scroll_city_others");'>
				<option value=''>-- Please Select --</option>
			</select>
			<input placeHolder='Please specify' type='text' name='scroll_city_others' id='scroll_city_others' class='select' style='display:none' value='<?php echo $this->collect['scroll_city_others'];?>'>
		</td>		
		<td>
			<!--<select name='photo_city' id='photo_city' class='select' onchange='checkOthers(this,"photo_city_others");'>
				<option value=''>-- Please Select --</option>
			</select>
			<input placeHolder='Please specify' type='text' name='photo_city_others' id='photo_city_others' class='select' style='display:none' value='<?php echo $this->collect['photo_city_others'];?>'>
		--></td>
	</tr>
	
</table>

<div class='form-opt'>
	<input type="submit" name="update" value="<?php echo $this->translate('Update'); ?>">
</div>
</form>


<script>
$(document).ready( 
	function() {

		
		$( "#date_collected" ).datepicker({
	      dateFormat: 'dd-mm-yy',
	      onClose: function( selectedDate ) {

		        $( "#date_collected" ).val(selectedDate);
        
		        
		        if( $( '#robe_collect' ).is( ":checked" ) && $( "#robe_date_collected" ).val()==''){
		        	$( "#robe_date_collected" ).val(selectedDate);
		        }
	
		        if( $( '#hood_collect' ).is( ":checked" ) && $( "#hood_date_collected" ).val()==''){
		        	$( "#hood_date_collected" ).val(selectedDate);
		        }
	
		        if( $( '#mortar_collect' ).is( ":checked" ) && $( "#mortar_date_collected" ).val()==''){
		        	$( "#mortar_date_collected" ).val(selectedDate);
		        }
	      }
	    });

		
		$( "#date_returned" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		         $( "#date_returned" ).val(selectedDate);
		         
		            if( $( '#robe_return' ).is( ":checked" ) &&  $( "#robe_date_returned" ).val()==''){
			        	$( "#robe_date_returned" ).val(selectedDate);
			        }
			
			        if( $( '#hood_return' ).is( ":checked" ) && $( "#hood_date_returned" ).val()==''){
			        	$( "#hood_date_returned" ).val(selectedDate);
			        }
			
			        if( $( '#mortar_return' ).is( ":checked" ) && $( "#mortar_date_returned" ).val()==''){
			        	$( "#mortar_date_returned" ).val(selectedDate);
			        }
		      }
		});
		    


		
		$( "#robe_date_collected" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#robe_date_collected" ).val(selectedDate);
		      }
		});

		$( "#robe_date_returned" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#robe_date_returned" ).val(selectedDate);
		      }
		});


		
		$( "#hood_date_collected" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#hood_date_collected" ).val(selectedDate);
		      }
		    });
	    
		$( "#hood_date_returned" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#hood_date_returned" ).val(selectedDate);
		      }
		});
		
		$( "#mortar_date_collected" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#mortar_date_collected" ).val(selectedDate);
		      }
		});

		$( "#mortar_date_returned" ).datepicker({
		      dateFormat: 'dd-mm-yy',
		      onClose: function( selectedDate ) {
		        $( "#mortar_date_returned" ).val(selectedDate);
		      }
		});
		
});
</script>

<div id="dialog" title="Attendance Confirmation">
  <form method="post" name='attendanceForm' id='attendanceForm' action='<?php echo $this->url(array('module'=>'graduation','controller'=>'convocation', 'action'=>'attendance'),'default',true);?>'>
  <input name='IdStudentRegistration' id='IdStudentRegistration' value='<?php echo $this->grad_data['idStudentRegistration']; ?>' type='hidden'>
  <input name='c_id' id='c_id' value='<?php echo $this->grad_data['c_id']; ?>' type='hidden'>
  <table class="text2">
  	<tr>
		<td colspan="2">		
		<input type="radio" name="confirm_attendance" value="1" id="confirm_attendance_yes" <?php if(isset($this->grad_data['confirm_attend']) && $this->grad_data['confirm_attend']==1) { echo 'checked'; } ?>> <label for="confirm_attendance_yes"><?php echo $this->translate('Yes'); ?></label> 
		<input type="radio" name="confirm_attendance" value="0" id="confirm_attendance_no"  <?php if(isset($this->grad_data['confirm_attend']) && $this->grad_data['confirm_attend']==0) { echo 'checked'; } ?> > <label for="confirm_attendance_no"><?php echo $this->translate('No'); ?></label> 
		</td>
	</tr>
  </table>
  </form>
</div>