<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'convocation', 'action'=>'convocation-list'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<fieldset>
<legend><?php echo $this->translate('Convocation Info');?></legend>
<table class="" >
	<tr>
		<td><?php echo $this->translate('Convocation Year');?></td>
		<td>:<?php echo $this->convo['c_year']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Session');?></td>
		<td>:<?php echo $this->convo['c_session']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Capacity');?></td>
		<td>:<?php echo $this->convo['c_capacity']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('No of Guest');?></td>
		<td>:<?php echo $this->convo['c_guest']; ?></td>
	</tr>
</table>
</fieldset>
<br/>
<fieldset>
	<legend><?php echo $this->translate('Search'); ?></legend>
	<?php echo $this->form; ?>
	
</fieldset>
<br/>
<table class="table" width="100%">
	<tr>
		<th width="5px"><?php echo $this->translate('No'); ?></th>
		<th><?php echo $this->translate('Student Id'); ?></th>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('Intake');?></th>
		<th><?php echo $this->translate('Programme');?></th>
		<th></th>
	</tr>
	<?php 
	if(is_array($this->student)){
		foreach ($this->student as $index => $student){
	?>
		<tr>
			<td align='center'><?php echo $index+1?>.</td>
			<td align='center'><?php echo $student['registrationId']; ?></td>
			<td><?php echo $student['student_name']; ?></td>
			<td align='center'><?php echo $student['intake_name']?></td>
			<td align='center'><?php echo $student['ProgramCode']?></td>
			<td align='center'>
				<a href="/graduation/convocation/graduate-convo-data/id/<?php echo $this->id; ?>/idStudent/<?php echo $student['idStudentRegistration']; ?>">
					<?php echo $this->translate('Manage'); ?>
				</a>
			</td>
		</tr>
	<?php 
		}
	} else {
	?>
	<tr>
		<td colspan="5" align="center">
			<?php echo $this->translate('No Data');?>
		</td>
	</tr>
	<?php 
	}
	?>
</table>