<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'index'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Block_Label']); ?>
				</a>
			</div>
		</li>
		<li class="empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostellevel'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Level_Label']); ?>
				</a>
			</div>
		</li>
		<li class="last">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostelroom'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Room_Label']); ?>
				</a>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2>
		<?php 
		if($this->blockid=='') { 
			echo $this->translate("Add");
		} else {  
			echo $this->translate("Edit");
		}

		echo " : ";
		echo $this->labels['Block_Label']
		?>
 	</h2>
 	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<Form dojoType="dijit.form.Form" id="myForm" method="post"
name="myForm">
<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	} 
	else {
		return false;
	}
	</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Details");?>
		</th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Name");?><span class="reqMark">*</span>
		</td>
		<td><?php echo $this->lobjform->Name;?>
		
		<td><?php echo $this->translate("Code");?><span class="reqMark">*</span>
		</td>
		<td><?php echo $this->lobjform->Code;?></td>
	</tr>


	<tr>
		<td><?php echo $this->translate("Address1");?><span class="reqMark">*</span>
		</td>
		<td><?php echo $this->lobjform->Address1;?>
		
		<td><?php echo $this->translate("Address2");?></td>
		<td><?php echo $this->lobjform->Address2;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Country");?></td>
		<td><?php echo $this->lobjform->Country;?>
		
		<td><?php echo $this->translate("State");?></td>
		<td><?php echo $this->lobjform->State;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("City");?></td>
		<td><?php echo $this->lobjform->City;?>
		
		<td><?php echo $this->translate("Zipcode");?></td>
		<td><?php echo $this->lobjform->Zipcode;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Phone");?><span class="reqMark">*</span>
		</td>
		<td>
			<?php echo $this->lobjform->HomePhone;?>
		</td>
		<td>
			<?php echo $this->translate("Fax");?>
		</td>
		<td>
			<?php echo $this->lobjform->Fax;?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Active");?></td>
		<td><?php echo $this->lobjform->Active;?> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan='4' align='center'>
			<?php echo $this->lobjform->Save;?> 
		</td>

	</tr>
</table>
</form>

<script>
 dojo.addOnLoad(function (){
	  <?php if($this->larrresult['Country']!='0') { ?>
		dijit.byId('Country').setValue("<?php echo $this->larrresult['Country'];?>");
		dijit.byId('State').setValue("<?php echo $this->larrresult['State'];?>");
	    dijit.byId('City').setValue("<?php echo $this->larrresult['City'];?>");
	 <?php } else { ?>
		 dijit.byId('Country').set('value',null);
		 dijit.byId('Country').set('placeHolder','Select'); 
		 dijit.byId('State').set('value',null);
		 dijit.byId('State').set('placeHolder','Select');
		 dijit.byId('City').set('value',null);
		 dijit.byId('City').set('placeHolder','Select');
	 <?php } ?>
 });


function fnGetPermCountryStateList(idCountry){
    if(idCountry != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("State",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }

function fnGetStateCityListPerm(idState){
    if(idState != "")
    { var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("City",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }

function delRec(val) {    
    var dStat = confirm("Are you sure you want to delete the Block?");
    if(dStat == true){        
        var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/hostel/hostelinformation/delblock/id/"+val,
			handleAs:'text',
			load:function(data){
                             window.location = "<?php echo $this->baseUrl();?>/hostel/hostelinformation/index";
                         }
	              }
	dojo.xhrPost(xhrArgs);        
    }
} 

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    dijit.byId(EditableDropDownId).setValue("");
    var ddwidget = dijit.byId(EditableDropDownId);
    ddwidget.setAttribute('disabled', false);
    var options = {
      label:"name",
      identifier:"key",
      items:JSONText
    };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
  }
      
</script>