<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'index'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Block_Label']); ?>
				</a>
			</div>
		</li>
		<li class="current">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostellevel'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Level_Label']); ?>
				</a>
			</div>
		</li>
		<li class="last">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostelroom'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Room_Label']); ?>
				</a>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>
<br />
<div class="message toolbar">
	<h2><?php echo $this->translate("Add") . ' ' . $this->labels['Level_Label']; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module' => 'hostel', 'controller' => 'hostelinformation', 'action' => 'hostellevel'), 'default', true); ?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<script type="text/javascript">
	dojo.addOnLoad(function (){
		dijit.byId('IdHostelBlock').set('value','');
		dijit.byId('IdHostelBlock').set('placeHolder','Select');
	});
</script>
<form dojoType="dijit.form.Form" id="myForm" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
		if (this.validate()) {
				return true;
		}
			else {
		return false;
		}
	</script>
	<table class="table" width="100%">
		<tr>
			<th colspan="4"><?php echo $this->translate($this->labels['Level_Label']) . ' ' . $this->translate("Details"); ?> </th>
		</tr>
		<?php if ($this->errMSg == '1') {
		?>
		<tr>
			<td colspan="4" align="center" style="color: red;"><?php echo $this->translate('The Name or Code is already in Use. Please try a different.')?></td>
		</tr>
		<?php } ?>
		
		<tr>
			<td><?php echo $this->translate("Name"); ?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostellevelForm->Name; ?>
				
				<td><?php echo $this->translate("Code"); ?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjhostellevelForm->Code; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Block_Label']); ?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjhostellevelForm->IdHostelBlock; ?> <?php echo $this->lobjhostellevelForm->UpdUser; ?>
				<?php echo $this->lobjhostellevelForm->UpdDate; ?></td>
				<td><?php echo $this->translate("Active"); ?></td>
				<td><?php echo $this->lobjhostellevelForm->Active; ?>
			</tr>
			<!--tr>
				<td>
					<?php echo $this->translate(''); ?>
				<td>
			</tr-->

			</table>
			<br />

			<table class="table" width="100%">
				<tr>
					<th colspan="4"><?php echo $this->translate("Inventory Details");?>
					</th>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate("Inventory Name");?>
						<span class="reqMark">*</span>
					</td>
					<td><?php echo $this->lobjhostellevelForm->InventoryName;?></td>
					<td>	
						<?php echo $this->translate("Quantity");?>
						<span class="reqMark">*</span>
					</td>
					<td><?php echo $this->lobjhostellevelForm->Quantity;?></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<?php echo $this->lobjhostellevelForm->Add;?>
						<?php echo $this->lobjhostellevelForm->Clear;?>
					</td>
				</tr>
			</table>
			<table id="table" class="table" width="100%">
				<tr>
					<th><?php echo $this->translate("Inventory Name");?>
					</th>
					<th><?php echo $this->translate("Quantity");?></th>
					<th><?php echo $this->translate("Delete");?></th>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<?php echo $this->lobjhostellevelForm->Save1;?>
					</td>
				</tr>
			</table>
			<br />
	

			<table class="table" width="100%">
				<tr>
					<td colspan='4' align='center'>
						<?php echo $this->lobjhostellevelForm->Save; ?>
					</td>
				</tr>
			</table>
		</form>
		<script>
		var rowids=1;
		var batchArray1  = new Array();
		function addrecords(){
			var flag = true;
			if(dijit.byId("InventoryName").value==''){
				dijit.byId("InventoryName").attr('required','true');
				dijit.byId("InventoryName").focus();
				alert("Inventory name is required");
				flag = false;
			}
			if(dijit.byId("Quantity").value=='' || dijit.byId("Quantity").value<='0'){
				dijit.byId("Quantity").attr('required','true');
				dijit.byId("Quantity").focus();
				alert("Quantity is required and should be greater than 0");
				flag = false;
			}
			if(flag == true) {
				InventoryInsertion();
			}
			return flag;
		}
		function InventoryInsertion(){
			var Inventory = dijit.byId("InventoryName").value;
			var InventoryName = dijit.byId("InventoryName").displayedValue;
			var Quantity = dijit.byId("Quantity").value;
			var QuantityName = dijit.byId("Quantity").displayedValue;
			batchArray1.push(InventoryName);
			if(arrHasDupes(batchArray1))
			{
				batchArray1 = batchArray1.unique();
				alert("Duplicate Entry");
			}
			else
			{
				var trow = document.getElementById('table').insertRow(rowids);
				var tcol0=trow.insertCell(0);
				var tcol1=trow.insertCell(1);
				var tcol2=trow.insertCell(2);
				tcol0.innerHTML="<input type='hidden' value='"+Inventory+"' name=InventoryNamegrid[]>"+InventoryName;
				tcol1.innerHTML="<input type='hidden' value='"+Quantity+"' name=QuantityNamegrid[]>"+QuantityName;
				tcol2.innerHTML="<a href='#' onClick='deleteRows(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
				rowids++;
			}
		}
		function deleteRows(r)
		{
			var ret = confirm('Are you sure to delete');
			if(ret == true){
				rowids--;
				var i=r.parentNode.parentNode.rowIndex;
				batchArray1.splice(parseInt(i-1),1);
				document.getElementById('table').deleteRow(i);
			}
		}
		function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
			var i, j, n;
			n=A.length;
		// to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
		}	}
		return false;
	}
	Array.prototype.unique = function () {
		var r = new Array();
		o:for(var i = 0, n = this.length; i < n; i++)
		{
			for(var x = 0, y = r.length; x < y; x++)
			{
				if(r[x]==this[i])
				{
					continue o;
				}
			}
			r[r.length] = this[i];
		}
		return r;
	}

		</script>