<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'index'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Block_Label']); ?>
				</a>
			</div>
		</li>
		<li class="prevDone empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostellevel'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Level_Label']); ?>
				</a>
			</div>
		</li>
		<li class="lastCurrent">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostelroom'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Room_Label']); ?>
				</a>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2>
		<?php echo $this->translate($this->labels['Room_Label']); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module' => 'hostel', 'controller' => 'hostelinformation', 'action' => 'hostelroom'), 'default', true); ?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<script type="text/javascript">
var rowids=1;
var batchArray1  = new Array();
dojo.addOnLoad(function (){
    dijit.byId('InventoryName').set('value','');
    dijit.byId('InventoryName').set('placeHolder','Select')
	
	 <?php if($this->GenderV=='') { ?>
		dijit.byId('Gender').set('value','');
    <?php } else { ?>
		dijit.byId('Gender').set('value',<?php echo $this->GenderV;?>);
    <?php } ?>
    dijit.byId('Gender').set('placeHolder','Select');    
});


	 	
<?php foreach($this->inventoryinfo as $inventory) { ?>
	batchArray1.push('<?php echo $inventory['Name']; ?>');
	rowids++;
<?php }?>
function getLevel(Idblock){
	if(Idblock != ''){
		$.ajax({
	        type: 'GET',
	        async: false,
	        url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'hostelinformation', 'action' => 'getlevellist'), 'default', true); ?>',
	        data: "Idblock=" + Idblock,
	        success: function(data) {
		        var obj = jQuery.parseJSON(data);
		        AutoFillNextEditableDropDown("Level",obj);
	        }
	    });
	}
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function clearpageAdd(){
	dijit.byId("InventoryName").reset();
	dijit.byId('InventoryName').set('value','');
	dijit.byId('InventoryName').set('placeHolder','Select');	
	dijit.byId('Quantity').set('value','1');
	dijit.byId('Quantity').set('placeHolder','Select');
}

function addrecords(){
	var flag = true;
 	if(dijit.byId("InventoryName").value==''){
	    dijit.byId("InventoryName").attr('required','true');
		dijit.byId("InventoryName").focus();
		alert("Inventory name is required");
		flag = false;
	}
	if(dijit.byId("Quantity").value=='' || dijit.byId("Quantity").value<='0'){
	    dijit.byId("Quantity").attr('required','true');
		dijit.byId("Quantity").focus();
		alert("Quantity is required and should be greater than 0");
		flag = false;
	}	
    if(flag == true) {
		InventoryInsertion();	
	}		
	return flag;
}

function InventoryInsertion(){
	var Inventory = dijit.byId("InventoryName").value;
	var InventoryName = dijit.byId("InventoryName").displayedValue;
	var Quantity = dijit.byId("Quantity").value;
	var QuantityName = dijit.byId("Quantity").displayedValue;
		
	batchArray1.push(InventoryName);
	if(arrHasDupes(batchArray1))
	{
		batchArray1 = batchArray1.unique();
		alert("Duplicate Entry");
	} 
	else 
	{
		var trow = document.getElementById('table').insertRow(rowids);
		var tcol0=trow.insertCell(0);
		var tcol1=trow.insertCell(1);
		var tcol2=trow.insertCell(2);
		
		tcol0.innerHTML="<input type='hidden' value='"+Inventory+"' name=InventoryNamegrid[]>"+InventoryName;
		tcol1.innerHTML="<input type='hidden' value='"+Quantity+"' name=QuantityNamegrid[]>"+QuantityName;
		tcol2.innerHTML="<a href='#' onClick='deleteRows(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
		rowids++;
	}
}

function deleteRows(r){
        var ret = confirm('Are you sure to delete');
        if(ret == true){
            rowids--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray1.splice(parseInt(i-1),1);
            document.getElementById('table').deleteRow(i);
        }
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

function validateform(){
	var flag = true;
 	if(dijit.byId("RoomName").value==''){
	    dijit.byId("RoomName").attr('required','true');
		dijit.byId("RoomName").focus();
		return false;
	}
	if(dijit.byId("RoomCode").value==''){
	    dijit.byId("RoomCode").attr('required','true');
		dijit.byId("RoomCode").focus();
		return false;
	}	
	if(dijit.byId("Block").value==''){
	    dijit.byId("Block").attr('required','true');
		dijit.byId("Block").focus();
		return false;
	}	
	if(dijit.byId("Level").value==''){
	    dijit.byId("Level").attr('required','true');
		dijit.byId("Level").focus();
		return false;
	}	
	if(dijit.byId("Capacity").value=='' || dijit.byId("Capacity").value<='0'){
	    dijit.byId("Capacity").attr('required','true');
		dijit.byId("Capacity").focus();
		return false;
	}		
	if(dijit.byId("RoomType").value==''){
	    dijit.byId("RoomType").attr('required','true');
		dijit.byId("RoomType").focus();
		return false;
	}	
	if(dijit.byId("Gender").value==''){
	    dijit.byId("Gender").attr('required','true');
		dijit.byId("Gender").focus();
		return false;
	}	
	return true;
}
</script>
<form action="" method="POST">
	<table class="table" width="100%">
		<tr>
			<th colspan="4"><?php echo $this->translate($this->labels['Room_Label']).' '.$this->translate("Details");?>
			</th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Name");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->RoomName;?> <?php echo $this->lobjhostelHostelinfoForm->IdHostelRoom;?>
			</td>
			<td><?php echo $this->translate("Code");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->RoomCode;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate($this->labels['Block_Label']);?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->Block;?></td>
			<td><?php //echo $this->defaultlanguage;?></td>
			<td><?php //echo $this->lobjhostelHostelinfoForm->DefaultLang;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate($this->labels['Level_Label']);?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->Level;?></td>
			<td><?php echo $this->translate("Capacity");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->Capacity;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Room Charge Type");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->RoomType;?></td>
			<td><?php echo $this->translate("Gender");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->Gender;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Property Of");?>
			</td>
			<td><?php echo $this->lobjhostelHostelinfoForm->PropertyOwner;?></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<br />
	<fieldset>
		<legend>
			<?php echo $this->translate("Inventory"); ?>
		</legend>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Inventory Details");?>
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Inventory Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjhostelHostelinfoForm->InventoryName;?></td>
				<td><?php echo $this->translate("Quantity");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjhostelHostelinfoForm->Quantity;?></td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<?php echo $this->lobjhostelHostelinfoForm->Add;?>
					<?php echo $this->lobjhostelHostelinfoForm->Clear;?>
				</td>
			</tr>
		</table>
		<table id="table" class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Inventory Name");?>
				</th>
				<th><?php echo $this->translate("Quantity");?></th>
				<th><?php echo $this->translate("Delete");?></th>
			</tr>
			<?php if(isset($this->inventoryinfo)){?>
			<?php foreach($this->inventoryinfo as $inventory){?>
			<tr>
				<td><?php echo $inventory['Name'];?><input type="hidden"
					value="<?php echo $inventory['InventoryName'] ?>"
					name="InventoryNamegrid[]" /></td>
				<td><?php echo $inventory['Quantity'];?><input type="hidden"
					value="<?php echo $inventory['Quantity'] ?>"
					name="QuantityNamegrid[]" /></td>
				<td>
					<a href='#' onClick='deleteRows(this); return false;'>
						<?php echo $this->translate('Delete'); ?>
					</a>
				</td>
			</tr>
			<?php }?>
			<?php }?>
			<tr>
				<td colspan="4" align="center"><?php echo $this->lobjhostelHostelinfoForm->Save1;?>
					
				</td>
			</tr>
		</table>
	</fieldset>
</form>
