<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'index'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Block_Label']); ?>
				</a>
			</div>
		</li>
		<li class="prevDone empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostellevel'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Level_Label']); ?>
				</a>
			</div>
		</li>
		<li class="lastCurrent">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostelroom'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Room_Label']); ?>
				</a>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2>
		<?php echo $this->translate($this->labels['Room_Label']); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module' => 'hostel', 'controller' => 'hostelinformation', 'action' => 'addhostelroom'), 'default', true); ?>" >
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<script type="text/javascript">
        dojo.addOnLoad(function (){
            dijit.byId('field8').set('value','');
            dijit.byId('field8').set('placeHolder','Select');
            dijit.byId('field10').set('value','');
            dijit.byId('field10').set('placeHolder','Select');
        });
</script>
<fieldset>
	<legend>
		<?php echo $this->translate("Search"); ?>
	</legend>
	<form action="" method="POST">
		<table width="100%">
			<tr>
				<td>
					<?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Name"); ?>
				</td>
				<td>
					<?php echo $this->lobjform->field2; ?>
				</td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Code"); ?>
				</td>
				<td>
					<?php echo $this->lobjform->field4; ?>
				</td>
			</tr>


			<tr>
				<td>
					<?php echo $this->translate($this->labels['Level_Label'])." ".$this->translate("Name"); ?>
				</td>
				<td>
					<?php echo $this->lobjform->field8; ?>
				</td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate($this->labels['Block_Label']).' '.$this->translate("Name"); ?>
				</td>
				<td>
					<?php echo $this->lobjform->field10; ?>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<?php echo $this->lobjform->Search; ?>
					<?php echo $this->lobjform->Clear; ?></td>
			</tr>
		</table>
	</form>
</fieldset>
<br />

<?php if($this->blankMsg=='1') { ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td align="center" style="color: red">No matching record found. Try different keywords.</td>
	</tr>
</table>
<?php } ?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th>
			<?php echo $this->translate($this->labels['Room_Label']) . ' ' . $this->translate("Name"); ?>
		</th>
		<th>
			<?php echo $this->translate("Capacity"); ?>
		</th>
		<th>
			<?php echo $this->translate("Type"); ?>
		</th>
		<th>
			<?php echo $this->translate($this->labels['Level_Label']) . ' ' . $this->translate("Name"); ?>
		</th>
		<th>
			<?php echo $this->translate($this->labels['Block_Label']) . ' ' . $this->translate("Name"); ?>
		</th>
		<th>
		</th>
	</tr>
	<?php if (count($this->paginator)){
		foreach ($this->paginator as $values){
		?>
	<tr>
		<td>
			
			<?php echo $values['RoomName'];?>
			
		</td>
		<td><?php echo $values['Capacity'];?></td>
		<td><?php echo $values['RoomType'];?></td>
		<td><?php echo $values['Level'];?></td>
		<td><?php echo $values['Block'];?></td>
		<td>
			<a href="<?php echo $this->baseUrl();?>/hostel/hostelinformation/edithostelroom/id/<?php echo $values['IdHostelRoom'];?>">
				<?php echo $this->translate('Edit'); ?>
			</a>
		</td>
	</tr>
	<?php } 
} ?>

	<tr>
		<td colspan="8" align="right">
			<div class="pagination">
				<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
									'/partials/my_pagination_control.phtml'); ?>
			</div>
		</td>
	</tr>
</table>
