<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'index'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Block_Label']); ?>
				</a>
			</div>
		</li>
		<li class="empty">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostellevel'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Level_Label']); ?>
				</a>
			</div>
		</li>
		<li class="last">
			<div class="text">
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'hostelinformation','action'=>'hostelroom'),'default',true) ?>">
					<?php echo $this->translate($this->labels['Room_Label']); ?>
				</a>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>

<br />

<div class="message toolbar">
	<h2>
		<?php echo $this->translate($this->labels['Block_Label']); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->baseUrl();?>/hostel/hostelinformation/addblockinfo" >
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<script>
dojo.addOnLoad(function(){	
             dijit.byId("Name").setAttribute('required', false);
             dijit.byId("Code").setAttribute('required', false);
	});
        
 function addrecords() {
     window.location = "<?php echo $this->baseUrl();?>/hostel/hostelinformation/addblockinfo";
 } 
 
 function clearpageAdd() {
     window.location = "<?php echo $this->baseUrl();?>/hostel/hostelinformation/index";
 }
</script>

	<fieldset>
		<legend>
			<?php echo $this->translate("Search");?>
		</legend>
		<form
			action="<?php echo $this->baseUrl();?>/hostel/hostelinformation/index/search/1"
			method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("Name");?></td>
					<td><?php echo $this->lobjform->Name;?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Code");?></td>
					<td><?php echo $this->lobjform->Code;?></td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
					</td>

				</tr>
			</table>
		</form>
	</fieldset>
	<br />

	<?php if($this->blankMsg=='1') { ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<td align="center" style="color: red">No matching record found. Try
				different keywords.</td>
		</tr>
	</table>
	<?php } ?>


	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate($this->labels['Block_Label']).' '.$this->translate("Name");?>
			</th>
			<th><?php echo $this->translate("Code");?></th>
			<th></th>
		</tr>

		<?php if (count($this->paginator)){
			foreach ($this->paginator as $values){
			?>
		<tr>
			<td><?php echo $values['Name'];?>
			</td>
			<td><?php echo $values['Code'];?></td>
			<td>
				<a href="<?php echo $this->baseUrl();?>/hostel/hostelinformation/addblockinfo/blockid/<?php echo $values['IdHostelBlock'];?>">
					<?php echo $this->translate('Edit'); ?>
				</a>
			</td>
		</tr>
		<?php } 
} ?>

		<tr>
			<td colspan="3" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>