<script type="text/javascript">
    dojo.addOnLoad(function() {
    /*dijit.byId('Country').set('value','');
    dijit.byId('Country').set('placeHolder','Select');

    dijit.byId('State').set('value','');
    dijit.byId('State').set('placeHolder','Select');*/
});
</script>
<div class="message toolbar">
	<h2>
		<?php echo $this->translate('Edit Institution'); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'institutionsetup', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form dojoType="dijit.form.Form" id="myForm" action="" method="post"
		name="myForm">
		<?php echo $this->lobjInstitutionsetupForm->UpdUser;?> <?php echo $this->lobjInstitutionsetupForm->IdInstitution;?>
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  return true;
                } else {
                  return false;
                }
				</script>
	<table class="table" width="100%">

		<tr>
			<th colspan="4"><?php echo $this->translate("Institution Details");?>
			</th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Institution Name");?><span
				class="reqMark">*</span></td>
			<td><?php echo $this->lobjInstitutionsetupForm->InstitutionName;?> <?php echo $this->lobjInstitutionsetupForm->UpdDate;?>
				<?php echo $this->lobjInstitutionsetupForm->UpdUser;?></td>
			<td><?php echo $this->translate("Institution Code");?></td>
			<td><?php echo $this->lobjInstitutionsetupForm->InstitutionCode;?></td>
		</tr>
        <tr>
            <td><?php echo $this->translate("Institution Type");?></td>
            <td><?php echo $this->lobjInstitutionsetupForm->InstitutionType;?></td>
        </tr>

		<tr>
			<th colspan="4"><?php echo $this->translate("Address Details");?>
			</th>
		</tr>
		<!-- address field validation commented out on 190712-sp4-11000 -->
		<tr>
			<td><?php echo $this->translate("Address 1");?> <!--<span
		class="reqMark">*</span>--></td>
			<td><?php echo $this->lobjInstitutionsetupForm->InstitutionAddress1;?>
			</td>
			<td><?php echo $this->translate("Address 2");?></td>
			<td><?php echo $this->lobjInstitutionsetupForm->InstitutionAddress2;?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Country");?> <!--<span class="reqMark">*</span>-->
			</td>
			<td><?php echo $this->lobjInstitutionsetupForm->Country;?></td>
			<td><?php echo $this->translate("State");?> <!--<span class="reqMark">*</span>-->
			</td>
			<td><?php echo $this->lobjInstitutionsetupForm->State;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("City");?> <!--<span class="reqMark">*</span>-->
			</td>
			<td><?php echo $this->lobjInstitutionsetupForm->City;?></td>
			<td><?php echo $this->translate("Zip Code");?></td>
			<td><?php echo $this->lobjInstitutionsetupForm->Zip;?></td>
		</tr>

		<tr>

			<td><?php echo $this->translate("Phone Number");?>
			</td>
			<td><?php echo $this->lobjInstitutionsetupForm->Phonecountrycode;?>
				<?php echo $this->lobjInstitutionsetupForm->Phonestatecode;?> <?php echo $this->lobjInstitutionsetupForm->InstitutionPhoneNumber;?>
			</td>
			<td><?php echo $this->translate("Fax Number");?>
			</td>
			<td><?php echo $this->lobjInstitutionsetupForm->faxcountrycode;?> <?php echo $this->lobjInstitutionsetupForm->faxstatecode;?>
				<?php echo $this->lobjInstitutionsetupForm->InstitutionFaxNumber;?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Active");?></td>
			<td><?php echo $this->lobjInstitutionsetupForm->Active;?></td>
		</tr>
	</table>
	<table class="table" width="100%">

			<tr>
				<td colspan=4 align="center">
					<?php echo $this->lobjInstitutionsetupForm->Save;?>
				</td>
			</tr>
		</table>
</form>