<div class="message toolbar" xmlns="http://www.w3.org/1999/html">
	<h2>
		<?php echo  $this->translate("Add Agent"); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'agentprofile', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form dojoType="dijit.form.Form" id="myForm1" action="" method="post" name="myForm">
    <script type="dojo/method" event="onSubmit">
    if (this.validate())
	{
    	if(checkphonefield()){
    		return true;
        }else{
        	return false;
        }
   	}
	else
	{
    	return false;
    }
  </script>
    <fieldset>
        <legend>
            <?php echo $this->translate("Agent Info");?>
        </legend>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Agent Details");?>
                </th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Agent Name");?><span
                        class="reqMark">*</span></td>
                <td><?php echo $this->lobjAgentprofileForm->name;?> <?php echo $this->lobjAgentprofileForm->created_at;?>
                    <?php echo $this->lobjAgentprofileForm->created_by;?></td>
                <td><?php echo $this->translate("Agent Code");?></td>
                <td><?php echo $this->lobjAgentprofileForm->code;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Type");?></td>
                <td><?php echo $this->lobjAgentprofileForm->type;?></td>
                <td><?php echo $this->translate("Payment Plan");?></td>
                <td><?php echo $this->lobjAgentprofileForm->payment_plan_id;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Status");?></td>
                <td><?php echo $this->lobjAgentprofileForm->status_id;?></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
    </br>
    <fieldset>
        <legend>
            <?php echo $this->translate("Contact Info");?>
        </legend>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Address Details");?>
                </th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Contact Person");?></td>
                <td><?php echo $this->lobjAgentprofileForm->ContactPerson;?></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Address 1");?> <!--<span
			class="reqMark">*</span>--></td>
                <td><?php echo $this->lobjAgentprofileForm->Address1;?>
                </td>
                <td><?php echo $this->translate("Address 2");?></td>
                <td><?php echo $this->lobjAgentprofileForm->Address2;?>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Country");?> <!--<span class="reqMark">*</span>-->
                </td>
                <td><?php echo $this->lobjAgentprofileForm->Country;?></td>
                <td><?php echo $this->translate("State");?> <!--<span class="reqMark">*</span>-->
                </td>
                <td><?php echo $this->lobjAgentprofileForm->State;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("City");?> <!--<span class="reqMark">*</span>-->
                </td>
                <td><?php echo $this->lobjAgentprofileForm->City;?></td>
                <td><?php echo $this->translate("Zip Code");?></td>
                <td><?php echo $this->lobjAgentprofileForm->Zip;?></td>
            </tr>
            </br>
            <tr>
                <th colspan="4"><?php echo $this->translate("Contact Details");?>
                </th>
            </tr>
            <tr>

                <td><?php echo $this->translate("Phone Number");?>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->phone_no;?>
                </td>
                <td><?php echo $this->translate("Fax Number");?>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->fax_no;?>
                </td>
            </tr>
        </table>
    </fieldset>
    <br />

    <fieldset>
        <legend>
            <?php echo $this->translate("Login Info");?>
        </legend>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Login Details");?>
                </th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Email");?>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->email;?>
                </td>
                <td><?php echo $this->translate("Password");?>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->password;?>
                </td>
            </tr>
        </table>
    </fieldset>
    <br />

    <fieldset>
        <legend>
            <?php echo $this->translate("Agreement Info");?>
        </legend>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Agreement Details");?>
                </th>
            </tr>

            <tr>
                <td><?php echo $this->translate("Start Date");?><span class="reqMark">*</span>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->RegistrationLocationScheme;?>
                </td>
                <td><?php echo $this->translate("End Date");?><span
                        class="reqMark">*</span></td>
                <td><?php echo $this->lobjAgentprofileForm->RegistrationLocationDate;?>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Agreement No");?><span
                        class="reqMark">*</span></td>
                <td><?php echo $this->lobjAgentprofileForm->RegistrationLocationTime;?>
                </td>
                <td><?php echo $this->translate("Description");?><span class="reqMark">*</span>
                </td>
                <td><?php echo $this->lobjAgentprofileForm->RegistrationLocationRemarks;?>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right"><input type="button" class="NormalBtn"
                                                     dojotype="dijit.form.Button"
                                                     label="<?php echo $this->translate("Add"); ?>"
                                                     onclick="addregistration()" /> <?php echo $this->lobjAgentprofileForm->Clear;?>
                </td>
            </tr>
        </table>
        <table class="table" width="100%" id="hor">
            <tr>
                <th><?php echo $this->translate("Start Date")?></th>
                <th><?php echo $this->translate("End Date");?></th>
                <th><?php echo $this->translate("Agreement No"); ?></th>
                <th><?php echo $this->translate("Description"); ?></th>
                <th></th>
            </tr>
        </table>
        <table class="table" width="100%">
            <tr>
                <td align="right"><?php echo $this->lobjAgentprofileForm->Save;?>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<script type="text/javascript">
    dojo.addOnLoad(function() {

        var idCountry = dijit.byId('Country').value;
        fnGetCountryStateList(idCountry);
        dijit.byId('State').set('value','');
        dijit.byId('State').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('City').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('City').set('value','');
        dijit.byId('Country').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('Country').set('value','');
        dijit.byId('type').set('value','');
        dijit.byId('type').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('status_id').set('value','');
        dijit.byId('status_id').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('payment_plan_id').set('value','');
        dijit.byId('payment_plan_id').set('placeHolder','<?php echo $this->translate('Select')?>');

    });

    function fnGetCountryStateList(idCountry){
        if(idCountry != "")
        {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
                handleAs:'json',
                load:function(data){
                    AutoFillNextEditableDropDown("State",data);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function fnGetStateCityList(idState){
        if(idState != "")
        { var xhrArgs = {
            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
            handleAs:'json',
            load:function(data){
                AutoFillNextEditableDropDown("City",data);
            }
        }
            dojo.xhrGet(xhrArgs);
        }
    }


    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }
    function clearregistrationpoint(){
        dijit.byId('RegistrationLocationScheme').set('value','');
        dijit.byId('RegistrationLocationDate').set('value','<?php echo date('d-m-Y');?>');
        dijit.byId('RegistrationLocationTime').set('value','');
        dijit.byId('RegistrationLocationRemarks').set('value','');
        dijit.byId('RegistrationLocationScheme').set('value','');
        dijit.byId('RegistrationLocationScheme').set('placeHolder','<?php echo $this->translate('Select')?>');
    }

    function addregistration(){
        var flag = true;

        if(dijit.byId("RegistrationLocationScheme").value==''){
            dijit.byId("RegistrationLocationScheme").attr('required','true');
            dijit.byId("RegistrationLocationScheme").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationDate") .value == 'Invalid Date'){
            dijit.byId("RegistrationLocationDate").attr('required','true');
            dijit.byId("RegistrationLocationDate").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationTime").value==''){
            dijit.byId("RegistrationLocationTime").attr('required','true');
            dijit.byId("RegistrationLocationTime").focus();
            flag = false;
        }
        if($("#RegistrationLocationRemarks").val()==''){
            alert("Please add remarks.");
            dijit.byId("RegistrationLocationRemarks").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationName").value==''){
            dijit.byId("RegistrationLocationName").attr('required','true');
            dijit.byId("RegistrationLocationName").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationCode").value==''){
            dijit.byId("RegistrationLocationCode").attr('required','true');
            dijit.byId("RegistrationLocationCode").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationShortName").value==''){
            dijit.byId("RegistrationLocationShortName").attr('required','true');
            dijit.byId("RegistrationLocationShortName").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationDescription").value==''){
            dijit.byId("RegistrationLocationName").attr('required','true');
            dijit.byId("RegistrationLocationDescription").focus();
            flag = false;
        }

        if(dijit.byId("RegistrationLocationIntake").value==''){
            dijit.byId("RegistrationLocationIntake").attr('required','true');
            dijit.byId("RegistrationLocationIntake").focus();
            flag = false;
        }

        if(dijit.byId("country").value==''){
            dijit.byId("country").attr('required','true');
            dijit.byId("country").focus();
            flag = false;
        }

        if(dijit.byId("state").value==''){
            dijit.byId("state").attr('required','true');
            dijit.byId("state").focus();
            flag = false;
        }

        if(dijit.byId("city").value==''){
            dijit.byId("city").attr('required','true');
            dijit.byId("city").focus();
            flag = false;
        }
        if(flag){
            insertconfigDetails();
        }
    }

    function insertconfigDetails() {

        var RegistrationLocationScheme = dijit.byId("RegistrationLocationScheme").value;
        var RegistrationLocationDate = dijit.byId("RegistrationLocationDate").displayedValue;
        var RegistrationLocationTime = dijit.byId("RegistrationLocationTime").displayedValue;
        var RegistrationLocationRemarks = $("#RegistrationLocationRemarks").val();
        var RegistrationLocationSchemeDisplayValue = dijit.byId("RegistrationLocationScheme").displayedValue;
        var RegistrationLocationBranch = dijit.byId("RegistrationLocationBranch").value;
        var RegistrationLocationBranchDisplayValue = dijit.byId("RegistrationLocationBranch").displayedValue;
        var RegistrationLocationProgram = dijit.byId("RegistrationLocationProgram").value;
        var RegistrationLocationProgramDisplayValue  = dijit.byId("RegistrationLocationProgram").displayedValue;

        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        var tcol3=trow.insertCell(2);
        var tcol4=trow.insertCell(3);
        var tcol5=trow.insertCell(4);
        var tcol6=trow.insertCell(5);
        var tcol7=trow.insertCell(6);

        tcol1.innerHTML="<input type='hidden' value='"+RegistrationLocationBranch+"' name=RegistrationLocationBranch[]>"+RegistrationLocationBranchDisplayValue;
        tcol2.innerHTML="<input type='hidden' value='"+RegistrationLocationProgram+"' name=RegistrationLocationProgram[]>"+RegistrationLocationProgramDisplayValue;
        tcol3.innerHTML="<input type='hidden' value='"+RegistrationLocationScheme+"' name=RegistrationLocationScheme[]>"+RegistrationLocationSchemeDisplayValue;
        tcol4.innerHTML="<input type='hidden' value='"+RegistrationLocationDate+"' name=RegistrationLocationDate[]>"+RegistrationLocationDate;
        tcol5.innerHTML="<input type='hidden' value='"+RegistrationLocationTime+"' name=RegistrationLocationTime[]>"+RegistrationLocationTime;
        tcol6.innerHTML="<input type='hidden' value='"+RegistrationLocationRemarks+"' name=RegistrationLocationRemarks[]>"+RegistrationLocationRemarks;
        tcol7.innerHTML="<a href='#' onClick='deleteRow(this); return false;'> <?php echo $this->translate('Delete'); ?> </a>";

    }

    function deleteRow(r){
        rowid--;
        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);
    }

    var rowid=1;
    var batchArray  = new Array();
    var oldContent = "";
    var NoCnt	=	0;
    function addSubjectentry() {
        var subject = dijit.byId('IdSubject');
        var flag = true;
        if(subject.value == "") {
            dijit.byId("IdSubject").attr('required','true');
            dijit.byId("IdSubject").focus();
            flag = false;
        }
        if(flag) {
            insertdetails();
        }
    }

    function insertdetails() {
        var subject = dijit.byId("IdSubject").value;
        var subjectname = dijit.byId("IdSubject").displayedValue;
        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        batchArray.push(subjectname);
        console.log(batchArray);
        if(arrHasDupes(batchArray)) {
            alert("Duplicate Entry");
            batchArray = batchArray.unique();
            return false;
        }
        else {
            tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
            tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
            rowid++;
        }
    }

    function deleteRow(r)
    {
        rowid--;

        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);

    }

    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for(var i = 0, n = this.length; i < n; i++)
        {
            for(var x = 0, y = r.length; x < y; x++)
            {
                if(r[x]==this[i])
                {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }
</script>