<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Plan Type");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/plantype/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Plan  Type");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php echo $this->translate("Plan Description");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'plantype', 'action'=>'newplantype'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
    <fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Plan Name");?></th>
	       	    <th><?php echo $this->translate("Description");?></th>
	       </tr>
	         <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjAddPlantype ): ?>
	       <tr>
	       <td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'plantype', 'action'=>'editplantype' , 'id'=>$lobjAddPlantype['IdPlantype']),'default',true);?>" ><?php  echo $this->escape($lobjAddPlantype['Planname']);?></a></td>
	       <td><?php echo $this->escape($lobjAddPlantype['Description']);?></td>
	         <?php endforeach; ?>
	            <?php endif; ?> 
	       </tr>
	       <tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                   '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
	       
		</table>
	</fieldset>
  
	