<body class="claro">
	<div id="<?php echo $lsrtDivId?>" style="height:625px;width:100%;overflow:auto;">
		<div class="selected">&nbsp;</div>
		<fieldset>
			<legend><?php echo $this->translate->_("Plan Type");?></legend>
			<div class="register">
				<div class="profile_tab">
					<form dojoType="dijit.form.Form" onsubmit="return fnValidateForm()" action=""  method="POST"  name="mylobjuserForm" enctype="multipart/form-data">
					<script type="dojo/method" event="onSubmit">
                	if (this.validate()) {
						return true;
    	            } else {
        	            return false;
            	    }
				</script>
						<table id="hor-minimalist-b" class="table" width="100%">
						 <tr>
                            <th colspan = "4"><?php echo $this->translate("Plan Type");?></th>
                        </tr>       
							<tr>
								<td class = "label"><span id="label1"><?php echo $this->translate->_("Plan Name");?></span><span class="reqMark">*</span></td>
								<td ><?php echo $this->lobjPlantypeForm->Planname;?>
									<?php echo $this->lobjPlantypeForm->IdApplication;?>
                            	    <?php echo $this->lobjPlantypeForm->UpdDate;?>
                            	    <?php echo $this->lobjPlantypeForm->UpdUser;?></td>
								
							</tr>
							<tr>
								<td><?php echo $this->translate->_("Description");?></td>
								<td><?php echo $this->lobjPlantypeForm->Description ;?></td>

							</tr>
							<tr>
								<td><?php echo $this->translate->_("Active");?></td>
								<td ><?php echo $this->lobjPlantypeForm->Active;?></td>

							</tr>
								
								 <tr>
		                            <td></td>        
		                            <td align = "right"><?php echo $this->lobjPlantypeForm->Save;?>
										<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'plantype', 'action'=>'index'),'default',true);?>';" />	
		                            </td> 
                        	</tr>
						</table>
					</form>