<style type="text/css">
.zend_form dt {
    width: 177px;
}
.zend_form dd {
    padding: 2px 187px;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
    $("#select-all").click(function() {
        var checkBoxes = $("input[name=txn_id\\[\\]]");
        
        if ($(this).is(':checked')) {
        	checkBoxes.attr("checked", "checked");    
        }else{
        	checkBoxes.removeAttr("checked");
        }
        
    });                 
});


function compose(){
	$('#compose_form').html("");
	
	var checkBoxes = $("input[name=txn_id\\[\\]]");
	
	$(checkBoxes).each(function () {
		if ($(this).is(':checked')) {
			$('#compose_form').append('<input type="hidden" name="txn_id[]" value="'+$(this).val()+'" />');	
		}
	});

	$('#compose_form').submit();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:compose()">
					<span class='email'></span>
					<?php echo $this->translate("Compose Email")?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					<?php echo $this->translate("Search")?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div class="wrap">
<div id="search_form">
	<?php echo  $this->form;?>
</div>
</div>
