<?php
    $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
	$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/tagsinput/jquery.tagsinput.min.js'); 
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/tagsinput/jquery.tagsinput.css');

?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			
			<li class="divider"></li>	
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<form method="post" enctype="multipart/form-data">
	<input type="hidden" value="<?php echo $this->template['tpl_id']?>" name="tpl_id" />
	<div>
		<table width="100%" cellpadding="3" cellspacing="1">
			<tr>
				<td class="span-8"><?php echo $this->translate("Template Name"); ?></td>
				<td>
					<input class="input-txt" type="text" name="tpl_name" value="<?php echo $this->template['tpl_name']; ?>" required="required" />
				</td>
			</tr>
			<tr>
				<td class="span-8"><?php echo $this->translate("Type")?></td>
				<td>
					<select name="tpl_type" id="tpl_type" required="required" onchange="changetype()" class="select">
						<option value=""><?php echo $this->translate('Select')?></option>
						<?php foreach ( $this->commTypes as $type_id => $type_name ) : ?>
						<option <?php echo $this->template['tpl_type']==$type_id?'selected="selected"':''?> value="<?php echo $type_id?>"><?php echo $type_name ?></option>
						<?php endforeach; ?>
					</select>
			</tr>
			<tr class="foremail">
				<td><?php echo $this->translate("From Name"); ?></td>
				<td>
					<input class="input-txt" type="text" name="email_from_name" value="<?php echo $this->template['email_from_name']; ?>" />
				</td>
			</tr>
			<tr class="foremail">
				<td><?php echo $this->translate("From Email"); ?></td>
				<td>
					<input class="input-txt" type="text" name="email_from" value="<?php echo $this->template['email_from']; ?>" />
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Categories')?></td>
				<td>
					<input class="input-txt" id="tpl-cats" class="text" name="tpl_categories" value="<?php echo $this->template['tpl_categories']?>" />
					<small class="desc"><?php echo $this->translate('Separate values with comma')?></small>
				</td>
			</tr>
		</table>	
	</div>
	
	<br />
	
	<h3 class="title"><?php echo $this->translate("Content"); ?></h3>
	
	<div id="upload" style="display: none;">
		<table width="100%">
			<tr>
				<td class="span-8"><?php echo $this->translate("Standard Document English"); ?></td>
				<td><input type="file" name="fileen_US" id="file"></td>
			</tr>
			<tr class="span-8">
				<td><?php echo $this->translate("Standard Document Malay"); ?></td>
				<td><input type="file" name="filems_MY" id="file"></td>
			</tr>
		</table>
	</div>

	<div id="tabs">
		<ul>
			<?php foreach ($this->locales as $locale_code => $locale ) { ?>
				<li><a href="#tabs-<?php echo $locale_code?>"><?php echo $locale ?></a></li>
			<?php } ?>
		</ul>
		
		<?php foreach ($this->locales as $locale_code => $locale ) { ?>
		<div id="tabs-<?php echo $locale_code?>">
			<div class="content-tags">
				<?php foreach ( $this->tags as $tag ) : ?>
				<input type="button" class="btn-tag <?php echo $tag['tpl_id'] == '0' ? 'btn-tag-global' : '' ?>" title="<?php echo $tag['tag_value']?>" value="<?php echo $tag['tag_name']?>" onclick="addintoEditor('<?php echo strtolower($locale_code)?>',' [<?php echo $tag['tag_name']?>] ')" />
				<?php endforeach; ?>
			</div>
			<textarea name="content_<?php echo strtolower($locale_code)?>" class="tpl_content"><?php echo $this->content[$locale_code]?></textarea>
		</div>
		<?php } ?>

	</div>
	
	<div class="form-opt">
		<input class="btn-submit" type="submit" value="<?php echo $this->translate('Save')?>" />
	</div>
</form>

<script type="text/javascript">
$(function() {
	
	$( "#tabs" ).tabs();
	  
	<?php foreach ($this->locales as $locale_code => $locale ) { ?>
	CKEDITOR.replace( 'content_<?php echo strtolower($locale_code)?>',{
		removePlugins : 'resize,placementtest',
		toolbar : 'Basic'
	} );
	<?php } ?>
	
	$("#tpl_type").trigger('change');

	$('#tpl-cats').tagsInput({

		autocomplete_url:'<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-categories'), 'default', true);?>'
	});

	//<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-categories'), 'default', true);?>
	
});

function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template'), 'default', true);?>";

	return false;
}

function addintoEditor(locale,text)
{
	CKEDITOR.instances['content_'+locale].insertText(text);
}

function changetype()
{
	var type = $("#tpl_type").val();

	if (type == '<?php echo $this->commTypesByName['Email']?>')
	{
		$(".foremail").show();
	}
	else
	{
		$(".foremail").hide();
	}
        
        if (type == '<?php echo $this->commTypesByName['Standard Document']?>')
	{
		$("#tabs").hide();
                $("#upload").show();
	}
	else
	{
		$("#tabs").show();
                $("#upload").hide();
	}
}
</script>