<script>
$(function () {

	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });

	 $( "#myform2" ).submit(function( event ) {

		 var isChecked = $('.chk').is(':checked');		 
		  if (isChecked==true) {	

			  if ( $('#ec_id').val() == '' ) {	
				  alert('Please select exam center.');	   
			     return false;
			  }else{
			    return true;
			  }
		  }else{
			    alert("<?php echo $this->translate('You did not select any section. Please select.');?>");   
		    	return false;
		  }		 
		  event.preventDefault();
		});
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'assign-exam-center', 'action'=>'add'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>	
		</ul>
	</div>
</div>
<br></br>
<?php  if(count($this->student_list)>0){?>

<form name='myform2' id='myform2' method='post' action="<?php echo $this->url(array('module'=>'examination','controller'=>'assign-exam-center', 'action'=>'save'),'default',true);?>">

<?php echo $this->translate("Exam Center");?> : 
<select name='ec_id' id='ec_id' class='input-txt'>
	<option value=''><?php echo $this->translate("-- Please Select --");?></option>
	<?php foreach($this->exam_center as $ec){?>
		<option value='<?php echo $ec['ec_id'];?>'><?php echo $ec['ec_name']?></option>
	<?php } ?>
</select>
<br></br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>	
		<th><?php echo $this->translate("Student Name"); ?></th>		
		<th><?php echo $this->translate("Student ID"); ?></th>	
		<th><?php echo $this->translate("City");?></th>	
		<th><?php echo $this->translate("Assign?");?><br><input type="checkbox" id="checkall"  value="" > <?php  echo $this->translate("Check All"); ?></th>	
	</tr>
	<?php foreach($this->student_list as $index=>$student){?>
	<tr>
		<td align='center'><?php echo abs($index+1);?></td>
		<td align='left'><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td align='center'><?php echo $student['registrationId'];?></td>
		<td align='center'><?php echo ($student['er_idCity']==99) ? $student['er_idCityOthers']:$student['CityName'];?></td>
		<td align='center'><input type="checkbox" class="chk" id="er_id[]" name="er_id[]" value="<?php echo $student['er_id'];?>"></td>
	</tr>
	<?php } ?>
</table>
<div class="form-opt">	
<input type="submit" name="save" id="save" value="Save" class="btn-submit">
</div>
</form>
<?php } ?>