
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'assign-exam-center', 'action'=>'add'),'default',true);?>" >
					<span class='add'></span>
					Assign Student
				</a>
			</li>	
		</ul>
	</div>
</div>

<br>
<?php echo $this->form; ?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Name"); ?></th>		
		<th><?php echo $this->translate("Exam Center"); ?></th>		
		<th><?php echo $this->translate("Total Assigned Student"); ?></th>			
	</tr>		
	
	<?php if(count($this->ec_list)>0){
			foreach($this->ec_list as $index=>$ec){
	?>	
		<tr>		
			<td align='center'><?php echo $index+1;?></td>
			<td align='center'><?php echo $ec['SubCode']?></td>
			<td align='left'><?php echo ($this->locale=='ms_MY') ? $ec['subjectMainDefaultLanguage']:$ec['SubjectName'];?></td>
			<td align='center'><?php echo ($this->locale=='ms_MY') ? $ec['ec_default_language']:$ec['ec_name'];?></td>
			<td align='center'><a href="<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'list-student','idSemester'=>$this->idSemester,'idSubject'=>$ec['er_idSubject'],'ecid'=>$ec['ec_id'],'fr'=>1),'default',true);?>"><?php echo $ec['total_student'];?></a></td>			
		</tr>
		
	<?php } } ?>
</table>
	
