<div class="message toolbar">
  <h2>
    <?php echo $this->translate('Edit Registration Location'); ?>
  </h2>
  <div class="toolbar-button">
   <ul>
      <li>              
        <a href="<?php echo $this->url(array('module'=>'application','controller'=>'registrationlocation', 'action'=>'index'),'default',true);?>" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>
      </li>
    </ul>
  </div>
</div>
<br />

	<form dojoType="dijit.form.Form" id="myForm1" action="" method="post"
  name="myForm">
  <fieldset>
		<legend>
			<?php echo $this->translate("Registration Location");?>
		</legend>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Registration Location Details");?>
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Name");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationName;?>
				</td>
				<td><?php echo $this->translate("Registration Code");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationCode;?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Short Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationShortName;?>
				</td>
				<td><?php echo $this->translate("Description");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationDescription;?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Intake");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationIntake;?>
				</td>
         <td><?php echo $this->translate("Active");?></td>
        <td><?php echo $this->lobjformregistrationlocation->RegistrationLocationStatus;?>
        </td>
			</tr>
		</table>
	</fieldset>
	</br>
	<fieldset>
		<legend>
			<?php echo $this->translate("Address");?>
		</legend>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Address Details");?>
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Address 1");?></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationAddress1;?>
				</td>
				<td><?php echo $this->translate("Address 2");?></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationAddress2;?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Country");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjformregistrationlocation->country;?></td>
				<td><?php echo $this->translate("Province");?><span class="reqMark">*</span>
				</td>
				<td><?php 
          echo $this->lobjformregistrationlocation->state;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("City");?><span class="reqMark">*</span>
				</td>
				<td><?php 
          echo $this->lobjformregistrationlocation->city;
          ?></td>
				<td><?php echo $this->translate("Zip Code");?></td>
				<td><?php echo $this->lobjformregistrationlocation->zipCode;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Phone");?></td>
				<td><?php echo $this->lobjformregistrationlocation->Regcountrycode;?>
					<?php echo $this->lobjformregistrationlocation->Regstatecode;?> <?php echo $this->lobjformregistrationlocation->RegPhone;?>
				</td>
				<td><?php echo $this->translate("Fax");?></td>
				<td><?php echo $this->lobjformregistrationlocation->faxcountrycode;?>
					<?php echo $this->lobjformregistrationlocation->faxstatecode;?> <?php echo $this->lobjformregistrationlocation->fax;?>
				</td>
			</tr>
		</table>
	</fieldset>
	<br>
	<fieldset>
		<legend>
			<?php echo $this->translate("Registration Info");?>
		</legend>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Registration Details");?>
				</th>
			</tr>
      <tr>
        <td><?php echo $this->translate("Program");?><span class="reqMark"></span>
        </td>
        <td><?php echo $this->lobjformregistrationlocation->RegistrationLocationProgram;?>
        </td>
        <td><?php echo $this->translate("Branch");?><span class="reqMark"></span>
        </td>
        <td><?php echo $this->lobjformregistrationlocation->RegistrationLocationBranch;?>
        </td>
      </tr>
			<tr>
				<td><?php echo $this->translate("Scheme");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationScheme;?>
				</td>
				<td><?php echo $this->translate("Registration Date");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationDate;?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Registration Time");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationTime;?>
				</td>
				<td><?php echo $this->translate("Remarks");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjformregistrationlocation->RegistrationLocationRemarks;?>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="right"><input type="button" class="NormalBtn"
					dojotype="dijit.form.Button"
					label="<?php echo $this->translate("Add"); ?>"
					onclick="addregistration()" /> <?php echo $this->lobjformregistrationlocation->Clear;?>
				</td>
			</tr>
		</table>
		<table class="table" width="100%" id="hor">
			<tr>
        <th><?php echo $this->translate("Branch"); ?></th>
        <th><?php echo $this->translate("Program"); ?></th>
				<th><?php echo $this->translate("Scheme"); ?></th>
				<th><?php echo $this->translate("Registration Date")?></th>
				<th><?php echo $this->translate("Registration Time");?></th>
				<th><?php echo $this->translate("Remarks");?></th>
				<th></th>
			</tr>
			<?php foreach($this->larrstatusmessagelist as $statusmessage) { ?>
			<tr>
        <td>
            <?php echo $statusmessage['BranchName'] ?>
            <input
          type="hidden"
          value="<?php echo $statusmessage['RegistrationLocationBranch'] ?>"
          name="RegistrationLocationBranch[]" />
        </td>
        <td>
          <?php echo $statusmessage['ProgramName'] ?>
          <input
          type="hidden"
          value="<?php echo $statusmessage['RegistrationLocationProgram'] ?>"
          name="RegistrationLocationProgram[]" />
        </td>
				<td>
          <?php echo $statusmessage['EnglishDescription'] ?>
          <input
					type="hidden"
					value="<?php echo $statusmessage['RegistrationLocationScheme'] ?>"
					name="RegistrationLocationScheme[]" />
        </td>
				<td>
          <?php echo $statusmessage['RegistrationLocationDate'] ?>
          <input
					type="hidden"
					value="<?php echo $statusmessage['RegistrationLocationDate'] ?>"
					name="RegistrationLocationDate[]" />
        </td>
				<td>
          <?php echo $statusmessage['RegistrationLocationTime'] ?>
          <input
					type="hidden"
					value="<?php echo $statusmessage['RegistrationLocationTime'] ?>"
					name="RegistrationLocationTime[]" />
        </td>
				<td>
          <?php echo $statusmessage['RegistrationLocationRemarks'] ?>
          <input
					type="hidden"
					value="<?php echo $statusmessage['RegistrationLocationRemarks'] ?>"
					name="RegistrationLocationRemarks[]" />
        </td>
				<td><a href="#" onClick="deleteRow(this); return false;"> <?php echo $this->translate('Delete'); ?></a></td>
			</tr>
			<?php } ?>
		</table>
		<table class="table" width="100%">
			<tr>
				<td align="right">
          <?php 
            //$this->lobjformregistrationlocation->Save->onClick('submitForm()');
            echo $this->lobjformregistrationlocation->Save;
            ?>
				</td>
			</tr>
		</table>
	</fieldset>
</form>
<script type="text/javascript">
    var rowid = <?php echo count($this->larrstatusmessagelist) + 1; ?>;
   var batchArray  = new Array();
  dojo.addOnLoad(function() {
    var idCountry = dijit.byId('country').value;
    //fnGetCountryStateList(idCountry);
    //fnGetCountryStateList(<?php echo $this->cur_registrationlocation['state']; ?>);
    //fnGetCountryStateCityList(<?php echo $this->cur_registrationlocation['city']; ?>);
    dijit.byId('RegistrationLocationScheme').set('value','');
    dijit.byId('RegistrationLocationScheme').set('placeHolder','<?php echo $this->translate('Select')?>');
  });
function fnGetCountryStateList(idCountry){
  if(idCountry != "")
    {
      var xhrArgs = {
          url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
          handleAs:'json',
          load:function(data){
            AutoFillNextEditableDropDown("state",data);
          }
         }
      dojo.xhrGet(xhrArgs);
    }
  }
  function fnGetStateCityList(idState){
    if(idState != "")
      { var xhrArgs = {
            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
            handleAs:'json',
            load:function(data){
              AutoFillNextEditableDropDown("city",data);
            }
           }
        dojo.xhrGet(xhrArgs);
      }
    }

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    dijit.byId(EditableDropDownId).setValue("");
    var ddwidget = dijit.byId(EditableDropDownId);
    ddwidget.setAttribute('disabled', false);
      var options = {
          label:"name",
          identifier:"key",
          items:JSONText
          };
      ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
  }

function clearregistrationpoint(){
  dijit.byId('RegistrationLocationScheme').set('value','');
  dijit.byId('RegistrationLocationDate').set('value','<?php echo date('d-m-Y');?>');
  dijit.byId('RegistrationLocationTime').set('value','');
  dijit.byId('RegistrationLocationRemarks').set('value','');
  dijit.byId('RegistrationLocationScheme').set('value','');
  dijit.byId('RegistrationLocationScheme').set('placeHolder','<?php echo $this->translate('Select')?>');
}

function addregistration(){
  var flag = true;

    if(dijit.byId("RegistrationLocationScheme").value==''){
        dijit.byId("RegistrationLocationScheme").attr('required','true');
        dijit.byId("RegistrationLocationScheme").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationDate") .value == 'Invalid Date'){
        dijit.byId("RegistrationLocationDate").attr('required','true');
        dijit.byId("RegistrationLocationDate").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationTime").value==''){
        dijit.byId("RegistrationLocationTime").attr('required','true');
        dijit.byId("RegistrationLocationTime").focus();
        flag = false;
    }

    if($("#RegistrationLocationRemarks").val()==''){
        alert("Please enter remarks");
        $("#RegistrationLocationRemarks").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationName").value==''){
        dijit.byId("RegistrationLocationName").attr('required','true');
        dijit.byId("RegistrationLocationName").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationCode").value==''){
        dijit.byId("RegistrationLocationCode").attr('required','true');
        dijit.byId("RegistrationLocationCode").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationShortName").value==''){
        dijit.byId("RegistrationLocationShortName").attr('required','true');
        dijit.byId("RegistrationLocationShortName").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationDescription").value==''){
        dijit.byId("RegistrationLocationName").attr('required','true');
        dijit.byId("RegistrationLocationDescription").focus();
        flag = false;
    }

    if(dijit.byId("RegistrationLocationIntake").value==''){
        dijit.byId("RegistrationLocationIntake").attr('required','true');
        dijit.byId("RegistrationLocationIntake").focus();
        flag = false;
    }

    if(flag){
      insertconfigDetails();
    }
}

    function insertconfigDetails() {

      var RegistrationLocationScheme = dijit.byId("RegistrationLocationScheme").value;
      var RegistrationLocationDate = dijit.byId("RegistrationLocationDate").displayedValue;
      var RegistrationLocationTime = dijit.byId("RegistrationLocationTime").displayedValue;
      var RegistrationLocationRemarks = $("#RegistrationLocationRemarks").val();
      var RegistrationLocationSchemeDisplayValue = dijit.byId("RegistrationLocationScheme").displayedValue;
      
      var RegistrationLocationBranch = dijit.byId("RegistrationLocationBranch").value;
      var RegistrationLocationBranchDisplayValue = dijit.byId("RegistrationLocationBranch").displayedValue;
      var RegistrationLocationProgram = dijit.byId("RegistrationLocationProgram").value;
      var RegistrationLocationProgramDisplayValue  = dijit.byId("RegistrationLocationProgram").displayedValue;


      
      var trow=document.getElementById('hor').insertRow(rowid);
      var tcol1=trow.insertCell(0);
      var tcol2=trow.insertCell(1);
      var tcol3=trow.insertCell(2);
      var tcol4=trow.insertCell(3);
      var tcol5=trow.insertCell(4);
      var tcol6=trow.insertCell(5);
      var tcol7=trow.insertCell(6);


      tcol1.innerHTML="<input type='hidden' value='"+RegistrationLocationBranch+"' name=RegistrationLocationBranch[]>"+RegistrationLocationBranchDisplayValue;
      tcol2.innerHTML="<input type='hidden' value='"+RegistrationLocationProgram+"' name=RegistrationLocationProgram[]>"+RegistrationLocationProgramDisplayValue;
      tcol3.innerHTML="<input type='hidden' value='"+RegistrationLocationScheme+"' name=RegistrationLocationScheme[]>"+RegistrationLocationSchemeDisplayValue;
      tcol4.innerHTML="<input type='hidden' value='"+RegistrationLocationDate+"' name=RegistrationLocationDate[]>"+RegistrationLocationDate;
      tcol5.innerHTML="<input type='hidden' value='"+RegistrationLocationTime+"' name=RegistrationLocationTime[]>"+RegistrationLocationTime;
      tcol6.innerHTML="<input type='hidden' value='"+RegistrationLocationRemarks+"' name=RegistrationLocationRemarks[]>"+RegistrationLocationRemarks;
      tcol7.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate('delete'); ?></a>";
      
    }

    function deleteRow(r){
  rowid--;
  var i=r.parentNode.parentNode.rowIndex;
  batchArray.splice(parseInt(i-1),1);
  document.getElementById('hor').deleteRow(i);
  }


  function checkphonefield(){
 var workphone = dijit.byId("RegPhone").value;
 var workcountrycode = dijit.byId('Regcountrycode').value;
 var workstatecode = dijit.byId('Regstatecode').value;

 var fax = dijit.byId("fax").value;
 var faxstatecode = dijit.byId('faxstatecode').value;
 var faxcountrycode = dijit.byId('faxcountrycode').value;

 if(faxcountrycode!=''){
   if(faxstatecode == ''){
    dijit.byId("faxstatecode").focus();
    alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("faxstatecode").set( "state", "Error" );
    return false;
   }
   if(fax == ''){
     dijit.byId("fax").focus();
    alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("fax").set( "state", "Error" );
    return false;
   }
 }

 if(faxstatecode!=''){
   if(faxcountrycode == ''){
    dijit.byId("faxcountrycode").focus();
    alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("faxcountrycode").set( "state", "Error" );
    return false;
   }
   if(fax == ''){
     dijit.byId("fax").focus();
    alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("fax").set( "state", "Error" );
    return false;
   }
 }
  if(fax != ''){
    var len = fax.length;
    if(len < 5){
      dijit.byId("fax").focus();
      alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("fax").set( "state", "Error" );
      return false;
    }
    if(faxcountrycode == ''){
      dijit.byId("faxcountrycode").focus();
       alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("faxcountrycode").set( "state", "Error" );
      return false;
    }
    if(faxstatecode == ''){
      alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("faxstatecode").focus();
      dijit.byId("faxstatecode").set( "state", "Error" );
      return false;
    }
  }

 if(workcountrycode!=''){
   if(workstatecode == ''){
    dijit.byId("Regstatecode").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("Regstatecode").set( "state", "Error" );
    return false;
   }
   if(workphone == ''){
     dijit.byId("RegPhone").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("RegPhone").set( "state", "Error" );
    return false;
   }
 }

 if(workstatecode!=''){
   if(workcountrycode == ''){
    dijit.byId("Regcountrycode").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("Regcountrycode").set( "state", "Error" );
    return false;
   }
   if(workphone == ''){
     dijit.byId("RegPhone").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("RegPhone").set( "state", "Error" );
    return false;
   }
 }
  if(workphone != ''){
    var len = workphone.length;
    if(len < 5){
      dijit.byId("RegPhone").focus();
      alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("RegPhone").set( "state", "Error" );
      return false;
    }
    if(workcountrycode == ''){
      dijit.byId("Regcountrycode").focus();
       alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("Regcountrycode").set( "state", "Error" );
      return false;
    }
    if(workstatecode == ''){
      alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("Regstatecode").focus();
      dijit.byId("Regstatecode").set( "state", "Error" );
      return false;
    }
  }
  return true;
}

</script>

  <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
  </script>