<script type="text/javascript">
    function getSemester(id){

        var url = "<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('semester');
            },
            complete: function() {
                hideLoading('semester');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'</option>';
                });
                $('#semester').html(content);
            })
            .fail(function() {
                alert("error load semester");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Department'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->scheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Code'); ?></td>
                <td><?php echo $this->form->subcode; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Name'); ?></td>
                <td><?php echo $this->form->coursename; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="button" onclick="window.location.href='<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'clear-class-schedule'),'default',true);?>';" id="clear" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('Course Name'); ?></th>
        <th><?php echo $this->translate('Semester'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->list) {
        foreach ($this->list as $loop) {
            ?>
            <tr>
                <td align="center"><?php echo $loop['SubCode'].' - '.$loop['SubjectName']; ?></td>
                <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                <td align="center" class="options">
                    <a href="<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'view-exam-schedule', 'id'=>$loop['IdSubject'], 'semid'=>$loop['IdSemesterMaster']),'default',true);?>"><?php echo $this->translate('View Schedule'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>