<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'class-schedule'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Schedule Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="15%"><?php echo $this->translate('Group Name'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Group Code'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Course'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max Student'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['maxstud']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<table class="table" width="100%">
    <thead>
        <tr>
            <th>Class Type</th>
            <th>Lecturer</th>
            <th>Day</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Venue</th>
        </tr>
    </thead>
    <tbody>
    <?php
    if ($this->classList) {
        foreach ($this->classList as $classScheduleLoop) {
            ?>
            <tr>
                <td align="center"><?php echo $classScheduleLoop['classtype']; ?></td>
                <td align="center"><?php echo $classScheduleLoop['lecturername']; ?></td>
                <td align="center"><?php echo date('l', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_start_time']))); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_end_time']))); ?></td>
                <td align="center"><?php echo $classScheduleLoop['veneuname']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>