<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'exam-schedule'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Exam Schedule'); ?></legend>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Course Code'); ?></th>
            <th><?php echo $this->translate('Course Name'); ?></th>
            <th><?php echo $this->translate('Exam Date'); ?></th>
            <th><?php echo $this->translate('Exam Day'); ?></th>
            <th><?php echo $this->translate('Exam Time'); ?></th>
        </tr>
        <?php
        if ($this->examSchedule) {
            ?>
            <tr>
                <td align="center"><?php echo $this->examSchedule['SubCode']; ?></td>
                <td><?php echo $this->examSchedule['SubjectName']; ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($this->examSchedule['es_date'])); ?></td>
                <td align="center"><?php echo date('l', strtotime($this->examSchedule['es_date'])); ?></td>
                <td align="center"><?php echo date('h:i a', strtotime($this->examSchedule['es_start_time'])).' - '.date('h:i a', strtotime($this->examSchedule['es_end_time'])); ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Student List'); ?></legend>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Picture'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Mode of Study'); ?></th>
            <th><?php echo $this->translate('Mode of Programme'); ?></th>
            <th><?php echo $this->translate('Email'); ?></th>
            <th><?php echo $this->translate('Scholarship'); ?></th>
            <th><?php echo $this->translate('Sponsorship'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
        </tr>
        <?php
        if ($this->examStudent) {
            $no = 0;
            foreach ($this->examStudent as $studentLoop) {
                $no++;
                $studentRegistrationDb = new Registration_Model_DbTable_Studentregistration();
                $taggingFinancialAid = $studentRegistrationDb->getFinancialAidTagging($studentLoop['IdStudentRegistration']);
                ?>
                <tr>
                    <td align="center"><?php echo $no; ?></td>
                    <td align="center">
                        <?php if ($studentLoop['app_photo'] != '') {?>
                            <div class="app-photo"><a href="<?php echo $studentLoop['app_photo_full']; ?>" class="appdoc"><img src="<?php echo $studentLoop['app_photo']; ?>" alt="photo" /></a></div>
                        <?php } else { ?>
                            <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
                        <?php } ?>
                    </td>
                    <td><?php echo $studentLoop['studentName']; ?></td>
                    <td><?php echo $studentLoop['registrationId']; ?></td>
                    <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
                    <td align="center"><?php echo $studentLoop['mos']; ?></td>
                    <td align="center"><?php echo $studentLoop['mop']; ?></td>
                    <td align="center"><?php echo $studentLoop['appl_email']; ?></td>
                    <td align="center"><?php echo isset($taggingFinancialAid['Scholarship']) ? $taggingFinancialAid['Scholarship']:''; ?></td>
                    <td align="center"><?php echo isset($taggingFinancialAid['Sponsorship']) ? $taggingFinancialAid['Sponsorship']:''; ?></td>
                    <td align="center"><?php echo $studentLoop['statusname']; ?></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
</fieldset>