<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'schedule','controller'=>'schedule', 'action'=>'class-schedule'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Schedule Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="15%"><?php echo $this->translate('Group Name'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Group Code'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Course'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max Student'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['maxstud']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Picture'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Mode of Study'); ?></th>
        <th><?php echo $this->translate('Mode of Programme'); ?></th>
        <th><?php echo $this->translate('Email'); ?></th>
        <th><?php echo $this->translate('Scholarship'); ?></th>
        <th><?php echo $this->translate('Sponsorship'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
    </tr>
    <?php
    if ($this->studentList) {
        $no = 0;
        foreach ($this->studentList as $studentLoop) {
            $no++;
            $studentRegistrationDb = new Registration_Model_DbTable_Studentregistration();
            $taggingFinancialAid = $studentRegistrationDb->getFinancialAidTagging($studentLoop['IdStudentRegistration']);
            //var_dump($taggingFinancialAid);
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td align="center">
                    <?php if ($studentLoop['app_photo'] != '') {?>
                        <div class="app-photo"><a href="<?php echo $studentLoop['app_photo_full']; ?>" class="appdoc"><img src="<?php echo $studentLoop['app_photo']; ?>" alt="photo" /></a></div>
                    <?php } else { ?>
                        <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
                    <?php } ?>
                </td>
                <td><?php echo $studentLoop['studentName']; ?></td>
                <td><?php echo $studentLoop['registrationId']; ?></td>
                <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
                <td align="center"><?php echo $studentLoop['mos']; ?></td>
                <td align="center"><?php echo $studentLoop['mop']; ?></td>
                <td align="center"><?php echo $studentLoop['appl_email']; ?></td>
                <td align="center"><?php echo isset($taggingFinancialAid['Scholarship']) ? $taggingFinancialAid['Scholarship']:''; ?></td>
                <td align="center"><?php echo isset($taggingFinancialAid['Sponsorship']) ? $taggingFinancialAid['Sponsorship']:''; ?></td>
                <td align="center"><?php echo $studentLoop['Active']!=3 ? 'Active':'Withdraw'; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>