<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'announcements','action'=>'add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<li>
				<a href="#" onclick="return searchbox()">
					<span class='search'></span>
					<?php echo $this->translate('Search')?></a>
			</li>
		</ul>
	</div>
</div>
<br />
<div id="searchbox" <?php echo $this->search == 1 ? '': 'style="display:none"' ?>>
	<fieldset>
		<legend>Search</legend>

		<?php echo $this->form ?>

	</fieldset>
</div>

<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25"></th>
		<th width="30%"><?php echo $this->translate("Title");?></th>
		<th><?php echo $this->translate("Type");?></th>
		<th width='15%'><?php echo $this->translate("Programme");?></th>
		<th width='15%'><?php echo $this->translate("Intake");?></th>
		<th width='15%'><?php echo $this->translate("Semester");?></th>
                <th width='15%'><?php echo $this->translate("Status");?></th>
		<th width="15%"><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td align='center'>
		<?php if ( $data['sticky'] == 1 ) { ?>
			<span style="color:#aaa" class="tooltip icon-star"></span>
			<span class="tooltiptext"><?php echo $this->translate('Important Announcement')?></span>
		<?php } ?>
		</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'announcements', 'action'=>'edit', 'id'=>$data['id']),'default',true);?>">
				<?php echo $data['title']; ?>
			</a>
		</td>
		<td align='center'><?php echo App_Model_General_DbTable_Announcements::showTypes($data['type'])?></td>
                <td align='center'><?php echo $data['program_id'] == 0 ? 'All' : $data['program_name']?></td>
		<td align='center'><?php echo $data['intake_id'] == 0 ? 'All' : $data['intake_name']?></td>
 		<td align='center'><?php echo $data['semester_id'] == 0 ? 'All' : $data['semester_name']?></td>
                <td align='center'><?php echo $data['active'] == 1 ? 'Active':'Not Active' ?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No announcements yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
<script type="text/javascript">
function searchbox()
{
	$("#searchbox").toggle();
	return false;
}
</script>
<style type="text/css">
	#types-element input { margin-right:5px }
</style>
