<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/highcharts/highcharts.js');
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'index','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
            </li>
		</ul>
	</div>
</div>
<br />

<table width="100%">
	<tr>
		<td width="50%">
			<div id="chart" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
		</td>
		<td>
			<table width="100%" class="table">
				<tr>
					<th><?php echo $this->translate('Programme Name')?></th>
					<th><?php echo $this->translate('Total')?></th>
				</tr>
				<?php foreach ( $this->programmes as $prog ) { ?>
				<?php if ( isset($this->dataProg[ $prog['IdProgram'] ]) && $this->dataProg[ $prog['IdProgram'] ] > 0 ) { ?>
				<tr>
					<td width="60%"><?php echo $prog['ProgramName']?></td>
					<td align="center"><?php echo $this->dataProg[ $prog['IdProgram'] ] ?></td>
				</tr>
				<?php } ?>
				<?php } ?>
			</table>
		</td>
	</tr>
</table>

<script type="text/javascript">
<?php echo $this->chart->renderChart();?>
</script>