<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'view', 'pool_id'=>$this->pool_id),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend>Import</legend>
    <div class="fsm message notice">
        <span class="icon icon-info"></span>Only csv file supported
    </div>
    <form method="post" id='formupload' enctype="multipart/form-data">
        <table width="100%" class="table">
            <tr>
                <td width="25%"><?php echo $this->translate('Upload Question')?></td>
                <td><input type="file" id='file' name='file' required=""></td>
            </tr>
            <tr>
                <td><input type="hidden" id='id' name='id' value='<?php echo $this->id; ?>'></td>
                <td><button type="submit" id='upload' name='file' class='btn-submit'><span class="icon icon-upload"></span> <?php echo $this->translate('Upload')?></button></td>
            </tr>
        </table>
    </form>
</fieldset>