<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Secondary School Master Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/generalsetup/schoolmaster/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Secondary School Master Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                   <td><?php echo $this->translate("Bahasa Indonesia");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                </tr>
                <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schoolmaster', 'action'=>'newschoolmaster'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Secondary School Master Name");?></th>
	       	    <th ><?php echo $this->translate("Bahasa Indonesia");?></th>
	       </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjdepartment ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        <td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schoolmaster', 'action'=>'schoolmasterlist' , 'id'=>$lobjdepartment['idSchool']),'default',true);?>" ><?php print_r($this->escape($lobjdepartment['SchoolName']));?></a></td>
	         <td><?php echo $this->escape($lobjdepartment['School_ArabicName']);?></td>
	    		<?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
