<form method="post" id="form">
    <table>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Checklist Name'); ?><span class="reqMark">*</span></td>
                <td><?php echo $this->form->dcl_name; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Checklist Malay Name'); ?></td>
                <td><?php echo $this->form->dcl_malayName; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Active'); ?></td>
                <td><?php echo $this->form->dcl_activeStatus; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Mandatory'); ?></td>
                <td><?php echo $this->form->dcl_mandatory; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('upload'); ?></td>
                <td><?php echo $this->form->dcl_uplStatus; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Finance'); ?></td>
                <td><?php echo $this->form->dcl_finance; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Document Type'); ?></td>
                <td><?php echo $this->form->dcl_uplType; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Description'); ?></td>
                <td><?php echo $this->form->dcl_desc; ?></td>
            </tr>
        </tbody>
    </table>
</form>