<script type="text/javascript">
    $(function(){
        $('#clickemail').click(function(e){
            $("#sendEmail").submit();
        });
    });
    
	function assigndocs(trxId, dclId, tableId, sectionId){
        
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'assigndoc'),"default",true);?>/txnId/"+trxId+"/dclId/"+dclId+"/tableId/"+tableId+"/sectionId/"+sectionId;
        var data = {};

        $.ajax({
            type: "GET",
            url: url,
            data: data,
            dataType: 'json',
        })
        .done(function(data) {
            
		
           var content = "<h3><?php echo $this->translate('Assign Documents to Checklist')?></h3>";
	

			content += "<form onsubmit='return checkAD()' 'id='form_assigndoc' method='post' action='<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'assigndoc'),"default",true);?>'>";
            content += "<div id='fileTable'>";
			content += "<table class='table' width='100%'>";
            content += "<tr>";
            content += "<th colspan='2'><?php echo $this->translate("File Name"); ?></th>";
			content += "<th width='80'><?php echo $this->translate("Assigned"); ?>?</th>";
            content += "</tr>";
            
            if (data) {
                var i = 1;
                $.each(data,function(index){
					//alert(data[index].assigned_to);
                    content += "<tr>";
                    content += "<td align='center'><input type='checkbox' "+(data[index].assigned_to!=null?'disabled="disabled" title="This file has already been assigned"':'')+" name='file["+data[index].id+"]' value="+data[index].id+" class='chk'/></td>";
                    content += "<td><a href='<?php echo str_replace('/documents','',DOCUMENT_URL); ?>/migrate/AppDoc/"+data[index].filename+"' target='_blank'>"+data[index].real_filename+"</a></td>";
					content += "<td align='center'>"+(data[index].assigned_to!=null?'<span class="icon icon-check"></span>':'')+"</td>";
                    content += "</tr>";
                    i++;
                });
            }
            
            content += "</table>";
            content += "</div>";
            
            content += "<div class='form-opt'>";
           
            content += "<input id='trxId' type='hidden' name='txn_id' value='"+trxId+"'>";
            content += "<input id='dclId' type='hidden' name='dcl_id' value='"+dclId+"'>";
			content += "<input id='tableId' type='hidden' name='table_id' value='"+tableId+"'>";
            content += "<input id='sectionId' type='hidden' name='section_id' value='"+sectionId+"'>";
            content += "<input type='submit' value='Save' class='btn-submit'>";
            content += "</div>";
			content += "</form>";
            
            $("#fancybox").fancybox({
                helpers: {
                    title : {
                        type : 'float',
                    }
                }
            });
            $.fancybox({ 
                content: content,
                fitToView: false,
                width: 750,
                height: 400,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        })
        .fail(function() {
            alert("error has occured"); 
        });
    }
	
	function checkAD()
	{
		var total = $(".chk:checked").length;
		if ( total == 0 )
		{
			alert("<?php echo $this->translate('You didn\'t select any file')?>");
			return false;
		}

		return true;
	}

    function viewDocument(trxId, dclId, tableId, sectionId){
        
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'documentlist'),"default",true);?>/trxId/"+trxId+"/dclId/"+dclId+"/tableId/"+tableId+"/sectionId/"+sectionId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
        })
        .done(function(data) {
            
            var content = "";
            content = "<div id='fileTable'>";
            content += "<table class='table' width='100%'>";
            content += "<tr>";
            content += "<th><?php echo $this->translate("No"); ?></th>";
            content += "<th><?php echo $this->translate("File Name"); ?></th>";
            //content += "<th><?php //echo $this->translate("Upload By"); ?></th>";
            content += "<th><?php echo $this->translate("Upload Date"); ?></th>";
            content += "<th><?php echo $this->translate(""); ?></th>";
            content += "</tr>";
            
            if (data) {
                var i = 1;
                $.each(data,function(index){
                    content += "<tr>";
                    content += "<td align='center'>"+i+"</td>";
                    content += "<td><a href='<?php echo DOCUMENT_URL; ?>"+data[index].ad_filepath+"' target='_blank'>"+data[index].ad_ori_filename+"</a></td>";
                    //content += "<td>"+data[index].ad_createdby+"</td>";
                    content += "<td>"+data[index].ad_createddt+"</td>";
                    content += "<td><a onclick='delUpload();' href='<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'delete-upload-file'),"default",true);?>/id/"+data[index].ad_id+"'><?php echo $this->translate('Delete'); ?><a></td>";
                    content += "</tr>";
                    i++;
                });
            }
            
            content += "</table>";
            content += "</div>";
            
            content += "<div class='form-opt'>";
            content += "<form enctype='multipart/form-data' id='uploadFile' method='post' action='<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'upload-file'),"default",true);?>'>";
            content += "<input id='file' type='file' name='file' required>";
            content += "<input id='trxId' type='hidden' name='trx_id' value='"+trxId+"'>";
            content += "<input id='dclId' type='hidden' name='dcl_id' value='"+dclId+"'>";
            content += "<input id='tableId' type='hidden' name='table_id' value='"+tableId+"'>";
            content += "<input id='sectionId' type='hidden' name='section_id' value='"+sectionId+"'>";
            content += "<input type='submit' value='upload' class='btn-submit'>";
            content += "</form>";
            content += "</div>";
            
            $("#fancybox").fancybox({
                helpers: {
                    title : {
                        type : 'float',
                    }
                }
            });
            $.fancybox({ 
                content: content,
                fitToView: false,
                width: 750,
                height: 300,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        })
        .fail(function() {
            alert("error load document checklist"); 
        });
    }
    
    function uploadfile(trxId, dclId, tableId, sectionId){
    
        $("#uploadFile").submit();
        /*var data = $("#uploadFile").serialize();
        $.ajax({
            data: data,
            type: "POST",
            dataType: "json",
            url: "<?php //echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'upload-file'),"default",true);?>/trxId/"+trxId+"/dclId/"+dclId+"/tableId/"+tableId+"/sectionId/"+sectionId
        })
        .done(function(data) {
            
            var content = "";
            content = "<table class='table' width='100%'>";
            content += "<tr>";
            content += "<th><?php //echo $this->translate("Bil"); ?></th>";
            content += "<th><?php //echo $this->translate("File Name"); ?></th>";
            content += "<th><?php //echo $this->translate("Upload By"); ?></th>";
            content += "<th><?php //echo $this->translate("Upload Date"); ?></th>";
            content += "<th><?php //echo $this->translate(""); ?></th>";
            content += "</tr>";
            
            if (data){
                var i = 1;
                $.each(data,function(index){
                    content += "<tr>";
                    content += "<td align='center'>"+i+"</td>";
                    content += "<td><a href='#'>"+data[index].ad_ori_filename+"</a></td>";
                    content += "<td>"+data[index].ad_createdby+"</td>";
                    content += "<td>"+data[index].ad_createddt+"</td>";
                    content += "<td><a href='#'><?php //echo $this->translate('Delete'); ?><a></td>";
                    content += "</tr>";
                    i++;
                });
            }
            
            content += "</table>";
            
            $('#fileTable').html(content);
        })
        .fail(function() {
            alert("error load upload file"); 
        });*/
    }
    
    function delChecklist(element){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this checklist ?')?>');

	if ( ask === false ){
            return false;
	}else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'delete-checklist', 'trxId'=>$this->appTrxId),"default",true);?>/id/"+element;
            return true;
        }
	return true;
    }
    
    function delUpload(){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this file ?')?>');

	if ( ask === false ){
            return false;
	}
	return true;
    }
    
    function refreshPayment(){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to update payment for this checklist ?')?>');

	if ( ask === false ){
            return false;
	}else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'refresh-payment-status', 'trxId'=>$this->appTrxId),"default",true);?>";
            return true;
        }
	return true;
    }
    
    function refreshWaived(){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to update waived for this checklist ?')?>');

	if ( ask === false ){
            return false;
	}else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'update-waived', 'trxId'=>$this->appTrxId),"default",true);?>";
            return true;
        }
	return true;
    }
</script>
<style type="text/css">
    .flash { color:green; font-weight:bold; }
	.select.span-4 { width:150px }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" id="clickemail">
                <span class='email'></span>
                <?php echo $this->translate("Email");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='add' onclick="addChecklist();"></span>
		<?php echo $this->translate("Add Checklist");?>
		</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'checklist-verification', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Applicant Name").' : '.$this->applicantName; ?></li>
        <li><?php echo $this->translate("Applicant Id").' : '.$this->applicantId; ?></li>
        <li><?php echo $this->translate("Program").' : '.$this->programName; ?></li>
        <li><?php echo $this->translate("Program Scheme").' : '.$this->programScheme; ?></li>
        <li><?php echo $this->translate("Student Category").' : '.$this->studentCategory; ?></li>
        <li><?php echo $this->translate("Intake").' : '.$this->intake; ?></li>
        <li><?php echo $this->translate("Status").' : '.Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->status); ?></li>
    </ul>
</fieldset>
<div id="tooltip-save" align="center">
    <span class="flash" style="display:none"><br/><?php echo $this->translate("Information saved!")?></span>
</div>
<br/>
<form method="post">
<table id="tbl_program" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Checklist Name");?></th>
            <th><?php echo $this->translate("Checklist Description");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Comment");?></th>
            <th><?php echo $this->translate("Upload Status");?></th>
            <th><?php echo $this->translate("Update By");?></th>
            <th><?php echo $this->translate("Update Date");?></th>
            <th><?php echo $this->translate("");?></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody>
    <?php
    //var_dump($this->docChecklist); exit;
    if (count($this->docChecklist) > 0):
    foreach($this->docChecklist as $dclLoop):
    //$list = false;
    //if ($dclLoop['table_name']!=NULL && $dclLoop['table_id_column']!=NULL && $dclLoop['table_id_column']!=NULL){
    $list = Application_Model_DbTable_ChecklistVerification::universalQueryAll($dclLoop['table_name'], '*', $dclLoop['table_id_column'].' = '.$this->appTrxId, $dclLoop['table_join'], $dclLoop['join_column1'], $dclLoop['join_column2']);
    //}
    if ($list){
        $rowspan = count($list);
    }else{
        $rowspan = 1;
    }
    ?>
        <tr id='<?php echo $dclLoop['dcl_Id'];?>'>
            <td rowspan="<?php echo $rowspan; ?>" valign="top"><?php echo $dclLoop['dcl_name'];?><?php echo ($dclLoop['dcl_mandatory']==1 ? '<span class="reqMark" style="color: red;">*</span>':''); ?></td>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <input type="hidden" name="dcl_Id[]" value="<?php echo $dclLoop['dcl_Id']; ?>"/>
            <input type="hidden" name="section_Id[]" value="<?php echo $dclLoop['dcl_sectionid']; ?>"/>
            <input type="hidden" name="table_name[]" value="<?php echo $dclLoop['table_name']; ?>"/>
            <input type="hidden" name="table_id[]" value="<?php echo $listLoop[$dclLoop['table_primary_id']]; ?>"/>
            <td><?php echo (($listLoop[$dclLoop['table_column']] == false || count($list) == 1) ? '':$listLoop[$dclLoop['table_column']]); ?></td>
            <?php 
            break;
            endforeach;
            else :
            ?>
            <input type="hidden" name="dcl_Id[]" value="<?php echo $dclLoop['dcl_Id']; ?>"/>
            <input type="hidden" name="section_Id[]" value="<?php echo $dclLoop['dcl_sectionid']; ?>"/>
            <input type="hidden" name="table_name[]" value="<?php echo $dclLoop['table_name']; ?>"/>
            <input type="hidden" name="table_id[]" value="0"/>
            <td></td>
            <?php
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            $checklistStatus1 = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_status', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']].' and ads_section_id='.$dclLoop['id']);
            $uplSts1 = Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($this->appTrxId, $dclLoop['dcl_Id'], 'ad_id', $listLoop[$dclLoop['table_primary_id']], $dclLoop['id']);
            
            if ($this->role != 1){
                if ($dclLoop['dcl_finance']!=0){
                    $disabled = 'disabled=""';
                    echo '<input type="hidden" id="field2" name="field2[]" value="'.$checklistStatus1.'">';
                }else{
                    $disabled = '';
                }
            }else{
                $disabled = '';
            }
            ?>
            <td align="center">
                <?php //echo $this->checklistVerificationForm->field2; ?>
                <select class="select span-4" id="field2" name="field2[]" <?php echo $disabled; ?>>
                    <option label="-- Select --" value="0">-- Select --</option>
                    <option label="New" value="1" <?php echo (($checklistStatus1 == 1 || $uplSts1 != FALSE) ? 'selected="selected"':''); ?>><?php echo $this->translate("New"); ?></option>
                    <option label="Viewed" value="2" <?php echo ($checklistStatus1 == 2 ? 'selected="selected"':''); ?>><?php echo $this->translate("Viewed"); ?></option>
                    <option label="Incomplete" value="3" <?php echo ($checklistStatus1 == 3 ? 'selected="selected"':''); ?>><?php echo $this->translate("Incomplete"); ?></option>
                    <option label="Complete" value="4" <?php echo ($checklistStatus1 == 4 ? 'selected="selected"':''); ?>><?php echo $this->translate("Complete"); ?></option>
                    <option label="Not Applicable" value="5" <?php echo ($checklistStatus1 == 5 ? 'selected="selected"':''); ?>><?php echo $this->translate("Not Applicable"); ?></option>
                </select>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td align="center">
                <?php 
                $checklistStatus2 = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_status', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id']); 
                $uplSts2 = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_documents', 'ad_id', 'ad_txn_id='.$this->appTrxId.' and ad_dcl_id='.$dclLoop['dcl_Id'].' and ad_section_id='.$dclLoop['id']);
                
                if ($this->role != 1){
                    if ($dclLoop['dcl_finance']!=0){
                        $disabled = 'disabled=""';
                        echo '<input type="hidden" id="field2" name="field2[]" value="'.$checklistStatus2.'">';
                    }else{
                        $disabled = '';
                    }
                }else{
                    $disabled = '';
                }
                ?>
                <select class="select span-4" id="field2" name="field2[]" <?php echo $disabled; ?>>
                    <option label="-- Select --" value="0">-- Select --</option>
                    <option label="New" value="1" <?php echo (($checklistStatus2 == 1 || $uplSts2 != FALSE) ? 'selected="selected"':''); ?>><?php echo $this->translate("New"); ?></option>
                    <option label="Viewed" value="2" <?php echo ($checklistStatus2 == 2 ? 'selected="selected"':''); ?>><?php echo $this->translate("Viewed"); ?></option>
                    <option label="Incomplete" value="3" <?php echo ($checklistStatus2 == 3 ? 'selected="selected"':''); ?>><?php echo $this->translate("Incomplete"); ?></option>
                    <option label="Complete" value="4" <?php echo ($checklistStatus2 == 4 ? 'selected="selected"':''); ?>><?php echo $this->translate("Complete"); ?></option>
                    <option label="Not Applicable" value="5" <?php echo ($checklistStatus2 == 5 ? 'selected="selected"':''); ?>><?php echo $this->translate("Not Applicable"); ?></option>
                </select>
            </td>
            <?php
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <td align="center">
                <?php //echo $this->checklistVerificationForm->field1;
                $comment1 = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_comment', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id']);
                
                if ($this->role != 1){
                    if ($dclLoop['dcl_finance']!=0){
                        $disabled = 'disabled=""';
                        echo '<input type="hidden" id="field1" name="comment[]" value="'.$comment1.'">';
                    }else{
                        $disabled = '';
                    }
                }else{
                    $disabled = '';
                }
                ?>
                <input type="text" class="input-txt span-7" value="<?php echo $comment1; ?>" id="field1" name="comment[]" <?php echo $disabled; ?>>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td align="center">
                <?php //echo $this->checklistVerificationForm->field1; 
                $comment2 = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_comment', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id']);
                
                if ($this->role != 1){
                    if ($dclLoop['dcl_finance']!=0){
                        $disabled = 'disabled=""';
                        echo '<input type="hidden" id="field1" name="comment[]" value="'.$comment2.'">';
                    }else{
                        $disabled = '';
                    }
                }else{
                    $disabled = '';
                }
                ?>
                <input type="text" class="input-txt span-7" value="<?php echo $comment2; ?>" id="field1" name="comment[]" <?php echo $disabled; ?>>
            </td>
            <?php
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <td align="center">
                <?php 
                    echo (Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($this->appTrxId, $dclLoop['dcl_Id'], 'ad_id', $listLoop[$dclLoop['table_primary_id']], $dclLoop['id']) != FALSE ? 'Uploaded':'Not Upload');
                ?>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td align="center">
                <?php echo (Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_documents', 'ad_id', 'ad_txn_id='.$this->appTrxId.' and ad_dcl_id='.$dclLoop['dcl_Id'].' and ad_section_id='.$dclLoop['id']) != FALSE ? 'Uploaded':'Not Upload'); ?>
            </td>
            <?php     
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <td align="center">
                <?php 
                $iduser = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modBy', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']]); 
                
                echo ($iduser==0 && $checklistStatus1==0) ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_user', 'loginName', 'iduser = '.$iduser);
                ?>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td align="center">
                <?php 
                $iduser = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modBy', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id']); 
                
                echo ($iduser==0 && $checklistStatus2==0) ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_user', 'loginName', 'iduser = '.$iduser);
                ?>
            </td>
            <?php     
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <td align="center">
                <?php
                $moddate = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modDate', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']]);
                echo $moddate=='0000-00-00 00:00:00'||$moddate==false ? '':date('d-m-Y', strtotime($moddate));
                ?>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td align="center">
                <?php
                $moddate = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modDate', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id']);
                echo $moddate=='0000-00-00 00:00:00'||$moddate==false ? '':date('d-m-Y', strtotime($moddate));
                ?>
            </td>
            <?php     
            endif;
            ?>
            <?php
            if ($list):
            foreach ($list as $listLoop):
            ?>
            <td  class="options center">
				<?php if ( $this->hasdocs ) { ?>
				<a href="#" onclick="return assigndocs('<?php echo $this->appTrxId?>', '<?php echo $dclLoop['dcl_Id'] ?>','<?php echo $listLoop[$dclLoop['table_primary_id']]?>','<?php echo $dclLoop['id']?>')"><?php echo $this->translate('Assign')?></a> |
				<?php } ?>

                <?php 
                echo (Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($this->appTrxId, $dclLoop['dcl_Id'], 'ad_id', $listLoop[$dclLoop['table_primary_id']], $dclLoop['id']) != FALSE ? 
                        '<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', '.$listLoop[$dclLoop['table_primary_id']].', '.$dclLoop['id'].')">View Document</a>':'<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', '.$listLoop[$dclLoop['table_primary_id']].', '.$dclLoop['id'].')">Upload Document</a>');?>
                        <?php 
                        echo $dclLoop['dcl_specific']==0 ? '':' | <a href="#" onclick="delChecklist('.$dclLoop['dcl_Id'].');">Delete</a>';
                        ?>
            </td>
            <?php 
            break;
            endforeach;
            else:
            ?>
            <td class="options center">
				<?php if ( $this->hasdocs ) { ?>
					<a href="#" onclick="return assigndocs('<?php echo $this->appTrxId?>', '<?php echo $dclLoop['dcl_Id'] ?>')"><?php echo $this->translate('Assign')?></a> |
				<?php } ?>

                <?php 
                echo (Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_documents', 'ad_id', 'ad_txn_id='.$this->appTrxId.' and ad_dcl_id='.$dclLoop['dcl_Id'].' and ad_section_id='.$dclLoop['id']) != FALSE ? 
                        '<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', 0, '.$dclLoop['id'].')">View Document</a>':'<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', 0, '.$dclLoop['id'].')">Upload Document</a>');?>
                        <?php 
                        echo $dclLoop['dcl_specific']==0 ? '':' | <a href="#" onclick="delChecklist('.$dclLoop['dcl_Id'].');">Delete</a>';
                        ?>
            </td>
            <?php
            endif;
            ?>
        </tr>
        
        <!-- another row -->
        <?php
        if ($list):
        $i = 0;
        foreach ($list as $listLoop):
        if ($i != 0):
        ?>
        <tr id='<?php echo $dclLoop['dcl_Id'];?>'>
            <input type="hidden" name="dcl_Id[]" value="<?php echo $dclLoop['dcl_Id']; ?>"/>
            <input type="hidden" name="section_Id[]" value="<?php echo $dclLoop['dcl_sectionid']; ?>"/>
            <input type="hidden" name="table_name[]" value="<?php echo $dclLoop['table_name']; ?>"/>
            <input type="hidden" name="table_id[]" value="<?php echo $listLoop[$dclLoop['table_primary_id']]; ?>"/>
            <td><?php echo ($listLoop[$dclLoop['table_column']]!=false ? $listLoop[$dclLoop['table_column']]:''); ?></td>
            <td align="center">
                <?php 
                $checklistStatus3 = Application_Model_DbTable_ChecklistVerification::universalQueryRow('applicant_document_status', '*', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']].' and ads_section_id='.$dclLoop['id']); 
                $uplSts = Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($this->appTrxId, $dclLoop['dcl_Id'], 'ad_id', $listLoop[$dclLoop['table_primary_id']], $dclLoop['id']);
                
                if ($this->role != 1){
                    if ($dclLoop['dcl_finance']!=0){
                        $disabled = 'disabled=""';
                        echo '<input type="hidden" id="field2" name="field2[]" value="'.$checklistStatus3.'">';
                    }else{
                        $disabled = '';
                    }
                }else{
                    $disabled = '';
                }
                ?>
                <select class="select span-4" id="field2" name="field2[]" <?php echo $disabled; ?>>
                    <option label="-- Select --" value="0">-- Select --</option>
                    <option label="New" value="1" <?php echo (($checklistStatus3['ads_status'] == 1 || $uplSts != FALSE) ? 'selected="selected"':''); ?>><?php echo $this->translate("New"); ?></option>
                    <option label="Viewed" value="2" <?php echo ($checklistStatus3['ads_status'] == 2 ? 'selected="selected"':''); ?>><?php echo $this->translate("Viewed"); ?></option>
                    <option label="Incomplete" value="3" <?php echo ($checklistStatus3['ads_status'] == 3 ? 'selected="selected"':''); ?>><?php echo $this->translate("Incomplete"); ?></option>
                    <option label="Complete" value="4" <?php echo ($checklistStatus3['ads_status'] == 4 ? 'selected="selected"':''); ?>><?php echo $this->translate("Complete"); ?></option>
                    <option label="Not Applicable" value="5" <?php echo ($checklistStatus3['ads_status'] == 5 ? 'selected="selected"':''); ?>><?php echo $this->translate("Not Applicable"); ?></option>
                </select>
            </td>
            <td align="center">
                <?php //echo $this->checklistVerificationForm->field1; 
                if ($this->role != 1){
                    if ($dclLoop['dcl_finance']!=0){
                        $disabled = 'disabled=""';
                        echo '<input type="hidden" id="field1" name="comment[]" value="'.$checklistStatus3['ads_comment'].'">';
                    }else{
                        $disabled = '';
                    }
                }else{
                    $disabled = '';
                }
                ?>
                <input type="text" class="input-txt span-7" value="<?php echo $checklistStatus3['ads_comment']; ?>" id="field1" name="comment[]" <?php echo $disabled; ?>>
            </td>
            <td align="center">
                <?php 
                    echo ($uplSts != FALSE ? 'Uploaded':'Not Upload');
                ?>
            </td>
            <td align="center">
                <?php 
                $iduser = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modBy', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']]); 
                
                echo ($iduser==0 && $checklistStatus3['ads_status']==0) ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_user', 'loginName', 'iduser = '.$iduser);
                ?>
            </td>
            <td align="center">
                <?php
                $moddate = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_modDate', 'ads_txn_id='.$this->appTrxId.' and ads_dcl_id='.$dclLoop['dcl_Id'].' and ads_section_id='.$dclLoop['id'].' and ads_table_id='.$listLoop[$dclLoop['table_primary_id']]);
                echo $moddate=='0000-00-00 00:00:00'||$moddate==false ? '':date('d-m-Y', strtotime($moddate));
                ?>
            </td>
            <td class="options center">
                <?php if ( $this->hasdocs ) { ?>
                        <a href="#" onclick="return assigndocs('<?php echo $this->appTrxId?>', '<?php echo $dclLoop['dcl_Id'] ?>')"><?php echo $this->translate('Assign')?></a> |
                <?php }
                echo ($uplSts != FALSE ? 
                        '<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', '.$listLoop[$dclLoop['table_primary_id']].', '.$dclLoop['id'].')">View Document</a>':'<a href="javascript:void(0)" onclick="javascript:viewDocument('.$this->appTrxId.', '.$dclLoop['dcl_Id'].', '.$listLoop[$dclLoop['table_primary_id']].', '.$dclLoop['id'].')">Upload Document</a>');?>
                        <?php 
                        echo $dclLoop['dcl_specific']==0 ? '':' | <a href="#" onclick="delChecklist('.$dclLoop['dcl_Id'].');">Delete</a>';
                        ?>
            </td>
        </tr>
        <?php 
        endif;
        $i++;
        endforeach;
        endif;
        ?>
    <?php 
    endforeach;
    endif; 
    ?>
    </tbody>
</table>
<?php
if ($this->info['MigrateCode']==null){
if (($this->status == '592') || ($this->status == '595')):
?>
<div class="form-opt">
    <?php echo $this->checklistVerificationForm->Save; ?>
    <?php //echo $this->checklistVerificationForm->Email; ?>
    <?php
    if ($this->role == 1){
    ?>
    <button type="button" onclick="refreshPayment();"><?php echo $this->translate('Update Payment Status'); ?></button>
    <button type="button" onclick="refreshWaived();"><?php echo $this->translate('Update Waived Status'); ?></button>
    <?php
    }
    ?>
</div>
<?php 
endif;
}else{
//if (($this->status == '592') || ($this->status == '595') || ($this->status == '595')):
?>
<div class="form-opt">
    <?php echo $this->checklistVerificationForm->Save; ?><!--&nbsp;-->
    <?php
    if ($this->role == 1){
    ?>
    <button type="button" onclick="refreshPayment();"><?php echo $this->translate('Update Payment Status'); ?></button>
    <button type="button" onclick="refreshWaived();"><?php echo $this->translate('Update Waived Status'); ?></button>
    <?php
    }
    ?>
</div>
<?php 
//endif; 
}
?>
</form>
<form method="post" id='sendEmail' action="<?php echo $this->url(array('module'=>'communication','controller'=>'application','action'=>'compose-msg'), 'default', true);?>">
    <input type="hidden" name="checkall" value="" />
    <input type="hidden" name="rec[<?php echo $this->appTrxId; ?>]" value="<?php echo $this->applicantName; ?>" />
    <input type="hidden" name="compose" value="Continue" />
    <input type="hidden" name="fromwhere" value="1" />
    <input type="hidden" name="rectype" value="applicants" />
</form>
<script type="text/javascript">
    $(function(){
        if (<?php echo $this->editSuccess; ?> === 1){
            $("#tooltip-save .flash").show().fadeOut(7000);
        }
    });
    
    $(function() {
        $( "#dialog:ui-dialog" ).dialog( "destroy" );

        $( "#dialog-add-checklist" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function() {
                    if($('#dcl_name').val() =='' || $('#dcl_uplType').val()=='' || $('#dcl_sectionid').val()==''){
                        alert('Please fill in all required fields.');
                    }else{
                        $("#form").attr('action', '/application/checklist-verification/add-checklist/id/<?php echo $this->appTrxId; ?>');
                        $("#form").submit();
                        $( this ).dialog( "close" );
                    }
                },
                "Cancel": function() {
                    if ( sure('<?php echo $this->translate('Are you sure?')?>') === true ){
                        $( this ).dialog( "close" );
                    }
                }
            }
        });
    });
    
    function addChecklist(){	
	$('#dialog-add-checklist').load("<?php echo $this->url(array('module'=>'application', 'controller'=>'checklist-verification', 'action'=>'add-checklist', 'id'=>$this->appTrxId),'default',true); ?>");
	$("#dialog-add-checklist" ).dialog('open');
    }
</script>
<!-- dialog to add checklist -->
<div id="dialog-add-checklist" title="Add New Checklist">
</div>