<script type="text/javascript">
function loading(){
    $('#progress').append("Update Payment Status In Progress Please Wait...")
}
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<form method="post" id="update-payment">
    <button type="submit" id="submit" onclick="loading();"><?php echo $this->translate('Update Payment Status'); ?></button>
    <br/>
    <br/>
    <div id="progress"></div>
</form>