<head>
<script type="text/javascript">	
function validates(ids){	
	if (dijit.byId('ToEffectiveDate').value == "Invalid Date") {
		dijit.byId('ToEffectiveDate').focus();
		dijit.byId('Action').focus();
		dijit.byId('ToEffectiveDate').focus()
		return false;
    } else {   	
        return true;
    }
}
</script> 
</head>
<body class="claro"> 
<form  id="myForm" onSubmit="return validates(this);" action="<?php echo $this->baseUrl();?>/records/studentstatus/studentstatus/id/<?php echo $this->IdApplication; ?>" method="post"  name= "myForm">
		
<fieldset>
	<legend><?php echo $this->translate("Student Detain");?></legend>
	<div class="register">
		<table class="table" width="100%">
			<tr>
				<th colspan="2"><?php echo $this->translate("Student Detain");?></th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Student Name");?></td>
				<td><?php echo $this->StudentName ;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Semester Name");?></td>
				<td><?php echo $this->SemesterMasterName ;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Action");?></td>
				<td><?php echo $this->lobjStudentprofileForm->Action ;?>
				<?php echo $this->lobjStudentprofileForm->IdApplication ;?>
				<?php echo $this->lobjStudentprofileForm->UpdDate ;?>
				<?php echo $this->lobjStudentprofileForm->UpdUser ;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("ToEffectiveDate");?></td>
				<td><?php echo $this->lobjStudentprofileForm->ToEffectiveDate ;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Comments");?></td>
				<td><?php echo $this->lobjStudentprofileForm->Comments ;?></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><?php echo $this->lobjStudentprofileForm->Save ;?> 
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'studentstatus', 'action'=>'index'),'default',true);?>';" />	</td>
			</tr>
		</table>
	</div>	
</fieldset>		
</form>
</body>