<style type="text/css">
/* breadcrumbs */
.breadcrumbs { position:relative; z-index:1; padding:10px; color:#8d8d8d; font-size:8px; text-transform:uppercase; margin:-18px -20px 15px -20px }
.breadcrumbs a { color:#8d8d8d; }
.breadcrumbs a:hover { color:#555 }
.breadcrumbs strong { color:#bbb; }
.breadcrumbs li { display: inline; margin-right:3px; }
.breadcrumbs li+li:before { content:"/ "; }
.breadcrumbs a:hover { text-decoration:underline }

.breadcrumbs .back { position:absolute; right:10px; top:10px;  }
.breadcrumbs .back .icon { font-size:14px; }
.breadcrumbs .back a:hover { color:#0ea9d7; text-decoration:none; }
.breadcrumbs .back a:before { content: "\e75d"; font-family:"entypo"; padding-right:5px; }
</style>
<?php
    $this->headScript()->appendFile( $this->baseUrl().'/js/highcharts/highcharts.js');
?>
<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module'=>'reports','controller'=>'total-enrollment','action'=>'nationality', 'intake'=>$this->intakeid, 'program'=>$this->programid, 'programscheme'=>$this->programschemeid), 'default', true);?>">
                <span class='back'></span>
                <?php echo $this->translate('Back')?>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'index','action'=>'index'), 'default', true);?>"><?php echo $this->translate('Reports'); ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'total-enrollment','action'=>'index'), 'default', true);?>"><?php echo $this->translate('Total Enrollment').' ('.$this->intakeInfo['IntakeDesc'].')'; ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'total-enrollment','action'=>'programme', 'intake'=>$this->intakeid), 'default', true);?>"><?php echo $this->translate('Programme').' ('.$this->programInfo['ProgramCode'].' - '.$this->programInfo['ProgramName'].')'; ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'total-enrollment','action'=>'programme-scheme', 'intake'=>$this->intakeid, 'program'=>$this->programid), 'default', true);?>"><?php echo $this->translate('Programme Scheme').' ('.$this->programSchemeInfo['mop'].' '.$this->programSchemeInfo['mos'].' '.$this->programSchemeInfo['pt'].')'; ?></a></li>
        <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'total-enrollment','action'=>'nationality', 'intake'=>$this->intakeid, 'program'=>$this->programid, 'programscheme'=>$this->programschemeid), 'default', true);?>"><?php echo $this->translate('Nationality').' ('.$this->nationalityInfo['CountryName'].')'; ?></a></li>
        <li><strong><?php echo $this->title?></strong></li>
    </ul>
</div>
<br />
<table width="100%">
    <tr>
        <td width="50%">
             <div id="chart_applicant_gender" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
        </td>
        <td>
            <table width="100%" class="table">
                <tr>
                    <th><?php echo $this->translate('Gender')?></th>
                    <th><?php echo $this->translate('Total')?></th>
                </tr>
                <?php
                if ($this->genderList){
                foreach ($this->genderList as $genderLoop){
                ?>
                <tr>
                    <td>
                        <?php echo $genderLoop['gender']; ?>
                    </td>
                    <td align="center"><?php echo $genderLoop['total']; ?></td>
                </tr>
                <?php
                }
                }
                ?>
                <tr>
                    <td align="right"><?php echo $this->translate('Total'); ?></td>
                    <td align="center"><?php echo $this->sum; ?></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
<?php echo $this->chart->renderChart();?>
</script>