<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'discount', 'action'=>'type'),'default',true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" action="" name="form_discount">
<table width="100%" class="table">
<tr>
	<td width="25%"><?php echo $this->translate('Discount')?></td>
	<td><?php echo $this->form->dt_discount; ?></td>
</tr>
<tr>
	<td><?php echo $this->translate('Description')?></td>
	<td><?php echo $this->form->dt_description; ?></td>
</tr>
</table>

<br />

<table class="table" width="100%" class='table'>
	<tr>
		<th colspan='4'><?php echo $this->translate("Discounted Item");?></th>
	</tr>

	<tr>
		<td><?php echo $this->translate("Fee Code");?> <span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSponsorSetupForm->FeeCode; ?></td>			
		<td><?php echo $this->translate("Calculation Mode");?> <span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSponsorSetupForm->CalculationMode; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Amount");?> <span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSponsorSetupForm->Amount; ?></td>
	</tr>
	<tr>
		<td align="right" colspan="8"><?php echo $this->lobjSponsorSetupForm->Add; ?>
			<?php echo $this->lobjSponsorSetupForm->Clear; ?>
		</td>
	</tr>
</table>
<table class="table" width="100%" id="hor" cellpadding="3" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Fee Code");?></th>
		<th><?php echo $this->translate("Calculation Mode");?></th>
		<th><?php echo $this->translate("Amount");?></th>
		<th></th>
	</tr>
	
</table>

<div class="form-opt">
	<input type="submit" name="submit" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>
</form>

<script type="text/javascript">
dojo.addOnLoad(function(){	
	dijit.byId('FeeCode').set('value','');
	dijit.byId('FeeCode').set('placeHolder','<?php echo $this->translate('Select')?>');
});

function deleteFeeItemAjax(id)
{
	var ret = confirm("<?php echo $this->translate('Are you sure you want to delete?')?>");
	
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/studentfinance/discount/delete-fee",
		type: "post",
		data: {'id':id},
		dataType: 'json',
		success: function(data)
		{
			if (data.msg == '' )
			{
				$('#fee-'+id).remove();
			}
			else
			{
				alert(data.msg);
			}
		},
		error:function(){
			  alert("failure");
		}  
	});

	return false;
}

function clearpageAdd() 
{
	dijit.byId("FeeCode").reset();
	dijit.byId("FeeCode").set("value",null);

	dijit.byId("CalculationMode").reset();
	dijit.byId("CalculationMode").set("value",null); 

	dijit.byId("Amount").reset();
	dijit.byId("Amount").set("value",null);
}

function remarkValidation() 
{
	var flag = true;
	var FeeCode = dijit.byId("FeeCode").value;
	var CalculationMode = dijit.byId("CalculationMode").value;
	var Amount = dijit.byId("Amount").value;
        
	if(FeeCode=='' && CalculationMode =='' && Amount =='' )
	{                         
		dijit.byId("FeeCode").set( "state", "Error" );
		dijit.byId("CalculationMode").set( "state", "Error" );
		dijit.byId("Amount").set( "state", "Error" );
		flag = false; 
	}

	if(FeeCode=='') 
	{
		dijit.byId("FeeCode").set( "state", "Error" );
		var flag = false;        
	}

	if(CalculationMode == '')
	{
		dijit.byId("CalculationMode").set( "state", "Error" );
		flag = false;
	}

	if(Amount == '' || isNaN(Amount))
	{
		dijit.byId("Amount").set( "state", "Error" );
		flag = false;
	}

	if(flag == true) 
	{
		RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
var rowid = 1;

function RemarkdetailsInsert() 
{
	
	var FeeCodeDV = dijit.byId("FeeCode").displayedValue;
	var FeeCode = dijit.byId("FeeCode").value;
		
    var CalculationModeDV = dijit.byId("CalculationMode").displayedValue;
	var CalculationMode = dijit.byId("CalculationMode").value;
        
	var AmountDV = dijit.byId("Amount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	
	batchArray.push(FeeCode);
        
	if(arrHasDupes(batchArray))
	{
		batchArray= batchArray.unique();
		alert("Cannot add the same Fee Code more than once");
	}
	else
	{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);
		
		tcol4.align = 'center';
		
		tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodeGrid[]>"+FeeCodeDV;
		tcol2.innerHTML="<input type='hidden' value='"+CalculationMode+"' name=CalculationModeGrid[]>"+CalculationModeDV;
		tcol3.innerHTML="<input type='hidden' value='"+Amount+"' name=AmountGrid[]>"+AmountDV;
		tcol4.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this); return false;"><?php echo $this->translate('Delete')?></a>';
		rowid++;		
	}
	
}

function deleteRow(r)
{      
	var dStat = confirm("<?php echo $this->translate('Are you sure you want to delete this?')?>");
	if(dStat == true){     
		rowid--;	
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);        
		document.getElementById('hor').deleteRow(i);
		
	}
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;   						// to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j])
				return true;
		}
	}
	return false;
}

Array.prototype.unique = function () {
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++) {
		for(var x = 0, y = r.length; x < y; x++) {
			if(r[x]==this[i]) {
					continue o;
			  }
		}
		r[r.length] = this[i];
	}
	return r;
}


</script>