<script type="text/javascript">

	$(function() {
		$( "#tabs" ).tabs({
	    	beforeLoad: function( event, ui ) {
	        	ui.jqXHR.error(function() {
	          		ui.panel.html(
	            		"Couldn't load this tab. We'll try to fix this as soon as possible. " +
	            		"If this wouldn't be a demo." );
	        		});
	      	}
	    });
	});

	function del(){

		var id = $('input[name=id]:checked').val();
		
		if(confirm('Are you sure to delete?')){
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add'),'default',true);?>";
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>

		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<div id="tabs">
  	<ul>
    	<li><a href="/studentfinance/discount/type"><?php echo $this->translate("Type"); ?></a></li>
	</ul>
</div>