<script type="text/javascript">
$(document).ready(function() {
	$(".fancybox").fancybox();

	<?php if( isset($this->form_error) ){?>
	$(".fancybox").fancybox().trigger('click');
	<?php }?>
});

	function add_discount_type(){
		$('#dt_discount').val("");
		$('#dt_description').val("");

		
	}

	function edit_discount_type(){
		var id = $("input[name=id]:checked").val();
		
		if(id){

			$.fancybox({
				  href : "/studentfinance/discount/edit-type/id/"+id,
				  type : 'ajax'
			});
			
		}else{
			alert("<?php echo $this->translate("Please Select item first.");?>");
		}
		
	}

	function delete_discount_type(id){
		var id = $("input[name=id]:checked").val();

		if(!id){
			alert("<?php echo $this->translate("Please Select item first.");?>");
		}else{

			var msg = '<?php echo $this->translate("Confirm to delete?");?>';

			if( confirm(msg) ){
				window.location = "/studentfinance/discount/delete-type/id/"+id
			}
		}
	}
</script>


<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->translate("Discount Type"); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/discount/add-type">
					<span class='add'></span>
					Add
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br />

<table class="table" width="100%">
	<tr>
		<th>Discount</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Create Date</th>
		<th>&nbsp;</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/studentfinance/discount/edit-type/id/<?php echo $entry['dt_id']?>"><?php echo $entry['dt_discount']; ?></a></td>
		<td><?php echo $entry['dt_description']; ?></td>
		<td><?php echo $entry['creator']; ?></td>
		<td><?php echo format_date_to_view( $entry['dt_create_date'], 'full' ); ?></td>
		<td><a href="<?php echo $this->baseUrl()?>/studentfinance/student-discount-tagging/tag/id/<?php echo $entry['dt_id']?>">Tagging Student</a></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
</table>