<script>
function submitFormUpdate(){
	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No data selected')?>');
		return false;
	}

	var msg = '<?php echo $this->translate("Are you sure to cancel this discount?");?>';

	if( confirm(msg) ){
		$('#updatestatus').submit();
	}
	
	
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="submitFormUpdate()">
					<span class='delete'></span>
					<?php echo $this->translate('Cancel'); ?>
				</a>
			</li>
			
			<li>
				<a href="#" onclick="history.go(-1)";>
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php
$isStudent = !empty($this->info[0]['dcnt_IdStudentRegistration']) ? 1 : 0;
?>

<table width="100%" class="table info">
	<tr>
		<th width='200'><?php echo $this->translate('Discount Note No.')?></th>
		<td><?php echo $this->info[0]['dcnt_fomulir_id']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Name')?></th>
		<td><?php echo $isStudent == 1  ? $this->info[0]['student_name'] : $this->info[0]['applicant_name']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('ID')?></th>
		<td><?php echo $isStudent == 1  ? $this->info[0]['registrationId'] : $this->info[0]['at_pes_id']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Description')?></th>
		<td><?php echo $this->info[0]['dcnt_description'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Total Amount')?></th>
		<td><?php echo $this->info[0]['cur_code'].' '.$this->info[0]['dcnt_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Status')?></th>
		<td><?php 
			if($this->info[0]['dcnt_status'] == 'A'){
				echo "ACTIVE";
			}else if($this->info[0]['dcnt_status'] == 'X'){
				echo "CANCEL";
			}else if($this->info[0]['dcnt_status'] == 'E'){
				echo "ENTRY";
			}
		?></td>
	</tr>
</table>

<br />
<form id="updatestatus" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'discount','action'=>'cancel'), 'default', true);?>">
<h3><?php echo $this->translate('Discount Details')?></h3>
<input type="hidden" name="IdDiscount" id="IdDiscount" value="<?php echo $this->info[0]['dcnt_id']?>">
<table width="100%" class="table info">
	<tr>
		<th></th>
		<th><?php echo $this->translate('Invoice No.')?></th>
		<th><?php echo $this->translate('Invoice Description')?></th>
		<th><?php echo $this->translate('Status')?></th>
		<th><?php echo $this->translate('Discount Amount')?></th>
		<th><?php echo $this->translate('Discount Adjustment ID')?></th>
		<th>Cancel</th>
		
	</tr>
<?php foreach($this->info as $key=>$data){?>
	<tr>
		<td><?php echo $key+1;?>.</td>
		<td><?php echo $data['bill_number'];?></td>
		<td><?php !isset($data['subject_id']) ? $data['SubCode'] : '';?> <?php echo $data['fee_item_description'];?></td>
		<td><?php 
			if($data['status'] == 'A'){
				echo "ACTIVE";
			}else if($data['status'] == 'X'){
				echo "CANCEL";
			}else if($data['status'] == 'E'){
				echo "ENTRY";
			}
		?></td>
		<td><?php echo $data['cur_code'];?><?php echo $data['dcnt_amount_detail'];?></td>
		<td><?php echo $data['AdjustmentCode'];?></td>
		<td align="center">
		<?php if($this->info[0]['dcnt_status'] == 'A' && $data['status'] == 'A'){?><input type="checkbox" name="invoice_id[]" id="invoice_id[]" value="<?php echo $data['dcnt_id_detail'];?>" class="chk" />
		<?php }?></td>
	</tr>
<?php }?>
</table>
</form>