
<script type="text/javascript">

	function selectStatus(name)
	{
		$("#search_form").show();
		$("#stats_box").hide();
		$('#search_form').trigger("reset");

		$("#application_status option").each(function(){
			if ( $(this).text() == name )
			{
				$("#application_status").val( $(this).val() );
			}
		});
	}

	function selectIntake(name)
	{
		$("#search_form").show();
		$("#stats_box").hide();
		$('#search_form').trigger("reset");

		$("#intake_id option").each(function(){
			if ( $(this).text() == name )
			{
				$("#intake_id").val( $(this).val() );
			}
		});
	}


	function getProgramScheme(){
		
		var targetElement = '#program_scheme_id';
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'ajax-get-data'),'default',true);?>",
			data: {'type':'intake_program' , 'IdProgram':$('#program_id').val()},
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				showLoading(targetElement);
			},
			complete: function() {
				hideLoading(targetElement);
			}	
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("-- All --"); ?> </option>');
		
			$.each(data, function(index) {
				$(targetElement).append('<option value="'+data[index].IdProgramScheme+'"> '+data[index].ProgramMode+' - '+data[index].StudyMode+' - '+data[index].ProgramType+' </option>');
			});
			
		});		
			
	}

	function showLoading(target){
		$(target).hide();
		$(target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");

	}

	function hideLoading(target){
		$('#loading').remove();
		$(target).show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>

<br />


<div>
<div id="search_form">
	<fieldset>
		<legend><?php echo $this->translate('Search')?></legend>
		<?php echo  $this->form;?>
	</fieldset>
</div>

<br /><br />

<h3><?php echo $this->translate('Applicants')?> <span class="label"><?php echo number_format($this->total)?></span></h3>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0" id="applist">
	<tr>
		<th width="25%"><?php echo $this->translate("Applicant Name");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>
		<th><?php echo $this->translate("Total Documents");?></th>
		<th><?php echo $this->translate("");?></th>
	</tr>
	
	<?php 
	$docDB = new Application_Model_DbTable_ChecklistDocuments();
	foreach ($this->paginator as $entry): 	

	?>
	<tr>
		<td width="60%">
			<a href="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-documents', 'action'=>'view', 'txnid'=>$entry['at_trans_id'], 'id' =>$entry['at_pes_id']),'default',true);?>"><?php echo $entry['appl_fname']." ".$entry['appl_mname']." ".$entry['appl_lname']; ?></a>	
		</td>
		<td align="center" width="15%"><?php echo $entry['at_pes_id']; ?></td>
		<td align="center"><?php echo $entry['total_docs']?></td>
		<td align="center" class="options">
			<a href="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-documents', 'action'=>'view', 'txnid'=>$entry['at_trans_id'], 'id' =>$entry['at_pes_id']),'default',true);?>"><?php echo $this->translate('View')?></a>
		</td>
	</tr>
	<?php 
	endforeach 
	?>
</table>
<div class="pagination">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
</div>