<head>
<script>
dojo.addOnLoad(function(){        
	//dijit.byId('field3').focus();
	dijit.byId("field1").set('value','');
	dijit.byId("field1").set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate($this->Program).' '.$this->translate("Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/application/programentry/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field1;?></td>
                                    <td><?php echo $this->translate("Active");?></td>
                                    <td><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
                                  <?php echo $this->lobjform->Search;?>
                                  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'programentry', 'action'=>'newprogramentry'),'default',true);?>';" />
                                  <?php echo $this->lobjform->Clear;?>
				</td>		    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    		<th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
                        <!--<th><?php echo $this->translate("Summary");?></th>-->
	    		<!--<th><?php echo $this->translate("Learning Mode");?></th>-->
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogrambranch): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/application/programentry/editprogramentry/id/<?php echo $this->escape($lobjprogrambranch['IdProgramEntry']);?>" ><?php echo $lobjprogrambranch['ProgramName'];?></a></td>
                        <!--<td><a href="<?php echo $this->baseUrl();?>/application/programentry/summaryprogramentry/id/<?php echo $this->escape($lobjprogrambranch['IdProgramEntry']);?>" ><?php echo $this->translate("View");?></a></td>-->
	        	
                         <!--<td><?php echo $lobjprogrambranch['DefinitionDesc'];?></td>-->
			</tr>
	        <?php endforeach; ?>
	        <?php endif; ?> 

			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</body>
</html>
