<?php
//echo "<pre>";
//print_r($this->programentrylist);
?>
<fieldset>
  <legend><?php echo $this->translate("Summary"); ?></legend>
  <table class="table" width="100%" >

    <?php $i = 0;foreach($this->programentrylist as $list) { ?>
    <tr>
       <?php if($i>0){
        if($list['GroupId'] == $this->programentrylist[$i-1]['GroupId']){
                echo "<td>AND</td>";
      }else{
        echo "<td>OR</td>";
      }}
      ?>
    </tr>
    <tr>
      <td><?php echo $list['GroupId']?> - PASSED / <?php echo $list['EntryLevelname']?> /WITH <?php echo $list['Itemname'];?>/<?php echo $list['Conditionname'];?> TO <?php echo $list['Value'];?></td>
    </tr>
    <?php $i++;} ?>
    <tr>
      <td align = "right" colspan = "4">
        <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'programentry', 'action'=>'index'),'default',true);?>';" />
      </td>
    </tr>
  </table>
</fieldset>