<fieldset>
	<legend>
		<?php echo $this->translate->_("Rebuild Resources")?>
	</legend>
	<div class="message notice"><?php echo $this->translate('Please make sure you know what you are doing')?></div>
	<?php if ( is_array($this->missing) ) : ?>
	<form action="" method="post" name="regen">
		<div class="missing-list">
		<table width="100%" class="table">
			<thead>
				<tr>
					<th width="1%"> </th>
					<th><?php echo $this->translate('Module')?></th>
					<th><?php echo $this->translate('Controller')?></th>
					<th><?php echo $this->translate('Action')?></th>
				</tr>
			</thead>
			<tbody>
			<?php 
				$i = 0 ;
				foreach ( $this->missing as $row ) :
				$i++;

				$row['Controller'] = strtolower( preg_replace('/([A-Z])/', '-$1', lcfirst($row['Controller'])) );
			?>
				<tr id="row-<?php echo $i?>">
					<td class="center">
						<input type="checkbox" name="missing[<?php echo $i?>]" value="<?php echo $i?>" onclick="togglerow(<?php echo $i?>)" />
					</td>
					<td><input type="text" name="values[<?php echo $i?>][Module]" value="<?php echo $row['Module']?>" dojoType="dijit.form.ValidationTextBox" class="txt_put" /></td>
					<td><input type="text" name="values[<?php echo $i?>][Controller]" value="<?php echo $row['Controller']?>" dojoType="dijit.form.ValidationTextBox" class="txt_put" /></td>
					<td><input type="text" name="values[<?php echo $i?>][Action]" value="<?php echo $row['Action']?>" dojoType="dijit.form.ValidationTextBox" class="txt_put" /></td>

				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
		</div>
		<input type="submit" name="Save" value="Save" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Save"); ?>" />
	</form>
	<?php endif; ?>
</fieldset>

<script type="text/javascript">
	function togglerow(i)
	{
		if ( $("#row-"+i).hasClass('hl') )
		{
			$("#row-"+i).removeClass('hl');
		}
		else
		{
			$("#row-"+i).addClass('hl');
		}
	}
</script>

<style type="text/css">
	tr.hl td { background: #5193ff !important; }
</style>