<script type="text/javascript">
	function getTitle(){
		
		var r_menu_id = $('#r_menu_id').val();
				
		if(r_menu_id!=0){
			$.ajax({
				url: "/default/ajax-utility/ajax-get-title",
			    type: "post",
			    async : false,
			    data: {'menu_id':r_menu_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#r_title_id').empty();
					$('#r_title_id').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#r_title_id').append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('r_title_id');
			      
				},
				complete: function() {
					hideLoading('r_title_id');
				}   
			});
		}
	}

	function getTitle2(id){

		var r_menu_id = $('#home'+id).val();

		if(r_menu_id!=0){
			$.ajax({
				url: "/default/ajax-utility/ajax-get-title",
				type: "post",
				async : false,
				data: {'menu_id':r_menu_id},
				dataType: 'json',
				success: function(data){
					$('#title'+id).empty();
					//$('#title'+id).append('<option value="">-- Please Select --</option>');

					$.each(data, function(index) {
						$('#title'+id).append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');
					});

					$('#screen' + id).empty();
					if (r_menu_id != 1) {
						getScreen2(id);
					}
				},
				error:function(){
					alert("failure");
				},
				beforeSend: function() {
					showLoading('title'+id);

				},
				complete: function() {
					hideLoading('title'+id);
				}
			});
		}
	}

	function getScreen(){
		
		var r_menu_id = $('#r_menu_id').val();
		var r_title_id = $('#r_title_id').val();
				
		if(r_menu_id!=0 && r_title_id!=0){
			$.ajax({
				url: "/default/ajax-utility/ajax-get-screen",
			    type: "post",
			    async : false,
			    data: {'menu_id':r_menu_id,'title_id':r_title_id},
			    dataType: 'json',
			    success: function(data){
				    
			    	$('#r_screen_id').empty();
					$('#r_screen_id').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#r_screen_id').append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('r_screen_id');
			      
				},
				complete: function() {
					hideLoading('r_screen_id');
				}   
			});
		}
	}

	function getScreen2(id){
		var r_menu_id = $('#home'+id).val();
		var r_title_id = $('#title'+id).val();

		if(r_menu_id!=0 && r_title_id!=0){
			$.ajax({
				url: "/default/ajax-utility/ajax-get-screen",
				type: "post",
				async : false,
				data: {'menu_id':r_menu_id,'title_id':r_title_id},
				dataType: 'json',
				success: function(data){

					$('#screen'+id).empty();
					//$('#screen'+id).append('<option value="">-- Please Select --</option>');

					$.each(data, function(index) {
						$('#screen'+id).append('<option value="'+data[index].sm_id+'">'+data[index].sm_name+'</option>');
					});

				},
				error:function(){
					alert("failure");
				},
				beforeSend: function() {
					showLoading('screen'+id);

				},
				complete: function() {
					hideLoading('screen'+id);
				}
			});
		}
	}

	function showLoading(target,target_div){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	function save(id){
		var r_menu_id = $('#home'+id).val();
		var r_title_id = $('#title'+id).val();
		var r_screen_id = $('#screen'+id).val();
		var r_group_id = $('#group'+id).val();

		$.ajax({
			url: "/default/ajax-utility/save-resource",
			type: "post",
			async : false,
			data: {'id':id, 'menu_id':r_menu_id, 'title_id':r_title_id, 'screen_id':r_screen_id, 'group_id':r_group_id},
			dataType: 'json',
			success: function(data){

			},
			error:function(){
				alert("failure");
			}
		});
	}

	function del(){
		var id = $('input[name=r_id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate('Please select any resource first'); ?>');
		}else{
			if(confirm('Are you sure to delete this resource ?')){
				window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-resources', 'action'=>'delete-resource')); ?>/id/"+id;
			}
		}
	}

	function edit(){
		var id = $('input[name=r_id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate('Please select any resource first'); ?>');
		}else{
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-resources', 'action'=>'edit-resource')); ?>/id/"+id;
		}
	}
	
</script>
<style type="text/css">
	.loader{
		background: rgba(0,0,0,.5) url('../images/gears.gif') no-repeat;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:999;
	}
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-resources','action'=>'scan'), 'default', true);?>" >
					<span class='preview'></span>
					Scan
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-resources','action'=>'add-resource'), 'default', true);?>" >
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="edit();">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-resources','action'=>'index'), 'default', true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<small style="color: red;">*<?php echo $this->translate('This module is strictly to be use by the developers');?></small>
<br />
<br />
<fieldset>
<legend><?php echo $this->translate('Search Options');?></legend>
<?php echo $this->form;?>
</fieldset>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
	   <th>&nbsp;</th>
       <th><?php echo $this->translate("Menu");?></th>
       <th><?php echo $this->translate("Title");?></th>
       <th><?php echo $this->translate("Screen");?></th>
       <th><?php echo $this->translate("Module");?></th>
       <th><?php echo $this->translate("Controller");?></th>
       <th><?php echo $this->translate("Action");?></th>
       <th><?php echo $this->translate("Group");?></th>
       <th><?php echo $this->translate("View Screen");?></th>
    </tr>
    
    <?php if(count($this->resources)>0){
		$menu = GeneralSetup_Model_DbTable_ManageResource::getTopMenu();
    		foreach ($this->resources as $index=>$res){
    ?>
    <tr>
        <td><input type='radio' name='r_id' id='r_id' value='<?php echo $res["r_id"];?>'></td>
    	<td>
			<?php //echo $res['menu']?>
			<select class="select" onchange="getTitle2(<?php echo $res["r_id"];?>); save(<?php echo $res["r_id"];?>);" id="home<?php echo $res["r_id"];?>" name="home<?php echo $res["r_id"];?>">
				<?php
				if ($menu) {
					foreach ($menu as $menuLoop) {
						?>
						<option value="<?php echo $menuLoop['tm_id']; ?>" <?php echo $res['r_menu_id']==$menuLoop['tm_id'] ? 'selected=""':''; ?>><?php echo $menuLoop['tm_name']; ?></option>
						<?php
					}
				}
				?>
			</select>
		</td>
    	<td>
			<?php //echo $res['title']?>
			<?php
			if (isset($res['r_menu_id']) && $res['r_menu_id']!='' && $res['r_menu_id']!=null) {
				$title = GeneralSetup_Model_DbTable_ManageResource::getTitle($res['r_menu_id']);
			}
			?>
			<select class="select" onchange="getScreen2(<?php echo $res["r_id"];?>); save(<?php echo $res["r_id"];?>);" id="title<?php echo $res["r_id"];?>" name="title<?php echo $res["r_id"];?>">
				<?php
				if ($title) {
					foreach ($title as $titleLoop) {
						?>
						<option value="<?php echo $titleLoop['sm_id']; ?>" <?php echo $res['r_title_id']==$titleLoop['sm_id'] ? 'selected=""':''; ?>><?php echo $titleLoop['sm_name']; ?></option>
						<?php
					}
				}
				?>
			</select>
		</td>
    	<td>
			<?php //echo $res['screen']?>
			<?php
			if (isset($res['r_title_id']) && $res['r_title_id']!='' && $res['r_title_id']!=null) {
				$screen = GeneralSetup_Model_DbTable_ManageResource::getScreen($res['r_title_id']);
			}
			?>
			<select class="select" onchange="save(<?php echo $res["r_id"];?>);" id="screen<?php echo $res["r_id"];?>" name="screen<?php echo $res["r_id"];?>">
				<?php
				if ($screen) {
					foreach ($screen as $screenLoop) {
						?>
						<option value="<?php echo $screenLoop['sm_id']; ?>" <?php echo $res['r_screen_id']==$screenLoop['sm_id'] ? 'selected=""':''; ?>><?php echo $screenLoop['sm_name']; ?></option>
						<?php
					}
				}
				?>
			</select>
		</td>
    	<td><?php echo $res['r_module']?></td>
    	<td><?php echo $res['r_controller']?></td>
    	<td><?php echo $res['r_action']?></td>
    	<td>
			<?php
    			/*if($res['r_group']==1) echo 'View';
    			if($res['r_group']==2) echo 'Add';
    			if($res['r_group']==3) echo 'Edit';
    			if($res['r_group']==4) echo 'Delete';
    			if($res['r_group']==5) echo 'Approve';*/
    		?>
			<select class="select" onchange="save(<?php echo $res["r_id"];?>);" id="group<?php echo $res["r_id"];?>" name="group<?php echo $res["r_id"];?>">
				<option value="1" <?php echo $res['r_group']==1 ? 'selected=""':''; ?>>View</option>
				<option value="2" <?php echo $res['r_group']==2 ? 'selected=""':''; ?>>Add</option>
				<option value="3" <?php echo $res['r_group']==3 ? 'selected=""':''; ?>>Edit</option>
				<option value="4" <?php echo $res['r_group']==4 ? 'selected=""':''; ?>>Delete</option>
				<option value="5" <?php echo $res['r_group']==5 ? 'selected=""':''; ?>>Approve</option>
			</select>
		</td>
    	<td>
			<a target="_blank" href="<?php echo $this->url(array('module'=>$res["r_module"],'controller'=>$res["r_controller"], 'action'=>$res['r_action'])); ?>">View</a>
		</td>
    </tr>
    <?php }
    	}?>
</table>
