<div class="message toolbar">
	<h2>
		<?php if($this->invtid=='') { 
			echo $this->translate("Add Inventory");
		} else {  echo $this->translate("Edit Inventory");
		} ?>
	</h2>
	<div class="toolbar-button">
        <ul>

            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'inventorysetup', 'action'=>'index'),'default',true);?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<script>
function delRec(val) {    
    var dStat = confirm("Are you sure you want to delete the Inventory?");
    if(dStat == true){        
        var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/hostel/inventorysetup/delinventory/id/"+val,
			handleAs:'text',
			load:function(data){
                             window.location = "<?php echo $this->baseUrl();?>/hostel/inventorysetup/index";
                         }
	              }
	dojo.xhrPost(xhrArgs);        
    }
}       
</script>
<fieldset>
	<Form dojoType="dijit.form.Form" id="myForm" method="post"
		name="myForm">
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } 
				else {
                    return false;
                }
				</script>
		<table class="table" width="100%">
			<tr>
				<th colspan="4">
					<?php echo $this->translate("Inventory Details");?>
				</th>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate("Name");?><span class="reqMark">*</span>
				</td>
				<td>
					<?php echo $this->lobjform->Name;?> <?php if($this->confdet[0]['inventoryIdType'] == 0) { ?>
				<td>
					<?php echo $this->translate("Code");?><span class="reqMark">*</span>
				</td>
				<td>
					<?php echo $this->lobjform->Code;?>
				</td>
				<?php }else{?>
				<td>
					<?php echo $this->lobjform->InvCode;?>
				</td>
				<?php }?>
			</tr>
			<tr>
				<td><?php echo $this->defaultlanguage;?></td>
				<td><?php echo $this->lobjform->DefaultLang;?></td>
			</tr>
			<tr>
				<td colspan=4 align="center"><?php echo $this->lobjform->Save;?> <?php if($this->invtid!='') { ?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate("Delete");?>"
					onclick='delRec(<?php echo $this->invtid;?>)' /> <?php  } ?> 
				</td>

			</tr>
		</table>

</fieldset>