
<form name="form_edit" id="form_edit" method="post" action="/studentfinance/fee-item/change-state-amount">
	<input type="hidden" name="fic_idCountry" value="<?php echo $this->cid;?>" />
	<input type="hidden" name="fic_fi_id" value="<?php echo $this->fid;?>" />
	<input type="hidden" name="fic_idState" value="<?php echo $this->sid;?>" />
	<table>
		<tr>
			<td><?php echo $this->translate('State')?></td>
			<td>:</td>
			<td><?php echo $this->fees['StateName']?></td>
		</tr>
		<?php foreach ($this->currency as $index => $currency){?>
		<tr>
			<td><?php echo $currency['cur_code'];?></td>
			<td>:</td>
			<td><input type="text" class="input-txt small" name="cur_<?php echo  $currency['cur_id'];?>" value="<?php echo isset($this->fees['fees_by_currency'][$currency['cur_id']]['fic_amount'])?$this->fees['fees_by_currency'][$currency['cur_id']]['fic_amount']:""; ?>" /></td>
		</tr>
		<?php }?>
	</table>
</form>