
<form name="form_edit" id="form_edit" method="post" action="/studentfinance/fee-item/change-country-amount">
	<input type="hidden" name="fic_idCountry" value="<?php echo $this->fees['idCountry'];?>" />
	<input type="hidden" name="fic_fi_id" value="<?php echo $this->fid;?>" />
	<table>
		<tr>
			<td><?php echo $this->translate('Country')?></td>
			<td>:</td>
			<td><?php echo $this->fees['CountryName']?></td>
		</tr>
		<?php foreach ($this->currency as $index => $currency){?>
		<tr>
			<td><?php echo $currency['cur_code'];?></td>
			<td>:</td>
			<td><input type="text" class="input-txt small" name="cur_<?php echo  $currency['cur_id'];?>" value="<?php echo isset($this->fees['fees_by_currency'][$currency['cur_id']]['fic_amount'])?$this->fees['fees_by_currency'][$currency['cur_id']]['fic_amount']:""; ?>" /></td>
		</tr>
		<?php }?>
		
		<tr>
			<td><?php echo $this->translate('Year of Occurrence')?></td>
			<td>:</td>
			<td>
			<select name="fic_year" id="fic_year">
			<?php
			
			for($i=1;$i<11;$i++){
			$selected = '';
			if($this->fees['fees_by_currency'][$currency['cur_id']]['fic_year'] == $i){
				$selected = "selected='selected'";
			}
				?>
			<option value="<?php echo $i?>" <?php echo $selected;?>><?php echo $i;?></option>
			<?php }?>
			</select>
			
			</td>
		</tr>
	</table>
</form>