<script type="text/javascript">
$(function() {
	$( "#dialog-edit" ).dialog({
		  autoOpen: false,
	      modal: true,
	      buttons: {
	        "Save": function() {
	        	save_editing()
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      }
	    });
});
  
function edit_amount(state_id){
	$( "#dialog-edit" ).html('<?php echo $this->translate('Loading');?>...');
	$( "#dialog-edit" ).load('/studentfinance/fee-item/change-state-amount/fid/<?php echo $this->fid ?>/cid/<?php echo $this->idCountry;?>/sid/'+state_id).dialog('open');
}

function save_editing(){

		var formData = $('#form_edit').serializeArray();

		// process the form
		$.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: $('#form_edit').attr('action'), // the url where we want to POST
			data 		: formData, // our data object
			dataType 	: 'json', // what type of data do we expect back from the server
            encode      : true
		})
		.done(function(data) {
			if(data.status == 1){
				$( "#dialog-edit" ).dialog('close');
				alert('<?php echo $this->translate('Amount updated');?>');
				window.location = window.location;
			}else{
				alert('<?php echo $this->translate('Error');?>');
			}
			
			
			
		});

		
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item', 'action'=>'country-amount','id'=>$this->fid),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend><?php echo $this->translate('Fee Item');?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Country'); ?></td>
			<td>:</td>
			<td><?php echo $this->fees[0]['CountryName'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Fee Name'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fi_name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Fee Name (Second Language'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fi_name_bahasa'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Code'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fi_code'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Calculation Type'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['calType'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Frequency Mode'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['freqMode'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Fee Category'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fc_desc'];?> (<?php echo $this->fee_item['fc_code'];?>)</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Account Code'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['ac_code'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Refundable'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fi_refundable']==1?$this->translate('Yes'):$this->translate('No');?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Active'); ?></td>
			<td>:</td>
			<td><?php echo $this->fee_item['fi_active']==1?$this->translate('Yes'):$this->translate('No');?></td>
		</tr>
	</table>
</fieldset>

<br />

<?php 
if($this->currency){
	$span = sizeof($this->currency);
}else{
	$span = 1;
}
?>
<table class="table vcenter" width="100%">
	<tr>
		<th rowspan="2"><?php echo $this->translate('Country');?></th>
		<th colspan="<?php echo $span; ?>"><?php echo $this->translate('Amount');?></th>
		<th rowspan="2">&nbsp;</th>
	</tr>
	<tr>
		<?php 
		if($this->currency){
			foreach ($this->currency as $currency):
		?>
		<th align="center"><?php echo $currency['cur_code'];?></th>
		<?php 
			endforeach;
		}
		?>
	</tr>
	<?php 
	if($this->fees){
		foreach ($this->fees as $fee):
	?>
	<tr>
		<td><?php echo $fee['StateName'];?></td>
		<?php 
		if($this->currency){
			foreach ($this->currency as $currency):
				if( isset($fee['fees_by_currency'][$currency['cur_id']]) ){
					$val = $fee['fees_by_currency'][$currency['cur_id']]['fic_amount'];
				}else{
					$val = "n/a";
				}
		?>
				<td align="center"><?php echo $val;?></td>
		<?php 
			endforeach;
		}
		?>	
		<td align="center"><a href="#" onclick="edit_amount(<?php echo $fee['idState'];?>); return false;"><?php echo $this->translate('Edit')?></a>
		
		</td>
	</tr>
	<?php 
		endforeach;
	}
	?>
</table>

<div id="dialog-edit" title="Edit Fee Amount (State)">
  
</div>