<head>
<script type="text/javascript">

dojo.addOnLoad(function(){
	var idCountry = dijit.byId('Country').value;
	fnGetCountryStateList(idCountry)
	dijit.byId('State').set('value','');
	dijit.byId('State').set('placeHolder','Select');
	dijit.byId('City').set('value','');
	dijit.byId('City').set('placeHolder','Select');
	dijit.byId('Desgination').set('value','');
	dijit.byId('Desgination').set('placeHolder','Select');
	
	});

function fnGetCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("State",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
function fnGetStateCityList(idState){ 
	if(idState != "")
		{ var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("City",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 	
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>
</head>
<fieldset>
	<legend>
		<?php echo $this->translate("Venue");?>
	</legend>
	<Form dojoType="dijit.form.Form" id="myForm"
		action="<?php echo $this->baseUrl();?>/application/placementvenue/newvenue"
		method="post" name="myForm">
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Venue Details");?>
				</th>
			</tr>
			<?php echo $this->lobjVenueForm->UpdDate;?>
			<?php echo $this->lobjVenueForm->UpdUser;?>
			<tr>
				<td><?php echo $this->translate("Venue Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjVenueForm->VenueName;?></td>
				<td><?php echo $this->translate("Venue Code");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjVenueForm->VenueCode;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Address1");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjVenueForm->VenueAddress1;?></td>
				<td><?php echo $this->translate("Address2");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->VenueAddress2;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Country");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->Country;?></td>
				<td><?php echo $this->translate("State");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->State;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("City");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->City;?></td>
				<td><?php echo $this->translate("Phone");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->Phone;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Contact Person");?><span
					class="reqMark"></span></td>
				<td><?php echo $this->lobjVenueForm->Contactperson;?></td>
				<td><?php echo $this->translate("Active");?><span class="reqMark"></span>
				</td>
				<td><?php echo $this->lobjVenueForm->Active;?></td>
			</tr>
			<tr>
				<td align="right" colspan="4"><?php echo $this->lobjVenueForm->Save;?>
					<input type='button' class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Back')?>" value='click'
					onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementvenue', 'action'=>'index'),'default',true);?>';" />
				</td>
			</tr>
		</table>
	</Form>
</fieldset>


