<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Terms And Conditions");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/termsandconditions/index/search/1" method="POST">
            <table width="100%">
            	 <tr>
                   <td width="20%"><?php echo $this->translate("Term Name");?></td>
                   <td width="30%"><?php echo $this->lobjform->field2;?></td>
                   <td width="20%"><?php echo $this->translate("Active");?></td>
                   <td width="30%"><?php echo $this->lobjform->field9;?></td>
                </tr>
               
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'termsandconditions', 'action'=>'newtermsandconditions'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th  width="40%"><?php echo $this->translate("Term Name");?></th>	       	     
	       	    <th><?php echo $this->translate("Description");?></th>	       	   
	       </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjbillstructure ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'termsandconditions', 'action'=>'termsandconditions' , 'id'=>$lobjbillstructure['idTermsandconditions']),'default',true);?>" >
	        	<?php print_r($this->escape($lobjbillstructure['Termname']));?></a></td>	    	   
	    	    <td><?php echo $this->escape($lobjbillstructure['Description']);?></td>	    	    
	    	  <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
