<head>
	<script>
	dojo.addOnLoad(function(){
		dijit.byId('Termname').focus();	
		});
	</script>
</head>
<fieldset>
    <legend><?php echo $this->translate("Terms And Conditions");?></legend>
        <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/termsandconditions/newtermsandconditions" method="post"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
            <table id="hor-minimalist-b" align="center" class="table" width="100%">
		    		<TR>
	                      <TH colspan="4"><?php echo $this->translate->_("Terms And Conditions")?></TH>                                             
	                </TR>		    	
			      	<tr>
				        <td class="label"><?php echo $this->translate->_("Term Name")?><span class="reqMark">*</span></td>
	        			<td><?php echo $this->lobjTermsandconditionsForm->Termname?></td>
	        			<td class="label"><?php echo $this->translate->_("Description")?></td>
	        			<td><?php echo $this->lobjTermsandconditionsForm->Description?></td>        			
	        		</tr>	
					<tr>
				        <td class="label"><?php echo $this->translate->_("Default")?></td>
	        			<td><?php echo $this->lobjTermsandconditionsForm->Default?></td>
	        			<td class="label"><?php echo $this->translate->_("Active")?></td>
	        			<td><?php echo $this->lobjTermsandconditionsForm->Active?></td>        			
	        		</tr>	
			      	 <tr>
			      		  <td align = "right" colspan="4"><?php echo $this->lobjTermsandconditionsForm->Save;?>	                         
	                               <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'termsandconditions', 'action'=>'index'),'default',true);?>';" />	
	                       </td>			
	               	</tr>
             </table>            
       </Form>
</fieldset>