
<div class="message toolbar">
    <h2>
        <?php echo  "Specialization"; ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'application','controller'=>'specialization', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<fieldset>
    <legend><?php echo $this->translate("Specialization Info"); ?></legend>
    <form dojoType="dijit.form.Form" id="myForm"
          action="<?php echo $this->baseUrl();?>/application/specialization/edit"
          method="post" name="myForm">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
        <table class="table" width="100%">


            <tr>

                <td><?php echo $this->translate("Specialization Code");?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjEditSpecialization->sft_id;?></td>
            </tr>
            <tr>
                <td><?php echo "Specialization Name";?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjEditSpecialization->sft_eng_desc;?> <?php echo $this->lobjEditSpecialization->UpdDate;?>
                    <?php echo $this->lobjEditSpecialization->UpdUser;?></td>

            </tr>
            <tr>
                <td><?php echo $this->translate("Specialization (Malay)");?></td>
                <td><?php echo $this->lobjEditSpecialization->sft_mal_desc;?>

                    <input type="hidden" name="idsub" value="<?php echo $this->id; ?>" />
                </td>

            </tr>

            <tr>
                <td><?php echo $this->translate("Active");?></td>
                <td><?php echo $this->lobjEditSpecialization->Active;?></td>
            </tr>
            <tr>
                <th colspan="4"><?php echo $this->translate("Study Field Details");?>
                </th>
            </tr>

            <tr>
                <td><?php echo $this->translate("Study Field");?></td>
                <td><?php echo $this->lobjEditSpecialization->IdSubject;?></td>

            </tr>
            <tr>
                <td colspan="4" align="right"><?php echo $this->lobjEditSpecialization->Add;?>
                    <!--<?php echo $this->lobjEditSpecialization->Clear;?>-->
                </td>
            </tr>
        </table>
        <table class="table" width="100%"  id="hor">
            <tr>
                <th width="70%"><?php echo $this->translate("Study Field Name")?>
                </th>
                <th width="30%"><?php echo $this->translate("Delete"); ?></th>
            </tr>

            <?php if($this->sfresultDetails) {?>
                <?php
                foreach($this->sfresultDetails as $sfsetup) {?>
                    <tr>
                        <td align='left' width="70%"><?php echo $this->escape($sfsetup['sf_eng_desc']);?> <input
                                type="hidden" name="IdSubject[]"
                                value="<?php echo $this->escape($sfsetup['id']);?>">
                        </td>

                        <!--<td align='center'><?php /*echo $this->escape($quasetup['Maximum']);*/?> <input
                                    type="hidden" name="Maximumgrid[]"
                                    value="<?php /*echo $this->escape($quasetup['Maximum']);*/?>">
                        </td>-->


                        <td align='center' width="30%"><a href="javascript:void(0);"
                                              onClick="deleteRowDB(this,'<?php echo $this->escape($sfsetup['id']);?>');return false;"><?php echo $this->translate("Delete")?></a></td>

                    </tr>

                <?php }
            } ?>
        </table>
        <table class="table" width="100%">
            <tr>
                <td align="right">
                    <?php echo $this->lobjEditSpecialization->Save;?>
                </td>

            </tr>
        </table>
    </form>
</fieldset>



<script type="text/javascript">
    dojo.addOnLoad(function() {

        dijit.byId('IdSubject').set('value','');
        dijit.byId('IdSubject').set('placeHolder','<?php echo $this->translate('Select')?>');

    });



    function fnGetStaffList(IdStaff){
        if(IdStaff != "")
        {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+IdStaff,
                handleAs:'json',
                load:function(data){
                    dijit.byId('FromDate').set('value',data['JoiningDate']);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }



    var rowid=1;
    var batchArray  = new Array();
    var oldContent = "";
    var NoCnt	=	0;

    function addSubjectentry() {
        var subject = dijit.byId('IdSubject');
        var flag = true;
        if(subject.value == "") {
            dijit.byId("IdSubject").attr('required','true');
            dijit.byId("IdSubject").focus();
            flag = false;
        }
        if(flag) {
            insertdetails();
        }
    }

    function insertdetails() {
        var subject = dijit.byId("IdSubject").value;
        var subjectname = dijit.byId("IdSubject").displayedValue;
        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        batchArray.push(subjectname);
        console.log(batchArray);
        if(arrHasDupes(batchArray)) {
            alert("Duplicate Entry");
            batchArray = batchArray.unique();
            return false;
        }
        else {
            tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
            tcol2.innerHTML="<div align='center'><a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate('Delete'); ?></a></div>";
            rowid++;
        }
    }

    function deleteRow(r)
    {
        rowid--;

        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);

    }

    function deleteRowDB(r)
    {
        var dStat = confirm("Are you sure to delete the Study Field Setup Detail?");
        if(dStat == true){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            // var makeArr = minPD+'_'+maxPD;
            //batchArray.splice(batchArray.indexOf(makeArr), 1);
            document.getElementById('hor').deleteRow(i);
        }

    }

    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for(var i = 0, n = this.length; i < n; i++)
        {
            for(var x = 0, y = r.length; x < y; x++)
            {
                if(r[x]==this[i])
                {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }
</script>
