<script type="text/javascript">
    function del(){

        var id = $('input[name=id]:checked').val();

        if(confirm('Are you sure to delete?')){
            window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'delete'),'default',true); ?>/id/"+id;
        }
    }

    function add(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'specialization', 'action'=>'add'),'default',true);?>";
    }

    function edit(){
        var id = $('input[name=id]:checked').val();
        window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'edit'),'default',true);?>/id/"+id;
    }

    function searchbox(){
        $('#div_search').show();
    }
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate("Specialization");?></h2>
</div>
<br />

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="javascript:add()">
                    <span class='add'></span>
                    Add
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="breadcrum">
    <ul class="tri-steps">
        <li class="prevDone">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'highschool-subject', 'action' => 'index'), 'default', true); ?>"><?php echo "Subject"; ?></a>
            </div>
        </li>
        <li class="current">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'application', 'controller' => 'specialization', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Specialization"); ?></a>
            </div>
        </li>
        <li class="last">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'application', 'controller' => 'qualificationsetup', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Qualification"); ?></a>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<br>

<?php if(isset($this->noticeMessage)){?>
    <div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
    <div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeError)){?>
    <div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
    <br />
<?php }?>

<br>

<fieldset>
    <legend>Search</legend>
    <?php echo $this->searchForm; ?>
</fieldset>

<br>
<h3><?php echo $this->translate('Specialization') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>
<div style="width:100%;">
    <?php
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <fieldset>
        <table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
            <tr>
                <!--<th width="2"></th>-->
                <th><?php echo "Specialization Code"; ?></th>
                <th><?php echo "Specialization Name"; ?></th>
                <th><?php echo "Specialization (Malay)"?></th>
                <th><?php echo "Active"?></th>
                <th></th>
            </tr>


            <?php
            $i=0;
            foreach ($this->paginator as $entry):
                ?>

                <tr <?php echo $i%2==0?"class='shade'":""; ?>>
                    <!--<td> <input type="radio" name="id" value="<?php /*echo $entry['ss_id']; */?>"></td>-->
                    <td align="center"><?php echo $entry['sft_id']; ?></td>
                    <td><a href="<?php echo $this->url(array('module'=>'application','controller'=>'specialization', 'action'=>'detail','id'=>$entry['id']),'default',true); ?>"><?php echo $entry['sft_eng_desc']; ?></a></td>
                    <td><?php echo $entry['sft_mal_desc']; ?></td>
                    <td align="center"><?php echo $entry['Active']==1?$this->translate("Yes"):$this->translate("No"); ?></td>
                    <td align="center"><a href="<?php echo $this->baseUrl(); ?>/application/specialization/edit/id/<?php echo $entry['id']; ?>"><?php echo $this->translate('Edit'); ?></a>

                    </td>
                </tr>
                <?php
                $i++;
            endforeach
            ?>

        </table>
    </fieldset>
</div>
<?php
echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

