<script type="text/javascript">




</script>



<fieldset>
	<legend><?php echo $this->translate("Verify Payments");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/studentfinance/verifypayments/index/search/1" method="POST" dojoType="dijit.form.Form" id="myForm">
                           
          <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
				}
				else
				{					
					return false;
                }
				</script>
                           
                           
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Student Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td><?php echo $this->translate("Personal ID");?></td>
                                    <td><?php echo $this->lobjform->field2;?></td>
                                </tr>
                                 <tr>
                                    <td><?php echo $this->translate($this->Program);?></td>
                                    <td><?php echo $this->lobjform->field5;?></td>
                                    <td><?php echo $this->translate($this->Branch);?></td>
                                    <td><?php echo $this->lobjform->field8;?></td>
                                </tr>
                                <tr>                                 
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>
											 <input type='button' class="NormalBtn"	dojotype="dijit.form.Button" label="<?php echo $this->translate('Clear')?>" value='Clear'	onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'verifypayments', 'action'=>'index'),'default',true);?>';" />
		
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
   <br/>
   <?php  if (count($this->paginator)) {?>
   <form name="placement" method="POST">
<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th width="18%"><?php echo $this->translate->_("Student").' '.$this->translate->_("Name");?></th>
		<th width="15%"><?php echo $this->translate->_("Address");?></th>
		<th><?php echo $this->translate->_("IC")." ".$this->translate->_("Number");?></th>
		<th width="18%"><?php echo $this->translate->_("Program")." ".$this->translate->_("Name");?></th>
		<th><?php echo $this->translate->_("City");?></th>
		<th><?php echo $this->translate->_("Payment")." ".$this->translate->_("Recieved")." ".$this->translate->_("(Semi)");?></th>		
		<th><?php echo $this->translate->_("Payment")." ".$this->translate->_("Recieved")." ".$this->translate->_("(Full)");?></th>		
		<th><?php echo $this->translate->_("Approve")." ".$this->translate->_("For")." ".$this->translate->_("Registration");?></th>
		<th><?php echo $this->translate->_("Comments");?></th>		
	</tr>
	
	<?php
	
	if (count($this->paginator)):
	
		foreach ($this->paginator as $studentApplication ):  ?>
	<tr>
			<td>
				<?php echo $this->escape($studentApplication['FName']);?>
				<input type="hidden" name="StudentsIds[]" id="StudentsIds<?php echo @$cnt;?>" value="<?php echo $this->escape($studentApplication['IdApplication']);?>">
				<input type="hidden" name="IdPrograms[]" id="IdPrograms<?php echo @$cnt;?>" value="<?php echo $this->escape($studentApplication['IdProgram']);?>">
			
			</td>
			<td> <?php echo $this->escape($studentApplication['PermAddressDetails']);?> </td>
			<td> <?php echo $this->escape($studentApplication['ICNumber']);?> </td>
			<td> <?php echo $this->escape($studentApplication['ProgramName']);?> </td>
			<td> <?php echo $this->escape($studentApplication['CityName']);?> </td>
			<td ><input type="checkbox" <?php if($studentApplication['PaymentRecived'] == 1) echo "checked";?> name="recieved[]" id="recieved<?php echo $this->escape($studentApplication['IdApplication']);?>"  dojotype="dijit.form.CheckBox"  value="<?php echo $this->escape($studentApplication['IdApplication']);?>">  	</td>
		    <td ><input type="checkbox" <?php if($studentApplication['FullPayment'] == 1) echo "checked";?> name="fullPayment[]" id="fullPayment<?php echo $this->escape($studentApplication['IdApplication']);?>"  dojotype="dijit.form.CheckBox"  value="<?php echo $this->escape($studentApplication['IdApplication']);?>">  	</td>
			<td ><input type="checkbox" <?php if($studentApplication['OtherDocumentVarified'] == 1) echo "checked";?> name="documentsvarified[]" id="documentsvarified<?php echo $this->escape($studentApplication['IdApplication']);?>"  dojotype="dijit.form.CheckBox"  value="<?php echo $this->escape($studentApplication['IdApplication']);?>">  	</td>
			<td ><input type="text" maxlength="255"  name="comments[<?php echo $studentApplication['IdApplication'];?>]" id="comments<?php echo $this->escape($studentApplication['IdApplication']);?>"  dojotype="dijit.form.ValidationTextBox"  value="<?php  echo $this->escape($studentApplication['Comments']);?>">  	</td>
		</tr>
	<?php endforeach; 

	endif;?>
	
</table>
<table class="table" width="100%">
	<tr>
		<td align="right" colspan="4">
		
		<input type='submit' class="NormalBtn"	dojotype="dijit.form.Button" name="Save"	label="<?php echo $this->translate('Save')?>" value='Save'/>
		
        <input type='button' class="NormalBtn"	dojotype="dijit.form.Button" label="<?php echo $this->translate('Back')?>" value='click'			onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'verifypayments', 'action'=>'index'),'default',true);?>';" />
		</td>
	</tr>
</table>
</fieldset>
</form>
<?php } ?>