<head>
<script>

var rowid = 1;

var accountArray  = new Array();

dojo.addOnLoad(function(){
	
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	
	dijit.byId('field13').set('value','');
	dijit.byId('field13').set('placeHolder','Select');

	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	
	dijit.byId('idAccount').set('value','');
	dijit.byId('idAccount').set('placeHolder','Select');

	dijit.byId('Program').set('value','');
	dijit.byId('Program').set('placeHolder','Select');	

	dijit.byId('Faculty').set('value','');
	dijit.byId('Faculty').set('placeHolder','Select');
	});

function fnGetProgram(IdFaculty){

	var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/studentfinance/batchinvoice/fngetprogram/idCollege/"+IdFaculty,
				handleAs:'json',
				load:function(data){ 						
					AutoFillNextEditableDropDown('Program',data);  					
				}
		   }
dojo.xhrGet(xhrArgs); 
}

function fnGetProgramsearch(IdFaculty){

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/studentfinance/batchinvoice/fngetprogram/idCollege/"+IdFaculty,
			handleAs:'json',
			load:function(data){ 						
				AutoFillNextEditableDropDown('field13',data);  					
			}
	   }
dojo.xhrGet(xhrArgs);
	
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnGetAmount(idAccount) {
	dijit.byId('Amount').set('value','');
		if(idAccount != "")
		{ 
			var idprogram = dijit.byId('Program').value;			
			var semester = dijit.byId('Semester').value;
		
		if(idprogram == "" || semester == ""){
			alert("Please select  Program and Semester");
		}
		else {
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/studentfinance/invoice/fngetamount/idAccount/"+idAccount+"/idprogram/"+idprogram+"/semester/"+semester,
				handleAs:'json',
				load:function(data){ 					
					dijit.byId('Amount').set('value',data['Amount']);
				}
		   }

		}  
		dojo.xhrGet(xhrArgs); 
	} 	
}



function addBatchInvoiceDetails() {

	
	var flag = true;

	if(dijit.byId("idAccount")==''){
	    dijit.byId("idAccount").attr('required','true');
		dijit.byId("idAccount").focus();flag = false;
	}
	if(dijit.byId("Faculty")==''){
	    dijit.byId("Faculty").attr('required','true');
		dijit.byId("Faculty").focus();flag = false;
	}

	if(dijit.byId("Program")==''){
	    dijit.byId("Program").attr('required','true');
		dijit.byId("Program").focus();flag = false;
	}

	if(dijit.byId("Semester")==''){
	    dijit.byId("Semester").attr('required','true');
		dijit.byId("Semester").focus();flag = false;
	}

	var idAccount = dijit.byId("idAccount");
	if(idAccount.get('value')== "")
	{
		idAccount.set('class','dijitTextBoxError dijitComboBoxError');
		flag = false;
	}
	
	if(dijit.byId("Amount").value==undefined){		
		alert("Amount Cannot be Null");
		return false;
	    dijit.byId("Amount").attr('required','true');
		dijit.byId("Amount").focus();flag = false;
	}
	if(flag == true) {
		accountDetailsInsert();	
	}			
	return flag;
}

function accountDetailsInsert() {

	var studname=dijit.byId("field1").displayedValue;
	var studId=dijit.byId("field1").value;		
	var semester=dijit.byId("Semester").displayedValue;
	var semesterId=dijit.byId("Semester").value;	
	var idAccount = dijit.byId("idAccount");
	var idAccountName = dijit.byId("idAccount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	var Description = dijit.byId("Description").value;
	
	
	accountArray.push(idAccountName);
	
		if(arrHasDupes(accountArray))
		{
			accountArray = accountArray.unique();
			alert("Duplicate Account Name");
		} 
		else 
		{
			var trow=document.getElementById('hor').insertRow(rowid);
			var tcol1=trow.insertCell(0);
			var tcol2=trow.insertCell(1);
			var tcol3=trow.insertCell(2);
			var tcol4=trow.insertCell(3);
			var tcol5=trow.insertCell(4);
		
			tcol1.innerHTML="<input type='hidden' value='"+semesterId+"' name=semestergrid[]>"+semester;
			tcol2.innerHTML="<input type='hidden' value='"+idAccount+"' name=idAccountgrid[]>"+idAccountName;	
			tcol3.innerHTML="<input type='hidden' value='"+Amount+"' name=Amountgrid[]>"+Amount;
			tcol4.innerHTML="<input type='hidden' value='"+Description+"' name=Descriptiongrid[]>"+Description;							
			tcol5.innerHTML="<a href='#' onClick='deleteRowprogram(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
			rowid++;

		}
}


function deleteRowprogram(r) {
	rowid--;
	var i=r.parentNode.parentNode.rowIndex;
	accountArray.splice(parseInt(i-1),1);
	document.getElementById('hor').deleteRow(i);	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

function Validate(){
	var flag = false;
	alert(rowid)
	return flag;
}
function selectallfunction(cout) {
	var selectall = document.getElementById('selectall').checked;
	if(selectall)
	{
		for(i=0;i<cout;i++) {
			  dijit.byId("batchinvoice"+i).attr('checked',true);
			//document.getElementById('batchinvoice'+i).checked = true;
	    }
	} else {
		for(i=0;i<cout;i++) {
			  dijit.byId("batchinvoice"+i).attr('checked',false);
			//document.getElementById('batchinvoice'+i).checked = false;
	    }
	}
}
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Batch Invoice");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/studentfinance/batchinvoice/index" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field1;?></td>
				                   <td><?php echo $this->translate("Student Id");?></td>
				                   <td ><?php echo $this->lobjform->field4;?></td>
				                </tr>
								 <tr>				                  				                   
								   <td><?php echo $this->translate("Faculty");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                   <td><?php echo $this->translate("Program");?></td>
				                   <td ><?php echo $this->lobjform->field13;?></td>
				                </tr>
								<tr>
				                   <td><?php echo $this->translate("Semester");?></td>
				                   <td><?php echo $this->lobjform->field10;?></td>								   							  
				                </tr>
								
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>			
								    
									<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batchinvoice', 'action'=>'index'),'default',true);?>';" />
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
   <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
     <script type="dojo/method" event="onSubmit">
               		if (this.validate()) {							
						if(rowid == 1) {
							alert('Enter Account Details');
							flag =	false;
					} 
                        else{
						flag =	true;
					}
						return flag;
					}	
				else {
                    return false;
                }
                
				</script>
	<fieldset>
	
		  <?php $mmm =0;	         
	       		 if (count($this->paginator)): 
	       		 foreach ($this->paginator as $lobjstudesnts):	        
	        	$mmm++; 
	        	endforeach; 
	            endif; ?> 
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>	    	
	    	<th><?php echo $this->translate("Select All");?> <input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction(<?php echo $mmm;?>)' name='selectall'/></th>
	    	<th><?php echo $this->translate("Student Name");?></th>
	    	<th><?php echo $this->translate($this->College);?></th>
	    	<th><?php echo $this->translate("Program");?></th>
	    	<th><?php echo $this->translate("Semester");?></th>
	    	<th><?php echo $this->translate("Mode");?></th>
	    	
	    	</tr>
	        <?php $mm =0;	         
	        if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjstudents): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	     
	  			<td><input type="Checkbox"  name ="Idstudentregistration[<?php echo $mm;?>]" dojoType="dijit.form.CheckBox"  value="<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>" id="batchinvoice<?php echo $mm;?>" /></td> 	
	        	<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
	        	<td><?php print_r($this->escape($lobjstudents['CollegeName']));?></td>
	        	<td><?php print_r($this->escape($lobjstudents['ProgramName']));?></td>	  
	        	<td><?php print_r($this->escape($lobjstudents['semname']));?></td>   
	        	<td><?php print_r($this->escape($lobjstudents['ProgramName']));?></td>     	
	        	<?php 
	        	$mm++; 
	        	endforeach; ?>
	            <?php endif; ?> 
			</tr>			
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
   		
		</table>
		</fieldset>
		<fieldset>
	<legend><?php echo $this->translate("Enter Account Details");?></legend>
						<table width="100%">				              
								 <tr>				                  				                   
								   <td><?php echo $this->translate("Faculty");?></td>
				                   <td ><?php echo $this->lobjBatchinvoiceform->Faculty;?></td>
				                   <td><?php echo $this->translate("Program");?></td>
				                   <td ><?php echo $this->lobjBatchinvoiceform->Program;?></td>
				                </tr>
								<tr>
				                   <td><?php echo $this->translate("Semester");?></td>
				                   <td><?php echo $this->lobjBatchinvoiceform->Semester;?></td>
								   <td><?php echo $this->translate("Account Type");?></td>
				                   <td><?php echo $this->lobjBatchinvoiceform->idAccount;?></td>								  
				                </tr>
				                <tr>
				                	<td><?php echo $this->translate("Amount");?></td>
				                	<td><?php echo $this->lobjBatchinvoiceform->Amount;?></td>
				                	<td><?php echo $this->translate("Description");?></td>
				                	<td><?php echo $this->lobjBatchinvoiceform->Description;?></td>
				                </tr>				                
								
                                <tr>
                                <td align = "center" colspan = "4">
											
								    <?php echo $this->lobjBatchinvoiceform->Add;?>
									
								</td>
							    
                                </tr>
                        </table>
		
		<table id="hor"  class="table" width="100%" > 
				 <tr>
			    	<th><?php echo $this->translate("Semester");?></th>
			    	<th><?php echo $this->translate("Account Type");?></th>	
			    	<th><?php echo $this->translate("Amount");?></th>	
			    	<th><?php echo $this->translate("Description");?></th>	
			    	<th><?php echo $this->translate("Delete");?></th>	    	
			  	 </tr>                        
       </table>
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
           <tr>
				<td align = "right"><?php echo $this->lobjBatchinvoiceform->Save;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batchinvoice', 'action'=>'index'),'default',true);?>';" />	
               </td> 

          </tr> 
        </table>  
	</fieldset>
	</form>
</body>
</html>
