<script type="text/javascript" >
    var defererowid = <?php echo count($this->deferreasonsList) + 1; ?>;
    var batchArrayDefer  = new Array();
    dojo.addOnLoad(function() {
        <?php foreach ($this->deferreasonsList as $msg) { ?>
                        var strgn = "<?php echo $msg['ReasonDefer']; ?>";
                        batchArrayDefer.push(strgn);
        <?php }?>
    });
    function validaterecorddefermentForm(){
        var flag = true;
        var values = $('#recorddefermentForm').serialize();
        var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'recordsconfiguration', 'action' => 'savedeferreasons'), 'default', true); ?>';
        if(flag == true){
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                data: values,
                success: function(data) {
                    var mainTabContainerId = dijit.byId("mainTabContainer");
                    var redirectUrl = "<?php echo $this->url(array('module' => 'records', 'controller' => 'recordsconfiguration', 'action' => 'index'), 'default', true); ?>";
                    //redirectUrl = redirectUrl + "/id/"+obj['value']+"/new/1";
                    window.location.href = redirectUrl;
                }
            });
        }
    }
    function cleardeferpageAdd(){
        dijit.byId('ReasonDefer').set('value','');
        $('#DeferDescription').val('');
    }
    function addDeferConfigentry(){
        var flag = true;

        if(dijit.byId("ReasonDefer").value==''){
            dijit.byId("ReasonDefer").attr('required','true');
            dijit.byId("ReasonDefer").focus();
            flag = false;
            return false;
        }
        if(flag) {
            insertDeferconfigDetails();
        }
    }

    function insertDeferconfigDetails(){
        var ReasonDefer = dijit.byId("ReasonDefer").displayedValue;
        var DeferDescription = $("#DeferDescription").val();

        batchArrayDefer.push(ReasonDefer);
        if(arrHasDupes(batchArrayDefer)) {
            batchArrayDefer = batchArrayDefer.unique();
            alert("Duplicate Entry");
        }else{
            var trow=document.getElementById('hordefer').insertRow(defererowid);
            var tcol1=trow.insertCell(0);
            var tcol2=trow.insertCell(1);
            var tcol3=trow.insertCell(2);
            tcol1.innerHTML="<input type='hidden' value='"+ReasonDefer+"' name=ReasonDeferGrid[]>"+ReasonDefer;
            tcol2.innerHTML="<input type='hidden' value='"+DeferDescription+"' name=DeferDescriptionGrid[]>"+DeferDescription;
            tcol3.innerHTML="<a href='#' onClick='deleteDeferRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
            defererowid++;
        }
    }

    function deleteDeferRow(r){
        var ret = confirm("Are you sure to delete");
        if(ret){
            defererowid--;
            var i=r.parentNode.parentNode.rowIndex;            
            batchArrayDefer.splice(parseInt(i-1),1);
            document.getElementById('hordefer').deleteRow(i);
        }
    }
</script>
<div dojoType="dijit.layout.ContentPane" id="tab-three" title="<?php echo $this->translate("Reasons for Deferment"); ?>" style="height: auto;width:99%;overflow:auto">

    <form name="recordconfig" id="recorddefermentForm" action="" width="100%">
        <table class="table recordconfig" width="100%">
            <tr><th colspan="4"><?php echo $this->translate("Reasons for Deferment"); ?></th></tr>
            <tr>
                <td width="30%"><?php echo $this->translate("Reason"); ?><span>*</span></td>
                <td><?php echo $this->lobjrecorddeferreasonForm->ReasonDefer; ?></td>
                <td><?php echo $this->translate("Description"); ?></td>
                <td><?php echo $this->lobjrecorddeferreasonForm->DeferDescription; ?></td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <?php echo $this->lobjrecorddeferreasonForm->Adddeferreason; ?>
                    <?php echo $this->lobjrecorddeferreasonForm->Cleardeferreason; ?>
                </td>
            </tr>
        </table>
        <table class="table" width="100%" id="hordefer">
            <tr>
                <th><?php echo $this->translate("Reason"); ?></th>
                <th><?php echo $this->translate("Description"); ?></th>
                <th><?php echo $this->translate("Delete"); ?></th>
            </tr>
            <?php if (isset($this->deferreasonsList) && !empty($this->deferreasonsList)) {
 ?>
<?php foreach ($this->deferreasonsList as $message) { ?>
                            <tr>
                                <td><?php echo $message['ReasonDefer'] ?><input type="hidden" value="<?php echo $message['ReasonDefer'] ?>" name="ReasonDeferGrid[]" /></td>
                                <td><?php echo $message['DeferDescription'] ?><input type="hidden" value="<?php echo $message['DeferDescription'] ?>" name="DeferDescriptionGrid[]" /></td>
                                <td><a href="#" onClick="deleteDeferRow(this); return false;"><img src='<?php echo $this->baseUrl(); ?>/images/delete.png' border=0 width='16' height='16'> </a></td>
                            </tr>
<?php }
                    } ?>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            <input type = "button" dojoType=dijit.form.Button label = "<?php echo $this->translate("Save"); ?>" name = "Next" Value = "<?php echo $this->translate("Save & Next"); ?>" onClick="validaterecorddefermentForm()">
                            <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'recordsconfiguration', 'action'=>'index'),'default',true);?>';" />
                </td>
            </tr>
        </table>
    </form>
</div>