<script type="text/javascript" >
    var quitrowid = <?php echo count($this->quitreasonsList) + 1; ?>;
    var batchArrayQuit  = new Array();
    dojo.addOnLoad(function() {
<?php if (isset($this->quitreasonsList) && !empty($this->quitreasonsList)) { ?>
<?php foreach ($this->quitreasonsList as $msg) { ?>
                        var strgn = "<?php echo $msg['Reason']; ?>";
                        batchArrayQuit.push(strgn);
<?php }
} ?>
            });
            function validatequitreasonForm(){
                var flag = true;
                var values = $('#quitreasonForm').serialize();
                var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'recordsconfiguration', 'action' => 'savequitreasons'), 'default', true); ?>';
                if(flag == true){
                    $.ajax({
                        type: 'POST',
                        url: url,
                        async: false,
                        data: values,
                        success: function(data) {
                            var mainTabContainerId = dijit.byId("mainTabContainer");
                            var redirectUrl = "<?php echo $this->url(array('module' => 'records', 'controller' => 'recordsconfiguration', 'action' => 'index'), 'default', true); ?>";
                            //redirectUrl = redirectUrl + "/id/"+obj['value']+"/new/1";
                            window.location.href = redirectUrl;
                        }
                    });
                }
            }
            function addQuitConfigentry(){
                var flag = true;

                if(dijit.byId("Reason").value==''){
                    dijit.byId("Reason").attr('required','true');
                    dijit.byId("Reason").focus();
                    flag = false;
                    return false;
                }
                if(flag) {
                    insertQuitconfigDetails();
                }
            }


            function insertQuitconfigDetails() {
                var Reason = dijit.byId("Reason").displayedValue;
                var QuitDescription = $("#QuitDescription").val();
        
                batchArrayQuit.push(Reason);
                if(arrHasDupes(batchArrayQuit)) {
                    batchArrayQuit = batchArrayQuit.unique();
                    alert("Duplicate Entry");
                }else{
                    var trow=document.getElementById('horquit').insertRow(quitrowid);
                    var tcol1=trow.insertCell(0);
                    var tcol2=trow.insertCell(1);
                    var tcol3=trow.insertCell(2);
                    tcol1.innerHTML="<input type='hidden' value='"+Reason+"' name=ReasonGrid[]>"+Reason;
                    tcol2.innerHTML="<input type='hidden' value='"+QuitDescription+"' name=QuitDescriptionGrid[]>"+QuitDescription;
                    tcol3.innerHTML="<a href='#' onClick='deleteQuitRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
                    quitrowid++;
                }
            }

            function deleteQuitRow(r){
                var ret = confirm("Are you sure to delete");
                if(ret){
                    quitrowid--;
                    var i=r.parentNode.parentNode.rowIndex;
                    batchArrayQuit.splice(parseInt(i-1),1);
                    document.getElementById('horquit').deleteRow(i);
                }
            }

            function clearQuitpageAdd(){
                dijit.byId('Reason').set('value','');
                $('#QuitDescription').val('');
            }
</script>
<div dojoType="dijit.layout.ContentPane" id="tab-two" title="<?php echo $this->translate("Reasons for Quitting"); ?>" style="height: auto;width:99%;overflow:auto">
    <form name="recordconfig" id="quitreasonForm" action="" width="100%">
        <table class="table recordconfig" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Reasons for Quitting"); ?></th>
            </tr>
            <tr>
                <td width="30%"><?php echo $this->translate("Reason"); ?><span>*</span></td>
                <td><?php echo $this->lobjrecordquitreasonForm->Reason; ?></td>
                <td><?php echo $this->translate("Description"); ?></td>
                <td><?php echo $this->lobjrecordquitreasonForm->QuitDescription; ?></td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <?php echo $this->lobjrecordquitreasonForm->Addquitreason; ?>
<?php echo $this->lobjrecordquitreasonForm->Clearquitreason; ?>
                </td>
            </tr>
        </table>
        <table class="table" width="100%" id="horquit">
            <tr>
                <th><?php echo $this->translate("Reason"); ?></th>
                <th><?php echo $this->translate("Description"); ?></th>
                <th><?php echo $this->translate("Delete"); ?></th>
            </tr>
            <?php foreach ($this->quitreasonsList as $list) {
 ?>
            <?php } ?>
<?php if (isset($this->quitreasonsList) && !empty($this->quitreasonsList)) { ?>
<?php foreach ($this->quitreasonsList as $message) { ?>
                            <tr>
                                <td><?php echo $message['Reason'] ?><input type="hidden" value="<?php echo $message['Reason'] ?>" name="ReasonGrid[]" /></td>
                                <td><?php echo $message['QuitDescription'] ?><input type="hidden" value="<?php echo $message['QuitDescription'] ?>" name="QuitDescriptionGrid[]" /></td>
                                <td><a href="#" onClick="deleteQuitRow(this); return false;"><img src='<?php echo $this->baseUrl(); ?>/images/delete.png' border=0 width='16' height='16'> </a></td>
                            </tr>
<?php }
                    } ?>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            <input type = "button" dojoType=dijit.form.Button label = "<?php echo $this->translate("Save"); ?>" name = "Next" Value = "<?php echo $this->translate("Save & Next"); ?>" onClick="validatequitreasonForm()">
                            <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'recordsconfiguration', 'action'=>'index'),'default',true);?>';" />
                </td>
                
            </tr>
        </table>
    </form>
</div>