<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li class="divider"></li>
			<li>
				<a href="/generalsetup/subjectoffer/add/idsem/<?php echo $this->idsem;?>/idcol/<?php echo $this->idcol;?>" >
				<span class='add'></span>
				Add
				</a>
			</li>
			<li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'subjectsoffered', 'action'=>'index'),'default',true);?>';" >
				<span class='back'></span>
				<?php echo $this->translate("Back");?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br/>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<br/>

<fieldset>
<legend><?php echo $this->translate("Course Search"); ?></legend>
<?php 
echo $this->form;
?>
</fieldset>

<br />

<?php 
if(count($this->courses)>0){ ?>
<h3>List of course offered. </h3>
Click Add to offer new course. Click on remove checkbox then click submit to remove course offered.
<br></br>
<form name="savefrm" action="<?php echo $this->baseUrl()?>/generalsetup/subjectoffer/run/type/del" method="POST">
<table id="hor" class="table" width="100%">
	<tr>
		<th><?php echo $this->translate->_("Subject")?></th>
		<th><?php echo $this->translate->_("Subject Code")?></th>
		<!--<th><?php //echo $this->translate->_("Landscape")?></th>-->
		<th><?php echo $this->translate->_("Minimum Quota")?></th>
		<th><?php echo $this->translate->_("Maximum Quota")?></th>
		<th><?php echo $this->translate->_("Reservation")?></th>
		<th><?php echo $this->translate->_("Created By")?></th>
		<th><?php echo $this->translate->_("Created Date")?></th>
		<th><?php echo $this->translate->_("Remove")?></th>
	</tr>
	<?php 	
	foreach($this->courses as $coffered){
	?>
	<tr>
		<td><?php echo $coffered['SubjectName']?> - <?php echo $coffered['SubCode']?></td>
		<td><?php echo $coffered['SubCode']?></td>
		<!--<td><?php //echo $coffered['ProgramDescription']?></td>-->
		<td><?php echo $coffered['MinQuota']?></td>
		<td><?php echo $coffered['MaxQuota']?></td>
		<td><?php echo $coffered['reservation']?></td>
		<td><?php echo $coffered['lname']?> <?php echo $coffered['fname']?></td>
		<td><?php echo $coffered['UpdDate']?></td>
		<td align="center"><input type="checkbox" name="idsubject[<?php echo $coffered['idsub']?>]" value="<?php echo $coffered['idsub']?>"></td>			
	</tr>
	<?php 
	}
	?>		
</table>
<br></br>
<table id="hor" class="table" width="100%">
<tr>
	<td align="center"><input type="submit" value="Submit"></td>	
</tr>
</table>

<input type="hidden" name="IdSemester" value="<?php echo $this->idsem;?>"> 
<input type="hidden" name="IdCollege" value="<?php echo $this->idcol;?>">
</form>
<?php }else{ ?>
	
	<div class="message notice"><strong>No Course Offered. Please click add button to offer course</div>
	
<?php } ?>
