<script type="text/javascript">

    function showLoading(target1, target) {
        $('#' + target1).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");
    }

    function hideLoading(target1, target) {
        $('#loading').remove();
        $('#' + target1).show();
    }

    $(function () {

        $("#dialog-intake").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "<?php echo $this->translate('Save');?>": function () {

                    $("#formEditIntake").submit();
                    $(this).dialog("close");

                },
                "<?php echo $this->translate('Cancel');?>": function () {
                    $(this).dialog("close");
                }

            }
        });

    });

    function editMajorIntake(IDMajorIntake) {

        //get data majoring from ajax
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'program', 'action' => 'ajax-get-majorintake'), 'default', true);?>",
            data: {
                'IDMajorIntake': IDMajorIntake,
                'type': 'majorIntake'
            },
            type: 'POST',
            dataType: 'json'
        }).done(function (data) {
            console.log(data);

            $("#IDMajorIntake").val(IDMajorIntake);
            $("#IdMajor").val(data.IdMajor);
            $('#EditidStartIntake').val(data.idStartIntake);
            $('#EditidEndIntake').val(data.idEndIntake);
            $('#EditStatus').val(data.Status);
            $('#EditcreditLimit').val(data.creditLimit);

        });

        //popup aje
        $("#dialog-intake").dialog('open');
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        //allows only numeric and point
        if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode!=46))
            return false;

        return true;
    }

    function AddMajorIntake() {

        var flag = true;
        if (dijit.byId("idStartIntake").value == '') {
            dijit.byId("idStartIntake").attr('required', 'true');
            dijit.byId("idStartIntake").focus();
            flag = false;
        }

        if (flag == true) {
            MajorIntakeInsertion();
        }
        return flag;
    }

    function MajorIntakeInsertion() {
        var table = $('#majorIntakeList tbody');
        $(table).empty();

        $.ajax({
            url: "/generalsetup/program/ajax-save-major-intake",
            type: "post",
            async: false,
            data: {
                'IdMajor':<?php echo $this->LintIdMajor;?>,
                'idStartIntake':dijit.byId("idStartIntake").value,
                'idEndIntake': dijit.byId("idEndIntake").value,
                'creditLimit': dijit.byId("creditLimit").value,
                'Status': $("#Status").val(),
                'type':'majorintake'
            },
            dataType: 'json',
            success: function (data) {

                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var content = "<tr>" +
                            "<td>" + data[i].StartIntakeId + "</td>" +
                            "<td>" + data[i].EndIntakeId + "</td>" +
                            "<td>" + data[i].creditLimit + "</td>" +
                            "<td>" + data[i].Status + "</td>" +
                            "<td class='options' align='center'>" +
                            "<a href='#' onClick='editMajorIntake(" + data[i].IDMajorIntake + ");'><?php echo $this->translate("Edit"); ?></a>" +
                            " | " +
                            "<a href='#' onClick='deleteMajorIntake(" + data[i].IDMajorIntake + ")'><?php echo $this->translate("Delete"); ?></a>" +
                            "</td>" +
                            "</tr>";

                        $(table).append(content);
                    }
                }
            },
            error: function () {
                alert("failure");
            },
            beforeSend: function () {
                showLoading('majorIntakeList', 'loading_target');

            },
            complete: function () {
                hideLoading('majorIntakeList', 'loading_target');
            }
        });
    }


    function clearpageMajorIntake() {
        dijit.byId('idStartIntake').set("value", "");
        dijit.byId('idEndIntake').set("value", "");
        dijit.byId('creditLimit').set("value", "");
    }

    function deleteMajorIntake(IDMajorIntake) {

        var table = $('#majorIntakeList tbody');
        $(table).empty();

        $.ajax({
            url: "/generalsetup/program/ajax-delete-program-info",
            type: "post",
            async: false,
            data: {
                'IdMajor':<?php echo $this->LintIdMajor;?>,
                'IDMajorIntake': IDMajorIntake,
                'type': 'majorIntake'
            },
            dataType: 'json',
            success: function (data) {

                if (data) {
                    for (var i = 0; i < data.length; i++) {

                        var content = "<tr>" +
                            "<td>" + data[i].StartIntakeId + "</td>" +
                            "<td>" + data[i].EndIntakeId + "</td>" +
                            "<td>" + data[i].creditLimit + "</td>" +
                            "<td>" + data[i].Status + "</td>" +
                            "<td class='options' align='center'>" +
                            "<a href='#' onClick='editMajorIntake(" + data[i].IDMajorIntake + ");'><?php echo $this->translate("Edit"); ?></a>" +
                            " | " +
                            "<a href='#' onClick='deleteMajorIntake(" + data[i].IDMajorIntake + ")'><?php echo $this->translate("Delete"); ?></a>" +
                            "</td>" +
                            "</tr>";

                        $(table).append(content);
                    }
                }

            },
            error: function () {
                alert("failure");
            },
            beforeSend: function () {
                showLoading('programSchemeList', 'loading_target');

            },
            complete: function () {
                hideLoading('programSchemeList', 'loading_target');
            }
        });
    }



</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'program', 'action'=>'editprogram','id'=>$this->majorInfo['idProgram']),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Major Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Program Name").' : '.$this->majorInfo['ProgramName'] ?></li>
        <li><?php echo $this->translate("Major Id").' : '.$this->majorInfo['IdMajor'] ?></li>
        <li><?php echo $this->translate("Major Description").' : '.$this->majorInfo['EnglishDescription'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Add Majoring By Intake"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Start Intake");?><span class="reqMark">*</span></td>
            <td colspan="3"><?php echo $this->lobjprogramForm->idStartIntake;?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("End Intake");?></td>
            <td colspan="3"><?php echo $this->lobjprogramForm->idEndIntake; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Credit to Complete"); ?></td>
            <td><?php echo $this->lobjprogramForm->creditLimit; ?></td>
            <td><?php echo $this->translate("Status"); ?></td>
            <td><select id="Status" name="Status">
                    <option value="VALID">VALID</option>
                    <option value="INVALID">INVALID</option>
                </select></td>
        </tr>
        <tr>
            <td colspan="4"
                align="center"><?php echo $this->lobjprogramForm->InsertMajIntake; ?><?php echo $this->lobjprogramForm->EraseMajIntake; ?></td>
        </tr>
    </table>
</fieldset>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Major by Intake")?></legend>
    <table class="table" width="100%" id="majorIntakeList">
        <thead>
        <tr>
            <th><?php echo $this->translate("Start Intake")?></th>
            <th><?php echo $this->translate("End Intake")?></th>
            <th><?php echo $this->translate("Credit to Complete")?></th>
            <th><?php echo $this->translate("Status")?></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($this->majorIntakelist as $int){?>
            <tr>
                <td align='center'><?php echo $int['StartIntakeId'];?></td>
                <td align='center'><?php echo $int['EndIntakeId'];?></td>
                <td align='center'><?php echo $int['creditLimit'];?></td>
                <td align='center'><?php echo $int['Status'];?></td>
                <td align='center' class="options">
                    <a href='#' title="<?php echo $this->translate("Edit"); ?>"
                       onClick='editMajorIntake("<?php echo $int['IDMajorIntake']; ?>");'><?php echo $this->translate("Edit"); ?></a>
                    |
                    <a href='#' title="<?php echo $this->translate("Delete"); ?>"
                       onClick='deleteMajorIntake("<?php echo $int['IDMajorIntake']; ?>");'><?php echo $this->translate("Delete"); ?></a>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</fieldset>
<br><br>

<div id="dialog-intake" title="<?php echo $this->translate("Edit Major by Intake"); ?>">
    <form name="formEditIntake" id="formEditIntake" method="post"
          action="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'program', 'action' => 'save-edit-majorintake','type' => 'majorintake'), 'default', true); ?>">
        <input type="hidden" name="IDMajorIntake" id="IDMajorIntake" value="">
        <input type="hidden" name="IdMajor" id="IdMajor" value="">
        <table class="" width="100%">
            <tr>
                <td><?php echo $this->translate("Start Intake"); ?></td>
                <td><select name='EditidStartIntake' id="EditidStartIntake">
                        <?php foreach ($this->intakelist as $t) { ?>
                            <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("End Intake"); ?></td>
                <td> <select name='EditidEndIntake' id="EditidEndIntake">
                        <?php foreach ($this->intakelist as $t) { ?>
                            <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Credit Limit"); ?></td>
                <td><input type="text" name="EditcreditLimit" id="EditcreditLimit" value="" onkeypress="return isNumberKey(event);"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Status"); ?></td>
                <td><select id="EditStatus" name="EditStatus">
                        <option value="VALID">VALID</option>
                        <option value="INVALID">INVALID</option>
                    </select>
                </td>

        </table>
    </form>
</div>