<script type="text/javascript">

    function showLoading(target1, target) {
        $('#' + target1).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");
    }

    function hideLoading(target1, target) {
        $('#loading').remove();
        $('#' + target1).show();
    }

    $(function () {

        $("#dialog-struc").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "<?php echo $this->translate('Save');?>": function () {

                    $("#formEditStruc").submit();
                    $(this).dialog("close");

                },
                "<?php echo $this->translate('Cancel');?>": function () {
                    $(this).dialog("close");
                }

            }
        });

    });

    function editMajorStruc(IDMajorStruc) {

        //get data majoring from ajax
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'program', 'action' => 'ajax-get-majorintake'), 'default', true);?>",
            data: {
                'IDMajorStruc': IDMajorStruc,
                'type': 'majorStruc'
            },
            type: 'POST',
            dataType: 'json'
        }).done(function (data) {
            console.log(data);

            $("#IDMajorStruc").val(IDMajorStruc);
            $("#IdMajor").val(data.IdMajor);
            $('#EditidStruc').val(data.idStruc);

        });

        //popup aje
        $("#dialog-struc").dialog('open');
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        //allows only numeric and point
        if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode!=46))
            return false;

        return true;
    }

    function AddMajorStruc() {

        var flag = true;
        if (dijit.byId("idStruc").value == '') {
            dijit.byId("idStruc").attr('required', 'true');
            dijit.byId("idStruc").focus();
            flag = false;
        }

        if (flag == true) {
            MajorStrucInsertion();
        }
        return flag;
    }

    function MajorStrucInsertion() {
        var table = $('#majorStrucList tbody');
        $(table).empty();

        $.ajax({
            url: "/generalsetup/program/ajax-save-major-intake",
            type: "post",
            async: false,
            data: {
                'IdMajor':<?php echo $this->LintIdMajor;?>,
                'idStruc':dijit.byId("idStruc").value,
                'type':'structure'
            },
            dataType: 'json',
            success: function (data) {

                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var content = "<tr>" +
                            "<td>" + data[i].StrucDesc + "</td>" +
                            "<td class='options' align='center'>" +
                            "<a href='#' onClick='editMajorStruc(" + data[i].IDMajorStruc + ");'><?php echo $this->translate("Edit"); ?></a>" +
                            " | " +
                            "<a href='#' onClick='deleteMajorSturc(" + data[i].IDMajorStruc + ")'><?php echo $this->translate("Delete"); ?></a>" +
                            "</td>" +
                            "</tr>";

                        $(table).append(content);
                    }
                }
            },
            error: function () {
                alert("failure");
            },
            beforeSend: function () {
                showLoading('majorStrucList', 'loading_target');

            },
            complete: function () {
                hideLoading('majorStrucList', 'loading_target');
            }
        });
    }


    function clearpageMajorStruc() {
        dijit.byId('idStruc').set("value", "");
    }

    function deleteMajorStruc(IDMajorStruc) {

        var table = $('#majorStrucList tbody');
        $(table).empty();

        $.ajax({
            url: "/generalsetup/program/ajax-delete-program-info",
            type: "post",
            async: false,
            data: {
                'IdMajor':<?php echo $this->LintIdMajor;?>,
                'IDMajorStruc': IDMajorStruc,
                'type': 'majorStruc'
            },
            dataType: 'json',
            success: function (data) {

                if (data) {
                    for (var i = 0; i < data.length; i++) {

                        var content = "<tr>" +
                            "<td>" + data[i].StrucDesc + "</td>" +
                            "<td class='options' align='center'>" +
                            "<a href='#' onClick='editMajorStruc(" + data[i].IDMajorStruc + ");'><?php echo $this->translate("Edit"); ?></a>" +
                            " | " +
                            "<a href='#' onClick='deleteMajorStruc(" + data[i].IDMajorStruc + ")'><?php echo $this->translate("Delete"); ?></a>" +
                            "</td>" +
                            "</tr>";

                        $(table).append(content);
                    }
                }

            },
            error: function () {
                alert("failure");
            },
            beforeSend: function () {
                showLoading('majorStrucList', 'loading_target');

            },
            complete: function () {
                hideLoading('majorStrucList', 'loading_target');
            }
        });
    }



</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'program', 'action'=>'editprogram','id'=>$this->majorInfo['idProgram']),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br><br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Major Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Program Name").' : '.$this->majorInfo['ProgramName'] ?></li>
        <li><?php echo $this->translate("Major Id").' : '.$this->majorInfo['IdMajor'] ?></li>
        <li><?php echo $this->translate("Major Description").' : '.$this->majorInfo['EnglishDescription'] ?></li>
    </ul>
</fieldset>
<br><br>
<fieldset>
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Add Available Structure for Majoring"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Structure");?><span class="reqMark">*</span></td>
            <td colspan="3"><?php echo $this->lobjprogramForm->idStruc;?></td>
        </tr>
        <tr>
            <td colspan="4"
                align="center"><?php echo $this->lobjprogramForm->InsertMajStruc; ?><?php echo $this->lobjprogramForm->EraseMajStruc; ?></td>
        </tr>
    </table>
</fieldset>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Available Structure for Majoring")?></legend>
    <table class="table" width="100%" id="majorStrucList">
        <thead>
        <tr>
            <th><?php echo $this->translate("Structure")?></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($this->majorStruclist as $int){?>
            <tr>
                <td><?php echo $int['StrucDesc'];?></td>
                <td align='center' class="options">
                    <a href='#' title="<?php echo $this->translate("Edit"); ?>"
                       onClick='editMajorStruc("<?php echo $int['IDMajorStruc']; ?>");'><?php echo $this->translate("Edit"); ?></a>
                    |
                    <a href='#' title="<?php echo $this->translate("Delete"); ?>"
                       onClick='deleteMajorStruc("<?php echo $int['IDMajorStruc']; ?>");'><?php echo $this->translate("Delete"); ?></a>
                </td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</fieldset>
<br><br>

<div id="dialog-struc" title="<?php echo $this->translate("Edit Available Structure for Majoring"); ?>">
    <form name="formEditStruc" id="formEditStruc" method="post"
          action="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'program', 'action' => 'save-edit-majorintake','type' => 'majorstruc'), 'default', true); ?>">
        <input type="hidden" name="IDMajorStruc" id="IDMajorStruc" value="">
        <input type="hidden" name="IdMajor" id="IdMajor" value="">
        <table class="" width="100%">
            <tr>
                <td><?php echo $this->translate("PG Structure"); ?></td>
                <td><select name='EditidStruc' id="EditidStruc">
                        <?php foreach ($this->structurelist as $t) { ?>
                            <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>

        </table>
    </form>
</div>