<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Please Select');	
	});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
                    <li class="divider"></li>
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'program', 'action'=>'newprogram'),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			<!--<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>-->
		</ul>
	</div>
</div>
<br></br>
<fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
		<form action="<?php echo $this->baseUrl();?>/generalsetup/program/index/search/1" method="POST">          
			<table class="" width="50%" cellpadding="5" cellspacing="1">
				<tr>
					<td><?php echo  $this->translate("Programme Name");?></td>
					<td><?php echo  $this->lobjform->field3;?></td>
				</tr>
				<tr>
					<td><?php echo  $this->translate("Programme Name").' ('.$this->defaultlanguage.')' ;?></td>
					<td><?php echo  $this->lobjform->field4;?></td>
				</tr>
				<tr>
					<td><?php echo  $this->translate("Award");?></td>
					<td><?php echo  $this->lobjform->field5;?></td>
				</tr>
				<tr>
					<td><?php echo  $this->translate("Active");?></td>
					<td><?php echo  $this->lobjform->field7;?></td>
				</tr>
				<tr>
					<td></td>
					<td>
					<?php echo $this->lobjform->Search;?>												
					<?php echo $this->lobjform->Clear;?></td>
				</tr>
			</table>            
		</form>	
</fieldset> 
<br/>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<form method="post" action="" name="form_sort">
	<table class="table" width="100%" cellpadding="5" cellspacing="1" id="listtable">
		<tr>
			<th width="50"><?php echo $this->translate("Order")?></th>
			<th><?php echo $this->translate("Programme Code");?></th>	        	
			<th><?php echo $this->translate("Programme Name").'<!--<br>  ('.$this->translate("English");?>)--></th>	 
			<th><?php echo $this->translate("Faculty Name");?></th>     
			<th><?php echo $this->translate("Award"); ?></th>
			<th></th>
		</tr>
		<tbody id="sortable">
		<?php $i=0; ?>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjprogram):
		$i++;
		//get college
		$collegeDb = new GeneralSetup_Model_DbTable_Collegemaster();
		$college = $collegeDb->fngetCollegemasterData($lobjprogram['IdCollege']);
		?>
		<tr>
			<td><input type="text" value="<?php echo $i ?>" class="input-txt" style="width:50px" name="order[<?php echo $lobjprogram['IdProgram']?>]" /></td>
			<td><?php print_r($this->escape($lobjprogram['ProgramCode']));?></td>	  		    
			<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
			<td><?php print_r($this->escape($college['ArabicName']));?></td>
			<td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetAwardDesc($lobjprogram['Award']);?></td>
			<td align='center'><a href="<?php echo $this->baseUrl();?>/generalsetup/program/editprogram/id/<?php echo $this->escape($lobjprogram['IdProgram']);?>" ><?php echo $this->translate("Edit"); ?></a></td>
		</tr>
			<?php endforeach; ?>
			<?php endif; ?> 
		</tbody>
	</table>
	<div class="form-opt">
		<input type="submit" class="btn-submit" value="<?php echo $this->translate('Save Order')?>" name="saveorder" />
	</div>
</form>
<div class="pagination opt"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?></div>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>

<script type="text/javascript">
$(function()
{
	$('tbody#sortable').sortable({
	    start: function (event, ui) {
            var start_pos = ui.item.index() + 1;
            ui.item.data('start_pos', start_pos);
	    },
	    change: function (event, ui) {
	        var start_pos = ui.item.data('start_pos');

	        var dragDirection = start_pos < ui.placeholder.index() ? "down" : "up";
	        ui.item.data('drag_direction', dragDirection);
	    },
	    stop: function (event, ui) {
	        var thisTable = document.getElementById('listtable');

	        var movedRowIndex = (ui.item.index() + 1);

	        var pageNumberCell = $(thisTable.rows[movedRowIndex].cells[0]).find("input");
	        pageNumberCell.val((ui.item.index() + 1));

	        var drag_direction = ui.item.data('drag_direction');

	        if (drag_direction == 'down') {
	            for (var i = 1; i < thisTable.rows.length; i++) {
	                if (i < movedRowIndex) {
	                    $(thisTable.rows[i].cells[0]).find("input").val(i);
	                }
	            }
	        }

	        if (drag_direction == 'up') {
	            for (var i = 1; i < thisTable.rows.length; i++) {
	                if (i > movedRowIndex) {
	                    $(thisTable.rows[i].cells[0]).find("input").val(i);
	                }
	            }
	        }
	    }
	});
	$('tbody#sortable').disableSelection();
});
</script>