<script>
function fnGetColgDeptList(IdCollege){
	if(IdCollege != "")
	{
		var xhrArgs = {
				url: "/default/ajax-utility/ajax-get-department/IdCollege/"+IdCollege,
				handleAs:'json',
				load:function(data){
					AutoFillNextEditableDropDown("IdDepartment",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
	}
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
                 
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'program', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			
	
			
			
		</ul>
	</div>
</div>
<br></br>

<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
<script type="dojo/method" event="onSubmit">
    if (this.validate()) {
        return true;
    } else {
        return false;
    }
</script>
<fieldset>
<legend><?php echo $this->translate('Add New Programme');?></legend>
					<table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Program).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate($this->Program).' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td colspan="3"><?php echo $this->lobjprogramForm->ProgramName;?>
                            	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Program Name") . ' (' . $this->translate($this->defaultlanguage) . ')'; ?><span class="reqMark"></span></td>
                            <td colspan="3"><?php echo $this->lobjprogramForm->MalayName;?></td>

                        </tr>
                        <tr>
                            <td><?php echo $this->translate('Department');?><span class="reqMark">*</span></td>
                            <td colspan="3"><?php echo $this->lobjprogramForm->IdCollege;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Programme Code");?><span class="reqMark">*</span></td>
                        	<td><?php echo $this->lobjprogramForm->ProgramCode;?></td>
                            <td><?php echo $this->translate("Scheme"); ?> / Program<span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->IdScheme; ?></td>
                         </tr>
                        <tr>
                            <td ><?php echo $this->translate("Award");?> / Level<span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Award;?><span id='awards'></span></td>
                            <td><?php echo $this->translate("Total Credit Hours");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->TotalCreditHours;?></td>
                        </tr>                       
                        <tr>
                            <td><?php echo $this->translate("Offer Status");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjprogramForm->Active;?></td>
                            <td><?php echo $this->translate("Apply Online ?") ?></td>
                            <td><?php echo $this->lobjprogramForm->apply_online; ?></td>
                        </tr>
                        <!--<tr>
                          <th colspan = "4"><?php //echo $this->translate('Dean of Programme Details');?></th>
                        </tr>
                        <tr>
                            <td><?php //echo $this->translate('Dean of Programme');?><span class="reqMark">*</span></td>
                            <td><?php //echo $this->lobjuniversityForm->IdStaff;?></td>


                        </tr>
                        <tr>
                        	<td><?php //echo $this->translate('Effective Date');?><span class="reqMark">*</span></td>
                        	<td><?php //echo $this->lobjuniversityForm->FromDate;?></td>

                        </tr>-->
                        <tr>
                           <td colspan="4" align = "center"><?php echo $this->lobjprogramForm->Save;?><?php echo $this->lobjprogramForm->clear;?><input type='hidden' name='idRow' id='idRow' value='0'></input></td>
                        </tr>

					</table>
</fieldset>
</Form>