<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Generate Hostel Invoicing"); 
        ?>
    </h2>
    <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'hostel','controller'=>'billing', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
 
 <form action="<?php echo $this->baseUrl(); ?>/hostel/billing/generate-invoice"
        id="invoice_form"
        method="POST">
<fieldset>
    <legend><?php echo $this->translate('Invoice Information'); ?></legend>
    <table class="table table-stripe" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <td><?php echo $this->translate("Fee Type"); ?>
                </td>
                <td>
                    <select name="fee_item_id" id="fee_item_id">
                        <option value=''></option>
                        <?php foreach($this->fee_items as $fee_item) { ?>
                            <option value="<?php echo $fee_item['fi_id']; ?>">
                                <?php echo $fee_item['fi_name']; ?>
                            </option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr class='invoice_tr'>
                <td>
                    Invoice Month Year
                </td>
                <td>
                    <select name="fee_month">
                        <?php for($i=1; $i<=12; $i++) { ?>
                            <option value="<?php echo date('m', strtotime('2014-' . $i . '-01')); ?>">
                                <?php echo date('M', strtotime('2014-' . $i . '-01')) ; ?>
                            </option>
                        <?php } ?>
                    </select>
                    <input type="text" name="fee_year" value="<?php echo date('Y'); ?>" placeholder="<?php echo $this->translate('Year'); ?>">
                </td>
            </tr>
            <tr class='amount_tr'>
                <td>
                    <?php echo $this->translate('Amount'); ?>
                </td>
                <td>
                   <div id="amount_tr"><input type="text" name="fee_amount" id="fee_amount" value="0"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->translate('Description'); ?>
                </td>
                <td>
                    <textarea name="description" id="description" cols="70"></textarea>
                </td>
            </tr>
    </table>
</fieldset>
<fieldset>
    <table class"table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <td><?php echo $this->translate('Filter Room Type'); ?></td>
            <td>
                <select name="filter[room_type_id]" id="filter_room_type_id" >
                    <option value=""></option>
                    <?php 
                        foreach($this->roomtypes as $roomtype) {
                    ?>
                        <option value="<?php echo $roomtype['key']; ?>">
                            <?php echo $roomtype['value']; ?>
                        </option>
                    <?php
                        }
                    ?>
                </select>
            </td>
        </tr>

    </table>
    <table class"table" width="100%" cellpadding="5" cellspacing="1">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id='apply_all'>
                </th>
                <th>
                    <?php echo $this->translate('Customer Id'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Customer Name'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Check In'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Room Number'); ?>
                </th>
                <th>
                    <?php echo $this->translate('Rate'); ?>
                </th>
            </tr>
        </thead>
        <tbody id="registration_list">
            <?php 
                foreach($this->hostel_registrations as $registration ) {
                  $cur_charge = Hostel_Model_DbTable_Hostelroom::getRoomTypeCharges($registration['RoomType'], 263);
                ?>
            <tr>
                <td>
                     <input type="checkbox" name="IdHostelregistration[]" value="<?php echo $registration['IdHostelregistration']; ?>">
                </td>
                <td>
                    <?php echo $registration['registrationId']; ?>
                </td>
                <td>
                    <?php echo $registration['name']; ?>
                </td>
                <td>
                    <?php echo format_date_to_view($registration['CheckInDate']); ?>
                </td>
                <td>
                    <?php echo $registration['RoomName']; ?>
                </td>
                <td>
                    <?php echo $cur_charge['Rate']; ?> / <?php echo $cur_charge['tenancy_period_name']; ?>
                </td>
            </tr>
            <?php } ?>
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" align="right"><div class="pagination">
                        <?php echo $this->paginationControl($this->hostel_registrations,'Sliding',
                                '/partials/my_pagination_control.phtml'); ?>
                    </div></td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <input type="submit" value="<?php echo $this->translate('Generate Invoice'); ?>" >
                </td>
            </tr>
        </tfoot>

    </table>
</fieldset>
</form>

<script>
    function validate_form() {
        valid = true;
        
        if($('#fee_item_id').val() == "") {
            alert('<?php echo $this->translate('Please Select Fee Type'); ?>')
            $('#fee_item_id').focus();
            valid = false;
        }

        if($('#description').val() == '') {
            alert('<?php echo $this->translate('Please provide description for invoice'); ?>');
            $('#description').focus();
            valid = false;
        }

        return(valid);
    }


    $(document).ready(
        function () {
            $('#fee_item_id').on('change', function() {

                /*if (
                    ($(this).val() == '<?php //echo Studentfinance_Model_DbTable_FeeItem::getFeeItemIdByCode('REN-UTI'); ?>')
                    ||
                    ($(this).val() == '<?php //echo Studentfinance_Model_DbTable_FeeItem::getFeeItemIdByCode('REN-PEN'); ?>')
                   )
                {
                    $('.amount_tr').show();
                } else {
                    $('.amount_tr').hide();
                }*/
    
                if ($(this).val() == 62 || $(this).val() == 64 || $(this).val() == 65){
                    $('.amount_tr').hide();
                }else{
                    $('.amount_tr').show();
                }

            });

            $('#apply_all').on('click', function() {
                $('input[name=IdHostelregistration\\[\\]]').prop('checked', $('#apply_all').prop('checked'))
            });

            $('#invoice_form').on('submit', function(event) {
                if(validate_form()) {

                } else {
                    event.preventDefault();
                }
            });

            $('#filter_room_type_id').on('change', function () {
               $.ajax({
                  url: "<?php echo $this->url(array('module' => 'hostel', 'controller' => 'billing', 'action' => 'getroomtype'), 'default', true); ?>",
                  type: 'POST',
                  data: { room_type_id: $(this).val() },
                  beforeSend: function() {
                    $('#registration_list').html('<tr><td colspan="5"><?php echo $this->translate('Searching...'); ?></td></tr>');
                  },
                  success: function(data) {
                    $('#registration_list').html(data);
                  }
                });
            });
        }
        );
</script>