 <?php 
    foreach($this->hostel_registrations as $registration ) { 
      $cur_charge = Hostel_Model_DbTable_Hostelroom::getRoomTypeCharges($registration['RoomType'], 263);
    ?>
    <tr>
        <td>
             <input type="checkbox" name="IdHostelregistration[]" value="<?php echo $registration['IdHostelregistration']; ?>">
        </td>
        <td>
            <?php echo $registration['registrationId']; ?>
        </td>
        <td>
            <?php echo $registration['name']; ?>
        </td>
        <td>
            <?php echo format_date_to_view($registration['CheckInDate']); ?>
        </td>
        <td>
            <?php echo $registration['RoomName']; ?>
        </td>
        <td>
            <?php echo $cur_charge['Rate']; ?> / <?php echo $cur_charge['tenancy_period_name']; ?>
        </td>
    </tr>
<?php } ?>