<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Hostel Invoicing"); 
        ?>
    </h2>
    <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'billing', 'action'=>'add'),'default',true);?>" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<fieldset>
	<form action="<?php echo $this->baseUrl(); ?>/hostel/billing/index"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Fee Type"); ?>
				</td>
				<td>
					<select name="fee_item_id">
						<?php foreach($this->fee_items as $fee_item) { ?>
							<option value="<?php echo $fee_item['fi_id']; ?>">
								<?php echo $fee_item['fi_name']; ?>
							</option>
						<?php } ?>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate("Created After"); ?>
				</td>
				<td>
					<input type="text" name="StartDate" class="date" dojoType="dijit.form.DateTextBox" 
						constraints="{datePattern:'dd-MM-yyyy'}"> 
				</td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate("Created Before"); ?>
				</td>
				<td>
					<input type="text" name="EndDate" class="date" dojoType="dijit.form.DateTextBox" 
						constraints="{datePattern:'dd-MM-yyyy'}">
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Customer Id"); ?>
				</td>
				<td><input type="text" name="customer_id"></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Name"); ?>
				</td>
				<td><input type="text" name="customer_name"></td>
			</tr>
			<tr>
				<td align="center" colspan="4">
					<input type="submit" value="<?php echo $this->translate('Search'); ?>">
					
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<br />

	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Customer Id");?></th>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("Date");?></th>
			<th><?php echo $this->translate("Invoice");?></th>
			<th><?php echo $this->translate("Fee Description");?></th>
			<th><?php echo $this->translate("Amount");?></th>
			<th><?php echo $this->translate("Status");?></th>
			<th></th>
		</tr>
		<?php if (count($this->hostel_fees)) { ?>

		<?php 
			foreach ($this->hostel_fees as $hostel_fee){ 
				if($hostel_fee['fi_id'] ==  Studentfinance_Model_DbTable_FeeItem::getFeeItemIdByCode('REN-MTH')) {
					$fee_desc = $hostel_fee['fee_item_description'] . ' - ' . $hostel_fee['monthyear'];
				} else {
					$fee_desc = $hostel_fee['fee_item_description'];
				}
		?>

		<tr>
			<td>
				<?php echo $hostel_fee['registrationId'];?>
			</td>
			<td>
				<?php echo $hostel_fee['name'];?>
			</td>
			<td>
				<?php echo format_date_to_view($hostel_fee['created_at']);?>
			</td>
			<td>
				<?php echo $hostel_fee['bill_number'];?>
			</td>
			<td>
				<?php echo $fee_desc;?>
			</td>
			<td>
				<?php echo $hostel_fee['amount'];?>
			</td>
			<td>
				<?php echo ($hostel_fee['status'] =='A')? $this->translate('Active') : $this->translate('Cancelled') ;?>
			</td>
			<td>
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'billing', 'action'=>'view-invoice','hostel_fee_id' => $hostel_fee['hostel_fee_id']),'default',true);?>">
					View
				</a>
			</td>
		</tr>
			<?php } ?>
		<?php } ?>
		<tr>
			<td colspan="7" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->hostel_fees,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
	<?php if($this->blankMsg=='1') { ?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<td align="center" style="color: red"><?php echo $this->translate('No matching record found. Try
					different keywords.'); ?></td>
			</tr>
		</table>
	<?php } ?>