<div class="message toolbar">
	<h2><?php echo $this->translate("View Invoice");?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module' => 'hostel', 'controller' => 'billing', 'action' => 'index'), 'default', true); ?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
	
<fieldset>
	<legend>
		<?php echo $this->translate("Invoice");?>
	</legend>
	<ul>
		<li>
			<?php echo $this->translate('Invoice Number'); ?> : <?php echo $this->hostel_fee['bill_number']; ?>
		</li>
		<li>
			<?php echo $this->translate('Invoice Type'); ?> : <?php echo $this->hostel_fee['fee_item_description']; ?>
		</li>
		<li>
			<?php echo $this->translate('Description'); ?> : <?php echo $this->hostel_fee['bill_description']; ?>
		</li>
		<li>
			<?php echo $this->translate('Student ID'); ?> : <?php echo $this->hostel_fee['registrationId']; ?>
		</li>
		<li>
			<?php echo $this->translate('Student'); ?> : <?php echo $this->hostel_fee['name']; ?>
		</li>
		<li>
			<?php echo $this->translate('Amount'); ?> : <?php echo $this->hostel_fee['amount_default_currency']; ?>
		</li>
		<li>
			<?php echo $this->translate('Paid'); ?> : <?php echo $this->hostel_fee['bill_paid']; ?>
		</li>
		<li><?php echo $this->translate('Balance'); ?> : <?php echo $this->hostel_fee['bill_balance']; ?>
		</li>
		<li>
			<?php echo $this->translate('Invoice Date'); ?> : <?php echo format_date_to_view($this->hostel_fee['created_at']); ?>
		</li>
	</ul>
</fieldset>