
<script>
dojo.addOnLoad(function(){
	<?php if(!$this->larrresult){?>
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	<?php }?>
	});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'academicstatus', 'action'=>'newacademicstatus'),'default',true);?>" >
					<span class='add'></span>
					Add
				</a>
			</li>
		</ul>
	</div>
</div>
<br>

<fieldset>
	<legend>
		<?php echo $this->translate("GPA Status Search");?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/examination/gpastudents/index/search/1"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Student Name");?>
				</td>
				<td><?php echo $this->lobjform->field5;?></td>
				<td><?php echo $this->translate("Semester Name");?>
				</td>
				<td><?php echo $this->lobjform->field8;?></td>
			
			
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate("Student Name");?>
			</th>
			<th><?php echo $this->translate("Semester");?></th>
			<th><?php echo $this->translate("In-Take");?></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjprogram ): ?>
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><a
				href="<?php echo $this->url(array('module'=>'examination','controller'=>'gpastudents', 'action'=>'newgpastudents' , 'id'=>$lobjprogram['IdStudentRegistration']),'default',true);?>"><?php print_r($this->escape($lobjprogram['StudentName']));?>
			</a></td>
			<td><?php echo $this->escape($lobjprogram['Sem']);?></td>
			<td><?php echo $this->escape($lobjprogram['SemesterName']);?></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
</fieldset>
