<script type="text/javascript">
    $(function(){
        $('#min').attr('type', 'number');
        $('#max').attr('type', 'number');
        $('#nostudent').attr('type', 'number');
        
        if ($('#workloadtype').val() == 963){
            $('.teaching').show();
            $('.supervsion').hide();
            $('#min').attr('required', true);
            $('#max').attr('required', true);
            $('#nostudent').removeAttr('required');
        }else if ($('#workloadtype').val() == 964){
            $('.supervsion').show();
            $('.teaching').hide();
            $('#nostudent').attr('required', true);
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }else{
            $('.supervsion').hide();
            $('.teaching').hide();
            $('#nostudent').removeAttr('required');
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }
    });
    
    function defineWorkloadType(id){
        if (id == 963){
            $('.teaching').show();
            $('.supervsion').hide();
            $('#min').attr('required', true);
            $('#max').attr('required', true);
            $('#nostudent').removeAttr('required');
        }else if (id == 964){
            $('.supervsion').show();
            $('.teaching').hide();
            $('#nostudent').attr('required', true);
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }else{
            $('.supervsion').hide();
            $('.teaching').hide();
            $('#nostudent').removeAttr('required');
            $('#min').removeAttr('required');
            $('#max').removeAttr('required');
        }
    }
    
    function comparenumbermin(number){
        if ($('#max').val()!='' && $('#max').val()!='undefined'){
            if (number >= $('#max').val()){
                alert('Minimum credit hours should be less than maximum credit hours');
                $('#min').val('');
            }
        }
    }
    
    function comparenumbermax(number){
        if ($('#min').val()!='' && $('#min').val()!='undefined'){
            if (number <= $('#min').val()){
                alert('Maximum credit hours should be greater than minimum credit hours');
                $('#max').val('');
            }
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'instructor-workload', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Edit'); ?></legend>
    <form method="post" id='add' name='add'>
        <table width='100%'>
            <tr>
                <td width="30%"><?php echo $this->translate('Position'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->position; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Staff Job Type'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->jobtype; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Workload Type'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->workloadtype; ?></td>
            </tr>
            <tr class='teaching' style='display: none;'>
                <td><?php echo $this->translate('Credit Hours (Min)'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->min; ?></td>
            </tr>
            <tr class='teaching' style='display: none;'>
                <td><?php echo $this->translate('Credit Hours (Max)'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->max; ?></td>
            </tr>
            <tr class='supervsion' style='display: none;'>
                <td><?php echo $this->translate('No. of Student'); ?> <span class='reqMark'>*</span></td>
                <td><?php echo $this->form->nostudent; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type='submit' id='save' name='save' value='save'><?php echo $this->translate('Save'); ?></button>
                    <button type='reset' id='reset' name='reset' value='reset'><?php echo $this->translate('Reset'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>