
<script type="text/javascript">

$(function(){

	getSemester('#scheme');
	getProgram('#scheme');
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_program').change(function(){
		if( $(this).prop('checked') ){
			$('.checkprogram').prop('checked',true);
		}else{
			$('.checkprogram').prop('checked',false);
		}
	});
	
});

$(function() {
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});
	

});


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'print-course-performance-questionnaire'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

function getSemester(element){

	 var idScheme = $(element).val();
	 var IdSemester = <?php echo isset($this->semester)?$this->semester:0;?>;

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
					$('#semester').empty();
					$.each(data, function(index) {

				    	if(IdSemester != 0  && IdSemester==data[index].IdSemesterMaster){
							var sel = 'selected';
				    	}else{
							var sel = '';
				    	}
						
			    		$('#semester').append('<option value="'+data[index].IdSemesterMaster+'"'+sel+'>'+data[index].SemesterMainName+'</option>');	
					});
				
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semester');
		      
			},
			complete: function() {
				hideLoading('semester');
			}  	
		});
}

function inArray(needle, haystack) {
    var length = haystack.length;
    for(var i = 0; i < length; i++) {
        if(haystack[i] == needle) return true;
    }
    return false;
}

function getProgram(element){

	 var idScheme = $(element).val();
	

	 if(idScheme != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-program-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#programdiv').empty();
					    	
		    	$.each(data, function(index) {
                        var checked = '';
                        
                        <?php
                        if ($this->program){
                        ?>
                        if (inArray(data[index].IdProgram, <?php echo Zend_Json::encode($this->program); ?>)){
                            checked = 'checked=""';
                        }
                        <?php
                        }
                        ?>

                        $('#programdiv').append('<input type="checkbox"  name="program[]" id="program[]" value="'+data[index].IdProgram+'" class="checkprogram" '+checked+'>'+data[index].ProgramName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('programdiv');
		      
			},
			complete: function() {
				hideLoading('programdiv');
			}  	
		});
	 }
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->list)){	?>
    <ul>
	<li>
            <a href="#" onclick='print()'> <span class='download'></span>
                <?php echo $this->translate("Download");?>
            </a>
        </li>
    </ul>      
    <?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Branch');?></td>
		<td>
			<select name="branch" id="branch" class="select">
				<?php 
				foreach($this->branchData as $branch){
					$selected= '';
					if($this->branch == $branch['id']){
						$selected = "selected='selected'";
						
					}
					?>
				<option value="<?php echo $branch['id'];?>"
				<?php echo $selected;?>><?php echo $branch['value'];?></option>
				<?php }?>
			
				<?php $selectAll ='';
				if($this->branch =='ALL'){
				$selectAll = "selected='selected'";
				}?>
				<option value="ALL" <?php echo $selectAll;?>><?php echo $this->translate("ALL");?></option>
			</select>
			</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Scheme');?></td>
		<td><select name="scheme" id="scheme" class="select"
			onchange="getProgram(this);getSemester(this);">
				<?php foreach($this->schemeData as $scheme){
				$selected= '';
				if($this->scheme == $scheme['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $scheme['key'];?>"
				<?php echo $selected;?>><?php echo $scheme['value'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
			<td><input type="checkbox" name="" id="check_all_program" />ALL<br>
			<div id="programdiv"></div></td>
			
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Mode of Programme');?></td>
		<td><select name="mop" id="mop" class="select">
		
				
				
				<?php foreach($this->mopData as $mop){
				$selected= '';
				if($this->mop == $mop['idDefinition']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $mop['idDefinition'];?>"
				<?php echo $selected;?>><?php echo $mop['DefinitionDesc'];?></option>
				<?php }?>
				
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>
		<select name="semester" id="semester" class="select">
		<option value="">Please select</option>
		
		</select>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->list) > 0){	?>
<table class="table" cellpadding="5" cellspacing="1">

<?php 
foreach($this->list as $sct){?>
	<tr>
		<th colspan="2"><strong><?php echo $sct['chapter'];?></strong></th>
		
		<?php 
		
		$subjectList = isset($this->list[0]['listquestion'][0]['courselist'])?$this->list[0]['listquestion'][0]['courselist']:0;
		$totalSubject = count($subjectList);
		
		if($subjectList){
		foreach($subjectList as $sbjt){
		?>
		<th width="100px"><strong><?php echo $sbjt['course'];?></strong></th>
		<?php }
		}?>
		
	</tr>
	<?php 	
	$bil=1;  
	$total = array();  	
	
		foreach ($sct['listquestion'] as $m=>$question){
			
		?>
		<tr>
			<td><?php echo $bil;?>.</td>
			<td><?php echo $this->escape($question['question']);?></td>
			
			<?php 
			if(isset($question['courselist'])){
			foreach($question['courselist'] as $key=>$chp){
				?>
			<td align="center"><?php echo isset($chp['total']['weightage'])?$chp['total']['weightage']:0;?></td>
			
			<?php }
			}?>
		</tr>	        
	   <?php 
	   $bil++;
		} 
?>
	<tr>
		<td colspan="<?php echo $totalSubject+2?>">&nbsp;</td>
	</tr>	
	
	<?php }
	?>
	
</table>
<?php 

//echo "<pre>";
//	print_r($total);
} ?>