<script type="text/javascript">
	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	function print(){
		url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'print-course-report'),'default',true);?>";
		$('#search_form').attr('action',url);
		$('#search_form').submit();
	}

	function get_programscheme(program_id){

		var url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'get-program-scheme'),"default",true);?>/id/"+program_id;
		var data_dropdown = {};

		$.ajax({
			type: "POST",
			url: url,
			data: data_dropdown,
			dataType: 'json',
			beforeSend: function() {
				showLoading('programscheme');
			},
			complete: function() {
				hideLoading('programscheme');
			}
		})
		.done(function(data) {
			var content = '<option label="Please Select" value="">Please Select</option>';
			$.each(data,function(index){
				content += '<option label="'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'</option>';
			});
			$('#programscheme').html(content);
		})
		.fail(function() {
			alert("error load program scheme");
		});
	}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});

	var program_id = $('#program').val();

	if (program_id != ''){
		var url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'get-program-scheme'),"default",true);?>/id/"+program_id;
		var data_dropdown = {};

		$.ajax({
			type: "POST",
			url: url,
			data: data_dropdown,
			dataType: 'json',
			beforeSend: function() {
				showLoading('programscheme');
			},
			complete: function() {
				hideLoading('programscheme');
			}
		})
		.done(function(data) {
			var content = '<option label="Please Select" value="">Please Select</option>';
			$.each(data,function(index){
				var select = '';

				if (data[index].IdProgramScheme == <?php echo $this->programscheme == '' ? 0:$this->programscheme; ?>){
					select = 'selected="selected"';
				}

				content += '<option '+select+' label="'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'</option>';
			});
			$('#programscheme').html(content);
		})
		.fail(function() {
			alert("error load program scheme");
		});
	}
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>
	<li>
            <a href="#" onclick='print()'> <span class='download'></span>
                <?php echo $this->translate("Download");?>
            </a>
        </li>
    </ul>      
    <?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Programme');?> <span class="reqMark">*</span></td>
		<td><select name="program" id="program" class="select" onchange="get_programscheme(this.value);" required="">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->program == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme Scheme'); ?></td>
		<td>
			<select name="programscheme" id="programscheme" class="select">
				<option value=""><?php echo $this->translate("Please select");?></option>
			</select>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?> <span class="reqMark">*</span></td>
		<td><select name="semester" id="semester" class="select" required="">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->semesterData as $sem){
				$selected= '';
				if($this->semester == $sem['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $sem['key'];?>"
				<?php echo $selected;?>><?php echo $sem['SemesterMainCode'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Name");?></th>
		<th><?php echo $this->translate("No. of Students Registered ");?></th>
		<th><?php echo $this->translate("No. of Students Responded");?></th>
		<th><?php echo $this->translate("Percentage %");?></th>
		
	</tr>
	<?php 	
	$bil=1;    	
	foreach ($this->paginator as $lobjstudents){

		if (isset($lobjstudents['total_response']) && array_sum($lobjstudents['total_registered']) > 0) {
			$percentage = round((array_sum($lobjstudents['total_response']) / array_sum($lobjstudents['total_registered'])) * 100, 2);
		}else{
			$percentage = 0.00;
		}
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubjectName']);?></td>
		<td align="center"><?php echo isset($lobjstudents['total_registered']) ? array_sum($lobjstudents['total_registered']):0.00;?></td>
		<td align="center"><?php echo isset($lobjstudents['total_response']) ? array_sum($lobjstudents['total_response']):0.00;?></td>
		<td align="center"><?php echo $percentage;?>%</td>
	</tr>	        
   <?php 
   $bil++;
	} 
	?>
	
</table>
<?php } ?>