<script type="text/javascript">

function print(){

	
	window.location.href = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'print-individual','id'=>$this->parent_id,'IdCourseTaggingGroup'=>$this->IdCourseTaggingGroup,'idScheme'=>$this->schemeId,'mop'=>$this->mopId,'IdProgram'=>$this->IdProgram),'default',true);?>";
}

</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
<ul>
<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
</ul>
    </div>
</div>
<?php 
$percentage = 0;
if($this->list['total_registered'] != 0){
	$percentage = round($this->list['total_response']/$this->list['total_registered'] * 100,2);
}

?>
<table class="table" width="100%">
	<tr>
		<th width="15%"><?php echo $this->translate('COURSE CODE');?></th>
		<td width="30%"><?php echo strtoupper($this->group['subject_code']);?></td>
		<th width="40%"><?php echo $this->translate('NO. OF STUDENTS REGISTERED');?></th>
		<td width="15%" align="center"><?php echo $this->list['total_registered'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('COURSE NAME');?></th>
		<td><?php echo strtoupper($this->group['subject_name']);?></td>
		<th><?php echo $this->translate('NO. OF STUDENTS RESPONDED');?></th>
		<td align="center"><?php echo $this->list['total_response'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('YEAR');?></th>
		<td><?php echo $this->group['AcademicYear'];?></td>
		<th><?php echo $this->translate('PERCENTAGE RESPONDED');?></th>
		<td align="center"><?php echo $percentage;?>%</td>
	</tr>
	<tr>
		<th><?php echo $this->translate('PROGRAMME');?></th>
		<td><?php echo str_replace(',','<br />',strtoupper($this->programData['ProgramName']));?></td>
		<th><?php echo isset($this->dataSummaryInfo[0]['chaptername'])?strtoupper($this->dataSummaryInfo[0]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[0]['chaptername'])?$this->dataSummaryInfo[0]['totalWeightageAll']:''?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('SCHEME');?></th>
		<td><?php echo strtoupper($this->scheme['EnglishDescription']);?></td>
		<th><?php echo isset($this->dataSummaryInfo[1]['chaptername'])?strtoupper($this->dataSummaryInfo[1]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[1]['chaptername'])?$this->dataSummaryInfo[1]['totalWeightageAll']:''?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('MODE OF PROGRAMME');?></th>
		<td><?php echo strtoupper($this->mop['DefinitionDesc']);?></td>
		<th><?php echo isset($this->dataSummaryInfo[2]['chaptername'])?strtoupper($this->dataSummaryInfo[2]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[2]['chaptername'])?$this->dataSummaryInfo[2]['totalWeightageAll']:''?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('SEMESTER');?></th>
		<td><?php echo strtoupper($this->group['semester_name']);?></td>
		<th><?php echo isset($this->dataSummaryInfo[3]['chaptername'])?strtoupper($this->dataSummaryInfo[3]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[3]['chaptername'])?$this->dataSummaryInfo[3]['totalWeightageAll']:''?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('BRANCH NAME');?></th>
		<td><?php echo strtoupper($this->group['branch_name']);?></td>
		<th><?php echo isset($this->dataSummaryInfo[4]['chaptername'])?strtoupper($this->dataSummaryInfo[4]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[4]['chaptername'])?$this->dataSummaryInfo[4]['totalWeightageAll']:''?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('LECTURER NAME');?></th>
		<td><?php echo strtoupper($this->group['FullName']);?></td>
		<th><?php echo isset($this->dataSummaryInfo[5]['chaptername'])?strtoupper($this->dataSummaryInfo[5]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[5]['chaptername'])?$this->dataSummaryInfo[5]['totalWeightageAll']:''?></td>
	</tr>
	<?php if (isset($this->dataSummaryInfo[6]['chaptername'])){?>
	<tr>
		<th></th>
		<td></td>
		<th><?php echo isset($this->dataSummaryInfo[6]['chaptername'])?strtoupper($this->dataSummaryInfo[6]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[6]['chaptername'])?$this->dataSummaryInfo[6]['totalWeightageAll']:''?></td>
	</tr>
	<?php }?>
	<?php if (isset($this->dataSummaryInfo[7]['chaptername'])){?>
	<tr>
		<th></th>
		<td></td>
		<th><?php echo isset($this->dataSummaryInfo[7]['chaptername'])?strtoupper($this->dataSummaryInfo[7]['chaptername']):''?></th>
		<td align="center"><?php echo isset($this->dataSummaryInfo[7]['chaptername'])?$this->dataSummaryInfo[7]['totalWeightageAll']:''?></td>
	</tr>
	<?php }?>
	
	<?php //foreach($this->dataSummaryInfo as $info){?>
	<!--<tr>
		<th><?php echo strtoupper($info['chaptername']);?></th>
		<td><?php echo $info['totalWeightageAll'];?></td>
		<td colspan="2"></td>
	</tr>
	--><?php //}?>
</table>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
<?php 

$totalRubric = count($this->data[0]['chapter'][0]['rubric']);
foreach($this->data as $pool){

?>
	<tr>
		<th colspan="<?php echo $totalRubric+5;?>"><strong><?php echo $pool['pool_name'];?></strong></th>
	</tr>
<?php 


	foreach($pool['chapter'] as $chapter){
		if(isset($chapter['rubric'])){
			$totalRubric = count($chapter['rubric']);
		}
?>	
	<tr>
		<th colspan="<?php echo $totalRubric+6;?>"><?php echo $chapter['chaptername'];?></th>
	</tr>
	<tr>
		
	<?php 
	if(isset($chapter['rubric'])){
		echo '<th colspan="2" rowspan="2">Question</th>';
		echo '<th width="70px" rowspan="2">Weightage per Question</th>';
		
		foreach($chapter['rubric'] as $rubric){?>
		<th width="70px"><?php echo $rubric['description'];?></th>
	<?php 
		}
		echo '<th width="70px" rowspan="2">Respondent</th>';
		echo '<th width="70px" rowspan="2">Weighted Score</th>';
	}?>
	</tr>
	<tr>
	<?php 
	if(isset($chapter['rubric'])){
		foreach($chapter['rubric'] as $rubric){?>
		<th width="70px"><?php echo $rubric['ValueNumber'];?></th>
	<?php 
		}
	}else{
		$colspan = $totalRubric+5;
		echo '
		<th colspan="'.$colspan.'">&nbsp;</th>
		';
	
	}?>
	</tr>	
<?php 

			if($chapter['question_type'] == 3){ //likert
				
				$totalQuestion = count($chapter['question']);
				$weigthQuestion = 0;
				$totalweigthQuestion = 0;
				$totalWeightageScoreAll = 0;
				$totalRespondentAll = 0;
				$arrayTotal = null;
				
				foreach($chapter['question'] as $question){

					$weigthQuestion = round(100/$totalQuestion,2);
				?>
				<tr>
					<td><?php echo $question['order'];?></td>
					<td><?php echo $question['question'];?></td>
					
					<?php 
					
					if(isset($question['rubric'])){
						
						echo '<td align="center">'.$weigthQuestion.'%</td>';
						
						$totalRespondent = 0;
						$totalRespondentSum = 0;
						$totalWeightage = 0;
						$totalWeightageAll = 0;
						$totalVal = 0;
						$totalAn = 0;
						
						$totalweigthQuestion = $totalweigthQuestion + $weigthQuestion;
						foreach($question['rubric'] as $r=>$rubric){
							$rubricVal = $rubric['total']['totalAnswer'];
							$totalVal += $totalVal;
							
						
						?>
							<td align="center"><?php echo $rubricVal;?></td>
						<?php 
							$totalRespondent += $rubricVal;
							$totalRespondentSum += $rubricVal;
							$totalWeightage += $rubric['total']['sum'];
							
							if(!isset($arrayTotal[$r])){
								$arrayTotal[$r] = 0;
							}
							$arrayTotal[$r] += isset($rubric['total']['totalAnswer'])?$rubric['total']['totalAnswer']:0;
							
								
						}
						
						
						if($totalRespondent > 0 ){
							$totalWeightageAll = round($totalWeightage/$totalRespondent,2);
						}else{
							$totalWeightageAll = 0;
						}
						
						$totalRespondentAll = $totalRespondentAll + $totalRespondent;
						$totalWeightageScoreAll = $totalWeightageScoreAll + $totalWeightageAll;
						
					}?>
					<td align="center"><?php echo $totalRespondent;?></td>
					<td align="center"><?php echo $totalWeightageAll;?></td>
				</tr>
				
				
<?php 			
				}
				
				echo '
					<tr>
						<th colspan="2"></th>
						<th align="center"><strong>'.$totalweigthQuestion.'%</strong></th>
					';	
				if(isset($arrayTotal)){
						foreach($arrayTotal as $total){
//							$arrayTotal = array();
							echo '<th align="center"><strong>'.$total.'</strong></th>';
							
						}
					
				}
						echo '<th align="center"><strong>'.$totalRespondentAll.'</strong></th>';
						echo '<th align="center"><strong></strong></th>';
//						echo '<th align="center"><strong>'.$totalWeightageScoreAll.'</strong></th>';
					echo '</tr>
					';
				
				$colspan = $totalRubric+4;
				echo '
					<tr>
						<th colspan="'.$colspan.'">Overall Score</th>
					';
				
					$overallScore = round($totalWeightageScoreAll/$totalQuestion,2);
					 
						echo '<th align="center"><strong>'.$overallScore.'</strong></th>';
					echo '</tr>
					';

					$colspan = $totalRubric+5;
					echo '
					<tr>
						<td colspan="'.$colspan.'">&nbsp;</td>
					</tr>';
					
					$rubricValTot = 0;
	
			}elseif($chapter['question_type'] == 2){//essay
				
				foreach($chapter['question'] as $question){
?>

				<tr>
					<td><strong><?php echo $question['order'];?></strong></td>
					<td colspan="<?php echo $totalRubric+4;?>"><strong><?php echo $question['question'];?></strong></td>
				</tr>

<?php 			
					$colspan = $totalRubric+5;
					foreach($question['answer_essay'] as $r=>$ansEssay){
						$bil = $r+1;
						$colspan = $totalRubric+5;
						echo '
						<tr>
							<td>R'.$bil.'</td>
							<td colspan="'.$colspan.'">'.$ansEssay['answer'].'</td>
						</tr>
						';
						
					}	
					$colspan = $totalRubric+5;
					echo '
						<tr>
							<td colspan="'.$colspan.'">&nbsp;</td>
						</tr>
						';
					
				}
			
			}
	}
	
}


?>
	
</table>