
<script type="text/javascript">

$(function(){

	getSemester('#scheme');
	getProgram('#scheme');
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_program').change(function(){
		if( $(this).prop('checked') ){
			$('.checkprogram').prop('checked',true);
		}else{
			$('.checkprogram').prop('checked',false);
		}
	});
	
});


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'print-course-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

function getSemester(element){

	 var idScheme = $(element).val();
	 var IdSemester = <?php echo isset($this->semester)?$this->semester:0;?>;

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
					$('#semester').empty();
					$.each(data, function(index) {

				    	if(IdSemester != 0  && IdSemester==data[index].IdSemesterMaster){
							var sel = 'selected';
				    	}else{
							var sel = '';
				    	}
						
			    		$('#semester').append('<option value="'+data[index].IdSemesterMaster+'"'+sel+'>'+data[index].SemesterMainName+'</option>');	
					});
				
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semester');
		      
			},
			complete: function() {
				hideLoading('semester');
			}  	
		});
}

function getProgram(element){

	 var idScheme = $(element).val();
	

	 if(idScheme != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-program-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#programdiv').empty();
					    	
		    	$.each(data, function(index) {

		    		$('#programdiv').append('<input type="checkbox"  name="program[]" id="program[]" value="'+data[index].IdProgram+'" class="checkprogram">'+data[index].ProgramName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('programdiv');
		      
			},
			complete: function() {
				hideLoading('programdiv');
			}  	
		});
	 }
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->list)){	?>
    <ul>
	<!--<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
--></ul>      
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Branch');?></td>
		<td>
			<select name="branch" id="branch" class="select">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php 
				foreach($this->branchData as $branch){
					$selected= '';
					if($this->branch == $branch['id']){
						$selected = "selected='selected'";
						
					}
					?>
				<option value="<?php echo $branch['id'];?>"
				<?php echo $selected;?>><?php echo $branch['value'];?></option>
				<?php }?>
			
			</select>
			</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Scheme');?></td>
		<td><select name="scheme" id="scheme" class="select"
			onchange="getProgram(this);getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->schemeData as $scheme){
				$selected= '';
				if($this->scheme == $scheme['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $scheme['key'];?>"
				<?php echo $selected;?>><?php echo $scheme['value'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
			<td><input type="checkbox" name="" id="check_all_program" />ALL<br>
			<div id="programdiv"></div></td>
			
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Mode of Programme');?></td>
		<td><select name="mop" id="mop" class="select">
		
				
				
				<?php foreach($this->mopData as $mop){
				$selected= '';
				if($this->mop == $mop['idDefinition']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $mop['idDefinition'];?>"
				<?php echo $selected;?>><?php echo $mop['DefinitionDesc'];?></option>
				<?php }?>
				
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>
		<select name="semester" id="semester" class="select">
		<option value="">Please select</option>
		
		</select>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->list) > 0){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Lecturer Name ");?></th>
		<th><?php echo $this->translate("Mode of Programme");?></th>
		<th><?php echo $this->translate("Branch");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		
		<?php 
		
		$chapter = $this->list[0]['chapter'];
		foreach($chapter as $chp){
		?>
		<th width="100px"><?php echo $chp['registration_item'];?></th>
		<?php }?>
		
	</tr>
	<?php 	
	$bil=1;  
	$total = array();  	
	
	foreach ($this->list as $m=>$lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['modeName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		
		<?php 
		foreach($lobjstudents['chapter'] as $key=>$chp){
		$weightage = $chp['total']['weightage'];
			?>
		<td align="center"><?php echo $weightage;?></td>
		<?php 
		
			if(isset($total[$key])){
				$total[$key][$m] += $weightage;
			}
		}?>
	</tr>	        
   <?php 
   $bil++;
	} 
	
	?>
	
	<tr>
		<th colspan="4">Average</th>
		<?php 
		foreach($total as $key=>$chp){?>
		<th align="center"><?php echo $chp/count($this->list);?></th>
		<?php }?>
	</tr>	
	
</table>
<?php 

//echo "<pre>";
//	print_r($total);
} ?>