<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th rowspan="2"><?php echo $this->translate("Lecturer");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Code");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Group Name");?></th>
		
		<th colspan="<?php echo count($this->paginator[0]['pool'])?>"><?php echo $this->translate("Overall Weightage");?></th>
		
		<th rowspan="2"><?php echo $this->translate("Score for Teaching Effectiveness");?></th>
		<th rowspan="2"><?php echo $this->translate("% Responded");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Registered ");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Responded");?></th>
		
	</tr>
	<tr>
		<?php 
		foreach($this->paginator[0]['pool'] as $pl){?>
			<th><?php echo $pl['poolname'];?></th>
		<?php }?>
	</tr>
	<?php 	
	
	$bil=1;    	
	foreach ($this->paginator as $lobjstudents){
		
		$percentage = round(($lobjstudents['total_response']/$lobjstudents['total_registered']) * 100,2);
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubjectName']);?></td>
		<td><?php echo $this->escape($lobjstudents['GroupName']);?></td>
		
		<?php 
		$totalWeigtage = 0;
		$bileffective = count($this->paginator[0]['pool']);
		$pl = $lobjstudents['pool'];
		for($n=0;$n<$bileffective;$n++){
			
//		foreach($lobjstudents['pool'] as $pl){
		?>
		<td align="center"><?php echo isset($pl[$n]['weightage'])?$pl[$n]['weightage']:0;?></td>
		<?php 
			$totalWeigtage += isset($pl[$n]['weightage'])?$pl[$n]['weightage']:0;
		}
		$totalEffective = round($totalWeigtage/$bileffective,2);
		
		?>
		<td align="center"><?php echo $totalEffective;?></td>
		<td align="center"><?php echo $percentage;?>%</td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_registered']);?></td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_response']);?></td>
		
	</tr>	        
   <?php 
   $bil++;
	} 
	?>
	
</table>
<?php } ?>