<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->list)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Lecturer Name ");?></th>
		<th><?php echo $this->translate("Branch");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		
		<?php 
		
		$chapter = $this->list[0]['chapter'];
		foreach($chapter as $chp){
		?>
		<th width="100px"><?php echo $chp['registration_item'];?></th>
		<?php }?>
		
	</tr>
	<?php 	
	$bil=1;  
	$total = array();  	
	
	foreach ($this->list as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		
		<?php 
		foreach($lobjstudents['chapter'] as $key=>$chp){
		$weightage = $chp['total']['weightage'];
			?>
		<td align="center"><?php echo $weightage;?></td>
		<?php 
		
			if(isset($total[$key])){
				$total[$key] += $weightage;
			}
		}?>
	</tr>	        
   <?php 
   $bil++;
	} 
	
	?>
	
	<tr>
		<th colspan="4">Average</th>
		<?php 
		foreach($chapter as $key=>$chp){?>
		<th align="center"><?php echo $total[$key]/count($this->list);?></th>
		<?php }?>
	</tr>	
	
</table>
</table>
<?php } ?>