<?php 
    header('Content-Type: application/xlsx');
    header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%">
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Name");?></th>
		<th><?php echo $this->translate("No. of Students Registered ");?></th>
		<th><?php echo $this->translate("No. of Students Responded");?></th>
		<th><?php echo $this->translate("Percentage %");?></th>
		
	</tr>
	<?php
	$bil=1;
	foreach ($this->paginator as $lobjstudents){

		if (isset($lobjstudents['total_response']) && array_sum($lobjstudents['total_registered']) > 0) {
			$percentage = round((array_sum($lobjstudents['total_response']) / array_sum($lobjstudents['total_registered'])) * 100, 2);
		}else{
			$percentage = 0.00;
		}
		?>
		<tr>
			<td><?php echo $bil;?>.</td>
			<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
			<td><?php echo $this->escape($lobjstudents['SubjectName']);?></td>
			<td align="center"><?php echo isset($lobjstudents['total_registered']) ? array_sum($lobjstudents['total_registered']):0.00;?></td>
			<td align="center"><?php echo isset($lobjstudents['total_response']) ? array_sum($lobjstudents['total_response']):0.00;?></td>
			<td align="center"><?php echo $percentage;?>%</td>
		</tr>
		<?php
		$bil++;
	} 
	?>
</table>
<?php } ?>