<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan="2">No</th>
		<th rowspan="2"><?php echo $this->translate("Lecturer");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Code");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Branch Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Mode of Programme");?></th>
		<th colspan="<?php echo count($this->paginator[0]['data'])+1; ?>"><?php echo $this->translate("Overall Weightage");?></th>
		<th rowspan="2"><?php echo $this->translate("% Responded");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Registered ");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Responded");?></th>
		
	</tr>
	<tr>
		<?php 
		foreach($this->paginator[0]['data'] as $pl){?>
			<th width="100px"><?php echo $pl['chaptername'];?></th>
		<?php }?>
		<th width="100px"><?php echo $this->translate('Total'); ?></th>
	</tr>
	
	<?php 	
	
	$bil=1;    	
	foreach ($this->paginator as $lobjstudents){
		
		if($lobjstudents['total_registered'] != 0){
			$percentage = round(($lobjstudents['total_response']/$lobjstudents['total_registered']) * 100,2);
		}else{
			$percentage = 0;
		}
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubjectName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['modeName']);?></td>

		<?php
		$totalWeigtage = 0;
		$bileffective = 0;
		//		$bileffective = count($this->paginator[0]['data']);
		//		$pl = $lobjstudents['data'];
		//		for($n=0;$n<$bileffective;$n++){

		foreach($lobjstudents['data'] as $pl){
			?>
			<td align="center"><?php echo isset($pl['totalWeightageAll'])?$pl['totalWeightageAll']:0;?></td>
			<?php
			$totalWeigtage += isset($pl['totalWeightageAll'])?$pl['totalWeightageAll']:0;

			$billaff = isset($pl['totalWeightageAll'])?$pl['totalWeightageAll']:0;

			if ($billaff > 0){
				$bileffective++;
			}
		}
		$totalEffective = 0;
		if ($bileffective != 0) {
			$totalEffective = round($totalWeigtage / $bileffective, 2);
		}
		?>
		<td align="center"><?php echo $totalEffective; ?></td>
		<td align="center"><?php echo $percentage;?>%</td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_registered']);?></td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_response']);?></td>
		



		
	</tr>	        
   <?php 
   $bil++;
	} 
	?>
	
</table>
<?php } ?>