<?php 
    header('Content-Type: application/xlsx');
    header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php if (count($this->list) > 0){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th width="5px">No</th>
		<th><?php echo $this->translate("Lecturer");?></th>
		
		<?php 
		
		$semesterList = $this->list[0]['answersemester'];
		foreach($semesterList as $sem){
		?>
		<th width="100px"><?php echo $sem['SemesterName'];?></th>
		<?php }?>
		
	</tr>
	<?php 	
	$bil=1;  
	$total = array();  	
	
	foreach ($this->list as $m=>$lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		
		<?php 
		foreach($lobjstudents['answersemester'] as $key=>$chp){
			$totalw = 0;
			$billw = 0;
			if (isset($chp['weightage']) && count($chp['weightage'])>0){
				foreach ($chp['weightage'] as $weightage){
					$totalw += $weightage['totalWeightageAll'];

					if ($weightage['totalWeightageAll'] > 0){
						$billw++;
					}
				}
			}

			$totalEffective = 0;
			if ($billw != 0) {
				$totalEffective = round($totalw / $billw, 2);
			}
			?>
			<td align="center"><?php echo $totalEffective; //isset($chp['total']['weightage'])?$chp['total']['weightage']:0;?></td>
		
		<?php }?>
	</tr>	        
   <?php 
   $bil++;
	} 
	
	?>
	
</table>
<?php 

//echo "<pre>";
//	print_r($total);
} ?>