<script type="text/javascript" src="<?php echo $this->baseUrl()?>/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">

$(function(){
	$("#myTable").tablesorter(); 
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_program').change(function(){
		if( $(this).prop('checked') ){
			$('.checkprogram').prop('checked',true);
		}else{
			$('.checkprogram').prop('checked',false);
		}
	});
	
});


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'print-rank-lecturer'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

function getSemester(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#semesterdiv').empty();
//		    	$('#semesterdiv').append('<input type="checkbox" name="" id="check_all_semester" />ALL<br>');		    	
		    	$.each(data, function(index) {

		    		$('#semesterdiv').append('<input type="checkbox" name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'" class="checksemester">'+data[index].SemesterMainName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semesterdiv');
		      
			},
			complete: function() {
				hideLoading('semesterdiv');
			}  	
		});
	 }
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->list)){	?>
    <ul>
	<li>
            <a href="#" onclick='print()'> <span class='download'></span>
                <?php echo $this->translate("Download");?>
            </a>
        </li>
    </ul>      
    <?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Branch');?></td>
		<td>
			<input type="checkbox" name="" id="check_all" />ALL<br>
		
			<?php 
			foreach($this->branchData as $branch){
				$selected= '';
                                if ($this->branch){
                                    if(in_array($branch['id'], $this->branch)){
                                            $selected = "checked=''";
                                    }
                                }
			?>
				<input type="checkbox"  name="branch[]" id="branch[]" class="check" value="<?php echo $branch['id'];?>" <?php echo $selected; ?>><?php echo $branch['value'];?><br>
			<?php 
			}?>
				</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td>
			<input type="checkbox" name="" id="check_all_program" />ALL<br>
		
			<?php 
			foreach($this->programData as $program){
				$selected= '';
                                if ($this->program){
                                    if(in_array($program['IdProgram'], $this->program)){
                                        $selected = "checked=''";
                                    }
                                }
			?>
				<input type="checkbox"  name="program[]" id="program[]" class="checkprogram" value="<?php echo $program['IdProgram'];?>" <?php echo $selected; ?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?><br>
			<?php 
			}?>
			
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Mode of Programme');?></td>
		<td><select name="mop" id="mop" class="select">
		
				
				
				<?php foreach($this->mopData as $mop){
				$selected= '';
				if($this->mop == $mop['idDefinition']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $mop['idDefinition'];?>"
				<?php echo $selected;?>><?php echo $mop['DefinitionDesc'];?></option>
				<?php }?>
				<?php $selectAll ='';
				if($this->mop =='ALL' || !$this->mop){
					$selectAll = "selected='selected'";
				}?>
				<option value="ALL" <?php echo $selectAll;?>><?php echo $this->translate("ALL");?></option>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td><select name="semester" id="semester" class="select">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->semesterData as $sem){
				$selected= '';
				if($this->semester == $sem['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $sem['key'];?>"
				<?php echo $selected;?>><?php echo $sem['SemesterMainCode'];?></option>
				<?php }?>
			
				</select>
				
				<?php
				if($this->program){ 
					foreach($this->program as $key=>$value){ 
				?>
				<input type="hidden" name="program_id[]" id="program_id[]" value="<?php echo $value;?>">
				<?php }
				}?>
				<?php
				if($this->branch){ 
					foreach($this->branch as $key=>$value){ 
				?>
				<input type="hidden" name="branch_id[]" id="branch_id[]" value="<?php echo $value;?>">
				<?php }
				}?>
				</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->list) > 0){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table tablesorter" width="100%" cellpadding="5" cellspacing="1" id="myTable">
	<thead>
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Lecturer Name ");?></th>
		<th><?php echo $this->translate("Branch");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		
		<?php 
		
		$chapter = $this->list[0]['chapter'];
		foreach($chapter as $chp){
		?>
		<th>Rank</th>
		<th width="100px"><?php echo $chp['registration_item'];?></th>
		<th>Rating</th>
		<?php }?>
		
	</tr>
	</thead>
	<tbody>
	<?php 	
	$bil=1;  
	$total = array();  	
	
	foreach ($this->list as $m=>$lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		
		<?php 
		foreach($lobjstudents['chapter'] as $key=>$chp){
		$weightage = $chp['total']['weightage'];

				$rank = $this->ranks[$chp['registration_item']][sprintf('%.2f',$weightage)];//["$weightage"];
			?>
		<td align="center"><?php echo $rank;?></td>
		<td align="center"><?php echo $weightage;?></td>
		<td align="center"><?php echo $chp['total']['rating'];?></td></td>
		<?php 
		
			if(isset($total[$key])){
				$total[$key][$m] += $weightage;
			}
		}?>
	</tr>	
	
   <?php 
   $bil++;
	} 
	
	?>
	</tbody>
</table>
<?php 

} ?>