<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<?php
if ($this->studentList) {
    $no = 0;
    $model = new Registration_Model_DbTable_ForecastReport();
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th rowspan="2"><?php echo $this->translate('No.'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Name'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Student ID'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Intake'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Nationality'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Programme'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Programme Scheme'); ?></th>
            <?php
            if ($this->formData['program'] == 5) {
                ?>
                <th colspan="<?php echo (count($this->subjectPart1)+3); ?>"><?php echo $this->translate('Part 1') ?></th>
                <th colspan="<?php echo (count($this->subjectPart2)+3); ?>"><?php echo $this->translate('Part 2') ?></th>
                <th colspan="<?php echo (count($this->subjectPart3)+3); ?>"><?php echo $this->translate('Part 3') ?></th>
                <th rowspan="2"><?php echo $this->translate('Total Pass P1, P2 AND P3 Current'); ?></th>
                <th rowspan="2"><?php echo $this->translate('Expected Total Pass P1, P2 AND P3'); ?></th>
                <?php
            }else {
                ?>
                <th colspan="<?php echo (count($this->subjectCore)+3); ?>"><?php echo $this->translate('Core') ?></th>
                <th colspan="<?php echo (count($this->subjectElective)+3); ?>"><?php echo $this->translate('Elective') ?></th>
                <th rowspan="2"><?php echo $this->translate('Total Pass Core AND Elective Current'); ?></th>
                <th rowspan="2"><?php echo $this->translate('Expected Total Pass Core AND Elective'); ?></th>
                <?php
            }
            ?>
        </tr>
        <tr>
            <?php
            if ($this->formData['program'] == 5) {
                if ($this->subjectPart1) {
                    foreach ($this->subjectPart1 as $part1) {
                        ?>
                        <th><?php echo $part1['SubCode']; ?></th>
                        <?php
                    }
                    ?>
                    <th><?php echo $this->translate('Registration In Current Semester'); ?></th>
                    <th><?php echo $this->translate('Total Pass Current'); ?></th>
                    <th><?php echo $this->translate('Expected Total Pass'); ?></th>
                    <?php
                }

                if ($this->subjectPart2) {
                    foreach ($this->subjectPart2 as $part2) {
                        ?>
                        <th><?php echo $part2['SubCode']; ?></th>
                        <?php
                    }
                    ?>
                    <th><?php echo $this->translate('Registration In Current Semester'); ?></th>
                    <th><?php echo $this->translate('Total Pass Current'); ?></th>
                    <th><?php echo $this->translate('Expected Total Pass'); ?></th>
                    <?php
                }

                if ($this->subjectPart3) {
                    foreach ($this->subjectPart3 as $part3) {
                        ?>
                        <th><?php echo $part3['SubCode']; ?></th>
                        <?php
                    }
                    ?>
                    <th><?php echo $this->translate('Registration In Current Semester'); ?></th>
                    <th><?php echo $this->translate('Total Pass Current'); ?></th>
                    <th><?php echo $this->translate('Expected Total Pass'); ?></th>
                    <?php
                }
            }else {
                if ($this->subjectCore) {
                    foreach ($this->subjectCore as $core) {
                        ?>
                        <th><?php echo $core['SubCode']; ?></th>
                        <?php
                    }
                    ?>
                    <th><?php echo $this->translate('Registration In Current Semester'); ?></th>
                    <th><?php echo $this->translate('Total Pass Current'); ?></th>
                    <th><?php echo $this->translate('Expected Total Pass'); ?></th>
                    <?php
                }

                if ($this->subjectElective) {
                    foreach ($this->subjectElective as $elective) {
                        ?>
                        <th><?php echo $elective['SubCode']; ?></th>
                        <?php
                    }
                    ?>
                    <th><?php echo $this->translate('Registration In Current Semester'); ?></th>
                    <th><?php echo $this->translate('Total Pass Current'); ?></th>
                    <th><?php echo $this->translate('Expected Total Pass'); ?></th>
                    <?php
                }
            }
            ?>
        </tr>
        <?php
        foreach ($this->studentList as $studentLoop) {
            $no++;
            $totalCurRegSubject = $model->CurrentSemesterCourseRegistration($studentLoop['IdStudentRegistration'], $this->formData['program']);
            $totalPassCurrent = $model->totalPassCurrent($studentLoop['IdStudentRegistration'], $this->formData['program']);
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
                <td align="center"><?php echo $studentLoop['registrationId']; ?></td>
                <td align="center"><?php echo $studentLoop['IntakeDesc']; ?></td>
                <td align="center"><?php echo $studentLoop['CountryName']; ?></td>
                <td align="center"><?php echo $studentLoop['ProgramName']; ?></td>
                <td align="center"><?php echo $studentLoop['mop'].' '.$studentLoop['mos'].' '.$studentLoop['pt']; ?></td>
                <?php
                if ($this->formData['program'] == 5) {
                    if ($this->subjectPart1) {
                        foreach ($this->subjectPart1 as $part1) {
                            ?>
                            <td align="center">
                                <?php
                                $status = Registration_Model_DbTable_ForecastReport::forecastSubject($studentLoop['IdStudentRegistration'], $part1['IdSubject']);

                                switch($status){
                                    case 0:
                                        echo $part1['SubCode'];
                                        break;
                                    case 1:
                                        echo $part1['SubCode'].' R';
                                        break;
                                    case 2:
                                        echo '';
                                        break;
                                }
                                ?>
                            </td>
                            <?php
                        }
                        ?>
                        <td align="center"><?php echo $totalCurRegSubject['subjectRegPart1']; ?></td>
                        <td align="center"><?php echo $totalPassCurrent['subjectPassPart1']; ?></td>
                        <td align="center"><?php echo ($totalCurRegSubject['subjectRegPart1']+$totalPassCurrent['subjectPassPart1']) ?></td>
                        <?php
                    }

                    if ($this->subjectPart2) {
                        foreach ($this->subjectPart2 as $part2) {
                            ?>
                            <td align="center">
                                <?php
                                $status = Registration_Model_DbTable_ForecastReport::forecastSubject($studentLoop['IdStudentRegistration'], $part2['IdSubject']);

                                switch($status){
                                    case 0:
                                        echo $part2['SubCode'];
                                        break;
                                    case 1:
                                        echo $part2['SubCode'].' R';
                                        break;
                                    case 2:
                                        echo '';
                                        break;
                                }
                                ?>
                            </td>
                            <?php
                        }
                        ?>
                        <td align="center"><?php echo $totalCurRegSubject['subjectRegPart2']; ?></td>
                        <td align="center"><?php echo $totalPassCurrent['subjectPassPart2']; ?></td>
                        <td align="center"><?php echo ($totalCurRegSubject['subjectRegPart2']+$totalPassCurrent['subjectPassPart2']); ?></td>
                        <?php
                    }

                    if ($this->subjectPart3) {
                        foreach ($this->subjectPart3 as $part3) {
                            ?>
                            <td align="center">
                                <?php
                                $status = Registration_Model_DbTable_ForecastReport::forecastSubject($studentLoop['IdStudentRegistration'], $part3['IdSubject']);

                                switch($status){
                                    case 0:
                                        echo $part3['SubCode'];
                                        break;
                                    case 1:
                                        echo $part3['SubCode'].' R';
                                        break;
                                    case 2:
                                        echo '';
                                        break;
                                }
                                ?>
                            </td>
                            <?php
                        }
                        ?>
                        <td align="center"><?php echo $totalCurRegSubject['subjectRegPart3']; ?></td>
                        <td align="center"><?php echo $totalPassCurrent['subjectPassPart3']; ?></td>
                        <td align="center"><?php echo ($totalCurRegSubject['subjectRegPart3']+$totalPassCurrent['subjectPassPart3']); ?></td>
                        <?php
                    }

                    ?>
                    <td align="center"><?php echo ($totalPassCurrent['subjectPassPart1']+$totalPassCurrent['subjectPassPart2']+$totalPassCurrent['subjectPassPart3']) ?></td>
                    <td align="center"><?php echo ($totalPassCurrent['subjectPassPart1']+$totalPassCurrent['subjectPassPart2']+$totalPassCurrent['subjectPassPart3']+$totalCurRegSubject['subjectRegPart1']+$totalCurRegSubject['subjectRegPart2']+$totalCurRegSubject['subjectRegPart3']) ?></td>
                    <?php
                }else {
                    if ($this->subjectCore) {
                        foreach ($this->subjectCore as $core) {
                            ?>
                            <td align="center">
                                <?php
                                $status = Registration_Model_DbTable_ForecastReport::forecastSubject($studentLoop['IdStudentRegistration'], $core['IdSubject']);

                                switch($status){
                                    case 0:
                                        echo $core['SubCode'];
                                        break;
                                    case 1:
                                        echo $core['SubCode'].' R';
                                        break;
                                    case 2:
                                        echo '';
                                        break;
                                }
                                ?>
                            </td>
                            <?php
                        }
                        ?>
                        <td align="center"><?php echo $totalCurRegSubject['subjectRegCore']; ?></td>
                        <td align="center"><?php echo $totalPassCurrent['subjectPassCore']; ?></td>
                        <td align="center"><?php echo ($totalCurRegSubject['subjectRegCore']+$totalPassCurrent['subjectPassCore']); ?></td>
                        <?php
                    }

                    if ($this->subjectElective) {
                        foreach ($this->subjectElective as $elective) {
                            ?>
                            <td align="center">
                                <?php
                                $status = Registration_Model_DbTable_ForecastReport::forecastSubject($studentLoop['IdStudentRegistration'], $elective['IdSubject']);

                                switch($status){
                                    case 0:
                                        echo $elective['SubCode'];
                                        break;
                                    case 1:
                                        echo $elective['SubCode'].' R';
                                        break;
                                    case 2:
                                        echo '';
                                        break;
                                }
                                ?>
                            </td>
                            <?php
                        }
                        ?>
                        <td align="center"><?php echo $totalCurRegSubject['subjectRegElective']; ?></td>
                        <td align="center"><?php echo $totalPassCurrent['subjectPassElective']; ?></td>
                        <td align="center"><?php echo ($totalCurRegSubject['subjectRegElective']+$totalPassCurrent['subjectPassElective']); ?></td>
                        <?php
                    }
                    ?>
                    <td align="center"><?php echo ($totalPassCurrent['subjectPassCore']+$totalPassCurrent['subjectPassElective']) ?></td>
                    <td align="center"><?php echo ($totalPassCurrent['subjectPassCore']+$totalPassCurrent['subjectPassElective']+$totalCurRegSubject['subjectRegCore']+$totalCurRegSubject['subjectRegElective']) ?></td>
                    <?php
                }
                ?>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>