<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();

        $('#checkall').click(function () {
            $('.chk').prop('checked', this.checked);
        });

        //disable going to anchor
        setTimeout(function () {
            if (location.hash) {
                window.scrollTo(0, 0);
            }
        }, 1);
    });

    function editProgram(IDBatchProgram) {

        //get data majoring from ajax
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'batch', 'action' => 'ajax-get-batch'), 'default', true);?>",
            data: {
                'IDBatchProgram': IDBatchProgram,
                'type': 'program'
            },
            type: 'POST',
            dataType: 'json'
        }).done(function (data) {

            console.log(data);

            $('#IDBatchProgram').val(data.IDBatchProgram);
            $('#IDBatch').val(data.IDBatch);
            $('#EditidProgram').val(data.idProgram);
            $('#EditidStruc').val(data.idStruc);
            //$('#EditidMajor').val(data.idMajor);
            majorList(data.idProgram,data.idMajor);

        });


        //popup aje
        $("#dialog-program").dialog('open');
    }

    function majorList(idProgram,selectedMajor){

        //get data majoring from ajax
        $.ajax({
            url: "/generalsetup/batch/get-major",
            type: "post",
            async : false,
            data: {'idProgram':idProgram},
            dataType: 'json',
            success: function(data){
                console.log(data);

                $('#EditidMajor').empty();
                $('#EditidMajor').append('<option value="0">-- Please Select --</option>');

                $.each(data, function(index) {
                    var selected = '';
                    if(selectedMajor==data[index].IDProgramMajoring){
                        var selected = 'selected';
                    }else{
                        var selected = '';
                    }
                    $('#EditidMajor').append('<option value="'+data[index].IDProgramMajoring+'" '+selected+'>'+data[index].IdMajor+'</option>');
                });
            }
        });

    }

    function majorList2(idProgram){

        //get data majoring from ajax
        $.ajax({
            url: "/generalsetup/batch/get-major",
            type: "post",
            async : false,
            data: {'idProgram':idProgram},
            dataType: 'json',
            success: function(data){
                console.log(data);

                $('#idMajor').empty();
                $('#idMajor').append('<option value="0">-- Please Select --</option>');

                $.each(data, function(index) {
                    var selected = '';
                    $('#idMajor').append('<option value="'+data[index].IDProgramMajoring+'" '+selected+'>'+data[index].IdMajor+'</option>');
                });
            }
        });

    }

    $(function () {

        $("#dialog:ui-dialog").dialog("destroy");

        $("#dialog-program").dialog({
            modal: true,
            autoOpen: false,
            width: 800,
            buttons: {
                "<?php echo $this->translate('Save');?>": function () {

                    $("#formEditProgram").submit();
                    $(this).dialog("close");

                },
                "<?php echo $this->translate('Cancel');?>": function () {
                    $(this).dialog("close");
                }

            }
        });

        $("#dialog-subject").dialog({
            modal: true,
            autoOpen: false,
            width: 800,
            buttons: {
                "<?php echo $this->translate('Save');?>": function () {

                    $("#formEditSubject").submit();
                    $(this).dialog("close");

                },
                "<?php echo $this->translate('Cancel');?>": function () {
                    $(this).dialog("close");
                }

            }
        });

    });

    function editSubject(IDBatchSubject) {

        //get data majoring from ajax
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'batch', 'action' => 'ajax-get-batch'), 'default', true);?>",
            data: {
                'IDBatchSubject': IDBatchSubject,
                'type': 'subject'
            },
            type: 'POST',
            dataType: 'json'
        }).done(function (data) {

            console.log(data);

            $('#IDBatchSubject').val(data.IDBatchSubject);
            $('#IDBatchS').val(data.IDBatch);
            $('#EditidSubject').val(data.idSubject);
            $('#EditidType').val(data.idType);

        });


        //popup aje
        $("#dialog-subject").dialog('open');
    }


    function deleteProgram(IDBatchProgram,IDBatch) {
        $.ajax({
            url: "/generalsetup/program/delete-batch",
            type: "post",
            async: false,
            data: {
                'IDBatch':IDBatch,
                'IDBatchProgram': IDBatchProgram,
                'type': 'program'
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
            }

        });
    }


    function addBatchProgram() {

        $.ajax({
             url: "/generalsetup/batch/save-batch",
             type: "post",
             async: false,
             data: {
                 'IDBatch':<?php echo $this->LintIdBatch;?>,
                 'idProgram':$("#idProgram").val(),
                 'idStruc': $("#idStruc").val(),
                 'idMajor': $("#idMajor").val(),
                 'type':'program'
             },
             dataType: 'json',
             success: function(data) {
                console.log(data);
             }
         });
    }


    function addBatchSubject() {

        $.ajax({
            url: "/generalsetup/batch/save-batch",
            type: "post",
            async: false,
            data: {
                'IDBatch':<?php echo $this->LintIdBatch;?>,
                'idSubject':$("#idSubject").val(),
                'idType': $("#idType").val(),
                'type':'subject'
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
            }
        });
    }



</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'batch', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
    <div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
    <div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeError)){?>
    <div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
    <br />
<?php }?>


<div>

    <fieldset>
        <legend><?php echo $this->translate("Batch Info");?></legend>
        <ul>
            <li><?php echo $this->translate("Batch Code").' : '.$this->majorInfo['BatchCode'] ?></li>
            <li><?php echo $this->translate("Batch Status").' : '.$this->majorInfo['BatchStatus'] ?></li>
        </ul>
    </fieldset>
    <br><br>

    <div id="tabs">
        <ul>
            <li><a href="#tab-1"><?php echo $this->translate('Batch - Program'); ?></a></li>
            <li><a href="#tab-2"><?php echo $this->translate('Batch - Subject'); ?></a></li>
        </ul>


        <div id="tab-1">
            <form method="post" action="" name="form_addBatchProgram" id="form_addBatchProgram">
                <table class="table" width="100%">
                    <tr>
                        <th colspan="2"><?php echo $this->translate("Add Batch Program"); ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Programme"); ?></td>
                        <td><select name='idProgram' id="idProgram" onchange="majorList2($(this).val());">
                                <?php foreach ($this->programList as $t) { ?>
                                    <option value='<?php echo $t['IdProgram']; ?>'><?php echo $t['ProgramName']; ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Structure"); ?></td>
                        <td><select name='idStruc' id="idStruc">
                                <option value='0'>Please Select </option>
                                <?php foreach ($this->PgStructureList as $t) { ?>
                                    <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Major"); ?></td>
                        <td><select name='idMajor' id="idMajor"></select></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button onclick="addBatchProgram();">Save</button>
                        </td>
                    </tr>
                </table>
            </form>

            <br><br>
            <h3><?php echo $this->translate("Batch Program List"); ?></h3>
            <table class="table" width="100%" id="batchProgramList">
                <thead>
                <tr>
                    <th><?php echo $this->translate("Programme"); ?></th>
                    <th><?php echo $this->translate("Structure"); ?></th>
                    <th><?php echo $this->translate("Major"); ?></th>
                    <th><?php echo $this->translate(""); ?></th>
                </tr>
                </thead>
                <?php
                if (count($this->Batchprog) > 0) {
                    foreach ($this->Batchprog as $ps) { ?>
                        <tr>
                            <td><?php echo $ps['ProgramCode'] ?> - <?php echo $ps['ProgramName'] ?></td>
                            <td><?php echo $ps['name'] ?></td>
                            <td><?php echo $ps['IdMajor'] ?></td>
                            <td class="options" align="center"><a href='#' title="<?php echo $this->translate("Edit"); ?>"
                                                                  onClick='editProgram("<?php echo $ps['IDBatchProgram']; ?>");'><?php echo $this->translate("Edit"); ?></a>
                                |
                                <a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'batch', 'action'=>'delete-batch','IDBatchProgram'=> $ps['IDBatchProgram'],'IDBatch'=> $ps['IDBatch'],'type'=>'program'),'default',true);?>" ><?php echo $this->translate("Delete")?></a>
                            </td>
                        </tr>
                    <?php }
                } ?>
            </table>
        </div>


        <div id="tab-2">
            <form method="post" action="" name="form_addBatchSubject" id="form_addBatchSubject">
                <table class="table" width="100%">
                    <tr>
                        <th colspan="2"><?php echo $this->translate("Add Batch Subject"); ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Course"); ?></td>
                        <td><select name='idSubject' id="idSubject" style="width: 500px;">
                                <?php foreach ($this->subjectList as $t) { ?>
                                    <option value='<?php echo $t['IdSubject']; ?>'><?php echo $t['SubjectName']; ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Batch Type"); ?></td>
                        <td><select name='idType' id="idType">
                                <?php foreach ($this->BatchTypeList as $t) { ?>
                                    <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button onclick="addBatchSubject();">Save</button>
                        </td>
                    </tr>
                </table>
            </form>

            <br><br>
            <h3><?php echo $this->translate("Batch Subject List"); ?></h3>
            <table class="table" width="100%" id="batchSubjectList">
                <thead>
                <tr>
                    <th><?php echo $this->translate("Subject"); ?></th>
                    <th><?php echo $this->translate("Type"); ?></th>
                    <th><?php echo $this->translate(""); ?></th>
                </tr>
                </thead>
                <?php
                if (count($this->BatchSubject) > 0) {
                    foreach ($this->BatchSubject as $ps) { ?>
                        <tr>
                            <td><?php echo $ps['SubCode'] ?> - <?php echo $ps['SubjectName'] ?></td>
                            <td><?php echo $ps['name'] ?></td>
                            <td class="options" align="center"><a href='#' title="<?php echo $this->translate("Edit"); ?>"
                                                                  onClick='editSubject("<?php echo $ps['IDBatchSubject']; ?>");'><?php echo $this->translate("Edit"); ?></a>
                                |
                                <a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'batch', 'action'=>'delete-batch','IDBatchSubject'=> $ps['IDBatchSubject'],'IDBatch'=> $ps['IDBatch'],'type'=>'subject'),'default',true);?>" ><?php echo $this->translate("Delete")?></a>
                            </td>
                        </tr>
                    <?php }
                } ?>
            </table>
        </div>
    </div>
</div>

<div id="dialog-program" title="<?php echo $this->translate("Edit Batch Program"); ?>">
    <form name="formEditProgram" id="formEditProgram" method="post"
          action="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'batch', 'action' => 'save-edit-batch', 'type' => 'program'), 'default', true); ?>">
        <input type="hidden" name="IDBatchProgram" id="IDBatchProgram" value="">
        <input type="hidden" name="IDBatch" id="IDBatch" value="">
        <table class="" width="100%">
            <tr>
                <td><?php echo $this->translate("Programme"); ?></td>
                <td><select name='EditidProgram' id="EditidProgram" onchange="majorList($(this).val());">
                        <?php foreach ($this->programList as $t) { ?>
                            <option value='<?php echo $t['IdProgram']; ?>'><?php echo $t['ProgramName']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Structure"); ?></td>
                <td> <select name='EditidStruc' id="EditidStruc">
                        <option value='0'>Please Select </option>
                        <?php foreach ($this->PgStructureList as $t) { ?>
                            <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Major"); ?></td>
                <td><select name='EditidMajor' id="EditidMajor"></select>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="dialog-subject" title="<?php echo $this->translate("Edit Batch Subject"); ?>">
    <form name="formEditSubject" id="formEditSubject" method="post"
          action="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'batch', 'action' => 'save-edit-batch', 'type' => 'subject'), 'default', true); ?>">
        <input type="hidden" name="IDBatchSubject" id="IDBatchSubject" value="">
        <input type="hidden" name="IDBatchS" id="IDBatchS" value="">
        <table class="" width="100%">
            <tr>
                <td><?php echo $this->translate("Course"); ?></td>
                <td><select name='EditidSubject' id="EditidSubject" style="width: 500px;">
                        <?php foreach ($this->subjectList as $t) { ?>
                            <option value='<?php echo $t['IdSubject']; ?>'><?php echo $t['SubjectName']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Batch Type"); ?></td>
                <td> <select name='EditidType' id="EditidType">
                        <?php foreach ($this->BatchTypeList as $t) { ?>
                            <option value='<?php echo $t['key']; ?>'><?php echo $t['value']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>