<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a id="dt_add" href="/generalsetup/batch/add">
                    <span class='add'></span>
                    <?php echo $this->translate('Add'); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<fieldset>
    <legend><?php echo $this->translate('Search') ?></legend>
    <?php echo $this->form; ?>
</fieldset>
<br/>

<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
    <br/>
<?php } ?>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%">
    <thead>
    <tr>
        <th><?php echo $this->translate('Batch Code'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if ($this->paginator) {
        foreach ($this->paginator as $data) {

//            print_r($data);exit;
            ?>
            <tr>
                <td><?php echo $data['BatchCode']; ?></td>
                <td><?php echo $data['BatchStatus']; ?></td>
                <td align="center" class="options">
                    <a href="/generalsetup/batch/edit/id/<?php echo $data['IDBatch']; ?>"><?php echo $this->translate('Edit'); ?></a>
                    |
                    <a href="<?php echo $this->baseUrl();?>/generalsetup/batch/edit-program/id/<?php echo $this->escape($data['IDBatch']);?>" ><?php echo $this->translate("Details"); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>