<script>
	$(function(){

		$( ".datepicker" ).datepicker({
	  		'dateFormat': 'dd-mm-yy'
	  	});
		
		$('#check_all').change(function(){
			if( $(this).prop('checked') ){
				$('.check').prop('checked',true);
			}else{
				$('.check').prop('checked',false);
			}
		});
		var sponsorid = <?php echo isset($this->sponsortype)?$this->sponsortype:0;?>;

		if(sponsorid != 0){
			gettype('#typeinfo');
		}
		
	});

	function preview_invoice(student_id,fee_structure){
		$.fancybox({
			type: 'ajax',
			maxWidth	: 800,
			maxHeight	: 600,
			fitToView	: false,
			width		: '70%',
			height		: '70%',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'none',
			closeEffect	: 'none',
			href		: '/studentfinance/sponsor-invoice/preview-invoice/id/'+student_id+'/fid/'+fee_structure
		});
	}
	
	function view_account(student_id){
		$.fancybox({
			type: 'ajax',
			maxWidth	: 800,
			maxHeight	: 600,
			fitToView	: false,
			width		: '70%',
			height		: '70%',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'none',
			closeEffect	: 'none',
			href		: '/studentfinance/account-student/ledger/type/2/id/'+student_id
		});
	}

	function gettype(element){

		 var idtype = $(element).val();
		 var sponsorid = <?php echo isset($this->sponsortype)?$this->sponsortype:0;?>;

		 if(idtype != ''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice', 'action'=>'get-type-data'),'default',true);?>",
				data: {'id':idtype},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					
			    	$('#sponsortype').empty();
			    	$.each(data, function(index) {
				    	if(sponsorid!=0 && sponsorid==data[index].id){
							var sel = 'selected';
				    	}else{
							var sel = '';
				    	}
			    		$('#sponsortype').append('<option value="'+data[index].id+'"'+sel+'>'+data[index].code+' - '+data[index].name+'</option>');	
			    	});
			          
				},
//				error:function(){
//			          alert("failure");
//				},
				beforeSend: function() {
					showLoading('sponsortype');
			      
				},
				complete: function() {
					hideLoading('sponsortype');
				}  	
			});
		 }
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
</script>

<style>
.next_bar{
	width: 100%;
	background: #EEE;
	margin: 10px 0;
	padding: 2px 0;
	text-align: center;
}
select{
	width: 250px;
}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/batch-list">
					<span class='back'></span>
					Back
				</a>
			</li>
			</li>
		</ul>
	</div>
</div>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<!-- STEP 1 -->
<?php 
if($this->step == 1){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form id="form_1" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/1">
<table>
	<tr>
		<td>Semester</td>
		<td>:</td>
		<td>
			<select name="semester_id" class="select">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<?php 
				foreach ($this->semester_list as $semester):
					$select = "";
					if( isset($this->semester_id) && $this->semester_id==$semester['key'] ){
						$select = 'selected="selected"';
					}
				?>
					<option value="<?php echo $semester['key'];?>" <?php echo $select; ?>><?php echo $semester['value'];?></option>
				<?php 
				endforeach;
				?>
			</select>
		</td>
	</tr>
</table>
<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>
<?php 
}else
?>


<!-- STEP 2 -->
<?php 
if($this->step == 2){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<form id="form_2" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/2">
<table>
	<tr>
		<td>Semester</td>
		<td>:</td>
		<td><?php echo $this->semester['SemesterMainCode'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Invoice Date');?></td>
		<td>:</td>
		<td><input type="text"  name="invoice_date" id="invoice_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
	</tr>
	<tr>
		<td>Type</td>
		<td>:</td>
		<td>
			<select name="typeinfo" id="typeinfo" class="select" onchange="gettype(this);">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<option value="1" <?php echo ($this->typeinfo == 1) ? "selected='selected'":"";?>><?php echo $this->translate('Sponsorship');?></option>
				<option value="2" <?php echo ($this->typeinfo == 2) ? "selected='selected'":"";?>><?php echo $this->translate('Scholarship');?></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>
			<select name="sponsortype" id="sponsortype" class="select">
				<option value="null"><?php echo $this->translate('Please select');?></option>
			</select>
		</td>
	</tr>
</table>
<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>
<!-- End Breadcrum -->
<?php 
}else
?>


<!-- STEP 3 -->
<?php
if($this->step == 3){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<form id="form_3" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/3">
<table class="table" width="70%">
  <tr>
    <th align="center" style="text-align:center;"><input type="checkbox" name="" id="check_all" /></th>
    <th><?php echo $this->translate("Intake");?></th>
    <th><?php echo $this->translate("Number of Student");?></th>
  </tr>
  <?php 
  if($this->intake_list){
    foreach ($this->intake_list as $index=>$intake):
  ?>
  <tr>
    <td align="center"><input type="checkbox" name="intake[]" class="check" value="<?php echo $intake['IdIntake']?>" <?php echo isset($this->selected_intake) && in_array($intake['IdIntake'],$this->selected_intake)?'checked="checked"':''; ?> /></td>
    <td><?php echo $intake['IntakeDesc'];?></td>
    <td align="center"><?php echo $intake['student_count'];?></td>
  </tr>
  <?php
    endforeach;
  }else{ 
  ?>
  <tr>
    <td colspan="2" align="center"><?php echo $this->translate("No student Active in this intake");?></td>
  </tr>
  <?php 
  }
  ?>
</table>
<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>

<?php 
}else
?>


<!-- STEP 4 -->
<?php 
if($this->step == 4){
?>

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<h2><?php echo $this->translate("Fee Item");?></h2>
<small>Fee item to charge from fee structure. <br />Please note that fee item is subject to availability in the student's fee structure for particular semester</small>
<br /><br />

<form id="form_4" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/4">

<table class="table">
	<tr>
		<th align="center" style="text-align:center;"><input type="checkbox" name="" id="check_all" /></th>
		<th><?php echo $this->translate('Fee Name');?></th>
		<th><?php echo $this->translate('Fee Code');?></th>
		<th><?php echo $this->translate('Calculation Mode');?></th>
		<th><?php echo $this->translate('Amount');?></th>
		<th><?php echo $this->translate('Frequency Mode');?></th>
		<th><?php echo $this->translate('Repeat');?></th>
		<th><?php echo $this->translate('Max Repeat');?></th>
	</tr>

	<?php 
	if($this->fee_item_list){
	foreach ($this->fee_item_list as $feeItem):
		
		$checked = "";
	    if($this->fee_item){
    		foreach($this->fee_item as $key => $item)
    		{
    			if ( $item === $feeItem['fi_id'] ){
    				$checked = 'checked="checked"';
    				break;
    			}
    		}
		}
	?>
	
	<tr>
		<td><input type="checkbox" name="fi_id[]" class="check" value="<?php echo $feeItem['fi_id']; ?>" <?php echo $checked; ?> /> </td>
		<td><?php echo $feeItem['fi_name']; ?></td>
		<td><?php echo $feeItem['fi_code']; ?></td>
		<td><?php echo $feeItem['CalculationMode'] == '2' ? $this->translate('Percentage') : $this->translate('Amount')?></td>
		<td><?php echo $feeItem['Amount']; ?></td>
		<td><?php echo $feeItem['FreqMode'] == '1' ? $this->translate('One Time') : $this->translate('Semester')?></td>
		<td align="center"><?php echo $feeItem['Repeat'] == '0' ? $this->translate('N') : $this->translate('Y')?></td>
		<td align="center"><?php echo $feeItem['MaxRepeat'];?></td>
	</tr>
	<?php 
	endforeach;
	}
	?>
</table>
	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
	</div>
</form>


<?php 
}else
?>


<!-- STEP 5 -->
<?php 
if($this->step == 5){
?>

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	
	<table>
		<tr>
			<td><?php echo $this->translate("Semester");?></td>
			<td>:</td>
			<td><?php echo $this->semester['SemesterMainDefaultLanguage'];?></td>
		</tr>
		<tr>
			<td>
			<?php if($this->typeinfo == 1){
				echo "Sponsorship";
			}elseif($this->typeinfo == 2){
				echo "Scholarship";
			};
			?>			
			</td>
			<td>:</td>
			<td><?php echo $this->info['code'];?> - <?php echo $this->info['name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake");?></td>
			<td>:</td>
			<td>
			  <ul>
			    <?php foreach ($this->intake as $intake){ ?>
			    <li><?php echo $intake['IntakeDefaultLanguage']?></li>
			    <?php }?>
			  </ul>
			</td>
		</tr>
	</table>
</fieldset>
<br />
<form id="form_5" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/5">
<table class="table" width="100%">
	<thead>
	<tr>
		
		<th><?php echo $this->translate("Bil");?></th>
		<th><?php echo $this->translate("ID");?></th>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Invoice ID");?></th>
		<th><?php echo $this->translate("Invoice Desc");?></th>
		<th><?php echo $this->translate("Invoice Amount");?></th>
		<th><?php echo $this->translate("Calculation Type");?></th>
    	<th><?php echo $this->translate("Amount");?></th>
    	<th><?php echo $this->translate("Sponsor Amount");?></th>
    	<th><input type="checkbox" value="" name="" id="check_all" /></th>
	</tr>
	</thead>
	<tbody>
		<?php 
		foreach ($this->student_list as $i=>$student):
		$row = 1;
		if($student['invoice']){
			$row = count($student['invoice']);
		}
		
		$rowspan = "rowspan = '$row'";
		
		?>
		<tr <?php echo $i%2==0?"class='shade'":"";?>>
			
			<td align="center" <?php echo $rowspan;?>><?php echo $i+1;?>.</td>
			<td <?php echo $rowspan;?>><?php echo $student['registrationId']?></td>
			<td <?php echo $rowspan;?>><?php echo preg_replace('!\s+!', ' ', $student['name']);?></td>
			<td align="center" <?php echo $rowspan;?>><?php echo $student['ProgramCode']?></td>
			<td <?php echo $rowspan;?>><?php echo $student['IntakeDesc']?></td>
			<td><?php echo $student['invoice'][0]['bill_number']?></td>
			<td><?php echo $student['invoice'][0]['invoicedesc']?></td>
			<td align="right"><?php echo $student['invoice'][0]['cur_code']?><?php echo $student['invoice'][0]['amount']?></td>
			<td><?php echo $student['invoice'][0]['percentName']?></td>
			<td><?php echo $student['invoice'][0]['Amount']?></td>
			<td align='right'><?php echo $student['invoice'][0]['cur_code']?><?php echo $student['invoice'][0]['AmountInvoice']?></td>
			<!--<td <?php echo $rowspan;?> align="center"> 
				<a href="#" onclick="view_account(<?php echo $student['IdStudentRegistration'];?>); return false;">SOA</a>
			</td>
		-->
		<td align="center">
		<?php if($student['invoice'][0]['id_detail']){?>
			  <input type="checkbox" name="id[]" class="check" value="<?php echo $student['invoice'][0]['id_detail'];?> " />
			  <input type="hidden" name="sid[]" value="<?php echo $student['IdStudentRegistration'];?>" />
			  <input type="hidden" name="fs_id[]" value="<?php echo $student['fs_id'];?>" />
			  <?php }?>
			</td>
		</tr>
		
		<?php 
			if($student['invoice']){
				unset($student['invoice'][0]);
				foreach($student['invoice'] as $invoice){
					echo "<tr><td>$invoice[bill_number]</td>";
					echo "<td>$invoice[invoicedesc]</td>";
					echo "<td align='right'>$invoice[cur_code]$invoice[amount]</td>";
					echo "<td>$invoice[percentName]</td>";
					echo "<td>$invoice[Amount]</td>";
					echo "<td align='right'>$invoice[cur_code]$invoice[AmountInvoice]</td>";
					echo '<td align="center"> ';
					if($invoice['id_detail']){
						echo '<input type="checkbox" name="id[]" class="check" value="'.$invoice['id_detail'].'">';
					}
					echo '</td>';
					echo"</tr>";
				}
				
			}
			
			?>
		<?php 
		endforeach;
		?>
	</tbody>
</table>
<br />

  <div class="form-opt">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
  </div>

</form>
<?php 
}else 
?>

<!-- STEP 6 -->
<?php 
if($this->step == 6){  
?>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Sponsor/Scholar"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-sponsor-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	
	<table>
		<tr>
			<td><?php echo $this->translate("Semester");?></td>
			<td>:</td>
			<td><?php echo $this->semester['SemesterMainDefaultLanguage'];?></td>
		</tr>
		<tr>
			<td>
			<?php if($this->typeinfo == 1){
				echo "Sponsorship";
			}elseif($this->typeinfo == 2){
				echo "Scholarship";
			};
			?>			
			</td>
			<td>:</td>
			<td><?php echo $this->info['code'];?> - <?php echo $this->info['name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake");?></td>
			<td>:</td>
			<td>
			  <ul>
			    <?php foreach ($this->intake as $intake){ ?>
			    <li><?php echo $intake['IntakeDefaultLanguage']?></li>
			    <?php }?>
			  </ul>
			</td>
		</tr>
	</table>
</fieldset>
<br />
<?php 
  if(sizeof($this->invoice_list)>0){
  	
?>

<table class="table" width="100%">
  <tr>
    <th><?php echo $this->translate("Bil.");?></th>
    <th><?php echo $this->translate("Student ID");?></th>
    <th><?php echo $this->translate("Student Name");?></th>
    <th><?php echo $this->translate("Invoice Number");?></th>
    <th><?php echo $this->translate("Invoice Desc");?></th>
    <th><?php echo $this->translate("Invoice Amount");?></th>
    <th><?php echo $this->translate("Calculation Type");?></th>
    <th><?php echo $this->translate("Amount");?></th>
    <th><?php echo $this->translate("Sponsor Amount");?></th>
  </tr>
  <?php 
  
  $bil=1;
  foreach ($this->invoice_list as $index=>$student):
  	$row = 1;
	if($student['invoice']){
		$row = count($student['invoice']);
	}
	
	$rowspan = "rowspan = '$row'";

	if($student['invoice'][0]['bill_number']){
  ?>
  <tr <?php echo $index%2==0?"class='shade'":"";?>>
    <td align="center" <?php echo $rowspan;?>><?php echo $bil;?>.</td>
    <td <?php echo $rowspan;?>><?php echo $student['registrationId'];?></td>
    <td <?php echo $rowspan;?>><?php echo $student['name'];?></td>
    <td><?php echo $student['invoice'][0]['bill_number']?></td>
	<td><?php echo $student['invoice'][0]['invoicedesc']?></td>
	<td align="right"><?php echo $student['invoice'][0]['cur_code']?><?php echo $student['invoice'][0]['amount']?></td>
	<td><?php echo $student['invoice'][0]['percentName']?></td>
			<td><?php echo $student['invoice'][0]['Amount']?></td>
			<td align='right'><?php echo $student['invoice'][0]['cur_code']?><?php echo $student['invoice'][0]['AmountInvoice']?></td>
  </tr>
  
  <?php 

  
			if($student['invoice']){
				unset($student['invoice'][0]);
				foreach($student['invoice'] as $invoice){
					
					echo "<tr><td>$invoice[bill_number]</td>";
					echo "<td>$invoice[invoicedesc]</td>";
					echo "<td align='right'>$invoice[cur_code]$invoice[amount]</td>";
					echo "<td>$invoice[percentName]</td>";
					echo "<td>$invoice[Amount]</td>";
					echo "<td align='right'>$invoice[cur_code]$invoice[AmountInvoice]</td>";
					echo"</tr>";
					
					
				}
				
			}
			
			$bil++;
	}	

	
			?>
			
  <?php endforeach;?>
</table>


<form id="form_6" method="post" action="/studentfinance/sponsor-invoice/batch-sponsor-invoice/step/6">
<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate("Submit");?>" />
</div>
</form>
<?php 
  }else{
?>
  <div class="message error"><strong><?php echo $this->translate("There are no selected student. No Invoice will be create...");?></div>
<?php 
  }
?>
  
<?php 
}
?>