<script type="text/javascript">

$(function(){
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});
	
});

	function toggle_info(id){
		if( $('#'+id+' div').is(':hidden') ){
				$('.inv_info').hide(500);
		}

		$('#'+id+' div').toggle(500);

		return false;
	}
</script>

<style type="text/css">
	ul, li{
		padding:0;
		margin:0;
		font-size: 9px;
		list-style: none;
	}
	
	.inv_info{
		background: #C5EAFF;
		padding: 10px;
	}
	
	.info_header{
		background: #C5EAFF;
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$(".fancybox").fancybox();

	<?php if( isset($this->form_error) ){?>
	$(".fancybox").fancybox().trigger('click');
	<?php }?>
});

	function add_discount_type(){
		$('#dt_discount').val("");
		$('#dt_description').val("");

		
	}

	function edit_discount_type(){
		var id = $("input[name=id]:checked").val();
		
		if(id){

			$.fancybox({
				  href : "/studentfinance/sponsor-invoice/edit-type/id/"+id,
				  type : 'ajax'
			});
			
		}else{
			alert("<?php echo $this->translate("Please Select item first.");?>");
		}
		
	}

	function delete_discount_type(id){
		var id = $("input[name=id]:checked").val();

		if(!id){
			alert("<?php echo $this->translate("Please Select item first.");?>");
		}else{

			var msg = '<?php echo $this->translate("Confirm to delete?");?>';

			if( confirm(msg) ){
				window.location = "/studentfinance/sponsor-invoice/delete-type/id/"+id
			}
		}
	}

	function submitForm(){
		var total = $(".check:checked").length;
		if (total == 0)
		{
			alert('<?php echo $this->translate('No data selected')?>');
			return false;
		}
		
		return sure('<?php echo $this->translate('Are you sure?')?>');
	}


</script>


<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/batch-list">
					<span class='back'></span>
					Back
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br />
<form method="post" name="approval" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice','action'=>'batch-list-detail','id'=>$this->id), 'default', true);?>" onsubmit="return submitForm();">
<table class="table" width="100%">
	<tr>
		<th colspan="2">Ref Number</th>
		<th>Student ID</th>
		<th>Student Name</th>
		<th>Programme</th>
		<th>Intake</th>
		<th>Description</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Created By</th>
		<th>Created Date</th>
		<th>Status By</th>
		<th>Status Date</th>
		<th align="center" style="text-align:center;"><input type="checkbox" name="" id="check_all" /></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->liststudent as $entry): 
	?>
	<tr>
		<td><?php echo $i+1; ?></td>
		<td><a href="#" onclick="return toggle_info('<?php echo $entry['sp_id']; ?>');"><?php echo $entry['sp_fomulir_id']; ?></a></td>
		<td><?php echo $entry['registrationId']; ?></td>
		<td><?php echo $entry['name']; ?></td>
		<td><?php echo $entry['ProgramCode']; ?></td>
		<td><?php echo $entry['IntakeDesc']; ?></td>
		<td><?php echo $entry['sp_description']; ?></td>
		<td align="right"><?php echo $entry['cur_code']; ?><?php echo $entry['sp_amount']; ?></td>
		<td align="center">
		<?php 
		if($entry['sp_status'] == 'X'){ 
			echo 'CANCEL';
		}elseif($entry['sp_status'] == 'A'){ 
			echo 'APPROVED';
		}elseif($entry['sp_status'] == 'E'){ 
			echo 'ENTRY';
		}
		?>
		</td>
		<td><?php echo $entry['creator_name']; ?></td>
		<td><?php echo $entry['sp_create_date']; ?></td>
		<td><?php 
		if($entry['sp_status'] == 'X'){ 
			echo $entry['cancel_name'];
		}elseif($entry['sp_status'] == 'A'){ 
			echo $entry['approve_name'];
		}
		?></td>
		<td><?php 
		if($entry['sp_status'] == 'X'){ 
			echo $entry['sp_cancel_date'];
		}elseif($entry['sp_status'] == 'A'){ 
			echo $entry['sp_approve_date'];
		}
		?></td>
		<td align="center">
		<?php 
		if($entry['sp_status'] == 'E'){ 
			echo '<input type="checkbox" name="sp_id[]" class="check" value="'.$entry['sp_id'].'" />';
		}
		
		?>
		</td>
	</tr>
	<tr>
		<td colspan="10" id="<?php echo $entry['sp_id']; ?>">
		<div class="inv_info"  style="display: none">
		
		<table class="table" width="100%">
			<tr class='shade'>
				<th colspan="2"><?php echo $this->translate("Invoice Number")?></th>
				<th><?php echo $this->translate("Invoice Amount")?></th>
				<th><?php echo $this->translate("Invoice Description")?></th>
			</tr>
		<?php 
		foreach ($entry['invoice'] as $key=>$inv): 
		?>
		
			<tr>
				<td><?php echo $key+1;?></td>
				<td><?php echo $inv['bill_number'];?></td>
				<td align="right"><?php echo $inv['cur_code'];?><?php echo $inv['amount'];?></td>
				<td><?php echo !isset($inv['SubCode'])?'' : $inv['SubCode'].' - ';?><?php echo $inv['fee_item_description'];?></td>
			</tr>
						
		<?php 
		endforeach;
		?>
		</table>
		</div>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
</table>
<br>
<div class="form-opt">
	<input type="submit" name="approve" value="Approve" />
	<input type="submit" name="approve" value="Cancel" />
</div>
</form>