
<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/batch-sponsor-invoice">
					<span class='add'></span>
					Add
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br />

<table class="table" width="100%">
	<tr>
		<th>Batch Number</th>
		<th>Type</th>
		<th>Code</th>
		<th>Name</th>
		<th>Semester</th>
		<th>Creator</th>
		<th>Create Date</th>
		<th>Entry</th>
		<th>Approve</th>
		<th>Cancel</th>
		<th>Total</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr>
		<td><a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/batch-list-detail/id/<?php echo $entry['id']?>"><?php echo $entry['batch_number']; ?></a></td>
		<td><?php echo $entry['sp_type'] == 1 ? 'Sponsorship': 'Scholarship'; ?></td>
		<td><?php echo $entry['sp_code']; ?></td>
		<td><?php echo $entry['sp_name']; ?></td>
		<td><?php echo $entry['SemesterMainCode']; ?></td>
		<td><?php echo $entry['creator_name']; ?></td>
		<td align="center"><?php echo format_date_to_view( $entry['create_date'], 'full' ); ?></td>
		<td align="center"><?php echo $entry['number']['E']; ?></td>
		<td align="center"><?php echo $entry['number']['A']; ?></td>
		<td align="center"><?php echo $entry['number']['X']; ?></td>
		<td align="center"><?php echo $entry['total_student']; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
</table>