
<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/receipt-open">
					<span class='add'></span>
					Add
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br />

<table class="table" width="100%">
	<tr>
		<th colspan="2">Receipt No</th>
		<th>Date</th>
		<th>Type</th>
		<th>Name</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Created Date</th>
		<th>Created By</th>
		
	</tr>
	
	<?php 
	$i=1;
	foreach ($this->paginator as $entry): 
	?>
	<tr>
		<td><?php echo $i;?>.</td>
		<td><a href="<?php echo $this->baseUrl()?>/studentfinance/sponsor-invoice/view-receipt-detail/id/<?php echo $entry['rcp_id']?>"><?php echo $entry['rcp_no']; ?></a></td>
		<td><?php echo $entry['rcp_status']; ?></td>
		<td>

			<?php
			$type = '';
			$typeName = '';
			if($entry['rcp_type'] == 1){
				$type = 'Sponsorship';
				$typeName = $entry['SponsorName'];
			}elseif($entry['rcp_type'] == 2){
				$type = 'Scholarship';
				$typeName = $entry['ScholarName'];
			}elseif($entry['rcp_type'] == 3){
				$type =  'Financial Aid';
				$typeName = 'Fisabilillah';
			}

			echo $type;
			?>
			</td>
		<td><?php echo $typeName; ?></td>
		<td align="right"><?php echo $entry['cur_code']; ?><?php echo $entry['rcp_amount']; ?></td>
		<td><?php echo $entry['rcp_status']; ?></td>
		<td><?php echo date('d-m-Y',strtotime($entry['rcp_receive_date'])); ?></td>
		<td><?php echo $entry['name']; ?></td>
		
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
</table>