<?php 
$this->headScript()->prependFile('/js/jquery/plugin/blockui/jquery.blockui.js');
?>
<script>

$(function() {

	$("#rcp_gainloss").on('change', function()
		{
			if ($(this).val() == '')
			{
				$("#gainloss_amt_wrap").hide();
			}
			else
			{
				$("#gainloss_amt_wrap").show();
			}
		});
	
	$( "#accordion" ).accordion({
		autoHeight: false,
		collapsible: true,
		active : 'none'
    });

	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);

		}else{
			$('.check').prop('checked',false);
		}
	});

	$( "#tabs" ).tabs();

	$( ".datepicker" ).datepicker({
  		'dateFormat': 'dd-mm-yy'
  	});

	$("input[name=sponsortype]").on('change', function()
	{
		$("#batchno").val('');
		initAutocomplete();
	});

	$("#sponsortype").on('change', function()
	{
		initAutocomplete();
	});

	

	initAutocomplete();
});

function calculate_invoice(index,element){
	
	var total_sum = parseFloat($('#total_amount').val());
//	element = $('input[name="invoice_id['+index+']"]');

	if($(element).prop('checked') ){
		amount_temp = $('input[name="amount['+index+']"]').val();
		total_sum += parseFloat(amount_temp);
	}else{
		var amount_temp_minus = $('input[name="amount['+index+']"]').val();
		total_sum -= parseFloat(amount_temp_minus);
	}

	$('#total_amount').val(total_sum);

}

function gettype(element){

		 var idtype = $(element).val();

		 if(idtype != ''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice', 'action'=>'get-type-data'),'default',true);?>",
				data: {'id':idtype},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					
			    	$('#sponsortype').empty();
			    	$('#sponsortype').append('<option value="0">Please Select</option>');	
			    	$.each(data, function(index) {
						var sel = '';
			    		$('#sponsortype').append('<option value="'+data[index].id+'"'+sel+'>'+data[index].code+' - '+data[index].name+'</option>');	
			    	});
			          
				},
//				error:function(){
//			          alert("failure");
//				},
				beforeSend: function() {
					showLoading('sponsortype');
			      
				},
				complete: function() {
					hideLoading('sponsortype');
				}  	
			});
		 }
	}

	function search_invoice(){

	 var idtype = $('#typeinfo').val();
	 var sponsortype = $('#sponsortype').val();
	 var batchno = $('#batchno').val();

	 if(idtype != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice', 'action'=>'ajax-get-invoice'),'default',true);?>",
			data: {'type':idtype,'id':sponsortype,'batchno':batchno},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
				//invoice
				$('#tbl_invoices tbody').empty();
				
				if (typeof data != 'undefined') {
					$.each(data, function(key,value){
						var num=0;
						$.each(value.detail, function(key,detail){
							$('#tbl_invoices tbody').append(
								$('<tr id="invrow-'+detail.sp_id+'">')
								.append('<td>'+value.sp_fomulir_id)
								.append('<td>'+value.registrationId)
								.append('<td>'+value.name)
								.append('<td>'+detail.bill_number)
								.append('<td>'+value.sp_invoice_date)
								.append('<td>'+detail.fee_item_description)
								.append('<td>'+value.SemesterMainName)
								.append('<td align="right">'+value.cur_code)
								.append('<td align="right">'+detail.sp_balance)
								.append('<td align="center"><input type="hidden" id="amount['+num+']" name="amount['+num+']" value="'+detail.sp_balance+'"><input type="checkbox" name="invoice_id['+num+']" id="invoice_id['+num+']" value="'+detail.id_sp_id+'" class="check check_amount_student" onclick="calculate_invoice('+num+',this);">')
							);

							num++;
						});
						
					});
				

				}
		          
			},
//			error:function(){
//		          alert("failure");
//			},
			beforeSend: function() {
				showLoading('tbl_invoices');
		      
			},
			complete: function() {
				hideLoading('tbl_invoices');
			}  	
		});
	 }
}

	function getbatch(element){

		 var sponsortype = $(element).val();
		 var idtype = $('#typeinfo').val();

		 if(idtype != ''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice', 'action'=>'get-batch-data'),'default',true);?>",
				data: {'type':idtype,'id':sponsortype},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					
			    	$('#batchno').empty();
			    	

			    	if(data != null){	
			    		$('#batchno').append('<option value="0">Please Select</option>');
				    	$.each(data, function(index) {
							var sel = '';
				    		$('#batchno').append('<option value="'+data[index].id+'"'+sel+'>'+data[index].batch_number+'</option>');	
				    	});
			    	}else{
			    		$('#batchno').append('<option value="0">No data</option>');
			    	}
			          
				},
//				error:function(){
//			          alert("failure");
//				},
				beforeSend: function() {
					showLoading('batchno');
			      
				},
				complete: function() {
					hideLoading('batchno');
				}  	
			});
		 }
	}

	function getPaymentMode(id){

		type = change_payment(id);

	    $("#LoadingImage").ajaxStart(function () {
	        $(this).show();
	    });
			
	    $.ajax({ 
	        type: "POST",
	        url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'receipt','action'=>'ajax-get-payment-mode'),'default',true);?>", 
	        data:"id="+id,
	        context: document.body, 
	        success: function(data){
	      
	            $("#LoadingImage").ajaxStop(function () {
	                $(this).hide();
	            });
	            response = eval(data);

	           
	            mode_of_payment.options.length = 0;
	            mode_of_payment.options[0]=new Option('-- Please select --','');

	            if(id==0){
	           	 	mode_of_payment.options[0]=new Option('Migs','0');
	            }
					
	            for(var i=0; i<response.length; i++){
	            	mode_of_payment.options[i+1]=new Option(response[i].payment_mode +" ("+response[i].description + ')',response[i].id);
	            }

	        }
	    });
	}

	function change_payment(payment_group_id){

		if(payment_group_id == 638 || payment_group_id == 853 || payment_group_id == 854 || payment_group_id == 0){
			type = 1;
			$('#payment_group_1').show();
			$('#payment_group_2').hide();
			$('#payment_group_2 form').trigger("reset");	
		}else
		if(payment_group_id == 852){
			type =2;
			$('#payment_group_1').hide();
			$('#payment_group_2').show();
			$('#payment_group_1 form').trigger("reset");
		}
		return type;
	}

	
	function initAutocomplete()
	{
		var id = $("#sponsortype").val();
		var type = $("#typeinfo").val();
		var batchno = $("#batchno").val();

		$( "#batchno" ).autocomplete({
	        source: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'sponsor-invoice', 'action' => 'find-payee'), 'default', true); ?>/type/'+type+'/id/'+id+'/batchno/'+batchno,
	        minLength: 2,
	        search: function(event, ui) {
	            $("#search_status").html('<?php echo $this->translate('searching...'); ?>');
	        },
	        response: function (event, ui) {
	            $("#search_status").html('');
	        },
	        select: function(event, ui) {
	            
	            $('#sp_type_id').val(ui.item.sp_type_id);
				search_payer();
				setTimeout(function(){ $("#batchno").val(ui.item.batch_number)} ,250);
				return false;
				
	        }
	    });
	}
	
	function search_payer(){
	  	
	  	var currency_used = $('#currency_used').val();
		$.ajax({
		cache : false,
		type: 'POST',
		dataType: 'json',
		url: "/studentfinance/credit-note/search-payee",
		data: {	
				'rcp_payee_type':$('#rcp_payee_type').val(), 
				'payee_id':$('#payee_id').val(), 
				'payee_invoice_no':$('#payee_invoice_no').val(), 
				'payee_proforma_no':$('#payee_proforma_no').val()
				},
		beforeSend : function() {
			
			/*$.blockUI({ 
	            message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> <?php echo $this->translate('Searching'); ?>...</div></div>', 
	        });*/ 
			
			$('#dis_payee_name').html('');
			$('#dis_payee_id').html('');
			$('#dis_payee_type').html('');
			$('#dis_program').html('');
	    }		
	}).done(function(data) {

		//$.unblockUI
		
		if(data == null){
			alert('<?php echo $this->translate('Payee not found'); ?>');
		}else{
			$('#dis_payee_name').html(data.payee_name);
			$('#dis_payee_id').html(data.payee_id);
			$('#dis_program').html(data.program_name);
			$(".payee").attr("data-payee", "1");
			$(".payment").attr("data-payment", "1");

			getInvoice(data.trans_id);
			
			$('#dis_payee_type').html( $( "#rcp_payee_type option:selected" ).text() );

			$('#payee_id').val(data.trans_id);
			$('#payee_type').val($( "#rcp_payee_type option:selected" ).val());
			
			//invoice
			$('#tbl_invoices tbody').empty();
			
			if (typeof data.invoice != 'undefined') {
				$.each(data.invoice, function(key,value){

					$('#tbl_invoices tbody').append(
						$('<tr id="invrow-'+value.cn_id+'">')
						.append('<td>'+value.cn_billing_no)
						.append('<td>'+value.cn_create_date)
						.append('<td>'+value.fee_item_description)
						.append('<td align="right">'+value.cur_code)
						.append('<td align="right">'+value.amount)
						.append('<td align="left">'+value.status)
								
					);
				});
			

			}

		}

		
		
	});

		
	}
	
	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	function submitForm(){
		var total = $(".chk:checked").length;
	
		if (total == 0)
		{
			alert('<?php echo $this->translate('No invoice selected')?>');
			return false;
		}

		var payment_amount = $("#payment_amount").val();
		if(payment_amount == 0 || payment_amount == ''){
			alert('<?php echo $this->translate('Please add payment')?>');
			return false;
		}

		var payment_mode = $('#mode_of_payment').val();
		if ( payment_mode == null || payment_mode == 0 )
		{
			
			alert('<?php echo $this->translate('Please select mode of payment'); ?>');
			return false;
		}

//		var msg = '<?php echo $this->translate("Are you sure?");?>';
//
//		if( confirm(msg) ){
//			$('#submitreceiptsponsor').submit();
//		}

		return sure('<?php echo $this->translate("Are you sure?");?>');
		
	}

</script>
<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			
		</ul>
	</div>
</div>
<br />
<table>

	<tr>
		<td>Type</td>
		<td>:</td>
		<td>
			<select name="typeinfo" id="typeinfo" class="select" onchange="gettype(this);">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<option value="1" <?php echo ($this->typeinfo == 1) ? "selected='selected'":"";?>><?php echo $this->translate('Sponsorship');?></option>
				<option value="2" <?php echo ($this->typeinfo == 2) ? "selected='selected'":"";?>><?php echo $this->translate('Scholarship');?></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>
			<select name="sponsortype" id="sponsortype" class="select" onchange="getbatch(this);">
				<option value="null"><?php echo $this->translate('Please select');?></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Batch Number</td>
		<td>:</td>
		<td>
			<select name="batchno" id="batchno" class="select" onchange="search_invoice();">
				<option value="null"><?php echo $this->translate('Please select');?></option>
			</select><span id="search_status"></span>
		</td>
	</tr>

</table>
<br>
<form id="submitreceiptsponsor" method="post" action="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'sponsor-invoice', 'action' => 'receipt'), 'default', true); ?>" onsubmit="return submitForm()">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1" class='payment' data-payee="0">Payment Detail</a></li>
    	<li><a href="#tabs-2" class="invoice" data-invoice="0">Invoice</a></li>
  	</ul>
  	
  	<div id="tabs-2">
	<table class="table" id="tbl_invoices" width="100%">
			<thead>
			<tr>
				<th><?php echo $this->translate('Sponsor Invoice No.');?></th>
				<th><?php echo $this->translate('Student ID');?></th>
				<th><?php echo $this->translate('Name');?></th>
				<th><?php echo $this->translate('Invoice No.');?></th>
				<th><?php echo $this->translate('Invoice Date');?></th>
				<th><?php echo $this->translate('Description');?></th>
				<th><?php echo $this->translate('Semester');?></th>
				<th><?php echo $this->translate('Currency');?></th>
				<th><?php echo $this->translate('Amount');?></th>
				<th><!--<input type="checkbox" id="check_all" name="check_all">--></th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">&nbsp;<input type="hidden" name="total_invoice" id="total_invoice" value="0.00"></td>
					<td><input type="text" name="total_amount" id="total_amount" value="0" class="input-txt small"></td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
	
	
	<div id="tabs-1">
		<table class="table" width="100%">
					<tr>
						<td width="25%"><?php echo $this->translate('Bank');?></td>
						<td width="75%">
							<select name="receipt_account_code" class="select">
								<?php 
								foreach ($this->bank_list as $bank){
								?>
								<option value="<?php echo $bank['ac_id'];?>"><?php echo $bank['ac_desc'];?> (<?php echo $bank['ac_code'];?>)</option>
								<?php 
								}
								?>
							</select>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Doc Receive Date');?></td>
						<td><input type="text" name="receipt_receive_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>"/></td>
					</tr>
					<tr>
						<td valign="top"><?php echo $this->translate('Description');?></td>
						<td>
							<textarea name="receipt_description" rows="4" cols="30" style="height:50px"></textarea>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Gain/Loss?')?></td>
						<td>
							<select name="rcp_gainloss" id="rcp_gainloss" class="select" style="width:100px">
								<option value=""><?php echo $this->translate('None')?></option>
								<option value="gain"><?php echo $this->translate('Gain')?></option>
								<option value="loss"><?php echo $this->translate('Loss')?></option>
							</select>
							<span id="gainloss_amt_wrap" style="display:none">
								RM <input type="text" class="input-txt small" value="" name="rcp_gainloss_amt" id="rcp_gainloss_amt" />
							</span>
						</td>
					</tr>

			<tr>
				<td width="25%"><?php echo $this->translate('Payment Group');?> <span class="reqMark">*</span></td>
				<td width="75%">
					<select id="payment_group_selector" onchange="getPaymentMode(this.value)" class="select">
						<option value=""><?php echo $this->translate('-- Please select --')?></option>
						<option value="0">Migs</option>
						<?php foreach ($this->payment_group as $payment_group){?>
						<option value="<?php echo $payment_group['idDefinition'];?>"><?php echo $payment_group['DefinitionDesc'];?></option>
						<?php }?>
					</select>
				</td>
			</tr>
			<tr>
					<td><?php echo $this->translate('Mode of Payment');?> <span class="reqMark">*</span></td>
					<td>
					
						<select id="mode_of_payment" name="mode_of_payment" class="select">
						</select>
					</td>
				</tr>
		</table>
		

		<!-- MODE TYPE CASH -->
		<div id="payment_group_1">
			<table width="100%" class="table" >
				
				<tr>
					<td width="25%"><?php echo $this->translate('Reference No');?></td>
					<td width="75%"><input type="text" name="cheque_no" class="input-txt" id="1_cheque_no" /></td>
				</tr>
				
			</table>
		</div>
		
		<!-- MODE TYPE CREDIT CARD -->
		<div id="payment_group_2" style="display:none;">
			<table width="100%" class="table" >
				
				<tr>
					<td width="25%"><?php echo $this->translate('Terminal ID');?></td>
					<td width="75%">
						<select id="2_terminal_id" name="terminal_id" class="select">
							<?php foreach ($this->terminal_list as $terminal){?>
							<option value="<?php echo $terminal['id'];?>"><?php echo $terminal['terminal_id'];?></option>
							<?php }?>
						</select>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Bank Card No.');?></td>
					<td><input type="text" name="card_no" id="2_card_no" class="input-txt" /></td>
				</tr>
				
			</table>
			</div>
			
			<table width="100%" class="table" >
				<tr>
					<td width="25%"><?php echo $this->translate('Currency');?></td>
					<td width="75%">
						<select id="currency" name="currency" class="select">
							<?php foreach ($this->currency_list as $currency){?>
								<option value="<?php echo $currency['cur_id'];?>"><?php echo $currency['cur_code'];?></option>
							<?php }?>
						</select>
					</td>
				</tr>
				<tr>
					<td width="25%"><?php echo $this->translate('Amount');?></td>
					<td width="75%"><input type="text" name="payment_amount" class="input-txt" id="payment_amount" /></td>
				</tr>
			</table>
		</div>
</div>

<div class="form-opt">
	<button id="savebtn"><?php echo $this->translate('Save');?></button>
	</div>
</form>	