<script>
$(function() {
	$( "#tabs" ).tabs();
});
</script>

<style>
tr.invoice_title td:not(:first-child){
	background: #CDCDCD;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<?php if ( $this->receipt['rcp_status'] == 'ENTRY' ) { ?>
			<li>
				<a href="/studentfinance/sponsor-invoice/cancel/id/<?php echo $this->receipt['rcp_id'];?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to cancel this receipt?')?>')">
					<span class='delete'></span>
					<?php echo $this->translate('Cancel'); ?>
				</a>
			</li>
			<?php }?>
			<?php if ( $this->receipt['rcp_status'] == 'ENTRY' ) { ?>
			<li>
				<a href="/studentfinance/sponsor-invoice/approve/id/<?php echo $this->receipt['rcp_id'];?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to approve this receipt?')?>')">
					<span class='approve'></span>
					<?php echo $this->translate('Approve'); ?>
				</a>
			</li>
			<?php } ?><!--
			<li>
				<a href="/studentfinance/receipt/print/id/<?php echo $this->receipt['rcp_id'];?>/type/<?php echo $this->receipt['rcp_payee_type'];?>" target="_blank">
					<span class='print'></span>
					<?php //echo $this->translate('Print'); ?>
				</a>
			</li>
			--><li class="divider"></li>
			<?php if ( $this->receipt['rcp_status'] == 'APPROVE' ) { ?>
				<li>
					<a href="/studentfinance/sponsor-invoice/cancel-sponsor-invoice/id/<?php echo $this->receipt['rcp_id'];?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to cancel this receipt?')?>')">
						<span class='delete'></span>
						<?php echo $this->translate('Cancel'); ?>
					</a>
				</li>
			<?php }?>
			<li>
				<a href="#" onclick="history.go(-1)";>
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
	<legend><?php echo $this->translate('Payee');?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Type');?></td>
			<td>:</td>
			<td>
				<?php echo $this->receipt['SponsorCode']?'Sponsorship':'Scholarship';?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Code');?></td>
			<td>:</td>
			<td>
				<?php echo $this->receipt['SponsorCode']?$this->receipt['SponsorCode'].' - '.$this->receipt['SponsorName']:$this->receipt['ScholarCode'];?>
			</td>
		</tr>
		<?php if($this->receipt['batch_number']){?>
		<tr>
			<td><?php echo $this->translate('Batch No.');?></td>
			<td>:</td>
			<td>
				<?php echo $this->receipt['batch_number'];?>
			</td>
		</tr>
		<?php }?>
	</table>
</fieldset>

<br />
<h3><?php echo $this->translate('Receipt');?></h3>
<table class="table" width="100%">
	<tr>
		<td width="200px"><?php echo $this->translate('Receipt No');?></td>
		<td><?php echo $this->receipt['rcp_no'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Bank');?></td>
		<td><?php echo $this->receipt['ac_code'];?> (<?php echo $this->receipt['ac_desc'];?>)</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Doc Date');?></td>
		<td><?php echo date('d-m-Y g:ia', strtotime($this->receipt['rcp_date']));?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Doc Receive Date');?></td>
		<td><?php echo date('d-m-Y', strtotime($this->receipt['rcp_receive_date']));?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description');?></td>
		<td><?php echo $this->receipt['rcp_description'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Amount');?></td>
		<td><?php echo ($this->receipt['rcp_cur_id'] ==1)?'MYR':'USD';?><?php echo $this->receipt['rcp_amount'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Advance Amount');?></td>
		<td><?php echo ($this->receipt['rcp_cur_id'] ==1)?'MYR':'USD';?><?php echo $this->receipt['rcp_adv_amount'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Status');?></td>
		<td><?php echo $this->receipt['rcp_status'];?></td>
	</tr>
	<?php
	if ($this->receipt['rcp_status'] == 'CANCEL') {
		?>
		<tr>
			<td><?php echo $this->translate('Cancel Date'); ?></td>
			<td><?php echo date('d-m-Y', strtotime($this->receipt['cancel_date'])); ?></td>
		</tr>
		<?php
	}
	?>
	<tr>
		<td><?php echo $this->translate('Status By');?></td>
		<td>
		<?php if($this->receipt['rcp_status'] == 'ENTRY'){
				echo $this->receipt['name'];
			}else if($this->receipt['rcp_status'] == 'CANCEL'){
				echo $this->receipt['cancel_name'];
			}else if($this->receipt['rcp_status'] == 'APPROVED'){
				echo $this->receipt['update_name'];
			}?>
		</td>
	</tr>
	<?php if ( $this->receipt['rcp_gainloss_amt'] != '0.00' ) { ?>
	<tr>
		<td><?php echo $this->translate('Loss/Gain')?></td>
		<td><?php echo ucfirst($this->receipt['rcp_gainloss'])?> (MYR<?php echo $this->receipt['rcp_gainloss_amt']?>)</td>
	</tr>
	<?php } ?>
</table>

<br />
<h3><?php echo $this->translate('Payment');?></h3>
<!-- PAYMENT TABLE -->
<table width="100%" id="tbl_payment" class="table3">
	<thead>
	<tr>
		<th>Mode Of Payment</th>
		<th>Reference/Cheque No</th>
		<th>Payment Doc Bank</th>
		<th>Payment Doc Branch</th>
		<th>Terminal ID</th>
		<th>Bank Card No</th>
		<th>Currency</th>
		<th width="100px">Amount</th>
	</tr>
	</thead>
	<tbody>
	<?php
		$sum_payment = 0.00; 
		
		$payment = $this->receipt;
		
	?>	
	<tr>
		<td><?php 
		if($payment['p_payment_mode_id'] == 0 && $payment['p_migs']!=0){
			echo 'MIGS';
		}else{
			echo $payment['payment_mode'];
		}?></td>
		<td><?php 
		if($payment['p_payment_mode_id'] == 0 && $payment['p_migs']!=0){
			echo $payment['mt_txn_no'];
		}else{
			echo $payment['p_cheque_no'];
		}
		
		?></td>
		<td><?php echo $payment['p_doc_bank']!=null?$payment['p_doc_bank']:"";?></td>
		<td><?php echo $payment['p_doc_branch']!=null?$payment['p_doc_branch']:"";?></td>
		<td><?php echo $payment['terminal_id']!=null?$payment['terminal_id']:"";?></td>
		<td><?php echo $payment['p_card_no']!=null?$payment['p_card_no']:"";?></td>
		<td align="center"><?php echo $payment['cur_code']!=null?$payment['cur_code']:"";?></td>
		<td align="right">
			<?php echo new Zend_Currency(array('value' => $payment['rcp_amount'], 'symbol'=>$payment['cur_symbol_prefix'], 'currency'=>$payment['cur_code']));?>
		</td>
	</tr>
	</tbody>
</table>

<br />

		
<h3><?php echo $this->translate('Invoice');?></h3>

<table width="100%" id="tbl_invoice" class="table3">
	<thead>
	<tr>
		<th width="10px">&nbsp;</th>
		<th>Student ID</th>
		<th>Name</th>
		<th>Amount</th>
		<th>Advance Payment</th>
		<th>Invoice</th>
	</tr>
	</thead>
						
<?php

if($this->receipt['receipt_student']){
	foreach($this->receipt['receipt_student'] as $key=>$rcpStud){?>

		<tr>
			<td><?php echo $key+1;?>.</td>
			<td><?php echo $rcpStud['registrationId'];?></td>
			<td><?php echo $rcpStud['student_fullname'];?></td>
			<td align="right"><?php echo $rcpStud['rcp_inv_amount'];?></td>
			<td align="right"><?php echo $rcpStud['rcp_adv_amount'];?></td>
			<td>
				<?php

				if($rcpStud['receipt_invoice']){
					$sum_invoice = 0.00;
					?>

					<table width="100%" id="tbl_invoice" class="table3">
						<thead>
						<tr>
							<th width="10px">&nbsp;</th>
							<th>Ref Number</th>
							<th>Invoice Number</th>
							<th>Invoice Description</th>
							<th>Semester</th>
							<th>Status</th>
							<th width="80px">Amount</th>
							<th width="80px">Paid</th>
							<th width="80px">Balance</th>
							<th width="50px"></th>
						</tr>
						</thead>
						<?php
						foreach ($rcpStud['receipt_invoice'] as $cnt => $invoice):
							//var_dump($invoice);
							?>
							<tr>
								<td align="center" valign="top" ><?php echo $cnt+1?>.</td>
								<td><?php echo $invoice['sp_fomulir_id'];?></td>
								<td><?php echo $invoice['bill_number'];?></td>
								<td><?php echo $invoice['bill_description'];?></td>
								<td><?php echo $invoice['SemesterMainName'];?></td>
								<td align="center"><?php echo $invoice['sp_status']==1 ? 'Active':'Cancel';?></td>
								<td align="right"><?php echo $payment['cur_code'];?><?php echo $invoice['sp_amount_det'];?></td>
								<td align="right"><?php echo $payment['cur_code'];?><?php echo $invoice['sp_paid'];?></td>
								<td align="right"><?php echo $payment['cur_code'];?><?php echo $invoice['sp_balance'];?></td>
								<td align="center">
									<?php
									if ($invoice['sp_status']==1){
										?>
										<a href="/studentfinance/sponsor-invoice/cancel-detail/id/<?php echo $invoice['spmdtlid']; ?>/rcpid/<?php echo $this->receipt['rcp_id']; ?>""><?php echo $this->translate('Cancel'); ?></a>
										<?php
									}else{

									}
									?>
								</td>
							</tr>

							<?php
							$sum_invoice += $invoice['sp_paid'];
						endforeach;

						?>
						<tfoot>
						<tr>
							<td colspan="5" style="text-align:right;"><?php echo $this->translate('Total invoice paid');?>:</td>
							<td align="right"><?php echo new Zend_Currency(array('value' => $sum_invoice, 'symbol'=>$this->receipt['cur_symbol_prefix'], 'currency'=>$this->receipt['cur_code']));?></td>
							<td>&nbsp;</td>
						</tr>
						</tfoot>
					</table>
				<?php }?>

			</td>
		</tr>


	<?php }

}else{
	echo "<tr><td colspan='6'>No data</td></tr>";
}?>
</table>
 
<style type="text/css">
.table3 td { border:1px solid #ccc !important; background:#fff; }
.table3 thead+tbody:before{
    content:" ";
}
</style>