<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student/Applicant ID'); ?></th>
        <th><?php echo $this->translate('ADV Number'); ?></th>
        <th><?php echo $this->translate('Programme Code'); ?></th>
        <th><?php echo $this->translate('Programme Name'); ?></th>
        <th><?php echo $this->translate('Currency'); ?></th>
        <th><?php echo $this->translate('Amount'); ?></th>
        <th><?php echo $this->translate('Balance'); ?></th>
        <th><?php echo $this->translate('Date'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th><?php echo $this->translate('Created By'); ?></th>
    </tr>
    <?php
    if ($this->list){
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center" width="2%"><?php echo $no; ?></td>
                <td><?php echo $loop['name']; ?></td>
                <td align="center"><?php echo $loop['studentID']; ?></td>
                <td align="center"><?php echo $loop['advpy_fomulir']; ?></td>
                <td align="center"><?php echo $loop['ProgramCode']; ?></td>
                <td align="center"><?php echo $loop['ProgramName']; ?></td>
                <td align="center"><?php echo $loop['cur_code']; ?></td>
                <td align="right"><?php echo $loop['advpy_amount']; ?></td>
                <td align="right"><?php echo $loop['advpy_total_balance']; ?></td>
                <td align="center"><?php echo $loop['advpy_date'] != null ? date('d-m-Y', strtotime($loop['advpy_date'])):''; ?></td>
                <td align="center"><?php echo $loop['advpy_status']; ?></td>
                <td align="center"><?php echo $loop['loginName']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>