<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student/Applicant ID'); ?></th>
        <th><?php echo $this->translate('Invoice Number'); ?></th>
        <th><?php echo $this->translate('Programme Code'); ?></th>
        <th><?php echo $this->translate('Programme Name'); ?></th>
        <th><?php echo $this->translate('Currency'); ?></th>
        <th><?php echo $this->translate('Amount'); ?></th>
        <th><?php echo $this->translate('Balance'); ?></th>
        <th><?php echo $this->translate('Date'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $loop['name']; ?></td>
                <td><?php echo $loop['studentID']; ?></td>
                <td><?php echo $loop['bill_number']; ?></td>
                <td><?php echo $loop['ProgramCode']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td><?php echo $loop['cur_code']; ?></td>
                <td><?php echo $loop['bill_amount']; ?></td>
                <td><?php echo $loop['balance']; ?></td>
                <td><?php echo $loop['invoice_date']!=null ? date('d-m-Y', strtotime($loop['invoice_date'])):''; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>