<script type="text/javascript">
    function print(){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'adv-pymnt-report', 'action'=>'unutilized-export'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
        return true;
    }

    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'adv-pymnt-report', 'action'=>'get-program-scheme'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programscheme');
            },
            complete: function() {
                hideLoading('programscheme');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'adv-pymnt-report', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('semester');
            },
            complete: function() {
                hideLoading('semester');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- Select --</option>';
            $.each(data,function(index){
                content += '<option label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
            });
            $('#semester').html(content);
        })
        .fail(function() {
            alert("error load semester");
        });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if (count($this->list) > 0){
                ?>
                <li>
                    <a href="#" onclick='return print();'>
                        <span class='download'></span>
                        <?php echo $this->translate("Export");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table>
            <tr>
                <td><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?><!-- <span class="reqMark">*</span>--></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student/Applicant Name'); ?></td>
                <td><?php echo $this->form->name; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student/Applicant ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Advance Payment No'); ?></td>
                <td><?php echo $this->form->advpymntno; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Type'); ?></td>
                <td><?php echo $this->form->type; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="search" name="search" value="search" type="submit"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student/Applicant ID'); ?></th>
        <th><?php echo $this->translate('Invoice Number'); ?></th>
        <th><?php echo $this->translate('Programme Code'); ?></th>
        <th><?php echo $this->translate('Programme Name'); ?></th>
        <th><?php echo $this->translate('Currency'); ?></th>
        <th><?php echo $this->translate('Amount'); ?></th>
        <th><?php echo $this->translate('Balance'); ?></th>
        <th><?php echo $this->translate('Date'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $loop['name']; ?></td>
                <td><?php echo $loop['studentID']; ?></td>
                <td><?php echo $loop['bill_number']; ?></td>
                <td><?php echo $loop['ProgramCode']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td><?php echo $loop['cur_code']; ?></td>
                <td><?php echo $loop['bill_amount']; ?></td>
                <td><?php echo $loop['balance']; ?></td>
                <td><?php echo $loop['invoice_date']!=null ? date('d-m-Y', strtotime($loop['invoice_date'])):''; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>