<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a id="dt_add" href="/generalsetup/disability/add">
                    <span class='add'></span>
                    <?php echo $this->translate('Add'); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<fieldset>
    <legend><?php echo $this->translate('Search') ?></legend>
    <?php echo $this->form; ?>
</fieldset>
<br/>

<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
    <br/>
<?php } ?>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%">
    <thead>
    <tr>
        <th><?php echo $this->translate('Disable ID'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Name (Malay)'); ?></th>
        <th><?php echo $this->translate('Condition'); ?></th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if ($this->paginator) {
        foreach ($this->paginator as $data) {

//            print_r($data);exit;
            ?>
            <tr>
                <td><?php echo $data['disable_id']; ?></td>
                <td><?php echo $data['disable_desc']; ?></td>
                <td><?php echo $data['disable_desc_eng']; ?></td>
                <td><?php echo $data['name']; ?></td>
                <td align="center"><a
                        href="/generalsetup/disability/edit/id/<?php echo $data['id']; ?>"><?php echo $this->translate('Edit'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>