<div class="message toolbar">
	<h2><?php echo $this->title ?></h2>
</div>

<div class="welcome">
	<div class="icon"><img src="<?php echo $this->baseUrl()?>/images/dashboard/research.png" alt="" /></div>
	<h3>e-University Research Module</h3>
</div>
<style type="text/css">
	.welcome { overflow:hidden  }
	.welcome .icon { float:left; margin-right:10px }
	.welcome h3 { margin-top:15px }
</style>