<h2><?php echo $this->translate('Recipients')?></h2>
<div style="padding:10px;">
<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Name')?></th>
		<th><?php echo $this->translate('Applicant ID')?></th>
		<th><?php echo $this->translate('Email')?></th>
		<th><?php echo $this->translate('Mobile No')?></th>
	</tr>
	<?php if ( !empty($this->recipients) ) : ?>
	<?php foreach ( $this->recipients as $rec ) : ?>
	<tr>
		<td><?php echo $rec['app_name']?></td>
		<td><?php echo $rec['at_pes_id']?></td>
		<td><?php echo $rec['appl_email']?></td>
		<td><?php echo $rec['appl_phone_mobile']?></td>
	</tr>
	<?php endforeach; ?>
	<?php else: ?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No recipients found.')?></td>
	</tr>
	<?php endif; ?>
</table>
</div>