<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'history'), 'default', true);?>";

	return false;
}

function resend_email(id){
    $("#resendEmail"+id).submit();
}

function view_email(id){
    var content = "";
    var url = "<?php echo $this->url(array('module'=>'communication','controller'=>$this->module, 'action'=>'view-email-ajax'),"default",true);?>/id/"+id;
    var data = {};

    $.ajax({
        type: "POST",
        url: url,
        data: data,
        dataType: 'json',
    })
    .done(function(data) {
        content = data.cr_content;
        $("#fancybox").fancybox({
            helpers: {
                title : {
                    type : 'float',
                    fitToView: false,
                    width: 750,
                    height: 500,
                    autoSize: false,
                    closeClick: false,
                    openEffect: 'none',
                    closeEffect: 'none'
                }
            }
        });
        $.fancybox({ content: content });
    })
    .fail(function() {
        alert("error load document checklist"); 
    });
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<h3><?php echo $this->translate('Information')?></h3>

<table class="table" cellpadding="5" cellspacing="1" border="0" width="100%">
	<tbody>
	<tr>
		<td width="20%"><?php echo $this->translate('Subject/Title')?></td>
		<td><?php echo $this->comp['comp_subject']?></td>			
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Date')?></td>
		<td><?php echo date('d-m-Y H:ia', strtotime($this->comp['created_date']))?></td>			
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Type')?></td>
		<td><?php echo $this->comp['comp_type_name']?></td>			
	</tr>
	</tbody>
</table>

<br />


<h3><?php echo $this->translate('Recipients')?></h3>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
            <th><?php echo $this->translate("Name");?></th>
            <th><?php echo $this->translate("Applicant ID")?></th>
            <th><?php echo $this->translate("Email");?></th>
            <th width="10%"><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("");?></th>
	</tr>
	
	<?php foreach ($this->results as $rec): ?>
	<tr>
            <td><?php echo $rec['app_name']?></td>
            <td><?php echo $rec['at_pes_id']?></td>
            <td><?php echo $rec['appl_email']?></td>
            <td align='center'><?php echo $rec['cr_status'] == 0 ? $this->translate('Pending') : $this->translate('Sent')?></td>
            <td class="options center">
                <a href="javascript:void(0);" id="viewemail" onclick="view_email(<?php echo $rec['cr_id']?>)"><?php echo $this->translate("View") ?></a> 
				<?php if ( $rec['cr_status'] == 1 ) { ?>
                | <a href="#" id="clickresendemail" onclick="resend_email(<?php echo $rec['cr_id']?>)"><?php echo $this->translate("Resend");?></a>
				<?php } ?>
            </td>
            <form method="post" id="resendEmail<?php echo $rec['cr_id']?>">
                <input type="hidden" name="status" value="0">
                <input type="hidden" name="cr_id" value="<?php echo $rec['cr_id']?>">
                <input type="hidden" name="resend" value="continue">
            </form>
	</tr>
	<?php
	endforeach;
	?>
</table>