<script type="text/javascript">
function add_template(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-add'), 'default', true);?>";

	return false;
}

function tags(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-tags'), 'default', true);?>";

	return false;
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="return add_template();">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<!-- <li>
				<a href="#" onclick="return tags()">
					<span class='edit'></span>
					<?php echo $this->translate('Tags')?>
				</a>
			</li> -->
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Template");?></th>
		<th><?php echo $this->translate("Type");?></th>
		<th><?php echo $this->translate("Created By");?></th>
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module, 'action'=>'template-detail', 'id'=>$data['tpl_id']),'default',true);?>">
				<?php echo $data['tpl_name']; ?>
			</a>
		</td>
		<td><?php echo $data['tpl_type_name']?></td>
		<td><?php echo $data['created_by_name']?></td>
		<td><?php echo date('d-m-Y H:ia', strtotime($data['created_date'])); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No templates yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
