<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Reservation");
        ?>
    </h2>
</div>
<br />


<script>
var rowids=1;
var batchArray1  = new Array();
var i =1;
dojo.addOnLoad(function(){
	dijit.byId('SemesterCode').set('value','');
	dijit.byId('SemesterCode').set('placeHolder','Select');	
	dijit.byId('Priority').set('value','');
	dijit.byId('Priority').set('placeHolder','Select');	
	dijit.byId('ValueType').set('value','');
	dijit.byId('ValueType').set('placeHolder','Select');
	dijit.byId('Condition').set('value','');
	dijit.byId('Condition').set('placeHolder','Select');	
	dijit.byId('ValueId').set('value','');
	dijit.byId('ValueId').set('placeHolder','Select');
	});

	<?php foreach($this->reservationdata as $reservationdata) { ?>
	<?php if($reservationdata['ValueId'] != "0"){?>
		batchArray1.push('<?php echo $reservationdata['SemesterCode'].''.$reservationdata['priority'].''.$reservationdata['condition'].''.$reservationdata['valueType'].''.$reservationdata['IntakeId']; ?>');
		rowids++;
	<?php }else{?>
		batchArray1.push('<?php echo $reservationdata['SemesterCode'].''.$reservationdata['priority'].''.$reservationdata['condition'].''.$reservationdata['valueType'].''."Disable"; ?>');
		rowids++;
	<?php }?>	
	<?php }?>

	function getvalueId(){
		ValueType = dijit.byId('ValueType').displayedValue;
                //alert(ValueType);
		if(ValueType.toLowerCase() == "intake"){                                
				var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/hostel/reservationsetup/getintakelist/",
						handleAs:'json',
						load:function(data){ 
							AutoFillNextEditableDropDown("ValueId",data); 
						}
				   }
				dojo.xhrGet(xhrArgs); 
		}
		else if(ValueType.toLowerCase() == "disable"){			 
                         var params = {};
			 var data = {};
			 params = [{key:"0",name:"Disable"}];
			 AutoFillNextEditableDropDown("ValueId",params);
                         dijit.byId("ValueId").set("value",params[0]['key']);
                         //dijit.byId("ValueId").set("value",'');
                        // dijit.byId("ValueId").attr('readOnly','true');
		}
		
		
	}

	function addReservationinfo(){
		var flag = true;
		 	if(dijit.byId("SemesterCode").value==''){
			    dijit.byId("SemesterCode").attr('required','true');
				dijit.byId("SemesterCode").focus();flag = false;
			}
			if(dijit.byId("Priority").value==''){
			    dijit.byId("Priority").attr('required','true');
				dijit.byId("Priority").focus();flag = false;
			}	
			if(dijit.byId("Condition").value==''){
			    dijit.byId("Condition").attr('required','true');
				dijit.byId("Condition").focus();flag = false;
			}
			if(dijit.byId("ValueType").value==''){
			    dijit.byId("ValueType").attr('required','true');
				dijit.byId("ValueType").focus();flag = false;
			}	
			if(dijit.byId("ValueId").value==''){
			    dijit.byId("ValueId").attr('required','true');
				dijit.byId("ValueId").focus();flag = false;
			}
		    if(flag == true) {
				ReservationInsertion();	
			}		
	   
			return flag;
	}

	function ReservationInsertion(){
		var SemesterCode = dijit.byId("SemesterCode").value;
		var SemesterCodeName = dijit.byId("SemesterCode").displayedValue;
		var Priority = dijit.byId("Priority").value;
		var PriorityName = dijit.byId("Priority").displayedValue;
		var Condition = dijit.byId("Condition").value;
		var ConditionName = dijit.byId("Condition").displayedValue;
		var ValueType = dijit.byId("ValueType").value;
		var ValueTypeName = dijit.byId("ValueType").displayedValue;
		var ValueId = dijit.byId("ValueId").value;
		var ValueIdName = dijit.byId("ValueId").displayedValue;
		var RoomType = "Hostel"; 
		
		batchArray1.push(SemesterCodeName+PriorityName+ConditionName+ValueTypeName+ValueIdName);
		if(arrHasDupes(batchArray1))
		{
			batchArray1 = batchArray1.unique();
			alert("Duplicate Entry");
		} 
		else 
		{
			var trow = document.getElementById('table').insertRow(rowids);
			var tcol0=trow.insertCell(0);
			var tcol1=trow.insertCell(1);
			var tcol2=trow.insertCell(2);
			var tcol3=trow.insertCell(3);
			var tcol4=trow.insertCell(4);
			var tcol5=trow.insertCell(5);
			var tcol6=trow.insertCell(6);
			
			tcol0.innerHTML="<input type='hidden' value='"+SemesterCode+"' name=SemesterCodeNamegrid[]>"+SemesterCodeName;
			tcol1.innerHTML="<input type='hidden' value='"+Priority+"' name=PriorityNamegrid[]>"+PriorityName;
			tcol2.innerHTML="<input type='hidden' value='"+ValueType+"' name=ValueTypeNamegrid[]>"+ValueTypeName;
			tcol3.innerHTML="<input type='hidden' value='"+Condition+"' name=ConditionNamegrid[]>"+ConditionName;			
			tcol4.innerHTML="<input type='hidden' value='"+ValueId+"' name=ValueIdNamegrid[]>"+ValueIdName;
			tcol5.innerHTML=  RoomType;
			tcol6.innerHTML="<a href='#' onClick='deleteRows(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
			rowids++;
		}
		
	}
        
	function deleteRows(r){
            var ret = confirm('Are you sure to delete');
            if(ret == true){
               rowids--;
		var i=r.parentNode.parentNode.rowIndex;
		batchArray1.splice(parseInt(i-1),1);
		document.getElementById('table').deleteRow(i);
            }
	}

	function clearpageAdd(){
            
                dijit.byId("SemesterCode").reset();
                dijit.byId("Priority").reset();
                dijit.byId("ValueType").reset();
                dijit.byId("Condition").reset();
                dijit.byId("ValueId").reset();
            
		dijit.byId('SemesterCode').set('value','');
		dijit.byId('SemesterCode').set('placeHolder','Select');	
		dijit.byId('Priority').set('value','');
		dijit.byId('Priority').set('placeHolder','Select');	
		dijit.byId('ValueType').set('value','');
		dijit.byId('ValueType').set('placeHolder','Select');
		dijit.byId('Condition').set('value','');
		dijit.byId('Condition').set('placeHolder','Select');	
		dijit.byId('ValueId').set('value','');
		dijit.byId('ValueId').set('placeHolder','Select');
	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}
	
	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }
	                
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
        
        function goback() {            
            window.location.href="<?php echo $this->lastpage;?>";
        }
</script>


<fieldset>
	<form
		action="<?php echo $this->baseUrl();?>/hostel/reservationsetup/index"
		method="POST">
		<table class="table" width="100%">
			<tr>
				<td><?php echo $this->translate("Semester")." ".$this->translate("From");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjreservationsetup->SemesterCode;?></td>
				<td><?php echo $this->translate("Priority");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjreservationsetup->Priority;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Value")." ".$this->translate("Type");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjreservationsetup->ValueType;?></td>
				<td><?php echo $this->translate("Condition");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjreservationsetup->Condition;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Value")." ".$this->translate("ID");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjreservationsetup->ValueId;?></td>
			</tr>
			<tr>
				<td colspan="4" align="right"><?php echo $this->lobjreservationsetup->Add;?>
					<?php echo $this->lobjreservationsetup->Clear;?>
				</td>
			</tr>
		</table>

		<table class="table" id="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Semester");?></th>
				<th><?php echo $this->translate("Priority");?></th>
				<th><?php echo $this->translate("Value Type");?></th>
				<th><?php echo $this->translate("Condition");?></th>
				<th><?php echo $this->translate("Value ID");?></th>
				<th><?php echo $this->translate("Room Type");?></th>
				<th><?php echo $this->translate("Delete");?></th>

			</tr>
			<?php if(count($this->reservationdata)){?>
			<?php foreach($this->reservationdata as $reservationdata){?>
			<tr>
				<td><?php echo $reservationdata['SemesterCode'];?><input
					type="hidden"
					value="<?php echo $reservationdata['SemesterCode'] ?>"
					name="SemesterCodeNamegrid[]" /></td>
				<td><?php echo $reservationdata['priority'];?><input type="hidden"
					value="<?php echo $reservationdata['Priority'] ?>"
					name="PriorityNamegrid[]" /></td>
				<td><?php echo $reservationdata['valueType'];?><input type="hidden"
					value="<?php echo $reservationdata['ValueType'] ?>"
					name="ValueTypeNamegrid[]" /></td>
				<td><?php echo $reservationdata['condition'];?><input type="hidden"
					value="<?php echo $reservationdata['Condition'] ?>"
					name="ConditionNamegrid[]" /></td>
				<?php if($reservationdata['ValueId'] == "0"){?>
				<td><?php echo "Disable"?><input type="hidden" value="0"
					name="ValueIdNamegrid[]" /></td>
				<?php }else{?>
				<td><?php echo $reservationdata['IntakeId'];?><input type="hidden"
					value="<?php echo $reservationdata['ValueId'] ?>"
					name="ValueIdNamegrid[]" /></td>
				<?php }?>
				<td><?php echo "Hostel";?></td>
				<td><a href='#' onClick='deleteRows(this); return false;'>
					<?php echo $this->translate('Delete'); ?>
				</a></td>
			</tr>
			<?php }?>
			<?php }?>



			<tr>
				<td colspan="7" align="right"><?php echo $this->lobjreservationsetup->Save;?>
					<?php echo $this->lobjreservationsetup->Back;?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
