<script type="text/javascript">
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mos_name+' '+data[index].mop_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mos_name+' '+data[index].mop_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Applicant List"); ?></legend>
    <form id='search' method="post">
        <dl class="zend_form">
            <dt><?php echo $this->translate("Applicant Name");?></dt>
            <dd><?php echo $this->searchForm->field1;?></dd>
            <!--<dt><?php //echo $this->translate("Middle Name");?></dt>
            <dd><?php //echo $this->searchForm->field5;?></dd>
            <dt><?php //echo $this->translate("Third Name");?></dt>
            <dd><?php //echo $this->searchForm->field6;?></dd>-->
            <dt><?php echo $this->translate("Applicant Id");?></dt>
            <dd><?php echo $this->searchForm->field7;?></dd>
            <dt><?php echo $this->translate("Program");?></dt>
            <dd><?php echo $this->searchForm->field3;?></dd>
            <dt><?php echo $this->translate("Program Scheme");?></dt>
            <dd><?php echo $this->searchForm->field2;?></dd>
            <dt><?php echo $this->translate("Student Category");?></dt>
            <dd><?php echo $this->searchForm->field4;?></dd>
            <dt><?php echo $this->translate("Intake");?></dt>
            <dd><?php echo $this->searchForm->field9;?></dd>
            <!--<dt><?php //echo $this->translate("Status");?></dt>
            <dd><?php //echo $this->searchForm->at_status;?></dd>-->
            <dd align="center" colspan="4">
                <?php echo $this->searchForm->Search;?>
                <?php echo $this->searchForm->Clear;?>
            </dd>
        </dl>
    </form>
</fieldset>
<br>
<fieldset>
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Applicant Name");?></th>
        <th><?php echo $this->translate("Applicant Id");?></th>
        <th><?php echo $this->translate("Intake (Period)");?></th>
        <th><?php echo $this->translate("Program");?></th>
        <th><?php echo $this->translate("Program Scheme");?></th>
        <th><?php echo $this->translate("Student Category");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Action");?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
    <?php foreach ($this->paginator as $applicantList): ?>
    <?php if ($applicantList['at_status'] == 602): ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <td><?php echo $applicantList['appl_fname'].' '.$applicantList['appl_mname'].' '.$applicantList['appl_lname']; ?></td>
        <td align="center"><?php echo $applicantList['at_pes_id']; ?></td>
        <td align="center"><?php echo $applicantList['IntakeDesc']; ?></td>
        <td align="center"><?php echo $applicantList['ProgramCode']; ?></td>
        <td><?php
            echo (Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['program_type'])==' ' ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['program_type']).'<br/>')
            .Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['mode_of_study'])
            .'<br>'.Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['mode_of_program']);
            ?>
        </td>
        <td align="center"><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['appl_category']); ?></td>
        <td align="center"><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['at_status']); ?></td>
        <td align="center"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'archived-applicant', 'action'=>'change-to-kiv', 'id'=>$applicantList['at_trans_id'], 'programScheme'=>$applicantList['IdProgramScheme'], 'stdCtgy'=>$applicantList['appl_category']),'default',true);?>"><?php echo $this->translate("Restore"); ?></a></td>
    </tr>
    <?php endif; ?>
    <?php endforeach; ?>
    <?php endif; ?> 
    <!--<tr>
        <td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?></div></td>
    </tr>-->
</table>
<div class="pagination">
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
</fieldset>
<style type="text/css">
    .span-7 { width:300px !important; }
</style>