<head>
<script type="text/javascript">
		
		dojo.addOnLoad(function (){
		});
		
		
	</script> 
</head>
<body class="claro"> 
<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/records/changestatus/changestatuslist/id/<?php echo $this->IdApplication; ?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Change Status");?></legend>
	
							<table class="table" width="100%" cellpadding="5" cellspacing="1">
							<tr>
								<th colspan ="4"><?php echo $this->translate("Student Information");?>
								</th>
							</tr>
							<tr>
                        		<td><?php echo $this->translate("Name");?></td>
                            	<td ><?php echo $this->StudentName;?></td>
                            	<td><?php echo $this->translate("ID Number");?><span></span></span></td>
                            	<td ><?php echo $this->ICNumber;?></td>
                            	<?php echo $this->lobjChangestatusForm->IdStudentStatus;?>
                            	<?php echo $this->lobjChangestatusForm->IdApplication;?>
                            	<?php echo $this->lobjChangestatusForm->UpdDate;?>
                            	<?php echo $this->lobjChangestatusForm->UpdUser;?></td>
                        	</tr>
                        	<tr>
                            	<td><?php echo $this->translate("Programme");?></td>
                            	<td><?php echo $this->ProgramName;?></td>
                            	<td><?php echo $this->translate("Branch Name");?></td>
                            	<td><?php echo $this->CollegeName;?></td>
                            </tr>
                            <tr>
                            	<td><?php echo $this->translate("Date Apply");?></td>
								<td><?php echo $this->ApplicationDate;?></td>
                            	<td><?php echo $this->translate("Matrix Number");?></td>
                            	<td><?php echo $this->translate("$this->Matrix");?></td>
                            </tr>
                            <tr>
                            	<td><?php echo $this->translate("Status");?><span></span></td>
                            	<td><?php echo $this->lobjChangestatusForm->Status;?></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td><?php echo $this->translate("Reason");?><span></span></td>
                            	<td><?php echo $this->lobjChangestatusForm->Reason;?></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjChangestatusForm->Save;?>
                            <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'changestatus', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
						</table>
					
</fieldset>		
</form>
</body>