<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Student Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/records/changestatus/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Student Name");?></td>
                   <td ><?php echo $this->lobjform->field5;?></td>
                   <td><?php echo $this->translate("I.D Number");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                   
                </tr>
                <tr>
				   <td><?php echo $this->translate("Program  Name");?></td>
                   <td ><?php echo $this->lobjform->field8;?></td>
				   <td><?php echo $this->translate("Faculty ");?></td>
                   <td ><?php echo $this->lobjform->field1;?></td>
                   
                   
                 
                </tr>
                <tr>
                
				<td><?php echo $this->translate("Matrix  Number");?></td>
                <td ><?php echo $this->lobjform->field3;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate("Student Name");?></th>
	       	    <th><?php echo $this->translate("Program Name");?></th>
	       	    <th><?php echo $this->translate("Date Apply");?></th>
	       	    <th><?php echo $this->translate("ID Number");?></th>
				<th><?php echo $this->translate("Matrix Number");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjChangeStatus ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'records','controller'=>'changestatus', 'action'=>'changestatuslist' , 'id'=>$lobjChangeStatus['IdApplication']),'default',true);?>" ><?php print_r($this->escape($lobjChangeStatus['StudentName']));?></a></td>
	        	<td><?php echo $this->escape($lobjChangeStatus['ProgramName']);?></td>
	        	<td><?php echo $this->escape(date('d-m-Y H:i',strtotime($lobjChangeStatus['ApplicationDate'])));?></td>
				<td><?php echo $this->escape($lobjChangeStatus['ICNumber']);?></td>
				<td><?php echo $this->escape($lobjChangeStatus['registrationId']);?></td>
	        	
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
