<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>


<form method="post" action="">
	<input type="hidden" name="fs_id" value="<?php echo $this->info['fs_id']?>" />
	<dl class="zend_form">
		<dt><?php echo $this->translate('Fee Structure Name')?></dt>
		<dd><input type="text" name="fs_name" value="<?php echo $this->escape($this->info['fs_name']);?>" class="input-txt" /></dd>
		<dd><input type="submit" name="submit" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	</dl>
</form>