<script type="text/javascript">
var subjArray  = new Array();

	$(function() {
	    $( "#dialog-add-program" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Add": function() {
	            	addProgram();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });
	    
	    $( "#dialog-add-bill" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Add": function() {
	            	addBill();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

	    $( "#dialog-edit-amount" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Save": function() {
	            	saveEditAmount();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

	    $( "#dialog-edit-semester" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Save": function() {
	            	saveEditSemester();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

	    $('#dialog-edit-subject').dialog({
	    	autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Save": function() {
	            	$('#form_edit_subject').submit();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
		});

	    $( "#dialog-edit-level" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Save": function() {
	            	saveEditLevel();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

	    $('#dialog-edit-level').dialog({
	    	autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Save": function() {
	            	$('#form_edit_level').submit();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
		});

	    $( "#dialog-optional-item" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '750'
	    });

	    $( "#dialog-item" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '750',
	        buttons: {
	            "Save": function() {
	    			$('#form_edit_bill').submit();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });

        $( "#dialog-course" ).dialog({
            autoOpen: false,
            modal: true,
            width: '750',
        });

		$( "#dialog-add-application" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '750'
	    });
		
		$( "#dialog-add-registration" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650'
	    });
		
		$( "#dialog-add-programdetails" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '750'
	    });
		
	    
	});

	function applicationProgramDialog(program_id,program_scheme){
		$( "#dialog-add-application" ).dialog('open');
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add-program-item'),'default',true);?>",
			data: {'fspi_fs_id':'<?php echo $this->fee_structure_id; ?>', 'fspi_type':'application','fspi_program_id':program_id,'fs_program':'<?php echo $this->fee_structure_program[0]['IdProgram'];?>','fs_scheme':program_scheme},
			type: 'GET',
			dataType: 'html',
			beforeSend: function(){
				$('.loading').remove();
				$('#dialog-add-application').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
			}
		}).done(function ( data ) {
			console.log(data);
			$("#dialog-add-application").html(data);
		});

		return false;
	}
	function viewProgramDialog(id){
		$( "#dialog-add-programdetails" ).dialog('open');
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'view-program-item'),'default',true);?>",
			data: {'fs_id': <?php echo $this->fee_structure_id; ?>,'id': id},
			type: 'GET',
			dataType: 'html',
			beforeSend: function(){
				$('.loading').remove();
				$('#dialog-add-programdetails').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
			}
		}).done(function ( data ) {
			console.log(data);
			$("#dialog-add-programdetails").html(data);
		});
		return false;
	}

	function registrationProgramDialog(program_id,program_scheme){
		$( "#dialog-add-registration" ).dialog('open');
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add-program-item'),'default',true);?>",
			data: {'fspi_fs_id':'<?php echo $this->fee_structure_id; ?>', 'fspi_type':'registration','fspi_program_id':program_id,'fs_program':'<?php echo $this->fee_structure_program[0]['IdProgram'];?>','fs_scheme':program_scheme},
			type: 'GET',
			dataType: 'html',
			beforeSend: function(){
				$('.loading').remove();
				$('#dialog-add-registration').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
			}
		}).done(function ( data ) {
			console.log(data);
			$("#dialog-add-registration").html(data);
		});
		return false;
	}

	function addProgramDialog(){
		$( "#dialog-add-program" ).dialog('open');
	}
	
	

	function addProgram(){
		//form_add_programme

		var program_id = $('input[name="fsp_program_id"]').val();
		var sks = $('input[name="fsp_first_sem_sks"]').val();

		if(program_id==0){
			alert('<?php echo $this->translate("Please select programme");?>');
		}else
		if(sks==""){
			alert('<?php echo $this->translate("Please fill in first semester credit hour");?>');
		}else{
			var msg = "<?php echo $this->translate("Confirm to add programme?");?>";

			if(confirm(msg)){
				$('#form_add_programme').submit();
			}
		}
	}

	function removeProgram(id){
		var msg = "<?php echo $this->translate("Confirm to remove program");?>";

		if(confirm(msg)){
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete-program'),'default',true); ?>/id/"+id;
		}
	}

	function addBillDialog(){
		$( "#dialog-add-bill" ).dialog('open');
	}
	
	function addBill(){

		var item_id = $('input[name="fsi_item_id"]').val();
		var amount = $('input[name="fsi_amount"]').val();

		if(item_id==0){
			alert('<?php echo $this->translate("Please select billing item");?>');
		}else
		if(amount==""){
			alert('<?php echo $this->translate("Please fill in the amount");?>');
		}else{
			var msg = "<?php echo $this->translate("Confirm to add fee item?");?>";

			if(confirm(msg)){
				$('#form_add_bill').submit();
			}
		}
	}

	function editAmount(item_id, amount, cur_id){

		$('#edit_amount').val(amount);
		$('#edit_item').val(item_id);
		$('#edit_cur_id').val(cur_id);
		
		$( "#dialog-edit-amount" ).dialog('open');
	}
	
	function saveEditAmount(){
		var msg = "<?php echo $this->translate("Confirm to save?");?>";

		if(confirm(msg)){
			$('#form_edit_amount').submit();
		}
	}

	function editSemester(item_id){
		$('#edit_semester_item_id').val(item_id);
		
		/*
		 *Get Semester Selected
		 */

		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'ajax-get-item-semester'),'default',true);?>",
			data: {'fsis_item_id':item_id},
			type: 'POST',
			dataType: 'json'	
		}).done(function ( data ) {
			
			$('input[type=checkbox][name="fsis_semester[]"]').each(function () {
				$(this).removeAttr('checked');
			});
			
			$.each(data, function(index) {
				$('input[type=checkbox][name="fsis_semester[]"]').each(function () {

				    if( $(this).val() ==  data[index].fsis_semester){
				    	$(this).attr('checked', true);
				    }
				});
			});
		});
		
		$( "#dialog-edit-semester" ).dialog('open');
	}

	function saveEditSemester(){
		var msg = "<?php echo $this->translate("Confirm to save?");?>";

		if(confirm(msg)){
			$('#form_edit_semester').submit();
		}
	}

	function editLevel(item_id){
		var temp_html = "";
		
		$('#edit_level_item_id').val(item_id);
		
		/*
		 *Get level Selected
		 */

		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'ajax-get-item-level'),'default',true);?>",
			data: {'fsis_item_id':item_id},
			type: 'POST',
			dataType: 'json',	
			beforeSend: function(){
				temp_html = $('#dialog-edit-level').html();
				$('#dialog-edit-level').html('<?php echo $this->translate('Loading...'); ?>');
			}	
		}).done(function ( data ) {

			$('#dialog-edit-level').html(temp_html);
		
			$('input[type=checkbox][name="fsis_level[]"]').each(function () {
				$(this).removeAttr('checked');
			});
			
			$.each(data, function(index,item) {
				$('input[type=checkbox][name="fsis_level[]"]').each(function () {

				    if( $(this).val() ==  data[index].fsis_level){
				    	$(this).prop("checked", true);
				    }
				});
			});
		});
		
		$( "#dialog-edit-level" ).dialog('open');
	}

	function saveEditLevel(){
		var msg = "<?php echo $this->translate("Confirm to save?");?>";

		if(confirm(msg)){
			$('#form_edit_level').submit();
		}
	}
	
	

	function removeBill(id){
		var msg = "<?php echo $this->translate("Confirm to remove this bill");?>";

		if(confirm(msg)){
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete-bill'),'default',true); ?>/id/"+id;
		}
	}

	function editSubject(fsi_id){
		subjArray = new Array();
		
		$('#subject_list').empty();

		$('#fee_structure_item_id').val(fsi_id);
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-subject'),'default',true);?>",
			data: {'fsi_id':fsi_id},
			type: 'GET',
			dataType: 'json',
			beforeSend: function(){
				//$('#subject_list').parent().append('<div id="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
				//$('#subject_list').hide();
			}	
		}).done(function ( data ) {
			//$('#loading').remove();
			//$('#subject_list').show();  
			//$('#subject_list').empty().append('<option><?php echo $this->translate('Please select');?></option>');
		    
			/*$.each(data.subjectList, function(index, subject) {
				
				$('#subject_list').append($('<option>', { 
			        value: subject.IdSubject,
			        text : subject.SubCode +" - "+ subject.BahasaIndonesia 
			    }));
			});*/

			
			$.each(data.fsisubList, function(index, subject) {
				subjArray.push(parseInt(subject.IdSubject));
				  
				$('#fee_item_subject >tbody').append(
            			  $('<tr>')
            			  .append($('<td>').html(subject.SubCode +" - "+ subject.BahasaIndonesia))
            			  .append($('<td align="center">').html('<a href="#" onclick="removeSubIdArray('+subject.IdSubject+',$(this),true); return false;"><?php echo $this->translate("Remove");?></a>'))
            	  );
			});	

			if(data.fsisubList.length==0){
				$('#fee_item_subject >tbody').empty();
			}
			
		});
		
		
		$('#dialog-edit-subject').dialog('open');
	}

	function fn_search_subject(fsi_id){
		var search_data = $('#search_subject').val();
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-subject'),'default',true);?>",
			data: {'fsi_id':fsi_id, 'search':search_data, 'type':'search'},
			type: 'GET',
			dataType: 'json',
			beforeSend: function(){
				
				$('#result_subject >tbody').empty().append(
	          			  $('<tr>')
	          			  .append($('<td colspan="4">').html('<?php echo $this->translate("Loading..."); ?>'))
	          		);
			}	
		}).done(function ( data ) {

			$('#result_subject >tbody').empty();
			
			for(var i=0; i<data.subjectList.length; i++){

				var subject = data.subjectList[i];
				
					$('#result_subject >tbody').append(
	          			  $('<tr>')
	          			  .append($('<td>').html(subject.BahasaIndonesia))
	          			  .append($('<td>').html(subject.ShortName))
	          			  .append($('<td>').html(subject.SubCode))
	          			  .append($('<td align="center">').html('<a href="#" onclick="add_subject('+subject.IdSubject+',\''+subject.BahasaIndonesia+'\'); return false;"><?php echo $this->translate("Add");?></a>'))
	          		);
			}

			if(data.subjectList.length==0){
				$('#result_subject >tbody').empty().append(
          			  $('<tr>')
          			  .append($('<td colspan="4">').html('<?php echo $this->translate("Subject Not found"); ?>'))
          		);
			}
		});
	}

	function add_subject(subject_id,subject_name){

		  if(subject_id!=""){
		  subjArray.push(parseInt(subject_id));

		  if(arrHasDupes(subjArray)){

			subjArray = subjArray.unique();
          	alert("Duplicate Subject");
          	
          }else{
          	$('#fee_item_subject >tbody').append(
          			  $('<tr>')
          			  .append($('<td>').html(subject_name)).append('<input type="hidden" name="add_subject[]" value="'+subject_id+'"/>')
          			  .append($('<td align="center">').html('<a href="#" onclick="removeSubIdArray('+subject_id+',$(this), false); return false;"><?php echo $this->translate("Remove");?></a>'))
          	  );
          }

		  }
	}


	function get_scheme(element){
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'ajax-get-program-scheme'),'default',true);?>",
			data: {'program_id':$(element).val()},
			type: 'GET',
			dataType: 'json',
			beforeSend: function(){
				$('.loading').remove();
				$('#scheme').parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');

				$('#scheme').hide();
				
				$('#scheme')
			    .find('option')
			    .remove()
			    .end()
			    .append('<option value=""><?php echo $this->translate('Please Select');?></option>');
			}
		}).done(function ( data ) {

			$('.loading').remove();

			$('#scheme').show();

			$.each(data, function(index,value){
				$('#scheme').append('<option value="'+value.IdProgramScheme+'">'+value.ProgramMode+':'+value.StudyMode+':'+value.ProgramType+'</option>');
			});
			
		});
	}

	function removeSubIdArray(id, element, remove_flag){
		var position = jQuery.inArray( id, subjArray );

		if(position1=-1){
			if(element!=null){
				  $(element).parent().parent().remove();
			}
			subjArray.splice(position,1);

			if(remove_flag==true){
				$('#form_edit_subject').append('<input type="hidden" name="remove_subject[]" value="'+id+'" />');
			}
		}
	}

	function editOptionalItem(item_id){

		$( "#dialog-optional-item" ).dialog('open');
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-optional-item'),'default',true);?>",
			data: {'fs_id':'<?php echo $this->fee_structure_id; ?>', 'fsi_id':item_id},
			type: 'GET',
			beforeSend: function(){
				$('.loading').remove();
				$('#dialog-optional-item').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
			}
		}).done(function ( data ) {
			console.log(data);
			$("#dialog-optional-item").html(data);
		});

	}

	function editBill(fee_id){

		$( "#dialog-item" ).dialog('open');
		$("#fi_id").val(fee_id);

		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-bill'),'default',true);?>",
			data: {'fs_id':'<?php echo $this->fee_structure_id; ?>', 'fsi_id':fee_id},
			type: 'GET',
			beforeSend: function(){
				$('.loading').remove();
				$('#dialog-optional-item').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
			}
		}).done(function ( data ) {
			//console.log(data);

			$("#dialog-item").html(data);
		});
		
	}

    function editCourse(fee_id){

        $( "#dialog-course" ).dialog('open');
        $("#fi_id").val(fee_id);

        $.ajax({
            url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-course'),'default',true);?>",
            data: {'fs_id':'<?php echo $this->fee_structure_id; ?>', 'fsi_id':fee_id},
            type: 'GET',
            beforeSend: function(){
                $('.loading').remove();
                $('#dialog-course').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
            }
        }).done(function ( data ) {
            $("#dialog-course").html(data);
        });

    }

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }

	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
</script>

<style>
ul.sem{
  margin:0;
  padding:0;
}
ul.sem li{
  margin:0 0 0 15px;
  font-size: 8px;
}
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'list','program_id'=>$this->fee_structure_program[0]['IdProgram']),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<table class="table info" width="100%" cellpadding="3" cellspacing="1">
	<tr>
		<th width="200px"><?php echo $this->translate("Fee Structure Name"); ?></th>
		<td><?php echo $this->fee_structure['fs_name']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Intake"); ?></th>
		<td>
		<?php 
			if($this->locale == 'en_US'){
				echo $this->fee_structure['s_Intake'];
			}else{
				echo $this->fee_structure['s_intake_bahasa'];
			} 
		?>
		</td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Semester"); ?></th>
		<td>
		<?php 
			echo $this->fee_structure['semester_name'];
		?>
		</td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Effective Date"); ?></th>
		<td><?php echo date('j F Y', strtotime($this->fee_structure['fs_effective_date'])); ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Account Code (Debtor)"); ?></th>
		<td><?php echo $this->fee_structure['ac_desc']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Pre Payment Account Code"); ?></th>
		<td><?php echo $this->fee_structure['prepayment_code']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Currency"); ?></th>
		<td><?php echo $this->fee_structure['cur_desc']; ?> (<?php echo $this->fee_structure['cur_code']; ?>)</td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Category"); ?></th>
		<td><?php echo $this->fee_structure['DefinitionDesc']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Estimated Total Fees"); ?></th>
		<td>
			<?php echo $this->fee_structure['cur_symbol_prefix']!=""?$this->fee_structure['cur_symbol_prefix']:""; ?>
			<?php echo $this->fee_structure['fs_estimated_total_fee']; ?>
			<?php echo $this->fee_structure['cur_symbol_suffix']!=""?$this->fee_structure['cur_symbol_suffix']:""; ?>
		</td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Collaborative Partner")?></th>
		<td><?php echo $this->fee_structure['fs_cp'] == '' ? '-' : $this->fee_structure['BranchName']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Status")?></th>
		<td>
		<?php 
		if($this->fee_structure['fs_status'] == 0){
			echo "DRAFT";
		}elseif($this->fee_structure['fs_status'] == 1){
			echo "ACTIVE";
		}elseif($this->fee_structure['fs_status'] == 2){
			echo "INACTIVE";
		}
		?>
		</td>
	</tr>
</table>	

<br />

<fieldset>
	<legend><?php echo $this->translate("Programmes"); ?></legend>
	<div class="opt">
		<input type="button" value="<?php echo $this->translate("Add Programme");?>" onclick="addProgramDialog();" />
	</div>
	<table class="table" width="100%">
		<thead>
			<tr>
				<th><?php echo $this->translate("Program Code");?></th>
				<th><?php echo $this->translate("Program Name");?></th>
				<th><?php echo $this->translate("Scheme");?></th>
				<th><?php echo $this->translate("First Sem Credit Hour / Total Subject");?></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<?php
				if($this->fee_structure_program){ 
				foreach ($this->fee_structure_program as $program):?>
			<tr>
				<td width="10%" align="center"><?php echo $program['ProgramCode']?></td>
				<td>
					<a href="#" onclick="viewProgramDialog('<?php echo $program['fsp_id']?>','<?php echo $program['fsp_idProgramScheme']?>'); return false;">
					<?php
						if($this->locale = 'en_US'){
							echo $program['ProgramName'];
						}else{ 
							echo $program['ArabicName'];
						}
					?>
					</a>
				</td>
				<td><?php echo $program['mode_of_program_name']?> - <?php echo $program['mode_of_study_name']?> - <?php echo $program['program_type_name']?></td>
				<td width="15%" align="center"><?php echo $program['fsp_first_sem_sks']?></td>
				<td class="center options">
					
					<a href="#" onclick="return applicationProgramDialog('<?php echo $program['fsp_id']?>','<?php echo $program['fsp_idProgramScheme']?>');"><?php echo $this->translate("Application");?></a> |
					<a href="#" onclick="return registrationProgramDialog('<?php echo $program['fsp_id']?>','<?php echo $program['fsp_idProgramScheme']?>');"><?php echo $this->translate("Registration");?></a> |
					<a href="#" onclick="removeProgram('<?php echo $program['fsp_id']?>');"><?php echo $this->translate("Remove");?></a>
					
				</td>
			</tr>
			<?php 
				endforeach;
				}else{
			?>
			<tr>
				<td colspan="5" align="center"><?php echo $this->translate('No Program');?></td>
			</tr>
			<?php 
				}
			?>
		</tbody>
	</table>
</fieldset>

<br />

<fieldset>
	<legend><?php echo $this->translate("Fees - Detail"); ?></legend>
	<div class="opt">
		<input type="button" value="<?php echo $this->translate("Add Fee");?>" onclick="addBillDialog()" />
	</div>
	<table class="table" width="100%">
		<thead>
			<tr>
				<th colspan="2"><?php echo $this->translate("Fee");?></th>
				<th><?php echo $this->translate("Code");?></th>
				<th><?php echo $this->translate("Registration Item");?></th>
				<th><?php echo $this->translate("Calculation Type");?></th>
				<th><?php echo $this->translate("Frequency Type");?></th>
				<th><?php echo $this->translate("Part / Semester / Subject");?></th>
				<th><?php echo $this->translate("Currency");?></th>
				<th><?php echo $this->translate("Amount");?></th>
				<th><?php echo $this->translate("Date Created");?></th>
				<th width="265px">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<?php
				if($this->fee_structure_item){ 
					$bil = 1;
					$totalAmount = 0;
				foreach ($this->fee_structure_item as $fee_item):?>
			<tr>
				<td><?php echo $bil;?>.</td>
				<td>
					<?php
					if($this->locale == 'en_US'){ 
						echo $fee_item['fi_name'];
					}else{
						echo $fee_item['fi_name_bahasa'];
					}
					?>
					
				</td>
				<td align="center"><?php echo $fee_item['fi_code']?></td>
				<td><?php echo $fee_item['registrationItem']?></td>
				<td align="center"><?php echo $fee_item['calType']?></td>
				<td align="center"><?php echo $fee_item['freqMode']?></td>
				<td>
					<?php 
					if($fee_item['semester']!=null){
						echo "<ul class='sem'>Semester";
						foreach ($fee_item['semester'] as $sem){
							if ($sem['fsis_semester'] == 1){
								$semester = 'JAN';
							} else if ($sem['fsis_semester'] == 2){
								$semester = 'JUN';
							} else if ($sem['fsis_semester'] == 3){
								$semester = 'SEP';
							} else {
								$semester = 'Undefined';
							}

							echo "<li> Sem ".$semester."</li>";
						}
						echo "</ul>";
					}
					if($fee_item['subject']!=null){
					  echo "<ul class='sem'>Subject";
					  foreach ($fee_item['subject'] as $subject){
					    echo "<li>".$subject['SubCode']."</li>";
					  }
					  echo "</ul>";
					}
					if($fee_item['level']!=null){
						echo "<ul class='sem'>Part";
						foreach ($fee_item['level'] as $sem){
							echo "<li> Part ".$sem['fsis_level']."</li>";
						}
						echo "</ul>";
					}
					?>
				</td>
				<td align="center"><?php echo $fee_item['cur_code'];?></td>
				<td align="right">
				  <?php 
				  	if($fee_item['fi_amount_calculation_type']==618){
						echo $this->translate('Refer Setup');
					}else{
						//echo $fee_item['cur_symbol_prefix']!=null?$fee_item['cur_symbol_prefix']:"";
				  		echo sprintf (" %.2f", $fee_item['fsi_amount']);
				  		//echo $fee_item['cur_symbol_suffix']!=null?$fee_item['cur_symbol_suffix']:"";
				  	}
				  	$totalAmount += $fee_item['fsi_amount'];
				  ?>
				</td>
				<td align="center">
					<?php
					echo $fee_item['created_date']=='0000-00-00 00:00:00' ? '':date('d-m-Y', strtotime($fee_item['created_date']));
					?>
				</td>
				<td class="options center">
						
					<?php if($fee_item['fi_frequency_mode']==305){?>
					<a href="#" onclick="editSemester('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Semester");?></a> |
					<?php }?>
					
					<?php if($fee_item['fi_amount_calculation_type']==632 || $fee_item['fi_amount_calculation_type']==633){?>
					<a href="#" onclick="editLevel('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Level");?></a> |
					<?php }?>
					
					<?php if($fee_item['fi_amount_calculation_type']==459){?>
					<a href="#" onclick="editSubject('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Subject");?></a> |
					<?php }?>
					
					<?php //if($fee_item['fi_amount_calculation_type']==299 || $fee_item['fi_amount_calculation_type']==301 ){?>
					<a href="#" onclick="editOptionalItem('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Optional Item");?></a> |
					<?php //}?>
					
					<a href="#" onclick="editAmount('<?php echo $fee_item['fsi_id']?>','<?php echo $fee_item['fsi_amount']?>', <?php echo $fee_item['fsi_cur_id']?>); return false;"><?php echo $this->translate("Amount");?></a> <br>
					<a href="#" onclick="editBill('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Edit");?></a> |
					<a href="#" onclick="editCourse('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Course");?></a> |
					<a href="#" onclick="removeBill('<?php echo $fee_item['fsi_id']?>'); return false;"><?php echo $this->translate("Remove");?></a>
				</td>
			</tr>
			<?php 
			$bil++;
				endforeach;
				
			?>
			<tr>
				<td colspan="8" align="right"><?php echo $this->translate('Total Amount');?></td>
				<td align="right"><?php echo sprintf (" %.2f", $totalAmount);?></td>
				<td></td>
				<td></td>
			</tr>
			<?php 
				}else{
			?>
			<tr>
				<td colspan="11" align="center"><?php echo $this->translate('No Fee Item');?></td>
			</tr>
			<?php 
				}
			?>
		</tbody>
	</table>
</fieldset>

<!-- ADD PROGRAMME DIALOG -->
<div id="dialog-add-program" title="<?php echo $this->translate("Add Program"); ?>">
    <form id="form_add_programme" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add-program'),'default',true); ?>">
    	<input type="hidden" name="fsp_fs_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<dl class="zend_form">
	    	<dt><?php echo $this->translate("Programme"); ?></dt>
	    	<dd>
	    		<select name="fsp_program_id" onchange="get_scheme(this);">
	    			<option value=""> <?php echo $this->translate("Please Select"); ?></option>
	    			<?php foreach ($this->programList as $program):?>
	    			<option value="<?php echo $program['id']?>"><?php echo $program['name']?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Scheme"); ?></dt>
	    	<dd>
	    		<select name="fsp_idProgramScheme" id="scheme">
	    			<option value=""> <?php echo $this->translate("Please Select"); ?></option>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("First semester credit hour/ Total Subject"); ?></dt>
	    	<dd>
	    		<input class="input-txt" type="text" name="fsp_first_sem_sks" maxlength="3" value="0" />
	    	</dd>
	    	
    	</dl>
    </form>
</div>

<!-- ADD BILL DIALOG -->
<div id="dialog-add-bill" title="<?php echo $this->translate("Add Fee"); ?>">
    <form id="form_add_bill" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add-bill'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<dl class="zend_form">
	    	<dt><?php echo $this->translate("Fee"); ?></dt>
	    	<dd>
	    		<select name="fsi_item_id">
	    			<option value=""> <?php echo $this->translate("Please Select"); ?></option>
	    			<?php foreach ($this->feeItemList as $item):?>
	    			<option value="<?php echo $item['fi_id']?>"><?php echo $this->locale=='en_US'?$item['fi_name']:$item['fi_name_bahasa']; ?> (<?php echo $item['freqMode']; ?> - <?php echo $item['calType']; ?>)</option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Currency"); ?></dt>
	    	<dd>
	    		<select name="fsi_cur_id">
	    			<?php foreach ($this->currency_list as $currency):?>
	    			<option value="<?php echo $currency['cur_id']?>"><?php echo $currency['cur_code']; ?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Registration Item"); ?></dt>
	    	<dd>
	    		<select name="fsi_registration_item_id">
	    		<option value="0"><?php echo $this->translate('Not Applicable');?></option>
	    			<?php foreach ($this->registrationItem as $item):?>
	    			<option value="<?php echo $item['idDefinition']?>"><?php echo $item['DefinitionDesc']; ?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Amount"); ?></dt>
	    	<dd>
	    		<input type="text" name="fsi_amount" class="input-txt " />
	    	</dd>
	    	
    	</dl>
    </form>
</div>

<!-- EDIT AMOUNT DIALOG -->
<div id="dialog-edit-amount" title="<?php echo $this->translate("Edit Amount"); ?>">
    <form id="form_edit_amount" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-amount'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fsi_id" id="edit_item" value="" />
    	<dl class="zend_form">
    		<dt><?php echo $this->translate("Currency"); ?></dt>
	    	<dd>
	    		<select name="fsi_cur_id" id="edit_cur_id" >
	    			<?php foreach ($this->currency_list as $currency):?>
	    			<option value="<?php echo $currency['cur_id']?>"><?php echo $currency['cur_code']; ?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Amount"); ?></dt>
	    	<dd>
	    		<input type="text" name="fsi_amount" id="edit_amount" />
	    	</dd>
    	</dl>
    </form>
</div>

<!-- EDIT SEMESTER DIALOG -->
<div id="dialog-edit-semester" title="<?php echo $this->translate("Edit Semester"); ?>">
    <form id="form_edit_semester" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-semester'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fsis_item_id" id="edit_semester_item_id" value="" />
    	<dl class="zend_form">
    	<?php //for($i=0; $i<7; $i++):?>
	    	<!--<dt><?php //echo $this->translate("Semester")." ".($i+1); ?></dt>
	    	<dd>
	    		<input type="checkbox" name="fsis_semester[]" value="<?php //echo $i+1?>" />
	    	</dd>-->

			<dt><?php echo $this->translate("Semester")." JAN"; ?></dt>
			<dd>
				<input type="checkbox" name="fsis_semester[]" value="1" />
			</dd>
			<dt><?php echo $this->translate("Semester")." JUN"; ?></dt>
			<dd>
				<input type="checkbox" name="fsis_semester[]" value="2" />
			</dd>
			<dt><?php echo $this->translate("Semester")." SEP"; ?></dt>
			<dd>
				<input type="checkbox" name="fsis_semester[]" value="3" />
			</dd>
	    <?php //endfor; ?>
    	</dl>
    </form>
</div>

<!-- EDIT LEVEL DIALOG -->
<div id="dialog-edit-level" title="<?php echo $this->translate("Edit Level"); ?>">
    <form id="form_edit_level" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-level'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fsis_item_id" id="edit_level_item_id" value="" />
    	<dl class="zend_form">
    	<?php for($i=0; $i<7; $i++):?>
	    	<dt><?php echo $this->translate("Level / Part")." ".($i+1); ?></dt>
	    	<dd>
	    		<input type="checkbox" name="fsis_level[]" value="<?php echo $i+1?>" />
	    	</dd>
	    <?php endfor;?>
    	</dl>
    </form>
</div>

<!-- EDIT SUBJECT DIALOG -->
<div id="dialog-edit-subject" title="<?php echo $this->translate("Edit Subject"); ?>">
    <form id="form_edit_subject" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-subject'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fsi_id" id="fee_structure_item_id" value="" />
    	<fieldset>
    	  <legend><?php echo $this->translate("Search Subject");?></legend>
        	<table>
        	  <tr>
        	    <td><?php echo $this->translate("Subject Code");?></td>
        	    <td>:</td>
        	    <td><input type="text" id="search_subject" /></td>
        	  </tr>
        	  <tr>
        	    <td colspan="3">
        	    	
        	      <button type="button" onclick="fn_search_subject('<?php //echo $fee_item['fsi_id']?>'); return false;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text"><?php echo $this->translate("Search");?></span></button>
        	    </td>
        	  </tr>
        	</table>
        	
        	<br />
        	<table id="result_subject" class="table" width="100%">
        	  <thead>
        	  <tr>
        	    <th><?php echo $this->translate("Subject");?></th>
        	    <th><?php echo $this->translate("Short Name");?></th>
        	    <th><?php echo $this->translate("Code");?></th>
        	    <th>&nbsp;</th>
        	  </tr>
        	  </thead>
        	  <tbody>
        	  
        	  </tbody>
        	</table>
    	</fieldset>
    	<br />
    	<table id="fee_item_subject" class="table" width="100%">
    	  <thead>
    	  <tr>
    	    <th><?php echo $this->translate("Subject");?></th>
    	    <th><?php echo $this->translate("Action");?></th>
    	  </tr>
    	  </thead>
    	  <tbody>
    	  
    	  </tbody>
    	</table>
    </form>
</div>

<!-- EDIT OPTIONAL ITEM DIALOG -->
<div id="dialog-optional-item" title="<?php echo $this->translate("Edit Optional Item"); ?>">
    <form id="form_edit_optional_item" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-optional-item'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fsis_item_id" id="edit_optional_item_id" value="" />
    	
    	<div id="optional-result">
    	
    	</div>
    </form>
</div>

<!-- EDIT ITEM DIALOG -->
<div id="dialog-item" title="<?php echo $this->translate("Edit Fee Item"); ?>">
   
</div>

<!-- ADD APPLICATION DIALOG -->
<div id="dialog-add-application" title="<?php echo $this->translate("Add Application"); ?>">
</div>

<!-- ADD REGISTRATION DIALOG -->
<div id="dialog-add-registration" title="<?php echo $this->translate("Add Registration"); ?>">
</div>

<!-- ADD R DIALOG -->
<div id="dialog-add-programdetails" title="<?php echo $this->translate("Fee Structure Programme Details"); ?>">
</div>

<!-- EDIT COURSE DIALOG -->
<div id="dialog-course" title="<?php echo $this->translate("Tag Course"); ?>">
</div>