 <form id="form_edit_bill" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit-bill'),'default',true); ?>">
    	<input type="hidden" name="fsi_structure_id" value="<?php echo $this->fee_structure_id; ?>" />
    	<input type="hidden" name="fi_id" id="fi_id" value="<?php echo $this->fi_id; ?>" />
    	<dl class="zend_form">
	    	<dt><?php echo $this->translate("Fee"); ?></dt>
	    	<dd>
	    		<select name="fsi_item_id" id="fsi_item_id">
	    			<option value=""> <?php echo $this->translate("Please Select"); ?></option>
	    			<?php foreach ($this->feeItemList as $item):
	    			$selected = '';
	    			if($this->fee['fsi_item_id'] == $item['fi_id']){
	    				$selected = "selected='selected'";
	    			}
	    			?>
	    			<option value="<?php echo $item['fi_id']?>" <?php echo $selected;?>><?php echo $this->locale=='en_US'?$item['fi_name']:$item['fi_name_bahasa']; ?> (<?php echo $item['freqMode']; ?> - <?php echo $item['calType']; ?>)</option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Currency"); ?></dt>
	    	<dd>
	    		<select name="fsi_cur_id">
	    			<?php foreach ($this->currency_list as $currency):
	    			$selected = '';
	    			if($this->fee['fsi_cur_id'] == $currency['cur_id']){
	    				$selected = "selected='selected'";
	    			}
	    			?>
	    			<option value="<?php echo $currency['cur_id']?>" <?php echo $selected;?>><?php echo $currency['cur_code']; ?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Registration Item"); ?></dt>
	    	<dd>
	    		<select name="fsi_registration_item_id">
	    		<option value="0"><?php echo $this->translate('Not Applicable');?></option>
	    			<?php foreach ($this->registrationItem as $item):
	    			$selected = '';
	    			if($this->fee['fsi_registration_item_id'] == $item['idDefinition']){
	    				$selected = "selected='selected'";
	    			}?>
	    			<option value="<?php echo $item['idDefinition']?>" <?php echo $selected;?>><?php echo $item['DefinitionDesc']; ?></option>
	    			<?php endforeach;?>
	    		</select>
	    	</dd>
	    	<dt><?php echo $this->translate("Amount"); ?></dt>
	    	<dd>
	    		<input type="text" name="fsi_amount" class="input-txt " value="<?php echo $this->fee['fsi_amount']?>" />
	    	</dd>
	    	
    	</dl>
    </form>