<div class="opt">
    <button onclick="showform();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Item')?></button>
</div>
<div id="form-wrap" style="display:none">
    <form id="add-form" name="add-form" method="post" action="<?php echo $this->baseUrl()?>/studentfinance/fee-structure/save-course">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Subject'); ?></td>
                <td>
                    <input required type="text" class="input-txt" id="fsisub_subject" name="fsisub_subject" placeholder="Type subject code">
                    <input required type="hidden" id="fsisub_subject_id" name="fsisub_subject_id" value="0">
                    <input required type="hidden" id="fs_id" name="fs_id" value="<?php echo $this->fs_id; ?>">
                    <input required type="hidden" id="fsi_id" name="fsi_id" value="<?php echo $this->fsi_id; ?>">
                    <span id="student_search_status"></span>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Calculation Type'); ?></td>
                <td>
                    <select required name="fsisub_amount_calculation_type" id="fsisub_amount_calculation_type" class="select">
                        <option value="" selected="selected">-- All --</option>
                        <?php
                        if ($this->calculationTypes) {
                            foreach ($this->calculationTypes as $calculationType) {
                                ?>
                                <option value="<?php echo $calculationType['idDefinition']; ?>"><?php echo $calculationType['DefinitionDesc']; ?></option>
                                <?php
                            }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Amount'); ?></td>
                <td><input required type="number" min="0.00" step="0.01" class="input-txt" id="fsisub_subject_amount" name="fsisub_subject_amount" value="0.00"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" id="save" name="save"><?php echo $this->translate('Save'); ?></button></td>
            </tr>
        </table>
    </form>
</div>
<div id="form-listing">
    <table width="100%" class="table">
        <tr>
            <th width="2%"></th>
            <th><?php echo $this->translate('Subject')?></th>
            <th><?php echo $this->translate('Calculation Type')?></th>
            <th><?php echo $this->translate('Amount')?></th>
            <th></th>
        </tr>
        <?php
        if ($this->itemCourseList) {
            foreach ($this->itemCourseList as $key => $itemCourse) {
                ?>
                <tr id="row-<?php echo $itemCourse['fsisub_id']; ?>">
                    <td><?php echo ($key+1) ?></td>
                    <td><?php echo $itemCourse['SubCode'].' - '.$itemCourse['SubjectName']; ?></td>
                    <td align="center"><?php echo $itemCourse['fsisub_amount_calculation_type_name']; ?></td>
                    <td align="right"><?php echo number_format($itemCourse['fsisub_subject_amount'], 2, '.', ''); ?></td>
                    <td align='center'><a href="#" onclick="return deleteOptionalItem(<?php echo $itemCourse['fsisub_id']; ?>)"><?php echo $this->translate('Delete'); ?></a></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
</div>

<script type="text/javascript">
    function showform(){
        $("#form-wrap").toggle();
        $("#form-listing").toggle();
    }

    function deleteOptionalItem(id){
        var ret = confirm("Are you sure to delete?");

        $.ajax({
            url: "<?php echo $this->baseUrl()?>/studentfinance/fee-structure/delete-course",
            type: "post",
            data: {'id':id,'type':'optional'},
            dataType: 'json',
            success: function(data){
                if (data.msg == '' ){
                    $('#row-'+id).remove();
                }else{
                    alert(data.msg);
                }
            },
            error:function(){
                alert("failure");
            }
        });

        return false;
    }

    $(function(){
        $( "#fsisub_subject" ).autocomplete({
            source: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'fee-structure', 'action' => 'find-subject'), 'default', true); ?>/searchType/1',
            minLength: 1,
            search: function(event, ui) {
                $("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
            },
            response: function (event, ui) {
                $("#student_search_status").html('');
            },
            select: function(event, ui) {
                $('#fsisub_subject_id').val(ui.item.IdSubject);
            }
        });
    });
</script>