<div class="opt">
	<button onclick="showform();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Item')?></button> 
</div>
<div id="form-wrap" style="display:none">
<?php 
echo $this->form;
?>
</div>
<div id="form-listing">
<table width="100%" class="table">
	<tr>
		<th width="2%"></th>
		<th><?php echo $this->translate('Registration Item')?></th>
		<th><?php echo $this->translate('Fee Item')?></th>
		<th><?php echo $this->translate('Amount')?></th>
		<th></th>
	</tr>
	<?php $i = 0; ?>
	<?php foreach ( $this->itemList as $item ) : $i++; ?>
	<tr id="row-<?php echo $item['fsoi_id']?>">
		<td><?php echo $i?>.</td>
		<td><?php echo $item['reg_item']?></td>
		<td><?php echo $item['feeitem_name']?></td>
		<td align='right'><?php echo $item['fsoi_amount'] > 0 ? $item['cur_symbol_prefix'].' '.$item['fsoi_amount'] : ''?></td>
		<td align='center'><a href="#" onclick="return deleteOptionalItem(<?php echo $item['fsoi_id']?>)"><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php endforeach; ?>
</table>
</div>

<script type="text/javascript">
function showform()
{
	$("#form-wrap").toggle();
	$("#form-listing").toggle();
}

function checkFormOptionalItem()
{
	if ( $("#fsoi_fee_id").val()=='' || $("#fsoi_item_id").val()=='')
	{
		alert('Please fill in all required fields');
		return false;
	}
	return true;
}

function deleteOptionalItem(id)
{
	var ret = confirm("Are you sure to delete?");
		
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/studentfinance/fee-structure/delete-item",
		type: "post",
		data: {'id':id,'type':'optional'},
		dataType: 'json',
		success: function(data)
		{
			if (data.msg == '' )
			{
				$('#row-'+id).remove();
			}
			else
			{
				alert(data.msg);
			}
		},
		error:function()
		{
			alert("failure");
		}  
	});

	return false;
}
</script>