<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Fee Structure Name")?></th>
		<th><?php echo $this->translate("Intake")?></th>
		<th><?php echo $this->translate("Semester")?></th>
		<th><?php echo $this->translate("Effective Date")?></th>
		<th><?php echo $this->translate("Estimated Total Fees")?></th>
		<th><?php echo $this->translate("Status")?></th>
		<th></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->data as $entry): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'detail', 'id'=>$entry['fs_id']),'default',true);?>">
				<?php echo $entry['fs_name']; ?>	
			</a>
		</td>
		
		<td>
			<?php
			if($this->locale == 'en_US'){ 
				echo $entry['IntakeDesc'];
			}else{
				echo $entry['IntakeDefaultLanguage'];
			} 
			?>
		</td>
		<td><?php echo $entry['semester_name']?></td>
		<td align='center'><?php echo $entry['fs_effective_date']; ?></td>
		<td align="right">
			<?php echo $entry['cur_symbol_prefix']!=""?$entry['cur_symbol_prefix']:""; ?>
			<?php echo $entry['fs_estimated_total_fee']; ?>
			<?php echo $entry['cur_symbol_suffix']!=""?$entry['cur_symbol_suffix']:""; ?>
		</td>
		<td><?php 
		if($entry['fs_status'] == 0){
			echo "Draft";
		}elseif($entry['fs_status'] == 1){
			echo "Active";
		}elseif($entry['fs_status'] == 2){
			echo "Inactive";
		}
		?></td>
		<td class='options center'>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit','id'=>$entry['fs_id']),'default',true); ?>"><?php echo $this->translate('Edit')?></a>
			| <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'copy','id'=>$entry['fs_id']),'default',true); ?>"><?php echo $this->translate('Copy')?></a>
			| <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete','id'=>$entry['fs_id']),'default',true); ?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')"><?php echo $this->translate('Delete')?></a>
		</td>
		
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>