<script type="text/javascript">
	$(function() {
		$( "#tabs" ).tabs({
	    	beforeLoad: function( event, ui ) {

	    		ui.panel.html('Loading...');
	    		
	        	ui.jqXHR.error(function() {
	          		ui.panel.html(
	            		"Couldn't load this tab. We'll try to fix this as soon as possible. " +
	            		"If this wouldn't be a demo." );
	        		});
	      	}
	    });

	    $('#dialog-copy').dialog({
		    autoOpen: false,
		    width: 500,
	    	modal: true,
	        buttons: {
	          "<?php echo $this->translate("Copy"); ?>": function() {
		          var msg = "<?echo $this->translate('Confirm to Copy?'); ?>";

		          if(confirm(msg)){
			          $('#form_copy').submit();
		          }else{
		        	  $( this ).dialog( "close" );
		          }    
	            
	          },
	          Cancel: function() {
	            $( this ).dialog( "close" );
	          }
	        }
		});
	});

	function del(){

		var id = $('input[name=id]:checked').val();
		
		if(confirm('Are you sure to delete?')){
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add'),'default',true);?>";
	}

	function edit(){
		var id = $('input[name=id]:checked').val();

		if(!id){
			alert('<?php echo "Please select item first."; ?>');
		}else{
			window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'edit'),'default',true);?>/id/"+id;
		}
	}

	function searchbox(){
		$('#div_search').show();
	}

	function copy_fee_structure(){
		$('#dialog-copy').dialog('open');
	}

	function getCopyData(){
		
		$('#from_fs_id').empty();
		$('#to_intake_id').empty();
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'copy-data-ajax'),'default',true);?>",
			data: {'from_intake_id':$('#from_intake_id').val(), 'from_type_id':$("input[name='from_type_id']:checked").val(), 'from_fs_id':$('#from_fs_id').val()},
			type: 'GET',
			dataType: 'json',
			beforeSend: function(){
				$('#from_fs_id').parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
				$('#from_fs_id').hide();

				$('#to_intake_id').parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
				$('#to_intake_id').hide();
			}	
		}).done(function ( data ) {

			$('.loading').remove();
			$('#from_fs_id').show();
			$('#to_intake_id').show();
			  

		  $('#from_fs_id').empty().append('<option value=""><?php echo $this->translate('All');?></option>');
		  	
          $.each(data.from_fs_list, function(index, fs) {
          	$('#from_fs_id').append($('<option>', { 
                  value: fs.fs_id,
                  text : fs.fs_name 
              }));
          });

          $.each(data.to_intake, function(index, intake) {
            	$('#to_intake_id').append($('<option>', { 
                    value: intake.IdIntake,
                    text : intake.IntakeId 
                }));
            });
          
		});
	}
</script>

<style>
select{
  width: 250px;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--<li>
				<a href="#" onclick="javascript:viewList()">
					<span class='preview'></span>
					View List
				</a>
			</li>
			
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>-->
			<!--<li>
				<a href="#" onclick="copy_fee_structure();">
					<span class='copy'></span>
					Copy
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a id="search" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'view-fee-structure'),'default',true);?>">
					<span class='search'></span>
					View Program Fee
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>-->
		</ul>
	</div>
</div>
<br />

<div id="div_search" style="display:none;">
	<fieldset>
		<legend>Search</legend>
		<?php echo $this->searchForm; ?>
	</fieldset>
</div>


<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
		<th><?php echo $this->translate("Program Code");?></th>
		<th><?php echo $this->defaultlanguage;?></th>
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjlandscape): ?>
	<tr>
		<td><a href="<?php echo $this->baseUrl();?>/studentfinance/fee-structure/list/program_id/<?php echo $this->escape($lobjlandscape['IdProgram']);?>" ><?php print_r($this->escape($lobjlandscape['ProgramName']));?></a></td>
		<td><?php echo $lobjlandscape["ProgramCode"]; ?></td>
		<td><?php print_r($this->escape($lobjlandscape['ArabicName']));?></td>
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>