<div style="padding:20px">
<h3><?php echo $this->programinfo['ProgramName']?> (<?php echo  $this->info['mode_of_program_name']?> - <?php echo  $this->info['mode_of_study_name']?> - <?php echo  $this->info['program_type_name']?>)</h3>

<fieldset>
	<legend><?php echo $this->translate('Application')?></legend>
	<table width="100%" class="table">
		<tr>
			<th width="2%"></th>
			<th><?php echo $this->translate('Fee Item')?></th>
			<th><?php echo $this->translate('Fee Category')?></th>
			<th><?php echo $this->translate('Document Type')?></th>
			<th width="100px"><?php echo $this->translate('Amount')?></th>
			<th><?php echo $this->translate('Date Created'); ?></th>
			<th></th>
		</tr>
		<?php $i=0; ?>
		<?php foreach ( $this->itemApplication as $item ) { $i++; ?>
		<tr id="app-<?php echo $item['fspi_id']?>">
			<td align='center'><?php echo $i?>.</td>
			<td><?php echo $item['feeitem_name']?></td>
			<td><?php echo $item['fc_desc']?></td>
			<td><?php echo $item['docType']?></td>
			<td align='right'><?php echo $item['fspi_amount']>0?$item['cur_symbol_prefix'].' '.$item['fspi_amount']:''?></td>
			<td align="center"><?php echo date('d-m-Y', strtotime($item['added_date'])); ?></td>
			<td align='center'><a href="#" onclick="return deleteProgramItem(<?php echo $item['fspi_id']?>,'app')"><?php echo $this->translate('Delete')?></a></td>
		</tr>
		<?php } ?>
	</table>
</fieldset>

<br />

<fieldset>
	<legend><?php echo $this->translate('Registration')?></legend>

	<table width="100%" class="table">
		<tr>
			<th width="2%"></th>
			<th><?php echo $this->translate('Fee Item')?></th>
			<th><?php echo $this->translate('Fee Category')?></th>
			<th><?php echo $this->translate('Document Type')?></th>
			<th width="100px"><?php echo $this->translate('Amount')?></th>
			<th><?php echo $this->translate('Date Created'); ?></th>
			<th></th>
		</tr>
		<?php $i=0; ?>
		<?php foreach ( $this->itemRegistration as $item ) { $i++; ?>
		<tr id="reg-<?php echo $item['fspi_id']?>">
			<td align='center'><?php echo $i?>.</td>
			<td><?php echo $item['feeitem_name']?></td>
			<td><?php echo $item['fc_desc']?></td>
			<td><?php echo $item['docType']?></td>
			<td align='right'><?php echo $item['fspi_amount']>0?$item['cur_symbol_prefix'].' '.$item['fspi_amount']:''?></td>
			<td align="center"><?php echo date('d-m-Y', strtotime($item['added_date'])); ?></td>
			<td align='center'><a href="#" onclick="return deleteProgramItem(<?php echo $item['fspi_id']?>,'reg')"><?php echo $this->translate('Delete')?></a></td>
		</tr>
		<?php } ?>
	</table>
</fieldset>
</div>

<script type="text/javascript">
function deleteProgramItem(id,type)
{
	var ret = confirm("Are you sure to delete?");
		
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/studentfinance/fee-structure/delete-item",
		type: "post",
		data: {'id':id,'type':'program'},
		dataType: 'json',
		success: function(data)
		{
			if (data.msg == '' )
			{
				$('#'+type+'-'+id).remove();
			}
			else
			{
				alert(data.msg);
			}
		},
		error:function()
		{
			alert("failure");
		}  
	});

	return false;
}
</script>