<script>
	$(function() {
		
	<?php 
	if($this->landscape['LandscapeType']==43){
	?>
		$( "#tabs" ).tabs();
	<?php 
	}else{
		 
		for($i=1; $i<=$this->landscape["SemsterCount"]; $i++){ 
	?>
    		$( "#semesterTabs-<?php echo $i; ?>").tabs();
    <?php 
		} 
	?>
    <?php }?>
  });
  </script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<fieldset>
	<legend>Program</legend>
	
	<form id="form_fs_detail" method="get" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'view-fee-structure-detail'),'default',true);?>">
		<input type="hidden" name="pid" value="<?php echo $this->pid;?>" />
		<input type="hidden" name="lid" value="<?php echo $this->lid;?>" />
	<table>
		<tr>
			<td>Program</td>
			<td>:</td>
			<td>
				<?php echo $this->program['ArabicName'];?> - <?php echo $this->program['ProgramCode'];?>
			</td>
		</tr>
		<tr>
			<td>Landscape</td>
			<td>:</td>
			<td>
				<?php echo $this->landscape['ProgramDescription'];?>
			</td>
		</tr>
		<tr>
			<td>Total Semester</td>
			<td>:</td>
			<td>
				<?php echo $this->landscape['SemsterCount'];?>
			</td>
		</tr>
		<tr>
			<td>Start Intake</td>
			<td>:</td>
			<td>
				<?php echo $this->landscape['IntakeDesc'];?>
			</td>
		</tr>
		<tr>
			<td>Fee Structure</td>
			<td>:</td>
			<td>
				<select name="fsid" onchange="$('#form_fs_detail').submit();">
					<?php 
						foreach ($this->feeStructureList as $feeStructure){
						$select ="";
						if($this->fsid == $feeStructure['fs_id']){
							$select = "selected='selected'";
						}
					?>
					<option value="<?php echo $feeStructure['fs_id'];?>" <?php echo $select;?>><?php echo $feeStructure['fs_name'];?> (<?php echo $feeStructure['Description'];?>)</option>
					<?php }?>
				</select>
			</td>
		</tr>
	</table>
	</form>
</fieldset>



<!-- SEMESTER BASED -->
<?php if($this->landscape['LandscapeType']==43){?>
<div id="tabs">
	<!-- TAB TITLE -->
  	<ul>
  	<?php
  		$i=0; 
  		foreach ($this->major_list as $major){
	?>
    	<li><a href="#tabs-<?php echo $i+1;?>"><?php echo $major['BahasaDescription'];?></a></li>
    <?php 
    		$i++;
		}
	?>
  	</ul>
  
  	<!-- TAB CONTAINER -->
  	<?php
  		$i=0; 
  		foreach ($this->major_list as $major){
	?>
    	<div id="tabs-<?php echo $i+1;?>">
    		<?php 
    			for($sem_count = 1; $sem_count <= $this->landscape['SemsterCount']; $sem_count++){

					//sem_total_amount
					$sem_total_amount = 0;

					//sks
					$sks_amount = 0;
					foreach ($this->sem_fee[$sem_count]['fee_item'] as $fee){
						if($fee['fsi_item_id'] == 3){
							$sks_amount = $fee['fsi_amount'];
							break; 
						}
					}
    		?>
    		<h2>Semester <?php echo $sem_count;?></h2>
		    <table class="table" width="100%">
		    	<tbody>
		    	<tr>
		    		<th colspan="4">Tution Fees</th>
		    	</tr>
		    	<tr>
		    		<th>Course</th>
		    		<th>Credit Hours</th>
		    		<th>Amount per CH</th>
		    		<th>Total</th>
		    	</tr>
		    	<?php 
		    		foreach ($major['subjects'] as $subject){

						if($subject['IdSemester'] == $sem_count){
						$sem_total_amount += $sks_amount*$subject['CreditHours']; 
		    	?>
		    	<tr>
		    		<td><?php echo $subject['BahasaIndonesia'];?> (<?php echo $subject['SubCode'];?>)</td>
		    		<td align="center"><?php echo $subject['CreditHours'];?></td>
		    		<td><?php echo $sks_amount; ?></td>
		    		<td><?php echo $sks_amount*$subject['CreditHours']; ?></td>
		    	</tr>
		    	<?php 
						}
					}
		    	?>
		    	<tr>
		    		<th colspan="4">Other Fees</th>
		    	</tr>
		    	<tr>
		    		<th colspan="3">Item</th>
		    		<th>Total</th>
		    	</tr>
		    	<?php 
		    		foreach ($this->sem_fee[$sem_count]['fee_item'] as $fee){
						if($fee['fi_amount_calculation_type']!=299){
							$sem_total_amount += $fee['fsi_amount'];
		    	?>
		    	<tr>
		    		<td colspan="3"><?php echo $fee['fi_name_bahasa'];?></td>
		    		<td><?php echo new Zend_Currency(array('value' => $fee['fsi_amount']));?></td>
		    	</tr>
		    	<?php 
		    			}
		    		}
		    	?>
		    	</tbody>
		    	<tfooter>
		    		<tr>
		    			<td colspan="4" style="background:#FFF;">&nbsp;</td>
		    		</tr>
		    		<tr>
		    			<td colspan="3">Total Fee for Semester <?php echo $sem_count; ?></td>
		    			<th><?php echo new Zend_Currency(array('value' => $sem_total_amount)); ?></th>
		    		</tr>
		    	</tfooter>
		    </table>
		    <?php 
		    	}
		    ?>
		</div>
    <?php 
    		$i++;
		}
	?>
<?php 
}
?>
<!-- END SEMESTER BASED --> 




<!-- BLOCK BASED -->
<?php if($this->landscape['LandscapeType']==44){?>

<?php 
	foreach($this->block_sem as $sem_count=>$blocks){
		//sem_total_amount
		$sem_total_amount = 0;
		
		//sks
		$sks_amount = 0;
		foreach ($this->sem_fee[$sem_count]['fee_item'] as $fee){
			if($fee['fsi_item_id'] == 3){
				$sks_amount = $fee['fsi_amount'];
				break;
			}
		}
?>
	<h2>Semester <?php echo $sem_count;?></h2>
	<div id="semesterTabs-<?php echo $sem_count; ?>">
	
		<!-- Block list -->
		<ul>
			<?php foreach ($blocks as $index=>$block):?>
	    	<li><a href="#tabs-<?php echo $index;?>">Block <?php echo $index+1;?></a></li>
	    	<?php endforeach;?>
	  	</ul>
	  	
	  	<!--  Block container -->
	  	<?php foreach ($blocks as $index=>$block):?>
	  	<div id="tabs-<?php echo $index;?>">
	    	<table class="table" width="100%">
		    	<tbody>
		    	<tr>
		    		<th colspan="4">Tution Fees</th>
		    	</tr>
		    	<tr>
		    		<th>Course</th>
		    		<th>Credit Hours</th>
		    		<th>Amount per CH</th>
		    		<th>Total</th>
		    	</tr>
		    	<?php 
		    		foreach ($block['subjects'] as $subject){

						$sem_total_amount += $sks_amount*$subject['CreditHours']; 
		    	?>
		    	<tr>
		    		<td><?php echo $subject['BahasaIndonesia'];?> (<?php echo $subject['SubCode'];?>)</td>
		    		<td align="center"><?php echo $subject['CreditHours'];?></td>
		    		<td><?php echo new Zend_Currency(array('value' => $sks_amount)); ?></td>
		    		<td><?php echo new Zend_Currency(array('value' => ($sks_amount*$subject['CreditHours']))); ?></td>
		    	</tr>
		    	<?php 
					}
		    	?>
		    	<tr>
		    		<th colspan="4">Other Fees</th>
		    	</tr>
		    	<tr>
		    		<th colspan="3">Item</th>
		    		<th>Total</th>
		    	</tr>
		    	<?php 
		    		foreach ($this->sem_fee[$sem_count]['fee_item'] as $fee){
						if($fee['fi_amount_calculation_type']!=299){
							$sem_total_amount += $fee['fsi_amount'];
		    	?>
		    	<tr>
		    		<td colspan="3"><?php echo $fee['fi_name_bahasa'];?></td>
		    		<td><?php echo new Zend_Currency(array('value' => ($fee['fsi_amount'])));?></td>
		    	</tr>
		    	<?php 
		    			}
		    		}
		    	?>
		    	</tbody>
		    	<tfooter>
		    		<tr>
		    			<td colspan="4" style="background:#FFF;">&nbsp;</td>
		    		</tr>
		    		<tr>
		    			<td colspan="3">Total Fee for Semester <?php echo $sem_count; ?></td>
		    			<th><?php echo new Zend_Currency(array('value' => ($sem_total_amount))); ?></th>
		    		</tr>
		    	</tfooter>
		    </table>
	  	</div>
	  	<?php endforeach;?>
	  	
	</div>

<?php 
	}
}
?>
</div>
