<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<fieldset>
	<legend>Program</legend>
	<form id="form_program" name="form_program" method="post">
	<table>
		<tr>
			<td>Program</td>
			<td>:</td>
			<td>
				<select name="pid" onchange="$('#form_program').submit();">
					<option value="null"><?php echo $this->translate("Please select");?></option>
					<?php foreach ($this->program_list as $faculty):?>
					<optgroup label="<?php echo $faculty['ArabicName'];?> - <?php echo $faculty['CollegeCode'];?>"></optgroup>
						<?php 
						if(isset($faculty['program'])){
							foreach ($faculty['program'] as $program){
								$select = "";
								if(isset($this->pid) && $program['IdProgram'] == $this->pid){
									$select = "selected='selected'";
								}
						?>
							<option value="<?php echo $program['IdProgram'];?>" <?php echo $select; ?>><?php echo $program['ArabicName'];?></option>
						<?php 
							}
						}
						?>
					<?php endforeach;?>
				</select>
			</td>
		</tr>
	</table>
	</form>
</fieldset>

<?php if(isset($this->landscape_list) && sizeof($this->landscape_list)>0 ){?>
<table class="table" width="100%"">
	<tr>
		<th><?php echo $this->translate("Description"); ?></th>
		<th><?php echo $this->translate("Landscape Type"); ?></th>
		<th><?php echo $this->translate("Effective Intake"); ?></th>
		<th><?php echo $this->translate("Total Credit Hours"); ?></th>
		<th><?php echo $this->translate("Active"); ?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	$i=0;
	foreach ($this->landscape_list as $landscape):?>
	<tr <?php echo $i%2==0?"class='shade'":"";?>>
		<td><?php echo $landscape['ProgramDescription']; ?></td>
		<td><?php echo $landscape['DefinitionDesc']; ?></td>
		<td><?php echo $landscape['IntakeId']; ?></td>
		<td><?php echo $landscape['TotalCreditHours']; ?></td>
		<td><?php echo $landscape['Status']==1?"Active":"-"; ?></td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'view-fee-structure-detail','pid'=>$this->pid,'lid'=>$landscape['IdLandscape']),'default',true);?>"><?php echo $this->translate('View');?></a></td>
	</tr>
	<?php
	$i++; 
	endforeach;
	?>
</table>
<?php }?>