<script type="text/javascript">
dojo.addOnLoad(function(){
    dijit.byId('field29').set('value','');
    dijit.byId('field29').set('placeHolder','Select');
});
</script>
<div class="message toolbar">
	<h2>
		<?php echo $this->translate('Payment Plan'); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'paymentplan', 'action'=>'newpaymentplan'),'default',true);?>" >
					<span class='add'></span>
					Add
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend>
		<?php echo $this->translate("Search");?>
	</legend>

	<form action="<?php echo $this->baseUrl();?>/application/paymentplan/index/search/1" method="POST">
            <dl class="zend_form">    
                <dt><?php echo $this->translate("Payment Plan Name");?></dt>
                <dd><?php echo $this->lobjform->field3;?></dd>
                <dt><?php echo $this->translate("Payment Plan Code");?></dt>
                <dd><?php echo $this->lobjform->field4;?></dd>

                <dd><?php echo $this->lobjform->Search;?>
                <?php echo $this->lobjform->Clear;?>
                </dd>
            </dl>
	</form>
</fieldset>
<br />

<h3><?php echo $this->translate('Payment Plan') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>


<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Payment Plan Name");?>
			</th>
			<th><?php echo $this->translate("Payment Plan Code");?>
			</th>
			<th></th>

			<?php if (count($this->paginator)): ?>
			<?php foreach ($this->paginator as $lobjPlanpaymentsetup): ?>
		
		
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><?php echo $this->escape($lobjPlanpaymentsetup['name']);?></td>
			<td>
				<?php echo $this->escape($lobjPlanpaymentsetup['code']);?>
			</td>
			<td align="center">
				<a href="<?php echo $this->baseUrl();?>/application/paymentplan/editpaymentplan/id/<?php echo $this->escape($lobjPlanpaymentsetup['id']);?>">Edit</a>
			</td>

			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
                    <?php
                    echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
                    ?>
				</div></td>
		</tr>

	</table>
</fieldset>
