<div class="message toolbar">
    <h2>
        <?php echo $this->translate("Add Payment Plan"); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'paymentplan', 'action' => 'index'), 'default', true); ?>">
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<fieldset>
    <form dojoType="dijit.form.Form" id="myForm"
          action="<?php echo $this->baseUrl(); ?>/application/paymentplan/newpaymentplan"
          method="post" name="myForm">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }

        </script>
        <table class="table" width="100%">

            <tr>
                <th colspan="4"><?php echo $this->translate("Payment Plan Details"); ?>
                </th>
            </tr>
            <tr>
                <td><?php echo $this->translate("English Description"); ?><span
                        class="reqMark">*</span></td>
                <td><?php echo $this->lobjPaymentplanForm->name; ?><?php echo $this->lobjPaymentplanForm->UpdDate; ?>
                    <?php echo $this->lobjPaymentplanForm->UpdUser; ?></td>
            </tr>

            <tr>
                <td><?php echo $this->translate("Malay Description"); ?></td>
                <td><?php echo $this->lobjPaymentplanForm->MalayName; ?>
            </tr>

            <tr>
                <td><?php echo $this->translate("Code"); ?></td>
                <td><?php echo $this->lobjPaymentplanForm->code; ?></td>
            </tr>

            <tr>
                <td><?php echo $this->translate("Active"); ?></td>
                <td><?php echo $this->lobjPaymentplanForm->Active; ?></td>
            </tr>

        </table>
        <table class="table" width="100%">
            <tr>
                <td colspan=4 align="center">
                    <?php echo $this->lobjPaymentplanForm->Save; ?>
                </td>

            </tr>
        </table>
    </form>
</fieldset>
