<div class="breadcrum">
    <ul class="tri-steps">
        <li class="current">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'semester', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Semester"); ?></a>
            </div>
        </li>
        <li class="last">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'activity', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Activity"); ?></a>
            </div>
        </li>
       <!-- <li class="last">
            <div class="text"><a
                    href="<?php /*echo $this->url(array('module' => 'generalsetup', 'controller' => 'semestercalender', 'action' => 'index'), 'default', true); */?>"><?php /*echo $this->translate("Calendar"); */?></a>
            </div>
        </li>-->
    </ul>
    <div class="clear"></div>
</div>

<br></br>
<div class="message toolbar">
    <h2><?php echo $this->translate("Semester Setup"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'semester', 'action' => 'newsemester'), 'default', true); ?>';">
                    <span class='add'></span>
                    <?php echo $this->translate("Add"); ?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
                    <span class='info'></span>
                    Info
                </a>
            </li>-->
        </ul>
    </div>
</div>

<fieldset>
    <legend><?php echo $this->translate("Search"); ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/generalsetup/semester/index/search/1" method="POST">
        <dl class="zend_form">
            <dt><?php echo $this->translate("Name"); ?></dt>
            <dd><?php echo $this->lobjform->field3; ?></dd>
            <dt><?php echo $this->translate("Code"); ?></dt>
            <dd><?php echo $this->lobjform->field2; ?></dd>
            <dt><?php echo $this->translate("Scheme"); ?></dt>
            <dd><?php echo $this->lobjform->field5; ?></dd>
            <dt></dt>
            <dd>
                <?php echo $this->lobjform->Search; ?>
                <?php echo $this->lobjform->Clear; ?>
            </dd>
        </dl>
    </form>
</fieldset>
<br/>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>

        <th><?php echo $this->translate("Semester Code"); ?></th>
        <th><?php echo $this->translate("Semester Name"); ?></th>
        <th><?php echo $this->translate("Scheme"); ?></th>
        <th><?php echo $this->translate("Start Date"); ?></th>
        <th><?php echo $this->translate("End Date"); ?></th>
        <th><?php //echo $this->translate("Date"); ?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjsemester): ?>
            <tr>
                <td><?php echo $this->escape($lobjsemester['SemesterMainCode']); ?></td>
                <td><?php echo $this->escape($lobjsemester['SemesterMainName']); ?></td>
                <td><?php echo ($this->locale == 'ms_MY') ? $this->escape($lobjsemester['ArabicDescription']) : $this->escape($lobjsemester['EnglishDescription']); ?></td>
                <td align="center"><?php echo format_date_to_view($this->escape($lobjsemester['SemesterMainStartDate'])); ?></td>
                <td align="center"><?php echo format_date_to_view($this->escape($lobjsemester['SemesterMainEndDate'])); ?></td>
                <td align="center">
                    <a href="<?php echo $this->baseUrl(); ?>/generalsetup/semester/editsemester/id/<?php echo $this->escape($lobjsemester['IdSemesterMaster']); ?>"><?php echo $this->translate('Edit'); ?></a>

                </td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>

</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>