
<script type="text/javascript">
	function search_subject(){
				
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(faculty_id!==0){
			$.ajax({
				url: "/examination/mark-distribution-ce/search-ce-course",
			    type: "post",
			    async : false,
			    data: {'idCollege':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}


	$(function () {
		 $('.linkDialog').click(function(e){
			 var url = $(this).attr('href');
			 $( "#dialog-box" ).load(url, function() { // load content					
				   $('#loading').hide(); // hide image after content was loaded
			 });
			 $( "#dialog-box" ).dialog('open');	
			 return false;		
		 });
		
		 $( "#dialog-box" ).dialog({
		        autoOpen: false,
		        width: 650,
		        modal: true	     
		 });
	 });
	
	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
	
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>

<br>


<?php if(count($this->subjects)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>	
		<th><?php echo $this->translate("Status")?></th>	
		<th></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->subjects as $subject){		
	?>		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='center'><?php echo $subject['SubCode']; ?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["subjectMainDefaultLanguage"]:$subject["SubjectName"];?></td>	
		<td align='center'>
		<?php 
		if(is_array($subject['detail'])) {
			if($subject['detail']['Status']==0) { echo $this->translate('Entry'); }
			if($subject['detail']['Status']==1) { echo $this->translate('Approved'); } 
			if($subject['detail']['Status']==2) { echo $this->translate('Rejected'); } 
		}else{
			echo $this->translate('No record');
		}
		
		?></td>	
		<td class="center options">	
		<?php 
		if($subject['detail']['Status']==1) {?>	
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-ce','action'=>'view-ce','idSubject'=>$subject["IdSubject"],'idSemester'=>$this->idSemester),'default',true);?>" class='linkDialog'><?php echo $this->translate("View");?></a>
		<?php }else{?>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-ce','action'=>'view','idSemester'=>$this->idSemester,'idSubject'=>$subject['IdSubject'])); ?>"><?php echo $this->translate("Manage");?></a>
		<?php }?>
		</td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php }//?>
</div>
<br>
<div id="dialog-box" title="<?php echo $this->translate("Mark Distribution Details"); ?>"> 
<div id='loading'>Loading...</div>
</div>