<script>

$(function() {
	$( "#tabs" ).tabs();
	
	$('#tabs-2').load("<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-ce','action'=>'entry','idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>",

			 function() { // load content					
				   $('#loading').hide(); // hide image after content was loaded
			 });
});

</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			<li>							
					<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-ce','action'=>'index'), 'default', true);?>">
						<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br />
<form name='form1' method='post'>
<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">	
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Code "); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>

</table>
</form>
<br />

<div id="tabs">
	<ul>
		<li><a href="#tabs-1"><?php echo $this->translate("View"); ?></a></li>
		<li><a href="#tabs-2"><?php echo $this->translate("Manage Component"); ?></a></li>		
	</ul>	
	<div id="tabs-1">	
	
	<?php
			if($this->info){ ?>
			<table class="table noalt number" width="100%" cellpadding="5" cellspacing="1" >
				<tr>
					<th><?php echo $this->translate('Component Name'); ?></th>					
					<th><?php echo $this->translate('Component Item'); ?></th>
					<th><?php echo $this->translate('Raw'); ?></th>
					<!--<th><?php echo $this->translate('Weightage'); ?></th>
					--><th><?php echo $this->translate('Lecturer'); ?></th>					
				</tr>	
				 <?php 
					  if($this->rs_component){			  
					  foreach ($this->rs_component as $component){
					  	$rowspan = !empty($component['component_item']) ? count($component['component_item'])+1 : 0;
					  ?>
						<tr>
							<td align='center' class='border2' <?php echo $rowspan > 0 ? 'rowspan="'.$rowspan.'"':''?>><?php echo $component['component_name'];?><br><br><?php echo 'Pass Mark: '.$component['ce_pass_mark'];?><br><br><?php echo 'Total Mark: '.$component['ce_total_mark'];?></td>							
							<td align='center'>&nbsp;</td>
							<td align='center'>&nbsp;<?php //echo $component["Marks"];?></td>
							<!--<td align='center'>&nbsp;<?php //echo $component["Percentage"];?></td>
							--><td align='center'>&nbsp;</td>							
						</tr>
						<?php 
							if($component['component_item']){
								$i=0;
								$last = count($component['component_item']);
												
								foreach ($component['component_item'] as $item){
									$i++;
								?>
								<tr <?php echo $i == $last ? 'class="border2"':''?>>
									<?php if ( $rowspan == 0 ) { ?><td align='center'></td><?php } ?>
									<td align='center'><?php echo $item["ComponentName"]?></td>									
									<td align='center' class='num'><?php echo $item["Weightage"]?></td>
									<!--<td align='center' class='num'><?php echo $item["Percentage"];?></td>
									--><td align='center' class='num'><?php echo $item['FullName'];?></td>									
								</tr>
						
				<?php 		} //end if
						 }//end for
				?>
						<tr class="special2">
							<td align='center'><strong><?php echo $this->translate('Total'); ?> <?php echo $component['component_name'];?></strong></td>
							<td align='center'></td>						
							<td align='center' class='num'><strong><?php echo $component["Marks"];?></strong></td>
							<!--<td align='center' class='num'><strong><?php echo $component["Percentage"];?></strong></td>
							--><td>&nbsp;</td>							
						</tr>
				
				<?php 
					  }//end for
					}
				?>
				
			</table>
			<?php }else{ ?>
			<div  class="message notice">There is no mark distribution being setup</div>
			<?php } ?>
					
	</div>
	<div id="tabs-2">	
		<div id='loading'>Loading...</div>
	</div>
	
</div>

