

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<h2>Intakes</h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Program Code"); ?></th>
		<th width="30%"><?php echo $this->translate("Program Name"); ?></th>
		<th width="30%"><?php echo $this->translate("Total Data"); ?></th>
		<th width="30%"><?php echo $this->translate("Function"); ?></th>
	</tr>
	<?php 
	$mdb = new Migration_Model_DbTable_Migratecourse();
	foreach($this->programs as $program){
		
	?>
	<tr>
		<td width="30%"><a href="/migration/course/program/id/<?=$program["programcode"];?>"><?php echo $program["programcode"];?></a></td>
		<td width="30%"><?php echo $program["arabicname"]; ?></td>
		<td width="30%"><?php echo $program["Rows"];  ?></td>
		<td width="30%">
		<!--<a href="/migration/index/index/chintake/<?=$intake["yearIntake"]?>">Change Intake</a>
		--><br>
		</td>
	</tr>	
	<?php 
	}
	?>
</table>