

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<h2><?=$this->prcode?></h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="50%"><?php echo $this->translate("Academic Year"); ?></th>
		
		<th width="25%"><?php echo $this->translate("Total Data"); ?></th>
		
	</tr>
	<?php 
/*	$semname[1]="Gasal Reguler";
	$semname[2]="Genap Reguler";
	$semname[11]="Gasal Pembaikan?";
	$semname[12]="Genap Pembaikan?";
	$semname[31]="Gasal ???";
	$semname[32]="Genap ???";*/
	$mdb = new Migration_Model_DbTable_Migratecourse();
	foreach($this->acadyears as $acadyear){
		//$ayid = $mdb->getAcadYearSis($acadyear["academicyear"]);
		//$data["academicyear"]=$ayid;
		//$mdb->update($data,"academicyear='".$acadyear["academicyear"]."'")
		$semesters = $mdb->getSemester($this->prcode,$acadyear["academicyear"]);
		
	?>
	<tr>
		<td width="30%"><a href="/migration/course/semester/id/<?=$acadyear["academicyear"];?>"><?php echo $acadyear["ay_code"];?> </a></td>
		
		<td width="30%"><?php echo $acadyear["Rows"];  ?></td>

	</tr>
	<tr>
	<td>
		<table width ="100%">
		<tr>
			<th>Semester Code</th>
			<th>Semester Name</th>
			<th>Total</th>
		</tr>
		<?php 
		foreach ($semesters as $sem){
			//$semname
			$year=explode("/",$acadyear["ay_code"]);
			switch($sem["semesterCode"]){
				case 1:
					$semname = "Gasal ".$acadyear["ay_code"]." (R)";
					$semfull = "Gasal ".$acadyear["ay_code"]." Reg";
					$semdates = $year[0]."-08-30";
					$semdate2 = $year[1]."-03-07";
					$semcode = $year[0]."01";
					$semcount = 1;
					break;
				case 2:
					$semname = "Genap ".$acadyear["ay_code"]." (R)";
					$semfull = "Genap ".$acadyear["ay_code"]." Reg";
					$semdates = $year[1]."-05-01";
					$semdate2 = $year[1]."-07-30";	
					$semcode = $year[0]."02";				
					$semcount = 1;
					break;
				case 11:
					$semname = "Gasal ".$acadyear["ay_code"]." (P)";
					$semfull = "Gasal ".$acadyear["ay_code"]." Pem";
					$semdates = $year[1]."-03-08";
					$semdate2 = $year[1]."-04-15";	
					$semcode = $year[0]."11";				
					$semcount = 0;
					break;
				case 12:
					$semname = "Genap ".$acadyear["ay_code"]." (P)";
					$semfull = "Genap ".$acadyear["ay_code"]." Pem";
					$semdates = $year[1]."-07-31";
					$semdate2 = $year[1]."-08-15";	
					$semcode = $year[0]."12";				
					$semcount = 0;
					break;
				case 31:
					$semname = "Gasal ".$acadyear["ay_code"]." (V)";
					$semfull = "Gasal ".$acadyear["ay_code"]." Ver";
					$semdates = $year[1]."-04-16";
					$semdate2 = $year[1]."-04-17";	
					$semcode = $year[0]."31";				
					$semcount = 0;
					break;					
				case 32:
					$semname = "Genap ".$acadyear["ay_code"]." (V)";
					$semfull = "Genap ".$acadyear["ay_code"]." Ver";
					$semdates = $year[1]."-08-16";
					$semdate2 = $year[1]."-08-18";	
					$semcode = $year[0]."31";				
					$semcount = 0;
					break;	
				case 21:
					$semname = "Gasal ".$acadyear["ay_code"]." (K)";
					$semfull = "Gasal ".$acadyear["ay_code"]." Kon";
					$semdates = $year[1]."-04-18";
					$semdate2 = $year[1]."-04-19";	
					$semcode = $year[0]."21";				
					$semcount = 0;
					break;					
				case 22:
					$semname = "Genap ".$acadyear["ay_code"]." (K)";
					$semfull = "Genap ".$acadyear["ay_code"]." Kon";
					$semdates = $year[1]."-08-19";
					$semdate2 = $year[1]."-08-20";	
					$semcode = $year[0]."22";				
					$semcount = 0;
					break;	
				case 41:
					$semname = "Gasal ".$acadyear["ay_code"]." (Vd)";
					$semfull = "Gasal ".$acadyear["ay_code"]." Vld";
					$semdates = $year[1]."-04-20";
					$semdate2 = $year[1]."-04-21";	
					$semcode = $year[0]."41";				
					$semcount = 0;
					break;	
				case 42:
					$semname = "Genap ".$acadyear["ay_code"]." (Vd)";
					$semfull = "Genap ".$acadyear["ay_code"]." Vld";
					$semdates = $year[1]."-08-21";
					$semdate2 = $year[1]."-08-22";	
					$semcode = $year[0]."42";				
					$semcount = 0;
					break;																		
				default:
					$semname="";
					$semfull="";
					$semcount="";
					break;															
			}
			
			$seminfo = $mdb->getSemInfo($semname);
			if(is_array($seminfo)){
				$ada = "ada";
			}else{
				$ada =" x ada";
				
				if($semname!=""){
					$sqli = "INSERT INTO `tbl_semestermaster` 
					(`idacadyear`,`SemesterMainName`, `SemesterMainDefaultLanguage`, `SemesterMainCode`, `IsCountable`, `SemesterMainStatus`, `DummyStatus`, `SemesterMainStartDate`, `SemesterMainEndDate`, `Scheme`, `UpdDate`, `UpdUser`) VALUES
					(
					'".$acadyear["academicyear"]."',
					'".$semname."', 
					'".$semfull."', 
					'".$semcode."', 
					".$semcount.", 
					0, 
					NULL, 
					'".$semdates."', 
					'".$semdate2."', 
					9, 
					'".date("Y-m-d H:i:s")."', 
					595)";
					//echo $sqli;
					$mdb->openquery($sqli);
				}
			}
		?>
		<tr>
			<td><?=$sem["semesterCode"]?></td>
			<td><?=$semname?> - <?=$ada?></td>
			<td><a href="/migration/course/student/p/<?=$this->prcode?>/ay/<?=$acadyear["academicyear"]?>/s/<?=$sem["semesterCode"]?>"><?=$sem["Rows"]?></a></td>
		</tr>	 
		<?php 
		}
		?>	
		</table>
	</td>
	<td> </td>
	</tr>	
	<?php 
	}
	?>
</table>