

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<?php 
	print_r($this->seminfo);
	?>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<h2>Students - <?php echo count($this->students)?></h2>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("NIM"); ?></th>
		<th width="30%"><?php echo $this->translate("Name"); ?></th>
		<th width="30%"><?php echo $this->translate("Semester level"); ?></th>
		<th width="30%"><?php echo $this->translate("Total Subject"); ?></th>
		<th width="30%"><?php echo $this->translate("Migrated"); ?></th>
		<th width="30%"><?php echo $this->translate("Landscape"); ?></th>
		<th width="30%"><?php echo $this->translate("Semester Reg"); ?></th>
		<th width="30%"><?php echo $this->translate("Subjects"); ?></th>
	</tr>
	<?php 
	$studentRegSubjectDB = new Registration_Model_DbTable_Studentregsubjects();
	$courseGroupDb = new GeneralSetup_Model_DbTable_CourseGroup();	
	$mdb = new Migration_Model_DbTable_Migratecourse();
	foreach($this->students as $key=>$student){
		$semlevel="";
		if($student["idsemestermain"]==$this->seminfo["IdSemesterMaster"]){
			$semlevel=1;
		}else{
			if($student["idsemestermain"]=="") $semlevel=0;
			else $semlevel=$mdb->getsemlevel($student["idsemestermain"],$this->seminfo["IdSemesterMaster"]);
		}
	?>
	<tr>
		<td width="30%"><a target="_BLANK" href="/records/studentprofile/studentprofilelist/id/<?=$student["IdStudentRegistration"]?>"><?php echo $student["RegistrationId"];?></a></td>
		<td width="30%"><?php echo $student["appl_fname"]; ?></td>
		<td width="30%"><?php echo $semlevel; ?></td>
		<td width="30%"><?php echo $student["Rows"];  ?></td>
		<td width="30%"><?php echo $mdb->getMigratedSubject($student["RegistrationId"],$this->ay,$this->sem);  ?></td>
		<td width="30%">
		<?php 
		//Update Landscape nid kat studentregistration;
		if($student["idlandscape"]==0){
			$sdb = new Registration_Model_DbTable_Studentregistration();
			$data["IdLandscape"]=$student["landscape"]; //Idlandscape utk denstistry saja
			$sdb->update($data,"registrationId='".$student["RegistrationId"]."'");
			$student["idlandscape"]=$student["landscape"];
			$this->students[$key]["idlandscape"]=$student["landscape"];
		}else{
			echo $student["idlandscape"];
		}
		?>
		</td>
		<td width="30%">
		<?php 
		//Update Landscape nid kat studentregistration;
		//Block VS Sem
		//
		if($student["idstudentsemsterstatus"]==""){
			echo "Reg - ";
			$semstatus = array( 'IdStudentRegistration' => $student["IdStudentRegistration"],									           
            'idSemester' => 0,
            'IdSemesterMain' => $this->seminfo["IdSemesterMaster"],
			'IdBlock' => $mdb->getBlockId($student["idlandscape"],$semlevel),											
            'studentsemesterstatus' => 130, //Register idDefType = 32 (student semester status)
                        'Level'=>$semlevel,
            'UpdDate' => date ( 'Y-m-d H:i:s'),
            'UpdUser' => 595
	        );
	        
	        $semsdb = new Registration_Model_DbTable_Studentsemesterstatus();
	        $student["idstudentsemsterstatus"]=$semsdb->addData($semstatus);

		}
			
		echo $student["idstudentsemsterstatus"];
		?>
		</td>
		<td>
		<?php 
		$subjects=$mdb->getSubjectBlock($student["RegistrationId"],$this->ay,$this->sem);
		foreach ($subjects as $subreg){

			//check dulu ada tak data group dari raw
			if($subreg["grpcode"]!=""){
				//kalau ada check plak dalam sistem dah ada blom group base on Sem,Subject,groupcode/lect
				$grpinfo=$mdb->checkExistingGroup($this->seminfo["IdSemesterMaster"],$subreg["IdSubject"],$subreg["grpcode"]);
				if(!$grpinfo){
				//kalau x dak lagi create grroup
					$grpdata["IdSemester"] = $this->seminfo["IdSemesterMaster"];
					$grpdata["IdSubject"]  = $subreg["IdSubject"];
					$grpdata["GroupName"]  = $subreg["grpcode"];
					$grpdata["GroupCode"]  = $subreg["grpcode"];
					$staff = $mdb->getIdStaff($subreg["staffid"]);
					if(!$staff) $staff["IdStaff"] = 3195;
					$grpdata["IdLecturer"]  = $staff["IdStaff"];
					$grpdata["VerifyBy"]  = 3195;
					$grpdata["IdUniversity"]  = 1;
					$grpdata["UpdUser"]  = 595;
					$grpdata["UpdDate"]  = date("Y-m-d H:i:s");
					
					$subject["IdCourseTaggingGroup"] = $courseGroupDb->addData($grpdata);			 
				
				}else{
					//Kalau dah ada just amik IdGroup utk save kat regsubject table
					$subject["IdCourseTaggingGroup"]=$grpinfo["IdCourseTaggingGroup"];
				}
			}
			
			$subject["IdSubject"] = $subreg["IdSubject"];
			$subject["IdBlock"]   = $subreg["blockid"];
			$subject["BlockLevel"]= $subreg["block"];
			$subject["IdStudentRegistration"] = $student["IdStudentRegistration"];
			$subject["IdSemesterMain"] = $this->seminfo["IdSemesterMaster"];
			$subject["SemesterLevel"]= $semlevel;
			$subject["Active"]= 1;
			$subject["UpdDate"]   = date ( 'Y-m-d H:i:s');
			$subject["UpdUser"]   = 595;
						

			
			if($subreg["GRADE"]=="MG" || $subreg["GRADE"]=="NR" || $subreg["GRADE"]=="IN" || $subreg["GRADE"]=="FR" ){
				$subject["exam_status"]=$subreg["GRADE"];
				$subject["grade_name"]=$subreg["GRADE"];
			}elseif($subreg["GRADE"]=="W"){
				$subject["Active"]= 3;
				$subject["grade_name"]=$subreg["GRADE"];
			}elseif($subreg["GRADE"]!=""){
				$subject["exam_status"]="C";
				$subject["final_course_mark"]=$subreg["FinalMark"];
				$subject["grade_point"]=$subreg["Weightage"];
				$subject["grade_name"]=$subreg["GRADE"];
			
			
				$gstatus="Pass";
				if($subreg["GRADE"]=="E") $gstatus="Fail";
					
				$subject["grade_status"]=$gstatus;
				$subject["mark_approveby"]=3195;
				$subject["mark_approvedt"]=date ( 'Y-m-d H:i:s');
			}			
			/*echo "<pre>";
			print_r($subject);
			echo "</pre>";*/
			if($subreg["IdSubject"]==""){
				echo "error - no subject - ".$subreg["SubjectCode"]."<br>";
			}else{
				$studentRegSubjectDB->addData($subject);
				$raw["status"]="1";
				$mdb->update($raw,"id = ".$subreg["id"]);
				unset($subject);
			}
		}

		?>	
			
		</td>
	</tr>	
	<?php
	}
	?>
</table>