<script>
var arr_skr = [];

<?php
	//foreach ($this->skr_list as $skr){
?>
		//arr_skr.push({'id':<?php //echo $skr['id']; ?>,'skr':'<?php //echo $skr['skr']; ?>'})
<?php
	//}
?>



function toggle_all(element){
    $('input.sel_all').prop('checked', $(element).is(':checked'));
}

function approve_list(){

	var arr_student = [];
	
	$("input:checkbox[name='student']:checked").each(function()
	{
	    // add $(this).val() to your array
		arr_student.push( $(this).val() );
		
	});

	if(arr_student.length == 0){
		alert('<?php echo $this->translate('Please select atleast 1 student to approve');?>');
	}else{

		/*var skr = $('<select>').attr('name','skr').attr('id','skr');

		$(arr_skr).each(function(key,value){

			$(skr)
	         .append($("<option></option>")
	         .attr("value",value.id)
	         .text(value.skr));
		});*/
		
		var form = $('<form id="approve" method="post">').attr('action','/graduation/graduation-list/rector-approve')
		/*.append(	
			$('<label>')
			.html('Nomor SKR: ')
		)
		.append(	
			skr
		)*/;

		
		
		for(var i=0; i<arr_student.length; i++){
			$(form)
			.append(
				$('<input type="hidden" name="student[]" />').val(arr_student[i])	
			);
		}
		
		$(form).dialog({
			'title': 'Are You Sure?',
			modal: true,
		      buttons: {
		        "<?php echo $this->translate('Save');?>": function() {
			        //if($('#skr').val()!=""){
				        $(form).submit();
			        //}else{
				      //  alert('<?php echo $this->translate('Please fill in SKR number');?>');
			        //}
		          
		        },
		        Cancel: function() {
		          $( this ).dialog( "close" );
		        }
		      }	
		});
	}
	
}

function reject_list(){
	var arr_student = [];
	
	$("input:checkbox[name='student']:checked").each(function()
	{
	    // add $(this).val() to your array
		arr_student.push( $(this).val() );
		
	});

	if(arr_student.length == 0){
		alert('<?php echo $this->translate('Please select atleat 1 student to reject');?>');
	}else{

		var form = $('<form id="approve" method="post">').attr('action','/graduation/graduation-list/rector-reject')
		.append(	
			$('<p>')
			.html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 40px 0;"></span>These items will be permanently removed from graduation list. <br /> Are you sure?</p>')
		);

		
		
		for(var i=0; i<arr_student.length; i++){
			$(form)
			.append(
				$('<input type="hidden" name="student[]" />').val(arr_student[i])	
			);
		}
		
		$(form).dialog({
			'title': '<?php echo $this->translate('Confirmation'); ?>',
			modal: true,
		      buttons: {
		        "<?php echo $this->translate('Yes');?>": function() {
			        $(form).submit();
		        },
		        "<?php echo $this->translate('No');?>": function() {
		          $( this ).dialog( "close" );
		        }
		      }	
		});
	}
}
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="approve_list();" >
					<span class='add'></span>
					<?php echo $this->translate('Approve');?>
				</a>
			</li>
			<li>
				<a href="#" onclick="reject_list();" >
					<span class='delete'></span>
					<?php echo $this->translate('Reject');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<fieldset>
	<legend><?php echo $this->translate('Filter'); ?></legend>
	<form name="form_search" id="form_search" method="post">
	<table>
		<tr>
			<td><?php echo $this->translate("NIM"); ?></td>
			<td>:</td>
			<td><input type="text" name="search_nim" value="<?php echo $this->search_nim?>" /></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Program"); ?></td>
			<td>:</td>
			<td>
				<select name="search_program_id">
					<option value="0"><?php echo $this->translate('Please select');?></option>
					<?php 
					foreach ($this->program as $faculty):
						if(isset($faculty['program'])){
					?>
						<optgroup label="<?php Echo $faculty['ArabicName'];?>">
						<?php 
							foreach ($faculty['program'] as $program){
								$select = "";
								if($this->search_program_id == $program['IdProgram']){
									$select = "selected='selected'";
								}
						?>	
							<option value="<?php echo $program['IdProgram'];?>" <?php echo $select; ?> ><?php echo $program['ProgramName']; ?> - <?php echo $program['ProgramCode'];?></option>						
						<?php 
							}
						?>
						</optgroup>
					<?php 
						}
					endforeach;
					?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake"); ?></td>
			<td>:</td>
			<td>
				<select name="search_intake_id">
					<option value="0"><?php echo $this->translate('Please select');?></option>
					<?php 
					foreach ($this->intake_list as $intake){
						$select = "";
						if($this->search_intake_id == $intake['IdIntake']){
							$select = "selected='selected'";
						}
					?>
					<option value="<?php echo $intake['IdIntake']; ?>" <?php echo $select; ?> ><?php echo $intake['IntakeDefaultLanguage']; ?></option>
					<?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td>
				<input type="submit" value="<?php echo $this->translate('Search');?>" />
				<input type="button" value="<?php echo $this->translate('Clear');?>" onclick="window.location='/graduation/graduation-list/rector-approval';" />
			</td>
		</tr>
	</table>
	</form>
</fieldset>
<table class="table" width="100%">
	<thead>
		<tr>
			<th align="center"><input type="checkbox" onclick="toggle_all(this);" /></th>
			<th>Bil</th>
			<th><?php echo $this->translate("Student NIM");?></th>
			<th><?php echo $this->translate("Student Name");?></th>
			<th><?php echo $this->translate("Program");?></th>
			<th><?php echo $this->translate("Intake");?></th>
			<th><?php echo $this->translate("Date Added");?></th>
			<th><?php echo $this->translate("Dean Approval Date");?></th>
			<th><?php echo $this->translate("Dean SKR");?></th>
		</tr>
	</thead>
	<tbody>
		<?php
		if($this->data){ 
			foreach ($this->data as $index=>$data):
		?>
		<tr>
			<td align="center"><input type="checkbox" name="student" class="sel_all" value="<?php echo $data['id'];?>" /></td>
			<td align="center"><?php echo $index+1;?>.</td>
			<td><?php echo $data['registrationId'];?></td>
			<td>
				<?php echo $data['appl_fname']!=""?$data['appl_fname']." ":"";?>
				<?php echo $data['appl_mname']!=""?$data['appl_mname']." ":"";?>
				<?php echo $data['appl_lname']!=""?$data['appl_lname']." ":"";?>
			</td>
			<td><?php echo $data['program_name'];?></td>
			<td><?php echo $data['intake_name'];?></td>
			<td><?php echo date('d-m-Y', strtotime($data['add_date']));?></td>
			<td><?php echo date('d-m-Y', strtotime($data['dean_approval_date']));?></td>
			<td><?php echo $data['skr'];?></td>
		</tr>
		<?php 
			endforeach;
		}else{
		?>
		<tr>
			<td colspan="9" align="center"><?php echo $this->translate('No item');?></td>
		</tr>
		<?php 
		}
		?>
	</tbody>
</table>