<div class="message toolbar">
    <h2><?php echo $this->translate("Scholarship Country Weightage"); ?></h2>
</div>
<br />


<form id="myForm" action="" method="post" name="myForm" >
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Country Position IN PPP List by IMF")  ;?></td>
            <td><input type="text" name="countryweight[from]"> to <input type="text" name="countryweight[to]"></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="text" name="countryweight[score]"></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>