<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Scholarship Country Weightage"); ?></h2>
</div>
<br />

<form id="myForm" action="" method="post" name="myForm" >
    <input type="hidden" name="countryweight[id]" value="<?php echo $this->countryweight->id; ?>" >
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Country Position IN PPP List by IMF")  ;?></td>
            <td><input type="text" name="countryweight[from]"  value="<?php echo $this->countryweight->from; ?>" > to <input type="text" name="countryweight[to]"  value="<?php echo $this->countryweight->to; ?>" ></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="text" name="countryweight[score]"  value="<?php echo $this->countryweight->score; ?>" ></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>