<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'examiner','action'=>'index'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<?php if ( $this->error != '' ) { ?>
<div class="message error"><?php echo $this->error ?></div>
<br />
<?php } ?>
<form method="post" id="form_topic" onsubmit="return checkForm()">
<table width="100%" class="table vcenter">
	<tr>
		<td width="20%"><?php echo $this->translate('Type')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->examiner_type ?></td>
	</tr>
	<!--<tr>
		<td><?php echo $this->translate('Semester')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->semester_id ?></td>
	</tr>-->
	<tr>
		<td><?php echo $this->translate('Start Date')?></td>
		<td><?php echo $this->form->start_date ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('End Date')?></td>
		<td><?php echo $this->form->end_date ?></td>
	</tr>
	<tr class="normal">
		<td><?php echo $this->translate('Staff')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->staff_id ?></td>
	</tr>
	<tr class="external">
		<td><?php echo $this->translate('Fullname')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->fullname ?></td>
	</tr>
	<tr class="external">
		<td><?php echo $this->translate('Email')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->email ?></td>
	</tr>
	<tr class="external">
		<td><?php echo $this->translate('Password')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->password ?></td>
	</tr>
	<tr class="external">
		<td><?php echo $this->translate('Contact No')?></td>
		<td><?php echo $this->form->contact_no ?></td>
	</tr>
	<tr class="external">
		<td><?php echo $this->translate('Institution')?></td>
		<td><?php echo $this->form->institution ?></td>
	</tr>
	
</table>

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'examiner','action'=>'index'), 'default', true);?>'" />
</div>

</form>

<style type="text/css">
table tr.external { display:none }
</style>
<script type="text/javascript">
	$(function()
	{
		$("input[name=examiner_type]").on('change', function()
		{
			toggleExaminerType();
		});
		
		$(".datepicker").datepicker({dateFormat: "yy-mm-dd"});
		
	});

	function toggleExaminerType()
	{
		var type = $("input[name=examiner_type]:checked").val();
		if ( type != '1' )
		{
			$("tr.normal").show();
			$("tr.external").hide();
			
			$('#staff_id').addClass('reqfield');

			$('#fullname').removeClass('reqfield2');
			$('#username').removeClass('reqfield2');
			$('#password').removeClass('reqfield2');
			$('#email').removeClass('reqfield2');
		}
		else
		{
			$("tr.normal").hide();
			$("tr.external").show();

			$('#fullname').addClass('reqfield2');
			$('#username').addClass('reqfield2');
			$('#password').addClass('reqfield2');
			$('#email').addClass('reqfield2');

			$('#staff_id').removeClass('reqfield');
		}

	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		$("#form_topic .reqfield2").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}            
		
		$(window).unbind('beforeunload');

		return true;
	}
</script>