<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'examiner','action'=>'add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width='40%'><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Type");?></th>
		<!--<th><?php echo $this->translate("Semester");?></th>-->
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'examiner', 'action'=>'edit', 'id'=>$data['id']),'default',true);?>">
				<?php echo $data['examiner_type'] == 0 ? $data['staff_name'] : $data['fullname']; ?>
			</a>
		</td>
		<td align='center'><?php echo $data['examiner_type'] == 0 ? $this->translate('Internal') : $this->translate('External')?></td>
		<!--<td align='center'><?php echo $data['SemesterMainName'] ?></td>-->
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No examiners yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
