<form id='form1' action="<?php echo $this->url(array('module'=>'graduation','controller'=>'award','action'=>'add'), 'default', true);?>" method="post">
	<table class="" >
		<tr>
			<td><?php echo $this->translate('Code'); ?></td>
			<td>
				<input type="text" name='code' id='code' class='input-txt'>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Name'); ?></td>
			<td>
				<input type="text"  name='name' id='name' class='input-txt'>
			</td>
		</tr>	
		<tr>
			<td><?php echo $this->translate('Description'); ?></td>
			<td>
				<textarea name='description' id='description' class='input-txt'></textarea>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Program'); ?></td>
			<td>
				<select class='select' name='IdProgram[]'  id='IdProgram' multiple>
				<?php foreach($this->program_list as $program){?>
					<option value='<?php echo $program['IdProgram']; ?>'><?php echo $program['ProgramCode']; ?> - <?php echo $program['ProgramName']; ?></option>
				<?php } ?>
				</select>
			</td>
		</tr>
	</table>
</form>
