<?php 
	$award = $this->award;
?>
<form id='form1' action="<?php echo $this->url(array('module'=>'graduation','controller'=>'award','action'=>'edit'), 'default', true);?>" method="post">

<input type="hidden" name='id' value="<?php echo $award->id; ?>">
	<table class="" >
		<tr>
			<td><?php echo $this->translate('Code'); ?></td>
			<td>
				<input type="text" name='code' id='code' value="<?php echo $award->code; ?>" class='input-txt'>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Name'); ?></td>
			<td>
				<input type="text"  name='name' id='name' value="<?php echo $award->name; ?>" class='input-txt'>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Description'); ?></td>
			<td>
				<textarea name='description' id='description' class='input-txt'><?php echo $award->description; ?></textarea>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Program'); ?></td>
			<td>
				<select class='select' name='IdProgram[]'  id='IdProgram' multiple>
				<?php 
				foreach($this->program_list as $program){
					if (in_array($program['IdProgram'], $this->award_program)){
						$sel = 'selected';
					}else{
						$sel = '';
					}
				?>
					<option value='<?php echo $program['IdProgram']; ?>' <?php echo $sel;?> ><?php echo $program['ProgramCode']; ?> - <?php echo $program['ProgramName']; ?></option>
				<?php } ?>
				</select>
			</td>
		</tr>
	</table>
</form>
