<script type="text/javascript">
$(function() {
			
	$("#dialog-message").dialog({  //create dialog, but keep it closed
	   autoOpen: false,
	   height: 400,
	   width: 400,
	   modal: true ,
	   buttons: {
	        "Save": function(e) {
					var flag = true;
					
					if ( $('#name').val() == '' ||  $('#code').val() == '' ){
						flag = false;
					}

				    var count = $('#IdProgram').find('option:selected').length;

				    if(count==0){
				    	flag = false;
				    }
													
					if(flag==false){
						alert('All fields are required');
						e.preventDefault();
					}else{					
						$('#form1').submit();
					}
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
		}
	});
});

function showDialog(id){  //load content and open dialog
	url = "<?php echo $this->url(array('module'=>'graduation','controller'=>'award','action'=>'edit'), 'default', true);?>/id/"+id;
    $("#dialog-message").load(url);
    $("#dialog-message").dialog("open");         
}

function showAddDialogAdd(){
	url = "<?php echo $this->url(array('module'=>'graduation','controller'=>'award','action'=>'add'), 'default', true);?>";
	$("#dialog-message").load(url);
	$("#dialog-message").dialog("open");  
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>

			<li class="divider"></li>
			<li>
				<a href="#"  onclick='showAddDialogAdd()'>
					<span class='add'></span>
					<?php echo $this->translate('Add');?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info') ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate('Award Code'); ?></th>
		<th><?php echo $this->translate('Award Name'); ?></th>
		<th><?php echo $this->translate('Award Description'); ?></th>
		<th><?php echo $this->translate('Status'); ?></th>
		<th></th>
	</tr>
	<?php foreach ($this->awards as $award) { ?>
	<tr>
		<td align='center'><?php echo $award['code']; ?></td>
		<td align='center'><?php echo $award['name']; ?></td>
		<td align='center'><?php echo $award['description']; ?></td>
		<td align='center'><?php echo ($award['status']==1) ? 'Active':'Not Active'; ?></td>
		<td width="10%" align="center">
			<a href="#"  onclick='showDialog(<?php echo $award['id']; ?>)'><?php echo $this->translate('Edit'); ?></a>
			|
			<a href="<?php echo $this->Url(array('module' => 'graduation', 'controller' => 'award', 'action' => 'delete', 'id' => $award['id'] )); ?>"
				onclick="return(confirm('Are you sure you want to delete?'));">
				<?php echo $this->translate('Delete'); ?>
			</a>
		</td>
	</tr>
	<?php } ?>
</table>

<div id="dialog-message" title="Awards Details">
<span id='loading'>Loading...</span>
</div>