<script type="text/javascript">
	function del(){

		var id = $('input[name=id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate("Please select any item first"); ?>');
		}else{
			if(confirm('Are you sure to delete?')){
				window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item', 'action'=>'delete'),'default',true); ?>/id/"+id;
			}
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item', 'action'=>'add'),'default',true);?>";
	}

	function searchbox(){
		$('#div_search').show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>

		</ul>
	</div>
</div>
<br />



<div style="width:100%;">
<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Intake")?></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-quit', 'action'=>'charges','intake'=>$entry['IdIntake']),'default',true);?>"><?php echo $entry['IntakeDefaultLanguage']; ?></a>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
</div>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>