<?php
$session = new Zend_Session_Namespace('sis');
$fullname = $session->FullName;
$LastUpdated = $session->LastLogin;
$auth = Zend_Auth::getInstance();
$sesId = Zend_Session::getId();
?>
<style type="text/css">
	#dashboard { margin-top:0px !important; }
	#dashboard-wrap { overflow:hidden; padding:10px; }
	#dashboard-wrap .item { float:left;  position:relative; margin:0 25px 25px 0; width:220px; height:150px; padding:15px;  }
	#dashboard-wrap h3 { margin:0; text-align:center; font-weight:bold; padding:5px 10px; position:absolute; left:-1px; bottom:-1px; width:222px }
	#dashboard-wrap .iconwrap { display:block;transform: scale(1); text-align:center; margin:15px 0; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;  }
	#dashboard-wrap .iconwrap img {  border-radius:50%; background: #ccc; padding:3px;  }
	#dashboard-wrap a { font-size:15px; color:#777; text-align:center;  }
	#dashboard-wrap a:hover { text-decoration:none; }
	/*#dashboard-wrap .item:hover {
		 background-color: #ecf8fb;
		 background: #ecf8fb;
		background: -moz-radial-gradient(center, ellipse cover, #ecf8fb 0%, #dcf0f5 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ecf8fb), color-stop(100%,#dcf0f5));
		background: -webkit-radial-gradient(center, ellipse cover, #ecf8fb 0%,#dcf0f5 100%);
		background: -o-radial-gradient(center, ellipse cover, #ecf8fb 0%,#dcf0f5 100%);
		background: -ms-radial-gradient(center, ellipse cover, #ecf8fb 0%,#dcf0f5 100%);
		background: radial-gradient(ellipse at center, #ecf8fb 0%,#dcf0f5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf8fb, endColorstr='#dcf0f5,GradientType=1 );
		-webkit-transition: background-color 500ms linear;
		-moz-transition: background-color 500ms linear;
		-o-transition: background-color 500ms linear;
		-ms-transition: background-color 500ms linear;
		transition: background-color 500ms linear;
		border-color:#d7eff5;
	}*/

    #dashboard-wrap .item:hover .iconwrap { transition: all .2s ease-in-out;  }
	#dashboard-wrap .item:hover .iconwrap img { background: #7aa1ff
    }
    #dashboard-wrap .item:hover h3 a { color:#4a77f6 }
	/*#dashboard-wrap .item:hover h3 { background:#70cee8 }
	#dashboard-wrap .item:hover h3 a { color:#fff }*/

	#dashboard { overflow:hidden; margin-top:60px; }
	#dashboard .sidebar { width:180px; float:left; }
	#dashboard #dashboard-wrap { margin-left:200px; }

	.welcome { margin-bottom:10px; background:#fcfcfc; position:absolute; width:100%; left:0; border-bottom:1px solid #ebebeb; top:0px; padding:10px 25px; }

	.welcome .icon { color:blue ; font-size:32px; color:#acd9e6;float:left; margin-right:10px;  }
	.welcome h3 { margin-bottom:5px; font-size:22px }
	.welcome p { color:#2c849f }
	.welcome p.desc { color:#ccc }

	.attachments ul { list-style:none; margin-top:15px; }
	.attachments ul li a { font-size:11px !important; }
	.attachments ul li .size { color:#ccc }

	#dashboard .sidebar .box { margin-bottom:15px; background:#eff5f7;}
	#dashboard .sidebar .box .box-content {  padding:5px;  }
	#dashboard .sidebar h3 { font-size:14px; font-weight:bold; padding:5px 10px; background:#20366c; color:#fff; margin-bottom:0 }
	#dashboard .sidebar h3 .icon { font-weight:normal; color:#cde5ec; margin-right:5px; }
	#dashboard .sidebar .box ul { margin-left:5px; list-style:none; }
	#dashboard .sidebar .box ul li { margin-bottom:3px; }

	#dashboard .sidebar .box.notes { background:#feffda; border:1px solid #f5f89a; }
	#dashboard .sidebar .box.notes h3 { border-bottom:1px solid #f5f89a;  background:#feffda; color:#efae23 }
	#dashboard .sidebar .box.notes .icon { color:#dadc90 }
	#dashboard .sidebar .box.notes textarea { width:100%; height:50px; border-radius: 0; background:#fefff0; border-color:#eaebc8 }

	#dashboard .sidebar .box.notes.active { position: absolute; width:400px; z-index:7; webkit-box-shadow: 0px 0px 10px 0px  rgba(255,247,24,0.1); -moz-box-shadow: 0px 0px 10px 0px  rgba(255,247,24,0.1); box-shadow: 0px 0px 10px 0px rgba(255,247,24,0.1);  }
	#dashboard .sidebar .box.notes.active textarea { height:100px; }

	@media only screen and (max-width: 768px)
	{
		#dashboard-wrap .item {margin:0 15px 15px 0; background:#fafafa; width:100px; height:80px; padding:0; }
		#dashboard-wrap .item h3 { width:102px; display:none; }
		#dashboard-wrap .item:hover h3 { display:block; margin:0; font-weight:bold; padding:0px; position:absolute; background:#70cee8; left:-1px; bottom:-1px; width:102px; height:80px; text-align:center; vertical-align:middle; line-height:80px; color:#fff }
		#dashboard-wrap .item .iconwrap { margin:5px; }
	}

	.midline { margin-bottom:10px; color:#eea509 !important; font-size:11px !important; }
</style>

<script type="text/javascript">
	function savenotes()
	{
		var note = $("#notes").val();

		$.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'savenotes'),'default',true);?>",
			data: {'note':note},
			type: 'POST'
		}).done(function ( data ) {
			//done
		});
	}

	function readannouncement(id)
	{
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/ajax-utility/readannouncement",
			type: "post",
			data: {'id':id},
			success: function(data)
			{
				$('#announce-'+id).remove();

			},
			error:function(){
				  alert("failure");
			}
		});

		return false;
	}

	function showAnnouncements()
	{
		$(".announcement:not(:first)").show();
		$(".midline").remove();
		return false;
	}

	$(function()
	{
		$( "#notes" ).focus(function() {
			$('.notes').addClass('active');
		});

		$('#notes').blur( function() {
			$('.notes').removeClass('active');
		});

		var ann = $(".announcement:not(:first)").length;
		if ( (ann+1) > 1 )
		{
			$(".announcement:not(:first)").hide();
			$(".announcement").last().after('<a href="#" onclick="return showAnnouncements()" class="midline">'+ann+' more announcements</a>');
		}
	});
</script>

<div class="welcome">
	<span class="icon icon-gauge"></span>
	<p><?php echo $this->translate('Welcome back')?><?php echo $fullname != '' ? ', <strong>'.$fullname.'</strong>':''?></p>
	<p class="desc"><?php echo $this->translate('Last session')?>: <?php echo $LastUpdated == '' ? $this->translate('Never'): '<time datetime="'.getDateTimeValue(strtotime($LastUpdated)).'">'.time_ago(strtotime($LastUpdated)).'</time>'?>.</p>
</div>



<div id="dashboard">

<div class="sidebar">
	<div class="box">
		<h3><span class="icon icon-users"></span> <?php echo $this->translate('Account')?></h3>
		<div class="box-content">
		<ul>
			<li><a href="<?php echo $this->baseUrl()?>/changepassword">Change Password</a></li>
			<li><a href="<?php echo $this->baseUrl()?>/index/logout">Logout</a></li>
			<li><a href="<?php echo $this->baseUrl()?>/profile">Profile</a></li>
		</ul>
		</div>
	</div>
	<div class="box">
		<h3><span class="icon icon-shuffle"></span> <?php echo $this->translate('Quick Links')?></h3>
		<div class="box-content">
			<ul>
				<!--<li><a href="<?php echo defined('MOODLE_URL') ? MOODLE_URL : "http://mlms.inceif.org/" ?>">MLMS</a></li>-->
				<li><a href="<?php echo Cms_Moodle::getLogin($auth->getIdentity())?>">MLMS</a>

				<?php if ( in_array($auth->getIdentity()->IdRole, array(1,891)) ) {  ?>
				<li><a href="http://crms.inceif.org/crms-gw?uid=<?php echo $this->userDetail['loginName']?>&ups=<?php echo $this->userDetail['passwd']?>&source=<?php echo md5('inceifSMS');?>">CRMS</a></li>
				</li>
				<?php } ?>
				<?php if ($auth->getIdentity()->IdRole != 400 ) {  ?>
				<li><a href="http://e-university.inceif.org/">Student Portal</a></li>
				<li><a href="http://apply.inceif.org/">Online Application</a></li>
				<?php } ?>
				<li><a href="https://inceif.sharepoint.com/Public%20Document%20Center/Documents/Forms/AllItems.aspx?RootFolder=%2FPublic%20Document%20Center%2FDocuments%2Fe-University%20Manuals&FolderCTID=0x012000B4C3DBCDE410024993246BFADAA2EF17&View=%7B02C016E7-4106-4CF4-B409-C18C9C856988%7D">e-U Manual</a></li>
				<li><a href="http://202.73.13.228/e-helpdesk/">e-helpdesk</a></li>
				<li><a href="<?php echo $this->baseUrl()?>/index/thesis-portal" target="_blank">Research Portal</a></li>
			</ul>
		</div>
	</div>
	<div class="box notes">
		<h3><span class="icon icon-doc-text"></span> <?php echo $this->translate('Notes')?></h3>
		<div class="box-content">
			<?php
			$db = getDb();
			$getnote = $db->fetchRow("SELECT notes FROM `tbl_user` WHERE iduser='".$auth->getIdentity()->iduser."' LIMIT 1");
    		$notes = isset($getnote['notes']) ? $getnote['notes'] : '';
			?>
			<textarea onchange="savenotes()" id="notes" placeholder="<?php echo $this->translate('Write something here')?>"><?php echo $this->escape(strip_tags($notes)); ?></textarea>
		</div>
	</div>
</div>


<div id="dashboard-wrap">

	<?php foreach ( $this->importantannouncements as $announce ) :?>
	<div class="announcement" id="announce-<?php echo $announce['id']?>">
		<span class="opt"><a href="#" onclick="return readannouncement('<?php echo $announce['id']?>')">x</a></span>
		<div class="title"><?php echo $announce['title']?></div>
		<div class="text"><?php echo $announce['html'] == 1 ? $announce['content'] : nl2br($announce['content']) ?></div>

		<?php if ( !empty($announce['files']) ) { ?>
		<div class="attachments">
		<ul>
			<?php foreach ( $announce['files'] as $file ) : ?>
			<li><span class="icon icon-attach"></span> <a href="<?php echo DOCUMENT_URL.$file['fileurl']?>" class="fancy"><?php echo $file['filename']?></a> <span class="size"><?php echo format_filesize($file['filesize'])?></span></li>
			<?php endforeach; ?>
		</ul>
		</div>
		<?php } ?>
	</div>
	<?php endforeach; ?>

	<!-- home icons -->
	<?php


	foreach ($this->moduleList as $module):	if ( strtolower($module['label']) != 'home' ) : ?>
		<?php
			$iconname = strtolower(str_replace(' ','',$module['label']));
		?>
		<div class="item" title="<?php echo $this->escape($this->translate($module['title'])); ?>">
			<div class="iconwrap"><a href="<?php echo $this->url(array('module'=>$module['module'],'controller'=>$module['controller'], 'action'=>$module['action']),'default',true); ?>"><img src="<?php echo $this->baseUrl()?>/images/dashboard/<?php echo $iconname?>.png"></a></div>
			<h3><a href="<?php echo $this->url(array('module'=>$module['module'],'controller'=>$module['controller'], 'action'=>$module['action']),'default',true); ?>"><?php echo $this->translate($module['label']); ?></a></h3>
		</div>
	<?php
	endif; endforeach;
	?>
	<!-- /home icons -->

</div>
</div>

<?php
/*
<div id="footer-boxes">
<?php
	foreach ($this->moduleList as $module):

?>
	<a href="<?php echo $this->url(array('module'=>$module['module'],'controller'=>$module['controller'], 'action'=>$module['action']),'default',true); ?>" class="footer-box">
		<h5><?php echo $this->translate($module['label']); ?></h5>
		<p><i><?php echo $this->translate($module['title']); ?></i></p>
	</a>
<?php
	endforeach;
?>
</div>
<div style="clear: both;">&nbsp;</div>
*/
?>
