<form id="myform" name="myform" action = "<?php echo $this->baseUrl()?>/index/login" method= "post" >

<?php $uri = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();?>
<input type="hidden" name="redirect" value="<?php echo $this->escape(strip_tags($uri)); ?>" />

<input type="hidden" value="1" name="IdUniversity" />
<script type="dojo/method" event="onSubmit" >
	if (this.validate()) {
		return true;
	} else {
		return false;
	}
</script>

<div class="username">
	<?php
        $this->lobjform->username->setAttrib('autofocus',true);
        echo $this->lobjform->username;
    ?>
</div>

<div class="password">
	<?php echo $this->lobjform->password;?>
</div> 
<!--<div class="university">
	<?php echo $this->lobjform->IdUniversity;?>
</div>-->

<div class="login button">
	<?php echo $this->lobjform->Login; ?>
	<?php echo $this->lobjform->Reset; ?> 
</div>
<div style="background-color: #0198cd; border-radius: 0 0 8px 8px; color: #FFFFFF; border-top: 3px solid #5fad30; margin: 50px 0 0; height:50px">
	<div class="dunworry">
		<a href="<?php echo $this->baseUrl()?>/forgotpassword"><?php echo $this->translate('Forgot your password?')?></a>
	</div>
</div>

                              
</form>
