
<script>

	$(function() {
		// Handler for .ready() called.
		$( "#container" ).load( "<?php echo $this->url(array('module'=>'application','controller'=>'manual-application','action'=>'section-content'),'default',true) ?>" );
	});

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">		
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>



<div id="content" style="width:100%;"> 		

		<div class="menu">
			<ul>
			<?php 				
			foreach($this->section_list as $list){
				
				//note:list[id] is refer to tagging section id not main section ID
				if($this->id == $list['id']){
					$active = "class='active'";
				}else{
					$active = "";
				}
				
				//check status each section
				//$appSectionStatusDB = new App_Model_Application_DbTable_ApplicantSectionStatus();
				//$checkSectionStatus = $appSectionStatusDB->getStatus($transID,$list['sectionID']);
				$checkSectionStatus=1;
				$checked = "";
				if($checkSectionStatus){
					$checked = '<span class="icon icon-check"></span>';
				}
				
				?>
				<li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'manual-application','action'=>'index','id'=>$list['id']),'default',true) ?>"<?php echo $active;?>> <?php echo $checked;?> <?php echo $list['name'];?></a></li>
			<?php }?>					
			</ul>
		</div>
	</div> <!-- end class menu div -->
	
	
	<div id='container'>			
		
	</div><!-- end content div -->
	
	

</div><!-- end main div -->