<script type="text/javascript">
$(function() {
	
});

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'detail','id'=>$this->schedule_data['aps_location_id']),'default',true); ?>';">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			-->
		</ul>
	</div>
</div>
<br />
<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Intake Id");?></th>
	        	<th><?php echo $this->translate($this->defaultlanguage);?></th>
	        	<th width="70"><?php echo $this->translate("Total Nomor (Online)");?></th>
	        	<th width="70"><?php echo $this->translate("Nomor Used (Online)");?></th>
	        	<th width="70"><?php echo $this->translate("Nomor Vacant (Online)");?></th>
	        	<th width="70"><?php echo $this->translate("Total Nomor (Agent)");?></th>
	        	<th width="70"><?php echo $this->translate("Nomor Used (Agent)");?></th>
	        	<th width="70"><?php echo $this->translate("Nomor Vacant (Agent)");?></th>	
	        	<th>&nbsp;</th>        	
	    	</tr>
	    	<?php if (count($this->paginator)): ?>
	    	<?php $ptbdb = new Application_Model_DbTable_Pintobank();
	    		$afndb = new Application_Model_DbTable_AgentFormNumber();
	    	?>
	    	<?php foreach ($this->paginator as $intake): ?>
	    	<?php 
	    	$rvacant = $ptbdb->getTotalVacant($intake['IdIntake']);
	    	$rused = $ptbdb->getTotalUsed($intake['IdIntake']);
	    	$rtotal=$rvacant+$rused;
	    	
	    	$mvacant = $afndb->getTotalVacant($intake['IdIntake']);
	    	$mused = $afndb->getTotalUsed($intake['IdIntake']);
	    	$mtotal=$mvacant+$mused;	    	
	    	?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	    		<td><?php print_r($this->escape($intake['IntakeId']));?></a></td>
	    		<td ><?php echo $this->escape($intake['IntakeDefaultLanguage']);?></td>
	    		 <td ><?php echo $rtotal;?></td>
	    		 <td ><?php echo $rused;?></td>
	    		 <td ><?php echo $rvacant;?></td>
	    		 <td ><?php  echo $mtotal;?></td>
	    		 <td ><?php  echo $mused;?></td>
	    		 <td ><?php  echo $mvacant;?></td>	
	    		 <td width=200 align="center" >
	    		 | <a href="<?php echo $this->baseUrl();?>/application/nopes/intakenopes/idintake/<?php echo $this->escape($intake['IdIntake']);?>" >Online</a>
	    		 | <a href="<?php echo $this->baseUrl();?>/application/nopes/intakenopesagent/idintake/<?php echo $this->escape($intake['IdIntake']);?>" >Agent</a> |</td>    		 
	    	</tr>
	    	<?php endforeach; ?>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>	    	
	    	<?php endif; ?>
	   </table>
</fieldset>
</body>

