<script type="text/javascript">
$(function() {
	$( "#search-dialog" ).dialog({ 
		autoOpen: false,
		width: 400,
		modal: true,
		buttons: { 
			"Search": function() {
				 
				$("#course_form").submit();
				$(this).dialog("close"); 
			},
			"Close": function() { 
				$(this).dialog("close"); 
			} 
		} 
	});

	$( "#dialog-upload" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                //$( this ).dialog( "close" );
                $('#dialog-upload form').attr('action','/application/batch-agent/upload-omr');
                $('#dialog-upload form').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });

	$( "#dialog-upload-csv" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                //$( this ).dialog( "close" );
                //$('#dialog-upload-csv form').attr('action','/application/batch-agent/upload-csv');
                $('#dialog-upload-csv form').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });

	$( "#dialog-generate" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Generate": function() {
                //$( this ).dialog( "close" );
                //$('#dialog-upload-csv form').attr('action','/application/batch-agent/upload-csv');
                $('#dialog-generate form').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
	
});

function searchbox(){
	//$( "#search-dialog" ).dialog('open');
	window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'batch-agent', 'action'=>'index','scid'=>$this->scid,"upemail"=>1),'default',true); ?>";
}
function uploadOMR(){
	$( "#dialog-upload" ).dialog('open');
	//window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'batch-agent', 'action'=>'upload-omr','scid'=>$this->scid),'default',true); ?>";
}

function uploadCSV(){
	$( "#dialog-upload-csv" ).dialog('open');
	//window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'batch-agent', 'action'=>'upload-csv','scid'=>$this->scid),'default',true); ?>";
}

function generate(){
	$( "#dialog-generate" ).dialog('open');
	//window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'batch-agent', 'action'=>'upload-csv','scid'=>$this->scid),'default',true); ?>";
}

function changeMapping(element){
	$('input:checkbox').removeAttr('checked');

	 $(element).attr('checked','checked');
}
</script>

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="search" href="#" onclick="javascript:generate()">
					<span class='upload_omr'></span>
					<?php echo $this->translate("Generate"); ?>
				</a>
			</li>
				<li>
				<a id="search" href="#" onclick="javascript:uploadCSV()">
					<span class='upload_omr'></span>
					<?php echo $this->translate("Upload CSV"); ?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("No Formulir");?></th>
	        	<th><?php echo $this->translate("Register Code");?></th>
	        	<th><?php echo $this->translate("Status");?></th>
	    	</tr>
	    	<?php if (count($this->paginator)): ?>
	    	<?php foreach ($this->paginator as $nomor): ?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	    		<td><?php echo $this->escape($nomor['billing_no']);?></td>
	    		<td ><?php echo $this->escape($nomor['REGISTER_NO']);?></td>
	    		 <td ><?php echo $this->escape($nomor['status']);?></td>
	    	</tr>
	    	<?php endforeach; ?>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>	
	    	
	    	<?php endif; ?>
	   </table>
</fieldset>
<div id="dialog-upload-csv" title="<?php echo $this->translate("Upload Nopes CSV"); ?>">
<font size=1>CSV format : <br>PAYEE_ID,ADDRESS_1,BILL_REF_1,BILL_REF_2,BILL_REF_3,AMOUNT_TOTAL,REGISTER_NO
</font>    <?php echo $this->form_csv; ?>
</div>
<div id="dialog-generate" title="<?php echo $this->translate("Generate Nopes"); ?>">
		<form name="f1" method="POST">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("First 3-Digit");?></th>
	        	<td><input type="text" name="head"></input>&nbsp;Ex:<font color="red"><b>135</b></font>00001</td>
	    	</tr>
	    	<tr>
	        	<th><?php echo $this->translate("Start with");?></th>
	        	<td><input type="text" name="startid"></input></td>
	    	</tr>
	    	<tr>
	        	<th><?php echo $this->translate("End with");?></th>
	        	<td><input type="text" name="endid"></input></td>
	    	</tr>
	    </table>
	    </form>
</div>