<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'research-activity','action'=>'activity-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
		</ul>
	</div>
</div>
<br />
<?php
$searchbox = !empty($this->formData) ? 0 : 1;
?>
<div id="search_form" style="<?php echo $searchbox == 1 ? 'display:none' : '' ?>">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>


<?php
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Course");?></th>
		<th width="10%"><?php echo $this->translate("Code");?></th>
		<th width="40%"><?php echo $this->translate("Activity")?></th>
		<th width="10%"><?php echo $this->translate('Date Create')?></th>
<!--		<th></th>-->
	</tr>

	<?php
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): ?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'research-activity', 'action'=>'activity-edit', 'id'=>$data['ra_id']),'default',true);?>">
				<?php echo $data['SubjectName']; ?>
			</a>
		</td>
		<td align="center">
			<?php echo $data['SubCode']; ?>
		</td>
		<td>
			<?php

			$researchDB = new Thesis_Model_DbTable_ResearchActivity();
			$activityList = $researchDB->getActivityData($data['ra_id']);


			if($activityList) : ?>
				<ul>
					<?php foreach ($activityList as $act) : ?>
						<li><?php echo $act['DefinitionDesc'] ?></li>
					<?php endforeach; ?>
				</ul>
			<?php else: ?>
				-
			<?php endif;?>
		</td>
		<td align="center">
			<?php echo format_date_to_view($data['created_date'], null); ?>
		</td>
<!--		<td align="center">-->
<!--			<a href="--><?php //echo $this->url(array('module'=>'thesis','controller'=>'research-activity', 'action'=>'activity-delete', 'id'=>$data['ra_id']),'default',true);?><!--">-->
<!--				--><?php //echo 'Delete'; ?>
<!--			</a>-->
<!--		</td>-->
	</tr>
	<?php
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No research yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<script type="text/javascript">
    function searchbox() {
        $('#search_form').toggle();
        return false;
    }
</script>
