<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'research-activity', 'action' => 'activity-setup'), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<br/>

<form method="post" id="form_topic" onsubmit="return checkForm()">
    <h3 class="info"><?php echo $this->translate('Event Details') ?></h3>

    <table width="100%" class="table">
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?> <span class="reqMark">*</span></td>
            <td width="30%"><?php echo $this->form->ra_course ?></td>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Type') ?> <span class="reqMark">*</span></td>
            <td width="30%"><?php echo $this->form->rat_type ?></td>
        </tr>

    </table>

    <br/>

    <div class="form-opt">
        <input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit') ?>" class="btn-submit"/>
        <input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel') ?>"
               class="btn-cancel"
               onclick="window.location ='<?php echo $this->url(array('module' => 'thesis', 'controller' => 'research-activity', 'action' => 'activity-setup'), 'default', true); ?>'"/>
    </div>

</form>

<script type="text/javascript">

    function checkForm() {
        var error = 0;

        $("#form_topic .reqfield").each(function () {
//            if ($(this).attr("type") != 'radio') {
//                var field = $(this).parent().prev().html();

                var p = $(this).val();

                if (p == '') {
                    //alert(field+" cannot be empty");
//                    $(this).parent().prev().addClass("req");
//                    $(this).focus();

                    error = 1;
                    //return false;
                }
//                else {
//                    $(this).parent().prev().removeClass("req");
//                }
//            }
        });

        var total = $('.chk:checked').length;

        if (total == 0) {
            error = 1;
        }

        if (error == 1) {
            alert('Please fill in all the required fields');
            return false;
        }

        $(window).unbind('beforeunload');

        return true;
    }

</script>