

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>
<br><br>

<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	}else {
		return false;
	}
	</script>

	<table width="100%" class="table">
		<tr>
			<td width="20%"><?php echo $this->translate('Scholarship Code')?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->sch_code?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Scholarship Name')?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->sch_name?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Scholarship Name (Malay)')?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->sch_malayName?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Description')?></td>
			<td><?php echo $this->addScholarshipForm->sch_desc?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Amount')?></td>
			<td><?php echo $this->addScholarshipForm->sch_amount ?></td>
		</tr>
	</table>
	
	<br />

	<table class="table" width="100%" class='table'>
		<tr>
			<th colspan='4'><?php echo $this->translate("Fee Info");?></th>
		</tr>

		<tr>
			<td><?php echo $this->translate("Fee Code");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->FeeCode; ?></td>
			<td><?php echo $this->translate("Frequency Mode");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->FreqMode; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Repeat");?><!-- <span class="reqMark">*</span>--></td>
			<td><?php echo $this->addScholarshipForm->Repeat; ?></td>
			<td><?php echo $this->translate("Max Repeat");?><!-- <span class="reqMark">*</span>--></td>
			<td><?php echo $this->addScholarshipForm->MaxRepeat; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Calculation Mode");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->CalculationMode; ?></td>
			<td><?php echo $this->translate("Amount");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->addScholarshipForm->Amount; ?></td>
		</tr>
		<tr>
			<td align="right" colspan="8"><?php echo $this->addScholarshipForm->Add; ?>
				<?php //echo $this->addScholarshipForm->Clear; ?>
			</td>
		</tr>
	</table>
	<table class="table" width="100%" id="hor" cellpadding="3" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Fee Code");?></th>
			<th><?php echo $this->translate("Repeat");?></th>
			<th><?php echo $this->translate("Max Repeat");?></th>
			<th><?php echo $this->translate("Frequency Mode");?></th>
			<th><?php echo $this->translate("Calculation Mode");?></th>
			<th><?php echo $this->translate("Amount");?></th>
			<th></th>
		</tr>
	</table>
	
	<br />


	<div class="form-opt">
		<?php echo $this->addScholarshipForm->save; ?>
	</div>
</form>

<script type="text/javascript">
dojo.addOnLoad(function(){	
	dijit.byId('FeeCode').set('value','');
	dijit.byId('FeeCode').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('Country').set('value','');
	dijit.byId('Country').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('CalculationMode').set('value','');
	dijit.byId('CalculationMode').set('placeHolder','<?php echo $this->translate('Select')?>');
});

function remarkValidation() 
{
	var flag = true;
	var FeeCode = dijit.byId("FeeCode").value;
	var CalculationMode = dijit.byId("CalculationMode").value;
	var Amount = dijit.byId("Amount").value;

	if(FeeCode=='' && CalculationMode =='' && Amount =='' )
	{                         
		dijit.byId("FeeCode").set( "state", "Error" );
		dijit.byId("CalculationMode").set( "state", "Error" );
		dijit.byId("Amount").set( "state", "Error" );
		flag = false; 
	}

	if(FeeCode=='') {
		dijit.byId("FeeCode").set( "state", "Error" );
		var flag = false;        
	}

	if(CalculationMode == ''){

	dijit.byId("CalculationMode").set( "state", "Error" );
	flag = false;

	}
	if(Amount == '' || isNaN(Amount)){
	dijit.byId("Amount").set( "state", "Error" );
	flag = false;
	}

	if(flag == true) {
	RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
var rowid = 1;


function RemarkdetailsInsert() {
	
	var FeeCodeDV = dijit.byId("FeeCode").displayedValue;
	var FeeCode = dijit.byId("FeeCode").value;
	
	//var DescriptionDV = dijit.byId("Description").displayedValue;
	//var Description = $("#Description").val();
		
    var CalculationModeDV = dijit.byId("CalculationMode").displayedValue;
	var CalculationMode = dijit.byId("CalculationMode").value;
        
	var AmountDV = dijit.byId("Amount").displayedValue;
	var Amount = dijit.byId("Amount").value;

	//var RepeatDV = dijit.byId("Repeat").displayedValue;
	//var Repeat = dijit.byId("Repeat").value;
	//if(Repeat == 1) {
        if ($('#Repeat').is(':checked')){
            var RepeatDV = 'Y';
            var Repeat = 1;
	}else{
            RepeatDV = 'N';
            var Repeat = 0;
        }

	var MaxRepeatDV = dijit.byId("MaxRepeat").displayedValue;
	var MaxRepeat = dijit.byId("MaxRepeat").value;

	var FreqModeDV = dijit.byId("FreqMode").displayedValue;
	var FreqMode = dijit.byId("FreqMode").value;

	
	batchArray.push(FeeCode);
        
	if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("Duplicate entry not allowed");
			
	}
	else{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);
		var tcol5=trow.insertCell(4);
		var tcol6=trow.insertCell(5);
		var tcol7=trow.insertCell(6);

		tcol2.align = 'center';
                tcol3.align = 'center';
                tcol4.align = 'center';
                tcol5.align = 'center';
                tcol6.align = 'center';
                tcol7.align = 'center';
		//var tcol5=trow.insertCell(4);
		tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodeGrid[]>"+FeeCodeDV;
		//tcol2.innerHTML="<input type='hidden' value='"+Description+"' name=DescriptionGrid[]>"+Description;
		tcol2.innerHTML="<input type='hidden' value='"+Repeat+"' name=RepeatGrid[]>"+RepeatDV;
		tcol3.innerHTML="<input type='hidden' value='"+MaxRepeat+"' name=MaxRepeatGrid[]>"+MaxRepeatDV;
		tcol4.innerHTML="<input type='hidden' value='"+FreqMode+"' name=FreqModeGrid[]>"+FreqModeDV;
		tcol5.innerHTML="<input type='hidden' value='"+CalculationMode+"' name=CalculationModeGrid[]>"+CalculationModeDV;
		tcol6.innerHTML="<input type='hidden' value='"+Amount+"' name=AmountGrid[]>"+AmountDV;
		tcol7.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this); return false;"><?php echo $this->translate('Delete')?></a>';
		rowid++;		
	}
	
}

function deleteRow(r)
{      
	var dStat = confirm("<?php echo $this->translate('Are you sure you want to delete this?')?>");
	if(dStat == true){     
		rowid--;	
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);        
		document.getElementById('hor').deleteRow(i);
	}
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;   						// to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j])
				return true;
		}
	}
	return false;
}

Array.prototype.unique = function () {
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++) {
		for(var x = 0, y = r.length; x < y; x++) {
			if(r[x]==this[i]) {
					continue o;
			  }
		}
		r[r.length] = this[i];
	}
	return r;
}
</script>