<script>
    function checkForm(){
        if ($('.subject:checked').length > 0){
            if ($('.subject:checked').length > <?php echo $this->coveredCourse; ?>){
                alert('Only <?php echo $this->coveredCourse; ?> subject covered, You select more than <?php echo $this->coveredCourse; ?> subjects');
                return true;
            }else{
                var a = confirm('Are sure to proceed');

                if (a == true){
                    return true;
                }else{
                    return false;
                }
            }
        }else{
            alert('Please tick atleast one subject');
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'processing-student'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<h3><?php echo $this->translate('Registered Courses')?></h3>

<form method="post" id="formsub" name="formsub" onsubmit="return checkForm()">
<table width="100%" class="table">
	<tr>
            <th width="25px"></th>
            <th><?php echo $this->translate('Course Name')?></th>
            <th><?php echo $this->translate('Course Code')?></th>
	</tr>
        <?php if ($this->courses){ ?>
	<?php foreach ( $this->courses as $course ) { ?>
        <?php 
        if (in_array($course['IdSubject'], $this->courseArr)){
            $checked = 'checked=""';
        }else{
            $checked = '';
        }
        ?>
	<tr>
            <td align="center"><input type="checkbox" class="subject" name="sub[<?php echo $course['IdStudentRegSubjects']?>]" value="<?php echo $course['IdSubject']?>" <?php echo $checked; ?> /></td>
            <td><?php echo $course['SubjectName']?></td>
            <td><?php echo $course['SubCode']?></td>
	</tr>
        <?php } ?>
        <tr>
            <td colspan="3" align="center"><input type="submit" name="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit"/></td>
        </tr>
	<?php }?>
</table>
</form>