<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />

<div id="tabs">
	<ul>

	</ul>
</div>
<!--	
<form method="post" action="" name="form_desc">
	<textarea id="description" name="description"><?php if ( isset($this->description) ) {  echo $this->description; } ?></textarea>

	<div class="form-opt">
		<input class="btn-submit" type="submit" name="savedesc" id="save" value="Submit" />
	</div>
</form>


<h3><?php echo $this->translate('Status List')?></h3>

<table class="table" width="100%">
	<thead>
		<tr>	
			<th><?php echo $this->translate('Name')?></th>
			<th><?php echo $this->translate('Description')?></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<?php  foreach ( $this->status as $status ) : ?>
		<tr>
			<td><?php echo $status['DefinitionCode']?></td>
			<td><?php echo $status['DefinitionDesc']?></td>
			<td width="25%" class="options center"><a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/status-template/id/<?php echo $status['idDefinition']?>"><?php echo $this->translate('Edit')?></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
-->

<script type="text/javascript">
	$(function()
	{
		$("#tabs").tabs();
		$( ".datepicker" ).datepicker({
			dateFormat: 'yy-mm-dd',
			changeMonth: true,
			changeYear: true
		});

		CKEDITOR.replace( 'description',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		} );
	});
</script>