<?php $this->applicant_financials = array(); ?>
<div class="message toolbar">
    <h2><?php echo $this->translate('Sponsorship Application Form'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'my-application'),'default',true);?>">
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<form id="apply_form" method='post' dojoType="dijit.form.Form">
    <script type="dojo/method" event="onSubmit">
        valid = true;
        if(typeof($('[name="sa_af_id"]:checked').val()) == 'undefined' )   {
            alert('<?php echo $this->translate('Please Select a sponsorship to apply'); ?>');
            valid = false;
        } else {

        }
        return(valid);
    </script>
	<table class="table" width="100%">
		<tr>
			<th width="100px" colspan="2"><?php echo $this->translate("Sponsor")?></th>
		</tr>
        <?php 
        if(count($this->applicant_financials) > 0) {
            foreach ($this->applicant_financials as $sponsor) {
        ?>
        <tr>
            <td width="20px"><input type="radio" name="sa_af_id" value="<?php echo $sponsor['key']; ?>"></td>
            <td><?php echo $sponsor['value']?></td>
        </tr>
        <?php 
            }
        ?>
        <tr>
            <td colspan="2">
                <?php 
                $this->SponsorApplicationForm->save->setLabel('Apply');
                echo $this->SponsorApplicationForm->save; 
                ?>
            </td>
        </tr>
        <?php } else {
        ?>
        <tr>
            <td colspan="2">
                <?php 
                echo $this->translate('There are no registered sponsors to apply from');
                ?>
            </td>
        </tr>
        <?php 
        } 
        ?>
		
	</table>
</form>

<script type="text/javascript">
</script>