<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->sponsor_application){
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <thead>
        <tr>
            <th>No</th>
            <th>Applicant Name</th>
            <th>Applicant ID</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Name of University</th>
            <th>Award</th>
            <th>Result / CGPA</th>
            <th>Year Graduated</th>
            <th>Proficiency in English</th>
            <th>Employment Status</th>
            <th>Visa Status</th>
            <th>Visa Expiry Date</th>
            <th>Semester Applied</th>
            <th>Application Status</th>
            <th>Applied On</th>
            <th>Accept/Declined Offer On</th>
            <th>Self Payment</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        <?php
        $no = 0;
        foreach ($this->sponsor_application as $key => $loop){
        $no++;
        ?>
        <tr>
            <td align='center'><?php echo $no; ?></td>
            <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
            <td><?php echo $loop['at_pes_id']; ?></td>
            <td align="center">
                <?php 
                echo $this->applicant_info[$key]['age'];
                ?>
            </td>
            <td align='center'><?php echo $loop['appl_gender']==1 ? 'Male':'Female'; ?></td>
            <td><?php echo $loop['nationname'] ?></td>
            <td><?php echo $this->applicant_info[$key]['institutionname']; ?></td>
            <td><?php echo $this->applicant_info[$key]['degree_awarded']; ?></td>
            <td><?php echo $this->applicant_info[$key]['result']; ?></td>
            <td><?php echo $this->applicant_info[$key]['yeargraduate']; ?></td>
            <td><?php echo $this->applicant_info[$key]['engproname']; ?></td>
            <td><?php echo $this->applicant_info[$key]['empstatusname']; ?></td>
            <td><?php echo $this->applicant_info[$key]['visastatusname']; ?></td>
            <td><?php echo $this->applicant_info[$key]['visaexpirydate']; ?></td>
            <td><?php echo $loop['IntakeDesc']; ?></td>
            <td align='center'><?php echo $this->status[$loop["sa_status"]];?></td>
            <td align="center"><?php echo format_date_to_view($loop["sa_createddt"],'full');?></td>
            <td align="center"><?php echo $loop["sa_acceptdeclinedate"] != null ? format_date_to_view($loop["sa_acceptdeclinedate"],'full'):'';?></td>
            <td align="right"><?php echo $this->applicant_info[$key]['payment']?></td>
            <td><?php echo $loop['sa_remarks']; ?></td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<?php 
} 
?>