<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->sponsor_application){
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <thead>
        <tr>
            <th colspan="7"></th>
            <th colspan="<?php echo (count($this->grade)+1); ?>">Academic Transcript</th>
            <?php
            if ($this->programInfo['IdScheme']==11) {
                ?>
                <th rowspan="2">CGPA</th>
                <?php
            }
            ?>
            <th rowspan="2">Remarks</th>
        </tr>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Student ID</th>
            <th>Programme</th>
            <th>Mode</th>
            <th>Religion</th>
            <th>Nationality</th>
            <?php
            if (count($this->grade) > 0) {
                foreach ($this->grade as $keygrade => $grade) {
                    ?>
                    <th><?php echo $grade['DefinitionDesc']; ?></th>
                    <?php
                }
            }
            ?>
            <th>No of Papers Attempted</th>
        </tr>
    </thead>
    <tbody>
        <?php
        $no = 0;
        foreach ($this->sponsor_application as $loop){
        $no++;
        ?>
        <tr>
            <td><?php echo $no; ?></td>
            <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
            <td><?php echo $loop['registrationId']; ?></td>
            <td><?php echo $loop['ProgramCode']; ?></td>
            <td><?php echo $loop['mode'] ?></td>
            <td><?php echo $loop['appl_religion']==99 ? $loop['appl_religion_others']:Studentfinance_Model_DbTable_Sponsor::getDefination($loop['appl_religion']); ?></td>
            <td><?php echo Studentfinance_Model_DbTable_Sponsor::getCountryS($loop['appl_nationality']); ?></td>
            <?php
            if (count($this->grade) > 0) {
                $totalpaper = 0;
                foreach ($this->grade as $keygrade => $grade) {
                    $totalpaper = $totalpaper + $loop['transcript_info']['cap'][trim($grade['DefinitionCode'])];
                    ?>
                    <td><?php echo $loop['transcript_info']['cap'][trim($grade['DefinitionCode'])]; ?></td>
                    <?php
                }
            }
            ?>
            <td><?php echo $totalpaper; ?></td>
            <?php
            if ($this->programInfo['IdScheme']==11) {
                ?>
                <td><?php echo $loop['transcript_info']['cgpa']; ?></td>
                <?php
            }
            ?>
            <td><?php echo $loop['sre_remarks']; ?></td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<?php 
} 
?>