<script type="text/javascript">

    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });
        
        $( "#tabs" ).tabs();
    });
    
    function addSchlarship(){
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }
    
    function editScholarship(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }
    
    function delScholarship(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
			<li>
				<a href="#" onclick="javascript:addSchlarship()">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<br />
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Code");?></th>
            <th><?php echo $this->translate("Name");?></th>
            <th><?php echo $this->translate("Malay Name");?></th>
            <th><?php echo $this->translate("Description");?></th>
			<th><?php echo $this->translate("Amount");?></th>
            <th><?php echo $this->translate("Create Date");?></th>
            <th><?php echo $this->translate("Create By");?></th>
			<th></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if (count($this->scholarshipList)){
            foreach ($this->scholarshipList as $scholarshipList){
        ?>
            <tr id="<?php echo $scholarshipList["sch_Id"];?>">
                <td><?php echo $scholarshipList["sch_code"];?></td>
                <td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship', 'id' =>  $scholarshipList["sch_Id"] ));?>"><?php echo $scholarshipList["sch_name"];?></a></td>
                <td><?php echo $scholarshipList["sch_malayName"];?></td>
                <td><?php echo $scholarshipList["sch_desc"];?></td>
				<td align='center'><?php echo $scholarshipList['sch_amount']?></td>
                <td><?php echo $scholarshipList["sch_addDate"];?></td>
                <td align="center"><?php echo ($scholarshipList["sch_addBy"] != 0 ? Application_Model_DbTable_ApplicationInitialConfig::getUserName($scholarshipList["sch_addBy"]):'n/a');?></td>
               
				<td class="options center">
					<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship', 'id' =>  $scholarshipList["sch_Id"] ));?>"><?php echo $this->translate('Edit')?></a> | <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship', 'id' => $scholarshipList["sch_Id"]));?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete this?')?>')"><?php echo $this->translate('Delete')?></a>
				</td>
            </tr>
        <?php 
            }
        } 
        ?>
    </tbody>
</table>
