<div class="message toolbar">
    <h2><?php echo $this->translate('Sponsorship Applications'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>

<br></br>
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Sponsor");?></th>
            <th><?php echo $this->translate("Applicant");?></th>
            <th><?php echo $this->translate("Type");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Applied On");?></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if (count($this->applications)){
            foreach ($this->applications as $key => $application) {
                $applicant_name ='';
                if(!empty($this->applicant_info[$key])) {
                    $applicant_name = $this->applicant_info[$key]->FName . ' ' .$this->applicant_info[$key]->MName . ' ' . $this->applicant_info[$key]->LName;
                }
        ?>
            <tr id="<?php echo $application["sa_id"];?>">
                <td align="center">
                	<?php 
                	if(!empty($this->sponsor_info[$key])) {
                		echo $this->sponsor_info[$key]->af_sponsor_name;
                	} else {

                	}
                ?>
                </td>
                <td><?php echo $applicant_name;?></td>
                <td><?php echo $this->cust_type[$application["sa_cust_type"]];?></td>
                <td><?php echo $this->status[$application["sa_status"]];?></td>
                <td><?php echo $application["sa_createddt"];?></td>
            </tr>
        <?php 
            }
        } 
        ?>
        <tr>
		<td colspan="5" align="right">
			<div class="pagination">
				<?php echo $this->paginationControl($this->applications,'Sliding','/partials/my_pagination_control.phtml'); ?>
			</div>																   
		</td>
	</tr>
    </tbody>
</table>