<div class="message toolbar">
    <h2><?php echo $this->translate('My Sponsorship Application'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>
<br></br>

<br></br>
<form method="post" id="approval_form">
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Sponsor");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Applied On");?></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if (count($this->applications)){
            foreach ($this->applications as $key => $application) {
                $applicant_name ='';
                if(!empty($this->applicant_info[$key])) {
                    $applicant_name = $this->applicant_info[$key]->FName . ' ' .$this->applicant_info[$key]->MName . ' ' . $this->applicant_info[$key]->LName;
                }
        ?>
            <tr id="<?php echo $application["sa_id"];?>">
                <td align="center"><?php echo $application["sponsor_name"];?></td>
                <td><?php echo $this->status[$application["sa_status"]];?></td>
                <td><?php echo $application["sa_createddt"];?></td>
            </tr>
        <?php 
            }
        } else {
        ?>
        	<tr >
                <td colspan="3"> <?php echo $this->translate('No Sponsorship Application'); ?></td>
            </tr>
        <?php
        }
        ?>
    </tbody>
</table>
</form>

<script type="text/javascript">
    
    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });
        
        $( "#tabs" ).tabs();
    });

    function approval_submit() {
        $('#approval_form').submit();
    }
    
    function addSchlarship() {
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }
    
    function editScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }
    
    function delScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }

</script>