<div class="message toolbar">
    <h2><?php echo $this->translate('Process Sponsorship Application'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->applications) > 0){
            ?>
            <li>
                <a href="#" onclick='return print();'>
                <span class='download'></span>
                <?php echo $this->translate("Export");?>
                </a>
            </li>
            <?php
            }
            ?>
            <li>
                <a href="#" onclick="$('#search_form').toggle(); return false;">
                    <span class='search'></span>
                    <?php echo $this->translate('Search')?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br>

<div id="search_form" style="display:none">
    <fieldset>
        <legend><?php echo $this->translate('Search')?></legend>
        <form method="post" id="searchform" name="searchform">
        <table width="100%">
            <tr>
                <td width="25%"><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->searchForm->Program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->searchForm->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester Applied'); ?></td>
                <td><?php echo $this->searchForm->SemesterApplied; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Applicant Name'); ?></td>
                <td><?php echo $this->searchForm->StudentName; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Applicant ID'); ?></td>
                <td><?php echo $this->searchForm->StudentID; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->searchForm->Status; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Payment Start Date'); ?></td>
                <td><?php echo $this->searchForm->paymentdateto; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Payment End Date'); ?></td>
                <td><?php echo $this->searchForm->paymentdate; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" value="search" class="btn_submit" name="search" id="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" value="clear" class="btn_submit" name="clear" id="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<br/>
<form method="post" id="approval_form" onsubmit="return confirmation();">
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th width="10px"></th>
            <th><?php echo $this->translate("Applicant");?></th>
            <th><?php echo $this->translate("Applicant ID");?></th>
            <th><?php echo $this->translate("Nationality")?></th>
            <th><?php echo $this->translate("Age")?></th>
            <th><?php echo $this->translate("Degree Awarded")?></th>
            <th><?php echo $this->translate("Scholarship");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Semester Applied");?></th>
            <th><?php echo $this->translate("Start Date");?></th>
            <!--<th><?php //echo $this->translate("End Date");?></th>-->
            <th><?php echo $this->translate("Applied On");?></th>
            <th><?php echo $this->translate("Accept/Declined Offer On");?></th>
            <th><?php echo $this->translate("Self Payment (MYR)");?></th>
            <th></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if ($this->applications && count($this->applications) > 0){
            foreach ($this->applications as $key => $application) {
                $applicant_name ='';
		$appl_link = '#';
                if(!empty($this->applicant_info[$key])) {
                    if($application->sa_cust_type == 1) {
                        $applicant_name = $this->applicant_info[$key]->FName . ' ' .$this->applicant_info[$key]->MName . ' ' . $this->applicant_info[$key]->LName;
						
                    } else if($application->sa_cust_type == 2) {
                        $applicant_name = $this->applicant_info[$key]['appl_fname'].' '.$this->applicant_info[$key]['appl_mname'].' '.$this->applicant_info[$key]['appl_lname'];
						
                    }
                }

                if ( $application['sa_cust_type'] == 2 ){
                    $app_link = $this->baseUrl().'/application/index/view/txn_id/'.$application['sa_cust_id'];
                } else {
                    $app_link = $this->baseUrl().'/records/studentprofile/student-profile/id/'.$application['sa_cust_id'];
                }
        ?>
        <tr id="<?php echo $application["sa_id"];?>">
            <td><input type="checkbox" id="check_<?php echo $application["sa_id"]; ?>" class="<?php echo $this->status[$application["sa_status"]];?> checkstudent" name="sa_id[]" value="<?php echo $application["sa_id"]; ?>"  <?php echo $application["sa_status"]==8 ? '':'disabled=""' ?> onchange="datefield(<?php echo $application["sa_id"]; ?>);"></td>
            <td><?php echo $applicant_name; ?></td>
            <td align='center'><?php echo $this->applicant_info[$key]['at_pes_id']; ?></td>
            <td><?php echo $this->applicant_info[$key]['Nationality']?></td>
            <td align='center'><?php echo $this->applicant_info[$key]['age']?></td>
            <td><?php echo $this->applicant_info[$key]['degree_awarded']?></td>
            <td align="center"><?php echo $application["sponsor_name"] == '' && $application['sch_name'] != '' ? $application['sch_name'] : $application['sponsor_name'];?></td>
            <td align='center'><?php echo $this->status[$application["sa_status"]];?></td>
            <td align='center'><?php echo $application["IntakeDesc"];?></td>
            <td align='center'><input type="text" value="<?php echo $application["sa_start_date"]==null ? '':date('d-m-Y', strtotime($application["sa_start_date"])); ?>" class="start_date input-txt" id="start_date_<?php echo $application["sa_id"]; ?>" name="start_date[<?php echo $application["sa_id"]; ?>]" disabled=""></td>
            <!--<td align='center'><input type="text" value="<?php //echo $application["sa_end_date"]==null ? '':date('d-m-Y', strtotime($application["sa_end_date"])); ?>" class="end_date input-txt" id="end_date_<?php //echo $application["sa_id"]; ?>" name="end_date[<?php //echo $application["sa_id"]; ?>]" disabled=""></td>-->
            <td align="center"><?php echo format_date_to_view($application["sa_createddt"],'full');?></td>
            <td align="center"><?php echo $application["sa_acceptdeclinedate"] != null ? format_date_to_view($application["sa_acceptdeclinedate"],'full'):'';?></td>
            <td align="right"><?php echo $this->applicant_info[$key]['payment']?></td>
            <td align="center">
                <a href="<?php echo $this->baseUrl().'/application/index/edit/id/'.$application['sa_cust_id'].'/idSection/1'; ?>" target="_blank"><?php echo $this->translate('View'); ?></a>
                <?php
                if ($application["sa_status"]!=1){
                ?>
                |
                <a href="<?php echo $this->baseUrl().'/studentfinance/scholarship/revert-application-applicant/id/'.$application['sa_id']; ?>" target="_blank"><?php echo $this->translate('Revert'); ?></a>
                <?php 
                }
                ?>
                <!--|
                <a href="javascript:void(0);" id="viewemail" onclick="view_email(<?php //echo $application['sa_id']?>)"><?php //echo $this->translate('Offer Letter Preview'); ?></a>-->
                <?php
                if ($application["sa_status"] != 1) {
                    $SponsorModel = new Studentfinance_Model_DbTable_Sponsor();

                    if ($application['sct_schId'] !== '' && $application['sct_schId'] != null) {
                        //email part
                        $info_student = $SponsorModel->getAppSetup(array(
                            'application_type' => 0,
                            'type' => 'applicant',
                            'stype' => 1,
                            'program_id' => $application['ap_prog_id'],
                            'program_scheme_id' => $application['ap_prog_scheme'],
                            'student_category' => $application['appl_category'],
                            'sch_type' => $application['sct_schId']
                        ));

                        if ($info_student) {
                            $getAttachment = $SponsorModel->getAttachmentList($info_student['id'], 969);

                            if ($getAttachment) {
                                foreach ($getAttachment as $attachment) {
                                    ?>
                                    |
                                    <a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship', 'action' => 'preview-offer-letter-pdf', 'id' => $application['sa_id'], 'tpl_id' => $attachment['att_tpl_id']), "default", true); ?>"
                                       id="viewpdf"><?php echo $this->translate('Offer Letter PDF'); ?></a>
                                    <?php
                                }
                            }
                        }
                    }
                }
                ?>
            </td>
        </tr>
        <?php 
        }
            ?>
            <tr>
                <td colspan="10" class="center">
                    <select class="select" id="action-process" name="action-process" onchange="actionProcess(this.value);">
                        <option label="OFFER" value="2">OFFER</option>
                        <option label="REJECT" value="3">REJECT</option>
                        <option label="SHORTLISTED" value="8">SHORTLISTED</option>
                        <option label="OFFER - ACCEPT" value="9">OFFER - ACCEPT</option>
                        <option label="OFFER - DECLINE" value="10">OFFER - DECLINE</option>
                    </select>
                    <br/>
                    <br/>
                    <textarea name="remarks" value="" placeholder="Place remarks here..."></textarea>
                    <br/>
                    <br/>
                    <input type="submit" class="NormalBtn" name="shortlisted" value="Shortlisted" id="shortlisted" style="display: none;">
                    <input type="submit" class="NormalBtn" name="offeraccept" value="Offer Accept" id="offeraccept" style="display: none;">
                    <input type="submit" class="NormalBtn" name="offerdecline" value="Offer Decline" id="offerdecline" style="display: none;">
                    <input type="submit" class="NormalBtn" name="approve" value="Offer" id="approve">
                    <input type="submit" class="NormalBtn" name="reject" value="Reject" id="reject" style="display: none;">
                </td>
            </tr>
        <?php
        }else{
        ?>
            <tr>
                <td align="center" colspan="10"><?php echo $this->translate('No Record Found'); ?></td>
            </tr>
        <?php
        }
        ?>

    </tbody>
</table>
</form>

<script type="text/javascript">
    
    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });
        
        $( "#tabs" ).tabs();

        $( ".start_date" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1
        });

        $( ".end_date" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1
        });

        $( "#paymentdateto" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1
        });

        $( "#paymentdate" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1
        });
    });

    function approval_submit() {
        $('#approval_form').submit();
    }
    
    function addSchlarship() {
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }
    
    function editScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }
    
    function delScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }
    
    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'get-semester-applied'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('SemesterApplied');
            },
            complete: function() {
		hideLoading('SemesterApplied');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
            });
            $('#SemesterApplied').html(content);
        })
        .fail(function() {
            alert("error load semester"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }

    function datefield(sa_id){

        if ($('#check_'+sa_id).is(":checked")){
            $('#start_date_'+sa_id).removeAttr('disabled');
            $('#end_date_'+sa_id).removeAttr('disabled');
            //$('#start_date_'+sa_id).attr('required', true);
            //$('#end_date_'+sa_id).attr('required', true);
        }else{
            $('#start_date_'+sa_id).attr('disabled', true);
            $('#end_date_'+sa_id).attr('disabled', true);
            //$('#start_date_'+sa_id).removeAttr('required');
            //$('#end_date_'+sa_id).removeAttr('required');
        }
    }

    function actionProcess(id){
        if (id == 2){
            $('#approve').show();
            $('#shortlisted').hide();
            $('#offeraccept').hide();
            $('#offerdecline').hide();
            $('#reject').hide();
            
            $('.APPLIED').attr('disabled', true);
            $('.OFFERED').attr('disabled', true);
            $('.REJECTED').attr('disabled', true);
            $('.SHORTLISTED').removeAttr('disabled');
            $('.OFFERED-ACCEPTED').attr('disabled', true);
            $('.OFFERED-DECLINED').attr('disabled', true);
        }else if (id == 3){
            $('#approve').hide();
            $('#shortlisted').hide();
            $('#offeraccept').hide();
            $('#offerdecline').hide();
            $('#reject').show();
            
            $('.APPLIED').removeAttr('disabled');
            $('.OFFERED').attr('disabled', true);
            $('.REJECTED').attr('disabled', true);
            $('.SHORTLISTED').removeAttr('disabled');
            $('.OFFERED-ACCEPTED').attr('disabled', true);
            $('.OFFERED-DECLINED').attr('disabled', true);
        }else if (id == 8){
            $('#approve').hide();
            $('#shortlisted').show();
            $('#offeraccept').hide();
            $('#offerdecline').hide();
            $('#reject').hide();
            
            $('.APPLIED').removeAttr('disabled');
            $('.OFFERED').attr('disabled', true);
            $('.REJECTED').attr('disabled', true);
            $('.SHORTLISTED').attr('disabled', true);
            $('.OFFERED-ACCEPTED').attr('disabled', true);
            $('.OFFERED-DECLINED').attr('disabled', true);
        }else if (id == 9){
            $('#approve').hide();
            $('#shortlisted').hide();
            $('#offeraccept').show();
            $('#offerdecline').hide();
            $('#reject').hide();
            
            $('.APPLIED').attr('disabled', true);
            $('.OFFERED').removeAttr('disabled');
            $('.REJECTED').attr('disabled', true);
            $('.SHORTLISTED').attr('disabled', true);
            $('.OFFERED-ACCEPTED').attr('disabled', true);
            $('.OFFERED-DECLINED').attr('disabled', true);
        }else if (id == 10){
            $('#approve').hide();
            $('#shortlisted').hide();
            $('#offeraccept').hide();
            $('#offerdecline').show();
            $('#reject').hide();
            
            $('.APPLIED').attr('disabled', true);
            $('.OFFERED').removeAttr('disabled');
            $('.REJECTED').attr('disabled', true);
            $('.SHORTLISTED').attr('disabled', true);
            $('.OFFERED-ACCEPTED').attr('disabled', true);
            $('.OFFERED-DECLINED').attr('disabled', true);
        }
        
        $('.checkstudent').removeAttr('checked');
    }
    
    function confirmation(){
        
        if ($('.checkstudent:checked').length > 0){
            if (confirm('Are you sure to proceed')){
                return true;
            }else{
                return false;
            }
        }else{
            alert('Please tick atleast one applicant');
            return false;
        }
    }
    
    function print(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'export-application-applicant'),'default',true);?>";
	$('#searchform').attr('action',url);
	$('#searchform').submit();
        return true;
    }

    function view_email(id){
        var content = "";
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'preview-offer-letter'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
        })
            .done(function(data) {
                content = data;

                $("#fancybox").fancybox({
                    helpers: {
                        title : {
                            type : 'float',
                            fitToView: false,
                            width: 750,
                            height: 500,
                            autoSize: false,
                            closeClick: false,
                            openEffect: 'none',
                            closeEffect: 'none'
                        }
                    }
                });
                $.fancybox({ content: content });
            })
            .fail(function() {
                alert("error load document checklist");
            });
    }
</script>