<div class="message toolbar">
    <h2><?php echo $this->translate('Sponsorship Re-Application Approval'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->applications) > 0){
            ?>
            <li>
                <a href="#" onclick='return print();'>
                <span class='download'></span>
                <?php echo $this->translate("Export");?>
                </a>
            </li>
            <?php
            }
            ?>
            <li>
                <a href="#" onclick="$('#search_form').toggle(); return false;">
                <span class='search'></span>
                <?php echo $this->translate('Search')?></a>
            </li>
        </ul>
    </div>
</div>
<br>

<div id="search_form" style="display:none">
    <fieldset>
        <legend><?php echo $this->translate('Search')?></legend>
        <form method="post" id="searchform" name="searchform">
            <table width="100%">
                <tr>
                    <td width="25%"><?php echo $this->translate('Programme'); ?></td>
                    <td><?php echo $this->searchForm->Program; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Programme Scheme'); ?></td>
                    <td><?php echo $this->searchForm->ProgramScheme; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Semester Applied'); ?></td>
                    <td><?php echo $this->searchForm->SemesterApplied; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Student Name'); ?></td>
                    <td><?php echo $this->searchForm->StudentName; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Student ID'); ?></td>
                    <td><?php echo $this->searchForm->StudentID; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Status'); ?></td>
                    <td><?php echo $this->searchForm->Status; ?></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" value="search" class="btn_submit" name="search" id="search"><?php echo $this->translate('Search'); ?></button>
                        <button type="submit" value="clear" class="btn_submit" name="clear" id="clear"><?php echo $this->translate('Clear'); ?></button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<br/>
<form method="post" id="approval_form" onsubmit="return confirmation();">
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
    <tr>
        <th width="10px"></th>
        <th><?php echo $this->translate("Student Name");?></th>
        <th><?php echo $this->translate("Student ID");?></th>
        <th><?php echo $this->translate("Scholarship");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Semester Applied");?></th>
        <th></th>
    </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
    <?php
    if (count($this->applications)){
        foreach ($this->applications as $key => $application) {
            $applicant_name = $application['appl_fname'].' '.$application['appl_lname'];
            $app_link = $this->baseUrl().'/studentfinance/scholarship/view-reapplication/id/'.$application['sre_id'];
            $course_link = $this->baseUrl().'/studentfinance/scholarship/reapplication-course/id/'.$application['sre_id'];
            ?>
            <tr id="<?php echo $application["sre_id"];?>">
                <td><input type="checkbox" name="sre_id[]" value="<?php echo $application["sre_id"];?>" class="<?php echo $this->status[$application["sre_status"]];?> checkstudent" <?php echo $application["sre_status"]==1 ? '':'disabled=""' ?>></td>
                <td><?php echo $applicant_name;?></td>
                <td align="center"><?php echo $application['registrationId']; ?></td>
                <td align="center"><?php echo $application["appl_religion"] == '103'? "Financial Assistance(Fisabilillah Trust Fund)" : "Financial Assistance";?></td>
                <td align="center"><?php echo $this->status[$application["sre_status"]];?></td>
                <td align="center"><?php echo $application['SemesterMainName'].' - '.$application['SemesterMainCode']; ?></td>
                <td align="center">
                    <a href="<?php echo $app_link; ?>" target="_blank"><?php echo $this->translate('View'); ?></a>
                    <?php 
                    if ($application["sre_status"]==2 || $application["sre_status"]==7){
                    ?>
                    |
                    <a href="<?php echo $course_link; ?>" target="_blank"><?php echo $this->translate('Select Course'); ?></a>
                    <?php
                    }
                    ?>
                </td>
            </tr>
        <?php
        }
            ?>
            <tr>
                <td colspan="8" class="center">
                    <select class="select" id="action-process" name="action-process" onchange="actionProcess(this.value);">
                        <option label="OFFER" value="2">OFFER</option>
                        <option label="REJECT" value="3">REJECT</option>
                        <!--<option label="INCOMPLETE" value="5">INCOMPLETE</option>-->
                        <!--<option label="COMPLETE" value="4">COMPLETE</option>-->
                        <!--<option label="CANCEL" value="6">CANCEL</option>-->
                    </select>
                    <br/>
                    <br/>
                    <textarea name="remarks" value="" placeholder="Place remarks here..."></textarea>
                    <br/>
                    <br/>
                    <!--<input type="submit" class="NormalBtn" name="incomplete" value="Incomplete" id="incomplete" style="display: none;">
                    <input type="submit" class="NormalBtn" name="complete" value="Complete" id="complete" style="display: none;">
                    <input type="submit" class="NormalBtn" name="cancel" value="Cancel" id="cancel" style="display: none;">-->
                    <input type="submit" class="NormalBtn" name="approve" value="Offer" id="approve">
                    <input type="submit" class="NormalBtn" name="reject" value="Reject" id="reject" style="display: none;">
                </td>
            </tr>
            <?php
        } else {
            ?>
            <tr>
                <td align="center" colspan="8"><?php echo $this->translate('No Record Found'); ?></td>
            </tr>
        <?php
        }
        ?>
    </tbody>
</table>
</form>

<script type="text/javascript">
    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });
        
        $( "#tabs" ).tabs();
    });

    function approval_submit() {
        $('#approval_form').submit();
    }
    
    function addSchlarship() {
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }
    
    function editScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }
    
    function delScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }
    
    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'get-semester-applied'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('SemesterApplied');
            },
            complete: function() {
		hideLoading('SemesterApplied');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
            });
            $('#SemesterApplied').html(content);
        })
        .fail(function() {
            alert("error load semester"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function actionProcess(id){
        if (id == 2){
            $('#approve').show();
            $('#reject').hide();
        }else if (id == 3){
            $('#approve').hide();
            $('#reject').show();
        }
        
        $('.checkstudent').removeAttr('checked');
    }
    
    function confirmation(){
        if ($('.checkstudent:checked').length > 0){
            if (confirm('Are you sure to proceed')){
                return true;
            }else{
                return false;
            }
        }else{
            alert('Please tick atleast one student');
            return false;
        }
    }
    
    function print(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'export-reapplication'),'default',true);?>";
	$('#searchform').attr('action',url);
	$('#searchform').submit();
        return true;
    }
</script>