
<div class="message toolbar">
    <h2><?php echo $this->translate('Rejected List'); ?></h2>
    <div class="toolbar-button">
        <ul>
           <li>
				<a href="#" onclick="$('#search_form').toggle(); return false;">
					<span class='search'></span>
					<?php echo $this->translate('Search')?></a>
			</li>
        </ul>
    </div>
</div>
<br>

<div id="search_form" style="display:none">
	<fieldset>
		<legend><?php echo $this->translate('Search')?></legend>
	</fieldset>
</div>

<br />


<form method="post" id="approval_form">
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
    <tr>
        <!--th width="10px"></th-->
        <th><?php echo $this->translate("Applicant");?></th>
        <th><?php echo $this->translate("Scholarship");?></th>
        <th><?php echo $this->translate("Score");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Applied On");?></th>
        <th></th>
    </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
    <?php
    if (count($this->applications)){
        foreach ($this->applications as $key => $application) {
            $applicant_name = $application['appl_fname'].' '.$application['appl_lname'];
            //$app_link = $this->baseUrl().'/records/studentprofile/student-profile/id/'.$application['sa_cust_id'];
            $app_link = $this->baseUrl().'/studentfinance/scholarship/view-application/id/'.$application['sa_id'];
            ?>
            <tr id="<?php echo $application["sa_id"];?>">
                <!--td><input type="checkbox" name="sa_id[]" value="<?php echo $application["sa_id"];?>"></td-->
                <td><?php echo $applicant_name;?></td>
                <td align="center"><?php echo $application["appl_religion"] == '103'? "Financial Assistance(Fisabilillah Trust Fund)" : "Financial Assistance";?></td>
                <td align="center"><span id="sa_score"><?php echo $application["sa_score"];?></span></td>
                <td><?php echo $this->status[$application["sa_status"]];?></td>
                <td><?php echo format_date_to_view($application["sa_createddt"],'full');?></td>
                <td><a href="<?php echo $app_link?>" target="_blank"><?php echo $this->translate('View'); ?></a></td>
            </tr>
        <?php
        }
        } else {
            ?>
            <tr>
                <td align="center" colspan="6"><?php echo $this->translate('No Record Found'); ?></td>
            </tr>
        <?php
        }
        ?>
    </tbody>
</table>
</form>

<script type="text/javascript">
    
    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });
        
        $( "#tabs" ).tabs();
    });

    function approval_submit() {
        $('#approval_form').submit();
    }
    
    function addSchlarship() {
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }
    
    function editScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }
    
    function delScholarship() {
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }

</script>