<script type="text/javascript">
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'print', 'id'=>$this->id),'default',true);?>';" >
                <span class='print'></span>
                <?php //echo $this->translate("Print Application Form");?>
                </a>
            </li>-->
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'processing'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<h3><?php echo $this->translate('Personal Particular'); ?></h3>
<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('Name'); ?></td>
        <td><?php echo $this->info['appl_fname'].' '.$this->info['appl_lname']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Applicant ID Number'); ?></td>
        <td><?php echo $this->info['at_pes_id']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme'); ?></td>
        <td><?php echo $this->info['ProgramName']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Contact Number'); ?></td>
        <td><?php echo $this->info['appl_phone_mobile']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Email Address'); ?></td>
        <td><?php echo $this->info['appl_email']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Mailing Address'); ?></td>
        <td>
            <?php 
          
            $address = $this->info['appl_address1'].($this->info['appl_address1']!=='' ? ' '.$this->info['appl_address1']:'');
            $address .= ($this->info['appl_address2']!='' ? ' <br/>'.$this->info['appl_address2']:'');
            $address .= ($this->info['appl_address3']!='' ? ' <br/>'.$this->info['appl_address3']:'');
            $address .= ($this->info['appl_postcode']!='' ? ' <br/>'.$this->info['appl_postcode']:'');
            
            $model = new Studentfinance_Model_DbTable_Sponsor();
            
            $city = !isset($this->info['appl_city'])?$this->info['appl_city']:$model->getCity($this->info['appl_city']);
            $state = !isset($this->info['appl_state'])?$this->info['appl_state']:$model->getState($this->info['appl_state']);
            $country = !isset($this->info['appl_country'])?$this->info['appl_country']:$model->getCountry($this->info['appl_country']);
            
            $address .= ($this->info['appl_city']==99 ? ' '.$this->info['appl_city_others']:$city['CityName']);
            $address .= ($this->info['appl_state']==99 ? ' '.$this->info['appl_state_others']:$state['StateName']);
            $address .= ' '.$country['CountryName'];
            
            echo strtoupper($address);
            ?>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Application Status'); ?></td>
        <td><?php echo $this->status[$this->info["sa_status"]];?></td>
    </tr>
</table>
<br/>
<h3><?php echo $this->translate('Revert Information')?></h3>
<form method="post" id="revertform" name="revertform">
<table class="table" width="100%">
    <tr>
        <td width="25%"><?php echo $this->translate('Revert Status') ?> <span class="reqMark">*</span></td>
        <td>
            <?php
            if ($this->revertStatus){
            ?>
            <select name="revertstatus" id="revertstatus" class="select" required="">
                <option value="" label="<?php echo '-- Select --'; ?>"><?php echo '-- Select --'; ?></option>
                <?php
                foreach ($this->revertStatus as $revertStatusLoop){
                ?>
                <option value="<?php echo $revertStatusLoop['id'] ?>" label="<?php echo $revertStatusLoop['value']; ?>"><?php echo $revertStatusLoop['value']; ?></option>
                <?php 
                }
                ?>
            </select>
            <?php 
            }
            ?>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Remarks'); ?></td>
        <td><textarea name="remarks" value="" placeholder="Remarks..."></textarea></td>
    </tr>
</table>
<div class="form-opt">
    <button type="submit" name="save" id="save" value="save"><?php echo $this->translate('Revert'); ?></button>
</div>
</form>
