<script type="text/javascript">
    function addScholarshipTagging(){
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship-tagging'));?>";
    }
    
    function editScholarshipTagging(){
        var sct_id = $('input[name=id]:checked').val();

        if(!sct_id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship-tagging'));?>/sct_id/"+sct_id;
        }
    }
    
    function delScholarshipTagging(){
        var sct_id = $('input[name=id]:checked').val();

        if(!sct_id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship-tagging'));?>/sct_id/"+sct_id;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'publishingsetup', 'action'=>'index'),'default',true).'#tab-1';?>'; return false;" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
		<a href="#" onclick="javascript:addScholarshipTagging()">
		<span class='add'></span>
		<?php echo $this->translate("Add");?>
		</a>
            </li>
            <li>
		<a href="#" onclick="javascript:editScholarshipTagging()">
		<span class='edit'></span>
		<?php echo $this->translate("Edit");?>
		</a>
            </li>
            <li>
		<a href="#" onclick="javascript:delScholarshipTagging()">
		<span class='delete'></span>
		<?php echo $this->translate("Delete");?>
		</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<h3><?php echo $this->translate("Scholarship List");?></h3>
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th width="25px">&nbsp;</th>
            <th><?php echo $this->translate("Scholarship");?></th>
            <th><?php echo $this->translate("Program");?></th>
            <th><?php echo $this->translate("Program Scheme");?></th>
            <th><?php echo $this->translate("Student Category");?></th>
            <th><?php echo $this->translate("Description");?></th>
            <th><?php echo $this->translate("Start Date");?></th>
            <th><?php echo $this->translate("End Date");?></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if (count($this->scholarshipTaggingList)){
            foreach ($this->scholarshipTaggingList as $scholarshipList){
        ?>
            <tr id="<?php echo $scholarshipList["sct_Id"];?>">
                <td align="center"><input type="radio" name="id" value="<?php echo $scholarshipList["sct_Id"];?>" />
                <td><?php echo $scholarshipList["sch_name"];?></td>
                <td><?php echo $scholarshipList["ProgramName"];?></td>
                <td><?php echo $scholarshipList["mos_name"].' '.$scholarshipList["mop_name"].' '.$scholarshipList["programType"];?></td>
                <td align="center"><?php echo $scholarshipList["sc_name"];?></td>
                <td><?php echo $scholarshipList["sct_desc"];?></td>
                <td><?php echo $scholarshipList["sct_startDate"];?></td>
                <td><?php echo $scholarshipList["sct_endDate"];?></td>
            </tr>
        <?php 
            }
        } 
        ?>
    </tbody>
</table>