<div class="message toolbar">
    <h2><?php echo $this->translate('View Evaluation'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" >
                    <span class='info'></span>
                    <?php echo $this->translate("Info");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>

<table>
    <tr>
        <td><?php echo $this->translate('Student ID'); ?></td>
        <td><?php echo $this->student_info['registrationId']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Name'); ?></td>
        <td><b><?php echo $this->profile->appl_fname . ' ' . $this->profile->appl_mname . ' ' . $this->profile->appl_lname; ?></b></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme'); ?></td>
        <td><?php echo $this->student_info['ProgramName']; ?></td>
    </tr>
</table>

<br></br>
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
    <tr>
        <th><?php echo $this->translate("Contribution");?></th>
        <th><?php echo $this->translate("Academic Merit");?></th>
        <th><?php echo $this->translate("Affordability");?></th>
        <th><?php echo $this->translate("Total Score");?></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center">
            <b><?php echo $this->calc_breakdown['contribution_score']; ?></b>
            *
            <?php echo $this->weightages[0]['weight']; ?>
        </td>
        <td align="center"><b><?php echo $this->calc_breakdown['academic_score']; ?></b>
            *
            <?php echo $this->weightages[1]['weight']; ?>
        </td>
        <td align="center"><b><?php echo $this->calc_breakdown['affordability_score']; ?></b>
            *
            <?php echo $this->weightages[2]['weight']; ?>
        </td>
        <td align="center"><b><?php echo $this->calc_breakdown['total_score']; ?></b></td>
    </tr>
    </tbody>
</table>

<h3><?php echo $this->translate('Educational Background')?></h3>
<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('Highest Education')?></td>
        <td>
            <select name="scholarship_app[education_id]">
                <?php
                foreach($this->education_levels as $level) {
                    if($this->sponsor_detail['education_id'] == $level['IdQualification']) {
                        $selected = "selected='selected'";
                    } else {
                        $selected ='';
                    }
                    ?>
                    <option value="<?php echo $level['IdQualification']; ?>" <?php echo $selected; ?>><?php echo $level['QualificationLevel']; ?></option>
                <?php
                }
                ?>
            </select>
        </td>
    </tr>
    <tr>
        <td width="25%"><?php echo $this->translate('Result')?></td>
        <td>
            <input type="number" step="any" name="scholarship_app[education_result]" max="4.0" min="0" value="<?php echo $this->sponsor_detail->education_result ?>">
        </td>
    </tr>
</table>

<br />

<h3><?php echo $this->translate('Family Background')?></h3>
<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('Total Number of Dependent(s)')?></td>
        <td><input type="text" class="inputtext quarter" name="totaldependent" value="<?php echo $this->sponsor_detail['totaldependent']?>" /></td>
    </tr>
</table>

<br />

<h3><?php echo $this->translate('Working Experience')?></h3>
<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('I am currently')?></td>
        <td>
            <label><input type="radio" name="empstatus" value="0" <?php echo $this->sponsor_detail['empstatus']=='0'?'checked="checked"':''?>/> <?php echo $this->translate('Employed')?></label>
            <label><input type="radio" name="empstatus" value="1" <?php echo $this->sponsor_detail['empstatus']=='1'?'checked="checked"':''?>/> <?php echo $this->translate('Self-Employed')?></label>
            <label><input type="radio" name="empstatus" value="2" <?php echo $this->sponsor_detail['empstatus']=='2'?'checked="checked"':''?>/> <?php echo $this->translate('Unemployed')?></label>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Type of Industry')?></td>
        <td>
            <label><input type="radio" name="industry" value="0" <?php echo $this->sponsor_detail['industry']=='1'?'checked="checked"':''?>/> <?php echo $this->translate('Islamic Finance related')?></label>
            <label><input type="radio" name="industry" value="1" <?php echo $this->sponsor_detail['industry']=='2'?'checked="checked"':''?>/> <?php echo $this->translate('Non-Islamic Finance related')?></label>
            <label><input type="radio" name="industry" value="2" <?php echo $this->sponsor_detail['industry']=='3'?'checked="checked"':''?>/> <?php echo $this->translate('Non Financial realted')?></label>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Income Per Month')?></td>
        <td>
            <input type="text" class="inputtext quarter" name="income" value="<?php echo $this->sponsor_detail['income']?>" /> <br />
            <small class="desc">For non-Malaysians, please convert to MYR</small>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Address of Company')?></td>
        <td>
            <input type="text" class="inputtext" name="compaddress" value="<?php echo $this->sponsor_detail['compaddress']?>" />
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Your Email Address in Company')?></td>
        <td>
            <input type="text" class="inputtext" name="compemail" value="<?php echo $this->sponsor_detail['compemail']?>" />
        </td>
    </tr>
</table>

<br />
<h3><?php echo $this->translate('Application Information')?></h3>

<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('Year')?></td>
        <td><input type="text" class="inputtext quarter" maxlength="4" name="app_year" value="<?php echo $this->sponsor_detail['app_year']?>" /></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Semester')?></td>
        <td>
            <label><input type="radio" name="semester" value="1" <?php echo $this->sponsor_detail['semester']=='1'?'checked="checked"':''?>/> <?php echo $this->translate('January')?></label>
            <label><input type="radio" name="semester" value="2" <?php echo $this->sponsor_detail['semester']=='2'?'checked="checked"':''?> /> <?php echo $this->translate('June')?></label>
            <label><input type="radio" name="semester" value="3" <?php echo $this->sponsor_detail['semester']=='3'?'checked="checked"':''?> /> <?php echo $this->translate('September')?></label>

        </td>
    </tr>
</table>

<script>
    $(document).ready(
        function() {
            $('input, select').attr('disabled',true);


        }

    );
</script>