<script type="text/javascript">
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'print', 'id'=>$this->id),'default',true);?>';" >
                <span class='print'></span>
                <?php //echo $this->translate("Print Application Form");?>
                </a>
            </li>-->
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'processing'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<h3><?php echo $this->translate('Personal Particular'); ?></h3>
<table width="100%" class="table">
    <tr>
        <td width="25%"><?php echo $this->translate('Name'); ?></td>
        <td><?php echo $this->info['appl_fname'].' '.$this->info['appl_lname']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Applicant ID Number'); ?></td>
        <td><?php echo $this->info['at_pes_id']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme'); ?></td>
        <td><?php echo $this->info['ProgramName']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Contact Number'); ?></td>
        <td><?php echo $this->info['appl_phone_mobile']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Email Address'); ?></td>
        <td><?php echo $this->info['appl_email']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Mailing Address'); ?></td>
        <td>
            <?php 
          
            $address = $this->info['appl_address1'].($this->info['appl_address1']!=='' ? ' '.$this->info['appl_address1']:'');
            $address .= ($this->info['appl_address2']!='' ? ' <br/>'.$this->info['appl_address2']:'');
            $address .= ($this->info['appl_address3']!='' ? ' <br/>'.$this->info['appl_address3']:'');
            $address .= ($this->info['appl_postcode']!='' ? ' <br/>'.$this->info['appl_postcode']:'');
            
            $model = new Studentfinance_Model_DbTable_Sponsor();
            
            $city = !isset($this->info['appl_city'])?$this->info['appl_city']:$model->getCity($this->info['appl_city']);
            $state = !isset($this->info['appl_state'])?$this->info['appl_state']:$model->getState($this->info['appl_state']);
            $country = !isset($this->info['appl_country'])?$this->info['appl_country']:$model->getCountry($this->info['appl_country']);
            
            $address .= ($this->info['appl_city']==99 ? ' '.$this->info['appl_city_others']:$city['CityName']);
            $address .= ($this->info['appl_state']==99 ? ' '.$this->info['appl_state_others']:$state['StateName']);
            $address .= ' '.$country['CountryName'];
            
            echo strtoupper($address);
            ?>
        </td>
    </tr>
</table>
<br/>
        <h3><?php echo $this->translate('Application Information')?></h3>

	<table width="100%" class="table">
		<tr>
                    <td width="25%"><?php echo $this->translate('Semester')?></td>
                    <td>
                        <select class="select" id="stype" name="semester" disabled="">
                            <option label="-- Select --" value="">-- Select --</option>
                            <?php
                            if ($this->semester){
                            foreach ($this->semester as $semLoop){
                            if ($semLoop['IdSemesterMaster'] == $this->info['sa_semester_id']){
                                $selected = 'selected=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <option <?php echo $selected; ?> label="<?php echo $semLoop['SemesterMainName']; ?>" value="<?php echo $semLoop['IdSemesterMaster']; ?>"><?php echo $semLoop['SemesterMainName']; ?></option>
                            <?php
                            }
                            }
                            ?>
                        </select>
                    </td>
		</tr>
		<!--<tr>
			<td><?php //echo $this->translate('Semester')?></td>
			<td>
				<label><input type="radio" name="semester" value="1" /> <?php //echo $this->translate('January')?></label>
				<label><input type="radio" name="semester" value="2" /> <?php //echo $this->translate('June')?></label>
				<label><input type="radio" name="semester" value="3" /> <?php //echo $this->translate('September')?></label>
			
			</td>
		</tr>-->
	</table>

	<br />
        <h3><?php echo $this->translate('Education Background')?></h3>
        <table width="100%" class="table">
            <tr>
                <td width="25%"><?php echo $this->translate('Highest Qualification Level'); ?></td>
                <td>
                    <select class="select" id="edulevel" name="edulevel" disabled="">
                        <option label="-- Select --" value="">-- Select --</option>
                        <?php
                        if ($this->eduLvlList){
                        foreach ($this->eduLvlList as $eduLvlLoop){
                        if ($this->info['edulevel']==$eduLvlLoop['IdQualification']){
                            $selected = 'selected=""';
                        }else{
                            $selected = '';
                        }
                        ?>
                        <option <?php echo $selected; ?> label="<?php echo $eduLvlLoop['QualificationLevel']; ?>" value="<?php echo $eduLvlLoop['IdQualification']; ?>"><?php echo $eduLvlLoop['QualificationLevel']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Class/CGPA'); ?></td>
                <td><input type="text" name="cgpa" id="cgpa" class="inputtext quarter" value="<?php echo $this->info['cgpa']; ?>" disabled=""></td>
            </tr>
        </table>
        <br/>
	<h3><?php echo $this->translate('Family Background')?></h3>
	<table width="100%" class="table">
		<tr>	
			<td width="25%"><?php echo $this->translate('Total Number of Dependent(s)')?></td>
			<td><input type="text" class="input-txt" name="totaldependent" value="<?php echo $this->info['totaldependent']; ?>" disabled=""></td>
		</tr>
	</table>

	<br />

	<h3><?php echo $this->translate('Working Experience')?></h3>
	<table width="100%" class="table">
		<tr>
			<td width="25%"><?php echo $this->translate('I am currently')?></td>
			<td>
                                <label><input type="radio" name="empstatus" class="empstatus" value="0" disabled="" <?php echo $this->info['empstatus']==0 ? 'checked=""':''; ?>/> <?php echo $this->translate('Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="1" disabled="" <?php echo $this->info['empstatus']==1 ? 'checked=""':''; ?>/> <?php echo $this->translate('Self-Employed')?></label>
				<label><input type="radio" name="empstatus" class="empstatus" value="2" disabled="" <?php echo $this->info['empstatus']==2 ? 'checked=""':''; ?>/> <?php echo $this->translate('Unemployed')?></label>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Type of Industry')?></td>
			<td>
                            <?php
                            if ($this->industryW){
                            foreach ($this->industryW as $industryWLoop){
                            if ($industryWLoop['id']==$this->info['industry']){
                                $selected = 'checked=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <label><input <?php echo $selected; ?> disabled="" type="radio" name="industry" class="industry" value="<?php echo $industryWLoop['id']; ?>" /> <?php echo $industryWLoop['name']; ?></label>
                            <?php
                            }
                            }
                            ?>
			</td>
		</tr>
                <tr>
			<td><?php echo $this->translate('Currency')?></td>
			<td>
                            <?php 
                            if ($this->currency){
                            foreach ($this->currency as $currencyLoop){
                            if ($currencyLoop['idDefinition']==$this->info['currency']){
                                $selected = 'checked=""';
                            }else{
                                $selected = '';
                            }
                            ?>
                            <label><input <?php echo $selected; ?> disabled="" type="radio" name="currency" class="currency" value="<?php echo $currencyLoop['idDefinition']; ?>" /> <?php echo $currencyLoop['DefinitionDesc']; ?></label>
                            <?php 
                            }
                            }
                            ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Income Per Month')?></td>
			<td>
				<input type="text" class="input-txt" id="income" name="income" value="<?php echo $this->info['income'];?>" disabled=""> <br />
				<small class="desc">For non-Malaysians, please convert to USD</small>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Company Name')?></td>
			<td>
				<input type="text" class="input-txt" id="compaddress" name="compaddress" value="<?php echo $this->info['compaddress'];?>" disabled="">
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Your Email Address in Company')?></td>
			<td>
				<input type="text" class="input-txt" id="compemail" name="compemail" value="<?php echo $this->info['compemail'];?>" disabled="">
			</td>
		</tr>
		</table>
        <br/>
        <h3><?php echo $this->translate('New Application Form')?></h3>
        <form method="post" id='formupload' enctype="multipart/form-data" action='<?php echo $this->baseUrl()?>/studentfinance/scholarship/upload'>
        <table width="100%" class="table">
		<tr>
			<td width="25%"><?php echo $this->translate('Upload Completed Form')?></td>
                        <td><input type="file" id='file' name='file' required=""></td>
		</tr>
                <tr>
                    <td><input type="hidden" id='id' name='id' value='<?php echo $this->id; ?>'></td>
                    <td><button type="submit" id='upload' name='file' class='btn-submit'><span class="icon icon-upload"></span> <?php echo $this->translate('Upload')?></button></td>
                </tr>
        </table>
        </form>
        <br/>
        <table width="100%" class="table">
            <tr>
                <th>No</th>
                <th>File Name</th>
                <th>Date</th>
                <th></th>
            </tr>
            <?php
            if ($this->upl){
            $no = 1;
            foreach ($this->upl as $upl){
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $upl['sau_filename']; ?></td>
                <td align="center"><?php echo date('d-m-Y H:i:s', strtotime($upl['sau_upddate'])) ?></td>
                <td align="center">
                    <a href="<?php echo DOCUMENT_URL.$upl['sau_filelocation']; ?>" target='_blank'>View</a>
                     | <a href="<?php echo $this->baseUrl()?>/studentfinance/scholarship/deleteupl/id/<?php echo $upl['sau_id']; ?>/sa_id/<?php echo $this->id; ?>">Delete</a>
                </td>
            </tr>
            <?php
            $no++;
            }
            }
            ?>
        </table>
	<br/>
        <?php 
        if ($this->courseList){
        ?>
        <h3><?php echo $this->translate('Registered Courses')?></h3>
        <table width="100%" class="table">
            <tr>
                <th><?php echo $this->translate('Course Name'); ?></th>
                <th><?php echo $this->translate('Course Code'); ?></th>
            </tr>
            <?php
            foreach ($this->courseList as $courseLoop){
            ?>
            <tr>
                <td><?php echo $courseLoop['SubjectName']; ?></td>
                <td align="center"><?php echo $courseLoop['SubCode']; ?></td>
            </tr>
            <?php
            }
            ?>
        </table>
        <br/>
        <?php 
        }
        ?>
	<h3><?php echo $this->translate('Declaration')?></h3>
	<div class="dec">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" value="1" name="declaration" checked="" disabled="">
                    </td>
                    <td>
                        <p>I <strong></strong> do solemnly and sincerely declare that;</p>
                        <p>1)	The information and particulars contained in my application are true;</p>
                        <p>2)	I make this solemn declaration conscientiously believing the same to be true, and by virtue of the provisions of the Statutory Declarations Act 1960.</p>
                        <p>3)	I have read, agreed and hereby consult to the collection and processing my personal information in accordance with the <a target="_blank" href="http://http://www.inceif.org/inceif-privacy-notice/">INCEIF Privacy Notice</a>.</p>
                        <p>     You are required to upload the complete form with the attestation obtained from the Notary Public or Commissioner of oaths</p>
                    </td>
                </tr>
            </table>
        </div>
	<br />

<script type="text/javascript">
	function checkForm()
	{
		return true;
	}

	$(function()
	{
		$("#appform :input").attr("disabled", true);
	});
</script>