<script type="text/javascript">
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'reapplication'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<h3><?php echo $this->translate('SECTION A : Personal Particular'); ?></h3>
<table width="100%" class="table">
    <tr>
        <td><?php echo $this->translate('Name'); ?></td>
        <td><?php echo $this->info['appl_fname'].' '.$this->info['appl_lname']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID Number'); ?></td>
        <td><?php echo $this->info['registrationId']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme'); ?></td>
        <td><?php echo $this->info['ProgramName']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Contact Number'); ?></td>
        <td><?php echo $this->info['appl_phone_mobile']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Email Address'); ?></td>
        <td><?php echo $this->info['appl_email_personal']; ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Mailing Address'); ?></td>
        <td>
            <?php 
            $address = $this->info['appl_address1'].($this->info['appl_address1']!=='' ? ' '.$this->info['appl_address1']:'');
            $address .= ($this->info['appl_address2']!='' ? ' <br/>'.$this->info['appl_address2']:'');
            $address .= ($this->info['appl_address3']!='' ? ' <br/>'.$this->info['appl_address3']:'');
            $address .= ($this->info['appl_postcode']!='' ? ' <br/>'.$this->info['appl_postcode']:'');
            
            $model = new Studentfinance_Model_DbTable_Sponsor();
            
            $city = $model->getCity($this->info['appl_city']);
            $state = $model->getState($this->info['appl_state']);
            $country = $model->getCountry($this->info['appl_country']);
            
            $address .= ($this->info['appl_city']==99 ? ' '.$this->info['appl_city_others']:$city['CityName']);
            $address .= ($this->info['appl_state']==99 ? ' '.$this->info['appl_state_others']:$state['StateName']);
            $address .= ' '.$country['CountryName'];
            
            echo strtoupper($address);
            ?>
        </td>
    </tr>
</table>
<br/>
<h3><?php echo $this->translate('SECTION B : Re-application Information'); ?></h3>
<table width="100%" class="table">
    <tr>
        <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
        <td>
            <select class="select" id="stype" name="semester" required="" disabled="">
                <option label="-- Select --" value="">-- Select --</option>
                <?php
                if ($this->semList){
                foreach ($this->semList as $semLoop){
                    if ($semLoop['IdSemesterMaster'] == $this->info['sre_semester_id']){
                        $selected = 'selected=""';
                    }else{
                       $selected = ''; 
                    }
                ?>
                <option <?php echo $selected; ?> label="<?php echo $semLoop['SemesterMainName']; ?>" value="<?php echo $semLoop['IdSemesterMaster']; ?>"><?php echo $semLoop['SemesterMainName']; ?></option>
                <?php
                }
                }
                ?>
            </select>
        </td>
    </tr>
</table>
<br/>
<?php
//if ($this->studentInfo['IdScheme']==1){
?>
<h5><?php echo $this->translate('Paper Registered Last Semester')?></h5>
<table width="100%" class="table">
    <tr>
        <th width="2%"><?php echo $this->translate('No.'); ?></th>
        <th width="15%"><?php echo $this->translate('Paper Code'); ?></th>
        <th width="50%"><?php echo $this->translate('Paper Name'); ?></th>
        <th><?php echo $this->translate('Grade'); ?></th>
    </tr>
    <?php
    if ($this->lastSemsub){
    $no = 0;
    foreach ($this->lastSemsub as $lastSemsubLoop){
    $no++;    
    ?>
    <tr>
        <td align="center"><?php echo $no; ?></td>
        <td align="center"><?php echo $lastSemsubLoop['SubCode']; ?></td>
        <td><?php echo $lastSemsubLoop['SubjectName']; ?></td>
        <td align="center"><?php echo ($lastSemsubLoop['mark_approval_status']==2 && $this->publishInfo['pm_cdate']>=$this->publishInfo['pm_date_new']) ? $lastSemsubLoop['grade_name']:'-'; ?></td>
    </tr>
    <?php
    }
    }else{
    ?>
    <tr>
        <td colspan="4"><?php echo $this->translate('No Record'); ?></td>
    </tr>
    <?php
    }
    ?>
</table>
<br/>
<?php 
if ($this->courseList){
?>
<h5><?php echo $this->translate('Registered Courses')?></h5>
<table width="100%" class="table">
    <tr>
        <th><?php echo $this->translate('Course Name'); ?></th>
        <th><?php echo $this->translate('Course Code'); ?></th>
    </tr>
    <?php
    foreach ($this->courseList as $courseLoop){
    ?>
    <tr>
        <td><?php echo $courseLoop['SubjectName']; ?></td>
        <td align="center"><?php echo $courseLoop['SubCode']; ?></td>
    </tr>
    <?php
    }
    ?>
</table>
<br/>
<?php 
}
?>
<h3><?php echo $this->translate('SECTION C : ').($this->studentInfo['IdScheme']==1 ? 'Terms and Conditions for Financial Assistance':'Terms and Conditions for Financial Assistance'); ?></h3>
<?php
if ($this->sectionC){
echo $this->sectionC['description'];
}else{
?>
Setup Not Found...
<?php 
}
?>
<br/>
<h3><?php echo $this->translate('SECTION D : Declaration'); ?></h3>
<input type="checkbox" required="" value="1" checked="" disabled="">&nbsp;
I declare and understand that the outcome of my re-application for the Financial Assistance is subjected to terms and conditions as stipulated in Section C above.