
<script type="text/javascript">
var batchArray1 = new Array();
var row = <?php echo count($this->programdetails);?>+1;
<?php /*if($this->programdetails){
			foreach($this->programdetails as $programdetails) {  ?>		
				batchArray1.push('<?php echo $programdetails['ProgramName'].''.$programdetails['EnglishDescription']; ?>');
			<?php
		}
}*/?>
dojo.addOnLoad(function(){
	dijit.byId('IdProgram').set('value','');
    dijit.byId('IdProgram').set('placeHolder','Select');
    dijit.byId('IdScheme').set('value','');
    dijit.byId('IdScheme').set('placeHolder','Select');
    dijit.byId('MarkingType').set('value','');
    dijit.byId('MarkingType').set('placeHolder','Select');

});
function fnCheck(){
	if(weightage==100){
		return true;
	}else{
		alert("Weightage should be exact 100");
		return false;
	}
}

function fnGetStateCityListofUniversity(idState){ 
	if(idState != "")
		{ var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("City",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 	
function fnGetCountryStateList(idCountry,state){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("idState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
var rowid = <?php echo count($this->resultPlacementComponent)+1; ?>;
function AddPlacementTestComponentDetails() {
	var flag = true;
	if(dijit.byId("ComponentName").value==''){
	    dijit.byId("ComponentName").attr('required','true');
		dijit.byId("ComponentName").focus();flag = false;
	}
	
	if(dijit.byId("ComponentWeightage").value==''){
	    dijit.byId("ComponentWeightage").attr('required','true');
		dijit.byId("ComponentWeightage").focus();flag = false;
	}

	 if(dijit.byId("MarkingType").value==''){
         dijit.byId("MarkingType").attr('required','true');
         dijit.byId("MarkingType").focus();flag = false;
     }
     
	if(dijit.byId("ComponentTotalMarks").value==''){
	    dijit.byId("ComponentTotalMarks").attr('required','true');
		dijit.byId("ComponentTotalMarks").focus();flag = false;
	}

	if(flag == true) {
		PlacementtestComponentInsert();	
	}			
	return flag;
}
function test(weightage){
	$('#weightage').empty();
	$('#weightage').append(weightage)
}

var batchArray  = new Array();
var subArray  = new Array();
var oldContent = "";
var NoCnt	=	0;

<?php foreach($this->resultPlacementComponent as $subnamereqresult) { ?>
	subArray.push('<?php echo $subnamereqresult['ComponentName'];?>');
        
<?php } ?>
console.log(subArray);
var sum = parseFloat(<?php echo $this->SumComponentWeightage ;?>);
var weightage = parseFloat(<?php echo $this->SumComponentWeightage ;?>);
console.log(weightage)
console.log(sum);
function PlacementtestComponentInsert() {
	var ComponentName = dijit.byId("ComponentName").value;
	var ComponentWeightage = dijit.byId("ComponentWeightage").value;
	var ComponentTotalMarks = dijit.byId("ComponentTotalMarks").value;
	var MinimumMark = dijit.byId("MinimumMark").value;
	var MarkingType = dijit.byId("MarkingType").value;
    var MarkingTypeName = dijit.byId("MarkingType").displayedValue
	var batchArray1 = new Array();
        
        subArray.push(ComponentName);
      
      if(arrHasDupes(subArray)) {
		subArray = subArray.unique();
                alert("Duplicate Component Name");
      } else {
          
                               
      if(ComponentWeightage>=0) {
      sum = sum + parseFloat(ComponentWeightage);
      if(sum<=100)
      {
		if(parseInt(ComponentTotalMarks)>=parseInt(MinimumMark)){
	        var trow=document.getElementById('hor').insertRow(rowid);
	        var tcol1=trow.insertCell(0);
	        var tcol2=trow.insertCell(1);
	        var tcol3=trow.insertCell(2);
	        var tcol4=trow.insertCell(3);
	        var tcol5=trow.insertCell(4);
	        var tcol6=trow.insertCell(5);

	        tcol1.innerHTML="<input type='hidden' value='"+ComponentName+"' name=ComponentNamegrid[]>"+ComponentName;
	       	tcol2.innerHTML="<input type='hidden' value='"+MarkingType+"' name=MarkingTypegrid[]>"+MarkingTypeName;
	        tcol3.innerHTML="<input type='hidden' value='"+ComponentWeightage+"' name=ComponentWeightagegrid[]>"+ComponentWeightage;
	        tcol4.innerHTML="<input type='hidden' value='"+ComponentTotalMarks+"' name=ComponentTotalMarksgrid[]>"+ComponentTotalMarks;
	        tcol5.innerHTML="<input type='hidden' value='"+MinimumMark+"' name=MinimumMarkgrid[]>"+MinimumMark;
	        tcol6.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this,'+ComponentWeightage+',\''+ComponentName+'\'); return false;"><img src="<?php echo $this->baseUrl(); ?>/images/delete.png"  border=0 width=16 height=16></a>';
	        rowid++;
	        weightage = weightage + parseFloat(ComponentWeightage);
	        test(weightage);
                
      	}
		else{
			alert("Passing Marks can't exceed Total Marks");
		}
      }
      else{
        sum = sum - parseFloat(ComponentWeightage);
        alert("Component Weightage excedes 100%");

      }
      } else { 
                var makeArr = ComponentName;
                subArray.splice(subArray.indexOf(makeArr), 1);
                alert("Component Weightage cannot have negative value"); }
      } 
		
}

function deleteRow(r,ComponentWeightage,ComponentName)
{
  var ret = confirm("Are you sure to delete");
  if(ret){
    console.log(r);
    rowid--;
    var i=r.parentNode.parentNode.rowIndex;
    
    sum = sum - parseFloat(ComponentWeightage);
    weightage = weightage - parseFloat(ComponentWeightage);
    test(weightage);        
    var makeArr = ComponentName;
    subArray.splice(subArray.indexOf(makeArr), 1);
    
    batchArray.splice(parseInt(i-1),1);
    document.getElementById('hor').deleteRow(i);
  }
}

function deleteplacementtestcomponent(idplacementtestcomponent) {
	var xhrArgs = {url: "<?php echo $this->baseUrl();?>"+"/application/placementtest/deleteplacementcomponent/idplacementtestcomponent/"+idplacementtestcomponent,
			handleAs:'json',
			load:function(data){ 
				if(data == '1') {
					window.location = "<?php echo $this->baseUrl(); ?>/application/placementtest/placementtestlist/id/<?php echo $this->idplacementtest;?>"
				}
			}
	}
	dojo.xhrPost(xhrArgs); 
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function checkphonefield(){
 var workphone = dijit.byId("Phone1").value;
 var workcountrycode = dijit.byId('countrycode').value;
 var workstatecode = dijit.byId('statecode').value;


 if(workcountrycode!=''){
   if(workstatecode == ''){
    dijit.byId("statecode").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("statecode").set( "state", "Error" );
    return false;
   }
   if(workphone == ''){
     dijit.byId("Phone1").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("Phone1").set( "state", "Error" );
    return false;
   }
 }

 if(workstatecode!=''){
   if(workcountrycode == ''){
    dijit.byId("countrycode").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("countrycode").set( "state", "Error" );
    return false;
   }
   if(workphone == ''){
     dijit.byId("Phone1").focus();
    alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
    dijit.byId("Phone1").set( "state", "Error" );
    return false;
   }
 }
  if(workphone != ''){
    var len = workphone.length;    
    if(len < 5){
      dijit.byId("Phone1").focus();
      alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("Phone1").set( "state", "Error" );
      return false;
    }
    if(workcountrycode == ''){
      dijit.byId("countrycode").focus();
       alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("countrycode").set( "state", "Error" );
      return false;
    }
    if(workstatecode == ''){
      alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
      dijit.byId("statecode").focus();
      dijit.byId("statecode").set( "state", "Error" );
      return false;
    }
  }
  return true;
}


function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;   						// to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j])
					return true;
			}
		}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++) {
	        for(var x = 0, y = r.length; x < y; x++) {
	        	if(r[x]==this[i]) {
	                	continue o;
	              }
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}

	function getScheme(IdProgram){
		 if(IdProgram != "")
	      { var xhrArgs = {
	          url: "<?php echo $this->baseUrl(); ?>"+"/application/placementtest/getschemelist/IdProgram/"+IdProgram,
	          handleAs:'json',
	          load:function(data){
	            AutoFillNextEditableDropDown("IdScheme",data);
	          }
	        }
	        dojo.xhrGet(xhrArgs);
	      }
	}

	function AddProgramSchemeDetails(){
		 var flag = true;
	      if(dijit.byId("IdProgram").value==''){
	        dijit.byId("IdProgram").attr('required','true');
	        dijit.byId("IdProgram").focus();flag = false;
	      }

	      if(dijit.byId("IdScheme").value==''){
	        dijit.byId("IdScheme").attr('required','true');
	        dijit.byId("IdScheme").focus();flag = false;
	      }
	      if(flag == true){
			ProgramSchemeDetailInsert();
		  }
		  return flag;
	}

	function ProgramSchemeDetailInsert(){
		var IdProgram = dijit.byId("IdProgram").value;
	    var IdProgramName = dijit.byId("IdProgram").displayedValue;
	    var IdScheme = dijit.byId("IdScheme").value;
	    var IdSchemeName = dijit.byId("IdScheme").displayedValue;
	    
	    batchArray1.push(IdProgramName+IdSchemeName);
	      
	      if(arrHasDupes(batchArray1)) {
	    	  batchArray1 = batchArray1.unique();
	                alert("Duplicate Entry");
	      } else {
		        var trow=document.getElementById('hor1').insertRow(row);
		        var tcol1=trow.insertCell(0);
		        var tcol2=trow.insertCell(1);
		        var tcol3=trow.insertCell(2);

		        tcol1.innerHTML="<input type='hidden' value='"+IdProgram+"' name=IdProgramNamegrid[]>"+IdProgramName;
		        tcol2.innerHTML="<input type='hidden' value='"+IdScheme+"' name=IdSchemeNamegrid[]>"+IdSchemeName;
				tcol3.innerHTML="<a href='#' onClick='deleteRowProgram(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
		        row++;
	                
	      	}
	}

	function deleteRowProgram(r)
	{
		row--;
		var i=r.parentNode.parentNode.rowIndex;
		batchArray1.splice(parseInt(i-1),1);
		document.getElementById('hor1').deleteRow(i);
	}
 
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Placement Test"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementtest', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
	<legend>
		<?php echo $this->translate("Placement Test");?>
	</legend>
	<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
		<script type="dojo/method" event="onSubmit">
               if (this.validate()) {
                                        var flag = true;var count=0;
					var len = dojo.query(".IdProgram").length;
					nodes = document.getElementsByName('IdProgram[]');
					dojo.forEach(nodes,
	    				function(node)
	    				{
	    					var checknode = dijit.getEnclosingWidget(node);//alert(checknode);
	    					if(checknode.checked)
	    					count++;
					    }
					);

					if(row == 1 )
					{
						alert('Please Select Atleast One Program');
						return false;
					}
                                      flag = checkphonefield();
                                      return flag;
				}
				else
					return false;
				</script>
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Placement Test Details");?>
					<?php if ( $this->errorMsg1 != '' ) {?>
					<div class="error message" id="targetErr"><?php echo $this->errorMsg1; ?></div>
					<?php } ?>
					
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Placement Test Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->PlacementTestName;?></td>
				<td><?php echo $this->translate("Placement Test Date");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->PlacementTestDate;?></td>

				<?php //echo $this->lobjplacementtestForm->IdPlacementTest;?>
				<?php echo $this->lobjplacementtestForm->IdPlacementTestBranch;?>
				<?php echo $this->lobjplacementtestForm->IdPlacementTestComponent;?>
				<?php echo $this->lobjplacementtestForm->UpdDate;?>
				<?php echo $this->lobjplacementtestForm->UpdUser;?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Placement Test Time");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->PlacementTestTime;?></td>
				<!--<td><?php echo $this->translate("Minimum Mark");?><span	class="reqMark">*</span></td>
		<td><?php echo $this->lobjplacementtestForm->MinMark;?></td>-->
				<td><?php echo $this->translate("Total Mark");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->TotalMark;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Intake"); ?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->Intake; ?></td>
				<td><?php echo $this->translate("Placement Test Type"); ?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->PlacementTestType; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Venue Address 1");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->Addr1;?></td>
				<td><?php echo $this->translate("Venue Address 2");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->Addr2;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Country");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->idCountry;?></td>
				<td><?php echo $this->translate("State");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->idState;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("City");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->City;?></td>
				<td><?php echo $this->translate("Zip Code");?></td>
				<td><?php echo $this->lobjplacementtestForm->Zip;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Contact No.");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->countrycode;?> <?php echo $this->lobjplacementtestForm->statecode;?>
					<?php echo $this->lobjplacementtestForm->Phone1;?></td>
				<!--<td><?php echo $this->translate("Markd Based On");?><span class="reqMark"></span></td>
	   <td><?php echo $this->lobjplacementtestForm->MarksBasedOn;?></td>-->
				<td><?php echo $this->translate("Passing Mark");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->PassingMark;?>
			
			</tr>
			<tr>
				<td><?php echo $this->translate("Active");?><span class="reqMark"></span>
				</td>
				<td colspan='3'><?php echo $this->lobjplacementtestForm->Active;?></td>
			</tr>
			<tr>


			</tr>
		</table>
		<br />
		<!--<div style="width:100%;height:300px;overflow:auto;">-->
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("List of Program / Scheme"); ?>
					<?php if ( $this->errorMsg2 != '' ) {?>
					<div class="error message" id="targetErr"><?php echo $this->errorMsg2; ?></div>
					<?php } ?>
				</th>
			</tr>

			<tr>
				<td><?php echo $this->translate("Program"); ?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->IdProgram; ?></td>
				<td><?php echo $this->translate("Scheme"); ?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjplacementtestForm->IdScheme; ?></td>
			</tr>
			<tr>
				<td align="right" colspan="4"><?php echo $this->lobjplacementtestForm->Add1; ?>
				</td>
			</tr>
		</table>
		
		<br />
		
		<table id="hor1" class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Program Name"); ?>
				</th>
				<th><?php echo $this->translate("Scheme"); ?></th>
				<th><?php echo $this->translate("Delete"); ?></th>
			</tr>
			<?php foreach($this->programdetails as $programdetails) {  ?>
			<tr>
				<td><?php echo $programdetails['ProgramName'];?> <input
					type='hidden' value='<?php echo $programdetails['IdProgram'];?>'
					name=IdProgramNamegrid[]> <input type='hidden'
					value='<?php echo $programdetails['IdProgramScheme'];?>'
					name=IdSchemeNamegrid[]>
				</td>
				<td><?php
                                    echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($programdetails['mode_of_program'])
                                    .' '.Application_Model_DbTable_ChecklistVerification::fnGetDefination($programdetails['mode_of_study'])
                                    .' '.Application_Model_DbTable_ChecklistVerification::fnGetDefination($programdetails['program_type']);
                                    ?>
				</td>
				<td><a href="javascript:void(0);" onClick="deleteRowProgram(this)">
						<img src='<?php echo $this->baseUrl();?>/images/delete.png'
						border=0 width='16' height='16'>
				</a>
				</td>
			</tr>
			<?php }?>
		</table>
		
		<br />
		
		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php echo $this->translate("Placement Test Mark Distribution");?>
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Component Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->ComponentName;?></td>
				<td><?php echo $this->translate("Weightage(%)");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->ComponentWeightage;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Total Mark");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->ComponentTotalMarks;?>
				</td>
				<td><?php echo $this->translate("Passing Mark");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjplacementtestForm->MinimumMark;?></td>
			</tr>
			<tr>
				      	<td><?php echo $this->translate("Marking Type"); ?><span class="reqMark">*</span></td>
				        <td><?php echo $this->lobjplacementtestForm->MarkingType; ?></td>
      				 </tr>
			<tr>
				<td align="right" colspan="4"><?php echo $this->lobjplacementtestForm->Add;?>
				</td>
			</tr>
		</table>
		
		<br />
		
		<table id="hor" class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Component Name");?>
				</th>
				<th><?php echo $this->translate("Marking Type"); ?></th>
				<th><?php echo $this->translate("Weightage(%)");?></th>
				<th><?php echo $this->translate("Total Mark");?>
				</th>
				<th><?php echo $this->translate("Passing Mark");?>
				</th>
				<th><?php echo $this->translate("Options");?></th>
			</tr>
			<?php foreach($this->resultPlacementComponent as $resultPlacementComponentdtl) {?>



			<tr>
				<td><?php echo $resultPlacementComponentdtl['ComponentName'];?> <input
					type='hidden'
					value='<?php echo $resultPlacementComponentdtl['ComponentName'];?>'
					name=ComponentNamegrid[]> <input type='hidden'
					value='<?php echo $resultPlacementComponentdtl['ComponentWeightage'];?>'
					name=ComponentWeightagegrid[]> 	<input type='hidden' value='<?php echo $resultPlacementComponentdtl['MarkingType'];?>' name=MarkingTypegrid[]>
					<input type='hidden'
					value='<?php echo $resultPlacementComponentdtl['ComponentTotalMarks'];?>'
					name=ComponentTotalMarksgrid[]> <input type='hidden'
					value='<?php echo $resultPlacementComponentdtl['MinimumMark'];?>'
					name=MinimumMarkgrid[]>
				</td>
				<td><?php if($resultPlacementComponentdtl['MarkingType'] == 0){?>
	       					<?php echo $this->translate("Marks");?>
	       					<?php }else if($resultPlacementComponentdtl['MarkingType'] == 1){?>
	       					<?php echo $this->translate("Pass/Fail");?>
	       					<?php }else{?>
	       					<?php echo "";?>
	       					<?php }?>
	       				</td>
	       				
				<td><?php echo $resultPlacementComponentdtl['ComponentWeightage'];?>
				</td>
				<td><?php echo $resultPlacementComponentdtl['ComponentTotalMarks'];?>
				</td>
				<td><?php echo $resultPlacementComponentdtl['MinimumMark'];?></td>
				<td><a href="javascript:void(0);"
					onClick="deleteRow(this,'<?php echo $resultPlacementComponentdtl['ComponentWeightage'];?>','<?php echo $resultPlacementComponentdtl['ComponentName'];?>');">
						<img src='<?php echo $this->baseUrl();?>/images/delete.png'
						border=0 width='16' height='16'>
				</a>
				</td>
			</tr>
			<?php }?>
		</table>

		<table class="table" width="100%">
			<tr>
				<td align="center" colspan="2"><?php echo $this->translate("Total Weightage")." - "?>
				<span id= "weightage"><?php echo $this->SumComponentWeightage ;?></span></td>
				</tr>
				<tr>
				<td align="right" colspan="4"><?php echo $this->lobjplacementtestForm->Save;?>
					<input type='button' class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Back')?>" value='click'
					onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementtest', 'action'=>'index'),'default',true);?>';" />
				</td>
			</tr>
		</table>
	</form>
</fieldset>

