<?php
function inarraycheck($needle, $haystack)
{
    for($h = 0 ; $h < count($haystack) ; $h++)
    {
        $haystack[$h] = $haystack[$h]['IdSubject'];
    }
    return in_array(strtolower($needle),$haystack);
}
?>

<?php if(count($this->finaldata)>0) {	?>
	<fieldset style="margin-top:10px;">

	       <legend><?php echo $this->translate("Course Registration Details");?></legend>

            <table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><?php echo $this->translate("Course");?></th>
	    	<th><?php echo $this->translate("Course Code");?></th>
	    	<th><?php echo $this->translate("Credit Hours.");?></th>
	    	<th><?php echo $this->translate("Registered By");?></th>
	    	<th><?php echo $this->translate("Registered Date");?></th>
	    	<th><?php echo $this->translate("Registered ?");?></th>
	    	</tr>

	        <?php foreach ($this->finaldata as $lobjcourse) {  
                    $needle = $lobjcourse['IdSubject'];
                    if($this->st=='disable') { 
                    $abc = inarraycheck(strtolower($needle),$this->finaldataRegd); }
                    
                    
                 ?>

	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();?>">
	        	<td><?php echo $this->escape($lobjcourse['SubjectName']);?></td>
	        	<td><?php echo $this->escape($lobjcourse['SubCode']);?></td>
	        	<td><?php echo $this->escape($lobjcourse['CreditHours']);?></td>
	        	<td><?php if(($this->st != "") && ($abc == "1")) echo $this->escape($lobjcourse['loginName']);?></td>
	        	<td><?php if(($this->st != "") && ($abc == "1")) echo substr($this->escape($lobjcourse['SubjectUpdateDate']),0,10);?></td>
	        	<td><input type="checkbox" <?php if($abc=='1' || $lobjcourse['AddDrop'] != '1') { ?> readonly="readonly" checked="checked" onclick="this.checked =! this.checked;" <?php } ?> name="coursechk[]" id="coursechk#<?php echo $this->escape($lobjcourse['IdSubject']);?>" value="<?php echo $this->escape($lobjcourse['IdSubject']);?>"></td>
	            </tr>

	       <?php } ?>

		</table>



    </fieldset>

<?php } ?>