
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<?php echo $this->form;?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Applicant Name");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>				
		<th><?php echo $this->translate("Program Offer");?></th>
		<th><?php echo $this->translate("Admission Type");?></th>			
	</tr>
	
	<?php 
	if (count($this->paginator)){
		foreach ($this->paginator as $lobjstudents){ 
			
		//get program name
		$programDB = new App_Model_Record_DbTable_Program();
		$program = $programDB->getProgrambyCode($lobjstudents['ap_prog_code']);
	?>
					
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		<td>
		<a href="<?php echo $this->baseUrl();?>/registration/studentregistration/studentregistrationdetails/txnId/<?php echo $this->escape($lobjstudents['at_trans_id']);?>">
			<?php print_r($this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']));?>
		</a> 
		</td>
		<td><?php echo $lobjstudents['at_pes_id'];?></td>		
		<td><?php echo '('.$program["ProgramCode"].') '.$program["ArabicName"];?></td>		
		<td><?php if($lobjstudents['at_appl_type']==1) echo "USM"; else echo "PSSB";?></td>	
			
	<?php } //end foreach
	 } //end if ?>
	</tr>
	
	<tr>
		<td colspan="8" align="right">
		<div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
</table>
