<style>
.makebold {
	font-weight: bold;
}

@media print {
	.non-printable {
		display: none;
	}
	.printable {
		display: block;
	}
}
</style>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery-ui-1.8.21.custom.min.js"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery.printElement.js"></script>
<link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->baseUrl(); ?>/css/jqueryui/smoothness/jquery-ui-1.8.21.custom.css" />
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery.colorbox.js"
	djConfig="parseOnLoad: true,locale:'<?php echo $locale; ?>'"></script>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		//dijit.byId('IdLandscape').set('value','');
		//dijit.byId('IdLandscape').set('placeHolder','Select');

		//dijit.byId('IdSemestersyllabus').set('value','');
		//dijit.byId('IdSemestersyllabus').set('placeHolder','Select');

		//dijit.byId('IdIntake').set('value','');
		//dijit.byId('IdIntake').set('placeHolder','Select');
	});

	function saveprintslip() {       
	       $( "#dialog" ).dialog({
				modal: true,
				height: 400,
				width: 650		});
	   }

	function PrintDiv() {    
       $('#dialog1').printElement();
      
	}
</script>

<fieldset><legend><?php echo $this->translate("Student Details");?></legend>
<table class="table" width="100%">
	<tr>
		<td><?php echo $this->translate("Scheme");?></td>
		<td><?php echo $this->studentdetails['EnglishDescription'];?></td>
		<td><?php echo $this->translate("Applicant ID");?></td>
		<td><?php echo $this->studentdetails['IdApplicant'];?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Intake");?></td>
		<td><?php echo $this->studentdetails['IntakeId'];?></td>
		<td><?php echo $this->translate("Student Name");?></td>
		<td><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
	</tr>


	<tr>
		<td><?php echo $this->translate($this->Branch);?></td>
		<td><?php echo $this->studentdetails['BranchName'];?></td>
		<td><?php echo $this->translate("NRIC");?></td>
		<td><?php echo $this->studentdetails['ExtraIdField1'];?></td>

	</tr>


	<tr>
		
		<td><?php echo $this->translate($this->Program).' '.$this->translate("Offered");?></td>
		<td><?php echo $this->studentdetails['ProgramName'];?></td>
		<td><?php echo $this->translate("Staus");?></td>
		<td><?php echo $this->studentdetails['DefinitionDesc'];?></td>
	</tr>


	<tr>
		<td><?php echo $this->translate("Outstanding Balance");?></td>
		<td></td>
		<td><?php echo $this->translate("Release Status");?></td>
		<td><?php echo $this->releasestatus;?></td>
	</tr>


</table>
</fieldset>


<Form dojoType="dijit.form.Form" id="myForm" action="" method="post"
	name="myForm"><script type="dojo/method" event="onSubmit">
                //if (this.validate()) {
                //	var resultData = checkonecourseselected();
                //	if(resultData==true) { return true; } else { return false;}
               // } else {
               //     return false;
               // }
				</script>
<fieldset style="margin-top: 10px;"><legend><?php echo $this->translate("Student Registration");?></legend>



<table class="table" width="100%">
	<tr>
		<td><?php echo $this->translate("Select Landscape");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjStudentRegForm->IdLandscape;?><?php echo $this->lobjStudentRegForm->UpdDate;?><?php echo $this->lobjStudentRegForm->IdProgram;?>
		<?php echo $this->lobjStudentRegForm->UpdUser;?> <?php echo $this->lobjStudentRegForm->IdStudentRegistration;?>
		</td>

		<td><?php echo $this->translate("Semester");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjStudentRegForm->IdSemestersyllabus;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Intake");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjStudentRegForm->IdIntake;?></td>

		<td><?php echo $this->translate("Student Id");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjStudentRegForm->registrationId;?></td>

		<td colspan=2></td>
	</tr>
</table>
<div id="hor"></div>


</fieldset>

<div id="targetCourse"><script>
		$('#targetCourse').load('<?php echo $this->baseUrl();?>/registration/studentregistration/getcourses/idlandscape/<?php echo $this->studentdetails['IdLandscape'];?>/idreg/<?php echo $this->studentdetails['IdStudentRegistration'];?>/st/disable');
</script></div>
		<?php //echo $this->disableRegBtn;?>
<table class="table" width="100%">
	<tr>
		<td colspan=6 align="right"><?php if($this->studentdetails['profileStatus'] != 92) {
			echo $this->lobjStudentRegForm->Save;
		}
		?> <?php echo $this->lobjStudentRegForm->Revert;?> <input
			type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Print"); ?>"
			onclick="saveprintslip()" /> <input type="button" class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistration', 'action'=>'index'),'default',true);?>';" />
		</td>
	</tr>
</table>
</Form>
<div id="dialog" title="Registration-Slip" style="display: none">
<div id="dialog1">
<table border="1" style="font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
	width="100%">
	<tr>
		<td style="border: 1px solid #FFFFFF; line-height: 16px;" colspan="2"><img src='<?php echo $this->baseUrl();?>/images/aucms-logo.jpg'></td>
		<td style="border: 1px solid #FFFFFF; line-height: 16px;padding-left: 18px;" colspan="2"><strong><?php echo "University Add.:"?></strong> <?php echo $this->univDetails['Add1'].','.$this->univDetails['Add2'].','.$this->univDetails['CityName'].','.$this->univDetails['StateName'].','.$this->univDetails['CountryName'].','.$this->univDetails['Zip'];?></td>
	</tr>
	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Scheme")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['EnglishDescription'];?></td>

		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Student Id")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['registrationId'];?></td>
	</tr>
	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Intake")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['IntakeId'];?></td>

		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Name")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
	</tr>

	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Branch")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['BranchName'];?></td>

		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("NRIC")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['ExtraIdField1'];?></td>
	</tr>

	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Program")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['ProgramName'];?></td>

		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Address")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['PermAddressDetails'].','.$this->studentdetails['CityName'].','.$this->studentdetails['StateName'].','.$this->studentdetails['CountryName'].','.$this->studentdetails['PermZip'];?></td>
	</tr>

	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Date Printed")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo date('m-d-Y')?></td>

		<td style="border: 1px solid #696969; line-height: 16px;"><strong><?php echo $this->translate("Contact No.(M)")?></strong></td>
		<td style="border: 1px solid #696969; line-height: 16px;"><?php echo $this->studentdetails['CellPhone'];?></td>
	</tr>

	<tr>
		<th style="border: 1px solid #2E2E2E; line-height: 16px;background-color: #2E2E2E;text-align: center;" colspan="4"><strong><font color="WHITE"><?php echo $this->translate("Registered Course(s) for Semester").' '.$this->semester;?></font></strong></th>
	</tr>
	<tr>
		<th style="border: 1px solid #2E2E2E; line-height: 16px;background-color: #2E2E2E;"  colspan="2"><strong><font color="WHITE"><?php echo $this->translate("Course")?></font></strong></th>
		<th style="border: 1px solid #2E2E2E; line-height: 16px;width: 216px;background-color: #2E2E2E;"  colspan="1"><strong><font color="WHITE"><?php echo $this->translate("Course Code")?></font></strong></th>
		<th style="border: 1px solid #2E2E2E; line-height: 16px;background-color: #2E2E2E;"><strong><font color="WHITE"><?php echo $this->translate("Credit Hours")?></font></strong></th>
	</tr>
	<?php foreach ($this->finalsubjects as $lobjcourse) {?>
	<tr>
		<td style="border: 1px solid #696969; line-height: 16px;" align="left" colspan="2"><?php echo $this->escape($lobjcourse['SubjectName']);?></td>
		<td style="border: 1px solid #696969; line-height: 16px;" align="left" colspan="1"><?php echo $this->escape($lobjcourse['SubCode']);?></td>
		<td style="border: 1px solid #696969; line-height: 16px;" align="left"><?php echo $this->escape($lobjcourse['CreditHours']);?></td>
	</tr>
	<?php } ?>
	</table>
	</div>
<table width="100%">	
	<tr>
		<td align="right" colspan="4"><input type="button" class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Print"); ?>" onclick="PrintDiv()" />
		</td>
	</tr>

</table>

</div>
