<script type="text/javascript">
	dojo.addOnLoad(function() {
		dijit.byId('IdLandscape').set('value','');
		dijit.byId('IdLandscape').set('placeHolder','Select');

		dijit.byId('IdSemestersyllabus').set('value','');
		dijit.byId('IdSemestersyllabus').set('placeHolder','Select');

		dijit.byId('IdIntake').set('value','');
		dijit.byId('IdIntake').set('placeHolder','Select');

		<?php if($this->makeRegFieldHide=='0') { ?>
		dojo.style('targetrid', { 'display' : 'block' });
		<?php } else { ?>
		dojo.style('targetrid', { 'display' : 'none' });
		<?php } ?>

	});


function fnGetSyllabusList(idlandscape) {
//alert(idlandscape);
$.post("<?php echo $this->baseUrl();?>/registration/studentregistration/getcourses", { idlandscape: idlandscape },
   function(data) {
     document.getElementById('targetCourse').innerHTML = data;
      });
}

function checkonecourseselected() {

    var chks = document.getElementsByName('coursechk[]');
	var hasChecked = false;
	for (var i = 0; i < chks.length; i++)
	{
		if (chks[i].checked)
		{
			hasChecked = true;
			break;
		}
	}
	if (hasChecked == false)
	{
		alert("Please select at least one course.");
		hasChecked = false;
	}
	return hasChecked;
}


</script>

<fieldset>
    <legend><?php echo $this->translate("Student Details");?></legend>
         <table class="table" width="100%" >
            
             <tr>
             	 <td><?php echo $this->translate("Scheme");?></td>
                 <td><?php echo $this->studentdetails['EnglishDescription'];?></td>
                 <td ><?php echo $this->translate("Intake");?></td>
                 <td ><?php echo $this->studentdetails['IntakeId'];?></td>
              </tr>

              <tr>
                 <td ><?php echo $this->translate($this->Branch);?></td>
                 <td ><?php echo $this->studentdetails['BranchName'];?></td>                 
                <td ><?php echo $this->translate("Registration Location");?></td>
                 <td ><?php echo $this->rlName;?></td>
              </tr>


             <tr>
                 <td ><?php echo $this->translate("Student Name");?></td>
                 <td ><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
                 <td ><?php echo $this->translate("ID No");?></td>
                 <td ><?php echo $this->studentdetails['ExtraIdField1'];?></td>                

              </tr>


              <tr>
                 <td ><?php echo $this->translate("Application ID");?></td>
                 <td ><?php echo $this->studentdetails['IdApplicant'];?></td>
                 <td ><?php echo $this->translate($this->Program).' '.$this->translate("Offered");?></td>
                 <td ><?php echo $this->studentdetails['ProgramName'];?></td>                 
              </tr>
              
              
               <tr>
                 <td ><?php echo $this->translate("Outstanding Balance");?></td>
                 <td ></td>
                 <td ><?php echo $this->translate("Release Status");?></td>
                 <td ><?php echo $this->releasestatus;?></td>                 
              </tr>
             
         </table>
</fieldset>


    <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
     <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                	var resultData = checkonecourseselected();
                	if(resultData==true) { return true; } else { return false;}
                } else {
                    return false;
                }
				</script>

	
    <fieldset style="margin-top:10px;">
    <legend><?php echo $this->translate("Student Registration");?></legend>
	<p align="center" style="color:red;"><?php echo $this->errMsgFinance;?></p>


                <table class="table" width="100%" >
                    <tr>
                       <td ><?php echo $this->translate("Select Landscape");?><span class="reqMark">*</span></td>
                       <td ><?php echo $this->lobjStudentRegForm->IdLandscape;?><?php echo $this->lobjStudentRegForm->UpdDate;?><?php echo $this->lobjStudentRegForm->IdProgram;?>
                            	<?php echo $this->lobjStudentRegForm->UpdUser;?></td>

                       <td ><?php echo $this->translate("Semester");?><span class="reqMark">*</span></td>
                       <td ><?php echo $this->lobjStudentRegForm->IdSemestersyllabus;?></td>
 </tr>

                      <tr>
                       <td ><?php echo $this->translate("Intake");?><span class="reqMark">*</span></td>
                       <td ><?php echo $this->lobjStudentRegForm->IdIntake;?></td>

 					   <?php if($this->makeRegFieldHide=='0') { ?>
                       <td ><?php echo $this->translate("Student Id");?><span class="reqMark">*</span></td>
                        <?php } else { ?>
						<td ></td> <?php } ?>
                       <td id="targetrid" ><?php echo $this->lobjStudentRegForm->registrationId;?></td>


                        <td colspan=2></td>
                    </tr>
               </table>
               <div id="hor">

               </div>


</fieldset>

<div id="targetCourse"></div>

<table class="table" width="100%" >
   		<tr>
            <td colspan=6 align = "right">
                <?php if($this->remRegBtn=='1') { 
                 echo $this->lobjStudentRegForm->Save;
                } 
                 ?>
                
                <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistration', 'action'=>'index'),'default',true);?>';" />
             </td>
        </tr>
</table>


</Form>
