<script>

$(function() {
	
	$( "#dialog-answer" ).dialog({
        autoOpen: false,
        width: 650,
        height: 400,
        modal: true,
        buttons: {          
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
	
});

function openDialog(soa_id){
	url = "<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet','action'=>'student-answer','IdMarksDistributionMaster'=>$this->IdMarksDistributionMaster), 'default', true);?>/soa_id/"+soa_id;
	$( "#dialog-answer" ).load(url).dialog('open');	
}


function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet','action'=>'index'), 'default', true);?>";
}


</script>


<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet','action'=>'upload-omr','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idMaster'=>$this->IdMarksDistributionMaster),'default',true);?>"><?php echo $this->translate("Upload"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet','action'=>'student-list','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idMaster'=>$this->IdMarksDistributionMaster),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		
		   <li>
			        <a href="#" onClick="process()">
					<span class='process' ></span>
					<?php echo $this->translate("Process Mark"); ?>
					</a>	
				
			</li>
				  
			<li>							
					<a href="#" onClick="back()">
						<span class='back'></span>Back</a>				
			</li>	
			
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo $this->program['ArabicName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Subject Name "); ?></th>   
		    <td><?php echo $this->subject['BahasaIndonesia'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
</table>
<br>

<fieldset><legend><?php echo $this->translate("Search Options")?></legend>
<?php echo $this->form; ?>
</fieldset>
<br>

<?php if(count($this->student_list)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><?php echo $this->translate("No")?></th>
		<th><?php echo $this->translate("Student Name")?></th>
		<th><?php echo $this->translate("NIM")?></th>				
	</tr>
	<?php 
	$i=1;	
	foreach($this->student_list as $student){
		//if($subject["total_student"]>0){
	?>
		
	<tr>
		<td><?php echo $i;?></td>
		<td><?php echo $student["student_name"];?></td>
		<td><a href="#" onclick="openDialog(<?php echo $student["soa_id"];?>);"><?php echo $student["registrationId"];?></a></td>
	</tr>
		<?php 
		$i++; }?>
	
</table>
<?php }//end if?>

</div>
<br>

<div id="dialog-answer" title="<?php echo $this->translate("Student Answer"); ?>">
  
</div>