
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br><br>

	<fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
    <?php echo $this->form;?>
    </fieldset>
    <br/>
	<fieldset>
	<legend><?php echo $this->translate("Student List");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
		  	<tr>
	            <th><?php echo $this->translate("Student Name");?></th>	             
		    	<th><?php echo $this->translate("Student ID");?></th>
		    	<th><?php echo $this->translate("Programme");?></th>
		    	<th><?php echo $this->translate("Programme Scheme");?></th>
		    	<th><?php echo $this->translate("Intake");?></th>
		    	<th><?php echo $this->translate("Registration Date");?></th>		    	
		    	<th><?php echo $this->translate("Student Status");?></th>
		    	<th></th>
	    	</tr>

	    	<?php 	    	
	    	if (count($this->paginator)){	    		
	        foreach ($this->paginator as $lobjstudents){
	        ?>
	  		<tr>	  		
	        	<td align='center'><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></td>
	        	<td align='center'><?php echo $this->escape($lobjstudents['registrationId']);?></td>
                <td align='center'><?php echo ($this->locale=='ms_MY' ? $lobjstudents['ArabicName']:$lobjstudents['ProgramName']);?></td>
                <td align='center'>
                	 <?php 
                     if($this->locale=='ms_MY'){                     	
                     	echo $lobjstudents['mop_my'].' '.$lobjstudents['mos_my'].' '.$lobjstudents['pt_my'];                 		
                	 }else{
                	 	echo $lobjstudents['mop'].' '.$lobjstudents['mos'].' '.$lobjstudents['pt'];
                	 }
        			 ?>
                </td>
	        	<td align='center'><?php echo ($this->locale=='ms_MY' ? $lobjstudents['IntakeDefaultLanguage']:$lobjstudents['IntakeDesc']);?></td>
	        	<td align='center'><?php echo $this->escape($lobjstudents['UpdDate']);?></td>	        	
	        	<td align='center'><?php echo $lobjstudents['profileStatus'];?></td>
	        	<td align='center'>
	        	<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registrationhistory', 'action'=>'studenthistorydetails','id'=>$this->escape($lobjstudents['IdStudentRegistration'])),'default',true);?>"><?php echo $this->translate("Summary");?></a>
	        	|
	        	<a href="<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile', 'action'=>'student-profile','id'=>$this->escape($lobjstudents['IdStudentRegistration'])),'default',true);?>"><?php echo $this->translate('Student profile'); ?></a>
	        	</td>
	       <?php 
	        } } 
	        ?>
			</tr>
			
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>

