<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');

	//dijit.byId('field23').set('value','');
	//dijit.byId('field23').set('placeHolder','Select');

	dijit.byId('field24').set('value','');
	dijit.byId('field24').set('placeHolder','Select');

	dijit.byId('field25').set('value','');
	dijit.byId('field25').set('placeHolder','Select');

	dijit.byId('field26').set('value','');
	dijit.byId('field26').set('placeHolder','Select');




	});
</script>
</head>


<body class="claro">

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br><br>

	<fieldset>
	<legend><?php echo $this->translate("Search Options");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/registrationhistory/index/search/1" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field2;?></td>
				                   <td><?php echo $this->translate("Student Id");?></td>
				                   <td ><?php echo $this->lobjform->field3;?></td>
				                </tr>
				                <tr>
				                   <td><?php echo $this->translate("Profile Status");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
                                   <td><?php echo $this->translate("Registration Date");?></td>
                                   <td><?php echo $this->lobjform->field15;?></td>
				                </tr>

				                <tr>
				                   <td><?php echo $this->translate("Program");?></td>
				                   <td ><?php echo $this->lobjform->field24;?></td>
                                    <td><?php echo $this->translate("Course");?></td>
                                    <td><?php echo $this->lobjform->field25;?></td>
				                </tr>

				                 <tr>
				                   <td><?php echo $this->translate("Intake");?></td>
				                   <td ><?php echo $this->lobjform->field26;?></td>
                                   <td>&nbsp;</td>
                                   <td>&nbsp;</td>
				                </tr>

                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<?php echo $this->lobjform->Clear;?>
								</td>

                                </tr>
                        </table>
                    </form>
    </fieldset>
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
		  	<tr>
	            <th><?php echo $this->translate("Student Name");?></th>    
		    	<th><?php echo $this->translate("Student ID");?></th>
		    	<th><?php echo $this->translate("Program");?></th>
		    	<th><?php echo $this->translate("Intake");?></th>
		    	<th><?php echo $this->translate("Registration Date");?></th>
		    	<th><?php echo $this->translate("Student Status");?></th>
	    	</tr>

	    	<?php 	    	
	    	if (count($this->paginator)){	    		
	        foreach ($this->paginator as $lobjstudents){
	        ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	  		
	        	<td><a href="<?php echo $this->baseUrl();?>/registration/registrationhistory/studenthistorydetails/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></a></td>
	        	<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
                <td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['IntakeId']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['UpdDate']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['DefinitionCode']);?></td>
	       <?php 
	        } } 
	        ?>
			</tr>
			
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</body>
</html>
