<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>
<script type="text/javascript">
    $(function(){
        $('.check-all').on('click', function(){
            $('.check').prop('checked', this.checked);

            if ( this.checked == true ){
                $('.check').parent().parent().addClass('hlchk');
                $('.chkDrop').prop('disabled', false);
                $('.refundDrop').prop('disabled', false);
            }else{
                $('.check').parent().parent().removeClass('hlchk');
                $('.chkDrop').prop('disabled', true);
                $('.refundDrop').prop('disabled', true);
            }
        });

        $('.check').on('change', function(){
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if ( this.checked == true ){
                if ($('.check').not(':checked').length == 0){
                    $('.check-all').prop('checked', true);
                }else{
                    $('.check-all').prop('checked', false);
                }

                $(this).parents('tr').find('.chkDrop').prop('disabled', false);
                $(this).parents('tr').find('.refundDrop').prop('disabled', false);
            }
            else{
                $('.check-all').prop('checked', false);
                $(this).parents('tr').find('.chkDrop').prop('disabled', true);
                $(this).parents('tr').find('.refundDrop').prop('disabled', true);
            }
        });

        $('#form_notification').on('submit', function (){
            if ($('.check').is(':checked') == false){
                alert('Please select at least one student to withdraw');
                return false;
            }else{
                var submit = true;

                $('.check:checked').each(function(){
                    //alert($(this).parents('tr').find('.chkDrop:checked').length);
                    if ($(this).parents('tr').find('.chkDrop:checked').length == 0){
                        submit = false;
                        return false;
                    }else{
                        return true;
                    }
                });

                if (submit == false){
                    alert('Please select at least one item for every student selected');
                    return false;
                }

                var ask = confirm('Are you sure?');

                if (ask == true){
                    return true;
                }else{
                    return false;
                }
            }
        });
    });

    function checkDrop(element,no,mandatory,item_id){

        var isChecked = $(element).is(':checked');

        if(mandatory==1){

            if(isChecked==true){
                $('.IdDropItem'+no).prop("checked", true);
                $('.IdRefundItem'+no).prop("disabled", false);
            }else{
                $('.IdDropItem'+no).prop("checked", false);
                $('.IdRefundItem'+no).prop("disabled", true);
            }
        }else{
            if(isChecked==true){
                $('#refund'+no+item_id).prop("disabled", false);
            }else{
                $('#refund'+no+item_id).prop("disabled", true);
            }
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'bulk-withdrawal', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Schedule Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="15%"><?php echo $this->translate('Group Name'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Group Code'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Course'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max Student'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['maxstud']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<form method="post" id="form_notification" name="form_notification">
    <div class="message notice"><span class="icon-info-circled"></span> Please select at list one student to withdraw</div>
    <br/>
    <table class="table" width="100%">
        <tr>
            <th><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Mode of Study'); ?></th>
            <th><?php echo $this->translate('Mode of Programme'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
            <th><?php echo $this->translate('Item'); ?></th>
        </tr>
        <?php
        if ($this->studentList) {
            $no = 0;
            foreach ($this->studentList as $studentLoop) {
                $no++;
                ?>
                <tr>
                    <td align="center"><input type="checkbox" name="check[<?php echo $studentLoop['IdStudentRegistration']; ?>]" id="check_<?php echo $studentLoop['IdStudentRegistration']; ?>" class="check"></td>
                    <td><?php echo $studentLoop['studentName']; ?></td>
                    <td><?php echo $studentLoop['registrationId']; ?></td>
                    <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
                    <td align="center"><?php echo $studentLoop['mos']; ?></td>
                    <td align="center"><?php echo $studentLoop['mop']; ?></td>
                    <td align="center"><?php echo $studentLoop['Active']!=3 ? 'Active':'Withdraw'; ?></td>
                    <td>
                        <?php //var_dump($studentLoop['item']); ?>
                        <table class="table" width="100%">
                        <?php
                        foreach($studentLoop['item'] as $item){
                            if($item['isRegisterItem']==1){
                        ?>
                        <tr>
                            <td width="2%" align="center">
                                <input checked="checked" disabled="disabled" class="chkDrop IdDropItem<?php echo $studentLoop['IdStudentRegistration']; ?>" type='checkbox' name='IdDropItem[<?php echo $studentLoop['IdStudentRegistration']; ?>][]' id='IdDropItem<?php echo $studentLoop['IdStudentRegistration']; ?><?php echo $item['item_id'];?>' value='<?php echo $item['srsd_id'];?>' onclick='checkDrop(this,"<?php echo $studentLoop['IdStudentRegistration']; ?>","<?php echo $item['mandatory']; ?>","<?php echo $item['item_id'];?>")'>
                            </td>
                            <td width="25%"><?php echo $item['item_name']; ?></td>
                            <td>
                                <select disabled="disabled" class="select refundDrop IdRefundItem<?php echo $studentLoop['IdStudentRegistration']; ?>"  name='refund[<?php echo $studentLoop['IdStudentRegistration']; ?>][<?php echo $item['srsd_id'];?>]' id='refund<?php echo $studentLoop['IdStudentRegistration']; ?><?php echo $item['item_id'];?>'>
                                    <option value='0'>No Refund</option>
                                    <option value='100' selected="selected">100% Refund</option>
                                    <option value='50'>50% Refund</option>
                                </select>
                            </td>
                        </tr>
                        <?php } } ?>
                        </table>
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save" value="save"><?php echo $this->translate('Withdrawal'); ?></button>
    </div>
</form>