<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/highcharts/highcharts.js');

?>
<script type="text/javascript">

$(function(){
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_semester').change(function(){
		if( $(this).prop('checked') ){
			$('.checksemester').prop('checked',true);
		}else{
			$('.checksemester').prop('checked',false);
		}
	});

	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
	
});

$(function() {
	getSemester('#program');

});

function getSemester(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#semesterdiv').empty();
		    	$.each(data, function(index) {
		    		$('#semesterdiv').append('<input type="checkbox" name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'" class="checksemester">'+data[index].SemesterMainName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semesterdiv');
		      
			},
			complete: function() {
				hideLoading('semesterdiv');
			}  	
		});
	 }
}
function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-billing-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>
	<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
</ul>      
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program" id="program" class="select"
			onchange="getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->program == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>
		<input type="checkbox" name="" id="check_all_semester" />ALL<br>
		<div id="semesterdiv"></div></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo ($this->date_to=='') ? date('Y-m-d'):$this->date_to;?>" />
			<?php
			if($this->semester){ 
				foreach($this->semester as $key=>$value){ 
			?>
			<input type="hidden" name="semester_id[]" id="semester_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
			<?php
			if($this->intake){ 
				foreach($this->intake as $key=>$value){ 
			?>
			<input type="hidden" name="intake_id[]" id="intake_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if($this->data){?>
<table width="100%">
<tr>
	<td class="chart-wrap">
		<!-- chart -->
		<h3>Invoice</h3>
		<div id="chart_invoice" style="min-width: 400px; min-height: 700px; margin: 0 auto"></div>
		<!-- /chart -->
	</td>
	<td>
		<table class="table">
			<tr>
				<th><?php echo $this->translate('Semester')?></th>
				<th><?php echo $this->translate('Total Amount (MYR)')?></th>
			</tr>
			<?php 
			$totalAmount = 0;
			foreach($this->data as $data){
				$totalAmount += $data['amount'];
			?>
			<tr>
				<td><?php echo $data['semester'];?></td>
				<td align="right"><?php echo number_format($data['amount'],2);?></td>
			</tr>
			
			<?php } ?>
			<tr>
				<th><?php echo $this->translate('Total')?></th>
				<th class="right"><?php echo number_format($totalAmount,2);?></th>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="chart-wrap">
		<h3>Collection</h3>
		<div id="chart_pie1" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
	</td>
	
</tr>
</table>
<?php }?>

<script type="text/javascript">
<?php echo $this->chart->renderChart();?>
</script>
