 <script>
$(function() {
	
$("#rds_date" ).datepicker({ dateFormat: 'yy-mm-dd' });

$("#rds_start_time, #rds_end_time").timePicker({
	  startTime: "06:00", // Using string. Can take string or Date object.
	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  show24Hours: true,
	  separator: ':',
	  step: 10});

});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-setup','action'=>'index'),'default',null);?>">
					<span class='process'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">
<?php  echo $this->form;?>
</div>