<script>
function add(){
	window.location='<?php echo $this->url(array('module'=>'registration','controller'=>'registration-setup','action'=>'add'),'default',null);?>';
}

function del(){

		if (!$("input[name='rds_id']").is(':checked')) {
		   alert('Nothing is checked!');
		}
		else {

			  var rds_id = $("input[name='rds_id']:checked").val();
			 alert(rds_id);
			  msg=confirm('<?php echo $this->translate("Are you sure you want to delete this information");?>');
			  if(msg){
				  window.location='<?php echo $this->url(array('module'=>'registration','controller'=>'registration-setup','action'=>'delete'),'default',null);?>/id/'+rds_id;
			  }
		}
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<br>
<div style="width:100%;">
<?php echo $this->form; ?>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>	
		<th><?php echo $this->translate("Intake");?></th>	
		<th><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Start Time");?></th>
		<th><?php echo $this->translate("End Time");?></th>		
		<th><?php echo $this->translate("Capacity");?></th>
		<!--<th><?php echo $this->translate("Program");?></th>-->		
	</tr>
	<?php 
	if(count($this->date_list)>0){
		foreach($this->date_list as $info){
	?>
	<tr>
		<td><input type='radio' name='rds_id' id='rds_id' value='<?php echo $info['rds_id']?>'></td>
		<td><?php echo $info['intake']?></td>
		<td><?php echo $info['rds_date']?></td>
		<td><?php echo $info['rds_start_time']?></td>
		<td><?php echo $info['rds_end_time']?></td>
		<td><a href='<?php echo $this->url(array('module'=>'registration','controller'=>'registration-setup','action'=>'view','id'=>$info['rds_id']),'default',null);?>'><?php echo $info['rds_capacity']?></a></td>
		<!--<td></td>-->
	</tr>
	<?php } } ?>
</table>
</div>