<script>
function back(){
	window.location='<?php echo $this->url(array('module'=>'registration','controller'=>'registration-setup','action'=>'index'),'default',null);?>';
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:back()">
					<span class='back'></span>
					Back
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">
<?php   setlocale(LC_ALL, 'id_ID');?>
<table class="table" width="80%" cellpadding="5" cellspacing="2" border="0">
<tr>
	<th width='30%'><?php echo $this->translate("Intake");?></th>
	<td>:<?php echo $this->schedule['intake'];?></td>
</tr>
<tr>
	<th><?php echo $this->translate("Registration Date");?></th>
	<td>:<?php echo strftime("%A, %d %B %Y", strtotime($this->schedule['rds_date']));?></td>
</tr>
<tr>
	<th><?php echo $this->translate("Time");?></th>
	<td>:<?php echo date("H:i",strtotime($this->schedule['rds_start_time']));?> s/d <?php echo date("H:i",strtotime($this->schedule['rds_end_time']));?> WIB</td>
</tr>
<tr>
	<th><?php echo $this->translate("Capacity");?></th>
	<td>:<?php echo $this->schedule['rds_intake'];?></td>
</tr>
</table>
<h2><?php echo $this->translate("Applicant List");?></h2>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>	
		<th><?php echo $this->translate("Applicant Name");?></th>	
		<th><?php echo $this->translate("Nomor Pendaftaran");?></th>
		<th><?php echo $this->translate("Program");?></th>		
	</tr>
	<?php 
	if(count($this->applicant)>0){
		foreach($this->applicant as $info){
	?>
	<tr>
		<td><?php echo $info['applicant_name']?></td>
		<td><?php echo $info['at_pes_id']?></td>
		<td><?php echo $info['ProgramName']?></td>		
	</tr>
	<?php } } ?>
</table>
</div>