<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div class="chev-step">
	<ul>
		<li>1. <?php echo $this->translate('Recipients')?></li>
		<li class="current">2. <?php echo $this->translate('Review')?></li>
		<li>3. <?php echo $this->translate('Compose')?></li>
		<li>4. <?php echo $this->translate('Send')?></li>
	</ul>
</div>

<h3><?php echo $this->translate('Recipients')?> <span class="label" id="total"><?php echo $this->total?></span></h3>
<form method="post" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-msg'), 'default', true);?>" onsubmit="return checkform()">
<input type="hidden" value="<?php echo $this->formdata['rectype']?>" name="rectype" id="rectype" />

<div class="table-wrap">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><input type="checkbox" checked="checked" onchange="ifmax(); updateTotal();" name="checkall" id="select-all" value=""></th>		
		<th><?php echo $this->formdata['rectype'] == 'applicants' ? $this->translate("applicant_name") : $this->translate("Student Name");?></th>
		<th><?php echo $this->formdata['rectype'] == 'applicants' ? $this->translate("applicantID") : $this->translate("Student ID");?></th>
	</tr>
	
	<?php $i = 0; ?>
	<?php foreach ($this->recipients as $app): $i++; ?>
	<tr <?php echo $i > 20 ? 'class="hidden"':''?>>
		<td class="center">
			<input type="checkbox" checked="checked" onchange="updateTotal(); ifmax();" class="chk" name="rec[<?php echo $app['at_trans_id']; ?>]" value="<?php echo $this->escape($app['app_name']) ?>" />
		</td>		
		<td><?php echo $app['app_name']; ?></td>
		<td><?php echo $app['at_pes_id']; ?></td>
	</tr>
	<?php
	endforeach;
	?>
</table>
</div>
<div class="form-opt">
	<input type="submit" name="compose" value="<?php echo $this->translate('Continue')?>" class="btn-submit"/>
</div>
</form>

<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose'), 'default', true);?>";

	return false;
}

function ifmax()
{
	var max = $(".chk").length;
	var checked = $(".chk:checked").length;
	
	if ( checked == max )
	{
		$("#select-all").prop("checked",true);
	}
	else
	{
		$("#select-all").prop("checked",false);
	}
}

function updateTotal()
{
	var total = $(".chk:checked").length;
	$("#total").html(total);
}

function checkform()
{
	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No applicant selected')?>');
		return false;
	}
	return true;
}

$(document).ready(function() 
{
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});

	var checkhidden = $("table tr.hidden").length;
	if ( checkhidden > 0 )
	{
		$(".table").after("<a href='#' onclick='return toggleall()' class='showall'>Show All</a>");
	}
});

function toggleall()
{
	$(".showall").remove();
	$("table tr.hidden").show();
	return false;
}

</script>
<style type="text/css">
	.table tr.hidden { display:none }
	.table-wrap { position:relative; }
	a.showall { background:#fff; text-align:center; width:70px; font-size:13px; padding:5px 10px; position:absolute; margin-left:-45px; left:50%; z-index:10; border:1px solid #ccc; margin-top:-10px; -webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.05); -moz-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.05); box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.05); }
</style>