<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups'), 'default', true);?>";

	return false;
}

function recipients()
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups-recipients','id'=>$this->id), 'default', true);?>";

	return false;
}

function checkform()
{
	var checked = $(".chk:checked").length;

	if ( checked == 0 )
	{
		alert('<?php echo $this->translate('Please select atleast one applicant')?>');	
		return false;
	}

	return true;
}

function getPeriod(element){
	var intake_id = $(element).val();

	if(intake_id==""){
		intake_id = -1;
	}
	
	$.ajax({
		url: "/application/selection-highschool/ajax-get-period",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period_id').empty().append('<option value=""> Please Select </option>');
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}


$(document).ready(function() {
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});        
});

</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="return recipients()">
					<span class='edit'></span>
					<?php echo $this->translate('Recipients')?>
				</a>
			</li>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<h3><?php echo $this->translate('Group Information')?></h3>
<form method="post" action="">
<input type="hidden" value="<?php echo $this->group['group_id']?>" name="group_id"/>

<table width="100%" class="table">

	<tr>
		<td width="20%"><?php echo $this->translate('Name')?></td>
		<td><input type="text" name="group_name" class="input-txt" value="<?php echo $this->group['group_name']?>" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><input type="text" class="input-txt" name="group_description" value="<?php echo $this->group['group_description']?>" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Recipient Type')?></td>
		<td><?php echo ($this->group['group_rectype']==0 ? $this->translate('Applicant'):$this->translate('Student')) ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Type')?></td>
		<td><?php echo ($this->group['group_type']==0 ? $this->translate('Normal'):$this->translate('Auto')) ?></td>
	</tr>
	
	<?php if ($this->group['group_type']==1): ?>
	<tr>
		<td><?php echo $this->translate('Status')?></td>	
		<td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->group['group_status']); ?></td>
	</tr>
	<?php endif; ?>

	<?php if ($this->group['group_type']!=1): ?>
	<tr>
		<td><?php echo $this->translate('Recipients')?></td>
		<td><?php echo $this->group['total_recipients']?> <?php if ( $this->group['total_recipients'] > 0 ) { ?>(<a href="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups-recipients','id'=>$this->id), 'default', true);?>"><?php echo $this->translate('view')?></a>)<?php } ?></td>
	</tr>
	<?php endif; ?>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" class="btn-submit" value="<?php echo $this->translate('Update')?>" name="update" /></td>
	</tr>
</table>
</form>

<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br />
<?php 
if ($this->group['group_type']==0):
?>
<div id="search_form">
	<fieldset>
	<legend><?php echo $this->translate('Search')?></legend>
	<?php echo  $this->search_form;?>
	</fieldset>
</div>


<br />

<h3><?php echo $this->translate('Recipients')?> <span class="label"><?php echo number_format($this->totalfound) ?></span></h3>
<form method="post" action="" onsubmit="return checkform()">
<input type="hidden" value="<?php echo $this->group['group_id']?>" name="group_id"/>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><input type="checkbox" name="checkall" id="select-all" value=""></th>		
		<th><?php echo $this->group['group_rectype'] == 0 ? $this->translate("Applicant Name") : $this->translate("Student Name");?></th>
		<th><?php echo $this->group['group_rectype'] == 0 ? $this->translate("Applicant ID") : $this->translate("Student ID");?></th>
	</tr>
	
	<?php foreach ($this->paginator as $entry): ?>
	<?php
	$appname = str_replace('  ',' ',$entry['appl_fname']." ".$entry['appl_mname']." ".$entry['appl_lname']);
	$entry_id = $this->group['group_rectype'] == 0 ? $entry['at_trans_id'] : $entry['IdStudentRegistration'];
	$link = $this->group['group_rectype'] == 0 ? $this->url(array('module'=>'application','controller'=>'index', 'action'=>'edit', 'id'=>$entry['at_trans_id']),'default',true) : $this->url(array('module'=>'records','controller'=>'studentprofile', 'action'=>'student-profile', 'id'=>$entry['IdStudentRegistration']),'default',true);
	?>
	<tr>
		<td class="center">
			<input type="checkbox" class="chk" name="txn_id[<?php echo $entry_id; ?>]" value="<?php echo $this->escape($appname) ?>" />
		</td>		
		<td><a target="_blank" href="<?php echo $link ?>"><?php echo $appname; ?></a></td>
		<td><?php echo $this->group['group_rectype'] == 0 ? $entry['at_pes_id'] : $entry['registrationId']; ?></td>
	</tr>
	<?php
	endforeach;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<div class="form-opt">
	<input class="btn-submit" type="submit" value="<?php echo $this->translate('Add Into Group')?>" name="addgroup" />
</div>
</form>
<?php 
endif;
?>