<div class="message toolbar">
    <h2><?php echo $this->translate("Scholarship Income Weightage"); ?></h2>
</div>
<br />


<form id="myForm" action="" method="post" name="myForm">
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Currency"); ?> <span class="reqMark">*</span></td>
            <td>
                <select class="select" name="incomeweight[currency]" required="">
                    <option label="-- Select --" value="">-- Select --</option>
                    <?php
                    if ($this->currency){
                    foreach ($this->currency as $currencyLoop){
                    ?>
                    <option label="<?php echo $currencyLoop['DefinitionDesc']; ?>" value="<?php echo $currencyLoop['idDefinition']; ?>"><?php echo $currencyLoop['DefinitionDesc']; ?></option>
                    <?php
                    }
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Income")  ;?> <span class="reqMark">*</span></td>
            <td><input class="input-txt" type="text" name="incomeweight[from]" required=""> to <input class="input-txt" type="text" name="incomeweight[to]" required=""></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?> <span class="reqMark">*</span></td>
            <td><input class="input-txt" type="text" name="incomeweight[score]" required=""></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>