<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'admission-checklist', 'action' => 'index'), 'default', true); ?>">
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
    <br/>
<?php } ?>
<?php
$this->form->setAction($this->url());
echo $this->form;
?>

<script type="text/javascript">

    function getProgramScheme(element){

        var idProgram = $(element).val();

        if(idProgram != ''){
            $.ajax({
                url: "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'progscheme-tag-ajax'),'default',true);?>",
                data: {'id':idProgram},
                type: 'POST',
                dataType: 'json',
                success: function(data){

                    $('#IdProgramScheme').empty();
                    $('#IdProgramScheme').append('<option value="">All</option>');
                    $.each(data, function(index) {
                        if(IdProgramScheme==data[index].IdProgramScheme){
                            var sel = 'selected';
                        }else{
                            var sel = '';
                        }
                        $('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].awardName+' - '+data[index].mopName+' - '+data[index].ptName+'</option>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('IdProgramScheme');

                },
                complete: function() {
                    hideLoading('IdProgramScheme');
                }
            });
        }
    }

    function showLoading(target){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }


</script>
