<script type="text/javascript">
    function addChecklist(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'add-mainchecklist'));?>";
    }

    function editChecklist(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any checklist first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'edit-checklist'));?>/id/"+id;
        }
    }

    function delChecklist(){

        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this checklist ?')?>');

        if ( ask === false )
        {
            return false;
        }

        return true;
        /*var id = $('input[name=id]:checked').val();

         if(!id){
         alert("<?php //echo $this->translate('Please select any checklist first'); ?>");
         }else{
         if(confirm('Are you sure to delete this checklist ?')){
         window.location="<?php //echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'delete-checklist'));?>/id/"+id;
         }
         }*/
    }

    function get_programscheme(){

        var program_id = document.getElementById('program').value;


        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'progscheme-tag-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programscheme');
            },
            complete: function() {
                hideLoading('programscheme');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].awardName+' '+data[index].mopName+' '+data[index].ptName+'" value="'+data[index].IdProgramScheme+'">'+data[index].awardName+' - '+data[index].mopName+' - '+data[index].ptName+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");

            });
    }

    function get_programschemefrom(){

        var program_id = document.getElementById('programfrom').value;

        //var url = "<?php //echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'progscheme-tag-ajax'),'default',true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programschemefrom');
            },
            complete: function() {
                hideLoading('programschemefrom');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){
                    content += '<option value="'+data[index].IdProgramScheme+'">'+data[index].awardName+' - '+data[index].mopName+' - '+data[index].ptName+'</option>';
                });
                $('#programschemefrom').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function get_programschemeto(){

        var program_id = document.getElementById('programto').value;

        //var url = "<?php //echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'progscheme-tag-ajax'),'default',true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programschemeto');
            },
            complete: function() {
                hideLoading('programschemeto');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){
                    content += '<option value="'+data[index].IdProgramScheme+'">'+data[index].awardName+' - '+data[index].mopName+' - '+data[index].ptName+'</option>';
                });
                $('#programschemeto').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    $(function() {
        document.getElementById("programscheme").required = false;
        document.getElementById("program").required = false;
        document.getElementById("stdCtgy").required = false;
    });

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    $(function(){
        if (<?php echo $this->message ?> === 1){
            alert("Cannot Delete! This Checklist Is Currently Using");
        }
    });
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="javascript:addChecklist()">
                    <span class='add'></span>
                    <?php echo $this->translate("Add");?>
                </a>
            </li>
            <!--<li>
		<a href="#" onclick="editChecklist()">
		<span class='edit'></span>
		<?php echo $this->translate("Edit");?>
		</a>
            </li>
            <li>
		<a href="#" onclick="javascript:delChecklist()">
		<span class='delete'></span>
		<?php //echo $this->translate("Delete");?>
		</a>
            </li>-->
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate("Admission Checklist"); ?></legend>
    <form id='search' method="post">
        <dl class="zend_form">
            <!--<dt><?php /*echo $this->translate("Checklist Name");*/?></dt>
            <dd><?php /*echo $this->searchForm->field1;*/?></dd>-->
            <dt><?php echo $this->translate("Program");?></dt>
            <dd><?php echo $this->searchForm->field3;?></dd>
            <dt><?php echo $this->translate("Program Scheme");?></dt>
            <dd><?php echo $this->searchForm->field2;?></dd>
            <dt><?php echo $this->translate("Student Category");?></dt>
            <dd><?php echo $this->searchForm->field4;?></dd>
            <dd>
                <?php echo $this->searchForm->Search;?>
                <?php echo $this->searchForm->Clear;?>
            </dd>
        </dl>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <table id="tbl_program" class="table" width="100%" cellpadding="5" cellspacing="1">
        <!-- start table head -->
        <thead>
        <tr>
            <!--<th width="25px">&nbsp;</th>-->
           <!-- <th><?php /*echo $this->translate("Checklist Name");*/?></th>-->
            <th><?php echo $this->translate("Scheme Name");?></th>
            <th><?php echo $this->translate("Programme Name");?></th>
            <th><?php echo $this->translate("Program Scheme");?></th>
            <th><?php echo $this->translate("Student Type");?></th>
            <!--<th><?php /*echo $this->translate("Section Name");*/?></th>
            <th><?php /*echo $this->translate("Description");*/?></th>
            <th><?php /*echo $this->translate("Document Type");*/?></th>
            <th><?php /*echo $this->translate("Status");*/?></th>
            <th><?php /*echo $this->translate("Upload");*/?></th>
            <th><?php /*echo $this->translate("Mandatory");*/?></th>
            <th><?php /*echo $this->translate("Sequence");*/?></th>-->
            <th><?php echo $this->translate("");?></th>
        </tr>
        </thead>
        <!-- end table head -->

        <!--start table body -->
        <tbody>
        <?php
        if (count($this->paginator)>0):
            foreach($this->paginator as $dclLoop):
                ?>
                <tr id='<?php echo $dclLoop['dcl_Id'];?>'>
                    <!--<td align="center">
                    <input type="radio" name="id" value="<?php //echo $dclLoop['dcl_Id'];?>" />
                    <input type="hidden" name="section" id="<?php //echo 'section'.$itemListLoop['key'];?>" value="<?php //echo $this->sectionid;?>" />
                </td>-->
                    <!--<td><?php /*echo $dclLoop['dcl_name'];*/?></td>-->
                    <td><?php echo $dclLoop['SchemeName'];?></td>
                    <td><?php echo $dclLoop['ProgramName'];?></td>
                    <td><?php echo $dclLoop['awardName'];?> - <?php echo $dclLoop['mopName'];?> - <?php if ($dclLoop['ptName']=='') {echo "null";} else {echo $dclLoop['ptName'];} ;?></td>
                    <td><?php echo $dclLoop['studentCategory'];?></td>
                   <!-- <td><?php /*echo $dclLoop['name'];*/?></td>
                    <td><?php /*echo $dclLoop['dcl_desc'];*/?></td>
                    <td><?php /*echo $dclLoop['docType'];*/?></td>
                    <td><?php /*echo ($dclLoop['dcl_activeStatus'] == 1 ? 'Enable':'Disable');*/?></td>
                    <td><?php /*echo ($dclLoop['dcl_uplStatus'] == 1 ? 'Yes':'No');*/?></td>
                    <td><?php /*echo ($dclLoop['dcl_mandatory'] == 1 ? 'Yes':'No');*/?></td>
                    <td><?php /*echo $dclLoop['dcl_priority']; */?></td>-->
                    <td align="center" class="options">
                        <a href="<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'sub-checklist', 'idscheme'=>$dclLoop['SchemeID'], 'idprogram'=>$dclLoop['ProgramID'], 'idprogscheme'=>$dclLoop['IdProgramScheme'], 'idstudtype'=>$dclLoop['category']));?>"><?php echo $this->translate("View"); ?></a>
                       <!-- <a onclick="return delChecklist()" href="<?php /*echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'delete-checklist', 'id'=>$dclLoop['dcl_Id']));*/?>"><?php /*echo $this->translate("Delete"); */?></a>-->
                    </td>
                </tr>
                <?php
            endforeach;
        endif;
        ?>
        </tbody>
    </table>
    <div class="pagination">
        <?php
        echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
        ?>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><?php echo $this->translate("Copy Checklist");?></legend>
    <form id='copy' method="post">
        <table id="tbl_program" class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr><th colspan="4"><?php echo $this->translate("Copy Form");?></th></tr>
            <tr>
                <td><?php echo $this->translate("Program");?></td>
                <td><?php echo $this->copyForm->programFrom; ?></td>
                <td><?php echo $this->translate("Program Scheme");?></td>
                <td><?php echo $this->copyForm->programSchemeFrom; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Student Category");?></td>
                <td><?php echo $this->copyForm->studentCategoryFrom; ?></td>
                <td></td>
                <td></td>
            </tr>
            <tr><th colspan="4"><?php echo $this->translate("Copy To");?></th></tr>
            <tr>
                <td><?php echo $this->translate("Program");?></td>
                <td><?php echo $this->copyForm->programTo; ?></td>
                <td><?php echo $this->translate("Program Scheme");?></td>
                <td><?php echo $this->copyForm->programSchemeTo; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Student Category");?></td>
                <td><?php echo $this->copyForm->studentCategoryTo; ?></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="form-opt">
            <?php echo $this->copyForm->Copy ?>
        </div>
    </form>
</fieldset>
<style type="text/css">
    .span-7 { width:300px !important; }
</style>
