

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'financial-aid', 'action'=>'index'),'default',true);?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br><br>

<form id="myForm" action="" method="post" name="myForm">

	<table width="100%" class="table">
		<tr>
			<td width="20%"><?php echo $this->translate('Financial Aid Code')?> <span class="reqMark">*</span></td>
			<td><input name="financialaid[code]" type="text" ></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Financial Aid Name')?> <span class="reqMark">*</span></td>
			<td><input name="financialaid[name]" type="text" ></td>
		</tr>
	</table>

	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate('Save'); ?>" />
	</div>
</form>

<script type="text/javascript">


function remarkValidation() 
{
	var flag = true;
	var FeeCode = dijit.byId("FeeCode").value;
	var CalculationMode = dijit.byId("CalculationMode").value;
	var Amount = dijit.byId("Amount").value;

	if(FeeCode=='' && CalculationMode =='' && Amount =='' )
	{                         
		dijit.byId("FeeCode").set( "state", "Error" );
		dijit.byId("CalculationMode").set( "state", "Error" );
		dijit.byId("Amount").set( "state", "Error" );
		flag = false; 
	}

	if(FeeCode=='') {
		dijit.byId("FeeCode").set( "state", "Error" );
		var flag = false;        
	}

	if(CalculationMode == ''){

	dijit.byId("CalculationMode").set( "state", "Error" );
	flag = false;

	}
	if(Amount == '' || isNaN(Amount)){
	dijit.byId("Amount").set( "state", "Error" );
	flag = false;
	}

	if(flag == true) {
	RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
var rowid = 1;


function RemarkdetailsInsert() {
	
	var FeeCodeDV = dijit.byId("FeeCode").displayedValue;
	var FeeCode = dijit.byId("FeeCode").value;
	
	//var DescriptionDV = dijit.byId("Description").displayedValue;
	//var Description = $("#Description").val();
		
    var CalculationModeDV = dijit.byId("CalculationMode").displayedValue;
	var CalculationMode = dijit.byId("CalculationMode").value;
        
	var AmountDV = dijit.byId("Amount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	
	batchArray.push(FeeCode);
        
	if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("Duplicate entry not allowed");
			
	}
	else{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);

		tcol4.align = 'center';
		//var tcol5=trow.insertCell(4);
		
		tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodeGrid[]>"+FeeCodeDV;
		//tcol2.innerHTML="<input type='hidden' value='"+Description+"' name=DescriptionGrid[]>"+Description;		
		tcol2.innerHTML="<input type='hidden' value='"+CalculationMode+"' name=CalculationModeGrid[]>"+CalculationModeDV;
		tcol3.innerHTML="<input type='hidden' value='"+Amount+"' name=AmountGrid[]>"+AmountDV;
		tcol4.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this); return false;"><?php echo $this->translate('Delete')?></a>';
		rowid++;		
	}
	
}

function deleteRow(r)
{      
	var dStat = confirm("<?php echo $this->translate('Are you sure you want to delete this?')?>");
	if(dStat == true){     
		rowid--;	
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);        
		document.getElementById('hor').deleteRow(i);
	}
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;   						// to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j])
				return true;
		}
	}
	return false;
}

Array.prototype.unique = function () {
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++) {
		for(var x = 0, y = r.length; x < y; x++) {
			if(r[x]==this[i]) {
					continue o;
			  }
		}
		r[r.length] = this[i];
	}
	return r;
}
</script>