

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->serverUrl(array('module'=>'studentfinance','controller'=>'financial-aid', 'action'=>'index'),'default',true); ?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>
        </ul>
    </div>
</div>
<br><br>

<form id="myForm" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
	if (this.validate()) {
		return true;
	}else {
		return false;
	}
	</script>

	<input type="hidden" name="financialaid[id]" value="<?php echo $this->financialaid->id?>" />

	<table width="100%" class="table">
		<tr>
			<td width="20%"><?php echo $this->translate('Code')?> <span class="reqMark">*</span></td>
			<td><input type="text"  class="input-txt " name="financialaid[code]"  value="<?php echo $this->financialaid->code; ?>" required></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Name')?> <span class="reqMark">*</span></td>
			<td><input type="text" class="input-txt " name="financialaid[name]"  value="<?php echo $this->financialaid->name; ?>"  required></td>
		</tr>
		<tr>
			<td align="right" colspan="8">
				<input type="submit" name='financialaidsubmit' value="<?php echo $this->translate('Update');?>">
				<input type="reset" name='financialaidclear' value="<?php echo $this->translate('Clear');?>">
			</td>
		</tr>
	</table>
</form>

<br />

<form id="fee_form" action="" method="post" name="fee_form">
	<table class="table" width="100%" class='table'>
		<tr>
			<th colspan='4'><?php echo $this->translate("Fee Info");?></th>
		</tr>

		<tr>
			<td><?php echo $this->translate("Fee Code");?> <span class="reqMark">*</span></td>
			<td>
				<select class="select" name="feeinfo[fee_code]"  required>
					<option></option>
					<?php foreach($this->fee_items as $fee_item_id => $fee_item) { ?>
						<option value="<?php echo $fee_item_id; ?>"><?php echo $fee_item; ?></option>
					<?php } ?>
				</select>
			</td>
			<td><?php echo $this->translate("Calculation Mode");?> <span class="reqMark">*</span></td>
			<td>
				<select class="select"  name="feeinfo[calculation_mode]"  required>
					<option></option>
					<option value="1"><?php  echo $this->translate('Fixed'); ?></option>
					<option value="2"><?php  echo $this->translate('Percentage'); ?></option>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Amount");?> <span class="reqMark">*</span></td>
			<td><input class="input-txt" name="feeinfo[amount]"   required></td>
			<td><?php echo $this->translate("Semester");?> <span class="reqMark">*</span></td>
			<td>
				<select class="select" name="feeinfo[semester_id]"  required>
					<option></option>
					<?php foreach($this->semesters as $semester) { ?>
						<option value="<?php echo $semester->IdSemesterMaster; ?>"><?php echo $semester->SemesterMainCode; ?></option>
					<?php } ?>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right" colspan="8">
				<input type="submit" name='coveragesubmit' value="<?php echo $this->translate('Add');?>">
				<input type="reset" name='coverageclear' value="<?php echo $this->translate('Reset');?>">
			</td>
		</tr>
	</table>
</form>

<table class="table" width="100%" id="hor" cellpadding="3" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Fee Code");?></th>
		<th><?php echo $this->translate("Calculation Mode");?></th>
		<th><?php echo $this->translate("Amount");?></th>
		<th></th>
	</tr>
	<?php
		foreach ( $this->financialcoverages as $financialcoverage ) {
			$fee_item = $financialcoverage->findParentRow('Studentfinance_Model_DbTable_FeeItem');
	?>
	<tr id="fee-<?php echo $financialcoverage->financial_aid_id; ?>">
		<td><?php echo $fee_item->fi_name; ?></td>
		<td><?php echo $financialcoverage->calculation_mode == '2' ? $this->translate('Percentage') : $this->translate('Amount')?></td>
		<td><?php echo $financialcoverage->amount; ?></td>
		<td align='center'><a href="<?php echo $this->serverUrl('/studentfinance/financial-aid/deletefee/id/' . $financialcoverage['id']) ?>" ><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php } ?>
</table>
<br >
<form id="courseForm" action="" method="post" name="courseForm">
<table class="table" width="100%">
	<tr>
		<th colspan='4'><?php echo $this->translate("Course Covered Per Semester");?></th>
	</tr>
	<tr>
		<th width="60%"><?php echo $this->translate('Semester');?></th>
		<th><?php echo $this->translate('Max Course'); ?></th>
	</tr>
	<?php
		$aid_courses = $this->aid_courses;
		foreach($this->semesters as $semester) {
		if(isset($aid_courses[$semester->IdSemesterMaster])) {
			$cur_max_course = $aid_courses[$semester->IdSemesterMaster];
		} else {
			$cur_max_course = '';
		}
		?>
			<tr>
				<td><?php echo $semester->SemesterMainCode; ?></td>
				<td align="center"><input type="number" step="any" min="0" name="financial_aid_course[<?php echo $semester->IdSemesterMaster; ?>]" value="<?php echo $cur_max_course; ?>" > </td>
			</tr>
	<?php } ?>
	<tr>
		<td align="right" colspan="8">
			<input type="submit" name='coveragesubmit' value="<?php echo $this->translate('Update');?>">
			<input type="reset" name='coverageclear' value="<?php echo $this->translate('Reset');?>">
		</td>
	</tr>
</table>
	</form>




<script type="text/javascript">
dojo.addOnLoad(function(){	
	//dijit.byId('FeeCode').set('value','');
	//dijit.byId('FeeCode').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('CalculationMode').set('value','');
	dijit.byId('CalculationMode').set('placeHolder','<?php echo $this->translate('Select')?>');
});

function remarkValidation() 
{
	var flag = true;
	var FeeCode = dijit.byId("FeeCode").value;
	var CalculationMode = dijit.byId("CalculationMode").value;
	var Amount = dijit.byId("Amount").value;

	if(FeeCode=='' && CalculationMode =='' && Amount =='' )
	{                         
		dijit.byId("FeeCode").set( "state", "Error" );
		dijit.byId("CalculationMode").set( "state", "Error" );
		dijit.byId("Amount").set( "state", "Error" );
		flag = false; 
	}

	if(FeeCode=='') {
		dijit.byId("FeeCode").set( "state", "Error" );
		var flag = false;        
	}

	if(CalculationMode == ''){

	dijit.byId("CalculationMode").set( "state", "Error" );
	flag = false;

	}
	if(Amount == '' || isNaN(Amount)){
	dijit.byId("Amount").set( "state", "Error" );
	flag = false;
	}

	if(flag == true) {
	RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
var rowid = 1;


function RemarkdetailsInsert() {
	
	var FeeCodeDV = dijit.byId("FeeCode").displayedValue;
	var FeeCode = dijit.byId("FeeCode").value;
	
	//var DescriptionDV = dijit.byId("Description").displayedValue;
	//var Description = $("#Description").val();
		
    var CalculationModeDV = dijit.byId("CalculationMode").displayedValue;
	var CalculationMode = dijit.byId("CalculationMode").value;
        
	var AmountDV = dijit.byId("Amount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	
	batchArray.push(FeeCode);
        
	if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("Duplicate entry not allowed");
			
	}
	else{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);

		tcol4.align = 'center';
		//var tcol5=trow.insertCell(4);
		
		tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodeGrid[]>"+FeeCodeDV;
		//tcol2.innerHTML="<input type='hidden' value='"+Description+"' name=DescriptionGrid[]>"+Description;		
		tcol2.innerHTML="<input type='hidden' value='"+CalculationMode+"' name=CalculationModeGrid[]>"+CalculationModeDV;
		tcol3.innerHTML="<input type='hidden' value='"+Amount+"' name=AmountGrid[]>"+AmountDV;
		tcol4.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this); return false;"><?php echo $this->translate('Delete')?></a>';
		rowid++;		
	}
	
}

function deleteRow(r)
{      
	var dStat = confirm("<?php echo $this->translate('Are you sure you want to delete this?')?>");
	if(dStat == true){     
		rowid--;	
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);        
		document.getElementById('hor').deleteRow(i);
	}
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;   						// to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j])
				return true;
		}
	}
	return false;
}

function deleteFeeItemAjax(id)
{
	var ret = confirm("<?php echo $this->translate('Are you sure you want to delete?')?>");
	
	$.ajax({
		url: "<?php echo $this->baseUrl()?>/studentfinance/scholarship/delete-fee",
		type: "post",
		data: {'id':id},
		dataType: 'json',
		success: function(data)
		{
			if (data.msg == '' )
			{
				$('#fee-'+id).remove();
			}
			else
			{
				alert(data.msg);
			}
		},
		error:function(){
			  alert("failure");
		}  
	});

	return false;
}


Array.prototype.unique = function () {
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++) {
		for(var x = 0, y = r.length; x < y; x++) {
			if(r[x]==this[i]) {
					continue o;
			  }
		}
		r[r.length] = this[i];
	}
	return r;
}
</script>