
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->serverUrl('/studentfinance/financial-aid/add' ); ?>">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<br />
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Code");?></th>
            <th><?php echo $this->translate("Name");?></th>
			<th></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
        if (count($this->financial_aids)){
            foreach ($this->financial_aids as $financial_aid){
        ?>
            <tr id="<?php echo $financial_aid["id"];?>">
                <td><?php echo $financial_aid["code"];?></td>
                <td><?php echo $financial_aid["name"];?></td>
               
				<td class="options center">
					<a href="<?php echo $this->serverUrl('/studentfinance/financial-aid/edit/id/' . $financial_aid["id"] ); ?>">
                        <?php echo $this->translate('Edit')?>
                    </a>
                    |
                    <a href="<?php echo $this->serverUrl('/studentfinance/financial-aid/delete/id/'. $financial_aid["id"]);?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete this?')?>')">
                        <?php echo $this->translate('Delete')?>
                    </a>
				</td>
            </tr>
        <?php 
            }
        } 
        ?>
    </tbody>
</table>


<script type="text/javascript">

    $(function() {
        $('document').ready(function() {
            $(window).scrollTop(0);
        });

        $( "#tabs" ).tabs();
    });

    function addSchlarship(){
        window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'add-scholarship'));?>";
    }

    function editScholarship(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'edit-scholarship'));?>/id/"+id;
        }
    }

    function delScholarship(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scholarship first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'delete-scholarship'));?>/id/"+id;
        }
    }
</script>