<style>
.clickable { cursor: pointer; }
.delete { padding-right:5px; }
.edit { padding-right:10px; }
ul { margin-left:30px; margin-top:4px; list-style:none; }
table#tblRadioAnswerList td { padding:2px 5px; }
table#addanswer td:nth-child(1) { width:70px; }
table#addanswer td:nth-child(2) { width:10px; } 
</style>

<div id="dialog-edit" title="Edit Option">
<table id="addanswer">
<tr>
	<td>Value</td><td>:</td>
	<td>
		<input type="hidden" name="answerid" id="answerid" value="" />
		<input type="text" name="answer" id="answer" value="" />
	</td>
</tr>
</table>
</div>

<div id="dialog-addnew" title="<?php echo $this->translate('Add New Option'); ?>">
<table id="addanswer">
<tr>
	<td>Value</td>
    <td>:</td>
	<td><input type="text" name="newanswer" id="newanswer" value="" /></td>
</tr>
<tr>
    <td>Label</td>
    <td>:</td>
    <td><input type="text" name="newlabel" id="newlabel" value="" /></td>
</tr>
</table>
</div>

<div style="width:500px">	
	<fieldset style="width:500px;">
		<legend>Question Bank Information</legend>
		<table class="table3" width="500px">
			<tr>
				<th width="150px">Question Pool Name</th>
				<td><?php echo $this->pool['name']; ?></td>
			</tr>
		</table>	
	</fieldset>
</div>
<br/>

<form id="manage" name="manage" method="post" action="/survey-bank/question/manage">

<input type="hidden" name="main_set_id" id="main_set_id" value="<?php echo $this->main_set_id;?>">
<input type="hidden" name="section_id" id="section_id" value="<?php echo $this->section_id;?>">
<input type="hidden" name="pool_id" id="pool_id" value="<?php echo $this->pool_id;?>">

<table id="tblRadioAnswerList" class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
<tr>
	<th align="center" colspan="2">Question</th>
</tr>
<?php 
	if(isset($this->question)){				
		$i=1;
		foreach($this->question as $q):
?>
		<tr>
			<td>
				<?=$q['question']?>
            </td>
            <td>
                <span class="clickable toggle" id="toggle<?=$q['id_questiontagging']?>" tid="<?=$q['id_questiontagging']?>" title="Click to view answer options" >
                    <?php echo $this->translate('View'); ?>
                </span>
                |
				<span class="clickable addnew" id="addnew<?=$q['id']?>" tid="<?=$q['id_questiontagging']?>" title="Click to add">
                    <?php echo $this->translate('Add'); ?>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
				<div id="options<?=$q['id_questiontagging']?>" class="hide">
                    <ul class='answer_list' id="ul<?=$q['id_questiontagging']?>"></ul>
                </div>
			</td>
		</tr>
<?php 
		$i++;
		endforeach; 
	}
?>
</table>
</form>

<script type="text/javascript">

    $(".hide").slideToggle("fast");

    $(".toggle").click(function() {

        var tid = $(this).attr('tid');

        loadAnswer(tid);

        var optionid = "#options"+tid;
        var hide = $(optionid).is(':hidden');
        var src = "<?=$this->baseUrl()?>/images/icon/up-arrow-square-silver.png";

        if(hide==true){
            $("img#toggle"+tid).attr("src", src);
        }else{
            $("img#toggle"+tid).attr("src", "<?=$this->baseUrl()?>/images/icon/down-arrow-square-silver.png");
        }

        $("#options"+tid).slideToggle("fast", function(){});
    });

    function loadAnswer(tid) {
        $.ajax({
            type: "GET",
            url: "<?=$this->url(array('module'=>'survey-bank','controller'=>'radio-options','action'=>'get-radio-option','main_set_id'=>$this->main_set_id,'section_id'=>$this->section_id),'default',true)?>/tagging_id/"+tid+"",
            data: { },
            success: function (response) {	//Success
                var json = jQuery.parseJSON(response);
                $("ul#ul"+tid).empty();
                if(json.length>0){
                    $.each(json, function(idx, obj) {
                        $("ul#ul"+tid).append('<li id="li'+obj.id+'"><?php echo $this->translate('Value'); ?>:' + obj.answer + ', <?php echo $this->translate('Label'); ?> : '+ obj.label +' -  <a href="javascript:delete_answer('+ obj.id +')"class="clickable delete" aid="'+obj.id+'" title="Delete" height="14px" ><?php echo $this->translate('Delete'); ?></a>' +
                            '<input type="hidden" id="text'+obj.id+'" value="' + obj.answer + '"></li>');
                    });
                }else{
                    $("ul#ul"+tid).append('<li><?php echo $this->translate('No Options'); ?></li>');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('<?php echo $this->translate('Could not update options'); ?>.');
            }
        });
    }

    function delete_answer(id) {

        var r = confirm("<?php echo $this->translate('Are you sure?'); ?>");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '<?=$this->url(array('module'=>'survey-bank','controller'=>'radio-options','action'=>'delete-radio-option'),'default',true)?>',
                data: { answer_id: id },
                success: function (response) {	//Success
                    qid = $('#li' + id).remove();
                    loadAnswer(qid);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Delete failed.');
                }
            });

        }
    }

    /*$(".delete").on('click', function() {
        var aid = $(this).attr('aid');
        var qid = $(this).parent().parent('ul').attr('id').replace('ul','');
        var r = confirm("Are you sure?");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '<?=$this->url(array('module'=>'survey-bank','controller'=>'radio-options','action'=>'delete-radio-option'),'default',true)?>',
                data: { answer_id: aid },
                success: function (response) {	//Success
                    loadAnswer(qid);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Delete failed.');
                }
            });
        }
    });*/

    $(".edit").on('click', function() {
        var aid = $(this).attr('aid');
        var txtid = "#text"+aid;
        var text = $(txtid).val();
        var data = $('#dialog-edit').data();
        data.text = text;
        data.id	= aid;
        data.ulid = $(this).parent().parent('ul').attr('id');
        $('#dialog-edit').dialog('open');
    });

    $(".addnew").on('click', function() {
        var tid = $(this).attr('tid');
        $('#newanswer').val('');
        $('#newlabel').val('');
        $('#dialog-addnew').data('tid',tid).dialog('open');
    });

    $("#dialog-edit").dialog({
        width: 250,
        height:120,
        modal: true,
        autoOpen: false,
        buttons: {
            Cancel: function() {
                $(this).dialog( "close" );
            },
            "Change": function() {
                var newanswer = $("#answer").val();
                var newlabel = $("#label").val();
                var answerid = $("#answerid").val();
                var tid = $(this).data('ulid').replace('ul','');
                $.ajax({
                    type: "POST",
                    url: "<?=$this->url(array('module'=>'survey-bank','controller'=>'radio-options','action'=>'update-radio-option'),'default',true)?>",
                    data: { id: answerid, newanswer: newtext, newlabel: newlabel },
                    success: function (response) {	//Success
                        loadAnswer(tid);
                        $("#dialog-edit").dialog("close");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Data change failed.');
                    }
                });
            }
        },
        open : function (event, ui) {
            $("#answer").val($(this).data('text'));
            $("#answerid").val($(this).data('id'));
        }
    });

    $("#dialog-addnew").dialog({
        modal: true,
        autoOpen: false,
        buttons: {
            Cancel: function() {
                $(this).dialog( "close" );
            },
            "Save": function() {
                var tagging_id = $(this).data('tid');
                var main_set_id = $("#main_set_id").val();
                var section_id  = $("#section_id").val();
                var answer		= $("#newanswer").val();
                var label		= $("#newlabel").val();
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->url(array('module'=>'survey-bank','controller'=>'radio-options','action'=>'add-radio-option'),'default',true); ?>',
                    data: { main_set_id: main_set_id, section_id: section_id, answer: answer, label: label, tagging_id: tagging_id },
                    success: function (response) {	//Success
                        loadAnswer(tagging_id);
                        $("#dialog-addnew").dialog("close");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('<?php echo $this->translate('Could not add option'); ?>.');
                    }
                });
            }
        }
    });
</script>