<script>

$(function() {
	$( "#tabs" ).tabs();

	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});


	$('.btn-submit').onSubmit(function(e){

		e.preventDefault();
		var msg = confirm('<?php echo $this->translate("Are you sure you want to submit this information?") ?>');
		if(msg){
			return true;
		}else{
			return false;
		}
	});

	
});
	
</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>

<form name='form1' id='form1' method='post'>
<input type='hidden'  size=3 name='fin_id'  value='<?php echo ($this->data['fin_id']) ? $this->data['fin_id']:''; ?>' >
<div id="tabs">
	<ul>
		<li><a href="#tabs-1"><?php echo $this->translate("Outstanding Balance"); ?></a></li>
		
	</ul>	
	<div id="tabs-1">	
	
		<table class="table" width="50%" cellpadding="5" cellspacing="1" >
			
			<tr>
					<th><?php echo $this->translate('Outstanding Balance Amount (RM) '); ?></th>
					<td><input type='text' class='input-txt small' name='os_balance'  value='<?php echo ($this->data['os_balance']) ? $this->data['os_balance']:'';?>'></td>
			</tr>
			<tr>
					<th><?php echo $this->translate('Effective Date '); ?></th>
					<td><input type='text' class='input-txt datepicker' name='os_effective_date'  value='<?php echo ($this->data['os_effective_date']) ? $this->data['os_effective_date']:'';?>'></td>
			</tr>
		</table>
					
	</div>
	
</div>

<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</form>