
<script>
dojo.addOnLoad(function(){	
        dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','<?php echo $this->translate('Select')?>');

});


</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />


<fieldset>
	<legend>
		<?php echo $this->translate("Tag Student with Sponsor"); ?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/studentfinance/tagstudentsponsor/index/search/1"
		name="searchF" id="searchF" method="POST">
		<input type="hidden" name='Search' id="Search" value="Search">
		<table width="100%">
			<tr>
				<td width="25%"><?php echo $this->translate("Sponsor ID");?></td>
				<td><?php echo $this->lobjform->field3; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Sponsor");?></td>
				<td><?php echo $this->lobjform->field5; ?></td>
			</tr>

			<tr>
				<td colspan="6" style="height: 10px"></td>
			</tr>

			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
			</tr>

		</table>
	</form>
	</table>
</fieldset>

<br />

	<table class="table" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="20%"><?php echo $this->translate("Sponsor ID");?></th>
			<th><?php echo $this->translate("Name"); ?></th>
		</tr>

		<?php if (count($this->paginator)): ?>

		<?php foreach ($this->paginator as $list): ?>
		<?php
		$url = $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentsponsor', 'action' => 'edit', 'id' => $list['idsponsor']), 'default', true);
		?>
		<tr>
			<td><a href='<?php echo $url;?>'><?php echo $list['SponsorId']; ?> </a>
			</td>
			<td><?php echo $list['Name']; ?></td>

		</tr>

		<?php endforeach; ?>

		<tr>
			<td colspan="9" align="right">
				<div class="pagination">
						<?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
				</div>
			</td>
		</tr>
		<?php endif; ?>

	</table>
