<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentsponsor', 'action' => 'edit', 'id' => $this->sponsor_id ), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form dojoType="dijit.form.Form" id="stud_form" action="" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
		if (this.validate()) 
		{
			return true;
		}
		else 
		{
			return false;
		}
	</script>
	
	<table width="100%" class="table">
	<tr>
		<td><?php echo $this->translate("Start Date");?> <span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSponsorSetupForm->StudStartDate; ?></td>
		<td><?php echo $this->translate("End Date");?></td>
		<td><?php echo $this->lobjSponsorSetupForm->StudEndDate; ?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Aggrement No.");?> </td>
		<td><?php echo $this->lobjSponsorSetupForm->StudAggrementNo; ?></td>
		<td><?php echo $this->translate("Amount");?></td>
		<td><?php echo $this->lobjSponsorSetupForm->StudAmount; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Sponsored Fee Item')?></td>
		<td><?php echo $this->lobjSponsorSetupForm->StudFeeItem ?></td>
		<td colspan="2"></td>
	</tr>
	<tr>
		<td colspan="4" class="center">
			<button name="Submit" value="Submit" type="submit" label="<?php echo $this->translate('Submit')?>" dojotype="dijit.form.Button"><?php echo $this->translate('Submit')?></button>
		</td>
	</tr>
	</table>

</form>