<?php 
echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js');
?>
<style type="text/css">
    #comp_subject 
    { 
            margin:0; 
            border:1px solid #b5bcc7; 
            padding:5px;  
            width: 450px;
            font:normal 14px Verdana, Arial, sans,serif; 
    }

    #compose-wrap .zend_form { border:1px solid #eee; margin:10px 0; }
    #compose-wrap .zend_form dd { margin-bottom:5px }
    #compose-wrap input[type=radio] { margin-right:5px; vertical-align:bottom }
    #comp_lang-element label { margin-right:5px; }
    select optgroup { font-style:normal; font:bold 11px Verdana, Arial, sans-serif }
    select optgroup option { font:normal 11px Verdana, Arial, sans-serif }
    #wrap-smscontent { padding:10px; display:none; }
    #wrap-smscontent .tpl_smscontent { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:99%; padding:10px; border:1px solid #ccc; font:normal 12px Verdana, Arial, sans-serif; margin:5px; }
    #wrap-smscontent #charcount { font-size:12px; margin:0 10px; color:#ccc; }
</style>
<script type="text/javascript">
    $(function() {
        CKEDITOR.replace( 'contentEng',{
            removePlugins : 'resize,placementtest',
            height : '700px'
        });
        
        CKEDITOR.replace( 'contentMy',{
            removePlugins : 'resize,placementtest',
            height : '700px'
        });
        
        CKEDITOR.config.readOnly = true;
        
        $( "#content-tab" ).tabs();
    });
    
    $(function(){
        var tpl_id = $("#stp_tplId").val();

        if(tpl_id=='')
        {
            return false;
        }


        $.ajax({
            url: "<?php echo $this->baseUrl()?>/communication/ajax/get-tags",
            data: {'tpl_id':tpl_id, 'module': '<?php echo $this->module?>'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    showLoading('content-tags-eng');
                    showLoading('content-tags-my');
                },
                complete: function() {
                    hideLoading('content-tags-eng');
                    hideLoading('content-tags-my');
                }
        }).done(function ( data ){
            $(".content-tags-eng").empty();
            $(".content-tags-my").empty();
            $.each(data, function(index) 
            {
                $('.content-tags-eng').append('<input type="button" class="btn-tag" value="'+data[index].tag_name+'" onclick="addintoEditorEng(\' ['+data[index].tag_name+'] \')" /> ');
                $('.content-tags-my').append('<input type="button" class="btn-tag" value="'+data[index].tag_name+'" onclick="addintoEditorMy(\' ['+data[index].tag_name+'] \')" /> ');
            });
        });
    });
    
    function changetpl(element)
    {
	var tpl_id = $(element).val();
	var locale = "en_US";
	
	if(tpl_id==='')
	{
            return false;
	}

	$.ajax({
            url: "<?php echo $this->baseUrl()?>/application/status-template-setup/get-tpl",
            data: {
		'tpl_id':tpl_id,
                'locale':locale
            },
            type: 'POST',
            dataType: 'json'
	}).done(function ( data ){
            CKEDITOR.instances['contentEng'].setData(data[0].content);
            CKEDITOR.instances['contentMy'].setData(data[1].content);
	});
    }
    
    function addintoEditorEng(text)
    {
        CKEDITOR.instances['contentEng'].insertText(text);
    }
    
    function addintoEditorMy(text)
    {
        CKEDITOR.instances['contentMy'].insertText(text);
    }

    function getTplTags(element)
    {
        var tpl_id = $(element).val();

        if(tpl_id=='')
        {
            return false;
        }


        $.ajax({
            url: "<?php echo $this->baseUrl()?>/communication/ajax/get-tags",
            data: {'tpl_id':tpl_id, 'module': '<?php echo $this->module?>'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    showLoading('content-tags');
                },
                complete: function() {
                    hideLoading('content-tags');
                }
        }).done(function ( data ){
            $(".content-tags").empty();
            $.each(data, function(index) 
            {
                $('.content-tags').append('<input type="button" class="btn-tag" value="'+data[index].tag_name+'" onclick="addintoEditor(\' ['+data[index].tag_name+'] \')" /> ');
            });
        });
    }
    
    function loadAttachment(element){
    
        var attachmentcount = element;
            
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'generate-attachment-form'),"default",true);?>/id/"+attachmentcount;
        var data = {};
            
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
		showLoading('attachmentelement');
            },
            complete: function() {
		hideLoading('attachmentelement');
            }
        })
        .done(function(data) {
            var content ='';
            var i=0;
            $.each(data,function(index){
                content += '<br>';
                content += '<label style="padding-right:95px;"><?php echo $this->translate("Attachment");?></label>';
                content += '<select id="attach'+i+'" name="attach[]">';
                content += '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data[index].attach,function(index2){                    
                    content += '<option label="'+data[index].attach[index2].DefinitionDesc+'" value="'+data[index].attach[index2].idDefinition+'">'+data[index].attach[index2].DefinitionDesc+'</option>';
                });
                content += '</select>';
                content += '&nbsp;';
                content += '<select id="template'+i+'" name="template[]">';
                content += '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data[index].template,function(index2){                    
                    content += '<option label="'+data[index].template[index2].tpl_name+'" value="'+data[index].template[index2].tpl_id+'">'+data[index].template[index2].tpl_name+'</option>';
                });
                content += '</select>';
                content += '<br>';
                
                i++;
            });
            $('#attachmentelement').html(content);
            
            var j=0;
            $.each(data,function(index){
                document.getElementById("attach"+j).required = true;
                document.getElementById("template"+j).required = true;
                j++;
            });
        })
        .fail(function() {
            alert("error load attachment form"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function delStatusTemplate(){
    
        /*var ask = confirm('<?php //echo $this->translate('Are you sure you want to delete this template ?')?>');

        if ( ask === false )
        {
                return false;
        }

        return true;*/
        //var id = $('input[name=id]:checked').val();

        //if(!id){
            //alert('<?php //echo $this->translate('Please select any status template first'); ?>');
        //}else{
            if(confirm('Are you sure to delete this status template ?')){
                window.location="<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'delete-status-template'));?>";
            }
        //}
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->backURL; ?>'" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="compose-wrap">
    <form method="post" enctype="multipart/form-data" >
        <dl class="zend_form">
        <br>
	<?php echo $this->addStatusTplForm->stp_title; ?>
        <?php echo $this->addStatusTplForm->stp_tplId; ?>
	<?php echo $this->addStatusTplForm->stp_tplType; ?>
        <?php
        //if ($this->type == 604):
        if (count($this->attachmentList) > 0):
        ?><label><?php echo $this->translate("Attachment");?></label><br><?php
        foreach ($this->attachmentList as $attachmentList):
        ?>
        <input type="checkbox" name="sth_Id[]" value="<?php echo $attachmentList['sth_Id']; ?>" style="margin-left:160px;">&nbsp;
        <label><?php echo $attachmentList['DefinitionDesc'].' '.$attachmentList['tpl_name'];?></label>
        <br>
        <?php
        endforeach;
        echo '<br>';
        endif;
        ?>
        <label><?php echo $this->translate("New Attachment Number");?></label>
        <input type="number" name="quantity" min="0" value="0" style="margin-left:14px;" onchange="loadAttachment(this.value)">
        <div id="attachmentelement"></div>
        <?php 
        //endif;
        ?>
        </dl>
	
        <div id="content-tab">
        <ul>
            <li><a href="#tab-1"><?php echo $this->translate('English');?></a></li>
            <li><a href="#tab-2"><?php echo $this->translate('Malay');?></a></li>
        </ul>
        <div id="tab-1">
            <div id="wrap-content">
                <!--<div class="content-tags-eng" id="content-tags-eng"></div>-->
                <?php echo $this->addStatusTplForm->contentEng; ?>
            </div>
        </div>
        <div id="tab-2">
            <div id="wrap-content">
                <!--<div class="content-tags-my" id="content-tags-my"></div>-->
                <?php echo $this->addStatusTplForm->contentMy; ?>
            </div>
        </div>
        </div>
        <div class="form-opt">
            <!--<input type="button" name="preview" onclick="previewCompose()" value="<?php //echo $this->translate('Preview')?>" class="btn-submit"/>-->
            <input type="submit" name="send" onclick="return sure()" value="<?php echo $this->translate('Save')?>" class="btn-submit"/>
            <input type="button" name="send" onclick="delStatusTemplate()" value="<?php echo $this->translate('Delete')?>" class="btn-submit"/>
        </div>
    </form>
</div>