<script type="text/javascript">
    function addStatusTemplate(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'add-status-template'));?>";
    }
    
    function editStatusTemplate(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any status template first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'edit-status-template'));?>/id/"+id;
        }
    }
    
    function delStatusTemplate(){
    
        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this template ?')?>');

        if ( ask === false )
        {
                return false;
        }

        return true;
        /*var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any status template first'); ?>');
        }else{
            if(confirm('Are you sure to delete this status template ?')){
                window.location="<?php //echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'delete-status-template'));?>/id/"+id;
            }
        }*/
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
		<a href="#" onclick="javascript:addStatusTemplate()">
		<span class='add'></span>
		<?php echo $this->translate("Add");?>
		</a>
            </li>
            <!--<li>
		<a href="#" onclick="editStatusTemplate()">
		<span class='edit'></span>
		<?php //echo $this->translate("Edit");?>
		</a>
            </li>
            <li>
		<a href="#" onclick="javascript:delStatusTemplate()">
		<span class='delete'></span>
		<?php //echo $this->translate("Delete");?>
		</a>
            </li>-->
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
                <span class='info'></span>
                <?php //echo $this->translate("Info");?>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table id="tbl_status" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <!--<th width="25px">&nbsp;</th>-->
            <th><?php echo $this->translate("Name");?></th>
            <th><?php echo $this->translate("Type");?></th>
            <th><?php echo $this->translate("Template Name");?></th>
            <th><?php echo $this->translate(""); ?></th>
        </tr>
    </thead>
    <!-- end table head -->
        
    <!--start table body -->
    <tbody>
        <?php 
        if (count($this->paginator)):
        foreach ($this->paginator as $statusTplList): 
        ?>
        <tr id='<?php echo $statusTplList['stp_Id'];?>'>
            <!--<td align="center"><input type="radio" name="id" value="<?php //echo $statusTplList['stp_Id'];?>" /></td>-->
            <td><?php echo $statusTplList['stp_title'];?></td>
            <td><?php echo $statusTplList['DefinitionDesc'];?></td>
            <td><?php echo $statusTplList['tpl_name'];?></td>
            <td align="center" class="options">
                <a href="<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'edit-status-template', 'id'=>$statusTplList['stp_Id']));?>"><?php echo $this->translate("Edit"); ?></a> | 
                <a onclick="return delStatusTemplate()" href="<?php echo $this->url(array('module'=>'application','controller'=>'status-template-setup', 'action'=>'delete-status-template', 'id'=>$statusTplList['stp_Id']));?>"><?php echo $this->translate("Delete"); ?></a>
            </td>
        </tr>
        <?php 
        endforeach;
        endif;
        ?>
    </tbody>
</table>
<div class="pagination">
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>