<script type="text/javascript">
$(function() {
	
});

function getPeriod(element){
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'placement-test-report', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period_id').empty().append('<option value=""> <?php echo $this->translate('-- All Period --'); ?> </option>');
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'detail','id'=>$this->schedule_data['aps_location_id']),'default',true); ?>';">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			-->
		</ul>
	</div>
</div>
<br />
<?php 
/*global $db;
$db = Zend_Db_Table::getDefaultAdapter();
$sql = "select * from a_results where status=0";
$results = $db->fetchAll($sql);*/
?>
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
	<th ><?php echo $this->translate("#"); ?></th>
		<th width="30%"><?php echo $this->translate("Formulir"); ?></th>
		<th width="30%"><?php echo $this->translate("Name"); ?></th>
		<th width="30%"><?php echo $this->translate("Program"); ?></th>
	</tr>
	
</table>
<?php 
/*function exist($no_form){
	$db = Zend_Db_Table::getDefaultAdapter();
	$sql = "select * from applicant_transaction where at_pes_id=$no_form";
	$results = $db->fetchRow($sql);
	return $results;
	//print_r($results);
}*/
?>
