
<script type="text/javascript">
$(function() {
	getSemester('#program');

});

function getSemester(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#semesterdiv').empty();
					    	
		    	$.each(data, function(index) {

		    		$('#semesterdiv').append('<input type="checkbox"  name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semesterdiv');
		      
			},
			complete: function() {
				hideLoading('semesterdiv');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-ageing-summary-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if ($this->list){	?>
    <ul>
	<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
</ul>      
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program" id="program" class="select"
			onchange="getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->program == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				
				<?php $selectAll ='';
				if($this->program =='ALL'){
				$selectAll = "selected='selected'";
				}?>
				<option value="ALL" <?php echo $selectAll;?>><?php echo $this->translate("ALL");?></option>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td><div id="semesterdiv"></div></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="<?php echo ($this->date_from=='') ? date('Y-m-d'):$this->date_from;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo ($this->date_to=='') ? date('Y-m-d'):$this->date_to;?>" />
			<?php
			if($this->semester){ 
				foreach($this->semester as $key=>$value){ 
			?>
			<input type="hidden" name="semester_id[]" id="semester_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
			
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>

<?php if($this->list){?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Programmes/Types of Fees");?></th>
		<?php foreach($this->range as $range){?>
		<th><?php echo $range['min'];?>-<?php echo $range['max'] == '10000' ? 'Above' : $range['max'];?> Days</th>
		<?php }?>
		<th><?php echo $this->translate("Grand Total");?></th>
	</tr>
	<?php 
	
	foreach($this->list as $list){
		if($list['fee']){
		
	?>
	<tr>
		<th class="left"><?php echo $list['ProgramCode'];?></th>
		<?php 
		$grandprogram = 0;
		foreach($list['totalamountprogram'] as $range){?>
		<th class="right"><?php echo number_format($range,2);?></th>
		<?php 
		$grandprogram +=$range;
		}?>
		<th class="left"><?php echo number_format($grandprogram,2);?></th>
		
	</tr>
	<?php 
		}
	if($list['fee']){
		
		foreach($list['fee'] as $fee){?>
		<tr>
			<td><?php echo $fee['fi_name'];?></td>
			<?php 
			foreach($fee['range_days'] as $range){?>
			<td align="right"><?php echo number_format($range['totalamount'],2);?></td>
			<?php 
			}?>
			<td align="right"><?php echo number_format($fee['grandtotal'],2);?></td>
		</tr>
	<?php 
			}
		}
	}
	?>
	
	
	
	
</table>
<?php }?>
