
<script type="text/javascript">

</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
	
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table width="100%">
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td><?php echo $this->form->semester; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><?php echo $this->form->program; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Release Type');?></td>
		<td><?php echo $this->form->type; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('User Type');?></td>
		<td><?php echo $this->form->role; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Student ID');?></td>
		<td><?php echo $this->form->id; ?></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
<br>
<?php if (count($this->list)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th colspan="2" rowspan="2"><?php echo $this->translate("Student ID ");?></th>
		<th rowspan="2"><?php echo $this->translate("Student Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Intake");?></th>
		<th rowspan="2"><?php echo $this->translate("Programme");?></th>
		<th rowspan="2"><?php echo $this->translate("Programme Mode");?></th>
		<th rowspan="2"><?php echo $this->translate("Study Mode");?></th>
		<th rowspan="2"><?php echo $this->translate("Programme Type");?></th>
		<th rowspan="2"><?php echo $this->translate("Semester");?></th>
		<th colspan="<?php echo count($this->type); ?>"><?php echo $this->translate("Release Type");?></th>
		<th rowspan="2"><?php echo $this->translate("Oustanding Amount (MYR)");?></th>
	</tr>
	<tr>
	<?php foreach($this->type as $type){?>
		<th><?php echo $type['DefinitionDesc'];?></th>
		<?php }?>
	</tr>
	<?php 

	$totalAmount = 0;
	$bil = 1;
	foreach ($this->list as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $lobjstudents['registrationId'];?></td>
		<td><?php echo $lobjstudents['student_fullname'];?></td>
		<td><?php echo $lobjstudents['IntakeDesc'];?></td>
		<td><?php echo $lobjstudents['ProgramCode'];?></td>
		<td><?php echo $lobjstudents['mop']; ?></td>
		<td><?php echo $lobjstudents['mos'];?></td>
		<td><?php echo $lobjstudents['pt'];?></td>
		<td><?php echo $lobjstudents['semesterName'];?></td>
		<?php foreach($lobjstudents['release'] as $type){?>
		<td align="center"><strong><?php echo ($type == 1)?'/':'';?></strong></td>
		<?php }?>
		<td align="right"><?php echo isset($lobjstudents['os_balance']) ? $lobjstudents['os_balance'] : 0;?></td>
	</tr>

   <?php 
   $bil++;
	} 
	?>
</table>
<?php } ?>
