
<script type="text/javascript">

$(function(){
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_semester').change(function(){
		if( $(this).prop('checked') ){
			$('.checksemester').prop('checked',true);
		}else{
			$('.checksemester').prop('checked',false);
		}
	});
	
});

$(function() {
	getSemester('#program');

});

function getSemester(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#semesterdiv').empty();
//		    	$('#semesterdiv').append('<input type="checkbox" name="" id="check_all_semester" />ALL<br>');		    	
		    	$.each(data, function(index) {

		    		$('#semesterdiv').append('<input type="checkbox" name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'" class="checksemester">'+data[index].SemesterMainName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semesterdiv');
		      
			},
			complete: function() {
				hideLoading('semesterdiv');
			}  	
		});
	 }
}

function getIntake(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-intake'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#intakediv').empty();
		    	$('#intakediv').append('<input type="checkbox" name="" id="check_all" />ALL<br>');		    	
		    	$.each(data, function(index) {

		    		$('#intakediv').append('<input type="checkbox" class="check" name="intake[]" id="intake[]" value="'+data[index].IdIntake+'">'+data[index].IntakeDesc+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('intakediv');
		      
			},
			complete: function() {
				hideLoading('intakediv');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-billing-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <!--<ul>
	<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php //echo $this->translate("Download");?>
		</a></li>
</ul>-->
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-billing-report'),'default',true);?>" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program" id="program" class="select"
			onchange="getIntake(this);getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->program == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				
				<?php $selectAll ='';
				if($this->program =='ALL'){
				$selectAll = "selected='selected'";
				}?>
				<option value="ALL" <?php echo $selectAll;?>><?php echo $this->translate("ALL");?></option>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Intake');?></td>
		<td>
		<input type="checkbox" name="" id="check_all" />ALL<br>
		<?php foreach($this->intakeData as $intake){ ?>
		<input type="checkbox"  name="intake[]" id="intake[]" class="check" value="<?php echo $intake['key'];?>"><?php echo $intake['IntakeDesc'];?><br>
		<?php 
		}?>
		</td>
		<td><?php echo $this->translate('Semester');?></td>
		<td>
		<input type="checkbox" name="" id="check_all_semester" />ALL<br>
		<div id="semesterdiv"></div></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="<?php echo ($this->date_from=='') ? date('Y-m-d'):$this->date_from;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo ($this->date_to=='') ? date('Y-m-d'):$this->date_to;?>" />
			<?php
			if($this->semester){ 
				foreach($this->semester as $key=>$value){ 
			?>
			<input type="hidden" name="semester_id[]" id="semester_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
			<?php
			if($this->intake){ 
				foreach($this->intake as $key=>$value){ 
			?>
			<input type="hidden" name="intake_id[]" id="intake_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Download" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Applicant ID ");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Nationality");?></th>
		<th><?php echo $this->translate("Student Category");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("Fee Type");?></th>
		<th><?php echo $this->translate("Account Code");?></th>
		<th><?php echo $this->translate("Discount");?></th>
		<th><?php echo $this->translate("Funding Method");?></th>
		<th><?php echo $this->translate("Funding Name");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Billing Status");?></th>
		<th><?php echo $this->translate("Current Billing (USD)");?></th>
		<th><?php echo $this->translate("Current Billing (MYR)");?></th>
		<th><?php echo $this->translate("Adjustment/New Add (MYR)");?></th>
		<th><?php echo $this->translate("Billing After Adjustment");?></th>
		<th><?php echo $this->translate("CN Status");?></th>
		<th><?php echo $this->translate("Discount Amount");?></th>
		<th><?php echo $this->translate("Discount Adjustment Amount");?></th>
		<th><?php echo $this->translate("Net Amount");?></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->paginator as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['invoice_date'])); ?></td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php if($lobjstudents['appl_fullname']) {echo $this->escape($lobjstudents['appl_fullname']);}else{ echo $this->escape($lobjstudents['student_fullname']);}?></td>
		<td><?php echo $lobjstudents['sactr']!=null ? $lobjstudents['sactr']:$lobjstudents['apctr']; ?></td>
		<td><?php echo $lobjstudents['sastdctgy']!=null ? $lobjstudents['sastdctgy']:$lobjstudents['apstdctgy']; ?></td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo strtoupper($this->escape($lobjstudents['profileStatus']));?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td><?php echo $this->escape($lobjstudents['SemesterMainName']);?></td>
		<td><?php echo $this->escape($lobjstudents['invoice_no']);?></td>
		<td>
		<?php 
		if($lobjstudents['MigrateCode']!='' || $lobjstudents['fi_id']==0 || $lobjstudents['fi_id']==126){
			echo $this->escape($lobjstudents['bill_description']);
		}else{
			echo $this->escape($lobjstudents['fi_name']);
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['ac_code']);?></td>
		<td><?php echo isset($lobjstudents['discountName']) ? $lobjstudents['discountName'] : '';?></td>
		<td><?php if($lobjstudents['scholarship']){
			echo "Scholarship";
		}elseif($lobjstudents['sponsorship']){
			echo "Sponsorship";
		}else{
			echo "Self Funding";
			
		}
			?></td>
		<td><?php echo ($lobjstudents['funding'] != 'Self Funding') ? $this->escape($lobjstudents['funding']) : '';?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['courseStatus']);?></td>
		<td align="right">
		<?php if($lobjstudents['cur_id'] == 2){
			echo number_format($lobjstudents['amount'],2);
		}?>	
		</td>
		<td align="right"><?php echo number_format($lobjstudents['amount_convert'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['cn_amount'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['nettadjust'],2);?></td>
		<td><?php echo $this->escape($lobjstudents['cnType']);?></td>
		<td align="right"><?php echo isset($lobjstudents['dn_amount']) ? number_format($lobjstudents['dn_amount'],2) : 0;?></td>
		<td align="right"><?php echo isset($lobjstudents['dn_amount_adjust']) ? number_format($lobjstudents['dn_amount_adjust'],2) : 0;?></td>
		<td align="right"><?php echo number_format($lobjstudents['nett'],2);?></td>
	</tr>

   <?php 
	} 
	?>
	
	<?php 
	if (count($this->paginator)){
	?>
	<tr>
		<td colspan="14" align="right">
		<div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
	<?php 
	}
	?>
</table>
<?php } ?>