<script type="text/javascript">  
    $(function() {
        $( "#date_from" ).datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            changeDay: true,
            onClose: function(selectedDate){
                $( "#date_to" ).datepicker("option", "minDate", selectedDate);
            }
        });
        
        $( "#date_to" ).datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            changeDay: true,
            onClose: function(selectedDate){
                $( "#date_from" ).datepicker("option", "maxDate", selectedDate);
            }
        });
    });

    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-credit-note-listing'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->cnList) > 0){
            ?>
            <li>
                <a href="#" onclick='print()'>
                <span class='download'></span>
                <?php echo $this->translate("Download");?>
                </a>
            </li>
            <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form">
        <table>
            <tr>
                <td><?php echo $this->translate('Date From'); ?></td>
                <td><?php echo $this->form->date_from; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Date To'); ?></td>
                <td><?php echo $this->form->date_to; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Account Code'); ?></td>
                <td><?php echo $this->form->account_code; ?></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<?php 
if (count($this->cnList) > 0){
$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
?>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Date'); ?></th>
            <th><?php echo $this->translate('CN No'); ?></th>
            <th><?php echo $this->translate('Invoice No'); ?></th>
            <th><?php echo $this->translate('CN Description'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('CN Status'); ?></th>
            <th><?php echo $this->translate('Courses'); ?></th>
            <th><?php echo $this->translate('USD'); ?></th>
            <th><?php echo $this->translate('MYR'); ?></th>
        </tr>
        <?php
        foreach ($this->cnList as $cnLoop){
        ?>
        <tr>
            <td><?php echo date('d-m-Y', strtotime($cnLoop['cn_create_date'])); ?></td>
            <td><?php echo $cnLoop['cn_billing_no'] ?></td>
            <td><?php echo $cnLoop['bill_number'] ?></td>
            <td><?php echo $cnLoop['cn_description']; ?></td>
            <td align="center"><?php echo $cnLoop['registrationId']!=null ? $cnLoop['registrationId']:$cnLoop['at_pes_id']; ?></td>
            <td><?php echo $cnLoop['registrationId']!=null ? $cnLoop['appl_fname'].' '.$cnLoop['appl_lname']:$cnLoop['applicant_name']; ?></td>
            <td align="center"><?php echo $cnLoop['ProgramCodeStudent']!=null ? $cnLoop['ProgramCodeStudent']:$cnLoop['ProgramCodeApplicant']; ?></td>
            <td align="center"><?php echo $cnLoop['SemesterMainName']; ?></td>
            <td>
                <?php 
                
                if($cnLoop['MigrateCodeCN'] && $cnLoop['MigrateCodeCN'] != NULL || !$cnLoop['SubCode']){
                   
                }else{
                	if($cnLoop['cn_type'] != 0){
                		echo 'Withdrawal '.$cnLoop['cn_type'].'%';
                	}else{
	                	 if ($cnLoop['AMOUNT1']==$cnLoop['AMOUNT2']){
	                        echo 'Withdrawal 100%';
	                    }else{
	                        $percent = number_format(($cnLoop['AMOUNT1']/$cnLoop['AMOUNT2']) * 100, 0);
	                        echo 'Withdrawal '.$percent.'%';
	                    }
                	}
                }
                ?>
            </td>
            <td align="center"><?php echo $cnLoop['SubCode']; ?></td>
            <?php 
            $usd = '';
            $myr = '';
            
            if($cnLoop['MigrateCodeCN']){
//            	$currencyDb = new Studentfinance_Model_DbTable_CurrencyRate();
//            	$currency = $currencyDb->getRateByDate(2,date('Y-m-d', strtotime($cnLoop['cn_create_date'])));
            	
            	if($cnLoop['cn_cur_id']==2){
            		$usd = $cnLoop['AMOUNT1'];
//            		$myr = number_format($cnLoop['AMOUNT1'] * $currency['cr_exchange_rate'], 2, '.', ' ');
            	}elseif($cnLoop['cn_cur_id']==1){
            		$myr = $cnLoop['AMOUNT1'];
            	}
            		
            }else{
	            if ($cnLoop['currencyid']==1){
	                $myr = $cnLoop['AMOUNT1'];
	            }else if($cnLoop['currencyid']==2){
	                $usd = $cnLoop['AMOUNT1'];

                    $exrate = $curRateDB->getRateByDate(2, $cnLoop['invoice_date']);

                    if ($exrate || isset($exrate['cr_exchange_rate'])){
                        $cnLoop['rate'] = $exrate['cr_exchange_rate'];
                    }
	                $myr = number_format($cnLoop['AMOUNT1'] * $cnLoop['rate'], 2, '.', ' ');
	            }
            }
            ?>
            <td align="right"><?php echo $usd; ?></td>
            <td align="right"><?php echo $myr; ?></td>
        </tr>
        <?php
        }
        ?>
    </table>
<?php 
}
?>
