
<script type="text/javascript">


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-discount-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>
	<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
</ul>      
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="<?php echo ($this->date_from=='') ? date('Y-m-d'):$this->date_from;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo ($this->date_to=='') ? date('Y-m-d'):$this->date_to;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Discount Type');?></td>
		<td><select name="discounttype" id="discounttype" class="select">
			<option value=""><?php echo $this->translate("All");?></option>
				<?php foreach($this->discounttypelist as $data){
				$selected= '';
				if($this->discounttype == $data['dt_id']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $data['dt_id'];?>"
				<?php echo $selected;?>><?php echo $data['dt_discount'];?></option>
				<?php }?>
				</select></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Ref No");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Applicant / Student Name");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Discount Plan");?></th>
		<th><?php echo $this->translate("Applied Date");?></th>
		<th><?php echo $this->translate("Start Date");?></th>
		<th><?php echo $this->translate("End Date");?></th>
		<th><?php echo $this->translate("Invoice Amount (MYR)");?></th>
		<th><?php echo $this->translate("Discount Amount (MYR)");?></th>
		<th><?php echo $this->translate("Net Amount (MYR)");?></th>
		
	</tr>
	<?php 	    	
	foreach ($this->paginator as $lobjstudents){
		$netAmount = 0;
		$currencyDb = new Studentfinance_Model_DbTable_CurrencyRate();
		$currency = $currencyDb->getData($lobjstudents['exchange_rate']);
	?>
	<tr>
		<td><?php echo $this->escape($lobjstudents['dcnt_fomulir_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td>
		<?php 
		if($lobjstudents['student_fullname']){
			echo $lobjstudents['student_fullname'];
		}else{
			echo $lobjstudents['appl_fullname'];
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td><?php echo $this->escape($lobjstudents['dt_discount']);?></td>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['dcnt_create_date'])); ?></td>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['dtt_start_date'])); ?></td>
		<td><?php echo ($lobjstudents['dtt_end_date'] != '0000-00-00') ? date('d-m-Y',strtotime($lobjstudents['dtt_end_date'])) : '-'; ?></td>
		<!--<td><?php 
//		if($lobjstudents['dcnt_status'] == 'A' ){
//			echo "APPROVED";
//		}elseif($lobjstudents['dcnt_status'] == 'X'){
//			echo "CANCEL";
//		}elseif($lobjstudents['dcnt_status'] == 'E'){
//			echo "ENTRY";
//		}
		?></td>
		--><td align="right">RM<?php echo $this->escape(number_format($lobjstudents['invoiceAmount'],2));?></td>
		<td align="right">RM<?php 
		$discAmount = $lobjstudents['dcnt_amount'];
		if($lobjstudents['dcnt_currency_id'] == 2){
			$discAmount = $discAmount * $currency['cr_exchange_rate'];
		}
		echo number_format($discAmount,2);
		?></td>
		<td align="right">RM<?php 
//		echo $lobjstudents['invoiceAmount'].' - '.$discAmount.'<br>';
		echo  $netAmount = number_format($lobjstudents['invoiceAmount'] - $discAmount,2);
		?></td>
		             
   <?php 
	} 
	?>
	</tr>
	<?php 
	if (count($this->paginator)){
	?>
	<tr>
		<td colspan="14" align="right">
		<div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
	<?php 
	}
	?>
</table>
<?php } ?>