<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php if (count($this->paginator)){	?>
    <?php echo $this->translate("Total no. of records: ").count($this->paginator); ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th colspan="2"><?php echo $this->translate("Student ID ");?></th>
            <th><?php echo $this->translate("Student Name");?></th>
            <th><?php echo $this->translate("Intake");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Programme");?></th>
            <th><?php echo $this->translate("Programme Mode");?></th>
            <th><?php echo $this->translate("Study Mode");?></th>
            <th><?php echo $this->translate("Programme Type");?></th>
            <th><?php echo $this->translate("Name");?></th>
            <th><?php echo $this->translate("Start Date");?></th>
            <th><?php echo $this->translate("End Date");?></th>
            <th><?php echo $this->translate("Amount");?></th>
        </tr>
        <?php

        $totalAmount = 0;
        $bil = 1;
        foreach ($this->paginator as $lobjstudents){

            ?>
            <tr>
                <td><?php echo $bil;?>.</td>
                <td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
                <td><?php echo $this->escape($lobjstudents['name']);?></td>
                <td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
                <td><?php echo strtoupper($this->escape($lobjstudents['profile']['StatusName']));?></td>
                <td><?php echo $this->escape($lobjstudents['ProgramCode']);?></td>
                <td><?php echo $this->escape($lobjstudents['profile']['ProgramMode']); ?></td>
                <td><?php echo $this->escape($lobjstudents['profile']['StudyMode']);?></td>
                <td><?php echo $this->escape($lobjstudents['profile']['ProgramType']);?></td>
                <td><?php echo $this->escape($lobjstudents['fname']);?></td>
                <td><?php echo date('d-m-Y',strtotime($this->escape($lobjstudents['startdate'])));?></td>
                <td><?php echo ($lobjstudents['enddate'] != '0000-00-00') ? date('d-m-Y',strtotime($this->escape($lobjstudents['enddate']))) : NULL;?></td>
                <td align="right"><?php echo isset($lobjstudents['Amount']) ? $lobjstudents['Amount'] : 0;?></td>
            </tr>

            <?php
            $bil++;
        }
        ?>

        <?php
        if (count($this->paginator)){
            ?>

            <?php
        }
        ?>
    </table>
<?php } ?>