
<script type="text/javascript">

$(function(){
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_semester').change(function(){
		if( $(this).prop('checked') ){
			$('.checksemester').prop('checked',true);
		}else{
			$('.checksemester').prop('checked',false);
		}
	});
	
});

$(function() {
	gettype('#typeinfo');

});


function viewFee(){
	$( "#dialog-update" ).dialog('open');
	
}

$(function() {

	$( "#dialog-update" ).dialog({
	  	  autoOpen: false,
		      modal: true,
		      position : 'center',
		      width: 700,
			  height: 400
		    });
});


function gettype(element){

	 var idtype = $(element).val();
	 var sponsorid = <?php echo isset($this->sponsortype) && $this->sponsortype != '' ? $this->sponsortype:0;?>;

	 if(idtype != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsor-invoice', 'action'=>'get-type-data'),'default',true);?>",
			data: {'id':idtype},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#sponsortype').empty();
		    	$('#sponsortype').append('<option value="">Please Select</option>');
		    	$.each(data, function(index) {
			    	if(sponsorid!=0 && sponsorid==data[index].id){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#sponsortype').append('<option value="'+data[index].id+'"'+sel+'>'+data[index].code+' - '+data[index].name+'</option>');	
		    	});
		          
			},
//			error:function(){
//		          alert("failure");
//			},
			beforeSend: function() {
				showLoading('sponsortype');
		      
			},
			complete: function() {
				hideLoading('sponsortype');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function getSemester(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#semesterdiv').empty();
//		    	$('#semesterdiv').append('<input type="checkbox" name="" id="check_all_semester" />ALL<br>');		    	
		    	$.each(data, function(index) {

		    		$('#semesterdiv').append('<input type="checkbox" name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'" class="checksemester">'+data[index].SemesterMainName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semesterdiv');
		      
			},
			complete: function() {
				hideLoading('semesterdiv');
			}  	
		});
	 }
}

function getIntake(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-intake'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#intakediv').empty();
		    	$('#intakediv').append('<input type="checkbox" name="" id="check_all" />ALL<br>');		    	
		    	$.each(data, function(index) {

		    		$('#intakediv').append('<input type="checkbox" class="check" name="intake[]" id="intake[]" value="'+data[index].IdIntake+'">'+data[index].IntakeDesc+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('intakediv');
		      
			},
			complete: function() {
				hideLoading('intakediv');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-billing-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});

function print(){
	var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'list-student-sponsor-print'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
<?php if (count($this->paginator)){	?>
	<ul>
			<li>
				<a href="#" onclick="viewFee();">
					<span class='preview'></span>
					<?php echo $this->translate('Fee'); ?>
				</a>
			</li>
			<li><a href="#" onclick='print()'> <span class='download'></span>
					<?php echo $this->translate("Download");?>
				</a></li>
		</ul>
<?php }?>		
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td>Type <span class="reqMark">*</span></td>
		<td>
			<select name="typeinfo" id="typeinfo" class="select" onchange="gettype(this);" required="required">
				<option value=""><?php echo $this->translate('Please select');?></option>
				<option value="1" <?php echo ($this->typeinfo == 1) ? "selected='selected'":"";?>><?php echo $this->translate('Sponsorship');?></option>
				<option value="2" <?php echo ($this->typeinfo == 2) ? "selected='selected'":"";?>><?php echo $this->translate('Scholarship');?></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Name  <!--<span class="reqMark">*</span>--></td>
		<td>
			<select name="sponsortype" id="sponsortype" class="select">
				<option value=""><?php echo $this->translate('Please select');?></option>
			</select>
		</td>
	</tr>
	<tr>
			<td><?php echo $this->translate('Student Name');?></td>
			<td>
				<input type="text" name="name" class="input-txt" id="name" value="<?php echo $this->name;?>" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Student ID');?></td>
			<td>
				<input type="text" name="id" class="input-txt" id="id" value="<?php echo $this->id;?>" />
			</td>
		</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->paginator); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th colspan="2"><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Start Date");?></th>
		<th><?php echo $this->translate("End Date");?></th>
		<th><?php echo $this->translate("Amount");?></th>
	</tr>
	<?php 

	$totalAmount = 0;
	$bil = 1;
	foreach ($this->paginator as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php echo $this->escape($lobjstudents['name']);?></td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo strtoupper($this->escape($lobjstudents['profile']['StatusName']));?></td>
		<td><?php echo $this->escape($lobjstudents['ProgramCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['profile']['ProgramMode']); ?></td>
		<td><?php echo $this->escape($lobjstudents['profile']['StudyMode']);?></td>
		<td><?php echo $this->escape($lobjstudents['profile']['ProgramType']);?></td>
		<td><?php echo $this->escape($lobjstudents['fname']);?></td>
		<td><?php echo date('d-m-Y',strtotime($this->escape($lobjstudents['startdate'])));?></td>
		<td><?php echo ($lobjstudents['enddate'] != '0000-00-00') ? date('d-m-Y',strtotime($this->escape($lobjstudents['enddate']))) : NULL;?></td>
		<td align="right"><?php echo isset($lobjstudents['Amount']) ? $lobjstudents['Amount'] : 0;?></td>
	</tr>

   <?php 
   $bil++;
	} 
	?>
	
	<?php 
	if (count($this->paginator)){
	?>
	
	<?php 
	}
	?>
</table>
<?php } ?>



<div id="dialog-update" title="<?php echo $this->translate('Fee List');?>">

  <table class="table" width="100%">
  
  <tr>
		<th colspan="2"><?php echo $this->translate('Fee Name');?></th>
		<th><?php echo $this->translate('Fee Code');?></th>
		<th><?php echo $this->translate('Calculation Mode');?></th>
		<th><?php echo $this->translate('Amount');?></th>
		<th><?php echo $this->translate('Frequency Mode');?></th>
		<th><?php echo $this->translate('Repeat');?></th>
		<th><?php echo $this->translate('Max Repeat');?></th>
	</tr>
	
  <?php 
  $m=1;
  foreach($this->fee_item as $feeItem){?>
  	<tr>
		<td><?php echo $m;?>.</td>
		<td><?php echo $feeItem['fi_name']; ?></td>
		<td><?php echo $feeItem['fi_code']; ?></td>
		<td><?php echo $feeItem['CalculationMode'] == '2' ? $this->translate('Percentage') : $this->translate('Amount')?></td>
		<td><?php echo $feeItem['Amount']; ?></td>
		<td><?php echo $feeItem['FreqMode'] == '1' ? $this->translate('One Time') : $this->translate('Semester')?></td>
		<td align="center"><?php echo $feeItem['Repeat'] == '0' ? $this->translate('N') : $this->translate('Y')?></td>
		<td align="center"><?php echo $feeItem['MaxRepeat'];?></td>
	</tr>
  	<?php 
  $m++;
  }?>
  
  </table>
  </form>
</div>
