<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th><?php echo $this->translate("Ref No");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Applicant / Student Name");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Discount Plan");?></th>
		<th><?php echo $this->translate("Applied Date");?></th>
		<th><?php echo $this->translate("Start Date");?></th>
		<th><?php echo $this->translate("End Date");?></th>
		<th><?php echo $this->translate("Invoice Amount (MYR)");?></th>
		<th><?php echo $this->translate("Discount Amount (MYR)");?></th>
		<th><?php echo $this->translate("Net Amount (MYR)");?></th>
	</tr>
	<?php 	    	
	foreach ($this->paginator as $lobjstudents){
		$netAmount = 0;
		$currencyDb = new Studentfinance_Model_DbTable_CurrencyRate();
		$currency = $currencyDb->getData($lobjstudents['exchange_rate']);
	?>
	<tr>
		<td><?php echo $this->escape($lobjstudents['dcnt_fomulir_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td>
		<?php 
		if($lobjstudents['student_fullname']){
			echo $lobjstudents['student_fullname'];
		}else{
			echo $lobjstudents['appl_fullname'];
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td><?php echo $this->escape($lobjstudents['dt_discount']);?></td>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['dcnt_create_date'])); ?></td>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['dtt_start_date'])); ?></td>
		<td><?php echo ($lobjstudents['dtt_end_date'] != '0000-00-00') ? date('d-m-Y',strtotime($lobjstudents['dtt_end_date'])) : '-'; ?></td>
		<!--<td><?php 
//		if($lobjstudents['dcnt_status'] == 'A' ){
//			echo "APPROVED";
//		}elseif($lobjstudents['dcnt_status'] == 'X'){
//			echo "CANCEL";
//		}elseif($lobjstudents['dcnt_status'] == 'E'){
//			echo "ENTRY";
//		}
		?></td>
		--><td align="right">RM<?php echo $this->escape(number_format($lobjstudents['invoiceAmount'],2));?></td>
		<td align="right">RM<?php 
		$discAmount = $lobjstudents['dcnt_amount'];
		if($lobjstudents['dcnt_currency_id'] == 2){
			$discAmount = $discAmount * $currency['cr_exchange_rate'];
		}
		echo number_format($discAmount,2);
		?></td>
		<td align="right">RM<?php 
//		echo $lobjstudents['invoiceAmount'].' - '.$discAmount.'<br>';
		echo  $netAmount = number_format($lobjstudents['invoiceAmount'] - $discAmount,2);
		?></td>
		
		             
   <?php 
	} 
	?>
	</tr>
</table>
<?php } ?>