<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Fee Type");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Funding Method");?></th>
		<th><?php echo $this->translate("Discount");?></th>
		<th><?php echo $this->translate("Email");?></th>
		<th><?php echo $this->translate("Amount (USD)");?></th>
		<th><?php echo $this->translate("Amount (MYR)");?></th>
		<th><?php echo date('d-m-Y',strtotime($this->date_to));?></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->paginator as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['invoice_date'])); ?></td>
		<td><?php echo $this->escape($lobjstudents['invoice_no']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php echo $this->escape($lobjstudents['student_fullname']);?></td>
		<td><?php echo $this->escape($lobjstudents['profileStatus']);?></td>
		<td><?php echo $this->escape($lobjstudents['SemesterMainName']);?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td>
		<?php 
		if($lobjstudents['MigrateCode']!=''){
			echo $this->escape($lobjstudents['bill_description']);
		}else{
			echo $this->escape($lobjstudents['fi_name']);
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td>
			<?php
			if(is_array($lobjstudents['funding'])){
				echo implode(", ",$lobjstudents['funding']);
			}else{
				echo $this->escape($lobjstudents['funding']);
			}
			?>
		</td>
		<td><?php echo $this->escape($lobjstudents['dt_discount']);?></td>
		<td><?php echo $this->escape($lobjstudents['appl_email']);?></td>
		<td align="right">
		<?php if($lobjstudents['currency_id'] == 2){
			echo $balanceInv = number_format($lobjstudents['balance'],2);
		}?>	
		</td>
		<td align="right"><?php echo round($lobjstudents['amount_convert'], 2);?></td>
		
		<td align="right"><?php echo $this->escape($lobjstudents['days']);?></td>
	</tr>

   <?php 
   $totalAmount +=$lobjstudents['amount_convert'];
	} 
	?>
	<tr>
		<td colspan="16" align="right"></td>
		<td align="right"><?php echo round($totalAmount, 2);?></td>
		<td align="right"></td>
	</tr>
</table>
<?php } ?>