<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th><?php echo $this->translate("Programmes/Types of Fees");?></th>
		<?php foreach($this->range as $range){?>
		<th><?php echo $range['min'];?>-<?php echo $range['max'] == '10000' ? 'Above' : $range['max'];?> Days</th>
		<?php }?>
		<th><?php echo $this->translate("Grand Total");?></th>
	</tr>
	<?php 
	
	foreach($this->list as $list){
		if($list['fee']){
		
	?>
	<tr>
		<th class="left"><?php echo $list['ProgramCode'];?></th>
		<?php 
		$grandprogram = 0;
		foreach($list['totalamountprogram'] as $range){?>
		<th class="right"><?php echo number_format($range,2);?></th>
		<?php 
		$grandprogram +=$range;
		}?>
		<th class="left"><?php echo number_format($grandprogram,2);?></th>
		
	</tr>
	<?php 
		}
	if($list['fee']){
		
		foreach($list['fee'] as $fee){?>
		<tr>
			<td><?php echo $fee['fi_name'];?></td>
			<?php 
			foreach($fee['range_days'] as $range){?>
			<td align="right"><?php echo number_format($range['totalamount'],2);?></td>
			<?php 
			}?>
			<td align="right"><?php echo number_format($fee['grandtotal'],2);?></td>
		</tr>
	<?php 
			}
		}
	}
	?>
	
	
	
	
</table>