<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th><?php echo $this->translate("Date Utilised");?></th>
		<th><?php echo $this->translate("Date of CN created");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("CN/Receipt No");?></th>
		<th><?php echo $this->translate("Payment Mode");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Deposit");?></th>
		<th><?php echo $this->translate("Amount Utilized (USD)");?></th>
		<th><?php echo $this->translate("Amount Utilized (MYR)");?></th>
		<th><?php echo $this->translate("Account Code");?></th>
		<th><?php echo $this->translate("Account Code Description");?></th>
		<th><?php echo $this->translate("Remarks");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Applicant / Student Name");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
	</tr>
	<?php 	    		    		
	foreach ($this->paginator as $lobjstudents){
		
		if($lobjstudents['exchange_rate']){
			$currencyDb = new Studentfinance_Model_DbTable_CurrencyRate();
			$currency=$currencyDb->getData($lobjstudents['exchange_rate']);
		}
	?>
	<tr>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['advpydet_upddate'])); ?></td>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['invoice_date'])); ?></td>
		<td><?php echo $this->escape($lobjstudents['invoice_no']);?></td>
		<td>
			<?php
			if(isset($lobjstudents['cn'])){
				echo $this->escape($lobjstudents['cn']);
			}else if ($lobjstudents['advpy_invoice_id'] != null || $lobjstudents['advpy_invoice_id'] != 0) {
				echo $this->escape($lobjstudents['advpy_invoice_no']);
			}else{
				echo $this->escape($lobjstudents['rcp_no']);
			}
			?>
		</td>
		<td>
			<?php

			if($lobjstudents['MigrateCodeAdv']){
				echo "Credit Note";
			}else{
				if(isset($lobjstudents['cn'])){
					echo "Credit Note";
				}else if ($lobjstudents['advpy_refund_id'] != null || $lobjstudents['advpy_refund_id'] != 0) {
					echo "Transfer Balance";
				}else if ($lobjstudents['advpy_invoice_id'] != null || $lobjstudents['advpy_invoice_id'] != 0) {
					echo "Invoice";
				}else{
					echo "Receipt";
				}
			}


			?>
		</td>
		<td>
		<?php
		if($lobjstudents['MigrateCodeAdv'] || isset($lobjstudents['cn'])){
			echo $this->escape($lobjstudents['advpy_description']);
		}else{
			echo $this->escape($lobjstudents['advpy_description']);
			if($lobjstudents['p_payment_mode_id'] == 0){//
				if($lobjstudents['p_migs']!=0){
					echo '<br />'.$this->escape($lobjstudents['mt_txn_no']);
				}else{
					echo '<br />'.$this->escape($lobjstudents['p_cheque_no']);
				}
			}else{
				if(isset($lobjstudents['p_cheque_no'])){
					echo '<br />'.$this->escape($lobjstudents['p_cheque_no']);
				}else{
					echo '<br />'.$this->escape($lobjstudents['p_card_no']);
				}
			}
		}

		if (isset($lobjstudents['MigrateCodeAdv']) && $lobjstudents['MigrateCodeAdv']!=0 && $lobjstudents['MigrateCodeAdv']!='' && $lobjstudents['MigrateCodeAdv']!=null){
			echo '<br />(Data Migration)';
		}
		?>
		</td>
		<td><?php echo $lobjstudents['fromitem']; ?></td>
		<td align='right'><?php 
		if($lobjstudents['advpy_cur_id'] == 2){
//			$currency = $currencyDb->getCurrentExchangeRate(2);
			echo '$'.number_format($lobjstudents['advpydet_total_paid']);
		}?></td>
		<td align='right'><?php 
		if($lobjstudents['advpy_cur_id'] == 1){
//			$currency = $currencyDb->getCurrentExchangeRate(2);
			echo 'RM'.number_format($lobjstudents['advpydet_total_paid']);
		}else{
			echo 'RM'.number_format($lobjstudents['advpydet_total_paid'] * $currency['cr_exchange_rate'],2);
		}?></td>
		<td><?php echo isset($lobjstudents['ac_code']) ? $this->escape($lobjstudents['ac_code']):'';?></td>
		<td><?php echo isset($lobjstudents['ac_desc']) ? $this->escape($lobjstudents['ac_desc']):'';?></td>
		<td><?php echo $this->escape($lobjstudents['fi_name']);?>
		</td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?>
		</td>
		<td>
		<?php echo $this->escape($lobjstudents['registrationId']);?>
		</td>
		<td>
		<?php 
		if($lobjstudents['student_fullname']){
			echo $lobjstudents['student_fullname'];
		}else{
			echo $lobjstudents['appl_fullname'];
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['SemesterMainName']);?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>

		
		
		
		             
   <?php 
	} 
	?>
	</tr>
</table>
<?php } ?>