<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<?php 
if (count($this->cnList) > 0){
$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th><?php echo $this->translate('Date'); ?></th>
            <th><?php echo $this->translate('CN No'); ?></th>
            <th><?php echo $this->translate('Invoice No'); ?></th>
            <th><?php echo $this->translate('CN Description'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('CN Status'); ?></th>
            <th><?php echo $this->translate('Courses'); ?></th>
            <th><?php echo $this->translate('USD'); ?></th>
            <th><?php echo $this->translate('MYR'); ?></th>
        </tr>
        <?php
        foreach ($this->cnList as $cnLoop){
        ?>
        <tr>
            <td><?php echo date('d-m-Y', strtotime($cnLoop['cn_create_date'])); ?></td>
            <td><?php echo $cnLoop['cn_billing_no'] ?></td>
            <td><?php echo $cnLoop['bill_number'] ?></td>
            <td><?php echo $cnLoop['cn_description']; ?></td>
            <td align="center"><?php echo $cnLoop['registrationId']!=null ? $cnLoop['registrationId']:$cnLoop['at_pes_id']; ?></td>
            <td><?php echo $cnLoop['registrationId']!=null ? $cnLoop['appl_fname'].' '.$cnLoop['appl_lname']:$cnLoop['applicant_name']; ?></td>
            <td align="center"><?php echo $cnLoop['ProgramCodeStudent']!=null ? $cnLoop['ProgramCodeStudent']:$cnLoop['ProgramCodeApplicant']; ?></td>
            <td align="center"><?php echo $cnLoop['SemesterMainName']; ?></td>
            <td>
                <?php 
                
                if($cnLoop['MigrateCodeCN'] && $cnLoop['MigrateCodeCN'] != NULL || !$cnLoop['SubCode']){
                   
                }else{
                	if($cnLoop['cn_type'] != 0){
                		echo 'Withdrawal '.$cnLoop['cn_type'].'%';
                	}else{
	                	 if ($cnLoop['AMOUNT1']==$cnLoop['AMOUNT2']){
	                        echo 'Withdrawal 100%';
	                    }else{
	                        $percent = number_format(($cnLoop['AMOUNT1']/$cnLoop['AMOUNT2']) * 100, 0);
	                        echo 'Withdrawal '.$percent.'%';
	                    }
                	}
                }
                ?>
            </td>
            <td align="center"><?php echo $cnLoop['SubCode']; ?></td>
            <?php 
            $usd = '';
            $myr = '';
            
            if($cnLoop['MigrateCodeCN']){
//            	$currencyDb = new Studentfinance_Model_DbTable_CurrencyRate();
//            	$currency = $currencyDb->getRateByDate(2,date('Y-m-d', strtotime($cnLoop['cn_create_date'])));
            	
            	if($cnLoop['cn_cur_id']==2){
            		$usd = $cnLoop['AMOUNT1'];
//            		$myr = number_format($cnLoop['AMOUNT1'] * $currency['cr_exchange_rate'], 2, '.', ' ');
            	}elseif($cnLoop['cn_cur_id']==1){
            		$myr = $cnLoop['AMOUNT1'];
            	}
            		
            }else{
	            if ($cnLoop['currencyid']==1){
	                $myr = $cnLoop['AMOUNT1'];
	            }else if($cnLoop['currencyid']==2){
	                $usd = $cnLoop['AMOUNT1'];

                    $exrate = $curRateDB->getRateByDate(2, $cnLoop['invoice_date']);

                    if ($exrate || isset($exrate['cr_exchange_rate'])){
                        $cnLoop['rate'] = $exrate['cr_exchange_rate'];
                    }
	                $myr = number_format($cnLoop['AMOUNT1'] * $cnLoop['rate'], 2, '.', ' ');
	            }
            }
            ?>
            <td align="right"><?php echo $usd; ?></td>
            <td align="right"><?php echo $myr; ?></td>
        </tr>
        <?php
        }
        ?>
    </table>
<?php 
}
?>