<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>

<?php if (count($this->paginator)){	?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>
		<th><?php echo $this->translate("Date");?></th>
		<th><?php echo $this->translate("Applicant ID ");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Nationality");?></th>
		<th><?php echo $this->translate("Student Category");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("Fee Type");?></th>
		<th><?php echo $this->translate("Account Code");?></th>
		<th><?php echo $this->translate("Discount");?></th>
		<th><?php echo $this->translate("Funding Method");?></th>
		<th><?php echo $this->translate("Funding Name");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Billing Status");?></th>
		<th><?php echo $this->translate("Current Billing (USD)");?></th>
		<th><?php echo $this->translate("Current Billing (MYR)");?></th>
		<th><?php echo $this->translate("Adjustment/New Add (MYR)");?></th>
		<th><?php echo $this->translate("Billing After Adjustment");?></th>
		<th><?php echo $this->translate("CN Status");?></th>
		<th><?php echo $this->translate("Discount Amount");?></th>
		<th><?php echo $this->translate("Discount Adjustment Amount");?></th>
		<th><?php echo $this->translate("Net Amount");?></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->paginator as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['invoice_date'])); ?></td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php if($lobjstudents['student_fullname']) {echo $this->escape($lobjstudents['student_fullname']);}else{ echo $this->escape($lobjstudents['appl_fullname']);}?></td>
		<td><?php echo $lobjstudents['sactr']!=null ? $lobjstudents['sactr']:$lobjstudents['apctr']; ?></td>
		<td><?php echo $lobjstudents['sastdctgy']!=null ? $lobjstudents['sastdctgy']:$lobjstudents['apstdctgy']; ?></td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo strtoupper($this->escape($lobjstudents['profileStatus']));?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td><?php echo $this->escape($lobjstudents['SemesterMainName']);?></td>
		<td><?php echo $this->escape($lobjstudents['invoice_no']);?></td>
		<td>
		<?php 
		if($lobjstudents['MigrateCode']!='' || $lobjstudents['fi_id']==0 || $lobjstudents['fi_id']==126){
			echo $this->escape($lobjstudents['bill_description']);
		}else{
			echo $this->escape($lobjstudents['fi_name']);
		}
		?>
		</td>
		<td><?php echo $this->escape($lobjstudents['ac_code']);?></td>
		<td><?php echo isset($lobjstudents['discountName']) ? $lobjstudents['discountName'] : '';?></td>
		<td><?php if($lobjstudents['scholarship']){
			echo "Scholarship";
		}elseif($lobjstudents['sponsorship']){
			echo "Sponsorship";
		}else{
			echo "Self Funding";
			
		}
			?></td>
		<td><?php echo ($lobjstudents['funding'] != 'Self Funding') ? $this->escape($lobjstudents['funding']) : '';?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['courseStatus']);?></td>
		<td align="right">
		<?php if($lobjstudents['cur_id'] == 2){
			echo number_format($lobjstudents['amount'],2);
		}?>	
		</td>
		<td align="right"><?php echo number_format($lobjstudents['amount_convert'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['cn_amount'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['nettadjust'],2);?></td>
		<td><?php echo $this->escape($lobjstudents['cnType']);?></td>
		<td align="right"><?php echo isset($lobjstudents['dn_amount']) ? number_format($lobjstudents['dn_amount'],2) : 0;?></td>
		<td align="right"><?php echo isset($lobjstudents['dn_amount_adjust']) ? number_format($lobjstudents['dn_amount_adjust'],2) : 0;?></td>
		<td align="right"><?php echo number_format($lobjstudents['nett'],2);?></td>
	</tr>

   <?php 
	} 
	?>
</table>
<?php } ?>