<script type="text/javascript">
    $(function (){
        $( "#DateFrom" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#DateTo" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#DateTo" ).datepicker({
            defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#DateFrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });

    function getProgramScheme(programId){

        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('ProgramScheme');
            },
            complete: function() {
                hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- Select --</option>';
            $.each(data,function(index){
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme");
        });
    }

    function getScholarship(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'applicationformsetup', 'action'=>'get-scholarship'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('Scholarship');
            },
            complete: function() {
                hideLoading('Scholarship');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){
                content += '<option label="'+data[index].name+'" value="'+data[index].id+'">'+data[index].name+'</option>';
            });
            $('#Scholarship').html(content);
        })
        .fail(function() {
            alert("error load scholarship");
        });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function print(){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'sponsor-advance-report-print'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php if (count($this->list)){	?>
            <ul>
                <li><a href="#" onclick='print()'> <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a></li>
            </ul>
        <?php } ?>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Date From'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->DateFrom; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Date To'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->DateTo; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->Program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Sponsor Type'); ?></td>
                <td><?php echo $this->form->stype; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Sponsor'); ?></td>
                <td><?php echo $this->form->Scholarship; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Payment Mode'); ?></td>
                <td><?php echo $this->form->PaymentMode; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" value="search" id="search" name="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" value="clear" id="clear" name="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Sponsor No.'); ?></th>
        <th><?php echo $this->translate('Sponsor Date'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Programme Scheme'); ?></th>
        <th><?php echo $this->translate('Intake'); ?></th>
        <th><?php echo $this->translate('Semester'); ?></th>
        <!--<th><?php /*echo $this->translate('Invoice Date'); ?></th>
        <th><?php echo $this->translate('Invoice No.'); ?></th>
        <th><?php echo $this->translate('Description'); ?></th>
        <th><?php echo $this->translate('Invoice Description'); ?></th>
        <th><?php echo $this->translate('Semester');*/ ?></th>-->
        <th><?php echo $this->translate('Sponsor Status'); ?></th>
        <th><?php echo $this->translate('Sponsor Cancel Date'); ?></th>
        <th><?php echo $this->translate('Adv Payment Status'); ?></th>
        <th><?php echo $this->translate('Adv Payment Cancel Date'); ?></th>
        <th><?php echo $this->translate('Currency'); ?></th>
        <!--<th><?php //echo $this->translate('Exchange Rate'); ?></th>
        <th><?php //echo $this->translate('Amount (USD)'); ?></th>
        <th><?php //echo $this->translate('Amount (RM)'); ?></th>
        <th><?php //echo $this->translate('Adjusment Amount (RM)'); ?></th>-->
        <th><?php echo $this->translate('Total Sponsor Amount (USD)'); ?></th>
        <th><?php echo $this->translate('Total Sponsor Amount (RM)'); ?></th>
        <!--<th><?php //echo $this->translate('Advance Sponsor Amount (RM)'); ?></th>-->
        <th><?php echo $this->translate('Advance Sponsor Amount (Student)(USD)'); ?></th>
        <th><?php echo $this->translate('Advance Sponsor Amount (Student)(RM)'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $tamount = 0;
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td align="center"><?php echo $loop['rcp_no']; ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($loop['rcp_receive_date'])); ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['ProgramName']; ?></td>
                <td align="center"><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
                <td><?php echo $loop['IntakeDesc']; ?></td>
                <td><?php echo $loop['SemesterMainName']; ?></td>
                <!--<td align="center"><?php //echo $loop['invoice_date'] == null ? '':date('d-m-Y', strtotime($loop['invoice_date'])); ?></td>
                <td align="center"><?php //echo $loop['bill_number']; ?></td>
                <td><?php //echo $loop['rcp_type']==3 ? ($loop['appl_religion']==103 ? $loop['rcp_description']:'Financial Assistance - '.$loop['SemesterMainName']):$loop['rcp_description']; ?></td>
                <td><?php //echo $loop['bill_description']; ?></td>
                <td align="center"><?php //echo $loop['SemesterMainName']; ?></td>-->
                <td align="center"><?php
                    echo $loop['dtlstatus']==1 && $loop['rcp_status']=='APPROVE' ? 'Active':'Cancel';
                    ?>
                </td>
                <td align="center">
                    <?php
                    $canceldatemain = $loop['canceldatemain']=='0000-00-00 00:00:00' ? null:$loop['canceldatemain'];
                    $canceldatedtl = $loop['canceldatedtl']=='0000-00-00 00:00:00' ? null:$loop['canceldatedtl'];

                    if ($loop['dtlstatus']==0 || $loop['rcp_status']=='CANCEL') {
                        if ($canceldatemain != null || $canceldatedtl != null) {
                            if ($canceldatemain != null) {
                                echo date('d-m-Y', strtotime($canceldatemain));
                            } else {
                                echo date('d-m-Y', strtotime($canceldatedtl));
                            }
                        }
                    }
                    ?>
                </td>
                <td align="center"><?php
                    if ($loop['advpy_status']!=null) {
                        echo trim($loop['advpy_status']) == 'A' ? 'Active' : 'Cancel';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($loop['advpy_status']!=null) {
                        echo ($loop['advpy_cancel_date'] == '0000-00-00 00:00:00' || $loop['advpy_cancel_date'] == null) ? '' : date('d-m-Y', strtotime($loop['advpy_cancel_date']));
                    }
                    ?>
                </td>
                <!--<td align="right">
                    <?php
                    /*$exrate = false;
                    if ($loop['curid']==2) {
                        $model = new Studentfinance_Model_DbTable_CurrencyRate();
                        $exrate = $model->getRateByDate($loop['curid'], $loop['rcp_receive_date']);
                    }else{
                        if ($loop['currency_id']!=1 && $loop['currency_id'] != null){
                            //exit;
                            $model = new Studentfinance_Model_DbTable_CurrencyRate();
                            $exrate = $model->getRateByDate($loop['currency_id'], $loop['rcp_receive_date']);
                        }
                    }

                    if ($exrate && isset($exrate['cr_exchange_rate'])){
                        echo $exrate['cr_exchange_rate'];
                    }
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($loop['curid']==2) {
                        echo number_format(($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00)), 2, '.', '');
                    }else{
                        if ($loop['currency_id']!=1 && $loop['currency_id'] != null){
                            $model = new Studentfinance_Model_DbTable_CurrencyRate();
                            $exrate = $model->getRateByDate($loop['currency_id'], $loop['rcp_receive_date']);

                            $amount = number_format((($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00))/$exrate['cr_exchange_rate']), 2, '.', '');
                            echo $amount;
                        }
                    }
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($loop['curid']==1) {
                        $amount = number_format(($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00)), 2, '.', '');
                        echo $amount;
                    }else{
                        $model = new Studentfinance_Model_DbTable_CurrencyRate();
                        $exrate = $model->getRateByDate($loop['curid'], $loop['rcp_receive_date']);

                        $amount = number_format((($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00))*$exrate['cr_exchange_rate']), 2, '.', '');
                        echo $amount;
                    }
                    ?>
                </td>
                <td align="right">
                    <?php
                    $canceldatemain = $loop['canceldatemain']=='0000-00-00 00:00:00' ? null:$loop['canceldatemain'];
                    $canceldatedtl = $loop['canceldatedtl']=='0000-00-00 00:00:00' ? null:$loop['canceldatedtl'];
                    $adjusmentAmt = 0.00;

                    if ($loop['dtlstatus']==0 || $loop['rcp_status']=='CANCEL') {
                        if ($canceldatemain != null || $canceldatedtl != null) {
                            if ($canceldatemain != null) {
                                if (strtotime($this->formData['DateTo']) >= strtotime($canceldatemain)) {
                                    $adjusmentAmt = $amount;
                                }
                            } else {
                                if (strtotime($this->formData['DateTo']) >= strtotime($canceldatedtl)) {
                                    $adjusmentAmt = $amount;
                                }
                            }
                        }
                    }

                    echo number_format($adjusmentAmt, 2, '.', '');*/
                    ?>
                </td>-->
                <td align="center"><?php echo $loop['cursymbol']; ?></td>
                <td align="right">
                    <?php
                    if ($loop['rcp_cur_id']!=1) {
                        echo number_format(($loop['totalstudentamount']), 2, '.', '');
                    }
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($loop['rcp_cur_id']!=1) {
                        $curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
                        $exrate = $curRateDB->getRateByDate($loop['rcp_cur_id'], $loop['rcp_receive_date']);

                        echo number_format(($loop['totalstudentamount']*$exrate['cr_exchange_rate']), 2, '.', '');
                    }else {
                        echo number_format(($loop['totalstudentamount']), 2, '.', '');
                    }
                    ?>
                </td>
                <!--<td align="right">
                    <?php
                //echo number_format(($loop['advamount']), 2, '.', '');
                ?>
                </td>-->
                <td align="right">
                    <?php
                    if ($loop['rcp_cur_id']!=1) {
                        echo number_format(($loop['advamountstudent']), 2, '.', '');
                    }
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($loop['rcp_cur_id']!=1) {
                        $curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
                        $exrate = $curRateDB->getRateByDate($loop['rcp_cur_id'], $loop['rcp_receive_date']);

                        echo number_format(($loop['advamountstudent']*$exrate['cr_exchange_rate']), 2, '.', '');
                    }else {
                        echo number_format(($loop['advamountstudent']), 2, '.', '');
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
        ?>
    <?php
    }
    ?>
</table>