<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->list) {
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Sponsor No.'); ?></th>
            <th><?php echo $this->translate('Sponsor Date'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Programme Scheme'); ?></th>
            <th><?php echo $this->translate('Intake'); ?></th>
            <th><?php echo $this->translate('Invoice Date'); ?></th>
            <th><?php echo $this->translate('Invoice No.'); ?></th>
            <th><?php echo $this->translate('Description'); ?></th>
            <th><?php echo $this->translate('Invoice Description'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
            <th><?php echo $this->translate('Cancel Date'); ?></th>
            <th><?php echo $this->translate('Exchange Rate'); ?></th>
            <th><?php echo $this->translate('Amount (USD)'); ?></th>
            <th><?php echo $this->translate('Amount (RM)'); ?></th>
            <th><?php echo $this->translate('Adjusment Amount (RM)'); ?></th>
            <th><?php echo $this->translate('Total Sponsor Amount (RM)'); ?></th>
            <!--<th><?php //echo $this->translate('Advance Sponsor Amount (RM)'); ?></th>-->
            <!--<th><?php //echo $this->translate('Advance Sponsor Amount (Student)(RM)'); ?></th>-->
        </tr>
        <?php
        if ($this->list) {
            $no = 0;
            foreach ($this->list as $loop) {
                $no++;
                ?>
                <tr>
                    <td align="center"><?php echo $no; ?></td>
                    <td align="center"><?php echo $loop['rcp_no']; ?></td>
                    <td align="center"><?php echo date('d-m-Y', strtotime($loop['rcp_receive_date'])); ?></td>
                    <td align="center"><?php echo $loop['registrationId']; ?></td>
                    <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                    <td align="center"><?php echo $loop['ProgramName']; ?></td>
                    <td align="center"><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
                    <td><?php echo $loop['IntakeDesc']; ?></td>
                    <td align="center"><?php echo $loop['invoice_date'] == null ? '':date('d-m-Y', strtotime($loop['invoice_date'])); ?></td>
                    <td align="center"><?php echo $loop['bill_number']; ?></td>
                    <td><?php echo $loop['rcp_type']==3 ? ($loop['appl_religion']==103 ? $loop['rcp_description']:'Financial Assistance - '.$loop['SemesterMainName']):$loop['rcp_description']; ?></td>
                    <td><?php echo $loop['bill_description']; ?></td>
                    <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                    <td align="center"><?php
                        echo $loop['dtlstatus']==1 && $loop['rcp_status']=='APPROVE' ? 'Active':'Cancel';
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $canceldatemain = $loop['canceldatemain']=='0000-00-00 00:00:00' ? null:$loop['canceldatemain'];
                        $canceldatedtl = $loop['canceldatedtl']=='0000-00-00 00:00:00' ? null:$loop['canceldatedtl'];

                        if ($loop['dtlstatus']==0 || $loop['rcp_status']=='CANCEL') {
                            if ($canceldatemain != null || $canceldatedtl != null) {
                                if ($canceldatemain != null) {
                                    echo date('d-m-Y', strtotime($canceldatemain));
                                } else {
                                    echo date('d-m-Y', strtotime($canceldatedtl));
                                }
                            }
                        }
                        ?>
                    </td>
                    <td align="right">
                        <?php
                        $exrate = false;
                        if ($loop['curid']==2) {
                            $model = new Studentfinance_Model_DbTable_CurrencyRate();
                            $exrate = $model->getRateByDate($loop['curid'], $loop['invoice_date']);
                        }else{
                            if ($loop['currency_id']!=1 && $loop['currency_id'] != null){
                                //exit;
                                $model = new Studentfinance_Model_DbTable_CurrencyRate();
                                $exrate = $model->getRateByDate($loop['currency_id'], $loop['invoice_date']);
                            }
                        }

                        if ($exrate && isset($exrate['cr_exchange_rate'])){
                            echo $exrate['cr_exchange_rate'];
                        }
                        ?>
                    </td>
                    <td align="right">
                        <?php
                        if ($loop['curid']==2) {
                            echo number_format(($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00)), 2, '.', '');
                        }else{
                            if ($loop['currency_id']!=1 && $loop['currency_id'] != null){
                                $model = new Studentfinance_Model_DbTable_CurrencyRate();
                                $exrate = $model->getRateByDate($loop['currency_id'], $loop['invoice_date']);

                                $amount = number_format((($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00))/$exrate['cr_exchange_rate']), 2, '.', '');
                                echo $amount;
                            }
                        }
                        ?>
                    </td>
                    <td align="right">
                        <?php
                        if ($loop['curid']==1) {
                            $amount = number_format(($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00)), 2, '.', '');
                            echo $amount;
                        }else{
                            $model = new Studentfinance_Model_DbTable_CurrencyRate();
                            $exrate = $model->getRateByDate($loop['curid'], $loop['invoice_date']);

                            $amount = number_format((($loop['theammount']+($loop['balamount'] < 0.00 ? $loop['balamount']:0.00))*$exrate['cr_exchange_rate']), 2, '.', '');
                            echo $amount;
                        }
                        ?>
                    </td>
                    <td align="right">
                        <?php
                        $canceldatemain = $loop['canceldatemain']=='0000-00-00 00:00:00' ? null:$loop['canceldatemain'];
                        $canceldatedtl = $loop['canceldatedtl']=='0000-00-00 00:00:00' ? null:$loop['canceldatedtl'];
                        $adjusmentAmt = 0.00;

                        if ($loop['dtlstatus']==0 || $loop['rcp_status']=='CANCEL') {
                            if ($canceldatemain != null || $canceldatedtl != null) {
                                if ($canceldatemain != null) {
                                    if (strtotime($this->formData['DateTo']) >= strtotime($canceldatemain)) {
                                        $adjusmentAmt = $amount;
                                    }
                                } else {
                                    if (strtotime($this->formData['DateTo']) >= strtotime($canceldatedtl)) {
                                        $adjusmentAmt = $amount;
                                    }
                                }
                            }
                        }

                        echo number_format($adjusmentAmt, 2, '.', '');
                        ?>
                    </td>
                    <td align="right">
                        <?php
                        echo number_format(($loop['totalamount']), 2, '.', '');
                        ?>
                    </td>
                    <!--<td align="right">
                        <?php
                        //echo number_format(($loop['advamount']), 2, '.', '');
                        ?>
                    </td>-->
                    <!--<td align="right">
                        <?php
                        //echo number_format(($loop['advamountstudent']), 2, '.', '');
                        ?>
                    </td>-->
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <?php
}
?>