<?php $this->headScript()->prependFile('/js/jquery/plugin/blockui/jquery.blockui.js'); ?>

<script type="text/javascript">
$(function(){

	$('.progressbar').each(function() {
        var value = parseInt($(this).find('.progress-label').text());
        $(this).progressbar({value: value});

        $(this).find('.progress-label').text($(this).find('.progress-label').text()+'%');
    });

	$('#academic_year').change(function()
	{
		
		$.ajax({
		      url: "/ajax-utility/get-semester",
		      type: "post",
		      data: {'academic_year':$('#academic_year').val()},
		      dataType: 'json',
		      async: false,
		      beforeSend: function (){
		    	  $('#semester').hide();
		    	  $('#semester').parent().append('<div id="loading">Loading...</div>');
		      }  
		})
		.done(function(data){
			$('#loading').remove();
			$('#semester').show();

			$('#semester option').remove();
			$('#semester').append($('<option>').text('<?php echo $this->translate('Please Select');?>').attr('value',''));
			
			$.each(data, function(i, value) {
	            $('#semester').append($('<option>').text(value.SemesterMainName).attr('value', value.IdSemesterMaster));
	        });
		});
	}
	);

	$('#faculty').change(function()
	{
		
		$.ajax({
		      url: "/ajax-utility/get-program",
		      type: "post",
		      data: {'faculty_id':$('#faculty').val()},
		      dataType: 'json',
		      async: false,
		      beforeSend: function (){
		    	  $('#program').hide();
		    	  $('#program').parent().append('<div id="loading">Loading...</div>');
		      }  
		})
		.done(function(data){
			$('#loading').remove();
			$('#program').show();

			$('#program option').remove();
			$('#program').append($('<option>').text('<?php echo $this->translate('Please Select');?>').attr('value',''));
			
			$.each(data, function(i, value) {
	            $('#program').append($('<option>').text(value.ArabicName+' ('+value.ProgramCode+')').attr('value', value.IdProgram));
	        });
		});
	}
	);

	$('#generate_new').click(function(){
		var msg = "<?php echo $this->translate("Confirm to generate new report?"); ?>"

		if( confirm(msg) ){
			$.ajax({
			      url: "/studentfinance/report/generate-report",
			      type: "post",
			      data: $('#form_report').serialize(),
			      dataType: 'json',
			      beforeSend: function (){
			    	  $.blockUI({ message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> Processing...</div></div>' });
			      }  
			})
			.done(function(data){
				if(data.status == 0 ){
					$.unblockUI();
					alert('Error Message:'+data.msg);
				}else{
					$('#form_report').submit();
				}
			});
		}		
	});
});

function reset_form(){
	$('#academic_year').val(null);
	$('#semester').val(null);
	$('#faculty').val(null);
	$('#program').val(null);

	return false;
}

function generate_report(){
	  
	if( $('#semester').val() == '' ){
		alert('<?php echo $this->translate('Please select semester');?>');
		$('#semester').focus();
	}else
	if( $('#faculty').val() == '' ){
		alert('<?php echo $this->translate('Please select faculty');?>');
		$('#faculty').focus();
	}else
	if( $('#program').val() == '' ){
		alert('<?php echo $this->translate('Please select program');?>');
		$('#program').focus();
	}else{
		  $('#form_report').submit();
	}
}

function download_report(id){
	var data = {'rid':id}

	$('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: "/studentfinance/report/student-semester-payment-pdf"
    }));
	
    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }
	
    $('#jQueryPostItForm').submit();
}

function postIt(url, data){
	
    $('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: url
    }));

    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }

    $('#jQueryPostItForm').submit();
}
</script>

<style>
.ui-progressbar {
  position: relative;
}
.progress-label {
  position: absolute;
  left: 48%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Filter');?>
	</legend>
	
	<form id="form_report" method="post">
	  <input type="hidden" name="report_name" value="StudentSemesterReport" />
	<table>
	    <tr>
			<td><?php echo $this->translate('Academic Year');?></td>
			<td>:</td>
			<td>
				<select id="academic_year" name="academic_year_id">
				  <option value=''><?php echo $this->translate('Please select');?></option>
				  <?php 
				  foreach ($this->academic_year_list as $academicYear):  
				    $select = "";
				    if( isset($this->academic_year) && $this->academic_year == $academicYear['ay_id'] ){
                      $select = "selected='selected'";
                    }
				  ?>
				  <option value="<?php echo $academicYear['ay_id'];?>" <?php echo $select; ?>><?php echo $academicYear['ay_code'];?></option>
				  <?php endforeach;?>
				</select>
			</td>
		</tr>
	    <tr>
			<td><?php echo $this->translate('Semester');?> <span class="required"></span></td>
			<td>:</td>
			<td>
				<select id="semester" name="semester_id">
				  <option value=''><?php echo $this->translate('Please select');?></option>
				  <?php 
				  foreach ($this->semester_list as $semester):
    				  $select = "";
    				  if( isset($this->semester) && $this->semester==$semester['IdSemesterMaster'] ){
    				    $select = "selected='selected'";
    				  }
				  ?>
				  <option value="<?php echo $semester['IdSemesterMaster'];?>" <?php echo $select; ?>><?php echo $semester['SemesterMainName'];?></option>
				  <?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Faculty');?> <span class="required"></span></td>
			<td>:</td>
			<td>
				<select id="faculty" name="faculty_id">
				  <option value=''><?php echo $this->translate('Please select');?></option>
				  <?php 
				  foreach ($this->faculty_list as $faculty):
    				  $select = "";
    				  if( isset($this->faculty) && $this->faculty==$faculty['IdCollege'] ){
    				    $select = "selected='selected'";
    				  }
				  ?>
				  <option value="<?php echo $faculty['IdCollege'];?>" <?php echo $select; ?>><?php echo $faculty['ArabicName'];?> (<?php echo $faculty['CollegeCode'];?>)</option>
				  <?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Program');?> <span class="required"></span></td>
			<td>:</td>
			<td>
				<select id="program" name="program_id">
				  <option value=''><?php echo $this->translate('Please select');?></option>
				  <?php 
				  foreach ($this->program_list as $program):
    				  $select = "";
    				  if( isset($this->program) && $this->program==$program['IdProgram'] ){
    				    $select = "selected='selected'";
    				  }
				  ?>
				  <option value="<?php echo $program['IdProgram'];?>" <?php echo $select; ?>><?php echo $program['ArabicName'];?> (<?php echo $program['ProgramCode'];?>)</option>
				  <?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Paid / Not Paid');?> <span class="required"></span></td>
			<td>:</td>
			<td>
			    <input type="radio" name="paid_status" value="1" <?php echo isset($this->paid_status) && $this->paid_status == 1?"checked='checked'":"";?> /> Paid
			    <input type="radio" name="paid_status" value="0" <?php echo isset($this->paid_status) && $this->paid_status == 0?"checked='checked'":"";?>/> Not Paid
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			</td>
			<td>
				<input type="button" name="search" id="btn_search" class="button" value="Submit" onclick="generate_report();" />
				<input type="button" name="search" id="btn_reset" class="button" value="Reset" onclick="reset_form();" />
			</td>
		</tr>
	</table>
	</form>
</fieldset>

<?php 
if( isset($this->report_list) ){
?>
<?php if($this->running_report==false){?>
<div>
  <button id="generate_new"><?php echo $this->translate('Generate New Report');?></button>
</div>
<?php 
}
?>
<table class="table" width="100%">
  <tr>
    <th><?php echo $this->translate('Created Date');?></th>
    <th><?php echo $this->translate('Percent Completed');?></th>
    <th><?php echo $this->translate('Download');?></th>
  </tr>
  <?php 
  if(isset($this->report_list)){
    foreach ($this->report_list as $report):
  ?>
  <tr>
    <td><?php echo date('d-m-Y g:ia', strtotime($report['date_create'])); ?></td>
    <td>
      <?php if($report['total_record']!=0){?>
      <div class="progressbar"><div class="progress-label"><?php echo round(($report['total_processed'] / $report['total_record'] ) *100); ?></div></div>
      <?php }else{?>
      <?php echo "Cannot be done. No student data";?>
      <?php }?>
    </td>
    <td align="center">
    <?php if($report['total_record']!=0 && $report['total_record']==$report['total_processed']){?>
    <a href="#" class="downloadLink" onclick="download_report(<?php echo $report['id'];?>);"><?php echo $this->translate('Download');?></a>
    <?php }?>
    </td>
  </tr>
  <?php 
    endforeach;
    
    if(count($this->report_list)==0){
      echo "<tr><td colspan='3' align='center'>No Report Found. Please click generate button.</td></tr>";
    }
  }
  ?>
</table>
<?php 
}
?>

