
<div class="message toolbar">
    <h2>
        <?php echo  "Subject"; ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-subject', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<fieldset>
    <legend><?php echo $this->translate("Subject Info"); ?></legend>
    <form dojoType="dijit.form.Form" id="myForm"
          action="<?php echo $this->baseUrl();?>/generalsetup/highschool-subject/add"
          method="post" name="myForm">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
        <table class="table" width="100%">

            <!-- <tr>
                <th colspan="4"><?php echo $this->translate("Institution Details");?>
                </th>
            </tr>-->

            <tr>

                <td><?php echo $this->translate("Subject Code");?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjHighschoolSubjectForm->ss_subject_code;?></td>
            </tr>
            <tr>
                <td><?php echo "Subject Name";?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjHighschoolSubjectForm->ss_subject;?> <?php echo $this->lobjHighschoolSubjectForm->UpdDate;?>
                    <?php echo $this->lobjHighschoolSubjectForm->UpdUser;?></td>
                    <?php echo $this->lobjHighschoolSubjectForm->ss_core_subject;?></td>

            </tr>
            <tr>
                <td><?php echo $this->translate("Subject (Malay)");?></td>
                <td><?php echo $this->lobjHighschoolSubjectForm->ss_subject_bahasa;?> <?php echo $this->lobjHighschoolSubjectForm->UpdDate;?>
                    <?php echo $this->lobjHighschoolSubjectForm->UpdUser;?></td>

            </tr>


            <tr>
                <td><?php echo $this->translate("Active");?></td>
                <td><?php echo $this->lobjHighschoolSubjectForm->Active;?></td>
            </tr>
            <tr>
                <th colspan="4"><?php echo $this->translate("Qualification Details");?>
                </th>
            </tr>
            <!--<tr>
                <td><?php /*echo $this->translate("Qualification Type");*/?></td>
                <td><?php /*echo $this->lobjHighschoolSubjectForm->QualificationType;*/?></td>

            </tr>-->
            <tr>
                <td><?php echo $this->translate("Qualification");?></td>
                <td><?php echo $this->lobjHighschoolSubjectForm->IdSubject;?></td>

            </tr>
            <tr>
                <td colspan="4" align="right"><?php echo $this->lobjHighschoolSubjectForm->Add;?>
                    <!--<?php echo $this->lobjHighschoolSubjectForm->Clear;?>-->
                </td>
            </tr>
        </table>
        <table class="table" width="100%" id="hor">
            <tr>
                <th><?php echo $this->translate("Qualification Name")?>
                </th>
                <th><?php echo $this->translate("Delete"); ?></th>
            </tr>
        </table>
        <table class="table" width="100%">
            <tr>
                <td align="center">
                    <?php echo $this->lobjHighschoolSubjectForm->Save;?>
                </td>

            </tr>
        </table>
    </form>
</fieldset>



<script type="text/javascript">
    dojo.addOnLoad(function() {
        dijit.byId('State').set('value','');
        dijit.byId('State').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('City').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('City').set('value','');
        dijit.byId('Country').set('placeHolder','<?php echo $this->translate('Select')?>');
        dijit.byId('Country').set('value','');
        dijit.byId('IdSubject').set('value','');
        dijit.byId('IdSubject').set('placeHolder','<?php echo $this->translate('Select')?>');
        var cid = dijit.byId('Country').value;
        fnGetCountryStateList(cid,"State");
    });

    function fnGetStateCityListofUniversity(idState){
        if(idState != "")
        { var xhrArgs = {
            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
            handleAs:'json',
            load:function(data){
                AutoFillNextEditableDropDown("City",data);
            }
        }
            dojo.xhrGet(xhrArgs);
        }
    }
    function fnGetCountryStateList(idCountry,state){
        if(idCountry != "")
        {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
                handleAs:'json',
                load:function(data){
                    AutoFillNextEditableDropDown(state,data);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function fnGetStaffList(IdStaff){
        if(IdStaff != "")
        {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+IdStaff,
                handleAs:'json',
                load:function(data){
                    dijit.byId('FromDate').set('value',data['JoiningDate']);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }

    function checkphonefield(){
        var workphone = dijit.byId("InstitutionPhoneNumber").value;
        var workcountrycode = dijit.byId('Phonecountrycode').value;
        var workstatecode = dijit.byId('Phonestatecode').value;


        var fax = dijit.byId("InstitutionFaxNumber").value;
        var faxstatecode = dijit.byId('faxstatecode').value;
        var faxcountrycode = dijit.byId('faxcountrycode').value;

        if(faxcountrycode!=''){
            if(faxstatecode == ''){
                dijit.byId("faxstatecode").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("faxstatecode").set( "state", "Error" );
                return false;
            }
            if(fax == ''){
                dijit.byId("InstitutionFaxNumber").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionFaxNumber").set( "state", "Error" );
                return false;
            }
        }

        if(faxstatecode!=''){
            if(faxcountrycode == ''){
                dijit.byId("faxcountrycode").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("faxcountrycode").set( "state", "Error" );
                return false;
            }
            if(fax == ''){
                dijit.byId("InstitutionFaxNumber").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionFaxNumber").set( "state", "Error" );
                return false;
            }
        }
        if(fax != ''){
            var len = fax.length;
            if(len < 5){
                dijit.byId("InstitutionFaxNumber").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionFaxNumber").set( "state", "Error" );
                return false;
            }
            if(faxcountrycode == ''){
                dijit.byId("faxcountrycode").focus();
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("faxcountrycode").set( "state", "Error" );
                return false;
            }
            if(faxstatecode == ''){
                alert('Incorrect Fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("faxstatecode").focus();
                dijit.byId("faxstatecode").set( "state", "Error" );
                return false;
            }
        }

        if(workcountrycode!=''){
            if(workstatecode == ''){
                dijit.byId("Phonestatecode").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("Phonestatecode").set( "state", "Error" );
                return false;
            }
            if(workphone == ''){
                dijit.byId("InstitutionPhoneNumber").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionPhoneNumber").set( "state", "Error" );
                return false;
            }
        }

        if(workstatecode!=''){
            if(workcountrycode == ''){
                dijit.byId("Phonecountrycode").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("Phonecountrycode").set( "state", "Error" );
                return false;
            }
            if(workphone == ''){
                dijit.byId("InstitutionPhoneNumber").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionPhoneNumber").set( "state", "Error" );
                return false;
            }
        }
        if(workphone != ''){
            var len = workphone.length;
            if(len < 5){
                dijit.byId("InstitutionPhoneNumber").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("InstitutionPhoneNumber").set( "state", "Error" );
                return false;
            }
            if(workcountrycode == ''){
                dijit.byId("Phonecountrycode").focus();
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("Phonecountrycode").set( "state", "Error" );
                return false;
            }
            if(workstatecode == ''){
                alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
                dijit.byId("Phonestatecode").focus();
                dijit.byId("Phonestatecode").set( "state", "Error" );
                return false;
            }
        }
        return true;
    }

    var rowid=1;
    var batchArray  = new Array();
    var oldContent = "";
    var NoCnt	=	0;
    function addSubjectentry() {
        var subject = dijit.byId('IdSubject');
        var flag = true;
        if(subject.value == "") {
            dijit.byId("IdSubject").attr('required','true');
            dijit.byId("IdSubject").focus();
            flag = false;
        }
        if(flag) {
            insertdetails();
        }
    }

    function insertdetails() {
        var subject = dijit.byId("IdSubject").value;
        var subjectname = dijit.byId("IdSubject").displayedValue;
        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        batchArray.push(subjectname);
        console.log(batchArray);
        if(arrHasDupes(batchArray)) {
            alert("Duplicate Entry");
            batchArray = batchArray.unique();
            return false;
        }
        else {
            tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
            tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
            rowid++;
        }
    }

    function deleteRow(r)
    {
        rowid--;

        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);

    }

    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for(var i = 0, n = this.length; i < n; i++)
        {
            for(var x = 0, y = r.length; x < y; x++)
            {
                if(r[x]==this[i])
                {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }
</script>
