body { font-family: Arial, sans-serif; font-size:12px }

/* Table */
.table { font-size: 1em; border-collapse:collapse; margin-bottom:10px; margin-top:5px; }
.table th {
	background-color: #efefef;
	padding:4px;
	font-weight:bold;
	color:#4d4d4d;
	border:1px solid #ccc;
	text-align:left;
}
.table th.alt, .table td.alt {
	background-color: #fefefe;
	padding:3px;
	font-weight:bold;
	color:#fff;
	
}
.table tr:nth-child(odd){ background:#fff; }
.table tr:nth-child(even){ background:#f9f9f9; }
.table td { padding: 3px; border:1px solid #ccc;  }
.table td.center, .table th.center { text-align:center }

.table .shade {
	background-color: #F8F7F3;
}

.table tr:hover {
	/*background-color: #C5EAFF; */
}

.table tr.disabled, .table tr:hover.disabled { background-color:#f1f1f1 }

.table a {
	text-decoration: underline;
}

.bordered { border-collapse:collapse; border:1px solid #ccc;  }
.bordered.notop { border-top:none }
.bordered td { padding:10px; border:1px solid #ccc; }
.bordered.notop td { border-top:none }

.table td.padded { padding:10px; }

.a4-wrap {  margin:15px auto; max-width:794px; }

#header { text-align:center; margin-bottom:15px }
 
h3 { margin:0; padding:5px; background:#e1e1e1; border:1px solid #ccc }
h3.title { text-align:center; margin-bottom:5px; }
.table-wrap { margin:10px 0; }
hr  { border:0; height:1px; background:#ccc; margin:10px 0 }
div { line-height:1.4em }