<script type="text/javascript">
    $(function() {
        $('#DateFrom').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>)
        });

        $('#DateTo').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>)
        });
    });
    
    function getLevel(id){
        
        var url = "<?php echo $this->url(array('module'=>'hostel','controller'=>'report-hostel', 'action'=>'get-level'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('level');
            },
            complete: function() {
		hideLoading('level');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].Name+'" value="'+data[index].IdHostelLevel+'">'+data[index].Name+'</option>';
            });
            $('#level').html(content);
        })
        .fail(function() {
            alert("error load level"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'hostel','controller'=>'report-hostel', 'action'=>'print'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->list) > 0){
            ?>
            <li>
                <a href="#" onclick='print()'>
                <span class='download'></span>
                <?php echo $this->translate("Download");?>
                </a>
            </li>
            <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Block'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->block; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Level'); ?></td>
                <td><?php echo $this->form->level; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->form->status; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn_submit" type="submit" name="search" id="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn_submit" type="button" name="clear" id="clear" value="clear" onclick="window.location.href = '<?php echo $this->url(array('module'=>'hostel','controller'=>'report-hostel', 'action'=>'index'),"default",true);?>'"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php
    if ($this->list){
    ?>
    <table class="table" width="100%">
        <tr>
            <th align="left" colspan="17"><?php echo $this->blockInfo['Name'].' (UPDATED '.date('d F Y').')'; ?></th>
        </tr>
        <tr>
            <th><?php echo $this->translate('UNIT'); ?></th>
            <th><?php echo $this->translate('ROOM'); ?></th>
            <th><?php echo $this->translate('OCCUPANCY TYPE'); ?></th>
            <th><?php echo $this->translate('STUDENT NAME'); ?></th>
            <th><?php echo $this->translate('GENDER'); ?></th>
            <th><?php echo $this->translate('SPONSOR'); ?></th>
            <th><?php echo $this->translate('STUDENT ID'); ?></th>
            <th><?php echo $this->translate('PROGRAMME'); ?></th>
            <th><?php echo $this->translate('DATE IN'); ?></th>
            <th><?php echo $this->translate('UNTIL'); ?></th>
            <th><?php echo $this->translate('INTAKE SESSION'); ?></th>
            <th><?php echo $this->translate('RATES (RM)'); ?></th>
            <th><?php echo $this->translate('CONTACT INFO'); ?></th>
            <th><?php echo $this->translate('EMAIL'); ?></th>
            <th><?php echo $this->translate('LAST PAID'); ?></th>
            <th><?php echo $this->translate('REFUND'); ?></th>
            <th><?php echo $this->translate('REMARKS'); ?></th>
        </tr>
        <?php
        foreach ($this->list as $loop){
        ?>
        <tr>
            <td rowspan="<?php echo $loop['rowspan1']; ?>" align='center'>
                <?php 
                echo $loop['Name'].'<br/>'; 
                echo $loop['genderroom']==1 ? 'Male':'Female';
                ?>
            </td>
            <?php
            if (isset($loop['roomlist']) && count($loop['roomlist'])>0){
            foreach ($loop['roomlist'] as $roomLoop){
            ?>
            <td rowspan="<?php echo $roomLoop['rowspan2']; ?>"><?php echo $roomLoop['RoomName']; ?></td>
            <td rowspan="<?php echo $roomLoop['rowspan2']; ?>" align='center'><?php echo $roomLoop['occupancyname']; ?></td>
            <?php
            if (isset($roomLoop['studentlist']) && count($roomLoop['studentlist'])>0){
            foreach ($roomLoop['studentlist'] as $studentLoop){
            $style1 = isset($studentLoop['availablehostel']) ? 'style="background-color: MediumSpringGreen;"':'';
            ?>
            <td <?php echo $style1; ?>><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
            <td <?php echo $style1; ?> align='center'><?php echo $studentLoop['appl_gender']==1 ? 'Male':'Female'; ?></td>
            <td <?php echo $style1; ?>><?php if (!isset($studentLoop['availablehostel'])){ echo isset($studentLoop['Sponsorship']) ? $studentLoop['Sponsorship']:'Self-funding';} ?></td>
            <td <?php echo $style1; ?> align='center'><?php echo $studentLoop['registrationId']; ?></td>
            <td <?php echo $style1; ?> align='center'><?php echo $studentLoop['ProgramCode']; ?></td>
            <td <?php echo $style1; ?> align='center'><?php echo (($studentLoop['CheckInDate']!=null && $studentLoop['CheckInDate']!='') ? date('d-m-Y', strtotime($studentLoop['CheckInDate'])):''); ?></td>
            <td <?php echo $style1; ?> align='center'><?php echo (($studentLoop['CheckOutDate']!=null && $studentLoop['CheckOutDate']!='') ? date('d-m-Y', strtotime($studentLoop['CheckOutDate'])):''); ?></td>
            <td <?php echo $style1; ?> align='center'>
                <?php 
                    echo $studentLoop['IntakeDesc'];
                ?>
            </td>
            <td <?php echo $style1; ?> align='right'>
                <?php
                if (isset($studentLoop['roomrate']['Rate'])){
                    echo $studentLoop['roomrate']['Rate'];
                }
                ?>
            </td>
            <td <?php echo $style1; ?>><?php echo $studentLoop['appl_phone_home']; ?></td>
            <td <?php echo $style1; ?>><?php echo $studentLoop['appl_email_personal']; ?></td>
            <td <?php echo $style1; ?>></td>
            <td <?php echo $style1; ?>></td>
            <td <?php echo $style1; ?>></td>
            <?php
            break;
            }
            ?>
            </tr>
            <?php
            foreach ($roomLoop['studentlist'] as $key => $studentLoop2){
            $style2 = isset($studentLoop2['availablehostel']) ? 'style="background-color: MediumSpringGreen;"':'';
            if ($key != 0){
            ?>
            <tr>
                <td <?php echo $style2; ?>><?php echo $studentLoop2['appl_fname'].' '.$studentLoop2['appl_lname']; ?></td>
                <td <?php echo $style2; ?> align='center'><?php echo $studentLoop2['appl_gender']==1 ? 'Male':'Female'; ?></td>
                <td <?php echo $style2; ?>><?php if (!isset($studentLoop2['availablehostel'])){ echo isset($studentLoop2['Sponsorship']) ? $studentLoop2['Sponsorship']:'Self-funding';} ?></td>
                <td <?php echo $style2; ?> align='center'><?php echo $studentLoop2['registrationId']; ?></td>
                <td <?php echo $style2; ?> align='center'><?php echo $studentLoop2['ProgramCode']; ?></td>
                <td <?php echo $style2; ?> align='center'><?php echo (($studentLoop2['CheckInDate']!=null && $studentLoop2['CheckInDate']!='') ? date('d-m-Y', strtotime($studentLoop2['CheckInDate'])):''); ?></td>
                <td <?php echo $style2; ?> align='center'><?php echo (($studentLoop2['CheckOutDate']!=null && $studentLoop2['CheckOutDate']!='') ? date('d-m-Y', strtotime($studentLoop2['CheckOutDate'])):''); ?></td>
                <td <?php echo $style2; ?> align='center'>
                    <?php 
                        echo $studentLoop2['IntakeDesc'];
                    ?>
                </td>
                <td <?php echo $style2; ?> align='right'>
                    <?php
                    if (isset($studentLoop2['roomrate']['Rate'])){
                        echo $studentLoop2['roomrate']['Rate'];
                    }
                    ?>
                </td>
                <td <?php echo $style2; ?>><?php echo $studentLoop2['appl_phone_home']; ?></td>
                <td <?php echo $style2; ?>><?php echo $studentLoop2['appl_email_personal']; ?></td>
                <td <?php echo $style2; ?>></td>
                <td <?php echo $style2; ?>></td>
                <td <?php echo $style2; ?>></td>
            </tr>
            <?php
            }
            }
            ?>
            <?php 
            }
            ?>
            <?php
            break;
            }
            ?>
            <?php
            foreach ($loop['roomlist'] as $key2 => $roomLoop2){
            if ($key2 != 0){
            ?>
            <tr>
                <td rowspan="<?php echo $roomLoop2['rowspan2']; ?>"><?php echo $roomLoop2['RoomName']; ?></td>
                <td rowspan="<?php echo $roomLoop2['rowspan2']; ?>" align='center'><?php echo $roomLoop2['occupancyname']; ?></td>
                <?php
                if (isset($roomLoop2['studentlist']) && count($roomLoop2['studentlist'])>0){
                foreach ($roomLoop2['studentlist'] as $studentLoop3){
                $style3 = isset($studentLoop3['availablehostel']) ? 'style="background-color: MediumSpringGreen;"':'';
                ?>
                <td <?php echo $style3; ?>><?php echo $studentLoop3['appl_fname'].' '.$studentLoop3['appl_lname']; ?></td>
                <td <?php echo $style3; ?> align='center'><?php echo $studentLoop3['appl_gender']==1 ? 'Male':'Female'; ?></td>
                <td <?php echo $style3; ?>><?php if (!isset($studentLoop3['availablehostel'])){ echo isset($studentLoop3['Sponsorship']) ? $studentLoop3['Sponsorship']:'Self-funding';} ?></td>
                <td <?php echo $style3; ?> align='center'><?php echo $studentLoop3['registrationId']; ?></td>
                <td <?php echo $style3; ?> align='center'><?php echo $studentLoop3['ProgramCode']; ?></td>
                <td <?php echo $style3; ?> align='center'><?php echo (($studentLoop3['CheckInDate']!=null && $studentLoop3['CheckInDate']!='') ? date('d-m-Y', strtotime($studentLoop3['CheckInDate'])):''); ?></td>
                <td <?php echo $style3; ?> align='center'><?php echo (($studentLoop3['CheckOutDate']!=null && $studentLoop3['CheckOutDate']!='') ? date('d-m-Y', strtotime($studentLoop3['CheckOutDate'])):''); ?></td>
                <td <?php echo $style3; ?> align='center'>
                    <?php 
                        echo $studentLoop3['IntakeDesc'];
                    ?>
                </td>
                <td <?php echo $style3; ?> align='right'>
                    <?php
                    if (isset($studentLoop3['roomrate']['Rate'])){
                        echo $studentLoop3['roomrate']['Rate'];
                    }
                    ?>
                </td>
                <td <?php echo $style3; ?>><?php echo $studentLoop3['appl_phone_home']; ?></td>
                <td <?php echo $style3; ?>><?php echo $studentLoop3['appl_email_personal']; ?></td>
                <td <?php echo $style3; ?>></td>
                <td <?php echo $style3; ?>></td>
                <td <?php echo $style3; ?>></td>
                <?php
                break;
                }
                ?>
                </tr>
                <?php
                foreach ($roomLoop2['studentlist'] as $key3 => $studentLoop4){
                $style4 = isset($studentLoop4['availablehostel']) ? 'style="background-color: MediumSpringGreen;"':'';
                if ($key3 != 0){
                ?>
                <tr>
                    <td <?php echo $style4; ?>><?php echo $studentLoop4['appl_fname'].' '.$studentLoop4['appl_lname']; ?></td>
                    <td <?php echo $style4; ?> align='center'><?php echo $studentLoop4['appl_gender']==1 ? 'Male':'Female'; ?></td>
                    <td <?php echo $style4; ?>><?php if (!isset($studentLoop4['availablehostel'])){ echo isset($studentLoop4['Sponsorship']) ? $studentLoop4['Sponsorship']:'Self-funding';} ?></td>
                    <td <?php echo $style4; ?> align='center'><?php echo $studentLoop4['registrationId']; ?></td>
                    <td <?php echo $style4; ?> align='center'><?php echo $studentLoop4['ProgramCode']; ?></td>
                    <td <?php echo $style4; ?> align='center'><?php echo (($studentLoop4['CheckInDate']!=null && $studentLoop4['CheckInDate']!='') ? date('d-m-Y', strtotime($studentLoop4['CheckInDate'])):''); ?></td>
                    <td <?php echo $style4; ?> align='center'><?php echo (($studentLoop4['CheckOutDate']!=null && $studentLoop4['CheckOutDate']!='') ? date('d-m-Y', strtotime($studentLoop4['CheckOutDate'])):''); ?></td>
                    <td <?php echo $style4; ?> align='center'>
                        <?php 
                            echo $studentLoop4['IntakeDesc'];
                        ?>
                    </td>
                    <td <?php echo $style4; ?> align='right'>
                        <?php
                        if (isset($studentLoop4['roomrate']['Rate'])){
                            echo $studentLoop4['roomrate']['Rate'];
                        }
                        ?>
                    </td>
                    <td <?php echo $style4; ?>><?php echo $studentLoop4['appl_phone_home']; ?></td>
                    <td <?php echo $style4; ?>><?php echo $studentLoop4['appl_email_personal']; ?></td>
                    <td <?php echo $style4; ?>></td>
                    <td <?php echo $style4; ?>></td>
                    <td <?php echo $style4; ?>></td>
                </tr>
                <?php
                }
                }
                ?>
                <?php
                }
                ?>
            <?php
            }
            }
            ?>
            <?php
            }
            ?>
        <?php
        }
        ?>
    </table>
    <?php
    }
    ?>
</fieldset>