<script type="text/javascript">
    function print(){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure-report', 'action'=>'setup-details-export'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
        return true;
    }

    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'adv-pymnt-report', 'action'=>'get-program-scheme'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programscheme');
            },
            complete: function() {
                hideLoading('programscheme');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop+' '+data[index].mos+' '+data[index].pt+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if (count($this->list) > 0){
                ?>
                <li>
                    <a href="#" onclick='return print();'>
                        <span class='download'></span>
                        <?php echo $this->translate("Export");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table>
            <tr>
                <td><?php echo $this->translate('Programme'); ?><!-- <span class="reqMark">*</span>--></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?><!-- <span class="reqMark">*</span>--></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Intake'); ?><!-- <span class="reqMark">*</span>--></td>
                <td><?php echo $this->form->intake; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Type'); ?></td>
                <td><?php echo $this->form->type; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="search" name="search" value="search" type="submit"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<hr>
<?php
if ($this->list) {
    foreach ($this->list as $loop) {
        ?>
        <h3><?php echo $loop['fs_name']; ?></h3>
        <fieldset>
            <legend><?php echo $this->translate('Info'); ?></legend>
            <table class="table info" width="100%" cellpadding="3" cellspacing="1">
                <tr>
                    <th width="200px"><?php echo $this->translate("Fee Structure Name"); ?></th>
                    <td><?php echo $loop['Info']['fs_name']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Intake"); ?></th>
                    <td>
                        <?php
                            echo $loop['Info']['s_Intake'];

                        ?>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Semester"); ?></th>
                    <td>
                        <?php
                        echo $loop['Info']['semester_name'];
                        ?>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Effective Date"); ?></th>
                    <td><?php echo date('j F Y', strtotime($loop['Info']['fs_effective_date'])); ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Account Code (Debtor)"); ?></th>
                    <td><?php echo $loop['Info']['ac_desc']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Pre Payment Account Code"); ?></th>
                    <td><?php echo $loop['Info']['prepayment_code']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Currency"); ?></th>
                    <td><?php echo $loop['Info']['cur_desc']; ?> (<?php echo $loop['Info']['cur_code']; ?>)</td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Category"); ?></th>
                    <td><?php echo $loop['Info']['DefinitionDesc']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Estimated Total Fees"); ?></th>
                    <td>
                        <?php echo $loop['Info']['cur_symbol_prefix']!=""?$loop['Info']['cur_symbol_prefix']:""; ?>
                        <?php echo $loop['Info']['fs_estimated_total_fee']; ?>
                        <?php echo $loop['Info']['cur_symbol_suffix']!=""?$loop['Info']['cur_symbol_suffix']:""; ?>
                    </td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Collaborative Partner")?></th>
                    <td><?php echo $loop['Info']['fs_cp'] == '' ? '-' : $loop['Info']['BranchName']?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate("Status")?></th>
                    <td>
                        <?php
                        if($loop['Info']['fs_status'] == 0){
                            echo "DRAFT";
                        }elseif($loop['Info']['fs_status'] == 1){
                            echo "ACTIVE";
                        }elseif($loop['Info']['fs_status'] == 2){
                            echo "INACTIVE";
                        }
                        ?>
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend><?php echo $this->translate('Programmes'); ?></legend>
            <?php
            if (isset($loop['Program']) && count($loop['Program']) > 0) {
                foreach ($loop['Program'] as $loopProgram) {
                    ?>
                    <h3><?php echo $loopProgram['ProgramName'] ?>
                        (<?php echo $loopProgram['mode_of_program_name'] ?>
                         <?php echo $loopProgram['mode_of_study_name'] ?>
                         <?php echo $loopProgram['program_type_name'] ?>
                        )</h3>
                    <fieldset>
                        <legend><?php echo $this->translate('Application') ?></legend>
                        <table width="100%" class="table">
                            <tr>
                                <th width="2%"></th>
                                <th><?php echo $this->translate('Fee Item') ?></th>
                                <th><?php echo $this->translate('Fee Category') ?></th>
                                <th><?php echo $this->translate('Document Type') ?></th>
                                <th width="100px"><?php echo $this->translate('Amount') ?></th>
                            </tr>
                            <?php $i = 0; ?>
                            <?php foreach ($loopProgram['item_application'] as $item) {
                                $i++; ?>
                                <tr id="app-<?php echo $item['fspi_id'] ?>">
                                    <td align='center'><?php echo $i ?>.</td>
                                    <td><?php echo $item['feeitem_name'] ?></td>
                                    <td><?php echo $item['fc_desc'] ?></td>
                                    <td><?php echo $item['docType'] ?></td>
                                    <td align='right'><?php echo $item['fspi_amount'] > 0 ? $item['cur_symbol_prefix'] . ' ' . $item['fspi_amount'] : '' ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                    </fieldset>
                    <br/>
                    <fieldset>
                        <legend><?php echo $this->translate('Registration') ?></legend>
                        <table width="100%" class="table">
                            <tr>
                                <th width="2%"></th>
                                <th><?php echo $this->translate('Fee Item') ?></th>
                                <th><?php echo $this->translate('Fee Category') ?></th>
                                <th><?php echo $this->translate('Document Type') ?></th>
                                <th width="100px"><?php echo $this->translate('Amount') ?></th>
                            </tr>
                            <?php $i = 0; ?>
                            <?php foreach ($loopProgram['item_registration'] as $item) {
                                $i++; ?>
                                <tr id="reg-<?php echo $item['fspi_id'] ?>">
                                    <td align='center'><?php echo $i ?>.</td>
                                    <td><?php echo $item['feeitem_name'] ?></td>
                                    <td><?php echo $item['fc_desc'] ?></td>
                                    <td><?php echo $item['docType'] ?></td>
                                    <td align='right'><?php echo $item['fspi_amount'] > 0 ? $item['cur_symbol_prefix'] . ' ' . $item['fspi_amount'] : '' ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                    </fieldset>
                    <hr>
                    <?php
                }
            }
            ?>
        </fieldset>
        <br />
        <fieldset>
            <legend><?php echo $this->translate('Fees Item'); ?></legend>
            <table class="table" width="100%">
                <thead>
                <tr>
                    <th colspan="2"><?php echo $this->translate("Fee");?></th>
                    <th><?php echo $this->translate("Code");?></th>
                    <th><?php echo $this->translate("Registration Item");?></th>
                    <th><?php echo $this->translate("Calculation Type");?></th>
                    <th><?php echo $this->translate("Frequency Type");?></th>
                    <th><?php echo $this->translate("Part / Semester / Subject");?></th>
                    <th><?php echo $this->translate("Currency");?></th>
                    <th><?php echo $this->translate("Amount");?></th>
                </tr>
                </thead>
                <tbody>
                <?php
                if(isset($loop['Item']) && count($loop['Item'])>0){
                    $bil = 1;
                    $totalAmount = 0;
                    foreach ($loop['Item'] as $fee_item) {
                        ?>
                        <tr>
                            <td><?php echo $bil; ?>.</td>
                            <td>
                                <?php
                                echo $fee_item['fi_name'];
                                ?>
                            </td>
                            <td align="center"><?php echo $fee_item['fi_code'] ?></td>
                            <td><?php echo $fee_item['registrationItem'] ?></td>
                            <td align="center"><?php echo $fee_item['calType'] ?></td>
                            <td align="center"><?php echo $fee_item['freqMode'] ?></td>
                            <td>
                                <?php
                                if ($fee_item['semester'] != null) {
                                    echo "<ul class='sem'>Semester";
                                    foreach ($fee_item['semester'] as $sem) {
                                        echo "<li> Sem " . $sem['fsis_semester'] . "</li>";
                                    }
                                    echo "</ul>";
                                }
                                if ($fee_item['subject'] != null) {
                                    echo "<ul class='sem'>Subject";
                                    foreach ($fee_item['subject'] as $subject) {
                                        echo "<li>" . $subject['SubCode'] . "</li>";
                                    }
                                    echo "</ul>";
                                }
                                if ($fee_item['level'] != null) {
                                    echo "<ul class='sem'>Part";
                                    foreach ($fee_item['level'] as $sem) {
                                        echo "<li> Part " . $sem['fsis_level'] . "</li>";
                                    }
                                    echo "</ul>";
                                }
                                ?>
                            </td>
                            <td align="center"><?php echo $fee_item['cur_code']; ?></td>
                            <td align="right">
                                <?php
                                if ($fee_item['fi_amount_calculation_type'] == 618) {
                                    echo $this->translate('Refer Setup');
                                } else {
                                    //echo $fee_item['cur_symbol_prefix']!=null?$fee_item['cur_symbol_prefix']:"";
                                    echo sprintf(" %.2f", $fee_item['fsi_amount']);
                                    //echo $fee_item['cur_symbol_suffix']!=null?$fee_item['cur_symbol_suffix']:"";
                                }
                                $totalAmount += $fee_item['fsi_amount'];
                                ?>
                            </td>
                        </tr>
                        <?php
                        $bil++;
                    }
                    ?>
                    <tr>
                        <td colspan="8" align="right"><?php echo $this->translate('Total Amount');?></td>
                        <td align="right"><?php echo sprintf (" %.2f", $totalAmount);?></td>
                    </tr>
                    <?php
                }
                ?>
                </tbody>
            </table>
        </fieldset>
        <hr>
        <br />
        <br />
        <?php
    }
}
?>
