<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/generalsetup/awardlevel/newaward">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<br/>

<fieldset>
	<legend><?php echo $this->translate('Search') ?></legend>
	<form action="<?php echo $this->baseUrl(); ?>/generalsetup/awardlevel/index/search/1" method="POST">
	<?php echo $this->form; ?>
</fieldset>
<br/>

<?php if(isset($this->noticeMessage)){?>
	<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
	<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
	<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
	<br />
<?php }?>

<br/><br/>
<h3><?php echo $this->translate('Awards') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%">

	<thead>
	<tr>
		<!--<th><?php /*echo $this->translate('Grade Id'); */?></th>-->
		<th><?php echo $this->translate('Grade Description'); ?></th>
		<th><?php echo $this->translate('Grade Description (Malay)'); ?></th>
		<th><?php echo $this->translate('Grade Type'); ?></th>
		<!--<th><?php /*echo $this->translate('Status'); */?></th>-->
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>

	<?php if ($this->paginator) {

		foreach ($this->paginator as $award) {
			?>
			<tr>

				<td><?php echo $award['GradeDesc'];?></td>
				<td><?php echo $award['GradeDesc_Malay'];?></td>
				<td><?php echo $award['Type'];?></td>
				<!--<td><?php /*echo $award['ac_status']==1?$this->translate('Active'):$this->translate('inactive');*/?></td>-->
				<!--<td><?php /*echo $award['last_edit_by_name'];*/?></td>-->
				<!--<td><?php /*echo date('d-m-y g:ia',strtotime($acode['ac_last_edit_date']));*/?></td>-->
				<td align="center"><a href="/generalsetup/awardlevel/editaward/id/<?php echo $award['Id']; ?>"><?php echo $this->translate('Edit');?></a></td>
			</tr>
			<?php
		}
	}
	?>
	</tbody>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>