<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'awardlevel', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
	<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
	<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
	<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
	<br />
<?php }?>
<?php
$this->form->setAction($this->url());
echo  $this->form;
?>