<script type="text/javascript">
  
	function search_student(){

		var name = $('#name').val();
		var id = $('#id').val();
		var type = $('input[name=type]:checked').val()

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/studentfinance/advance-payment/search-student",
		      type: "post",
		      data: {'name':name, 'id':id, 'type':type},
		      dataType: 'json',
		      beforeSend: function (){
		    	  $(table).html('<tr><td colspan="2">Loading...</td></tr>');
		      },
		      success: function(data){

		    	  $(table).empty();

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='detail("+data[i].appl_id+","+type+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		          alert("failure");
		      }   
		}); 
	}

	function detail(id,type){

		if(type==1){
			window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'advance-payment-invoice-pay', 'action'=>'payment'),'default',true);?>/appl_id/'+id;
		}else
		if(type==2){
		}
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Search');?>
	</legend>
	
	<form id="form_search" method="post">
	<table>
		<tr>
			<td><?php echo $this->translate('Name');?></td>
			<td>
				<input type="text" name="name" id="name" value="<?php echo $this->search['name'];?>" class="input-txt" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ID');?></td>
			<td>
				<input type="text" name="id" id="id" value="<?php echo $this->search['id'];?>" class="input-txt" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Receipt No');?></td>
			<td>
				<input type="text" name="receipt_id" class="input-txt" id="receipt_id" value="" />
			</td>
		</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<input type="radio" name="type" id="type" value="645" <?php echo $this->search['type']==645?'checked="checked"':'';?>  <?php echo !isset($this->search['type'])?'checked="checked"':'';?> /> <label for="type_app"><?php echo $this->translate("Applicant"); ?></label> 
				<br>
				<input type="radio" name="type" id="type" value="646" <?php echo $this->search['type']==646?'checked="checked"':'';?> /> <label for="type_stud"><?php echo $this->translate("Student"); ?></label> 
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="<?php echo $this->translate('Search');?>" />
				<input type="button" name="search" id="btn_clear" class="button" value="<?php echo $this->translate('Clear');?>" onclick="window.location = '/studentfinance/advance-payment-invoice-pay'" />
			</td>
		</tr>
	</table>
	</form>
</fieldset> 
<br/>
<?php if ( count($this->receipt_list) > 0 ):?>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Applicant ID");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("ADV Number");?></th>
    	<th><?php echo $this->translate("Receipt Number");?></th>
		<th><?php echo $this->translate("Programme")?></th>
    	<th><?php echo $this->translate("Currency");?></th>
    	<th><?php echo $this->translate("Amount");?></th>
    	<th><?php echo $this->translate("Balance");?></th>
    	<th><?php echo $this->translate("Date");?></th>
    	<th><?php echo $this->translate("Status");?></th>
    	<th><?php echo $this->translate("Created By");?></th>
    	<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php 
	if(isset($this->receipt_list) && count($this->receipt_list)>0){
		foreach ($this->receipt_list as $receipt):
	?>
		<tr>
			<td>
				<?php echo $receipt['student_name']? $receipt['student_name']:$receipt['applicant_name'];?>
			</td>
			<td><?php echo $receipt['at_pes_id']!=null?" ".$receipt['at_pes_id']:"";?></td>
			<td><?php echo $receipt['registrationId']!=null?" ".$receipt['registrationId']:"";?></td>
			<td><?php echo $receipt['advpy_fomulir'];?></td>
			<td><?php echo $receipt['rcp_no'];?></td>
			<td>
				<span class="tooltip2"><?php echo $receipt['applicant_program']?></span>
				<div class="tooltiptext">
				<?php echo $receipt['applicant_program_name'] ?>
				</div>
			
			</td>
			<td><?php echo $receipt['cur_code'];?></td>
			<td align="right">
				<?php echo $receipt['cur_symbol_prefix'];?><?php echo $receipt['advpy_amount'];?>
			</td>
			<td align="right">
				<?php echo $receipt['cur_symbol_prefix'];?><?php echo $receipt['advpy_total_balance'];?>
			</td>
			<td><?php 
			/*if($receipt['rcp_status'] == 'ENTRY'){
				echo date('d-m-Y g:ia', strtotime($receipt['rcp_date']));
			}elseif($receipt['rcp_status'] == 'CANCEL'){
				echo date('d-m-Y g:ia', strtotime($receipt['cancel_date']));
			}elseif($receipt['rcp_status'] == 'APPROVE'){
				echo date('d-m-Y g:ia', strtotime($receipt['rcp_UpdDate']));
			}*/
				
			echo date('d-m-Y', strtotime($receipt['advpy_date']));	
				?></td>
			<td><?php echo $receipt['advpy_status'];?></td>
			<td><?php echo $receipt['name'];?></td>
			<td>
			<?php if($receipt['advpy_total_balance'] > 0 && trim($receipt['advpy_status'])=='A'){?>
			<a href="<?php echo $this->baseUrl()?>/studentfinance/advance-payment-invoice-pay/payment/id/<?php echo $receipt['advpy_id'];?>"><?php echo $this->translate('View');?></a>
			<?php }?></td>
			
		</tr>
	<?php
		endforeach;
	} 
	?>
	</tbody>
</table>
<?php endif;?>