
<?php 
if($this->landscape){
if($this->landscape["LandscapeType"]==43 ||  $this->landscape["LandscapeType"]==42){ 
	$subjectItemDB = new Registration_Model_DbTable_StudentRegistrationItem();
	if(count($this->semester) > 0){
		foreach($this->semester as $semester){
			$ssemDB = new Registration_Model_DbTable_Studentsemesterstatus();
			$issemopen = $ssemDB->checkSemesterCourseRegistration($semester["IdSemesterMain"],$this->programId);
			
			//get course registered  per semester
  			$courseRegisterDb = new Registration_Model_DbTable_Studentregistration();
  			$courses = $courseRegisterDb->getCourseRegisteredBySemester($semester["IdStudentRegistration"],$semester["IdSemesterMain"]);
           
?>

				<br>
				<h3><?php echo $semester["SemesterMainName"];?> [<?php echo $semester["SemesterMainCode"];?>]</h3>
  				<table class="table" width="100%" cellpadding="5" cellspacing="1">
			  	<tr>	  	  		  	   
			  		<th width='25%'><?php echo $this->translate("Course Name")?></th>
			  		<th width='15%'><?php echo $this->translate("Course Code")?></th>
			  		<!--<th width='15%'><?php echo $this->translate("Course Type")?></th>
			  		-->
			  		<th width='5%'><?php echo $this->translate("Credit Hours")?></th>
			  		<th width='20%'><?php echo $this->translate("Status")?></th>
			  		 <th width='10%'><?php echo $this->translate("Remarks")?></th>
			  	</tr>			  	
			  	<?php   
			  	foreach($courses as $course){  
			  		
			  	//get course type
			  	$landscapeSubjectDb  = new GeneralSetup_Model_DbTable_Landscapesubject();
			  	$subjectInfo = $landscapeSubjectDb->getCourseInfo($course["IdLandscapeSub"]);
  					 	
			  	if($course["Active"]==3){
			  		//get withdrawal item refund amount
  					$item_list = $subjectItemDB->getItemWithdrawHistory($course['IdStudentRegSubjects']); 	
			  	}
			  	?>
			  	<tr>			  				  			  	
			  		<td width='25%'><?php echo ($course["BahasaIndonesia"]!='' ? $course["BahasaIndonesia"]:$course["SubjectName"]); ?></td>
			  		<td width='15%' align='center'><?php echo $course["SubCode"]; ?></td><!--
			  		<td width='15%'><?php echo $subjectInfo["DefinitionDesc"];?></td>
			  		--><td width='5%' align='center'><?php echo ($course["credit_hour_registered"]!='') ? $course["credit_hour_registered"]:$course["CreditHours"]; ?></td>
			  		<td width='20%' align='center'>
			  			<?php 			  		
			  				
	  						if($course["Active"]==0) $status =  $this->translate("Pre Registered");
			  				if($course["Active"]==1) $status = $this->translate("Registered"); 			  				 
			  				if($course["Active"]==3) $status = $this->translate("Withdraw");
			  				if($course["Active"]==4) $status = $this->translate("Repeat");			  			
			  				if($course["Active"]==6) { $status = $this->translate("Repeat-Replace"); echo '<br>'.$course['subcode_replace'];}
			  				if($course["Active"]==9) $status = $this->translate("Pre-Repeat");
			  				if($course["Active"]==10) $status = $this->translate("Pre-Replace");
					  				
			  				$exam_status = $course['exam_status'];
			  				if(isset($exam_status) && $exam_status!=''){
								if($exam_status == 'CT' || $exam_status == 'EX' || $exam_status == 'U'){
									
									if($course["Active"]==0){
										$status = 'Applied';
									}else if($course["Active"]==1){
										$status = $exam_status;
									}
								}
							}
							
							echo $status;
							
							if($course["Active"]==3){
								$subjectItemDB->displayRefundDetails($item_list);
							}
			  				
			  			?>
			  		</td>
			  		 <td  width='10%' align='center'><?php echo ($course['er_attendance_status']==396) ? $course['attendance_status']:''; ?></td>
			  		
			  	</tr>
			  	<?php  } //end foreach ?>
			  	
			  </table>
             


<?php 
		}//end if semester
	}//end if
} //end Semester landscape
} ?>
	
