<?php 
   			header('Content-Type: application/xlsx');
			header('Content-Disposition: attachement; filename="'.$this->filename.'"');
		
?>


  	<?php 
  	
  	if($this->account){
  	$availableCur = count($this->availableCurrency);
  		if($availableCur == 1){
  			$colspan = "";
  		}else{
  			$colspan = "colspan = $availableCur";
  		}
  	?>
    	<table class="table bordered" width="100%" cellpadding="5" cellspacing="1" border="1">
			<tr>
				
				<th width="100px" rowspan="2"><?php echo $this->translate("ID")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Name")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Programme")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Programme Mode")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Study Mode")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Programme Type")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Intake")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Transaction Type")?></th>
				<th rowspan="2"><?php echo $this->translate("Reference No")?></th>				
				<th rowspan="2"><?php echo $this->translate("Description")?></th>
				<th <?php echo $colspan;?>><?php echo $this->translate("Debit")?></th>
				<th><?php echo $this->translate("Credit")?></th>
				<th><?php echo $this->translate("Balance")?></th>
			</tr>
			<tr>
			<?php 
			for($a=1;$a<=1;$a++){
					foreach($this->availableCurrency as $key=>$cur){?>
						<th width="80px"><?php echo $cur?></th>
				<?php 
					}
			}?>
			<th width="80px">MYR</th>
			<th width="80px">MYR</th>
			</tr>
			
			<?php 
			$i=0;
			
			if($this->account){
				
			
			foreach ($this->account as $entryMain):
			
			$profile = $entryMain['profile'];
			$balance = 0;
			$totalDebit = 0;
			if($entryMain['soa']){
				foreach ($entryMain['soa'] as $entry):
				$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();

				$arrayDebit = array();
			if($entry['exchange_rate']){
						if($entry['exchange_rate']== 'x'){
							$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);//usd
//							$dataCur = $curRateDB->getCurrentExchangeRate(2);//usd
						}else{
							$dataCur = $curRateDB->getData($entry['exchange_rate']);//usd
						}
					}else{
						$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);
//						$dataCur = $curRateDB->getCurrentExchangeRate(2);//usd
					}

					if($entry['cur_id'] == 2){
						$amountDebit = round($entry['debit'] * $dataCur['cr_exchange_rate'],2);
						$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
						
						$arrayDebit['USD'] = $entry['debit'];
						$arrayDebit['MYR'] = $amountDebit;
						$totalDebit = $amountDebit;
					
					}else{
						$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
						$arrayDebit['MYR'] = $entry['debit'];
						$arrayDebit['USD'] = $amountDebit;
						$totalDebit = $entry['debit'];
					}
					
			/*	hide on 2015-06-18
			 * if($entry['cur_id'] == 2){
					$dataCur = $curRateDB->getData($entry['exchange_rate']);
					$amountDebit = number_format($entry['debit'] * $dataCur['cr_exchange_rate'],2);
					$arrayDebit['USD'] = $entry['debit'];
					$arrayDebit['MYR'] = $amountDebit;
					$totalDebit = $amountDebit;
					
					
				}
				
				if($entry['cur_id'] == 1){
					$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);
//					$curRateDB->getCurrentExchangeRate(2);
					$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
					$arrayDebit['MYR'] = $entry['debit'];
					$arrayDebit['USD'] = $amountDebit;
					$totalDebit = $entry['debit'];
					
				}*/
			
			
			if( $entry['txn_type']=="Invoice" ){
				
				$balance = $balance + $totalDebit;
				
			}elseif( $entry['txn_type']=="Proforma" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment" || $entry['txn_type']=="Sponsor Payment"){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
				
			}else
			if( $entry['txn_type']=="Advance Payment"  || $entry['txn_type']=="Refund Adjustment"  ){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
			}else
			if( $entry['txn_type']=="Credit Note" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Discount" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Debit Note" ){
				$balance = $balance + $totalDebit;
			}else
			if( $entry['txn_type']=="Refund" ){
				$balance = $balance + $totalDebit;
			}else
			if( $entry['txn_type']=="Discount Adjustment" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment Adjustment" ){
				
				$balance = $balance + $totalDebit;
				
			}else if ($entry['txn_type'] == "Sponsor Payment Adjustment"){
				$balance = $balance + $totalDebit;
			}
//			 echo "<br>".$balance ."+";
			
			
			?>
			<tr>
			
				<td><?php echo $profile['at_pes_id']; ?></td>
				<td>
				<?php echo $profile['appl_fname']!=null?$profile['appl_fname']." ":""; ?>
				<?php echo $profile['appl_fname']!=null?$profile['appl_mname']." ":""; ?>
				<?php echo $profile['appl_fname']!=null?$profile['appl_lname']." ":""; ?>
				</td>
				<td><?php echo $profile['ProgramCode']; ?></td>
				<td><?php if ( isset($profile['ProgramMode']) && $profile['ProgramMode'] != '' ) echo $profile['ProgramMode']  ?></td>
				<td><?php if ( isset($profile['StudyMode']) && $profile['StudyMode'] != '' ) echo $profile['StudyMode'] ?></td>
				<td><?php if ( isset($profile['ProgramType']) && $profile['ProgramType'] != '' ) echo $profile['ProgramType'] ?></td>
				<td><?php echo $profile['IntakeDesc']; ?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>				
				<td>
				<?php 
				$desc = '';
				
				if($entry['migrate_code']!=''){
					$desc = $entry['migrate_desc'];
				}else{
					$arrayRental = array(63,64,65,70);
					if($entry['txn_type']=="Invoice" &&  in_array($entry['fc_seq'],$arrayRental) ){
						$desc = $entry['migrate_desc'];
					}else{
						
						$desc = '';
						if($entry['txn_type']!="Payment"){
							$desc .= ($entry['subject']) ? $entry['subject'].' - ' : ' ';
						}
							$desc .= $entry['description'];
						
					}
				}//end else 
				
				echo $desc;

				?> 
				</td>
				<?php 
				//debit
			$color = '#000';
			if($entry['txn_type'] == 'Invoice' || $entry['txn_type'] == 'Proforma' || $entry['txn_type'] == 'Refund' || $entry['txn_type'] == 'Discount Adjustment' || $entry['txn_type'] == 'Payment Adjustment' || $entry['txn_type'] == 'Sponsor Payment Adjustment'){
					if($this->availableCurrency){
						foreach($this->availableCurrency as $key=>$cur){
							
							foreach($arrayDebit as $keyD=>$dbt){
								
								if($key == $entry['cur_id']){
									$color = 'green';
								}else{
									$color = '#000';
								}
								
								if($cur == $keyD){
									echo '<td align="right"><font color="'.$color.'">'.$dbt.'</font></td>';
								}
								
							}
							
						}
					}
				}else{
					echo '<td align="right">0.00</td>';
					echo '<td align="right">0.00</td>';
				}
				
				?>
			
						<td align="right"><?php echo !isset($entryMain['amountCur'][$entry['invoice_no']]['MYR']['credit']) ? '0.00' : number_format($entryMain['amountCur'][$entry['invoice_no']]['MYR']['credit'],2)?></td>
			
						<td align="right"><?php echo !isset($entryMain['amountCur'][$entry['invoice_no']]['MYR']['balance']) ? '0.00' : $entryMain['amountCur'][$entry['invoice_no']]['MYR']['balance']?></td>
			
			</tr>
			<?php 
			$i++;
			endforeach; 
			}
			endforeach; 
			?>
			<?php 
			}
			?>
		</table>
		
		<?php }?>

