

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<?php if ( count($this->result) > 0 ){?>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			
			<th colspan="2"><?php echo $this->translate("Created Date");?></th>
			<th><?php echo $this->translate("Created By");?></th>
			<th><?php echo $this->translate("Programme");?></th>
			<th><?php echo $this->translate("Intake");?></th>
			<th><?php echo $this->translate("Name");?></th>
			<!--<th><?php echo $this->translate("File");?></th>
			<th></th>
		--></tr>
	</thead>
	<tbody>
	
		<?php 
		$i=0;
		
		foreach ($this->result as $data): 
		?>
		<tr>
			<td width="5px"><?php echo $i+1;?>.</td>
			<td><?php echo $data['created_date'];?></td>
			<td><?php echo $data['FullName'];?></td>
			<td><?php echo $data['ProgramCode'];?></td>
			<td><?php echo $data['IntakeDesc'];?></td>
			<td>
		<?php if($data['IdRole'] == 876){?>	
		<?php echo $data['profile']['appl_fname']!=null?$data['profile']['appl_fname']." ":""; ?>
		<?php echo $data['profile']['appl_fname']!=null?$data['profile']['appl_mname']." ":""; ?>
		<?php echo $data['profile']['appl_fname']!=null?$data['profile']['appl_lname']." ":""; ?>
		<?php }?></td>
			<!--<td align="center">
			<?php if($data['filepath']){?>
			<a href="<?php echo DOCUMENT_URL.'/'.$data['filepath'];?>">Download</a>
			<?php }?>
			</td>
		--><?php //echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant', 'action'=>'ledger','id'=>$data['transID'],'type'=>$this->formData['type']),'default',true);?>
			<!--<td><a href="#"><?php echo $this->translate('Delete');?></a></td>
		
			
		--></tr>
		<?php 
		$i++;
		endforeach; ?>
		
	</tbody>
</table>
<?php }?>


