<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="20px">&nbsp;</th>
		<th width="100px"><?php echo $this->translate("Date")?></th>
		<th><?php echo $this->translate("Receipt No")?></th>
		<th><?php echo $this->translate("Description")?></th>
		<th><?php echo $this->translate("Advance Payment No")?></th>
		<th width="150px"><?php echo $this->translate("Amount")?></th>
	</tr>
	
	<?php 
	$i=0;
	$total = 0;
	if($this->payment){
	
	foreach ($this->payment as $entry):
		$total = $total + $entry['credit'];
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $i+1;?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
		<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund', 'action'=>'view','id'=>$entry['id']),'default',true);?>"><?php echo $entry['billing_no']; ?></a></td>
		<td><?php echo $entry['description']; ?></td>
		<td><?php foreach($entry['invoice_no'] as $value){
		echo $value['advpy_fomulir'].'<br>';
		}	
			?></td>
		<td align="right"> <?php echo $entry['currency']; ?> <?php echo number_format($entry['debit'], 2, '.', ','); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>
	<tr>
		<td colspan="5">&nbsp;</td>
		<th class="right"><?php echo number_format($total, 2, '.', ','); ?></th>
	</tr>
</table>