<?php if(isset($this->alertError)){?>
		<script type="text/javascript">
			alert('<?php echo $this->alertError; ?>.');
		</script>
	<?php }?>
	
	<br/>
<?php if(COUNT($this->sdudentresults) > 0) {?>
<fieldset>
<legend><?php echo $this->translate("Academic Result");?></legend>
<br/>
		<table class="table" width="100%" >
			<?php foreach ($this->sdudentresults as $lobjStudentName ): ?>
			<?php endforeach; ?>
				<tr>
					<th colspan ="6"><?php echo $this->translate("Student Details");?></th>
				</tr>
				<tr>
					<td><b><?php echo $this->translate("Student Name");?><b></td>
					<td><?php print_r($this->escape($lobjStudentName['FName'].' '.$lobjStudentName['MName'].' '.$lobjStudentName['LName']));?></td>
					<td><b><?php echo $this->translate("Student/Registration Id");?><b></td>
					<td><?php echo $this->escape($lobjStudentName['registrationId']);?></td>
					<td><b><?php echo $this->translate("Program Name");?><b></td>
					<td><?php echo $this->escape($lobjStudentName['ProgramName']);?></td>
				</tr>	
		</table>
<br/>
		<table class="table" width="100%" >
			<tr>
				<th><?php echo $this->translate("Subject Name");?></th>
				<th><?php echo $this->translate("Subject Code");?></th>
				<th><?php echo $this->translate("Marks Obtained");?></th>
				<th><?php echo $this->translate("Grade Description");?></th>
				<th><?php echo $this->translate("Pass/Fail");?></th>
				<th><?php echo $this->translate("Appeal");?></th>
			</tr>
			<?php foreach ($this->sdudentresults as $lobjStudentResults ): ?>
				<tr>
					<td><?php echo $this->escape($lobjStudentResults['SubjectName']);?></td>
					<td><?php echo $this->escape($lobjStudentResults['SubCode']);?></td>
					<?php if($lobjStudentResults['IdAppeal']) { ?>
						<?php switch($this->markdentrytype) { 
							case 0: ?>
									<?php $lobjmarks= $lobjStudentResults['NewMarks'];?>
									<td><?php echo $this->escape($lobjStudentResults['NewMarks']);?></td>
									<?php break; ?>
							<?php case 1: ?> 
									<?php if($lobjStudentResults['NewMarks'] < $lobjStudentResults['subjectmarks'] || $lobjStudentResults['NewMarks'] < $lobjStudentResults['verifiresubjectmarks']) { ?>
										<?php if(!$lobjStudentResults['idverifier']) { ?>
											<?php if($lobjStudentResults['NewMarks'] < $lobjStudentResults['subjectmarks']) { ?>
												<?php $lobjmarks= $lobjStudentResults['subjectmarks'];?>
												<td><?php echo $this->escape($lobjStudentResults['subjectmarks']);?></td>
											<?php } else { ?>
												<?php $lobjmarks= $lobjStudentResults['NewMarks'];?>
												<td><?php echo $this->escape($lobjStudentResults['NewMarks']);?></td>
											<?php } ?>
										<?php } else {  ?>
											<?php if($lobjStudentResults['NewMarks'] < $lobjStudentResults['verifiresubjectmarks']) { ?>
												<?php $lobjmarks= $lobjStudentResults['verifiresubjectmarks'];?>
												<td><?php echo $this->escape($lobjStudentResults['verifiresubjectmarks']);?></td>
											<?php } else { ?>
												<?php $lobjmarks= $lobjStudentResults['NewMarks'];?>
												<td><?php echo $this->escape($lobjStudentResults['NewMarks']);?></td>
											<?php } ?>
										<?php } ?>	
									<?php } else { ?>
										<?php $lobjmarks= $lobjStudentResults['NewMarks'];?>
										<td><?php echo $this->escape($lobjStudentResults['NewMarks']);?></td>
									<?php } ?>
									<?php break; ?>
							<?php default: ?>
									<?php echo "";?>
						<?php } ?>


						<?php 
	     					$consistantresult = 'SELECT MAX(i.EffectiveDate)  from tbl_gradesetup i where i.MinPoint <= '.$lobjmarks.' AND  i.MaxPoint >= '.$lobjmarks.' AND  i.IdSubject = '.$lobjStudentResults['IdSubject'].' AND  i.IdProgram = '.$lobjStudentResults['IdProgram'].' AND  i.IdSemester = '.$lobjStudentResults['IdSemestersyllabus'].' ';
							$lobjDbAdpt = Zend_Db_Table::getDefaultAdapter();
							$lstrSelect = $lobjDbAdpt->select()
		    	   							->from(array("a" => "tbl_gradesetup"),array("a.*"))
		    	   							->where("a.MinPoint <= ?",$lobjmarks)
		    	   							->where("a.MaxPoint >= ?",$lobjmarks)
		    	   							->where('a.IdSubject = ?',$lobjStudentResults['IdSubject'])
		    	   							->where('a.IdProgram = ?',$lobjStudentResults['IdProgram'])
		    	   							->where('a.IdSemester = ?',$lobjStudentResults['IdSemestersyllabus'])
		    	   							->where("a.EffectiveDate = ?",new Zend_Db_Expr('('.$consistantresult.')'));
							$larrResult = $lobjDbAdpt->fetchRow($lstrSelect);
						?>
						<td><?php echo $larrResult['GradeDesc'];?></td>	
						<?php if($larrResult['Pass'] == 0) { ?>
							<td><?php echo "Fail";?></td>	
						<?php } elseif($larrResult['Pass'] == 1) {?>
							<td><?php echo "Pass";?></td>	
						<?php } ?>	
					<?php } else { ?>
						<?php if($lobjStudentResults['idverifier']) { ?>
							<td><?php echo $this->escape($lobjStudentResults['verifiresubjectmarks']);?></td>
							<?php 
	     						$consistantresult = 'SELECT MAX(i.EffectiveDate)  from tbl_gradesetup i where i.MinPoint <= '.$lobjStudentResults['verifiresubjectmarks'].' AND  i.MaxPoint >= '.$lobjStudentResults['verifiresubjectmarks'].' AND  i.IdSubject = '.$lobjStudentResults['IdSubject'].' AND  i.IdProgram = '.$lobjStudentResults['IdProgram'].' AND  i.IdSemester = '.$lobjStudentResults['IdSemestersyllabus'].' ';
								$lobjDbAdpt = Zend_Db_Table::getDefaultAdapter();
								$lstrSelect = $lobjDbAdpt->select()
		    	   							->from(array("a" => "tbl_gradesetup"),array("a.*"))
		    	   							->where("a.MinPoint <= ?",$lobjStudentResults['verifiresubjectmarks'])
		    	   							->where("a.MaxPoint >= ?",$lobjStudentResults['verifiresubjectmarks'])
		    	   							->where('a.IdSubject = ?',$lobjStudentResults['IdSubject'])
		    	   							->where('a.IdProgram = ?',$lobjStudentResults['IdProgram'])
		    	   							->where('a.IdSemester = ?',$lobjStudentResults['IdSemestersyllabus'])
		    	   							->where("a.EffectiveDate = ?",new Zend_Db_Expr('('.$consistantresult.')'));
								$larrResult = $lobjDbAdpt->fetchRow($lstrSelect);
							?>
							<td><?php echo $larrResult['GradeDesc'];?></td>	
							<?php if($larrResult['Pass'] == 0) { ?>
								<td><?php echo "Fail";?></td>	
							<?php } elseif($larrResult['Pass'] == 1) {?>
								<td><?php echo "Pass";?></td>	
							<?php } ?>		
						<?php } else{ ?>
							
							<td><?php echo $this->escape($lobjStudentResults['subjectmarks']);?></td>
							
							<?php 
							
	     						$consistantresult = 'SELECT MAX(i.EffectiveDate)  from tbl_gradesetup i where i.MinPoint <= '.$lobjStudentResults['subjectmarks'].' AND  i.MaxPoint >= '.$lobjStudentResults['subjectmarks'].' AND  i.IdSubject = '.$lobjStudentResults['IdSubject'].' AND  i.IdProgram = '.$lobjStudentResults['IdProgram'].' AND  i.IdSemester = '.$lobjStudentResults['IdSemestersyllabus'].' ';
	
								$lobjDbAdpt = Zend_Db_Table::getDefaultAdapter();
								$lstrSelect = $lobjDbAdpt->select()
		    	   							->from(array("a" => "tbl_gradesetup"),array("a.*"))
		    	   							->where("a.MinPoint <= ?",$lobjStudentResults['subjectmarks'])
		    	   							->where("a.MaxPoint >= ?",$lobjStudentResults['subjectmarks'])
		    	   							->where('a.IdSubject = ?',$lobjStudentResults['IdSubject'])
		    	   							->where('a.IdProgram = ?',$lobjStudentResults['IdProgram'])
		    	   							->where('a.IdSemester = ?',$lobjStudentResults['IdSemestersyllabus'])
		    	   							->where("a.EffectiveDate = ?",new Zend_Db_Expr('('.$consistantresult.')'));
								$larrResult = $lobjDbAdpt->fetchRow($lstrSelect);
							?>
							<td><?php echo $larrResult['GradeDesc'];?></td>	
							<?php if($larrResult['Pass'] == 0) { ?>
								<td><?php echo "Fail";?></td>	
							<?php } elseif($larrResult['Pass'] == 1) {?>
								<td><?php echo "Pass";?></td>	
							<?php } ?>	
						<?php }?>
					<?php } ?>
										
					<td>
					<a href="<?php echo $this->url(array('controller'=>'studentlogin','action'=>'appeallist' ,'subjid'=>$lobjStudentResults['IdSubject'] , 'subjmarks'=>$lobjStudentResults['subjectmarks'],'subjname'=>$lobjStudentResults['SubjectName'],'registrationId'=>$lobjStudentResults['IdStudentRegistration'],'applicationId'=>$lobjStudentResults['IdApplication'],'programid'=>$lobjStudentResults['IDCourse']),'default',true);?>" >Appeal</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</table>
</fieldset>
<?php } else { ?>
		<table class="table" width="100%">
			<tr >
				<th ><?php echo $this->noresults;?></th>
			</tr>
		</table>	
<?php } ?>