<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template'), 'default', true);?>";
}

function add()
{
	$("#addtag_wrap").toggle();
	return false;
}

function checkform()
{
	var tag_name = $("#tag_name").val();
	if ( tag_name == '' )
	{
		alert('<?php echo $this->translate('Please enter tag name')?>');
		return false;
	}

	var tpl_id = $("#tpl_id").val();
	if (tpl_id == '' || tpl_id == null)
	{
		alert('<?php echo $this->translate('Template cannot be empty')?>');
		return false;
	}

	return true;
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="return add()"><span class='add'></span><?php echo $this->translate('Add')?></a>
			</li>
			<li>							
				<a href="#" onclick="back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div id="addtag_wrap" style="display:none">
	<?php echo $this->form ?>
</div>

<br />

<form method="post">
	<table class="table" width="100%">
		<tr>
			<th width="40%"><?php echo $this->translate('Tag')?></th>
			<th><?php echo $this->translate('Description')?></th>
			<th><?php echo $this->translate('Template')?></th>
		</tr>
		<?php foreach ($this->paginator as $row):  ?>
		<tr>
			<td><a href="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-edittag', 'id' => $row['tag_id']), 'default', true);?>"><?php echo $row['tag_name']?></a></td>
			<td><?php echo $row['tag_value']?></td>
			<td>
				<?php
				$tpls = explode(',',$row['tpl_id']);
				$templates = array();
			
				foreach ( $tpls as $tpl_id )
				{
					$templates[] = $tpl_id == '0' ? $this->translate('All') : $this->templates[$tpl_id]['tpl_name'];
					
				}

				echo implode(', ',$templates);
				?>
			</td>
		</tr>
		<?php endforeach; ?>
	</table>
	<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
	?>
</form>