<script type="text/javascript">

$(function(){

	getActivity();

	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});

function getActivity(){

	var semID = $('#semester_id').val();

	$.ajax({
		url: "<?php echo $this->url(array('module'=>'communication','controller'=>'studentfinance', 'action'=>'get-semester-activity'),'default',true);?>",
		data: {'id':semID},
		type: 'POST',
		dataType: 'json',
		success: function(data){

			$('#activity_id').empty();
			$.each(data, function(index) {

				var activityId = <?php echo isset($this->taginfo['activity_id'])?$this->taginfo['activity_id']:0;?>;
				var selected = '';
				if(activityId == data[index].IdActivity){
					var selected = 'selected="selected"';
				}

				$('#activity_id').append('<option value="'+data[index].IdActivity+' " '+selected+'>'+data[index].ActivityName+'</option>');
			});

		},
		error:function(){
			alert("failure");
		},
		beforeSend: function() {
			showLoading('activity_id');

		},
		complete: function() {
			hideLoading('activity_id');
		}
	});
}

function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-condition'), 'default', true);?>";
}

function checkform()
{
	var tag_name = $("#tag_name").val();
	if ( tag_name == '' )
	{
		alert('<?php echo $this->translate('Please enter tag name')?>');
		return false;
	}

	var tpl_id = $("#tpl_id").val();
	if (tpl_id == '' || tpl_id == null)
	{
		alert('<?php echo $this->translate('Template cannot be empty')?>');
		return false;
	}

	return true;
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div id="edittag_wrap">
	<?php echo $this->form ?>
</div>