<script type="text/javascript">

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});

function getActivity(element){

	var semID = $(element).val();

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'communication','controller'=>'studentfinance', 'action'=>'get-semester-activity'),'default',true);?>",
			data: {'id':semID},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
				$('#activity_id').empty();
				$.each(data, function(index) {

		    		$('#activity_id').append('<option value="'+data[index].IdActivity+'">'+data[index].ActivityName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('activity_id');
		      
			},
			complete: function() {
				hideLoading('activity_id');
			}  	
		});
	}

function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-condition'), 'default', true);?>";
}

function add()
{
	$("#addtag_wrap").toggle();
	return false;
}

function checkform()
{
	var tag_name = $("#tag_name").val();
	if ( tag_name == '' )
	{
		alert('<?php echo $this->translate('Please enter tag name')?>');
		return false;
	}

	var tpl_id = $("#tpl_id").val();
	if (tpl_id == '' || tpl_id == null)
	{
		alert('<?php echo $this->translate('Template cannot be empty')?>');
		return false;
	}

	return true;
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="return add()"><span class='add'></span><?php echo $this->translate('Add')?></a>
			</li>
			<li>							
				<a href="#" onclick="back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div id="addtag_wrap" style="display:none">
	<?php echo $this->form ?>
</div>

<br />

<form method="post">
	<table class="table" width="100%">
		<tr>
			<th><?php echo $this->translate('Template')?></th>
			<th><?php echo $this->translate('Semester')?></th>
			<th><?php echo $this->translate('Activity')?></th>
			<th><?php echo $this->translate('Last Payment Date')?></th>
			<th><?php echo $this->translate('Balance (RM)')?></th>
			<th><?php echo $this->translate('Publish')?></th>
		</tr>
		<?php foreach ($this->paginator as $row):  ?>
		<tr>
			<td><?php echo $row['tpl_name']?></td>
			<td><a href="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'template-editcondition', 'id' => $row['cond_id']), 'default', true);?>"><?php echo $row['SemesterName']?></a></td>
			<td><?php echo $row['ActivityName']?></td>
			<td><?php echo ($row['last_date']!='0000-00-00')?$row['last_date']:'-'?></td>
			<td><?php echo $row['balance']?></td>
			<td><?php echo ($row['publish']==0)?'No':'Yes';?></td>
		</tr>
		<?php endforeach; ?>
	</table>
	<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
	?>
</form>