<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="2"></th>
		<th><?php echo $this->translate("Fee Structure Name")?></th>
		<th><?php echo $this->translate("Programme")?></th>
		<th><?php echo $this->translate("Category")?></th>
		<th><?php echo $this->translate("Intake Start")?></th>
		<th><?php echo $this->translate("Intake End")?></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td> <input type="radio" name="id" value="<?php echo $entry['fs_id']; ?>"></td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-discount', 'action'=>'detail', 'id'=>$entry['fs_id']),'default',true);?>">
				<?php echo $entry['fs_name']; ?>	
			</a>
		</td>
		<td>
			<ul>
			<?php
				$feeStructureProgramDb = new Studentfinance_Model_DbTable_FeeStructureProgram();
				$programmeList = $feeStructureProgramDb->getStructureData($entry['fs_id']);
				if($programmeList){
					foreach ($programmeList as $programe){
						echo "<li>";
						echo $programe['ArabicName'];
						echo "</li>";	
					} 
				}
			?>
			</ul>
		</td>
		<td><?php echo $entry['Description']; ?></td>
		<td><?php echo $entry['s_intake_bahasa']; ?></td>
		<td><?php echo $entry['e_intake_bahasa']; ?></td>
		
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
