<script type="text/javascript">

	$(function() {
		$( "#tabs" ).tabs({
	    	beforeLoad: function( event, ui ) {
	        	ui.jqXHR.error(function() {
	          		ui.panel.html(
	            		"Couldn't load this tab. We'll try to fix this as soon as possible. " +
	            		"If this wouldn't be a demo." );
	        		});
	      	}
	    });
	});

	function del(){

		var id = $('input[name=id]:checked').val();
		
		if(confirm('Are you sure to delete?')){
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-structure', 'action'=>'add'),'default',true);?>";
	}

	function searchbox(){
		$('#div_search').show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div id="div_search" style="display:none;">
	<fieldset>
		<legend>Search</legend>
		<?php echo $this->searchForm; ?>
	</fieldset>
</div>
<small><?php echo $this->translate("Select Fee Structure to view discount setup"); ?></small>

<div id="tabs">
  	<ul>
    	<li><a href="/studentfinance/fee-discount/local"><?php echo $this->translate("Local"); ?></a></li>
    	<li><a href="/studentfinance/fee-discount/foreign"><?php echo $this->translate("Foreigner"); ?></a></li>
	</ul>
</div>