<script type="text/javascript">
$(document).ready(function() {
	$('.editPercent').editable(function(value, settings) { 
	     //console.log(this);
	     //console.log(value);
	     //console.log(settings);
		var rank = $(this).attr('rank');
		var fsi_id = $(this).attr('fsi_id');
		var fdr_id = $(this).attr('fdr_id');

		 saveData(rank, fsi_id, fdr_id, value, null);
		
	     calculatePercentage(this,value);
	     return(value);
	  }, { 
	     type    : 'textarea',
         submit    : 'OK',
	     tooltip : '',
	     indicator : 'Saving...',  
	 });

	 $('.editAmount').editable(function(value, settings) { 
	     //console.log(this);
	     //console.log(value);
	     //console.log(settings);
		var rank = $(this).attr('rank');
		var fsi_id = $(this).attr('fsi_id');
		var fdr_id = $(this).attr('fdr_id');

		 saveData(rank, fsi_id, fdr_id, null, value);
		
		 calculateAmount(this,value);
	     return(value);
	  }, { 
	     type    : 'textarea',
	     submit  : 'Save',
	 });
});

function saveData(rank, fsi_id, fdr_id, percent, amount){
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-discount', 'action'=>'ajax-save-fee-discount-detail'),'default',true);?>",
		data: {'fdr_rank':rank,'fdr_item_id':fsi_id,'fdr_percentage':percent, 'fdr_amount':amount,'fdr_id':fdr_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		if (data.id != '0') {
			window.location = window.location
		}
	});
}

function calculatePercentage(element,value){
	//clear fix amount
	$(element).parent().next().find(".editAmount").html("Click to edit");
	
	var percent = value;
	var value = $(element).parent().next().next().find("input[name='totVal[]']").val();

	var calculatedVal = (value/100)*percent;
	

	$(element).parent().next().next().find(".amount").html(calculatedVal.toFixed(2));
}

function calculateAmount(element,value){
	//clear percentage amount
	$(element).parent().prev().find(".editPercent").html("Click to edit");
	
	var amount = Number(value);

	$(element).parent().next().find(".amount").html(amount.toFixed(2));
}
</script>

<style type="text/css">
.editPercent, .editAmount{
	border: 1px solid #CCC;
	background: none repeat scroll 0 0 #FFFFFF;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-discount', 'action'=>'detail', 'id'=>$this->fee_structure_id),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div width="500px">
	<table class="table2" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="150px"><?php echo $this->translate("Fee Structure Name"); ?></th>
			<td><?php echo $this->fee_structure['fs_name']; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Intake Start"); ?></th>
			<td><?php echo $this->fee_structure['start_date']; ?> (<?php echo $this->fee_structure['start_date']; ?>)</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Intake End"); ?></th>
			<td>
				<?php echo $this->fee_structure['end_date']!=null?$this->fee_structure['end_date']:""; ?>
				<?php echo $this->fee_structure['end_date']!=null?"(".$this->fee_structure['end_date'].")":""; ?>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Category"); ?></th>
			<td><?php echo $this->fee_structure['Description']; ?></td>
		</tr>
	</table>	
</div>

<br />
<h3><?php echo $this->translate("Billing Item"); ?></h3>
<table cellpadding="5" cellspacing="5">
	<tr>
		<th><?php echo $this->translate("Bill Item Name");?></th>
		<th>&nbsp;</th>
		<th><?php echo $this->translate("Total Amount");?></th>
	</tr>
	<?php foreach ($this->feeStructureItemList as $item):?>
	<tr>
		<td><?php echo $item['fi_name']?></td>
		<th>&nbsp; - &nbsp;</th>
		<td><?php echo number_format($item['fsi_amount'], 2, '.', ',')?></td>
	</tr>
	<?php endforeach;?>
</table>


<h3><?php echo $this->translate("Discount"); ?></h3>
<?php 
	/*
	 * Loop discount
	 */
?>
<fieldset>
	<legend><?php echo $this->translate("Discount Billing Item")?></legend>
	
	<table class="table" width="80%">
		<tr>
			<th><?php echo $this->translate("Bill Item");?></th>
			<th><?php echo $this->translate("Calculation Type");?></th>
			<th><?php echo $this->translate("Frequency Mode");?></th>
			<th><?php echo $this->translate("Percent Discount");?></th>
			<th><?php echo $this->translate("Fix Amount to Discount");?></th>
			<th><?php echo $this->translate("Discount Amount");?></th>
		</tr>
		<?php 
			foreach ($this->discount as $item):
		?>
		<tr>
			<td><?php echo $item['fi_name_bahasa']; ?></td>
			<td><?php echo $item['calTypeBahasa']; ?></td>
			<td><?php echo $item['freqModeBahasa']; ?></td>
			<td>
				<!-- 
				<input type="text" name="percentage[]" onchange="calculatePercentage(this)" value="<?php echo $item['fdr_percentage']; ?>" />
				-->
				<div class="editPercent" rank="<?php echo $this->rank_id; ?>" fsi_id="<?php echo $item['fsi_id']; ?>" fdr_id="<?php echo $item['fdr_id']; ?>"><?php echo $item['fdr_percentage']; ?></div>
			</td>
			<td>
				<!-- 
				<input type="text" name="amount[]" onchange="calculateAmount(this);" value="<?php echo $item['fdr_amount']; ?>" />
				-->
				<div class="editAmount" rank="<?php echo $this->rank_id; ?>" fsi_id="<?php echo $item['fsi_id']; ?>" fdr_id="<?php echo $item['fdr_id']; ?>"><?php echo $item['fdr_amount']; ?></div>
			</td>
			<td align="right">
				<input type="hidden" name="totVal[]" value="<?php echo $item['fsi_amount']; ?>" />
				<div class="amount">
				<?php 
					$value = 0;
					
					//percentage
					if($item['fdr_percentage']!=null){
						$value = ($item['fdr_percentage']/100)*$item['fsi_amount'];
					}else//defined amount
					if($item['fdr_amount']!=null){
						$value = $item['fdr_amount'];
					}
					
					echo number_format($value, 2, '.', ',');
				?>
				</div>
			</td>
		</tr>
		<?php 
			endforeach;
		?>
	</table>
</fieldset>
<br />