<script>


$(function () {
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			
			 $(':checkbox').prop('checked', true);
		 }else{
			 // Un-check
			 $(':checkbox').prop('checked', false);
		 }
	 });
});

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want to register?");
		 if(msg){
			$("#registrationForm").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one applicant for registration.");             	
		return false;
	}		
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
	     <li>
	     <?php if($this->status_fail!=1){	?>
				<a href="#" onclick="validate();" >
					<span class='save'></span>
					Save
				</a>
			</li>
		<?php } ?>
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

 <fieldset>
      <legend><?php echo $this->translate("Student Information"); ?></legend>
      <table width="100%" class="table">
       <tr>
	       	<th width="20%"><?php echo $this->translate("Student Name")?></th>
	       	<td width="30%"><?php echo $this->registrationDet[0]['appl_fname'] . " " . $this->registrationDet[0]['appl_mname']; ?></td>
	       	<th width="20%"><?php echo $this->translate("Student ID")?></th>
	       	<td width="30%"><?php echo $this->registrationDet[0]['registrationId']; ?></td>
       </tr>      
       <tr>
	       	<th><?php echo $this->translate("Program")?></th>
	       	<td><?php echo $this->registrationDet[0]['ArabicName']; ?></td>
	        <th><?php echo $this->translate("Scheme")?></th>
	       	<td><?php echo $this->registrationDet[0]['schemeName']; ?></td>
	   </tr>
	    <tr>
	       	<th><?php echo $this->translate("Profile Status")?></th>
	       	<td><?php echo $this->registrationDet[0]['BahasaIndonesia']; ?></td>
	        <th><?php echo $this->translate("Intake")?></th>
	       	<td><?php echo $this->registrationDet[0]['IntakeDesc']; ?></td>
	   </tr>
       <tr>
	       	<th><?php echo $this->translate("Branch")?></th>
	       	<td><?php echo $this->registrationDet[0]['BranchName']; ?></td>
	       	<th><?php echo $this->translate("Outstanding Balance")?></th>
       		<td></td>
       </tr>
       
      </table>
    </fieldset>

<br>

<?php 
if($this->status_fail==1){		
	echo '<div class="message error"><strong>'.$this->message_fail.'</strong></div>';
}else{
?>

<br>

	<fieldset> 
	<legend><?php echo $this->translate("Registration Details"); ?></legend>
    
		<form id="semesterForm" name="semesterForm" method="POST" action="<?php echo $this->url(array('module'=>'registration','controller'=>'seniorstudentregistration', 'action'=>'block-student-registration'),'default',true);?>">
		<input type="hidden" name="Idregistartion" id="Idregistartion" value="<?php echo $this->Idregistartion; ?>" >
			<table class="table" width="50%">				
				<tr>		
					<th width="30%"><?php echo $this->translate("Please select semester"); ?><span class="reqMark"> *</span></th>
					<td>
					<select name="IdSemester" id="IdSemester" onchange="form.submit();">
						<option value=""><?php echo $this->translate("-- Please Select --");?></option>
					    <?php 
					    if(count($this->semester > 0)){
							foreach ($this->semester as $semester){
								
								if($this->idSemester ==  $semester["key"]){							
									$selected = "selected";
								}else{
									$selected = '';
								}
					   	?>
						<option value="<?php echo $semester["key"]?>" <?php echo $selected; ?>><?php echo $semester["value"]?></option>
						<?php } 
					    } ?>
					</select>
					</td>  
				</tr>	
			</table>
		</form>	
	
	   <?php if(isset($this->idSemester)) { ?>	
		<br>
		<form id="registrationForm" name="registrationForm" method="POST" action="<?php echo $this->url(array('module'=>'registration','controller'=>'seniorstudentregistration', 'action'=>'register-block-student'),'default',true);?>">
			<input type="hidden" name="IdStudentRegistration" id="IdStudentRegistration" value="<?php echo $this->Idregistartion; ?>" >
			<input type="hidden" name="IdSemesterDetails" id="IdSemesterDetails" value="<?php echo $this->IdSemesterDetails; ?>" >
			<input type="hidden" name="IdSemesterMain" id="IdSemesterMain" value="<?php echo $this->IdSemesterMain; ?>" >				
			<input type="hidden" name="BlockLevel" id="BlockLevel" value="<?php echo $this->BlockLevel; ?>" >
			  
		    
			  <h2><?php echo $this->translate("List of Courses to be registered"); ?></h2>
		      <table width="100%" class="table">
		        <tr>
		          <th width="10%"><?php echo $this->translate("Block Level"); ?></th>
		          <th width="40%"><?php echo $this->translate("Course Name"); ?></th>
		          <th width="15%"><?php echo $this->translate("Course Code"); ?></th>
		          <th width="15%"><?php echo $this->translate("Course Type"); ?></th> 
		          <th width="5%"><?php echo $this->translate("Credit Hours"); ?></th> 
		          <th width="10%"><?php echo $this->translate("Register");?>? <br>
		          <input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
		       </tr>
		       <?php 
		       if(count($this->courseList)>0){
		       foreach($this->courseList as $course ) { ?>
		       <tr>
		            <td align="center"><?php echo $course["block_level"]; ?></td>
			       	<td><?php echo $course["subjectMainDefaultLanguage"]; ?></td>
			       	<td><?php echo $course["SubCode"]; ?></td>
			       	<td><?php echo $course["DefinitionDesc"]; ?></td>	       
			       	<td  align="center"><?php echo $course["CreditHours"]; ?></td>
			       	<td>
			       		<input type="checkbox" name="subjectId[]" id="subjectId[]" value="<?php echo $course["subjectid"]; ?>">
			       		 <input type="hidden" name="blockid" id="blockid" value="<?php echo $course["blockid"]; ?>" >
			       	</td>
		       </tr>
		       <?php } } ?>	           
		        </table>
		  </form>
	  
	  	<?php } //end display courses 
}//end else  ?>
		
  </fieldset>