
<head>
  <script>
    dojo.addOnLoad(function(){
      dijit.byId('field5').set('value','');
      dijit.byId('field5').set('placeHolder','Select');

      dijit.byId('field1').set('value','');
      dijit.byId('field1').set('placeHolder','Select');

      dijit.byId('field8').set('value','');
      dijit.byId('field8').set('placeHolder','Select');

      dijit.byId('field12').set('value','');
      dijit.byId('field12').set('placeHolder','Select');

      dijit.byId('field27').set('value','');
      dijit.byId('field27').set('placeHolder','Select');
    });
  </script>
</head>
<body class="claro">


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
	     
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br></br>
  <fieldset>
    <legend><?php echo $this->translate("Search Options"); ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/registration/seniorstudentregistration/index/search/1" method="POST">
      <table width="100%">
        <tr>
          <td><?php echo $this->translate("Scheme"); ?></td>
          <td><?php echo $this->lobjform->field5; ?></td>
          <td><?php echo $this->translate("Program"); ?></td>
          <td ><?php echo $this->lobjform->field1; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Intake"); ?></td>
          <td><?php echo $this->lobjform->field8; ?></td>
          <td><?php echo $this->translate("Student"). ' '.$this->translate("ID"); ?></td>
          <td><?php echo $this->lobjform->field2; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Branch"); ?></td>
          <td><?php echo $this->lobjform->field12; ?></td>
          <td><?php echo $this->translate("Student"). ' '.$this->translate("Name"); ?></td>
          <td><?php echo $this->lobjform->field6; ?></td>
        </tr>
        <!--<tr>
          <td><?php echo $this->translate("Semester"); ?></td>
          <td><?php echo $this->lobjform->field27; ?></td>
        <tr>
          --><td align = "center" colspan = "4">
            <?php echo $this->lobjform->Search; ?>
            <?php echo $this->lobjform->Clear; ?>
          </td>
        </tr>
      </table>
    </form>
  </fieldset>
  <br/>
  <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    
        <tr>
          <th><?php echo $this->translate("Student ID"); ?></th>
          <th><?php echo $this->translate("Student Name"); ?></th>
          <th><?php echo $this->translate("Program"); ?></th>
          <th><?php echo $this->translate("Intake"); ?></th>
          <th><?php echo $this->translate("Semester Intake"); ?></th>                   
        </tr>
        
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjstudents): ?>
                <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0", "#FFFFFF"))->next() ?>">                                  
                  <td><a href="<?php echo $this->baseUrl(); ?>/registration/seniorstudentregistration/student-registration/Idregistartion/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->escape($lobjstudents['registrationId']); ?></a></td>
                  <td><?php echo $lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']; ?></td>
                  <td><?php echo '('.$lobjstudents["ProgramCode"].') '.$lobjstudents["ArabicName"];?></td>
                  <td><?php echo $lobjstudents["IntakeDesc"];?></td>                                    
                  <td>
                  <?php 
                  	if($lobjstudents["semestername"]!=''){
                  		echo $lobjstudents["semestername"];
                  	}else{
                  		echo $lobjstudents["mainsemestername"];
                  	}
                  ?>
                  </td>                 
        <?php endforeach; ?>
        <?php endif; ?>
              </tr>
              <tr>
                <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator, 'Sliding',
                        '/partials/my_pagination_control.phtml'); ?></div></td>
      </tr>
    </table>
  </fieldset>
</body>
</html>
