<?php
//echo "<pre>";
//print_r($this->registrationDet);
?>
<script>
  dojo.addOnLoad(function(){
    if(dijit.byId("IdSemester").value!=''){
      //fnGetSeniorStudentcourseDet(dijit.byId("IdSemester").value);
      //getSemesterStatus(dijit.byId("IdSemester").value);
    }
  });

  function getSemesterStatus(IdSemester){
    var IdLandscape = dijit.byId("IdLandscape").value;
    var IdStudentRegistration = dijit.byId("IdStudentRegistration").value;
    var IdProgram = dijit.byId("IdProgram").value;
    $.ajax({
      type: "GET",
      url: '<?php echo $this->url(array('module' => 'registration', 'controller' => 'seniorstudentregistration', 'action' => 'checksemesterregister'), 'default', true); ?>',
      data: "IdSemester=" + IdSemester+"&IdLandscape="+IdLandscape+"&IdStudentRegistration="+IdStudentRegistration+"&IdProgram="+IdProgram, // appears as $_GET['id'] @ ur backend side
      success: function(data) {
          if(data == 0){
            $('#regstatus').html('Unregistered');
            $('#savebtntable').show();
          }else{
              $('#regstatus').html('Registered');
              //$('input[type="submit"]').attr('disabled','disabled');
              //$('#savebtntable').hide();
          }
        //$('#seniorstudentcourse').html(data);
      }
    });
  }


  function fnGetSeniorStudentcourseDet(IdSemester){
    var IdLandscape = dijit.byId("IdLandscape").value;
    var IdStudentRegistration = dijit.byId("IdStudentRegistration").value;
    var IdProgram = dijit.byId("IdProgram").value;
    $.ajax({
      type: "GET",
      url: '<?php echo $this->url(array('module' => 'registration', 'controller' => 'seniorstudentregistration', 'action' => 'seniorstudentcourse'), 'default', true); ?>',
      data: "IdSemester=" + IdSemester+"&IdLandscape="+IdLandscape+"&IdStudentRegistration="+IdStudentRegistration+"&IdProgram="+IdProgram, // appears as $_GET['id'] @ ur backend side
      success: function(data) {
        $('#seniorstudentcourse').html(data);
      }
    });
  }

  function validateform(){
      var flag = true;
      if($('#IdSemester').val() == ''){
          flag = false;
          alert('Semester is mendatory');
      }      
      return flag;
  }
</script>
<body class="claro">  
  <form name ="seniorstudentcourseForm"action="" method="POST">
    <fieldset>
      <legend><?php echo $this->translate("Senior Student Detail"); ?></legend>
      <table width="100%" class="table">
        <tr>
          <td><?php echo $this->translate("Scheme"); ?></td>
          <td><?php echo $this->registrationDet[0]['schemeName']; ?></td>
          <td><?php echo $this->translate("Program"); ?></td>
          <td><?php echo $this->registrationDet[0]['ProgramName']; ?></td>
          <?php echo $this->lobjSeniorstudentregistrationForm->IdLandscape; ?>
          <?php echo $this->lobjSeniorstudentregistrationForm->IdStudentRegistration; ?>
          <?php echo $this->lobjSeniorstudentregistrationForm->IdProgram; ?>
          <?php echo $this->lobjSeniorstudentregistrationForm->UpdUser; ?>
          <?php echo $this->lobjSeniorstudentregistrationForm->UpdDate; ?>
        </tr>
        <tr>
          <td><?php echo $this->translate("Intake"); ?></td>
          <td><?php echo $this->registrationDet[0]['IntakeDesc']; ?></td>
          <td><?php echo $this->translate("Student ID"); ?></td>
          <td><?php echo $this->registrationDet[0]['registrationId']; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Branch"); ?></td>
          <td><?php echo $this->registrationDet[0]['BranchName']; ?></td>
          <td><?php echo $this->translate("Student Name"); ?></td>
          <td><?php echo $this->registrationDet[0]['FName'] . " " . $this->registrationDet[0]['LName']; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Semester"); ?></td>
          <td><?php echo $this->lobjSeniorstudentregistrationForm->IdSemester; ?></td>
          <td><?php echo $this->translate("Profile Status"); ?></td>
          <td><?php echo $this->registrationDet[0]['DefinitionDesc']; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Semester Status"); ?></td>
          <td><?php echo $this->semstatus ;?><input type="hidden" value="<?php echo $this->registered;?>" id="isregister" name="isregister"></td>
          <td><?php echo $this->translate("Release Status"); ?></td>
          <td><?php echo $this->releasestatus; ?></td>
        </tr>
        <tr>
          <td><?php echo $this->translate("Outstanding Bal"); ?></td>
          <td colspan="3"></td>
        </tr>
      </table>
    </fieldset>
    </br>
    <fieldset>
      <legend><?php echo $this->translate("Course Registration Detail"); ?></legend>
      <!--<div id="seniorstudentcourse"></div>-->
      <table width="100%" class="table">
        <tr>
          <th><?php echo $this->translate("Course"); ?></th>
          <th><?php echo $this->translate("Course Code"); ?></th>
          <th><?php echo $this->translate("Credit Hours"); ?></th>
          <th><?php echo $this->translate("Registered By"); ?></th>
          <th><?php echo $this->translate("Registered Date"); ?></th>
          <th><?php echo $this->translate("Register"); ?></th>
        </tr>
        <?php foreach ($this->courseList as $course) {
        ?>
            <tr>
              <td><?php echo $course['SubjectName']; ?></td>
              <td><?php echo $course['SubCode']; ?></td>
              <td><?php echo $course['CreditHours']; ?></td>
              <td><?php echo $course['loginName']; ?></td>
              <td><?php echo $course['UpdDate']; ?></td>
              <?php if($course['alreg'] == 1){?>
              <td><input type="checkbox" name="coursechk[]" checked="checked" disabled="disabled" id="coursechk_<?php echo $this->escape($course['IdSubject']); ?>" value="<?php echo $this->escape($course['IdSubject']); ?>" ></td>
              <?php }else{ ?>
              <td><input type="checkbox" name="coursechk[]" id="coursechk_<?php echo $this->escape($course['IdSubject']); ?>" value="<?php echo $this->escape($course['IdSubject']); ?>" ></td>
              <?php } ?>
            </tr>
        <?php } ?>
            <?php if($this->regbuttonflg == 1){?>
            <tr><td style="text-align:right" colspan="6"><?php echo $this->lobjSeniorstudentregistrationForm->Save; ?></td></tr>
            <?php } ?>
            <tr>
				<td align="right" colspan="6">
	         		 <input type='button' class="NormalBtn"
	                 dojotype="dijit.form.Button"
	                 label="<?php echo $this->translate('Back') ?>" value='click'
	                 onclick="window.location.href='<?php echo $this->url(array('module' => 'registration', 'controller' => 'seniorstudentregistration', 'action' => 'index'), 'default', true); ?>';" />
       		  </td>
			</tr>
        </table>
        <!--<table id="savebtntable" class="table" width="100%" style="display:block">
          <tr><td style="text-align:right"><?php echo $this->lobjSeniorstudentregistrationForm->Save; ?></td></tr>
      </table>-->
    </fieldset>
  </form>
</body>