
<table width="100%" class="table">
  <tr>
    <th><?php echo $this->translate("Course"); ?></th>
    <th><?php echo $this->translate("Course Code"); ?></th>
    <th><?php echo $this->translate("Credit Hours"); ?></th>
    <th><?php echo $this->translate("Registered By"); ?></th>
    <th><?php echo $this->translate("Registered Date"); ?></th>
    <th><?php echo $this->translate("Register"); ?></th>
  </tr>
  <?php foreach ($this->courseList as $course) {
 ?>
    <tr>
      <td><?php echo $course['SubjectName']; ?></td>
      <td><?php echo $course['SubCode']; ?></td>
      <td><?php echo $course['CreditHours']; ?></td>
      <td><?php echo $course['loginName']; ?></td>
      <td><?php echo $course['UpdDate']; ?></td>
      <td><input type="checkbox" name="coursechk[]" id="coursechk_<?php echo $this->escape($course['IdSubject']); ?>" value="<?php echo $this->escape($course['IdSubject']); ?>" ></td>
    </tr>
<?php } ?>
</table>
