<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate($this->Landscape);?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			  <tr>
	        	<th colspan = "2"><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>

	    	</tr>
	    	<tr>
	    		<td colspan = "2"><?php echo $this->program;?></td>
	    	
	    	</tr>
	    	<tr>
	        	<th><?php echo $this->translate($this->Landscape).' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Active");?></th>
	    	</tr>
	        <?php if (count($this->paginator)):?>
	        <?php foreach ($this->paginator as $lobjlandscape): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/generalsetup/landscape/editlandscapelist/idlandscape/<?php echo $this->escape($lobjlandscape['IdLandscape']);?>/id/<?php echo $this->IdProgram;?>" ><?php print_r($this->escape($lobjlandscape['DefinitionDesc']));?></a></td>
	        	<td><?php   if($lobjlandscape['Active'] == 1 ) echo "Active"; 
	        				else echo "Inactive";?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
			
		</table>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				 <td>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape', 'action'=>'editlandscape','id' => $this->id),'default',true);?>';" />
				</td>
				<td align = "right">
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'landscape', 'action'=>'index'),'default',true);?>';" />
				</td>
			
			</tr>
		</table>
	</fieldset>
</body>
</html>
