<head>
<script>
dojo.addOnLoad(function(){
	<?php if(!$this->larrresult){?>
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('AcademicStatus').set('value','');
	dijit.byId('AcademicStatus').set('placeHolder','Select');
	<?php }?>
	});
</script>
</head>
<fieldset>
	<legend>
		<?php echo $this->translate("Subject Registration Policy Search");?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/examination/subjectregistration/index/search/1"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate($this->Program).' '.$this->translate("Name");?>
				</td>
				<td><?php echo $this->lobjform->field5;?></td>
				<td><?php echo $this->translate("Bahasa Indonesia");?></td>
				<td><?php echo $this->lobjform->field2;?></td>
			</tr>
			</tr>
			<td><?php echo $this->translate("Active");?></td>
			<td><?php echo $this->lobjform->field7;?></td>
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?>
			</th>
			<th><?php echo $this->translate("Arabic Name");?></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjprogram ): ?>
		<tr>
			<td><a
				href="<?php echo $this->baseUrl();?>/examination/subjectregistration/newsubjectregistration/id/<?php echo $this->escape($lobjprogram['IdProgram']);?>/name/<?php echo $this->escape($lobjprogram['ProgramName']);?>"><?php print_r($this->escape($lobjprogram['ProgramName']));?>
			</a></td>
			<td><?php echo $this->escape($lobjprogram['ArabicName']);?></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
</fieldset>
