<fieldset>
	<legend><?php echo $this->translate("Item Group");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/itemgroup/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
				<tr>
					<td><?php echo $this->translate("Account Group");?></td>
					<td><?php echo $this->lobjform->field5;?></td>
					<td><?php echo $this->translate("Item Short Name");?></td>
					<td><?php echo $this->lobjform->field8;?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Item Code");?></td>
					<td><?php echo $this->lobjform->field1;?></td>
					<td><?php echo $this->translate("Bank Name");?></td>
					<td><?php echo $this->lobjform->field19;?></td>
				</tr>
				  <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
				 <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'itemgroup', 'action'=>'newitemgroup'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	
	    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
          	<tr>
	        	<th><?php echo $this->translate("Item Name");?></th>
	       	    <th><?php echo $this->translate("Item Code");?></th>
	        	<th><?php echo $this->translate("Item Short Name");?></th>
	        	<th><?php echo $this->translate("Bank Names");?></th>
	    	</tr>
	               <?php if (count($this->paginator)): ?>
                   <?php foreach ($this->paginator as $arritemgroup ): ?>
            <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		       <td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'itemgroup', 'action'=>'edititemgroup' , 'id'=>$arritemgroup['IdItem']),'default',true);?>" ><?php echo($this->escape($arritemgroup['EnglishDescription']));?></a></td> 
    	       <td><?php echo $this->escape($arritemgroup['ItemCode']);?></td>
    	       <td><?php echo $this->escape($arritemgroup['ShortName']);?></td>
    	       <td><?php echo $this->escape($arritemgroup['BankName']);?></td>
    	           <?php endforeach; ?>
                   <?php endif; ?>
           </tr>
           <tr>
	           <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
           </tr>	
		</table>
	</fieldset>
	
