<head>
<script type="text/javascript">
var rowid = 1;
dojo.addOnLoad(function(){
	dijit.byId('IdBank').set('value','');
	dijit.byId('IdBank').set('placeHolder','Select');
	
	dijit.byId('IdAccountGroup').set('value','');
	dijit.byId('IdAccountGroup').set('placeHolder','Select');
});

function fnGetAccountType(value){


	if(value != "" && value != undefined)
	{ 		
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/studentfinance/itemgroup/getaccounttype/idBank/"+value,
			handleAs:'json',
			load:function(data){ 								
				AutoFillNextEditableDropDown('IdAccount',data);  
			}
	   }
		dojo.xhrGet(xhrArgs); 
	} 
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Item Group");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/itemgroup/newitemgroup" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                <table  align="center" class="table" width="100%">
	    		<tr>
                      <th colspan = "4"><?php echo $this->translate->_("Item Group Details")?></th>                       
                </tr>
	    		<tr>
         			<td class="label"><?php echo $this->translate->_("Item Name English")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjItemgroupForm->EnglishDescription;?>
        			<td class="label"><?php echo $this->translate->_("Item Name Bahasa")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjItemgroupForm->BahasaDescription;?></td>  
        			<?php echo $this->lobjItemgroupForm->UpdDate;?>
        			<?php echo $this->lobjItemgroupForm->UpdUser;?></td>	        	
      			</tr>
      			<tr>
	      			<td class="label"><?php echo $this->translate->_("Item Code")?><span class="reqMark">*</span></td>
	        		<td><?php echo $this->lobjItemgroupForm->ItemCode;?>
	        		<td class="label"><?php echo $this->translate->_("Alias")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjItemgroupForm->Alias;?></td> 
      			</tr>
        		 <tr>      
        		 	<td class="label"><?php echo $this->translate->_("Short Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjItemgroupForm->ShortName;?></td>    			 		
        			<td class="label"><?php echo $this->translate->_("Bank Name")?><!-- <span class="reqMark">*</span> --></td>
        			<td><?php echo $this->lobjItemgroupForm->IdBank;?></td>   
        		</tr>
        	   <tr>
        	   		<td class="label"><?php echo $this->translate->_("Account Number")?><!-- <span class="reqMark">*</span> --></td>
        			<td><?php echo $this->lobjItemgroupForm->IdAccount;?></td>
        			<td class="label"><?php echo $this->translate->_("Account Group")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjItemgroupForm->IdAccountGroup;?></td>
        		</tr> 
        		<tr>  
			        <td class="label"><?php echo $this->translate->_("Active")?><span class="reqMark"></span></td>
        			<td><?php echo $this->lobjItemgroupForm->Active?></td>	
        			</tr>   			       		      		
		      	 <tr>
		      		  <td align = "right" colspan="4">
                    		<?php echo $this->lobjItemgroupForm->Save;?>							
                            	<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'itemgroup', 'action'=>'index'),'default',true);?>';" />	
                      </td>	
               </tr>
              </table>            
            </Form>
</fieldset>