
<script type="text/javascript">
dojo.addOnLoad(function(){

	var form = dijit.byId("myForm");
	var value=form.attr('value').DepartmentType;
	
});
function fnToggleCollegeDetails(value){
	if(value != "")
	{ 
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/generalsetup/departmentmaster/getcolgbranchlist/value/"+value,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("IdCollege",data); 
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
}
function fnGetStaffList(IdStaff){ 
	if(IdStaff != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+IdStaff,
					handleAs:'json',
					load:function(data){ 
						dijit.byId('FromDate').set('value',data['JoiningDate']);
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

$(function() {
    $( "#tabs" ).tabs();   

    var iddepartment = '<?php echo $this->iddepartment ?>';
    
    url2="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'department-address'),'default',true);?>/id/"+iddepartment;
	 $( "#tab2" ).load( url2 );

	 url3="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'view-history'),'default',true);?>/id/"+iddepartment;
	 $( "#tab3" ).load( url3 );

	 setTimeout(function() {
      if (location.hash) {
        window.scrollTo(0, 0);
      }
    }, 1);
 });

function validateForm(){
	var flag=true;

	if(dijit.byId("DepartmentName").value==''){
	    dijit.byId("DepartmentName").attr('required','true');
		dijit.byId("DepartmentName").focus();
		flag = false;
	}

	if(dijit.byId("DeptCode").value==''){
	    dijit.byId("DeptCode").attr('required','true');
		dijit.byId("DeptCode").focus();
		flag = false;
	}

	if(dijit.byId("IdCollege").value==''){
	    dijit.byId("IdCollege").attr('required','true');
		dijit.byId("IdCollege").focus();
		flag = false;
	}

	if(dijit.byId("IdStaff").value==''){
	    dijit.byId("IdStaff").attr('required','true');
		dijit.byId("IdStaff").focus();
		flag = false;
	}

	if(dijit.byId("FromDate").value==''){
	    dijit.byId("FromDate").attr('required','true');
		dijit.byId("FromDate").focus();
		flag = false;
	}
	
	return flag;
}
</script> 
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster', 'action'=>'index'),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br></br>

<div id="tabs">
  <ul>
    <li><a href="#tab1"><?php echo $this->translate('Unit Details')?></a></li>
    <li><a href="#tab2"><?php echo $this->translate('Unit Address')?></a></li>  
    <li><a href="#tab3"><?php echo $this->translate('Historical Records')?></a></li>   
  </ul>
  
  <div id="tab1">
  
 
  <form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/departmentmaster/departmentmasterlist/id/<?php echo $this->iddepartment; ?>" method="post"  name= "myForm">
		<script type="dojo/method" event="onSubmit">
		if (validateForm() === false)
		{
			return false;
		}
		if (this.validate()) {
			return true;
		} else {
			return false;
		}
		</script>
			<table class="table" width="100%" >
				<tr>
					<th colspan = "4"><?php echo $this->translate("Unit Details");?></th>
				</tr>
				<tr>
					<td ><?php echo $this->translate("Unit Name");?><span class="reqMark">*</span></td>
					<td ><?php echo $this->lobjdepartmentmasterForm->DepartmentName;?>
					<td><?php echo $this->translate($this->defaultlanguage);?></td>
					<td><?php echo $this->lobjdepartmentmasterForm->ArabicName;?></td>
					 <?php echo $this->lobjdepartmentmasterForm->IdDepartment;?>
					<?php echo $this->lobjdepartmentmasterForm->UpdDate;?>
					<?php echo $this->lobjdepartmentmasterForm->UpdUser;?></td>
				</tr>
				<tr> 
					<td><?php echo $this->translate("Unit Code");?><span class="reqMark">*</span></td>
					<td><?php echo $this->lobjdepartmentmasterForm->DeptCode;?></td>
					<td ><span id="label1"><?php echo $this->translate("Department");?></span><span class="reqMark">*</span></td>
					<td ><?php echo $this->lobjdepartmentmasterForm->IdCollege;?></td>
				</tr>
				 <tr> 
					 <td><?php echo $this->translate('Start Date');?></td>
					 <td ><?php echo $this->lobjdepartmentmasterForm->StartDate;?></td>
					 <td><?php echo $this->translate('End Date');?></td>
					 <td ><?php echo $this->lobjdepartmentmasterForm->EndDate;?></td>
				</tr> 
				 <tr> 
					<td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
					<td><?php echo $this->lobjdepartmentmasterForm->Active;?></td>
					<td colspan="2"></td>
				</tr>
				
				 <tr>
				  <th colspan = "4"><?php echo $this->translate('Head').' '.$this->translate("of").' '.$this->translate("Unit").' '.$this->translate("Details");?></th>
				</tr>
				 <tr>
					<td><?php echo $this->translate('Head').' '.$this->translate("of").' '.$this->translate("Unit");?><span class="reqMark">*</span></td>
					<td><?php echo $this->lobjdepartmentmasterForm->IdStaff;?></td>
					<td><?php echo $this->translate("Joining Date");?><span class="reqMark">*</span></td>
					<td><?php echo $this->lobjdepartmentmasterForm->FromDate;?><?php echo $this->lobjdepartmentmasterForm->ToDate;?></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjdepartmentmasterForm->Save ?>
					</td>
				</tr>
			  
	  </table>
	
	</form>
 </div>
 <!-- end div 1 -->
 
 
 
 <!-- start div 2 -->
 <div id='tab2'> 	
 </div>
 <!-- end div 2 -->
 
  <div id="tab3">  	
  </div>
 
</div>
<br></br>

