
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');	
	});

function del(id){
	msg = confirm('<?php echo $this->translate("Are you sure you want to delete this unit?");?>');
	if(msg){
		window.location="<?php echo $this->baseUrl();?>/generalsetup/departmentmaster/delete-department/id/"+id;
	}
}
</script>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university','action'=>'index'),'default',true);?>"><?php echo $this->translate("University"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Department"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Unit"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'index','idbrc'=>1),'default',true);?>"><?php echo $this->translate("Branch"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'index'),'default',true);?>"><?php echo $this->translate("Partner"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>
<br></br>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster', 'action'=>'newdepartmentmaster'),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>
	<fieldset>
		<legend><?php echo $this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/generalsetup/departmentmaster/index/search/1" method="POST">
             <dl class="zend_form">
            <dt><?php echo $this->translate("Unit Name");?></dt>
            <dd><?php echo $this->lobjform->field2;?></dd>
            <dt><?php echo $this->translate("Unit Code");?></dt>
            <dd><?php echo $this->lobjform->field3;?></dd>
            <dt><?php echo $this->translate("Unit").'/'.$this->translate("Branch");?></dt>
            <dd><?php echo $this->lobjform->field5;?></dd>
            <dt><?php echo $this->defaultlanguage;?></dt>
            <dd><?php echo $this->lobjform->field18;?></dd>
            <dt><?php echo $this->translate("Active");?></dt>
            <dd><?php echo $this->lobjform->field7;?></dd>
            <dd>
            <?php echo $this->lobjform->Search;?>							
            <?php echo $this->lobjform->Clear;?>
            </dd>
             </dl>
        </form>	
    </fieldset> 
    <br/>
<h3><?php echo $this->translate('Unit List') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	
		<tr>
			<th><?php echo $this->translate("Unit Name");?></th>
			<th><?php echo $this->defaultlanguage;?></th>
			<th><?php echo $this->translate("Unit Code");?></th>
			<th><?php echo $this->translate("Department"); ?> <?php echo $this->translate("Name");?></th>
			<!--<th><?php echo $this->translate("Action");?></th>-->
			<th></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjdepartment ): ?>
		<tr>
			<td><?php print_r($this->escape($lobjdepartment['DepartmentName']));?></td>
			<td><?php echo $this->escape($lobjdepartment['ArabicName']);?></td>
			<td align="center"><?php echo $this->escape($lobjdepartment['DeptCode']);?></td>
			<td><?php echo $this->escape($lobjdepartment['CollegeName']);?></td>
			<td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster', 'action'=>'departmentmasterlist' , 'id'=>$lobjdepartment['IdDepartment']),'default',true);?>" >Edit</a></td>
			<!--<td><a href="#" onclick="del('<?php echo $lobjdepartment['IdDepartment']?>')"><?php echo $this->translate("Delete");?></a></td>
				-->
		</tr>
		<?php endforeach; ?>
		<?php endif; ?>
	<tr>
		<td colspan="8" align="right">
			<div class="pagination">
				<?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
				<?php
				echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
				?>
			</div>
		</td>
	</tr>

	</table>
