<script type="text/javascript">
	function search_subject(){
		
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(semester_id!=0 && faculty_id!=0){
			$.ajax({
				url: "/examination/class-attendance/search-course",
			    type: "post",
			    async : false,
			    data: {'semester_id':semester_id, 'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#subject').empty();
					$('#subject').append('<option value="">Please Select</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#subject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('subject','subject','loading');

			        $(table).empty();
				},
				complete: function() {
					hideLoading('loading','subject');
				}   
			});
		}
	}

	function search_group(){
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var course_id = $('#subject').val();

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/examination/class-attendance/search-course-group",
		      type: "post",
		      async : false,
		      data: {'semester_id':semester_id, 'faculty_id':faculty_id, 'subject_id':course_id},
		      dataType: 'json',
		      beforeSend: function (){
		    	  $(table).html('<tr><td colspan="6">Loading...</td></tr>');
		      },
		      success: function(data){
		    	  $(table).empty();
		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td align='center'>"+data[i].GroupName+"</a></td>"+
				          				"<td align='center'>"+data[i].GroupCode+"</a></td>"+
				          				"<td>"+data[i].semester_name+"</td>"+
				          				"<td>"+data[i].FullName+"</td>"+
				          				"<td align='center'>"+data[i].total_student+"</td>"+
				          				"<td align='center'> <a href='#' onclick=\"view_student_att("+data[i].IdCourseTaggingGroup+");\">View List</a> </td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = '<tr><td colspan="6"> No Search Result </td></tr>';
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		    	  $(table).empty();
		          alert("failure");
		      }   
		});
	}

	function showLoading(target,target_div,loading_id){
		$('#'+target).hide();
		$('#'+target_div).after("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
	}

	function hideLoading(loading_id,target){
		$('#'+loading_id).remove();
		$('#'+target).show();
	}

	function view_student_att(group_id){
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var course_id = $('#subject').val();

		window.location = "/examination/class-attendance/student-attendance/group/"+group_id+"/sem/"+semester_id;

		return false;
	}

	function view_lecturer_att(group_id){
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var course_id = $('#subject').val();

		window.location = "/examination/class-attendance/lecturer-attendance/group/"+group_id;

		return false;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<form action="" method="post" >
	<dl class="zend_form">
	
		<dt id="IdSemester-label">
			<label class="required" for="IdSemester"><?php echo $this->translate("Semester"); ?></label>
		</dt>
		<dd id="IdSemester-element">
			<select id="IdSemester" name="IdSemester" onchange="search_subject();">
			    <option value="0"><?php echo $this->translate("Please Select");?></option>
			    <?php 
			    	foreach ($this->semester_list as $semester):
			    ?>
			    		<option value="<?php echo $semester["key"];?>"><?php echo $semester["value"];?></option>
			    <?php 
			    	endforeach;
			    ?>
			</select>
		</dd>
		
		<dt id="IdCollege-label">
			<label class="required" for="IdCollege"><?php echo $this->translate("Faculty"); ?></label>
		</dt>
		<dd id="IdCollege-element">
			<select id="IdCollege" name="IdCollege" onchange="search_subject();">
			    <option value="0"><?php echo $this->translate("Please Select");?></option>
			    <?php 
			    	foreach ($this->college_list as $college):
			    		$select ='';
			    		if( isset($this->default_faculty) && $this->default_faculty== $college["IdCollege"] ){
							$select = 'selected="selected"';
						}
			    ?>
			    		<option value="<?php echo $college["IdCollege"];?>" <?php echo $select; ?>><?php echo $college["CollegeCode"].' - '.$college["ArabicName"];?></option>
			    <?php 
			    	endforeach;
			    ?>
			</select>
		</dd>
		
		<dt id="SubjectName-label">
			<label class="optional" for="SubjectName"><?php echo $this->translate("Subject");?></label>
		</dt>
		<dd id="SubjectName-element">
			<select name="subject" id="subject"  onchange="search_group();">
				
			</select>
		</dd>
				
	</dl>
</form>

<table class="table" id="result" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Group Name"); ?></th>
			<th><?php echo $this->translate("Group Code"); ?></th>
			<th><?php echo $this->translate("Semester"); ?></th>
			<th><?php echo $this->translate("Coordinator"); ?></th>
			<th><?php echo $this->translate("Total Student"); ?></th>
			<th><?php echo $this->translate("Attendance"); ?></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>