<?php 
	$attDtlDb = new Examination_Model_DbTable_CourseGroupStudentAttendanceDetail();
?>
<script>
function reportAttendancePdf(){
	window.open(
			'/examination/class-attendance/student-attendance-group-report-pdf/group/<?php echo $this->group['IdCourseTaggingGroup']?>',
			  '_blank' // <- This is what makes it open in a new window.
			);
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="reportAttendancePdf();" >
					<span class='pdf'></span>
					Export PDF
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'class-attendance','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<fieldset>
		<legend><?php echo $this->translate("Group Info");?></legend>
		
		<div style="float:left; width:49%; margin: 0 1% 0 0;">
			<table>
				<tr>
					<td><?php echo $this->translate("Subject"); ?></td>
					<td>:</td>
					<td><?php echo $this->subject['subjectMainDefaultLanguage'];?> - <?php echo $this->subject['SubCode'];?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("GroupName"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("GroupCode"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupCode']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Coordinator"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['FullName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Semester"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['semester_name']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Total Student"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['total_student']; ?></td>
				</tr>
			</table>
		</div>
		
		<div style="float:left; width:49%;">
			
			<table class="table2" width="100%" cellpadding="10" cellspacing="2">
				<tr>
					<th colspan="5"><?php echo $this->translate("Schedule");?></th>
				</tr>
				<tr>
					<th><?php echo $this->translate('Lecturer');?></th>
					<th><?php echo $this->translate('Day');?></th>
					<th><?php echo $this->translate('Time');?></th>
					<th><?php echo $this->translate('Venue');?></th>
					<th><?php echo $this->translate('Class Code');?></th>
				</tr>
				<?php foreach ($this->schedule as $schedule){?>
				<tr>
					<td><?php echo $schedule['FullName']!=""?$schedule['FullName']:$this->group['FullName']; ?></td>
					<td><?php echo $schedule['sc_day']; ?></td>
					<td><?php echo $schedule['sc_start_time']; ?> - <?php echo $schedule['sc_end_time']; ?></td>
					<td><?php echo $schedule['sc_venue']; ?></td>
					<td><?php echo $schedule['sc_class']; ?></td>
				</tr>
				<?php }?>
			</table>
		</div>
</fieldset>
<br />
<table width="100%" class="table">
	<thead>
		<tr>
			<th rowspan="2"><?php echo $this->translate('Bil');?></th>
			<th rowspan="2"><?php echo $this->translate('Student Name');?></th>
			<th rowspan="2"><?php echo $this->translate('NIM');?></th>
			<th rowspan="2" style="text-align:center;"><?php echo $this->translate('Total Session');?></th>
			<th colspan="<?php echo sizeof($this->attendanceStatusList);?>" style="text-align:center;"><?php echo $this->translate('Attendance Status');?></th>
			<th rowspan="2"><?php echo $this->translate('% Attend');?></th>
		</tr>
		<tr width="50%">
			<?php 
				$arr_status_count = array();
				foreach ($this->attendanceStatusList as $status):
					$arr_status_count[$status['idDefinition']] = 0;
			?>
			<th style="text-align:center;" width="<?php echo 50/sizeof($this->attendanceStatusList);?>%">
				<?php echo $status['BahasaIndonesia'];?>
			</th>
			<?php endforeach;?>
		</tr>
	</thead>
	<tbody>
	<?php
	$total_session_cnt = 0;
	$bil=1;
	if($this->studentList){
		foreach ($this->studentList as $student):
		$ses_count = 0;
	?>
	<tr <?php echo $bil%2==0?"class='shade'":"";?>>
		<td><?php echo $bil;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":""; ?> 
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":""; ?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']:""; ?>
		</td>
		<td>
			<?php echo $student['registrationId'];?>
		</td>
		<td style="text-align:center;">
			<?php 
				echo $ses_count = $attDtlDb->getAttendanceSessionCount($this->group_id, $student['IdStudent']); 
				$total_session_cnt += $ses_count;
			?>
		</td>
		<?php
			$cnt_attend = 0;
			foreach ($this->attendanceStatusList as $index => $status):
				
				$count = $attDtlDb->getAttendanceStatusCount($this->group_id, $student['IdStudent'], $status['idDefinition']);
				
				$arr_status_count[$status['idDefinition']] += $count;
				
				if($index==0){
					$cnt_attend += $count;
				}
		?>
		<td style="text-align:center;">
			<?php echo $count; ?>
		</td>
		<?php endforeach;?>
		<td  style="text-align:center;">
		<?php
			if($ses_count>0){ 
				echo round(($cnt_attend / $ses_count) * 100, 2)."%";
			}else{
				echo "-";
			}
		?>
		</td>
	</tr>
	<?php
		$bil++; 
		endforeach;
	}
	?>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4">
				<?php echo $this->translate('Percentage Attendance of group by Status');?>
			</th>
			<?php foreach ($this->attendanceStatusList as $status):?>
			<th style="text-align:center;">
				<?php
					$percentage =  ($arr_status_count[$status['idDefinition']] / $total_session_cnt )*100;
					echo round($percentage, 2)
				?>%
			</th>
			<?php endforeach;?>
			<th>&nbsp;</th>
		</tr>
	</tfoot>
</table>
<br />