<?php 
	$attDtlDb = new Examination_Model_DbTable_CourseGroupStudentAttendanceDetail();
?>
<style>
select{
	width: 150px;
}
</style>
<script type="text/javascript">
$(function() {
    $( ".datepicker" ).datepicker({
        'dateFormat' : 'dd-mm-yy'
    });
});
  
function addAttendance(){
	window.location = '/examination/class-attendance/student-attendance-add';

	return false;
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'class-attendance','action'=>'student-attendance', 'group'=>$this->group['IdCourseTaggingGroup']),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
		<legend><?php echo $this->translate("Group Info");?></legend>
		
		<div style="float:left; width:33%; margin: 0 1% 0 0;">
			<table>
				<tr>
					<td><?php echo $this->translate("Subject"); ?></td>
					<td>:</td>
					<td><?php echo $this->subject['subjectMainDefaultLanguage'];?> - <?php echo $this->subject['SubCode'];?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("GroupName"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("GroupCode"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupCode']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Coordinator"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['FullName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Semester"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['semester_name']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Total Student"); ?></td>
					<td>:</td>
					<td><?php echo $this->att_data['total_registered_student']; ?></td>
				</tr>
			</table>
		</div>
		
		<div style="float:left; width:33%;">
			<table>
				<tr>
					<td><?php echo $this->translate("Schedule");?></td>
					<td>:</td>
					<td>
						<select name="schedule_id" disabled="disabled">
							<option><?php echo $this->translate('Please Select');?></option>
						<?php 
							foreach ($this->schedule as $schedule):
							$select ="";
							if($this->att_data['group_schedule_id']==$schedule['sc_id']){
								$select="selected='selected'";
							}
						?>
							<option value="<?php echo $schedule['sc_id'];?>" <?php echo $select; ?>><?php echo $schedule['sc_day'];?> :: <?php echo $schedule['sc_start_time'];?> - <?php echo $schedule['sc_end_time'];?> (<?php echo $schedule['sc_venue'];?>)</option>
						<?php endforeach;?>
						</select>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Lecturer");?></td>
					<td>:</td>
					<td>
						<select name="lecturer_id" id="lecturer" disabled="disabled">
						<option><?php echo $this->translate('Please Select');?></option>
						<?php 
							foreach ($this->academic_staff as $staff):
								$select ="";
								if( $staff['IdStaff']==$this->att_data['lecturer_id']){
									$select = 'selected="selected"';
								}
						?>
						<option value="<?php echo $staff['IdStaff'];?>" <?php echo $select;?> ><?php echo $staff['FullName'];?></option>
						<?php endforeach;?>
						</select>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Date");?></td>
					<td>:</td>
					<td>
						<?php echo date('d/m/Y', strtotime($this->att_data['class_date'])); ?>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Time");?></td>
					<td>:</td>
					<td>
						<?php echo $this->att_data['class_time_start']; ?> - <?php echo $this->att_data['class_time_end']; ?> 
					</td>
				</tr>
				<tr>
					<td valign="top"><?php echo $this->translate("Remarks");?></td>
					<td valign="top">:</td>
					<td valign="top">
						<?php echo $this->att_data['remark']; ?>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="float:left; width:33%;">
			<table>
				<tr>
					<td valign="top"><?php echo $this->translate("Lecturer Activity");?></td>
					<td valign="top">:</td>
					<td valign="top">
						<?php echo $this->att_data['lecturer_activity']; ?>
					</td>
				</tr>
				<tr>
					<td valign="top"><?php echo $this->translate("Student Assignment");?></td>
					<td valign="top">:</td>
					<td valign="top">
						<?php echo $this->att_data['student_assignment']; ?>
					</td>
				</tr>
				<tr>
					<td valign="top"><?php echo $this->translate("Evaluation");?></td>
					<td valign="top">:</td>
					<td valign="top">
						<?php echo $this->att_data['evaluation']; ?>
					</td>
				</tr>
			</table>
		</div>
		
</fieldset>

<br />

<table class="table" width="100%">
	<tr>
		<th rowspan="2">&nbsp;</th>
		<th rowspan="2"><?php echo $this->translate("Name");?></th>
		<th rowspan="2"><?php echo $this->translate("NIM");?></th>
		<th rowspan="2"><?php echo $this->translate("Total Session");?></th>
		<th colspan="<?php echo sizeof($this->attendanceStatusList);?>" style="text-align:center;"><?php echo $this->translate('Attendance Status');?></th>
		<th rowspan="2"><?php echo $this->translate("Status");?></th>
	</tr>
	<tr>
		<?php 
			foreach ($this->attendanceStatusList as $status):
				$arr_status_count[$status['idDefinition']] = 0;
		?>
		<th style="text-align:center;" width="<?php echo 50/sizeof($this->attendanceStatusList);?>%">
				<?php echo $status['BahasaIndonesia'];?>
		</th>
		<?php 
			endforeach;
		?>
	</tr>
	<?php 
		$i=0;
		foreach ($this->studentList as $student):
	?>
	<tr <?php echo $i%2==0?"class='shade'":""?>>
		<td><?php echo $i+1;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":""; ?> 
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":""; ?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']:""; ?>
			
			<input type="hidden" name="registration_id[]" value="<?php echo $student['IdStudent']; ?>" />
			<input type="hidden" name="nim[]" value="<?php echo $student['registrationId']; ?>" />
		</td>
		<td align="center"><?php echo $student['registrationId'];?></td>
		<td align="center">
			<?php
				echo $ses_count = $attDtlDb->getAttendanceSessionCount($this->group['IdCourseTaggingGroup'], $student['student_id']);
			?>
		</td>
		<?php
		foreach ($this->attendanceStatusList as $status):
			$count = $attDtlDb->getAttendanceStatusCount($this->group['IdCourseTaggingGroup'], $student['student_id'], $status['idDefinition']);
				
		?>
		<td style="text-align:center;">
			<?php echo $count; ?>
		</td>
		<?php 
		endforeach;
		?>
		<td align="center">
			<?php echo $student['status_name']; ?>
		</td>
	</tr>
	<?php 
		$i++;
		endforeach;
	?>
</table>

<br />
