<head>

<script type="text/javascript">

dojo.addOnLoad(function(){
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Account");?></legend>
                 <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/accountmaster/accountmasterlist/id/<?php echo $this->idAccount; ?>" method="post"  name= "myForm">
                       <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                   <table id="hor-minimalist-b" align="center" class="table" width="100%">
	    		  <TR>
                            <TH><?php echo $this->translate->_("Account Master")?></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>                            
                  </TR>
	    		<tr>
         			<td class="label"><?php echo $this->translate->_("Group")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->IdGroup?></td>				
         			<td class="label"><?php echo $this->translate->_("Account Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountmasterForm->AccountName?></td>		        	
      			</tr>
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("Account Short Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountmasterForm->AccShortName?></td>
        			<?php // if ($this->lvaredit) { ?>
        			<td class="label"><?php echo $this->translate->_("Account Code")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->PrefixCode?></td>
        			<?php // } else {?>
        			<!-- <td class="label"></td>
        			<td></td> -->
        			<?php // }?>
        		</tr>	
        		<tr>       			 		
        			<td class="label"><?php echo $this->translate->_("Period")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountmasterForm->Period?></td>   
        			<td class="label"><?php echo $this->translate->_("Description")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->Description?></td >
        		</tr>
        		<tr style="display:none">
        			<td class="label"><?php echo $this->translate->_("Billing Module")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->BillingModule?></td>	 
        			<td class="label"><?php echo $this->translate->_("Account Type")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->AccountType?></td>        					
        		</tr>
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("Prefix Code")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountmasterForm->AccountCode?></td>	
        			 <td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->Active?></td>		        	
		      	</tr>	
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("During Registration")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->duringRegistration?></td>	
        			 <td class="label"><?php echo $this->translate->_("AdvancePayment")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->AdvancePayment?></td>		        	
		      	</tr>	
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("Refund")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->Refund?></td>	
        			 <td class="label"><?php echo $this->translate->_("Deposit")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->Deposit?></td>		        	
		      	</tr>	
		      	<tr>
			         <td class="label"><?php echo $this->translate->_("Revenue")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->Revenue?></td>	
        			 <td class="label"><?php echo $this->translate->_("during")." ".$this->translate->_("Processing")?></td>
        			<td><?php echo $this->lobjAccountmasterForm->duringProcessing?></td>	
        			
		      	</tr>
		      	 <tr>
		      		  <td align = "right" colspan="4">
                    	
								      <?php echo $this->lobjAccountmasterForm->Save;?>							
                            
                               <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'accountmaster', 'action'=>'index'),'default',true);?>';" />	
                         
                            
                        </td>	   
				
               </tr>
              </table>  
            </Form>

</fieldset>
