<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/studentprogramchangeapproval/index/search/1" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                   <td><?php echo $this->translate("I.C No");?></td>
				                   <td ><?php echo $this->lobjform->field2;?></td>
				                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
     <?php if (count($this->paginator)): $i=0?>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/registration/studentprogramchangeapproval/index" method="POST">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    		<th></th>
		    	<th><?php echo $this->translate("Student Name");?></th>
		    	<th><?php echo $this->translate("IC No.");?></th>
		    	<th><?php echo $this->translate("Current").' '.$this->translate($this->Program).' '.$this->translate("Name");?></th>
		    	<th><?php echo $this->translate($this->Branch).' '.$this->translate("No.");?></th>
		    	<th><?php echo $this->translate("Requested").' '.$this->translate($this->Program).' '.$this->translate("Name");?></th>
		    	<th><?php echo $this->translate("Comments");?></th>
		    </tr>
	       
	        <?php foreach ($this->paginator as $lobjstudents): $i++;?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><input type="checkbox" dojoType="dijit.form.CheckBox" name="checkeach[]" id="checkeach<?php echo $i;?>" value="<?php echo $lobjstudents['IdProgramcChangebackup']?>"></td>
	        	<td><a href="<?php echo $this->baseUrl();?>/registration/studentprogramchange/studentprogramchangeapproval/idapplicant/<?php echo $this->escape($lobjstudents['IdApplication']);?>" ></a><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
	        	<td><?php echo $this->escape($lobjstudents['ICNumber']);?></td>
	            <td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
	            <td><?php echo $this->escape($lobjstudents['CollegeName']);?></td>
	            <td><?php echo $this->escape($lobjstudents['PName']);?></td>
	            <td><input type="text" dojoType="dijit.form.ValidationTextBox" name="comments[<?php echo $lobjstudents['IdProgramcChangebackup']?>]" id="comments<?php echo $i;?>" >
	           		 <input type="hidden" name="idAppl[<?php echo $lobjstudents['IdProgramcChangebackup']?>]" id="idAppl<?php echo $i;?>"  value="<?php echo $lobjstudents['IdApplication'];?>">
	           		    <input type="hidden" name="idPrgmnew[<?php echo $lobjstudents['IdProgramcChangebackup']?>]" value="<?php echo $lobjstudents['IdnewProgram'];?>" id="idPrgmnew<?php echo $i;?>" >
	            </td>
			</tr>
			 <?php endforeach; ?>
	          
			<tr>
	        	<td colspan="7" align="right"><?php echo $this->lobjStudentRegForm->Save;?></td>
   			</tr>
		</table>
		</form>
	</fieldset>
	  <?php endif; ?> 
</body>
</html>
