<script>
$(function() {
	$( "#tabs" ).tabs();


	$('.btn-submit').onSubmit(function(e){

		e.preventDefault();
		var msg = confirm('<?php echo $this->translate("Are you sure you want to submit this information?") ?>');
		if(msg){
			return true;
		}else{
			return false;
		}
	});

	
});
	
</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>

<form name='form1' id='form1' method='post'>
<input type='hidden'  size=3 name='ec_id'  value='<?php echo ($this->data['ec_id']) ? $this->data['ec_id']:''; ?>' >
<div id="tabs">
	<ul>
		<li><a href="#tabs-1"><?php echo $this->translate("Probation Semester"); ?></a></li>
		<li><a href="#tabs-2"><?php echo $this->translate("General"); ?></a></li>
		
	</ul>	
	<div id="tabs-1">	
	
		<table class="table" width="50%" cellpadding="5" cellspacing="1" >
			<tr>
					<th><?php echo $this->translate('Continuous Probation Semester'); ?></th>
					<td align='center'> <input type='checkbox' name='cont_prob_sem'  value='1' <?php echo ($this->data['cont_prob_sem']) ? 'checked':'';?>></td>
			</tr>
			<tr>
					<th><?php echo $this->translate('Maximum Probation Semester Allowed '); ?></th>
					<td  align='center'><input type='text' class='input-txt smallest center'  size=3 name='max_prob_sem_allow'  value='<?php echo ($this->data['max_prob_sem_allow']) ? $this->data['max_prob_sem_allow']:'';?>'></td>
			</tr>
		</table>
					
	</div>
	<div id="tabs-2">	
	
	<table class="table" width="50%" cellpadding="5" cellspacing="1" >
		<tr>
				<th><?php echo $this->translate('Mark Distribution Approval'); ?></th>
				<td align='center'><input type='checkbox' name='mark_dist_approval' value='1' <?php echo ($this->data['mark_dist_approval']) ? 'checked':'';?>></td>
		</tr>			
	</table>	
	</div>
	
</div>

<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</form>