<script>
function save(){
	$("#myform").submit(); 
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<li>
				<a href="#" onclick="javascript:save()">
					<span class='save'></span>
					Save
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>
<form name="myform" id="myform"  method="post" action="">
	<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
			<th><?php echo $this->translate("Programme Preference ");?></th>
			<th><?php echo $this->translate("Current Programme Preference ");?></th>
			<th><?php echo $this->translate("New Programme Preference ");?></th>
		</tr>
	<?php  
	$i=1;
	foreach ($this->dataPreferedProgram as $program){?>
		<tr>
			<td><?php echo $this->translate("Programme Preference ").$i;?></td>		
			<td><?php echo $program['program_name_indonesia'].'('.$program['ap_prog_code'].')';?></td>
			<td>
			<input type="hidden" name="ap_id[]" value="<?php echo $program["ap_id"]?>">
			<select name="app_id[<?php echo $program["ap_id"]?>]">
			    <option value=""><?php echo $this->translate("Please Select")?></option>
				<?php foreach($this->ptestProgram as $ptest){?>
				<option value='<?php echo $ptest["app_id"];?>'><?php echo '('.$ptest["ProgramCode"].') '.$ptest["ArabicName"];?></option>
				<?php } ?>
			</select></td>
		</tr>
	<?php $i++; } ?>	
		
	</table>
</form>
