<script>
$(document).ready(function(){

	 $( "#appl_dob" ).datepicker({
	     	dateFormat: "dd-mm-yy",
	     	changeMonth: true,
	     	numberOfMonths: 2,
	     });
     
   
});



function getLocation(element){
	//appl_province
	var select_date =  $("#aps_test_date").val()
	
	var selected_val = "<?php echo $this->aps_id ?>";

		 
	$.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility','action'=>'ajax-get-location'),'default',true);?>/select_date/"+select_date, 
		data: "select_date=" + select_date,
		context: document.body, 
		success:		   
			function(data){			
				response = eval(data);			
				var location = document.getElementById('aps_id');
				location.options.length = 0;
				location.options[0]=new Option("<?php echo $this->translate('Please Select');?>",'');
				
				for(var i=0; i<response.length; i++){	
					if(response[i].aps_id==selected_val){
						var selectedindex = i+1;
					}								

					location.options[i+1]=new Option(response[i].location_name,response[i].aps_id,0,selectedindex);
					
				}		
				
	    	}
	    	
	});

}	

function getFees(element){
	
	var aps_id   =  $(element).val()	
	var appl_id    =  $("#appl_id").val()
	var transaction_id    =  $("#transaction_id").val()
    var app_ptest_code    =  $("#app_ptest_code").val()
    var aph_fees_program  =  $("#aph_fees_program").val()   
    var aph_fees_location =  $("#aph_fees_location").val()
     
   			
	$.ajax({ 
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility','action'=>'ajax-get-test-fees'),'default',true);?>/code/"+app_ptest_code+"/program/"+aph_fees_program+"/location/"+aph_fees_location+"/aps_id/"+aps_id+"/tid/"+transaction_id, 
		data: "",
		context: document.body, 
		success:		   
			function(data){		
			document.getElementById('apt_fee_amt').value=data;						
	    	}
	    	
	});
}	

	

$(window).load(function() {
	if( $('#aps_test_date').val() != '' ){
		getLocation();
		
	}
});

</script>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>



<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'biodata'),'default',true);?>"><?php echo $this->translate("biodata"); ?></a></div></li>
		
		<?php if($this->transaction["entry_type"]!=2){ //case agent(manual entry- which is already have no peserta/choose admission type)?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'contactinfo'),'default',true);?>"><?php echo $this->translate("contact_info"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'admission'),'default',true);?>"><?php echo $this->translate("Admission Type"); ?></a></div></li>
		<?php }else{//end admission ?>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'contactinfo'),'default',true);?>"><?php echo $this->translate("contact_info"); ?></a></div></li>
		<?php }//else?>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'placement-test'),'default',true);?>"><?php echo $this->translate("test_schedule"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'programme'),'default',true);?>"><?php echo $this->translate("programme"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'uploaddocument'),'default',true);?>"><?php echo $this->translate("upload_document"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'agent','controller'=>'index','action'=>'confirmation'),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>


<?php echo $this->form; ?>





