<head>
</head>
<body class="claro">
<fieldset>
	<legend><?php echo $this->translate("Add Case Type");?></legend>
    <form id="srform" name="srform" method="POST" action="<?php echo $this->url(array('module'=>'counseling','controller'=>'casetype','action'=>'newcasetype'),'default',true);?>" onsubmit="return validateForm()">
<table width="80%" border="0">
	<tr>
		<td width="20%"><b>Case Type</b></td>
		<td width="80%"><input type="text" name="case" id="case" value=""></td>
	</tr>
	
	<tr>
		<td align="right" colspan="2">
			<input type="button" class="" dojotype="dijit.form.Button" label="Add Case Details" onclick="addRowToTable()" />
			<input type="button" class="" dojotype="dijit.form.Button" label="Delete Last Row" onclick="javascript:deleteRows()"/>
			<input type="submit" class="" dojotype="dijit.form.Button" label=" Save All ">
		</td>
	</tr>
	
	<tr>
		<td align="right" colspan="2"><hr color="#C5EAFF"></td>
	</tr>
	<tr>
		<td align="right" colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width="60%" border="0" id="tblSample">
				<tr>
					<td>1</td>
					<td>
					<input type="text" name="casedetails1" id="casedetails1" value="">
					<input type="hidden" name="count" id="count" value="1">
					<input type="hidden" name="click" id="click" value="">
					<input type="hidden" name="countedit" id="countedit" value="<?=$countedit?>">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
    </fieldset> 
    <br/>



<script>
var ccount=document.srform.count.value;
var countedit=parseInt(document.srform.countedit.value);
var click=parseInt(document.srform.click.value);

count=ccount-1;

if(countedit!=""){
	if (countedit>count){
		count=countedit;
	}else if (click>count){
		count=click;
	}else{
		if (count==0){
			count=1;
		}else{
			count=count;
		}
	}
}else{
	if (count==0){
		count=1;
	}else{
		count=count;
	}
}

function addRowToTable(){	

	var tbl = document.getElementById('tblSample');
	var lastRow = tbl.rows.length;
	// if there's no header row in the table, then iteration = lastRow + 1
	var iteration = lastRow+1; 
	var row = tbl.insertRow(lastRow);
	
	// NUM cell
	var cellLeft = row.insertCell(0);
	var textNode = document.createTextNode(iteration);
	cellLeft.appendChild(textNode);
	
	
	// textbox cell
	var cellRight1 = row.insertCell(1);
	var el1 = document.createElement('input');
	el1.type = 'text';
	el1.name = 'casedetails' + iteration;
	el1.id = 'casedetails' + iteration;
	cellRight1.appendChild(el1);
	
	var b;
	
	count=count+1;
	count = tbl.rows.length;
	document.srform.click.value=count;
  
}

// delete table rows with index greater then 0
function deleteRows() {
    var tbl = document.getElementById('tblSample'), // table reference
        lastRow = tbl.rows.length - 1,             // set the last row index
        i;
        
    if (lastRow > 0) {tbl.deleteRow(lastRow);}//to delete last row only
    
    
    iteration = tbl.rows.length;
//    document.f1.bilrow.value=iteration;
    document.srform.click.value=iteration;
    
}

function validateForm(){
	var category = document.forms['srform'].elements['case'].value;
	var click = document.forms['srform'].elements['click'].value;
	
	if(click==""){
		chk=1;
	}else{
		chk=click;
	}
	
	if(category==""){
		alert('Please insert a case');
		return false;
	}
	
	for (var i=1; i <= chk; i++){
		var casedetails = document.forms['srform'].elements['casedetails'+i].value;
		
		if(casedetails==""){
			alert('Please insert all case details');
			return false;
		}
	}
}
</script>