<script type="text/javascript">

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').prop('checked', true);
			// $('.chk2').removeAttr("disabled"); 
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
			 //$('.chk2').attr("disabled", "disabled"); 
		 }
	 });


	 $( "#dialog-search" ).dialog({
	        autoOpen: false,
	        width: 500,
	        modal: true,
	        buttons: {
	            "Cari": function() {	               
	                $('#searchForm').submit();
	            }
	        }
	    });

	 $( "#dialog-box" ).dialog({
	        autoOpen: false,
	        width: 650,
	        modal: true,
	        buttons: {
	            "Confirm": function() {
	            	
	    			url="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'save-approval'), 'default', true);?>";
	    			$("#formApproval").attr('action',url);	
					
            		var approver = $("#approveby option:selected").val();
                 	if(approver==0){
                		alert('Please select Approved by');
                 	}else{

                 		$("#ApprovedBy").val(approver);	
                 		$("#formApproval").submit();                 		
                 	}         	
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });
	 
});

function searchStudent(){
	$( "#dialog-search" ).dialog('open');	
}


function approve(){

	 var isChecked = $('.chk').is(':checked');

	 if(isChecked==true){		 
		 $( "#dialog-box" ).dialog('open');
	 }else{
		alert("You did not select any student. Please select.");
	 }
	 
	
}


function check(element,index){

	var exam_status = "#exam_status"+index;		
	
	if($(element).is(":checked")){		
		$(exam_status).removeAttr("disabled"); 
	}else{	
		$(exam_status).attr("disabled", "disabled"); 
	}
	
}


function back(role){
	if(role==1){//admin
		window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'index'), 'default', true);?>";
	}else{
		window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'index'), 'default', true);?>";
	}
}


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			<li>
				<a href="#" onclick="approve();">
					<span class='save'></span>
					<?php echo $this->translate('Verify');?>
				</a>
			</li>
			<li>
				<a href="#" onclick="searchStudent();">
					<span class='search'></span>
					<?php echo $this->translate('Search');?>
				</a>
			</li>
			<li class="divider"></li>
			<li>							
					<a href="#" onClick="back('<?php echo $this->role; ?>')">
						<span class='back'></span>Back</a>				
			</li>	
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

	
<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Scheme"); ?></th>   
		    <td>		    
		     <?php 
		   				$scheme_name = $this->scheme['ProgramMode'].' - '.$this->scheme['StudyMode'];
						
						if(isset($this->scheme['ProgramType']) && $this->scheme['ProgramType']!=' '){
							$scheme_name .= ' - '.$this->scheme['ProgramType'];
						}
					
						echo $scheme_name;
		    ?>	
		    </td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?>  (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Section Name "); ?></th>   
		    <td><?php echo $this->group["GroupName"].' - '.$this->group["GroupCode"];;?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Lecturer"); ?></th>   
		    <td><?php echo $this->group['FullName']; ?></td>   
	</tr>
	
	</table>
<br>


<br>

<form id="formApproval" method="post" action="">

<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>"></input>
<input type="hidden" name="idProgram" id="idProgram" value="<?php echo $this->idProgram;?>"></input>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>"></input>
<input type="hidden" name="idScheme" id="idScheme" value="<?php echo $this->idScheme;?>"></input>


<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">	  
	  <tr>
	    <th rowspan='2' width="25px">&nbsp;</th>
	    <th rowspan='2'>Approve?<br><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	    <th rowspan='2'><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='2'><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $component){
			    if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item'])); 
				 }else{					 
					 	$colspanx = abs(count($component['component_item'])); 
				 }
	    	
	    ?> 
	     	<th align="center" colspan="<?php echo $colspanx;?>"><?php echo $component['component_name'];?></th>	   
	    <?php } ?>
	     <th rowspan='2'><?php echo $this->translate("Total")?></th>
	     <th rowspan='2'><?php echo $this->translate("Grade")?></th>
	     <th rowspan='2'><?php echo $this->translate("Point")?></th>
	 </tr>
	 <tr>    
	     <?php for($m=0; $m<count($this->rs_component); $m++){
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++){
	     	?> 	     
	     	<th><?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?></th>	   
	    <?php } 
	     	}?>
	      
	 </tr>
	  <?php 
		$i=1;	
		foreach($this->students as $student){		
	  ?>
	  
	  <tr>
	    <td align='center'><?php echo $i;?></td>
	    <td align='center'><input type="checkbox" class="chk" id="IdStudentMarksEntry[]" value="" ></td>
		<td align='center'><?php echo $student["appl_fname"].' '.$student["appl_mname"].' '.$student["appl_lname"];?></td>
	  	<td align='center'>
	  	<?php echo $student["registrationId"];?>			  	
		</td>

 		<?php 
 		    $k=0;
 			foreach($this->rs_component as $component){
 					$x=0;
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center'>				            
		    	<input type='text' class="input-txt small" name='' value=''></input>
		   </td>	   
	    <?php $x++; } 
	     $k++;}?>
     	<td align='center'><input type='text' class="input-txt small" name='' value=''></input></td>	            
	    <td align='center'><input type='text' class="input-txt small" name='' value=''></input></td>		
	   	<td align='center'><input type='text' class="input-txt small" name='' value=''></input></td>	     	
	  </tr>
	  
	  <?php $i++; } ?>
</table>

</form>

<br>



<div id="dialog-box" title="<?php echo $this->translate("Mark Verification Information"); ?>">
  <table>
  <tr>
  		<td>Approved By</td>
  		<td width="5px">:</td>
  		<td>
  		<select name="approveby" id="approveby">
  			<option value=0><?php echo $this->translate("Please Select"); ?></option>
  			<?php 
  			foreach($this->staff as $staff){
  				if($this->group['VerifyBy']==$staff["IdStaff"]){
  					$selected = 'selected';
  				}else{
  					$selected='';
  				}
  			?>
  			<option value='<?php echo $staff["IdStaff"];?>' <?php echo $selected; ?>><?php echo $staff["FullName"];?></option>
  			<?php } ?>
  		</select>
  		</td>
  	</tr>
    </table>
</div>




<div id="dialog-search" title="<?php echo $this->translate("Search Student"); ?>">
<form id="searchForm" method="post">
<table>
	<tr><td><?php echo $this->translate('Student Name');?></td><td>:<input type="text" name="student_name" id="student_name"></td></tr>
	<tr><td><?php echo $this->translate('Student ID');?></td><td>:<input type="text" name="student_id" id="student_id"></td></tr>
</table>
</form>  
</div>
