

<script type="text/javascript">
	function search_subject(){
				
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(faculty_id!==0){
			$.ajax({
				url: "/examination/mark-distribution-setup/search-course",
			    type: "post",
			    async : false,
			    data: {'idCollege':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}


	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<form name='formApproval' method='post'>
<?php if(count($this->groups)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Section Name")?></th>		
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("Lecturer")?></th>
		<th><?php echo $this->translate('Total Registered Student'); ?></th>
		<th><?php echo $this->translate('Total Approved'); ?></th>
		<th><?php echo $this->translate('Total Pending Approval'); ?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->groups as $group){
		
	?>
		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='left'><?php echo $group["GroupName"];?></td>		
		<td align='center'><?php echo $group["SubCode"];?></td>
		<td align='left'><?php echo ($this->locale=='ms_MY') ? $group['subjectMainDefaultLanguage']:$group['SubjectName'];;?></td>
		<td align='center'><?php echo $group['FullName'];?></td>
		<td align='center'><?php echo $group['total_student'];?></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'approved-list','id'=>$group['IdCourseTaggingGroup'],'idProgram'=>$group['IdProgram'],'idSemester'=>$group['IdSemester'],'idSubject'=>$group['IdSubject'],'tf'=>1),'default',true);?>"><?php echo $group['total_mark_approved'];?></a></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'student-list','id'=>$group['IdCourseTaggingGroup'],'idProgram'=>$group['IdProgram'],'idSemester'=>$group['IdSemester'],'idSubject'=>$group['IdSubject']),'default',true);?>"><?php echo $group['total_pending'];?></a></td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>

</form>
<?php }//end if?>
</div>
<br>