<script><!--


$(function() {
	
	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Confirm": function() {

				var status = $("#status").val();
				var remarks = $("#remarks").val();
		
                $("#mark_approval_status").val( status );	
            	$("#mark_approval_remarks").val( remarks );	

            	url="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'change-status-thesis'), 'default', true);?>";
    			$("#formApproval").attr('action',url);	
    			$("#formApproval").submit();
            	        	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
		
});


function submitApproval(){

	flag = checkboxValidate();
	
	if(flag==true){		  
		$( "#dialog-box" ).dialog('open');	
		
	}else{     
		alert("Please select student.");             	
		return false;
	}
}


$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});



function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<?php if(count($this->student_list)>0){?>

<form name='formApproval' id='formApproval' method='post'>
<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>"></input>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>"></input>
<input type='hidden' name='mark_approval_status' id='mark_approval_status'>
<input type='hidden' name='mark_approval_remarks' id='mark_approval_remarks'>

	<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">	  
	 	<tr>
		    <th width="25px">&nbsp;</th>
		    <th width="25px"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
		    <th><?php echo $this->translate("Student Name")?></th>
		    <th><?php echo $this->translate("Student ID")?></th>
		    <th><?php echo $this->translate("Total Mark")?></th>		    
		    <th><?php echo $this->translate("Grade")?></th>
		    <th><?php echo $this->translate("Point")?></th>
	  	</tr>
	  	
	  	<?php 
	  	$i=1;
	  	foreach($this->student_list as $student){	?>
	  	<tr>
	  		<td align='center'><?php echo $i;?></td>
	  		<td align='center'>
	  		<?php // echo $student["IdStudentRegSubjects"];?> 
	  		
	  		<?php if($student['mark_approval_status']==1){ ?>	
	    		<input type='checkbox' class='chkbx' name='IdRegSub[]' id='IdRegSub' value='<?php echo $student["IdStudentRegSubjects"];?>'>
		    <?php } else {
		    
		   			if ($student['mark_approval_status']==0){	    			
						echo 'Entry';
		    		}else 
		    		if($student['mark_approval_status']==2){
		    			echo 'Approved';
		    		}else
		    		if($student['mark_approval_status']==3){
		    			echo 'Revise';	    		
		    		}
		    	
		    } ?>
	  		</td>
	  		<td align='left'><?php echo $student["appl_fname"].' '.$student["appl_lname"];?></td>
	  		<td align='center'><?php echo $student["registrationId"];?></td>
	  		<td align='center'><?php echo $student['final_course_mark']?></td>
	  		<td align='center'><?php echo $student['grade_name']?></td>
	  		<td align='center'><?php echo $student['grade_point']?></td>
	  	</tr>
	  	<?php  $i++; } ?>
	  	
	</table>

	<?php if(count($this->student_list)>0){?>
	<div class='form-opt'>
			<input type='button' name='btn-submit' id='btn-submit' value='Submit' onclick="submitApproval()"></input>
	</div>
	<?php } ?>
</form>
<?php		
 } ?>
</div>



<div id="dialog-box" title="<?php echo $this->translate("Confirmation"); ?>">
<table>
<tr>
<td>Status</td>
<td>
<select name='status' id='status'>
<option value='2'>Approve</option>
<option value='3'>Revise</option>
</select>
</td>
</tr>
<tr>
<td>Remarks</td>
<td>
<textarea name='remarks' id='remarks'></textarea>
</td>
</tr>
</table>
</div>



