<script><!--


$(function() {
	
	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Confirm": function() {

				var status = $("#status").val();
				var remarks = $("#remarks").val();
		
                $("#mark_approval_status").val( status );	
            	$("#mark_approval_remarks").val( remarks );	

            	url="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'change-status'), 'default', true);?>";
    			$("#formEntry").attr('action',url);	
    			$("#formEntry").submit();
            	        	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
		
});



$(function () {

	$( "#dialog-search" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Search": function() {   
    			$("#myform").submit();         	
            },
            "Cancel": function() {
                $( this ).dialog( "close" );
            }
        }
    });	
	
});

function searchBox(){
	$( "#dialog-search" ).dialog('open');	
}


function submitApproval(){

	flag = checkboxValidate();
	
	if(flag==true){		  
		$( "#dialog-box" ).dialog('open');	
		
	}else{     
		alert("Please select student.");             	
		return false;
	}
}


$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});



function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}


</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		    	
		 	<li>							
					<a href="#" onClick="searchBox()">
						<span class='search'></span>Search</a>				
			</li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'index'), 'default', true);?>">
					<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<!--<tr>
		    <th width="20%"><?php echo $this->translate("Programme"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	-->
	<tr>
		    <th><?php echo $this->translate("Course Code "); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Section"); ?></th>   
		    <td><?php echo $this->group["GroupName"].' - '.$this->group["GroupCode"];;?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Lecturer"); ?></th>   
		    <td><?php echo $this->group['FullName']; ?></td>   
	</tr>
	
	</table>
<br>

<?php 
if(count($this->students)==0){
	echo '<div  class="message error">No records</div>';
}
?>

<?php if(count($this->students)>0){ ?>

<form id="formEntry" method="post" action="">

<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>"></input>
<input type="hidden" name="idProgram" id="idProgram" value="<?php echo $this->idProgram;?>"></input>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>"></input>
<input type="hidden" name="idGroup" id="idGroup" value="<?php echo $this->idGroup;?>"></input>
<input type='hidden' name='mark_approval_status' id='mark_approval_status'>
<input type='hidden' name='mark_approval_remarks' id='mark_approval_remarks'>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">	  
	  <tr>
	    <th rowspan='3' width="25px">&nbsp;</th>
	    <th rowspan='3' width="25px"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	    <th rowspan='3'><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='3'><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $m=>$component){
			     if($component['FinalExam']==1){
		    		$attendance = 1;
		    	 }else{
		    	 	$attendance = 0;
		    	 }
			     if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item'])*2)+1+abs($attendance); 
				 }else{					 
					 	$colspanx = abs(count($component['component_item'])*2)+1+abs($attendance); 
				 }	     	
	    ?> 	    
	     <th align="center" colspan="<?php echo $colspanx;?>">
	     	<?php echo $component['component_name'];?>
	     	
	     </th>
	     <?php 
	     }?>
	     
	     <th rowspan='3'><?php echo $this->translate("Grand Total")?></th>
	     <th rowspan='3'><?php echo $this->translate("Grade")?></th>
	     <?php if($this->program['IdScheme']==11){?>
	     <th rowspan='3'><?php echo $this->translate("Point")?></th>
	     <?php } ?>
	 </tr>
	 
	 
	 <tr>  	    
	     <?php for($m=0; $m<count($this->rs_component); $m++){
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++){
	     	?> 	     
	     	<th colspan=2>
	     	<?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>
	     	
	     	</th>	   
	    <?php } ?> 
	        <th rowspan="2">Total</th>	   
	         <?php 
	     	if($this->rs_component[$m]['FinalExam']==1){ 
	     	 echo ' <th rowspan="2">Attendance Status</th>	';
	     	}
	     	?>	 
	      <?php }?>
	 </tr>
	 
	 
	  <tr>
	 <?php foreach($this->rs_component as $m=>$component){
	     		foreach($component['component_item'] as $n=>$item){
	     	?>    
	      	<th align='center'>Raw<br><?php echo $item['Weightage']?></th>
	      	<th align='center'>Weightage<br><?php echo $item['Percentage']?></th>	     
     		    
	    <?php } 
	     	}?>
	   </tr>	   	
	
	 
	  <?php 
		$i=1;	
		foreach($this->students as $student){	

			if($student['AssessmentMethod']=='point'){
				$textbox = 'text';
			}else{
				$textbox = 'hidden';
			}
	  ?>
	  
	  <tr>
	    <td align='center'><?php echo $i;?></td>
	    <td align='center'> 
	    <?php if($student['mark_approval_status']==1){ ?>	
	    	<input type='checkbox' class='chkbx' name='IdRegSub[]' id='IdRegSub' value='<?php echo $student["IdStudentRegSubjects"];?>'>
	    <?php } else {
	    
	   			if ($student['mark_approval_status']==0){	    			
					echo 'Entry';
	    		}else 
	    		if($student['mark_approval_status']==2){
	    			echo 'Approved';
	    		}else
	    		if($student['mark_approval_status']==3){
	    			echo 'Revise';	    		
	    		}
	    	
	    } ?>
	    </td>
		<td align='left'><?php echo $student["appl_fname"].' '.$student["appl_mname"].' '.$student["appl_lname"];?></td>
	  	<td align='center'>
	  	<?php echo $student["registrationId"];?>
	  	</td>

 		<?php 
 		    $j=0;
 		    
 			foreach($this->rs_component as $component){
 				    
 				    //get main component info
 				    
 					$k=0;
 					$total_item = count($component['component_item']);
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center'>
	     	    		            
		    	<input type='text' class="input-txt small" size='3' name='r[]' id='r<?php echo $i.$j.$k?>' value='<?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>' disabled></input>
		   </td>
		   
		   <td align='center'>
				<input type='text' class="input-txt small" size='3'  name='w[]'  id='w<?php echo $i.$j.$k?>' value='<?php echo (isset($student["w".$item['IdMarksDistributionDetails']])) ? $student["w".$item['IdMarksDistributionDetails']]:'' ;?>' disabled></input>
		   </td>	 
		     
	    <?php $k++; } ?>
	    	<td align='center'>	    	
	    	<input type='text' class="input-txt small" size='3' name='tic[]' id='tic<?php echo $i.$j;?>' value='<?php echo (isset($student["tic".$component['IdMarksDistributionMaster']])) ? $student["tic".$component['IdMarksDistributionMaster']]:'';?>' disabled></td>
	  
	    	 <?php 
	     	if($component['FinalExam']==1){ 
	     	 echo ' <td align="center" >'.$student['attendance'].'</td>	';
	     	}
	     	?>	 
	    <?php $j++;}?>
	  
	  
     	<td align='center'><input type='text' class="input-txt small" size='3' name='grandTotal[]' id='grandTotal<?php echo $i?>' value='<?php echo $student['final_course_mark']?>' disabled></td>
	    <td align='center'><input type='text' class="input-txt small" size='3' name='grade[]' id='grade<?php echo $i?>' value='<?php echo $student['grade_name']?>' disabled></input></td>		
	   	<?php if($this->program['IdScheme']==11){?>
	   	<td align='center'><input type='<?php echo $textbox;?>' class="input-txt small" size='3' name='point[]' id='point<?php echo $i?>' value='<?php echo $student['grade_point']?>' disabled ></input></td>	     	
	 	<?php } ?>
	  </tr>
	  
	  <?php $i++; } ?>
</table>

<?php if(count($this->students)>0){?>
<div class='form-opt'>
		<input type='button' name='btn-submit' id='btn-submit' value='Submit' onclick="submitApproval()"></input>
</div>
<?php } ?>
</form>
<?php } ?>


<div id="dialog-box" title="<?php echo $this->translate("Confirmation"); ?>">
<table>
<tr>
<td>Status</td>
<td>
<select name='status' id='status'>
<option value='2'>Approve</option>
<option value='3'>Revise</option>
</select>
</td>
</tr>
<tr>
<td>Remarks</td>
<td>
<textarea name='remarks' id='remarks'></textarea>
</td>
</tr>
</table>
</div>


</div>

<div id="dialog-search" title="<?php echo $this->translate("Search"); ?>">
<?php echo $this->form; ?>
</div>