<script>


$(function () {

	$( "#dialog-search" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Search": function() {   
    			$("#myform").submit();         	
            },
            "Cancel": function() {
                $( this ).dialog( "close" );
            }
        }
    });	
	
});

function searchBox(){
	$( "#dialog-search" ).dialog('open');	
}


$(function() {
	
	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Confirm": function() {

    			var status = $("#ce_status").val();
    			var remarks = $("#ce_remarks").val();
    			
            	$("#mark_approval_status").val( status );	
            	$("#remarks").val( remarks );	

            	url="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'change-approval-status'), 'default', true);?>";
    			$("#formEntry").attr('action',url);	
    			$("#formEntry").submit();
            	        	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
		
});


function submitApproval(){

	flag = checkboxValidate();
	
	if(flag==true){		  
		$( "#dialog-box" ).dialog('open');	
		
	}else{     
		alert("Please select student.");             	
		return false;
	}
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			<ul>	
			 <li>							
					<a href="#" onClick="searchBox()">
						<span class='search'></span>Search</a>				
			</li>		
			<li>							
					<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'student-ce'), 'default', true);?>">
						<span class='back'></span>Back</a>				
			</li>
			</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Code "); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>
	</table>
<br>


<form id="formEntry" name="formEntry" method="post" action="" >

<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>" class='formInput'>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>" class='formInput'>
<input type='hidden' name='mark_approval_status' id='mark_approval_status'>
<input type='hidden' name='remarks' id='remarks'>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">	  
	  <tr>
	    <th rowspan='3' width="25px">&nbsp;</th>
	    <th rowspan='3' width="25px"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	    <th rowspan='3'><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='3'><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $m=>$component){		    	
			     if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item'])*2); 
				 }else{					 
					 	$colspanx = abs(count($component['component_item'])*2); 
				 }	    	
	    ?> 	    
	     <th align="center" colspan="<?php echo $colspanx;?>">
	     	<?php echo $component['component_name'];?>	     	
	     </th>
	      <th rowspan='3'><?php echo $this->translate("Total")?></th>	      
	     <?php 
	     }?>	     
	     <th rowspan='3'><?php echo $this->translate("Attendance")?></th>
	     <th rowspan='3'><?php echo $this->translate("Grade")?></th>
	 </tr>
	 
	 
	 <tr>  	    
	     <?php for($m=0; $m<count($this->rs_component); $m++){	     		
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++){
	     	?> 	     
	     	<th colspan=2>
	     	<?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>
	     	
	     	</th>	     	   
	    <?php } ?> 	    
	          	   
	      <?php }?>
	 </tr>
	 
	 
	  <tr>
	 <?php foreach($this->rs_component as $m=>$component){
	     		foreach($component['component_item'] as $n=>$item){
	     	?>    
	      	<th align='center' colspan=2>Raw<br><?php echo $item['Weightage']?></th>
	      	<!-- <th align='center'>Weightage<br><?php echo $item['Percentage']?></th>	  -->    
     		    
	    <?php } 
	     	}?>
	   </tr>	   	
	
	 
	 <?php 
		$i=1;	
		
		foreach($this->students as $student){	
			
	  ?>
	  
	  <tr>
	    <td align='center'><?php echo $i;?></td>
	    <td align='center'> <?php //echo $student["IdStudentRegSubjects"];?>
	    
	    <?php if($student['mark_approval_status']==1){ ?>	
	    	<input type='checkbox' class='chkbx' name='IdRegSub[]' id='IdRegSub[]' value='<?php echo $student["IdStudentRegSubjects"];?>'>
	    <?php } else {
	    
	   			if ($student['mark_approval_status']==0){	    			
					echo 'Entry';
	    		}else 
	    		if($student['mark_approval_status']==2){
	    			echo 'Approved';
	    		}else
	    		if($student['mark_approval_status']==3){
	    			echo 'Rejected';	    		
	    		}
	    	
	    } ?>	         
	    </td>
		<td align='left'><?php echo $student["appl_fname"].' '.$student["appl_lname"];?></td>
	  	<td align='center'>
	  	<?php echo $student["registrationId"];?>
		</td>

 		<?php 
 		    $j=0;
 		    
 			foreach($this->rs_component as $component){
 				    
 				    //get main component info
 				    
 					$k=0;
 					$total_item = count($component['component_item']);
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center' colspan=2>
	        	<input type='text' class="" size='3' name='r[]' id='r<?php echo $i.$j.$k?>' value='<?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>'  disabled>
		   </td>
		   <!--
		   <td align='center'>
				<input type='text' class="" size='3'  name='w[]'  id='w<?php echo $i.$j.$k?>' value='<?php echo (isset($student["w".$item['IdMarksDistributionDetails']])) ? $student["w".$item['IdMarksDistributionDetails']]:'' ;?>' disabled></input>
		   </td>
	   	   -->
	    <?php $k++; } ?>
	    	<td align='center'>
	    	<input type='text' class="" size='3' name='tic[]' id='tic<?php echo $i.$j;?>' value='<?php echo (isset($student["tic".$component['IdMarksDistributionMaster']])) ? $student["tic".$component['IdMarksDistributionMaster']]:'';?>' disabled>
	    	
	    	</td>	    	
	  			  		
	  		
	  <?php $j++;}?>
	  
	  		<td align='center'><?php echo $student['attendance_status'];?></td>
	  		<td align='center'><input type='text' class="" size='3' name='grade[]' id='grade<?php echo $i?>' value='<?php echo $student['grade_desc']?>' disabled></input></td>
	   		    
	   		     	
	  </tr>
	  
	  <?php $i++; } ?>
	 
	 
</table>
<?php if(count($this->students)>0){?>
<div class='form-opt'>
		<input type='button' name='btn-submit' id='btn-submit' value='Submit' onclick="submitApproval()">
</div>

<?php } ?>
</form>



<div id="dialog-box" title="<?php echo $this->translate("Approval Confirmation"); ?>">
<table>
<tr>
<td>Status</td>
<td>
<select name='ce_status' id='ce_status'>
<option value='2'>Approve</option>
<option value='3'>Reject</option>
</select>
</td>
</tr>
<tr>
<td>Remarks</td>
<td>
<textarea name='ce_remarks' id='ce_remarks'></textarea>
</td>
</tr>
</table>
</div>

</div>


<div id="dialog-search" title="<?php echo $this->translate("Search"); ?>">
<?php echo $this->form; ?>
</div>