
<script type="text/javascript">

$(function(){

	
});



function print(){
	url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'print-index-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>
	<li><a href="#" onclick='print()'> <span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a></li>
</ul>      
	<?php } ?>  
    </div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Transaction Type');?></td>
		<td><select name="type" id="type" class="select">
			<option value="0"><?php echo $this->translate("ALL");?></option>
			<option value="1"><?php echo $this->translate("INVOICE");?></option>
			<option value="2"><?php echo $this->translate("RECEIPT");?></option>
			<option value="3"><?php echo $this->translate("CREDIT NOTE");?></option>
			<option value="4"><?php echo $this->translate("REFUND");?></option>
			<option value="5"><?php echo $this->translate("DISCOUNT");?></option>
			</select></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="<?php echo ($this->date_from=='') ? date('Y-m-d'):$this->date_from;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo ($this->date_to=='') ? date('Y-m-d'):$this->date_to;?>" />
			<?php
			if($this->semester){ 
				foreach($this->semester as $key=>$value){ 
			?>
			<input type="hidden" name="semester_id[]" id="semester_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
			<?php
			if($this->intake){ 
				foreach($this->intake as $key=>$value){ 
			?>
			<input type="hidden" name="intake_id[]" id="intake_id[]" value="<?php echo $value;?>">
			<?php }
			}?>
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Upload" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Account Type");?></th>
		<th><?php echo $this->translate("Business Unit");?></th>
		<th><?php echo $this->translate("Student ID ");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Programme Mode");?></th>
		<th><?php echo $this->translate("Study Mode");?></th>
		<th><?php echo $this->translate("Programme Type");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("Fee Type");?></th>
		<th><?php echo $this->translate("Account Code");?></th>
		<th><?php echo $this->translate("Discount");?></th>
		<th><?php echo $this->translate("Funding Method");?></th>
		<th><?php echo $this->translate("Funding Name");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Billing Status");?></th>
		<th><?php echo $this->translate("Current Billing (USD)");?></th>
		<th><?php echo $this->translate("Current Billing (MYR)");?></th>
		<th><?php echo $this->translate("Adjustment/New Add (MYR)");?></th>
		<th><?php echo $this->translate("Billing After Adjustment");?></th>
		<th><?php echo $this->translate("CN Status");?></th>
		<th><?php echo $this->translate("Discount Amount");?></th>
		<th><?php echo $this->translate("Net Amount");?></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->paginator as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo date('d-m-Y',strtotime($lobjstudents['invoice_date'])); ?></td>
		<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php if($lobjstudents['appl_fullname']) {echo $this->escape($lobjstudents['appl_fullname']);}else{ echo $this->escape($lobjstudents['student_fullname']);}?></td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<td><?php echo strtoupper($this->escape($lobjstudents['profileStatus']));?></td>
		<td><?php echo $this->escape($lobjstudents['applicant_program']);?></td>
		<td><?php echo $this->escape($lobjstudents['mop']); ?></td>
		<td><?php echo $this->escape($lobjstudents['mos']);?></td>
		<td><?php echo $this->escape($lobjstudents['pt']);?></td>
		<td><?php echo $this->escape($lobjstudents['SemesterMainName']);?></td>
		<td><?php echo $this->escape($lobjstudents['invoice_no']);?></td>
		<td><?php echo $this->escape($lobjstudents['fi_name']);?></td>
		<td><?php echo $this->escape($lobjstudents['ac_code']);?></td>
		<td><?php echo isset($lobjstudents['discountName']) ? $lobjstudents['discountName'] : '';?></td>
		<td><?php if($lobjstudents['scholarship']){
			echo "Scholarship";
		}elseif($lobjstudents['sponsorship']){
			echo "Sponsorship";
		}else{
			echo "Self Funding";
			
		}
			?></td>
		<td><?php echo ($lobjstudents['funding'] != 'Self Funding') ? $this->escape($lobjstudents['funding']) : '';?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['courseStatus']);?></td>
		<td align="right">
		<?php if($lobjstudents['cur_id'] == 2){
			echo number_format($lobjstudents['amount'],2);
		}?>	
		</td>
		<td align="right"><?php echo number_format($lobjstudents['amount_convert'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['cn_amount'],2);?></td>
		<td align="right"><?php echo number_format($lobjstudents['nettadjust'],2);?></td>
		<td><?php echo $this->escape($lobjstudents['cnType']);?></td>
		<td align="right"><?php echo isset($lobjstudents['dn_amount']) ? number_format($lobjstudents['dn_amount'],2) : 0;?></td>
		<td align="right"><?php echo number_format($lobjstudents['nett'],2);?></td>
	</tr>

   <?php 
	} 
	?>
	
	<?php 
	if (count($this->paginator)){
	?>
	<tr>
		<td colspan="14" align="right">
		<div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
		</td>
	</tr>
	<?php 
	}
	?>
</table>
<?php } ?>