<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<div style="width:100%;">

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("applicantID");?></th>
		<th><?php echo $this->translate("name");?></th>	
		<th><?php echo $this->translate("programme");?></th>
		<th><?php echo $this->translate("intake");?></th>
		<th><?php echo $this->translate("period");?></th>
		<th><?php echo $this->translate("mark");?></th>
		<th><?php echo $this->translate("status");?></th>
	</tr>
</table>

</div>