<script>

function getDetails(element){
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-nomor'),'default',true);?>",
		data: {'aaud_id':$(element).val()},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$("#dialog_decree_date").val(data.aaud_decree_date);
		$("#academic_year").val(data.ay_code);
		$("#registration_start_date").val(data.aaud_reg_start_date );
		$("#registration_end_date").val(data.aaud_reg_end_date  );
		$("#first_payment_start_date").val( data.aaud_payment_start_date );
		$("#first_payment_end_date").val( data.aaud_payment_end_date );
	});
	
}

function save(){
	$( "#dialog-info" ).dialog('open');
	
}

function getProgramme(element,targetElement){
	var faculty_id = $(element).val();

	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-program'),'default',true);?>",
		data: {'faculty_id':$(element).val()},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {

		
		$(targetElement).empty().append('<option value=""> <?php echo $this->translate("-- All --"); ?> </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].ProgramCode+'"> '+data[index].ProgramName+' </option>');
		});
	});
}

		<?php
		$php_array = $this->localDate;
		$js_array = json_encode($php_array);
		echo "var disabledDays = ". $js_array . ";\n";
		?>

		/* utility functions */
		function noBlockDates(date) {
			
			  var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			  //console.log('Checking (raw): ' + m + '-' + d + '-' + y);
			  for (i = 0; i < disabledDays.length; i++) {
			    if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1) {
			      //console.log('bad:  ' + (m+1) + '-' + d + '-' + y + ' / ' + disabledDays[i]);
			      return [false];
			    }
			  }
			  //console.log('good:  ' + (m+1) + '-' + d + '-' + y);
			  return [true];
		}

		function noBlockDate(date) {		  
		  return noBlockDates(date);
		}

		$(function() {
			// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
			$( "#dialog:ui-dialog" ).dialog( "destroy" );
		
			$( "#dialog-info" ).dialog({
				modal: true,
				autoOpen: false,
				width: 600,
				buttons: {
					   "Save": function() { 
													
							$("#dialog_nomor").css("border","");

							if( !$("#dialog_nomor").val() ){
								 alert("<?php echo $this->translate('Please select Decree Nomor.') ?> ");
							 	 $("#dialog_nomor").css("border","1px solid red");
							}else{
							
								$("#nomor").val($("#dialog_nomor").val());
								
								if( $('#dialog_lock_decree_date').is(':checked') ){
									$("#lock_date").val( 1 );
								}else{
									$("#lock_date").val( 0 );
								}
																 
								$("#myform").submit(); 
							}
						}, 
						"Cancel": function() { 
							$(this).dialog("close"); 
						}
					}//end buttons
				});
	
	
			$('#status_toggler').change(function() {
		        var all_val = $(this).val();

		    	var elements = $('select[name="rector_status[]"]'), element = null;
		    	for (var i = 0, length = elements.length; i < length; i++) {
		    	    element = elements[i];

		    	    $(element).val(all_val);
		    	}
		    	
		    	
			});
	
	       
			
		});


	function save(){
		$( "#dialog-info" ).dialog('open');		
	}

	function changeRating(stat){
		

		if(stat==1){

			var elements = $('select[name="rector_ranking[]"]'), element = null;
	    	for (var i = 0, length = elements.length; i < length; i++) {
	    	    element = elements[i];
	    	    $(this).val(3);	
	    	}
		}else{
			var elements = $('select[name="rector_ranking[]"]'), element = null;
	    	for (var i = 0, length = elements.length; i < length; i++) {
	    	    element = elements[i];
	    	    $(this).val(0);	
	    	}
		}
	}

</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		  <?php if(isset($this->applicant) && (count($this->applicant)>0)){ ?>
			<li>
				<a onclick="save();">
					<span class='save'></span>
					<?php echo $this->translate("save")?>
				</a>
			</li>
			<?php } ?>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<div style="width:100%;">
<?php echo $this->form; ?>

<?php 
if(isset($this->applicant)){
	$i=1;
	
?>	

<?php echo $this->translate("Total Result : ").count($this->applicant);?>
<form name="myform" id="myform" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection','action'=>'save-rector-approval'),'default',true); ?>">

<input type="hidden" name="nomor" id="nomor"  value="">
<input type="hidden" name="lock_date" id="lock_date" value="">

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
	    <th><?php echo $this->translate("no")?></th>
		<th><?php echo $this->translate("no peserta");?></th>
		<th><?php echo $this->translate("name");?></th>	
		<th><?php echo $this->translate("preference");?></th>	
		<th><?php echo $this->translate("program");?></th>	
		<th><?php echo $this->translate("usm mark");?></th>
		<th><?php echo $this->translate("TPA mark");?></th>	
		<th><?php echo $this->translate("ranking");?></th>	
		<th><?php echo $this->translate("action");?><br>
			<select name="status_toggler" id="status_toggler">
		   		<option value="1"><?php echo $this->translate("All Accept")?></option>
		   		<option value="5"><?php echo $this->translate("All Lulus Tahap Pertama")?></option>
		   		<option value="2"><?php echo $this->translate("All Reject Preference ").$this->preference?></option>
		   		<option value="3"><?php echo $this->translate("All Reject Application")?></option>
		   		<option value="4" selected><?php echo $this->translate("All Pending")?></option>
		   	</select></th>	
	</tr>
	
	<?php 
	foreach($this->applicant as $entry){
	
	//get profile
	$profileDB = new App_Model_Application_DbTable_ApplicantProfile();	
	$profile = $profileDB->getData($entry["at_appl_id"]);
	
	//get program
	$programDb = new App_Model_Record_DbTable_Program();
	$program = $programDb->getProgrambyCode($entry["ap_prog_code"]);
	
			if($this->locale=="id_ID"){
				$program_name = $program["ArabicName"];
			}elseif($this->locale=="en_US"){
				$program_name = $program["ProgramName"];
			}
			
	//get ptest info
	$ptestDB = new App_Model_Application_DbTable_ApplicantPtest();
	$ptest = $ptestDB->getPtest($entry["at_trans_id"]);		
	?>

	<tr>
	    <td><?php echo $i; ?>.</td>
		<td><?php echo $ptest["apt_no_pes"];?>&nbsp;</td>
		<td><?php echo $profile["appl_fname"].' '.$profile["appl_mname"].' '.$profile["appl_lname"]?>&nbsp;</td>
		<td><?php echo $entry["ap_preference"];?>&nbsp;</td>
		<td><?php echo '('.$entry["ap_prog_code"].') '.$program_name;?>&nbsp;</td>
		<td><?php echo $entry["ap_usm_mark"];?>&nbsp;</td>
		<?php 
			$ptestDb = new App_Model_Application_DbTable_ApplicantPtest();
			$tpa_mark = $ptestDb->getTpaMark($entry['at_trans_id']);
		?>
		<td align="center"><?php echo $tpa_mark!=null?$tpa_mark:"-";?></td>
		<td>
			<select name="rector_ranking[]" id="rector_ranking">	
				<option value="0" >-</option>
				<option value="1" >1</option>
				<option value="2" >2</option>
				<option value="3" selected >3</option>
			</select>
		
		</td>
		<td align="center">
		    <input type="hidden" name="transaction_id[]" value="<?php echo $entry["at_trans_id"]; ?>">
		    <input type="hidden" name="aau_id[]" value="<?php echo $entry["aau_id"]; ?>">
		    <input type="hidden" name="ap_id[]" value="<?php echo $entry["ap_id"]; ?>">
		    <select name="rector_status[]">
		   		<option value="1" selected><?php echo $this->translate("Accept")?></option>
		   		<?php 
		   			if($entry['at_selection_status']!=1 ||$entry['at_selection_status']!=8){
						$select = "";
						if($entry['at_selection_status']==5){
							$select = "selected='selected'";
						}
		   		?>
		   		<option value="5" <?php echo $select;?>><?php echo $this->translate("Lulus Tahap Pertama")?></option>
		   		<?php }?>
		   		<option value="2"><?php echo $this->translate("Reject Preference ").$this->preference?></option>
		   		<option value="3"><?php echo $this->translate("Reject Application")?></option>
		   		<option value="4"><?php echo $this->translate("Pending")?></option>
		   	</select><!--
		   	
			<select name="rector_status[]">
				<option value="1"><?php echo $this->translate("accept");?></option>
				<option value="2"><?php echo $this->translate("reject");?></option>
				<option value="3"><?php echo $this->translate("pending");?></option>
			</select>
		--></td>
	</tr>
	<?php $i++; }//end foreah?>
	
</table>
</form>
<?php }//end isset?>

</div>




<div id="dialog-info" title="Details Info">
	<h3><?php echo $this->translate("Selection Detail");?></h3>
	<table width="100%" class="table5">
		<tr>
			<td>
				<?php echo $this->translate("Nomor")?>
			</td>
			<td width="5px">:</td>
			<td>				
				<select name="dialog_nomor" id="dialog_nomor" onchange="getDetails(this);">
					<option value=""> -- Please Select -- </option>
					<?php foreach ($this->list_nomor as $list){?>
					<option value="<?php echo $list['aaud_id']?>"><?php echo $list['aaud_nomor']?></option>
					<?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate("Decree Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="dialog_decree_date" id="dialog_decree_date" style="width:250px" disabled />
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate("Close Decree Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="checkbox" name="dialog_lock_decree_date" id="dialog_lock_decree_date" value="1" />
			</td>
		</tr>
	</table>
	
	<h3><?php echo $this->translate("Registration Detail");?></h3>
	<table width="100%" class="table5">
		<tr>
			<td>
				<?php echo $this->translate("Academic year")?>
			</td>
			<td width="5px">:</td>
			<td>	<input type="text" name="academic_year" id="academic_year" style="width:250px" disabled />
				
			</td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<td>
				<?php echo $this->translate("Registration Start Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" class="from" name="registration_start_date" id="registration_start_date" style="width:250px" disabled />
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate("Registration End Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" class="to" name="registration_end_date" id="registration_end_date" style="width:250px" disabled />
			</td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<td>
				<?php echo $this->translate("1st Payment Start Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="first_payment_start_date" id="first_payment_start_date" style="width:250px" disabled />
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate("1st Payment End Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" class="to2" name="first_payment_end_date" id="first_payment_end_date" style="width:250px" disabled />
			</td>
		</tr>
	</table>
</div>