<script>

function getProgramme(element,targetElement){
	var faculty_id = $(element).val();

	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-program'),'default',true);?>",
		data: {'faculty_id':$(element).val()},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {

		
		$(targetElement).empty().append('<option value=""> <?php echo $this->translate("Please Select"); ?> </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].ProgramCode+'"> '+data[index].ProgramName+' </option>');
		});
	});
}

function getPeriod(element,targetElement){
	var intake_id = $(element).val();

	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':$(element).val()},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {

		
		$(targetElement).empty().append('<option value=""> <?php echo $this->translate("All"); ?> </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}


function getPtest(element){
	var ptest = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-date'),'default',true);?>",
		data: {'ptest':ptest},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#aps_test_date').empty().append('<option value=""> <?php echo $this->translate('-- All --'); ?> </option>');
	
		$.each(data, function(index) {
			$('#aps_test_date').append('<option value="'+data[index].aps_test_date+'"> '+data[index].aps_test_date+' </option>');
		});
	});
}


function getLocation(element){
	  var aps_test_date = $(element).val();
	  	
	  	$.ajax({
	  		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-location'),'default',true);?>",
	  		data: {'aps_test_date':aps_test_date},
	  		type: 'POST',
	  		dataType: 'json'	
	  	}).done(function ( data ) {
	  		
	  		$('#aps_id').empty().append('<option value=""> <?php echo $this->translate('-- All --'); ?> </option>');
	  	
	  		$.each(data, function(index) {
	  			$('#aps_id').append('<option value="'+data[index].aps_id+'"> '+data[index].location_name+' </option>');
	  		});
	  	});
}


$(function(){
	 
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
          $('.cbox').attr('checked', this.checked);
    });
 
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".cbox").click(function(){
 
        if($(".cbox").length == $(".cbox:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
 
    });
});



function sendmail(){

	url="<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection','action'=>'send-mail'),'default',true);?>";
	document.form.action = url;
	document.form.submit();
}

function reverse(){

		msg = confirm("<?php echo $this->translate('Are you sure you want to do a reversal?');?>");

		if(msg){
			url="<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection','action'=>'save-reverse-selection'),'default',true);?>";
			document.form.action = url;
			document.form.submit();
		}
		
		
}



</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a onclick="javascript:reverse();">
					<span class='save'></span>
					<?php echo $this->translate("Reverse")?>
				</a>
			</li>
		
		  <?php if(isset($this->applicant_data) && (count($this->applicant_data)>0)){ 
		  			if($this->selection_status==3 || $this->selection_status=5){
		  	?>
			<li>
				<a onclick="javascript:sendmail();">
					<span class='email'></span>
					<?php echo $this->translate("Send Mail")?>
				</a>
			</li>
			<?php } }?>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<div style="width:100%;">
<?php echo $this->form; ?>


<br>


<h3><?php echo $this->translate("Total Data").':'.count($this->applicant_data);?></h3>

<?php
if(isset($this->paginator)){
	
	echo $this->paginationControl($this->paginator, 'Sliding','pagination.phtml',$this->searchParams);
?>
<form name="form" method="post" action="">
<input type="hidden" name="status" value="<?php echo $this->selection_status; ?>" >

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>	
		<th><?php echo $this->translate("Bil");?></th>
		<th><input type="checkbox" id="selectall" name="selectall"></th>
		<th><?php echo $this->translate("applicantID");?></th>
		<th><?php echo $this->translate("name");?></th>		
		<th><?php echo $this->translate("period");?></th>
		<th><?php echo $this->translate("Program Preference");?></th>			
		<th><?php echo $this->translate("Program Selection");?></th>				
		<th><?php echo $this->translate("USM mark");?></th>	
		<th><?php echo $this->translate("rector_rank");?></th>
		<th><?php echo $this->translate("rector_status");?></th>		
		<th><?php echo $this->translate("selection_status");?></th>
		<th><?php echo $this->translate("application_status");?></th>
	</tr>
	
	
	<?php
	$no=1;
	foreach ($this->paginator as $entry){

		$bgcolor = ($no%2 == 0)? 'bgcolor=""': 'bgcolor="#F5ECCE"';
		//get program 
		$programDB = new App_Model_Record_DbTable_Program();
		$program = $programDB->getProgrambyCode($entry["ap_prog_code"]);
		
		//get assessment infp
		//$assessmentDb = new App_Model_Application_DbTable_ApplicantAssessmentUsm();
		//$assessment = $assessmentDb->getInfo($entry["at_trans_id"]);
		
		//get period
		$periodDB = new App_Model_Record_DbTable_AcademicPeriod();
		//$period = $periodDB->getData($entry["at_period"]);
		
		//get applicant program
		$appProgramDb =  new App_Model_Application_DbTable_ApplicantProgram();
		$preference = $appProgramDb->getProgramAssessment($entry["at_trans_id"]);
		//$preference1 = $appProgramDb->getProgramPreference($entry["at_trans_id"],1);
		//$preference2 = $appProgramDb->getProgramPreference($entry["at_trans_id"],2);
		
	?>
	<tr <?php echo $bgcolor; ?>>
	  
		<td align="center" rowspan=2><?php echo $no;?><?php echo $entry["at_trans_id"];?></td>	
		<td align="center" rowspan=2><input type="checkbox" class="cbox"  name="transaction_id[]" value="<?php echo $entry["at_trans_id"];?>"></td>	
		<td rowspan=2><?php echo $entry["at_pes_id"]?></td>
		<td rowspan=2> 			
			<?php echo $entry["appl_fname"].' '.$entry["appl_mname"].' '.$entry["appl_lname"]?>
		</td>	
		<td rowspan=2><?php echo $period["ap_code"];?></td>	
		<td align="center">1</td>
		<td align="center"><?php if(isset($preference[0])) echo $preference[0]["ap_prog_code"].'<br>'.$preference[0]["program_name_indonesia"];?></td>
		<td align='center'><?php echo $preference[0]["ap_usm_mark"];?></td>	
		<td align="center"><?php echo $preference[0]["aau_rector_ranking"];?></td>
		<td align="center">
		<?php 		
		if($preference[0]["aau_rector_status"]==1)echo $this->translate("Accept");
		if($preference[0]["aau_rector_status"]==2)echo $this->translate("Reject");		
		?>
		</td>		
				
		<td  rowspan=2>
		<?php 	
		if($entry["at_selection_status"]==0) echo $this->translate("Waiting For Simulation");
		if($entry["at_selection_status"]==4) echo $this->translate("Waiting For Committee Verification");
		if($entry["at_selection_status"]==1) echo $this->translate("Waiting For Rector Approval");
		if($entry["at_selection_status"]==3) echo $this->translate("Selection Completed");
		?></td>	
		<td  rowspan=2>
		<?php 
		if($entry["at_status"]=="OFFER") {

				echo $this->translate("OFFER");
				
				if(isset($preference[0])) if($preference[0]["ap_usm_status"]==1) echo '<BR>('.$preference[0]["program_name_indonesia"].')';
				if(isset($preference[1])) if($preference[1]["ap_usm_status"]==1) echo '<BR>('.$preference[1]["program_name_indonesia"].')';
	
		}
		if($entry["at_status"]=="PROCESS" && $entry["at_selection_status"]=="5"){
				echo $this->translate("LULUS TAHAP PERTAMA");
				
				if(isset($preference[0])) if($preference[0]["ap_usm_status"]==3) echo '<BR>('.$preference[0]["program_name_indonesia"].')';
				if(isset($preference[1])) if($preference[1]["ap_usm_status"]==3) echo '<BR>('.$preference[1]["program_name_indonesia"].')';				
			}		
		if($entry["at_status"]=="REJECT") echo $this->translate("REJECT");
		?>
		</td>
		
		
	</tr>
	
	<tr <?php echo $bgcolor; ?>>
		<td align="center">2</td>
		<td align="center"><?php if(isset($preference[1])) echo $preference[1]["ap_prog_code"].'<br>'.$preference[1]["program_name_indonesia"];?></td>		
		<td align='center'><?php if(isset($preference[1])) echo $preference[1]["ap_usm_mark"];?></td>			
		<td align="center"><?php if(isset($preference[1])) echo $preference[1]["aau_rector_ranking"];?></td>
		<td align="center">
		<?php 
		if(isset($preference[1])){
			if($preference[1]["aau_rector_status"]==1)echo $this->translate("Accept");
			if($preference[1]["aau_rector_status"]==2)echo $this->translate("Reject");
			
		}
		?>
		</td>
		
		
	</tr>
	<?php 
	$no++;}?>
		
</table>
</form>
<?php }//end paginator ?>
</div>