
<script type="text/javascript">
	function regenerate(type){
		var msg = '<?php echo $this->translate("Confirm to generate the document again?");?>';

		if(confirm(msg)){
			window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'regenerate-document','txn_id'=>$this->txn_id),'default',true);?>/doc_id/"+type;
		}
	}

	function GenerateOfferLetter(type){		
		
		window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'regenerate-document','txn_id'=>$this->txn_id),'default',true);?>/doc_id/"+type;

	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'selection-status'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div width="500px">
	<table class="table2" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="150px"><?php echo $this->translate("Applicant's Name"); ?></th>
			<td>
				<?php echo $this->data['appl_fname']!=null?$this->data['appl_fname']." ":""; ?>
				<?php echo $this->data['appl_mname']!=null?$this->data['appl_mname']." ":""; ?>
				<?php echo $this->data['appl_lname']!=null?$this->data['appl_lname']." ":""; ?>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("applicantID"); ?></th>
			<td><?php echo $this->data['at_pes_id']; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Type"); ?></th>
			<td><?php echo $this->data['at_appl_type']==1?"USM":"PSSB"; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Programme"); ?></th>
			<td>
				<ol>
				<?php
					$registry = Zend_Registry::getInstance();
					$locale = $registry->get('Zend_Locale');
		
					foreach ($this->data['programme'] as $programme):
						
						if ($locale=="en_US"){
			    			echo "<li>".$programme["program_name"]."</li>";
			    		}else if ($locale=="id_ID"){
			    			echo "<li>".$programme["program_name_indonesia"]."</li>";
			    		} 
					endforeach; 
				?>
				</ol>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Date Applied"); ?></th>
			<td><?php echo date("d-m-Y H:i:s", strtotime($this->data['at_submit_date'])); ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Application Status"); ?></th>
			<td>
				<?php
					if( $this->data['at_status']=="APPLY" ){
						echo $this->translate("INCOMPLETE");	
					}else
					if( $this->data['at_status']=="CLOSE" ){
						echo $this->translate("PENDING BANK PIN");	
					}else 
					if( $this->data['at_status']=="PROCESS" ){
						echo $this->translate("SUBMITTED");	
					}else
					if( $this->data['at_status']=="OFFER" ){
						echo $this->translate("SUCCESS");	
					}else
					if( $this->data['at_status']=="REJECT" ){
						echo $this->translate("REJECTED");	
					}else
					if( $this->data['at_status']=="REGISTERED" ){
						echo $this->translate("STUDENT ACCEPTED");	
					}else{
						echo $this->translate("UNKNOWN")."-".$this->data['at_status'];
					}
				?>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Selection Status"); ?></th>
			<td>
				<?php 
					if($this->data['at_selection_status']==0){
						echo $this->translate("Waiting Rank by Dean");
					}else
					if($this->data['at_selection_status']==1){
						echo $this->translate("Waiting Rank by Rector");
					}else
					if($this->data['at_selection_status']==3){
						if($this->selection_data['aar_rector_status']==1){
							echo $this->translate("Accepted");
						}else
						if($this->selection_data['aar_rector_status']==2){
							echo $this->translate("Rejected");
						}else{
							echo $this->translate("Rector Rank Error...");
						}	
					}
				?>
			</td>
		</tr>
	</table>	
</div>

<h3><?php echo $this->translate("Uploaded Document");?></h3>
<?php 
  
    $photopath = '';
    $nricpath = '';
    $medicalpath = '';
    $raportpath = '';
     
 	$fileDB = new App_Model_Application_DbTable_ApplicantUploadFile();
    
	$photo = $fileDB->getTxnFile($this->txn_id,33); //photo
	$photopathupload=$photo["pathupload"];
	if($photopathupload){
		$dt = explode("triapp",$photopathupload);
		$path = $dt[1];
		$photopath ="<a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a>";
	}
	
	$nric = $fileDB->getTxnFile($this->txn_id,34); //nric
	$nricpathupload=$nric["pathupload"];
	if($nricpathupload){
		$dt = explode("triapp",$nricpathupload);
		$path = $dt[1];
		$nricpath ="<a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a>";
	}
	
 ?>
<table class="table" width="80%">
	<tr>
		<th width="30%"><?php echo $this->translate("Gambar 4x6");?></th>
		<td><?php echo $photopath;?>
		</td>
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("KTP/SIM (Citizen Id)");?></th>
		<td><?php echo $nricpath; ?>
		</td>
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("Surat Dokter Tidak Buta Warna");?></th>
		<td>
		<?php 
		$medical = $fileDB->getTxnFileArray($this->txn_id,36); //Medical Report 
		echo '<ul>';	
		foreach($medical as $m){			
			$medicalpathupload=$m["pathupload"];
			if($medicalpathupload){
				$dt = explode("triapp",$medicalpathupload);
				$path = $dt[1];				
				echo $medicalpath ="<li><a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a></li>";
			}
		}
		echo '</ul>';	
		?>
		</td>
	</tr>
	<?php if($this->data['at_appl_type']==2){?>
	<tr>
		<th width="30%"><?php echo $this->translate("Raport Halaman Identitas, Halaman nilai Kelas 1 dan 3, serta 3");?></th>
		<td>
		<?php 
		$raport = $fileDB->getTxnFileArray($this->txn_id,37); //Raport/transcript
		echo '<ul>';
		foreach($raport as $r){	
	    	$raportpathupload=$r["pathupload"];
			if($raportpathupload){
				$dt = explode("triapp",$raportpathupload);
				$path = $dt[1];
				echo $raportpath ="<li><a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a></li>";
			}
		}
		echo '</ul>';	
		?>
		</td>
	</tr>
	<?php } ?>
</table>

<br>


<h3>
	<?php echo $this->data['at_appl_type']==1?"USM":"PSSB"; ?>
	<?php echo $this->translate("Document");?>
</h3>




<table class="table" width="80%">
	<tr>
		<th width="35%"><?php echo $this->translate("Jenis");?></th>
		<th width="35%"><?php echo $this->translate("Nama File");?></th>
		<th>&nbsp;</th>
	</tr>
	
   <?php if($this->data['at_appl_type']==1){?>
   
	<!-- Bank Validation (USM Only) -->
	<tr>
		<td width="35%"><?php echo $this->translate("Surat Pengesahan Bank");?></td> 
		<td width="35%"><?php if(isset($this->arr_doc[2][0])){ echo $this->arr_doc[2][0]['ad_filename'];}?></td>
		<td>
			<?php 
				  if(isset($this->arr_doc[2][0])){?>
						[<a href="<?php echo "http://".ONNAPP_HOSTNAME."/documents/".$this->arr_doc[2][0]['ad_filepath']."/".$this->arr_doc[2][0]['ad_filename']; ?>" target="_BLANK">
							<?php echo $this->translate("Download");?>
						</a>]
				<?php } ?><!--		
						[<a href="#" onclick="regenerate('32');">
							<?php echo $this->translate("Regenerate");?>
						</a>]
			

		--></td>
	</tr>
	
	<!-- Kartu (USM Only) -->
	<tr>
		<td width="35%"><?php echo $this->translate("Kartu Ujian Saringan Masuk");?></td> 
		<td width="35%"><?php if(isset($this->arr_doc[0][0])) echo $this->arr_doc[0][0]['ad_filename'];?></td>
		<td><?php 
				  if(isset($this->arr_doc[0][0])){ ?>
						[<a href="<?php echo "http://".ONNAPP_HOSTNAME."/documents/".$this->arr_doc[0][0]['ad_filepath']."/".$this->arr_doc[0][0]['ad_filename']; ?>" target="_BLANK">
							<?php echo $this->translate("Download");?>
						</a>]
				<?php } ?><!--	
						[<a href="#" onclick="regenerate('30');">
							<?php echo $this->translate("Regenerate");?>
						</a>]
			--></td>
	</tr>
	
	<!-- Surat Undangan Orang Tua (USM Only) -->
	<tr>
		<td width="35%"><?php echo $this->translate("Surat Undangan Orang Tua");?></td> 
		<td width="35%"><?php if(isset($this->arr_doc[3][0])) echo $this->arr_doc[3][0]['ad_filename'];?></td>
		<td><?php 
				  if(isset($this->arr_doc[3][0])){ ?>
						[<a href="<?php echo "http://".ONNAPP_HOSTNAME."/documents/".$this->arr_doc[3][0]['ad_filepath']."/".$this->arr_doc[3][0]['ad_filename']; ?>" target="_BLANK">
							<?php echo $this->translate("Download");?>
						</a>]
				 <?php } ?><!--		
				
						[<a href="#" onclick="regenerate('42');">
							<?php echo $this->translate("Regenerate");?>
						</a>]
			--></td>
	</tr>
	<?php } ?>
	
	
	
	
	<?php if($this->data['at_appl_type']==2){ ?>
	<!-- Confirmation Letter -->
	<tr>
		<td width="35%"><?php echo $this->translate("Surat Bukti Pendaftaran Calon Mahasiswa");?></td>
		<td width="35%"><?php if(isset($this->arr_doc[1][0])) echo $this->arr_doc[1][0]['ad_filename'];?></td>
		<td><?php 
				  if(isset($this->arr_doc[1][0])){ ?>
						[<a href="<?php echo "http://".ONNAPP_HOSTNAME."/documents/".$this->arr_doc[1][0]['ad_filepath']."/".$this->arr_doc[1][0]['ad_filename']; ?>" target="_BLANK">
							<?php echo $this->translate("Download");?>
						</a>]
				<?php } ?><!--		
						[<a href="#" onclick="regenerate('31');">
							<?php echo $this->translate("Regenerate");?>
						</a>]
			--></td>
	</tr>
	<?php } ?>
	
		
	<!-- Offer Letter -->
	
	<tr>
		<td width="35%"><?php echo $this->translate("Surat Penerimaan Calon Mahasiswa");?></td> 
		<td width="35%"><?php if(isset($this->arr_doc[4][0])) echo $this->arr_doc[4][0]['ad_filename'];?></td>
		<td><?php 
			if($this->data['at_status']=="OFFER"){
				  if(isset($this->arr_doc[4][0])){  ?>
						[<a href="<?php echo "http://".ONNAPP_HOSTNAME."/documents/".$this->arr_doc[4][0]['ad_filepath']."/".$this->arr_doc[4][0]['ad_filename']; ?>" target="_BLANK">
							<?php echo $this->translate("Download");?>
						</a>]
				<?php } ?><!--
						[<a href="#" onclick="GenerateOfferLetter(45);">
							<?php echo $this->translate("Regenerate");?>
						</a>]
			--><?php 
			}//end if 
			?></td>
	</tr>
</table>



<h3><?php echo $this->translate("Rector Rating");?></h3>
<table width="50%">
	<tr>
		<th width="10%">Rank</th>
		<td width="1%">:</td>
		<td><?php echo $this->selection_data['aau_rector_ranking'];?></td>
	</tr>
	<tr>
		<th>Status</th>
		<td>:</td>
		<td>
			<?php 
				if($this->selection_data['aau_rector_status']==1){
					echo $this->translate("Accepted");
				}else
				if($this->selection_data['aau_rector_status']==2){
					echo $this->translate("Rejected");
				}
			?>
		</td>
	</tr>
</table>