

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });



  function getPtest(element){
  	var ptest = $(element).val();
  	
  	$.ajax({
  		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-date'),'default',true);?>",
  		data: {'ptest':ptest},
  		type: 'POST',
  		dataType: 'json'	
  	}).done(function ( data ) {
  		
  		$('#aps_test_date').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
  	
  		$.each(data, function(index) {
  			$('#aps_test_date').append('<option value="'+data[index].aps_test_date+'"> '+data[index].aps_test_date+' </option>');
  		});
  	});
  }


  function getLocation(element){
	  var aps_test_date = $(element).val();
	  	
	  	$.ajax({
	  		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-location'),'default',true);?>",
	  		data: {'aps_test_date':aps_test_date},
	  		type: 'POST',
	  		dataType: 'json'	
	  	}).done(function ( data ) {
	  		
	  		$('#aps_id').empty().append('<option value=""> <?php echo $this->translate('All'); ?> </option>');
	  	
	  		$.each(data, function(index) {
	  			$('#aps_id').append('<option value="'+data[index].aps_id+'"> '+data[index].location_name+' </option>');
	  		});
	  	});
  }

  
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
						
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?php echo $this->form;?>
<br></br>

<?php if(isset($this->formData)){?>
<div id="tabs">
	<ul>
    <li><a href="#tabs-1"><?php echo $this->translate("Preference 1")?></a></li>
    <li><a href="#tabs-2"><?php echo $this->translate("Preference 2")?></a></li>    
    </ul>
    
  	
  	
  	<!--  	start div tab 1	-->
  	<div id="tabs-1">
      
          
           <?php 
			if(isset($this->college)){ 
					foreach($this->college as $college){	
						
						$programDB = new App_Model_Record_DbTable_Program();
						$program_list = $programDB->searchAllProgram(array('IdCollege'=>$college["IdCollege"]));
						
						if($this->locale=="id_ID"){
							$college_name = $college["ArabicName"];
						}else{
							$college_name = $college["CollegeName"];
						}
			?>
			
			<h4><?php echo $college_name; ?></h4>
			<table class="table2" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>
					<th ><?php echo $this->translate("Programme")?></th>
					<th width="10%" ><?php echo $this->translate("Total Apply")?></th>					
					<th width="10%" ><?php echo $this->translate("Total Pass")?></th>					
					<th width="10%" ><?php echo $this->translate("Total Fail")?></th>
				</tr>
				
				<?php if(isset($program_list)) {
						foreach($program_list as $program){
						
							if($this->locale=="id_ID"){
								$program_name = $program["ArabicName"];
							}else{
								$program_name = $program["ProgramName"];
							}
							
							$transDB = new App_Model_Application_DbTable_ApplicantTransaction();
				
							$url = $this->url(array('module'=>'application',
													'controller'=>'usm-selection',
													'action'=>'list-pass-usm',
													'ptest'=>$this->ptest,
													'preference'=>1,
													'intake_id'=>$this->intake_id,
													'period_id'=>$this->period_id,
											    	'faculty'=>$college["IdCollege"],
													'programme'=>$program["ProgramCode"],
													'aps_id'=>$this->aps_id,
													'aps_test_date'=>$this->aps_test_date												
													),'default',true);
							
				?>
				
				<tr>
					<td><?php echo '('.$program["ProgramCode"].') '.$program_name; ?></td>
					<td align="center"><?php echo count($transDB->getUSMApplicant($this->ptest,1,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></td>
					<td align="center"><a href="<?php echo $url; ?>"><?php echo count($transDB->getApplicantPassUSM($this->ptest,1,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></a></td>
					<td align="center"><?php echo count($transDB->getApplicantFailUSM($this->ptest,1,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></td>	
				</tr>
				
				<?php }  } //end program?>
				
			</table>
			
			<?php  }  } //end isset college?>
			
  	</div>
  	<!--  end div tab 1	-->
  	
  	
  	
  	
  	<!--  	start div tab 2	-->
  	<div id="tabs-2">
      
        
            <?php 
			if(isset($this->college)){ 
					foreach($this->college as $college){	
						
						$programDB = new App_Model_Record_DbTable_Program();
						$program_list = $programDB->searchAllProgram(array('IdCollege'=>$college["IdCollege"]));
						
						if($this->locale=="id_ID"){
							$college_name = $college["ArabicName"];
						}else{
							$college_name = $college["CollegeName"];
						}
			?>
			
			<h4><?php echo $college_name; ?></h4>
			<table class="table2" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>
					<th ><?php echo $this->translate("Programme")?></th>
					<th width="10%" ><?php echo $this->translate("Total Apply")?></th>					
					<th width="10%" ><?php echo $this->translate("Total Pass")?></th>					
					<th width="10%" ><?php echo $this->translate("Total Fail")?></th>
				</tr>
				
				<?php if(isset($program_list)) {
						foreach($program_list as $program){
						
							if($this->locale=="id_ID"){
								$program_name = $program["ArabicName"];
							}else{
								$program_name = $program["ProgramName"];
							}
							
							$transDB = new App_Model_Application_DbTable_ApplicantTransaction();
							
							$url = $this->url(array('module'=>'application',
													'controller'=>'usm-selection',
													'action'=>'list-pass-usm',
													'ptest'=>$this->ptest,
													'preference'=>2,
													'intake_id'=>$this->intake_id,
													'period_id'=>$this->period_id,
											    	'faculty'=>$college["IdCollege"],
													'programme'=>$program["ProgramCode"],
													'aps_id'=>$this->aps_id,
													'aps_test_date'=>$this->aps_test_date												
													),'default',true);
							
							
				?>
				
				<tr>
					<td><?php echo '('.$program["ProgramCode"].') '.$program_name; ?></td>
					<td align="center"><?php echo count($transDB->getUSMApplicant($this->ptest,2,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></td>
					<td align="center"><a href="<?php echo $url; ?>"><?php echo count($transDB->getApplicantPassUSM($this->ptest,2,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></a></td>
					<td align="center"><?php echo count($transDB->getApplicantFailUSM($this->ptest,2,$this->intake_id,$this->period_id,0,$this->load_previous_period,$program["ProgramCode"],$this->aps_id,$this->aps_test_date));?></td>	
				</tr>
				
				<?php }  } //end program?>
				
			</table>
			
			<?php  }  } //end isset college?>
			
   	</div>
  	<!--  start div tab 2	-->
  
</div>
<?php }//enf isset?>
<br>
<br>