<script type="text/javascript">

$(function()
		{

			$( ".datepicker" ).datepicker({
		  		'dateFormat': 'dd-mm-yy'
		  	});
  	
			$("input[name=searchby]").on('change', function()
			{
				$("#searchpayee").val('');
				initAutocomplete();
			});

			$("#rcp_payee_type").on('change', function()
			{
				initAutocomplete();
			});

			initAutocomplete();
		});


function initAutocomplete()
{
	var term = $("#searchpayee").val();
	var type = $("#rcp_payee_type").val();
	var searchby = $("input[name=searchby]:checked").val();
	
	type = type == 645 ? 0 : 1;
	

	$( "#searchpayee" ).autocomplete({
        source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-applicant-student'), 'default', true); ?>/type/'+type+'/searchby/'+searchby,
        minLength: 2,
        search: function(event, ui) {
            $("#search_status").html('<?php echo $this->translate('searching...'); ?>');
        },
        response: function (event, ui) {
            $("#search_status").html('');
        },
        select: function(event, ui) {
            
			
            $('#payee_id').val(ui.item.key);
			search_payer();
			setTimeout(function(){ $("#searchpayee").val(ui.item.label)} ,250);
			return false;
			
        }
    });
}

var inv_amounts = [];

function search_payer(){
  	
  	var currency_used = $('#currency_used').val();
	$.ajax({
	cache : false,
	type: 'POST',
	dataType: 'json',
	url: "/studentfinance/invoice/search-payee",
	data: {	
			'rcp_payee_type':$('#rcp_payee_type').val(), 
			'payee_id':$('#payee_id').val(), 
			'payee_invoice_no':$('#payee_invoice_no').val(), 
			'payee_proforma_no':$('#payee_proforma_no').val()
			},
	beforeSend : function() {
		
		/*$.blockUI({ 
            message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> <?php echo $this->translate('Searching'); ?>...</div></div>', 
        });*/ 
		
		$('#dis_payee_name').html('');
		$('#dis_payee_id').html('');
		$('#dis_payee_type').html('');
		$('#dis_program').html('');
    }		
}).done(function(data) {

	//$.unblockUI
	
	if(data == null){
		alert('<?php echo $this->translate('Payee not found'); ?>');
	}else{
		$('#dis_payee_name').html(data.payee_name);
		$('#dis_payee_id').html(data.payee_id);
		$('#dis_program').html(data.program_name);
		$(".payee").attr("data-payee", "1");
		$(".payment").attr("data-payment", "1");

		getfeestructurelist(data.fs_id);
		getsemester(data.scheme_id);
		
		$('#dis_payee_type').html( $( "#rcp_payee_type option:selected" ).text() );

		$('#payee_id').val(data.trans_id);
		$('#payee_type').val($( "#rcp_payee_type option:selected" ).val());
		

		//invoice
		$('#tbl_invoices tbody').empty();
		
		inv_amounts['MYR'] = 0;
		inv_amounts['USD'] = 0;

		if (typeof data.invoice != 'undefined') {
			var amountInvoice = 0;
			$.each(data.invoice, function(key,value){

				var balanceAmount = parseFloat(value.balance);
				if(currency_used == 2){
					amountInvoice = value.inv_total_usd;
				}else if(currency_used == 1){
					amountInvoice = value.inv_total_myr;
				}else{
					amountInvoice = 0;
				}
		
				//amountInvoice += parseFloat(value.balance);
				
				inv_amounts['MYR'] +=  parseFloat(value.amount_myr);
				inv_amounts['USD'] +=  parseFloat(value.amount_usd);

				$('#tbl_invoices tbody').append(
					$('<tr id="invrow-'+value.id+'">')
					.append('<td>'+value.bill_number)
					.append('<td>'+value.fee_item_description)
					.append('<td>'+value.SemesterName)
					.append('<td align="right" class="inv_myr"><font color="'+(value.cur_code=='MYR' ? 'green' : 'black')+'">'+value.amount_myr+'</font>')
					.append('<td align="right" class="inv_myr"><font color="'+(value.cur_code=='USD' ? 'green' : 'black')+'">'+value.amount_usd+'</font>')
					//.append('<td align="right">'+value.amount_default_currency)
					.append('<td align="right">'+value.paid)
					.append('<td align="right">'+value.balance)
					.append('<td align="left">'+value.status)
							
				);
			});
			
			$('#tbl_invoices tbody').append('<input type="hidden" name="amountInvoice" id="amountInvoice" value="'+amountInvoice+'">');
			
			$('#tbl_invoices tbody').append(
				$('<tr>')
				.append('<td colspan="3" align="right">Total')
				.append('<td align="right">'+parseFloat(inv_amounts['MYR']).toFixed(2))
				.append('<td align="right">'+parseFloat(inv_amounts['USD']).toFixed(2))
				.append('<td colspan="4">')
			);

			$('#ui-accordion-accordion-header-1').html('<?php echo $this->translate('Invoice'); ?> ('+data.invoice.length+')');
		}else{

			$('#ui-accordion-accordion-header-1').html('<?php echo $this->translate('Invoice'); ?> (0)');
			
			$('#tbl_invoices tbody').append(
				$('<tr>')
				.append('<td colspan="8" align="center"><?php echo $this->translate('Not Available'); ?></td>')		
			);
		}
		

		//saveSession('payee_id', data.payee_id);
		//saveSession('appl_id', data.appl_id);
		//saveSession('payee_type', data.payee_type);
	}

	
	
});

	
}

function getfeestructurelist(id){
	 $.ajax({ 
	        type: "POST",
	        url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'ajax-get-fee-item'),'default',true);?>", 
	        data:"id="+id,
	        context: document.body, 
	        success: function(data){
	      
	            $("#LoadingImage").ajaxStop(function () {
	                $(this).hide();
	            });
	            response = eval(data);
	           
	            fi_id.options.length = 0;
	            fi_id.options[0]=new Option('-- Please select --','');
	          	
	            for(var i=0; i<response.length; i++){
	            	fi_id.options[i+1]=new Option(response[i].fi_name +" ("+response[i].fi_code + ')',response[i].fi_id);
	            }

	        }
	    });
}

function getsemester(id){
	 $.ajax({ 
	        type: "POST",
	        url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'ajax-get-semester'),'default',true);?>", 
	        data:"id="+id,
	        context: document.body, 
	        success: function(data){
	      
	            $("#LoadingImage").ajaxStop(function () {
	                $(this).hide();
	            });
	            response = eval(data);
	           
	            semester_id.options.length = 0;
	            semester_id.options[0]=new Option('-- Please select --','');
	          	
	            for(var i=0; i<response.length; i++){
	            	semester_id.options[i+1]=new Option(response[i].SemesterMainCode,response[i].IdSemesterMaster);
	            }

	        }
	    });
}



</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/invoice">
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<table class="" width="100%" cellpadding="10px" cellspacing="10px">
		<tr>
				<td width="150px"><?php echo $this->translate('Type');?></td>
				<td>
						<select class="select" name="rcp_payee_type" id="rcp_payee_type">
						<?php 
						foreach ($this->payee_type_list as $payee_type){
						?>
							<option value="<?php echo $payee_type['idDefinition']; ?>"><?php echo $payee_type['DefinitionDesc']; ?></option>
						<?php 
						}
						?>
						</select>

						<input type="radio" name="searchby" value="0" id="search-0"/> <label for="search-0"><?php echo $this->translate('ID')?></label>
						<input type="radio" name="searchby" value="1" id="search-1" checked="checked" /> <label for="search-1"><?php echo $this->translate('Name')?></label>
				</td>
				</tr>
			<tr>
				<td width="150px"><?php echo $this->translate('Name/ID')?></td>
				<td colspan="3">
					<input type="text" id="searchpayee" value="" class="input-txt" style="margin-bottom:4px" /> <span id="search_status"></span><br />
					
				</td>
			</tr>
			
				<!--<td><?php echo $this->translate('Payee ID');?></td>
				<td><input type="text" name="payee_id" id="payee_id" class="input-txt"/></td>
			-->
			<!--<tr>
				<td><?php echo $this->translate('Proforma Invoice No.');?></td>
				<td><input type="text" name="payee_proforma_no" id="payee_proforma_no" class="input-txt" /></td>
				<td><?php echo $this->translate('Invoice No.');?></td>
				<td><input type="text" name="payee_invoice_no" id="payee_invoice_no" class="input-txt" /></td>
			</tr>
		--></table>
<br>
<fieldset>
	<legend>
		<?php echo $this->translate("Invoice Entry Details");?>
	</legend>
	<?php if($this->errMsg=='0') { ?>
					<p colspan="3" style="color: red;" align="center">
						<?php echo $this->translate("Sorry, try another Inovice Id");?>
					</p>
		<?php } ?>
	
	
	
	
	<br/>

		<div id = "studentdetails">
		<table class="table" width="100%">
					<!-- PAYEE -->
					<tr>
						<td width="25%"><?php echo $this->translate('Name');?></td>
						<td width="75%" id="dis_payee_name"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('ID');?></td>
						<td id="dis_payee_id"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Programme');?></td>
						<td id="dis_program"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Type');?></td>
						<td id="dis_payee_type"></td>
					</tr>
					
					</table>	
		</div>

		
	<br>
	<table id="tbl_invoices" class="table" width="100%">
					<thead>
						<tr>
							<th><?php echo $this->translate('Invoice Number');?></th>
							<th><?php echo $this->translate('Invoice Description');?></th>
							<th><?php echo $this->translate('Semester');?></th>
							<th><?php echo $this->translate('MYR');?></th>
							<th><?php echo $this->translate('USD');?></th>
							<!--<th><?php echo $this->translate('Default Currency Amount');?></th>
							--><th><?php echo $this->translate('Total Paid');?></th>
							<th><?php echo $this->translate('Total Balance');?></th>
							<th><?php echo $this->translate('Status');?></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="9">&nbsp;</td>
						</tr>
					</tbody>
					
				</table>
	</Form>
</fieldset>

<form id="submitreceipt" method="post" onsubmit="return checkFormValidation();">
<input type="hidden" name="payee_id" id="payee_id" value="" />
<input type="hidden" name="payee_type" id="payee_type" value="" />
		
<br>
<table class="table" width="100%">
	<tr>
		<td><?php echo $this->translate('Invoice Date');?></td>
		<td><input type="text"  name="invoice_date" id="invoice_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
	</tr>
	<tr>
  		<td><?php echo $this->translate('Semester');?></td>
  		<td>
  		<select name="semester_id" id="semester_id" class="input-txt" >
  		</select>
  		</td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Fee Item');?></td>
  		<td>
  		<select name="fi_id" id="fi_id" class="input-txt" >
  		</select>
  		</td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Currency');?></td>
  		<td>
  		<select name="currency_id" id="currency_id" class="input-txt" >
  		<?php foreach($this->currencyList as $cur){?>
  			<option value="<?php echo $cur['cur_id'];?>"><?php echo $cur['cur_code'];?></option>
  			<?php }?>
  		</select>
  		</td>
  	</tr>
  	<tr>
		<td><?php echo $this->translate('Amount');?></td>
		<td><input type="text" name="bill_amount" class="input-txt" id="bill_amount" /></td>
	</tr>
		<tr>
  		<td><?php echo $this->translate('Description');?></td>
  		<td><textarea name="bill_description" id="bill_description" class="input-txt" ></textarea></td>
  	</tr>
  </table>
  
  <div class="form-opt">
		<button id="savebtn"><?php echo $this->translate('Save');?></button>
		<button><?php echo $this->translate('Clear');?></button>
	</div>
