<script>
	function load_installment(element){
		$('#content').html("<h1>Loading...</h1>");

		var installment = $(element).val();
		
		$.ajax({
			type: "POST",
		  	url: "/studentfinance/invoice/applicant-payment-plan-detail",
		  	data: {'id':<?php echo $this->id; ?>, 'installment':installment}
		}).done(function( data ) {
		  	$('#content').html(data);
		});
		
	}

	function print_slip(){

		var installment = $('#installment').val();
		var data = {'id':<?php echo $this->id; ?>, 'installment':installment}

		$('body').append($('<form/>', {
	      id: 'jQueryPostItForm',
	      method: 'POST',
	      action: "/studentfinance/invoice/print-applicant-bank-slip"
	    }));
		
	    for(var i in data){
	      $('#jQueryPostItForm').append($('<input/>', {
	        type: 'hidden',
	        name: i,
	        value: data[i]
	      }));
	    }
		
	    $('#jQueryPostItForm').submit();
	}
</script>

<div id="content">
	<div class="message toolbar">
		<h2><?php echo $this->title; ?></h2>
	</div>
	<br />
	
	<fieldset>
		<legend><?php echo $this->translate("Installment"); ?></legend>
		<select id="installment" onchange="load_installment(this);">
			<?php
				$select = ""; 
				for ($i=1; $i<=$this->data['pp_installment_no']; $i++):
					if($i == $this->installment){
						$select = 'selected="selected"';
					}else{
						$select = "";						
					}
			?>
				<option value="<?php echo $i; ?>" <?php echo $select; ?>><?php echo $this->translate("Installment")." ".$i; ?></option>
			<?php 
				endfor;
			?>
		</select>
		
		<div style="float:right">
			<div class="toolbar-button">
				<ul>
					<li>
						<a onclick="javascript:print_slip();" href="#">
							<span class="print"></span>
							<?php echo $this->translate("Print Bank Slip"); ?>
						</a>
					</li>		
				</ul>
			</div>
		</div>
		
	</fieldset>
	
	<table id="tbl_fee_item" class="table" width="100%">
		<thead>
			<tr>
				<th><?php echo $this->translate("Fee Item"); ?></th>
				<th><?php echo $this->translate("Amount (IDR)"); ?></th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->data['detail'][($this->installment-1)]['invoice']['detail'] as $fee_item): 
		?>
			<tr>
				<td><?php echo $fee_item['fee_item_description']; ?></td>
				<td><?php echo $fee_item['amount']; ?></td>
			</tr>
		<?php 
			endforeach;
		?>
		</tbody>
	</table>
</div>