<script type="text/javascript">
	function cancel_invoice(invoice_id){
		var msg = "Confirm to cancel invoice?";

		if( confirm(msg) ){
			var url = "/studentfinance/invoice/applicant-cancel-invoice"
			var data = {'id':invoice_id, 'appl_id':'<?php echo $this->appl_id; ?>'};

			postIt(url,data);
		}
	}

	function delete_invoice(invoice_id){
		var msg = "Confirm to DELETE invoice?";

		if( confirm(msg) ){
			var url = "/studentfinance/invoice/applicant-delete-invoice"
			var data = {'id':invoice_id, 'appl_id':'<?php echo $this->appl_id; ?>'};

			postIt(url,data);
		}
	}

	function postIt(url, data){
		
	    $('body').append($('<form/>', {
	      id: 'jQueryPostItForm',
	      method: 'POST',
	      action: url
	    }));

	    for(var i in data){
	      $('#jQueryPostItForm').append($('<input/>', {
	        type: 'hidden',
	        name: i,
	        value: data[i]
	      }));
	    }

	    $('#jQueryPostItForm').submit();
	}

	function print_bank_slip(invoice_id){

		
		var data = {'invoice_id':invoice_id}

		$('body').append($('<form/>', {
	      id: 'jQueryPostItForm',
	      method: 'POST',
	      action: "/studentfinance/invoice/print-bank-slip"
	    }));
		
	    for(var i in data){
	      $('#jQueryPostItForm').append($('<input/>', {
	        type: 'hidden',
	        name: i,
	        value: data[i]
	      }));
	    }
		
	    $('#jQueryPostItForm').submit();

	    return false;
	}
</script>

<style type="text/css">
	td.cross{
		color: red;	
	}
</style>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="20px" rowspan="2">&nbsp;</th>
		<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
		<th rowspan="2"><?php echo $this->translate("Invoice No")?></th>
		<th rowspan="2"><?php echo $this->translate("Description")?></th>
		<th rowspan="2"><?php echo $this->translate("Status")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Amount")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Paid")?></th>
		<th width="120px"><?php echo $this->translate("Credit Note")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Balance")?></th>
		<th rowspan="2">&nbsp;</th>
		<th rowspan="2">&nbsp;</th>
	</tr>
	<tr>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
	</tr>
	
	<?php 
	$i=0;
	$total = 0;
	$total_paid = 0;
	$total_balance = 0;
	$total_cn = 0;
	if($this->invoice){
	
	foreach ($this->invoice as $entry):
		if($entry['status']!="X"){
			$total = $total + $entry['debit'];
			$total_paid = $total_paid + $entry['paid'];
			$total_cn = $total_cn + $entry['cn'];
			$total_balance = $total_balance + $entry['balance'];
		}
		
		$css_class = "";
		$css_class = $css_class.($i%2==0?"shade ":"");
		$css_class_status = $entry['status']=='X'?"cross ":""; 
	?>
	<tr class="<?php echo $css_class; ?>">
		<td align="center"><?php echo $i+1;?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
		<td><?php echo $entry['invoice_no']; ?></td>
		<td><?php echo $entry['description']; ?></td>
		<td class="<?php echo $css_class_status; ?>" align="center"><?php echo $entry['status']=="A"?"Active":"Canceled"; ?></td>
		<td><?php echo number_format($entry['debit'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['paid'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['cn'], 2, '.', ','); ?></td>
		<td><?php echo number_format( ($entry['balance']), 2, '.', ','); ?></td>
		<td align="center">
		<small>
			<?php if( /*!isset($entry['payment']) &&*/ $entry['status']!="X" && $entry['balance']>0 ){ ?>
			<a href="#" onclick="print_bank_slip('<?php echo $entry['id']; ?>');">BankSlip</a>
			<!--|
			<a href="#" onclick="cancel_invoice('<?php echo $entry['id']; ?>');">CancelInvoice</a>
			-->
			<?php }?>
		</small>	
		</td>
		<td>
			<small>
				<a href="#" onclick="delete_invoice('<?php echo $entry['id']; ?>');">Delete</a>
			</small>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>
	<tr>
		<td colspan="5" style="background:#FFFFFF;">&nbsp;</td>
		<th><?php echo number_format($total, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_paid, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_cn, 2, '.', ','); ?></th>
		<th><?php echo number_format($total_balance, 2, '.', ','); ?></th>
		<td colspan="2" style="background:#FFFFFF;">&nbsp;</td>
	</tr>
</table>