<script>
function select_plan(fee_structure_id, plan_id, billing){
	var msg = '<?php echo $this->translate("Confirm to generate invoice?"); ?>'

	if(confirm(msg)){
		var url = '/studentfinance/invoice/applicant-generate-invoice'
		var data = {'txn':'<?php echo $this->txn_id?>','fs_id':fee_structure_id, 'fsp_id':plan_id,'billing':billing};
		
		postIt(url, data);
		//console.log(data);
		//parent.$.fancybox.close();
	}
}

function postIt(url, data){
	
    $('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: url
    }));

    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }

    $('#jQueryPostItForm').submit();
}
</script>
<div style="width:500px;">&nbsp;</div>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate("Payment Plan"); ?></th>
		<th><?php echo $this->translate("Total Installment"); ?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
		for($i=0; $i<sizeof($this->payment_plan); $i++):
	?>
	<tr>
		<td><?php echo $this->payment_plan[$i]['fsp_name']; ?></td>
		<td align="center"><?php echo $this->payment_plan[$i]['fsp_bil_installment']; ?></td>
		<td align="center">
			<a href="#" onclick="select_plan(<?php echo $this->payment_plan[$i]['fsp_structure_id']; ?>,<?php echo $this->payment_plan[$i]['fsp_id']; ?>,'<?php echo $this->payment_plan[$i]['fsp_billing_no']; ?>1<?php echo $this->txn_data['at_pes_id']?>');">
				<?php echo $this->translate("Select Payment Plan");?>
			</a>
		</td>
	</tr>
	<?php 
		endfor;
	?>
</table>