<script>
$(function() {
	
});


function generate_invoice(txn_id){
	$.fancybox({
		href : '/studentfinance/invoice/applicant-generate-invoice/txn/'+txn_id,
		type : 'ajax'
	});
}

function view_proforma(txn_id){
	$.fancybox({
		href : '/studentfinance/invoice/applicant-proforma-invoice/txn/'+txn_id,
		type : 'ajax'
	});
}
</script>
  
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("No Pendaftar");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Period");?></th>
		<th><?php echo $this->translate("Application Type");?></th>
		<th><?php echo $this->translate("Programme Name");?></th>
		<th><?php echo $this->translate("Registration Date");?></th>
		<th><?php echo $this->translate("No Pendaftaran");?></th>
		<th><?php echo $this->translate("Ranking");?></th>
		<th width="280px"></th>
	</tr>
	<?php 
	$i=0;
	if($this->data){
	$total = 0;
	foreach ($this->data as $entry):

	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $entry['at_pes_id'];?></td>
		<td align="center"><?php echo $entry['IntakeId'];?></td>
		<td align="center"><?php echo $entry['ap_code'];?></td>
		<td align="center">
			<?php echo $entry['at_appl_type']==1?"USM":"";?>
			<?php echo $entry['at_appl_type']==2?"PSSB":"";?>
		</td>
		<td><?php echo $entry['program_offered']['program_name_indonesia']; ?> (<?php echo $entry['program_offered']['ap_prog_code']; ?>)</td>
		<td align="center">
		<?php 
			if( isset($entry['assessment']['registration_date_start']) ){
				echo date('d-m-Y', strtotime($entry['assessment']['registration_date_start']) );
				echo " to ";
				echo date('d-m-Y', strtotime($entry['assessment']['registration_date_end']) );
			} 
		?>
		</td>
		<td><?php echo $entry['assessment']['nomor']; ?></td>
		<td align="center"><?php echo $entry['assessment']['rank']; ?></td>
		<td align="center">
			<?php if( isset($entry['proforma']) ){?>
			<a href="#" onclick="generate_invoice('<?php echo $entry['at_trans_id'];?>');">Generate Invoice</a>
			|
			<a href="#" onclick="view_proforma('<?php echo $entry['at_trans_id'];?>');">View Proforma-Invoice</a>
			<?php }?>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>
</table>