<script type="text/javascript">
	function create_new_payment_plan(){
		var msg = "<?php echo $this->translate("Are you sure to create new payment plan.");?>";

		if( confirm(msg) ){
			window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'invoice-payment-plan', 'appl_id'=>$this->appl_id),'default',true);?>';
		}
	}

	function view_detail(id){
		 $.fancybox({
		        href            : '/studentfinance/invoice/applicant-payment-plan-detail',
		        type            : 'ajax',
		        ajax            : {
		                type    : "POST",
		                data    : {'id':id},
		        },
		        minWidth		: '700px'
		    })
		    return false;
	}
</script>

<div class="message toolbar tab-toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:create_new_payment_plan()">
					<span class='add'></span>
					<?php echo $this->translate("Create New Payment Plan");?>
				</a>
			</li>
		</ul>
	</div>
</div>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="150px"><?php echo $this->translate("Date Created")?></th>
		<th width="100px"><?php echo $this->translate("Installment No.")?></th>
		<th><?php echo $this->translate("Creator")?></th>
		<th width="150px"><?php echo $this->translate("Total Amount")?> (IDR)</th>
		<th width="100px">&nbsp;</th>
	</tr>
	<?php 
	if($this->data){
		foreach ($this->data as $data):
	?>
	<tr>
		<td><?php echo $data['pp_create_date']; ?></td>
		<td align="center"><?php echo $data['pp_installment_no']; ?></td>
		<td><?php echo $data['creator_name']; ?></td>
		<td><?php echo number_format($data['pp_amount'], 2, '.', ','); ?></td>
		<td align="center"> 
			<a href="#" onclick="view_detail(<?php echo $data['pp_id']; ?>);">view Detail</a>
		</td>
	</tr>
	<?php 
		endforeach;
	}else{
	?>
	<tr>
		<td colspan="6" align="center">
			<?php echo $this->translate("No Payment Plan Record"); ?>
		</td>
	</tr>
	<?php
	} 
	?>
</table>