<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<!-- STEP 1 -->
<?php if($this->step==1):?>
	<script type="text/javascript">
	$(function () {
	    $('#select_all').on('click', function () {
	        $(this).closest('form').find(':checkbox').prop('checked', this.checked);
	    });
	});	
	</script>
	
	<!-- Breadcrum -->
	<div class="breadcrum">
		<ul class="tri-steps">
			<li class="current"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>1),'default',true);?>"><?php echo $this->translate("Invoice Selection"); ?></a></div></li>
			<li class="next"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>
			<!--  <li class="next"><div class="text" style="font-size: 10px; line-height: 16px; padding: 8px 26px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>3),'default',true);?>"><?php echo $this->translate("Advance Payment Knock-off"); ?></a></div></li> -->
			<li class="next"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item Distribution"); ?></a></div></li>
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
		</ul>
		<div class="clear"></div>
	</div>
	<br />
	<!-- End Breadcrum -->
	
	<!-- Profile -->
	<fieldset>
		<legend><?php echo $this->translate("Profile");?></legend>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>
					<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
					<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
					<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><?php echo $this->profile['appl_email']?></td>
			</tr>
		</table>
	</fieldset>
	<!-- End Profile -->
	
	<h2><?php echo $this->translate("Active & Unpaid Invoice"); ?></h2>
	<small>
		<?php echo $this->translate("Please check any invoice you want to create payment plan."); ?>
	</small>
	<form name="pp_s1" method="post">
		<table class="table" width="100%">
			<tr>
				<th width="20px" align="center" style="text-align:center;">
					<input type="checkbox" name="select_all" id="select_all" />
				</th>
				<th width="100px"><?php echo $this->translate("Date")?></th>
				<th><?php echo $this->translate("Invoice No")?></th>
				<th><?php echo $this->translate("Description")?></th>
				<th><?php echo $this->translate("Status")?></th>
				<th width="150px"><?php echo $this->translate("Invoice Amount")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Invoice Paid")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Invoice Balance")?> (IDR)</th>
			</tr>
			<?php 
			for($i=0; $i<sizeof($this->invoice_list); $i++):
				$invoice = $this->invoice_list[$i];
			?>
			<tr>
				<td align="center"><input type="checkbox" name="invoices[]" value="<?php echo $invoice['id'] ?>" <?php echo isset($invoice['selected']) && $invoice['selected']==1?'checked="checked"':''; ?> /></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($invoice['date_create']) ); ?></td>
				<td><?php echo $invoice['bill_number']; ?></td>
				<td><?php echo $invoice['bill_description']; ?></td>
				<td><?php echo $invoice['status']=="A"?"Active":"Canceled"; ?></td>
				<td><?php echo number_format($invoice['bill_amount'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_paid'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_balance'], 2, '.', ','); ?></td>
			</tr>
			<?php 
			endfor;
			?>
		</table>
		
		<div style="width:100%; background:#CCCCCC; text-align: center; margin: 20px 0 0 0;">
			<input type="submit" value="<?php echo $this->translate("Next"); ?>" />
		</div>
	</form>
<?php endif; ?>

<!-- STEP 2 -->
<?php if($this->step==2):?>
	<!-- Breadcrum -->
	<div class="breadcrum">
		<ul class="tri-steps">
			<li class="prevDone"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>1),'default',true);?>"><?php echo $this->translate("Invoice Selection"); ?></a></div></li>
			<li class="current"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>
			<!-- <li class="next"><div class="text" style="font-size: 10px; line-height: 16px; padding: 8px 26px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>3),'default',true);?>"><?php echo $this->translate("Advance Payment Knock-off"); ?></a></div></li> -->
			<li class="next"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item Distribution"); ?></a></div></li>			
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
		</ul>
		<div class="clear"></div>
	</div>
	<br />
	<!-- End Breadcrum -->
	
	<!-- Profile -->
	<fieldset>
		<legend><?php echo $this->translate("Profile");?></legend>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>
					<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
					<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
					<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><?php echo $this->profile['appl_email']?></td>
			</tr>
		</table>
	</fieldset>
	<!-- End Profile -->
	
	<h2><?php echo $this->translate("Installment"); ?></h2>

	<form name="pp_s2" method="post">
		<?php echo $this->translate("Number of Installment"); ?> :
		<input type="text" name="installment" value="<?php echo $this->installment; ?>" />
		<div style="width:100%; background:#CCCCCC; text-align: center; margin: 20px 0 0 0;">
			<input type="submit" value="<?php echo $this->translate("Next"); ?>" />
		</div>
	</form>
<?php endif; ?>



<!-- STEP 3 -->
<?php if($this->step==3 && isset($disabled)):?>
	<script type="text/javascript">

	var advance_payment_balance = <?php echo $this->advance_payment_balance; ?>;
	
	$(function () {
	    $('.invoices').on('change', function () {
	        if( this.checked ){

	        	var inv_id = $(this).val();
	        	var inv_no = $(this).attr('invoice_no');
	        	var inv_desc = $(this).parent().next().next().next().html();
		        var inv_amt = $(this).attr('invoice_balance');
				
		        knock_invoice( inv_id,inv_no,inv_amt,inv_desc, $(this) );
	        }else{
	        	unknock_invoice( $(this).val() );
	        }
	    });

	    var jArray= <?php echo json_encode($this->invoice_knockoff ); ?>;

	    $.each(jArray, function(index, value){
	        $('input.invoices[type="checkbox"][invoice_no="'+value.invoice_no+'"]').trigger('click');
	    });
	});	

    

	    	

	function knock_invoice(invoice_id, invoice_no, invoice_balance, desc, element){

		//to check if avd payment is sufficient
		if(advance_payment_balance>0){

			var adv_pymt_amount_use = 0;

			if(advance_payment_balance<invoice_balance){
				adv_pymt_amount_use = advance_payment_balance;
			}else{
				adv_pymt_amount_use = invoice_balance;
			}

			//minus current advance payment balance
			advance_payment_balance = advance_payment_balance - adv_pymt_amount_use;
			
			var html_to_append = '<tr id="inv_'+invoice_id+'">';
			
				html_to_append += '<td>'+invoice_no+'<input type="hidden" name="invoice[]" value="'+invoice_no+'" /></td>';
				html_to_append += '<td>'+desc+'</td>';
				html_to_append += '<td>'+$.number( invoice_balance, 2 )+'</td>';
				html_to_append += '<td>'+$.number( adv_pymt_amount_use, 2 )+'<input type="hidden" name="invoice_adv_pymt_amt[]" value="'+adv_pymt_amount_use+'" /></td>';
				html_to_append += '<td>'+$.number( advance_payment_balance, 2 )+'</td>';
				html_to_append += '</tr>';
				
			$('#tbl_invoice_knock tbody').append(html_to_append);
		}else{
			$(element).removeAttr('checked');
			alert('Not enough amount of advance payment available');
		}
	}

	function unknock_invoice(invoice_id){
		var amount_used = $('#tbl_invoice_knock tbody').find('tr#inv_'+invoice_id+' td:nth-child(4)').find('input[type="hidden"]').val();
		
		advance_payment_balance = advance_payment_balance + parseInt(amount_used) ;

		$('#tbl_invoice_knock tbody').find('#inv_'+invoice_id).remove();

		recalculate_knocked_invoice();
	}

	function recalculate_knocked_invoice(){
		$('#tbl_invoice_knock tbody').empty();

		advance_payment_balance = <?php echo $this->advance_payment_balance; ?>;
		
		$('.invoices').each(function(){
			if( this.checked ){

	        	var inv_id = $(this).val();
	        	var inv_no = $(this).attr('invoice_no');
	        	var inv_desc = $(this).parent().next().next().next().html();
		        var inv_amt = $(this).attr('invoice_balance');
				
		        knock_invoice( inv_id,inv_no,inv_amt,inv_desc );
	        }
		})
			
	}
	</script>
	
	<!-- Breadcrum -->
	<div class="breadcrum">
		<ul class="tri-steps">
			<li class="empty"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>1),'default',true);?>"><?php echo $this->translate("Invoice Selection"); ?></a></div></li>
			<li class="prevDone"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>
			<li class="current"><div class="text" style="font-size: 10px; line-height: 16px; padding: 8px 26px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>3),'default',true);?>"><?php echo $this->translate("Advance Payment Knock-off"); ?></a></div></li>
			<li class="next"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item Distribution"); ?></a></div></li>
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
		</ul>
		<div class="clear"></div>
	</div>
	<br />
	<!-- End Breadcrum -->
	
	<!-- Profile -->
	<fieldset>
		<legend><?php echo $this->translate("Profile");?></legend>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>
					<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
					<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
					<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><?php echo $this->profile['appl_email']?></td>
			</tr>
		</table>
	</fieldset>
	<br />
	<!-- End Profile -->
	
	<fieldset>
		<legend>Advance Payment</legend>
		<table class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Invoice no"); ?></th>
				<th><?php echo $this->translate("Payment Txn RefNo"); ?></th>
				<th><?php echo $this->translate("Description"); ?></th>
				<th><?php echo $this->translate("Creator"); ?></th>
				<th><?php echo $this->translate("Create Date"); ?></th>
				<th><?php echo $this->translate("Total Amount (IDR)"); ?></th>
				<th><?php echo $this->translate("Amount Used (IDR)"); ?></th>
				<th><?php echo $this->translate("Amount Balance (IDR)"); ?></th>
			</tr>
			<?php 
			if($this->advancePaymentList){
			foreach ($this->advancePaymentList as $sdvPymt){
			?>
			<tr>
				<td><?php echo $sdvPymt['advpy_invoice_no']; ?></td>
				<td><?php echo $sdvPymt['transaction_reference']; ?></td>
				<td><?php echo $sdvPymt['advpy_description']; ?></td>
				<td><?php echo $sdvPymt['advpy_creator']==-1?"System Generated":$sdvPymt['name']; ?></td>
				<td><?php echo date('d/m/Y h:ia', strtotime($sdvPymt['advpy_create_date'])); ?></td>
				<td><?php echo isset($sdvPymt['advpy_amount'])?number_format($sdvPymt['advpy_amount'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
				<td><?php echo isset($sdvPymt['advpy_total_paid'])?number_format($sdvPymt['advpy_total_paid'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
				<td><?php echo isset($sdvPymt['advpy_total_balance'])?number_format($sdvPymt['advpy_total_balance'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
			</tr>
			<?php 
			}
			}else{
			?>
			<tr>
				<td colspan="8" valign="center"><?php echo $this->translate("No advance payment available");?></td>
			</tr>
			<?php 
			}
			?>
			<tr>
				<td colspan="7" style="background: #FFF;">&nbsp;</td>
				<th><?php echo number_format($this->advance_payment_balance, 2, '.', ','); ?></th>
			</tr>
		</table>
	</fieldset>
	<br />
	
	<fieldset>
		<legend>Invoice</legend>
		<small>Check on invoice you want to knock-off</small>
		<table class="table" width="100%">
			<tr>
				<th width="20px" align="center" style="text-align:center;">
					&nbsp;
				</th>
				<th width="100px"><?php echo $this->translate("Date")?></th>
				<th><?php echo $this->translate("Invoice No")?></th>
				<th><?php echo $this->translate("Description")?></th>
				<th><?php echo $this->translate("Status")?></th>
				<th width="150px"><?php echo $this->translate("Invoice Amount")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Invoice Paid")?> (IDR)</th>
				<th width="150px"><?php echo $this->translate("Invoice Balance")?> (IDR)</th>
			</tr>
			<?php 
			for($i=0; $i<sizeof($this->invoices); $i++):
				$invoice = $this->invoices[$i];
			?>
			<tr>
				<td align="center">
					<input type="checkbox" name="invoices[]" class="invoices" value="<?php echo $invoice['id'] ?>" invoice_no="<?php echo $invoice['bill_number']; ?>" invoice_balance="<?php echo $invoice['bill_balance']; ?>" <?php echo isset($invoice['selected']) && $invoice['selected']==1?'checked="checked"':''; ?> />
				</td>
				<td align="center"><?php echo date('d-m-Y', strtotime($invoice['date_create']) ); ?></td>
				<td><?php echo $invoice['bill_number']; ?></td>
				<td><?php echo $invoice['bill_description']; ?></td>
				<td><?php echo $invoice['status']=="A"?"Active":"Canceled"; ?></td>
				<td><?php echo number_format($invoice['bill_amount'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_paid'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_balance'], 2, '.', ','); ?></td>
			</tr>
			<?php 
			endfor;
			?>
		</table>
	</fieldset>
	<br />
		
	
	<h2><?php echo $this->translate("Advance Payment Knock-off"); ?></h2>
	<form method="post">
	<table id="tbl_invoice_knock" class="table" width="100%">
		<thead>
			<tr>
				<th>Invoice No</th>
				<th>Invoice Description</th>
				<th width="200px">Invoice Amount(IDR)</th>
				<th width="200px">Advance Payment Use (IDR)</th>
				<th width="200px">Advance Payment Balance (IDR)</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<td style="background:#FFFFFF;" colspan="5">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<br />
	
	<div style="width:100%; background:#CCCCCC; text-align: center;">
		<input type="submit" value="<?php echo $this->translate("Next"); ?>" />
	</div>
	</form>
<?php endif; ?>

<!-- STEP 4 -->
<?php if($this->step==4):?>
	<style type="text/css">
		.editPercent, .editAmount{
			border: 1px solid #CCC;
			background: none repeat scroll 0 0 #FFFFFF;
		}
	</style>
	<script type="text/javascript">

		<?php 
			/*foreach ($this->fee_item as $item){
				echo "var fee_".$item['fi_id']." ";
			}*/
		?>
		$(document).ready(function() {
			$('.editPercent').editable(function(value, settings) { 
				//console.log(this);
			    //console.log(value);
			    //console.log(settings);
				var installment = $(this).attr('installment');
				var fsi_id = $(this).attr('fsi_id');
				var fspd_id = $(this).attr('fspd_id');
				
			     calculatePercentage(this,value);
			     return(value);
			  }, { 
			     type    : 'textarea',
		         submit    : 'OK',
			     tooltip : '',
			     indicator : 'Saving...',  
			 });
	
			 $('.editAmount').editable(function(value, settings) { 
			     console.log(this);
			     //console.log(value);
			     //console.log(settings);
				var installment = $(this).attr('installment');
				var fsi_id = $(this).attr('fsi_id');
				var fspd_id = $(this).attr('fspd_id');
	
							
				 calculateAmount(this,value);
			     return(value);
			  }, { 
			     type    : 'textarea',
			     submit  : 'Save',
			 });
		});
	
		function calculatePercentage(element,value){
			//clear fix amount
			$(element).parent().next().find(".editAmount").html("Click to edit");
			$(element).parent().next().next().find("input[name='feeItemAmount[]']").val(0);
						
			var percent = value;
			var value = $(element).parent().next().next().find("input[name='totVal[]']").val();
	
			var calculatedVal = (value/100)*percent;
			
			$(element).parent().next().next().find(".amount").html(calculatedVal.toFixed(2));
			$(element).parent().next().next().find("input[name='feeItemPercent[]']").val(percent);
			$(element).parent().next().next().find("input[name='feeItemValue[]']").val(calculatedVal);
			
		}
	
		function calculateAmount(element,value){
			//clear percentage amount
			$(element).parent().prev().find(".editPercent").html("Click to edit");
			$(element).parent().next().find("input[name='feeItemPercent[]']").val(0);
			
			var amount = Number(value);
	
			$(element).parent().next().find(".amount").html(amount.toFixed(2));
			$(element).parent().next().find("input[name='feeItemAmount[]']").val(amount);
			$(element).parent().next().find("input[name='feeItemValue[]']").val(amount);

			
		}
	</script>
	
	<!-- Breadcrum -->
	<div class="breadcrum">
		<ul class="tri-steps">
			<li class="empty"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>1),'default',true);?>"><?php echo $this->translate("Invoice Selection"); ?></a></div></li>
			
			<!-- 
			<li class="empty"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>			
			<li class="prevDone"><div class="text" style="font-size: 10px; line-height: 16px; padding: 8px 26px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>3),'default',true);?>"><?php echo $this->translate("Advance Payment Knock-off"); ?></a></div></li> 
			-->
			
			<li class="prevDone"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>			
			
			
			<li class="current"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item Distribution"); ?></a></div></li>			
			<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
		</ul>
		<div class="clear"></div>
	</div>
	<br />
	<!-- End Breadcrum -->
	
	<!-- Profile -->
	<fieldset>
		<legend><?php echo $this->translate("Profile");?></legend>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>
					<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
					<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
					<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><?php echo $this->profile['appl_email']?></td>
			</tr>
		</table>
	</fieldset>
	<br />
	<!-- End Profile -->
	
	<h2><?php echo $this->translate("Fee Item Distribution"); ?></h2>
	
	<fieldset>
		<legend>Fee Items</legend>
		<table class="">
			<?php foreach ($this->fee_item as $fee_item){?>
			<tr>
				<td><?php echo $fee_item['fi_name_bahasa']; ?></td>
				<td>:</td>
				<td>IDR <?php echo isset($fee_item['total_amount'])?number_format($fee_item['total_amount'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
			</tr>
			<?php }?>
		</table>
	</fieldset>
	<br />
	<form method="post">
		<input type="hidden" name="fee_item_size" value="<?php echo sizeof($this->fee_item);?>" />
	<?php
		for($installment_num=1; $installment_num<=$this->installment; $installment_num++):
	?>
	<fieldset>
		<input type="hidden" name="installment[]" value="<?php echo $installment_num;?>" />
		<legend><?php echo $this->translate("Installment")?> <?php echo $installment_num; ?></legend>
		
		<table class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Bill Item");?></th>
				<th><?php echo $this->translate("Calculation Type");?></th>
				<th><?php echo $this->translate("Frequency Mode");?></th>
				<th><?php echo $this->translate("Percent to Pay");?></th>
				<th><?php echo $this->translate("Fix Amount to Pay");?></th>
				<th><?php echo $this->translate("Amount");?></th>
			</tr>
			<?php 
				foreach ($this->fee_item as $index => $item):
			?>
			<tr>
				<td><?php echo $item['fi_name_bahasa']; ?></td>
				<td><?php echo $item['calTypeBahasa']; ?></td>
				<td><?php echo $item['freqModeBahasa']; ?></td>
				<td>
					<?php echo isset($cnt_fee_item)?$cnt_fee_item:"";?>
					<div class="editPercent" installment="<?php echo $installment_num; ?>" fi_id="<?php echo $item['fi_id']; ?>"><?php echo $this->distribution[$installment_num-1][$index]['percentage']!=0?$this->distribution[$installment_num-1][$index]['percentage']:""; ?></div>
				</td>
				<td>
					<div class="editAmount"><?php echo $this->distribution[$installment_num-1][$index]['fix_amount']!=0?$this->distribution[$installment_num-1][$index]['fix_amount']:""; ?></div>
				</td>	
				<td align="right">
					<input type="hidden" name="feeItemId[]" value="<?php echo $item['fi_id']; ?>" />
					<input type="hidden" name="feeItemPercent[]" value="<?php echo $this->distribution[$installment_num-1][$index]['percentage']; ?>" />
					<input type="hidden" name="feeItemAmount[]" value="<?php echo $this->distribution[$installment_num-1][$index]['fix_amount']; ?>" />
					<input type="hidden" name="feeItemValue[]" value="<?php echo $this->distribution[$installment_num-1][$index]['value']; ?>" />
					<input type="hidden" name="totVal[]" value="<?php echo isset($item['total_amount'])?$item['total_amount']:0; ?>" />
					
					<div class="amount">
					<?php 
						$value = 0;
						
						//percentage
						if($this->distribution[$installment_num-1][$index]['percentage']!=null && $this->distribution[$installment_num-1][$index]['percentage']!=0){
							$value = ($item['total_amount']/100)*$this->distribution[$installment_num-1][$index]['percentage'];
						}else//defined amount
						if($this->distribution[$installment_num-1][$index]['fix_amount']!=null && $this->distribution[$installment_num-1][$index]['fix_amount']!=0){
							$value = $this->distribution[$installment_num-1][$index]['fix_amount'];
						}
						
						echo number_format($value, 2, '.', '');
					?>
					</div>
				</td>
			</tr>
			<?php 
				endforeach;
			?>
		</table>
		</fieldset>
		<br />
	<?php
		endfor;
	?>
	
	<div style="width:100%; background:#CCCCCC; text-align: center;">
		<input type="submit" value="<?php echo $this->translate("Next"); ?>" />
	</div>
	</form>
	
<?php endif; ?>

<!-- STEP 5 -->
<?php if($this->step==5):?>
	<!-- Breadcrum -->
	<div class="breadcrum">
		<ul class="tri-steps">
			<li class="empty"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>1),'default',true);?>"><?php echo $this->translate("Invoice Selection"); ?></a></div></li>
			<li class="empty"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>2),'default',true);?>"><?php echo $this->translate("Installment Setup"); ?></a></div></li>			
			
			<li class="prevDone"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item Distribution"); ?></a></div></li>			
			<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'invoice-payment-plan', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
		</ul>
		<div class="clear"></div>
	</div>
	<br />
	<!-- End Breadcrum -->
	
	<!-- Profile -->
	<fieldset>
		<legend><?php echo $this->translate("Profile");?></legend>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>
					<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
					<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
					<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><?php echo $this->profile['appl_email']?></td>
			</tr>
		</table>
	</fieldset>
	<br />
	<!-- End Profile -->
	
	<!-- Invoice -->
	<fieldset>
		<legend><?php echo $this->translate("Invoice"); ?></legend>
		<h2><?php echo $this->translate("Invoice selected for new payment plan"); ?></h2>		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th width="100px"><?php echo $this->translate("Date")?></th>
					<th><?php echo $this->translate("Invoice No")?></th>
					<th><?php echo $this->translate("Description")?></th>
					<th><?php echo $this->translate("Status")?></th>
					<th width="150px"><?php echo $this->translate("Invoice Amount")?> (IDR)</th>
					<th width="150px"><?php echo $this->translate("Invoice Paid")?> (IDR)</th>
					<th width="150px"><?php echo $this->translate("Invoice Balance")?> (IDR)</th>
				</tr>
			</thead>
			<tbody>
			<?php 
			$sum_invoice_amount = 0;
			for($i=0; $i<sizeof($this->invoice_list); $i++):
				$invoice = $this->invoice_list[$i];
				
				$sum_invoice_amount += $invoice['bill_balance'];
			?>
			<tr>
				<td align="center"><?php echo date('d-m-Y', strtotime($invoice['date_create']) ); ?></td>
				<td><?php echo $invoice['bill_number']; ?></td>
				<td><?php echo $invoice['bill_description']; ?></td>
				<td><?php echo $invoice['status']=="A"?"Active":"Canceled"; ?></td>
				<td><?php echo number_format($invoice['bill_amount'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_paid'], 2, '.', ','); ?></td>
				<td><?php echo number_format($invoice['bill_balance'], 2, '.', ','); ?></td>
			</tr>
			<?php 
			endfor;
			?>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">&nbsp;</td>
					<th><?php echo number_format($sum_invoice_amount, 2, '.', ','); ?></th>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<br />
	<!-- End Invoice -->
	
	<!-- Advance Payment -->
	<!-- 
	<fieldset>
		<legend><?php echo $this->translate("Advance Payment Knock-off"); ?></legend>
		<h2><?php echo $this->translate("Advance Payment Record"); ?></h2>
		<table class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Invoice no"); ?></th>
				<th><?php echo $this->translate("Payment Txn RefNo"); ?></th>
				<th><?php echo $this->translate("Description"); ?></th>
				<th><?php echo $this->translate("Creator"); ?></th>
				<th><?php echo $this->translate("Create Date"); ?></th>
				<th><?php echo $this->translate("Total Amount (IDR)"); ?></th>
				<th><?php echo $this->translate("Amount Used (IDR)"); ?></th>
				<th><?php echo $this->translate("Amount Balance (IDR)"); ?></th>
			</tr>
			<?php 
			if( isset($this->advancePaymentList) ){
				foreach ($this->advancePaymentList as $sdvPymt){
			?>
			<tr>
				<td><?php echo $sdvPymt['advpy_invoice_no']; ?></td>
				<td><?php echo $sdvPymt['transaction_reference']; ?></td>
				<td><?php echo $sdvPymt['advpy_description']; ?></td>
				<td><?php echo $sdvPymt['advpy_creator']==-1?"System Generated":$sdvPymt['name']; ?></td>
				<td><?php echo date('d/m/Y h:ia', strtotime($sdvPymt['advpy_create_date'])); ?></td>
				<td><?php echo isset($sdvPymt['advpy_amount'])?number_format($sdvPymt['advpy_amount'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
				<td><?php echo isset($sdvPymt['advpy_total_paid'])?number_format($sdvPymt['advpy_total_paid'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
				<td><?php echo isset($sdvPymt['advpy_total_balance'])?number_format($sdvPymt['advpy_total_balance'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
			</tr>
			<?php 
				}
			}
			?>
			<tr>
				<td colspan="7" style="background: #FFF;">&nbsp;</td>
				<th><?php echo number_format($this->advance_payment_balance, 2, '.', ','); ?></th>
			</tr>
		</table>
		
		
		<h2><?php echo $this->translate("Invoice knock-off from advance payment"); ?></h2>
		<table class="table" width="100%">
			<thead>
				<tr>
					<th>Invoice No</th>
					<th>Invoice Description</th>
					<th width="200px">Invoice Amount(IDR)</th>
					<th width="200px">Advance Payment Use (IDR)</th>
					<th width="200px">Advance Payment Balance (IDR)</th>
					<th width="200px">Invoice Amount Balance (IDR)</th>
				</tr>
			</thead>
			<tbody>
			<?php 
			if( isset($this->invoice_knockoff) ){
				$sum_invoice_balance = 0;
				$advance_payment_balance = $this->advance_payment_balance;
				
				foreach ($this->invoice_knockoff as $invoice){
					$advance_payment_balance -= $invoice['adv_amt'];
					
					$inv_bal = $invoice['invoice_detail']['bill_amount'] - $invoice['adv_amt'];
					
					$sum_invoice_balance += $inv_bal;
			?>
				<tr>
					<td><?php echo $invoice['invoice_no']; ?></td>
					<td><?php echo $invoice['invoice_detail']['bill_description']; ?></td>
					<td><?php echo number_format($invoice['invoice_detail']['bill_amount'], 2, '.', ','); ?></td>
					<td><?php echo number_format($invoice['adv_amt'], 2, '.', ','); ?></td>
					<td><?php echo number_format($advance_payment_balance, 2, '.', ','); ?></td>
					<td><?php echo number_format($inv_bal, 2, '.', ','); ?></td>
				</tr>
			<?php 
				}
			?>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">&nbsp;</td>
					<th><?php echo number_format($sum_invoice_balance, 2, '.', ','); ?></th>
				</tr>
			</tfoot>
			<?php }else{?>
			<tr>
				<td colspan="6" align="center"><?php echo $this->translate("No Invoice Knock-off from advance payment");?></td>
			</tr>
			<?php }?>
		</table>
		
	</fieldset>
	<br />
	 -->
	<!-- End Advance Payment -->
	
	<!--  Fee Item Distribution -->
	<fieldset>
		<legend><?php echo $this->translate("Fee Item Distribution"); ?></legend>
		
		<h2><?php echo $this->translate("Accumulated Fee Items"); ?></h2>
		<table class="">
			<?php foreach ($this->fee_item as $fee_item){?>
			<tr>
				<td><?php echo $fee_item['fi_name_bahasa']; ?></td>
				<td>:</td>
				<td>IDR <?php echo isset($fee_item['total_amount'])?number_format($fee_item['total_amount'], 2, '.', ','):number_format(0, 2, '.', ','); ?></td>
			</tr>
			<?php }?>
		</table>
		
		<h2><?php echo $this->translate("Installment for new payment plan"); ?></h2>
		<?php
		for($installment_num=1; $installment_num<=$this->installment; $installment_num++):
		?>
			
			<b><?php echo $this->translate("Installment")?> <?php echo $installment_num; ?></b>
		
			<table class="table" width="100%">
				<thead>
					<tr>
						<th><?php echo $this->translate("Bill Item");?></th>
						<th><?php echo $this->translate("Calculation Type");?></th>
						<th><?php echo $this->translate("Frequency Mode");?></th>
						<th width="150px"><?php echo $this->translate("Percent to Pay (%)");?></th>
						<th width="150px"><?php echo $this->translate("Fix Amount to Pay (IDR)");?></th>
						<th width="150px"><?php echo $this->translate("Amount (IDR)");?></th>
					</tr>
				</thead>
				<tbody>
				<?php 
					$amount = 0;
					foreach ($this->fee_item as $index => $item):
						$amount += isset($this->distribution[$installment_num-1][$index]['value']) && $this->distribution[$installment_num-1][$index]['value']!=''?$this->distribution[$installment_num-1][$index]['value']:0;
				?>
				<tr>
					<td><?php echo $item['fi_name_bahasa']; ?></td>
					<td><?php echo $item['calTypeBahasa']; ?></td>
					<td><?php echo $item['freqModeBahasa']; ?></td>
					<td align="center">
						<?php echo $this->distribution[$installment_num-1][$index]['percentage']!=0?$this->distribution[$installment_num-1][$index]['percentage']:""; ?>
					</td>
					<td>
						<?php echo $this->distribution[$installment_num-1][$index]['fix_amount']!=0?$this->distribution[$installment_num-1][$index]['fix_amount']:""; ?>
					</td>	
					<td align="left">
						<?php echo isset($this->distribution[$installment_num-1][$index]['value']) && $this->distribution[$installment_num-1][$index]['value']!='' ?number_format($this->distribution[$installment_num-1][$index]['value'], 2, '.', ','):number_format(0, 2, '.', ',');?>
					</td>
				</tr>
				<?php 
					endforeach;
				?>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" style="background: #FFFFFF;">&nbsp;</td>
						<th><?php echo number_format($amount, 2, '.', ','); ?></th>
					</tr>
				</tfoot>
			</table>
			<br />
		<?php 
			endfor;
		?>	
	</fieldset>		

	<h2><?php echo $this->translate("confirmation"); ?></h2>
	<p>
		<?php echo $this->translate("Please click on save button to confirm on this new payment plan"); ?>
	</p>

	<form action="/studentfinance/invoice/invoice-payment-plan/step/confirm" method="post">
		<div style="width:100%; background:#CCCCCC; text-align: center; margin: 10px 0;">
			<input type="submit" value="<?php echo $this->translate("Save"); ?>" />
			<input type="button" value="<?php echo $this->translate("Cancel"); ?>" onclick="window.location = '/studentfinance/invoice/applicant/id/<?php echo $this->appl_id; ?>'" />
		</div>
	</form>
<?php endif; ?>