<?php 
  	$availableCur = count($this->availableCurrency);
  		if($availableCur == 1){
  			$colspan = "";
  		}else{
  			$colspan = "colspan = $availableCur";
  		}
  	?>
    	<table class="table bordered" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th width="20px"  rowspan="2">&nbsp;</th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Transaction Type")?></th>
				<th rowspan="2"><?php echo $this->translate("Reference No")?></th>				
				<th rowspan="2"><?php echo $this->translate("Description")?></th>
				<th <?php echo $colspan;?>><?php echo $this->translate("Debit")?></th>
				<th><?php echo $this->translate("Credit")?></th>
				<th><?php echo $this->translate("Balance")?></th>
			</tr>
			<tr>
			<?php 
			for($a=1;$a<=1;$a++){
					foreach($this->availableCurrency as $key=>$cur){?>
						<th width="80px"><?php echo $cur?></th>
				<?php 
					}
			}?>
			<th width="80px">MYR</th>
			<th width="80px">MYR</th>
			</tr>
			
			<?php 
			$i=0;
			
			if($this->account){
				
			$balance = 0;
			$totalDebit = 0;
			foreach ($this->account as $entry):
				
				$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
				$dataCur = $curRateDB->getCurrentExchangeRate(2);

				$arrayDebit = array();
				if($entry['cur_id'] == 2){
					
					$amountDebit = number_format($entry['debit'] * $dataCur['cr_exchange_rate'],2);
					$arrayDebit['USD'] = $entry['debit'];
					$arrayDebit['MYR'] = $amountDebit;
					$totalDebit = $amountDebit;
					
					
				}
				
				if($entry['cur_id'] == 1){
					$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
					$arrayDebit['MYR'] = $entry['debit'];
					$arrayDebit['USD'] = $amountDebit;
					$totalDebit = $entry['debit'];
					
				}
			
			
			if( $entry['txn_type']=="Invoice" ){
				
				$balance = $balance + $totalDebit;
				
			}elseif( $entry['txn_type']=="Proforma" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment" ){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
			}else
			if( $entry['txn_type']=="Credit Note" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Debit Note" ){
				$balance = $balance + $entry['debit'];
			}else
			if( $entry['txn_type']=="Refund" ){
				$balance = $balance + $entry['debit'];
			}
//			 echo "<br>".$balance ."+";
			
			
			?>
			<tr>
				<td align="center"><?php echo $i+1;?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>				
				<td><?php echo $entry['description']; ?></td>
				<?php 
				//debit
				$color = '#000';
				if($entry['txn_type'] == 'Invoice' || $entry['txn_type'] == 'Proforma'){
					if($this->availableCurrency){
						foreach($this->availableCurrency as $key=>$cur){
							
							foreach($arrayDebit as $keyD=>$dbt){
								
								if($key == $entry['cur_id']){
									$color = 'green';
								}else{
									$color = '#000';
								}
								
								if($cur == $keyD){
									echo '<td align="right"><font color="'.$color.'">'.$dbt.'</font></td>';
								}
								
							}
							
						}
					}
				}else{
					echo '<td align="right">0.00</td>';
					echo '<td align="right">0.00</td>';
				}
				
				?>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['credit']) ? '0.00' : number_format($this->amountCurr[$entry['invoice_no']]['MYR']['credit'],2)?></td>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['balance']) ? '0.00' : $this->amountCurr[$entry['invoice_no']]['MYR']['balance']?></td>
			
			</tr>
			<?php 
			$i++;
			endforeach; 
			?>
			<?php 
			}else{
				
				echo '<tr><td colspan="9">'.$this->translate("There is no record available").'</td></tr>';
			}
			?>
		</table>

