<script>
  $(function() {
    $( "#tabs" ).tabs({
    	spinner: 'Loading..',
      	beforeLoad: function( event, ui ) {

      		$(ui.panel).html("Loading...");
      		
        	ui.jqXHR.error(function() {
          		ui.panel.html(
            	"Couldn't load this tab. We'll try to fix this as soon as possible. " +
            	"If this wouldn't be a demo." );
        	});
      	}
    });
  });
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	<table  width="100%">
		<tr>
			<td width="15%"><?php echo $this->translate("Name"); ?></td>
			<td width="35%">
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_mname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_lname']." ":""; ?>
			</td>
			<td width="15%"><?php echo $this->translate("Status"); ?></td>
			<td width="35%"><?php echo $this->profile['StatusName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("ID"); ?></td>
			<td><?php echo $this->profile['at_pes_id']; ?></td>
			<td><?php echo $this->translate("Fee Structure"); ?></td>
			<td><?php echo $this->profile['fs_name']; ?></td>
		</tr>
		
		<tr>
			<td><?php echo $this->translate("Intake"); ?></td>
			<td><?php echo $this->profile['IntakeDesc']; ?></td>
			<td><?php echo $this->translate("Sponsorship"); ?></td>
			<td><?php echo $this->profile['typeScholarshipName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Programme"); ?></td>
			<td><?php echo $this->profile['ProgramName']; ?></td>
			<td><?php echo $this->translate("Scholarship"); ?></td>
			<td><?php echo $this->profile['applScholarshipName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Programme Scheme"); ?></td>
			<td>
			<?php if ( isset($this->profile['ProgramMode']) && $this->profile['ProgramMode'] != '' ) echo $this->profile['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->profile['StudyMode']) && $this->profile['StudyMode'] != '' ) echo $this->profile['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->profile['ProgramType']) && $this->profile['ProgramType'] != '' ) echo $this->profile['ProgramType'] ?>
			</td>
			<td><?php echo $this->translate("Discount Plan"); ?></td>
			<td></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Student Category"); ?></td>
			<td><?php echo $this->profile['StudentCategory']; ?></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</fieldset>
<br />
<div id="tabs">
  <ul>
    <li><a href="/studentfinance/invoice/student-invoice/id/<?php echo $this->student_registration_id; ?>"><span><?php echo $this->translate("Invoice"); ?></span></a></li><!--     
    <li><a href="/studentfinance/invoice/student-payment-plan/id/<?php echo $this->registration['IdApplication']; ?>/idStudentRegistration/<?php echo $this->registration['IdStudentRegistration']; ?>"><span><?php echo $this->translate("Payment Plan"); ?></span></a></li> 
  --></ul>  
</div>