<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<?php if ( !isset($this->info['cn_billing_no'])) { ?>
			<li>
				<a href="/studentfinance/invoice/cancel/id/<?php echo $this->id;?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to cancel this invoice?')?>')">
					<span class='delete'></span>
					<?php echo $this->translate('Cancel'); ?>
				</a>
			</li>
			<?php }?>
			<?php if ( $this->info['status'] == '0' ) { ?>
			<li>
				<a href="/studentfinance/invoice/approve/id/<?php echo $this->id;?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to approve this invoice?')?>')">
					<span class='approve'></span>
					<?php echo $this->translate('Approve'); ?>
				</a>
			</li>
			<?php } ?>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php
$isStudent = !empty($this->info['IdStudentRegistration']) ? 1 : 0;
?>

<table width="100%" class="table info">
	<tr>
		<th width='200'><?php echo $this->translate('Invoice No.')?></th>
		<td><?php echo $this->info['bill_number']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Name')?></th>
		<td><?php echo $isStudent == 1  ? $this->info['student_name'] : $this->info['applicant_name']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('ID No.')?></th>
		<td><?php echo $isStudent == 1  ? $this->info['registrationId'] : $this->info['at_pes_id']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Semester')?></th>
		<td><?php echo $this->info['SemesterMainCode']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Total Amount')?></th>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->info['bill_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Status')?></th>
		<td><?php 
			if($this->info['status'] == 'A'){
				echo "ACTIVE";
			}else if($this->info['status'] == 'X'){
				echo "CANCEL";
			}else if($this->info['status'] == 'W'){
				echo "WAIVED";
			}else if($this->info['status'] == 'E'){
				echo "EXEMPTED";
			}else if($this->info['status'] == 'S'){
				echo "SPONSORSHIP";
			}else{
				echo "ENTRY";
			}
		?></td>
	</tr>
</table>

<br />

<h3><?php echo $this->translate('Details')?></h3>
<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Fee Item')?></th>
		<th><?php echo $this->Translate('Code')?></th>
		<th><?php echo $this->translate('Amount')?></th>
	</tr>
	<?php foreach ( $this->details as $det ) : ?>
	<tr>
		<td><?php echo $det['fi_name']?></td>
		<td><?php echo $det['fi_code']?></td>
		<td align='center'>
			<?php if ( isset($det['subjects']) ) { ?>
				<?php echo $det['cur_symbol_prefix'].' '.$det['amount'] ?>
				<span class="icon icon-info-circled info tooltip"></span>
				<div class="tooltiptext">
					<table class='table'>
						<tr>
							<th><?php echo $this->translate('Subject')?></th>
							<th><?php echo $this->translate('Amount')?></th>
						</tr>
						<?php foreach ( $det['subjects'] as $sub ):?>
						<tr>
							<td><?php echo $sub['SubjectName']?></td>
							<td align='right'><?php echo $sub['amount']?></td>
						</tr>
						<?php endforeach; ?>
					</table>
				</div>
			<?php } else { ?>
			<?php echo $det['cur_symbol_prefix'].' '.$det['amount']?>
			<?php } ?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>