
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'language', 'action'=>'newlang'),'default',true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
<legend><?php echo $this->translate("Language Search");?></legend>
	<form action="<?php echo $this->baseUrl();?>/generalsetup/language/index/search/1" method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("English");?></td>
					<td><?php echo $this->lobjform->field3;?></td>
				  
				  
				</tr>
			   
				<tr>
				<td align = "center" colspan = "4">

							<?php echo $this->lobjform->Search;?>
							<?php echo $this->lobjform->Clear;?>
				</td>
				
				</tr>
		</table>
	</form>	
</fieldset> 
<br/>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("System");?></th>
		<th><?php echo $this->translate("English");?></th>
		<th><?php echo $this->translate($this->Language);?></th>
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjlang): ?>
	<tr>
		<td><a href="<?php echo $this->baseUrl();?>/generalsetup/language/editlang/id/<?php echo $this->escape($lobjlang['id']);?>" ><?php print_r($this->escape($lobjlang['system']));?></a></td>
	   <td><?php echo $this->escape($lobjlang['english']);?></td>
	   <td><?php echo $this->escape($lobjlang['arabic']);?></td>
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
</table>
<div class="pagination opt">
	<?php echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?>
</div>
