<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/studentfinance/fee-category/add-fee-category">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<table class="table" width="100%">
	<thead>
	<tr>
		<th><?php echo $this->translate('Fee Category Code'); ?></th>
		<th><?php echo $this->translate('Description'); ?></th>
		<th><?php echo $this->translate('Description (Second Language)'); ?></th>
		<th><?php echo $this->translate('Group'); ?></th>
		<th><?php echo $this->translate('Sequence'); ?></th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php 
	if($this->fee_category_list){
		foreach ($this->fee_category_list as $acode){
	?>
	<tr>
		<td><?php echo $acode['fc_code'];?></td>
		<td><?php echo $acode['fc_desc'];?></td>
		<td><?php echo $acode['fc_desc_second_language'];?></td>
		<td><?php echo $acode['DefinitionDesc'];?></td>
		<td align="center"><?php echo $acode['fc_seq'];?></td>
		<td align="center"><a href="/studentfinance/fee-category/edit-fee-category/id/<?php echo $acode['fc_id']; ?>"><?php echo $this->translate('Edit');?></a></td>
	</tr>
	<?php 
		}
	}else{
	?>
	<tr>
		<td colspan="5" align="center"><?php echo $this->translate('No fee category available');?></td>
	</tr>
	<?php 
	}
	?>
	</tbody>
</table>