<?php
if (isset($this->NameconfDetail)) {
  $nameConfDetail = array();
  $nameConfDetail = $this->NameconfDetail;
  $studentdetails = $this->studentdetail;
}
?>

<head>
<script type="text/javascript">
function fnToggleTabs(TabAction,CurrentTabId,NextTabId){        
	if(TabAction == "Next"){
			var flag = true;
			if(flag)
			{
				var mainTabContainerId = dijit.byId("mainTabContainer")
			 	var tabContainerId = dijit.byId(NextTabId);
				mainTabContainerId.selectChild(tabContainerId);
			}
	}else if(TabAction == "Back"){
		var mainTabContainerId = dijit.byId("mainTabContainer")
	 	var tabContainerId = dijit.byId(NextTabId);
		mainTabContainerId.selectChild(tabContainerId);
	}
}
</script>
</head>
<body class="claro"> 
<fieldset>
	<legend><?php echo $this->translate("Student Profile");?></legend>
		<div id="mainTabContainer" dojoType="dijit.layout.TabContainer" doLayout="false" tabPosition="top"  style="width: 1100px;height:auto">
		<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("Student Profile")?>" style="height:auto;width:99%;overflow:auto">
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				 <tr>
        			<th colspan ="4"><?php echo $this->translate("Personal Details"); ?></th>
     			 </tr>
			      <tr>
			        <td><?php echo $this->translate("First Name"); ?></td>
			        <td><?php echo $studentdetails['FName'];?></td>
			        <td><?php echo $this->translate("Last Name"); ?></td>
			        <td><?php echo $studentdetails['LName'];?></td>
			      </tr>
			       <!-- Now create the extra name field according extraname field setting for university -->
     			 <?php
      				if (isset($nameConfDetail) && $nameConfDetail['count'] > 0) {
        			$i = 1;
        			$j = 1;
			        $str = "<tr>";
			        $temp = '';
			        if ($nameConfDetail['count'] == 1) {
			          $field = "NameField1";
			          $temp = "<td>" . $this->translate($nameConfDetail['fields'][1]) . "</td><td>" . $studentdetails['NameField1'] . "</td></tr>";
			          $str = $str . $temp;
			        } else {
			          foreach ($nameConfDetail['fields'] as $key => $value) {
			            $field = "NameField" . $key;
			            if ($i == 1) {
			              $temp = "<td>" . $this->translate($value) . "</td><td>" . $studentdetails['NameField'.$key] . "</td>";
			              $i = 2;
			              if ($j == $nameConfDetail['count']) {
			                $temp = $temp . "</tr>";
			              }
			            } else {
			              $temp = "<td>" . $this->translate($value) . "</td><td>" . $studentdetails['NameField'.$key] . "</td></tr>";
			              $i = 1;
			            }
			            $str = $str . $temp;
			            $j++;
			          }
			        }
			        echo $str;
			      }
			      ?>
			      <!-- Close here for Extra Name field -->
			      <tr>
			      	<td><?php echo $this->translate("Student ID") ?></td>
			      	<td><?php if(isset($studentdetails['registrationId'])) {echo $studentdetails['registrationId'];} ?></td>
			      </tr>
			       <tr>
			        <td>(<?php echo $this->translate($this->defaultlanguage); ?>) <?php echo $this->translate("Name"); ?></td>
			        <td><?php echo $studentdetails['FullArabicName'];?></td>
			        <td><?php echo $this->translate("Date of Birth"); ?></td>
			        <td><?php echo $studentdetails['DateOfBirth'];?></td>
			      </tr>
			      <tr>
		          <td><?php echo $this->translate('Type') . " " . $this->translate('of') . ' ' . $this->translate('ID'); ?></td>
		          <td><?php echo $studentdetails['TypeofId'];?></td>
		          <td><?php echo $this->translate('Id') . " " . $this->translate('No'); ?></td>
		          <td><?php echo $studentdetails['ExtraIdField1'];?></td>
		        </tr>
		        <tr>
		          <td><?php echo $this->translate("Place Of Birth"); ?><span class="reqMark"></span></td>
		          <td><?php echo $studentdetails['PlaceOfBirth'];?></td>
		          <td><?php echo $this->translate("Marital Status"); ?></td>
		          <td><?php echo $studentdetails['Marital'];?></td>
		        </tr>
		        <tr>
		          <td><?php echo $this->translate("Religion"); ?></td>
		          <td><?php echo $studentdetails['Relig'];?></td>
		          <td><?php echo $this->translate("Race"); ?></td>
		          <td><?php echo $studentdetails['Rac'];?></td>
		        </tr>
		        <tr>
		          <td><?php echo $this->translate("Gender"); ?></td>
		          <?php if($studentdetails['Gender']== "0"){?>
		          <td><?php echo "Female"?></td>
		          <?php }else if($studentdetails['Gender']== "1"){?>
		          <td><?php echo "Male"?></td>
		          <?php }else{?>
		          <td></td>
		          <?php }?>
		          <td><?php echo $this->translate("Country") . " " . $this->translate("of") . " " . $this->translate("Origin") . " / " . $this->translate("Citizenship"); ?></td>
		          <td><?php echo $studentdetails['CountryName'];?></td>
		        </tr>
		        <tr>
		          <td><?php echo $this->translate("Special") . " " . $this->translate("Treatment"); ?></td>
		          <td><?php echo $studentdetails['SpecialTreat'];?></td>
		          <td><?php echo $this->translate("Special") . " " . $this->translate("Treatment") . " " . $this->translate("Type"); ?></td>
		          <td><?php echo $studentdetails['SpecialTreatType'];?></td>
		        </tr>
		        <tr>
						<td colspan = "4" align = "right">
							<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-one','tab-two')">
						</td>
				</tr>	
			</table>
		</div>
		<div dojoType="dijit.layout.ContentPane" id="tab-two" title="<?php echo $this->translate("Contact Info");?>" style="height: auto;width:99%;overflow:auto">
		            <?php echo $this->partial("studentprofile/studentinfo.phtml", array('studentprofileForm' => $this->studentprofileForm,'persdet'=>$this->persdet)); ?>
		</div>
		<div dojoType="dijit.layout.ContentPane" id="tab-three" title="<?php echo $this->translate("Emergency Info");?>" style="height: auto;width:99%;overflow:auto">
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
	        <td><?php echo $this->translate("Relationship Type"); ?><span class="reqMark">*</span></td>
	        <td><?php echo $studentdetails['Relation'];?></td>
	        <td><?php echo $this->translate("Name");?></td>
	        <td><?php echo $studentdetails['RelativeName'];?></td>
	      </tr>
	      <tr>
		      <td><?php echo $this->translate("Address"); ?></td>
	          <td><?php echo $studentdetails['EmergencyAddressDetails'];?></td>
	          <td><?php echo $this->translate("Country"); ?></td>
	          <td><?php echo $studentdetails['Emergencycountry'];?> </td>
		 </tr>
		 <tr>
		      <td><?php echo $this->translate("State"); ?></td>
	          <td><?php echo $studentdetails['StateName'];?></td>
	          <td><?php echo $this->translate("City"); ?></td>
	          <td><?php echo $studentdetails['CityName'];?> </td>
		 </tr>
		  <tr>
		      <td><?php echo $this->translate("Zip"); ?></td>
	          <td><?php echo $studentdetails['EmergencyZip'];?></td>
	          <td><?php echo $this->translate("Tel ( Mobile )"); ?></td>
	          <td><?php echo $studentdetails['EmergencyCellPhone'];?> </td>
		 </tr>
		 <tr>
		      <td><?php echo $this->translate("Tel ( Home )"); ?></td>
	          <td><?php echo $studentdetails['EmergencyHomePhone'];?></td>
	          <td><?php echo $this->translate("Tel ( Office )"); ?></td>
	          <td><?php echo $studentdetails['EmergencyOffPhone'];?> </td>
		 </tr>
		 <tr>
			   <td colspan = "4" align = "right">
					<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-three','tab-seven')">
			   		<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-three','tab-two')">
			   </td>
		</tr>	
			</table>
		</div>
                    <!-- Qualification Tab -->
                <?php echo $this->partial("studentprofile/studentprofilequalification.phtml",array('studentqualification' => $this->studentqualification,'lobjStudentApplicationForm' => $this->lobjStudentApplicationForm));?>
                    <!-- Qualification tab -->
		<div dojoType="dijit.layout.ContentPane" id="tab-four" title="<?php echo $this->translate("Program Offered");?>" style="height: auto;width:99%;overflow:auto">
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
		      <th><?php echo $this->translate("Program"); ?></th>
		      <th><?php echo $this->translate("Scheme"); ?></th>
	          
	         </tr>
	         <tr>
	          <td><?php echo $studentdetails['ProgramName'];?></td>
	          <td><?php echo $studentdetails['scheme'];?> </td>
		  	</tr>
		  	<tr>
			   	<td colspan = "4" align = "right">
					<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-four','tab-five')">
			   		<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-four','tab-three')">	
			   		
			   </td>
			</tr>
			</table>
		</div>
		<div dojoType="dijit.layout.ContentPane" id="tab-five" title="<?php echo $this->translate("Semester");?>" style="height: auto;width:99%;overflow:auto">
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
					<th><?php echo $this->translate("Semester");?></th>
					<th><?php echo $this->translate("Status");?></th>
				</tr>
				<?php foreach($this->studentsemdetail as $studentsem){?>
		        <?php if($studentsem['semcode']!='' || $studentsem['semcodemain']){?>
		        <tr>
					<?php if($studentsem['semcode']!=''){?>
					<td><?php echo $studentsem['semcode'];?></td>
					<?php }else if($studentsem['semcodemain']!= ''){?>
					<td><?php echo $studentsem['semcodemain'];?></td>
					<?php }?>
					<td><?php if(trim($studentsem['Status']) == "Completed") echo "Register"; else echo $studentsem['Status']; ?></td>
					</tr>
				<?php }?>
				<?php }?>
				<tr>
			   		<td colspan = "4" align = "right">
						<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-five','tab-six')">
			   			<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-five','tab-four')">	
			   		
			  		</td>
				</tr>	
			</table>
		</div>
		<div dojoType="dijit.layout.ContentPane" id="tab-six" title="<?php echo $this->translate("Courses Registered");?>" style="height: auto;width:99%;overflow:auto">
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
					<th><?php echo $this->translate("Semester");?></th>
					<th><?php echo $this->translate("Course Code");?></th>
					<th><?php echo $this->translate("Course Name");?></th>
					<th><?php echo $this->translate("Credit Hours");?></th>	
				</tr>
				
		        <?php foreach($this->studentcourses as $studentcourse){?>
		        	<tr>
		        		<?php if($studentcourse['SemesterMainCode'] != ''){?>
		        		<td><?php echo $studentcourse['SemesterMainCode'];?></td>
		        		<?php }else{?>
		        		<td><?php echo $studentcourse['SemesterCode'];?></td>
		        		<?php }?>
		        		<td><?php echo $studentcourse['SubjectCode'];?></td>
			        	<td><?php echo $studentcourse['SubjectName'];?></td>
			        	<td><?php echo $studentcourse['CreditHours'];?></td>
		        	</tr>
		        <?php }?>
		        <tr>
			   	<td colspan = "4" align = "right">
			   		<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-six','tab-five')">	
			   		
			   </td>
			</tr>
			</table>
		</div>
		</div>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<td align="right" colspan="4">
	         		 <input type='button' class="NormalBtn"
	                 dojotype="dijit.form.Button"
	                 label="<?php echo $this->translate('Back') ?>" value='click'
	                 onclick="window.location.href='<?php echo $this->url(array('module' => 'registration', 'controller' => 'studentprofile', 'action' => 'index'), 'default', true); ?>';" />
       		  </td>
			</tr>
		</table>
</fieldset>

		