<script type="text/javascript">
  var rowid = 1;
  <?php if(!empty($this->studentqualification)){?>
    rowid = <?php echo count($this->studentqualification) +1; ?>;
  <?php } ?>     
  var batchArray  = new Array();
  var subrowid = 1;
  var selectedrowid;
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-ui-1.8.21.custom.min.js" ></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/jqueryui/smoothness/jquery-ui-1.8.21.custom.css" />
<script type="text/javascript">
  dojo.addOnLoad(function() {
    dijit.byId('QualificationLevel').set('value','');
    dijit.byId('QualificationLevel').set('placeHolder','Select');
    dijit.byId('IdSpecialization').set('value','');
    dijit.byId('IdSpecialization').set('placeHolder','Select');
    dijit.byId('Institution').set('value','');
    dijit.byId('Institution').set('placeHolder','Select');
    dijit.byId('ResultItem').set('value','');
    dijit.byId('ResultItem').set('placeHolder','Select');
    <?php foreach($this->studentqualification as $item) { ?>
    <?php foreach($item['subjectdetails'] as $subject) {  ?>
       batchArray.push('<?php echo $subject['IdSubject'].$item['IdQualification']; ?>');
       //rowid++;
    <?php }}?>
        console.log(batchArray);

  });
  $(document).ready(function() {

    $('#add-entry').bind("click",function(){
      $("#qualification-form-dialog").dialog({ zIndex: 900 });
      $("#qualification-form-dialog").dialog( "open" );
    });
    $( "#qualification-form-dialog" ).dialog({
      autoOpen: false,
      height: 300,
      width: 450,
      zIndex : 900,
      modal: true,
      buttons: {
        "Add Qualification": function() {
          if(fnvalidateform()) {

            //Year Obtained
            var YearGraduated = dijit.byId("YearGraduated").value;
            //QualificationLevel
            var QualificationLevel = dijit.byId("QualificationLevel").value;
            var QualificationLevelName = dijit.byId("QualificationLevel").displayedValue;

            var Specialization = dijit.byId("IdSpecialization").value;
            var SpecializationName = dijit.byId("IdSpecialization").displayedValue;

            //Institution
            var Institution = dijit.byId("Institution");
            var InstitutionName = dijit.byId("Institution").displayedValue;
            //Result Item
            var ResultItem = dijit.byId("ResultItem").value;
            var ResultItemName = dijit.byId("ResultItem").displayedValue;
            //Result
            var Result = dijit.byId("Result").value;				//Postcode

            var trow=document.getElementById('hor').insertRow((rowid));
            var tcol1=trow.insertCell(0);
            var tcol2=trow.insertCell(1);
            var tcol3=trow.insertCell(2);
            var tcol4=trow.insertCell(3);
            var tcol5=trow.insertCell(4);
            var tcol6=trow.insertCell(5);
            var tcol7=trow.insertCell(6);
            var tcol8=trow.insertCell(7);
            var tcol9=trow.insertCell(8);

            tcol1.innerHTML= "<input type='hidden' class='QualificationLevel' name='QualificationLevel[]' value='"+QualificationLevel+"' />"+QualificationLevelName+"<input type='hidden' name='IdstudentQualification[]' value='new' />";
            tcol2.innerHTML="<input type='hidden' class ='Specialization' value='"+Specialization+"' name=Specialization[]>"+SpecializationName;
            tcol3.innerHTML="<input type='hidden' value='"+Institution+"' name=Institution[]>"+InstitutionName;
            tcol4.innerHTML="<input type='hidden' value='"+YearGraduated+"' name=YearGraduated[]>"+YearGraduated;
            tcol5.innerHTML="<input type='hidden' value='"+ResultItem+"' name=ResultItem[]>"+ResultItemName;
            tcol6.innerHTML="<input type='hidden' value='"+Result+"' name=Result[]>"+Result;
            tcol7.innerHTML="<table id='subject"+rowid+"' width='100%'><tr><th>Subject Name</th><th>Subject Grade</th><th>Delete</th></tr></table>";
            tcol8.innerHTML='<a href="#" onclick="javascript:fnaddSubject(this);" id="add-subject" name="Add-Subject">Add Subject</a>';
            tcol9.innerHTML="<a href='#' onClick='	deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
            rowid++;
            $( this ).dialog( "close" );
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        dijit.byId('QualificationLevel').set('value','');
        dijit.byId('QualificationLevel').set('placeHolder','Select');
        dijit.byId("QualificationLevel").attr('required','false');

        dijit.byId('IdSpecialization').set('value','');
        dijit.byId('IdSpecialization').set('placeHolder','Select');
        dijit.byId("IdSpecialization").attr('required','false');


        dijit.byId('ResultItem').set('value','');
        dijit.byId('ResultItem').set('placeHolder','Select');
        dijit.byId("ResultItem").attr('required','false');

        dijit.byId('YearGraduated').set('value','');
        dijit.byId("YearGraduated").attr('required','false');

        dijit.byId('Result').set('value','');
        dijit.byId("Result").attr('required','false');
      }
    });

    $( "#subjectgrade-form-dialog" ).dialog({
      autoOpen: false,
      height: 200,
      width: 450,
      zIndex : 910,
      modal: true,
      buttons: {
        "Add Subject": function() {
          var selectedqua = $(this).data('selectedqua');
          var Subject = dijit.byId("Subject").value;
          var SubjectName = dijit.byId("Subject").displayedValue;
          var SubjectGrade = dijit.byId("SubjectGrade").value;
          var SubjectGradeName = dijit.byId("SubjectGrade").displayedValue;
          var obj = $(selectedrowid);
          var selectedrow = $(obj).attr("id").replace("subject","")
          if(SubjectGradeName == "") {
          	alert("Please select grade point");
          	return false;
          }
          if(obj) {
             batchArray.push(Subject+selectedqua);
             if(arrHasDupes(batchArray)){
                alert("Duplicate Entry of Subject");
                batchArray = batchArray.unique();
             }else{
              var trow=obj[0].insertRow(subrowid);
              var tcol1=trow.insertCell(0);
              var tcol2=trow.insertCell(1);
              var tcol3=trow.insertCell(2);
              tcol1.innerHTML="<input type='hidden' class='subject' value='"+Subject+"' name=Subject[subject"+selectedrow+"][]>"+SubjectName;
              tcol2.innerHTML="<input type='hidden' class='subjectgrade' value='"+SubjectGrade+"' name=SubjectGrade[subject"+selectedrow+"][]>"+SubjectGradeName;
              tcol3.innerHTML="<a href='#' onClick=deleteSubjectRow(this,'"+selectedrow+"','"+Subject+selectedqua+"'); return false;><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
              subrowid++;
              $( this ).dialog( "close" );
            }
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        //allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });
  });

  function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
    var i, j, n;
    n=A.length;
    // to ensure the fewest possible comparisons
    for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
      for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
        if (A[i]==A[j]) return true;
      }	}
    return false;
  }

  Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }

	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}

  function fnaddSubject(obj){
    var selectedqua = $(obj).parent().parent().find(".QualificationLevel").val();
    $("#subjectgrade-form-dialog").data("selectedqua",selectedqua).dialog( "open" );
    loadSubject(selectedqua);
    loadSubjectgradelist(selectedqua);
    subrowid = $(obj).parent().parent().find("td table").first().find("tr").length;
    selectedrowid = $(obj).parent().parent().find("td table").first();
    if(subrowid == 0) {
      subrowid = 1;
    }
  }


  function loadSubject(IdQua){
    var formData = {'IdQualification':IdQua};
	$.ajax({
	       type: 'POST',
	       url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'manualapplication', 'action' => 'getsubjectlistforqualification'), 'default', true); ?>',
	       async: false,
	       dataType: "json",
	       data: formData,
	       success: function(responseText) {
                   AutoFillNextEditableDropDown("Subject",responseText);
		   }
	});
  }

  function loadSubjectgradelist(IdQua) {
        var formData = {'IdQualification':IdQua};
	$.ajax({
	       type: 'POST',
	       url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'manualapplication', 'action' => 'getsubjectgrade'), 'default', true); ?>',
	       async: false,
	       dataType: "json",
	       data: formData,
	       success: function(responseText) { console.log(responseText);
	       		AutoFillNextEditableDropDown("SubjectGrade",responseText);
                        dijit.byId('SubjectGrade').set('value','');
                        dijit.byId('SubjectGrade').set('placeHolder','Select');
                        dijit.byId('Subject').set('value','');
                        dijit.byId('Subject').set('placeHolder','Select');
		   }
	});


}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

  function deleteRow(r){
    rowid--;    
    var ret = confirm('Are you sure you want to delete?');
    if(ret == true){      
      var counter = 1;
      var i=r.parentNode.parentNode.rowIndex;      
      var subjectrowlen = $('#subject'+i).find('tr').length;
      if(subjectrowlen > 1){
          for(j=1;j<=subjectrowlen-1;j++){
              batchArray.splice(parseInt(i-1),1);
          }
      }
      document.getElementById('hor').deleteRow(i);

      $("#hor").find("table").each(function(){
        $(this).attr("id","subject"+counter);
        $("#"+"subject"+counter).find(".subject").each(function(){
           $(this).attr('name',"Subject[subject"+counter+"][]");
        });
        $("#"+"subject"+counter).find(".subjectgrade").each(function(){
           $(this).attr('name',"SubjectGrade[subject"+counter+"][]");
        });
        counter++;
      });
    }
  }

  function deleteSubjectRow(r,table_id,combination) {
    var ret = confirm('Are you sure you want to delete?');
    if(ret == true){
      table_id = "subject"+table_id;
      var i=r.parentNode.parentNode.rowIndex;
      batchArray.splice(batchArray.indexOf(combination),1);
      console.log(batchArray);
      var table_id = $(r).parent().parent().parent().parent().first().attr("id");
      document.getElementById(table_id).deleteRow(i);
    }
  }



  function fnvalidateform() {
    var flag = true;

    if(dijit.byId("YearGraduated").value==''){
      dijit.byId("YearGraduated").attr('required','true');
      dijit.byId("YearGraduated").focus();
      flag = false;
    }
//    }else{
//      var str = dijit.byId("YearGraduated").value
//      if(str.length!=4){
//        dijit.byId("YearGraduated").focus();
//        alert('Year Graduated should be in 4 digits');
//        dijit.byId("YearGraduated").set("invalidMessage", "new message");
//        flag = false;
//      }
//    }

    if(dijit.byId("QualificationLevel").value==''){
      dijit.byId("QualificationLevel").attr('required','true');
      dijit.byId("QualificationLevel").focus();
      flag = false;
    }

    if(dijit.byId("IdSpecialization").value==''){
      dijit.byId("IdSpecialization").attr('required','true');
      dijit.byId("IdSpecialization").focus();
      flag = false;
    }

    if(dijit.byId("Institution").value==''){
      dijit.byId("Institution").attr('required','true');
      dijit.byId("Institution").focus();
      flag = false;
    }

    if(dijit.byId("ResultItem").value==''){
      dijit.byId("ResultItem").attr('required','true');
      dijit.byId("ResultItem").focus();
      flag = false;
    }

    if(!dijit.byId("YearGraduated").validate()) {
    	dijit.byId("YearGraduated").attr('required','true');
      dijit.byId("YearGraduated").focus();
      flag = false;
    }

    if(dijit.byId("Result").value==''){
      dijit.byId("Result").attr('required','true');
      dijit.byId("Result").focus();
      flag = false;
    }
    return flag;
  }

  function validatestudentqualification(){
    if(validateQualification()) {
        var formData = $("#addqualification").serialize();
        var Idapplication = $('#IdApplication').val();
        $.ajax({
          type: 'POST',
          url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'manualapplication', 'action' => 'addqualification'), 'default', true); ?>/?applicationId='+Idapplication,
          async: false,
          data: formData,
          success: function(data) {
            var mainTabContainerId = dijit.byId("mainTabContainer");
            mainTabContainerId.selectChild('tab-four');
          }
        });
      }
  }

  function validateQualification(){
    var flag = true;
    var tablerow = 1;
    if($(".QualificationLevel").length > 0){
        $(".QualificationLevel").each(function(){
            console.log("IDQualification " + $(this).val());
          var formData = {'idQualification':$(this).val()};
          var lobjqualification = $(this);
          $.ajax({
            type: 'POST',
            url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'manualapplication', 'action' => 'verifyqualification'), 'default', true); ?>',
            async: false,
            data: formData,
            success: function(responseText) {
               var rowcount = $(lobjqualification).parent().parent().find("td table").first().find("tr").length;
               if(parseInt(responseText) > 0){
                   if((rowcount-1) < 1){
                       alert("Please select atleast one subject");
                       flag = false;
                   }
               }
               
//               if(rowcount-1 != responseText){
//                 alert("Please create entries for all the subject of qualification");
//                 flag = false;
//               }
            }
          });
          tablerow++;
        });
        
     }else{
        alert('Please add atleast one qualification');
        flag = false;
     }
    return flag;
  }
</script>
<div dojoType="dijit.layout.ContentPane" id="tab-seven" title="<?php echo $this->translate("Qualification"); ?>" style="height:auto;width:99%;overflow:auto min-height:270px">
  <?php echo $this->lobjStudentApplicationForm->IdApplication; ?>
  <div id="subjectgrade-form-dialog" title="Add Subject"
       style="display: none">
    <Form dojoType="dijit.form.Form" id="myForm1" action="" method="post"
    name="myForm1"><script type="dojo/method" event="onSubmit">
        if (this.validate()) {
					return true;
        }
				else {
        return false;
        }
      </script>
      <table width="100%">
        <tr>
          <td>Subject<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->Subject; ?></td>
        </tr>
        <tr>
          <td>Subject Grade<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->SubjectGrade; ?></td>
        </tr>
      </table>
    </Form>
  </div>
  <div id="qualification-form-dialog" title="Add Qualification"
       style="display: none">
    <Form dojoType="dijit.form.Form" id="myForm" action="" method="post"
    name="myForm"><script type="dojo/method" event="onSubmit">
        if (this.validate()) {
          return true;
        }else {
        return false;
        }
      </script>
      <table width="100%">
        <tr>
          <td>Qualification Level<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->QualificationLevel; ?></td>
        </tr>
        <tr>
          <td>Specialization<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->IdSpecialization; ?></td>
        </tr>
        <tr>
          <td>Institution Name<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->Institution; ?></td>
        </tr>
        <tr>
          <td>Year Graduated(value greater than 1900)<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->YearGraduated; ?></td>
        </tr>


        <tr>
          <td>Result Item<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->ResultItem; ?></td>
        </tr>
        <tr>
          <td>Result/Marks<span class="reqMark">*</span></td>
          <td><?php echo $this->lobjStudentApplicationForm->Result; ?></td>
        </tr>
      </table>
    </Form>
  </div>
  <table width= "100%" border="0" cellspacing="10" cellpadding="10">
    <tr>
      <td colspan="4" align="left">
        <input type="button" id="add-entry" name="Add" value="Add Entry Requirement">
      </td>
    </tr>
  </table>
  <form id="addqualification" method="post" name="addqualification"
        action="">
    <table class="table" width="100%" id="hor">
      <tr>
        <th><?php echo $this->translate("Qualification") ?></th>
        <th><?php echo $this->translate("Specialization") ?></th>
        <th><?php echo $this->translate("Institution") ?></th>
        <th><?php echo $this->translate("Year Graduated") ?></th>
        <th><?php echo $this->translate("Result Item") ?></th>
        <th><?php echo $this->translate("Result/Marks") ?></th>
        <th><?php echo $this->translate("Subjects") ?></th>
        <th><?php echo $this->translate("Add Subject") ?></th>
        <th><?php echo $this->translate("Delete") ?></th>
      </tr>
      <?php if(isset($this->studentqualification)){?>
      <?php $rowid = 1; foreach($this->studentqualification as $item) { ?>
        <tr>
            <td>
            <input type="hidden" name="IdstudentQualification[]" value="<?php echo $item['IdStudEduDtl']; ?>" />
            <input type="hidden" class="QualificationLevel" id="QualificationLevel" name="QualificationLevel[]" value="<?php echo $item['IdQualification']; ?>" /><?php echo $item['QualificationLevel'];?></td>
            <td><input type="hidden" class="Specialization" id="Specialization" name="Specialization[]" value="<?php echo $item['IdSpecialization']; ?>" /><?php echo $item['Specialization'];?></td>
            <td><input type="hidden" name="Institution[]" value="<?php echo $item['idInstitution']; ?>" /><?php echo $item['InstitutionCode'];?></td>
            <td><input type="hidden" name="YearGraduated[]" value="<?php echo $item['YearGraduated']; ?>" /><?php echo $item['YearGraduated']; ?></td>
            <td><input type="hidden" name="ResultItem[]" value="<?php echo $item['IdResultItem']; ?>" /><?php echo $item['DefinitionDesc']; ?></td>
            <td><input type="hidden" name="Result[]" value="<?php echo $item['Resulttotal']; ?>" /><?php echo $item['Resulttotal']; ?></td>
            <td>
                    <table id='subject<?php echo $rowid; ?>' width='100%'>
                           <tr>
                               <th>Subject Name</th>
                               <th>Subject Grade</th>
                               <th>Delete</th>
                           </tr>
                           <?php foreach($item['subjectdetails'] as $subject) {  ?>
                           <tr>
                               <td><?php echo $subject['Subject'] ?><input type="hidden" class="subject" name="Subject[<?php echo "subject".$rowid; ?>][]" value="<?php echo $subject['IdSubject']; ?>" /></td>
                               <td><?php echo $subject['SubjectGrade'] ?><input type="hidden" class="subjectgrade" name="SubjectGrade[<?php echo "subject".$rowid; ?>][]" value="<?php echo $subject['IdSubjectGrade']; ?>" /></td>
                               <td><a href='#' onClick='deleteSubjectRow(this,"<?php echo $rowid;  ?>","<?php echo $subject['IdSubject'].$item['IdQualification'] ?>"); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td>
                           </tr>
                           <?php } ?>
                    </table></td>
            <td><a href="#" onclick="javascript:fnaddSubject(this);" id="add-subject" name="Add-Subject">Add Subject</a></td>
            <td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td>
        </tr>
        <?php $rowid++; }} ?>
      <tr>
        <td colspan = "9" align = "right">
          <input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label = "<?php echo $this->translate("Back");?>" name = "Back" Value = "<?php echo $this->translate("Back");?>" onClick="fnToggleTabs('Back','tab-seven','tab-three')">
          <input type = "button" class="manualbtn"  dojoType=dijit.form.Button label = "<?php echo $this->translate("Save & Next"); ?>" name = "Next" Value = "<?php echo $this->translate("Save & Next"); ?>" onClick="validatestudentqualification()">
        </td>
      </tr>
    </table>

  </form>

</div>
