<div class="message toolbar">
<h2>
	<?php 
		echo $this->translate("Vacant Room Search");
	?>
</h2>
</div>
<br />

<script>
dojo.addOnLoad(function(){
       dijit.byId('Block').set('value','');
       dijit.byId('Block').set('placeHolder','Select');
       dijit.byId('Level').set('value','');
       dijit.byId('Level').set('placeHolder','Select');
});

function getLevel(Idblock){
	if(Idblock != ''){
		$.ajax({
	        type: 'GET',
	        async: false,
	        url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'hostelinformation', 'action' => 'getlevellist'), 'default', true); ?>',
	        data: "Idblock=" + Idblock,
	        success: function(data) {
		        var obj = jQuery.parseJSON(data);
		        AutoFillNextEditableDropDown("Level",obj);
	        }
	    });
	}
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>

<fieldset>
	<form action="<?php echo $this->baseUrl();?>/hostel/vacantroomsearch/index/search/1" method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate($this->labels['Block_Label']);?></td>
				<td><?php echo $this->lobjVacantRoomSearchForm->Block;?></td>
			<tr>
			</tr>
				<td><?php echo $this->translate($this->labels['Level_Label']);?></td>
				<td><?php echo $this->lobjVacantRoomSearchForm->Level;?></td>
			</tr>
			</tr>
				<td><?php echo $this->translate('Room Type');?></td>
				<td><?php echo $this->lobjVacantRoomSearchForm->room_type_id;?></td>
			</tr>
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjVacantRoomSearchForm->Search;?> 
					<?php echo $this->lobjVacantRoomSearchForm->Clear;?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<br />

<table class="table" width="100%">

	<tr>
		<th>
			<?php echo $this->translate("Room Name");?>
		</th>
		<th>
			<?php echo $this->translate("Gender");?>
		</th>
		<th>
			<?php echo $this->translate('Available Room'); ?>
		</th>
	</tr>
	<?php if($this->Errmsg == '1'){?>
		<tr>
			<td colspan="2" style="color: red;" align="center">
			<?php echo $this->translate("No Rooms Available"); ?>
			</td>
		</tr>
	<?php } ?>
	<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $list):?>
		<tr>
			<?php  if( $list['Capacity']-$list['OccupiedCapacity'] > 0) { ?>
			<td>
				<a href="<?php echo $this->baseUrl();?>/hostel/vacantroomsearch/reserve/roomid/<?php echo $list['IdHostelRoom']?>"><?php echo $list['RoomName']; ?></a>
			</td>
			<td align="center">
				<?php if($list['Gender'] == 1) {
					echo $this->translate('Male');
				} else if($list['Gender'] == 2) {
					echo $this->translate('Female');
				}
				?>
			</td>
			<td align="center">
				<?php echo $list['Capacity']-$list['OccupantCount']; ?> / <?php echo $list['Capacity']; ?>
			</td>
			<?php }?>
		</tr>
		<?php endforeach; ?>
		<?php endif; ?>
	</table>


