
<div class="message toolbar">
<h2>
	<?php 
		echo $this->translate("Reserve Room");
	?>
</h2>

<div class="toolbar-button">
	<ul>
		<li class="divider"></li>
		<li>
			<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'vacantroomsearch', 'action'=>'index'),'default',true);?>" >
			<span class='back'></span>
			<?php echo $this->translate("Back");?>
			</a>
		</li>
	</ul>
</div>
</div>
<br />
<fieldset>
	<legend><?php echo $this->translate('Room Space'); ?></legend>
	<ul>
		<li><b><?php echo $this->translate('Room Number'); ?></b> : <?php echo $this->roominfo['RoomName']; ?> </li>
		<li><b><?php echo $this->translate('Level'); ?></b> : <?php echo $this->roominfo['LevelName']; ?> </li>
		<li><b><?php echo $this->translate('Block'); ?></b> : <?php echo $this->roominfo['BlockName']; ?> </li>
		<li><b><?php echo $this->translate('Type'); ?></b> : <?php echo $this->roominfo['RoomType']; ?> </li>
		<li><b><?php echo $this->translate('Capacity'); ?></b> : <?php echo $this->roominfo['Capacity']; ?> </li>
        <li><b><?php echo $this->translate('Gender'); ?></b> :
            <?php if($this->roominfo['Gender'] == 1) {
                echo $this->translate('Male');
            } else if($this->roominfo['Gender'] == 2) {
                echo $this->translate('Female');
            }
            ?> </li>
	</ul>
</fieldset>
<fieldset>
	<legend><?php echo $this->translate('Room Occupancy'); ?></legend>
	<table class="table" width="100%">
			<tr>
				<th width="15%"><?php echo $this->translate('Occupant Type'); ?></th>
				<th width="15%"><?php echo $this->translate('Id'); ?></th>
				<th> <?php echo $this->translate('Name'); ?> </th>
				<th width="10%"><?php echo $this->translate('Reservation Date From'); ?></th>
				<th width="10%"><?php echo $this->translate('To'); ?></th>
				<th width="10%"></th>
			</tr>
		<?php 
			
			$current_reservation = 0;
			foreach($this->reservations as $reservation) { 
				$current_reservation++;


				if($reservation['tenant_type_name'] != 'Student' ) {
					$tenant_id = $reservation['agent_id'];
				} else {
					if($reservation['cust_type'] == 1 ) {
						$tenant_id = $reservation['registrationId'];
					} else {
						$tenant_id = $reservation['at_pes_id'];
					}
				}
				 $reserve_name= trim($reservation['name']);
				if(empty($reserve_name) && !empty($reservation['applicant_name'])) {
					$name = $reservation['applicant_name'];
				} else {
					$name = $reservation['name'];
				}
			?>
			<tr>
				<td>
					<?php echo $reservation['tenant_type_name']; ?>
				</td>
				<td>
					<?php echo $tenant_id; ?>
				</td>
				<td>
					<?php echo $name; ?></td>
				<td>
					<?php echo format_date_to_view($reservation['SemesterStartDate']); ?>
				</td>
				<td>
					<?php echo format_date_to_view($reservation['SemesterEndDate'] ); ?>
				</td>
				<td>
					<a href="<?php echo $this->baseUrl();?>/hostel/vacantroomsearch/delete/IdHostelReservation/<?php echo $reservation['IdHostelReservation']?>"> Delete </a>
				</td>
			</tr>
		<?php } ?>
		<?php 
			$curr_available = $this->roominfo['Capacity'] - $current_reservation;
			
		?>
 	</table>
</fieldset>

<?php if ( empty($this->StudInfo ) ) { ?>
	<form action="<?php echo $this->baseUrl();?>/hostel/vacantroomsearch/reserve/roomid/<?php echo $this->roomId?>" method="get" onsubmit="return checkstudent()">
	<table width="100%" class="table">
		<tr><th colspan="2"><?php echo $this->translate('Room Reservation')?></th></tr>
		<tr>
			<td colspan="2"><?php echo $this->translate('Available Space:'); ?> : <b><?php echo $curr_available; ?></b></td>
		</tr>
		<?php if( $curr_available > 0 ) { ?>
		<tr>
			<td>
				<?php echo $this->translate('Student')?>
			</td>
			<td>
				<label><?php echo $this->translate('ID Type'); ?>: </label>
					<span id="IdStudentRegistrationLabel"></span>
				<?php 
					$this->lobjmanualReservationForm->cust_type->setValue(1);
					echo $this->lobjmanualReservationForm->cust_type;
				?>
				<br />
				<input type='text' id="registration_application_number" name="registration_application_number_disp" style="width:80%">
				<span id="student_search_status"></span>
				<input type="hidden"  name="registration_application_number">
				<input type="hidden" name="IdStudentRegistration" id="IdStudentRegistration" value='' >

			</td>
		</tr>
		<?php } ?>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" label="<?php echo $this->translate('Reserve')?>" dojotype="dijit.form.Button" /> 					
			</td>
		</tr>
	</table>
</form>

<script type="text/javascript">
function checkstudent()
{
	 var IdStudentRegistration = dijit.byId('IdStudentRegistration').value;
	 if ( IdStudentRegistration == '' )
	 {
		 alert('<?php echo $this->translate('Please select a student first'); ?>');
		 return false;
	 }

	 return true;
}

dojo.addOnLoad(function() 
{
	//dijit.byId('IdStudentRegistration').set('value','');
    //dijit.byId('IdStudentRegistration').set('placeHolder','<?php echo $this->translate('Select')?>');
});
</script>

<?php } else { ?>


<fieldset>
<form action="<?php echo $this->baseUrl();?>/hostel/vacantroomsearch/reserve/roomid/<?php echo $this->roomId; ?>" method="post" onsubmit="return checkreserve()">
<input type="hidden" id="IdStudentRegistration" name="IdStudentRegistration" value="<?php echo $this->IdStudentRegistration; ?>" />
<input type='hidden' name='cust_type' value="<?php echo $this->cust_type; ?>" >
<input type="hidden" id="Gender" name="Gender" value="<?php echo $this->StudInfo['appl_gender'] ?>" />

<input type="hidden" id="RoomCode" name="RoomCode" value="<?php echo $this->roominfo['RoomCode'] ?>" />
<input type="hidden" id="RoomCode" name="RoomId" value="<?php echo $this->roominfo['IdHostelRoom'] ?>" />
<input type="hidden" id="RoomCode" name="SeatNo" value="1" />
<input type="hidden" id="Remarks" name="Remarks" value="" />
<input type="hidden" name="sd" id="sd" value="" />
<input type="hidden" name="ed" id="ed" value="" />

<table class="table" width="100%">
	<tr>
		<td width="15%"><?php echo $this->translate('Student')?></td>
		<td width="35%"><?php echo $this->StudInfo['name']?></td>
		<td width="15%"><?php echo $this->translate('Room')?></td>
		<td width="35%"><?php echo $this->roominfo['RoomName']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate($this->labels['Block_Label'])?></td>
		<td><?php echo $this->roominfo['BlockName']?></td>
		<td><?php echo $this->translate($this->labels['Level_Label'])?></td>
		<td><?php echo $this->roominfo['LevelName']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td><?php echo $this->lobjVacantRoomSearchForm->IdSemester;?></td>
		<td><?php echo $this->translate('Start Date');?></td>
		<td><?php echo $this->lobjVacantRoomSearchForm->SemesterStartDate;?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('End Date');?></td>
		<td><?php echo $this->lobjVacantRoomSearchForm->SemesterEndDate;?></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="4" align="center">
			<input id="Save" name="Save" value="Save" type="submit" label="<?php echo $this->translate('Reserve')?>" dojotype="dijit.form.Button" /> 	
		</td>
	</tr>
</table>
</form>
</fieldset>
<script type="text/javascript">
function checkreserve()
{
	var Semester = dijit.byId('IdSemester').value;
	/*if ( Semester == '' )
	{
		alert('<?php echo $this->translate('Please select a semester first');?>'); 
		return false;
	}*/

	var StartDate = dijit.byId('SemesterStartDate').value;
	if ( StartDate == '' )
	{
		alert('<?php echo $this->translate('Please select start date');?>');
		return false;
	}

	var EndDate = dijit.byId('SemesterEndDate').value;
	if ( EndDate == '' )
	{
		alert('<?php echo $this->translate('Please select end date');?>');
		return false; 
	}

	return true;
}

function getdates(SemesterCode){
	if(SemesterCode != ''){
		$.ajax({
	        type: 'GET',
	        async: false,
	        url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'chargessetup', 'action' => 'getsemesterdates'), 'default', true); ?>',
	        data: "SemesterCode=" + SemesterCode,
	        success: function(data) {
		        obj = jQuery.parseJSON( data );
		        $('#SemesterStartDate').val(obj[0]['StartDate']);
		        $('#sd').val(obj[0]['StartDate_prop']);
		        dijit.byId('SemesterStartDate').set('readOnly', true);
		        
		        $('#SemesterEndDate').val(obj[0]['EndDate']);
		        $('#ed').val(obj[0]['EndDate_prop']);
		        dijit.byId('SemesterEndDate').set('readOnly', true);
	        }
	    });
	}else{
		dijit.byId('IdSemester').set('value','');
		dijit.byId('IdSemester').set('placeHolder','Select');
		$('#SemesterStartDate').val('');
		dijit.byId('SemesterStartDate').set('readOnly', false);
		$('#SemesterEndDate').val('');
		dijit.byId('SemesterEndDate').set('readOnly', false);
    }
}


</script>
<?php } ?>


<script>
	$(document).ready(function() {
		//untuk trigger autocomplete by radiobutton
        $("[name*='cust_type']").click(function() {
        	type_id = $(this).val();
        	
        		$( "#registration_application_number" ).autocomplete({

			      source: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'findstudent'), 'default', true); ?>' +  '/cust_type_id/'+ type_id + '/gender_id/' + <?php echo $this->roominfo['Gender']; ?>,
			      minLength: 3,
			      data: $('#roomReservationForm').serialize(),
			      search: function( event, ui) {
				  	$( "#student_search_status" ).html('<?php echo $this->translate('searching...'); ?>');
				  },
				  response: function (event, ui) {
				  	$( "#student_search_status" ).html('');
				  },
			      select: function( event, ui ) {
			      	$('#IdStudentRegistration').val(ui.item.id);
			      	
			      }
			    });

        });

       //untuk default autocomplete
        $( "#registration_application_number" ).autocomplete({

	      source: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'findstudent'), 'default', true); ?>' +  '/cust_type_id/'+ 1  + '/gender_id/' + <?php echo $this->roominfo['Gender']; ?>,
	      minLength: 3,
	      data: $('#roomReservationForm').serialize(),
	      search: function( event, ui) {
		  	$( "#student_search_status" ).html('<?php echo $this->translate('searching...'); ?>');
		  },
		  response: function (event, ui) {
		  	$( "#student_search_status" ).html('');
		  },
	      select: function( event, ui ) {
	      	$('#IdStudentRegistration').val(ui.item.id);
	      }
	    });
	});
</script>
