<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field8').focus();	
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Charge Master Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/chargemaster/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Account Name");?></td>
                   <td ><?php echo $this->lobjform->field8;?></td>
                   <td><?php echo $this->translate("$this->Program Type");?></td>
                   <td><?php echo $this->lobjform->field5;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'chargemaster', 'action'=>'newchargemaster'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate("Account Name");?></th>	 
	            <th><?php echo $this->translate("Amount");?></th>           
	       	    <th><?php echo $this->translate("Program Name");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcharges ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'chargemaster', 'action'=>'chargemasterlist' , 'id'=>$lobjcharges['IdCharges']),'default',true);?>" ><?php print_r($this->escape($lobjcharges['AccountName']));?></a></td>
	    	   <td><?php echo $this->escape($lobjcharges['Rate']);?></td>
	    	    <td><?php echo $this->escape($lobjcharges['ProgramName']);?></td>
	    	    
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
