<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->list) {
    foreach ($this->list as $loop) {
        $no = 0;
        if (isset($loop['scholarinfo'])) {
            ?>
            <hr>
            <br />
            <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
                <tr>
                    <th width="30%"><?php echo $this->translate('Sponsorship Name'); ?></th>
                    <td><?php echo $loop['scholarinfo']['fName']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Sponsorship Code'); ?></th>
                    <td><?php echo $loop['scholarinfo']['SponsorCode']; ?></td>
                </tr>
            </table>
            <br />
            <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
                <tr>
                    <th><?php echo $this->translate('No.'); ?></th>
                    <th><?php echo $this->translate('Student Name'); ?></th>
                    <th><?php echo $this->translate('Student Id'); ?></th>
                    <th><?php echo $this->translate('Programme'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th><?php echo $this->translate('Start Date'); ?></th>
                    <th><?php echo $this->translate('End Date'); ?></th>
                    <th><?php echo $this->translate('Aggrement No.'); ?></th>
                    <th><?php echo $this->translate('Amount'); ?></th>
                    <th><?php echo $this->translate('Fee Item'); ?></th>
                </tr>
                <?php
                if (isset($loop['scholarstudent']) && count($loop['scholarstudent']) > 0) {
                    foreach ($loop['scholarstudent'] as $studentLoop) {
                        $no++;
                        ?>
                        <tr>
                            <td align="center"><?php echo $no; ?></td>
                            <td><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
                            <td align="center"><?php echo $studentLoop['registrationId']; ?></td>
                            <td align="center"><?php echo $studentLoop['ProgramName']; ?></td>
                            <td align="center"><?php echo $studentLoop['statusname']; ?></td>
                            <td align="center"><?php echo $studentLoop['StartDate']=='0000-00-00' ? '':date('d-m-Y', strtotime($studentLoop['StartDate'])); ?></td>
                            <td align="center"><?php echo $studentLoop['EndDate']=='0000-00-00' ? '':date('d-m-Y', strtotime($studentLoop['EndDate'])); ?></td>
                            <td align="center"><?php echo $studentLoop['AggrementNo']; ?></td>
                            <td align="right"><?php echo $studentLoop['Amount']==0 ? '':$studentLoop['Amount']; ?></td>
                            <td><?php echo $studentLoop['fi_name']; ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </table>
            <?php
        }
    }
}
?>
