<script type="text/javascript">
    function print(){
        url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'sponsorship-tagging-report', 'action'=>'print-scholar-tag-report'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->list) {
            ?>
            <ul>
                <li>
                    <a href="#" onclick="print();">
                        <span class='download'></span>
                        <?php echo $this->translate('Download') ?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Sponsorship'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->scholarship; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php
if ($this->list) {
    foreach ($this->list as $loop) {
        $no = 0;
        if (isset($loop['scholarinfo'])) {
            ?>
            <hr>
            <br />
            <table class="table" width="100%">
                <tr>
                    <th width="30%"><?php echo $this->translate('Scholarship Name'); ?></th>
                    <td><?php echo $loop['scholarinfo']['sch_name']; ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Scholarship Code'); ?></th>
                    <td><?php echo $loop['scholarinfo']['sch_code']; ?></td>
                </tr>
            </table>
            <br />
            <table class="table" width="100%">
                <tr>
                    <th><?php echo $this->translate('No.'); ?></th>
                    <th><?php echo $this->translate('Student Name'); ?></th>
                    <th><?php echo $this->translate('Student Id'); ?></th>
                    <th><?php echo $this->translate('Programme'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th><?php echo $this->translate('Start Date'); ?></th>
                    <th><?php echo $this->translate('End Date'); ?></th>
                </tr>
                <?php
                if (isset($loop['scholarstudent']) && count($loop['scholarstudent']) > 0) {
                    foreach ($loop['scholarstudent'] as $studentLoop) {
                        $no++;
                        ?>
                        <tr>
                            <td align="center"><?php echo $no; ?></td>
                            <td><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
                            <td align="center"><?php echo $studentLoop['registrationId']; ?></td>
                            <td align="center"><?php echo $studentLoop['ProgramName']; ?></td>
                            <td align="center"><?php echo $studentLoop['statusname']; ?></td>
                            <td align="center"><?php echo ($studentLoop['sa_start_date']=='0000-00-00' || $studentLoop['sa_start_date']==null) ? '':date('d-m-Y', strtotime($studentLoop['sa_start_date'])); ?></td>
                            <td align="center"><?php echo ($studentLoop['sa_end_date']=='0000-00-00' || $studentLoop['sa_end_date']==null) ? '':date('d-m-Y', strtotime($studentLoop['sa_end_date'])); ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </table>
            <?php
        }
    }
}
?>