<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'pool', 'action'=>'add'));?>">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate('Name'); ?></th>
		<th width="10%"><?php echo $this->translate('Status'); ?></th>
        <th width="10%"></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td><?php echo $entry['name']; ?></td>
		<td  align="center"><?php echo $entry['status']==1?"Active":"Not Active"; ?></td>
        <td align="center">
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'pool', 'action'=>'edit', 'id' => $entry['id'])) ;?>">
                <?php echo $this->translate('Edit'); ?>
            </a>
            |
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'pool', 'action'=>'delete', 'id' => $entry['id'])) ;?>" onclick="return(confirm('Are you sure to delete this survey pool ?'))">
                <?php echo $this->translate('Delete'); ?>
            </a>
        </td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
	<tfoot>
		<tr>
			<td colspan="4" align="right">
			<?php 
				echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
			?>
			</td>
		</tr>
	</tfoot>

</table>



<script type="text/javascript">
    function del(){
        var id = $('input[name=faculty_id]:checked').val();

        if(!id){
            alert('Please select any survey pool first');
        }else{
            if(confirm('Are you sure to delete this survey pool ?')){
                window.location = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'pool', 'action'=>'delete')); ?>/id/"+id;
            }
        }
    }

    function add(){
        window.location="";
    }

    function edit(){
        var id = $('input[name=faculty_id]:checked').val();

        if(!id){
            alert('Please select any pool first');
        }else{
            window.location=;
        }
    }

</script>