<div class="message toolbar">
    <h2><?php echo $this->translate("Course Offered"); ?></h2>
    <!--<div class="toolbar-button">
    </div>-->
</div>
<br/><br/>
<fieldset>
	<legend><?php echo $this->translate("Semester Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/generalsetup/subjectsoffered/index/search/1" method="POST">
                        <dl class="zend_form">
                            <dt><?php echo $this->translate("Semester Name");?></dt>
                            <dd><?php echo $this->lobjform->field3;?></dd>
                            <dt><?php echo $this->translate("Short Name");?></dt>
                            <dd><?php echo $this->lobjform->field2;?></dd>
                            <dt><?php echo $this->translate("Active");?></dt>
                            <dd><?php echo $this->lobjform->field7;?></dd>
                            <dd>
                            <?php echo $this->lobjform->Search;?>
                            <?php echo $this->lobjform->Clear;?>
                            </dd>
                        </dl>
                    </form>	
    </fieldset> 
    <br/>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
<tr>
	<th><?php echo $this->translate("Semester Name");?></th>
	<th><?php echo $this->translate("Short Name");?></th>
			<th><?php echo $this->translate("");?></th>
</tr>
<?php if (count($this->paginator)): ?>
<?php foreach ($this->paginator as $lobjsemester): ?>
<tr>
	<td><a href="<?php echo $this->baseUrl();?>/generalsetup/subjectoffer/index/idsemester/<?php echo $this->escape($lobjsemester['IdSemesterMaster']);?>" ><?php echo $this->escape($lobjsemester['SemesterMainName']);?></a></td>
	<td><?php print_r($this->escape($lobjsemester['SemesterMainCode']));?></td>
			<td align="center" class="options"><a href="<?php echo $this->baseUrl();?>/generalsetup/subjectoffer/index/idsemester/<?php echo $this->escape($lobjsemester['IdSemesterMaster']);?>" ><?php echo $this->translate('Edit'); ?></a></td>
	<?php endforeach; ?>
	<?php endif; ?> 
</tr>
</table>
<div class="pagination opt">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>