<script type="text/javascript"><!--

$(function () {

	 getProgramScheme('#IdProgram');
	
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    	$('.chk2').prop('disabled',false);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
			 $('.chk2').prop('disabled', 'disabled');
		 }
	 });

	$('#form1').submit(function(e){

		 var isChecked = $('.chkbx').is(':checked');
		 if(isChecked==true){	

			return sure();
			 
		 }else{
			alert('Please select at least one student.')
			e.preventDefault();
		 }
	});
	 
});

function enabled(element,no){
	 var isChecked = $(element).is(':checked');

	 if(isChecked==true){	
		 $('#IdSemester'+no).prop('disabled', false);
		 $('#IdProgram'+no).prop('disabled', false);
		
	 }else{
		 $('#IdSemester'+no).prop('disabled', 'disabled');
		 $('#IdProgram'+no).prop('disabled', 'disabled');
		 
	 }
}

function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php echo $this->IdProgramScheme; ?>';
	
	if(idProgram!=''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'records','controller'=>'change-status-process', 'action'=>'get-program-scheme'),'default',true);?>",
				data: {'idProgram':idProgram},
				type: 'POST',
				dataType: 'json',
				success: function(data){
	
					$('#IdProgramScheme').empty();
					$('#IdProgramScheme').append('<option value="">-- All --</option>');			    	
			    	$.each(data, function(index) {
				    	if(IdProgramScheme==data[index].IdProgramScheme){
							var sel = 'selected';
				    	}else{
							var sel = '';
				    	}
			    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
			    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdProgramScheme');
					
			      
				},
				complete: function() {
					hideLoading('IdProgramScheme');
					
				}  	
			});



			
	}
}
    

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}


</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">		
	</div>
</div>

<br>

<?php echo $this->form;?>

<br>

<?php if (count($this->paginator)){	?>
<form name='form1' id='form1' method='post' action='<?php echo $this->url(array('module'=>'records','controller'=>'change-status-process', 'action'=>'process'),'default',true);?>'>
<table class="table" width="100%" cellpadding="5" cellspacing="1">

	<tr>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th> 	    	
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Current Semester");?></th>
		<th><?php echo $this->translate("Current Semester Status");?></th>
        <th><?php echo $this->translate("Process"); ?>?<br><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	</tr>

	<?php 	    		    		
	foreach ($this->paginator as $lobjstudents){
	?>
	<tr>	  		
		<td align='left'><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></td>	
		<td align='center'><?php echo $this->escape($lobjstudents['registrationId']);?></td>	
		<td align='center'><?php echo $this->escape($lobjstudents['profileStatus']);?></td>
		<td align='center'><?php echo $this->escape($lobjstudents['current_semester']['SemesterMainName']);?></td>
		<td align='center'><?php echo $this->escape($lobjstudents['semester_status']);?></td>
        <td align="center" class="options">
          <input class='chk2' type='hidden' name='IdProgram[<?php echo $lobjstudents["IdStudentRegistration"];?>]' id='IdProgram<?php echo $lobjstudents["IdStudentRegistration"];?>' value='<?php echo $lobjstudents["IdProgram"];?>' disabled>
          <input class='chk2' type='hidden' name='IdSemester[<?php echo $lobjstudents["IdStudentRegistration"];?>]' id='IdSemester<?php echo $lobjstudents["IdStudentRegistration"];?>' value='<?php echo $this->escape($lobjstudents['current_semester']['IdSemesterMaster']);?>' disabled>
          <input type='checkbox' class='chkbx' name='IdStudentRegistration[]' id='IdStudentRegistration' value='<?php echo $lobjstudents["IdStudentRegistration"];?>' onclick='enabled(this,<?php echo $lobjstudents["IdStudentRegistration"];?>)'>
       </td>
   <?php 
	}  
	?>
	</tr>
	
</table>
<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Process"); ?>'>
</div>
 <?php 
	}  
	?>
</form>