<h1 class="title"><?php echo $this->translate('Forgot Password')?></h1>

<?php if ( $this->errorMsg  == '' ) { ?>
<?php if ( $this->Msg != '' ) { ?>
<div class="message">
	<?php echo $this->Msg ?>
</div>
<?php } ?>

<?php if ( $this->errorMsg != '' ) { ?>
<div class="error message">
	<?php echo $this->errorMsg ?>
</div>
<?php } else { ?>

<?php if ( $this->sent == 1 ) { ?>

<script type="text/javascript">
setTimeout(function(){ 
	window.location.href = '<?php echo $this->baseUrl()?>/';
}, 2000);
</script>

<?php } else { ?>
<form method="post" action="" onsubmit="return validateForm()">
	<div class="formnice">
		<div class="row"><strong><?php echo $this->translate('New Password')?></strong><?php echo $this->form->password?></div>
		<div class="row"><strong><?php echo $this->translate('Confirm Password')?></strong><?php echo $this->form->confirmpass?></div>
		<div class="submit">
			<?php echo $this->form->submit ?>
		</div>
	</div>
</form>

<script type="text/javascript">
	function validateForm()
	{
		var password = $("#password").val();
		var confirmpass = $("#confirmpass").val();

		if (confirmpass != password )
		{
			alert('<?php echo $this->translate('Passwords does\'t match. Please check and try again')?>');
			return false;
		}

		return true;
	}
</script>
<?php } ?>
<?php } ?>
<?php } //error ?>