<script>
$(function() {

	$("#dialog-message").dialog({  //create dialog, but keep it closed
	   autoOpen: false,
	   height: 450,
	   width: 800,
	   modal: true 
	});
});

function openDialog(id){  //load content and open dialog
	url = "<?php echo $this->url(array('module'=>'records','controller'=>'semesterchangestatus','action'=>'add'), 'default', true);?>/id/"+id;
    $("#dialog-message").load(url);
    $("#dialog-message").dialog("open");         
}


</script>



<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'index'), 'default', true); ?>">
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>



<form id='form1' method='post'>
<fieldset>
<legend><?php echo $this->translate('Search');?></legend>
 <table class="" width="100%" cellpadding=10>  
 		<tr>           
            <td width='20%'><?php echo $this->translate("Name"); ?></td>
            <td><?php echo $this->form->Name; ?></td>
        </tr>               
        <tr>
            <td><?php echo $this->translate("Student ID"); ?></td>
            <td><?php echo $this->form->StudentId ?></td>           
        </tr> 
        <tr>
        	<td><?php echo $this->translate("Identity ID"); ?></td>
            <td><?php echo $this->form->IdNric; ?></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        	<td><?php echo $this->form->Search; ?><?php echo $this->form->Clear; ?></td>
        </tr>
    </table>
</fieldset>
</form>

<br></br>

<table class="table" width="100%" cellpadding="5" cellspacing="1">

	<tr>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th> 
		<th><?php echo $this->translate("Programme");?></th>		    	
		<th><?php echo $this->translate("Programme Scheme");?></th>
		<th><?php echo $this->translate("Intake");?></th>			
        <th>&nbsp;</th>
	</tr>

	<?php 	    	
	if (count($this->paginator)){	    		
	foreach ($this->paginator as $lobjstudents){
	?>
	<tr>	  		
		<td align='center'><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_lname']);?></td>
		<td align='center'><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td align='center'><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
		<td align='center'><?php echo $lobjstudents['mop'].'<br/>'.$lobjstudents['mos'].'<br/>'.$lobjstudents['pt'] ?></td>
		<td align='center'><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>	
        <td align='center'>        
        	<a href='#' onclick='openDialog(<?php echo $lobjstudents['IdStudentRegistration']; ?>);'><?php echo $this->translate("Apply"); ?></a>       
        	<?php 
        		/*if($lobjstudents['IdApplyingFor']!='') {
				if($lobjstudents['IdApplyingFor']==248){ echo $this->translate('Applied for Defer'); }
				if($lobjstudents['IdApplyingFor']==249){ echo $this->translate('Applied for Quit'); }
			  	}*/			  
			  ?>
        </td>
   <?php 
	} } 
	?>
	</tr>
	<?php 
	if (count($this->paginator)){
	?>
	<tr>
		<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
								'/partials/my_pagination_control.phtml'); ?></div></td>
	</tr>
	<?php 
	}
	?>
</table>

<div id="dialog-message" title="Change Status Details">
<span id='loading'>Loading...</span>
</div>

