
<script type="text/javascript">
    var batchArray  = new Array();
    var rowid = 1;
    dojo.addOnLoad(function() {
        dijit.byId('IdSemester').set('value','');
        dijit.byId('IdSemester').set('placeHolder','Select');
        dijit.byId('IdProfileStatus').set('value','');
        dijit.byId('IdProfileStatus').set('placeHolder','Select');
        dijit.byId('IdStudent').set('value','');
        dijit.byId('IdStudent').set('placeHolder','Select');
        dijit.byId('IdApplyingFor').set('value','');
        dijit.byId('IdApplyingFor').set('placeHolder','Select');
        dijit.byId('IdEffectiveSemester').set('value','');
        dijit.byId('IdEffectiveSemester').set('placeHolder','Select');
        dijit.byId('Reason').set('value','');
        dijit.byId('Reason').set('placeHolder','Select');
        dijit.byId('ApplicationDate').set("readOnly",true);
        dijit.byId('AppliedByName').set("readOnly",true);
        dijit.byId('ApplicationStatusByName').set("readOnly",true);
        
    });

    function getReasons(Idapplyingfor){
        if(Idapplyingfor!=''){
            var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'fngetreasons'), 'default', true); ?>?Idapplyingfor='+Idapplyingfor;
            var xhrArgs = {
                url: url,
                handleAs:'json',
                load:function(data){
                    AutoFillNextEditableDropDown("Reason",data);
                    dijit.byId('Reason').set('value','');
                    dijit.byId('Reason').set('placeHolder','Select');
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    
    function getStudent(){
        var Name = dijit.byId("Name").value;
        var StudentId = dijit.byId("StudentId").value;
        var IdProfileStatus = dijit.byId("IdProfileStatus").value;
        var IdSemester = dijit.byId("IdSemester").value;
        var IdNric = dijit.byId("IdNric").value;
        var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'credittransferapp', 'action' => 'fngetstudentdet'), 'default', true); ?>?Name='+Name+'&StudentId='+StudentId+'&IdProfileStatus='+IdProfileStatus+'&IdSemester='+IdSemester+'&IdNric='+IdNric;
        var xhrArgs = {
            url: url,
            handleAs:'json',
            load:function(data){
                AutoFillNextEditableDropDown("IdStudent",data);
                dijit.byId('IdStudent').set('value','');
                dijit.byId('IdStudent').set('placeHolder','Select');
            }
        }
        dojo.xhrGet(xhrArgs);
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }

    function getStudentdetail(studentId){
        if(studentId != ''){
            $.ajax({
                type: 'GET',
                async: false,
                url: '<?php echo $this->url(array('module' => 'records', 'controller' => 'credittransferapp', 'action' => 'detailstudent'), 'default', true); ?>',
                data: "IdStudent=" + studentId,
                success: function(data) {
                    //$('#IdStudentRegistration').remove();
                    $("#studdetail").html(data);
                }
            });
            var IdStudentRegistration = $('#IdStudentRegistration').val();
            geteffectiveSemester(IdStudentRegistration);
        }
    }

    function geteffectiveSemester(IdStudentRegistration){        
        var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'fngeteffectivesemester'), 'default', true); ?>?IdStudentRegistration='+IdStudentRegistration;
        var xhrArgs = {
            url: url,
            handleAs:'json',
            load:function(data){
                AutoFillNextEditableDropDown("IdEffectiveSemester",data);
                dijit.byId('IdEffectiveSemester').set('value','');
                dijit.byId('IdEffectiveSemester').set('placeHolder','Select');
            }
        }
        dojo.xhrGet(xhrArgs);
    }

    function validateform(){        
        var flag = true;       
        if($('#IdStudentRegistration').val() == ''){
            alert('Please select Student');
            flag = false;
        }        
        return flag;
    }
</script>
<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("Application Detail Section"); ?>" style="height: auto;width:99%;overflow:auto">
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Search Student"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Name"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->Name; ?></td>
            <td><?php echo $this->translate("Student Id"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->StudentId ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Profile Status"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdProfileStatus ?></td>
            <td><?php echo $this->translate("Semester"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdSemester; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("NRIC ID"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdNric; ?></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td align="right" colspan="4"><input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Search') ?>" value='click' onclick="getStudent()" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Select Student"); ?></td>
            <td colspan="3"><?php echo $this->lobjcredittransferForm->IdStudent; ?>            
            </td>
        </tr>
    </table>
    <form name="addchangestatusForm" id="addchangestatusForm" action="" width="100%" dojoType="dijit.form.Form" method="POST">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
			var flag = validateform();
                        return flag;
                } else {
                    return false;
                }
				</script>
        <div id="studdetail">
            <table class="table" width="100%">
                <tr>
                    <th colspan="4"><?php echo $this->translate("Student Detail"); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Student Id"); ?></td>
                    <td></td>
                    <td><?php echo $this->translate("NRIC Id"); ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Name"); ?></td>
                    <td></td>
                    <td><?php echo $this->translate("Scheme"); ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Intake"); ?></td>
                    <td></td>
                    <td><?php echo $this->translate("Program"); ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Profile Status"); ?></td>
                    <td></td>
                    <td><?php echo $this->translate("Semester Status"); ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Current Semester"); ?></td>
                    <td colspan="3"><input type ="hidden" id="IdStudentRegistration" name="IdStudentRegistration" value=""</td>
                </tr>
            </table>
        </div>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Add Application"); ?></th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Applying for"); ?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjchangestatusForm->IdApplyingFor ?></td>
                <td><?php echo $this->translate("Effective Semester"); ?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjchangestatusForm->IdEffectiveSemester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Reason for Applying"); ?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjchangestatusForm->Reason; ?></td>
                <td><?php echo $this->translate("Application Date"); ?></td>
                <td><?php echo $this->lobjchangestatusForm->ApplicationDate; ?></td>
            </tr>
            <tr>

                <td><?php echo $this->translate("Applied By"); ?></td>
                <td><?php echo $this->lobjchangestatusForm->AppliedByName; ?><?php echo $this->lobjchangestatusForm->AppliedBy; ?></td>
                <td><?php echo $this->translate("Application Status"); ?></td>
                <td><?php echo $this->lobjchangestatusForm->ApplicationStatusByName; ?><?php echo $this->lobjchangestatusForm->ApplicationStatus; ?>
                <?php echo $this->lobjchangestatusForm->UpdDate; ?>
                <?php echo $this->lobjchangestatusForm->UpdUser; ?>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="4">
                    <?php echo $this->lobjchangestatusForm->Save; ?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'semesterchangestatus', 'action'=>'index'),'default',true);?>';" />
                </td>
            </tr>
        </table>
    </form>
</div>