
<script type="text/javascript">
	$(function() {
		// Handler for .ready() called.
		$('#myForm1').submit(function(e){
			var flag = validateApproval();			
			return flag;
		});
		
	});

	 function validateApproval(){
	    var flag= true;
	    
	    var Idstudent = $('#IdStudentRegistration').val();
	    var values = $('#myForm1').serialize();   
	    $.ajax({
	        type: 'GET',
	        async: false,
	        url: '<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'approveapplication'), 'default', true); ?>',
	        data: { 'IdStudent':Idstudent } ,
	        success: function(data) {    
		        console.log(data);        
	            if(data == 1){
	                flag = true;
	            }else{
	                flag = false;
	                alert('There is pending Credit Transfer application or Change Program application for selected Student. Change Program is not possible');
	            }
	        },
			beforeSend: function() {				
	        	 $("#loading_wait").show();		      
			},
			complete: function() {
				$("#loading_wait").hide();
			}
	    });
	   return flag;
	 }
</script>

<style>

.white_content {
	display: none;
	position: absolute;
	width:280px;
	height:30px;
	top: 50%;
	left: 50%;
	border-radius:5px;
	padding:8px;
	margin-left:-215px; /* width/2 + padding-left */
  	margin-top:-55px; /* height/2 + padding-top */	
	background-color: #F2F5A9;
	z-index:1002;
	overflow: auto;
	text-align:center;
   

}
</style>
 
<div id="loading_wait" class="white_content">Please wait...</div>
        
        
    <form id="myForm1" action="" method="post"  name= "myForm1">
     <input type='hidden' name='IdStudentRegistration' id='IdStudentRegistration' value='<?php echo $this->appdetail['IdStudentRegistration'];?>'>
     <input type='hidden' name='IdChangeStatusApplication' id='IdChangeStatusApplication' value='<?php echo $this->appdetail['IdChangeStatusApplication'];?>'>
     <input type='hidden' name='EffectiveSemesterFrom' id='EffectiveSemesterFrom' value='<?php echo $this->appdetail['EffectiveSemesterFrom'];?>'>
     <input type='hidden' name='IdApplyingFor' id='IdApplyingFor' value='<?php echo $this->appdetail['IdApplyingFor'];?>'>
      
        <table class="" width="100%">
        	<tr>
                <td width='25%'>Approval Status *</td>
                <td>
                	<select name='status' id='status'>                		
                		<?php if($this->appdetail['ApplicationStatus']==240) { ?>
                		<option value='0'><?php echo $this->translate('-- Please Select --')?></option>
                		<option value='1'><?php echo $this->translate('Approve')?></option>
                		<option value='2'><?php echo $this->translate('Reject')?></option>
                		<?php }else{ ?>
                		<option value='3'><?php echo $this->translate('Revert')?></option>
                		<?php } ?>
                	</select>
                </td>               
            </tr>
            <tr>
                <td>Remarks *</td>
                <td><textarea name='remarks' id='remarks'></textarea></td>               
            </tr>  
        </table>
        	<div class='form-opt'>
			<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
			</div>

    </form>

