<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
  
  
  
  <div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if ($this->appdetail['ApplicationStatus']==241 && $this->appdetail['IdApplyingFor']==250){
            ?>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'print-defer-slip', 'id'=>$this->appdetail['IdChangeStatusApplication']), 'default', true); ?>">
                <span class='print'></span>
                <?php echo $this->translate("Print Slip");?>
                </a>
            </li>
            <?php
            }
            ?>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'changestatusapplicationapproval'), 'default', true); ?>">
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><?php echo $this->translate("Application Details");?></a></li>   
    <?php if($this->appdetail['IdApplyingFor']==835){?>
    <li><a href="#tabs-2"><?php echo $this->translate("Student Clearance Info");?></a></li>
    <?php } ?>
    <?php if($this->allow==true){?><!--
    <li><a href="#tabs-3"><?php echo $this->translate("Change Status Approval");?></a></li>
    --><?php } ?>
  </ul>
  <div id="tabs-1">
    <!-- Partial start here for Records status tab -->
    <?php echo $this->partial("semesterchangestatus/listchangestatusdetapplication.phtml", array('appdetail' => $this->appdetail,'currsem' => $this->currsem,'reasons' => $this->reasons,'currsemstatus' => $this->currsemstatus, 'role'=>$this->role, 'upl'=>$this->upl)); ?>
    <!-- Partial close here for Records status tab -->
  </div>
  <?php if($this->appdetail['IdApplyingFor']==835){?>
  <div id="tabs-2">
  	  <!-- Partial start here for  decalration -->
     <?php echo $this->partial("semesterchangestatus/declaration.phtml", array('changestatusapplicationForm' => $this->changestatusapplicationForm,'appdetail' => $this->appdetail,'confdetail' => $this->confdetail, 'id'=>$this->IdApplication, 'kmc'=>$this->kmc, 'celFin'=>$this->celFin, 'ict'=>$this->ict, 'logistic'=>$this->logistic, 'role'=>$this->role)); ?>
     <!-- Partial close here for  decalration -->     
  </div>
  <?php } ?>
  <?php if($this->allow==true){?>
  <!--<div id="tabs-3">
      Partial start here for Reasons for Quitting 
     <?php echo $this->partial("semesterchangestatus/approvechangestatusdetapplication.phtml", array('changestatusapplicationForm' => $this->changestatusapplicationForm,'appdetail' => $this->appdetail,'confdetail' => $this->confdetail)); ?>
      Partial close here for Reasons for Quitting 
  </div>
  --><?php } ?>
  
</div>