<head>
    <script language='javascript' src='<?php echo $this->baseUrl(); ?>/js/jquery-1.4.3.js'></script>
    <script type="text/javascript">
        dojo.addOnLoad(function (){
        });

        function fnToggleTabs(TabAction,CurrentTabId,NextTabId){
            if(TabAction == "Next"){
                //var flag = Validateform(CurrentTabId);
                //if(flag){
                    var mainTabContainerId = dijit.byId("mainTabContainer")
                    var tabContainerId = dijit.byId(NextTabId);
                    mainTabContainerId.selectChild(tabContainerId);
                //}
            }else if(TabAction == "Back"){
                var mainTabContainerId = dijit.byId("mainTabContainer")
                var tabContainerId = dijit.byId(NextTabId);
                mainTabContainerId.selectChild(tabContainerId);
            }
        }
    </script>
    <style type="text/css">
        div.cabinet
        {
            width: 300px;
            background: url(<?php echo $this->baseUrl(); ?>/images/button.gif) 0 0 no-repeat;
            /*height: 100px;*/
            display: block;
            cursor: pointer;
        }
        div.cabinet div.MultiFile-wrap div.MultiFile-list
        {
            height: 70px;
            width: 600px;
            display: block;
            overflow: auto;
        }
        div.cabinet div.MultiFile-wrap div.MultiFile-list div.MultiFile-label a.MultiFile-remove
        {
            background:url(<?php echo $this->baseUrl(); ?>/images/delete.png)0 0 no-repeat;
        }
        div.cabinet input.file
        {
            position: relative;
            width: auto;
            opacity: 0;
            -moz-opacity: 0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        }
    </style>
</head>
<body class="claro">
    <fieldset>
        <legend><?php echo $this->translate("Change Status Application"); ?></legend>

        <table>
            <tr>
                <td>
                    <div id="mainTabContainer" dojoType="dijit.layout.TabContainer" doLayout="false" tabPosition="top"  style="width: 1100px;height:auto">
                        <!-- Partial start here for Records status tab -->
                        <?php echo $this->partial("semesterchangestatus/listchangestatusdetapplication.phtml", array('appdetail' => $this->appdetail,'currsem' => $this->currsem,'reasons' => $this->reasons,'currsemstatus' => $this->currsemstatus)); ?>
                        <!-- Partial close here for Records status tab -->

                        <!-- Partial start here for Reasons for Quitting -->
                        <?php echo $this->partial("semesterchangestatus/approvechangestatusdetapplication.phtml", array('changestatusapplicationForm' => $this->changestatusapplicationForm,'appdetail' => $this->appdetail,'confdetail' => $this->confdetail)); ?>
                        <!-- Partial close here for Reasons for Quitting -->
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
