<script>

$(function() {
	    // Handler for .ready() called.

		$('.datepicker').datepicker({
			dateFormat: 'dd-mm-yy',			
			changeMonth: true,
			changeYear: true
		});


		$( "#dialog" ).dialog({
	      autoOpen: false,
	      width:600,
	      height:300,
	      modal: true,
	      buttons: {
	        "Save": function() {
	          $('#clearancekmc').submit();
	          $( this ).dialog( "close" );
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      }
	    });


		$( "#dialog-finance" ).dialog({
		      autoOpen: false,
		      width:600,
		      height:400,
		      modal: true,
		      buttons: {
		        "Save": function() {
			      $('#clearanceFinance').submit();
		          $( this ).dialog( "close" );
		        },
		        Cancel: function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });


		$( "#dialog-ict" ).dialog({
		      autoOpen: false,
		      width:600,
		      height:400,
		      modal: true,
		      buttons: {
		        "Save": function() {
			      $('#clearanceIct').submit();
		          $( this ).dialog( "close" );
		        },
		        Cancel: function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });
                    
                    $( "#dialog-logistic" ).dialog({
		      autoOpen: false,
		      width:600,
		      height:400,
		      modal: true,
		      buttons: {
		        "Save": function() {
			      $('#clearanceLogistic').submit();
		          $( this ).dialog( "close" );
		        },
		        Cancel: function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });
    
	  $('.ajaxKmc').click(function(){
			//popup box
		    $( "#dialog" ).dialog( "open" );
	  });

	  $('.ajaxFinance').click(function(){
			//popup box
		    $( "#dialog-finance" ).dialog( "open" );
	  });

	  $('.ajaxIct').click(function(){
			//popup box
		    $( "#dialog-ict" ).dialog( "open" );
	  });
          
          $('.ajaxLogistic').click(function(){
			//popup box
		    $( "#dialog-logistic" ).dialog( "open" );
	  });
});

</script>

<div id="dialog" title="Department Clearance - Knowledge Management Centre">
<form name="clearancekmc" id='clearancekmc' method='post' action="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'clearance', 'id'=>$this->id), 'default', true); ?>">
<input type='hidden' name='IdChangeStatusApplication' id='IdChangeStatusApplication' value='<?php echo $this->appdetail['IdChangeStatusApplication'];?>'>
	<?php echo $this->partial("semesterchangestatus/kmc.phtml", array('kmc'=>$this->kmc)); ?>
</form>
</div>

<div id="dialog-finance" title="Department Clearance - Finance Department">	
<form name="clearanceFinance" id='clearanceFinance' method='post' action="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'clearance', 'id'=>$this->id), 'default', true); ?>">
<input type='hidden' name='IdChangeStatusApplication' id='IdChangeStatusApplication' value='<?php echo $this->appdetail['IdChangeStatusApplication'];?>'>
 	<?php echo $this->partial("semesterchangestatus/finance.phtml", array('celFin'=>$this->celFin)); ?>
</form>
</div>

<div id="dialog-ict" title="Department Clearance - ICT Unit">	
<form name="clearanceIct" id='clearanceIct' method='post' action="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'clearance', 'id'=>$this->id), 'default', true); ?>">
<input type='hidden' name='IdChangeStatusApplication' id='IdChangeStatusApplication' value='<?php echo $this->appdetail['IdChangeStatusApplication'];?>'>
 	<?php echo $this->partial("semesterchangestatus/ict.phtml", array('ict'=>$this->ict)); ?>
</form>
</div>

<div id="dialog-logistic" title="Department Clearance - Logistics & Procurement Unit">	
<form name="clearanceLogistic" id='clearanceLogistic' method='post' action="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'clearance', 'id'=>$this->id), 'default', true); ?>">
<input type='hidden' name='IdChangeStatusApplication' id='IdChangeStatusApplication' value='<?php echo $this->appdetail['IdChangeStatusApplication'];?>'>
 	<?php echo $this->partial("semesterchangestatus/logistic.phtml", array('logistic'=>$this->logistic)); ?>
</form>
</div>

<fieldset>
<div class="toolbar-button">
    <ul>
        <li>
            <a href="<?php echo $this->url(array('module'=>'records', 'controller'=>'semesterchangestatus', 'action'=>'print-clearance', 'id'=>$this->appdetail['IdChangeStatusApplication']), 'default', true);?>">
                <span class='print'></span>
                Print
            </a>
        </li>
    </ul>
</div>
<table class="" width="100%" align='center' cellpadding='10' cellspacing='10' border=1>
	<tr>
		<td align='center'  colspan="3"><h1>STUDENT CLEARANCE FORM</h1></td>
	</tr>
	<tr>
        <td colspan="3">All students leaving INCEIF must obtain clearance and signature from the respective departments before transcripts, scroll or verification of official withdrawal can be issued.</td>
    </tr>
    <tr>
    	<td colspan="3"><hr></hr></td>
    </tr>
    <tr id='tr-title'>
    	<td  colspan="3"><h3>A. STUDENT DETAILS</h3></td>
    </tr>
    <tr>
    	<td width="20%">Name</td>
        <td width="3%"> : </td>
    	<td><?php echo $this->appdetail['appl_fname'].' '.$this->appdetail['appl_lname'];?></td>     	
    </tr>
    <tr>
    	<td>Student ID </td>
        <td> : </td>
    	<td><?php echo ($this->appdetail['registrationId']) ? $this->appdetail['registrationId'] : ''?></td>  	
    </tr>
    <tr>
    	<td>Programme </td>  
        <td> : </td>
    	<td><?php echo ($this->appdetail['ProgramName']) ? $this->appdetail['ProgramName'] : ''?></td>  	   	
    </tr>
    <tr>
    	<td>Reason For Clearance</td>
        <td> : </td>
    	<!--<td><?php //echo ($this->appdetail['Reason']==99) ? $this->appdetail['Others']:$this->reasons; ?></td>	-->
    	<td><?php echo ($this->appdetail['applicationtype']) ? $this->appdetail['applicationtype'] : ''?></td>
    </tr>
</table>
    <table class="" width="100%" align='center' cellpadding='10' cellspacing='10' border=1>
    <tr>
    	<td colspan="2"><hr></hr></td>
    </tr>
     <tr id='tr-title'>
    	<td colspan="2"><h3>B.	DIVISIONS CLEARANCE</h3></td>
    </tr>
    <tr id='tr-sub-title' >
    	<td><strong>Knowledge Management Centre</strong></td>
    	<td align='right'>
            <?php 
            if ($this->role == 943 || $this->role == 1){
            ?>
            <a href='#' class='ajaxKmc'>Edit</a>
            <?php 
            }
            ?>
        </td>
    </tr>
      <tr>
    	<td colspan="2">
    	<ul>
    		<li>Pending to return : <?php echo $this->kmc['kmc_return']; ?></li>
    		<li>Penalty RM : <?php echo $this->kmc['kmc_penalty']; ?></li>
                <li>Paid On : <?php echo isset($this->kmc['kmc_paiddt']) && $this->kmc['kmc_paiddt']!='1970-01-01' && $this->kmc['kmc_paiddt']!='0000-00-00' && $this->kmc['kmc_paiddt']!='' && $this->kmc['kmc_paiddt']!=null ? date('d-m-Y', strtotime($this->kmc['kmc_paiddt'])):''; ?></li>
    	</ul>
    	</td>    	
    </tr>
    <tr>
        <td>Remarks : <?php echo $this->kmc['kmc_remarks']; ?></td>
        <td></td>
    </tr>
     <tr>
        <td>Status : <?php if ($this->kmc['kmc_status']!=null){echo $this->kmc['kmc_status']==1 ? 'Approved':'Rejected';} ?></td>
         <td></td>
     </tr>
     <tr>
        <td width="10%">Approved By : <?php echo $this->kmc['name']; ?></td>
         <td>Approved Date : <?php echo $this->kmc['kmc_createddt']!='' && $this->kmc['kmc_createddt']!=null ? date('d-m-Y', strtotime($this->kmc['kmc_createddt'])):''; ?></td>
     </tr>
     <tr>
    	<td colspan="2"><hr></hr></td>
    </tr>
    <tr id='tr-sub-title' >
    	<td><strong>Finance Division</strong></td>
    	<td align='right' width=''>
            <?php 
            if ($this->role == 876 || $this->role == 1){
            ?>
            <a href='#' class='ajaxFinance'>Edit</a>
            <?php
            }
            ?>
        </td>
    </tr>
     <tr>
    	<td colspan="2">
        Payment to be collected/refunded
    	<ul>
    		<li>Security Deposit : <?php echo $this->celFin['dcf_security_deposit']; ?></li>
    		<li>Personal Bond : <?php echo $this->celFin['dcf_bond']; ?></li>
                <li>Tuition Fee/Accommodation : <?php echo $this->celFin['dcf_fee']; ?></li>
                <li>Total : <?php echo $this->celFin['dcf_security_deposit']+$this->celFin['dcf_bond']+$this->celFin['dcf_fee']; ?></li>
    	</ul>
    	</td>    	
    </tr>
    <tr>
        <td>Remarks : <?php echo $this->celFin['dcf_remarks']; ?></td>
        <td></td>
    </tr>
     <tr>
        <td>Status : <?php if($this->celFin['dcf_status']!=null){echo $this->celFin['dcf_status']==1 ? 'Approved':'Rejected';} ?></td>
         <td></td>
     </tr>
     <tr>
        <td>Approved By : <?php echo $this->celFin['name']; ?></td>
         <td>Approved Date : <?php echo $this->celFin['dcf_createddt']!='' && $this->celFin['dcf_createddt']!=null ? date('d-m-Y', strtotime($this->celFin['dcf_createddt'])):''; ?></td>
     </tr>
     <tr>
    	<td colspan="2"><hr></hr></td>
    </tr>
    <tr id='tr-sub-title' >
    	<td><strong>ICT Division</strong></td>
    	<td align='right' width='10%'>
            <?php 
            if ($this->role == 944 || $this->role == 1){
            ?>
            <a href='#' class='ajaxIct'>Edit</a>
            <?php
            }
            ?>
        </td>
    </tr>
     <tr>
    	<td colspan="2">
    	<ul>
    		<li>Removed email address from the group</li>
    	</ul>
    	</td>    	
    </tr>
    <tr>
        <td>Remarks : <?php echo $this->ict['ict_remarks']; ?></td>
        <td></td>
    </tr>  
     <tr>
        <td>Status : <?php if ($this->ict['ict_status']!=null){echo $this->ict['ict_status']==1 ? 'Approved':'Rejected';} ?></td>
         <td></td>
     </tr>
     <tr>
        <td>Approved By : <?php echo $this->ict['name']; ?></td>
         <td>Approved Date : <?php echo $this->ict['ict_createddt']!='' && $this->ict['ict_createddt']!=null ? date('d-m-Y', strtotime($this->ict['ict_createddt'])):''; ?></td>
     </tr>
     <tr>
    	<td colspan="2"><hr></hr></td>
    </tr>
    <tr id='tr-sub-title' >
    	<td><strong>Facilities Management And Procurement Division </strong></td>
    	<td align='right' width='10%'>
            <?php 
            if ($this->role == 945 || $this->role == 1){
            ?>
            <a href='#' class='ajaxLogistic'>Edit</a>
            <?php
            }
            ?>
        </td>
    </tr>
     <tr>
    	<td colspan="2">
    	<ul>
            <li>Blocked building access </li>
    	</ul>
    	</td>    	
    </tr>
     <tr>
        <td>Remarks : <?php echo $this->logistic['log_remarks']; ?></td>
         <td></td>
    </tr>  
     <tr>
        <td>Status : <?php if ($this->logistic['log_status']!=null){echo $this->logistic['log_status']==1 ? 'Approved':'Rejected';} ?></td>
         <td></td>
     </tr>
     <tr>
        <td>Approved By : <?php echo $this->logistic['name']; ?></td>
         <td>Approved Date : <?php echo $this->logistic['log_createddt']!='' && $this->logistic['log_createddt']!=null ? date('d-m-Y', strtotime($this->logistic['log_createddt'])):''; ?></td>
     </tr>
    </table>
    <table class="" width="100%" align='center' cellpadding='10' cellspacing='10' border=1>
    <tr>
    	<td colspan="2"><hr></hr></td>
    </tr>
     <tr id='tr-title'>
         <td colspan="2"><h3>C.	FOR OFFICE USE (Admission and Student Affairs Division)</h3></td>
    </tr>
    <tr>
        <td colspan="2">Remarks : <?php echo $this->appdetail['Remarks']; ?></td>
    </tr>
      <tr>
    	<td width="50%">Applied By : <?php echo ($this->appdetail['loginName']) ? $this->appdetail['loginName'] : ''?></td>
        <td>Applied Date : <?php echo ($this->appdetail['ApplicationDate']) ? date('d-m-Y',strtotime($this->appdetail['ApplicationDate'])) : ''?></td>
   	 </tr> 
      <tr>
    	<td>Approved By : <?php echo ($this->appdetail['ApprovedBy']) ? $this->appdetail['ApprovedBy'] : ''?></td>
        <td>Approved Date : <?php echo ($this->appdetail['DateApproved']) ? date('d-m-Y',strtotime($this->appdetail['DateApproved'])) : ''?></td>
    </tr>
    
</table>
</fieldset>