<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("Application Detail Section"); ?>" style="height: auto;width:99%;overflow:auto">
    
        <div id="studdetail">
            <table class="table" width="100%">
                <tr>
                    <th colspan="4"><?php echo $this->translate("Student Detail"); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Student Id"); ?></td>
                    <td><?php echo ($this->appdetail['registrationId']) ? $this->appdetail['registrationId'] : ''?></td>
                    <td><?php echo $this->translate("NRIC Id"); ?></td>
                    <td><?php echo ($this->appdetail['ExtraIdField1']) ? $this->appdetail['ExtraIdField1'] : ''?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Name"); ?></td>
                    <td><?php echo ($this->appdetail['FName']) ? ($this->appdetail['FName'] .' '.$this->appdetail['LName']) : ''?></td>
                    <td><?php echo $this->translate("Scheme"); ?></td>
                    <td><?php echo ($this->appdetail['EnglishDescription']) ? $this->appdetail['EnglishDescription'] : ''?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Intake"); ?></td>
                    <td><?php echo ($this->appdetail['IntakeDesc']) ? $this->appdetail['IntakeDesc'] : ''?></td>
                    <td><?php echo $this->translate("Program"); ?></td>
                    <td><?php echo ($this->appdetail['ProgramName']) ? $this->appdetail['ProgramName'] : ''?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Profile Status"); ?></td>
                    <td><?php echo ($this->appdetail['profilestatus']) ? strtoupper($this->appdetail['profilestatus']) : ''?></td>
                    <td><?php echo $this->translate("Semester Status"); ?></td>
                    <td><?php echo ($this->currsemstatus) ? strtoupper($this->currsemstatus) : ''?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Current Semester"); ?></td>
                    <td colspan="3"><?php echo ($this->currsem) ? $this->currsem : ''?></td>
                </tr>
            </table>
        </div>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Add Application"); ?></th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Applying for"); ?></td>
                <td><?php echo ($this->appdetail['applyingfor']) ? $this->appdetail['applyingfor'] : ''?></td>
                <td><?php echo $this->translate("Effective Semester"); ?></td>
                <td><?php echo ($this->appdetail['IdEffectiveSemester']) ? $this->appdetail['IdEffectiveSemester'] : ''?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Reason for Applying"); ?></td>
                <td><?php echo ($this->reasons) ? $this->reasons : ''?></td>
                <td><?php echo $this->translate("Application Date"); ?></td>
                <td><?php echo ($this->appdetail['ApplicationDate']) ? $this->appdetail['ApplicationDate'] : ''?></td>
            </tr>
            <tr>

                <td><?php echo $this->translate("Applied By"); ?></td>
                <td><?php echo ($this->appdetail['loginName']) ? $this->appdetail['loginName'] : ''?></td>
                <td><?php echo $this->translate("Application Status"); ?></td>
                <td><?php echo ($this->appdetail['appstatus']) ? strtoupper($this->appdetail['appstatus']) : ''?></td>
            </tr>
            <!--<tr>
                <td align="right" colspan="4">
                    <?php echo $this->lobjchangestatusForm->Save; ?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'semesterchangestatus', 'action'=>'changestatusapplicationapproval'),'default',true);?>';" />
                    <input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-one','tab-two')">

                </td>
            </tr>-->
        </table>
   <!-- </form> -->
</div>