<input type='hidden' name='type' id='type' value='finance'>
<table class="" width="100%" align='center' cellpadding='10' cellspacing='10'>	   
 	 <tr>
    	<td colspan=2><strong>Payment to be collected / refunded:-</strong></td> 
    </tr>
    <tr>
    	<td>Security Deposit</td>   
    	<td><input type='text' name='dcf_security_deposit' id='' value='<?php echo $this->celFin['dcf_security_deposit']; ?>'></td>    	
    </tr>
    <tr>
    	<td>Personal Bond</td>   
    	<td><input type='text' name='dcf_bond' id='' value='<?php echo $this->celFin['dcf_bond']; ?>'></td>    	
    </tr>
    <tr>
    	<td>Tuition Fee/Accomodation</td>   
    	<td><input type='text' name='dcf_fee' id='fd_fee' value='<?php echo $this->celFin['dcf_fee']; ?>'></td>    	
    </tr>    
    <tr>
    	<td>Approval Status</td>   
    	<td>
    	<input type="radio" name="dcf_status" value='1' <?php echo $this->celFin['dcf_status']==1 ? 'checked':''; ?>>Approve
    	<input type="radio" name="dcf_status" value='0' <?php echo $this->celFin['dcf_status']==0 ? 'checked':''; ?>>Reject
    	</td>    	
    </tr>
     <tr>
    	<td>Remarks</td>   
    	<td>
    	<textarea name='dcf_remarks' id='dcf_remarks'><?php echo $this->celFin['dcf_remarks']; ?></textarea>
    	</td>    	
    </tr>
    </table>
