

    <script>
      

        $(function () {

      		 $('.ajaxCancel').click(function(e){
       			
      			 var link = $(this).attr('href');
      			
      			 var msg = confirm('Are you sure you want to cancel this change status application?');
      			 if(msg){
          			 $.ajax({
              			 url:link,
              			 method:'GET'          			 
          			 })
      			 }else{
       				e.preventDefault();
      			 }
      		 });
      		

      		 $('.ajaxView').click(function(e){
    			 var url = $(this).attr('href');
    			 $( "#dialog-box" ).load(url);
    			 $( "#dialog-box" ).dialog('open');	
    			 return false;		
    		 });
    		
    		 $( "#dialog-box" ).dialog({
    		        autoOpen: false,
    		        width: 660,
    		        height: 450,
    		        modal: true	     
    		 });

      	});
      	
        function getProgramScheme(element){

          	 var idProgram = $(element).val();
          	 var IdProgramScheme = '<?php if(!empty($this->IdProgramScheme)) echo $this->IdProgramScheme; ?>';

          		if(idProgram){
          			 $.ajax({
          					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
          					data: {'idProgram':idProgram},
          					type: 'POST',
          					dataType: 'json',
          					success: function(data){
          						console.log(data);
          				    	$('#IdProgramScheme').empty();
          						$('#IdProgramScheme').append('<option value="">-- All --</option>');			    	
          				    	$.each(data, function(index) {
          					    	if(IdProgramScheme==data[index].IdProgramScheme){
          								var sel = 'selected';
          					    	}else{
          								var sel = '';
          					    	}
          					    	if(data[index].ProgramType!=' '){
          					    		var program_type = '-'+data[index].ProgramType;
          					    	}else{
          					    		var program_type = '';
          					    	}
          				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+'-'+data[index].StudyMode+program_type+'</option>');	
          				    	});
          				          
          					},
          					error:function(){
          				          alert("failure");
          					},
          					beforeSend: function() {
          						showLoading('IdProgramScheme');
          				      
          					},
          					complete: function() {
          						hideLoading('IdProgramScheme');
          					}  	
          				});
          		}
          }

          function showLoading(target){
          	$('#'+target).hide();
          	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
          }

          function hideLoading(target){
          	$('#loading').remove();
          	$('#'+target).show();
          }
          </script>
    
    

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'add'), 'default', true); ?>">
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate("Search"); ?></legend>
    <?php echo $this->lobjform; ?>   
</fieldset> 
<br/>

    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th><?php echo $this->translate("Application ID"); ?></th>
            <th><?php echo $this->translate("Student Name"); ?></th>
            <th><?php echo $this->translate("Student ID"); ?></th>
            <th><?php echo $this->translate("Programme"); ?></th>
            <th><?php echo $this->translate("Semester Applied"); ?></th>
            <th><?php echo $this->translate("Application Type"); ?></th>
            <th><?php echo $this->translate("Application Date"); ?></th>
            <th><?php echo $this->translate("Application Status"); ?></th>
            <th>&nbsp;</th>
        </tr>
        <?php if (count($this->paginator)){ ?>
        <?php foreach ($this->paginator as $lobjChangeStatus){ ?>
              <tr>
                <td align='center'><?php echo $lobjChangeStatus['CSApplicationCode']; ?></td>
                
                <td align='center'><?php echo $lobjChangeStatus['appl_fname']." ".$lobjChangeStatus['appl_lname']; ?></td>
                <td align='center'><?php echo $lobjChangeStatus['registrationId'];?></td>
                <td align='center'><?php echo $lobjChangeStatus['program_code'];?></td>
                <td align='center'><?php echo $lobjChangeStatus['SemesterMainName'].' - '.$lobjChangeStatus['SemesterMainCode'];?></td>
                <td align='center'><?php echo $lobjChangeStatus['ApplicationType'];?></td>
                <td align='center'><?php echo date('d-m-Y',strtotime($lobjChangeStatus['UpdDate']));?></td>
                <td align='center'><?php echo $lobjChangeStatus['DefinitionDesc'];?></td>
                <td align='center'>                
        		<?php 
        		//240 entry 241 approve 242 reject 833 cancel
        		if($lobjChangeStatus['ApplicationStatus']==240){
        			$url  = $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'edit', 'id' => $lobjChangeStatus['IdChangeStatusApplication']), 'default', true);
        			$url2 = $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'cancel', 'id' => $lobjChangeStatus['IdChangeStatusApplication']), 'default', true);
        			echo "<a href='".$url."'>".$this->translate("Edit").'</a>'; 
        			echo " | <a href='".$url2."' class='ajaxCancel'>".$this->translate("Cancel").'</a>'; 
        		}else{
        			$url  = $this->url(array('module' => 'records', 'controller' => 'semesterchangestatus', 'action' => 'view', 'id' => $lobjChangeStatus['IdChangeStatusApplication']), 'default', true);
        			echo "<a href='".$url."' class='ajaxView'>".$this->translate("View").'</a>'; 
        		}
        		?>        		
        		</td>
                <?php } ?>
                <?php }?>
              </tr>
              <tr>
                <td colspan="9" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator, 'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
        	 </tr>
    </table>
    
<div id="dialog-box" title="<?php echo $this->translate("Change Status Application Details"); ?>"> 
<div id='loading'>Loading...</div>
</div>
