<input type='hidden' name='type' id='type' value='kmc'>

<table class="" width="100%" align='center' cellpadding='10' cellspacing='10'>	   
    <tr>
    	<td>Pending to return</td>   
    	<td><input type='text' name='kmc_return' id='kmc_return' value='<?php echo $this->kmc['kmc_return']; ?>'></td>    	
    </tr>
    <tr>
    	<td>Penalty RM</td>   
    	<td><input type='text' name='kmc_penalty' id='kmc_penalty' value='<?php echo $this->kmc['kmc_penalty']; ?>'></td>    	
    </tr>
     <tr>
    	<td>Paid on</td>   
    	<td><input type='text' name='kmc_paiddt' id='kmc_paiddt' value='<?php echo $this->kmc['kmc_paiddt']; ?>' class='datepicker'></td>    	
    </tr>    
    <tr>
    	<td>Approval Status</td>   
    	<td>
    	<input type="radio" name="kmc_status" value='1' <?php echo $this->kmc['kmc_status']==1 ? 'checked':''; ?>>Approve
    	<input type="radio" name="kmc_status" value='0'<?php echo $this->kmc['kmc_status']==0 ? 'checked':''; ?>>Reject
    	</td>    	
    </tr>
     <tr>
    	<td>Remarks</td>   
    	<td>
    	<textarea name='kmc_remarks' id='kmc_remarks'><?php echo $this->kmc['kmc_remarks']; ?></textarea>
    	</td>    	
    </tr>
    </table>
