		<fieldset>
       		<legend><?php echo $this->translate("Student Detail"); ?></legend>
            <table class="" width="100%">                
                <tr>
                    <td><?php echo $this->translate("Student ID"); ?></td>
                    <td>: <?php echo $this->student['registrationId']; ?></td>
                    <td><?php echo $this->translate("Student Name"); ?></td>
                    <td>: <?php echo $this->student['appl_fname'].' '.$this->student['appl_lname']; ?></td>                   
                </tr>
                <tr>
                    <td><?php echo $this->translate("Student Category"); ?></td>
                    <td>: <?php echo $this->student['StudentCategory']; ?></td>
                    <td><?php echo $this->translate("Intake"); ?></td>
                    <td>: <?php echo $this->student['IntakeName']; ?></td>
                </tr>
                <tr>
                 	<td><?php echo $this->translate("Programme"); ?></td>
                    <td>: <?php echo $this->student['ProgramName']; ?></td>                    
                    <td><?php echo $this->translate("Programme Scheme"); ?></td>
                    <td>: <?php echo $this->student['mop'].' '.$this->student['mos'].' '.$this->student['pt']; ?></td>
                   
                </tr>
                <tr>
                    <td><?php echo $this->translate("Profile Status"); ?></td>
                    <td>: <?php echo $this->student['ProfileStatus']; ?></td>
                    <td></td>
                    <td></td>
                </tr>                
            </table>
        </fieldset>        
        <br></br>
         <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Application Form"); ?></th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Applying for"); ?></td>
                <td><?php echo $this->student['applicationtype']; ?></td>
                <td><?php echo $this->translate("Reason for Applying"); ?></td>
                <td><?php echo ($this->student['Reason']==99)? $this->student['Others']:$this->reasons; ?></td>
               
            </tr>
            <tr>
                <td><?php echo $this->translate("Effective Semester From"); ?></td>
                <td><?php echo $this->student['EffectiveSemesterFromName']; ?></td>
                <td><?php echo $this->translate("Application Date"); ?></td>
                <td><?php echo date('d-m-Y',strtotime($this->student['ApplicationDate'])); ?></td>
            </tr> 
             <tr>
                <td><?php echo $this->translate("Application Status"); ?></td>
                <td><?php echo $this->student['appstatus']; ?></td>
                <td><?php echo $this->translate("Application Status Date"); ?></td>
                <td><?php 
                if($this->student['ApplicationStatus']==241 || $this->student['ApplicationStatus']==242){ //approve
                		echo date('d-m-Y',strtotime($this->student['DateApproved'])); 
                }else  if($this->student['ApplicationStatus']==833){ //cancel
                		echo date('d-m-Y',strtotime($this->student['cancelDate'])); 
                }?>
                </td>
            </tr>          
        </table>