<script type="text/javascript">
    function getProgramScheme(programId){

        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('programscheme');
            },
            complete: function() {
                hideLoading('programscheme');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function print(){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'repeat-paper-report', 'action'=>'print'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if (count($this->list) > 0){
                ?>
                <li>
                    <a href="#" onclick='print()'>
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->form->intake; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" name="search" id="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" name="clear" id="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Programme Scheme'); ?></th>
        <th><?php echo $this->translate('Repeat Course'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
                <td>
                    <table class="table" width="100%">
                        <tr>
                            <th width="2%"><?php echo $this->translate('No.'); ?></th>
                            <th width="58%"><?php echo $this->translate('Course Name'); ?></th>
                            <th width="2%"><?php echo $this->translate('Number of Repeat'); ?></th>
                            <th width="38%"><?php echo $this->translate('Status'); ?></th>
                        </tr>
                        <?php
                        $no2 = 0;
                        if (isset($loop['repeatsub']) && count($loop['repeatsub']) > 0) {
                            foreach ($loop['repeatsub'] as $repeatsub) {
                                $no2++;
                                ?>
                                <tr>
                                    <td align="center"><?php echo $no2; ?></td>
                                    <td><?php echo $repeatsub['SubCode'] . ' - ' . $repeatsub['SubjectName']; ?></td>
                                    <td align="center"><?php echo $repeatsub['repcount'] ?></td>
                                    <td align="center"><?php echo 'Repeat/Retake'; ?></td>
                                </tr>
                                <?php
                            }
                        }

                        if (isset($loop['replacesub']) && count($loop['replacesub']) > 0) {
                            foreach ($loop['replacesub'] as $replacesub) {
                                $no2++;
                                ?>
                                <tr>
                                    <td align="center"><?php echo $no2; ?></td>
                                    <td><?php echo $replacesub['SubCode'] . ' - ' . $replacesub['SubjectName']; ?></td>
                                    <td align="center">1</td>
                                    <td align="center"><?php echo 'Replace/Retake with '.$replacesub['replacesubject']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>
                    </table>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>