<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->list) {
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Programme Scheme'); ?></th>
            <th><?php echo $this->translate('Repeat Course'); ?></th>
        </tr>
        <?php
        if ($this->list) {
            $no = 0;
            foreach ($this->list as $loop) {
                $no++;
                ?>
                <tr>
                    <td align="center"><?php echo $no; ?></td>
                    <td><?php echo $loop['appl_fname'] . ' ' . $loop['appl_lname']; ?></td>
                    <td><?php echo $loop['registrationId']; ?></td>
                    <td><?php echo $loop['ProgramName']; ?></td>
                    <td><?php echo $loop['mop'] . ' ' . $loop['mos'] . ' ' . $loop['pt']; ?></td>
                    <td>
                        <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
                            <tr>
                                <th width="2%"><?php echo $this->translate('No.'); ?></th>
                                <th width="58%"><?php echo $this->translate('Course Name'); ?></th>
                                <th width="2%"><?php echo $this->translate('Number of Repeat'); ?></th>
                                <th width="38%"><?php echo $this->translate('Status'); ?></th>
                            </tr>
                            <?php
                            $no2 = 0;
                            if (isset($loop['repeatsub']) && count($loop['repeatsub']) > 0) {
                                foreach ($loop['repeatsub'] as $repeatsub) {
                                    $no2++;
                                    ?>
                                    <tr>
                                        <td align="center"><?php echo $no2; ?></td>
                                        <td><?php echo $repeatsub['SubCode'] . ' - ' . $repeatsub['SubjectName']; ?></td>
                                        <td align="center"><?php echo $repeatsub['repcount'] ?></td>
                                        <td align="center"><?php echo 'Repeat/Retake'; ?></td>
                                    </tr>
                                    <?php
                                }
                            }

                            if (isset($loop['replacesub']) && count($loop['replacesub']) > 0) {
                                foreach ($loop['replacesub'] as $replacesub) {
                                    $no2++;
                                    ?>
                                    <tr>
                                        <td align="center"><?php echo $no2; ?></td>
                                        <td><?php echo $replacesub['SubCode'] . ' - ' . $replacesub['SubjectName']; ?></td>
                                        <td align="center">1</td>
                                        <td align="center"><?php echo 'Replace/Retake with ' . $replacesub['replacesubject']; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </table>
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
<?php
}
?>