<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/studentprogramchange/index/search/1" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                   <td><?php echo $this->translate("I.C No");?></td>
				                   <td ><?php echo $this->lobjform->field2;?></td>
				                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
		    	<th width="30%"><?php echo $this->translate("Student Name");?></th>
		    	<th width="20%"><?php echo $this->translate("IC No.");?></th>
		    	<th width="25%"><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
		    	<th width="25%"><?php echo $this->translate($this->Branch).' '.$this->translate("No.");?></th>
		    </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjstudents): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/registration/studentprogramchange/studentprogramchange/idapplicant/<?php echo $this->escape($lobjstudents['IdApplication']);?>" ><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></a></td>
	        	<td><?php echo $this->escape($lobjstudents['ICNumber']);?></td>
	            <td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
	            <td><?php echo $this->escape($lobjstudents['CollegeName']);?></td>
			</tr>
			 <?php endforeach; ?>
	            <?php endif; ?> 
			<tr>
	        	<td colspan="4" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</body>
</html>
