<fieldset>
    <legend><?php echo $this->translate("Student Details");?></legend>
         <table class="table" width="100%" >
             <tr>
                 <td width="25%"><?php echo $this->translate("Student Name");?></td>
                 <td width="25%"><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
                 <td width="25%"><?php echo $this->translate("IC No");?></td>
                 <td width="25%"><?php echo $this->studentdetails['ICNumber'];?></td>
              </tr>
              
             <tr>
                 <td ><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['ProgramName'];?></td>
                 <td ><?php echo $this->translate($this->Branch).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['CollegeName'];?></td>
              </tr>
         </table>


    
   		 <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registration/studentprogramchange/studentprogramchange/idapplicant/<?php echo $this->idapplicant;?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                <table class="table" width="100%" >
                    <tr>
                   	   <td  width="25%"><?php echo $this->translate("Select").' '.$this->translate($this->Program);?><span class="reqMark">*</span></td>
                       <td  width="25%"><?php echo $this->lobjStudentRegForm->IdProgram;?>
                      		 <?php echo $this->lobjStudentRegForm->UpdDate;?>
                      		 <?php echo $this->lobjStudentRegForm->UpdUser;?>
                      		 <input type="hidden" name="IdProgramOld" id="IdProgramOld" value="<?php echo $this->IdProgramOld;?>"
                       </td>
                    	<td  width="25%"><?php echo $this->translate("Effective Date");?></td>
                       <td  width="25%"> <?php echo $this->lobjStudentRegForm->EffectiveDate;?>     </td>
                    </tr>  
                    <tr>
                   	   <td  width="25%"><?php echo $this->translate("Description");?></td>
                       <td  width="75%" colspan="3"><?php echo $this->lobjStudentRegForm->Description;?>         </td>
                    
                    </tr>                
               		<tr>
                        <td colspan="4" align = "right"><?php echo $this->lobjStudentRegForm->Save;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'studentprogramchange', 'action'=>'index'),'default',true);?>';" />	
                         </td> 
                    </tr>           
             </table>
       </Form>
</fieldset>
