<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->students) {
    $no = 0;
    $colspan = count($this->component) == 0 ? 1:count($this->component);
    $rowspan = count($this->component) == 0 ? 1:2
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('No.'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Student Name'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Student ID'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Semester'); ?></th>
            <th colspan="<?php echo $colspan; ?>"><?php echo $this->translate('Component'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Overall Result'); ?></th>
        </tr>
        <tr>
            <?php
            if ($this->component) {
                foreach ($this->component as $component) {
                    ?>
                    <th><?php echo $component['component_name']; ?></th>
                    <?php
                }
            }
            ?>
        </tr>
        <?php
        foreach ($this->students as $student) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $student['appl_fname'].' '.$student['appl_lname']; ?></td>
                <td align="center"><?php echo $student['registrationId']; ?></td>
                <td align="center"><?php echo $student['SemesterMainName']; ?></td>
                <?php
                if ($this->component) {
                    foreach ($this->component as $component) {
                        ?>
                        <td align="center"><?php echo isset($student[$component['IdComponentType']]) ? $student[$component['IdComponentType']]:''; ?></td>
                        <?php
                    }
                }
                ?>
                <td align="center"><?php echo isset($student['overall']) ? $student['overall']:''; ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>
