<script type="text/javascript">
    function print(){
        var url = "<?php echo $this->url(array('module'=>'examination','controller'=>'ce-report', 'action'=>'export'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if ($this->students) {
                ?>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="print();">
                        <span class='download'></span>
                        <?php echo $this->translate("Export"); ?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" name="search_form" id="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Year'); ?></td>
                <td><?php echo $this->form->year; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button></td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php
if ($this->students) {
    $no = 0;
    $colspan = count($this->component) == 0 ? 1:count($this->component);
    $rowspan = count($this->component) == 0 ? 1:2
    ?>
    <table class="table" width="100%">
        <tr>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('No.'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Student Name'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Student ID'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Semester'); ?></th>
            <th colspan="<?php echo $colspan; ?>"><?php echo $this->translate('Component'); ?></th>
            <th rowspan="<?php echo $rowspan; ?>"><?php echo $this->translate('Overall Result'); ?></th>
        </tr>
        <tr>
            <?php
            if ($this->component) {
                foreach ($this->component as $component) {
                    ?>
                    <th><?php echo $component['component_name']; ?></th>
                    <?php
                }
            }
            ?>
        </tr>
        <?php
        foreach ($this->students as $student) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $student['appl_fname'].' '.$student['appl_lname']; ?></td>
                <td align="center"><?php echo $student['registrationId']; ?></td>
                <td align="center"><?php echo $student['SemesterMainName']; ?></td>
                <?php
                if ($this->component) {
                    foreach ($this->component as $component) {
                        ?>
                        <td align="center"><?php echo isset($student[$component['IdComponentType']]) ? $student[$component['IdComponentType']]:''; ?></td>
                        <?php
                    }
                }
                ?>
                <td align="center"><?php echo isset($student['overall']) ? $student['overall']:''; ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>