<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    <?php if (count($this->programmes)){	?>
    <ul>    
    <li>
		<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-absentees'),'default',true);?>">
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>  
    </div>
</div>

<br><br>
<?php echo $this->form; ?>
<br></br>

<?php 
if(count($this->programmes)>0){
	foreach($this->programmes as $program){
?>
<fieldset>
<h2>List of Absentees</h2><br>
<h2><?php echo $this->semester['SemesterMainName']; ?> Semester</h2><br>
<h2><?php echo $program['ProgramName']; ?></h2><br>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>	
		<th width='5px'><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Date of Medical Leave");?></th>
		<th><?php echo $this->translate("Date of Exam");?></th>
		<th><?php echo $this->translate("Exam Code/Title");?></th>
		<th><?php echo $this->translate("Exam Center");?></th>
	</tr>
	<?php foreach ($program['absentees'] as $no=>$absentees){?>
		<tr>
			<?php if($absentees['row_num']==1){ ?>
			<td align='center' style="vertical-align:middle"  rowspan='<?php echo $absentees['total_subject']?>'><?php echo $no+1;?></td>
			<td align='left' style="vertical-align:middle"  rowspan='<?php echo $absentees['total_subject']?>'><?php echo $absentees['appl_fname'].' '.$absentees['appl_lname'];?></td>
			<td align='center' style="vertical-align:middle"  rowspan='<?php echo $absentees['total_subject']?>'><?php echo $absentees['registrationId']; ?></td>
			<?php } ?>
			<td>
			<?php 
			if(isset($absentees['mc_start_date']) && $absentees['mc_start_date']!=''){
				
				if(isset($absentees['mc_end_date']) && $absentees['mc_end_date']!=''){
					
					if(strtotime($absentees['mc_start_date']) === strtotime($absentees['mc_end_date'])){
						echo date('d-M-Y',strtotime($absentees['mc_start_date'])); 
					}else{
						echo date('d-M-Y',strtotime($absentees['mc_start_date'])).' to '.date('d-M-Y',strtotime($absentees['mc_end_date']));
					}
					
				}else{
					echo date('d-M-Y',strtotime($absentees['mc_start_date'])); 
				}				
			}
			?>
			</td>
			<td align='center' style="vertical-align:middle" ><?php echo (isset($absentees['exam_date']) && $absentees['exam_date']!='') ? date('d-M-Y',strtotime($absentees['exam_date'])):''; ?></td>
			<td align='center' style="vertical-align:middle" ><?php echo $absentees['SubCode']; ?>-<?php echo $absentees['SubjectName']; ?></td>
			<td align='center' style="vertical-align:middle" ><?php echo $absentees['ec_code']; ?></td>
		</tr>
	
	<?php 
	}
	?>
</table>
</fieldset>
<br>
<?php } 
} ?>
