
<script><!--
$(function() {
	getProgramScheme();

});

function getProgramScheme(){

	var idProgram = $('#IdProgram').val();

	var data = <?php echo $json = Zend_Json::encode($this->IdProgramScheme); ?>;
	console.log(data);
	
	if(idProgram){

		if(idProgram==5){ 
			$('#Part').prop( "disabled", false );
		}else{
			$('#Part').prop( "disabled", true );
		}

		
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						
				    	$('#IdProgramScheme').empty();
								    	
				    	$.each(data, function(index) {

				    		if(jQuery.inArray(data[index].IdProgramScheme, data) != -1) {
				    		    console.log("is in array");
				    			var sel = 'selected';
				    		} else {
				    		    console.log("is NOT in array");
				    			var sel = '';
				    		} 
					    	//if(IdProgramScheme==data[index].IdProgramScheme){
							//	var sel = 'selected';
					    	//}else{
							//	var sel = '';
					    	//}
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
				    	});
						
						<?php if(isset($this->scheme)):?>
						json = '<?php echo $this->scheme;?>';
						$.each(json.split(","), function(i,e){
							$("#IdProgramScheme option[value='" + e + "']").prop("selected", true);
						});
						<?php endif;?>
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
	}

}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}




--></script>

<style>
#header_grade{
	background-color:#CEF6E3;
}
</style>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    <?php if (count($this->student_list)){	?>
    <ul>    
    <li>
		<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-aeerc'),'default',true);?>">
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>  
    </div>
</div>

<br><br>
<?php echo $this->form; ?>
<br></br>

<br></br>
<?php if (count($this->student_list)>0){	?>



<?php if($this->semester['IdScheme']==1){?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>	
		<th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Country of Nationality");?></th>
		<th><?php echo $this->translate("Visa");?></th>
		<?php foreach($this->subject_list as $subject){?>		
			<th><?php echo $subject['SubCode'];?></th>
		<?php } ?>
		<?php foreach($this->gradesetup_list as $grade){?>		
			<th id='header_grade'><?php echo $grade['GradeName'];?></th>
		<?php } ?>
		<th><?php echo $this->translate("No. of papers passed");?></th>
		<th><?php echo $this->translate("No. of remaining papers");?></th>
	</tr>
	
	<?php 
		foreach($this->student_list as $no=>$student){			
	?> 
	<tr valign="middle">
		<td valign="middle" align='center'><?php echo $no+1;?></td>
		<td valign="middle"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td valign="middle" align='center'><?php echo $student['registrationId']; ?></td>
		<td valign="middle" align='center'><?php echo $student['CountryName']; ?></td>
		<td valign="middle" align='center'><?php echo $student['visa']; ?></td>
		<?php 
			$gradeTotal  = array();
			foreach($student['subject'] as $subject){?>		
			<td valign="middle" align='center'><?php 
				if($subject['sem_status'] == 'now') {
					echo '<p style="color:blue">';
					if($subject['attendance_status'] == '396') {
						echo '*';
					}
					echo $subject['grade_name'];
					echo '</p>';
				}
				else {
					echo $subject['grade_name'];
				}
				
				$gradeName = rtrim($subject['grade_name'],' ');
				if($subject['attendance_status'] != '396') {
					if (isset($gradeTotal[$gradeName])) {
						$gradeTotal[$gradeName] = $gradeTotal[$gradeName] + 1;
					} else {
						$gradeTotal[$gradeName] = 1;
					}
				}
			?></td>
		<?php } ?>
		<?php foreach($this->gradesetup_list as $grade){?>		
			<td valign="middle">
			<?php 
			//if (array_key_exists( trim($grade['GradeName'] ), $student['total_bygrade'])) {
    		if(isset($gradeTotal[trim($grade['GradeName'])])) {
				echo $gradeTotal[trim($grade['GradeName'])];
			//echo $student['total_bygrade'][ trim($grade['GradeName']) ];
			}else{			
				echo 0;
			}
			
			?>
			</td>			
		<?php } ?>
		<td valign="middle" align='center'><?php echo $student['paper_pass']; ?></td>
		<td valign="middle" align='center'><?php echo (isset($student['remaining_papers'])) ? $student['remaining_papers']:''; ?></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>






<?php if($this->semester['IdScheme']==11){?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>	
		<th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Country of Nationality");?></th>
		<th><?php echo $this->translate("Visa");?></th>
		<?php foreach($this->subject_list as $subject){?>		
			<th><?php echo $subject['SubCode'];?></th>
		<?php } ?>
		<th id='header_grade'><?php echo $this->translate("TGP");?></th>
		<th id='header_grade'><?php echo $this->translate("TCH");?></th>
		<th id='header_grade'><?php echo $this->translate("GPA");?></th>
		<th id='header_grade'><?php echo $this->translate("CGP");?></th>
		<th id='header_grade'><?php echo $this->translate("CCH");?></th>
		<th id='header_grade'><?php echo $this->translate("CGPA");?></th>
		<th id='header_grade'><?php echo $this->translate("Status");?></th>
	</tr>
	
	<?php 
		foreach($this->student_list as $no=>$student){			
	?> 
	<tr valign="middle">
		<td valign="middle" align='center'><?php echo $no+1;?></td>
		<td valign="middle"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td valign="middle" align='center'><?php echo $student['registrationId']; ?></td>
		<td valign="middle" align='center'><?php echo $student['CountryName']; ?></td>
		<td valign="middle" align='center'><?php echo $student['visa']; ?></td>
		<?php foreach($student['subject'] as $subject){?>		
			<td valign="middle" align='center'><?php 
			if(in_array($subject['exam_status'],array('CT','EX'))) {
				echo $subject['exam_status'];
			}
			else {
				echo ($subject['grade_point']!='') ? $subject['grade_point']:'-';
			}
			 ?></td>
		<?php } ?>		
		<td valign="middle" align='center'><?php echo $student['sg_sem_totalpoint']; ?></td>
		<td valign="middle" align='center'><?php echo $student['sg_sem_credithour']; ?></td>
		<td valign="middle" align='center'><?php echo $student['sg_gpa']; ?></td>
		<td valign="middle" align='center'><?php echo $student['sg_cum_totalpoint']; ?></td>
		<td valign="middle" align='center'><?php echo $student['sg_cum_credithour']; ?></td>
		<td valign="middle" align='center'><?php echo $student['sg_cgpa']; ?></td>
		<td valign="middle" align='center'><?php //echo $student['sg_cgpa_status']; ?>&nbsp;</td>
	</tr>
	<?php } ?>
</table>
<?php } ?>
<?php } ?>
