
<script><!--
$(function() {
	getProgramScheme();

	url = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-course-audit'),'default',true);?>";
	$('#search_form').attr('action',url);
});

function getProgramScheme(){

	var idProgram = $('#IdProgram').val();

	var data = <?php echo $json = Zend_Json::encode($this->IdProgramScheme); ?>;
	console.log(data);
	
	if(idProgram){

		if(idProgram==5){ 
			$('#Part').prop( "disabled", false );
		}else{
			$('#Part').prop( "disabled", true );
		}

		
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						
				    	$('#IdProgramScheme').empty();
								    	
				    	$.each(data, function(index) {

				    		if(jQuery.inArray(data[index].IdProgramScheme, data) != -1) {
				    		    console.log("is in array");
				    			var sel = 'selected';
				    		} else {
				    		    console.log("is NOT in array");
				    			var sel = '';
				    		} 
					    	//if(IdProgramScheme==data[index].IdProgramScheme){
							//	var sel = 'selected';
					    	//}else{
							//	var sel = '';
					    	//}
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
				    	});
				          <?php if(isset($this->scheme)):?>
						json = '<?php echo $this->scheme;?>';
						$.each(json.split(","), function(i,e){
							$("#IdProgramScheme option[value='" + e + "']").prop("selected", true);
						});
						<?php endif;?>
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
	}

}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}




-->

function print(){
	url = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-course-audit'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();

	url2 = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'course-audit',),'default',true);?>";
	$('#search_form').attr('action',url2);
}

</script>

<style>
#blueGrade{
	color:blue;
	font-weight: bold;
}
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    <?php if (count($this->student_list)){	?>
    <ul>    
    <!--<li>
		<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-course-audit'),'default',true);?>">
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	-->
	<li>
		<a href="#" onclick='print()'>
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>  
    </div>
</div>

<br><br>
<?php echo $this->form; ?>
<br></br>

<br></br>
<?php if (count($this->student_list)>0){	?>



<?php if($this->semester['IdScheme']==1){?>

<?php if($this->IdProgram==5){ //CIFP?>

	<!-- Start CIFP -->
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan='2'><?php echo $this->translate("No");?></th>
		<th rowspan='2'><?php echo $this->translate("Student Name");?></th>
		<th rowspan='2'><?php echo $this->translate("Student ID");?></th>
		<th rowspan='2'><?php echo $this->translate("Nationality");?></th>
		<!--<th rowspan='2'><?php echo $this->translate("Religion");?></th>
		<th rowspan='2'><?php echo $this->translate("Contact No");?></th>
		<th rowspan='2'><?php echo $this->translate("Email ID");?></th>-->
		<th rowspan='2'><?php echo $this->translate("Mode of Programme");?></th>
		<th rowspan='2'><?php echo $this->translate("Mode of Study");?></th>
		<?php 
		foreach($this->subject_type_list as $subject_type){
			if(isset($subject_type['block']) && $subject_type['block']==3){
				$col_paper_passed = 0;
			}else{
				$col_paper_passed = 1;
			}
			$total_colspan = count($subject_type['subject_list'])+count($subject_type['gradesetup'])+$col_paper_passed;
		?>
			<th align='center' colspan='<?php echo $total_colspan;	?>'><?php echo $subject_type['SubjectTypeName'];?></th>
			
			
		<?php } ?>
				
		<th rowspan='2'><?php echo $this->translate("Total Paper Passed");?></th>		
		<th colspan='5' align='center'><?php echo $this->translate("Completion");?></th>
		<th colspan='2' align='center'><?php echo $this->translate("Remaining");?></th>
		
		<th rowspan='2'><?php echo $this->translate("Online/F2F");?></th>
                <th rowspan='2'><?php echo $this->translate("Mode of Study");?></th>
		<th rowspan='2'><?php echo $this->translate("Semester Status");?></th>
		<th rowspan='2'><?php echo $this->translate("Profile Status");?></th>
		<th rowspan='2'><?php echo $this->translate("Total Papers Registered");?></th>
	</tr>
	<tr>			
		<?php 
		foreach($this->subject_type_list as $subject_type){
			foreach($subject_type['subject_list'] as $subject){?>		
			<th><?php echo $subject['SubCode'];?></th>
		<?php } ?>
		 
			 <!-- populate grade -->
			<?php foreach($subject_type['gradesetup'] as $grade){?>		
				<th  id='header_grade'><?php echo $grade['GradeFullName'];?></th>
			<?php } ?>
			<!-- end populate grade -->
		
			<?php if(isset($subject_type['block']) && $subject_type['block']!=3) { ?>			
				<th ><?php echo $this->translate("Total Papers Passed");?></th>
			<?php } ?>
			
		<?php } ?>	
			
			<th><?php echo $this->translate("Complete (P1 + P2 + P3)");?></th>
			<th><?php echo $this->translate("Complete P1");?></th>
			<th><?php echo $this->translate("Complete P2");?></th>
			<th><?php echo $this->translate("Complete (P1 + P2)");?></th>
			<th><?php echo $this->translate("Complete P3");?></th>
			
			<th>Paper/Course</th>
			<th>Articleship/PPP</th>
	</tr>
	
	
	
	<?php 
	if(count($this->student_list)>0){
		foreach($this->student_list as $no=>$student){			
	?> 
	<tr valign="middle">
		<td valign="middle" align='center'><?php echo $no+1;?></td>
		<td valign="middle"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td valign="middle" align='center'><?php echo $student['registrationId']; ?> <?php //echo $student['IdStudentRegistration']; ?></td>
		<td valign="middle" align='center'><?php echo $student['CountryName']; ?></td>
		<!--<td valign="middle" align='center'><?php echo $student['religion']; ?></td>
		<td valign="middle" align='center'><?php echo $student['appl_phone_mobile']; ?></td>
		<td valign="middle" align='center'><?php echo $student['appl_email_personal']; ?></td>-->
		<td valign="middle" align='center'><?php echo $student['mop']; ?></td>
		<td valign="middle" align='center'><?php echo $student['mos']; ?></td>
		
		<?php 
		if(count($student['subject'])>0){
			foreach($student['subject'] as $subject_type){
				if(count($subject_type['subject_list'])>0){
					foreach($subject_type['subject_list'] as $subject){?>		
						<td valign="middle" align='center'>						
						<?php 
						if($subject['grade']!='U'){	
							if($subject['Active']!=3){		
								if($subject['status']=='0'){
									echo 'Yes'; 
								}else if($subject['status']==1){
									echo 'Yes'; 
								}else if($subject['status']==2){
									if(isset($subject['reg_cur_sem']) && $subject['reg_cur_sem']==true){
										echo '<p id="blueGrade">'.$subject['grade']."</p>";	
									}else{
										echo $subject['grade'];
									}
								}
							}
						}
						?>
						</td>
		<?php }  }  ?>
		
			<!-- populate grade -->
			<?php foreach($subject_type['gradesetup'] as $grade){?>		
				<td valign="middle"  align='center'>
				<?php 
				if (array_key_exists( trim($grade['GradeName'] ), $subject_type['total_bygrade'])) {
	    			echo $subject_type['total_bygrade'][ trim($grade['GradeName']) ];
				}else{			
					echo 0;
				}?>
				</td>			
			<?php } ?>
			<!-- end populate grade -->
			
			<!-- Block 3 no need display total passed col -->
			<?php if(isset($subject_type['block']) && $subject_type['block']!=3) { ?>	
			<td valign="middle" align='center'><?php echo $subject_type['total_paper_pass']; ?></td>
			<?php } ?>
			<!-- End Block 3 no need display total passed col -->
			
		<?php }
		} ?>
		
		
		<td valign="middle" align='center'><?php echo $student['paper_pass']; ?></td>
		
		
		<td valign="middle" align='center'><?php echo $student['complete_all_part']; ?></td>
		<td valign="middle" align='center'><?php echo $student['complete_part1']; ?></td>
		<td valign="middle" align='center'><?php echo $student['complete_part2']; ?></td>
		<td valign="middle" align='center'><?php echo $student['complete_p1p2']; ?></td>
		<td valign="middle" align='center'><?php echo $student['complete_part3']; ?></td>
		
		<td valign="middle" align='center'>
                    <?php 
                    //echo $student['remaining_papers']; 
                    echo (($student['cifprequired']-$student['paper_pass'])-1);
                    ?>
                </td>
		<td valign="middle" align='center'><?php echo $student['remaining_pppart']; ?></td>
		
		<td valign="middle" align='center'><?php echo $student['mop']; ?></td>
		<td valign="middle" align='center'><?php echo $student['mos']; ?></td>
		<td valign="middle" align='center'><?php echo $student['studentsemesterstatus']; ?></td>
		<td valign="middle" align='center'><?php echo $student['profile_status']; ?></td>
		<td valign="middle" align='center'><?php echo $student['total_registering']; ?></td>
	
	</tr>
	<?php }
	} //end if ?>		
	</table>
	<!-- End CIFP -->

<?php }else{?>

	<!-- Start MIFP -->
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan='2'><?php echo $this->translate("No");?></th>
		<th rowspan='2'><?php echo $this->translate("Student Name");?></th>
		<th rowspan='2'><?php echo $this->translate("Student ID");?></th>
		<th rowspan='2'><?php echo $this->translate("Nationality");?></th>
		<th rowspan='2'><?php echo $this->translate("Intake");?></th>
		<!--<th rowspan='2'><?php echo $this->translate("Religion");?></th>
		<th rowspan='2'><?php echo $this->translate("Contact No");?></th>
		<th rowspan='2'><?php echo $this->translate("Email ID");?></th>
		--><th rowspan='2'><?php echo $this->translate("Mode of Programme");?></th>
		<th rowspan='2'><?php echo $this->translate("Mode of Study");?></th>
		<?php 
		foreach($this->subject_type_list as $subject_type){
			$total_colspan = count($subject_type['subject_list'])+8;
		?>
			<th align='center' colspan='<?php echo $total_colspan;	?>'><?php echo $subject_type['SubjectTypeName'];?></th>
			
		<?php }//end subtype ?>
				
		<th rowspan='2'><?php echo $this->translate("No. of remaining papers");?></th>
		<th rowspan='2'><?php echo $this->translate("Total Papers Registered");?></th> <!-- total paper registered current semester -->
		<th rowspan='2'><?php echo $this->translate("Semester Status");?></th>
		<th rowspan='2'><?php echo $this->translate("Profile Status");?></th>
	</tr>
	<tr>			
		<?php 
		foreach($this->subject_type_list as $subject_type){
			foreach($subject_type['subject_list'] as $subject){?>		
			<th><?php echo $subject['SubCode'];?></th>
		<?php } ?> 
		
			<!-- populate grade -->
			<?php foreach($subject_type['gradesetup'] as $grade){?>		
				<th align='center' id='header_grade'><?php echo $grade['GradeName'];?></th>
			<?php } ?>
			<!-- end populate grade -->
			
			<th align='center'><?php echo $this->translate("Total Papers Passed");?></th>
		<?php }?>	
			
	</tr>
	
	
	
	<?php 
	if(count($this->student_list)>0){
		foreach($this->student_list as $no=>$student){			
	?> 
	<tr valign="middle">
		<td valign="middle" align='center'><?php echo $no+1;?></td>
		<td valign="middle"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td valign="middle" align='center'><?php echo $student['registrationId']; ?>  <?php // echo $student['IdStudentRegistration']; ?> </td>
		<td valign="middle" align='center'><?php echo $student['CountryName']; ?></td>
		<td valign="middle" align='center'><?php echo $student['intake']; ?></td>
		<!--<td valign="middle" align='center'><?php echo $student['religion']; ?></td>
		<td valign="middle" align='center'><?php echo $student['appl_phone_mobile']; ?></td>
		<td valign="middle" align='center'><?php echo $student['appl_email_personal']; ?></td>
		--><td valign="middle" align='center'><?php echo $student['mop']; ?></td>
		<td valign="middle" align='center'><?php echo $student['mos']; ?></td>
		
		<?php 
		if(count($student['subject'])>0){
			foreach($student['subject'] as $subject_type){
				if(count($subject_type['subject_list'])>0){
					foreach($subject_type['subject_list'] as $subject){?>		
						<td valign="middle" align='center'>
						
						<?php
						if($subject['grade']!='U'){	
							if($subject['Active']!=3){		
								if($subject['status']=='0'){
									echo 'Yes'; 
								}else if($subject['status']==1){
									echo 'Yes'; 
								}else if($subject['status']==2){
									if(isset($subject['reg_cur_sem']) && $subject['reg_cur_sem']==true){
										echo '<p id="blueGrade">'.$subject['grade']."</p>";	
									}else{
										echo $subject['grade'];
									}						
								}else{
									echo '';
								}
							}
						}
						?>
						</td>
		<?php 	}  } ?>
		
			<!-- populate grade -->
			<?php foreach($subject_type['gradesetup'] as $grade){?>		
				<td valign="middle">
				<?php 
				if (array_key_exists( trim($grade['GradeName'] ), $subject_type['total_bygrade'])) {
	    			echo $subject_type['total_bygrade'][ trim($grade['GradeName']) ];
				}else{			
					echo 0;
				}?>
				</td>			
			<?php } ?>
			<!-- end populate grade -->
		
			<td valign="middle" align='center'><?php echo $subject_type['total_paper_pass']; ?></td>
		<?php }
		} ?>
		
		<td valign="middle" align='center'><?php echo $student['remaining_papers']; ?></td>
		<td valign="middle" align='center'><?php echo $student['total_registering']; ?></td>		
		<td valign="middle" align='center'><?php echo $student['studentsemesterstatus']; ?></td>
		<td valign="middle" align='center'><?php echo $student['profile_status']; ?></td>
	
	</tr>
	<?php }
	} //end if ?>		
	</table>
	<!-- END MIFP -->

<?php } //end if MIFP?>

<?php }//end scheme 1 ?>


<?php if($this->semester['IdScheme']==11){?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan='2'><?php echo $this->translate("No");?></th>
		<th rowspan='2'><?php echo $this->translate("Student Name");?></th>
		<th rowspan='2'><?php echo $this->translate("Student ID");?></th>
		<th rowspan='2'><?php echo $this->translate("Nationality");?></th>
		<th rowspan='2'><?php echo $this->translate("Intake");?></th>
		<th rowspan='2'><?php echo $this->translate("Sponsor");?></th>
		<th rowspan='2'><?php echo $this->translate("Email ID");?></th>
		
		<th rowspan='2'><?php echo $this->translate("Address");?></th>
		<th rowspan='2'><?php echo $this->translate("Postcode");?></th>
		<th rowspan='2'><?php echo $this->translate("City");?></th>
		<th rowspan='2'><?php echo $this->translate("Country");?></th>
		
		<th rowspan='2'><?php echo $this->translate("Contact No");?></th>
		<!--<th rowspan='2'><?php //echo $this->translate("Student Status");?></th>-->
		<th rowspan='2'><?php echo $this->translate("Year of Study");?></th>
		<th rowspan='2'><?php echo $this->translate("Semester Active");?></th>

		<?php 
		if(count($this->subject_type_list)>0){
			foreach($this->subject_type_list as $subject_type){
				$total_colspan = count($subject_type['subject_list'])+4;
		?>
				<th align='center' colspan='<?php echo $total_colspan;	?>'><?php echo $subject_type['SubjectTypeName'];?></th>				
		<?php } 
		} ?>
			
		<!--<th colspan='2'><?php echo $this->translate("Elective/Core Credit Hours ");?></th>-->
		<th colspan='4'><?php echo $this->translate("Total Credit Hours");?></th>		
		<th rowspan='2'><?php echo $this->translate("CGPA");?></th>
		<th rowspan='2'><?php echo $this->translate("Semester Status");?></th>
		<th rowspan='2'><?php echo $this->translate("Profile Status");?></th>
	</tr>
	<tr>	
	
			
		<?php 
		if(count($this->subject_type_list)>0){
			foreach($this->subject_type_list as $subject_type){
				if(count($subject_type['subject_list'])>0){
					foreach($subject_type['subject_list'] as $subject){?>		
						<th><?php echo $subject['SubCode'];?></th>		
		<?php   	}  ?>
		
				<th><?php echo $this->translate("Credit Hours Required");?></th>
				<th><?php echo $this->translate("Credit Hours Completed");?></th>
				<?php //if($subject_type['SubjectType']==271){ //Researc?>
				<th><?php echo $this->translate("Credit Hours Registered");?></th>
				<?php //} ?>
				<th><?php echo $this->translate("Credit Hours Remaining");?></th>
		<?php 	 
				}
			 }
		}
		?>	
		
		<!--<th><?php echo $this->translate("Elective/Core Credit Hours Required");?></th>
		<th><?php echo $this->translate("Elective/Core Credit Hours Completed");?></th>-->
		
		<th><?php echo $this->translate("Credit Hours Required");?></th>
		<th><?php echo $this->translate("Credit Hours Completed");?></th>
		<th><?php echo $this->translate("Credit Hours Registered");?></th>		
		<th><?php echo $this->translate("Credit Hours Remaining");?> </th>	
			
	</tr>
	
	
	
	<?php 
	if(count($this->student_list)>0){
		foreach($this->student_list as $no=>$student){			
	?> 
	<tr valign="middle">
		<td valign="middle" align='center'><?php echo $no+1;?></td>
		<td valign="middle"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
		<td valign="middle" align='center'><?php echo $student['registrationId']; ?></td>
		<td valign="middle" align='center'><?php echo $student['nationality']; ?></td>
		<td valign="middle" align='center'><?php echo $student['intake']; ?></td>
		<td valign="middle" align='center'>
		<?php 			
			echo ($student['schorlaship']!='') ? $student['schorlaship']:'';		
			echo ($student['sponsorship']!='') ? $student['sponsorship']:'';		
		?>
		</td>
		<td valign="middle" align='center'><?php echo $student['appl_email_personal']; ?></td>
		
		<td valign="middle" align='center'><?php echo $student['address']; ?></td>
		<td valign="middle" align='center'><?php echo $student['appl_postcode']; ?></td>
		<td valign="middle" align='center'><?php echo $student['city']; ?></td>
		<td valign="middle" align='center'><?php echo $student['CountryName']; ?></td>
		
		<td valign="middle" align='center'><?php echo $student['appl_phone_mobile']; ?></td>
		<!--<td valign="middle" align='center'><?php //echo $student['profile_status']; ?></td>-->
		<td valign="middle" align='center'><?php echo $student['year_of_study']; ?></td>
		<td valign="middle" align='center'><?php echo $student['semester_active']; ?></td>
		
		<?php foreach($student['subject'] as $subject_type){
				foreach($subject_type['subject_list'] as $subject){
					
					?>		
					<td valign="middle" align='center'>					
					<?php 	
					if($subject['grade']!='U'){	
						if($subject['Active']!=3){			
							if($subject['status']=='0'){
								echo 'Yes'; 
							}else if($subject['status']==1){
								echo 'Yes'; 
							}else if($subject['status']==2){
								if(isset($subject['reg_cur_sem']) && $subject['reg_cur_sem']==true){
									echo '<p id="blueGrade">'.$subject['grade']."</p>";	
								}else{								
									echo $subject['grade'];
									
								}	
							}else{
								echo '';
							}
					} } //end if subject 					
					?>
					</td>
		<?php 			
					}?>
		
			
		
			<td valign="middle" align='center'><?php echo $subject_type['ch_required']; ?></td>
			<td valign="middle" align='center'><?php echo $subject_type['ch_completed']; ?></td>
			<?php //if($subject_type['SubjectType']==271){ //Researc?>
			<td valign="middle" align='center'><?php echo $subject_type['ch_registered']; ?></td>
			<?php //} ?>			
			<td valign="middle" align='center'><?php echo $subject_type['ch_remaining']; ?></td>
			
		<?php } ?>
		
		<!--<td valign="middle" align='center'><?php echo $student['ec_ch_required']; ?></td>
		<td valign="middle" align='center'><?php echo $student['ec_ch_completed']; ?></td>-->
		
		<td valign="middle" align='center'><?php echo $student['total_ch_required']; ?></td>
		<td valign="middle" align='center'><?php echo $student['total_ch_completed']; ?></td>
		<td valign="middle" align='center'><?php echo $student['total_ch_registered']; ?></td>
		<td valign="middle" align='center'><?php echo $student['total_ch_remaining']; ?></td>
		<td valign="middle" align='center'><?php echo $student['cgpa']; ?></td>
		<td valign="middle" align='center'><?php echo $student['studentsemesterstatus']; ?></td>
		<td valign="middle" align='center'><?php echo $student['profile_status']; ?></td>
	
	</tr>
	<?php } //end foreach
}//end count ?>

</table>
<?php } ?>



<?php } ?>


