<script>
function print(){

	$( "#dialog-print" ).dialog('open');	
	
}

$(function () {

	$( "#dialog-print" ).dialog({
        autoOpen: false,
        width: 300,
        modal: true,
        buttons: {
            "Confirm": function() {       			

		    	var isChecked = $('#print_option').is(':checked');
		    	if(isChecked==true){			    	
					$('#display_option').val(1);
		    	}
		 
				url = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-exam-schedule',),'default',true);?>";
				$('#search_form').attr('action',url);
				$('#search_form').submit();

				url2 = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'exam-schedule',),'default',true);?>";
				 $('#search_form').attr('action',url2);
				 $( this ).dialog( "close" );    
				  	
            },
            "Cancel": function() {
                $( this ).dialog( "close" );
            }
        }
    });	
	
});

</script>
<style>
<!--

.table, th,td{
	vertical-align:middle; !important;
}

-->
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    <?php if (count($this->student_list)>0){	?>
    <ul>    
    <li>
		<a href="#" onclick='print()'>
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>  
    </div>
</div>
<br><br>
<?php echo $this->form; ?>
<br></br>

<?php if (count($this->student_list)){	?>

<fieldset>
<table class="" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td align="center"><h2>EXAMINATION SCHEDULE</h2></td>
	</tr>
	<tr>
		<td align="center"><h3><?php echo strtoupper($this->semester['SemesterMainName']); ?> SEMESTER</h3></td>
	</tr>
	<tr>
		<td align="center"><h3><?php echo strtoupper($this->exam_center['ec_name']); ?></h3></td>
	</tr>
</table>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan=2>DAY/DATE</th>		
		<?php foreach($this->time_exam as $etime){?>
		<th colspan='2'><?php echo date('h:i A',strtotime($etime['es_start_time'])).' TO '.date('h:i A',strtotime($etime['es_end_time'])); ?></th>
		<?php } ?>
	</tr>
	<tr>		
		<?php for($i=0; $i<count($this->time_exam); $i++){?>
		<th>PAPER CODE</th>
		<th>NO. OF CANDIDATES</th>
		<?php } ?>		
	</tr>
	<?php 
	foreach($this->date_exam as $edate){
		if($edate['schedule']==true){
	?>
	<tr>
		<th><?php echo date("l", strtotime($edate['es_date'])).' /<br>'.date("d F Y", strtotime($edate['es_date']));?></th>
		<?php
		 foreach($edate['info'] as $key=>$info){ ?>
			<td align='center' style="vertical-align:middle">
				<?php
					if(count($info['paper'])>0){
						foreach($info['paper'] as $paper){
							if($paper['total_student']>0){
								echo $paper['paper_arr'].'<br>';
							}
						}
					}
					
				/*if($info['total_student']>0){
					$stack = array();
					foreach($info['paper'] as $paper){
						array_push($stack,$paper['SubCode']);
					}
					echo implode("/", $stack);
				}*/
				?>
			</td>
			<td style="vertical-align:middle" align='center'>
			<?php
					if(count($info['paper'])>0){
			 			foreach($info['paper'] as $paper){
			 				if($paper['total_student']>0){
			 					echo $paper['total_student'].'<br>';
			 				}
						}
					}
				
			?>
			</td>
		<?php } ?>
	</tr>
	<?php } } ?>

</table>
</fieldset>

<br></br>
<br></br>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>	
		<th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Contact No");?></th>
		<th><?php echo $this->translate("Papers");?></th>		    	
	</tr>
	<?php foreach($this->student_list as $index=>$student){?>
	<tr valign='middle'>
		<td style="vertical-align:middle" align='center'><?php echo $index+1;?></td>
		<td style="vertical-align:middle" align='left'><?php echo $student['appl_fname'].' '.$student['appl_lname']; ?></td>
		<td style="vertical-align:middle" align='center'><?php echo $student['registrationId']; ?></td>
		<td style="vertical-align:middle" align='center'><?php echo $student['appl_phone_mobile']; ?></td>
		<td style="vertical-align:middle" align='center'>
		<?php 
		if(count($student['subject'])>0){	
			
			foreach($student['subject'] as $subject){
				echo $subject['SubCode'].'<br>';
			}
			
		}
		?>
		</td>
	</tr>
	<?php } ?>
</table>
<?php } ?>

<div id="dialog-print" title="<?php echo $this->translate("Print options"); ?>">
<table>
	<tr>
	<td><input type='checkbox' name='print_option' id='print_option'> Display student list</td>
	</tr>
</table>
</div>