<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>    
</div>

<br><br>
<?php echo $this->form; ?>
<br></br>


<?php if(count($this->list_subject)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>	
		<th><?php echo $this->translate("No of Group")?></th>
		<th><?php echo $this->translate("")?></th>
	</tr>
	<?php 
	$index=1;
	foreach($this->list_subject as $subject){?>
	<tr>
		<td align='center'><?php echo $index++;?></td>
		<td align='center'><?php echo $subject["SubCode"];?></td>
		<td align='left'><?php echo $subject["SubjectName"];?></td>
		<td align='center'><?php echo $subject["total_group"];?></td>
		<td align='center'><a href='<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports','action'=>'preview-preaeerc','idSubject'=>$subject["IdSubject"],'idSemester'=>$subject["IdSemester"]),'default',true);?>'>View</a></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>