<?php
	//$this->headScript()->appendFile( $this->baseUrl().'/js/highcharts/highcharts.js');
?>



<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    
    <ul>    
    <?php if (count($this->groups)>0){	?>
    <li>
		<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-preaeerc',),'default',true);?>">
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	<?php } ?> 
	<li>
			<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'preaeerc',),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
	</ul>      
	
    </div>
</div>

<br>


<?php 
if(count($this->groups)>0 ){
	foreach($this->groups as $key=>$group) { 
		if(count($group['student'])>0){
?>
<fieldset>
<h2 align='center'><?php echo $this->translate('PRE-AEERC Report'); ?></h2>
<table class="" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td width='20%'><?php echo $this->translate('Programme'); ?></td>
		<td width='5px'>:</td>		
		<td><?php echo strtoupper($group['ProgramName']); ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Session'); ?> </td>	
		<td width='5px'>:</td>		
		<td><?php echo strtoupper($group['semester_name']); ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Module/Section'); ?> </td>	
		<td width='5px'>:</td>		
		<td><?php echo strtoupper($group['GroupName']); ?> <?php //echo strtoupper($group['studymode']); ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('HOD'); ?> </td>	
		<td width='5px'>:</td>		
		<td><?php echo $group['approval_status']; ?> <?php echo strtoupper($group['dean']); ?></td>
	</tr>	
	<tr>
		<td><?php echo $this->translate('Lecturer'); ?> </td>	
		<td width='5px'>:</td>		
		<td><?php echo ($group["IdLecturer"]!=0 ?  strtoupper($group["FullName"]):$this->translate("-"));?></td>
	</tr>
</table>
<br>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th>No</th>
		<th>Mode</th>
		<th>Student Name</th>
		<th><?php echo $this->translate('Student ID'); ?></th>
		<th><?php echo $this->translate('Total'); ?></th>
		<th><?php echo $this->translate('Grade'); ?></th>
		<?php if($this->semester['IdScheme'] != 1) {?>
		<th><?php echo $this->translate('Grade Point'); ?></th>
		<?php } ?>
	</tr>
	<?php 
	if(count($group['student'])>0){		
		$no=1;
		foreach($group['student'] as $student){							
	?>
	<tr>
		<td align='center'><?php echo $no++;?> <?php // echo $student['IdStudentRegistration']; ?></td>
		<td align='center'><?php echo $student['mos']; ?></td>
		<td align='left'><?php echo $student['appl_fname'].' '.$student['appl_lname']?></td>
		<td align='center'><?php echo $student['registrationId']; ?></td>
                <td align='center'><?php echo round($student['final_course_mark']);?></td>
		<td align='center'><?php echo $student['grade_name'];?></td>
		<?php if($this->semester['IdScheme'] != 1) {?>
		<td align='center'><?php echo $student['grade_point'];?></td>
		<?php } ?>
	</tr>
	<?php 		
			}
		} 
	?>
</table>
<br>
<br>
<h3><?php echo $this->translate('Analysis'); ?>:</h3>
<br>
<table class="table" width="60%" cellpadding="5" cellspacing="1">
	<tr>
		<th width='20%'><?php echo $this->translate('Grade'); ?></th>
		<th width='20%'><?php echo $this->translate('Number'); ?></th>
		<th width='20%'><?php echo $this->translate('Percentage'); ?></th>
	</tr>
	<?php 
	if(count($group['gradesetup'])>0){
		foreach($group['gradesetup'] as $grade){
	?>
	<tr>
		<td align='center'><?php echo $grade['GradeName']; ?></td>
		<td align='center'><?php echo $grade['numberofstudent']; ?></td>
		<td align='center'><?php echo $grade['percentage']; ?></td>
	</tr>
	<?php }
		} 
	?>
</table>
<?php if(isset($group['attendance_fail_analysis']) && count($group['attendance_fail_analysis'])>0 ){?>
<br>
<h3><?php echo $this->translate('Fail Analysis'); ?>:</h3>
<table class="table" width="60%" cellpadding="5" cellspacing="1">
	<tr>		
		<th width='20%'><?php echo $this->translate('Attendance'); ?></th>
		<th width='20%'><?php echo $this->translate('Number'); ?></th>
		<th width='20%'><?php echo $this->translate('Percentage'); ?></th>
	</tr>
	<?php 	
		foreach($group['attendance_fail_analysis'] as $fail){
	?>
	<tr>
		<td align='center'><?php echo $fail['attendance']; ?></td>
		<td align='center'><?php echo $fail['numberofstudent']; ?></td>
		<td align='center'><?php echo $fail['percentage']; ?></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>

<br>

<?php if(isset($group['group_piechart'])){?>
<h3>Analysis Graph:</h3>
<table  width="100%">
	<tr>
		<td align='center'><img src="<?php echo $group['group_piechart']; ?>" height="400" /></td>
	</tr>
</table>
<br>
<br>
<?php } ?>



</fieldset>
<br>
<br>
<?php }
  }
}?>


<script type="text/javascript">
function chartPieApplicants()
{
	var data = [];
	
	var ctx = $("#chart3").get(0).getContext("2d");

	var mychart = new Chart(ctx).Pie(data);
	legend(document.getElementById("legend1"), data);
}


<?php 
foreach($this->groups as $key=>$group) { 
	if(count($group['student'])>0){
		//echo $group['group_chart']->renderChart();	
	}
}
?>

</script>



