<style>
#title_program{
	 color: #000000;
     font-size: 15px;	
	 background-color: #F7F8E0;
	 font-family: Arial,Verdana,"Verdana Ref",sans-serif;
}
</style>

<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>


<?php 
if(count($this->subject_list)>0 ){
foreach($this->subject_list as $subject) { ?>
<fieldset>

<table class="" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td></td>
		<td align="center" colspan='2'><img src="<?php echo APPLICATION_URL."/images/logo_text_high.png";?>"  width="320" height="90"></td>
		<td></td>
	</tr>
	<tr>
		<td align="center" colspan=4>&nbsp;</td>
	</tr>
	<tr>
		<td align="center" colspan=4>&nbsp;</td>
	</tr>
	<tr>
		<td align="center" colspan=4><h2><?php echo $this->translate('ATTENDANCE LIST'); ?></h2></td>
	</tr>
	<tr>
		<td align="center" colspan=4><h3><?php echo strtoupper($this->semester['SemesterMainName']); ?> <?php echo $this->translate('SEMESTER'); ?></h3></td>
	</tr>
	<tr>
		<td align="center" colspan=4><h3><?php echo strtoupper($this->exam_center['ec_name']); ?></h3></td>
	</tr>
</table>
<br>
<table class="" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td width='20%'><?php echo $this->translate('DAY/DATE'); ?></td>				
		<td colspan=3>:&nbsp;<?php echo strtoupper($subject['exam_date']); ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('TIME'); ?> </td>
		<td colspan=3>:&nbsp;<?php echo strtoupper($subject['exam_time']); ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('PAPER CODE'); ?></td>
		<td colspan=3>:&nbsp;<?php echo strtoupper ( implode('/',$subject['subject_code']) );?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('PAPER TITLE'); ?> </td>
		<td colspan=3>:&nbsp;<?php echo strtoupper ( implode('/',array_unique($subject['subject_name'])) );?></td>
	</tr>
</table>
<br>
<table class="" width="100%" cellpadding="5" cellspacing="1" border=1>
	<tr>	
		<th width='10%'><?php echo $this->translate("No");?></th>
		<!--<th><?php echo $this->translate("Scheme");?></th>-->
		<th width='50%'><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>		
		<th><?php echo $this->translate("Present (Y/N)");?></th>						    	
	</tr>
	<?php 
	$current_program = 0;
	$current_program_mode = 0;
	$no = 0;
	foreach($subject['student'] as $index=>$student){
		$no++;
	?>
	<?php
	if( $this->exam_center['ec_id']!=26 ){ 
		if(($this->semester['IdScheme']==11) && ($current_program != $student['IdProgram'])){
	?>
	<tr>
		<td id='title_program' colspan=4 style="vertical-align:middle" align='center'><?php echo strtoupper($student['ProgramName']);?></td>
	</tr>
	<?php }
		$current_program = $student['IdProgram'];
	}?>
	
	
	
	
	
	<?php 
	if( $this->exam_center['ec_id']==26 ) {
			
			if($current_program ==  $student['IdProgram']){
				if($current_program_mode != $student['mode_of_program']){		
					$display = true;
				}else{
					$display = false;
				}
			}else{
				$display = true;
			}
								
			$current_program_mode = $student['mode_of_program'];
			$current_program = $student['IdProgram'];
		
			
			if($display==true){
	?>
			<tr>
				<td id='title_program' colspan=4 style="vertical-align:middle" align='center'><?php echo strtoupper($student['ProgramCode']);?>&nbsp;<?php echo ($this->semester['IdScheme']==1) ? strtoupper($student['mop']):'';?></td>
			</tr>
	<?php 
			}//display true
	}//end ec ==26
	?>
	
	
	
	
	<tr valign='middle'>
		<td style="vertical-align:middle" align='center'><?php echo $no;?></td>
		<!-- <td style="vertical-align:middle" align='left'><?php echo $student['IdProgramScheme'].'-'.$student['mop']; ?></td>  -->
		<td style="vertical-align:middle" align='left'><?php echo $student['student_name']; ?></td>
		<td style="vertical-align:middle" align='center'><?php echo $student['registrationId']; ?></td>
		<td style="vertical-align:middle" align='center'>
		<?php 
		if($student['er_attendance_status']!='' || $student['er_attendance_status']!=0){
			if($student['er_attendance_status']==395){
				echo $this->translate("Y");
			}else {
				echo $this->translate("N");
			}
		}
		?>
		</td>
	</tr>
	<?php 
	}//end loop  ?>
</table>
</fieldset>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<?php } 
} 
//end loop subject?>