<?php
	$this->headScript()->appendFile( $this->baseUrl().'/js/highcharts/highcharts.js');
?>


<script type="text/javascript">

$(function() {
	getSubject('<?php echo $this->program['IdProgram']; ?>');
});

function getSubject(idProgram){

	 if(idProgram != ''){

	 IdSubject	 = '<?php echo (isset($this->subject['IdSubject'])) ? $this->subject['IdSubject']:''; ?>';
	 
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'ajax-get-course-program'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#IdSubject').empty();
				$('#IdSubject').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {
			    	if(IdSubject==data[index].IdSubject){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'"'+sel+'>'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdSubject');
		      
			},
			complete: function() {
				hideLoading('IdSubject');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}


</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
   
    <?php if($this->program) { ?>
    <ul>    
    <li>
		<a href="<?php echo $this->url(array('module'=>'reports','controller'=>'exam-reports', 'action'=>'print-analysis','idProgram'=>$this->program['IdProgram'],'idSubject'=>$this->subject['IdSubject']),'default',true);?>">
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>
    </div>
</div>

<br><br>
<?php echo $this->form; ?>
<br></br>

<?php if($this->program) { ?>

<fieldset>
<h2 align='center'><?php echo $this->translate('Result Analysis'); ?></h2>
<table class="" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td width='20%'><?php echo $this->translate('Programme'); ?></td>
		<td width='5px'>:</td>		
		<td><?php echo strtoupper($this->program['ProgramName']); ?></td>
	</tr>
	<tr>
		<td width='20%'><?php echo $this->translate('Course'); ?></td>
		<td width='5px'>:</td>		
		<td><?php echo strtoupper($this->subject['SubCode'].' - '.$this->subject['SubjectName']); ?></td>
	</tr>
</table>
<br></br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr valign="middle">
		<td valign="middle" align='center' rowspan=2>Paper</td>
		<?php 
		if(count($this->grade)>0){		
			foreach($this->grade as $grade){
		?>
			<td valign="middle" align='center' colspan=2><?php echo $grade['GradeName'];?></td>
		<?php } } ?>
		<td  valign="middle" align='center' rowspan=2>Total</td>
	</tr>
	
	<tr>
		<?php 
		if(count($this->grade)>0) {		
			foreach($this->grade as $grade) {
		?>
		<td valign="middle" align='center' width='5%' >#</td>
		<td valign="middle" align='center' width='5%'>%</td>
		<?php } 
		} ?>
	</tr>
	<?php foreach($this->semester_backwards as $semester){?>
		<tr>
			<td><?php echo $semester['SemesterMainName']; ?> Semester</td>
			<?php 
			if(count($semester['grade'])>0) {		
				foreach($semester['grade'] as $grade) {
			?>
			<td valign="middle" align='center' width='5%'><?php echo $grade['total']; ?></td>
			<td valign="middle" align='center' width='5%'><?php echo number_format($grade['percentage'],2); ?></td>
			<?php } 
			} ?>
			<td  valign="middle" align='center' ><?php echo $semester['overall_total']; ?></td>
		</tr>
	<?php } ?>
</table>

<br>

<img src="<?php echo $this->graph1 ?>" />

</fieldset>
<?php } ?>


