<script>

$(function() {
	
	$('#form1').submit(function(e){

		//validate
		return status = validate();

	});
	
});

function validate(){
	
	var rowCount = $('#tblComponent > tbody > tr').length;

	for (i=1; i<=rowCount; i++) {		 
		
		var element_minW = '#MinWeightage'+i;
		var element_maxW = '#MaxWeightage'+i;

		if( $(element_minW).val() == "" || $(element_maxW).val() == "")
		{
			 alert('Please enter all fields.'); 
			 return false;  
		}
		
	
		if(! $.isNumeric($(element_minW).val() )){ 			      
	        alert('Please enter a valid min weightage at row '+ i); 
	        $(element_minW).val('');	  
	        return false;   
	    }

		if(! $.isNumeric($(element_maxW).val() )){ 			      
	        alert('Please enter a valid max weightage at row '+ i); 
	        $(element_maxW).val('');	  
	        return false;   
	    }

		if( $(element_minW).val() > 100 || $(element_maxW).val()>100)
		{
			 alert('You have exceeded maximum weightage of 100'); 
			 return false;  
		}
		

		if( Math.abs($(element_minW).val()) > Math.abs($(element_maxW).val()) {
			alert('<?php echo $this->translate("Minimum weightage mark must be less than equal to maximum weightage mark"); ?>');
			$(element_minW).val('');	
			$(element_maxW).val('');
			return false;
		}
		  	
	}

	return true;  

}

function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'index'), 'default', true);?>";
}


function search_subject(){
	
	var faculty_id = $('#IdCollege').val();
	var table = $("#result tbody");
	
	if(faculty_id!==0){
		$.ajax({
			url: "/examination/mark-distribution-setup/search-course",
		    type: "post",
		    async : false,
		    data: {'idCollege':faculty_id},
		    dataType: 'json',
		    success: function(data){
		    	$('#IdSubject').empty();
				$('#IdSubject').append('<option value="">-- Please Select --</option>');
			    	
			    	$.each(data, function(index) {
			    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
			    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdSubject');
		      
			},
			complete: function() {
				hideLoading('IdSubject');
			}  
		});
	}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		  
			<li>							
					<a href="#" onClick="back()">
						<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br />

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">	
	<tr>
		    <th width="20%"><?php echo $this->translate("Effective Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	
</table>

<br />

<?php  if($this->list_component){?>

<form name='form1' id='form1' method='post' action=''>
<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>" />
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>" />

<table  id="tblComponent" class="table noalt number" width="100%" cellpadding="5" cellspacing="1" >
<thead>
	<tr>
		<th><?php echo $this->translate('Component Name'); ?></th>	
		<th><?php echo $this->translate('Minimum Weightage'); ?></th>
		<th><?php echo $this->translate('Maximum Weightage'); ?></th>
	</tr>	
</thead>
<tbody>
	<?php 
	$no = 1;
	foreach($this->list_component as $component){?>
	<tr>
		<td align='center'>
			<?php echo ($this->locale=='ms_MY') ? $component['DescriptionDefaultlang']: $component['Description'];?>
			<input type='hidden' name='IdExaminationAssessmentType[]' value='<?php echo $component['IdExaminationAssessmentType']?>'>
	
		</td>		
		<td align='center'><input type='text' name='MinWeightage[<?php echo $component['IdExaminationAssessmentType']?>]' id='MinWeightage<?php echo $no;?>' value='' class="input-txt small" ></td>
		<td align='center'><input type='text' name='MaxWeightage[<?php echo $component['IdExaminationAssessmentType']?>]' id='MaxWeightage<?php echo $no;?>' value='' class="input-txt small" ></td>
	</tr>
	<?php $no++; } ?>
</tbody>	 
</table>

	<div class='form-opt'>
		<input type='submit' name='btn-submit' id='btn-submit' value='Save'></input>
	</div>
</form>
				
<?php }  ?>
