<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br>
<div style="width:100%;">
</div>

<!--
<form name='searchForm' method='post'>
<table class="" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<td>Semester</td>
		<td><?php echo $this->form->IdSemester;?></td>
	</tr>
	<tr>
		<td>Programme</td>
		<td><?php echo $this->form->IdProgram;?></td>
	</tr>
	<tr>
		<td>Course Code</td>
		<td><?php echo $this->form->subject_code;?></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><?php echo $this->form->submit;?></td>
	</tr>	
</table>
</form>
-->
<?php echo $this->form;?>
<br>
<?php if(count($this->list_data)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>				
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("")?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->list_data as $subject){		
	?>		
	<tr>
		<td align='center'><?php echo $i;?></td>		
		<td align='center'><?php echo $subject["SubCode"];?></td>
		<td><?php echo ($this->locale=='ms_MY') ? $subject["subjectMainDefaultLanguage"]:$subject["SubjectName"];?></td>			
		<td class="center options">
		<?php if($subject['status']==1){ ?>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'edit-data','idSemester'=>$subject['mds_semester'],'idProgram'=>$subject['mds_program'],'idSubject'=>$subject['mds_course'])); ?>"><?php echo $this->translate("Edit");?></a>
		<?php }else { ?>	
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'add','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$subject['IdSubject'])); ?>"><?php echo $this->translate("Add");?></a>
		<?php } ?>
		</td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php }//?>
</div>
<br>