<script>

$(function() {
	
	$('#form1').submit(function(e){
		//validate
		return status = validate();

	});
	
});

function validate(){
	
	var rowCount = $('#tblComponent > tbody > tr').length;

	for (i=1; i<=rowCount; i++) {
				 
		var element_minW = '#MinWeightage'+i;
		var element_maxW = '#MaxWeightage'+i;

		if( $(element_minW).val() == "" || $(element_maxW).val() == "")
		{
			 alert('Please enter all fields.'); 
			 return false;  
		}
		
		

		if(! $.isNumeric($(element_minW).val() )){ 			      
	        alert('Please enter a valid min weightage at row '+ i); 
	        $(element_minW).val('');	  
	        return false;   
	    }

		if(! $.isNumeric($(element_maxW).val() )){ 			      
	        alert('Please enter a valid max weightage at row '+ i); 
	        $(element_maxW).val('');	  
	        return false;   
	    }

		if( $(element_minW).val() > 100 || $(element_maxW).val()>100)
		{
			 alert('You have exceeded maximum weightage of 100'); 
			 return false;  
		}

		if( Math.abs($(element_minW).val()) > Math.abs($(element_maxW).val())) {
			alert('<?php echo $this->translate("Minimum weightage mark must be less than equal to maximum weightage mark"); ?>');
			$(element_minW).val('');	
			$(element_maxW).val('');
			return false;
		}

		var totalmark1 = 0;
		$(".type1").each(function()
		{
			if ( !isNaN($(this).val()) )
			{
				totalmark1 = parseInt(totalmark1) + parseInt( $(this).val() );
			}
		});

		if ( totalmark1 < 100)
		{
			$(".type1").parent().addClass('haserror');
			alert('Highlighted components total marks must be equal to 100');
			return false;
		}
		else
		{
			$(".type1").parent().removeClass('haserror');
		}

		var totalmark2 = 0;
		$(".type2").each(function()
		{
			if ( !isNaN($(this).val()) )
			{
				totalmark2 = parseInt(totalmark2) + parseInt( $(this).val() );
			}
		});
		
		if ( totalmark2 < 100)
		{
			$(".type2").parent().addClass('haserror');
			alert('Highlighted components total marks must be equal to 100');
			return false;
		}
		else
		{
			$(".type2").parent().removeClass('haserror');
		}
		
		  	
	}

	return true;  

}

function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'index'), 'default', true);?>";
}



</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		  
			<li>							
					<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'index'), 'default', true);?>" >
						<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br />

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">	
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ?  $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Code"); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>
	
</table>

<br />

<?php  if($this->list_component){?>

<form name='form1' id='form1' method='post' action=''>

<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>"></input>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>"></input>
<input type="hidden" name="idProgram" id="idProgram" value="<?php echo $this->idProgram;?>" />

<table  id="tblComponent" class="table noalt number" width="100%" cellpadding="5" cellspacing="1" >
<thead>
	<tr>
		<th><?php echo $this->translate('Component Name'); ?></th>		
		<th><?php echo $this->translate('Minimum Weightage'); ?></th>
		<th><?php echo $this->translate('Maximum Weightage'); ?></th>
	</tr>	
</thead>
<tbody>
	<?php 
	$no = 1;
	foreach($this->list_component as $component){?>
	<?php
	if ( $no % 2 )
	{
		$class = 'type1';
		$class2 = 'type2';
	}
	else
	{
		$class = 'type2';
		$class2 = 'type1';
	}
	?>
	<input type='hidden' name='mds_id[]' id='mds_id' value='<?php echo $component["mds_id"]?>'>
	<tr>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $component['DescriptionDefaultlang']: $component['Description'];?></td>		
		<td align='center'><input type='text' name='MinWeightage[<?php echo $component['mds_id']?>]' id='MinWeightage<?php echo $no;?>' value='<?php echo $component['mds_min_weightage']?>' class="input-txt small <?php echo $class ?>" ></td>
		<td align='center'><input type='text' name='MaxWeightage[<?php echo $component['mds_id']?>]' id='MaxWeightage<?php echo $no;?>' value='<?php echo $component['mds_max_weightage']?>' class="input-txt small <?php echo $class2 ?>" ></td>
	</tr>
	<?php $no++; } ?>
</tbody>	 
</table>

	<div class='form-opt'>
						<input type='submit' name='btn-submit' id='btn-submit' value='Save'></input>
				</div>
</form>
				
<?php } ?>

<style type="text/css">
td.haserror { background:#ffefef !important }
</style>
