<script type="text/javascript">
	function search_program_subject(){
				
		var program_id = $('#IdProgram').val();
		var table = $("#result tbody");
		
		if(program_id!==0){
			$.ajax({
				url: "/examination/mark-distribution-setup/search-program-course",
			    type: "post",
			    async : false,
			    data: {'idProgram':program_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	
	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<?php if(count($this->list_data)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<!--<th><?php echo $this->translate("Semester")?></th>-->
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("")?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->list_data as $subject){		
	?>		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<!--<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["SemesterMainDefaultLanguage"]:$subject["SemesterMainName"];?></td>-->
		<td align='center'><?php echo $subject["SubCode"];?></td>
		<td><?php echo ($this->locale=='ms_MY') ? $subject["subjectMainDefaultLanguage"]:$subject["SubjectName"];?></td>			
		<td class="center options">
			<?php if($subject['status']==1){?>
				<a class='ajaxEdit' href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'edit','idProgram'=>$subject['mds_program'],'idSemester'=>$subject['mds_semester'],'idSubject'=>$subject['mds_course'])); ?>"><?php echo $this->translate("Edit");?></a>
			<?php }else{ ?>
				<a class='ajaxEdit' href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution-setup','action'=>'manage','idProgram'=>$this->idProgram,'idSemester'=>$this->idSemester,'idSubject'=>$subject['IdSubject'])); ?>"><?php echo $this->translate("Add");?></a>
			<?php } ?>
		</td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php }//?>
</div>
<br>