<head>
</head>
<fieldset>
	<legend>
		<?php echo $this->translate("Placementest Nopes");?>
	</legend>
	<form dojoType="dijit.form.Form"
		action="<?php echo $this->baseUrl();?>/application/placementestnopes/index/search/1"
		method="POST">
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
		<table class width="100%">
			<tr>
				<td><?php echo $this->translate("Placementtect Name");?></td>
				<td><?php echo $this->lobjform->field2;?></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><?php echo $this->lobjform->field7;?></td>

			</tr>
			<td colspan="2" align="center"><?php echo $this->lobjform->Search;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Clear"); ?>"
				onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementestnopes', 'action'=>'index'),'default',true);?>';" />
			</td>
			</tr>

			</tr>
		</table>
	</form>
</fieldset>
</br>
<fieldset>

	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate("Placementtest Name");?></th>

		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjformilar): ?>
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><a
				href="<?php echo $this->url(array('module'=>'application','controller'=>'placementestnopes', 'action'=>'new' , 'id'=>$lobjformilar['IdPlacementTest']),'default',true);?>"><?php print_r($this->escape($lobjformilar['PlacementTestName']));?>
			</a></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>


	</table>


</fieldset>
