<head>
</head>

<legend>
	<?php echo $this->translate("Placementest Formilar details");?>
</legend>
<fieldset>
<form
	action="<?php echo $this->baseUrl();?>/generalsetup/formulir/exportcsv"
	method="POST">
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate("FamulirNo");?></th>
			<th><?php echo $this->translate("Year");?></th>

		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjformilar): ?>
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">

			<td><?php echo $lobjformilar['FamulirNo'] ;?></td>
			<td><?php echo $lobjformilar['Year'] ;?></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" class="NormalBtn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Back"); ?>" style="float: right"
				onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementestnopes', 'action'=>'index'),'default',true);?>';" />
			</td>
		</tr>


	</table>

</form>
</fieldset>
