<script>

function toggle_all(element){
    $('input.sel_all').prop('checked', $(element).is(':checked'));
}

function submitApproval(){

	if( $('#id_convocation').val()==0 ){
		alert("Please select convocation.");             	
		return false;
	}
		
	flag = checkboxValidate();
	
	if(flag==true){
		  
		$('#form1').find(":input").not(".chkbx").attr("disabled", true);
			
		var msg = confirm("Are you sure you want to submit approval?");
		if(msg){			
			return true;
		}else{			
			return false;
		}
	}else{     
		alert("Please select at least one student for approval.");             	
		return false;
	}
}

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}



</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<fieldset>
	<legend><?php echo $this->translate('Search'); ?></legend>
	<?php echo $this->form; ?>
</fieldset>

<br></br>

<?php if($this->student){ ?>


<form name='form1' method='post' onsubmit='submitApproval();' action='<?php echo $this->url(array('module'=>'graduation','controller'=>'change-status','action'=>'approve'));?>'>

<table class="table" width="100%">	
		<tr>
			<th align="center"><input type="checkbox" onclick="toggle_all(this);" /></th>
			<th >No</th>
			<th ><?php echo $this->translate("Student ID");?></th>
			<th ><?php echo $this->translate("Student Name");?></th>
			<th ><?php echo $this->translate("Programme");?></th>
			<th ><?php echo $this->translate("Intake");?></th>
			<th ><?php echo $this->translate("Status Update Date");?></th>
			<th ><?php echo $this->translate("Status Update By");?></th>
			<th ><?php echo $this->translate("Status");?></th>
		</tr>
	
		<?php 
		if($this->student){
		foreach ($this->student as $index => $student){
		?>
		<tr>
			<td align="center">
				<?php if($student['status']==1) {?>
				<input type="checkbox" name="idStudentRegistration[]" class="sel_all" value="<?php echo $student['idStudentRegistration'];?>" />
				<?php } ?>
			</td>
			<td align="center"><?php echo $index+1;?></td>
			<td align='center'><?php echo $student['registrationId'];?></td>
			<td><?php echo $student['student_name']; ?></td>
			<td align="center"><?php echo $student['ProgramCode']; ?></td>
			<td align="center"><?php echo $student['intake_name']; ?></td>
			<td align="center">
			<?php 
			if($student['status']==0){
				echo date('d-m-Y', strtotime($student['shortlisted_date'])); 
			}else if($student['status']==1){
				echo date('d-m-Y', strtotime($student['approve_date'])); 
			}else if($student['status']==2){
				echo date('d-m-Y', strtotime($student['graduate_date'])); 
			}
			?>
			</td>
			<td align="center"><?php echo $student['add_by_name'];?></td>
			<td align="center"><?php if($student['status']==0) echo 'Shortlisted'; if($student['status']==1) echo 'Approved'; if($student['status']==2) echo 'Graduated';?></td>
		</tr>
		<?php 
		}
		}else{
		?>
		<tr>
			<td colspan="9" align="center"><?php echo $this->translate('No records');?></td>
		</tr>
		<?php 
		}
		?>
		
		
</table>
<?php if($this->status==0){ ?>
<div class='form-opt'>
<input type='submit' name='submit' class='btn-submit' value='Submit'></input>
</div>
<?php }  ?>
</form>

<?php } ?>