<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	var counthidden = <?php echo $this->hiddencount;?>;
	//alert(counthidden);
	document.getElementById("counthidden").value = counthidden;
	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IdInvoices[]\"]');
 	if(document.getElementById('IdInvoice').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateForm(){
	 var n = document.getElementById("counthidden").value;
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("IdInvoices"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Invoice');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Invoice Search");?></legend>
                    <form action="" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                  <td><?php echo $this->translate("Invoice Number");?></td>
				                   <td ><?php echo $this->lobjform->field3;?></td>
				                  <input type="hidden" name="counthidden" id="counthidden" value="<?php echo $this->ccount;?>">
				                </tr>
				           		<tr>
				                   <td><?php echo $this->translate("Approved");?></td>
				                   <td><?php echo $this->lobjform->field7;?></td>
				                   <td></td>
				                   <td></td>
				                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/studentfinance/invoiceapproval/index	" method="POST" name="invoiceapproval">
	
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IdInvoice" onClick="checkAll();" id="IdInvoice"></th>	    
	    	<th><?php echo $this->translate("Invoice Number");?></th>
	    	<th><?php echo $this->translate("Student Name");?></th>
	    	<th><?php echo $this->translate("Invoice Amount");?></th>
	    	</tr>
	        <?php if (count($this->paginator)):  $cnnt = 0;?>
	        <?php foreach ($this->paginator as $lobjstudents): $cnnt++?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		<td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IdInvoices[]" value="<?php echo $this->escape($lobjstudents['IdInvoice']);?>" id="IdInvoices<?php echo $cnnt;?>" class="checkClass"> </td>
	        	<td><a href="<?php echo $this->baseUrl();?>/studentfinance/invoiceapproval/newinvoicedetails/IdInvoice/<?php echo $this->escape($lobjstudents['IdInvoice']);?>"><?php echo $this->escape($lobjstudents['InvoiceNo']);?></a></td>
	        	<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
	        	<td><?php echo $this->escape($lobjstudents['InvoiceAmt']);?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="4" align="right">
	        		<input type="Submit" value="Approve" name="Approve" label="Approve" id="Approve" dojoType="dijit.form.Button" class="NormalBtn" onClick="validateForm();">
	        	</td>
   			</tr>
		</table>
		</form>
	</fieldset>
</body>
</html>
