<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){

	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Invoice Approval");?></legend>
                <Form action="<?php echo $this->baseUrl();?>/studentfinance/invoiceapproval/newinvoicedetails/IdInvoice/<?php echo $this->IdInvoice;?>" method="POST" >
                
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				    <table class="table" width="100%" >
                    <tr>
                         <th colspan="4"><?php echo $this->translate("Student Details");?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Student Name");?></td>
                        <td><?php echo $this->studentname;?></td>
                        <td><?php echo $this->translate("Student Id");?></td>
                        <td><?php echo $this->studentid;?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Invoice Number");?></td>
                        <td><?php echo $this->invno;?></td>
                        <td><?php echo $this->translate("Invoice amount");?></td>
                        <td><?php echo $this->invamt;?></td>
                    </tr>
                           <tr>
                        <td><?php echo $this->translate("Invoice Date");?></td>
                        <td><?php echo $this->InvoiceDt;?></td>
                        <td><?php echo $this->translate("Narration");?></td>
                        <td><?php echo $this->Naration;?></td>
                    </tr>
                    
                       <tr>
                            <th colspan = "4"><?php echo $this->translate("Invoice Details");?></th>
                        </tr>
                        
                   <!--       
                      <?php //$count = 0;?>
                      	   <?php //foreach($this->programdetails as $arrprogramdetails) { ?>
                   		<tr> 
                        	<td><?php //echo $arrprogramdetails['InvoiceNo'][0];?></td>
                        	
                        	<td><?php //echo $arrprogramdetails['InvoiceAmt'][0];?></td>
                        	<td><input type="hidden" name="IdCharges[]" value="<?php //echo $arrprogramdetails['IdCharges']?>" id="IdCharges<?php echo $count;?>"></td>
                        	<td><input type="hidden" name="Charges[]" value="<?php //echo $arrprogramdetails['Charges']?>" id="Charges<?php echo $count;?>"></td>
                    	</tr>
                    <?php //}?>
                     -->
                   		<tr>                    
                            <th><?php echo $this->translate("Account Name");?></th>                       
                            <th colspan="3"><?php echo $this->translate("Amount/Hour");?></th>                            
                        </tr>                    
                    <?php $subarraycount = 0;?>
                     <?php foreach($this->subjectcharges as $larrsubjectcharges) { ?>
                     	<tr>                    	
                        	<td><?php echo $larrsubjectcharges['AccountName'];?></td>                        	
                        	<td colspan="3"><?php echo $larrsubjectcharges['Amount'];?></td>                 	
                    	</tr>
                    <?php }?>                 
                      
                        <tr>
                            <td align = "right" colspan="4"><?php //echo $this->lobjInvoiceForm->Save;?>
                            
                            <input type="Submit" value="Approve" name="Approve" label="Approve" id="Approve" dojoType="dijit.form.Button" class="NormalBtn">
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoiceapproval', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
