<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){

	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Invoice Details");?></legend>
                <Form action="" method="POST" >
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "5"><?php echo $this->translate("Student Invoice Details");?></th>
                        </tr>
                        <?php echo $this->lobjInvoiceForm->Studentid;?>
                        
                      <?php $count = 0;?>
                      	   <?php foreach($this->programdetails as $arrprogramdetails) { ?>
                   		<tr> 
                        	<td><?php echo $arrprogramdetails['ChargeName'];?></td>
                        	
                        	<td><?php echo $arrprogramdetails['Amount'];?></td>
                        	<td><input type="hidden" name="IdCharges[]" value="<?php echo $arrprogramdetails['IdCharges']?>" id="IdCharges<?php echo $count;?>"></td>
                        	<td><input type="hidden" name="Charges[]" value="<?php echo $arrprogramdetails['Charges']?>" id="Charges<?php echo $count;?>"></td>
                    	</tr>
                    <?php }?>
                    <tr>
                    
                            <th><?php echo $this->translate("Subject Name");?></th>
                            <th><?php echo $this->translate("Subject Code");?></th>
                            <th><?php echo $this->translate("Credit Hours");?></th>
                            <th><?php echo $this->translate("Amount/Hour");?></th>
                             <th><?php echo $this->translate("Total");?></th>
                        </tr>
                    
                    <?php $subarraycount = 0;?>
                     <?php foreach($this->subjectcharges as $larrsubjectcharges) { ?>
                   		<tr> 
                   	
                        	<td><?php echo $larrsubjectcharges['SubjectName'];?></td>
                        	
                        	<td><?php echo $larrsubjectcharges['SubCode'];?></td>
                        	<td><?php echo $larrsubjectcharges['CreditHours'];?></td>
                        	<td><?php echo $larrsubjectcharges['AmtPerHour'];?></td>
                        	<td><?php echo $larrsubjectcharges['Amount'];?></td>
                        	
                        	
                    	</tr>
                    <?php }?>
                    
                     
                      
                        <tr>
                            <td align = "right" colspan="5"><?php echo $this->lobjInvoiceForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
