<script type="text/javascript">

$(function () {
	 

	 $( "#dialog-search" ).dialog({
	        autoOpen: false,
	        width: 500,
	        modal: true,
	        buttons: {
	            "Cari": function() {	               
	                $('#searchForm').submit();
	            }
	        }
	    });

	
	 
});

function searchStudent(){
	$( "#dialog-search" ).dialog('open');	
}


function update_status(index,sel_exam_status,IdStudentRegSubjects){

	var status = '#status'+index;
	var exam_status = '#exam_status'+index;
	
		
	//update exam status
	$.ajax({
		url: "/examination/exam-status-entry/save-status/exam_status/"+sel_exam_status+"/IdStudentRegSubjects/"+IdStudentRegSubjects,
	    type: "post",
	    async : false,
	    dataType: 'json',
	    success: function(data){
	    
	          
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			showLoading(exam_status,status);
		},
		complete: function() {
			hideLoading(exam_status);
		}   
	});
	
}

function showLoading(exam_status,status){	
	$(exam_status).hide();
	$(status).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(exam_status){
	$('#loading').remove();	
	$(exam_status).show();
}


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
		
		    
			<li>
				<a href="#" onclick="searchStudent();">
					<span class='search'></span>
					<?php echo $this->translate('Search');?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/examination/exam-status-entry/group-list">
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate('Course Section Info');?></legend>
	
<table>
		<tr>
					<td><?php echo $this->translate("Subject"); ?></td>
					<td>:</td>
					<td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']: $this->subject['SubjectName'];?> - <?php echo $this->subject['SubCode'];?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Section Name"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Section Code"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupCode']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Lecturer"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['FullName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Semester"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['semester_name']; ?></td>
				</tr>
			
</table>

</fieldset>


<?php if(count($this->student_list)>0){?>

<h3><?php echo $this->translate("Student List");?></h3>

<form id="formGenerate" method="post" action="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'approve-mark'), 'default', true);?>">


<table class="table" width="100%">
	<tr>
		<th width="20px"><?php echo $this->translate('Bil');?></th>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('Student ID');?></th>	
		<th><?php echo $this->translate('Student Mark');?></th>	
		<th><?php echo $this->translate('Grade Point');?></th>	
		<th><?php echo $this->translate('Grade Desc');?></th>	
		<th><?php echo $this->translate('Grade Status');?></th>	
		<th><?php echo $this->translate('Exam Status');?></th>				
		
	</tr>
	<?php
			foreach($this->student_list as $index=>$student){
	?>
	<tr>
		<td><?php echo $index+1;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":"";?>
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":"";?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']." ":"";?>			
		</td>
		<td align="center"><?php echo $student['registrationId'];?></td>	
		<td align="center"><?php echo $student['student_mark'];?></td>	
		<td align="center"><?php echo $student['grade_point'];?></td>	
		<td align="center"><?php echo $student['grade_desc'];?></td>	
		<td align="center">
		 <?php if(isset($student['grade_status'])){
		          if($student['grade_status']=='Pass') echo 'Lulus';
		          if($student['grade_status']=='Fail') echo 'Tidak Lulus';
		     }?>
		</td>	
		<td align="center">	
		<select name="exam_status" id="exam_status<?php echo $index; ?>" onchange="update_status(<?php echo $index; ?>,this.value,<?php echo $student["IdStudentRegSubjects"];?>);">
			<option value=""><?php echo $this->translate('Please Select');?></option>
			<option value="IN" <?php if($student['exam_status']=='IN') echo 'selected';?>><?php echo $this->translate('Incomplete (IN)');?></option>
			<option value="MG" <?php if($student['exam_status']=='MG') echo 'selected';?>><?php echo $this->translate('Missing Grade (MG)');?></option>
			<option value="F"  <?php if($student['exam_status']=='F') echo 'selected';?>><?php echo $this->translate('Fraud (F)');?></option>
			<option value="NR" <?php if($student['exam_status']=='NR') echo 'selected';?>><?php echo $this->translate('No Record (NR)');?></option>
		</select>	
		<div id="status<?php echo $index; ?>"></div>	
		</td>		
		
	</tr>
	<?php
	} 
	?>
</table>
</form>
<br>
<?php } ?>


<div id="dialog-search" title="<?php echo $this->translate("Search Student"); ?>">
<form id="searchForm" method="post">
<table>
	<tr><td><?php echo $this->translate('Student Name/Student ID');?></td><td>:<input type="text" name="student" id="student"></td></tr>
</table>
</form>  
</div>
