<style>
	select{
		width: 200px;
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				
			</li>
		</ul>
	</div>
</div>
<br />


<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Year");?></th>
			<th><?php echo $this->translate("Session");?></th>			
			<th><?php echo $this->translate("Capacity");?></th>	
			<th><?php echo $this->translate("No of Guest");?></th>	
			<th><?php echo $this->translate("Convocation Date");?></th>
			<th><?php echo $this->translate("Award");?></th>		
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php 
		if(count($this->data )>0){
		foreach($this->data as $convo){
		?>
		<tr>
			<td align='center'><?php echo $convo['c_year'];?></td>
			<td align='center'><?php echo $convo['c_session'];?></td>
			<td align='center'><?php echo $convo['c_capacity'];?></td>	
			<td align='center'><?php echo $convo['c_guest'];?></td>	
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_date_from'])); ?> to <?php echo date('d-m-Y', strtotime($convo['c_date_to'])); ?></td>
			<td >
				<?php 
				if(count($convo['award'])>0){
					echo '<ul>';
					foreach($convo['award'] as $award){
						echo '<li>'.$award['name'].'</li>';
					}
					echo '</ul>';
				}
				?>
			</td>					
			<td align="center">
				<a class="link" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-graduation','action'=>'view','id'=>$convo['c_id']));?>">View</a>
			</td>
		</tr>
		<?php 
		}}
		?>
	</tbody>
</table>