<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
    <ul>
        <li><a href="<?php echo $this->baseUrl() ?>/"><?php echo $this->translate('Home') ?></a></li>
        <li>
            <a href="<?php echo $this->baseUrl() ?>/thesis/progress-report"><?php echo $this->translate('Progress Report') ?></a>
        </li>
        <li><strong><?php echo $this->title ?></strong></li>
    </ul>
    <div class="back"><a
            href="<?php echo $this->baseUrl() ?>/thesis/progress-report/"><?php echo $this->translate('Back') ?></a>
    </div>
</div>

<!--<div style="float:left">-->
<!--	--><?php //if(count($this->semesters ) > 0) : ?>
<!--    <select id="semlist" class="select">-->
<!--        <option value="">-- Select Semester --</option>-->
<!--        --><?php //foreach ( $this->semesters as $sem_id => $sem_name ):?>
<!--        <option value="--><?php //echo $sem_id?><!--" --><?php //echo $this->sem_id == $sem_id ? 'selected' : ''?><!--><?php //echo $sem_name ?><!--</option>-->
<!--        --><?php //endforeach; ?>
<!--    </select>-->
<!--	--><?php //endif;?>
<!--</div>-->

<div class="opt">
    <a class="btn"
       href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'progress-report', 'action' => 'add', 'id' => $this->id, 'type' => $this->type, 'studid' => $this->studid), 'default', true); ?><?php echo $this->sem_id != null ? '?sem_id=' . $this->sem_id : '' ?>"><span
            class="icon icon-plus-circled"></span> <?php echo $this->translate('Create New Report') ?></a>
    <a class="btn"
       href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'progress-report', 'action' => 'download-progress-report', 'id' => $this->id, 'type' => $this->type, 'student_id' => $this->studid), 'default', true); ?><?php echo $this->sem_id != null ? '?sem=' . $this->sem_id : '' ?>"><span
            class="icon icon-download"></span> <?php echo $this->translate('Download') ?></a>
</div>

<div class="box">
    <table width="100%" id="supervisor_table">
        <tr>
            <th colspan="3"><?php echo $this->translate('Research Details') ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Course') ?></td>
            <td width="5%">:</td>
            <td width="75%"><?php echo $this->proposal['SubCode'] ?> - <?php echo $this->proposal['SubjectName'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Title') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_title'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Category') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['category_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Topic') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['topic_name'] ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description') ?></td>
            <td>:</td>
            <td><?php echo $this->proposal['p_description'] ?></td>
        </tr>
    </table>
</div>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th width="5%"><?php echo $this->translate("Semester"); ?></th>
        <th width="10%"><?php echo $this->translate("Meeting Date"); ?></th>
        <th width="10%"><?php echo $this->translate("Next Meeting"); ?></th>
        <th><?php echo $this->translate("Discussion Items"); ?></th>
        <th><?php echo $this->translate("Total Comments") ?></th>
        <th><?php echo $this->translate("Latest Comment") ?></th>
        <th><?php echo $this->translate("Status") ?></th>
        <th><?php echo $this->translate("Created By") ?></th>
        <th><?php echo $this->translate("Created Date") ?></th>
        <th></th>
    </tr>
    <?php
    if (!empty($this->listing)):
        foreach ($this->listing as $row) :
            ?>
            <tr>
                <td><?php echo $row['SemesterMainCode'] ?></td>
                <td><?php echo format_date_to_view($row['meeting_date'], 'd-m-Y'); ?></td>
                <td>
                    <?php
                    if ($row['next_date'] == '0000-00-00') {
                        echo '-';
                    } else {
                        echo format_date_to_view($row['next_date'], 'd-m-Y');
                    }
                    ?>
                </td>
                <td><?php echo $row['itemdiscussed'] ?></td>
                <td align='center'><?php echo $row['totalcomments'] ?></td>
                <td>
                    <?php if ($row['lastcomment_name'] != '') { ?>
                        <div class="lastcomment">
                            <p><?php echo $row['lastcomment_name'] ?></p>
                            <p>
                                <small
                                    class="desc"><?php echo format_date_to_view($row['lastcomment_date'], 'full'); ?></small>
                            </p>
                        </div>
                    <?php } ?>
                </td>
                <td>
                    <?php
                    if ($row['status'] == '1') {
                        echo 'Approved';
                    } elseif ($row['status'] == '0') {
                        echo 'Rejected';
                    } else {
                        echo '-';
                    }
                    ?>
                </td>
                <td><?php echo $row['created_role']; ?></td>
                <td><?php echo format_date_to_view($row['created_date'], 'full'); ?></td>
                <td align='center'><a
                        href="<?php echo $this->baseUrl() ?>/thesis/progress-report/view/id/<?php echo $row['id'] ?>"><?php echo $this->translate('View') ?></a>

            </tr>
            <?php
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No reports found') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>

<script type="text/javascript">
    $(function () {
        $('#semlist').on('change', function () {
            var semid = $(this).val();

            var uri = window.location.href.toString();
            var clean_uri = uri.substring(0, uri.indexOf("?"));

            window.location = clean_uri + '?semid=' + semid;
            return false;
        });
    });
</script>