<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>

    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->serverUrl($this->url(array('module' => 'survey-bank', 'controller' => 'question', 'action' => 'view', 'pool_id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('pool_id')), null, true)) ?>">
                    <span class='back'></span>
                    Back
                </a>
            </li>
            <li>
                <a href="#">
                    <span class='info'></span>
                    Info
                </a>
            </li>

        </ul>
    </div>
</div>

<form name="form1" action="" method="post">
    <input type="hidden" name="pool_id" value="<?php echo $this->pool_id; ?>">

    <table class="table" width="100%" border="0" cellpadding=" 5" cellspacing="1">
    <tr>
            <td width="20%"><?php echo $this->translate('Pool Name'); ?></td>
            <td><?php echo $this->pool['name']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Question'); ?></td>
            <td><textarea name="question" id="question" rows="3" style="width:100%;"></textarea></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('Active?'); ?></td>
            <td>
                <input type="hidden" value="2" name="status">
                <input type="checkbox" value="1" name="status" checked='checked'>
            </td>
        </tr>
    </table>


    <!--radiobutton-->
    <div id="listRubricValue" style="display:none">

        <table id="tblRadioButton" class="table3" width="80%" cellpadding="5" cellspacing="1">
            <tr>
                <th>Number</th>
                <th>Value</th>
                <th>Description</th>

            </tr>
            <tr>
                <td>1</td>
                <td><input type="text" name="ValueNumber1" id="ValueNumber1" size="20"
                           onkeypress="return isNumberKey(event);"/></td>
                <td><input type="text" name="description1" id="description1" size="20"/></td>

            </tr>
        </table>

        <input type="hidden" name="iteration" id="iteration" value="1"></input>

            <a href="#" onclick="addRowToTable();">
                Add Row
            </a>
        |
            <a href="#" onClick="removeRowFromTable();">
                Remove Row
            </a>

    </div>

 <div class="form-opt">
    <input type="submit" value="Save">
    </div>
</form>

<script type="text/javascript">
    function addRowToTable() {
        /*--------------------------listRubric------------------------------------*/
        var tbl = document.getElementById('tblRadioButton');
        var lastRow = tbl.rows.length;
        var iteration = lastRow;
        var row = tbl.insertRow(lastRow);
//  alert(iteration);

        document.getElementById('iteration').value = iteration

        var cellLeft = row.insertCell(0);
        var textNode = document.createTextNode(iteration);
        cellLeft.appendChild(textNode);

//ValueNumber
        var valueNumber = row.insertCell(1);
        var VN = document.createElement('input');
        VN.type = 'text';
        VN.name = 'ValueNumber' + iteration;
        VN.id = 'ValueNumber' + iteration;
        VN.size = 20;
// alert(VN.name);

        //desc.onkeypress = keyPressTest;
        valueNumber.appendChild(VN);

        //description
        var description = row.insertCell(2);
        var dest = document.createElement('input');
        dest.type = 'text';
        dest.name = 'description' + iteration;
        dest.id = 'description' + iteration;
        dest.size = 20;

        //desc.onkeypress = keyPressTest;
        description.appendChild(dest);

    }

    function keyPressTest(e, obj) {
        var validateChkb = document.getElementById('chkValidateOnKeyPress');
        if (validateChkb.checked) {
            var displayObj = document.getElementById('spanOutput');
            var key;
            if (window.event) {
                key = window.event.keyCode;
            }
            else if (e.which) {
                key = e.which;
            }
            var objId;
            if (obj != null) {
                objId = obj.id;
            } else {
                objId = this.id;
            }
            displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
        }
    }

    function removeRowFromTable() {
        var tbl = document.getElementById('tblRadioButton');
        var lastRow = tbl.rows.length;

        curval = document.getElementById('iteration').value;
        if (lastRow > 2) tbl.deleteRow(lastRow - 1);
        document.getElementById('iteration').value = curval - 1;
    }

    function getList(id) {

        if (id == 4) {
            $("#listRubricValue").show();
            $("#listRubric").hide();
        } else if (id == 3) {
            $("#listRubric").hide();
            $("#listRubricValue").hide();
        } else {
            $("#listRubric").hide();
            $("#listRubricValue").hide();
        }
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function getQuestionType(element) {
//  alert(element);
        document.getElementById('question_type').options.length = 0;

        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question','action'=>'ajax-get-questiontype'),'default',true);?>",
            data: {'val': element},
            context: document.body,

            success: function (data) {
                alert(data);

                response = eval(data);
                var questiontype = document.getElementById('question_type');
                questiontype.options.length = 0;
                questiontype.options[0] = new Option('--Select Question Type--', '');

                for (var i = 0; i < response.length; i++) {
                    questiontype.options[i + 1] = new Option(response[i].questiontype, response[i].questiontype);
                }
            }
        });

    }

</script>