<?php   $iteration = count($this->RadioData); ?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->serverUrl($this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'view', 'pool_id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('pool_id')), null, true))?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
			<!--li>
				<a  href="#" onclick="addRowToTable();">
					<span class='add'></span>
					Add Row
				 </a>
			</li>
			<li>
				<a href="#" onClick="removeRowFromTable();">
					<span class='remove' style="center"></span>
					Remove Row
				</a>
			</li-->
		</ul>
	</div>
</div>
<br>

	<form action="" method="POST" enctype="multipart/form-data" name='editfrm'>	
	<input type="hidden" name="pool_id" value="<?php echo $this->poolid;?>"></input>
	<table class="table info" width="100%" border="0" cellpadding=" 5" cellspacing="1">
        <tbody>
        <tr>
            <td width="20%">>Pool Name</td>
             <td> <?php echo $this->pool['name'];?></td>
        </tr>

        <tr> 
        	<td>Question</td>
        	 <td> <textarea name="question" id="question" cols="50"  rows="5" style="width:100%;"><?php echo $this->poolData["question"];?></textarea></td>
        </tr>
        <tr>
            <td>Active?</td>
            <td>
                <input type="hidden" value="2" name="status">
                <input type="checkbox" value="1" name="status" <?php if($this->poolData['status'] == 1){echo "checked='checked'";}?>>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-opt">
                    <input type="submit" value="Save">
    <input type="button" value="Cancel" onclick="window.location='<?php echo $this->serverUrl($this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'view', 'pool_id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('pool_id')), null, true))?>'; " />
    </div>
    
 </form> 
<script type="text/javascript">
    function addRowToTable()
    {
        /*--------------------------listRubric------------------------------------*/
        var tbl = document.getElementById('tblRadioButton');
        var lastRow = tbl.rows.length;
        var iteration = lastRow;
        var row = tbl.insertRow(lastRow);
        alert(iteration);

        document.getElementById('iteration').value = iteration

        var cellLeft = row.insertCell(0);
        var textNode = document.createTextNode(iteration);
        cellLeft.appendChild(textNode);

//ValueNumber
        var valueNumber = row.insertCell(1);
        var VN = document.createElement('input');
        VN.type = 'text';
        VN.name = 'ValueNumber' + iteration;
        VN.id = 'ValueNumber'+ iteration;
        VN.size = 20;

        //desc.onkeypress = keyPressTest;
        valueNumber.appendChild(VN);

        //description
        var description = row.insertCell(2);
        var dest = document.createElement('input');
        dest.type = 'text';
        dest.name = 'description'+ iteration;
        dest.id = 'description'+ iteration;
        dest.size = 20;

        //desc.onkeypress = keyPressTest;
        description.appendChild(dest);


    }

    function keyPressTest(e, obj)
    {
        var validateChkb = document.getElementById('chkValidateOnKeyPress');
        if (validateChkb.checked) {
            var displayObj = document.getElementById('spanOutput');
            var key;
            if(window.event) {
                key = window.event.keyCode;
            }
            else if(e.which) {
                key = e.which;
            }
            var objId;
            if (obj != null) {
                objId = obj.id;
            } else {
                objId = this.id;
            }
            displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
        }
    }

    function removeRowFromTable()
    {
        var tbl = document.getElementById('tblRadioButton');
        var lastRow = tbl.rows.length;

        curval = document.getElementById('iteration').value;
        if (lastRow > 2) tbl.deleteRow(lastRow - 1);
        document.getElementById('iteration').value = curval-1;
    }

    function openInNewWindow(frm)
    {
        // open a blank window
        var aWindow = window.open('','TableAddRowNewWindow','scrollbars=yes,menubar=yes,resizable=yes,toolbar=no,width=400,height=400');

        // set the target to the blank window
        frm.target = 'TableAddRowNewWindow';

        // submit
        frm.submit();
    }

    function validateRow(frm)
    {
        var tbl = document.getElementById('tblRadioButton');

        var lastRow = tbl.rows.length - 2;

        var i;
        var total=0;

        for (i=1; i<=lastRow; i++) {
            var aRow = document.getElementById('component_item_weightage' + i);

            if (aRow.value.length <= 0) {
                alert('Row ' + i + ' is empty');
                return false;
            }

            //get total weightage
            rowVal = aRow.value;
            total=total+Math.abs(rowVal);
        }

        if(total !=100){
            alert('Total weightage is '+total+' .Please make sure...');
            return false;
        }

        return true;
    }

    function onblurRow(){

        //get total weightage
        var tbl = document.getElementById('tblRadioButton');
        var lastRow = tbl.rows.length - 2;

        var i;
        var total=0;

        for (i=1; i<=lastRow; i++) {
            var aRow = document.getElementById('weightage' + i);
            //get total weightage
            rowVal = aRow.value;
            total=total+Math.abs(rowVal);

            if(total > 100){
                alert('Total weightage is '+total+' .Please make sure...');
                aRow.value=0;
                aRow.focus();
                return;
            }
        }

    }


    function subForm(action){
        if(action==2){//delete
            document.frmcomp.action="<?php echo $this->url(array('module'=>'exam','controller'=>'asscompitem','action'=>'deleteitem'))?>";
            document.frmcomp.submit();
        }

        if(action==1){
            document.frmcomp.action="<?php echo $this->url(array('module'=>'exam','controller'=>'asscompitem','action'=>'modifyitem'))?>";
            document.frmcomp.submit();
        }
    }

    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>