

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'import-question', 'action'=>'index', 'id'=>$this->pool_id),'default',true);?>" >
					<span class='upload'></span>
					Import Question
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'import-question', 'action'=>'export', 'id'=>$this->pool_id),'default',true);?>" >
					<span class='download'></span>
					Export Question
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
		</ul>
	</div>
</div>
<br />
	
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>

			    <th width="5%" style="text-align:center"></th>
				<th width="70%"><?php echo $this->translate('Question'); ?></th>
				<th width="10%"><?php echo $this->translate('Status'); ?></th>
                <th width="10%"></th>
				
			</tr>
			
			<?php 
			if(isset($this->question)){
				
				$i=0;
				$j=1;
				foreach ($this->question as $q): 
				?>
				<tr valign="top" <?php echo $i%2==0?"class='shade'":""; ?>>
				    <td align="center"><?php echo $j; ?>.</td>
				    <td><?php echo $q['question'];?></td>	
					<td align="center"><?php echo $q['status']==1 ? $this->translate("Active") : $this->translate("Inactive");?></td>
                    <td align="center">
                        <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'edit', 'qid' => $q['id']));?>">
                        <?php echo $this->translate('Edit'); ?>
                        </a>
                        |
                        <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'delete-question', 'qid' => $q['id']));?>"
                            onclick="return(confirm('Are you sure to delete this question?'))">
                        <?php echo $this->translate('Delete'); ?>
                        </a>

                    </td>
               	</tr>
				<?php 
				$i++;
				$j++;
				endforeach; 
			}
			?>
		</table>
<script type="text/javascript">

    function del(){
        var id = $('input[name=question_id]:checked').val();

        if(!id){
            alert('Please select any survey pool first');
        }else{
            if(confirm('Are you sure to delete this survey pool ?')){
                window.location = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'delete-question'));?>/qid/"+id;
            }
        }
    }

    function add(){
        window.location="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'add-question'));?>";
    }
</script>
