<?php   $iteration = count($this->iteration); ?>

<script type="text/javascript">

function edit(){
		window.location="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'edit'));?>/qid/"+id;

}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="<?php echo $this->serverUrl($this->url(array('module'=>'survey-bank','controller'=>'question', 'action'=>'view', 'pool_id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('pool_id')), null, true))?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br>
<?}?>
  <br></br>
<form name="frmcomp" method="post" action="">
<table class="table3" width="794" cellpadding="5" cellspacing="0" border="1">
<tr>
	<th ><div align="center">Question Pool</div></th>					
	<td > <?php echo $this->poolData["poolname"]; ?></td>
</tr>
<tr>
	<th><div align="center">Section</div></th>	
	<td>  <?php echo $this->poolData["chapter_id"]; ?></td>
</tr>		
<tr>
	<th><div align="center">Question type</div></th>	
	<td>  <?php echo $this->poolData["questiontype"]; ?></td>
</tr>		
<tr>
	<th><div align="center">Status</div></th>	
	<td>  <?php if ($this->poolData['status'] == 1){
	         print "Active";
	      }else {
		     print "Not Active";}		
		   ?>   </td>
</tr>		
<tr>
	<th><div align="center">Question</div></th>	
	<td> <?php echo $this->poolData["question"]; ?>   </td>
</tr>		

</table>

<br></br>
  
<?php if($this->RadioData){?>
<table id="tblComponent" class="table3" width="80%" cellpadding="5" cellspacing="1">
  <tr>
    <th width="13%">Number</th> 
    <th width="24%">Value</th>  
    <th width="39%">Description</th>
   
  </tr>
  
 
     <?php 
		  $no=1;		
		  foreach ($this->RadioData as $questiondetails){?>
		     
		  <tr>
		    <td>&nbsp;<?php echo $no;?>.</td>   
		    <td><input type="hidden" name="id<?php echo $no;?>" value="<?php echo $questiondetails["id"];?>"></input>
		    <?php echo $questiondetails["ValueNumber1"];?></td>
		    <td><?php echo $questiondetails["description1"];?></td>		    
		    
		  </tr>
		  <?php $no++; }//end if?>
</table>
<?php }?>
<input type="hidden" name="iteration" id="iteration" value="<?php echo $iteration?>"/>
<input type="hidden" name="ValueNumber1" id="ValueNumber1" size="20" value=""/>
<input type="hidden" name="description1" id="description1" size="20" value=""/>

  <br></br>

<br></br>
  </form>
