<script>

	dojo.addOnLoad(function(){
		dijit.byId('calc_type_info').set('value','');
		dijit.byId('calc_type_info').set('placeHolder','<?php echo $this->translate('Select')?>');
		dijit.byId('program').set('value','');
		dijit.byId('program').set('placeHolder','<?php echo $this->translate('Select')?>');

	});

	$(function(){
		$('.datepicker').datepicker( {
			dateFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});

	});

	function addFeeInfo() {

		flag = true;
		if (flag == true) {
			var idrow = $("#idRow").val();
			idrow = Math.abs(idrow) + 1;
			addFeeInfoRow(idrow);
			//clearpageAdd();
			$("#idRow").val(idrow);
		} else {
			alert('All Fee Information fields are required');
		}
	}

	function addFeeInfoRow(idrow) {

		var table = $('#feeinfo tbody');
		var content = "<tr id='" + idrow + "'>" +
			"<td align='center'><input type='hidden' value='" + $('#fee_category_info').val() + "' name=feecategoryinfo[]>" + $('#fee_category_info').val() + "</td>" +
			"<td align='center'><input type='hidden' value='" + dijit.byId("calc_type_info") + "' name=calctypeinfo[]>" + $('#calc_type_info').val() + "</td>" +
			"<td align='center'><input type='hidden' value='" + $('#sem_info').val() + "' name=seminfo[]>" + $('#sem_info').val() + "</td>" +
			"<td align='center'><input type='hidden' value='" + $('#value_info').val() + "' name=valueinfo[]>" + $('#value_info').val() + "</td>" +
			"<td align='center'><a href='#' onClick='deleteFeeInfoRow(" + idrow + "); return false;'>Delete</a></td>" +
			'</tr>';
		$(table).append(content);
	}

	function deleteFeeInfoRow(x) {
		var row = "#" + x;
		$(row).remove();
	}

	function addProgram() {

		flag = true;
		if (flag == true) {
			var idrow = $("#idRow").val();
			idrow = Math.abs(idrow) + 1;
			addProgramRow(idrow);
			//clearpageAdd();
			$("#idRow").val(idrow);
		} else {
			alert('All Information fields are required');
		}
	}

	function addProgramRow(idrow) {

		//showcode(dijit.byId("program"));

		var table = $('#program tbody');
		var content = "<tr id='" + idrow + "'>" +
			"<td align='center'><input type='hidden' value='" + $('#program').val() + "' name=programcode[]>" + $('#programcode').val() + "</td>" +
			"<td align='center'><input type='hidden' value='" + dijit.byId("program") + "' name=programdesc[]>" + $('#program').val() + "</td>" +
			"<td align='center'><a href='#' onClick='deleteProgramRow(" + idrow + "); return false;'>Delete</a></td>" +
			'</tr>';
		$(table).append(content);
	}

	function deleteProgramRow(x) {
		var row = "#" + x;
		$(row).remove();
	}


/*	function showcode(progid) {

		if(progid!=''){
			$.ajax({
				type: "POST",
				async: false,
				url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'promotionsetup', 'action' => 'getcode'), 'default', true); ?>',
				data: "idprogram=" + progid , // appears as $_GET['id'] @ ur backend side
				dataType: 'json'
				success: function(data) {
					alert("data code:"+data);
					//$('#spandesc').html(data);
					$('#programcode').val(data);
				}
			});
		}
	}*/


	function clearpageAdd()
	{
		dijit.byId("fee_category_info").reset();
		dijit.byId("fee_category_info").set("value",null);

		dijit.byId("calc_type_info").reset();
		dijit.byId("calc_type_info").set("value",null);

		dijit.byId("value_info").reset();
		dijit.byId("value_info").set("value_info",null);

		dijit.byId("sem_info").reset();
		dijit.byId("sem_info").set("sem_info",null);
	}



</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'promotionsetup', 'action' => 'index'), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form dojoType="dijit.form.Form"  name='form1' method="post" >
	<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
	</script>
	<table width="100%" class='table'>

		<?php echo $this->lobjPromotionSetupForm->IdUniversity?>
		<?php echo $this->lobjPromotionSetupForm->UpdDate?>
		<?php echo $this->lobjPromotionSetupForm->UpdUser?>
		<tr>
			<td><?php echo $this->translate("Code");?>
				<span class="reqMark">*</span></td>
			<td colspan="3"><?php echo $this->lobjPromotionSetupForm->Promotion_Code; ?></td>

		</tr>

		<tr>
			<td><?php echo $this->translate("Description");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->lobjPromotionSetupForm->Promotion_description; ?></td>
			<td><?php echo $this->translate("Award Level");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjPromotionSetupForm->Awardid; ?></td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Semester Start");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->sem_start; ?></td>
			<td><?php echo $this->translate("Semester End");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->sem_end; ?></td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Registration Start Date");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->reg_start; ?></td>
			<td><?php echo $this->translate("Registration Start Date");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->reg_end; ?></td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Minimum Payment");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->min_payment; ?></td>
			<td><?php echo $this->translate("Total Semester");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->total_sem; ?></td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Adjustment Type");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->adjustment_type;?></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Exclusive");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->exclusive; ?></td>
			<td><?php echo $this->translate("Active");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->active; ?></td>
		</tr>

		<tr>
			<td align="right" colspan="8"></td>
		</tr>
	</table>

	<br />

	<table class="table" width="100%" class='table'>
		<tr>
			<th colspan='4'><?php echo $this->translate("Fee Details");?></th>
		</tr>

		<tr>
			<td><?php echo $this->translate("Fee Category");?></td>
			<td><?php echo $this->lobjPromotionSetupForm->fee_category_info; ?></td>
			<td><?php echo $this->translate("Semester");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->sem_info; ?></td>
		</tr>
		<tr>

			<td><?php echo $this->translate("Calculation Type");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->calc_type_info; ?></td>
			<td><?php echo $this->translate("Value");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->value_info; ?></td>
		</tr>

		<tr>
			<td colspan='4' align='center'><input type='button' onClick="javacript:addFeeInfo();"
												  value='<?php echo $this->translate("Add") ?>'></td>
		</tr>

	</table>

	<table class="table" width="100%" id="feeinfo" cellpadding="3" cellspacing="1">
		<thead>
		<tr>
			<th><?php echo $this->translate("Fee Category");?></th>
			<th><?php echo $this->translate("Calculation Type");?></th>
			<th><?php echo $this->translate("Semester");?></th>
			<th><?php echo $this->translate("Value");?></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<?php foreach ( $this->feeinfo as $fee ) { ?>
			<tr id="fee-<?php echo $fee['id']?>">
				<td><?php echo $fee['fee_category']; ?></td>
				<td align='center'><?php echo $fee['name']; ?></td>
				<td align='center'><?php echo $fee['semester'];?></td>
				<td align='center'><?php echo $fee['value']?></td>
				<!--<td align='center'><a href="#" onclick="return deleteFeeItemAjax(<?php /*echo $fee['id']*/?>)"><?php /*echo $this->translate('Delete')*/?></a></td>-->
				<td align='center'><a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'promotionsetup', 'action'=>'delete-fee','id'=>$fee['id'],'promo_id'=>$this->promo_id),'default',true);?>" ><?php echo $this->translate("Delete")?></a></td>
			</tr>
		<?php } ?>
		</tbody>
	</table>

	<br />

	<table class="table" width="100%" class='table'>
		<tr>
			<th colspan='2'><?php echo $this->translate("Programmes");?></th>
		</tr>

		<tr>
			<td><?php echo $this->translate("Program");?> </td>
			<td><?php echo $this->lobjPromotionSetupForm->program; ?></td>

		</tr>

		<tr>
			<td colspan='2' align='center'><input type='button' onClick="javacript:addProgram();"
												  value='<?php echo $this->translate("Add") ?>'></td>
		</tr>

	</table>

	<table class="table" width="100%" id="program" cellpadding="3" cellspacing="1">
		<thead>
		<tr>
			<th><?php /*echo $this->translate("Program Code");*/?></th>
			<th><?php echo $this->translate("Program");?></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<?php foreach ( $this->program as $prog ) { ?>
			<tr id="prog-<?php echo prog['id']?>">
				<td><?php echo $prog['programcode']; ?></td>
				<td align='center'><?php echo $prog['programname']; ?></td>
				<!--<td align='center'><a href="#" onclick="return deleteProgramItemAjax(<?php /*echo $prog['id']*/?>)"><?php /*echo $this->translate('Delete')*/?></a></td>-->
				<td align='center'><a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'promotionsetup', 'action'=>'delete-program','id'=>$prog['id'],'promo_id'=>$this->promo_id),'default',true);?>" ><?php echo $this->translate("Delete")?></a></td>
			</tr>
		<?php } ?>
		</tbody>
	</table>

	<br />


	<div class="form-opt">
		<?php echo $this->lobjPromotionSetupForm->Save; ?>
	</div>
</form>
