<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'promotionsetup', 'action' => 'add'), 'default', true); ?>">
                    <span class='add'></span>
                    <?php echo $this->translate('Add')?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<fieldset>
    <form action="<?php echo $this->baseUrl();?>/studentfinance/promotionsetup/index/search/1" name="searchF" id="searchF" method="POST">
        <input type="hidden" name='Search' id="Search" value="Search">

        <dl class="zend_form">
            <dt><?php echo $this->translate("Code");?></dt>
            <dd><?php echo $this->lobjform->field2; ?></dd>
            <dt><?php echo $this->translate("Description");?></dt>
            <dd><?php echo $this->lobjform->field3; ?></dt>
            <dd><?php echo $this->lobjform->Search;?>
                <?php echo $this->lobjform->Clear;?>
            </dd>
    </form>
</fieldset>

<br />
<h3><?php echo $this->translate('Promotion Setup') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="3" cellspacing="1">
    <tr>

        <th><?php echo $this->translate("Code");?>
        </th>
        <th><?php echo $this->translate("Description"); ?></th>
        <th><?php echo $this->translate("Award Level");?></th>
        <th></th>
    </tr>

    <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $list): ?>
            <?php
            $url = $this->url(array('module' => 'studentfinance', 'controller' => 'promotionsetup', 'action' => 'edit', 'id' => $list['promotion_id']), 'default', true);
            ?>
            <tr>
                <td><?php echo $list['promotion_code']; ?></td>
                <td><?php echo $list['promotion_description']; ?></td>
                <td><?php echo $list['gradedesc']; ?></td>
                <td><a href='<?php echo $url;?>'>Edit
                    </a></td>

            </tr>

        <?php endforeach; ?>
    <?php endif; ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>