<script>
$(document).ready(function () {
    $("#search_form").submit(function (e) {
        e.preventDefault(); //prevent default form submit
        $.ajax({
            url: '/application/import-application/get-usm-schedule',
            data: { 'intake_id': $('#intake_id').val(), 'period_id':$('#period_id').val(), 'location':$('#location').val() },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $('#usm_list_result > tbody').empty();

                for(var i=0; i<data.length; i++){
                	$("#usm_list_result").find('tbody')
                    .append($('<tr>')
                        .append($('<td>')
                        	.text(data[i].aps_placement_code)
                        )
                        .append($('<td>')
                        		.text(data[i].al_location_name)
                        )
                        .append($('<td>')
                        		.html('<a href="#" onclick="set_usm('+data[i].aps_id+')">'+data[i].aps_test_date+'</a>')
                        )
                    );
                };
            },
            cache: false,
            beforeSend: function(){
                $('#usm_list_result > tbody').empty().append('<tr><td colspan="3">Loading...</td></tr>');
            }
        });

    });
});

function getPeriod(element, blank_select){
	blank_select = typeof blank_select !== 'undefined' ? blank_select : true;
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'placement-test-report', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json',
		beforeSend: function(){
			$('#period_id').hide();
			$('#period_id').parent().append('<div id="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
		}	
	}).done(function ( data ) {

		if(blank_select){
			$('#period_id').empty().append('<option value=""> <?php echo $this->translate('-- All Period --'); ?> </option>');
		}
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});

		$('#loading').remove();
		$('#period_id').show();
	});
}

function set_usm(aps_id){
	$('body').append(
		$('<form>')
		.append('<input type="hidden" name="aps_id" value="'+aps_id+'" />')
		.attr('method','post')
		.attr('id','usm_schedule')
	);

	$('#usm_schedule').submit();
}
</script>

<style>
.div_submit{
	width: 100%;
	background: #EEE;
	text-align: center;
}
tr.error td{
	background: #FFF;
	border: 1px solid red;
}
select{
	width: 250px;
}
</style>

<script>
$(function() {
	
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="download_template" href="http://<?php echo ONNAPP_HOSTNAME;?>/documents/template/spmbn_template.xlsx" target="_BLANK">
					<span class='download'></span>
					<?php echo $this->translate("CSV Template"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<!-- STEP 1 -->
<?php
if($this->step==1){ 
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>1),'default',true);?>"><?php echo $this->translate("USM Selection"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>2),'default',true);?>"><?php echo $this->translate("SKR Selection"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>3),'default',true);?>"><?php echo $this->translate("Upload CSV"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>4),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<?php echo $this->form; ?>

<table id="usm_list_result" class="table" width="100%">
	<thead>
		<tr>
			<th>Ujian Saringan Masuk</th>
			<th>Tempat Ujian</th>
			<th>Tanggal</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<!-- END STEP 1 -->
<?php 
}else
if($this->step==2){
?>
<!-- STEP 2 -->

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>1),'default',true);?>"><?php echo $this->translate("USM Selection"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>2),'default',true);?>"><?php echo $this->translate("SKR Selection"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>3),'default',true);?>"><?php echo $this->translate("Upload CSV"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>4),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form name="frm_step2" id="frm_step2" method="post">
	<table>
		<tr>
			<td><label class="required" for="skr_id">Nomor SKR</label></td>
			<td>:</td>
			<td>
				<select name="skr_id">
					<?php 
						foreach ($this->skr_list as $skr):
							$disable = "";
							if($skr['aaud_lock_status']==1){
								$disable = "disabled='disabled'";
							}
					?>
					<option value="<?php echo $skr['aaud_id'];?>" <?php echo $disable;?>><?php echo $skr['aaud_nomor'];?></option>
					<?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><label class="required" for="intake"><?php echo $this->translate("Intake");?></label></td>
			<td>:</td>
			<td>
				<select name="intake" onchange="getPeriod(this,false);">
					<option value="null"><?php echo $this->translate("-- Please Select --");?></option>
					<?php foreach ($this->intake_list as $intake):?>
					<option value="<?php echo $intake['IdIntake'];?>"><?php echo $intake['IntakeDefaultLanguage'];?></option>
					<?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><label class="required" for="period_id"><?php echo $this->translate("Periode");?></label></td>
			<td>:</td>
			<td>
				<select name="period" id="period_id">
				</select>
			</td>
		</tr>
	</table>
	<br />
	<div class="div_submit">
		<input type="submit" name="btn_submit_frm1" value="<?php echo $this->translate("Next");?>" />
	</div>
</form>
<!-- END STEP 2 -->
<?php 
}else
if($this->step==3){
?>
<!--  STEP 3 -->

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>1),'default',true);?>"><?php echo $this->translate("USM Selection"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>2),'default',true);?>"><?php echo $this->translate("SKR Selection"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>3),'default',true);?>"><?php echo $this->translate("Upload CSV"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>4),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<br />
<fieldset>
	<legend><?php echo $this->translate("Upload CSV");?></legend>
	<?php echo $this->form; ?>
	<input type="submit" value="<?php echo $this->translate("Upload");?>" onclick="$('#upload').submit()" />
</fieldset>


<?php if(isset($this->data_mapped)){?>
<table class="table" width="100%">
	<tr>
		<th>Bil.</th>
		<th>Nom. PES</th>
		<th>Nama Awal</th>
		<th>Nama Tengah</th>
		<th>Nama Akhir</th>
		<th>Email</th>
		<th>Program Studi</th>
		<th>Status</th>
		<th>Peringkat</th>
	</tr>
	<?php
		$i=1; 
		foreach ($this->data_mapped as $data):
	?>
	<tr <?php echo isset($data['error'])?"class='error'":"";?>>
		<td valign="top"><?php echo $i;?></td>
		<td valign="top">
			<?php echo $data['transaction']['at_pes_id']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_fname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_mname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_lname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_email']?>
		</td>
		<td valign="top">
			<?php echo $data['program']['ap_prog_code']?>
		</td>
		<td valign="top">
			<?php echo $data['selection']['rector_status']==1?"OFFER":""?>
			<?php echo $data['selection']['rector_status']==5?"LULUS TAHAP PERTAMA":""?>
		</td>
		<td valign="top">
			<?php echo $data['selection']['rank']?>
		</td>
	</tr>
	<?php if(isset($data['error'])){?>
	<tr>
		<td colspan="8" style="background:#FFF;">
		<ol>
		<?php foreach ($data['error'] as $error){?>
		<li><?php echo $error;?></li>
		<?php }?>
		</ol>
		</td>
	</tr>
	<?php }?>
	
	<?php
		$i++; 
		endforeach;
	?>
</table>
<?php }?>

<!-- END STEP 3 -->
<?php 
}else
if($this->step==4){
?>
<!-- STEP 4 -->

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>1),'default',true);?>"><?php echo $this->translate("USM Selection"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>2),'default',true);?>"><?php echo $this->translate("SKR Selection"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>3),'default',true);?>"><?php echo $this->translate("Upload CSV"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'import-application','action'=>'spmbn', 'step'=>4),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate("USM & SKR Infomation");?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate("USM");?></td>
			<td>:</td>
			<td><?php echo $this->placement_test['aps_placement_code']; ?> - <?php echo $this->placement_test['al_location_name']; ?>(<?php echo date('d-m-Y', strtotime($this->placement_test['aps_test_date']));?>)</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Rector SKR No.");?></td>
			<td>:</td>
			<td><?php echo $this->skr_data['aaud_nomor']?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Decree Date");?></td>
			<td>:</td>
			<td><?php echo date('d-m-Y', strtotime($this->skr_data['aaud_decree_date']));?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake");?></td>
			<td>:</td>
			<td><?php echo $this->intake['IntakeDefaultLanguage'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Period");?></td>
			<td>:</td>
			<td><?php echo $this->period['ap_desc']?></td>
		</tr>
	</table>
</fieldset>

<table class="table" width="100%">
	<tr>
		<th>Bil.</th>
		<th>Nom. PES</th>
		<th>Nama Awal</th>
		<th>Nama Tengah</th>
		<th>Nama Akhir</th>
		<th>Email</th>
		<th>Program Studi</th>
		<th>Status</th>
		<th>Peringkat</th>
	</tr>
	<?php
		$i=1; 
		foreach ($this->applicant_data as $data):
	?>
	<tr <?php echo isset($data['error'])?"class='error'":"";?>>
		<td valign="top"><?php echo $i;?></td>
		<td valign="top">
			<?php echo $data['transaction']['at_pes_id']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_fname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_mname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_lname']?>
		</td>
		<td valign="top">
			<?php echo $data['profile']['appl_email']?>
		</td>
		<td valign="top">
			<?php echo $data['program']['ap_prog_code']?>
		</td>
		<td valign="top">
			<?php echo $data['selection']['rector_status']==1?"OFFER":""?>
			<?php echo $data['selection']['rector_status']==5?"LULUS TAHAP PERTAMA":""?>
		</td>
		<td valign="top">
			<?php echo $data['selection']['rank']?>
		</td>
	</tr>
	<?php if(isset($data['error'])){?>
	<tr>
		<td colspan="8" style="background:#FFF;">
		<ol>
		<?php foreach ($data['error'] as $error){?>
		<li><?php echo $error;?></li>
		<?php }?>
		</ol>
		</td>
	</tr>
	<?php }?>
	
	<?php
		$i++; 
		endforeach;
	?>
</table>

<div style="width:100%; text-align: center; background: #EEEEEE; margin: 10px 0;">
	<input type="button" value="<?php echo $this->translate("Confirm");?>" onclick="window.location = '/application/import-application/save'" />
</div>
<!-- END STEP 4 -->
<?php 
}
?>