<?php if ( $this->ajax == 0 ) { ?>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<?php } ?>

<h3 class="alt">Submit Final Report</h3>	

<?php  if ( !empty($this->errMsg ) ) { ?>
<div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
<?php } else { ?>
<table width="100%" class="table">
		<tr>
			<td width="200"><?php echo $this->translate('Upload Final Report')?></td>
			<td>
				<a href="<?php echo DOCUMENT_URL . $this->submit['file_url']?>" class="fancy"><?php echo $this->submit['file_name']?></a>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Submitted Date')?></td>
			<td><?php echo format_date($this->submit['created_date'])?></td>
		</tr>
	</table>

	<br />

	<h3 class="alt">PERMISSION FOR ACADEMIC USE OF WORK BY INCEIF</h3>
	<table width="100%" class="maintable">
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_student" disabled="disabled" <?php echo $this->submit['perm_student'] == 1 ? 'checked="checked"':''?>/></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE (INCEIF) to upload it in the INCEIF's  KMC database and make it available to INCEIF students for educational purposes.</p>
			</td>
		</tr>
		<tr>
			<td align="center"><input type="checkbox" value="1" name="perm_public"  disabled="disabled"  <?php echo $this->submit['perm_public'] == 1 ? 'checked="checked"':''?>/></td>
			<td>
				<p>I hereby allow INTERNATIONAL CENTRE FOR EDUCATION IN ISLAMIC FINANCE  (INCEIF) to upload it in INCEIF's website and make it available to the public.</p>
			</td>
		</tr>
	</table>
<?php } ?>

