<?php if ( $this->ajax == 0 ) { ?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<?php } ?>
<h3 class="alt">Notice Of Intention To Submit/Resubmit A Final Draft Thesis/Dissertation</h3>	

<?php  if ( !empty($this->errMsg ) ) { ?>
<div class="error"><span class="icon icon-alert"></span> <?php echo $this->errMsg ?></div>
<?php } else { ?>

<form method="post" id="form_submit" onsubmit="return checkForm()">
	<table width="100%" class="maintable">
		<tr>
			<td width="200"><?php echo $this->translate('Proposed Date of Submission')?>:</td>
			<td><input type="text" name="submit_date" id="submit_date" <?php echo isset($this->submit['submit_date']) ? 'disabled="disabled" value="'.$this->submit['submit_date'].'"' : ''?> class="input-txt datepicker half" placeholder="yyyy-mm-dd" /></td>
		</tr>
		<!--<tr>
			<td colspan="2"><input type="checkbox" id="confirm" name="confirm" value="1" <?php echo isset($this->submit['agree']) ? 'disabled="disabled" checked="checked"' : ''?>/> I confirm and acknowledge the proposed submission date</td>
		</tr>-->
	</table>
	
</form>

<script type="text/javascript">
function checkForm()
{
	if ( $(".datepicker").val() == '' )
	{
		alert('Please select date of submission first');
		return false;
	}

	/*if ( $("#confirm").is(':checked') )
	{
		return true;
	}
	else
	{
		alert('You must confirm submission first.');
		return false;
	}*/
}

$(function()
{
	$(".datepicker").datepicker({dateFormat: 'yy-mm-dd', changeMonth: true,changeYear: true});
});
</script>
<?php } ?>