<script type="text/javascript">
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="--Select--" value="">--Select--</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    $(function(){
        $('#clickemail').click(function(e){
            e.preventDefault()
            $("#sendEmail").submit();
        })
    });
    
    $(function(){
       if (<?php echo $this->editSuccess ?> === 1){
            $("#tooltip-save .flash").show().fadeOut(7000);
        }
    });
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" id="clickemail">
                <span class='email'></span>
                <?php echo $this->translate("Email");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'applicant-approval', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<form id="editApplication" method="post">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th colspan="4"><?php echo $this->title; ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Name");?></td>
            <td><?php echo $this->applicantName; ?></td>
            <td><?php echo $this->translate("Applicant Id");?></td>
            <td><?php echo $this->applicantId; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Student Category");?></td>
            <td><?php echo $this->studentCategory; ?></td>
            <td><?php echo $this->translate("NRIC");?></td>
            <td><?php echo $this->idNumber; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Reason");?></td>
            <td><?php echo $this->editApplicationForm->at_reason; ?></td>
            <td><?php echo $this->translate("Intake");?></td>
            <td><?php echo $this->intake; ?></td>
        </tr>
        <tr>
            <td>Date Verified</td>
            <td></td>
            <td>Faculty</td>
            <td></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Verified by");?></td>
            <td></td>
            <td><?php echo $this->translate("Programme");?></td>
            <td><?php echo $this->programName; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Status");?></td>
            <td><?php echo $this->status; ?></td>
            <td><?php echo $this->translate("Programme Scheme");?></td>
            <td><?php echo $this->programScheme; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("New Status");?></td>
            <td><?php echo $this->editApplicationForm->at_status; ?></td>
            <?php 
            if ($this->applicantInfo['at_status']==596 || $this->applicantInfo['at_status']==597){
            ?>
            <td><?php echo $this->translate("Offer this applicant?");?></td>
            <td><button class="btn-submit" type="button" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'applicant-approval', 'action'=>'offer-applicant', 'id'=>$this->appTrxId),'default',true);?>';"><?php echo $this->translate('Offer'); ?></button></td>
            <?php
            }else{
            ?>
            <td><?php //echo $this->translate("New Programme Scheme");?></td>
            <td><?php //echo $this->editApplicationForm->IdProgramScheme; ?></td>
            <?php
            }
            ?>
        </tr>
    </table>
    <div class="form-opt">
        <div id="tooltip-save">
            <span class="flash" style="display:none"><?php echo $this->translate("Information saved!")?></span>
        </div>
        <?php echo $this->editApplicationForm->save ?>
    </div>
</form>
<form method="post" id='sendEmail' action="<?php echo $this->url(array('module'=>'communication','controller'=>'application','action'=>'compose-msg'), 'default', true);?>">
    <input type="hidden" name="checkall" value="" />
    <input type="hidden" name="rec[<?php echo $this->appTrxId; ?>]" value="<?php echo $this->applicantName; ?>" />
    <input type="hidden" name="compose" value="Continue" />
    <input type="hidden" name="fromwhere" value="2" />
    <input type="hidden" name="rectype" value="applicants" />
</form>
<style type="text/css">
    .flash { color:green; font-weight:bold; }
</style>