<script type="text/javascript">
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function viewChecklist(element){
        $(function() {

            var trans_id = element;
            var name = document.getElementById('appName'+element).value;

            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'applicant-approval', 'action'=>'load-document-checklist-ajax'),"default",true);?>/id/"+trans_id;
            var data = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: 'json',
            })
            .done(function(data) {
                
                var content = '<fieldset>';
                content += '<legend>'+name+'</legend>'
                content += '<table class="table" width="100%" cellpadding="5" cellspacing="1" id="checklist">';
                content += '<thead>';
                content += '<tr>';
                content += '<th><?php echo $this->translate("Checklist Name");?></th>';
                content += '<th><?php echo $this->translate("Checklist Description");?></th>';
                content += '<th><?php echo $this->translate("Upload Status");?></th>';
                //content += '<th><?php //echo $this->translate("Confirm");?></th>';
                content += '<th><?php echo $this->translate("Status");?></th>';
                content += '<th><?php echo $this->translate("Comment");?></th>';
                content += '</tr>';
                content += '</thead>';
                content += '<tbody>';
                $.each(data,function(index){                    
                    content += '<tr>';
                    content += '<td>'+data[index].dcl_name+(data[index].dcl_mandatory == 1 ? '<span class="reqMark" style="color: red;">*</span>':'')+'</td>';
                    
                    //checklist
                    content += '<td>';
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                    if (data[index].column1){
                    $.each(data[index].column1,function(index2){
                        content += '<tr>';
                        content += '<td>'+data[index].column1[index2]+'</td>'
                        content += '</tr>'
                    });
                    }
                    content += '</table>';
                    content += '</td>';
                    
                    //upload status
                    content += '<td>';
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                    if (data[index].column2){
                    $.each(data[index].column2,function(index3){
                        content += '<tr>';
                        content += '<td>'+data[index].column2[index3]+'</td>'
                        content += '</tr>'
                    });
                    }
                    content += '</table>';
                    content += '</td>';
                    
                    //comfirm
                    /*content += '<td>';
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                    if (data[index].column3){
                    $.each(data[index].column3,function(index4){
                        content += '<tr>';
                        content += '<td>'+data[index].column3[index4]+'</td>'
                        content += '</tr>'
                    });
                    }
                    content += '</table>';
                    content += '</td>';*/
                    
                    //status
                    content += '<td>';
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                    if (data[index].column4){
                    $.each(data[index].column4,function(index5){
                        content += '<tr>';
                        content += '<td>'+data[index].column4[index5]+'</td>'
                        content += '</tr>'
                    });
                    }
                    content += '</table>';
                    content += '</td>';
                    
                    //comment
                    content += '<td>';
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                    if (data[index].column5){
                    $.each(data[index].column5,function(index6){
                        content += '<tr>';
                        content += '<td>'+data[index].column5[index6]+'</td>'
                        content += '</tr>'
                    });
                    }
                    content += '</table>';
                    content += '</td>';
                    
                    content += '</tr>';
                });
                content += '</tbody>';
                content += '</table>';
                content += '</fieldset>';
                
                $("#fancybox").fancybox({
                    helpers: {
                        title : {
                            type : 'float'
                        }
                    }
                });
                $.fancybox({ content: content });
            })
            .fail(function() {
                alert("error load document checklist"); 
            });
        });
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Applicant List");?></legend>
    <form id='search' method="post">
        <dl class="zend_form">
            <dt><?php echo $this->translate("Applicant Name");?></dt>
            <dd><?php echo $this->searchForm->field1;?></dd>
            <!--<dt><?php //echo $this->translate("Middle Name");?></dt>
            <dd><?php //echo $this->searchForm->field5;?></dd>
            <dt><?php //echo $this->translate("Third Name");?></dt>
            <dd><?php //echo $this->searchForm->field6;?></dd>-->
            <dt><?php echo $this->translate("Applicant Id");?></dt>
            <dd><?php echo $this->searchForm->field7;?></dd>
            <dt><?php echo $this->translate("Program");?></dt>
            <dd><?php echo $this->searchForm->field3;?></dd>
            <dt><?php echo $this->translate("Program Scheme");?></dt>
            <dd><?php echo $this->searchForm->field2;?></dd>
            <dt><?php echo $this->translate("Student Category");?></dt>
            <dd><?php echo $this->searchForm->field4;?></dd>
            <dt><?php echo $this->translate("Intake");?></dt>
            <dd><?php echo $this->searchForm->field9;?></dd>
            <dt><?php echo $this->translate("Status");?></dt>
            <dd><?php echo $this->searchForm->at_status;?></dd>
            <dd align="center" colspan="4">
                <?php echo $this->searchForm->Search;?>
                <?php echo $this->searchForm->Clear;?>
            </dd>
        </dl>
    </form>
</fieldset>
<br>
<?php 
echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<form id="approve" method="post">
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Applicant Name");?></th>
			<th><?php echo $this->translate("Applicant Id");?></th>
			<th><?php echo $this->translate("Intake (Period)");?></th>
			<th><?php echo $this->translate("Program");?></th>
			<th><?php echo $this->translate("Program Scheme");?></th>
			<th><?php echo $this->translate("Student Category");?></th>
			<th><?php echo $this->translate("Status");?></th>
			<th><?php echo $this->translate("Edit");?></th>
			<th><?php echo $this->translate("Approve");?></th>
			<th><?php echo $this->translate("Checklist");?></th>
			<th><?php echo $this->translate("Remarks");?></th>
			<!--<th><?php echo $this->translate("Approval");?></th>-->
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $applicantList): ?>
		<?php if ($applicantList['at_status'] != 602): ?>
		<tr>
			<td><?php echo $applicantList['appl_fname'].' '.$applicantList['appl_mname'].' '.$applicantList['appl_lname']; ?></td>
			<td align="center"><?php echo $applicantList['at_pes_id']; ?></td>
			<td align="center"><?php echo $applicantList['IntakeDesc']; ?></td>
			<td align="center"><?php echo $applicantList['ProgramCode']; ?></td>
			<td><?php
                            echo (Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['program_type'])==' ' ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['program_type']).'<br/>')
                            .Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['mode_of_study'])
                            .'<br>'.Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['mode_of_program']);
                            ?>
			</td>
			<td align="center"><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['appl_category']); ?></td>
			<td align="center"><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($applicantList['at_status']); ?></td>
			<td align="center"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'applicant-approval', 'action'=>'edit', 'id'=>$applicantList['at_trans_id'], 'stdCtgy'=>$applicantList['appl_category']),"default",true);?>">Edit</a></td>
			<input type="hidden" value="<?php echo $applicantList['appl_id']; ?>" name="appl_id[]" />
			<input type="hidden" value="<?php echo $applicantList['appl_fname'].' '.$applicantList['appl_mname'].' '.$applicantList['appl_lname']; ?>" id="appName<?php echo $applicantList['at_trans_id']; ?>" />
			<td align="center">
				<?php if ($applicantList['at_status']==596 || $applicantList['at_status']==597): ?>
					<input type="checkbox" name="at_trans_id[]" value="<?php echo $applicantList['at_trans_id']; ?>">
				<?php endif; ?>
			</td>
			<td align="center">
				<a onclick="return viewChecklist(<?php echo $applicantList['at_trans_id']; ?>)" id="viewChecklist" href="javascript:void(0);" title="<?php echo $applicantList['appl_fname'].' '.$applicantList['appl_mname'].' '.$applicantList['appl_lname']; ?>">View</a>
			</td>
			<td></td>
			<!--<td><a href="#" class="btn">Process</a></td>-->
		</tr>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
		<!--<tr>
			<td colspan="12" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?></div></td>
		</tr>-->
	</table>
	<div class="form-opt">
		<?php echo $this->approvalForm->Approve ?>
	</div>
</form>
<div class="pagination">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
<style type="text/css">
    .span-7 { width:300px !important; }
</style>