<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Programme Scheme'); ?></th>
        <th><?php echo $this->translate('Collection Method'); ?></th>
        <th><?php echo $this->translate('Address'); ?></th>
        <th><?php echo $this->translate('Tracking No.'); ?></th>
        <th><?php echo $this->translate('Sent/Collected'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        foreach ($this->list as $loop) {
            ?>
            <tr>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td align="center"><?php echo $loop['ProgramName']; ?></td>
                <td align="center"><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
                <td align="center">
                    <?php
                    if ($loop['idc_method']==1){
                        echo 'Self Collect';
                    }else{
                        echo 'Courier';
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if ($loop['idc_method']==1){
                        echo '-';
                    }else {
                        $address = $loop['idc_address1'] . '<br/>';
                        $address .= ($loop['idc_address2'] == null || $loop['idc_address2'] == '') ? '' : $loop['idc_address2'] . '<br/>';
                        $address .= ($loop['idc_address3'] == null || $loop['idc_address2'] == '') ? '' : $loop['idc_address3'] . '<br/>';
                        $address .= $loop['idc_postcode'] . '<br/>';
                        $address .= $loop['idc_city'] == 99 ? $loop['idc_cityothers'] . '<br/>' : $loop['cityname'] . '<br/>';
                        $address .= $loop['idc_state'] == 99 ? $loop['idc_stateothers'] . '<br/>' : $loop['statename'] . '<br/>';
                        $address .= $loop['countryname'];

                        echo $address;
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if ($loop['idc_method']==1){
                        echo '-';
                    }else {
                        echo $loop['idc_trackingno'];
                    }
                    ?>
                </td>
                <td align="center">
                    <?php echo $loop['idc_status']==1 ? 'Yes':'No'; ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>
