<script type="text/javascript">
    function getProgramScheme(programId){

        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('ProgramScheme');
            },
            complete: function() {
                hideLoading('ProgramScheme');
            }
        })
            .done(function(data) {
                var content = '';
                $.each(data,function(index){
                    content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
                });
                $('#ProgramScheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function loadSemesterDropdown(programId){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'get-semester'),"default",true);?>/programId/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('Semester');
            },
            complete: function() {
                hideLoading('Semester');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'</option>';
                });
                $('#Semester').html(content);
            })
            .fail(function() {
                alert("error load semester drop down");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function trackingfield(id){
        if (document.getElementById('send'+id).checked) {
            //alert("checked");
            $('#tno'+id).removeAttr('disabled');
            $('#tno'+id).attr('required','');
        } else {
            $('#tno'+id).removeAttr('required');
            $('#tno'+id).attr('disabled','');
        }
    }

    function print(){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'id-collection', 'action'=>'export'),'default',true);?>";
        $('#serachform').attr('action',url);
        $('#serachform').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="print();" >
                    <span class='download'></span>
                    <?php echo $this->translate("Export");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="serachform" name="searchform">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->Program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester Intake'); ?></td>
                <td><?php echo $this->form->Intake; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Collection Method'); ?></td>
                <td><?php echo $this->form->Method; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->form->Status; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->Name; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->Studentid; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" name="search" id="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" name="clear" id="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<form method="post" id="lmform" name="lmform" action="<?php echo $this->url(array('module'=>'records','controller'=>'id-collection','action'=>'update-status'),'default',true);?>">
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Programme Scheme'); ?></th>
            <th><?php echo $this->translate('Collection Method'); ?></th>
            <th><?php echo $this->translate('Address'); ?></th>
            <th><?php echo $this->translate('Tracking No.'); ?></th>
            <th><?php echo $this->translate('Sent/Collected'); ?></th>
        </tr>
        <?php
        if ($this->list) {
            foreach ($this->list as $loop) {
                ?>
                <tr>
                    <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                    <td align="center"><?php echo $loop['registrationId']; ?></td>
                    <td align="center"><?php echo $loop['ProgramName']; ?></td>
                    <td align="center"><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
                    <td align="center">
                        <?php
                        if ($loop['idc_method']==1){
                            echo 'Self Collect';
                        }else{
                            echo 'Courier';
                        }
                        ?>
                    </td>
                    <td>
                        <?php
                        if ($loop['idc_method']==1){
                            echo '-';
                        }else {
                            $address = $loop['idc_address1'] . '<br/>';
                            $address .= ($loop['idc_address2'] == null || $loop['idc_address2'] == '') ? '' : $loop['idc_address2'] . '<br/>';
                            $address .= ($loop['idc_address3'] == null || $loop['idc_address2'] == '') ? '' : $loop['idc_address3'] . '<br/>';
                            $address .= $loop['idc_postcode'] . '<br/>';
                            $address .= $loop['idc_city'] == 99 ? $loop['idc_cityothers'] . '<br/>' : $loop['cityname'] . '<br/>';
                            $address .= $loop['idc_state'] == 99 ? $loop['idc_stateothers'] . '<br/>' : $loop['statename'] . '<br/>';
                            $address .= $loop['countryname'];

                            echo $address;
                        }
                        ?>
                    </td>
                    <td>
                        <?php
                        if ($loop['idc_method']==1){
                            echo '-';
                        }else {
                            if ($loop['idc_status']==1){
                                ?>
                                <textarea name="tno[<?php echo $loop['idc_id']; ?>]" id="tno<?php echo $loop['idc_id']; ?>"
                                       class="input-txt" placeholder="tracking no..."><?php echo $loop['idc_trackingno']; ?></textarea>
                                <?php
                            }else {
                                ?>
                                <textarea name="tno[<?php echo $loop['idc_id']; ?>]" id="tno<?php echo $loop['idc_id']; ?>"
                                       class="input-txt" placeholder="tracking no..." disabled=""></textarea>
                                <?php
                            }
                        }
                        ?>
                    </td>
                    <td align="center"><input type="checkbox" value="1" name="send[<?php echo $loop['idc_id']; ?>]" id="send<?php echo $loop['idc_id']; ?>" <?php echo $loop['idc_status']==1 ? 'checked="" disabled=""':''; ?> onchange="trackingfield(<?php echo $loop['idc_id']; ?>);"></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save"><?php echo $this->translate('Submit'); ?></button>
    </div>
</form>