<div class="message toolbar">
    <h2><?php echo $this->translate("Subject Grade");?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'viewsubgradetype', 'quaid'=>$this->quaid),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br />

<script>
    dojo.addOnLoad(function() {

        dijit.byId('qt_prog_type').set('value','');
        dijit.byId('qt_prog_type').set('placeHolder','<?php echo $this->translate('Select')?>');
    });

    var rowid=1;
    var subgradetyperows=1;
    var batchArray  = new Array();
    var subGradetypeArray  = new Array();
    var oldContent = "";
    var NoCnt	=	0;


    function getProgramSchemes(){
        var id_program = dijit.byId("qt_prog_type");

        if(id_program){

            var xhrArgs = {
                url: "/application/qualificationsetup/get-program-data/idProgram/"+id_program,
                handleAs:'json',
                load:function(data){

                    if(data){
                        console.log(data);
                        AutoFillNextEditableDropDown('qt_level',data);
                    }
                },
                error: function(error){

                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }


    function addSubjectentry() {
        var flag = true;

        var subject = dijit.byId('IdSubject');


        if(subject.value == "") {
            dijit.byId("IdSubject").attr('required','true');
            dijit.byId("IdSubject").focus();
            flag = false;
        }

        if(flag) {
            insertdetails();
        }
    }

    function insertdetails() {
        var subject = dijit.byId("IdSubject").value;
        var subjectname = dijit.byId("IdSubject").displayedValue;

        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);

        batchArray.push(subjectname);
        if(arrHasDupes(batchArray)) {
            alert("Duplicate Entry");
            batchArray = batchArray.unique();
            return false;
        }
        else {
            tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
            tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate("Delete"); ?></a>";
            rowid++;
        }
    }

    function deleteRow(r)
    {
        rowid--;

        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);

    }

    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for(var i = 0, n = this.length; i < n; i++)
        {
            for(var x = 0, y = r.length; x < y; x++)
            {
                if(r[x]==this[i])
                {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }


    function addSubGradetype(){

        flag = true;
        if($('#sg_grade').val()=='' || $('#sg_grade_desc').val()=='' || $('#sg_grade_point').val()==''){ //|| $('#sgt_qua_type').val()=='' || $('#rl_address').val()==''
            flag=false;
        }

        if(flag == true){
            var idrow  = $("#idRow").val();
            idrow = Math.abs(idrow)+1;
            addgradeTypeRow(idrow);
            $("#idRow").val(idrow);
        }else{
            alert('All Subject Grade Information fields are required');
        }
    }

    function addgradeTypeRow(idrow){

        var table = $('#subgradetypes tbody');
        var content = "<tr id='"+idrow+"'>" +
            "<td align='center' width='20%'><input type='hidden' value='"+$('#sg_grade').val()+"'  name=sg_grade[]>"+$('#sg_grade').val()+"</td>" +
            "<td align='center' width='30%'><input type='hidden' value='"+$('#sg_grade_desc').val()+"'    name=sg_grade_desc[]>"+$('#sg_grade_desc').val()+"</td>" +
            "<td align='center' width='20%'><input type='hidden' value='"+$('#sg_grade_point').val()+"'  name=sg_grade_point[]>"+$('#sg_grade_point').val()+"</td>" +
            "<td align='center' width='20%'><input type='hidden' value='"+$('#sg_mohe_code').val()+"'    name=sg_mohe_code[]>"+$('#sg_mohe_code').val()+"</td>" +
            "<td align='center' width='10%'><a href='#' onClick='deleteSubGradetypeRow("+idrow+"); return false;'>Delete</a></td>" +
            '</tr>';

        $(table).append(content);
    }

    function deleteSubGradetypeRow(x){
        var row = "#"+x;
        $(row).remove();
    }

    function deleteRowDB(r)
    {
        var dStat = confirm("Are you sure to delete the Subject Grade Detail?");
        if(dStat == true){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            // var makeArr = minPD+'_'+maxPD;
            //batchArray.splice(batchArray.indexOf(makeArr), 1);
            document.getElementById('hor').deleteRow(i);
        }

    }


</script>

<form dojoType="dijit.form.Form" id="myForm"
      action="<?php echo $this->baseUrl();?>/application/qualificationsetup/addsubgrade"
      method="post" name="myForm"><script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                }
				else {
                    return false;
                }
				</script>


    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Subject Grade");?></th>
        </tr>
        <tr>
            <td width="30%"><?php echo $this->translate("Grade");?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjSubGradeForm->sg_grade;?></td>
        </tr>
        <tr>
            <td width="30%"><?php echo $this->translate("Grade Description");?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjSubGradeForm->sg_grade_desc;?></td>
        </tr>
        <tr>
            <td width="30%"><?php echo $this->translate("Grade Point");?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjSubGradeForm->sg_grade_point;?></td>
        </tr>
        <tr>
            <td width="30%"><?php echo $this->translate("MOHE Code");?></td>
            <td><?php echo $this->lobjSubGradeForm->sg_mohe_code;?></td>
        </tr>
        <tr>
            <td width="30%"><?php echo $this->translate("Active");?></td>
            <td><?php echo $this->lobjSubGradeForm->Active;?>
                <?php echo $this->lobjSubGradeForm->UpdDate;?>
                <?php echo $this->lobjSubGradeForm->UpdUser;?>
                <input type="hidden" name="id" value="<?php echo $this->id; ?>" />
                <input type="hidden" name="quaid" value="<?php echo $this->quaid; ?>" />
            </td>
        </tr>
        <!-- <tr>
         <td><?php /*echo $this->translate("Qualification Type");*/?></td>
         <td><?php /*echo $this->lobjQualificationsetupForm->sgt_qua_type;*/?></td>
    </tr>-->

        <tr>
            <td colspan="4" align="right">
                <?php
                $this->lobjSubGradeForm->AddSub->setAttrib('OnClick', 'addSubGradetype()');
                echo $this->lobjSubGradeForm->AddSub;
                ?>
            </td>
        </tr>
    </table>
    <br>

    <h3><?php echo $this->translate("List of Subject Grade")?></h3>
    <table class="table" width="100%" id="subgradetypes">
        <thead>
        <tr>
            <th width="20%"><?php echo $this->translate("Grade")?></th>
            <th width="30%"><?php echo $this->translate("Grade Description")?></th>
            <th width="20%"><?php echo $this->translate("Grade Point")?></th>
            <th width="20%"><?php echo $this->translate("MOHE Code")?></th>
            <th width="10%"</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table class="table" width="100%"  id="hor">
        <?php if($this->sgresultDetails) {?>
            <?php
            foreach($this->sgresultDetails as $sgsetup) {?>
                <tr>
                    <td align='center' width="20%"><?php echo $this->escape($sgsetup['sg_grade']);?>
                        <input type="hidden" name="sg_grade[]" value="<?php echo $this->escape($sgsetup['sg_grade']);?>">
                    </td>
                    <td align='center' width="30%"><?php echo $this->escape($sgsetup['sg_grade_desc']);?>
                        <input type="hidden" name="sg_grade_desc[]" value="<?php echo $this->escape($sgsetup['sg_grade_desc']);?>">
                    </td>
                    <td align='center' width="20%"><?php echo $this->escape($sgsetup['sg_grade_point']);?>
                        <input type="hidden" name="sg_grade_point[]" value="<?php echo $this->escape($sgsetup['sg_grade_point']);?>">
                    </td>
                    <td align='center' width="20%"><?php echo $this->escape($sgsetup['sg_mohe_code']);?>
                        <input type="hidden" name="sg_mohe_code[]" value="<?php echo $this->escape($sgsetup['sg_mohe_code']);?>">
                    </td>


                    <td align='center' width="10%"><a href="javascript:void(0);"
                                                      onClick="deleteRowDB(this,'<?php echo $this->escape($sgsetup['id']);?>');return false;"><?php echo $this->translate("Delete")?></a></td>

                </tr>

            <?php }
        } ?>
        <tr>
            <td colspan=5 align="center"><?php echo $this->lobjSubGradeForm->Save;?>
                <input type="button" class="NormalBtn" dojotype="dijit.form.Button"
                       label="<?php echo $this->translate("Back");?>"
                       onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" />
            </td>

        </tr>
    </table>

</form>
</fieldset>