<script>
    function getProgramSchemes(){
        var id_program = dijit.byId("qt_prog_type");

            if(id_program){

                var xhrArgs = {
                url: "/application/qualificationsetup/get-program-data/idProgram/"+id_program,
                handleAs:'json',
                load:function(data){

                if(data){
                    console.log(data);
                    AutoFillNextEditableDropDown('qt_level',data);
                    }
                },
                error: function(error){

                    }
                }
                dojo.xhrGet(xhrArgs);
            }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
            var options = {
            label:"name",
            identifier:"key",
            items:JSONText
            };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }

</script>

<div class="message toolbar">
    <h2>
        <?php echo  "Qualification"; ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<fieldset>
    <legend><?php echo $this->translate("Qualification Info"); ?></legend>
    <form dojoType="dijit.form.Form" id="myForm"
          action="<?php echo $this->baseUrl();?>/application/qualificationsetup/edit"
          method="post" name="myForm">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
        <table class="table" width="100%">


            <tr>

                <td width="30%"><?php echo $this->translate("Qualification Code");?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjEditQualification->qt_id;?></td>
            </tr>
            <tr>
                <td><?php echo "Qualification Name";?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjEditQualification->qt_eng_desc;?> <?php echo $this->lobjEditQualification->UpdDate;?>
                    <?php echo $this->lobjEditQualification->UpdUser;?></td>

            </tr>
            <tr>
                <td><?php echo $this->translate("Qualification (Malay)");?></td>
                <td><?php echo $this->lobjEditQualification->qt_mal_desc;?>

                    <input type="hidden" name="idqua" value="<?php echo $this->id; ?>" />
                </td>

            </tr>
           <!-- <tr>
                <td><?php /*echo $this->translate("Program Type");*/?></td>
                <td><?php /*echo $this->lobjEditQualification->qt_prog_type; */?></td>

            </tr>
            <tr>
                <td><?php /*echo $this->translate("Program Level");*/?></td>
                <td><?php /*echo $this->lobjEditQualification->qt_level; */?></td>

            </tr>-->
            <tr>
                <td><?php echo $this->translate("Minimum subject applied");?><span class="reqMark"></span></td>
                <td><?php echo $this->lobjEditQualification->qt_subj_min;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("MOHE code");?><span class="reqMark"></span></td>
                <td><?php echo $this->lobjEditQualification->qt_mohe_code;?></td>
            </tr>

            <tr>
                <td><?php echo $this->translate("Active");?></td>
                <td><?php echo $this->lobjEditQualification->Active;?></td>
            </tr>
            <tr>
                <th colspan="4"><?php echo $this->translate("Subject Grade Type");?>
                </th>
            </tr>


            <tr>
                <td><?php echo $this->translate("Subject Grade Type Code");?></td>
                <td><?php echo $this->lobjEditQualification->sgt_id;?></td>

            </tr>
            <tr>
                <td><?php echo $this->translate("Subject Grade Type Name");?></td>
                <td><?php echo $this->lobjEditQualification->sgt_desc;?></td>

            </tr>
            <tr>
                <td colspan="4" align="right"><?php echo $this->lobjEditQualification->Add;?>
                    <!--<?php echo $this->lobjEditQualification->Clear;?>-->
                </td>
            </tr>
        </table>
        <table class="table" width="100%"  id="hor">
            <tr>
                <th width="25%"><?php echo $this->translate("Subject Grade Code")?>
                </th>
                <th width="50%"><?php echo $this->translate("Subject Grade Type")?>
                </th>
                <th width="25%"><?php echo $this->translate("Delete"); ?></th>
            </tr>

            <?php if($this->sgtresultDetails) {?>
                <?php
                foreach($this->sgtresultDetails as $sgtsetup) {?>
                    <tr>
                        <td align='left' width="25%"><?php echo $this->escape($sgtsetup['sgt_id']);?>
                            <input type="hidden" name="sgt_id[]" value="<?php echo $this->escape($sgtsetup['sgt_id']);?>">
                        </td>
                        <td align='left' width="50%"><?php echo $this->escape($sgtsetup['sgt_desc']);?>
                            <input type="hidden" name="sgt_desc[]" value="<?php echo $this->escape($sgtsetup['sgt_desc']);?>">
                        </td>


                        <td align='center' width="25%"><a href="javascript:void(0);"
                                              onClick="deleteRowDB(this,'<?php echo $this->escape($sgtsetup['id']);?>');return false;"><?php echo $this->translate("Delete")?></a></td>

                    </tr>

                <?php }
            } ?>
        </table>
        <table class="table" width="100%">
            <tr>
                <td align="right">
                    <?php echo $this->lobjEditQualification->Save;?>
                </td>

            </tr>
        </table>
    </form>
</fieldset>



<script type="text/javascript">
    dojo.addOnLoad(function() {

        dijit.byId('sgt_id').set('value','');
        dijit.byId('sgt_desc').set('value','');
        //dijit.byId('sgt_id').set('placeHolder','<?php echo $this->translate('Select')?>');

    });



    function fnGetStaffList(IdStaff){
        if(IdStaff != "")
        {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstafflist/idStaff/"+IdStaff,
                handleAs:'json',
                load:function(data){
                    dijit.byId('FromDate').set('value',data['JoiningDate']);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }



    var rowid=1;
    var batchArray  = new Array();
    var oldContent = "";
    var NoCnt	=	0;


    function addSubjectentry() {
        var subject = dijit.byId('sgt_id');
        var subjectdesc = dijit.byId('sgt_desc');
        var flag = true;
        if(subject.value == "") {
            dijit.byId("sgt_id").attr('required','true');
            dijit.byId("sgt_id").focus();
            flag = false;
        }
        if(subjectdesc.value == "") {
            dijit.byId("sgt_desc").attr('required','true');
            dijit.byId("sgt_desc").focus();
            flag = false;
        }
        if(flag) {
            insertdetails();
        }
    }

    function insertdetails() {
        var subject = dijit.byId("sgt_id").value;
        var subjectname = dijit.byId("sgt_id").displayedValue;
        var subjectdesc = dijit.byId("sgt_desc").value;
        var subjectname2 = dijit.byId("sgt_desc").displayedValue;
        var trow=document.getElementById('hor').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        var tcol3=trow.insertCell(2);
        batchArray.push(subjectname);
        batchArray.push(subjectname2);
        console.log(batchArray);
        if(arrHasDupes(batchArray)) {
            alert("Duplicate Entry");
            batchArray = batchArray.unique();
            return false;
        }
        else {
            tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=sgt_id[]>"+subjectname;
            tcol2.innerHTML="<input type='hidden' value='"+subjectdesc+"' name=sgt_desc[]>"+subjectname2;
            tcol3.innerHTML="<div align='center'><a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate('Delete'); ?></a></div>";
            rowid++;
        }
    }

    function deleteRow(r)
    {
        rowid--;

        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);

    }

    function deleteRowDB(r)
    {
        var dStat = confirm("Are you sure to delete the Subject Grade Type Detail?");
        if(dStat == true){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            // var makeArr = minPD+'_'+maxPD;
            //batchArray.splice(batchArray.indexOf(makeArr), 1);
            document.getElementById('hor').deleteRow(i);
        }

    }

    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for(var i = 0, n = this.length; i < n; i++)
        {
            for(var x = 0, y = r.length; x < y; x++)
            {
                if(r[x]==this[i])
                {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }
</script>
