<div class="message toolbar">
	<h2><?php echo $this->translate("Edit Qualification Details");?></h2>
        <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br />

<script>
dojo.addOnLoad(function() {
	dijit.byId('IdSubject').set('value','');
	dijit.byId('IdSubject').set('placeHolder','Select');
});
var rowid= <?php echo count($this->mappings) + 1; ?>;

var subqualificationrows= <?php echo count($this->sub_qualifications) + 1; ?>;

var batchArray  = new Array();
var subQualificationsArray  = new Array();
var oldContent = "";
var NoCnt	=	0;
<?php foreach($this->mappings as $mapping) { ?>
	batchArray.push('<?php echo $mapping['SubjectName'].' - '.$mapping['SubjectCode']; ?>');
<?php } ?>


function addSubjectentry() {
	var flag = true;
	var subject = dijit.byId('IdSubject');

	if(subject.value == "") {
		dijit.byId("IdSubject").attr('required','true');
		dijit.byId("IdSubject").focus();
		flag = false;
	}

	if(flag) {
		insertdetails();
	}
}

function insertdetails() {
	var subject = dijit.byId("IdSubject").value;
	var subjectname = dijit.byId("IdSubject").displayedValue;	

	var trow=document.getElementById('hor').insertRow(rowid);
	var tcol1=trow.insertCell(0);
	var tcol2=trow.insertCell(1);

  batchArray.push(subjectname);
  if(arrHasDupes(batchArray)) {
	  alert("Duplicate Entry");
	  batchArray = batchArray.unique();
	  return false;
  }
  else {
		tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
		tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate("Delete"); ?></a>";
		rowid++;
  }
}

function deleteRow(r)
{
	rowid--;
	
	var i=r.parentNode.parentNode.rowIndex;
	batchArray.splice(parseInt(i-1),1);
	document.getElementById('hor').deleteRow(i);
	
}

function addSubQualification() {
	var flag = true;
	var sub_qualification = dijit.byId('sub_qualification');

	if(sub_qualification.value == "") {
		dijit.byId("sub_qualification").attr('required','true');
		dijit.byId("sub_qualification").focus();
		flag = false;
	}

	if(flag) {
		insertsubqualification();
	}
}

function insertsubqualification() {
	var sub_qualification = dijit.byId("sub_qualification").value;

	var trow=document.getElementById('subqualifications').insertRow(subqualificationrows);
	var tcol1=trow.insertCell(0);
	var tcol2=trow.insertCell(1);

  subQualificationsArray.push(sub_qualification);
  if(arrHasDupes(subQualificationsArray)) {
	  alert("Duplicate Entry");
	  subQualificationsArray = subQualificationsArray.unique();
	  return false;
  }
  else {
		tcol1.innerHTML="<input type='hidden' value='"+ sub_qualification +"' name='sub_qualifications[]' >" + sub_qualification;
		tcol2.innerHTML="<a href='#' onClick='deleteSubqualification(this); return false;'><?php echo $this->translate("Delete"); ?></a>";
		subqualificationrows++;
  }
}

function deleteSubQualification(r)
{
	subqualificationrows--;
	
	var i= r.parentNode.parentNode.rowIndex;
	subQualificationsArray.splice(parseInt(i-1),1);
	document.getElementById('subqualifications').deleteRow(i);
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

</script>

<form dojoType="dijit.form.Form" id="myForm" action="" method="post"
	name="myForm">
	<script type="dojo/method" event="onSubmit">
	    if (this.validate()) {
			return true;
	    } 
		else {
	        return false;
	    }
	</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Qualification Details");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Qualification Level");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjQualificationsetupForm->QualificationLevel;?>
		<?php echo $this->lobjQualificationsetupForm->UpdDate;?> <?php echo $this->lobjQualificationsetupForm->UpdUser;?>
		<?php echo $this->lobjQualificationsetupForm->IdQualification;?></td>
		<td><?php echo $this->translate("Rank");?><span class="reqMark"></span></td>
		<td><?php echo $this->lobjQualificationsetupForm->QualificationRank;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Qualification Type");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qualification_type_id; ?></td>
		<td><?php echo $this->translate("Active");?></td>
		<td><?php echo $this->lobjQualificationsetupForm->Active;?></td>
	</tr>
        <tr>
            <td><?php echo $this->translate("Qualification Level Malay");?></td>
            <td><?php echo $this->lobjQualificationsetupForm->QualificationLevelMalay;?></td>
            <td></td>
            <td></td>
        </tr>
</table>
<?php if(0) { ?>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate(" Subject Details");?></th>
	</tr>
	<tr>
		<td width="20%"><?php echo "Subject";?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjQualificationsetupForm->IdSubject;?></td>
	</tr>
	<tr>
		<td colspan="4" align="right"><?php echo $this->lobjQualificationsetupForm->Add;?><?php echo $this->lobjQualificationsetupForm->Clear;?>
		</td>
	</tr>
</table>
<table class="table" width="100%" id="hor">
	<tr>
		<th><?php echo $this->translate("Subject Name")?></th>
		<th><?php echo $this->translate("Delete"); ?></th>
	</tr>
	<?php foreach($this->mappings as $mapping) { ?>
	<tr>
		<td><?php echo $mapping['SubjectName'] ?><input type="hidden" name="IdSubject[]" value="<?php echo $mapping['IdSubject']; ?>" /></td>
		<td><a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate("Delete"); ?></a></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>

<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Sub Qualifications");?></th>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Sub Qualification");?><!--<span class="reqMark">*</span>--></td>
		<td><?php echo $this->lobjQualificationsetupForm->sub_qualification;?></td>
	</tr>
	<tr>
		<td colspan="4" align="right">
			<?php 
				$this->lobjQualificationsetupForm->AddSub->setAttrib('OnClick', 'addSubQualification()');
				echo $this->lobjQualificationsetupForm->AddSub; 
				echo $this->lobjQualificationsetupForm->ClearSub;
			?>
		</td>
	</tr>
</table>
<table class="table" width="100%" id="subqualifications">
	<tr>
		<th><?php echo $this->translate("Sub Qualifications")?></th>
		<th><?php echo $this->translate("Delete"); ?></th>
	</tr>
	<?php foreach($this->sub_qualifications as $sub_qualification) { ?>
	<tr>
		<td><?php echo $sub_qualification['name']; ?><input type="hidden" name="sub_qualifications[]" value="<?php echo $sub_qualification['name']; ?>" /></td>
		<td><a href='#' onClick='deleteSubQualification(this); return false;'><?php echo $this->translate("Delete"); ?></a></td>
	</tr>
	<?php } ?>
</table>

<table class="table" width="100%">
	<tr>
		<td colspan=4 align="right"><?php echo $this->lobjQualificationsetupForm->Save;?>
		<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" />
		</td>

	</tr>
</table>
</form>
</fieldset>
