<script type="text/javascript">
    function addQualification(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'newqualification'),'default',true);?>";
    }
    
    function editQualification(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any checklist first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'editqualification'));?>/id/"+id;
        }
    }
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate("Qualification");?></h2>
        <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
		<a href="#" onclick="javascript:addQualification()">
		<span class='add'></span>
		<?php echo $this->translate("Add");?>
		</a>
            </li>
            <!--<li>
		<a href="#" onclick="editQualification()">
		<span class='edit'></span>
		<?php echo $this->translate("Edit");?>
		</a>
            </li>-->
            <!--<li>
		<a href="#" onclick="javascript:delChecklist()">
		<span class='delete'></span>
		<?php //echo $this->translate("Delete");?>
		</a>
            </li>-->
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br />

<div class="breadcrum">
    <ul class="tri-steps">
        <li class="empty">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'highschool-subject', 'action' => 'index'), 'default', true); ?>"><?php echo "Subject"; ?></a>
            </div>
        </li>
        <li class="prevDone">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'application', 'controller' => 'specialization', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Specialization"); ?></a>
            </div>
        </li>
        <li class="lastCurrent">
            <div class="text"><a
                        href="<?php echo $this->url(array('module' => 'application', 'controller' => 'qualificationsetup', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Qualification"); ?></a>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<br>

<?php if(isset($this->noticeMessage)){?>
    <div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
    <div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeError)){?>
    <div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
    <br />
<?php }?>
<br>
<!--<fieldset>
    <legend>Search</legend>
    <?php /*echo $this->searchForm; */?>
</fieldset>-->
    <fieldset>
		<legend><?php echo $this->translate("Qualification Search");?></legend>

	<form action="<?php echo $this->baseUrl();?>/application/qualificationsetup/index/search/1" method="POST">
            <dl class="zend_form">
                <dt><?php echo $this->translate("Qualification Name");?></dt>
                <dd><?php echo $this->lobjform->field3;?></dd>
                <dt><?php echo $this->translate("Qualification Code");?></dt>
                <dd><?php echo $this->lobjform->field2;?></dd>
                <dd colspan="4" align="center">
                    <?php echo $this->lobjform->Search;?>
                    <?php echo $this->lobjform->Clear;?>
                </dd>
            </dl>
	</form>	
	</fieldset>
	<br/>
<h3><?php echo $this->translate('Qualification') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>
<?php
echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
                        <!--<th width="25px">&nbsp;</th>-->
	        	<th><?php echo $this->translate("Qualification Code");?></th>
	        	<th><?php echo $this->translate("Qualification Description");?></th>
	        	<th></th>
	    	</tr>
	    	 <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjQualificationsetup): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<!--<td align="center">
                            <input type="radio" name="id" value="<?php //echo $lobjQualificationsetup['IdQualification'];?>" />
                        </td>-->
                <td><?php print_r($this->escape($lobjQualificationsetup['qt_id']));?></td>
                <td><a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/detail/id/<?php echo $this->escape($lobjQualificationsetup['id']);?>" ><?php print_r($this->escape($lobjQualificationsetup['qt_eng_desc']));?></a></td>
                <td width="20%" class="options center"><a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/edit/id/<?php echo $this->escape($lobjQualificationsetup['id']);?>" >Edit</a>
                    | <a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/viewsubgradetype/quaid/<?php echo $this->escape($lobjQualificationsetup['id']);?>" >Subject Grade Type</a></td>

<!--	        	<td>-->
<!--	        	<a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/deletequalification/id/<?php echo $this->escape($lobjQualificationsetup['qt_eng_desc']);?>"" onClick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'deletequalification'),'default',true);?>';"> -->
<!--	        	<img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'>-->
<!--	        	</a>-->
<!--	        	</td>-->
                        </tr>
	        <?php endforeach; ?>
	            <?php endif; ?> 
			<!--<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    //'/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>-->
	    </table>
            <div class="pagination">
            <?php 
                echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
            ?>
            </div>
	</fieldset>