<div class="message toolbar">
	<h2><?php echo $this->translate("Qualification");?></h2>
        <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br />

<script>
dojo.addOnLoad(function() {

    dijit.byId('qt_prog_type').set('value','');
    dijit.byId('qt_prog_type').set('placeHolder','<?php echo $this->translate('Select')?>');
});

var rowid=1;
var subgradetyperows=1;
var batchArray  = new Array();
var subGradetypeArray  = new Array();
var oldContent = "";
var NoCnt	=	0;


function getProgramSchemes(){
    var id_program = dijit.byId("qt_prog_type");

    if(id_program){

        var xhrArgs = {
            url: "/application/qualificationsetup/get-program-data/idProgram/"+id_program,
            handleAs:'json',
            load:function(data){

                if(data){
                    console.log(data);
                    AutoFillNextEditableDropDown('qt_level',data);
                }
            },
            error: function(error){

            }
        }
        dojo.xhrGet(xhrArgs);
    }
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    dijit.byId(EditableDropDownId).setValue("");
    var ddwidget = dijit.byId(EditableDropDownId);
    ddwidget.setAttribute('disabled', false);
    var options = {
        label:"name",
        identifier:"key",
        items:JSONText
    };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function addSubjectentry() {
    var flag = true;

    var subject = dijit.byId('IdSubject');


	if(subject.value == "") {
		dijit.byId("IdSubject").attr('required','true');
		dijit.byId("IdSubject").focus();
		flag = false;
	}
    
	if(flag) {
		insertdetails();
	}
}

function insertdetails() {
	var subject = dijit.byId("IdSubject").value;
	var subjectname = dijit.byId("IdSubject").displayedValue;

	var trow=document.getElementById('hor').insertRow(rowid);
	var tcol1=trow.insertCell(0);
	var tcol2=trow.insertCell(1);

    batchArray.push(subjectname);
    if(arrHasDupes(batchArray)) {
        alert("Duplicate Entry");
        batchArray = batchArray.unique();
        return false;
    }
    else {
        tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
        tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><?php echo $this->translate("Delete"); ?></a>";
        rowid++;
    }
}

function deleteRow(r)
{
	rowid--;
	
	var i=r.parentNode.parentNode.rowIndex;
	batchArray.splice(parseInt(i-1),1);
	document.getElementById('hor').deleteRow(i);
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}


function addSubGradetype(){

    flag = true;
    if($('#sgt_id').val()=='' || $('#sgt_desc').val()=='' ){ //|| $('#sgt_qua_type').val()=='' || $('#rl_address').val()==''
        flag=false;
    }

    if(flag == true){
        var idrow  = $("#idRow").val();
        idrow = Math.abs(idrow)+1;
        addgradeTypeRow(idrow);
        $("#idRow").val(idrow);
    }else{
        alert('All Subject Grade Type Information fields are required');
    }
}

function addgradeTypeRow(idrow){

    var table = $('#subgradetypes tbody');
    var content = "<tr id='"+idrow+"'>" +
        "<td align='center'><input type='hidden' value='"+$('#sgt_id').val()+"'  name=sgt_id[]>"+$('#sgt_id').val()+"</td>" +
        "<td align='center'><input type='hidden' value='"+$('#sgt_desc').val()+"'    name=sgt_desc[]>"+$('#sgt_desc').val()+"</td>" +
        /*"<td align='center'><input type='hidden'  value='"+dijit.byId("sgt_qua_type")+"'    name=sgt_qua_type[]>"+$('#sgt_qua_type').val()+"</td>" +
        "<td align='center'><input type='hidden' value='"+$('#rl_address').val()+"' name=rladdress[]>"+$('#rl_address').val()+"</td>" +*/
        "<td align='center'><a href='#' onClick='deleteSubGradetypeRow("+idrow+"); return false;'>Delete</a></td>" +
        '</tr>';

    $(table).append(content);
}

function deleteSubGradetypeRow(x){
    var row = "#"+x;
    $(row).remove();
}


</script>

<form dojoType="dijit.form.Form" id="myForm"
	action="<?php echo $this->baseUrl();?>/application/qualificationsetup/newqualification"
	method="post" name="myForm"><script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } 
				else {
                    return false;
                }
				</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Qualification Details");?></th>
	</tr>
    <tr>
        <td width="30%"><?php echo $this->translate("Qualification Code");?><span
                    class="reqMark">*</span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_id;?></td>

    </tr>
    <tr>
        <td><?php echo $this->translate("Qualification Name");?><span
                    class="reqMark">*</span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_eng_desc;?><?php echo $this->lobjQualificationsetupForm->UpdDate;?>
            <?php echo $this->lobjQualificationsetupForm->UpdUser;?></td>

    </tr>
	<tr>
		<td><?php echo $this->translate("Qualification (Malay)");?></td>
		<td><?php echo $this->lobjQualificationsetupForm->qt_mal_desc;?><?php echo $this->lobjQualificationsetupForm->UpdDate;?>
		<?php echo $this->lobjQualificationsetupForm->UpdUser;?></td>

	</tr>

	<tr>
        <td><?php echo $this->translate("Program Type");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_prog_type; ?></td>

	</tr>
    <tr>
        <td><?php echo $this->translate("Program Level");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_level; ?></td>

    </tr>
    <tr>
        <td><?php echo $this->translate("Minimum subject applied");?><span class="reqMark"></span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_subj_min;?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate("MOHE code");?><span class="reqMark"></span></td>
        <td><?php echo $this->lobjQualificationsetupForm->qt_mohe_code;?></td>
    </tr>


    <tr>
        <td><?php echo $this->translate("Active");?></td>
        <td><?php echo $this->lobjQualificationsetupForm->Active;?></td>
    </tr>


	</table>


    <table class="table" width="100%">
    <tr>
        <th colspan="4"><?php echo $this->translate("Subject Grade Type");?></th>
    </tr>
    <tr>
        <td width="30%"><?php echo "Subject Grade Type Code";?></td>
        <td><?php echo $this->lobjQualificationsetupForm->sgt_id;?></td>
    </tr>
    <tr>
        <td width="30%"><?php echo "Subject Grade Type Name";?></td>
        <td><?php echo $this->lobjQualificationsetupForm->sgt_desc;?></td>
    </tr>
   <!-- <tr>
         <td><?php /*echo $this->translate("Qualification Type");*/?></td>
         <td><?php /*echo $this->lobjQualificationsetupForm->sgt_qua_type;*/?></td>
    </tr>-->

    <tr>
        <td colspan="4" align="right">
            <?php 
                $this->lobjQualificationsetupForm->AddSub->setAttrib('OnClick', 'addSubGradetype()');
                echo $this->lobjQualificationsetupForm->AddSub; 
            ?>
        </td>
    </tr>
    </table>
    <br>

    <h3><?php echo $this->translate("List of Subject Grade Type")?></h3>
    <table class="table" width="100%" id="subgradetypes">
        <thead>
        <tr>
            <th><?php echo $this->translate("Subject Grade Type Code")?></th>
            <th><?php echo $this->translate("Subject Grade Type Name")?></th>
           <!-- <th><?php /*echo $this->translate("Qualification Type")*/?></th>-->
            <!--<th><?php /*echo $this->translate("Address")*/?></th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br></br>

	<table class="table" width="100%">
	<tr>
		<td colspan=4 align="center"><?php echo $this->lobjQualificationsetupForm->Save;?>
		<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back");?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" />
		</td>

	</tr>
</table>

</form>
</fieldset>