<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>

            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'edit','id'=>$this->id),'default',true);?>';">
                    <span class='add'></span>
                    <?php echo $this->translate("Add");?>
                </a>
            </li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Qualification Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Qualification Code").' : '.$this->quaInfo['qt_id'] ?></li>
        <li><?php echo $this->translate("Qualification Name").' : '.$this->quaInfo['qt_eng_desc'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
    <legend><?php echo $this->translate("Subject Grade Type List")?></legend>
    <table class="table" width="100%" id="subgradetypeList">
        <thead>
        <tr>
            <th><?php echo $this->translate("Subject Grade Code")?></th>
            <th><?php echo $this->translate("Subject Grade Description")?></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($this->sgtInfo as $sgt){?>
            <tr>
                <td align='center'><?php echo $sgt['sgt_id'];?></td>
                <td align='center'><?php echo $sgt['sgt_desc'];?></td>
                <td align='center' class="options">
                    <a href="<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'addsubgrade','quaid'=>$this->quaInfo['id'],'id'=>$sgt['id']),'default',true);?>" ><?php echo $this->translate("Subject Grade")?></a>

                    <!--<a onclick="return sure('<?php echo $this->translate('Are you sure you want to delete?')?>')" href="<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'delete-subgradetype','id'=>$sgt['id']),'default',true);?>" ><?php echo $this->translate("Delete")?></a></td>-->
            </tr>
        <?php } ?>
        </tbody>
    </table>
</fieldset>