<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'item-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width='2%'></th>
		<th width='45%'><?php echo $this->translate("Item Name");?></th>
		<th><?php echo $this->translate("Description");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data):
	$i++;
	?>
	<tr>
		<td align='center'><?php echo $i ?>.</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'item-edit', 'id'=>$data['cid']),'default',true);?>">
			<?php echo $data['name'] ?>
			</a>
		</td>
		<td align='center'><?php echo $data['description']; ?></td>
	</tr>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No evaluation items created yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>