<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'set'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />
<fieldset>
	<legend><?php echo $this->translate('Info')?></legend>
	<p><strong><?php echo $this->translate('Set Name')?></strong> <?php echo $this->info['name']?></p>
	<?php if ( $this->info['description'] != '' ) { ?><p><strong><?php echo $this->translate('Description')?></strong> <?php echo $this->info['description']?></p><?php } ?>
</fieldset>
<br />

<form method="post" id="form_topic" onsubmit="return checkForm()">

<?php if ( $this->info['evaluation_type'] == 0 ) { ?>
<div class="opt">
	<button onclick="addGroup();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Section')?></button> 
</div>

<table width="100%" class="table vcenter" id="datatable">
	<tr>
		<th width="50"><?php echo $this->translate('No.')?></td>
		<th width="40%"><?php echo $this->translate('Criteria')?></th>
		<th width="10%"><?php echo $this->translate('Marks')?></th>
		<th width="40%"></th>
		<th width="10%"></th>
	</tr>
	<?php 
	$i=0;
	$ii=0;
	foreach ( $this->groups as $group ): $i++; ?>

	<tr class='grouprow' id='group-"<?php echo  $i ?>'>
		<td colspan="4" class="alt2"><strong class="upper"><?php echo $group['group_name']?></strong><input type="hidden" name="curgroup[<?php echo $i?>]" value="<?php echo $group['group_id']?>" /> </td>
		<td align="center">
			<a href='#' onclick='return addItem(this,<?php echo $i?>);'><span class='icon icon-list-add'></span> <?php echo $this->translate('Add Item')?></a>
		</td>
	</tr>
	<?php if ( !empty($this->items[$group['group_id']]) ) : ?>
	<?php foreach(  $this->items[$group['group_id']] as $item ) : $ii++; ?>
	<tr class='itemrow' id="itemrow-<?php echo $item['cid']?>">
		<td align='center'><?php echo $ii?>.</td>
		<td><input type='text' class='input-txt full' value='<?php echo $this->escape($item['name'])?>' name='cur_item[<?php echo $item['cid']?>][name]' /></td>
		<td align='center'><input type='text' class='input-txt small' value='<?php echo $this->escape($item['marks'])?>' name='cur_item[<?php echo $item['cid']?>][marks]' /></td>
		<td><input type='text' class='input-txt full' value='<?php echo $this->escape($item['description'])?>' name='cur_item[<?php echo $item['cid']?>][description]' /></td>
		<td align='center'><a href="#" onclick="return deleteItemRowAjax(<?php echo $item['cid']?>)"><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php endforeach; ?>
	<?php endif; ?>
	<?php endforeach; ?>
</table>
<?php } else { ?>

<table width="100%" class="table vcenter" id="datatable">
	<tr>
		<th width="50"><?php echo $this->translate('No.')?></td>
		<th width="40%"><?php echo $this->translate('Item')?></th>
		<th width="40%"><?php echo $this->translate('Description')?></th>
		<th width="10%"></th>
	</tr>
	<tr class='grouprow' id='group-0'>
		<td colspan="3" class="alt2"><strong class="upper"><?php echo $this->translate('Guided Report')?></strong><input type="hidden" name="curgroup[0]" value="0" /> </td>
		<td align="center">
			<a href='#' onclick='return addItemRating(this,0);'><span class='icon icon-list-add'></span> <?php echo $this->translate('Add Item')?></a>
		</td>
	</tr>
	<?php $ii=0; ?>
	<?php if ( isset($this->items[0]) ) { ?>
	<?php foreach(  $this->items[0] as $item ) : $ii++; ?>
	<tr class='itemrow' id="itemrow-<?php echo $item['cid']?>">
		<td align='center'><?php echo $ii?>.</td>
		<td><input type='text' class='input-txt full' value='<?php echo $this->escape($item['name'])?>' name='cur_item[<?php echo $item['cid']?>][name]' /></td>
		<td><input type='text' class='input-txt full' value='<?php echo $this->escape($item['description'])?>' name='cur_item[<?php echo $item['cid']?>][description]' /></td>
		<td align='center'><a href="#" onclick="return deleteItemRowAjax(<?php echo $item['cid']?>)"><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php endforeach; ?>
	<?php } ?>
</table>

<?php } ?>
<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'set'), 'default', true);?>'" />
</div>

</form>

<!-- group dialog -->
<div id="dialog-group" title="Add Section" style="display:none">
	<dl class="zend_form">
		<dt><?php echo $this->translate('Name')?></dt>
		<dd><input type="text" class="input-txt" value="" id="group_name" /></dd>
		<?php if ( $this->info['evaluation_type'] == 1 ) { ?>
		<dt><?php echo $this->translate('Description')?></dt>
		<dd><textarea id="group_description"></textarea></dd>
		<?php } ?>
	</dl>
</div>
<!-- /group dialog -->




<script type="text/javascript">
	function checkForm()
	{
		return true;
	}

	function addGroup()
	{	
		$("#dialog-group").dialog('open');
	}

	function addNewGroup()
	{
		var group_name = $( "#group_name" ).val();
		var description = $( "#group_description" ).val();
		var group_id = $(".grouprow").length + 1;
		
		var html  = "<tr class='grouprow' id='group-"+group_id+"'>"
                    +"<td colspan=\"4\" class='alt2'><strong class='upper'>"+group_name+"</strong><input type='hidden' name='group_name[]' value='"+group_name+"' /></td>"
					+"<td align='center'><a href='#' onclick='return addItem(this,"+group_id+");'><span class='icon icon-list-add'></span> <?php echo $this->translate('Add Item')?></a></td>"
                    +"</tr>";
		
        $("#datatable").append( html );
		
		$("#group_name").empty();
		$("#group_description").empty();
	}

	function addItem(what,group_id)
	{
		var html  = "<tr class='itemrow'>"
					+"<td align='center'>"+($('.itemrow').length+1)+".</td>"
                    +"<td><input type='text' class='input-txt full' value='' name='item_name["+group_id+"][]' /></td>"
					+"<td align='center'><input type='text' class='input-txt small' value='' name='item_marks["+group_id+"][]' /></td>"
					+"<td><input type='text' class='input-txt full' value='' name='item_desc["+group_id+"][]' /></td>"
                    +"<td align='center'><a href='#' onclick='return deleteItemRow(this)'><?php echo $this->translate('Delete')?></a></td>"
					+"</tr>";
		
        var parent = $(what).closest('tr').nextAll('.grouprow:first');
		if (parent.length == 0)
		{
			$("#datatable").append( html );
		}
		else
		{
			parent.before( html );
		}

		recountNo();
	}

	function recountNo()
	{
		var no = 1;
		$('.itemrow').each(function()
		{
			$(this).find('td:first').html(no+'.');
			no++;
		});
	}

	function addItemRating(what,group_id)
	{
		var html  = "<tr class='itemrow'>"
					+"<td align='center'>"+($('.itemrow').length+1)+".</td>"
                    +"<td><input type='text' class='input-txt full' value='' name='item_name["+group_id+"][]' />"
					+"<input type='hidden' value='' name='item_marks["+group_id+"][]' /></td>"
					+"<td><input type='text' class='input-txt full' value='' name='item_desc["+group_id+"][]' /></td>"
                    +"<td align='center'><a href='#' onclick='return deleteItemRow(this)'><?php echo $this->translate('Delete')?></a></td>"
                    
					+"</tr>";
		
		$("#datatable").append( html );
   }

	function deleteItemRow(what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}
		
		//remove row
		$(what).parent().parent().remove();

		return false;
	}
	
	function deleteItemRowAjax(id)
	{
		var ret = confirm("Are you sure to delete");
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-evalitem",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#itemrow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}

	$(function()
	{
		$( "#dialog-group" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					if ( $("#group_name").val() == '' )
					{
						alert('<?php echo $this->translate('Please enter a group name') ?>');
						return false;
					}
				

					//successful
					addNewGroup();

					$("#group_name").empty();
					$("#group_description").empty();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});
	});
</script>
<style type="text/css">
strong.upper { text-transform:uppercase; font-size:12px; }
.opt2 { float:right }
tr.alt2 { background:#fff !important; }
.input-txt.full { width:98% }
</style>