<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'set'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()">
<table width="100%" class="table vcenter">
	<tr>
		<td width="20%"><?php echo $this->translate('Name')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->name ?></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Course')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->subject_id ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->form->description ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Set Type')?></td>
		<td><?php echo $this->form->evaluation_type ?></td>
	</tr>
	<tr class="rating_row">
		<td><?php echo $this->translate('Minimum Rating Label')?></td>
		<td><?php echo $this->form->rating_min_label?></td>
	</tr>
	<tr class="rating_row">
		<td><?php echo $this->translate('Minimum Rating Value')?></td>
		<td><?php echo $this->form->rating_min?></td>
	</tr>
	<tr class="rating_row">
		<td><?php echo $this->translate('Maximum Rating Label')?></td>
		<td><?php echo $this->form->rating_max_label?></td>
	</tr>
	<tr class="rating_row">
		<td><?php echo $this->translate('Maximum Rating Value')?></td>
		<td><?php echo $this->form->rating_max?></td>
	</tr>
</table>

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'set'), 'default', true);?>'" />
</div>

</form>
<style type="text/css">
.rating_row { display:none }
</style>
<script type="text/javascript">
	$(function()
	{
		$("input[name=evaluation_type]").on('change', function()
		{
			toggleType();
		});

		toggleType();
	});
	
	function toggleType()
	{
		var type = $("input[name=evaluation_type]:checked").val();
		if ( type == 1 )
		{
			$(".rating_row").show();
		}
		else
		{
			$(".rating_row").hide();
		}
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		$(window).unbind('beforeunload');

		return true;
	}
</script>