<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'set-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width='40%'><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate('Course')?></th>
		<th><?php echo $this->translate('Evaluation Type')?></th>
		<th><?php echo $this->translate("Date Created");?></th>
		<th><?php echo $this->translate("Created By")?></th>
		<th></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'set-details', 'id'=>$data['id']),'default',true);?>">
			<?php echo $data['name'] ?>
			</a>
		</td>
		<td align='center'><?php echo $data['course_name']?></td>
		<td align='center'><?php echo $data['evaluation_type'] == 1 ? $this->translate('Rating') : $this->translate('Marks')?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td align='center'><?php echo $data['staff_name']?></td>
		<td class="options center">
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'set-details', 'id'=>$data['id']),'default',true);?>"><?php echo $this->translate('Set Details')?></a> |
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'set-edit', 'id'=>$data['id']),'default',true);?>"><?php echo $this->translate('Edit')?></a>
		</td>
	</tr>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No evaluation set created yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>