
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>

	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet-list','set_id'=>$this->set_id, 'student_id'=>$this->student_id), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />


<table width="100%" class="table">
	<tr>
		<td width="25%"><?php echo $this->translate('Student Name');?></td>
		<td><?php echo $this->info['student_name']?></td>
	</tr>
	<tr>
		<td width="25%"><?php echo $this->translate('Student ID');?></td>
		<td><?php echo $this->info['registrationId']?></td>
	</tr>
	<tr>
		<td width="25%"><?php echo $this->translate('Type');?></td>
		<td><?php echo strtoupper($this->info['research_type'])?></td>
	</tr>
</table>

<br />

<form method="post" name="form_sheet" id="form_sheet">
<?php if ( $this->info['evaluation_type'] == 1 ) { ?>
	

	<h3>INSTRUCTIONS</h3>
	<p>This Thesis Examiner's Report consists of four (4) sections:</p>

	<ol>
		<li>Section A:  Guided Report</li>
		<li>Section B:  Unguided Report</li>
		<li>Section C:  Other Comments</li>
		<li>Section D:  Recommendation</li>
	</ol>
	
	<br />

	<h3>Section A : Guided Report</h3>
	
	<table width="100%" class="table vcenter" id="datatable">
		<tr>
			<th width="2%"><?php echo $this->translate('No.')?></td>
			<th><?php echo $this->translate('Item')?></th>
		</tr>
		<?php $ii=0; ?>
		<?php if ( isset($this->items[0]) ) { ?>
		<?php foreach(  $this->items[0] as $item ) : $ii++; ?>
		<tr class='itemrow' id="itemrow-<?php echo $item['cid']?>">
			<td align='center'><?php echo $ii?>.</td>
			<td>
					<strong><?php echo $this->escape($item['name'])?>:</strong>
					<div class="rating-table">
					<table width="100%" class="borderless">
						<tr>
							<td><?php echo $this->info['rating_min_label']?></td>
							<td width="50%" align="center">
							<?php for($i=1;$i<=$this->info['rating_max'];$i++) { ?>
								<?php
								
								$checked = isset($this->data['item'][$item['cid']]) && $this->data['item'][$item['cid']] == $i ? 'checked="checked"':''; 
								?>
								<span class="rating" id="rating-<?php echo $item['cid']?>"><input <?php echo $checked?> name="item[<?php echo $item['cid']?>]" value="<?php echo $i?>" type="radio" id="rating-<?php echo $item['cid']?>-<?php echo $i?>"/> <label for="rating-<?php echo $item['cid']?>-<?php echo $i?>" ><?php echo $i ?></label></span>
							<?php } ?>
							</td>
							<td><?php echo $this->info['rating_max_label']?></td>
						</tr>
					</table>
					</div>
					<br />
					<?php echo $this->translate('Comments')?>: <br />
					<textarea class="textarea full" name="comments[<?php echo $item['cid']?>]" placeholder="<?php echo $item['description']?>"><?php echo isset($this->data['comments'][$item['cid']]) ? $this->data['comments'][$item['cid']] : ''?></textarea>
			</td>
			
			
		</tr>
		<?php endforeach; ?>
		<?php } ?>
	</table>

	<br /><br />

	<h3>Section B:  MAJOR REVISIONS REQUIRED (IF ANY)</h3>
	<div class="section">
		<textarea class="textarea full tall" name="section[2]"><?php echo isset($this->data['section'][2]) ? $this->data['section'][2] : ''?></textarea>
	</div>

	<br />
	
	<h3>Section C:  OTHER COMMENTS (IF ANY)</h3>
	<div class="section">
		<textarea class="textarea full tall" name="section[3]"><?php echo isset($this->data['section'][3]) ? $this->data['section'][3] : ''?></textarea>
	</div>

	<br />

	<h3>Section D: RECOMMENDATION</h3>
	<p>Please indicate your summary recommendation by checking against the appropriate paragraph:  </p>

	<div class="section">
		<table width="100%" class="table">
			<tr>
				<td><strong>Pass</strong></td>
				<td>The candidate should be awarded the Doctor of Philosophy based in the thesis as is.</td>
				<td align="center">
					<input type="radio" name="recommendation" value="1" <?php echo isset($this->data['recommendation']) && $this->data['recommendation']==1 ? 'checked="checked"' : ''?>/>
				</td>
			</tr>
			<tr>
				<td><strong>Pass (with minor corrections)</strong></td>
				<td>The candidate is awarded a Doctor of Philosophy subject to changes/corrections to the thesis as listed in the Panel of Examiner's report.</td>
				<td align="center">
					<input type="radio" name="recommendation" value="2" <?php echo isset($this->data['recommendation']) && $this->data['recommendation']==2 ? 'checked="checked"' : ''?>/>
				</td>
			</tr>
			<tr>
				<td><strong>Pass (with major corrections)</strong></td>
				<td>The candidate is required to undertake major correction(s) as recommended by the examiner.</td>
				<td align="center">
					<input type="radio" name="recommendation" value="3" <?php echo isset($this->data['recommendation']) && $this->data['recommendation']==3 ? 'checked="checked"' : ''?> />
				</td>
			</tr>
			<tr>
				<td><strong>Re-examination</strong></td>
				<td>The candidate is required to re-submit the thesis for re-examination after the candidate has made changes/corrections to the thesis as listed in the Panel of Examiners report.The thesis must be re-examined in full.  (A thesis that requires changes in methodology or any other change that can cause a change in results must  fall in this category.</td>
				<td align="center">
					<input type="radio" name="recommendation" value="4" <?php echo isset($this->data['recommendation']) && $this->data['recommendation']==4 ? 'checked="checked"' : ''?> />
				</td>
			</tr>
			<tr>
				<td><strong>Fail</strong></td>
				<td>The candidate is not awarded a Doctor of Philosophy and is not allowed to re-submit his/her thesis</td>
				<td align="center">
					<input type="radio" name="recommendation" value="5" <?php echo isset($this->data['recommendation']) && $this->data['recommendation']==5 ? 'checked="checked"' : ''?>/>
				</td>
			</tr>
		</table>
	</div>


<?php } else { ?>
<table width="100%" class="table vcenter" id="datatable">
	<tr>
		<th width="50"><?php echo $this->translate('No.')?></td>
		<th width="40%"><?php echo $this->translate('Criteria')?></th>
		<th width="10%" class='center'><?php echo $this->translate('Actual')?></th>
		<th width="10%" class='center'><?php echo $this->translate('Maximum')?></th>
		<th width="40%"></th>
	</tr>
	<?php 
	$i=0;
	$ii=0;
	$grand_total = 0;
	$totalentered = 0;

	foreach ( $this->groups as $group ): $i++; ?>
	<?php $totalgroupmarks = 0; ?>
	<?php $subtotal = 0; ?>

	<tr class='grouprow' id='group-"<?php echo  $i ?>'>
		<td colspan="5" class="alt2"><strong class="upper"><?php echo $group['group_name']?></strong><input type="hidden" name="curgroup[<?php echo $i?>]" value="<?php echo $group['group_id']?>" /> </td>

	</tr>
	<?php if ( !empty($this->items[$group['group_id']]) ) : ?>
	<?php foreach(  $this->items[$group['group_id']] as $item ) : $ii++; ?>
	<?php $totalgroupmarks += $item['marks'];  $grand_total += $item['marks']; ?>
	<?php
		if (  isset($this->data[$item['cid']]['marks']) )
		{
			$subtotal += $this->data[$item['cid']]['marks']; 
			$totalentered += $this->data[$item['cid']]['marks']; 
		}
	?>
	<tr class='itemrow' id="itemrow-<?php echo $item['cid']?>">
		<td align='center'><?php echo $ii?>.</td>
		<td><?php echo $this->escape($item['name'])?></td>
		<td align='center'><input type='text' class='input-txt small marks' data-max="<?php echo $item['marks']?>" value='<?php echo isset($this->data[$item['cid']]['marks']) ? $this->data[$item['cid']]['marks'] : '' ?>' name='cur_item[<?php echo $item['cid']?>][marks]' /></td>
		<td align='center'><?php echo $this->escape($item['marks'])?></td>
		<td><?php echo $this->escape($item['description'])?></td>
	</tr>
	<?php endforeach; ?>
	<tr class='subtotal'>
		<td></td>
		<td><strong>Sub-Total</strong></td>
		<td align='center'><strong><?php echo $subtotal ?></strong></td>
		<td align='center'><strong><?php echo $totalgroupmarks ?></strong></td>
		<td></td>
	</tr>
	<?php endif; ?>
	<?php endforeach; ?>
	<tr class='total'>
		<td></td>
		<td><strong>Totalmarks</strong></td>
		<td align='center'><strong><?php echo $totalentered ?></strong></td>
		<td align='center'><strong><?php echo $grand_total ?></strong></td>
		<td></td>
	</tr>
</table>
<?php } ?>

<div class="form-opt">
	<input type="submit" class="btn-submit" value="<?php echo $this->translate('Update')?>" name="submit" />
</div>
</form>

<style type="text/css">
.input-txt.full  { width:98% }
.input-txt.small { width:45px; text-align:center; position:relative; }
.table th.center { text-align:center !important }
.table td { background:#fff !important }
.table tr.grouprow td { background-color:#f8f8f8 !important; }
.table tr.total td { background-color:#e9e9e9 !important }
.table tr.subtotal td { background-color:#f4f4f4 !important }

ol { margin:10px 0 10px 20px; }
#content h3 { font-weight:700 }
table td input[type=radio] { vertical-align:top }
.rating-table { width:600px; margin:0 auto }
.textarea.full { width:98% }
.textarea.tall { height:400px; }

input.invalid
{
	animation:invalid .5s;
	-webkit-animation:invalid .5s;
	box-shadow:0 0 5px 1px #f43841;
}

@keyframes invalid
{
0%   {left:8px;}
10%  {left:-8px;}
30%  {left:8px;}
60%  {left:-8px;}
100% {left:0px;}
}

@-webkit-keyframes invalid /* Safari and Chrome */
{
0%   {left:8px;}
10%  {left:-8px;}
30%  {left:8px;}
60%  {left:-8px;}
100% {left:0px;}
}

</style>

<script type="text/javascript">
$(function()
{
	//$("input[type=text]").prop('disabled', true);
});


	$(function(){
		$('.marks').on('change', function(){
			var max = parseInt( $(this).data('max') );
			var val = parseInt( $(this).val() );
			var error = 0;

			if ( isNaN(val) )
			{
				alert('Only numbers are allowed for marks');
				error = 1;
			}
			else
			{
				if ( val > max )
				{
					error = 1;
					alert('Marks must not the more than the maximum allowed value');
				}
			}

			if ( error == 1)
			{
				$(this).val('');
				$(this).focus();
				$(this).addClass('invalid');
			}

			var what = $(this);

			setTimeout(function(){
				what.removeClass('invalid');
			},1000);
		});
	});

</script>
