<div class="breadcrum">
	<ul class="tri-steps">
		<?php if ( $this->type == 'proposal') { ?>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } elseif ( $this->type == 'articleship' ) { ?>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } elseif ( $this->type == 'exemption') { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } ?>
	</ul>
	<div class="clear"></div>
</div>


<br /><br />

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'articleship'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Student");?></th>
		<th><?php echo $this->translate("Student ID")?></th>
		<th><?php echo $this->translate("Examiners")?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'sheet-list', 'set_id'=>$data['set_id'],'student_id'=>$data['student_id']),'default',true);?>">
				<?php echo $data['student_name']; ?>
			</a>
		</td>
		<td align='center'><?php echo $data['registrationId']?></td>
		<td>
			<ol>
			<?php
			$examiners = Thesis_Model_DbTable_Registration::getExaminers($data['research_id'], $data['research_type']);

			foreach ( $examiners as $exm ){
				echo '<li>'.($exm['internal_fullname'] != '' ? $exm['internal_fullname'] : $exm['supervisor_name']).'</li>';
			}
			?>
			</ol>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No evaluation sheet found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

</form>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one articleship to approve/reject');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}
	
	return true;
}

$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>