<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet-add','research_id' => $this->results[0]['research_id'], 'type' => $this->results[0]['research_type'], 'student_id' => $this->results[0]['student_id']), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation','action'=>'sheet'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br />
<?php 	if ( count($this->results) > 0 ): ?>
<table width="100%" class="table">
	<tr>
		<td class="alt">Student Name:</td>
		<td><?php echo $this->results[0]['student_name']; ?></td>
	</tr>
	<tr>
		<td class="alt">Student ID:</td>
		<td><?php echo $this->results[0]['registrationId']; ?></td>
	</tr>
	<tr>
		<td class="alt">Sheet:</td>
		<td><?php echo $this->results[0]['set_name']; ?></td>
	</tr>
</table>

<br />
<?php endif; ?>

<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>	
		<th width="1%"></th>
		<th><?php echo $this->translate("Examiner")?></th>
		<th><?php echo $this->translate("Date Submitted")?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->results) > 0 ):
	foreach ($this->results as $data): 
	$i++;
	?>
	<tr>
		<td><?php echo $i?>.</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'evaluation', 'action'=>'sheet-view', 'id'=>$data['id'],'set_id' => $this->set_id, 'student_id' => $this->student_id),'default',true);?>">
				<?php echo $data['internal_fullname'] != '' ? $data['internal_fullname'] : $data['supervisor_name'];?>
			</a>
		</td>
		<td align='center'><?php echo $data['updated_date'] != '' ? format_date($data['updated_date']) : format_date($data['created_date'])?></td>
	</tr>
	<?php 
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="3"><?php echo $this->translate('No evaluation sheet found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

</form>

<script type="text/javascript">
$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>