<script type="text/javascript">
dojo.addOnLoad(function(){
	$("input#field1").focus();		
	});

</script>
<body>
<div id="searchDiv">
	<fieldset>
	<legend><?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Type").' '.$this->translate->_("Search");?></legend>
		<div class="search" style="margin-left:20px;">
			<form action="<?php echo $this->baseUrl();?>/records/disciplinaryactionmaster/index/search/1" method="POST">
				<table width="100%">
					<tr>
						<td>&nbsp;</td>
						<td align="center" class="label" style="padding-right:0px;width:250px"><?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Type");?></td>
						<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjSearchForm->field1;?></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td align = "center" colspan = "4">
						<div style="margin-left:-95px">
							
								
									<?php echo $this->lobjSearchForm->Search;?>
							
							
							        <?php echo $this->lobjSearchForm->Clear;?>
							
								
									<!-- <a href="<?php echo $this->baseUrl();?>/disciplinaryactionmaster/newdisciplinaryactionmaster" rel="lyteframe" rev="width: 840px; height: 360px; scrolling:no">
										<?php //echo $this->lobjSearchForm->Add;?>
									</a>-->
							
						
							</div>
						</td>
					</tr>
				</table>
			</form>	
		</div>
	</fieldset> 
	<br>
	<fieldset>
	
    	<table id="hor-minimalist-b" class="table" width="100%">
    		<tr>
    			<th width="40%"><?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action")?></th>
    			<th width="15%" style="text-align:center;"><?php echo $this->translate->_("College").' '.$this->translate->_("Head");?></th>
    			<th width="15%" style="text-align:center;"><?php echo $this->translate->_("Parent");?></th>
    			<th width="15%" style="text-align:center;"><?php echo $this->translate->_("Sponsor");?></th>
    			<th width="15%" style="text-align:center;"><?php echo $this->translate->_("Registrar");?></th>
    		</tr>
    
	        <?php if (count($this->lobjPaginator)): ?>
    	    	<?php foreach ($this->lobjPaginator as $lobjdisciplinaryactionDetails ): ?>
	  				<tr>
    	    			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;" <?php }?>><a href="<?php echo $this->baseUrl();?>/records/disciplinaryactionmaster/updatedisciplinaryactionmaster/p/new/idDefinition/<?php echo $this->escape($lobjdisciplinaryactionDetails['idDisciplinaryActionType']);?>" rel="lyteframe" rev="width: 840px; height: 280px; scrolling:no">
        						<?php echo $this->escape($lobjdisciplinaryactionDetails['DisciplinaryDesc']);?>
	        				</a>	
    	    			</td>    	    		
    			<td style="text-align:center;"><?php echo $lobjdisciplinaryactionDetails['CollegeHeadSetting'];?></td>
    			<td style="text-align:center;"><?php echo $lobjdisciplinaryactionDetails['ParentSetting'];?></td>
    			<td style="text-align:center;"><?php echo $lobjdisciplinaryactionDetails['SponsorSetting'];?></td>
    			<td style="text-align:center;"><?php echo $lobjdisciplinaryactionDetails['RegistrarSetting'];?></td>
    				</tr>
            	<?php endforeach; ?>
            <?php endif; ?> 
			<tr>
				<td colspan="8" align="right">
					<div class="pagination">
						<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
</body>