<?php 
	$lsrtDivId = "cont-right";
	$this->rtl == "ltr";		
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->lang;?>" lang="<?php echo $this->lang;?>" dir="<?php echo $this->rtl;?>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript">
		function URLRedirection(URL){
			window.location = URL;
		}		
		dojo.addOnLoad(function(){
			$("input#idDisciplinaryActionType").focus();		
			});
		
	</script> 




 <fieldset>
    <legend><?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Master");?></legend>
			<form dojoType="dijit.form.Form"  id="mylobjuserForm" name="mylobjuserForm" method="post" action="<?php echo $this->baseUrl();?>/records/disciplinaryactionmaster/updatedisciplinaryactionmaster/p/new/idDefinition/<?php echo $this->idDefinition;?>">
				<script type="dojo/method" event="onSubmit" >
                			if (this.validate()) {
								return true;
                			} else {
                    			return false;
                			}
						</script>	
					<?php echo $this->lobjDisciplinaryactionForm->idDisciplinaryActionMaster;?>
						<?php echo $this->lobjDisciplinaryactionForm->UpdDate;?>
						<?php echo $this->lobjDisciplinaryactionForm->UpdUser;?>
						<table id="hor-minimalist-b"  class = "table" width="100%">
							<tr>
								<td  style="width:200px;">
									
									<?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Type");?><span class="reqMark">*</span>
								</td>
								<td colspan="3"><?php echo $this->lobjDisciplinaryactionForm->idDisciplinaryActionType;?><span id="errDiscType" class="errors"></span></td>
							</tr>
					
							<tr>
								<th colspan="4"><?php echo $this->translate->_("Send").' '.$this->translate->_("Disciplinary").' '.$this->translate->_("Message").' '.$this->translate->_("To");?></th>
							
							</tr>
						
							<tr>						
								<td class="label" width="25%">
									<?php echo $this->lobjDisciplinaryactionForm->DiscMsgCollegeHead;?>&nbsp;&nbsp;
									<?php echo $this->translate->_("College").' '.$this->translate->_("Head");?>
								</td>
								<td class="label" width="25%">
									<?php echo $this->lobjDisciplinaryactionForm->DiscMsgParent;?>&nbsp;&nbsp;
									<?php echo $this->translate->_("Parent");?>
								</td>
								<td class="label" width="25%">
									<?php echo $this->lobjDisciplinaryactionForm->DiscMsgSponor;?>&nbsp;&nbsp;
									<?php echo $this->translate->_("Sponsor");?>
								</td>
								<td class="label" width="25%">
									<?php echo $this->lobjDisciplinaryactionForm->DiscMsgRegistar;?>&nbsp;&nbsp;
									<?php echo $this->translate->_("Registrar");?>
								</td>
							</tr>
					         
							<tr>								
								<td colspan="4">
								
									<?php echo $this->lobjDisciplinaryactionForm->Save;?>									
									<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'disciplinaryactionmaster', 'action'=>'index'),'default',true);?>';" />	
									
								</td>
							</tr>
						</table>
					</form>
            </div>
         </div>   			
</fieldset>