
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
		<ul>		
			
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'course-migration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>


<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr> 
		<th><?php echo $this->translate("No"); ?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>
		<th><?php echo $this->translate("Student Name"); ?></th>
		<th><?php echo $this->translate("Course"); ?></th>
		<th><?php echo $this->translate("Status"); ?></th>	
		<th><?php echo $this->translate("Message"); ?></th>				
	</tr>
	<?php 
	foreach($this->stack_student as $index=>$student){ 
		if($student['status']=='Fail'){
			$color = 'background-color:red';
		}else{
			$color='';
		}
	?>
	<tr style='<?php echo $color?>'>
		<td align='center'><?php echo $index+1;?>.</td>
		<td align='left'><?php echo $student['name'];?></td>
		<td align='center'><?php echo $student['studentId'];?></td>	
		<td align='center'><?php echo (isset($student['subject'])) ? $student['subject']:'';?></td>
		<td align='center'><?php echo $student['status'];?></td>
		<td align='center'><?php echo $student['message'];?></td>			
	</tr>
	<?php } ?>
</table>
