<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
	</div>
</div>

<br>

<?php if(count($this->program_list)>0){ ?>

<?php foreach($this->program_list as $program){ ?>

<h3><?php echo $program['ProgramName']; ?> - <?php echo $program['EnglishDescription']?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr> 
		<th><?php echo $this->translate("Semester"); ?></th>
		<th><?php echo $this->translate("Total Raw"); ?></th>	
		<th><?php echo $this->translate("Total Student"); ?></th>	
		<th><?php echo $this->translate("Migrated Status"); ?></th>		
	</tr>
	<?php foreach($program['semester'] as $semester){ ?>
	<tr>
		<td align='center'><?php echo $semester['semester'];?></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'registration','controller'=>'course-migration', 'action'=>'course-list','IdProgram'=>$program['IdProgram'],'IdScheme'=>$program['IdScheme'],'IdSemester'=>$semester['semester']),'default',true);?>"><?php echo $semester['total_course'];?></a></td>
		<td align='center'><?php echo $semester['total_student'];?></td>
		<td align='center'></td>
	</tr>
	<?php } ?>
</table>

<?php } ?>

<?php } ?>