<script>

$(function() {
	$( ".ajaxMigrate" ).click(function() {
		var msg = confirm('Are you sure?');
		if(msg){
	  		$('#form1').submit();
		}
	});
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
		<ul>		
		    <?php if($this->IdSemester!=0){?>
		    <li>
				<a href="#" class='ajaxMigrate'>
					<span class='generate'></span>
					Migrate
				</a>
			</li>
			<?php } ?>
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'course-migration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(count($this->student_list)>0){ ?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr> 
		<th><?php echo $this->translate("No"); ?></th>
		<th><?php echo $this->translate("Student Name"); ?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>
		<th><?php echo $this->translate("IdStudentRegistration"); ?></th>
		<th><?php echo $this->translate("Program Scheme"); ?></th>
		<th><?php echo $this->translate("Landscape ID"); ?></th>
		<th><?php echo $this->translate("Total Subject"); ?></th>				
	</tr>
	<?php foreach($this->student_list as $index=>$student){ ?>
	<tr>
		<td align='center'><?php echo $index+1;?>.</td>
		<td align='left'><?php echo $student['name'];?></td>
		<td align='center'><?php echo $student['studentId'];?></td>	
		<td align='center'><?php echo ($student['IdStudentRegistration']!='') ? $student['IdStudentRegistration']:'<font color="red">Student ID not exits</font>';?></td>	
		<td align='center'><?php echo $student['IdProgramScheme'];?></td>	
		<td align='center'><?php echo ($student['IdLandscape']==0) ? '<font color="red">Landscape not found</font>':$student['IdLandscape'];?></td>	
		<td align='center'><?php echo (isset($student['total_course'])) ? $student['total_course']:'';?></td>			
	</tr>
	<?php } ?>
</table>

<form id='form1' method='post' action='<?php echo $this->url(array('module'=>'registration','controller'=>'course-migration', 'action'=>'migrate'),'default',true);?>'>
<input type='hidden' name='IdProgram' value='<?php echo $this->IdProgram; ?>'>
<input type='hidden' name='IdScheme' value='<?php echo $this->IdScheme; ?>'>
<input type='hidden' name='IdSemester' value='<?php echo $this->IdSemester; ?>'>
</form>
<?php } ?>