<!-- <div class="opt">
	<input type="button" onclick="window.location='<?php echo $this->baseUrl()?>/hostel/report'" name="Back" value="Back" label="<?php echo $this->translate('Back')?>" dojotype="dijit.form.Button" /> 
</div>
 -->
<div id="mainTabContainer" dojoType="dijit.layout.TabContainer" doLayout="false" tabPosition="top" style="width: 1100px; height: auto">
	
	<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("Occupancy")?>" style="height: auto; width: 99%; overflow: auto">
		<div id="first">
            <div align="right">
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/pdf/type/occupied" target="_blank"><img src="<?php echo $this->public .'/images/icon/pdf.png'?>" /></a>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/excel/type/occupied" target="_blank"><img src="<?php echo $this->public .'/images/icon/excel.png'?>" /></a>
            </div>
			<?php 
			echo $this->chart['main'];
			?>
			<div id="chart_main" class="chart"></div>
			
			<table class="table" width="100%">
				<tr>	
					<th><?php echo $this->translate('Hostel')?></th>
					<th><?php echo $this->translate('Occupied')?></th>
					<th><?php echo $this->translate('Available')?></th>
				</tr>
				<?php if ( !empty($this->HostelBlocks)) : foreach ( $this->HostelBlocks as $hostel ): ?>
				<tr>
					<td><?php echo $hostel['Name']?></td>
					<td><?php echo intval($this->TotalOccupancy[$hostel['IdHostelBlock']]['Total']) ?></td>
					<td><?php echo intval($this->TotalCapacity[$hostel['IdHostelBlock']]['Total']-$this->TotalOccupancy[$hostel['IdHostelBlock']]['Total'])?></td>
				</tr>
				<?php endforeach; endif; ?>
			</table>
		</div>
	</div>
	
	<div dojoType="dijit.layout.ContentPane" id="tab-two" title="<?php echo $this->translate("Gender");?>" style="height: auto; width: 99%; overflow: auto">
		<div id="second">

			<div align="right">
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/pdf/type/gender" target="_blank"><img src="<?php echo $this->public .'/images/icon/pdf.png'?>" /></a>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/excel/type/gender" target="_blank"><img src="<?php echo $this->public .'/images/icon/excel.png'?>" /></a>
            </div>
			<?php 
			echo $this->chart['gender'];
			?>
			<div id="chart_gender" class="chart" style="width:1000px;"></div>
			
			<table class="table" width="100%">
				<tr>	
					<th><?php echo $this->translate('Hostel')?></th>
					<th><?php echo $this->translate('Male')?></th>
					<th><?php echo $this->translate('Female')?></th>
				</tr>
				<?php if ( !empty($this->HostelBlocks)) : foreach ( $this->HostelBlocks as $hostel ): ?>
				<tr>
					<td><?php echo $hostel['Name']?></td>
					<td><?php echo intval($this->TotalGender[$hostel['IdHostelBlock']][1]) ?></td>
					<td><?php echo intval($this->TotalGender[$hostel['IdHostelBlock']][0])?></td>
				</tr>
				<?php endforeach; endif; ?>
			</table>
			
		</div>
	</div>
	
	<div dojoType="dijit.layout.ContentPane" id="tab-three" title="<?php echo $this->translate("Inventory");?>" style="height: auto; width: 99%; overflow: auto">
		<div id="third">
            <div align="right">
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/pdf/type/inventory" target="_blank"><img src="<?php echo $this->public .'/images/icon/pdf.png'?>" /></a>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'report', 'action'=>'download'),'default',true);?>/file/excel/type/inventory" target="_blank"><img src="<?php echo $this->public .'/images/icon/excel.png'?>" /></a>
            </div>
			<?php 
			echo $this->chart['inventory'];
			?>
			<div id="chart_inventory" class="chart" style="width:1000px;"></div>
			
			<table class="table" width="100%">
				<tr>	
					<th><?php echo $this->translate('Hostel')?></th>
					<?php foreach ( $this->InvTypes as $inv ): ?>
					<th width="15%"><?php echo $inv['Name']?></th>
					<?php endforeach; ?>
				</tr>
				<?php ?>
				<?php if ( !empty($this->HostelBlocks)) : foreach ( $this->HostelBlocks as $hostel ): ?>
				<tr>
					<td><?php echo $hostel['Name']?></td>
					<?php foreach ( $this->InvTypes as $inv ): ?>
					<td><?php echo intval($this->InvTotal[$hostel['IdHostelBlock']][$inv['IdHostelInventory']])?></td>
					<?php endforeach; ?>
					
				</tr>
				<?php endforeach; endif; ?>
			</table>
		</div>
	</div>

</div>

<style type="text/css">
.chart { display:block; margin:0 auto; width: 800px; }
</style>