<script type="text/javascript">

	function fnToggleTabs(TabAction,CurrentTabId,NextTabId)
    {
		if(TabAction == "Next"){
			var flag = true;
			if(flag)
			{
				var mainTabContainerId = dijit.byId("mainTabContainer")
			 	var tabContainerId = dijit.byId(NextTabId);
				mainTabContainerId.selectChild(tabContainerId);
			}
		}else if(TabAction == "Back"){
			var mainTabContainerId = dijit.byId("mainTabContainer")
	 		var tabContainerId = dijit.byId(NextTabId);
			mainTabContainerId.selectChild(tabContainerId);
		}
   }

	dojo.addOnLoad(function() 
	{
		<?php 
		if ( $this->curtab != '' ) 
		{
			switch ($this->curtab)
			{
				case 1; $tabname = 'tab-one';break;
				case 2; $tabname = 'tab-two';
			}
			?>
            
			var mainTabContainerId = dijit.byId("mainTabContainer");
          	mainTabContainerId.selectChild('<?php echo $tabname ?>');
          	<?php
		}
		?>
		dijit.byId('ResBlock').set('value','');
	    dijit.byId('ResBlock').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('ResGender').set('value','');
	    dijit.byId('ResGender').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('ResLevel').set('value','');
	    dijit.byId('ResLevel').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('ResRoom').set('value','');
	    dijit.byId('ResRoom').set('placeHolder','<?php echo $this->translate('Select')?>');

	    dijit.byId('RegBlock').set('value','');
	    dijit.byId('RegBlock').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('RegGender').set('value','');
	    dijit.byId('RegGender').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('RegLevel').set('value','');
	    dijit.byId('RegLevel').set('placeHolder','<?php echo $this->translate('Select')?>');
	    dijit.byId('RegRoom').set('value','');
	    dijit.byId('RegRoom').set('placeHolder','<?php echo $this->translate('Select')?>');

	});

	function getLevel(Idblock,LevelName){
		if(Idblock != ''){
			$.ajax({
		        type: 'GET',
		        async: false,
		        url: '<?php echo $this->baseUrl();?>/hostel/hostelinformation/getlevellist',
		        data: "Idblock=" + Idblock,
		        success: function(data) {
			        var obj = jQuery.parseJSON(data);
			        AutoFillNextEditableDropDown(LevelName,obj);
		        }
		    });
		}
	}

	function getRoom(BlockName,LevelName,RoomName)
	{
		var Idblock = dijit.byId(BlockName).value;
		var Idlevel = dijit.byId(LevelName).value;
		
		if(Idblock != '' && Idlevel != '')
		{
			$.ajax({
		        type: 'GET',
		        async: false,
		        url: '<?php echo $this->baseUrl();?>/hostel/hostelinformation/getroomlist',
		        data: "Idblock=" + Idblock + "&Idlevel=" +Idlevel,
		        success: function(data) {
			  
			        var obj = jQuery.parseJSON(data);
			        AutoFillNextEditableDropDown(RoomName,obj);
		        }
		    });
		}
	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
</script>
	<div id="mainTabContainer" dojoType="dijit.layout.TabContainer" doLayout="false" tabPosition="top" style="width: 1100px; height: auto">
	
		<div dojoType="dijit.layout.ContentPane" id="tab-one" title="<?php echo $this->translate("Reservation")?>" style="height: auto; width: 99%; overflow: auto">
			<div id="first">
				
								
				<fieldset>
					<legend><?php echo $this->translate('Search')?></legend>
					<form action="<?php echo $this->baseUrl();?>/hostel/report/index/tab/1" method="post">
						<input type="hidden" name="filtertype" value="reservation" />
						
						<table width="100%">
							<tr>
								<td><?php echo $this->translate($this->labels['Block_Label']);?></td>
								<td><?php echo $this->lobjReportForm->ResBlock;?></td>
								<td><?php echo $this->translate($this->labels['Level_Label']);?></td>
								<td><?php echo $this->lobjReportForm->ResLevel;?></td>
							</tr>
							<tr>
								<td><?php echo $this->translate('Room');?></td>
								<td><?php echo $this->lobjReportForm->ResRoom;?></td>
								<td><?php echo $this->translate('Gender');?></td>
								<td><?php echo $this->lobjReportForm->ResGender;?></td>
							</tr>
							<tr>
								<td align="center" colspan="4">
									<input type="submit" name="Search" id="Search" value="Search" label="<?php echo $this->translate('Search')?>" dojotype="dijit.form.Button" /> 
								</td>
				
							</tr>
						</table>
					</form>
				</fieldset>
				
				<br />
				
				<table class="table" width="100%">
				    <tr>
				    	<th><?php echo $this->labels['Block_Label']?></th>
				    	<th><?php echo $this->labels['Level_Label']?></th>
				    	<th><?php echo $this->translate('Student Name')?></th>
				    	<th><?php echo $this->translate('Registration Id')?></th>
				    	<th><?php echo $this->translate('Gender')?></th>
				    	<th><?php echo $this->translate('Phone No')?></th>
				    	<th><?php echo $this->translate('Date')?></th>
				    </tr>
				    
				    <?php $levelcheck = array(); ?>
					<?php foreach ( $this->blockList as $block ): ?>
				    <?php $count = 0; ?>
				    <?php if ( !empty($this->resbyblocklevel[$block['key']]) ):?>
				    <?php foreach ( $this->resbyblock[$block['key']] as $block_id => $row ): ?>
				    <?php 
				    $studcount = count($this->resbyblock[$block['key']]);
				    $levelcount = count($this->resbyblocklevel[$block['key']]);
					$dateformat = ('j M Y');
				    //echo $studcount;
				    //echo $levelcount;
				    //exit;
				
				    $count++;
				    if ( $count == 1 )
				    {
				    	
				    ?>
				    <tr>
				        <td class="padded" rowspan="<?php echo $studcount ?>"><?php echo $block['value']?></td>
				        <?php if ( !in_array($block['key'].'-'.$row['LevelName'],$levelcheck) ) :?>
				        <td <?php if ( $this->levelcount[$block['key']][$row['LevelName']] > 1 && !in_array($block['key'].'-'.$row['LevelName'],$levelcheck) ) { echo 'rowspan="'.$this->levelcount[$block['key']][$row['LevelName']].'"'; array_push($levelcheck, $block['key'].'-'.$row['LevelName']); }   ?>><?php echo $row['LevelName'] ?></td>
				        <?php endif; ?>
				        <td><?php echo $row['studentname']?></td>
				        <td><?php echo $row['registrationId']?></td>
				        <td><?php echo $row['Gender'] == 0 ? $this->translate('Female') : $this->translate('Male')?></td>
				        <td><?php echo $row['CellPhone']?></td>
				        <td><?php echo date($dateformat, strtotime( $row['UpdDate']) )?></td>
				        
				    </tr>
				    <?php 
				    }
				    else
				    {
				    ?>
				    <tr>
				    	<?php if ( !in_array($block['key'].'-'.$row['LevelName'],$levelcheck) ) :?>
				        <td <?php if ( $this->levelcount[$block['key']][$row['LevelName']] > 1 && !in_array($block['key'].'-'.$row['LevelName'],$levelcheck) ) { echo 'rowspan="'.$this->levelcount[$block['key']][$row['LevelName']].'"'; array_push($levelcheck, $block['key'].'-'.$row['LevelName']); }   ?>><?php echo $row['LevelName'] ?></td>
				        <?php endif; ?>
				        <td><?php echo $row['studentname']?></td>
				        <td><?php echo $row['registrationId']?></td>
				        <td><?php echo $row['Gender'] == 0 ? $this->translate('Female') : $this->translate('Male')?></td>
				        <td><?php echo $row['CellPhone']?></td>
				        <td><?php echo date($dateformat, strtotime( $row['UpdDate']) )?></td>
				      
				    </tr>
				    <?php	
				    }
				    
				    $curlevel = $row['LevelName'];
				    ?>
				    <?php endforeach; ?>
				   	<?php endif; ?>
				   	<?php endforeach; ?> 
				</table>
		
			</div>
		</div>

	
	<div dojoType="dijit.layout.ContentPane" id="tab-two" title="<?php echo $this->translate("Registration");?>" style="height: auto; width: 99%; overflow: auto">
		<div id="second">
			
			<fieldset>
				<legend><?php echo $this->translate('Search')?></legend>
					<form action="<?php echo $this->baseUrl();?>/hostel/report/index/tab/2" method="post">
						<input type="hidden" name="filtertype" value="registration" />
						
						<table width="100%">
							<tr>
								<td><?php echo $this->translate($this->labels['Block_Label']);?></td>
								<td><?php echo $this->lobjReportForm->RegBlock;?></td>
								<td><?php echo $this->translate($this->labels['Level_Label']);?></td>
								<td><?php echo $this->lobjReportForm->RegLevel;?></td>
							</tr>
							<tr>
								<td><?php echo $this->translate('Room');?></td>
								<td><?php echo $this->lobjReportForm->RegRoom;?></td>
								<td><?php echo $this->translate('Gender');?></td>
								<td><?php echo $this->lobjReportForm->RegGender;?></td>
							</tr>
							<tr>
								<td align="center" colspan="4">
									<input type="submit" name="RegSearch" id="RegSearch" value="Search" label="<?php echo $this->translate('Search')?>" dojotype="dijit.form.Button" /> 
								</td>
				
							</tr>
						</table>
					</form>
				</fieldset>
				
				<br />
				
			<table class="table" width="100%">
				    <tr>
				    	<th><?php echo $this->labels['Block_Label']?></th>
				    	<th><?php echo $this->labels['Level_Label']?></th>
				    	<th><?php echo $this->translate('Student Name')?></th>
				    	<th><?php echo $this->translate('Registration Id')?></th>
				    	<th><?php echo $this->translate('Gender')?></th>
				    	<th><?php echo $this->translate('Phone No')?></th>
				    	<th><?php echo $this->translate('Date')?></th>
				    </tr>
				    
				    <?php $reglevelcheck = array(); ?>
					<?php foreach ( $this->blockList as $block ): ?>
				    <?php $count = 0; ?>
				    <?php if ( !empty($this->regbyblocklevel[$block['key']]) ):?>
				    <?php foreach ( $this->regbyblock[$block['key']] as $block_id => $row ): ?>
				    <?php 

				    $studcount = count($this->regbyblock[$block['key']]);
				    $levelcount = count($this->regbyblocklevel[$block['key']]);
					$dateformat = ('j M Y');
	
				    $count++;
				    if ( $count == 1 )
				    {
				    	
				    ?>
				    <tr>
				        <td class="padded" rowspan="<?php echo $studcount ?>"><?php echo $block['value']?></td>
				        <?php if ( !in_array($block['key'].'-'.$row['LevelName'],$reglevelcheck) ) :?>
				        <td <?php if ( $this->reglevelcount[$block['key']][$row['LevelName']] > 1 && !in_array($block['key'].'-'.$row['LevelName'],$reglevelcheck) ) { echo 'rowspan="'.$this->reglevelcount[$block['key']][$row['LevelName']].'"'; array_push($reglevelcheck, $block['key'].'-'.$row['LevelName']); }   ?>><?php echo $row['LevelName'] ?></td>
				        <?php endif; ?>
				        <td><?php echo $row['studentname']?></td>
				        <td><?php echo $row['registrationId']?></td>
				        <td><?php echo $row['Gender'] == 0 ? $this->translate('Female') : $this->translate('Male')?></td>
				        <td><?php echo $row['CellPhone']?></td>
				        <td><?php echo date($dateformat, strtotime( $row['UpdDate']) )?></td>
				        
				    </tr>
				    <?php 
				    }
				    else
				    {
				    ?>
				    <tr>
				    	<?php if ( !in_array($block['key'].'-'.$row['LevelName'],$reglevelcheck) ) :?>
				        <td <?php if ( $this->reglevelcount[$block['key']][$row['LevelName']] > 1 && !in_array($block['key'].'-'.$row['LevelName'],$reglevelcheck) ) { echo 'rowspan="'.$this->reglevelcount[$block['key']][$row['LevelName']].'"'; array_push($reglevelcheck, $block['key'].'-'.$row['LevelName']); }   ?>><?php echo $row['LevelName'] ?></td>
				        <?php endif; ?>
				        <td><?php echo $row['studentname']?></td>
				        <td><?php echo $row['registrationId']?></td>
				        <td><?php echo $row['Gender'] == 0 ? $this->translate('Female') : $this->translate('Male')?></td>
				        <td><?php echo $row['CellPhone']?></td>
				        <td><?php echo date($dateformat, strtotime( $row['UpdDate']) )?></td>
				      
				    </tr>
				    <?php	
				    }
				    
				    $regcurlevel = $row['LevelName'];
				    ?>
				    <?php endforeach; ?>
				   	<?php endif; ?>
				   	<?php endforeach; ?> 
				</table>
		</div>	
	</div>
	<!-- 
        <div dojoType="dijit.layout.ContentPane" id="tab-three" href="<?php echo $this->baseUrl();?>/hostel/report/chart" title="<?php echo $this->translate("Chart");?>" style="height: auto; width: 99%; overflow: auto">
           		<script type="dojo/connect" event="onLoad">
					window.location = '<?php echo $this->baseUrl(); ?>/hostel/report/chart';
				</script>
            <div id="third">
                 
            </div>	
        </div>
     -->
</div>

<style type="text/css">
.table td.padded { padding-left:10px; }
</style>