
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration"><?php echo $this->translate('Registration')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>
<br />
<div id="progression">
	<div class="step">
		<span class="indicator"><span class="icon"><i class="icon-record"></i></span></span>
		<span class="text">1. Course Selection</span>
	</div>
	<div class="step">
		<span class="indicator"><span class="icon"><i class="icon-record"></i></span></span>
		<span class="text">2. Review</span>
	</div>
	<div class="step">
		<span class="indicator"><span class="icon active"><i class="icon-record"></i></span></span>
		<span class="text">3. Complete</span>
	</div>
	<div class="line"></div>
</div>

<?php if ( $this->errMsg != '' ) { ?>
	<div class="error message"><span class="icon icon-alert"></span> <?php echo $this->translate($this->errMsg) ?></div>
	<a href="<?php echo $this->baseUrl()?>/course-registration" class="btn"><span class="icon  icon-left-open"></span> <?php echo $this->translate('Back')?></a>
<?php } else { ?>

<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Course Name");?></th>
		<th class="center"><?php echo $this->translate('Course Code')?></th>
		<th><?php echo $this->translate('Registration Items')?></th>
		<th><?php echo $this->translate('Exam Center')?></th>
	</tr>
	<?php foreach ( $this->formData['subject'] as $subject) : ?>
	<tr id="row-<?php echo $subject?>" class="subrow" data-subject="<?php echo $subject?>" data-subjectname="<?php echo $this->subjectsById[$subject]['SubjectName']?>">
		<td class="upper" width="20%"><?php echo $this->subjectsById[$subject]['SubjectName']?></td>
		<td width="10%" align="center" class="border-side"><?php echo $this->subjectsById[$subject]['SubCode']?></td>
		<td>
			<ol class="items">
				<?php foreach ($this->formData['item'][$subject] as $item ) { ?>
					<?php if ( isset($item['item']) ) { ?>
					<li>
						<div class="info">
							<span class="item"><?php echo ($this->itemsById[$item['item']] ); ?></span><br /> <strong><small><?php echo $this->subjectsById[$subject][$item['item']]['currency']?> <?php echo $this->subjectsById[$subject][$item['item']]['amount']?></small></strong>
						</div>
						<div class="section">
							<?php 
							$section = $this->subjectsById[$subject][$item['item']]['section']; 
							$schedule = $this->subjectsById[$subject][$item['item']]['schedule']; 
							?>

							<span class="tooltip"><span class="icon icon-info-circled"></span></span> <span class="tooltiptext">Selected Group Schedule</span>
							<span class="tooltip"><?php echo $section['GroupName'];?></span>
							<div class="tooltiptext">
								<p><strong>Lecturer</strong>: <?php echo $section['FullName']?></p>
								<table width="100%" class="table">
									<tr>
										<th><?php echo $this->translate('Date')?></th>
										<th><?php echo $this->translate('Day')?></th>
										<th><?php echo $this->translate('Start Time')?></th>
										<th><?php echo $this->translate('End Time')?></th>
									</tr>
									<?php if  ( !empty($schedule) ) : ?>
									<?php foreach ( $schedule  as $sch ) : ?>
									<tr>
										<td><?php echo $sch['sc_date']?></td>
										<td><?php echo $sch['sc_day']?></td>
										<td><?php echo $sch['sc_start_time']?></td>
										<td><?php echo $sch['sc_end_time']?></td>
									</tr>
									<?php endforeach; ?>
									<?php else: ?>
									<tr>
										<td colspan="5"><?php echo $this->translate('No schedule found')?></td>
									</tr>
									<?php endif; ?>
								</table>
							</div>
						</div>
					</li>
					<?php } ?>
				<?php } ?>
			</ol>
		</td>
		<td>
			sdgas
		</td>
	</tr>
	<?php endforeach; ?>
</table>


<?php } ?>
<script type="text/javascript">
	
	
</script>

<style type="text/css">
.disabled .icon { color:red !important }
.chk { vertical-align:bottom }
.icon-plus-circled { color:#4ee555 !important }
.item-section { display:block; font-size:11px;  }
td ol { margin: 5px 0 0 20px }
td ol li { margin-bottom:5px; }
td ol li .info { float:left; margin-right:1px; min-width:100px; }
td ol li .info .item { font-size:13px }
td ol li .section { }
small { font-size:11px; color:#999; }
a.ul { text-decoration:underline }
a.ul:hover { text-decoration:none }
.icon-info-circled.alert { color:#e24444 }

.removed-item {
  -webkit-animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
  -o-animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
  animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }

  to {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
}

@-webkit-keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
}

@-o-keyframes removed-item-animation {
  from {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }

  to {
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
}
</style>