
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Registration')?></li>
	</ul>
	<!-- <div class="back"><a href="#"><?php echo $this->translate('Back')?></a></div> -->
</div>
<br />

<?php if ( $this->fbarred == 1  )  { ?>
	<div class="error"><span class="icon icon-alert"></span> You are not allowed to register for new courses due to outstanding balance. Please contact Bursary.</div>
<?php
} else if ( $this->obarred == 1 ) { ?>
	<div class="error"><span class="icon icon-alert"></span> You are not allowed to register for new courses. Please contact ASAD.</div>
<?php
} else  {
?>
<h3 class="alt"><?php echo $this->translate('Options')?></h3>

<ul class="list text2">
	<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/register"><?php echo $this->translate('Register New Courses')?></a> <span class="tip"></span></li>
	<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/manage"><?php echo $this->translate('Manage Registration')?></a></li>
	<?php if($this->totalregistered != 0 && $this->semester['IdSemesterMaster']){?>
	<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/registration-slip/semID/<?php echo $this->semester['IdSemesterMaster'];?>"><?php echo $this->translate('Registration Slip')?></a></li>
	<?php }?>
	<?php 
	if($this->policy["allowp3"]){
	?>
	<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/"><?php echo $this->translate('Part 3 Registration')?></a></li>
	<?php 
	}
	?>
	<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/history"><?php echo $this->translate('Registration History')?></a></li>
</ul>

<br />

<hr />

<br />

<?php if ( $this->semester ) { ?>
<h3 class="alt"><?php echo $this->translate('Registered Courses').' - '.$this->semester['SemesterMainName'];?></h3>

<table class="maintable" width="100%" cellpadding="5" cellspacing="1">
	<tr>			  	  		  	   
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th class="center"><?php echo $this->translate("Course Type")?></th>
		<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
		<th class="center"><?php echo $this->translate("Credit Hours")?></th>
		<?php } ?>
		<th class="center"><?php echo $this->translate("Status")?></th>
		<th class="center"><?php echo $this->translate("Date Registered")?></th>
	</tr>	
	<?php   
	if ( !empty($this->registered) ) {
	foreach($this->registered as $course){  
	?>	
	<tr valign="top">			  			  	
		<td><a href="<?php echo $this->baseUrl()?>/course-registration/index/manage"><?php echo $course["SubjectName"]; ?></a>
		<?php if($this->itemregistered){?>
		<ul class="list">
		<?php foreach($this->itemregistered[$course["IdSubject"]] as $item){?>
			<li><?php echo $item['item_name'];?></li>
			<?php }?>
		</ul>
		<?php }?>
		</td>
		<td><?php echo $course["SubCode"]; ?></td>
		<td class="upper" align="center" ><?php echo $course['SubjectType']?></td>
		<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
		<td align="center"><?php echo $course["CreditHours"]; ?></td>
		<?php } ?>
		<td align="center">
			<?php 
			echo CourseRegistration_IndexController::courseStatus($course['Active']);
			?>
		</td>
		<td align="center">
			<?php echo format_date($course['UpdDate'])?>
		</td>
	</tr>
	<?php } } else { ?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No registered courses yet.')?> <a href="<?php echo $this->baseUrl()?>/course-registration/index/register"><?php echo $this->translate('Register')?></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>

<?php if ( $this->totalregistered == 0 ) { ?>
<script>
$('.tip').qtip({
  content: {
		text: 'Get started with course registration here',
		title: {
			button: false
		}
	},
  position: {
      my: 'center left', 
      at: 'center right'
    },
  style: {classes: 'qtip-default'},
  show: { ready: true }
  });
</script>
<style type="text/css">
.tip { margin-left:10px; }
</style>
<?php } ?>

<?php } ?>