
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration"><?php echo $this->translate('Registration')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/course-registration/"><?php echo $this->translate('Back')?></a></div>
</div>

<?php if ( $this->errMsg != '' ) { ?>
	<div class="error message"><span class="icon icon-alert"></span> <?php echo $this->translate($this->errMsg) ?></div>
	<a href="<?php echo $this->baseUrl()?>/course-registration" class="btn"><span class="icon  icon-left-open"></span> <?php echo $this->translate('Back')?></a>

<?php } else { ?>
	
	<div class="notice small">
		<span class="icon icon-info"></span> <?php echo $this->translate('You may add/drop items or courses for current semester only')?>.
	</div>
	
	<h3 class="alt"><?php echo $this->semester['SemesterMainName']?></h3>

	<form method="post" action="" id="form_manage" onsubmit="return checkForm()">
	<input type="hidden" name="token" value="<?php echo $this->token ?>" />
	<table class="maintable vtop" width="100%" cellpadding="5" cellspacing="1">
		<tr>			  	  		  	
			<th width="25"></th>
			<th><?php echo $this->translate("Course Name")?></th>
			<th><?php echo $this->translate("Course Code")?></th>
			<th><?php echo $this->translate("Status")?></th>
			<th><?php echo $this->translate("Registered Items")?></th>
			<th><?php echo $this->translate('Exam Center')?></th>
			<th><?php echo $this->translate("Date Registered")?></th>
			<th width="220" class="center"><?php echo $this->translate('Options')?></th>
		</tr>	
		<?php   
		if ( !empty($this->registered) ) {
		foreach($this->registered as $course){  
		?>	
		<tr>			
			<td align="center"><?php if($course['initial'] == 0){?>
			<a></a><input type="checkbox" name="subject[]" class="chk" id="chk-<?php echo $course['IdSubject']?>" value="<?php echo $course['IdSubject']?>"/>
			<?php }?></td>
			<td class="upper"><?php echo $course["SubjectName"]; ?></td>
			<td><?php echo $course["SubCode"]; ?></td>
			<td>
			<?php  echo CourseRegistration_IndexController::courseStatus($course['Active']); ?>
			</td>
			<td>
			<!-- items -->
			<?php if($course['initial'] == 0){?>
			<ul class="list">
				<?php foreach($course['item'] as $item ) {?>
				<li><?php echo $this->itemsById[$item['item_id']] ?><br />
					
				</li>
				<?php } ?>
			</ul>
			<?php }?>
			<!-- /items -->
			</td>
			<td>
				<div id="ec-<?php echo $course['IdSubject']?>">
				<?php echo $course['ec']['er_idCity'] == 99 ? $course['ec']['er_idCityOthers'] : $course['ec']['CityName']; ?>,
				<?php echo $course['ec']['CountryName']; ?>
				<?php if ( $course['ec']['er_idCityOthers'] == 'Others' ) { ?>
				<span class="tooltip2"><span class="icon icon-info-circled alert"></span></span> <span class="tooltiptext">Please contact admin regarding your exam center for this course.</span>
				<?php } ?>
				</div>
			</td>
			<td>
				<?php echo format_date($course['UpdDate'])?>
			</td>
			<td align="center" class="options">
			<?php if($course['initial'] == 0){?>
				 <a href="<?php $this->baseUrl()?>/course-registration/index/manage-item/subject/<?php echo $course['IdSubject']?>"> <span class="icon icon-cog"></span> <?php echo $this->translate('Items')?></a>
				<?php if($this->program['SchemeCode'] != 'GS'){?>
				| <a href="#" onclick="return selectExamCenter(<?php echo $course['IdSubject']?>, <?php echo $course['ec']['er_id']?>)"><span class="icon icon-location"></span> <?php echo $this->translate('Exam Center')?></a>
				<?php }?>
				<?php }?>
			</td>
		</tr>
		<?php } } else { ?>
		<tr>
			<td colspan="5"><?php echo $this->translate('No registered courses yet.')?> <a href="<?php echo $this->baseUrl()?>/course-registration/index/register"><?php echo $this->translate('Register')?></td>
		</tr>
		<?php } ?>
	</table>
	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate('Drop')?>" name="submit" class="btn-submit" />
	</div>
	</form>
	<div id="dialog-ec" title="Exam Center">
	</div>
	<script>
	<?php  jspack_start(); ?>
	$(function()
	{
		$(".chk").on('change', function ()
		{
			$(this).parent().parent().toggleClass('hlchk');
		});

		$( "#dialog-ec" ).dialog({
			modal: true,
			autoOpen: false,
			width: 650
		});
	});

	function checkForm()
	{
		var total = $('.chk:checked').length;

		if ( total == 0 )
		{
			alert('You must select courses you want to drop.');
			return false;
		}

		var ask = sure('<?php echo $this->translate('Are you sure you want to drop these courses?')?>');
		if ( ask == false)
		{
			return false;
		}
		
		return true;
	}

	function selectExamCenter(subject_id, exam_id)
	{
		$("#dialog-ec").html('...');
		$("#dialog-ec").load("/course-registration/ajax/examcenter/idsubject/"+subject_id+'/idexam/'+exam_id, function()
		{
			$("#dialog-ec").dialog('open');
		});

		return false;
	}

	function getCity(idCountry,element_name,selected_val)
	{	
		var targetElement = '#'+element_name;
		$.ajax({
			url: "/course-registration/ajax/getcity",
			data: {'country_id':idCountry },
			type: 'POST',
			dataType: 'json'
		}).done(function ( data ) {
			
			$(targetElement).empty().append('<option value=""> --Please Select-- </option>');
		
			$.each(data, function(index) {
				$(targetElement).append('<option value="'+data[index].key+'"> '+data[index].city+' </option>');
			});

			$(targetElement).val(selected_val);
		});
	}
	<?php
	jspack_output();
	?>
	</script>

<?php } ?>

<style type="text/css">
td ol { margin:0 0 0 25px }
td ol li { margin-bottom:5px; }
td ol li small {font-size:10px; color:#999 }
.options a:hover .icon { color:#0ea9d7;}
.options .icon { font-size:14px; }
.icon-info-circled.alert { color:#e24444 }
</style>