
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration"><?php echo $this->translate('Registration')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration/index/manage"><?php echo $this->translate('Manage')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/course-registration/"><?php echo $this->translate('Back')?></a></div>
</div>

<?php if ( $this->errMsg != '' ) { ?>
	<div class="error message"><span class="icon icon-alert"></span> <?php echo $this->translate($this->errMsg) ?></div>
	<a href="<?php echo $this->baseUrl()?>/course-registration/index/manage" class="btn"><span class="icon icon-left-open"></span> <?php echo $this->translate('Back')?></a>

<?php } else { ?>
		
	<?php 
	$subject = $this->subject; 
	?>
	<div class="opt time float thin">Registered Date: <?php echo format_date($subject['UpdDate'])?></div>
	<h3 class="alt"><?php echo $subject['SubjectName'].' - '.$subject['SubCode']?></h3>
	<form method="post" action="" id="form_manageitem" onsubmit="return checkForm()">
	<input type="hidden" name="token" value="<?php echo $this->token?>" />
	<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
		<tr>
			<?php 
			if($this->items){
				foreach( $this->items as $item ) { 
			?>
			<th class="center" width="12%"><?php echo $item['item_name']?> <span class="tooltip"><span class="icon icon-info-circled <?php echo $item['mandatory'] == 1 ? 'req' : ''?>"></span></span> <span class="tooltiptext"><?php echo $item['mandatory'] == 1 ? 'Mandatory Item' :'Optional Item'?></span></th>
			<?php } 
				}?>
			<!-- /items -->
		</tr>
		<tr>
			<!-- items -->
		<?php $i = 0; ?>
		<?php foreach( $this->items as $item ) { ?>
		<td align="center">
			<span class="item-amount">
				<?php echo $this->subjects[$subject['IdSubject']][$item['item_id']]['currency'].' '.sprintf('%0.2f', $this->subjects[$subject['IdSubject']][$item['item_id']]['amount']); ?>
			</span>
			<input type="checkbox" <?php echo in_array($item['item_id'], $this->itemRegistered[$subject['IdSubject']]) ? 'checked="checked"':''; ?> data-item="<?php echo $item['item_code']?>" data-subjectid="<?php echo $subject['IdSubject']?>" data-mandatory="<?php echo $item['mandatory']?>" name="item[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>][item]" value="<?php echo $item['item_id']?>" class="item chk chk-<?php echo $subject['IdSubject']?> <?php echo $item['mandatory']==1?'reqchk':''?>" id="item-<?php echo $item['item_id']?>-<?php echo $item['item_id']?>"/>
			<span class="item-section" style="display:none">
				<?php if ( $item['item_code'] == 'EXAM' ) { 
				if($this->subjects[$subject['IdSubject']][$item['item_id']]['amount'] != 0){?>
				<span class="tooltip">Schedule</span>
				<span class="tooltiptext">
					<table width="100%" class="table">
						<tr>
							<th>Date</th>
							<th>Time</th>
						</tr>
						<tr>
							<td><?php echo format_date($this->subjects[$subject['IdSubject']]['exam_schedule']['es_date'])?></td>
							<td><?php echo $this->subjects[$subject['IdSubject']]['exam_schedule']['es_start_time'].'-'.$this->subjects[$subject['IdSubject']]['exam_schedule']['es_start_time']?></td>
						</tr>
					</table>
				</span>
				<?php 
				}
		} else { 
		if($this->subjects[$subject['IdSubject']][$item['item_id']]['amount'] != 0){?>
				<a href="#" onclick="return section(<?php echo $this->semester['IdSemesterMaster']?>,<?php echo $subject['IdSubject']?>,<?php echo $item['item_id']?>)">Schedule</a>
				<?php 
			}
		} ?>
			</span>
			<input type="hidden" data-item="<?php echo $item['item_name']?>" class="subj-item" id="item-<?php echo $subject['IdSubject']?>-<?php echo $item['item_id']?>" name="section[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>]" value="<?php echo in_array($item['item_id'], $this->itemRegistered[$subject['IdSubject']]) ? $this->section[$subject['IdSubject']]:''; ?>" />
			<?php //echo in_array($item['item_id'], $this->itemRegistered[$subject['IdSubject']]) ? $this->section[$subject['IdSubject']]:''; ?>
		</td>
		<?php } ?>
		<!-- /items -->
		</tr>
	</table>
	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate('Submit')?>" name="submit" class="btn-submit" />
	</div>
	</form>
	<div id="dialog-schedule" title="Schedule">
	</div>

	<script>

	<?php  jspack_start(); ?>
	$(function()
	{
		$(".chk").on('change', function ()
		{
			if ( $(this).prop('checked') === true)
			{
				$(this).next().fadeIn();
			}
			else
			{
				if ($(this).data('mandatory') != '1' )
				{
					$(this).next().fadeOut();
				}
			}

			$(window).on('beforeunload', function(){
				return 'Are you sure you want to leave without saving?';
			});
		});

		$('.reqchk').each(function(){
			$(this).prop('checked', true);
			$(this).next().show();
			$(this).prop('disabled', true);
		});

		
	});

	function checkForm()
	{
		var error = 0;
		var msg = '';

		$(".chk:checked").each( function(){
			var sch = $("#item-"+$(this).data('subjectid')+"-"+$(this).val()).val();

			if ( sch == '' )
			{
				if ($(this).data('item') != 'EXAM' )
				{
					error = 1;
					msg = 'You did not select a schedule  "'+$("#item-"+$(this).data('subjectid')+"-"+$(this).val()).data('item')+'"'; 
				}
			}
		});

		if ( error == 1 )
		{
			alert( msg );
			return false;
		}

		$(window).unbind('beforeunload');
	
		var ask = sure('<?php echo $this->translate('Are you sure?')?>');
		if ( ask == false)
		{
			return false;
		}

		return true;
	}

	function section(semester_id, subject_id,item_id)
	{
		$("#dialog-schedule").html('...');
		$('#dialog-schedule').load("/course-registration/ajax/section/idsubject/"+subject_id+"/idsemester/"+semester_id+'/item/'+item_id+'/section/', function()
		{
			$('#dialog-schedule').dialog('open');
		});

		return false;
	}

	function schedule(id,idsemester,idsubject,item_id)
	{
		$("#dialog-schedule").html('...');
		$('#dialog-schedule').load("/course-registration/ajax/schedule/id/"+id+"/idsemester/"+idsemester+"/idsubject/"+idsubject+'/item/'+item_id, function()
		{
			$('#dialog-schedule').dialog('open');
		});

		return false;
	}

	
	$( "#dialog-schedule" ).dialog({
        modal: true,
        autoOpen: false,
        width: 650
    });
	<?php
	jspack_output();
	?>
	</script>

<?php } ?>

<style type="text/css">
td ol { margin:0 0 0 25px }
td ol li { margin-bottom:5px; }
td ol li small {font-size:10px; color:#999 }
.options a:hover .icon { color:#0ea9d7;}
.options .icon { font-size:14px; }
.icon.req { color:#e0462d }
</style>