<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration/"><?php echo $this->translate('Registration')?></a></li>
		<li><strong><?php echo $this->title?></strong></li>
		<div class="back"><a href="<?php echo $this->baseUrl()?>/course-registration/"><?php echo $this->translate('Back')?></a></div>
	</ul>
</div>
<br />
<div id="progression">
	<div class="step">
		<span class="indicator"><span class="icon active"><i class="icon-record"></i></span></span>
		<span class="text">1. Course Selection</span>
	</div>
	<div class="step">
		<span class="indicator"><span class="icon"><i class="icon-record"></i></span></span>
		<span class="text">2. Review</span>
	</div>
	<div class="step">
		<span class="indicator"><span class="icon"><i class="icon-record"></i></span></span>
		<span class="text">3. Complete</span>
	</div>
	<div class="line"></div>
</div>

<?php if ( $this->fbarred == 1  )  { ?>
	<div class="error"><span class="icon icon-alert"></span> You are not allowed to register for new courses due to outstanding balance. Please contact Bursary.</div>
<?php
} else if ( $this->obarred == 1 ) { ?>
	<div class="error"><span class="icon icon-alert"></span> You are not allowed to register for new courses. Please contact ASAD.</div>
<?php
} else  {
?>

<table class="infotable" width="100%">
	<tr>
		<th width="150"><strong><?php echo $this->translate('Programme')?></strong></th>
		<td><?php echo $this->studentinfo['ProgramName']?></td>
	</tr>
	<tr>
		<th><strong><?php echo $this->translate('Semester')?></strong></th>
		<td><?php echo $this->semester['SemesterMainName']?></td>
	</tr>
</table>

<form method="post" action="<?php echo $this->baseUrl()?>/course-registration/index/review/" name="form_coursereg" id="form_coursereg" onsubmit="return checkForm()">
<table class="maintable" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<?php 
		if($this->landscapetype==42){
		?>
			<th><?php echo $this->translate("Part");?></th>
		<?php 
		}
		?>
		<th><?php echo $this->translate("Course Name");?></th>
		<th class="center"><?php echo $this->translate('Course Code')?></th>
		<th class="center"><?php echo $this->translate("Course Type");?></th>
		<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
		<th width="10%" class="center"><?php echo $this->translate('Credit Hours')?></th>
		<?php } ?>
		<!-- items -->
		<?php 
		if($this->items){
			foreach( $this->items as $item ) { 
		?>
		<th class="center" width="12%"><?php echo $item['item_name']?> <span class="tooltip"><span class="icon icon-info-circled <?php echo $item['mandatory'] == 1 ? 'req' : ''?>"></span></span> <span class="tooltiptext"><?php echo $item['mandatory'] == 1 ? 'Mandatory Item' :'Optional Item'?></span></th>
		<?php } 
			}?>
		<!-- /items -->
		<th></th>
	</tr>

	
	<?php 
	$prereq = new CourseRegistration_Model_DbTable_SubjectPrerequisite();
	if($this->subjects ){
		
		$totalSubject = 0;
		$itotal = 0;
			
		foreach ( $this->subjects as $subject ) : 
			$sprereq = $prereq->getPrerequisite($this->idlandscape,$subject['IdSubject']);
			$meetprereg = true;
			if(is_array($sprereq)) {
				$meetprereg=$prereq->checkStudentPrereq($sprereq["IdSubject"]);
			}
			
			if($meetprereg){	
	?>	
	<tr id="row-<?php echo $subject['IdSubject']?>" data-prevtaken="<?php echo $subject['prev_taken']?>" data-subject="<?php echo $this->escape($subject['SubjectName'])?>"  type="<?=$subject['SubjectType']?>" class="<?php echo in_array($subject['IdSubject'], $this->registeredSubjects) ? 'regged':''?>">
		<?php 
		if($this->landscapetype==42){
		?>
			<td class="upper" align="center"><?php echo $subject['block']?></td>
		<?php 
		}
		?>		
		<td class="upper"><?php echo $subject['SubjectName']?></td>
		
		<td width="10%" align="center"  class="border-side"><?php echo $subject['SubCode']?></td>
		<td class="upper" align="center" ><?php echo $subject['SubjectType']?></td>
		<?php if ( $this->program['SchemeCode'] != 'PS' ) { ?>
		<td align="center" class="border-side"><?php echo $subject['CreditHours']?></td>
		<?php } ?>
		<!-- items -->
		<?php $i = 0; ?>
		<?php foreach( $this->items as $item ) { ?>
		<?php 
			
		?>
		<td align="center">
			<?php if (!in_array($subject['IdSubject'], $this->registeredSubjects)) { ?>

			<span class="item-amount" style="display:none">
				<?php 
				if($subject[$item['item_id']]['amount'] != 0){
					echo $subject[$item['item_id']]['currency'].' '.sprintf('%0.2f', $subject[$item['item_id']]['amount']); 
			    }
                ?>
			</span>
			
			<input style="display:none" type="checkbox" data-item="<?php echo $item['item_code']?>" data-mandatory="<?php echo $item['mandatory']?>" name="item[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>][item]" value="<?php echo $item['item_id']?>" class="item chk chk-<?php echo $subject['IdSubject']?> <?php echo $item['mandatory']==1?'reqchk':''?>" id="item-<?php echo $item['item_id']?>-<?php echo $item['item_id']?>"/>
			<span class="item-section" style="display:none">
				
				<?php if ( $item['item_code'] == 'EXAM' ) { ?>
					<span class="tooltip">Schedule</span>
					<span class="tooltiptext">
						<table width="100%" class="table">
							<tr>
								<th>Date</th>
								<th>Time</th>
							</tr>
							<tr>
								<td><?php echo format_date($subject['exam_schedule']['es_date'])?></td>
								<td><?php echo $subject['exam_schedule']['es_start_time'].'-'.$subject['exam_schedule']['es_end_time']?></td>
							</tr>
						</table>
					</span>
				<?php }elseif($subject['SubjectType']=='Research'){ ?>
                    <a href="#" onclick="return dissertation(<?php echo $subject['IdSubject']?>, <?php echo $this->studentinfo['IdStudentRegistration']?>, <?php echo $item['item_id']?>)">Credit Hour</a>
                    <input type="hidden" data-item="<?php echo $item['item_name']?>" class="subj-item" id="credit-<?php echo $subject['IdSubject']?>-<?php echo $item['item_id']?>" name="item[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>][credit]" value="" />
				<?php } else { ?>
                    <?php if($subject['SubCode']=='GD5899' || $item['item_code']=='PAPER'  ): ?>
             
                    <?php else: ?>
	                    <a href="#" onclick="return section(<?php echo $this->semester['IdSemesterMaster']?>,<?php echo $subject['IdSubject']?>,<?php echo $item['item_id']?>)">Schedule</a>
                    <?php endif; ?>
				<?php } ?>
			</span>
			<input type="hidden" data-item="<?php echo $item['item_name']?>" class="subj-item" id="item-<?php echo $subject['IdSubject']?>-<?php echo $item['item_id']?>" name="item[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>][section]" value="" />
            <input type="hidden" data-item="<?php echo $item['item_name']?>" class="subj-item" id="type-<?php echo $subject['IdSubject']?>-<?php echo $item['item_id']?>" name="item[<?php echo $subject['IdSubject']?>][<?php echo $item['item_id']?>][type]" value="" />
                <input type="hidden" data-item="<?php echo $item['item_name']?>" class="credit-<?php echo $subject['IdSubject']?>" name="credit-<?php echo $subject['IdSubject']?>" value="<?php echo $subject['CreditHours']?>" />
                
			<?php } ?>
		</td>
		<?php } ?>
		<!-- /items -->
		<td align="left" width="110" height="40">
			<?php 
			
			
				
			if (!in_array($subject['IdSubject'], $this->registeredSubjects)) { ?>
			<a href="#" class="btn flat" id="btn-<?php echo $subject['IdSubject']?>" onclick="return addsubject(<?php echo $subject['IdSubject']?>)"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Register')?></a>
			<?php } else { 
				
				if( $this->reqType == 2){ //1=Course, 2=Credit
					$totalSubject = $totalSubject + $subject['CreditHours'];
				}elseif($this->reqType == 1){
					$totalSubject++;
				}
				
				?>
			<a href="<?php echo $this->baseUrl()?>/course-registration/index/manage" class="btn flat"><span class="icon icon-minus-circled"></span> <?php echo $this->translate('Drop')?></a>
			<?php 
			$itotal++;
			} ?>
		</td>
	</tr>
	<?php }//end prereqcheck?>
	<?php endforeach; 
	}else{
		echo "<tr><td>".$this->translate('No course offered')."</td></tr>";
	}?>
</table>
<?php if($this->subjects ){?>
<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate('Register')?>" name="submit" class="btn-submit" />
</div>
<?php }?>
</form>

<input type="hidden" name="reqType" id="reqType" value="<?php echo $this->reqType; ?>">
<input type="hidden" name="minReq" id="minReq" value="<?php echo $this->minReq; ?>">
<input type="hidden" name="maxReq" id="maxReq" value="<?php echo $this->maxReq; ?>">
<input type="hidden" name="totalReg" id="totalReg" value="<?php echo $totalSubject; ?>">
<input type="hidden" name="totalSubj" id="totalSubj" value="<?php echo $itotal; ?>">

<div id="dialog-schedule" title="Schedule">
</div>

<div id="dialog-credithour" title="Credit Hour">
</div>

<script type="text/javascript">
<?php jspack_start()?>
	var subjects_array = [];
    var subjects_array_selected = [];

	function addsubject(id)
	{
		$("#row-"+id).toggleClass('hlchk');

		if ( !$('#btn-'+id).hasClass('disabled') )
		{
			if ( $("#subject-"+id).length > 0 )
			{
				alert('You already added this course');
				return false;
			}

			$('#btn-'+id).html('<span class="icon icon-cancel"></span> Remove').addClass('disabled');
			$("#row-"+id).find('.item, .item-amount').show();

			$("#row-"+id+" .chk").each(function(){

				if ( $(this).data('mandatory') == '1' )
				{
					if ($("#row-"+id).data('prevtaken') == '1' && $(this).data('item') == 'LEC' )
					{
						$(this).prop('checked', false);
					}
					else
					{
						$(this).prop('checked', true);
					}
				}

				if ( $(this).prop('checked') === true )
				{
					$(this).next().show();
				}
			});


			 if ( $.inArray( id , subjects_array ) !==-1 )
			 {
				alert('<?php echo $this->translate('You cannot add the same course twice') ?>');
				return false;
			 }

			//successful
            if( $("#row-"+id).attr('type')!='Research' ) {
                subjects_array.push(id);
            }
            subjects_array_selected.push(id);

			$(".form-opt").before('<input type="hidden" class="subj" value="'+id+'" name="subject[]" id="subject-'+id+'" />');

			$(window).on('beforeunload', function(){
				return 'Are you sure you want to leave without saving?';
			});
			
		}
		else
		{
			if ( $("#subject-"+id).length > 0 )
			{
				 $("#subject-"+id).remove();
			}

			var i = subjects_array.indexOf(id);
			if(i != -1) {
				subjects_array.splice(i, 1);
			}

            var j = subjects_array_selected.indexOf(id);
            if(j != -1) {
                subjects_array_selected.splice(i, 1);
            }

			$('#btn-'+id).html('<span class="icon icon-plus-circled"></span> Register').removeClass('disabled');
			$("#row-"+id).find('.item, .item-amount, .item-section').hide();
		}

		return false;
	}

	function checkForm()
	{
		/*if ( sure() === false )
		{
			return false;
		}*/
		
		var error = 0;
		var msg = '';

		//go through selected subject
		var totalSubj = parseInt($("#totalSubj").val());
		var totalReg = parseInt($("#totalReg").val());
		selectedCourse = subjects_array_selected.length + totalSubj;
		if ( subjects_array_selected.length == 0)
		{
			error = 1;
			msg = 'You must select atleast one course to register';
		}


        var reqType = parseInt( $("#reqType").val() );  //1=Course, 2=Credit
        var minReq = parseInt( $("#minReq").val()) ;
        var maxReq = parseInt( $("#maxReq").val() );

        if(reqType==1){
            if(selectedCourse<minReq){
                alert('Please select at least '+minReq+' course(s).');
                return false;
            }else if(selectedCourse>maxReq) {
                alert('You can register maximum '+maxReq+' course(s) only.');
                return false;
            }
        }else if(reqType==2) {
            var total_credit_select = totalReg;
            
            for (var i = 0; i < subjects_array_selected.length; i++) {
                total_credit_select += parseInt( $(".credit-" + subjects_array_selected[i]+"").val() );
            }
//            alert(total_credit_select + ' - ' +minReq+' - '+maxReq );
            
            if(total_credit_select<minReq){
                alert('Please make sure you have meet the minimum credit hour '+minReq+'.');
                return false;
            }else if(total_credit_select>maxReq) {
                alert('You have reach the maximum credit hour ' + maxReq + '.');
                return false;
            }
        }


		for (var i = 0; i < subjects_array.length ; i++) 
		{
			$(".chk-"+subjects_array[i]+":checked").each( function(){
				var sch = $("#item-"+subjects_array[i]+"-"+$(this).val()).val();
				if ( sch == '' )
				{
					if(subjects_array[i] != '62'){ //GD5899 dah hardcode at the first place
						if ($(this).data('item') != 'EXAM')
						{
							error = 1;
							msg = 'You did not select a schedule  "'+$("#row-"+subjects_array[i]).data('subject')+' - '+$("#item-"+subjects_array[i]+"-"+$(this).val()).data('item')+'"'; 
						}
					}
				}
			});
		}

		
		if ( error == 1 )
		{
			alert( msg );
			return false;
		}

		$(window).unbind('beforeunload');

		return true;
	}

	function section(semester_id, subject_id,item_id)
	{
		$("#dialog-schedule").html('...');
		$('#dialog-schedule').load("/course-registration/ajax/section/idsubject/"+subject_id+"/idsemester/"+semester_id+'/item/'+item_id, function()
		{
			$('#dialog-schedule').dialog('open');
		});

		return false;
	}

    function dissertation(subject_id, student_reg_id, item_id)
    {
        $("#dialog-credithour").html('...');
        $('#dialog-credithour').load("/course-registration/ajax/dissertation/idsubject/"+subject_id+"/stdregid/"+student_reg_id+'/item/'+item_id, function()
        {
            $('#dialog-credithour').dialog('open');
        });

        return false;
    }

	function schedule(id,idsemester,idsubject,item_id)
	{
		$("#dialog-schedule").html('...');
		$('#dialog-schedule').load("/course-registration/ajax/schedule/id/"+id+"/idsemester/"+idsemester+"/idsubject/"+idsubject+'/item/'+item_id, function()
		{
			$('#dialog-schedule').dialog('open');
		});

		return false;
	}
	
	$(function(){

		$('.chk').on('change', function()
		{
			if ( $(this).prop('checked') === true)
			{
				$(this).next().fadeIn();
			}
			else
			{
				if ($(this).data('mandatory') != '1' )
				{
					$(this).next().fadeOut();
				}
			}

			//
		});

		$('.reqchk').on('change', function()
		{
			$(this).prop('checked', true);
			$(this).next().show();
		});


		$( "#dialog-schedule" ).dialog({
        modal: true,
        autoOpen: false,
        width: 650
      });

        $( "#dialog-credithour" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650
        });
	});
<?php jspack_output()?>
</script>

<style type="text/css">
.disabled .icon { color:red !important }
.chk { vertical-align:bottom }
.icon-plus-circled { color:#4ee555 !important }
.item-section { display:block; font-size:11px;  }
.regged td { background:#f8f8f8 !important; opacity:0.5; }
.regged td .btn.flat { background:none !important; border:none !important; }
.icon.req { color:#e0462d }
</style>

<?php } ?>