
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/course-registration"><?php echo $this->translate('Registration')?></a></li>
		<li><strong><?php echo $this->translate('Summary')?></strong></li>
	</ul>
	<div class="back"><a href="<?php echo $this->baseUrl()?>/course-registration/"><?php echo $this->translate('Back')?></a></div>
</div>
<div class="opt time float"><span class="icon icon-clock small"></span> Registered Date: <?php echo format_date($this->summary['created_date'],'full')?></div>

<table width="100%" class="maintable vtop">
	<tr>
		<th width="25"></th>
		<th width="25%"><?php echo $this->translate('Course Name')?></th>
		<th width="15%"><?php echo $this->translate('Course Code')?></th>
		<th><?php echo $this->translate('Registered Items')?></th>
        <th>&nbsp;</th>
	</tr>
	<?php $i = 0; ?>
	<?php foreach ( $this->subjectsById as $subject ) { $i++; ?>
	<tr>
		<td><?php echo $i?>.</td>
		<td class="upper"><?php echo $subject['SubjectName']?></td>
		<td><?php echo $subject['SubCode']?></td>
		<td width="200">
			<ol>
                <? if(!isset($this->data['item'][$subject['IdSubject']])): ?>
                <li>
                    <b>Credit Hour :</b> <?php echo $this->data['ec'][$subject['IdSubject']]['credit']; ?>
                </li>
                <? else: ?>
			<ul class="list">
				<?php foreach($this->data['item'][$subject['IdSubject']] as $item ) { ?>
				<li>
					<?php echo $this->itemsById[$item['item']] ?>
					
					<?php 
					$section = $this->subjectsById[$subject['IdSubject']][$item['item']]['section']; 
					$schedule = $this->subjectsById[$subject['IdSubject']][$item['item']]['schedule']; 
				
					if ( !empty($schedule) )
					{
					?>
					<span class="tooltip icon-calendar"></span>
					<div class="tooltiptext">
						<?php if($this->itemsById[$item['item']]['item_code'] != 'EXAM'){?>
						<p><strong>Lecturer</strong>: <?php echo $section['FullName']?></p>
						<table width="100%" class="table">
							<tr>
								<th><?php echo $this->translate('Venue')?></th>
								<th><?php echo $this->translate('Date')?></th>
								<th><?php echo $this->translate('Day')?></th>
								<th><?php echo $this->translate('Start Time')?></th>
								<th><?php echo $this->translate('End Time')?></th>
							</tr>
							<?php if  ( !empty($schedule) ) : ?>
							<?php foreach ( $schedule  as $sch ) : ?>
							<tr>
								<td><?php echo $sch['DefinitionDesc']?></td>
								<td><?php echo format_date($sch['sc_date'])?></td>
								<td><?php echo $sch['sc_day']?></td>
								<td><?php echo $sch['sc_start_time']?></td>
								<td><?php echo $sch['sc_end_time']?></td>
							</tr>
							<?php endforeach; ?>
							<?php else: ?>
							<tr>
								<td colspan="5"><?php echo $this->translate('No schedule found')?></td>
							</tr>
							<?php endif; ?>
						</table>
						<?php }else{?>
									
									<table width="100%" class="table">
										<tr>
											<th>Date</th>
											<th>Time</th>
										</tr>
										<?php if  ( !empty($schedule) ) { ?>
										
										<tr>
											<td><?php echo format_date($schedule['es_date'])?></td>
											<td><?php echo $schedule['es_start_time'].'-'.$schedule['es_end_time']?></td>
										</tr>
										<?php }else{?>
										<tr>
											<td colspan="2"><?php echo $this->translate('No schedule found')?></td>
										</tr>
										<?php }?>
									</table>
						
									<?php }?>
					</div>
					<?php
					}
					?>

					<br />
					<?php if($this->subjectsById[$subject['IdSubject']][$item['item']]['amount'] != 0){?>
					<span class="amount"><small><?php echo $this->subjectsById[$subject['IdSubject']][$item['item']]['currency']?> <?php echo $this->subjectsById[$subject['IdSubject']][$item['item']]['amount']?></small></span>
					<?php }?>
				</li>
                <?php } ?>
                <? endif; ?>
			</ol>
		</td>
		<td>
			<ol>
            <? if(!isset($this->data['item'][$subject['IdSubject']])): ?>
            <? else: ?>
			<?php foreach($this->data['item'][$subject['IdSubject']] as $item ) { 

			$section = $this->subjectsById[$subject['IdSubject']][$item['item']]['section']; 
			$schedule = $this->subjectsById[$subject['IdSubject']][$item['item']]['schedule']; 
		
			if ( !empty($schedule) )
			{
			?>
			<li>			
				<span class="tooltip">Schedule</span>
				<div class="tooltiptext">
					<p><strong>Lecturer</strong>: <?php echo $section['FullName']?></p>
					<table width="100%" class="table">
						<tr>
							<th><?php echo $this->translate('Venue')?></th>
							<th><?php echo $this->translate('Date')?></th>
							<th><?php echo $this->translate('Day')?></th>
							<th><?php echo $this->translate('Start Time')?></th>
							<th><?php echo $this->translate('End Time')?></th>
						</tr>
						<?php if  ( !empty($schedule) ) : ?>
						<?php foreach ( $schedule  as $sch ) : ?>
						<tr>
							<td><?php echo $sch['DefinitionDesc']?></td>
							<td><?php echo $sch['sc_date']?></td>
							<td><?php echo $sch['sc_day']?></td>
							<td><?php echo $sch['sc_start_time']?></td>
							<td><?php echo $sch['sc_end_time']?></td>
						</tr>
						<?php endforeach; ?>
						<?php else: ?>
						<tr>
							<td colspan="5"><?php echo $this->translate('No schedule found')?></td>
						</tr>
						<?php endif; ?>
					</table>
				</div>
				<!-- <span class="tooltip"><span class="icon icon-info-circled"></span></span> <span class="tooltiptext">Selected Group Schedule</span> -->
			</li>
			<?php 
			} 
			
			}
			?>
            <? endif; ?>
			</ol>
		</td>
	</tr>
	<?php } ?>
</table>

<style type="text/css">
td ul li { margin-bottom:5px; }
td ul li .icon-calendar { color:#ccc; margin-left:5px;}
td ul li .icon-calendar:hover { color:#e24444 }
td ul li .amount { margin-left:20px; }
.icon.small { font-size:13px; color:#cecece; }
small { font-size:11px; color:#999; }
</style>