<script type="text/javascript">
    $(function() {
        $('#ec_start_date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            //maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y")+100; ?>',
            //defaultDate: new Date(<?php date("Y"); ?>),
            onClose: function( selectedDate ) {
                $( "#ec_end_date" ).datepicker( "option", "minDate", selectedDate );
            }
        });

        $('#ec_end_date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            //maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y")+100; ?>',
            //defaultDate: new Date(<?php date("Y"); ?>),
            onClose: function( selectedDate ) {
                $( "#ec_start_date" ).datepicker( "option", "maxDate", selectedDate );
            }
        });

        $('#ec_idSemester').attr('disabled', '');
        $('#ec_idActivity').attr('disabled', '');
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'exam-calendar', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->title; ?></legend>
    <form method="post" id="add_form" name="add_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->ec_idSemester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Activity'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->ec_idActivity; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Start Date'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->ec_start_date; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('End Date'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->ec_end_date; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" name="add" id="add" value="add"><?php echo $this->translate('Save'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>