<?php 
	set_time_limit(0);
	ini_set('memory_limit','1024M');
?>
<style type="text/css">	
	.tbl{
		border-collapse:separate;
    	border-spacing:0 5px;
	}
	
	input[type='text']{
		width: 150px;
	}
		
	input.rwrt{
		width: 50px;
	}
	
	#preview-label,#remove_header-label{
		width:150px;
	}
	#preview-element{
		padding-left: 160px;
	}
	
	#remove_header-element{
		padding-left: 160px;
	}
</style>

<script type="text/javascript">
$(function() {
	$( "#dialog-upload-csv" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                
                if($('#preview').is(':checked')){
                    
                }else{
                	 $('#dialog-upload-csv form').attr('action','/studentfinance/burekol/save-import/direct/1');
                }
                //$( this ).dialog( "close" );
                //$('#dialog-upload-csv form').attr('action','/application/batch-agent/upload-csv');
                $('#dialog-upload-csv form').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });

	$( ".datepicker" ).datepicker({
		maxDate: "0",
		"dateFormat" : 'yy-mm-dd',
		changeMonth: true,
	    changeYear: true 
	});
	
});

function uploadCSV(){
	$( "#dialog-upload-csv" ).dialog('open');
}

function change_country(element,address_option){
	
	var country_id = $(element).val();
	var element_city = null;

	if(address_option=='permanent'){
    	element_city = $(element).parent().parent().next().find('td:nth-child(2)').find('select[name="appl_state[]"]');
    }else{
    	element_city = $(element).parent().parent().next().find('td:nth-child(2)').find('select[name="appl_cstate[]"]');			    
    }

	$.ajax({
	    url: "/ajax-utility/get-state",
	    type: "POST",
	    dataType: "json",
	    data: {"country_id": country_id},
	    cache : true,
	    success: function(data){
		    
		    $(element_city).empty();
	    	$(element_city).append('<option value="">Please Select</option>');

	    	$(element_city).empty();
	    	$(element_city).append('<option value="">Please Select</option>');
	    	
	    	$.each(data, function(index) {
	    		$(element_city).append('<option value="'+data[index].idState+'">'+data[index].StateName+'</option>');	
	    	});
	    
	    },
	    error: function(error){
	         console.log("Error:");
	         console.log(error);
	    },
	    beforeSend: function() {
	    	showLoading(element_city,element_city,'loading');
		},
		complete: function() {
			hideLoading('loading',element_city);
		}
	});
}

function change_state(element,address_option){

	var state_id = $(element).val();

	if(address_option=='permanent'){
		var city_element =  $(element).parent().parent().next().find('td:nth-child(2)').find('select[name="appl_city[]"]');
	}else{
		var city_element =  $(element).parent().parent().next().find('td:nth-child(2)').find('select[name="appl_ccity[]"]');
	}
		
	$.ajax({
	    url: "/ajax-utility/get-city",
	    type: "POST",
	    dataType: "json",
	    data: {"state_id": state_id},
	    cache : true,
	    success: function(data){
	    	
	    	$(city_element).empty();
	    	$(city_element).append('<option value="">Please Select</option>');
	    	
	    	$.each(data, function(index) {
	    		$(city_element).append('<option value="'+data[index].idCity+'">'+data[index].CityName+'</option>');	
	    	});
	    },
	    error: function(error){
	         console.log("Error:");
	         console.log(error);
	    },
	    beforeSend: function() {
	    	showLoading(city_element,city_element,'loading');
		},
		complete: function() {
			hideLoading('loading',city_element);
		}
	});
}

function showLoading(target,target_div,loading_id){
	$(target).hide();
	$(target_div).after("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(loading_id,target){
	$('#'+loading_id).remove();
	$(target).show();
}
</script>

<style type="text/css">
	.zend_form input[type="text"].num{
		width: 50px;	
	}
	
	#name_start-label, #name_end-label, 
	#id_start-label, #id_end-label,
	#pt_code_start-label, #pt_code_end-label,
	#q_code_start-label, #q_code_end-label,
	#q_start-label, #q_end-label,
	#key_mapping_name-label, #key_mapping_id-label,
	.zend_form dt{
		width: 85px	
	}
	
	#name_start-element, #name_end-element, 
	#id_start-element, #id_end-element,
	#pt_code_start-element, #pt_code_end-element,
	#q_code_start-element, #q_code_end-element,
	#q_start-element, #q_end-element,
	#key_mapping_name-element, #key_mapping_id-element,
	.zend_form dd{
		padding: 0 0 0 90px;
    	width: 70px;
	}
	
	div.left{
		width: 145px; float:left;
	}
	div.right{
		width: 145px; float:left;
	}
	
	.hint{
		clear: both;
		margin: 15px 0 0;
	}
	h1{
		font-size: 11px;
		font-weight: 200;
		font-style: italic;		
	}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="search" href="#" onclick="javascript:downloadCSV()">
					<span class='download'></span>
					<?php echo $this->translate("Download Template"); ?>
				</a>
			</li>
			<li>
				<a id="search" href="#" onclick="javascript:uploadCSV()">
					<span class='upload_omr'></span>
					<?php echo $this->translate("Upload CSV"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<form method="post" action="/studentfinance/burekol/save-import">
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Bil."); ?></th>
			<th><?php echo $this->translate("NIM"); ?></th>
			<th><?php echo $this->translate("Nama"); ?></th>
			<th><?php echo $this->translate("Nama dikartu"); ?></th>
			<th><?php echo $this->translate("Warganegara"); ?></th>
			<th><?php echo $this->translate("Agama"); ?></th>
			<th><?php echo $this->translate("Taggal Lahir"); ?></th>
			<th><?php echo $this->translate("Tempat Lahir"); ?></th>
			<th><?php echo $this->translate("Jenis Kelamin"); ?></th>
			<th><?php echo $this->translate("Status Perkawinan"); ?></th>
			<th><?php echo $this->translate("Nama Gadis"); ?></th>
			<th><?php echo $this->translate("Alamat"); ?></th>
			<th><?php echo $this->translate("Alamat Terkini"); ?></th>
			<th><?php echo $this->translate("Telephon"); ?></th>
			<th><?php echo $this->translate("Email"); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
			if(isset($this->data)){
				for ($i=0; $i<25; $i++):
				//for ($i=0; $i<sizeof($this->data); $i++):
				
					$data = $this->data[$i];
		?>
		<tr>
			<td valign="top"><?php echo $i+1; ?></td>
			<td valign="top"><input type="text" name="nim[]" value="<?php echo $data['nim']; ?>" placeholder="NIM" /></td>
			<td valign="top">
				<input type="text" name="appl_name[]" value="<?php echo $data['appl_fname']; ?>" placeholder="Nama Awal" />
				<br />
				<input type="text" name="appl_mname[]" value="<?php echo $data['appl_mname']; ?>" placeholder="Nama Tengah" />
				<br />
				<input type="text" name="appl_lname[]" value="<?php echo $data['appl_lname']; ?>" placeholder="Nama Akhir" />
			</td>
			<td valign="top"><input type="text" name="appl_name_kartu[]" value="<?php echo $data['appl_name_kartu']; ?>" placeholder="Nama dikartu" maxlength="16" /></td>
			<td valign="top">
				<select id="country" name="appl_nationality[]">
					<?php
					foreach($this->countryList as $country):
						$select = "";
						if($data['appl_nationality']==$country['CountryIso']){
							$select = "selected='selected'";
						}
					?>
					<option value="<?php echo $country['idCountry']; ?>" <?php echo $select; ?>><?php echo $country['CountryIso']; ?></option>
					<?php endforeach;?>
				</select>
			</td>
			<td valign="top">
				<Select name="appl_religion[]">
					<option value="null"><?php echo $this->translate("Please Select"); ?></option>
					<?php 
					foreach ($this->religionList as $religion){
						$select = "";
						if($data['appl_religion']==$religion['ssd_seq']){
							$select = "selected='selected'";
						}
					?>
					<option value="<?php echo $religion['ssd_id']; ?>" <?php echo $select; ?>><?php echo $religion['ssd_name_bahasa']; ?></option>
					<?php }?>
				</Select>
			</td>
			<td valign="top"><input type="text" name="appl_dob[]" class="datepicker" value="<?php echo $data['appl_dob']; ?>" placeholder="YYYY-MM-DD" /></td>
			<td valign="top"><input type="text" name="appl_birth_place[]" value="<?php echo $data['appl_birth_place']; ?>" placeholder="Tempat Lahir" /></td>
			<td valign="top">
				<Select name="appl_gender[]">
					<option value="1" <?php echo $data['appl_gender']==1?"selected='selected'":""; ?>>Laki-laki</option>
					<option value="2" <?php echo $data['appl_gender']==2?"selected='selected'":""; ?>>Perempuan</option>
				</Select>
			</td>
			<td valign="top">
				<Select name="appl_marital_status[]">
					<option value="null"><?php echo $this->translate("Please Select"); ?></option>
					<?php 
					foreach ($this->maritalList as $marital){
						$select = "";
						if($data['appl_marital_status']==$marital['ssd_seq']){
							$select = "selected='selected'";
						}
					?>
					<option value="<?php echo $marital['ssd_id']; ?>" <?php echo $select; ?>><?php echo $marital['ssd_name_bahasa']; ?></option>
					<?php }?>
				</Select>
			</td>
			<td valign="top"><input type="text" name="af_name[]" value="<?php echo $data['af_name']; ?>" placeholder="Nama Ibu" /></td>
			<td valign="top">
				<table>
						<tr>
							<td><?php echo $this->translate("Rukun Warga / Rukun Tetangga"); ?></td>
							<td>
								<input type="text" class="rwrt" name="appl_address_rw[]" value="<?php echo $data['appl_address_rw']!=null?$data['appl_address_rw']:""; ?>" placeholder="RW" />
								<input type="text" class="rwrt" name="appl_address_rt[]" value="<?php echo $data['appl_address_rt']!=null?$data['appl_address_rt']:""; ?>" placeholder="RT" />
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Jalan"); ?></td>
							<td>
								<input type="text" name="appl_address1[]" value="<?php echo $data['appl_address1']; ?>" placeholder="Jalan" />
								<!--
								<input type="text" name="appl_address2[]" value="<?php echo $data['appl_address2']; ?>" placeholder="Jalan 2" />
								-->
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Negara"); ?></td>
							<td>
								<select id="country" name="appl_province[]" onchange="change_country(this,'permanent');">
									<option value="null"><?php echo $this->translate("Please Select"); ?></option>
									<?php
									foreach($this->countryList as $country):
										$select = "";
										if($data['appl_province']==$country['idCountry']){
											$select = "selected='selected'";
										}
									?>
									<option value="<?php echo $country['idCountry']; ?>" <?php echo $select; ?>><?php echo $country['CountryName']; ?></option>
									<?php endforeach;?>
								</select>
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Propinsi"); ?></td>
							<td>
								<select id="state" name="appl_state[]" onchange="change_state(this,'permanent');">
									<option value="null"><?php echo $this->translate("Please Select"); ?></option>
									<?php 
									foreach($this->stateList as $state):
										$select = "";
										if($data['appl_state']==$state['idState']){
											$select = "selected='selected'";
										}	
									?>
									<option value="<?php echo $state['idState']; ?>" <?php echo $select; ?>><?php echo $state['StateName']; ?></option>
									<?php endforeach;?>
								</select>
							</td>
						</tr>
						
						<tr>
							<td><?php echo $this->translate("Kabupaten"); ?></td>
							<td>
								<select id="city" name="appl_city[]">
									<option value="null"><?php echo $this->translate("Please Select"); ?></option>
									<?php 
									foreach($this->cityList as $city):
										$select = "";
										if($data['appl_city']==$city['idCity']){
											$select = "selected='selected'";
										}
									?>
									<option value="<?php echo $city['idCity']; ?>" <?php echo $select; ?>><?php echo $city['CityName']; ?></option>
									<?php endforeach;?>
								</select>
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Kecamatan"); ?></td>
							<td>
								<input type="text" name="appl_kecamatan[]" value="<?php echo $data['appl_kecamatan']; ?>" />
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Kelurahan"); ?></td>
							<td>
								<input type="text" name="appl_kelurahan[]" value="<?php echo $data['appl_kelurahan']; ?>" />
							</td>
						</tr>
						<tr>
							<td><?php echo $this->translate("Kode Pos"); ?></td>
							<td>
								<input type="text" name="appl_postcode[]" value="<?php echo $data['appl_postcode']; ?>" placeholder="Postcode" />
							</td>
						</tr>
					</table>
			</td>
			<td valign="top">
				<table>
					<tr>
						<td><?php echo $this->translate("Rukun Warga / Rukun Tetangga"); ?></td>
						<td>
							<input type="text" class="rwrt" name="appl_caddress_rw[]" value="<?php echo $data['appl_caddress_rw']!=null?$data['appl_caddress_rw']:""; ?>" placeholder="RW" />
							<input type="text" class="rwrt" name="appl_caddress_rt[]" value="<?php echo $data['appl_caddress_rt']!=null?$data['appl_caddress_rt']:""; ?>" placeholder="RT" />
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Jalan"); ?></td>
						<td>
							<input type="text" name="appl_caddress1[]" value="<?php echo $data['appl_caddress1']; ?>" placeholder="Jalan" />
							<!-- 
							<input type="text" name="appl_caddress2[]" value="<?php echo $data['appl_caddress2']; ?>" placeholder="Jalan 2" />
							 -->
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Negara"); ?></td>
						<td>
							<select id="country" name="appl_cprovince[]" onchange="change_country(this,'current');">
								<option value="null"><?php echo $this->translate("Please Select"); ?></option>
								<?php
								foreach($this->countryList as $country):
									$select = "";
									if($data['appl_cprovince']==$country['idCountry']){
										$select = "selected='selected'";
									}
								?>
								<option value="<?php echo $country['idCountry']; ?>" <?php echo $select; ?>><?php echo $country['CountryName']; ?></option>
								<?php endforeach;?>
							</select>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Propinsi"); ?></td>
						<td>
							<select id="cstate" name="appl_cstate[]" onchange="change_state(this,'current');">
								<option value="null"><?php echo $this->translate("Please Select"); ?></option>
								<?php 
								foreach($this->stateList as $state):
									$select = "";
									if($data['appl_cstate']==$state['idState']){
										$select = "selected='selected'";
									}	
								?>
								<option value="<?php echo $state['idState']; ?>" <?php echo $select; ?>><?php echo $state['StateName']; ?></option>
								<?php endforeach;?>
							</select>
						</td>
					</tr>
					
					<tr>
						<td><?php echo $this->translate("Kabupaten"); ?></td>
						<td>
							<select id="ccity" name="appl_ccity[]">
								<option value="null"><?php echo $this->translate("Please Select"); ?></option>
								<?php 
								foreach($this->cityList as $city):
									$select = "";
									if($data['appl_ccity']==$city['idCity']){
										$select = "selected='selected'";
									}
								?>
								<option value="<?php echo $city['idCity']; ?>" <?php echo $select; ?>><?php echo $city['CityName']; ?></option>
								<?php endforeach;?>
							</select>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Kecamatan"); ?></td>
						<td>
							<input type="text" name="appl_ckecamatan[]" value="<?php echo $data['appl_ckecamatan']; ?>" />
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Kelurahan"); ?></td>
						<td>
							<input type="text" name="appl_ckelurahan[]" value="<?php echo $data['appl_ckelurahan']; ?>" />
						</td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Kode Pos"); ?></td>
						<td>
							<input type="text" name="appl_cpostcode[]" value="<?php echo $data['appl_cpostcode']; ?>" placeholder="Postcode" />
						</td>
					</tr>
				</table>
			</td>
			<td valign="top">
				<input type="text" name="appl_phone_home[]" value="<?php echo $data['appl_phone_home']; ?>" placeholder="Telp Rumah" />
				<input type="text" name="appl_phone_mobile[]" value="<?php echo $data['appl_phone_mobile']; ?>" placeholder="Telp HP" />
			</td>
			<td valign="top"><input type="text" name="appl_email[]" value="<?php echo $data['appl_email']; ?>" placeholder="Email" /></td>
		</tr>
		<?php
			endfor; 
		}else{
		?>
		<tr>
			<td colspan="14">&nbsp;</td>
		</tr>
		<?php 
		}
		?>
	</tbody>
</table>
<?php if(isset($this->data)){?>
	<div style="margin: 0 auto; width: 100px;">
		<input type="submit" value="<?php echo $this->translate("Save"); ?>" />
	</div>
<?php }?>
</form>

<div id="dialog-upload-csv" title="<?php echo $this->translate("Upload CSV"); ?>">
    <?php echo $this->form; ?>
    <small>*- Preview will works for file with less than 25 rows</small>
</div>