<script type="text/javascript">
  
	function export_excel(){

		var intake = $('#intake').val()
 		var faculty = $('#faculty').val()
 		var verified = $('#verified').val()
 		
 		$('#intake_export').val(intake);
		$('#faculty_export').val(faculty);
		$('#verified_export').val(verified);
 		
 		$('#form_export_excel').submit();
		/*$.ajax({
		      url: "/studentfinance/burekol/export-excel",
		      type: "post",
		      data: {'intake':intake},
		      success: function(data){
				
		      },
		      error:function(){
		          alert("Error occurs");
		      }   
		}); */
	}

	function clear_result(){
		$('#result>tbody').html('<tr><td colspan="8">Loading...</td></tr>'); 
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="print" href="#" onclick="export_excel();">
					<span class='csv'></span>
					<?php echo $this->translate("Export CSV"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Filter');?>
	</legend>
	<form name="filter_form" id="filter_form" method="post">
	<table>
		<tr>
			<td><?php echo $this->translate('Intake');?></td>
			<td>:</td>
			<td>
				<select name="intake" id="intake" onchange="clear_result(); $('#filter_form').submit();">
					<?php 
						
						foreach ($this->intakeList as $intake):
							$select = "";
							if($intake['IdIntake']==$this->intake){
								$select = "selected='selected'";
							}
					?>
						<option value="<?php echo $intake['IdIntake']; ?>" <?php echo $select;?> ><?php echo $intake['IntakeId']; ?></option>
					<?php 
						endforeach;
					?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Faculty');?></td>
			<td>:</td>
			<td>
				<select name="faculty" id="faculty" onchange="clear_result(); $('#filter_form').submit();">
					<option value="0"> -- All -- </option>
					<?php 
						
						foreach ($this->facultyList as $faculty):
							$select = "";
							if($faculty['IdCollege']==$this->faculty_id){
								$select = "selected='selected'";
							}
					?>
						<option value="<?php echo $faculty['IdCollege']; ?>" <?php echo $select;?> ><?php echo $faculty['ArabicName']; ?></option>
					<?php 
						endforeach;
					?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Verified');?></td>
			<td>:</td>
			<td>
				<select name="verified" id="verified" onchange="clear_result();  $('#filter_form').submit();">
					<option value="0"> -- All -- </option>
					<option value="1" <?php echo $this->verified==1?"selected='selected'":"";?> >Yes</option>
					<option value="2" <?php echo $this->verified==2?"selected='selected'":"";?> >No</option>
				</select>
			</td>
		</tr>
	</table>
	</form>
</fieldset>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Bil");?></th>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("NIM");?></th>
			<th><?php echo $this->translate("Intake");?></th>
			<th><?php echo $this->translate("Registration Date");?></th>
			<th><?php echo $this->translate("Program");?></th>
			<th><?php echo $this->translate("Faculty");?></th>
			<th><?php echo $this->translate("Verified");?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
			if($this->studentList){
			$i=1;
			foreach($this->studentList as $student):
		?>
		<tr>
			<td><?php echo $i;?>.</td>
			<td>
				<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":""; ?>
				<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":"";?>
				<?php echo $student['appl_lname']!=null?$student['appl_lname']." ":"";?>
			</td>
			<td><?php echo $student['registrationId'];?></td>
			<td><?php echo $student['IntakeId'];?></td>
			<td><?php echo date('d-m-Y H:i a',strtotime($student['UpdDate']));?></td>
			<td><?php echo $student['ArabicName'];?></td>
			<td><?php echo $student['faculty_name'];?></td>
			<td align="center"><?php echo isset($student['burekol_verify_date']) && $student['burekol_verify_date']!=null?"Yes":"No";?></td>
		</tr>
		<?php 
			$i++;
			endforeach;
			}else{
		?>
		<tr>
			<td colspan="8" align="center">No Record Available</td>
		</tr>
		<?php 
			}
		?>
	</tbody>
</table>
<br />
<form id="form_export_excel" action="/studentfinance/burekol/export-excel" method="post" target="_BLANK">
	<input type="hidden" name="intake" id="intake_export" value="" />
	<input type="hidden" name="faculty" id="faculty_export" value="" />
	<input type="hidden" name="verified" id="verified_export" value="" />
</form>