<input type='hidden' name='type' id='type' value='ict'>
<table class="" width="100%" align='center' cellpadding='10' cellspacing='10'>	
    <tr>
    	<td>Removed email address from the group</td>  
    	<td></td>    	
    </tr>    
    <tr>
    	<td>Approval Status</td>   
    	<td>
    	<input type="radio" name="ict_status" value='1' <?php echo $this->ict['ict_status']==1 ? 'checked':''; ?>>Approve
    	<input type="radio" name="ict_status" value='0' <?php echo $this->ict['ict_status']==0 ? 'checked':''; ?>>Reject
    	</td>    	
    </tr>
     <tr>
    	<td>Remarks</td>   
    	<td>
    	<textarea name='ict_remarks' id='ict_remarks'><?php echo $this->ict['ict_remarks']; ?></textarea>
    	</td>    	
    </tr>
    </table>