<script type="text/javascript">
    function getProgramScheme(element){
        
        var program_id = document.getElementById('IdProgram').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('IdProgramScheme');
            },
            complete: function() {
                hideLoading('IdProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'</option>';
            });
            $('#IdProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }

    function showLoading(target){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function searchbox(){
        $('#search_form').toggle();
        $("#stats_box").toggle();

        return false;
    }
    
    /*function checkall(){
        if($('input[name="checkall"]:checked').val()==1){
            $('.dropstudentprofile').removeAttr('disabled');
            $('.dropstudentprofile').attr('required', true);
            $('.dropstudentsemester').removeAttr('disabled');
            $('.dropstudentsemester').attr('required', true);
            $('.remark').removeAttr('disabled');
            $('.remark').attr('required', true);
            //$('.checkbox').attr('checked', true);
            $('.checkbox').each(function() {
                if(this.disabled==false){
                    $(this).prop('checked',true);
                }
            });
        }else{
            $('.dropstudentprofile').removeAttr('required');
            $('.dropstudentprofile').attr('disabled', true);
            $('.dropstudentsemester').removeAttr('required');
            $('.dropstudentsemester').attr('disabled', true);
            $('.remark').removeAttr('required');
            $('.remark').attr('disabled', true);
            $('.checkbox').removeAttr('checked');
        }
    }*/
    
    $(function () {
        var str = "";
        $('#checkall').click(function () {	
            var isChecked = $('#checkall').is(':checked');
            
            if(isChecked==true){			 
                $('.dropstudentprofile').removeAttr('disabled');
                $('.dropstudentprofile').attr('required', true);
                $('.dropstudentsemester').removeAttr('disabled');
                $('.dropstudentsemester').attr('required', true);
                $('.remark').removeAttr('disabled');
                $('.remark').attr('required', true);
                $('.checkbox').each(function() {
                    if(this.disabled==false){
                        $(this).prop('checked',true);
                    }
                });
            }else{
                $('.dropstudentprofile').removeAttr('required');
                $('.dropstudentprofile').attr('disabled', true);
                $('.dropstudentsemester').removeAttr('required');
                $('.dropstudentsemester').attr('disabled', true);
                $('.remark').removeAttr('required');
                $('.remark').attr('disabled', true);
                $('.checkbox').removeAttr('checked');
            }
        });
    });
    
    function checksingle(id){
        if($('input[id="check'+id+'"]:checked').val()==1){
            $('#profileStatus'+id).removeAttr('disabled');
            $('#profileStatus'+id).attr('required', true);
            $('#semStatus'+id).removeAttr('disabled');
            $('#semStatus'+id).attr('required', true);
            $('#remark'+id).removeAttr('disabled');
            $('#remark'+id).attr('required', true);
        }else{
            $('#profileStatus'+id).removeAttr('required');
            $('#profileStatus'+id).attr('disabled', true);
            $('#semStatus'+id).removeAttr('required');
            $('#semStatus'+id).attr('disabled', true);
            $('#remark'+id).removeAttr('required');
            $('#remark'+id).attr('disabled', true);
        }
    }
</script>
<style type="text/css">
    .dropstudentprofile{
        width:100px;
    }
    .remark{
        width:100px;
    }
    .dropstudentsemester{
        width:100px;
    }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="return searchbox()">
                <span class='search'></span>
                <?php echo $this->translate('Search')?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <?php echo  $this->form;?>
</fieldset>
<br/>
<?php
if ($this->paginator){
?>
<form id="form1" name="form1" method="POST" action="<?php echo $this->url(array('module'=>'records','controller'=>'terminate-student', 'action'=>'terminate'),'default',true);?>">
<table class="table" width="100%">
    <thead>
        <tr>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Current Profile Status'); ?></th>
            <th><?php echo $this->translate('Current Semester Status'); ?></th>
            <th><?php echo $this->translate('New Profile Status'); ?></th>
            <th><?php echo $this->translate('New Semester Status'); ?></th>
            <th><?php echo $this->translate('Remarks'); ?></th>
            <th>
                <?php echo $this->translate('Edit?'); ?><br/>
                <input type="checkbox" name="checkall" id="checkall" value="1">
            </th>
            <th><?php echo $this->translate('Clearance'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->paginator as $list){
        ?>
        <tr>
            <td><?php echo $list['appl_fname'].' '.$list['appl_lname']; ?></td>
            <td align="center"><?php echo $list['registrationId']; ?></td>
            <td><?php echo $list['ProgramName']; ?></td>
            <td align="center"><?php echo $list['profileStatusName']; ?></td>
            <td align="center"><?php echo $list['semStatus']; ?></td>
            <td align="center">
                <?php
                if ($list['profileStatus']==92){
                $var = 94;
                ?>
                <select disabled="" onchange="" class="select dropstudentprofile" id="profileStatus<?php echo $list['IdStudentRegistration']; ?>" name="profileStatus[<?php echo $list['IdStudentRegistration']; ?>]">
                    <option label="Terminated" value="94">Terminated</option>
                </select>
                <?php
                }else if($list['profileStatus']==94){
                $var = 92;
                ?>
                <select disabled="" onchange="" class="select dropstudentprofile" id="profileStatus<?php echo $list['IdStudentRegistration']; ?>" name="profileStatus[<?php echo $list['IdStudentRegistration']; ?>]">
                    <option label="Active" value="92">Active</option>
                </select>
                <?php
                }
                ?>
            </td>
            <td align="center">
                <?php
                $model = new Records_Model_DbTable_TerminateStudent();
                $semStatus = $model->semesterStatusOption($var);
                ?>
                <select disabled="" onchange="" class="select dropstudentsemester" id="semStatus<?php echo $list['IdStudentRegistration']; ?>" name="semStatus[<?php echo $list['IdStudentRegistration']; ?>]">
                    <?php 
                    if (count($semStatus) > 1){
                    ?>
                    <option label="--Please Select--" value="">--Please Select--</option>
                    <?php
                    }
                    if ($semStatus){
                    foreach ($semStatus as $semStatusLoop){
                    ?>
                    <option label="<?php echo $semStatusLoop['DefinitionDesc']; ?>" value="<?php echo $semStatusLoop['pst_semesterstatus']; ?>"><?php echo $semStatusLoop['DefinitionDesc']; ?></option>
                    <?php
                    }
                    }
                    ?>
                </select>
            </td>
            <td align="center">
                <input disabled="" class="input-txt remark" type="text" name="remark[<?php echo $list['IdStudentRegistration']; ?>]" id="remark<?php echo $list['IdStudentRegistration']; ?>" placeholder="Remarks...">
            </td>
            <td align="center">
                <input class="checkbox" type="checkbox" name="check[<?php echo $list['IdStudentRegistration']; ?>]" id="check<?php echo $list['IdStudentRegistration']; ?>" value="1" onchange="checksingle(<?php echo $list['IdStudentRegistration']; ?>);">
            </td>
            <td align="center">
                <?php
                if($list['profileStatus']==94) {
                    ?>
                    <a href="<?php echo $this->url(array('module' => 'records', 'controller' => 'terminate-student', 'action' => 'clearence', 'id' => $list['IdStudentRegistration']), 'default', true); ?>"><?php echo $this->translate('Edit Clearance'); ?></a>
                    <?php
                }
                ?>
            </td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<div class="form-opt">
    <input type="submit" class="btn-submit" value="Save" id="save" name="Save">			
</div>
</form>
<?php
}
?>