<div class="message toolbar">
    <h2><?php echo $this->translate("Scholarship Academic Weightage"); ?></h2>
</div>
<br />


<form id="myForm" action="" method="post" name="myForm"  data-parsley-validate>
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Academic")  ;?></td>
            <td><input type="text" name="academicweight[name]" required ></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="text" name="academicweight[score]"  required></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>