<div class="message toolbar">
	<h2><?php echo $this->translate('Scholarship Academic Weightage'); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <?php
                $add_url = $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship-academic-weight', 'action' => 'add'), 'default', true);
                ?>
                <a href="<?php echo $add_url; ?>">
                    <span class='add'></span>
                    <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<table class="table" width="100%" cellpadding="3" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Academic");?></th>
        <th><?php echo $this->translate("Score"); ?></th>
        <th></th>
    </tr>
    <?php foreach ($this->academicweights as $academicweight): ?>
    <tr>
        <td>
            <?php echo $academicweight->name; ?>
        </td>
        <td align="center"><?php echo $academicweight->score; ?></td>
        <td class="options" align="center">
            <?php
                $edit_url = $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship-academic-weight', 'action' => 'edit', 'id' => $academicweight->id), 'default', true);
                $delete_url = $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship-academic-weight', 'action' => 'delete', 'id' => $academicweight->id), 'default', true);
            ?>
            <a href='<?php echo $edit_url;?>'><?php echo $this->translate('Edit'); ?></a>
            |
            <a href='<?php echo $delete_url;?>'><?php echo $this->translate('Delete'); ?></a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>