<div class="message toolbar">
    <h2><?php echo $this->translate("Definition Maintenance"); ?></h2>
    <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'maintenance', 'action'=>'newdefinitionms'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
            <!--li>
                <a href="#" >
    <span class='info'></span>
    <?php //echo $this->translate("Info");?>
    </a>
            </li>-->
        </ul>
    </div>
</div>
<br>

<div id="searchDiv">
	<fieldset>
	<legend><?php echo $this->translate("Search");?></legend>
	<div class="search">
	<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/generalsetup/maintenance/index/search/1" method="POST"  name= "form1" id= "form1">
	<script type="dojo/method" event="onSubmit">
	  if (this.validate()) {
		return true;
	} else {
		return false;}
	</script>
	<table width="100%">
		<tr>
			<td class="label" style="width:250px"><?php echo $this->translate("Definition Type Description");?></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjSearchForm->field3;?></td>
		</tr>
		<tr>
			<td class="label" style="width:250px"><?php echo $this->defaultlanguage;?></td>
			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjSearchForm->field4;?></td>
		</tr>
		<tr>
	   <td align = "center" colspan = "4">
			<?php echo $this->lobjMaintenanceForm->Search;?>
			
			<?php echo $this->lobjMaintenanceForm->Clear;?>
	   </td>
	 </tr>
	</table>
	</form>	
		</div>
	</fieldset> 
	 <br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th width="30%"><?php echo $this->translate("Definition Type");?></th>
		<th ><?php echo $this->defaultlanguage;?></th>
	</tr>
	<?php if (count($this->paginator)): 
		foreach ($this->paginator as $lobjMaintenanceList ): ?>
			<tr>
				<!-- <td><?php echo $this->escape($lobjMaintenanceList['idDefType']);?></td>-->
				<td>
					<a href="<?php echo $this->baseUrl();?>/generalsetup/maintenance/maintenancelist/id/<?php echo $this->escape($lobjMaintenanceList['idDefType']);?>" rel="lyteframe" rev="width: 830px; height: 380px; scrolling: no;">
						<?php echo $this->escape($lobjMaintenanceList['defTypeDesc']);?>
					</a>
				</td>
				<td><?php echo $this->escape($lobjMaintenanceList['BahasaIndonesia']);?></td>
			</tr>
		<?php endforeach;
	endif; ?>
</table>
<div class="pagination opt"><?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
</div>
