

		<script type="text/javascript">
				function redirect(val)
		{
			if(val == 1){
				parent.location.href='<?php  echo $this->baseUrl();?>/generalsetup/maintenance';
			}else{
				<?php echo $this->lstrredirecturl; ?>
			}
		}
	</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?> Definition Maintenance</h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<?php 
					if (isset($this->lstrredirecturl)) {
						$back_url = "javascript:redirect('0');";
					} else {
						$back_url ="javascript:redirect('0');";
					}
				?>
				<a href="<?php echo $back_url;?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br></br>
	<fieldset>
		<legend><?php echo $this->translate("Maintenance");?></legend>
		<div class="register">
			<div class="profile_tab">

<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/generalsetup/maintenance/updatemaintenance<?php echo $this->lstrredirectaction?>" method="POST"  name= "myform" id="myform">
<script type="dojo/method" event="onSubmit">
  if (this.validate()) {
	return true;
} else {
	return false;}
</script>
					<?php echo $this->lobjMaintenanceForm->idDefType;?>
					<?php echo $this->lobjMaintenanceForm->idDefinition;?>
					  <table class="table" width="100%" >
						<tr>
							<td><?php echo $this->translate("DefinitionCode");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->DefinitionCode;?><br/><span id="errDefCode" class="error"></span></td>
							<td><?php echo $this->translate("DefinitionDescription");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->DefinitionDesc;?><br/><span id="errDefDesc" class="error"></span></td>
						</tr>
							<tr>
							<td style="width:150px"><?php echo $this->defaultlanguage;?><span class="reqMark"></span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>>
								<?php echo $this->lobjMaintenanceForm->BahasaIndonesia;?>
								<br/><span id="errDefDesc"></span>
							</td>
							<td style="width:150px"><?php echo $this->translate("Description");?><span class="reqMark"></span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>>
								<?php echo $this->lobjMaintenanceForm->Description;?>
								<br/><span id="errDefDesc"></span>
							</td>
						</tr>
        				 <tr>
							<td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->Status;?><br/><span id="errDefCode" class="error"></span></td>
							<td></td>
							<td></td>
						</tr>
						
						<tr>
							<td align = "right" colspan="4">
								<?php echo $this->lobjMaintenanceForm->Save;?>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</fieldset>
	<fieldset>
	<div id="hor-minimalist-b">
		  <table class="table" width="100%" >
			<tr>
				 <th style="width:22%"><?php echo $this->translate("DefinitionCode");?></th>
				 <th style="width:22%"><?php echo $this->translate("DefinitionDescription");?></td>
				 <th ><?php echo $this->defaultlanguage;?></th>
			</tr>
		
    	
    	
			<?php if (count($this->lobjPaginator)): ?>
				<?php foreach ($this->lobjPaginator as $larrMaintainanceDetails ): ?>
					<tr>
						<td style="width:160px">
							<a rel="lyteframe" title="" rev="width: 830px; height: 350px; scrolling: no;" href="<?php echo $this->baseUrl();?>/generalsetup/maintenance/maintenancedetail/idDefnType/<?php echo $this->escape($larrMaintainanceDetails['idDefType']);?>/idDefn/<?php echo $this->escape($larrMaintainanceDetails['idDefinition']);?><?php echo $this->lstrredirectaction?>">
								<?php echo $this->escape($larrMaintainanceDetails['DefinitionCode']);?>
							</a>
						</td>
						<td style="width:160px">
							<?php echo $this->escape($larrMaintainanceDetails['DefinitionDesc']);?>
						</td>
						<td style="width:160px">
							<?php echo $this->escape($larrMaintainanceDetails['BahasaIndonesia']);?>
						</td>
					</tr>
				<?php endforeach; ?>
			<?php endif; ?>
		
		

		
			<tr style="height:25px;border:1px solid #CCCCCC;color:#666699;padding:6px">
				<td colspan="8" align="right">
					<div class="pagination">
						<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
					</div>
				</td>
			</tr>
		</table>
		</div>
	</fieldset>