<?php //var_dump($this->studDet); //exit; ?>
<table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Student Detail"); ?></th>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Student Id"); ?></td>
                <td><?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("NRIC Id"); ?></td>
                <td><?php echo ($this->studDet['appl_idnumber']) ? $this->studDet['appl_idnumber'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Name"); ?></td>
                <td><?php echo ($this->studDet['name']) ? $this->studDet['name'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Scheme"); ?></td>
                <td><?php echo ($this->studDet['EnglishDescription']) ? $this->studDet['EnglishDescription'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Intake"); ?></td>
                <td><?php echo ($this->studDet['IntakeDesc']) ? $this->studDet['IntakeDesc'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Program"); ?></td>
                <td><?php echo ($this->studDet['ProgramName']) ? $this->studDet['ProgramName'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Profile Status"); ?></td>
                <td><?php echo ($this->studDet['DefinitionDesc']) ? strtoupper($this->studDet['DefinitionDesc']) : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Semester Status"); ?></td>
                <td><?php echo ($this->studsemstatus) ? strtoupper($this->studsemstatus) : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Current Semester"); ?></td>
                <td><?php echo ($this->currsem) ? $this->currsem : ''?>
                    <input type ="hidden" id="IdStudentRegistration" name="IdStudentRegistration" value="<?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?>">
                    <input type ="hidden" id="IdStudentScheme" name="IdStudentScheme" value="<?php echo ($this->studDet['IdScheme']) ? $this->studDet['IdScheme'] : ''?>">
                    <input type ="hidden" id="IdStudentProgram" name="IdStudentProgram" value="<?php echo ($this->studDet['IdProgram']) ? $this->studDet['IdProgram'] : ''?>">

                </td>
                <td class="makebold" ><?php echo $this->translate("Outstanding Balance"); ?></td>
                <td> </td>
            </tr>
        </table>