<script type="text/javascript">
    
    $(function() {
        $('#DateFrom').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>),
        });

        $('#DateTo').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>),
        });
    });
    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function cancelApp(id){
        if(confirm('Are you sure to delete this application ?')){
            window.location="<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'cancel-ct-app'),'default',true);?>/IdCreditTransfer/"+id;
        }else{
            return false;
        }
    }
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<div class="breadcrumbs">
	<ul>
		<li><a href="<?php echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></li>
		<li><?php echo $this->translate('Registration')?></li>
		<li><strong><?php echo $this->title?></strong></li>
	</ul>
</div>

<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'course-registration','controller'=>'credit-transfer', 'action'=>'index','id'=>$this->AppType),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Apply");?>
                </a>
<br/><br/>

<fieldset>
    <?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate("Application Date"); ?></th>
                <th><?php echo $this->translate("Application ID"); ?></th>
                <th><?php echo $this->translate("Applying For"); ?></th>
                <th><?php echo $this->translate("Application Status"); ?></th>
                <th><?php echo $this->translate("Source"); ?></th>
                <th><?php echo $this->translate(""); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if ($this->paginator):
            foreach ($this->paginator as $ctAppLoop):
            ?>
            <tr>
                <td align="center"><?php echo date('d-m-Y', strtotime($ctAppLoop['DateApplied'])); ?></td>
                <td><?php echo $ctAppLoop['IdCTApplication']; ?></td>
                <td align="center"><?php echo $ctAppLoop['ApplicationTypeName']; ?></td>
                <td align="center"><?php echo $ctAppLoop['AppStatusName']; ?></td>
                <td align="center"><?php echo $ctAppLoop['source']; ?></td>
                <td align="center" class="options">
                    <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'course-registration','controller'=>'credit-transfer', 'action'=>'editcredittransferapplication', 'IdCreditTransfer'=>$ctAppLoop['IdCreditTransfer']),'default',true);?>';"><?php echo $this->translate('Edit'); ?></a>
                    <?php 
                    if ($ctAppLoop['ApplicationStatus']==784){
                    ?>
                     | <a href="javascript:void(0);" onclick="cancelApp(<?php echo $ctAppLoop['IdCreditTransfer']; ?>);"><?php echo $this->translate('Cancel'); ?></a>
                    <?php
                    }
                    ?>
                </td>
            </tr>
            <?php
            endforeach;
            endif;
            ?>
        </tbody>
    </table>
    <div class="pagination">
    <?php 
        //echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    </div>
</fieldset>
