<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	dijit.byId('IdGroup').set('value','');
	dijit.byId('IdGroup').set('placeHolder','Select');
	dijit.byId('Period').set('value','');
	dijit.byId('Period').set('placeHolder','Select');
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Account Group");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/accountgroup/editgroup" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                <table id="hor-minimalist-b" align="center" class="table" width="100%">
	    		<TR>
                      <TH colspan = "2"><?php echo $this->translate->_("Account Group")?></TH>                       
                </TR>
	    		<tr>
         			<td class="label"><?php echo $this->translate->_("Group Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountgroupForm->GroupName?>
        			<?php echo $this->lobjAccountgroupForm->UpdDate?>
        			<?php echo $this->lobjAccountgroupForm->UpdUser?>
        			<?php echo $this->lobjAccountgroupForm->IdAccountGroup;?></td>	        	
      			</tr>
      			<tr>
      				<td class="label"><?php echo $this->translate->_("Group Code")?><span class="reqMark">*</span></td>
        		<td><?php echo $this->lobjAccountgroupForm->GroupCode?>
      			</tr>
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("Description")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountgroupForm->Description?></td>
        		</tr>	
        		<tr>       			 		
        			<td class="label"><?php echo $this->translate->_("Parent")?></td>
        			<td><?php echo $this->lobjAccountgroupForm->IdParent?></td>   
        		</tr>
        	
		      	<tr>
			        <td class="label"><?php echo $this->translate->_("Active")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjAccountgroupForm->Active?></td>	
        			       	
		      	</tr>	
	
		      	 <tr>
		      		  <td align = "right" colspan="4">
                    		<?php echo $this->lobjAccountgroupForm->Save;?>							
                            	<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'accountgroup', 'action'=>'index'),'default',true);?>';" />	
                      </td>	
               </tr>
              </table>            
            </Form>
</fieldset>