<script><!--
dojo.require("dojox.grid.LazyTreeGrid");
dojo.require("dijit.tree.ForestStoreModel");
dojo.require("dojo.data.ItemFileWriteStore");

dojo.ready(function(){
	
	var store = new dojo.data.ItemFileReadStore({ data:<?php echo $this->jsondata?>});

    var model = new dijit.tree.ForestStoreModel({store: store, childrenAttrs: ['children']});


    var layout = [
	             
      {name: 'Group Name', field: 'GroupName', width: '30%'},
      {name: 'Description', field: 'Description', width: '30%'},
      {name: 'Group Code', field: 'GroupCode', width: '30%'},
      {name: 'Add', field: '', width: '30%',formatter: getDelete},
      
    ];

    var grid = new dojox.grid.LazyTreeGrid({
        id: 'grid',
        treeModel: model,
        structure: layout,
        rowSelector: '20px',
        plugins: {
            indirectSelection: {
                		rowSelector:false,
                	    name: "Selection",
                	    width: "60px",
                	    styles: "text-align: center;"
             }}
      }, document.createElement('div'));

    dojo.byId("gridDiv").appendChild(grid.domNode);

    grid.startup();

    dojo.connect(grid, "onCellClick", function (e) {
    	var no = "IdAccountGroup";
    	var objitem = dijit.byId('grid').getItem(e.rowIndex);
   	 var colField = e.cell.field; 
   	 if(colField == 'GroupName') {
    		var url = '<?php echo $this->baseUrl();?>/studentfinance/accountgroup/editgroup/IdAccountGroup/'+objitem[no];
    		parent.location.href=url;
   	 } else {
  		var url = '<?php echo $this->baseUrl();?>/studentfinance/accountgroup/newgroup/IdAccountGroup/'+objitem[no];
		parent.location.href=url;
   	 }
    }); 
    		

    function getDelete(item) {
  	  return "Add";
  	}
      
});
--></script>

<style>
#grid {
    width: 100%;
    height: 300px;
}

.dojoxGridCell
{
 text-decoration: underline; 
	cursor: pointer;
}
#gridHdr0,#gridHdr1,#gridHdr2,#gridHdr3{
	 text-decoration: none; 
}

</style>
<fieldset>
	<legend><?php echo $this->translate("Account Group");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/accountgroup" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
				<tr>
					<td><?php echo $this->translate("Group Name");?></td>
					<td><?php echo $this->lobjform->field2;?></td>
					<td><?php echo $this->translate("Description");?></td>
					<td><?php echo $this->lobjform->field3;?></td>
				</tr>
				  <tr>
				    <td><?php echo $this->translate("Group Code");?></td>
                    <td><?php echo $this->lobjform->field4;?></td>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
 
                </tr>
				 <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'accountgroup', 'action'=>'newgroup'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	<div id="gridDiv"></div>