
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->baseUrl();?>/studentfinance/publishingsetup/student/semid/<?php echo $this->semId?>">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<br />

<form method="post" action="" id="form_scholarship">
<table width="100%" class="table">
        <tr>
		<td><?php echo $this->translate('Type')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->stype ?></td>
	</tr>
	<tr>
		<td width="25%"><?php echo $this->translate('Scholarship Type')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->scholarship_type?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Application Type')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->application_type ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Start Date')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->startDate?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('End Date')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->endDate?></td>
	</tr>
        <tr>
		<td><?php echo $this->translate('Course Selection Start Date')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->course_start_date?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Course Selection End Date')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->course_end_date?></td>
	</tr>
</table>

<br />

<div class="opt float nomargin">
	<button onclick="addProgram();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Programme')?></button> 
</div>
<table width="100%" class="table" id="program_table">
	<tr>
		<th><?php echo $this->translate('Programme Name')?></th>
		<th width="30%"></th>
	</tr>
	<?php foreach ( $this->program as $program ) { ?>
	<tr id="row-<?php echo $program['id']?>">
		<td><?php echo $program['ProgramName']?></td>
		<td align="center"><a href="#" onclick="return deleteProgramRowAjax(<?php echo $program['id']?>)"><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php } ?>
</table>

<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate('Submit')?>" name="btn-submit" name="Submit" />
</div>
</form>


<!-- program dialog -->
<div id="dialog-program" title="Add Programme" style="display:none">
<table width="100%">
	<tr>
		<td width="25%"><?php echo $this->translate('Programme')?></td>
		<td><?php echo $this->form->program ?></td>
	</tr>
</table>
</div>
<!-- /program dialog -->


<script type="text/javascript">
	var program_array = <?php echo json_encode($this->programs)?>;

	$(function()
	{
		$( "#dialog-program" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					if ( $("#program").val() == '' )
					{
						alert('<?php echo $this->translate('Please select a programme') ?>');
						return false;
					}
					
					if ( $.inArray( $( "#program" ).val() , program_array ) !==-1 )
					{
						alert('<?php echo $this->translate('You already added this program') ?>');
						return false;
					}

					//successful
					addNewProgram();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});
	});
	
	function addNewProgram()
	{
		var program_name = $( "#program option:selected" ).text();
		var program_id = $( "#program" ).val();

		var html  = "<tr>"
                    +"<td>"+program_name+"<input type='hidden' name='programlist[]' value='"+program_id+"' /></td>"
                    +"<td align='center'>"+"<a href='#' onclick='deleteProgramRow("+program_id+", this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
                    +"</tr>";
		
		$("tr.emptyrow").remove();
        $("#program_table").append( html );

		program_array.push(program_id);
	}

	function deleteProgramRow(program_id, what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}
		
		//remove from array
		var i = program_array.indexOf(program_id.toString());
		if(i != -1) {
			program_array.splice(i, 1);
		}
		
		//remove row
		$(what).parent().parent().remove();
	}
	
	function deleteProgramRowAjax(id)
	{
		var ret = confirm("Are you sure to delete");
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/studentfinance/publishingsetup/delete-program",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#row-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}

	function addProgram()
	{	
		$("#dialog-program").dialog('open');
	}

	function checkForm()
	{
		var error = 0;
		$("#form_scholarship  .reqfield").each(function()
		{
			var field = $(this).parent().find('strong').html();
			var p = $(this).val();

			if ( p == '' || p.length < 3 )
			{                        
				$(this).parent().addClass("red");
				alert(field+" cannot be empty");

				error = 1;
				return false;
			}
			else
			{
				$(this).parent().removeClass("red");
			}
		});

		var StartDate = dijit.byId('startDate').displayedValue;
		var EndDate = dijit.byId('endDate').displayedValue;

		if ( StartDate == '' )
		{
			error = 1;
			alert('<?php echo $this->translate('Start Date cannot be empty')?>');
		}
		
		if ( EndDate == '' )
		{
			error = 1;
			alert('<?php echo $this->translate('End Date cannot be empty')?>');
		}

		if ( error == 1 )
		{
			return false;
		}                

		return true;
	}
        
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function getScholarship(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'applicationformsetup', 'action'=>'get-scholarship'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('scholarship_type');
            },
            complete: function() {
		hideLoading('scholarship_type');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].id+'">'+data[index].name+'</option>';
            });
            $('#scholarship_type').html(content);
        })
        .fail(function() {
            alert("error load scholarship"); 
        });
    }
</script>