
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->baseUrl();?>/studentfinance/publishingsetup/add/semid/<?php echo $this->semId?>">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->baseUrl();?>/studentfinance/publishingsetup/#tab-2">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<br />

<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
        <tr>
            <th><?php echo $this->translate("Semester");?></th>
            <th><?php echo $this->translate("Application Type");?></th>
            <th><?php echo $this->translate("Programme");?></th>
            <th><?php echo $this->translate("Start Date");?></th>
            <th><?php echo $this->translate("End Date");?></th>
        </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
        <?php 
		foreach ($this->results as $row){
		 ?>
            <tr>
				<td><a href="<?php echo $this->baseUrl();?>/studentfinance/publishingsetup/edit/id/<?php echo $row['id']?>/semid/<?php echo $this->semId?>"><?php echo $row['semester_name']?></a></td>
				<td><?php echo $row['application_type'] == 0 ? $this->translate('New Application') : $this->translate('Re-Application') ?></td>
                <td>
					<?php
					if ( !empty($row['Programs']) ) { 
						$list = explode(',', $row['Programs']);
						echo '<ol>';
						foreach ( $list as $prog_id )
						{
							?>
							<li><?php echo $this->programs[$prog_id]?></li>
							<?php
						}
						echo '</ol>';
					}?>
				</td>
				<td><?php echo $row["start_date"];?></td>
                <td><?php echo $row["end_date"];?></td>
            </tr>
		 <?php 
        } 
        ?>
    </tbody>
</table>