<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/studentfinance/receivable/creditcard-terminal-add">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate('Terminal ID'); ?></th>
			<th><?php echo $this->translate('Branch'); ?></th>
			<th><?php echo $this->translate('Default'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	if(isset($this->creditcard_terminal_list)){
		foreach ($this->creditcard_terminal_list as $terminal){
	?>
		<tr>
			<td><?php echo $terminal['terminal_id']; ?></td>
			<td>
				<?php
					if($this->locale == 'en_US'){ 
						echo $terminal['BranchName']; 
					}else{
						echo $terminal['BranchName2'];
					}
				?>
			</td>
			<td><?php echo $terminal['default']==1?$this->translate("Yes"):"-"; ?></td>
			<td><?php echo $terminal['active']==1?$this->translate("Active"):$this->translate("Inactive"); ?></td>
			<td align="center">
				<a href="/studentfinance/receivable/creditcard-terminal-edit/id/<?php echo $terminal['id']; ?>"><?php echo $this->translate('Edit');?></a>
			</td>
		</tr>
	<?php 
		}
	}else{
	?>
	<tr>
		<td colspan="6" align="center"><?php echo $this->translate('No data');?></td>
	</tr>
	<?php 
	}
	?>
	</tbody>
</table>