<style>
.zend_form dt {
    width: 200px;
}

.zend_form dd {
    padding: 2px 200px;
}
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/receivable/payment-mode">
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<?php 
	$this->form->setAction($this->url());
	echo  $this->form;
?>