<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/studentfinance/receivable/payment-mode-add">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate('Payment Mode'); ?></th>
			<th><?php echo $this->translate('Description'); ?></th>
			<th><?php echo $this->translate('Description (Default Language)'); ?></th>
			<th><?php echo $this->translate('Payment Group'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	if(isset($this->payment_mode_list)){
		foreach ($this->payment_mode_list as $payment_mode){
	?>
		<tr>
			<td><?php echo $payment_mode['payment_mode']; ?></td>
			<td><?php echo $payment_mode['description']; ?></td>
			<td><?php echo $payment_mode['description_second_language']; ?></td>
			<td>
				<?php
					if($this->locale == 'en_US'){ 
						echo $payment_mode['payment_category_name'];
					}else{
						echo $payment_mode['payment_category_name2'];
					} 
				?>
			</td>
			<td><?php echo $payment_mode['active']==1?$this->translate("Active"):$this->translate("Inactive"); ?></td>
			<td align="center">
				<a href="/studentfinance/receivable/payment-mode-edit/id/<?php echo $payment_mode['id']; ?>"><?php echo $this->translate('Edit');?></a>
			</td>
		</tr>
	<?php 
		}
	}else{
	?>
	<tr>
		<td colspan="6" align="center"><?php echo $this->translate('No data');?></td>
	</tr>
	<?php 
	}
	?>
	</tbody>
</table>