<form name="addsection" id="addsection" action="/survey-bank/chapter/add" method="post">
<input type="hidden" name="main_set_id" name="main_set_id" value="<?php echo $this->main_set_id;?>">
<input type="hidden" name="pool_id" name="pool_id" value="<?php echo $this->pool_id;?>">
	
	<table class="table1" width="430" cellpadding="5" cellspacing="1" border="0">
			<tr>
					<td>Section Name</td>				
					<td>:</td>
					<td width="50%">
					<input type="text" name="id_Section" id="id_Section" value="" class="input-txt">
				
           </tr>
			<tr>
				     <td>Question Type</td>				
					 <td>	:	</td>						
                     <td>
                     <select name="question_type" id="question_type" onchange="javascript:getList(this.options[this.selectedIndex].value)" class="select"> 
                                  <option value="0">Please Select</option>
                                  <?php foreach ($this->pool1 as $pool1){?>
									<?php if($pool1['enable']==1): ?>
						          		<option value="<?php echo $pool1['id'];?>"><?php echo $pool1['name'];?></option>
						          	<?php endif; ?>
					              <?php }?>                                  
                      </select>
                     </td>		
			</tr>	
			
			<tr>
			<td>Active?</td>
			<td>:</td>
			<td>
                <input type="hidden" name="status" value="2">
                <input type="checkbox" name="status" value="1">
            </td>
			</tr>
		</table>
<br></br>


<!--rubric-->

<div id="listRubric" style="display:none">

<table id="tblComponent" class="table" width="100%" cellpadding="5" cellspacing="1">
  <tr>
    <th>Number</th> 
    <th>Value</th>  
    <th>Description</th>
    <th>Weightage</th>   
  </tr>
  <tr>
      <td>1</td>
      <td><input type="text" name="ValueNumber1" id="ValueNumber1" size="20" onkeypress="return isNumberKey(event);"/></td>
      <td><input type="text" name="description1" id="description1" size="20"/></td>
      <td><input type="text" name="weightage1" id="weightage1" size="20" onkeypress="return isNumberKey(event);"/></td> 
  </tr>
</table>

<input type="hidden" name="iteration" id="iteration" value="1"></input>
 <div class="form-opt">
            <a  href="javascript:addRowToTable();">
        <span class='add'></span>
        Add Row
    </a>
    |
    <a href="javascript:removeRowFromTable();">
        <span class='remove' style="center"></span>
        Remove Row
    </a>
        </div>


</div>
<!---->
<!--<br></br>-->
<!--<input type="submit" value="Submit">-->
</form>

<script type="text/javascript">
    function addRowToTable()
    {
        /*--------------------------listRubric------------------------------------*/
        var tbl = document.getElementById('tblComponent');
        var lastRow = tbl.rows.length;
        var iteration = lastRow;
        var row = tbl.insertRow(lastRow);
        //alert(iteration);

        document.getElementById('iteration').value = iteration

        var cellLeft = row.insertCell(0);
        var textNode = document.createTextNode(iteration);
        cellLeft.appendChild(textNode);

        //ValueNumber
        var valueNumber = row.insertCell(1);
        var VN = document.createElement('input');
        VN.type = 'text';
        VN.name = 'ValueNumber' + iteration;
        VN.id = 'ValueNumber'+ iteration;
        
        VN.size = 20;

        //desc.onkeypress = keyPressTest;
        valueNumber.appendChild(VN);

        //description
        var description = row.insertCell(2);
        var dest = document.createElement('input');
        dest.type = 'text';
        dest.name = 'description'+ iteration;
        dest.id = 'description'+ iteration;
        dest.size = 20;

        //desc.onkeypress = keyPressTest;
        description.appendChild(dest);

        //weightage
        var weightage = row.insertCell(3);
        var wg = document.createElement('input');
        wg.type = 'text';
        wg.name = 'weightage' + iteration ;
        wg.id = 'weightage'+ iteration;
        wg.size = 20;

        //wg.onblur = onblurRow;
        weightage.appendChild(wg);
    }

    function keyPressTest(e, obj)
    {
        var validateChkb = document.getElementById('chkValidateOnKeyPress');
        if (validateChkb.checked) {
            var displayObj = document.getElementById('spanOutput');
            var key;
            if(window.event) {
                key = window.event.keyCode;
            }
            else if(e.which) {
                key = e.which;
            }
            var objId;
            if (obj != null) {
                objId = obj.id;
            } else {
                objId = this.id;
            }
            displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
        }
    }

    function removeRowFromTable()
    {
        var tbl = document.getElementById('tblComponent');
        var lastRow = tbl.rows.length;

        curval = document.getElementById('iteration').value;
        if (lastRow > 2) tbl.deleteRow(lastRow - 1);
        document.getElementById('iteration').value = curval-1;
    }

    function validateRow(frm)
    {
        var tbl = document.getElementById('tblComponent');

        var lastRow = tbl.rows.length - 2;

        var i;
        var total=0;

        for (i=1; i<=lastRow; i++) {
            var aRow = document.getElementById('weightage' + i);

            if (aRow.value.length <= 0) {
                alert('Row ' + i + ' is empty');
                return false;
            }

            //get total weightage
            rowVal = aRow.value;
            total=total+Math.abs(rowVal);
        }
        return true;
    }

    function onblurRow(){

        //get total weightage
        var tbl = document.getElementById('tblComponent');
        var lastRow = tbl.rows.length - 2;

        var i;
        var total=0;

        for (i=1; i<=lastRow; i++) {
            var aRow = document.getElementById('weightage' + i);
            //get total weightage
            rowVal = aRow.value;
            total=total+Math.abs(rowVal);

            if(total > 100){
                alert('Total weightage is '+total+' .Please make sure...');
                aRow.value=0;
                aRow.focus();
                return;
            }
        }

    }
    function show(val){

        if(val==1){
            document.getElementById('tbltype1').style.display = '';
            document.getElementById('tbltype2').style.display = 'none';
        }

        if(val==2){
            document.getElementById('tbltype1').style.display = 'none';
            document.getElementById('tbltype2').style.display = '';
        }

    }
</script>

<script>
    function formValidation(){
        var semester = $("#semester_id").val();
        var semester_status = $("#semester_status").val();
        var subject = $('input[name=course_id[]]:checked').val();

        if(semester == "0"){
            alert('Please select Semester');
            $('#semester_id').focus();
            $('#semester_id').addClass("focus");
            return false;
        }

        if(semester_status == "0"){
            alert('Please select Semester Status');
            $('#semester_status').focus();
            $('#semester_status').addClass("focus");
            return false;
        }

        if(!subject){
            alert('Please select Course');
            return false;
        }

        if(confirm('Are you sure to register this course?')){
            return true;
        }else{
            return false;
        }


    }

    function checkall(){
        var flag = $("#chkall").is(':checked');

        if( flag ){
            $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', true);
        }else{
            $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', false);
        }
    }

    function getList(id){

        if(id == 3){
            $("#listRubric").show();
            $("#listRubricValue").hide();
        }else if(id == 4){
            $("#listRubric").hide();
            $("#listRubricValue").hide();

        }else{
            $("#listRubric").hide();
            $("#listRubricValue").hide();
        }
    }
    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>