<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
?>
<?php $iteration = count($this->RubricData); ?>
<?php if(isset($this->noticeMessage)) { ?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br>
<?php } ?>
  
  
 <form name="frmcomp" id="frmcomp" method="post" action="/survey-bank/chapter/edit">
 <input type="hidden"" name="id" id="id" value="<?php echo $this->id;?>">
 <input type="hidden"" name="main_set_id" id="main_set_id" value="<?php echo $this->main_set_id;?>">
<!-- <input type="text" name="question_type" id="question_type" value="<?php echo $this->topic['question_type_id'];?>"/>-->
 
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="1">
<tr>
	<th>Section</th>	
	<td><input type="text" name="id_Section" id="id_Section" value="<?php echo $this->topic["chaptername"]; ?>" class="input-txt"></td>
</tr>		
<tr>
	<th>Question type</th>	
		<td>
		<select name="question_type" id="question_type" disabled="disabled" onchange="javascript:getListEdit(this.options[this.selectedIndex].value)" class="select"> 
		<option value="0">Please Select</option>
		<?php 
			foreach ($this->pool1 as $pool1):
				$select="";
				if($pool1['name']==$this->topic['questiontype']){
					$select = "selected='selected'";
				}
		?>
		<option <?php echo $select;?> value="<?php echo $pool1['id'];?>"><?php echo $pool1['name'];?> </option>	
		<? endforeach ?>
		</select>
        </td>		
</tr>

<tr>
	<th>Registration Item</th>	
		<td>
		<select name="registration_item_id" id="registration_item_id"  class="select"> 
		<option value="0">Please Select</option>
		<?php 
			foreach ($this->item as $data):
				$select="";
				if($data['item_id']==$this->topic['registration_item_id']){
					$select = "selected='selected'";
				}
		?>
		<option <?php echo $select;?> value="<?php echo $data['item_id'];?>"><?php echo $data['item_name'];?> </option>	
		<? endforeach ?>
		</select>
        </td>		
</tr>
<tr>
    <th>Section Instructions</th>
    <td>
        <textarea name="instruction" class="instruction"><?php echo $this->topic["subsection_instruction"]; ?></textarea>
    </td>
</tr>

<tr>
	<th>Active?</th>	
	<td>
        <input type="hidden" name="status" value="2">
        <input type="checkbox" name="status" value="1" 
        <?php if($this->topic["status"] == 1) { ?>
            checked="checked"
        <?php } ?>
        >
    </td>
</tr>		
<tr>
	<th>Order</th>	
	<td><input type="text" name="order" id="order" value="<?php echo $this->topic["order"]; ?>" class="input-txt"></td>
</tr>
</table>
<br></br>
 
<?php  
$style = "display:block";
if($iteration < 0){
	$style = "display:none";
}
?>
<div id="listRubricEdit" style="<?php echo $style;?>">
    <table id="tblComponentEdit" class="table" cellpadding="5" cellspacing="1">
    <tr>
        <th>Number</th>
        <th>Value</th>
        <th>Description</th>
        <th>Weightage</th>
       </tr>
         <?php
    //     echo "<pre>";
    //       print_r($this->RubricData);
            if($this->RubricData){

              $no=1;
              foreach ($this->RubricData as $rubricdetails){?>

              <tr>
                <td><?php echo $no;?>.</td>
                <td><input type="hidden" name="id" value="<?php echo $rubricdetails["id"];?>"></input>
                <input type="text" name="ValueNumber<?php echo $no;?>"value="<?php echo $rubricdetails["ValueNumber1"]?>" onkeypress="return isNumberKey(event);"></input></td>
                <td><input type="text" name="description<?php echo $no;?>" value="<?php echo $rubricdetails["description1"]?>"/></td>
                <td><input type="text" name="weightage<?php echo $no;?>" value="<?php echo $rubricdetails["weightage1"]?>"onkeypress="return isNumberKey(event);"></input></td>
              </tr>
              <?php $no++; } }//end if?>
    </table>
    
     <div class="form-opt">
	    <input type="button" name="add" value="Add Row" onclick="addRowToTable();">
	    <input type="button" name="remove" value="Remove Row" onclick="removeRowFromTable();">
	</div>


</div>


<input type="hidden" name="iterationedit" id="iterationedit" value="<?php echo $iteration?>"/>
<input type="hidden" name="ValueNumber" id="ValueNumber1" size="20" value="ValueNumber1"/>
<input type="hidden" name="description" id="description1" size="20" value="description1"/>
<input type="hidden" name="weightage" id="weightage1" size="20" value="weightage1"/>
  </form>

<script type="text/javascript">

    $(document).ready(function() {

        var questype = $('#question_type').val();
        getList(questype);


            CKEDITOR.replace( 'instruction', {
            	toolbar: [
            		{ name: 'document', items: [ 'Source', '-','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' , '-','Bold', 'Italic' ] }
            	],
            	width : '400px'
            });

    });



    function addRowToTable()
    {
        /*--------------------------listRubric------------------------------------*/
        var tbl = document.getElementById('tblComponentEdit');
        var lastRow = tbl.rows.length;
        var iteration = lastRow;
        var row = tbl.insertRow(lastRow);

        document.getElementById('iterationedit').value = iteration

        var cellLeft = row.insertCell(0);
        var textNode = document.createTextNode(iteration);
        cellLeft.appendChild(textNode);

//ValueNumber
        var valueNumber = row.insertCell(1);
        var VN = document.createElement('input');
        VN.type = 'text';
        VN.name = 'ValueNumber' + iteration;
        VN.id = 'ValueNumber'+ iteration;
        VN.size = 20;

        //desc.onkeypress = keyPressTest;
        valueNumber.appendChild(VN);

        //description
        var description = row.insertCell(2);
        var dest = document.createElement('input');
        dest.type = 'text';
        dest.name = 'description'+ iteration;
        dest.id = 'description'+ iteration;
        dest.size = 20;

        //desc.onkeypress = keyPressTest;
        description.appendChild(dest);

        //weightage
        var weightage = row.insertCell(3);
        var wg = document.createElement('input');
        wg.type = 'text';
        wg.name = 'weightage' + iteration ;
        wg.id = 'weightage'+ iteration;
        wg.size = 20;

//  wg.onblur = onblurRow;
        weightage.appendChild(wg);

    }

    function keyPressTest(e, obj)
    {
        var validateChkb = document.getElementById('chkValidateOnKeyPress');
        if (validateChkb.checked) {
            var displayObj = document.getElementById('spanOutput');
            var key;
            if(window.event) {
                key = window.event.keyCode;
            }
            else if(e.which) {
                key = e.which;
            }
            var objId;
            if (obj != null) {
                objId = obj.id;
            } else {
                objId = this.id;
            }
            displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
        }
    }

    function removeRowFromTable()
    {
        var tbl = document.getElementById('tblComponentEdit');
        var lastRow = tbl.rows.length;

        curval = document.getElementById('iteration').value;
        if (lastRow > 2) tbl.deleteRow(lastRow - 1);
        document.getElementById('iteration').value = curval-1;
    }

    function validateRow(frm)
    {
        var tbl = document.getElementById('tblComponentEdit');

        var lastRow = tbl.rows.length - 2;

        var i;
        var total=0;

        for (i=1; i<=lastRow; i++) {
            var aRow = document.getElementById('weightage' + i);

            if (aRow.value.length <= 0) {
                alert('Row ' + i + ' is empty');
                return false;
            }

            //get total weightage
            rowVal = aRow.value;
            total=total+Math.abs(rowVal);
        }
        return true;
    }

    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<script>
    function formValidation(){
        var semester = $("#semester_id").val();
        var semester_status = $("#semester_status").val();
        var subject = $('input[name=course_id[]]:checked').val();

        if(semester == "0"){
            alert('Please select Semester');
            $('#semester_id').focus();
            $('#semester_id').addClass("focus");
            return false;
        }

        if(semester_status == "0"){
            alert('Please select Semester Status');
            $('#semester_status').focus();
            $('#semester_status').addClass("focus");
            return false;
        }

        if(!subject){
            alert('Please select Course');
            return false;
        }

        if(confirm('Are you sure to register this course?')){
            return true;
        }else{
            return false;
        }
    }

    function checkall(){
        var flag = $("#chkall").is(':checked');

        if( flag ){
            $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', true);
        }else{
            $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', false);
        }
    }

    function getListEdit(id){
        alert(id);

        if(id == 3){
            $("#listRubricEdit").show();
            $("#listRubricValue").hide();
        }else if(id == 4){
            $("#listRubric").hide();
            $("#listRubricValue").hide();

        }else{
            $("#listRubric").hide();
            $("#listRubricValue").hide();
        }
    }
</script>