<script type="text/javascript">

function edit(){
	var id = $('input[name=faculty_id]:checked').val();

	if(!id){
		alert('Please select any pool first');
	}else{
		window.location="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'edit'));?>/id/"+id;
	}
	
}
	function del(){
		var id = $('input[name=faculty_id]:checked').val();

		if(!id){
			alert('Please select any survey pool first');
		}else{
			if(confirm('Are you sure to delete this survey pool ?')){
				window.location = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'delete')); ?>/id/"+id;
			}
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'add'));?>";
	}
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th>Pool Name</th>
		<th>Section Name</th>
		<th>Question Type</th>
		<th width="100px">Status</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td width="25px">
			<input type="radio" name="faculty_id" value="<?php echo $entry['idChapter']; ?>">
		</td>
		<td><a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter','action'=>'view','pool_id'=>$entry['id'],'id'=>$entry['idChapter'], 'id_Section'=>$entry['id']));?>"><?php echo $entry['poolname'];?></a></td>
		<td><?php echo $entry['chaptername']; ?></td>
		<td><?php echo $entry['questiontype']; ?></td>
		<td align="center"><?php echo $entry['status']==1?"Active":"Not Active";?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>


</table>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>