<?php   $iteration = count($this->iteration); ?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br>
<?}?>
<br></br>
  <form name="frmcomp" method="post" action="">
 <table class="table3" width="326" cellpadding="5" cellspacing="0" border="1">
<tr>
	<th width="127">Question Pool</th>					
	<td width="450">  <?php echo $this->poolData["poolname"]; ?></td>
</tr>
<tr>
	<th>Section</th>	
	<td>  <?php echo $this->poolData["chaptername"]; ?></td>
</tr>		
<tr>
	<th>Question type</th>	
	<td>  <?php echo $this->poolData["questiontype"]; ?></td>
</tr>		
<tr>
	<th>Status</th>	
	<td>  <?php if ($this->poolData['status'] == 1){
	         print "Active";
	      }else {
		     print "Not Active";}		
		   ?>
	</td>
</tr>
</table>
 <br></br>
 
 <?php if($this->RubricData){?>
<table id="tblComponent" class="table3" width="80%" cellpadding="5" cellspacing="1">
  <tr>
    <th width="13%">Number</th> 
    <th width="24%">Value</th>  
    <th width="39%">Description</th>
    <th width="24%">Weightage</th>   
  </tr>
 
     <?php 
        
        
		  $no=1;		
		  foreach ($this->RubricData as $rubricdetails){?>
		     
		  <tr>
		    <td>&nbsp;<?php echo $no;?>.</td>   
		    <td><input type="hidden" name="id<?php echo $no;?>" value="<?php echo $rubricdetails["id"];?>"></input>
		    <?php echo $rubricdetails["ValueNumber1"];?></td>
		    <td><?php echo $rubricdetails["description1"];?></td>		    
		    <td><?php echo $rubricdetails["weightage1"];?></td>
		  </tr>
		  <?php $no++; }} //end if?>
</table>



<input type="hidden" name="iteration" id="iteration" value="<?php echo $iteration?>"/>
<input type="hidden" name="ValueNumber1" id="ValueNumber1" size="20" value=""/>
<input type="hidden" name="description1" id="description1" size="20" value=""/>
<input type="hidden" name="weightage1" id="weightage1" size="20"/>
  <br></br>

<br></br>
  </form>
