<script type="text/javascript">
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="--Select--" value="">--Select--</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'registration','controller'=>'report', 'action'=>'print-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>  
            <?php 
            if (count($this->list) > 0){
            ?>
            <li>
                <a href="#" onclick='print()'>
                <span class='download'></span>
                <?php echo $this->translate("Download");?>
                </a>
            </li>
            <?php
            }
            ?>
	</ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    
    <form method="post" id="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->searchForm->program; ?></td>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->searchForm->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td><?php echo $this->searchForm->name; ?></td>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->searchForm->id; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->searchForm->intake; ?></td>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->searchForm->status; ?></td>
            </tr>
            <tr align="center">
                <td colspan="4">
                    <button type="submit" class="btn-submit" value="search" name="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" class="btn-submit" value="clear" name="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <?php echo $this->translate("Total no. of records: ").count($this->list); ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <thead>
            <tr>
                <th><?php echo $this->translate('Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Student Intake'); ?></th>
                <th><?php echo $this->translate('Programme'); ?></th>
                <th><?php echo $this->translate('Programme Scheme'); ?></th>
                <th><?php echo $this->translate('Subject Register'); ?></th>
                <th><?php echo $this->translate('Subject Semester'); ?></th>
                <th><?php echo $this->translate('Item Registration'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if ($this->paginator){
            foreach($this->paginator as $listLoop){
            $model = new Registration_Model_DbTable_Report();
            $subList = $model->getSubjectList($listLoop['IdStudentRegistration']);
            if ($subList){
                $row = count($subList);
            }else{
                $row = 1;
            }
            ?>
            <tr style="background-color: #fefefe;">
                <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['appl_fname'].' '.$listLoop['appl_lname']; ?></td>
                <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['registrationId'] ?></td>
                <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['intakeName']; ?></td>
                <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['programName']; ?></td>
                <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['mop'].' '.$listLoop['mos'].' '.$listLoop['pt']; ?></td>
                <?php
                if ($subList){
                    foreach ($subList as $subLoop){
                        $subject = '<td>'.$subLoop['SubCode'].' - '.$subLoop['SubjectName'].' ';

                        $itemList = $model->getItemRegistration($subLoop['IdSemesterMain'], $listLoop['IdProgram'], $listLoop['IdProgramScheme']);

                        echo $subject.'</td>';
                        echo '<td>'.$subLoop['subSemName'].'</td>';
                        
                        $item = '<td>';
                        if ($itemList){
                            $i=1;
                            $countItem = count($itemList);
                            foreach($itemList as $itemLoop){
                                $item .= $i.') '.$itemLoop['itemRegName'];
                                if ($i != $countItem){
                                    $item .= '<br/>';
                                }
                                $i++;
                            }
                        }else{
                            $item .= '<span class="reqMark">No Item Registration</span>';
                        }
                        echo $item.'</td>';
                        
                        break;
                    }
                }else{
                    echo '<td><span class="reqMark">No Register Subject</span></td>';
                    echo '<td><span class="reqMark">No Register Subject</span></td>';
                    echo '<td><span class="reqMark">No Register Subject</span></td>';
                }
                ?>
            </tr>
            <?php
            if ($subList){
                $j=0;
                foreach ($subList as $subLoop){
                    if ($j != 0){
                        ?> 
                        <tr style="background-color: #fefefe;">
                        <?php
                        $subject2 = '<td>'.$subLoop['SubCode'].' - '.$subLoop['SubjectName'].' ';

                        $itemList = $model->getItemRegistration($subLoop['IdSemesterMain'], $listLoop['IdProgram'], $listLoop['IdProgramScheme']);

                        echo $subject2.'</td>';
                        echo '<td>'.$subLoop['subSemName'].'</td>';
                        
                        $item = '<td>';
                        if ($itemList){
                            $i=1;
                            $countItem = count($itemList);
                            foreach($itemList as $itemLoop){
                                $item .= $i.') '.$itemLoop['itemRegName'];
                                if ($i != $countItem){
                                    $item .= '<br/>';
                                }
                                $i++;
                            }
                        }else{
                            $item .= '<span class="reqMark">No Item Registration</span>';
                        }
                        echo $item.'</td>';
                        ?> 
                        </tr>
                        <?php
                    }
                    $j++;
                }
            }
            ?>
            <?php
            }
            }
            ?>
        </tbody>
    </table>
    <div class="pagination">
    <?php 
        //echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    </div>
</fieldset>