<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <thead>
        <tr>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Student Intake'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Programme Scheme'); ?></th>
            <th><?php echo $this->translate('Subject Register'); ?></th>
            <th><?php echo $this->translate('Subject Semester'); ?></th>
            <th><?php echo $this->translate('Item Registration'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        if ($this->list){
        foreach($this->list as $listLoop){
        $model = new Registration_Model_DbTable_Report();
        $subList = $model->getSubjectList($listLoop['IdStudentRegistration']);
        if ($subList){
            $row = count($subList);
        }else{
            $row = 1;
        }
        ?>
        <tr style="background-color: #fefefe;">
            <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['appl_fname'].' '.$listLoop['appl_lname']; ?></td>
            <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['registrationId'] ?></td>
            <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['intakeName']; ?></td>
            <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['programName']; ?></td>
            <td rowspan="<?php echo $row; ?>" valign="top"><?php echo $listLoop['mop'].' '.$listLoop['mos'].' '.$listLoop['pt']; ?></td>
            <?php
            if ($subList){
                foreach ($subList as $subLoop){
                    $subject = '<td>'.$subLoop['SubCode'].' - '.$subLoop['SubjectName'].' ';

                    $itemList = $model->getItemRegistration($subLoop['IdSemesterMain'], $listLoop['IdProgram'], $listLoop['IdProgramScheme']);

                    echo $subject.'</td>';
                    echo '<td>'.$subLoop['subSemName'].'</td>';

                    $item = '<td>';
                    if ($itemList){
                        $i=1;
                        $countItem = count($itemList);
                        foreach($itemList as $itemLoop){
                            $item .= $i.') '.$itemLoop['itemRegName'];
                            if ($i != $countItem){
                                $item .= '<br/>';
                            }
                            $i++;
                        }
                    }else{
                        $item .= '<span class="reqMark">No Item Registration</span>';
                    }
                    echo $item.'</td>';

                    break;
                }
            }else{
                echo '<td><span class="reqMark">No Register Subject</span></td>';
                echo '<td><span class="reqMark">No Register Subject</span></td>';
                echo '<td><span class="reqMark">No Register Subject</span></td>';
            }
            ?>
        </tr>
        <?php
        if ($subList){
            $j=0;
            foreach ($subList as $subLoop){
                if ($j != 0){
                    ?> 
                    <tr style="background-color: #fefefe;">
                    <?php
                    $subject2 = '<td>'.$subLoop['SubCode'].' - '.$subLoop['SubjectName'].' ';

                    $itemList = $model->getItemRegistration($subLoop['IdSemesterMain'], $listLoop['IdProgram'], $listLoop['IdProgramScheme']);

                    echo $subject2.'</td>';
                    echo '<td>'.$subLoop['subSemName'].'</td>';

                    $item = '<td>';
                    if ($itemList){
                        $i=1;
                        $countItem = count($itemList);
                        foreach($itemList as $itemLoop){
                            $item .= $i.') '.$itemLoop['itemRegName'];
                            if ($i != $countItem){
                                $item .= '<br/>';
                            }
                            $i++;
                        }
                    }else{
                        $item .= '<span class="reqMark">No Item Registration</span>';
                    }
                    echo $item.'</td>';
                    ?> 
                    </tr>
                    <?php
                }
                $j++;
            }
        }
        ?>
        <?php
        }
        }
        ?>
    </tbody>
</table>
