<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<?php 
if ($this->studList){
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <thead>
        <tr>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
            <th><?php echo $this->translate('Intake'); ?></th>
            <!--<th><?php //echo $this->translate('Registered Semester'); ?></th>-->
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Programme Scheme'); ?></th>
            <th><?php echo $this->translate('Student Branch'); ?></th>
            <?php
            if ($this->courseList){
                foreach ($this->courseList as $courseLoop){
                    echo '<th>'.$courseLoop['SubCode'].'</th>';
                }
            }
            ?>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->studList as $studLoop){
        ?>
        <tr>
            <td><?php echo $studLoop['appl_fname'].' '.$studLoop['appl_lname']; ?></td>
            <td><?php echo $studLoop['registrationId']; ?></td>
            <td><?php echo $studLoop['statusName']; ?></td>
            <td><?php echo $studLoop['intakeName']; ?></td>
            <!--<td><?php //echo $studLoop['semesterName']; ?></td>-->
            <td><?php echo $studLoop['programName']; ?></td>
            <td><?php echo $studLoop['mop'].' '.$studLoop['mos'].' '.$studLoop['pt']; ?></td>
            <td><?php echo $studLoop['branchName']; ?></td>
            <?php
            if ($this->courseList){
                $model = new Registration_Model_DbTable_Report();
                foreach ($this->courseList as $courseLoop){
                    $subDtl = $model->getRegisteredCourse($this->itemId, $studLoop['IdStudentRegistration'], $courseLoop['IdSubject'], $this->semesterId);
                    //var_dump($this->itemId);
                    if ($subDtl){
                        //$statusId = $subDtl['status'];
                        $statusId = $subDtl['Active'];
                        $subStatus = Registration_ReportController::subjectStatus($statusId);
                    }else{
                        $subStatus = '<td></td>';
                    }
                    echo $subStatus;
                }
            }
            ?>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<?php 
}
?>