<script type="text/javascript">
	function del(){

		var id = $('input[name=id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate("Please select any item first"); ?>');
		}else{
			if(confirm('Are you sure to delete?')){
				window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'delete'),'default',true); ?>/id/"+id;
			}
		}
	}

	function edit(){
		var id = $('input[name=id]:radio:checked').val()
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'charges-edit', 'intake'=>$this->intake_id),'default',true);?>/id/"+id;
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'charges-add', 'intake'=>$this->intake_id),'default',true);?>";
	}

	function edit_faculty(id){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'charges-faculty', 'intake'=>$this->intake_id),'default',true);?>/id/"+id;

		return false;
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div id="div_search" style="display:none;">
	<fieldset>
		<legend>Search</legend>
		<?php echo $this->searchForm; ?>
	</fieldset>
</div>

<div style="width:100%;">

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="2"></th>
		<th><?php echo $this->translate("Last Cut-off Date")?></th>
		<th width="150px">&nbsp;</th>
	</tr>
	
	<?php
	for ($i=0; $i<sizeof($this->data); $i++):
		$entry = $this->data[$i]; 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td> <input type="radio" name="id" value="<?php echo $entry['id']; ?>"></td>
		<td align="left"><?php echo date('d-m-Y',strtotime($entry['last_effective_date'])); ?></td>
		<td align="center">
			<a class="btn" href="#" onclick="return edit_faculty('<?php echo $entry['id']; ?>')"><?php echo $this->translate("Faculty Charges"); ?></a>
		</td>
	</tr>
	<?php
	endfor; 
	?>

</table>
</div>