<script type="text/javascript">

	function edit(){
		var id = $('input[name=id]:radio:checked').val()
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'charges-faculty-edit', 'intake'=>$this->intake_id, 'id'=>$this->head['id']),'default',true);?>/faculty_id/"+id;
	}
	


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-change-program', 'action'=>'charges', 'intake'=>$this->intake_id),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="2"></th>
		<th><?php echo $this->translate("Faculty")?></th>
		<th><?php echo $this->translate("Faculty Short Name")?></th>
		<th><?php echo $this->translate("Faculty Short Code")?></th>
		<th><?php echo $this->translate("Amount")?></th>
	</tr>
	
	<?php
	for ($i=0; $i<sizeof($this->data); $i++):
		$entry = $this->data[$i]; 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td> <input type="radio" name="id" value="<?php echo $entry['IdCollege']; ?>"></td>
		<td><?php echo $entry['ArabicName'];?></td>
		<td><?php echo $entry['ShortName'];?></td>
		<td><?php echo $entry['CollegeCode'];?></td>
		<td><?php echo $entry['amount'];?></td>
	</tr>
	<?php
	endfor; 
	?>

</table>