<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field13').set('value','');
	dijit.byId('field13').set('placeHolder','Select');
	dijit.byId('field11').set('value','');
	dijit.byId('field11').set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/studentfinance/invoice/index/search/1" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Invoice Number");?></td>
				                   <td ><?php echo $this->lobjform->field3;?></td>
				                    <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                </tr>
								 <tr>
				                  
				                   <td><?php echo $this->translate("Faculty");?></td>
				                   <td ><?php echo $this->lobjform->field13;?></td>
								    <td><?php echo $this->translate("Program");?></td>
				                   <td ><?php echo $this->lobjform->field11;?></td>
				                </tr>
								<tr>
				                  
				                   <td><?php echo $this->translate("Invoice Date");?></td>
				                   <td ><?php echo $this->lobjform->field15;?></td>
								  
				                </tr>
								<tr>
				                  
				                   <td><?php echo $this->translate("Active");?></td>
				                   <td colspan="3"><?php echo $this->lobjform->field7;?></td>
								   
				                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'newstudentinvoice'),'default',true);?>';" />
									<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><?php echo $this->translate("Invoice Number");?></th>
	    	<th><?php echo $this->translate("Student Name");?></th>
	    	<th><?php echo $this->translate($this->College);?></th>
	    	<th><?php echo $this->translate("Program");?></th>
	    	<th><?php echo $this->translate("Invoice Date");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjstudents): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/studentfinance/invoice/editstudentinvoice/IdInvoice/<?php echo $this->escape($lobjstudents['IdInvoice']);?>" ><?php echo $this->escape($lobjstudents['InvoiceNo']);?></a></td>
	        	<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
	        	<td><?php print_r($this->escape($lobjstudents['CollegeName']));?></td>
	        	<td><?php print_r($this->escape($lobjstudents['ProgramName']));?></td>
	        	<td><?php print_r($this->escape(date ( "d-m-Y", strtotime ( $lobjstudents['InvoiceDt']))));?></td>
	        	<?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</body>
</html>
