<head>
<script type="text/javascript">
var rowid = 1;
dojo.addOnLoad(function(){
	dijit.byId('IdStudent').set('value','');
	dijit.byId('IdStudent').set('placeHolder','Select');
	dijit.byId('idAccount').set('value','');
	dijit.byId('idAccount').set('placeHolder','Select');
});

function fnGetProgram(IdStudent) {
	if(IdStudent != "")
	{ 
		dijit.byId('idAccount').set('value','');
		dijit.byId('idAccount').set('placeHolder','Select');
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/studentfinance/invoice/fngetprogram/IdStudent/"+IdStudent,
				handleAs:'json',
				load:function(data){ 
					dijit.byId('Faculty').set('value',data['CollegeName']);
					dijit.byId('ApplicantDate').set('value',data['registrationId']);
					dijit.byId('Program').set('value',data['ProgramName']);
					dojo.byId('IdProgram').value = data['IdProgram'];
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
	
}

function fnGetAmount(idAccount) {
	if(idAccount != "")
	{ 
		var idprogram = dojo.byId('IdProgram').value;
		var semester = dijit.byId('semester').value;
		
		if(idprogram == "" || semester == ""){
			alert("Please select student");
		}
		else {
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/studentfinance/invoice/fngetamount/idAccount/"+idAccount+"/idprogram/"+idprogram+"/semester/"+semester,
				handleAs:'json',
				load:function(data){ 
					//alert(data)
					dijit.byId('Amount').set('value',data['Amount']);
				}
		   }

		}  
		dojo.xhrGet(xhrArgs); 
	} 
	
}


function addAccountDetails() {
	var flag = true;

	if(dijit.byId("idAccount")==''){
	    dijit.byId("idAccount").attr('required','true');
		dijit.byId("idAccount").focus();flag = false;
	}

	var idAccount = dijit.byId("idAccount");
	if(idAccount.get('value')== "")
	{
		idAccount.set('class','dijitTextBoxError dijitComboBoxError');
		flag = false;
	}


	if(dijit.byId("Amount").value==''){
	    dijit.byId("Amount").attr('required','true');
		dijit.byId("Amount").focus();flag = false;
	}

	if(flag == true) {
		accountDetailsInsert();	
	}			
	return flag;
}

var accountArray  = new Array();

function accountDetailsInsert() {
	
	var idAccount = dijit.byId("idAccount");
	var idAccountName = dijit.byId("idAccount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	var Description = dijit.byId("Description").value;

	accountArray.push(idAccountName);
		if(arrHasDupes(accountArray))
		{
			accountArray = accountArray.unique();
			alert("Duplicate Account Name");
		} 
		else 
		{
			var trow=document.getElementById('hor').insertRow(rowid);
			var tcol1=trow.insertCell(0);
			var tcol2=trow.insertCell(1);
			var tcol3=trow.insertCell(2);
			var tcol4=trow.insertCell(3);

			tcol1.innerHTML="<input type='hidden' value='"+idAccount+"' name=idAccountgrid[]>"+idAccountName;
			tcol2.innerHTML="<input type='hidden' id = 'credit' value='"+Amount+"' name=Amountgrid[]>"+Amount;
			tcol3.innerHTML="<input type='hidden' id = 'credit' value='"+Description+"' name=Descriptiongrid[]>"+Description;
			tcol4.innerHTML="<a href='#' onClick='deleteRowprogram(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
			rowid++;

		}
}
function deleteRowprogram(r) {
	rowid--;
	var i=r.parentNode.parentNode.rowIndex;
	accountArray.splice(parseInt(i-1),1);
	document.getElementById('hor').deleteRow(i);
	
}
function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Invoice Details");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
               		if (this.validate()) {
						var aid = dojo.byId('credit');
						if(aid == null) {
							alert('Enter Account Details');
							flag =	false;
						} 
                         else{
						flag =	true;
}
						return flag;
					}	
				else {
                    return false;
                }
                
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "5"><?php echo $this->translate("Student Invoice Details");?></th>
                        </tr>
                        <?php echo $this->lobjInvoiceForm->Studentid;?>
                        <tr>
                        	<td><?php echo $this->translate("Student Name");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjInvoiceForm->IdStudent;?></td>
							<td><?php echo $this->translate("Registration Id");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->ApplicantDate;?></td>
                        	
                            <?php echo $this->lobjInvoiceForm->UpdDate;?>
                            <?php echo $this->lobjInvoiceForm->UpdUser;?></td><?php echo $this->lobjInvoiceForm->IdProgram;?>
                        </tr>
                         <tr>
						    <td><?php echo $this->translate("Program");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->Program;?></td>
							<td><?php echo $this->translate("Faculty");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->Faculty;?></td>
                        	
                           
                        </tr>
						<tr>
						<td><?php echo $this->translate("Invoice Date");?><span>*</span></td>
                        <td ><?php echo $this->lobjInvoiceForm->InvoiceDt;?></td>
						<td><?php echo $this->translate("Semester");?></td>
                        <td ><?php echo $this->lobjInvoiceForm->semester;?></td>
						</tr>
                        <tr>
						    <td><?php echo $this->translate("Academic Year");?><span>*</span></td>
                            <td ><?php echo $this->lobjInvoiceForm->AcdmcPeriod;?></td>
                        	<td><?php echo $this->translate("Narration");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->Naration;?></td>
                            
                        </tr>
						<tr>
						<td><?php echo $this->translate("Active");?></td>
                        <td colspan="3"><?php echo $this->lobjInvoiceForm->Active;?></td>
						</tr>
                        <tr>
                            <th colspan = "5"><?php echo $this->translate("Account Details");?></th>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Account Name");?><span>*</span></td>
                            <td ><?php echo $this->lobjInvoiceForm->idAccount;?></td>
                            <td><?php echo $this->translate("Amount");?><span>*</span></td>
                            <td ><?php echo $this->lobjInvoiceForm->Amount;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Description");?></td>
                            <td colspan='3'><?php echo $this->lobjInvoiceForm->Description;?></td>
                            
                        </tr>
                        <tr>
                        	
                            <td colspan='4' align = "right"><?php echo $this->lobjInvoiceForm->Add;?></td>
                        </tr>
                       </table>
                   <table id="hor"  class="table" width="100%" > 
                        <tr>
                            <th><?php echo $this->translate("Account Details");?></th>
                             <th><?php echo $this->translate("Amount");?></th>
                             <th><?php echo $this->translate("Description");?></th>
                             <th><?php echo $this->translate("Delete");?></th>
                        </tr>
						</table>
							<div>
					
						<table id="hor"  class="table" width="100%" > 
					
                        <tr>
                            <th><?php echo $this->translate("Terms And Conditions");?></td>
                             
                        </tr>
						</table>
			 <div style='overflow:auto;height:100px;background:#eee'>
				<table>	
				<tr>
                <td><?php echo $this->lobjInvoiceForm->termCondition ;?></td>	
                </tr>
                	
				</table>
		     </div>
			 </div>
					<table id="hor"  class="table" width="100%">	
                        <tr>
						       
				               <td  colspan='4' align='right'><?php echo $this->lobjInvoiceForm->Save;?>
                               <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'index'),'default',true);?>';" />	
                               </td> 
                        </tr>
                   </table>
			  
            </Form>

</fieldset>

