<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Bill Structure");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/billstructure/index/search/1" method="POST">
            <table width="100%">
            	 <tr>
                   <td><?php echo $this->translate("Bill Master Code");?></td>
                   <td><?php echo $this->lobjform->field2;?></td>
                   <td><?php echo $this->translate("Intake From");?></td>
                   <td><?php echo $this->lobjform->field5;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("Intake To");?></td>
                   <td><?php echo $this->lobjform->field8;?></td>
                   <td><?php echo $this->translate("Category");?></td>
                   <td><?php echo $this->lobjform->field15;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'billstructure', 'action'=>'newbillstructure'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Bill Master Code");?></th>
	       	    <th><?php echo $this->translate("Intake From");?></th>
	       	    <th><?php echo $this->translate("Intake To");?></th>
	       	    <th><?php echo $this->translate("Category");?></th>	  
	       	    <th><?php echo $this->translate("Effective Date");?></th>	  
	       	    <th><?php echo $this->translate("Description");?></th>	       	   
	       </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjbillstructure ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'billstructure', 'action'=>'billstructurelist' , 'id'=>$lobjbillstructure['idBillStructureMaster']),'default',true);?>" >
	        	<?php print_r($this->escape($lobjbillstructure['BillMasterCode']));?></a></td>
	    	    <td><?php echo $this->escape($lobjbillstructure['IntakeFromName']);?></td>
	    	    <td><?php echo $this->escape($lobjbillstructure['IntakeToName']);?></td>
	    	    <td><?php if($lobjbillstructure['IdCategory'] ==0)echo "Local"; else echo "International";?></td>	
	    	    <td><?php echo $this->escape($lobjbillstructure['effectiveDate']);?></td>	
	    	    <td><?php echo $this->escape($lobjbillstructure['Description']);?></td>	    	    
	    	  <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
