<script>
$(function() {
	var intake_id = $('#intake').val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'ajax-get-decree-date'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json',
		async : false	
	}).done(function ( data ) {
		
		$('#date').empty().append('<option value="ALL"> <?php echo $this->translate('All'); ?> </option>');
	
		$.each(data, function(index) {
			$('#date').append('<option value="'+data[index].aaud_decree_date+'"> '+data[index].aaud_decree_date+' </option>');
		});

		initPeriod();
	});
	
	
});

function changeDate(element){
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'ajax-get-decree-date'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json',
		async : false	
	}).done(function ( data ) {
		
		$('#date').empty().append('<option value="ALL"> <?php echo $this->translate('All'); ?> </option>');
	
		$.each(data, function(index) {
			$('#date').append('<option value="'+data[index].aaud_decree_date+'"> '+data[index].aaud_decree_date+' </option>');
		});
	});
}

function changeLocation(element){
	var date = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'ajax-get-pt-location'),'default',true);?>",
		data: {'date':date},
		type: 'POST',
		dataType: 'json',
		async : false	
	}).done(function ( data ) {
		
		$('#location').empty().append('<option value="ALL"> <?php echo $this->translate('All'); ?> </option>');
	
		$.each(data, function(index) {
			$('#location').append('<option value="'+data[index].al_id+'"> '+data[index].al_location_name+' ('+data[index].al_location_code+') </option>');
		});
	});
}

function initPeriod(){
	<?php
	if( isset($this->period) ){
	?>
		$('#period').val('<?php echo $this->period['ap_id']; ?>');
	<?php
	}
	?>	
}

function viewDetail(intake,period,nomor){
	
	var url = '<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'rector-selection-detail-location'),'default',true);?>';
	var data = {'intake':intake,'period':period,'nomor':nomor};
	
	postIt(url,data);
	
	return false;
}

function printOfferReport(intake,date,location,nomor, rank){

	var url = '<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'offer-report'),'default',true);?>';
	var data = {'intake':intake,'date':date,'location':location,'nomor':nomor,'rank':rank};
	
	postIt(url,data);
	
	return false;
}
function printNextReport(intake,date,location,nomor, rank){

	var url = '<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'next-report'),'default',true);?>';
	var data = {'intake':intake,'date':date,'location':location,'nomor':nomor,'rank':rank};
	
	postIt(url,data);
	
	return false;
}
function printRejectReport(intake,date,location,nomor){

	var url = '<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection-report', 'action'=>'reject-report'),'default',true);?>';
	var data = {'intake':intake,'date':date,'location':location,'nomor':nomor};
	
	postIt(url,data);
	
	return false;
}

function postIt(url, data){

	$('#jQueryPostItForm').remove();
	
    $('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: url,
      target: '_BLANK'
    }));

    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }

    $('#jQueryPostItForm').submit();
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			
			<!-- 
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool-report', 'action'=>'report-list'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		 	-->
			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<?php echo $this->form; ?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		
		<th><?php echo $this->translate("Decree Date");?></th>
		<th><?php echo $this->translate("Placement Test Location");?></th>
		<th><?php echo $this->translate("Decree Number");?></th>
		<th><?php echo $this->translate("Jumlah Pemohon");?></th>
		<th width="100px"><?php echo $this->translate("Jumlah di terima")?></th>
		<th width="100px"><?php echo $this->translate("Jumlah Lulus Tahap Pertama")?></th>
		<th width="100px"><?php echo $this->translate("Jumlah di tolak")?></th>
	</tr>
	
	<?php 
	
	if(isset($this->data)){
		foreach($this->data as $entry){
		
	?>
	<tr>
	   	<td align="left"><?php echo $entry["aaud_decree_date"]?>&nbsp;</td>
	   	<td align="left"><?php echo $entry["al_location_name"]?>&nbsp;</td>	
	    <td align="left">
	    	<?php echo $entry["aaud_nomor"];?>
	    </td>	
	    <td align="center"><?php echo $entry["bil_total"]?>&nbsp;</td>
	    <td align="center">
	    	<a href="#" onclick="printOfferReport('<?php echo $entry['at_intake']; ?>','<?php echo $entry['aaud_decree_date']; ?>','<?php echo $entry['al_id']; ?>','<?php echo $entry['aaud_nomor']; ?>');">
	    		<?php echo $entry["bil_offer"];?>
	    	</a>
	    	 &nbsp;
	    	<a href="#" onclick="printOfferReport('<?php echo $entry['at_intake']; ?>','<?php echo $entry['aaud_decree_date']; ?>','<?php echo $entry['al_id']; ?>','<?php echo $entry['aaud_nomor']; ?>',false);">
	    		(w/o Rank)
	    	</a>
	    </td>
	    <td align="center">
	    	<a href="#" onclick="printNextReport('<?php echo $entry['at_intake']; ?>','<?php echo $entry['aaud_decree_date']; ?>','<?php echo $entry['al_id']; ?>','<?php echo $entry['aaud_nomor']; ?>');">
	    		<?php echo $entry["bil_next"];?>
	    	</a>
	    </td>	    
	    <td align="center">
	    	<a href="#" onclick="printRejectReport('<?php echo $entry['at_intake']; ?>','<?php echo $entry['aaud_decree_date']; ?>','<?php echo $entry['al_id']; ?>','<?php echo $entry['aaud_nomor']; ?>');">
	    		<?php echo $entry["bil_reject"];?>
	    	</a>
	    </td>	
	</tr>
	<?php 
		} 
	}
	?>
</table>
