

<div style="width:100%;">

<table width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<td valign="top" rowspan="2" align="center"><img src="<?php echo $this->baseUrl(); ?>/images/logo.png"></td>
		<td>
			<table>
				<tr>
					<td>LAMPIRAN I</td>
					<td>:</td>
					<td>Surat Keputusan Wakil Rektor Bidang Akademik Usakti</td>
				</tr>
				<!-- 
				<tr>
					<td>Nomor</td>
					<td>:</td>
					<td><?php //echo $this->applicant['aaud_nomor'];?></td>
				</tr>
				 -->
				<tr>
					<td>Tanggal</td>
					<td>:</td>
					<td><?php echo date("d F Y",strtotime($this->applicant['aaud_decree_date']));?></td>
				</tr>
				
				<tr>
					<td>Lokasi</td>
					<td>:</td>
					<td><?php echo $this->applicant['al_location_name'];?></td>
				</tr>
				</table>
				
		</td>
	</tr>
	<tr>
		<td align="center">
			<strong>
			DAFTAR NAMA CALON MAHASISWA YANG DITOLAK<br>
			MELALUI UJIAN SARINGAN MASUK <br>
			TAHUN AKADEMIK <?php echo $this->intake['IntakeId']?></strong>
		</td>
	</tr>
	
	
	<tr><td colspan=2>
	<br><br>
	<table class="table3" width="100%" cellpadding="5" cellspacing="0" border="1">
	<tr>
		<th><?php echo $this->translate("no");?></th>			
		<th><?php echo $this->translate("nomor peserta");?></th>
		<th><?php echo $this->translate("nama");?></th>
		<th><?php echo $this->translate("asal smu");?></th>
		<th><?php echo $this->translate("program studi");?></th>
	</tr>
	
	<?php 
	if(isset($this->applicant['reject'])){
		
	$no=1;
	foreach ($this->applicant['reject'] as $entry){
		
		//get school
		$schoolDB = new App_Model_Application_DbTable_ApplicantEducation();
		$school = $schoolDB->getSchool($entry["appl_id"],$entry["txn_id"]);
					
		//get program
		$programDB = new App_Model_Application_DbTable_ApplicantProgram();
		$program = $programDB->getProgram($entry["txn_id"]);

	?>
	<tr>
	   <td align="center"><?php echo $no;?></td>		
		<td align="center"><?php echo $entry["apt_no_pes"]!=null?$entry["apt_no_pes"]:$entry["apt_bill_no"];?></td>
		<td><?php echo $entry["appl_fname"].' '.$entry["appl_mname"].' '.$entry["appl_lname"]?></td>
		<td align="center"><?php echo $school["sm_name"]; ?>&nbsp;</td>
		<td align="left">
			<ol style="margin: 0 0;">
			<?php 
				foreach ($program as $prog){
			
					if( $prog['program_code']!=null && $prog['program_code']!="" ){
						echo "<li style='padding:0; margin:0;'>";
						if($this->locale=="id_ID"){
							echo $prog["program_name_indonesia"];
						}else
						if($this->locale=="en_US"){
							echo $prog = $prog["program_name"];
						}
						echo "</li>";
					}	
					
				}
			?>
			</ol>
		</td>
	</tr>
	<?php $no++;}
	}?>
		
</table>

  </td></tr>
	
<tr >
		<td>&nbsp;</td>
		<td align="right">
		<br>
		</br>
	
		<table width="400px" border="0">
			<tr>
				<td width="90px">Ditetapkan di</td>
				<td width="5px">:</td>
				<td>Jakarta</td>
			</tr>
			<tr>
				<td>Pada Tanggal</td>
				<td>: </td>
				<td><?php echo date("d F Y",strtotime($this->applicant['aaud_decree_date']));?></td>
			</tr>
			<tr align="center">
				<td colspan=3>
				<br></br>					
				Wakil Rektor Bidang Akademik<br>
				Selaku<br>
				Ketua/Penangungjawab Penyelenggaraan<br>
				PMB USAKTI Tahun Akademik <?php echo $this->academic_year; ?></td>
			</tr>
			<tr  align="center">
				<td colspan=3>&nbsp;<br></br><br></br></td>
			</tr>
			<tr  align="center">
				<td colspan=3><strong>Prof. Dr. H Yuswar Zainul Basri, AK.MBA</strong></td>
			</tr>
		</table>
			
	</td>
</tr>
</table>

</div>
