<script type="text/javascript">
    function get_programscheme(){
        
        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Placement Test Student Search"); ?></legend>
    <form id='search' method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate("Program");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->Program;?></td>
                <td><?php echo $this->translate("Applicant Id");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->ApplicantId;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program Scheme");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->Scheme;?></td>
                <td><?php echo $this->translate("Applicant First Name");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->ApplicantName1;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Intake");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->Intake;?></td>
                <td><?php echo $this->translate("Applicant Middle Name");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->ApplicantName2;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Placement Test");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->PlacementTest;?></td>
                <td><?php echo $this->translate("Student Last Name");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->ApplicantName3;?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Student Category");?></td>
                <td><?php echo $this->placementTestStudentSearchForm->StudentCategory;?></td>
                <td><?php //echo $this->translate("Student Last Name");?></td>
                <td><?php //echo $this->placementTestStudentSearchForm->PlacementTest;?></td>
            </tr>
            <tr>
                <td align="center" colspan="4">
                    <?php echo $this->placementTestStudentSearchForm->Search;?>
                    <?php echo $this->placementTestStudentSearchForm->Clear;?>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br>
<fieldset>
    <form id='marks' method="post">
    <table id="tbl_program" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
        <thead>
            <tr>
                <th><?php echo $this->translate("Applicant Id");?></th>
                <th><?php echo $this->translate("Applicant Name");?></th>
                <th><?php echo $this->translate("Programme Name");?></th>
                <th><?php echo $this->translate("Program Scheme");?></th>
                <th><?php echo $this->translate("Intake");?></th>
                <th><?php echo $this->translate("Student Type");?></th>
                <th><?php echo $this->translate("Component and Marks");?></th>
            </tr>
        </thead>
        <!-- end table head -->

        <!--start table body -->
        <tbody>
        <?php
        if (count($this->placementTestList)>0):
        foreach($this->placementTestList as $placementTestListLoop):
        ?>
            <tr id='<?php echo $placementTestListLoop['at_trans_id'];?>'>
                <td><?php echo $placementTestListLoop['at_pes_id'];?></td>
                <td><?php echo $placementTestListLoop['appl_fname']." ".$placementTestListLoop['appl_mname']." ".$placementTestListLoop['appl_lname'];?></td>
                <td><?php echo $placementTestListLoop['ProgramName'];?></td>
                <td>
                    <?php
                    echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($placementTestListLoop['mode_of_program'])
                    .' '.Application_Model_DbTable_ChecklistVerification::fnGetDefination($placementTestListLoop['mode_of_study'])
                    .' '.Application_Model_DbTable_ChecklistVerification::fnGetDefination($placementTestListLoop['program_type']);
                    ?>
                </td>
                <td><?php echo $placementTestListLoop['IntakeDesc'];?></td>
                <td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($placementTestListLoop['appl_category']); ?></td>
                <td>
                    <table>
                        <?php 
                        $placementTestMarkModel = new Application_Model_DbTable_Placementtestmarks();
                        $componentList = $placementTestMarkModel->getPlacementTestComp($placementTestListLoop['IdPlacementTest']);
                        if (count($componentList) > 0):
                        foreach ($componentList as $componentLoop):
                        ?>
                        <tr>
                          <input type="hidden" name="at_trans_id[]" value="<?php echo $placementTestListLoop['at_trans_id'];?>">
                          <input type="hidden" name="IdPlacementTestComponent[]" value="<?php echo $componentLoop['IdPlacementTestComponent'];?>">
                          <input type="hidden" name="IdPlacementTest[]" value="<?php echo $placementTestListLoop['IdPlacementTest'];?>">
                          <td><?php echo $componentLoop['ComponentName']; ?></td>
                          <td><input type="text" class="span-3" value="" id="Marks" name="Marks[]"><?php echo "/".$componentLoop['ComponentTotalMarks']; ?></td>
                        </tr>
                        <?php 
                        endforeach;
                        endif;
                        ?>
                    </table>
                </td>
            </tr>
            <?php 
            endforeach;
            endif; 
            ?>
        </tbody>
    </table>
    <div class="form-opt">
        <?php echo $this->placementTestStudentSearchForm->Save; ?>
    </div>
    </form>
</fieldset>
