
<script type="text/javascript">

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br />
<fieldset>
	<legend>
		<?php echo $this->translate('Search');?>
	</legend>
	
	<form id="form_search" method="post">
	<table>
		<tr>
			<td><?php echo $this->translate('Name');?></td>
			<td>
				<input type="text" name="name" id="name" value="<?php echo $this->search['name'];?>" class="input-txt" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ID');?></td>
			<td>
				<input type="text" name="id" id="id" value="<?php echo $this->search['id'];?>" class="input-txt" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Transaction Code');?></td>
			<td>
				<input type="text" name="receipt_id" class="input-txt" id="receipt_id" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Status');?></td>
			<td>
				<select name="status" id="status" class="select">
				<option value=""><?php echo $this->translate("All");?></option>
				<option value="ENTRY"><?php echo $this->translate("ENTRY");?></option>
				<option value="SUCCESS"><?php echo $this->translate("SUCCESS");?></option>
				<option value="FAIL"><?php echo $this->translate("FAIL");?></option>
				</select>
				
			</td>
		</tr>
		<tr>
		<td><?php echo $this->translate('Date From');?></td>
		<td><input type="text" name="date_from" class="input-txt datepicker"
			id="date_from"
			value="<?php echo $this->date_from;?>" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date To');?></td>
		<td><input type="text" name="date_to" class="input-txt datepicker"
			id="date_to"
			value="<?php echo $this->date_to;?>" />
		</td>
	</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<input type="radio" name="type" id="type" value="645" <?php echo $this->search['type']==645?'checked="checked"':'';?>  <?php echo !isset($this->search['type'])?'checked="checked"':'';?> /> <label for="type_app"><?php echo $this->translate("Applicant"); ?></label> 
				<br>
				<input type="radio" name="type" id="type" value="646" <?php echo $this->search['type']==646?'checked="checked"':'';?> /> <label for="type_stud"><?php echo $this->translate("Student"); ?></label> 
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="<?php echo $this->translate('Search');?>" />
				<input type="button" name="search" id="btn_clear" class="button" value="<?php echo $this->translate('Clear');?>" onclick="window.location = '/studentfinance/receipt'" />
			</td>
		</tr>
	</table>
	</form>
</fieldset> 
<br/>
<div style="width:100%;">

<?php if ( count($this->paginator) > 0 ):?>
<?php
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th colspan="2"><?php echo $this->translate('Source')?></th>
		<th><?php echo $this->translate('Applicant ID')?></th>
		<th><?php echo $this->translate('Applicant Name')?></th>
		<th><?php echo $this->translate('Transaction Code')?></th>
		<th><?php echo $this->translate('Cur')?></th>
		<th><?php echo $this->translate('Amount')?></th>
		<th><?php echo $this->translate('Status')?></th>
		<th><?php echo $this->translate('Has Response?')?></th>
		<th><?php echo $this->translate('Date')?></th>
		<th><?php echo $this->translate('Receipt No')?></th>
		<th><?php echo $this->translate('Receipt Status')?></th>
		<th>&nbsp;</th>
		
	</tr>
	
	<?php

//	echo "<pre>";
//	print_r($this->paginator);
	$i=1;
	foreach ($this->paginator as $entry): 
	?>
	<tr>
		<td><?php echo $i; ?></td>
		<td><?php echo $this->search['type'] == 645?'Applicant':'Student'; ?></td>
		<td><?php echo $this->search['type'] == 645?$entry['at_pes_id']:$entry['registrationId']; ?></td>
		<td><?php echo $this->search['type'] == 645?$entry['applicant_name']:$entry['student_name']; ?></td>
		<td><?php echo $entry['mt_txn_no']?></td>
		<td align='right'><?php echo $entry['cur_code']?></td>
		<td align='right'><?php echo $entry['mt_amount']?></td>
		<td align='center'><?php echo $entry['mt_status']?></td>
		<td align='center'><?php echo $entry['mt_rep_error_status']=='0'?'Yes':'No'?></td>
		<td align='center'><?php echo format_date_to_view($entry['mt_txn_date'],'full')?></td>
		<td align='center'><?php echo $entry['rcp_no']?></td>
		<td align='center'><a href="<?php echo $this->baseUrl()?>/studentfinance/receipt/view-receipt-detail/id/<?php echo $entry['idReceipt']?>"><?php echo $entry['rcp_status']?></a></td>
		<td align='center'>
		 <a href="<?php echo $this->baseUrl()?>/studentfinance/payment-history/migs-view/id/<?php echo $entry['mt_id']?>"><?php echo $this->translate('View')?></a>
		</td>
		<!--<td align='center'>
		<?php if($entry['mt_status'] == 'ENTRY' || $entry['rcp_status'] == 'ENTRY'){?>
		 <a href="<?php echo $this->baseUrl()?>/studentfinance/payment-history/approve/id/<?php echo $entry['mt_id']?>"><?php echo $this->translate('Process')?></a>
		<?php  }?>
		</td>
	--><?php 
	$i++;
	endforeach 
	?>

</table>
</div>

<?php endif; ?>

<?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>