

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<?php if ( $this->data['mt_status'] == 'ENTRY' ) { ?>
			<li>
				<a href="/studentfinance/payment-history/approve/id/<?php echo $this->data['mt_id'];?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to approve this transaction?')?>')">
					<span class='approve'></span>
					<?php echo $this->translate('Approve'); ?>
				</a>
			</li>
			<?php } ?>
		<li>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-history', 'action'=>'migs'),'default',true);?>" >
				<span class='back'></span>
				Back
			</a>
		</li>
		</ul>
	</div>
</div>
<br />

<table width="100%" class='table'>
	<tr>
		<td width="20%"><?php echo $this->translate('Applicant')?></td>
		<td><?php echo $this->data['appl_fullname']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Transaction No')?></td>
		<td><?php echo $this->data['mt_txn_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Status')?></td>
		<td><?php echo $this->data['mt_status']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Amount')?></td>
		<td><?php echo $this->data['mt_amount']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Currency')?></td>
		<td><?php echo $this->data['cur_code']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Date')?></td>
		<td><?php echo $this->data['mt_txn_date']?></td>
	</tr>

	<!--tr>
		<td><?php echo $this->translate('URL')?></td>
		<td><?php echo $this->data['mt_url']?></td>
	</tr>-->
	<tr>
		<th colspan="2"><?php echo $this->translate('Response')?></th>
	</tr>
	<!--<tr>
		<td><?php echo $this->translate('Response Raw')?>
		<td><div style="max-width:500px"><?php echo $this->data['mt_rep_raw']?></div></td>
	</tr>-->
	<tr>
		<td><?php echo$this->translate('Error Status')?></td>
		<td><?php echo $this->data['mt_rep_error_status']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Hash Validation')?></td>
		<td><?php echo $this->data['mt_rep_hash_validation']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Amount')?></td>
		<td><?php echo $this->data['mt_rep_amount']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Locale')?></td>
		<td><?php echo $this->data['mt_rep_locale']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Batch No')?></td>
		<td><?php echo $this->data['mt_rep_batch_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Command')?></td>
		<td><?php echo $this->data['mt_rep_command']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Message')?></td>
		<td><?php echo $this->data['mt_rep_message']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Version')?></td>
		<td><?php echo $this->data['mt_rep_version']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Card Type')?></td>
		<td><?php echo $this->data['mt_rep_card_type']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Order Info')?></td>
		<td><?php echo $this->data['mt_rep_order_info']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Receipt No')?></td>
		<td><?php echo $this->data['mt_rep_receipt_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Merchant Id')?></td>
		<td><?php echo $this->data['mt_rep_merchant_id']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Authorize Id')?></td>
		<td><?php echo $this->data['mt_rep_authorize_id']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Merchant Transaction Reference')?></td>
		<td><?php echo $this->data['mt_rep_merch_txn_ref']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Merchant Transaction No')?></td>
		<td><?php echo $this->data['mt_rep_transaction_no']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('ACQ Response Code')?></td>
		<td><?php echo $this->data['mt_rep_acq_response_code']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Merchant Transaction Response Code')?></td>
		<td><?php echo $this->data['mt_rep_txn_response_code']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Merchant Transaction Response Code Desc')?></td>
		<td><?php echo $this->data['mt_rep_txn_response_code_desc']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_ver_type')?></td>
		<td><?php echo $this->data['mt_3d_rep_ver_type']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_ver_status')?></td>
		<td><?php echo $this->data['mt_3d_rep_ver_status']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_ver_status_desc')?></td>
		<td><?php echo $this->data['mt_3d_rep_ver_status']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_ver_status_desc')?></td>
		<td><?php echo $this->data['mt_3d_rep_ver_status']?></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_token')?></td>
		<td><?php echo $this->data['mt_3d_rep_token']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_ver_secur_level')?></td>
		<td><?php echo $this->data['mt_3d_rep_ver_secur_level']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_enrolled')?></td>
		<td><?php echo $this->data['mt_3d_rep_enrolled']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_xid')?></td>
		<td><?php echo $this->data['mt_3d_rep_xid']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_acq_eci')?></td>
		<td><?php echo $this->data['mt_3d_rep_acq_eci']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('mt_3d_rep_auth_status')?></td>
		<td><?php echo $this->data['mt_3d_rep_auth_status']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Update Date')?></td>
		<td><?php echo $this->data['UpdDate']?></td>
	</tr>
	
</table>