<script type="text/javascript">

    $(function()
    {

        $( ".datepicker" ).datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
        });

        $("input[name=searchby]").on('change', function()
        {
            $("#searchpayee").val('');
            initAutocomplete();
        });

        $("#rcp_payee_type").on('change', function()
        {
            initAutocomplete();
            //$("#payee_type").val(this.value);
        });

        initAutocomplete();

        $("#invoice_form").hide();
        $("#receipt_form").hide();
        $("#adv_payment_form").hide();
    });


    function initAutocomplete()
    {
        var term = $("#searchpayee").val();
        var type = $("#rcp_payee_type").val();
        var searchby = $("input[name=searchby]:checked").val();

        type = type == 645 ? 0 : 1;


        $( "#searchpayee" ).autocomplete({
            source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-applicant-student'), 'default', true); ?>/type/'+type+'/searchby/'+searchby,
            minLength: 2,
            search: function(event, ui) {
                $("#search_status").html('<?php echo $this->translate('searching...'); ?>');
            },
            response: function (event, ui) {
                $("#search_status").html('');
            },
            select: function(event, ui) {


                $('#payee_id').val(ui.item.key);
                search_payer();
                setTimeout(function(){ $("#searchpayee").val(ui.item.label)} ,250);
                return false;

            }
        });
    }

    var inv_amounts = [];

    function search_payer(){

        var currency_used = $('#currency_used').val();
        $.ajax({
            cache : false,
            type: 'POST',
            dataType: 'json',
            url: "/studentfinance/invoice/search-payee",
            data: {
                'rcp_payee_type':$('#rcp_payee_type').val(),
                'payee_id':$('#payee_id').val(),
                'payee_invoice_no':$('#payee_invoice_no').val(),
                'payee_proforma_no':$('#payee_proforma_no').val()
            },
            beforeSend : function() {

                /*$.blockUI({
                 message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> <?php //echo $this->translate('Searching'); ?>...</div></div>',
                 });*/

                $('#dis_payee_name').html('');
                $('#dis_payee_id').html('');
                $('#dis_payee_type').html('');
                $('#dis_program').html('');
            }
        }).done(function(data) {

            //$.unblockUI

            if(data == null){
                alert('<?php echo $this->translate('Payee not found'); ?>');
            }else{
                $('#dis_payee_name').html(data.payee_name);
                $('#dis_payee_id').html(data.payee_id);
                $('#dis_program').html(data.program_name);
                $(".payee").attr("data-payee", "1");
                $(".payment").attr("data-payment", "1");

                getfeestructurelist(data.fs_id);
                getsemester(data.scheme_id);

                $('#dis_payee_type').html( $( "#rcp_payee_type option:selected" ).text() );

                $('#payee_id').val(data.trans_id);
                $('#payee_type').val($( "#rcp_payee_type option:selected" ).val());


                //invoice
                $('#tbl_invoices tbody').empty();

                inv_amounts['MYR'] = 0;
                inv_amounts['USD'] = 0;

                if (typeof data.invoice != 'undefined') {
                    var amountInvoice = 0;
                    $.each(data.invoice, function(key,value){

                        var balanceAmount = parseFloat(value.balance);
                        if(currency_used == 2){
                            amountInvoice = value.inv_total_usd;
                        }else if(currency_used == 1){
                            amountInvoice = value.inv_total_myr;
                        }else{
                            amountInvoice = 0;
                        }

                        //amountInvoice += parseFloat(value.balance);

                        inv_amounts['MYR'] +=  parseFloat(value.amount_myr);
                        inv_amounts['USD'] +=  parseFloat(value.amount_usd);

                        $('#tbl_invoices tbody').append(
                            $('<tr id="invrow-'+value.id+'">')
                                .append('<td>'+value.bill_number)
                                .append('<td>'+value.fee_item_description)
                                .append('<td>'+value.SemesterName)
                                .append('<td align="right" class="inv_myr"><font color="'+(value.cur_code=='MYR' ? 'green' : 'black')+'">'+value.amount_myr+'</font>')
                                .append('<td align="right" class="inv_myr"><font color="'+(value.cur_code=='USD' ? 'green' : 'black')+'">'+value.amount_usd+'</font>')
                                //.append('<td align="right">'+value.amount_default_currency)
                                .append('<td align="right">'+value.paid)
                                .append('<td align="right">'+value.balance)
                                .append('<td align="left">'+value.status)

                        );
                    });

                    $('#tbl_invoices tbody').append('<input type="hidden" name="amountInvoice" id="amountInvoice" value="'+amountInvoice+'">');

                    $('#tbl_invoices tbody').append(
                        $('<tr>')
                            .append('<td colspan="3" align="right">Total')
                            .append('<td align="right">'+parseFloat(inv_amounts['MYR']).toFixed(2))
                            .append('<td align="right">'+parseFloat(inv_amounts['USD']).toFixed(2))
                            .append('<td colspan="4">')
                    );

                    $('#ui-accordion-accordion-header-1').html('<?php echo $this->translate('Invoice'); ?> ('+data.invoice.length+')');
                }else{

                    $('#ui-accordion-accordion-header-1').html('<?php echo $this->translate('Invoice'); ?> (0)');

                    $('#tbl_invoices tbody').append(
                        $('<tr>')
                            .append('<td colspan="8" align="center"><?php echo $this->translate('Not Available'); ?></td>')
                    );
                }


                //saveSession('payee_id', data.payee_id);
                //saveSession('appl_id', data.appl_id);
                //saveSession('payee_type', data.payee_type);
            }



        });


    }

    function getfeestructurelist(id){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'ajax-get-fee-item'),'default',true);?>",
            data:"id="+id,
            context: document.body,
            success: function(data){

                $("#LoadingImage").ajaxStop(function () {
                    $(this).hide();
                });
                response = eval(data);

                fi_id.options.length = 0;
                fi_id.options[0]=new Option('-- Please select --','');

                for(var i=0; i<response.length; i++){
                    fi_id.options[i+1]=new Option(response[i].fi_name +" ("+response[i].fi_code + ')',response[i].fi_id);
                }

            }
        });
    }

    function getsemester(id){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'ajax-get-semester'),'default',true);?>",
            data:"id="+id,
            context: document.body,
            success: function(data){

                $("#LoadingImage").ajaxStop(function () {
                    $(this).hide();
                });
                response = eval(data);

                semester_id.options.length = 0;
                semester_id.options[0]=new Option('-- Please select --','');

                for(var i=0; i<response.length; i++){
                    semester_id.options[i+1]=new Option(response[i].SemesterMainCode,response[i].IdSemesterMaster);
                }

            }
        });
    }

    function getPaymentMode(id){

        type = change_payment(id);

        $("#LoadingImage").ajaxStart(function () {
            $(this).show();
        });

        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'receipt','action'=>'ajax-get-payment-mode'),'default',true);?>",
            data:"id="+id,
            context: document.body,
            success: function(data){

                $("#LoadingImage").ajaxStop(function () {
                    $(this).hide();
                });
                response = eval(data);


                mode_of_payment.options.length = 0;
                mode_of_payment.options[0]=new Option('-- Please select --','');

                if(id==0){
                    mode_of_payment.options[0]=new Option('Migs','0');
                }

                for(var i=0; i<response.length; i++){
                    mode_of_payment.options[i+1]=new Option(response[i].payment_mode +" ("+response[i].description + ')',response[i].id);
                }

            }
        });
    }

    function change_payment(payment_group_id){

        if(payment_group_id == 638 || payment_group_id == 853 || payment_group_id == 854 || payment_group_id == 0){
            type = 1;
            $('#payment_group_1').show();
            $('#payment_group_2').hide();
            $('#payment_group_2 form').trigger("reset");
        }else
        if(payment_group_id == 852){
            type =2;
            $('#payment_group_1').hide();
            $('#payment_group_2').show();
            $('#payment_group_1 form').trigger("reset");
        }
        return type;
    }

    function changeType(type){
        if (type == 1){
            $('#invoice_form').show();
            $('#receipt_form').hide();
            $('#adv_payment_form').hide();
        }else if(type == 2){
            $('#receipt_form').show();
            $('#invoice_form').hide();
            $('#adv_payment_form').hide();
        }else if (type == 3){
            $('#receipt_form').hide();
            $('#invoice_form').hide();
            $('#adv_payment_form').show();
        }else{
            $('#invoice_form').hide();
            $('#receipt_form').hide();
            $('#adv_payment_form').hide();
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate', 'action'=>'edit-migration'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate('Back'); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<table class="" width="100%" cellpadding="10px" cellspacing="10px">
    <tr>
        <td width="150px"><?php echo $this->translate('Type');?></td>
        <td>
            <select class="select" name="rcp_payee_type" id="rcp_payee_type">
                <?php
                foreach ($this->payee_type_list as $payee_type){
                    ?>
                    <option value="<?php echo $payee_type['idDefinition']; ?>"><?php echo $payee_type['DefinitionDesc']; ?></option>
                    <?php
                }
                ?>
            </select>

            <input type="radio" name="searchby" value="0" id="search-0"/> <label for="search-0"><?php echo $this->translate('ID')?></label>
            <input type="radio" name="searchby" value="1" id="search-1" checked="checked" /> <label for="search-1"><?php echo $this->translate('Name')?></label>
        </td>
    </tr>
    <tr>
        <td width="150px"><?php echo $this->translate('Name/ID')?></td>
        <td colspan="3">
            <input type="text" id="searchpayee" value="" class="input-txt" style="margin-bottom:4px" /> <span id="search_status"></span><br />

        </td>
    </tr>
</table>
<br />
<fieldset>
    <legend>
        <?php echo $this->translate("Entry Details");?>
    </legend>
    <?php if($this->errMsg=='0') { ?>
        <p colspan="3" style="color: red;" align="center">
            <?php echo $this->translate("Sorry, try another Invoice Id");?>
        </p>
    <?php } ?>
    <br/>
    <div id = "studentdetails">
        <table class="table" width="100%">
            <!-- PAYEE -->
            <tr>
                <td width="25%"><?php echo $this->translate('Name');?></td>
                <td width="75%" id="dis_payee_name"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID');?></td>
                <td id="dis_payee_id"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme');?></td>
                <td id="dis_program"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Type');?></td>
                <td id="dis_payee_type"></td>
            </tr>

        </table>
    </div>
    <br />
</fieldset>
<form id="submitreceipt" method="post">
    <input type="hidden" name="payee_id" id="payee_id" value="" />
    <input type="hidden" name="payee_type" id="payee_type" value="" />
    <br />
    <table class="table" width="100%">
        <tr>
            <td width="25%"><?php echo $this->translate('Type');?></td>
            <td>
                <select name="type_entry" id="type_entry" class="input-txt" onchange="changeType(this.value);" required>
                    <option value="" label="-- Select --">-- Select --</option>
                    <option value="1" label="Invoice">Invoice</option>
                    <option value="2" label="Payment">Payment</option>
                    <option value="3" label="Advance Payment">Advance Payment</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="table" width="100%" id="invoice_form">
        <tr>
            <td width="25%"><?php echo $this->translate('Invoice Date');?></td>
            <td><input type="text"  name="invoice_date" id="invoice_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester');?></td>
            <td>
                <select name="semester_id" id="semester_id" class="input-txt" >
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Fee Item');?></td>
            <td>
                <select name="fi_id" id="fi_id" class="input-txt" >
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Currency');?></td>
            <td>
                <select name="currency_id" id="currency_id" class="input-txt" >
                    <?php foreach($this->currencyList as $cur){?>
                        <option value="<?php echo $cur['cur_id'];?>"><?php echo $cur['cur_code'];?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Amount');?></td>
            <td><input type="text" name="bill_amount" class="input-txt" id="bill_amount" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description');?></td>
            <td><textarea name="bill_description" id="bill_description" class="input-txt" ></textarea></td>
        </tr>
    </table>
    <table class="table" width="100%" id="receipt_form">
        <tr>
            <td width="25%"><?php echo $this->translate('Payment Date');?></td>
            <td><input type="text"  name="payment_date" id="payment_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate('Payment Group');?> <span class="reqMark">*</span></td>
            <td width="75%">
                <select id="payment_group_selector" name="payment_group_selector" onchange="getPaymentMode(this.value)" class="select">
                    <option value=""><?php echo $this->translate('-- Please select --')?></option>
                    <option value="0">Migs</option>
                    <?php foreach ($this->payment_group as $payment_group){?>
                        <option value="<?php echo $payment_group['idDefinition'];?>"><?php echo $payment_group['DefinitionDesc'];?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Payment');?> <span class="reqMark">*</span></td>
            <td>

                <select id="mode_of_payment" name="mode_of_payment" class="select">
                </select>
            </td>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate('Reference No');?></td>
            <td width="75%"><input type="text" name="1_cheque_no" class="input-txt" id="1_cheque_no" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Currency');?></td>
            <td>
                <select id="1_currency" name="1_currency" class="select">
                    <?php foreach ($this->currencyList as $currency){?>
                        <option value="<?php echo $currency['cur_id'];?>"><?php echo $currency['cur_code'];?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Amount');?></td>
            <td><input type="text" name="1_amount" class="input-txt" id="1_amount" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description');?></td>
            <td><textarea name="payment_description" id="payment_description" class="input-txt" ></textarea></td>
        </tr>
    </table>
    <table class="table" width="100%" id="adv_payment_form">
        <tr>
            <td width="25%"><?php echo $this->translate('Advance Payment Date');?></td>
            <td><input type="text"  name="adv_payment_date" id="adv_payment_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Currency');?></td>
            <td>
                <select name="adv_currency_id" id="adv_currency_id" class="input-txt" >
                    <?php foreach($this->currencyList as $cur){?>
                        <option value="<?php echo $cur['cur_id'];?>"><?php echo $cur['cur_code'];?></option>
                    <?php }?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Amount');?></td>
            <td><input type="text" name="adv_amount" class="input-txt" id="adv_amount" /></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description');?></td>
            <td><textarea name="adv_description" id="adv_description" class="input-txt" ></textarea></td>
        </tr>
    </table>
    <div class="form-opt">
        <button id="savebtn"><?php echo $this->translate('Save');?></button>
        <button><?php echo $this->translate('Clear');?></button>
    </div>
</form>