<script type="text/javascript">

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});

$(function(){
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});
	
});


$(function(){
    $('#downloadbalance').click(function() {
        $("#f1").attr("action", "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant','action'=>'download-balance'), 'default', true);?>" );
        $("#f1").submit();
        
    });

    $('#download').click(function() {
        $("#f1").attr("action", "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant','action'=>'download'), 'default', true);?>" );
        $("#f1").submit();
        
    });
});


function getIntake(element){

	 var idProgram = $(element).val();
	

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-intake'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
					    	
		    	$.each(data, function(index) {

		    		$('#IdIntake').append('<option value="">All</option>');			    	
			    	$.each(data, function(index) {
//				    	if(IdIntake==data[index].IdIntake){
//							var sel = 'selected';
//				    	}else{
//							var sel = '';
//				    	}
			    		$('#IdIntake').append('<option value="'+data[index].IdIntake+'"'+sel+'>'+data[index].IntakeDesc+'</option>');	
			    	});

		    	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('intakediv');
		      
			},
			complete: function() {
				hideLoading('intakediv');
			}  	
		});
	 }
}

  
	function search_student(){

		var name = $('#name').val();
		var id = $('#id').val();
		var type = $('input[name=type]:checked').val()

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/ajax-utility/search-student",
		      type: "post",
		      async : false,
		      data: {'name':name, 'id':id, 'type':type},
		      dataType: 'json',
		      beforeSend: function (){
		    	  $(table).html('<tr><td colspan="3">Loading...</td></tr>');
		      },
		      success: function(data){
		    	  $(table).empty();
		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
		        		  if(typeof data[i].nim != 'undefined'){
			        		  var id = data[i].nim;
			        		  var id_reg = data[i].IdStudentRegistration;
			        	  }else{
				        	  var id = "-";
				        	  var id_reg = null;
				          }
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='detail("+data[i].appl_id+","+type+","+id_reg+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"<td>"+ id +"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = '<tr><td colspan="3"> No Search Result </td></tr>';
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		    	  $(table).empty();
		          alert("failure");
		      }   
		}); 
	}

	function detail(id,type, id_reg){

		if(type==1){
			window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant', 'action'=>'ledger'),'default',true);?>/id/'+id;
		}else
		if(type==2){
			window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-student', 'action'=>'ledger'),'default',true);?>/id/'+id_reg;
		}
	}


	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate', 'action'=>'add-migration'),'default',true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add') ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Search Applicant / Student');?>
	</legend>
	<form method="post" action="">
	<table>
		<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program" id="program" class="select"
			onchange="getIntake(this);">
			<option value="">Please select</option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->formData['program'] == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				
				<?php /*$selectAll ='';
				if($this->program =='ALL'){
				$selectAll = "selected='selected'";
				}*/?>
				<!--<option value="ALL" <?php echo $selectAll;?>><?php echo $this->translate("ALL");?></option>
				--></select></td>
	</tr>
	
		<tr>
			<td><?php echo $this->translate('Name');?></td>
			<td>
				<input type="text" name="name" id="name" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ID');?></td>
			<td>
				<input type="text" name="id" id="id" value="" />
			</td>
		</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<input type="radio" name="type" id="type" value="1"/> <?php echo $this->translate("Applicant"); ?> 
				<br />
				<input type="radio" name="type" id="type" value="2"  checked="checked" /> <?php echo $this->translate("Student"); ?> 
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
			
				<input type="submit" name="search" id="btn_search" class="button" value="Search" />
				<input type="reset" name="reset" id="btn_search" class="button" value="Clear" />
			</td>
		</tr>
	</table>
	</form>
</fieldset>

<form method="post" id="f1" action="">
<br />
<input type="hidden" name="type" id="type" value="<?php echo $this->formData['type'];?>">
<input type="hidden" name="date_from" id="date_from" value="<?php echo $this->formData['date_from'];?>">
<input type="hidden" name="date_to" id="date_to" value="<?php echo $this->formData['date_to'];?>">
<?php if ( count($this->paginator) > 0 ):?>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th colspan="2"><?php echo $this->translate("Applicant ID");?></th>
			<th><?php echo $this->translate("Applicant Name");?></th>
			<th><?php echo $this->translate("Programme");?></th>
			<th><?php echo $this->translate("Programme Scheme")?></th>
			<th><?php echo $this->translate("Intake");?></th>
			<th><?php echo $this->translate("Category")?></th>
			<th><?php echo $this->translate("Status")?></th>
			<th><?php echo $this->translate("Migrate Code")?></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	
		<?php 
		$i=0;
		
		foreach ($this->paginator as $data): 
		?>
		<tr>
			<td width="5px"><?php echo $i+1;?>.</td>
			<td><?php echo $data['pes_id'];?></td>
			<td><?php echo $data['name'];?></td>
			<td><?php echo $data['ProgramCode']?></td>
			
			<td><?php if(isset($data['ProgramMode'])) echo $data['ProgramMode'].'<br />'.$data['StudyMode'].'<br />'.$data['ProgramType']?></td>
			<td><?php echo $data['IntakeDesc']?></td>
			<td align="center"><?php echo isset( $data['appl_category_name'] ) ? $data['appl_category_name'] : ''; ?></td>
			<td><?php echo strtoupper($data['profile_status'])?></td>
			<td><?php echo $data['MigrateCode']?></td>
			<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate', 'action'=>'ledger','id'=>$data['transID'],'type'=>$this->formData['type']),'default',true);?>"><?php echo $this->translate('View');?></a></td>
			
		</tr>
		<?php 
		$i++;
		endforeach; ?>
		
		
	</tbody>
</table>
</form></td>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<?php endif; ?>

