<script type="text/javascript">

    function submitForm() {

        var total = $("#intake").val();

        if (total == 0) {
            alert('<?php echo $this->translate('No data selected')?>');
            return false;
        }

        return sure('<?php echo $this->translate('Are you sure to Generate Yearly Invoice?')?>');


    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>

    <div class="toolbar-button">
        <ul>

        </ul>
    </div>
</div>
<br/>

<form method="post" action="" id="search" onsubmit="return submitForm()">
    <table>
        <tr>
            <td><?php echo $this->translate('Intake'); ?></td>
            <td><select name="intake" id="intake" class="select">
                    <option value="0"><?php echo $this->translate("Please select"); ?></option>
                    <?php foreach ($this->intakeData as $int) {
                        $selected = '';
                        if ($this->intake == $int['IdIntake']) {
                            $selected = "selected='selected'";

                        }
                        ?>
                        <option value="<?php echo $int['IdIntake']; ?>"
                            <?php echo $selected; ?>><?php echo $int['IntakeDesc']; ?></option>
                    <?php } ?>


                </select></td>
        </tr>


        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="search" id="btn_search" class="button" value="Generate Invoice"/>
            </td>
        </tr>
    </table>
</form>
<br>


<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
    <br/>
<?php } ?>

