<script type="text/javascript">
$(function() {
	getSemester('#program');

});

function getSemester(element){

	 var idProgram = $(element).val();
	 var semester = <?php echo $this->semester;?>;

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){

				$('#semester').empty();
				$('#semester').append('<option value="">Please select</option>');			    	
		    	$.each(data, function(index) {
			    	if(semester==data[index].IdSemesterMaster){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#semester').append('<option value="'+data[index].IdSemesterMaster+'"'+sel+'>'+data[index].SemesterMainName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semester');
		      
			},
			complete: function() {
				hideLoading('semester');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function submitForm(){

	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No data selected')?>');
		return false;
	}
	
	return sure('<?php echo $this->translate('Are you sure to Generate Invoice?')?>');
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<?php if (count($this->list)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<form method="post" action="" name="generate" id="generate" onsubmit="return submitForm();">
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Mode of Study");?></th>
		<th><?php echo $this->translate("Scheme1");?></th>
		<th><?php echo $this->translate("Scheme2");?></th>
		<th><?php echo $this->translate("fs_id");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Registered Date");?></th>
		<th><?php echo $this->translate("By");?></th>
		<th><?php echo $this->translate("Item ");?></th>
		<th><?php echo $this->translate("Amount");?></th>
		<th></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->list as $lobjstudents){
		
	?>
	<tr>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php echo $this->escape($lobjstudents['student_fullname']);?></td>
		<td><?php echo $this->escape($lobjstudents['ProgramMode']);?></td>
		<td><?php echo $this->escape($lobjstudents['scheme1']);?></td>
		<td><?php echo $this->escape($lobjstudents['scheme2']);?></td>
		<td><?php echo $this->escape($lobjstudents['fs_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['created_date']);?></td>
		<td><?php echo $this->escape($lobjstudents['created_role']);?></td>
		<td><?php echo $this->escape($lobjstudents['item_name']);?></td>
		<td align="right">
	<?php if($lobjstudents['cur_code']){?>	
	<?php echo $this->escape($lobjstudents['cur_code']);?><?php echo $this->escape($lobjstudents['amount']);?>
	<?php }else{ echo '<font color=red>No Setup</font>';}?></td>
		<td><input type="checkbox" name="id[]" id="id[]" value="<?php echo $lobjstudents['id'];?>:<?php  echo $lobjstudents['idRegDetail'];?>" class="chk"></td>
	</tr>
<?php }?>
</table>


<br>
<input type="submit" name="approve" class="button" value="CN" />
<!--<input type="submit" name="approve" class="button" value="Invoice" />
--></form>
<?php } ?>
