
<script type="text/javascript">
var prepend_val = false;
$(function() {
	$( "#tabs" ).tabs({
		beforeActivate: function( event, ui ) {
			
			if(ui.newPanel.selector == '#tabs-1' && !prepend_val){				
				$(ui.newPanel).prepend('<input type="button" value="Reload Account Statement" onClick="window.location.href=\'<?php echo $this->url(array('module'=>'studentfinance','controller'=>'account-applicant', 'action'=>'ledger', 'id'=>$this->appl_id),'default',true);  ?>\'" />');
				prepend_val = true;
			}
		},
		beforeLoad: function(event, ui){
			$(ui.panel).html("Loading...");
		},
		load: function( event, ui ) {
			
			if(ui.panel.selector == '#ui-tabs-3'){
				$(".view").click(function() {
					$.fancybox({
							'title'			: 'Advance Payment - Detail',
							'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
							'type'			: 'ajax'
						});

					return false;
				});
			}
		}
	});

});

$(function() {
	
	$( "#dialog-item" ).dialog({
	    autoOpen: false,
	    modal: true,
	    width: '750',
	    position : top,
	    buttons: {
	        "Save": function() {
				$('#form_edit_bill').submit();
	        },
	        Cancel: function() {
	            $( this ).dialog( "close" );
	        }
	    }
	});
});


function editBill(id,type){

	$( "#dialog-item" ).dialog('open');

	$.ajax({
		url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate', 'action'=>'edit-transaction'),'default',true);?>",
		data: {'id':id, 'type':type,'appl_id':<?php echo $this->appl_id;?>,'typeApp':<?php echo $this->typeApp;?>},
		type: 'GET',
		beforeSend: function(){
			$('.loading').remove();
			$('#dialog-optional-item').html('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
		}
	}).done(function ( data ) {
		//console.log(data);

		$("#dialog-item").html(data);
	});
	
}

function cancelBill(id, type){

	var msg = '<?php echo $this->translate("Are you sure to Cancel this transaction?");?>';

	if( confirm(msg) ){
		window.location = "/studentfinance/migrate/cancel-transaction/id/"+id+"/type/"+type+"/appl_id/"+<?php echo $this->appl_id;?>+"/typeApp/"+<?php echo $this->typeApp;?>;
	}
	
}
</script>

<style type="text/css">
#ui-datepicker-div { display: none; }
th.right { text-align:right !important; }
.ui-tabs-panel { padding:10px 1px 0 1px !important; }
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />


<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	<table  width="100%">
		<tr>
			<td width="15%"><?php echo $this->translate("Name"); ?></td>
			<td width="35%">
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_mname']." ":""; ?>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_lname']." ":""; ?>
			</td>
			<td width="15%"><?php echo $this->translate("Status"); ?></td>
			<td width="35%"><?php echo $this->profile['StatusName']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("ID"); ?></td>
			<td><?php echo $this->profile['at_pes_id']; ?></td>
			<td><?php echo $this->translate("Fee Structure"); ?></td>
			<td><?php echo $this->profile['fs_name']; ?></td>
		</tr>
		
		<tr>
			<td><?php echo $this->translate("Intake"); ?></td>
			<td><?php echo $this->profile['IntakeDesc']; ?></td>
			<td><?php echo $this->translate("Sponsorship"); ?></td>
			<td><?php echo !isset($this->profile['Sponsorship']) ? '' : $this->profile['Sponsorship']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Programme"); ?></td>
			<td><?php echo $this->profile['ProgramName']; ?></td>
			<td><?php echo $this->translate("Scholarship"); ?></td>
			<td><?php echo isset($this->profile['Scholarship'])?$this->profile['Scholarship']:''; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Programme Scheme"); ?></td>
			<td>
			<?php if ( isset($this->profile['ProgramMode']) && $this->profile['ProgramMode'] != '' ) echo $this->profile['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->profile['StudyMode']) && $this->profile['StudyMode'] != '' ) echo $this->profile['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->profile['ProgramType']) && $this->profile['ProgramType'] != '' ) echo $this->profile['ProgramType'] ?>
			</td>
			<td><?php echo $this->translate("Discount Plan"); ?></td>
			<td><?php echo !isset($this->profile['Discount']) ? '' : $this->profile['Discount']; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Student Category"); ?></td>
			<td><?php echo $this->profile['StudentCategory']; ?></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Branch"); ?></td>
			<td><?php echo $this->profile['BranchName']; ?></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</fieldset>
<br />
<form id="cancel" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate','action'=>'cancel-transaction'), 'default', true);?>" onsubmit="return submitForm();">
    	<table class="table bordered" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th width="20px"  >&nbsp;</th>
				<th width="100px" ><?php echo $this->translate("Date")?></th>
				<th width="100px" ><?php echo $this->translate("Transaction Type")?></th>
				<th><?php echo $this->translate("Reference No")?></th>				
				<th><?php echo $this->translate("Description")?></th>
				<th><?php echo $this->translate("Currency")?></th>
				<th><?php echo $this->translate("Amount")?></th>
				<th width="100px"></th>
			</tr>

			<?php 
			$i=0;
			
			if($this->account){
				
			foreach ($this->account as $entry):
			?>
			<tr>
				<td align="center"><?php echo $i+1;?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>				
				<td>
				<?php if($entry['migrate_code']!=''){
					echo $entry['migrate_desc'];
				}else{?>
				<?php echo ($entry['subject']) ? $entry['subject'].' - ' : '';?>
				<?php echo $entry['description'];
				}//end else ?> 
				</td>
				<td><?php echo $entry['cur_code']; ?></td>
				<td align="right"><?php echo $entry['amount']; ?></td>
				<td align="center">
			
			<?php //var_dump($entry); ?>
			<?php if(($entry['migrate_code']!='' || $entry['txn_type']=='Invoice' || $entry['txn_type']=='Payment') && $entry['txn_type']!='Refund'){ ?>
			
				<a href="#" onclick="editBill('<?php echo $entry['id']?>','<?php echo $entry['txn_type'];?>'); return false;">Edit</a>
				
			<?php
			}
			 if($entry['migrate_code']!=''){ ?>
				 | <a href="#" onclick="cancelBill('<?php echo $entry['id']?>','<?php echo $entry['txn_type'];?>'); return false;">Cancel </a>
			<?php  } ?>
			
			</td>	
			</tr>
			<?php 
			$i++;
			endforeach; 
			?>
			<?php 
			}else{
				
				echo '<tr><td colspan="9">'.$this->translate("There is no record available").'</td></tr>';
			}
			?>
		</table>


<div id="dialog-item" title="<?php echo $this->translate("Edit Transaction"); ?>">
   
</div>
