<script type="text/javascript">
  
	function search_student(){

		var name = $('#name').val();
		var id = $('#id').val();
		var type = $('input[name=type]:checked').val()

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/ajax-utility/search-transaction",
		      type: "post",
		      data: {'name':name, 'id':id, 'type':type},
		      dataType: 'json',
		      success: function(data){

		         

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='detail("+data[i].at_trans_id+","+data[i].at_appl_type+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"<td>"+data[i].at_pes_id+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }

		          $('#result').show();
		      },
		      error:function(){
		    	  $('#result').hide();
		          alert("failure");
		      }   
		}); 
	}


	function getStatus(element){

		var type = $(element).val();

			$.ajax({
				url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'migrate', 'action'=>'get-status'),'default',true);?>",
				data: {'type':type},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					$('#status').empty();
						$.each(data, function(index) {
//
							$('#status').append('<option value="'+data[index].idDefinition+'">'+data[index].DefinitionDesc+'</option>');
						});


				},
				error:function(){
					alert("failure");
				},
				beforeSend: function() {
					showLoading('status');

				},
				complete: function() {
					hideLoading('status');
				}
			});
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	function detail(id,appl_type){
		window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'detail'),'default',true);?>/txn/'+id+'/type/'+appl_type;		
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />



	<form method="post" action="">
	<table>
		<tr>
			<td><?php echo $this->translate('Transaction Type');?></td>
			<td>
				<select name="doctype" id="doctype" class="select">
				<option value="0">-- please select -- </option>
				<option value="INVOICE">INVOICE</option>
				<option value="PAYMENT">PAYMENT</option>
				<option value="CREDIT MEMO">CREDIT MEMO</option>
				<option value="Advance">ADVANCE PAYMENT</option>
				<option value="Refund">REFUND</option>
				</select>
				
			</td>
		</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<select name="type" id="type" class="select" onchange="getStatus(this);">
					<option value="0">-- Please select --</option>
					<option value="1">Applicant</option>
					<option value="2">Student</option>
				</select>

			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Status');?></td>
			<td>
				<select name="status" id="status" class="select">

				</select>

			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Semester');?></td>
			<td>
				<select name="semester" id="semester" class="select">
				<option value="0">Semester 0</option>
				<?php foreach($this->semester as $cat){?>
				<option value="<?php echo $cat['SemesterMainCode'];?>"><?php echo $cat['SemesterMainCode'];?></option>
				<?php }?>
				</select>
				
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="Migrate" />
			</td>
		</tr>
	</table>
	</form>
<br>	
	
	
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

