
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />



	<form method="post" action="">
	<table>
		<tr>
			<td><?php echo $this->translate('Semester');?></td>
			<td>
				<select name="semester" id="semester" class="select">
				<option value="">Please select</option>
				<?php foreach($this->semester as $cat){?>
				<option value="<?php echo $cat['IdSemesterMaster'];?>"><?php echo $cat['SemesterMainCode'];?></option>
				<?php }?>
				</select>
				
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="Update Course Status" />
			</td>
		</tr>
	</table>
	</form>
<br>	
	
	
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

