<script type="text/javascript">
$(function() {
	getSemester('#program');

});

function getSemester(element){

	 var idProgram = $(element).val();
	 var semester = <?php echo $this->semester;?>;

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){

				$('#semester').empty();
				$('#semester').append('<option value="">Please select</option>');			    	
		    	$.each(data, function(index) {
			    	if(semester==data[index].IdSemesterMaster){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#semester').append('<option value="'+data[index].IdSemesterMaster+'"'+sel+'>'+data[index].SemesterMainName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semester');
		      
			},
			complete: function() {
				hideLoading('semester');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function submitForm(){

	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No data selected')?>');
		return false;
	}
	
	return sure('<?php echo $this->translate('Are you sure to Generate Invoice?')?>');
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />

<form method="post" action="" id="search">
	<table>
		<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program" id="program" class="select"
			onchange="getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->programData as $program){
				$selected= '';
				if($this->program == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramCode'];?> - <?php echo $program['ProgramName'];?></option>
				<?php }?>
				
				
				</select></td>
	</tr>
		
		<tr>
			<td><?php echo $this->translate('Semester');?></td>
			<td>
				<select name="semester" id="semester" class="select">
				
				</select>
				
			</td>
		</tr>
		
		<tr>
			<td><?php echo $this->translate('Course Status');?></td>
			<td>
				<select name="status" id="status" class="select">
				
				<?php 
				$selected= '';
				if($this->status == 0){
					$selected = "selected='selected'";
					
				}
				?>
				<option value=""><?php echo $this->translate("Please select");?></option>
				<option value="0" <?php echo $this->status == 0 ? "selected='selected'" : "";?>>Pre-Registered</option>
				
				<option value="9" <?php echo $this->status == 9 ? "selected='selected'" : "";?>>Pre-Repeat</option>
<!--				<option value="10">Pre-Replace</option>-->
				
				</select>
				
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="Search" />
			</td>
		</tr>
	</table>
	</form>
<br>	
	
	
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<?php if (count($this->list)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<form method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'generate-invoice-by-balance'),'default',true);?>" name="generate" id="generate" onsubmit="return submitForm();">

online 577 / face to face 578<br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("ID");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Mode of Study");?></th>
		<th><?php echo $this->translate("fs_id");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("mof");?></th>
		<th><?php echo $this->translate("Registered Date");?></th>
		<th><?php echo $this->translate("By");?></th>
		<th><?php echo $this->translate("Item ");?></th>
		<th><?php echo $this->translate("Invoice No");?></th>
		<th><?php echo $this->translate("Amount(G)");?></th>
		<th><?php echo $this->translate("Balance");?></th>
		<th><?php echo $this->translate("Amount");?></th>
		<th></th>
	</tr>
	<?php 

	$totalAmount = 0;
	foreach ($this->list as $lobjstudents){
		if($lobjstudents['cur_code']){
			if($lobjstudents['amount'] > $lobjstudents['bill_amount']){
				$balanceNew = $lobjstudents['amount'] - $lobjstudents['bill_amount'];
			}else{
				$balanceNew = 0;
			}
		}else{
			$balanceNew = 0;
		}
		
	?>
	<tr>
		<td><?php echo $this->escape($lobjstudents['IdStudentRegistration']);?></td>
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		<td><?php echo $this->escape($lobjstudents['student_fullname']);?></td>
		<td><?php echo $this->escape($lobjstudents['ProgramMode']);?></td>
		<td><?php echo $this->escape($lobjstudents['fs_id']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['mof']);?></td>
		<td><?php echo $this->escape($lobjstudents['created_date']);?></td>
		<td><?php echo $this->escape($lobjstudents['created_role']);?></td>
		<td><?php echo $this->escape($lobjstudents['item_name']);?></td>
		<td><?php echo $this->escape($lobjstudents['bill_number']);?></td>
		<td align="right"><?php echo $this->escape($lobjstudents['cr_cur_code']);?><?php echo $this->escape($lobjstudents['bill_amount']);?></td>
		<td><?php echo $this->escape($lobjstudents['balance']);?></td>
		<td align="right">
	<?php if($lobjstudents['cur_code']){?>	
	<?php echo $this->escape($lobjstudents['cur_code']);?><?php echo $this->escape($lobjstudents['amount']);?>
	<?php }else{ echo '<font color=red>No Setup</font>';}?></td>
		<td><input type="checkbox" name="id[]" id="id[]" value="<?php echo $lobjstudents['id'];?>:<?php echo $balanceNew;?>:<?php echo $lobjstudents['IdStudentRegistration'];?>" class="chk"></td>
	</tr>
<?php }?>
</table>


<br>
<input type="submit" name="search" id="btn_search" class="button" value="Generate New Invoice" />

</form>
<?php } ?>
