<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Scholarship Age Weightage"); ?></h2>
</div>
<br />

<form id="myForm" action="" method="post" name="myForm">
    <input type="hidden" name="ageweight[id]" value="<?php echo $this->ageweight->id; ?>" >
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Age")  ;?></td>
            <td><input type="text" name="ageweight[from]"  value="<?php echo $this->ageweight->from; ?>" required > <?php echo $this->translate('to'); ?> <input type="text" name="ageweight[to]"  value="<?php echo $this->ageweight->to; ?>" required ></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="number" name="ageweight[score]"  value="<?php echo $this->ageweight->score; ?>" required ></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>