<div class="breadcrum">
    <ul class="tri-steps">
        <li class="prevDone">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'semester', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Semester"); ?></a>
            </div>
        </li>
        <li class="lastCurrent">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'activity', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Activity"); ?></a>
            </div>
        </li>
        <!--<li class="last">
            <div class="text"><a
                    href="<?php /*echo $this->url(array('module' => 'generalsetup', 'controller' => 'semestercalender', 'action' => 'index'), 'default', true); */?>"><?php /*echo $this->translate("Calendar"); */?></a>
            </div>
        </li>-->
    </ul>
    <div class="clear"></div>
</div>

<br></br>
<div class="message toolbar">
    <h2><?php echo $this->translate("Activity Setup"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'activity', 'action' => 'newactivity'), 'default', true); ?>';">
                    <span class='add'></span>
                    <?php echo $this->translate("Add"); ?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
                    <span class='info'></span>
                    Info
                </a>
            </li>-->
        </ul>
    </div>
</div>


<fieldset>
    <legend><?php echo $this->translate("Search"); ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/generalsetup/activity/index/search/1" method="POST">
        <table width="100%">
            <tr>
                <td width="20%"><?php echo $this->translate("Activity Type"); ?></td>
                <td><?php echo $this->lobjform->field5; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Activity Name"); ?></td>
                <td><?php echo $this->lobjform->field3; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <?php echo $this->lobjform->Search; ?>
                    <?php echo $this->lobjform->Clear; ?>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
</br>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Activity Name"); ?></th>
        <th><?php echo $this->translate("Activity Type"); ?></th>
        <th><?php echo $this->translate("Color"); ?></th>
        <th>&nbsp;</th>
    </tr>
    <?php $activityDb = new GeneralSetup_Model_DbTable_Activity();
    if (count($this->paginator)): ?>
    <?php foreach ($this->paginator as $lobjActivity): ?>
    <tr>
        <td><?php echo $lobjActivity['ActivityName']; ?></td>
        <td><?php echo $lobjActivity['ActivityTypeName']; ?></td>
        <td style="background-color:<?php print_r($this->escape($lobjActivity['ActivityColorCode'])); ?>"
            width="80px"></td>
        <td align='center' class="options">
            <?php if ($this->session->IdRole == 1 || $this->session->IdRole == 455) { ?>
                <a href="<?php echo $this->baseUrl(); ?>/generalsetup/activity/editactivity/id/<?php echo $this->escape($lobjActivity['idActivity']); ?>"><?php echo $this->translate("Edit"); ?></a>
            <?php } else {
                if ($this->iduser == $lobjActivity['UpdUser']) { ?>
                    <a href="<?php echo $this->baseUrl(); ?>/generalsetup/activity/editactivity/id/<?php echo $this->escape($lobjActivity['idActivity']); ?>"><?php echo $this->translate("Edit"); ?></a>
                <?php } else {
                    echo $this->translate("Edit");
                }
            } ?>
            |
            <?php
            $activity_list = $activityDb->checkExistActivity($lobjActivity['idActivity']);
            if (count($activity_list) > 0) {
                echo $this->translate("Delete");
            } else {

                if ($this->session->IdRole == 1 || $this->session->IdRole == 455) {
                    ?>
                    <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'activity', 'action' => 'deleteactivity', 'id' => $lobjActivity['idActivity']), 'default', true); ?>">
                        <?php echo $this->translate("Delete"); ?>
                    </a>
                <?php } else {
                    if ($this->iduser == $lobjActivity['UpdUser']) { ?>
                        <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'activity', 'action' => 'deleteactivity', 'id' => $lobjActivity['idActivity']), 'default', true); ?>"><?php echo $this->translate("Edit"); ?></a>
                    <?php } else {
                        echo $this->translate("Delete");
                    }
                }
            } ?>
        </td>

        <?php endforeach; ?>
        <?php endif; ?>
    </tr>
</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>