<div id="tab-3">

    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th><?php echo $this->translate("Activity Name"); ?></th>
            <th><?php echo $this->translate("Activity Type"); ?></th>
            <th><?php echo $this->translate("Student Group Type"); ?></th>
            <th><?php echo $this->translate("Start Date"); ?></th>
            <th><?php echo $this->translate("End Date"); ?></th>
            <th><?php echo $this->translate("Color"); ?></th>
            <th>&nbsp;</th>
        </tr>
        <?php
        if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjActivity): ?>
        <tr>
            <td><?php echo $lobjActivity['ActivityName']; ?></td>
            <td><?php echo $lobjActivity['ActivityTypeName']; ?></td>
            <td><?php echo $lobjActivity['StudentGroupCode']; ?></td>
            <td><?php echo format_date_to_view($lobjActivity['StartDate']); ?></td>
            <td><?php echo format_date_to_view($lobjActivity['EndDate']); ?></td>
            <td style="background-color:<?php print_r($this->escape($lobjActivity['ActivityColorCode'])); ?>"
                width="80px"></td>
            <td align='center' class="options">
                <a href="<?php echo $this->baseUrl(); ?>/generalsetup/semestercalender/edit/id/<?php echo $this->escape($lobjActivity['IdSemesterCalendar']); ?>"><?php echo $this->translate("Edit"); ?></a>
                |
                <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'semestercalender', 'action' => 'delete', 'id' => $lobjActivity['IdSemesterCalendar']), 'default', true); ?>">
                    <?php echo $this->translate("Delete"); ?>
                </a>
            </td>

            <?php endforeach; ?>
            <?php endif; ?>
        </tr>
    </table>

</div>
