<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate($this->Program).' '.$this->translate("Charge Master Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/programchargemaster/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Program Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                   <td></td>
                   <td ></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcharges ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'programchargemaster', 'action'=>'programchargemasterlist' , 'id'=>$lobjcharges['IdProgram']),'default',true);?>" ><?php print_r($this->escape($lobjcharges['ProgramName']));?></a></td>
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
