<head>
<script type="text/javascript">
var rowid = 1;
	dojo.addOnLoad(function(){
		var IdCharges = dijit.byId('IdCharges').value;	
		fnGetChargelist(IdCharges);
	});

	function fnGetChargelist(IdCharges){ 
		if(IdCharges)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/studentfinance/programchargemaster/getcharges/IdCharges/"+IdCharges,
					handleAs:'json',
					load:function(data){ 
						 dijit.byId("Charges").set('value',data.Rate);	
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	}

	function deleteprogramcharge(IdTemp) {
		var xhrArgs = {url: "<?php echo $this->baseUrl();?>"+"/studentfinance/programchargemaster/deleteprogramchargedetails/IdTemp/"+IdTemp,
				handleAs:'json',
				load:function(data){ 
					if(data == '1') {
						window.location = "<?php echo $this->baseUrl(); ?>/studentfinance/programchargemaster/programchargemasterlist/id/<?php echo $this->lintProgram;?>/update/true"
					}
				}
		}
		dojo.xhrPost(xhrArgs); 
	}

	function addChargeDetails() {
		var flag = true;
		
			if(dijit.byId("IdCharges").value==''){
	    		dijit.byId("IdCharges").attr('required','true');
				dijit.byId("IdCharges").focus();flag = false;
			}

			if(dijit.byId("Charges").value==''){
	    		dijit.byId("Charges").attr('required','true');
				dijit.byId("Charges").focus();flag = false;
			}
	
			if(flag == true) {
				chargedetailsInsert();	
			}			
		return flag;
	}
	var chargeArray  = new Array();
	var oldContent = "";
	var NoCnt	=	0;
	
	<?php if($this->tempprogramlist): 
	foreach($this->tempprogramlist as $programlist) { ?>
	chargeArray.push(<?php echo $programlist['IdCharges']; ?>);
	<?php } endif; ?>
	function chargedetailsInsert() {
		var IdCharges = dijit.byId("IdCharges");
		var IdChargesname = dijit.byId("IdCharges").displayedValue;
		var Charges = dijit.byId("Charges").value;
		chargeArray.push(IdChargesname);
		if(arrHasDupes(chargeArray))
		{
			chargeArray = chargeArray.unique();
			alert("Duplicate Charge Name");
		} else {

			var trow=document.getElementById('hor').insertRow(rowid);
			var tcol1=trow.insertCell(0);
			var tcol2=trow.insertCell(1);
			var tcol3=trow.insertCell(2);
			
			tcol1.innerHTML="<input type='hidden' value='"+IdCharges+"' name=IdChargesgrid[]>"+IdChargesname;
			tcol2.innerHTML="<input type='hidden' value='"+Charges+"' name=Chargesgrid[]>"+Charges;
			tcol3.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
			rowid++;
		}
	}
	function deleteRow(r)
	{
		rowid--;
		var i=r.parentNode.parentNode.rowIndex;
		chargeArray.splice(parseInt(i-1),1);
		document.getElementById('hor').deleteRow(i);
		
	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}
	
	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }
	                
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
	

</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate($this->Program).' '.$this->translate("Charge Master");?></legend>
   <form  action="<?php echo $this->baseUrl()?>/studentfinance/programchargemaster/programchargemasterlist/id/<?php echo $this->Idcharges?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
				
					return true;
                } else {
alert('asd');
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Program).' '.$this->translate("Charge Details");?></th>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Charge Name");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjProgramChargemasterForm->IdCharges;?></td>
                            <td><?php echo $this->translate("Charge");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjProgramChargemasterForm->Charges;?></td>
                            <?php echo $this->lobjProgramChargemasterForm->UpdDate;?>
                            <?php echo $this->lobjProgramChargemasterForm->UpdUser;?>
                            <?php echo $this->lobjProgramChargemasterForm->IdProgram;?></td>
                        </tr>
                        <tr>
                        	<td align = "right" colspan = "4"><?php echo $this->lobjProgramChargemasterForm->Add;?></td>
                        </tr>
                  </table>      
                        <table id="hor" class="table" width="100%">
						<tr>
							<th><?php echo $this->translate->_("Charge").' '.$this->translate->_("Name")?></th>
							<th><?php echo $this->translate->_("Charge")?></th>
							<th><?php echo $this->translate->_("Delete")?></th>
						</tr>
						<?php foreach($this->tempprogramlist as $programlist) {?>
						<tr>
							<td><?php echo $programlist['ChargeName'];?></td>
							<td><?php echo $programlist['Charges'];?></td>
							<td align="">
							<a href="#" onClick="deleteprogramcharge('<?php echo $programlist['IdTemp'];?>');" >
							<img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'>
							</a>
							</td>
						</tr>
						<?php }?>
					</table>
					<table class="table" width="100%" >
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjProgramChargemasterForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'programchargemaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </form>

</fieldset>
