<script type="text/javascript">
    function addScheme(){
        window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schemesetup', 'action'=>'newschemesetup'),'default',true);?>";
    }
    
    function editScheme(){
        var id = $('input[name=id]:checked').val();

        if(!id){
            alert('<?php echo $this->translate('Please select any scheme first'); ?>');
        }else{
            window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schemesetup', 'action'=>'schemesetuplist'));?>/id/"+id;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Scheme");?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
		<a href="#" onclick="javascript:addScheme()">
		<span class='add'></span>
		<?php echo $this->translate("Add");?>
		</a>
            </li>
           
        </ul>
    </div>
</div>
<br><br>
<fieldset>
 <legend><?php echo $this->translate("Search");?></legend>
        <form action="<?php echo $this->baseUrl();?>/generalsetup/schemesetup/index/search/1" method="POST">
        <dl class="zend_form">
        <dt><?php echo $this->translate("English Description");?></dt>
        <dd><?php echo $this->lobjform->field2;?></dd>
        <dt><?php echo $this->translate($this->defaultlanguage);?></dt>
        <dd><?php echo $this->lobjform->field3;?></dd>
        <dt><?php echo $this->translate("Scheme Code");?></dt>
        <dd><?php echo $this->lobjform->field4;?></dd>
        <dt><?php echo $this->translate("Active");?></dd>
        <dd><?php echo $this->lobjform->field7;?></dd>
        <dd>
        <?php echo $this->lobjform->Search;?>
        <?php echo $this->lobjform->Clear;?>
        </dd>
        </dl>
        </form>	
</fieldset> 
<br/>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
				<th><?php echo $this->translate("English Description");?></th>
				<th><?php echo $this->translate($this->defaultlanguage);?></th>
				<th><?php echo $this->translate("Scheme Code");?></th>
            <th width="10%">&nbsp;</th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjscheme ): ?>
		<tr>
			
			<td><?php echo $this->escape($lobjscheme['EnglishDescription']);?></td>
            <td><?php echo $this->escape($lobjscheme['SchemeDescMalay']);?></td>
			<td><?php echo $this->escape($lobjscheme['SchemeCode']);?></td>
			<td align="center"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schemesetup', 'action'=>'schemesetuplist' , 'id'=>$lobjscheme['IdScheme']),'default',true);?>"><?php echo $this->translate('Edit');?></a></td>                   
		</tr> 
		<?php endforeach; ?>
		<?php endif; ?> 
</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>