<script>
dojo.addOnLoad(function() {
	dijit.byId('Mode').set('value','');
	dijit.byId('Mode').set('placeHolder','Select');
});
</script>

<body class='claro'>
<div class="message toolbar">
<h2><?php echo $this->translate("Add Scheme");?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'schemesetup', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
           
        </ul>
    </div>
</div>
<br></br>
 <fieldset>
 <Form dojoType="dijit.form.Form" id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/schemesetup/newschemesetup" method="post" name="myForm">
 <script type="dojo/method" event="onSubmit" >
               if (this.validate()) {
                   return true;
                 } else {
                   return false;
 	           }
 </script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("New Scheme Setup");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("English Description");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->EnglishDescription;?></td>
        <td><?php echo $this->translate("Malay Description");?></td>
        <td><?php echo $this->lobjSchemesetupForm->SchemeDescMalay;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Scheme Code");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->SchemeCode;?></td>
        <td><?php echo $this->translate("Scheme Type");?></td>
        <td><?php echo $this->lobjSchemesetupForm->SchemeType;?></td>
    </tr
    <tr>
		<td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjSchemesetupForm->Active;?></td>
		<?php echo $this->lobjSchemesetupForm->UpdDate;?>
        <?php echo $this->lobjSchemesetupForm->UpdUser;?>
   </tr>
	
</table>

<div class="form-opt">
	<?php echo $this->lobjSchemesetupForm->Save; ?>
	<?php //echo $this->form->cancel; ?>
</div>
</body>

