<style>
    .right{
        text-align:right !important;
    }
    
    .center{
        text-align:center !important;
    }
    
    .w10{
        width:10% !important;
    }
    .w20{
        width:20% !important;
    }
    .w30{
        width:30% !important;
    }
    .w40{
        width:40% !important;
    }
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'advisement', 'action'=>'index'),'default',true);?>';">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?php if ($this->step == 1) :?>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id,'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Personal Details'); ?></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w30"><?php echo $this->translate('Student Name'); ?></td>
        <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID'); ?></td>
        <td><?php echo $this->studentInfo['registrationId']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->studentInfo['IdTypeName']; ?></td>
        <td><?php echo $this->studentInfo['appl_idnumber']; ?></td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
<br/>
<form id="scheme" method="post" action="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>">
    <table class="table" width="100%">
        <thead>
            <tr>
                <th colspan="2"><?php echo $this->translate('Programme Details'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="w30"><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->studentInfo['ProgramName']; ?></td>
                
            </tr>
            <tr>
                <td><?php echo $this->translate('Mode of Programme'); ?></td>
                <td>    
                    <select name="programmode" class="select">
                        <?php foreach ($this->program_scheme['ProgramMode'] as $b => $program_mode):?>
                        <option value="<?php echo $b?>" <?php echo $s = ($b == $this->studentInfo['mode_of_program']) ? 'selected' : '';?>><?php echo $program_mode;?></option>
                        <?php endforeach;?>
                    </select>
                </td>
                
            </tr>
            <tr>
                <td><?php echo $this->translate('Mode of Study'); ?></td>
                <td>
                    <select name="studymode" class="select">
                        <?php foreach ($this->program_scheme['StudyMode'] as $a => $study_mode):?>
                        <option value="<?php echo $a?>" <?php echo $s = ($a == $this->studentInfo['mode_of_study']) ? 'selected' : '';?>><?php echo $study_mode;?></option>
                        <?php endforeach;?>
                    </select>
                
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Type'); ?></td>
                <td>
                    <?php echo $this->studentInfo['pt']; ?>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="opt center">
        <input type="submit" value="<?php echo $this->translate("Next");?> &raquo;" class="next"/>
    </div>
</form>
<?php endif;?>
<?php if ($this->step == 2) :?>
<script>
var dialog;
$(document).ready(function(){
    
    
    dialog = $( "#remain" ).dialog({
    autoOpen: false,
    height: 500,
    width: 600,
    modal: true,
    buttons: {
    "<?php echo $this->translate('Add to list');?>": addToList,
    Cancel: function() {
    dialog.dialog( "close" );
    }
    },
    close: function() {
    //form[ 0 ].reset();
    //allFields.removeClass( "ui-state-error" );
    }
    });
    
     $("#showCourses").click(function(){
        dialog.dialog('open');
    }); 
    
    $("#whatif").on('click','a.removeAdvisement', function(e){
        e.preventDefault();
       
        uri = $(this).attr('href');
        
        $.ajax({
            url     : uri,
            type    : 'GET',
            success : function(data) {
                    $.ajax({
                    url     : '<?php echo $this->baseUrl();?>/records/advisement/list-courses/id/<?php echo $this->id?>/landscape_id/<?php echo $this->landscape_id;?>',
                    type    : 'GET',
                    success : function(data) {
                        $("#whatif").html(data);
                        //alert(data);
                    },
                    error   : function(data){
                        //do something
                    }
                });
            },
            error   : function(data){
                //do something
            }
        });
    });
    
});

function addToList(){
    $.ajax({
        url     : '<?php echo $this->baseUrl();?>/records/advisement/add-course/id/<?php echo $this->id?>',
        type    : 'POST',
        data    : $("#sourceList").serializeArray(),
        success : function(resp){
            dialog.dialog( "close" );
            console.log(resp);
            if (resp != 0){
                var content = 'Cannot add same subject in one semester ';
                
                /*$.each(resp,function(index){
                    content += resp[index]+' ';
                });*/
                
                alert(content);
            }
            
            $('input:checkbox').removeAttr('checked');
            $.ajax({
                url     : '<?php echo $this->baseUrl();?>/records/advisement/list-courses/id/<?php echo $this->id?>/landscape_id/<?php echo $this->landscape_id;?>',
                type    : 'GET',
                success : function(data) {
                    $("#whatif").html(data);
                },
                error   : function(data){
                    //do something
                }
            });
        },
        error   : function(resp){
            //alert(JSON.stringify(resp));
        }
     });
}


</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Personal Details'); ?></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w30"><?php echo $this->translate('Student Name'); ?></td>
        <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID'); ?></td>
        <td><?php echo $this->studentInfo['registrationId']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->studentInfo['IdTypeName']; ?></td>
        <td><?php echo $this->studentInfo['appl_idnumber']; ?></td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
<br/>
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Programme Details'); ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w30"><?php echo $this->translate('Programme'); ?></td>
            <td><?php echo $this->scheme['ProgramName']; ?></td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Programme'); ?></td>
            <td>    
                <?php echo $this->scheme['ProgramMode']?>
            </td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Study'); ?></td>
            <td>
               <?php echo $this->scheme['StudyMode']?>
            
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Type'); ?></td>
            <td>
                <?php echo $this->scheme['ProgramType']; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester Intake'); ?></td>
            <td><?php echo $this->studentInfo['IntakeName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Min. Expected Completion Date'); ?></td>
            <td>
                <?php echo $this->finish_month;?> 
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max. Expected Completion Date'); ?></td>
            <td>
                <?php echo $this->finish_month2;?> 
            </td>
        </tr>
    </tbody>
</table>
<br />
<fieldset>
<div class="opt right">
<button id="showCourses"><?php echo $this->translate('Add Course');?><span class="icon icon-plus-circled"></span></button>
</div>
<br/>
<?php
if ($this->landscapeInfo['LandscapeType']==43){
if ($this->studentInfo['IdScheme']!=1){
?>
    <?php 
    if ($this->takenCourse){
    $i=0;
    foreach ($this->takenCourse as $takenCourse){
    $i++;
    ?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo 'Semester '.$i; ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Course Type'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        if (isset($takenCourse['compulsory']) && $takenCourse['compulsory']){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo $this->translate('Compulsory'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['elective']) && $takenCourse['elective']){
        $j = true;
        foreach ($takenCourse['elective'] as $takenCourseElective){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['elective']); ?>"><?php echo $this->translate('Elective'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseElective['SubCode'].' '.$takenCourseElective['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseElective['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseElective['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['research']) && $takenCourse['research']){
        $j = true;
        foreach ($takenCourse['research'] as $takenCourseResearch){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['research']); ?>"><?php echo $this->translate('Research'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseResearch['SubCode'].' '.$takenCourseResearch['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['grademark']; ?></td>
            <td><?php echo $takenCourseResearch['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        ?>
    </table>
    <br/>
    <br/>
    <?php
    }
    }
    ?>
<?php
}else{
    if ($this->takenCourse){
?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo $this->translate('Completed Course'); ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Course Type'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php 
        if(isset($this->takenCourse['compulsory']) && count($this->takenCourse['compulsory']) > 0){
        $j = true;
        foreach ($this->takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($this->takenCourse['compulsory']); ?>"><?php echo $this->translate('Compulsory'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php 
        if(isset($this->takenCourse['elective']) && count($this->takenCourse['elective']) > 0){
        $j = true;
        foreach ($this->takenCourse['elective'] as $takenCourseElective){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($this->takenCourse['elective']); ?>"><?php echo $this->translate('Elective'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseElective['SubCode'].' '.$takenCourseElective['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseElective['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseElective['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseElective, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
    </table>
<?php
    }
}
?>
<?php
}else{
    if ($this->takenCourse){
?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo $this->translate('Completed Course'); ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Part'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        ksort($this->takenCourse);
        foreach ($this->takenCourse as $key => $takenCourse){
        if (isset($takenCourse['compulsory']) && count($takenCourse['compulsory']) > 0){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo 'Part '.$key; ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        }
        ?>
    </table>
<?php
    }
}
?>
<!-- WHAT IF TOOLS PART -->
<div id="whatif">
    
</div>
</fieldset>
<!-- WHAT IF ENDS HERE -->
<!-- LIST OF PAPER REMAINING-->
<div id="remain" title="<?php echo $this->translate('Add Course')?>">
<form id="sourceList">
<label for="semesterLevel"><?php echo $this->translate('Semester');?></label>
<select id="semesterLevel" name="semesterLevel">
    <?php for($i=$this->semTaken + 1;$i<=$this->allSemester;$i++) : ?>
        <option value="<?php echo $i;?>"><?php echo $i;?></option>
    <?php endfor;?>
</select>
<table class="table" width="100%">
    <tr>
        <th colspan="4" align="center"><?php echo $this->translate('LIST OF COURSES')?></th>
    </tr>
    <tr>
        <th class="center w10"><?php echo $this->landscapeInfo['LandscapeType']==43 ? 'Course Type':'Part';?></th>
        <th class="center"><?php echo $this->translate('Course');?></th>
        <th class="center w20"><?php echo $this->translate('Credit Hours');?></th>
        <th class="center w10">&nbsp;</th>
    </tr>
    <tbody>
    <?php 
    unset($common);
    if ($this->landscapeInfo['LandscapeType']==43){
    $q = 0;
    if ($this->compulsory['open']){
    foreach($this->compulsory['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $common["IdSubject"];?>" /></td>
        </tr>
    <?php 
    }
    }
    $q=0;
    unset($common);
    if ($this->elective['open']){
    foreach($this->elective['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $common["IdSubject"];?>" /></td>
        </tr>
    <?php 
    }
    }
    $q=0;
    unset($common);
    if ($this->research['open']){
    foreach($this->research['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_research;?>">Research</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $common["IdSubject"];?>" /></td>
        </tr>
    <?php
    }
    }
    }else{
    ksort($this->compulsory['open']);
    foreach($this->compulsory['open'] as $key => $common) {
    $j = true;
    foreach($common as $remCourse){
    ?>
        <tr id="<?php echo $remCourse['IdSubject'];?>">
            <?php if($j == true) {?>
            <td rowspan="<?php echo count($common);?>"><?php echo 'Part '.$key; ?></td>
            <?php 
                $j = false;
            }?>
            <td class="subcode"><?php echo $remCourse["SubCode"]?> <?php echo $remCourse["SubjectName"]?></td>
            <td class="credithour center"><?php echo $remCourse["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $remCourse["IdSubject"];?>" /></td>
        </tr>
    <?php
    }
    }
    }
    ?>
    </tbody>
</table>
</form>
</div>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->


<?php endif;?>
<?php if ($this->step == 3) :?>
<div class="breadcrum">
    <ul class="tri-steps">
        <li class="done"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
        <li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
        <li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
    </ul>
    <div class="clear">
    </div>
</div>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Personal Details'); ?></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w30"><?php echo $this->translate('Student Name'); ?></td>
        <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student ID'); ?></td>
        <td><?php echo $this->studentInfo['registrationId']; ?> </td>
    </tr>
    <tr>
        <td><?php echo $this->studentInfo['IdTypeName']; ?></td>
        <td><?php echo $this->studentInfo['appl_idnumber']; ?></td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Programme Details'); ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w30"><?php echo $this->translate('Programme'); ?></td>
            <td><?php echo $this->scheme['ProgramName']; ?></td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Programme'); ?></td>
            <td>    
                <?php echo $this->scheme['ProgramMode']?>
            </td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Study'); ?></td>
            <td>
               <?php echo $this->scheme['StudyMode']?>
            
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Type'); ?></td>
            <td>
                <?php echo $this->scheme['ProgramType']; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester Intake'); ?></td>
            <td><?php echo $this->studentInfo['IntakeName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Min. Expected Completion Date'); ?></td>
            <td>
                <?php echo $this->finish_month;?> 
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max. Expected Completion Date'); ?></td>
            <td>
                <?php echo $this->finish_month2;?> 
            </td>
        </tr>
    </tbody>
</table>
<br /><br />
<?php
if ($this->landscapeInfo['LandscapeType']==43){
if ($this->studentInfo['IdScheme']!=1){
?>
    <?php 
    if ($this->takenCourse){
    $i=0;
    foreach ($this->takenCourse as $takenCourse){
    $i++;
    ?>
    <table class="table" width="100%">
        <tr>
            <th colspan="6"><?php echo 'Semester '.$i; ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Course Type'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade Point'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        if (isset($takenCourse['compulsory']) && $takenCourse['compulsory']){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo $this->translate('Compulsory'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseCompulsory['IdSubject'], $takenCourseCompulsory['grademark']); ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['elective']) && $takenCourse['elective']){
        $j = true;
        foreach ($takenCourse['elective'] as $takenCourseElective){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['elective']); ?>"><?php echo $this->translate('Elective'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseElective['SubCode'].' '.$takenCourseElective['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseElective['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseElective['grademark']; ?></td>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseElective['IdSubject'], $takenCourseElective['grademark']); ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['research']) && $takenCourse['research']){
        $j = true;
        foreach ($takenCourse['research'] as $takenCourseResearch){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['research']); ?>"><?php echo $this->translate('Research'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseResearch['SubCode'].' '.$takenCourseResearch['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['grademark']; ?></td>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseResearch['IdSubject'], $takenCourseResearch['grademark']); ?></td>
            <td><?php echo $takenCourseResearch['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <tr>
            <td align="right" colspan="2"><?php echo $this->translate('Grade Point Average (GPA)'); ?></td>
            <td align="left" colspan="5"><?php echo $takenCourse['gpa']; ?></td>
        </tr>
    </table>
    <br/>
    <br/>
    <?php
    }
    }
    ?>
<?php
}else{
    if ($this->takenCourse){
?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo $this->translate('Completed Course'); ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Course Type'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php 
        if(isset($this->takenCourse['compulsory']) && count($this->takenCourse['compulsory']) > 0){
        $j = true;
        foreach ($this->takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($this->takenCourse['compulsory']); ?>"><?php echo $this->translate('Compulsory'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php 
        if(isset($this->takenCourse['elective']) && count($this->takenCourse['elective']) > 0){
        $j = true;
        foreach ($this->takenCourse['elective'] as $takenCourseElective){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($this->takenCourse['elective']); ?>"><?php echo $this->translate('Elective'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseElective['SubCode'].' '.$takenCourseElective['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseElective['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseElective['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseElective, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        ?>
    </table>
    <br/>
    <br/>
<?php
    }
}
?>
<?php
}else{
    if ($this->takenCourse){
?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo $this->translate('Completed Course'); ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Part'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        ksort($this->takenCourse);
        foreach ($this->takenCourse as $key => $takenCourse){
        if (isset($takenCourse['compulsory']) && count($takenCourse['compulsory']) > 0){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo 'Part '.$key; ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo Records_AdvisementController::getRemark($takenCourseCompulsory, $this->landscapeInfo); ?></td>
        </tr>
        <?php
        }
        }
        }
        ?>
    </table>
    <br/>
    <br/>
<?php
    }
}
?>
<?php
if ($this->landscapeInfo['LandscapeType']==43){
?>
    <?php 
    if ($this->takenCurrentCourse){
    $i=0;
    foreach ($this->takenCurrentCourse as $key => $takenCourse){
    $i++;
    ?>
    <table class="table" width="100%">
        <tr>
            <?php
            if ($this->studentInfo['IdScheme'] != 1){
                $rowssss = 6;
            }else{
                $rowssss = 5;
            }
            ?>
            <th colspan="<?php echo $rowssss; ?>"><?php echo 'Semester '.$key; ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Course Type'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <?php
            if ($this->studentInfo['IdScheme'] != 1){
            ?>
            <th width="5%"><?php echo $this->translate('Grade Point'); ?></th>
            <?php
            }
            ?>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        if (isset($takenCourse['compulsory']) && $takenCourse['compulsory']){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo $this->translate('Compulsory'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <?php
            if ($this->studentInfo['IdScheme'] != 1){
            ?>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseCompulsory['IdSubject'], $takenCourseCompulsory['grademark']); ?></td>
            <?php
            }
            ?>
            <td><?php echo $takenCourseCompulsory['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['elective']) && $takenCourse['elective']){
        $j = true;
        foreach ($takenCourse['elective'] as $takenCourseElective){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['elective']); ?>"><?php echo $this->translate('Elective'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseElective['SubCode'].' '.$takenCourseElective['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseElective['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseElective['grademark']; ?></td>
            <?php
            if ($this->studentInfo['IdScheme'] != 1){
            ?>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseElective['IdSubject'], $takenCourseElective['grademark']); ?></td>
            <?php
            }
            ?>
            <td><?php echo $takenCourseElective['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        ?>
        <?php
        if (isset($takenCourse['research']) && $takenCourse['research']){
        $j = true;
        foreach ($takenCourse['research'] as $takenCourseResearch){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['research']); ?>"><?php echo $this->translate('Research'); ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseResearch['SubCode'].' '.$takenCourseResearch['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['credit_hours']; ?></td>
            <td align="center"><?php echo $takenCourseResearch['grademark']; ?></td>
            <?php
            if ($this->studentInfo['IdScheme'] != 1){
            ?>
            <td align="center"><?php echo Records_Model_DbTable_Advisement::getGradePoint($this->studentInfo['IdProgram'], $takenCourseResearch['IdSubject'], $takenCourseResearch['grademark']); ?></td>
            <?php
            }
            ?>
            <td><?php echo $takenCourseResearch['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        if ($this->studentInfo['IdScheme'] != 1){
        ?>
        <tr>
            <td align="right" colspan="2"><?php echo $this->translate('Grade Point Average (GPA)'); ?></td>
            <td align="left" colspan="5"><?php echo $takenCourse['gpa']; ?></td>
        </tr>
        <?php
        }
        ?>
    </table>
    <br/>
    <br/>
    <?php
    }
    }
}else{
?>
<?php
    if ($this->takenCurrentCourse){
    foreach ($this->takenCurrentCourse as $sem => $takenCurrentCourse){
?>
    <table class="table" width="100%">
        <tr>
            <th colspan="5"><?php echo 'Semester '.$sem; ?></th>
        </tr>
        <tr>
            <th width="10%"><?php echo $this->translate('Part'); ?></th>
            <th width="60%"><?php echo $this->translate('Course Name'); ?></th>
            <th width="5%"><?php echo $this->translate('Credit Hours'); ?></th>
            <th width="5%"><?php echo $this->translate('Grade'); ?></th>
            <th width="10%"><?php echo $this->translate('Remarks'); ?></th>
        </tr>
        <?php
        ksort($takenCurrentCourse);
        foreach ($takenCurrentCourse as $key => $takenCourse){
        if (isset($takenCourse['compulsory']) && count($takenCourse['compulsory']) > 0){
        $j = true;
        foreach ($takenCourse['compulsory'] as $takenCourseCompulsory){
        ?>
        <tr>
            <?php
            if ($j == true){
            ?>
            <td align="center" rowspan="<?php echo count($takenCourse['compulsory']); ?>"><?php echo 'Part '.$key; ?></td>
            <?php
            $j = false;
            }
            ?>
            <td><?php echo $takenCourseCompulsory['SubCode'].' '.$takenCourseCompulsory['SubjectName']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['CreditHours']; ?></td>
            <td align="center"><?php echo $takenCourseCompulsory['grademark']; ?></td>
            <td><?php echo $takenCourseCompulsory['remarks']; ?></td>
        </tr>
        <?php
        }
        }
        }
        ?>
    </table>
    <br/>
    <br/>
<?php
    }
    }
}
?>
<br/>
<br/>
<!-- LIST OF PAPER REMAINING-->
<table class="table" width="100%">
    <tr>
        <th colspan="3" align="center"><?php echo $this->translate('LIST OF REMAINING COURSES')?></th>
    </tr>
    <tr>
        <th class="center w10"><?php echo $this->wLandscape['LandscapeType']==43 ? 'Course Type':'Part';?></th>
        <th class="center"><?php echo $this->translate('Course');?></th>
        <th class="center w20"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <tbody>
    <?php 
    unset($common);
    if ($this->wLandscape['LandscapeType']==43){
    $q = 0;
    if ($this->compulsory['open']){
    if ($this->viewRemainingSubjectCore == true){
    foreach($this->compulsory['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
        </tr>
    <?php 
    }
    }
    }
    $q=0;
    unset($common);
    if ($this->elective['open']){
    if ($this->viewRemainingSubjectElective == true){
    foreach($this->elective['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
    <?php 
    }
    }
    }
    $q=0;
    unset($common);
    if ($this->research['open']){
    if ($this->viewRemainingSubjectResearch == true){
    foreach($this->research['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_research;?>">Research</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
        </tr>
    <?php
    }
    }
    }
    }else{
    if ($this->viewRemainingSubjectCore == true){
    ksort($this->compulsory['open']);
    foreach($this->compulsory['open'] as $key => $common) {
    $j = true;
    foreach($common as $remCourse){
    ?>
        <tr id="<?php echo $remCourse['IdSubject'];?>">
            <?php if($j == true) {?>
            <td rowspan="<?php echo count($common);?>"><?php echo 'Part '.$key; ?></td>
            <?php 
                $j = false;
            }?>
            <td class="subcode"><?php echo $remCourse["SubCode"]?> <?php echo $remCourse["SubjectName"]?></td>
            <td class="credithour center"><?php echo $remCourse["CreditHour"]?></td>
        </tr>
    <?php
    }
    }
    }
    }
    ?>
    </tbody>
</table>
<br/>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->
<br/>
<?php
if ($this->wLandscape["LandscapeType"]==43){
    if ($this->wLandscape["AssessmentMethod"]=='point'){
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td style="text-align: left;" width="19%"><?php echo $this->countCreditHours; ?></td>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT EARNED'); ?>
            </td>
            <td width="5%">:</td>
            <td width="15%"><?php echo $this->total['credit_earn']; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING CREDIT TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td>:</td>
            <td><?php echo $this->chr; ?></td>
            <td><?php echo $this->translate('TOTAL CREDIT EXEMPTED'); ?></td>
            <td>:</td>
            <td><?php echo $this->countExCredit; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT CGPA'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td><?php echo $this->total['cgpa']; ?></td>
            <td><?php echo $this->translate('TOTAL CREDIT TRANSFERRED'); ?></td>
            <td>:</td>
            <td><?php echo $this->countCtCredit; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('PROBATION'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }else{
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td width="19%"><?php echo $this->countCreditHours.' ( '.$this->countPaperTaken.' Paper(s) )'; ?></td>
            <td width="8%"><?php echo $this->translate('TOTAL CREDIT COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Compulsary - '.$this->countCreditHoursCore.' ( '.$this->countPaperCompleteCore.' Paper(s) ) '; ?><br/>
                <?php echo 'Elective - '.$this->countCreditHoursElective.' ( '.$this->countPaperCompleteElective.' Paper(s) ) '; ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING CREDIT TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Compulsory - '.$this->chr1.' ( '.($this->chr1/3).' Paper(s) ) '; ?><br/>
                <?php echo 'Elective - '.$this->chr2.' ( '.($this->chr2/3).' Paper(s) ) '; ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }
}else{
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td width="19%">
                <?php
                echo $this->countPaperTaken;
                ?>
            </td>
            <td width="19%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Part 1 - '.$this->completePart1; ?><br/>
                <?php echo 'Part 2 - '.$this->completePart2; ?><br/>
                <?php echo 'Part 3 - '.$this->completePart3; ?><br/>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Part 1 - '.$this->remainingPart1; ?><br/>
                <?php echo 'Part 2 - '.$this->remainingPart2; ?><br/>
                <?php echo 'Part 3 - '.$this->remainingPart3; ?><br/>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
}
?>
<?php endif;?>
<br />