<style>
    .right{
        text-align:right !important;
    }
    
    .center{
        text-align:center !important;
    }
    
    .w10{
        width:10% !important;
    }
    .w20{
        width:20% !important;
    }
    .w30{
        width:30% !important;
    }
    .w40{
        width:40% !important;
    }
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'advisement', 'action'=>'index'),'default',true);?>';">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?php if ($this->step == 1) :?>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id,'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<form id="scheme" method="post" action="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>">
    <table class="table" width="100%">
        <tbody>
            <tr>
                <td class="w30"><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->studentInfo['ProgramName']; ?></td>
                
            </tr>
            <tr>
                <td><?php echo $this->translate('Mode of Programme'); ?></td>
                <td>    
                    <select name="programmode">
                        <?php foreach ($this->program_scheme['ProgramMode'] as $b => $program_mode):?>
                        <option value="<?php echo $b?>" <?php echo $s = ($b == $this->studentInfo['mode_of_program']) ? 'selected' : '';?>><?php echo $program_mode;?></option>
                        <?php endforeach;?>
                    </select>
                </td>
                
            </tr>
            <tr>
                <td><?php echo $this->translate('Mode of Study'); ?></td>
                <td>
                    <select name="studymode">
                        <?php foreach ($this->program_scheme['StudyMode'] as $a => $study_mode):?>
                        <option value="<?php echo $a?>" <?php echo $s = ($a == $this->studentInfo['mode_of_study']) ? 'selected' : '';?>><?php echo $study_mode;?></option>
                        <?php endforeach;?>
                    </select>
                
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Type'); ?></td>
                <td>
                    <?php echo $this->studentInfo['pt']; ?>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="opt center">
        <input type="submit" value="<?php echo $this->translate("Next");?> &raquo;" class="next"/>
    </div>
</form>
<?php endif;?>
<?php if ($this->step == 2) :?>
<script>
var dialog;
$(document).ready(function(){
    
    
    dialog = $( "#remain" ).dialog({
    autoOpen: false,
    height: 500,
    width: 600,
    modal: true,
    buttons: {
    "<?php echo $this->translate('Add to list');?>": addToList,
    Cancel: function() {
    dialog.dialog( "close" );
    }
    },
    close: function() {
    //form[ 0 ].reset();
    //allFields.removeClass( "ui-state-error" );
    }
    });
    
     $("#showCourses").click(function(){
        dialog.dialog('open');
    }); 
    
    $("#whatif").on('click','a.removeAdvisement', function(e){
        e.preventDefault();
       
        uri = $(this).attr('href');
        
        $.ajax({
            url     : uri,
            type    : 'GET',
            success : function(data) {
                    $.ajax({
                    url     : '<?php echo $this->baseUrl();?>/records/advisement/list-courses/id/<?php echo $this->id?>/landscape_id/<?php echo $this->landscape_id;?>',
                    type    : 'GET',
                    success : function(data) {
                        $("#whatif").html(data);
                        //alert(data);
                    },
                    error   : function(data){
                        //do something
                    }
                });
            },
            error   : function(data){
                //do something
            }
        });
    });
    
});

function addToList(){
    $.ajax({
        url     : '<?php echo $this->baseUrl();?>/records/advisement/add-course/id/<?php echo $this->id?>',
        type    : 'POST',
        data    : $("#sourceList").serializeArray(),
        success : function(resp){
            dialog.dialog( "close" );
            $('input:checkbox').removeAttr('checked');
            $.ajax({
                url     : '<?php echo $this->baseUrl();?>/records/advisement/list-courses/id/<?php echo $this->id?>/landscape_id/<?php echo $this->landscape_id;?>',
                type    : 'GET',
                success : function(data) {
                    $("#whatif").html(data);
                },
                error   : function(data){
                    //do something
                }
            });
        },
        error   : function(resp){
            //alert(JSON.stringify(resp));
        }
     });
}


</script>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<br />
<table class="table" width="100%">
    <tbody>
        <tr>
            <td class="w30"><?php echo $this->translate('Programme'); ?></td>
            <td><?php echo $this->scheme['ProgramName']; ?></td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Programme'); ?></td>
            <td>    
                <?php echo $this->scheme['ProgramMode']?>
            </td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Study'); ?></td>
            <td>
               <?php echo $this->scheme['StudyMode']?>
            
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Type'); ?></td>
            <td>
                <?php echo $this->scheme['ProgramType']; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Min. Expected Date To Be Graduated'); ?></td>
            <td>
                <?php echo $this->finish_month;?> 
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max. Expected Date To Be Graduated'); ?></td>
            <td>
                <?php echo $this->finish_month2;?> 
            </td>
        </tr>
    </tbody>
</table>
<br />
<fieldset>
<div class="opt right">
<button id="showCourses"><?php echo $this->translate('Add Course');?><span class="icon icon-plus-circled"></span></button>
</div>

<?php
if ($this->taken){
foreach ($this->taken as $a => $level) : 
    ?>
    <table width="100%" class="table" id="<?php echo 'sem_'.$a;?>">
        <tr>
            <th colspan="3"><?php echo $this->translate('Semester') .' '.$a ?></th>
        </tr>
        <tr>
            <th class="center"><?php echo $this->translate('Paper');?></th>
            <th class="center w30"><?php echo $this->translate('Credit Hours');?></th>
            <th class="center w20"><?php echo $this->translate('Grade');?></th>
        </tr>
    <?php
    if (isset($level['compulsory']) && count($level['compulsory']) > 0){
    ?>
    <?php foreach ($level['compulsory'] as $b => $course):?>
        <?php 
            //var_dump($course);
        ?>
        <tr>
            <td><?php echo $course["SubCode"]?> <?php echo $course["SubjectName"]?></td>
            <td class="center"><?php echo $course["CreditHours"]?></td>
            <td class="center"><?php echo $course["grademark"]?></td>
        </tr>
    <?php endforeach;?>
    <?php 
    }
    if (isset($level['elective']) && count($level['elective']) > 0){
    ?>
    <?php foreach ($level['elective'] as $c => $elective):?>
        <tr>
            <td><?php echo $elective["SubCode"]?> <?php echo $elective["SubjectName"]?></td>
            <td class="center"><?php echo $elective["CreditHours"]?></td>
            <td class="center"><?php echo $elective["grademark"]?></td>
        </tr>
    <?php endforeach;?>
    <?php 
    }
    ?>
    <?php
    if (isset($level['research']) && count($level['research']) > 0){
        $research = $level['research'];
    ?>
        <tr>
            <td><?php echo $research['name']; ?></td>
            <td class="center"><?php echo $research["CreditHours"]?></td>
            <td class="center"><?php echo $research["grade_name"]?></td>
        </tr>
    <?php 
    }
    ?>
    </table>
<?php 
endforeach;
}
?>

<!-- WHAT IF TOOLS PART -->
<div id="whatif">
    
</div>
</fieldset>
<!-- WHAT IF ENDS HERE -->
<!-- LIST OF PAPER REMAINING-->
<div id="remain" title="<?php echo $this->translate('Add Course')?>">
<form id="sourceList">
<label for="semesterLevel"><?php echo $this->translate('Semester');?></label>
<select id="semesterLevel" name="semesterLevel">
    <?php for($i=$this->semTaken + 1;$i<=$this->allSemester;$i++) : ?>
        <option value="<?php echo $i;?>"><?php echo $i;?></option>
    <?php endfor;?>
</select>
<table class="table" width="100%">
    <tr>
        <th colspan="4" align="center"><?php echo $this->translate('LIST OF COURSES')?></th>
    </tr>
    <tr>
        <th class="center w10"><?php echo $this->translate('Paper Type');?></th>
        <th class="center"><?php echo $this->translate('Paper');?></th>
        <th class="center w20"><?php echo $this->translate('Credit Hours');?></th>
        <th class="center w10">&nbsp;</th>
    </tr>
    <tbody>
    <?php 
    unset($common);
    $q = 0;
    if ($this->compulsory['open']){
    foreach($this->compulsory['open'] as $common) { 
        
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $common["IdSubject"];?>" /></td>
      
        </tr>
        
    <?php }
    }
    $q=0;
    unset($common);
    if ($this->elective['open']){
    foreach($this->elective['open'] as $common) { 
    ?>
        <tr id="<?php echo $common['IdSubject'];?>">
            <?php if($q == 0) {?>
            <td rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
            <?php 
                $q = 1;
            }?>
            <td class="subcode"><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="credithour center"><?php echo $common["CreditHour"]?></td>
            <td class="check center"><input type="checkbox" name="IdSubject[]" value="<?php echo $common["IdSubject"];?>" /></td>
            
        
    <?php }
    } ?>
    </tbody>
</table>
</form>
</div>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->


<?php endif;?>
<?php if ($this->step == 3) :?>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="done"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>1),'default',true);?>"><?php echo $this->translate("Programme Scheme"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>2),'default',true);?>"><?php echo $this->translate("Course"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>"><?php echo $this->translate("Result"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Personal Details'); ?></th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td class="w30"><?php echo $this->translate('Student Name'); ?></td>
            <td><?php echo $this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?> </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student ID'); ?></td>
            <td><?php echo $this->studentInfo['registrationId']; ?> </td>
        </tr>
        <tr>
            <td><?php echo $this->studentInfo['IdTypeName']; ?></td>
            <td><?php echo $this->studentInfo['appl_idnumber']; ?></td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="2"><?php echo $this->translate('Programme Details'); ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w30"><?php echo $this->translate('Programme'); ?></td>
            <td><?php echo $this->scheme['ProgramName']; ?></td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Programme'); ?></td>
            <td>    
                <?php echo $this->scheme['ProgramMode']?>
            </td>
            
        </tr>
        <tr>
            <td><?php echo $this->translate('Mode of Study'); ?></td>
            <td>
               <?php echo $this->scheme['StudyMode']?>
            
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Type'); ?></td>
            <td>
                <?php echo $this->scheme['ProgramType']; ?>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester Intake'); ?></td>
            <td><?php echo $this->studentInfo['IntakeName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Min. Expected Date To Be Graduated'); ?></td>
            <td>
                <?php echo $this->finish_month;?> 
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max. Expected Date To Be Graduated'); ?></td>
            <td>
                <?php echo $this->finish_month2;?> 
            </td>
        </tr>
    </tbody>
</table>
<br /><br />
<?php
$countsub = 0;
//echo '<pre>',print_r($this->taken,1),'</pre>';
//print_r($this->taken);
if ($this->taken):
foreach ($this->taken as $key => $data) :
    //var_dump($data);
?>
<table class="table" width="100%">
    <tr>
        <th colspan="6"><?php echo $this->translate('Semester') . ' '. $key?></th>
    </tr>
    <tr>
        <th class="center w20"><?php echo $this->translate('Course Type');?></th>
        <th class="center"><?php echo $this->translate('Course Name');?></th>
        <th class="center w20"><?php echo $this->translate('Credit Hours');?></th>
        <th class="center w10"><?php echo $this->translate('Grade');?></th>
        <th class="center w10"><?php echo $this->translate('Remarks');?></th>
    </tr>
    <?php if(isset($data['compulsory'])):
    ?>
    <?php foreach ($data['compulsory'] as $i => $val) :?>
    <tr>
        <td class="center"><?php echo $this->translate('Compulsory');?></td>
        <td>(<?php echo $val['SubCode']?>) <?php echo $val['SubjectName']?></td>
        <td class="center"><?php echo $val['CreditHours'];?></td>
        <td class="center"><?php echo isset($val['grade']) ? $val['grade']:$val['grademark'];?></td>
        <td><?php echo $val['remarks']; ?></td>
    </tr>
    <?php 
    $countsub++;
    endforeach;
    ?>
    <?php endif;?>
    <?php if (isset($data['elective'])):?>
    <?php foreach ($data['elective'] as $i => $val) :?>
    <tr>
        <td class="center"><?php echo $this->translate('Elective');?></td>
        <td>(<?php echo $val['SubCode']?>) <?php echo $val['SubjectName']?></td>
        <td class="center"><?php echo $val['CreditHours'];?></td>
        <td class="center"><?php echo isset($val['grade']) ? $val['grade']:$val['grademark'];?></td>
        <td><?php echo $val['remarks']; ?></td>
    </tr>
    <?php 
    $countsub++;
    endforeach;
    ?>
    <?php endif;?>
    <?php
    //var_dump($data['research']);
    if (isset($data['research']) && count($data['research']) > 0){
        foreach ($data['research'] as $research){
    ?>
        <tr>
            <td class="center"><?php echo $this->translate('Research');?></td>
            <td><?php echo $research['name']; ?></td>
            <td class="center"><?php echo $research["CreditHours"]?></td>
            <td class="center"><?php echo $research["grade_name"]?></td>
            <td><?php echo $research['remarks']; ?></td>
        </tr>
    <?php 
        }
    }
    ?>
    <?php if($this->wLandscape['AssessmentMethod'] == 'point'):?>
    <tr>
        <td colspan="3" class="right">GPA</td>
        <td class="center"><?php echo number_format($data['gpa'],2,'.','');?></td>
        <td></td>
    </tr>
    <?php endif;?>
</table><br /><br />
<?php 
endforeach;
endif;
?>

<!-- LIST OF PAPER REMAINING-->
<table class="table" width="100%">
    <tr>
        <th colspan="3" class="center"><?php echo $this->translate('LIST OF COURSES REMAINING')?></th>
    </tr>
    <tr>
        <th class="center w20"><?php echo $this->translate('Course Type');?></th>
        <th class="center"><?php echo $this->translate('Course Name');?></th>
        <th class="center w20"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <?php 
    unset($common);
    $q = 0;
    if ($this->compulsory['open']){
    foreach($this->compulsory['open'] as $common) { 
        
    ?>
        <tr>
            <?php if($q == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
            <?php 
                $q = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="center"><?php echo $common["CreditHour"]?></td>
        </tr>
        
    <?php }
    }
    $q=0;
    unset($common);
    if ($this->elective['open']){
    foreach($this->elective['open'] as $common) { 
        
    ?>
        <tr>
            <?php if($q == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
            <?php 
                $q = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="center"><?php echo $common["CreditHour"]?></td>
        </tr>
        
    <?php }
    } ?>
</table>
<br/>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->
<br/>
<?php
//$izham = false;
//if($izham != false){
if ($this->wLandscape["LandscapeType"]==43){
    //echo 'semester';
    
    if ($this->wLandscape["AssessmentMethod"]=='point'){
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td style="text-align: left;" width="19%"><?php echo $this->countCreditHoursCore; ?></td>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT EARNED'); ?>
            </td>
            <td width="5%">:</td>
            <td width="15%"><?php echo $this->total['credit_earn']; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING CREDIT TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td>:</td>
            <td><?php echo $this->chr; ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT CGPA'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td><?php echo number_format($this->total['cgpa'], 2, '.', ''); ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('PROBATION'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }else{
    ?>
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td width="13%"><?php echo $countsub; ?></td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Compulsary Paper - '.$this->countCompleteCore; ?><br/>
                <?php echo 'Elective Paper - '.$this->countCompleteElective; ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Compulsory Paper - '.$this->countRemCore; ?><br/>
                <?php echo 'Elective Paper - '.$this->countRemElective; ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }
}else{
    ?>
    <!--<table>
        <tr>
            <td width="30%">
                <?php /*echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td width="22%">
                <?php
                $countpt = 0;
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpt = count($this->compulsory[$ls]["completed"])+$countpt;
                    }
                }
                echo $countpt;
                ?>
                <?php //echo $countsub; ?>
            </td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpc = count($this->compulsory[$ls]["completed"]);
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["open"])){
                        if ($ls != 3){
                            $countpc = count($this->compulsory[$ls]["open"]);
                        }else{
                            $i = 0;
                            $countpc = '';
                            foreach($this->compulsory[$ls]["open"] as $remcourse){
                                $countpc .= $remcourse['SubCode'];
                                //var_dump($remcourse);
                                $i++;
                                
                                if ($i < count($this->compulsory[$ls]["open"])){
                                    $countpc .= '/';
                                }
                            }
                        }
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }*/
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>-->
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td width="13%"><?php echo $countsub; ?></td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Compulsary Paper - '.$this->countCompleteCore; ?><br/>
                <?php echo 'Elective Paper - '.$this->countCompleteElective; ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Compulsory Paper - '.$this->countRemCore; ?><br/>
                <?php echo 'Elective Paper - '.$this->countRemElective; ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
}
//}
?>
<?php endif;?>
<br />