<script type="text/javascript">
$(function() {

	//getProgramScheme('#IdProgram');

});

/*function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php //echo $this->IdProgramScheme; ?>';
		
	 $.ajax({
			url: "<?php //echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#IdProgramScheme').empty();
				$('#IdProgramScheme').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {
			    	if(IdProgramScheme==data[index].IdProgramScheme){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+'-'+data[index].StudyMode+'-'+data[index].ProgramType+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdProgramScheme');
		      
			},
			complete: function() {
				hideLoading('IdProgramScheme');
			}  	
		});
}*/
    
function getProgramScheme(element){
        
    var program_id = document.getElementById('IdProgram').value;

    var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
    var data_dropdown = {};

    $.ajax({
        type: "POST",
        url: url,
        data: data_dropdown,
        dataType: 'json',
        beforeSend: function() {
            showLoading('IdProgramScheme');
        },
        complete: function() {
            hideLoading('IdProgramScheme');
        }
    })
    .done(function(data) {
        var content = '<option label="-- All --" value="">-- All --</option>';
        $.each(data,function(index){                    
            content += '<option label="'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'</option>';
        });
        $('#IdProgramScheme').html(content);
    })
    .fail(function() {
        alert("error load program scheme"); 
    });
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function searchbox(){
    $('#search').toggle();
    return false;
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
            <ul>	
            <li>
            <a href="#" onclick="return searchbox()">
            <span class='search'></span>
            <?php echo $this->translate('Search')?>
            </a>
            </li>
            </ul>
	</div>
</div>
<br><br>
<div id="search" style="display: none;">
<fieldset>
<legend><?php echo $this->translate("Search");?></legend>
<?php echo $this->form;?>
</fieldset>
</div>
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="1">

	<tr>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>    
		<!--<th><?php //echo $this->translate("Registration ID");?></th>-->
		<th><?php echo $this->translate("Programme");?></th>		    	
		<th><?php echo $this->translate("Programme Scheme");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Student Category");?></th>		    	
		<th><?php echo $this->translate("Student Status");?></th>
                <th></th>
	</tr>

	<?php 	    	
	if (count($this->paginator)){	    		
	foreach ($this->paginator as $lobjstudents){
	?>
	<tr>	  		
		<td><a href="<?php echo $this->baseUrl();?>/records/advisement/detail/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></a></td>
		<!--<td><?php //echo $this->escape($lobjstudents['at_pes_id']);?></td>-->
		<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
				<td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
				<td><?php echo $lobjstudents['mop'].'<br/>'.$lobjstudents['mos'].'<br/>'.$lobjstudents['pt'] ?></td>
		<td><?php echo $this->escape($lobjstudents['IntakeDesc']);?></td>
		<!--<td><?php //echo $this->escape($lobjstudents['UpdDate']);?></td>-->
		<td><?php echo $this->escape($lobjstudents['stdCtgy']);?></td>
		<td><?php echo $this->escape($lobjstudents['DefinitionDesc']);?></td>
                <td class="options">
                    <ul>
                        <li><a href="<?php echo $this->baseUrl();?>/records/advisement/detail/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"><?php echo $this->translate("Advisement"); ?></a></li>
                        <li><a href="<?php echo $this->baseUrl();?>/records/studentprofile/studentprofilelist/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>#Tab5"><?php echo $this->translate("Academic Progress"); ?></a></li>
                        <li><a href="<?php echo $this->baseUrl();?>/records/advisement/view-transcript/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"><?php echo $this->translate("Transcript"); ?></a></li>
                    </ul>
                </td>
                
   <?php 
	} } 
	?>
	</tr>
	<?php 
	if (count($this->paginator)){
	?>
	<tr>
		<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
								'/partials/my_pagination_control.phtml'); ?></div></td>
	</tr>
	<?php 
	}
	?>
</table>
