<script type="text/javascript">
    function defineGred(element1, element2){
        if (element1 == 1){
            $('#normal_'+element2).show();
            $('#audit_'+element2).hide();
            $('#exemption_'+element2).hide();
            $('#ct_'+element2).hide();
            $('#repeatdiv_'+element2).hide();
            $('#normaldrop_'+element2).removeAttr('disabled');
            $('#auditdrop_'+element2).attr('disabled', '');
            $('#exemptiondrop_'+element2).attr('disabled', '');
            $('#ctdrop_'+element2).attr('disabled', '');
            $('#repeat_'+element2).attr('disabled', '');
        }else if (element1 == 2){
            $('#audit_'+element2).show();
            $('#normal_'+element2).hide();
            $('#exemption_'+element2).hide();
            $('#ct_'+element2).hide();
            $('#repeatdiv_'+element2).hide();
            $('#auditdrop_'+element2).removeAttr('disabled');
            $('#normaldrop_'+element2).attr('disabled', '');
            $('#exemptiondrop_'+element2).attr('disabled', '');
            $('#ctdrop_'+element2).attr('disabled', '');
            $('#repeat_'+element2).attr('disabled', '');
        }else if (element1 == 3){
            $('#audit_'+element2).hide();
            $('#normal_'+element2).hide();
            $('#exemption_'+element2).show();
            $('#ct_'+element2).hide();
            $('#repeatdiv_'+element2).hide();
            $('#exemptiondrop_'+element2).removeAttr('disabled');
            $('#normaldrop_'+element2).attr('disabled', '');
            $('#auditdrop_'+element2).attr('disabled', '');
            $('#ctdrop_'+element2).attr('disabled', '');
            $('#repeat_'+element2).attr('disabled', '');
        }else if(element1 == 4){
            var assesmentmethod = $('#assesmentmethod').val();
            
            if (assesmentmethod == 'grade'){
                $('#normal_'+element2).hide();
                $('#audit_'+element2).hide();
                $('#exemption_'+element2).hide();
                $('#ct_'+element2).show();
                $('#repeatdiv_'+element2).hide();
                $('#ctdrop_'+element2).removeAttr('disabled');
                $('#auditdrop_'+element2).attr('disabled', '');
                $('#exemptiondrop_'+element2).attr('disabled', '');
                $('#normaldrop_'+element2).attr('disabled', '');
                $('#repeat_'+element2).attr('disabled', '');
            }else{
                $('#normal_'+element2).show();
                $('#audit_'+element2).hide();
                $('#exemption_'+element2).hide();
                $('#ct_'+element2).hide();
                $('#repeatdiv_'+element2).hide();
                $('#normaldrop_'+element2).removeAttr('disabled');
                $('#auditdrop_'+element2).attr('disabled', '');
                $('#exemptiondrop_'+element2).attr('disabled', '');
                $('#ctdrop_'+element2).attr('disabled', '');
                $('#repeat_'+element2).attr('disabled', '');
            }
        }else{
            $('#normal_'+element2).show();
            $('#audit_'+element2).hide();
            $('#exemption_'+element2).hide();
            $('#ct_'+element2).hide();
            $('#repeatdiv_'+element2).show();
            $('#normaldrop_'+element2).removeAttr('disabled');
            $('#auditdrop_'+element2).attr('disabled', '');
            $('#exemptiondrop_'+element2).attr('disabled', '');
            $('#ctdrop_'+element2).attr('disabled', '');
            $('#repeat_'+element2).removeAttr('disabled');
        }
    }
    
    function changeCreditHours(id, ch){
        $.ajax({
            url : '<?php echo $this->baseUrl();?>/records/advisement/update-course/id/'+id+'/credithours/'+ch,
            type : 'GET',
            success : function(data) {
                $.ajax({
                    url : '<?php echo $this->baseUrl();?>/records/advisement/list-courses/id/<?php echo $this->id; ?>/landscape_id/<?php echo $this->landscape['IdLandscape']; ?>',
                    type : 'GET',
                    success : function(data) {
                        $("#whatif").html(data);
                    },
                    error   : function(data){
                        alert('Error');
                    }
                });
            },
            error   : function(data){
                //do something
            }
        });
    }
</script>
<br/>
<?php if($this->save == 'no'):?>
<div id="message">Please check Semester <?php echo $this->semester;?>. Total <?php echo $this->type == 1 ? 'course':'credit hours' ?> should be between <?php echo $this->min;?> and <?php echo $this->max;?></div>
<?php endif;?>
<form method="post" action="<?php echo $this->url(array('module'=>'records','controller'=>'advisement','action'=>'detail', 'id'=> $this->id, 'step'=>3),'default',true);?>">
    <div>
    <?php $curr_semlevel = 0;?>
     <table class="table" width="100%">
        <tr>
            <th class="center w10">Semester</th>
            <th class="center">Course Type</th>
            <th class="center">Course Name</th>
            <th class="center w10">Credit Hours</th>
            <th class="center w10">Type</th>
            <th class="center w10">Grade</th>
            <th class="center w10">Action</th>
        </tr>
    <?php foreach ($this->current_courses as $key => $data) :?>
        
        <tr>
            <td class="center"><?php echo $data['semester'];?></td>
            <td><?php echo $data['subtype']; ?></td>
            <td><?php echo $data['SubCode'].' '.$data['SubjectName'];?></td>
            <td align="center">
                <?php
                if ($data['subtype'] == 'Research'){
                ?>
                <select name="credithours_<?php echo $data['advisement_id'];?>" onchange="changeCreditHours(<?php echo $data['advisement_id'];?>, this.value);" class="grade" id="credithours_<?php echo $data['advisement_id'];?>">
                    <option value="3">3</option>
                    <option value="6" <?php echo $data['credit_hours']==6 ? 'selected':'' ?>>6</option>
                    <option value="9" <?php echo $data['credit_hours']==9 ? 'selected':'' ?>>9</option>
                    <option value="12" <?php echo $data['credit_hours']==12 ? 'selected':'' ?>>12</option>
                </select>
                <?php 
                }else{
                    echo $data['CreditHours'];
                }
                ?>
            </td>
            <!--<td></td>-->
            <td class="center">
                <select name="type_<?php echo $data['advisement_id'];?>" class="type" onchange="defineGred(this.value, <?php echo $data['advisement_id'];?>)">
                    <option value="1">Normal</option>
                    <option value="2">Audit</option>
                    <option value="3">Exemption</option>
                    <option value="4">Credit Transfer</option>
                    <?php
                    if ($this->repeatSub){
                    if ($this->IdScheme == 11){
                    if ($data['subtype']=='Elective'){
                    ?>
                    <option value="5">Replace/Retake</option>
                    <?php
                    }
                    }
                    }
                    ?>
                </select>
                <div id="repeatdiv_<?php echo $data['advisement_id'];?>" style="display: none;">
                    <br/>
                    <select style="width: 127px;" disabled="" name="repeat_<?php echo $data['advisement_id'];?>" class="grade" id="repeat_<?php echo $data['advisement_id'];?>">
                        <?php
                        if ($this->repeatSub){
                        foreach ($this->repeatSub as $repeatSubLoop){
                        ?>
                        <option value="<?php echo $repeatSubLoop['IdSubject']; ?>"><?php echo $repeatSubLoop['SubCode'].' - '.$repeatSubLoop['SubjectName']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </div>
            </td>
            <td class="center" id="normal_<?php echo $data['advisement_id'];?>">
                <select name="subject_<?php echo $data['advisement_id'];?>" class="grade" id="normaldrop_<?php echo $data['advisement_id'];?>">
                    <?php 
                    $gradeList = Examination_Model_DbTable_Gradesetup::getGrade($this->programid, $data['IdSubject']);
                    //var_dump($gradeList);
                    foreach ($gradeList as $key => $value):
                    ?>
                    <option value="<?php echo $value['GradeCode']; ?>"><?php echo $value['GradeCode']; ?></option>
                    <?php 
                    endforeach;
                    ?>
                </select>
            </td>
            <td class="center" id="audit_<?php echo $data['advisement_id'];?>" style="display: none;">
                <select disabled="" name="subject_<?php echo $data['advisement_id'];?>" class="grade" id="auditdrop_<?php echo $data['advisement_id'];?>">
                    <option value="U">U</option>
                </select>
            </td>
            <td class="center" id="exemption_<?php echo $data['advisement_id'];?>" style="display: none;">
                <select disabled="" name="subject_<?php echo $data['advisement_id'];?>" class="grade" id="exemptiondrop_<?php echo $data['advisement_id'];?>">
                    <option value="EX">EX</option>
                </select>
            </td>
            <td class="center" id="ct_<?php echo $data['advisement_id'];?>" style="display: none;">
                <select disabled="" name="subject_<?php echo $data['advisement_id'];?>" class="grade" id="ctdrop_<?php echo $data['advisement_id'];?>">
                    <option value="CT">CT</option>
                </select>
            </td>
            <td class="center"><a class="removeAdvisement" href="<?php echo $this->baseUrl()?>/records/advisement/delete-course/advisement_id/<?php echo $data['advisement_id']?>">
            <?php echo $this->translate('Remove');?></a></td>
        </tr>
    <?php endforeach;?>
      </table><br /><br />
    <input type="hidden" name="landscape_id" value="<?php echo $this->landscape_id;?>" />
    </div>
    <div class="opt center">
        <input type="submit" name="sub" value="<?php echo $this->translate("Next");?> &raquo;" <?php if($this->save != 'yes'){echo 'disabled';} ?>/>
    </div>
</form>
<input type="hidden" id="assesmentmethod" value="<?php echo $this->landscape['AssessmentMethod']; ?>">