<script type="text/javascript">
$(function() {
	
});
</script>

<script type="text/javascript">
	function printMe(){
		
		print_url = '<?php echo $this->url(array('module'=>'application','controller'=>'placement-test-report', 'action'=>'print-report','scid'=>$this->schedule_id),'default',true); ?>';

		window.open(print_url,'mywindow','width=400,height=200');
	}

	function genResult(){
		window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'generate-result', 'action'=>'room-detail', 'scid'=>$this->schedule_id, 'generateAll'=>'1'));?>";
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			
			<li>
				<a href="#" onclick="javascript:printMe()">
					<span class='print'></span>
					Print
				</a>
			</li>
			-->
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'application','controller'=>'generate-result'),'default',true); ?>';">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
	<table class="">
		<tr>
			<td width="150"><?php echo $this->translate("Placement Test Code");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['aps_placement_code'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Location");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['al_location_name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Date");?></td>
			<td>:</td>
			<td><?php echo date('d F Y', strtotime($this->schedule_data['aps_test_date']));?></td>
		</tr>
		<tr>
			<td colspan=3 align="center">
				<input type="button" value="<?php echo $this->translate("Generate Result");?>" onclick="javascript:genResult();">
			</td>
		</tr>
	</table>
</fieldset>
<br />
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Room"); ?></th>
		<th><?php echo $this->translate("Room Type"); ?></th>
		<th><?php echo $this->translate("Total Applicant Bil."); ?></th>
		<th><?php echo $this->translate("Total OMR Record"); ?></th>
	</tr>
	<?php
		$total = 0;
		$total_omr = 0;  
		$room_bil =0;
		foreach ($this->roomList as $room):
			$total = $total + $room['applicant_count'];
			
			
			//calculate total OMR
			$db = Zend_Db_Table::getDefaultAdapter();
			
			$select = $db ->select()
								->from(array('a'=>'applicant_ptest'),array())
								->join(array('b'=>'applicant_ptest_ans'), 'b.apa_trans_id = a.apt_at_trans_id',array('DISTINCT(b.apa_trans_id)'))
								->join(array('c'=>'appl_room'), 'c.av_id = a.apt_room_id',array())
								->where("a.apt_aps_id='".$this->schedule_id."'")
								->where("c.av_id ='".$room['av_id']."'");														
			//echo $select;       
	        $row = $db->fetchAll($select);
	        $omr_cnt = count($row);
	        
	        $total_omr = $total_omr + $omr_cnt;
	        
	        if($this->testtype==0){
	        	$url=$this->url(array('module'=>'application','controller'=>'generate-result', 'action'=>'schedule-detail', 'scid'=>$this->schedule_id,'rid'=>$room['av_id']),'default',true);
	        }elseif($this->testtype==1){
	        	$url=$this->url(array('module'=>'application','controller'=>'generate-result', 'action'=>'schedule-detail-tpa', 'scid'=>$this->schedule_id,'rid'=>$room['av_id']),'default',true);;
	        }
	?>
			<tr>
				<td rowspan="">
					<a href="<?php echo $url?>">
						<?php echo $room['av_room_name'];?> (<?php echo $room['av_room_name_short'];?>)
					</a>
				</td>
				<td>
					<ul>
					<?php
						foreach ($room['type'] as $typeRoom){
							if( isset($typeRoom) ){
								echo "<li>".$typeRoom['test_name']."</li>";
							}
						}
					?>
					</ul>
				</td>
				<td align="center"><?php echo $room['applicant_count'];?></td>
				<td align="center"><?php echo $omr_cnt; ?></td>
			</tr>
	
	
	<?php
		$room_bil++;
		 endforeach;
	?>
	<tr>
		<th colspan="2"></th>
		<td align="center" style="background: #CCCCCC;">
			<?php echo $total; ?>
		</td>
		<td align="center" style="background: #CCCCCC;">
			<?php echo $total_omr; ?>
		</td>
	</tr>
</table>
<br />