<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if ($this->list){
                ?>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick='exportReport();'>
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Type'); ?></td>
                <td><?php echo $this->form->type; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td><?php echo $this->form->name; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Login Name'); ?></td>
                <td><?php echo $this->form->loginname; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->form->status; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No'); ?></th>
        <th><?php echo $this->translate('User'); ?></th>
        <th><?php echo $this->translate('Login Name'); ?></th>
        <th><?php echo $this->translate('Type'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th><?php echo $this->translate('Last Login'); ?></th>
    </tr>
    <?php
    if ($this->list){
        $no = 0;
        foreach ($this->list as $list){
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $list['user']; ?></td>
                <td><?php echo $list['login_name']; ?></td>
                <td align="center"><?php echo $list['type']; ?></td>
                <td align="center"><?php echo $list['status']; ?></td>
                <td align="center"><?php echo $list['last_login']!=null ? date('d-m-Y h:i:s a', strtotime($list['last_login'])):''; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>
<script type="text/javascript">
    function exportReport(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'report', 'action'=>'print-login-report'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>