<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%"  cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No'); ?></th>
        <th><?php echo $this->translate('User'); ?></th>
        <th><?php echo $this->translate('Login Name'); ?></th>
        <th><?php echo $this->translate('Type'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th><?php echo $this->translate('Last Login'); ?></th>
    </tr>
    <?php
    if ($this->list){
        $no = 0;
        foreach ($this->list as $list){
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $list['user']; ?></td>
                <td><?php echo $list['login_name']; ?></td>
                <td align="center"><?php echo $list['type']; ?></td>
                <td align="center"><?php echo $list['status']; ?></td>
                <td align="center"><?php echo $list['last_login']!=null ? date('d-m-Y h:i:s a', strtotime($list['last_login'])):''; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>
