<script type="text/javascript">
function process_slip(id){
	$.fancybox({
        href            : '/studentfinance/payment-slip/update-payment-slip',
        type            : 'ajax',
        ajax            : {
                type    : "GET",
                data    : {'id':id, 'txn':'<?php echo $this->txn_id; ?>'},
        },
        minWidth		: '700px'
    })
    return false;
}
</script>

<style type="text/css">
	td.cross{
		color: red;	
	}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate("Profile"); ?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate("Name");?></td>
			<td>:</td>
			<td>
				<?php echo $this->profile['appl_fname']!=null && $this->profile['appl_fname']!=""?$this->profile['appl_fname']." ":"";?>
				<?php echo $this->profile['appl_mname']!=null && $this->profile['appl_mname']!=""?$this->profile['appl_mname']." ":"";?>
				<?php echo $this->profile['appl_lname']!=null && $this->profile['appl_lname']!=""?$this->profile['appl_lname']." ":"";?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Email");?></td>
			<td>:</td>
			<td><?php echo $this->profile['appl_email'];?></td>
		</tr>
	</table>
</fieldset>
<br />
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="20px" rowspan="2">&nbsp;</th>
		<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
		<th rowspan="2"><?php echo $this->translate("Invoice No")?></th>
		<th rowspan="2"><?php echo $this->translate("Description")?></th>
		<th rowspan="2"><?php echo $this->translate("Status")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Amount")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Paid")?></th>
		<th width="120px"><?php echo $this->translate("Credit Note")?></th>
		<th width="120px"><?php echo $this->translate("Invoice Balance")?></th>
		<th rowspan="2">&nbsp;</th>
	</tr>
	<tr>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
		<th style="text-align:center;">(IDR)</th>
	</tr>
	
	<?php 
	$i=0;
	if($this->invoice){
	$total = 0;
	$total_paid = 0;
	$total_balance = 0;
	$total_cn = 0;
	foreach ($this->invoice as $entry):
				
		$css_class = "";
		$css_class = $css_class.($i%2==0?"shade ":"");
		$css_class_status = $entry['status']=='X'?"cross ":""; 
	?>
	<tr class="<?php echo $css_class; ?>">
		<td align="center"><?php echo $i+1;?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
		<td><?php echo $entry['invoice_no']; ?></td>
		<td><?php echo $entry['description']; ?></td>
		<td class="<?php echo $css_class_status; ?>" align="center"><?php echo $entry['status']=="A"?"Active":"Canceled"; ?></td>
		<td><?php echo number_format($entry['debit'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['paid'], 2, '.', ','); ?></td>
		<td><?php echo number_format($entry['cn'], 2, '.', ','); ?></td>
		<td><?php echo number_format( ($entry['balance']), 2, '.', ','); ?></td>
		<td align="center">
			<?php if( /*!isset($entry['payment']) &&*/ $entry['status']!="X" && ($entry['balance'] >0 || $entry['balance'] ==null)  ){ ?>
			<a href="#" onclick="process_slip('<?php echo $entry['id']; ?>');">Update Payment</a>
			<?php }?>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>
	
</table>