<script type="text/javascript">
  
function search_student(){

	var name = $('#name').val();
	var id = $('#id').val();
	var type = $('input[name=type]:checked').val()

	var table = $("#result tbody");
    $(table).empty();
     
	$.ajax({
	      url: "/ajax-utility/search-student",
	      type: "post",
	      data: {'name':name, 'id':id, 'type':type, 'txn':true},
	      dataType: 'json',
	      beforeSend: function (){
	    	  $(table).html('<tr><td colspan="3">Loading...</td></tr>');
	      },
	      success: function(data){

	    	  $(table).empty();

	          if(data.length>0){
		          if(type==1){
		        	  for(var i=0; i<data.length; i++){

			        	  if(data[i].at_pes_id!=null){
					          var content = "<tr>" +
					          				"<td><a href='#' onclick='detail("+data[i].at_trans_id+","+type+")'>"+data[i].name+"</a></td>"+
					          				"<td>"+data[i].appl_email+"</td>"+
					          				"<td>"+data[i].at_pes_id+"</td>"+
					          				"</tr>"
				        	  $(table).append(content);
			        	  }
			          }
		          }else{
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='detail("+data[i].at_trans_id+","+type+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"<td>"+data[i].nim+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }
		          
	          }else{
	        	  var content = "<tr><td colspan='3'> No Search Result </td></tr>"
	        	  $(table).append(content);
	          }
	      },
	      error:function(){
	    	  $(table).empty();
	          alert("failure");
	      }   
	}); 
}

	function detail(id,appl_type){
		window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-slip', 'action'=>'detail'),'default',true);?>/txn/'+id;		
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Search Applicant / Student');?>
	</legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Name');?></td>
			<td>:</td>
			<td>
				<input type="text" name="name" id="name" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ID');?></td>
			<td>:</td>
			<td>
				<input type="text" name="id" id="id" value="" />
			</td>
		</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td valign="top">:</td>
			<td>
				<input type="radio" name="type" id="type" value="1" checked="checked" /> <?php echo $this->translate("Applicant"); ?> 
				<br />
				<input type="radio" name="type" id="type" value="2" /> <?php echo $this->translate("Student"); ?> 
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			</td>
			<td>
				<input type="button" name="search" id="btn_search" class="button" value="Search" onclick="search_student();" />
			</td>
		</tr>
	</table>
</fieldset>

<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("Email");?></th>
			<th><?php echo $this->translate("Nom. Fomulir / NIM");?></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
