<script>
  $(function() {
    $( ".datepicker" ).datepicker({ 
        dateFormat: "dd-mm-yy" 
    });
  });

	function calculate_total(element){

		var number = parseFloat($(element).val());
		
		if (String(number).indexOf(".") < String(number).length - 3) {
			$(element).val(number.toFixed(2));
		}
		
		var total = parseFloat('0');
		$.each($('.amount_paid'),function(index, value){
			
			var amt = parseFloat($(value).val());
			if(!isNaN( amt )){
				total += amt;
			}
			
		});

		$('#total').html(total.toFixed(2));
  }
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<table>
	<tr>
		<td><?php echo $this->translate("Name");?></td>
		<td>:</td>
		<td>
			<?php echo $this->profile['appl_fname']!=null && $this->profile['appl_fname']!=""?$this->profile['appl_fname']." ":"" ; ?>
			<?php echo $this->profile['appl_mname']!=null && $this->profile['appl_mname']!=""?$this->profile['appl_mname']." ":"" ; ?>
			<?php echo $this->profile['appl_lname']!=null && $this->profile['appl_lname']!=""?$this->profile['appl_lname']." ":"" ; ?>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Email");?></td>
		<td>:</td>
		<td><?php echo $this->profile['appl_email']; ?></td>
	</tr>
	
	<?php if( $this->invoice['no_fomulir']!=null && $this->invoice['no_fomulir']!="" ){?>
	<tr>
		<td><?php echo $this->translate("Fomulir");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['no_fomulir']; ?></td>
	</tr>
	<?php
    } 
	?>
	
	<?php 
	if(isset($this->registration_data)){
    ?>
	<tr>
		<td><?php echo $this->translate("NIM");?></td>
		<td>:</td>
		<td><?php echo $this->registration_data['registrationId']; ?></td>
	</tr>
	<?php
    }   
	?>
	<tr>
		<td><?php echo $this->translate("Billing No");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_number']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Description");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_description']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Total Invoice Amount");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_amount']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Total Invoice Credit Note");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['cn_amount']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Total Invoice Paid");?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_paid']; ?></td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate("Invoice Balance");?></td>
		<td>:</td>
		<td><b><?php echo $this->invoice['bill_balance']; ?></b></td>
	</tr>
</table>
<br />

<form method="post" action="/studentfinance/payment-slip/update-payment-slip"> 
	<input type="hidden" name="invoice_id" value="<?php echo $this->invoice['id']; ?>" />
	<input type="hidden" name="txn" value="<?php echo $this->txn_id; ?>" />
	
	<fieldset>
		<legend><?php echo $this->translate("Fee Item");?></legend>
		<table class="table" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate("Item");?></th>
					<th><?php echo $this->translate("Bank");?></th>
					<th><?php echo $this->translate("Account No.");?></th>
					<th><?php echo $this->translate("Paid");?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($this->invoice['detail'] as $fee_item):?>
				<tr>
					<td><?php echo $fee_item['fee_item_description']; ?></td>
					<td><?php echo $fee_item['acc_no']['bank_name']; ?></td>
					<td><?php echo $fee_item['acc_no']['acc_no']; ?></td>
					<td><input type="text" name="amount_paid[]" class="amount_paid" value="0.00" onchange="calculate_total(this);" /></td>
				</tr>
				<?php endforeach;?>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">&nbsp;</td>
					<th id="total"></th>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<br />
	
	<fieldset>
		<legend><?php echo $this->translate("Payment Info"); ?></legend>
		<table>
			<tr>
				<td><?php echo $this->translate("Payment Date"); ?></td>
				<td>:</td>
				<td><input type="text" name="payment_date" value="" class="datepicker" /></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Bank Reference"); ?></td>
				<td>:</td>
				<td><input type="text" name="transaction_reference" value="" /></td>
			</tr>
		</table>
	</fieldset>
	
	<div style="text-align: center; padding: 5px 0;";>
		<input type="submit" value="<?php echo $this->translate("Submit");?>" />
		<input type="button" value="<?php echo $this->translate("Cancel");?>" onclick="parent.jQuery.fancybox.close();" />
	</div>
</form>