<script>

function getGroup(element,targetElement){

	 var idSubject = $('#idSubjectTo').val();
	 var idSemester = $('#idSemesterTo').val();
	 var idProgram = $('#idProgramTo').val();
	 var idGroupFrom = $('#idGroup').val();
	
		 if(idSubject!='' && idSemester!='' && idProgram!=''){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution', 'action'=>'get-group'),'default',true);?>",
					data: {'idSubject':idSubject,'idSemester':idSemester,'idProgram':idProgram,'idGroupFrom':idGroupFrom},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$(targetElement).empty();
						$(targetElement).append('<option value="">-- Please Select --</option>');			    	
				    	$.each(data, function(index) {					    	
				    		$(targetElement).append('<option value="'+data[index].IdCourseTaggingGroup+'">'+data[index].GroupName+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading(targetElement);
				      
					},
					complete: function() {
						hideLoading(targetElement);
					}  	
				});
		}
}

function getSubject(element,targetElement){

	 var idSemester = $('#idSemesterTo').val();
	 var idProgram = $('#idProgramTo').val();
	
	
		if(idSemester!='' && idProgram!=''){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'examination','controller'=>'mark-distribution', 'action'=>'ajax-group-subject'),'default',true);?>",
					data: {'idProgram':idProgram,'idSemester':idSemester},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$(targetElement).empty();
						$(targetElement).append('<option value="">-- Please Select --</option>');			    	
				    	$.each(data, function(index) {					    	
				    		$(targetElement).append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading(targetElement);
				      
					},
					complete: function() {
						hideLoading(targetElement);
					}  	
				});
		}
}

function showLoading(target){
	$(target).hide();
	$(target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$(target).show();
}


function validate(){

	var flag = true;
	
	if ($('#idSemesterTo option:selected').val() == '') {
		alert("Please select semester.");             	
		flag = false;
		return false;
    }

	if ($('#idProgramTo option:selected').val() == '') {
		alert("Please select program.");             	
		flag = false;
		return false;
    }

	if ($('#idSubjectTo option:selected').val() == '') {
		alert("Please select subject.");             	
		flag = false;
		return false;
    }

   

	if ($('#idGroupTo option:selected').val() == '') {
		alert("Please select group.");             	
		flag =  false;
		return false;
    }

   if(flag==true){

	  	 msg = confirm("Are you sure you want to copy mark distribution?");
		 if(msg){
			 return true;
			//$("#copyForm").submit();
		 }else{
			return false;
		 }
   }
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="<?php echo $this->url; ?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<form name='copyForm' id='copyForm' method='post' onsubmit='return validate()'>
<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->idSemester;?>"></input>
<input type="hidden" name="idProgram" id="idProgram" value="<?php echo $this->idProgram;?>"></input>
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->idSubject;?>"></input>
<input type="hidden" name="idGroup" id="idGroup" value="<?php echo $this->idGroup;?>"></input>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>		
		<th colspan=2><?php echo $this->translate("Copy from")?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester'); ?></td>
		<td><?php echo $this->semester[0]['SemesterMainName'];?></td>
	</tr>	
	<!--<tr>
		<td><?php echo $this->translate('Programme'); ?></td>
		<td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>
	</tr>
	--><tr>
		<td><?php echo $this->translate('Course'); ?></td>
		<td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Section'); ?></td>
		<td><?php echo $this->group['GroupName'];?></td>
	</tr>
	<tr>		
		<th colspan=2><?php echo $this->translate("Copy to")?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester'); ?></td>
		<td>
			<select class='select' name='idSemesterTo' id='idSemesterTo' onchange='getGroup(this,"#idGroupTo");getSubject(this,"#idSubjectTo");'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
				<?php foreach($this->semestercopy as $semester){?>
				<option value='<?php echo $semester["IdSemesterMaster"]?>'><?php echo ($this->locale=='ms_MY')? $semester["SemesterMainDefaultLanguage"]:$semester["SemesterMainName"]; ?> - <?php echo $semester['SemesterMainCode'];?></option>
				<?php } ?>
			</select>`
		</td>
	</tr>	
	<tr>
		<td><?php echo $this->translate('Programme'); ?></td>
		<td>
			<select class='select' name='idProgramTo' id='idProgramTo' onchange='getGroup(this,"#idGroupTo");getSubject(this,"#idSubjectTo");'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
				<?php foreach($this->programcopy as $program){?>
				<option value='<?php echo $program["IdProgram"]?>'><?php echo ($this->locale=='ms_MY')? $program["ProgramCode"].'-'.$program["ArabicName"]:$program["ProgramCode"].'-'.$program["ProgramName"]; ?></option>
				<?php } ?>
			</select>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Course'); ?></td>
		<td>
			<select class='select' name='idSubjectTo' id='idSubjectTo' onchange='getGroup(this,"#idGroupTo");'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>	
				<!--<?php foreach($this->subjectcopy as $subject){?>
				<option value='<?php echo $subject["IdSubject"]?>'><?php echo ($this->locale=='ms_MY')? $subject["SubCode"].'-'.$subject["subjectMainDefaultLanguage"]:$subject["SubCode"].'-'.$subject["SubjectName"]; ?></option>
				<?php } ?>			
				-->
			</select>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Section'); ?></td>
		<td>
			<select class='select' name='idGroupTo' id='idGroupTo'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>				
			</select>
		</td>
	</tr>
</table>
<div class='form-opt'>		
	<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate('Copy'); ?>'>
</div>
</form>
</div>