<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->baseUrl()?>/records/studentprofile/studentprofilelist/id/<?php echo $this->student_id?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />


<!-- audit -->
<fieldset>
	<legend><?php echo $this->translate('Info')?></legend>
	<ul>
		<li><?php echo $this->translate('Type')?>: <strong><?php echo $this->audit_info['log_type']?></strong></li>
		<li><?php echo $this->translate('Updated By')?>: <?php echo $this->audit_info['loginName']?></li>
		<li><?php echo $this->translate('Date')?>: <?php echo format_date_to_view($this->audit_info['log_date'],'d-m-Y, g:i a')?></li>
		<li><?php echo $this->translate('IP Address')?>: <?php echo long2ip($this->audit_info['log_ip'])?></li>
	</ul>
</fieldset>

<br />
<table width="100%" class="table">
	<thead>
		<tr>
			<th width="30%"><?php echo $this->translate('Field')?></th>
			<th><?php echo $this->translate('Value')?></th>
			<th><?php echo $this->translate('Old Value')?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ( $this->data as $row ) { ?>
		<?php if ( $row['type'] == 'upload' ) { ?>
		<tr>
			<td>
				<?php echo $this->translate('Uploaded file')?>
				<?php if ( $row['variable'] != '' ) { ?>
				<?php echo ' - '.Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_definationms', 'DefinitionDesc', 'DefinitionCode = \''.$row['variable'].'\'') ?>
				<?php } ?>
			</td>
			<td colspan="2"><a href="<?php echo DOCUMENT_URL.$this->values[$row['variable']]['value']?>" class="fancybox"><?php echo basename($this->values[$row['variable']]['value'])?></a></td>
		</tr>
		<?php } else { ?>
		<tr>
			<td data-id="<?php echo $row['variable']?>"><?php echo isset($this->varinfo[$row['variable']]) ? $this->varinfo[$row['variable']] : $row['variable']?></td>
			<td><?php echo $this->values[$row['variable']]['value']?></td>
			<td><?php echo $this->values[$row['variable']]['prev_value']?></td>
		</tr>
		<?php } ?>
		<?php } ?>
	</tbody>
</table>
<!-- /audit -->
<script type="text/javascript">
$(function()
{
	$(".fancybox").fancybox();
});
</script>

