<div class="message toolbar">
    <h2><?php echo $this->translate("Student Profile"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile', 'action'=>'index'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<div class="message error">Cannot view student profile. system cannot find current semester. please contact system admin.</div>