<h2><?php echo $this->translate("Attendance Detail");?></h2>
<table class="table" width="100%">
	<tr>
		<th rowspan="2"><?php echo $this->translate("Total Session");?></th>
		<th colspan="4"><?php echo $this->translate("Attendance Status");?></th>
	</tr>
	<tr>
		<th width="20%px"><?php echo $this->translate("Hadir");?></th>
		<th width="20%px"><?php echo $this->translate("Ijin");?></th>
		<th width="20%px"><?php echo $this->translate("Sakit");?></th>
		<th width="20%px"><?php echo $this->translate("Tanpa Alasan");?></th>
	</tr>
	<tr>
		<td align="center"><?php echo $this->class_group['class_session']?></td>
		<td align="center"><?php echo $this->class_group['class_att_attended']?></td>
		<td align="center"><?php echo $this->class_group['class_att_permission']?></td>
		<td align="center"><?php echo $this->class_group['class_att_sick']?></td>
		<td align="center"><?php echo $this->class_group['class_att_absent']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Percentage");?></th>
		<td align="center"><?php echo round($this->class_group['class_attendance_percentage'], 2);?>%</td>
		<td colspan="3">&nbsp;</td>
	</tr>
</table>

<h2><?php echo $this->translate("Coursework Marks");?></h2>
<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate("Component Name");?></th>
		<th><?php echo $this->translate("Component Percentage");?></th>
		<th><?php echo $this->translate("Mark");?></th>
		<th><?php echo $this->translate("Component Mark");?></th>
	</tr>
	<?php 
	$tot_percentage = 0;
	$tot_comp_mark = 0;
	foreach ($this->coursework as $component):
		$tot_percentage += $component['Percentage'];
	?>
	<tr>
		<td><?php echo $component['component_name'];?></td>
		<td align="center"><?php echo $component['Percentage'];?></td>
		<td align="center">
			<?php 
			if(isset($component['student_mark']['TotalMarkObtained'])){

				echo round($component['student_mark']['TotalMarkObtained']) ."/". round($component['student_mark']['MarksTotal']);
				echo $component['student_mark']['MarksEntryStatus'] == 407?"*":"";
			}else{
				echo "<small>n/a</small>";
			}
			?>
		</td>
		<td align="center">
			<?php 
			if(isset($component['student_mark']['FinalTotalMarkObtained'])){
				$tot_comp_mark += $component['student_mark']['FinalTotalMarkObtained'];
				echo round($component['student_mark']['FinalTotalMarkObtained']) ."/". round($component['Marks']);
				echo $component['student_mark']['MarksEntryStatus'] == 407?"*":"";
			}else{
				echo "<small>n/a</small>";
			}
			?>
		</td>
	</tr>
	<?php 
	endforeach;
	?>
	
	<?php if(sizeof($this->coursework)==0){?>
	<tr>
		<td colspan="4" align="center">
			<?php echo $this->translate("No mark distribution");?>
		</td>
	</tr>
	<?php }?>
	<tr>
		<th colspan="3"><?php echo $this->translate("Total");?></th>
		<td align="center"><?php echo round($tot_comp_mark);?>/<?php echo $tot_percentage; ?></td>
	</tr>
</table>

<small>
	*:<?php echo $this->translate("Mark not verified");?>
	<br />
	
</small>