<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate("No.");?></th>
		<th><?php echo $this->translate("Semester Name");?></th>
		<th><?php echo $this->translate("Semester Code");?></th>
		<th><?php echo $this->translate("Semester Start Date");?></th>
		<th><?php echo $this->translate("Action");?></th>
	</tr>
	<?php 
    if(count($this->row) > 0) :
       $i = 1;
        foreach ($this->row as $key => $value) :
    ?>
	<tr>
		<td align="center"><?php echo $i++;?></td>
		<td align="center"><?php echo $value['SemesterMainName']?></td>
		<td align="center"><?php echo $value['SemesterMainCode']?></td>
		<td align="center"><?php echo $value['SemesterMainStartDate']?></td>
		<td align="center">
            <a href="/records/studentprofile/add-new-semester/registrationId/<?php echo $this->registrationId?>/semesterId/<?php echo $value['IdSemesterMaster']?>">Approve</a></td>
		
	</tr>
    <?php endforeach;
    else :
    ?>
    <tr>
        <td colspan="5" align="center"><?php echo $this->translate("No Semester Found");?></td>
    </tr>
    <?php
    endif;
    ?>
</table>
