<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'records', 'controller' => 'visitingstudent', 'action' => 'index'), 'default', true); ?>';">
                    <span class='add'></span>
                    <?php echo $this->translate('Add') ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
        </ul>
    </div>
</div>

<br/>

<div>
    <?php
    $searchbox = !empty($this->formData) ? 0 : 1;
    ?>
    <div id="search_form" style="<?php echo $searchbox == 1 ? 'display:none' : '' ?>">
        <fieldset>
            <legend><?php echo $this->translate('Search') ?></legend>
            <?php echo $this->form; ?>
        </fieldset>
    </div>
    <br/>
    <div id="stats_box" style="<?php echo $searchbox == 0 ? 'display:none' : '' ?>">
        <div id="tabs">
            <ul>
                <li><a href="#stats-1"><?php echo $this->translate('By Status') ?></a></li>
                <li><a href="#stats-2"><?php echo $this->translate('By Intake') ?></a></li>
            </ul>
            <div id="stats-1">
                <ul class="stats">
                    <?php foreach ($this->statusCount as $status => $total) { ?>
                        <li><a href="#"
                               onclick="selectStatus('<?php echo $status ?>'); return false;"><?php echo $status ?></a>
                            <label <?php echo $total == 0 ? 'class="empty"' : '' ?>><?php echo number_format($total) ?></label>
                        </li>
                    <?php } ?>
                </ul>
            </div>
            <div id="stats-2" style="display:none">
                <ul class="stats">
                    <?php foreach ($this->intakeCount as $status => $total) { ?>
                        <li><a href="#"
                               onclick="selectIntake('<?php echo $status ?>'); return false;"><?php echo $status ?></a>
                            <label <?php echo $total == 0 ? 'class="empty"' : '' ?>><?php echo number_format($total) ?></label>
                        </li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3><?php echo $this->translate('Students') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

    <?php
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');

    ?>

    <table class="table" width="100%" cellpadding="5" cellspacing="1">

        <tr>
            <th><?php echo $this->translate("Student Name"); ?></th>
            <th><?php echo $this->translate("Student ID"); ?></th>
            <th><?php echo $this->translate("Programme"); ?></th>
            <th><?php echo $this->translate("Programme Scheme"); ?></th>
            <th><?php echo $this->translate("Intake"); ?></th>
            <th><?php echo $this->translate("Student Category"); ?></th>
            <th><?php echo $this->translate("Student Status"); ?></th>
            <th><?php echo $this->translate("Semester Status"); ?></th>
            <th><?php echo $this->translate(""); ?></th>
        </tr>

        <?php

        if (count($this->paginator)){
        foreach ($this->paginator as $lobjstudents){

        ?>
        <tr>
            <td>
                <a href="<?php echo $this->baseUrl(); ?>/records/studentprofile/student-profile/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->escape($lobjstudents['appl_fname'] . ' ' . $lobjstudents['appl_mname'] . ' ' . $lobjstudents['appl_lname']); ?></a>
            </td>
            <td><?php echo $this->escape($lobjstudents['registrationId']); ?></td>
            <td align="center">
			<span class="tooltip2">
                <?php echo $lobjstudents['ProgramCode'] ?>
                <?php
                if ($lobjstudents['ProgramMajoringName'] != '' && $lobjstudents['ProgramMajoringName'] != null) {
                    echo '(' . $lobjstudents['ProgramMajoringName'] . ')';
                }
                ?>
            </span>
                <div class="tooltiptext">
                    <?php echo $lobjstudents['ProgramName'] ?>
                    <?php
                    if ($lobjstudents['ProgramMajoringName'] != '' && $lobjstudents['ProgramMajoringName'] != null) {
                        echo '(' . $lobjstudents['ProgramMajoringName'] . ')';
                    }
                    ?>
                </div>
            </td>
            <td><?php echo $lobjstudents['mop'] . '<br/>' . $lobjstudents['mos'] . '<br/>' . $lobjstudents['pt'] ?></td>
            <td><?php echo $this->escape($lobjstudents['IntakeDesc']); ?></td>
            <!--<td><?php //echo $this->escape($lobjstudents['UpdDate']);
            ?></td>-->
            <td><?php echo $this->escape($lobjstudents['stdCtgy']); ?></td>
            <td align="center"><?php echo $this->escape($lobjstudents['profileStatus']); ?></td>
            <td align="center">
                <?php
                echo $semStatus = Records_StudentprofileController::defineSemesterStatus($lobjstudents['IdStudentRegistration'], $lobjstudents['profileStatus'], $lobjstudents['IdScheme']);
                ?>
            </td>
            <td class="options">
                <ul>
                    <li>
                        <a href="<?php echo $this->baseUrl(); ?>/records/studentprofile/student-profile/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->translate("Edit"); ?></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl(); ?>/records/studentprofile/studentprofilelist/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->translate("Summary"); ?></a>
                    </li>

                    <?php
                    //Yati 17-6-2015 Only Normal student can do course registration here, visiting through audit application
                    if ($lobjstudents['profileStatus'] == 'Active') {
                        if ($lobjstudents['IdProgram'] != 21) {
                            ?>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/registration/course-registration/register-course/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->translate("Course Registration"); ?></a>
                            </li>
                        <?php } else { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/records/auditpaper/auditpaperapplication"><?php echo $this->translate("Course Registration"); ?></a>
                            </li>
                        <?php }
                    } ?>
                    <li>
                        <a href="<?php echo $this->baseUrl(); ?>/registration/course-registration-history/index"><?php echo $this->translate("Course Registration History"); ?></a>
                    </li>
                    <li><a target="_blank"
                           href="<?php echo EUNI_URL ?>/index/admin/key/<?php echo encrypt_decrypt($lobjstudents['sp_id'], true); ?>"><?php echo $this->translate("Login to student portal"); ?></a>
                    </li>
                    <?php if (isset($lobjstudents['majoringStatus']) && $lobjstudents['majoringStatus'] == 1) { ?>
                        <li>
                            <a href="<?php echo $this->baseUrl(); ?>/records/specialization/choose/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>"><?php echo $this->translate("Specialization"); ?></a>
                        </li>
                    <?php } ?>
                </ul>
            </td>
            <?php
            }
            }
            ?>
        </tr>

    </table>

    <?php
    echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    <?php
    //encrypt_decrypt($studentdetails["appl_id"],true);
    function encrypt_decrypt($data, $encrypt)
    {
        if ($encrypt == true) {
            $output = base64_encode(convert_uuencode($data));
        } else {
            $output = convert_uudecode(base64_decode($data));
        }
        return $output;
    }

    ?>
    <style type="text/css">
        ul.stats {
            list-style: none
        }

        ul.stats li {
            width: 200px;
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
        }

        ul.stats li label {
            padding: 1px 9px 1px;
            font-size: 9px;
            font-weight: bold;
            white-space: nowrap;
            color: #ffffff;
            background-color: #6cb2d4;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            float: left;
            margin-right: 5px;
        }

        .vcard {
        }

        .vcard .photo {
            float: left;
            border: 1px solid #eee;
        }

        .vcard .info {
            margin-left: 90px;
            padding: 5px;
        }

        ul.stats li label.empty {
            background: #cdd0d2
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });

        function getProgramScheme(element) {

            var program_id = document.getElementById('IdProgram').value;

            var url = "<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship', 'action' => 'scholarship-tagging-ajax'), "default", true);?>/id/" + program_id;
            var data_dropdown = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_dropdown,
                dataType: 'json',
                beforeSend: function () {
                    showLoading('IdProgramScheme');
                },
                complete: function () {
                    hideLoading('IdProgramScheme');
                }
            })
                .done(function (data) {
                    var content = '<option label="-- All --" value="">-- All --</option>';
                    $.each(data, function (index) {
                        content += '<option label="' + data[index].mop_name + ' ' + data[index].mos_name + ' ' + data[index].programType + '" value="' + data[index].IdProgramScheme + '">' + data[index].mop_name + ' ' + data[index].mos_name + ' ' + data[index].programType + '</option>';
                    });
                    $('#IdProgramScheme').html(content);
                })
                .fail(function () {
                    alert("error load program scheme");
                });
        }

        function showLoading(target) {
            $('#' + target).hide();
            $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        }

        function hideLoading(target) {
            $('#loading').remove();
            $('#' + target).show();
        }

        function searchbox() {
            $('#search_form').toggle();
            $("#stats_box").toggle();

            return false;
        }

        function selectStatus(name) {
            $("#search_form").show();
            $("#stats_box").hide();
            $('#search_form').trigger("reset");

            $("#profile_status option").each(function () {
                if ($(this).text() == name) {
                    $("#profile_status").val($(this).val());
                }
            });
        }

        function selectIntake(name) {
            $("#search_form").show();
            $("#stats_box").hide();
            $('#search_form').trigger("reset");

            $("#IdIntake option").each(function () {
                if ($(this).text() == name) {
                    $("#IdIntake").val($(this).val());
                }
            });
        }
    </script>