<?php 
//Academic Progress Start Here
$recordDb = new Records_Model_DbTable_Academicprogress();
if ($this->landscape["LandscapeType"]==43 || $this->landscape["LandscapeType"]==42){
?>
<!-- LIST OF PAPER COMPLETED AND REGISTERED-->
<table class="table" width="100%">
    <tr>
        <th colspan="5" align="center"><?php echo $this->translate('LIST OF COURSES REGISTERED AND COMPLETED')?></th>
    </tr>
    <tr>
        <th><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th><?php echo $this->translate('Course Name');?></th>
        <th><?php echo $this->translate('Credit Hours');?></th>
        <th><?php echo $this->translate('Grade');?></th>
        <th><?php echo $this->translate('Remarks');?></th>
    </tr>
    <?php 
    if ($this->landscape["LandscapeType"]==43){
    $z = 0;
    //var_dump($this->compulsory['completed']);
    foreach($this->compulsory['completed'] as $common) { 
        
    ?>
        <tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan;?>">Compulsory</td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }
   
    unset($common);
    if(array_key_exists("registered",$this->compulsory)){
    foreach($this->compulsory['registered'] as $common) { 
        
    ?>
        <tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan;?>">Compulsory</td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php 
    }}
    ?>
    

    
    <?php 
    unset($common);
    $p = 0;
    foreach($this->elective['completed'] as $common) { 
        
    ?>
        <tr>
            <?php if($p == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_elective;?>">Elective</td>
            <?php 
                $p = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }
   
    unset($common);
    if(array_key_exists("registered",$this->elective)){
    foreach($this->elective['registered'] as $common) { 
        
    ?>
        <tr>
            <?php if($p == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_elective;?>">Elective</td>
            <?php 
                $p = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }} ?>
    <?php
        if ($this->research) { 
    ?>
        <tr>
            <td class="center">Research</td>
            <td><?php echo $this->research["name"]; ?></td>
            <td class="center"><?php echo $this->research["credithours"]; ?></td>
            <td class="center"><?php echo $this->research["grademark"]; ?></td>
            <td>
                <?php 
                echo $this->research["remarks"];
                ?>
            </td>
        </tr>
        
    <?php } ?>
        <?php 
    }else{ //level landscape
        //var_dump($this->compulsory);
    	$z = 0;
        $f=0;
    	 for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
    	 	if(array_key_exists($ls,$this->compulsory) ){
    	 		if(array_key_exists("completed",$this->compulsory[$ls]) ){	
    			foreach($this->compulsory[$ls]["completed"] as $common) {
 	?>
 		<tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]["completed"])?>">Part <?php echo $ls?></td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
 	<?php    		
    			}} 
    			if(array_key_exists("registered",$this->compulsory[$ls]) ){	
    			foreach($this->compulsory[$ls]["registered"] as $common) {
    ?>
	 		<tr>
	            <?php 
                    if($f == 0) {
                    ?>
	            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]["registered"])?>">Part <?php echo $ls?></td>
	            <?php 
	                $f = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
	            <td class="center"><?php echo $common["CreditHours"]?></td>
	            <td class="center"><?php echo $common["grademark"]?></td>
                    <td>
                        <?php 
                        echo Records_StudentprofileController::getRemark($common, $this->landscape);
                        ?>
                    </td>
	        </tr>    
    <?php 				
    			}}
    			
    	 	}
    		$z = 0;
    	 }
    ?>
    <?php 
    }
    ?>
</table>
    <br />
<br />
<br />

<!-- LIST OF PAPER REMAINING-->
<table class="table" width="100%">
    <tr>
        <th colspan="3" align="center"><?php echo $this->translate('LIST OF COURSES REMAINING')?></th>
    </tr>
    <tr>
        <th class="w20"><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th align="center"><?php echo $this->translate('Course Name');?></th>
        <th class="w10"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <?php 
    unset($common);
    if ($this->landscape["LandscapeType"]==43){
	    $q = 0;
            $countremcore = 0;
            if ($this->viewRemainingSubjectCore == true){
	    foreach($this->compulsory['open'] as $common) { 
	    $countremcore++;    
	    ?>
	        <tr>
	            <?php if($q == 0) {?>
	            <td class="center" rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
	            <?php 
	                $q = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
	            <td class="center"><?php echo $common["CreditHour"]?></td>
	        </tr>
	        
            <?php }}
	    $q=0;
	    unset($common);
            $countremelective = 0;
            if ($this->viewRemainingSubjectElective == true){
	    foreach($this->elective['open'] as $common) { 
	    $countremelective++;    
	    ?>
	        <tr>
	            <?php if($q == 0) {?>
	            <td class="center" rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
	            <?php 
	                $q = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
	            <td class="center"><?php echo $common["CreditHour"]?></td>
	        </tr>
	        
            <?php }} ?>
	 <?php 
    }else{//level landscape
	 ?>
		<?php 
		$q=0;
	    unset($common);
            if ($this->viewRemainingSubjectCore == true){
	    for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
	    	if(array_key_exists($ls,$this->compulsory) ){
    	 	if(array_key_exists("open",$this->compulsory[$ls]) ){
			    foreach($this->compulsory[$ls]['open'] as $common) { 
			        
			    ?>
			        <tr>
			            <?php if($q == 0) {?>
			            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]['open'])?>">Part <?php echo $ls?></td>
			            <?php 
			                $q = 1;
			            }?>
			            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
			            <td class="center"><?php echo $common["CreditHour"]?></td>
			        </tr>
			        
			    <?php 
			    } 
    	 	}} 
    	 	$q=0; 
                }} 
		 ?>	 
	 <?php 
    }
	 ?>
</table>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->
<br />
<br />
<br />
<table class="table" width="100%">
    <tr>
        <th colspan="3" align="center"><?php echo $this->translate('LIST OF COURSES OFFERED IN ') . $this->currSemester['SemName'];?></th>
    </tr>
    <tr>
        <th class="w20"><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th align="center"><?php echo $this->translate('Course Name');?></th>
        <th align="w10"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <?php $a = 0;?>
    <?php 
    if($this->landscape["LandscapeType"]==43){
    ?>
    <?php foreach ($this->offered['compulsory'] as $sub => $offer) :?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo $this->offered_compulsory;?>">Compulsory</td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    <?php endforeach;?>
    <?php unset($offer); $a=0;?>
    <?php
    if (isset($this->offered['elective']) && $this->offered['elective']):
    foreach ($this->offered['elective'] as $sub => $offer) :
    ?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo $this->offered_elective;?>">Elective</td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    <?php 
    endforeach;
    endif;
    ?>
    <?php }else{?>
<?php 
			
	    	for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
		    	if(array_key_exists($ls,$this->offered) ){
	    	 	if(array_key_exists("compulsory",$this->offered[$ls]) ){
				foreach ($this->offered[$ls]['compulsory'] as $sub => $offer) :
				?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo count($this->offered[$ls]['compulsory'])?>">Part<?php echo $ls?></td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    		<?php endforeach;?>
    		<?php }}
    		$a=0;
    		?>
    	<?php }?>
  
    <?php }?>
</table>
<?php 
}else{ //Block
?>

<?php 
}
?> 
<br/>
<?php
//$izham = false;
//if($izham != false){
if ($this->landscape["LandscapeType"]==43){
    //echo 'semester';
    
    if ($this->landscape["AssessmentMethod"]=='point'){
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td style="text-align: left;" width="19%"><?php echo $this->countCreditHoursCore; ?></td>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT EARNED'); ?>
            </td>
            <td width="5%">:</td>
            <td width="15%"><?php echo $this->total['credit_earn']; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING CREDIT TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td>:</td>
            <td><?php echo $this->chr; ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT CGPA'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td><?php echo number_format($this->total['cgpa'], 2, '.', ''); ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('PROBATION'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }else{
    ?>
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td width="13%"><?php echo count($this->compulsory['completed'])+count($this->compulsory['registered'])+count($this->elective['completed'])+count($this->elective['registered']); ?></td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Compulsary Paper - '.count($this->compulsory['completed']); ?><br/>
                <?php echo 'Elective Paper - '.count($this->elective['completed']); ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Compulsory Paper - '.$countremcore; ?><br/>
                <?php echo 'Elective Paper - '.$countremelective; ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }
}else{
    ?>
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td width="22%">
                <?php
                $countpt = 0;
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpt = count($this->compulsory[$ls]["completed"])+$countpt;
                    }
                }
                echo $countpt;
                ?>
            </td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpc = count($this->compulsory[$ls]["completed"]);
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["open"])){
                        if ($ls != 3){
                            $countpc = count($this->compulsory[$ls]["open"]);
                        }else{
                            $i = 0;
                            $countpc = '';
                            foreach($this->compulsory[$ls]["open"] as $remcourse){
                                $countpc .= $remcourse['SubCode'];
                                //var_dump($remcourse);
                                $i++;
                                
                                if ($i < count($this->compulsory[$ls]["open"])){
                                    $countpc .= '/';
                                }
                            }
                        }
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
}
//}
?>