<?php 
echo $this->headScript()->appendFile($this->baseUrl().'/js/raty/lib/jquery.raty.js');
echo $this->headStyle()->appendStyle($this->baseUrl().'/js/raty/lib/jquery.raty.css');
?>
<style type="text/css">
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:82px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:40%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:140px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }

.app-opt { border:1px solid #eee; padding:5px; }
</style>
<script type="text/javascript">
    $(function(){
        var url="<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile','action'=>'load-content'),'default',true);?>/id/"+<?php echo $this->studentId; ?>+"/sectionId/"+<?php echo $this->sectionId; ?>;
        
        $(".fancy").fancybox();

        $("#content").hide();
	$("#content").after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        
        $("#content").load(url, function () { //calback function
            $('#loading').remove();
            $("#content").show();
        });
        
        $('#section-<?php echo $this->sectionId; ?>').addClass('active');
        
        $('.menu a').click(function() {
            $('.menu a').removeClass('active');
            $(this).addClass('active');
        });
    });
    
    function loadContent(studentId, sectionId){
        var url="<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile','action'=>'load-content'),'default',true);?>/id/"+studentId+"/sectionId/"+sectionId;
        
        $("#content").hide();
	$("#content").after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        
        $("#content").load(url, function(){ //calback function
            $('#loading').remove();
            $("#content").show();
        });
    }
    
    function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Student Profile"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<div class="profile-summary" style="overflow: hidden;">
        <?php if ( $this->app_photo != '' ) {?>
            <div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
            <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
        <ul>
        <li><span><?php echo $this->translate('Student Name'); ?> : </span><?php echo $this->studentInfo['saluteName'].' '.$this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?></li>
        <li><span><?php echo $this->translate('Student ID'); ?> : </span><?php echo $this->studentInfo['registrationId']; ?></li>
        <li><span><?php echo $this->translate('Profile Status'); ?> : </span><?php echo $this->studentInfo['statusName']; ?></li>
        <li><span><?php echo $this->translate('Branch'); ?> : </span><?php echo Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_branchofficevenue', 'BranchName', 'IdBranch = '.$this->studentInfo['IdBranch']); ?></li>
        <li><span><?php echo $this->translate('Nationality'); ?> : </span><?php echo $this->studentInfo['nationalityName']; ?></li>
        <li><span><?php echo $this->translate('Sponsorship'); ?> : </span><?php echo isset($this->studentInfo['Sponsorship']) ? $this->studentInfo['Sponsorship']:''; ?></li>
        <li><span><?php echo $this->translate('Chargeable ?'); ?> : </span><?php echo Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_branchofficevenue', 'invoice', 'IdBranch = '.$this->studentInfo['IdBranch'])==1 ? 'Yes':'No'; ?></li>
        </ul>
        <ul>
        <li><span><?php echo $this->translate('Intake'); ?> : </span><?php echo $this->studentInfo['intakeName']; ?></li>
        <li><span><?php echo $this->translate('Student Category'); ?> : </span><?php echo $this->studentInfo['studentCategory']; ?></li>
        <li><span><?php echo $this->translate('Programme'); ?> : </span><?php echo $this->studentInfo['ProgramName']; ?></li>
        <li><span><?php echo $this->translate('Fee Structure'); ?> : </span><?php echo $this->studentInfo['feeStructureName']; ?></li>
        <li><span><?php echo $this->translate('Scholarship'); ?> : </span><?php echo isset($this->studentInfo['Scholarship']) ? $this->studentInfo['Scholarship']:''; ?></li>
        <li><span><?php echo $this->translate('Discount Plan'); ?> : </span><?php echo isset($this->studentInfo['Discount']) ? $this->studentInfo['Discount']:''; ?></li>
        <li>
        <span class="extra-2"><?php echo $this->translate('Programme Scheme'); ?> : </span> 
        <?php echo $this->studentInfo['mop']; ?> <?php echo $this->studentInfo['mos']; ?> <?php echo $this->studentInfo['pt']; ?></li>
        </ul>
</div>
<div class="wrap-tabs">
    <div class="sidebar-tabs">
        <div class="menu">
        <ul>
            <li></li>
            <?php 
            //var_dump($this->section);
            if ($this->section):
            foreach ($this->section as $sectionloop):
            if ($sectionloop['id']!=17 && $sectionloop['id']!=13 && $sectionloop['id']!=23):
            ?>
            <li><a id="<?php echo 'section-'.$sectionloop['id']; ?>" href="javascript:void(0);" onclick="loadContent(<?php echo $this->studentId; ?>,<?php echo $sectionloop['id']; ?>)"><?php echo $sectionloop['name']; ?></a></li>
            <?php
            endif;
            endforeach;
            endif;
            ?>
            </ul>
        </div>
    </div>
    <div class="content" id="content">
        <!--<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>-->
    </div>
</div>