<?php
echo $this->headScript()->appendFile($this->baseUrl().'/js/raty/lib/jquery.raty.js');
echo $this->headStyle()->appendStyle($this->baseUrl().'/js/raty/lib/jquery.raty.css');
?>
<style type="text/css">
td {
    overflow: hidden;
    width: 25%;
}
</style>
<script type="text/javascript">
    $(function(){
        $( "#tabs" ).tabs();
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Student Summary"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'studentprofile', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br/><br/>
<div id="tabs" class="clean-tabs">
    <ul>
        <li><a href="#tab-1"><?php echo $this->translate('Student Info');?></a></li>
        <li><a href="#tab-3"><?php echo $this->translate('Communication');?></a></li>
        <li><a href="#tab-2"><?php echo $this->translate('Applicant History');?></a></li>
        <li><a href="#tab-4"><?php echo $this->translate('Status History');?></a></li>
        <li><a href="#tab-5"><?php echo $this->translate('Account Statement');?></a></li>
    </ul>
    
    <div id="tab-1"><!-- tab 1 start -->
        <?php 
        if ($this->sectionList):
        $i=1;
        foreach ($this->sectionList as $sectionLoop):
        if ($sectionLoop['id']!=17 && $sectionLoop['id']!=13 && $sectionloop['id']!=23):
        ?>
        <h3 data-section="<?php echo $sectionLoop['id']; ?>"><?php echo $i.'. '; ?><?php echo $sectionLoop['name']; ?></h3>
        <?php
            switch ($sectionLoop['id']){
                case 1: //program detail
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Programme'); ?></td>
                                <td><?php echo $this->studentInfo['ProgramName']; ?></td>
                                <td><?php echo $this->translate('Mode of Study'); ?></td>
                                <td><?php echo $this->studentInfo['mos']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Mode of Programme'); ?></td>
                                <td><?php echo $this->studentInfo['mop']; ?></td>
                                <td><?php echo $this->translate('Programme Type'); ?></td>
                                <td><?php echo $this->studentInfo['pt']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Semester Intake'); ?></td>
                                <td><?php echo $this->studentInfo['IntakeName']; ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 2: //personal detail
                    ?>
                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Personal Details'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Previous Student'); ?></td>
                                <td><?php echo ($this->studentInfo['senior_student']==0 ? 'No':'Yes'); ?></td>
                                <td><?php echo $this->translate('Salutation'); ?></td>
                                <td><?php echo $this->studentInfo['saluteName']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('First Name'); ?></td>
                                <td><?php echo $this->studentInfo['appl_fname']; ?></td>
                                <td><?php echo $this->translate('Last Name'); ?></td>
                                <td><?php echo $this->studentInfo['appl_lname']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('ID Type'); ?></td>
                                <td><?php echo $this->studentInfo['IdTypeName']; ?></td>
                                <td><?php echo $this->translate('ID Number'); ?></td>
                                <td><?php echo $this->studentInfo['appl_idnumber']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Passport Expiry Date'); ?></td>
                                <td><?php echo ($this->stduentInfo['appl_passport_expiry']==NULL ? '':date('d-m-Y', strtotime($this->stduentInfo['appl_passport_expiry']))); ?></td>
                                <td><?php echo $this->translate('Gender'); ?></td>
                                <td><?php echo ($this->studentInfo['appl_gender']==1 ? 'Male':'Female'); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Date of Birth'); ?></td>
                                <td><?php echo ($this->studentInfo['appl_dob']==NULL ? '':date('d-m-Y', strtotime($this->studentInfo['appl_dob']))); ?></td>
                                <td><?php echo $this->translate('Age'); ?></td>
                                <td><?php echo $this->studentInfo['appl_age']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Marital Status'); ?></td>
                                <td><?php echo $this->studentInfo['maritalStatusName']; ?></td>
                                <td><?php echo $this->translate('Religion'); ?></td>
                                <td><?php echo $this->studentInfo['religionName']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Nationality'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_nationality']==NULL || $this->studentInfo['appl_nationality']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_countries', 'CountryName', 'idCountry = '.$this->studentInfo['appl_nationality'])); ?></td>
                                <td><?php echo $this->translate('Type of Nationality'); ?></td>
                                <td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->studentInfo['appl_type_nationality']); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Race'); ?></td>
                                <td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->studentInfo['appl_race']); ?></td>
                                <td><?php echo $this->translate('Bumiputera Eligibility'); ?></td>
                                <td><?php echo Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->studentInfo['appl_bumiputera']); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Email ID'); ?></td>
                                <td><?php echo $this->studentInfo['appl_email']; ?></td>
                                <td><?php echo $this->translate('Personal Email ID'); ?></td>
                                <td><?php echo $this->studentInfo['appl_email_personal']; ?></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Permanent Mailing Address'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Address'); ?></td>
                                <td><?php echo $this->studentInfo['appl_address1']; ?></td>
                                <td><?php echo $this->translate('Postcode/Zip Code'); ?></td>
                                <td><?php echo $this->studentInfo['appl_postcode']; ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><?php echo $this->studentInfo['appl_address2']; ?></td>
                                <td><?php echo $this->translate('Country'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_country']==NULL || $this->studentInfo['appl_country']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_countries', 'CountryName', 'idCountry = '.$this->studentInfo['appl_country'])); ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><?php echo $this->studentInfo['appl_address3']; ?></td>
                                <td><?php echo $this->translate('State'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_state']==NULL || $this->studentInfo['appl_state']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_state', 'StateName', 'idState = '.$this->studentInfo['appl_state'])); ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><?php echo $this->translate('City'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_city']==NULL || $this->studentInfo['appl_city']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_city', 'CityName', 'idCity = '.$this->studentInfo['appl_city'])); ?></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Correspondence Mailing Address'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Address'); ?></td>
                                <td><?php echo $this->studentInfo['appl_caddress1']; ?></td>
                                <td><?php echo $this->translate('Postcode/Zip Code'); ?></td>
                                <td><?php echo $this->studentInfo['appl_cpostcode']; ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><?php echo $this->studentInfo['appl_caddress2']; ?></td>
                                <td><?php echo $this->translate('Country'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_ccountry']==NULL || $this->studentInfo['appl_ccountry']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_countries', 'CountryName', 'idCountry = '.$this->studentInfo['appl_ccountry'])); ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><?php echo $this->studentInfo['appl_caddress3']; ?></td>
                                <td><?php echo $this->translate('State'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_cstate']==NULL || $this->studentInfo['appl_cstate']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_state', 'StateName', 'idState = '.$this->studentInfo['appl_cstate'])); ?></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><?php echo $this->translate('City'); ?></td>
                                <td><?php echo (($this->studentInfo['appl_ccity']==NULL || $this->studentInfo['appl_ccity']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_city', 'CityName', 'idCity = '.$this->studentInfo['appl_ccity'])); ?></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Telephone Number'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Telephone Number (Home)(P)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_phone_home']; ?></td>
                                <td><?php echo $this->translate('Telephone Number (Home)(C)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_cphone_home']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Telephone Number (Mobile)(P)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_phone_mobile']; ?></td>
                                <td><?php echo $this->translate('Telephone Number (Mobile)(C)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_cphone_mobile']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Telephone Number (Office)(P)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_phone_office']; ?></td>
                                <td><?php echo $this->translate('Telephone Number (Office)(C)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_cphone_office']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Fax (P)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_fax']; ?></td>
                                <td><?php echo $this->translate('Fax (C)'); ?></td>
                                <td><?php echo $this->studentInfo['appl_cfax']; ?></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 3: //education details
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Qualification Level'); ?></td>
                                <td><?php echo (($this->educationDetailInfo['ae_qualification']==NULL || $this->educationDetailInfo['ae_qualification']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_qualificationmaster', 'QualificationLevel', 'IdQualification = '.$this->educationDetailInfo['ae_qualification'])); ?></td>
                                <td><?php echo $this->translate('Degree Awarded'); ?></td>
                                <td><?php echo $this->educationDetailInfo['ae_degree_awarded']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Class Degree'); ?></td>
                                <td><?php echo (($this->educationDetailInfo['ae_class_degree']==NULL || $this->educationDetailInfo['ae_class_degree']=='') ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->educationDetailInfo['ae_class_degree'])); ?></td>
                                <td><?php echo $this->translate('Result/CGPA'); ?></td>
                                <td><?php echo $this->educationDetailInfo['ae_result']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Year of Graduation'); ?></td>
                                <td><?php echo $this->educationDetailInfo['ae_year_graduate']; ?></td>
                                <td><?php echo $this->translate('Medium of Instruction'); ?></td>
                                <td><?php echo $this->educationDetailInfo['ae_medium_instruction']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Name of University/College'); ?></td>
                                <td><?php echo (($this->educationDetailInfo['ae_institution']==NULL || $this->educationDetailInfo['ae_institution']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_schoolmaster', 'SchoolName', 'idSchool = '.$this->educationDetailInfo['ae_institution'])); ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 4: //english proficiency
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Test'); ?></td>
                                <td><?php echo (($this->englishProficiencyInfo['ep_test']==NULL || $this->englishProficiencyInfo['ep_test']=='') ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->englishProficiencyInfo['ep_test'])); ?></td>
                                <td><?php echo $this->translate('Date Taken'); ?></td>
                                <td><?php echo ($this->englishProficiencyInfo['ep_date_taken']==NULL ? '':date('d-m-Y', strtotime($this->englishProficiencyInfo['ep_date_taken']))); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Score'); ?></td>
                                <td><?php echo $this->englishProficiencyInfo['ep_score']; ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 5: //quantitativ proficiency detail
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Level'); ?></td>
                                <td><?php echo $this->quantitativeProficiencyInfo['qp_level']; ?></td>
                                <td><?php echo $this->translate('Grade Marks'); ?></td>
                                <td><?php echo $this->quantitativeProficiencyInfo['qp_grade_mark']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Institution'); ?></td>
                                <td><?php echo $this->quantitativeProficiencyInfo['qp_institution']; ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 6: //research and publication
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Title'); ?></td>
                                <td><?php echo $this->researchAndPublicationInfo['rpd_title']; ?></td>
                                <td><?php echo $this->translate('Date'); ?></td>
                                <td><?php echo ($this->researchAndPublicationInfo['rpd_date']==NULL ? '':date('d-m-Y', strtotime($this->researchAndPublicationInfo['rpd_date']))); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Publisher'); ?></td>
                                <td><?php echo $this->researchAndPublicationInfo['rpd_publisher']; ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 7: //employment detail
                    ?>
                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th><b><?php echo $this->translate('Employment Status'); ?></b></th>	
                                <th><b><?php echo $this->translate('Company Name'); ?></b></th>
                                <th><b><?php echo $this->translate('Company Address'); ?></b></th>
                                <th><b><?php echo $this->translate('Company Phone'); ?></b></th>
                                <th><b><?php echo $this->translate('Company Fax'); ?></b></th>
                                <th><b><?php echo $this->translate('Designation'); ?></b></th>	
                                <th><b><?php echo $this->translate('Position Level'); ?></b></th>	
                                <th><b><?php echo $this->translate('Service Duration'); ?></b></th>	
                                <th><b><?php echo $this->translate('Industry'); ?></b></th>		
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->employmentDetailsInfo):
                            foreach ($this->employmentDetailsInfo as $employmentDetailsInfoLoop):
                            ?>
                            <tr>
                                <td><?php echo $employmentDetailsInfoLoop['employmentStatusName']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['ae_comp_name']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['ae_comp_address']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['ae_comp_phone']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['ae_comp_fax']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['ae_designation']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['employmentPositionName']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['emply_year_service']; ?></td>
                                <td><?php echo $employmentDetailsInfoLoop['employmentIndustryName']; ?></td>
                            </tr>
                            <?php
                            endforeach;
                            endif;
                            ?>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 8: //industry working experience
                    ?>
                    <script type="text/javascript">
                        function enableYOF(iwe_id){			
                            var element_iwe = '#iwe'+iwe_id;			
                            var element_yof = '.yof_'+iwe_id;

                            if($(element_iwe).is(':checked')){				
                                $(element_yof).removeAttr('disabled');
                            }else{
                                $(element_yof).attr('checked', false);
                                $(element_yof).attr('disabled','disabled');
                            }
                        }
                    </script>
                    <form method="post">
                    <table width="100%" border="0" class="table">
                    <tbody>
                        <tr>
                            <th colspan="<?php echo count($this->industryYearList)+2;?>"><?php echo $this->translate('Years of Industry'); ?></th>
                        </tr>
                        <?php
                        if (count($this->employmentIndustryList) > 0):
                        $studentProfileModel = new Records_Model_DbTable_Studentprofile();
                        foreach ($this->employmentIndustryList as $employmentIndustryLoop):
                            $industry = $studentProfileModel->getIndustryWorkingExperience($this->studentInfo['sp_id'], $employmentIndustryLoop['idDefinition']);

                            if(isset($industry) && $industry['aw_industry_id']!=''){
                                    $sel = 'checked';	
                                    $yof_disabled = 'disabled';						 
                            }else{
                                    $sel = '';
                                    $yof_disabled='disabled';
                            }
                        ?>
                        <tr>
                            <td style="width:5%;">
                                <input type="checkbox" disabled="" <?php echo $sel;?> value="<?php echo $employmentIndustryLoop['idDefinition']; ?>" id="iwe<?php echo $employmentIndustryLoop['idDefinition']; ?>" name="iwe[]">
                            </td>
                            <td><?php echo $employmentIndustryLoop['DefinitionDesc']; ?></td>
                            <?php 
                            if (count($this->industryYearList) > 0):
                            foreach ($this->industryYearList as $industryYearLoop):
                                $industry = $studentProfileModel->getIndustryWorkingExperience($this->studentInfo['sp_id'], $employmentIndustryLoop['idDefinition']);
                                if($industryYearLoop['idDefinition']==$industry['aw_years']){
                                    $sel_yof = 'checked';
                                }else{
                                    $sel_yof = '';
                                }
                            ?>
                            <td style="width:10%;"><input type="radio" <?php echo $sel_yof;?> <?php echo $yof_disabled;?> value="<?php echo $industryYearLoop['idDefinition']; ?>" class="yof_<?php echo $employmentIndustryLoop['idDefinition']; ?>" name="yof[<?php echo $employmentIndustryLoop['idDefinition']; ?>]"><?php echo $industryYearLoop['DefinitionDesc']; ?></td>
                            <?php 
                            endforeach;
                            endif;
                            ?>
                        </tr>
                        <?php
                        endforeach;
                        endif;
                        ?>
                    </tbody>
                    </table>
                    <?php
                    break;
                case 9: //health condition
                    ?>
                    <table width="100%" border="0" class="table">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate("Health Condition"); ?></td>
                                <td>
                                    <?php 
                                    if (count($this->healthConditionList)):
                                    $studentProfileModel = new Records_Model_DbTable_Studentprofile();
                                    foreach ($this->healthConditionList as $healthConditionLoop):
                                        $industry = $studentProfileModel->getHealthCondition($this->studentInfo['sp_id'], $healthConditionLoop['idDefinition']);
                                        if(isset($industry) && $industry['ah_status']!=''){
                                            $sel = 'checked';	
                                        }else{
                                            $sel = '';
                                        }
                                    ?>
                                    <input type="checkbox" disabled="" <?php echo $sel;?> value="<?php echo $healthConditionLoop['idDefinition']; ?>" id="iwe<?php echo $healthConditionLoop['idDefinition']; ?>" name="iwe[]">
                                        <?php echo ' '.$healthConditionLoop['DefinitionDesc']; ?><br/>
                                    <?php
                                    endforeach;
                                    endif;
                                    ?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 10: //financial particular
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td width="25%"><?php echo $this->translate('Funding Method'); ?></td>
                                <td width="25%"><?php echo (($this->financialParticularInfo['af_method']==NULL || $this->financialParticularInfo['af_method']=='') ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->financialParticularInfo['af_method'])); ?></td>
                                <td width="25%"><?php echo $this->translate('Name of Sponsor'); ?></td>
                                <td width="25%"><?php echo $this->financialParticularInfo['af_sponsor_name']; ?></td>
                            </tr>
                            <tr>
                                <td width="25%"><?php echo $this->translate('Select Scholarship'); ?></td>
                                <td width="25%"><?php echo (($this->financialParticularInfo['af_type_scholarship']==NULL || $this->financialParticularInfo['af_type_scholarship']=='') ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->financialParticularInfo['af_type_scholarship'])); ?></td>
                                <td width="25%"><?php echo $this->translate('Secured Scholarship'); ?></td>
                                <td width="25%"><?php echo $this->financialParticularInfo['af_scholarship_secured']; ?></td>
                            </tr>
                            <tr>
                                <td width="25%"><?php echo $this->translate('Applying for Scholarship'); ?></td>
                                <td width="25%"><?php //echo $this->financialParticularInfo; ?></td>
                                <td width="25%"></td>
                                <td width="25%"></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 11: //visa detail
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Do you hold a Malaysian Visa'); ?></td>
                                <td><?php echo ($this->visaDetailsInfo['av_malaysian_visa']==1 ? 'Yes':'No'); ?></td>
                                <td><?php echo $this->translate('Visa Expiry Date'); ?></td>
                                <td><?php echo ($this->visaDetailsInfo['av_expiry']==NULL ? '':date('d-m-Y', strtotime($this->visaDetailsInfo['av_expiry']))); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Visa Status'); ?></td>
                                <td><?php echo (($this->visaDetailsInfo['av_status']==NULL || $this->visaDetailsInfo['av_status']=='') ? '':Application_Model_DbTable_ChecklistVerification::fnGetDefination($this->visaDetailsInfo['av_status'])); ?></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 16: //referees
                    ?>
                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Referees 1'); ?></th>
                            <tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Name'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_name']; ?></td>
                                <td><?php echo $this->translate('Referee1 Position'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_position']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Address1'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_add1']; ?></td>
                                <td><?php echo $this->translate('Referee1 Country'); ?></td>
                                <td><?php echo (($this->refreesDatilsInfo['r_ref1_country']==NULL || $this->refreesDatilsInfo['r_ref1_country']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_countries', 'CountryName', 'idCountry = '.$this->refreesDatilsInfo['r_ref1_country'])); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Address2'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_add2']; ?></td>
                                <td><?php echo $this->translate('Referee1 State'); ?></td>
                                <td><?php echo (($this->refreesDatilsInfo['r_ref1_state']==NULL || $this->refreesDatilsInfo['r_ref1_state']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_state', 'StateName', 'idState = '.$this->refreesDatilsInfo['r_ref1_state'])); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Address3'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_add3']; ?></td>
                                <td><?php echo $this->translate('Referee1 City'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_city']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Postcode'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_postcode']; ?></td>
                                <td><?php echo $this->translate('Referee1 Phone'); ?></td>
                                <td><?php echo $this->refressDatilsInfo['r_ref1_phone'] ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee1 Fax'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref1_fax']; ?></td>
                                <td><?php echo $this->translate('Referee1 Email'); ?></td>
                                <td><?php echo $this->refressDatilsInfo['r_ref1_email'] ?></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="4"><?php echo $this->translate('Referees 2'); ?></th>
                            <tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Name'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_name']; ?></td>
                                <td><?php echo $this->translate('Referee2 Position'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_position']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Address1'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_add1']; ?></td>
                                <td><?php echo $this->translate('Referee2 Country'); ?></td>
                                <td><?php echo (($this->refreesDatilsInfo['r_ref2_country']==NULL || $this->refreesDatilsInfo['r_ref1_country']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_countries', 'CountryName', 'idCountry = '.$this->refreesDatilsInfo['r_ref1_country'])); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Address2'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_add2']; ?></td>
                                <td><?php echo $this->translate('Referee2 State'); ?></td>
                                <td><?php echo (($this->refreesDatilsInfo['r_ref2_state']==NULL || $this->refreesDatilsInfo['r_ref1_state']=='') ? '':Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_state', 'StateName', 'idState = '.$this->refreesDatilsInfo['r_ref1_state'])); ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Address3'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_add3']; ?></td>
                                <td><?php echo $this->translate('Referee2 City'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_city']; ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Postcode'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_postcode']; ?></td>
                                <td><?php echo $this->translate('Referee2 Phone'); ?></td>
                                <td><?php echo $this->refressDatilsInfo['r_ref2_phone'] ?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->translate('Referee2 Fax'); ?></td>
                                <td><?php echo $this->refreesDatilsInfo['r_ref2_fax']; ?></td>
                                <td><?php echo $this->translate('Referee2 Email'); ?></td>
                                <td><?php echo $this->refressDatilsInfo['r_ref2_email'] ?></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 18: //relationship information
                    ?>
                    <table class="table" width="100%">
                        <tbody>
                            <tr>
                                <td><?php echo $this->translate('Staff'); ?></td>
                                <td><?php echo $this->relationshipInformationInfo['FullName']; ?></td>
                                <td><?php echo $this->translate('Position'); ?></td>
                                <td><?php echo $this->relationshipInformationInfo['staff_position']; ?></td>
                            </tr>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 19: //emergency contact
                    ?>
                    <table width="100%" border="0" class="table">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Relationship Type'); ?></th>
                                <th><?php echo $this->translate('Name'); ?></th>
                                <th><?php echo $this->translate('Address'); ?></th>
                                <th><?php echo $this->translate('Phone'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php 
                            if ($this->emergencyContactInfo):
                            foreach ($this->emergencyContactInfo as $emergencyContactInfoLoop):
                            ?>
                            <tr>
                                <td><?php echo $emergencyContactInfoLoop['ecTypeName']; ?></td>
                                <td><?php echo $emergencyContactInfoLoop['ec_name']; ?></td>
                                <td>
                                    <?php 
                                    echo $emergencyContactInfoLoop['ec_add1'].',<br/>'.
                                    $emergencyContactInfoLoop['ec_add2'].',<br/>'.
                                    $emergencyContactInfoLoop['ec_postcode'].', '.
                                    $emergencyContactInfoLoop['CityName'].',<br/>'.
                                    $emergencyContactInfoLoop['StateName'].', '.
                                    $emergencyContactInfoLoop['CountryName'].'.';
                                    ?>
                                </td>
                                <td>
                                    <?php echo $this->translate("Mobile : ").$emergencyContactInfoLoop['ec_phone_mobile']; ?><br/>
                                    <?php echo $this->translate("Home : ").$emergencyContactInfoLoop['ec_phone_home']; ?><br/>
                                    <?php echo $this->translate("Office : ").$emergencyContactInfoLoop['ec_phone_office']; ?><br/>
                                </td>
                            </tr>
                            <?php 
                            endforeach;
                            endif;
                            ?>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 20: //curricular activities
                    ?>
                    <table width="100%" border="0" class="table">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="50%"><?php echo $this->translate("Description"); ?></th>
                                <th><?php echo $this->translate("Date"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->curricularActivitiesInfo):
                            $i=0;
                            foreach ($this->curricularActivitiesInfo as $curricularActivitiesInfoLoop):
                            $i++;
                            ?>
                            <tr>
                                <td><?php echo $i ?>.</td>
                                <td><?php echo $curricularActivitiesInfoLoop['ca_desc']; ?></td>
                                <td><?php echo $curricularActivitiesInfoLoop['ca_date'] = $curricularActivitiesInfoLoop['ca_date']==NULL ? '':date('d-m-Y', strtotime($curricularActivitiesInfoLoop['ca_date'])); ?></td>
                            </tr>
                            <?php
                            endforeach;
                            endif;
                            ?>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 21: //atttribute
                    ?>
                    <table width="100%" border="0" class="table">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Attribute Type"); ?></th>
                                <th><?php echo $this->translate("Attribute Category"); ?></th>
                                <th><?php echo $this->translate("Rating"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->attributeInfo):
                            foreach ($this->attributeInfo as $attributeInfoLoop):
                            ?>
                            <script type="text/javascript">
                                $(function(){
                                    $('#rate<?php echo $attributeInfoLoop['sa_id']; ?>').raty({
                                        path: '/js/raty/lib/images/',
                                        readOnly: true, 
                                        score: 5,
                                        number: function() {
                                            return $(this).attr('data-number');
                                        }
                                    });
                                });
                            </script>
                            <tr>
                                <td><?php echo $attributeInfoLoop['saTypeName']; ?></td>
                                <td><?php echo $attributeInfoLoop['saCategoryName']; ?></td>
                                <td><div id="rate<?php echo $attributeInfoLoop['sa_id']; ?>" data-number="<?php echo $attributeInfoLoop['sa_rating']; ?>"></div></td>
                            </tr>
                            <?php
                            endforeach;
                            endif;
                            ?>
                        </tbody>
                    </table>
                    <?php
                    break;
                case 22: //comment
                    ?>
                    <table width="100%" border="0" class="table">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Comment Type"); ?></th>
                                <th><?php echo $this->translate("Description"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->commentInfo):
                            foreach ($this->commentInfo as $commentInfoLoop):
                            ?>
                            <tr>
                                <td><?php echo $commentInfoLoop['scmTypeName']; ?></td>
                                <td><?php echo $commentInfoLoop['scm_desc']; ?></td>
                            </tr>
                            <?php
                            endforeach;
                            endif;
                            ?>
                        </tbody>
                    </table>
                    <?php
                    break;
                default:
                    echo '...';
                    break;
            }
        ?>
        <br/><br/>
        <?php
        $i++;
        endif;
        endforeach;
        endif;
        ?>
        <div class="form-opt">
            <!--<input type="hidden" value="<?php //echo $this->sectionId; ?>" name="sectionId">
            <input type="submit" class="btn-submit" value="Submit" id="save" name="save_student_attribute">-->			
            <input onclick="window.location.href='<?php echo $this->url(array("module"=>"records","controller"=>"studentprofile", "action"=>"print-student-summary", "id"=>$this->studentId),'default',true);?>'" class="btn-submit" type="button" id="print" name="print" value="<?php echo $this->translate('Print'); ?>" target="_blank" ><?php //echo $this->translate('Print'); ?><!--</button>-->		
        </div>
    </div><!-- end tab 1 -->
    
    <div id="tab-2"><!-- tab 2 start -->
        
    </div><!-- end tab 2 -->
    
    <div id="tab-3"><!-- tab 3 start -->
        
    </div><!-- end tab 3 -->
    
    <div id="tab-4"><!-- tab 4 start -->
        
    </div><!-- end tab 4 -->
    
    <div id="tab-5"><!-- tab 5 start -->
        
    </div><!-- end tab 5 -->
    
</div><!-- end tab -->