<head>
<script>
dojo.addOnLoad(function(){
	<?php if(!$this->larrresult){?>
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	<?php }?>
	});
</script>
</head>
<fieldset>
	<legend>
		<?php echo $this->translate("Subject  Search");?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/examination/subjectstaffverification/index/search/1"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate($this->Subject).' '.$this->translate("Name");?>
				</td>
				<td><?php echo $this->lobjform->field5;?></td>
				<td><?php echo $this->translate("Bahasa Indonesia");?></td>
				<td><?php echo $this->lobjform->field3;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjform->field7;?></td>
				<td></td>
				<td></td>
			</tr>
			<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
				<?php echo $this->lobjform->Clear;?>
			</td>
			</tr>
		</table>
	</form>
</fieldset>
<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">

		<tr>
			<th><?php echo $this->translate($this->Subject).' '.$this->translate("Name");?>
			</th>
			<th><?php echo $this->translate("Bahasa Indonesia");?></th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjprogram ): ?>
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><a
				href="<?php echo $this->url(array('module'=>'examination','controller'=>'subjectstaffverification', 'action'=>'subjectstaffverificationlist' , 'id'=>$lobjprogram['IdSubject'],'name'=>$lobjprogram['SubjectName']),'default',true);?>"><?php print_r($this->escape($lobjprogram['SubjectName']));?>
			</a></td>
			<td><?php echo $this->escape($lobjprogram['BahasaIndonesia']);?></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
</fieldset>
