<div class="message toolbar">
	<h2><?php echo $this->translate('Answer Listings'); ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'results', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>


<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td width="20%">Branch</td>
        
        <td ><?= $this->SectionData['branch_name'] ?></td>
    </tr>
    <tr>
        <td>Semester</td>
        
        <td><?= $this->SectionData['semester_name'] ?></td>
    </tr>
    <tr>
        <td>Programme</td>
        
        <td><?= $this->SectionData['program_name'] ?></td>
    </tr>
    <tr>
        <td>Programme Scheme</td>
        
        <td><?= $this->SectionData['mode_of_program_name'] ?>
        <br><?= $this->SectionData['mode_of_studies_name'] ?>
        <br><?= $this->SectionData['mode_of_program_type_name'] ?></td>
    </tr>
    
</table>
<br>
<?php foreach($this->section_pools as $section_pool) { ?>
<fieldset>
	<legend><?php echo $section_pool['question_pool_name']; ?></legend>

	<fieldset>
		<legend><?php echo $this->translate('Search'); ?></legend>
		<form method="post" id="search_form" name="search_form">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate('Lecturer'); ?></td>
					<td>
						<select class="select" id="lecturer" name="lecturer">
							<option value="">Please select</option>
							<?php
							if (isset($section_pool['lecturerSearch']) && count($section_pool['lecturerSearch']) > 0) {
								foreach ($section_pool['lecturerSearch'] as $lecLoop) {
									$select = '';

									if ($lecLoop['IdLecturer'] == $this->lec){
										$select = 'selected=""';
									}
									?>
									<option value="<?php echo $lecLoop['IdLecturer'] ?>" <?php echo $select; ?>><?php echo $lecLoop['FullName']; ?></option>
									<?php
								}
							}
							?>
						</select>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Subject'); ?></td>
					<td>
						<select class="select" id="subject" name="subject">
							<option value="">Please select</option>
							<?php
							if (isset($section_pool['subSearch']) && count($section_pool['subSearch']) > 0) {
								foreach ($section_pool['subSearch'] as $lecLoop) {
									$select = '';

									if ($lecLoop['IdSubject'] == $this->sub){
										$select = 'selected=""';
									}
									?>
									<option value="<?php echo $lecLoop['IdSubject'] ?>" <?php echo $select; ?>><?php echo $lecLoop['SubCode'].' - '.$lecLoop['SubjectName']; ?></option>
									<?php
								}
							}
							?>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" id="search" name="search"><?php echo $this->translate('Search'); ?></button>
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
	<br />
		<table class="table" width="100%">
			<tr>
			<th width="2%"></th>
			<?php if(!empty($section_pool['answers'][0]['SubCode'])) { ?>
				<th width="10%">
					<?php echo $this->translate('Course Code'); ?>
				</th>
				<th width="20%">
					<?php echo $this->translate('Course Name'); ?>
				</th>
				<th width="25%">
					<?php echo $this->translate('Lecturer'); ?>
				</th>
				<?php }?>
                <th width="10%">
                    <?php echo $this->translate('Answered By'); ?>
                </th>
                 <th width="">
                    <?php echo $this->translate('Student Name'); ?>
                </th>
				<th width="5%">
				</th>
			</tr>
		<?php
		$bil=1;
			foreach($section_pool['answers'] as $student_answer) { 
		?>
			<tr>
				<td><?php echo $bil;?>.</td>
				<?php if($student_answer['SubCode']){?>
				<td><?php echo $student_answer['SubCode']; ?></td>
				<td><?php echo $student_answer['SubjectName']; ?></td>
				<td><?php echo $student_answer['FullName']; ?></td>
				<?php } ?>
                <td><?php echo $student_answer['registrationId']; ?> </td>
                 <td><?php echo $student_answer['name']; ?> </td>
				<td align="center">
					<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'results','action'=>'view-answer','id'=> $section_pool['id'], 'student_id' =>  $student_answer['student_id'],'pool_id' => $section_pool['question_pool'], 'IdSubject' => $student_answer['IdSubject'], 'IdLecturer' => $student_answer['IdLecturer'],'idSet'=> $student_answer['idSet']));?>" >
						<?php echo $this->translate('View'); ?>
					</a>
				</td>
			</tr>
			
		<?php 
			$bil++;
			} ?>
		</table>
		
</fieldset>
<br>
<?php } ?>