<div class="message toolbar">
	<h2><?php echo $this->translate('View Results'); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br></br>


<table width="100%" border="0" cellpadding="5" class="table">
<tr>
	<th width="2%">&nbsp;</th>
	<th width="15%"><?php echo $this->translate('Semester'); ?></th>
	<th><?php echo $this->translate('Programme'); ?></th>
	<th width="15%"><?php echo $this->translate('Branch'); ?></th>
	<th width="15%"><?php echo $this->translate('Section Tagging'); ?></th>
	<th width="5%"><?php echo $this->translate('Start Date'); ?></th>
	<th width="5%"><?php echo $this->translate('End Date'); ?></th>
	<th ><?php echo $this->translate('Condition'); ?></th>
</tr>
<?php 
	$j=0;
	$h=1;
	
	foreach ($this->publish as $entry){	    
	?>
	<tr <?php echo $j%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $h; ?>.</td>
	    <td align="center">
	    	<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'results','action'=>'answer-listing','id'=>$entry['id']));?>"><?php echo $entry['semester_id'];?>
	    	</a>
	    </td>
		<td align="center"><?php echo $entry['program_id']; ?></td>
		<td align="center"><?php echo strtoupper($entry['branch_name']);?></td>
		<td>
		<?php 
			$comp_items = array();
			foreach ($entry['evaluation_components'] as $ci): 
				$comp_items[] = $ci['question_pool'];
			endforeach; 
			echo implode('<br />', $comp_items);
		?>
		</td>
		<td align="center"><?=(!isset($entry['startdate'])? '': date('d-m-Y', strtotime($entry['startdate'])))?></td>
        <td align="center"><?=(!isset($entry['enddate'])? '': date('d-m-Y', strtotime($entry['enddate'])))?></td>
		<td align="left">
		<?php
			$condition = explode(',',$entry['condition_name']);
			foreach($condition as $x) {
				echo "&nbsp;- $x<br/>";
			}
		?>
		</td>
   </tr>
    <? $h++; 
	$j++; } ?>
	</table>
	<table border="0">
</table>