<style type="text/css">
    .table-survey td:nth-child(2) {
        padding-left: 5px;
    }

    textarea {
        resize: none;
    }

    td.counter {
        width: 25px;
        text-align: right;
        padding-right: 2px;
        vertical-align: text-top;
    }
</style>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="#" onclick="history.go(-1)";>
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>

<?php $lobjquestion = new App_Model_Survey_DbTable_QuestionSurvey(); ?>

<form method="post" onsubmit="return validateForm();">
    <input type="hidden" name="IdSubject" value="<?php echo $this->IdSubject; ?>">
    <input type="hidden" name="IdLecturer" value="<?php echo $this->IdLecturer; ?>">
    <input type="hidden" name="main_set_id" value="<?php echo $this->main_set_id; ?>">
    <input type="hidden" name="pool_id" value="<?php echo $this->pool_id; ?>">

        
        <table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">

        <?php if(!empty($this->subject_info)) { ?>
            <tr>
                <td width='20%'><?php echo $this->translate('Course Code'); ?> </td>
                <td width='80%'><?php echo $this->data['SubCode']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Name'); ?> </td>
                <td><?php echo $this->data['SubjectName']; ?></td>
            </tr>
        <?php } ?>
        <?php if(!empty($this->lecturer_info)) { ?>
            <tr>
                <td><?php echo $this->translate('Lecturer Name'); ?> </td>
                <td><?php echo strtoupper($this->data['FullName']); ?></td>
            </tr>
        <?php } ?>
        <tr>
                <td><?php echo $this->translate('Answered By'); ?> </td>
                <td><?php echo $this->data['registrationId'];?> - <?php echo strtoupper($this->data['name']); ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Date Submitted'); ?> </td>
                <td><?php echo $this->data['created_at'];?></td>
            </tr>
            
        </table>
<br>

        <?php
         if(!empty($this->poolList['section_instructions'])) {
        ?>
        <div class="notice small">
                    <?php echo $this->poolList['section_instructions']; ?>
        </div>
        <?php } ?>
        
<br>
            <?php if (count($this->question) <= 0) { ?>
                <div style="text-align:center; padding:20px 0;"><?php echo $this->translate('No question available'); ?></div>
            <?php
            }

            $bil = 1;
            foreach ($this->question as $data) {
                if (isset($data['rubric'])) {
                    $colspan = count($data['rubric']) + 2;
                    foreach ($data['rubric'] as $rubric) {
                    ?>
                        <input type="hidden" name="rubricValue[]" id="rubricValue" value="<?php echo $rubric['ValueNumber']; ?>">
                    <?php
                    }
                } else {
                    $colspan = 2;
                }
                ?>
               <table class="table" width="100%" cellpadding="5" cellspacing="1">
                    <?php if(!empty($data['subsection_instruction'])) { ?>
                    <tr>
                        <th colspan="<?= $colspan ?>" class="left"><?php echo $data['subsection_instruction'] ?></th>
                    </tr>
                    <?php } ?>
                    <?php if (isset($data['rubric'])) { ?>
                        <tr>
                            <th colspan="2"></th>
                            <?php foreach ($data['rubric'] as $rub) { ?>
                                <th width="70px" class="center"><strong><?php  echo $rub['description'] ?></strong></th>
                            <?php } ?>
                        </tr>
                    <?php } ?>
                    <tr>
                        <?php
                        if (isset($data['rubric'])) {
                            echo '<th colspan="2"></th>';
                            foreach ($data['rubric'] as $rub) {
                                ?>
                                <th width="70px" class="center"><strong><?php echo $rub['ValueNumber'] ?></strong></th>
                            <?php
                            }
                        }
                        ?>
                    </tr>
                    <?php
                    $i = 1;
                    if(!empty($data['question'])) {
                    foreach ($data['question'] as $ques) {

                        $val_name = "val[" . $data['chapterid'] . '][' . $ques['idQues'] . ']';
                        $qs_name = "qs[" . $data['chapterid'] . '][' . $i . ']';
                        ?>
                        <tr>
                            <td width="10px"><?php echo $ques['order']; ?>.</td>
                            <td><?php echo $ques['question']; ?>
                                <input type="hidden" name="<?php echo $qs_name ?>" id="<?php echo $qs_name ?>"
                                       value="<?php echo $ques['idQues']; ?>">
                                <?php
                                if ($data['question_type'] == 4) { //4=Radio button with value

                                    $radiooptions = $lobjquestion->getRadioOption($ques['main_set_id'], $ques['section_id'], $ques['id_questiontagging']);
                                    foreach ($radiooptions as $radio) {
                                        ?>
                                        <br>
                                        <input type="radio" name="<?php echo $val_name; ?>" id="<?php echo $val_name; ?>"
                                               value="<?php echo $radio['id']; ?>"/>
                                        <?php echo $radio['answer']; ?>
                                    <?php
                                    }
                                    $bil++;
                                } else if ($data['question_type'] == 2) { //2=Essay
                                    ?>
                                    <br>
                                    <textarea name="<?php echo $val_name; ?>" id="<?php echo $val_name; ?>"
                                              rows="5" style="width:100%;"><?php echo $ques['answer_text'];?></textarea>
                                <?php
                                }
                                ?>
                            </td>
                            <?php
                            if (isset($data['rubric'])) { //Likert Scale
                                foreach ($data['rubric'] as $rub) {
                                	$checked = "";
                                	if($ques['answer'] == $rub['ValueNumber']){
                                		$checked = "checked ='checked'";
                                	}
                                    ?>
                                    <td align="center">
                                        <input type="radio" name="<?php echo $val_name; ?>" id="<?php echo $val_name; ?>" value="<?php echo $rub['ValueNumber']; ?>" <?php echo $checked;?>/>
                                    </td>
                            <?php
                                }
                                $bil++;
                            }
                            ?>
                        </tr>
                    <?php
                        $i++;
                        }
                        }
                    ?>
                </table>
                <br>
            <?php } ?>
      
<input type="hidden" name="bilQues" id="bilQues" value="<?php echo $bil;?>">
</form>

<script>
function validateForm()
{
	//send data
	var radioChecked =  $('input:radio:checked').length;
	var bil = $("#bilQues").val();
	var totalQuestion = bil -1;

	if(radioChecked != totalQuestion){
		alert('Please complete all question');
	}else{
		if(confirm("<?php echo $this->translate("Are you sure to submit this evaluation?"); ?> ")){
			return true;
		}
	}	
	return false;
}
</script>
