<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<form method="post">
    <ul class="list" style="margin-left: 10px !important;">
        <?php foreach ( $this->majors as $maj ) { ?>
            <li>
                <label><input type="radio" class="majoring-chk" name="IDProgramMajoring" value="<?php echo $maj['IDProgramMajoring']?>" <?php echo $maj['IDProgramMajoring'] == $this->studentdetails['IdProgramMajoring'] ? 'checked=""':'' ?>> <strong><?php echo $maj['EnglishDescription']?></strong></label>
            </li>
        <?php } ?>
        <!--<li>
            <label><input type="radio" class="majoring-chk" name="IDProgramMajoring" value="999"> <strong>General</strong></label>
        </li>-->
    </ul>
    <br>
    <p><input type="submit" class="btn-submit" value="Confirm & Submit" name="submit">
</form>