<style>
.redText{
	font-color:red;
}</style>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="return add();">
					<span class='add'></span>
					<?php echo $this->translate('Create Groups')?>
				</a>
			</li>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div class="chev-step">
	<ul>
		<li class="current">1. <?php echo $this->translate('Recipients')?></li>
		<li>2. <?php echo $this->translate('Review')?></li>
		<li>3. <?php echo $this->translate('Compose')?></li>
		<li>4. <?php echo $this->translate('Send')?></li>
	</ul>
</div>

<fieldset>
<h3><?php echo $this->translate('Select Recipients By')?></h3>
	<input class="radio" <?php if ( $this->type=='groups' ) { echo 'checked="checked"'; } ?> type="radio" onclick="changetype('groups')" value="groups" name="type" id="type_groups"/> <label for="type_groups"><?php echo $this->translate('Groups')?></label>
	
	<?php if ( $this->rectype['applicant'] ) { ?>
	<input class="radio" <?php if ( $this->type=='applicants' ) { echo 'checked="checked"'; } ?> type="radio" onclick="changetype('applicants')" value="applicants" name="type" id="type_applicants"/> <label for="type_applicants"><?php echo $this->translate('Applicants')?></label>
	<?php } ?>

	<?php if ( $this->rectype['student'] ) { ?>
	<input class="radio" <?php if ( $this->type=='students' ) { echo 'checked="checked"'; } ?> type="radio" onclick="changetype('students')" value="students" name="type" id="type_students"/> <label for="type_students"><?php echo $this->translate('Students')?></label>
	<?php } ?>
	
	<!--<input class="radio" <?php //if ( $this->type=='attendance_reminder' ) { echo 'checked="checked"'; } ?> type="radio" onclick="changetype('attendance_reminder')" value="attendance_reminder" name="type" id="attendance_reminder"/> <label for="attendance_reminder"><?php //echo $this->translate('Attendance Reminder')?></label>-->
</fieldset>

<br />

<?php if ( $this->type == 'students' ) { ?>

<div id="search_form">
	<?php echo  $this->search_form;?>
</div>

<h3><?php echo $this->translate('Recipients')?> <span class="label"><?php echo number_format($this->totalfound) ?></span></h3>
<form method="post" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-review'), 'default', true);?>" onsubmit="return checkform()">
<input type="hidden" value="students" name="rectype" id="rectype" />

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><input type="checkbox" name="checkall" id="select-all" value=""></th>		
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
	</tr>
	
	<?php foreach ($this->app_paginator as $entry): ?>
	<?php
	$appname = str_replace('  ',' ',$entry['appl_fname']." ".$entry['appl_mname']." ".$entry['appl_lname']);
	?>
	<tr>
		<td class="center">
			<input type="checkbox" class="chk" name="txn_id[<?php echo $entry['IdStudentRegistration']; ?>]" value="<?php echo $this->escape($appname) ?>" />
		</td>		
		<td><?php echo $appname; ?></td>
		<td><?php echo $entry['registrationId']; ?></td>
	</tr>
	<?php
	endforeach;
	?>
</table>
<?php 
	echo $this->paginationControl($this->app_paginator,'Sliding','paginationBottom.phtml');
?>
<div class="form-opt">
	<input type="submit" name="byapp" value="<?php echo $this->translate('Continue')?>" class="btn-submit"/>
</div>
</form>
<?php } ?>

<?php if ( $this->type == 'applicants' ) { ?>

<div id="search_form">
	<?php echo  $this->search_form;?>
</div>

<h3><?php echo $this->translate('Recipients')?> <span class="label"><?php echo number_format($this->totalfound) ?></span></h3>
<form method="post" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-review'), 'default', true);?>" onsubmit="return checkform()">
<input type="hidden" value="applicants" name="rectype" id="rectype" />

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><input type="checkbox" name="checkall" id="select-all" value=""></th>		
		<th><?php echo $this->translate("applicant_name");?></th>
		<th><?php echo $this->translate("applicantID");?></th>
	</tr>
	
	<?php foreach ($this->app_paginator as $entry): ?>
	<?php
	$appname = str_replace('  ',' ',$entry['appl_fname']." ".$entry['appl_mname']." ".$entry['appl_lname']);
	?>
	<tr>
		<td class="center">
			<input type="checkbox" class="chk" name="txn_id[<?php echo $entry['at_trans_id']; ?>]" value="<?php echo $this->escape($appname) ?>" />
		</td>		
		<td><?php echo $appname; ?></td>
		<td><?php echo $entry['at_pes_id']; ?></td>
	</tr>
	<?php
	endforeach;
	?>
</table>
<?php 
	echo $this->paginationControl($this->app_paginator,'Sliding','paginationBottom.phtml');
?>
<div class="form-opt">
	<input type="submit" name="byapp" value="<?php echo $this->translate('Continue')?>" class="btn-submit"/>
</div>
</form>
<?php } ?>


<?php if ( $this->type == 'groups' ) { ?>
<h3><?php echo $this->translate('Recipients by Groups')?></h3>
<form method="post" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-review'), 'default', true);?>" onsubmit="return checkformGroups()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"><input type="checkbox" name="checkall" id="select-all" value="" /></th>
		<th width="25%"><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Recipient Type")?></th>
		<th width="10%"><?php echo $this->translate("Recipients");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->groups_paginator) > 0 ):
	foreach ($this->groups_paginator as $data): 
	?>
	<tr>
		<td>
			<input type="checkbox" class="chk <?php echo $data['group_rectype'] == 0 ? 'group_app':'group_stud'?>" name="group_id[<?php echo $data['group_id']; ?>]" value="<?php echo $data['group_id']; ?>" />
		</td>
		<td><?php echo $data['group_name']; ?></td>
		<td><?php echo $data['group_description']; ?></td>
		<td align='center'><?php echo $data['group_rectype'] == 0 ? $this->translate('Applicants') : $this->translate('Students')?></td>
		<td align='center'><?php echo $data['total_recipients']; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No groups yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->groups_paginator,'Sliding','paginationBottom.phtml');
?>
<div class="form-opt">
	<input type="submit" name="bygroup" value="<?php echo $this->translate('Continue')?>" class="btn-submit"/>
</div>
</form>
<?php } ?>




<?php if ( $this->type == 'attendance_reminder' ) { ?>

<div id="search_form">
	<?php echo  $this->search_form;?>
</div>
<?php if ( count($this->app_paginator) > 0 ){ ?>
<form method="post" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-review'), 'default', true);?>" onsubmit="">
<input type="hidden" value="students" name="rectype" id="rectype" />
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"><input type="checkbox" name="checkall" id="select-all" value="" /></th>
		<th width="25%"><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>		
		<th><?php echo $this->translate("Section Name");?></th>
		<th><?php echo $this->translate("Item");?></th>
		<th><?php echo $this->translate("Attendance");?></th>
		<th><?php echo $this->translate("Attendance Percentage");?></th>
		<th><?php echo $this->translate("Required Attendance");?></th>
	</tr>
	
	<?php 
		$i=0;	
		foreach ($this->app_paginator as $student){
	?>
	<tr>
		<td><input type="checkbox" class="chk" name="id[<?php echo $student['IdStudentRegistration']; ?>]" value="<?php echo $this->escape($student['IdStudentRegistration']) ?>" /></td>
		<td><?php echo $student['student_name'];?></td>
		<td align='center'><?php echo $student['registrationId'];?></td>		
		<td><?php echo $student['section_name'];?></td>
		<td><?php echo $student['item_name']; ?></td>
		<td align='center'><?php echo $student['attendance']; ?></td>
		<td align='center'><?php echo $student['percentage']; ?>%</td>
		<td align='center'><?php echo ($student['attendance_setup']==1) ? $student['required_percentage'].'%':'<span class="redText">No Attendance Setup</span>';?></td>
	</tr>
	<?php 
	$i++;
		}	
	?>
</table>

<div class="form-opt">
	<input type="submit" name="attendance_reminder" value="<?php echo $this->translate('Continue')?>" class="btn-submit"/>
</div>
</form>
<?php } ?>

<?php } //end attendance_reminder ?>

<style type="text/css">
fieldset h2 { margin:0 0 10px 0 }
</style>

<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose'), 'default', true);?>";

	return false;
}

function add(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups-add'), 'default', true);?>";

	return false;
}

function changetype(type)
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose'), 'default', true);?>/type/"+type;
}

function checkform()
{
	var group = $(".chk:checked").length;
	if ( group == 0 )
	{
		alert('<?php echo $this->translate('No applicant/student selected')?>');
		return false;
	}

	return true;
}

function checkformGroups()
{
	var group = $(".chk:checked").length;
	var flag = true;

	if ( group == 0 )
	{
		alert('<?php echo $this->translate('No group selected')?>');
		flag = false;
	}

	var type = '';

	$(".chk:checked").each(function()
	{
		if ( type == '' )
		{
			type = $(this).hasClass('group_app') ? 1 : 0;
		}
		
		var curtype = $(this).hasClass('group_app') ? 1 : 0;

		if ( type != curtype )
		{
			alert('<?php echo $this->translate('You cannot mix different types of recipient groups')?>');
			flag = false;
		}
	});

	return flag;
}

$(document).ready(function() {
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});        

    //getCourse();
});

function getPeriod(element){
	var intake_id = $(element).val();

	if(intake_id==""){
		intake_id = -1;
	}
	
	$.ajax({
		url: "/application/selection-highschool/ajax-get-period",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period_id').empty().append('<option value=""> Please Select </option>');
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}

function get_programscheme(){
        
    var program_id = document.getElementById('program').value;

    var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
    var data_dropdown = {};

    $.ajax({
        type: "POST",
        url: url,
        data: data_dropdown,
        dataType: 'json',
        beforeSend: function() {
            showLoading('programscheme');
        },
        complete: function() {
            hideLoading('programscheme');
        }
    })
    .done(function(data) {
        var content = '<option label="-- All --" value="">-- All --</option>';
        $.each(data,function(index){                    
            content += '<option label="'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mos_name+' '+data[index].mop_name+' '+data[index].programType+'</option>';
        });
        $('#programscheme').html(content);
    })
    .fail(function() {
        alert("error load program scheme"); 
    });
}

function showLoading(target,target_div){
    $('#'+target).hide();
    $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
    $('#loading').remove();
    $('#'+target).show();
}

function getCourse(){

	var semester_id = $('#IdSemester').val();
	var program_id = $('#IdProgram').val();
	
	if(semester_id!=='' && program_id!=''){

		var url = "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'search-program-course'),"default",true);?>/semester_id/"+semester_id+'/program_id/'+program_id;
		var data_dropdown = {};
		
		$.ajax({
			//url: "/default/ajax-utility/search-program-course",
			url: url,
		    type: "post",
		    //async : false,
		    //data: {'semester_id':semester_id,'program_id':program_id},
		    data: data_dropdown,
		    dataType: 'json',
		    success: function(data){
			    
		    	$('#IdSubject').empty();
				$('#IdSubject').append('<option value="">-- Please Select --</option>');
			    	
			    	$.each(data, function(index) {				    		    	
			    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');
			    	});

			    	
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdSubject');
		      
			},
			complete: function() {
				hideLoading('IdSubject');
			}  
		});
	}
}

</script>