<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups'), 'default', true);?>";

	return false;
}

function checkform()
{
	return true;
}

$(function() {
    document.getElementById("groupStatus-label").style.display = "none";
    document.getElementById("groupStatus-element").style.display = "none";
});

function showGroupStatus(group_type){
    
    var item_id = document.getElementById('groupType').value;
    
    if (item_id == '1'){
        document.getElementById("groupStatus-label").style.display = "block";
        document.getElementById("groupStatus-element").style.display = "block";
        document.getElementById("groupStatus").required = true;
    }else{
        document.getElementById("groupStatus-label").style.display = "none";
        document.getElementById("groupStatus-element").style.display = "none";
        document.getElementById("groupStatus").required = false;
    }
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<?php echo $this->form ?>
