<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Student Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Certificate No.'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
    </tr>
    <?php
    $no = 0;
    foreach ($this->list as $loop) {
        $no++;
        ?>
        <tr>
            <td align="center"><?php echo $no; ?></td>
            <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
            <td align="center"><?php echo $loop['registrationId']; ?></td>
            <td><?php echo $loop['ProgramName']; ?></td>
            <td align="center"><?php echo (($loop['cert_ref_no'] == null || $loop['cert_ref_no'] == '') ? 'To be generate':$loop['cert_ref_no']); ?></td>
            <td align="center">
                <?php echo $loop['statusname']; ?>
            </td>
        </tr>
        <?php
    }
    ?>
</table>