<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>
<script type="text/javascript">
    $(function(){
        $('.check-all').on('click', function(){
            $('.check').prop('checked', this.checked);
            if ( this.checked == true ){
                $('.check').parent().parent().addClass('hlchk');
            }else{
                $('.check').parent().parent().removeClass('hlchk');
            }
        });

        $('.check').on('change', function(){
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if ( this.checked == true ){
                if ($('.check').not(':checked').length == 0){
                    $('.check-all').prop('checked', true);
                }else{
                    $('.check-all').prop('checked', false);
                }
            }
            else{
                $('.check-all').prop('checked', false);
            }
        });

        $('#save').on('click', function (){
            if ($('.check').is(':checked') == false){
                alert('Please select at least one student');
                return false;
            }else{
                var ask = confirm('Are you sure?');

                if (ask == true){
                    return true;
                }else{
                    return false;
                }
            }
        });
    });

    function downloadList(){
        var url = "<?php echo $this->url(array('module' => 'graduation', 'controller' => 'certificate', 'action' => 'download-list'), 'default', true); ?>";
        $('#searchForm').attr('action',url);
        $('#searchForm').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'running-number'),'default',true);?>" >
                    <span class='generate'></span>
                    <?php echo $this->translate("Certificate Number Setup");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template'),'default',true);?>" >
                <span class='preview'></span>
                <?php echo $this->translate("Certificate Template Setup");?>
                </a>
            </li>
            <?php
            if ($this->list) {
                ?>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="downloadList();">
                        <span class='download'></span>
                        <?php echo $this->translate("Download"); ?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Convo Session'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->convosession; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<?php
if ($this->list) {
    ?>
    <div class="message notice"><span class="icon-info-circled"></span> Please tick at checkbox before print certificate</div>
    <form method="post" id="print_form" name="print_form" action="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'print'),'default',true);?>">
        <table class="table" width="100%">
            <tr>
                <th><?php echo $this->translate('No.'); ?></th>
                <th><?php echo $this->translate('Student Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Programme'); ?></th>
                <th><?php echo $this->translate('Certificate No.'); ?></th>
                <th><?php echo $this->translate('Status'); ?></th>
                <th><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
            </tr>
            <?php
            $no = 0;
            foreach ($this->list as $loop) {
                $no++;
                ?>
                <tr>
                    <td align="center"><?php echo $no; ?></td>
                    <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                    <td align="center"><?php echo $loop['registrationId']; ?></td>
                    <td><?php echo $loop['ProgramName']; ?></td>
                    <td align="center"><?php echo (($loop['cert_ref_no'] == null || $loop['cert_ref_no'] == '') ? 'To be generate':$loop['cert_ref_no']); ?></td>
                    <td align="center">
                        <?php echo $loop['statusname']; ?>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="check[<?php echo $loop['studentid']; ?>]" id="check_<?php echo $loop['studentid']; ?>" class="check">
                    </td>
                </tr>
                <?php
            }
            ?>
        </table>
        <div class="form-opt">
            <select name="template" id="template" class="select" required>
                <option value="">-- Select --</option>
                <?php
                if ($this->template){
                    foreach ($this->template as $template){
                        ?>
                        <option value="<?php echo $template['crt_id']; ?>"><?php echo $template['crt_name']; ?></option>
                        <?php
                    }
                }
                ?>
            </select>
            <button type="submit" id="save" name="save" value="save"><?php echo $this->translate('Print Certificate'); ?></button>
        </div>
    </form>
    <?php
}
?>