<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<form id="seqForm" name="seqForm" method="post">
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Program Name'); ?></th>
            <th><?php echo $this->translate('Code'); ?></th>
            <th><?php echo $this->translate('Sequence Number'); ?></th>
        </tr>
        <?php
        if ($this->programList){
            foreach ($this->programList as $program) {
                ?>
                <tr>
                    <td><?php echo $program['ProgramName']; ?></td>
                    <td align="center"><input type="text" value="<?php echo $program['csn_code']; ?>" id="csn_code" name="csn_code[<?php echo $program['IdProgram']; ?>]"></td>
                    <td align="center"><input type="number" value="<?php echo $program['csn_seq_no']; ?>" id="csn_seq_no" name="csn_seq_no[<?php echo $program['IdProgram']; ?>]"></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <div class="form-opt">
        <button type="submit" id="save" name="save" value="save"><?php echo $this->translate('Save'); ?></button>
    </div>
</form>