<script type="text/javascript">
    function deletemessage(){
        var ask = confirm("Are sure to delete this template");

        if (ask == false){
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template-add', 'id'=>$this->programid),'default',true);?>" >
                    <span class='add'></span>
                    <?php echo $this->translate("Add Template");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template'),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('Template Name'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->template){
        foreach ($this->template as $template){
            ?>
            <tr>
                <td><?php echo $template['crt_name']; ?></td>
                <td align="center" class="options">
                    <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template-setup', 'id'=>$template['crt_id']),'default',true);?>"><?php echo $this->translate('Edit'); ?></a>
                    |
                    <a onclick="return deletemessage();" href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template-delete', 'id'=>$template['crt_id'], 'programid'=>$template['crt_program_id']),'default',true);?>"><?php echo $this->translate('Delete'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>