<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('Program Name'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->programList){
        foreach ($this->programList as $program) {
            ?>
            <tr>
                <td><?php echo $program['ProgramName']; ?></td>
                <td align="center"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'certificate', 'action'=>'template-program', 'id'=>$program['IdProgram']),'default',true);?>"><?php echo $this->translate('Template Setup'); ?></a></td>
            </tr>
            <?php
        }
    }
    ?>
</table>