<script type="text/javascript">
$(function() {
	 $( "#tabs" ).tabs();
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="window.location = ''">
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
		<legend><?php echo $this->translate('Information'); ?></legend>
		
		<table>
			<tr>
				<td>Date Upload</td>
				<td>:</td>
				<td><?php echo date('d-m-Y h:ia', strtotime($this->data['upload_date']) ); ?></td>
			</tr>
			<tr>
				<td>Upload By</td>
				<td>:</td>
				<td>
					<?php echo $this->data['fName']!=null?$this->data['fName']:""; ?>
					<?php echo $this->data['mName']!=null?$this->data['mName']:""; ?>
					<?php echo $this->data['lName']!=null?$this->data['lName']:""; ?>
				</td>
			</tr>
			<tr>
				<td>File Created Date</td>
				<td>:</td>
				<td><?php echo date('d-m-Y h:ia', strtotime($this->data['file_created_date']) ); ?></td>
			</tr>
			<tr>
				<td>Period</td>
				<td>:</td>
				<td>
					<?php echo date('d-m-Y', strtotime($this->data['period_start']) ); ?>
					-
					<?php echo date('d-m-Y', strtotime($this->data['period_end']) ); ?>
				</td>
			</tr>
			<tr>
				<td>Total Record</td>
				<td>:</td>
				<td><?php echo $this->data['total_record']; ?></td>
			</tr>
			<tr>
				<td>Total Amount</td>
				<td>:</td>
				<td><?php echo number_format($this->data['total_amount'], 2, '.', ','); ?></td>
			</tr>
		</table>
	</fieldset>

<div id="tabs">
	<ul>
    	<li><a href="#tabs-1">Payment Record</a></li>
    	<li><a href="#tabs-2">Suspend Record</a></li>
  	</ul>
  	<div id="tabs-1">
    	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th>&nbsp;</th>
				<th><?php echo $this->translate("Billing No")?></th>
				<th><?php echo $this->translate("Payer ID")?></th>
				<th><?php echo $this->translate("Payer Name")?></th>
				<th><?php echo $this->translate("Payment Description")?></th>
				<th><?php echo $this->translate("Total Amount")?></th>
				<th><?php echo $this->translate("Paid Date")?></th>
				<th><?php echo $this->translate("Bank Journal Number")?></th>
			</tr>
			
			<?php 
			$i=0;
			if($this->payment_arr){
			foreach ($this->payment_arr as $entry):
				
			?>
			<tr <?php echo $i%2==0?"class='shade'":""; ?>>
				<td align="center"><?php echo $i+1;?></td>
				<td><?php echo $entry['billing_no']; ?></td>
				<td><?php echo $entry['payee_id']; ?></td>
				<td>
					<?php echo $entry['appl_fname']!=null?$entry['appl_fname']:""; ?>
					<?php echo $entry['appl_mname']!=null?$entry['appl_mname']:""; ?>
					<?php echo $entry['appl_lname']!=null?$entry['appl_lname']:""; ?>
				</td>
				<td><?php echo $entry['bill_ref_1']."-".$entry['bill_ref_2']."-".$entry['bill_ref_3']."-".$entry['bill_ref_4']."-".$entry['bill_ref_5']; ?></td>
				<td><?php echo number_format($entry['amount_total'], 2, '.', ','); ?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['paid_date']) ); ?></td>
				<td align="center"><?php echo $entry['bancs_journal_number']; ?></td>
			</tr>
			<?php 
			$i++;
			endforeach;
			} 
			?>
		
		</table>
  	</div>
  	
  	<!-- Excess PAYMENT -->
  	<div id="tabs-2">
    	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th>&nbsp;</th>
				<th><?php echo $this->translate("Billing No")?></th>
				<th><?php echo $this->translate("Payer ID")?></th>
				<th><?php echo $this->translate("Payer Name")?></th>
				<th><?php echo $this->translate("Payment Description")?></th>
				<th><?php echo $this->translate("Total Amount")?></th>
				<th><?php echo $this->translate("Paid Date")?></th>
				<th><?php echo $this->translate("Bank Journal Number")?></th>
			</tr>
			
			<?php 
			$i=0;
			if($this->suspend_arr){
			foreach ($this->suspend_arr as $entry):
				
			?>
			<tr <?php echo $i%2==0?"class='shade'":""; ?>>
				<td align="center"><?php echo $i+1;?></td>
				<td><?php echo $entry['billing_no']; ?></td>
				<td><?php echo $entry['payee_id']; ?></td>
				<td>
					<?php echo $entry['appl_fname']!=null?$entry['appl_fname']:""; ?>
					<?php echo $entry['appl_mname']!=null?$entry['appl_mname']:""; ?>
					<?php echo $entry['appl_lname']!=null?$entry['appl_lname']:""; ?>
				</td>
				<td><?php echo $entry['bill_ref_1']."-".$entry['bill_ref_2']."-".$entry['bill_ref_3']."-".$entry['bill_ref_4']."-".$entry['bill_ref_5']; ?></td>
				<td><?php echo number_format($entry['amount_total'], 2, '.', ','); ?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['paid_date']) ); ?></td>
				<td align="center"><?php echo $entry['bancs_journal_number']; ?></td>
			</tr>
			<?php 
			$i++;
			endforeach;
			} 
			?>
		
		</table>
  	</div>
</div>