<?php 
$this->headScript()->prependFile('/js/jquery/plugin/blockui/jquery.blockui.js');
$paymentBankDetailDb = new Studentfinance_Model_DbTable_PaymentBankDetail(); 
?>

<style>
.a_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.a_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.a_btn:active {
	position:relative;
	top:1px;
}

.table a.a_btn{
	text-decoration: none;
}
</style>

<script type="text/javascript">
$(function() {
    $( "#dialog-upload" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                //$( this ).dialog( "close" );
                block_screen();
                $('#upload').submit();

            	/*var data = new FormData($('input[name^="file"]'));     
            	jQuery.each($('input[name^="file"]')[0].files, function(i, file) {
            	    data.append(i, file);
            	});

            	console.log(data);*/
            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
});

function showUpload(){
	$( "#dialog-upload" ).dialog('open');
}
  
function searchbox(){
	$('#div_search').show();
}

function block_screen(){
	$.blockUI({ message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> Processing...</div></div>' });
}
</script>

<?php if( isset($this->save_status) && $this->save_status==false ){?>
<script>
alert("Saving File Error");
</script>
<?php }?>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="search" href="#" onclick="showUpload()">
					<span class='upload'></span>
					<?php echo $this->translate("Upload Bank Report"); ?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div id="div_search" style="display:none;">
	<fieldset>
		<legend>Search</legend>
		<?php echo $this->searchForm; ?>
	</fieldset>
</div>



<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Upload Date")?></th>
		<th><?php echo $this->translate("File Created Date")?></th>
		<th><?php echo $this->translate("Period")?></th>
		<th><?php echo $this->translate("Total Record in File")?></th>
		<th><?php echo $this->translate("Total Amount in File")?></th>
		<th><?php echo $this->translate("Total Payment Record")?></th>
		<th><?php echo $this->translate("Total Payment Amount")?></th>
		<th><?php echo $this->translate("Total Suspend Record")?></th>
		<th><?php echo $this->translate("Total Suspend Amount")?></th>
		<th><?php echo $this->translate("Payment Processing")?></th>
	</tr>
	
	<?php 
	$i=0;
	if($this->paginator){
	
	$paymentMainDb = new Studentfinance_Model_DbTable_PaymentMain();
	$suspendMainDb = new Studentfinance_Model_DbTable_SuspendMain();
	
	foreach ($this->paginator as $entry):
		$payment_arr = $paymentMainDb->getBankTransactionRecord($entry['id']);
		$total_payment = 0;
		
		for($p_cnt=0; $p_cnt<sizeof($payment_arr); $p_cnt++){
			 $payment = $payment_arr[$p_cnt];
			$total_payment = $total_payment + $payment['amount_total'];
		}
		
		$suspend_arr = $suspendMainDb->getBankTransactionRecord($entry['id']);
		$total_suspend = 0;
		for($s_cnt=0; $s_cnt<sizeof($suspend_arr); $s_cnt++){
			$suspend = $suspend_arr[$s_cnt];
			
			$total_suspend = $total_suspend + $suspend['amount'];
			//echo "</br />";
		}
		
		/*echo "<pre>";
		print_r($suspend_arr);
		echo "</pre>";*/
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>			
			<?php echo date('d-m-Y h:ia', strtotime($entry['upload_date']) ); ?>
		</td>
		<td><?php echo date('d-m-Y h:ia', strtotime($entry['file_created_date']) ); ?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($entry['period_start'])); ?> - <?php echo date('d-m-Y', strtotime($entry['period_end'])); ?></td>
		
		<td align="center"><?php echo $entry['total_record']; ?></td>
		<td><?php echo number_format($entry['total_amount'], 2, '.', ','); ?></td>
		
		<td align="center">
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-bank', 'action'=>'detail-payment', 'id'=>$entry['id']),'default',true);?>">
				<?php echo count($payment_arr); ?>
			</a>
		</td>
		<td><?php echo number_format($total_payment, 2, '.', ','); ?></td>
		<td align="center">
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-bank', 'action'=>'detail-suspend', 'id'=>$entry['id']),'default',true);?>">
				<?php echo count($suspend_arr); ?>
			</a>
		</td>
		<td><?php echo number_format($total_suspend, 2, '.', ','); ?></td>
		<td align="center">
			<?php 
				if( count($payment_arr) != 0 && (strtotime($entry['upload_date']) >= strtotime('18-06-2013') ) ){ 

                    //check if there is unprocess data
                    $where = array(
                      'pbr_id=?'=>$entry['id'],
                      'account_record_type=?'=>'PAYMENT',
                      'finance_processing=?'=>0,
                    );

                    $unprocess = $paymentBankDetailDb->fetchAll($where);
                    if($unprocess){
                      $unprocess = $unprocess->toArray();
                    }
                    
                    if($unprocess && sizeof($unprocess>0) ){
					  echo "<a class='a_btn' href='".$this->url(array('module'=>'studentfinance','controller'=>'payment-bank', 'action'=>'generate-invoice', 'id'=>$entry['id']),'default',true)."' onclick='block_screen();'>".$this->translate("Process")."</a>";
					}
				}
			?>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>

</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>


<div id="dialog-upload" title="<?php echo $this->translate("Upload Bank Transaction"); ?>">
    <?php echo $this->upload_form; ?>
</div>