<style>
.table{
	font-size: 10px;
}


.table tr.green td{
	background: #66CDAA;	
}

.table tr.red td{
	background: #EEEEEE;	
}

.table tr.blue td{
	background: #9AD7F0;	
}
.table tr td a{
	cursor: pointer;
}

.hide-me{
	display: none;
}
</style>

<script type="text/javascript">
var cur_obj = null;

$(function() {

    $( "#dialog-mapping" ).dialog({
	  autoOpen: false,
      resizable: false,
      width: 600,
      modal: true,
      buttons: {
        Close: function() {
          $( this ).dialog( "close" );
        }
      }
    });

    $('#sel_all').click(function(){
    	$('.sel').prop('checked', this.checked);
    });

});

function map_record(obj){
	cur_obj = obj;
	
	$( "#dialog-mapping" ).dialog('open');
}

function search_student(){

	var name = $('#name').val();
	var id = $('#id').val();
	var type = $('input[name=type]:checked').val()

	var table = $("#result tbody");
    $(table).empty();
     
	$.ajax({
	      url: "/ajax-utility/search-student",
	      type: "post",
	      data: {'name':name, 'id':id, 'type':type, 'txn':true},
	      dataType: 'json',
	      beforeSend: function (){
	    	  $(table).html('<tr><td colspan="3">Loading...</td></tr>');
	      },
	      success: function(data){

	    	  $(table).empty();

	          if(data.length>0){
		          if(type==1){
		        	  for(var i=0; i<data.length; i++){
			        	  if(data[i].at_pes_id!==null){
					          var content = "<tr>" +
					          				"<td><a href='#' onclick='select_mapping(\""+data[i].at_pes_id+"\","+type+",\""+data[i].name+"\")'>"+data[i].name+"</a></td>"+
					          				"<td>"+data[i].appl_email+"</td>"+
					          				"<td>"+data[i].at_pes_id+"</td>"+
					          				"</tr>"
				        	  $(table).append(content);
			        	  }
			          }
		          }else{
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='select_mapping(\""+data[i].nim+"\","+type+",\""+data[i].name+"\")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"<td>"+data[i].nim+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }
		          
	          }else{
	        	  var content = "<tr><td colspan='3'> No Search Result </td></tr>";
	        	  $(table).append(content);
	          }
	      },
	      error:function(){
	    	  $(table).empty();
	          alert("failure");
	      }   
	}); 
}

function select_mapping(payer_id, type, name){
	if(type==1){
		type = 0;
	}else
	if(type==2){
		type = 1;
	}
		
	var row = $(cur_obj).parent().parent();

	$(row).addClass('green');

	var ckbx = $(row).find("td:nth-child(1)").find('input[type="checkbox"]');
	var pbrd_id = $(ckbx).val();
	
	$(ckbx).removeClass('hide-me').removeAttr('disabled').prop( "checked", true );
	
	$(row).find("td:nth-child(9)").html(payer_id);
	$(row).find("td:nth-child(9)").append('<input type="hidden" name="payer_id_repair['+pbrd_id+']" value="'+payer_id+'" />');
	$(row).find("td:nth-child(9)").append('<input type="hidden" name="student['+pbrd_id+']" value="'+type+'" />');
	
	$(row).find("td:nth-child(10)").html(name);
	$(row).find("td:nth-child(11)").html('Manual Mapping');
	$(row).find("td:nth-child(11)").append('<input type="hidden" name="mapping_remark['+pbrd_id+']" value="Manual Mapping" />');
	
	//console.log($(row).find("td:nth-child(9)").html(payer_id));
	
	$( "#dialog-mapping" ).dialog('close');
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a id="back" href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-bank', 'action'=>'detail-suspend', 'id'=>$this->id),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
	<legend><?php echo $this->translate('Information'); ?></legend>
	
	<div style="width:25%; float: left;">
		<table>
			<tr>
				<td>Date Upload</td>
				<td>:</td>
				<td><?php echo date('d-m-Y h:ia', strtotime($this->data['upload_date']) ); ?></td>
			</tr>
			<tr>
				<td>Upload By</td>
				<td>:</td>
				<td>
					<?php echo $this->data['fName']!=null?$this->data['fName']:""; ?>
					<?php echo $this->data['mName']!=null?$this->data['mName']:""; ?>
					<?php echo $this->data['lName']!=null?$this->data['lName']:""; ?>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="width:25%; float: left;">
		<table>
			<tr>
				<td>File Created Date</td>
				<td>:</td>
				<td><?php echo date('d-m-Y h:ia', strtotime($this->data['file_created_date']) ); ?></td>
			</tr>
			<tr>
				<td>Period</td>
				<td>:</td>
				<td>
					<?php echo date('d-m-Y', strtotime($this->data['period_start']) ); ?>
					-
					<?php echo date('d-m-Y', strtotime($this->data['period_end']) ); ?>
				</td>
			</tr>
			<tr>
				<td>Total Record</td>
				<td>:</td>
				<td><?php echo $this->data['total_record']; ?></td>
			</tr>
			<tr>
				<td>Total Amount</td>
				<td>:</td>
				<td><?php echo number_format($this->data['total_amount'], 2, '.', ','); ?></td>
			</tr>
		</table>
	</div>
	
	<div style="width:25%; float: left;">
		<table>
			<tr>
				<td>Total Suspend Record</td>
				<td>:</td>
				<td><?php echo $this->suspend_record; ?></td>
			</tr>
			<tr>
				<td>Total Suspend Amount</td>
				<td>:</td>
				<td><?php echo number_format($this->suspend_amount, 2, '.', ','); ?></td>
			</tr>
		</table>
	</div>
	
</fieldset>
<br />

<form method="post">
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th rowspan="2"><input type="checkbox" id="sel_all" /></th>
		<th colspan="7">Susspend Record</th>
		<th colspan="4">Mapping Record</th>
	</tr>
	<tr>
		<th><?php echo $this->translate("Billing No")?></th>
		<th><?php echo $this->translate("Payer ID")?></th>
		<th width="150px"><?php echo $this->translate("Payer Name")?></th>
		<th><?php echo $this->translate("Payment Description")?></th>
		<th><?php echo $this->translate("Total Amount")?></th>
		<th><?php echo $this->translate("Paid Date")?></th>
		<th><?php echo $this->translate("Bank Journal Number")?></th>
		<th><?php echo $this->translate("Payer ID")?></th>
		<th width="150px"><?php echo $this->translate("Name")?></th>
		<th><?php echo $this->translate("Mapping Remark")?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	foreach ($this->suspend_data as $data):
	?>
	<tr <?php echo $data['mapping_status']==1?"class='green'":"";?> >
		<td>
		<?php 
		if($data['mapping_status']==1){
		?>
			<input type="checkbox" class="sel" name="data[]" value="<?php echo $data['id']?>" checked="checked" />
		<?php 
		}else{
		?>
			<input type="checkbox" class="sel hide-me" name="data[]" value="<?php echo $data['id']?>" disabled="disabled" />
		<?php 
		}
		?>
		</td>
		<td><?php echo $data['billing_no'];?></td>
		<td><?php echo $data['payee_id'];?></td>
		<td><?php echo $data['name'];?></td>
		<td>
			<?php 
				$desc =  $data['bill_ref_1']."-".$data['bill_ref_2']."-".$data['bill_ref_3']."-".$data['bill_ref_4']."-".$data['bill_ref_5'];

				if(strlen($desc)>30){
					echo substr($desc,0,30)."...";
				}else{
					echo $desc;
				}
				
			?>
		</td>
		<td><?php echo number_format($data['amount_total'], 2, '.', ','); ?></td>
		<td align="center"><?php echo date('d-m-Y', strtotime($data['paid_date']) ); ?></td>
		<td align="center"><?php echo $data['bancs_journal_number']; ?></td>
		<td>
			<?php echo isset($data['payee_id_repair'])?$data['payee_id_repair']:"";?>
		</td>
		<td>
		<?php 
		if($data['mapping_status']==1){
			echo $data['profile']['appl_fname']!=null?$data['profile']['appl_fname']." ":"";
			echo $data['profile']['appl_mname']!=null?$data['profile']['appl_mname']." ":"";
			echo $data['profile']['appl_lname']!=null?$data['profile']['appl_lname']." ":"";
		}
		?>
		</td>
		<td><?php echo isset($data['mapping_remark'])?$data['mapping_remark']:"";?></td>
		<td><a onclick="map_record(this); return false;">map</a></td>
	</tr>
	<?php 
	endforeach;
	?>
</table>

	<div align="center" style="padding: 2px; background: #CCC;">
		<input type="submit" value="<?php echo $this->translate("Process"); ?>" name="Submit" />
	</div>
</form>


<!-- DIALOG FOR MAPPING -->
<div id="dialog-mapping" title="Search Applicant / Student">
	<fieldset>
		<legend>
			Search Applicant / Student	</legend>
		<table>
			<tr>
				<td>Nama</td>
				<td>:</td>
				<td>
					<input type="text" name="name" id="name" value="" />
				</td>
			</tr>
			<tr>
				<td>ID</td>
				<td>:</td>
				<td>
					<input type="text" name="id" id="id" value="" />
				</td>
			</tr>
			<tr>
				<td valign="top">Type</td>
				<td valign="top">:</td>
				<td>
					<input type="radio" name="type" id="type" value="1" checked="checked" /> Applicant 
					<br />
					<input type="radio" name="type" id="type" value="2" /> Student 
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				</td>
				<td>
					<input type="button" name="search" id="btn_search" class="button" value="Search" onclick="search_student();" />
				</td>
			</tr>
		</table>
	</fieldset>
	<div style="height: 200px; overflow: auto;">
	<table id="result" class="table" width="100%">
		<thead>
			<tr>
				<th>Nama</th>
				<th>Email</th>
				<th>NOFORM / NIM</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	</div>
</div>