<?php 
$this->headScript()->prependFile('/js/jquery/plugin/blockui/jquery.blockui.js'); 
?>

<script type="text/javascript">
function back(){
	window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-bank','action'=>'index'), 'default', true);?>";
}

function block_screen(){
	$.blockUI({ message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> Processing...</div></div>' });
}
</script>

<style type="text/css">
	.table tr.green td{
		background: #66CDAA;	
	}
	
	.table tr.red td{
		background: #EEEEEE;	
	}
	
	.table tr.blue td{
		background: #9AD7F0;	
	}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a id="back" href="#" onclick="javascript:back()">
					<span class='back'></span>
					<?php echo $this->translate("Back"); ?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div><br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div><br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div><br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate("Upload Information"); ?></legend>
	<div style="width: 25%; float:left;">
		<table>
			<tr>
				<td>Report Name</td>
				<td>:</td>
				<td><?php echo $this->data['report_name']; ?></td>
			</tr>
			<tr>
				<td>Vendor ID</td>
				<td>:</td>
				<td><?php echo $this->data['vendor_id']; ?></td>
			</tr>
			<tr>
				<td>Report Created Date</td>
				<td>:</td>
				<td>
					<?php echo date('d-m-Y H:ia', strtotime($this->data['created_date'])); ?>
				</td>
			</tr>
			<tr>
				<td>Paid Period</td>
				<td>:</td>
				<td>
					<?php echo date('d-m-Y', strtotime($this->data['paid_period_from'])); ?>
					 <i>to</i> 
					<?php echo date('d-m-Y', strtotime($this->data['paid_period_to'])); ?>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="width: 25%; float:left;">
		<table>
			<tr>
				<td>Total Record</td>
				<td>:</td>
				<td>
					<?php echo $this->data['TotalRecord']; ?> (<?php echo sizeof($this->data['transaction']); ?>)
				</td>
			</tr>
			<tr>
				<td>Paid Record</td>
				<td>:</td>
				<td><?php echo $this->data['paid_record']; ?></td>
			</tr>
			<tr>
				<td>Unpaid Record</td>
				<td>:</td>
				<td><?php echo $this->data['Unpaid_Record']; ?></td>
			</tr>
		</table>
	</div>
	
	<div style="width: 25%; float:left;">
		<table>
			<tr>
				<td>Total Amount</td>
				<td>:</td>
				<td>
					<?php echo number_format($this->data['TotalAmount'], 2, '.', ','); ?>
				</td>
			</tr>
			<tr>
				<td>Paid Amount</td>
				<td>:</td>
				<td><?php echo number_format($this->data['PaidAmount'], 2, '.', ','); ?></td>
			</tr>
			<tr>
				<td>Unpaid Amout</td>
				<td>:</td>
				<td><?php echo number_format($this->data['UnpaidAmount'], 2, '.', ','); ?></td>
			</tr>
		</table>
	</div>

	<div style="width: 25%; float:left;">
		<table>
			<tr>
				<td>New Record</td>
				<td>:</td>
				<td>
					<?php echo $this->data['new_record']?>
				</td>
			</tr>
			<tr>
				<td>Redundant Record</td>
				<td>:</td>
				<td>
					<?php echo $this->data['redundant_record']?>
				</td>
			</tr>
			<tr>
				<td>Error Record</td>
				<td>:</td>
				<td>
					<?php echo $this->data['error_record']?>
				</td>
			</tr>
		</table>
	</div>
		
</fieldset>
<fieldset>
	<legend>Color Legend</legend>
<table cellpadding="5px" cellspacing="5px">
	<tr>
		<td style="background:#66CDAA">PAYMENT ACCOUNT</td>
		<td style="background:#EEEEEE">SUSPEND ACCOUNT</td>
		<td style="background:#9AD7F0">PAYMENT ACCOUNT - Repair missing '0' in No. payee</td>
	</tr>
</table>
</fieldset>

<br />
<form id="paymant_bank" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-bank', 'action'=>'save-transaction'),'default',true);?>">
	<input type="hidden" name="file" value="<?php echo $this->file['file']; ?>" />
	
	<input type="hidden" name="file_created_date" value="<?php echo date('Y-m-d H:i:s', strtotime($this->data['created_date'])); ?>" />
	<input type="hidden" name="period_start" value="<?php echo date('Y-m-d', strtotime($this->data['paid_period_from'])); ?>" />
	<input type="hidden" name="period_end" value="<?php echo date('Y-m-d', strtotime($this->data['paid_period_to'])); ?>" />
	<input type="hidden" name="total_record" value="<?php echo $this->data['TotalRecord']; ?>" />
	<input type="hidden" name="total_amount" value="<?php echo $this->data['TotalAmount']; ?>" />
</form>	
	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>
			<th>&nbsp;</th>
			<th><?php echo $this->translate("Applicant Record"); ?></th>
			<th><?php echo $this->translate("Account Type"); ?></th>
			<th><?php echo $this->translate("Applicant Name"); ?></th>
			<th><?php echo $this->translate("Item"); ?></th>
			<th><?php echo $this->translate("No Billing"); ?></th>
			<th><?php echo $this->translate("No Payee"); ?></th>
			<th><?php echo $this->translate("Payment Date"); ?></th>
			<th><?php echo $this->translate("Payment Amount"); ?></th>
			<th><?php echo $this->translate("Bank Journal"); ?></th>
			<th><?php echo $this->translate("Payment Channel"); ?></th>
		</tr>
		<?php 
		if( isset($this->data)){
			
			for($i=0; $i<sizeof($this->data['transaction']); $i++):
				 $transaction = $this->data['transaction'][$i];
		?>
		<tr 
		<?php echo ($transaction['IMPORT_STATUS']=="NEW_DATA" && $transaction['APPLICANT_MATCHING_STATUS']=="TRUE" && !isset($transaction['MISSING_0']))?"class='green'":""; ?>
		<?php echo ($transaction['IMPORT_STATUS']=="NEW_DATA" && $transaction['APPLICANT_MATCHING_STATUS']=="FALSE")?"class='red'":""; ?>
		<?php echo (isset($transaction['MISSING_0']) && $transaction['MISSING_0']=="1")?"class='blue'":""; ?> 
		>
			<td align="center"><?php echo $i+1; ?></td>
			<td>
				<?php 
					if( $transaction['IMPORT_STATUS'] == "NEW_DATA" ){
						
						if($transaction['APPLICANT_MATCHING_STATUS'] == "TRUE" ){
							echo $this->translate("True");
							echo '<input type="hidden" name="row_acc_payment[]" value="'. $i .'" />';
						}else
						if($transaction['APPLICANT_MATCHING_STATUS'] == "FALSE" ){
							echo $this->translate("False");
							echo '<input type="hidden" name="row_acc_suspend[]" value="'. $i .'" />';
						}
							
					}else
					if( $transaction['IMPORT_STATUS'] == "DUPLICATE_DATA" ){
						echo $this->translate("Duplicate");
					}
				?>
			</td>
			<td>
				<?php 
				if( $transaction['IMPORT_STATUS'] == "NEW_DATA" ){

					if($transaction['APPLICANT_MATCHING_STATUS'] == "TRUE" ){
						echo 'Payment Account';
					}else{
						echo 'Suspend Account';
					}
					
				}else{
					echo "-";
				}
				?>
			</td>
			<td><?php echo $transaction[2]; ?></td>
			<td><?php echo $transaction[7]; ?></td>
			<td><?php echo $transaction[0]; ?></td>
			<td><?php echo $transaction[1]; ?></td>
			<td align="center">
				<?php
					$dt_payment = DateTime::createFromFormat("dmY - his",trim($transaction[21])); 
					echo $dt_payment->format("d-m-Y"); 
				?>
			</td>
			<td><?php echo number_format($transaction[8], 2, '.', ','); ?></td>
			<td><?php echo $transaction[22]; ?></td>
			<td><?php echo $transaction[23]; ?></td>
		</tr>
			
				<!-- HIDDEN ELEMENT -->
				<input type="hidden" name="billing_no[]" value="<?php echo $transaction[0]; ?>" />
				<input type="hidden" name="payee_id[]" value="<?php echo $transaction[1]; ?>" />
				<input type="hidden" name="name[]" value="<?php echo $transaction[2]; ?>" />
				<input type="hidden" name="bill_ref_1[]" value="<?php echo $transaction[3]; ?>" />
				<input type="hidden" name="bill_ref_2[]" value="<?php echo $transaction[4]; ?>" />
				<input type="hidden" name="bill_ref_3[]" value="<?php echo $transaction[5]; ?>" />
				<input type="hidden" name="bill_ref_4[]" value="<?php echo $transaction[6]; ?>" />
				<input type="hidden" name="bill_ref_5[]" value="<?php echo $transaction[7]; ?>" />
				<input type="hidden" name="amount_total[]" value="<?php echo $transaction[8]; ?>" />
				<input type="hidden" name="amount_1[]" value="<?php echo $transaction[9]; ?>" />
				
				<input type="hidden" name="amount_2[]" value="<?php echo $transaction[10]; ?>" />
				<input type="hidden" name="amount_3[]" value="<?php echo $transaction[11]; ?>" />
				<input type="hidden" name="amount_4[]" value="<?php echo $transaction[12]; ?>" />
				<input type="hidden" name="amount_5[]" value="<?php echo $transaction[13]; ?>" />
				<input type="hidden" name="amount_6[]" value="<?php echo $transaction[14]; ?>" />
				<input type="hidden" name="amount_7[]" value="<?php echo $transaction[15]; ?>" />
				<input type="hidden" name="amount_8[]" value="<?php echo $transaction[16]; ?>" />
				<input type="hidden" name="amount_9[]" value="<?php echo $transaction[17]; ?>" />
				<input type="hidden" name="amount_10[]" value="<?php echo $transaction[18]; ?>" />
				<input type="hidden" name="status_payment[]" value="<?php echo $transaction[19]; ?>" />
				
				<input type="hidden" name="keterangan[]" value="<?php echo $transaction[20]; ?>" />
				<input type="hidden" name="paid_date[]" value="<?php echo $transaction[21]; ?>" />
				<input type="hidden" name="bancs_journal_number[]" value="<?php echo $transaction[22]; ?>" />
				<input type="hidden" name="payment_channel[]" value="<?php echo $transaction[23]; ?>" />
				<input type="hidden" name="branch_id[]" value="<?php echo $transaction[24]; ?>" />
				<input type="hidden" name="payment_method[]" value="<?php echo $transaction[25]; ?>" />
				<input type="hidden" name="debet_account[]" value="<?php echo $transaction[26]; ?>" />
				<!-- END HIDDEN ELEMENT -->
		<?php
			endfor;
		}
		?>
	</table>
	<br />
	<?php if($this->data['error_record'] > 0){?>
		<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
		<br />
	<?php }?>
	<div align="center" style="padding: 2px; background: #CCC;">
		<input type="submit" value="<?php echo $this->translate("Save"); ?>" name="Submit" onclick="block_screen(); $('#paymant_bank').submit();">
	</div>