<script type="text/javascript">
    function addRole(key){
        $(function() {
            var url = "<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'barringsetup', 'action'=>'getrole'),"default",true);?>/key/"+key;
            var data = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: 'json'
            })
            .done(function(data) {
                
                var content;
        
                content = '<form method="post" id="barring-setup">';
                content += '<table width="100%">';
                
                $.each(data,function(index){
                    var checked = '';
                    
                    if (data[index].brole_id != null){
                        checked = 'checked="checked"';
                    }else{
                        checked = '';
                    }
                    
                    content += '<tr>';
                    content += '<td><input type="checkbox" name="roleid[]" value="'+data[index].idDefinition+'" '+checked+'></td>';
                    content += '<td>'+data[index].DefinitionDesc+'</td>';
                    content += '</tr>';
                });
                
                content += '</table>';
                content += '<div class="form-opt">';
                content += '<button type="submit" name="save"><?php echo $this->translate('Save'); ?></button>';
                content += '</div>';
                content += '<input type="hidden" value="'+key+'" name="key">';
                content += '</form>';
        
                $("#fancybox").fancybox({
                    helpers: {
                        title : {
                            type : 'float'
                        }
                    }
                });
                $.fancybox({ content: content });
            })
            .fail(function() {
                alert("error load program scheme"); 
            });
        });
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'auditpaperapplication'),'default',true);?>';" >
                <span class='add'></span>
                <?php //echo $this->translate("Add");?>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<br/>
<!--<form method="post" id="barring-setup">-->
<table class="table" width="100%">
    <thead>
        <tr>
            <th width="5%"><?php echo $this->translate("No"); ?></th>
            <th><?php echo $this->translate("Event Type"); ?></th>
            <th width="45%"><?php echo $this->translate("Role"); ?></th>
            <th width="8%"></th>
        </tr>
    </thead>
    <tbody>
        <?php
        if ($this->barringSetupList){
        $i = 1;
        foreach ($this->barringSetupList as $barringSetupLoop){
        ?>
        <tr>
            <td align="center"><?php echo $i; ?></td>
            <td><?php echo $barringSetupLoop['DefinitionDesc']; ?></td>
            <td>
            <?php
                $barModel = new GeneralSetup_Model_DbTable_Barringsetup();
                
                if ($barringSetupLoop['tbs_type'] != null){
                    $roleList = $barModel->getRole($barringSetupLoop['tbs_type']);
                }else{
                    $roleList = false;
                }
                
                if ($roleList){
                    $j = 1;
                    foreach ($roleList as $roleLoop){
                        echo $j.'. '.$roleLoop['roleName'].'</br>';
                        $j++;
                    }
                }else{
                    echo 'Click link "Add Role" to add role';
                }
            ?>
            </td>
            <td align="center"><a onclick="addRole(<?php echo $barringSetupLoop['idDefinition']; ?>);" href="javascript:void(0);"><?php echo $this->translate('Add Role'); ?></a></td>
        </tr>
        <?php
        $i++;
        }
        }
        ?>
    </tbody>
</table>
<!--<div class="form-opt">
    <button type="submit" name="save"><?php echo $this->translate('Save'); ?></button>
</div>-->
<!--</form>-->