<head>
	<script type="text/javascript">
		dojo.addOnLoad(function(){
				dijit.byId('field1').set('value','');
				dijit.byId('field1').set('placeHolder','Select');
				dijit.byId('field10').set('value','');
				dijit.byId('field10').set('placeHolder','Select');				
			});

 	</script>
 </head>
<body class="claro">
<div id="searchDiv">
	<fieldset>
<legend><?php echo $this->translate->_("Students").' '.$this->translate->_("Search");?></legend>
		<div class="search" style="margin-left:20px;">
			<form action="<?php echo $this->baseUrl();?>/records/disciplinaryactionapproval/index/search/1" method="POST">
			 <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Student Name");?></td>
                                    <td><?php echo $this->lobjSearchForm->field3;?></td>
                                    <td><?php echo $this->translate("Student ID");?></td>
                                    <td><?php echo $this->lobjSearchForm->field2;?></td>
                                </tr>
                                <tr>
                                    <td><?php echo $this->translate("Disciplinary Action Type");?></td>
                                    <td><?php echo $this->lobjSearchForm->field1;?></td>
                                    <td></td>
                                    <td></td>									
                                </tr>
                                <tr>
                               		<td align = "center" colspan = "4">
										<?php echo $this->lobjSearchForm->Search;?>											
									    <input type='button' class="NormalBtn"	dojotype="dijit.form.Button" label="<?php echo $this->translate('Clear')?>" value='Clear'			onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'disciplinaryactionapproval','action'=>'index'),'default',true);?>';" />
									</td>							    
                                </tr>
                        </table>				
			</form>	
		</div>
	</fieldset> 
	
    <br/>
    
    <?php if(count($this->lobjPaginator) > 0) { ?>
    <form name="registration" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
    			<th><?php echo $this->translate->_("Student Name");?></th>
    			<th><?php echo $this->translate->_("Student Id");?></th>
	       	    <th><?php echo $this->translate->_("Type").' '.$this->translate->_("of").' '.$this->translate->_("Disciplinary").' '.$this->translate->_("Action");?></th>
	       	    <th><?php echo $this->translate->_("Warning").' '.$this->translate->_("Issued");?></th>
	       	    <th><?php echo $this->translate->_("Approve");?></th>
    		</tr>

	        <?php $mm =0; ?>
	        <?php foreach ($this->lobjPaginator as $lobjdisciplinaryactionDetails): ?>
	  		<tr>
    	    		<td><?php echo $this->escape($lobjdisciplinaryactionDetails['StudentName']);?>
    	    			<input type="Hidden"  name ="IdDisciplinaryaction[]" value="<?php echo $lobjdisciplinaryactionDetails['IdDisciplinaryAction'];?>" id="" />
    	    		</td>
    	    			<td><?php echo $this->escape($lobjdisciplinaryactionDetails['StudentId']);?></td>
	    				<td><?php echo $this->escape($lobjdisciplinaryactionDetails['DisciplinaryDesc']);?></td>
	    				<?php if($lobjdisciplinaryactionDetails['WarningIssued'] == "1"){?>
	    					<td><?php echo $this->translate->_("Yes");?></td>
	    				<?php }else{ ?>
	    					<td><?php echo $this->translate->_("No");?></td>
	    				<?php } ?>
	    				<?php if($lobjdisciplinaryactionDetails['Approve']==1){
	    					$check="Checked";
	    				}else{
	    				$check="";
	    				}
	    				?>
	    				<td><input type="Checkbox"  name ="displinary[<?php echo $this->escape($lobjdisciplinaryactionDetails['IdDisciplinaryAction']);?>]" dojoType="dijit.form.CheckBox"  value="1" id="displinary<?php echo $mm;?>" <?php echo $check;?>/></td>
	    			  	
	    				</td>
    				</tr>
			     <?php $mm++;  endforeach; ?>
		</table>
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
           <tr>
				<td align = "right"><?php echo $this->lobjDisciplinaryactionapprovalForm->Save;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'disciplinaryactionapproval', 'action'=>'index'),'default',true);?>';" />	
               </td> 

          </tr> 
        </table>            
	</fieldset>
	</form>
	
	<?php }?>
</body>
</html>
