<script>


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>

<?php if(count($this->subjects)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>	
		
		<th></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->subjects as $subject){		
	?>		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='center'><?php echo $subject['SubCode']; ?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["subjectMainDefaultLanguage"]:$subject["SubjectName"];?></td>			
		<td align='center'><a href='<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry-ce','action'=>'entry','idSemester'=>$this->idSemester,'idSubject'=>$subject['IdSubject'])); ?>'><?php echo $this->translate("Manage")?></a></td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php }//?>
</div>