<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="1">	  
	  <tr style="background-color:#CEE3F6">
	    <th rowspan='2' width="25px">No</th>
	    <th rowspan='2' width="25px" style="vertical-align:middle;">Approval Status</th>
	    <th rowspan='2' style="vertical-align:middle;"><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='2' style="vertical-align:middle;"><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $m=>$component){		    	
			     if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item'])*2); 
				 }else{					 
					 	$colspanx = abs(count($component['component_item'])*2); 
				 }	    	
	    ?> 	    
	     <th align="center" colspan="<?php echo $colspanx;?>" style="vertical-align:middle;">
	     	<?php echo $component['component_name'];?>	     	
	     </th>
	      <th rowspan='2' style="vertical-align:middle;"><?php echo $this->translate("Total")?></th>
	      
	     <?php 
	     }?>	  
	     <th rowspan='2' style="vertical-align:middle;"><?php echo $this->translate("Attendance")?></th>   
	     <th rowspan='2' style="vertical-align:middle;"><?php echo $this->translate("Grade")?></th>
	 </tr>
	 
	 
	 <tr style="background-color:#CEE3F6">  	    
	     <?php for($m=0; $m<count($this->rs_component); $m++){	     		
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++){
	     	?> 	     
	     	<th colspan=2>
	     	<?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>	     	
	     	</th>	     	   
	    <?php } ?> 	    
	          	   
	      <?php }?>
	 </tr>
	   	
	
	 
	  <?php 
		$i=1;	
		$row_bgcolor = '';
		
		
		foreach($this->students as $student){	

			$enable_entry = 'disabled';
			$row_bgcolor = 'style="background-color: #FFFFFF"';
			
			if ($student['mark_approval_status']==1){	    			
				$row_bgcolor = 'style="background-color: #F5F6CE"';
    		}else 
    		if($student['mark_approval_status']==2){
    			$row_bgcolor = 'style="background-color: #D8F6CE"';
    		}else
    		if($student['mark_approval_status']==3){
    			$row_bgcolor = 'style="background-color: #F6CED8"';	    		
    		}else{
    			$enable_entry = '';
    		}
	  ?>
	  
	  <tr <?php echo $row_bgcolor;?> >
	    <td align='center'><?php echo $i;?></td>
	    <td align='center'>
	         <?php if($student['mark_approval_status']==0){ 
	         		echo 'Entry';
	         } else { 
	    		if ($student['mark_approval_status']==1){	    			
					echo 'Waiting for approval';
	    		}else 
	    		if($student['mark_approval_status']==2){
	    			echo 'Approved';
	    		}else
	    		if($student['mark_approval_status']==3){
	    			echo 'Rejected';	    		
	    		}
	    	}
	    	?>
	    </td>
		<td align='left'><?php echo $student["appl_fname"].' '.$student["appl_mname"].' '.$student["appl_lname"];?></td>
	  	<td align='center'>
	  	<?php echo $student["registrationId"];?>	  	
		</td>

 		<?php 
 		    $j=0;
 		    
 			foreach($this->rs_component as $component){
 				    
 				    //get main component info
 				    
 					$k=0;
 					$total_item = count($component['component_item']);
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center' colspan=2>
	     	    <?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>
		   </td>
		  
	    <?php $k++; } ?>
	    	<td align='center'>
	    	
	    	<?php echo (isset($student["tic".$component['IdMarksDistributionMaster']])) ? $student["tic".$component['IdMarksDistributionMaster']]:'';?>
	    	
	    	</td>	    	
	  			  		
	  		
	  <?php $j++;}?>
	  
	  		<td align='center'><?php echo $student['attendance_status'];?></td>
	  		<td align='center'><?php echo $student['grade_desc']?></td>
	  </tr>
	  
	  <?php $i++; } ?>
	  
	  
</table>