<script type="text/javascript">

</script> 
<fieldset>
    <legend><?php echo $this->translate("Student Details");?></legend>
         <table class="table" width="100%" >
             <tr>
                 <td ><?php echo $this->translate("Student Name");?></td>
                 <td ><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
                 <td ><?php echo $this->translate("IC No");?></td>
                 <td ><?php echo $this->studentdetails['ICNumber'];?></td>
              </tr>
              
             <tr>
                 <td ><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['ProgramName'];?></td>
                 <td ><?php echo $this->translate($this->Branch).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['CollegeName'];?></td>
              </tr>
              
             <tr>
                 <td ><?php echo $this->translate("Intake");?></td>
                 <td ><?php echo $this->studentdetails['SemesterMasterName'].' '.$this->studentdetails['year'];?></td>
                 <td ><?php echo $this->translate("Landscape");?></td>
                 <td ><?php echo $this->studentdetails['DefinitionDesc'];?></td>
              </tr>
             <tr>
                 <td ><?php echo $this->translate("Semester");?></td>
                 <td ><?php echo $this->presentsemester['SemesterMasterName'].' '.$this->presentsemester['year'];?></td>
                 <td ></td>
                 <td ></td>
              </tr>
         </table>
</fieldset>
<fieldset>
    <legend><?php echo $this->translate("Subject Details");?></legend>
   		 <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
	         <table class="table" width="100%" >
	             <tr>
	                 <th ><?php echo $this->translate("Subject Name");?><?php echo $this->lobjCredittransferForm->UpdDate;?></th>
	                 <th ><?php echo $this->translate("Subject Code");?><?php echo $this->lobjCredittransferForm->UpdUser;?></th>
	                 <th ><?php echo $this->translate("Subject Type");?><?php echo $this->lobjCredittransferForm->IdApplication;?></th>
	                 <th ><?php echo $this->translate("Credit Hours");?><?php echo $this->lobjCredittransferForm->IdProgram;?></th>
	                 <th ><?php echo $this->translate("Status");?></th>
	                 <th ><?php echo $this->translate("Apply");?><?php echo $this->lobjCredittransferForm->IdSemester;?></th>
	              </tr>
	              <?php foreach($this->studentsubjectdetails as $subjectdetail) { ?>
	             <tr>
	                 <td ><?php echo $subjectdetail['SubjectName'];?></td>
	                 <td ><?php echo $subjectdetail['SubCode'];?></td>
	                 <td ><?php echo $subjectdetail['SubjectType'];?></td>
	                 <td ><?php echo $subjectdetail['CreditHoursforsubjects'];?></td>
	                 <?php if(in_array($subjectdetail['subjectId'],$this->larrcheckstatussub)) { ?>
	                 	<?php switch($this->larrcheckstatussta[$subjectdetail['subjectId']]){
	                 		case NULL:{?>
	                 			<td ><?php echo "Applied";?></td>
	                  			<td ><input type='checkbox' readonly="true" value='<?php echo $subjectdetail['subjectId'];?>' dojoType='dijit.form.CheckBox' name='subjects[]'/></td>
	                 		<?php break;}case '1':{?>
	                 			<td ><?php echo "Approved";?></td>
	                  			<td ><input type='checkbox' readonly="true" value='<?php echo $subjectdetail['subjectId'];?>' dojoType='dijit.form.CheckBox' name='subjects[]'/></td>
	                 		<?php break;} case '0': {?>
	                 			<td ><?php echo "Not Approved";?></td>
	                  			<td ><input type='checkbox' readonly="true" value='<?php echo $subjectdetail['subjectId'];?>' dojoType='dijit.form.CheckBox' name='subjects[]'/></td>
	                 		<?php break;}?>
	                 	<?php } ?>
	                 <?php } else {?>
	                 	<td ><?php echo "-";?></td>
	                 	<td ><input type='checkbox' value='<?php echo $subjectdetail['subjectId'];?>' dojoType='dijit.form.CheckBox' name='subjects[]'/></td>
	                 <?php }?>
	              <?php }?>
               	<tr>
                    <td colspan=6 align = "right"><?php echo $this->lobjCredittransferForm->Save;?>
					<input type="button" class="NormalBtn"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'credittransfer', 'action'=>'index'),'default',true);?>';" />	
                    </td> 
                </tr> 
         	</table>
         </Form>
</fieldset>
