<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	});
</script>
<script type="text/javascript">
var dialogBox = new dijit.Dialog;

function dialogText (title,content) {
    dialogBox.titleNode.innerHTML = title;
    dialogBox.setContent(content);
    dialogBox.set("style", "width:960px;height:550px;overflow:auto;");
    dialogBox.show();
}
</script>
<script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        // Show the Dialog:
        dijit.byId("Diaimg").show();
    </script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Student Subjects Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/registration/studentsubjects/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("I.C No");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                   <td><?php echo $this->translate("Applicant Name");?></td>
                   <td ><?php echo $this->lobjform->field5;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate($this->Subject).' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->field8;?></td>
                   <td><?php echo $this->translate($this->Subject).' '.$this->translate("Code");?></td>
                   <td ><?php echo $this->lobjform->field1;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
      </form>	
    </fieldset> 
    <br/>
    <form name="placement" method="POST">
	<fieldset>
		<table class="table" width="100%">
		
	    	<tr>
	       	    <th><?php echo $this->translate("Applicant Name");?></th>
	            <th><?php echo $this->translate("I.C No");?></th>
	       	    <th><?php echo $this->translate($this->Subject).' '.$this->translate("Name");?></th>
	       	    <th width="12%"><?php echo $this->translate($this->Subject).' '.$this->translate("Approved");?></th>
	       	    <th><?php echo $this->translate("Comments");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjCredittransfer ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php print_r($this->escape($lobjCredittransfer['FName'].' '.$lobjCredittransfer['MName'].' '.$lobjCredittransfer['LName']));?></a></td>
	        	<td><?php echo $this->escape($lobjCredittransfer['ICNumber']);?></td>
	        	<td><?php echo $this->escape($lobjCredittransfer['SubjectName']);?></td>
	        	<td width="10%"><input name="DocApproved[]" id="Approved" type="checkbox"  <?php if($lobjCredittransfer['SubjectsApproved']==1) {?> checked = "true" <?php }?> value="<?php echo $lobjCredittransfer['IdStudentRegSubjects'];?>"/></td>
	        	
				<input type="hidden" name="applicantid[]"  value="<?php echo $this->escape($lobjCredittransfer['IdApplication']);?>"/>
				<input type="hidden" name="IdStudentRegSubjects[]"  value="<?php echo $this->escape($lobjCredittransfer['IdStudentRegSubjects']);?>"/>
				
				<td><input name="Comments[]" id="<?php echo $this->escape($lobjCredittransfer['IdApplication']);?>" type="Comments" value="<?php echo $this->escape($lobjCredittransfer['SubjectsApprovedComments']);?>"/></td>
				<?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
              <td align = "right" colspan="8">
              <input type='submit' class="NormalBtn"	dojotype="dijit.form.Button" name="Save"	label="<?php echo $this->translate('Save')?>" value='Save'/>	
              </td> 
            </tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</form>