<script>

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want add students to this subject?");
		 if(msg){
			$("#form1").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student.");             	
		return false;
	}		
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'course-list','id'=>$this->registrationId),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
		<?php if(count($this->subject_list)>0){ ?>
			 <li>
				<a href="#" onclick="validate();" >
					<span class='add'></span>
					Add
				</a>
			</li>		
			<?php } ?>
		</ul>
	</div>
</div>

<br>


<form name='form1' id='form1' method='post' action='<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'add'),'default',true);?>'>
<?php 
if(count($this->subject_list)){	 ?>
<input type='text' name='IdStudentRegistration' value='<?php echo $this->IdStudentRegistration; ?>'></input>
<input type='text' name='LandscapeType' value='<?php echo $this->landscape["LandscapeType"]; ?>'></input>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
  	<tr>			  	  		  	   
  		<th><?php echo $this->translate("Course Name")?></th>
  		<th><?php echo $this->translate("Course Code")?></th>
  		<th><?php echo $this->translate("Course Type")?></th>
  		<th><?php echo $this->translate("Credit Hours")?></th>  		
  		<th>
  		<?php echo $this->translate("Add Course?");?> <br>
		    <input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?>
  		</th>
  	</tr>			  	
			  
			  
<?php 
	foreach($this->subject_list as $subject){
?>
		
	<tr>			  			  	
  		<td><?php echo ($this->locale=='ms_MY') ? $subject["BahasaIndonesia"]:$subject["SubjectName"]; ?></td>
  		<td><?php echo $subject["SubCode"]; ?></td>
  		<td><?php echo $subject["DefinitionDesc"]; ?></td>
  		<td><?php echo $subject["CreditHours"];?></td>
  		<td>
  		<?php echo $subject['IdLandscapeSub'];?>
  		<input class="chk"  type='checkbox' name='IdLandscapeSub[]' id='IdLandscapeSub' value='<?php echo $subject['IdLandscapeSub']?>'></input></td>
  	</tr>
<?php } ?>	

</table>
<?php } ?>
</form>