
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			
			 <li> 
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'subjectlist'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>					
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">

<fieldset><legend><?php echo $this->translate("Success List")?></legend>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
<tr>
	    <th width="5px"><?php echo $this->translate("No");?></th>
	    <th width="15px"><?php echo $this->translate("ID Registration (PRIMARY KEY)"); ?></th>	
	    <th><?php echo $this->translate("Student ID"); ?></th>	
</tr>
<?php 
$i=1;
foreach($this->stack_success as $success){?>
<tr>
	    <td width="5px"><?php echo $i;?></td>
	    <td width="20px"><?php echo $success['idStudentRegistration'];?></td>
	    <td><?php echo $success['nim'];?></td>
</tr>
<?php $i++; } ?>
</table>
</fieldset>

<br>

<fieldset><legend><?php echo $this->translate("Failed List")?></legend>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
<tr>
	    <th width="5px"><?php echo $this->translate("No");?></th>
	    <th width="20px"><?php echo $this->translate("ID Registration (PRIMARY KEY)"); ?></th>	
	    <th><?php echo $this->translate("Student ID"); ?></th>		    
	    <th><?php echo $this->translate("Comments"); ?></th>	
</tr>
<?php 
$i=1;
foreach($this->stack_failed as $fail){?>
<tr>
	    <td  width="5px"><?php echo $i;?></td>
	    <td  width="15px"><?php echo $fail['idStudentRegistration'];?></td>
	    <td><?php echo $fail['nim'];?></td>
	    <td><?php echo $fail['comments'];?></td>
</tr>
<?php $i++; } ?>
</table>
</fieldset>

</div>