<?php $studentdetails = $this->studentdetails;?>
<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
     <fieldset>
    <legend><?php echo $this->translate("Student Details");?></th></legend>
     <table class="table" width="100%" >
     <tr>
    		<th colspan = "4"><?php echo $this->translate("Student Details");?></th>
    </tr>
     <tr>
     	<td><?php echo $this->translate("Scheme:");?></td>
     	<td><?php echo $studentdetails['EnglishDescription']?></td>
     	<td><?php echo $this->translate("Program:");?></td>
     	<td><?php echo $studentdetails['ProgramName']?></td>
     </tr>
     <tr>
     	<td><?php echo $this->translate("Intake:");?></td>
     	<td><?php echo $studentdetails['IntakeId']?></td>
     	<td><?php echo $this->translate("Student ID:");?></td>
     	<td><?php echo $studentdetails['StudentId']?></td>
     </tr>
      <tr>
     	<td><?php echo $this->translate("Branch:");?></td>
     	<td><?php echo $studentdetails['BranchName']?></td>
     	<td><?php echo $this->translate("Student Name:");?></td>
     	<td><?php echo $studentdetails['FName'].' '.$studentdetails['MName'].' '.$studentdetails['LName']?></td>
     </tr>
      <tr>
     	<td><?php echo $this->translate("Semester:");?></td>
     	<td><?php echo $studentdetails['SemesterCode']?></td>
     	<td><?php echo $this->translate("Profile Status:");?></td>
     	<td><?php echo $this->translate("Activated");?></td>
     </tr>
      <tr>
     	<td><?php echo $this->translate("Semester Status:");?></td>
     	<td><?php echo $studentdetails['DefinitionDesc']?></td>
     	<td><?php echo $this->translate("Release Status:");?></td>
     	<?php if($studentdetails['Desc1']!=''){?>
     	<td><?php echo $studentdetails['Desc1'];?></td>
     	<?php }else if($studentdetails['Desc2'] != ''){?>
     	<td><?php echo $studentdetails['Desc2'];?></td>
     	<?php }else{?>
     	<td></td>
     	<?php }?>
     </tr>
     <tr>
     	<td><?php echo $this->translate("Outstanding Bal:");?></td>
     	<td></td>
     </tr>
    </table>
    </fieldset>
    <fieldset>
    	<legend><?php echo $this->translate("Subject Details").' '."(Add)";?></legend>
    	<table class="table" width="100%" >
    	<tr>
    		<th><?php echo $this->translate("Subject");?></th>
    		<th><?php echo $this->translate("Course Code");?></th>
    		<th><?php echo $this->translate("Credit Hours");?></th>
    		<th><?php echo $this->translate("Add");?></th>
    		<th><?php echo $this->translate("Register");?></th>
    		<th><?php echo $this->translate("Registered By");?></th>
    		<th><?php echo $this->translate("Registered Date");?></th>
    	</tr>
    	<?php if(isset($this->totalcourses)){ $cnt=0;?>
    	<?php foreach($this->totalcourses as $allstudentcourses){?>
    	<tr>
    		<td><?php echo $allstudentcourses['SubjectName'];?></td>
    		<td><?php echo $allstudentcourses['SubjectCode'];?></td>
    		<td><?php echo $allstudentcourses['CreditHours'];?></td>
    		<?php if(isset($allstudentcourses['Registeredby'])){?>
    		<td><input type="checkbox" <?php echo "checked";?> dojotype="dijit.form.CheckBox" readonly="readonly"/></td>
    		<td><input type="checkbox" <?php echo "checked";?> dojotype="dijit.form.CheckBox" readonly="readonly"/></td>
    		<td><?php echo $allstudentcourses['Registeredby'];?></td>
    		<td><?php echo date('m-d-Y',strtotime($allstudentcourses['RegisteredDate']));?></td>
    		<?php }else{?>
    		<td><input type="checkbox" name="add[<?php echo $cnt;?>]" id="add[<?php echo $cnt;?>]" dojotype="dijit.form.CheckBox" /><input type="hidden" value="<?php echo $allstudentcourses['IdSubject'];?>" id="IdSubjects[<?php echo $cnt;?>]" name="IdSubjects[<?php echo $cnt;?>]"></td>
    		<td><input type="checkbox" dojotype="dijit.form.CheckBox" readonly="readonly"/></td>
    		<td></td>
    		<td></td>
    		<?php $cnt++;?>
    		<?php }?>
    	</tr>
    	
    	<?php }?>
    	<?php }?>
    	<tr>
    		<td align="right" colspan="7"><input type='submit' class="NormalBtn"	dojotype="dijit.form.Button" name="Add" label="<?php echo $this->translate('Add')?>" value='Add'/><input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'index'),'default',true);?>';"/></td>
    		</td>
    	</tr>
    	</table>
    </fieldset>
    </Form>
    