<script type="text/javascript">

</script> 
<fieldset>
    <legend><?php echo $this->translate("Student Details");?></legend>
         <table class="table" width="100%" >
             <tr>
                 <td ><?php echo $this->translate("Student Name");?></td>
                 <td ><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['MName'].' '.$this->studentdetails['LName'];?></td>
                 <td ><?php echo $this->translate("IC No");?></td>
                 <td ><?php echo $this->studentdetails['ICNumber'];?></td>
              </tr>
              
             <tr>
                 <td ><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['ProgramName'];?></td>
                 <td ><?php echo $this->translate($this->Branch).' '.$this->translate("Name");?></td>
                 <td ><?php echo $this->studentdetails['CollegeName'];?></td>
              </tr>
             <tr>
                 <td ><?php echo $this->translate("Semester");?></td>
                 <td ><?php echo $this->presentsemester['SemesterMasterName'].' '.$this->presentsemester['year'];?></td>
                 <td ><?php echo $this->translate($this->Landscape).' '.$this->translate("Type");?></td>
                 <td ><?php echo $this->studentdetails['DefinitionDesc'];?></td>
              </tr>
              <tr>
              	  <td colspan=4 align=right><input type="button" class="NormalBtn"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'index'),'default',true);?>';" /></td>
              </tr>	  	
              
         </table>
</fieldset>
</br>
<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
	<script type="dojo/method" event="onSubmit">
            if (this.validate()) {
				return true;
            } else {
                return false;
            }
	</script>
	<!-- 
		<fieldset>
	   <legend><?php echo $this->translate("Compulsory");?> <?php echo $this->translate("$this->Subject");?><?php echo " ";?><?php echo $this->translate("Details");?></legend>
	
		         <table class="table" width="100%" >
		             <tr>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Name");?><?php echo $this->lobjAddDropSubjectForm->UpdDate;?></th>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Code");?><?php echo $this->lobjAddDropSubjectForm->UpdUser;?></th>
		                 <th ><?php echo $this->translate("Credit Hours");?></th>
		              </tr>
		              <?php foreach($this->compsubjectdetails as $compsubjectdetail) { ?>
		             <tr>
		                 <td ><?php echo $compsubjectdetail['SubjectName'];?></td>
		                 <td ><?php echo $compsubjectdetail['SubCode'];?></td>
		                 <td ><?php echo $compsubjectdetail['CreditHours'];?></td>
		              <?php }?>	
	         	</table>
	        
	</fieldset>
	 --> 
	
	<fieldset>
	    <legend><?php echo $this->translate("$this->Subject");?><?php echo " ";?><?php echo $this->translate("Details");?></legend>
	
		         <table class="table" width="100%" >
		             <tr>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Name");?><?php echo $this->lobjAddDropSubjectForm->UpdDate;?></th>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Code");?><?php echo $this->lobjAddDropSubjectForm->UpdUser;?></th>
		                 <th width="20%"><?php echo $this->translate("Credit Hours");?></th>
		                 <th ><?php echo $this->translate("Action");?></th>
		              </tr>
		              <?php foreach($this->subjectdetails as $subjectdetail) { ?>
		             <tr>
		                 <td ><?php echo $subjectdetail['SubjectName'];?></td>
		                 <td ><?php echo $subjectdetail['SubCode'];?></td>
		                 <td ><?php echo $subjectdetail['CreditHours'];?></td>
		                <td ><input type='checkbox' value='<?php echo $subjectdetail['IdStudentRegSubjects'];?>' dojoType='dijit.form.CheckBox' name='idregsubjects[]'/></td>
		               </tr>
		             <?php }?>   
	               	<tr>
	               	
	                    <td colspan=4 align = "right"><?php echo $this->lobjAddDropSubjectForm->Save;?>
	                    </td> 
	                </tr> 
	         	</table>
	        
	</fieldset>
</br>
	<fieldset>
	    <legend><?php echo $this->translate("Add");?><?php echo " ";?><?php echo $this->translate("$this->Subject");?></legend>
		         <table class="table" width="100%" >
		             <tr>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Name");?></th>
		                 <th width="34%"><?php echo $this->translate("$this->Subject Code");?></th>
		                 <th width="20%"><?php echo $this->translate("Credit Hours");?></th>
		                 <th ><?php echo $this->translate("Action");?><?php echo $this->lobjAddDropSubjectForm->IdStudentRegistration;?></th>
		              </tr>
		              <?php foreach($this->dropsubjectdetails as $dropsubjectdetail) { ?>
		             <tr>
		                 <td ><?php echo $dropsubjectdetail['SubjectName'];?></td>
		                 <td ><?php echo $dropsubjectdetail['SubCode'];?></td>
		                 <td ><?php echo $dropsubjectdetail['CreditHours'];?></td>
		                <td ><input type='checkbox' value='<?php echo $dropsubjectdetail['IdStudentRegSubjects'];?>' dojoType='dijit.form.CheckBox' name='idregsubjects[]'/></td>
		               </tr>
		             <?php }?> 
		              
	                    <td colspan=4 align = "right"><?php echo $this->lobjAddDropSubjectForm->Add;?>
	                    </td> 
	                </tr> 
	         	</table>
	         </Form>
	</fieldset>
 </Form>