<script>
$( document ).ready(function() {
	
	$( ".dropClass" ).click(function(event) {

		var msg = confirm('<?php echo $this->translate("Are you sure you want to drop this subject?"); ?>');

		if(msg){

			url = $(this).attr('href');
			$ajax({
				url:uri,
				method:'GET'
			})
		}else{
			event.preventDefault();
		}
		
		
	});
	
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'add','id'=>$this->registrationId),'default',true);?>">
					<span class='add'></span>
					Add Course
				</a>
			</li>
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>
<br>

<div class="message error"><strong><?php echo $this->translate("Subject can be only drop during Add&Drop Period");?></strong>.</div>

<?php 
$courseRegisterDb = new Registration_Model_DbTable_Studentregistration();
$landscapeSubjectDb  = new GeneralSetup_Model_DbTable_Landscapesubject();

if($this->landscape["LandscapeType"]==43){ 
	if(count($this->semester) > 0){
		foreach($this->semester as $semester){			
			//get course registered  per semester
  			$courses = $courseRegisterDb->getCourseRegisteredBySemester($semester["IdStudentRegistration"],$semester["IdSemesterMain"]);
?>

				<h3><?php echo $semester["SemesterMainName"];?> [<?php echo $semester["SemesterMainCode"];?>]</h3>						
  				<table class="table" width="100%" cellpadding="5" cellspacing="1">
			  	<tr>			  	  		  	   
			  		<th><?php echo $this->translate("Course Name")?></th>
			  		<th><?php echo $this->translate("Course Code")?></th>
			  		<th><?php echo $this->translate("Course Type")?></th>
			  		<th><?php echo $this->translate("Credit Hours")?></th>
			  		<th><?php echo $this->translate("Status")?></th>
			  		<th></th>
			  	</tr>			  	
			  	<?php   
			  	foreach($courses as $course){  
			  		
			  	//get course type			  
			  	$subjectInfo = $landscapeSubjectDb->getCourseInfo($course["IdLandscapeSub"]);
  			 	
			  	?>
			  	<tr>			  			  	
			  		<td><?php echo ($course["BahasaIndonesia"]!='' ? $course["BahasaIndonesia"]:$course["SubjectName"]); ?></td>
			  		<td><?php echo $course["SubCode"]; ?></td>
			  		<td><?php echo $subjectInfo["DefinitionDesc"];?></td>
			  		<td><?php echo $course["CreditHours"]; ?></td>
			  		<td><?php 
			  				if($course["Active"]==1) echo $this->translate("Register"); 
			  				if($course["Active"]==0) echo $this->translate("Not Register"); 
			  			?></td>
			  		<td>
			  		<?php if($semester['drop']==0){?>
			  			<a href='<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'drop','id'=>$this->registrationId,'idCourse'=>$course['IdStudentRegistration']),'default',true);?>' class='dropClass'><?php echo $this->translate("Drop")?></a>
			  		<?php }else{
						echo $this->translate('Drop');
			  		}
			  		?>
			  		</td>
			  	</tr>
			  	<?php  } //end foreach ?>
			  	
			  </table>
			  <br>
 			  <br>


<?php 
		}//end if semester
	}//end if
} //end Semester landscape ?>
	
	


<?php 
$courseRegisterDb = new Registration_Model_DbTable_Studentregistration();
$blockSubjectDB = new GeneralSetup_Model_DbTable_LandscapeBlockSubject();

if ($this->landscape["LandscapeType"]==44) {

	if(count($this->blocks)>0){ 
		foreach($this->blocks as $block){
			
			//get course registered  by block
  			
  			$courses = $courseRegisterDb->getCourseRegisteredByBlock($block["IdStudentRegistration"],$block["IdBlock"]);
  			
?>

 				<h2><?php echo $block["blockname"];?></h2>
  				<table class="table" width="100%" cellpadding="5" cellspacing="1">
			  	<tr>
			  	    <th><?php echo $this->translate("Semester Level")?></th>
			  	    <th><?php echo $this->translate("Semester Name")?></th>
			  		<th><?php echo $this->translate("Course Name")?></th>
			  		<th><?php echo $this->translate("Course Code")?></th>
			  		<th><?php echo $this->translate("Course Type")?></th>
			  		<th><?php echo $this->translate("Credit Hours")?></th>
			  		<th><?php echo $this->translate("Status")?></th>
			  	</tr>			  	
			  	<?php   
			  	foreach($courses as $course){  
			  		
			  	//get course type
  				
  				$blockSubjectInfo = $blockSubjectDB->getBlockCourseInfo($this->studentdetails["IdLandscape"],$block["IdBlock"],$course["IdSubject"]);	
			  	
			  	?>
			  	<tr>
			  		<td><?php echo $block["semester_level"];?></td>
			  		<td><?php echo $block["SemesterMainCode"];?></td>
			  		<td><?php echo ($course["BahasaIndonesia"]!='' ? $course["BahasaIndonesia"]:$course["SubjectName"]); ?></td>
			  		<td><?php echo $course["SubCode"]; ?></td>
			  		<td><?php echo $blockSubjectInfo["DefinitionDesc"];?></td>
			  		<td><?php echo $course["CreditHours"]; ?></td>
			  		<td><?php 
			  				if($course["Active"]==1) echo $this->translate("Register"); 
			  				if($course["Active"]==0) echo $this->translate("Not Register"); 
			  			?></td>
			  	</tr>
			  	<?php  } //end foreach ?>
			  	
			  </table>
			  <br>
 			  <br>

	
<?php 		}//end foreach
	} //end if
} //End Block Based Landscape ?>


