<script>

function createGroup(IdSubject,IdSemester,total_student){
	
	$( "#dialog-group-form" ).dialog('open');
	$( "#IdSubject" ).val(IdSubject);
	$( "#idSemester" ).val(IdSemester);
	$( "#total_student" ).val(total_student);
}

$(function() {

	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
    $( "#dialog-group-form" ).dialog({
      modal: true,
      autoOpen: false,
      width: 600,
      buttons: {
        "Cancel": function() {
          $( this ).dialog( "close" );
        },
        "Create": function() {
            
       	   $("#groupForm").submit();
       	   $( this ).dialog( "close" );
       	   
          }
      }
    });
});

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want drop students from this subject?");
		 if(msg){
			$("#form1").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student.");             	
		return false;
	}		
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});



$(function () {
	 
	 var str = "";
	 $('#checkall2').click(function () {	

		 var isChecked = $('#checkall2').is(':checked');

		 if(isChecked==true){			 
			 $('.chk2').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk2').prop('checked', false);
		 }
	 });
	
	 
});

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want drop this subject from student?");
		 if(msg){
			$("#form1").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student.");             	
		return false;
	}		
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
		<?php if(count($this->student_list)>0){ ?>	
			 <li>
				<a href="#" onclick="validate();" >
					<span class='save'></span>
					<?php echo $this->translate('Drop');?>
				</a>
			</li>	
		<?php } ?>
			 <li> 
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'subjectlist'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>					
			
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">
<div id="search_form" >
	<?php echo  $this->form;?>
</div>
<?php if(count($this->student_list)>0){ ?>

<fieldset>

<form id="form1" name="form1" method="POST" action="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'dropbysubject'),'default',true);?>">
<input type="hidden" name="idSubject" value="<?php echo $this->idSubject;?>">
<input type="hidden" name="idSemester" value="<?php echo $this->idSemester;?>">
<input type="hidden" name="IdCollege" value="<?php echo $this->IdCollege;?>">
<input type="hidden" name="subjectcode" value="<?php echo $this->subjectcode;?>">
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("College Name");?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>		
		<th><?php echo $this->translate("Religion"); ?></th>
		<th><?php echo $this->translate("Registration Date"); ?></th>
		<th><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>	
		
	</tr>

	<?php 
	
	$no =1; 
	foreach ($this->student_list as $student){ ?>
	<tr style="background-color:<?php echo $this->cycle(array("#FFFFFF","#F0F0F0"))->next()?>">
	    <td><?php echo $no;?>.</td>
		<td><?php print_r($this->escape($student['appl_fname'].' '.$student['appl_mname'].' '.$student['appl_lname']));?></td>
		<td><?php echo $student['collegename'];?></td>
		<td><?php echo $student['registrationId'];?></td>	
		<td><?php echo $student['religion'];?></td>	
		<td><?php echo date("d-m-Y",strtotime($student['UpdDate']));?></td>				
		<td align='center'>
		<input type="checkbox" class="chk" id="IdStudentRegSubjects[]" name="IdStudentRegSubjects[]" value="<?php echo $student['IdStudentRegSubjects'];?>" >
		<?php echo $student['IdStudentRegSubjects'];?>
		
		</td>
	</tr>
	<?php $no++; }?>
</table>

</form>

<?php } ?>

</fieldset>
</div>