<script>
$(function() {
	getProgramScheme('#IdProgram');
});

function validate_form(){

	var registrationId_from = $("#registrationId_from").val();
	var registrationId_to = $("#registrationId_to").val();
	
	if(registrationId_from != ''){
			
		if(registrationId_to == ''){
			
			alert("Please enter Student ID to");
			return false;
		}else{
			return true;
		}
		
	}else{

		return true;
	}

	
}

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want to proceed with course registration?");
		 if(msg){
			$("#CourseRegistrationForm").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student for course registration.");             	
		return false;
	}		
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});


function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php if(!empty($this->IdProgramScheme)) echo $this->IdProgramScheme; ?>';

	if(idProgram){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						
				    	$('#IdProgramScheme').empty();
						$('#IdProgramScheme').append('<option value="">-- Please Select --</option>');			    	
				    	$.each(data, function(index) {
					    	if(IdProgramScheme==data[index].IdProgramScheme){
								var sel = 'selected';
					    	}else{
								var sel = '';
					    	}
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+'-'+data[index].StudyMode+'-'+data[index].ProgramType+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
	}

}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">		
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<?php echo $this->form;?>
<br></br>
<?php if(count($this->student_list)>0){ ?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>		
		<th><?php echo $this->translate("Registration Date"); ?></th>
		<th></th>
	</tr>

	<?php 
	
	$no =1; 
	foreach ($this->student_list as $student){ ?>
	<tr style="background-color:<?php echo $this->cycle(array("#FFFFFF","#F0F0F0"))->next()?>">
	    <td><?php echo $no;?>.</td>
		<td><?php print_r($this->escape($student['appl_fname'].' '.$student['appl_mname'].' '.$student['appl_lname']));?></td>
		<td><?php echo $student['registrationId'];?></td>		
		<td><?php echo date("d-m-Y",strtotime($student['UpdDate']));?></td>	
		<td align='center'>
		<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'adddropsubject', 'action'=>'course-list','id'=>$student['IdStudentRegistration']),'default',true);?>"><?php echo $this->translate('View');?></a>
		</td>
	</tr>
	<?php $no++; }?>
</table>


<?php 
}
?>