<?php
$this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js');
$this->headScript()->appendFile( $this->baseUrl().'/js/jquery/plugin/tagsinput/jquery.tagsinput.min.js');
$this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/tagsinput/jquery.tagsinput.css');

?>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>
<script type="text/javascript">
    $(function(){
        CKEDITOR.replace('content_ide',{
            removePlugins : 'resize, placementtest',
            toolbar : 'Full',
            height: '400px'
        });

        $('.check-all').on('click', function(){
            $('.check').prop('checked', this.checked);
            if ( this.checked == true ){
                $('.check').parent().parent().addClass('hlchk');
            }else{
                $('.check').parent().parent().removeClass('hlchk');
            }
        });

        $('.check').on('change', function(){
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if ( this.checked == true ){
                if ($('.check').not(':checked').length == 0){
                    $('.check-all').prop('checked', true);
                }else{
                    $('.check-all').prop('checked', false);
                }
            }
            else{
                $('.check-all').prop('checked', false);
            }
        });

        $('#save').on('click', function (){
            if ($('.check').is(':checked') == false){
                alert('Please select at least one student');
                return false;
            }else{
                var ask = confirm('Are you sure?');

                if (ask == true){
                    return true;
                }else{
                    return false;
                }
            }
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'manage-class', 'id'=>$this->groupid),'default',true);?>">
                    <span class='skip'></span>
                    <?php echo $this->translate("Skip");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<div class="message notice"><span class="icon-info-circled"></span> You can click skip button if you dont want to send a notification</div>
<br/>
<form method="post" id="form_notification" name="form_notification">
    <textarea name="content_ide" class="tpl_content"><?php echo $this->content; ?></textarea>
    <br/>
    <div class="message notice"><span class="icon-info-circled"></span> Please select at list one student</div>
    <br/>
    <table class="table" width="100%">
        <tr>
            <th><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Mode of Study'); ?></th>
            <th><?php echo $this->translate('Mode of Programme'); ?></th>
            <th><?php echo $this->translate('Status'); ?></th>
        </tr>
        <?php
        if ($this->studentList) {
            $no = 0;
            foreach ($this->studentList as $studentLoop) {
                $no++;
                ?>
                <tr>
                    <td align="center"><input type="checkbox" name="check[<?php echo $studentLoop['IdStudentRegistration']; ?>]" id="check_<?php echo $studentLoop['IdStudentRegistration']; ?>" class="check"></td>
                    <td><?php echo $studentLoop['studentName']; ?></td>
                    <td><?php echo $studentLoop['registrationId']; ?></td>
                    <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
                    <td align="center"><?php echo $studentLoop['mos']; ?></td>
                    <td align="center"><?php echo $studentLoop['mop']; ?></td>
                    <td align="center"><?php echo $studentLoop['Active']!=3 ? 'Active':'Withdraw'; ?></td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save" value="save"><?php echo $this->translate('Send'); ?></button>
    </div>
</form>