<script type="text/javascript">
    $(function(){
        $('#date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $("#starttime, #endtime").timePicker({
            startTime: "06:00", // Using string. Can take string or Date object.
            endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
            show24Hours: true,
            separator: ':',
            step: 15
        });

        var oldTime = $.timePicker("#starttime").getTime();

        // Keep the duration between the two inputs.
        $("#starttime").change(function(){
            if ($("#endtime").val()){ // Only update when second input has a value.
                // Calculate duration.
                var duration = ($.timePicker("#endtime").getTime() - oldTime);
                var time = $.timePicker("#starttime").getTime();
                // Calculate and update the time in the second input.
                $.timePicker("#endtime").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });
        // Validate.
        $("#endtime").change(function() {
            if($.timePicker("#starttime").getTime() > $.timePicker(this).getTime()) {
                $(this).addClass("error");
            }
            else {
                $(this).removeClass("error");
            }
        });

        $('#date').attr('disabled', '');
        $('#starttime').attr('disabled', '');
        $('#endtime').attr('disabled', '');
        $('#venue').attr('disabled', '');
        $('#lecturer').attr('disabled', '');
    });

    function changeType(value){

        if (value==1033){
            $('#date').removeAttr('disabled');
            $('#starttime').removeAttr('disabled');
            $('#endtime').removeAttr('disabled');
            $('#venue').removeAttr('disabled');
            $('#lecturer').removeAttr('disabled');
        }else{
            $('#date').attr('disabled', '');
            $('#starttime').attr('disabled', '');
            $('#endtime').attr('disabled', '');
            $('#venue').attr('disabled', '');
            $('#lecturer').attr('disabled', '');
        }
    }

    function preview(){
        var type = $('#mtype').val();
        var date = $('#date').val();
        var starttime = $('#starttime').val();
        var endtime = $('#endtime').val();
        var venue = $('#venue').val();
        var lecturer = $('#lecturer').val();

        var content = '';

        if (type == 1033){
            content = ''

            var ask = confirm('Are you sure you want to posphone this class from <?php echo $this->populateData['date']; ?> to '+date);

            if (ask){
                return true;
            }else{
                return false;
            }
        }else{
            var ask = confirm('Are you sure you want to cancel this class');

            if (ask){
                return true;
            }else{
                return false;
            }
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'manage-class', 'id'=>$this->groupid),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<form method="post" id="scheduleform" name="scheduleform">
    <table width="100%">
        <tr>
            <td><?php echo $this->translate('Type'); ?> <span class="reqMark">*</span></td>
            <td>
                <select required="true" class="select" id="mtype" name="mtype" onchange="changeType(this.value);">
                    <?php
                    if ($this->manageType) {
                        foreach ($this->manageType as $manageTypeLoop) {
                            ?>
                            <option value="<?php echo $manageTypeLoop['idDefinition']; ?>"><?php echo $manageTypeLoop['DefinitionDesc']; ?></option>
                            <?php
                        }
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Date'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->date; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Start Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->starttime; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('End Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->endtime; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Venue'); ?> <!--<span class="reqMark">*</span>--></td>
            <td><?php echo $this->form->venue; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->lecturer; ?></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" id="groupid" name="groupid" value="<?php echo $this->groupid; ?>">
                <input type="hidden" id="scdate" name="scdate" value="<?php echo $this->date; ?>">
            </td>
            <td><button type="submit" id="save" name="save" onclick="return preview();"><?php echo $this->translate('Submit'); ?></button></td>
        </tr>
    </table>
</form>