<script type="text/javascript">
    function getSemester(id){

        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('semester');
            },
            complete: function() {
                hideLoading('semester');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'</option>';
                });
                $('#semester').html(content);
            })
            .fail(function() {
                alert("error load semester");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function setQouta(){
        if ($('.merge:checked').length < 2){
            alert('Please select at least two class');
            return false;
        }else{
            var grouplist = '';
            $.each($(".merge:checked"), function(){
                grouplist += $(this).val()+'<br />';
            });
            $('#grouplist').append(grouplist);
            dialog.dialog( "open" );
            return false;
        }
    }

    function viewMerge(id){
        $('#merge_id').val(id);

        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'get-merge-class'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('semester');
            },
            complete: function() {
                hideLoading('semester');
            }
        })
        .done(function(data) {
            var content = '';
            $('#grouplist2').empty();
            $.each(data,function(index){
                content += data[index].SubCode+' - '+data[index].GroupName+'<br />';
                $('#qouta2').val(data[index].tmg_quota);
                $('#qoutah2').val(data[index].tmg_quota);
            });
            $('#grouplist2').append(content);
        })
        .fail(function() {
            alert("error load semester");
        });

        dialog2.dialog( "open" );
        return false;
    }

    $(function(){
        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Merge Class": function() {
                    $('#qoutah').val($('#qouta').val());

                    if ($('#qouta').val == '' || $('#qouta').val == 'undefined' || $.isNumeric($('#qouta').val()) == false){
                        alert('Please enter a number');
                    }else{
                        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'merge-class'),'default',true);?>";
                        $('#mergeform').attr('action',url);
                        $('#mergeform').submit();
                        return true;
                    }
                },
                Cancel: function() {
                    dialog.dialog( "close" );
                    return false;
                }
            },
            close: function() {
                return false;
            }
        });

        dialog2 = $( "#dialog-form2" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Save Edit": function() {
                    $('#qoutah2').val($('#qouta2').val());

                    if ($('#qouta2').val == '' || $('#qouta2').val == 'undefined' || $.isNumeric($('#qouta2').val()) == false){
                        alert('Please enter a number');
                    }else{
                        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'edit-merge-class'),'default',true);?>";
                        $('#mergeform2').attr('action',url);
                        $('#mergeform2').submit();
                        return true;
                    }
                },
                "Remove Merge": function() {
                    $('#qoutah2').val($('#qouta2').val());

                    /*if ($('#qouta2').val == '' || $('#qouta2').val == 'undefined' || $.isNumeric($('#qouta2').val()) == false){
                        alert('Please enter a number');
                    }else{*/
                        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'remove-merge-class'),'default',true);?>";
                        $('#mergeform2').attr('action',url);
                        $('#mergeform2').submit();
                        return true;
                    //}
                },
                Cancel: function() {
                    dialog2.dialog( "close" );
                    return false;
                }
            },
            close: function() {
                return false;
            }
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Department'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->scheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Code'); ?></td>
                <td><?php echo $this->form->subcode; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Name'); ?></td>
                <td><?php echo $this->form->coursename; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="button" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'clear'),'default',true);?>';" id="clear" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<form method="post" id="mergeform" name="mergeform" action="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'merge-class'),'default',true);?>">
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('Group Name'); ?></th>
            <th><?php echo $this->translate('Group Code'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('Course Name'); ?></th>
            <th><?php echo $this->translate('Merge') ?></th>
            <th></th>
        </tr>
        <?php
        if ($this->class) {
            foreach ($this->class as $loop) {
                ?>
                <tr>
                    <td><?php echo $loop['GroupName']; ?></td>
                    <td align="center"><?php echo $loop['GroupCode']; ?></td>
                    <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                    <td align="center"><?php echo $loop['SubCode'].' - '.$loop['SubjectName']; ?></td>
                    <td align="center">
                        <?php
                        if ($loop['merge_id']==0) {
                            ?>
                            <input type="checkbox" name="merge[<?php echo $loop['IdCourseTaggingGroup']; ?>]"
                                   id="merge<?php echo $loop['IdCourseTaggingGroup']; ?>" class="merge"
                                   value="<?php echo $loop['SubCode'] . ' - ' . $loop['GroupName']; ?>">
                            <?php
                        }else{
                            ?>
                            <a href="javascript:void(0);" onclick="viewMerge(<?php echo $loop['merge_id']; ?>);"><?php echo $this->translate('Merged'); ?></a>
                            <?php
                        }
                        ?>
                    </td>
                    <td align="center" class="options">
                        <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'manage-class', 'id'=>$loop['IdCourseTaggingGroup']),'default',true);?>"><?php echo $this->translate('Manage Class'); ?></a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <?php
    if ($this->class) {
        ?>
        <div class="form-opt">
            <button type="submit" name="merge" id="merge" value="merge" onclick="return setQouta();"><?php echo $this->translate('Merge'); ?></button>
        </div>
        <?php
    }
    ?>

    <div id="dialog-form" title="Set Qouta">
        <fieldset>
            <legend><?php echo $this->translate('List of class to be merge'); ?></legend>
            <div id="grouplist"></div>
        </fieldset>
        <br/>
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Qouta'); ?> <span class="reqMark">*</span></td>
                <td><input type="number" required="required" name="qouta" id="qouta" value="" placeholder="Set qouta here..." class="input-txt"></td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="qoutah" name="qoutah" value="0">
</form>

<div id="dialog-form2" title="Set Qouta">
    <fieldset>
        <legend><?php echo $this->translate('List of merge class'); ?></legend>
        <div id="grouplist2"></div>
    </fieldset>
    <br/>
    <form method="post" id="mergeform2" name="mergeform2" action="">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Qouta'); ?> <span class="reqMark">*</span></td>
                <td><input type="number" required="required" name="qouta2" id="qouta2" value="" placeholder="Set qouta here..." class="input-txt"></td>
            </tr>
        </table>
        <input type="hidden" id="qoutah2" name="qoutah2" value="0">
        <input type="hidden" id="merge_id" name="merge_id" value="0">
    </form>
</div>