<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'add-class', 'id'=>$this->groupid),'default',true);?>';" >
                    <span class='add'></span>
                    <?php echo $this->translate("Add Class");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Schedule Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="15%"><?php echo $this->translate('Group Name'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Group Code'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Course'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Max Student'); ?></td>
            <td>:</td>
            <td><?php echo $this->groupInfo['maxstud']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<table class="table" width="100%">
    <thead>
    <tr>
        <th>Class Type</th>
        <th>Lecturer</th>
        <th>Day</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Venue</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php
    if ($this->classList) {
        foreach ($this->classList as $classScheduleLoop) {
            ?>
            <tr>
                <td align="center"><?php echo $classScheduleLoop['classtype']; ?></td>
                <td align="center"><?php echo $classScheduleLoop['lecturername']; ?></td>
                <td align="center"><?php echo date('l', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($classScheduleLoop['sc_date'])); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_date'].' '.$classScheduleLoop['sc_start_time']))); ?></td>
                <td align="center"><?php echo strtoupper(date('h:i a', strtotime($classScheduleLoop['sc_date'].' '.$classScheduleLoop['sc_end_time']))); ?></td>
                <td align="center"><?php echo $classScheduleLoop['veneuname']; ?></td>
                <td align="center"><?php echo $classScheduleLoop['sc_status']==1 ? 'Active':'Cancel'; ?></td>
                <td align="center" class="options">
                    <?php
                    if ($classScheduleLoop['sc_status']==1) {
                        ?>
                        <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'manage-class-schedule', 'action' => 'edit-class', 'groupid' => $this->groupInfo['IdCourseTaggingGroup'], 'date' => strtotime($classScheduleLoop['sc_date'])), 'default', true); ?>"><?php echo $this->translate('Edit'); ?></a>
                        |
                        <?php
                    }else{
                        ?>
                        <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'manage-class-schedule', 'action' => 'activate-class', 'groupid' => $this->groupInfo['IdCourseTaggingGroup'], 'date' => strtotime($classScheduleLoop['sc_date'])), 'default', true); ?>"><?php echo $this->translate('Activate'); ?></a>
                        |
                        <?php
                    }
                    ?>
                    <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'manage-class-schedule', 'action' => 'history', 'groupid' => $this->groupInfo['IdCourseTaggingGroup'], 'date' => strtotime($classScheduleLoop['sc_date']), 'scid'=>$classScheduleLoop['sc_id']), 'default', true); ?>"><?php echo $this->translate('History'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>