<script>
$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>	
</div>

<br />

<fieldset>
<legend><?php echo $this->translate('Search');?></legend>
<?php echo $this->form; ?>
</fieldset>

<br>

<?php if(count($this->student)>0) { ?>
<form id="form1" method="post">

<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Name')?></th>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate('Programme')?></th>
		<th><?php echo $this->translate('MOHE ')?></th>
		<th><?php echo $this->translate('MOFA')?></th>
		<th><?php echo $this->translate('Embassy / High Commission')?></th>
		<th><?php echo $this->translate('Applied Date')?></th>
		<th><?php echo $this->translate('Fee')?></th>		
		<th><?php echo $this->translate('Status')?></th>
		<th><?php echo $this->translate('Approval Date')?></th>
		<th width="10%"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	</tr>
	<?php 	 
		foreach($this->student as $index=>$student){
	?>
	<tr>
		<td><?php echo $student['student_name']; ?></td>		
		<td align='center'><?php echo $student['registrationId']; ?></td>
		<td align='center'><?php echo $student['ProgramCode']; ?></td>
		<td align='center'><?php echo ($student['opt_mohe']==1) ? 'Yes':'No'; ?></td>
		<td align='center'><?php echo ($student['opt_mofa']==1) ? 'Yes':'No'; ?></td>
		<td align='center'><?php echo ($student['opt_embassy']==1) ? 'Yes <br>'.$student['opt_embassy_location']:'No'; ?></td>
		<td align='center'><?php echo date('d-m-Y h:i:s',strtotime($student['applied_date'])); ?></td>
		<td align='center'>RM 10.00</td>
		<td align='center'><?php echo $student['status']; ?></td>
		<td align='center'><?php echo ($student['approval_date']) ? date('d-m-Y h:i:s',strtotime($student['approval_date'])):''; ?></td>
		<td  align='center'>
		<?php if($student['status']==='APPLIED'){?>
		<input class='chkbx'  type='checkbox' name='id[]' id='id' value='<?php echo $student['id']; ?>'></td>
		<?php } ?>
	</tr>
	<?php 
		}?>
		
	
</table>
<?php 
	if(count($this->student)>0 && $this->status==='APPLIED') { 		
	?>
<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='Approve'></input>&nbsp;
	<input type='submit' name='submit' class='btn-submit' value='Reject'></input>
</div>
<?php } ?>
</form>

<?php 
	}
	?>