<?php 
    header('Content-Type: application/xlsx');
    header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php if (count($this->list) > 0){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table tablesorter" width="100%" cellpadding="5" cellspacing="1" id="myTable">
	<thead>
	<tr>
		<th>No</th>
		<th><?php echo $this->translate("Lecturer Name ");?></th>
		<th><?php echo $this->translate("Branch");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		
		<?php 
		
		$chapter = $this->list[0]['chapter'];
		foreach($chapter as $chp){
		?>
		<th>Rank</th>
		<th width="100px"><?php echo $chp['registration_item'];?></th>
		<th>Rating</th>
		<?php }?>
		
	</tr>
	</thead>
	<tbody>
	<?php 	
	$bil=1;  
	$total = array();  	
	
	foreach ($this->list as $m=>$lobjstudents){
		
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><?php echo $this->escape($lobjstudents['FullName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		
		<?php 
		foreach($lobjstudents['chapter'] as $key=>$chp){
		$weightage = $chp['total']['weightage'];
		$rank = $this->ranks[$chp['registration_item']][sprintf('%.2f',$weightage)];//["$weightage"];
			?>
		<td align="center"><?php echo $rank;?></td>
		<td align="center"><?php echo $weightage;?></td>
		<td align="center"><?php echo $chp['total']['rating'];?></td></td>
		<?php 
		
			if(isset($total[$key])){
				$total[$key][$m] += $weightage;
			}
		}?>
	</tr>	
	
   <?php 
   $bil++;
	} 
	
	?>
	</tbody>
</table>
<?php 

} ?>