<script type="text/javascript">

$(function(){

	getSemester('#scheme');
	getProgram('#scheme');
	
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});

	$('#check_all_program').change(function(){
		if( $(this).prop('checked') ){
			$('.checkprogram').prop('checked',true);
		}else{
			$('.checkprogram').prop('checked',false);
		}
	});
	
});

$(function() {
	$('#check_all').change(function(){
		if( $(this).prop('checked') ){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
	});
	

});


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report-lecturer', 'action'=>'print-summary'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
}

function getSemester(element){

	 var idScheme = $(element).val();
	 var IdSemester = <?php echo isset($this->semester)?$this->semester:0;?>;

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
					$('#semester').empty();
					$.each(data, function(index) {

				    	if(IdSemester != 0  && IdSemester==data[index].IdSemesterMaster){
							var sel = 'selected';
				    	}else{
							var sel = '';
				    	}
						
			    		$('#semester').append('<option value="'+data[index].IdSemesterMaster+'"'+sel+'>'+data[index].SemesterMainName+'</option>');	
					});
				
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('semester');
		      
			},
			complete: function() {
				hideLoading('semester');
			}  	
		});
}

function inArray(needle, haystack) {
    var length = haystack.length;
    for(var i = 0; i < length; i++) {
        if(haystack[i] == needle) return true;
    }
    return false;
}

function getProgram(element){

	 var idScheme = $(element).val();
	

	 if(idScheme != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-program-by-scheme'),'default',true);?>",
			data: {'idScheme':idScheme},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#programdiv').empty();
					    	
		    	$.each(data, function(index) {
                            var checked = '';
                            
                            <?php
                            if ($this->program){
                            ?>
                            if (inArray(data[index].IdProgram, <?php echo Zend_Json::encode($this->program); ?>)){
                                checked = 'checked=""';
                            }
                            <?php
                            }
                            ?>

                            $('#programdiv').append('<input type="checkbox"  name="program[]" id="program[]" value="'+data[index].IdProgram+'" class="checkprogram" '+checked+'>'+data[index].ProgramName+'<br>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('programdiv');
		      
			},
			complete: function() {
				hideLoading('programdiv');
			}  	
		});
	 }
}

$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true
	});
});
</script>
<div class="message toolbar">
<h2><?php echo $this->title; ?></h2>
<div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>
	<li>
            <a href="#" onclick='print()'> <span class='download'></span>
                <?php echo $this->translate("Download");?>
            </a>
        </li>
    </ul>      
    <?php } ?>  
</div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Branch');?></td>
		<td>
			<select name="branch" id="branch" class="select">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php 
				foreach($this->branchData as $branch){
					$selected= '';
					if($this->branch == $branch['id']){
						$selected = "selected='selected'";
						
					}
					?>
				<option value="<?php echo $branch['id'];?>"
				<?php echo $selected;?>><?php echo $branch['value'];?></option>
				<?php }?>
			
			</select>
			</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Scheme');?></td>
		<td><select name="scheme" id="scheme" class="select"
			onchange="getProgram(this);getSemester(this);">
			<option value=""><?php echo $this->translate("Please select");?></option>
				<?php foreach($this->schemeData as $scheme){
				$selected= '';
				if($this->scheme == $scheme['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $scheme['key'];?>"
				<?php echo $selected;?>><?php echo $scheme['value'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
			<td><input type="checkbox" name="" id="check_all_program" />ALL<br>
			<div id="programdiv"></div></td>
			
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Mode of Programme');?></td>
		<td><select name="mop" id="mop" class="select">
		
				
				
				<?php foreach($this->mopData as $mop){
				$selected= '';
				if($this->mop == $mop['idDefinition']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $mop['idDefinition'];?>"
				<?php echo $selected;?>><?php echo $mop['DefinitionDesc'];?></option>
				<?php }?>
				
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>
		<select name="semester" id="semester" class="select">
		<option value="">Please select</option>
		
		</select>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if (count($this->paginator)){	?>
<?php echo $this->translate("Total no. of records: ").count($this->list); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th rowspan="2">No</th>
		<th rowspan="2"><?php echo $this->translate("Lecturer");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Code");?></th>
		<th rowspan="2"><?php echo $this->translate("Course Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Branch Name");?></th>
		<th rowspan="2"><?php echo $this->translate("Mode of Programme");?></th>
		<th colspan="<?php echo count($this->paginator[0]['data'])?>"><?php echo $this->translate("Overall Weightage");?></th>
		<th rowspan="2"><?php echo $this->translate("% Responded");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Registered ");?></th>
		<th rowspan="2"><?php echo $this->translate("No. of Students Responded");?></th>
		<th rowspan="2"></th>
		
	</tr>
	<tr>
		<?php 
		foreach($this->paginator[0]['data'] as $pl){?>
			<th width="100px"><?php echo $pl['chaptername'];?></th>
		<?php }?>
	</tr>
	
	<?php 	
	
	$bil=1;    	
	foreach ($this->paginator as $lobjstudents){
		
		if($lobjstudents['total_registered'] != 0){
			$percentage = round(($lobjstudents['total_response']/$lobjstudents['total_registered']) * 100,2);
		}else{
			$percentage = 0;
		}
	?>
	<tr>
		<td><?php echo $bil;?>.</td>
		<td><a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report', 'action'=>'individual','id'=>$lobjstudents['parent_id'],'IdCourseTaggingGroup'=>$lobjstudents['IdCourseTaggingGroup'],'idScheme'=>$this->scheme,'mop'=>$this->mop,'IdProgram'=>implode(',',$this->program)),'default',true);?>"><?php echo $this->escape($lobjstudents['FullName']);?></a></td>
		<td><?php echo $this->escape($lobjstudents['SubCode']);?></td>
		<td><?php echo $this->escape($lobjstudents['SubjectName']);?></td>
		<td><?php echo $this->escape($lobjstudents['BranchName']);?></td>
		<td><?php echo $this->escape($lobjstudents['modeName']);?></td>
		
		<?php 
		$totalWeigtage = 0;
//		$bileffective = count($this->paginator[0]['data']);
//		$pl = $lobjstudents['data'];
//		for($n=0;$n<$bileffective;$n++){
			
		foreach($lobjstudents['data'] as $pl){
		?>
		<td align="center"><?php echo isset($pl['totalWeightageAll'])?$pl['totalWeightageAll']:0;?></td>
		<?php 
//			$totalWeigtage += isset($pl[$n]['totalWeightageAll'])?$pl[$n]['totalWeightageAll']:0;
		}
//		$totalEffective = round($totalWeigtage/$bileffective,2);
		
		?>
		<td align="center"><?php echo $percentage;?>%</td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_registered']);?></td>
		<td align="center"><?php echo $this->escape($lobjstudents['total_response']);?></td>
		



<td align="center"><a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'report-lecturer', 'action'=>'raw-data','id'=>$lobjstudents['parent_id'],'IdCourseTaggingGroup'=>$lobjstudents['IdCourseTaggingGroup'],'idScheme'=>$this->scheme,'mop'=>$this->mop,'IdProgram'=>implode(',',$this->program)),'default',true);?>" target="_blank">Download</a></td>
		
	</tr>	        
   <?php 
   $bil++;
	} 
	?>
	
</table>
<?php } ?>