<div class="breadcrum">
    <ul class="tri-steps">
        <li class="prevDone">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'logdocument-remark', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Remark Setup"); ?></a>
            </div>
        </li>
        <li class="current">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'logdocument-status', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Status Setup"); ?></a>
            </div>
        </li>
      <li class="last">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'logdocument', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Document Setup"); ?></a>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a id="dt_add" href="/generalsetup/logdocument-status/add">
                    <span class='add'></span>
                    <?php echo $this->translate('Add'); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<br/>

<fieldset>
    <legend><?php echo $this->translate('Search') ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/generalsetup/logdocument-status/index/search/1" method="POST">
        <?php echo $this->form; ?>
</fieldset>
<br/>

<?php if(isset($this->noticeMessage)){?>
    <div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
    <div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeError)){?>
    <div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
    <br />
<?php }?>


<h3><?php echo $this->translate('Status') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%">

    <thead>
    <tr>
        <th><?php echo $this->translate('Id'); ?></th>
        <th><?php echo $this->translate('Status (English)'); ?></th>
        <th><?php echo $this->translate('Status (Malay)'); ?></th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <?php if ($this->paginator) {

        foreach ($this->paginator as $log) {
            ?>
            <tr>

                <td><?php echo $log['tls_id'];?></td>
                <td><?php echo $log['tls_status'];?></td>
                <td><?php echo $log['tls_status_malay'];?></td>
                <td align="center"><a href="/generalsetup/logdocument-status/edit/id/<?php echo $log['tls_id']; ?>"><?php echo $this->translate('Edit');?></a></td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>