<script>
function view_invoice(batch_id){
	$.fancybox({
		type: 'ajax',
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
		href		: '/studentfinance/batch-semester-invoice/view-invoice/batch/'+batch_id
	});
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/batch-semester-invoice/new-invoice" >
					<span class='add'></span>
					<?php echo $this->translate("Create Batch Invoicing"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<h2><?php echo $this->translate('History');?></h2>
<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Date');?></th>
		<th><?php echo $this->translate('Semester');?></th>
		<th><?php echo $this->translate('Faculty');?></th>
		<th><?php echo $this->translate('Program');?></th>
		<th><?php echo $this->translate('Total Invoice Record');?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	if($this->batch_list){
      foreach($this->batch_list as $index => $batch){
	?>
	<tr <?php echo $index%2==0?"class='shade'":""?> >
		<td><?php echo date('d-m-Y g:ia', strtotime($batch['create_date']));?></td>
		<td><?php echo $batch['semester_name']; ?></td>
		<td><?php echo $batch['faculty_name']; ?></td>
		<td><?php echo $batch['program_name']; ?> - <?php echo $batch['program_code'];?></td>
		<td align="center"><?php echo $batch['total_invoice']; ?></td>
		<td align="center">
		  <a href="/studentfinance/batch-semester-invoice/get-spc/batch/<?php echo $batch['id'];?>" target="_BLANK">BANK SPC</a> |
		  <a href="#" onclick="view_invoice(<?php echo $batch['id'];?>); return false;">View Invoice</a> 
		</td>
	</tr>
	<?php 
	  }
	}
	?>
</table>