<?php 
	
?>
<script>
	$(function(){
		
		$('#check_all').change(function(){
			if( $(this).prop('checked') ){
				$('.check').prop('checked',true);
			}else{
				$('.check').prop('checked',false);
			}
		});
		
	});

	function preview_invoice(student_id,fee_structure){
		$.fancybox({
			type: 'ajax',
			maxWidth	: 800,
			maxHeight	: 600,
			fitToView	: false,
			width		: '70%',
			height		: '70%',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'none',
			closeEffect	: 'none',
			href		: '/studentfinance/batch-semester-invoice/preview-invoice/id/'+student_id+'/fid/'+fee_structure
		});
	}
	
	function view_account(student_id){
		$.fancybox({
			type: 'ajax',
			maxWidth	: 800,
			maxHeight	: 600,
			fitToView	: false,
			width		: '70%',
			height		: '70%',
			autoSize	: false,
			closeClick	: false,
			openEffect	: 'none',
			closeEffect	: 'none',
			href		: '/studentfinance/account-student/ledger/id/'+student_id
		});
	}
</script>

<style>
.next_bar{
	width: 100%;
	background: #EEE;
	margin: 10px 0;
	padding: 2px 0;
	text-align: center;
}
select{
	width: 250px;
}
</style>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				
			</li>
		</ul>
	</div>
</div>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<!-- STEP 1 -->
<?php 
if($this->step == 1){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form id="form_1" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/1">
<table>
	<tr>
		<td>Semester</td>
		<td>:</td>
		<td>
			<select name="semester_id">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<?php 
				foreach ($this->semester_list as $semester):
					$select = "";
					if( isset($this->semester_id) && $this->semester_id==$semester['key'] ){
						$select = 'selected="selected"';
					}
				?>
					<option value="<?php echo $semester['key'];?>" <?php echo $select; ?>><?php echo $semester['value'];?></option>
				<?php 
				endforeach;
				?>
			</select>
		</td>
	</tr>
</table>
<div class="next_bar">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>
<?php 
}else
?>


<!-- STEP 2 -->
<?php 
if($this->step == 2){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<form id="form_2" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/2">
<table>
	<tr>
		<td>Program</td>
		<td>:</td>
		<td>
			<select name="program_id">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<?php 
				foreach ($this->faculty_list as $faculty):
					
					if( isset($faculty['program_list']) ){
						
						echo '<optgroup label=" Fakultas '.$faculty['ArabicName'].'">';
						
						foreach ($faculty['program_list'] as $program){
							$select = "";
							if( isset($this->program_id) && $this->program_id==$program['IdProgram'] ){
								$select = 'selected="selected"';
							}
						
				?>
					<option value="<?php echo $program['IdProgram'];?>" <?php echo $select; ?>><?php echo $program['ArabicName'];?> - <?php echo $program['ProgramCode'];?></option>
				<?php
						}
						echo '</optgroup>';
					}
				endforeach;
				?>
			</select>
		</td>
	</tr>
</table>
<div class="next_bar">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>
<!-- End Breadcrum -->
<?php 
}else
?>


<!-- STEP 3 -->
<?php
if($this->step == 3){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<form id="form_3" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/3">
<table class="table" width="70%">
  <tr>
    <th align="center" style="text-align:center;"><input type="checkbox" name="" id="check_all" /></th>
    <th><?php echo $this->translate("Intake");?></th>
    <th><?php echo $this->translate("Number of Student");?></th>
  </tr>
  <?php 
  if($this->intake_list){
    foreach ($this->intake_list as $index=>$intake):
  ?>
  <tr>
    <td align="center"><input type="checkbox" name="intake[]" class="check" value="<?php echo $intake['IdIntake']?>" <?php echo isset($this->selected_intake) && in_array($intake['IdIntake'],$this->selected_intake)?'checked="checked"':''; ?> /></td>
    <td><?php echo $intake['IntakeDefaultLanguage'];?></td>
    <td align="center"><?php echo $intake['student_count'];?></td>
  </tr>
  <?php
    endforeach;
  }else{ 
  ?>
  <tr>
    <td colspan="2" align="center"><?php echo $this->translate("No student Active in this intake");?></td>
  </tr>
  <?php 
  }
  ?>
</table>
<div class="next_bar">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>

<?php 
}else
?>


<!-- STEP 4 -->
<?php 
if($this->step == 4){
?>

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<h2><?php echo $this->translate("Fee Item");?></h2>
<small>Fee item to charge from fee structure. <br />Please note that fee item is subject to availability in the student's fee structure for particular semester</small>
<br /><br />

<form id="form_4" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/4">

	<?php 
	if($this->fee_item_list){
	foreach ($this->fee_item_list as $feeItem):
		
		$checked = "";
	    if($this->fee_item){
    		foreach($this->fee_item as $key => $item)
    		{
    			if ( $item === $feeItem['fi_id'] ){
    				$checked = 'checked="checked"';
    				break;
    			}
    		}
		}
	?>
		<input type="checkbox" name="fi_id[]" value="<?php echo $feeItem['fi_id']; ?>" <?php echo $checked; ?> />&nbsp;<?php echo $feeItem['fi_name_bahasa']; ?><br />
	<?php 
	endforeach;
	}
	?>

	<div class="next_bar">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
	</div>
</form>


<?php 
}else
?>


<!-- STEP 5 -->
<?php 
if($this->step == 5){
?>

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	
	<table>
		<tr>
			<td><?php echo $this->translate("Semester");?></td>
			<td>:</td>
			<td><?php echo $this->semester['SemesterMainDefaultLanguage'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Program");?></td>
			<td>:</td>
			<td><?php echo $this->program['ArabicName'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake");?></td>
			<td>:</td>
			<td>
			  <ul>
			    <?php foreach ($this->intake as $intake){ ?>
			    <li><?php echo $intake['IntakeDefaultLanguage']?></li>
			    <?php }?>
			  </ul>
			</td>
		</tr>
	</table>
</fieldset>
<br />
<form id="form_5" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/5">
<table class="table" width="100%">
	<thead>
	<tr>
		<th><input type="checkbox" value="" name="" id="check_all" /></th>
		<th><?php echo $this->translate("Bil");?></th>
		<th><?php echo $this->translate("NIM");?></th>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("Level");?></th>
		<th><?php echo $this->translate("Fee Structure");?></th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
		<?php 
		foreach ($this->student_list as $i=>$student):?>
		<tr <?php echo $i%2==0?"class='shade'":"";?>>
			<td align="center">
			  <input type="checkbox" name="id[]" class="check" value="<?php echo $i;?>" <?php echo isset($this->student_selected) && in_array($student['student_id'],$this->student_selected)?'checked="checked"':"";?> />
			  <input type="hidden" name="sid[]" value="<?php echo $student['student_id'];?>" />
			  <input type="hidden" name="fs_id[]" value="<?php echo $student['fee_structure']['fs_id'];?>" />
			</td>
			<td align="center"><?php echo $i+1;?>.</td>
			<td><?php echo $student['nim']?></td>
			<td><?php echo preg_replace('!\s+!', ' ', $student['name']);?></td>
			<td align="center"><?php echo $student['intake_name']?></td>
			<td align="center"><?php echo (int)$student['current_level'] + 1; ?></td>
			<td><?php echo $student['fee_structure']['fs_name'];?></td>
			<td align="center"> 
				<a href="#" onclick="view_account(<?php echo $student['student_id'];?>); return false;">Account</a> | 
				<a href="#" onclick="preview_invoice(<?php echo $student['student_id'];?>,<?php echo $student['fee_structure']['fs_id'];?>); return false;">Preview Invoice</a>
			</td>
		</tr>
		<?php 
		endforeach;
		?>
	</tbody>
</table>
<br />

  <div class="next_bar">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
  </div>

</form>
<?php 
}else 
?>

<!-- STEP 6 -->
<?php 
if($this->step == 6){  
?>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>1),'default',true);?>"><?php echo $this->translate("Semester"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>3),'default',true);?>"><?php echo $this->translate("Student Intake"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>4),'default',true);?>"><?php echo $this->translate("Fee Item"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>5),'default',true);?>"><?php echo $this->translate("Student"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'batch-semester-invoice','action'=>'new-invoice', 'step'=>6),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate("Information");?></legend>
	
	<table>
		<tr>
			<td><?php echo $this->translate("Semester");?></td>
			<td>:</td>
			<td><?php echo $this->semester['SemesterMainDefaultLanguage'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Program");?></td>
			<td>:</td>
			<td><?php echo $this->program['ArabicName'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Intake");?></td>
			<td>:</td>
			<td>
			  <ul>
			    <?php foreach ($this->intake as $intake){ ?>
			    <li><?php echo $intake['IntakeDefaultLanguage']?></li>
			    <?php }?>
			  </ul>
			</td>
		</tr>
	</table>
</fieldset>
<br />
<?php 
  if(sizeof($this->student_list)>0){
?>

<table class="table" width="100%">
  <tr>
    <th><?php echo $this->translate("Bil.");?></th>
    <th><?php echo $this->translate("NIM");?></th>
    <th><?php echo $this->translate("Invoice Amount");?></th>
    <th><?php echo $this->translate("Invoice Detail");?></th>
  </tr>
  <?php foreach ($this->student_list as $index=>$student):?>
  <tr <?php echo $index%2==0?"class='shade'":"";?>>
    <td align="center"><?php echo $index+1;?>.</td>
    <td><?php echo $student['registration']['registrationId'];?></td>
    <td><?php echo new Zend_Currency(array('value' => $student['invoice']['amount']));?></td>
    <td>
      <ul>
      <?php foreach ($student['invoice']['fee_item'] as $fee_item){?>
        <li><?php echo $fee_item['fi_name_short'];?> - <?php echo new Zend_Currency(array('value' => $fee_item['total_amount']));?></li>
      <?php }?>
      </ul>
    </td>
  </tr>
  <?php endforeach;?>
</table>


<form id="form_6" method="post" action="/studentfinance/batch-semester-invoice/new-invoice/step/6">
<div class="next_bar">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>
<?php 
  }else{
?>
  <div class="message error"><strong><?php echo $this->translate("There are no selected student. No Invoice will be create...");?></div>
<?php 
  }
?>
  
<?php 
}
?>