<fieldset>
<table>
  <tr>
    <td><?php echo $this->translate("Semester");?></td>
    <td>:</td>
    <td><?php echo $this->batch['semester_name'];?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('Faculty');?></td>
    <td>:</td>
    <td><?php echo $this->batch['faculty_name'];?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('Program');?></td>
    <td>:</td>
    <td><?php echo $this->batch['program_name'];?> - <?php echo $this->batch['program_code'];?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('Total Invoices');?></td>
    <td>:</td>
    <td><?php echo $this->batch['total_invoice'];?></td>
  </tr>
</table>
</fieldset>
<br />

<table class="table" width="100%">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><?php echo $this->translate("Invoice No");?></th>
      <th><?php echo $this->translate("Name");?></th>
      <th><?php echo $this->translate("Description");?></th>
      <th><?php echo $this->translate("Status");?></th>
      <th><?php echo $this->translate("Amount");?></th>
    </tr>
  </thead>
  <tbody>
    <?php
    if($this->invoice){ 
      $total_amount = 0;
      foreach ($this->invoice as $index=>$invoice):
        if($invoice['status']=="A"){
          $total_amount +=$invoice['bill_amount'];
        }
    ?>
    <tr>
      <td align="center"><?php echo $index+1; ?></td>
      <td><?php echo $invoice['bill_number'];?></td>
      <td><?php echo $invoice['name'];?></td>
      <td><?php echo $invoice['bill_description'];?></td>
      <td>
        <?php echo $invoice['status']=="A"?"Active":"";?>
        <?php echo $invoice['status']=="X"?"Canceled":"";?>
      </td>
      <td><?php echo new Zend_Currency(array('value' => $invoice['bill_amount']));?></td>
    </tr>
    <?php 
      endforeach;
    }
    ?>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" align="right"><?php echo $this->translate("Total Batch Invoice Amount:");?></td>
      <th>
        <?php

        $currency = new Zend_Currency(array('value' => $total_amount));

        echo $currency;
        ?>
      </th>
    </tr>
  </tfoot>
</table>