<div class="message toolbar">
    <h2><?php echo $this->translate("Scholarship Industry Weightage"); ?></h2>
</div>
<br />


<form id="myForm" action="" method="post" name="myForm">
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Industry")  ;?></td>
            <td><input type="text" name="industryweight[name]"></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="text" name="industryweight[score]"></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>