<style type="text/css">
    .table-survey td:nth-child(2) {
        padding-left: 5px;
    }

    textarea {
        resize: none;
    }

    td.counter {
        width: 25px;
        text-align: right;
        padding-right: 2px;
        vertical-align: text-top;
    }
</style>
<?php $lobjquestion = new App_Model_Survey_DbTable_QuestionSurvey(); ?>

 <h3><?php echo $this->title; ?></h3>
 
<table class="table" width="100%" border="0" cellpadding="5" cellspacing="1">
   
    <tr>
        <td>
            <?php echo $this->poolList['section_instructions']; ?>
        </td>
    </tr>
    

    <tr>
        <td>
            <?php if ($this->registerCourseInfo['IdCourseTaggingGroup']) { ?>
                <table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
                    <tr>
                        <td width='20%'><?php echo $this->translate('Course Code'); ?> :</td>
                        <td width='80%'><?php echo $this->registerCourseInfo['course_code']; ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Course Name'); ?> :</td>
                        <td><?php echo $this->registerCourseInfo['course_name']; ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Lecturer Name'); ?> :</td>
                        <td><?php echo strtoupper($this->registerCourseInfo['lecturername']); ?></td>
                    </tr>
                </table>
                <br/>
            <?php } ?>
            <?php if (count($this->question) <= 0) { ?>
                <div style="text-align:center; padding:20px 0;"><?php echo $this->translate('No question available'); ?></div>
            <?php
            }
            $bil = 1;
            foreach ($this->question as $data) {
                if (isset($data['rubric'])) {
                    $colspan = count($data['rubric']) + 2;
                    foreach ($data['rubric'] as $rubric) {
                    ?>
                        <input type="hidden" name="rubricValue[]" id="rubricValue" value="<?php echo $rubric['ValueNumber']; ?>">
                    <?php
                    }
                } else {
                    $colspan = 2;
                }
                ?>
                <table class="table table-survey" width="100%" cellpadding="5" cellspacing="1" border="0">
                    <?php if(!empty($data['subsection_instruction'])) { ?>
                    <tr>
                        <th colspan="<?= $colspan ?>"><?= $data['subsection_instruction'] ?></th>
                    </tr>
                    <?php } ?>
                    <?php //if (isset($data['rubric'])) { ?>
                        <!--<tr>
                            <th colspan="2">
                            </th>
                            <?php foreach ($data['rubric'] as $rub) { ?>
                                <th align="center"><?php echo $rub["description"] ?></th>
                            <?php } ?>
                        </tr>
                    --><?php // } ?>
                    <tr>
                        <?php
                        echo '<th colspan="2"></th>';
                        if (isset($data['rubric'])) {
                            foreach ($data['rubric'] as $rub) {
                                ?>
                                <th align="center"><?php echo $rub['ValueNumber'] ?></th>
                            <?php
                            }
                        }
                        ?>
                    </tr>
                    <?php
                    $i = 1;
                    if(!empty($data['question'])) {
                    foreach ($data['question'] as $ques) {

                        $valName = "val_" . $data['chapterid'] . '_' . $i;
                        $valHidden = "qs_" . $data['chapterid'] . '_' . $i;
                        ?>
                        <tr>
                            <td class="counter"><?php echo $ques['order'] ?></td>
                            <td><?php echo $ques['question'] ?>
                                <input type="hidden" name="<?php echo $valHidden ?>" id="<?php echo $valHidden ?>"
                                       value="<?php echo $ques['idQues']; ?>">
                                <?php
                                if ($data['question_type'] == 4) { //4=Radio button with value

                                    $radiooptions = $lobjquestion->getRadioOption($ques['main_set_id'], $ques['section_id'], $ques['id_questiontagging']);
                                    foreach ($radiooptions as $radio) {
                                        ?>
                                        <br>
                                        <input type="radio" name="<?php echo $valName; ?>" id="<?php echo $valName; ?>"
                                               value="<?php echo $radio['id']; ?>" disabled="disabled"/>
                                        <?php echo $radio['answer']; ?>
                                    <?php
                                    }
                                    $bil++;
                                } else if ($data['question_type'] == 2) { //2=Essay
                                    ?>
                                    <br>
                                    <textarea name="<?php echo $valName; ?>" id="<?php echo $valName; ?>" cols="100"
                                              rows="5" readonly></textarea>
                                <?php
                                }
                                ?>
                            </td>
                            <?php
                            if (isset($data['rubric'])) { //Likert Scale
                                foreach ($data['rubric'] as $rub) {
                                    ?>
                                    <td align="center">
                                        <input type="radio" name="<?php echo $valName; ?>" id="<?php echo $valName; ?>"
                                               value="<?php echo $rub['ValueNumber']; ?>" disabled="disabled"/>
                                    </td>
                            <?php
                                }
                                $bil++;
                            }
                            ?>
                        </tr>
                    <?php
                        $i++;
                        }
                        }
                    ?>
                </table>
                <br>
            <?php } ?>
        </td>
    </tr>
</table>
