<script type="text/javascript">
$(function(){
	var html = $("html").html();
	$("input[name='content']").val(html);
	//$("#to-pdf").submit();
});
</script>
<form action="<?=$this->url(array('module'=>'survey-bank','controller'=>'publish', 'action'=>'to-pdf'),'default',true)?>" method="post" id="to-pdf">
	<input type="hidden" name="content" id="content" value="" />"
</form>