<script language="JavaScript" type="text/javascript">

dojo.addOnLoad(function(){
		fnGetList();
	});
  function fnGetList() {
	var IdCategory = dijit.byId('IdCategory').value;
	var formData = {'IdCategory' : IdCategory};
	var posturl = "<?php echo $this->baseUrl();?>"+"/studentfinance/studentrelease/getstudentapplicantlist";
	$.ajax({
		type:"POST",
		url : posturl,
		data : formData,
		dataType: "json",
		async : false,
		success : function(data) {
			AutoFillNextEditableDropDown('IdStudent',data);
			dijit.byId('IdStudent').set('value',<?php echo $this->lobjstudentreleaseform->IdStudent->getValue(); ?>);
		}
	});
  }

  function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>


<fieldset>
<legend><?php echo $this->translate("Student Release") ?></legend>
<Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/studentrelease/editstudentrelease" method="post"  name= "myForm">
                 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                  if(checkphonefield()){
                    return true;
                  }else{
                    return false;
                  }
                } else {
                  return false;
                }
				</script>
<table class="table" width="100%" >
	<tr>
		<th colspan = "5"><?php echo $this->translate("Student Release Details");?></th>
	</tr>
	<tr>
		<td ><?php echo $this->translate("Category");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjstudentreleaseform->IdCategory;?></td>
        <td ><?php echo $this->translate("Student/Applicant");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjstudentreleaseform->IdStudent;?></td>
    </tr>

    <tr>
		<td ><?php echo $this->translate("Release")." ".$this->translate("Type");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjstudentreleaseform->IdReleaseType;?></td>
        <td ><?php echo $this->translate("Semester")."/".$this->translate("Intake");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjstudentreleaseform->IdIntake;?></td>
    </tr>

    <tr>
		<td ><?php echo $this->translate("Reason");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjstudentreleaseform->Reason;echo $this->lobjstudentreleaseform->IdStudentRelease;echo $this->lobjstudentreleaseform->UpdUser;echo $this->lobjstudentreleaseform->UpdDate;?></td>
    </tr>

</table>

<table align = "right">
                       	<tr>
                           	<td align = "right" colspan="4"><?php echo $this->lobjstudentreleaseform->Save;?>
                          	 <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'studentrelease', 'action'=>'index'),'default',true);?>';" />
                            </td>
                       </tr>
                	 </table>
</Form>
</fieldset>