<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->list) {
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('Account Code'); ?></th>
        <th><?php echo $this->translate('Description'); ?></th>
        <th><?php echo $this->translate('Current Billing (RM)'); ?></th>
        <th><?php echo $this->translate('Adjustment (RM)'); ?></th>
        <th><?php echo $this->translate('Billing After Adjustment (RM)'); ?></th>
        <th><?php echo $this->translate('Discount (RM)'); ?></th>
        <th><?php echo $this->translate('Discount Adjustment Amount (RM)'); ?></th>
        <th><?php echo $this->translate('Billing After Adj & Discount (RM)'); ?></th>
        <th><?php echo $this->translate('Nett Discount (RM)'); ?></th>
        <th><?php echo $this->translate('Nett Amount (RM)'); ?></th>
    </tr>
    <?php
    foreach ($this->list as $loop) {
        ?>
        <tr>
            <td><?php echo $loop['ac_code']; ?></td>
            <td><?php echo $loop['ac_desc']; ?></td>
            <td align="right"><?php echo number_format($loop['current_billing'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['adjustment'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['billing_after_adjustment'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['discount'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['discount_adjustment'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['billing_after_adjustment_discount'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['net_discount'], 2); ?></td>
            <td align="right"><?php echo number_format($loop['net_amount'], 2); ?></td>
        </tr>
        <?php
    }
    ?>
</table>
    <?php
}
?>
