<script type="text/javascript">
$(function() {
	$( "#search-dialog" ).dialog({ 
		autoOpen: false,
		width: 400,
		modal: true,
		buttons: { 
			"Search": function() {
				 
				$("#course_form").submit();
				$(this).dialog("close"); 
			},
			"Close": function() { 
				$(this).dialog("close"); 
			} 
		} 
	});
	
});

function searchbox(){
	$( "#search-dialog" ).dialog('open');
}

</script>

<script type="text/javascript">
	function del(){

		var id = $('input[name=entry_id]:checked').val();
		
		if(confirm('Are you sure to delete '+title+'?')){
			window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'offer-letter-template', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'application','controller'=>'offer-letter-template', 'action'=>'add'),'default',true);?>";
	}

	function edit(){
		var id = $('input[name=entry_id]:checked').val();
		window.location="<?php echo $this->url(array('module'=>'application','controller'=>'offer-letter-template', 'action'=>'edit'),'default',true);?>/id/"+id;
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div style="width:100%;">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="2"></th>
		<th><?php echo $this->translate("Template Name");?></th>
		<th><?php echo $this->translate("Status");?></th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td> <input type="radio" name="entry_id" value="<?php echo $entry['id']; ?>"></td>
		<td><a href="<?php echo $this->url(array('module'=>'application','controller'=>'offer-letter-template', 'action'=>'viewdetail','id'=>$entry['id']),'default',true); ?>"><?php echo $entry['name']; ?></a></td>
		<td><?php echo $entry['status']==1?"Active":"Inactive"; ?></td>
		
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
</div>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<div id="search-dialog" title="Search Program">
<form name="course_form" id="course_form" action="" method="post">
	<table width="100%">
		<tr>
			<td>
				Program Name
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="name" value="<?php echo $this->search_name; ?>" />
			</td>
		</tr>
		<tr>
			<td>
				Program Code
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="code" value="<?php echo $this->search_code; ?>" />
			</td>
		</tr>
	</table>
</form>
</div>