<script type="text/javascript">
    $(function(){
        $("#paymentdate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Payment Date'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->paymentdate; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="search" name="search" value="search" type="submit"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Intake'); ?></th>
        <th><?php echo $this->translate('Program'); ?></th>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
    </tr>
    <?php
    if ($this->studentList) {
        $no = 0;
        foreach ($this->studentList as $student) {
            $no++;
            ?>
            <tr>
                <td align="center" width="2%"><?php echo $no; ?></td>
                <td><?php echo $student['appl_fname'].' '.$student['appl_lname']; ?></td>
                <td align="center"><?php echo $student['registrationId']; ?></td>
                <td align="center"><?php echo $student['IntakeDesc']; ?></td>
                <td align="center"><?php echo $student['ProgramCode'].' - '.$student['ProgramName']; ?></td>
                <td align="center"><?php echo $student['mop'].' '.$student['mos'].' '.$student['pt']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>