<script type="text/javascript">
    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('prev_sem');
            },
            complete: function() {
                hideLoading('prev_sem');
            }
        })
            .done(function(data) {
                var content = '';
                $.each(data,function(index){
                    content += '<input onchange="checkSemester('+data[index].IdSemesterMaster+')" class="checksem" type="checkbox" value="'+data[index].IdSemesterMaster+'" id="prev-sem'+data[index].IdSemesterMaster+'" name="prev-sem['+data[index].IdSemesterMaster+']">   '+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+' <input placeholder="Payment Date ..." type="text" class="input-txt ppd" value="" id="prevpaymentdate'+data[index].IdSemesterMaster+'" name="prevpaymentdate['+data[index].IdSemesterMaster+']" disabled=""><br /><br />';
                });
                $('#prev_sem').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function getProgram(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'get-program'),"default",true);?>/id/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('prog');
            },
            complete: function() {
                hideLoading('prog');
            }
        })
            .done(function(data) {
                var content = '';
                $.each(data,function(index){
                    content += '<input type="checkbox" value="'+data[index].IdProgram+'" class="checkprog" id="prog'+data[index].IdProgram+'" name="prog['+data[index].IdProgram+']">   '+data[index].ProgramCode+' - '+data[index].ProgramName+'<br />';
                });
                $('#prog').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function checkSemester(id){
        if ($('#prev-sem'+id).is(':checked')){
            $('#prevpaymentdate'+id).removeAttr('disabled');
            $('#prevpaymentdate'+id).attr('required', '');

            $('#prevpaymentdate'+id).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy'
            });
        }else{
            $('#prevpaymentdate'+id).attr('disabled', '');
            $('#prevpaymentdate'+id).removeAttr('required');
        }
    }

    $(function(){
        $( "#paymentdate" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });

        $('#semester').attr('disabled', '');
    });

    function checkForm(){
        if ($('.checksem').is(':checked') == false){
            alert('Please select at least one previous semester');
            return false;
        }else if ($('.checkprog').is(':checked') == false){
            alert('Please select at least one programme');
            return false;
        }else{
            var ask = confirm('Are you sure?');

            if (ask == true){
                return true;
            }else{
                return false;
            }
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'index'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<form method="post" id="add_form" name="add_form" onsubmit="return checkForm();">
    <table width="100%" class="table">
        <tr>
            <th colspan="2"><?php echo $this->title; ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->semester; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Discount Type'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->discounttype; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Payment Date'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->paymentdate; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Early Bird Name'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->eb_name; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Early Bird Code'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->eb_code; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Previous Semester'); ?> <span class="reqMark">*</span></td>
            <td>
                <div id="prev_sem">
                    <?php
                    if ($this->semesterList) {
                        foreach ($this->semesterList as $semester) {
                            if (in_array($semester['IdSemesterMaster'], $this->ebSem)){
                                $checked = 'checked=""';
                                $disabled = '';
                                $paymentDate = date('d-m-Y', strtotime($this->ebSemDate[$semester['IdSemesterMaster']]));
                            }else{
                                $checked = '';
                                $disabled = 'disabled=""';
                                $paymentDate = "";
                            }
                            ?>
                            <script type="text/javascript">
                                $(function(){
                                    $("#prevpaymentdate<?php echo $semester['IdSemesterMaster']; ?>").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        dateFormat: 'dd-mm-yy'
                                    });
                                });
                            </script>
                            <input onchange="checkSemester(<?php echo $semester['IdSemesterMaster'] ?>)" class="checksem" type="checkbox" value="<?php echo $semester['IdSemesterMaster']; ?>" id="prev-sem<?php echo $semester['IdSemesterMaster']; ?>" name="prev-sem[<?php echo $semester['IdSemesterMaster']; ?>]" <?php echo $checked; ?>>   <?php echo $semester['SemesterMainName']; ?> - <?php echo $semester['SemesterMainCode']; ?> <input placeholder="Payment Date ..." type="text" class="input-txt ppd" value="<?php echo $paymentDate; ?>" id="prevpaymentdate<?php echo $semester['IdSemesterMaster']; ?>" name="prevpaymentdate[<?php echo $semester['IdSemesterMaster']; ?>]" <?php echo $disabled; ?>><br /><br />
                            <?php
                        }
                    }
                    ?>
                </div>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
            <td>
                <div id="prog">
                    <?php
                    if ($this->programList) {
                        foreach ($this->programList as $program) {
                            if (in_array($program['IdProgram'], $this->ebProg)){
                                $checked = 'checked=""';
                            }else{
                                $checked = '';
                            }
                            ?>
                            <input type="checkbox" <?php echo $checked; ?> value="<?php echo $program['IdProgram']; ?>" class="checkprog" id="prog<?php echo $program['IdProgram']; ?>" name="prog[<?php echo $program['IdProgram']; ?>]">   <?php echo $program['ProgramCode']; ?> - <?php echo $program['ProgramName']; ?><br/>
                            <?php
                        }
                    }
                    ?>
                </div>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Entitlement'); ?> <span class="reqMark">*</span></td>
            <td>
                <table>
                    <tr>
                        <td><?php echo $this->translate('Self Sponsor'); ?></td>
                        <td>
                            <?php
                            if ($this->earlyBird['eb_self_sponsor'] == 1){
                                $checked = 'checked=""';
                            }else{
                                $checked = '';
                            }
                            ?>
                            <input type="checkbox" name="self-fund" id="self-fund" value="" class="check" <?php echo $checked; ?>>   Yes
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Sponsor'); ?></td>
                        <td>
                            <?php
                            if ($this->sponsorList) {
                                foreach ($this->sponsorList as $sponsor) {
                                    if (in_array($sponsor['idsponsor'], $this->ebSpo)){
                                        $checked = 'checked=""';
                                    }else{
                                        $checked = '';
                                    }
                                    ?>
                                    <input <?php echo $checked; ?> type="checkbox" name="sponsor[<?php echo $sponsor['idsponsor']; ?>]" id="sponsor<?php echo $sponsor['idsponsor']; ?>" value="<?php echo $sponsor['idsponsor']; ?>">   <?php echo $sponsor['fName']; ?><br />
                                    <?php
                                }
                            }
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Scholar'); ?></td>
                        <td>
                            <?php
                            if ($this->scholarList) {
                                foreach ($this->scholarList as $scholar) {
                                    if (in_array($scholar['sch_Id'], $this->ebSch)){
                                        $checked = 'checked=""';
                                    }else{
                                        $checked = '';
                                    }
                                    ?>
                                    <input <?php echo $checked; ?> type="checkbox" name="scholar[<?php echo $scholar['sch_Id']; ?>]" id="scholar<?php echo $scholar['sch_Id']; ?>" value="<?php echo $scholar['sch_Id']; ?>">   <?php echo $scholar['sch_name']; ?><br />
                                    <?php
                                }
                            }
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Financial Aid'); ?></td>
                        <td>
                            <?php
                            if ($this->earlyBird['eb_financial_aid'] == 1){
                                $checked = 'checked=""';
                            }else{
                                $checked = '';
                            }
                            ?>
                            <input type="checkbox" <?php echo $checked; ?> name="financial-aid" id="financial-aid" value="" class="check">   Yes
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="form-opt">
        <input type="submit" id="save" name="save" value="<?php echo $this->translate('Save')?>" class="btn-submit"/>
    </div>
</form>