<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'add'),'default',true);?>">
                    <span class='add'></span>
                    <?php echo $this->translate("Add Setup"); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="search" name="search" value="search" type="submit"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Code'); ?></th>
        <th><?php echo $this->translate('Semester'); ?></th>
        <th><?php echo $this->translate('Discount Type'); ?></th>
        <th><?php echo $this->translate('Created By'); ?></th>
        <th><?php echo $this->translate('Created Date'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['eb_name']; ?></td>
                <td align="center"><?php echo $loop['eb_code']; ?></td>
                <td align="center"><?php echo $loop['SemesterMainName'].' - '.$loop['SemesterMainCode']; ?></td>
                <td align="center"><?php echo $loop['dt_discount']; ?></td>
                <td align="center"><?php echo $loop['creted_by']; ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($loop['eb_created_date'])); ?></td>
                <td align="center">
                    <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'edit', 'id'=>$loop['eb_id']),'default',true);?>"><?php echo $this->translate('Edit'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>