<script type="text/javascript">
    $(function() {
        $('.check-all').on('click', function () {
            $('.check').prop('checked', this.checked);
            if (this.checked == true) {
                $('.check').parent().parent().addClass('hlchk');
            } else {
                $('.check').parent().parent().removeClass('hlchk');
            }
        });

        $('.check').on('change', function () {
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if (this.checked == true) {
                if ($('.check').not(':checked').length == 0) {
                    $('.check-all').prop('checked', true);
                } else {
                    $('.check-all').prop('checked', false);
                }
            }
            else {
                $('.check-all').prop('checked', false);
            }
        });

        $('#save').on('click', function () {
            if ($('.check').is(':checked') == false) {
                alert('Please select at least one invoice');
                return false;
            } else {
                var ask = confirm('Are you sure?');

                if (ask == true) {
                    return true;
                } else {
                    return false;
                }
            }
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="search" name="search" value="search" type="submit"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php
if ($this->studentList){
    ?>
    <form method="post" id="send_form" name="send_form" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'early-bird', 'action'=>'generate-ebip'),'default',true);?>">
        <table class="table" width="100%">
            <tr>
                <th width="1%"><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
                <th><?php echo $this->translate('Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Programme'); ?></th>
                <th><?php echo $this->translate('Invoice No'); ?></th>
                <th><?php echo $this->translate('Invoice Desc'); ?></th>
                <th><?php echo $this->translate('Invoice Amount'); ?></th>
                <th><?php echo $this->translate('Invoice Detail Amount'); ?></th>
                <th><?php echo $this->translate('EBIP'); ?></th>
                <th><?php echo $this->translate('EBIP Amount'); ?></th>
            </tr>
            <?php
            foreach ($this->studentList as $student) {
                ?>
                <input type="hidden" id="invoice_<?php echo $student['invoice_dtl']['id']; ?>" name="invoice[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['invoice']['id']; ?>">
                <input type="hidden" id="student_<?php echo $student['invoice_dtl']['id']; ?>" name="student[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['id']; ?>">
                <input type="hidden" id="ebtype_<?php echo $student['invoice_dtl']['id']; ?>" name="ebtype[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['ebList'][0]['eb_discount_type']; ?>">
                <input type="hidden" id="ebdesc_<?php echo $student['invoice_dtl']['id']; ?>" name="ebdesc[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['ebList'][0]['eb_name']; ?>">
                <input type="hidden" id="ebcur_<?php echo $student['invoice_dtl']['id']; ?>" name="ebcur[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['invoice']['currency_id']; ?>">
                <input type="hidden" id="ebamount_<?php echo $student['invoice_dtl']['id']; ?>" name="ebamount[<?php echo $student['invoice_dtl']['id']; ?>]" value="<?php echo $student['ebAmount']; ?>">
                <tr>
                    <td>
                        <input type="checkbox" name="check[<?php echo $student['invoice_dtl']['id']; ?>]" id="check_<?php echo $student['invoice_dtl']['id']; ?>" class="check">
                    </td>
                    <td><?php echo $student['student_name']; ?></td>
                    <td align="center"><?php echo $student['student_id']; ?></td>
                    <td><?php echo $student['program']; ?></td>
                    <td align="center"><?php echo $student['invoice']['bill_number']; ?></td>
                    <td><?php echo $student['invoice']['bill_description'].'('.$student['invoice_dtl']['fee_item_description'].')'; ?></td>
                    <td align="right"><?php echo $student['invoice']['cur_code'].' '.$student['invoice']['bill_amount']; ?></td>
                    <td align="right"><?php echo $student['invoice']['cur_code'].' '.$student['invoice_dtl']['amount']; ?></td>
                    <td>
                        <?php
                        if (isset($student['ebList']) && count($student['ebList']) > 0) {
                            $i = 0;
                            foreach ($student['ebList'] as $ebList) {
                                $i++;
                                echo '- '.$ebList['eb_name'];

                                if (count($student['ebList']) > $i){
                                    echo '<br />';
                                }
                            }
                        }
                        ?>
                    </td>
                    <td align="right"><?php echo $student['invoice']['cur_code'].' '.$student['ebAmount']; ?></td>
                </tr>
                <?php
            }
            ?>
        </table>
        <div class="form-opt">
            <input type="submit" id="save" name="attendance_reminder" value="<?php echo $this->translate('Generate EBIP Discount')?>" class="btn-submit"/>
        </div>
    </form>
    <?php
}
?>