<?php 
$this->headScript()->prependFile('/js/jquery/plugin/blockui/jquery.blockui.js'); 
?>

<style>
.next_bar{
	width: 100%;
	background: #EEE;
	margin: 10px 0;
	padding: 2px 0;
	text-align: center;
}
select{
	width: 250px;
}
</style>

<script type="text/javascript">
	function search_student(){

		var payment = 0;

		if($('#outstanding_payment').is(":checked")){
			payment = 1;
		}
		
		$.ajax({
		  url: "/graduation/pregraduation-list/search-student",
		  type: 'post',
		  dataType: 'json',
		  data: {'faculty':'<?php echo $this->ses_data->faculty_id; ?>', 'program':'<?php echo $this->ses_data->program_id; ?>', 'subject_bil':$('#subject_bil').val(), 'payment':payment, 'cgpa':$('#cgpa').val(), 'intake':$('#intake').val()},
		  beforeSend: function( xhr ) {
			  $.blockUI({ message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> Processing...</div></div>' });
		  }
		})
		.done(function( data ) {
			$.unblockUI();

			$('#result tbody').empty();
			$.each(data.student ,function(i){

				var remaining_subject = 0;
				$.each(data.student[i].ch_requirement, function(key,value){
					remaining_subject += (value.total_subject_count - value.total_subject_completed_count);
				});
				
				$('#result tbody').append(
					'<tr>' +
						'<td align="center"><input type="checkbox" name="student[]" class="select_me" value="'+data.student[i].IdStudentRegistration+'" /></td>'+
						'<td>'+data.student[i].fullname+'</td>'+
						'<td>'+data.student[i].registrationId+'</td>'+
						'<td align="center">'+data.intake.IntakeId+'</td>'+
						'<td align="center">'+data.student[i].max_level+'</td>'+
						'<td align="center">'+remaining_subject+'</td>'+
						'<td align="center">'+data.student[i].cgpa+'</td>'+
						'<td>'+ data.student[i].finance.total_invoice_balance +'</td>'+
						
					'</tr>'
				);
			});

			if(data.student.length==0){
				$('#result tbody').append(
					'<tr>' +
						'<td colspan="8" align="center"><?php echo $this->translate('No Student met the filter');?></td>'+
					'</tr>'
				);
			}

		})
		.error(function( data ){
			$.unblockUI();
			console.log(data);
		});
		
	}

	function toggle_all(element){
        $('input[name="student[]"]').prop('checked', $(element).is(':checked'));
	}	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location='/graduation/pregraduation-list';" >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>


<!-- STEP 1 -->
<?php 
if($this->step==1){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>1),'default',true);?>"><?php echo $this->translate("Faculty"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>4),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form id="form_1" method="post">
<table>
	<tr>
		<td><?php echo $this->translate('Faculty');?></td>
		<td>:</td>
		<td>
			<select name="faculty_id">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<?php 
				foreach ($this->faculty_list as $faculty):
					$select = "";
					if( isset($this->faculty_id) && $this->faculty_id==$faculty['IdCollege'] ){
						$select = 'selected="selected"';
					}
				?>
					<option value="<?php echo $faculty['IdCollege'];?>" <?php echo $select; ?>><?php echo $faculty['ArabicName'];?> (<?php echo $faculty['CollegeCode'];?>)</option>
				<?php 
				endforeach;
				?>
			</select>
		</td>
	</tr>
</table>
<div class="next_bar">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>

<?php 
}
?>


<!-- STEP 2 -->
<?php 
if($this->step==2){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>1),'default',true);?>"><?php echo $this->translate("Faculty"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="next"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>4),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form id="form_2" method="post">
<table>
	<tr>
		<td><?php echo $this->translate('Program');?></td>
		<td>:</td>
		<td>
			<select name="program_id">
				<option value="null"><?php echo $this->translate('Please select');?></option>
				<?php 
				foreach ($this->program_list as $program):
					$select = "";
					if( isset($this->program_id) && $this->program_id == $program['IdCollege'] ){
						$select = 'selected="selected"';
					}
				?>
					<option value="<?php echo $program['IdProgram'];?>" <?php echo $select; ?>><?php echo $program['ArabicName'];?> (<?php echo $program['ProgramCode'];?>)</option>
				<?php 
				endforeach;
				?>
			</select>
		</td>
	</tr>
</table>
<div class="next_bar">
	<input type="submit" value="<?php echo $this->translate("Next");?>" />
</div>
</form>

<?php 
}
?>

<!-- STEP 3 -->
<?php 
if($this->step==3){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="done"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>1),'default',true);?>"><?php echo $this->translate("Faculty"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>4),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<fieldset>
	<legend><?php echo $this->translate('Search');?></legend>
	
	<table cellpadding="5" cellspacing="5">
		<tr>
			<td><?php echo $this->translate('Student Intake');?></td>
			<td>:</td>
			<td>
				<select name="intake_id" id="intake" style="width:300px;">
					<?php 
					foreach ($this->intake_list as $intake):
						$select = "";
						if( isset($this->intake_id) && $this->intake_id==$intake['IdIntake'] ){
							$select = 'selected="selected"';
						}
					?>
					<option value="<?php echo $intake['IdIntake'];?>" <?php echo $select;?> ><?php echo $intake['IntakeDesc'];?> (<?php echo $intake['student_count'];?> <?php echo $this->translate("Active Student");?>)</option>
					<?php 
					endforeach;
					?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Remaining credit hours to complete');?></td>
			<td>:</td>
			<td>
				<select name="subject_bil" id="subject_bil">
					<?php for($i=0; $i<350; $i++){?>
					<option value="<?php echo $i; ?>"><?php echo $i; ?></option>
					<?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top"><?php echo $this->translate('No outstanding payment');?></td>
			<td valign="top">:</td>
			<td valign="top">
				<input type="checkbox" name="outstanding_payment" id="outstanding_payment" value="1" checked="checked" /> 
				<br />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Minimum CGPA');?></td>
			<td>:</td>
			<td>
				<input type="text" name="cgpa" id="cgpa" />
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td><button onclick="search_student(); return false;"><?php echo $this->translate("Search");?></button></td>
		</tr>
	</table>
</fieldset>

<form id="form_3" method="post">
	<table class="table" id="result" width="100%">
		<thead>
			<tr>
				<th rowspan="2"><input type="checkbox" id="select_all" onclick="toggle_all(this);" /></th>
				<th rowspan="2"><?php echo $this->translate("Name");?></th>
				<th rowspan="2"><?php echo $this->translate("NIM");?></th>
				<th rowspan="2"><?php echo $this->translate("Intake");?></th>
				<th rowspan="2"><?php echo $this->translate("Current Semester/Level/Block");?></th>
				<th rowspan="2"><?php echo $this->translate("Remaining Credit Hours");?></th>
				<th rowspan="2"><?php echo $this->translate("CGPA");?></th>
				<th><?php echo $this->translate("Outstanding Payment");?></th>
			</tr>
			<tr>
				<th>IDR</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="8" align="center"><?php echo $this->translate('Click on search button');?></td>
			</tr>
		</tbody>
	</table>
	
	<div class="next_bar">
		<input type="submit" value="<?php echo $this->translate("Next");?>" />
	</div>
</form>
<?php 
}
?>



<!-- STEP 4 -->
<?php 
if($this->step==4){
?>
<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="done"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>1),'default',true);?>"><?php echo $this->translate("Faculty"); ?></a></div></li>
		<li class="done"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>2),'default',true);?>"><?php echo $this->translate("Program"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>4),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'generate-list', 'step'=>5),'default',true);?>"><?php echo $this->translate("confirmation"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->

<form id="form_3" method="post">
	<table class="table" id="result" width="100%">
		<thead>
			<tr>
				<th rowspan="2"><?php echo $this->translate('Bil');?></th>
				<th rowspan="2"><?php echo $this->translate("Name");?></th>
				<th rowspan="2"><?php echo $this->translate("NIM");?></th>
				<th rowspan="2"><?php echo $this->translate("Intake");?></th>
				<th rowspan="2"><?php echo $this->translate("Program");?></th>
				<th rowspan="2"><?php echo $this->translate("Current Semester/Level/Block");?></th>
				<th rowspan="2"><?php echo $this->translate("CGPA");?></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($this->list as $index => $student):?>
			<tr>
				<td align="center"><?php echo $index+1; ?>.</td>
				<td>
					<?php echo $student['profile']['appl_fname']!=""?$student['profile']['appl_fname']." ":"";?>
					<?php echo $student['profile']['appl_mname']!=""?$student['profile']['appl_mname']." ":"";?>
					<?php echo $student['profile']['appl_lname']!=""?$student['profile']['appl_lname']." ":"";?>
				</td>
				<td><?php echo $student['registration_info']['registrationId'];?></td>
				<td><?php echo $student['intake']['IntakeDefaultLanguage'];?></td>
				<td><?php echo $student['program']['ArabicName'];?></td>
				<td><?php echo $student['current_level']['max_level'];?></td>
				<td><?php echo $student['cgpa'];?></td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	
	<div class="next_bar">
		<input type="submit" value="<?php echo $this->translate("Save");?>" />
	</div>
</form>
<?php 
}
?>

