<script>
$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'pregraduation-list','action'=>'index'));?>">
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend><?php echo $this->translate('Search');?></legend>
	<?php echo $this->form; ?>
</fieldset>


<br></br>
<form id="form_3" method="post">
	<table class="table" id="" width="100%">
		<thead>
			<tr>
				<th ><?php echo $this->translate('No');?></th>
				<th ><?php echo $this->translate("Name");?></th>
				<th ><?php echo $this->translate("Student ID");?></th>
				<th ><?php echo $this->translate("Intake");?></th>				
				<th><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
			</tr>
		</thead>
		<tbody>
			<?php 
			if(count($this->student)>0){
				foreach ($this->student as $index => $student){ ?>
			<tr>
				<td align="center"><?php echo $index+1; ?>.</td>
				<td align="left"><?php echo $student['student_name']; ?></td>
				<td align="center"><?php echo $student['registrationId']; ?></td>
				<td align="center"><?php echo $student['intake']; ?></td>
				<td align='center'><input class='chkbx'  type='checkbox' name='IdStudentRegistration[]' id='IdStudentRegistration' value='<?php echo $student['IdStudentRegistration']; ?>'></td>
			</tr>
			<?php } }?>
		</tbody>
	</table>
	<?php if(count($this->student)>0) {  ?>
		<div class='form-opt'>
			<input type='submit' name='submit' class='btn-submit' value='Submit'></input>
		</div>
	<?php } ?>
</form>