<style>
.next_bar{
	width: 100%;
	background: #EEE;
	margin: 10px 0;
	padding: 2px 0;
	text-align: center;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<form method="post" action="/graduation/pregraduation-list/migrate-confirm">
	<table class="table" width="100%">
		<thead>
			<tr>
				<th rowspan="2">Bil</th>
				<th rowspan="2"><?php echo $this->translate("Student NIM");?></th>
				<th rowspan="2"><?php echo $this->translate("Student Name");?></th>
				<th rowspan="2"><?php echo $this->translate("Program");?></th>
				<th rowspan="2"><?php echo $this->translate("Intake");?></th>
				<th rowspan="2"><?php echo $this->translate("Date Added");?></th>
				<th colspan="2"><?php echo $this->translate("SKR Approval");?></th>
			</tr>
			<tr>
				<th><?php echo $this->translate("Dean");?></th>
				<th><?php echo $this->translate("Rector");?></th>
			</tr>
		</thead>
		<tbody>
			<?php 
			if($this->list){
			foreach ($this->list as $index => $student){
			?>
			<tr>
				<td>
					<?php echo $index+1;?>
					<input type="hidden" name="student[]" value="<?php echo $student['id'];?>" />
				</td>
				<td><?php echo $student['registrationId'];?></td>
				<td>
					<?php echo $student['appl_fname']!=""?$student['appl_fname']." ":"";?>
					<?php echo $student['appl_mname']!=""?$student['appl_mname']." ":"";?>
					<?php echo $student['appl_lname']!=""?$student['appl_lname']." ":"";?>
				</td>
				<td><?php echo $student['program_name']; ?></td>
				<td><?php echo $student['intake_name']; ?></td>
				<td><?php echo date('d-m-Y g:ia', strtotime($student['add_date'])); ?></td>
				<td>
					<?php echo $student['dean_skr']; ?>
					<br />
					<small>
					(<?php echo $student['dean_approval_date']!=null?date('d-m-Y g:ia', strtotime($student['dean_approval_date'])):""?>)
					</small>
				</td>
				<td>
					<?php echo $student['rector_skr']; ?>
					<br />
					<small>
					(<?php echo $student['rector_approval_date']!=null?date('d-m-Y g:ia', strtotime($student['rector_approval_date'])):""?>)
					</small>
				</td>
			</tr>
			<?php 
			}
			}else{
			?>
			<tr>
				<td colspan="9" align="center"><?php echo $this->translate('No item');?></td>
			</tr>
			<?php 
			}
			?>
		</tbody>
	</table>
	<div class="next_bar">
		<?php 
		if( sizeof($this->list)>0 ){
		?>
		<input type="submit" value="<?php echo $this->translate("Confirm");?>" />
		<?php 
		}
		?>
		<input type="button" value="<?php echo $this->translate("Cancel");?>" onclick="window.location = '/graduation/pregraduation-list'" />
	</div>
</form>