<head>
<script>
dojo.addOnLoad(function(){	
        dijit.byId('FeeCode').set('value','');
	dijit.byId('FeeCode').set('placeHolder','Select');
        dijit.byId('CalculationMode').set('value','');
	dijit.byId('CalculationMode').set('placeHolder','Select');
	
	<?php if(isset($this->result)){?>
	showstate();
	setTimeout(function() {		
		dijit.byId('State').setValue("<?php echo $this->result[0]['State'];?>");
        }, 1250);
	showcity();
	setTimeout(function() {		
		dijit.byId('City').setValue("<?php echo $this->result[0]['City'];?>");
        }, 2000);
	<?php } ?>
	
	
	
	
	
	
        
        
});

function clearpageAdd() {        
        dijit.byId("FeeCode").reset();
        dijit.byId("FeeCode").set("value",null);
        
        dijit.byId("CalculationMode").reset();
        dijit.byId("CalculationMode").set("value",null); 
        
        dijit.byId("Amount").reset();
        dijit.byId("Amount").set("value",null);
	
	dijit.byId("Description").reset();
        dijit.byId("Description").set("value",null);
}

function showstate() {	
 var country =  dijit.byId('Country').value; 
 
 if(country != "")
	{ 
            var xhrArgs = {
                            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+country,
                            handleAs:'json',
                            load:function(data){ 
                                    AutoFillNextEditableDropDown("State",data); 
                            }
               }
            dojo.xhrGet(xhrArgs); 
	}

}

function showcity() {
 var state =  dijit.byId('State').value;
 
 if(state != "")
	{ 
            var xhrArgs = {
                            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+state,
                            handleAs:'json',
                            load:function(data){
					console.log(data);
                                    AutoFillNextEditableDropDown("City",data); 
                            }
               }
            dojo.xhrGet(xhrArgs); 
	}

}
function showdesc() {
 var feecode =  dijit.byId('FeeCode').value;
 if(feecode!=''){
    $.ajax({
         type: "GET",
         async: false,
         url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'sponsorsetup', 'action' => 'getdesc'), 'default', true); ?>',
         data: "idfeecode=" + feecode , // appears as $_GET['id'] @ ur backend side
         success: function(data) {
           $('#Description').val(data);
         }
       });
 }
}



var rowid = 1;
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
        var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

 
 function remarkValidation() {
	var flag = true;
	var FeeCode = dijit.byId("FeeCode").value;
	var CalculationMode = dijit.byId("CalculationMode").value;
	var Amount = dijit.byId("Amount").value;
        
	if(FeeCode=='' && CalculationMode =='' && Amount =='' ){                         
              dijit.byId("FeeCode").set( "state", "Error" );
	      dijit.byId("CalculationMode").set( "state", "Error" );
	      dijit.byId("Amount").set( "state", "Error" );
              flag = false; 
	}
	
	if(FeeCode=='') {
		dijit.byId("FeeCode").set( "state", "Error" );
                var flag = false;        
        }
	
	if(CalculationMode == ''){
	
	       dijit.byId("CalculationMode").set( "state", "Error" );
	       flag = false;
	
	}
	if(Amount == '' || isNaN(Amount)){
                dijit.byId("Amount").set( "state", "Error" );
		flag = false;
	}
	
	if(flag == true) {
		RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
<?php if(isset($this->result) && count($this->result) != 0){?>
		<?php foreach($this->result as $result) {?>
batchArray.push("<?php echo $result["FeeCode"]?>");
console.log(batchArray);
<?php }} ?>

function RemarkdetailsInsert() {
	
	var FeeCodeDV = dijit.byId("FeeCode").displayedValue;
	var FeeCode = dijit.byId("FeeCode").value;
	
	var DescriptionDV = dijit.byId("Description").displayedValue;
	var Description = $("#Description").val();
		
        var CalculationModeDV = dijit.byId("CalculationMode").displayedValue;
	var CalculationMode = dijit.byId("CalculationMode").value;
        
	var AmountDV = dijit.byId("Amount").displayedValue;
	var Amount = dijit.byId("Amount").value;
	
	batchArray.push(FeeCode);
        
	if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("Feecode cannot be same");
			
	}
	else{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);
		
		tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodeGrid[]>"+FeeCodeDV;
		tcol2.innerHTML="<input type='hidden' value='"+Description+"' name=DescriptionGrid[]>"+Description;		
		tcol3.innerHTML="<input type='hidden' value='"+CalculationMode+"' name=CalculationModeGrid[]>"+CalculationModeDV;
		tcol4.innerHTML="<input type='hidden' value='"+Amount+"' name=AmountGrid[]>"+AmountDV;
		rowid++;		
	}
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;   						// to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j])
					return true;
			}
		}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++) {
	        for(var x = 0, y = r.length; x < y; x++) {
	        	if(r[x]==this[i]) {
	                	continue o;
	              }
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
        
        
function checkphonefield(){    

    var fax = dijit.byId("Fax").value;
    var faxstatecode = dijit.byId('Faxstatecode').value;
    var faxcountrycode = dijit.byId('Faxcountrycode').value;
    
    var phone = dijit.byId("Phone").value;
    var phonestatecode = dijit.byId('Phonestatecode').value;
    var phonecountrycode = dijit.byId('Phonecountrycode').value;

    if(faxcountrycode!=''){
      if(faxstatecode == ''){
        dijit.byId("Faxstatecode").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxstatecode").set( "state", "Error" );
        return false;
      }
      if(fax == ''){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
    }

    if(faxstatecode!=''){
      if(faxcountrycode == ''){
        dijit.byId("Faxcountrycode").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxcountrycode").set( "state", "Error" );
        return false;
      }
      if(fax == ''){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
    }
    if(fax != ''){
      var len = fax.length;
      if(len < 5){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
      if(faxcountrycode == ''){
        dijit.byId("Faxcountrycode").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxcountrycode").set( "state", "Error" );
        return false;
      }
      if(faxstatecode == ''){
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxstatecode").focus();
        dijit.byId("Faxstatecode").set( "state", "Error" );
        return false;
      }
    }
    
    if(faxcountrycode!=''){
      if(faxstatecode == ''){
        dijit.byId("Faxstatecode").focus();
        alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxstatecode").set( "state", "Error" );
        return false;
      }
      if(fax == ''){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
    }

    if(faxstatecode!=''){
      if(faxcountrycode == ''){
        dijit.byId("Faxcountrycode").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxcountrycode").set( "state", "Error" );
        return false;
      }
      if(fax == ''){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
    }
    if(fax != ''){
      var len = fax.length;
      if(len < 5){
        dijit.byId("Fax").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Fax").set( "state", "Error" );
        return false;
      }
      if(faxcountrycode == ''){
        dijit.byId("Faxcountrycode").focus();
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxcountrycode").set( "state", "Error" );
        return false;
      }
      if(faxstatecode == ''){
        alert('Incorrect fax details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Faxstatecode").focus();
        dijit.byId("Faxstatecode").set( "state", "Error" );
        return false;
      }
    }
    
    if(phonecountrycode!=''){
      if(phonestatecode == ''){
        dijit.byId("Phonestatecode").focus();
        alert('Incorrect  phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonestatecode").set( "state", "Error" );
        return false;
      }
      if(phone == ''){
        dijit.byId("Phone").focus();
        alert('Incorrect  phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
    }

    if(phonestatecode!=''){
      if(phonecountrycode == ''){
        dijit.byId("Phonecountrycode").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonecountrycode").set( "state", "Error" );
        return false;
      }
      if(phone == ''){
        dijit.byId("Phone").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
    }
    if(phone != ''){
      var len = phone.length;
      if(len < 5){
        dijit.byId("Phone").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
      if(phonecountrycode == ''){
        dijit.byId("Phonecountrycode").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonecountrycode").set( "state", "Error" );
        return false;
      }
      if(phonestatecode == ''){
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonestatecode").focus();
        dijit.byId("Phonestatecode").set( "state", "Error" );
        return false;
      }
    }
    
    if(phonecountrycode!=''){
      if(phonestatecode == ''){
        dijit.byId("Phonestatecode").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonestatecode").set( "state", "Error" );
        return false;
      }
      if(phone == ''){
        dijit.byId("Phone").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
    }

    if(phonestatecode!=''){
      if(phonecountrycode == ''){
        dijit.byId("Phonecountrycode").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonecountrycode").set( "state", "Error" );
        return false;
      }
      if(phone == ''){
        dijit.byId("Phone").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
    }
    if(phone != ''){
      var len = phone.length;
      if(len < 5){
        dijit.byId("Phone").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phone").set( "state", "Error" );
        return false;
      }
      if(phonecountrycode == ''){
        dijit.byId("Phonecountrycode").focus();
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonecountrycode").set( "state", "Error" );
        return false;
      }
      if(phonestatecode == ''){
        alert('Incorrect phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
        dijit.byId("Phonestatecode").focus();
        dijit.byId("Phonestatecode").set( "state", "Error" );
        return false;
      }
    }
    
    return true;
  }

</script>


</head>
<body class="claro">
	<fieldset>
		<legend>
			 <?php echo $this->translate("Sponsor Setup"); ?>
		</legend>
		<form dojoType="dijit.form.Form" id="myForm" action="" method="post"
			name="myForm">
			<script type="dojo/method" event="onSubmit">
            if (this.validate()) {
                var ret = checkphonefield();
                if(ret){
                    return true;
                }else{
                    return false;
                }
            }else {
                return false;
            }
        </script>
			<table width="100%" class='table'>

				<?php echo $this->lobjSponsorSetupForm->IdUniversity?>
				<?php echo $this->lobjSponsorSetupForm->UpdDate?>
				<?php echo $this->lobjSponsorSetupForm->UpdUser?>
				<tr>
					<td><?php echo $this->translate("Sponsor ID");?>
						<span class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->SponsorId; ?></td>
					<td><?php echo $this->translate("First Name");?>
						<span class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->FirstName; ?></td>
				</tr>
				<tr>

					<td><?php echo $this->translate("Last Name");?>
					</td>
					<td><?php echo $this->lobjSponsorSetupForm->LastName; ?></td>
				</tr>
				<tr>
					<td colspan="8" style="height: 10px"></td>
				</tr>

				<tr>
					<th colspan='4'><?php echo $this->translate("Contact Info");?></th>
				</tr>

				<tr>
					<td><?php echo $this->translate("Address1");?> <span
						class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->Address1; ?></td>
					<td><?php echo $this->translate("Address2");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->Address2; ?></td>
				</tr>

				<tr>
					<td><?php echo $this->translate("Country");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->Country; ?></td>
					<td><?php echo $this->translate("State");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->State; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("City");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->City; ?></td>
					<td><?php echo $this->translate("Postal");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->Postal; ?></td>
				</tr>

				<tr>
					<td><?php echo $this->translate("Phone"); ?> <span class="reqMark">*</span>
					</td>
					<td><?php echo $this->lobjSponsorSetupForm->Phonecountrycode; ?> <?php echo $this->lobjSponsorSetupForm->Phonestatecode; ?>
						<?php echo $this->lobjSponsorSetupForm->Phone; ?></td>
					<td><?php echo $this->translate("Fax"); ?></td>
					<td><?php echo $this->lobjSponsorSetupForm->Faxcountrycode; ?> <?php echo $this->lobjSponsorSetupForm->Faxstatecode; ?>
						<?php echo $this->lobjSponsorSetupForm->Fax; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Email");?> <span class="reqMark">*</span>
					</td>
					<td><?php echo $this->lobjSponsorSetupForm->EmailAddress; ?></td>
				</tr>

				<tr>
					<td align="right" colspan="8"></td>
				</tr>

			</table>


			<table class="table" width="100%" class='table'>
				<tr>
					<th colspan='4'><?php echo $this->translate("Fee Info");?></th>
				</tr>

				<tr>
					<td><?php echo $this->translate("Fee Code");?>
					<span class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->FeeCode; ?></td>
					<td><?php echo $this->translate("Description");?></td>
					<td><?php echo $this->lobjSponsorSetupForm->Description; ?></td>

				</tr>
				<tr>
					<td><?php echo $this->translate("Calculation Mode");?>
					<span class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->CalculationMode; ?></td>

					<td><?php echo $this->translate("Amount");?>
					<span class="reqMark">*</span></td>
					<td><?php echo $this->lobjSponsorSetupForm->Amount; ?></td>
				</tr>
				<tr>
					<td align="right" colspan="8"><?php echo $this->lobjSponsorSetupForm->Add; ?>
						<?php echo $this->lobjSponsorSetupForm->Clear; ?></td>
				</tr>


			</table>
			<table class="table" width="100%" id="hor" cellpadding="3"
				cellspacing="1">
				<tr>
					<th><?php echo $this->translate("Fee Code");?>
					</th>
					<th><?php echo $this->translate('Description');?></th>
					<th><?php echo $this->translate("Calculation Mode");?>
					</th>
					<th><?php echo $this->translate("Amount");?></th>
				</tr>

				<?php if(isset($this->result) && count($this->result) != 0){?>
				<?php foreach($this->result as $result) {?>
				<tr>
					<td><?php echo $result["FeeCodeValue"];?>
					</td>

					<td><?php echo $result["Description"];?>
					</td>
					<td><?php if($result["CalculationMode"] =='1') { ?> <?php echo 'Amount';?>
						<?php } ?> <?php if($result["CalculationMode"] =='2') { ?> <?php echo 'Percentage';?>
						<?php } ?> <?php if($result["CalculationMode"] =='0') { ?> <?php echo "";?>
						<?php } ?>
					</td>
					<td><?php echo $result["Amount"];?>
					</td>

				</tr>
				<?php }?>
				<?php }?>


				<tr>
					<td align="right" colspan="4"><?php echo $this->lobjSponsorSetupForm->Save; ?>
						<input type='button' class="NormalBtn"
						dojotype="dijit.form.Button"
						label="<?php echo $this->translate('Back') ?>" value='click'
						onclick="window.location.href='<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'sponsorsetup', 'action' => 'index'), 'default', true); ?>';" />
					</td>
				</tr>

			</table>
		</form>
	</fieldset>