<script type="text/javascript">
    function getStudApp(id){
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'getstudapp'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('tbr_appstud_id');
            },
            complete: function() {
		hideLoading('tbr_appstud_id');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].id+'">'+data[index].name+'</option>';
            });
            $('#tbr_appstud_id').html(content);
        })
        .fail(function() {
            alert("error load student/applicant drop down"); 
        });
    }
    
    function getIntake(id){
        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'getsemesmerintake'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('tbr_intake');
            },
            complete: function() {
		hideLoading('tbr_intake');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].id+'">'+data[index].name+'</option>';
            });
            $('#tbr_intake').html(content);
        })
        .fail(function() {
            alert("error load semester/intake drop down"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'index'),'default',true);?>#tab-2';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<form method="post" id="form-new-barring">
<table class="table" width="100%">
    <thead>
        <tr>
            <th colspan="4"><?php echo $this->title; ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo $this->translate('Category'); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->tbr_category; ?></td>
            <td><?php echo $this->translate('Student/Applicant'); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->tbr_appstud_id; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Barring Type'); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->tbr_type; ?></td>
            <td><?php echo $this->translate('Semester/Intake'); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->tbr_intake; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Reason'); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->tbr_reason; ?></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="form-opt">
    <button type="submit" name="save"><?php echo $this->translate('Save'); ?></button>
</div>
</form>