<script type="text/javascript">
    $(function(){
        $( "#tabs" ).tabs();
    });
    
    function addBarring(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'addbarring'));?>";
    }
    
    function addRelease(){
        window.location="<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'addrelease'));?>";
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'auditpaperapplication'),'default',true);?>';" >
                <span class='add'></span>
                <?php //echo $this->translate("Add");?>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<br/>
<div id="tabs" class="clean-tabs">
    <ul>
        <li><a href="#tab-1"><?php echo $this->translate('Barring');?></a></li>
        <li><a href="#tab-2"><?php echo $this->translate('Release');?></a></li>
    </ul>
        
    <!-- TAB 1 -->
    <div id="tab-1">
        <div class="opt float">
            <button onclick="addBarring();">
                <span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add'); ?>
            </button> 
        </div>
        <br/>
        <br/>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Category'); ?></th>
                    <th><?php echo $this->translate('Student ID') ?></th>
                    <th><?php echo $this->translate('Name'); ?></th>
                    <th><?php echo $this->translate('Type'); ?></th>
                    <th><?php echo $this->translate('Semester/Intake'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th><?php echo $this->translate('Created By'); ?></th>
                    <th><?php echo $this->translate('Created Date'); ?></th>
                    <th><?php echo $this->translate('Last Updated By'); ?></th>
                    <th><?php echo $this->translate('Last Updated Date'); ?></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php
                if ($this->barringList){
                foreach ($this->barringList as $barringLoop){
                ?>
                <tr>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? 'Applicant':'Student'; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['at_pes_id']:$barringLoop['registrationId']; ?></td>
                    <td><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['appName']:$barringLoop['studName']; ?></td>
                    <td align="center"><?php echo $barringLoop['typeName']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['intakeName']:$barringLoop['semesterName']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_status']==0 ? 'Barred':'Released'; ?></td>
                    <td align="center"><?php echo $barringLoop['createby']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']=='0000-00-00' ? '':date('d-m-Y', strtotime($barringLoop['tbr_createdate'])); ?></td>
                    <td align="center"><?php echo $barringLoop['updateby']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']=='0000-00-00' ? '':date('d-m-Y', strtotime($barringLoop['tbr_upddate'])); ?></td>
                    <td align="center" class="options">
                        <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'editbarring', 'id'=>$barringLoop['tbr_id']),'default',true);?>';"><?php echo $this->translate('View'); ?></a>
                        |
                        <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'delete-barring', 'id'=>$barringLoop['tbr_id']),'default',true);?>';"><?php echo $this->translate('Delete'); ?></a>
                    </td>
                </tr>
                <?php
                }
                }
                ?>
            </tbody>
        </table>
    </div>
    
    <!-- TAB 2 -->
    <div id="tab-2">
        <div class="opt float">
            <button onclick="addRelease();">
                <span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add'); ?>
            </button>
        </div>
        <br/>
        <br/>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Category'); ?></th>
                    <th><?php echo $this->translate('Student ID') ?></th>
                    <th><?php echo $this->translate('Name'); ?></th>
                    <th><?php echo $this->translate('Type'); ?></th>
                    <th><?php echo $this->translate('Semester/Intake'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th><?php echo $this->translate('Created By'); ?></th>
                    <th><?php echo $this->translate('Created Date'); ?></th>
                    <th><?php echo $this->translate('Last Updated By'); ?></th>
                    <th><?php echo $this->translate('Last Updated Date'); ?></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php
                if ($this->barringList){
                foreach ($this->barringList as $barringLoop){
                ?>
                <tr>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? 'Applicant':'Student'; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['at_pes_id']:$barringLoop['registrationId']; ?></td>
                    <td><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['appName']:$barringLoop['studName']; ?></td>
                    <td align="center"><?php echo $barringLoop['typeName']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']==1 ? $barringLoop['intakeName']:$barringLoop['semesterName']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_status']==0 ? 'Barred':'Released'; ?></td>
                    <td align="center"><?php echo $barringLoop['createby']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']=='0000-00-00' ? '':date('d-m-Y', strtotime($barringLoop['tbr_createdate'])); ?></td>
                    <td align="center"><?php echo $barringLoop['updateby']; ?></td>
                    <td align="center"><?php echo $barringLoop['tbr_category']=='0000-00-00' ? '':date('d-m-Y', strtotime($barringLoop['tbr_upddate'])); ?></td>
                    
                    <td align="center" class="options">
                        <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'editrelease', 'id'=>$barringLoop['tbr_id']),'default',true);?>';"><?php echo $this->translate('View'); ?></a>
                        |
                        <a href="javascript:void(0);" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'barringrelease', 'action'=>'delete-barring', 'id'=>$barringLoop['tbr_id']),'default',true);?>';"><?php echo $this->translate('Delete'); ?></a>
                    </td>
                </tr>
                <?php
                }
                }
                ?>
            </tbody>
        </table>
    </div>
</div>