<select id="IdHostelLevel" name="IdHostelLevel" onChange="">
	<option value=''>select</option>
	<?php foreach($this->levelList as $level){?>
	<option value='<?php echo $level['key'];?>'>
		<?php echo $level['name']; ?>
	</option>
	<?php } ?>
</select>
