<div class="message toolbar">
    <h2>
        <?php 
            echo $this->translate("Manual Room Reservation"); 
        ?>
    </h2>
</div>
<br />

<script type="text/javascript">
    $(document).ready(function() {
        var block = $('#block').val();
        var level = $('#level').val();
        if(block != ''){
            setTimeout(function() {
                 getHostelLevel(block);
            }, 500);
            setTimeout(function() {
                 $('#IdHostelBlock').val(block);
                $('#IdHostelLevel').val(level);
                getroomallocation();
            }, 500);
        }
        setTimeout(function() {           
            if($('#setroom').val() != ''){                
                var id = $('#setroom').val();
                $("#"+id).attr("src","<?php echo $this->baseUrl();?>/images/green.png");
                $("#"+id).attr("onclick", "delimg('"+id+"')");
                $("#"+id).attr("class", "selectclass");
                var parentclass = $("#"+id).parent().attr('class');
                if($('#reservedstudentseat').length > 0){
                    if(parentclass == 'target'){
                        $('#reservedstudentseat').attr('bt-xtitle','<?php echo $this->studentname;?>');
                    }
                }
                $("#id"+id).val(id);
            }
        }, 500);

    });

    function setlevel(id){        
        $('#level').val(id);
    }

    function getHostelLevel(blockId){
        var IdStudentRegistration = $('#IdStudentRegistration').val();
        //$('#block').val(blockId);
        $.ajax({
            type: 'GET',
            async: false,
            url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'gethostellevel'), 'default', true); ?>?blockId='+blockId+'&IdStudentRegistration='+IdStudentRegistration,
            success: function(data) {
                $('#hostellevel').html(data);
            }
        });
    }
    //TODO:cust_type
    function getroomallocation(){
        var blockId = $('#IdHostelBlock').val();
        var levelId = $('#IdHostelLevel').val();
        var IdStudentRegistration = $('#IdStudentRegistration').val();        
        if(blockId == ''){
            alert('Please select block');
        }else if(levelId == ''){
            alert('Please select level');
        }else{
            $.ajax({
                type: 'GET',
                async: false,
                url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'getroomallocation'), 'default', true); ?>?blockId='+blockId+'&levelId='+levelId+'&IdStudentRegistration='+IdStudentRegistration + '&cust_type=' + <?php echo $this->cust_type; ?>,
                success: function(data) {
                    $('#roomallocation').html(data);
                }
            });
        }
    
    }

    function closepopup(){
        parent.jQuery.fn.colorbox.close();
    }
</script>
<span id="test_pop"><img width="40" height="40"
	src="<?php echo $this->baseUrl();?>/images/close.png"
	onclick="closepopup()"> </span>
</br>
<div style="height: 480px; width: 780px;" id="allocationpopup">

	<h1><?php echo $this->translate('Select Room'); ?></h1>
	<table width="100%" class="bookingTable">
		<tr>
			<td align="center"><?php echo $this->translate($this->labels['Block_Label']); ?></td>
			<td width="13%"><?php echo $this->lobjmanualReservationForm->IdHostelBlock; ?>
			</td>
			<td align="center"><?php echo $this->translate($this->labels['Level_Label']); ?></td>
			<td width="13%"><div id="hostellevel">
					<?php echo $this->lobjmanualReservationForm->IdHostelLevel; ?>
				</div></td>
			<td><input type="button" class="NormalBtn" value="View Allocation"
				onclick="getroomallocation()"></td>
			<td>
				<div class="legends">
					<div class="legend">
						<div class="color red"></div>
						<div class="text"><?php echo $this->translate('Occupied')?></div>
					</div>
					<div class="legend">
						<div class="color yellow"></div>
						<div class="text"><?php echo $this->translate('Reserved')?></div>
					</div>
					<div class="legend">
						<div class="color green"></div>
						<div class="text"><?php echo $this->translate('Available')?></div>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div id="roomallocation"></div>
</div>
<script type="text/javascript">
    <?php if(isset($this->Block) && ($this->Block != '')){?>
                getHostelLevel(<?php echo $this->Block;?>);
    <?php } ?>
</script>
<style type="text/css">
.legends { overflow:hidden }
.legends .legend { margin-bottom:5px;  }
.legends .legend .color { float:left; width:15px; height:15px; border:1px solid #ccc;}
.legends .legend .color.red { background:red; }
.legends .legend .color.yellow { background:yellow; }
.legends .legend .color.green { background:green; }
.legends .legend .text { margin-left:30px; }
</style>
