<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Reservation"); 
        ?>
    </h2>
    <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'hostel','controller'=>'manualreservation', 'action'=>'newhostelreservation'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<script type="text/javascript">
dojo.addOnLoad(function() {
        dijit.byId('field1').set('value','');
        dijit.byId('field1').set('placeHolder','Select');
        dijit.byId('field5').set('value','');
        dijit.byId('field5').set('placeHolder','Select');
        dijit.byId('field8').set('value','');
        dijit.byId('field8').set('placeHolder','Select');
        dijit.byId('field20').set('value','');
        dijit.byId('field20').set('placeHolder','Select');
});
</script>
<fieldset>
	<form action="<?php echo $this->baseUrl(); ?>/hostel/manualreservation"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Student Id"); ?>
				</td>
				<td><?php echo $this->lobjform->field3; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Student Name"); ?>
				</td>
				<td><?php echo $this->lobjform->field2; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("NRIC Id"); ?>
				</td>
				<td><?php echo $this->lobjform->field4; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Program"); ?></td>
				<td><?php echo $this->lobjform->field1; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Block_Label']) ?></td>
				<td><?php echo $this->lobjform->field5; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Level_Label']); ?></td>
				<td><?php echo $this->lobjform->field8; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Code") ?>
				</td>
				<td><?php echo $this->lobjform->field6; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Type") ?>
				</td>
				<td><?php echo $this->lobjform->field20; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Estimate Checkin Date'); ?></td>
				<td>
					<?php echo $this->translate('Between'); ?> 
					<input type="text" name="SemesterStartDate" id="SemesterStartDate" value="" dojoType="dijit.form.DateTextBox" onChange="dijit.byId(&#39;SemesterEndDate&#39;).constraints.min = arguments[0];" required="false" constraints="{datePattern:&#39;dd-MM-yyyy&#39;}">
					 <?php echo $this->translate('Till'); ?> 
					<input type="text" name="SemesterEndDate" id="SemesterEndDate" value="" dojoType="dijit.form.DateTextBox" required="false" constraints="{datePattern:&#39;dd-MM-yyyy&#39;}">
				</td>
			</tr>
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search; ?>
					<?php echo $this->lobjform->Clear; ?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<br />

	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Charge Type");?></th>
			<th><?php echo $this->translate("Student Type");?></th>
			<th><?php echo $this->translate("Agent/Registration/Application ID");?></th>
			<th><?php echo $this->translate("Student Name");?></th>
			<th><?php echo $this->translate("Room");?></th>
			<th><?php echo $this->translate("Charge");?></th>
			<th><?php echo $this->translate("Date Applied");?></th>
			<th><?php echo $this->translate("Reservation")." ".$this->translate("Status");?></th>
			<th></th>
		</tr>
		<?php if (count($this->paginator)): ?>

		<?php 
			foreach ($this->paginator as  $lobjstudents):
				if ($lobjstudents['cust_type'] == 1) {
					$tenant_name = $lobjstudents['student_name'];
					$tenant_id  = $lobjstudents['registrationId']; 
				} else {
					$tenant_name = $lobjstudents['applicant_name'];
					$tenant_id = $lobjstudents['at_pes_id'];
				}

				if(!empty($lobjstudents['agent_id'])) {
					$tenant_id = $lobjstudents['agent_id'];
				}

				if (($lobjstudents['cust_type'] == 1) && ($lobjstudents['tenant_type'] != 264))  {
					$cust_type = $this->translate("Student");
				} else if (($lobjstudents['cust_type'] == 2) && ($lobjstudents['tenant_type'] != 264)) {
					$cust_type = $this->translate("Applicant");
				} else {
                    $cust_type = $this->translate("Non-Student");
                }

				if(!empty($this->room_charge[$lobjstudents['IdHostelReservation']])) {
					$cur_charge = $this->room_charge[$lobjstudents['IdHostelReservation']];
				} else {
					$cur_charge = array();
				}
		?>

		<tr>
			<td><?php echo $lobjstudents['tenant_type_name'];?></td>
			<td><?php echo $cust_type; ?></td>
			<td><?php echo $tenant_id;?></td>
			<td><?php echo $tenant_name; ?></td>
			<td><?php echo ($lobjstudents['RoomCode']) ? $lobjstudents['RoomCode'] : '';?></td>
			<td><?php echo (!empty($cur_charge['Rate'])) ? $cur_charge['Rate'] . '/' . $cur_charge['tenancy_period_name'] : '';?></td>
			<td align='center'><?php echo ($lobjstudents['applied_date'] != NULL) ? date('d-m-Y',strtotime($lobjstudents['applied_date'])) : '';?></td>
			<td align='center'><?php echo ($lobjstudents['status']) ? ucwords($lobjstudents['status']) : '';?></td>
			<td align='center'><a href="<?php echo $this->baseUrl(); ?>/hostel/manualreservation/hostelreservation/IdHostelReservation/<?php echo $lobjstudents['IdHostelReservation']; ?>">View</a></td>
			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
	<?php if($this->blankMsg=='1') { ?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<td align="center" style="color: red"><?php echo $this->translate('No matching record found. Try
					different keywords.'); ?></td>
			</tr>
		</table>
	<?php } ?>