<div class="message toolbar">
	<h2>
		<?php 
			echo $this->translate("Manual Room Reservation"); 
		?>
	</h2>
	 <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'manualreservation', 'action'=>'index'),'default',true);?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

<style>
.makebold {
	font-weight: bold;
}

@media print {
	.non-printable {
		display: none;
	}
	.printable {
		display: block;
	}
}
</style>
<style type="text\css" media="print">
  /* #myFooter, #myHeader
  {
    display: none;
  } */
 </style>

 <link href="<?php echo $this->baseUrl().'/css/colorbox/colorbox-noimage.css'; ?>" rel="stylesheet" type="text/css" media="all">

<form id="roomReservationForm" method="post" onSubmit="return checkroomreservationForm();">
	
	<!--input type="hidden" name="cust_type" id="cust_type_form" value='1' -->
	
	<table class="table" width="100%">
		<tr>
			<th colspan="4" width="100%"><?php echo $this->translate("Hostel Reservation Information"); ?></th>
		</tr>
		<tr>
			<td><?php echo $this->translate('Charge Type'); ?></td>
			<td>
				<?php
					
					$this->lobjmanualReservationForm->tenant_type->setAttrib('onchange', 'get_customer_type_form()');
					echo $this->lobjmanualReservationForm->tenant_type; 
				?>
			</td>
			<td colspan="2">
				<div id="student_number_field" style="display:auto;">
					
					<input type='text' class='input-txt' id="registration_application_number" name="registration_application_number_disp" style="margin-bottom:6px;" /> <span id="student_search_status"></span><br />

					<label><?php echo $this->translate('ID Type'); ?>: </label>
					<span id="IdStudentRegistrationLabel"></span>
					
					<?php 
						$this->lobjmanualReservationForm->cust_type->setValue(1);
						echo $this->lobjmanualReservationForm->cust_type;
					?>
				
					<input type="hidden"  name="registration_application_number" />
					<input type="hidden" name="IdStudentRegistration" id="IdStudentRegistration" value='' />
				</div>
				<div id="agent_number_field" style="display:none;">
					<label><?php echo $this->translate('Agent Number'); ?>: </label>
					<?php 
						$agent_id = new Zend_Form_Element_Text('agent_id');
						$agent_id->removeDecorator('Label');
						$agent_id->removeDecorator('HtmlTag');
						echo $agent_id;
					?>
				</div>
				
			</td>
		</tr>
		<tr>
			<td width="25%"><?php echo $this->translate('Semester');?></td>
			<td width="25%"><?php echo $this->lobjmanualReservationForm->IdSemester;?></td>
			<td width="25%"><?php echo $this->translate('Start').' '.$this->translate('Date');?></td>
			<td width="25%"><?php echo $this->lobjmanualReservationForm->SemesterStartDate;?>
			<input type="hidden" name="sd" id="sd" value="<?php echo $this->UserRoomDetail['SemesterStartDate'];?>">
			<input type="hidden" name="ed" id="ed" value="<?php echo $this->UserRoomDetail['SemesterEndDate'];?>">
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('End').' '.$this->translate('Date');?> </td>
			<td><?php echo $this->lobjmanualReservationForm->SemesterEndDate;?></td>
			<td><input type="button" id="new_button" class="Btn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Room"); ?>" onclick="" /></td>
			<td>
				<?php echo $this->lobjmanualReservationForm->RoomCode;?>
				<?php echo $this->lobjmanualReservationForm->RoomId;?>
				<?php echo $this->lobjmanualReservationForm->SeatNo;?>
				<input type="button" id="clear_button" class="Btn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Clear Room"); ?>" onclick="" />

			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Status');?></td>
			<td><?php echo $this->lobjmanualReservationForm->Status;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Remarks');?></td>
			<td colspan="3"><textarea name='Remarks' cols="80" rows="4"><?php echo $this->lobjmanualReservationForm->Remarks->getValue(); ?></textarea></td>
		</tr>
		<tr width="30%">
			<td colspan="4" align="center"><?php
			echo $this->lobjmanualReservationForm->UpdateReserve;
			echo $this->lobjHostelroomreg->PrintSlip;
			echo $this->lobjmanualReservationForm->block;
			echo $this->lobjmanualReservationForm->level;
			echo $this->lobjmanualReservationForm->setroom;
			?>
			<input align="right" type='button' class="NormalBtn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate('Back') ?>" value='click'
				onclick="window.location.href='<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'index'), 'default', true); ?>';" />
			</td>
		</tr>
	</table>
</form>

<div id="dialog" title="Reservation Slip" style="display: none">
	<div id="dialog1" style="border: 4px solid #000">

		<table border="1" style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
			width="100%" cellpadding="3" cellspacing="1">

			<tr>
				<td colspan="2" style="font-size: 10px;line-height: 12px;font-weight:bold" align="center"><?php echo $this->translate("RESERVATION SLIP"); ?></td>
			</tr>
			</table>

			<table border="1"
						style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
						width="100%" cellpadding="3" cellspacing="1">

			<tr><td colspan = "4"><strong><?php echo $this->translate("Hostel Reservation Information")?></strong></td></tr>

			<tr>
			<td width="25%"><?php
			echo $this->translate("Student ID").': ';?></td>
			<td colspan="3" ><?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?></td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Name").': ';?></td>
			<td  colspan="3" ><?php echo ($this->studDet['name']) ? $this->studDet['name'] : ''?></td>

			</tr>


			<tr>
			<td><?php echo $this->translate("IC No. / Passport No.").': ';?></td>
			<td  colspan="3" ><?php echo ($this->studDet['NRIC']) ? $this->studDet['NRIC'] : ''?></td>

			</tr>


			<tr>
			<td><?php echo $this->translate("Program").': ';?></td>
			<td  colspan="3" ><?php echo ($this->studDet['ProgramName']) ? $this->studDet['ProgramName'] : ''?></td>

			</tr>

			<tr>
			<td><?php echo $this->translate("Religion").': ';?></td>
			<td><?php echo ($this->studDet['Religion']) ? $this->studDet['Religion'] : ''?></td>
			<td  width="25%"><?php echo $this->translate("Gender").': ';?></td>
			<td><?php if($this->studDet['Gender']=='0') { echo "Female"; } else { echo "Male"; } ?></td>
			</tr>



			</table>

			</br>
			<table border="1"
						style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
						width="100%" cellpadding="3" cellspacing="1">

			<tr><td colspan = "2"><strong><?php echo $this->translate("Hostel Details")?></strong></td></tr>

			<tr>
			<td width="25%" ><?php echo $this->translate("Hostel Address").': ';?></td>
			<td><?php if($this->displayStudentRoomData['address']!='') { ?>
						  <?php echo $this->UnversityName;?></br>
						  <?php echo $this->displayStudentRoomData['address'];?></br>
						  <?php echo $this->displayStudentRoomData['Zipcode'].', '.$this->displayStudentRoomData['CityName'];?></br>
						  <?php echo $this->displayStudentRoomData['StateName'].', '.$this->displayStudentRoomData['CountryName']?>
					<?php } ?></td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Office Tel No").': ';?></td>
			<td><?php echo ($this->displayStudentRoomData['Phone']) ? $this->displayStudentRoomData['Phone'] : ''?></td>
			</tr>
			<tr>
			<td><?php echo $this->translate("Hotline").': ';?></td>
			<td>017-4682728</td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Room Number").': ';?></td>
			<td><?php echo $this->displayStudentRoomData['RoomName'];?></td>
			</tr>

			<tr>
			<td><?php echo $this->translate("Reservation Date").': ';?></td>
			<td><?php echo ($this->displayStudentRoomData['UpdDate']) ? date('d-m-Y',strtotime($this->displayStudentRoomData['UpdDate'])) : ''?> </td>
			</tr>
			</table>

	</div>
	<table
		style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
		width="100%" cellpadding="3" cellspacing="1">

		<tr class="non-printable">
			<td style="font-size: 10px; border: 1px solid #FFFFFF; line-height: 12px;" colspan="3"
				align="right"><?php echo $this->lobjHostelroomreg->PrintData ;?>
			</td>
		</tr>
	</table>
</div>

<script>
	dojo.addOnLoad(function() {
		//dojo.byId('tenant_type').value='Student';

		<?php if($this->IdSemester == '') { ?>
			dijit.byId('IdSemester').set('value','');
			dijit.byId('IdSemester').set('placeHolder','Select');
		<?php } else { ?>
			//dijit.byId('IdSemester').set('value','<?php echo $this->IdSemester; ?>');
			dijit.byId('SemesterStartDate').set('readOnly', true);
			dijit.byId('SemesterEndDate').set('readOnly', true);
			getdates('<?php echo $this->IdSemester; ?>');
		<?php }?>

		dijit.byId('tenant_type').set('value', 263);
	});
    var cancelFlag = false;
    $(document).ready(function(){
        $("#new_button").click(function(){
        	if( (dijit.byId('tenant_type').value ==  263 ) && ($('#IdStudentRegistration').val() == '')) {
        		alert('<?php echo $this->translate('Please Select Student'); ?>');
        	} else {
	            $.ajax({
	                type: 'GET',
	                async: false,
	                url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'hostelreservationroom'), 'default', true); ?>?Idstudent=' + $('#IdStudentRegistration').val() + '&cust_type=' + get_cust_type() + '&tenant_type=' + dijit.byId('tenant_type').value,
	                success: function(data) {
	                    $("#new_button").colorbox({html:data});
	                    if($('#RoomCode').val()!=''){

	                    }
	                }
	            });
            }
        });

        $("#clear_button").click(function() {
			$('#RoomId').val('');
			$('#SeatNo').val('');
			$('#RoomCode').val('');
        });

        $("#CancelReserve").click(function() {
           cancelFlag = true;
        });

        //untuk trigger autocomplete by radiobutton
        $("[name*='cust_type']").click(function(){

        	type_id = $(this).val();
        	
			$( "#registration_application_number" ).autocomplete({

			  source: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'findstudent'), 'default', true); ?>' +  '/cust_type_id/'+ type_id,
			  minLength: 3,
			  search: function( event, ui) {
			  	$( "#student_search_status" ).html('<?php echo $this->translate('searching...'); ?>');
			  },
			  response: function (event, ui) {
			  	$( "#student_search_status" ).html('');
			  },
			  select: function( event, ui ) {
				$('#IdStudentRegistration').val(ui.item.id);
			  }
			});

        });
       //untuk default autocomplete
        $( "#registration_application_number" ).autocomplete({

	      source: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'manualreservation', 'action' => 'findstudent'), 'default', true); ?>' +  '/cust_type_id/'+ 1,
	      minLength: 3,
	      search: function( event, ui) {
		  	$( "#student_search_status" ).html('<?php echo $this->translate('searching...'); ?>');
		  },
		  response: function (event, ui) {
		  	$( "#student_search_status" ).html('');
		  },
		  select: function( event, ui ) {
			$('#IdStudentRegistration').val(ui.item.id);
		  }
	    });

    });

    function get_cust_type() {
    	if(dojo.byId('cust_type-1').checked) {
    		return(1);
    	} else {
    		return(2);
    	}

    	return(1);
    }

	

    function getdates(SemesterCode){

    	if(SemesterCode != ''){
    		$.ajax({
    	        type: 'GET',
    	        async: false,
    	        url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'chargessetup', 'action' => 'getsemesterdates'), 'default', true); ?>',
    	        data: "SemesterCode=" + SemesterCode,
    	        success: function(data) {
    		        obj = jQuery.parseJSON( data );
    		        $('#SemesterStartDate').val(obj[0]['StartDate']);
    		        $('#SemesterEndDate').val(obj[0]['EndDate']);

    		        $('#sd').val(obj[0]['StartDate_prop']);
    		        $('#ed').val(obj[0]['EndDate_prop']);

    		        //dijit.byId('SemesterStartDate').set('value', obj[0]['StartDate']);
    		        //dijit.byId('SemesterEndDate').set('value', obj[0]['EndDate']);

    		        dijit.byId('SemesterStartDate').set('readOnly', true);
    		        dijit.byId('SemesterEndDate').set('readOnly', true);
    		        
    	        }
    	    });
    	} else {
    		dijit.byId('IdSemester').set('value','');
			dijit.byId('IdSemester').set('placeHolder','Select');
			$('#SemesterStartDate').val('');
			dijit.byId('SemesterStartDate').set('readOnly', false);
			$('#SemesterEndDate').val('');
			dijit.byId('SemesterEndDate').set('readOnly', false);
        }
    }

    function checkroomreservationForm() {
        var flag = true;
        if ($('#SemesterStartDate').val() == '') {
        	dijit.byId('SemesterStartDate').focus();
        	dijit.byId('SemesterStartDate').attr('required',true);
            return flag = false;
        }
        if ($('#SemesterEndDate').val() == '') {
        	dijit.byId('SemesterEndDate').focus();
        	dijit.byId('SemesterEndDate').attr('required',true);
            return flag = false;
        }
        /*
        if($('#RoomCode').val() == ''){
            alert('Please select a room');
            dijit.byId('RoomCode').focus();
        	dijit.byId('RoomCode').attr('required',true);
            return flag = false;
        }
        */

        if(cancelFlag){
            var remarks = $('#Remarks').val();
            if(remarks.trim() == ''){
                alert('Please give remarks');
                flag = false;
           }
        }
        return flag;

    }

    function saveprintslip() {
        $( "#dialog" ).dialog({
 			modal: true,
 			height: 500,
 			width: 580		});
    }


    function PrintDiv() {
		var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
		WinPrint.document.write($('#dialog1').html());
		WinPrint.document.close();
		WinPrint.focus();
		WinPrint.print();
		WinPrint.close();
            //$('#dialog1').printElement();
    }

    function get_customer_type_form() {
    	customer_type = dijit.byId('tenant_type').get('value');
    	if(customer_type == 264) {
    		$('#agent_number_field').show();
    		$('#student_number_field').hide();

    		//clears student id
    		$('#IdStudentRegistration').val('');
    		$('#IdStudentRegistrationLabel').html('');
    	} else {
    		$('#agent_number_field').hide();
    		$('#student_number_field').show();

    		$('#agent_number').val('');
    	}
    }


    function select_user( id, name ) {
    	$('#IdStudentRegistration').val(id);
    	$('#IdStudentRegistrationLabel').html(name);
    }





</script>