<script type="text/javascript">
var rowids = 2;
var Credithours =0;
function insertnewcourses(courses){
	for(var i=0;i<courses.length;i++){
		
		var SubjectId = courses[i]['IdSubject'];
		var SubjectName = courses[i]['SubjectName'];
		var CreditHours = courses[i]['CreditHours'];
		var SubjectCatagory = courses[i]['DefinitionDesc'];
		Credithours = parseFloat(Credithours) + parseFloat(CreditHours);
		var trow=document.getElementById('table3').insertRow(rowids);
		trow.id = "row_"+i;
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        var tcol3=trow.insertCell(2);
        
        tcol1.innerHTML="<input type='hidden' value='"+SubjectId+"' name=IdSubjectGrid[]>"+SubjectName;
        tcol2.innerHTML="<input type='hidden' value='"+CreditHours+"' name=CreditHoursGrid[]>"+CreditHours;
        tcol3.innerHTML="<input type='hidden' value='"+SubjectCatagory+"' name=SubjectCatagoryGrid[]>"+SubjectCatagory;
        rowids++;
	}	
	$("#TotalCreditHours").val(Credithours);
	$("#TotalCreditHours").attr('readonly','readonly');
}
</script>

<table class = "table" id="table3" width="100%" >
<tr>
	<th colspan="3">
		<?php echo $this->translate("Academic Landscape");?>
	</th>
</tr>
<tr>
	<th><?php echo $this->translate("Course");?></th>
	<th><?php echo $this->translate("Credit Hours");?></th>
	<th><?php echo $this->translate("Course Category");?></th>
</tr>
<tr>
	<th><?php echo "Total Credit Hours"?></th>
	<td><?php echo $this->lobjchangeprogramForm->TotalCreditHours;?></td>
</tr>
<tr>
                <td colspan="14" style="text-align:right;">
                    <?php echo $this->lobjchangeprogramForm->Save;?>
                </td>
            </tr>
</table>