<?php $credittransferapp = $this->credittransferapp;?>
<script type="text/javascript">
function checkapp(){
	var value = "<?php echo $credittransferapp;?>";
	if(value){
		alert("There is a pending Credit Transfer application for selected Student.Change Program is not possible");
		return false;
	}
	return true;
}
</script>
<table class = "table" id="table3" width="100%" >
<tr>
	<th colspan="4">
		<?php echo $this->translate("Approval Details");?>
	</th>
</tr>
<tr>
	<td><?php echo $this->translate("Remarks");?><span class="reqMark">*</span></td>
	<td><?php echo $this->lobjchangeprogramForm->Remarks;?></td>
	<?php if($this->makeRegFieldHide == "0"){?>
	<td><?php echo $this->translate("Registration Id");?><span class="reqMark">*</span></td>
	<td><?php echo $this->lobjchangeprogramForm->registrationId;?></td>
	<?php }?>
</tr>
<tr>
	<td><?php echo $this->translate("Approve By");?><span class="reqMark">*</span></td>
	<td><?php echo $this->lobjchangeprogramForm->ApproveByName;?><?php echo $this->lobjchangeprogramForm->ApproveBy;?></td>
	<td><?php echo $this->translate("Approve Date");?><span class="reqMark">*</span></td>
	<td><?php echo $this->lobjchangeprogramForm->ApproveDate;?></td>
</tr>
<tr>
<td colspan="14" style="text-align:right;">
	<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-four','tab-three')">
</td>
</tr>
</table>
<table class="table" width="100%">
<tr>
	<td align="center">
	<?php echo $this->lobjchangeprogramForm->Approve;?><?php echo $this->lobjchangeprogramForm->Disapprove;?>
	</td>
</tr>
</table>