<table class = "table" id="table3" width="100%" >
<tr>
	<th colspan="3">
		<?php echo $this->translate("Academic Landscape");?>
	</th>
</tr>
<tr>
	<th><?php echo $this->translate("Course");?></th>
	<th><?php echo $this->translate("Credit Hours");?></th>
	<th><?php echo $this->translate("Course Category");?></th>
</tr>
<?php if(isset($this->studentnewlandscapedetails)){?>
	<?php foreach($this->studentnewlandscapedetails as $studentnewlandscapedetails){?>
	<tr>
		<td><?php echo $studentnewlandscapedetails['SubjectName'];?></td>
		<td><?php echo $studentnewlandscapedetails['CreditHours'];?></td>
		<td><?php echo $studentnewlandscapedetails['DefinitionDesc'];?></td>
	</tr>
	<?php }?>
	<?php }?>
<tr>
	<th><?php echo "Total Credit Hours"?></th>
	<td><?php echo $this->lobjchangeprogramForm->TotalCreditHours;?></td>
</tr>
<tr>
                <td colspan="14" style="text-align:right;">
                	<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Next");?> name = "Next" Value = "<?php echo $this->translate("Next");?>" onclick = "fnToggleTabs('Next','tab-three','tab-four')">
					<input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-three','tab-two')">
                </td>
            </tr>
           
</table>