<script type="text/javascript">
    dojo.addOnLoad(function() {
        dijit.byId('field1').set('value','');
        dijit.byId('field1').set('placeHolder','Select');
        dijit.byId('field8').set('value','');
        dijit.byId('field8').set('placeHolder','Select');
        dijit.byId('field5').set('value','');
        dijit.byId('field5').set('placeHolder','Select');
    });
</script>
<fieldset>
    <legend>
        <?php echo $this->translate("Student Application Search"); ?>
    </legend>
    <form action="<?php echo $this->baseUrl(); ?>/records/studentprogramchange/changeprogramapplication" method="POST">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate("Student Name"); ?></td>
                <td><?php echo $this->lobjform->field2; ?></td>
                <td><?php echo $this->translate("Student Id"); ?></td>
                <td><?php echo $this->lobjform->field3; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Id"); ?></td>
                <td><?php echo $this->lobjform->field4; ?></td>
                <td><?php echo $this->translate("Program"); ?></td>
                <td><?php echo $this->lobjform->field1; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("CP") . " " . $this->translate("Application") . " " . $this->translate("ID"); ?></td>
                <td><?php echo $this->lobjform->field6; ?></td>
                <td><?php echo $this->translate("Profile") . " " . $this->translate("Status"); ?></td>
                <td><?php echo $this->lobjform->field5; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("CP") . " " . $this->translate("Application") . " " . $this->translate("Status"); ?></td>
                <td><?php echo $this->lobjform->field8; ?></td>
            </tr>
            <tr>
                <td align = "center" colspan = "4">
                    <?php echo $this->lobjform->Search; ?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module' => 'records', 'controller' => 'studentprogramchange', 'action' => 'addchangeprogramapplication'), 'default', true); ?>';" />
                    <?php echo $this->lobjform->Clear; ?>
                </td>
            </tr>
        </table>
            </form>
        </fieldset>
        <br/>
<fieldset>
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <th><?php echo $this->translate("CP")." ".$this->translate("Application ID"); ?></th>
                <th><?php echo $this->translate("Student Name"); ?></th>
                <th><?php echo $this->translate("Student ID"); ?></th>                
                <th><?php echo $this->translate("Application Status"); ?></th>
                <th><?php echo $this->translate("Source"); ?></th>
                
            </tr>
            <?php if (count($this->paginator)): ?>
  <?php foreach ($this->paginator as $lobjstudents): ?>
                <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0", "#FFFFFF"))->next() ?>">
                  <td><a href="<?php echo $this->baseUrl(); ?>/records/studentprogramchange/editchangeprogramapplication/Id/<?php echo $this->escape($lobjstudents['IdChangeProgramApplication']); ?>"><?php echo $lobjstudents['IdCPApplication'];?></a></td>                              
                  <td><?php echo $this->escape($lobjstudents['FName'])." ".$this->escape($lobjstudents['LName']); ?></td>
                  <td><?php echo $lobjstudents['registrationId'];?></td>
                  <td><?php echo strtoupper($lobjstudents['DefinitionDesc']);?></td>
                  <td><?php echo $this->translate("Manual"); ?></td>
        <?php endforeach; ?>
        <?php endif; ?>
              </tr>
        </table>
</fieldset>

