
<script type="text/javascript">
	function del(){
		var id = $('input[name=id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate("Please select item first"); ?>');
		}else{
			if(confirm('<?php echo $this->translate("Confirm to delete?"); ?>')){
				window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-discipline-programme', 'action'=>'delete'),'default',true); ?>/id/"+id;
			}
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-discipline-programme', 'action'=>'add', 'code'=>$this->code, 'year'=>$this->selected_year['ay_id']),'default',true);?>";
	}

	function changeYear(element){
		window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-discipline-programme', 'action'=>'detail', 'code'=>$this->code),'default',true);?>/year/"+$(element).val();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add();">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'highschool-discipline-programme', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div width="500px">
	<table class="table2" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="150px"><?php echo $this->translate("Discipline Name"); ?></th>
			<td><?php echo $this->discipline['smd_desc']; ?></td>
		</tr>
		<tr>
			<th width="150px"><?php echo $this->translate("Discipline Code"); ?></th>
			<td><?php echo $this->discipline['smd_code']; ?></td>
		</tr>
		<!--<tr>
			<th width="150px"><?php echo $this->translate("Academic Year"); ?></th>
			<td>
				<?php echo $this->academicYear['ay_code']; ?>
				<select name="year" id="year" onchange="changeYear(this);">
					<?php 
						foreach ($this->academicYearList as $academicyear):
						
						$select="";
						if($academicyear['ay_id']==$this->selected_year['ay_id']){
							$select="selected='selected'";
						}
					?>
					<option value="<?php echo $academicyear['ay_id']; ?>" <?php echo $select; ?> ><?php echo $academicyear['ay_code'];?></option>
					<?php endforeach;?>
				</select>
			</td>
		</tr>
	--></table>	
</div>
<br />
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Programme Name"); ?>(<?php echo $this->translate("Indonesia"); ?>)</th>
		<th><?php echo $this->translate("Programme Name"); ?></th>
		<th><?php echo $this->translate("Programme Code"); ?></th>
		<th><?php echo $this->translate("Short Name"); ?></th>
	</tr>
	<?php 
	if($this->disciplineProgramme){
		foreach ($this->disciplineProgramme as $programme):
	?>
		<tr>
			<td><input type="radio" name="id" value="<?php echo $programme['apr_id']; ?>" /></td>
			<td><?php echo $programme['ArabicName']; ?></td>
			<td><?php echo $programme['ProgramName']; ?></td>
			<td align="center"><?php echo $programme['ProgramCode']; ?></td>
			<td align="center"><?php echo $programme['ShortName']; ?></td>
		</tr>
	<?php 
		endforeach;
	}
	?>
</table>