<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->baseUrl()?>/studentfinance/account-applicant/ledger/type/2/id/<?php echo $this->student['idStudentRegistration']; ?>"><span class='preview'></span><?php echo $this->translate('SOA')?></a>
			</li>
			<li>							
				<a href="<?php echo $this->baseUrl()?>/graduation/clearance/fin"><span class='back'></span><?php echo $this->translate('Back')?></a>
			</li>
		</ul>
	</div>
</div>
<br />

<form method="post" id="form_edit" name="form_edit">
<input type='hidden' name='idStudentRegistration' value='<?php echo $this->student['idStudentRegistration']; ?>'>
<input type='hidden' name='dcf_id' value='<?php echo $this->fin['dcf_id']; ?>'>


	<table width="100%" class="table">
		<tr>
			<td width="20%"><?php echo $this->translate('Student ID')?></td>
			<td><input type="text" class="input-txt" name="student_id" disabled="disabled" value="<?php echo $this->student['registrationId']; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Student Name')?></td>
			<td><input type="text" class="input-txt" name="student_name" disabled="disabled" value="<?php echo $this->student['student_name']; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Programme')?></td>
			<td><?php echo $this->student['ProgramCode']; ?></td>
		</tr>
		
	</table>

	<br />

	<table width="100%" class="table">
		<tr>
			<th colspan="2"><?php echo $this->translate('Knowledge Management Centre')?></th>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Student ID')?></td>
			<td><?php echo $this->student['registrationId']; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Student Name')?></td>
			<td><?php echo $this->student['student_name']; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Pending to Return')?></td>
			<td><?php echo isset($this->kmc['kmc_return']) ? $this->kmc['kmc_return']:''; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Penalty (RM)')?></td>
			<td><?php echo isset($this->kmc['kmc_penalty']) ? $this->kmc['kmc_penalty']:''; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Paid On')?></td>
			<td><?php echo isset($this->kmc['kmc_paiddt']) && $this->kmc['kmc_paiddt']!='0000-00-00' ? date('d-m-Y',strtotime($this->kmc['kmc_paiddt'])):''; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Status')?></td>
			<td>
				<?php echo (isset($this->kmc['kmc_status']) && $this->kmc['kmc_status']==1) ?  'APPROVE':'PENDING'; ?>
			</td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Remarks')?></td>
			<td><?php echo $this->kmc['kmc_remarks']; ?></td>
		</tr>
	</table>
	<br />
	<table width="100%" class="table">
		<tr>
			<th colspan="2"><?php echo $this->translate('Payment to be Collected / Refunded')?></th>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Security Deposit')?></td>
			<td>RM <input type="text" class="input-txt small" name="dcf_security_deposit" value="<?php echo isset($this->fin['dcf_security_deposit']) ? $this->fin['dcf_security_deposit']:''; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Personal Bond')?></td>
			<td>RM <input type="text" class="input-txt small" name="dcf_bond" value="<?php echo isset($this->fin['dcf_bond']) ? $this->fin['dcf_bond']:''; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Tuition Fee/Accommodation')?></td>
			<td>RM <input type="text" class="input-txt small" name="dcf_fee" value="<?php echo isset($this->fin['dcf_fee']) ? $this->fin['dcf_fee']:''; ?>" /></td>
		</tr>
		<!--<tr>
			<td width="20%"><?php echo $this->translate('Total')?></td>
			<td>RM <input type="text" class="input-txt small" name="security" value="<?php echo isset($this->fin['dcf_security_deposit']) ? $this->fin['dcf_security_deposit']:''; ?>" /></td>
		</tr>

		
		-->
		<tr>
			<td width="20%"><?php echo $this->translate('Paid On')?></td>
			<td><input type="text" style="width:100px" placeholder="dd-mm-yyyy" class="input-txt datepicker" name="dcf_paiddt" value="<?php echo isset($this->fin['dcf_paiddt']) && $this->fin['dcf_paiddt'] != '0000-00-00' ? date('d-m-Y',strtotime($this->fin['dcf_paiddt'])):''; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Status')?></td>
			<td>
				<select class="select" name="dcf_status">
					<option value="0" <?php echo (isset($this->fin['dcf_status']) && $this->fin['dcf_status']==0) ?  'selected':'';?>>PENDING</option>
					<option value="1" <?php echo (isset($this->fin['dcf_status']) && $this->fin['dcf_status']==1) ?  'selected':'';?>>APPROVE</option>					
				</select>
			</td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Remarks')?></td>
			<td><textarea name='dcf_remarks'><?php echo $this->fin['dcf_remarks']; ?></textarea></td>
		</tr>
	</table>
	<?php //if ($this->fin['dcf_status']!=1){ ?>
	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate('Submit')?>" name="submit" />
	</div>
	<?php //} ?>
</form>

<script type="text/javascript">
	$(function()
	{
		$( ".datepicker" ).datepicker({
		      dateFormat: 'dd-mm-yy'
		    });
	});
</script>