<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->baseUrl()?>/graduation/clearance/ict/"><span class='back'></span><?php echo $this->translate('Back')?></a>
			</li>
		</ul>
	</div>
</div>
<br />

<form method="post" id="form_edit" name="form_edit">
<input type='hidden' name='idStudentRegistration' value='<?php echo $this->student['idStudentRegistration']; ?>'>
<input type='hidden' name='ict_id' value='<?php echo $this->ict['ict_id']; ?>'>


	<table width="100%" class="table">
		<tr>
			<td width="20%"><?php echo $this->translate('Student ID')?></td>
			<td><input type="text" class="input-txt" name="student_id" disabled="disabled" value="<?php echo $this->student['registrationId']; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Student Name')?></td>
			<td><input type="text" class="input-txt" name="student_name" disabled="disabled" value="<?php echo $this->student['student_name']; ?>" /></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Programme')?></td>
			<td><?php echo $this->student['ProgramCode']; ?></td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Group')?></td>
			<td><input type="checkbox" name="ict_removeemail" value="1" id="ict_removeemail" <?php echo (isset($this->ict['ict_removeemail']) && $this->ict['ict_removeemail']==1) ?  'checked':'';?>/> <label for="removeemail"><?php echo $this->translate('Remove Email Address From The Group')?></label></td>
		</tr>
		
		<tr>
			<td width="20%"><?php echo $this->translate('Status')?></td>
			<td>
				<select class="select" name="ict_status">
				<option value="0" <?php echo (isset($this->ict['ict_status']) && $this->ict['ict_status']==0) ?  'selected':'';?>>PENDING</option>
					<option value="1" <?php echo (isset($this->ict['ict_status']) && $this->ict['ict_status']==1) ?  'selected':'';?>>APPROVE</option>
					
				</select>
			</td>
		</tr>
		<tr>
			<td width="20%"><?php echo $this->translate('Remarks')?></td>
			<td><textarea name='ict_remarks'><?php echo $this->ict['ict_remarks']; ?></textarea></td>
		</tr>
	</table>	
	<?php if ($this->ict['ict_status']!=1){ ?>
	<div class="form-opt">
		<input type="submit" value="<?php echo $this->translate('Submit')?>" name="submit" />
	</div>
	<?php } ?>
</form>

<script type="text/javascript">
	$(function()
	{
		$('.datepicker').datepicker();
	});
</script>