<script type="text/javascript">
$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});


function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}


function confirmSubmit(){

	flag = checkboxValidate();
	
	if(flag==true){
		
		$( "#dialog-box" ).dialog('open');	
		
	}else{
		alert('Please select student');
		return false;
	}
}

function printClearance(){
	var url="<?php echo $this->url(array('module'=>'graduation','controller'=>'clearance','action'=>'print'), 'default', true);?>";
	$("#formEntry").attr('action',url);
}

$(function() {

	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Confirm": function() {

				var remarks = $("#remarks").val();			
    			$("#approval_remarks").val( remarks );	

    			var url="<?php echo $this->url(array('module'=>'graduation','controller'=>'clearance','action'=>'save-summary'), 'default', true);?>";
    			$("#formEntry").attr('action',url);	
    			$("#formEntry").submit();		
            	        	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
				return false;
            }
        }
    });
		
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>	
</div>
<br />
<div class="chev-step">
	<ul>
		<li class="current empty"><a href="<?php echo $this->baseUrl()?>/graduation/clearance/"><?php echo $this->translate('Summary')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/kmc"><?php echo $this->translate('KMC')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/fin"><?php echo $this->translate('Finance')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/ict"><?php echo $this->translate('ICT')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/logistic"><?php echo $this->translate('Logistic')?></a></li>
	</ul>
</div>

<fieldset>
<?php echo $this->form; ?>
	
</fieldset>

<br />

<?php if(count($this->student)>0) { ?>

<form id='formEntry' name="formEntry" method='post'>

<input type='hidden' name='approval_remarks' id='approval_remarks'>

<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate('Student Name')?></th>
		<th><?php echo $this->translate('Intake')?></th>
		<th><?php echo $this->translate('Programme')?></th>
		<th><?php echo $this->translate('Approved By')?></th>
		<th><?php echo $this->translate('Approved Date')?></th>
		<th width="10%"><?php echo $this->translate('KMC')?></th>
		<th width="10%"><?php echo $this->translate('Finance')?></th>
		<th width="10%"><?php echo $this->translate('ICT')?></th>
		<th width="10%"><?php echo $this->translate('Logistic')?></th>
		<th width="10%"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
	</tr>
	<?php 	 
		foreach($this->student as $index=>$student){
	?>
	<tr>
		<td align='center'><?php echo $student['registrationId']; ?></td>
		<td><?php echo $student['student_name']; ?></td>
		<td align='center'><?php echo $student['intake_name']; ?></td>
		<td align='center'><?php echo $student['ProgramCode']; ?></td>
		<td align='center'><?php echo $student['summary_approved_by']; ?></td>
		<td align='center'><?php echo ($student['dcs_createddt']!='') ?  date('d-m-y',strtotime($student['dcs_createddt'])):''; ?></td>
		<td class="trans"> 
			
				<?php if(isset($student['kmc']['kmc_status']) && $student['kmc']['kmc_status']==1){ ?>
				<div class="status-wrap approved tooltip">
				<span class="icon icon-check"></span> 
				</div>
				<?php }else{ ?>
				<div class="status-wrap tooltip">
				-
				</div>
				<?php } ?>
			
			<div class="tooltiptext">
				<p><strong>Status:</strong><strong> <?php echo (isset($student['kmc']['kmc_status']) && $student['kmc']['kmc_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
				
			</div>
		</td>
		<td class="trans">
			
				<?php if(isset($student['fin']['dcf_status']) && $student['fin']['dcf_status']==1){ ?>
				<div class="status-wrap approved tooltip">
				<span class="icon icon-check"></span> 
				</div>
				<?php }else{ ?>
				<div class="status-wrap tooltip">
				-
				</div>
				<?php } ?>
				
			<div class="tooltiptext">
				<p><strong>Status:</strong><strong> <?php echo (isset($student['fin']['dcf_status']) && $student['fin']['dcf_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
			</div>
		</td>
		<td class="trans">
		
				<?php if(isset($student['ict']['ict_status']) && $student['ict']['ict_status']==1){ ?>
				<div class="status-wrap approved tooltip">
				<span class="icon icon-check"></span> 
				</div>
				<?php }else{ ?>
				<div class="status-wrap tooltip">
				-
				</div>
				<?php } ?>
				
			<div class="tooltiptext">
				<p><strong>Status:</strong><strong> <?php echo (isset($student['ict']['ict_status']) && $student['ict']['ict_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
			</div>
			
		</td>
		
		<td class="trans">
		
				<?php if(isset($student['log']['log_status']) && $student['log']['log_status']==1){ ?>
				<div class="status-wrap approved tooltip">
				<span class="icon icon-check"></span> 
				</div>
				<?php }else{ ?>
				<div class="status-wrap tooltip">
				-
				</div>
				<?php } ?>
				
			<div class="tooltiptext">
				<p><strong>Status:</strong><strong> <?php echo (isset($student['log']['log_status']) && $student['log']['log_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
			</div>
			
		</td>
		
		<td align='center'>
		<?php if($student['dcs_status']!=1){?>
			<input class='chkbx'  type='checkbox' name='IdStudentRegistration[]' id='IdStudentRegistration[]' value='<?php echo $student['idStudentRegistration']; ?>'>
		<?php }else{
			echo 'Approved';	
		}?>
		</td>
	</tr>
	<?php } ?>
</table>

<?php if(count($this->student)>0) { ?>
<div class='form-opt'>
	<input type='button' name='save' class='btn-submit' value='Submit' onclick='return confirmSubmit();'>
	<input type='submit' name='print' class='btn-submit' value='Print' onclick='return printClearance();'>
</div>
<?php } ?>	
</form>
<?php } ?>

<div id="dialog-box" title="<?php echo $this->translate("Comment Box"); ?>">
<table>
<tr>
<td>Remarks</td>
<td>
<textarea name='remarks' id='remarks'></textarea>
</td>
</tr>
</table>
</div>


<style type="text/css">
	.table td.trans { background:#fff; text-align:center; border:none; border-bottom:1px solid #ccc; }
	.table td.trans:last-child { border-right:1px solid #ccc; }
	.status-wrap { text-align:center; padding:3px 0; background:#f8f8f8; color:#999 }
	.status-wrap.approved { background:#bceea1;  color:#fff; }
	.status-wrap.pending { }
</style>