<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>	
</div>
<br />

<?php if($this->auth->getIdentity()->IdRole == 1 || $this->auth->getIdentity()->IdRole == 455) { ?>
<div class="chev-step">
	<ul>
		<li class="empty"><a href="<?php echo $this->baseUrl()?>/graduation/clearance/"><?php echo $this->translate('Summary')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/kmc"><?php echo $this->translate('KMC')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/fin"><?php echo $this->translate('Finance')?></a></li>
		<li><a href="<?php echo $this->baseUrl()?>/graduation/clearance/ict"><?php echo $this->translate('ICT')?></a></li>
		<li class="current"><a href="<?php echo $this->baseUrl()?>/graduation/clearance/logistic"><?php echo $this->translate('Logistic')?></a></li>
	</ul>
</div>
<?php } ?>

<fieldset>
<?php echo $this->form; ?>
</fieldset>

<br />
<?php if(count($this->student)>0) { ?>
<table width="100%" class="table">
	<tr>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate('Student Name')?></th>
		<th><?php echo $this->translate('Intake')?></th>
		<th><?php echo $this->translate('Programme')?></th>
		<th><?php echo $this->translate('Approved By')?></th>
		<th><?php echo $this->translate('Approved Date')?></th>
		<th><?php echo $this->translate('Status')?></th>
		<th width="15%"></th>
	</tr>
	<?php 
	
		foreach($this->student as $index=>$student){
	?>
	<tr>
		<td align='center'><?php echo $student['registrationId']; ?></td>
		<td><?php echo $student['student_name']; ?></td>
		<td align='center'><?php echo $student['intake_name']; ?></td>
		<td align='center'><?php echo $student['ProgramCode']; ?></td>
		<td align='center'><?php echo $student['log_approved_by']; ?></td>
		<td align='center'><?php echo ($student['log_createddt']!='') ?  date('d-m-y',strtotime($student['log_createddt'])):''; ?></td>
		<td align='center'>
			<?php echo ($student['dc_status']==1) ? 'Approved':'Pending'; ?>
		</td>
		<td class="options center">		
			<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'clearance','action'=>'logistic-edit','id'=>$student['idStudentRegistration']));?>"><?php echo ($student['dc_status']==1) ? 'View':'Edit'; ?></a>
		
		</td>
	</tr>
	<?php } ?>
</table>
<?php } ?>