<?php
$data = $this->data;
$roomTypeDB = new App_Model_Hostel_DbTable_HostelRoomType();
$room_list = $roomTypeDB->getRoomList(263);	
   
?>
<table border=0 width="100%" class="table">
	<thead>
	<tr>
	   <th><?php echo ("Occupancy Type"); ?></th>
	   <th><?php echo ("Room Type"); ?></th>
	   <th><?php echo ("Monthly Rate"); ?><br>(RM)</th>
	</tr>
	</thead>
<?php
$record_count = 0;
foreach ($room_list as $room) {

	if( isset($data['acd_type']) && $data['acd_type']==$room['IdHostelRoomType']){
		$record_count++;
	} else {
		continue;
	}        	
?>
	<tr>
		<td align='left'><?php echo $room['OccupancyType']; ?></td>
		<td align='left'><?php echo $room['RoomType']; ?></td>
		<td align='left'><?php echo $room['Rate']; ?></td>
	</tr>
<?php
}
?>

<?php if($record_count == 0) { ?>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>

<?php } ?>
</table>
