<?php
$data = $this->data;
//var_dump($data); exit;
$transID = $this->transID;
$statusDef = array(
		1 => 'New',
		2 => 'Viewed',
		3 => 'Incomplete',
		4 => 'Complete',
                5 => 'Not Applicable'
	);
?>
<table width="100%" class="table">
	<thead>
	<tr>
		<th align="center"><?php echo $this->translate('Document List'); ?></th>
                <th align="center"><?php echo $this->translate('Document Description'); ?></th>
		<th align="center"><?php echo $this->translate('Documents/Record'); ?></th>
                <th align="center"><?php echo $this->translate('Status'); ?></th>
	</tr>
	</thead>
	<tbody>
<?php 
	//foreach checklist that needs checking...
	foreach($data as $item) {
		
		//$documents = $appDocumentDB->getDataArray($this->transID,$item['ae_id'],'applicant_employment');
?>
                <tr>
		<?php
                $list = Application_Model_DbTable_ChecklistVerification::universalQueryAll($item['table_name'], '*', $item['table_id_column'].' = '.$transID, $item['table_join'], $item['join_column1'], $item['join_column2']);
		//var_dump($list);
                if ($list){
                    $rowspan = count($list);
                }else{
                    $rowspan = 1;
                }
                ?>
		<td rowspan="<?php echo $rowspan; ?>" valign="center"><?php echo $item['dcl_desc']; ?></td>
		<?php 
		if(!empty($list)) {
                foreach($list as $listLoop){
                ?>
                <td><?php echo ($listLoop[$item['table_column']]==false || $rowspan == 1) ? '':$listLoop[$item['table_column']]; ?></td>    
                <td align="center">
                <?php 
                $has_uploaded = Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($transID, $item['dcl_Id'], 'ad_id', $listLoop[$item['table_primary_id']], $item['id']);
                if ($has_uploaded  != FALSE ) {
                    //$uploaded++;
                    if ($item['dcl_uplStatus']==1){
                        echo $this->translate('Uploaded');
                    }
                }else{
                    if ($item['dcl_uplStatus']==1){
                        echo $this->translate('Not Uploaded');
                    }
                }
                ?>
                </td>
                <td align="center">
                <?php
                $checklistStatus = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_status', 'ads_txn_id='.$transID.' and ads_dcl_id='.$item['dcl_Id'].' and ads_table_id='.$listLoop[$item['table_primary_id']].' and ads_section_id='.$item['id']);
                if ($checklistStatus){
                    switch($checklistStatus){
                        case 1:
                            echo $statusDef[1];
                            break;
                        case 2:
                            echo $statusDef[2];
                            break;
                        case 3:
                            echo $statusDef[3];
                            break;
                        case 4:
                            echo $statusDef[4];
                            break;
                        case 5:
                            echo $statusDef[5];
                            break;
                        default :
                            if ($has_uploaded){
                                echo $statusDef[1];
                            }else{
                                echo '';
                            }
                            break;
                    }
                }else{
                    if ($has_uploaded){
                        echo $statusDef[1];
                    }else{
                        echo '';
                    }
                }
                ?>
                </td>
                <?php 
                break;
                }
                }else{
                ?>
                <td></td>
                <td align="center"><?php echo $this->translate('Not Uploaded'); ?></td>
                <td></td>
                <?php
                }
                ?>
                </tr>
		<?php 
		if(!empty($list)) {
                $i=0;
                foreach($list as $listLoop){
                if ($i!=0){
                ?>
                <tr>
                <td><?php echo ($listLoop[$item['table_column']]==false || $rowspan == 1) ? '':$listLoop[$item['table_column']]; ?></td>    
                <td align="center">
                <?php 
                $has_uploaded = Application_Model_DbTable_ChecklistVerification::fnGetUploadStatus($transID, $item['dcl_Id'], 'ad_id', $listLoop[$item['table_primary_id']], $item['id']);
                if ($has_uploaded  != FALSE ) {
                    if ($item['dcl_uplStatus']==1){
                        echo $this->translate('Uploaded');
                    }
                }else{
                    if ($item['dcl_uplStatus']==1){
                        echo $this->translate('Not Uploaded');
                    }
                }
                ?>
                </td>
                <td align="center">
                <?php
                $checklistStatus = Application_Model_DbTable_ChecklistVerification::universalQuery('applicant_document_status', 'ads_status', 'ads_txn_id='.$transID.' and ads_dcl_id='.$item['dcl_Id'].' and ads_table_id='.$listLoop[$item['table_primary_id']].' and ads_section_id='.$item['id']);
                if ($checklistStatus){
                    switch($checklistStatus){
                        case 1:
                            echo $statusDef[1];
                            break;
                        case 2:
                            echo $statusDef[2];
                            break;
                        case 3:
                            echo $statusDef[3];
                            break;
                        case 4:
                            echo $statusDef[4];
                            break;
                        case 5:
                            echo $statusDef[5];
                            break;
                        default :
                            if ($has_uploaded){
                                echo $statusDef[1];
                            }else{
                                echo '';
                            }
                            break;
                    }
                }else{
                    if ($has_uploaded){
                        echo $statusDef[1];
                    }else{
                        echo '';
                    }
                }
                ?>
                </td>
                </tr>
                <?php
                
                }
                $i++;
                }
                } 
		?>
<?php } ?>
	<?php if (count($data) == 0 ) { ?>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<?php } ?>
	</tbody>
</table>