<?php
$data = $this->data;
//var_dump($data); exit;
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
$documents = $appDocumentDB->getDataArrayBySection($this->transID,3);
if(!empty($documents)) {
	foreach($documents as $docs) {
		$ed_docs[$docs['ad_dcl_id']] = 'Yes';
	}
}

?>
<table class="table" width="100%">
	<thead>
	<tr>
		<th><?php echo $this->translate('Qualification Level'); ?></th>
		<th><?php echo $this->translate('Degree Awarded'); ?></th>
		<th><?php echo $this->translate('Class Degree'); ?></th>
		<th><?php echo $this->translate('Result/CGPA'); ?></th>
		<th><?php echo $this->translate('Graduation Year'); ?></th>
		<th><?php echo $this->translate('Medium of Instruction'); ?></th>
		<th><?php echo $this->translate('University/College'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php 
		foreach($data as $item) {
			$GLOBALS['item_count'] = $GLOBALS['item_count']+1.5;
	?>
	<tr>
		<td align='center'><?php echo $item['QualificationLevel'] ?></td>
		<td><?php echo $item['ae_degree_awarded'] ?></td>
		<td align='center'><?php echo $item['class_degree']; ?></td>
		<td align='center'><?php echo $item['ae_result']; ?></td>
		<td align='center'><?php echo $item['ae_year_graduate']; ?></td>
		<td align='center'><?php echo $item['ae_medium_instruction']; ?></td>
		<td><?php echo $item['ae_institution']==999 ?  $item['others']:$item['InstitutionName']; ?></td>
	</tr>
	<?php } ?>
	<?php if (count($data) == 0 ) { ?>
	<tr>
		<td colspan="8">&nbsp;</td>
	</tr>
	<?php } ?>
</tbody>
</table>