<?php
$data = $this->data;
//var_dump($data); exit;
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
?>
<!--<table width="100%" class="table">
	<thead>
	<tr>
		<th>Company Name</th>
		<th>Company Address</th>
		<th>Telephone Number</th>
		<th>Fax Number</th>
		<th>Designation</th>
		<th>Position Level</th>
		<th>Years of Service</th>
		<th>Industry</th>
	</tr>
	</thead>
	<tbody>-->
<?php 
$x = 0;
	foreach($data as $item) {
	$x++;
	if ( $x > 1 )
	{
		$GLOBALS['item_count'] = $GLOBALS['item_count']+9;
	}

	$documents = $appDocumentDB->getDataArray($this->transID,$item['ae_id'],'applicant_employment');
?>
        <table width="100%" class="table">
            <tr>
                <th>Employment Status</th>
                <td><?php echo $item['status']; ?></td>
            </tr>
            <tr>
                <th width="20%">Company Name</th>
		<td width="80%"><?php echo $item['ae_comp_name']; ?> </td>
            </tr>
            <tr>
                <th>Company Address</th>
		<td><?php echo $item['ae_comp_address']; ?></td>
            </tr>
            <tr>
                <th>Telephone Number</th>
		<td><?php echo $item['ae_comp_phone']; ?></td>
            </tr>
            <tr>
                <th>Fax Number</th>
		<td><?php echo $item['ae_comp_fax']; ?></td>
            </tr>
            <tr>
                <th>Designation</th>
		<td><?php echo $item['ae_designation']; ?></td>
            </tr>
            <tr>
                <th>Position Level</th>
		<td><?php echo $item['position']; ?></td>
            </tr>
            <tr>
                <th>Years of Service</th>
		<?php 
$datetime1 = new DateTime(date('d-m-Y', strtotime('1-'.(str_replace('/','-',$item['ae_from'])))));
$datetime2 = new DateTime(date('d-m-Y', strtotime('1-'.(str_replace('/','-',$item['ae_to'])))));
$interval = $datetime1->diff($datetime2);
 ?>
		<td><?php echo ($item['emply_year_service']==null || $item['emply_year_service']=='') ? ($interval->y != 0 ? $interval->y.' year(s) ':'').($interval->m != 0 ? $interval->m.' month':''):$item['emply_year_service'].' year(s)'; ?></td>
            </tr>
            <tr>
                <th>Industry</th>
		<td><?php echo $item['industry']; ?></td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td><?php echo $item['ae_job_desc']; ?></td>
            </tr>
        </table><br/>
<?php } ?>
	<?php if (count($data) == 0 ) { ?>
        <table width="100%" class="table">
            <tr>
		<td colspan="8">No Employment Details Data</td>
            </tr>
        </tbody>
	<?php } ?>

<!--</table>-->