<?php
$data = $this->data;
//var_dump($data);
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
?>
<table class="table" width="100%">
	<thead>
	<tr>
		<th><?php echo $this->translate('Test Detail'); ?></th>
		<th><?php echo $this->translate('Date Taken'); ?></th>
		<th><?php echo $this->translate('Points/Grade Obtained'); ?></th>
	</tr>
</thead>
<tbody>
	<?php foreach($data as $item) {
		$document = $appDocumentDB->getDataArray($this->transID,$item['ep_id'],'applicant_english_proficiency');
		$GLOBALS['item_count']++;
	?>
	<tr>
		<td><?php echo $item['QualificationLevel']; ?></td>
		<td align='center'><?php echo format_date_to_view($item['ep_date_taken'], 'd F Y') == '01 January 1970' ? '':format_date_to_view($item['ep_date_taken'], 'd F Y'); ?></td>
		<td align='center'><?php echo $item['ep_score']=='0.00' ? '':$item['ep_score']; ?></td>
	</tr>
	<?php } ?>
	<?php if (count($data) == 0 ) { ?>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<?php } ?>
</tbody>
</table>