<?php
$data = $this->data;
//var_dump($data); exit;
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
$personal_documents = $appDocumentDB->getDataArrayBySection($this->transID,14);
?>
<table class="table" width="100%">
    <tr>
        <td><b>Uploaded Documents</b></td>
        <td><?php echo $personal_documents==true ? 'Yes':'No' ?></td>
    </tr>
</table>