<?php
$data = $this->data;
?>
<table class="table" width="100%">
	<thead>
	<tr>
		<th>Industry</th>
		<th>Experience</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach($data as $item) { ?>
	<tr>
		<td><?php echo $item['industry_name'].($item['aw_industry_id']==810 ? ' ('.$item['aw_others'].')':'') ?></td>
		<td><?php echo $item['exp_year'] ?> years</td>
	</tr>
	<?php } ?>
	<?php if (count($data) == 0 ) { ?>
	<tr>
		<td colspan="2" align='center'>&nbsp;</td>
	</tr>
	<?php } ?>
	</tbody>
</table>