<?php
$data = $this->data;
//var_dump($data); exit;
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
$personal_documents = $appDocumentDB->getDataArrayBySection($this->transID,2);
?>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-wrap">
	<tr>
		<td>
			<table width="100%" class="bordered">
				<tr>
					<td>
						<b><?php echo $this->translate('Full name'); ?></b><br>
						<?php echo $data['salutation_def'] . ' ' . $data['appl_fname'] . ' ' . $data['appl_mname']. ' ' . $data['appl_lname']; ?>
					</td>
					<td width="15%">
						<b><?php echo $this->translate('Gender'); ?></b><br>
						<?php echo ($data['appl_gender'] == 1) ? $this->translate('Male') : $this->translate('Female') ; ?>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" class="bordered notop">
				<tr>
					<td>
						<b><?php echo $this->translate('Nationality'); ?></b><br>
						<?php echo $data['nationality_desc']; ?><br>
						<b><?php echo $this->translate('Religion'); ?></b><br>
						<?php echo $data['appl_religion'] == 99 ? $data['appl_religion_others']:$data['religion_desc']; ?>
					</td>
					<td>
						<b><?php echo $this->translate('Date of Birth'); ?></b><br>
						<?php echo format_date_to_view($data['appl_dob'], 'd F Y'); ?><br>
                                                <b><?php echo $this->translate('Age'); ?> :</b>
						<?php $dob = date('Y F d', strtotime($data['appl_dob']));
                                                        $today = date('Y F d');
                                                        $age = $today-$dob; 
						echo $age; ?>
					</td>
					<td>
						<?php if ( $this->data['student_category'] == 'Local' ) { ?>
						<b><?php echo $this->translate('Email'); ?></b><br>
						<?php echo $data['appl_email']; ?>
						<?php } else { ?>
						<!--<b><?php //echo $this->translate('Passport No.:'); ?></b><br>-->
						<b><?php echo $this->translate('Expiry Date'); ?> : </b> <?php echo format_date_to_view($data['appl_passport_expiry'], 'd F Y'); ?>
						<?php } ?>
					</td>
					<td>
						<b><?php echo $data['appl_id_type']; ?></b> : <?php echo $data['appl_idnumber']; ?>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" class="bordered notop">
				<tr>
					<td>
						<b><?php echo $this->translate('Marital Status'); ?></b><br>
						<?php echo $data['marriage_desc']; ?>
					</td>					
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" class="bordered notop" >
				<tr>
					<td>
						<b><?php echo $this->translate('Permanent Mailing Address'); ?>:</b><br>
						<?php echo $data['appl_address1']; ?>
						<?php 
							echo (!empty($data['appl_address2'])) ? '<br>' . $data['appl_address2'] : '';
						?>
						<?php 
							echo (!empty($data['appl_address3'])) ? '<br>' . $data['appl_address3'] : '';
						?>
						<?php echo $data['appl_city']==99 ? $data['appl_city_others']:$data['city_perm_desc']; ?><br>
						 <?php echo $data['appl_state']==99 ? $data['appl_state_others']:$data['state_perm_desc']; ?><br>
						 <?php echo $data['country_perm_desc']; ?><br>
						<b><?php echo $this->translate('Postcode'); ?> :</b> <?php echo $data['appl_postcode']; ?>

					</td>					
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" class="bordered notop">
				<tr>
					<td <?php if ( $this->data['student_category'] != 'Local' ) { ?>width="70%"<?php } ?>>
						<b><?php echo $this->translate('Home Telephone Number:'); ?></b><br>
						<?php echo $data['appl_phone_home']; ?><br>
						<b><?php echo $this->translate('Mobile Telephone Number:'); ?></b><br>
						<?php echo $data['appl_phone_mobile']; ?><br>
						<b><?php echo $this->translate('Office Telephone Number:'); ?></b><br>
						<?php echo $data['appl_phone_office']; ?><br>
					</td>
					<?php if ( $this->data['student_category'] != 'Local' ) { ?>
					<td>
						<b><?php echo $this->translate('Email'); ?></b><br>
						<?php echo $data['appl_email']; ?>
					</td>			
					<?php } ?>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" class="bordered notop" >
				<tr>
					<td>
						<b><?php echo $this->translate('Correspondence Mailing Address'); ?>:</b><br>
						<?php echo $data['appl_caddress1']; ?>
						<?php 
							echo (!empty($data['appl_caddress2'])) ? '<br> ' . $data['appl_caddress2'] : '';
						?>
						<?php 
							echo (!empty($data['appl_caddress3'])) ?'<br> ' . $data['appl_caddress3'] : '';
						?>
						<?php echo $data['appl_ccity']==99 ? $data['appl_ccity_others']:$data['city_corr_desc']; ?><br>
						 <?php echo $data['appl_cstate']==99 ? $data['appl_cstate_others']:$data['state_corr_desc']; ?><br>
						 <?php echo $data['country_corr_desc']; ?><br>
						<b><?php echo $this->translate('Postcode'); ?> :</b> <?php echo $data['appl_cpostcode']; ?>
					</td>					
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%"  class="bordered notop">
				<tr>
					<td>
						<b><?php echo $this->translate('Home Telephone Number:'); ?></b><br>
						<?php echo $data['appl_cphone_home']; ?><br>
						<b><?php echo $this->translate('Mobile Telephone Number:'); ?></b><br>
						<?php echo $data['appl_cphone_mobile']; ?><br>
						<b><?php echo $this->translate('Office Telephone Number:'); ?></b><br>
						<?php echo $data['appl_cphone_office']; ?><br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<?php //if (count($personal_documents) > 0) { ?>
<!--<b>Uploaded Documents</b>
<table class="table">
	<?php //foreach($personal_documents as $doc) { ?>
		<tr>
			<td><?php //echo $doc['dcl_name']; ?></td>
		</tr>
	<?php //} ?>
</table>-->
<?php //} ?>