<?php
$data = $this->data;
$appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();
$personal_documents = $appDocumentDB->getDataArrayBySection($this->transID,2);
//$photos = $appDocumentDB->getDataByDclId($this->transID,4);

//var_dump($data); exit;

/*if(isset($photos[0]['ad_filepath'])) {
	$personal_pic = $photos[0]['ad_filepath'];
} else {
	$personal_pic = '';
}*/
//profile picture
//var_dump($this->transID);
$photo = $appDocumentDB->getApplicantPhoto($this->transID);
//var_dump($photo); exit;
$app_photo = $app_photo_full = '';
if (!empty($photo))
{
        $app_photo_full = DOCUMENT_URL.$photo['ad_filepath'];
        $app_photo = $this->baseUrl().'/thumb.php?s=1&w=100&f='.DOCUMENT_PATH.$photo['ad_filepath'];
}
?>
<h3 class="title">APPLICATION FORM</h3>
<table width="100%" border="0">
	<tr>
		<td width="25%"><b><?php echo $this->translate('Applicant Number'); ?></b></td>
		<td width="10px">:</td>
		<td><?php echo $this->at_pes_id; ?></td>
	</tr>

	<tr>
		<td><b><?php echo $this->translate('Name of applicant'); ?></b></td>
		<td>:</td>
		<td><?php echo $data['salutation_def'] . ' ' . $data['appl_fname'] . ' ' . $data['appl_mname']. ' ' . $data['appl_lname']; ?></td>
                <td rowspan="7" width="25%">
                    <?php if ( $app_photo != '' ) {?>
                        <div class="app-photo"><a href="<?php echo $app_photo_full?>" class="appdoc"><img width="100" src="<?php echo $app_photo_full ?>" alt="photo" /></a></div>
                    <?php } else { ?>
                        <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
                    <?php } ?>
                </td>
	</tr>
	<tr>
		<td><b><?php echo $this->translate('Nationality'); ?></b></td>
		<td>:</td>
		<td><?php echo $data['nationality_desc']; ?></td>
	</tr>
	<tr>
		<td><b><?php echo $this->translate('Programme'); ?></b></td>
		<td>:</td>
		<td>
			<?php echo $data['program_name']; ?>
		</td>
	</tr>
        <tr>
		<td><b><?php echo $this->translate('Mode of Programme'); ?></b></td>
		<td>:</td>
		<td>
			<?php echo $data['ProgramMode']; ?>
		</td>
	</tr>
        <tr>
		<td><b><?php echo $this->translate('Mode of Study'); ?></b></td>
		<td>:</td>
		<td>
			<?php echo $data['StudyMode']; ?>
		</td>
	</tr>
        <?php
        if ($data['ProgramType']!='' && $data['ProgramType']!=' '):
        ?>
        <tr>
		<td><b><?php echo $this->translate('Programme Type'); ?></b></td>
		<td>:</td>
		<td>
			<?php echo $data['ProgramType']; ?>
		</td>
	</tr>
        <?php
        endif;
        ?>
	<tr>
		<td><b><?php echo $this->translate('Intake'); ?></b></td>
		<td>:</td>
		<td><?php echo $data['IntakeDesc']; ?></td>
	</tr>
</table>
