<?php $data = $this->data; ?>
<table width="100%" class="table">
	<thead>
	<tr>
		<th></th>
		<th>Referee 1</th>
		<th>Referee 2</th>
	</tr>
	</thead>
	<tr>
		<td><?php echo $this->translate('Name'); ?></td>
		<td><?php echo $data['r_ref1_name']; ?></td>
		<td><?php echo $data['r_ref2_name']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Position'); ?></td>
		<td><?php echo $data['r_ref1_position']; ?></td>
		<td><?php echo $data['r_ref2_position']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Address'); ?></td>
		<td><?php echo $data['r_ref1_add1'] 
				. ' ' .$data['r_ref1_add2'] 
				. ' ' .$data['r_ref1_add3'] 
				. ' ' .$data['r_ref1_add3'] 
				. ' ' .$data['r_ref1_city']
				. ' ' .$data['r_ref1_country_name']
				. ' ' .$data['r_ref1_state_name']
				; // r_ref1_add2 r_ref1_add3 r_ref1_add3 r_ref1_city?></td>
		<td><?php echo $data['r_ref2_add1'] 
				. ' ' .$data['r_ref2_add2'] 
				. ' ' .$data['r_ref2_add3'] 
				. ' ' .$data['r_ref2_add3'] 
				. ' ' .$data['r_ref2_city']
				. ' ' .$data['r_ref2_country_name']
				. ' ' .$data['r_ref2_state_name']
				; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Phone'); ?></td>
		<td><?php echo $data['r_ref1_phone']; ?></td>
		<td><?php echo $data['r_ref2_phone']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Fax'); ?></td>
		<td><?php echo $data['r_ref1_fax']; ?></td>
		<td><?php echo $data['r_ref2_fax']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Email'); ?></td>
		<td><?php echo $data['r_ref1_email']; ?></td>
		<td><?php echo $data['r_ref2_email']; ?></td>
	</tr>
</table>