<script type="text/javascript">
	dojo.addOnLoad(function (){
		dijit.byId('field11').set('value','');
		dijit.byId('field11').set('placeHolder','<?php echo $this->translate('Select')?>');
	});
</script>
<fieldset>
	<legend>
		<?php echo $this->translate("Student Search");?>
	</legend>
	<form action="<?php echo $this->baseUrl();?>/application/placementteststat/index/search/1" method="post">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Marks");?></td>
				<td><?php echo $this->lobjform->field3;?></td>
				<td><?php echo $this->translate("Threshold Marks");?>
				</td>
				<td><?php echo $this->lobjform->field2;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Pass/Failed Status");?></td>
				<td><?php echo $this->lobjform->field11;?></td>
			</tr>
			<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
				<?php echo $this->lobjform->Clear;?>
			</td>

			</tr>
		</table>
	</form>
</fieldset>
<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Applicant Id");?>
			</th>
			<th><?php echo $this->translate("Applicant Name");?>
			</th>
			<th><?php echo $this->translate("Intake");?></th>
			<th><?php echo $this->translate("Preferred Programs");?></th>
			<th><?php echo $this->translate("Total Marks");?></th>
			<th><?php echo $this->translate("Marks & Component");?>
			</th>
		</tr>
		<?php if (count($this->paginator)): ?>
		<?php foreach ($this->paginator as $lobjstudentlist){ ?>
		<tr>
			<td><?php echo $this->escape($lobjstudentlist['IdApplicant']);?></td>
			<td><?php echo $this->escape($lobjstudentlist['FName']).' '.$this->escape($lobjstudentlist['LName']);?></td>
			<td><?php echo $this->escape($lobjstudentlist['IntakeDesc']);?></td>
			<td><?php echo $this->escape($lobjstudentlist['ProgramName']);?></td>
			<td><?php echo $this->escape($lobjstudentlist['TotalMark']);?></td>
			<td>
				<table class="table" width="100%">
					<tr>
						<th><?php echo $this->translate("Component Name");?></th>
						<th><?php echo $this->translate("Marks");?></th>
					</tr>
					<?php foreach($this->marks as $marks){?>
					<?php if($lobjstudentlist['IdApplication'] == $marks['IdApplication']){?>
					<tr>
						<td><?php echo $this->escape($marks['ComponentName']);?>
						</td>
						<td><?php echo $this->escape($marks['Marks']);?>
						</td>
					</tr>
					<?php }?>
					<?php }?>
				</table>
			</td>
		</tr>
		<?php };?>
		<?php endif; ?>

		<tr>
			<td colspan="6" class="opt">
				<div class="pagination">
				<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div>
			</td>
		</tr>
	</table>
</fieldset>
