<?php 
	$lsrtDivId = "cont-right";
	if($this->rtl == "ltr"){
		$lsrtDivId = "cont-right";
	}else if($this->rtl == "rtl"){
		$lsrtDivId = "contm-right";
	}
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->lang;?>"  dir="<?php echo $this->rtl;?>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/jquery-ui-1.8.6.custom.css" />
	<link rel="stylesheet" type="text/css"  href="<?php echo $this->baseUrl();?>/css/default.css" />
	
	<script language="javascript" src="<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js"></script>
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/jquery-ui.js"></script>
	<script language="javascript" src="<?php  echo $this->baseUrl();?>/js/sams-common.js"></script>

	<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $this->lang;?>'"></script>
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_<?php echo $this->lang;?>.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
	<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
	<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		function fnValidate(){
			var flag = true;
			if(document.getElementById("DefinitionDesc").value==""){
				dijit.byId("DefinitionDesc").focus();
				dojo.addClass("DefinitionDesc","dijitTextBoxError");
				dijit.byId("DefinitionDesc").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				flag = false;
			}else{
				dojo.removeClass("DefinitionDesc","dijitTextBoxError");
			}
		
			if(document.getElementById("DefinitionCode").value==""){
				dijit.byId("DefinitionCode").focus();
				dojo.addClass("DefinitionCode","dijitTextBoxError");
				dijit.byId("DefinitionCode").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				flag = false;
			}else{
				dojo.removeClass("DefinitionCode","dijitTextBoxError");
			}
			return flag;
		}
		
		function fnCloseLyteBox(){
			parent.window.document.getElementById("lbOverlay").style.display = "none";
			parent.window.document.getElementById("lbMain").style.display = "none";
		}

		function URLRedirection(URL){
			window.location = URL;
		}
	</script>
</head>
<body class="claro">
	<fieldset>
		<legend><?php echo $this->translate->_("Maintenance");?></legend>
		<div class="register">
			<div class="profile_tab">
				<form dojoType="dijit.form.Form" onsubmit="return fnValidate()" action="" method="POST"  name= "myform">
					<?php echo $this->lobjMaintenanceForm->idDefType;?>
					<?php echo $this->lobjMaintenanceForm->idDefinition;?>
					<table id="hor-minimalist-b">
						<tr>
							<td><?php echo $this->translate->_("Definition").' '.$this->translate->_("Code");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->DefinitionCode;?><br/><span id="errDefCode" class="error"></span></td>
							<td><?php echo $this->translate->_("Definition").' '.$this->translate->_("Description");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjMaintenanceForm->DefinitionDesc;?><br/><span id="errDefDesc" class="error"></span></td>
						</tr>
					</table>
					<table>   
						<tr>
							<td align = "right">
								<?php foreach($this->roles as $resultItem):?>
									<?php if($resultItem['functionCode']=='MAINT' && $resultItem['operationCode']=='ADD'){?>
										<?php echo $this->lobjMaintenanceForm->Save;?>
									<?php }?>
								<?php endforeach;?>
								
								<a onclick="URLRedirection('<?php echo $this->baseUrl;?>/<?php echo $this->RedirectionURL?>')" href="#" rel="lyteframe" rev="width: 840px; height: 400px; scrolling:no">
									<input type="button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate->_("Back");?> value="<?php echo $this->translate->_("Back")?>" />
								</a>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<table id="hor-minimalist-b">
			<tr>
				 <th style="width:100px"><?php echo $this->translate->_("Definition").' '.$this->translate->_("Code");?></th>
				 <th style="width:100px"><?php echo $this->translate->_("Definition").' '.$this->translate->_("Description");?></td>
			</tr>
		</table>
    	<div id="hor-minimalist-b" style="height:140px;overflow:auto">
    	<table id="hor-minimalist-b">
			<?php if (count($this->lobjPaginator)): ?>
				<?php foreach ($this->lobjPaginator as $larrMaintainanceDetails ): ?>
					<tr>
						<td style="width:160px">
							<a rel="lyteframe" title="" rev="width: 830px; height: 350px; scrolling: no;" href="<?php echo $this->baseUrl;?>/studentcurricularactivity/editcurricularactivitymaintenancelist/idDefinitionMS/<?php echo $this->escape($larrMaintainanceDetails['idDefType']);?>/idDefn/<?php echo $this->escape($larrMaintainanceDetails['idDefinition']);?>/<?php echo $this->RedirectionURLParameters?>">
								<?php echo $this->escape($larrMaintainanceDetails['DefinitionCode']);?>
							</a>
						</td>
						<td style="width:160px">
							<?php echo $this->escape($larrMaintainanceDetails['DefinitionDesc']);?>
						</td>
					</tr>
				<?php endforeach; ?>
			<?php endif; ?>
		</table>
		</div>

		<table id="hor-minimalist-b" >
			<tr style="height:25px;border:1px solid #CCCCCC;color:#666699;padding:6px">
				<td colspan="8" align="right">
					<div class="pagination">
						<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
</body>
</html>