<?php 
$lsrtDivId = "cont-right";
$this->rtl == "ltr";
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->lang;?>" lang="<?php echo $this->lang;?>" dir="<?php echo $this->rtl;?>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script> 	
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/jquery.MultiFile.js"></script>

<script type="text/javascript">


		$(function(){ // wait for document to load
			$('#uploadfile').MultiFile({
			STRING: {
			remove: '&nbsp;'
			}
			});
			$('#uploadfile').MultiFile({
				STRING: {
				remove: '<img src="<?php  echo $this->baseUrl();?>/images/delete.png" height="16" width="16" alt="  "/>'
				}
			});		


			$('#uploaddocuments').MultiFile({
				STRING: {
				remove: '&nbsp;'
				}
			});
			
			$('#uploaddocuments').MultiFile({
					STRING: {
					remove: '<img src="<?php  echo $this->baseUrl();?>/images/delete.png" height="16" width="16" alt="  "/>'
					}
			});		
		});


</script>
	 	<style type="text/css">
div.cabinet
{
    width: 300px;
    background: url(<?php  echo $this->baseUrl();?>/images/button.gif) 0 0 no-repeat;
	/*height: 100px;*/
    display: block;
    cursor: pointer;
}
div.cabinet div.MultiFile-wrap div.MultiFile-list
{
	height: 70px;
    width: 600px;
    display: block;
    overflow: auto;
}
div.cabinet div.MultiFile-wrap div.MultiFile-list div.MultiFile-label a.MultiFile-remove
{
	background:url(<?php  echo $this->baseUrl();?>/images/delete.png)0 0 no-repeat;
}
div.cabinet input.file
{
    position: relative;
    
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
	</style>
	
	
	
	
	<script type="text/javascript">
		var rowid=1;
		dojo.addOnLoad(function() {		
			dijit.byId('IdStudent').set('value','');
			dijit.byId('IdStudent').set('placeHolder','Select');

			dijit.byId('IdDispciplinaryActionType').set('value','');
			dijit.byId('IdDispciplinaryActionType').set('placeHolder','Select');

			dijit.byId('idSubject').set('value','');
			dijit.byId('idSubject').set('placeHolder','Select');

			dijit.byId('idSemester').set('value','');
			dijit.byId('idSemester').set('placeHolder','Select');

			dijit.byId('DisplinaryAction').set('value','');
			dijit.byId('DisplinaryAction').set('placeHolder','Select');

			dijit.byId('SemesterId').set('value','');
			dijit.byId('SemesterId').set('placeHolder','Select');
		});
		
		function fnTerminateStudent(IdStudent){
			$.ajax({
				type: "GET",
				url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/terminatestudent/studentId/"+idStudent,
				success: function(content){
					ShowTerminationMsg(content);
					
				}
			});
		}

		function ShowTerminationMsg(content){
			alert("<?php echo $this->translate->_('Student').' '.$this->translate->_('Terminated').' '.$this->translate->_('From').' '.$this->translate->_('The').' '.$this->translate->_('College');?>");
			parent.location = "<?php  echo $this->baseUrl();?>"+'/records/disciplinaryaction/index';
		}
		
		function fnAskToTerminateStudent(idStudent){
			var confirmation = confirm("<?php echo $this->translate->_('No').' '.$this->translate->_('Of').' '.$this->translate->_('Warnings').' '.$this->translate->_('Exceeded').'.'.$this->translate->_('Do').' '.$this->translate->_('you').' '.$this->translate->_('want').' '.$this->translate->_('to').' '.$this->translate->_('Terminate').' '.$this->translate->_('The').' '.$this->translate->_('Student').'?';?>");
			if (confirmation == true){					  	
				fnTerminateStudent(idStudent);
			}
			else{
				parent.location = "<?php  echo $this->baseUrl();?>"+'/records/disciplinaryaction/index';
			}
		}

		function fnGetDetails(Value){
	
			var Type = $("input#HiddenRadioGroup").val();
			
			if(Value!=""){
			$.ajax({
				type: "GET",
				url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getstudentdetailsbyid/studentId/"+Value+"/Type/"+Type,
				success: function(content){
					fnFillSelectedValueToReadonlyField(content);
					
				}
			});
			}
		}
		
		function fnGetSubjectDetails(idstudent){
		
			if(idstudent != "")
				{ 
					var xhrArgs = {
							url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getsubjectdetails/idstudent/"+idstudent,
							handleAs:'json',
							load:function(data){ 
								AutoFillNextEditableDropDowneee("idSubject",data); 
							}
					   }
					dojo.xhrGet(xhrArgs); 
				} 
		}
		function fnGetSemesterDetails(idstudent){
		
			if(idstudent != "")
				{ 
					var xhrArgs = {
							url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getsemesterdetails/idstudent/"+idstudent,
							handleAs:'json',
							load:function(data){ 
								AutoFillNextEditableDropDowneee("idSemester",data); 
							}
					   }
					dojo.xhrGet(xhrArgs); 
				} 
		}
		
		function AutoFillNextEditableDropDowneee(EditableDropDownId,JSONText){
			dijit.byId(EditableDropDownId).setValue("");
			var ddwidget = dijit.byId(EditableDropDownId);
			ddwidget.setAttribute('disabled', false);
			var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
			ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}

		function fnFillSelectedValueToReadonlyField(result){
			$("input#ReadOnlyField").val(result);
		}
		
		function URLRedirection(URL){
			window.location = URL;
		}


		function fnGetDisciplianryActionMailSettings(IdDisciplinaryActionType){
			if(IdDisciplinaryActionType!=""){

				var xhrArgs = {
						url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getdisciplinaryactionmailsettingdetails/idDisciplinaryActionType/"+IdDisciplinaryActionType,
						handleAs:'text',
						load:function(data){ 
							fnShowDisciplinaryEmailSettingDetails(data);
						}
				   }
				dojo.xhrGet(xhrArgs); 			
			}
		}

		function fnShowDisciplinaryEmailSettingDetails(JSONText){
			dijit.byId("DiscMsgCollegeHead").set("checked",false);
			dijit.byId("DiscMsgParent").set("checked",false);
			dijit.byId("DiscMsgSponor").set("checked",false);
			dijit.byId("DiscMsgRegistrar").set("checked",false);		
			document.getElementById("DiscCheckboxes").style.display =  "block";
			if(JSONText!="false"){
				var objEmailSettings = eval("(" + JSONText + ")");
				
				if(objEmailSettings.DiscMsgCollegeHead == "1"){
					dijit.byId("DiscMsgCollegeHead").set("checked",true);
				}

				if(objEmailSettings.DiscMsgParent == "1"){
					dijit.byId("DiscMsgParent").set("checked",true);
				}

				if(objEmailSettings.DiscMsgSponor == "1"){
					dijit.byId("DiscMsgSponor").set("checked",true);
				}

				if(objEmailSettings.DiscMsgRegistar == "1"){
					dijit.byId("DiscMsgRegistrar").set("checked",true);
				}
			}
		}

		function fnGetAllStudentNames(){
			$("input#HiddenRadioGroup").val("Name");
			$.ajax({
				type: "GET",
				url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getstudentdetails/Type/Name",
				success: function(content){
					//AutoFillNextEditableDropDown("IdStudent",content);
					fnRegenerateDropDown(content);
				}
			});
		}

		function fnGetAllStudentIds(){
			$("input#HiddenRadioGroup").val("Id");
			$.ajax({
				type: "GET",
				url: "<?php  echo $this->baseUrl();?>"+"/records/disciplinaryaction/getstudentdetails/Type/Id",
				success: function(content){
					fnRegenerateDropDown(content);
				}
			});
		}

		function fnRegenerateDropDown(JSONText){
			$("input#ReadOnlyField").val("");
			AutoFillNextEditableDropDown("IdStudent",JSONText);
		}

		function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
			$("input[name="+EditableDropDownId+"]").val("");
			$("input#"+EditableDropDownId).val("");
			var objItems = eval("(" + JSONText + ")");
			var widget = dijit.byId(EditableDropDownId);
		    widget.setAttribute('disabled', false);
		    var options = {
							label:"name",
							identifier:"key",
							items:objItems
						  };
			widget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}

		function fnToggleStudentDetails(value){
			if(value == "1"){
				//Call Ajax To Fill Student Names In The Dropdown
				$("span#label1").html("<?php echo $this->translate->_('Student').' '.$this->translate->_('Name');?>");
				$("span#label2").html("<?php echo $this->translate->_('Student').' '.$this->translate->_('Id');?>");
				fnGetAllStudentNames();
			}else if(value == "0"){
				//Call Ajax To Fill Student Ids In The Dropdown
				$("span#label1").html("<?php echo $this->translate->_('Student').' '.$this->translate->_('Id');?>");
				$("span#label2").html("<?php echo $this->translate->_('Student').' '.$this->translate->_('Name');?>");
				fnGetAllStudentIds();
			}
		}
		
		function fnToggleWarningTemplate(value){
			if(value == "0"){
				//Warning Not Issued
				/*$("#EmailLabel").css("display","none");
				$("#EmailText").css("display","none");*/
				$("#UploadLabel").css("display","none");
				$("#UploadText").css("display","none");
			}else if(value == "1"){
				//Warning Issued
				/*$("#EmailLabel").css("display","block");
				$("#EmailText").css("display","block");*/
				$("#UploadLabel").css("display","block");
				$("#UploadText").css("display","block");
			}
			dijit.byId('IdStudent').setValue("");
			$("input#ReadOnlyField").val("");
		}
		

		function fnValidateForm(){
			var flag = true;
			if(document.getElementById("ReportingDate").value==""){
				dojo.addClass("ReportingDate","dijitTextBoxError");
				dijit.byId("ReportingDate").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				dijit.byId("ReportingDate").focus();
				flag = false;
			}else{
				dojo.removeClass("ReportingDate","dijitTextBoxError");
			}

			if(document.getElementById("DateOfMistake").value==""){
				dojo.addClass("DateOfMistake","dijitTextBoxError");
				dijit.byId("DateOfMistake").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				dijit.byId("DateOfMistake").focus();
				flag = false;
			}else{
				dojo.removeClass("DateOfMistake","dijitTextBoxError");
			}

			if($('input[name$="IdDispciplinaryActionType"]').val()=="" || $('input[name$="IdDispciplinaryActionType"]').val()=="0"){
				dojo.addClass("IdDispciplinaryActionType","dijitTextBoxError");
				dijit.byId("IdDispciplinaryActionType").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				dijit.byId("IdDispciplinaryActionType").focus();
				flag = false;
			}else{
				dojo.removeClass("IdDispciplinaryActionType","dijitTextBoxError");
			}

			if($('input[name$="IdStudent"]').val()=="" || $('input[name$="IdStudent"]').val()=="0"){
				dojo.addClass("IdStudent","dijitTextBoxError");
				dijit.byId("IdStudent").displayMessage("<?php echo $this->translate->_('This').' '.$this->translate->_('value').' '.$this->translate->_('is').' '.$this->translate->_('required')?>");
				dijit.byId("IdStudent").focus();
				flag = false;
			}else{
				dojo.removeClass("IdStudent","dijitTextBoxError");
			}
			
			return flag;
		}



		function clearpageAdd() {
			dijit.byId("idSubject").set("value","");
			dijit.byId("idSemester").set("value","");
			dijit.byId("DisplinaryAction").set("value","");
			
		}

		function adddisplinarydetails() {
			var flag = true;
			if(dijit.byId("DisplinaryAction").value==''){
			    dijit.byId("DisplinaryAction").attr('required','true');
				dijit.byId("DisplinaryAction").focus();flag = false;
			}
			
			if(dijit.byId("idSubject").value==''){
			    dijit.byId("idSubject").attr('required','true');
				dijit.byId("idSubject").focus();flag = false;
			}
			
			if(dijit.byId("idSemester").value==''){
			    dijit.byId("idSemester").attr('required','true');
				dijit.byId("idSemester").focus();flag = false;
			}


			if(flag == true) {
				DisciplinarydetailsInsert();	
			}			
			return flag;
		}

		var batchArray  = new Array();
		var oldContent = "";
		var NoCnt	=	0;

		function DisciplinarydetailsInsert() {
			var idSubject = dijit.byId("idSubject").value;
			var idSubjectName = dijit.byId("idSubject").displayedValue;
			var idSemester = dijit.byId("idSemester").value;
			var idSemesterName = dijit.byId("idSemester").displayedValue;
			var DisplinaryAction = dijit.byId("DisplinaryAction").value;
			var DisplinaryActionName = dijit.byId("DisplinaryAction").displayedValue;
			var PenaltyAmount= dijit.byId("PenaltyAmount").value;
			var PenaltyAmountName = dijit.byId("PenaltyAmount").displayedValue;
			
			var duplication = idSubjectName+"-"+idSemesterName;
			batchArray.push(duplication);
			if(arrHasDupes(batchArray))
			{
				batchArray = batchArray.unique();
				alert("Duplicate Details");
			} 
			else 
			{

				var trow = document.getElementById('hor').insertRow(rowid);
					
				var tcol1=trow.insertCell(0);
				var tcol2=trow.insertCell(1);
				var tcol3=trow.insertCell(2);
				var tcol5=trow.insertCell(3);
				var tcol4=trow.insertCell(4);
				

				tcol1.innerHTML="<input type='hidden' value='"+idSubject+"' name=idSubjectgrid[]>"+idSubjectName;
				tcol2.innerHTML="<input type='hidden' value='"+idSemester+"' name=idSemestergrid[]>"+idSemesterName;
				tcol3.innerHTML="<input type='hidden' value='"+DisplinaryAction+"' name=DisplinaryActiongrid[]>"+DisplinaryActionName;
				tcol5.innerHTML="<input type='hidden' value='"+PenaltyAmount+"' name=DisplinaryActiongrid[]>"+PenaltyAmountName;
				tcol4.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
				rowid++;
			}
		}

		function deleteRow(r)
		{
			rowid--;
			var i=r.parentNode.parentNode.rowIndex;
			batchArray.splice(parseInt(i-1),1);
			document.getElementById('hor').deleteRow(i);
		}
		
		function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
			var i, j, n;
			n=A.length;
		                                         // to ensure the fewest possible comparisons
			for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
				for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
					if (A[i]==A[j]) return true;
			}	}
			return false;
		}

		Array.prototype.unique = function () {
		    var r = new Array();
		    o:for(var i = 0, n = this.length; i < n; i++)
		    {
		        for(var x = 0, y = r.length; x < y; x++)
		        {
		                if(r[x]==this[i])
		                {
		                	continue o;
		                }
		                
		        }
		        r[r.length] = this[i];
		    }
		    return r;
		}

	</script> 
</head>
<body class="claro">
	<div id="<?php echo $lsrtDivId?>" style="height:625px;width:100%;overflow:auto;">
		<div class="selected">&nbsp;</div>
		<fieldset>
			<legend><?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action");?></legend>
			<div class="register">
				<div class="profile_tab">
					<form dojoType="dijit.form.Form" onsubmit="return fnValidateForm()" action=""  method="POST"  name="mylobjuserForm" enctype="multipart/form-data">
						
						<table id="hor-minimalist-b" class="table" width="100%">       
							<tr>
								<td class = "label"><span id="label1"><?php echo $this->translate->_("Student Name");?></span><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->IdStudent;?><span id="errStudnt" class="errors"></span></td>
								<td class = "label"><span id="label2"><?php echo $this->translate->_("Student Id");?></span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->ReadOnlyField;?></td>
							</tr>
							<tr>
								<td class = "label">
								<?php echo $this->lobjDisciplinaryactionForm->UpdDate;?>
								<?php echo $this->lobjDisciplinaryactionForm->UpdUser;?>
								<?php echo $this->lobjDisciplinaryactionForm->HiddenRadioGroup;?>
								
									<!-- <a href="#" rel="lyteframe" onclick="URLRedirection('<?php //echo $this->baseUrl();?>/disciplinaryaction/disciplinarymaintenancelist/NavigationFrom/New/idDefinitionMS/<?php echo $this->GroupType?>/IdStudent/<?php echo $this->IdStudent?>/StudentName/<?php echo $this->StudentName?>');"						
       								title="<?php //echo $this->translate->_("Disciplinary Action Type"); ?>" rev="width: 1020px; height: 600px; scrolling: yes;"><img id="redirect" align="middle" src="/images/add_icon.gif" width="14px" height="14px"/></a>-->
									<?php echo $this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Type");?><span class="reqMark">*</span>
								</td>
								<td><?php echo $this->lobjDisciplinaryactionForm->IdDispciplinaryActionType;?><span id="errDiscType" class="errors"></span></td>
								<td class = "label"><?php echo $this->translate->_("Date");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->DateOfMistake;?><span id="errDateOfMistake" class="errors"></span></td>
							</tr>
							<tr>
								<td class = "label"><?php echo $this->translate->_("Warning").' '.$this->translate->_("Issued");?></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->WarningIssued;?></td>								
								<td><?php echo $this->translate->_("Semester");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->SemesterId;?></td>
							</tr>
							<tr>
								<td ><?php echo $this->translate->_("Reported").' '.$this->translate->_("Date");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->ReportingDate;?><span id="errReportingDate" class="errors"></span></td>
								<td ><?php echo $this->translate->_("Detailed").' '.$this->translate->_("Narration");?></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->DetailedNarration;?></td>
							</tr>
							<tr>
								<td ><?php echo $this->translate->_("Penalty").' '.$this->translate->_("Amount");?></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->PenaltyAmount;?></td>
								<td ><?php echo $this->translate->_("Penalty").' '.$this->translate->_("Description");?></td>
								<td ><?php echo $this->lobjDisciplinaryactionForm->PenaltyDescription;?></td>
							</tr>
							<tr>
								<td ><?php echo $this->translate->_("Upload").' '.$this->translate->_("Notice");?></td>
								<td colspan='3'><div class="cabinet" > 	                      			
					               			<input accept="pdf|bmp|doc|docx|xls|xlsx|txt|png|rtf|tiff|zip" style="height: 30px;width: auto;color:#666666;font-size:11px;opacity:0" class="multi" type="file" name="uploadeddocuments[]" id="uploaddocuments" label="Upload" />
					               			<div id="filelist"></div>
					                </div>							
								</td>
							</tr>
							<tr>
								<td colspan="4"> 
									<div id="DiscCheckboxes" style="display:none">
										<table class="table" width="100%">  
											<tr >
												<th colspan="4"><?php echo $this->translate->_("Configured").' '.$this->translate->_("Disciplinary").' '.$this->translate->_("Action").' '.$this->translate->_("Mail").' '.$this->translate->_("Settings");?></th>	
											</tr>      
											<tr >						
												<td class="label">
													<?php echo $this->lobjDisciplinaryactionForm->DiscMsgCollegeHead;?>&nbsp;&nbsp;
													<?php echo $this->translate->_($this->CollegeAliasName).' '.$this->translate->_("Head");?>
												</td>
												<td class="label">
													<?php echo $this->lobjDisciplinaryactionForm->DiscMsgParent;?>&nbsp;&nbsp;
													<?php echo $this->translate->_("Parent");?>
												</td>
												<td class="label">
													<?php echo $this->lobjDisciplinaryactionForm->DiscMsgSponor;?>&nbsp;&nbsp;
													<?php echo $this->translate->_("Sponsor");?>
												</td>
												<td class="label">
													<?php echo $this->lobjDisciplinaryactionForm->DiscMsgRegistrar;?>&nbsp;&nbsp;
													<?php echo $this->translate->_("Registrar");?>
												</td>
											</tr>
										</table>
									</div>	
								</td>
							</tr>
						</table>
						<table id="hor-minimalist-b" class="table" width="100%">
							<tr>
								<th colspan='6'><?php echo $this->translate->_("Details");?></th>
							</tr>							
							<tr>
								<td><?php echo $this->translate->_("Subject Name");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->idSubject;?></td>
								<td><?php echo $this->translate->_("Semester");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->idSemester;?></td>
								<td><?php echo $this->translate->_("Action");?><span class="reqMark">*</span></td>
								<td><?php echo $this->lobjDisciplinaryactionForm->DisplinaryAction;?></td>
							</tr>
                        	<tr>
                            	<td align = "right" colspan="6"><?php echo $this->lobjDisciplinaryactionForm->Add;?>
                            									<?php echo $this->lobjDisciplinaryactionForm->Clear;?>
                            </td> 
                        </tr>
						</table>	
						<table class="table" width="100%"  id="hor">
							<tr>
								<th><?php echo $this->translate("Subject");?></th>
								<th><?php echo $this->translate("Semester");?></th>
								<th><?php echo $this->translate("Action");?></th>
								<th><?php echo $this->translate("penalty Amount")?></th>
								<th><?php echo $this->translate("Delete")?></th>
							</tr>
						</table>	
							
						<table id="hor-minimalist-b" class="table" width="100%">	
							<tr>
								<td align="right" colspan="4">								
									<?php echo $this->lobjDisciplinaryactionForm->Save;?>			
									 <input type='button' class="NormalBtn"	dojotype="dijit.form.Button" label="<?php echo $this->translate('Back')?>" value='Close' onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'disciplinaryaction', 'action'=>'index'),'default',true);?>';" />
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</fieldset>
	</div>
</body>
</html>