<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <!--<div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'auditpaperapplication'),'default',true);?>';" >
                    <span class='add'></span>
                    <?php //echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>-->
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Convo Session'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->convosession; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <form method="post" id="checklistform" action="<?php echo $this->url(array('module'=>'graduation','controller'=>'record-verification-remarks','action'=>'save'),'default',true);?>">
        <table class="table" width="100%">
            <tr>
                <th><?php echo $this->translate('No.'); ?></th>
                <th><?php echo $this->translate('Student Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Checklist'); ?></th>
            </tr>
            <?php
            if ($this->studentList){
                $no = 0;
                foreach($this->studentList as $key => $value) {
                    $no++;
                    ?>
                    <tr>
                        <td align="center"><?php echo $no; ?></td>
                        <td><?php echo $value['appl_fname'].' '.$value['appl_lname']; ?></td>
                        <td align="center"><?php echo $value['registrationId']; ?></td>
                        <td>
                            <table class="table" width="100%">
                                <tr>
                                    <th width='35%'><?php echo $this->translate('Checklist Name'); ?></th>
                                    <th width='30%'><?php echo $this->translate('Checklist Description'); ?></th>
                                    <th width='30%'><?php echo $this->translate('Checklist Remarks'); ?></th>
                                    <th width='5%'><?php echo $this->translate('Viewed'); ?></th>
                                </tr>
                                <?php
                                if (isset($value['checklist']) && count($value['checklist']) > 0) {
                                    foreach ($value['checklist'] as $checklist) {
                                        ?>
                                        <tr>
                                            <td><?php echo $checklist['name']; ?></td>
                                            <td><?php echo $checklist['description']; ?></td>
                                            <td><?php echo $checklist['remarks_message']; ?></td>
                                            <td align="center">
                                                <input type="hidden" name="viewchecklist[<?php echo $checklist['psc_id']; ?>]" id="viewchecklist<?php echo $checklist['psc_id']; ?>" value="0">
                                                <input type="checkbox" name="viewchecklist[<?php echo $checklist['psc_id']; ?>]" id="viewchecklist<?php echo $checklist['psc_id']; ?>" value="1" <?php echo $checklist['psc_view']==1 ? 'checked=""':''; ?>>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </table>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </table>
        <div class="form-opt">
            <button type="submit" name="save" onclick=""><?php echo $this->translate('Save'); ?></button>
        </div>
    </form>
</fieldset>