<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>
<script type="text/javascript">
    function getSemester(id){

        var url = "<?php echo $this->url(array('module'=>'registration','controller'=>'forecast-report', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('IdSemester');
            },
            complete: function() {
                hideLoading('IdSemester');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'</option>';
                });
                $('#IdSemester').html(content);
            })
            .fail(function() {
                alert("error load semester");
            });
    }

    function getCourse(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('IdSubject');
            },
            complete: function() {
                hideLoading('IdSubject');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
                });
                $('#IdSubject').html(content);
            })
            .fail(function() {
                alert("error load course");
            });
    }

    function getCourseSection(id){
        var semesterid = $('#IdSemester').val();
        var programid = $('#IdProgram').val();

        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-course-section'),"default",true);?>/id/"+id+"/semid/"+semesterid+"/progid/"+programid;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('IdGroup');
            },
            complete: function() {
                hideLoading('IdGroup');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){
                content += '<option label="'+data[index].GroupCode+' - '+data[index].GroupName+'" value="'+data[index].IdCourseTaggingGroup+'">'+data[index].GroupCode+' - '+data[index].GroupName+'</option>';
            });
            $('#IdGroup').html(content);
        })
        .fail(function() {
            alert("error load course section");
        });
    }

    function getLecturer(id){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance-report', 'action'=>'get-lecturer'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('IdLecturer');
            },
            complete: function() {
                hideLoading('IdLecturer');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){
                content += '<option label="'+data[index].FullName+'" value="'+data[index].IdStaff+'">'+data[index].FullName+'</option>';
            });
            $('#IdLecturer').html(content);
        })
        .fail(function() {
            alert("error load lecturer");
        });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    $(function() {
        $('.check-all').on('click', function () {
            $('.check').prop('checked', this.checked);
            if (this.checked == true) {
                $('.check').parent().parent().addClass('hlchk');
            } else {
                $('.check').parent().parent().removeClass('hlchk');
            }
        });

        $('.check').on('change', function () {
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if (this.checked == true) {
                if ($('.check').not(':checked').length == 0) {
                    $('.check-all').prop('checked', true);
                } else {
                    $('.check-all').prop('checked', false);
                }
            }
            else {
                $('.check-all').prop('checked', false);
            }
        });

        $('#export').on('click', function () {
            if ($('.check').is(':checked') == false) {
                alert('Please select at least one before export');
                return false;
            } else {
                var ask = confirm('Are you sure?');

                if (ask == true) {
                    return true;
                } else {
                    return false;
                }
            }
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <!--<div class="toolbar-button">
        <ul>
            <?php
            /*if (count($this->list) > 0){
                ?>
                <li>
                    <a href="#" onclick='print()'>
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
                <?php
            }*/
            ?>
        </ul>
    </div>-->
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td width="25%"><?php echo $this->translate('Programme'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->IdProgram; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->IdSemester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course'); ?></td>
                <td><?php echo $this->form->IdSubject; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Section'); ?></td>
                <td><?php echo $this->form->IdGroup; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Lecturer'); ?></td>
                <td><?php echo $this->form->IdLecturer; ?></td>
            </tr>
            <!--<tr>
                <td><?php //echo $this->translate('Course Code'); ?></td>
                <td><?php //echo $this->form->subject_code; ?></td>
            </tr>
            <tr>
                <td><?php //echo $this->translate('Course Name'); ?></td>
                <td><?php //echo $this->form->subject_name; ?></td>
            </tr>-->
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<form name='form_export' method='post' action="<?php echo $this->url(array('module'=>'registration','controller'=>'gradebook-by-batch', 'action'=>'export'),'default',true);?>">
    <input type="hidden" name="idProgram" value="<?php echo $this->idProgram; ?>" id="idProgram">
    <?php if(count($this->groups)>0) { ?>
        <div class="message notice"><span class="icon-info-circled"></span> Please select tick checkbox and click export button at the bottom of the table to export gradebook</div>
        <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
                <th width="25px"><?php echo $this->translate("No") ?></th>
                <th><?php echo $this->translate("Section Name") ?></th>
                <th><?php echo $this->translate("Course Code") ?></th>
                <th><?php echo $this->translate("Course Name") ?></th>
                <th><?php echo $this->translate("Lecturer") ?></th>
                <th><?php echo $this->translate("Total Registered Student") ?></th>
                <th><?php echo $this->translate("Total Submit for approval") ?></th>
                <th><?php echo $this->translate("Total Approved") ?></th>
                <th><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
            </tr>
            <?php
            $i = 1;
            foreach ($this->groups as $group) {
                ?>
                <tr>
                    <td align='center'><?php echo $i; ?></td>
                    <td align='left'><?php echo $group["GroupName"]; ?></td>
                    <td align='center'><?php echo $group["SubCode"]; ?></td>
                    <td align='center'><?php echo ($this->locale == 'ms_MY') ? $group['subjectMainDefaultLanguage'] : $group['SubjectName'];; ?></td>
                    <td align='center'><?php echo $group['FullName']; ?></td>
                    <td align='center'><?php echo $group['total_student']; ?></td>
                    <td align='center'><?php echo $group['total_submit']; ?></td>
                    <td align='center'><?php echo $group['total_approve']; ?></td>
                    <td align='center'>
                        <input type="checkbox" name="check[<?php echo $group['IdCourseTaggingGroup']; ?>]" id="check_<?php echo $group['IdCourseTaggingGroup']; ?>" class="check">
                    </td>
                </tr>
                <?php
                $i++;
            } ?>
        </table>
        <div class="form-opt">
            <button type="submit" name="export" id="export" value="export"><?php echo $this->translate('Export'); ?></button>
        </div>
        <?php
    }
    ?>
</form>