<head>
<script type="text/javascript">

</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Bill Approval Details");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
               		if (this.validate()) 
                     {
						return true;
					 }	
				    else 
                     {
                        return false;
                     }
                
				</script>
                    <table class="table" width="100%" >
                          <tr>
                        	<td><?php echo $this->translate("Voucher Date");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjvoucherForm->Voucherdate;?></td>
                        	<td><?php echo $this->translate("Voucher Type");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjvoucherForm->Vouchertype;?></td>
                            <?php echo $this->lobjvoucherForm->Upddate;?>
                            <?php echo $this->lobjvoucherForm->Upduser;?></td>
                         </tr>
                         <tr>
                        	<td><?php echo $this->translate("Voucher Number");?><span>*</span></td>
                            <td ><?php echo $this->lobjvoucherForm->Vouchernumber;?></td>
                            <td><?php echo $this->translate("Student ID");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjvoucherForm->idstudent;?></td>
                         </tr>
                         <tr>
                        	<td><?php echo $this->translate("From Date");?></td>
                            <td ><?php echo $this->lobjvoucherForm->Fromdate;?></td>
                            <td><?php echo $this->translate("To Date");?></td>
                            <td ><?php echo $this->lobjvoucherForm->Todate;?></td>
                         </tr>
                         <tr>
                        	<td><?php echo $this->translate("Amount");?></td>
                            <td ><?php echo $this->lobjvoucherForm->amount;?></td>
                            <td><?php echo $this->translate("Description");?></td>
                            <td ><?php echo $this->lobjvoucherForm->description;?></td>
                         </tr>
                         <tr>
                            <td><?php echo $this->translate("Approved");?></td>
                            <td ><?php echo $this->lobjvoucherForm->approved;?></td>
                         </tr>
                         <tr>
                            <td align = "right" colspan="5"><?php echo $this->lobjvoucherForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'billapproval', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                         </tr>
              </table>
            
            </Form>

</fieldset>
