<script>
function changeColor(element,index,key){

	 var isChecked = $(element).is(':checked');
	 
	 if(isChecked==true){	
	 	 $(".student"+index+"subject"+key).css("background-color", "#F5A9A9");
	 }else{
		 $(".student"+index+"subject"+key).css("background-color", "#FFFFFF");
	 }
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'bulk-course-registration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>

<style>
<!--
.redText{
	color:red;
	font-size:0.8em;
}
.greenText{
	color:green;
	font-size:0.8em;

}

-->
</style>
<div class="message notice">
<?php 
if($this->errMsg){
	echo $this->errMsg;
}else{
	if($this->reqType==1) {
		//course
		echo $this->translate('Min. Course').': '.$this->minReq;
		echo '<br>';
		echo $this->translate('Max. Course').': '.$this->maxReq;
	}else{
		//credit hours
		echo $this->translate('Min. Credit Hour').': '.$this->minReq;
		echo '<br>';
		echo $this->translate('Max. Credit Hour').': '.$this->maxReq;
	}
} 
?>
</div>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<!--<tr>
		<th><?php //echo $this->translate('Intake'); ?></th>
		<td><?php //echo $this->intake['IntakeDesc']; ?></td>
	</tr>-->
	<tr>
		<th><?php echo $this->translate('Semester'); ?></th>
		<td><?php echo $this->semester['SemesterMainName']; ?> - <?php echo $this->semester['SemesterMainCode']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Programme'); ?></th>
		<td><?php echo $this->program['ProgramName']; ?> - <?php echo $this->program['ProgramCode']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Programme Scheme'); ?></th>
		<td>
			<?php
			if (count($this->program_scheme) > 0) {
				$count = 0;
				foreach ($this->program_scheme as $program_scheme) {
					$count++;
					?>
					<?php echo $program_scheme['ProgramMode'] . '' . $program_scheme['StudyMode'] . '' . $program_scheme['ProgramType']; ?>
					<?php
					if ($count < count($this->program_scheme)){
						echo '<br />';
					}
				}
			}
			?>
		</td>
	</tr>
</table>

<br>

<form id='form1' method='post' action='<?php echo $this->url(array('module'=>'registration','controller'=>'bulk-course-registration', 'action'=>'register'),'default',true);?>'>
<input type='hidden' id='reqType' name='reqType' value='<?php echo $this->reqType; ?>'>
<input type='hidden' id='minReq' name='minReq' value='<?php echo $this->minReq; ?>'>
<input type='hidden' id='maxReq' name='maxReq' value='<?php echo $this->maxReq; ?>'>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
		<th></th>	
		<th><?php echo $this->translate('Student'); ?></th>
		<th><?php echo $this->translate('Intake'); ?></th>
		<th><?php echo $this->translate('Course'); ?></th>
		<th><?php echo $this->translate('Credit Hour'); ?></th>
		<th><?php echo $this->translate('Prerequsite'); ?></th>
		<th><?php echo $this->translate('Register Item'); ?></th>
		<th><?php echo $this->translate('Section'); ?></th>
		<th><?php echo $this->translate('Exam Center'); ?></th>
		<th><?php echo $this->translate('Cancel Register'); ?></th>
	</tr>
	<?php 	
	$total_subject = count($this->subject_list);
	
	foreach($this->student_list as $index=>$student){ 
				
		foreach($student['subject_list'] as $key=>$subject){
									
			if($subject['CourseType']==3){
				$ch = abs($subject['credit_hour_registered']);				
			}else{
				$ch = abs($subject['CreditHours']);
			}
			
			$text_status='';
		
			if( isset($subject['requisite_status']) && count($subject['requisite_status'])>0) {
				//not allow to register
				foreach($subject['requisite_status'] as $ind=>$reqs){
					$text_status .= '<span class="redText">'.$reqs.'</span><br>';
				}
			}
	?>
		
		<tr valign='middle'>
			<?php if($key==0){?>
			<td rowspan='<?php echo $total_subject; ?>' align='center'><?php echo $index+1;?></td>			
			<td rowspan='<?php echo $total_subject; ?>' ><?php echo $student['appl_fname'].' '.$student['appl_lname']; ?><br>(<?php echo $student['registrationId']; ?>)</td>
			<td rowspan='<?php echo $total_subject; ?>' align="center"><?php echo $student['IntakeDesc']; ?></td>
			<?php } ?>
			<td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' >
			<?php echo $subject['SubjectName']; ?><br>
			<?php echo $subject['SubCode']; ?><br>
			<?php echo (isset($subject['isRegisteredPrevSem']) && $subject['isRegisteredPrevSem']==1) ? '<br><span class="greenText">You have previously taken this course</span>':'';	?>
			<?php echo (isset($subject['allow']) && $subject['allow']!=1) ? '<br><span class="redText">Student are not allow to register this course</span>':'';	?>
			</td>			
		    <td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>'  align='center'><?php echo ($subject['credit_hour_registered']!='') ? $subject['credit_hour_registered']:$subject['CreditHours']; ?></td>
		    <td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' ><?php echo $text_status;?></td>
		    <td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' >
		    <?php 			
			if(isset($subject['itemAdd']) && count($subject['itemAdd'])>0){
				$display = '<ul>';
				foreach($subject['itemAdd'] as $key=>$item){ 
					$display .= '<li>'.$item['DefinitionDesc'].'<br><i><span class="greenText">'.$item['fee_amount'].'</span></i></li>';
				}
				$display .= '</ul>';
				echo $display;
			}
			?>
		    </td>
		    <td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' ><?php echo (isset($subject['group']['IdCourseTaggingGroup']) && $subject['group']['IdCourseTaggingGroup']!=0) ? $subject['group']['GroupName']:$this->translate('Not assigned'); ?></td>
		    <td class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' >
		    <?php 			
				if ($subject['country']!='') {
					 echo 'Country : '.($subject['country']['CountryName'] != '') ? $subject['country']['CountryName']:'';
					 echo '<br>';
					 echo 'City : '.($subject['city']['CityName'] != '') ? $subject['city']['CityName']:'';			 
				}else{
					 echo $this->translate('Not Selected'); 			
				} 
			?>
		    </td>
		    <td align='center'  class='student<?php echo $index;?>subject<?php echo $subject['IdSubject']; ?>' >
				<input type='checkbox' name='idRemoveSubject[<?php echo $student['IdStudentRegistration']; ?>][<?php echo $subject['IdSubject']; ?>]' id='idRemoveSubject' value='<?php echo $subject['IdSubject'];?>' onclick='changeColor(this,"<?php echo $index;?>","<?php echo $subject['IdSubject']; ?>");'>	
				<input type='hidden' name='prevReg[<?php echo $student['IdStudentRegistration']; ?>][<?php echo $subject['IdSubject']; ?>]' id='prevReg' value='<?php echo (isset($subject['isRegisteredPrevSem'])) ? $subject['isRegisteredPrevSem']:0; ?>'>		
			</td>
		</tr>				
	<?php 
		} // end loop subject		
	}//end loop student ?>
</table>
<div class='form-opt'>
<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</form>