<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'bulk-course-registration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>


<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<!--<tr>
		<th><?php //echo $this->translate('Intake'); ?></th>
		<td><?php //echo $this->intake['IntakeDesc']; ?></td>
	</tr>-->
	<tr>
		<th><?php echo $this->translate('Semester'); ?></th>
		<td><?php echo $this->semester['SemesterMainName']; ?> - <?php echo $this->semester['SemesterMainCode']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Programme'); ?></th>
		<td><?php echo $this->program['ProgramName']; ?> - <?php echo $this->program['ProgramCode']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Programme Scheme'); ?></th>
		<td><?php echo $this->program_scheme['ProgramMode'].''.$this->program_scheme['StudyMode'].''.$this->program_scheme['ProgramType']; ?></td>
	</tr>
</table>

<br>

