<script>
function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-schema','action'=>'detail','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idMaster'=>$this->idMaster), 'default', true);?>";
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onClick="back()">
					<span class='back'></span>
					<?php echo $this->translate("Back"); ?>
				</a>				
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<?php 
if(count($this->stack_failed)>0){ 
?>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Set Code")?></th>
		<th><?php echo $this->translate("Comment")?></th>
		</tr>
	
<?php 
$i=1;
foreach($this->stack_failed as $answer){   ?>
		
	 <tr>
		<td><?php echo $i;?></td>
		<td><?php echo $answer["set_code"];?></td>	
		<td><?php echo $answer["comments"];?></td>		
	 </tr>


<?php $i++; } ?>

</table>
	
<?php } ?>
</div>