<script>
function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-schema','action'=>'index'), 'default', true);?>";
}

</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		 
			<li>							
					<a href="#" onClick="back()">
						<span class='back'></span>Back</a>				
			</li>	
			
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo $this->program['ArabicName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Subject Name "); ?></th>   
		    <td><?php echo $this->subject['BahasaIndonesia'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
</table>
<br>


<br><br>	
	
	<table  class="table" width="100%" cellpadding="5" cellspacing="1" >
		  <tr>
		    <th colspan="8">Assessment Component List.</th>
		  </tr>
		  <tr>
		    <th>No</th>   
		    <th>Component Name</th>
		    <th>Component Item</th>
		    <th width="10%">Item Mark</th>  
		    <th width="10%">Total Mark</th>
		    <th width="10%">Item Percentage</th>
		    <th width="10%">Total Percentage</th>	
		    <th width="15%">Action</th>
		  </tr>
		  <?php 
		  if($this->rs_component){		
		  $no=1;
		  foreach ($this->rs_component as $component){
		  	
		  	   //get component item 
		  	   $oCompitem = new Examination_Model_DbTable_Marksdistributiondetails();	
		  	   $component_item = $oCompitem->getListComponentItem($component["IdMarksDistributionMaster"]);
		  ?>
		   <tr>
		    <td>&nbsp;<?php echo $no;?>.</td>   
		    <td>&nbsp;<?php echo $component["component_name"]?></td>
		    <td>&nbsp;</td>   
		    <td>&nbsp;</td> 
		    <td align="center">&nbsp;<?php echo $component["Marks"];?></td>
		    <td align="center">&nbsp;</td>
		    <td align="center">&nbsp;<?php echo $component["Percentage"];?></td>		
		     <td align="center">		 
		     <?php   if(!$component_item){?>      
		        <a class="editLink" href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-schema','action'=>'detail','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idMaster'=>$component["IdMarksDistributionMaster"]),'default',true)?>" >Add/Manage Scheme</a>&nbsp;		    	
			<?php } ?>
			</td>   
		   </tr>
		   
		    <?php 		       
		  	   if($component_item){
		  	   	foreach ($component_item as $item){
		   ?>
			    <tr bgcolor="#FFFFF0">
				    <td>&nbsp;</td>   
				    <td>&nbsp;</td>
				    <td>&nbsp;<?php echo $item["ComponentName"]?></td>				    
				    <td align="center">&nbsp;<?php echo $item["Weightage"]?></td>
				    <td align="center">&nbsp;</td> 
				    <td align="center">&nbsp;<?php echo $item["Percentage"]?></td>
				    <td align="center">&nbsp;</td>
				    <td align="center"><a class="editLink" href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-schema','action'=>'detail','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'idMaster'=>$component["IdMarksDistributionMaster"],'idDetail'=>$item["IdMarksDistributionDetails"]),'default',true)?>" >Add/Manage Scheme</a>&nbsp;</td> 				     
			    </tr>
		   <?php }   }//end if item?>
		   
		  <?php $no++; }
	}else{ ?>
	<tr bgcolor="#FFFFFF">
				    <td colspan="8"><font color="red"></>No assessment component has been setup.</font></td>   
			    </tr>
	<?php }?>
  </table>
</div>