<script type="text/javascript">

$(function()
		{

			$( ".datepicker" ).datepicker({
		  		'dateFormat': 'dd-mm-yy'
		  	});
  	
			$("input[name=searchby]").on('change', function()
			{
				$("#searchpayee").val('');
				initAutocomplete();
			});

			$("#rcp_payee_type").on('change', function()
			{
				initAutocomplete();
			});

			initAutocomplete();
		});


function initAutocomplete()
{
	var term = $("#searchpayee").val();
	var type = $("#rcp_payee_type").val();
	var searchby = $("input[name=searchby]:checked").val();
	
	type = type == 645 ? 0 : 1;
	

	$( "#searchpayee" ).autocomplete({
        source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-applicant-student'), 'default', true); ?>/type/'+type+'/searchby/'+searchby,
        minLength: 2,
        search: function(event, ui) {
            $("#search_status").html('<?php echo $this->translate('searching...'); ?>');
        },
        response: function (event, ui) {
            $("#search_status").html('');
        },
        select: function(event, ui) {
            
			
            $('#payee_id').val(ui.item.key);
			search_payer();
			setTimeout(function(){ $("#searchpayee").val(ui.item.label)} ,250);
			return false;
			
        }
    });
}

var inv_amounts = [];

function search_payer(){
  	
  	var currency_used = $('#currency_used').val();
	$.ajax({
	cache : false,
	type: 'POST',
	dataType: 'json',
	url: "/studentfinance/refund/search-payee",
	data: {	
			'rcp_payee_type':$('#rcp_payee_type').val(), 
			'payee_id':$('#payee_id').val(), 
			'payee_invoice_no':$('#payee_invoice_no').val(), 
			'payee_proforma_no':$('#payee_proforma_no').val(),
			},
	beforeSend : function() {
		
		/*$.blockUI({ 
            message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> <?php //echo $this->translate('Searching'); ?>...</div></div>',
        });*/ 
		
		$('#dis_payee_name').html('');
		$('#dis_payee_id').html('');
		$('#dis_payee_type').html('');
		$('#dis_program').html('');
    }		
}).done(function(data) {

	//$.unblockUI
	
	if(data == null){
		alert('<?php echo $this->translate('Payee not found'); ?>');
	}else{
		$('#dis_payee_name').html(data.payee_name);
		$('#dis_payee_id').html(data.payee_id);
		$('#dis_program').html(data.program_name);
		$(".payee").attr("data-payee", "1");
		$(".payment").attr("data-payment", "1");

		getInvoice(data.trans_id,$('#rcp_payee_type').val());

		if ($('#rcp_payee_type').val()==646) {
			getStudentId(data.trans_id);
		}else{
			getApplicantId(data.trans_id);
		}
		
		$('#dis_payee_type').html( $( "#rcp_payee_type option:selected" ).text() );

		$('#payee_id').val(data.trans_id);
		$('#payee_type').val($( "#rcp_payee_type option:selected" ).val());
		
		//invoice
		$('#tbl_invoices tbody').empty();
		
		if (typeof data.invoice != 'undefined') {
			$.each(data.invoice, function(key,value){

				$('#tbl_invoices tbody').append(
					$('<tr id="invrow-'+value.rfd_id+'">')
					.append('<td>'+value.rfd_fomulir)
					.append('<td>'+value.rfd_date)
					.append('<td>'+value.fee_item_description)
					.append('<td align="right">'+value.cur_code)
					.append('<td align="right">'+value.amount)
					.append('<td align="left">'+value.status)
					.append('<td align="center"><a href="/studentfinance/refund/view/id/'+value.rfd_id+'">View</a>')
							
				);
			});
			
			$('#tbl_invoices tbody').append(
					$('<tr>')
					.append('<td colspan="7"><font color="red">* Please process available refund entry for this student</font>')
							
				);

		}else{
			toggle_visibility();
		}

	}

	
	
});

	
}

function getInvoice(id,type){
	 $.ajax({ 
	        type: "POST",
	        url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'advance-payment','action'=>'ajax-get-advance-payment'),'default',true);?>", 
	        data: {	
				'id':id, 
				'type':type, 
				},
				
	        context: document.body, 
	        success: function(data){
	      
	            $("#LoadingImage").ajaxStop(function () {
	                $(this).hide();
	            });
	            response = eval(data);
	           
	            adv_id.options.length = 0;
	            adv_id.options[0]=new Option('Please select','');
	          	
	            for(var i=0; i<response.length; i++){
	            	adv_id.options[i+1]=new Option(response[i].advpy_fomulir +" ("+response[i].cur_symbol_prefix+response[i].advpy_total_balance+' - '+response[i].	advpy_description + ')',response[i].advpy_id);
	            }

	        }
	    });
}

function getStudentId(id){
	 $.ajax({ 
	        type: "POST",
	        url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund','action'=>'ajax-get-student-not'),'default',true);?>", 
	        data:"id="+id,
	        context: document.body, 
	        success: function(data){
	      
	            $("#LoadingImage").ajaxStop(function () {
	                $(this).hide();
	            });
	            response = eval(data);
	           
	            studentid_new.options.length = 0;
	            studentid_new.options[0]=new Option('Please select','');
	          	
	            for(var i=0; i<response.length; i++){
	            	studentid_new.options[i+1]=new Option(response[i].name +" ("+response[i].registrationId+' - '+response[i].StatusName + ')',response[i].IdStudentRegistration);
	            }

	        }
	    });
}

function getApplicantId(id){
	$.ajax({
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund','action'=>'ajax-get-applicant-not'),'default',true);?>",
		data:"id="+id,
		context: document.body,
		success: function(data){

			$("#LoadingImage").ajaxStop(function () {
				$(this).hide();
			});
			response = eval(data);

			applicantid_new.options.length = 0;
			applicantid_new.options[0]=new Option('Please select','');

			for(var i=0; i<response.length; i++){
				applicantid_new.options[i+1]=new Option(response[i].name +" ("+response[i].at_pes_id+' - '+response[i].StatusName + ')',response[i].at_trans_id);
			}

		}
	});
}

function toggle_visibility() {
    var e = document.getElementById('refundentry');
    if(e.style.display == 'block')
       e.style.display = 'none';
    else
       e.style.display = 'block';
 }

function getTypeValue(id){

	if(id == 952){
		var type = $('#rcp_payee_type').val();

		if (type == 646) {
			$('#group_1').hide();
			$('#group_2').show();
			$('#group_3').hide();
			$('#group_1 form').trigger("reset");
			$('#group_3 form').trigger("reset");
		}else{
			$('#group_1').hide();
			$('#group_2').hide();
			$('#group_3').show();
			$('#group_1 form').trigger("reset");
			$('#group_2 form').trigger("reset");
		}
	}else{
		$('#group_1').show();
		$('#group_2').hide();
		$('#group_3').hide();
		$('#group_2 form').trigger("reset");	
		$('#group_3 form').trigger("reset");
	}
}

function checkFormValidation(){

	var type = $('#rcp_payee_type').val();

	if (type == 646) {
		var studentid_new = $("#studentid_new").val();
	}else{
		var studentid_new = $("#applicantid_new").val();
	}

	if(studentid_new){
		return true;
	}else{
		if($("#refundtype").val() == 952){
			if (type == 646) {
				alert('Please select New Student ID');
			}else{
				alert('Please select New Applicant ID');
			}

			return false;
		}else{
			return true;
		}
		
	}
	
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/refund">
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<table class="" width="100%" cellpadding="10px" cellspacing="10px">
		<tr>
				<td width="150px"><?php echo $this->translate('Type');?></td>
				<td>
						<select class="select" name="rcp_payee_type" id="rcp_payee_type">
						<?php 
						foreach ($this->payee_type_list as $payee_type){
						?>
							<option value="<?php echo $payee_type['idDefinition']; ?>"><?php echo $payee_type['DefinitionDesc']; ?></option>
						<?php 
						}
						?>
						</select>

						<input type="radio" name="searchby" value="0" id="search-0"/> <label for="search-0"><?php echo $this->translate('ID')?></label>
						<input type="radio" name="searchby" value="1" id="search-1" checked="checked" /> <label for="search-1"><?php echo $this->translate('Name')?></label>
				</td>
				</tr>
			<tr>
				<td width="150px"><?php echo $this->translate('Name/ID')?></td>
				<td colspan="3">
					<input type="text" id="searchpayee" value="" class="input-txt" style="margin-bottom:4px" /> <span id="search_status"></span><br />
					
				</td>
			</tr>
			
				<!--<td><?php echo $this->translate('Payee ID');?></td>
				<td><input type="text" name="payee_id" id="payee_id" class="input-txt"/></td>
			-->
			<!--<tr>
				<td><?php echo $this->translate('Proforma Invoice No.');?></td>
				<td><input type="text" name="payee_proforma_no" id="payee_proforma_no" class="input-txt" /></td>
				<td><?php echo $this->translate('Invoice No.');?></td>
				<td><input type="text" name="payee_invoice_no" id="payee_invoice_no" class="input-txt" /></td>
			</tr>
		--></table>
<br>
<fieldset>
	<legend>
		<?php echo $this->translate("Refund Entry Details");?>
	</legend>
	<?php if($this->errMsg=='0') { ?>
					<p colspan="3" style="color: red;" align="center">
						<?php echo $this->translate("Sorry, try another Refund Id");?>
					</p>
		<?php } ?>
	
	
	
	
	<br/>

		<div id = "studentdetails">
		<table class="table" width="100%">
					<!-- PAYEE -->
					<tr>
						<td width="25%"><?php echo $this->translate('Name');?></td>
						<td width="75%" id="dis_payee_name"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('ID');?></td>
						<td id="dis_payee_id"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Programme');?></td>
						<td id="dis_program"></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Type');?></td>
						<td id="dis_payee_type"></td>
					</tr>
					
					</table>	
		</div>

		
	<br>
	<table id="tbl_invoices" class="table" width="100%">
					<thead>
						<tr>
							<th><?php echo $this->translate('Refund No');?></th>
							<th><?php echo $this->translate('Date');?></th>
							<th><?php echo $this->translate('Description');?></th>
							<th><?php echo $this->translate('Currency');?></th>
							<th><?php echo $this->translate('Total Amount');?></th>
							<th><?php echo $this->translate('Status');?></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="10">&nbsp;</td>
						</tr>
					</tbody>
					
				</table>
	</Form>
</fieldset>

<div id="refundentry" style="display:none;">
<form id="submitreceipt" method="post" onsubmit="return checkFormValidation();">
<input type="hidden" name="payee_id" id="payee_id" value="" />
<input type="hidden" name="payee_type" id="payee_type" value="" />
		
<br>
<table class="table" width="100%">
	<tr>
		<td width="25%"><?php echo $this->translate('Date');?></td>
		<td width="75%"><input type="text"  name="adv_date" id="adv_date" class="input-txt datepicker" value="<?php echo date('d-m-Y'); ?>" /></td>
	</tr>
	
  	<tr>
  		<td><?php echo $this->translate('Advance Payment');?></td>
  		<td>
  		<select name="adv_id" id="adv_id" class="input-txt" >
  	
  		</select>
  		</td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Refund Type');?></td>
  		<td>
  		
  		<select name="refundtype" id="refundtype" class="select" onchange="getTypeValue(this.value)" >
  		<option value="">Please select</option>
  		<?php foreach($this->refundtype as $refundtype){?>
  		<option value="<?php echo $refundtype['idDefinition'];?>"><?php echo $refundtype['DefinitionDesc'];?></option>
  		<?php }?>
  	
  		</select>
  		</td>
  	</tr>
  	<!--<tr>
		<td><?php //echo $this->translate('Refund Currency');?></td>
		<td><input type="text" name="amount" class="input-txt" id="amount" /></td>
	</tr>
	<tr>
		<td><?php //echo $this->translate('Refund Currency Rate');?></td>
		<td><input type="text" name="amount" class="input-txt" id="amount" /></td>
	</tr>
  	--><tr>
		<td><?php echo $this->translate('Refund Amount');?></td>
		<td><input type="text" name="amount" class="input-txt" id="amount" /></td>
	</tr>
	</tr>
		<tr>
  		<td><?php echo $this->translate('Description');?></td>
  		<td><textarea name="bill_description" id="bill_description" class="input-txt" ></textarea></td>
  	</tr>
  	
  	</table>
  	
  	<div id="group_1">
  	<table class="table" width="100%">
  	<tr>
  		<td width="25%"><?php echo $this->translate('Pay To');?></td>
  		<td width="75%">
  		<select name="payto" id="payto" class="input-txt" >
  		<option value="">Please select</option>
  		<option value="1">Applicant</option>
  		<option value="2">Student</option>
  		<option value="3">Sponsor</option>
  		<option value="4">Third Party</option>
  		</select>
  		</td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Pay To Name');?></td>
  		<td><input type="text" name="pay_name" class="input-txt" id="pay_name" /></td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Payment Mode');?></td>
  		<td>
  		<select name="processtype" id="processtype" class="input-txt" onchange="change_payment(this.value)">
  		<option value="">Please select</option>
  		<?php foreach($this->processtype as $processtype){?>
  		<option value="<?php echo $processtype['idDefinition'];?>"><?php echo $processtype['DefinitionDesc'];?></option>
  		<?php }?>
  	
  		</select>
  		</td>
  	</tr>
  </table>
  </div>
  <div id="group_2" style="display:none;">
  	<table class="table" width="100%">
  	<tr>
  		<td width="25%"><?php echo $this->translate('Student ID');?></td>
  		<td width="75%">
  		<select name="studentid_new" id="studentid_new" class="select">
  		<option value="">Please select</option>
  		
  		</select>
  		</td>
  	</tr>
  </table>
  </div>
	<div id="group_3" style="display:none;">
		<table class="table" width="100%">
			<tr>
				<td width="25%"><?php echo $this->translate('Applicant ID');?></td>
				<td width="75%">
					<select name="applicantid_new" id="applicantid_new" class="select">
						<option value="">Please select</option>

					</select>
				</td>
			</tr>
		</table>
	</div>
  
  <div id="payment_group" style="display:none;">
			<table width="100%" class="table" >
				<tr>
					<td width="25%"><?php echo $this->translate('Cheque Number');?></td>
					<td width="75%"><input type="text" name="rchq_cheque_no" id="rchq_cheque_no" class="input-txt" /></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Bank Name');?></td>
					<td><input type="text" name="rchq_bank_name" id="rchq_bank_name" class="input-txt" /></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Issue Date');?></td>
					<td><input type="text" name="rchq_issue_date" id="rchq_issue_date" class="input-txt  datepicker" value="<?php echo date('d-m-Y'); ?>"/></td>
				</tr>
			</table>
		</div>
  
  <div class="form-opt">
		<button id="savebtn"><?php echo $this->translate('Save');?></button>
		<button><?php echo $this->translate('Clear');?></button>
	</div>
</form>
