<style>
.ui-dialog  .ui-header .ui-btn-icon-notext  { display:none;} 
</style>

<script>
$(function() {
    $( "#dialog-update" ).dialog({
      autoOpen: false,
      modal: true,
      buttons: {
        "Save": function() {
          $( '#update_form' ).submit();
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
});
 </script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund', 'action'=>'index'),'default',true);?>'">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate("Cheque Info"); ?></legend>

	<table class="table" style="width:100%">
		<tr>
			<th width="150px"><?php echo $this->translate("Cheque No"); ?></th>
			<td><?php echo $this->data['rchq_cheque_no'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Bank"); ?></th>
			<td><?php echo $this->data['rchq_bank_name'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Amount"); ?></th>
			<td><?php echo $this->data['rchq_amount'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Issue Date"); ?></th>
			<td><?php echo $this->data['rchq_issue_date'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Prepared By"); ?></th>
			<td><?php echo $this->data['issuer_name'];?></td>
		</tr>
	</table>
</fieldset>
<br />
<fieldset>
	<legend><?php echo $this->translate("Collection Info"); ?></legend>
	
	<table class="table" style="width:100%">
		<tr>
			<th width="150px"><?php echo $this->translate("Collector Name"); ?></th>
			<td><?php echo $this->data['rchq_collector_name'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Collector ID"); ?></th>
			<td><?php echo $this->data['rchq_collector_id'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Collection Date"); ?></th>
			<td><?php echo $this->data['rchq_collector_date'];?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Update By"); ?></th>
			<td><?php echo $this->data['collector_updater'];?></td>
		</tr>
	</table>
	<?php if(!isset($this->data['rchq_collector_date'])){?>
	<div align="center" width="100%" style="background: #CCCCCC;">
		<input type="button" value="Update Collector" onclick="$( '#dialog-update' ).dialog('open');" />
	</div>
	<?php }?>
</fieldset>

<div id="dialog-update" title="<?php echo $this->translate("Collector Info"); ?>" style="display:none">
	<form name="update_form" id="update_form" action="/studentfinance/refund/cheque-update" method="post" />
		<input type="hidden" name="rchq_id" value="<?php echo $this->id; ?>" />
		<table>
			<tr>
				<td><?php echo $this->translate("Collector Name");?></td>
				<td>:</td>
				<td><input type="text" name="collector_name" /></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Collector ID");?></td>
				<td>:</td>
				<td><input type="text" name="collector_id" /></td>
			</tr>
		</table>
	</form>
</div>