<style type="text/css">
	.error_msg{
		color: #D12F19;
	}
</style>

<script>
	$(function() {
		$( "#cheque_issue_date" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
  	});

	function validate(){
		var msg = "<?php echo $this->translate("Confirm to submit?"); ?>";
		var status = true;

		$("#form_process_refund input:text").each(function() {

			$(this).parent().find('.error_msg').empty();
			
			if($(this).val() === ""){
		   		$(this).parent().append("<div class='error_msg'>Field Error</div>");
		   		status = status && false;
		   	}

		});
		
		if(status && confirm(msg)){
			return true
		}else{
			return false;
		}
	}
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>Applicant / Student Info</legend>
	<table>
		<tr>
			<td>Name</td>
			<td>:</td>
			<td>
			<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
			<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
			<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
			</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>:</td>
			<td><?php echo $this->profile['appl_email']; ?></td>
		</tr>
		<tr>
			<td>ID</td>
			<td>:</td>
			<td><?php echo $this->data['rfd_fomulir']; ?></td>
		</tr>
	</table>
</fieldset>
<br />
<fieldset>
	<legend>Refund Info</legend>
	<table>
		<tr>
			<td>Description</td>
			<td>:</td>
			<td><?php echo $this->data['rfd_desc']; ?></td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>:</td>
			<td><?php echo $this->data['rfd_amount']; ?></td>
		</tr>
	</table>
</fieldset>
<br />

<fieldset>
	<legend>Cheque Info</legend>
	<form name="form_process_refund" id="form_process_refund" onsubmit="return validate();" method="post" action="">
		<input type="hidden" name="refund_id" value="<?php echo $this->data['rfd_id']; ?>" />
		<dl class="zend_form">	
			<dt>
				<label class="required" for="rchq_bank_name">Issued Bank</label>
			</dt>
			<dd>
				<select name="rchq_bank_name">
				<?php 
					foreach ($this->bank_list as $bank){
				?>
					<option value="<?php echo $bank['idDefinition']; ?>"><?php echo $bank['BahasaIndonesia']; ?></option>
				<?php 
					}
				?>		
				</select>
			</dd>
			
			<dt>
				<label class="required" for="rchq_cheque_no">Cheque Number</label>
			</dt>
			<dd>
				<input type="text" name="rchq_cheque_no" value="" />
			</dd>
			
			<dt>
				<label class="required" for="rchq_amount">Cheque Amount</label>
			</dt>
			<dd>
				<input type="text" name="rchq_amount" id="rchq_amount" value="<?php echo $this->data['rfd_amount']; ?>"  onchange="change_amount(this);" />
			</dd>
			
			<dt>
				<label class="required" for="rchq_amount">Cheque Issue Date</label>
			</dt>
			<dd>
				<input type="text" name="cheque_issue_date" id="cheque_issue_date" value="" placeholder="yyyy-mm-dd"/>
			</dd>
			
		</dl>
			
			<div style="text-align: center; background: #CCCCCC;">
				<input type="submit" value="Submit" />
			</div>
	</form>
</fieldset>

