<script>
  $(function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.error(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });
  });
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<fieldset>
	<legend>Applicant Information</legend>
	<table>
		<tr>
			<td>Name</td>
			<td>:</td>
			<td>
				<?php echo $this->profile['appl_fname']!=null?$this->profile['appl_fname']." ":""; ?>
				<?php echo $this->profile['appl_mname']!=null?$this->profile['appl_mname']." ":""; ?>
				<?php echo $this->profile['appl_lname']!=null?$this->profile['appl_lname']." ":""; ?>
			</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>:</td>
			<td><?php echo $this->profile['appl_email']?></td>
		</tr>
	</table>
</fieldset>

<div id="tabs">
  <ul>
    <li><a href="/studentfinance/advance-payment/applicant-detail/id/<?php echo $this->id; ?>"><?php echo $this->translate("Advance Payment"); ?></a></li>
    <li><a href="/studentfinance/refund/history-applicant"><?php echo $this->translate("Refund History"); ?></a></li>
  </ul>  
</div>