<script type="text/javascript">

$(function()
		{

			$( ".datepicker" ).datepicker({
		  		'dateFormat': 'dd-mm-yy'
		  	});
		});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/refund/view/id/"<?php echo $this->info['rchq_rfd_id'];?>>
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<form id="submitreceipt" method="post" onsubmit="return checkFormValidation();">
<?php
$isStudent = !empty($this->info['IdStudentRegistration']) ? 0 : 1;
?>
		<table class="table" width="100%">
					<tr>
		<td	 width='200'><?php echo $this->translate('Refund No.')?></td>
		<td><?php echo $this->info['rfd_fomulir']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Name')?></td>
		<td><?php echo $isStudent == 1  ? $this->info['student_name'] : $this->info['applicant_name']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('ID')?></td>
		<td><?php echo $isStudent == 1  ? $this->info['registrationId'] : $this->info['at_pes_id']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->info['rfd_desc'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Total Amount')?></td>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->info['rfd_amount']?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Status')?></td>
		<td><?php 
			if($this->info['rfd_status'] == 'A'){
				echo "APPROVED";
			}else if($this->info['rfd_status'] == 'X'){
				echo "CANCEL";
			}else if($this->info['rfd_status'] == 'E'){
				echo "ENTRY";
			}
		?></td>
	</tr>
				
				<tr>
					<td width="25%"><?php echo $this->translate('Cheque Number');?></td>
					<td width="75%"><input type="text" name="rchq_cheque_no" id="rchq_cheque_no" class="input-txt" value="<?php echo $this->info['rchq_cheque_no'];?>" /></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Bank Name');?></td>
					<td><input type="text" name="rchq_bank_name" id="rchq_bank_name" class="input-txt" value="<?php echo $this->info['rchq_bank_name'];?>"/></td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Issue Date');?></td>
					<td><input type="text" name="rchq_issue_date" id="rchq_issue_date" class="input-txt  datepicker" value="<?php echo $this->info['rchq_issue_date'];?>"/></td>
				</tr>
				<tr>
		  		<td><?php echo $this->translate('Collected By');?></td>
		  		<td>
		  		<select name="rchq_collector_id_type" id="rchq_collector_id_type" class="input-txt" >
		  		<option value="">Please select</option>
		  		<option value="1">Applicant</option>
		  		<option value="2">Student</option>
		  		<option value="3">Sponsor</option>
		  		</select>
		  		</td>
		  	</tr>
				<tr>
					<td width="25%"><?php echo $this->translate('Collector Name');?></td>
					<td width="75%"><input type="text" name="rchq_collector_name" id="rchq_collector_name" class="input-txt" value="<?php echo $this->info['rchq_collector_name'];?>" /></td>
				</tr>
				<tr>
					<td width="25%"><?php echo $this->translate('Collect Date');?></td>
					<td width="75%"><input type="text" name="rchq_collector_date" id="rchq_collector_date" class="input-txt datepicker" value="<?php echo $this->info['rchq_collector_date'];?>" /></td>
				</tr>
				
			</table>
		</div>
  
  <div class="form-opt">
		<input type="submit" value="Save">
	</div>
</form>