<script>
$(".fancybox").fancybox({
	 type: "ajax"
});
</script>

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Payer ID")?></th>
		<th><?php echo $this->translate("Description")?></th>
		<th><?php echo $this->translate("Creator")?></th>
		<th><?php echo $this->translate("Approver")?></th>
		<th><?php echo $this->translate("Amount")?></th>
		<th><?php echo $this->translate("Cheque Collection")?></th>
		<th>&nbsp;</th>
	</tr>
	
	<?php 
	if($this->data){
	$i=0;
	foreach ($this->data as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $entry['rfd_fomulir']; ?></td>
		<td align="center"><?php echo $entry['rfd_desc']; ?></td>
		<td align="center">
			<?php
			if($entry['rfd_creator'] == -1){
				echo "System Generated";
			}else{
				echo $entry['creator_name'];	
			}
			?>
			(<?php echo date('d-m-Y h:ia', strtotime($entry['rfd_create_date'])); ?>)
		</td>
		<td align="center">
			<?php echo $entry['approver_name']; ?>
			(<?php echo date('d-m-Y h:ia', strtotime($entry['rfd_approve_date'])); ?>)
		</td>
		<td><?php echo number_format($entry['rfd_amount'], 2, '.', ','); ?></td>
		<td align="center">
			<?php echo isset($entry['rchq_collector_date'])?"Collected":"Pending Collection"; ?>
		</td>
		<td>
			<a class="fancybox" href="/studentfinance/refund/cheque-detail/id/<?php echo $entry['rdf_refund_cheque_id']; ?>">Cheque Detail</a>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach;
	} 
	?>

</table>