<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<?php if ( $this->info['rfd_status'] == 'E' ) { ?>
			<li>
				<a href="/studentfinance/refund/approve/id/<?php echo $this->id;?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to approve this refund?')?>')">
					<span class='add'></span>
					<?php echo $this->translate('Approve'); ?>
				</a>
			</li>
			
			<?php } ?>
			
			<?php if ( $this->info['rfd_status'] == 'A' ) { ?>
			<li>
				<a href="/studentfinance/refund/edit/id/<?php echo $this->info['rdf_refund_cheque_id'];?>" >
					<span class='edit'></span>
					<?php echo $this->translate('Edit'); ?>
				</a>
			</li>
			
			<?php } ?>
			<?php if ( $this->info['rfd_status'] != 'X' ) { ?>
			<li>
				<a href="/studentfinance/refund/cancel/id/<?php echo $this->id;?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to cancel this refund?')?>')">
					<span class='delete'></span>
					<?php echo $this->translate('Cancel'); ?>
				</a>
			</li>
			<?php }?>
			
			<li>
				<a href="#" onclick="history.go(-1)";>
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php
$isStudent = isset($this->info['IdStudentRegistration']) ? 1 : 0;
?>

<table width="100%" class="table info">
	<tr>
		<th width='200'><?php echo $this->translate('Refund No.')?></th>
		<td><?php echo $this->info['rfd_fomulir']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Name')?></th>
		<td><?php echo $isStudent == 1  ? $this->info['student_name'] : $this->info['applicant_name']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('ID')?></th>
		<td><?php echo $isStudent == 1  ? $this->info['registrationId'] : $this->info['at_pes_id']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Description')?></th>
		<td><?php echo $this->info['rfd_desc'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Total Amount')?></th>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->info['rfd_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Status')?></th>
		<td><?php 
			if($this->info['rfd_status'] == 'A'){
				echo "APPROVED";
			}else if($this->info['rfd_status'] == 'X'){
				echo "CANCEL";
			}else if($this->info['rfd_status'] == 'E'){
				echo "ENTRY";
			}
		?></td>
	</tr>
</table>
<br />
<?php if($this->cheque){?>
<h3><?php echo $this->translate('Refund Cheque Details')?></h3>
<table width="100%" class="table info">
	<tr>
		<th width='200'><?php echo $this->translate('Cheque Number')?></th>
		<td><?php echo $this->cheque['rchq_cheque_no']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Bank Name')?></th>
		<td><?php echo $this->cheque['rchq_bank_name']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Amount')?></th>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->cheque['rchq_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Issue Date')?></th>
		<td><?php echo $this->cheque['rchq_issue_date']?></td>
	</tr>
</table>

<br />
<?php }?>
<h3><?php echo $this->translate('Advance Payment Details')?></h3>
<table width="100%" class="table info">
	<tr>
		<th width='200'><?php echo $this->translate('Advance Payment No.')?></th>
		<td><?php echo $this->info['advpy_fomulir']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Description')?></th>
		<td><?php echo $this->info['advpy_description']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Amount')?></th>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->info['advpy_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Balance')?></th>
		<td><?php echo $this->info['cur_symbol_prefix'].' '.$this->info['advpy_total_balance']?></td>
	</tr>
</table>