<script><!--
$(function() {
	  // Handler for .ready() called.

	 
	  $('.addMore').click(function(){
		 
		  //add row
		  var row = "<tr>"+
			  		"<td></td><td><input type='text' name='es_mark[]' id='es_mark' size=3></td>"+
			  		"</tr>";

		  $('#myTable > tbody:last').append(row);
	  });


	  $('#addForm').submit(function(event){
 
		  if ( $('#es_mark_type').val() == '') { 
			  event.preventDefault();
			  alert('Please select mark type'); 
			  return false;
		  }

		  if( $('#es_rules').val()==''){
			  event.preventDefault();
			  alert('Please enter rules'); 
			  return false;
		  }
		 	  
		  return true;
	  });
			
});


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-scaling','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">	
	<!--<tr>
		    <th width="20%"><?php echo $this->translate("Programme"); ?></th>   
		   <td><?php echo ($this->locale=='ms_MY') ?  $this->program['ArabicName']:$this->program['ProgramName'];?></td>
	</tr>
	-->
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester"); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Code "); ?></th>   
		    <td><?php echo $this->subject['SubCode'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?></td>   
	</tr>
</table>
<br></br>
<fieldset>
<legend><?php echo $this->translate("Exam Scaling Detail"); ?> </legend>
<form name='addForm' id='addForm' method='post' action=''>
<input type="hidden" name="idSemester" id="idSemester" value="<?php echo $this->group['IdSemester'];?>">
<input type="hidden" name="idSubject" id="idSubject" value="<?php echo $this->group['IdSubject'];?>">
<input type="hidden" name="idGroup" id="idGroup" value="<?php echo $this->group['IdCourseTaggingGroup'];?>">

<table class="" width="100%" cellpadding="5" cellspacing="1" border="0" id='myTable'>	
<tbody>
	<tr>
		    <td width="20%"><?php echo $this->translate("Mark Type"); ?>*</td>   
		    <td>
		    	<select name='es_mark_type' id='es_mark_type'>
		    		    <option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
		    		<?php foreach($this->mark_type as $type){?>
		    			<option value='<?php echo $type['idDefinition'];?>'><?php echo ($this->locale=='ms_MY') ? $type['BahasaIndonesia']:$type['DefinitionDesc']; ?></option>
		    		<?php } ?>
		    	</select>
		    </td>   
	</tr>
	<tr>
		    <td width="20%"><?php echo $this->translate("Rules"); ?>*</td>   
		    <td><select name='es_operational' id='es_operational'>
		    		<option value='+'>+</option>
		    		<option value='-'>-</option>
		    	</select>
		    	&nbsp;<input type='text' name='es_rules' id='es_rules' size=3></td>   
	</tr>
	<tr>
		    <td width="20%"><?php echo $this->translate("Marks"); ?></td>   
		    <td><input type='text' name='es_mark[]' id='es_mark' size=3> <a href='#'  class='addMore'>Add More</a></td>   
	</tr>
</tbody>	
</table>
<div class='form-opt'>
		<input type='submit' name='btn-submit' id='btn-submit' value='Save'></input>
</div>
</form>

</fieldset>