<script type="text/javascript">
	function ajaxgetGroupCourse(semester_id,program_id){

		if(semester_id!==0){
			$.ajax({
				url: "/examination/mark-entry/search-group-course",
			    type: "post",
			    async : false,
			    data: {'semester_id':semester_id,'program_id':program_id},
			    dataType: 'json',
			    success: function(data){
				    
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- All --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<form name='formApproval' method='post'>
<?php if(count($this->groups)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><?php echo $this->translate("No")?></th>
		<th><?php echo $this->translate("Section Name")?></th>		
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("Lecturer")?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->groups as $group){
		
	?>
		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='left'><?php echo $group["GroupName"];?></td>		
		<td align='center'><?php echo $group["SubCode"];?></td>
		<td align='left'><?php echo ($this->locale=='ms_MY') ? $group['subjectMainDefaultLanguage']:$group['SubjectName'];;?></td>
		<td align='center'><?php echo $group['FullName'];?></td>
		<td align='center'>
		<?php if(isset($group['es_id'])){?>
			<a href='<?php echo $this->url(array('module'=>'examination','controller'=>'exam-scaling','action'=>'process','es_id'=>$group["es_id"]),'default',true);?>'><?php echo $this->translate('Process'); ?></a>
		<?php }else { ?>
			<a href='<?php echo $this->url(array('module'=>'examination','controller'=>'exam-scaling','action'=>'add','id'=>$group["IdCourseTaggingGroup"]),'default',true);?>'><?php echo $this->translate('Add'); ?></a>
		<?php } ?>
		</td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>

</form>
<?php }//end if?>
</div>
<br>