<script>
function validate_form(){

	var registrationId_from = $("#registrationId_from").val();
	var registrationId_to = $("#registrationId_to").val();
	
	if(registrationId_from != ''){
			
		if(registrationId_to == ''){
			
			alert("Please enter NIM to");
			return false;
		}else{
			return true;
		}
		
	}else{

		return true;
	}

	
}


function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want revert student NIM?");
		 if(msg){
			$("#form1").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student.");             	
		return false;
	}		
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});



$(function () {
	 
	 var str = "";
	 $('#checkall2').click(function () {	

		 var isChecked = $('#checkall2').is(':checked');

		 if(isChecked==true){			 
			 $('.chk2').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk2').prop('checked', false);
		 }
	 });
	
	 
});

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
	     
			 <li>
				<a href="#" onclick="validate();" >
					<span class='save'></span>
					Reverse
				</a>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>



<?php echo $this->form;?>

<?php if(count($this->student_list)>0){ ?>

<fieldset>

<form id="form1" name="form1" method="POST" action="<?php echo $this->url(array('module'=>'registration','controller'=>'student-registration-reversal', 'action'=>'reversal'),'default',true);?>">


<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>		
		<th><?php echo $this->translate("Registration Date"); ?></th>
		<th>Action<br><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>	
		
	</tr>

	<?php 
	
	$no =1; 
	foreach ($this->student_list as $student){ ?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	    <td><?php echo $no;?>.</td>
		<td><?php print_r($this->escape($student['appl_fname'].' '.$student['appl_mname'].' '.$student['appl_lname']));?></td>
		<td><?php echo $student['registrationId'];?></td>		
		<td><?php echo date("d-m-Y",strtotime($student['UpdDate']));?></td>				
		<td>
		<input type="checkbox" class="chk" id="IdStudentRegistration[]" name="IdStudentRegistration[]" value="<?php echo $student['IdStudentRegistration'];?>" >
		<input type="hidden" id="appl_id[<?php echo $student['IdStudentRegistration'];?>]" name="appl_id[<?php echo $student['IdStudentRegistration'];?>]" value="<?php echo $student['IdApplication'];?>" >
		<input type="hidden" id="txn_id[<?php echo $student['IdStudentRegistration'];?>]" name="txn_id[<?php echo $student['IdStudentRegistration'];?>]" value="<?php echo $student['transaction_id'];?>" >
		</td>
	</tr>
	<?php $no++; }?>
</table>

</form>

<?php } ?>

</fieldset>
<br>