<script>
function validateAcademiccopySetupForm(){

	if (  $('#CopyToIdProgram option:selected').length > 0 ) { 

		if( $('#CopyFromIdProgram').val() == '' ) {
			alert('Please select "From Program"');
			return false;
		} 

	}
	
	return true;
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'academicstatus', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>

<form dojoType="dijit.form.Form" id="myCopyForm" action="" method="post" name="myCopyForm">
	
	<script type="dojo/method" event="onSubmit">
		if (this.validate()) {                
			var flag = validateAcademiccopySetupForm();
			if(!flag){
				return false;
			}
			return true;
		}else {
			return false;
		}
	</script>
	<table class="table" width="100%">
		<?php if($this->errormsg=='1') { ?>
		<tr>
			<td align="center" colspan="4" style="color: red;"><?php echo $this->translate('Selected semester and scheme is not exist in databse so you can not copy this setup');?></td>
		</tr>
		<?php } ?>
		<?php if($this->copynotpossibleerrormsg=='1') { ?>
		<tr>
			<td align="center" colspan="4" style="color: red;"><?php echo $this->translate('Selected Combination of from semester and scheme or Program is not exist in the existing setup so you can not copy from it.');?></td>
		</tr>
		<?php } ?>

		<?php if($this->errormsgbyprogram=='1') { ?>
		<tr>
			<td align="center" colspan="4" style="color: red;"><?php echo $this->translate('Selected semester and program is not exist in databse so you can not copy this setup');?></td>
		</tr>
		<?php } ?>
		<tr>
			<th colspan="4"><?php echo $this->translate("Academic Setup Details"); ?></th>
		</tr>
		<tr>
			<td><?php echo $this->translate('Setup By');?></td>
			<td colspan="3"><?php echo $this->lobjAcademicstatusForm->CopyBasedOn;?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('From Semester');?><span>*</span></td>
			<td><?php echo $this->lobjAcademicstatusForm->CopyFromIdSemester;?></td>
			<td><?php echo $this->translate('To Semester');?><span>*</span></td>
			<td><?php echo $this->lobjAcademicstatusForm->CopyToIdSemester;?></td>
		</tr>
		
		<tr>
			<td><?php echo $this->translate('From Program');?></td>
			<td><?php echo $this->lobjAcademicstatusForm->CopyFromIdProgram;?></td>
			<td><?php echo $this->translate('To Program');?></td>
			<td><?php echo $this->lobjAcademicstatusForm->CopyToIdProgram;?></td>
			
		</tr>
		
	</table>
	<div class='form-opt'>
					<?php echo $this->lobjAcademicstatusForm->CopySetup;?>
			</div>
</form>