<script>
function clearpageAdd(){

	
	$('#field8').val('');
	$('#field20').val('');
	$('#field5').val('');
	$('#field27').val('');
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'academicstatus', 'action'=>'newacademicstatus'),'default',true);?>" >
					<span class='add'></span>
					<?php echo $this->translate("Add"); ?>
				</a>
			</li>
			
				<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'academicstatus', 'action'=>'copy-academic-status'),'default',true);?>" >
					<span class='copy'></span>
					<?php echo $this->translate("Copy"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>

<?php
$academicstatud = array('0' => 'GPA','1' => 'CGPA');
?>

<fieldset>
	<legend>
		<?php echo $this->translate("Search"); ?>
	</legend>
	<form
		action="<?php echo $this->baseUrl(); ?>/examination/academicstatus/index/search/1"
		method="POST">
		<table width="60%">
			<tr>
				<td><?php echo $this->translate("Semester");?></td>
				<td><?php echo $this->lobjform->field8; ?></td>							
			</tr>
			<tr>				
				<td><?php echo $this->translate("Award");?></td>
				<td><?php echo $this->lobjform->field20; ?></td>				
			</tr>
			<tr>				
				<td><?php echo $this->translate($this->Program);?></td>
				<td><?php echo $this->lobjform->field5; ?></td>				
			</tr>
			<tr>
				<td><?php echo $this->translate("Academic Status"); ?></td>
				<td><?php echo $this->lobjform->field27; ?></td>
			</tr>
			<tr>
				<td colspan="2" style="height: 10px"></td>
			</tr>
			<tr>
				<td></td>
				<td><?php echo $this->lobjform->Search; ?>
					<?php echo $this->lobjform->Clear; ?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>

<br></br>

	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate('Semester'); ?></th>
			<th><?php echo $this->translate("Academic Status"); ?></th>
			<th><?php echo $this->translate("Award");?></th>
			<th><?php echo $this->translate("Program");?></th>
		</tr>


		<?php if (count($this->paginator)>0){ ?>
		<?php foreach ($this->paginator as $lobjprogram): ?>
		<tr>			
			<td align='center'><a href="<?php echo $this->url(array('module' => 'examination', 'controller' => 'academicstatus', 'action' => 'academicstatuslist', 'id' => $lobjprogram['IdAcademicStatus']), 'default', true); ?>"><?php echo (isset($lobjprogram['SemesterMainName'])) ? $lobjprogram['SemesterMainName']  : '' ; ?>
			</a></td>
			<td align='center'><?php echo $academicstatud[$lobjprogram['AcademicStatus']]; ?></td>
			
			<td align='center'><?php echo (isset($lobjprogram['award'])) ? $lobjprogram['award']  : '' ; ?>
			</td>
			<td><?php echo ($this->locale=='ms_MY') ? $lobjprogram['ArabicName']  : $lobjprogram['ProgramName']; ?>
			</td>
		</tr>
		<?php endforeach; ?>
		<tr>
			<td colspan="5" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator, 'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
		
		<?php }else{
			
			echo "<tr><td colspan='4'>".$this->translate('No record found')."</td></tr>";
		} ?>

		
	</table>
