
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'index-activity','id'=>$this->id),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>	
		</ul>
	</div>
</div>

<br />

<?php 

echo $this->form;

?>

<script type="text/javascript">
$(function()
{
	$("#myform").on('submit', function(){
		return checkForm();
	});
});

function checkForm()
{
	$("#myform .reqfield").each(function()
	{
		
		var field = $(this).parent().prev().find('label').html();
		var p = $(this).val();

		if ( p == '' )
		{                        
			$(this).parent().prev().addClass("red");
			alert(field+" cannot be empty");

			error = 1;
			return false;
		}
		else
		{
			$(this).parent().prev().removeClass("red");
		}
	});

	if ( error == 1 )
	{
		return false;
	}                

	return true;
}

function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '';

		if(idProgram){
			 $.ajax({
					url: "/registration/studentregistrationbulk/get-program-scheme",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$('#program_scheme_id').empty();
						$('#program_scheme_id').append('<option value="">-- Please Select --</option>');			    	
				    	$.each(data, function(index) {
					    	if(IdProgramScheme==data[index].IdProgramScheme){
								var sel = 'selected';
					    	}else{
								var sel = '';
					    	}
					    	if(data[index].ProgramType!=' '){
					    		var program_type = '-'+data[index].ProgramType;
					    	}else{
					    		var program_type = '';
					    	}
				    		$('#program_scheme_id').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+'-'+data[index].StudyMode+program_type+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('program_scheme_id');
				      
					},
					complete: function() {
						hideLoading('program_scheme_id');
					}  	
				});
		}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>