<script type="text/javascript">
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getSemester(programId){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'get-semester'),"default",true);?>/programId/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('semester');
            },
            complete: function() {
		hideLoading('semester');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){
                
                var selected = '';
                content += '<option '+selected+' label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
            });
            $('#semester').html(content);
        })
        .fail(function() {
            alert("error load semester drop down"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'add'),'default',true);?>" >
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>	
		</ul>
	</div>
</div>

<br />

<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm" name="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Item'); ?></td>
                <td><?php echo $this->form->item; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" id="clear" name="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Programme"); ?></th>		
		<th><?php echo $this->translate("Programme Scheme"); ?></th>		
		<th><?php echo $this->translate("Item"); ?></th>			
		<th><?php echo $this->translate('Chargable')?></th>
		<th><?php echo $this->translate('Mandatory')?></th>
		<th><?php echo $this->translate('Date Added')?></th>
		<th></th>
	</tr>		
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data):
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'edit', 'id'=>$data['ri_id']),'default',true);?>">
				<?php echo $data['SemesterMainName']; ?>
			</a>
		</td>
		<td><?php echo $data['program_name']?></td>
		<td><?php echo $data['mop'] ?> - 
			<?php echo $data['mos'] ?>
			<?php echo !empty($data['pt']) ? ' - '.$data['pt'] : '' ?>
		</td>
		<td>
			<?php echo $data['item_name']?>
		</td>
		<td align='center'><?php echo $data['chargable'] == 1 ? $this->translate('Yes') : $this->translate('No') ?></td>
		<td align='center'><?php echo $data['mandatory'] == 1 ? $this->translate('Yes') : $this->translate('No') ?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td align='center' class='options'>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'edit', 'id'=>$data['ri_id']),'default',true);?>"><?php echo $this->translate('Edit')?></a> | <a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'delete', 'id'=>$data['ri_id']),'default',true);?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete this?')?>')"><?php echo $this->translate('Delete')?></a>
			| <a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'index-activity', 'id'=>$data['ri_id']),'default',true);?>"><?php echo $this->translate('Activity')?></a>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No registration item found.')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
	
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
