
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'add-activity','id'=>$this->id),'default',true);?>" >
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>	
			<li>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>	
		</ul>
	</div>
</div>

<br />
<fieldset>
    <legend><?php echo $this->translate('Info'); ?></legend>
    <table>
        <tr>
            <td><?php echo $this->translate('Programme'); ?></td>
            <td>:</td>
            <td><?php echo $this->info['program_name']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Scheme'); ?></td>
            <td>:</td>
            <td><?php echo $this->info['mop'].' '.$this->info['mos'].' '.$this->info['pt']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Item'); ?></td>
            <td>:</td>
            <td><?php echo $this->info['item_name']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("Activity");?></th>
		<th><?php echo $this->translate("Start Date"); ?></th>		
		<th><?php echo $this->translate("End Date"); ?></th>		
		<th><?php echo $this->translate("Calculation Type"); ?></th>			
		<th><?php echo $this->translate('Amount')?></th>
		<th><?php echo $this->translate('Date Added')?></th>
		<th></th>
	</tr>		
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data):
	?>
	<tr>
		<td><?php echo $data['ActivityName']?></td>
		<td><?php echo $data['StartDate']?></td>
		<td><?php echo $data['EndDate']?></td>
		<td align='center'><?php echo $data['ria_calculation_type'] == 1 ? $this->translate('Amount') : $this->translate('Percentage') ?></td>
		<td align="center"><?php echo $data['ria_amount']?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td align='center' class='options'>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'registration-item', 'action'=>'delete-activity', 'ids'=>$data['ria_ri_id'],'id'=>$data['ria_id']),'default',true);?>" onclick="return sure('<?php echo $this->translate('Are you sure you want to delete this?')?>')"><?php echo $this->translate('Delete')?></a>
			
		</td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No registration item found.')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
	
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
