<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Student Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Convocation Attendance'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['confirm_attend'] != NULL) {
                        if ($loop['confirm_attend'] == 1) {
                            echo 'Yes';
                        } else if ($loop['confirm_attend'] == 0) {
                            echo 'No';
                        }
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>
