<script type="text/javascript">
    function downloadAwardReport(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'graduation','controller'=>'reports', 'action'=>'award-report-download'),'default',true);?>";
        $('#searchForm').attr('action',url);
        $('#searchForm').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->list) {
            ?>
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="return downloadAwardReport();">
                        <span class='download'></span>
                        <?php echo $this->translate("Download"); ?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Convo Session'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->convosession; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Award'); ?></td>
                <td><?php echo $this->form->award; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Student Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Award'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td align="center">
                    <?php
                    echo $loop['awardname'];
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>