<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php if(count($this->student)>0) { ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th><?php echo $this->translate('Student ID')?></th>
            <th><?php echo $this->translate('Student Name')?></th>
            <th><?php echo $this->translate('Intake')?></th>
            <th><?php echo $this->translate('Programme')?></th>
            <th><?php echo $this->translate('Approved By')?></th>
            <th><?php echo $this->translate('Approved Date')?></th>
            <th width="10%"><?php echo $this->translate('KMC')?></th>
            <th width="10%"><?php echo $this->translate('Finance')?></th>
            <th width="10%"><?php echo $this->translate('ICT')?></th>
            <th width="10%"><?php echo $this->translate('Logistic')?></th>
        </tr>
        <?php
        foreach($this->student as $index=>$student){
            ?>
            <tr>
                <td align='center'><?php echo $student['registrationId']; ?></td>
                <td><?php echo $student['student_name']; ?></td>
                <td align='center'><?php echo $student['intake_name']; ?></td>
                <td align='center'><?php echo $student['ProgramCode']; ?></td>
                <td align='center'><?php echo $student['summary_approved_by']; ?></td>
                <td align='center'><?php echo ($student['dcs_createddt']!='') ?  date('d-m-y',strtotime($student['dcs_createddt'])):''; ?></td>
                <td class="trans">

                    <?php if(isset($student['kmc']['kmc_status']) && $student['kmc']['kmc_status']==1){ ?>
                        <div class="status-wrap approved tooltip">
                            <span class="icon icon-check"></span>
                        </div>
                    <?php }else{ ?>
                        <div class="status-wrap tooltip">
                            -
                        </div>
                    <?php } ?>

                    <div class="tooltiptext">
                        <p><strong>Status:</strong><strong> <?php echo (isset($student['kmc']['kmc_status']) && $student['kmc']['kmc_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>

                    </div>
                </td>
                <td class="trans">

                    <?php if(isset($student['fin']['dcf_status']) && $student['fin']['dcf_status']==1){ ?>
                        <div class="status-wrap approved tooltip">
                            <span class="icon icon-check"></span>
                        </div>
                    <?php }else{ ?>
                        <div class="status-wrap tooltip">
                            -
                        </div>
                    <?php } ?>

                    <div class="tooltiptext">
                        <p><strong>Status:</strong><strong> <?php echo (isset($student['fin']['dcf_status']) && $student['fin']['dcf_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
                    </div>
                </td>
                <td class="trans">

                    <?php if(isset($student['ict']['ict_status']) && $student['ict']['ict_status']==1){ ?>
                        <div class="status-wrap approved tooltip">
                            <span class="icon icon-check"></span>
                        </div>
                    <?php }else{ ?>
                        <div class="status-wrap tooltip">
                            -
                        </div>
                    <?php } ?>

                    <div class="tooltiptext">
                        <p><strong>Status:</strong><strong> <?php echo (isset($student['ict']['ict_status']) && $student['ict']['ict_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
                    </div>

                </td>

                <td class="trans">

                    <?php if(isset($student['log']['log_status']) && $student['log']['log_status']==1){ ?>
                        <div class="status-wrap approved tooltip">
                            <span class="icon icon-check"></span>
                        </div>
                    <?php }else{ ?>
                        <div class="status-wrap tooltip">
                            -
                        </div>
                    <?php } ?>

                    <div class="tooltiptext">
                        <p><strong>Status:</strong><strong> <?php echo (isset($student['log']['log_status']) && $student['log']['log_status']==1) ? 'APPROVED':'PENDING' ?></strong></p>
                    </div>

                </td>
            </tr>
        <?php } ?>
    </table>
<?php } ?>