<script type="text/javascript">
    function downloadCollection(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'graduation','controller'=>'reports', 'action'=>'collection-download'),'default',true);?>";
        $('#searchForm').attr('action',url);
        $('#searchForm').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->list) {
            ?>
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="return downloadCollection();">
                        <span class='download'></span>
                        <?php echo $this->translate("Download"); ?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Convo Session'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->convosession; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Student Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Collection Scroll & Transcript'); ?></th>
        <th><?php echo $this->translate('Collection of Convocation Photo'); ?></th>
        <th><?php echo $this->translate('Address'); ?></th>
        <th><?php echo $this->translate('Payment Status'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['scroll_collection'] != NULL) {
                        if ($loop['scroll_collection'] == 1) {
                            echo 'Self Collect';
                        } else if ($loop['scroll_collection'] == 2) {
                            echo 'Courier';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['photo_collection'] != NULL) {
                        if ($loop['photo_collection'] == 1) {
                            echo 'Self Collect';
                        } else if ($loop['photo_collection'] == 2) {
                            echo 'Courier';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if ($loop['scroll_collection'] != NULL) {
                        if ($loop['scroll_collection'] == 1) {
                            echo '-';
                        } else if ($loop['scroll_collection'] == 2) {
                            $city = $loop['scroll_city'] == 99 ? $loop['scroll_city_others']:Graduation_Model_DbTable_Reports::getCity($loop['scroll_city']);
                            $state = $loop['scroll_state'] == 99 ? $loop['scroll_state_others']:Graduation_Model_DbTable_Reports::getState($loop['scroll_state']);
                            $country = Graduation_Model_DbTable_Reports::getCountry($loop['scroll_country']);

                            $address = $loop['scroll_address1'].'<br/>';
                            $address .= ($loop['scroll_address2']!='' && $loop['scroll_address2']!=null) ? $loop['scroll_address2'].'<br/>':'';
                            $address .= ($loop['scroll_postcode']!='' && $loop['scroll_postcode']!=null) ? $loop['scroll_postcode'].'<br/>':'';
                            $address .= ($city!='' && $city!=null) ? $city.'<br/>':'';
                            $address .= ($state!='' && $state!=null) ? $state.'<br/>':'';
                            $address .= ($country!=null) ? $country:'';

                            echo $address;
                        }
                    }else{
                        echo '-';
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $courierPaymentStatus = Graduation_Model_DbTable_Reports::getPaymentStatus($loop['studentid'], 123);

                    if ($courierPaymentStatus == true){
                        echo 'Paid';
                    }else{
                        echo 'Not Paid';
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>