<script type="text/javascript">
    function downloadSummary(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'graduation','controller'=>'reports', 'action'=>'summary-download'),'default',true);?>";
        $('#searchForm').attr('action',url);
        $('#searchForm').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->list) {
            ?>
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="return downloadSummary();">
                        <span class='download'></span>
                        <?php echo $this->translate("Download"); ?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Convo Session'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->convosession; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->studentid; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->studentname; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th colspan="5"></th>
        <th colspan="5"><?php echo $this->translate('Verification of Personal Details'); ?></th>
        <th colspan="6"></th>
    </tr>
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Student Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Convocation Attendance'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('NRIC/Passport No'); ?></th>
        <th><?php echo $this->translate('Permanent Address'); ?></th>
        <th><?php echo $this->translate('Contact No.'); ?></th>
        <th><?php echo $this->translate('Email Address'); ?></th>
        <th><?php echo $this->translate('Additional Guest Application'); ?></th>
        <th><?php echo $this->translate('Additional Guest Application Status'); ?></th>
        <th><?php echo $this->translate('Additional Guest Refreshment'); ?></th>
        <th><?php echo $this->translate('Additional Guest Refreshment Status'); ?></th>
        <th><?php echo $this->translate('Collection Scroll & Transcript'); ?></th>
        <th><?php echo $this->translate('Collection of Convocation Photo'); ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['ProgramName']; ?></td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['confirm_attend'] != NULL) {
                        if ($loop['confirm_attend'] == 1) {
                            echo 'Yes';
                        } else if ($loop['confirm_attend'] == 0) {
                            echo 'No';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $checklistinfo1 = Graduation_Model_DbTable_Reports::getChecklist($loop['studentid'], 1);
                    //var_dump($checklistinfo1);
                    if ($checklistinfo1){
                        if (isset($checklistinfo1['remarks_message']) && $checklistinfo1['remarks_message']!=null && $checklistinfo1['remarks_message']!=''){
                            echo $checklistinfo1['remarks_message'];
                        }else{
                            echo '<span style="color: green;">Verified</span>';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $checklistinfo2 = Graduation_Model_DbTable_Reports::getChecklist($loop['studentid'], 2);

                    if ($checklistinfo2){
                        if (isset($checklistinfo2['remarks_message']) && $checklistinfo2['remarks_message']!=null && $checklistinfo2['remarks_message']!=''){
                            echo $checklistinfo2['remarks_message'];
                        }else{
                            echo '<span style="color: green;">Verified</span>';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $checklistinfo3 = Graduation_Model_DbTable_Reports::getChecklist($loop['studentid'], 3);

                    if ($checklistinfo3){
                        if (isset($checklistinfo3['remarks_message']) && $checklistinfo3['remarks_message']!=null && $checklistinfo3['remarks_message']!=''){
                            echo $checklistinfo3['remarks_message'];
                        }else{
                            echo '<span style="color: green;">Verified</span>';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $checklistinfo4 = Graduation_Model_DbTable_Reports::getChecklist($loop['studentid'], 4);

                    if ($checklistinfo4){
                        if (isset($checklistinfo4['remarks_message']) && $checklistinfo4['remarks_message']!=null && $checklistinfo4['remarks_message']!=''){
                            echo $checklistinfo4['remarks_message'];
                        }else{
                            echo '<span style="color: green;">Verified</span>';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $checklistinfo5 = Graduation_Model_DbTable_Reports::getChecklist($loop['studentid'], 5);

                    if ($checklistinfo5){
                        if (isset($checklistinfo5['remarks_message']) && $checklistinfo5['remarks_message']!=null && $checklistinfo5['remarks_message']!=''){
                            echo $checklistinfo5['remarks_message'];
                        }else{
                            echo '<span style="color: green;">Verified</span>';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if (isset($loop['guestinfo'])){
                        if ($loop['guestinfo']['status']=='APPLIED'){
                            echo 'Yes ('.$loop['guestinfo']['guests'].')';
                        }else if ($loop['guestinfo']['status']=='APPROVED'){
                            echo 'Yes ('.$loop['guestinfo']['guests'].')';
                        }else if ($loop['guestinfo']['status']=='REJECTED'){
                            echo 'Yes ('.$loop['guestinfo']['guests'].')';
                        }
                    }else{
                        echo 'No';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if (isset($loop['guestinfo'])){
                        echo $loop['guestinfo']['status'].' ('.$loop['guestinfo']['guest_approve'].')';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if (isset($loop['refreshmentinfo'])){
                        if ($loop['refreshmentinfo']['status']=='APPLIED'){
                            echo 'Yes ('.$loop['refreshmentinfo']['guests'].')';
                        }else if ($loop['refreshmentinfo']['status']=='APPROVED'){
                            echo 'Yes ('.$loop['refreshmentinfo']['guests'].')';
                        }else if ($loop['refreshmentinfo']['status']=='REJECTED'){
                            echo 'Yes ('.$loop['refreshmentinfo']['guests'].')';
                        }
                    }else{
                        echo 'No';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if (isset($loop['refreshmentinfo'])){
                        echo $loop['refreshmentinfo']['status'].' ('.$loop['refreshmentinfo']['guest_approve'].')';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['scroll_collection'] != NULL) {
                        if ($loop['scroll_collection'] == 1) {
                            echo 'Self Collect';
                        } else if ($loop['scroll_collection'] == 2) {
                            echo 'Courier';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    //echo $loop['confirm_attend'].'<br/>';
                    if ($loop['photo_collection'] != NULL) {
                        if ($loop['photo_collection'] == 1) {
                            echo 'Self Collect';
                        } else if ($loop['photo_collection'] == 2) {
                            echo 'Courier';
                        }
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>