<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<?php
if ($this->list){
$no = 0;
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <thead>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Course'); ?></th>
            <th><?php echo $this->translate('Course Section'); ?></th>
            <th><?php echo $this->translate('Classes Attended'); ?></th>
            <th><?php echo $this->translate('Classes Percentage'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->list as $loop){
        $no++;
        ?>
        <tr>
            <td align="center"><?php echo $no; ?></td>
            <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
            <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
            <td align="center"><?php echo $loop['registrationId']; ?></td>
            <td align="center"><?php echo $loop['SubCode'].' - '.$loop['SubjectName'] ?></td>
            <td align="center"><?php echo $loop['calculation']['sectionname']; ?></td>
            <td align="center"><?php echo '('.$loop['calculation']['classesnAtt'].')'; ?></td>
            <td align="center"><?php echo $loop['calculation']['percentage'].'%'; ?></td>
        </tr>
        <?php
        }
        ?>
    </tbody>
</table>
<?php
}
?>