<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'activities-add','type'=>$this->type), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'activities'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th></th>
		<th width="20%"><?php echo $this->translate("Title");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Date Added");?></th>
		<th></td>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	$i++;
	?>
	<tr>
		<td><?php echo $i ?>.</td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-edit', 'id'=>$data['id']),'default',true);?>">
				<?php echo $data['title']; ?>
			</a>
		</td>
		<td><?php echo $data['description']?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td class="options" align="center"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-delete', 'id'=>$data['id'],'type' => $this->type),'default',true);?>" onclick="return sure()"><?php echo $this->translate('Delete')?></a></td>
	</tr>
	<?php 
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No activities found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>