<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br />

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Research Type");?></th>
		<th></td>
	</tr>

	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'articleship'),'default',true);?>">
				<?php echo $this->translate('Articleship')?>
			</a>
		</td>
		<td class="options" align="center"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'articleship'),'default',true);?>"><?php echo $this->translate('View')?></a></td>
	</tr>

	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'exemption'),'default',true);?>">
				<?php echo $this->translate('PPP')?>
			</a>
		</td>
		<td class="options" align="center"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'exemption'),'default',true);?>"><?php echo $this->translate('View')?></a></td>
	</tr>

	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'proposal'),'default',true);?>">
				<?php echo $this->translate('Proposal')?>
			</a>
		</td>
		<td class="options" align="center"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'activities-list', 'type'=>'proposal'),'default',true);?>"><?php echo $this->translate('View')?></a></td>
	</tr>
	
</table>
