<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'categories-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Programme");?></th>
		<th><?php echo $this->translate("Date Created");?></th>
		<th><?php echo $this->translate("Active")?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'categories-edit', 'id'=>$data['rc_id']),'default',true);?>">
				<?php echo $data['rc_name']; ?>
			</a>
		</td>
		<td align='center'><?php echo $data['ProgramName']?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td align='center'><?php echo $data['active'] == 1 ? $this->translate('Yes') : $this->translate('No')?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No categories yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
