<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'examiner-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25%"><?php echo $this->translate("Programme");?></th>
		<th width="25%"><?php echo $this->translate("Course");?></th>
		<th colspan="2" width="20%"><?php echo $this->translate("Minimum/Maximum Candidate");?></th>
		<th><?php echo $this->translate("Date Added");?></th>
		<th></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td align='center'><?php echo $data['es_program'] == 0 ? $this->translate('All') : $data['es_program_name']?></td>
		<td align='center'><?php echo $data['es_course'] == 0 ? $this->translate('All') : $data['es_course_name']?></td>
		<td align='center'><?php echo $data['es_min']?></td>
		<td align='center'><?php echo $data['es_max']?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
		<td align='center'><a href="<?php echo $this->baseUrl()?>/thesis/setup/examiner-edit/id/<?php echo $data['es_id']?>"><?php echo $this->translate('Edit')?></a></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No examiner setup yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
