<script type="text/javascript">
</script>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'reason-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Title");?></th>
		<th><?php echo $this->translate("Description");?></th>
		<th><?php echo $this->translate("Date Added");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup', 'action'=>'reason-edit', 'id'=>$data['i_id']),'default',true);?>">
				<?php echo $data['i_title']; ?>
			</a>
		</td>
		<td><?php echo $data['i_description']?></td>
		<td><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="4"><?php echo $this->translate('No reason for applying found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
