<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'index'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()">
<table width="100%" class="table vcenter">
	<tr>
		<td width="20%"><?php echo $this->translate('Topic Name')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->r_topicname ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Category')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->r_category ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Max No of Candidate')?></td>
		<td><?php echo $this->form->r_maxcandidate ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Assignment Requirement')?></td>
		<td><?php echo $this->form->r_assignmentrequirement?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Active')?></td>
		<td><?php echo $this->form->active ?></td>
	</tr>
</table>

<!-- supervisor -->
<div class="opt float">
	<button onclick="addSupervisor();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Supervisor')?></button> 
</div>

<br />

<h4 class="info"><?php echo $this->translate('Supervisors')?></h4>
<table width="100%" class="table" id="supervisor_table">
	<tr>
		<th><?php echo $this->translate('Supervisor')?></th>
		<th></th>
	</tr>
	<tr class='emptyrow'>
		<td colspan='3'><?php echo $this->translate('No supervisors yet')?></td>
	</tr>
</table>
<!-- /supervisor -->

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'setup','action'=>'index'), 'default', true);?>'" />
</div>

</form>

<!-- supervisorr dialog -->
<div id="dialog-supervisor" title="Add Supervisor" style="display:none">
<?php echo $this->supervisor_form ?>
</div>
<!-- /supervisor dialog -->


<script type="text/javascript">
	
	var supervisor_array = [];

	$(function(){
		
		$( "#dialog-supervisor" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					if ( $("#supervisor_userid").val() == '' ||  $("#supervisor_role").val() == '' )
					{
						alert('<?php echo $this->translate('Please complete all required fields') ?>');
						return false;
					}
					
					if ( $.inArray( $( "#supervisor_userid" ).val() , supervisor_array ) !==-1 )
					{
						alert('<?php echo $this->translate('This staff is already a supervisor') ?>');
						return false;
					}

					//successful
					addNewSupervisor();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});

	});
	
	function addNewSupervisor()
	{
		var supervisor_name = $( "#supervisor_userid option:selected" ).text();
		var supervisor_id = $( "#supervisor_userid" ).val();

		var html  = "<tr>"
                    +"<td>"+supervisor_name+"<input type='hidden' name='supervisor_userid[]' value='"+supervisor_id+"' /></td>"
                    +"<td align='center'>"+"<a href='#' onclick='deleteSupervisorRow("+supervisor_id+", this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
                    +"</tr>";
		
		$("tr.emptyrow").remove();
        $("#supervisor_table").append( html );

		supervisor_array.push(supervisor_id);
	}
	
	function addSupervisor()
	{	
		$("#dialog-supervisor").dialog('open');
	}

	function deleteSupervisorRow(supervisor_id, what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}
		
		//remove from array
		var i = supervisor_array.indexOf(supervisor_id.toString());
		if(i != -1) {
			supervisor_array.splice(i, 1);
		}
		
		//remove row
		$(what).parent().parent().remove();
	}


	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		$(window).unbind('beforeunload');

		return true;
	}
</script>