
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university','action'=>'index'),'default',true);?>"><?php echo $this->translate("University"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Department"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Unit"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'index','idbrc'=>1),'default',true);?>"><?php echo $this->translate("Branch"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'index'),'default',true);?>"><?php echo $this->translate("Partner"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>
<br></br>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<!--<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php //echo $this->url(array('module'=>'generalsetup','controller'=>'university', 'action'=>'newuniversity'),'default',true);?>';" >
					<span class='add'></span>
					<?php //echo $this->translate("Add");?>
				</a>
			</li>			
		</ul>-->
	</div>
</div>
<br></br>
<fieldset>
<legend><?php echo $this->translate("Search");?></legend>
		<form action="<?php echo $this->baseUrl();?>/generalsetup/university/index/search/1" method="POST">
			<dl class="zend_form">
			<dt><?php echo $this->translate("University Name");?></dt>
			<dd><?php echo $this->lobjform->field3;?></dd>
			<dt><?php echo $this->translate("Short Name");?></dt>
			<dd><?php echo $this->lobjform->field2;?></dd>
			<dt><?php echo $this->defaultlanguage;?></dt>
			<dd><?php echo $this->lobjform->field18;?></dd>
			<dt><?php echo $this->translate("Active");?></dt>
			<dd><?php echo $this->lobjform->field7;?></dd>
			<dd>
			<?php echo $this->lobjform->Search;?>												
			<?php echo $this->lobjform->Clear;?>
			</dd>
			</dl>
		</form>	
</fieldset> 
<br/>
<h3><?php echo $this->translate('University List') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("University Name");?></th>
		<th><?php echo $this->translate("Short Name");?></th>	        	
		<th><?php echo $this->defaultlanguage ;?></th>
		<th></th>
	</tr>
	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjuser ): ?>
	<tr>
		<td><?php print_r($this->escape($lobjuser['Univ_Name']));?></td>
		<td><?php echo $this->escape($lobjuser['ShortName']);?></td>	
		<td><?php echo $this->escape($lobjuser['Univ_ArabicName']);?></div></td>
		<td><a href="<?php echo $this->baseUrl();?>/generalsetup/university/edituniversity/id/<?php echo $this->escape($lobjuser['IdUniversity']);?>" >Edit</a></td>
		<?php endforeach; ?>
		<?php endif; ?> 
	</tr>
	<tr>
		<td colspan="8" align="right">
			<div class="pagination">
				<?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
				<?php
				echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
				?>
			</div>
		</td>
	</tr>
</table>

