<?php
global $appdetail;
global $kmc;
global $celFin;
global $ict;
global $logistic;
global $reason;
?>
<!-- Header -->
<table class="" width="100%">	
	<tr>
		<td width="" align="center">
			<img src="$[LOGO]" width="210" />
		</td>		
	</tr>	
</table>
	<table class="" width="100%" align='center' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td align='center' colspan="3"><h2>STUDENT CLEARANCE FORM</h2></td>
		</tr>
		<tr>
			<td colspan="3">All students leaving INCEIF must obtain clearance and signature from the respective departments before transcripts, scroll or verification of official withdrawal can be issued.</td>
		</tr>
		<tr>
			<td colspan="3"><hr></hr></td>
		</tr>
		<tr id='tr-title'>
			<td  colspan="3"><h3>A. STUDENT DETAILS</h3></td>
		</tr>
		<tr>
			<td width="20%">Name</td>
			<td width="3%"> : </td>
			<td><?php echo $appdetail['appl_fname'].' '.$appdetail['appl_lname'];?></td>
		</tr>
		<tr>
			<td>Student ID </td>
			<td> : </td>
			<td><?php echo ($appdetail['registrationId']) ? $appdetail['registrationId'] : ''?></td>
		</tr>
		<tr>
			<td>Programme </td>
			<td> : </td>
			<td><?php echo ($appdetail['ProgramName']) ? $appdetail['ProgramName'] : ''?></td>
		</tr>
		<tr>
			<td>Reason For Clearance</td>
			<td> : </td>
			<td><?php echo ($appdetail['applicationtype']) ? $appdetail['applicationtype']:''; ?></td>
		</tr>
	</table>
	<table class="" width="100%" align='center' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td colspan="2"><hr></hr></td>
		</tr>
		<tr id='tr-title'>
			<td colspan="2"><h3>B.	DIVISIONS CLEARANCE</h3></td>
		</tr>
		<tr id='tr-sub-title' >
			<td><strong>Knowledge Management Centre</strong></td>
			<td align='right'>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>Pending to return : <?php echo $kmc['kmc_return']; ?></li>
					<li>Penalty RM : <?php echo $kmc['kmc_penalty']; ?></li>
					<li>Paid On : <?php echo isset($kmc['kmc_paiddt']) && $kmc['kmc_paiddt']!='1970-01-01' && $kmc['kmc_paiddt']!='0000-00-00' && $kmc['kmc_paiddt']!='' && $kmc['kmc_paiddt']!=null ? date('d-m-Y', strtotime($kmc['kmc_paiddt'])):''; ?></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Remarks : <?php echo $kmc['kmc_remarks']; ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Status : <?php if ($kmc['kmc_status']!=null){echo $kmc['kmc_status']==1 ? 'Approved':'Rejected';} ?></td>
			<td></td>
		</tr>
		<tr>
			<td width="10%">Approved By : <?php echo $kmc['name']; ?></td>
			<td>Approved Date : <?php echo $kmc['kmc_createddt']!='' && $kmc['kmc_createddt']!=null ? date('d-m-Y', strtotime($kmc['kmc_createddt'])):''; ?></td>
		</tr>
		<tr>
			<td colspan="2"><hr></hr></td>
		</tr>
		<tr id='tr-sub-title' >
			<td><strong>Finance Division</strong></td>
			<td align='right' width=''>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				Payment to be collected/refunded
				<ul>
					<li>Security Deposit : <?php echo $celFin['dcf_security_deposit']; ?></li>
					<li>Personal Bond : <?php echo $celFin['dcf_bond']; ?></li>
					<li>Tuition Fee/Accommodation : <?php echo $celFin['dcf_fee']; ?></li>
					<li>Total : <?php echo $celFin['dcf_security_deposit']+$celFin['dcf_bond']+$celFin['dcf_fee']; ?></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Remarks : <?php echo $celFin['dcf_remarks']; ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Status : <?php if($celFin['dcf_status']!=null){echo $celFin['dcf_status']==1 ? 'Approved':'Rejected';} ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Approved By : <?php echo $celFin['name']; ?></td>
			<td>Approved Date : <?php echo $celFin['dcf_createddt']!='' && $celFin['dcf_createddt']!=null ? date('d-m-Y', strtotime($celFin['dcf_createddt'])):''; ?></td>
		</tr>
		<tr>
			<td colspan="2"><hr></hr></td>
		</tr>
		<tr id='tr-sub-title' >
			<td><strong>ICT Division</strong></td>
			<td align='right' width='10%'>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>Removed email address from the group</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Remarks : <?php echo $ict['ict_remarks']; ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Status : <?php if ($ict['ict_status']!=null){echo $ict['ict_status']==1 ? 'Approved':'Rejected';} ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Approved By : <?php echo $ict['name']; ?></td>
			<td>Approved Date : <?php echo $ict['ict_createddt']!='' && $ict['ict_createddt']!=null ? date('d-m-Y', strtotime($ict['ict_createddt'])):''; ?></td>
		</tr>
		<tr>
			<td colspan="2"><hr></hr></td>
		</tr>
		<tr id='tr-sub-title' >
			<td><strong>Facilities Management And Procurement Division </strong></td>
			<td align='right' width='10%'>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>Blocked building access </li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Remarks : <?php echo $logistic['log_remarks']; ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Status : <?php if ($logistic['log_status']!=null){echo $logistic['log_status']==1 ? 'Approved':'Rejected';} ?></td>
			<td></td>
		</tr>
		<tr>
			<td>Approved By : <?php echo $logistic['name']; ?></td>
			<td>Approved Date : <?php echo $logistic['log_createddt']!='' && $logistic['log_createddt']!=null ? date('d-m-Y', strtotime($logistic['log_createddt'])):''; ?></td>
		</tr>
	</table>
	<table class="" width="100%" align='center' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td colspan="2"><hr></hr></td>
		</tr>
		<tr id='tr-title'>
			<td colspan="2"><h3>C.	FOR OFFICE USE (Admission and Student Affairs Division)</h3></td>
		</tr>
		<tr>
			<td colspan="2">Remarks : <?php echo $appdetail['Remarks']; ?></td>
		</tr>
		<tr>
			<td width="50%">Applied By : <?php echo ($appdetail['loginName']) ? $appdetail['loginName'] : ''?></td>
			<td>Applied Date : <?php echo ($appdetail['ApplicationDate']) ? date('d-m-Y',strtotime($appdetail['ApplicationDate'])) : ''?></td>
		</tr>
		<tr>
			<td>Approved By : <?php echo ($appdetail['ApprovedBy']) ? $appdetail['ApprovedBy'] : ''?></td>
			<td>Approved Date : <?php echo ($appdetail['DateApproved']) ? date('d-m-Y',strtotime($appdetail['DateApproved'])) : ''?></td>
		</tr>

	</table>
<div style="page-break-after: always"></div>