<head>
<style type="text/css">
@page { margin: 80px 50px 80px 50px}
//table {page-break-inside: avoid;}

/*.avoid{
    page-break-inside: avoid;
}*/
table { page-break-inside:auto }
tr { page-break-inside:avoid; page-break-after:auto }

body{
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
padding:0;
margin-top: 0.3em;
margin-left: 0.6em;
}
.table{
width: 100%;  
}

/* Table */
.table2{
font-family: "Arial", Helvetica, sans-serif;	
   width: 100%;
   cellspacing: 0px;
   cellpadding: 5px;
   border:1px solid #000;
}
.table2 th{
background-color: #767676;
color:white;
line-height: 10px;
border:1px solid #000;
}
.table2 tr{
line-height: 5px;
}
.table2 td{
/*border-bottom:1px dotted gray;*/
border:1px solid #000;
line-height: 10px;
}

td.border-top{
border-top: 1px solid #111111;
}
td.border-top-bottom{
border-top: 1px solid #111111;
border-bottom: 1px solid #111111;
}
td.bold-text{
font-weight: bold;
}

.style1 {
font-size: 18px;
font-weight: bold;
}
.style2 {
font-size: 16px;
font-weight: bold;
}
.style3 {
font-size: 14px;
font-weight: bold;
}
.right{
	border-right: none;
}
#footer {
 font-size: 8px;
 position: fixed;
 bottom: 0px;
 left: 0px;
 right: 0px;
 height: 50px;
 text-align: center;
 /* background-color: lightgray;
 border-top: 2px solid gray; */
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px solid;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
}

/* Table */
.gradetbl{
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background-color: #ffffff;
	border-spacing: 0;
    border-collapse: collapse;
	
}
.gradetbl th{
	text-align:center;
	background-color: #767676;
	color:white;
	line-height: 10px;
	border:1px solid #000;
}
.gradetbl td{
	text-align:center;
	padding: 4px;
	border:1px solid #000;
	line-height: 10px;
}

.line {
    text-decoration:underline;
}

</style>
</head>
<body>
	  
<script type="text/php">

if ( isset($pdf) ) {

  $header = $pdf->open_object(); 
  $font = Font_Metrics::get_font("Helvetica, Arial, sans-serif", "bold"); 					  
  $color = array(0,0,0);
  $pdf->page_text(450, 20, "PRIVATE & CONFIDENTIAL", $font, 10, $color); 
  $pdf->close_object(); 
  $pdf->add_object($header, 'odd'); 
}


				if ( isset($pdf) ) {
				
			          $footer = $pdf->open_object();
			
					  $font = Font_Metrics::get_font("Helvetica");
					  $size = 5;
					  $color = array(0,0,0);
					  $text_height = Font_Metrics::get_font_height($font, $size)+2;
					 
					  $w = $pdf->get_width();
					  $h = $pdf->get_height();
					 				
					  // Draw a line along the bottom
					  $y = $h - (2.5 * $text_height)-10;
					  $pdf->line(10, $y, $w - 10, $y, $color, 1);
				
					  //1st row footer
					  $text = "THIS TRANSCRIPT WAS ISSUED BY ADMISSION AND STUDENT AFFAIRS DEPARTMENT (PHONE: 603-76514000)";
			          $width = Font_Metrics::get_text_width($text, $font, $size);	
				      $y = $h - (2 * $text_height)-10;
					  $x = ($w - $width) / 2.0;
					  
					  $pdf->page_text($x, $y, $text, $font, $size, $color);
					 
			          //2nd row footer
					  $text = "THIS IS A COMPUTER GENERATED DOCUMENT. NO SIGNATURE IS REQUIRED";
			          $width = Font_Metrics::get_text_width($text, $font, $size);	
				      $y = $h - (1 * $text_height)-10;
					  $x = ($w - $width) / 2.0;
					  
					  $pdf->page_text($x, $y, $text, $font, $size, $color);
				
					  $pdf->close_object();
			
					  $pdf->add_object($footer, "all");
					 
					}
</script>

<!-- Header -->
<table class="" width="100%">	
	<tr>
		<td width="" align="center">
			<img src="$[LOGO]" width="" />
		</td>		
	</tr>	
</table>

<div align="center">
    <h3 align="center">ACADEMIC PROGRESS</h3>
</div>
<!-- End Header -->
    
    
    <!-- INFO -->
<table id="info" width="100%" class="" cellpadding="1px" cellspacing="1px">	
	<tr valign='top'>
		<td width='25%'>NAME</td>
		<td width='5px'>:</td>
		<td>$[STUDENT_NAME]</td>
	</tr>
	<tr valign='top'>
		<td>ADDRESS</td>
		<td width='5px'>:</td>
		<td>$[ADDRESS]</td>
	</tr>
	<tr valign='top'>
		<td>STUDENT ID</td>
		<td width='5px'>:</td>
		<td>$[STUDENT_ID]</td>
	</tr>
	<tr valign='top'>
		<td>SEMESTER INTAKE</td>
		<td width='5px'>:</td>
		<td>$[INTAKE]</td>
	</tr>
	<tr valign='top'>
		<td>PROGRAMME</td>
		<td width='5px'>:</td>
		<td>$[PROGRAMME]</td>
	</tr>
</table>

<!-- END INFO -->    

<br>

<?php 
//Academic Progress Start Here
$recordDb = new Records_Model_DbTable_Academicprogress();
if ($this->landscape["LandscapeType"]==43 || $this->landscape["LandscapeType"]==42){
?>
<!-- LIST OF PAPER COMPLETED AND REGISTERED-->
<table class="table" width="100%">
    <tr>
        <th colspan="5" align="center"><?php echo $this->translate('LIST OF COURSES REGISTERED AND COMPLETED')?></th>
    </tr>
    <tr>
        <th><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th><?php echo $this->translate('Course Name');?></th>
        <th><?php echo $this->translate('Credit Hours');?></th>
        <th><?php echo $this->translate('Grade');?></th>
        <th><?php echo $this->translate('Remarks');?></th>
    </tr>
    <?php 
    if ($this->landscape["LandscapeType"]==43){
    $z = 0;
    //var_dump($this->compulsory['completed']);
    foreach($this->compulsory['completed'] as $common) { 
        
    ?>
        <tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan;?>">Compulsory</td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }
   
    unset($common);
    if(array_key_exists("registered",$this->compulsory)){
    foreach($this->compulsory['registered'] as $common) { 
        
    ?>
        <tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan;?>">Compulsory</td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php 
    }}
    ?>
    

    
    <?php 
    unset($common);
    $p = 0;
    foreach($this->elective['completed'] as $common) { 
        
    ?>
        <tr>
            <?php if($p == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_elective;?>">Elective</td>
            <?php 
                $p = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }
   
    unset($common);
    if(array_key_exists("registered",$this->elective)){
    foreach($this->elective['registered'] as $common) { 
        
    ?>
        <tr>
            <?php if($p == 0) {?>
            <td class="center" rowspan="<?php echo $this->rowspan_elective;?>">Elective</td>
            <?php 
                $p = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
        
    <?php }} ?>
    <?php
        if ($this->research) { 
    ?>
        <tr>
            <td class="center">Research</td>
            <td><?php echo $this->research["name"]; ?></td>
            <td class="center"><?php echo $this->research["credithours"]; ?></td>
            <td class="center"><?php echo $this->research["grademark"]; ?></td>
            <td>
                <?php 
                echo $this->research["remarks"];
                ?>
            </td>
        </tr>
        
    <?php } ?>
        <?php 
    }else{ //level landscape
        //var_dump($this->compulsory);
    	$z = 0;
        $f=0;
    	 for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
    	 	if(array_key_exists($ls,$this->compulsory) ){
    	 		if(array_key_exists("completed",$this->compulsory[$ls]) ){	
    			foreach($this->compulsory[$ls]["completed"] as $common) {
 	?>
 		<tr>
            <?php if($z == 0) {?>
            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]["completed"])?>">Part <?php echo $ls?></td>
            <?php 
                $z = 1;
            }?>
            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
            <td class="center"><?php echo $common["CreditHours"]?></td>
            <td class="center"><?php echo $common["grademark"]?></td>
            <td>
                <?php 
                echo Records_StudentprofileController::getRemark($common, $this->landscape);
                ?>
            </td>
        </tr>
 	<?php    		
    			}} 
    			if(array_key_exists("registered",$this->compulsory[$ls]) ){	
    			foreach($this->compulsory[$ls]["registered"] as $common) {
    ?>
	 		<tr>
	            <?php 
                    if($f == 0) {
                    ?>
	            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]["registered"])?>">Part <?php echo $ls?></td>
	            <?php 
	                $f = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubName"]?></td>
	            <td class="center"><?php echo $common["CreditHours"]?></td>
	            <td class="center"><?php echo $common["grademark"]?></td>
                    <td>
                        <?php 
                        echo Records_StudentprofileController::getRemark($common, $this->landscape);
                        ?>
                    </td>
	        </tr>    
    <?php 				
    			}}
    			
    	 	}
    		$z = 0;
    	 }
    ?>
    <?php 
    }
    ?>
</table>
    <br />
<br />
<br />

 <!-- LIST OF PAPER REMAINING-->
<table class="table" width="100%">
    <tr>
        <th colspan="3" align="center"><?php echo $this->translate('LIST OF COURSES REMAINING')?></th>
    </tr>
    <tr>
        <th class="w20"><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th align="center"><?php echo $this->translate('Course Name');?></th>
        <th class="w10"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <?php 
    unset($common);
    if ($this->landscape["LandscapeType"]==43){
	    $q = 0;
            $countremcore = 0;
            if ($this->viewRemainingSubjectCore == true){
	    foreach($this->compulsory['open'] as $common) { 
	    $countremcore++;    
	    ?>
	        <tr>
	            <?php if($q == 0) {?>
	            <td class="center" rowspan="<?php echo $this->rowspan_open_compulsary;?>">Compulsory</td>
	            <?php 
	                $q = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
	            <td class="center"><?php echo $common["CreditHour"]?></td>
	        </tr>
	        
            <?php }}
	    $q=0;
	    unset($common);
            $countremelective = 0;
            if ($this->viewRemainingSubjectElective == true){
	    foreach($this->elective['open'] as $common) { 
	    $countremelective++;    
	    ?>
	        <tr>
	            <?php if($q == 0) {?>
	            <td class="center" rowspan="<?php echo $this->rowspan_open_elective;?>">Elective</td>
	            <?php 
	                $q = 1;
	            }?>
	            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
	            <td class="center"><?php echo $common["CreditHour"]?></td>
	        </tr>
	        
            <?php }} ?>
	 <?php 
    }else{//level landscape
	 ?>
		<?php 
		$q=0;
	    unset($common);
            if ($this->viewRemainingSubjectCore == true){
	    for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
	    	if(array_key_exists($ls,$this->compulsory) ){
    	 	if(array_key_exists("open",$this->compulsory[$ls]) ){
			    foreach($this->compulsory[$ls]['open'] as $common) { 
			        
			    ?>
			        <tr>
			            <?php if($q == 0) {?>
			            <td class="center" rowspan="<?php echo count($this->compulsory[$ls]['open'])?>">Part <?php echo $ls?></td>
			            <?php 
			                $q = 1;
			            }?>
			            <td><?php echo $common["SubCode"]?> <?php echo $common["SubjectName"]?></td>
			            <td class="center"><?php echo $common["CreditHour"]?></td>
			        </tr>
			        
			    <?php 
			    } 
    	 	}} 
    	 	$q=0; 
                }} 
		 ?>	 
	 <?php 
    }
	 ?>
</table>
<!-- LIST OF PAPER OFFER CURRENT SEMESTER-->
<br />
<br />
<br />
<table class="table" width="100%">
    <tr>
        <th colspan="3" align="center"><?php echo $this->translate('LIST OF COURSES OFFERED IN ') . $this->currSemester['SemName'];?></th>
    </tr>
    <tr>
        <th class="w20"><?php if($this->landscape["LandscapeType"]==43) echo $this->translate('Course Type'); else echo $this->translate('Part');?></th>
        <th align="center"><?php echo $this->translate('Course Name');?></th>
        <th align="w10"><?php echo $this->translate('Credit Hours');?></th>
    </tr>
    <?php $a = 0;?>
    <?php 
    if($this->landscape["LandscapeType"]==43){
    ?>
    <?php foreach ($this->offered['compulsory'] as $sub => $offer) :?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo $this->offered_compulsory;?>">Compulsory</td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    <?php endforeach;?>
    <?php unset($offer); $a=0;?>
    <?php
    if (isset($this->offered['elective']) && $this->offered['elective']):
    foreach ($this->offered['elective'] as $sub => $offer) :
    ?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo $this->offered_elective;?>">Elective</td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    <?php 
    endforeach;
    endif;
    ?>
    <?php }else{?>
<?php 
			
	    	for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
		    	if(array_key_exists($ls,$this->offered) ){
	    	 	if(array_key_exists("compulsory",$this->offered[$ls]) ){
				foreach ($this->offered[$ls]['compulsory'] as $sub => $offer) :
				?>
    <tr>
            <?php if($a == 0) {?>
            <td class="center" rowspan="<?php echo count($this->offered[$ls]['compulsory'])?>">Part<?php echo $ls?></td>
            <?php 
                $a = 1;
            }?>
            <td><?php echo $offer["SubCode"]?> <?php echo $offer["SubjectName"]?></td>
            <td class="center"><?php echo $offer["CreditHours"]?></td>
    </tr>
    		<?php endforeach;?>
    		<?php }}
    		$a=0;
    		?>
    	<?php }?>
  
    <?php }?>
</table>
<?php 
}else{ //Block
?>
<div style="width:100%;">

<h2><?php echo $this->translate("Landscape Info")?></h2>
	<table class="table" width="70%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<th width="30%"><?php echo $this->translate("Program Name")?></th>
			<td width="5px">:</td>
			<td><?php echo $this->landscape["ArabicName"];?></td>
		</tr>
		<tr>
			<th width="30%"><?php echo $this->translate("Landscape Type")?></th>
			<td width="5px">:</td>
			<td><?php echo $this->landscape["DefinitionDesc"];?></td>
		</tr>
		<tr>
			<th width="30%"><?php echo $this->translate("Intake")?></th>
			<td width="5px">:</td>
			<td><?php echo $this->landscape["IntakeDesc"];?></td>
		</tr>
		<tr>
			<th width="30%"><?php echo $this->translate("Total Semester")?></th>
			<td width="5px">:</td>
			<td><?php echo $this->landscape["SemsterCount"];?></td>
		</tr>
		<tr>
			<th width="30%"><?php echo $this->translate("Total Credit Hours")?></th>
			<td width="5px">:</td>
			<td><?php echo $this->landscape["TotalCreditHours"];?></td>
		</tr>
		<tr>
			<th width="30%"><?php echo $this->translate("Add / Drop")?></th>
			<td width="5px">:</td>
			<td><?php  echo ($this->landscape["AddDrop"] == 1 ? $this->translate("Yes"): $this->translate("No"))?></td>
		</tr>
		
	</table>

<br><br><br>

<fieldset><legend><?php echo $this->translate("Program Requirement List")?></legend>
<table class="table" width="70%" cellpadding="5" cellspacing="0" border="0">
		<tr>
			<th width="200">Course Type</th>
			<th width="100px">Compulsory</th>
			<th width="100px">Minimum Credit Hours</th>
			
		</tr>
		  
		  
		   <?php 
		   if(count($this->programrequirement)>0){
		   	 $total_credit_hours=0;
		  	 foreach($this->programrequirement as $req){
		  	 	
		  	 $total_credit_hours = $total_credit_hours + $req["CreditHours"];
		  	?>
			<tr class='shade'>
				<td><?php echo $req["DefinitionDesc"]?></td>
				<td align="center"><?php echo ($req["Compulsory"]==1) ? $this->translate("Yes"): $this->translate("No")?></td>
				<td align="center"><?php echo $req["CreditHours"]?></td>
			</tr>
			<?php } //end foreach ?>
		   
						
		<tr>
			<td align="right" colspan=2>Total : </td>
			<td align="center"><strong><?php echo $total_credit_hours;?></strong></td>			
		</tr>
		<?php }//end if ?>
	</table>
</fieldset>

<br><br><br><br>

<?php 
for($i=1; $i<=$this->landscape["SemsterCount"]; $i++){

	$blockSemDB = new GeneralSetup_Model_DbTable_LandscapeBlockSemester();
	$blocks = $blockSemDB->getlandscapeblockBySem($this->landscapeId,$i);
?>

 <img src="<?php echo "../images/icon/toggle_collapse_alt.png"?>"> <h4><?php echo $this->translate("Semester").' '.$i; ?></h4><br>

<div id="semesterTabs-<?php echo $i;?>">
	
	<?php 
	if(count($blocks)>0){
		echo '<ul>';
		$b=0; 
		foreach($blocks as $block){?>
	
		<li><a href="#blockTab-<?php echo $b;?>"><?php echo $block["blockname"];?></a></li> 
		 
	<?php $b++; } //end loop block
		echo '</ul>';
	}//end isset block ?>
	
	
	<?php 
	if(count($blocks)>0){
		$b=0; 
		foreach($blocks as $block){
		
			//get course
			$blockCourseDb = new GeneralSetup_Model_DbTable_LandscapeBlockSubject();
		    $compulsory_course = $blockCourseDb->getBlockCourse($this->landscapeId,$block["idblock"],1);
		    $notcompulsory_course = $blockCourseDb->getBlockCourse($this->landscapeId,$block["idblock"],2);
			
	?>
		
		<div id="blockTab-<?php echo $b;?>"> 
		
						
			<h1><?php echo $this->translate("Compulsory Courses")?></h1><br>
  			
  			<br>
   			<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>		
					<th width="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>					
					<th width="50px">Status</th>
					<th width="50px">Credit Hour</th>
					<th width="50px">Grade</th>
				</tr>
				
				<?php 
				if(is_array($compulsory_course)){
					$total_credit_hours=0;
					foreach($compulsory_course as $common) { 			
						$grademark=$recordDb->checkcompleted($this->studentdetails['IdStudentRegistration'],$common["IdSubject"]);
						if($grademark){
							$subjectstatus = "COMPLETED";
						}else{
							$subjectstatus = " ";
						}									
						$total_credit_hours = $total_credit_hours + $common["CreditHours"];
												
				?>
					<tr class='shade'>						
						<td align="left"><?php echo $common["BahasaIndonesia"]?></td>
						<td align="center"><?php echo $common["SubCode"]?></td>
						<td align="center"><?php echo $common["DefinitionDesc"]?></td>	
						<td align="center"><?php echo "$subjectstatus"?></td>						
						<td align="center"><?php echo $common["CreditHours"]?></td>
						<td align="center"><?php echo "$grademark"?></td>
						
					</tr>
					<?php 
						$childs=$blockCourseDb->getBlockCourseChild($common["IdLandscapeblocksubject"],1);
							foreach($childs as $child) {
							$grademark=$recordDb->checkcompleted($this->studentdetails['IdStudentRegistration'],$child["IdSubject"]);
								if($grademark){
									$subjectstatus = "COMPLETED";
								}else{
									$subjectstatus = " ";
								}									
							//$total_credit_hours = $total_credit_hours + $common["CreditHours"];
					?>
					<tr class='shade'>						
						<td align="left">&nbsp;&nbsp;&nbsp;- <?php echo $child["BahasaIndonesia"]?></td>
						<td align="center"><?php echo $child["SubCode"]?></td>
						<td align="center"><?php echo $child["DefinitionDesc"]?></td>
						<td align="center"><?php echo "$subjectstatus"?></td>						
						<td align="center"><?php echo $child["CreditHours"]?></td>
						<td align="center"><?php echo "$grademark"?></td>
					</tr>					
					<?php 
							}
					?>					
				<?php } }?>
				<tr>
						<td align="right" colspan="5" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_credit_hours;?></strong></td>						
				</tr>
		  	 </table>
		  	 
		  	 
		  	 <br><br>
			
			<h1><?php echo $this->translate("Not Compulsory Courses")?></h1><br>
  			
  			<br>
   			<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
				<tr>		
					<th class="200">Course Name</th>
					<th width="50px">Course Code</th>
					<th width="100px">Course Type</th>
					<th width="50px">Status</th>					
					<th width="50px">Credit Hour</th>
					<th width="50px">Grade</th>
					
				</tr>
				
				<?php 
				if(is_array($notcompulsory_course)){
					$total_credit_hours=0;
					foreach($notcompulsory_course as $common) { 			
						$grademark=$recordDb->checkcompleted($this->studentdetails['IdStudentRegistration'],$common["IdSubject"]);
						if($grademark){
							$subjectstatus = "COMPLETED";
						}else{
							$subjectstatus = " ";
						}								
						$total_credit_hours = $total_credit_hours + $common["CreditHours"];
												
				?>
					<tr class='shade'>						
						<td align="left"><?php echo $common["BahasaIndonesia"]?></td>
						<td align="center"><?php echo $common["SubCode"]?></td>
						<td align="center"><?php echo $common["DefinitionDesc"]?></td>	
						<td align="center"><?php echo "$subjectstatus"?></td>					
						<td align="center"><?php echo $common["CreditHours"]?></td>
						<td align="center"><?php echo "$grademark"?></td>	
						
					</tr>
				<?php } }?>
				<tr>
						<td align="right" colspan="5" bgcolor="#F5F6CE"><strong><?php echo $this->translate("Total")?></strong></td>
						<td align="center" bgcolor="#F5F6CE"><strong><?php echo $total_credit_hours;?></strong></td>						
				</tr>
		  	 </table>

		 </div>
	
	
	<?php $b++; }//end loop block
	}else{ echo 'There is no Block added. '; } //end isset block ?>
	
</div>
</div>
<br><br>
<?php } ?>
<?php 
}
?> 
<br/>
<?php
//$izham = false;
//if($izham != false){
if ($this->landscape["LandscapeType"]==43){
    //echo 'semester';
    
    if ($this->landscape["AssessmentMethod"]=='point'){
    ?>
    <table width="100%">
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td style="text-align: left;" width="19%"><?php echo $this->countCreditHoursCore; ?></td>
            <td width="30%">
                <?php echo $this->translate('TOTAL CREDIT EARNED'); ?>
            </td>
            <td width="5%">:</td>
            <td width="15%"><?php echo $this->total['credit_earn']; ?></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING CREDIT TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td>:</td>
            <td><?php echo $this->chr; ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT CGPA'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td><?php echo number_format($this->total['cgpa'], 2, '.', ''); ?></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('PROBATION'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }else{
    ?>
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td style="width: 5% !important;">:</td>
            <td width="13%"><?php echo count($this->compulsory['completed'])+count($this->compulsory['registered'])+count($this->elective['completed'])+count($this->elective['registered']); ?></td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php echo 'Compulsary Paper - '.count($this->compulsory['completed']); ?><br/>
                <?php echo 'Elective Paper - '.count($this->elective['completed']); ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php echo 'Compulsory Paper - '.$countremcore; ?><br/>
                <?php echo 'Elective Paper - '.$countremelective; ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
    }
}else{
    ?>
    <table>
        <tr>
            <td width="30%">
                <?php echo $this->translate('TOTAL PAPERS TAKEN'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td width="22%">
                <?php
                $countpt = 0;
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpt = count($this->compulsory[$ls]["completed"])+$countpt;
                    }
                }
                echo $countpt;
                ?>
            </td>
            <td width="30%"><?php echo $this->translate('TOTAL PAPERS COMPLETED'); ?></td>
            <td width="5%">:</td>
            <td width="15%">
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["completed"])){
                        $countpc = count($this->compulsory[$ls]["completed"]);
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td> 
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('REMAINING PAPERS TO BE COMPLETED'); ?><br/>
                <span style="font-size:10px;"><?php echo $this->translate('(including current semester registration)'); ?></span>
            </td>
            <td width="5%">:</td>
            <td>
                <?php
                for($ls=1;$ls<=$this->landscape["Levelcount"];$ls++){
                    if (isset($this->compulsory[$ls]["open"])){
                        if ($ls != 3){
                            $countpc = count($this->compulsory[$ls]["open"]);
                        }else{
                            $i = 0;
                            $countpc = '';
                            foreach($this->compulsory[$ls]["open"] as $remcourse){
                                $countpc .= $remcourse['SubCode'];
                                //var_dump($remcourse);
                                $i++;
                                
                                if ($i < count($this->compulsory[$ls]["open"])){
                                    $countpc .= '/';
                                }
                            }
                        }
                    }else{
                        $countpc = 0;
                    }
                    
                    echo 'Part '.$ls.' - '.$countpc.'<br/>';
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <?php echo $this->translate('CURRENT ACADEMIC PERFORMANCE'); ?><br/>
            </td>
            <td width="5%">:</td>
            <td>
                <?php  
                if ($this->CAP){
                    foreach ($this->CAP as $key => $value){
                        if ($value > 0){
                            echo $key.' : '.$value.'<br/>';
                        }
                    }
                }
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <?php
}
//}
?>