<script type="text/javascript">
    $(function(){
        $("#uti_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });

        $(".utidate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form id="search_form" name="search_form" method="post">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Name'); ?></td>
                <td><input class="input-txt" id="name" name="name" value="<?php echo isset($this->formData['name']) ? $this->formData['name']:''; ?>"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><input class="input-txt" id="id" name="id" value="<?php echo isset($this->formData['id']) ? $this->formData['id']:''; ?>"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Credit Note No'); ?></td>
                <td><input class="input-txt" id="cn_no" name="cn_no" value="<?php echo isset($this->formData['cn_no']) ? $this->formData['cn_no']:''; ?>"></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Utilization Date'); ?></td>
                <td><input class="input-txt" id="uti_date" name="uti_date" value="<?php echo isset($this->formData['uti_date']) ? $this->formData['uti_date']:''; ?>"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search"><?php echo $this->translate('Search') ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<form method="post" id="seve_form" name="save_form" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'credit-note-update', 'action'=>'update-date'),'default',true);?>">
    <table width="100%" class="table">
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Student Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('CN No'); ?></th>
            <th><?php echo $this->translate('CN Description'); ?></th>
            <th><?php echo $this->translate('CN Amount'); ?></th>
            <th><?php echo $this->translate('Utilization Date'); ?></th>
        </tr>
        <?php
        if ($this->list) {
            $no = 0;
            foreach ($this->list as $list) {
            $no++;
                ?>
                <tr>
                    <td align="center" width="2%"><?php echo $no; ?></td>
                    <td><?php echo $list['appl_fname'].' '.$list['appl_lname']; ?></td>
                    <td align="center"><?php echo $list['registrationId'] ?></td>
                    <td align="center"><?php echo $list['ProgramName'] ?></td>
                    <td align="center"><?php echo $list['cn_billing_no'] ?></td>
                    <td><?php echo $list['cn_description'] ?></td>
                    <td align="right"><?php echo $list['cn_amount'] ?></td>
                    <td align="center">
                        <input type="text" class="input-txt utidate" id="utidate<?php echo $list['cn_id']; ?>" name="utidate[<?php echo $list['cn_id'] ?>]" value="<?php echo date('d-m-Y', strtotime($list['cn_create_date'])); ?>">
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
    <div class="form-opt">
        <input type="submit" id="save" name="save" value="<?php echo $this->translate('Save')?>" class="btn-submit"/>
    </div>
</form>
