<script type="text/javascript">
    <?php
    if ($this->formData){
    ?>
    $(function (){

        var semester_id = $('#IdSemester').val();
        var program_id = $('#IdProgram').val();

        if(semester_id!=='' && program_id!=''){
            $.ajax({
                url: "/default/ajax-utility/search-program-course",
                type: "post",
                async : false,
                data: {'semester_id':semester_id,'program_id':program_id},
                dataType: 'json',
                success: function(data){

                    $('#IdSubject').empty();
                    $('#IdSubject').append('<option value="">-- Select --</option>');

                    $.each(data, function(index) {
                        var select = '';
                        if (data[index].IdSubject == <?php echo $this->formData['IdSubject']; ?>){
                            select = 'selected=""';
                        }

                        $('#IdSubject').append('<option value="'+data[index].IdSubject+'" '+select+'>'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('IdSubject');

                },
                complete: function() {
                    hideLoading('IdSubject');
                }
            });
        }

        var semester_id = $('#IdSemester').val();
        var program_id = $('#IdProgram').val();
        var subject_id = $('#IdSubject').val();

        if(semester_id!='' && program_id!='' && subject_id!=''){
            $.ajax({
                url: "/default/ajax-utility/search-course-group",
                type: "post",
                async : false,
                data: {'subject_id':subject_id,'semester_id':semester_id},
                dataType: 'json',
                success: function(data){

                    $('#IdGroup').empty();
                    $('#IdGroup').append('<option value="">-- Select --</option>');

                    $.each(data, function(index) {
                        var select = '';
                        if (data[index].IdCourseTaggingGroup == <?php echo $this->formData['IdGroup']=='' ? 0:$this->formData['IdGroup']; ?>){
                            select = 'selected=""';
                        }

                        $('#IdGroup').append('<option value="'+data[index].IdCourseTaggingGroup+'" '+select+'>'+data[index].GroupName+'</option>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('IdGroup');

                },
                complete: function() {
                    hideLoading('IdGroup');
                }
            });
        }
    });
    <?php
    }
    ?>
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <div id="search_form">
        <?php echo $this->form; ?>
    </div>
</fieldset>
<br />
<?php
if ($this->list) {
    $no = 0;
    ?>
    <table class="table" width="100%">
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Course'); ?></th>
            <th><?php echo $this->translate('Course Group'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th></th>
        </tr>
        <?php
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td align="center"><?php echo $loop['ProgramCode']; ?></td>
                <td align="center"><?php echo $loop['SubCode'].' '.$loop['SubjectName']; ?></td>
                <td align="center"><?php echo $loop['GroupName']; ?></td>
                <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                <td align="center">
                    <a href="<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'unbar', 'id'=>$loop['IdStudentRegSubjects']),'default',true);?>"><?php echo $this->translate('Unbar'); ?></a>
                </td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>