<script type="text/javascript">
    $(function(){
        $('.check-all').on('click', function(){
            $('.check').prop('checked', this.checked);
            if ( this.checked == true ){
                $('.check').parent().parent().addClass('hlchk');
            }else{
                $('.check').parent().parent().removeClass('hlchk');
            }
        });

        $('.check').on('change', function(){
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if ( this.checked == true ){
                if ($('.check').not(':checked').length == 0){
                    $('.check-all').prop('checked', true);
                }else{
                    $('.check-all').prop('checked', false);
                }
            }
            else{
                $('.check-all').prop('checked', false);
            }
        });

        $('#save').on('click', function (){
            if ($('.check').is(':checked') == false){
                alert('Please select at least one student');
                return false;
            }else{
                var ask = confirm('Are you sure?');

                if (ask == true){
                    return true;
                }else{
                    return false;
                }
            }
        });

        <?php
        if ($this->formData){
        ?>
            var semester_id = $('#IdSemester').val();
            var program_id = $('#IdProgram').val();

            if(semester_id!='' && program_id!=''){
                $.ajax({
                    url: "/default/ajax-utility/search-program-course",
                    type: "post",
                    async : false,
                    data: {'semester_id':semester_id,'program_id':program_id},
                    dataType: 'json',
                    success: function(data){

                        $('#IdSubject').empty();
                        $('#IdSubject').append('<option value="">-- Select --</option>');

                        $.each(data, function(index) {
                            var select = '';
                            if (data[index].IdSubject == <?php echo $this->formData['IdSubject']; ?>){
                                select = 'selected=""';
                            }

                            $('#IdSubject').append('<option value="'+data[index].IdSubject+'" '+select+'>'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');
                        });

                    },
                    error:function(){
                        alert("failure");
                    },
                    beforeSend: function() {
                        showLoading('IdSubject');

                    },
                    complete: function() {
                        hideLoading('IdSubject');
                    }
                });
            }


            var semester_id = $('#IdSemester').val();
            var program_id = $('#IdProgram').val();
            var subject_id = $('#IdSubject').val();

            if(semester_id!='' && program_id!='' && subject_id!=''){
                $.ajax({
                    url: "/default/ajax-utility/search-course-group",
                    type: "post",
                    async : false,
                    data: {'subject_id':subject_id,'semester_id':semester_id},
                    dataType: 'json',
                    success: function(data){

                        $('#IdGroup').empty();
                        $('#IdGroup').append('<option value="">-- Select --</option>');

                        $.each(data, function(index) {
                            var select = '';
                            if (data[index].IdCourseTaggingGroup == <?php echo $this->formData['IdGroup']=='' ? 0:$this->formData['IdGroup']; ?>){
                                select = 'selected=""';
                            }

                            $('#IdGroup').append('<option value="'+data[index].IdCourseTaggingGroup+'" '+select+'>'+data[index].GroupName+'</option>');
                        });

                    },
                    error:function(){
                        alert("failure");
                    },
                    beforeSend: function() {
                        showLoading('IdGroup');

                    },
                    complete: function() {
                        hideLoading('IdGroup');
                    }
                });
            }

            if (semester_id!='') {
                var marray = [];
                <?php
                if (isset($this->formData['month']) && count($this->formData['month']) > 0){
                    foreach ($this->formData['month'] as $m){
                        ?>
                        marray.push("<?php echo $m ?>");
                        <?php
                    }
                }
                ?>

                $.ajax({
                    url: "/communication/attendance-reminder/get-month",
                    type: "post",
                    async: false,
                    data: {'id': semester_id},
                    dataType: 'json',
                    success: function (data) {

                        $('#month').empty();
                        $.each(data, function (index) {

                            var select = '';
                            //alert($.inArray(data[index].id, marray));
                            if ($.inArray(data[index].id, marray) >= 0){
                                select = 'selected=""';
                            }

                            $('#month').append('<option value="' + data[index].id + '" '+select+'>' + data[index].value + '</option>');
                        });

                    },
                    error: function () {
                        alert("failure");
                    },
                    beforeSend: function () {
                        showLoading('month');

                    },
                    complete: function () {
                        hideLoading('month');
                    }
                });
            }

            var att_type = $('#att_type').val();

            if (att_type == 1){
                $('#month').attr('required', '');
                $('#month').removeAttr('disabled');
                $('#month-label').show();
                $('#month-element').show();
                $('#save').val('Send Attendance Reminder');
            }else{
                $('#month').removeAttr('required');
                $('#month').attr('disabled', '');
                $('#month-label').hide();
                $('#month-element').hide();
                $('#save').val('Send Exam Bar');
            }
        <?php
        }else{
        ?>
            $('#month').removeAttr('required');
            $('#month-label').hide();
            $('#month-element').hide();
        <?php
        }
        ?>
    });

    function viewMonth(id){
        if (id == 1){
            $('#month').attr('required', '');
            $('#month').removeAttr('disabled');
            $('#month-label').show();
            $('#month-element').show();
        }else{
            $('#month').removeAttr('required');
            $('#month').attr('disabled', '');
            $('#month-label').hide();
            $('#month-element').hide();
        }
    }

    function getMonth(id){
        $.ajax({
            url: "/communication/attendance-reminder/get-month",
            type: "post",
            async : false,
            data: {'id':id},
            dataType: 'json',
            success: function(data){

                $('#month').empty();
                $.each(data, function(index) {
                    $('#month').append('<option value="'+data[index].id+'">'+data[index].value+'</option>');
                });

            },
            error:function(){
                alert("failure");
            },
            beforeSend: function() {
                showLoading('month');

            },
            complete: function() {
                hideLoading('month');
            }
        });
    }

    function print(){
        var url = "<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'print'),'default',true);?>";
        $('#printform').attr('action',url);
        $('#printform').submit();
    }
</script>
<?php
if ($this->formData) {
    ?>
    <form method="post" id="printform" name="printform">
        <input type="hidden" id="IdSemester" name="IdSemester" value="<?php echo $this->formData['IdSemester']; ?>">
        <input type="hidden" id="IdProgram" name="IdProgram" value="<?php echo $this->formData['IdProgram']; ?>">
        <input type="hidden" id="IdSubject" name="IdSubject" value="<?php echo $this->formData['IdSubject']; ?>">
        <input type="hidden" id="att_type" name="att_type" value="<?php echo $this->formData['att_type']; ?>">
        <input type="hidden" id="IdItem" name="IdItem" value="<?php echo $this->formData['IdItem']; ?>">
        <?php
        if (isset($this->formData['month']) && count($this->formData['month'])) {
            foreach ($this->formData['month'] as $month) {
                ?>
                <input type="hidden" id="month" name="month[]" value="<?php echo $month; ?>">
                <?php
            }
        }
        ?>
        <input type="hidden" id="IdGroup" name="IdGroup" value="<?php echo $this->formData['IdGroup']; ?>">
    </form>
    <?php
}
?>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if ($this->student_list) {
                ?>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="print();">
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
                <?php
            }
            ?>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'exam-bar'),'default',true);?>" >
                    <span class='preview'></span>
                    <?php echo $this->translate("Exam Bar List");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'history'),'default',true);?>" >
                    <span class='preview'></span>
                    <?php echo $this->translate("History");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <div id="search_form">
        <?php echo $this->form; ?>
    </div>
</fieldset>
<br />
<?php
if ($this->student_list) {
    ?>
    <form method="post" id="send_form" name="send_form" action="<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'send-reminder'),'default',true);?>">
        <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
                <th width="1%"><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
                <th width="25%"><?php echo $this->translate("Student Name"); ?></th>
                <th><?php echo $this->translate("Student ID"); ?></th>
                <th><?php echo $this->translate("Section Name"); ?></th>
                <th><?php echo $this->translate("Item"); ?></th>
                <th><?php echo $this->translate("Attendance"); ?></th>
                <th><?php echo $this->translate("Attendance Percentage"); ?></th>
                <th><?php echo $this->translate("Required Attendance"); ?></th>
            </tr>

            <?php
            $i = 0;
            foreach ($this->student_list as $student) {
                ?>
                <tr>
                    <td>
                        <input type="checkbox" name="check[<?php echo $student['IdStudentRegistration']; ?>]" id="check_<?php echo $student['IdStudentRegistration']; ?>" class="check">
                    </td>
                    <td><?php echo $student['student_name']; ?></td>
                    <td align='center'><?php echo $student['registrationId']; ?></td>
                    <td><?php echo $student['section_name']; ?></td>
                    <td><?php echo $student['item_name']; ?></td>
                    <td align='center'><?php echo $student['attendance']; ?></td>
                    <td align='center'><?php echo $student['percentage']; ?>%</td>
                    <td align='center'><?php echo ($student['attendance_setup'] == 1) ? $student['required_percentage'] . '%' : '<span class="redText">No Attendance Setup</span>'; ?></td>
                </tr>
                <?php
                $i++;
            }
            ?>
        </table>
        <div class="form-opt">
            <input type="submit" id="save" name="attendance_reminder" value="<?php echo $this->translate('Send Attendance Reminder')?>" class="btn-submit"/>
        </div>
        <input type="hidden" id="semester" name="semester" value="<?php echo $this->formData['IdSemester']; ?>">
        <input type="hidden" id="program" name="program" value="<?php echo $this->formData['IdProgram']; ?>">
        <input type="hidden" id="subject" name="subject" value="<?php echo $this->formData['IdSubject']; ?>">
        <input type="hidden" id="type" name="type" value="<?php echo $this->formData['att_type']; ?>">
        <input type="hidden" id="item" name="item" value="<?php echo $this->formData['IdItem']; ?>">
        <?php
        if (isset($this->formData['month']) && count($this->formData['month'])) {
            foreach ($this->formData['month'] as $month) {
                ?>
                <input type="hidden" id="month" name="month[]" value="<?php echo $month; ?>">
                <?php
            }
        }
        ?>
    </form>
    <?php
}
?>