<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->list) {
    $no = 0;
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Student ID'); ?></th>
            <th><?php echo $this->translate('Programme'); ?></th>
            <th><?php echo $this->translate('Course'); ?></th>
            <th><?php echo $this->translate('Semester'); ?></th>
            <th><?php echo $this->translate('Type'); ?></th>
            <th><?php echo $this->translate('Send By'); ?></th>
            <th><?php echo $this->translate('Send Date'); ?></th>
        </tr>
        <?php
        foreach ($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td align="center"><?php echo $loop['ProgramCode']; ?></td>
                <td align="center"><?php echo $loop['SubCode'].' '.$loop['SubjectName']; ?></td>
                <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                <td align="center"><?php echo $loop['atr_type']==1 ? 'Attendance Warning':'Exam Bar'; ?></td>
                <td align="center"><?php echo $loop['loginName']; ?></td>
                <td align="center"><?php echo date('d-m-Y h:i a', strtotime($loop['atr_send_date'])); ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>