<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->student_list) {
    ?>
        <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
            <tr>
                <th width="1%">No</th>
                <th width="25%"><?php echo $this->translate("Student Name"); ?></th>
                <th><?php echo $this->translate("Student ID"); ?></th>
                <th><?php echo $this->translate("Section Name"); ?></th>
                <th><?php echo $this->translate("Item"); ?></th>
                <th><?php echo $this->translate("Attendance"); ?></th>
                <th><?php echo $this->translate("Attendance Percentage"); ?></th>
                <th><?php echo $this->translate("Required Attendance"); ?></th>
            </tr>

            <?php
            $i = 0;
            foreach ($this->student_list as $student) {
                $i++;
                ?>
                <tr>
                    <td>
                        <?php echo $i; ?>
                    </td>
                    <td><?php echo $student['student_name']; ?></td>
                    <td align='center'><?php echo $student['registrationId']; ?></td>
                    <td><?php echo $student['section_name']; ?></td>
                    <td><?php echo $student['item_name']; ?></td>
                    <td align='center'><?php echo $student['attendance']; ?></td>
                    <td align='center'><?php echo $student['percentage']; ?>%</td>
                    <td align='center'><?php echo ($student['attendance_setup'] == 1) ? $student['required_percentage'] . '%' : '<span class="redText">No Attendance Setup</span>'; ?></td>
                </tr>
                <?php
            }
            ?>
        </table>
    <?php
}
?>