<style type="text/css">
    .attachments ul { list-style:none; margin-top:15px; }
    .attachments ul li a { font-size:11px !important; }
    .attachments ul li .size { color:#ccc }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'communication','controller'=>'attendance-reminder', 'action'=>'history'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Email'); ?></legend>
    <?php
    echo $this->history['atr_email_content'];
    ?>
</fieldset>
<br />
<fieldset>
    <legend><?php echo $this->translate('Attachment'); ?></legend>
    <?php
    if ($this->attachment) {
        ?>
        <div class="attachments">
        <ul>
        <?php
        foreach ($this->attachment as $attLoop) {
            ?>
            <li><span class="icon icon-attach"></span> <a href="<?php echo DOCUMENT_URL.$attLoop['ara_path']?>" class="fancy" target="_blank"><?php echo $attLoop['ara_filename']?></a></li>
            <?php
        }
        ?>
        </ul>
        </div>
        <?php
    }
    ?>
</fieldset>