<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'event', 'action' => 'event-setup'), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<br/>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
    <h3 class="info"><?php echo $this->translate('Student Details') ?></h3>
    <table width="100%" class="table">
        <tr>
            <td width="20%"><?php echo $this->translate('Student') ?> <span class="reqMark">*</span></td>
            <td colspan="3">
                <input type="text" class="input-txt" name="student-search" id="student-search" value=""/>

                <span class="wrap-type">
				<label><input type="radio" name="search-type" value="id" checked="checked"
                              onclick="searchStudent()"/> <?php echo $this->translate('Student ID') ?></label>
				<label><input type="radio" name="search-type" value="name"
                              onclick="searchStudent()"/> <?php echo $this->translate('Name') ?></label>
			</span>

                <?php echo $this->form->student_id ?>
                <?php echo $this->form->research_id ?>
            </td>
        </tr>

        <tr class="inforow" style="display:none">
            <td width="20%"><?php echo $this->translate("Student Name") ?></td>
            <td width="30%" id="studname"></td>
        </tr>
        <tr class="inforow" style="display:none">
            <td><?php echo $this->translate("Student ID") ?></td>
            <td id="studid"></td>
        </tr>

        <tr>
            <td><?php echo $this->translate('Start Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->starttime; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('End Time'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->endtime; ?></td>
        </tr>


    </table>

    <br/>

    <div class="form-opt">
        <input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit') ?>" class="btn-submit"/>
        <input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel') ?>"
               class="btn-cancel"
               onclick="window.location ='<?php echo $this->url(array('module' => 'thesis', 'controller' => 'event', 'action' => 'event-setup'), 'default', true); ?>'"/>
    </div>

</form>

<table class="table" width="100%" id="hor" cellpadding="4" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Student Id");?></th>
        <th><?php echo $this->translate("Name");?></th>
        <th><?php echo $this->translate("Start Time");?></th>
        <th><?php echo $this->translate("End Time");?></th>
        <th></th>
    </tr>

    <?php if(isset($this->tagged) && count($this->tagged) != 0){?>
        <?php foreach($this->tagged as $result) { ?>
            <tr>
                <td><?php echo $result["registrationId"];?></td>
                <td><?php echo $result["student_name"]?></td>
                <td><?php echo $result["start_time"] ?></td>
                <td><?php echo $result["end_time"] ?></td>
            <td align="center">
                <a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'event', 'action'=>'student-delete', 'id'=>$result['event_student_id'], 'event_id'=>$result['event_id']),'default',true);?>">
                    <?php echo 'Delete'; ?>
                </a>
            </td>
        <?php }?>
    <?php } else
    { ?>
    <tr>
        <th colspan="4"><?php echo $this->translate("No Tagged Student");?></th>
            </tr>
    <?php
    }
        ?>

</table>

<script type="text/javascript">
    var supervisor_array = [];
    var examiner_array = [];

    $(function () {
        searchStudent();

        $(".datepicker").datepicker({dateFormat: "yy-mm-dd"});

        $("#dialog-supervisor").dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function () {

                    if ($("#supervisor_userid").val() == '' || $("#supervisor_role").val() == '') {
                        alert('<?php echo $this->translate('Please complete all required fields') ?>');
                        return false;
                    }

                    if ($.inArray($("#supervisor_userid").val(), supervisor_array) !== -1) {
                        alert('<?php echo $this->translate('This staff is already a supervisor') ?>');
                        return false;
                    }

                    //successful
                    addNewSupervisor();

                    $(this).dialog("close");
                },
                "Cancel": function () {
                    if (sure('<?php echo $this->translate('Are you sure?')?>') === true) {
                        $(this).dialog("close");
                    }
                }
            }
        });

        $("#dialog-examiner").dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function () {

                    if ($("#examienr_userid").val() == '') {
                        alert('<?php echo $this->translate('Please complete all required fields') ?>');
                        return false;
                    }

                    if ($.inArray($("#examiner_userid").val(), examiner_array) !== -1) {
                        alert('<?php echo $this->translate('Cannot add the same examiner more than once') ?>');
                        return false;
                    }

                    //successful
                    addNewExaminer();

                    $(this).dialog("close");
                },
                "Cancel": function () {
                    if (sure('<?php echo $this->translate('Are you sure?')?>') === true) {
                        $(this).dialog("close");
                    }
                }
            }
        });


        $("#starttime, #endtime").timePicker({
            startTime: "07:00", // Using string. Can take string or Date object.
            endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
            show24Hours: true,
            separator: ':',
            step: 30
        });

//        var oldTime = $.timePicker("#starttime").getTime();

//        // Keep the duration between the two inputs.
//        $("#starttime").change(function(){
//            if ($("#endtime").val()){ // Only update when second input has a value.
//                // Calculate duration.
//                var duration = ($.timePicker("#endtime").getTime() - oldTime);
//                var time = $.timePicker("#starttime").getTime();
//                // Calculate and update the time in the second input.
//                $.timePicker("#endtime").setTime(new Date(new Date(time.getTime() + duration)));
//                oldTime = time;
//            }
//        });
//        // Validate.
//        $("#endtime").change(function() {
//            if($.timePicker("#starttime").getTime() > $.timePicker(this).getTime()) {
//                $(this).addClass("error");
//            }
//            else {
//                $(this).removeClass("error");
//            }
//        });

//        $('#starttime').attr('disabled', '');
//        $('#endtime').attr('disabled', '');

    });

    function searchStudent() {
        var type = $("input[name=search-type]:checked").val();
        var activity = "<?php echo $this->activity['event_type']; ?>";

        $("#student-search").val('');

        $("#student-search").autocomplete({
            source: "<?php echo $this->baseUrl()?>/thesis/event/student/type/" + type + "/activity/" + activity,
            data: { q: $("#student-search").val() },
            select: function (event, ui) {
                $("#student-search").val('');

                $("#student_id").val(ui.item.value);
                $("#research_id").val(ui.item.research_id);
                $("#p_id").val(ui.item.research_id);

                getStudInfo();
                return false;
            },
            minLength: 2
        });
    }

    function addNewSupervisor() {
        var supervisor_name = $("#supervisor_userid option:selected").text();
        var supervisor_id = $("#supervisor_userid").val();

        var supervisor_rolename = $("#supervisor_role option:selected").text();
        var supervisor_role = $("#supervisor_role").val();

        var supervisor_active = $("#supervisor_active:checked").val() == 1 ? 1 : 0;
        var supervisor_active_name = $("#supervisor_active:checked").val() == 1 ? '<?php echo $this->translate('Yes')?>' : '<?php echo $this->translate('No')?>';

        var supervisor_type_name = $("#supervisor_type").val() == 1 ? 'External' : 'Internal';
        var supervisor_type = $("#supervisor_type:checked").val();

        var html = "<tr>"
            + "<td>" + supervisor_name + "<input type='hidden' name='supervisor_userid[]' value='" + supervisor_id + "' /></td>"
            + "<td>" + supervisor_rolename + "<input type='hidden' name='supervisor_role[]' value='" + supervisor_role + "' /></td>"
            + "<td align='center'>" + supervisor_active_name + "<input type='hidden' name='supervisor_active[]' value='" + supervisor_active + "' /></td>"
            + "<td align='center'>" + supervisor_type_name + "<input type='hidden' name='supervisor_type[]' value='" + supervisor_type + "' /></td>"
            + "<td align='center'>" + "<a href='#' onclick='deleteSupervisorRow(" + supervisor_id + ", this); return false;'><?php echo $this->translate('Delete')?></a>" + "</td>"
            + "</tr>";

        $("tr.emptyrow").remove();
        $("#supervisor_table").append(html);

        supervisor_array.push(supervisor_id);
    }

    function addSupervisor() {
        $("#dialog-supervisor").dialog('open');
    }

    function deleteSupervisorRow(supervisor_id, what) {
        var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');

        if (ask === false) {
            return false;
        }

        //remove from array
        var i = supervisor_array.indexOf(supervisor_id.toString());
        if (i != -1) {
            supervisor_array.splice(i, 1);
        }

        //remove row
        $(what).parent().parent().remove();
    }

    function addNewExaminer() {
        var examiner_name = $("#examiner_userid option:selected").text();
        var examiner_id = $("#examiner_userid").val();

        var examiner_rolename = $("#examiner_role option:selected").text();
        var examiner_role = $("#examiner_role").val();

        var examiner_active = $("#examiner_active:checked").val() == 1 ? 1 : 0;
        var examiner_active_name = $("#examiner_active:checked").val() == 1 ? '<?php echo $this->translate('Yes')?>' : '<?php echo $this->translate('No')?>';

        var html = "<tr>"
            + "<td>" + examiner_name + "<input type='hidden' name='examiner_userid[]' value='" + examiner_id + "' /></td>"
            + "<td>" + examiner_rolename + "<input type='hidden' name='examiner_role[]' value='" + examiner_role + "' /></td>"
            + "<td align='center'>" + examiner_active_name + "<input type='hidden' name='examiner_active[]' value='" + examiner_active + "' /></td>"
            + "<td align='center'>" + "<a href='#' onclick='deleteExaminerRow(" + examiner_id + ", this); return false;'><?php echo $this->translate('Delete')?></a>" + "</td>"
            + "</tr>";

        $("tr.exemptyrow").remove();
        $("#examiner_table").append(html);

        examiner_array.push(examiner_id);
    }

    function addExaminer() {
        $("#dialog-examiner").dialog('open');
    }

    function deleteExaminerRow(examiner_id, what) {
        var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');

        if (ask == false) {
            return false;
        }

        //remove from array
        var i = examiner_array.indexOf(examiner_id.toString());
        if (i != -1) {
            examiner_array.splice(i, 1);
        }

        //remove row
        $(what).parent().parent().remove();
    }

    function getStudInfo() {
        var id = $("#student_id").val();

        $.getJSON("<?php echo $this->baseUrl()?>/ajax-utility/get-student/id/" + id, function (data) {
            $(".inforow").show();
            $("#programme").html(data.ProgramName);
            $("#studid").html(data.registrationId);
            $("#studname").html(data.appl_fname);


            // info-branch, info-idno, info-intake, info-email, info-address, info-homeno, info-mobileno
            $("#info-branch").html(data.BranchName == null ? '-' : data.BranchName);
            $("#info-idno").html(data.appl_idnumber);
            $("#info-intake").html(data.IntakeDesc);
            $("#info-email").html(data.appl_email);
            $("#info-address").html(data.address);
            $("#info-homeno").html(data.appl_phone_home);
            $("#info-mobileno").html(data.appl_phone_mobile);
        });
    }

    function checkForm() {
        var error = 0;

        $("#form_topic .reqfield").each(function () {
            if ($(this).attr("type") != 'radio') {
                var field = $(this).parent().prev().html();

                var p = $(this).val();

                if (p == '') {
                    //alert(field+" cannot be empty");
                    $(this).parent().prev().addClass("req");
                    $(this).focus();

                    error = 1;
                    //return false;
                }
                else {
                    $(this).parent().prev().removeClass("req");
                }
            }
        });

        if (error == 1) {
            alert('Please fill in all the required fields');
            return false;
        }

        /*if (supervisor_array.length == 0) {
         alert('Please assign atleast one supervisor');
         return false;
         }*/

        $(window).unbind('beforeunload');

        return true;
    }
</script>

<style type="text/css">
    div.opt.nomargin {
        margin: -5px 0 0 0
    }

    div.opt.nomargin button {
        margin: 0;
    }

    .wrap-type {
        margin-top: 5px;
        vertical-align: top
    }
</style>