
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'event','action'=>'event-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="20%"><?php echo $this->translate("Event Name");?></th>
		<th width="10%"><?php echo $this->translate("Type")?></th>
		<th width="10%"><?php echo $this->translate('Date')?></th>
		<th width="20%"><?php echo $this->translate('Venue')?></th>
		<th width="10%"><?php echo $this->translate("Remark")?></th>
		<th width="5%"><?php echo $this->translate("No. Student")?></th>
		<th width="10%" colspan="2"><?php echo $this->translate("Tag")?></th>
		<th width="10%" colspan="2"><?php echo $this->translate("Notification")?></th>
	</tr>

	<?php
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data):

		$db = new Thesis_Model_DbTable_Event();
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'event', 'action'=>'event-edit', 'id'=>$data['event_id']),'default',true);?>">
				<?php echo $data['event_name']; ?>
			</a>
		</td>
		<td><?php
			$type = $db->getType($data['event_type']);

			echo $type['DefinitionDesc']; ?>
		</td>
        <td align="center"><?php echo $data['event_date']?></td>
        <td><?php echo $data['event_venue']?></td>
        <td><?php echo $data['event_remark']?></td>
		<td align="center"><?php



            $questnosms = $db->getCount($data['event_id']);
            $totalsms = count($questnosms);

			echo $totalsms; ?></td>

        <?php
		$url1 = $this->url(array('module' => 'thesis', 'controller' => 'event', 'action' => 'event-tag-student','event_id' => $data['event_id']), 'default', true);
		$url2 = $this->url(array('module' => 'thesis', 'controller' => 'event', 'action' => 'event-tag-assessor','event_id' => $data['event_id']), 'default', true);
		$url3 = $this->url(array('module' => 'thesis', 'controller' => 'event', 'action' => 'notify','event_id' => $data['event_id']), 'default', true);
		?>
        <td align="center"><a href='<?php echo $url1;?>'><?php echo 'Student'; ?> </a></td>
		<td align="center"><a href='<?php echo $url2;?>'><?php echo 'Assessor'; ?> </a></td>
		<td align="center"><a href='<?php echo $url3;?>'><?php echo 'Email Invitation'; ?> </a></td>
	</tr>
	<?php
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="7"><?php echo $this->translate('No event yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
<style type="text/css">
.tooltip.reject { color:red }
</style>
<script type="text/javascript">
function searchbox(){
	$('#search_form').toggle();
	return false;
}

	$(function (){
		$('#approval_date').datepicker({
			dateFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
			//maxDate: '0'
		});

		$('#save').click(function(){
			var url = "<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'proposal'),'default',true);?>";
			$('#search_form_lala').attr('action',url);
		});
	});


	function exportList(){
		var url = "<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'proposal-export'),'default',true);?>";
		$('#search_form_lala').attr('action',url);
		$('#search_form_lala').submit();
	}
</script>