<head>
<script>
	dojo.addOnLoad(function(){
		dijit.byId('field8').set('value','');
		dijit.byId('field8').set('placeHolder','Select');
	});



	//function fnGetSemesterList(idlandscape,idsem,appid){
	//	if(idlandscape != "" && idlandscape != undefined)
	//	{ 
	//		var xhrArgs = {
		//		url: "<?php echo $this->baseUrl();?>"+"/registration/seniorstudentregistration/getsemesterlist/idlandscape/"+idlandscape,
		//			handleAs:'json',
		//			load:function(data){ 
		//				console.log(data)
		//				AutoFillNextEditableDropDown('IdSemester'+appid,data);  
		//				dijit.byId('IdSemester'+appid).set('value',idsem+1);					
		//		}
	   //		}
		//	dojo.xhrGet(xhrArgs); 
		//} 
//	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}




	

function fnGetSubjectList(idsemsstersyllabus,idlandscape,mm,appid,idprogram) {
	idsemsster = dijit.byId("IdSemester"+appid).value;
	if(idlandscape !="" && idlandscape !=undefined && idsemsster !="" && idsemsster !=undefined && idsemsstersyllabus !="" && idsemsstersyllabus !=undefined)
	{ 
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/seniorstudentregistration/getallcheckboxsubjectdetails/idlandscape/"+idlandscape+"/idsemsster/"+idsemsster+"/idsemsstersyllabus/"+idsemsstersyllabus+"/idapplicant/"+appid+"/idprogram/"+idprogram,
			handleAs:'json',
			load:function(data){ 
				var count = data.subjects.length;
				var hor=dojo.byId("hor"+mm)
				hor.innerHTML ="<tr><th><?php echo $this->translate("Select All");?><?php echo " "; ?><input type='checkbox'  id='selectall"+mm+"' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction("+count+","+mm+")' name='selectall'/></th><th><?php echo $this->translate("Subject name");?></th></tr>";
				for(i=0;i<count;i++) {
					var Subjectname = data.subjects[i].SubjectName;		
					var idsubject = data.subjects[i].IdSubject;		
					hor.innerHTML +="<tr><td><input type='checkbox'  id=subjects"+mm+"s"+i+" value='"+idsubject+"/"+i+"' dojoType='dijit.form.CheckBox' onclick='checkallfunction("+count+","+mm+");checkprerequsits(this.checked,this.value,"+appid+","+mm+");checkminimumcredithourvalidation(this.checked,this.value,"+appid+","+mm+")' name='subjects["+appid+"][]'/></td><td>"+Subjectname+"</td></tr>";
					
				}
			}
	   }
	   dojo.xhrGet(xhrArgs); 
	} 
}

function checkminimumcredithourvalidation(check,idsubject,appid,mm) {
	var subjectarray = idsubject.split('/');
	var idsub = subjectarray[0];
	var idsubrow = subjectarray[1];

	var idsemsyllabus = idlandscape= dijit.byId("IdSemestersyllabus"+appid);
	var IdProgram = idlandscape= dojo.byId("IdProgram"+"["+appid+"]").value;
	if(check == true && idsubject != "" && idsubject != undefined && idsemsyllabus != "" && idsemsyllabus != undefined)
	{ 
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/seniorstudentregistration/getminimumcredithoursvalidation/idsubject/"+idsub+"/idapplicant/"+appid+"/idprogram/"+IdProgram+"/idsemsyllabus/"+idsemsyllabus,
			handleAs:'text',
			load:function(data){
				if(data=='0') {
					alert("This Subject Minimum Credit Hours Has Not Been Reached, So you Cannot Register This Subject.");
					document.getElementById('subjects'+mm+"s"+idsubrow).checked = false;
					document.getElementById('selectall'+mm).checked = false;
				}

			}
	   }
		dojo.xhrGet(xhrArgs); 
	} 
}




function checkprerequsits(check,idsubject,appid,mm) {
	var subjectarray = idsubject.split('/');
	var idsub = subjectarray[0];
	var idsubrow = subjectarray[1];
	var idsemsyllabus = idlandscape= dijit.byId("IdSemestersyllabus"+appid);
	var IdProgram = idlandscape= dojo.byId("IdProgram"+"["+appid+"]").value;
	if(check == true && idsubject != "" && idsubject != undefined && idsemsyllabus != "" && idsemsyllabus != undefined)
	{ 
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/seniorstudentregistration/getprerequistvalidation/idsubject/"+idsub+"/idapplicant/"+appid+"/idprogram/"+IdProgram+"/idsemsyllabus/"+idsemsyllabus,
			handleAs:'json',
			load:function(data){
				var count = data.subjectsmarks.length;
				for(i=0;i<count;i++) {
					var Subjectmarks = data.subjectsmarks[i].Pass;
					if(Subjectmarks == 0) {
						alert("He Has Not Cleared His Prerequisite Subject So You Cannot Register This Subject");
						document.getElementById('subjects'+mm+"s"+idsubrow).checked = false;
						document.getElementById('selectall'+mm).checked = false;
					}
				}
			}
	   }
		dojo.xhrGet(xhrArgs); 
	} 

}

function checkallfunction(count,mm) {
	var subchecked = 0
	for(i=0;i<count;i++) {
		var schecked = document.getElementById('subjects'+mm+"s"+i).checked;

		if(schecked) {
			subchecked++;
		}
	}
	if(subchecked == count)
	{
		document.getElementById('selectall'+mm).checked = true;
	} else {
		document.getElementById('selectall'+mm).checked = false;
	}	
	
}

function selectallfunction(count,mm) {
	var selectall = document.getElementById('selectall'+mm).checked;
	if(selectall)
	{
		for(i=0;i<count;i++) {
			document.getElementById('subjects'+mm+'s'+i).checked = true;
	    }
	} else {
		for(i=0;i<count;i++) {
			document.getElementById('subjects'+mm+'s'+i).checked = false;
	    }
	}
}
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/seniorstudentregistrationbulk/index" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Student Name");?></td>
				                   <td ><?php echo $this->lobjform->field4;?></td>
				                   <td><?php echo $this->translate("Application Id");?></td>
				                   <td ><?php echo $this->lobjform->field3;?></td>
				                </tr>
				                <tr>
                                    <td><?php echo $this->translate("Student/Registration Id");?></td>
                                    <td><?php echo $this->lobjform->field6;?></td>
				                   <td><?php echo $this->translate("I.C No");?></td>
				                   <td ><?php echo $this->lobjform->field2;?></td>

				                </tr>
				                <tr>
                                    <td><?php echo $this->translate("$this->Program");?></td>
                                    <td><?php echo $this->lobjform->field8;?></td>
                                    <td></td>
                                    <td></td>
				                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>
									<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
    
    <?php if(count($this->results) > 0) { ?>
    <form name="registration" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><?php echo $this->translate("Student Name");?></th>
	    	<th><?php echo $this->translate("Registration ID.");?></th>
	    	<th><?php echo $this->translate("Program Name");?></th>
	    	<th><?php echo $this->translate("Branch Name");?></th>
	    	<th><?php echo $this->translate("Landscape");?></th>
	    	<!-- <th><?php echo $this->translate("Semester");?></th> -->
	    	<th><?php echo $this->translate("Semester Syllabus");?></th>
	    	<th><?php echo $this->translate("Subject");?></th>
	    	</tr>

	        <?php $mm =0; ?>
	        <?php foreach ($this->results as $lobjstudents): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  			<?php 
	  				$this->lobjSeniorstudentregistrationModel= new Registration_Model_DbTable_Seniorstudentregistration();
					$CheckStatus = $this->lobjSeniorstudentregistrationModel->fnCheckStatus($this->escape($lobjstudents['IdApplication']),$this->escape($lobjstudents['IdSemestersyllabus']));
					$Displinaryaction = $this->lobjSeniorstudentregistrationModel->fnCheckExistingDisplinary($this->escape($lobjstudents['IdApplication']));
					$gpacalculation = $this->lobjSeniorstudentregistrationModel->fnCheckgpacalculation($this->escape($lobjstudents['IdApplication']),$this->escape($lobjstudents['IdProgram']),$this->escape($lobjstudents['IdSemester']));
					
	  			?>
	  			
	  			<?php if(empty($CheckStatus)  && $Displinaryaction != 0 && !empty($gpacalculation) && $gpacalculation['TerminateStatus'] == '149') { ?>

		        	<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
		        	<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		        	
		        	<td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
		        	<td><?php echo $this->escape($lobjstudents['CollegeName']);?>
		        	
		        		<input type="Hidden"  name ="IdApplication[]" value="<?php echo $this->escape($lobjstudents['IdApplication']);?>" id="IdApplication[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" />
		        		<input type="Hidden"  name ="IdProgram[]" value="<?php echo $this->escape($lobjstudents['IdProgram']);?>" id="IdProgram[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" />
		        		<input type="Hidden"  name ="registrationId[]" value="<?php echo $this->escape($lobjstudents['registrationId']);?>" id="registrationId[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" />
		        		<input type="Hidden"  name ="studentname[]" value="<?php echo $this->escape($lobjstudents['FName']);?>" id="studentname[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" />
		        		
		        		
		        		<input type="Hidden"  name ="Psswrd[]" value="<?php echo $this->escape($lobjstudents['Psswrd']);?>" id="Psswrd[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" />

		        		
		        		
		        	</td>
	
		        	<?php 
		        		$lobjStudentregistrationModel = new Registration_Model_DbTable_Studentregistrationbulk();
		        		$lanscapelist = $lobjStudentregistrationModel->getLandscapeDropDown($lobjstudents['IdProgram']);
		        	?>
	
		        	<td>
		        		<select dojoType="dijit.form.FilteringSelect" readonly="true" name ="IdLandscape[]" value ="<?php echo $this->escape($lobjstudents['IdLandscape']);?>" onChange="fnGetSemesterList(this,<?php echo $mm;?>,<?php echo $this->escape($lobjstudents['IdApplication']);?>);"   id="IdLandscape[<?php echo $this->escape($lobjstudents['IdApplication']);?>]" >
		        		<option value="">Select</option>
		        		<?php foreach($lanscapelist as $lanscapes): ?>
		        			<option value="<?php echo $lanscapes['key'] ?>"><?php echo $lanscapes['value'] ?></option>
						<?php endforeach;?>
		        		</select>
		        		<!-- 
		        		<script>
		        		fnGetSemesterList(<?php echo $lobjstudents['IdLandscape'];?>,<?php echo $lobjstudents['IdSemester'];?>,<?php echo $this->escape($lobjstudents['IdApplication']);?>);
		        		</script>
		        		 -->
		        	</td>  
		        	
		        	<input type="Hidden" dojoType="dijit.form.TextBox" name ="IdSemester[]" id="IdSemester<?php echo $this->escape($lobjstudents['IdApplication']);?>" value="<?php echo $this->escape($lobjstudents['IdSemester'] + 1);?>" />

		        	
		        	
		        	
		        	<?php 
		        		$lobjSeniorStudentregistrationBulkModel = new Registration_Model_DbTable_Seniorstudentregistration();
						$lanscapesemsyllabuslist = $lobjSeniorStudentregistrationBulkModel->fnGetSemesterNameList($lobjstudents['IdLandscape']);
		        	?>

		        	<td>
		        		<select dojoType="dijit.form.FilteringSelect"  name ="IdSemestersyllabus[]" onChange="fnGetSubjectList(this,<?php echo $lobjstudents['IdLandscape'];?>,<?php echo $mm;?>,<?php echo $this->escape($lobjstudents['IdApplication']);?>,<?php echo $this->escape($lobjstudents['IdProgram']);?>);" id="IdSemestersyllabus<?php echo $this->escape($lobjstudents['IdApplication']);?>" >
		        		<option value="">Select</option>
		        		<?php foreach($lanscapesemsyllabuslist as $lanscapesemsyllabuslists): ?>
		        			<option  value="<?php echo $lanscapesemsyllabuslists['key'] ?>"><?php echo $lanscapesemsyllabuslists['value'] ?></option>
						<?php endforeach;?>
		        		</select>
		        	</td> 
				
		        	
		        	
	
		        	<td><table>
		        	 <tbody id="hor<?php echo $mm;?>"> 
	
	                    </tbody>
		        	</table></td>      	
	       		<?php } ?>
			</tr>
			     <?php $mm++;  endforeach; ?>
		</table>
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
           <tr>
				<td align = "right"><?php echo $this->lobjStudentRegForm->Save;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'seniorstudentregistrationbulk', 'action'=>'index'),'default',true);?>';" />	
               </td> 

          </tr> 
        </table>            
	</fieldset>
	</form>
	
	<?php }?>
</body>
</html>
