<head>
<script type="text/javascript">
var rowid = 1;
	dojo.addOnLoad(function(){
		
		var IdStudent = dijit.byId('StudentId').value;		
		var InvoiceId = '<?php echo $this->invoiceid;?>';	
		fnGetInvoicedetails(InvoiceId);
		
	});

	function fnGetInvoiceNumber(StudentId) {
		
		if(StudentId != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/studentfinance/receipt/fngetinvoicenumber/StudentId/"+StudentId,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown('InvoiceId',data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
		
	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function fnGetInvoicedetails(InvoiceId) {
		if(InvoiceId != "")
		{ 

			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/studentfinance/receipt/fngetinvoicedetailsedit/InvoiceId/"+InvoiceId,
					handleAs:'json',					
					load:function(data){ 

					var options = {
						label:"InvoiceNo",
						identifier:"IdInvoice",
						items:data
					};
				    var content = "";
						dojo.forEach(options.items,function(items) {
							
							dijit.byId('InvoiceDt').set('value',items.InvoiceDt);
							dijit.byId('Amount').set('value',items.InvoiceAmt);
							dijit.byId('IdStudent').set('value',items.registrationId); 	
							dijit.byId('IdCollege').set('value',items.idCollege);  	
							dijit.byId('IdProgram').set('value',items.IDCourse);
							dijit.byId('SemesterId').set('value',items.IdSemester);
							dijit.byId('ItemName').set('value',items.IdItem);
						
							
							var trow=document.getElementById('hor').insertRow(rowid);
							var tcol1=trow.insertCell(0);
							var tcol2=trow.insertCell(1);
							var tcol3=trow.insertCell(2);
							var tcol4=trow.insertCell(3);
							var tcol5=trow.insertCell(4);
							var tcol6=trow.insertCell(5);
							
							items.Balance = items.Amount-items.AmountPaid;
	
							tcol1.innerHTML="<input type='hidden' value='"+items.IdItem+"' name=IdItemgrid[]><input type='hidden' value='"+items.idReciept+"' name=Idrecieptgrid[]>"+items.EnglishDescription;
							tcol2.innerHTML="<input type='hidden' value='"+items.Amount+"' name=Amountgrid[]><input type='hidden' value='"+items.idRecieptDetails+"' name=IdRecieptDetailsgrid[]>"+items.Amount;
							tcol3.innerHTML="<input type='hidden' value='"+items.AmountPaid+"' name=AmountPaidgrid[]>"+items.AmountPaid;
							tcol4.innerHTML="<input type='hidden' value='"+items.Balance+"' name=Balancegrid[]>"+items.Balance;
							tcol5.innerHTML="<input type='text' size = '5'  value='' name=amountpaying[]>";
							tcol6.innerHTML="<input type='hidden' value='' name= ''";
							rowid++;
				        });
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
		
	}

	function addRecieptDetails() {
		var flag = true;
	
		var StudentId = dijit.byId("StudentId");
		if(StudentId.get('value')== "")
		{
			StudentId.set('class','dijitTextBoxError dijitComboBoxError');
			flag = false;
		}
	
		if(dijit.byId("ItemName")==''){
		    dijit.byId("ItemName").attr('required','true');
			dijit.byId("ItemName").focus();flag = false;
		}
	
		var ItemName = dijit.byId("ItemName");
		if(ItemName.get('value')== "")
		{
			ItemName.set('class','dijitTextBoxError dijitComboBoxError');
			flag = false;
		}
		
		
		if(dijit.byId("Amount").value==''){
		    dijit.byId("Amount").attr('required','true');
			dijit.byId("Amount").focus();flag = false;
		}
	
		if(flag == true) {
			addRecieptDetailsInsert();	
		}			
		return flag;
	}

	var accountArray  = new Array();

	function addRecieptDetailsInsert() {
		
		var ItemName = dijit.byId("ItemName");
		var ItemNamedisplay = dijit.byId("ItemName").displayedValue;
		var Amount = dijit.byId("Amount").value;
	
		accountArray.push(ItemNamedisplay);
			if(arrHasDupes(accountArray))
			{
				accountArray = accountArray.unique();
				alert("Duplicate Item Name");
			} 
			else 
			{
				var trow=document.getElementById('hor').insertRow(rowid);
				var tcol1=trow.insertCell(0);
				var tcol2=trow.insertCell(1);
				var tcol3=trow.insertCell(2);
				var tcol4=trow.insertCell(3);
				var tcol5=trow.insertCell(4);
				var tcol6=trow.insertCell(5);
	
				tcol1.innerHTML="<input type='hidden' value='"+ItemName+"' name=IdItemgrid[]>"+ItemNamedisplay;
				tcol2.innerHTML="<input type='hidden'  value='"+Amount+"' name=Amountgrid[]>"+Amount;
				tcol3.innerHTML="<input type='hidden'  value='' name=AmountPaidgrid[]>";
				tcol4.innerHTML="<input type='hidden'  value='"+Amount+"' name=Balancegrid[]>"+Amount;
				tcol5.innerHTML="<input type='text' size = '5'  value='' name=amountpaying[]>";
				tcol6.innerHTML="<a href='#' onClick='deleteRowprogram(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
				rowid++;
			}
	}

	function deleteRowprogram(r) {
		rowid--;
		var i=r.parentNode.parentNode.rowIndex;
		accountArray.splice(parseInt(i-1),1);
		document.getElementById('hor').deleteRow(i);
		
	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}


	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }
	                
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Receipt Details");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return true;
                }
				</script>
                <table class="table" width="100%" >
                        <tr>
                            <th colspan = "5"><?php echo $this->translate("Receipt Details");?></th>
                        </tr>
                        <tr>
							<td><?php echo $this->translate("Student Name");?><span>*</span></td>
                         	<td ><?php echo $this->lobjInvoiceForm->StudentId;?></td>
						 	<td><?php echo $this->translate("Invoice Number");?><span>*</span></td>
                         	<td ><?php echo $this->lobjInvoiceForm->InvoiceId;?></td>
						</tr>
                        <tr>
                        	<td><?php echo $this->translate("Student Id");?><span>*</span></td>
                        	<td ><?php echo $this->lobjInvoiceForm->IdStudent;?></td>
					    	<td><?php echo $this->translate("Invoice Date");?><span>*</span></td>
                        	<td ><?php echo $this->lobjInvoiceForm->InvoiceDt;?></td>
						</tr>
                        <tr>
                        	<td><?php echo $this->translate("Receipt Number");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjInvoiceForm->RecieptNumber;?></td>
							<td><?php echo $this->translate("Receipt Date");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->RecieptDate;?></td>
                            <?php echo $this->lobjInvoiceForm->UpdDate;?>
                            <?php echo $this->lobjInvoiceForm->UpdUser;?>
                            <?php echo $this->lobjInvoiceForm->idReciept;?></td>   
                        </tr>
						<tr>
							<td><?php echo $this->translate("Faculty");?></td>
                         	<td ><?php echo $this->lobjInvoiceForm->IdCollege;?></td>
					    	<td><?php echo $this->translate("Program");?></td>
                            <td ><?php echo $this->lobjInvoiceForm->IdProgram;?></td>
						</tr>
                        <tr>
							<td><?php echo $this->translate("Semester");?></td>
                        	<td ><?php echo $this->lobjInvoiceForm->SemesterId;?></td>
							<td><?php echo $this->translate("Item Name");?></td>
                        	<td ><?php echo $this->lobjInvoiceForm->ItemName;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Amount");?></td>
                        	<td><?php echo $this->lobjInvoiceForm->Amount;?></td>
                        	<td><?php echo $this->translate("Mode Of Payment");?><span>*</span></span></td>
                        	<td><?php echo $this->lobjInvoiceForm->ModeOfPayment;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Cheque / DD Date");?></td>
                        	<td><?php echo $this->lobjInvoiceForm->ChequeDate;?></td>
                        	<td><?php echo $this->translate("Cheque Number");?></td>
                        	<td><?php echo $this->lobjInvoiceForm->ChequeNumber;?></td>
                        </tr>
 
						 <tr>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                            <td align = "right"><?php echo $this->lobjInvoiceForm->Add;?></td>
                        </tr>
                       </table>
                   <table id="hor"  class="table" width="100%" > 
				        <tr>
	    	<th><?php echo $this->translate("Item Name");?></th>
	    	<th><?php echo $this->translate("Amount To Be Paid");?></th>
	    	<th><?php echo $this->translate("Amount Paid");?></th>
	    	<th><?php echo $this->translate("Invoice Balance");?></th>
	    	<th><?php echo $this->translate("Amount");?></th>
	    	<th><?php echo $this->translate("Delete");?></th>
	    	</tr>
                        
                        <tr>
                            <td align = "right" colspan="5"><?php echo $this->lobjInvoiceForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'receipt', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
