<table>
	<tr>
		<td><?php echo $this->translate('Proforma Invoice No');?></td>
		<td>:</td>
		<td><?php echo $this->proforma['bill_number'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description');?></td>
		<td>:</td>
		<td><?php echo $this->proforma['bill_description'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>:</td>
		<td><?php echo $this->proforma['SemesterMainName'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Currency');?></td>
		<td>:</td>
		<td><?php echo $this->proforma['cur_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Amount');?></td>
		<td>:</td>
		<td>
			<?php echo $this->proforma['cur_symbol_prefix']!=null?$this->proforma['cur_symbol_prefix']:""; ?>
			<?php echo $this->proforma['bill_amount'];?>
			<?php echo $this->proforma['cur_symbol_suffix']!=null?$this->proforma['cur_symbol_suffix']:""; ?>
		</td>
	</tr>
</table>
<br />
<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate('Fee');?></th>
		<th><?php echo $this->translate('Fee Code');?></th>
		<th><?php echo $this->translate('Refundable');?></th>
		<th><?php echo $this->translate('Non-Invoice');?></th>
		<th><?php echo $this->translate('Currency');?></th>
		<th><?php echo $this->translate('Amount');?></th>
	</tr>
	<?php 
	for($i=0; $i<sizeof($this->proforma['fee_item']); $i++):
		$proforma = $this->proforma['fee_item'][$i];
	
		
	?>
	<tr>
		<td><?php echo $proforma['fi_name']; ?></td>
		<td align="center"><?php echo $proforma['fi_code']; ?></td>
		<td align="center"><?php echo $proforma['fi_refundable']==1?$this->translate('Yes'):$this->translate('No'); ?></td>
		<td align="center"><?php echo $proforma['fi_non_invoice']==1?$this->translate('Yes'):$this->translate('No'); ?></td>
		<td align="center"><?php echo $proforma['cur_code']; ?></td>
		<td>
			<?php echo $proforma['cur_symbol_prefix']!=null?$proforma['cur_symbol_prefix']:""; ?>
			<?php echo $proforma['amount']; ?>
			<?php echo $proforma['cur_symbol_suffix']!=null?$proforma['cur_symbol_suffix']:""; ?>
		</td>
	</tr>
	<?php endfor;?>
</table>