<table>
	<tr>
		<td><?php echo $this->translate('Invoice No');?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_number'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description');?></td>
		<td>:</td>
		<td><?php echo $this->invoice['bill_description'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td>:</td>
		<td><?php echo $this->invoice['SemesterMainName'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Currency');?></td>
		<td>:</td>
		<td><?php echo $this->invoice['cur_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Amount');?></td>
		<td>:</td>
		<td>
			<?php echo $this->invoice['cur_symbol_prefix']!=null?$this->invoice['cur_symbol_prefix']:""; ?>
			<?php echo $this->invoice['bill_amount'];?>
			<?php echo $this->invoice['cur_symbol_suffix']!=null?$this->invoice['cur_symbol_suffix']:""; ?>
		</td>
	</tr>
</table>
<br />
<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate('Fee');?></th>
			<th><?php echo $this->translate('Fee Code');?></th>
			<th><?php echo $this->translate('Refundable');?></th>
			<th><?php echo $this->translate('Non-Invoice');?></th>
			<th><?php echo $this->translate('Currency');?></th>
			<th><?php echo $this->translate('Amount');?></th>
		</tr>
	</thead>
	<tbody>
	<?php 
	for($i=0; $i<sizeof($this->invoice['fee_item']); $i++):
		$fee_item = $this->invoice['fee_item'][$i];
	
		
	?>
	<tr>
		<td><?php echo $fee_item['fi_name']; ?></td>
		<td align="center"><?php echo $fee_item['fi_code']; ?></td>
		<td align="center"><?php echo $fee_item['fi_refundable']==1?$this->translate('Yes'):$this->translate('No'); ?></td>
		<td align="center"><?php echo $fee_item['fi_non_invoice']==1?$this->translate('Yes'):$this->translate('No'); ?></td>
		<td align="center"><?php echo $fee_item['cur_code']; ?></td>
		<td>
			<?php echo $fee_item['cur_symbol_prefix']!=null?$fee_item['cur_symbol_prefix']:""; ?>
			<?php echo $fee_item['amount']; ?>
			<?php echo $fee_item['cur_symbol_suffix']!=null?$fee_item['cur_symbol_suffix']:""; ?>
		</td>
	</tr>
	<?php endfor;?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"></td>
			<th>
				<?php echo $this->invoice['cur_symbol_prefix']!=null?$this->invoice['cur_symbol_prefix']:"";?>
				<?php echo $this->invoice['bill_amount'];?>
				<?php echo $this->invoice['cur_symbol_prefix']!=null?$this->invoice['cur_symbol_suffix']:"";?>
			</th>
		</tr>
	</tfoot>
</table>