<body class="claro">
    <fieldset>
		<legend><?php echo $this->translate("Qualification Search");?></legend>

	<form action="<?php echo $this->baseUrl();?>/application/qualificationsetup/index/search/1" method="POST">
		<table width="100%">
			<tr>	
				<td><?php echo $this->translate("Qualification Level");?></td>
				<td><?php echo $this->lobjform->field3;?></td>
				<td><?php echo $this->translate("Rank");?></td>
				<td><?php echo $this->lobjform->field2;?></td>		
		    </tr>
		  
			<tr>
				<td colspan="4" align="center">
							<?php echo $this->lobjform->Search;?>
								<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'newqualification'),'default',true);?>';" />
							<?php echo $this->lobjform->Clear;?>					
				</td>
			</tr>
		</table>
	</form>	
	</fieldset>
	<br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Qualification Level");?></th>
	        	<th><?php echo $this->translate("Rank");?></th>
	        	<!--<th><?php echo $this->translate("Delete");?></th>
	    	--></tr>
	    	 <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjQualificationsetup): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/editqualification/id/<?php echo $this->escape($lobjQualificationsetup['IdQualification']);?>" ><?php print_r($this->escape($lobjQualificationsetup['QualificationLevel']));?></a></td>
	        	<td><?php print_r($this->escape($lobjQualificationsetup['QualificationRank']));?></td>
<!--	        	<td>-->
<!--	        	<a href="<?php echo $this->baseUrl();?>/application/qualificationsetup/deletequalification/id/<?php echo $this->escape($lobjQualificationsetup['IdQualification']);?>"" onClick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'deletequalification'),'default',true);?>';"> -->
<!--	        	<img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'>-->
<!--	        	</a>-->
<!--	        	</td>-->
	            
	        <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
	    </table>
	</fieldset>