</html>
<script>
dojo.addOnLoad(function() {
	dijit.byId('IdSubject').set('value','');
	dijit.byId('IdSubject').set('placeHolder','Select');
});
var rowid=1;
var batchArray  = new Array();
var oldContent = "";
var NoCnt	=	0;
function addSubjectentry() {
	var subject = dijit.byId('IdSubject');
	var flag = true;
	if(subject.value == "") {
		dijit.byId("IdSubject").attr('required','true');
		dijit.byId("IdSubject").focus();
		flag = false;
	}
	if(flag) {
		insertdetails();
	}
}

function insertdetails() {
	var subject = dijit.byId("IdSubject").value;
	var subjectname = dijit.byId("IdSubject").displayedValue;
	var trow=document.getElementById('hor').insertRow(rowid);
	var tcol1=trow.insertCell(0);
	var tcol2=trow.insertCell(1);
  batchArray.push(subjectname);
  console.log(batchArray);
  if(arrHasDupes(batchArray)) {
	  alert("Duplicate Entry");
	  batchArray = batchArray.unique();
	  return false;
  }
  else {
		tcol1.innerHTML="<input type='hidden' value='"+subject+"' name=IdSubject[]>"+subjectname;
		tcol2.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
		rowid++;
  }
}

function deleteRow(r)
{
	rowid--;
	
	var i=r.parentNode.parentNode.rowIndex;
	batchArray.splice(parseInt(i-1),1);
	document.getElementById('hor').deleteRow(i);
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

</script>
<fieldset><legend><?php echo $this->translate("Add Qualification Level");?></legend>

<Form dojoType="dijit.form.Form" id="myForm"
	action="<?php echo $this->baseUrl();?>/application/qualificationsetup/newqualification"
	method="post" name="myForm"><script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } 
				else {
                    return false;
                }
				</script>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Qualification Details");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Qualification Level");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjQualificationsetupForm->QualificationLevel;?><?php echo $this->lobjQualificationsetupForm->UpdDate;?>
		<?php echo $this->lobjQualificationsetupForm->UpdUser;?></td>
		<td><?php echo $this->translate("Rank");?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjQualificationsetupForm->QualificationRank;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Active");?></td>
		<td><?php echo $this->lobjQualificationsetupForm->Active;?></td>
		<td><?php echo $this->translate("Special Treatment");?></td>
		<td><?php echo $this->lobjQualificationsetupForm->SpecialTreatment;?></td>
	</tr>
	
	<tr>
		<th colspan="4"><?php echo "Subject".' '.$this->translate("Details");?></th>
	</tr>
	<tr>
		<td><?php echo "Subject";?><span class="reqMark">*</span></td>
		<td><?php echo $this->lobjQualificationsetupForm->IdSubject;?></td>
		
	</tr>
	<tr>
		<td colspan="4" align="right"><?php echo $this->lobjQualificationsetupForm->Add;?><?php echo $this->lobjQualificationsetupForm->Clear;?>
		</td>
	</tr>
	</table>
	<table class="table" width="100%" id="hor">
								<tr>
									<th><?php echo "Subject".' '.$this->translate("Name")?></th>
									<th><?php echo $this->translate("Delete"); ?></th>
								</tr>
							</table>
	<table class="table" width="100%">
	<tr>
		<td colspan=4 align="right"><?php echo $this->lobjQualificationsetupForm->Save;?>
		<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back");?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'qualificationsetup', 'action'=>'index'),'default',true);?>';" />
		</td>

	</tr>
</table>

</Form>
</fieldset>
