<style>
	select#program{
		width: 250px;
	}
</style>
<script type="text/javascript">

function change_all_status(element){
	$('select[name="status[]"]').val( $(element).val() ) 
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="/examination/exam-grouping/group-attendance">
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate('Group Info');?></legend>
<table>
	<tr>
		<td><?php echo $this->translate("Semester");?></td>
		<td>:</td>
		<td><?php echo $this->group['semester_name'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Subject");?></td>
		<td>:</td>
		<td><?php echo $this->group['subject_name'];?> - <?php echo $this->group['subject_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Name");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_exam_name'];?> <?php echo $this->group['eg_repeat_status']==1?"(".$this->translate("Repeat").")":"";?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Group Name");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_group_name'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Group Code");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_group_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Date");?></td>
		<td>:</td>
		<td><?php echo date('d-m-Y', strtotime($this->group['eg_date']));?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Time");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_start_time'];?> - <?php echo $this->group['eg_end_time'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Room");?></td>
		<td>:</td>
		<td><?php echo $this->group['av_room_name_short'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Capacity");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_capacity'];?></td>
	</tr>
</table>
</fieldset>

<form method="post">
<table class="table" width="100%">
	<tr>
		<th rowspan="2">&nbsp;</th>
		<th rowspan="2"><?php echo $this->translate("Name");?></th>
		<th rowspan="2"><?php echo $this->translate("NIM");?></th>
		<th><?php echo $this->translate("Status");?></th>
	</tr>
	<tr>
		<th align="center" style="text-align: center;">
			<select name="" id="status_all" onchange="change_all_status(this);">
				<option value="null"></option>
				<?php foreach ($this->attendanceStatusList as $status):?>
				<option value="<?php echo $status['idDefinition'];?>"><?php echo $status['BahasaIndonesia'];?></option>
				<?php endforeach;?>
			</select>
		</th>
	</tr>
	<?php 
	if($this->student_list){
		$i=0;
		foreach ($this->student_list as $student):
	?>
	<tr <?php echo $i%2==0?"class='shade'":""?>>
		<td><?php echo $i+1;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":""; ?> 
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":""; ?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']:""; ?>
			
			<input type="hidden" name="registration_id[]" value="<?php echo $student['egst_student_id']; ?>" />
			<input type="hidden" name="nim[]" value="<?php echo $student['egst_student_nim']; ?>" />
		</td>
		<td align="center"><?php echo $student['egst_student_nim'];?></td>
		
		
		<td align="center">
			<select name="status[]">
				<option value="0">&nbsp;</option>
				<?php 
					foreach ($this->attendanceStatusList as $status):
						$select = "";
						if( $status['idDefinition'] == $student['att_status'] ){
							$select="selected='selected'";
						}
				?>
				<option value="<?php echo $status['idDefinition'];?>" <?php echo $select; ?> ><?php echo $status['BahasaIndonesia'];?></option>
				<?php endforeach;?>
			</select>
		</td>
	</tr>
	<?php 
		$i++;
		endforeach;
	}else{
	?>
	<tr>
		<td colspan="4" align="center"><?php echo $this->translate('No Student Assigned to this group');?></td>
	</tr>
	<?php 
	}
	?>
</table>
<?php if($this->student_list){?>
<div style="text-align: center; background: #ccc; padding: 2px 10px; margin: 10px 0 5px 0;">
	<input type="hidden" name="group_id" value="<?php echo $this->group['eg_id'];?>" />
	<input type="submit" value="Save" />
</div>
<?php }?>
<br />
</form>

