<script type="text/javascript">
	$(function() {
		<?php
		if(isset($this->semid) && isset($this->facid) && isset($this->subid) ){
		?>
			$('#IdSemester').val('<?php echo $this->semid; ?>');
			$('#IdCollege').val('<?php echo $this->facid; ?>');
			var subject = <?php echo $this->subid; ?>;

			var table = $("#result tbody");
			
			$.ajax({
				url: "/examination/exam-grouping/search-course",
			    type: "post",
			    async : false,
			    data: {'semester_id':<?php echo $this->semid; ?>, 'faculty_id':<?php echo $this->facid; ?>},
			    dataType: 'json',
			    success: function(data){
			    	$('#subject').empty();
					$('#subject').append('<option value="">Please Select</option>');
				    	
				    	$.each(data, function(index) {
					    	var select = '';
					    	if(subject==data[index].IdSubject){
						    	select='selected="selected"';
					    	}
				    		$('#subject').append('<option value="'+data[index].IdSubject+'" '+select+'>'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});

				    	
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('subject','subject','loading');

			        $(table).empty();
				},
				complete: function() {
					hideLoading('loading','subject');
					search_group();
				}   
			});
		<?php
		}
		?>
	});
	
	function search_subject(){
		
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(semester_id!=0 && faculty_id!=0){
			$.ajax({
				url: "/examination/exam-grouping/search-course",
			    type: "post",
			    async : false,
			    data: {'semester_id':semester_id, 'faculty_id':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#subject').empty();
					$('#subject').append('<option value="">Please Select</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#subject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('subject','subject','loading');

			        $(table).empty();
				},
				complete: function() {
					hideLoading('loading','subject');
				}   
			});
		}
	}

	function search_group(){
		var semester_id = $('#IdSemester').val();
		var faculty_id = $('#IdCollege').val();
		var course_id = $('#subject').val();

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/examination/exam-grouping/search-exam-group",
		      type: "post",
		      async : false,
		      data: {'semester_id':semester_id, 'faculty_id':faculty_id, 'subject_id':course_id},
		      dataType: 'json',
		      beforeSend: function (){
		    	  $(table).html('<tr><td colspan="8">Loading...</td></tr>');
		      },
		      success: function(data){
		    	  $(table).empty();
		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){

			        	  var repeat = "";
						  if(data[i].eg_repeat_status==1){
							  repeat = "(<?php echo $this->translate("Repeat"); ?>)";
						  }	

						  var program = "<ul class='program'>";
			        	  if(data[i].program.length > 0){
				        	 $.each(data[i].program,function(index,val){
					        	program += "<li>"+val.ShortName+"</li>"; 
				        	 }); 
			        	  }
			        	  program += "</ul>";
			        	  
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='view_detail("+data[i].eg_id+","+course_id+"); return false;'>"+data[i].eg_group_name+"</a></td>"+
				          				"<td align='center'>"+data[i].eg_group_code+"</td>"+
				          				"<td>"+data[i].eg_exam_name+" "+repeat+"</td>"+
				          				"<td>"+data[i].semester_name+"</td>"+
				          				"<td align='center'>"+data[i].total_student+"</td>"+
				          				"<td>"+data[i].av_room_name+"</td>"+
				          				"<td align='center'>"+data[i].av_exam_capacity+"</td>"+
				          				"<td align='center'>"+data[i].eg_date+" ("+data[i].eg_start_time+" - "+data[i].eg_end_time+")</td>"+
				          				"<td>"+program+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = '<tr><td colspan="8"><?php echo $this->translate('No Group Available'); ?></td></tr>';
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		    	  $(table).empty();
		          alert("failure");
		      }   
		});
	}

	function showLoading(target,target_div,loading_id){
		$('#'+target).hide();
		$('#'+target_div).after("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
	}

	function hideLoading(loading_id,target){
		$('#'+loading_id).remove();
		$('#'+target).show();
	}

	function view_detail(gid,subjectId){
		window.location = '<?php echo $this->url(array('module'=>'examination','controller'=>'exam-grouping','action'=>'group-detail'),'default',true);?>/id/'+gid+'/subject_id/'+subjectId;
	}

	function addGroup(){

		var semester_id = $('#IdSemester').val();
		var subject_id = $('#subject').val();

		if( semester_id!=0 && subject_id !=0 && subject_id!=""&& subject_id!=null ){
			window.location = '<?php echo $this->url(array('module'=>'examination','controller'=>'exam-grouping','action'=>'group-add'),'default',true);?>/semester_id/'+semester_id+'/subject_id/'+subject_id;
		}else{
			alert('<?php echo $this->translate('Please select semester and subject to add');?>');
		}
	}
</script>

<style>
ul.program, ul.program li{
  margin: 0 0 0 10px;
  padding: 0;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Subject Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	
</table>
<br></br>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<!--<th width="25px">&nbsp;</th>-->
		<th><?php echo $this->translate("Section Name")?></th>
		<th><?php echo $this->translate("Section Code")?></th>
		<th><?php echo $this->translate("Semester")?></th>		
		<th><?php echo $this->translate("Program")?></th>
		<th><?php echo $this->translate("Max Occupancy")?></th>
		<th><?php echo $this->translate("Total Student")?></th>
		<th><?php echo $this->translate("Remark")?></th>	
		<th><?php echo $this->translate("Created Date")?></th>		
		<th width="110px"><?php echo $this->translate("Action")?></th>
	</tr>
	<?php 
	$i=1;
	if(count($this->list_groups)>0){
	foreach($this->list_groups as $group){
	?>
	<tr>
		<!--<td align='center'><input type="radio" id="idGroup" name="idGroup" value="<?php //echo $group["IdCourseTaggingGroup"]?>"></td>-->
                <td><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'edit-group','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester, 'idGroup'=>$group["IdCourseTaggingGroup"]),'default',true);?>"><?php echo $group["GroupName"];?></a></td>
		<td><?php echo $group["GroupCode"];?></td>
		<td><?php echo $group["semester_name"];?></td>
		
		<td>
		  <ul class="prog-list">
		   <?php 
		   if(sizeof($group['program'])>0){
              foreach ($group['program'] as $pro):
		   ?>
		     <li><?php echo $pro['ShortName'];?></li>
		   <?php 
		     endforeach;
           }
           ?>
           </ul>
		</td>
		<td align="center"><?php echo $group["maxstud"];?></td>
		<td align="center">
		<?php echo ($group["total_student"]==0 ? '0':$group["total_student"]);?></td>
		<td><?php echo $group["remark"];?></td>
		<td align="center"><?php echo date("d-m-Y",strtotime($group["UpdDate"]));?></td>		
		<td>
		<ul class="act options">
		  <li>
		    <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-grouping','action'=>'group-add','idGroup'=>$group["IdCourseTaggingGroup"],'idSemester'=>$group["IdSemester"],'idSubject'=>$group["IdSubject"]),'default',true);?>" title="Schedule"><!--<img src="/images/icon/calendar.png" />--><?php echo $this->translate("Schedule"); ?></a> 
		  </li>		  
		</ul>
		</td>
	</tr>
	<?php $i++; } }?>
</table>



<!--


<table class="table" id="result" width="100%">
	<thead>
		<tr>		    
			<th><?php echo $this->translate("Section Name"); ?></th>
			<th><?php echo $this->translate("Section Code"); ?></th>
			<th><?php echo $this->translate("Exam Name"); ?></th>
			<th><?php echo $this->translate("Semester"); ?></th>
			<th><?php echo $this->translate("Total Student"); ?></th>
			<th><?php echo $this->translate("Room"); ?></th>
			<th><?php echo $this->translate("Exam Capacity"); ?></th>
			<th><?php echo $this->translate("Schedule"); ?></th>
			<th><?php echo $this->translate("Programme"); ?></th>
			<th><?php echo $this->translate(""); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php if(count($this->groups)>0){
			foreach($this->groups as $index=>$group){
				
				 $repeat = "";
				  if($group['eg_repeat_status']==1){
					  $repeat = $this->translate("Repeat");;
				  }	

				  $program = "<ul class='program'>";
	        	  if(count($group['program']) > 0){
		        	 foreach($group['program'] as $pr){
			        	$program .= "<li>".$pr['ShortName']."</li>"; 
		        	 }
	        	  }
	        	  $program .= "</ul>";
	?>
		<tr>			
			<td align='center'><?php echo $group['eg_group_name'];?></td>
			<td align='center'><?php echo $group['eg_group_code'];?></td>
			<td align='center'><?php echo $group['eg_exam_name'].$repeat;?></td>
			<td align='center'><?php echo $group['semester_name'];?></td>
			<td align='center'><?php echo $group['total_student'];?></td>
			<td align='center'><?php echo $group['av_room_name'];?></td>
			<td align='center'><?php echo $group['av_exam_capacity'];?></td>
			<td align='center'><?php echo $group['eg_date']." ("+$group['eg_start_time']." - ".$group['eg_end_time'];?></td>
			<td align='center'><?php echo $program;?></td>
			<td><a href=''>Schedule</a></td>
		</tr>
		<?php } }?>
	</tbody>
</table>-->