<script>
$(function() {

	if( $('#eg_room_id').val()=="" ){
		$('#eg_room_id').empty();
	}
	
	$( "#eg_date" ).datepicker({ 
		changeMonth: true,
		dateFormat: 'dd-mm-yy' 
	});

	$("#eg_start_time").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});

	$("#eg_end_time").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});


	$( "#dialog-program" ).dialog({
		  autoOpen: false,
	      modal: true,
	      width: 550,
	      buttons: {
	    	  "<?php echo $this->translate('Add'); ?>": function() {  
	    		  var sel_text = $('#program_sel').find('option:selected').text();
	    		  var sel_id = $('#program_sel').val();
	    		  
	    		  var tappend = '<tr>'+
	    		  '<td>'+
	    		  '<input type="hidden" name="program[]" value="'+sel_id+'" />'+
	    		  sel_text +
	    		  '</td>'+
	    		  '<td align="center"><a href="#" onclick="$(this).parent().parent().remove(); return false;"><img src="/images/icon/user_trash_full.png" title="Delete" /></td>'+
	    		  '</tr>';
		    	  $('#program tbody').append(tappend);
		    	  
	          $( this ).dialog( "close" );
	        },
	        Close: function() {
	          $( this ).dialog( "close" );
	        }
	      }
	    });

	$('#assign-program').click(function(){
    	$( "#dialog-program" ).dialog('open');

    	return false;
    });
});

function getRoom(element){
	var location_id = $(element).val();
 
	if(location_id!=0 && location_id!="" && location_id!=null){
		$('#eg_room_id').empty();
		
		$.ajax({
			url: "/examination/exam-grouping/get-exam-room",
		    type: "post",
		    async : false,
		    data: {'location_id':location_id},
		    dataType: 'json',
		    success: function(data){
				$('#eg_room_id').append('<option value="">Please Select</option>');
			    	
			    	$.each(data, function(index) {
			    		$('#eg_room_id').append('<option value="'+data[index].av_id+'">'+data[index].av_room_name+' - '+data[index].av_room_code+'</option>');	
			    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('eg_room_id','eg_room_id','loading');
			},
			complete: function() {
				hideLoading('loading','eg_room_id');
			}   
		});
	}
}

function showLoading(target,target_div,loading_id){
	$('#'+target).hide();
	$('#'+target_div).after("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(loading_id,target){
	$('#'+loading_id).remove();
	$('#'+target).show();
}

function getCapacity(element){
	var rid = $('#eg_room_id').val();
	
	$.ajax({
		url: "/examination/exam-grouping/get-exam-room",
	    type: "post",
	    async : false,
	    data: {'room_id':rid},
	    dataType: 'json',
	    success: function(data){
			$('#eg_capacity').val(data.av_exam_capacity);
		},
		error:function(){
	          alert("failure");
		},
		beforeSend: function() {
			$('#eg_capacity').val(0);
			showLoading('eg_capacity','eg_capacity','loading');
		},
		complete: function() {
			hideLoading('loading','eg_capacity');
		}   
	});
}
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Section Name "); ?></th>   
		    <td><?php echo $this->group['GroupName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Subject Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>

</table>
<br></br>

<?php echo $this->form; ?>


<div id="dialog-program" title="Add Program">
  <table>
    <tr>
      <td><?php echo $this->translate('Program'); ?></td>
      <td>:</td>
      <td>
        <select name="program_sel" id="program_sel">
          <option><?php echo $this->translate("Please select"); ?></option>
          <?php 
          foreach($this->program_list as $list):
          ?>
          <optgroup label="<?php echo $list['faculty']['ArabicName'];?> - <?php echo $list['faculty']['CollegeCode'];?>">
              <?php 
              if(isset($list['program'])){
                foreach ($list['program'] as $program){
              ?>
              <option value="<?php echo $program['IdProgram'];?>"><?php echo $program['ArabicName'];?> - <?php echo $program['ProgramCode'];?></option>
              <?php
                } 
              }
              ?>
          </optgroup>
          <?php 
          endforeach;
          ?>
        </select>
      </td>
    </tr>
   </table>
</div>

