<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<?php if(count($this->list_subject)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Course Name")?></th>
		<th><?php echo $this->translate("Faculty")?></th>
		<th><?php echo $this->translate("Total Student")?></th>
		<th><?php echo $this->translate("Total Exam Section")?></th>		
		<th><?php echo $this->translate("")?></th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->list_subject as $subject){
		//if($subject["total_student"]>0){
	?>
		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='center'><?php echo $subject["SubCode"];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["name"]:$subject["SubjectName"];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $subject["facultyName"]:$subject["CollegeName"];?></td>
		<td align='center'><?php echo $subject["total_student"];?></td>
		<td align='center'><?php echo $subject["total_group"];?></td>
		<td class="center options">
		<?php if($subject["total_group"]>0){?>
		    <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-grouping','action'=>'group','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$subject['IdSubject'])); ?>"><?php echo $this->translate("Edit Section");?></a>
		<?php }else{?>
			<?php echo $this->translate("No Section");?>
		<?php } ?>
		</td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>
<?php }//end if?>
</div>
<br>