<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'documents','action'=>'index'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">

<table width="100%" class="table vcenter">
	<tr>
		<td width="20%"><?php echo $this->translate('Type')?></td>
		<td><?php echo $this->form->type ?>
		<input type="hidden" name="type" value="<?php echo $this->info['gd_type']?>" />
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Name')?> <span class="reqMark">*</span></td>
		<td><?php echo $this->form->title ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->form->description ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Files')?></td>
		<td>
			<div class="files-wrap">
				<input type="file" name="upload[]" class="file" />
			</div>
			<p><a href="#" onclick="return addFile()">+ <?php echo $this->translate('Add More')?></a></p>
			<p><small class='desc'><?php echo $this->translate('Allowed types')?>: zip, jpg, jpeg, png, gif, doc, pdf, docx</small></p>
		</td>
	</tr>
	<?php if ( !empty($this->uploadedfiles) ) : ?>
	<tr>
		<td></td>
		<td>
			<table class="table filetable" width="100%">
			<tr>
				<th><?php echo $this->translate('File')?></th>
				<th></th>
			</tr>
			<?php foreach ( $this->uploadedfiles as $file ) : ?>
			<tr id="filerow-<?php echo $file['gd_id']?>">
				<td><a href="<?php echo DOCUMENT_URL.$file['gd_filepath']?>" class='fancy'><?php echo $file['gd_ori_filename']?></a></td>
				<td><a href="#" onclick="return deleteFileAjax(<?php echo $file['gd_id']?>)"><?php echo $this->translate('Delete')?></a></td>
			</tr>
			<?php endforeach; ?>
			</table>
		</td>
	</tr>
	<?php endif; ?>
</table>

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'graduation','controller'=>'documents','action'=>'set'), 'default', true);?>'" />
</div>

</form>
<script type="text/javascript">
	
	$(function()
	{
		$("#type").prop('disabled', true);
	});

	function addFile()
	{
		$('<div style="display: none;"><input type="file" name="upload[]" class="file" /></div>').appendTo($('.files-wrap')).slideDown("fast");

		return false;
	}
	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		$(window).unbind('beforeunload');

		return true;
	}

	function deleteFileAjax(id)
	{
		var ret = sure("<?php echo $this->translate('Are you sure to delete?')?>");

		if ( ret == false )
		{
			return false;
		}
		
		$.ajax({
			url: "<?php echo $this->baseUrl()?>/graduation/documents/delete-file",
			type: "post",
			data: {'id':id},
			dataType: 'json',
			success: function(data)
			{
				if (data.msg == '' )
				{
					$('#filerow-'+id).remove();
				}
				else
				{
					alert(data.msg);
				}
			},
			error:function(){
				  alert("failure");
			}  
		});

		return false;
	}
</script>