<div class="message toolbar">
	<h2><?php echo $this->translate("Room Type");?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module' => 'hostel', 'controller' => 'chargessetup', 'action' => 'index'), 'default', true); ?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form id="form" name="form" action="" method="POST"   enctype="multipart/form-data" >
	<fieldset>
		<legend>
			<?php echo $this->translate("Room Type");?>
		</legend>
		<table class="table" width="100%">
			<tr>
				<td><?php echo $this->translate("Name");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjchagessetupForm->RoomType;?> <?php echo $this->lobjchagessetupForm->IdHostelRoomType;?>
				</td>
				<td><?php echo $this->translate("Code");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjchagessetupForm->RoomCode;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Room Type");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjchagessetupForm->RoomFeature;?></td>
				<td><?php //echo $this->translate("$this->defaultlanguage");?></td>
				<td><?php //echo $this->lobjchagessetupForm->DefaultLang;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Occupancy Type");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjchagessetupForm->OccupancyType;?></td>
				<td></td>
				<td></td>
			</tr>
			
		</table>
		<table class="table" width="100%">
			<tr>
				<th width="30%"><?php echo $this->translate('Upload Photo'); ?></th>
				<td>
					<div>
						<input type="file" name="unit_photo[]"><br />
						
					</div>
					<br />
					<a href="javascript:add_more_file();"  id="fileuploadsection" style="font-size:medium;"> + Add More</a>
				</td>
				<td>
					<?php foreach($this->filelist as $cur_files) { ?>
						<div id="file_<?php echo $cur_files['id']; ?>">
						<?php echo $cur_files['name']; ?>
						<a href="#!" onclick="deletefile(<?php echo $cur_files['id']; ?>)"><?php echo $this->translate('Remove'); ?></a>
						</div>

					<?php } ?>
				</td>
			</tr>
		</table>
		<br />
		<table class="table" width="100%">
			<tr>
				<td colspan="8" align="center">
					<?php echo $this->lobjchagessetupForm->Save;?>
				</td>
			</tr>
		</table>

	</fieldset>
</form>
<script>
function validateform(){
	if(dijit.byId("RoomType").value==''){
	    dijit.byId("RoomType").attr('required','true');
		dijit.byId("RoomType").focus();
		return false;
	}
	if(dijit.byId("RoomCode").value==''){
	    dijit.byId("RoomCode").attr('required','true');
		dijit.byId("RoomCode").focus();
		return false;
	}

	return true;
}

function add_more_file() {
		$('#fileuploadsection').before('<div><input type="file" name="unit_photo[]"> <a href="#!" onclick="$(this).parent().remove();"><?php echo $this->translate('Remove'); ?></a></div><br />');
}

function deletefile(id) {
	if(confirm('<?php echo $this->translate('Delete this photo?'); ?>')) {
	$.ajax({
	  type: "POST",
	  url: "<?php echo $this->url(array('module' => 'hostel', 'controller' => 'chargessetup', 'action' => 'deletefile'), 'default', true); ?>",
	  data: { id: id }
	})
	  .done(function( msg ) {
	    $('#file_' + id).remove();
	  });
	} else {
		
	}
}

</script>