<div class="message toolbar">
	<h2><?php echo $this->translate("Room Type Setup");?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'chargessetup', 'action'=>'newchargessetup'),'default',true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
		<script>
		$(document).ready(
			function() {
				$('.edit_button').click(function() {
					id = $('input[type="radio"][name="edit_id"]:checked').val();
					if( typeof(id) != "undefined" ) {
						window.location = '<?php echo $this->baseUrl();?>/hostel/chargessetup/editchargesetup/id/' + id;
					}
				});
			}
		);
		</script>
	</div>
</div>
<br />

<fieldset>
	<legend>
		<?php echo $this->translate("Search");?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/hostel/chargessetup/index/search/1"
		method="POST">
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Name");?></td>
				<td><?php echo $this->lobjform->field3;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Code");?></td>
				<td><?php echo $this->lobjform->field2;?></td>
			</tr>
			
			
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>

			</tr>
		</table>
	</form>
</fieldset>
<br />

<?php if($this->blankMsg=='1') { ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td align="center" style="color: red">No matching record found. Try
			different keywords.</td>
	</tr>
</table>
<?php } ?>



<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate('Code'); ?></th>
		<th><?php echo $this->translate('Name'); ?></th>
		<th></th>
	</tr>	
<?php if ( count($this->hostelroominfo) ){ ?>
	<?php foreach($this->hostelroominfo as $key => $room_info) {
		?>
		<tr>
			<td>
				<a href="<?php echo $this->baseUrl();?>/hostel/chargessetup/editchargesetup/id/<?php echo $room_info['IdHostelRoomType'];  ?>">
				<?php echo $room_info['RoomCode']; ?>
				</a>
			</td>
			<td>
				  <?php echo $room_info['RoomType']; ?>
				</a>
			</td>
			<td>
				<a href="<?php echo $this->baseUrl();?>/hostel/chargessetup/editmaincharge/id/<?php echo $room_info['IdHostelRoomType'];  ?>">Edit</a>

			</td>
		</tr>
	<?php }?>
<?php }?>
</table>
