<script type="text/javascript">

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').prop('checked', true);
			 $('.chk2').removeAttr("disabled"); 
			
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
			 $('.chk2').prop('checked', false);
			 $('.chk2').attr("disabled", "disabled"); 
		 }
	 });


	 $( "#dialog-search" ).dialog({
	        autoOpen: false,
	        width: 500,
	        modal: true,
	        buttons: {
	            "Cari": function() {	               
	                $('#searchForm').submit();
	            }
	        }
	    });

	
	 
});

function searchStudent(){
	$( "#dialog-search" ).dialog('open');	
}


function generate(){

	 var isChecked = $('.chk').is(':checked');

	 if(isChecked==true){		 
		 	url="<?php echo $this->url(array('module'=>'examination','controller'=>'generate-grade','action'=>'generate'), 'default', true);?>";
			$("#formGenerate").attr('action',url);	
			$("#formGenerate").submit();   
	 }else{
		alert("You did not select any student. Please select.");
	 }
	 
	
}


function check(element,index){

	var student_mark = "#student_mark"+index;		
	
	if($(element).is(":checked")){		
		$(student_mark).removeAttr("disabled"); 
	}else{	
		$(student_mark).attr("disabled", "disabled"); 
	}
	
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			<?php if($this->disableGenerate == 'false'):?>
            <li>
				<a href="#" onclick="generate();">
					<span class='process'></span>
					<?php echo $this->translate('Generate');?>
				</a>
			</li>
            <?php else :?>
            <li>
				
					<span class='process'></span>
					<?php echo $this->translate('Generate');?>
				
			</li>
            <?php endif;?>
			<li>
				<a href="#" onclick="searchStudent();">
					<span class='search'></span>
					<?php echo $this->translate('Search');?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/examination/generate-grade/group-list">
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>
<?php if($this->disableGenerate == 'true'){?>
<div class="message error"><strong><?php echo 'Can\'t generate grade for this subject';?></strong>.</div>
<br />
<?php }?>
<fieldset>
	<legend><?php echo $this->translate('Section Info');?></legend>
	
<table>
		<tr>
					<td><?php echo $this->translate("Subject"); ?></td>
					<td>:</td>
					<td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> - <?php echo $this->subject['SubCode'];?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Section Name"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Section Code"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['GroupCode']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Lecturer"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['FullName']; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Semester"); ?></td>
					<td>:</td>
					<td><?php echo $this->group['semester_name']; ?></td>
				</tr>
			
</table>

</fieldset>

<br></br>

<?php if(count($this->student_list)>0){?>

<h3><?php echo $this->translate("Student List");?></h3>

<form id="formGenerate" method="post" action="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-approval','action'=>'approve-mark'), 'default', true);?>">
<input type="hidden" name="idSemester" value="<?php echo $this->idSemester;?>">
<input type="hidden" name="idProgram" value="<?php echo $this->idProgram;?>">
<input type="hidden" name="idSubject" value="<?php echo $this->idSubject;?>">
<input type="hidden" name="idGroup" value="<?php echo $this->idGroup;?>">


<table class="table" width="100%">
	<tr>
		<th width="20px"><?php echo $this->translate('Bil');?></th>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('Student ID');?></th>	
		<th><?php echo $this->translate('Student Mark');?></th>	
		<th><?php echo $this->translate('Grade Point');?></th>	
		<th><?php echo $this->translate('Grade Desc');?></th>	
		<th><?php echo $this->translate('Grade Status');?></th>	
		<th><?php echo $this->translate('Exam Status');?></th>				
		<th><?php echo $this->translate('Generate?');?><br><input type="checkbox" name="checkall" id="checkall" >&nbsp;<?php echo $this->translate("Check All ?")?></th>
	</tr>
	<?php
			foreach($this->student_list as $index=>$student){
	?>
	<tr>
		<td><?php echo $index+1;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":"";?>
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":"";?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']." ":"";?>
		</td>
		<td align='center'><?php echo $student['registrationId'];?></td>	
		<td align="center"><?php echo $student['student_mark'];?></td>	
		<td align="center"><?php echo $student['grade_point'];?></td>	
		<td align="center"><?php echo $student['grade_desc'];?></td>	
		<td align="center">
		 <?php if(isset($student['grade_status'])){
		          if($student['grade_status']=='Pass') echo 'Lulus';
		          if($student['grade_status']=='Fail') echo 'Tidak Lulus';
		     }?>
		</td>	
		<td align="center"><?php echo $student['exam_status'];?></td>		
		<td  align="center">	
		<input type="hidden" class='chk2' name="student_mark[<?php echo $student["IdStudentRegSubjects"];?>]" id="student_mark<?php echo $index; ?>" value="<?php echo $student["student_mark"];?>" disabled>
		<input type="checkbox" id="idStudentRegSub" name="idStudentRegSub[]" class='chk' value="<?php echo $student["IdStudentRegSubjects"];?>" onclick="check(this,<?php echo $index;?>)">
	
		</td>
	</tr>
	<?php
	} 
	?>
</table>
</form>

<?php } ?>


<div id="dialog-search" title="<?php echo $this->translate("Search Student"); ?>">
<form id="searchForm" method="post">
<table>
	<tr><td><?php echo $this->translate('Student Name/Student ID');?></td><td>:<input type="text" name="student" id="student"></td></tr>
</table>
</form>  
</div>
