
<script type="text/javascript">
	$(function() {
	    $( "#dialog-add-plan" ).dialog({
	        autoOpen: false,
	        modal: true,
	        width: '650',
	        buttons: {
	            "Add": function() {
	            	$('#form_add_plan_form').submit();
	            },
	            Cancel: function() {
	                $( this ).dialog( "close" );
	            }
	        }
	    });
	});
	
	function del(){
		var code = $('input[name=code]:checked').val();

		if(!code){
			alert('<?php echo $this->translate("Please select item first"); ?>');
		}else{
			if(confirm('<?php echo $this->translate("Confirm to delete?"); ?>')){
				window.location = "<?php echo $this->url(array('module'=>'student','controller'=>'highschool-discipline', 'action'=>'delete'),'default',true); ?>/code/"+code;
			}
		}
	}

	function planDetail(plan_id){
		if(plan_id==""){
			alert('<?php echo $this->translate("Please select item first"); ?>');
		}else{
			window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-plan', 'action'=>'plan-detail'),'default',true); ?>/id/"+plan_id;
		}
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-plan', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div width="500px">
	<table class="table2" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="150px"><?php echo $this->translate("Fee Structure Name"); ?></th>
			<td><?php echo $this->fee_structure['fs_name']; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Intake Start"); ?></th>
			<td><?php echo $this->fee_structure['s_intake_bahasa']; ?> (<?php echo $this->fee_structure['start_date']; ?>)</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Intake End"); ?></th>
			<td>
				<?php echo $this->fee_structure['e_intake_bahasa']!=null?$this->fee_structure['e_intake_bahasa']:""; ?>
				<?php echo $this->fee_structure['e_end_date']!=null?"(".$this->fee_structure['e_end_date'].")":""; ?>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Category"); ?></th>
			<td><?php echo $this->fee_structure['Description']; ?></td>
		</tr>
	</table>	
</div>

<br />
<div>
	<input type="button" value="<?php echo $this->translate("Add Payment Plan");?>" onclick="$( '#dialog-add-plan' ).dialog('open');" />
</div>


<table class="table" width="70%">
		<thead>
			<tr>
				<th><?php echo $this->translate("Plan Name");?></th>
				<th><?php echo $this->translate("Billing No");?></th>
				<th><?php echo $this->translate("Bil. Installment");?></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
<?php 
	/*
	 * Loop Fee Structure plan
	 */
if($this->fee_structure_plan_list){
	foreach ($this->fee_structure_plan_list as $plan):
?>
	<tr>
		<td width="30%"><?php echo $plan['fsp_name']?></td>
		<td><?php echo $plan['fsp_billing_no']?></td>
		<td width="10%" align="center"><?php echo $plan['fsp_bil_installment']?></td>
		<td width="20%" align="center" >
			<a href="#" onclick="planDetail('<?php echo $plan['fsp_id'];?>');"><?php echo $this->translate("Detail"); ?></a> | 
			<a href="#"><?php echo $this->translate("Remove"); ?></a>
		</td>
	</tr>	
<?php 
	endforeach;
}
?>
	</tbody>
</table>

<!-- ADD PLAN DIALOG -->
<div id="dialog-add-plan" title="<?php echo $this->translate("Add Payment Plan"); ?>">
    <form id="form_add_plan_form" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'payment-plan', 'action'=>'add'),'default',true); ?>">
    	<input type="hidden" name="fsp_structure_id" value="<?php echo $this->id; ?>" />
    	<dl class="zend_form">
	    	<dt><?php echo $this->translate("Name"); ?></dt>
	    	<dd>
	    		<input type="text" name="fsp_name" maxlength="100" />
	    	</dd>
	    	<dt><?php echo $this->translate("Billing No."); ?></dt>
	    	<dd>
	    		<input type="text" name="fsp_billing_no" maxlength="3" />
	    	</dd>
	    	<dt><?php echo $this->translate("Bil. Installment"); ?></dt>
	    	<dd>
	    		<input type="text" name="fsp_bil_installment" maxlength="3" />
	    	</dd>
    	</dl>
    </form>
</div>