<script>

$(function() {

	getProgramScheme('#IdProgram');

	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
    $( "#dialog-message" ).dialog({
      modal: true,
      autoOpen: false,
      width: 600,
      buttons: {
        "Close": function() {
          $( this ).dialog( "close" );
        },
        "Confirm": function() {
                      
            var isChecked = $('#chk_txn_id').is(':checked');
              			
            if(isChecked==false) {
				alert("Please tick the checkbox to confirm!");
            }else{      
            	//buat ajax save data then close page
            	chk_txn_id = $("#chk_txn_id").val();  
	            $.ajax({
	    			url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'verify'),'default',true);?>",
	    			data: {'chk_txn_id':chk_txn_id},
	    			type: 'POST',
	    			dataType: 'json'	
	    		})
	            parent.location.reload(true);
	            $( this ).dialog( "close" );
            }//end else chk_txn_id
          }
      }
    });

    
    $('#registrationForm').submit(function(e){

    	
    	flag = checkboxValidate();
   	
    	if(flag){	
    		 alert('Please ensure registration items have been created in Registration Item Setup screen to successfully register for initial registration courses.'); 	  
    		 msg = confirm("Are you sure you want to register?");
    		 if(msg){	
				return true;
    		 }else{
    			return false;
    		 }
    		
    	}else{
  		  e.preventDefault();
    	}	
    	
    });
    
});

function enabled(element,no){
	 var isChecked = $(element).is(':checked');

	 if(isChecked==true){	
		 $('#IdSemester'+no).prop('disabled', false);
		 $('#IdIntake'+no).prop('disabled', false);
		 $('#IdLandscape'+no).prop('disabled', false);
		 $('#IdProgram'+no).prop('disabled', false);
		 $('#IdProgramScheme'+no).prop('disabled', false);
		 $('#IdBranch'+no).prop('disabled', false);
		 $('#appl_id'+no).prop('disabled', false);
	 }else{
		 $('#IdSemester'+no).prop('disabled', 'disabled');
		 $('#IdIntake'+no).prop('disabled', 'disabled');
		 $('#IdLandscape'+no).prop('disabled', 'disabled');
		 $('#IdProgram'+no).prop('disabled', 'disabled');
		 $('#IdProgramScheme'+no).prop('disabled', 'disabled');
		 $('#IdBranch'+no).prop('disabled', 'disabled');
		 $('#appl_id'+no).prop('disabled', 'disabled');
	 }
}

function enableRegister(txn_id){
	$('input:checkbox[name="txnId\[\]"][value="'+txn_id+'"]').removeAttr("disabled");	
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    	$('.chk3').prop('disabled',false);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
			 $('.chk3').prop('disabled', 'disabled');
		 }
	 });
	
	 
});



function checkboxValidate(){	

	var flag = false;
	
	$('input[type=checkbox]:checked').each(function()
	{
	   flag = true;
	});


	if(!flag){		
		alert("Please select at least one applicant for registration.");             	
		return false;
	}

	
	if ($('#student_type option:selected').val() == 0) {
		alert("Please select student type.");             	
		return false;
    }

	return true;
}

function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php if(!empty($this->IdProgramScheme)) echo $this->IdProgramScheme; ?>';

		if(idProgram){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$('#IdProgramScheme').empty();
						$('#IdProgramScheme').append('<option value="">-- All --</option>');			    	
				    	$.each(data, function(index) {
					    	if(IdProgramScheme==data[index].IdProgramScheme){
								var sel = 'selected';
					    	}else{
								var sel = '';
					    	}
					    	if(data[index].ProgramType!=' '){
					    		var program_type = '-'+data[index].ProgramType;
					    	}else{
					    		var program_type = '';
					    	}
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+'-'+data[index].StudyMode+program_type+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
		}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}


</script>

<style>
.element {
    font-size: 12px;
}
.redText{
	 color: red;
}
</style>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
	</div>
</div>

<?php echo $this->form;?>

<?php
if(count($this->results)>0){ 
?>




<fieldset><legend><?php echo $this->translate("Registration Details");?></legend>

<div  class="message notice">Please ensure registration items have been created in Registration Item Setup screen to successfully register for initial registration courses.</div>

<br>

<form id="registrationForm" name="registrationForm" method="POST" action="<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'register'),'default',true);?>">

<table class="" width="60%">	
	<tr>		
		<th style="width: 97px;"><?php echo $this->translate("Student Type"); ?><span class="reqMark"> *</span></th>
		<td>:
		<select name="student_type" id="student_type" class='element'>
		    <?php 
		    if(count($this->student_type > 0)){
				foreach ($this->student_type as $type){
		   	?>
			<option value="<?php echo $type["idDefinition"]?>"><?php echo ($this->locale=='ms_MY')? ucwords(strtolower($type["BahasaIndonesia"])):ucwords(strtolower($type["DefinitionDesc"]));?></option>
			<?php } 
		    } ?>
		</select>
		</td>  
	</tr>	
</table>

<br>

<h4><?php echo $this->translate("Please select applicants"); ?>.</h4>



<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Applicant Name");?></th>
		<th><?php echo $this->translate("Applicant ID"); ?></th>
		<th><?php echo $this->translate("Programme"); ?></th>
		<th><?php echo $this->translate("Programme Scheme"); ?></th>
		<th><?php echo $this->translate("Semester Intake"); ?></th>	
		<th><?php echo $this->translate("Application Date"); ?></th>
		<th><?php echo $this->translate("Payment Status");?></th>		
		<th><?php echo $this->translate("Semester"); ?></th>
		<th><?php echo $this->translate("Landscape"); ?></th>
		<!--
		<th><?php echo $this->translate("Student Category");?></th>							
		-->
		
		<th>
			<?php echo $this->translate("Register?");?> <br>
		    <input type="checkbox" id="checkall"  value="" >
		</th>		
	</tr>

	<?php 
	$no =1; 
	$class2 = 'chk3';
	foreach ($this->results as $index=>$lobjstudents){ 	
			
			if(count($lobjstudents['semester'])==0 || $lobjstudents['payment_status']==9 || count($lobjstudents['landscape'])==0){
				$disabled = 'disabled';
				$class2 = 'chk4';
			}else{
				$disabled = '';
				$class2 = 'chk3';
			}
			
	?>
	<tr>
	    <td align='center'><?php echo $no;?>.</td>
		<td><?php echo $lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname'];?></td>
		<td align='center'><?php echo $lobjstudents['at_pes_id'];?></td>		
		<td align='center'><?php echo $lobjstudents['ProgramCode']; //($this->locale=='ms_MY')? $lobjstudents['ArabicName']:$lobjstudents['ProgramName']; ?></td>
		<td align='center'>
		 <?php 
                 if($this->locale=='ms_MY'){
                     echo $lobjstudents['ProgramModeMy'].' '.$lobjstudents['StudyModeMy'].' '.$lobjstudents['ProgramTypeMy'];
                 }else{
                 	 echo $lobjstudents['ProgramMode'].' '.$lobjstudents['StudyMode'].' '.$lobjstudents['ProgramType'];
                 }
         ?>
		</td>
		<td align='center'>
		<?php echo ($this->locale=='ms_MY')? $lobjstudents['IntakeDefaultLanguage']:$lobjstudents['IntakeDesc']; ?>
		<input type='hidden' name='IdIntake[<?php echo $lobjstudents['at_trans_id'];?>]' id='IdIntake<?php echo $index; ?>' value='<?php echo $lobjstudents['at_intake']; ?>' class='<?php echo $class2; ?>' disabled>
		</td>
		
		<td align='center'><?php echo ($lobjstudents['at_submit_date']!='') ? date("d-m-Y",strtotime($lobjstudents['at_submit_date'])):'';?></td>
		<td align='center'>
		<?php 
			if($lobjstudents['payment_status']==1) {
				echo $this->translate('Paid');
			}else if($lobjstudents['payment_status']==2){
				echo '<span class="redText">'.$this->translate('Pending').'</span>';
			}else if($lobjstudents['payment_status']==3){
				echo $this->translate('No Invoice');
			}
		 ?>	
		</td>	
			
		<td align='center'>	
			<?php if(count($lobjstudents['semester'])>0){?>
				<select name="IdSemester[<?php echo $lobjstudents['at_trans_id'];?>]" id="IdSemester<?php echo $index; ?>" class='select <?php echo $class2; ?>' disabled>
				    <?php
						foreach ($lobjstudents['semester'] as $semester){
				   	?>
						<option value="<?php echo $semester["IdSemesterMaster"]?>"><?php echo $semester['SemesterMainCode'].' - '.$semester['SemesterMainName'];?></option>
					<?php } 
				    ?>
				</select>
			<?php }else{ 
				echo '<span class="redText">'.$this->translate('No appropriate semester is set up').'</span>';				
			} ?>
			
			<?php 
			/*if($lobjstudents['semester']['IdSemesterMaster']!='') {
				echo $lobjstudents['semester']['SemesterMainName'];
				echo "<input type='hidden' id='IdSemester".$index."' name='IdSemester[".$lobjstudents['at_trans_id']."]' value='".$lobjstudents['semester']['IdSemesterMaster']."' class='".$class2."' disabled>";
			}else{
				echo '<span class="redText">'.$this->translate('Not available').'</span>';
			} */
			?>		
		</td>	
		
		<td align='center'>
			<?php if(count($lobjstudents['landscape'])>0){?>
				<select name="IdLandscape[<?php echo $lobjstudents['at_trans_id'];?>]" id="IdLandscape<?php echo $index; ?>" class='select <?php echo $class2; ?>' disabled>
				    <?php 		  
				    if($lobjstudents['landscape']){
						foreach ($lobjstudents['landscape'] as $landscape){
				   	?>
						<option value="<?php echo $landscape["IdLandscape"]?>"><?php echo ucwords(strtolower($landscape["ProgramDescription"]))?></option>
					<?php } 
				    } ?>
				</select>
			<?php }else{ 
				echo '<font color="red">'.$this->translate('Not available').'</font>';				
			} ?>
		</td>
		
		<!--
		<td align='center'><?php echo ($this->locale=='ms_MY')? $lobjstudents['student_category_my']:$lobjstudents['student_category']; ?></td>
		-->
		
		<td align='center'>			
			<input  type='hidden' name='IdBranch[<?php echo $lobjstudents['at_trans_id'];?>]' id='IdBranch<?php echo $index; ?>' value='<?php echo $lobjstudents['branch_id'];?>' class='<?php echo $class2; ?>' disabled>
			<input  type='hidden' name='IdProgram[<?php echo $lobjstudents['at_trans_id'];?>]' id='IdProgram<?php echo $index; ?>' value='<?php echo $lobjstudents['ap_prog_id'];?>' class='<?php echo $class2; ?>' disabled>
			<input  type='hidden' name='IdProgramScheme[<?php echo $lobjstudents['at_trans_id'];?>]' id='IdProgramScheme<?php echo $index; ?>' value='<?php echo $lobjstudents['ap_prog_scheme'];?>' class='<?php echo $class2; ?>' disabled>			
			<input  type="hidden" name="appl_id[<?php echo $lobjstudents['at_trans_id'];?>]" id="appl_id<?php echo $index; ?>" value="<?php echo $lobjstudents['at_appl_id'];?>" class='<?php echo $class2; ?>' disabled>
			<input  type="checkbox" class="chk" id="txnId[<?php echo $lobjstudents['at_trans_id'];?>]" name="txnId[]" value="<?php echo $lobjstudents['at_trans_id'];?>" <?php echo $disabled; ?> onclick='enabled(this,<?php echo $index;?>)'> 
		</td>
	</tr>
	<?php $no++;} ?>
	</table>
<br>
	    <?php if(count($this->results)>0){?>
		<div class='form-opt'>
		<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
		</div>
		<?php } ?>
</form>


<?php } ?>

</fieldset>