<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>

<br></br>

<h3><?php echo $this->translate("Registration Status");?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Applicant Name");?></th>
		<th><?php echo $this->translate("Transaction ID"); ?></th>
		<th><?php echo $this->translate("Status"); ?></th>
		<th><?php echo $this->translate("Function"); ?></th>
		<th><?php echo $this->translate("Message"); ?></th>
	</tr>
	<?php 
		
	//echo '<pre>';
	//print_r($this->stack_failed);
	
	if(count($this->stack_failed)>0){
	foreach($this->stack_failed as $index=>$stack){
	
		if($stack['status']=='Fail'){
			$function = $stack['function'];
			$message = $stack['error_message'];
		}else{
			$function = ' - ';
			$message = ' - ';
		}
		
	?>
	<tr>
		<td><?php echo $index+1; ?></td>
		<td><?php echo $stack['name'];?></td>
		<td><?php echo $stack['txn_id'];?></td>
		<td><?php echo $stack['status']; ?></td>
		<td><?php echo $function;?></td>
		<td><?php echo $message;?></td>
	</tr>
	<?php } 
	}?>
</table>