<table class="table" width="100%">
	<tr>
		<th width="30%"><?php echo $this->translate("Gambar 4x6");?></th>
		<td><?php echo $this->photopath;?>
		</td>
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("KTP/SIM (Citizen Id)");?></th>
		<td><?php echo $this->nricpath; ?>
		</td>
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("Surat Dokter Tidak Buta Warna");?></th>
		<td>
		<?php 		
		echo '<ul>';	
		foreach($this->medical as $m){			
			$medicalpathupload=$m["pathupload"];
			if($medicalpathupload){
				$dt = explode("triapp",$medicalpathupload);
				$path = $dt[1];				
				echo $medicalpath ="<li><a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a></li>";
			}
		}
		echo '</ul>';	
		?>
		</td>
	</tr>
	<?php if($this->data['at_appl_type']==2){?>
	<tr>
		<th width="30%"><?php echo $this->translate("Raport Halaman Identitas, Halaman nilai Kelas 1 dan 3, serta 3");?></th>
		<td>
		<?php 		
		echo '<ul>';
		foreach($this->raport as $r){	
	    	$raportpathupload=$r["pathupload"];
			if($raportpathupload){
				$dt = explode("triapp",$raportpathupload);
				$path = $dt[1];
				echo $raportpath ="<li><a target='_blank' href=http://".ONNAPP_HOSTNAME.$path.">".$this->translate('Download')."</a></li>";
			}
		}
		echo '</ul>';	
		?>
		</td>
	</tr>
	<?php } ?>
	
	<tr>
	<td colspan=2>	
	<input type="checkbox" name="chk_txn_id" id="chk_txn_id" value="<?php echo $this->txn_id;?>">
	<?php echo $this->translate("I hereby certify that these documents are a true copy of the original.")?>
	
	</td>
	</tr>
</table>