<style>
.makebold { font-weight: bold;  }   
</style>

<fieldset>
<legend>Academic Progress</legend>
<table width="100%" class="table">
    
<tr>
	<td class="makebold" width="30%">Name</td>
	<td><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['LName']; ?></td>
</tr>

<tr>
	<td class="makebold">Student ID</td>
	<td><?php echo $this->studentdetails['registrationId']; ?></td>
</tr> 
    
<tr>
	<td class="makebold">Scheme</td>
	<td><?php echo $this->studentdetails['EnglishDescription']; ?></td>
</tr>
<tr>
	<td class="makebold">Faculty</td>
	<td><?php echo $this->studentdetails['CollegeName']; ?></td>
</tr>
<tr>
	<td class="makebold">Program</td>
	<td><?php echo $this->studentdetails['ProgramName']; ?></td>
</tr>
<tr>
	<td class="makebold">Intake</td>
	<td><?php echo $this->studentdetails['IntakeId'];  ?></td>
</tr>

<tr>
	<td class="makebold">Branch</td>
	<td><?php echo $this->studentdetails['BranchName'];  ?></td>
</tr>

<tr>
	<td class="makebold">Profile Status</td>
        <td><?php echo strtoupper($this->studentdetails['DefinitionCode']);  ?></td>
</tr>

</table>

<table width="100%" class="table">
	<h1 align="center">LIST OF REGISTERED & COMPLETED COURSES </h1>
        <tr>
		<th width="10%">Year</th>
		<th width="10%">Semester</th>
		<th width="20%">Course Type</th>
		<th width="20%">Course ID</th>
		<th width="20%">Course Description</th>
		<th width="10%">Credit Hours</th>
                <th width="10%">Grade</th>
	</tr>
        
        
        <?php 
                if(count($this->larrsemesterlistregsummy)>0) {
                foreach($this->larrsemesterlistregsummy as $item) { ?>
                <tr>
                <td width="150" ><?php echo 'Dummy'; ?></td>
                <td width="150" ><?php echo 'Dummy'; ?></td>	
                <td width="200" ><?php echo $item['SubjectType'] ?></td>
                <td><?php echo $item['SubCode'].'-'.$item['SubjectName']; ?></td>
                <td><?php echo $item['CourseDescription']; ?></td>
                <td><?php echo $item['CreditHours']; ?></td>
                <td><?php echo $item['Grade']; ?></td>
                </tr>                
                <?php } }  ?>
        
        
        <?php 
            if(count($this->larrblocklist)>0) { 
            foreach($this->larrblocklist as $key => $value) { 
            $larrtemp = array_keys($value);
            //$lstrsemester = $larrtemp[0];
            //echo count($value[$lstrsemester]);
            foreach ($larrtemp as $key2=>$value2) { 
                     $lstrsemester = $value2;
            
        ?>
        <?php if(count($value[$lstrsemester]) > 0) { ?>
         <tr>
            <td rowspan="<?php echo count($value[$lstrsemester]) ?>"><?php echo 'Year'.$key; ?></td>
            <td rowspan="<?php echo count($value[$lstrsemester]) ?>"><?php echo $lstrsemester; ?></td>
            <td><?php echo $value[$lstrsemester][0]['SubjectType'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['SubCode'].'-'.$value[$lstrsemester][0]['SubjectName']; ?></td>
            <td><?php echo $value[$lstrsemester][0]['CourseDescription'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['CreditHours'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['Grade']; ?></td>
        </tr>
        <?php } ?>
        <?php for($i=1;$i<count($value[$lstrsemester]);$i++) { ?>
        <tr>
            <td><?php echo $value[$lstrsemester][$i]['SubjectType'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['SubCode'].'-'.$value[$lstrsemester][$i]['SubjectName']; ?></td>
            <td><?php echo $value[$lstrsemester][$i]['CourseDescription'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['CreditHours'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['Grade']; ?></td>
        </tr>
        <?php } } ?>
        <?php } } ?>
</table>      

<table width="100%" class="table">
	<h1 align="center">LIST OF REMAINING COURSES/COURSES TO BE OFFERED</h1>
        <tr>
		<th width="10%">Year</th>
		<th width="10%">Semester</th>
		<th width="20%">Course Type</th>
		<th width="20%">Course ID</th>
		<th width="20%">Course Description</th>
		<th width="10%">Credit Hours</th>
                <th width="10%">Grade</th>
	</tr>
    
        <?php 
            if(count($this->larrblocklistUnreg)>0) {
            foreach($this->larrblocklistUnreg as $key => $value) { 
            $larrtemp = array_keys($value);                    
            //$lstrsemester = $larrtemp[0];
            foreach ($larrtemp as $key2=>$value2) { 
                     $lstrsemester = $value2;
        ?>
        <?php if(count($value[$lstrsemester]) > 0) { ?>
         <tr>
            <td rowspan="<?php echo count($value[$lstrsemester]) ?>"><?php echo 'Year'.$key; ?></td>
            <td rowspan="<?php echo count($value[$lstrsemester]) ?>"><?php echo $lstrsemester; ?></td>
            <td><?php echo $value[$lstrsemester][0]['SubjectType'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['SubCode'].'-'.$value[$lstrsemester][0]['SubjectName']; ?></td>
            <td><?php echo $value[$lstrsemester][0]['CourseDescription'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['CreditHours'] ?></td>
            <td><?php echo $value[$lstrsemester][0]['Grade']; ?></td>
        </tr>
        <?php } ?>
        <?php for($i=1;$i<count($value[$lstrsemester]);$i++) { ?>
        <tr>
            <td><?php echo $value[$lstrsemester][$i]['SubjectType'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['SubCode'].'-'.$value[$lstrsemester][$i]['SubjectName']; ?></td>
            <td><?php echo $value[$lstrsemester][$i]['CourseDescription'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['CreditHours'] ?></td>
            <td><?php echo $value[$lstrsemester][$i]['Grade']; ?></td>
        </tr>
        <?php }   } ?>
        
       
        <?php } } ?>
        
                        
</table>      







<p></p>

<table width="100%" class="table">
    

<tr>
	<td class="makebold" width="30%">Total Credit Taken</td>
	<td><?php echo $this->totalCreditTaken; ?></td>
</tr>

<tr>
	<td class="makebold">Total Credit Earn</td>
	<td><?php echo $this->totalCreditEarn; ?></td>
</tr> 
    
<tr>
	<td class="makebold">Remaining Credit to be Completed</td>
	<td><?php echo $this->totalCreditToComplete['totalcredit']; ?></td>
</tr>
<tr>
	<td class="makebold">Minimum Credit to Graduate</td>
	<td><?php echo $this->minCreditGrad['TotalCreditHours']; ?></td>
</tr>
    
<tr>
	<td class="makebold">Outstanding Balance</td>
	<td></td>
</tr>
<tr>
	<td class="makebold">Sponsorship</td>
	<td></td>
</tr>

<tr>
	<td class="makebold">Current CGPA:</td>
	<td></td>
</tr>

</table>


<table class="table" width="100%">
	<tr align="right">
		<td><input type="button" class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'academicprogress', 'action'=>'index'),'default',true);?>';" />
		
		<input type="button" class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Download"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'academicprogress', 'action'=>'exportacademicprogress','idstudent'=>$this->idstudent),'default',true);?>';" />
		</td>
	</tr>
</table>
</fieldset>