<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	dijit.byId('field25').set('value','');
	dijit.byId('field25').set('placeHolder','Select');
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
        dijit.byId('field23').set('value','');
	dijit.byId('field23').set('placeHolder','Select');
        dijit.byId('field24').set('value','');
	dijit.byId('field24').set('placeHolder','Select');
        dijit.byId('field27').set('value','');
	dijit.byId('field27').set('placeHolder','Select');
	});
	
	
	function fnFacultyDetails(Value){
			if(Value != "")
				{ 
					var xhrArgs = {
							url: "<?php  echo $this->baseUrl();?>"+"/records/studentprofile/getcollegedetails/field12/"+Value,
							handleAs:'json',
							load:function(data){ 
							 //alert(data);
							AutoFillNextEditableDropDowneee("field8",data); 
							}
					   }
					dojo.xhrGet(xhrArgs); 
				} 
		}
		
		function AutoFillNextEditableDropDowneee(EditableDropDownId,JSONText){
			dijit.byId(EditableDropDownId).setValue("");
			var ddwidget = dijit.byId(EditableDropDownId);
			ddwidget.setAttribute('disabled', false);
			var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
			ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Student Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/records/academicprogress/index/search/1" method="POST">
            <table width="100%">
                
                            <tr>
                                <td><?php echo $this->translate("Scheme");?></td>
                                <td ><?php echo $this->lobjform->field23;?></td>
                                <td><?php echo $this->translate("Program");?></td>
                                <td><?php echo $this->lobjform->field8;?></td>
                            </tr>
                    
                    <tr>
                        <td><?php echo $this->translate("Intake"); ?></td>
                        <td><?php echo $this->lobjform->field24; ?></td>
                        <td><?php echo $this->translate("Faculty"); ?></td>
                        <td><?php echo $this->lobjform->field27; ?></td>
                   </tr>
                
                
                <tr>
				   <td><?php echo $this->translate("Student  Name");?></td>
                   <td ><?php echo $this->lobjform->field4;?></td>
                   <td><?php echo $this->translate("Student ID");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   
                </tr>
                <tr>
                   
				   <td><?php echo $this->translate("Profile Status");?></td>
                   <td ><?php echo $this->lobjform->field25;?></td>
                    <td><?php echo $this->translate("Semester");?></td>
                   <td ><?php echo $this->lobjform->field1;?></td>
                   
                   
                </tr>
				
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate("Student Name");?></th>
	       	    <th><?php echo $this->translate($this->Program).' '.$this->translate("Name");?></th>
				  <th><?php echo $this->translate("Semester Name");?></th>
				  <th><?php echo $this->translate("Student ID");?></th>
				  <th><?php echo $this->translate("Profile Status");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjstudentapplication ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'records','controller'=>'academicprogress', 'action'=>'semesteracademicprogress' , 'idstudent'=>$lobjstudentapplication['IdStudentRegistration']),'default',true);?>" ><?php print_r($this->escape($lobjstudentapplication['appl_fname'].' '.$lobjstudentapplication['appl_mname'].' '.$lobjstudentapplication['appl_lname']));?></a></td>
	        	<td><?php echo $this->escape($lobjstudentapplication['ProgramName']);?></td>
				<?php if(isset($lobjstudentapplication['SemesterCode'])){?>
	        	<td><?php echo $this->escape($lobjstudentapplication['SemesterDesc']);?></td>
	        	<?php }else{?>
	        	<td></td>
	        	<?php }?>
				<td><?php echo $this->escape($lobjstudentapplication['registrationId']);?></td>
                                <td><?php echo strtoupper($this->escape($lobjstudentapplication ['DefinitionDesc']));?></td>
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
 
 
 
 
 