<style>
.makebold { font-weight: bold;  }   
</style>

<table width="100%" border='1'   >
	<tr>
		<td> <h1 align="center">Academic Progress</h1> </td>
	</tr>
	
	<tr>
		<td> 		
				<table width="100%" class="table" border='1' >

					<tr>
					<td class="makebold" width="30%">Name</td>
					<td align="left" ><?php echo $this->studentdetails['FName'].' '.$this->studentdetails['LName']; ?></td>
					</tr>

					<tr>
					<td class="makebold">Student ID</td>
					<td align="left" ><?php echo $this->studentdetails['registrationId']; ?></td>
					</tr> 

					<tr>
					<td class="makebold">Scheme</td>
					<td align="left" ><?php echo $this->studentdetails['EnglishDescription']; ?></td>
					</tr>
					<tr>
					<td class="makebold">Faculty</td>
					<td align="left" ><?php echo $this->studentdetails['CollegeName']; ?></td>
					</tr>
					<tr>
					<td class="makebold">Program</td>
					<td align="left" ><?php echo $this->studentdetails['ProgramName']; ?></td>
					</tr>
					<tr>
					<td class="makebold">Intake</td>
					<td align="left" ><?php echo $this->studentdetails['IntakeId'];  ?></td>
					</tr>

					<tr>
					<td class="makebold">Branch</td>
					<td align="left" ><?php echo $this->studentdetails['BranchName'];  ?></td>
					</tr>

					<tr>
					<td class="makebold">Profile Status</td>
					<td align="left" ><?php echo strtoupper($this->studentdetails['DefinitionCode']);  ?></td>
					</tr>

				</table>
		
		</td>
	</tr>
	
	
	<tr>
            <td  colspan="1"><p>&nbsp;</p></td >
	</tr>
	
	
	<tr>
	
	<td>
		<table width="100%" class="table" border="1"  >     

			<tr>
			<th  colspan="6"><h3  align="center">LIST OF REGISTERED & COMPLETED COURSES </h3></th>
			</tr>

				<tr>
				<th align="left" >Semester</th>
				<th align="left" >Course Type</th>
				<th align="left" >Course ID</th>
				<th align="left" >Course Description</th>
				<th align="left">Credit Hours</th>
				<th align="left" width="10%">Grade</th>
				</tr>
                                
                                
                                <?php 
                                if(count($this->larrsemesterlistregsummy)>0) {
                                foreach($this->larrsemesterlistregsummy as $item) { ?>
                                <tr>
                                <td  align="center" valign="top"  ><?php echo 'Dummy'; ?></td>	        
                                <td  align="left" ><?php echo $item['SubjectType'] ?></td>
                                <td align="left"  ><?php echo $item['SubCode'].'-'.$item['SubjectName']; ?></td>
                                <td align="left"  ><?php echo $item['CourseDescription']; ?></td>
                                <td align="left" ><?php echo $item['CreditHours']; ?></td>
                                <td align="left" ><?php echo $item['Grade']; ?></td>
                                </tr>                
                                <?php } }  ?>
                                
                                

                                <?php 
                                if(count($this->larrsemesterlist)>0) {
                                foreach($this->larrsemesterlist as $key => $block) { ?>
                                <tr>
                                <td   align="center" valign="top" rowspan="<?php echo count($block); ?>"><?php echo $key; ?></td>
                                <?php foreach($block as $item) { ?>
                                <td align="left" ><?php echo $item['SubjectType'] ?></td>
                                <td align="left" ><?php echo $item['SubCode'].'-'.$item['SubjectName']; ?></td>
                                <td align="left" ><?php echo $item['CourseDescription'] ?></td>
                                <td align="left" ><?php echo $item['CreditHours'] ?></td>
                                <td align="left" ><?php echo $item['Grade']; ?></td>
                                </tr>
                                <?php } ?>
                                <?php } }  ?>

		</table>  

	</td>
	</tr>
	
	<tr>
            <td  colspan="1"><p>&nbsp;</p></td >
	</tr>
	
	<tr>
	<td>
		<table width="100%" class="table" border='1'  >         

			<tr>
			<th colspan="6"><h3 align="center">LIST OF REMAINING COURSES/COURSES TO BE OFFERED </h3></th>        
			</tr>

			<tr>
			<th align="left" >Semester</th>
			<th  align="left" >Course Type</th>
			<th  align="left" >Course ID</th>
			<th  align="left" >Course Description</th>
			<th align="left" >Credit Hours</th>
			<th  align="left" width="10%">Grade</th>
			</tr>
			
                        <?php 
                        if(count($this->larrsemesterlistunreg)>0) {
                        foreach($this->larrsemesterlistunreg as $key => $block) { ?>
                        <tr>
                        <td   align="center" valign="top" rowspan="<?php echo count($block); ?>"><?php echo $key; ?></td>
                        <?php foreach($block as $item) { ?>
                        <td  align="left" ><?php echo $item['SubjectType'] ?></td>
                        <td  align="left" ><?php echo $item['SubCode'].'-'.$item['SubjectName']; ?></td>
                        <td  align="left" ><?php echo $item['CourseDescription'] ?></td>
                        <td align="left" ><?php echo $item['CreditHours'] ?></td>
                        <td align="left" ><?php echo $item['Grade']; ?></td>
                        </tr>
                        <?php } ?>
                        <?php } } ?>
			
		</table>     
	       
	</td>	
	</tr>
	
	<tr>
            <td  colspan="1"><p>&nbsp;</p></td >
	</tr>
	
	<tr>
	<td>
		<table width="100%" class="table" border='1'  >
                    
                   
                    
		<tr>
		<td class="makebold" width="30%">Total Credit Taken</td>
		<td align="left" ><?php echo $this->totalCreditTaken; ?></td>
		</tr>

		<tr>
		<td class="makebold">Total Credit Earn</td>
		<td align="left" ><?php echo $this->totalCreditEarn; ?></td>
		</tr> 

		<tr>
		<td class="makebold">Remaining Credit to be Completed</td>
		<td align="left" ><?php echo $this->totalCreditToComplete['totalcredit']; ?></td>
		</tr>
		<tr>
		<td class="makebold">Minimum Credit to Graduate</td>
		<td align="left" ><?php echo $this->minCreditGrad['TotalCreditHours']; ?></td>
		</tr>

		<tr>
		<td class="makebold">Outstanding Balance</td>
		<td align="left" ></td>
		</tr>
		<tr>
		<td class="makebold">Sponsorship</td>
		<td align="left" ></td>
		</tr>

		<tr>
		<td class="makebold">Current CGPA:</td>
		<td align="left" ></td>
		</tr>

		</table>
	</td>
	</tr>
	
	<tr>
            <td  colspan="1"><p>&nbsp;</p></td >
	</tr>
        
        
	<tr>
	<td>
		<table width="100%"  border="1" >

		
		<tr>
		<td colspan="6" align="left">Date: <?php echo date('Y-m-d H:i:s');?></td>
		</tr>
                
                
		</table>  
	</td>
	</tr>
	
	
	
</table>