<script>
    $(function() {
        $('#av_issue_date').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //maxDate: "+1D" 
        });

        $('#av_expiry').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //minDate: "-1D"
        });
    });

    function addmoreupl(element){
        var i = $('#count').val();
        $("#"+element).append('<div id="file-'+i+'"><input type="file" id="passport_65" name="passport_65[]">&nbsp;<a id="removerow" href="javascript:void(0)" onclick="removeRow('+i+');">Remove</a></div>');
        i++;
        $('#count').val(i);
    }
    
    function removeRow(i){
        $('#file-'+i).remove();
    }
</script>
<?php //echo $this->form;?>
<form action="/records/visa/add-pass" method="post" enctype="multipart/form-data" id="form1">
    <?php
    echo $this->form->p_id;
    echo $this->form->sp_id;
    echo $this->form->av_id;
    ?>
    <dl class="zend_form">
        <dt><?php echo $this->translate('Reference No.'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_reference_no; ?></dd>
        <dt><?php echo $this->translate('Date of Issue'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_issue_date; ?></dd>
        <dt><?php echo $this->translate('Expiry Date'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_expiry; ?></dd>
        <dt><?php echo $this->translate('Student Pass'); ?></dt>
        <dd>
            <div id="file1">
                <input type="file" id="document_843" name="document_843[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file1');">+ Add more</a>
            </div>
        </dd>
        <dt><?php echo $this->translate('Personal Bond'); ?></dt>
        <dd>
            <div id="file2">
                <input type="file" id="document_828" name="document_828[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file2');">+ Add more</a>
            </div>
        </dd>
        <dt><?php echo $this->translate('Visa Approval Letter (VAL)'); ?></dt>
        <dd>
            <div id="file3">
                <input type="file" id="document_829" name="document_829[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file3');">+ Add more</a>
            </div>
        </dd>
    </dl>
</form>
<input type="hidden" value="0" id="count" name="count">