<script>
    $(function() {
        $('#sdp_date_issue').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //maxDate: "+1D" 
        });

        $('#sdp_expiry_date').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //minDate: "-1D"
        });


        $('#sdp_dob').datepicker({
            /*dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: 0*/
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //yearRange: "-30:+0",
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y")-1; ?>',
            defaultDate: new Date(<?php echo date("Y")-25; ?>, 00, 01)
        });
    });

    function addmoreupl(element){
        var i = $('#count').val();
        $("#"+element).append('<div id="file-'+i+'"><input type="file" id="passport_65" name="passport_65[]">&nbsp;<a id="removerow" href="javascript:void(0)" onclick="removeRow('+i+');">Remove</a></div>');
        i++;
        $('#count').val(i);
    }
    
    function removeRow(i){
        $('#file-'+i).remove();
    }

</script>
<?php //echo $this->form;?>
<form action="/records/visa/add-dependent" method="post" enctype="multipart/form-data" id="form1">
    <?php
    echo $this->form->sdp_id;
    echo $this->form->sp_id;
    echo $this->form->av_id;
    echo $this->form->p_id;
    ?>
    <dl class="zend_form">
        <dt><?php echo $this->translate('Name'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_name; ?></dd>
        <dt><?php echo $this->translate('Relationship'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_relationship; ?></dd>
        <dt><?php echo $this->translate('Date of Birth'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_dob; ?></dd>
        <dt><?php echo $this->translate('Passport No.'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_passport_no; ?></dd>
        <dt><?php echo $this->translate('Country of Issue'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_country_issue; ?></dd>
        <dt><?php echo $this->translate('Date of Issue'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_date_issue; ?></dd>
        <dt><?php echo $this->translate('Expiry Date'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_expiry_date; ?></dd>
        <dt><?php echo $this->translate('Nationality'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->sdp_nationality; ?></dd>
        <dt><?php echo $this->translate('Front Page Passport'); ?></dt>
        <dd>
            <div id="file1">
                <input type="file" id="passport_65" name="passport_65[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file1');">+ Add more</a>
            </div>
        </dd>
        <dt><?php echo $this->translate('Dependent Pass'); ?></dt>
        <dd>
            <div id="file2">
                <input type="file" id="pass_830" name="pass_830[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file2');">+ Add more</a>
            </div>
        </dd>
    </dl>
</form>
<input type="hidden" value="0" id="count" name="count">