<script>
    $(function() {
        $('#av_issue_date').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //maxDate: "+1D" 
        });

        $('#av_expiry').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            //minDate: "-1D"
        });
    });

    function addmoreupl(element){
        var i = $('#count').val();
        $("#"+element).append('<div id="file-'+i+'"><input type="file" id="passport_65" name="passport_65[]">&nbsp;<a id="removerow" href="javascript:void(0)" onclick="removeRow('+i+');">Remove</a></div>');
        i++;
        $('#count').val(i);
    }
    
    function removeRow(i){
        $('#file-'+i).remove();
    }
</script>
<?php //echo $this->form; ?>
<form action="/records/visa/edit-pass" method="post" enctype="multipart/form-data" id="form1">
    <?php
    echo $this->form->p_id;
    echo $this->form->sp_id;
    echo $this->form->av_id;
    ?>
    <dl class="zend_form">
        <dt><?php echo $this->translate('Reference No.'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_reference_no; ?></dd>
        <dt><?php echo $this->translate('Date of Issue'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_issue_date; ?></dd>
        <dt><?php echo $this->translate('Expiry Date'); ?><span class="reqMark">*</span></dt>
        <dd><?php echo $this->form->av_expiry; ?></dd>
        <dt><?php echo $this->translate('Student Pass'); ?></dt>
        <dd>
            <div id="file1">
                <input type="file" id="document_843" name="document_843[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file1');">+ Add more</a>
            </div>
        </dd>
        <dt><?php echo $this->translate('Personal Bond'); ?></dt>
        <dd>
            <div id="file2">
                <input type="file" id="document_828" name="document_828[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file2');">+ Add more</a>
            </div>
        </dd>
        <dt><?php echo $this->translate('Visa Approval Letter (VAL)'); ?></dt>
        <dd>
            <div id="file3">
                <input type="file" id="document_829" name="document_829[]">
                <a href="javascript:void(0)" onclick="addmoreupl('file3');">+ Add more</a>
            </div>
        </dd>
    </dl>
</form>
<input type="hidden" value="0" id="count" name="count">
<dl class="zend_form">
    <dt><?php echo $this->translate('File List (Student Pass)'); ?></dt>
    <dd>
        <table class="table">
            <tr>
                <th><?php echo $this->translate('File Name'); ?></th>
                <th><?php echo $this->translate('Date Upload') ?></th>
            </tr>
            <?php
            if ($this->visa){
            foreach ($this->visa as $visaLoop){
            ?>
            <tr>
                <td><?php echo $visaLoop['ad_ori_filename']; ?></td>
                <td><?php echo date('d-m-Y', strtotime($visaLoop['ad_createddt'])); ?></td>
            </tr>
            <?php
            }
            }else{
            ?>
            <tr>
                <td colspan="2"><?php echo $this->translate('No Data'); ?></td>
            </tr>
            <?php
            }
            ?>
        </table>
    </dd>
    <dt><?php echo $this->translate('File List (Personal Bond)'); ?></dt>
    <dd>
        <table class="table">
            <tr>
                <th><?php echo $this->translate('File Name'); ?></th>
                <th><?php echo $this->translate('Date Upload') ?></th>
            </tr>
            <?php
            if ($this->bond){
            foreach ($this->bond as $bondLoop){
            ?>
            <tr>
                <td><?php echo $bondLoop['ad_ori_filename']; ?></td>
                <td><?php echo date('d-m-Y', strtotime($bondLoop['ad_createddt'])); ?></td>
            </tr>
            <?php
            }
            }else{
            ?>
            <tr>
                <td colspan="2"><?php echo $this->translate('No Data'); ?></td>
            </tr>
            <?php
            }
            ?>
        </table>
    </dd>
    <dt><?php echo $this->translate('File List (Visa Approval Letter)'); ?></dt>
    <dd>
        <table class="table">
            <tr>
                <th><?php echo $this->translate('File Name'); ?></th>
                <th><?php echo $this->translate('Date Upload') ?></th>
            </tr>
            <?php
            if ($this->val){
            foreach ($this->val as $valLoop){
            ?>
            <tr>
                <td><?php echo $valLoop['ad_ori_filename']; ?></td>
                <td><?php echo date('d-m-Y', strtotime($valLoop['ad_createddt'])); ?></td>
            </tr>
            <?php
            }
            }else{
            ?>
            <tr>
                <td colspan="2"><?php echo $this->translate('No Data'); ?></td>
            </tr>
            <?php
            }
            ?>
        </table>
    </dd>
</dl>