
<style type="text/css">
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:150px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:35%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:160px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }

.app-opt { border:1px solid #eee; padding:5px; }
</style>

<script type="text/javascript">
$(function() {

	$("#dialog-message").dialog({  //create dialog, but keep it closed
	   autoOpen: false,
	   height: 450,
	   width: 600,
	   modal: true ,
	   buttons: {
	        "Save": function(e) {

				var flag = true;
				
				if ( $('#av_issue_date').val() == '' ||  $('#av_expiry').val() == '' ||  $('#av_reference_no').val() == ''){
					flag = false;
				}

				if(flag==false){
                                    alert('Please fill in all the required fields');
                                    e.preventDefault();
				}else{					
                                    $('#form1').submit();
				}
				
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
		}
	});
});



function showDialog(idVisa){  //load content and open dialog
	url = "<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'edit-pass','spid'=>$this->spid,'pid'=>$this->pid), 'default', true);?>/avid/"+idVisa;
    $("#dialog-message").load(url);
    $("#dialog-message").dialog("open");         
}

function showAddDialog(){
	url = "<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'add-pass','spid'=>$this->spid,'pid'=>$this->pid), 'default', true);?>";
	$("#dialog-message").load(url);
	$("#dialog-message").dialog("open");  
}

function changeStatus(avid){
	var msg =  confirm('<?php echo $this->translate("Are you sure you want to change the status? ");?>');
	if(msg){
		$('#id').val(avid);
		url = "<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'change-status'), 'default', true);?>";
		$("#form2").attr("action",url);
		form2.submit();
	}
}


$(function() {
    $( document ).tooltip({
      items: "[class]",
      content: function() {
        var element = $( this ); 
        var link = element.attr( "title" );
        var classname = element.attr( "class" );            
        if ( classname=='ajaxImage' ) {
         	return "<img src='"+link+"' width='300' height='300'>";
        }        
      }
    });

    $(".ajaxDelFile").click(function(){

   	   var msg = confirm('Are you sure you want to delete this file?');
   	   if(msg){
   	 	   var id = $(this).attr('id');
   	 	   var link = "<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'delete-attachment'), 'default', true);?>/ad_id/"+id;
   	 	   $("#form2").attr("action",link);	 
   	 	   form2.submit();	   
   	   }

      });

    $(".ajaxDefault").click(function(){

   	   var msg = confirm('Are you sure you want to set this file to active?');
   	   if(msg){
   	 	   var id = $(this).attr('id');
   	 	  
   	 	   var link = "<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'active-attachment'), 'default', true);?>/ad_id/"+id;
   	 	   $("#form2").attr("action",link);	 
   	 	   form2.submit();	   
   	   }
     });
});

function delStudentPassport(id, spid, pid){
    var ask = confirm('Are sure?');
    
    if (ask === true){
        window.location="<?php echo $this->url(array('module'=>'records','controller'=>'visa', 'action'=>'delete-student-pass'), 'default', true);?>/id/"+id+"/spid/"+spid+"/pid/"+pid;
    }else{
        return false;
    }
}
</script>
 <style>
  .photo {
    width: 300px;
	height: 300px;
    text-align: center;
  }
  .photo .ui-widget-header {
    margin: 1em 0;
  }
  .map {
    width: 350px;
    height: 350px;
  }
  .ui-tooltip {
    max-width: 350px;
  }
  </style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick='showAddDialog();'>
					<span class='add'></span>
					Add
				</a>
			</li>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'passport','spid'=>$this->spid), 'default', true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br></br>
<div id="dialog-message" title="Student Pass Details">
<span id='loading'>Loading...</span>
</div>

<div class="profile-summary">
        <?php if ( $this->app_photo != '' ) {?>
            <div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
            <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
        <ul>
	        <li><span><?php echo $this->translate('Student Name'); ?> : </span><?php echo $this->studentInfo['saluteName'].' '.$this->studentInfo['appl_fname'].' '.$this->studentInfo['appl_mname'].' '.$this->studentInfo['appl_lname']; ?></li>
	        <li><span><?php echo $this->translate('Student ID'); ?> : </span><?php echo $this->studentInfo['registrationId']; ?></li>
	        <li><span><?php echo $this->translate('Branch'); ?> : </span><?php echo Application_Model_DbTable_ChecklistVerification::universalQuery('tbl_branchofficevenue', 'BranchName', 'IdBranch = '.$this->studentInfo['IdBranch']); ?></li>
	        <li><span><?php echo $this->translate('Nationality'); ?> :</span><?php echo $this->studentInfo['nationality'];?></li>
	        <li><span><?php echo $this->translate('Email ID'); ?> :</span><?php echo $this->studentInfo['appl_email'];?></li>
	        <li><span><?php echo $this->translate('Expected Graduation Date'); ?> :</span><?php  echo $this->graduation_date;   ?></li>
	        <li><span><?php echo $this->translate('Passport No'); ?> : </span><?php echo $this->passport['p_passport_no']; ?></li>   
	               
        </ul>
        <ul>
	        <li><span><?php echo $this->translate('Programme'); ?> : </span><?php echo $this->studentInfo['ProgramName']; ?></li>
	        <li><span><?php echo $this->translate('Programme Scheme'); ?> : </span>  <?php echo $this->studentInfo['mop']; ?>&nbsp;<?php echo $this->studentInfo['mos']; ?>&nbsp;<?php echo $this->studentInfo['pt']; ?></li>
	        <li><span><?php echo $this->translate('Intake'); ?> :</span><?php echo $this->studentInfo['IntakeName'];?></li>   
	        <li><span><?php echo $this->translate('Student Category'); ?> :</span><?php echo $this->studentInfo['StudentCategory'];?></li>    
	        <li><span><?php echo $this->translate('Student Pass Ref No'); ?> : </span><?php echo $this->active['av_reference_no']; ?></li>
        </ul>
</div>

<br></br>

<?php if(isset($this->active['visa'])  && $this->active['visa']["ad_filepath"]!='' ) { 
	$url = DOCUMENT_URL.$this->active["visa"]["ad_filepath"];
	
	if($this->active['visa']["ad_filetype"]=='application/pdf'){
		echo '<iframe src="'.$url.'"></iframe>';
	}else{
		echo '<img src="'.$url.'" width="600" height="400">';	
	}
}?>

<br></br>

<table width="100%" border="0" class="table">
			<thead>
                <tr>
                    <th><?php echo $this->translate('Reference No.'); ?></th>
                    <th><?php echo $this->translate('Date of Issue'); ?></th>
                    <th><?php echo $this->translate('Expiry Date'); ?></th>
                    <th><?php echo $this->translate('Visa Front Page'); ?></th>
                    <th><?php echo $this->translate('Personal Bond'); ?></th>
                    <th><?php echo $this->translate('Visa Approval Letter (VAL)'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                    <th></th>
                </tr>
			</thead>
			<tbody>
			<?php 
			if(count($this->visa_list)>0){
				foreach($this->visa_list as $visa){
			?>
				<tr>
					<td align='center'><?php echo  $visa['av_reference_no'];?></td>
					<td align='center'><?php echo ($visa['av_issue_date']!='') ? date('d-m-Y',strtotime($visa['av_issue_date'])):'';?></td>
					<td align='center'><?php echo ($visa['av_expiry']!='') ? date('d-m-Y',strtotime($visa['av_expiry'])):'';?></td>	
					<td align='left'>
					<?php 
					
					if(isset($visa['visa'])) { 
						$setDefault  = '';
						$file = '<ul>';
						foreach($visa['visa'] as $doc){
							
							if($visa['av_active']==1){									
								if($visa['ad_id']==$doc['ad_id']){
									$setDefault = '<img src="/images/star-on.png" title="Default">';
								}else{
									$setDefault = '<a href="#" title="Set Default" class="ajaxDefault" id="'.$doc['ad_id'].'"><img src="/images/star-off.png" title="Set Default"></a>';
								}										
							}
								
							$url = DOCUMENT_URL.$doc["ad_filepath"];
							$file .= '<li><a href="'.$url.'" target="_blank"  title="'.$url.'" class="ajaxImage">'.$doc['ad_ori_filename'].'</a> <a href="#" title="Delete" id="'.$doc['ad_id'].'" class="ajaxDelFile"><img src="/images/bin.png" title="Delete"></a> '.$setDefault.'</li>';
						}
						$file .= '</ul>';
						echo $file; 
					}?></td>
					<td align='left'>
					<?php if(isset($visa['bond'])) { 
						$file = '<ul>';
						foreach($visa['bond'] as $doc){
							$url = DOCUMENT_URL.$doc["ad_filepath"];
							$file .= '<li><a href="'.$url.'" target="_blank" title="'.$url.'" class="ajaxImage">'.$doc['ad_ori_filename'].'</a> <a href="#" title="Delete" id="'.$doc['ad_id'].'" class="ajaxDelFile"><img src="/images/bin.png" title="Delete"></a></li>';
						}
						$file .= '</ul>';
						echo $file;  
					}?></td>
					<td align='left'>
					<?php if(isset($visa['val'])) { 
						$file = '<ul>';
						foreach($visa['val'] as $doc){
							$url = DOCUMENT_URL.$doc["ad_filepath"];
							$file .= '<li><a href="'.$url.'" target="_blank" title="'.$url.'" class="ajaxImage">'.$doc['ad_ori_filename'].'</a> <a href="#" title="Delete" id="'.$doc['ad_id'].'" class="ajaxDelFile"><img src="/images/bin.png" title="Delete"></a></li>';
						}
						$file .= '</ul>';
						echo $file;  
					}?>
					</td>
					<td align='center'>
					<?php 
						if($visa['av_active']==1) {
							echo $this->translate('Active'); 
						}else{							
							echo '<a href="#" onclick="changeStatus('.$visa['av_id'].')">'.$this->translate('Not Active').'</a>';
						}?>
					</td>
					<td align='center'>					
					<a href='#' onclick='showDialog(<?php echo $visa['av_id'];?>)'><?php echo $this->translate('Edit'); ?></a>
					|
					<a href='<?php echo $this->url(array('module'=>'records','controller'=>'visa','action'=>'dependent-pass','avid'=>$visa['av_id'],'spid'=>$this->spid,'pid'=>$this->pid), 'default', true);?>'><?php echo $this->translate('Dependent Pass'); ?></a>
					<?php
                                        //if ($this->role == 1){
                                        ?>
                                        |
                                        <a href="#" onclick="delStudentPassport(<?php echo $visa['av_id']; ?>, <?php echo $visa['sp_id']; ?>, <?php echo $visa['p_id']; ?>);"><?php echo $this->translate('Delete'); ?></a>
					<?php
                                        //}
                                        ?>
                                        </td>
				</tr>
			<?php } 
			} ?>
			</tbody>
</table>

<form name='form2' id='form2' method='post' action=''>
	<input type='hidden' name='aid' id='aid' value='<?php echo $this->active['av_id'];?>'>
	<input type='hidden' name='pid' id='pid' value='<?php echo $this->pid;?>'>
	<input type='hidden' name='id' id='id' value=''>
	<input type='hidden' name='spid' id='spid' value='<?php echo $this->spid;?>'>
	<input type='hidden' name='type' id='type' value='2'>
</form>
