<script type="text/javascript">

function showbelow(val) {
    if(val=='862') {
        $('#two').hide();
        $('#three').hide();
    } else if(val=='865' || val=='863') {
        $('#two').show();
        $('#three').hide();
    }
}



$(function()
	{
		initAutocomplete();
	});


function initAutocomplete()
{
	var term = $("#searchpayee").val();
	

	$( "#searchpayee" ).autocomplete({
        source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-receipt'), 'default', true); ?>',
        minLength: 2,
        search: function(event, ui) {
            $("#search_status").html('<?php echo $this->translate('searching...'); ?>');
        },
        response: function (event, ui) {
            $("#search_status").html('');
        },
        select: function(event, ui) {
            
			
            $('#idreceipt').val(ui.item.key);
            $('#receipt_no').val(ui.item.value);
			search_payer(ui.item.key);
			setTimeout(function(){ $("#searchpayee").val(ui.item.label)} ,250);
			return false;
			
        }
    });
}

function search_payer(id){
  	
	$.ajax({
	cache : false,
	type: 'POST',
	dataType: 'json',
	url: "/studentfinance/receivableadjustment/search-receipt",
	data: {	
			'idreceipt':id
			},
	beforeSend : function() {
		
		/*$.blockUI({ 
            message: '<div style="padding: 20px 10px;"><img src="/images/ajax-loader.gif" /><div style="line-height:30px;"> <?php echo $this->translate('Searching'); ?>...</div></div>', 
        });*/ 
		
		$('#dis_payee_name').html('');
		$('#dis_payee_id').html('');
		$('#dis_payee_type').html('');
		$('#dis_program').html('');
    }		
}).done(function(data) {

	//$.unblockUI
	
	if(data == null){
		alert('<?php echo $this->translate('Receipt not found'); ?>');
	}else{
		$('#payee_name').html(data.payee_name);
		$('#receipt_no').html(data.rcp_no);
		$('#ReceiptNumber').val(data.rcp_no);
		$('#totalamount').html(data.rcp_amount);
		$('#payee_id').html(data.payee_id);
		$('#advancepayment').html(data.advancepaymentamount);
	}

	searchonreceiptno();
	
});
}

dojo.addOnLoad(function(){
    dijit.byId('AdjustmentType').set('value','');
	dijit.byId('AdjustmentType').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('IdPaymentGroup').set('value','');
	dijit.byId('IdPaymentGroup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('TerminalId').set('value','');
	dijit.byId('TerminalId').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('FeeCode').set('value','');
	dijit.byId('FeeCode').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChargeCode').set('value','');
	dijit.byId('ChargeCode').set('placeHolder','<?php echo $this->translate('Select')?>');	
    dijit.byId('Save').attr('disabled',true);
        
});  

function clearPaymentInfo() {

	dijit.byId('IdPaymentGroup').reset();
	dijit.byId('IdPaymentGroup').set('value','');
    dijit.byId('IdPaymentGroup').set('placeHolder','<?php echo $this->translate('Select')?>');

    dijit.byId('PaymentMode').reset();
	dijit.byId('PaymentMode').set('value','');
    dijit.byId('PaymentMode').set('placeHolder','<?php echo $this->translate('Select')?>');

    dijit.byId('TerminalId').reset();
	dijit.byId('TerminalId').set('value','');
    dijit.byId('TerminalId').set('placeHolder','<?php echo $this->translate('Select')?>');

    dijit.byId('BankCardNo').reset();
	dijit.byId('BankCardNo').set('value','');

    dijit.byId('PaymentDocNo').reset();
	dijit.byId('PaymentDocNo').set('value','');

  
}

function addPaymentInfodetails() {
	var flag = true;
	var IdPaymentGroupDV = dijit.byId("IdPaymentGroup").displayedValue;
	
	if(dijit.byId("IdPaymentGroup").value==''){
	    dijit.byId("IdPaymentGroup").attr('required','true');
		dijit.byId("IdPaymentGroup").focus();flag = false;
	}

	if(dijit.byId("PaymentMode").value==''){
	    dijit.byId("PaymentMode").attr('required','true');
		dijit.byId("PaymentMode").focus();flag = false;
	}
	
	if(IdPaymentGroupDV =='Cash' || IdPaymentGroupDV =='Cheque' || IdPaymentGroupDV =='Others'){
		if(dijit.byId("PaymentDocNo").value==''){
		    dijit.byId("PaymentDocNo").attr('required','true');
			dijit.byId("PaymentDocNo").focus();flag = false;
		}
		
	}
	if(IdPaymentGroupDV =='Credit Card'){
		if(dijit.byId("TerminalId").value==''){
		    dijit.byId("TerminalId").attr('required','true');
			dijit.byId("TerminalId").focus();flag = false;
		}
		if(dijit.byId("BankCardNo").value==''){
		    dijit.byId("BankCardNo").attr('required','true');
			dijit.byId("BankCardNo").focus();flag = false;
		}
		
	}
	
	if(flag == true) {
		createrowPaymentInfo();
	}
	return flag;
}

var rowidPI=1;
var batchArray3  = new Array();
var batchArray2  = new Array();
function createrowPaymentInfo() {

	var IdPaymentGroup = dijit.byId("IdPaymentGroup").value;
    var IdPaymentGroupDV = dijit.byId("IdPaymentGroup").displayedValue;
    var PaymentMode = dijit.byId("PaymentMode").value;
    var PaymentModeDV = dijit.byId("PaymentMode").displayedValue;
    
    if(IdPaymentGroupDV=='Credit Card') {

		var TerminalId = dijit.byId("TerminalId").value;
        var TerminalIdDV = dijit.byId("TerminalId").displayedValue;
        var BankCardNo = dijit.byId("BankCardNo").value;
        var BankCardNoDV = dijit.byId("BankCardNo").displayedValue;
       

        var PaymentDocNo = '';
        var PaymentDocNoDV = '';

    } else if(IdPaymentGroupDV=='Cash' || IdPaymentGroupDV=='Cheque' || IdPaymentGroupDV=='Others') {

			var PaymentDocNo = dijit.byId("PaymentDocNo").value;
            var PaymentDocNoDV = dijit.byId("PaymentDocNo").displayedValue;

            var TerminalId = '';
            var TerminalIdDV = '';
            var BankCardNo = '';
            var BankCardNoDV = '';
          
   }


	batchArray3.push(IdPaymentGroup+'_'+PaymentMode+'_'+PaymentDocNo);
	if(arrHasDupes(batchArray3)){
		batchArray3 = batchArray.unique();
		alert(" Duplicate PaymentGroup and Cheque No ");
	} else {
                var trow = document.getElementById('tblbankcard').insertRow(rowidPI);
                var tcol1=trow.insertCell(0);
				var tcol2=trow.insertCell(1);
				var tcol3=trow.insertCell(2);
				var tcol4=trow.insertCell(3);
				var tcol5=trow.insertCell(4);
				var tcol6=trow.insertCell(5);

				tcol1.innerHTML="<input type='hidden' value='"+IdPaymentGroup+"' name=IdPaymentGroupgrid[]>"+IdPaymentGroupDV;
				tcol2.innerHTML="<input type='hidden' value='"+PaymentMode+"' name=PaymentModegrid[]>"+PaymentModeDV;
				tcol3.innerHTML="<input type='hidden' value='"+TerminalId+"' name=TerminalIdgrid[]>"+TerminalIdDV;
				tcol4.innerHTML="<input type='hidden' value='"+BankCardNo+"' name=BankCardNogrid[]>"+BankCardNoDV;
				tcol5.innerHTML="<input type='hidden' value='"+PaymentDocNo+"' name=PaymentDocNogrid[]>"+PaymentDocNoDV;
				tcol6.innerHTML='<a href="javascript:void(0);" onClick="deleteRowPI(this); return false;">Delete</a>'
			rowidPI++;
	}

}


function deleteRowPI(r){
           var ret = confirm("Are you sure you want to delete?");
           if (ret){
               rowidPI--;
               var i=r.parentNode.parentNode.rowIndex;
               batchArray3.splice(parseInt(i-1),1);
               batchArray2.splice(parseInt(i-1),1);
               document.getElementById('tblbankcard').deleteRow(i);
              // dijit.byId("IdPaymentGroup").attr('readOnly', false);
			   //dijit.byId("AddPaymentInfo").attr('disabled', false);
				//clearPaymentInfo();
           }
       }
function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }

        }
        r[r.length] = this[i];
    }
    return r;
}

function addValidation(){
	
	var flag = true;
	var feecode = dijit.byId("FeeCode").value;
	var chargecode = dijit.byId("ChargeCode").value;
	var amount = dijit.byId("Amount").value;

	if(amount == '' || isNaN(amount)){
		dijit.byId("Amount").set( "state", "Error" );
		flag = false;
	}
	if(chargecode == ''){
		dijit.byId("ChargeCode").set( "state", "Error" );
		flag = false;
	}
	if(feecode == ''){
		dijit.byId("FeeCode").set( "state", "Error" );
		flag = false;
	}
	
	if(flag == true) {
		RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();
var rowid = 1;
function RemarkdetailsInsert() {
	var FeeCode = dijit.byId("FeeCode").value;
    var FeeCodename = dijit.byId("FeeCode").displayedValue;
    var NonInvoiceDescription = $("#NonInvoiceDescription").val();
    var NonInvoiceDescriptiondefault = $("#NonInvoiceDescriptiondefault").val();
    var ChargeCode = dijit.byId("ChargeCode").value;
    var ChargeCodename = dijit.byId("ChargeCode").displayedValue;

    var Amount = dijit.byId("Amount").value;
	var trow = document.getElementById('hor').insertRow(rowid);
    var tcol1=trow.insertCell(0);
	var tcol2=trow.insertCell(1);
	var tcol3=trow.insertCell(2);
	var tcol4=trow.insertCell(3);
	var tcol5=trow.insertCell(4);
	var tcol6=trow.insertCell(5);
	
	tcol1.innerHTML="<input type='hidden' value='"+FeeCode+"' name=FeeCodegrid[]>"+FeeCodename;
	tcol2.innerHTML="<input type='hidden' value='"+NonInvoiceDescription+"' name=NonInvoiceDescriptiongrid[]>"+NonInvoiceDescription;
	tcol3.innerHTML="<input type='hidden' value='"+NonInvoiceDescriptiondefault+"' name=NonInvoiceDescriptiondefaultgrid[]>"+NonInvoiceDescriptiondefault;
	tcol4.innerHTML="<input type='hidden' value='"+ChargeCode+"' name=ChargeCodegrid[]>"+ChargeCodename;
	tcol5.innerHTML="<input type='hidden' value='"+Amount+"' name=Amountkgrid[]>"+Amount;	
	tcol6.innerHTML='<a href="javascript:void(0);" onClick="deleteRow(this,\''+Amount+'\'); return false;"><img src="<?php echo $this->baseUrl();?>/images/delete.png"  border=0 width=16 height=16></a>'
	rowid++;
}

function deleteRow(r){      
	var dStat = confirm("Are you sure to delete the Component?");
    if(dStat == true){     
        rowid--;	
		var i=r.parentNode.parentNode.rowIndex;
		batchArray.splice(parseInt(i-1),1);        
		document.getElementById('hor').deleteRow(i);
    }
}
	
function clearpageAdd() {    
        dijit.byId("FeeCode").reset();
        dijit.byId('FeeCode').set('value','');
    	dijit.byId('FeeCode').set('placeHolder','Select');
    	dijit.byId("ChargeCode").reset();
        dijit.byId('ChargeCode').set('value','');
    	dijit.byId('ChargeCode').set('placeHolder','Select');
        dijit.byId("Amount").reset();
        dijit.byId("Amount").set("value",null);
        dijit.byId("NonInvoiceDescription").reset();
        dijit.byId("NonInvoiceDescription").set("value",null);
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
        var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function checkreceiptnumber(val) {
    if(val=='') {
         dijit.byId('Save').attr('disabled',true);
         $('#two').hide();
         $('#three').hide();
    }
}


function fngetpaymentmode(paymentgroup){		
	if(paymentgroup.displayedValue=='Cash' || paymentgroup.displayedValue=='Cheque' || paymentgroup.displayedValue=='Others'){
		$('#cashcheque').show();
		$('#bankcard').hide();
	}
	else if(paymentgroup.displayedValue=='Credit Card'){
		$('#cashcheque').hide();
		$('#bankcard').show();
	}	
	if(paymentgroup != "") {
    	var xhrArgs = {
        	url: "<?php echo $this->baseUrl(); ?>"+"/studentfinance/receivableadjustment/getpaymentmode/id/"+paymentgroup,
            handleAs:'json',
            load:function(data){
            	AutoFillNextEditableDropDown("PaymentMode",data);
            }
        }
        dojo.xhrGet(xhrArgs);
    }
}


function showvalues(receipt){
	var adjustmenttype = dijit.byId("AdjustmentType").value;
	var adjustmenttypeval = dijit.byId("AdjustmentType").displayedValue;
	if(receipt!=''){
		if(adjustmenttypeval=='Return Cheqeue') { 
			var xhrArgs = {
		    	url: "<?php echo $this->baseUrl();?>"+"/studentfinance/receivableadjustment/getreceipt/receiptnumber/"+receipt,
		        handleAs:'json',
		        load:function(data){
				    $.each(data, function(i, item){
						var paymentgroupid = item.PGkey;
						dijit.byId('IdPaymentGroup').set('value',paymentgroupid);									
						var paymentmodeid = item.PMkey;								
										
									
						var checque = item.PaymentDocNo;
						$('#PaymentDocNo').val(checque);
	                                        
						var terminalid = item.TIkey;                    
						dijit.byId('TerminalId').set('value',terminalid);
						
						var bankcardtype = item.BCTkey;
						dijit.byId('BankCardType').set('value',bankcardtype);
						
						var bankcardno = item.BankCardNo;
	                    $('#BankCardNo').val(bankcardno);
						
						setTimeout(function() {		
							dijit.byId('PaymentMode').set('value',paymentmodeid);
						}, 1250);
					});	
				}
			}
			dojo.xhrGet(xhrArgs);
		}
	}

}

function searchonreceiptno() {    
	var receiptnumber = $("#ReceiptNumber").val();
	var adjustmenttype = dijit.byId("AdjustmentType").value;
	var adjustmenttypeval = dijit.byId("AdjustmentType").displayedValue;
	alert(receiptnumber);
    if(receiptnumber == ''){
    	alert("Please Fill Receipt Number");
        return false;
    }
    if(receiptnumber!=""){		
    	var xhrArgs = {
        	url: "<?php echo $this->baseUrl();?>"+"/studentfinance/receivableadjustment/getreceiptdetails/receiptnumber/"+receiptnumber,
            handleAs:'text',
            load:function(data){ 
            if(data == 'entry'){
            	dijit.byId("Save").setAttribute('disabled', true);  
         		alert('No approved receipt found');
         	}else if(data == 'not found'){
         		dijit.byId("Save").setAttribute('disabled', true);
         		alert('No receipt found');
         	}else if(data == 'receivableexist'){
             	alert('Receivable adjustment for the recipt ' +receiptnumber+' is already exist.');
         	}else{   
         		dijit.byId("Save").setAttribute('disabled', false);            		                
				receiptdata = data; 
				var TotalJosnData = data.length;                             		
				if(TotalJosnData>0) {
                	dijit.byId("Save").setAttribute('disabled', false);					    				
					$('#idtotalamount').text(receiptdata[0].TotalAmount);
					$('#idadvancepayment').text(receiptdata[0].AdvancePayment);
					$('#idcustomerid').text(receiptdata[0].PayeeCode);
					$('#idbankaccount').text(receiptdata[0].BankAccount);
					$('#idamount').text(receiptdata[0].Amountpaid);
					$('#idreceipt').val(receiptdata[0].IdReceipt);
					if(adjustmenttypeval=='Return Cheqeue') { 
						$('#two').show();
						$('#three').hide();
						showvalues(receiptdata[0].IdReceipt);
					}else if(adjustmenttypeval=='Wrong Payment item') { 
						$('#two').hide();
						$('#three').show();
						displayReceiptInvoicedetail(receiptdata[0].IdReceipt);
					}
				}
			}
		}
	}
    dojo.xhrPost(xhrArgs);
	}
}

function displayReceiptInvoicedetail(IdReceipt){
	if(IdReceipt!=''){
        $.ajax({
            type: "GET",
            async: false,
            url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'receivableadjustment', 'action' => 'getreceiptinvoicedetl'), 'default', true); ?>',
            data: "IdReceipt="+IdReceipt,
            success: function(data) {
                $('#invoicedetail').html(data);
            }
        });
    }
}



function getfeecodedet(feecode){
    	if(feecode != "") {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl(); ?>"+"/studentfinance/receivableadjustment/getpaymentmode/id/"+feecode,
                handleAs:'json',
                load:function(data){
                   $('#NonInvoiceDescription').val(data.Description);
                   $('#NonInvoiceDescriptiondefault').val(data.DefaultLanguage);
                   AutoFillNextEditableDropDown("ChargeCode",data.chargecode);
                }
            }
            dojo.xhrGet(xhrArgs);
        }
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'receivableadjustment', 'action' => 'index'), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>

<fieldset>
	<legend>
		<?php echo $this->translate("Receivable Adjustment"); ?>
	</legend>
	<form dojoType="dijit.form.Form" id="myForm" action="" method="post"
		name="myForm">
		<script type="dojo/method" event="onSubmit">
            if (this.validate()) {
                
            }else {
                return false;
            }
        </script>
        
       
        
		<table width="100%" class='table'>
			<?php if($this->errMsg=='0') { ?>
				<tr>
					<td colspan="4" style="color: red;" align="center">
						<?php echo $this->translate("Sorry, try another adjustment number");?></td>
				</tr>
				<?php } ?>
	
				<?php if($this->errMsg1=='0') { ?>
				<tr>
					<td colspan="4" style="color: red;" align="center">					
					<?php echo $this->translate("Sorry, try receipt number which is approve");?>
					</td>
				</tr>
				<?php } ?>
		
			<tr>
				<td><?php echo $this->translate("Search Receipt No.");?></td>
				<td colspan="3"> <input type="text" id="searchpayee" value="" class="input-txt" style="margin-bottom:4px" /> <span id="search_status"></span></td>
			</tr>
			
			<tr>
			<td><?php echo $this->translate("Receipt No.");?><span class="reqMark">*</span></td>
				<td><span id='receipt_no'></span></td>
				<td><?php echo $this->translate("Total Amount");?></td>
				<td>
					<span id='totalamount'></span>
					<input type='hidden' id='idreceipt' name='idreceipt' value=''>
					<input type='hidden' id='ReceiptNumber' name='ReceiptNumber' value=''>
				</td>
				
			</tr>
			<td><?php echo $this->translate("Payee Name");?><span class="reqMark">*</span></td>
				<td><span id='payee_name'></span></td>
				<td><?php echo $this->translate("Advance Payment");?></td>
				<td><span id='advancepayment'></span></td>
				
			</tr>
			<tr>
				<td><?php echo $this->translate("Payee ID");?></td>
				<td>
					<span id='payee_id'></span>
				</td>
				
			</tr>
			
			
			
			<?php echo $this->lobjReceivableAdjustmentForm->UpdUser?>
			<?php echo $this->lobjReceivableAdjustmentForm->UpdDate?>
			<?php echo $this->lobjReceivableAdjustmentForm->EnterBy?>
			<?php echo $this->lobjReceivableAdjustmentForm->EnterDate?>
			<?php echo $this->lobjReceivableAdjustmentForm->IdUniversity?>

			<tr>
				<td><?php echo $this->translate("Adjustment Number");?> <span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->AdjustmentNumber; ?></td>
				<td><?php echo $this->translate("Adjustment Type");?> <span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->AdjustmentType; ?>
				</td>
			</tr>

			<tr>
				<td><?php echo $this->translate("Document Date");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->DocumentDate; ?></td>
				<td><?php echo $this->translate("Remarks");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->Remarks; ?></td>
			</tr>
			
		</table>
		<div id="two" style="display: none;">
			<br>
			<fieldset>
				<legend>
					<?php echo $this->translate("Payment Info"); ?>
				</legend>
				<table class="table" width="100%">
					<tr>
						<td><?php echo $this->translate('Payment Group');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->IdPaymentGroup;?></td>
						<td><?php echo $this->translate('Mode of Payment');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->PaymentMode;?></td>
					</tr>
					<tr id="cashcheque" style="display: none;">
						<td><?php echo $this->translate('Reference');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->PaymentDocNo;?></td>
						
					</tr>
					
					<tr id="bankcard" style="display: none;">
						<td><?php echo $this->translate('Terminal Id');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->TerminalId;?></td>
						<td><?php echo $this->translate('Bank Card No');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->BankCardNo;?></td>
					</tr>
					<tr>
						<td colspan="4" align="right"><?php echo $this->lobjReceivableAdjustmentForm->AddPaymentInfo;?>
						<?php echo $this->lobjReceivableAdjustmentForm->ClearPaymentInfo;?></td>
					</tr>
				</table>
			<table class="table" width="100%" id="tblbankcard">
					<tr>
						<th><?php echo $this->translate('Group Of Payment');?></th>
						<th><?php echo $this->translate('Mode Of Payment');?></th>
						<th><?php echo $this->translate('Terminal Id');?></th>
						<th><?php echo $this->translate('Bank Card Number');?></th>
						<th><?php echo $this->translate('Reference');?></th>
						<th><?php echo $this->translate('Delete');?></th>
		
					</tr>
			</table>
					
			</fieldset>
		</div>
		<br>
		<div id="three" style="display: none;">
			<fieldset>
				<legend>
					<?php echo $this->translate("Invoice Info"); ?>
				</legend>
				<div id="invoicedetail">
					<table class="table" width="100%">
						<tr>
							<th><?php echo $this->translate('Bill Number'); ?></th>
							<th><?php echo $this->translate('Bill Seq No'); ?></th>
							<th><?php echo $this->translate('Document Date'); ?></th>
							<th><?php echo $this->translate('Fee Code'); ?></th>
							<th><?php echo $this->translate('Fee Code Desc'); ?></th>
							<th><?php echo $this->translate('Revenue Code'); ?></th>
							<th><?php echo $this->translate('Total Amount'); ?></th>
							<th><?php echo $this->translate('Total Balance'); ?></th>
							<th><?php echo $this->translate('Total Paid'); ?></th>
							<th><?php echo $this->translate('New Total to be Paid'); ?>
							</th>
						</tr>
					</table>
				</div>
			</fieldset>
			<br>
			<fieldset>
				<legend>
					<?php echo $this->translate("Non Invoice Info"); ?>
				</legend>
				<table class="table" width="100%">
					<tr>
						<td><?php echo $this->translate('Fee Code');?><span>*</span></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->FeeCode;?></td>
						<td><?php echo $this->translate('Description');?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->NonInvoiceDescription;?></td>
					</tr>
					<tr>
						<td><?php echo $this->defaultlanguage;?></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->NonInvoiceDescriptiondefault;?></td>
						<td><?php echo $this->translate('Charge Code');?><span>*</span></td>
						<td><?php echo $this->lobjReceivableAdjustmentForm->ChargeCode;?></td>
					</tr>
					<tr>
						<td><?php echo $this->translate('Amount');?><span>*</span></td>
						<td colspan="3"><?php echo $this->lobjReceivableAdjustmentForm->Amount;?></td>
					</tr>
					<tr>
						<td colspan="4" align="right"><?php echo $this->lobjReceivableAdjustmentForm->Add;?>
							<?php echo $this->lobjReceivableAdjustmentForm->Clear;?>
						</td>
					</tr>
				</table>
				<table class="table" width="100%" id="hor">
					<tr>
						<th><?php echo $this->translate('Fee Code');?></th>
						<th><?php echo $this->translate('Description');?></th>
						<th><?php echo $this->defaultlanguage;?></th>
						<th><?php echo $this->translate('Charge Code');?></th>
						<th><?php echo $this->translate('Amount');?></th>
						<th><?php echo $this->translate('Delete');?></th>
					</tr>
				</table>
			</fieldset>
		</div>
		<table class="table" width="100%">
			<tr>
				<td class="opt" colspan="4"><?php echo $this->lobjReceivableAdjustmentForm->Save;?>
					<input type='button' class="NormalBtn"
					dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Back') ?>" value='click'
					onclick="window.location.href='<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'receivableadjustment', 'action' => 'index'), 'default', true); ?>';" />
				</td>
			</tr>

		</table>
	</form>
</fieldset>