<script type="text/javascript">
dojo.addOnLoad(function(){

	dijit.byId('AdjustmentNumber').attr('readOnly',true);
	dijit.byId('AdjustmentType').attr('readOnly',true);
	dijit.byId('DocumentDate').attr('readOnly',true);
	dijit.byId('ReceiptNumber').attr('readOnly',true);
	dijit.byId('Remarks').attr('readOnly',true);
	dijit.byId('BankCardType').attr('readOnly',true);
	dijit.byId('TerminalId').attr('readOnly',true);
});

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
        var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'receivableadjustment', 'action' => 'index'), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>

<fieldset>
	<legend>
		<?php echo $this->translate("Receivable Adjustment"); ?>
	</legend>
	<form dojoType="dijit.form.Form" id="myForm" action="" method="post"
		name="myForm">
		<script type="dojo/method" event="onSubmit">
            if (this.validate()) {

            }else {
                return false;
            }
        </script>
		<table width="100%" class='table'>
			<tr>
				<td><?php echo $this->translate("Adjustment Number");?>
					<span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->AdjustmentNumber; ?>
				</td>
				<td><?php echo $this->translate("Adjustment Type");?>
					<span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->AdjustmentType; ?>
				</td>
			</tr>

			<tr>
				<td><?php echo $this->translate("Document Date");?>
					<span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->DocumentDate; ?>
				</td>
				<td><?php echo $this->translate("Receipt No");?>
					<span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->ReceiptNumber; ?>

			</tr>
			<tr>
				<td><?php echo $this->translate("Total Amount");?>
				</td>
				<td><?php echo $this->result['TotalAmount'];?></td>
				<td><?php echo $this->translate("Customer Id");?>
				</td>
				<td><?php echo $this->result['PayeeCode'];?></span></td>
			</tr>

			<tr>
				<td><?php echo $this->translate("Amount");?></td>
				<td><?php echo $this->result['Amountpaid'];?></td>
				<td><?php echo $this->translate("Advance Payment");?>
				</td>
				<td><?php echo $this->result['AdvancePayment'];?></td>
			</tr>

			<tr>

				<td><?php echo $this->translate("Bank Account");?></td>
				<td><?php echo $this->result['BankAccount'];?></td>
				<td><?php echo $this->translate("Remarks");?> <span class="reqMark">*</span></td>
				<td><?php echo $this->lobjReceivableAdjustmentForm->Remarks; ?></td>
			</tr>
		</table>

		<br>

		<?php if($this->adjustmenttype == 'Wrong payment mode' || $this->adjustmenttype == 'Return Cheqeue'){?>


		<fieldset>
			<legend>
				<?php echo $this->translate("Payment Info"); ?>
			</legend>

			<table class="table" width="100%">
				<tr>
					<th><?php echo $this->translate('Group Of Payment');?></th>
					<th><?php echo $this->translate('Mode Of Payment');?></th>
					<th><?php echo $this->translate('Amount');?></th>
					<th><?php echo $this->translate('Terminal Id');?></th>
					<th><?php echo $this->translate('Bank Card Number');?></th>
					<th><?php echo $this->translate('Bank Card Type');?></th>
					<th><?php echo $this->translate('Cheque Number');?></th>
					<th><?php echo $this->translate('Payment Doc Bank');?></th>
					<th><?php echo $this->translate('Pay Doc Bank Branch');?></th>
				</tr>

			<?php if(count($this->larrPaymentInfoDet)>0) { foreach($this->larrPaymentInfoDet as $paydetail) { ?>
				<tr>
					<td><?php echo (isset($paydetail['paymentgroup']) && ($paydetail['paymentgroup']!='')) ? $paydetail['paymentgroup'] : '';?></td>
					<td><?php echo (isset($paydetail['PaymentMode']) && ($paydetail['PaymentMode']!='')) ? $paydetail['PaymentMode'] : '';?></td>
					<td><?php echo (isset($paydetail['Amountpaid']) && ($paydetail['Amountpaid']!='')) ? $paydetail['Amountpaid'] : '';?></td>
					<td><?php echo (isset($paydetail['TerminalID']) && ($paydetail['TerminalID']!='')) ? $paydetail['TerminalID'] : '';?></td>
					<td><?php echo (isset($paydetail['BankCardNo']) && ($paydetail['BankCardNo']!='')) ? $paydetail['BankCardNo'] : '';?></td>
					<td><?php echo (isset($paydetail['BankCardType']) && ($paydetail['BankCardType']!='')) ? $paydetail['BankCardType'] : '';?></td>
					<td><?php echo (isset($paydetail['PaymentDocNo']) && ($paydetail['PaymentDocNo']!='')) ? $paydetail['PaymentDocNo'] : '';?></td>
					<td><?php echo (isset($paydetail['PayDocBank']) && ($paydetail['PayDocBank']!='')) ? $paydetail['PayDocBank'] : '';?></td>
					<td><?php echo (isset($paydetail['PayDocBankBranch']) && ($paydetail['PayDocBankBranch']!='')) ? $paydetail['PayDocBankBranch'] : '';?></td>
				</tr>
			<?php } }  ?>
			</table>

		</fieldset>
		<?php } ?>
		<?php if(isset($this->adjustmenttype) && ($this->adjustmenttype =='Wrong Payment item')){?>
			<fieldset>
				<legend>
					<?php echo $this->translate("Invoice Info"); ?>
				</legend>
			<table class="table" width="100%">
				<tr>
					<th><?php echo $this->translate('Bill Number'); ?></th>
					<th><?php echo $this->translate('Bill Seq No'); ?></th>
					<th><?php echo $this->translate('Document Date'); ?></th>
					<th><?php echo $this->translate('Fee Code'); ?></th>
					<th><?php echo $this->translate('Fee Code Desc'); ?></th>
					<th><?php echo $this->translate('Revenue Code'); ?></th>
					<th><?php echo $this->translate('Total Amount'); ?></th>
					<th><?php echo $this->translate('Total Balance'); ?></th>
					<th><?php echo $this->translate('Total Paid'); ?></th>
					<th><?php echo $this->translate('New Total to be Paid'); ?></th>
				</tr>
				<?php if(count($this->invoicedet) > 0){?>
					<?php foreach($this->invoicedet as $det){?>
						<tr>
							<td><?php echo ($det['BILLNUM']!='') ? $det['BILLNUM'] : ''; ?></td>
							<td><?php echo ($det['BILLSEQ']!='') ? $det['BILLSEQ'] : ''; ?></td>
							<td><?php echo ($det['DOCDATE']!='') ? date('d-m-Y',strtotime($det['DOCDATE'])) : ''; ?></td>
							<td><?php echo ($det['FEECODE']!='') ? $det['FEECODE'] : ''; ?></td>
							<td><?php echo ($det['FEEDESC']!='') ? $det['FEEDESC'] : ''; ?></td>
							<td><?php echo ($det['ACCTCODECH']!='') ? $det['ACCTCODECH'] : ''; ?></td>
							<td><?php echo ($det['TotalAmountReceipt']!='') ? $det['TotalAmountReceipt'] : ''; ?></td>
							<td><?php echo ($det['TotalBalanceReceipt']!='') ? $det['TotalBalanceReceipt'] : ''; ?></td>
							<td><?php echo ($det['TotalPaidReceipt']!='') ? $det['TotalPaidReceipt'] : ''; ?></td>
							<td><?php echo ($det['NewPaidAmount']!='') ? $det['NewPaidAmount'] : ''; ?></td>
						</tr>
				<?php }} ?>
			</table>
			</fieldset>
			</br>
			<fieldset>
				<legend>
					<?php echo $this->translate("Non Invoice Info"); ?>
				</legend>
			<table class="table" width="100%" id="hor">
				<tr>
					<th><?php echo $this->translate('Fee Code');?></th>
					<th><?php echo $this->translate('Description');?></th>
					<th><?php echo $this->defaultlanguage;?></th>
					<th><?php echo $this->translate('Charge Code');?></th>
					<th><?php echo $this->translate('Amount');?></th>
				</tr>
				<?php if(count($this->noninvoicedet) > 0){?>
					<?php foreach($this->noninvoicedet as $detl){?>
						<tr>
							<td><?php echo ($detl['FeeCode']!='') ? $detl['FeeCode'] : ''; ?></td>
							<td><?php echo ($detl['Description']!='') ? $detl['Description'] : ''; ?></td>
							<td><?php echo ($detl['NonInvoiceDescriptiondefault']!='') ? $detl['NonInvoiceDescriptiondefault'] : ''; ?></td>
							<td><?php echo $detl['CMPYCODE'].'_'.$detl['ACCOUNTCODE'];?></td>
							<td><?php echo ($detl['Amount']!='') ? $detl['Amount'] : ''; ?></td>
						</tr>
				<?php }} ?>
			</table>
			</fieldset>


		<?php } ?>

		<table class="table" width="100%">
			<tr>
				<td class="opt" colspan="4"><input type='button'
					class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Back') ?>" value='click'
					onclick="window.location.href='<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'receivableadjustment', 'action' => 'index'), 'default', true); ?>';" />
				</td>
			</tr>

		</table>
	</form>
</fieldset>

<div id="three" style="display: none;"></div>