<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Charge Master");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/chargemaster/chargemasterlist/id/<?php echo $this->Idcharges; ?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Charge Details");?></th>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Account Name");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjChargemasterForm->IdAccountMaster;?></td>
                            <td><?php echo $this->translate("Program");?><span>*</span></td>
                            <td><?php echo $this->lobjChargemasterForm->IdProgram;?></td>
                            <?php echo $this->lobjChargemasterForm->IdCharges;?>
                            <?php echo $this->lobjChargemasterForm->UpdDate;?>
                            <?php echo $this->lobjChargemasterForm->UpdUser;?></td>
                        </tr>
                      	 <tr>
                        	<td><?php echo $this->translate("Rate");?><span>*</span></td>
                            <td ><?php echo $this->lobjChargemasterForm->Rate;?></td>
                            <td><?php echo $this->translate("Effective Date");?><span>*</span></td>
                            <td><?php echo $this->lobjChargemasterForm->effectiveDate;?></td>
                         </tr>
                         <tr>
                        	<td><?php echo $this->translate("Active");?><span>*</span></td>
                            <td><?php echo $this->lobjChargemasterForm->Active;?></td>
                            <td></td>
                            <td></td>
                         </tr>
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjChargemasterForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'chargemaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
