<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Check Payments Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/studentfinance/checkpayments/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Student Name");?></td>
                   <td ><?php echo $this->lobjform->field5;?></td>
                   <td><?php echo $this->translate("Email Address");?></td>
                   <td><?php echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate("Student Name");?></th>	 
	            <th><?php echo $this->translate("Email Address");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcharges ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'checkpayments', 'action'=>'newcheckpayments' , 'id'=>$lobjcharges['IdApplication']),'default',true);?>" ><?php print_r($this->escape($lobjcharges['StudentName']));?></a></td>
	        	<td><?php echo $this->escape($lobjcharges['EmailAddress']);?></td>
	    	    
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
