<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){
	dijit.byId('IdSemester').set('value','');
	dijit.byId('IdSemester').set('placeHolder','Select');
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Check Payments");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentfinance/checkpayments/newcheckpayments" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Check Payments Details");?></th>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Student Name");?><span>*</span></span></td>
                            <td ><?php echo $this->lobjCheckpaymentsForm->IdApplication;?></td>
                            <td><?php echo $this->translate("Semester");?><span>*</span></td>
                            <td><?php echo $this->lobjCheckpaymentsForm->IdSemester;?></td>
                            <?php echo $this->lobjCheckpaymentsForm->UpdDate;?>
                            <?php echo $this->lobjCheckpaymentsForm->UpdUser;?></td>
                        </tr>
                      	
                         <tr>
                        	<td><?php echo $this->translate("Check Payment");?><span></span></td>
                            <td><?php echo $this->lobjCheckpaymentsForm->VerifyPayment;?></td>
                            <td></td>
                            <td></td>
                         </tr>
                        
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjCheckpaymentsForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'checkpayments', 'action'=>'index'),'default',true);?>';" />	
                           <?php echo $this->alertError;?> </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
<br/>
<?php if ($this->larrresult): ?>
	       	
<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	            <th><?php echo $this->translate("Semester");?></th>	 
	            <th><?php echo $this->translate("Check Payment");?></th>
	       	 </tr>
	      
	        <?php foreach ($this->larrresult as $lobjcharges ): ?>
	        
	  		<tr>
	        	<td><?php echo $this->escape($lobjcharges['SemName']);?></td>
	        	<td><?php if ($lobjcharges['VerifyPayment']==0) echo "Not-Checked"; else echo "Checked";?></td>
	    	    <?php  endforeach; ?>
	    	  
	      </tr>
	    </table>
	</fieldset>
  <?php endif; ?> 	
 