<script type="text/javascript">

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a id="back" href="#" onclick="javascript:back()">
					<span class='back'></span>
					<?php echo $this->translate("Back"); ?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<form method="post" action="">
	<input type="hidden" name="save" value="1" />
	
	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>
			<th rowspan="2">Nomor Fomulir</th>
			<th rowspan="2">Nama</th>
			<th rowspan="2">Email</th>
			<th>Jenis Kelamin</th>
			<th>Agama</th>
			<th>Tarikh Lahir</th>
			<th>Tempat Lahir</th>
			<th>Warganegara</th>
			<th rowspan="2">Nomor Telp.</th>
			<th rowspan="2">Nomor Telp. Bimbit</th>
			<th rowspan="2">Alamat</th>
			<th rowspan="2">Nama Org Tua</th>
			<th rowspan="2">Alamat Org Tua</th>
			<th rowspan="2">Telp Org Tua</th>
		</tr>
		<tr>
			<th>1: Lelaki<br />2: Perempuan</th>
			<th>
				1:Islam<br />
				2:Kristen Katolik<br />
				3:Kristen Protestan<br />
				4:Budha<br />
				5:Hindu<br />
				6:Kong Hu Chu<br />
			</th>
			<th>YYYY-MM-DD</th>
			<th>Code</th>
			<th>Code</th>
		</tr>
		<?php 
			$row=0;
			foreach ($this->data as $data):
		?>
			<tr>
				<td> <input type="text" name="no_form[]" value="<?php echo isset($data['applicantID'])?$data['applicantID']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_fname[]" value="<?php echo isset($data['appl_fname'])?$data['appl_fname']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_email[]" value="<?php echo isset($data['appl_email'])?$data['appl_email']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_gender[]" value="<?php echo isset($data['appl_gender'])?$data['appl_gender']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_religion[]" value="<?php echo isset($data['appl_religion'])?$data['appl_religion']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_dob[]" value="<?php echo isset($data['appl_dob'])?$data['appl_dob']:"NULL"; ?>" /></td>
				<td> <input type="text" name="citycode_dob[]" value="<?php echo isset($data['citycode_dob'])?$data['citycode_dob']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_nationality[]" value="<?php echo isset($data['appl_nationality'])?$data['appl_nationality']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_phone_home[]" value="<?php echo isset($data['appl_phone_home'])?$data['appl_phone_home']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_phone_mobile[]" value="<?php echo isset($data['appl_phone_mobile'])?$data['appl_phone_mobile']:"NULL"; ?>" /></td>
				<td> <input type="text" name="appl_address1[]" value="<?php echo isset($data['appl_address1'])?$data['appl_address1']:"NULL"; ?>" /></td>
				<td> <input type="text" name="father_af_name[]" value="<?php echo isset($data['father_af_name'])?$data['father_af_name']:"NULL"; ?>" /></td>
				<td> <input type="text" name="father_af_address1[]" value="<?php echo isset($data['father_af_address1'])?$data['father_af_address1']:"NULL"; ?>" /></td>
				<td> <input type="text" name="father_af_phone[]" value="<?php echo isset($data['father_af_phone'])?$data['father_af_phone']:"NULL"; ?>" /></td>
			</tr>
		<?php 
			
			
			$row++;
			endforeach;
		?>
	</table>
	
	<input type="submit" value="submit" />
</form>


