<head>
<script>
dojo.addOnLoad(function(){

	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');

	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
		<legend>
			<?php echo $this->translate("Student Search");?>
		</legend>
		<form
			action="<?php echo $this->baseUrl();?>/examination/gpacalculation/index"
			method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("Student Name");?>
					</td>
					<td><?php echo $this->lobjform->field4;?></td>
					<td><?php echo $this->translate("Registration Id");?></td>
					<td><?php echo $this->lobjform->field3;?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Semester");?></td>
					<td><?php echo $this->lobjform->field2;?></td>
					<td><?php echo $this->translate("$this->Program");?></td>
					<td><?php echo $this->lobjform->field8;?></td>
				</tr>

				<tr>
					<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
					</td>

				</tr>
			</table>
		</form>
	</fieldset>
	<br />

	<?php if(count($this->results) > 0) { ?>
	<form name="studentsubjectmarks" method="POST">
		<fieldset>
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
					<th><?php echo $this->translate("Student Name");?>
					</th>
					<th><?php echo $this->translate("Registration ID No.");?>
					</th>
					<th><?php echo $this->translate("Semester");?></th>
				</tr>
				<?php foreach ($this->results as $lobjstudents): ?>
				<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
					<td><a
						href="<?php echo $this->url(array('module'=>'examination','controller'=>'gpacalculation', 'action'=>'newgpacalculation' , 'id'=>$lobjstudents['IdApplication'],'regid'=>$lobjstudents['IdStudentRegistration'],'subjid'=>$lobjstudents['IdSubject']),'default',true);?>"><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?>
					</a></td>
					<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
					<td><?php echo $this->escape($lobjstudents['ShortName']);?></td>
				</tr>
				<?php   endforeach; ?>
			</table>

		</fieldset>
	</form>

	<?php }?>
</body>
</html>
