<?php
echo $this->headScript()->appendFile($this->baseUrl() . '/js/ckeditor4/ckeditor.js');
?>
<script type="text/javascript">
    $(function () {
        CKEDITOR.replace('instruction', {
            // Define the toolbar groups as it is a more accessible solution.
            toolbarGroups: [
                {name: 'document', groups: ['mode', 'document', 'doctools']},
                {name: 'clipboard', groups: ['clipboard', 'undo']},
                {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                {name: 'forms', groups: ['forms']},
                '/',
                {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                {name: 'links', groups: ['links']},
                {name: 'insert', groups: ['insert']},
                '/',
                {name: 'styles', groups: ['styles']},
                {name: 'colors', groups: ['colors']},
                {name: 'tools', groups: ['tools']},
                {name: 'others', groups: ['others']},
                '/',
                {name: 'about', groups: ['about']}
            ],
            // Remove the redundant buttons from toolbar groups defined above.
            removeButtons: 'Source,Save,Templates,Cut,Undo,Find,SelectAll,Scayt,Form,Image,Maximize,About,NewPage,Preview,Print,PasteText,PasteFromWord,Paste,Copy,Redo,Replace,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,BidiLtr,BidiRtl,Language,CreateDiv,Blockquote,ShowBlocks,SpecialChar,Iframe,Table,Flash,Smiley,PageBreak,Anchor'
        });
    });


</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'section-list', 'id' => $this->progscheme_id, 'stdCtgy' => $this->stdCtgy), 'default', true); ?>';">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>
        </ul>
    </div>
</div>

<?php
$this->addSectionTaggingForm->setAction($this->url());
echo $this->addSectionTaggingForm;
?>
