<?php
echo $this->headScript()->appendFile($this->baseUrl() . '/js/ckeditor/ckeditor.js');
?>
<script type="text/javascript">
    function getProgramScheme(element) {

        var idProgram = $(element).val();

        if (idProgram != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'application', 'controller' => 'report', 'action' => 'get-program-scheme'), 'default', true);?>",
                data: {'idProgram': idProgram},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#IdProgramScheme').empty();
                    $('#IdProgramScheme').append('<option value="">All</option>');
                    $.each(data, function (index) {
                        if (IdProgramScheme == data[index].IdProgramScheme) {
                            var sel = 'selected';
                        } else {
                            var sel = '';
                        }
                        $('#IdProgramScheme').append('<option value="' + data[index].IdProgramScheme + '"' + sel + '>' + data[index].ProgramMode + ' ' + data[index].StudyMode + ' ' + data[index].ProgramType + '</option>');
                    });

                },
                error: function () {
                    alert("failure");
                },
                beforeSend: function () {
                    showLoading('IdProgramScheme');

                },
                complete: function () {
                    hideLoading('IdProgramScheme');
                }
            });
        }
    }

    $(function () {
        $("#dialog-copy-section").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "Copy": function () {
                    $("#copy_section").submit();
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }

            },
            open: function (event, ui) {
                $("#dialog-copy-section").empty();

                var schemeId = document.getElementById('IdScheme').value;
                var programId = document.getElementById('IdProgram').value;
                var programSchemeId = document.getElementById('IdProgramScheme').value;
                var stdCtgy = document.getElementById('category').value;

                var url = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'copy-section-preview'), "default", true);?>/schemeId/"+schemeId+"/programId/" + programId + "/programSchemeId/" + programSchemeId + "/stdCtgy/" + stdCtgy;
                var data = {};

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    dataType: 'json',
                    beforeSend: function () {
                        showLoading('dialog-copy-section');
                    },
                    complete: function () {
                        hideLoading('dialog-copy-section');
                    }
                })
                    .done(function (data) {
                        var content = "";
                        content = "<fieldset>";
                        content += "<legend><?php echo $this->translate("Section to be copy"); ?></legend>"
                        content += "<ul>";
                        $.each(data, function (index) {
                            content += "<li>" + data[index].name + " (" + data[index].itemCount + " Item)</li>";
                            if (data[index].ChecklistCopy) {
                                content += "<ol>";
                                $.each(data[index].ChecklistCopy, function (index2) {
                                    content += "<li>" + data[index].ChecklistCopy[index2] + "</li>"
                                });
                                content += "</ol>";
                            }
                        });
                        content += "</ul>";
                        content += "</fieldset>";

                        $('#dialog-copy-section').html(content);
                    })
                    .fail(function () {
                        alert("error load copy preview");
                    });
            }
        });
    });

    function sureCopy() {
        if (document.getElementById('IdScheme').value != "") {
            $("#dialog-copy-section").dialog('open');
        } else {
            alert("Scheme are required");
        }
    }

    function showLoading(target, target_div) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'section-list', 'id' => $this->id), 'default', true); ?>';">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>

        </ul>
    </div>
</div>

<table class="table" width="100%">
    <tr>
        <th width="20%"><?php echo $this->translate('Scheme'); ?></th>
        <td width="80%"><?php echo $this->config['SchemeName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program'); ?></th>
        <td><?php echo ($this->config['ProgramName']) ? $this->config['ProgramName'] : 'ALL'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <td>ALL</td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Student Category'); ?></th>
        <td><?php echo ($this->config['studentCategory']) ? $this->config['studentCategory'] : 'ALL'; ?></td>
    </tr>
</table>
<br>

<fieldset>
    <legend><?php echo $this->translate("Copy Section Tagging"); ?></legend>
    <form id="copy_section" method="post">
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <td width="20%"><?php echo $this->translate("Scheme"); ?> <font color="red">*</font></td>
                <td width="80%"><?php echo $this->copySectionTaggingForm->IdScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program"); ?></td>
                <td><?php echo $this->copySectionTaggingForm->IdProgram; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program Scheme"); ?></td>
                <td><?php echo $this->copySectionTaggingForm->IdProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Student Category"); ?></td>
                <td><?php echo $this->copySectionTaggingForm->category; ?></td>
            </tr>
        </table>
        <div class="form-opt">
            <?php echo $this->copySectionTaggingForm->Copy; ?>
        </div>
    </form>
</fieldset>
<div id="dialog-copy-section" title="Copy Section Preview">
</div>