<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor/ckeditor.js');
?>
<script type="text/javascript">
        function get_section(element){
        
            var program_id = document.getElementById('programscheme').value;
            var stdCtgy = document.getElementById('stdCtgy').value;
            
            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'section-tagging-ajax'),"default",true);?>/id/"+program_id+"/stdCtgy/"+stdCtgy+"/sectionID/"+element;
            var data_dropdown_pro = {};
            
            $.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_dropdown_pro,
  	  	dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){                    
                    content +=	'<option label="'+data[index].name+'" value="'+data[index].key+'">'+data[index].name+'</option>';
                });
                $('#section').html(content);
            })
            .fail(function() {
                    alert("error load table"); 
            });
        }
        
        function get_item(){
        
            var section_id = document.getElementById('section').value;
            
            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'item-tagging-ajax'),"default",true);?>/id/"+section_id;
            var data_dropdown_pro = {};
            
            $.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_dropdown_pro,
  	  	dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){                    
                    content +=	'<option label="'+data[index].name+'" value="'+data[index].key+'">'+data[index].name+'</option>';
                });
                $('#item').html(content);
            })
            .fail(function() {
                    alert("error load table"); 
            });
        }
        
        function get_programscheme(){
        
            var program_id = document.getElementById('program').value;

            var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
            var data_dropdown = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_dropdown,
                dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){                    
                    content += '<option label="'+data[index].programType+''+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme"); 
            });
        }
        
        function get_docList(){
            
            var item_id = document.getElementById('item').value;
            var section_id = document.getElementById('key').value;

            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'doc-tagging-ajax'),"default",true);?>/id/"+item_id;
            var data_item = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_item,
                dataType: 'json'
            })
            .done(function(data) {
                
                if (data.formType === '534'){
                    document.getElementById("checklist").style.display = "block";
                    document.getElementById("checklist").required = true;
                    //document.getElementById("checklist").setRequired(true);
                    document.getElementById("checklist-label").style.display = "block";
                    //document.getElementById("checklist-label").required = true;
                
                    var url_drop = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'doc-checklist-ajax'),"default",true);?>/section_id/"+section_id;
                    var data_dropdown = {};

                    $.ajax({
                        type: "POST",
                        url: url_drop,
                        data: data_dropdown,
                        dataType: 'json',
                        beforeSend: function() {
                            showLoading('checklist');
                        },
                        complete: function() {
                            hideLoading('checklist');
                        }
                    })
                    .done(function(data) {

                        var content = '<option label="-- All --" value="">-- All --</option>';
                        $.each(data,function(index){                    
                            content += '<option label="'+data[index].dcl_name+'" value="'+data[index].dcl_Id+'">'+data[index].dcl_name+'</option>';
                        });
                        $('#checklist').html(content);

                    })
                    .fail(function() {
                        alert("error load document checklist dropdown"); 
                    });
                
                } else {
                    document.getElementById("checklist").style.display = "none";
                    document.getElementById("checklist").required = false;
                    document.getElementById("checklist-label").style.display = "none";
                    //document.getElementById("checklist-label").required = false;
                }
            })
            .fail(function() {
                alert("error load document checklist"); 
            });
        }
        
        function showLoading(target,target_div){
            $('#'+target).hide();
            $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        }

        function hideLoading(target){
            $('#loading').remove();
            $('#'+target).show();
        }
        
        $(function() {
            $( "#dialog-copy-item" ).dialog({
                modal: true,
                autoOpen: false,
                width: 600,
                buttons: {
                    "Cancel": function() {
                        $( this ).dialog( "close" );
                    },
                    "Copy": function() {
                        $("#copy_item").submit();
                        $( this ).dialog( "close" );         	   
                    }
                },
                open: function (event, ui) {
                    $("#dialog-copy-item").empty();
                    
                    var programId = document.getElementById('program').value;
                    var programSchemeId = document.getElementById('programscheme').value;
                    var stdCtgy = document.getElementById('stdCtgy').value;
                    var sectionId = document.getElementById('section').value;

                    var url = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'copy-item-preview'),"default",true);?>/programId/"+programId+"/programSchemeId/"+programSchemeId+"/stdCtgy/"+stdCtgy+"/sectionId/"+sectionId;
                    var data = {};

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        dataType: 'json',
                        beforeSend: function() {
                            showLoading('dialog-copy-item');
                        },
                        complete: function() {
                            hideLoading('dialog-copy-item');
                        }
                    })
                    .done(function(data) {
                        var content = "";
                        content = "<ul>";
                        $.each(data,function(index){
                            content += "<li>"+data[index].name+"</li>";
                        });
                        content += "</ul>";

                        $('#dialog-copy-item').html(content);
                    })
                    .fail(function() {
                        alert("error load copy preview"); 
                    });
                }
            });
        });

        function sureCopy(){
            if (document.getElementById('program').value != "" && document.getElementById('programscheme').value != "" && document.getElementById('stdCtgy').value !="" && document.getElementById('section').value !=""){
                $( "#dialog-copy-item" ).dialog('open');
            }else{
                alert("All field are required");
            }
        }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'item-list', 'section_id'=>$this->section_id),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Program").' : '.$this->sectionInfo["ProgramName"]; ?></li>
        <li><?php echo $this->translate("Program Scheme").' : '.$this->sectionInfo["ProgramScheme"]; ?></li>
        <li><?php echo $this->translate("Student Category").' : '.$this->sectionInfo["StudentCategory"]; ?></li>
        <li><?php echo $this->translate("Section").' : '.$this->sectionInfo["name"] ?></li>
    </ul>
</fieldset>
<br>
<fieldset>
    <legend><?php echo $this->translate("Copy Item Tagging");?></legend>
    <form id="copy_item" method="post" >
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th colspan="4"><?php echo $this->translate("Copy Section Tagging"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Program"); ?></td>
            <td><?php echo $this->copyItemTaggingForm->field3; ?></td>
            <td><?php echo $this->translate("Program Scheme"); ?></td>
            <td><?php echo $this->copyItemTaggingForm->field2; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Student Category"); ?></td>
            <td><?php echo $this->copyItemTaggingForm->field4; ?></td>
            <td><?php echo $this->translate("Section"); ?></td>
            <td><?php echo $this->copyItemTaggingForm->field5; ?></td>
        </tr>
    </table>
    <div class="form-opt">
        <?php echo $this->copyItemTaggingForm->Copy; ?>
    </div>
</form>
</fieldset>
<div id="dialog-copy-item" title="Copy Item Preview">   
</div>