<script type="text/javascript">
    function get_programscheme() {

        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship', 'action' => 'scholarship-tagging-ajax'), "default", true);?>/id/" + program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json'
        })
            .done(function (data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data, function (index) {
                    content += '<option label="' + data[index].programType + '' + data[index].mop_name + ' ' + data[index].mos_name + '" value="' + data[index].IdProgramScheme + '">' + data[index].programType + ' ' + data[index].mop_name + ' ' + data[index].mos_name + '</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function () {
                alert("error load program scheme");
            });
    }

    $(function () {
        $("#dialog-copy-status").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "Copy": function () {
                    $("#copy_section").submit();
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }

            },
            open: function (event, ui) {
                $("#dialog-copy-status").empty();

                var schemeId = document.getElementById('IdScheme').value;
                var programId = document.getElementById('IdProgram').value;
                var programSchemeId = document.getElementById('IdProgramScheme').value;
                var stdCtgy = document.getElementById('category').value;

                var url = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'copy-status-preview'), "default", true);?>/schemeId/" + schemeId + "/programId/" + programId + "/programSchemeId/" + programSchemeId + "/stdCtgy/" + stdCtgy;
                var data = {};

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    dataType: 'json',
                    beforeSend: function () {
                        showLoading('dialog-copy-status');
                    },
                    complete: function () {
                        hideLoading('dialog-copy-status');
                    }
                })
                    .done(function (data) {
                        var content = "";
                        content = "<fieldset>";
                        content += "<legend><?php echo $this->translate("Status to be copy"); ?></legend>"
                        content += "<ul>";
                        $.each(data, function (index) {
                            var desc = '';
                            if (data[index].sts_desc) {
                                desc = " (" + data[index].sts_desc + ")";
                            }
                            content += "<li><strong>" + data[index].name + "</strong>" + desc + "</li>";
                        });
                        content += "</ul>";
                        content += "</fieldset>";

                        $('#dialog-copy-status').html(content);
                    })
                    .fail(function () {
                        alert("error load copy preview");
                    });
            }
        });
    });

    function sureCopy() {
        if (document.getElementById('IdScheme').value != "") {
            $("#dialog-copy-status").dialog('open');
        } else {
            alert("All field are required");
        }
    }

    function showLoading(target, target_div) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->backURL; ?>'">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>
            <!--<li class="divider"></li>-->
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<table class="table" width="100%">
    <tr>
        <th width="20%"><?php echo $this->translate('Scheme'); ?></th>
        <td width="80%"><?php echo $this->config['SchemeName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program'); ?></th>
        <td><?php echo ($this->config['ProgramName']) ? $this->config['ProgramName'] : 'ALL'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <td>ALL</td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Student Category'); ?></th>
        <td><?php echo ($this->config['studentCategory']) ? $this->config['studentCategory'] : 'ALL'; ?></td>
    </tr>
</table>
<br>
<fieldset>
    <legend><?php echo $this->translate("Copy Status"); ?></legend>
    <form id="copy_section" method="post">
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <td width="20%"><?php echo $this->translate("Scheme"); ?> <font color="red">*</font></td>
                <td width="80%"><?php echo $this->copyStatusForm->IdScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program"); ?></td>
                <td><?php echo $this->copyStatusForm->IdProgram; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program Scheme"); ?></td>
                <td><?php echo $this->copyStatusForm->IdProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Student Category"); ?></td>
                <td><?php echo $this->copyStatusForm->category; ?></td>
            </tr>
        </table>
        <div class="form-opt">
            <?php echo $this->copyStatusForm->Copy; ?>
        </div>
    </form>
</fieldset>
<div id="dialog-copy-status" title="Copy Status Preview">
</div>