<?php
echo $this->headScript()->appendFile($this->baseUrl() . '/js/ckeditor4/ckeditor.js');
?>
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace('instruction', {
                // Define the toolbar groups as it is a more accessible solution.
                toolbarGroups: [
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    '/',
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    '/',
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    '/',
                    {name: 'about', groups: ['about']}
                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Source,Save,Templates,Cut,Undo,Find,SelectAll,Scayt,Form,Image,Maximize,About,NewPage,Preview,Print,PasteText,PasteFromWord,Paste,Copy,Redo,Replace,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,BidiLtr,BidiRtl,Language,CreateDiv,Blockquote,ShowBlocks,SpecialChar,Iframe,Table,Flash,Smiley,PageBreak,Anchor'
            });
        });

        function get_programscheme() {

            var program_id = document.getElementById('program').value;

            var url = "<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship', 'action' => 'scholarship-tagging-ajax'), "default", true);?>/id/" + program_id;
            var data_dropdown = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_dropdown,
                dataType: 'json'
            })
                .done(function (data) {
                    var content = '<option label="-- All --" value="">-- All --</option>';
                    $.each(data, function (index) {
                        content += '<option label="' + data[index].mos_name + ' ' + data[index].mop_name + '" value="' + data[index].IdProgramScheme + '">' + data[index].mos_name + ' ' + data[index].mop_name + '</option>';
                    });
                    $('#programscheme').html(content);
                })
                .fail(function () {
                    alert("error load program scheme");
                });
        }
    </script>
    <div class="message toolbar">
        <h2><?php echo $this->title; ?></h2>
        <div class="toolbar-button">
            <ul>
                <li class="divider"></li>
                <li>
                    <a href="#"
                       onclick="window.location.href='<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'section-list', 'id' => $this->id), 'default', true); ?>';">
                        <span class='back'></span>
                        <?php echo $this->translate("Back"); ?>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<?php
$this->editSectionTaggingForm->setAction($this->url());
echo $this->editSectionTaggingForm;
?>