<?php
echo $this->headScript()->appendFile($this->baseUrl() . '/js/ckeditor4/ckeditor.js');
?>
<script type="text/javascript">
        $(function() {
            CKEDITOR.replace( 'instruction',{
                toolbarGroups: [
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    '/',
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    '/',
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    '/',
                    {name: 'about', groups: ['about']}
                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Source,Save,Templates,Cut,Undo,Find,SelectAll,Scayt,Form,Image,Maximize,About,NewPage,Preview,Print,PasteText,PasteFromWord,Paste,Copy,Redo,Replace,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,BidiLtr,BidiRtl,Language,CreateDiv,Blockquote,ShowBlocks,SpecialChar,Iframe,Table,Flash,Smiley,PageBreak,Anchor'
            });
        });
    
        function get_program(){
        
            var program_id = document.getElementById('programscheme').value;
            
            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'section-tagging-ajax'),"default",true);?>/id/"+program_id;
            var data_dropdown_pro = {};
            
            $.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_dropdown_pro,
  	  	dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){                    
                    content +=	'<option label="'+data[index].name+'" value="'+data[index].key+'">'+data[index].name+'</option>';
                });
                $('#section').html(content);
            })
            .fail(function() {
                    alert("error load table"); 
            });
        }
        
        function get_section(){
        
            var section_id = document.getElementById('section').value;
            
            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'item-tagging-ajax'),"default",true);?>/id/"+section_id;
            var data_dropdown_pro = {};
            
            $.ajax({
  		type: "POST",
  	  	url: url,
  	  	data: data_dropdown_pro,
  	  	dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){                    
                    content +=	'<option label="'+data[index].name+'" value="'+data[index].key+'">'+data[index].name+'</option>';
                });
                $('#item').html(content);
            })
            .fail(function() {
                    alert("error load table"); 
            });
        }
        
        function get_programscheme(){
        
            var program_id = document.getElementById('program').value;

            var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
            var data_dropdown = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_dropdown,
                dataType: 'json'
            })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){                    
                    content += '<option label="'+data[index].mos_name+' '+data[index].mop_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].mos_name+' '+data[index].mop_name+'</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme"); 
            });
        }
        
        $(function() {
            
            var formType = document.getElementById('formType').value;
            
            if (formType !== '534'){
                document.getElementById("checklist").style.display = "none";
                document.getElementById("checklist-label").style.display = "none";
            } else {
                document.getElementById("checklist").style.display = "block";
                document.getElementById("checklist-label").style.display = "block";
                document.getElementById("checklist").required = true;
                //get_docList();
            }
        });
        
        function get_docList(){
            
            var item_id = document.getElementById('item').value;
            var section_id = document.getElementById('key').value;

            var url = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'doc-tagging-ajax'),"default",true);?>/id/"+item_id;
            var data_item = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_item,
                dataType: 'json'
            })
            .done(function(data) {
                
                if (data.formType === '534'){
                    document.getElementById("checklist").style.display = "block";
                    document.getElementById("checklist").required = true;
                    document.getElementById("checklist-label").style.display = "block";
                    //document.getElementById("checklist-label").required = true;
                
                    var url_drop = "<?php echo $this->url(array('module'=>'application','controller'=>'admission-checklist', 'action'=>'doc-checklist-ajax'),"default",true);?>/section_id/"+section_id;
                    var data_dropdown = {};

                    $.ajax({
                        type: "POST",
                        url: url_drop,
                        data: data_dropdown,
                        dataType: 'json',
                        beforeSend: function() {
                            showLoading('checklist');
                        },
                        complete: function() {
                            hideLoading('checklist');
                        }
                    })
                    .done(function(data) {

                        var content = '<option label="-- All --" value="">-- All --</option>';
                        $.each(data,function(index){                    
                            content += '<option label="'+data[index].dcl_name+'" value="'+data[index].dcl_Id+'">'+data[index].dcl_name+'</option>';
                        });
                        $('#checklist').html(content);

                    })
                    .fail(function() {
                        alert("error load document checklist dropdown"); 
                    });
                
                } else {
                    document.getElementById("checklist").style.display = "none";
                    document.getElementById("checklist").required = false;
                    document.getElementById("checklist-label").style.display = "none";
                    //document.getElementById("checklist-label").required = false;
                }
            })
            .fail(function() {
                alert("error load document checklist"); 
            });
        }
        
        function showLoading(target,target_div){
            $('#'+target).hide();
            $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        }

        function hideLoading(target){
            $('#loading').remove();
            $('#'+target).show();
        }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'item-list', 'section_id'=>$this->section_id),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br></br>
<?php 
    $this->editItemTaggingForm->setAction($this->url());
    echo  $this->editItemTaggingForm;
?>