<script type="text/javascript">
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'index'),'default',true).'#tab-3';?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>-->
            </li>
        </ul>
    </div>
</div>
<br></br>
<?php 
    $this->formEditItem->setAction($this->url());
    echo  $this->formEditItem;
?>