<script type="text/javascript">
    function get_programscheme() {

        var program_id = document.getElementById('program').value;

        var url = "<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'scholarship', 'action' => 'scholarship-tagging-ajax'), "default", true);?>/id/" + program_id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function () {
                showLoading('programscheme');
            },
            complete: function () {
                hideLoading('programscheme');
            }
        })
            .done(function (data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data, function (index) {
                    content += '<option label="' + data[index].mos_name + ' ' + data[index].mop_name + ' ' + data[index].programType + '" value="' + data[index].IdProgramScheme + '">' + data[index].mos_name + ' ' + data[index].mop_name + ' ' + data[index].programType + '</option>';
                });
                $('#programscheme').html(content);
            })
            .fail(function () {
                alert("error load program scheme");
            });
    }

    function showLoading(target, target_div) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }

    function addEmailNotification() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'status-template-setup', 'action' => 'add-status-template', 'stsId' => $this->stsId, 'type' => 604, 'title' => $this->statusName));?>";
    }

    function addMessage() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'status-template-setup', 'action' => 'add-status-template', 'stsId' => $this->stsId, 'type' => 603, 'title' => $this->statusName));?>";
    }

    function editEmailNotification() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'status-template-setup', 'action' => 'edit-status-template', 'stsId' => $this->stsId, 'type' => 604, 'stpId' => $this->statusList['sts_emailNotification']));?>";
    }

    function editMessage() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'status-template-setup', 'action' => 'edit-status-template', 'stsId' => $this->stsId, 'type' => 603, 'stpId' => $this->statusList['sts_message']));?>";
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <?php
            if ($this->statusList['sts_emailNotification'] == 0) {
                ?>
                <li>
                    <a href="#" onclick="javascript:addEmailNotification()">
                        <span class='add'></span>
                        <?php echo $this->translate("Add Email Notification"); ?>
                    </a>
                </li>
                <?php
            } else {
                ?>
                <li>
                    <a href="#" onclick="javascript:editEmailNotification()">
                        <span class='preview'></span>
                        <?php echo $this->translate("View Email Notification"); ?>
                    </a>
                </li>
                <?php
            }
            if ($this->statusList['sts_message'] == 0) {
                ?>
                <li>
                    <a href="#" onclick="javascript:addMessage()">
                        <span class='add'></span>
                        <?php echo $this->translate("Add Message"); ?>
                    </a>
                </li>
                <?php
            } else {
                ?>
                <li>
                    <a href="#" onclick="javascript:editMessage()">
                        <span class='preview'></span>
                        <?php echo $this->translate("View Message"); ?>
                    </a>
                </li>
                <?php
            }
            ?>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->backURL; ?>'">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br/><br/>
<?php
$this->editStatusForm->setAction($this->url());
echo $this->editStatusForm;
?>
