<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor/ckeditor.js');
?>
<script type="text/javascript">  
    $(function() {
	CKEDITOR.replace( 'instruction',{
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height : '250px',
            width : '800px'
	} );
    });
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br></br>
<?php 
	$this->formSection->setAction($this->url());
	echo  $this->formSection;
?>