<script type="text/javascript">
    $(function () {
        $("#tbl_item").sortable({
            axis: 'y',
            update: function (event, ui) {
                var data = $("#sort").serialize();

                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'move-ajax-item'));?>"
                });
            }
        });
        $("#tbl_item").disableSelection();
    });

    function addItemTagging() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'add-item-tagging'));?>";
    }

    function copyItemTagging() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'copy-item-tagging'));?>";
    }

    function editItemTagging() {
        var id = $('input[name=id]:checked').val();

        if (!id) {
            alert('<?php echo $this->translate('Please select any item first'); ?>');
        } else {
            window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'edit-item-tagging'));?>/id/" + id;
        }
    }

    function delItemTagging() {

        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this item ?')?>');

        if (ask === false) {
            return false;
        }

        return true;
    }

    function move_item_up() {

        var id = $('input[name=id]:checked').val();
        var section_id = document.getElementById('section' + id).value;

        if (!id) {
            alert('<?php echo $this->translate('Please select any item first'); ?>');
        } else {
            var url = '<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'move-section'));?>';
            var data_up = {'direction': 'item_up', 'item_id': id};

            $.ajax({
                type: "POST",
                url: url,
                data: data_up,
                dataType: 'text'
            })
                .done(function () {
                    reload_item_table(id, section_id);
                })
                .fail(function () {
                    alert("error moved item up");
                });
        }
    }

    function move_item_down() {

        var id = $('input[name=id]:checked').val();
        var section_id = document.getElementById('section' + id).value;

        if (!id) {
            alert('<?php echo $this->translate('Please select any item first'); ?>');
        } else {

            var url = '<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'move-section'));?>';
            var data_down = {'item_id': id, 'direction': 'item_down'};

            $.ajax({
                type: "POST",
                url: url,
                data: data_down,
                dataType: 'text'
            })
                .done(function () {
                    reload_item_table(id, section_id);
                })
                .fail(function () {
                    alert("error move item down");
                });
        }
    }

    function reload_item_table(id, section_id) {

        $('#tbl_sec_item').empty();

        var url = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'item-tagging-ajax'), "default", true);?>/id/" + section_id;
        var data_table = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_table,
            dataType: 'json'
        })
            .done(function (data) {

                var content = "";
                $.each(data, function (index) {

                    var view = (+data[index].view === 1) ? "Yes" : "No";
                    var compulsory = (+data[index].compulsory === 1) ? "Yes" : "No";
                    var enable = (+data[index].enable === 1) ? "Yes" : "No";

                    content += '<tr id="' + data[index].key + '">';
                    content += '<td align="center">';
                    content += '<input type="radio" name="id" value="' + data[index].key + '" />';
                    content += '<input type="hidden" name="section" id="section' + data[index].key + '" value="' + section_id + '" />';
                    content += '</td>';
                    content += '<td>' + data[index].name + '</td>';
                    content += '<td>' + data[index].tagDesc + '</td>';
                    content += '<td>' + view + '</td>'
                    content += '<td>' + compulsory + '</td>';
                    content += '<td>' + enable + '</td>';
                    content += '<td>' + data[index].seq_order + '</td>';
                    content += '</tr>';

                });

                $('#tbl_sec_item').html(content);

            })
            .fail(function () {
                alert("error load table");
            });
    }
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="javascript:addItemTagging()">
                    <span class='add'></span>
                    <?php echo $this->translate("Add"); ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="copyItemTagging()">
                    <span class='copy'></span>
                    <?php echo $this->translate("Copy"); ?>
                </a>
            </li>

            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'section-list', 'id' => $this->section['id']), 'default', true); ?>';">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>

        </ul>
    </div>
</div>

<table class="table" width="100%">
    <tr>
        <th width="20%"><?php echo $this->translate('Scheme'); ?></th>
        <td width="80%"><?php echo $this->section['SchemeName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program'); ?></th>
        <td><?php echo ($this->section['ProgramName']) ? $this->section['ProgramName'] : 'ALL'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <td>ALL</td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Student Category'); ?></th>
        <td><?php echo ($this->section['studentCategory']) ? $this->section['studentCategory'] : 'ALL'; ?></td>
    </tr>
</table>
<br>

<h3><?php echo $this->translate('Section'); ?> : <?php echo $this->section['name']; ?></h3>

<form id="sort">
    <table id="tbl_program" class="table" width="100%" cellpadding="5" cellspacing="1">
        <!-- start table head -->
        <thead>
        <tr>
            <!--<th width="25px">&nbsp;</th>-->
            <th><?php echo $this->translate("Item"); ?></th>
            <th><?php echo $this->translate("Item Description"); ?></th>
            <th><?php echo $this->translate("Tooltip"); ?></th>
            <th><?php echo $this->translate("View"); ?></th>
            <th><?php echo $this->translate("Compulsory"); ?></th>
            <th><?php echo $this->translate("Enable"); ?></th>
            <th><?php echo $this->translate("Hide"); ?></th>
            <th><?php echo $this->translate("Admission Checklist"); ?></th>
            <th><?php echo $this->translate("Order"); ?></th>
            <th><?php echo $this->translate(""); ?></th>
        </tr>
        </thead>
        <!-- end table head -->

        <!--start table body -->
        <tbody id="tbl_item" style="cursor:move">
        <?php
        if (count($this->itemList)):
            foreach ($this->itemList as $itemListLoop):
                ?>
                <tr id='<?php echo $itemListLoop['key']; ?>'>
                    <input type="hidden" name="item[]" value="<?php echo $itemListLoop['key']; ?>"/>
                    <input type="hidden" name="section" id="<?php echo 'section' . $itemListLoop['key']; ?>"
                           value="<?php echo $this->sectionid; ?>"/>

                    <td><?php echo $itemListLoop['name']; ?></td>
                    <td><?php echo $itemListLoop['description']; ?></td>
                    <td><?php echo $itemListLoop['tagDesc']; ?></td>
                    <td><?php echo($itemListLoop['view'] == 1 ? 'Yes' : 'No'); ?></td>
                    <td><?php echo($itemListLoop['compulsory'] == 1 ? 'Yes' : 'No'); ?></td>
                    <td><?php echo($itemListLoop['enable'] == 1 ? 'Yes' : 'No'); ?></td>
                    <td><?php echo($itemListLoop['hide'] == 1 ? 'Yes' : 'No'); ?></td>
                    <td><?php echo $itemListLoop['dcl_name']; ?></td>
                    <td align="center"><?php echo $itemListLoop['seq_order']; ?></td>
                    <td align="center" class="options">
                        <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'edit-item-tagging', 'id' => $itemListLoop['key'])); ?>"><?php echo $this->translate("Edit"); ?></a>
                        |
                        <a onclick="return delItemTagging()"
                           href="<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'delete-item-tagging', 'id' => $itemListLoop['key'])); ?>"><?php echo $this->translate("Delete"); ?></a>
                    </td>
                </tr>
                <?php
            endforeach;


        else:
            echo '<tr><td colspan="10">No data</td></tr>';
        endif;
        ?>
        </tbody>
    </table>
</form>