<script type="text/javascript">  
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>-->
            <!--<li>
                <a href="#" onclick="addSectionTagging()" >
                <span class='add'></span>
                <?php //echo $this->translate("Add");?>
                </a>
            </li>
            <li>
                <a href="#" onclick="copySectionTagging()" >
                <span class='copy'></span>
                <?php //echo $this->translate("Copy");?>
                </a>
            </li>
            <li>
                <a href="#" onclick="preview()" >
                <span class='preview'></span>
                <?php //echo $this->translate("Preview");?>
                </a>
            </li>-->
            <!--<li>
		<a href="#" onclick="editSectionTagging()">
		<span class='edit'></span>
		<?php //echo $this->translate("Edit");?>
		</a>
            </li>
            <li>
		<a href="#" onclick="javascript:delSectionTagging()">
		<span class='delete'></span>
		<?php //echo $this->translate("Delete");?>
		</a>
            </li>-->
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'index'),'default',true);?>#tab-2';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br></br>
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Program").' : '.$this->programInfo["ProgramName"] ?></li>
    </ul>
</fieldset>
<br><br>
<fieldset>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate("Item Name"); ?></td>
                <th><?php echo $this->translate(""); ?></td>
            </tr>
        </thead>
        <tbody>
            <?php 
            if (count($this->sectionList)):
            foreach ($this->sectionList as $sectionLoop):
            if ($sectionLoop['id']!=1):
            ?>
            <tr>
                <td><?php echo $sectionLoop["name"]; ?></td>
                <td align="center" class="options">
                    <a href="<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'program-item-setup', 'id'=>$this->programId, 'item_id'=>$sectionLoop["id"]),'default',true);?>"><?php echo $this->translate("Edit"); ?></a> | 
                    <a href="<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'item-tooltip-setup', 'id'=>$this->programId, 'item_id'=>$sectionLoop["id"]),'default',true);?>"><?php echo $this->translate("Tooltip Setup"); ?></a>
                </td>
            </tr>
            <?php 
            endif;
            endforeach;
            endif;
            ?>
        </tbody>
    </table>
</fieldset>