<script type="text/javascript">

    $(function () {

        $("#tbl_section_status").sortable({
            axis: 'y',
            update: function (event, ui) {
                var data = $("#sort_status").serialize();

                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'move-ajax-status'));?>"
                });
            }
        });

        $("#tbl_section_status").disableSelection();
    });

    /*
     * status part
     */
    function addStatus() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'add-status'));?>";
    }

    function copyStatus() {
        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'copy-status'));?>";
    }

    function editStatus() {
        var id = $('input[name=id]:checked').val();

        if (!id) {
            alert('<?php echo $this->translate('Please select any status first'); ?>');
        } else {
            window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'edit-status'));?>/sts_id/" + id;
        }
    }

    function delStatus() {

        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this status ?')?>');

        if (ask === false) {
            return false;
        }

        return true;
        /*var id = $('input[name=id]:checked').val();

         if(!id){
         alert('<?php //echo $this->translate('Please select any status first'); ?>');
         }else{
         if(confirm('Are you sure to delete this status ?')){
         window.location="<?php //echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'delete-status'));?>/sts_id/"+id;
         }
         }*/
    }
</script>

<div class="toolbar-button">
    <ul>
        <li class="divider"></li>
        <li>
            <a href="#" onclick="javascript:addStatus()">
                <span class='add'></span>
                <?php echo $this->translate("Add"); ?>
            </a>
        </li>
        <li>
            <a href="#" onclick="copyStatus()">
                <span class='copy'></span>
                <?php echo $this->translate("Copy"); ?>
            </a>
        </li>
    </ul>
</div>
<form id="sort_status">
    <table id="tbl_status" class="table" width="100%" cellpadding="5" cellspacing="1">
        <!-- start table head -->
        <thead>
        <tr>
            <!--<th width="25px">&nbsp;</th>-->
            <th><?php echo $this->translate("Status"); ?></th>
            <th><?php echo $this->translate("Status (Malay)"); ?></th>
            <th><?php echo $this->translate("Information"); ?></th>
            <th><?php echo $this->translate("Message Title"); ?></th>
            <th><?php echo $this->translate("Email Notification Title"); ?></th>
            <th><?php echo $this->translate("Order"); ?></th>
            <th width="100px"><?php echo $this->translate(""); ?></th>
        </tr>
        </thead>
        <!-- end table head -->

        <!--start table body -->
        <tbody id="tbl_section_status" style="cursor:move">
        <?php
        if (count($this->statusList)):
            foreach ($this->statusList as $statusList):
                ?>
                <tr id='<?php echo $statusList['sts_Id']; ?>'>
                    <input type="hidden" name="item[]" value="<?php echo $statusList['sts_Id']; ?>"/>
                    <td><?php echo $statusList['statusName']; ?></td>
                    <td><?php echo $statusList['sts_malayName']; ?></td>
                    <td><?php echo $statusList['sts_desc']; ?></td>
                    <td><?php echo $statusList['messageTitle']; ?></td>
                    <td><?php echo $statusList['emailTitle']; ?></td>
                    <td align="center"><?php echo $statusList['sts_sequence']; ?></td>
                    <td align="center" class="options">
                        <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'edit-status', 'sts_id' => $statusList['sts_Id'])); ?>"><?php echo $this->translate("Edit"); ?></a>
                        |
                        <a onclick="return delStatus()"
                           href="<?php echo $this->url(array('module' => 'application', 'controller' => 'application-initial-configuration', 'action' => 'delete-status', 'sts_id' => $statusList['sts_Id'])); ?>"><?php echo $this->translate("Delete"); ?></a>
                    </td>
                </tr>
                <?php
            endforeach;
        endif;
        ?>
        </tbody>
    </table>
</form>
