<script type="text/javascript">
    function getvalue(item, program){
        
        $("#tooltip-label").hide();
        
        var url_drop = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'get-value-ajax'),"default",true);?>/item_id/"+item+"/program_id/"+program;
        var data = {};

        $.ajax({
            type: "POST",
            url: url_drop,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('value');
            },
            complete: function() {
                hideLoading('value');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].value+'">'+data[index].name+'</option>';
            });
            $('#value').html(content);
        })
        .fail(function() {
            alert("error load tooltip setup"); 
        });
    }
    
    function load(program){
        
        var item = $("#item").val();
        var value = $("#value").val();
        
        if (item == '' || value == ''){
            $("#tooltip-label").hide();
            return false;
        }else{
			$("#tooltip-label").show();
        }
        
        var desc = "";
        var url_drop = "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'load-tooltip-ajax'),"default",true);?>/item_id/"+item+"/program_id/"+program+"/value_id/"+value;
        var data = {};

        $.ajax({
            type: "POST",
            url: url_drop,
            data: data,
            dataType: 'json',
            beforeSend: function() {
                showLoading('tooltiptextarea');
            },
            complete: function() {
                hideLoading('tooltiptextarea');
            }
        })
        .done(function(data) {
            $('#tooltip-content').empty();
            var content = "";
            if (data != false){
                desc = data.tts_desc;
                content = '<textarea cols="50" rows="6" required="true" id="tooltiptextarea" name="tooltiptextarea" style="display: inline;" >'+data.tts_desc+'</textarea>';
                $('#tooltip-content').html(content);
            }else{
                content = '<textarea cols="50" rows="6" required="true" id="tooltiptextarea" name="tooltiptextarea" style="display: inline;" >'+desc+'</textarea>';
                $('#tooltip-content').html(content);
            }
        })
        .fail(function() {
            alert("error load tooltip setup"); 
        });
    }
    
    function savetooltip(){
        //alert("save");
        var data = $("#tooltip").serialize();

		/*if ( $("#tooltiptextarea").val() == '' )
		{
			alert('<?php //echo $this->translate('Tooltip information cannot be empty')?>');
			return false;
		}*/
                
        $.ajax({
            data: data,
            type: 'POST',
            url: "<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'save-tooltip-ajax'));?>",
            beforeSend: function() {
                showLoading('tooltiptextarea');
            },
            complete: function() {
                hideLoading('tooltiptextarea');
            }
        }).done(function(data) {
            $('#tooltiptextarea').empty();
            var content = "";
            if (data != false){
                content = ''+data.tts_desc+'';
                $('#tooltiptextarea').html(content);
				$("#tooltip-save .flash").show().fadeOut(2000);
				
            }else{
                $('#tooltiptextarea').html(content);
            }
        })
        .fail(function() {
            alert("error save tooltip setup"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'application-initial-configuration', 'action'=>'index'),'default',true);?>#tab-5';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br /><br />
<fieldset>
    <legend><?php echo $this->title; ?></legend>
		
		<form id="tooltip" method="post">
		<div id="tooltip-wrap" class="col-group">
				
			<div class="col-half">
				<table width="100%">
				<tr>
					<td><?php echo $this->translate("Item");?></td>
					<td><?php echo $this->form->item; ?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Value");?></td>
					<td><?php echo $this->form->value; ?></td>
				</tr>
				</table>
			</div>

			<div class="col-half bordered">

				<!-- tool tip -->
				<div id="tooltip-label" style="display: none">
					<input type="hidden" value="<?php echo $this->program_id; ?>" name="program_id" />
					<div class="tooltip-title"><strong><?php echo $this->translate("Tooltip Information");?></strong></div>
					<div class="tooltip-content" id="tooltip-content"><?php echo $this->form->tooltiptextarea; ?></div>
					<div id="tooltip-save">
						<?php echo $this->form->Save; ?> <span class="flash" style="display:none"><?php echo $this->translate("Information saved!")?></span>
					</div>
				</div>
				<!-- /tooltip -->
				
				
			</div>
		</div>
		</form>
			
</fieldset>

<!-- move to style.css later -->
<style type="text/css">
	.col-group { margin:10px 0; overflow:hidden }
	.col-group .col-half { width:50%; float:left; }
	.col-group .col-half h3 { margin:0; padding:0 }
	.col-group .col-half div { margin-bottom:3px; }
	.flash { color:green; font-weight:bold; }
</style>