<script type="text/javascript">
$(function() {
	getProgramScheme('#IdProgram');

});
function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php echo $this->IdProgramScheme; ?>';

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'report', 'action'=>'get-program-scheme'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#IdProgramScheme').empty();
				$('#IdProgramScheme').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {
			    	if(IdProgramScheme==data[index].IdProgramScheme){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdProgramScheme');
		      
			},
			complete: function() {
				hideLoading('IdProgramScheme');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

function print(){
	url = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-registration-report', 'action'=>'print-report'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();

	 url2 = "<?php echo $this->url(array('module'=>'reports','controller'=>'exam-registration-report', 'action'=>'overall-report',),'default',true);?>";
	 $('#search_form').attr('action',url2);
	
}


$(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy' 
    });
  });



</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
    <?php if (count($this->paginator)){	?>
    <ul>    
    <li>
		<a href="#" onclick='print()'>
			<span class='download'></span>
			<?php echo $this->translate("Download");?>
		</a>
	</li>
	</ul>      
	<?php } ?>  
    </div>
</div>
<br><br>
<?php echo $this->form; ?>
<br></br>
<?php if (count($this->paginator)){	?>
<?php //echo $this->translate("Total no. of records: ").count($this->student); ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>	
		<th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>		
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Selected City");?></th>
		<th><?php echo $this->translate("Exam Centre - previous semester");?></th>
		<th><?php echo $this->translate("Exam Centre").'-'.$this->semester['SemesterMainName'];?></th>
		<th><?php echo $this->translate("Contact No");?></th>		    	
		<th><?php echo $this->translate("Email ID");?></th>
		<!--<th><?php echo $this->translate("Mode of Studies");?></th>-->
		<th><?php echo $this->translate("Mode of Programme");?></th>
		<th><?php echo $this->translate("Collaboration Partner");?></th>
		<?php foreach($this->subject_list as $subject){?>		
			<th><?php echo $subject['SubCode'];?></th>
		<?php } ?>
		<th><?php echo $this->translate("Total");?></th>
	</tr>  
	
	<?php 
		$no=0;
		foreach($this->paginator as $student){	
		$countsub = 0;
	?> 
	<tr valign="middle">
		<?php if($student['rowno']==1){ $no++; ?>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>"><?php echo $no;?></td>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>"><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>		
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['registrationId']; ?></td>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['statusName']; ?></td>
		<?php } ?>
		
		
		<td align='center' rowspan="<?php //echo $student['rowspancity']; ?>"><?php echo ($student['er_idCity']==99) ? $student['er_idCityOthers']:$student['CityName']; ?>&nbsp;</td>
		<td align='center' rowspan="<?php //echo $student['rowspancity']; ?>"><?php echo $student['prevExamCenter']; ?>&nbsp;</td>
		<td align='center' rowspan="<?php //echo $student['rowspancity']; ?>"><?php echo $student['ec_code']; ?>&nbsp;</td>
		
		
		<?php if($student['rowno']==1){?>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['appl_phone_mobile']; ?></td>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['appl_email_personal']; ?></td>
		<!--<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['StudyMode']; ?></td>-->
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['ProgramMode']; ?></td>
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['BranchCode']; ?></td>
		<?php } ?>
		
		<?php 
		$citysubject = explode(',',$student['arr_subjects']);
		foreach($this->subject_list as $subject){	?>	
			<td align='center'>
			<?php 
			$status  =  in_array($subject['IdSubject'],$citysubject);
			echo ($status==1) ? 'Yes':'';
			?>
			</td>
		<?php } ?>		
		<?php if($student['rowno']==1){?>		
		<td valign="middle" rowspan="<?php echo $student['rowspan']; ?>" align='center'><?php echo $student['total_subject_registered']; ?></td>
		<?php } ?>
	</tr>	
	<?php } ?> 	
	<tr>
		<td colspan=11 align='right'>Total</td>
		<?php foreach($this->subject_list as $subject){?>		
			<td align='center'><?php echo $subject['total'];?></td>
		<?php } ?>
		<td align='center'>&nbsp;</td>
	</tr>	
</table>
<?php } ?>