<style>
select{
	width: 250px;
}
</style>
<script>
$(function() {
	
	$('#sel_all').click(function(){
		
		if( $('#sel_all').is(':checked') ){
			$('.selector').prop('checked', true);
		}else{
			$('.selector').prop('checked', false);
		}
		
	});

	$('#btn_assign').click(function(){
		$('#schedule_id').val('');
		
		if($('.selector:checked').length==0){
			alert('<?php echo $this->translate('Please select applicant');?>');

			return false;
		}else{
			$('#location').val(0);
			$('#schedule_id').val('');
			
			$('#dialog_assign').dialog('open');
			return false;
		}
	});

	$('#dialog_assign').dialog({
		'title': 'Select Schedule',
		'autoOpen':false,
		'width': 550,
		buttons: {
	        "Assign": function() {
		        if( $('#schedule_id').val()=='' ){
			        alert('Please select schedule');
		        }else{
			  		$('#form_assign_student').submit();      
		        }
	          
	        },
	        Cancel: function() {
	        $('#schedule_id').val('');  
	          $( this ).dialog( "close" );
	        }
	    }
	});
});

function getSchedule(){ 
	
	$.ajax({
		  url: "/application/secondtest/get-exam-schedule",
		  'data': {'intake':'<?php echo $this->intake_id;?>', 'location':$('#location').val()},
		  'type': 'POST',
		  'dataType':'json',
		  'beforeSend' : function(){
			  $('#schedule').hide();
			  $('#schedule').parent().append('<div id="loading"><img src="/images/ajax-loader-bar.gif" /></div>')
		  },
		  'complete' : function(){
			  $('#loading').remove();
			  $('#schedule').show();
		  }
		}).done(function(data) {

			$('#schedule').empty();
			$('#schedule').append(
				$('<option>')
				.val('')
				.text('<?php echo $this->translate("Please select");?>')
			);
			
			$.each(data, function(index, value){
				$('#schedule').append(
					$('<option>')
					.val(value.aps_id)
					.text(value.aps_test_date)
				);
			});
		  
		});
	
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>							
				<a href="#" id="btn_assign"><span class=save></span><?php echo $this->translate("Assign");?></a>				
			</li>
			<li class="divider"></li>		
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">
<?php 
echo $this->form;
?>
<form name="form_assign_student" id="form_assign_student" action="/application/secondtest/save-assign-student" method="post">
	<input type="hidden" name="schedule_id" id="schedule_id" value="" />
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="10px"><input type="checkbox" id="sel_all" name="" value="" /></th>
		<th><?php echo $this->translate("applicantID");?></th>
		<th><?php echo $this->translate("name");?></th>	
		<th><?php echo $this->translate("programme");?></th>
		<th><?php echo $this->translate("intake");?></th>
		<th><?php echo $this->translate("Period");?></th>
	</tr>
	<?php 
	if($this->rows){
		foreach($this->rows as $row){
		?>
		<tr>
			<td><input type="checkbox" class="selector" name="nopes[]" value="<?php echo $row["at_pes_id"];?>" /></td>
			<td><?php echo $row["at_pes_id"];?></td>
			<td>
				<?php echo $row["appl_fname"]!=null?$row["appl_fname"]. " ":"";?>
				<?php echo $row["appl_mname"]!=null?$row["appl_mname"]. " ":"";?>
				<?php echo $row["appl_lname"]!=null?$row["appl_lname"]. " ":"";?>
			</td>	
			<td><?php echo $row["program_offered"]['program_name_indonesia'];?> (<?php echo $row["program_offered"]['ap_prog_code'];?>)</td>
			<td><?php echo $row["IntakeDesc"];?></td>
			<td><?php echo $row["ap_code"];?></td>
		</tr>	
		<?php 
		}
	}
	?>
</table>
</form>

<div id="dialog_assign">
	<table width="500px">
		<tr>
			<td><?php echo $this->translate("Location");?></td>
			<td>:</td>
			<td>
				<select id="location" onchange="getSchedule();">
						<option value="0"><?php echo $this->translate('Please select');?></option>
					<?php foreach ($this->locations as $location):?>
						<option value="<?php echo $location['al_id'];?>"><?php echo $location['al_location_name'];?></option>
					<?php endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Schedule");?></td>
			<td>:</td>
			<td>
				<select name="schedule" id="schedule" onchange="$('#schedule_id').val($(this).val())">
				</select>
			</td>
		</tr>
	</table>
</div>

</div>