<?php
 //dd($this->students);
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentscholarship', 'action' => 'index'), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form name="add_form" id="add_form" method="post">
	<input type="hidden" name="application[sa_scholarship_type]" value="<?php echo $this->scholarship->sch_Id?>" />
	<table width="100%" class='table'>
		<tr>
			<th colspan='4'><?php echo $this->translate("Scholarship");?></th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Code") ?></td>
			<td><?php echo $this->scholarship->sch_code; ?></td>
			<td><?php echo $this->translate("Scholarship Name");?></td>
			<td><?php echo $this->scholarship->sch_name; ?></td>
		</tr>
		
		<tr>
			<th colspan='4'><?php echo $this->translate("Add Student");?></th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Student Id");?> <span class="reqMark">*</span></td>
			<td>
				<input class="input-txt"  type="text" name="application[sa_cust_id]" id="StudentId">
				<span id="search_status"></span><br/>
				<input type="radio" name="searchby" value="0" id="search-0" checked="checked"/> <label for="search-0"><?php echo $this->translate('ID')?></label>
				<input type="radio" name="searchby" value="1" id="search-1"/> <label for="search-1"><?php echo $this->translate('Name')?></label>
				<!--<button name="Search" id="SearchStudent" ><?php //echo $this->translate('Search'); ?></button>-->
			</td>

			<td><?php echo $this->translate("Student Name");?> </td>
			<td>
				<span id='idstudentname'></span>
				<input type='hidden' id='idstudentregistration' name='application[sa_cust_id]' value=''>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Programme'); ?></td>
			<td><span id='programname'></span></td>
			<td><?php echo $this->translate('Programme Scheme'); ?></td>
			<td><span id='programschemename'></span></td>
		</tr>
                <tr>
                    <td><?php echo $this->translate('Start Date'); ?></td>
                    <td><input type="text" class="input-txt" id="from" name="from"></td>
                    <td><?php echo $this->translate('End Date'); ?></td>
                    <td><input type="text" class="input-txt" id="to" name="to"></td>
                </tr>

		<!--<tr>
			<td><?php /*echo $this->translate("Semester");?>
				<span class="reqMark">*</span></td>
			<td colspan="3">
				<select name="application[sa_semester_id]" id="semester_id" class="select">
					<option></option>
					<?php foreach($this->semesters as $semester) { ?>
						<option value="<?php echo $semester->IdSemesterMaster ?>">
							<?php echo $semester->SemesterMainCode; ?>
						</option>
					<?php }*/ ?>
				</select>
			</td>

		</tr>-->
		

		<td align="right" colspan="8">
			<button name="Add" id="Add" ><?php echo $this->translate('Save'); ?></button>
			<button name="Clear" id="Clear" onclick="clear();return(false);"><?php echo $this->translate('Clear'); ?></button>
		</td>

	</table>
</form>
	<br />

<form name="search_form" id="search_form" method="post">

	<table width="100%" class='table'>
		<tr>
			<th colspan='4'><?php echo $this->translate("Search Student");?></th>
		</tr>
		<tr>
			<td width="25%"><?php echo $this->translate("Student Id");?> <span class="reqMark">*</span></td>
			<td>
				<input class="input-txt" type="text" name="search[studentregistration_id]" id="StudentId">
			</td>

			<!--<td><?php //echo $this->translate("Semester"); ?>
			<td>
				<select name="search[sa_semester_id]" id="semester_id" class="select">
					<?php /*foreach($this->semesters as $semester) { ?>
						<option value="<?php echo $semester->IdSemesterMaster ?>">
							<?php echo $semester->SemesterMainCode; ?>
						</option>
					<?php }*/ ?>
				</select>
			</td>-->
		</tr>

		<td align="right" colspan="4">
			<button name="Search" id="Search" ><?php echo $this->translate('Search'); ?></button>
		</td>
	</table>
</form>
<br />

	<table class="table" width="100%" id="hor" cellpadding="4" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Student Id");?></th>
			<th><?php echo $this->translate("Student Name");?></th>
			<th><?php echo $this->translate("Start Date");?></th>
                        <th><?php echo $this->translate("End Date");?></th>
			<th></th>
		</tr>

		<?php if(isset($this->students) && count($this->students) != 0) {?>
		<?php foreach($this->students as $student) { ?>
		<tr>
			<td><?php echo $student['StudentRegistration']["registrationId"];?></td>
			<td><?php echo $student['StudentProfile']["appl_fname"].' '.$student['StudentProfile']['appl_lname'];?></td>
			<td><?php echo $student['ScholarshipApplication']['sa_start_date']!=null ? date('d-m-Y', strtotime($student['ScholarshipApplication']['sa_start_date'])):''; ?></td>
			<td><?php echo $student['ScholarshipApplication']['sa_end_date']!=null ? date('d-m-Y', strtotime($student['ScholarshipApplication']['sa_end_date'])):''; ?></td>
			<td class="options center">
                            <a href="<?php echo $this->serverUrl('/studentfinance/tagstudentscholarship/view-student/id/' . $student['ScholarshipApplication']['sa_id'] ); ?>">
                            Edit
                            </a>
                            |
                            <a href="<?php echo $this->serverUrl('/studentfinance/tagstudentscholarship/disable/id/' . $student['ScholarshipApplication']['sa_id'] ); ?>">
                            Delete
                            </a>
			</td>
		</tr>
		<?php } ?>
		<?php } else { ?>
			<tr>
				<td colspan="5" align="center"> <?php echo $this->translate('No Records'); ?> </td>

			</tr>
		<?php } ?>
		
		</table>




<script type="text/javascript">
	function initAutocomplete()
	{
		var term = $("#searchpayee").val();
		var type = 646;
		var searchby = $("input[name=searchby]:checked").val();

		type = type == 645 ? 0 : 1;


		$( "#StudentId" ).autocomplete({
			source: '<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'find-applicant-student'), 'default', true); ?>/type/'+type+'/searchby/'+searchby,
			minLength: 2,
			search: function(event, ui) {
				$("#search_status").html('<?php echo $this->translate('searching...'); ?>');
			},
			response: function (event, ui) {
				$("#search_status").html('');
			},
			select: function(event, ui) {

				$('#idstudentname').text(ui.item.sname);
				$('#idstudentregistration').val(ui.item.key);
				$('#programname').text(ui.item.programname);
				$('#programschemename').text(ui.item.mop+' '+ui.item.mos+' '+ui.item.pt);

				setTimeout(function(){ $("#StudentId").val(ui.item.value)} ,250);
				return false;

			}
		});
	}

	$(function()
	{
		$("input[name=searchby]").on('change', function()
		{
			$("#StudentId").val('');
			initAutocomplete();
		});

		initAutocomplete();
	});

	/*$(function(){
		$("[name*='searchby']").click(function(){
			var type_id = $(this).val();
			$( "#StudentId" ).autocomplete({
				source: '<?php echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/'+type_id,
				minLength: 3,
				search: function(event, ui) {
					$("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
				},
				response: function (event, ui) {
					$("#student_search_status").html('');
				},
				select: function(event, ui) {
					$('#ProfileStatus').val(ui.item.StatusName);
					$('#Intake').val(ui.item.IntakeName);
					$('#Branch').val(ui.item.BranchName);
					$('#Programme').val(ui.item.ProgramName);
					$('#ProgScheme').val(ui.item.ProgramSchemeName);
					$('#Address').val(ui.item.Address);
					$('#PhoneHome').val(ui.item.PhoneHome);
					$('#PhoneMobile').val(ui.item.PhoneMobile);
					$('#PhoneOffice').val(ui.item.PhoneOffice);
					$('#Email').val(ui.item.Email);
					$('#AppliedDate').val(ui.item.AppliedDate);
					$('#AppliedBy').val(ui.item.AppliedBy);
					$('#AppliedStatus').val(ui.item.AppliedStatus);
					$('#ApplicationID').val(ui.item.ApplicationID);
					$('#applicationId').val(ui.item.ApplicationID);
					$('#studRegId').val(ui.item.id);
					$('#programId').val(ui.item.ProgramId);
					$('#landscapeId').val(ui.item.LandscapeId);
					$('#IdType').val(ui.item.IdType);
					$('#IdNo').val(ui.item.IdNo);
					$('#fundingMethod').val(ui.item.fundingMethod);
					$('#sponsorshipName').val(ui.item.sponsorshipName);
					$('#sponsorshipType').val(ui.item.scholarshipTypeName);
					if (ui.item.scholarshipTypeId == '522'){
						$('#scholarshipName').val(ui.item.securedScholarship);
					}else{
						$('#scholarshipName').val(ui.item.applyScholarship);
					}
				}
			});
		});

		$( "#StudentId" ).autocomplete({
			source: '<?php echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/1',
			minLength: 3,
			search: function(event, ui) {
				$("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
			},
			response: function (event, ui) {
				$("#student_search_status").html('');
			},
			select: function(event, ui) {
				$('#ProfileStatus').val(ui.item.StatusName);
				$('#Intake').val(ui.item.IntakeName);
				$('#Branch').val(ui.item.BranchName);
				$('#Programme').val(ui.item.ProgramName);
				$('#ProgScheme').val(ui.item.ProgramSchemeName);
				$('#Address').val(ui.item.Address);
				$('#PhoneHome').val(ui.item.PhoneHome);
				$('#PhoneMobile').val(ui.item.PhoneMobile);
				$('#PhoneOffice').val(ui.item.PhoneOffice);
				$('#Email').val(ui.item.Email);
				$('#AppliedDate').val(ui.item.AppliedDate);
				$('#AppliedBy').val(ui.item.AppliedBy);
				$('#AppliedStatus').val(ui.item.AppliedStatus);
				$('#ApplicationID').val(ui.item.ApplicationID);
				$('#applicationId').val(ui.item.ApplicationID);
				$('#studRegId').val(ui.item.id);
				$('#programId').val(ui.item.ProgramId);
				$('#landscapeId').val(ui.item.LandscapeId);
				$('#IdType').val(ui.item.IdType);
				$('#IdNo').val(ui.item.IdNo);
				$('#fundingMethod').val(ui.item.fundingMethod);
				$('#sponsorshipName').val(ui.item.sponsorshipName);
				$('#sponsorshipType').val(ui.item.scholarshipTypeName);
				if (ui.item.scholarshipTypeId == '522'){
					$('#scholarshipName').val(ui.item.securedScholarship);
				}else{
					$('#scholarshipName').val(ui.item.applyScholarship);
				}
			}
		});
	});*/

    $(function() {
        $( "#from" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
			dateFormat: "dd-mm-yy",
            onClose: function( selectedDate ) {
                $( "#to" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#to" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
			dateFormat: "dd-mm-yy",
            onClose: function( selectedDate ) {
                $( "#from" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
    
	dojo.addOnLoad(function(){

		//dijit.byId('AggrementStatus').set('value','');
		//dijit.byId('AggrementStatus').set('placeHolder','Select');

	});

	function saveValidation() {

		if(rowid == 1){
			alert("Please add data");
			return false;
		} else {  return true; }
	}

	function clearpageAdd() {

		dijit.byId("StudentId").reset();
		dijit.byId("StudentId").set("value",null);

	}

	function showstudentname() {
		var studentid =  $('#StudentId').val();
		if(studentid!=''){
			$.ajax({
				type: "GET",
				async: false,
				url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentsponsor', 'action' => 'getstudentname'), 'default', true); ?>',
				data: "studentid=" + studentid ,
				success: function(data) {
					obj = JSON.parse(data);
					$('#idstudentname').text(obj.name);
					$('#idstudentregistration').val(obj.IdStudentRegistration);
				}
			});
		}
	}



	var rowid = 1;
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
			label:"name",
			identifier:"key",
			items:JSONText
		};
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function remarkValidation() {
		var flag = true;
		var StudentId = dijit.byId("StudentId").value;
		var StartDate = dijit.byId("StartDate").value;
		var EndDate = dijit.byId("EndDate").value;

		var startsate = dijit.byId("StartDate").displayedValue;
		var enddate = dijit.byId("EndDate").displayedValue;

		//if(StudentId=='' && StartDate==''&& EndDate==''){
		if(StudentId==''){
			dijit.byId("StudentId").set( "state", "Error" );
			//dijit.byId("StartDate").set( "state", "Error" );
			//dijit.byId("EndDate").set( "state", "Error" );
			flag = false;

		}

		if(StudentId==''){
			dijit.byId("StudentId").set( "state", "Error" );
			flag = false;

		}

		/*if((dijit.byId("StartDate").value == "Invalid Date")) {
		 dijit.byId("StartDate").set( "state", "Error" );
		 flag = false;
		 }

		 if((dijit.byId("EndDate").value == "Invalid Date")) {
		 dijit.byId("EndDate").set( "state", "Error" );
		 flag = false;

		 }*/

		if(StartDate!='' && EndDate!=''){
			var result = dojo.date.compare(StartDate, EndDate);
			if(result == 1) {
				alert("Start date cannot be greater than end date");
				flag = false;
			}

		}
		if(flag == true) {
			RemarkdetailsInsert();
		}
		return flag;
	}

	var batchArray  = new Array();

	<?php if(isset($this->result) && count($this->result) != 0){?>
	<?php foreach($this->result as $result) {?>
	batchArray.push("<?php echo $result["StudentId"]?>");
	console.log(batchArray);
	<?php }} ?>


	function RemarkdetailsInsert() {

		var StudentIdDV = $("#StudentId").val();
		var StudentId = $("#StudentId").val();

		var StudentName = $("#idstudentname").text();

		var StartDateDV = dijit.byId("StartDate").displayedValue;
		var StartDate = dijit.byId("StartDate").value;

		var EndDateDV = dijit.byId("EndDate").displayedValue;
		var EndDate = dijit.byId("EndDate").value;


		var idstudentregistration = $('#idstudentregistration').val();

		batchArray.push(StudentId);

		if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("<?php  echo $this->translate('Student Id cannot be same'); ?>");

		}
		else{
			var trow = document.getElementById('hor').insertRow(rowid);
			var tcol1=trow.insertCell(0);
			var tcol2=trow.insertCell(1);
			var tcol3=trow.insertCell(2);
			var tcol4=trow.insertCell(3);
			var tcol5=trow.insertCell(4);

			tcol1.innerHTML="<input type='hidden' value='"+idstudentregistration+"' name=idstudentregistrationGrid[]><input type='hidden' value='"+StudentId+"' name=StudentIdGrid[]>"+StudentIdDV;
			tcol2.innerHTML="<input type='hidden' value='"+StudentName+"' name=StudentNameGrid[]>"+StudentName;
			tcol3.innerHTML="<input type='hidden' value='"+StartDateDV+"' name=StartDateGrid[]>"+StartDateDV;
			tcol4.innerHTML="<input type='hidden' value='"+EndDateDV+"' name=EndDateGrid[]>"+EndDateDV;
			tcol5.innerHTML="";

			rowid++;
		}

	}

	function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;   						// to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j])
					return true;
			}
		}
		return false;
	}

	Array.prototype.unique = function () {
		var r = new Array();
		o:for(var i = 0, n = this.length; i < n; i++) {
			for(var x = 0, y = r.length; x < y; x++) {
				if(r[x]==this[i]) {
					continue o;
				}
			}
			r[r.length] = this[i];
		}
		return r;
	}

	$(document).ready(function() {
		$('#SearchStudent').on('click', function(event) {
			showstudentname();
			event.preventDefault();
		})
	});
</script>