
<script>
dojo.addOnLoad(function(){	
        dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','<?php echo $this->translate('Select')?>');

});


</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>
<br />


<fieldset>
	<legend>
		<?php echo $this->translate("Tag Student with Scholarship"); ?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/studentfinance/tagstudentscholarship/index/search/1"
		name="searchF" id="searchF" method="POST">
		<input type="hidden" name='Search' id="Search" value="Search">
		<table width="100%">
			<tr>
				<td width="25%"><?php echo $this->translate("Scholarship Code");?></td>
				<td><input type="text" name="search[sch_code]" ></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Scholarship");?></td>
				<td><input type="text" name="search[sch_name]" ></td>
			</tr>

			<tr>
				<td colspan="6" style="height: 10px"></td>
			</tr>

			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
			</tr>
		</table>
	</form>
	</table>
</fieldset>

<br />

	<table class="table" width="100%" cellpadding="3" cellspacing="1">
		<tr>
			<th width="20%"><?php echo $this->translate("Scholarship Code");?></th>
			<th><?php echo $this->translate("Name"); ?></th>
		</tr>
		<?php if (count($this->financialaids)): ?>

		<?php foreach ($this->financialaids as $list) { ?>
		<?php $url = $this->serverUrl('/studentfinance/tagstudentscholarship/edit/id/' . $list['sch_Id']); ?>
		<tr>
			<td><a href='<?php echo $url;?>'><?php echo $list['sch_code']; ?> </a>
			</td>
			<td><?php echo $list['sch_name']; ?></td>
		</tr>

		<?php } ?>

		<?php endif; ?>

	</table>
