
<!--
See <a href="http://developer.yahoo.com/ypatterns/pattern.php?pattern=itempagination" title="http://developer.yahoo.com/ypatterns/pattern.php?pattern=itempagination">http://developer.yahoo.com/ypatterns/pattern.php?pattern=itempagination</a>
-->
<?php 	$translate = Zend_Registry::get('Zend_Translate');
   		?>
<?php if ($this->pageCount): ?>
<div class="paginationControl">
<?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?>&nbsp;
<?php echo $translate->_("of")?> <?php echo $this->totalItemCount; ?>
<!-- First page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->first)); ?>"><?php echo $translate->_("First");?> </a> |
<?php else: ?>
  <span class="disabled"><?php echo $translate->_("First");?></span> |
<?php endif; ?>
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->previous)); ?>"> &lt;<?php echo $translate->_("Previous");?>  </a> |
<?php else: ?>
  <span class="disabled">&lt; <?php echo $translate->_("Previous")?></span> |
<?php endif; ?>
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->next),$this->paginator); ?>">  <?php echo $translate->_("Next"); ?> &gt; </a> |
<?php else: ?>
  <span class="disabled"><?php echo $translate->_("Next")?> &gt;</span> |
<?php endif; ?>
<!-- Last page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->last)); ?>">  <?php echo $translate->_("Last"); ?>  </a>
<?php else: ?>
  <span class="disabled"><?php echo $translate->_("Last")?></span>
<?php endif; ?>
</div>
<?php endif; ?>
