
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<div>

<?php echo $this->form; ?>

<br>

<div id="loading">
</div>
<?php if(count($this->student_list)>0){?>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="5px"><?php echo $this->translate("No");?>.</th>		
		<th width="40%"><?php echo $this->translate("Student Name");?></th>
		<th width="20%"><?php echo $this->translate("Student ID");?></th>
		<th width="30%"><?php echo $this->translate("Programme");?></th>
		<th width="20%"><?php echo $this->translate("Profile Status");?></th>		
	</tr>
	<?php foreach($this->student_list as $index=>$student){?>
	<tr>
	    <td align='center'><?php echo $index+1;?></td>
		<td><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result','action'=>'view-transcript','id'=>$student["IdStudentRegistration"]),'default',true);?>"><?php echo $student["StudentName"];?></a></td>
		<td align='center'><?php echo $student["registrationId"]?></td>
		<td align='center'><?php echo $student["ProgramName"]?></td>
		<td align='center'><?php echo $student["status"]?></td>
	</tr>
	<?php } ?>
</table>

<?php } ?>
</div>

<br>