 <fieldset>
 	<div class="toolbar-button">	
			<ul>
			  <li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result','action'=>'print-official-transcript','id'=>$this->student['IdStudentRegistration']), 'default', true);?>">
					<span class='print'></span>
					Print
				</a>			
				</li>			
			</ul>	
		</div>
		<div align='center'><h3>OFFICIAL ACADEMIC TRANSCRIPT</h3></div>
		<br>
		<table width="100%" border="0" cellpadding="5" cellspacing="0" class="">
		  	  
		    <tr>
				<td width="20%">NAME</td>
				<td width='5px'>:</td>
				<td style="text-transform:uppercase;"><?php echo $this->student['appl_fname'].' '.$this->student['appl_lname'];?> </td>	    
			</tr>
		    <tr>
				<td width="20%">ADDRESS</td>
				<td width='5px'>:</td>
				<td style="text-transform:uppercase;"><?php 
				
				$city = ($this->student['appl_city']!=99) ? $this->student['CityName']:$this->student['appl_city_others'];
				$state = ($this->student['appl_state']!=99) ? $this->student['StateName']:$this->student['appl_state_others'];
				
				$address  = $this->student['appl_address1'];
				$address .= (!empty($this->student['appl_address2'])) ? '<br>'.$this->student['appl_address2']:'';
				$address .= (!empty($this->student['appl_address3'])) ? '<br>'.$this->student['appl_address3']:'';
				$address .= '<br>'.$this->student['appl_postcode'].' '.$city;
				$address .= '<br>'.$state.' '.$this->student['CountryName'];
				 
				echo $address;
				?>
				</td>	    
			</tr>
		    <tr>
				<td width="20%">STUDENT ID</td>
				<td width='5px'>:</td>
				<td><?php echo $this->student['registrationId']; ?> </td>	    
			</tr>
			<tr>
				<td width="20%">NRIC/ID NO</td>
				<td width='5px'>:</td>
				<td><?php echo $this->student['appl_idnumber']; ?> </td>	    
			</tr>
		    <tr>
				<td width="20%">YEAR OF ADMISSION</td>
				<td width='5px'>:</td>
				<td><?php echo strtoupper($this->student['sem_year']); ?> </td>	    
			 </tr>
		     <tr>
				<td width="20%">PROGRAMME</td>
				<td width='5px'>:</td>
				<td><span class='textBold'><?php echo strtoupper($this->student['ProgramName']); ?>  <?php echo strtoupper($this->program_scheme); ?>  </span></td>	    
			</tr>
		</table>
		<br></br>
		
		<?php if($this->student['AssessmentMethod']=='point') { ?>
		
		<table class='official' width="100%" border="1" cellpadding="5" cellspacing="0" >
			<tr valign='middle'>
				 <th width='10%' align='left'>CODE</th>
				 <th align='left'>COURSE TITLE</th>
				 <th width='15%'>CREDIT HOUR</th>
				 <th width='10%'>GRADE</th> 
				 <th width='10%'>GRADE POINT</th> 
				 <th width='10%'>GPA</th> 
				 <th width='10%'>CGPA</th> 
			 </tr>
						 
			<?php 
			$cch = 0;
			$cgpa = 0;
			$total_credit_hour_ct = 0;
			$total_credit_hour_ex = 0;	
			foreach($this->registered_semester as $semester){
							
			if(count($semester['subjects'])>0){
				$display = 'On';	
			?>
			
			<?php 
			if($semester['publish_official_transcript']){
				$cch = $semester['grade']['sg_cum_credithour'];
				$cgpa = $semester['grade']['sg_cgpa'];
			?>
			
						  <tr>
						  	<td colspan='7' align='left'>&nbsp;</td>
						  </tr>
						  <tr>
						  	<td colspan='7' align='left' class='textBold'><?php echo $semester['SemesterMainName'];?></td>
						  </tr>
						 
						 <?php 						 					
						 foreach($semester['subjects'] as $key=>$subject){
						 if($subject["CourseType"]!=20){ //CE
		
						 $key = $key+1;
							 		
						 		$credit_hours = ($subject['credit_hour_registered']!=0 || $subject['credit_hour_registered']!='') ?$subject['credit_hour_registered']:$subject['CreditHours'];
						 		if($subject["exam_status"] == 'CT'){						 			
						 			$total_credit_hour_ct = $total_credit_hour_ct+$credit_hours;
						 		}else
						 		if($subject["exam_status"] == 'EX'){	
						 			$total_credit_hour_ex = $total_credit_hour_ex+$credit_hours;
						 		}
						 	
								if( $subject["CourseType"]==20 || ($subject["exam_status"] == 'P') || ($subject["exam_status"] == 'IP') || ($subject["exam_status"] == 'EX') || ($subject["exam_status"] == 'U') ){											
									
									//exclude calculation
									
									if($subject["CourseType"]==20){ //CE
										
										$subject["CreditHours"] = '-';
										$subject["grade_point"] = '-';
										$grade_point_earned = '0.00';
										
									}else{
										if($subject["exam_status"] == 'CT')
										{
											$subject["grade_name"] = $subject["grade_name"] .'(CT)'; 
										}
										else
										{
											$subject["grade_name"]=$subject["exam_status"];
										}
										$subject["grade_point"] = '-';
										$grade_point_earned = 0;
										
										if($subject["exam_status"] == 'U')
										{
											$subject["CreditHours"] = '0';
										}
									}
									
									
								}else{										
						 			//get point earned
				                    if ($subject["grade_point"]==='-'){
				                          $grade_point_earned = '-';
				                    }else{
				                         $grade_point_earned = abs($subject["CreditHours"])*abs($subject["grade_point"]);
				                    }
								}
						 ?>							
						 <tr>
				  			<td align='left'><?php echo $subject["SubCode"]; ?>&nbsp;</td>
					  		<td align='left'><?php echo $subject["SubName"]; ?>&nbsp;</td>
					  		<td align='center'>
					  		<?php 
					  		if($subject["credit_hour_registered"]!=''){
					  			echo $subject["credit_hour_registered"]; 
					  		}else{
								echo $subject["CreditHours"]; 
					  		}
					  		?></td>
					  		<td align='center'>
					  		<?php 
							if($subject["exam_status"]=="U" || $subject["exam_status"]=="EX" || $subject["exam_status"]=="CT"){
				            	$grade= $subject["exam_status"];
								if($subject["exam_status"]=="U")
								{
									$display = 'Off';
								}
								
				            }else{
				            	$grade= $subject["grade_name"];  		
						 	}
						 	echo $grade;
					  		?>&nbsp;</td>
					  		<td align='center'><?php echo $subject["grade_point"]; ?></td>
					  		<td align='center'><?php echo ($semester['total_subjects']!=$key) ? '':$semester['grade']['sg_gpa']; ?>&nbsp;</td>
					  		<td align='center'><?php echo ($semester['total_subjects']!=$key) ? '':$semester['grade']['sg_cgpa']; ?>&nbsp;</td>
					  	</tr>
																		  	
						 <?php }//end display ce
						}//end foreach subject  ?>
			<br>									 
			<?php 
					} //end is publish
			
				} //end if count
			
			}//end foreach semesteer ?>
		
		<tr>
			<td align='center' colspan=7><hr></td>
		</tr>
		<tr>
			<td align='center' colspan=7><span class='textBold'>END OF RECORD</span></td>
		</tr>															
		</table>
		<br>
		<fieldset>
			<table>
				<tr>
					<td>CCH TAKEN</td>
					<td>: <?php echo $cch-($total_credit_hour_ex+$total_credit_hour_ct); ?></td>
				</tr>
				<tr>
					<td>CCH EXEMPTION</td>
					<td>: <?php echo $total_credit_hour_ex;?></td>
				</tr>
				<tr>
					<td>CCH TRANSFERRED</td>
					<td>: <?php echo $total_credit_hour_ct;?></td>
				</tr>
				<tr>
					<td>CGPA</td>
					<td>: <?php echo $cgpa; ?></td>
				</tr>
				<tr>
					<td>NOTE</td>
					<td>: Awarded the degree of <?php echo $this->student['ProgramName']; ?> <?php echo $this->program_scheme; ?></td>
				</tr>
				<tr>
					<td>DATE</td>
					<td>: <?php echo (isset($this->convo['c_date_from'])) ?  date("j F Y",strtotime($this->convo['c_date_from'])):''; ?></td>
				</tr>
			</table>
		</fieldset>
		<br>
		
		<?php }else{ //end point ?>
					
		
			<table class='official' width="100%" border="0" cellpadding="5" cellspacing="0" >
				<tr>
					 <td width='20%' align='left' class='textBold'>CODE</td>
					 <td class='textBold'>MODULE TITLE</td>			 
					 <td width='20%' align='center' class='textBold'>GRADE</td>
				 </tr>					
			
			
			
			<?php 
			//CIFP ONLY
			if(count($this->part_three)>0){ 
			?>
				<tr>
			  		<td colspan='3' align='left' class='textBold'>Articleship/PPP</td>
			    </tr>
			
				<?php foreach($this->part_three as $part3){?>
				<tr>
		  			<td align='left'><?php echo $part3["SubCode"]; ?>&nbsp;</td>
			  		<td align='left'><?php echo $part3["SubName"]; ?>&nbsp;</td>	  		
			  		<td align='center'><?php echo $part3['grade_name']; ?>&nbsp;</td>	  		
			  	</tr>	
			<?php } 
			} ?>
					
			<?php 		
			$total_credit_hour_mifp = 0;
			foreach($this->registered_semester as $semester){?>			
			
					<!-- MIFP / CIFP -->
					
					<?php 
					if ($this->student['IdProgram']==2 || ($this->student['IdProgram']==5 && count($semester['parts'])>0) ){
					if($semester['isPublish']){	
					?>							
						  <tr>
						  	<td colspan='3' align='left'>&nbsp;</td>
						  </tr>
						  <tr>
						  	<td colspan='3' align='left' class='textBold'><?php echo $semester['SemesterMainName'];?> Semester</td>
						  </tr>
						 <?php 
						 foreach($semester['subjects'] as $subject){

						    if ($this->student['IdProgram']==2 || ($this->student['IdProgram']==5 && $subject['block']!=3) ){
						 	
						 	if($subject['credit_hour_registered']!=0 || $subject['credit_hour_registered']!=''){
								$total_credit_hour_mifp = $total_credit_hour_mifp+$subject["credit_hour_registered"];
						 	}else{							
								$total_credit_hour_mifp = $total_credit_hour_mifp+$subject["CreditHours"];
						 	}
						 	
							if( $subject["exam_status"] == 'P' || $subject["exam_status"] == 'IP'  || $subject["exam_status"] == 'I'){											
									$grade = $subject["exam_status"];				
							}elseif($subject["exam_status"]=="U" || $subject["exam_status"]=="EX"){
				            	$grade= $subject["exam_status"];
				            }elseif($subject["exam_status"]=="CT"){
				           	 	$grade= $subject["exam_status"];
				            }else{
				            	$grade= $subject["grade_name"];
				            }
				            ?>    				
						 	
						 <tr>
				  			<td align='left'><?php echo $subject["SubCode"]; ?>&nbsp;</td>
					  		<td align='left'><?php echo $subject["SubName"]; ?>&nbsp;</td>	  		
					  		<td align='center'><?php echo $grade; ?>&nbsp;</td>	  		
					  	</tr>
						 
						<?php 
						} //end subjet

						} //end foreach ?>						
			
				<?php 	} //end is publish	

						} //end entah						
					
			 } //end foreaach registered semester ?>
			</table>			
		
			<table class='official' width="100%" border="0" cellpadding="5" cellspacing="0" >
				<?php if($this->student['IdProgram']==2){?>
				<tr>
					<td align='left' colspan=3><br><p>The above mentioned student has completed <?php echo $total_credit_hour_mifp;?> credit hours and satisfied all requirements for the Masters in Islamic Finance Practice.</p></td>
				</tr>	
				<?php } ?>
				
				<tr>
					<td align='center' colspan=3><span class='textBold'>END OF RECORD</span></td>
				</tr>
				<tr>
					<td align='center' colspan=3><hr></td>
				</tr>
			</table>
		
		<?php } //end else point?>
		
		<span class='textBold'>DATE OF ISSUE</span>  : <?php echo date('j F Y')?>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class='textBold'>
			<p>Manager<br>
			Admission and Student Affairs</p>
		</div>
		</fieldset>