
<script>

function getProgramScheme(){

	var idProgram = $('#IdProgram').val();

	var data = <?php echo $json = Zend_Json::encode($this->IdProgramScheme); ?>;
	console.log(data);
	
	if(idProgram){
		
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						
				    	$('#IdProgramScheme').empty();

				    	$('#IdProgramScheme').append('<option value="">-- All --</option>');	    	
				    	$.each(data, function(index) {

				    		if(jQuery.inArray(data[index].IdProgramScheme, data) != -1) {
				    			var sel = 'selected';
				    		} else {
				    			var sel = '';
				    		} 
					    	
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
				    	});
						
						<?php if(isset($this->scheme)):?>
						json = '<?php echo $this->scheme;?>';
						$.each(json.split(","), function(i,e){
							$("#IdProgramScheme option[value='" + e + "']").prop("selected", true);
						});
						<?php endif;?>
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
	}

}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}



$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});

function print(){

	flag = checkboxValidate();
	
	if(flag==true){
		return true;
	}else{     
		alert("Please select student.");             	
		return false;
	}
}


function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function printPDF(){
	var url = '<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result', 'action'=>'print-bulk'),'default',true);?>';
	$('#formStudentList').attr('action', url);
}

function printWord(){
	var url = '<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result', 'action'=>'print-bulk-word'),'default',true);?>';
	$('#formStudentList').attr('action', url);
}
</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<!--<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php //echo $this->url(array('module'=>'examination','controller'=>'exam-result', 'action'=>'template-setup'),'default',true);?>">
					<span class='preview'></span>
					<?php //echo $this->translate("Template Setup");?>
				</a>
			</li>
		</ul>-->
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<div>

<?php echo $this->form; ?>

<br>

<div id="loading">
</div>
<?php if(count($this->student_list)>0){?>


<form id="formStudentList" method="post" action="" onsubmit='return print();'>
<input type='hidden' name='c_id' value='<?php echo $this->c_id; ?>'>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="5px"><?php echo $this->translate("No");?>.</th>		
	    <th width="5px"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
		<th width="40%"><?php echo $this->translate("Student Name");?></th>
		<th width="20%"><?php echo $this->translate("Student ID");?></th>
		<th width="30%"><?php echo $this->translate("Programme");?></th>
		<th width="20%"><?php echo $this->translate("Profile Status");?></th>		
	</tr>
	<?php foreach($this->student_list as $index=>$student){?>
	<tr>
	    <td align='center'><?php echo $index+1;?></td>
	    <td align='center'><input type='checkbox' class='chkbx' name='IdStudentRegistration[]' id='IdStudentRegistration' value='<?php echo $student["IdStudentRegistration"];?>'></td>
		<td><?php echo $student["StudentName"];?></td>
		<td align='center'><?php echo $student["registrationId"]?></td>
		<td align='center'><?php echo $student["ProgramName"]?></td>
		<td align='center'><?php echo $student["status"]?></td>
	</tr>
	<?php } ?>
</table>
<div class='form-opt'>
	<select id="template" name="template" required="" class="select">
		<!--<option value="grade">Grade Template</option>
		<option value="point">Point Template</option>-->
		<?php
		if ($this->templateList) {
			foreach ($this->templateList as $template) {
				?>
				<option value="<?php echo $template['tpl_id'] ?>"><?php echo $template['tpl_name']; ?></option>
				<?php
			}
		}
		?>
	</select>
	&nbsp;
	<input type='submit' name='btn-submit' id='btn-submit' value='Print PDF' onclick="printPDF();">
	<input type='submit' name='btn-submit' id='btn-submit' value='Print Word' onclick="printWord();">
</div>
</form>
<?php } ?>
</div>
