<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result', 'action'=>'search'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<?php
echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js');
?>
<script type="text/javascript">
    $(function(){
        CKEDITOR.replace( 'content',{
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height: '600px'
        } );
    });
</script>
<div class="message notice"><span class="icon-info-circled"></span> Setup transcript template here</div>
<form method="post" id="template_form" name="template_form">
    <textarea name="content" class="content"><?php echo $this->template['trt_content']; ?></textarea>
    <div class="form-opt">
        <button type="submit" id="save" name="save" value="save"><?php echo $this->translate('Save'); ?></button>
    </div>
</form>