<style>
/* Table */
.gradetbl{
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background-color: #ffffff;
	border-spacing: 0;
    border-collapse: collapse;
	
}
.gradetbl th{
	background-color: #f1f1f1;
	color:black;
	line-height: 16px;
	padding: 2px 4px;
	border:1px solid #ccc;
	text-align:center;
}
.gradetbl td{
	/*border-bottom:1px dotted gray;*/
	border:1px solid #ccc;
	/* line-height: 16px; why? */
	text-align:center;
	padding: 4px;
}

.underline {
    text-decoration:underline;
}
.textBold{
	 font-weight: bold;
}
.official{	
	font-family: Verdana,"Trebuchet Ms",Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    font-weight: normal;
    padding: 4px;
}
.official th {
    color: #666;
    font-weight: bold;
    padding: 4px;
	text-align:center;
}

.official td {
	
}


</style>

 <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
  
  <div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
		<ul>		 
			<li>			
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result','action'=>'index'),'default',true);?>">
				<span class='back'></span>
				Back
			</a></li>
		</ul>	
	</div>
</div>
<br>

  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Unofficial Academic Transcript</a></li>
    <li><a href="#tabs-2">Official Academic Transcript</a></li>
  </ul>
  
  <div id="tabs-1">
  	
	  

    <fieldset>
     	<div class="toolbar-button">	
			<ul>
			  <li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-result','action'=>'print-transcript','id'=>$this->id,'type'=>1), 'default', true);?>">
					<span class='print'></span>
					Print
				</a>			
				</li>			
			</ul>	
		</div>
		<div align='center'><h3>UNOFFICIAL ACADEMIC TRANSCRIPT</h3></div>
		<br></br>
		<table width="100%" border="0" cellpadding="5" cellspacing="0" class="">
		  	  
		    <tr>
				<td width="20%">NAME</td>
				<td width='5px'>:</td>
				<td style="text-transform:uppercase;"><?php echo $this->student['appl_fname'].' '.$this->student['appl_lname'];?> </td>	    
			</tr>
		    <tr>
				<td width="20%">ADDRESS</td>
				<td width='5px'>:</td>
				<td style="text-transform:uppercase;"><?php 
				
				$city = ($this->student['appl_city']!=99) ? $this->student['CityName']:$this->student['appl_city_others'];
				$state = ($this->student['appl_state']!=99) ? $this->student['StateName']:$this->student['appl_state_others'];
				
				$address  = $this->student['appl_address1'];
				$address .= (!empty($this->student['appl_address2'])) ? '<br>'.$this->student['appl_address2']:'';
				$address .= (!empty($this->student['appl_address3'])) ? '<br>'.$this->student['appl_address3']:'';
				$address .= '<br>'.$this->student['appl_postcode'].' '.$city;
				$address .= '<br>'.$state.' '.$this->student['CountryName'];
				 
				echo $address;
				?>
				</td>	    
			</tr>
		    <tr>
				<td width="20%">STUDENT ID</td>
				<td width='5px'>:</td>
				<td><?php echo $this->student['registrationId']; ?> </td>	    
			</tr>
		    <tr>
				<td width="20%">SEMESTER INTAKE</td>
				<td width='5px'>:</td>
				<td><?php echo strtoupper($this->student['IntakeDesc']); ?> </td>	    
			 </tr>
		     <tr>
				<td width="20%">PROGRAMME</td>
				<td width='5px'>:</td>
				<td><?php echo strtoupper($this->student['ProgramName']); ?>  <?php echo strtoupper($this->program_scheme); ?>  </td>	    
			</tr>
		</table>
		<br></br>
		
		<?php if($this->student['AssessmentMethod']=='point') { ?>
		
			<?php
			foreach($this->registered_semester as $semester){
				
			if($semester['total_subjects']>0){
				$display = 'On';	
			?>
		
			<h4><?php echo $semester['SemesterMainName']; ?></h4>
			
			<?php if($semester['isPublish']){?>
			
					<table class='table' width="100%" border="0" cellpadding="5" cellspacing="0" >
						<tr valign='middle'>
							 <th width='10%'>COURSE CODE</th>
							 <th>COURSE TITLE</th>
							 <th width='15%'>CREDIT HOURS ATTEMPTED</th>
							 <th width='10%'>GRADE</th> 
							 <th width='10%'>GRADE POINT</th> 
							 <th width='10%'>GRADE POINT EARNED</th> 
						 </tr>
						 
						 <?php 
						 foreach($semester['subjects'] as $subject){
						 	
								if( $subject["CourseType"]==20 || ($subject["exam_status"] == 'P') || ($subject["exam_status"] == 'IP') || ($subject["exam_status"] == 'EX') || ($subject["exam_status"] == 'U') ){											
									
									//exclude calculation
									
									if($subject["CourseType"]==20){ //CE
										
										$subject["CreditHours"] = '-';
										$subject["grade_point"] = '-';
										$grade_point_earned = '0.00';
										
									}else{
										if($subject["exam_status"] == 'CT')
										{
											$subject["grade_name"] = $subject["grade_name"] .'(CT)'; 
										}
										else
										{
											$subject["grade_name"]=$subject["exam_status"];
										}
										
										$subject["grade_point"] = '-';
										$grade_point_earned = 0;
										
										if($subject["exam_status"] == 'U')
										{											
											$subject["CreditHours"] = 0;
										}
									}
									
									
								}else{										
						 			//get point earned						 			
				                    if ($subject["grade_point"]==='-'){
				                          $grade_point_earned = '-';
				                    }else{
				                         $grade_point_earned = abs($subject["CreditHours"])*abs($subject["grade_point"]);
				                    }
								}
						 ?>							
						 <tr>
				  			<td align='center'><?php echo $subject["SubCode"]; ?>&nbsp;</td>
					  		<td align='left'><?php echo $subject["SubName"]; ?>&nbsp;</td>
					  		<td align='center'>
					  		<?php 
					  		if($subject["credit_hour_registered"]!=''){
					  			echo $subject["credit_hour_registered"]; 
					  		}else{
								echo $subject["CreditHours"]; 
					  		}
					  		?></td>
					  		<td align='center'>
					  		<?php 
							if($subject["exam_status"]=="U" || $subject["exam_status"]=="EX" || $subject["exam_status"]=="CT"){
				            	$grade= $subject["exam_status"];
								if($subject["exam_status"]=="U")
								{
									$display = 'Off';
								}
								
				            }else{
				            	$grade= $subject["grade_name"];  		
						 	}
						 	echo $grade;
					  		?>&nbsp;</td>
					  		<td align='center'><?php echo $subject["grade_point"]; ?></td>
					  		<td align='center'><?php echo $grade_point_earned === '-' ? $grade_point_earned:number_format($grade_point_earned, 2, '.', ''); ?>&nbsp;</td>
					  	</tr>
																		  	
						 <?php } 
							//if($display == 'Off') {
								//$semester['grade']['sg_sem_credithour'] = '0.00';
							//}
							
						 ?>
						 
						 
						 <tr> 
							<td colspan=3>Total Credit Hours :<?php echo $semester['grade']['sg_sem_credithour']; ?></td>
							<td colspan=3>Cum. Credit Hours :<?php echo $semester['grade']['sg_cum_credithour']; ?></td>
						</tr>
						<tr>
				  			<td colspan=3>Total Grade Points :<?php echo $semester['grade']['sg_sem_totalpoint']; ?></td>
				  			<td colspan=3>Cum. Grade Points  :<?php echo $semester['grade']['sg_cum_totalpoint']; ?></td>
				  		</tr>
				  		<tr>
					  		<td colspan=3>Grade Point Average (GPA) :<?php echo $semester['grade']['sg_gpa']; ?></td>
							<td colspan=3>Cum. GPA (CGPA) :<?php echo $semester['grade']['sg_cgpa']; ?></td> 
						</tr>
															
					</table>
			<br>									 
			<?php 
					}else{ 
						echo '<div class="notice small">
							    	<span class="icon icon-info"></span>Exam Result is not yet released.
							  </div>';
									
					} //end is publish
			
				} //end if count
			
			}//end foreach semesteer ?>
		
		
		<?php }else{ //end point ?>
			
			
		
			
					
					
			<?php
			foreach($this->registered_semester as $semester){?>

			<?php
			//CIFP----------------------------------
			if($this->student['IdProgram']==5){
				
				if(count($semester['parts'])>0){ 
			?>
									
					<h4><?php echo $semester['SemesterMainName'];?></h4>
					
					<?php if($semester['isPublish']){?>			
					
						<?php foreach($semester['parts'] as $part){ ?>
						
						<?php
		                                        $checkz = false;
		                                        foreach($semester['subjects'] as $subject){
		                                            if($subject['block']==$part['block']){
		                                                $checkz = true;
		                                            }
		                                        }
		                                        ?>
						
							<?php if ($checkz == true){ ?>
							<h4><?php echo $part['blockname'];?> - <?php echo $part['blockname_desc'];?></h4>
							
							
							<table class='table' width="100%" border="0" cellpadding="5" cellspacing="0" >
							<tr>
								 <th width='20%'>CODE</th>
								 <th>MODULE TITLE</th>			 
								 <th width='20%'>GRADE</th>
							 </tr>
							 
							  <?php 
							 foreach($semester['subjects'] as $subject){
							 	if($subject['block']==$part['block']){
							 		
									if( $subject["exam_status"] == 'P' || $subject["exam_status"] == 'IP'  || $subject["exam_status"] == 'I'){											
											$grade = $subject["exam_status"];				
									}elseif($subject["exam_status"]=="U" || $subject["exam_status"]=="EX"){
						            	$grade= $subject["exam_status"];
						            }elseif($subject["exam_status"]=="CT"){
						           	 	$grade= $subject["exam_status"];
						            }else{
						            	$grade= $subject["grade_name"];
						            }
						            ?>    				
								 	
								 <tr>
						  			<td align='center'><?php echo $subject["SubCode"]; ?>&nbsp;</td>
							  		<td align='left'><?php echo $subject["SubName"]; ?>&nbsp;</td>	  		
							  		<td align='center'><?php echo $grade; ?>&nbsp;</td>	  		
							  	</tr>				 
							 <?php  }//end if subject block
							 	} //end subject ?>				 
							</table>
							
							 <?php } ?>
						
					<?php } //end parts
					
					}else{ 
						echo '<div class="notice small">
							    	<span class="icon icon-info"></span>Exam Result is not yet released.
							  </div>';
									
					} //end is publish
					
				 } //end if count part ?>	
					
			<!-- end cifp -->
			
			<?php } else { ?>
			
					<h4><?php echo $semester['SemesterMainName'];?></h4>
					
					<?php if($semester['isPublish']){?>		
					
						<table class='table' width="100%" border="0" cellpadding="5" cellspacing="0" >
							<tr>
								 <th width='20%'>CODE</th>
								 <th>MODULE TITLE</th>			 
								 <th width='20%'>GRADE</th>
							 </tr>
							  <?php 
							 foreach($semester['subjects'] as $subject){
							 	
									/*if( $subject["exam_status"] == 'P' || $subject["exam_status"] == 'IP'  || $subject["exam_status"] == 'I'){											
										$grade = $subject["exam_status"];
									}else{
										$grade = $subject["grade_name"];
									}*/
								if( $subject["exam_status"] == 'P' || $subject["exam_status"] == 'IP'  || $subject["exam_status"] == 'I'){											
										$grade = $subject["exam_status"];				
								}elseif($subject["exam_status"]=="U" || $subject["exam_status"]=="EX"){
					            	$grade= $subject["exam_status"];
					            }elseif($subject["exam_status"]=="CT"){
					           	 	$grade= $subject["exam_status"];
					            }else{
					            	$grade= $subject["grade_name"];
					            }
					            ?>    				
							 	
							 <tr>
					  			<td align='center'><?php echo $subject["SubCode"]; ?>&nbsp;</td>
						  		<td align='left'><?php echo $subject["SubName"]; ?>&nbsp;</td>	  		
						  		<td align='center'><?php echo $grade; ?>&nbsp;</td>	  		
						  	</tr>
							 
							 <?php } //end?>
						</table>
			
			
				<?php }else{ 
						echo '<div class="notice small">
							    	<span class="icon icon-info"></span>Exam Result is not yet released.
							  </div>';
									
					} //end is publish
			} ?>
			
			<br></br>
			
			<?php } //end foreaach registered semester ?>
		
				<!--  
			pening aku weiii nak moduify transcript ni
			ngade2 CIFP ni 
			-->
			<!-- CIFP ONLY  -->
			<?php if(count($this->part_three)>0){?>
					<h4>Articleship/PPP</h4>
					<h4>PART III - Building Competency and Experience</h4>
					<table class='table' width="100%" border="0" cellpadding="5" cellspacing="0" >
						<tr>
							 <th width='20%'>CODE</th>
							 <th>MODULE TITLE</th>			 
							 <th width='20%'>GRADE</th>
						 </tr>
						<?php foreach($this->part_three as $part3){?>
							<tr>
					  			<td align='center'><?php echo $part3["SubCode"]; ?>&nbsp;</td>
						  		<td align='left'><?php echo $part3["SubName"]; ?>&nbsp;</td>	  		
						  		<td align='center'><?php echo $part3['grade_name']; ?>&nbsp;</td>	  		
						  	</tr>	
						<?php } ?>
					</table>
					<br></br>
			<?php } ?>
			<!-- END CIFP ONLY  -->
		
		<?php } //end else point?>
		
		Date Issued : <?php echo date('j F Y')?>
		
		
		<BR></BR>
		<BR></BR>
		
		<?php if($this->student['AssessmentMethod']=='point') { ?>
		
			<h4>OFFICIAL GRADING SYSTEM</h4>
			<table class='gradetbl' width="60%" border="0" cellpadding="5" cellspacing="0" >
			<tr>
				<th>MARKS</th>
				<th>GRADE</th>
				<th>GRADE POINT</th>
				<th>DESCRIPTION</th>
			</tr>
			<tr>
				<td>85-100</td>
				<td>A</td>
				<td>4.00</td>
				<td>-</td>
			</tr>
			<tr>
				<td>80-84</td>
				<td>A-</td>
				<td>3.67</td>
				<td>-</td>
			</tr>
			<tr>
				<td>75-79</td>
				<td>B+</td>
				<td>3.33</td>
				<td>-</td>
			</tr>
			<tr>
				<td>70-74</td>
				<td>B</td>
				<td>3.00</td>
				<td>-</td>
			</tr>
			<tr>
				<td>65-69</td>
				<td>B-</td>
				<td>2.67</td>
				<td>-</td>
			</tr>
			<tr>
				<td>60-64</td>
				<td>C+</td>
				<td>2.33</td>
				<td>-</td>
			</tr>
			<tr>
				<td>50-59</td>
				<td>C</td>
				<td>2.00</td>
				<td>-</td>
			</tr>
			<tr>
				<td>40-49</td>
				<td>D</td>
				<td>1.00</td>
				<td>REDEEMABLE FAILURE</td>
			</tr>
			<tr>
				<td>0-39</td>
				<td>F</td>
				<td>0.00</td>
				<td>FAILED</td>
			</tr>
			<tr>
				<td></td>
				<td>U</td>
				<td></td>
				<td>AUDIT</td>
			</tr>
			<tr>
				<td>-</td>
				<td>I</td>
				<td>-</td>
				<td>INCOMPLETE</td>
			</tr>
			<tr>
				<td>-</td>
				<td>P/NP</td>
				<td>-</td>
				<td>PASS/FAIL</td>
			</tr>
			<tr>
				<td>-</td>
				<td>IP</td>
				<td>-</td>
				<td>IN PROGRESS</td>
			</tr>
			<tr>
				<td>-</td>
				<td>W</td>
				<td>-</td>
				<td>COURSE DROPPED/WITHDRAWN</td>
			</tr>
			<tr>
				<td>-</td>
				<td>CT</td>
				<td>-</td>
				<td>CREDIT TRANSFER</td>
			</tr>
			<tr>
				<td>-</td>
				<td>EX</td>
				<td>-</td>
				<td>EXEMPTED</td>
			</tr>
		</table>
		
		<?php }else{ //end point ?>
		
			
			
			<?php if($this->student['IdProgram']==2){?>
			    <h4>OFFICIAL GRADING SYSTEM</h4>
				<table class='gradetbl' width="30%" border="0" cellpadding="5" cellspacing="0" >
					<tr>
						<td><b>A</b></td>
					    <td>80-100</td>	
					</tr>
					<tr>
						<td><b>A-</b></td>
					    <td>75-79</td>	
					</tr>
					<tr>
						<td><b>B+</b></td>
					    <td>70-74</td>	
					</tr>
					<tr>
						<td><b>B</b></td>
					    <td>65-69</td>	
					</tr>	
					<tr>
						<td><b>F</b></td>
					    <td>0-64</td>	
					</tr>
					<tr>
						<td><b>CT</b></td>
					    <td>Credit Transfer</td>	
					</tr>		
				</table>
				<?php }else if($this->student['IdProgram']==5){ ?>
				<h4>1.OFFICIAL GRADING SYSTEM</h4>
				<table class='gradetbl' width="50%" border="0" cellpadding="5" cellspacing="0" >
					<tr>
						<th colspan=2><span class='underline'>From 2006 to 2007:</span></th>
					</tr>
					<tr>
						<td><b>PD</b></td>
					    <td>Pass with Distinction</td>	
					</tr>
					<tr>
						<td><b>P</b></td>
					    <td>Pass</td>	
					</tr>
					<tr>
						<td><b>F</b></td>
					    <td>Fail</td>	
					</tr>
					<tr>
						<td><b>EX</b></td>
					    <td>Module Exempted</td>	
					</tr>	
					<tr>
						<th colspan=2><span class='underline'>From 2008 onwards:</span></th>
					</tr>
					<tr>
						<td><b>A</b></td>
					    <td>Pass with Distinction</td>	
					</tr>
					<tr>
						<td><b>B</b></td>
					    <td>Pass</td>	
					</tr>
					<tr>
						<td><b>F</b></td>
					    <td>Fail</td>	
					</tr>
					<tr>
						<td><b>EX</b></td>
					    <td>Module Exempted</td>	
					</tr>	
					<tr>
						<th colspan=2><span class='underline'>Articleship:</span></th>
					</tr>
					<tr>
						<td><b>P</b></td>
					    <td>Pass</td>	
					</tr>
					<tr>
						<td><b>F</b></td>
					    <td>Fail</td>	
					</tr>				
				</table>
				<br></br>
				<h4>2.CIFP STRUCTURE</h4>
				<table class='gradetbl' width="50%" border="0" cellpadding="5" cellspacing="0" >
					<tr>
						<th colspan=2><span class='underline'>From 2006 to 2007:</span></th>
					</tr>
					<tr>
						<td><b>Part I</b></td>
					    <td>6 modules </td>	
					</tr>
					<tr>
						<td><b>Part II</b></td>
					    <td>5 common modules and 4 specialised modules</td>	
					</tr>
					<tr>
						<td><b>Part III</b></td>
					    <td>Articleship</td>	
					</tr>
						<tr>
						<th colspan=2><span class='underline'>From 2008 onwards:</span></th>
					</tr>
					<tr>
						<td><b>Part I</b></td>
					    <td>8 modules </td>	
					</tr>
					<tr>
						<td><b>Part II</b></td>
					    <td>6 modules</td>	
					</tr>
					<tr>
						<td><b>Part III</b></td>
					    <td>Articleship</td>	
					</tr>
				</table>
			<?php } ?>
		
		<?php } ?>
		</fieldset>
		    

  </div>
  <!-- End Tab 1 -->
  
  <div id="tabs-2">
  	
    <?php
 	if($this->student['profileStatus']==248 || $this->student['profileStatus']==96){
    	echo $this->partial('exam-result/official-transcript.html',array('student' => $this->student,'registered_semester'=>$this->registered_semester,'program_scheme'=>$this->program_scheme,'part_three'=>$this->part_three,'convo'=>$this->convocation)); 
    }else{ echo 'Official Academic Transcript not available'; }?>    	
  </div> 
</div>





