@font-face {

    font-family: "Intrepid";

    src: url(/ckeditor4/fonts/vivaldi-italic/vivaldi-italic.eot); /* IE */

    src: local("Intrepid"), url("/ckeditor4/fonts/vivaldi-italic/vivaldi-italic.ttf") format("truetype"); /*non-IE*/

}