
<script>
dojo.addOnLoad(function(){	
        
        
});

function saveValidation() {
    
	if(rowid == 1){
            alert("Please add data");
            return false;
        } else {  return true; }
}

function clearpageAdd() {
    
        dijit.byId("StudentId").reset();
        dijit.byId("StudentId").set("value",null);
        
        
        dijit.byId("StartDate").reset();
        dijit.byId("StartDate").set("value",null); 
        
        dijit.byId("EndDate").reset();
        dijit.byId("EndDate").set("value",null);
	
	
        
}

function showsponsorid() {
 var sponsorid =  dijit.byId('Sponsor').value;
 if(sponsorid!=''){
    $.ajax({
         type: "GET",
         async: false,
         url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentsponsor', 'action' => 'getsponsorname'), 'default', true); ?>',
         data: "sponsorid=" + sponsorid , 
         success: function(data) {            
           $('#idsponsor').text(data); 
	   //$('#SponsorId').val(data);
         }
       });
 }
}

function showstudentname() {
 var studentid =  dijit.byId('StudentId').value;
 if(studentid!=''){
    $.ajax({
         type: "GET",
         async: false,
         url: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'student-discount-tagging', 'action' => 'getstudentname'), 'default', true); ?>',
         data: "studentid=" + studentid , 
         success: function(data) {
    		var obj = jQuery.parseJSON(data);
            
            $('#idstudentname').text(obj.name);
            $('#idstudentregistration').val(obj.IdStudentRegistration); 
	 
         }
       });
 }
}



var rowid = 1;
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
        var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

 function remarkValidation() {
	var flag = true;
	var StudentId = dijit.byId("StudentId").value;
	var StartDate = dijit.byId("StartDate").value;
	var EndDate = dijit.byId("EndDate").value;
	
	var startsate = dijit.byId("StartDate").displayedValue;
	var enddate = dijit.byId("EndDate").displayedValue;
	
      
			if(StudentId==''){
              dijit.byId("StudentId").set( "state", "Error" );
              //dijit.byId("StartDate").set( "state", "Error" );
              //dijit.byId("EndDate").set( "state", "Error" );
              flag = false;
              
	}
        
	if(StudentId==''){                         
              dijit.byId("StudentId").set( "state", "Error" );
              flag = false;
              
	}
        
    
        
        if(StartDate!='' && EndDate!=''){
		var result = dojo.date.compare(StartDate, EndDate);
		if(result == 1) {
			alert("Start date cannot be greater than end date");
			flag = false;
		}
		
	}
	if(flag == true) {
		RemarkdetailsInsert();	
	}			
	return flag;
}

var batchArray  = new Array();

<?php if(isset($this->result) && count($this->result) != 0){?>
		<?php foreach($this->result as $result) {?>
batchArray.push("<?php echo $result["StudentId"]?>");
console.log(batchArray);
<?php }} ?>


function RemarkdetailsInsert() {
	
	var StudentIdDV = dijit.byId("StudentId").displayedValue;
	var StudentId = dijit.byId("StudentId").value;
        
	var StudentName = $("#idstudentname").text();

	var StartDateDV = dijit.byId("StartDate").displayedValue;
	var StartDate = dijit.byId("StartDate").value;

	var EndDateDV = dijit.byId("EndDate").displayedValue;
	var EndDate = dijit.byId("EndDate").value;

	
    var idstudentregistration = $('#idstudentregistration').val();
	
	batchArray.push(StudentId);
        
	if(arrHasDupes(batchArray)){
			batchArray= batchArray.unique();
			alert("Student Id cannot be same");
			
	}
	else{
		var trow = document.getElementById('hor').insertRow(rowid);	
		var tcol1=trow.insertCell(0);
		var tcol2=trow.insertCell(1);
		var tcol3=trow.insertCell(2);
		var tcol4=trow.insertCell(3);
		var tcol5=trow.insertCell(4);
       
		
		tcol1.innerHTML="<input type='hidden' value='"+idstudentregistration+"' name=idstudentregistrationGrid[]><input type='hidden' value='"+StudentId+"' name=StudentIdGrid[]>"+StudentIdDV;
		tcol2.innerHTML="<input type='hidden' value='"+StudentName+"' name=StudentNameGrid[]>"+StudentName;		
		tcol3.innerHTML="<input type='hidden' value='"+StartDateDV+"' name=StartDateGrid[]>"+StartDateDV;
		tcol4.innerHTML="<input type='hidden' value='"+EndDateDV+"' name=EndDateGrid[]>"+EndDateDV;	
		tcol5.innerHTML="";
               
		rowid++;		
	}
	
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;   						// to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j])
					return true;
			}
		}
		return false;
	}

	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++) {
	        for(var x = 0, y = r.length; x < y; x++) {
	        	if(r[x]==this[i]) {
	                	continue o;
	              }
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'tagstudentsponsor', 'action' => 'index'), 'default', true); ?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
<legend>Discount Info</legend>
Name : <?php echo $this->discount['dt_discount']; ?>
<br></br>
Description : <?php echo $this->discount['dt_description']; ?>
</fieldset>
<br></br>
<form name="searchF" id="searchF" method="post">
	
	<?php echo $this->lobjDiscountSetupForm->IdUniversity?>
	<?php echo $this->lobjDiscountSetupForm->UpdDate?>
	<?php echo $this->lobjDiscountSetupForm->UpdUser?>
	<?php echo $this->lobjDiscountSetupForm->dt_id?>

	<table width="100%" class='table'>		
		<tr>
			<th colspan='4'><?php echo $this->translate("Student Discount Info");?></th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Student Id");?> <span class="reqMark">*</span></td>
			<td><?php echo $this->lobjDiscountSetupForm->StudentId; ?> <?php echo $this->lobjDiscountSetupForm->SearchButton; ?> </td>
			<td><?php echo $this->translate("Student Name");?> </td>
			<td>
				<span id='idstudentname'></span>
				<input type='hidden' id='idstudentregistration' name='idstudentregistration' value=''>
			</td>
		</tr>

		<tr>
			<td><?php echo $this->translate("Start Date");?>
				<span class="reqMark">*</span></td>
			<td><?php echo $this->lobjDiscountSetupForm->StartDate; ?></td>
			<td><?php echo $this->translate("End Date");?>
				<span class="reqMark">*</span></td>
			<td><?php echo $this->lobjDiscountSetupForm->EndDate; ?></td>
		</tr>
		<tr>
			<td align="right" colspan="8"></td>
		</tr>
		<tr>
			<td align="right" colspan="8">
			<?php echo $this->lobjDiscountSetupForm->Add; ?>
			<?php echo $this->lobjDiscountSetupForm->Clear; ?>
			</td>
		</tr>
	</table>

	<br />

	<table class="table" width="100%" id="hor" cellpadding="4" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Student Id");?></th>
			<th><?php echo $this->translate("Student Name");?></th>
			<th><?php echo $this->translate("Start Date");?></th>
			<th><?php echo $this->translate("End Date");?></th>
			<th></th>
		</tr>

		<?php if(isset($this->result) && count($this->result) != 0){?>
		<?php foreach($this->result as $result) {?>
		<tr>
			<td><?php echo $result["StudentId"];?></td>
			<td><?php echo $result["appl_fname"].' '.$result['appl_lname'];?></td>
			<td><?php echo date('d-m-Y',strtotime($result["dtt_start_date"]));?></td>
			<td><?php 
			if($result["dtt_end_date"] != '0000-00-00'){
				echo  date('d-m-Y',strtotime($result["dtt_end_date"]));
			}else{
				echo "-";
			}?></td>
			<td class="options center">
			<a href="<?php echo $this->url(array('module'=>'studentfinance', 'controller'=>'student-discount-tagging','action'=>'edit-tagging','id'=>$result['dtt_id']),'default',true); ?>"><?php echo $this->translate('Edit')?></a>
			|
			<a href="<?php echo $this->url(array('module'=>'studentfinance', 'controller'=>'student-discount-tagging','action'=>'delete-tagging','id'=>$result['dt_id'],'dtt_id'=>$result['dtt_id']),'default',true); ?>"><?php echo $this->translate('Delete')?></a>
			</td>
		</tr>
		<?php }?>
		<?php }?>
		
		</table>
		<div class="form-opt">
			<?php echo $this->lobjDiscountSetupForm->Save; ?>			
		</div>
</form>

<script type="text/javascript">

</script>