<script type="text/javascript">
$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:document.fprint.submit()">
					<span class='print'></span>
					Print 
				</a>
			</li>			
		</ul>
	</div>
</div>
<br><br>

	<fieldset>
	<legend><?php echo $this->translate("Search Options");?></legend>
    <?php echo $this->form;?>
    </fieldset>
    <br/>
	<fieldset>
		<form name="fprint" method="POST" action="/records/semrecord/printbulk"> 
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
		  	<tr>
		  		<th rowspan="2"><input type="checkbox" id="checkall"  value="" ></th>
	            <th rowspan="2"><?php echo $this->translate("Student Name");?></th>
	            <th rowspan="2"><?php echo $this->translate("Nom Fomulir");?></th>    
		    	<th rowspan="2"><?php echo $this->translate("NIM");?></th>
		    	<th rowspan="2"><?php echo $this->translate("Program");?></th>
		    	<th rowspan="2"><?php echo $this->translate("Intake");?></th>
		    	<th rowspan="2"><?php echo $this->translate("Registration Date");?></th>
		    	<th rowspan="2"><?php echo $this->translate("Semester");?></th>
		    	<th colspan="3"><?php echo $this->translate("Download KRS");?></th>
	    	</tr>
	    	<tr>
		    	<th><?php echo $this->translate("Summary");?></th>
		    	<th><?php echo $this->translate("Detail");?></th>
	    	</tr>

	    	<?php 	    	
	    	if (count($this->paginator)){	    		
	        foreach ($this->paginator as $lobjstudents){
	        ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	  		
	        	<!--<td><a href="<?php echo $this->baseUrl();?>/records/studentprofile/studentprofilelist/id/<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></a></td>
	        	-->
	        	<td>
	        	<input class="chk" type="checkbox" id="toprint['<?php echo $lobjstudents["idstudentsemsterstatus"];?>']" name="toprint[<?php echo $lobjstudents["IdStudentRegistration"];?>]" value="<?php echo $lobjstudents["idstudentsemsterstatus"];?>"></input>
	        	
	        	</td>
	        	<td><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_mname'].' '.$lobjstudents['appl_lname']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['at_pes_id']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
                <td><?php echo $this->escape($lobjstudents['ArabicName']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['IntakeId']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['UpdDate']);?></td>
	        	<td><?php echo $this->escape($lobjstudents['SemesterMainDefaultLanguage']);?></td>
	        	<td align="center">
	        		<?php if($lobjstudents['IdProgram']==3){?>
	        		<a href="/records/semrecord/view-krs/idstudentsemsterstatus/<?php echo $lobjstudents["idstudentsemsterstatus"];?>/IdStudentRegistration/<?php echo $lobjstudents["IdStudentRegistration"];?>/type/1"><span class="ui-icon ui-icon-disk"></span></a>
	        		<?php }else{?>
	        		<a href="/records/semrecord/view-krs/idstudentsemsterstatus/<?php echo $lobjstudents["idstudentsemsterstatus"];?>/IdStudentRegistration/<?php echo $lobjstudents["IdStudentRegistration"];?>"><span class="ui-icon ui-icon-disk"></span></a>	
	        		<?php }?>
	        	</td align="center">
	        	<td align="center">
	        		<?php if($lobjstudents['IdProgram']==3){?>
	        		<a href="/records/semrecord/view-krs/idstudentsemsterstatus/<?php echo $lobjstudents["idstudentsemsterstatus"];?>/IdStudentRegistration/<?php echo $lobjstudents["IdStudentRegistration"];?>/type/2"><span class="ui-icon ui-icon-disk"></span></a>
	        		<?php }?>
	        	</td>
	       <?php 
	        } } 
	        ?>
			</tr>
			<?php 
			if (count($this->paginator)){
			?>
			<tr>
	        	<td colspan="11" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
   			<?php 
			}
   			?>
		</table>
		</form>
	</fieldset>

