<script type="text/javascript">
$(function() {
	
});

function getPeriod(element){
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'placement-test-report', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period_id').empty().append('<option value=""> <?php echo $this->translate('-- All Period --'); ?> </option>');
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'detail','id'=>$this->schedule_data['aps_location_id']),'default',true); ?>';">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			-->
		</ul>
	</div>
</div>
<br />
<?php echo $this->form; ?>

<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Placement Test"); ?></th>
		<th width="30%"><?php echo $this->translate("Location"); ?></th>
		<th width="30%"><?php echo $this->translate("Date"); ?></th>
	</tr>
	<?php
	if($this->placementTestList){ 
	foreach ($this->placementTestList as $test):
	?>
	<tr>
		<td><?php echo $test['aps_placement_code']; ?></td>
		<td><?php echo $test['al_location_name']; ?></td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'manage-applicant', 'action'=>'schedule-detail','scid'=>$test['aps_id']),'default',true); ?>"><?php echo date('d-m-Y',strtotime($test['aps_test_date'])); ?></a></td>
	</tr>
	<?php 
	endforeach; 
	}
	?>
</table>
