<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">
<?php 
if($this->merged==1){
?>
Merge Successful
<?php 
}else{
?>
<?php echo $this->form;?>

<?php 
if($this->print==1){
	if(!$this->error1){
	?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>	
			    <th width="10"><?php echo $this->translate("ID Profil"); ?></th>
			    <th width="20"><?php echo $this->translate("No Formulir"); ?></th>
			    <th width="200"><?php echo $this->translate("Nama"); ?></th>	
			    <th  width="200"><?php echo $this->translate("Email"); ?></th> 	
			    <th  width="50"><?php echo $this->translate("DOB"); ?></th>
			    <th  width="100"><?php echo $this->translate("Mother"); ?></th>
				<th width="200" ><?php echo $this->translate("Program yang dimohon"); ?></th>
				<th width="100" ><?php echo $this->translate("Status"); ?></th>
					
					 		
			</tr>	
			<tr>	
			    <td ><?php echo $this->profile1["appl_id"] ?></td>
			    <td ><?php echo $this->profile1["at_pes_id"]; ?></td>	
			    <td><?php echo  $this->profile1["appl_fname"]." ".$this->profile1["appl_mname"]." ".$this->profile1["appl_lname"]." "  ?></td>	
			    <td ><?php echo $this->profile1["appl_email"] ?></td> 
			    <td ><?php echo $this->profile1["appl_dob"] ?></td> 
			    <td ><?php echo $this->profile1["af_name"] ?></td>
				<td ><?php 
				foreach($this->prog1 as $prog){
					$asterik="";
					if($prog["ap_usm_status"]=="1") $asterik="*";
					echo $prog["program_name"]." $asterik<br>";
				}
				?></td>
				<td ><?php echo $this->profile1["at_status"]; ?></td>
				
					 		
			</tr>		
	</table>
	<?php 
	}
	?>	
	<br></br>
	<?php 
	if(!$this->error2){
	?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>	
			    <th width="10"><?php echo $this->translate("ID Profil"); ?></th>
			    <th width="20"><?php echo $this->translate("No Formulir"); ?></th>
			    <th width="200"><?php echo $this->translate("Nama"); ?></th>	
			    <th  width="200"><?php echo $this->translate("Email"); ?></th>
			    <th  width="50"><?php echo $this->translate("DOB"); ?></th> 
			    <th  width="100"><?php echo $this->translate("Mother"); ?></th>	
				<th width="200" ><?php echo $this->translate("Program yang dimohon"); ?></th>
				<th width="100" ><?php echo $this->translate("Status"); ?></th>
					
					 		
			</tr>	
			<tr>	
			    <td ><?php echo $this->profile2["appl_id"] ?></td>
			    <td ><?php echo $this->profile2["at_pes_id"]; ?></td>	
			    <td><?php echo  $this->profile2["appl_fname"]." ".$this->profile2["appl_mname"]." ".$this->profile2["appl_lname"]." "  ?></td>	
			    <td ><?php echo $this->profile2["appl_email"] ?></td>
			    <td ><?php echo $this->profile2["appl_dob"] ?></td> 
			    <td ><?php echo $this->profile2["af_name"] ?></td>
				<td ><?php 
				foreach($this->prog2 as $prog){
					$asterik="";
					if($prog["ap_usm_status"]=="1") $asterik="*";
					echo $prog["program_name"]." $asterik<br>";
				}
				?></td>
				<td ><?php echo $this->profile2["at_status"]; ?></td>
			
					 		
			</tr>		
	</table>
	<?php 
	}
}
	?>	

<?php 
if(isset($this->profile1["appl_id"]) && $this->profile1["appl_id"]==$this->profile2["appl_id"]){
	$error[1]="Same Profile, No merge required.";
	$blocked=1;
}elseif(isset($this->error1) || isset($this->error2)){
	$error[2]="Need 2 profiles for merging";
}

if(isset($error)){?>
<font color="red">
<?php 
foreach ($error as $err){
	echo $err;
}
?>
</font>
<?php 
	
}elseif($this->searched==1){

?>
<form name="mergenow" method="POST" action="<?php echo $this->url(array('module'=>'application','controller'=>'manage-applicant', 'action'=>'merge',"process"=>1),'default',true)?>">
<input type="hidden" name="fprofile1" value="<?php echo $this->profile1["appl_id"];?>">
<input type="hidden" name="fprofile2" value="<?php echo $this->profile2["appl_id"];?>">
<input type="hidden" name="fpes1" value="<?php echo $this->profile1["at_pes_id"];?>">
<input type="hidden" name="fpes2" value="<?php echo $this->profile2["at_pes_id"];?>">
<input type="hidden" name="ftrans1" value="<?php echo $this->profile1["at_trans_id"];?>">
<input type="hidden" name="ftrans2" value="<?php echo $this->profile2["at_trans_id"];?>">
<input type="hidden" name="femail1" value="<?php echo $this->profile1["appl_email"];?>">
<input type="hidden" name="femail2" value="<?php echo $this->profile2["appl_email"];?>">
<br></br>
<?php echo $this->translate("Sila pilih ID profile yang mahu di maintain"); ?>
<select name="mprofile">
<option value=""><?php echo $this->translate("Sila Pilih")?></option>
<option value="<?php echo $this->profile1["appl_id"];?>"><?php echo $this->profile1["appl_email"]."(".$this->profile1["appl_id"].")";?></option>
<option value="<?php echo $this->profile2["appl_id"];?>"><?php echo $this->profile2["appl_email"]."(".$this->profile2["appl_id"].")";?></option>
</select>
<br></br>
<font color="red">(WARNING!! PLEASE MAKE SURE THAT YOU SELECT A CORRECT DATA. THIS PROCESS CANNOT BE REVERTED.)</font><br>
<input type="submit" value="<?php echo $this->translate("Merge Now")?>">
</form>
<?php 
}
?>
<?php 
}
?>
</div>