<script type="text/javascript">
	$(function() {
		$( "#dialog-mark" ).dialog({
	      	autoOpen: false,
	      	modal: true,
	      	buttons: {
	        	"Save": function() {
	        		$('#from_mark').submit();
	        	},
	        	Cancel: function() {
	          		$( this ).dialog( "close" );
	        	}
	      }
	    });
	});

	function viewdata(transaction_id){
		window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'manage-applicant', 'action'=>'edit-applicant'),'default',false);?>/txnid/"+transaction_id;
	}

	function genResult(){
		window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'generate-result', 'action'=>'schedule-detail', 'generateAll'=>'1'));?>";
	}

</script>

<style type="text/css">
.mark{
	width: 50px;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<!--
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			
			<li>
				<a href="#" onclick="javascript:printMe()">
					<span class='print'></span>
					Print
				</a>
			</li>
			-->
			<li class="divider"></li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'application','controller'=>'manage-applicant', 'action'=>'index'),'default',true); ?>';">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
	<table class="">
		<tr>
			<td width="150"><?php echo $this->translate("Placement Test Code");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['aps_placement_code'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Location");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['al_location_name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Date");?></td>
			<td>:</td>
			<td><?php echo date('d F Y', strtotime($this->schedule_data['aps_test_date']));?></td>
		</tr>
		</table>
</fieldset>
<br />

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Nama"); ?></th>
		<th><?php echo $this->translate("No Peserta"); ?></th>
		<th><?php echo $this->translate("No Fomulir"); ?></th>
		<th><?php echo $this->translate("Email"); ?></th>
		<th><?php echo $this->translate("Program"); ?></th>		
	</tr>
	<?php 
	if($this->applicant_list!=null){
		foreach ($this->applicant_list as $applicant):
		//if($applicant['ara_room']!=1){
	?>
		<tr>
			<td>
				<a href="#" onclick="viewdata('<?php echo $applicant['apt_at_trans_id']; ?>')">
				<?php echo $applicant['profile']['appl_fname']!=""?$applicant['profile']['appl_fname']." ":"" ; ?>
				<?php echo $applicant['profile']['appl_mname']!=""?$applicant['profile']['appl_mname']." ":"" ; ?>
				<?php echo $applicant['profile']['appl_lname']!=""?$applicant['profile']['appl_lname']." ":"" ; ?>
				</a>
			</td>
			<td><?php echo $applicant['apt_no_pes']; ?></td>
			<td><?php echo $applicant['apt_bill_no']; ?></td>
			<td><?php echo $applicant['profile']['appl_email']; ?></td>
			<td>
				<ol>
				<?php 
				foreach ($applicant['program'] as $program){
				?>
					<li><?php echo $program['ArabicName']; ?></li>
				<?php 	
				}
				?>
				</ol>
			</td>
		</tr>
	
	<?php
		//}
		endforeach;
	}
	?>
</table>

<div id="dialog-mark" title="Mark Entry">
	<form id="from_mark" action="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test-mark-entry', 'action'=>'mark-entry-quick'),'default',true);?>" method="post">
		<input type="hidden" name="txn_id" id="txn_id" value="" />
		<input type="hidden" name="ptest_code" id="ptest_code" value="" />
		<input type="hidden" name="save" value="1" />
		
		<table id="tbl_mark" class="table" width="100%">
			<thead>
			<tr>
				<th><?php echo $this->translate("Component"); ?></th>
				<th><?php echo $this->translate("Mark"); ?></th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</form>
</div>
