<style type="text/css">
    .MonthDatePicker .ui-datepicker-month
    {
        display:none;
    }
    .HideTodayButton .ui-datepicker-buttonpane .ui-datepicker-current
    {
        visibility:hidden;
    }
    .hide-calendar .ui-datepicker-calendar
    {
        display:none!important;
        visibility:hidden!important
    }
</style>
<script type="text/javascript">
    $(function (){
        $("#year").datepicker({
            changeMonth: false,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy',
            beforeShow: function (e, t) {
                $(this).datepicker("hide");
                $("#ui-datepicker-div").addClass("hide-calendar");
                $("#ui-datepicker-div").addClass('MonthDatePicker');
                $("#ui-datepicker-div").addClass('HideTodayButton');
            },
            onClose: function(dateText, inst){
                var n = Math.abs($("#ui-datepicker-div .ui-datepicker-month :selected").val() - 1) + 2;
                $(this).datepicker("setDate", new Date(null, null, n));
            }
        });
    });

    function print(){
        var url = "<?php echo $this->url(array('module'=>'registration','controller'=>'workload-report', 'action'=>'print'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if ($this->lecturerList && $this->semGroupList){
                ?>
                <li>
                    <a href="#" onclick='print()'>
                        <span class='download'></span>
                        <?php echo $this->translate("Download");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form"  name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Year'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->year; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="button" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'workload-report', 'action'=>'clear'),'default',true);?>';" id="clear" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php
if ($this->lecturerList && $this->semGroupList) {
$model = new Registration_Model_DbTable_WorkloadReport();
$no = 0;
?>
    <table class="table" width="100%">
        <tr>
            <th rowspan="3"><?php echo $this->translate('No.'); ?></th>
            <th rowspan="3"><?php echo $this->translate('Name of Lecturer'); ?></th>
            <th rowspan="3"><?php echo $this->translate('Position'); ?></th>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th colspan="5"><?php echo $semGroupLoop['SemesterMainName']; ?></th>
                <?php
            }
            ?>
            <th colspan="10"><?php echo $this->translate('Full Year'); ?></th>
        </tr>
        <tr>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th colspan="4"><?php echo $this->translate('PSD Workload'); ?></th>
                <th rowspan="2"><?php echo $this->translate('GS Workload'); ?></th>
                <?php
            }
            ?>
            <th colspan="2"><?php echo $this->translate('Total Workload'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Total GS Workload'); ?></th>
            <th colspan="5"><?php echo $this->translate('CIFP Supervision'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Research/Publication'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Academic Mgt & Community Service'); ?></th>
        </tr>
        <tr>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th><?php echo $this->translate('FACE TO FACE 1 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('FACE TO FACE 2 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('ONLINE 1 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('ONLINE 2 (3 CR HR)'); ?></th>
                <?php
            }
            ?>
            <th><?php echo $this->translate('FTF'); ?></th>
            <th><?php echo $this->translate('ONLINE'); ?></th>
            <th><?php echo $this->translate('ARTICLESHIP CURRENT'); ?></th>
            <th><?php echo $this->translate('ARTICLESHIP COMPLETE'); ?></th>
            <th><?php echo $this->translate('PPP CURRENT'); ?></th>
            <th><?php echo $this->translate('PPP COMPLETE'); ?></th>
            <th><?php echo $this->translate('TOTAL'); ?></th>
        </tr>
        <?php
        foreach ($this->lecturerList as $lecturerLoop) {
            $no++;
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $lecturerLoop['FullName']; ?></td>
                <td><?php echo $lecturerLoop['levelname']; ?></td>
                <?php
                $totalftf = 0;
                $totalol = 0;
                $totalgs = 0;
                foreach ($this->semGroupList as $semGroupLoop){
                    ?>
                    <td align="center">
                        <?php
                        $semftf1 = $model->getSemester($semGroupLoop['AcademicYear'], $semGroupLoop['sem_seq'], 1);
                        $ftf1 = $model->getWorkload($lecturerLoop['IdStaff'], $semftf1['IdSemesterMaster'], 578);
                        //var_dump($semftf1);
                        $vftf1 = 0;
                        if ($ftf1){
                            if (isset($ftf1[0])){
                                $vftf1 = 3;
                            }
                        }

                        echo $vftf1;

                        $totalftf = $totalftf + $vftf1;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $vftf2 = 0;
                        if ($ftf1){
                            if (isset($ftf1[1])){
                                $vftf2 = 3;
                            }
                        }

                        echo $vftf2;

                        $totalftf = $totalftf + $vftf2;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $ol1 = $model->getWorkload($lecturerLoop['IdStaff'], $semftf1['IdSemesterMaster'], 577);

                        $vol1 = 0;
                        if ($ol1){
                            if (isset($ol1[0])){
                                $ctot = $model->checkTutorial($ol1[0]['IdCourseTaggingGroup']);

                                if ($ctot){
                                    $vol1 = 3;
                                }else{
                                    $vol1 = 1.5;
                                }
                            }
                        }

                        echo $vol1;

                        $totalol = $totalol + $vol1;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $vol2 = 0;
                        if ($ol1){
                            if (isset($ol1[0])){
                                $ctot = $model->checkTutorial($ol1[0]['IdCourseTaggingGroup']);

                                if ($ctot){
                                    $vol2 = 3;
                                }else{
                                    $vol2 = 1.5;
                                }
                            }
                        }

                        echo $vol2;

                        $totalol = $totalol + $vol2;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $semftf2 = $model->getSemester($semGroupLoop['AcademicYear'], $semGroupLoop['sem_seq'], 11);
                        //var_dump($se)
                        $gs = $model->getWorkload($lecturerLoop['IdStaff'], $semftf2['IdSemesterMaster']);

                        $vgs = 0;

                        if ($gs){
                            foreach ($gs as $gsLoop){
                                $vgs = $vgs + 3;
                            }
                        }
                        echo $vgs;

                        $totalgs = $totalgs + $vgs;
                        ?>
                    </td>
                    <?php
                }
                ?>
                <td align="center"><?php echo $totalftf;  ?></td>
                <td align="center"><?php echo $totalol;  ?></td>
                <td align="center"><?php echo $totalgs;  ?></td>
                <td align="center">
                    <?php
                    $comPPP = $model->getPPPComplete($lecturerLoop['IdStaff']);
                    //var_dump($comPPP);
                    $tcomPPP = count($comPPP);
                    echo $tcomPPP;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $curPPP = $model->getPPPCurrent($lecturerLoop['IdStaff']);
                    //var_dump($curPPP);
                    $tcurPPP = count($curPPP);
                    echo $tcurPPP;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $comArt = $model->getArticleshipComplete($lecturerLoop['IdStaff']);
                    //var_dump($comArt);
                    $tcomArt = count($comArt);
                    echo $tcomArt;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $curArt = $model->getArticleshipCurrent($lecturerLoop['IdStaff']);
                    //var_dump($curArt);
                    $tcurArt = count($comArt);
                    echo $tcurArt;
                    ?>
                </td>
                <td align="center"><?php echo ($tcomPPP+$tcurPPP+$tcomArt+$tcurArt); ?></td>
                <td align="center"><?php  ?></td>
                <td align="center"><?php  ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>
