<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->lecturerList && $this->semGroupList) {
$model = new Registration_Model_DbTable_WorkloadReport();
$no = 0;
?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <tr>
            <th rowspan="3"><?php echo $this->translate('No.'); ?></th>
            <th rowspan="3"><?php echo $this->translate('Name of Lecturer'); ?></th>
            <th rowspan="3"><?php echo $this->translate('Position'); ?></th>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th colspan="5"><?php echo $semGroupLoop['SemesterMainName']; ?></th>
                <?php
            }
            ?>
            <th colspan="10"><?php echo $this->translate('Full Year'); ?></th>
        </tr>
        <tr>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th colspan="4"><?php echo $this->translate('PSD Workload'); ?></th>
                <th rowspan="2"><?php echo $this->translate('GS Workload'); ?></th>
                <?php
            }
            ?>
            <th colspan="2"><?php echo $this->translate('Total Workload'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Total GS Workload'); ?></th>
            <th colspan="5"><?php echo $this->translate('CIFP Supervision'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Research/Publication'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Academic Mgt & Community Service'); ?></th>
        </tr>
        <tr>
            <?php
            foreach ($this->semGroupList as $semGroupLoop){
                ?>
                <th><?php echo $this->translate('FACE TO FACE 1 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('FACE TO FACE 2 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('ONLINE 1 (3 CR HR)'); ?></th>
                <th><?php echo $this->translate('ONLINE 2 (3 CR HR)'); ?></th>
                <?php
            }
            ?>
            <th><?php echo $this->translate('FTF'); ?></th>
            <th><?php echo $this->translate('ONLINE'); ?></th>
            <th><?php echo $this->translate('ARTICLESHIP CURRENT'); ?></th>
            <th><?php echo $this->translate('ARTICLESHIP COMPLETE'); ?></th>
            <th><?php echo $this->translate('PPP CURRENT'); ?></th>
            <th><?php echo $this->translate('PPP COMPLETE'); ?></th>
            <th><?php echo $this->translate('TOTAL'); ?></th>
        </tr>
        <?php
        foreach ($this->lecturerList as $lecturerLoop) {
            $no++;
            ?>
            <tr>
                <td><?php echo $no; ?></td>
                <td><?php echo $lecturerLoop['FullName']; ?></td>
                <td><?php echo $lecturerLoop['levelname']; ?></td>
                <?php
                $totalftf = 0;
                $totalol = 0;
                $totalgs = 0;
                foreach ($this->semGroupList as $semGroupLoop){
                    ?>
                    <td align="center">
                        <?php
                        $semftf1 = $model->getSemester($semGroupLoop['AcademicYear'], $semGroupLoop['sem_seq'], 1);
                        $ftf1 = $model->getWorkload($lecturerLoop['IdStaff'], $semftf1['IdSemesterMaster'], 578);
                        //var_dump($semftf1);
                        $vftf1 = 0;
                        if ($ftf1){
                            if (isset($ftf1[0])){
                                $vftf1 = 3;
                            }
                        }

                        echo $vftf1;

                        $totalftf = $totalftf + $vftf1;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $vftf2 = 0;
                        if ($ftf1){
                            if (isset($ftf1[1])){
                                $vftf2 = 3;
                            }
                        }

                        echo $vftf2;

                        $totalftf = $totalftf + $vftf2;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $ol1 = $model->getWorkload($lecturerLoop['IdStaff'], $semftf1['IdSemesterMaster'], 577);

                        $vol1 = 0;
                        if ($ol1){
                            if (isset($ol1[0])){
                                $ctot = $model->checkTutorial($ol1[0]['IdCourseTaggingGroup']);

                                if ($ctot){
                                    $vol1 = 3;
                                }else{
                                    $vol1 = 1.5;
                                }
                            }
                        }

                        echo $vol1;

                        $totalol = $totalol + $vol1;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $vol2 = 0;
                        if ($ol1){
                            if (isset($ol1[0])){
                                $ctot = $model->checkTutorial($ol1[0]['IdCourseTaggingGroup']);

                                if ($ctot){
                                    $vol2 = 3;
                                }else{
                                    $vol2 = 1.5;
                                }
                            }
                        }

                        echo $vol2;

                        $totalol = $totalol + $vol2;
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $semftf2 = $model->getSemester($semGroupLoop['AcademicYear'], $semGroupLoop['sem_seq'], 11);
                        //var_dump($se)
                        $gs = $model->getWorkload($lecturerLoop['IdStaff'], $semftf2['IdSemesterMaster']);

                        $vgs = 0;

                        if ($gs){
                            foreach ($gs as $gsLoop){
                                $vgs = $vgs + 3;
                            }
                        }
                        echo $vgs;

                        $totalgs = $totalgs + $vgs;
                        ?>
                    </td>
                    <?php
                }
                ?>
                <td align="center"><?php echo $totalftf;  ?></td>
                <td align="center"><?php echo $totalol;  ?></td>
                <td align="center"><?php echo $totalgs;  ?></td>
                <td align="center">
                    <?php
                    $comPPP = $model->getPPPComplete($lecturerLoop['IdStaff']);
                    //var_dump($comPPP);
                    $tcomPPP = count($comPPP);
                    echo $tcomPPP;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $curPPP = $model->getPPPCurrent($lecturerLoop['IdStaff']);
                    //var_dump($curPPP);
                    $tcurPPP = count($curPPP);
                    echo $tcurPPP;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $comArt = $model->getArticleshipComplete($lecturerLoop['IdStaff']);
                    //var_dump($comArt);
                    $tcomArt = count($comArt);
                    echo $tcomArt;
                    ?>
                </td>
                <td align="center">
                    <?php
                    $curArt = $model->getArticleshipCurrent($lecturerLoop['IdStaff']);
                    //var_dump($curArt);
                    $tcurArt = count($comArt);
                    echo $tcurArt;
                    ?>
                </td>
                <td align="center"><?php echo ($tcomPPP+$tcurPPP+$tcomArt+$tcurArt); ?></td>
                <td align="center"><?php  ?></td>
                <td align="center"><?php  ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>