<head>
<script type="text/javascript">

dojo.addOnLoad(function(){
	
	});

function fnGetCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("State",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetStateCityList(idState){ 
	if(idState != "")
		{ var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("City",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 	
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script>
</head>
<fieldset>
    <legend><?php echo $this->translate("Agent Master");?></legend>
          <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/generalsetup/agentmaster/agentmasterlist/id/<?php echo $this->IdAgentMaster; ?>" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit" >
                if (this.validate()) {

					var flag = true;var count=0;
					var len = dojo.query(".IdProgram").length;
					nodes = document.getElementsByName('IdProgram[]');
					dojo.forEach(nodes,
	    				function(node)
	    				{
	    					var checknode = dijit.getEnclosingWidget(node);//alert(checknode);
	    					if(checknode.checked)
	    					count++;
					    }
					);

					if(count < 1 )
					{
						alert('Please Select Atleast One Program');
						return false;
					}
						return flag;
				}
				else
				{
					return false;
                }
				</script>
                   <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Agent Details");?></th>
                        </tr>
                        <?php echo $this->lobjAgentmasterForm->IdAgentMaster;?>
                        <?php echo $this->lobjAgentmasterForm->UpdDate;?>
                        <?php echo $this->lobjAgentmasterForm->UpdUser;?>
                         <tr>
                            <td ><?php echo $this->translate("Agent Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->AgentName;?></td>
                            <td><?php echo $this->translate("Address1");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->AgentAdd1;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Address2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->AgentAdd2;?></td>
                            <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->Country;?></td>
                        </tr>

                        <tr>
                        	<td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->State;?></td>
                            <td><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->City;?></td>
                            
                        </tr>

                        <tr>
                            <td><?php echo $this->translate("Phone");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->Phonecountrycode;?><?php echo $this->lobjAgentmasterForm->Phonestatecode;?><?php echo $this->lobjAgentmasterForm->Phone;?></td>
                            <td><?php echo $this->translate("Fax");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->faxcountrycode;?><?php echo $this->lobjAgentmasterForm->faxstatecode;?><?php echo $this->lobjAgentmasterForm->Fax;?></td>                           
                        </tr>
                        <tr>                          	
                            <td><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->Email;?></td>
                            <td><?php echo $this->translate("URL");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->URL;?></td>    
                            
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Contact Person");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->ContactPerson;?></td>
                            <td><?php echo $this->translate("Designation");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->Desgination;?></td>
                            
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Contact Phone");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->ContactPhonecountrycode;?><?php echo $this->lobjAgentmasterForm->ContactPhonestatecode;?><?php echo $this->lobjAgentmasterForm->ContactPhone;?></td>
                            <td><?php echo $this->translate("Contact cell");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->countrycode;?><?php echo $this->lobjAgentmasterForm->ContactCell;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("Effective Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjAgentmasterForm->EffectiveDate;?></td>   
                        </tr>
                        <tr>
                        	 <?php $label_1 = $this->AgentField1;  if ($label_1) {?>                         
                            <td>
                               <?php echo $this->AgentField1; ?>                            	
                            </td>
                            <td>
                            	<?php  echo $this->lobjAgentmasterForm->AgentField1;  ?>
                            </td>   
                            <?php } ?>                             	
                             <?php $label_2 = $this->AgentField2;  if ($label_2) {?>                         
                            <td>
                               <?php echo $this->AgentField2; ?>                            	
                            </td>
                            <td>
                            	<?php  echo $this->lobjAgentmasterForm->AgentField2;  ?>
                            </td>   
                            <?php } ?> 
                            
                        </tr>
                        <tr> 
                        	 <?php $label_3 = $this->AgentField3;  if ($label_3) {?>                         
                            <td>
                               <?php echo $this->AgentField3; ?>                            	
                            </td>
                            <td>
                            	<?php  echo $this->lobjAgentmasterForm->AgentField3;  ?>
                            </td>   
                            <?php } ?>                         	
                             <?php $label_4 = $this->AgentField4;  if ($label_4) {?>                         
                            <td>
                               <?php echo $this->AgentField4; ?>                            	
                            </td>
                            <td>
                            	<?php  echo $this->lobjAgentmasterForm->AgentField4;  ?>
                            </td>   
                            <?php } ?> 
                        </tr>
                         <tr>  
                         	 <?php $label_5 = $this->AgentField5;  if ($label_5) {?>                         
                            <td>
                               <?php echo $this->AgentField5; ?>                            	
                            </td>
                            <td>
                            	<?php  echo $this->lobjAgentmasterForm->AgentField5;  ?>
                            </td>   
                            <?php } ?>                        	
                            
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjAgentmasterForm->Active;?></td>
                        </tr>
                      </table>
                       <div style="width:100%;height:300px;overflow:auto;">
                      	 <table class="table" width="100%">
                        	<tr>
								<th colspan="4"><?php echo $this->translate("$this->Program Name");?></th>
							</tr>
						 	<tr>
								<td colspan="4"><?php echo $this->lobjAgentmasterForm->IdProgram;?></td>
							</tr>
						</table>
                    </div>	
						<table align = "right">
                       	<tr>
                           	<td align = "right" colspan="4"><?php echo $this->lobjAgentmasterForm->Save;?>
                          	 <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'agentmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                       </tr>
                	 </table>
                   	
           </Form>
</fieldset>


