<script type="application/javascript">
    var batchArray  = new Array();
    var rowid = 1;
    var rowid2 = 1;

    $(function(){
        $("#invoice_date").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $("#studentId").click(function(){

            $( "#studentId" ).autocomplete({
                source: '<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'invoice-cp', 'action' => 'find-student'), 'default', true); ?>',
                minLength: 1,
                search: function(event, ui) {
                    $("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
                },
                response: function (event, ui) {
                    $("#student_search_status").html('');
                },
                select: function(event, ui) {
                    $('#studentId').val(ui.item.id);
                    $('#regId').val(ui.item.id);
                }
            });
        });
    });

    function addFeeItem(){
        var fee_item = $('#fee_item').val();
        var fee_item_name = $('#fee_item option:selected').text();
        var amount = $('#amount').val();
        var invoice_details_desc = $('#invoice_details_desc').val();

        var check = true;

        if (fee_item == ''){
            check = false;
        }

        if (amount == ''){
            check = false;
        }

        if (invoice_details_desc == ''){
            check = false;
        }

        if (check == false){
            alert('Please fill all required field and make sure amount value is a number');
            return false;
        }

        batchArray.push(fee_item);

        var trow=document.getElementById('fee_table').insertRow(rowid);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        var tcol3=trow.insertCell(2);
        var tcol4=trow.insertCell(3);

        tcol2.align = "right";
        tcol4.align = "center";

        tcol1.innerHTML="<input type='hidden' value='"+fee_item+"' name=fee_item_arr[]>"+fee_item_name;
        tcol2.innerHTML="<input type='hidden' value='"+parseFloat(amount).toFixed(2)+"' name=amount_arr[]>"+parseFloat(amount).toFixed(2);
        tcol3.innerHTML="<input type='hidden' value='"+invoice_details_desc+"' name=invoice_details_desc_arr[]>"+invoice_details_desc;
        tcol4.innerHTML="<a href='javascript:void(0);' onClick='deleteRow(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
        rowid++;
    }

    function addStudent(){
        var invoice_type = $('#invoice_type').val();
        var invoice_type_name = $('#invoice_type option:selected').text();

        if (invoice_type == 1) {
            var student = $('#studentId').val();
            var studentValue = $('#regId').val();
        }else{
            var student = $('#studentName').val();
            var studentValue = $('#studentName').val();
        }

        var check = true;

        if (invoice_type == ''){
            check = false;
        }

        if (student == ''){
            check = false;
        }

        if (check == false){
            alert('Please fill all required field and make sure amount value is a number');
            return false;
        }

        var trow=document.getElementById('student_table').insertRow(rowid2);
        var tcol1=trow.insertCell(0);
        var tcol2=trow.insertCell(1);
        var tcol3=trow.insertCell(2);

        tcol1.align = "center";
        tcol2.align = "center";
        tcol3.align = "center";

        tcol1.innerHTML="<input type='hidden' value='"+invoice_type+"' name=invoice_type_arr[]>"+invoice_type_name;
        tcol2.innerHTML="<input type='hidden' value='"+studentValue+"' name=student_arr[]>"+student;
        tcol3.innerHTML="<a href='javascript:void(0);' onClick='deleteRow2(this); return false;'><?php echo $this->translate('Delete'); ?></a>";
        rowid2++;
    }

    function arrHasDupes(A) {
        var i, j, n;
        n=A.length;

        for (i=0; i<n; i++) {
            for (j=i+1; j<n; j++) {
                if (A[i]==A[j]) return true;
            }
        }
        return false;
    }

    function deleteRow(r){
        var ret = confirm("Are you sure to delete");
        if(ret){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            document.getElementById('fee_table').deleteRow(i);
        }
    }

    function deleteRow2(r){
        var ret = confirm("Are you sure to delete");
        if(ret){
            rowid2--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            document.getElementById('student_table').deleteRow(i);
        }
    }

    function addmoreupload(){
        var i = $('#subrowcount').val();
        $("#uploaddiv").append("<div id='upload-"+i+"'><br/><input type='file' name='uploadFile[]' id='uploadFile'>&nbsp;<a id='removerow' href='javascript:void(0)' onclick='removeUploadRow("+i+");'>Remove</a></div>");
        i++;
        $('#subrowcount').val(i);
    }

    function removeUploadRow(i){
        $('#upload-'+i).remove();
    }

    function validateForm(){
        if (batchArray.length == 0){
            alert('Please add atleast one fee item before submit');
            return false;
        }
    }

    function defineType(id){
        if (id == 1){
            $('#rowstudentid').show();
            $('#rowstudentname').hide();
        }else{
            $('#rowstudentid').hide();
            $('#rowstudentname').show();
        }
    }
</script>
<style type="text/css">
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'index'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<form method="post" id="add_form" name="add_form" enctype="multipart/form-data">
    <table width="100%" class="table">
        <tr>
            <th colspan="2"><?php echo $this->translate('Invoice Info'); ?></th>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate('Branch'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->branch; ?></td>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate('Invoice Date'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->invoice_date; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->invoice_semester; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Currency'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->currency; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description'); ?></td>
            <td><?php echo $this->form->invoice_main_desc; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Upload File'); ?></td>
            <td>
                <div id='uploaddiv'><input type='file' name='uploadFile[]' id='uploadFile'>&nbsp;<a id='addmoreupload' href='javascript:void(0)' onclick='addmoreupload();'><?php echo $this->translate('Add More+'); ?></a></div>
            </td>
        </tr>
    </table>
    <br />
    <table width="100%" class="table">
        <tr>
            <th colspan="2"><?php echo $this->translate('Add Student or Non-Student'); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate('Type'); ?></td>
            <td><?php echo $this->form->invoice_type; ?></td>
        </tr>
        <tr id="rowstudentid">
            <td><?php echo $this->translate('Student ID'); ?> <span class="reqMark">*</span></td>
            <td>
                <input type="text" id="studentId" name="studentId" class="input-txt"> <span id="student_search_status"></span>
                <input type="hidden" id="regId" name="regId" value="0">
            </td>
        </tr>
        <tr id="rowstudentname" style="display: none;">
            <td><?php echo $this->translate('Student Name'); ?> <span class="reqMark">*</span></td>
            <td><input type="text" id="studentName" name="studentName" class="input-txt"></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" name="add_student" id="add_student" onclick="addStudent();"><?php echo $this->translate('Add'); ?></button>
            </td>
        </tr>
    </table>
    <br />
    <table width="100%" class="table" id="student_table">
        <tr>
            <th><?php echo $this->translate('Type'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th></th>
        </tr>
        <tr>

        </tr>
    </table>
    <br />
    <table width="100%" class="table">
        <tr>
            <th colspan="2"><?php echo $this->translate('Fee Item'); ?></th>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate('Fee Item'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->fee_item; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Amount'); ?> <span class="reqMark">*</span></td>
            <td><input type="number" id="amount" name="amount" class="input-txt" step="0.01" placeholder="0.00"></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Description'); ?> <span class="reqMark">*</span></td>
            <td><?php echo $this->form->invoice_details_desc; ?></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" name="add_fee" id="add_fee" onclick="addFeeItem();"><?php echo $this->translate('Add Fee'); ?></button>
            </td>
        </tr>
    </table>
    <br />
    <table width="100%" class="table" id="fee_table">
        <tr>
            <th><?php echo $this->translate('Fee Item'); ?></th>
            <!--<th><?php //echo $this->translate('Currency'); ?></th>-->
            <th><?php echo $this->translate('Amount'); ?></th>
            <th><?php echo $this->translate('Decription'); ?></th>
            <th></th>
        </tr>
        <tr>

        </tr>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save" onclick="return validateForm();"><?php echo $this->translate('Save'); ?></button>
    </div>
</form>