<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'add'),'default',true);?>">
                    <span class='add'></span>
                    <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend>
        <?php echo $this->translate('Search Invoice');?>
    </legend>
    <form method="post" action="">
        <table>
            <tr>
                <td><?php echo $this->translate('Branch');?></td>
                <td>
                    <select name="branch" id="branch" class="select">
                        <option value=""><?php echo $this->translate("All");?></option>
                        <?php
                        if ($this->branchList) {
                            foreach ($this->branchList as $branchLoop) {
                                ?>
                                <option value="<?php echo $branchLoop['IdBranch'] ?>"><?php echo $branchLoop['BranchName']; ?></option>
                                <?php
                            }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Invoice No');?></td>
                <td>
                    <input type="text" name="invoice_id" class="input-txt" id="invoice_id" value="" />
                </td>
            </tr>
            <!--<tr>
                <td><?php //echo $this->translate('Fee Category');?></td>
                <td>
                    <select name="category" id="category" class="select">
                        <option value="0"><?php //echo $this->translate("All");?></option>
                        <?php //foreach($this->fee_category as $cat){?>
                            <option value="<?php //echo $cat['fc_id'];?>"><?php //echo $cat['fc_desc'];?></option>
                        <?php //} ?>
                    </select>

                </td>
            </tr>-->
            <tr>
                <td><?php echo $this->translate('Invoice Status');?></td>
                <td>
                    <select name="status" id="status" class="select">
                        <option value=""><?php echo $this->translate("All");?></option>
                        <option value="E"><?php echo $this->translate("Entry");?></option>
                        <option value="A"><?php echo $this->translate("Active");?></option>
                        <option value="X"><?php echo $this->translate("Cancel");?></option>
                        <option value="W"><?php echo $this->translate("Waived");?></option>
                        <!--<option value="S"><?php //echo $this->translate("Sponsorship");?></option>-->
                    </select>

                </td>
            </tr>
            <!--<tr>
                <td valign="top"><?php //echo $this->translate('Type');?></td>
                <td>
                    <input type="radio" name="type" id="type" value="1" /> <?php //echo $this->translate("Applicant"); ?>
                    <br />
                    <input type="radio" name="type" id="type" value="2" checked="checked" /> <?php //echo $this->translate("Student"); ?>
                </td>
            </tr>-->
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="search" id="btn_search" class="button" value="Search" />
                    <input type="reset" name="reset" id="btn_search" class="button" value="Clear" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<?php if ( count($this->list) > 0 ):?>
    <form id="cancel" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'cancel'), 'default', true);?>" onsubmit="return submitForm();">
        <table id="result" class="table" width="100%">
            <thead>
            <tr>
                <th><?php echo $this->translate("Invoice No.");?></th>
                <th><?php echo $this->translate("Branch");?></th>
                <th><?php echo $this->translate("Date")?></th>
                <th><?php echo $this->translate("Description")?></th>
			    <th><?php echo $this->translate("Status");?></th>
                <th><?php echo $this->translate("Status Date");?></th>
                <th><?php echo $this->translate("Status By");?></th>
                <th><?php echo $this->translate("Total Amount");?></th>
                <th><?php echo $this->translate("Paid Amount");?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php
            $i=0;

            foreach ($this->list as $data):
                ?>
                <tr>
                    <td align="center"><?php echo $data['bill_number']?></td>
                    <td align="center"><?php echo $data['BranchName']?></td>
                    <td align="center"><?php echo format_date_to_view($data['date_create'])?></td>
                    <td><?php echo $data['bill_description']?></td>
			    <td align="center"><?php
                        if($data['status'] == 'A'){
                            echo "ACTIVE";
                        }else if($data['status'] == 'X'){
                            echo "CANCEL";
                        }else if($data['status'] == 'W'){
                            echo "WAIVED";
                        }else if($data['status'] == 'E'){
                            echo "ENTRY";
                        }else if($data['status'] == 'S'){
                            echo "SPONSORSHIP";
                        }else{
                            echo "ENTRY";
                        }

                        ?></td>
                    <td align="center">
                        <?php
                        if($data['status'] == 'A'){
                            echo format_date_to_view($data['invoice_date']);
                        }else if($data['status'] == 'X'){
                            echo format_date_to_view($data['cancel_date']);
                        }else if($data['status'] == 'W'){
                            echo format_date_to_view($data['upd_date']);
                        }else if($data['status'] == 'E'){
                            echo format_date_to_view($data['upd_date']);
                        }else if($data['status'] == 'S'){
                            echo format_date_to_view($data['upd_date']);
                        }
                        ?>

                    </td>
                    <td align="center">
                        <?php
                        if($data['status'] == 'A'){
                            echo $data['creatorName'];
                        }else if($data['status'] == 'X'){
                            echo $data['cancelName'];
                        }else if($data['status'] == 'W'){
                            echo $data['updName'];
                        }else if($data['status'] == 'E'){
                            echo $data['updName'];
                        }else if($data['status'] == 'S'){
                            echo $data['updName'];
                        }
                        ?>
                    </td>
                    <td align='right'><?php echo $data['cur_symbol_prefix'].' '.$data['bill_amount']?></td>
                    <td align='right'><?php echo $data['cur_symbol_prefix'].' '.$data['bill_paid']?></td>
                    <td align="center" class="options">
                        <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'view','id'=>$data['invoiceid']),'default',true);?>"><?php echo $this->translate('View');?></a>
                        <?php
                        if ($data['status']=='A' || $data['status']=='W') {
                            ?>
                            |
                            <a href="<?php echo $this->url(array('module' => 'studentfinance', 'controller' => 'invoice-cp', 'action' => 'payment', 'id' => $data['invoiceid']), 'default', true); ?>">
                                <?php echo $this->translate("Update Payment"); ?>
                            </a>
                            <?php
                        }
                        ?>
                    </td>
                </tr>
                <?php
                $i++;
            endforeach; ?>
            </tbody>
        </table>
        <input type="hidden" name="typeSearch" id="typeSearch" value="<?php echo $this->type;?>">
        <div class="form-opt">
            <input type="submit" name="search" id="btn_search" class="button" value="<?php echo $this->translate('Delete');?>" />
        </div>
    </form>
<?php endif; ?>