<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'view', 'id'=>$this->id),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<form id="form_payment" name="form_payment" method="post">
    <table width="100%" class="table info">
        <tr>
            <th><?php echo $this->translate('Branch'); ?></th>
            <td><?php echo $this->invoice['BranchName']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Invoice No.'); ?></th>
            <td><?php echo $this->invoice['bill_number']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Semester'); ?></th>
            <td><?php echo $this->invoice['SemesterMainName'].' - '.$this->invoice['SemesterMainCode']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Total Amount'); ?></th>
            <td><?php echo $this->invoice['cur_symbol_prefix'].$this->invoice['bill_amount']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Status'); ?></th>
            <td>
                <?php
                switch ($this->invoice['status']){
                    case 'E':
                        $status = 'Entry';
                        break;
                    case 'A':
                        $status = 'Active';
                        break;
                    case 'W':
                        $status = 'Waived';
                        break;
                    case 'X':
                        $status = 'Cancel';
                        break;
                }

                echo $status;
                ?>
            </td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Description'); ?></th>
            <td><?php echo $this->invoice['bill_description']; ?></td>
        </tr>
        <tr>
            <th><?php echo $this->translate('Amount Paid'); ?> <span class="reqMark">*</span></th>
            <td><input type="number" id="amount" name="amount" class="input-txt" step="0.01" placeholder="0.00" value="<?php echo $this->invoice['bill_paid']; ?>" required=""></td>
        </tr>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save"><?php echo $this->translate('Save'); ?></button>
    </div>
</form>