<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if ($this->invoice['status']=='E') {
                ?>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'approve', 'id'=>$this->invoice['invoiceid']),'default',true);?>">
                        <span class='approve'></span>
                        <?php echo $this->translate("Approve");?>
                    </a>
                </li>
                <?php
            }
            ?>
            <?php
            if ($this->invoice['status']=='A' || $this->invoice['status']=='W') {
                ?>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'payment', 'id'=>$this->invoice['invoiceid']),'default',true);?>">
                        <span class='edit'></span>
                        <?php echo $this->translate("Update Payment");?>
                    </a>
                </li>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'cancel', 'id'=>$this->invoice['invoiceid']),'default',true);?>">
                        <span class='delete'></span>
                        <?php echo $this->translate("Cancel");?>
                    </a>
                </li>
                <?php
            }
            ?>
            <li>
                <a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice-cp', 'action'=>'index'),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<table width="100%" class="table info">
    <tr>
        <th><?php echo $this->translate('Branch'); ?></th>
        <td><?php echo $this->invoice['BranchName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Invoice No.'); ?></th>
        <td><?php echo $this->invoice['bill_number']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Semester'); ?></th>
        <td><?php echo $this->invoice['SemesterMainName'].' - '.$this->invoice['SemesterMainCode']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Total Amount'); ?></th>
        <td><?php echo $this->invoice['cur_symbol_prefix'].$this->invoice['bill_amount']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Amount Paid'); ?></th>
        <td><?php echo $this->invoice['cur_symbol_prefix'].$this->invoice['bill_paid']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Status'); ?></th>
        <td>
            <?php
            switch ($this->invoice['status']){
                case 'E':
                    $status = 'Entry';
                    break;
                case 'A':
                    $status = 'Active';
                    break;
                case 'W':
                    $status = 'Waived';
                    break;
                case 'X':
                    $status = 'Cancel';
                    break;
            }

            echo $status;
            ?>
        </td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Description'); ?></th>
        <td><?php echo $this->invoice['bill_description']; ?></td>
    </tr>
</table>
<br />
<h3><?php echo $this->translate('File List'); ?></h3>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
    </tr>
    <?php
    if ($this->upload) {
        $no = 0;
        foreach ($this->upload as $upload) {
            $no++;
            ?>
            <tr>
                <td align="center" width="2%"><?php echo $no; ?></td>
                <td><a href="<?php echo DOCUMENT_PATH.$upload['icu_filelocation']; ?>"><?php echo $upload['icu_filename']; ?></a></td>
            </tr>
            <?php
        }
    }
    ?>
</table>
<br />
<h3><?php echo $this->translate('Student & Non-Student List'); ?></h3>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Type'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
    </tr>
    <?php
    if ($this->invoiceStd) {
        $no = 0;
        foreach ($this->invoiceStd as $invoiceStd) {
            $no++;
            ?>
            <tr>
                <td align="center" width="2%"><?php echo $no; ?></td>
                <td align="center"><?php echo $invoiceStd['ics_type']==1 ? 'Student':'Non-Student'; ?></td>
                <td><?php echo $invoiceStd['ics_type']==1 ? $invoiceStd['appl_fname'].' '.$invoiceStd['appl_lname'].' - '.$invoiceStd['registrationId'].' - '.$invoiceStd['ProgramCode'].' - '.$invoiceStd['statusname']:$invoiceStd['ics_name']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>
<br />
<h3><?php echo $this->translate('Details'); ?></h3>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Fee Item'); ?></th>
        <th><?php echo $this->translate('Code'); ?></th>
        <th><?php echo $this->translate('Amount'); ?></th>
    </tr>
    <?php
    if ($this->invoiceDtl) {
        $no = 0;
        foreach ($this->invoiceDtl as $invoiceDtl) {
            $no++;
            ?>
            <tr>
                <td align="center" width="2%"><?php echo $no; ?></td>
                <td><?php echo $invoiceDtl['fi_name']; ?></td>
                <td align="center"><?php echo $invoiceDtl['fi_code']; ?></td>
                <td align="right"><?php echo $invoiceDtl['cur_symbol_prefix'].$invoiceDtl['amount']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>