<script>
var s_elementName = null;
var s_element = null;
$(function(){

	$('#GroupCode').blur(function(){
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group', 'action'=>'ajax-validate-code'),'default',true);?>",
			data: {'code':$(this).val()},
			type: 'POST',
			dataType: 'json',	
			beforeSend: function() {
				showLoading('GroupCode');
	            },
	       complete: function() {
				hideLoading('GroupCode');
	            }
		}).done(function ( data ) {
			console.log(data);
			if(data){
				$('#GroupCode').val('');
				alert('Section Code already exist! Please choose other code.')
			}
		});
	});	

	$( "#class_start_date" ).datepicker({
	      defaultDate: "+1w",
	      changeMonth: true,
	      numberOfMonths: 3,
	      dateFormat: 'dd-mm-yy',
	      onClose: function( selectedDate ) {
	        $( "#class_end_date" ).datepicker( "option", "minDate", selectedDate );
	      }
	    });
	    $( "#class_end_date" ).datepicker({
	      defaultDate: "+1w",
	      dateFormat: 'dd-mm-yy',
	      changeMonth: true,
	      numberOfMonths: 3,
	      onClose: function( selectedDate ) {
	        $( "#class_start_date" ).datepicker( "option", "maxDate", selectedDate );
	      }
	    });

	    
    getLecturer(null,'#staff_list');
	
	$( "#dialog-assign" ).dialog({
	  autoOpen: false,
      modal: true,
      width: 800,
      buttons: {
        "<?php echo $this->translate('Assign'); ?>": function() {
          $(s_element).val($('#staff_list').val());
          $(s_elementName).val($('#staff_list').find('option:selected').text());
            
          $( this ).dialog( "close" );
        },
        Close: function() {
          $( this ).dialog( "close" );
        }
      }
    });

	$( "#dialog-program" ).dialog({
		  autoOpen: false,
	      modal: true,
	      width: 800,
	      buttons: {
	    	  "<?php echo $this->translate('Add'); ?>": function() {  
	    		  var sel_text = $('#program_sel').find('option:selected').text();
	    		  var sel_id = $('#program_sel').val();
                          var scheme_text = $('#program_scheme').find('option:selected').text();
	    		  var scheme_id = $('#program_scheme').val();
	    		  
	    		  var tappend = '<tr>'+
	    		  '<td  align="center">'+
	    		  '<input type="hidden" name="program[]" value="'+sel_id+'" />'+
	    		  sel_text +
	    		  '</td>'+
                          '<td  align="center">'+
                          '<input type="hidden" name="programscheme[]" value="'+scheme_id+'" />'+
                          scheme_text +
                          '</td>'+
	    		  '<td align="center"><a href="#" onclick="$(this).parent().parent().remove(); return false;"><?php echo $this->translate("Delete"); ?></a></td>'+
	    		  '</tr>';
		    	  $('#program tbody').append(tappend);
		    	  
	          $( this ).dialog( "close" );
	        },
	        Close: function() {
	          $( this ).dialog( "close" );
	        }
	      }
	    });

    $('#assign-lecturer').click(function(){
    	$( "#dialog-assign" ).dialog('open');
    	s_element = $('#IdLecturer');
    	s_elementName = $('#IdLecturerName');
    	
    	return false;
    });

    $('#assign-verificator').click(function(){
    	$( "#dialog-assign" ).dialog('open');
    	s_element = $('#VerifyBy');
    	s_elementName = $('#VerifyByName');
    	
    	return false;
    });


    $('#assign-program').click(function(){
    	$( "#dialog-program" ).dialog('open');

    	return false;
    });
});

function getLecturer(element,targetElement){
	var idCollege = $(element).val();

	$.ajax({
		url: "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group', 'action'=>'ajax-get-lecturer'),'default',true);?>",
		data: {'idCollege':$(element).val()},
		type: 'POST',
		dataType: 'json',	
		beforeSend: function(){
			$(targetElement).hide();
			$(targetElement).parent().append('<div class="loading">Loading...</div>');	
		}	
	}).done(function ( data ) {

		$('.loading').remove();  
		$(targetElement).show();
		
		$(targetElement).empty().append('<option value="0"> <?php echo $this->translate("Please Select"); ?> </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].IdStaff+'"> '+data[index].FullName+' </option>');
		});
	});
}

function go_nav_back(url){
	url = '<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'group-list','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester),'default',true);?>';
	
	window.location = url;
}

    function get_programscheme(){
        
        var program_id = document.getElementById('program_sel').value;

        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+program_id;
        var data_dropdown = {};
            
        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('program_scheme');
            },
            complete: function() {
		hideLoading('program_scheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'" value="'+data[index].IdProgramScheme+'">'+data[index].mop_name+' '+data[index].mos_name+' '+data[index].programType+'</option>';
            });
            $('#program_scheme').html(content);
        })
        .fail(function() {
            alert("error load programme scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>

<style>
.zend_form dt {
    width: 175px;
}
.zend_form dd {
    padding: 2px 0 0 175px;
}
.zend_form dd {
    width: 360px;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			
			<li>
				<a href="#" onclick="go_nav_back();" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br/>
<fieldset>
  <legend><?php echo $this->translate("Subject Info")?></legend>
  <table class="" width="50%" cellpadding="5" cellspacing="5" border="0">
  	<tr>
  		<td width="100px"><?php echo $this->translate("Subject Name")?></td>
  		<td width="5px">:</td>
  		<td><?php echo ($this->locale=='ms_MY') ? $this->subject["subjectMainDefaultLanguage"]:$this->subject["SubjectName"];  ?></td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate("Course Code")?></td>
  		<td width="5px">:</td>
  		<td><?php echo $this->subject["SubCode"];?></td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate("Semester")?></td>
  		<td width="5px">:</td>
  		<td><?php echo $this->semester["SemesterMainName"];?></td>
  	</tr>
  </table>
</fieldset>
<br>


<?php echo $this->form;?>


<div id="dialog-assign" title="Assign Academic Staff">
  <table>
    <tr>
      <td><?php echo $this->translate('Department'); ?></td>
      <td>:</td>
      <td>
        <select class="span-12" name="faculty" id="faculty" onchange="getLecturer(this,$('#staff_list'));">
          <option><?php echo $this->translate("Please select"); ?></option>
          <?php 
          foreach($this->faculty_list as $faculty):
          ?>
          <option value="<?php echo $faculty['IdCollege'];?>"><?php echo $faculty['CollegeName'];?> - <?php echo $faculty['CollegeCode'];?></option>
          <?php 
          endforeach;
          ?>
        </select>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate('Staff'); ?></td>
      <td>:</td>
      <td>
        <select class="span-12" name="staff_list" id="staff_list">
        </select>
      </td>
    </tr>
  </table>
</div>

<div id="dialog-program" title="Add Program">
  <table>
    <tr>
      <td><?php echo $this->translate('Program'); ?></td>
      <td>:</td>
      <td>
          <select class="span-12" name="program_sel" id="program_sel" onchange="get_programscheme();">
          <option><?php echo $this->translate("Please select"); ?></option>
          <?php 
          foreach($this->program_list as $list):
          ?>
          <optgroup label="<?php echo $list['faculty']['CollegeName'];?> - <?php echo $list['faculty']['CollegeCode'];?>">
              <?php 
              if(isset($list['program'])){
                foreach ($list['program'] as $program){
              ?>
              <option value="<?php echo $program['IdProgram'];?>"><?php echo $program['ProgramName'];?> - <?php echo $program['ProgramCode'];?></option>
              <?php
                } 
              }
              ?>
          </optgroup>
          <?php 
          endforeach;
          ?>
        </select>
      </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Programme Scheme'); ?></td>
        <td>:</td>
        <td>
            <select class="span-12" name="program_scheme" id="program_scheme">
                <option><?php echo $this->translate("Please select"); ?></option>
            </select>
        </td>
    </tr>
   </table>
</div>
