<script>
function searchStudent(){
	$("#search").toggle();
}

function assignStudent(){

	 var isChecked = $('.chk').is(':checked');

	 if(isChecked==true){
		 	var msg = confirm("<?php echo $this->translate('Are you sure you want to assign student to this section?');?>");
		 	if(msg){
				$("#assignForm").submit();
		 	}
	 }else{
		alert("<?php echo $this->translate('You did not select any student. Please select.');?>");
	 }
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').prop('checked', true);
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="#" onclick="searchStudent()">
					<span class='search'></span>
					<?php echo $this->translate("Search")?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'group-list','idGroup'=>$this->idGroup,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back")?>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">

<div id="search" style="display:none"><?php echo $this->form;?></div>


<fieldset>
<legend><?php echo $this->translate("Section Info")?></legend>
<table class="" width="50%" cellpadding="5" cellspacing="5" border="0">
	<tr>
		<td width="100px"><?php echo $this->translate("Section")?></td>
		<td width="5px">:</td>
		<td><?php echo $this->group["GroupCode"].' : '.$this->group["GroupName"]?></td>
	</tr>
		<tr>
		<td><?php echo $this->translate("Lecturer Name")?></td>
		<td width="5px">:</td>
		<td><?php echo ($this->group["IdLecturer"]!=0 ?  $this->group["FullName"]:$this->translate("-"));?></td>
	</tr>
</table>
</fieldset>
<br>
<h3 class=""><?php echo $this->translate("List of Untagged Student to Section");?></h3>

<form id="assignForm" name="assignForm" method="post" action="">
<input type="hidden" name="idGroup" value="<?php echo $this->idGroup; ?>">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><?php echo $this->translate("No")?></th>
		<th><?php echo $this->translate("Student Name")?></th>
		<th><?php echo $this->translate("Student ID")?></th>	
		<th><?php echo $this->translate("Programme")?></th>	
		<th><?php echo $this->translate("Mode of Study")?></th>	
		<th><?php echo $this->translate("Mode of Programme")?></th>			
		<th><input type="checkbox" name="checkall" id="checkall" >&nbsp;<?php echo $this->translate("Check All ?")?></th>
	</tr>
	<?php 
	$i=1;
	if(count($this->list_student)>0){
	foreach($this->list_student as $student){
	?>
	<tr>
		<td><?php echo $i;?></td>
		<td><?php echo $student["appl_fname"].' '.$student["appl_mname"].' '.$student["appl_lname"];?></td>
		<td align='center'><?php echo $student["registrationId"];?></td>
		<td align='center'><?php echo $student["ProgramCode"];?></td>
		<td align='center'><?php echo $student["mos"];?></td>
		<td align='center'><?php echo $student["mop"];?></td>
		<td align='center'>
		<input type="hidden" name="IdStudentRegSubjects[<?php echo $student["IdStudentRegistration"];?>]" id="IdStudentRegSubjects[]" value="<?php echo $student["IdStudentRegSubjects"];?>">
		<input class='chk' type="checkbox" name="IdStudentRegistration[]" id="IdStudentRegistration[]" value="<?php echo $student["IdStudentRegistration"];?>"></td>
		
	</tr>
	<?php $i++; } }?>
</table>
</form>

</div>

<div class="form-opt">	
<input type="button" name="save" id="save" value="Save" class="btn-submit" onclick="assignStudent()">
</div>
