<script>
$( document ).ready(function() {

	    $('.delcoor').click(function(e) {

	    	var msg = confirm("<?php echo $this->translate('Are you sure you want to remove this staff as course coordinator?');?>");
		 	if(msg){
				var uri = $(this).attr('href');
				$.ajax({
					url : uri,
					method : 'GET'
				});
		 	}else{
				e.preventDefault();
		 	}
   	  });
	    
});
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'add-coordinator','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idCollege'=>$this->idCollege),'default',true);?>" >
					<span class='add'></span>
					<?php echo $this->translate("Add")?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<br/>
<fieldset>
  <legend><?php echo $this->translate("Subject Info")?></legend>
  <table class="" width="50%" cellpadding="5" cellspacing="5" border="0">
  	<tr>
  		<td width="100px"><?php echo $this->translate("Subject Name")?></td>
  		<td width="5px">:</td>
  		<td><?php echo ($this->locale=='ms_MY') ? $this->subject["subjectMainDefaultLanguage"]:$this->subject["SubjectName"];  ?></td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate("Course Code")?></td>
  		<td width="5px">:</td>
  		<td><?php echo $this->subject["SubCode"];?></td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate("Semester")?></td>
  		<td width="5px">:</td>
  		<td><?php echo $this->semester["SemesterMainName"];?></td>
  	</tr>
  </table>
</fieldset>
<br>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Name")?></th>
		<th></th>
	</tr>
	<?php if(count($this->coordinator)>0){
	
		foreach($this->coordinator as $index=>$co){
		?>
	<tr>
		<td><?php echo $index+1; ?></td>
		<td><?php echo $co['FullName'];?></td>
		<td>		
		<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'del-coordinator','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idCollege'=>$this->idCollege,'id'=>$co['IdSubjectCoordinatorList']),'default',true);?>" class='delcoor'><?php echo $this->translate("Delete")?></a>
		</td>
	</tr>
	<?php } } ?>

</table>