<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
	<td># Newly added Student to course and section</td><td><?php echo $this->total[1]?></td>
	</tr>
	<tr>
	<td># Already in course and added to section</td><td><?php echo $this->total[2]?></td>
	</tr>
	<tr>
	<td># Already in course but wrong section (Re assign to correct section)</td><td><?php echo $this->total[3]?></td>
	</tr>
	<tr>
	<td># Already Synced</td><td><?php echo $this->total[4]?></td>
	</tr>
	<tr>
	<td># No section info in SMS</td><td><?php echo $this->total[5]?></td>
	</tr>	
	<tr>
	<td colspan=2 align=center>
	<form action="/generalsetup/course-group" method="POST">
	<input type="hidden" name="IdSemester" id="IdSemester" value="<?php echo $this->idSemester;?>">
	<input type="hidden" name="IdCollege" id="IdCollege" value="<?php echo $this->idCollege;?>">
	<input type="hidden" name="Search" id="Search" value="Search">
	
	<input type="submit" Value="Back">
	</form></td>
	</tr>		
</table>