<?php //echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/perifer-timePicker/jquery.timePicker.js');?>
<?php //echo $this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/perifer-timePicker/timePicker.css'); ?>

<script>

$(function(){

	$( "#dialog-form" ).dialog({
      modal: true,
      autoOpen: false,
      width: 650
    });

});


function getLecturer(element,targetElement){
	var idCollege = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group', 'action'=>'ajax-get-lecturer'),'default',true);?>",
		data: {'idCollege':$(element).val()},
		type: 'POST',
		dataType: 'json',	
		beforeSend: function(){
			$(targetElement).hide();
			$(targetElement).parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
		}	
	}).done(function ( data ) {

		$('.loading').remove();
		$(targetElement).show();
		
		$(targetElement).empty().append('<option value="0"> <?php echo $this->translate("Please Select"); ?> </option>');
	
		$.each(data, function(index) {		
			$(targetElement).append('<option value="'+data[index].IdStaff+'"> '+data[index].FullName+' </option>');
		});
	});
}


function addSchedule()
{	
	//$(":ui-dialog").dialog("destroy");

	url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'add-schedule','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idGroup'=>$this->idGroup),'default',true);?>";
	

	$('#dialog-form').dialog('open');
	
	$.ajax({
         type: "GET",
         url: url,
         dataType: 'html',
		 beforeSend: function()
		 {
			 $('#dialog-form').html('<span class="loading"><?php echo $this->translate('Loading')?>..</span>');
		 },
         success: function(data)
		 {	
			 $('#dialog-form').html(data);
         }
      });

	return false;
	
}


function delSchedule(idSchedule){
	
	//var idSchedule = $('input[name=sc_id]:checked').val();

	if(!idSchedule){
		alert("Please select schedule first");
	}else{
		var msg = confirm("Are you sure you want to delete this schedule?");
		if(msg){
			window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'delete-schedule','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idGroup'=>$this->idGroup),'default',true);?>/idSchedule/"+idSchedule;
		}
	}
}

function editSchedule(idSchedule){
	//var idSchedule = $('input[name=sc_id]:checked').val();
	
	if(!idSchedule){
		alert("Please select schedule first");
	}else{
		
		url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'edit-schedule','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester,'idGroup'=>$this->idGroup),'default',true);?>/idSchedule/"+idSchedule;
		
	
		$('#dialog-form').dialog('open');
		
		$.ajax({
			 type: "GET",
			 url: url,
			 dataType: 'html',
			 beforeSend: function()
			 {
				 $('#dialog-form').html('<span class="loading"><?php echo $this->translate('Loading')?>..</span>');
			 },
			 success: function(data)
			 {	
				 $('#dialog-form').html(data);
			 }
		  });

		return false;

	
	}
}





function printAttendance(idSchedule){

	//var idSchedule = $('input[name=sc_id]:checked').val();

	if(!idSchedule){
		alert("Please select schedule first");	}else{
		
		url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'attendance-list','idSubject'=>$this->idSubject,'idSemester'=>$this->idSemester),'default',true);?>/idSchedule/"+idSchedule;
		window.open(url, "Attendance List", "width=500,height=500,menubar=1");
	}
	
}

function export_pdf(idSchedule){

	//var idSchedule = $('input[name=sc_id]:checked').val();

	if(!idSchedule){
		alert("Please select schedule first");	}
	else{
		
		var data = {'idSchedule':idSchedule}
	
		$('body').append($('<form/>', {
	      id: 'jQueryPostItForm',
	      method: 'POST',
	      action: "/generalsetup/course-group/attendance-list-pdf",
	      target: '_BLANK'
	    }));
		
	    for(var i in data){
	      $('#jQueryPostItForm').append($('<input/>', {
	        type: 'hidden',
	        name: i,
	        value: data[i]
	      }));
	    }
		
	    $('#jQueryPostItForm').submit();
	    $('#jQueryPostItForm').remove();
	}

    return false;
}

</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>			
			<li>
				<a href="#" onclick="return addSchedule();" >
					<span class='add'></span>
					Add 
				</a>
			</li>
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group','action'=>'group-list','idGroup'=>$this->idGroup,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>



<br>
<div id="dialog-form" title="<?php echo $this->translate('Add Schedule')?>" style="display:none">
</div>

<br>

<fieldset>

<legend><?php echo $this->translate("Group Info")?></legend>


<table class="" width="50%" cellpadding="5" cellspacing="5" border="0">
	<tr>
		<td width="100px"><?php echo $this->translate("Section Name")?></td>
		<td width="5px">:</td>
		<td><?php echo $this->group["GroupName"]?></td>
	</tr>
		<tr>
		<td><?php echo $this->translate("Lecturer")?></td>
		<td width="5px">:</td>
		<td><?php echo ($this->group["IdLecturer"]!=0 ?  $this->group["FullName"]:$this->translate("-"));?></td>
	</tr>
	<tr>
		<td width="100px"><?php echo $this->translate("Course Name")?></td>
		<td width="5px">:</td>
		<td><?php echo ($this->locale=='ms_MY') ? $this->group["subjectMainDefaultLanguage"]:$this->group["subject_name"];  ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Course Code")?></td>
		<td width="5px">:</td>
		<td><?php echo $this->group["subject_code"];?></td>
	</tr>
</table>
</fieldset>
<br/>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<!--<th width="25px">&nbsp;</th>-->
		<th><?php echo $this->translate("Date")?></th>
		<th><?php echo $this->translate("Day")?></th>
		<th><?php echo $this->translate("Start Time")?></th>
		<th><?php echo $this->translate("End Time")?></th>
		<th><?php echo $this->translate("Venue")?></th>	
		<th><?php echo $this->translate("Class Type")?></th>
		<th><?php echo $this->translate("Lecturer")?></th>
		<th><?php echo $this->translate("Remark")?></th>	
		<th><?php echo $this->translate("Created Date")?></th>
                <th><?php echo $this->translate("")?></th>
	</tr>
	<?php 
	//strftime($format, strtotime($time))
	//setlocale(LC_TIME, "en_US");
	$i=1;
	if(count($this->schedule)>0){
	foreach($this->schedule as $sch){
		/*if($sch["FullName"]==""){
			$sch["FullName"]=$this->group["FullName"];
		}*/
	?>
	<tr>
		<!--<td align="center"><input type="radio" name="sc_id" id="sc_id" value="<?php //echo $sch["sc_id"]?>"></td>-->
		<td align='center'><?php echo $sch["sc_date"]!=null?date('d-m-Y', strtotime($sch["sc_date"])):"";?></td>
		<td align='center'><?php 
			$timestamp = strtotime($sch["sc_day"]);			
			echo strftime('%A', $timestamp);
			?>
		</td>
		<td align='center'><?php echo $sch["sc_start_time"]?></td>
		<td align='center'><?php echo $sch["sc_end_time"]?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY')? $sch["BahasaIndonesia"]:$sch["DefinitionDesc"];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY')? $sch["class_type_my"]:$sch["class_type"];?></td>
		<td align='center'><?php echo $sch["FullName"]?></td>
		<td><?php echo $sch["sc_remark"]?></td>
		<td><?php echo date("d-m-Y",strtotime($sch["sc_createddt"]));?></td>
                <td align="center" class="options">
                    <a href="#" onclick="editSchedule(<?php echo $sch["sc_id"]; ?>);"><?php echo $this->translate("Edit"); ?></a> | 
                    <a href="#" onclick="delSchedule(<?php echo $sch["sc_id"]; ?>);"><?php echo $this->translate("Delete"); ?></a> | 
                    <a href="#" onclick="printAttendance(<?php echo $sch["sc_id"]; ?>);"><?php echo $this->translate("Print"); ?></a> | 
                    <a href="#" onclick="export_pdf(<?php echo $sch["sc_id"]; ?>);"><?php echo $this->translate("Attendance PDF"); ?></a>
                </td>
	</tr>
	<?php }} ?>
</table>
