<script type="text/javascript">
<!--



function getProgramme(element,targetElement){
	var faculty_id = $(element).val();

	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-program'),'default',true);?>",
		data: {'faculty_id':$(element).val()},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {

		
		$(targetElement).empty().append('<option value=""> <?php echo $this->translate("Please Select"); ?> </option>');
	
		$.each(data, function(index) {
			$(targetElement).append('<option value="'+data[index].ProgramCode+'"> '+data[index].ProgramName+' </option>');
		});
	});
}

function getPeriod(element){
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period_id').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
	
		$.each(data, function(index) {
			$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}


function getPtest(element){
	var ptest = $(element).val();

	if(ptest!=""){
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-date'),'default',true);?>",
			data: {'ptest':ptest},
			type: 'POST',
			dataType: 'json',
			beforeSend: function(){
				$('#aps_test_date-element').append('<div id="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
				$('#aps_test_date').hide();		
			}	
		}).done(function ( data ) {
	
			$('#loading').remove();
			$('#aps_test_date').show();
			
			$('#aps_test_date').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
		
			$.each(data, function(index) {
				$('#aps_test_date').append('<option value="'+data[index].aps_test_date+'"> '+data[index].aps_test_date+' </option>');
			});
		});
	}
}


function getLocation(element){
	  var aps_test_date = $(element).val();
	  	
	  	$.ajax({
	  		url: "<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection', 'action'=>'ajax-get-location'),'default',true);?>",
	  		data: {'aps_test_date':aps_test_date},
	  		type: 'POST',
	  		dataType: 'json',
  			beforeSend: function(){
  				$('#aps_id-element').append('<div id="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
  				$('#aps_id').hide();		
  			}	
	  	}).done(function ( data ) {

	  		$('#loading').remove();
			$('#aps_id').show();
			
	  		$('#aps_id').empty().append('<option value=""> <?php echo $this->translate('All'); ?> </option>');
	  	
	  		$.each(data, function(index) {
	  			$('#aps_id').append('<option value="'+data[index].aps_id+'"> '+data[index].location_name+' </option>');
	  		});
	  	});
}


function enabledBox(element){

	if( $(element).val() == 2){
		$('#limit').removeAttr('disabled');
		$('#limit').attr('required','true');
	}else{
		$('#limit').attr('disabled','disabled');
		$('#limit').val("");
	}
}

$(window).load(function() {
	
	if($('input:radio[name=quota]:checked').val() ==  2) { $('#limit').removeAttr('disabled');}
});



$(function(){


	
	 
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
          $('.cbox').attr('checked', this.checked);
    });
 
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".cbox").click(function(){
 
        if($(".cbox").length == $(".cbox:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
 
    });

    $('#status_toggler').change(function() {
        var all_val = $(this).val();
        
    	$('select[name="status[]"]').each(function(){
    	    $(this).val(all_val);
    	    
    	});
    	
	});
	
});
//-->
</script>

<style type="text/css">
input#limit{
	width: 50px;
}
.zend_form dt {
    width: 165px;
}
.zend_form dd {
    padding: 2px 165px;
}
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<?php if(count($this->applicant)>0){?>
			<li>
				<a href="#" onclick="form.submit();" >
					<span class='save'></span>
					<?php echo $this->translate("save")?>
				</a>
			</li>
		<?php } ?>				
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>
<?php echo $this->form;?>
<br>

<?php
if( isset($this->passingmark) ){
	echo "Passing Mark : ".$this->passingmark;
	$ptDtlDb = new App_Model_Application_DbTable_PlacementTestDetail();	
	$compmark = new App_Model_Application_DbTable_ApplicantCompMark();
	$comps = $ptDtlDb->getPlacementTestComp($this->ptest,1);
	$comps2 = $ptDtlDb->getPlacementTestComp($this->ptest,7);
}


?>
<div style="width:100%;">
<?php 
if(isset($this->applicant)){
	$i=0;
?>	
<form name="form" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'tpa-selection','action'=>'save-selection'),'default',true); ?>">

<!--<input type="checkbox" id="selectall" name="selectall">Check all</div>-->

<input type="hidden" name="faculty"  value="<?php echo $this->faculty;?>"></input>
<input type="hidden" name="program_code"  value="<?php echo $this->programme;?>"></input>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th>&nbsp;</th>
		<th><?php echo $this->translate("applicantid");?></th>
		<th><?php echo $this->translate("name");?></th>		
		<th><?php echo $this->translate("Program");?></th>
		<th><?php echo $this->translate("Mark USM");?></th>
		<?php 
		if($comps){
		foreach($comps as $comp){
		?>	
		<th><?php echo $comp["ac_comp_name_bahasa"]; ?></th>	
		<?php 
		}
		}
		?>		

		<th><?php echo $this->translate("Mark TPA");?></th>
		
		<?php 
		if($comps2){
		foreach($comps2 as $comp2){
		?>	
		<th><?php echo $comp2["ac_comp_name_bahasa"]; ?></th>	
		<?php 
		}
		}
		?>				
		<th><?php echo $this->translate("Action");?><br>
			<select name="status_toggler" id="status_toggler">
				<option value="6"><?php echo $this->translate("All Lulus Tahap Ke dua")?></option>
		   		<option value="3"><?php echo $this->translate("All Reject Application")?></option>
		   		<option value="4" selected><?php echo $this->translate("All Pending")?></option>
		   	</select></th>
	</tr>
	
	<?php 
	
	foreach($this->applicant as $entry){
	
		$profileDB = new App_Model_Application_DbTable_ApplicantProfile();
		$profile = $profileDB->getData($entry["at_appl_id"]);
	?>

	<tr>
		<td align="center"><?php echo $i+1; ?></td>
		<td><?php echo $entry["at_pes_id"];?>&nbsp;</td>
		<td><a href="<?php echo $this->url(array('module'=>'application','controller'=>'usm-selection','action'=>'selection-detail','txn_id'=>$entry["at_trans_id"]),'default',true)?>"><?php echo $profile["appl_fname"].' '.$profile["appl_mname"].' '.$profile["appl_lname"]?></a>&nbsp;</td>
		<td align="center">		
		<?php 
			echo '('.$entry['program_offer']['ap_prog_code'].')<br>';
			echo $entry['program_offer']['program_name_indonesia']
		?>
		</td>
		<td align="center"><?php echo  $entry['program_offer']["ap_usm_mark"];?></td>
		<?php 
		if($comps){
		foreach($comps as $comp){
			$mark=$compmark->getCompMark($entry['apt_at_trans_id'],$comp["apd_id"])
		?>	
		<td><?php echo $mark; ?></td>	
		<?php 
		}
		}
		?>		
		<td align="center"><b><?php echo  isset($entry['apt_mark'])?$entry['apt_mark']:"-";?></b></td>
		<?php 
		if($comps2){
		foreach($comps2 as $comp2){
			$mark2=$compmark->getCompMark($entry['apt_at_trans_id'],$comp2["apd_id"])
		?>	
		<td><?php echo $mark2; ?></td>	
		<?php 
		}
		}
		?>			
		<td align="center">
		    <input type="hidden" class="cbox" name="transaction_id[]" value="<?php echo $entry["at_trans_id"];?>"></input>	
		    <input type="hidden" class="cbox" name="ap_id[]" value="<?php echo $entry['program_offer']["ap_id"];?>"></input>		   
		   	
		   	<select name="status[]">
		   		<option value="6"><?php echo $this->translate("Lulus Tahap Ke dua")?></option>
		   		<option value="3"><?php echo $this->translate("Reject Application")?></option>
		   		<option value="4" selected><?php echo $this->translate("Pending")?></option>
		   	</select>
		 
		</td>
	</tr>
	
	<?php $i++; }//end foreah?>
</table>
<?php }//end isset?>
</form>
</div>
<br />