<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>



<?php   if($this->type != 'exam'){ ?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>

<div align="center" style="background:#ebebeb; height:30px;">
<ul class="steps">
	<li class="prevDone">
		<span>1</span> Personal Identity Number
	</li>
    <li class="prevDone">
		<span>2</span> Personal Particular
	</li>
    <li class="prevDone">
		<span>3</span> Examination Details
	</li>
	<li class="prevDone">
		<span>4</span> Payment 
	</li>
	<li class="current">
		<span>5</span> Confirmation of Registration
	</li>
</ul>
<br class="clear" />
</div>
<BR>
<?php } ?>
<div>

<?php echo $this->emailTemplate;?>
</div>