

<div style="width:100%;">

<table width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<td valign="top" rowspan="2" align="center"><img src="<?php echo $this->baseUrl(); ?>/images/logo.png"></td>
		<td>
			<table>
				<tr>
					<td>LAMPIRAN I</td>
					<td>:</td>
					<td>Surat Keputusan Wakil Rektor Bidang Akademik Usakti</td>
				</tr>
				<tr>
					<td>Nomor</td>
					<td>:</td>
					<td><?php echo $this->asd_nomor;?></td>
				</tr>
				<tr>
					<td>Tanggal</td>
					<td>:</td>
					<td><?php echo strftime("%d %B %Y",strtotime($this->asd_decree_date));?></td>
				</tr>
				
				<tr>
					<td>Fakultas</td>
					<td>:</td>
					<td><?php echo $this->applicant[0]['ArabicName'];?></td>
				</tr>
				</table>
				
				
				<br>
		</td>
	</tr>
	<tr>
		<td align="center"><strong>DAFTAR NAMA CALON MAHASISWA YANG DITERIMA<br>
			MELALUI PROGRAM SELEKSI SISWA BERPOTENSI <?php echo strtoupper($this->selection_period);?><br>
			TAHUN AKADEMIK <?php echo $this->academic_year['ay_code']; ?></strong>
</td>
	</tr>
	
	
	<tr><td colspan=2>
	<br><br>
	<table class="table3" width="100%" cellpadding="5" cellspacing="0" border="1">
	<tr>
		<th><?php echo $this->translate("No");?></th>			
		<th><?php echo $this->translate("Nomor Peserta");?></th>
		<th><?php echo $this->translate("Nama");?></th>
		<th><?php echo $this->translate("Asal SMU");?></th>
		<th><?php echo $this->translate("Diterima di Program Studi");?></th>	
		<th><?php echo $this->translate("Peringkat")?></th>
		<th><?php echo $this->translate("Nomor SK Dekan")?></th>
	</tr>
	
	<?php 
	if(isset($this->applicant)){
		
	$no=1;
	foreach ($this->applicant as $entry){
		
		//get school
		$schoolDB = new App_Model_Application_DbTable_ApplicantEducation();
		$school = $schoolDB->getSchool($entry["appl_id"],$entry["txn_id"]);
					
		//get program
		$programDB = new App_Model_Application_DbTable_ApplicantProgram();
		$program = $programDB->getProgram($entry["txn_id"]);
	
	
			if($this->locale=="id_ID"){
				$program_name = $program[0]["program_name_indonesia"];
			}elseif($this->locale=="en_US"){
				$program_name = $program[0]["program_name"];
			}

		//get nomor dean
			
	?>
	<tr>
	   <td align="center"><?php echo $no;?></td>		
		<td align="center"><?php echo $entry["at_pes_id"]?></td>
		<td><?php echo $entry["appl_fname"].' '.$entry["appl_mname"].' '.$entry["appl_lname"]?></td>
		<td align="left"><?php echo $school["sm_name"]; ?>&nbsp;</td>
		<td align="center"><?php echo $program_name;?>&nbsp;</td>
		<td align="center"><?php echo $entry["aar_rating_rector"]?>&nbsp;</td>
		<td align="center"><?php echo $entry["asd_dean_nomor"]?>&nbsp;</td>
	</tr>
	<?php $no++;}
	}?>
		
</table>

  </td></tr>
	
<tr >
	<td>&nbsp;</td>
	<td align="right">
	<br></br>
	
	<table width="50%" border=0>
				<tr>
					<td width="25%">Ditetapkan di</td>
					<td width="5%">:</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td width="25%">Pada Tanggal</td>
					<td width="5%">: </td>
					<td><?php echo strftime("%d %B %Y",strtotime($this->asd_decree_date));?></td>
				</tr>
				<tr align="center">
					<td colspan=3>
					<br></br>					
					Wakil Rektor Bidang Akademik<br>
					Selaku<br>
					Ketua/Penangungjawab Penyelenggaraan<br>
					PMB USAKTI Tahun Akademik <?php echo $this->academic_year['ay_code']; ?></td>
				</tr>
				<tr  align="center">
					<td colspan=3>&nbsp;<br></br><br></br></td>
				</tr>
				<tr  align="center">
					<td colspan=3><strong>Prof. Dr. H Yuswar Zainul Basri, AK.MBA</strong></td>
				</tr>
			</table>
			
	</td>
</tr>
</table>

</div>
