<style>
.table7{	
	font-size: 10pt;
   
   
}


.table8{	
	font-size: 10pt;
       
}

.table8 td { 
	border-color: #000000; 
	
}
.table8 th { 
	border-color: #000000; 
	
}
</style>
<br>
<br>
<br>
<br>
<br>
<?php setlocale(LC_ALL, 'id_ID'); ?>
<div align="center">

<table class="table7" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
	  <td align="center"><strong>
KEPUTUSAN<br>
WAKIL REKTOR BIDANG AKADEMIK UNIVERSITAS TRISAKTI<br>
<?php echo $this->nomor;?><br>
tentang<br>
PENGUMUMAN HASIL PROGRAM SELEKSI SISWA BERPOTENSI ( PSSB ) <br>
PERIODE <?php echo strtoupper($this->periode);?> TAHUN AKADEMIK <?php echo $this->academic_year; ?></strong>
</td>
	</tr>      
</table>

<br>

<table class="table7" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr valign="top">
		<td><strong>Menimbang</strong></td>
		<td>:</td>
		<td>a.</td>
		<td align="justify">bahwa pada Tahun Akademik <?php echo $this->academic_year; ?> Universitas Trisakti melaksanakan Penerimaan Mahasiswa Baru ( PMB ) melalui jalur Program Seleksi Siswa Berpotensi ( PSSB ) , disamping Program Penerimaan Mahasiswa Baru jalur REGULER, DAERAH dan UMB - SPMB Nusantara;</td>
	</tr>
   <tr valign="top">
		<td></td>
		<td></td>
		<td>b.</td>
		<td  align="justify">bahwa dalam upaya menetapkan calon mahasiswa Universitas Trisakti yang berkualitas, perlu dilakukan seleksi terhadap pelamar Program Seleksi Siswa Berpotensi ( PSSB ) sesuai dengan ketentuan yang ditetapkan;</td>
	</tr>
	<tr valign="top">
		<td></td>
		<td></td>
		<td>c.</td>
		<td  align="justify">bahwa oleh karena itu, bagi calon mahasiswa yang memenuhi syarat PSSB tersebut dan dinyatakan lulus seleksi dipandang perlu menetapkannya dengan Keputusan Wakil Rektor Bidang Akademik ;</td>
	</tr>
	<tr valign="top">
		<td><strong>Mengingat</strong></td>
		<td></td>
		<td colspan="2"  align="justify">
			Surat Perintah Tugas Rektor Universitas Trisakti Nomor <strong>275/HK.1.16/USAKTI/R/X1/2012 tanggal 12 November 2012 </strong> tentang Penugasan sebagai <strong>TIM INTI</strong> - Penyelenggaraan Penerimaan Mahasiswa Baru Universitas Trisakti Tahun Akademik <?php echo $this->academic_year; ?>
		</td>
	</tr>
	
	<tr valign="top">
		<td><strong>Memperhatikan</strong></td>
		<td>:</td>
		<td>1.</td>
		<td  align="justify">Hasil Rapat  Koordinasi dan Sosialisasi Penyelenggaraan PMB  jalur PSSB pada bulan OKTOBER 2012</td>
	</tr>
	<tr valign="top">
		<td></td>
		<td></td>
		<td>2.</td>
		<td>Hasil Rapat  Pimpinan dan Tim Evaluasi Lamaran PSSB  :<br>
		<br>
		<table class="table8" cellspacing="0" cellpadding="5" width="50%">
			<tr>
			    <th align="left">No&nbsp;</th>
				<th align="left">Fakultas</th>
				<th align="left">Nomor</th>
				<th align="left">Tanggal</th>
			</tr>
			
			<?php 
			if(count($this->dean_nomor_info)>0){
			$i=1;
			foreach($this->dean_nomor_info as $nomor){?>
			<tr>
			    <td><?php echo $i;?>.</td>
				<td><?php echo $nomor["ArabicName"] ?></td>
				<td><?php echo $nomor["asd_nomor"] ?></td>
				<td><?php echo strftime("%e %B %Y",strtotime($nomor["asd_decree_date"]));?></td>					
				</tr>
			<?php $i++;}
			} ?>
		</table>
		
		
		</td>
	</tr>
	<tr>
	    <td></td>
		<td colspan="3" align="center"><br><br><strong>MEMUTUSKAN</strong></td>		
	</tr>
	<tr>
		<td colspan="4"><strong>Menetapkan</strong></td>		
	</tr>
	<tr valign="top">
		<td><strong>Pertama</strong></td>
		<td>:</td>
		<td colspan=2  align="justify">Menyatakan <strong>LULUS / DITERIMA</strong> sebagai calon mahasiswa baru Universitas Trisakti pada Tahun Akademik <?php echo $this->academic_year; ?> melalui Preogram Seleksi Siswa Berpotensi (PSSB) bagi calon mahasiswa yang namanya tercantum pada LAMPIRAN I Surat Keputusan  ini.</td>
    </tr>
   <tr valign="top">
		<td><strong>Kedua</strong></td>
		<td>:</td>
		<td colspan=2 align="justify">Menyatakan <strong>TIDAK LULUS / TIDAK DITERIMA</strong> sebagai calon mahasiswa baru Universitas Trisakti pada Tahun Akademik <?php echo $this->academic_year; ?> melalui Program Seleksi Siswa Berpotensi (PSSB) yaitu yang namanya tercantum pada LAMPIRAN II Surat Keputusan ini</td>
    </tr>
   <tr valign="top">
		<td><strong>Ketiga</strong></td>
		<td>:</td>
		<td colspan=2>
			<table width="100%"  class="table7">
				<tr valign="top">
					<td width="35%"><strong>JADWAL REGISTRASI</strong></td>
					<td>:</td>
					<td><?php echo strftime("%e %B %Y",strtotime($this->reg_start_date)); ?> s.d <?php echo strftime("%e %B %Y",strtotime($this->reg_end_date)); ?></td>					
				</tr>
				<tr valign="top">
					<td><strong>JADWAL PENGUNDURAN DIRI</strong></td>
					<td>:</td>
					<td>sesuai dengan ketentuan yang berlaku untuk PMB Jalur REGULER </td>					
				</tr>
			</table>
		</td>
    </tr>
   <tr valign="top">
		<td><strong>Keempat</strong></td>
		<td>:</td>
		<td colspan=2 align="justify">Bagi calon mahasiswa yang tidak memenuhi ketentuan Registrasi dan ketentuan Pengunduran Diri yang ditetapkan , maka dianggap <strong>GUGUR / MENGUNDURKAN DIRI</strong> dari Program Seleksi Siswa Berpotensi ( PSSB )</td>
    </tr>
	<tr valign="top">
		<td><strong>Kelima</strong></td>
		<td>:</td>
		<td colspan=2 align="justify">Hal-hal yang belum diatur atau belum cukup diatur dalam Keputusan ini akan ditentukan kemudian</td>		
	</tr>
	<tr valign="top">
		<td><strong>Keenam</strong></td>
		<td>:</td>
		<td colspan=2 align="justify">Keputusan ini berlaku sejak tanggal ditetapkan dan segala sesuatu akan ditinjau kembali apabila di kemudian hari ternyata terdapat kesalahan / kekeliruan didalamnya.</td>		
	</tr>
</table>
<p>

<table  class="table7" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<td width="50%">&nbsp;</td>
		<td align="center">
		
			<table  class="table7" width="100%" border=0>
				<tr valign="top">
					<td width="35%">Ditetapkan di</td>
					<td width="5%">:</td>
					<td>Jakarta</td>
				</tr>
				<tr valign="top">
					<td width="35%">Pada Tanggal</td>
					<td width="5%">: </td>
					<td><?php echo strftime("%e %B %Y",strtotime($this->decree_date));?></td>
				</tr>
				<tr align="center">
					<td colspan=3><strong>Wakil Rektor Bidang Akademik</strong><br>
					Selaku<br>
					Ketua/Penangungjawab Penyelenggaraan<br>
					PMB USAKTI Tahun Akademik <?php echo $this->academic_year; ?></td>
				</tr>
				<tr  align="center">
					<td colspan=3>&nbsp;<br></br></td>
				</tr>
				<tr  align="center">
					<td colspan=3><strong>Prof. Dr. H Yuswar Zainul Basri, AK.MBA</strong></td>
				</tr>
			</table>
		
		</td>	
	</tr>
	<tr align="left">
		<td><strong>Disampaikan Kepada Yth :</strong><br>
Calon mahasiswa yang namanya tercantum dalam 
LAMPIRAN I dan LAMPIRAN II keputusan ini
		</td>
		<td>&nbsp;</td>		
	</tr>
	<tr>
		<td><strong>Tembusan Kepada Yth :</strong><br>
		<ul type=1>
			<li>Para Dekan Fakultas - Usakti</li>
			<li>Asisten I dan II Wakil Rektor I - Usakti</li>
			<li>Ka.BAA, Ka.BAKU, Ka.UPT PUSKOM - Usakti</li>
			<li>Ka.Tim PROMOSI - Usakti</li>
		</ul>
		</td>
		<td>&nbsp;</td>		
	</tr>
</table>
</p>

</div>


























