<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Student ID</th>
        <th>Programme</th>
        <th>Programme Scheme</th>
        <th>Subject</th>
        <th>Course Section</th>
    </tr>
    <?php 
    if ($this->list){
    $count = 0;    
    foreach ($this->list as $loop){
    $count++;
    ?>
    <tr>
        <td><?php echo $count; ?></td>
        <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
        <td><?php echo $loop['registrationId']; ?></td>
        <td><?php echo $loop['ProgramCode'].' - '.$loop['ProgramName']; ?></td>
        <td><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
        <td><?php echo $loop['SubCode'].' - '.$loop['SubjectName']; ?></td>
        <td><?php echo $loop['GroupCode'].' - '.$loop['GroupName']; ?></td>
    </tr>
    <?php
    }
    }
    ?>
</table>