<script type="text/javascript">
    function seeking(){
        $('#seek').show();
    }
</script>
<div class="error">
    <i>Make Sure You Know What You Did!!! This Process Will Effect a Data</i>
</div>
<form method="post">
    <button class="btn-submit" type="submit" onclick="seeking();">Seek For Landscape Id</button>&nbsp;
    <div id="seek" style="display:none;">Please Wait a While...</div>
</form>