<script type="text/javascript">
    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'registration','controller'=>'seeking-for-landscape', 'action'=>'get-semester-ajax'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('semester');
            },
            complete: function() {
		hideLoading('semester');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SemesterMainName+' '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' '+data[index].SemesterMainCode+'</option>';
            });
            $('#semester').html(content);
        })
        .fail(function() {
            alert("error load semester"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Ter Not Complete'); ?></legend>
    <form method="post" id='form' name='form'>
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Scheme'); ?> <span class='reqMark'>*</span></td>
                <td>
                    <select id="scheme" name="scheme" class="select" onchange="getSemester(this.value);" required="">
                        <option label="-- All --" value="">-- All --</option>
                        <?php
                        if ($this->schemeList){
                        foreach ($this->schemeList as $schemeLoop){
                        ?>
                        <option label="<?php echo $schemeLoop['EnglishDescription']; ?>" value="<?php echo $schemeLoop['IdScheme']; ?>"><?php echo $schemeLoop['EnglishDescription']; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class='reqMark'>*</span></td>
                <td>
                    <select id="semester" name="semester" class="select" required="">
                        <option label="-- All --" value="">-- All --</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" id='save' name='save'><?php echo $this->translate('Submit'); ?></button></td>
            </tr>
        </table>
    </form>
</fieldset>