<script type="text/javascript">
    function seeking(){
        $('#seek').show();
    }
</script>
<div class="error">
    <i>Make Sure You Know What You Did!!! This Process Will Effect a Data</i>
</div>
<form method="post">
    <p>Scheme <span class="reqMark">*</span></p>
    &nbsp;
    <select id="scheme" name="scheme" required="">
        <option label="--Select--" value="">--Select--</option>
        <option label="PS" value="1">PS</option>
        <option label="GS" value="11">GS</option>
    </select>
    <br/>
    <button class="btn-submit" type="submit" onclick="seeking();">Update Cgpa Calculation</button>&nbsp;
    <div id="seek" style="display:none;">Please Wait a While...</div>
</form>