<script type="text/javascript">
    function seeking(){
        $('#seek').show();
    }
</script>
<div class="error">
    <i>Make Sure You Know What You Did!!! This Process Will Effect a Data</i>
</div>
<form method="post">
<table>
	<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<input type="radio" name="type" id="type" value="1"/> <?php echo $this->translate("Applicant"); ?> 
				<br />
				<input type="radio" name="type" id="type" value="2"  checked="checked" /> <?php echo $this->translate("Student"); ?> 
			</td>
		</tr>
</table>		
    <button class="btn-submit" type="submit" onclick="seeking();">Update Fee Structure Update Id</button>&nbsp;
    <div id="seek" style="display:none;">Please Wait a While...</div>
</form>