<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'seeking-for-landscape', 'action'=>'export-ternotcomplete'),'default',true);?>';" >
                <span class='download'></span>
                <?php echo $this->translate("Export");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'seeking-for-landscape', 'action'=>'ter-not-complete'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<table class="table" width="100%">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Student ID</th>
        <th>Programme</th>
        <th>Programme Scheme</th>
        <th>Subject</th>
        <th>Course Section</th>
    </tr>
    <?php 
    if ($this->list){
    $count = 0;    
    foreach ($this->list as $loop){
    $count++;
    ?>
    <tr>
        <td><?php echo $count; ?></td>
        <td><?php echo $loop['appl_fname'].' '.$loop['appl_lname']; ?></td>
        <td><?php echo $loop['registrationId']; ?></td>
        <td><?php echo $loop['ProgramCode'].' - '.$loop['ProgramName']; ?></td>
        <td><?php echo $loop['mop'].' '.$loop['mos'].' '.$loop['pt']; ?></td>
        <td><?php echo $loop['SubCode'].' - '.$loop['SubjectName']; ?></td>
        <td><?php echo $loop['GroupCode'].' - '.$loop['GroupName']; ?></td>
    </tr>
    <?php
    }
    }
    ?>
</table>