<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('Scheme').set('value','');
	dijit.byId('Scheme').set('placeHolder','Select');

	dijit.byId('field23').set('value','');
	dijit.byId('field23').set('placeHolder','Select');
	
	dijit.byId('field26').set('value','');
	dijit.byId('field26').set('placeHolder','Select');

	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');

	});


function getsemester(Idscheme){
	if(Idscheme != ''){
        $.ajax({
            type: 'GET',
            async: false,
            url: '<?php echo $this->url(array('module' => 'registration', 'controller' => 'registrationreport', 'action' => 'getschemesemester'), 'default', true); ?>',
            data: "Idscheme=" + Idscheme,
            success: function(data) {
                console.log(data);
                var obj = $.parseJSON(data);
            	AutoFillNextEditableDropDown("field23",obj);
            }
        });
    }
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    dijit.byId(EditableDropDownId).setValue("");
    var ddwidget = dijit.byId(EditableDropDownId);
    ddwidget.setAttribute('disabled', false);
    var options = {
        label:"name",
        identifier:"key",
        items:JSONText
    };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>


</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Statistics for Student Registration");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/registrationreport/index/Generate/1" method="POST">
                            <table width="100%">
				                <tr>
				                   <td><?php echo $this->translate("Scheme");?></td>
				                   <td ><?php echo $this->lobjRegistrationreportForm->Scheme;?></td>
                                    <td><?php echo $this->translate("Semester");?></td>
                                    <td><?php echo $this->lobjform->field23;?></td>
				                </tr>

				                <tr>
				                   <td><?php echo $this->translate("Intake");?></td>
				                   <td ><?php echo $this->lobjform->field26;?></td>
				                   <td><?php echo $this->translate("Program");?></td>
				                   <td ><?php echo $this->lobjform->field5;?></td>
				                </tr>
				                <tr>
				                   <td><?php echo $this->translate("Registration Date From");?></td>
				                   <td><?php echo $this->lobjRegistrationreportForm->RegistrationDateFrom;?></td>
				                  <td><?php echo $this->translate("Registration Date To");?></td>
				                   <td ><?php echo $this->lobjRegistrationreportForm->RegistrationDateTo;?></td>
				                </tr>
				                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjRegistrationreportForm->Generate;?>
									<?php echo $this->lobjform->Clear;?>
								</td>

                                </tr>
                         </table>
                    </form>
    </fieldset>
    <br/>
    <?php if($this->blankMsg=='1') { ?> 
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    <td align="center" style="color:red">No matching record found. Try different keywords.</td>
    </tr>  
    </table>
    <?php } ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><?php echo $this->translate("Date");?></th>
	    	<th><?php echo $this->translate("Program");?></th>
	    	<th><?php echo $this->translate("No of Registered Students");?></th>
	    	</tr>
	    	
	    	<?php if (count($this->larrresult)): ?>
	        <?php foreach ($this->larrresult as $lobjstat): ?>
	        <tr>
	  			<td><?php echo date("d-m-Y",strtotime($lobjstat['ApplicationDate']));?></td>
	        	        <td>
                                    <a href="<?php echo $this->baseUrl();?>/registration/registrationreport/regstudentlist/scheme/<?php if(isset($lobjstat['EnglishDescription'])){echo $lobjstat['EnglishDescription']."_".$lobjstat['IdScheme'];}else{echo "ALL";}?>/semester/<?php if(isset($lobjstat['semcode']) && isset($lobjstat['Idsemmain'])){echo $lobjstat['semcode'].'_'.$lobjstat['Idsemmain'].'_'."main";}else if(isset($lobjstat['semcode']) && isset($lobjstat['Idsemdetail'])){echo $lobjstat['semcode'].'_'.$lobjstat['Idsemdetail'].'_'."detail";}else{echo "ALL";}?>/intake/<?php if(isset($lobjstat['IntakeDesc'])){ echo $lobjstat['IntakeDesc']."_".$lobjstat['IdIntake'];}else{echo "ALL";}?>/program/<?php echo $lobjstat['ProgramName']."_".$lobjstat['IdProgram'];?>/dd/<?php echo strtotime($lobjstat['ApplicationDate']) ?>"><?php print_r($this->escape($lobjstat['ProgramName']));?></a></td>
				<td><?php print_r($this->escape($lobjstat['count']));?></td>
				</tr>
	        <?php endforeach; ?>
	            <?php endif; ?> 
			
			<tr>
			<th colspan = "2"><?php echo $this->translate("TOTAL");?></th>
			<td><?php echo $this->totalcount;?></td>
			</tr>
			
		</table>
	</fieldset>
</body>
</html>