<body class="claro">
<fieldset><legend><?php echo $this->translate("Details of Student Registration");?></legend>
<table class="table" width="100%">
	<tr>
		<td><?php echo $this->translate("Scheme");?></td>
		<td><?php echo $this->Idscheme;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Semester");?></td>
		<td><?php echo $this->semester;?></td>
	</tr>

	<tr>
		<td><?php echo $this->translate("Intake");?></td>
		<td><?php echo $this->intake;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Program");?></td>
		<td><?php echo $this->program;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Date");?></td>
		<td><?php echo $this->dd;?></td>
	</tr>

</table>

<table class="table" width="100%">
	<tr>
		<th><?php echo "No.";?></th>
		<th><?php echo $this->translate("Registration Date");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("NRIC");?></th>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Gender");?></th>
		<th><?php echo $this->translate("Race");?></th>
		<th><?php echo $this->translate("Religion");?></th>
		<th><?php echo $this->translate("Citizenship");?></th>
		<th><?php echo $this->translate("Correspondence Address");?></th>
		<th><?php echo $this->translate("City");?></th>
		<th><?php echo $this->translate("Postcode");?></th>
		<th><?php echo $this->translate("State");?></th>
		<th><?php echo $this->translate("Emergency Info");?></th>
		<th><?php echo $this->translate("Intake");?></th>
		<th><?php echo $this->translate("No. of courses registered");?></th>
	</tr>
	<?php if(count($this->studentlist)){?>
	<?php $no = 1;?>
	<?php foreach($this->studentlist as $studentlist){?>
	<tr>
		<td><?php echo $no;?></td>
		<td><?php echo date('d-m-Y',strtotime($studentlist['ApplicationDate']));?></td>
		<td><?php echo $studentlist['registrationId'];?></td>
		<td><?php echo $studentlist['ExtraIdField1'];?></td>
		<td><?php echo $studentlist['FName'].' '.$studentlist['MName'].' '.$studentlist['LName'];?></td>
		<?php if($studentlist['Gender'] == "0"){?>
		<td><?php echo $this->translate("Female");?></td>
		<?php }else if($studentlist['Gender'] == "1"){?>
		<td><?php echo $this->translate("Male");?></td>
		<?php }else{?>
		<td></td>
		<?php }?>
		<td><?php echo $studentlist['Race'];?></td>
		<td><?php echo $studentlist['Religion'];?></td>
		<td><?php echo $studentlist['Citizenship'];?></td>
		<td><?php echo $studentlist['CorrsAddressDetails'];?></td>
		<td><?php echo $studentlist['City'];?></td>
		<td><?php echo $studentlist['CorrsZip'];?></td>
		<td><?php echo $studentlist['State'];?></td>
		<td><?php echo $studentlist['RelativeName'];?></td>
		<td><?php echo $studentlist['StudentIntake'];?></td>
		<td><?php echo $studentlist['RegSub'];?></td>
		<?php $no++;?>
	</tr>
	<?php }?>
	<?php }?>
	<tr>
		<td colspan="18" align="right"><input type="button" class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate("Back"); ?>"
			onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'registrationreport', 'action'=>'index'),'default',true);?>';" />
		<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Download"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'registrationreport', 'action'=>'downloadreport'),'default',true).$this->querystring;?>';" />
		</td>
	</tr>
</table>
</fieldset>
</body>
