<?php
if(isset($this->persdet)){
$det = $this->persdet;
//echo "<pre>";
//print_r($det);
}
?>
<head>
<script type="text/javascript">
dojo.addOnLoad(function (){
        if(dijit.byId("PermCountry").value!=''){            
           dijit.byId('PermState').setValue("<?php echo $det['PermState'];?>");
           dijit.byId('PermCity').setValue("<?php echo $det['PermCity'];?>");
        }
        
        if(dijit.byId("CorrsCountry").value!=''){
           dijit.byId('CorrsState').setValue("<?php echo $det['CorrsState'];?>");
           dijit.byId('CorrsCity').setValue("<?php echo $det['CorrsCity'];?>");
        }

        if(dijit.byId("OutcampusCountry").value!=''){
           dijit.byId('OutcampusState').setValue("<?php echo $det['OutcampusState'];?>");
           dijit.byId('OutcampusCity').setValue("<?php echo $det['OutcampusCity'];?>");
        }
 });
function fnGetPermCountryStateList(idCountry){
    if(idCountry != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("PermState",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }
  function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    dijit.byId(EditableDropDownId).setValue("");
    var ddwidget = dijit.byId(EditableDropDownId);
    ddwidget.setAttribute('disabled', false);
    var options = {
      label:"name",
      identifier:"key",
      items:JSONText
    };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
  }

  function fnGetStateCityListPerm(idState){
    if(idState != "")
    { var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("PermCity",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }

  function fnGetCorrsCountryStateList(idCountry){  

    if(idCountry != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
        handleAs:'json',
        
        load:function(data){          
          AutoFillNextEditableDropDown("CorrsState",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }

  }
  function fnGetStateCityListCorrs(idState){

    if(idState != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("CorrsCity",data);

        }
      }
      dojo.xhrGet(xhrArgs);
    }

  }

  function fnGetOutcampusCountryStateList(idCountry){
    if(idCountry != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
        handleAs:'json',
        async : false,
        load:function(data){
          AutoFillNextEditableDropDown("OutcampusState",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }

  function fnGetStateCityListOutcampus(idState){
    if(idState != "")
    {
      var xhrArgs = {
        url: "<?php echo $this->baseUrl(); ?>"+"/generalsetup/user/getstatecitylist/idState/"+idState,
        handleAs:'json',
        load:function(data){
          AutoFillNextEditableDropDown("OutcampusCity",data);
        }
      }
      dojo.xhrGet(xhrArgs);
    }
  }

  function showcorrespondanceaddr(value){    
    if (value == false) {
      dijit.byId('CorrsAddressDetails').set('value','');
      dijit.byId('CorrsCountry').set('value','');
      dijit.byId('CorrsState').set('value','');
      dijit.byId('CorrsCity').set('value','');
      dijit.byId('CorrsZip').set('value','');

      dijit.byId('PermAddressDetails').set("readOnly",false);
      dijit.byId('PermCountry').set("readOnly",false);
      dijit.byId('PermState').set("readOnly",false);
      dijit.byId('PermCity').set("readOnly",false);
      dijit.byId('PermZip').set("readOnly",false);
    }
    else if (value == true){
      paddr=dijit.byId("PermAddressDetails").value;
      pcountry=dijit.byId("PermCountry").value;
      pstate=dijit.byId("PermState").value;      
      PCity=dijit.byId("PermCity").value;      
      PZip=dijit.byId("PermZip").value;

      dijit.byId('CorrsCountry').setValue(pcountry);
      dijit.byId('CorrsAddressDetails').setValue(paddr);            
      dijit.byId('CorrsZip').setValue(PZip);
      setTimeout(function() {
        dijit.byId('CorrsState').setValue(pstate);
        setTimeout(function() {
         dijit.byId('CorrsCity').setValue(PCity);
        }, 1250);
      }, 1250);
      dijit.byId('PermAddressDetails').set("readOnly",true);
      dijit.byId('PermCountry').set("readOnly",true);
      dijit.byId('PermState').set("readOnly",true);
      dijit.byId('PermCity').set("readOnly",true);
      dijit.byId('PermZip').set("readOnly",true);
    }
  }

  function showOutcampusaddr(value){
    if (value == false) {
      dijit.byId('OutcampusAddressDetails').set('value','');
      dijit.byId('OutcampusCountry').set('value','');
      dijit.byId('OutcampusState').set('value','');
      dijit.byId('OutcampusCity').set('value','');
      dijit.byId('OutcampusZip').set('value','');

      dijit.byId('CorrsAddressDetails').set("readOnly",false);
      dijit.byId('CorrsCountry').set("readOnly",false);
      dijit.byId('CorrsState').set("readOnly",false);
      dijit.byId('CorrsCity').set("readOnly",false);
      dijit.byId('CorrsZip').set("readOnly",false);
    }
    else if (value == true){
      paddr=dijit.byId("PermAddressDetails").value;
      pcountry=dijit.byId("PermCountry").value;
      pstate=dijit.byId("PermState").value;
      PCity=dijit.byId("PermCity").value;
      PZip=dijit.byId("PermZip").value;

      dijit.byId('OutcampusCountry').setValue(pcountry);
      dijit.byId('OutcampusAddressDetails').setValue(paddr);
      dijit.byId('OutcampusZip').setValue(PZip);
      setTimeout(function() {
        dijit.byId('OutcampusState').setValue(pstate);
        setTimeout(function() {
         dijit.byId('OutcampusCity').setValue(PCity);
        }, 1250);
      }, 1250);
      dijit.byId('CorrsAddressDetails').set("readOnly",true);
      dijit.byId('CorrsCountry').set("readOnly",true);
      dijit.byId('CorrsState').set("readOnly",true);
      dijit.byId('CorrsCity').set("readOnly",true);
      dijit.byId('CorrsZip').set("readOnly",true);
    }
  }

  function validatestudentcontactform(){
	    var flag = true;

	    flag = checkphonefield();

	    if(dijit.byId("PermAddressDetails").value==''){
	      dijit.byId("PermAddressDetails").attr('required','true');
	      dijit.byId("PermAddressDetails").focus();
	      flag = false;
	    }

	    if(dijit.byId("PermCountry").value==''){
	      dijit.byId("PermCountry").attr('required','true');
	      dijit.byId("PermCountry").focus();
	      flag = false;
	    }

	    if(dijit.byId("PermState").value==''){
	      dijit.byId("PermState").attr('required','true');
	      dijit.byId("PermState").focus();
	      flag = false;
	    }

	    if(dijit.byId("PermCity").value==''){
	      dijit.byId("PermCity").attr('required','true');
	      dijit.byId("PermCity").focus();
	      flag = false;
	    }

	    if(dijit.byId("PermZip").value==''){
	      dijit.byId("PermZip").attr('required','true');
	      dijit.byId("PermZip").focus();
	      flag = false;
	    }
	    var IdStudentRegistration = $("#IdStudentRegistration").val();
	    
	  	var values = $('#studentinfoform').serialize();
	      if(flag == true){
	        $.ajax({
	          type: 'POST',
	          url: '<?php echo $this->url(array('module' => 'registration', 'controller' => 'studentprofile', 'action' => 'addstudentcontact'), 'default', true); ?>/IdStudentRegistration='+IdStudentRegistration,
	          async: false,
	          data: values,
	          success: function(data) {
		          console.log(data);
	            var mainTabContainerId = dijit.byId("mainTabContainer");
	            mainTabContainerId.selectChild('tab-three');
	          }
	        });
	      }
  }
    function checkphonefield(){
        var homePhone = dijit.byId("HomePhone").value;
        var homecountrycode = dijit.byId('HomePhonecountrycode').value;
        var homestatecode = dijit.byId('HomePhonestatecode').value;

        var fax = dijit.byId("Fax").value;
        var faxstatecode = dijit.byId('Faxstatecode').value;
        var faxcountrycode = dijit.byId('Faxcountrycode').value;

        if(faxcountrycode!=''){
          if(faxstatecode == ''){
            dijit.byId("Faxstatecode").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Faxstatecode").set( "state", "Error" );
            return false;
          }
          if(fax == ''){
            dijit.byId("Fax").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Fax").set( "state", "Error" );
            return false;
          }
        }

        if(faxstatecode!=''){
          if(faxcountrycode == ''){
            dijit.byId("Faxcountrycode").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Faxcountrycode").set( "state", "Error" );
            return false;
          }
          if(fax == ''){
            dijit.byId("Fax").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Fax").set( "state", "Error" );
            return false;
          }
        }
        if(fax != ''){
          var len = fax.length;
          if(len < 5){
            dijit.byId("Fax").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Fax").set( "state", "Error" );
            return false;
          }
          if(faxcountrycode == ''){
            dijit.byId("Faxcountrycode").focus();
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Faxcountrycode").set( "state", "Error" );
            return false;
          }
          if(faxstatecode == ''){
            alert('Incorrect office phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("Faxstatecode").focus();
            dijit.byId("Faxstatecode").set( "state", "Error" );
            return false;
          }
        }

        if(homecountrycode!=''){
          if(homestatecode == ''){
            dijit.byId("HomePhonestatecode").focus();
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhonestatecode").set( "state", "Error" );
            return false;
          }
          if(homePhone == ''){
            dijit.byId("HomePhone").focus();
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhone").set( "state", "Error" );
            return false;
          }
        }

        if(homestatecode!=''){
          if(homecountrycode == ''){
            dijit.byId("HomePhonecountrycode").focus();
            alert('Home country code should not blank');
            dijit.byId("HomePhonecountrycode").set( "state", "Error" );
            return false;
          }
          if(homePhone == ''){
            dijit.byId("HomePhone").focus();
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhone").set( "state", "Error" );
            return false;
          }
        }
        if(homePhone != ''){
          var len = homePhone.length;
          if(len < 5){
            dijit.byId("HomePhone").focus();
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhone").set( "state", "Error" );
            return false;
          }
          if(homecountrycode == ''){
            dijit.byId("HomePhonecountrycode").focus();
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhonecountrycode").set( "state", "Error" );
            return false;
          }
          if(homestatecode == ''){
            alert('Incorrect Phone details. Please fill Country Code (XXX)-State Code(XX)-Phone(XXXXXXXXX)');
            dijit.byId("HomePhonestatecode").focus();
            dijit.byId("HomePhonestatecode").set( "state", "Error" );
            return false;
          }
        }
        return true;
      }
</script>
</head>
<form enctype="multipart/form-data" dojoType="dijit.form.Form" id="studentinfoform" action="" method="POST"  name= "studentcontactform">
<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
        <th colspan ="4"><?php echo $this->translate("Contact Details"); ?></th>
      </tr>
      <tr>
        <td><?php echo $this->translate("Permanent Address"); ?><input type="hidden" id="IdStudentRegistration" name="IdStudentRegistration" value="<?php echo $det['IdStudentRegistration'];?>"/><span class="reqMark">*</span></td>
        <td><?php echo $this->studentprofileForm->PermAddressDetails; ?><span id="errPermAddressDetails" class="errors"></span></td>
        <td><?php echo $this->translate("Permanent Country"); ?><span class="reqMark">*</span></td>
        <td><?php echo $this->studentprofileForm->PermCountry; ?><span id="errPermCountry" class="errors"></span></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Permanent State"); ?><span class="reqMark">*</span></td>
        <td><?php echo $this->studentprofileForm->PermState; ?><span id="errPermState" class="errors"></span></td>
        <td><?php echo $this->translate("Permanent City"); ?><span class="reqMark">*</span></td>
        <td><?php echo $this->studentprofileForm->PermCity; ?><span id="errPermCity" class="errors"></span></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Permanent Zip"); ?><span class="reqMark">*</span></td>
        <td><?php echo $this->studentprofileForm->PermZip; ?><span id="errPermZip" class="errors"></span></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Same As Above"); ?><span class="reqMark"></span></td>
        <td><?php echo $this->studentprofileForm->SameCorrespAddr; ?></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Correspondence Address"); ?></td>
        <td><?php echo $this->studentprofileForm->CorrsAddressDetails; ?></td>
        <td><?php echo $this->translate("Correspondence Country"); ?></td>
        <td><?php echo $this->studentprofileForm->CorrsCountry; ?></td>


      </tr>
      <tr>
        <td><?php echo $this->translate("Correspondence State"); ?></td>
        <td><?php echo $this->studentprofileForm->CorrsState; ?></td>
        <td><?php echo $this->translate("Correspondence City"); ?></td>
        <td> <?php echo $this->studentprofileForm->CorrsCity; ?></td>

      </tr>
      <tr>
        <td><?php echo $this->translate("Correspondence Zip"); ?></td>
        <td><?php echo $this->studentprofileForm->CorrsZip; ?></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Same As Above"); ?><span class="reqMark"></span></td>
        <td><?php echo $this->studentprofileForm->SameOutcampusAddr; ?></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Out Of Campus Address"); ?></td>
        <td><?php echo $this->studentprofileForm->OutcampusAddressDetails; ?></td>
        <td><?php echo $this->translate("Out Of Campus Country"); ?></td>
        <td><?php echo $this->studentprofileForm->OutcampusCountry; ?></td>


      </tr>
      <tr>
        <td><?php echo $this->translate("Out Of Campus State"); ?></td>
        <td><?php echo $this->studentprofileForm->OutcampusState; ?></td>
        <td><?php echo $this->translate("Out Of Campus City"); ?></td>
        <td> <?php echo $this->studentprofileForm->OutcampusCity; ?></td>

      </tr>
      <tr>
        <td><?php echo $this->translate("Out Of Campus Zip"); ?></td>
        <td><?php echo $this->studentprofileForm->OutcampusZip; ?></td>
        <td><?php echo $this->translate("Tel") . ' (' . $this->translate("Home") . ")"; ?></td>
        <td><?php echo $this->studentprofileForm->HomePhonecountrycode; ?><?php echo $this->studentprofileForm->HomePhonestatecode; ?><?php echo $this->studentprofileForm->HomePhone; ?></td>
      </tr>
      <tr>
        <td><?php echo $this->translate("Tel") . ' (' . $this->translate("Mobile") . ")"; ?></td>
        <td><?php echo $this->studentprofileForm->CellPhonecountrycode; ?><?php echo $this->studentprofileForm->CellPhone; ?></td>
        <td><?php echo $this->translate("Tel") . ' (' . $this->translate("Office") . ")"; ?></td>
        <td><?php echo $this->studentprofileForm->Faxcountrycode; ?><?php echo $this->studentprofileForm->Faxstatecode; ?><?php echo $this->studentprofileForm->Fax; ?></td>

      </tr>
      <tr>
        <td colspan = "4" align = "right">
          <input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label = "<?php echo $this->translate("Next"); ?>" name = "Next" Value = "<?php echo $this->translate("Next"); ?>" onclick = "fnToggleTabs('Next','tab-two','tab-three')">
          <input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label =  <?php echo $this->translate("Back");?> name = "Back" Value = "<?php echo $this->translate("Back");?>" onclick = "fnToggleTabs('Back','tab-two','tab-one')">	
          
        </td>
      </tr>
	</table>
	</form>