<head>
<script>
dojo.addOnLoad(function(){

	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');

	dijit.byId('field23').set('value','');
	dijit.byId('field23').set('placeHolder','Select');
	
	});


</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/registration/registrationreport/unregstudents/search/1" method="POST">
                            <table width="100%">
				                
                                
                                    <tr>
                                    <td><?php echo $this->translate("Student Name");?></td>
                                    <td ><?php echo $this->lobjform->field4;?></td>
                                    <td><?php echo $this->translate("Registration ID");?></td>
                                    <td ><?php echo $this->lobjform->field2;?></td>
                                    </tr>                                
                                
                                
                                    <tr>
                                    <td><?php echo $this->translate("NRIC ID");?></td>
                                    <td ><?php echo $this->lobjform->field3;?></td>
                                    <td><?php echo $this->translate("Program Name");?></td>
                                    <td><?php echo $this->lobjform->field8;?></td>
                                    </tr>
                                    
                                    
                                    <tr>
                                    <td><?php echo $this->translate("Scheme");?></td>
                                    <td ><?php echo $this->lobjform->field23;?></td>
                                    <td></td>
                                    <td></td>
                                    </tr>
                                    

                                    <tr>
                                    <td align = "center" colspan = "4">
                                    <?php echo $this->lobjform->Search;?>
                                    <?php echo $this->lobjform->Clear;?>
                                    </td>
                                    </tr>
                                
                                
                        </table>
                    </form>
    </fieldset>
    <br/>
<?php
//$lobjStudentRegModel = new Registration_Model_DbTable_Studentregistration();
//$lobjDeftnModel = new GeneralSetup_Model_DbTable_Maintenance();
?>
    <fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<th><?php echo $this->translate("Student Name");?></th>
	    	<th><?php echo $this->translate("Registration ID");?></th>
	    	<th><?php echo $this->translate("NRIC ID");?></th>
	    	<th><?php echo $this->translate("Program Name");?></th>
                <th><?php echo $this->translate("Scheme");?></th>
                <th><?php echo $this->translate("Profile Status");?></th>
                <th><?php echo $this->translate("Semester Status");?></th>
                <th><?php echo $this->translate("Current Semester");?></th>
	    	</tr>
	        
		<?php if (count($this->paginator)){ 
                      //$returnSemMa = $returnSemDe = array();
                      //$IdSemesterStatusName =  $IdSemesterName = '';
                      ?>
	        <?php foreach ($this->paginator as $lobjstudents){
                    
                      //$regID = $lobjstudents['IdStudentRegistration'];                      
                     // $IdSemesterMaster = $lobjstudents['IdSemesterMaster'];
                     // $IdSemester = $lobjstudents['IdSemester'];                   
                      //echo 'm'.$IdSemesterMaster;
                      //echo 'j'.$IdSemester;
                      //echo '</br>' ;
                      
                      //$idProgram = $lobjstudents['IdProgram'];
                      //$idScheme = $lobjstudents['IdScheme'];
                      //$returnSem = $lobjStudentRegModel->fnfetchAllCurentSemester($regID,$idProgram,$idScheme);
                      //asd($returnSem);
                      
                      
                      
                      
                      //if($IdSemesterMaster!='')   { 
                      //      $returnSemMa = $lobjStudentRegModel->fetchSemUnique($IdSemesterMaster,$regID,'main');
                            //asd($returnSemMa,false);
                      //}
                      //if($IdSemester!='') {  
                      //      $returnSemDe = $lobjStudentRegModel->fetchSemUnique($IdSemester,$regID,'detail');   
                            //asd($returnSemDe,false);
                      //}    
                      
                      //echo 'tm'.count($returnSemMa);
                      //echo 'tj'.count($returnSemDe);
                      //echo '</br>' ;
                      
                      //echo 'regid'.$regID;echo '</br>' ;echo '</br>' ;
                      //if( $returnSem!='' ) {
                            
//                          if($IdSemesterMaster!='' && $IdSemester!='' ) { 
//                                $idSem = $IdSemester;
//                                $IdSemesterStatusName = 'Unregister';
//                                $IdSemesterName = $lobjstudents['semDName'];
//                          }
//                          
//                          if($IdSemesterMaster!='' && $IdSemester=='' ) { 
//                                 $idSem = $IdSemesterMaster;
//                                 $IdSemesterStatusName = 'Unregister';
//                                 $IdSemesterName = $lobjstudents['semMName'];
//                          }
//                          
//                          if($IdSemesterMaster=='' && $IdSemester!='' ) {  
//                                 $idSem = $IdSemester;
//                                 $IdSemesterStatusName = 'Unregister';
//                                 $IdSemesterName = $lobjstudents['semDName'];
//                          }  

                ?>
                <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
                    
                <td><a href="<?php echo $this->baseUrl();?>/registration/registrationreport/studentdetail/regID/<?php echo $this->escape($lobjstudents['registrationId']);?>"><?php echo $this->escape($lobjstudents['FName'].' '.$lobjstudents['LName']);?></a></td>
                <td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
                <td><?php echo $this->escape($lobjstudents['ExtraIdField1']);?></td>
                <td><?php echo $this->escape($lobjstudents['ProgramName']);?></td>
                <td><?php echo $this->escape($lobjstudents['EnglishDescription']);?></td>
                <td><?php echo $this->escape($lobjstudents['DefinitionCode']);?></td>
                <td><?php echo $this->escape('Unregister');?></td>
                <td><?php echo $this->escape($lobjstudents['returnSem']);?></td>
                
                <?php } //}  ?>
                <?php }  //} ?>
                </tr>
			               
                
                
			<tr>
	        	<td colspan="8" align="right">
                        <div class="pagination">
                        <?php echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
                        </div></td>
   			</tr>
                        
		</table>
	</fieldset>
</body>
</html>
