<style type="text/css">
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:82px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:40%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:140px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }
.profile-summary.fixed { position:fixed; top:33px; z-index:5 }

.app-opt { border:1px solid #eee; padding:5px; }
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>

<br />

<?php
$extra =   isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
		&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
		&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' 
		? 'extra-2' : 'extra';
?>
<div class="profile-summary" style="min-height: 90px; overflow: hidden;">
	<?php if ( $this->app_photo != '' ) {?>
		<div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
		<div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
	<ul>
		<li><span><?php echo $this->translate('Applicant Name')?>:</span> <?php echo $this->txnData['appl_fname'].' '.$this->txnData['appl_mname'].' '.$this->txnData['appl_lname']?></li>
		<li><span><?php echo $this->translate('Applicant ID')?>:</span> <?php echo $this->txnData['at_pes_id']?></li>
                <li><span><?php echo $this->translate('Applicant Status'); ?>:</span> <?php echo $this->txnData['StatusName']; ?></li>
                <li><span><?php echo $this->translate('Date of Application'); ?>:</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
                <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
        </ul>
	<ul>
                <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
                <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?></li>
		<li><span><?php echo $this->translate('Student Category'); ?>:</span> <?php echo $this->txnData['StudentCategory']; ?></li>
                <li><span style="height:32px;"><?php echo $this->translate('Programme')?>:</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : ''?></li>
		<li>
			<span class="<?php echo $extra?>"><?php echo $this->translate('Programme Scheme')?>:</span> 
				<?php if ( isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' ) echo $this->txnData['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '' ) echo $this->txnData['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '' ) echo $this->txnData['ProgramType'] ?>
		</li>
	</ul>
</div>
<br/>

<!-- tabs -->
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	
	<?php
	echo $this->partial("index/view-tabs.phtml", array('tab' => $this->tab, 'txn_id' => $this->txn_id ));
	?>
	
	<br />

	<!-- account -->
	<div id="account" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

	<?php 
  	$availableCur = count($this->availableCurrency);
  		if($availableCur == 1){
  			$colspan = "";
  		}else{
  			$colspan = "colspan = $availableCur";
  		}
  	?>
    	<table class="table bordered" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<th width="20px"  rowspan="2">&nbsp;</th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Date")?></th>
				<th width="100px" rowspan="2"><?php echo $this->translate("Transaction Type")?></th>
				<th rowspan="2"><?php echo $this->translate("Reference No")?></th>				
				<th rowspan="2"><?php echo $this->translate("Description")?></th>
				<th <?php echo $colspan;?>><?php echo $this->translate("Debit")?></th>
				<th><?php echo $this->translate("Credit")?></th>
				<th><?php echo $this->translate("Balance")?></th>
			</tr>
			<tr>
			<?php 
			for($a=1;$a<=1;$a++){
					foreach($this->availableCurrency as $key=>$cur){?>
						<th width="80px"><?php echo $cur?></th>
				<?php 
					}
			}?>
			<th width="80px">MYR</th>
			<th width="80px">MYR</th>
			</tr>
			
			<?php 
			$i=0;
			
			if($this->account){
				
			$balance = 0;
			$totalDebit = 0;
			foreach ($this->account as $entry):

				$curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
				//$dataCur = $curRateDB->getCurrentExchangeRate(2);
				$dataCur = $curRateDB->getRateByDate(2,$entry['record_date']);

				$arrayDebit = array();

				if($entry['cur_id'] == 2){
					
					$amountDebit = number_format($entry['debit'] * $dataCur['cr_exchange_rate'],2);
					$arrayDebit['USD'] = $entry['debit'];
					$arrayDebit['MYR'] = $amountDebit;
					$totalDebit = $amountDebit;
					
					
				}
				
				if($entry['cur_id'] == 1){
					$amountDebit = number_format($entry['debit'] / $dataCur['cr_exchange_rate'],2);
					$arrayDebit['MYR'] = $entry['debit'];
					$arrayDebit['USD'] = $amountDebit;
					$totalDebit = $entry['debit'];
					
				}
			
			
			if( $entry['txn_type']=="Invoice" ){
				
				$balance = $balance + $totalDebit;
				
			}else
			if( $entry['txn_type']=="Payment" ){
				
				if($entry['cur_id'] == 2){
					$amountCredit = round($entry['credit'] * $dataCur['cr_exchange_rate'],2);
				}
				
				if($entry['cur_id'] == 1){
					$amountCredit = $entry['credit'];
				}
				
				$balance = $balance - $amountCredit;
			}else
			if( $entry['txn_type']=="Credit Note" ){
				$balance = $balance - $entry['credit'];
			}else
			if( $entry['txn_type']=="Debit Note" ){
				$balance = $balance + $entry['debit'];
			}else
			if( $entry['txn_type']=="Refund" ){
				$balance = $balance + $entry['debit'];
			}
//			 echo "<br>".$balance ."+";
			
			
			?>
			<tr>
				<td align="center"><?php echo $i+1;?></td>
				<td align="center"><?php echo date('d-m-Y', strtotime($entry['record_date']) ); ?></td>
				<td><?php echo $entry['txn_type']; ?></td>
				<td><?php echo $entry['invoice_no']; ?></td>				
				<td><?php echo $entry['description']; ?></td>
				<?php 
				//debit
				$color = '#000';
				if($entry['txn_type'] == 'Invoice'){
					foreach($this->availableCurrency as $key=>$cur){
						
						foreach($arrayDebit as $keyD=>$dbt){
							
							if($key == $entry['cur_id']){
								$color = 'green';
							}else{
								$color = '#000';
							}
							
							if($cur == $keyD){
								echo '<td align="right"><font color="'.$color.'">'.$dbt.'</font></td>';
							}
							
						}
						
					}
				}else{
					echo '<td align="right">0.00</td>';
					echo '<td align="right">0.00</td>';
				}
				
				?>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['credit']) ? '0.00' : number_format($this->amountCurr[$entry['invoice_no']]['MYR']['credit'],2)?></td>
			
						<td align="right"><?php echo !isset($this->amountCurr[$entry['invoice_no']]['MYR']['balance']) ? '0.00' : $this->amountCurr[$entry['invoice_no']]['MYR']['balance']?></td>
			
			</tr>
			<?php 
			$i++;
			endforeach; 
			?>
			<!--<tr>
				<td colspan="8">&nbsp;</td>
				<td align='right'><?php echo number_format($balance, 2, '.', ','); ?></td>
			</tr>
			--><?php 
			}else{
				
				echo '<tr><td colspan="9">'.$this->translate("There is no record available").'</td></tr>';
			}
			?>
		</table>
	</div>

</div>
<!-- /account -->

<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->baseUrl()?>/application/index";
	return false;
}
</script>