<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					<?php echo $this->translate('Back')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if ( isset($this->errorMsg) ) { ?>
<div class="message error"><?php echo $this->errorMsg?></div><br />
<?php } ?>

<form onsubmit="return validateForm()" name="appform" id="appForm" method="post">
<table width="100%" class="table">
<?php 
foreach ( $this->elements as $elem )
{
	//$val = isset($this->applicant[$elem['variable']]) ? $this->applicant[$elem['variable']] : '';
	?>
	<tr>
		<td width="20%"><?php echo $elem['label']?></td>
		<td><?php echo $this->form->$elem['variable']; ?></td>
	</tr>
	<?php
}
?>
</table>

<div class="form-opt">
	<?php echo $this->form->save ?>
	<?php echo $this->form->cancel ?>
	</div>

</form>

<script type="text/javascript">
function validateForm()
{
	var error = 0;

	$(".reqfield").each(function()
	{
		if ( $(this).attr("type") != 'radio' )
		{
			var field = $(this).parent().prev().html();

			var p = $(this).val();

			if ( p == '' )
			{                        
				//alert(field+" cannot be empty");
				$(this).parent().prev().addClass("req");
				$(this).focus();

				error = 1;
				//return false;
			}
			else
			{
				$(this).parent().prev().removeClass("req");
			}
		}
	});

	if ( error == 1 )
	{
		alert('<?php echo $this->translate('Please fill in all the required fields')?>');
		return false;
	}                
	
	$(window).unbind('beforeunload');

	return true;
}
</script>