<?php //var_dump($this->onload); ?>
<style type="text/css">
    .table td input {
        vertical-align: bottom
    }

    #declaration-wrap {
    }

    #declaration-wrap .checkbox {
        float: left;
    }

    #declaration-wrap .declaration-text {
        margin-left: 25px;
        line-height: 1.6em
    }

    .message {
        margin-bottom: 10px;
    }

    .textarea {
        width: 250px;
        height: 100px;
        border: 1px solid #ccc;
        padding: 3px;
        font: normal 11px Verdana;
    }

    .label_checkbox {
    }

    .label_checkbox input {
        margin-right: 5px
    }

    .profile-summary {
        box-sizing: content-box;
        min-height: 82px;
        margin-top: 5px;
        margin: 0;
        padding: 15px;
        border: 1px solid #eee;
        background: #fefefe;
        position: relative;
        -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
        -moz-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
        box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
    }

    .profile-summary ul {
        margin: 0 0 0 20px;
        padding: 0;
        list-style: none;
        width: 40%;
        float: left;
        margin-right: 10px;
    }

    .profile-summary ul li {
        margin-bottom: 5px;
        overflow: hidden
    }

    .profile-summary ul li span {
        float: left;
        width: 140px;
    }

    .profile-summary .app-photo {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .profile-summary .nophoto {
        border: 1px solid #eee;
        height: 100px;
    }

    .profile-summary ul li span.extra {
        height: 30px;
    }

    .profile-summary ul li span.extra-2 {
        height: 50px;
    }

    .profile-summary.fixed {
        position: fixed;
        top: 33px;
        z-index: 5
    }

    .app-opt {
        border: 1px solid #eee;
        padding: 5px;
    }
</style>


<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="$('#contactappl').submit();$(window).unbind('beforeunload');return false;">
                    <span class='email'></span>
                    <?php echo $this->translate('Contact Applicant') ?>
                </a>
            </li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'view', 'txn_id' => $this->txn_id), 'default', true); ?>"><span
                        class='preview'></span><?php echo $this->translate('Summary') ?></a>
            </li>
            <li>
                <a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
            <!--<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info') ?>
				</a>
			</li>-->
        </ul>
    </div>
</div>
<?php
$extra = isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != ''
    ? 'extra-2' : 'extra';
?>
<div class="profile-summary" style="min-height: 135px;">
    <?php if ($this->app_photo != '') { ?>
        <div class="app-photo"><a href="<?php echo $this->app_photo_full ?>" class="appdoc"><img
                    src="<?php echo $this->app_photo ?>" alt="photo"/></a></div>
    <?php } else { ?>
        <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl() ?>/images/user_placeholder.png"
                                            alt="nophoto"
                                            title="<?php echo $this->translate('Applicant has not uploaded any photo') ?>"/>
        </div>
    <?php } ?>
    <ul>
        <li><span><?php echo $this->translate('Applicant Name') ?>
                :</span> <?php echo $this->applicant_info['appl_fname'] . ' ' . $this->applicant_info['appl_mname'] . ' ' . $this->applicant_info['appl_lname'] ?>
        </li>
        <li><span><?php echo $this->translate('Applicant ID') ?>
                :</span> <?php echo $this->applicant_info['applicant_id'] ?></li>
        <li><span><?php echo $this->translate('Applicant Status'); ?>
                :</span> <?php echo $this->txnData['StatusName']; ?></li>
        <li><span><?php echo $this->translate('Date of Application'); ?>
                :</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
        <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
    </ul>
    <ul>
        <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
        <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?>
        </li>
        <li><span><?php echo $this->translate('Student Category'); ?>
                :</span> <?php echo $this->txnData['StudentCategory']; ?></li>
        <li><span style="height:32px;"><?php echo $this->translate('Programme') ?>
                :</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : '' ?></li>
        <li>
            <span class="<?php echo $extra ?>"><?php echo $this->translate('Programme Scheme') ?>:</span>
            <?php if (isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '') echo $this->txnData['ProgramMode'] . '' ?>
            <?php if (isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '') echo $this->txnData['StudyMode'] . '' ?>
            <?php if (isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '') echo $this->txnData['ProgramType'] ?>
        </li>
    </ul>
</div>

<div class="wrap-tabs">
    <div class="sidebar-tabs">
        <div class="menu">
            <ul>
                <li>
                    <?php
                    $tab = 1;
                    if (count($this->section_list) > 0)
                    {
                    foreach ($this->section_list as $list)
                    {
                    $active = $list['sectionID'] == $this->idSection ? 'class="active"' : '';
                    ?>
                <li><a <?php echo $active ?>
                        href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $this->txn_id, 'idSection' => $list['sectionID']), 'default', true); ?>"><?php echo $list['name']; ?></a>
                </li>
                <?php $tab++;
                }
                }

                if ($this->firstonly == 0) {
                    ?>
                    <!--<li><a <?php /*echo $this->tab == 'fee' ? 'class="active"' : '' */?>
                            href="<?php /*echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $this->txn_id, 'tab' => 'financial'), 'default', true); */?>"><?php /*echo $this->translate('Financial Plan') */?></a>
                    </li>-->
                    <li><a <?php echo $this->tab == 'remarks' ? 'class="active"' : '' ?>
                            href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $this->txn_id, 'tab' => 'remarks'), 'default', true); ?>"><?php echo $this->translate('Remarks') ?></a>
                    </li>
                    <?php
                }
                ?>
            </ul>
        </div>
    </div>
    <div class="content">
        <!-- content -->
        <?php if ($this->tab == 'remarks') { ?>
            <form name="remarks" id="remarks" method="post" onsubmit="$(window).unbind('beforeunload');">
                <table class="table" width="100%">
                    <tr>
                        <td><?php echo $this->translate('Remarks'); ?></td>
                        <td>
                            <textarea cols="80" rows="24" id="at_remarks"
                                      name="at_remarks"><?php echo $this->txnData['at_remarks'] ?></textarea>
                        </td>
                    </tr>
                </table>
                <br/>
                <?php
                //if ($this->txnData['at_status']==591 || $this->txnData['at_status']==592 || $this->txnData['at_status']==595 || $this->txnData['at_status']==596 || $this->txnData['at_status']==597 || $this->txnData['at_status']==593){
                ?>
                <div class="form-opt">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" class="btn-submit"
                           name="submit"/>
                </div>
                <?php
                //}
                ?>
                <input type="hidden" name="tab" value="remarks"/>
            </form>
            <!-- fee -->
        <?php }else if ($this->tab == 'financial') { ?>

            <h3><?php echo $this->translate('Financial Plan') ?></h3>

            <form name="appform" id="appForm" method="post" onsubmit="return finform()">
                <input type="hidden" name="tab" value="financial"/>

                <table width="100%" class="table">
                    <tr>
                        <td width="25%"><?php echo $this->translate('Fee Plan') ?></td>
                        <td colspan="3">
                            <?php echo $this->appFinForm->feeplan ?>
                        </td>
                    </tr>
                    <?php if ($this->txnData['feeplan_name'] != '') { ?>
                        <tr>
                            <td><?php echo $this->translate('Added By') ?></td>
                            <td><?php echo $this->txnData['feeplan_name'] ?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate('Added Date') ?></td>
                            <td><?php echo format_date_to_view($this->txnData['at_fs_date'], 'full') ?></td>
                        </tr>
                    <?php } ?>
                </table>

                <br/>

                <table width="100%" class="table">
                    <tr>
                        <td width="25%"><?php echo $this->translate('Discount Plan') ?></td>
                        <td colspan="3">
                            <?php echo $this->appFinForm->discountplan ?>
                        </td>
                    </tr>
                    <?php if ($this->txnData['discountplan_name'] != '') { ?>
                        <tr>
                            <td><?php echo $this->translate('Added By') ?></td>
                            <td><?php echo $this->txnData['discountplan_name'] ?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate('Added Date') ?></td>
                            <td><?php echo format_date_to_view($this->txnData['at_dp_date'], 'full') ?></td>
                        </tr>
                    <?php } ?>
                </table>

                <br/>
                <?php
                //if ($this->txnData['at_status'] == 591 || $this->txnData['at_status'] == 592 || $this->txnData['at_status'] == 595 || $this->txnData['at_status'] == 596 || $this->txnData['at_status'] == 597) {
                ?>
                <div class="form-opt">
                    <input type="submit" value="<?php echo $this->translate('Save') ?>" class="btn-submit"
                           name="submit"/>
                </div>
                <?php
                // }
                ?>
            </form>

            <script type="text/javascript">
                function finform() {
                    $(window).unbind('beforeunload');
                    return true;
                }
            </script>

        <br/>

        <?php } else { ?>
            <!-- /fee -->

            <!-- section form -->
            <form onsubmit="return validateForm()" name="appform" id="appForm" enctype="multipart/form-data"
                  method="post">
                <input type="hidden" name="idSection" value="<?php echo $this->idSection ?>"/>
                <input type="hidden" name="id" value="<?php echo $this->section_id ?>"/>
                <input type="hidden" name="transID" value="<?php echo $this->transID ?>"/>
                <input type="hidden" name="appl_id" value="<?php echo $this->appl_id ?>"/>

                <input type='hidden' name='primary_id'
                       value='<?php if (isset($this->applicant["primary_id"])) echo $this->applicant["primary_id"]; ?>'/>
                <input type='hidden' name='prev_txn_id'
                       value='<?php if (isset($this->applicant["prev_txn_id"])) echo $this->applicant["prev_txn_id"]; ?>'/>

                <!-- content -->
                <?php
                $i = 0;
                foreach ($this->section_list as $section) {
                    $i++;
                    $total = 0;
                    if ($section['sectionID'] == $this->idSection) {

                    if ($section['sectionID'] == 1)
                    {
                        ?>
                        <div class="info-branch-edit">
                            <label><?php echo $this->translate('CP') ?>:</label>
                            <select class="select nowidth"
                                    name="branch_id" <?php echo $this->txnData['at_status'] == 591 || $this->txnData['at_status'] == 592 || $this->txnData['at_status'] == 595 || $this->txnData['at_status'] == 596 || $this->txnData['at_status'] == 597 ? '' : 'disabled' ?>>
                                <?php foreach ($this->branchList as $branch) { ?>
                                    <option <?php echo $this->txnData['at_branch_id'] == $branch['id'] ? 'selected="selected"' : ''; ?>
                                        value="<?php echo $branch['id'] ?>"><?php echo $branch['value'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    <?php
                    }
                    ?>
                        <h3 data-section="<?php echo $section['sectionID'] ?>"><?php echo $i ?>
                            . <?php echo $section['name'] ?></h3>

                    <?php //this is for if we want to remove any fields for a specific section ?>
                    <?php if (!in_array($section['sectionID'], array(8, 13, 17))) : ?>
                        <table width="100%" class="table maintable">
                            <?php if (is_array($this->sectionItems[$section['sectionID']])) : ?>
                                <?php foreach ($this->sectionItems[$section['sectionID']] as $item) : ?>
                                    <?php $this->applicant[$item['variable']] = isset($this->applicant[$item['variable']]) ? $this->applicant[$item['variable']] : ''; ?>
                                <tr id="row-<?php echo $item['variable'] ?>" <?php echo $item['hide'] == 1 ? 'style="display:none"' : '' ?>>
                                    <?php if ($item['variable']) { ?>
                                        <td width="25%"><?php echo $item['name'] ?> <span
                                                class="reqMark"><?php echo $item['compulsory'] == 1 ? '*' : ''; ?></span>
                                        </td>
                                        <td data-name="<?php echo $item['variable'] ?>">

                                            <?php if ($item['form_type'] == 'file') { ?>
                                                <input type="file"
                                                       name="<?php echo $item['variable'] . '-' . $item['item_dclId']; ?>[]"
                                                       class="appfile file-<?php echo $item['variable'] ?>"/>
                                                <?php
                                                $stack = 'stack' . $item['item_dclId'];
                                                if (count($this->$stack) > 0) { ?>
                                                    <?php if ($section['sectionID'] != 3) { ?>
                                                        <table id='docs-<?php echo $item['variable'] ?>'
                                                               class="table bordered">
                                                            <thead>
                                                            <tr>
                                                                <th><?php echo $this->translate('Filename'); ?></th>
                                                                <th width="20%"><?php echo $this->translate('Action'); ?></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <?php
                                                            foreach ($this->$stack as $doc) {
                                                                ?>
                                                                <tr id="row-<?php echo $doc['ad_id'] ?>">
                                                                    <td><?php echo $doc['ad_filename'] ?></td>
                                                                    <td><a href='#'
                                                                           onclick='return delFile("<?php echo $doc['ad_id'] ?>","<?php echo $this->idSection; ?>","<?php echo $item['variable'] ?>")'><?php echo $this->translate('Delete'); ?></a>
                                                                    </td>
                                                                </tr>
                                                            <?php } ?>
                                                            </tbody>
                                                        </table>
                                                    <?php } ?>
                                                <?php } ?>
                                            <?php } else {

                                                if ($item['variable'] == 'emply_position_level') {
                                                    echo $this->table;
                                                } else if ($item['variable'] == 'acd_accomodation') {
                                                    echo '<a href="' . DOCUMENT_URL . $this->file_download['tpl_content'] . '" target="_blank">Download</a>';
                                                } else if ($item['variable'] == 'acd_type') {
                                                    echo $this->table;
                                                } else if ($item['variable'] == 'ird_section') {

                                                } else {
                                                    if ($section['sectionID'] != 7 && ($item['variable']) && ($this->applicant[$item['variable']] || $this->applicant[$item['variable']] != null)) {
                                                        $this->appForm->{$item['variable']}->setValue($this->applicant[$item['variable']]);
                                                    }

                                                    if ($item['variable'] == 'scholar_status' && $item['description'] != '') {
                                                        $SponsorApplication = new Studentfinance_Model_DbTable_SponsorApplication();
                                                        $this->appForm->{$item['variable']}->setValue($SponsorApplication->status[$item['description']]);
                                                    }

                                                    echo $this->appForm->{$item['variable']};

                                                }

                                                if ($item['form_type'] == 'select_others') {
                                                    $others_name = $item['variable'] . '_others';

                                                    $display = $this->applicant[$item['variable']] == '99' ? '' : 'display:none';
                                                    echo '<br />' . $this->appForm->$others_name->setAttrib('style', $display)
                                                            ->setValue(isset($this->applicant[$others_name]) ? $this->applicant[$others_name] : '');
                                                }

                                            }
                                            ?>
                                        </td>

                                        <?php if ($item['variable'] == 'nationality') { ?>
                                            </tr>
                                            <tr>
                                            <td><?php echo $this->translate('Type of Nationality') ?></td>
                                            <td>
                                            <?php
                                            $objdeftypeDB = new GeneralSetup_Model_DbTable_Registry_RegistryValue();
                                            $type_nationality_list = $objdeftypeDB->getListDataByCodeType('student-category');
                                            $selected_id = $this->applicant['appl_category'];
                                            /* switch ($this->applicant['appl_category']) {
                                                 case 579:
                                                     $selected_id = 547;
                                                     break;
                                                 case 581:
                                                     $selected_id = 548;
                                                     break;
                                                 case 580:
                                                     $selected_id = 549;
                                                     break;
                                             }*/
                                            ?>
                                            <select name="appl_type_nationality" id="appl_type_nationality"
                                                    class="select reqfield">
                                                <option
                                                    value=""><?php echo $this->translate('please_select'); ?></option>
                                                <?php foreach ($type_nationality_list as $nrow) { ?>
                                                    <?php $selected = $nrow['idDefinition'] == $selected_id ? 'selected="selected"' : ''; ?>
                                                    <option
                                                        value="<?php echo $nrow['idDefinition']; ?>" <?php echo $selected ?>><?php echo $nrow['DefinitionDesc']; ?></option>
                                                <?php } ?>
                                            </select>
                                        <?php } ?>
                                    <?php } else { ?>
                                        <th colspan="2"><?php echo $item['name'] ?></th>
                                    <?php } ?>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </table>
                    <?php
                    endif; //

                    /* --------------------------
                    *	SECTION-SPECIFIC
                    * -------------------------- */


                    if ($section['sectionID'] == 1)
                    {
                    ?>
                    <br/>

                        <h4><?php echo $this->translate('Options') ?></h4>

                        <table id='' class="table" width="100%">
                            <tr>
                                <th><?php echo $this->translate('No'); ?></th>
                                <th><?php echo $this->translate('Documents'); ?></th>
                                <th><?php echo $this->translate('Generated Date'); ?></th>
                                <th><?php echo $this->translate('Generated By'); ?></th>
                                <th><?php echo $this->translate('Option'); ?></th>
                            </tr>
                            <?php
                            $download = '';
                            $notice = '';
                            $url = '';
                            foreach ($this->document_list as $document) {
                                if ($document['idDefinition'] == 606) {
                                    //OFFER LETTER
                                    $notice = "$(window).unbind('beforeunload'); return confirm('Are you sure you want to regenerate Offer Letter?')";
                                    $url = $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regen-offer-letter', 'txn_id' => $this->transID), 'default', true);

                                } else if ($document['idDefinition'] == 716) {
                                    //CSE
                                    $notice = "$(window).unbind('beforeunload'); return confirm('Are you sure you want to regenerate CSE?')";
                                    $url = $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regen-cse', 'txn_id' => $this->transID), 'default', true);

                                } else if ($document['idDefinition'] == 605) {
                                    //PROFORMA
                                    $notice = "$(window).unbind('beforeunload'); return confirm('Are you sure you want to regenerate Proforma?')";
                                    $url = $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regenerate-proforma', 'txn_id' => $this->transID), 'default', true);

                                } else if ($document['idDefinition'] == 851) {
                                    //APPENDIX
                                    $notice = "$(window).unbind('beforeunload'); return confirm('Are you sure you want to regenerate Appendix?')";
                                    $url = $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regenerate-appendix', 'txn_id' => $this->transID), 'default', true);
                                } else {
                                    $notice = '';
                                    $url = '';
                                }

                                $download = $url == '' ? '' : '<span class="icon icon-retweet"></span> <a onclick="' . $notice . '" href="' . $url . '">Regenerate</a>';
                                ?>
                                <tr>
                                    <td colspan='4' align='left'>
                                        <strong><?php echo $document['DefinitionDesc']; ?></strong></td>
                                    <td align='center' class="options"><?php echo $download; ?></td>
                                </tr>
                                <?php
                                if (count($document['documents']) > 0) {

                                    foreach ($document['documents'] as $index => $doc) {
                                        ?>
                                        <tr>
                                            <td align='center'><?php echo $index + 1; ?>.</td>
                                            <td align='left'><?php echo '<a href="' . DOCUMENT_URL . $doc['tgd_fileurl'] . '" target="_blank">' . $doc['tgd_filename'] . '</a>'; ?></td>
                                            <td align='center'><?php echo date('d-m-Y H:i:s', strtotime($doc['tgd_updDate'])); ?></td>
                                            <td align='center'><?php echo $doc['tgd_userType'] == 0 ? 'Applicant' : $doc['fName']; ?></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <?php
                                    }
                                } ?>
                                <tr bgcolor='#E0F8F7'>
                                    <td colspan=5>&nbsp;</td>
                                </tr>
                            <?php } ?>
                        </table>


                        <!--<ol>
						<li><a onclick="$(window).unbind('beforeunload'); return confirm('<?php echo $this->translate('Are you sure you want to regenerate offer letter?') ?>')" href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regen-offer-letter', 'txn_id' => $this->transID), 'default', true); ?>"><?php echo $this->translate('Regenerate Offer Leter') ?></a></li>
						<li><a onclick="$(window).unbind('beforeunload'); return confirm('<?php echo $this->translate('Are you sure you want to regenerate cse?') ?>')" href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'regen-cse', 'txn_id' => $this->transID), 'default', true); ?>"><?php echo $this->translate('Regenerate CSE') ?></a></li>
						<li><a href="#" onclick="$('#contactappl').submit();$(window).unbind('beforeunload');return false;"><?php echo $this->translate('Contact Applicant') ?></a></li>
					</ol>
					
				-->

                    <?php
                    }

                    //education details
                    if ($section['sectionID'] == 3){
                    ?>
                    <br/>
                        <table id='employement' class="table" width="100%">
                            <tr>
                                <th><?php echo $this->translate('Level'); ?></th>
                                <th><?php echo $this->translate('Degree Awarded'); ?></th>
                                <th><?php echo $this->translate('Major/ Specialization'); ?></th>
                                <th><?php echo $this->translate('Class Degree'); ?></th>
                                <th><?php echo $this->translate('Result'); ?></th>
                                <th><?php echo $this->translate('Year Graduates'); ?></th>
                                <th><?php echo $this->translate('Institution Country'); ?></th>
                                <th><?php echo $this->translate('Institution Name'); ?></th>
                                <th><?php echo $this->translate('Medium Instruction'); ?></th>
                                <th><?php echo $this->translate('Documents'); ?></th>
                                <th></th>
                            </tr>
                            <?php
                            if ($this->qualification) {
                                foreach ($this->qualification as $q) {
                                    ?>
                                    <tr>
                                        <td align='center'><?php echo $q['QualificationLevel']; ?></td>
                                        <td align='center'><?php echo $q['ae_degree_awarded']; ?></td>
                                        <td align='center'><?php echo $q['ae_majoring']; ?></td>
                                        <td align='center'><?php echo $q['class_degree']; ?></td>
                                        <td align='center'><?php echo $q['ae_result']; ?></td>
                                        <td align='center'><?php echo $q['ae_year_graduate']; ?></td>
                                        <td align='center'><?php echo $q['CountryName']; ?></td>
                                        <td align='center'><?php if ($q['ae_institution'] == 999) echo $q['others']; else echo $q['InstitutionName']; ?></td>
                                        <td align='center'><?php echo $q['ae_medium_instruction']; ?></td>
                                        <td align='left'>
                                            <?php
                                            if (count($q['documents']) > 0) {
                                                echo '<ul>';
                                                foreach ($q['documents'] as $doc) {
                                                    $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                                    echo '<li><a href="' . $file_url . '" target="_blank">' . $doc['dcl_name'] . '</a></li>';
                                                }
                                                echo '</ul>';
                                            }//end if
                                            ?>
                                        </td>
                                        <td align="center"><a
                                                href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'delete-education-details', 'id' => $q['ae_id'], 'txnid' => $this->txn_id), 'default', true); ?>"><?php echo $this->translate('Delete'); ?></a>
                                        </td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>
                        </table>
                    <?php
                    }

                    //research
                    if ($section['sectionID'] == 6)
                    {
                    ?>
                        <h4><?php echo $this->translate('Research/Publication Details List'); ?></h4>
                        <table id='researchdocs' class="table" width="100%">
                            <thead>
                            <tr>
                                <?php
                                foreach ($this->sectionItems[6] as $item) {
                                    if ($item['form_type'] != 'file') {
                                        ?>
                                        <th><?php echo $item['name']; ?></th>
                                    <?php }
                                } ?>
                                <th><?php echo $this->translate('Documents'); ?></th>
                                <th><?php echo $this->translate('Action'); ?></th>
                            </tr>
                            </thead>

                            <?php
                            foreach ($this->rpd_list as $rpd) {
                                ?>
                                <tr>
                                    <td><?php echo $rpd['rpd_title']; ?></td>
                                    <td><?php echo $rpd['rpd_date']; ?></td>
                                    <td><?php echo $rpd['rpd_publisher']; ?></td>
                                    <td align='center'>
                                        <?php
                                        if (count($rpd['documents']) > 0) {

                                            echo '<ul>';
                                            foreach ($rpd['documents'] as $doc) {
                                                $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                                echo '<li><a href="' . $file_url . '">' . $doc['ad_filename'] . '</a></li>';
                                            }
                                            echo '</ul>';
                                        }//end if
                                        ?>
                                    </td>
                                    <td><a onclick="$(window).unbind('beforeunload');"
                                           href='<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'delete-info', 'sid' => $this->section_id, 'pid' => $rpd["rpd_id"], 'type' => 'research', 'txnid' => $this->transID, 'idsection' => $this->idSection), 'default', true); ?>'><?php echo $this->translate('Delete'); ?></a>
                                    </td>
                                </tr>
                            <?php } ?>

                        </table>
                    <?php
                    }

                    //Employment Details
                    if ($section['sectionID'] == 7)
                    {
                    ?>
                    <?php if (count($this->appEmployment) > 0){ ?>
                    <br/>
                        <table id='employement' class="table" width="100%">
                            <thead>
                            <tr>
                                <td><b><?php echo $this->translate('Employment Status'); ?></b></td>
                                <td><b><?php echo $this->translate('Company Info'); ?></b></td>
                                <td><b><?php echo $this->translate('Designation'); ?></b></td>
                                <td><b><?php echo $this->translate('Position Level'); ?></b></td>
                                <td><b><?php echo $this->translate('Service Duration'); ?></b></td>
                                <td><b><?php echo $this->translate('Industry'); ?></b></td>
                                <td><b><?php echo $this->translate('Document'); ?></b></td>
                                <td></td>
                            </tr>
                            </thead>

                            <?php
                            foreach ($this->appEmployment as $e) {
                                ?>
                                <tr>
                                    <td><?php echo $e['status']; ?></td>
                                    <td><?php echo $e['ae_comp_name'] . '<br>';
                                        echo $e['ae_comp_address'] . '<br>';
                                        echo $e['ae_comp_phone'] . '<br>';
                                        echo $e['ae_comp_fax'];
                                        ?>
                                    </td>
                                    <td><?php echo $e['ae_designation']; ?></td>
                                    <td><?php echo $e['position']; ?></td>
                                    <td><?php if ($e['emply_year_service']) {
                                            echo $e['emply_year_service'] . ' year(s)';
                                        } else {
                                            echo $e['ae_from'] . ' - ' . $e['ae_to'];
                                        } ?></td>
                                    <td><?php echo $e['industry']; ?></td>
                                    <td>
                                        <?php if (count($e['documents']) > 0) {
                                            echo '<ul>';
                                            foreach ($e['documents'] as $doc) {
                                                $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                                echo '<li><a href="' . $file_url . '" target="_blank">' . $doc['dcl_name'] . '</a></li>';
                                            }
                                            echo '</ul>';
                                            ?>
                                        <?php } ?>
                                    <td align="center">
                                        <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'delete-employment-details', 'id' => $e['ae_id'], 'txnid' => $this->txn_id), 'default', true); ?>"><?php echo $this->translate('Delete'); ?></a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </table>
                    <?php
                    }
                    }

                    //Working XP
                    if ($section['sectionID'] == 10)
                    {
                    if ($this->applicant['fin_method'] == 520)
                    {
                    $sponsordetl = empty($this->applicantSponsor) ? 'style="display:none"' : '';
                    ?>
                    <br/>

                        <table width="100%" class="table">
                            <tr>
                                <td width="25%"><?php echo $this->translate('Sponsorship Details') ?></td>
                                <td colspan="3">
                                    <select name="fin_sponsor_id" class="select" onchange="showSponsor(this)">
                                        <option value="">-- <?php echo $this->translate('Select') ?> --</option>
                                        <?php foreach ($this->sponsor_list as $sponsor) { ?>
                                            <option
                                                <?php echo $this->applicantSponsor['Sponsor'] == $sponsor['idsponsor'] ? 'selected="selected"' : '' ?>value="<?php echo $sponsor['idsponsor'] ?>"><?php echo $sponsor['SponsorCode'] . ' - ' . $sponsor['fName'] . ' ' . $sponsor['lName'] ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                            <tr class="sponsordetl" <?php echo $sponsordetl ?>>
                                <td><?php echo $this->translate('Start Date') ?></td>
                                <td>
                                    <input type="text" name="StartDate" id="StartDate"
                                           value="<?php echo ifexists($this->applicantSponsor['StartDate']) ?>"
                                           dojoType="dijit.form.DateTextBox"
                                           onChange="dijit.byId('EndDate').constraints.min = arguments[0];"
                                           required="false" constraints="{datePattern:'yyyy-MM-dd'}">
                                </td>
                                <td><?php echo $this->translate('End Date') ?></td>
                                <td>
                                    <input type="text" name="EndDate" id="EndDate"
                                           value="<?php echo ifexists($this->applicantSponsor['EndDate']) ?>"
                                           dojoType="dijit.form.DateTextBox"
                                           onChange="dijit.byId('StartDate').constraints.max = arguments[0];"
                                           required="false" constraints="{datePattern:'yyyy-MM-dd'}"></td>
                            </tr>
                            <tr class="sponsordetl" <?php echo $sponsordetl ?>>
                                <td><?php echo $this->translate('Aggrement No.') ?></td>
                                <td>
                                    <input type="text" name="AggrementNo" id="AggrementNo"
                                           value="<?php echo ifexists($this->applicantSponsor['AggrementNo']) ?>"
                                           class="input-txt"/>
                                </td>
                                <td><?php echo $this->translate('Amount') ?></td>
                                <td>
                                    <input type="text" name="Amount" id="Amount"
                                           value="<?php echo ifexists($this->applicantSponsor['Amount']) ?>"
                                           dojoType="dijit.form.NumberTextBox" invalidMessage="Only digits"
                                           maxlength="50" constraints="{min:0,max:10000,pattern:&#39;#&#39;}"
                                           required="false" class="txt_put"></td>
                            </tr>
                            <tr class="sponsordetl" <?php echo $sponsordetl ?>>
                                <td><?php echo $this->translate('Fee Item') ?></td>
                                <td>
                                    <select name="FeeItem" id="FeeItem" dojoType="dijit.form.FilteringSelect">
                                        <option value=""><?php echo $this->translate('None') ?></option>
                                        <?php foreach ($this->feeitem as $feeitem) { ?>
                                            <option <?php echo isset($this->applicantSponsor['FeeItem']) && $this->applicantSponsor['FeeItem'] == $feeitem['fi_id'] ? 'selected="selected"' : '' ?>
                                                value="<?php echo $feeitem['fi_id'] ?>"><?php echo $feeitem['fi_name'] ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td><?php echo $this->translate('Calculation Mode') ?></td>
                                <td>
                                    <select name="CalculationMode" id="CalculationMode"
                                            dojoType="dijit.form.FilteringSelect" required="false">
                                        <option <?php echo isset($this->applicantSponsor['CalcMode']) && $this->applicantSponsor['CalcMode'] == '1' ? 'selected="selected"' : '' ?>
                                            value="1" label="Amount"><?php echo $this->translate('Amount') ?></option>
                                        <option <?php echo isset($this->applicantSponsor['CalcMode']) && $this->applicantSponsor['CalcMode'] == '2' ? 'selected="selected"' : '' ?>
                                            value="2"
                                            label="Percentage"><?php echo $this->translate('Percentage') ?></option>
                                    </select>
                                </td>
                            </tr>
                            </tr>
                        </table>

                        <script type="text/javascript">
                            function showSponsor(what) {
                                var val = $(what).val();

                                if (val == '') {
                                    $(".sponsordetl").hide();
                                }
                                else {
                                    $(".sponsordetl").show();
                                }
                            }
                        </script>
                    <?php
                    }
                    }

                    //Working XP
                    if ($section['sectionID'] == 8) {
                    ?>
                        <table border="0" width='100%' class="table">
                            <tr>

                                <th colspan="<?php echo count($this->yearofIndustry) + 2; ?>"><?php echo $this->translate('Years of Industry') ?></th>
                            </tr>
                            <?php
                            $appWorkExpDB = new App_Model_Application_DbTable_ApplicantWorkingExperience();
                            foreach ($this->industryWorkingExperience as $index => $pl) {
                                $industry = $appWorkExpDB->getData($this->txn_id, $pl["idDefinition"]);


                                if (isset($industry) && $industry['aw_industry_id'] != '') {
                                    $sel = 'checked';
                                    $yof_disabled = '';
                                } else {
                                    $sel = '';
                                    $yof_disabled = 'disabled';
                                }
                                ?>
                                <tr>
                                    <td width="5%">
                                        <input type="checkbox" name='iwe[]' id='iwe<?php echo $pl["idDefinition"] ?>'
                                               value='<?php echo $pl["idDefinition"] ?>' <?php echo $sel; ?>
                                               onclick='enableYOF(this.value)'>
                                    </td>
                                    <td><?php echo $pl['DefinitionDesc'] ?></td>

                                    <?php
                                    foreach ($this->yearofIndustry as $yi) {
                                        if ($yi['idDefinition'] == $industry['aw_years']) {
                                            $sel_yof = 'checked';
                                        } else {
                                            $sel_yof = '';
                                        }
                                        ?>
                                        <td><input type="radio" name='yof[<?php echo $pl["idDefinition"] ?>]'
                                                   class='yof_<?php echo $pl["idDefinition"] ?>'
                                                   value='<?php echo $yi['idDefinition'] ?>' <?php echo $sel_yof; ?> <?php echo $yof_disabled; ?>><?php echo $yi['DefinitionDesc'] ?>
                                        </td>
                                    <?php } ?>
                                </tr>

                            <?php } ?>
                        </table>
                    <?php
                    }

                    //IRD
                    if ($section['sectionID'] == 13) {
                        ?>
                        <!--<p><?php echo $this->translate('For your first semester, you are registered under the following compulsory paper(s):') ?></p>-->
                        <?php echo $this->table; ?>
                        <!-- <p><?php echo $this->translate('Should you wish to add more papers, you can do so after your admission is complete') ?></p>	-->
                        <?php
                    }

                    //declaration
                    if ($section['sectionID'] == 17)
                    {
                    $dec_data = array();
                    if (is_array($this->sectionItems[17])) {
                        foreach ($this->sectionItems[17] as $dec_item) {
                            if ($dec_item['variable'] == 'declaration') {
                                $dec_data = $dec_item;
                            }
                        }
                    }

                    if (!empty($dec_data))
                    {
                    ?>
                        <div id="declaration-wrap">
                            <div class="tos">
                                <?php echo nl2br(strip_tags($dec_data['sectionTagInstruction'])) ?>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" checked="checked" name="decchk"/>
                            </div>
                            <div class="declaration-text">
                                <?php echo strip_tags($dec_data['itemTagInstruction']) ?>
                            </div>
                        </div>
                        <?php
                    }
                    }

                    } //sectionID
                }


                if ($this->idSection != 17) {
                    if ($this->txnData['at_status'] == 591 || $this->txnData['at_status'] == 592 || $this->txnData['at_status'] == 595 || $this->txnData['at_status'] == 596 || $this->txnData['at_status'] == 597 || $this->txnData['at_status'] == 593 || $this->txnData['at_status'] == 599) {
                        ?>
                        <div class="form-opt">
                            <?php echo $this->appForm->save ?>
                            <?php echo $this->appForm->cancel ?>
                        </div>
                        <?php
                    }
                }
                ?>
            </form>
            <!-- /section form-->


        <?php } //tab if ?>

        <!-- /content -->
    </div>
</div>

<?php //if ( $this->idSection == 1 ) { ?>
<form method="post" action="<?php echo $this->baseUrl() ?>/communication/application/compose-msg" id="contactappl">
    <input type="hidden" name="rec[<?php echo $this->transID ?>]" value="1"/>
    <input type="hidden" name="compose" value="1"/>
    <input type="hidden" name="category" value="quicksend"/>
    <input type="hidden" name="rectype" value="applicants"/>
</form>
<?php //} ?>

<script type="text/javascript">
    var sectionid = '<?php echo $this->mainsectionid; ?>';

    function back() {
        window.location = "<?php echo $this->baseUrl()?>/application/index";
        return false;
    }

    function unloadcheck() {
        $(window).on('beforeunload', function () {
            return '<?php echo $this->translate('Are you sure you want to leave without saving?')?>';
        });
    }

    /* attach onload stuff */
    $(function () {
        //program detail
        if (sectionid == 1) {
            getModeOfProgram();
            getModeOfStudy();
            getProgramType();
            getLoadIntake();
        }

        setTimeout(function () {
            $("#appForm :input").change(function () {
                unloadcheck();
            });

        }, 2000);

        <?php if ( is_array($this->onload) ) { ?>
        <?php foreach ($this->onload as $onload) {
        echo $onload . "\n\n";
    }
        }
        ?>

        //calendars
        $('#emply_duration_from').datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            showButtonPanel: true,
            dateFormat: 'mm/yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));

                var date_from = new Date(year, month, 1);

                var emply_duration_to = $('#emply_duration_to').val();
                date_to = emply_duration_to.split("/");
                var date_to = new Date(date_to[1], date_to[0], 1);

                if (emply_duration_to != '') {
                    calculate_service_period(date_from, date_to);
                }

            }
        });


        $('#emply_duration_to').datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            showButtonPanel: true,
            dateFormat: 'mm/yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));

                var date_to = new Date(year, month, 1);

                var emply_duration_from = $('#emply_duration_from').val();
                date_from = emply_duration_from.split("/");
                var date_from = new Date(date_from[1], date_from[0], 1);

                if (emply_duration_from != '') {
                    calculate_service_period(date_from, date_to);
                }
            }
        });

        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
        });

        $('.backdated').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            maxDate: '0'
        });

        $('.monthcal').datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            showButtonPanel: true,
            dateFormat: 'mm/yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });

        $(".monthcal").focus(function () {
            $(".ui-datepicker-calendar").hide();
        });

        //additional
        setTimeout(function () {
            $(".success").fadeOut('fast');
        }, 1000);

        $(".appdoc").fancybox();
    });

    /* attach events */
    $("input:radio[name=prev_student]").click(function () {
        var method = $('input:radio[name=prev_student]:checked').val();
        togglePrevStudent(method);
    });

    $("input:radio[name=visa_malaysian]").click(function () {
        var method = $('input:radio[name=visa_malaysian]:checked').val();
        toggleVisa(method);
    });

    /* functions */
    function filladdress(element) {
        if ($(element).is(':checked')) {

            var address1 = $('#address_perm1').val();
            var address2 = $('#address_perm2').val();
            var address3 = $('#address_perm3').val();
            var city = $('#city_perm').val();
            var appl_postcode = $('#postcode_perm').val();
            var country_id = $('#country_perm').val();
            var appl_state = $('#state_perm').val();
            var mobile = $('#mobile_perm').val();
            var home = $('#home_perm').val();
            var office = $('#office_perm').val();
            var fax = $('#fax_perm').val();
        }

        $('#address_corr1').val(address1);
        $('#address_corr2').val(address2);
        $('#address_corr3').val(address3);
        $('#city_corr').val(city);
        $('#postcode_corr').val(appl_postcode);
        $('#country_corr').val(country_id);
        getState(country_id, "state_corr", appl_state);
        $('#mobile_corr').val(mobile);
        $('#home_corr').val(home);
        $('#office_corr').val(office);
        $('#fax_corr').val(fax);
    }

    function togglePrevStudent(method) {
        if (method == 1) {
            $("#studentID").addClass('reqfield');
            $("#row-studentID").show();
            $("#row-password").show();
        }
        else {
            $("#studentID").removeClass('reqfield');
            $("#row-studentID").hide();
            $("#row-password").hide();
        }
    }

    function toggleVisa(method) {
        if (method == 1) {
            $("#row-visa_status").show();
            $("#row-visa_expiry").show();
        }
        else {
            $("#row-visa_status").hide();
            $("#row-visa_expiry").hide();
        }
    }

    function getState(idCountry, stateIdFormName, selectedState) {

        var targetElement = '#' + stateIdFormName;
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'get-state'), 'default', true);?>",
            data: {'country_id': idCountry},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                if (selectedState == data[index].idState) {
                    var selected = 'selected';
                } else {
                    var selected = '';
                }
                $(targetElement).append('<option value="' + data[index].idState + '" ' + selected + '> ' + data[index].StateName + ' </option>');
            });
        });
    }

    function getCity(idState, cityIdFormName, selectedCity) {

        var targetElement = '#' + cityIdFormName;
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'get-city'), 'default', true);?>",
            data: {'state_id': idState},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                if (selectedCity == data[index].idCity) {
                    var selected = 'selected';
                } else {
                    var selected = '';
                }
                $(targetElement).append('<option value="' + data[index].idCity + '" ' + selected + '> ' + data[index].CityName + ' </option>');
            });
        });
    }

    function checkOthers(val) {
        var e_val = $(val).val();
        var name = $(val).attr("name");

        if (e_val == '99') {
            $("#" + name + "_others").show();
        }
        else {
            $("#" + name + "_others").hide();
        }
    }

    function delFile(ad_id, section, variable) {
        var table = $('#docs-' + variable + ' tbody');
        //$(table).empty();

        var msg = confirm("<?php echo $this->translate('Are you sure you want to delete this file?')?>");
        if (msg) {
            //delete
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'delete-file'), 'default', true);?>",
                data: {'ad_id': ad_id, 'txn_id': '<?php echo $this->transID?>', 'section': section},
                type: 'POST',
                dataType: 'json',
                beforeSend: function () {
                    //showLoading('#docs-'+variable,'loading');
                },
                complete: function () {
                    //hideLoading('#docs-'+variable,'loading');
                }
            }).done(function (data) {

                $("#docs-" + variable + " #row-" + ad_id).remove();

                if ($("#docs-" + variable + " tr").length == 1) {
                    $("#docs-" + variable + " tr").hide();
                }
            });
        }

        return false;
    }

    function getInstitution(idCountry, element_name, institution_val) {

        var targetElement = '#' + element_name;
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'get-data'), 'default', true);?>",
            data: {'country_id': idCountry, 'type': 'institution'},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                $(targetElement).append('<option value="' + data[index].idInstitution + '"> ' + data[index].InstitutionName + ' </option>');
            });
            $(targetElement).val(institution_val);
            $(targetElement).trigger('change');
        });

        $('#please_specify_block').remove();
    }

    function displayOthers(element_val, element_name) {
        var element_block = '#' + element_name + '_block';

        if (element_val == 999) {
            var row = '<tr id="please_specify_block"><td><?php echo $this->translate("Please specify");?></td><td><input class="required input-txt" type="text" name="others" value="<?php echo isset($this->applicant['others']) ? $this->applicant['others'] : ''?>"></td></tr>';
            var newrow = $(row);
            //newrow.insertAfter(element_block);
            $('#' + element_name).parent().parent().after(newrow);
        } else {
            $('#please_specify_block').remove();
        }
    }

    function getDetail(val) {
        $('#english_test_det_block').remove();
        var detl_val = '<?php echo isset($this->applicant['english_test_detail']) ? $this->applicant['english_test_detail'] : ''?>';


        if (val == 13) { //none
            //drop down

            var row = '<tr id="english_test_det_block"><td><?php echo $this->translate("Format");?></td><td>' +
                '<select name="english_test_detail" id="english_test_detail" class="select">' +
                '<option value=""><?php echo $this->translate("-- Please Select --");?></option>' +
                '<option value="652"><?php echo $this->translate("ibt");?></option>' +
                '<option value="653"><?php echo $this->translate("cbt");?></option>' +
                '<option value="654"><?php echo $this->translate("pbt");?></option>' +
                '</select>' +
                '</td></tr>';
            var newrow = $(row);
            newrow.insertAfter('#row-english_test');
        }

        if (val == 25) { //others
            //able to fill in

            var row = '<tr id="english_test_det_block"><td>Please Specify</td><td><input type="text" id="english_test_detail" class="input-txt" name="english_test_detail" value=""></td></tr>';
            var newrow = $(row);
            newrow.insertAfter('#row-english_test');
        }

        if (val == 24) { //none
            //drop down
            var row = '<tr id="english_test_det_block"><td>&nbsp;</td><td>' +
                '<select name="english_test_detail" id="english_test_detail" class="select">' +
                '<option value=""><?php echo $this->translate("-- Please Select --");?></option>' +
                '<option value=7><?php echo $this->translate("Native English Speaker");?></option>' +
                '<option value=8><?php echo $this->translate("Education was In English");?></option>' +
                '</select>' +
                '</td></tr>';
            var newrow = $(row);
            newrow.insertAfter('#row-english_test');
        }


        $("#english_test_detail").val(detl_val);
    }

    function showLoading(target, loading_id) {
        $(target).hide();
        $(target).parent().append("<div id='" + loading_id + "'><img src='/images/ajax-loader-bar.gif' /></div>");
    }

    function hideLoading(target, loading_id) {
        $('#' + loading_id).remove();
        $(target).show();
    }

    function calculate_service_period(date_from, date_to) {

        period = new Number(( date_to.getTime() - date_from.getTime()) / 31536000000).toFixed(0);
        $('#emply_year_service').val(period);

        //calc year + month
        var month_diff = ( date_to.getFullYear() - date_from.getFullYear()) * 12 + date_to.getMonth() - date_from.getMonth();

        var years = Math.floor(month_diff / 12);
        var months = month_diff % 12;

        if (years == 0) {
            var duration_text = months + ' Month' + (months > 1 ? 's' : '');
        }
        else {
            var duration_text = years + ' Year' + (years > 1 ? 's' : '');
            if (months > 0) {
                duration_text += ' and ' + months + ' Month' + (months > 1 ? 's' : '');
            }
        }

        duration_text = duration_text.substring(0, duration_text.length).toUpperCase();

        if (months > 0 || years > 0) {
            $("#emply_duration").val(duration_text);
        }

    }

    $("#fin_method").change(function () {
        var method = $('#fin_method').val();

        display_financial_block(method);
    });

    var type = $('#fin_type_scholarship').val();
    if (type != '') {
        block_scholarship(type);
    }

    $("#fin_type_scholarship").change(function () {
        block_scholarship($(this).val());
    });

    function display_financial_block(method) {
        $("#fin_type_scholarship").removeClass('reqfield');
        $("#fin_type_scholarship").removeClass('reqfield');
        $("#fin_scholarship_secured").removeClass('reqfield');
        $("#fin_apply").removeClass('reqfield');
        $("#fin_sponsor_name").removeClass('reqfield');

        if (method == 519) { //self funding

            var dataArray2 = new Array("file_financial_statement");
            var dataArray3 = new Array("file_sponsorship_letter", "fin_type_scholarship", "fin_scholarship_secured", "file_scholarship_secured", "fin_apply", "file_fin_resume", "fin_sponsor_name");


        } else if (method == 521) { // scholarship

            var dataArray2 = new Array("fin_type_scholarship");
            var dataArray3 = new Array("file_sponsorship_letter", "fin_sponsor_name", "file_financial_statement", "fin_scholarship_secured", "file_scholarship_secured", "fin_apply", "file_fin_resume");

            $("#fin_type_scholarship").addClass('reqfield');


        } else if (method == 520) { // sponsorship
            var dataArray2 = new Array("fin_sponsor_name", "file_sponsorship_letter");
            var dataArray3 = new Array("file_financial_statement", "fin_type_scholarship", "fin_scholarship_secured", "file_scholarship_secured", "fin_apply", "file_fin_resume");

            $("#fin_sponsor_name").addClass('reqfield');
        }

        if (method) {
            //enable
            for (var i = 0; i < dataArray2.length; i++) {
                enableBlock('', dataArray2[i], 'show')
            }

            for (var i = 0; i < dataArray3.length; i++) {
                enableBlock('', dataArray3[i], 'hide')
            }
        }
    }

    function enableBlock(element_val, element_name, element_status, class_name) {

        var block_element = "#row-" + element_name;
        var element_name = "#" + element_name;
        var class_name = "." + class_name;


        if (element_status == 'show') {
            $(block_element).show();
            $(element_name).removeAttr('disabled');
            $(class_name).removeAttr('disabled');
        } else if (element_status == 'hide') {
            $(block_element).hide();
            $(element_name).attr('disabled', 'disabled');
            $(class_name).attr('disabled', 'disabled');
        } else if (element_status == 'disabled') {
            $(element_name).attr('disabled', 'disabled');
            $(class_name).attr('disabled', 'disabled');
        } else if (element_status == 'enabled') {
            $(element_name).removeAttr('disabled');
            $(class_name).removeAttr('disabled');
        }
    }

    function block_scholarship(method) {

        var dataArray2;
        var dataArray3;

        if (method == 523) { //Applying for Scholarship

            dataArray2 = new Array("fin_apply", "fin_scholarship_apply", "file_fin_resume", "fin_type_scholarship");
            dataArray3 = new Array("fin_scholarship_secured", "file_scholarship_secured");

            var total_scholarship = '<?php echo $this->total_scholarship ?>';

            if (total_scholarship == 0) {
                alert('<?php echo $this->translate("No scholarship offered at the moment"); ?>');
                var dataArray2 = new Array("file_fin_resume");
            }

            $("#fin_apply").addClass('reqfield');

            //enable
            for (var i = 0; i < dataArray2.length; i++) {
                enableBlock('', dataArray2[i], 'show')
            }

            for (var i = 0; i < dataArray3.length; i++) {
                enableBlock('', dataArray3[i], 'hide')
            }


        } else if (method == 522) { // Secured Scholarship
            dataArray2 = new Array("fin_scholarship_secured", "file_scholarship_secured");
            dataArray3 = new Array("file_fin_resume", "fin_apply", "fin_type_scholarship");

            $("#fin_scholarship_secured").addClass('reqfield');
            $("#fin_apply").addClass('reqfield');

            //enable
            for (var i = 0; i < dataArray2.length; i++) {
                enableBlock('', dataArray2[i], 'show');
            }

            for (var i = 0; i < dataArray3.length; i++) {
                enableBlock('', dataArray3[i], 'hide');
            }
        }


        //enable
        /*for ( var i=0; i < dataArray2.length; i++ ) {
         enableBlock('',dataArray2[ i ],'show')
         }

         for ( var i=0; i < dataArray3.length; i++ ) {
         enableBlock('',dataArray3[ i ],'hide')
         }*/

    }

    function getModeOfStudy() {

        var appModeStudy = "<?php if (!empty($this->appModeStudy)) echo $this->appModeStudy; ?>";

        var targetElement = '#mode_study';
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'ajax-get-mode-of-study'), 'default', true);?>",
            data: {'id':<?php echo $this->session_transactionID;?> , 'program': '<?php echo $this->appProgramID;?>'},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                if (data.length == 1 || appModeStudy == data[index].mode_of_study) {
                    var selected = 'selected';
                } else {
                    var selected = '';
                }
                $(targetElement).append('<option value="' + data[index].mode_of_study + '"  ' + selected + '> ' + data[index].mode_study + ' </option>');
            });

        });
    }

    function getModeOfProgram() {

        var appModeProgram = "<?php if (!empty($this->appModeProgram)) echo $this->appModeProgram; ?>";

        var targetElement = '#program_mode';
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'ajax-get-mode-of-program'), 'default', true);?>",
            data: {'id':<?php echo $this->session_transactionID;?> , 'program': '<?php echo $this->appProgramID;?>'},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                if (data.length == 1 || appModeProgram == data[index].mode_of_program) {
                    var selected = 'selected';
                } else {
                    var selected = '';
                }
                $(targetElement).append('<option value="' + data[index].mode_of_program + '" ' + selected + '> ' + data[index].mode_program + ' </option>');
            });


        });
    }

    function getProgramType() {

        var appProgramType = "<?php if (!empty($this->appProgramType)) echo $this->appProgramType; ?>";

        var targetElement = '#program_type';
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'ajax-get-program-type'), 'default', true);?>",
            data: {'id':<?php echo $this->session_transactionID;?> , 'program': '<?php echo $this->appProgramID;?>'},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement, 'loading');
            },
            complete: function () {
                hideLoading(targetElement, 'loading');
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("--Please Select--"); ?> </option>');

            $.each(data, function (index) {
                if (data.length == 1 || appProgramType == data[index].program_type) {
                    var selected = 'selected';
                } else {
                    var selected = '';
                }
                $(targetElement).append('<option value="' + data[index].program_type + '" ' + selected + '> ' + data[index].program_type_name + ' </option>');
            });


        });
    }

    function getLoadIntake() {

    }

    function getIntake() {

    }

    function enableYOF(iwe_id) {
        var element_iwe = '#iwe' + iwe_id;
        var element_yof = '.yof_' + iwe_id;

        if ($(element_iwe).is(':checked')) {
            $(element_yof).removeAttr('disabled');
        } else {
            $(element_yof).attr('checked', false);
            $(element_yof).attr('disabled', 'disabled');

        }
    }

    /* end */
    function validateForm() {
        var error = 0;

        if ($('#emply_status').val() != 517 || $('#emply_status').val() != 516 || $('#emply_status').val() != 518) {

            $("#appForm .reqfield").each(function () {
                if ($(this).attr("type") != 'radio') {
                    var field = $(this).parent().prev().html();

                    var p = $(this).val();

                    if (p == '') {
                        //alert(field+" cannot be empty");
                        $(this).parent().prev().addClass("req");
                        $(this).focus();

                        if ($(this).attr("id") == 'password') {
                            /*if ($('input[name=prev_student]:checked').val()==1){
                             error = 1;
                             }*/
                            $(this).parent().prev().removeClass("req");
                        } else if ($(this).attr("id") == 'english_date_taken') {
                            if ($('#english_test').val() == 24) {
                                $(this).parent().prev().removeClass("req");
                            } else {
                                error = 1;
                            }
                        } else if ($(this).attr("id") == 'english_score') {
                            if ($('#english_test').val() == 24) {
                                $(this).parent().prev().removeClass("req");
                            } else {
                                error = 1;
                            }
                        } else {
                            error = 1;
                        }
                        //return false;
                    }
                    else {
                        $(this).parent().prev().removeClass("req");
                    }
                }
            });
        }

        if (error == 1) {
            alert('<?php echo $this->translate('Please fill in all the required fields')?>');
            return false;
        }

        $(window).unbind('beforeunload');

        return true;
    }

    $(function () {
        //toggleFixedSummary();
    });

    function toggleFixedSummary() {
        var secwidth = $(".profile-summary").width();
        var sectionnav = $(".profile-summary");
        var secY = sectionnav.offset().top;
        $(document).scroll(function () {
            var y = $(document).scrollTop();

            if (y >= secY - 50) {
                sectionnav.addClass('fixed');
                sectionnav.css('width', secwidth);
            } else {
                sectionnav.removeClass('fixed');
                sectionnav.css('width', 'auto');
            }
        });
    }

    $("#nationality").change(function () {
        $('#notice').remove();

        if ($("#nationality").val() == 137) { //malaysia
            $("#appl_type_nationality option[value='547']").removeAttr('disabled');
            $("#appl_type_nationality option[value='548']").attr('disabled', true);
            $("#appl_type_nationality option[value='549']").attr('disabled', true);
        } else {
            $("#appl_type_nationality option[value='547']").attr('disabled', true);
            $("#appl_type_nationality option[value='548']").removeAttr('disabled');
            $("#appl_type_nationality option[value='549']").removeAttr('disabled');
        }

        //$("#appl_type_nationality").prop("selected", false);
    });

    $(function () {
        if ($("#nationality").val() == 137) { //malaysia
            $("select option[value='547']").removeAttr('disabled');
            $("select option[value='548']").attr('disabled', true);
            $("select option[value='549']").attr('disabled', true);
        } else {
            $("select option[value='547']").attr('disabled', true);
            $("select option[value='548']").removeAttr('disabled');
            $("select option[value='549']").removeAttr('disabled');
        }
    });

    <?php //if ($this->txnData['at_status'] == 593 || $this->txnData['at_status'] == 594 || $this->txnData['at_status'] == 598 || $this->txnData['at_status'] == 599 || $this->txnData['at_status'] == 600 || $this->txnData['at_status'] == 601 || $this->txnData['at_status'] == 602){ ?>
    $('#mode_study').attr('disabled', true);
    $('#program_mode').attr('disabled', true);
    $('#program_type').attr('disabled', true);
    $('#intake').attr('disabled', true);
    $('#nationality').attr('disabled', true);
    $('#appl_type_nationality').attr('disabled', true);
    <?php //} ?>
</script>