<script type="text/javascript">

    function edit() {
        var checked = $(".txn_id:checked").length;
        var id = $(".txn_id:checked").val();
        if (checked == 0) {
            alert('<?php echo $this->translate('Select an applicant first')?>');
            return false;
        }

        window.location = "<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit'), 'default', true);?>/id/" + id;

        return false;
    }

    function searchbox() {
        $('#search_form').toggle();
        $("#stats_box").toggle();

        return false;
    }

    function selectStatus(name) {
        $("#search_form").show();
        $("#stats_box").hide();
        $('#search_form').trigger("reset");

        $("#application_status option").each(function () {
            if ($(this).text() == name) {
                $("#application_status").val($(this).val());
            }
        });
    }

    function selectIntake(name) {
        $("#search_form").show();
        $("#stats_box").hide();
        $('#search_form').trigger("reset");

        $("#intake_id option").each(function () {
            if ($(this).text() == name) {
                $("#intake_id").val($(this).val());
            }
        });
    }


    function getProgramScheme() {

        var targetElement = '#program_scheme_id';
        $.ajax({
            url: "<?php echo $this->url(array('module' => 'default', 'controller' => 'ajax-utility', 'action' => 'ajax-get-data'), 'default', true);?>",
            data: {'type': 'intake_program', 'IdProgram': $('#program_id').val()},
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
                showLoading(targetElement);
            },
            complete: function () {
                hideLoading(targetElement);
            }
        }).done(function (data) {

            $(targetElement).empty().append('<option value=""> <?php echo $this->translate("-- All --"); ?> </option>');

            $.each(data, function (index) {
                $(targetElement).append('<option value="' + data[index].IdProgramScheme + '"> ' + data[index].ProgramMode + ' - ' + data[index].StudyMode + ' - ' + data[index].ProgramType + ' </option>');
            });

        });

    }

    function showLoading(target) {
        $(target).hide();
        $(target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");

    }

    function hideLoading(target) {
        $('#loading').remove();
        $(target).show();
    }

    function viewChecklist(element) {
        $(function () {

            var trans_id = element;
            var name = document.getElementById('appName' + element).value;

            var url = "<?php echo $this->url(array('module' => 'application', 'controller' => 'applicant-approval', 'action' => 'load-document-checklist-ajax'), "default", true);?>/id/" + trans_id;
            var data = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: 'json',
            })
                .done(function (data) {

                    var content = '<fieldset>';
                    content += '<legend>' + name + '</legend>'
                    content += '<table class="table" width="100%" cellpadding="5" cellspacing="1" id="checklist">';
                    content += '<thead>';
                    content += '<tr>';
                    content += '<th><?php echo $this->translate("Checklist Name");?></th>';
                    content += '<th><?php echo $this->translate("Checklist Description");?></th>';
                    content += '<th><?php echo $this->translate("Upload Status");?></th>';
                    //content += '<th><?php //echo $this->translate("Confirm");?></th>';
                    content += '<th><?php echo $this->translate("Status");?></th>';
                    content += '<th><?php echo $this->translate("Comment");?></th>';
                    content += '</tr>';
                    content += '</thead>';
                    content += '<tbody>';
                    $.each(data, function (index) {
                        content += '<tr>';
                        content += '<td>' + data[index].dcl_name + (data[index].dcl_mandatory == 1 ? '<span class="reqMark" style="color: red;">*</span>' : '') + '</td>';

                        //checklist
                        content += '<td>';
                        content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                        if (data[index].column1) {
                            $.each(data[index].column1, function (index2) {
                                content += '<tr>';
                                content += '<td>' + data[index].column1[index2] + '</td>'
                                content += '</tr>'
                            });
                        }
                        content += '</table>';
                        content += '</td>';

                        //upload status
                        content += '<td>';
                        content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                        if (data[index].column2) {
                            $.each(data[index].column2, function (index3) {
                                content += '<tr>';
                                content += '<td>' + data[index].column2[index3] + '</td>'
                                content += '</tr>'
                            });
                        }
                        content += '</table>';
                        content += '</td>';

                        //comfirm
                        /*content += '<td>';
                         content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                         if (data[index].column3){
                         $.each(data[index].column3,function(index4){
                         content += '<tr>';
                         content += '<td>'+data[index].column3[index4]+'</td>'
                         content += '</tr>'
                         });
                         }
                         content += '</table>';
                         content += '</td>';*/

                        //status
                        content += '<td>';
                        content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                        if (data[index].column4) {
                            $.each(data[index].column4, function (index5) {
                                content += '<tr>';
                                content += '<td>' + data[index].column4[index5] + '</td>'
                                content += '</tr>'
                            });
                        }
                        content += '</table>';
                        content += '</td>';

                        //comment
                        content += '<td>';
                        content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                        if (data[index].column5) {
                            $.each(data[index].column5, function (index6) {
                                content += '<tr>';
                                content += '<td>' + data[index].column5[index6] + '</td>'
                                content += '</tr>'
                            });
                        }
                        content += '</table>';
                        content += '</td>';

                        content += '</tr>';
                    });
                    content += '</tbody>';
                    content += '</table>';
                    content += '</fieldset>';

                    $("#fancybox").fancybox({
                        helpers: {
                            title: {
                                type: 'float'
                            }
                        }
                    });
                    $.fancybox({content: content});
                })
                .fail(function () {
                    alert("error load document checklist");
                });
        });
    }

</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'add'), 'default', true); ?>">
                    <span class='add'></span>
                    <?php echo $this->translate('Add') ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>

        </ul>
    </div>
</div>

<br/>


<div>
    <?php
    $searchbox = !empty($this->formData) ? 0 : 1;
    ?>
    <div id="search_form" style="<?php echo $searchbox == 1 ? 'display:none' : '' ?>">
        <fieldset>
            <legend><?php echo $this->translate('Search') ?></legend>
            <?php echo $this->form; ?>
        </fieldset>
    </div>
    <br/>
    <div id="stats_box" style="<?php echo $searchbox == 0 ? 'display:none' : '' ?>">
        <div id="tabs">
            <ul>
                <li><a href="#stats-1"><?php echo $this->translate('By Status') ?></a></li>
                <li><a href="#stats-2"><?php echo $this->translate('By Intake') ?></a></li>
            </ul>
            <div id="stats-1">
                <ul class="stats">
                    <?php foreach ($this->statusCount as $status => $total) { ?>
                        <li><a href="#"
                               onclick="selectStatus('<?php echo $status ?>'); return false;"><?php echo $status ?></a>
                            <label <?php echo $total == 0 ? 'class="empty"' : '' ?>><?php echo number_format($total) ?></label>
                        </li>
                    <?php } ?>
                </ul>
            </div>
            <div id="stats-2" style="display:none">
                <ul class="stats">
                    <?php foreach ($this->intakeCount as $status => $total) { ?>
                        <li><a href="#"
                               onclick="selectIntake('<?php echo $status ?>'); return false;"><?php echo $status ?></a>
                            <label <?php echo $total == 0 ? 'class="empty"' : '' ?>><?php echo number_format($total) ?></label>
                        </li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>

    <br/><br/>

    <h3><?php echo $this->translate('Applicants') ?> <span
            class="label"><?php echo number_format($this->total) ?></span></h3>

    <?php
    //echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0" id="applist">
        <tr>
            <th width="20%"><?php echo $this->translate("Applicant Name"); ?></th>
            <th><?php echo $this->translate("Applicant ID"); ?></th>
            <th width="5%"><?php echo $this->translate("Intake"); ?></th>
            <th width="10%"><?php echo $this->translate("Programme"); ?></th>
            <th width="10%"><?php echo $this->translate("Study Mode"); ?></th>
            <th width="10%"><?php echo $this->translate("Structure"); ?></th>
            <th width="10%"><?php echo $this->translate("Student Category"); ?></th>
            <th><?php echo $this->translate("Status"); ?></th>
            <th><?php echo $this->translate("Source"); ?></th>
            <th><?php echo $this->translate("Created Date"); ?></th>
            <th width="5%"><?php echo $this->translate(""); ?></th>
        </tr>

        <?php
        $i = 0;
        $appDocumentDB = new App_Model_Application_DbTable_ApplicantDocument();

        foreach ($this->paginator as $entry):

            $photo = $appDocumentDB->getDataArrayBySection($entry['at_trans_id'], 2, 'Passport sized photo');
            $app_photo = '';
            if (!empty($photo)) {
                $app_photo = $this->baseUrl() . '/thumb.php?s=1&w=80&f=' . DOCUMENT_PATH . $photo[0]['ad_filepath'];
            }
            ?>
            <tr>
                <td>
                    <a class="tooltip"
                       href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $entry['at_trans_id']), 'default', true); ?>"><?php echo $entry['appl_fname'] . " " . $entry['appl_mname'] . " " . $entry['appl_lname']; ?></a>
                    <div class="tooltiptext">
                        <div class="vcard">
                            <div class="photo">
                                <?php if ($app_photo != '') { ?>
                                    <div class="app-photo"><img src="<?php echo $app_photo ?>" alt="photo"/></div>
                                <?php } else { ?>
                                    <div class="app-photo nophoto"><img
                                            src="<?php echo $this->baseUrl() ?>/images/user_placeholder.png" width="80"
                                            alt="nophoto"
                                            title="<?php echo $this->translate('Applicant has not uploaded any photo') ?>"/>
                                    </div>
                                <?php } ?>
                            </div>
                            <div class="info">
                                <p><?php echo $entry['appl_fname'] . " " . $entry['appl_mname'] . " " . $entry['appl_lname']; ?></p>
                                <p>
                                    <strong><?php echo $this->translate('Date Submitted') ?></strong>: <?php echo format_date($entry['at_submit_date']) ?>
                                </p>
                                <p>
                                    <strong><?php echo $this->translate('Email') ?></strong>: <?php echo $entry['appl_email'] ?>
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center"><?php echo $entry['at_pes_id']; ?></td>
                <td align="center"><?php echo $entry['IntakeId'] ?></td>
                <td align="center">
                    <span class="tooltip2"><?php echo $entry['ProgramCode'] ?></span>
                    <div class="tooltiptext">
                        <?php echo $entry['ProgramName'] ?>
                    </div>
                </td>
                <td><?php echo $entry['StudyMode'] ?></td>
                <td><?php echo $entry['ProgramType']  ?></td>
                <td align="center"><?php echo isset($entry['appl_category_name']) ? $entry['appl_category_name'] : ''; ?></td>
                <td align="center"><?php echo $entry['at_status_name'] ?></td>
                <td align="center"><?php echo $entry['created_role'] ?></td>
                <td align="center"><?php echo format_date_to_view($entry['create_date'],'full') ?></td>
                <td>

                    <a href="#" class="navlink"
                       onclick="return togglemenu(this)"><?php echo $this->translate('Options') ?></a>
                    <div class="nav-dropdown">
                        <ul>
                            <li>
                                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $entry['at_trans_id']), 'default', true); ?>"><?php echo $this->translate('Edit') ?></a>
                            </li>
                            <li>
                                <a href='<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'view', 'txn_id' => $entry['at_trans_id']), 'default', true); ?>'><?php echo $this->translate('Summary'); ?></a>
                            </li>
                            <li><a onclick="return viewChecklist(<?php echo $entry['at_trans_id']; ?>)"
                                   id="viewChecklist" href="javascript:void(0);"
                                   title="<?php echo $entry['appl_fname'] . ' ' . $entry['appl_mname'] . ' ' . $entry['appl_lname']; ?>"><?php echo $this->translate('View Checklist'); ?></a>
                            </li>
                            <li>
                                <a href='<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'account', 'id' => $entry['at_trans_id']), 'default', true); ?>'><?php echo $this->translate('Account Statement'); ?></a>
                            </li>
                            <li>
                                <a href='<?php echo $this->url(array('module' => 'application', 'controller' => 'checklist-verification', 'action' => 'checklist-verification', 'id' => $entry['at_trans_id'], 'programScheme' => $entry['ap_prog_scheme'], 'stdCtgy' => $entry['appl_category']), 'default', true); ?>'><?php echo $this->translate('Checklist Verification'); ?></a>
                            </li>
                            <li>
                                <a href='<?php echo $this->url(array('module' => 'application', 'controller' => 'applicant-approval', 'action' => 'edit', 'id' => $entry['at_trans_id'], 'stdCtgy' => $entry['appl_category']), 'default', true); ?>'><?php echo $this->translate('Applicant Approval'); ?></a>
                            </li>
                            <?php if ($this->iduser == 1) { ?>
                                <li><a style="color:red"
                                       href='<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'delete', 'id' => $entry['at_trans_id']), 'default', true); ?>'
                                       onclick="return sure()"><?php echo $this->translate('Delete'); ?></a></li>
                            <?php } ?>
                        </ul>
                    </div>

                    <input type="hidden"
                           value="<?php echo $entry['appl_fname'] . ' ' . $entry['appl_mname'] . ' ' . $entry['appl_lname']; ?>"
                           id="appName<?php echo $entry['at_trans_id']; ?>"/>
                </td>
            </tr>
            <?php
            $i++;
        endforeach
        ?>
    </table>
    <div class="pagination">
        <?php
        echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
        ?>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>
<style type="text/css">
    ul.stats {
        list-style: none
    }

    ul.stats li {
        width: 200px;
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    ul.stats li label {
        padding: 1px 9px 1px;
        font-size: 9px;
        font-weight: bold;
        white-space: nowrap;
        color: #ffffff;
        background-color: #6cb2d4;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        float: left;
        margin-right: 5px;
    }

    .vcard {
    }

    .vcard .photo {
        float: left;
        border: 1px solid #eee;
    }

    .vcard .info {
        margin-left: 90px;
        padding: 5px;
    }

    ul.stats li label.empty {
        background: #cdd0d2
    }
</style>
