<?php
echo $this->headScript()->appendFile($this->baseUrl().'/js/raty/lib/jquery.raty.js');
echo $this->headStyle()->appendStyle($this->baseUrl().'/js/raty/lib/jquery.raty.css');
?>
<style type="text/css">
td {
    overflow: hidden;
    width: 25%;
}
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:82px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:40%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:140px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }

.app-opt { border:1px solid #eee; padding:5px; }
</style>
<?php
$extra =   isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
		&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
		&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' 
		? 'extra-2' : 'extra';
?>
<h3 class="title"><?php echo $this->translate('APPLICANT SUMMARY'); ?></h3>
<div class="profile-summary" style="min-height: 90px; overflow: hidden;">
	<?php if ( $this->app_photo != '' ) {?>
		<div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
		<div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
	<ul>
		<li><span><?php echo $this->translate('Applicant Name')?>:</span> <?php echo $this->txnData['appl_fname'].' '.$this->txnData['appl_mname'].' '.$this->txnData['appl_lname']?></li>
		<li><span><?php echo $this->translate('Applicant ID')?>:</span> <?php echo $this->txnData['at_pes_id']?></li>
                <li><span><?php echo $this->translate('Applicant Status'); ?>:</span> <?php echo $this->txnData['StatusName']; ?></li>
                <li><span><?php echo $this->translate('Date of Application'); ?>:</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
                <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
        </ul>
	<ul>
                <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
                <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?></li>
		<li><span><?php echo $this->translate('Student Category'); ?>:</span> <?php echo $this->txnData['StudentCategory']; ?></li>
                <li><span><?php echo $this->translate('Programme')?>:</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : ''?></li>
		<li>
			<span class="<?php echo $extra?>"><?php echo $this->translate('Programme Scheme')?>:</span> 
				<?php if ( isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' ) echo $this->txnData['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '' ) echo $this->txnData['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '' ) echo $this->txnData['ProgramType'] ?>
		</li>
	</ul>
</div>
<br/>

<!-- summary -->
	<div id="summary"  class="ui-tabs-panel ui-widget-content ui-corner-bottom">
	<?php if ( isset($this->applicantinfo['BranchName']) && $this->applicantinfo['BranchName'] != '' ) { ?>
		<div class="info-branch"><?php echo $this->translate('CP')?>: <strong><?php echo $this->applicantinfo['BranchName']?></strong></div>
	<?php }	?>
	<?php 
	$i = 0;
        //var_dump($this->section_list); exit;
	foreach( $this->section_list as $section )
	{
		$i++;
		$total = 0;
		?>
		<h3 data-section="<?php echo $section['sectionID']?>"><?php echo $i?>. <?php echo $section['name']?></h3>
		
		<?php //this is for if we want to remove any fields for a specific section ?>
		<?php if ( !in_array($section['sectionID'],array(8, 17)) ) : ?>
		<table width="100%" class="table">
			<?php if ( is_array($this->sectionItems[$section['sectionID']]) ) : ?>
                        <?php 
                        /*if ($section['sectionID']==3){
                            var_dump($this->sectionItems[$section['sectionID']]); exit; 
                        }*/
                        ?>
			<?php $x = 0; $nonvar = 0; $sectotal = count($this->sectionItems[$section['sectionID']]);  ?>
			<?php foreach ( $this->sectionItems[$section['sectionID']] as $item ) : ?>
                        <?php 
                        /*if ($section['sectionID']==3){
                            var_dump($this->applicant); exit; 
                        }*/
                        ?>
			<?php $this->applicant[$item['variable']] = isset($this->applicant[$item['variable']]) ? $this->applicant[$item['variable']] : ''; ?>
			<?php $x++; $total++; if ( $x == 1 ) { ?>
			<tr>
			<?php } ?>
				<?php if ( $item['variable'] ) { ?>
				<td width="20%"><?php echo $item['name']?></td>
				<td width="30%" data-name="<?php echo $item['variable']?>">
					<?php echo ($this->applicant[$item['variable']]==false ? '-':$this->applicant[$item['variable']]);  ?>
				</td>
				<?php } else { ?>
				<?php if ( $x == 2 ) { ?>
				<tr>
				<?php } $x=0; $nonvar++; ?>
				<th colspan="4"><?php echo $item['name']?></th>
				</tr>
				<?php } ?>
			<?php if ( $x == 2 ) { ?>
			</tr>
			<?php $x = 0; } ?>
			<?php //we have to fill the table back with empty cells if the total rows is not an even number ?>
			<?php if ( $total == $sectotal && $sectotal % 2 != 0 ) :?>
				<td width="20%"></td>
				<td width="30%"></td>
			</tr>
			<?php endif; ?>
			<?php endforeach; ?>
			<?php endif; ?>
		</table>

		<br />

		<?php
		endif; //

		/* --------------------------
		*	SECTION-SPECIFIC
		* -------------------------- */

		//Employment Details
		if ( $section['sectionID'] == 7 )
		{
			?>
			<?php if( count($this->appEmployment)>0 ){?>
			<br />
			<table id='employement' class="table" width="100%">
			<thead>
				<tr>	
					<td><b><?php echo $this->translate('Employment Status');?></b></td>	
					<td><b><?php echo $this->translate('Company Info');?></b></td>	
					<td><b><?php echo $this->translate('Designation');?></b></td>	
					<td><b><?php echo $this->translate('Position Level');?></b></td>	
					<td><b><?php echo $this->translate('Service Duration');?></b></td>	
					<td><b><?php echo $this->translate('Industry');?></b></td>		
					<td></td>
				</tr>	
			</thead>

			<?php 
				foreach($this->appEmployment as $e){	
				?>
				<tr>
					<td><?php echo $e['status'];?></td>
					<td><?php echo $e['ae_comp_name'].'<br>';
							  echo $e['ae_comp_address'].'<br>';
							  echo $e['ae_comp_phone'].'<br>';
							  echo $e['ae_comp_fax'];
						?>
					</td>		
					<td><?php echo $e['ae_designation'];?></td>
					<td><?php echo $e['position'];?></td>
					<td><?php if($e['emply_year_service']){ echo $e['emply_year_service'].' year(s)'; }else { echo $e['ae_from'].' - '.$e['ae_to']; } ?></td>			
					<td><?php echo $e['industry'];?></td>		
					<td>
					<?php if(count($e['documents'])>0){?>
						<a href='<?php echo '/documents'.$e['documents'][0]['ad_filepath'];?>' target='_blank'><?php echo $this->translate('View');?></a></td>		
					<? } ?>		
					
				</tr>
			<?php } ?>
			</table>
			
			<br />
			<?php  
			}
		}

		//Working XP
		if ( $section['sectionID'] == 8 ) { 
			?>
			<table border="0" width='100%' class="table">
				<tr>
					
					<th colspan="<?php echo count($this->yearofIndustry)+2;?>"><?php echo $this->translate('Years of Industry')?></th>
				</tr>
				<?php 
				$appWorkExpDB = new App_Model_Application_DbTable_ApplicantWorkingExperience();
				foreach($this->industryWorkingExperience as $index=>$pl){
					$industry = $appWorkExpDB->getData($this->session_transactionID,$pl["idDefinition"]);
					if(isset($industry) && $industry['aw_industry_id']!=''){
						$sel = 'checked';	
						$yof_disabled = '';						 
					}else{
						$sel = '';
						$yof_disabled='disabled';
					}						
				?>
				<tr>					
					<td width="5%">
						<input type="checkbox" name='iwe[]' id='iwe<?php echo $pl["idDefinition"]?>' value='<?php echo $pl["idDefinition"]?>' <?php echo $sel;?> onclick='enableYOF(this.value)'>
					</td>
					<td ><?php echo $pl['DefinitionDesc']?></td>
					
					<?php 
					foreach($this->yearofIndustry as $yi){
						if($yi['idDefinition']==$industry['aw_years']){
							$sel_yof = 'checked';
						}else{
							$sel_yof = '';
						}
					?>
					<td><input type="radio" name='yof[<?php echo $pl["idDefinition"]?>]' class='yof_<?php echo $pl["idDefinition"]?>' value='<?php echo $yi['idDefinition']?>' <?php echo $sel_yof;?> <?php echo $yof_disabled;?>><?php echo $yi['DefinitionDesc']?></td>
					<?php }?>
				</tr>
				
				<?php }?>
			</table>

			<br />
			<?php
		}

		//declaration
		if ( $section['sectionID'] == 17 )
		{
			$dec_data = array();
			if ( is_array($this->sectionItems[17] ) )
			{
				foreach ( $this->sectionItems[17] as $dec_item ) 
				{
					if ( $dec_item['variable'] == 'declaration' )
					{
						$dec_data = $dec_item;
					}
				}
			}

			if ( !empty($dec_data) )
			{
				?>
				<div id="declaration-wrap">
					<div class="tos">
						<?php echo nl2br(strip_tags($dec_data['sectionTagInstruction']))?>
					</div>
					<div class="checkbox">
						<input type="checkbox" checked="checked" name="decchk" />
					</div>
					<div class="declaration-text">
						<?php echo strip_tags($dec_data['itemTagInstruction']) ?>
					</div>
				</div>
				<?php
			}
		}
	}
	?>
	</div>

	<!-- summary -->
<br/>
<div class="form-opt">
    <button onclick="window.print();" class="btn-submit" type="button" id="print" name="print"><?php echo $this->translate('Print'); ?></button>		
</div>