<script>

$(document).ready(function() {
	
	var sectionid = '<? echo $this->mainsectionid ?>';
	
	//get state
	if(sectionid==2){	
		
		//disabled prev_student
		$('input[name=prev_student]').attr("disabled",true);
		$('#bumiputra_eligibility').attr("disabled",true);		

		//set dob
		var dob = "<? echo $this->profile['appl_dob'];?>";		
		var arr_dob = dob.split('-');
		$('#dob-day').val(arr_dob[0]);
		$('#dob-month').val(arr_dob[1]);
		$('#dob-year').val(arr_dob[2]);
		calculateAge(arr_dob[0]+'/'+arr_dob[1]+'/'+arr_dob[2]);
				
		getState($('#country_perm').val(),'state_perm','<? echo $this->profile['appl_state'];?>');
		getState($('#country_corr').val(),'state_corr','<? echo $this->profile['appl_cstate'];?>');	
				
	}

	//english proficiency
	if(sectionid==4){	
		 var row = '<tr id="english_score_note"><td>&nbsp;</td><td>&nbsp;</td><td><?php echo $this->note;?></td><td>&nbsp;</td></tr>';
		 var newrow = $(row);			
		 newrow.insertAfter('#english_score');

		 var val_id = '<? echo $this->applicant["english_test"]?>';			 
		 if(val_id){
		 	getDetail(val_id,'load');
		 }
	}

	

 	
	//get state		
	if(sectionid==16){			
		getState($('#r_ref1_country').val(),'r_ref1_state','<? echo $this->applicant['r_ref1_state'];?>');
		getState($('#r_ref2_country').val(),'r_ref2_state','<? echo $this->applicant['r_ref2_state'];?>');			
	}

	//declartion
	if(sectionid==17){
		$('#submit-btn').attr('disabled','disabled');
	}


	//element to be hide
	var dataArray = new Array( "fin_sponsor_name", "fin_type_scholarship", "file_financial_statement","fin_apply","file_sponsorship_letter","fin_scholarship_secured","file_scholarship_secured" ,"fin_scholarship_apply","file_fin_resume","visa_status","visa_expiry","studentID","password");

	//hide the element
	for ( var i = 0; i < dataArray.length; i = i + 1 ) {
		var idName = "#"+dataArray[ i ]+"_block";
		$(idName).hide();
	}
	
	

	
	
	//****financial details section
	
	//-------onchange financial method
	$( "#fin_method" ).change(function() {
	
		var method = $('#fin_method').val();
	
		display_financial_block(method);			
	});
	//-------end onchange financial method
	
	//---------onchnage scholarship
	$( "#fin_type_scholarship" ).change(function() {
	
		var method = $('#fin_type_scholarship').val();
	
		block_scholarship(method);
	});
	//---------end onchnage scholarship
	
	//****end financial details section
	
	
	
	//*****visa details
	$( "input:radio[name=visa_malaysian]" ).click(function() {
		var method = $('input:radio[name=visa_malaysian]:checked').val();
		block_visa(method);			
	});			
	//*****end visa details

	//visa details
 	if(sectionid==11){
 		var hold_visa = $('[name="visa_malaysian"]:checked').val();
 		block_visa(hold_visa);
 	}

 	if(sectionid==10){
 		var val = $( "#fin_method option:selected" ).val();
 		display_financial_block(val);

 		
 		var type = $('#fin_type_scholarship').val(); 
 		if(type!=''){		
			block_scholarship(type);
 		}
 	}
 	
});	

$('#dob').datepicker({
    onClose: function (dateText, inst) {     
		date = $( "#dob" ).val();
		date = date.split("-").reverse().join("-");	
		calculateAge(date);    
	}     
});
		
function calculateAge(birthday)
{
  birthday = new Date(birthday);  
  age = new Number((new Date().getTime() - birthday.getTime()) / 31536000000).toFixed(0);
  $('#age').val(age+' years');
}

function popupMonthCalendar(element){
	$(element).monthpicker();
}

function initCap(id) 
{
	var str = $(id).val();
	var str = str.substring(0,str.length).toUpperCase();
	var str = $(id).val(str);
}

function block_visa(method){
	
	if(method == 1){ //Applying for Scholarship
		var dataArray2 = new Array( "visa_status","visa_expiry");
		var dataArray3 = new Array( );
	}else{
		var dataArray2 = new Array( );
		var dataArray3 = new Array( "visa_status","visa_expiry" );
	}

	//alert('masuk');
	//SHOW
	for ( var i = 0; i < dataArray2.length; i = i + 1 ) {
		var idName = "#"+dataArray2[ i ]+"_block";		
			$( idName ).toggle( "slow", function() {
				// Animation complete
			});
	}

	//hide
	for ( var i = 0; i < dataArray3.length; i = i + 1 ) {
		var idName = "#"+dataArray3[ i ]+"_block";
		$(idName).hide();
	}
}

function block_scholarship(method){

	if(method == 523){ //Applying for Scholarship
		var dataArray2 = new Array( "fin_scholarship_apply","file_fin_resume" );
		var dataArray3 = new Array( "fin_scholarship_secured","file_scholarship_secured");
	}else if(method == 522){ // Secured Scholarship
		var dataArray2 = new Array( "fin_scholarship_secured","file_scholarship_secured" );
		var dataArray3 = new Array( "fin_scholarship_apply","file_fin_resume" );
	}
		
	//SHOW
	for ( var i = 0; i < dataArray2.length; i = i + 1 ) {
		var idName = "#"+dataArray2[ i ]+"_block";				
		$(idName).removeAttr('disabled');
			$( idName ).toggle( "slow", function() {
				// Animation complete.						
			});
	}

	//hide
	for ( var i = 0; i < dataArray3.length; i = i + 1 ) {
		var idName = "#"+dataArray3[ i ]+"_block";
		$(idName).hide();
	}
}


function display_financial_block(method){

	if(method == 519){ //self funding
		var dataArray2 = new Array( "file_financial_statement" );
		var dataArray3 = new Array( "file_sponsorship_letter","fin_type_scholarship","fin_scholarship_secured","file_scholarship_secured" ,"fin_scholarship_apply","file_fin_resume" );
	}else if(method == 521){ // scholarship
		var dataArray2 = new Array( "fin_type_scholarship" );
		var dataArray3 = new Array( "file_sponsorship_letter","fin_sponsor_name","file_financial_statement","fin_scholarship_secured","file_scholarship_secured" ,"fin_scholarship_apply","file_fin_resume" );
	}else if(method == 520){ // sponsorship		
		var dataArray2 = new Array( "fin_sponsor_name","file_sponsorship_letter");		
		var dataArray3 = new Array( "file_financial_statement","fin_type_scholarship","fin_scholarship_secured","file_scholarship_secured" ,"fin_scholarship_apply","file_fin_resume" );
	}
		
	//SHOW

	for ( var i = 0; i < dataArray2.length; i = i + 1 ) {
		var idName = "#"+dataArray2[ i ]+"_block";
			$( idName ).toggle( "slow", function() {
				// Animation complete.
			});
	}

	//hide
	for ( var i = 0; i < dataArray3.length; i = i + 1 ) {
		var idName = "#"+dataArray3[ i ]+"_block";
		$(idName).hide();
	}
}





function getState(idCountry,stateIdFormName,selectedState){
	
	var targetElement = '#'+stateIdFormName;
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'default','controller'=>'ajax-utility', 'action'=>'get-state'),'default',true);?>",
		data: {'country_id':idCountry},
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			showLoading(targetElement,'loading');
		},
		complete: function() {
			hideLoading(targetElement,'loading');
		}	
	}).done(function ( data ) {
		
		$(targetElement).empty().append('<option value=""> <?php echo $this->translate("please_select"); ?> </option>');
	
		$.each(data, function(index) {
			if(selectedState==data[index].idState){
				var selected = 'selected';
			}else{
				var selected = '';
			}
			$(targetElement).append('<option value="'+data[index].idState+'" '+selected+'> '+data[index].StateName+' </option>');
		});
	});
}

function showLoading(target,loading_id){
	$(target).hide();
	$(target).parent().append("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(target,loading_id){
	$('#'+loading_id).remove();
	$(target).show();
}	

function filladdress(element){

	if($(element).is(':checked')){
		
		var address1 = $('#address_perm1').val();
		var address2 = $('#address_perm2').val();
		var address3 = $('#address_perm3').val();
		var city = $('#city_perm').val();
		var appl_postcode = $('#postcode_perm').val();
		var country_id = $('#country_perm').val();
		var appl_state = $('#state_perm').val();
		var mobile = $('#mobile_perm').val();
		var home = $('#home_perm').val();
		var office = $('#office_perm').val();
		var fax = $('#fax_perm').val();
		
	}
	
	$('#address_corr1').val(address1);
	$('#address_corr2').val(address2);
	$('#address_corr3').val(address3);
	$('#city_corr').val(city);
	$('#postcode_corr').val(appl_postcode);
	$('#country_corr').val(country_id);
	$('#state_corr').val(appl_state);
	$('#mobile_corr').val(mobile);
	$('#home_corr').val(home);
	$('#office_corr').val(office);
	$('#fax_corr').val(fax);
}


//english proficiency
function getDetail(val,act){

	$('#english_test_det_block').remove();
	var detail = "<?echo $this->applicant['english_test_detail'];?>";

	if(val==509){ //none
		//drop down
		 
		 var row = '<tr id="english_test_det_block"><td><?php echo $this->translate("Format");?></td><td>:</td><td>'+
		           '<select name="english_test_detail">'+
		           '<option value=""><?php echo $this->translate("-- Please Select --");?></option>'+
		           '<option value=1 if(detail==1){ <? echo 'selected';?> }><?php echo $this->translate("ibt");?></option>'+
		           '<option value=2 if(detail==2){ <? echo 'selected';?> }><?php echo $this->translate("cbt");?></option>'+
		           '<option value=3 if(detail==3){ <? echo 'selected';?> }><?php echo $this->translate("pbt");?></option>'+
		           '</select>'+
		 		   '</td><td>&nbsp;</td></tr>';
		 var newrow = $(row);			
		 newrow.insertAfter('#english_test_block');
	}
	
	if(val==513){ //others
		//able to fill in

		 var row = '<tr  id="english_test_det_block"><td><?php echo $this->translate('Please specify');?></td><td>:</td><td><input type="text" name="english_test_detail" value="<?echo $this->applicant['english_test_detail'];?>"></td><td>&nbsp;</td></tr>';
		 var newrow = $(row);			
		 newrow.insertAfter('#english_test_block');
	}

	if(val==584){ //none
		//drop down
		 var row = '<tr  id="english_test_det_block"><td>&nbsp;</td><td>&nbsp;</td><td>'+
		           '<select name="english_test_detail">'+
		           '<option value=""><?php echo $this->translate("-- Please Select --");?></option>'+
		           '<option value=1 if(detail==1){ <? echo 'selected';?> }><?php echo $this->translate("Native English Speaker");?></option>'+
		           '<option value=2 if(detail==2){ <? echo 'selected';?> }><?php echo $this->translate("Education was In English");?></option>'+
		           '</select>'+
		 		   '</td><td>&nbsp;</td></tr>';
		 var newrow = $(row);			
		 newrow.insertAfter('#english_test_block');
	}
}

function enableYOF(iwe_id){			
	var element_iwe = '#iwe'+iwe_id;			
	var element_yof = '.yof_'+iwe_id;

	 if($(element_iwe).is(':checked')){				
			$(element_yof).removeAttr('disabled');
	 }else{
		    $(element_yof).attr('checked', false);
		    $(element_yof).attr('disabled','disabled');
		    
	 }
}


function enableAccomodation(val){	
	if(val==1){
		//enable
		$('.accomodationtype').removeAttr('disabled');
	}else{			
		 $('.accomodationtype').attr('checked', false);
		 $('.accomodationtype').attr('disabled','disabled');
	}
}

function loadSection(pid){      
	var activeTabIdx = '<?php echo $this->section_id;?>';
	var curtab = "#tabs-"+activeTabIdx;		
	$( curtab ).load( "<?php echo $this->url(array('module'=>'application','controller'=>'index','action'=>'txn-detail','txn_id'=>$this->txn_id,'section_id'=>$this->section_id),'default',true) ?>/pid/"+pid );
}

function formValidation(element){
	
	var formData = $( element ).serialize();
	
   //field validation
   var data = <?php echo $json = Zend_Json::encode($this->onlineapplicationitem); ?>;
   for(var i=1; i<data.length; i++){		  
	   if(data[i].compulsory==1){			  
		   var element_item = '#'+data[i].variable;
			if( $(element_item).val()==''){
				alert('<? echo $this->translate("Please fill in all required fields")?>');
				return false;
			}
	   }		 
   }//end for field validation
   		
   return true;
} 

</script>
<?php 
if($this->mainsectionid==7){
	echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/monthpicker/jquery.mtz.monthpicker.js');
}
$hide = "style=''";	
if($this->mainsectionid==1 || $this->mainsectionid==3 || $this->mainsectionid==5 || $this->mainsectionid==6 || $this->mainsectionid==7){		
	if($this->pid){
		$hide = "style=''";	
	}else{
		$hide = "style='display:none'";	
	}	
}	
?>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
	</div>
</div>
<br></br>




<div id ='contentForm' <?php echo $hide;?> >
<fieldset>
<form enctype="multipart/form-data" name="sectionForm" id="sectionForm" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'update-application','id'=>$this->section_id),'default',true);?>" onsubmit="return formValidation(this);">
<input type='hidden' name='primary_id' value='<?php echo $this->pid;?>'></input>
<input type='hidden' name='txn_id' value='<?php echo $this->txn_id;?>'></input>
<input type='hidden' name='appl_id' value='<?php echo $this->txnData['at_appl_id'];?>'></input>


<table cellpadding="1" id="sectionName_<?php echo $this->mainsectionid;?>" class="sectionName_<?php echo $this->mainsectionid;?>" width="100%">
<tbody>
	<tr><td colspan=4><?php echo $this->section['instruction']?></td></tr>
<?php 
	
	foreach($this->onlineapplicationitem as $data){
		
		//if type = calendar
		if($data['form_type'] == 'calendar' || $data['form_type'] == 'date'){
			
			$itemCalendar = $data['variable'];
			echo "<script>$(document).ready(function(){
			$( '#".$itemCalendar."' ).datepicker({ dateFormat: 'dd-mm-yy' });});</script>";
		}

		$compulsory = "";
		if($data['compulsory'] == 1){
			$compulsory = "<font color='red'>*</font>";
		}

		
		if($data['variable']){			
		
		if($data['itemTagInstruction']!='' && $data['itemInstructionPosition']==1){
				//create row top item
				echo '<tr><td colspan=4>'.$data['itemTagInstruction'].'</td></tr>';	
		}
			
		if($data['variable'] == 'industry_working_experience'){?>
		
		<tr id="<?php echo $data['variable']."_block";?>">
			<td colspan="3">
				<table border="0" width='100%' cellpadding=5 cellspacing=2>
					<tr>
						<td  width="40%" colspan="2"></td>
						<td  width="60%" colspan="<?php echo count($this->yearofIndustry);?>"><?php echo $this->translate('Years of Industry')?></td>
					</tr>
					<?php 
					$appWorkExpDB = new App_Model_Application_DbTable_ApplicantWorkingExperience();
					foreach($this->industryWorkingExperience as $index=>$pl){
						$industry = $appWorkExpDB->getData($this->txn_id,$pl["idDefinition"]);
						if(isset($industry) && $industry['aw_industry_id']!=''){
							$sel = 'checked';	
							$yof_disabled = '';						 
						}else{
							$sel = '';
							$yof_disabled='disabled';
						}						
					?>
					<tr>					
						<td width="5%">
							<input type="checkbox" name='iwe[]' id='iwe<?php echo $pl["idDefinition"]?>' value='<?php echo $pl["idDefinition"]?>' <?php echo $sel;?> onclick='enableYOF(this.value)'>
						</td>
						<td ><?php echo $pl['DefinitionDesc']?></td>
						
						<?php 
						foreach($this->yearofIndustry as $yi){
							if($yi['idDefinition']==$industry['aw_years']){
								$sel_yof = 'checked';
							}else{
								$sel_yof = '';
							}
						?>
						<td><input type="radio" name='yof[<?php echo $pl["idDefinition"]?>]' class='yof_<?php echo $pl["idDefinition"]?>' value='<?php echo $yi['idDefinition']?>' <?php echo $sel_yof;?> <?php echo $yof_disabled;?>><?php echo $yi['DefinitionDesc']?></td>
						<?php }?>
					</tr>
					
					<?php }?>
				</table>
			</td>
		</tr>
		
		<?php }elseif($data['variable'] == 'health_condition'){?>
			<tr>	
				<td colspan="3"><?php echo $this->form->$data['variable'];?></td>				
			</tr>		
		<?php }elseif($data['variable'] == 'acd_type'){?>
			<tr>
				<td colspan='4'><b><?php echo $this->translate($data['name'])?></b></td>				
			</tr>
			<tr>
				<td colspan='4'>
				<?php echo $this->translate($data['description'])?></td>				
			</tr>
			<tr>
				<td colspan='4'><?php echo $this->table; ?></td>				
			</tr>
			<tr>
				<td colspan='4'><?php echo $this->translate('Download Booking Guidelines and Terms and Conditions for Accomodation');?></td>				
			</tr>
		<?php }elseif($data['variable'] == 'ird_section'){?>
			<tr>
				<td colspan='4'><?php echo $this->translate('For your first semester, you are registered under the following compulsory paper(s):')?></td>				
			</tr>
			<tr>
				<td colspan='4'><br><?php echo $this->table;?><br></td>				
			</tr>
			<tr>
				<td colspan='4'><?php echo $this->translate('Should you wish to add more papers, you can do so after your admission is complete')?></td>				
			</tr>
		<?php }elseif($data['variable'] == 'declaration'){?>
			<tr>
				<td colspan='4'><input type='checkbox' name='declaration_status' value='' <?php if($this->txnData['at_status'] != 'DRAFT') echo 'checked';?> ><?php echo $data['description']?></td>				
			</tr>			
		<?php }elseif($data['variable'] == 'emply_position_level'){?>
			<tr>
				<td width="20%"><?php echo $this->translate($data['name'])?><?php echo $compulsory?></td>
				<td width="2%">:</td>
				<td>
						<table border="0"  width="100%">
							<tr>
								<th colspan="2"><b><?php echo $this->translate('Position Level')?></b></th>
								<th><b><?php echo $this->translate('Description')?></b></th>
							</tr>
							<?php 
								foreach($this->positionLevel as $pl){
									if($this->position==$pl['idDefinition']){
										$select = 'checked';	
									}else{
										$select ='';	
									}
								?>
							<tr>
								<td><input type="radio" name='emp_position' id='emp_position' value='<?php echo $pl['idDefinition']?>' <?php echo $select;?>></td>
								<td><?php echo $pl['DefinitionDesc']?></td>
								<td><?php echo $pl['Description']?></td>
							</tr>				
							<?php }?>
						</table>
				</td>	
				<td>&nbsp;</td>			
			</tr>
			
		<?php }else{?>
				<tr id="<?php echo $data['variable']."_block";?>">
					<td width="20%"><?php echo $this->translate($data['name'])?><?php echo $compulsory?></td>
					<td width="2%">:</td>
					<td width="60%">					
						<?php if($data['form_type'] == 'file'){?>			
							<input type="file" name="<?php echo $data['variable'].'-'.$data['item_dclId'];?>[]" id =""> 				
							<?php if($this->sectionid==4 || $this->sectionid==10){?>
								<a href='#' onclick='addFile("<?php echo $data['variable'];?>","<?php echo $data['item_dclId'];?>")'><?php echo $this->translate('Add More File')?></a>
							<?php } ?>
						<?php } else {
							echo $this->form->$data['variable'];
						}?>
					</td>		
					<td width="20%">
						<?php if($data['description']){?>
							<img src="<?php echo $this->baseUrl();?>/images/inceif/icon-info.png">
						<?php }?>
					</td>
				</tr>
		<?php
			}			
			if($data['itemTagInstruction']!='' && $data['itemInstructionPosition']==2){
				//create row under item
				echo '<tr><td colspan=4>'.$data['itemTagInstruction'].'</td></tr>';	
			}
		}else{
		?>
				<tr>
					<td colspan="4">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="4"><h3><?php echo $this->translate($data['name'])?><?php echo $compulsory;?></h3> </td>
				</tr>
				
				<?php if($data['id'] == 42){?>
				<tr>
					<td colspan="4"><input type="checkbox" name="check_opt" id="check_opt" onclick="filladdress(this);"> <?php echo $this->translate('Replicate Permanent Mailing Address')?></td>
				</tr>
				<?php } //end if id=42 ?>
				
	<?php }
	}
	?>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>
		<?php if($this->mainsectionid!=13 && $this->mainsectionid!=17){?>
		<input type="submit" name="submit-btn"  id='submit-btn' value="Save" class="btn-submit">&nbsp;<?php echo $this->addMaxNote;?>
		<?php }?>
	</td>
	</tr>
	
</tbody>
</table>


</form>
</fieldset>
<br></br>
</div>
<!-- END INSERT FORM -->






<?php if($this->mainsectionid==1){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate('Program Name')?></th>
		<td><?php echo $this->program['program_name']; ?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Program Mode')?></th>
		<td><?php echo $this->program['ProgramMode'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Study Mode')?></th>
		<td><?php echo $this->program['StudyMode'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Program Type')?></th>
		<td><?php echo $this->program['ProgramType'];?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate('Intake')?></th>
		<td><?php echo $this->program['Intake'];?></td>
	</tr>
</table>
<?php } ?>



<?php if($this->mainsectionid==3 && (count($this->qualification)>0)){?>
<h3><?php echo $this->translate('Education List');?></h3>
<table id='qualification' class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
<thead>	
	<tr>
	<?php 
	foreach($this->onlineapplicationitem as $item){ 
		if($item['form_type']!='file'){
		?>
		<th><b><?php echo $item['name'];?></b></th>		
	<?php } }?>
	    <th><b><?php echo $this->translate('Documents');?></b></th>	    
		<th><b><?php echo $this->translate('Action');?></b></th>
	</tr>	
</thead>

<?php 
	foreach($this->qualification as $q){	
	?>
	<tr>
		<td><?php echo $q['QualificationLevel'];?></td>
		<td><?php echo $q['ae_degree_awarded'];?></td>
		<td><?php echo $q['class_degree'];?></td>
		<td><?php echo $q['ae_result'];?></td>
		<td><?php echo $q['ae_year_graduate'];?></td>
		<td><?php echo $q['ae_medium_instruction'];?></td>
		<td><?php echo $q['InstitutionName'];?></td>
		<td align='center'>
		<?php 			
			if(count($q['documents'])>0){
			    echo '<ul>';
				foreach ($q['documents'] as $doc){
					$file_url = '/documents'.$doc['ad_filepath'];
					echo '<li><a href="'.$file_url.'" target="_blank">'.$doc['dcl_name'].'</a></li>';
				}
				echo '</ul>';
			}//end if
		?>
		</td>
		<td>
		<?php if($this->txnData['at_status']=='DRAFT' && $this->txnData['at_status']!='ENROLLED'){?>		
			<a href='#' onclick='loadSection("<?php echo $q['ae_id']?>")'><?php echo $this->translate('Edit');?></a>
		<?php } ?>
		</td>		
	</tr>	
<?php } ?>
	
</table>
<?php  } ?>


<?php if($this->mainsectionid==5 && (count($this->qp_list)>0)){?>
<h3><?php echo $this->translate('Quantitative Proficiency List');?></h3>
<table id='quantitative' class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
<thead>	
	<tr>
	<?php 
	foreach($this->onlineapplicationitem as $item){ 
		if($item['form_type']!='file'){
		?>
		<th><b><?php echo $item['name'];?></b></th>		
	<?php } }?>
	    <th><b><?php echo $this->translate('Documents');?></b></th>		
	    <th><b><?php echo $this->translate('Action');?></b></th>		
	</tr>	
</thead>

<?php 
	foreach($this->qp_list as $qp){	
	?>
	<tr>
		<td><?php echo $qp['qp_level'];?></td>
		<td><?php echo $qp['qp_grade_mark'];?></td>
		<td><?php echo $qp['qp_institution'];?></td>	
		<td align='center'>
		<?php 			
			if(count($qp['documents'])>0){
			    echo '<ul>';
				foreach ($qp['documents'] as $doc){
					$file_url = '/documents'.$doc['ad_filepath'];
					echo '<li><a href="'.$file_url.'" target="_blank">'.$doc['ad_filename'].'</a></li>';
				}
				echo '</ul>';
			}//end if
		?>
		</td>		
		<td>
			<?php if($this->txnData['at_status']=='DRAFT' && $this->txnData['at_status']!='ENROLLED'){?>		
				<a href='#' onclick='loadSection("<?php echo $qp['qp_id']?>")'><?php echo $this->translate('Edit');?></a>
			<?php } ?>	
		</td>	
	</tr>
<?php } ?>
	
</table>
<?php  } ?>


<?php if($this->mainsectionid==6 && (count($this->rpd_list)>0)){?>
<h3><?php echo $this->translate('Research/Publication Details List');?></h3>
<table id='research' class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
<thead>	
	<tr>
	<?php 
	foreach($this->onlineapplicationitem as $item){ 
		if($item['form_type']!='file'){
		?>
		<th><b><?php echo $item['name'];?></b></th>		
	<?php } }?>
	    <th><b><?php echo $this->translate('Documents');?></b></th>	
	    <th><b><?php echo $this->translate('Action');?></b></th>		
	</tr>	
</thead>

<?php 
	foreach($this->rpd_list as $rpd){	
	?>
	<tr>
		<td><?php echo $rpd['rpd_title'];?></td>
		<td><?php echo date('d-m-Y',strtotime($rpd['rpd_date']));?></td>
		<td><?php echo $rpd['rpd_publisher'];?></td>	
		<td align='center'>
		<?php 			
			if(count($rpd['documents'])>0){
				
			    echo '<ul>';
				foreach ($rpd['documents'] as $doc){
					$file_url = '/documents'.$doc['ad_filepath'];
					echo '<li><a href="'.$file_url.'">'.$doc['ad_filename'].'</a></li>';
				}
				echo '</ul>';
			}//end if
		?>
		</td>
		<td><a href='#' onclick='loadSection("<?php echo $rpd['rpd_id']?>")'><?php echo $this->translate('Edit');?></a></td>
	</tr>
<?php } ?>
	
</table>
<?php  } ?>


<?php if(($this->mainsectionid==4 || $this->mainsectionid==10 || $this->mainsectionid==14 || $this->mainsectionid==15) && (count($this->app_docs)>0)){?>
<h2><?php echo $this->translate('Uploaded Files');?></h2>
<table id='docs' class="" width="100%" cellpadding="5" cellspacing="2" border="0">
<thead>
	<tr>
		<th><b><?php echo $this->translate('No');?></b></th>	
		<th><b><?php echo $this->translate('Filename');?></b></th>		
	</tr>
</thead>
<tbody>	
		<?php foreach($this->app_docs as $index=>$doc){?>
	<tr>
		<td><?php echo $index+1;?>.</td>
		<td><a href="<?php echo '/documents'.$doc['ad_filepath'];?>" target='_blank'><?php echo $doc['ad_filename']?></a></td>		
	</tr>
	<?php } ?>
</tbody>
</table>
<?php  } ?>



<?php if($this->mainsectionid==7 && (count($this->appEmployment)>0)){?>
<h3><?php echo $this->translate('Employment Details List');?></h3>
<table id='employement' class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
<thead>	
	<tr>	
		<th><b><?php echo $this->translate('Employment Status');?></b></th>	
		<th><b><?php echo $this->translate('Company Info');?></b></th>	
		<th><b><?php echo $this->translate('Designation');?></b></th>	
		<th><b><?php echo $this->translate('Position Level');?></b></th>	
		<th><b><?php echo $this->translate('Service Duration');?></b></th>	
		<th><b><?php echo $this->translate('Industry');?></b></th>  
		<th><b><?php echo $this->translate('Job Description');?></b></th>
		<th><b><?php echo $this->translate('Employment Letter');?></b></th>		
		<th><b><?php echo $this->translate('Action');?></b></th>
		
	</tr>	
</thead>

<?php 
	foreach($this->appEmployment as $e){	
	?>
	<tr>
		<td><?php echo $e['status'];?></td>
		<td><?php echo $e['ae_comp_name'].'<br>';
				  echo $e['ae_comp_address'].'<br>';
				  echo $e['ae_comp_phone'].'<br>';
				  echo $e['ae_comp_fax'];
			?>
		</td>		
		<td><?php echo $e['ae_designation'];?></td>
		<td><?php echo $e['position'];?></td>
		<td><?php echo $e['ae_from'].' - '.$e['ae_to'];?></td>			
		<td><?php echo $e['industry'];?></td>
		<td><?php echo $e['ae_job_desc'];?></td>
		<td align='center'>
		<? if(count($e['documents'])>0){?>
			<a href='<?php echo '/documents'.$e['documents'][0]['ad_filepath'];?>' target='_blank'><?php echo $this->translate('View');?></a></td>		
		<? } ?>		
		<td  align='center'>
		<?php //if($this->txnData['at_status']=='DRAFT' && $this->txnData['at_status']=='ENROLLED'){?>		
			<a href='#' onclick='loadSection("<?php echo $e['ae_id']?>")'><?php echo $this->translate('Edit');?></a>
		<?php //} ?>
		</td>
	</tr>
<?php } ?>
	
</table>
<?php  } ?>
