<style type="text/css">
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:82px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:40%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:140px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }
.profile-summary.fixed { position:fixed; top:33px; z-index:5 }

.app-opt { border:1px solid #eee; padding:5px; }
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'edit','id'=>$this->txn_id),'default',true);?>"><span class='edit'></span><?php echo $this->translate('Edit')?></a>				
			</li>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
			
		</ul>
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<?php
$extra =   isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
		&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
		&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' 
		? 'extra-2' : 'extra';
?>
<div class="profile-summary" style="min-height: 90px; overflow: hidden;">
	<?php if ( $this->app_photo != '' ) {?>
		<div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
		<div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
	<ul>
		<li><span><?php echo $this->translate('Applicant Name')?>:</span> <?php echo $this->txnData['appl_fname'].' '.$this->txnData['appl_mname'].' '.$this->txnData['appl_lname']?></li>
		<li><span><?php echo $this->translate('Applicant ID')?>:</span> <?php echo $this->txnData['at_pes_id']?></li>
                <li><span><?php echo $this->translate('Applicant Status'); ?>:</span> <?php echo $this->txnData['StatusName']; ?></li>
                <li><span><?php echo $this->translate('Date of Application'); ?>:</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
                <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
        </ul>
	<ul>
                <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
                <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?></li>
		<li><span><?php echo $this->translate('Student Category'); ?>:</span> <?php echo $this->txnData['StudentCategory']; ?></li>
                <li><span style="height:32px;"><?php echo $this->translate('Programme')?>:</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : ''?></li>
		<li>
			<span class="<?php echo $extra?>"><?php echo $this->translate('Programme Scheme')?>:</span> 
				<?php if ( isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' ) echo $this->txnData['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '' ) echo $this->txnData['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '' ) echo $this->txnData['ProgramType'] ?>
		</li>
	</ul>
</div>
<br/>

<!-- tabs -->
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	
	<?php
	echo $this->partial("index/view-tabs.phtml", array('tab' => $this->tab, 'txn_id' => $this->txn_id ));
	?>

	<!-- audit -->
	<div id="audit" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		
		<h3><?php echo $this->translate('Update History')?></h3>

		<br />

		<table width="100%" class="table">
			<thead>
				<tr>
					<th width="50%"><?php echo $this->translate('Type')?></th>
					<th><?php echo $this->translate('Date')?></th>
					<th><?php echo $this->translate('User')?></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ( $this->audit_history as $log ) { ?>
				<tr>
					<td><a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'audit-details','id'=>$log["log_id"],'txn_id'=>$log['log_identity'],'sid'=>$log['log_type_id']),'default',true);?>"><?php echo $log['log_type']?></a></td>
					<td><?php echo format_date_to_view($log['log_date'],'d-m-Y, g:i a')?></td>
					<td><?php echo $log['loginName']?></td>
					<td class="options center"><a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'audit-details','id'=>$log["log_id"],'txn_id'=>$log['log_identity'],'sid'=>$log['log_type_id']),'default',true);?>"><?php echo $this->translate('View')?></a></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>

	</div>
	<!-- /audit -->

</div>
<!-- /tabs -->

<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->baseUrl()?>/application/index";
	return false;
}

$(function()
{
	$('.ui-tabs-nav li').hover(
        function () {
            $(this).addClass('ui-state-hover');
        },
        function () {
            $(this).removeClass('ui-state-hover');
        }
    );
});
</script>