<style type="text/css">
    .table td input {
        vertical-align: bottom
    }

    #declaration-wrap {
    }

    #declaration-wrap .checkbox {
        float: left;
    }

    #declaration-wrap .declaration-text {
        margin-left: 25px;
        line-height: 1.6em
    }

    .message {
        margin-bottom: 10px;
    }

    .textarea {
        width: 250px;
        height: 100px;
        border: 1px solid #ccc;
        padding: 3px;
        font: normal 11px Verdana;
    }

    .label_checkbox {
    }

    .label_checkbox input {
        margin-right: 5px
    }

    .profile-summary {
        box-sizing: content-box;
        min-height: 82px;
        margin-top: 5px;
        margin: 0;
        padding: 15px;
        border: 1px solid #eee;
        background: #fefefe;
        position: relative;
        -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
        -moz-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
        box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
    }

    .profile-summary ul {
        margin: 0 0 0 20px;
        padding: 0;
        list-style: none;
        width: 40%;
        float: left;
        margin-right: 10px;
    }

    .profile-summary ul li {
        margin-bottom: 5px;
        overflow: hidden
    }

    .profile-summary ul li span {
        float: left;
        width: 140px;
    }

    .profile-summary .app-photo {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .profile-summary .nophoto {
        border: 1px solid #eee;
        height: 100px;
    }

    .profile-summary ul li span.extra {
        height: 30px;
    }

    .profile-summary ul li span.extra-2 {
        height: 50px;
    }

    .profile-summary.fixed {
        position: fixed;
        top: 33px;
        z-index: 5
    }

    .app-opt {
        border: 1px solid #eee;
        padding: 5px;
    }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array("module" => "default", "controller" => "application-summary", "action" => "printme", "trans_id" => $this->txn_id, "download" => 1), 'default', true); ?>"
                   target="_blank"><span class='download'></span><?php echo $this->translate('Download') ?></a>
            </li>
            <li>
                <a href="<?php echo $this->url(array("module" => "default", "controller" => "application-summary", "action" => "printme", "trans_id" => $this->txn_id), 'default', true); ?>"
                   target="_blank"><span class='print'></span><?php echo $this->translate('Print') ?></a>
            </li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'index', 'action' => 'edit', 'id' => $this->txn_id), 'default', true); ?>"><span
                        class='edit'></span><?php echo $this->translate('Edit') ?></a>
            </li>
            <li>
                <a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>

        </ul>
    </div>
</div>

<br>
<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
<?php } ?>

<?php
$extra = isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != ''
    ? 'extra-2' : 'extra';
?>
<div class="profile-summary" style="min-height: 90px; overflow: hidden;">
    <?php if ($this->app_photo != '') { ?>
        <div class="app-photo"><a href="<?php echo $this->app_photo_full ?>" class="appdoc"><img
                    src="<?php echo $this->app_photo ?>" alt="photo"/></a></div>
    <?php } else { ?>
        <div class="app-photo nophoto"><img src="<?php echo $this->baseUrl() ?>/images/user_placeholder.png"
                                            alt="nophoto"
                                            title="<?php echo $this->translate('Applicant has not uploaded any photo') ?>"/>
        </div>
    <?php } ?>
    <ul>
        <li><span><?php echo $this->translate('Applicant Name') ?>
                :</span> <?php echo $this->txnData['appl_fname'] . ' ' . $this->txnData['appl_mname'] . ' ' . $this->txnData['appl_lname'] ?>
        </li>
        <li><span><?php echo $this->translate('Applicant ID') ?>:</span> <?php echo $this->txnData['at_pes_id'] ?></li>
        <li><span><?php echo $this->translate('Applicant Status'); ?>
                :</span> <?php echo $this->txnData['StatusName']; ?></li>
        <li><span><?php echo $this->translate('Date of Application'); ?>
                :</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
        <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
    </ul>
    <ul>
        <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
        <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?>
        </li>
        <li><span><?php echo $this->translate('Student Category'); ?>
                :</span> <?php echo $this->txnData['StudentCategory']; ?></li>
        <li><span style="height:32px;"><?php echo $this->translate('Programme') ?>
                :</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : '' ?></li>
        <li>
            <span class="<?php echo $extra ?>"><?php echo $this->translate('Programme Scheme') ?>:</span>
            <?php if (isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '') echo $this->txnData['ProgramMode'] . '<br />' ?>
            <?php if (isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '') echo $this->txnData['StudyMode'] . '<br />' ?>
            <?php if (isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '') echo $this->txnData['ProgramType'] ?>
        </li>
    </ul>
</div>
<br/>
<!-- tabs -->
<!-- promise i will clean up this fake-tabs stuff later on and remake the class cleaner but looks the same -->
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

    <?php
    echo $this->partial("index/view-tabs.phtml", array('tab' => $this->tab, 'txn_id' => $this->txn_id));
    ?>

    <!-- summary -->
    <div id="summary" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <?php if (isset($this->applicantinfo['BranchName']) && $this->applicantinfo['BranchName'] != '') { ?>
            <div class="info-branch"><?php echo $this->translate('CP') ?>:
                <strong><?php echo $this->applicantinfo['BranchName'] ?></strong></div>
        <?php } ?>
        <?php
        $i = 0;
        //var_dump($this->section_list); exit;
        foreach ($this->section_list as $section) {
            $i++;
            $total = 0;
            ?>
            <h3 data-section="<?php echo $section['sectionID'] ?>"><?php echo $i ?>. <?php echo $section['name'] ?></h3>

            <?php //this is for if we want to remove any fields for a specific section
            ?>
            <?php if (!in_array($section['sectionID'], array(3, 5, 6, 7, 8, 9, 13, 17, 26))) : ?>
                <table width="100%" class="table">
                    <?php if (is_array($this->sectionItems[$section['sectionID']])) : ?>
                        <?php $x = 0;
                        $nonvar = 0;
                        $sectotal = count($this->sectionItems[$section['sectionID']]); ?>
                        <?php //dd($this->sectionItems[$section['sectionID']]); ?>
                        <?php foreach ($this->sectionItems[$section['sectionID']] as $item) : ?>
                            <?php $this->applicant[$item['variable']] = isset($this->applicant[$item['variable']]) ? $this->applicant[$item['variable']] : ''; ?>
                            <?php $x++;
                            $total++;
                            if ($x == 1) { ?>
                                <tr>
                            <?php } ?>
                            <?php if ($item['variable']) { ?>
                                <td width="20%"><?php echo $item['name'] ?></td>
                                <td width="30%" data-name="<?php echo $item['variable']; ?>">

                                    <?php
                                    //echo $item['variable'];
                                    if ($item['form_type'] == 'file') {

                                        if (count($section['docs']) > 0) {
                                            $file_tbl = '';
                                            foreach ($section['docs'] as $doc) {

                                                $file_tbl .= '<ul>';
                                                if ($doc['ad_dcl_id'] == $item['item_dclId']) {

                                                    $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                                    $file_tbl .= '<li><a href="' . $file_url . '" target="_blank" class="appdoc">' . $doc['ad_ori_filename'] . '</a></li>';

                                                }
                                                $file_tbl .= '</ul>';
                                            }
                                            echo $file_tbl;
                                        }

                                    } else if ($item['form_type'] == 'calendar' || $item['form_type'] == 'calendar_backdated' || $item['form_type'] == 'date') {

                                        if ($this->applicant[$item['variable']] != '' && $this->applicant[$item['variable']] != null && $this->applicant[$item['variable']] != '1970-01-01') {
                                            echo date('d-m-Y', strtotime($this->applicant[$item['variable']]));
                                        }

                                    } else {

                                        echo($this->applicant[$item['variable']] == false ? '-' : $this->applicant[$item['variable']]);

                                        if ($item['variable'] == 'prev_student' && $this->applicant[$item['variable']] == 'Yes') {
                                            echo '  ( ' . $this->applicant['studentID'] . ' )';
                                        }
                                    }
                                    ?>


                                </td>
                            <?php } else { ?>
                                <?php if ($x == 2) { ?>
                                    <tr>
                                <?php }
                                $x = 0;
                                $nonvar++; ?>
                                <th colspan="4"><?php echo $item['name'] ?></th>
                                </tr>
                            <?php } ?>
                            <?php if ($x == 2) { ?>
                                </tr>
                                <?php $x = 0;
                            } ?>
                            <?php //we have to fill the table back with empty cells if the total rows is not an even number ?>
                            <?php if ($total == $sectotal && $sectotal % 2 != 0) : ?>
                                <td width="20%"></td>
                                <td width="30%"></td>
                                </tr>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </table>

                <br/>

                <?php
            endif; //

            /* --------------------------
            *	SECTION-SPECIFIC
            * -------------------------- */

            //education
            if ($section['sectionID'] == 3) {
                ?>

                <table id='docs' class="table bordered data-table" width='100%'>
                    <thead>
                    <tr>
                        <th><?php echo $this->translate('Level'); ?></th>
                        <th><?php echo $this->translate('Degree Awarded'); ?></th>
                        <th><?php echo $this->translate('Major/ Specialization'); ?></th>
                        <th><?php echo $this->translate('Class Degree'); ?></th>
                        <th><?php echo $this->translate('Result'); ?></th>
                        <th><?php echo $this->translate('Year Graduates'); ?></th>
                        <th><?php echo $this->translate('Institution Country'); ?></th>
                        <th><?php echo $this->translate('Institution Name'); ?></th>
                        <th><?php echo $this->translate('Medium Instruction'); ?></th>
                        <th><?php echo $this->translate('Documents'); ?></th>
                    </tr>
                    </thead>

                    <?php
                    if (count($this->appQualification) > 0) {
                        foreach ($this->appQualification as $q) {
                            ?>
                            <tr class="data-row">
                                <td align='center'><?php echo $q['QualificationLevel']; ?></td>
                                <td align='center'><?php echo $q['ae_degree_awarded']; ?></td>
                                <td align='center'><?php echo $q['ae_majoring']; ?></td>
                                <td align='center'><?php echo $q['class_degree']; ?></td>
                                <td align='center'><?php echo $q['ae_result']; ?></td>
                                <td align='center'><?php echo $q['ae_year_graduate']; ?></td>
                                <td align='center'><?php echo $q['CountryName']; ?></td>
                                <td align='center'><?php if ($q['ae_institution'] == 999) echo $q['others']; else echo $q['InstitutionName']; ?></td>
                                <td align='center'><?php echo $q['ae_medium_instruction']; ?></td>
                                <td align='left'>
                                    <?php
                                    if (count($q['documents']) > 0) {
                                        echo '<ul>';
                                        foreach ($q['documents'] as $doc) {
                                            $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                            echo '<li><a href="' . $file_url . '" target="_blank">' . $doc['dcl_name'] . '</a></li>';
                                        }
                                        echo '</ul>';
                                    }//end if
                                    ?>
                                </td>
                            </tr>
                        <?php }
                    } else {
                        echo "<tr><td colspan='10'>No record</td></tr>";
                    } ?>

                </table>
                <br>

            <?php }

            /* ENTRY REQUIREMENT */

            if ($section['sectionID'] == 26) {

                echo $this->tableRequirement;

                ?>


                <br>

            <?php }

            //Quantitative Proficiency
            if ($section['sectionID'] == 5) {
                ?>
                <table id='docs' class="table bordered data-table" width='100%'>
                    <thead>
                    <tr>
                        <th><?php echo $this->translate('Level'); ?></th>
                        <th><?php echo $this->translate('Grade Mark'); ?></th>
                        <th><?php echo $this->translate('Institution'); ?></th>
                        <th><?php echo $this->translate('Documents'); ?></th>
                    </tr>
                    </thead>

                    <?php
                    if (count($this->qp_list) > 0) {
                        foreach ($this->qp_list as $qp) {
                            ?>
                            <tr class="data-row">
                                <td align='center'><?php echo $qp['qp_level']; ?></td>
                                <td align='center'><?php echo $qp['qp_grade_mark']; ?></td>
                                <td align='center'><?php echo $qp['qp_institution']; ?></td>
                                <td align='left'>
                                    <?php
                                    if (count($qp['documents']) > 0) {
                                        echo '<ul>';
                                        foreach ($qp['documents'] as $doc) {
                                            $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                            echo '<li><a href="' . $file_url . '" target="_blank">' . $doc['ad_filename'] . '</a></li>';
                                        }
                                        echo '</ul>';
                                    }//end if
                                    ?>
                                </td>

                            </tr>
                        <?php }
                    } else {
                        echo "<tr><td colspan='4'>No record</td></tr>";
                    } ?>

                </table><br></br>
                <?php
            }


            if ($section['sectionID'] == 6) {
                ?>
                <table id='docs' class="table bordered data-table" width='100%'>
                    <thead>
                    <tr>
                        <th><?php echo $this->translate('Title'); ?></th>
                        <th><?php echo $this->translate('Date'); ?></th>
                        <th><?php echo $this->translate('Publisher'); ?></th>
                        <th><?php echo $this->translate('Documents'); ?></th>
                    </tr>
                    </thead>

                    <?php
                    if (count($this->rpd_list) > 0) {
                        foreach ($this->rpd_list as $rpd) {
                            ?>
                            <tr class="data-row">
                                <td align='center'><?php echo $rpd['rpd_title']; ?></td>
                                <td align='center'><?php echo $rpd['rpd_date'] == '' ? '' : date('d-m-Y', strtotime($rpd['rpd_date'])); ?></td>
                                <td align='center'><?php echo $rpd['rpd_publisher']; ?></td>
                                <td align='left'>
                                    <?php
                                    if (count($rpd['documents']) > 0) {

                                        echo '<ul>';
                                        foreach ($rpd['documents'] as $doc) {
                                            $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                            echo '<li><a href="' . $file_url . '">' . $doc['ad_filename'] . '</a></li>';
                                        }
                                        echo '</ul>';
                                    }//end if
                                    ?>
                                </td>

                            </tr>
                        <?php }
                    } else {
                        echo "<tr><td colspan='4'>No record</td></tr>";
                    } ?>

                </table><br></br>
                <?php
            }

            //Employment Details
            if ($section['sectionID'] == 7) {
                ?>

                <br/>
                <table id='employement' class="table bordered data-table" width="100%">
                    <thead>
                    <tr>
                        <th><b><?php echo $this->translate('Employment Status'); ?></b></th>
                        <th><b><?php echo $this->translate('Company Info'); ?></b></th>
                        <th><b><?php echo $this->translate('Designation'); ?></b></th>
                        <th><b><?php echo $this->translate('Position Level'); ?></b></th>
                        <th><b><?php echo $this->translate('Service Duration'); ?></b></th>
                        <th><b><?php echo $this->translate('Industry'); ?></b></th>
                        <th><b><?php echo $this->translate('Documents'); ?></b></th>
                    </tr>
                    </thead>

                    <?php
                    if (count($this->appEmployment) > 0) {
                        foreach ($this->appEmployment as $e) {
                            ?>
                            <tr>
                                <td align='center'><?php echo $e['status']; ?></td>
                                <td><?php echo $e['ae_comp_name'] . '<br>';
                                    echo $e['ae_comp_address'] . '<br>';
                                    echo $e['ae_comp_phone'] . '<br>';
                                    echo $e['ae_comp_fax'];
                                    ?>
                                </td>
                                <td align='center'><?php echo $e['ae_designation']; ?></td>
                                <td align='center'><?php echo $e['position']; ?></td>
                                <td align='center'><?php if ($e['emply_year_service']) {
                                        echo $e['emply_year_service'] . ' year(s)';
                                    } else {
                                        echo $e['ae_from'] . ' - ' . $e['ae_to'];
                                    } ?></td>
                                <td align='center'><?php echo $e['industry']; ?></td>
                                <td>
                                    <?php if (count($e['documents']) > 0) {
                                        echo '<ul>';
                                        foreach ($e['documents'] as $doc) {
                                            $file_url = DOCUMENT_URL . $doc['ad_filepath'];
                                            echo '<li><a href="' . $file_url . '" target="_blank">' . $doc['dcl_name'] . '</a></li>';
                                        }
                                        echo '</ul>';
                                        ?>
                                    <?php } ?>

                            </tr>
                        <?php }
                    } else {
                        echo "<tr><td colspan='7'>No record</td></tr>";
                    } ?>
                </table>

                <br/>
                <?php

            }

            //Working XP
            if ($section['sectionID'] == 8) {
                ?>
                <table border="0" width='100%' class="table">
                    <tr>

                        <th colspan="<?php echo count($this->yearofIndustry) + 2; ?>"><?php echo $this->translate('Years of Industry') ?></th>
                    </tr>
                    <?php
                    $appWorkExpDB = new App_Model_Application_DbTable_ApplicantWorkingExperience();
                    foreach ($this->industryWorkingExperience as $index => $pl) {
                        $industry = $appWorkExpDB->getData($this->session_transactionID, $pl["idDefinition"]);
                        if (isset($industry) && $industry['aw_industry_id'] != '') {
                            $sel = 'checked';
                            $yof_disabled = '';
                            $url = APPLICATION_URL . '/images/icon/tick.png';
                            $img = "<img src='" . $url . "'>";

                        } else {
                            $sel = '';
                            $yof_disabled = 'disabled';
                            $img = '';
                        }
                        ?>
                        <tr>
                            <td width="5%" align='center'>
                                <?php echo $img; ?>
                                <!--
						<input type="checkbox" name='iwe[]' id='iwe<?php echo $pl["idDefinition"] ?>' value='<?php echo $pl["idDefinition"] ?>' <?php echo $sel; ?> disabled>
						-->
                            </td>
                            <td><?php echo $pl['DefinitionDesc'] . ($pl['idDefinition'] == 810 ? ' (' . $industry['aw_others'] . ')' : ''); ?></td>

                            <?php

                            if($this->yearofIndustry) {
                                foreach ($this->yearofIndustry as $yi) {
                                    if ($yi['idDefinition'] == $industry['aw_years']) {
                                        $sel_yof = 'checked';
                                    } else {
                                        $sel_yof = '';
                                    }
                                    ?>
                                    <td><input type="radio" name='yof[<?php echo $pl["idDefinition"] ?>]'
                                               class='yof_<?php echo $pl["idDefinition"] ?>'
                                               value='<?php echo $yi['idDefinition'] ?>' <?php echo $sel_yof; ?> <?php echo $yof_disabled; ?>><?php echo $yi['DefinitionDesc'] ?>
                                    </td>
                                <?php }
                            }?>
                        </tr>

                    <?php } ?>
                </table>

                <br/>
                <?php
            }


            //health cond
            if ($section['sectionID'] == 9) {

                if ($this->applicant['health_condition'] != '') {
                    $health_cond = $this->applicant['health_condition'];
                } else {
                    $health_cond = 'No record';
                }
                echo '<table border="0" width="100%" class="table"><tr><th>Conditions</th></tr><tr><td>' . $health_cond . '</td></tr></table><br>';
            }

            //initial reg
            if ($section['sectionID'] == 13) {
                echo $this->initial_reg;
                echo '<br>';
            }

            //declaration
            if ($section['sectionID'] == 17) {
                $dec_data = array();
                if (is_array($this->sectionItems[17])) {
                    foreach ($this->sectionItems[17] as $dec_item) {
                        if ($dec_item['variable'] == 'declaration') {
                            $dec_data = $dec_item;
                        }
                    }
                }

                if (!empty($dec_data)) {
                    ?>
                    <div id="declaration-wrap">
                        <div class="tos">
                            <?php echo nl2br(strip_tags($dec_data['sectionTagInstruction'])) ?>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" checked="checked" name="decchk"/>
                        </div>
                        <div class="declaration-text">
                            <?php echo strip_tags($dec_data['itemTagInstruction']) ?>
                        </div>
                    </div>
                    <?php
                }
            }
        }
        ?>
    </div>
    <!-- summary -->

</div>
<!-- /tabs -->

<style type="text/css">
    #declaration-wrap {
    }

    #declaration-wrap .checkbox {
        float: left;
    }

    #declaration-wrap .declaration-text {
        margin-left: 25px;
        line-height: 1.6em
    }
</style>
<script type="text/javascript">
    function back() {
        window.location = "<?php echo $this->baseUrl()?>/application/index";
        return false;
    }

    $(function () {
        $('.ui-tabs-nav li').hover(
            function () {
                $(this).addClass('ui-state-hover');
            },
            function () {
                $(this).removeClass('ui-state-hover');
            }
        );
    });
</script>