<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			<ul>
				<li>
					<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'index'),'default',true);?>">
						<span class='back'></span>
						<?php echo $this->translate('Back');?>
					</a>
				</li>	
			</ul>				
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">&nbsp;</th>		
		<th><?php echo $this->translate("Document Name");?></th>
		<th><?php echo $this->translate("Document Status");?></th>
		<th><?php echo $this->translate("Confirmation Status");?></th>
		<th><?php echo $this->translate("Remark");?></th>
	</tr>
	<?php foreach($this->document_list as $index=>$doc){?>
	<tr>
		<td><?php echo $index+1;?></td>
		<td><?php echo $doc['dcl_name'];?></td>
		<td>
		<?php 
		if($doc['doc_status']['ads_status']==2) { 				
				$path = "http://".APP_HOSTNAME."/documents".$doc['doc_status']['ad_filepath'];
				echo '<a href="'.$path.'" target="_blank">'.$doc['doc_status']['ad_filename'].'</a>'; 
	 	}else{
	 		echo $this->translate('Pending from applicant');
		}?>
		</td>
		<td><?php echo ($doc['doc_status']['ads_confirm']==1 ? $this->translate('Confirmed'):''); ?></td>
		<td><?php echo ($doc['doc_status']['ads_comment']!='' ? $doc['doc_status']['ads_comment']:''); ?></td>
	</tr>
	<?php } ?>
</table>
</div>