
<?php if ( $this->ajax == 0 ) { ?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'view-communication','txn_id'=>$this->txn_id),'default',true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
			
		</ul>
	</div>
</div>

<br />
<?php } ?>
		
<h3><?php echo $this->translate('Communication Detail')?></h3>

<table width="100%" class="table">
	<tr>
		<th><?php echo $this->subject ?></th>
	</tr>
	<tr>
		<td style="padding:10px; background:#fafafa"><?php echo $this->message ?></td>
	</tr>
</table>
