<style type="text/css">
.table td input { vertical-align: bottom }

#declaration-wrap { }
#declaration-wrap .checkbox { float:left; }
#declaration-wrap .declaration-text { margin-left:25px; line-height:1.6em }

.message { margin-bottom:10px; }
.textarea { width:250px; height:100px; border:1px solid #ccc; padding:3px; font:normal 11px Verdana; }
.label_checkbox {  }
.label_checkbox input { margin-right:5px }
.profile-summary { box-sizing: content-box; min-height:82px; margin-top:5px; margin:0; padding:15px; border:1px solid #eee;  background:#fefefe; position:relative; -webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 0.03);
	-moz-box-shadow:    0px 2px 0px rgba(50, 50, 50, 0.03);
	box-shadow:         0px 2px 0px rgba(50, 50, 50, 0.03); }
.profile-summary ul { margin:0 0 0 20px; padding:0; list-style:none; width:40%; float:left; margin-right:10px; }
.profile-summary ul li { margin-bottom:5px; overflow:hidden }
.profile-summary ul li span { float:left; width:140px; }
.profile-summary .app-photo { position:absolute; top:5px; right:5px;  }
.profile-summary .nophoto { border:1px solid #eee;height:100px; }
.profile-summary ul li span.extra { height:30px; }
.profile-summary ul li span.extra-2 { height:50px; }
.profile-summary.fixed { position:fixed; top:33px; z-index:5 }

.app-opt { border:1px solid #eee; padding:5px; }
</style>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'edit','id'=>$this->txn_id),'default',true);?>"><span class='edit'></span><?php echo $this->translate('Edit')?></a>				
			</li>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
			
		</ul>
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>
<?php
$extra =   isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != ''
		&& isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != ''
		&& isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' 
		? 'extra-2' : 'extra';
?>
<div class="profile-summary" style="min-height: 90px; overflow: hidden;">
	<?php if ( $this->app_photo != '' ) {?>
		<div class="app-photo"><a href="<?php echo $this->app_photo_full?>" class="appdoc"><img src="<?php echo $this->app_photo ?>" alt="photo" /></a></div>
	<?php } else { ?>
		<div class="app-photo nophoto"><img src="<?php echo $this->baseUrl()?>/images/user_placeholder.png" alt="nophoto" title="<?php echo $this->translate('Applicant has not uploaded any photo')?>" /></div>
	<?php } ?>
	<ul>
		<li><span><?php echo $this->translate('Applicant Name')?>:</span> <?php echo $this->txnData['appl_fname'].' '.$this->txnData['appl_mname'].' '.$this->txnData['appl_lname']?></li>
		<li><span><?php echo $this->translate('Applicant ID')?>:</span> <?php echo $this->txnData['at_pes_id']?></li>
                <li><span><?php echo $this->translate('Applicant Status'); ?>:</span> <?php echo $this->txnData['StatusName']; ?></li>
                <li><span><?php echo $this->translate('Date of Application'); ?>:</span> <?php echo date('d F Y', strtotime($this->txnData['at_create_date'])); ?></li>
                <li><span><?php echo $this->translate('Email'); ?>:</span> <?php echo $this->txnData['appl_email']; ?></li>
        </ul>
	<ul>
                <li><span><?php echo $this->translate('Intake'); ?>:</span> <?php echo $this->txnData['intakeName']; ?></li>
                <li><span><?php echo $this->translate('Nationality'); ?>:</span> <?php echo $this->txnData['Nationality']; ?></li>
		<li><span><?php echo $this->translate('Student Category'); ?>:</span> <?php echo $this->txnData['StudentCategory']; ?></li>
                <li><span style="height:32px;"><?php echo $this->translate('Programme')?>:</span> <?php echo isset($this->txnData['ProgramName']) ? $this->txnData['ProgramName'] : ''?></li>
		<li>
			<span class="<?php echo $extra?>"><?php echo $this->translate('Programme Scheme')?>:</span> 
				<?php if ( isset($this->txnData['ProgramMode']) && $this->txnData['ProgramMode'] != '' ) echo $this->txnData['ProgramMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['StudyMode']) && $this->txnData['StudyMode'] != '' ) echo $this->txnData['StudyMode'] . '<br />' ?>
				<?php if ( isset($this->txnData['ProgramType']) && $this->txnData['ProgramType'] != '' ) echo $this->txnData['ProgramType'] ?>
		</li>
	</ul>
</div>
<br/>

<!-- tabs -->
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	
	<?php
	echo $this->partial("index/view-tabs.phtml", array('tab' => $this->tab, 'txn_id' => $this->txn_id ));
	?>

	<br/>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Bil'); ?></th>
                    <th><?php echo $this->translate('Change Type'); ?></th>
                    <th><?php echo $this->translate('From'); ?></th>
                    <th><?php echo $this->translate('To'); ?></th>
                    <th><?php echo $this->translate('Change By'); ?></th>
                    <th><?php echo $this->translate('Change Date'); ?></th>
                    <th><?php echo $this->translate(''); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                if ($this->historyList){
                $i = 1;
                foreach ($this->historyList as $historyLoop){
                ?>
                <tr>
                    <td><?php echo $i; ?></td>
                    <td><?php echo $historyLoop['adh_type']==1 ? 'Programme Scheme':'Student Category'; ?></td>
                    <td><?php echo $historyLoop['adh_type']==1 ? $historyLoop['oldMop'].' '.$historyLoop['oldMos'].' '.$historyLoop['oldPt']:$historyLoop['oldStdCtgy']; ?></td>
                    <td><?php echo $historyLoop['adh_type']==1 ? $historyLoop['newMop'].' '.$historyLoop['newMos'].' '.$historyLoop['newPt']:$historyLoop['newStdCtgy']; ?></td>
                    <td><?php echo $historyLoop['loginName']; ?></td>
                    <td><?php echo date('d-m-Y', strtotime($historyLoop['adh_upddate'])); ?></td>
                    <td><a href="javascript:void(0);" onclick="return viewChecklist(<?php echo $historyLoop['adh_id']; ?>, <?php echo $this->txn_id; ?>);"><?php echo $this->translate('View Checklist'); ?></a></td>
                </tr>
                <?php
                $i++;
                }
                }
                ?>
            </tbody>
        </table>

</div>
<!-- /tabs -->

<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->baseUrl()?>/application/index";
	return false;
}

$(function()
{
	$('.ui-tabs-nav li').hover(
        function () {
            $(this).addClass('ui-state-hover');
        },
        function () {
            $(this).removeClass('ui-state-hover');
        }
    );
});

function viewChecklist(element, id){
    $(function() {

        var adh_id = element;
        //var name = document.getElementById('appName'+element).value;

        var url = "<?php echo $this->url(array('module'=>'application','controller'=>'index', 'action'=>'load-document-checklist-history'),"default",true);?>/id/"+adh_id+"/txnId/"+id;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
        })
        .done(function(data) {

            var content = '<fieldset>';
            //content += '<legend>'+name+'</legend>'
            content += '<table class="table" width="100%" cellpadding="5" cellspacing="1" id="checklist">';
            content += '<thead>';
            content += '<tr>';
            content += '<th><?php echo $this->translate("Checklist Name");?></th>';
            content += '<th><?php echo $this->translate("Status");?></th>';
            content += '<th><?php echo $this->translate("Comment");?></th>';
            content += '<th><?php echo $this->translate("Upload Status");?></th>';
            content += '<th><?php echo $this->translate("Document");?></th>';
            content += '</tr>';
            content += '</thead>';
            content += '<tbody>';
            $.each(data,function(index){                    
                content += '<tr>';
                content += '<td>'+data[index].adc_name+(data[index].adc_mandatory == 1 ? '<span class="reqMark" style="color: red;">*</span>':'')+'</td>';

                //checklist
                content += '<td>';
                content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                if (data[index].checklist_status_info){
                $.each(data[index].checklist_status_info,function(index2){
                    content += '<tr>';
                    content += '<td>'+data[index].checklist_status_info[index2].adt_status+'</td>';
                    content += '</tr>';
                });
                }
                content += '</table>';
                content += '</td>';

                //upload status
                content += '<td>';
                content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                if (data[index].checklist_status_info){
                $.each(data[index].checklist_status_info,function(index3){
                    content += '<tr>';
                    content += '<td>'+data[index].checklist_status_info[index3].adt_comment+'</td>';
                    content += '</tr>';
                });
                }
                content += '</table>';
                content += '</td>';

                content += '<td>';
                content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                if (data[index].checklist_upload_status){
                $.each(data[index].checklist_upload_status,function(index5){
                    content += '<tr>';
                    content += '<td>'+data[index].checklist_upload_status[index5].uploadstatus+'</td>';
                    content += '</tr>';
                });
                }
                content += '</table>';
                content += '</td>';

                //document view
                content += '<td>';
                content += '<table class="table" width="100%" cellpadding="5" cellspacing="1">';
                if (data[index].checklist_upload_info){
                    $.each(data[index].checklist_upload_info,function(index6){
                        content += '<tr>';
                        content += '<td>';
                        if (data[index].checklist_upload_info){
                            $.each(data[index].checklist_upload_info[index6].uploadinfo,function(index7){
                                content += '<a target="_blank" href="<?php echo DOCUMENT_URL; ?>'+data[index].checklist_upload_info[index6].uploadinfo[index7].adu_filepath+'">'+data[index].checklist_upload_info[index6].uploadinfo[index7].adu_ori_filename+'</a>, ';
                            });
                        }else{
                            content += ' - ';
                        }
                        content += '</td>';
                        content += '</tr>';
                    });
                }else{
                    content += '<tr>';
                    content += '<td> - </td>';
                    content += '</tr>';
                }
                
                content += '</table>';
                content += '</td>';
                content += '</tr>';
            });
            content += '</tbody>';
            content += '</table>';
            content += '</fieldset>';

            $("#fancybox").fancybox({
                helpers: {
                    title : {
                        type : 'float'
                    }
                }
            });
            $.fancybox({content: content});
        })
        .fail(function() {
            alert("error load document checklist"); 
        });
    });
}
</script>