<script>
	function edit_cheque(){
		$.fancybox({
			href : '/studentfinance/refund-cheque/edit/id/<?php echo $this->id?>',
			type : 'ajax',
			afterLoad: function( links, index ){
				$( "#rchq_issue_date" ).datepicker(); 
		   	}
		});
	}

	function cancel_cheque(){
		var msg = "<?php echo $this->translate("Confirm to cancel this cheque?"); ?>";

		if(confirm(msg)){
			window.location = '/studentfinance/refund-cheque/delete/id/<?php echo $this->id; ?>';
		}
	}
</script>

  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund-cheque', 'action'=>'index'),'default',true);?>'">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<fieldset>
	<legend>Cheque Info</legend>
		<table>
			<tr>
				<td>Cheque No</td>
				<td>:</td>
				<td>
					<?php echo $this->data['rchq_cheque_no']; ?>
				</td>
			</tr>
			<tr>
				<td>Bank Name</td>
				<td>:</td>
				<td>
					<?php echo $this->data['bank_name']; ?>
				</td>
			</tr>
			<tr>
				<td>Cheque Amount</td>
				<td>:</td>
				<td>
					<?php echo $this->data['rchq_amount']; ?>
				</td>
			</tr>
			<tr>
				<td>Date Issue</td>
				<td>:</td>
				<td>
					<?php echo date('d/m/Y', strtotime($this->data['rchq_issue_date'])); ?>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td>Cheque Insert By</td>
				<td>:</td>
				<td>
					<?php echo $this->data['issuer_name']; ?>
				</td>
			</tr>
			<tr>
				<td>Cheque Insert Date</td>
				<td>:</td>
				<td>
					<?php echo date('d/m/Y h:ia', strtotime($this->data['rchq_insert_date'])); ?>
				</td>
			</tr>
			<tr>
				<td>Cheque Status</td>
				<td>:</td>
				<td>
					<?php echo $this->data['rchq_status']=="A"?"Active":"Canceled"; ?>
				</td>
			</tr>
			<?php if($this->data['rchq_status']=="X"){?>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td>Cheque Cancel by</td>
				<td>:</td>
				<td>
					<?php echo $this->data['cancel_by_name']; ?>
				</td>
			</tr>
			<tr>
				<td>Cheque Cancel date</td>
				<td>:</td>
				<td>
					<?php echo date('d/m/Y h:ia', strtotime($this->data['rchq_cancel_date'])); ?>
				</td>
			</tr>
			<?php }?>
		</table>
</fieldset>
<br />
<fieldset>
	<legend><?php echo $this->translate("Collector Info");?></legend>
	<?php if( isset($this->data['rchq_collector_date']) ){?>
	<table>
		<tr>
			<td><?php echo $this->translate("Collector Name"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->data['rchq_collector_name']; ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Collection Date"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->data['rchq_collector_date']; ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Collector ID"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->data['rchq_collector_id']; ?>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("ID Type"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->data['rchq_collector_id_type']; ?>
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Updater"); ?></td>
			<td>:</td>
			<td>
				<?php echo $this->data['collector_updater']; ?>
			</td>
		</tr>
	</table>
	<?php }else{ 
		echo $this->translate("Cheque is not collect");
	}?>
</fieldset>

<?php if( !isset($this->data['rchq_collector_date']) && $this->data['rchq_status']!="X" ){?>
<div align="center" style="margin: 5px 0 0 0; padding: 2px 10px; background: #CCC;">
	<input type="button" value="Edit Cheque" onclick="edit_cheque();" />
	<input type="button" value="Cancel Cheque" onclick="cancel_cheque();" />
</div>
<?php }?>



