<script type="text/javascript">
function add(){
	window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund-cheque', 'action'=>'entry'),'default',true);?>";
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					<?php echo $this->translate("Cheque Entry"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%">
	<tr>
		<th><?php echo $this->translate("Cheque No."); ?></th>
		<th><?php echo $this->translate("Bank"); ?></th>
		<th><?php echo $this->translate("Amount (IDR)"); ?></th>
		<th><?php echo $this->translate("Status"); ?></th>
		<th><?php echo $this->translate("Insert by"); ?></th>
		<th><?php echo $this->translate("Insert Date"); ?></th>
	</tr>
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'refund-cheque', 'action'=>'detail', 'id'=>$entry['rchq_id']),'default',true);?>">
				<?php echo $entry['rchq_cheque_no']; ?>	
			</a>
		</td>
		<td><?php echo $entry['bank_name']; ?></td>
		<td><?php echo $entry['rchq_amount']; ?></td>
		<td align="center"><?php echo $entry['rchq_status']=="A"?"Active":"Canceled"; ?></td>
		<td><?php echo $entry['issuer_name']; ?></td>
		<td><?php echo date('d/m/Y H:ia', strtotime($entry['rchq_insert_date'])); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>