
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'viewreglocation','id'=>$this->idIntake),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>

        </ul>
    </div>
</div>


<br></br>
<!-- Form for Copy Intake -->
<fieldset>
    <legend><?php echo $this->translate("Copy Registration Location");?></legend>

    <Form dojoType="dijit.form.Form" id="myForm1"
          action="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'copyreglocation'),'default',true);?>"
          method="post"
          name="myForm1">
        <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
	</script>
        <input type='hidden' name='newintakeid' value='<?php echo $this->newintakeid;?>'></input>
        <table class="table" width="100%">
            <tr>
                <th colspan="4">Copy Registration Location</th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Intake Id");?><span
                        class="reqMark">*</span></td>
                <td><?php echo $this->lobjIntakeForm->CopyIntakeId;?></td>

            </tr>

            <tr>
                <td><?php echo $this->translate("Copy From");?><span
                        class="reqMark">*</span><?php echo $this->lobjIntakeForm->UpdDate ;?>
                    <?php echo $this->lobjIntakeForm->UpdUser ;?></td>
                <td><?php echo $this->lobjIntakeForm->FromIntake;?></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><?php echo $this->lobjIntakeForm->Copy;?></td>
            </tr>
        </table>

    </Form>
</fieldset>