<script type="text/javascript">

    $(function(){
        $('.datepicker').datepicker( {
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });
    });
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>

        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->

<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
<script type="dojo/method" event="onSubmit">
    if (this.validate()) {
        return true;
    } else {
        return false;
    }
</script>

<table class="table" width="100%">
    <tr>
        <th colspan="4"><?php echo $this->translate("Intake Details")?></th>
    </tr>
    <tr>
        <td><?php echo $this->translate("Intake Id");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjIntakeForm->IntakeId;?></td>
        <td><?php echo $this->translate("Semester Sequence");?><!--<span class="reqMark">*</span>--></td>
        <td><?php echo $this->lobjIntakeForm->sem_seq;?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate("Intake Description");?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjIntakeForm->IntakeDesc;?></td>
        <td><?php echo $this->translate("Intake Description (Malay)");?></td>
        <td><?php echo $this->lobjIntakeForm->IntakeDescMalay;?></td>
    </tr>
    <tr>
            <td><?php echo $this->translate("Intake Year");?></td>
            <td><?php echo $this->lobjIntakeForm->sem_year;?></td>
            <td><?php echo $this->translate("Special Intake");?></td>
            <td><?php echo $this->lobjIntakeForm->special_intake;?></td>
        </tr>

    <tr>
        <td><?php echo $this->translate("Application Start Date");?></td>
        <td><?php echo $this->lobjIntakeForm->ApplicationStartDate;?></td>
        <td><?php echo $this->translate("Application End Date");?></td>
        <td><?php echo $this->lobjIntakeForm->ApplicationEndDate;?></td>
    </tr>

    <!--<tr>
        <td><?php //echo $this->translate("Apply Online ?") ?></td>
        <td><?php //echo $this->lobjIntakeForm->apply_online; ?></td>
        <td></td>
        <td></td>
    </tr>-->
</table>
<div class="form-opt"><?php echo $this->lobjIntakeForm->Save;?></div>
</fieldset>
