<script type="text/javascript">

    dojo.addOnLoad(function() {
        //dijit.byId('Program').set('value','');
        //dijit.byId('Program').set('placeHolder','Please select');

        //dijit.byId('studentCategory').set('value','');
        //dijit.byId('studentCategory').set('placeHolder','Please select');

    });


    $(function(){

        $('.datepicker').datepicker( {
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
        });

    });


    function getProgramScheme(){
        var idscheme = dijit.byId("ProgramScheme2");

        if(id_program!=''){
            var xhrArgs = {
                url: "/generalsetup/intake/get-program-data/type/scheme/idProgram/"+id_program,
                handleAs:'json',
                load:function(data){
                    if(data){
                        AutoFillNextEditableDropDown('programScheme',data);
                    }
                },
                error: function(error){
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }


    function addProgram(){
        $('#programFormDiv').slideToggle('slow');
    }

    function saveProgram(){

        flag = true;
        if($('#Program').val()=='' || $('#studentCategory').val()=='' || $('#ApplicationStartDate').val()=='' || $('#ApplicationEndDate').val()==''
            || $('#AdmissionStartDate').val()=='' || $('#AdmissionEndDate').val()=='' || $('#IdProgramScheme').val()=='' || $('#quota').val()==''){
            flag=false;
        }


        var Program = dijit.byId("Program").value;


        if(flag == true){

            var table = $('#programList tbody');
            $(table).empty();

            $.ajax({
                url: "/generalsetup/intake/save-program",
                type: "post",
                async : false,
                data: {'IdIntake':<?php echo $this->IdIntake;?>,'IdProgram':Program,'IdStudentCategory':dijit.byId("studentCategory").value,'appStartDate':$('#ApplicationStartDate').val(),'appEndDate':$('#ApplicationEndDate').val(),
                    'adStartDate':$('#AdmissionStartDate').val(),'adEndDate':$('#AdmissionEndDate').val(),'IdProgramScheme':dijit.byId("programScheme").value,'programQuota':$('#quota').val(),'IdBranch':dijit.byId("Branch").value},
                dataType: 'json',
                success: function(data){

                    if(data.length>0){
                        for(var i=0; i<data.length; i++){
                            var content = "<tr>" +
                                "<td align='center'>"+data[i].ProgramName+"</td>"+
                                "<td align='center'>"+data[i].StudentCategory+"</td>" +
                                "<td align='center'>"+data[i].ApplicationStartDate+"</td>"+
                                "<td align='center'>"+data[i].ApplicationEndDate+"</td>"+
                                "<td align='center'>"+data[i].AdmissionStartDate+"</td>"+
                                "<td align='center'>"+data[i].AdmissionEndDate+"</td>"+
                                "<td align='center'>"+data[i].ProgramMode+"-"+data[i].StudyMode+"-"+data[i].ProgramType+"</td>"+
                                "<td align='center'>"+data[i].Quota+"</td>"+
                                "<td align='center'><a href='#'><?php echo $this->translate('View Branch')?></a></td>"+
                                "<td align='center'><a href='#' onClick='deleteProgram("+data[i].ip_id+")'><?php echo $this->translate('Delete')?></a></td>"+
                                "</tr>";

                            $(table).append(content);
                        }
                    }
                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('loading_target');

                },
                complete: function() {
                    hideLoading('loading_target');
                }
            });


        }else{
            alert('All Program Information fields are required');
        }

    }

    function deleteProgram(ip_id){

        msg = confirm('<?php echo $this->translate('Are you sure you want to delete this Program?')?>');
        if(msg){
            ajaxdeleteDataProgram(ip_id);
        }
    }

    function ajaxdeleteDataProgram(ip_id){

        var table = $('#programList tbody');
        $(table).empty();

        $.ajax({
            url: "/generalsetup/intake/delete-program",
            type: "post",
            async : false,
            data: {'intake_id':<?php echo $this->IdIntake;?>,'ip_id':ip_id},
            dataType: 'json',
            success: function(data){


                if(data.length>0){
                    for(var i=0; i<data.length; i++){
                        var content = "<tr>" +
                            "<td align='center'>"+data[i].ProgramName+"</td>"+
                            "<td align='center'>"+data[i].StudentCategory+"</td>" +
                            "<td align='center'>"+data[i].ApplicationStartDate+"</td>"+
                            "<td align='center'>"+data[i].ApplicationEndDate+"</td>"+
                            "<td align='center'>"+data[i].AdmissionStartDate+"</td>"+
                            "<td align='center'>"+data[i].AdmissionEndDate+"</td>"+
                            "<td align='center'>"+data[i].ProgramMode+"-"+data[i].StudyMode+"-"+data[i].ProgramType+"</td>"+
                            "<td align='center'>"+data[i].Quota+"</td>"+
                            "<td align='center'><a href='#'><?php echo $this->translate('View Branch')?></a></td>"+
                            "<td align='center'><a href='#' onClick='deleteProgram("+data[i].ip_id+")'><?php echo $this->translate('Delete')?></a></td>"+
                            "</tr>";

                        $(table).append(content);
                    }
                }

            },
            error:function(){
                alert("failure");
            },
            beforeSend: function() {
                showLoading('loading_target');

            },
            complete: function() {
                hideLoading('loading_target');
            }
        });

    }

    function showLoading(target){
        $('#programList').hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='50' heigth='50' /></div>");

    }

    function hideLoading(target){
        $('#loading').remove();
        $('#programList').show();
    }

</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->backURL; ?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Intake Id").' : '.$this->intakeInfo['IntakeId']; ?></li>
        <li><?php echo $this->translate("Intake Description").' : '.$this->intakeInfo['IntakeDesc']; ?></li>
        <li><?php echo $this->translate("Programme Scheme").' : '.$this->intakeSchemeInfo['EnglishDescription']; ?></li>

    </ul>
</fieldset>
<br></br>
<fieldset>
    <legend><?php echo $this->translate("Edit Scheme Intake")?></legend>
    <form method="post" id="addschemeintake">
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Scheme Info") ?></th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Registration Date"); ?></td>
                <td><?php echo $this->lobjIntakeForm->reg_date; ?></td>
                <td><?php echo $this->translate("Registration Date (Malay)"); ?></td>
                <td><?php echo $this->lobjIntakeForm->reg_date_malay; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Registration Time"); ?></td>
                <td><?php echo $this->lobjIntakeForm->reg_time; ?></td>
                <td><?php echo $this->translate("Registration Time (Malay)"); ?></td>
                <td><?php echo $this->lobjIntakeForm->reg_time_malay; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Start Semester Date"); ?></td>
                <td><?php echo $this->lobjIntakeForm->start_reg_date; ?></td>
                <td><?php echo $this->translate("Start Semester Date (Malay)"); ?></td>
                <td><?php echo $this->lobjIntakeForm->start_reg_date_malay; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Briefing Date"); ?></td>
                <td><?php echo $this->lobjIntakeForm->brief_date; ?></td>
                <td><?php echo $this->translate("Briefing Date (Malay)"); ?></td>
                <td><?php echo $this->lobjIntakeForm->brief_date_malay; ?></td>

            </tr>
            <tr>
                <td><?php echo $this->translate("Briefing Time"); ?></td>
                <td><?php echo $this->lobjIntakeForm->brief_time; ?></td>
                <td><?php echo $this->translate("Briefing Time (Malay)"); ?></td>
                <td><?php echo $this->lobjIntakeForm->brief_time_malay; ?></td>

            </tr>

            <tr>
                <td colspan='4' align='center'><input type='submit' name='save' value='Save'></input></td>
            </tr>
        </table>
    </form>
</fieldset>