<script type="text/javascript">
$(function(){
	$('.datepicker').datepicker( {
		dateFormat: 'dd-mm-yy',
		changeMonth: true,
		changeYear: true
	});

	$("#rl_time").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});
});

function addScheme() {

	flag = true;
	if (flag == true) {
		var idrow = $("#idRow").val();
		idrow = Math.abs(idrow) + 1;
		addSchemeRow(idrow);
		$("#idRow").val(idrow);
	} else {
		alert('All Program Information fields are required');
	}
}

function addSchemeRow(idrow) {

	var table = $('#schemeList tbody');
	var content = "<tr id='" + idrow + "'>" +
		"<td align='center'><input type='hidden' value='" + dijit.byId("programScheme2") + "' name=progScheme2[]>" + $('#programScheme2').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#reg_date').val() + "' name=regdate[]>" + $('#reg_date').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#reg_time').val() + "' name=regtime[]>" + $('#reg_time').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#start_reg_date').val() + "' name=startregdate[]>" + $('#start_reg_date').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#brief_date').val() + "' name=briefdate[]>" + $('#brief_date').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#brief_time').val() + "' name=brieftime[]>" + $('#brief_time').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#reg_date_malay').val() + "' name=regdatemalay[]>" + $('#reg_date_malay').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#reg_time_malay').val() + "' name=regtimemalay[]>" + $('#reg_time_malay').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#start_reg_date_malay').val() + "' name=startregdatemalay[]>" + $('#start_reg_date_malay').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#brief_date_malay').val() + "' name=briefdatemalay[]>" + $('#brief_date_malay').val() + "</td>" +
		"<td align='center'><input type='hidden' value='" + $('#brief_time_malay').val() + "' name=brieftimemalay[]>" + $('#brief_time_malay').val() + "</td>" +
		"<td align='center'><a href='#' onClick='deleteSchemeRow(" + idrow + "); return false;'>Delete</a></td>" +
		'</tr>';
	$(table).append(content);
}

function deleteSchemeRow(x) {
	var row = "#" + x;
	$(row).remove();
}
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'intake', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<!-- Form for Intake -->
<fieldset>
    <legend><?php echo $this->translate("Info");?></legend>
    <ul>
        <li><?php echo $this->translate("Intake Id").' : '.$this->intakeInfo['IntakeId'] ?></li>
        <li><?php echo $this->translate("Intake Description").' : '.$this->intakeInfo['IntakeDesc'] ?></li>
    </ul>
</fieldset>
<br></br>
<fieldset>
    <legend><?php echo $this->translate("Edit Registration Location")?></legend>
    <form dojoType="dijit.form.Form"  name='form1' method="post" >
    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				
	<input type='hidden' name='rl_id' value='<?php echo $this->rl_id;?>'></input>
	<input type='hidden' name='idIntake' value='<?php echo $this->IdIntake;?>'></input>
	
	<table class="table" width="100%">
		<tr>
			<th colspan="4"><?php echo $this->translate("Registration Location")?></th>
		</tr>
		<tr>		
			<td><?php echo $this->translate("Branch");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_branch;?></td>
			<td><?php echo $this->translate("Registration Date");?><!--<span class="reqMark">*</span>--></td>
			<td><?php echo $this->lobjIntakeForm->rl_date;?></td>			
		</tr>
		<tr>		
			<td><?php echo $this->translate("Registration Time");?><!--<span class="reqMark">*</span>--></td>
			<td><?php echo $this->lobjIntakeForm->rl_time;?></td>
			<td><?php echo $this->translate("Address");?><span class="reqMark">*</span></td>
			<td><?php echo $this->lobjIntakeForm->rl_address;?></td>
		</tr>       
		<!--<tr>
	      <td colspan='4' align='center'><input type='submit' name='save' value='Save'></input></td>
	    </tr>	-->
	</table>

	<!--	<br></br>-->

		<!--  start scheme info -->
<!--		<table class="table" width="100%">
			<tr>
				<th colspan="4"><?php /*echo $this->translate("Scheme Info") */?></th>
			</tr>
			<tr>
				<td><?php /*echo $this->translate("Programme Scheme"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->programScheme2; */?></td>

			</tr>
			<tr>
				<td><?php /*echo $this->translate("Registration Date"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->reg_date; */?></td>
				<td><?php /*echo $this->translate("Registration Date (Malay)"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->reg_date_malay; */?></td>
			</tr>
			<tr>
				<td><?php /*echo $this->translate("Registration Time"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->reg_time; */?></td>
				<td><?php /*echo $this->translate("Registration Time (Malay)"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->reg_time_malay; */?></td>
			</tr>
			<tr>
				<td><?php /*echo $this->translate("Start Semester Date"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->start_reg_date; */?></td>
				<td><?php /*echo $this->translate("Start Semester Date (Malay)"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->start_reg_date_malay; */?></td>
			</tr>
			<tr>
				<td><?php /*echo $this->translate("Briefing Date"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->brief_date; */?></td>
				<td><?php /*echo $this->translate("Briefing Date (Malay)"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->brief_date_malay; */?></td>

			</tr>
			<tr>
				<td><?php /*echo $this->translate("Briefing Time"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->brief_time; */?></td>
				<td><?php /*echo $this->translate("Briefing Time (Malay)"); */?></td>
				<td><?php /*echo $this->lobjIntakeForm->brief_time_malay; */?></td>

			</tr>

			<tr>
				<td colspan='4' align='center'><input type='button' onClick="javacript:addScheme();"
													  value='<?php /*echo $this->translate("Add") */?>'></td>
			</tr>
		</table>-->

		<br/>

		<!--<h3><?php /*echo $this->translate("List of Scheme") */?></h3>
		<table class="table" width="100%" id="schemeList">
			<thead>
			<tr>
				<th><?php /*echo $this->translate("Scheme") */?></th>
				<th><?php /*echo $this->translate("Registration Date") */?></th>
				<th><?php /*echo $this->translate("Registration Time") */?></th>
				<th><?php /*echo $this->translate("Start Semester Date") */?></th>
				<th><?php /*echo $this->translate("Briefing Date") */?></th>
				<th><?php /*echo $this->translate("Briefing Time") */?></th>
				<th><?php /*echo $this->translate("Registration Date(M)") */?></th>
				<th><?php /*echo $this->translate("Registration Time(M)") */?></th>
				<th><?php /*echo $this->translate("Start Semester Date(M)") */?></th>
				<th><?php /*echo $this->translate("Briefing Date(M)") */?></th>
				<th><?php /*echo $this->translate("Briefing Time(M)") */?></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<?php /*if(count($this->scheme_list)>0){
				foreach($this->scheme_list as $scheme){
					*/?>
					<tr>
						<td align='center'><?php /*echo $scheme['EnglishDescription'];*/?></td>
						<td align='center'><?php /*echo $scheme['reg_date'];*/?></td>
						<td align='center'><?php /*echo $scheme['reg_time'];*/?></td>
						<td align='center'><?php /*echo $scheme['start_reg_date'];*/?></td>
						<td align='center'><?php /*echo $scheme['brief_date'];*/?></td>
						<td align='center'><?php /*echo $scheme['brief_time'];*/?></td>
						<td align='center'><?php /*echo $scheme['reg_date_malay'];*/?></td>
						<td align='center'><?php /*echo $scheme['reg_time_malay'];*/?></td>
						<td align='center'><?php /*echo $scheme['start_reg_date_malay'];*/?></td>
						<td align='center'><?php /*echo $scheme['brief_date_malay'];*/?></td>
						<td align='center'><?php /*echo $scheme['brief_time_malay'];*/?></td>
						<td class="center options">
							<a href="<?php /*echo $this->baseUrl();*/?>/generalsetup/intake/editintakeprogramedit/id/<?php /*echo $this->intakeInfo['IdIntake'];*/?>/intakeProg/<?php /*echo $program['ip_id']; */?>"><?php /*echo $this->translate("Edit")*/?></a>
							|
							<a href="#" onclick="viewbranch('<?php /*echo $this->intakeInfo['IdIntake'];*/?>','<?php /*echo $program['ip_id'];*/?>');"><?php /*echo $this->translate("View Branch")*/?></a>
						</td>
					</tr>
				<?php /*} //end foreach
			}//end if */?>
			</tbody>
		</table>
		<br></br>-->


	<div class="form-opt">
		<?php echo $this->lobjIntakeForm->Save; ?>
	</div>
	</form>
</fieldset>