<script>
	$(function(){

			$('#c_year').datepicker( {
		        changeMonth: true,
		        changeYear: true,
		        showButtonPanel: true,
		        dateFormat: 'yy',
		        onClose: function(dateText, inst) { 
		            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
		            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
		            $(this).datepicker('setDate', new Date(year, month, 1));
		        }
		    });
		    
			$(".monthcal").focus(function () {
		         $(".ui-datepicker-calendar").hide();
		         $("#ui-datepicker-div .ui-datepicker-month").hide();
		         $("#ui-datepicker-div").position({
		             my: "center top",
		             at: "center bottom",
		             of: $(this)
		         });
		    });
		     
			$( "#c_date_from" ).datepicker({
		      defaultDate: "+1w",
		      dateFormat: "dd-mm-yy",
		      changeYear: true,
		      changeMonth: true,
		      numberOfMonths: 1,
		      onClose: function( selectedDate ) {
		        $( "#c_date_to" ).datepicker( "option", "minDate", selectedDate );
				$( "#c_confirm_attendance_enddate" ).datepicker( "option", "maxDate", selectedDate );
				  $( "#c_record_verification_enddate" ).datepicker( "option", "maxDate", selectedDate );
				  $( "#c_guest_app_enddate" ).datepicker( "option", "maxDate", selectedDate );
		      }
		    });
		    $( "#c_date_to" ).datepicker({
		      defaultDate: "+1w",
		      dateFormat: "dd-mm-yy",
		      changeMonth: true,
		      changeYear: true,
		      numberOfMonths: 1,
		      onClose: function( selectedDate ) {
		        $( "#c_date_from" ).datepicker( "option", "maxDate", selectedDate );
				  $( "#c_student_portal_enddate" ).datepicker( "option", "minDate", selectedDate );
		      }
		    });

		    $( "#c_confirm_attendance_enddate" ).datepicker({
			      defaultDate: "+1w",
			      dateFormat: "dd-mm-yy",
			      changeMonth: true,
			      changeYear: true,
			      numberOfMonths: 1,
				onClose: function( selectedDate ) {
					$( "#c_date_from" ).datepicker( "option", "minDate", selectedDate );
				}
			 });

		    $( "#c_record_verification_enddate" ).datepicker({
			      defaultDate: "+1w",
			      dateFormat: "dd-mm-yy",
			      changeMonth: true,
			      changeYear: true,
			      numberOfMonths: 1,
				onClose: function( selectedDate ) {
					$( "#c_date_from" ).datepicker( "option", "minDate", selectedDate );
				}
			 });

		    $( "#c_guest_app_enddate" ).datepicker({
			      defaultDate: "+1w",
			      dateFormat: "dd-mm-yy",
			      changeMonth: true,
			      changeYear: true,
			      numberOfMonths: 1,
				onClose: function( selectedDate ) {
					$( "#c_date_from" ).datepicker( "option", "minDate", selectedDate );
				}
			 });

		    $( "#c_student_portal_enddate" ).datepicker({
			      defaultDate: "+1w",
			      dateFormat: "dd-mm-yy",
			      changeMonth: true,
			      changeYear: true,
			      numberOfMonths: 1,
				onClose: function( selectedDate ) {
					$( "#c_date_to" ).datepicker( "option", "maxDate", selectedDate );
				}
			 });
		    
	});
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'setup','action'=>'convocation'));?>"  >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>


<?php 
echo $this->form;
?>