<style>
	select{
		width: 200px;
	}
</style>

<script>
function addConvocation(){
	window.location = "/graduation/setup/convocation-add";
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="addConvocation();" >
					<span class='add'></span>
					<?php echo $this->translate('Add');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Year");?></th>
			<th><?php echo $this->translate("Session");?></th>			
			<th><?php echo $this->translate("Capacity");?></th>	
			<th><?php echo $this->translate("No of Guest");?></th>	
			<th><?php echo $this->translate("Convocation Date");?></th>
			<th><?php echo $this->translate("Confirm Attendance End Date");?></th>
			<th><?php echo $this->translate("Record Verification End Date");?></th>
			<th><?php echo $this->translate("Graduation Guests Application End Date");?></th>
			<th><?php echo $this->translate("Student Portal End Date");?></th>
			<th><?php echo $this->translate("Award");?></th>		
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php 
		if(count($this->data )>0){
		foreach($this->data as $convo){
		?>
		<tr>
			<td align='center'><?php echo $convo['c_year'];?></td>
			<td align='center'><?php echo $convo['c_session'];?></td>
			<td align='center'><?php echo $convo['c_capacity'];?></td>	
			<td align='center'><?php echo $convo['c_guest'];?></td>	
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_date_from'])); ?> to <?php echo date('d-m-Y', strtotime($convo['c_date_to'])); ?></td>
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_confirm_attendance_enddate'])); ?></td>
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_record_verification_enddate'])); ?></td>
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_guest_app_enddate'])); ?></td>
			<td align='center'> <?php echo date('d-m-Y', strtotime($convo['c_student_portal_enddate'])); ?></td>
			<td >
				<?php 
				if(count($convo['award'])>0){
					echo '<ul>';
					foreach($convo['award'] as $award){
						echo '<li>'.$award['name'].'</li>';
					}
					echo '</ul>';
				}
				?>
			</td>					
			<td align="center">
				<a class="link" href="<?php echo $this->url(array('module'=>'graduation','controller'=>'setup','action'=>'convocation-edit','id'=>$convo['c_id']));?>">Edit</a> |				
				<a class="link" href="#" onclick="if(confirm('<?php echo $this->translate('Confirm to delete?');?>')){ window.location='<?php echo $this->url(array('module'=>'graduation','controller'=>'setup','action'=>'convocation-delete','id'=>$convo['c_id']));?>'; }">Delete</a> |
				<a class="link" href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'index','c_id'=>$convo['c_id']));?>">Checklist</a> 
			</td>
		</tr>
		<?php 
		}}
		?>
	</tbody>
</table>