body { 
	font: normal 11px Verdana, Arial, sans-serif;
	color:#000;
}

@page 
{
	/* margin: 10pt */
}

a { color:#000; }

/* Table */
.table { font-size: 1em; border-collapse:collapse; margin-bottom:10px; }
.table th {
	background-color: #efefef;
	padding:3px;
	font-weight:bold;
	color:#4d4d4d;
	border:1px solid #ccc;
}
.table th.alt, .table td.alt {
	background-color: #fefefe;
	padding:3px;
	font-weight:bold;
	color:#fff;
	
}
.table tr:nth-child(odd){ background:#fff; }
.table tr:nth-child(even){ background:#f9f9f9; }
.table td { padding: 3px; border:1px solid #ccc;  }
.table td.center, .table th.center { text-align:center }

.table .shade {
	background-color: #F8F7F3;
}

.table tr:hover 
{
	background:none;
}

.table tr.disabled, .table tr:hover.disabled { background-color:#f1f1f1 }

.table a {
	text-decoration: underline;
}


.table td.padded { padding:10px; }