<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate("Student");?></th>
        <th><?php echo $this->translate("Student ID");?></th>
        <th><?php echo $this->translate("Semester");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Date Created");?></th>
        <th><?php echo $this->translate("Start Date");?></th>
        <th><?php echo $this->translate("End Date");?></th>
        <th><?php echo $this->translate("Organisation Detail");?></th>
        <th><?php echo $this->translate("Supervisors");?></th>
        <th><?php echo $this->translate("Examiners");?></th>
    </tr>

    <?php
    $i=0;
    if ( count($this->paginator) > 0 ):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td><?php echo $data['student_name']?></td>
                <td align='center'><?php echo $data['registrationId']?></td>
                <td align='center'><?php echo $data['semester_name']?></td>
                <td align='center'>
                    <?php echo $data['status_code']?>
                    <?php if ( $data['status_code'] == 'APPROVED' ) { ?>
                        <span class="icon icon-info-circled info tooltip"></span>
                        <div class="tooltiptext">
                            <p><strong><?php echo $this->translate('Approved Date')?></strong>: <?php echo format_date_to_view($data['approved_date'],'full'); ?> </p>
                            <p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['approved_by_name']?></p>
                        </div>
                    <?php } elseif ( $data['status_code'] == 'REJECT') { ?>
                        <span class="icon icon-info-circled info tooltip reject"></span>
                        <div class="tooltiptext">
                            <p><strong><?php echo $this->translate('Rejected Date')?></strong>: <?php echo format_date_to_view($data['rejected_date'],'full'); ?> </p>
                            <p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['rejected_by_name']?></p>
                        </div>
                    <?php } ?>
                </td>
                <td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($data['start_date'])); ?></td>
                <td align="center"><?php echo date('d-m-Y', strtotime($data['end_date'])); ?></td>
                <td>
                    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
                        <tr>
                            <th>Company</th>
                            <th>Designation</th>
                            <th>Contact Person</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th>Fax No</th>
                        </tr>
                        <tr>
                            <td><?php echo $data['company']; ?></td>
                            <td><?php echo $data['designation']; ?></td>
                            <td><?php echo $data['contactperson']; ?></td>
                            <td><?php echo $data['address']; ?></td>
                            <td><?php echo $data['postcode']; ?></td>
                            <td><?php echo $data['CountryName']; ?></td>
                            <td><?php echo $data['StateName']; ?></td>
                            <td><?php echo $data['CityName']; ?></td>
                            <td><?php echo $data['email']; ?></td>
                            <td><?php echo $data['phoneno']; ?></td>
                            <td><?php echo $data['faxno']; ?></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <?php
                    if (isset($data['lecturer']) && count($data['lecturer']) > 0){
                        $no = 0;
                        foreach ($data['lecturer'] as $lecturer){
                            $no++;

                            echo $no.') '.$lecturer['supervisor_name'].'<br />';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if (isset($data['examiner']) && count($data['examiner']) > 0){
                        $no = 0;
                        foreach ($data['examiner'] as $examiner){
                            $no++;

                            echo $no.') '.$examiner['internal_fullname'].'<br />';
                        }
                    }
                    ?>
                </td>
            </tr>
            <?php
            $i++;
        endforeach ;
    else:
        ?>
        <tr>
            <td colspan="6"><?php echo $this->translate('No articleships yet')?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
