<div class="breadcrum">
	<ul class="tri-steps">
		<?php if ( $this->type == 'proposal') { ?>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } elseif ( $this->type == 'articleship' ) { ?>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } elseif ( $this->type == 'exemption') { ?>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
		<?php } ?>
	</ul>
	<div class="clear"></div>
</div>

<br />


<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'articleship'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br />
<?php
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="1%"></th>
		<th><?php echo $this->translate("Student");?></th>
		<th><?php echo $this->translate("Student ID")?></th>
		<th align='center'><?php echo $this->translate("Has Course Reg")?></th>
		<th align='center'><?php echo $this->translate("Already Linked?")?></th>
		<th></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): ?>
	<tr>
		<td align='center'>
			<?php if ( $data['IdStudentRegSubjects'] != $data['regsub_id'] ) { ?>
			<input checked="checked" type="checkbox" name="research[<?php echo $data['research_id']?>]" value="<?php echo $data['IdStudentRegSubjects']?>" class="chk" />
			<?php } ?>
		</td>
		<td><?php echo $data['student_name']; ?></td>
		<td align='center'><?php echo $data['registrationId']?></td>
		<td align='center'><?php echo $data['has_coursereg'] == true ? '<span class="icon icon-check green"></span>':'<span class="icon icon-cancel red"></span>'?></td>
		<td align='center'><?php echo $data['has_coursereg'] == true &&  $data['IdStudentRegSubjects'] == $data['regsub_id'] ? '<span class="icon icon-check green"></span>':'<span class="icon icon-cancel red"></span>'?></td>
		<td align='center'>
			<?php if ( $data['has_coursereg'] == false ) { ?>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'course-reg','type'=>$this->type,'regen'=>1,'student_id'=>$data['student_id'],'research_id' => $data['research_id']), 'default', true);?>">Generate Course Reg</a>
			<?php } ?>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('-')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<div class="form-opt">
	<input type="submit" class="btn-submit" name="regsubmit" value="<?php echo $this->translate("Fix Link")?>" />
</div>

</form>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one to link');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}
	
	return true;
}

$(function ()
{
	$('.chk').each(function()
	{
		if ( $(this).prop('checked') == true )
		{
			$(this).parent().parent().toggleClass('hlchk');
		}	
	});

    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>