
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>	
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<h4 class="info"><?php echo $this->translate('Student Details')?></h4>
<table width="100%" class="table">
	<tr>
		<td width="20%"><?php echo $this->translate('Student')?> <span class="reqMark">*</span></td>
		<td>
			<input type="text" class="input-txt" name="student-search" id="student-search" value="" />
			
			<span class="wrap-type">
				<label><input type="radio" name="search-type" value="id" checked="checked" onclick="searchStudent()"/> <?php echo $this->translate('Student ID')?></label>
				<label><input type="radio" name="search-type" value="name" onclick="searchStudent()"/> <?php echo $this->translate('Name')?></label>
			</span>

			<?php echo $this->form->student_id ?>
		</td>
	</tr>
	<tr width="20%" class="inforow" style="display:none">
		<td><?php echo $this->translate("Student Name")?></td><td id="studname"></td>
	</tr>
	<tr width="20%" class="inforow" style="display:none">
		<td><?php echo $this->translate("Student ID")?></td><td id="studid"></td>
	</tr>
	<tr width="20%" class="inforow" style="display:none">
		<td><?php echo $this->translate("Programme")?></td><td id="programme"></td>
	</tr>
	<tr width="20%" class="inforow" style="display:none">
		<td><?php echo $this->translate("Programme Scheme")?></td><td id="progscheme"></td>
	</tr>
</table>

<br />

<h4 class="info"><?php echo $this->translate('PPP Details')?></h4>
<table width="100%" class="table">
	
	<tr>
		<td width="20%"><?php echo $this->translate('Reason for Applying')?></td>
		<td>
			<?php foreach ( $this->reasons as $reason ) : ?>
				<p>
					<input id="reason-<?php echo $reason['i_id']?>" type="checkbox" name="reason_selected[<?php echo $reason['i_id']?>]" value="<?php echo $reason['i_id']?>" />
					<label for="reason-<?php echo $reason['i_id']?>"><?php echo $reason['i_title']?></label>
				</p>
			<?php endforeach; ?>

			<br />

			<div id="reason_others">
			<p><?php echo $this->translate('Others')?>:</p>
			<?php echo $this->form->reason ?>
			</div>
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Proposed area of PPP')?></td>
		<td>
			<?php echo $this->form->proposedarea ?>
		</td>
	</tr>
	
	<tr>
		<td><?php echo $this->translate('Upload')?></td>
		<td>
			<?php echo $this->form->uploadfile ?>
			<small class='desc'><?php echo $this->translate('Allowed types')?>: jpg, jpeg, png, gif, doc, pdf, docx</small>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Start Date')?></td>
		<td>
			<?php echo $this->form->start_date ?>
		</td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('End Date')?></td>
		<td>
			<?php echo $this->form->end_date ?>
		</td>
	</tr>
</table>

<br />

<br /><br />

<div class="opt float nomargin">
	<button onclick="addEmployment();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Employment Detail')?></button>
</div>

<h4 class="info"><?php echo $this->translate("Employment Details")?></h4>
<table width="100%" class="table" id="employementtable">
	<tr>
		<th><?php echo $this->translate('Company Name')?></th>
		<th><?php echo $this->translate('Position')?></th>
		<th><?php echo $this->translate('Job Function')?></th>
		<th><?php echo $this->translate('Year')?></th>
		<th></th>
	</tr>
	<tr class='emptyrow'>
		<td colspan='5'><?php echo $this->translate('No employment details yet')?></td>
	</tr>
</table>

<br />

<!-- supervisor -->
<br /><br />

<div class="opt float nomargin">
	<button onclick="addSupervisor();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Supervisor')?></button> 
</div>

<h4 class="info"><?php echo $this->translate('Supervisors')?></h4>
<table width="100%" class="table" id="supervisor_table">
	<tr>
		<th><?php echo $this->translate('Supervisor')?></th>
		<th><?php echo $this->translate('Role')?></th>
		<th></th>
	</tr>
	<tr class='emptyrow'>
		<td colspan='3'><?php echo $this->translate('No supervisors yet')?></td>
	</tr>
</table>

<!--/supervisor -->

<!-- examiner -->
<br /><br />

<div class="opt float nomargin">
	<button onclick="addExaminer();" type="button"><span class="icon icon-plus-circled"></span> <?php echo $this->translate('Add Examiner')?></button> 
</div>

<h4 class="info"><?php echo $this->translate('Examiners')?></h4>
<table width="100%" class="table" id="examiner_table">
	<tr>
		<th><?php echo $this->translate('Examiner')?></th>
		<th><?php echo $this->translate('Role')?></th>
		<th width="20%"><?php echo $this->translate('Active')?></th>
		<th></th>
	</tr>
	<tr class='exemptyrow'>
		<td colspan='4'><?php echo $this->translate('No examiners yet')?></td>
	</tr>
</table>
<!-- /examiner -->

<div class="form-opt">
	<input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
	<input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel')?>" class="btn-cancel" onclick="window.location ='<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption'), 'default', true);?>'" />
</div>

</form>


<!-- employment dialog -->
<div id="dialog-employment" title="Add Employment Detail" style="display:none">
	<table width="100%">
	<tr>
		<td width="20%"><?php echo $this->translate("Company Name")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_compname" name="employment_compname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Company Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_compaddress" name="employment_compaddress" class="textarea reqfield"></textarea></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Position")?> <span class="reqMark">*</span></td>
		<td><input type="text" id="employment_position" class="input-txt reqfield" name="employment_position" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Job Function")?> <span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_jobfunction" name="employment_jobfunction" value="" /></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate("Year")?> <span class="reqMark">*</span></td>
		<td>
			<?php echo $this->translate('From')?> <input type="text" class="input-txt small year reqfield" id="employment_year_from" name="employment_year_from" value="" /> <?php echo $this->translate('To')?> <input type="text" class="input-txt small year reqfield" id="employment_year_to" name="employment_year_to" value="" />
		</td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Name")?><span class="reqMark">*</span></td>
		<td><input type="text" class="input-txt reqfield" id="employment_refname" name="employment_refname" value="" /></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Reference Address")?><span class="reqMark">*</span></td>
		<td><textarea id="employment_refaddress" name="employment_refaddress" class="textarea reqfield"></textarea></td>
	</tr>
	</table>
</div>
<!-- /employment dialog -->

<!-- examiner dialog -->
<div id="dialog-examiner" title="Add Examiner" style="display:none">
<?php echo $this->examiner_form ?>
</div>
<!-- /examiner dialog -->

<!-- supervisorr dialog -->
<div id="dialog-supervisor" title="Add Supervisor" style="display:none">
<?php echo $this->supervisor_form ?>
</div>
<!-- /supervisor dialog -->
<script type="text/javascript">
	var supervisor_array = [];
	var examiner_array = [];

	$(function()
	{
		$(".year").mask("9999");
		$(".datepicker").datepicker({dateFormat: "yy-mm-dd"});

		searchStudent();
		
		$( "#dialog-employment" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					var error = 0;

					$("#dialog-employment .reqfield").each(function()
					{
						if ( $(this).attr("type") != 'radio' )
						{
							var field = $(this).parent().prev().html();

							var p = $(this).val();

							if ( p == '' )
							{
								error = 1;
								//return false;
							}
						}
					});

					if ( error == 1 )
					{
						alert('Please fill in all the required fields');
						return false;
					}

					//successful
					addNewEmployement();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});

		$( "#dialog-supervisor" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					if ( $("#supervisor_userid").val() == '' ||  $("#supervisor_role").val() == '' )
					{
						alert('<?php echo $this->translate('Please complete all required fields') ?>');
						return false;
					}
					
					if ( $.inArray( $( "#supervisor_userid" ).val() , supervisor_array ) !==-1 )
					{
						alert('<?php echo $this->translate('This staff is already a supervisor') ?>');
						return false;
					}

					//successful
					addNewSupervisor();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});

		$( "#dialog-examiner" ).dialog({
			  modal: true,
			  autoOpen: false,
			  width: 650,
			  buttons: {
				"Save": function() {
					
					if ( $("#examienr_userid").val() == '' )
					{
						alert('<?php echo $this->translate('Please complete all required fields') ?>');
						return false;
					}
					
					if ( $.inArray( $( "#examiner_userid" ).val() , examiner_array ) !==-1 )
					{
						alert('<?php echo $this->translate('Cannot add the same examiner more than once') ?>');
						return false;
					}

					//successful
					addNewExaminer();

					$( this ).dialog( "close" );
				},
				"Cancel": function() {
					if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
					{
						$( this ).dialog( "close" );
					}
				}
			  }
		});
	});
	
	function addNewEmployement()
	{
		
		var html  = "<tr class='emprow'>"
					+"<td>"+htmlRow('employment_compname',1)+"</td>"
					+"<td>"+htmlRow('employment_position',1)+"</td>"
					+"<td>"+htmlRow('employment_jobfunction',1)+"</td>"
					+"<td align='center'>"+htmlRow('employment_year_from',1)
					+" - "
					+htmlRow('employment_year_to',1)
					+htmlRow('employment_compaddress',0)
					+htmlRow('employment_refname',0)
					+htmlRow('employment_refaddress',0)
					+"</td>"
					+"<td align='center'>"+"<a href='#' onclick='deleteEmploymentRow(this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
					+"</tr>";
		
		$("#employementtable tr.emptyrow").remove();
        $("#employementtable").append( html );
	}
	
	function htmlRow(name,html)
	{
		var value = $("#"+name).val();
		
		if (html == 1 )
		{
			return value+'<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
		else
		{
			return '<input type="hidden" name="'+name+'[]" value="'+value+'" />';
		}
	}


	function addNewSupervisor()
	{
		var supervisor_name = $( "#supervisor_userid option:selected" ).text();
		var supervisor_id = $( "#supervisor_userid" ).val();

		var supervisor_rolename = $( "#supervisor_role option:selected" ).text();
		var supervisor_role = $( "#supervisor_role" ).val();

		var html  = "<tr>"
                    +"<td>"+supervisor_name+"<input type='hidden' name='supervisor_userid[]' value='"+supervisor_id+"' /></td>"
                    +"<td>"+supervisor_rolename+"<input type='hidden' name='supervisor_role[]' value='"+supervisor_role+"' /></td>"
                    +"<td>"+"<a href='#' onclick='deleteSupervisorRow("+supervisor_id+", this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
                    +"</tr>";
		
		$("#supervisor_table tr.emptyrow").remove();
        $("#supervisor_table").append( html );

		supervisor_array.push(supervisor_id);
	}
	
	function addSupervisor()
	{	
		$("#dialog-supervisor").dialog('open');
	}

	function addEmployment()
	{
		$("#dialog-employment").dialog('open');
	}
	
	function deleteEmploymentRow(what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}

		//remove row
		$(what).parent().parent().remove();
	}

	function deleteSupervisorRow(supervisor_id, what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}
		
		//remove from array
		var i = supervisor_array.indexOf(supervisor_id.toString());
		if(i != -1) {
			supervisor_array.splice(i, 1);
		}
		
		//remove row
		$(what).parent().parent().remove();
	}

	function addNewExaminer()
	{
		var examiner_name = $( "#examiner_userid option:selected" ).text();
		var examiner_id = $( "#examiner_userid" ).val();

		var examiner_rolename = $( "#examiner_role option:selected" ).text();
		var examiner_role = $( "#examiner_role" ).val();

		var examiner_active = $( "#examiner_active:checked" ).val() == 1 ? 1 : 0;
		var examiner_active_name = $( "#examiner_active:checked" ).val() == 1 ? '<?php echo $this->translate('Yes')?>':'<?php echo $this->translate('No')?>';

		var html  = "<tr>"
                    +"<td>"+examiner_name+"<input type='hidden' name='examiner_userid[]' value='"+examiner_id+"' /></td>"
					+"<td>"+examiner_rolename+"<input type='hidden' name='examiner_role[]' value='"+examiner_role+"' /></td>"
                    +"<td align='center'>"+examiner_active_name+"<input type='hidden' name='examiner_active[]' value='"+examiner_active+"' /></td>"
                    +"<td align='center'>"+"<a href='#' onclick='deleteExaminerRow("+examiner_id+", this); return false;'><?php echo $this->translate('Delete')?></a>"+"</td>"
                    +"</tr>";
		
		$("tr.exemptyrow").remove();
        $("#examiner_table").append( html );

		examiner_array.push(examiner_id);
	}
	
	function addExaminer()
	{	
		$("#dialog-examiner").dialog('open');
	}

	function deleteExaminerRow(examiner_id, what)
	{
		var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');
		
		if ( ask === false )
		{
			return false;
		}
		
		//remove from array
		var i = examiner_array.indexOf(examiner_id.toString());
		if(i != -1) {
			examiner_array.splice(i, 1);
		}
		
		//remove row
		$(what).parent().parent().remove();
	}

	function getStudInfo()
	{
		var id = $("#student_id").val();

		$.getJSON( "<?php echo $this->baseUrl()?>/ajax-utility/get-student/id/"+id, function( data ) {
			$(".inforow").show();
			$("#programme").html(data.ProgramName);
			$("#progscheme").html(data.mop+"<br />"+data.mos+"<br />"+data.pt);
			$("#studid").html(data.registrationId);
			$("#studname").html(data.appl_fname+" "+data.appl_lname);
		});
	}

	function checkForm()
	{
		var error = 0;

		$("#form_topic .reqfield").each(function()
		{
			if ( $(this).attr("type") != 'radio' )
			{
				var field = $(this).parent().prev().html();

				var p = $(this).val();

				if ( p == '' )
				{                        
					//alert(field+" cannot be empty");
					$(this).parent().prev().addClass("req");
					$(this).focus();

					error = 1;
					//return false;
				}
				else
				{
					$(this).parent().prev().removeClass("req");
				}
			}
		});

		if ( error == 1 )
		{
			alert('Please fill in all the required fields');
			return false;
		}                
		
		if (supervisor_array.length == 0)
		{
			alert('Please assign atleast one supervisor');
			return false;
		}

		if ($(".emprow").length == 0)
		{
			alert('Please add atleast one employement detail');
			return false;
		}

		$(window).unbind('beforeunload');

		return true;
	}
	
	function searchStudent()
	{
		var type = $("input[name=search-type]:checked").val();
		
		$( "#student-search" ).val( '' );

		$( "#student-search" ).autocomplete({
			source: "<?php echo $this->baseUrl()?>/thesis/ajax/student/type/"+type,
			select: function( event, ui ) {
			   $( "#student-search" ).val( '' );
			   $( "#student_id" ).val( ui.item.value );

			   getStudInfo();
			   return false;
			},
			minLength: 2
		 });
	}

</script>

<style type="text/css">

div.opt.nomargin { margin:-6px 0 0 0 }
div.opt.nomargin button { margin:0; }
textarea.large { width:100%; height:150px; }
#dialog-employment table td { font-size:11px; }
.wrap-type  { margin-top:5px; vertical-align:top }

</style>