<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="exportList();">
					<span class='download'></span>
					<?php echo $this->translate('Download')?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption-add'), 'default', true);?>">
					<span class='add'></span>
					<?php echo $this->translate('Add')?>
				</a>
			</li>
			<li>
				<a href="#" onclick="return searchbox()">
					<span class='search'></span>
					<?php echo $this->translate('Search')?>
				</a>
            </li>
		</ul>
	</div>
</div>
<br />

<div id="search_form">
	<fieldset>
		<legend><?php echo $this->translate('Search')?></legend>
		<?php echo $this->form;?>
	</fieldset>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Student");?></th>
		<th><?php echo $this->translate("Student ID")?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration', 'action'=>'exemption-edit', 'id'=>$data['e_id']),'default',true);?>"><?php echo $data['student_name']?></a></td>
		<td align='center'>
			<?php echo $data['registrationId']?>
		</td>
		<td align='center'>
			<?php echo $data['status_code']?>
			<?php 
			if ( $data['status_code'] == 'APPROVED' ) { ?>
			<span class="icon icon-info-circled info tooltip"></span>
			<div class="tooltiptext">
				<p><strong><?php echo $this->translate('Approved Date')?></strong>: <?php echo format_date_to_view($data['approved_date'],'full'); ?> </p>
				<p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['approved_by_name']?></p>
			</div>
			<?php } elseif ( $data['status_code'] == 'REJECT') { ?>
			<span class="icon icon-info-circled info tooltip reject"></span>
			<div class="tooltiptext">
				<p><strong><?php echo $this->translate('Rejected Date')?></strong>: <?php echo format_date_to_view($data['rejected_date'],'full'); ?> </p>
				<p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['rejected_by_name']?></p>
			</div>
			<?php } ?>
		</td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No articleship exemption yet')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
<style type="text/css">
.tooltip.reject { color:red } 
</style>
<script type="text/javascript">
function searchbox(){
	$('#search_form').toggle();
	return false;
}

$(function (){
	$('#approval_date').datepicker({
		dateFormat: 'dd-mm-yy',
		changeMonth: true,
		changeYear: true
		//maxDate: '0'
	});

	$('#save').click(function(){
		var url = "<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption'),'default',true);?>";
		$('#search_form_lala').attr('action',url);
	});
});


function exportList(){
	var url = "<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption-export'),'default',true);?>";
	$('#search_form_lala').attr('action',url);
	$('#search_form_lala').submit();
}
</script>