<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<style>
    .exceltext{
        mso-number-format:"\@";/force text/
    }
</style>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate("Student");?></th>
        <th><?php echo $this->translate("Student ID")?></th>
        <th><?php echo $this->translate("Program")?></th>
        <th><?php echo $this->translate("Course")?></th>
        <th><?php echo $this->translate("Title")?></th>
        <th><?php echo $this->translate("Current Semester")?></th>
        <th><?php echo $this->translate("Supervisors");?></th>
        <th><?php echo $this->translate("Supervisors Email");?></th>
        <th><?php echo $this->translate("Secondary Email");?></th>
    </tr>

    <?php
    $i=0;
    if ( count($this->paginator) > 0 ):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td>
                    <?php echo $data['student_name']; ?>
                </td>
                <td align="center"><?php echo $data['registrationId']?></td>
                <td><?php echo $data['ProgramCode']?></td>
                <td><?php echo $data['SubCode']?></td>
                <td><?php echo $data['p_title']?></td>
                <td class="exceltext"><?php echo $data['SemesterMainName']?></td>
                <td>
                    <?php
                    if (isset($data['lecturer']) && count($data['lecturer']) > 0){
                        $no = 0;
                        foreach ($data['lecturer'] as $lecturer){
                            $no++;

                            echo $no.') '.$lecturer['role_name'].' - '.$lecturer['supervisor_name'].'<br />';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if (isset($data['lecturer']) && count($data['lecturer']) > 0){
                        $no = 0;
                        foreach ($data['lecturer'] as $lecturer){
                            $no++;
                            if($lecturer['supervisor_email']) {
                                echo $no . ') ' . $lecturer['supervisor_email'] . '<br />';
                            }
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if (isset($data['lecturer']) && count($data['lecturer']) > 0){
                        $no = 0;
                        foreach ($data['lecturer'] as $lecturer){
                            $no++;
                            if($lecturer['supervisor_email2']) {
                                echo $no . ') ' . $lecturer['supervisor_email2'] . '<br />';
                            }
                        }
                    }
                    ?>
                </td>
            </tr>
            <?php
            $i++;
        endforeach ;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No proposals yet')?></td>
        </tr>
        <?php
    endif;
    ?>
</table>


