<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate("Student");?></th>
        <th><?php echo $this->translate("Student ID")?></th>
        <th><?php echo $this->translate("Title")?></th>
        <th><?php echo $this->translate("Category");?></th>
        <th><?php echo $this->translate("Topic");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Date Created");?></th>
        <th><?php echo $this->translate("Supervisors");?></th>
        <th><?php echo $this->translate("Examiners");?></th>
    </tr>

    <?php
    $i=0;
    if ( count($this->paginator) > 0 ):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td>
                    <?php echo $data['student_name']; ?>
                </td>
                <td align="center"><?php echo $data['registrationId']?></td>
                <td><?php echo $data['p_title']?></td>
                <td><?php echo $data['category_name']?></td>
                <td><?php echo $data['topic_name']?></td>
                <td align='center'>
                    <?php echo $data['status_name']?>

                    <?php if ( $data['status_name'] == 'APPROVED' ) { ?>
                        <span class="icon icon-info-circled info tooltip"></span>
                        <div class="tooltiptext">
                            <p><strong><?php echo $this->translate('Approved Date')?></strong>: <?php echo format_date_to_view($data['approved_date'],'full'); ?> </p>
                            <p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['approved_by_name']?></p>
                        </div>
                    <?php } elseif ( $data['status_name'] == 'REJECT') { ?>
                        <span class="icon icon-info-circled info tooltip reject"></span>
                        <div class="tooltiptext">
                            <p><strong><?php echo $this->translate('Rejected Date')?></strong>: <?php echo format_date_to_view($data['rejected_date'],'full'); ?> </p>
                            <p><strong><?php echo $this->translate('By')?></strong>: <?php echo $data['rejected_by_name']?></p>
                        </div>
                    <?php } ?>
                </td>
                <td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
                <td>
                    <?php
                    if (isset($data['lecturer']) && count($data['lecturer']) > 0){
                        $no = 0;
                        foreach ($data['lecturer'] as $lecturer){
                            $no++;

                            echo $no.') '.$lecturer['supervisor_name'].'<br />';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    if (isset($data['examiner']) && count($data['examiner']) > 0){
                        $no = 0;
                        foreach ($data['examiner'] as $examiner){
                            $no++;

                            echo $no.') '.$examiner['internal_fullname'].'<br />';
                        }
                    }
                    ?>
                </td>
            </tr>
            <?php
            $i++;
        endforeach ;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No proposals yet')?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
