<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="exportList();">
                    <span class='download'></span>
                    <?php echo $this->translate('Download') ?>
                </a>
            </li>
<!--            <li>-->
<!--                <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-add'), 'default', true); ?><!--">-->
<!--                    <span class='add'></span>-->
<!--                    --><?php //echo $this->translate('Register') ?>
<!--                </a>-->
<!--            </li>-->
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<?php
$searchbox = !empty($this->formData) ? 0 : 1;
?>
<div id="search_form" style="<?php echo $searchbox == 1 ? 'display:none' : '' ?>">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>

<h3><?php echo $this->translate('Research List') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');

?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th width="15%"><?php echo $this->translate("Student Name"); ?></th>
        <th width="10%"><?php echo $this->translate("Student ID") ?></th>
        <th width="5%"><?php echo $this->translate('Programme') ?></th>
        <th width="5%"><?php echo $this->translate('Course') ?></th>
        <th width="5%"><?php echo $this->translate('Intake') ?></th>
        <th width="5%"><?php echo $this->translate('Current Semester') ?></th>
<!--        <th width="40%">--><?php //echo $this->translate("Title") ?><!--</th>-->
<!--        <th width="40%">--><?php //echo $this->translate("Activity") ?><!--</th>-->
        <th width="5%"><?php echo $this->translate("Registration Status"); ?></th>
<!--        <th width="5%">--><?php //echo $this->translate("Proposal Defence Status"); ?><!--</th>-->
    </tr>

    <?php
    $i = 0;
//    echo '<pre>';
//print_r($this->paginator);

    if (count($this->paginator) > 0):
        foreach ($this->paginator as $index => $data):
           ?>
            <tr>
                <td>
<!--                    <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'id' => $data['p_id']), 'default', true); ?><!--">-->
<!--                        --><?php //echo $data['student_name']; ?>
<!--                    </a>-->
                    <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-activity', 'id' => $data['p_id']), 'default', true); ?>">
                        <?php echo $data['student_name']; ?>
                    </a>
                </td>
                <td><?php echo $data['registrationId'] ?></td>
                <td><?php echo $data['ProgramCode'] ?></td>
                <td><?php echo $data['SubCode'] ?? '-' ?></td>
                <td><?php echo $data['intake_name'] ?? '-' ?></td>
                <td><?php echo $data['SemesterMainName'] ?? '-' ?></td>
<!--                <td>--><?php //echo $data['p_title'] ?><!--</td>-->
<!--                <td>--><?php //echo $data['DefinitionDesc'] ?><!--</td>-->
                <td align='center'>
                    <?php echo $data['status_description'] ?>

                    <?php if ($data['status_name'] == 'APPROVED') { ?>
                        <span class="icon icon-info-circled info tooltip"></span>
                        <div class="tooltiptext">
                            <p>
                                <strong><?php echo $this->translate('Approved Date') ?></strong>: <?php echo format_date_to_view($data['approved_date'], 'full'); ?>
                            </p>
                            <p>
                                <strong><?php echo $this->translate('By') ?></strong>: <?php echo $data['approved_by_name'] ?>
                            </p>
                        </div>
                    <?php } elseif ($data['status_name'] == 'REJECT') { ?>
                        <span class="icon icon-info-circled info tooltip reject"></span>
                        <div class="tooltiptext">
                            <p>
                                <strong><?php echo $this->translate('Rejected Date') ?></strong>: <?php echo format_date_to_view($data['rejected_date'], 'full'); ?>
                            </p>
                            <p>
                                <strong><?php echo $this->translate('By') ?></strong>: <?php echo $data['rejected_by_name'] ?>
                            </p>
                        </div>
                    <?php } ?>
                </td>
<!--                <td>--><?php //echo $data['pd_status_description'] ?><!--</td>-->
            </tr>
            <?php
            $i++;
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No proposals yet') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>
<style type="text/css">
    .tooltip.reject {
        color: red
    }
</style>
<script type="text/javascript">
    function searchbox() {
        $('#search_form').toggle();
        return false;
    }

    $(function () {
        $('#approval_date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $('#save').click(function () {
            var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal'), 'default', true);?>";
            $('#search_form_lala').attr('action', url);
        });
    });


    function exportList() {
        var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-export'), 'default', true);?>";
        $('#search_form_lala').attr('action', url);
        $('#search_form_lala').submit();
    }
</script>