<script type="text/javascript">

dojo.addOnLoad(function(){	
	//var idCountry = dijit.byId('idCountry').value;
        //var Currency = dijit.byId('Currency').value;
        /*if (dijit.byId('Currency')){
            dijit.byId('Currency').set('value','');
            dijit.byId('Currency').set('placeHolder','Select');

            var xhrArgs = {
            url: "<?php echo $this->baseUrl();?>"+"/generalsetup/branchofficevenue/getcurrencylist/",
            handleAs:'json',
            load:function(data){
                AutoFillNextEditableDropDown("Currency",data);
                }
            }
            dojo.xhrGet(xhrArgs);
        }*/
});

function arrHasDupes( A ) { // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                         // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}
	
	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }
	                
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
function fnGetCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/generalsetup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("idState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}	

$(function() {
     $( "#tabs" ).tabs();

     var idbranch = '<?php echo $this->idBranch ?>';
    
     url2="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'branch-address','idbrc'=>$this->lintidbrc),'default',true);?>/id/"+idbranch;
	 $( "#tab2" ).load( url2 );

	 url3="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'view-history','idbrc'=>$this->lintidbrc),'default',true);?>/id/"+idbranch;
	 $( "#tab3" ).load( url3 );
         
         url4="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'view-program','idbrc'=>$this->lintidbrc),'default',true);?>/id/"+idbranch;
	 $( "#tab4" ).load( url4 );

         url5="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'view-mou','idbrc'=>$this->lintidbrc),'default',true);?>/id/"+idbranch;
	 $( "#tab5" ).load( url5 );

         dojo.parser.parse();
  });

function saveData(){

	var flag=true;

	if(dijit.byId("BranchName").value==''){
	    dijit.byId("BranchName").attr('required','true');
		dijit.byId("BranchName").focus();
		flag = false;
	}

	if(dijit.byId("BranchCode").value==''){
	    dijit.byId("BranchCode").attr('required','true');
		dijit.byId("BranchCode").focus();
		flag = false;
	}

	return flag;
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'index','idbrc'=>$this->lintidbrc),'default',true);?>';" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br><br>

<div id="tabs">
  <ul>
    <li><a href="#tab1"><?php echo $this->translate('Branch Details'); ?></a></li>
    <li><a href="#tab2"><?php echo $this->translate('Branch Address'); ?></a></li>
    <li><a href="#tab4"><?php echo $this->translate('Branch Programme'); ?></a></li>
	  <!--    <li><a href="#tab5"><?php echo $this->translate('Branch Agreement'); ?></a></li>-->
    <li><a href="#tab3"><?php echo $this->translate('Historical Records')?></a></li>   
  </ul>
  
  <div id="tab1">
  <!--
  <div class="message toolbar">
	<div class="toolbar-button">
		<ul>
		 <li>
				<a href="#" onclick="javascript:saveData()" >
					<span class='save'></span>
					<?php echo $this->translate("Save");?>
				</a>
			</li>
			
		</ul>
	</div>
</div>-->
	
<br><br />
   	<form dojoType="dijit.form.Form" id="myForm" name="myForm" method="post" action="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'branchofficevenuelist','idbrc'=>$this->lintidbrc,'id'=>$this->idBranch),'default',true);?>">
	<script type="dojo/method" event="onSubmit">
		if (saveData() == false)
		{
			return false;
		}
		if (this.validate()) {
		  return true;
		} else {
		  return false;
		}
		</script> 
<?php echo $this->lobjBranchofficevenueform->UpdDate;?> <?php echo $this->lobjBranchofficevenueform->UpdUser;?>
<?php echo $this->lobjBranchofficevenueform->IdBranch;?>
<table class="table" border="0" width="100%" cellpadding="5"
	cellspacing="1">
	<tr>
		<th colspan="4"><?php echo $this->translate->_("Branch").' '.$this->translate("Details");?></th>
	</tr>
	<tr>
		<td><?php echo $this->translate("Branch").' '.$this->translate("Name");?><span
			class="reqMark">*</span></td>
		<td><?php echo $this->lobjBranchofficevenueform->BranchName;?></td>
		

	</tr>
	
	<?php if($this->lintidbrc == 1){?>
		<tr>
		<td ><?php echo $this->translate("Branch Code");?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->BranchCode;?></td>
		<td ><?php echo $this->translate("Type");?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->IdType;?></td>
		</tr>
		<tr>
		 <td><?php echo $this->translate($this->defaultlanguage);?></td>
			<td ><?php echo $this->lobjBranchofficevenueform->Arabic;?></td>
			<td><?php echo $this->translate("Active");?></td>
			<td><?php echo $this->lobjBranchofficevenueform->Active;?></td>                            
		 </tr>
		 <tr>
		 <td><?php echo $this->translate('Start Date');?></td>
		 <td ><?php echo $this->lobjBranchofficevenueform->StartDate;?></td>
		 <td><?php echo $this->translate('End Date');?></td>
		 <td ><?php echo $this->lobjBranchofficevenueform->EndDate;?></td>
		 </tr>
		 <tr>
			 <td><?php echo $this->translate("Institution Email Address"); ?></td>
			 <td><?php echo $this->lobjBranchofficevenueform->InstitutionEmail; ?></td>
			 <td><?php echo $this->translate("Phone"); ?><span class="reqMark">*</span></td>
			 <td><?php echo $this->lobjBranchofficevenueform->Phone2; ?></td>
		 </tr>
		 <tr>
			 <td><?php echo $this->translate("Currency"); ?></td>
			 <td><?php echo $this->lobjBranchofficevenueform->Currency; ?></td>
			 <td><?php echo $this->translate("Exemption Criteria "); ?></td>
			 <td><?php echo $this->lobjBranchofficevenueform->ExemptionCriteria; ?></td>
		 </tr>
		 <tr>
			 <td><?php echo $this->translate("Remark"); ?></td>
			 <td><?php echo $this->lobjBranchofficevenueform->Remark; ?></td>
			 <td></td>
			 <td></td>
		 </tr>
		 <tr>
         	<td><?php echo $this->translate("Online Registration URL"); ?></td>
         	<td colspan="3">
         		http://apply.inceif.org/online-application?branch=<?php echo $this->lobjBranchofficevenueform->registration_url; ?>
         	</td>
         </tr>
		 <tr>
			<th colspan = "4"><?php echo $this->translate("Contact Person")?></th>
</tr>
		<tr>
			<td><?php echo $this->translate("Contact Person"); ?></td>
			<td><?php echo $this->lobjBranchofficevenueform->cp; ?></td>
			<td><?php echo $this->translate("Contact Person Email"); ?></td>
			<td><?php echo $this->lobjBranchofficevenueform->cpemail; ?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Contact Person Head"); ?></td>
			<td><?php echo $this->lobjBranchofficevenueform->cph; ?></td>
			<td><?php echo $this->translate("Contact Person Head Email"); ?></td>
			<td><?php echo $this->lobjBranchofficevenueform->cphemail; ?></td>
		</tr>
		
		<?php } else if($this->lintidbrc == 2) {?>
		<tr>
		<td ><?php echo $this->translate($this->idbrch).' '.$this->translate("Code");?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->BranchCode;?></td>
		<td ><?php echo $this->translate("Branch")?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->Branch;?></td>
		</tr>
		
		<tr>
		<td ><?php echo $this->translate("Type");?><span class="reqMark"></span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->IdType;?></td>

		<td><?php echo $this->translate($this->defaultlanguage);?></td>
		   <td ><?php echo $this->lobjBranchofficevenueform->Arabic;?></td>
		</tr>
			
			
		<?php } else {?>
		<tr>
		<td ><?php echo $this->translate($this->idbrch).' '.$this->translate("Code");?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->BranchCode;?></td>
		<td ><?php echo $this->translate("Office")?><span class="reqMark">*</span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->Branch;?></td>
		</tr>
		
		<tr>
		<td ><?php echo $this->translate("Type");?><span class="reqMark"></span></td>
		<td ><?php echo $this->lobjBranchofficevenueform->IdType;?></td>
		<td><?php echo $this->translate($this->defaultlanguage);?></td>
		<td ><?php echo $this->lobjBranchofficevenueform->Arabic;?></td>
		</tr>
		<?php }?>
</table>

<div class="form-opt">
	<input class="btn-submit" type="submit" value="Save" />
</div>
</form>
  </div>
  
  
  <div id="tab2">  	
  </div> 
  
   <div id="tab3">  	
  </div> 
    
  <div id="tab4">  	
  </div>


</div>
<br></br>

<!-- temp, nanti move to style.css -->
<style type="text/css">
#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px;
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

#tabs .ui-tabs-nav li:first-child { margin-left:10px; } 
#tabs .ui-tabs-panel { 
    background: #fff;
	font-size:11px;
	border:none;
}
</style>
