
<script>
dojo.addOnLoad(function(){
		
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	
	});

function del(id){
	msg = confirm('<?php echo $this->translate("Are you sure you want to delete this branch?");?>');
	if(msg){
		window.location="<?php echo $this->baseUrl();?>/generalsetup/branchofficevenue/delete-branch/id/"+id;
	}
}
</script>
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'university','action'=>'index'),'default',true);?>"><?php echo $this->translate("University"); ?></a></div></li>
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'collegemaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Department"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'departmentmaster','action'=>'index'),'default',true);?>"><?php echo $this->translate("Unit"); ?></a></div></li>
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue','action'=>'index','idbrc'=>1),'default',true);?>"><?php echo $this->translate("Branch"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center','action'=>'index'),'default',true);?>"><?php echo $this->translate("Partner"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>
<br></br>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			 <li>
				<a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'branchofficevenue', 'action'=>'newbranchofficevenue','idbrc'=>1),'default',true);?>';" >
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>			
		</ul>
	</div>
</div>
<br></br>

<fieldset>
<legend><?php echo $this->translate("Search");?></legend>
	<form action="<?php echo $this->baseUrl();?>/generalsetup/branchofficevenue/index/search/1/idbrc/<?php echo $this->lintidbrc;?>" method="POST">
            <dl class="zend_form">
            <dt><?php echo $this->translate("Branch Name");?></dt>
            <dd><?php echo $this->lobjform->field2;?></dd>		
            <dt><?php echo $this->translate("Country Name");?></dt>
            <dd><?php echo $this->lobjform->field5;?></dd>
            <dt><?php echo $this->translate("State Name");?></dt>
            <dd><?php echo $this->lobjform->field8;?></dd>
            <dt><?php echo $this->translate("Active");?></dt>
            <dd><?php echo $this->lobjform->field7;?></dd>
            <dt><?php echo $this->translate($this->defaultlanguage);?></dt>
            <dd ><?php echo $this->lobjform->field28;?></dd>                
            <dd colspan="4" align="center">
            <?php echo $this->lobjform->Search;?>								
            <?php echo $this->lobjform->Clear;?>					
            </dd>
            </dl>
	</form>	
</fieldset>
</br>
<h3><?php echo $this->translate('Branch List') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
	     <th><?php echo $this->translate("Branch Name");?></th>
	     <th ><?php echo $this->translate($this->defaultlanguage);?></th>
	     <th ><?php echo $this->translate("Country");?></th>
	     <th ><?php echo $this->translate("State");?></th>
	     <th ><?php echo $this->translate("Registration URL");?></th>
	     <!--<th><?php echo $this->translate("Action");?></th>
	     -->
		<th></th>
	</tr>
	<?php if (count($this->paginator)): 
		foreach ($this->paginator as $Branchofficevenue ): ?>
	<tr>
		<td><?php echo $this->escape($Branchofficevenue['BranchName']);?></td>
		<td><?php echo $this->escape($Branchofficevenue['Arabic']);?></td>
		<td><?php echo $this->escape($Branchofficevenue['CountryName']);?></td>
		<td><?php echo $this->escape($Branchofficevenue['StateName']);?></td>
		<td>
			<?php 
				if(!empty($Branchofficevenue['registration_url'])) { ?>
					http://apply.inceif.org/online-application?branch=<?php echo $Branchofficevenue['registration_url']; 
				}
			?>
		</td>
		<td>
			<a href="<?php echo $this->baseUrl();?>/generalsetup/branchofficevenue/branchofficevenuelist/id/<?php echo $this->escape($Branchofficevenue['IdBranch']);?>/idbrc/<?php echo $this->lintidbrc;?>" rel="lyteframe" rev="width: 870px; height: 475px; scrolling: auto" >
			Edit</a>
		</td>
		<!--<td><a href="#" onclick="del('<?php echo $Branchofficevenue['IdBranch']?>')"><?php echo $this->translate("Delete");?></a></td>
	--></tr>
		<?php endforeach;
	endif; ?>
	<tr>
		<td colspan="8" align="right">
			<div class="pagination">
				<?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
				<?php
				echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
				?>
			</div>
		</td>
	</tr>
</table>

<style type="text/css">
.zend_form dt{ width:210px;}
.zend_form dd{ padding-left:220px;}
</style>
