<div class="message toolbar">
    <h2><?php echo $this->translate('Intake Data Migration'); ?></h2>
    <div class="toolbar-button">
        <ul>
        </ul>
    </div>
</div>

<form action="" method="post">

    <table>
        <!--        <tr>-->
        <!--            <select id='intake'">-->
        <!--                --><?php //foreach($_productCollection as $product): ?>
        <!--                    <option value="--><?php //$product->getAttributeText('years') ?><!--">-->
        <?php //    $product->getAttributeText('years') ?><!--</option>-->
        <!--                --><?php //endforeach; ?>
        <!--            </select>-->
        <!--        </tr>-->
        <!--        </br></br>-->
        <tr>
            <td><input class="btn" name="upload" id="upload" type="submit"
                       value="<?php echo $this->translate('Import New Intake') ?>"/></td>
        </tr>
    </table>

</form>

</br>
<?php $action_url = $this->baseUrl() . "/thesis/data-migration/intake-migration/"; ?>
<fieldset>
    <legend><?php echo $this->translate('Search') ?></legend>
    <br/>
    <form method="post" action="<?php echo $action_url ?>">
        <table width="50%">
            <tr>
                <td><?php echo $this->translate('Intake Code'); ?></td>
                <td><input type="text" name="intake_code" class="input-txt"
                           value="<?php echo $this->search['intake_code']; ?>"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="search" value="<?php echo $this->translate('Search'); ?>"/>
                    <input type="button" id="reset-filter" value="<?php echo $this->translate('Clear'); ?>"/>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
</br>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th width="10%"><?php echo $this->translate("No"); ?></th>
        <th width="10%"><?php echo $this->translate("Intake ID"); ?></th>
        <th width="10%"><?php echo $this->translate("ICEMS Intake ID"); ?></th>
        <th width="50%"><?php echo $this->translate("Intake Desc"); ?></th>
        <th><?php echo $this->translate("Status"); ?></th>
        <th><?php echo $this->translate("Migration Date"); ?></th>
    </tr>

    <?php
    $i = 1;
    if (isset($this->paginator)):
        if (count($this->paginator) > 0):
            foreach ($this->paginator as $data): ?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo $data['IdIntake']; ?></td>
                <td><?php echo $data['IntakeId']; ?></td>
                <td><?php echo $data['IntakeDefaultLanguage']; ?></td>
                <td align="center"><?php if (!empty($data['icem_migration'])) {
                        echo $data['icem_migration'];
                    } else {
                        echo 'Existed';
                    } ?></td>
                <td align="center"><?php echo $data['icem_migration_date']; ?></td>
            </tr>
            <?php
            $i++;
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No Program Data') ?></td>
        </tr>
        <?php
    endif;
    endif;
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>
<script type="text/javascript">
    $('#reset-filter').click(function () {
        window.location.href = '<?php echo $action_url ?>';
    });
</script>