<div class="message toolbar">
    <h2><?php echo $this->translate('Research Data Migration'); ?></h2>
    <div class="toolbar-button">
        <ul>
        </ul>
    </div>
</div>

<form action="" method="post" onsubmit="return checkSem()">

    <table>
        <tr>
            <td><input class="btn" name="upload" id="upload" type="submit"
                       value="<?php echo $this->translate('Import New Research') ?>"/></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?><font color="red" size="1"><em>*</em></font></td>
            <td>
                <select class="select" name="sem" id="sem">
                    <?php if (count($this->listSem)): ?>
                        <option value="0">Please select</option>
                        <?php foreach ($this->listSem as $row): ?>
                            <option
                                value="<?php echo $row['sem_id']; ?>"><?php echo $row['SemesterMainDefaultLanguage']; ?> </option>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <option value="0">No record found</option>
                    <?php endif; ?>
                </select>
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Level'); ?><font color="red" size="1"><em>*</em></font></td>
            <td>
                <select class="select" name="level" id="level">
                    <?php if (count($this->listSem)): ?>
                        <option value="0">Please select</option>
                        <option value="5">Masters</option>
                        <option value="6">PHD</option>
                    <?php else: ?>
                        <option value="0">No record found</option>
                    <?php endif; ?>
                </select>
            </td>
        </tr>
    </table>

</form>

</br>
<?php $action_url = $this->baseUrl() . "/thesis/data-migration/research-migration/"; ?>
<fieldset>
    <legend><?php echo $this->translate('Search') ?></legend>
    <br/>
    <form method="post" action="<?php echo $action_url ?>">
        <table width="50%">
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><input type="text" name="student_id" class="input-txt"
                           value="<?php echo $this->search['student_id']; ?>"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="search" value="<?php echo $this->translate('Search'); ?>"/>
                    <input type="button" id="reset-filter" value="<?php echo $this->translate('Clear'); ?>"/>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
</br>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th width="5%"><?php echo $this->translate("No"); ?></th>
        <th width="15%"><?php echo $this->translate("Name"); ?></th>
        <th width="15%"><?php echo $this->translate("Student ID"); ?></th>
        <th width="15%"><?php echo $this->translate("Semester"); ?></th>
        <th width="15%"><?php echo $this->translate("Course"); ?></th>
        <th><?php echo $this->translate("Status"); ?></th>
        <th><?php echo $this->translate("Migration Date"); ?></th>
    </tr>

    <?php
    $i = 1;
    if (isset($this->paginator)):
    if (count($this->paginator) > 0):
        foreach ($this->paginator as $data): ?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo $data['appl_fname']; ?></td>
                <td><?php echo $data['appl_username']; ?></td>
                <td><?php echo $data['SemesterMainDefaultLanguage']; ?></td>
                <td><?php echo $data['SubjectName']; ?></td>
                <td align="center"><?php if (!empty($data['icem_migration'])) {
                        echo $data['icem_migration'];
                    } else {
                        echo 'Existed';
                    } ?></td>
                <td align="center"><?php echo $data['icem_migration_date']; ?></td>
            </tr>
            <?php
            $i++;
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No Registration Data') ?></td>
        </tr>
        <?php
    endif;
    endif;
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>
<script type="text/javascript">
    $('#reset-filter').click(function () {
        window.location.href = '<?php echo $action_url ?>';
    });

    function checkSem() {
        var sem = $('#sem').val();
        var lvl = $('#level').val();

        if (sem == 0 || lvl == 0) {
            alert('Please select the required field.');
            return false;
        }
    }
</script>