<style>
.makebold {
	font-weight: bold;
}
</style>
<table class="table" width="100%">
	<tr>
		<th colspan="4"><?php echo $this->translate("Student Detail"); ?>
		</th>
	</tr>
	<tr>
		<td class="makebold"><?php echo $this->translate("Student Id"); ?></td>
		<td><?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?>
		</td>
		<td class="makebold"><?php echo $this->translate("NRIC Id"); ?></td>
		<td><?php echo ($this->studDet['NRIC']) ? $this->studDet['NRIC'] : ''?>
		</td>
	</tr>
	<tr>
		<td class="makebold"><?php echo $this->translate("Name"); ?></td>
		<td><?php echo ($this->studDet['name']) ? $this->studDet['name'] : ''?>
		</td>
		<td class="makebold"><?php echo $this->translate("Gender"); ?></td>
		<td><?php echo 'Gender';?></td>
	</tr>
	<tr>
		<td class="makebold"><?php echo $this->translate("Profile Status"); ?>
		</td>
		<td><?php echo ($this->studDet['DefinitionDesc']) ? strtoupper($this->studDet['DefinitionDesc']) : ''?>
		</td>
		<td class="makebold"><?php echo $this->translate("Program"); ?></td>
		<td><?php echo ($this->studDet['ProgramName']) ? $this->studDet['ProgramName'] : ''?>
		</td>
	</tr>
	<tr>
		<td class="makebold"><?php echo $this->translate("Intake"); ?></td>
		<td><?php echo $this->studDet['IntakeDesc'];?></td>
		<td class="makebold"><?php echo $this->translate("Disability"); ?></td>
		<td><?php echo 'Disability';?></td>
	</tr>
	<tr>
		<td class="makebold"><?php echo $this->translate("Telephone No"); ?></td>
		<td><?php echo $this->studDet['HomePhone'];?></td>
		<td class="makebold"><?php echo $this->translate("Handphone No") ; ?>
		</td>
		<td><?php echo $this->studDet['CellPhone'];?></td>
	</tr>
</table>
