<script>
	$(document).ready(function() {        
	    $('.reservedseat').bt({
	          padding: 15,
	          width: 100,
	          height: 20,
	          spikeLength: 20,
	          spikeGirth: 10,
	          cornerRadius: 20,
	          fill: 'rgba(0, 0, 0, .8)',
	          strokeWidth: 3,
	          strokeStyle: '#CC0',
	          cssStyles: {color: '#FFF'}
	    });
	    $('#reservedstudentseat').bt({
	          padding: 15,
	          width: 100,
	          height: 20,
	          spikeLength: 20,
	          spikeGirth: 20,
	          cornerRadius: 10,
	          fill: 'rgba(0, 0, 0, .8)',
	          strokeWidth: 3,
	          strokeStyle: '#CC0',
	          cssStyles: {color: '#FFF'}
	    });
	});
    function changeimg(idval) {
		//alert(idval);
        $('.selectclass').each(function(){
            $(this).attr("src","<?php echo $this->baseUrl();?>/images/grey.png");            
            $(this).attr("class","unselect");
            $(this).parent().removeAttr("bt-xtitle");
        });
        $("#"+idval).attr("src","<?php echo $this->baseUrl();?>/images/green.png");
        $("#"+idval).attr("onclick", "delimg('"+idval+"')");
        $("#"+idval).attr("class", "selectclass");
        $("#id"+idval).val(idval);
    }

    function delimg(idval) {
        $("#"+idval).attr("src","<?php echo $this->baseUrl();?>/images/grey.png");
        $("#"+idval).attr("onclick", "changeimg('"+idval+"')");
        $("#"+idval).attr("class", "unselect");
        $("#id"+idval).val('');
    }

    function getroomreserved(){
        var i = 0;
        if($('.selectclass').length > 0){
            $('.selectclass').each(function(){
                var selectedRoom = $(this).attr("id");
                var myarr = selectedRoom.split("_");
                $('#RoomId').val(myarr[0]);
                $('#RoomCode').val(myarr[1]);
                $('#SeatNo').val(myarr[2]);
                $('#IdHostelRoom').val(myarr[0]);
                $('#Room').val(myarr[1]);
                dijit.byId("Room").set( "state", "Normal" );
                $('#setroom').val(myarr[0]+'._'+myarr[1]+'._'+myarr[2]);
                var idHostelLevel = $('#IdHostelLevel').val();
                var idHostelBlock = $('#IdHostelBlock').val();
                $('#block').val(idHostelBlock);
                $('#level').val(idHostelLevel);
            });
            parent.jQuery.fn.colorbox.close();
        }else{
                alert('Please select room');
        }
    }


    </script>
<div style="width: 100%" id="showblock">
	<div style="width: 100%" id="showlevel">
		<?php if($this->roomList == ''){?>
		<font color="red">No Room Available for selected block and level</font>
		<?php }else{?>
		<h1>
	     <?php if($this->gender == 1) { 
	            echo $this->translate('Male');  
	          } else if($this->gender == 2) { 
	            echo $this->translate('Female'); 
	          } else {
	            echo $this->translate('Any Gender'); 
	          }?>
	    </h1>
		<?php foreach($this->roomList as $room){?>
		<div class="splitRoom">
			<table width="100%" cellspacing="0" class="roomTable">
				<tr>
					<td><h1>
							<?php echo $room['RoomName']." / ".$room['RoomTypeName']; ?>
						</h1></td>
				</tr>
				<tr>
					<td colspan="2"><?php if($room['Capacity'] == 0){?> <font
						color="red">No Room Available for selected block and level</font>
					</td>
				</tr>
			</table>
		</div>
		<?php }else{?>
		<?php for($i=1; $i<=$room['Capacity'];$i++){?>
		<?php
		$id = $room['IdHostelRoom']."_".$i;
		if(inarraycheck($id,$this->occupiedRoomList)){
                        if($this->studentRoomId == $id){?>
		<span id="reservedstudentseat" class="target" title=""><img
			class="unselect"
			id="<?php echo str_replace(' ', '_',$room['IdHostelRoom']."_".$room['RoomCode']."._".$i);?>"
			src="<?php echo $this->baseUrl();?>/images/grey.png"
			onclick="changeimg('<?php echo $room['IdHostelRoom']."_".$room['RoomCode']."_".$i;?>');"
			style="cursor: default;" /> </span>
		<?php }else{?>
		<?php foreach($this->occupiedRoomList as $list){?>
		<?php $title = ''?>
		<?php if($list['seatname'] == $id){?>
		<span class="target reservedseat"
			title="<?php echo $list['registrationId'].' - '.$list['studentname'];?>"><img
			id="<?php echo str_replace(' ', '_',$room['IdHostelRoom']."_".$room['RoomCode']."_".$i);?>"
			src="<?php echo $this->baseUrl();?>/images/red.png"
			style="cursor: default;" /> </span>
		<?php } ?>
		<?php } ?>
		<?php }
}else{?>
		<img class="unselect"
			id="<?php echo str_replace(' ', '_',$room['IdHostelRoom']."_".$room['RoomCode']."_".$i);?>"
			src="<?php echo $this->baseUrl();?>/images/grey.png"
			onclick="changeimg('<?php echo str_replace(' ', '_',$room['IdHostelRoom']."_".$room['RoomCode']."_".$i);?>');"
			style="cursor: default;" />
		<?php }
} ?>
		</td>
		</tr>
		</table>
	</div>
	<?php }
}
} ?>
</div>
<?php
       // if($this->status == '' || $this->status == 265){?>
<input
	type="button" value="Save" onclick="getroomreserved()">
<?php // } ?>
</div>
<?php
function inarraycheck($needle, $haystack){
   for($h = 0 ; $h < count($haystack) ; $h++){
       $haystack[$h] = $haystack[$h]['seatname'];
   }
   return in_array(strtolower($needle),$haystack);
}
?>
