<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Accomodation Registration");
        ?>
    </h2>
</div>
<br />

<script type="text/javascript">
dojo.addOnLoad(function() {
        dijit.byId('field1').set('value','');
        dijit.byId('field1').set('placeHolder','Select');
        dijit.byId('field5').set('value','');
        dijit.byId('field5').set('placeHolder','Select');
        dijit.byId('field8').set('value','');
        dijit.byId('field8').set('placeHolder','Select');
        dijit.byId('field20').set('value','');
        dijit.byId('field20').set('placeHolder','Select');
});
</script>
<fieldset>
	<legend>
		<?php echo $this->translate("Student Search"); ?>
	</legend>
	<form action="<?php echo $this->baseUrl(); ?>/hostel/roomregistration"
		method="POST">
		<table width="100%">
			<tr>
				<td width="20%"><?php echo $this->translate("Student Id"); ?>
				</td>
				<td><?php echo $this->lobjform->field3; ?></td>
			<tr>
			</tr>
				<td><?php echo $this->translate("Student Name"); ?>
				</td>
				<td><?php echo $this->lobjform->field2; ?></td>
			</tr>
			</tr>
				<td><?php echo $this->translate("Program"); ?></td>
				<td><?php echo $this->lobjform->field1; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Block_Label']) ?></td>
				<td><?php echo $this->lobjform->field5; ?></td>
			<tr>
			</tr>
				<td><?php echo $this->translate($this->labels['Level_Label']); ?></td>
				<td><?php echo $this->lobjform->field8; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Code") ?>
				</td>
				<td><?php echo $this->lobjform->field6; ?></td>
			<tr>
			</tr>
				<td><?php echo $this->translate($this->labels['Room_Label'])." ".$this->translate("Type") ?>
				</td>
				<td><?php echo $this->lobjform->field20; ?></td>
			</tr>

			<tr>
				<td>
					<?php echo $this->translate("Check In")." ".$this->translate("Date") ?>
				</td>
				<td><?php echo $this->lobjform->field14; ?></td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate("Approved Reservation Only"); ?>
				</td>
				<td>
					<input type='checkbox' name="getapprovedreservation" value='1'>
				</td>
			</tr>

			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search; ?>
					<?php echo $this->lobjform->Clear; ?>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
<br />

<?php if($this->blankMsg=='1') { ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td align="center" style="color: red">
			<?php echo $this->translate('No matching record found. Try different keywords.'); ?>
		</td>
	</tr>
</table>
<?php } ?>

<?php if (count($this->paginator)){  ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th><?php echo $this->translate("Student Name");?>
		</th>
		<th><?php echo $this->translate("Student ID");?>
		</th>
                <th><?php echo $this->translate("Programme"); ?></th>
		<th><?php echo $this->translate($this->labels['Room_Label']);?></th>
		<th><?php echo $this->translate("Registration Status");?>
		</th>
                <th><?php echo $this->translate("Student Status"); ?></th>
		<th></th>
	</tr>
	<?php foreach ($this->paginator as $student) { ?>
	<tr>
		<td><?php echo $student['name'];?></td>
		<td><?php echo $student['registrationId'];?></td>
                <td><?php echo $student['ProgramName'];?></td>
		<td><?php echo $student['RoomName'];?></td>

		<td><?php if($student['StudentStatus'] == "1" || $student['StudentStatus'] == "3" ){ 
			echo "ACTIVE";
		} ?></td>
                <td><?php echo $student['statusName'];?></td>
		<td align='center'>
			<a href="<?php echo $this->baseUrl(); ?>/hostel/roomregistration/roominfo/IdStudent/<?php echo $this->escape($student['StudentId']); ?>">
				<?php echo $this->translate('View'); ?>
			</a>
		</td>

	</tr>
	<?php } ?>
	<tr>
		<td colspan="5" align="right"><div class="pagination">
				<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
						'/partials/my_pagination_control.phtml'); ?>
			</div></td>
	</tr>
</table>
<?php } ?>




