<div id="dialog1" style="border: 4px solid #000">
    <table border="1" style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;" width="100%" cellpadding="3" cellspacing="1">
        <tr>
            <td colspan="2" style="font-size: 10px;line-height: 12px;font-weight:bold" align="center"><?php echo $this->translate("HOSTEL CHECK IN SLIP"); ?></td>
        </tr>
    </table>

    <table border="1" style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;" width="100%" cellpadding="3" cellspacing="1">
        <tr>
            <td colspan = "4"><strong><?php echo $this->translate("Student Details")?></strong></td>
        </tr>
        <tr>
            <td width="25%">
                <?php echo $this->translate("Student ID").': '; ?>
            </td>
        <td colspan="3" >
            <?php echo ($this->info['registrationId']) ? $this->info['registrationId'] : ''?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Name").': ';?></td>
            <td colspan="3" ><?php echo ($this->info['studentName']) ? $this->info['studentName'] : ''?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Program").': ';?></td>
            <td colspan="3" ><?php echo ($this->info['ProgramName']) ? $this->info['ProgramName'] : ''?></td>
        </tr>
        <tr>
            <td width="25%"><?php echo $this->translate("Gender").': ';?></td>
            <td><?php if($this->info['genderid']=='2') { echo "Female"; } else { echo "Male"; } ?></td>
            <Td></td>
            <Td></td>
        </tr>
    </table>
    <br/>
    <table border="1" style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;" width="100%" cellpadding="3" cellspacing="1">
        <tr>
            <td colspan = "2"><strong><?php echo $this->translate("Hostel Details")?></strong></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Office Tel No").': ';?></td>
            <td><?php echo ($this->info['Phone']) ? $this->info['Phone'] : ''?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Hotline").': ';?></td>
            <td>017-4682728</td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Room Number").': ';?></td>
            <td><?php echo $this->info['RoomName'];?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Check In Date").': ';?></td>
            <td>
                <?php
                if ($this->info['Activity']=='Check Out'){
                    echo ($this->info['checkinDate2']) ? date('d-m-Y',strtotime($this->info['checkinDate2'])) : '';
                }else{
                    echo ($this->info['checkinDate']) ? date('d-m-Y',strtotime($this->info['checkinDate'])) : '';
                }
                ?> 
            </td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Check Out Date").': ';?></td>
            <td>
                <?php
                if ($this->info['Activity']=='Check Out'){
                    echo ($this->info['checkinDate']) ? date('d-m-Y',strtotime($this->info['checkinDate'])) : '';
                }
                ?> 
            </td>
        </tr>
    </table>
</div>
<table style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;" width="100%" cellpadding="3" cellspacing="1">
    <tr class="non-printable">
        <td style="font-size: 10px; border: 1px solid #FFFFFF; line-height: 12px;" colspan="3" align="center"><button type="button" onclick="window.print();"><?php echo $this->translate('Print'); ?></button></td>
    </tr>
</table>