<h3><?php  echo $this->translate("History"); ?></h3>

<form action="" method="POST">
	<table class="table" width="100%">
		<tr>
			<th><?php echo $this->translate("Activity Date/Time");?></th>
			<th><?php echo $this->translate("Username");?></th>
			<th><?php echo $this->translate("Apartment Name");?></th>
			<th><?php echo $this->translate("Unit Name");?></th>
			<!--<th><?php //echo $this->translate("Room Type");?></th>-->
			<th><?php echo $this->translate("Room");?></th>
			<th><?php echo $this->translate("Activity");?></th>
			<th><?php echo $this->translate("Date");?></th>
			<th><?php echo $this->translate("Old Value");?></th>
			<th><?php echo $this->translate("New Value");?></th>
			<th><?php echo $this->translate("Remarks");?></th>
                        <th><?php echo $this->translate(""); ?></th>
		</tr>
		<?php if(isset($this->historyinfo)){ $i =1;?>
		<?php foreach($this->historyinfo as $historyinfo){?>
		<tr>
			<td><?php echo date('d-m-Y H:i:s',strtotime($historyinfo['ActivityDate']));?>
			</td>
			<td><?php echo $historyinfo['loginName']?><input type="hidden"
				value="<?php echo $historyinfo['IdHistory'] ?>"
				name="HistoryIdgrid[]" /></td>
			<td><?php echo $historyinfo['BlockName']?></td>
			<td><?php echo $historyinfo['LevelName']?></td>
			<!--<td><?php //echo $historyinfo['TypeName']?></td>-->
			<td><?php echo $historyinfo['RoomName']?></td>
			<td><?php echo $historyinfo['Activity']?></td>
			<td><?php echo format_date_to_view(substr($historyinfo['checkinDate'],0,10)); ?></td>
			<td><?php echo $historyinfo['OldValue']?></td>
			<td><?php echo $historyinfo['NewValue']?></td>
			<td><input id="<?php echo $i++;?>" type="text" value="<?php echo $historyinfo['Remarks'] ?>"
				name="Remarksgrid[]" dojoType="dijit.form.TextBox" /></td>
                        <td align="center"><a href="<?php echo $this->baseUrl();?>/hostel/roomregistration/print-history-slip/id/<?php echo $historyinfo['IdHistory']; ?>" target="_blank"><?php echo $this->translate('Print Slip'); ?></a></td>
		</tr>
		<?php }?>
		<?php }?>
		<tr>
			<td align="center" colspan="9"><input type="submit" class="NormalBtn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Save"); ?>" /> <input
				type="button" class="NormalBtn" dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Back"); ?>"
				onclick="fnToggleTabs('Back','tab-three','tab-two')" />
			</td>
		</tr>
	</table>
</form>