<style type="text/css">
    .flash { color:green; font-weight:bold; }
</style>
<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Accomodation Registration");
        ?>
    </h2>
     <div class="toolbar-button">
        <ul>

            <li class="divider"></li>

            <li>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'roomregistration', 'action'=>'index'),'default',true);?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />


<?php
$country = $state = $city = $semIDValue = '';

if($this->semID!='') {
	$semIDValue =  $this->semID;
}
?>
<style>
.makebold {
	font-weight: bold;
}

@media print {
	.non-printable {
		display: none;
	}
	.printable {
		display: block;
	}
}
</style>
<style type="text\css" media="print">
  /* #myFooter, #myHeader
  {
    display: none;
  } */
 </style>
<!--script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery-ui-1.8.21.custom.min.js"></script-->
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery.printElement.js"></script>
<!--link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->baseUrl(); ?>/css/jqueryui/smoothness/jquery-ui-1.8.21.custom.css" /-->
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl(); ?>/js/jquery.colorbox.js"
	djConfig="parseOnLoad: true,locale:'<?php echo $locale; ?>'"></script>


	<form dojoType="dijit.form.Form" id="crdittranferapplicationForm"
		action="" method="post" name="crdittranferapplicationForm">
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
			var flag = validatewithctform();
                        return flag;
                } else {
                    return false;
                }
				</script>
		<div id="studdetail">
			<table class="table" width="100%">
				<tr>
					<th colspan="4"><?php echo $this->translate("Student Detail"); ?>
					</th>
				</tr>
				<tr>
					<td class="makebold"><?php echo $this->translate("Student Id"); ?>
					</td>
					<td><?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?>
					</td>
					<td class="makebold"><?php echo $this->translate("Id"); ?></td>
					<td><?php echo ($this->studDet['appl_idnumber']) ? $this->studDet['appl_idnumber'] : ''?>
					</td>
				</tr>
				<tr>
					<td class="makebold"><?php echo $this->translate("Name"); ?></td>
					<td><?php echo ($this->studDet['name']) ? $this->studDet['name'] : ''?>
					</td>
					<td class="makebold"><?php echo $this->translate("Gender"); ?></td>
					<td>
					<?php
					if($this->studDet['appl_gender']=='1') {
						echo 'Male';
					} else if($this->studDet['appl_gender']=='2') { 
						echo 'Female';
					} else {
						echo $this->translate('N/A');
					} ;
					?>
					</td>
				</tr>
				<tr>
					<td class="makebold"><?php echo $this->translate("Profile Status"); ?>
					</td>
					<td><?php echo ($this->studDet['DefinitionDesc']) ? strtoupper($this->studDet['DefinitionDesc']) : ''?>
					</td>
					<td class="makebold"><?php echo $this->translate("Program"); ?></td>
					<td><?php echo ($this->studDet['ProgramName']) ? $this->studDet['ProgramName'] : ''?>
					</td>
				</tr>
				<tr>
					<td class="makebold"><?php echo $this->translate("Intake"); ?></td>
					<td><?php echo $this->studDet['IntakeDesc'];?></td>
					<td class="makebold">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="makebold"><?php echo $this->translate("Telephone No"); ?>
					</td>
					<td><?php echo $this->studDet['appl_phone_home'];?></td>
					<td class="makebold"><?php echo $this->translate("Mobile No") ; ?>
					</td>
					<td><?php echo $this->studDet['appl_phone_mobile'];?></td>
				</tr>


			</table>
		</div>
		
		<br /><br />

		<div id="targetRoom">



			<?php if($this->ErrMsg=='1'){ ?>
			<div align="center" style="color: red;">Sorry, you are not allowed to
				register the room. Please get the room reserved for student first.</div>
			<?php }?>
                        <div id="tooltip-save">
                            <span class="flash" style="display:none"><?php echo $this->translate("Change Room Success")?></span>
                        </div>
			<div id="mainTabContainer" dojoType="dijit.layout.TabContainer"
				doLayout="false" tabPosition="top"
				style="width: 99%; height: auto">
				<div dojoType="dijit.layout.ContentPane" id="tab-one"
					title="<?php echo $this->translate("CheckIn Info")?>"
					style="height: auto; width: 99%; overflow: auto">
					<div id="first" <?php echo $this->style;?>>
						<?php echo $this->lobjHostelroomreg->IdStudentRegistration ;?>
						<?php echo $this->lobjHostelroomreg->IdHostelRoom ;?>

						<h3><?php echo $this->translate('CheckIn Info')?></h3>
						<table class="table" width="100%" cellpadding="5" cellspacing="1">
							<!--
							<tr>
								<td class="makebold" width="20%"><?php //echo $this->translate("Semester"); ?>
								</td>
								<td><?php //echo $this->lobjHostelroomreg->SemesterCode ;?>
								</td>
							</tr>
							-->
							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate($this->labels['Room_Label']); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->Room ;?> <?php
								if($this->enableData=='2' || $this->enableData=='5' || $this->enableData=='1' || $this->enableData=='3'|| $this->enableData=='0' ){
                           $style = " style='display:block; margin-left: 168px; margin-top: -20px; ' ";
                           } else {
                           $style = " style='display:none; margin-left: 168px; margin-top: -20px;' ";
                            } ?>

									<div id="popup" <?php echo $style; ?>>
										<input type="button" id="new_button" class="btn-submit compact" value="<?php echo $this->translate("Room"); ?>" onclick="" />
										<?php //echo $this->lobjmanualReservationForm->RoomCode;?>
										<?php echo $this->lobjmanualReservationForm->RoomId;?>
										<?php echo $this->lobjmanualReservationForm->SeatNo;?>
										<?php echo $this->lobjmanualReservationForm->block;
										echo $this->lobjmanualReservationForm->level;
										echo $this->lobjmanualReservationForm->setroom; ?>
									</div>
								</td>

							</tr>

							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Check In"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->CheckInDate ;?> <?php echo $this->lobjHostelroomreg->checkinCB;?>
									dd-mm-yyyy</td>
							</tr>

							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Check Out"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->CheckOutDate ;?> <?php echo $this->lobjHostelroomreg->checkoutCB;?>
									dd-mm-yyyy</td>
							</tr>

							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Room Key Taken Date"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->RoomKeyTakenDate ;?>
								</td>
							</tr>

							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Room Key Return Date"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->RoomKeyReturnDate ;?>
								</td>
							</tr>

							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Charging Per Room"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->ChargingPerRoom ;?>
								</td>
							</tr>


							<tr>
								<td class="makebold" width="20%"><?php echo $this->translate("Remark"); ?>
								</td>
								<td><?php echo $this->lobjHostelroomreg->RemarkChangeRoom ;?>
								</td>
							</tr>

							<tr>
								<td class="makebold" width="20%" colspan="2"><?php echo $this->lobjHostelroomreg->CheckIn ;?>
									<?php echo $this->lobjHostelroomreg->CheckOut ;?> <?php echo $this->lobjHostelroomreg->ChangeRoom ;?>
									<?php //echo $this->lobjHostelroomreg->OutCampus ;?> 
									<?php //echo $this->lobjHostelroomreg->CancelOutCampus ;?>
									<?php //echo $this->lobjHostelroomreg->PrintSlip ;?>
								</td>
							</tr>

							<tr>
								<td align="right" colspan="4"><input type="button"
									class="NormalBtn" dojotype="dijit.form.Button"
									label="<?php echo $this->translate("Back"); ?>"
									onclick="window.location.href='<?php echo $this->baseUrl();?>/hostel/roomregistration/index'" />
								</td>
							</tr>


						</table>


						<br />
						<div id="oca" <?php if($this->enableData=='4') { ?>
							style="display: block;" <?php } else { ?> style="display:none;"
                <?php } ?>>


							<table class="table" width="100%" cellpadding="5" cellspacing="1">
								<tr>
									<th colspan="4"><?php echo $this->translate("Out Campus Address");?>
									</th>
								</tr>
								<tr>
									<td class="makebold" width="20%"><?php echo $this->translate("Address"); ?><span
										class="reqMark">*</span></td>
									<td><?php echo $this->lobjHostelroomreg->OutcampusAddressDetails ;?>
									</td>
									<td class="makebold" width="20%"><?php echo $this->translate("Country"); ?>
									</td>
									<td><?php echo $this->lobjHostelroomreg->OutcampusCountry ;?>
									</td>
								</tr>
								<tr>
									<td class="makebold" width="20%"><?php echo $this->translate("State"); ?>
									</td>
									<td><?php echo $this->lobjHostelroomreg->OutcampusState; ?></td>
									<td class="makebold" width="20%"><?php echo $this->translate("City"); ?>
									</td>
									<td><?php echo $this->lobjHostelroomreg->OutcampusCity; ?></td>
								</tr>

								<tr>
									<td class="makebold" width="20%"><?php echo $this->translate("Zip"); ?>
									</td>
									<td><?php echo $this->lobjHostelroomreg->OutcampusZip; ?></td>
									<td class="makebold" width="20%"><?php echo $this->translate("Tel") . ' (' . $this->translate("Home") . ")"; ?><span
										class="reqMark">*</span></td>
									<td><?php echo $this->lobjHostelroomreg->HomePhone; ?>
									</td>
								</tr>
								<tr>
									<td class="makebold" width="20%"><?php echo $this->translate("Tel") . ' (' . $this->translate("Mobile") . ")"; ?>
									</td>
									<td><?php echo $this->lobjHostelroomreg->CellPhone; ?></td>

								</tr>



								<tr>
									<td class="makebold" width="20%" colspan="4"><?php echo $this->lobjHostelroomreg->SaveAddress ;?>

									</td>
								</tr>
							</table>

						</div>


					</div>
				</div>

	</form>
	<div dojoType="dijit.layout.ContentPane" id="tab-two"
		title="<?php echo $this->translate("Item Register");?>"
		style="height: auto; width: 99%; overflow: auto">
		<div id="second" <?php echo $this->style;?>>
			<?php echo $this->partial("roomregistration/roomitems.phtml",array('lobjHostelroomreg'=>$this->lobjHostelroomreg,'IdStudent'=>$this->IdStudent,'iteminfo'=>$this->iteminfo,'itemTabApperance'=>$this->itemTabApperance));?>

		</div>
	</div>
	<div dojoType="dijit.layout.ContentPane" id="tab-three"
		title="<?php echo $this->translate("History");?>"
		style="height: auto; width: 99%; overflow: auto">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<div id="third" <?php echo $this->style;?>>
				<?php echo $this->partial("roomregistration/registrationhistory.phtml",array('lobjHostelroomreg'=>$this->lobjHostelroomreg,'historyinfo'=>$this->historyinfo));?>
			</div>
		</table>
	</div>



	</div>



	</div>




<div id="dialog" title="Registration Slip" style="display: none">
	<div id="dialog1" style="border: 4px solid #000">

		<table border="1"
			style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
			width="100%" cellpadding="3" cellspacing="1">

			<tr>
				<td colspan="2" style="font-size: 10px;line-height: 12px;font-weight:bold" align="center"><?php echo $this->translate("HOSTEL CHECK IN SLIP"); ?></td>
			</tr>
			</table>

			<table border="1"
						style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
						width="100%" cellpadding="3" cellspacing="1">

			<tr><td colspan = "4"><strong><?php echo $this->translate("Student Details")?></strong></td></tr>

			<tr>
			<td width="25%"><?php
			echo $this->translate("Student ID").': ';?></td>
			<td colspan="3" ><?php echo ($this->studDet['registrationId']) ? $this->studDet['registrationId'] : ''?></td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Name").': ';?></td>
			<td  colspan="3" ><?php echo ($this->studDet['name']) ? $this->studDet['name'] : ''?></td>

			</tr>


			<tr>
			<td><?php echo $this->translate("Program").': ';?></td>
			<td  colspan="3" ><?php echo ($this->studDet['ProgramName']) ? $this->studDet['ProgramName'] : ''?></td>

			</tr>

			<tr>
				<td  width="25%"><?php echo $this->translate("Gender").': ';?></td>
				<td><?php if($this->studDet['appl_gender']=='2') { echo "Female"; } else { echo "Male"; } ?></td>
				<Td></td>
				<Td></td>
			</tr>



			</table>

			</br>
			<table border="1"
						style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
						width="100%" cellpadding="3" cellspacing="1">

			<tr><td colspan = "2"><strong><?php echo $this->translate("Hostel Details")?></strong></td></tr>

			<tr>


			<tr>
			<td><?php echo $this->translate("Office Tel No").': ';?></td>
			<td><?php echo ($this->displayStudentRoomData['Phone']) ? $this->displayStudentRoomData['Phone'] : ''?></td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Hotline").': ';?></td>
			<td>017-4682728</td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Room Number").': ';?></td>
			<td><?php echo $this->displayStudentRoomData['RoomName'];?></td>
			</tr>

			<tr>
			<td><?php echo $this->translate("Check In Date").': ';?></td>
			<td><?php echo ($this->displayStudentRoomData['CheckInDate']) ? date('d-m-Y',strtotime(substr($this->displayStudentRoomData['CheckInDate'],0,10))) : ''?> </td>
			</tr>


			<tr>
			<td><?php echo $this->translate("Check Out Date").': ';?></td>
			<td><?php echo ($this->displayStudentRoomData['CheckOutDate']) ? date('d-m-Y',strtotime(substr($this->displayStudentRoomData['CheckOutDate'],0,10)))  : ''?> </td>
			</tr>
			</table>

	</div>
	<table
		style="font-size: 10px; font-family: Verdana, 'Trebuchet Ms', Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; background-color: #E5E5E5;"
		width="100%" cellpadding="3" cellspacing="1">

		<tr class="non-printable">
			<td style="font-size: 10px; border: 1px solid #FFFFFF; line-height: 12px;" colspan="3"
				align="right"><?php echo $this->lobjHostelroomreg->PrintData ;?>
			</td>
		</tr>
	</table>


</div>


<?php if($this->enableData=='1') { ?>

<?php } ?>
<script>
dojo.addOnLoad(function() {

	dijit.byId('CheckInDate').constraints.max = new Date();

	<?php if($this->checkindate=='') { ?>
          //dijit.byId('CheckOutDate').constraints.max = new Date();
          <?php } else { ?>
          	dijit.byId('CheckOutDate').constraints.min = new Date(<?php echo $this->checkindateY;?>,<?php echo $this->checkindateM;?>,<?php echo $this->checkindateD;?>);
          	<?php } ?>

          });

function showkeytakendate(val1) {
	dijit.byId('CheckOutDate').constraints.min = arguments[0] ;
	dijit.byId('RoomKeyTakenDate').set('value',val1);

}

function showkeyreturndate(val2) {
        //dijit.byId('CheckInDate').constraints.max = arguments[0];
        dijit.byId('RoomKeyReturnDate').set('value',val2);
    }


    

    /*function getStudent() {
    	var Name = dijit.byId("Name").value;
    	var StudentId = dijit.byId("StudentId").value;
    	var IdProfileStatus = dijit.byId("IdProfileStatus").value;
    	var IdSemester = dijit.byId("IdSemester").value;
    	var IdNric = dijit.byId("IdNric").value;
    	var url = '<?php echo $this->url(array('module' => 'records', 'controller' => 'credittransferapp', 'action' => 'fngetstudentdet'), 'default', true); ?>?Name='+Name+'&StudentId='+StudentId+'&IdProfileStatus='+IdProfileStatus+'&IdSemester='+IdSemester+'&IdNric='+IdNric;
    	var xhrArgs = {
    		url: url,
    		handleAs:'json',
    		load:function(data){
    			AutoFillNextEditableDropDown("IdStudent",data);
    			dijit.byId('IdStudent').set('value','');
    			dijit.byId('IdStudent').set('placeHolder','Select');
    		}
    	}
    	dojo.xhrGet(xhrArgs);
    }*/

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    	dijit.byId(EditableDropDownId).setValue("");
    	var ddwidget = dijit.byId(EditableDropDownId);
    	ddwidget.setAttribute('disabled', false);
    	var options = {
    		label:"name",
    		identifier:"key",
    		items:JSONText
    	};
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }

    function getStudentdetail(studentId){
    	if(studentId != ''){
    		$.ajax({
    			type: 'GET',
    			async: false,
    			url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'roomregistration', 'action' => 'detailstudent'), 'default', true); ?>',
    			data: "IdStudent=" + studentId,
    			success: function(data) {
    				$("#studdetail").html(data);
    				$("#first").show();
    			}
    		});

    	}
    }

    function fnToggleTabs(TabAction,CurrentTabId,NextTabId){

    	if(TabAction == "Next"){
    		var flag = true;
    		if(flag)
    		{
    			var mainTabContainerId = dijit.byId("mainTabContainer")
    			var tabContainerId = dijit.byId(NextTabId);
    			mainTabContainerId.selectChild(tabContainerId);
    		}
    	}else if(TabAction == "Back"){
    		var mainTabContainerId = dijit.byId("mainTabContainer")
    		var tabContainerId = dijit.byId(NextTabId);
    		mainTabContainerId.selectChild(tabContainerId);
    	}
    }

    function getstudentdetail(value) {
    	window.location.href="<?php echo $this->baseUrl();?>/hostel/roomregistration/index/IdStudent/"+value;
    }

    function getcurrentDateForCIN(){
        //var cDate = new Date()  ;
        if(dijit.byId("checkinCB").get("checked")){
        	dijit.byId('CheckInDate').set('value', new Date());
        	dijit.byId('RoomKeyTakenDate').set('value', new Date());
        }else {
            //dijit.byId('CheckInDate').set('value', '');
            //dijit.byId('RoomKeyTakenDate').set('value', '');
            dojo.byId('CheckInDate').value = '';
            dojo.byId('RoomKeyTakenDate').value = '';
        }
    }

    function getcurrentDateForCOUT() {
        //var cDate = new Date()  ;
        if(dijit.byId("checkoutCB").get("checked")){
        	dijit.byId('CheckOutDate').set('value', new Date());
        	dijit.byId('RoomKeyReturnDate').set('value', new Date());
        }else {
            //dijit.byId('CheckOutDate').set('value', '');
            //dijit.byId('RoomKeyReturnDate').set('value', '');
            dojo.byId('CheckOutDate').value = '';
            dojo.byId('RoomKeyReturnDate').value = '';
        }
    }

    function savecheckin() {
    	var IdStudentRegistration = dojo.byId('IdStudentRegistration').value;
    	var incheck = dojo.byId('CheckInDate').value;
    	var RoomKeyTakenDate = dojo.byId('RoomKeyTakenDate').value;
        //var Room = dijit.byId('Room').value;
        var IdHostelRoom = dojo.byId('IdHostelRoom').value;
        var SeatNo = dojo.byId('SeatNo').value;
        var Room = dijit.byId('Room').get('displayedValue');
        //var SemCode = dijit.byId('SemesterCode').value;
        var SemCode = '';
        if($('#ChargingPerRoom').is(':checked')){
        	var ChargingPerRoom = '1';
        } else {
        	var ChargingPerRoom = '0';
        }

        // ADDED
        var flag = true;
        if(incheck=='' ) {
        	dijit.byId("CheckInDate").focus();
        	dijit.byId("CheckInDate").set( "state", "Error" );
        	var flag = false;
        } else if(Room=='') {
        	dijit.byId("Room").focus();
        	dijit.byId("Room").set( "state", "Error" );
        	var flag = false;
        }
//        else if(SemCode=='') {
//            dijit.byId("SemesterCode").focus();
//            dijit.byId("SemesterCode").set( "state", "Error" );
//            var flag = false;
//        }
        // ADDED


        if(incheck=='' || Room=='') {
            //alert('Room & CheckIn Date & RoomKeyTaken Date  cannot be left blank.');
            var flag = false;
        } else {
        	if(flag==true) {
        		
        		$.post( "<?php echo $this->baseUrl();?>/hostel/roomregistration/savecheckin", { IdStudentRegistration: IdStudentRegistration, incheck: incheck,  RoomKeyTakenDate:RoomKeyTakenDate, IdHostelRoom:IdHostelRoom,SeatNo:SeatNo,SemCode:SemCode,ChargingPerRoom:ChargingPerRoom},
        			function(datas) {
        				if(datas) {
        					$('#popup').show();
        					dijit.byId("CheckIn").setAttribute('disabled',true);

        					dijit.byId("CheckOut").setAttribute('disabled', false);
        					dijit.byId("ChangeRoom").setAttribute('disabled', false);

        					//dijit.byId("PrintSlip").setAttribute('disabled', false);
        					dijit.byId("CheckOutDate").setAttribute('readOnly',false);
        					dijit.byId("RoomKeyReturnDate").setAttribute('readOnly',false);
        					dijit.byId("checkoutCB").setAttribute('disabled', false);
							window.location="<?php echo $this->baseUrl();?>/hostel/roomregistration/roominfo/IdStudent/" + dojo.byId('IdStudentRegistration').value;
                  }
              }); }
}

}

function showhideoca() {
	$("#oca").toggle();
}


function savecheckout() {
	var IdStudentRegistration = dojo.byId('IdStudentRegistration').value;
        var incheck = dojo.byId('CheckInDate').value;
	var outcheck = dojo.byId('CheckOutDate').value;
	var RoomKeyReturnDate = dojo.byId('RoomKeyReturnDate').value;
	var IdHostelRoom = dojo.byId('IdHostelRoom').value;
       //var SemCode = dijit.byId('SemesterCode').value;
       var SemCode = '';
       if($('#ChargingPerRoom').is(':checked')){
       	var ChargingPerRoom = '1';
       } else {
       	var ChargingPerRoom = '0';
       }

       // ADDED
       var flag = true;
       if(outcheck=='' ) {
       	dijit.byId("CheckOutDate").focus();
       	dijit.byId("CheckOutDate").set( "state", "Error" );
       	var flag = false;
       }
//       else if(SemCode=='') {
//            dijit.byId("SemesterCode").focus();
//            dijit.byId("SemesterCode").set( "state", "Error" );
//            var flag = false;
//       }
       // ADDED


       if(outcheck=='') {
            //alert('CheckOut Date & RoomKeyReturn Date cannot be left blank.');
            var flag = false;
        } else {
        	if(flag==true) {
        		$.post( "<?php echo $this->baseUrl();?>/hostel/roomregistration/savecheckout", { IdStudentRegistration: IdStudentRegistration, outcheck: outcheck, incheck: incheck,  RoomKeyReturnDate:RoomKeyReturnDate,IdHostelRoom:IdHostelRoom, SemCode:SemCode,ChargingPerRoom:ChargingPerRoom },
        			function(data) {
        				if(data) {
        					$("#oca").hide();
        					dijit.byId("CheckIn").setAttribute('disabled',false);
        					dijit.byId("ChangeRoom").setAttribute('disabled', true);
        					dijit.byId("CheckOut").setAttribute('disabled',true);
        					dijit.byId("CheckInDate").setAttribute('readOnly',false);
        					dijit.byId("RoomKeyTakenDate").setAttribute('readOnly',false);
        					dijit.byId("checkinCB").setAttribute('disabled', false);
        					window.location.href="<?php echo $this->baseUrl();?>/hostel/roomregistration/roominfo/IdStudent/" + dojo.byId('IdStudentRegistration').value;
        				}
        			}); }
        	}
        }


        function savechangeroom() {
        	var IdStudentRegistration = dojo.byId('IdStudentRegistration').value;
        	var IdHostelRoom = dojo.byId('IdHostelRoom').value;
        	var incheck = dojo.byId('CheckInDate').value;
        	var RoomKeyTakenDate = dojo.byId('RoomKeyTakenDate').value;
        	var SeatNo = dojo.byId('SeatNo').value;
        	var Room = dijit.byId('Room').get('displayedValue');
       //var SemCode = dijit.byId('SemesterCode').value;
       var SemCode = '';
       var RemarkChangeRoom = dijit.byId('RemarkChangeRoom').value;
       if($('#ChargingPerRoom').is(':checked')){
       	var ChargingPerRoom = '1';
       } else {
       	var ChargingPerRoom = '0';
       }

       // ADDED
       var flag = true;
       if(incheck=='' ) {
       	dijit.byId("CheckInDate").focus();
       	dijit.byId("CheckInDate").set( "state", "Error" );
       	var flag = false;
       } else if(Room=='') {
       	dijit.byId("Room").focus();
       	dijit.byId("Room").set( "state", "Error" );
       	var flag = false;
       }
//       else if(SemCode=='') {
//            dijit.byId("SemesterCode").focus();
//            dijit.byId("SemesterCode").set( "state", "Error" );
//            var flag = false;
//       }
else if(RemarkChangeRoom=='') {
	dijit.byId("RemarkChangeRoom").focus();
	dijit.byId("RemarkChangeRoom").set( "state", "Error" );
	var flag = false;
}
       // ADDED
       if(incheck=='' || Room=='' || RemarkChangeRoom=='') {
            //alert('Room & CheckIn Date & RoomKeyTaken Date  cannot be left blank.');
            var flag = false;
        } else {
        	if(flag==true) {
        		$.post( "<?php echo $this->baseUrl();?>/hostel/roomregistration/savechangeroom", { IdStudentRegistration: IdStudentRegistration, incheck: incheck,  RoomKeyTakenDate:RoomKeyTakenDate, IdHostelRoom:IdHostelRoom,SeatNo:SeatNo,SemCode:SemCode,RemarkChangeRoom:RemarkChangeRoom,ChargingPerRoom:ChargingPerRoom},
        			function(data) {
        				if(data) {
        					$("#oca").hide();
        					$("#popup").hide();
        					dijit.byId("CheckIn").setAttribute('disabled',true);
        					dijit.byId("CheckOut").setAttribute('disabled', false);
        					dijit.byId("ChangeRoom").setAttribute('disabled', true);
        					dijit.byId("PrintSlip").setAttribute('disabled', false);

        					dijit.byId("CheckInDate").setAttribute('readOnly',true);
        					dijit.byId("RoomKeyTakenDate").setAttribute('readOnly',true);
        					dijit.byId("checkinCB").setAttribute('disabled', true);
        					window.location.href="<?php echo $this->baseUrl();?>/hostel/roomregistration/roominfo/IdStudent/<?php echo $this->IdStudent;?>";
        				}
        			}); 
		}
}
$("#tooltip-save .flash").show().fadeOut(7000);
}


		function saveprintslip() {
			$( "#dialog" ).dialog({
				modal: true,
				height: 500,
				width: 580 });
		}


       function saveprintslip() {
       	$( "#dialog" ).dialog({
       		modal: true,
       		height: 500,
       		width: 580		});
       }


       function PrintDiv() {
       	var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
       	WinPrint.document.write($('#dialog1').html());
       	WinPrint.document.close();
       	WinPrint.focus();
       	WinPrint.print();
       	WinPrint.close();
            //$('#dialog1').printElement();
        }

        $(document).ready(function(){
        	$("#new_button").click(function(){
        		$.ajax({
        			type: 'GET',
        			async: false,
        			url: '<?php echo $this->url(array('module' => 'hostel', 'controller' => 'roomregistration', 'action' => 'hostelreservationroom'), 'default', true); ?>?Idstudent='+<?php echo $this->IdStudent; ?>,
        			success: function(data) {
        				$.colorbox({html:data});

        				if($('#RoomCode').val()!=''){

        				}
        			}
        		});
        	});
        });

        function checkroomreservationForm(){
        	var flag = true;
        	if($('#RoomCode').val() == ''){
        		alert('Please select a room');
        		flag = false;
        	}
        	return flag;
        }


</script>
<style type="text/css">
.compact { margin:0 !important; height:22px; padding:0 6px !important; }
</style>