<h3><?php  echo $this->translate("Item Register"); ?></h3>

<script type="text/javascript">
var rowids=1;
var batchArray1  = new Array();
<?php foreach($this->iteminfo as $iteminfo) { ?>
batchArray1.push('<?php echo $iteminfo['Name']; ?>');
rowids++;
<?php }?>
function additem(){
	var flag = true;
 	if(dijit.byId("Item").value==''){
	    dijit.byId("Item").attr('required','true');
		dijit.byId("Item").focus();
		flag = false;
	}
	if(dijit.byId("Quantity").value=='' || dijit.byId("Quantity").value<='0'){
	    dijit.byId("Quantity").attr('required','true');
		dijit.byId("Quantity").focus();
		flag = false;
	}	
    if(flag == true) {
		ItemInsertion();	
	}		
	return flag;
}
function ItemInsertion(){
	var Item = dijit.byId("Item").value;
	var ItemName = dijit.byId("Item").displayedValue;
	var Quantity = dijit.byId("Quantity").value;
	var QuantityName = dijit.byId("Quantity").displayedValue;
		
	batchArray1.push(ItemName);
	if(arrHasDupes(batchArray1))
	{
		batchArray1 = batchArray1.unique();
		alert("Duplicate Entry");
	} 
	else 
	{
		var trow = document.getElementById('table').insertRow(rowids);
		var tcol0=trow.insertCell(0);
		var tcol1=trow.insertCell(1);
		var tcol2=trow.insertCell(2);
		
		tcol0.innerHTML="<input type='hidden' value='"+Item+"' name=ItemNamegrid[]>"+ItemName;
		tcol1.innerHTML="<input type='hidden' value='"+Quantity+"' name=QuantityNamegrid[]>"+QuantityName;
		tcol2.innerHTML="<a href='#' onClick='deleteRows(this); return false;'><?php echo  $this->translate('Delete'); ?></a>";
		rowids++;
	}
}

function deleteRows(r)
{
        var ret = confirm('Are you sure to delete');
        if(ret == true){
	rowids--;
	var i=r.parentNode.parentNode.rowIndex;
	batchArray1.splice(parseInt(i-1),1);
	document.getElementById('table').deleteRow(i);
        }
}

function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

function clearpageAdd(){
	dijit.byId("Item").reset();
	dijit.byId('Item').set('value','');
	dijit.byId('Item').set('placeHolder','Select');	
	dijit.byId("Quantity").reset();
	dijit.byId('Quantity').set('value','1');
	dijit.byId('Quantity').set('placeHolder','Select');	
}

function saveitems(){
	var values = $('#roomitems').serialize();
		 $.ajax({
	        type: 'POST',
	        url: '<?php echo $this->url(array('module'=>'hostel', 'controller'=>'roomregistration', 'action'=>'addroomitems', 'IdStudent'=>$this->IdStudent),'default',true);?>',
	        async: false,
	        data: values,
	        success: function(responseText) {
	        	fnToggleTabs('Next','tab-two','tab-three');
	        }
		 });	
}
</script>

<form id="roomitems" action="" method="POST">
	<table class="table" width="100%">
		<tr>
			<td><?php echo $this->translate("Item");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjHostelroomreg->Item;?></td>
			<td><?php echo $this->translate("Quantity");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjHostelroomreg->Quantity;?></td>
		</tr>
		<tr>
			<td align="right" colspan="4"><?php  $getData = $this->itemTabApperance;
			if(count($getData)>0) {
						 $StudentStatus = $getData[0]['StudentStatus'];
						 if($StudentStatus=='1' || $StudentStatus=='3') {
					?> <input type="button" class="NormalBtn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Add"); ?>" onclick="additem()" />
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Clear"); ?>"
				onclick="clearpageAdd()" /> <?php } 
} ?>
			</td>
		</tr>

	</table>
	<table id="table" class="table" width="100%">
		<tr>
			<th><?php echo $this->translate("Item Name");?>
			</th>
			<th><?php echo $this->translate("Quantity");?></th>
			<th></th>
		</tr>
		<?php if(isset($this->iteminfo)){?>
		<?php foreach($this->iteminfo as $iteminfo){?>
		<tr>
			<td><?php echo $iteminfo['Name']?><input type="hidden"
				value="<?php echo $iteminfo['IdHostelItem'] ?>"
				name="ItemNamegrid[]" /></td>
			<td><?php echo $iteminfo['Quantity']?><input type="hidden"
				value="<?php echo $iteminfo['Quantity'] ?>"
				name="QuantityNamegrid[]" /></td>
			<td><a href='#' onClick='deleteRows(this); return false;'><?php echo $this->translate('Delete'); ?> </a></td>
		</tr>
		<?php }?>
		<?php }?>
		<tr>
			<td align="right" colspan="4"><?php  $getData = $this->itemTabApperance;
			if(count($getData)>0) {
						 $StudentStatus = $getData[0]['StudentStatus'];
						 if($StudentStatus=='1' || $StudentStatus=='3') {
					?> <input type="button" class="NormalBtn"
				dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Save"); ?>"
				onclick="saveitems()" /> <?php } 
} ?> <input type="button" class="NormalBtn" dojotype="dijit.form.Button"
				label="<?php echo $this->translate("Back"); ?>"
				onclick="fnToggleTabs('Back','tab-two','tab-one')" />
			</td>
		</tr>
	</table>
</form>
