<style>

.redText{
	color:red;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'course-registration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>


<table class="table" width="60%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="25%"><?php echo $this->translate("Student Name"); ?></th>   
		    <td><?php echo $this->student['appl_fname'].' '.$this->student['appl_lname'];?></td>   
	</tr>
	<tr>
		    <th width="25%"><?php echo $this->translate("Student ID"); ?></th>   
		    <td><?php echo $this->student['registrationId'];?></td>   
	</tr>
	<tr>
		    <th width="25%"><?php echo $this->translate("Programme"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->student['ArabicName']:$this->student['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th width="25%"><?php echo $this->translate("Programme Scheme"); ?></th>   
		    <td><?php echo strtoupper($this->student['mop'].' '.$this->student['mos'].' '.$this->student['pt']);?></td>   
	</tr>
	<tr>
		    <th width="25%"><?php echo $this->translate("Semester Register Course"); ?></th>   
		    <td><?php echo strtoupper(($this->locale=='ms_MY') ? $this->semester['SemesterMainDefaultLanguage']:$this->semester['SemesterMainName']);?></td>   
	</tr>	
	</table>
<br>


<?php if(count($this->subject_list)>0){ ?>

<form id='form1' method='post' action='<?php echo $this->url(array('module'=>'registration','controller'=>'course-registration', 'action'=>'save-detail'),'default',true);?>'>

<input type='hidden' id='IdStudentRegistration' name='IdStudentRegistration' value='<?php echo $this->student['IdStudentRegistration']; ?>'>
<input type='hidden' id='IdSemester' name='IdSemester' value='<?php echo $this->semester['IdSemesterMaster']; ?>'>
<input type='hidden' id='IdProgram' name='IdProgram' value='<?php echo $this->student['IdProgram']; ?>'>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Course Name");?></th>
		<th><?php echo $this->translate("Course Code"); ?></th>	
		<th><?php echo $this->translate("Credit Hour"); ?></th>					
		<th><?php echo $this->translate("Course Section"); ?></th>	
		<th><?php echo $this->translate("Exam Center"); ?></th>	
	</tr>
	
	<?php foreach($this->subject_list as $index=>$subject){  ?>
	<input type='hidden' name='IdStudentRegSubjects[]' id='IdStudentRegSubjects<?php echo $index;?>' value='<?php echo $subject["IdStudentRegSubjects"];?>'>
	<input type='hidden' name='IdSubject[<?php echo $subject['IdStudentRegSubjects'];?>]' id='IdSubject<?php echo $index;?>' value='<?php echo $subject["IdSubject"];?>'>
	<tr>
		<td align='center'><?php echo $index+1;?> </td>
		<td align='left'><?php echo ($this->locale=='ms_MY') ? $subject['subjectMainDefaultLanguage']:$subject['SubjectName']; ?></td>
		<td align='center'><?php echo $subject['SubCode']; ?></td>
		<td align='center'><?php echo $subject['CreditHours']; ?></td>
		<td align='center'>
		    <?php if(count($subject['group'])>0){?>
			<select class="chk2" name='IdGroup[<?php echo $subject['IdStudentRegSubjects'];?>]' id='IdGroup<?php echo $index;?>'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
				<?php 				
					foreach($subject['group'] as $group){
						if($group['IdCourseTaggingGroup']==$subject['IdCourseTaggingGroup']){
							$sel = 'selected';	
						}else{
							$sel = '';	
						}
					?>
				<option value='<?php echo $group['IdCourseTaggingGroup']; ?>' <?php echo $sel; ?>><?php echo $group['GroupName'];?><?php echo ($group['quota']==false) ? $this->translate('( Full )'):'';?></option>
				<?php } ?>
			</select>
			<?php }else { echo $this->translate('Not Available'); } ?>
		</td>
		<td align='center'>
		<input type='hidden' name='er_id[<?php echo $subject['IdStudentRegSubjects'];?>]' id='er_id<?php echo $index;?>' value='<?php echo $subject['exam']['er_id'];?>'>
		<?php if(count($this->exam_center)>0){ ?>
			<select class="chk2" name='ec_id[<?php echo $subject['IdStudentRegSubjects'];?>]' id='ec_id<?php echo $index;?>'>
				<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
				<?php
					foreach($this->exam_center as $key => $value){ ?>					
					 	<optgroup label="<?php echo $key; ?>">
				
					<?php 	foreach($value as $ec){  
					
							if($ec['ec_id']==$subject['exam']['er_ec_id']){
							$sel = 'selected';	
							}else{
								$sel = '';	
							}
						?>
								<option value='<?php echo $ec['ec_id']; ?>' <?php echo $sel; ?>><?php echo $ec['ec_name'];?></option>
				<?php 		} 
					}?>
				  		</optgroup> 				
			</select>
		<?php }else { echo $this->translate('Not Available'); } ?>
		</td>		
	</tr>
	<?php } ?>
	
</table>
<div class='form-opt'>
<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</form>

<?php } ?>