<script>
$(function() {
	getProgramScheme('#IdProgram');
});

function validate_form(){

	var registrationId_from = $("#registrationId_from").val();
	var registrationId_to = $("#registrationId_to").val();
	
	if(registrationId_from != ''){
			
		if(registrationId_to == ''){
			
			alert("Please enter Student ID to");
			return false;
		}else{
			return true;
		}
		
	}else{

		return true;
	}

	
}

function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
		});
	return flag;
}

function validate(){

	
	flag = checkboxValidate();
	if(flag){
		  
		 msg = confirm("Are you sure you want to proceed with course registration?");
		 if(msg){
			$("#CourseRegistrationForm").submit();
		 }else{
			return false;
		 }
		
	}else{     
		alert("Please select at least one student for course registration.");             	
		return false;
	}		
}

$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
	
	 
});


function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php if(!empty($this->IdProgramScheme)) echo $this->IdProgramScheme; ?>';

	if(idProgram){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'studentregistrationbulk', 'action'=>'get-program-scheme'),'default',true);?>",
					data: {'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						
				    	$('#IdProgramScheme').empty();
						$('#IdProgramScheme').append('<option value="">-- All --</option>');			    	
				    	$.each(data, function(index) {
					    	if(IdProgramScheme==data[index].IdProgramScheme){
								var sel = 'selected';
					    	}else{
								var sel = '';
					    	}
				    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdProgramScheme');
				      
					},
					complete: function() {
						hideLoading('IdProgramScheme');
					}  	
				});
	}

}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">	
	</div>
</div>


<?php echo $this->form;?>


<br>

<?php if(count($this->student_list)>0){ ?>
<div class="paginator">
<?php echo $this->translate("Total Record(s)").' : '.$this->student_list->getTotalItemCount(); ?>
</div>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <!--<th><?php echo $this->translate("No");?></th>-->
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>	
		<th><?php echo $this->translate("Programme"); ?></th>	
		<th><?php echo $this->translate("Scheme"); ?></th>	
		<th><?php echo $this->translate("Profile Status"); ?></th>		
		<th><?php echo $this->translate("Registration Date"); ?></th>
		<th></th>		
	</tr>

	<?php 
	
	$no =1; 
	foreach ($this->student_list as $student){ ?>
	<tr valign='middle'>
	    <!--<td align='center'><?php //echo $this->student_list->;?></td>-->
		<td align='left'><?php print_r($this->escape($student['appl_fname'].' '.$student['appl_mname'].' '.$student['appl_lname']));?></td>
		<td align='center'><?php echo $student['registrationId'];?></td>
		<td align='center'><?php echo $student['ProgramCode'];?></td>
		<td align='center'><?php echo $student['ProgramMode'].' '.$student['StudyMode'].' '.$student['ProgramType'];?></td>		
		<td align='center'><?php echo $student['profile_status'];?></td>	
		<td align='center'><?php echo date("d-m-Y",strtotime($student['UpdDate']));?></td>			
		<td align='center'>
		<?php if($student['profileStatus']==92 && $student['student_type']==740) { ?>
		   <a href='<?php echo $this->url(array('module'=>'registration','controller'=>'course-registration', 'action'=>'register-course','id'=>$student['IdStudentRegistration']),'default',true);?>'><?php echo $this->translate("Register Course");?></a>
		<?php } ?>
		</td>
	</tr>
	<?php $no++; }?>
</table>

<div class="pagination">
<?php 
	echo $this->paginationControl($this->student_list,'Sliding','paginationBottom.phtml');
?>
</div>
<?php } ?>