<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
			 <li>
				<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'course-registration', 'action'=>'index'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>		
			
		</ul>
	</div>
</div>

Course Registration under development.