<script type="text/javascript">
	function search_subject(){
				
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(faculty_id!==0){
			$.ajax({
				url: "/examination/appeal/search-course",
			    type: "post",
			    async : false,
			    data: {'idCollege':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}

	$(function () {
		 var str = "";
		 $('#checkall').click(function () {	

			 var isChecked = $('#checkall').is(':checked');

			 if(isChecked==true){			 
				 $('.chk').prop('checked', true);				
			 }else{
				 // Un-check
				 $('.chk').prop('checked', false);
			 }
		 });


	 $('.apply-btn').click(function(){

			var isChecked = $('.chk').is(':checked');

			 if(isChecked==true){

				 $("#formApply").submit();   
				 	
			 }else{
				alert("<?php echo $this->translate('You did not select any student. Please select.');?>");
			 }
		});
				 

	});

	function validateForm()
	{
		var Checked = $('.chk:checked').length;

		if(Checked==0)
		{
			alert("<?php echo $this->translate('You did not select any student. Please select.');?>");
			return false;
		}

		return true;
	}
	
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<?php if(count($this->students)>0){?>
			
				
					
		<?php } ?>
	
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>


<div style="width:100%;">
<?php echo $this->form; ?>
<br>

<form  onsubmit="return validateForm()" name='formApply'  id='formApply' method='post' action="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'save-apply'),'default',true);?>">
<input type='hidden' name='idSemester' id='idSemester' value='<?php echo $this->idSemester;?>'> 
<input type='hidden' name='idSubject' id='idSubject' value='<?php echo $this->idSubject;?>'> 

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px">No</th>		
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Name");?></th>
		<th><input type="checkbox" name="checkall" id="checkall" /></th>
	</tr>
	
	<?php 
	if(count($this->students)>0){
		foreach($this->students as $key=>$student){
	?>
	<tr>
		<td align="center"><?php echo $key+1; ?></td>
		<td><?php echo $student["appl_fname"].' '.$student["appl_lname"]?></td>
		<td align="center"><?php echo $student['registrationId']; ?></td>
		<td align="center"><?php echo $student["SubCode"];?></td>
		<td align="center"><?php echo ($this->locale=='ms_MY') ? $student["subjectMainDefaultLanguage"]:$student["SubjectName"];?></td>
		<td align="center"><input class='chk' type="checkbox" name="IdStudentRegSubjects[]" id="IdStudentRegSubjects[]" value="<?php echo $student["IdStudentRegSubjects"];?>"></td>
	</tr>
	
	<?php } } ?>
</table>

<div class="form-opt">
	<input type="submit" name="submit" value="<?php echo $this->translate('Submit')?>" class="btn-submit" />
</div>
</form>
</div>