<script type="text/javascript">
	function search_subject(){
				
		var faculty_id = $('#IdCollege').val();
		var table = $("#result tbody");
		
		if(faculty_id!==0){
			$.ajax({
				url: "/examination/appeal/search-course",
			    type: "post",
			    async : false,
			    data: {'idCollege':faculty_id},
			    dataType: 'json',
			    success: function(data){
			    	$('#IdSubject').empty();
					$('#IdSubject').append('<option value="">-- Please Select --</option>');
				    	
				    	$.each(data, function(index) {
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('IdSubject');
			      
				},
				complete: function() {
					hideLoading('IdSubject');
				}  
			});
		}
	}

	function showLoading(target){
		$('#'+target).hide();
		$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
	}

	function hideLoading(target){
		$('#loading').remove();
		$('#'+target).show();
	}
	</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'apply'), 'default', true);?>">
					<span class='add'></span>
					Apply
				</a>
			</li>
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong></div>
<br>
<?php } ?>

<div style="width:100%;">
<?php echo $this->form; ?>
<br>

<?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>		
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Date Apply");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th></th>		
	</tr>
	<?php 
	if(count($this->paginator)>0){
		foreach($this->paginator as $key=>$student){
	?>
	<tr>
		<td align="left"><?php echo $student["appl_fname"].' '.$student["appl_lname"]?></td>
		<td align="center"><?php echo $student['registrationId']; ?></td>
		<td align="center"><?php echo (isset($student['sa_applyDate']) && $student['sa_applyDate']!='') ? date("d-m-Y",strtotime($student['sa_applyDate'])):''; ?></td>
		<td align="center"><?php echo ($this->locale=='ms_MY') ? $student["SemesterMainDefaultLanguage"]:$student["SemesterMainName"];?></td>
		<td align="center"><?php echo $student["SubCode"].' <br> ';
				echo ($this->locale=='ms_MY') ?  $student["subjectMainDefaultLanguage"]:$student["SubjectName"];?></td>
		<td align="center">
		<?php 
		if($student['sa_status']==1) echo $this->translate("Apply").'<br>'.date("d-m-Y",strtotime($student['sa_applyDate'])); 
		
		if($student['sa_status']==2) echo $this->translate("Approved").'<br>'.date("d-m-Y",strtotime($student['sa_approvedDate'])); 
		
		if($student['sa_status']==3) echo $this->translate("Rejected").'<br>'.date("d-m-Y",strtotime($student['sa_rejectDate']));  
		
		if($student['sa_status']==4) echo $this->translate("Verifed");
		?>
		</td>		
		<td  align="center">
		<?php if($student['sa_status']==2) { ?>
			<a href='<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'update-mark','id'=>$student['sa_id']), 'default', true);?>'><?php echo $this->translate('Update Mark');?></a>
		<?php }else if($student['sa_status']==4){ ?>
			<a href='<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'view','id'=>$student['sa_id']), 'default', true);?>'><?php echo $this->translate('View Details');?></a>
		<?php } ?>
		</td>
	</tr>
	<?php }} ?>
</table>
</div>
