<script>

$(function() {

	$('#form1').submit(function(){

		flag = validate();

		if(flag==false){
			alert('Please enter a numeric value');
		}else{
			return true;
		}
		
	});
});

function validate(){

	var flag = true;
	$('input[class="entry"]').each(function(){	
		entrymark = $(this).val();

		if($.isNumeric( entrymark )==false){ 
			flag = false;
		}	
	});

	return flag;
	
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<table class="table" width="50%" cellpadding="5" cellspacing="1" border="0">
	<tr>		
		<th><?php echo $this->translate("Student Name");?></th>
		<td><?php echo $this->appeal['appl_fname'].' '.$this->appeal['appl_lname'];?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Student ID");?></th>
		<td><?php echo $this->appeal['registrationId']; ?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Programme");?></th>
		<td><?php echo $this->appeal['ProgramName']; ?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Semester");?></th>
		<td><?php echo ($this->locale=='ms_MY') ? $this->semester["SemesterMainDefaultLanguage"]:$this->semester["SemesterMainName"]; ?></td>
		
	</tr>
	<tr>
		<th><?php echo $this->translate("Course Code");?></th>
		<td><?php echo $this->subject["SubCode"];?></td>			
	</tr>
	<tr>
		<th><?php echo $this->translate("Course Name");?></th>
		<td><?php echo ($this->locale=='ms_MY') ? $this->subject["subjectMainDefaultLanguage"]:$this->subject["SubjectName"];?></td>			
	</tr>	
</table>

<br></br>
<form id="form1" method="post" action="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'update-mark'), 'default', true);?>">
<input type='hidden' name='sam_sa_id' value='<?php echo $this->id;?>'>
<input type='hidden' name='idStudentRegSubject' value='<?php echo $this->appeal['IdStudentRegSubjects'];?>'>
<fieldset>
<legend><?php echo $this->translate("Remarking Details");?></legend>
<table cellpadding="5" cellspacing="5" border="0">
	<tr>
		<td colspan=4><strong>Previous Mark Info</strong></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Mark");?></td>
		<td colspan=3>: <?php echo $this->grade['final_course_mark'];?></td>	
	</tr>
	<tr>
		<td><?php echo $this->translate("Grade");?></td>
		<td colspan=3>: <?php echo $this->grade['grade_name'];?></td>	
	</tr>
	<tr>
		<td colspan=4>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=4>Please fill in all the information below:-</td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 1");?></td>		
		<td>
			<select name='sam_examiner1' id='sam_examiner1' class='sel'>
					<option value='0'><?php echo $this->translate('-- Please Select --');?></option>
					<?php foreach($this->academic_staff as $staff){							
						?>
						<option value='<?php echo $staff['IdStaff'];?>'><?php echo $staff['FullName'];?></option>
					<?php } ?>
				</select>
		</td>
		<td><?php echo $this->translate("Mark");?></td>
		<td><input type='text' name='sam_mark1' id='sam_mark1' class='entry'></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 2");?></td>		
		<td>
			<select name='sam_examiner2' id='sam_examiner2' class='sel'>
					<option value='0'><?php echo $this->translate('-- Please Select --');?></option>
					<?php foreach($this->academic_staff as $staff){							
						?>
						<option value='<?php echo $staff['IdStaff'];?>'><?php echo $staff['FullName'];?></option>
					<?php } ?>
				</select>
		</td>
		<td><?php echo $this->translate("Mark");?></td>
		<td><input type='text' name='sam_mark2' id='sam_mark2' class='entry'></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 3");?></td>		
		<td>
			<select name='sam_examiner3' id='sam_examiner3' class='sel'>
					<option value='0'><?php echo $this->translate('-- Please Select --');?></option>
					<?php foreach($this->academic_staff as $staff){							
						?>
						<option value='<?php echo $staff['IdStaff'];?>'><?php echo $staff['FullName'];?></option>
					<?php } ?>
				</select>
		</td>
		<td><?php echo $this->translate("Mark");?></td>
		<td><input type='text' name='sam_mark3' id='sam_mark3' class='entry'></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Actual Mark");?></td>
		<td colspan=3><input type='text' name='sam_actual_mark' id='sam_actual_mark' class='entry'></td>	
	</tr>
</table>
<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</fieldset>
</form>
