<script>
function approve(){
	var sa_id = $('input[name=sa_id]:checked').val();
	
	if(!sa_id){
		alert('Please select student first.');
	}else{	
		openDialog(sa_id);
	}
}

function openDialog(sa_id){	
	
	url = "<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'appeal-approval'), 'default', true);?>/id/"+sa_id;

	$( "#dialog-box" ).load(url).dialog('open');
}

$(function() {

	$( "#dialog-box" ).dialog({
	    autoOpen: false,
	    width: 750,
	    height: 250,
	    modal: true,
	    buttons: {          
	        "Submit": function() {

	        	var dosen = $("#dosen option:selected").val();
	        	var approval_status = $("#approval_status option:selected").val();

	        	if(approval_status==3){
	        		$("#appealApproval").submit();   
	        	}else{
	        		if($("#meeting_date").val()=='' || dosen==0 || approval_status==0){
		        		alert('Nilai diperlukan dan tidak boleh kosong.');
		        	}else{                 	
	    				$("#appealApproval").submit();    
	             	}  
	        	}
	        	
	        	    
	        },
	        "Close": function() {
	            $( this ).dialog( "close" );
	        }
	    }
	});


	$( "#dialog-view" ).dialog({
	    autoOpen: false,
	    width: 750,
	    height: 350,
	    modal: true,
	    buttons: {          
	       
	        "Close": function() {
	            $( this ).dialog( "close" );
	        }
	    }
	});

	$( "#dialog-update" ).dialog({
	    autoOpen: false,
	    width: 750,
	    height: 450,
	    modal: true,
	    buttons: {  
	        "Close": function() {
	            $( this ).dialog( "close" );
	        }
	    }
	});

	$("#meeting_date").datepicker({
		"dateFormat":"yy-mm-dd",
		"changeMonth":"true"		
	});
	
});




</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="#" onclick="javascript:approve()">
					<span class='approve'></span>
					Approve
				</a>
			</li>
			
		</ul>
	</div>
</div>

<br>

<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong></div>
<br>
<?php } ?>

<div style="width:100%;">
<?php echo $this->form; ?>
<br>

<?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>			
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID");?></th>
		<th><?php echo $this->translate("Date Apply");?></th>
		<th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Subject");?></th>
		<th><?php echo $this->translate("Status");?></th>	
		<th></th>	
	</tr>
	<?php 
	if(count($this->list)>0){
		foreach($this->list as $key=>$student){
	?>
	<tr>
		
		<td align='center'><?php echo $student["appl_fname"].' '.$student["appl_lname"]?></td>
		<td align='center'><?php echo $student['registrationId']; ?></td>
		<td align='center'><?php echo date("d-m-Y",strtotime($student['sa_applyDate'])); ?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $student["SemesterMainDefaultLanguage"]:$student["SemesterMainName"];?></td>
		<td align='center'><?php echo $student["SubCode"].' <br> ';
				echo ($this->locale=='ms_MY') ?  $student["subjectMainDefaultLanguage"]:$student["SubjectName"];?></td>
		<td align="center">
		<?php 
		if($student['sa_status']==1) echo $this->translate("Apply").'<br>'.date("d-m-Y",strtotime($student['sa_applyDate'])); 
		
		if($student['sa_status']==2) echo $this->translate("Approved").'<br>'.date("d-m-Y",strtotime($student['sa_approvedDate'])); 
		
		if($student['sa_status']==3) { echo $this->translate("Rejected").'<br>'.date("d-m-Y",strtotime($student['sa_rejectDate'])); }?>
		</td>		
		<td align="center"><input class='chk' type="checkbox" name='sa_id' id='sa_id' value='<?php echo $student['sa_id']; ?>'></td>
	</tr>
	<?php }} ?>
</table>
</div>

<div id="dialog-view" title="Student Appeal Information">
</div>

<div id="dialog-update" title="Student Appeal">
</div>

<div id="dialog-box" title="Student Appeal">
</div>