<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'appeal','action'=>'index'), 'default', true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>

<br>
<table class="table" width="50%" cellpadding="5" cellspacing="1" border="0">
	<tr>		
		<th><?php echo $this->translate("Student Name");?></th>
		<td><?php echo $this->appeal['appl_fname'].' '.$this->appeal['appl_lname'];?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Student ID");?></th>
		<td><?php echo $this->appeal['registrationId']; ?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Programme");?></th>
		<td><?php echo $this->appeal['ProgramName']; ?></td>		
	</tr>
	<tr>		
		<th><?php echo $this->translate("Semester");?></th>
		<td><?php echo ($this->locale=='ms_MY') ? $this->semester["SemesterMainDefaultLanguage"]:$this->semester["SemesterMainName"]; ?></td>
		
	</tr>
	<tr>
		<th><?php echo $this->translate("Course Code");?></th>
		<td><?php echo $this->subject["SubCode"];?></td>			
	</tr>
	<tr>
		<th><?php echo $this->translate("Course Name");?></th>
		<td><?php echo ($this->locale=='ms_MY') ? $this->subject["subjectMainDefaultLanguage"]:$this->subject["SubjectName"];?></td>			
	</tr>	
</table>

<br></br>

<fieldset>
<legend><?php echo $this->translate("Remarking Details");?></legend>
<table class="" width="50%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<td colspan=4><strong>Previous Mark Info</strong></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Mark");?></td>
		<td colspan=3>: <?php echo $this->appeal['final_course_mark'];?></td>	
	</tr>
	<tr>
		<td><?php echo $this->translate("Grade");?></td>
		<td colspan=3>: <?php echo $this->appeal['grade_name'];?></td>	
	</tr>
	<tr>
		<td colspan=4><strong>New Mark Info</strong></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 1");?></td>		
		<td>: <?php echo $this->appeal['Examiner1'];?></td>
		<td><?php echo $this->translate("Mark");?></td>
		<td>: <?php echo $this->appeal['sam_mark1'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 2");?></td>		
		<td>: <?php echo $this->appeal['Examiner2'];?></td>
		<td><?php echo $this->translate("Mark");?></td>
		<td>: <?php echo $this->appeal['sam_mark2'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Examiner 3");?></td>		
		<td>: <?php echo $this->appeal['Examiner3'];?></td>
		<td><?php echo $this->translate("Mark");?></td>
		<td>: <?php echo $this->appeal['sam_mark3'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Actual Mark");?></td>
		<td colspan=3>: <?php echo $this->appeal['sam_actual_mark'];?></td>	
	</tr>
	<tr>
		<td><?php echo $this->translate("Date");?></td>
		<td colspan=3>: <?php echo date('d-m-Y',strtotime($this->appeal['sam_createddt']));?></td>	
	</tr>
</table>

</fieldset>