
<script>

$(function() {
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	$( "#dialog:ui-dialog" ).dialog( "destroy" );

	$( "#collection-details" ).dialog({
		modal: true,
		autoOpen: false,
		width: 600,
		buttons: [{
			            id:"btn-accept",
			            text: "Confirm",	           
			            click: function() {
			            	if( $('#agreement').is(':checked') ){
			            		$("#collectForm").submit(); 
			            		
		            		}else{
		            			alert('<?php echo "Please tick confimation checked box"; ?>');
		            		}
			            				            	
			            }
			    },{
			            id:"btn-cancel",
			            text: "Cancel",
			            click: function() {
		                    $(this).dialog("close");
			            }
			    }]
	});

	$( "#revert-quit-dialog" ).dialog({
		modal: true,
		autoOpen: false,
		width: 600,
		buttons: [{
			            id:"btn-accept",
			            text: "Confirm",	           
			            click: function() {
			            	if( confirm('<?php echo $this->translate("Confirm to revert?"); ?>') ){
			            		$("#revertForm").submit(); 
			            		
		            		}			            	
			            }
			    },{
			            id:"btn-cancel",
			            text: "Cancel",
			            click: function() {
		                    $(this).dialog("close");
			            }
			    }]
	});

	<?php
		if($this->search){
	?>
			$('#search_panel').show();
	<?php
		}
	?>	
	
});

function process(){
	var id = $('input[name=txn_id]:checked').val();

	if(!id){
		alert('Please select applicant first');
	}else{		
		window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'quit-approval'),'default',true); ?>/id/"+id;
		
	}
}

function collectionForm(txn_id){		
	$( "#collection-details" ).dialog('open');

	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'ajax-get-quit'),'default',true);?>",
		data: {'txn_id':txn_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {

		$("#aq_authorised_personnel").text(data.aq_authorised_personnel);
		$("#aq_identity_no").text(data.aq_identity_no);
		$("#aq_id").val(data.aq_id);
		
	});
}

function revert_quit(id){
	var url = "<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'pre-revert-quit'),'default',true); ?>/id/"+id;
	$( "#revertForm" ).attr('action', url);
	$( "#revertForm" ).submit();
	//$( "#revert-quit-dialog" ).dialog('open');
}

</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		 <?php 
		 $auth = Zend_Auth::getInstance();  
		 //ONLY faculty finance & university finance can do quit processing 	
		
		 if($auth->getIdentity()->IdRole == 386 || $auth->getIdentity()->IdRole == 393 || $auth->getIdentity()->IdRole == 1){	
		 ?>
			<li>
				<a href="#" onclick="javascript:process()">
					<span class='process'></span>
					Process
				</a>
			</li>
		<?php } ?>
			<li>
				<a href="#" onclick="javascript:$('#search_panel').toggle();">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li class="divider"></li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">

<?php echo  $this->form;?>

<fieldset id="search_panel" style="display: none;">
	<legend><?php echo $this->translate("Search");?></legend>
	<form method="post">
		<input type="hidden" name="search" value="true" />
	<table>
		<tbody>
		<tr>
			<td><?php echo $this->translate("Name");?></td>
			<td>:</td>
			<td>
				<input type="text" value="" id="name" name="name" value="<?php echo $this->search_name; ?>" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Nomor Fomulir");?></td>
			<td>:</td>
			<td>
				<input type="text" value="" id="nofom" name="nofom" value="<?php echo $this->search_nofom; ?>" />
			</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
			</td>
			<td>
				<input type="submit" value="Search" class="button" id="btn_search" name="search">
			</td>
		</tr>
	</tbody>
	</table>
	</form>
</fieldset>
	
<?php 
if(!$this->search){
	echo $this->paginationControl($this->paginator,'Sliding','paginationLink.phtml');
}
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th rowspan="2" width="15px">&nbsp;</th>		
		<th rowspan="2"><?php echo $this->translate("applicant_name");?></th>
		<th rowspan="2"><?php echo $this->translate("Nomor Fomulir");?></th>
		<th rowspan="2"><?php echo $this->translate("admission_type");?></th>
		<th rowspan="2"><?php echo $this->translate("Intake (Period)");?></th>
		<th rowspan="2"><?php echo $this->translate("Programme Offered");?></th>
		<th><?php echo $this->translate("Paid Amount");?></th>
		<th><?php echo $this->translate("Refund Amount");?></th>
		<th rowspan="2"><?php echo $this->translate("Quit status");?></th>
		<th rowspan="2"><?php echo $this->translate("Cheque Collection Status");?></th>
	</tr>
	<tr>
		<th style="text-align: center;">IDR</th>
		<th style="text-align: center;">IDR</th>
	</tr>
	<?php 
		if( sizeof($this->paginator) >0 ){
			
		$i=0;
		foreach ($this->paginator as $entry){

		$applicantProgramDb = new App_Model_Application_DbTable_ApplicantProgram();
		$txnProgram = $applicantProgramDb->getOfferProgram($entry['at_trans_id'],$entry["at_appl_type"]);

		if($entry["at_quit_status"]==2 || $entry["at_quit_status"]==3) {				
			$disabled="disabled";						
		}else{
			$disabled='';
		}
		
		//get payment status
    	$financeDb =  new Studentfinance_Model_DbTable_PaymentMain();
    	$refundDb = new Studentfinance_Model_DbTable_Refund();
    	
    	$payment = $financeDb->getApplicantPaymentTotalAmount($entry["at_pes_id"]);
		$refund =  $refundDb->getRefundAmount($entry["at_pes_id"]);  	
	
	?>
	
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td style="text-align: center">
			<input type="radio" name="txn_id" id="txn_id" value="<?php echo $entry['at_trans_id']; ?>" <?php echo $disabled;?>>
		</td>		
		<td>
			<a href="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'view-details', 'id'=>$entry['at_trans_id']),'default',true);?>">
				<?php echo $entry['appl_fname']." ".$entry['appl_mname']." ".$entry['appl_lname']; ?>
			</a>
		</td>
		<td><?php echo $entry['at_pes_id']; ?></td>
		<td align="center">
			<?php 
				if($entry['at_appl_type']==1){ 
					echo $this->translate("USM"); 
				}else  
				if($entry['at_appl_type']==2){
					echo  $this->translate("PSSB");
				} 
			?>
		</td>
		<td align="center">
			<?php echo $entry['IntakeId']; ?>
			<?php echo isset($entry['ap_code'])&&$entry['ap_code']!=null?"(".$entry['ap_code'].")":""; ?>
		</td>
		<td><?php echo '('.$txnProgram['program_code'].') '.$txnProgram['program_name_indonesia']; ?></td>
		<td>    
		<?php   
			if($payment != 0){
    			echo sprintf('%0.2f', $payment);
    		}else{
    			echo '0.00';
    		}
		?>
		</td>
		<td>
			<?php echo sprintf('%0.2f', $refund); ?>
		</td>
		<td align="center">
		            <?php if($entry['at_quit_status']==1){ 
						echo $this->translate("Applied").'<br>'.date("d-m-Y",strtotime($entry["aq_createddt"])).'<br>';
		            }elseif($entry['at_quit_status']==2){
				  		echo $this->translate("Quit Approved").'<br>'.date("d-m-Y",strtotime($entry["aq_approvaldt"])).'<br>';
				  		
				  		$url = $this->url(array("module"=>'application','controller'=>'quit','action'=>'download','id'=>$entry['at_trans_id']),'default',true);
				  		
				  		echo '<input type="button" onclick="window.open(\''.$url.'\');" value="'.$this->translate("Download Slip").'" />';
				  		
				  		echo '<input type="button" onclick="revert_quit('.$entry['aq_id'].');" value="'.$this->translate("Revert Quit").'" />';
				  		
		            }elseif($entry['at_quit_status']==3){
		            	echo $this->translate("Quit Rejected").'<br>'.date("d-m-Y",strtotime($entry["aq_approvaldt"])).'<br>';
		            }elseif($entry['at_quit_status']==4){
		            	echo $this->translate("Incomplete Documents").'<br>'.date("d-m-Y",strtotime($entry["aq_processdt"])).'<br>';
		            }
				  	?></td>
		<td align="center">
		 <?php 
		 
		 $curl = $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'collection-details', 'id'=>$entry['at_trans_id']),'default',true);
		 if($entry['at_quit_status']==2 && isset($entry["rchq_id"]) ){ 
		 	
		 	if( isset($entry["rchq_collector_name"]) ){
		 		echo $this->translate("Collected").'<br>'.date("d-m-Y h:ia",strtotime($entry["rchq_collector_date"])).'<br>';
		 		echo "<small> update by:".$entry['rchq_collector_update_by_name']."</small>";
		 	}else{
		 		?>
		 		<!-- 
		 		<a href="#" onclick="collectionForm('<?php echo $entry['at_trans_id'];?>');"><?php echo $this->translate("Update");?></a>
		 		 -->
		 		<input type="button" onclick="collectionForm('<?php echo $entry['at_trans_id'];?>');" value="<?php echo $this->translate("Update Collector");?>" />
		 		<?php 
		 	}
		 }
		 
		
		 ?>
		
		</td>
	</tr>

<?php $i++;}//end foreach 
		}?>
</table>
<?php 
if(!$this->search){
	echo $this->paginationControl($this->paginator,'Sliding','paginationLink.phtml');
}
?>
<br />
</div>

<div id="collection-details" title="Cheque Collection Details">

<fieldset>
	<legend><?php echo $this->translate("Cheque Info"); ?></legend>
	
	<table cellpadding="5">
		<tr>
			<td><?php echo $this->translate("Authorised Personnel")?></td>
			<td width="5px">:</td>
			<td><span id="aq_authorised_personnel"></span></td>
		</tr>	
		<tr>
			<td><?php echo $this->translate("Identity No")?></td>
			<td width="5px">:</td>
			<td><span id="aq_identity_no"></span></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Cheque No")?></td>
			<td width="5px">:</td>
			<td><input type="text" id="aq_cheque_no" name="aq_cheque_no" value=""></td>
		</tr>
	</table>
</fieldset>
<br />
<fieldset>
	<legend><?php echo $this->translate("Collector Info");?></legend>

	<form id="collectForm" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'confirm-collection'),'default',true); ?>">
		<input type="hidden" id="aq_id" name="aq_id" value="">
		<table cellpadding="5">
			<tr>
				<th><?php echo $this->translate("Collector Name");?></th>
				<td>:</td>
				<td><input type="text" name="collector_name" /></td>
			</tr>
			<tr>
				<th><?php echo $this->translate("Collector Identity");?></th>
				<td>:</td>
				<td><input type="text" name="collector_id" /></td>
			</tr>
			<tr>
				<td colspan="3">
					<input id="agreement" type="checkbox" value="true">
					&nbsp;
					<small>
						<?php echo $this->translate(" I hereby confirm  that all the information stated are true and accurate.")?>
					</small>
				</td>
			</tr>	
		</table>
	</form>
</fieldset>

</div>


<div id="revert-quit-dialog" title="Revert Quit">
	<form id="revertForm" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'revert-quit'),'default',true); ?>">
		*<?php echo $this->translate("I hereby acknowledge that the cheque is return and cancel");?>
		<br />
		<table cellpadding="5">
			<tr>
				<th valign="top"><?php echo $this->translate("Remarks");?></th>
				<td valign="top">:</td>
				<td><textarea rows="5" cols="60" name="remark"></textarea></td>
			</tr>
		</table>
	</form>
</div>