<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<!-- Breadcrum -->
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text" style="font-size: 11px; line-height: 16px; padding: 8px 34px 0 2px;"><a href="#"><?php echo $this->translate("Revert Refund"); ?></a></div></li>
		<li class="last"><div class="text" style="font-size: 10px; line-height: 16px; padding: 8px 26px 0 2px;"><a href="#"><?php echo $this->translate("Advance Payment Knock-off"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>
<br />
<!-- End Breadcrum -->
	
<!-- QUIT INFORMATION -->
<h2>Quit Information</h2>
<table>
	<tr>
		<td>Applicant Name</td>
		<td>:</td>
		<td>
			<?php echo isset($this->profile['appl_fname'])?$this->profile['appl_fname']." ":""; ?>
			<?php echo isset($this->profile['appl_mname'])?$this->profile['appl_mname']." ":""; ?>
			<?php echo isset($this->profile['appl_lname'])?$this->profile['appl_lname']." ":""; ?>
		</td>
	</tr>
	<tr>
		<td>Nom. Fomulir</td>
		<td>:</td>
		<td>
			<?php Echo $this->quit['at_pes_id']; ?>
		</td>
	</tr>
	<tr>
		<td>Program</td>
		<td>:</td>
		<td>
			<?php echo $this->program_offered['program_name_indonesia']?> (<?php echo $this->program_offered['program_code']?>)
		</td>
	</tr>
	<tr>
		<td>Quit Reason</td>
		<td>:</td>
		<td><?php echo $this->quit['quit_reason'];?></td>
	</tr>
	<tr>
		<td>Quit Application Date</td>
		<td>:</td>
		<td><?php echo date('d-m-Y', strtotime($this->quit['aq_createddt'])); ?></td>
	</tr>
	<tr>
		<td>Quit Approval Date</td>
		<td>:</td>
		<td><?php echo date('d-m-Y', strtotime($this->quit['aq_approvaldt'])); ?></td>
	</tr>
</table>

<!-- REFUND -->
<h2>Refund Cancelation</h2>

<table class="table" width="100%">
	<thead>
		<tr>
			<th rowspan="2">Description</th>
			<th rowspan="2">Refund Amount</th>
			<th rowspan="2">Refund Date</th>
			<th colspan="5" style="text-align: center;">Cheque Info</th>
		</tr>
		<tr>
			<th>Cheque Num.</th>
			<th>Cheque Bank</th>
			<th>Cheque Amount</th>
			<th>Issued Date</th>
			<th>Issued by</th>
		</tr>
	</thead>
	<tbody>
<?php
$total_refund_amount = 0; 
for($i=0; $i<sizeof($this->refund); $i++):
$total_refund_amount += $this->refund[$i]['rfd_amount'];
?>

	<tr>
		<td><?php echo $this->refund[$i]['rfd_desc']; ?></td>
		<td><?php echo sprintf('%0.2f', $this->refund[$i]['rfd_amount']); ?></td>
		<td><?php echo date('d-m-Y', strtotime($this->refund[$i]['rfd_create_date'])); ?></td>
		<td><?php echo $this->refund[$i]['cheque_info']['rchq_cheque_no']; ?></td>
		<td><?php echo $this->refund[$i]['cheque_info']['bank_name']; ?></td>
		<td>IDR <?php echo sprintf('%0.2f', $this->refund[$i]['cheque_info']['rchq_amount']); ?></td>
		<td><?php echo date('d-m-Y', strtotime($this->refund[$i]['cheque_info']['rchq_issue_date'])); ?></td>
		<td><?php echo $this->refund[$i]['cheque_info']['issuer_name']; ?></td>
	</tr>
<?php endfor;?>
	</tbody>
	<tfoot>
		<tr>
			<td>&nbsp;</td>
			<th><?php echo sprintf('%0.2f', $total_refund_amount); ?></th>
			<td colspan="6">&nbsp;</td>
		</tr>
	</tfoot>
</table>


<h2>Quit Charges Cancelation</h2>
<table class="table" width="100%">
	<thead>
		<tr>
			<th rowspan="2">Inv No.</th>
			<th rowspan="2">Inv Description</th>
			<th>Inv Amount</th>
			<th>Inv Paid</th>
			<th>Inv Balance</th>
			<th>Credit Note Amount</th>
		</tr>
		<tr>
			<th style="text-align: center;">IDR</th>
			<th style="text-align: center;">IDR</th>
			<th style="text-align: center;">IDR</th>
			<th style="text-align: center;">IDR</th>
		</tr>
	</thead>
	<tbody>
		<?php 
			$cnl_quit_charges_amt = 0;
			for($i=0; $i<sizeof($this->quit_charges);$i++):
			$inv_qcharges = $this->quit_charges[$i];
			
			$cnl_quit_charges_amt += $inv_qcharges['bill_amount'];
		?>
		<tr>
			<td><?php echo $inv_qcharges['bill_number'];?></td>
			<td><?php echo $inv_qcharges['bill_description'];?></td>
			<td><?php echo sprintf('%0.2f', $inv_qcharges['bill_amount']);?></td>
			<td><?php echo sprintf('%0.2f', $inv_qcharges['bill_paid']);?></td>
			<td><?php echo sprintf('%0.2f', $inv_qcharges['bill_balance']);?></td>
			<td><?php echo sprintf('%0.2f', $inv_qcharges['cn_amount']);?></td>
		</tr>
		<?php endfor;?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">&nbsp;</td>
			<th><?php echo sprintf('%0.2f', $cnl_quit_charges_amt);?></th>
			<td colspan="3">&nbsp;</td>
		</tr>
	</tfoot>
</table>

<h2>Refund Transfer to Advance Payment</h2>
<table>
	<tr>
		<td>Refund Cancelation</td>
		<td>:</td>
		<td id="rfd_amt"><?php echo sprintf('%0.2f', $total_refund_amount); ?></td>
	</tr>
	<tr>
		<td>Quit Charges Cancelation</td>
		<td>:</td>
		<td id="qt_chrg_amt"><?php echo sprintf('%0.2f', $cnl_quit_charges_amt); ?></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td id="total_adv_pymt" style="border-top: 1px solid #111; border-bottom: 2px double #111;">
			<?php
				$amt_adv = $total_refund_amount + $cnl_quit_charges_amt;
				echo sprintf('%0.2f', $amt_adv); 
			?> 
		</td>
	</tr>
</table>

<h2>Credit Note Cancelation Reactivate Invoices</h2>
<table class="table" width="100%">
	<thead>
		<tr>
			<th rowspan="2">Inv No.</th>
			<th rowspan="2">Inv Description</th>
			<th>Inv Amount</th>
			<th>Credit Note Amount</th>
		</tr>
		<tr>
			<th style="text-align: center;">IDR</th>
			<th style="text-align: center;">IDR</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	$total_cn_amount = 0;
	for($i=0;$i<sizeof($this->invoice_list);$i++):
		$invoice = $this->invoice_list[$i];
	
		$total_cn_amount +=$invoice['cn_amount'];
	?>
	<tr>
		<td><?php echo $invoice['bill_number']; ?></td>
		<td><?php echo $invoice['bill_description']; ?></td>
		<td><?php echo sprintf('%0.2f', $invoice['bill_amount']); ?></td>
		<td><?php echo sprintf('%0.2f', $invoice['cn_amount']); ?></td>
	</tr>
	<?php 
	endfor;
	?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">&nbsp;</td>
			<th><?php echo sprintf('%0.2f', $total_cn_amount); ?></th>
		</tr>
	</tfoot>
</table>
<div style="margin: 20px 0 0 0;">
	<form id="revertForm" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'revert-quit', 'id'=>$this->quit_id),'default',true); ?>">
		*<?php echo $this->translate("I hereby acknowledge that the cheque is return and cancel");?>
		<br />
		<table cellpadding="5">
			<tr>
				<th valign="top"><?php echo $this->translate("Remarks");?></th>
				<td valign="top">:</td>
				<td><textarea rows="5" cols="60" name="remark"></textarea></td>
			</tr>
		</table>
	
	
	<div width="100%" style="background: #EEE; text-align: center; margin: 10px 0;">
		<input type="submit" value="Save" />
		<input type="button" value="cancel" onclick="window.location='/application/quit/applicant-list" />
	</div>
	</form>
</div>