
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'applicant-list'),'default',true); ?>">
					<span class='back'></span>
					Back
				</a>
			</li>
			<?php 
				$auth = Zend_Auth::getInstance();  
			 	//ONLY faculty finance can do quit processing 		
			 	if($auth->getIdentity()->IdRole == 386 || $auth->getIdentity()->IdRole == 1){	
			 		
					if($this->applicant['at_quit_status']==1) {?>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'quit', 'action'=>'quit-approval','id'=>$this->applicant['at_trans_id']),'default',true); ?>" >
					<span class='process'></span>
					Process
				</a>
			</li>
			<?php } } ?>
			<li class="divider"></li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">
<h2><?php echo $this->translate("Application Details")?></h2>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>
		    <th width="30%"><?php echo $this->translate("Name")?></th>
			<td><?php echo $this->applicant["appl_fname"].' '.$this->applicant["appl_mname"].' '.$this->applicant["appl_lname"]; ?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Applicant ID")?></th>
			<td><?php echo $this->applicant["at_pes_id"]; ?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Admission Type")?></th>
			<td><?php 			
				if( $this->applicant['at_appl_type']==1 ){
					echo $this->translate("USM");}
				else{
					echo $this->translate("PSSB");
				}?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Programme Offered")?></th>
			<td>	
				<?php 
					echo '('.$this->program["program_code"].') '.$this->program["program_name_indonesia"];
				?>
			</td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Date Apply Quit")?></th>
			<td><?php echo date("d-m-Y",strtotime($this->applicant['aq_createddt']));?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Payment Status")?></th>
			<td><?php   setlocale(LC_MONETARY, 'id_ID');
						if($this->payment != 0){
    						echo $this->translate("Paid").' ('.sprintf('%0.2f', $this->payment).')';
    					}else{
    						echo $this->translate("Not Paid");
    					}
			   ?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Reason for QUITING")?></th>
			<td><?php echo $this->reason["BahasaIndonesia"];?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Authorised Personnel")?></th>
			<td><?php echo $this->applicant['aq_authorised_personnel'];?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Relationship")?></th>
			<td><?php echo $this->relationship["ssd_name_bahasa"];?></td>			
		</tr>
</table>

<h2><?php echo $this->translate("Quit Approval Info")?></h2>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>
		    <th width="30%"><?php echo $this->translate("Application Status")?></th>
			<td>
				<?php 
				if($this->applicant['at_quit_status']==1) {
					echo $this->translate("Quit Applied").' ('.date("d-m-Y",strtotime($this->applicant["aq_createddt"])).')';
				}
				
				if($this->applicant['at_quit_status']==2) {
					echo $this->translate("Quit Approved").' ('.date("d-m-Y",strtotime($this->applicant["aq_approvaldt"])).')';
				}
				
				if($this->applicant['at_quit_status']==3) {
					echo $this->translate("Quit Rejected").' ('.date("d-m-Y",strtotime($this->applicant["aq_approvaldt"])).')';
				}
				
				if($this->applicant['at_quit_status']==4) {
					echo $this->translate("Incomplete Documents").' ('.date("d-m-Y",strtotime($this->applicant["aq_processdt"])).')';
				}				
				?>
				
			</td>			
		</tr>
		
		<?php if($this->applicant['at_quit_status']==2) { ?>
		
		<tr>
		    <th width="30%"><?php echo $this->translate("Cheque Number")?></th>
			<td><?php echo $this->cheque['rchq_cheque_no'];?></td>			
		</tr>
		<tr>
		    <th width="30%"><?php echo $this->translate("Bank")?></th>
			<td><?php echo $this->cheque["BahasaIndonesia"];?></td>			
		</tr>
		<tr>
		    <th width="30%"><?php echo $this->translate("Amount")?></th>
			<td><?php echo sprintf('%0.2f', $this->cheque['rchq_amount']);?></td>			
		</tr>
		<tr>
		    <th><?php echo $this->translate("Issued Date (Cheque)")?></th>
			<td><?php echo ($this->cheque["rchq_issue_date"] != '' ? date("d-m-Y",strtotime($this->cheque["rchq_issue_date"])) : '' ); ?></td>			
		</tr>
		
		<?php }//end if approved?>
		
		
</table>

<?php if($this->cheque["aq_cheque_id"]){?>
<h2><?php echo $this->translate("Cheque Collection Details")?></h2>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="30%"><?php echo $this->translate("Collector Name")?></th>
		<td><?php echo $this->cheque['rchq_collector_name'];?></td>			
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("Collector Identity No")?></th>
		<td><?php echo $this->cheque['rchq_collector_id'];?></td>			
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("Collect Date")?></th>
		<td><?php if($this->cheque['rchq_collector_date']!='') echo date("d-m-Y",strtotime($this->cheque['rchq_collector_date']));?></td>			
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate("Staff In-Charge")?></th>
		<td><?php if(isset($this->staffinchange["fName"])) echo $this->staffinchange["fName"];?></td>			
	</tr>
</table>
<?php }?>

<h2><?php echo $this->translate("Documents")?></h2>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">

<?php if($this->applicant["at_appl_type"]==1){?>
<tr>
	<th width="50%"><?php echo $this->translate("Kartu Asli Peserta Ujian Saringan Masuk Universitas Trisakti");?></th>
	<td><?php if(isset($this->url_kartu)) { ?><a href="<?php echo $this->url_kartu;?>" target="_blank"><?php echo $this->translate("Download")?></a><?php } ?></td>
</tr>
<?php } ?>

<tr>
	<th width="50%"><?php echo $this->translate("Slip Asli tanda pembayaran yang telah dilakukan");?></th>
	<td><?php if(isset($this->url_payment_slip)) { ?><a href="<?php echo $this->url_payment_slip;?>" target="_blank"><?php echo $this->translate("Download")?></a><?php } ?></td>
</tr>	
<tr>
	<th><?php echo $this->translate("Tanda Pengenal Asli (SIM/KTP)");?></th>
	<td><?php if(isset($this->url_identity_card)) { ?><a href="<?php echo $this->url_identity_card;?>" target="_blank"><?php echo $this->translate("Download")?></a><?php } ?></td>
</tr>	
<tr>
	<th><?php echo $this->translate("Surat Pernyataan Kesediaan Memenuhi Kewajiban Administrasi Keuangan, Tatatertib, sanksi-sanksi Mahasiswa Baru");?></th>
	<td><?php if(isset($this->url_surat_pernyataan)) { ?><a href="<?php echo $this->url_surat_pernyataan;?>" target="_blank"><?php echo $this->translate("Download")?></a><?php } ?></td>
</tr>
</table>
</div>



