<script>

$(function () {

	 getCity( '#idCountry' );
	 getExamCenter( '#idCity' );
	
	 $("#idCountry").change(function () {
		    //get city
			getCity(this);
	 });

	 $("#idCity").change(function () {
		    //get ec
			getExamCenter(this);
	 });


	 $("#idSemester").change(function () {
		    //get course offered
			getCourseOffered(this);
	 });

	 $("#idSubject").change(function () {
		    //get default exam schedule 
			getDefault(this);
	 });


	
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });
		

	 $("#assignExamCenter").submit(function () {

		 	flag = checkboxValidate();
			if(flag){
				  
				 msg = confirm("Are you sure you want to proceed?");
				 if(msg){
					$("#CourseRegistrationForm").submit();
				 }else{
					return false;
				 }
				
			}else{     
				alert("Please select at least one student for course registration.");             	
				return false;
			}		
			
			

	 });

	
});


function checkboxValidate(){
	flag = false;
	$('input[type=checkbox]:checked').each(function()
		{
		   flag = true;
	});

	if(flag==true){
			
			if($('#idSubject').val()==''){
				//$('#idSubject').addClass('error');
				alert('Please select subject');
				return false;	
			}

			if($('#idSemester').val()==''){
				//$('#ec_id').addClass('error');
				alert('Please select exam semester');
				return false;		
			}

			
	}
	return flag;
}

function getDefault(element){
	var idSemester = $('#idSemester').val();
	
	 if( $(element).val() != '' && idSemester!= ''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule', 'action'=>'get-default'),'default',true);?>",
				data: {'idSubject':$(element).val(),'idSemester':idSemester},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					//console.log(data);
					var d = new Date(data.es_date);
					var curr_date = d.getDate();
					var curr_month = d.getMonth();
					var curr_year = d.getFullYear();
					
					$('#def_date').text(curr_date+"-"+curr_month+"-"+curr_year);
					$('#def_stime').text(data.es_start_time);
					$('#def_etime').text(data.es_end_time);
			    	
				}	
			});
	 }
}

function getCity(element){

	 if( $(element).val() != ''){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-city'),'default',true);?>",
					data: {'idCountry':$(element).val()},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$('#idCity').empty();
						$('#idCity').append('<option value="">-- All --</option>');			    	
				    	$.each(data, function(index) {			    			    
				    		$('#idCity').append('<option value="'+data[index].idCity+'">'+data[index].CityName+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('idCity');
				      
					},
					complete: function() {
						hideLoading('idCity');
					}  	
				});
	 }
}

function getExamCenter(element){

	var idCountry = $('#idCountry').val();
	var idCity = $(element).val();

	if(idCountry!='' && idCity!=''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-exam-center'),'default',true);?>",
				data: {'idCountry':$('#idCountry').val(),'idCity':$(element).val()},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					console.log(data);
			    	$('#ec_id').empty();
					$('#ec_id').append('<option value="">-- All --</option>');			    	
			    	$.each(data, function(index) {			    			    
			    		$('#ec_id').append('<option value="'+data[index].ec_id+'">'+data[index].ec_name+'</option>');	
			    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ec_id');
			      
				},
				complete: function() {
					hideLoading('ec_id');
				}  	
			});
	}
}

function getCourseOffered(element){

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule', 'action'=>'get-course-offered'),'default',true);?>",
			data: {'idSemester':$(element).val()},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				console.log(data);
		    	$('#idSubject').empty();
				$('#idSubject').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {			    			    
		    		$('#idSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('idSubject');
		      
			},
			complete: function() {
				hideLoading('idSubject');
			}  	
		});
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

$(function() {
	 
	$('.datepicker').datepicker({
		dateFormat: 'dd-mm-yy',			
		changeMonth: true,
		changeYear: true
	});

	$(".timepicker").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});
	  
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'examcenter'),'default',true);?>" >
				<span class='back'></span>
				<?php echo $this->translate('Back');?>
			</a>
			</li>		
		</ul>
	</div>
</div>

<!--<br></br>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'course'),'default',true);?>"><?php echo $this->translate("By Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'examcenter'),'default',true);?>"><?php echo $this->translate("By Exam Center"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

--><br></br>

<?php echo $this->form; ?>

<br></br>

<?php if(count($this->exam_center_list)>0) {?>
<h3><?php echo $this->translate('Assign Schedule'); ?></h3>
<form name='assignExamCenter' id='assignExamCenter' method='post' action='<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'save'),'default',true);?>'>
<table class="table" width="50%" cellpadding="5" cellspacing="1">	
	  <tr>
	   	 <th><?php echo $this->translate("Semester");?></th>	
	   	 <td>
	   	 <select name='idSemester' id='idSemester'>
	   	 		<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
	   	 	<?php foreach($this->semester as $semester){?>
	   	 		<option value='<?php echo $semester["key"]; ?>'><?php echo ($this->locale=='ms_MY') ? $semester['value2']:$semester['value']; ?></option>
	   	 	<?php } ?>
	   	 </select>
	   	 </td> 
	  </tr>
	  <tr>
	   	 <th><?php echo $this->translate("Course Name");?></th>	
	   	 <td>
	   	 <select name='idSubject' id='idSubject'>
	   	 		<option value=''><?php echo $this->translate('-- Please Select --'); ?></option>
	   	 </select>
	   	 </td>
	  </tr>
	   <tr>
	   	 <th><?php echo $this->translate("Date");?></th>	
	   	 <td><input type='text' name='es_date' class='datepicker'>&nbsp;&nbsp;<span id='def_date'></span></td>
	  </tr>
	  <tr>
	   	 <th><?php echo $this->translate("Start Time");?></th>	
	   	 <td><input type='text' name='es_start_time' class='timepicker'>&nbsp;&nbsp;<span id='def_stime'></span></td>
	  </tr>
	  <tr>
	   	 <th><?php echo $this->translate("End Time");?></th>	
	   	 <td><input type='text' name='es_end_time' class='timepicker'>&nbsp;&nbsp;<span id='def_etime'></span></td>
	  </tr>
</table>
<br></br>
<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>	
		<th><?php echo $this->translate("Exam Center"); ?></th>		
		<th><?php echo $this->translate("Country"); ?></th>
		<th><?php echo $this->translate("City"); ?></th>		
		<th>
		<?php echo $this->translate("Assign Schedule?");?> <br>
		    <input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?>
		</th>			
	</tr>	
	<?php foreach($this->exam_center_list as $index=>$ec){?>
	<tr>
		<td align='center'><?php echo $index+1;?></td>
		<td align='center'><?php echo $ec['ec_name'];?></td>
		<td align='center'><?php echo $ec['CountryName'];?></td>
		<td align='center'><?php echo $ec['CityName'];?></td>
		<td align='center'><input class="chk" type='checkbox' name='ec_id[]'  id='ec_id[]' value='<?php echo $ec['ec_id'];?>'></td>
	</tr>
	<?php } ?>	
</table>
<div class='form-opt'>
	<input type='submit' name='assign' class='btn-submit' value='<?php echo $this->translate("Save"); ?>'>
</div>
</form>
<?php } ?>

<br></br>
