<script>

function search_subject(){
	
	var faculty_id = $('#IdCollege').val();
		
	if(faculty_id!==0){
		$.ajax({
			url: "/examination/mark-distribution-setup/search-course",
		    type: "post",
		    async : false,
		    data: {'idCollege':faculty_id},
		    dataType: 'json',
		    success: function(data){
		    	$('#IdSubject').empty();
				$('#IdSubject').append('<option value="">-- Please Select --</option>');
			    	
			    	$.each(data, function(index) {
			    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
			    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdSubject');
		      
			},
			complete: function() {
				hideLoading('IdSubject');
			}  
		});
	}
}

function openDialog(es_id,dt,st,et){

	$.ui.dialog.prototype._focusTabbable = $.noop;
	
	$('#es_id').val(es_id);
	$('#es_date').val(dt);
	$('#es_start_time').val(st);
	$('#es_end_time').val(et);
	
	$( "#dialog-edit-status" ).dialog('open');
}

$(function() {
	 
	$('.datepicker').datepicker({
		dateFormat: 'dd-mm-yy',			
		changeMonth: true,
		changeYear: true,
		 onClose: function(){
	  	 			 $(this).removeClass('error_box');	  	  
	  	}
	});

	$(".timepicker").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10,
	  	  change: function(){
	 				$(this).removeClass('error_box');	  	  
		  		  }
	  	  });

	 $( "#dialog-edit-status" ).dialog({
	        autoOpen: false,
			resizable: false,
	        height:200,
	        modal: true,
	        open: function(){
		  	  $('input').blur();	  	  
		  	},  
	        buttons: {
	        	"Save": function() {

		  		var flag=true;
		  		 		  		 	
	    			if( $('#es_date').val()=='' ){
	    				$('#es_date').addClass('error_box');	    				
	    				var flag =  false;	
	    			}

	    			if( $('#es_start_time').val()=='' ){
	    				$('#es_start_time').addClass('error_box');
	    				var flag = false;	
	    			}

	    			if( $('#es_end_time').val()=='' ){
	    				$('#es_end_time').addClass('error_box');
	    				var flag = false;	
	    			}

	    		 	if(flag==true){
	        			$('#form_edit_status').submit();
	    		 	}else{
						return false;
	    		 	}
	          	},
	          	Cancel: function() {
	            	$( this ).dialog( "close" );
	          	}
	        }
		});
		  
	  
});

</script>

<style>
.error_box{
	border:1px solid #ff0000;
    background-color:#ffeeee;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'add-schedule-ec'),'default',true);?>" >
				<span class='add'></span>
				<?php echo $this->translate('Assign Schedule');?>
			</a>
			</li>		
		</ul>
	</div>
</div>

<br></br>

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'course'),'default',true);?>"><?php echo $this->translate("By Course"); ?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-schedule','action'=>'examcenter'),'default',true);?>"><?php echo $this->translate("By Exam Center"); ?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

<br></br>

<?php echo $this->form; ?>

<br></br>

<?php if(count($this->schedule)>0){ ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
	    <th><?php echo $this->translate("Semester");?></th>
		<th><?php echo $this->translate("Course Code");?></th>
		<th><?php echo $this->translate("Course Name");?></th>		
    	<th><?php echo $this->translate("Exam Date");?></th>
    	<th><?php echo $this->translate("Exam Start Time");?></th>  
    	<th><?php echo $this->translate("Exam End Time");?></th> 
    	<th></th>   
	</tr>
	
	<?php foreach($this->schedule as $index=>$schedule){?>
	<tr>
	    <td align='center'><?php echo ($this->locale=='ms_MY') ? $schedule['SemesterMainDefaultLanguage']:$schedule['SemesterMainName'];?></td>
	    <td align='center'><?php echo $schedule['SubCode'];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $schedule['subjectMainDefaultLanguage']:$schedule['SubjectName'];?></td>
		<td align='center'><?php echo ($schedule['es_date']!='') ? date('d-m-Y',strtotime($schedule['es_date'])):'';?></td>
		<td align='center'><?php echo $schedule['es_start_time'];?></td>
		<td align='center'><?php echo $schedule['es_end_time'];?></td>
		<td><a href='#' onclick='openDialog(<?php echo $schedule['es_id']; ?>,"<?php echo ($schedule['es_date']!='') ? date('d-m-Y',strtotime($schedule['es_date'])):'';?>","<?php echo $schedule['es_start_time'];?>","<?php echo $schedule['es_end_time'];?>");'>Edit</a></td>
	</tr>	
	<?php } ?>		
</table>
<?php } ?>

<div id="dialog-edit-status" title="<?php echo $this->translate("Edit Exam Schedule");?>">
	<form name="form_edit_status" id="form_edit_status" method="post" action="/examination/exam-schedule/edit">
		<input type="hidden" name="es_id" id="es_id" value="" />
		<input type='hidden' name='IdSemester' value='<?php echo $this->idSemester; ?>'>
		<input type='hidden' name='IdCollege' value='<?php echo $this->idCollege; ?>'>
		<input type='hidden' name='IdSubject' value='<?php echo $this->idSubject; ?>'>
		<input type='hidden' name='ec_id' value='<?php echo $this->ec_id; ?>'>
		
	<table>
		<tr>
			<td><?php echo $this->translate("Date");?></td>
			<td>:</td>
			<td><input type='text' name='es_date' id='es_date' class='datepicker' value=''></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Start Time");?></td>
			<td>:</td>
			<td><input type='text' name='es_start_time' id='es_start_time' class='timepicker' value=''></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("End Time");?></td>
			<td>:</td>
			<td><input type='text'  name='es_end_time' id='es_end_time' class='timepicker' value=''></td>
		</tr>
	</table>
	</form>
</div>

