<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>	
		    <th rowspan=2><?php echo $this->translate("No"); ?></th>
		    <th rowspan=2><?php echo $this->translate("Nama"); ?></th>	 	
			<th colspan=3><?php echo $this->translate("Program Asal"); ?></th>	
			<th colspan=3><?php echo $this->translate("Program yang dimohon"); ?></th>
			<th rowspan=2><?php echo $this->translate("Tanggal Permohonan"); ?></th>	
				
				
		</tr>
		<tr>			    	  		
			<th><?php echo $this->translate("Program"); ?></th>	
			<th><?php echo $this->translate("Jenis Pendaftaran"); ?></th>
			<th><?php echo $this->translate("Jumlah Terbayar (IDR)"); ?></th>
			<th><?php echo $this->translate("Program"); ?></th>	
			<th><?php echo $this->translate("Jenis Pendaftaran"); ?></th>
			<th><?php echo $this->translate("Jumlah di Transfer (IDR)"); ?></th>	
		</tr>
		<?php 
		if(isset($this->list)){
			$invoiceMainDb = new Studentfinance_Model_DbTable_InvoiceMain();
			$advancePaymentDb = new Studentfinance_Model_DbTable_AdvancePayment();
			
			$i=1;
			foreach($this->list as $info){		

					$applicantProgramDb = new App_Model_Application_DbTable_ApplicantProgram();
					list($txn_data_from,$program_from) = $applicantProgramDb->getChangeProgram($info["acp_trans_id_from"]);
					list($txn_data_to,$program_to) = $applicantProgramDb->getChangeProgram($info["acp_trans_id_to"]);
					
		?>
		<tr <?php echo $i%2==0?"class='shade'":""; ?>>
			<td><?php echo $i?></td>	
			<td><?php echo $info["appl_fname"].' '.$info["appl_mname"].' '.$info["appl_lname"];?></td>
			<td><?php echo '('.$program_from["ProgramCode"].') '.$program_from["ArabicName"]; ?></td>	
			<td>
			<?php
				if($txn_data_from["at_appl_type"]==1 ){
					echo $this->translate("USM");}
				else{
					echo $this->translate("PSSB (Raport)");
				}
				
				echo "<br /><small>(".$txn_data_from['at_pes_id'].")</small>";
			?>
			</td>
			<td><?php echo  number_format( $invoiceMainDb->getTotalPaidInvoiceAmount($txn_data_from['at_pes_id']), 2, '.', ','); ?></td>	
			<td><?php echo '('.$program_to["ProgramCode"].') '.$program_to["ArabicName"]; ?></td>	
			<td>
			<?php
				
				if($txn_data_to["at_appl_type"]==1 ){
					echo $this->translate("USM");}
				else{
					echo $this->translate("PSSB (Raport)");
				}
				
				echo "<br /><small>(".$txn_data_to['at_pes_id'].")</small>";
			?>
			</td>
			<td><?php echo number_format(  $advancePaymentDb->getSumAvdPayment($txn_data_from['at_pes_id']) , 2, '.', ','); ?></td>	
			<td align="center"><?php echo date("d-m-Y",strtotime($info["acp_createddt"])); ?></td>	
							
		</tr>
		<?php $i++;} }else{?>
		<tr>
			<td colspan="7"><?php echo $this->translate("There is NO Change Program application.");?></td>
		</tr>
		<?php } ?>
	</table>

<!--

<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
		<tr>	
		    <th rowspan=2><?php echo $this->translate("No"); ?></th>
		    <th rowspan=2><?php echo $this->translate("Nama"); ?></th>	 	
			<th colspan=2><?php echo $this->translate("Program Asal"); ?></th>	
			<th colspan=2><?php echo $this->translate("Program yang dimohon"); ?></th>
			<th rowspan=2><?php echo $this->translate("Tanggal Permohonan"); ?></th>	
				
				
		</tr>
		<tr>			    	  		
			<th><?php echo $this->translate("Program"); ?></th>	
			<th><?php echo $this->translate("Jenis Pendaftaran"); ?></th>
			<th><?php echo $this->translate("Program"); ?></th>	
			<th><?php echo $this->translate("Jenis Pendaftaran"); ?></th>	
		</tr>
		<?php 
		if(isset($this->list)){
			$i=1;
			foreach($this->list as $info){
				
					$applicantProgramDb = new App_Model_Application_DbTable_ApplicantProgram();
					list($txn_data_from,$program_from) = $applicantProgramDb->getChangeProgram($info["acp_trans_id_from"]);
					list($txn_data_to,$program_to) = $applicantProgramDb->getChangeProgram($info["acp_trans_id_to"]);
		?>
		<tr <?php echo $i%2==0?"class='shade'":""; ?>>
			<td><?php echo $i?></td>	
			<td><?php echo $info["appl_fname"].' '.$info["appl_mname"].' '.$info["appl_lname"];?></td>
			<td><?php echo '('.$program_from["ProgramCode"].') '.$program_from["ArabicName"]; ?></td>	
			<td><?php 			
				if($txn_data_from["at_appl_type"]==1 ){
					echo $this->translate("USM");}
				else{
					echo $this->translate("PSSB (Raport)");
				}?></td>	
			<td><?php echo '('.$program_to["ProgramCode"].') '.$program_to["ArabicName"]; ?></td>	
			<td><?php 			
				if($txn_data_to["at_appl_type"]==1 ){
					echo $this->translate("USM");}
				else{
					echo $this->translate("PSSB (Raport)");
				}?></td>	
			<td align="center"><?php echo date("d-m-Y",strtotime($info["acp_createddt"])); ?></td>	
							
		</tr>
		<?php } }else{?>
		<tr>
			<td colspan="7"><?php echo $this->translate("There is NO Change Program application.");?></td>
		</tr>
		<?php } ?>
	</table>
	
--></div>