<script type="text/javascript">
</script>

<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li class="divider"></li>
            <li>
                <a href="#" >
		<span class='info'></span>
		<?php //echo $this->translate("Info");?>
		</a>
            </li>-->
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->title; ?></legend>
    <form id='search' method="post">
        <dl class="zend_form">
            <dt><?php echo $this->translate("Program");?></dt>
            <dd><?php echo $this->eligibleSearchForm->IdProgram;?></dd>
            <dt><?php echo $this->translate("Eligible Status");?></dt>
            <dd><?php echo $this->eligibleSearchForm->status;?></dd>
            <dd align="center" colspan="4">
                <?php echo $this->eligibleSearchForm->Search;?>
                <?php echo $this->eligibleSearchForm->Clear;?>
            </dd>
        </dl>
    </form>
</fieldset>
<br>
<fieldset>
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Email");?></th>
        <th><?php echo $this->translate("Program");?></th>
        <th><?php echo $this->translate("Qualification");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Date Applied");?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
    <?php foreach ($this->paginator as $EligibleList): ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <td><?php echo $EligibleList['email']; ?></td>
        <td align="center"><?php echo $EligibleList['ProgramCode']; ?></td>
        <td><?php echo $EligibleList['QualificationLevel']; ?></td>
        <td align="center"><?php echo ($EligibleList['status']==0 ? 'No':'Yes'); ?></td>
        <td align="center"><?php echo $EligibleList['create_date']; ?></td>
    </tr>
    <?php endforeach; ?>
    <?php endif; ?> 
    <!--<tr>
        <td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding', '/partials/my_pagination_control.phtml'); ?></div></td>
    </tr>-->
</table>
<div class="pagination">
<?php 
    echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>
</fieldset>

