<div id="searchDiv">
	<fieldset>
		<legend>
			<?php echo $this->translate("Program Check List Name Search");?>
		</legend>
		<!--  search -->
		<div class="search">
		<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/application/programchecklist/index/search/1" method="post" name="form1" id="form1">
		<script type="dojo/method" event="onSubmit">
  			if (this.validate()) {
				return true;
			} else {
				return false;
			}
		</script>
		
		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Program Name");?></td>
				<td><?php echo $this->lobjform->field2;?></td>
				<td><?php echo $this->translate("Short Name");?></td>
				<td><?php echo $this->lobjform->field3;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate($this->defaultlanguage);?></td>
				<td><?php echo $this->lobjform->field4;?></td>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjform->field7;?></td>
			</tr>
			<tr>
				<td align="center" colspan="4">
					<?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
			</tr>
		</table>
		</form>
		</div>
		<!--  /search -->
	</fieldset>
	
	<br />
	<fieldset>
		<table class="table" width="100%">
			<tr>
				<th><?php echo $this->translate("Program Name");?></th>
				<th><?php echo $this->translate("Short Name");?></th>
				<!-- <th><?php echo $this->translate($this->defaultlanguage) ;?></th> -->
			</tr>
			<?php if (count($this->paginator)): 
				foreach ($this->paginator as $lobjProgramList ): ?>
				<tr>
					<td><a href="<?php echo $this->baseUrl();?>/application/programchecklist/programchecklist/id/<?php echo $this->escape($lobjProgramList['IdProgram']);?>"><?php echo $this->escape($lobjProgramList['ProgramCode'].'-'.($this->locale=='ar_YE'?$lobjProgramList['ArabicName']:$lobjProgramList['ProgramName']));?></a></td>
					<td><?php print_r($this->escape($lobjProgramList['ShortName']));?></td>
					<!-- <td><?php print_r($this->escape($lobjProgramList['ArabicName']));?></td> -->
				</tr>
			<?php endforeach;
			endif; ?>
			<tr>
				<td colspan="4" class="opt">
					<div class="pagination">
						<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
