<script type="text/javascript">
dojo.addOnLoad(function(){
<?php if ( $this->result['UploadType'] == '' ) { ?>
	dijit.byId('UploadType').set('value','');
	dijit.byId('UploadType').set('placeHolder','<?php echo $this->translate('Select')?>');
<?php } ?>
});

function confirmDelete(id,cheklistId){
	   var r = confirm("Are you sure to delete this Activity");
	   if(r == true){
	    var url = '<?php echo $this->baseUrl();?>'+'/application/programchecklist/programchecklistdelete/id/'+id+'/checklistid/'+cheklistId;
	    window.location = url;
	   }
	 }
function alreadylisted(){
	alert("You can not DELETE this Checklist, it is in use for an applicant verification!!!");
 }

</script>
<fieldset>
	<legend>
		<?php echo $this->translate("Program Check List");?>
	</legend>
	<form dojoType="dijit.form.Form" id="myform" name="myform"
		method="post" action="">
		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
		<?php echo $this->lobjProgramchecklistform->UpdDate;?>
		<?php echo $this->lobjProgramchecklistform->UpdUser;?>
		<?php echo $this->lobjProgramchecklistform->IdProgram;?>
		<table class="table" border="0" width="100%" cellpadding="5"
			cellspacing="1">
			<tr>
				<th colspan="4"><?php echo $this->translate("Program Check List Details");?>
				</th>
			</tr>
			<tr>
				<td><?php echo $this->translate("Program Name");?></td>
				<td><?php echo $this->lobjProgramchecklistform->ProgramName;?></td>
				</tr>
				<td><?php echo $this->translate("Check List Name");?><span
					class="reqMark">*</span></td>
				<td><?php echo $this->lobjProgramchecklistform->IdCheckList;?> <?php echo $this->lobjProgramchecklistform->CheckListName;?>
				</td>
				<td><?php echo $this->translate("Description");?></td>
				<td><?php echo $this->lobjProgramchecklistform->Description;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Priority");?><span class="reqMark">*</span>
				</td>
				<td><?php echo $this->lobjProgramchecklistform->Priority;?></td>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjProgramchecklistform->Active;?></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<!--<td><?php //echo $this->translate("Placement Test");?>
				</td>
				<td><?php //echo $this->lobjProgramchecklistform->AddPlacementTest;?>
				</td>-->

				<td><?php echo $this->translate("Checklist Type");?>
				</td>
				<td><?php echo $this->lobjProgramchecklistform->ChecklistType;?>
				</td>



				<td><?php echo $this->translate("Mandatory");?></td>
				<td><?php echo $this->lobjProgramchecklistform->Mandatory;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Upload Document");?>
				</td>
				<td><?php echo $this->lobjProgramchecklistform->Upload;?>
				</td>

				<td><?php echo $this->translate("Upload Document Type");?></td>
				<td><?php echo $this->lobjProgramchecklistform->UploadType;?></td>
			</tr>
		</table>

		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<td colspan="4" align="right"><?php echo $this->lobjProgramchecklistform->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate("Back"); ?>"
					onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'programchecklist', 'action'=>'index'),'default',true);?>';" />
				</td>
			</tr>
		</table>
	</form>
</fieldset>

<br />
<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Checklist Name");?></th>
			<th><?php echo $this->translate("Program Name");?></th>
			<th><?php echo $this->translate("Description");?></th>
			<th><?php echo $this->translate("Checklist Type");?></th>
			<th><?php echo $this->translate("Active");?></th>
			<th><?php echo $this->translate("Priority");?></th>
			<th><?php echo $this->translate("Delete");?></th>
		</tr>
		<?php if (count($this->paginator)):
				foreach ($this->paginator as $lobjProgramList ): ?>
		<tr>
			<td><a
				href="<?php echo $this->baseUrl();?>/application/programchecklist/programchecklistedit/id/<?php echo $this->escape($lobjProgramList['IdProgram']);?>/IdCheckList/<?php echo $this->escape($lobjProgramList['IdCheckList']);?>">
					<?php echo $this->escape($lobjProgramList['CheckListName']);?>
			</a>
			</td>
			<td><?php print_r($this->escape($lobjProgramList['ProgramCode'].' - '.$lobjProgramList['ProgramName']));?></td>
			<td><?php print_r($this->escape($lobjProgramList['Description']));?></td>
			<td><?php print_r($this->escape($lobjProgramList['DefinitionCode']));?></td>
			<td><?php print_r($this->escape($lobjProgramList['Active']));?></td>
			<td><?php print_r($this->escape($lobjProgramList['Priority']));?></td>
			<?php if(isset($lobjProgramList['IdVarifiedProgramChecklist']) && $lobjProgramList['IdVarifiedProgramChecklist']!= ''){?>
			<td><a onclick="alreadylisted()"><img border="0" width="16"
					height="16" src="<?php echo $this->baseUrl();?>/images/delete.png">
			</a>
			</td>
			<?php }else{?>
			<td><a
				onclick="confirmDelete(<?php echo $this->escape($lobjProgramList['IdCheckList']);?>,<?php echo $this->escape($lobjProgramList['IdProgram']);?>); return false;"
				href="#"> <img border="0" width="16" height="16"
					src="<?php echo $this->baseUrl();?>/images/delete.png">
			</a>
			</td>
			<?php }?>
		</tr>
		<?php endforeach;
			endif; ?>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjPaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>
</fieldset>
