<script type="text/javascript">
    var batchArray  = new Array();
    var rowid = 1 + <?php echo count($this->course); ?>;
    
    <?php
    /*if ($this->course){
    foreach ($this->course as $courseLoop){
    ?>
    //batchArray.push(<?php echo $courseLoop['apc_courseid']; ?>);
    <?php
    }
    }*/
    ?>
    
    $(function(){
        if (<?php echo $this->course['apc_city']; ?> == 99){
            $('#cityothers').show();
            //$('#cityothers').value(<?php ///echo $this->course['apc_city']; ?>);
        }
    });
    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getCourse(){
        var programId = $('#Program').val();
        var schemeId = $('#ProgramScheme').val();
        var intakeId = $('#intakeId').val();
        var semesterId = <?php echo $this->appApList['apa_semesterid']; ?>;
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'get-course'),"default",true);?>/programid/"+programId+"/schemeid/"+schemeId+"/intakeId/"+intakeId+"/semesterId/"+semesterId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('Course');
            },
            complete: function() {
		hideLoading('Course');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
            });
            $('#Course').html(content);
        })
        .fail(function() {
            alert("error load subject/course"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function insertAppRow(){
        //get value
        var CourseId = $('#Course').val();
        var CourseName = $('#Course option:selected').text();
        var CreditHours = $('#credithours').val();
        var Grade = $('#grade').val();
        var Remarks = $('#Remarks').val();
        
        var flag = true;
        
        if (CourseId == '' || CourseName == 'undefined'){
            flag = false
        }
        /*if (Remarks == '' || Remarks == 'undefined'){
            flag = false
        }*/
        
        //if validate failed
        if (flag == false){
            alert('Please field all required field!');
            return false;
        }else{ //validate pass
            batchArray.push(CourseId);
            if(arrHasDupes(batchArray)){ //check duplicate entry
                //batchArray = batchArray.unique();
                alert("Duplicate Entry of Course");
                return false;
            }else{
                    var trow=document.getElementById('appTable').insertRow(rowid);
                    var tcol1=trow.insertCell(0);
                    var tcol2=trow.insertCell(1);
                    var tcol3=trow.insertCell(2);
                    var tcol4=trow.insertCell(3);
                    var tcol5=trow.insertCell(4);
                    
                    tcol2.align="center";
                    tcol3.align="center";
                    tcol5.align="center";

                    tcol1.innerHTML="<input type='hidden' value='"+CourseId+"' name=course["+CourseId+"]>"+CourseName;
                    tcol2.innerHTML="<input type='hidden' value='"+CreditHours+"' name=credithours["+CourseId+"]>"+CreditHours+"<br/>";
                    tcol3.innerHTML="<input type='hidden' value='"+Grade+"' name=grade["+CourseId+"]>"+Grade;
                    tcol4.innerHTML="<input type='hidden' value='"+Remarks+"' name=remarks["+CourseId+"]>"+Remarks;
                    tcol5.innerHTML="<a href='javascript:void(0);' onClick='deleteRow(this, 0); return false;'><?php echo $this->translate('Delete'); ?></a>";
                    rowid++;
            }
        }
    }
    
    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }
    
    function deleteRow(r, id){
        var ret = confirm("Are you sure to delete");
        if(ret){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            document.getElementById('appTable').deleteRow(i);
        }
        
        if (id!=0){
            $("#deleteDiv").append('<br/><input type="hidden" value="'+id+'" id="deleteColVal" name="deleteColVal[]">');
        }
    }
    
    function courseInfo(courseId){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'get-course-info'),"default",true);?>/courseId/"+courseId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json'
        })
        .done(function(data) {
            $('#credithours').val(data.CreditHours);
        })
        .fail(function() {
            alert("error load course info"); 
        });
    }

    function trigger(val){

    	if(val==2){        
        		
			$('#ctform').attr('action',"<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'save-exam-reg'),'default',true);?>");
			$('#ctform').submit();
			
    	}else{
        	
    		validateForm();    		
    		    		
    	}
    }

    
    function validateForm(){
        var ApplicationID = $('#ApplicationID').val();
        var Semester = $('#Semester').val();
        var AppliedBy = $('#AppliedBy').val();
        var AppliedDate = $('#AppliedDate').val();
        var AppliedStatus = $('#AppliedStatus').val();
        var Type = $('#Type').val();
        var Course = $('#Course').val();
        var Program = $('#Program').val();
        var ProgramScheme = $('#ProgramScheme').val();
        var Country = $('#ExamCenterCountry').val();
        var City = $('#ExamCenterCity').val();
        var CourseSection = $('#CourseSection').val();
        
        var flag=true;
        
        if (Program == '' || Program == 'undefined'){
            flag = false;
        }
        if (ProgramScheme == '' || ProgramScheme == 'undefined'){
            flag = false;
        }
        if (Type == '' || Type == 'undefined'){
            flag = false;
        }
        if (Course == '' || Course == 'undefined'){
            flag = false;
        }
        if (ApplicationID == '' || ApplicationID == 'undefined'){
            flag = false;
        }
        if (Semester == '' || Semester == 'undefined'){
            flag = false;
        }
        if (AppliedBy == '' || AppliedBy == 'undefined'){
            flag = false;
        }
        if (AppliedDate == '' || AppliedDate == 'undefined'){
            flag = false;
        }
        if (AppliedStatus == '' || AppliedStatus == 'undefined'){
            flag = false;
        }
        /*if (Country == '' || Country == 'undefined'){
            flag = false;
        }
        if (City == '' || City == 'undefined'){
            flag = false;
        }*/
        if ($('input[name^="itemreg"]:checked').length == 0 || $('input[name^="itemreg"]:checked').length == 'undefined'){
            flag = false;
        }
        
        if (CourseSection == '' || CourseSection == 'undefined'){
            flag = false;
        }
        
        if (flag == false){
            alert('Please field all required field!');
            return false;
        }else{
        	$('#ctform').submit();
        }
    }
    
    function getCourseSection(){
        var courseid = $('#Course').val();
        var semesterid = $('#Semester').val();
        var programid = $('#Program').val();
        var programschemeid = $('#ProgramScheme').val();
        
        if (courseid != '' && semesterid != '' && programid != '' && programschemeid != ''){
            var url = "<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'get-course-section'),"default",true);?>/courseid/"+courseid+"/semesterid/"+semesterid+"/programid/"+programid+"/programschemeid/"+programschemeid;
            var data_dropdown = {};

            $.ajax({
                type: "POST",
                url: url,
                data: data_dropdown,
                dataType: 'json',
                beforeSend: function() {
                    showLoading('CourseSection');
                },
                complete: function() {
                    hideLoading('CourseSection');
                }
            })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){    
                    if (data[index].quota==true){
                        var full = '';
                        var disabled = '';
                    }else{
                        var disabled = 'disabled=""';
                        var full = '(FULL)';
                    }
                    
                    content += '<option label="'+data[index].GroupName+' '+full+'" value="'+data[index].IdCourseTaggingGroup+'" '+disabled+'>'+data[index].GroupName+' '+full+'</option>';
                });
                $('#CourseSection').html(content);
            })
            .fail(function() {
                alert("error load course section"); 
            });
        }
    }
    
    function getExamCenterCity(countryid){
        
        //var url = "<?php //echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'get-exam-center-city'),"default",true);?>/countryid/"+countryid;
        var url = "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-city'),'default',true);?>/idCountry/"+countryid;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('ExamCenterCity');
            },
            complete: function() {
                hideLoading('ExamCenterCity');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){    
                content += '<option label="'+data[index].CityName+'" value="'+data[index].idCity+'" >'+data[index].CityName+'</option>';
            });
            content += '<option label="Others" value="99">Others</option>';
            $('#ExamCenterCity').html(content);
        })
        .fail(function() {
            alert("error load exam center city"); 
        });
    }
    
    function cityOthers(value){
        if (value == 99){
            $('#cityothers').show(); 
        }else{
            $('#cityothers').hide(); 
        }
    }
    
    function getItemReg(){
        var programid = $('#Program').val();
        var schemeid = $('#ProgramScheme').val();
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'get-item-registration'),"default",true);?>/programid/"+programid+"/schemeid/"+schemeid;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('item-reg');
            },
            complete: function() {
		hideLoading('item-reg');
            }
        })
        .done(function(data) {
            var content = '';
            $.each(data,function(index){                    
                content += '<input type="checkbox" name="itemreg[]" value="'+data[index].item_id+'"> '+data[index].itemName+'<br/>';
            });
            $('#item-reg').html(content);
        })
        .fail(function() {
            alert("error load item registration"); 
        });
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'index'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->title ?></legend>
    <form method="post" id="ctform" name='ctform' enctype="multipart/form-data" action=''>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Student Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Student ID/Name'); ?></td>
                <td><?php echo $this->appApList['registrationId'].' - '.$this->appApList['appl_fname'].' '.$this->appApList['appl_lname']; ?></td>
                <td><?php echo $this->translate('Profile Status'); ?></td>
                <td><?php echo $this->appApList['StatusName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID Type'); ?></td>
                <td><?php echo $this->appApList['IdTypeName']; ?></td>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->appApList['IntakeName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID No'); ?></td>
                <td><?php echo $this->appApList['appl_idnumber']; ?></td>
                <td><?php echo $this->translate('Branch'); ?></td>
                <td><?php echo $this->appApList['BranchName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->appApList['ProgramName']; ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->appApList['mop'].' '.$this->appApList['mos'].' '.$this->appApList['pt']; ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Contact Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5"><?php echo $this->translate('Address'); ?></td>
                <td rowspan="5"><?php echo $this->address; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Home)'); ?></td>
                <td><?php echo $this->appApList['appl_phone_home']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Mobile)'); ?></td>
                <td><?php echo $this->appApList['appl_phone_mobile']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Office)'); ?></td>
                <td><?php echo $this->appApList['appl_phone_office']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Email'); ?></td>
                <td><?php echo $this->appApList['appl_email']; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Add Application'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Application ID'); ?></td>
                <td><?php echo $this->appApList['apa_appid']; ?></td>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->appApList['SemesterName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Applied By'); ?></td>
                <td><?php echo $this->appApList['appliedName']; ?></td>
                <td><?php echo $this->translate('Application Date'); ?></td>
                <td><?php echo date('d-m-Y', strtotime($this->appApList['apa_applieddate'])); ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application Status'); ?></td>
                <td><?php echo $this->appApList['AppStatusName']; ?></td>
                <td><?php echo $this->translate('Audit Paper Type'); ?></td>
                <td><?php echo $this->appApList['ApaTypeName']; ?></td>
            </tr>
        </tbody>
        <?php
        if ($this->appApList['apa_status']!=823){
        ?>
        <script type="text/javascript">
            $(function(){
                $('#Course').attr('disabled', 'disabled');
                $('#Remarks').attr('disabled', 'disabled');
                $('#Program').attr('disabled', 'disabled');
                $('#ProgramScheme').attr('disabled', 'disabled');
                $('#CourseSection').attr('disabled', 'disabled');
               // $('#ExamCenterCountry').attr('disabled', 'disabled');
               // $('#ExamCenterCity').attr('disabled', 'disabled');
               // $('#ExamCenterCityOthers').attr('disabled', 'disabled');
            });
        </script>
        <?php
        }
        ?>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Add Course Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->Program; ?></td>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Subject/Course'); ?><span class="reqMark">*</span></td>
                <td>
                    <?php echo $this->form->Course; ?>
                    <input type="hidden" value="" name="credithours" id="credithours">
                    <input type="hidden" value="U" name="grade" id="grade">
                    <input type="hidden" value="" name="studRegId" id="studRegId">
                    <input type="hidden" value="" name="programId" id="programId">
                    <input type="hidden" value="" name="applicationId" id="applicationId">
                    <input type="hidden" value="" name="landscapeId" id="landscapeId">
                    <input type="hidden" value="<?php echo $this->appApList['IdIntake']; ?>" name="intakeId" id="intakeId">
                </td>
                <td><?php echo $this->translate('Remarks'); ?></td>
                <td><?php echo $this->form->Remarks; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Course Section'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Course Section'); ?><span class="reqMark">*</span></td>
                <td><?php echo $this->form->CourseSection; ?></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        
        <?php if($this->appApList['apa_type']==858){?>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Exam Center'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Country'); ?></td>
                <td><?php echo $this->form->ExamCenterCountry; ?></td>
                <td><?php echo $this->translate('City'); ?></td>
                <td>
                    <?php echo $this->form->ExamCenterCity; ?>
                    <br/>
                    <div id="cityothers" style="display: none;">
                        <?php echo $this->form->ExamCenterCityOthers; ?>
                    </div>
                </td>
            </tr>
        </tbody>
        <?php } ?>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Item Regisration'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Item Registration') ?><span class="reqMark">*</span></td>
                <td>
                    <div id="item-reg">
                        <?php
                        if ($this->itemreg){
                       		foreach ($this->itemreg as $itemregLoop){       

                       			if ($this->appApList['apa_status']==823){
                       				?><input type="checkbox" name="itemreg[]" value="<?php echo $itemregLoop['item_id']; ?>" <?php echo in_array($itemregLoop['item_id'], explode('|', $this->course['apc_itemreg'])) ? 'checked=""':''; ?>><?php echo $itemregLoop['itemName']; ?><br/><?php 
                       			}else{
                       				if( in_array($itemregLoop['item_id'], explode('|', $this->course['apc_itemreg']) ) ){
	                        			echo $itemregLoop['itemName'].'<br>';
	                        		} 
                       			}
	                        	                       	
                        ?>
                        	
                        <?php
                        	}
                        }
                        ?>
                        
                        <?php 
                        // if ($this->itemreg){
                         	  //	foreach ($this->itemreg as $itemregLoop){
                        ?>
                         	<!-- <input type="checkbox" name="itemreg[]" value="<?php echo $itemregLoop['item_id']; ?>" <?php echo in_array($itemregLoop['item_id'], explode('|', $this->course['apc_itemreg'])) ? 'checked=""':''; ?>><?php echo $itemregLoop['itemName']; ?><br/> -->
                       <?php   	
                         	//	}
                        // }
                        ?>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br/>
     <input type='hidden' value='<?php echo $this->appApList['apa_id']; ?>' name='apa_id' id='apa_id'>
    <input type='hidden' value='<?php echo $this->course['apc_id']; ?>' name='apc_id' id='apc_id'>
    <input type='hidden' value='<?php echo $this->exam_reg['er_id']; ?>' name='er_id' id='er_id'>
    <?php
    	if ($this->appApList['apa_status']==823){
    ?>
    	<div class="form-opt">
        	<button type="button" name="submit_app" onclick="trigger(1);"><?php echo $this->translate('Save'); ?></button>
    	</div>
    <?php
    	}elseif($this->appApList['apa_status']==825 && $this->appApList['apa_type']==858){
    ?>
     	<div class="form-opt">
        	<button type="button" name="submit_app" onclick="trigger(2);"><?php echo $this->translate('Save'); ?></button>
    	</div>
    <?php } ?>
    <!-- use for delete -->
    <div id="deleteDiv"></div>
    </form>
</fieldset>