<script type="text/javascript">
    
    $(function() {
        $('#DateFrom').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>)
        });

        $('#DateTo').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>)
        });
    });
    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function cancelApp(id){
        if(confirm('Are you sure to delete this application ?')){
            window.location="<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'cancelauditpaperapplication'),'default',true);?>/apaId/"+id;
        }else{
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'auditpaperapplication'),'default',true);?>';" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Program'); ?></td>
                <td><?php echo $this->form->Program; ?></td>
                <td><?php echo $this->translate('Program Scheme'); ?></td>
                <td><?php echo $this->form->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->form->Semester; ?></td>
                <td><?php echo $this->translate('Application Status'); ?></td>
                <td><?php echo $this->form->AppStatus; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->StudentName; ?></td>
                <td><?php echo $this->translate('Student Category'); ?></td>
                <td><?php echo $this->form->StudentCategory; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Type'); ?></td>
                <td><?php echo $this->form->AppType; ?></td>
                <td><?php echo $this->translate('Subject'); ?></td>
                <td><?php echo $this->form->course; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->StudentId; ?></td>
                <td><?php echo $this->translate('Application ID'); ?></td>
                <td><?php echo $this->form->ApplicationID; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application Date From'); ?></td>
                <td><?php echo $this->form->DateFrom; ?></td>
                <td><?php echo $this->translate('Application Date To'); ?></td>
                <td><?php echo $this->form->DateTo; ?></td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate('Application Date'); ?></th>
                <th><?php echo $this->translate('Application ID'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Programme'); ?></th>
                <th><?php echo $this->translate('Subject'); ?></th>
                <th><?php echo $this->translate('Name'); ?></th>
                <th><?php echo $this->translate('Semester'); ?></th>
                <th><?php echo $this->translate('Type'); ?></th>
                <th><?php echo $this->translate('Application Status'); ?></th>
                <th><?php echo $this->translate('Source'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if ($this->paginator):
            foreach ($this->paginator as $auditPaperAppLoop):
            ?>
            <tr>
                <td align="center"><?php echo date('d-m-Y', strtotime($auditPaperAppLoop['apa_applieddate'])); ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['apa_appid']; ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['registrationId']; ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['ProgramName']; ?></td>
                <td><?php echo $auditPaperAppLoop['subject']; ?></td>
                <td><?php echo $auditPaperAppLoop['appl_fname'].' '.$auditPaperAppLoop['appl_lname']; ?></td>
                <td><?php echo $auditPaperAppLoop['semesterName']; ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['apaTypeName']; ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['StatusName']; ?></td>
                <td align="center"><?php echo $auditPaperAppLoop['apa_source']; ?></td>
                <td class="options" align="center">
                    <a href="<?php echo $this->url(array('module'=>'records','controller'=>'auditpaper', 'action'=>'editauditpaperapplication', 'apaId'=>$auditPaperAppLoop['apa_id']),'default',true);?>"><?php echo $this->translate('Edit'); ?></a>
                    <?php
                    if ($auditPaperAppLoop['apa_status']==823){
                    ?>
                     | <a href="#" onclick="cancelApp(<?php echo $auditPaperAppLoop['apa_id'] ?>);"><?php echo $this->translate('Cancel'); ?></a>
                    <?php
                    }
                    ?>
                </td>
            </tr>
            <?php
            endforeach;
            endif;
            ?>
        </tbody>
    </table>
    <div class="pagination">
    <?php 
        echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    </div>
</fieldset>