<script type="text/javascript">
dojo.addOnLoad(function(){
	<?php if(count($this->result) == 0){?>
    dijit.byId('ChangeProgramFeeSetup').set('value','');
	dijit.byId('ChangeProgramFeeSetup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChangeProgramChargeable').set('value','');
	dijit.byId('ChangeProgramChargeable').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChangeProgramTrigger').set('value','');
	dijit.byId('ChangeProgramTrigger').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChangeStatusFeeSetup').set('value','');
	dijit.byId('ChangeStatusFeeSetup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChangeStatusChargeable').set('value','');
	dijit.byId('ChangeStatusChargeable').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ChangeStatusTrigger').set('value','');
	dijit.byId('ChangeStatusTrigger').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('CreditTransferFeeSetup').set('value','');
	dijit.byId('CreditTransferFeeSetup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('CreditTransferChargeable').set('value','');
	dijit.byId('CreditTransferChargeable').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('CreditTransferTrigger').set('value','');
	dijit.byId('CreditTransferTrigger').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ResitExamFeeSetup').set('value','');
	dijit.byId('ResitExamFeeSetup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ResitExamChargeable').set('value','');
	dijit.byId('ResitExamChargeable').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('ResitExamTrigger').set('value','');
	dijit.byId('ResitExamTrigger').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('PaperReviewFeeSetup').set('value','');
	dijit.byId('PaperReviewFeeSetup').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('PaperReviewChargeable').set('value','');
	dijit.byId('PaperReviewChargeable').set('placeHolder','<?php echo $this->translate('Select')?>');
	dijit.byId('PaperReviewTrigger').set('value','');
	dijit.byId('PaperReviewTrigger').set('placeHolder','<?php echo $this->translate('Select')?>');
	<?php }?>
});
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		
	</div>
</div>


	<form dojoType="dijit.form.Form" id="myForm" action="" method="post" name="myForm">
		<script type="dojo/method" event="onSubmit">
            if (this.validate()) {
                
            }else {
                return false;
            }
        </script>

		<table class="table" width="100%">
		
			<?php echo $this->lobjFeeStudentActivityForm->IdUniversity?>
			<?php echo $this->lobjFeeStudentActivityForm->UpdDate?>
			<?php echo $this->lobjFeeStudentActivityForm->UpdUser?>
			
			<tr>
				<th><?php echo $this->translate("Activity");?></th>
				<th><?php echo $this->translate("Fee Setup"); ?></th>
				<th><?php echo $this->translate("Chargeable");?></th>
				<th><?php echo $this->translate("Trigger");?></th>

			</tr>

			<tr>
				<td><?php echo $this->translate("Change Program");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeProgramFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeProgramChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeProgramTrigger; ?></td>
			</tr>

			<tr>
				<td><?php echo $this->translate("Change Status Defer");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusTrigger; ?></td>
			</tr>
			
			<tr>
				<td><?php echo $this->translate("Change Status Quit");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusQuitFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusQuitChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ChangeStatusQuitTrigger; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Credit Transfer");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->CreditTransferFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->CreditTransferChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->CreditTransferTrigger; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Re-sit Exam");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ResitExamFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ResitExamChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->ResitExamTrigger; ?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Paper Review");?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->PaperReviewFeeSetup; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->PaperReviewChargeable; ?></td>
				<td><?php echo $this->lobjFeeStudentActivityForm->PaperReviewTrigger; ?></td>
			</tr>
			<tr>
				<td class="opt" colspan="4" align="center"><?php echo $this->lobjFeeStudentActivityForm->Save;?>
				</td>
			</tr>

		</table>
	</form>
