<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Programme Scheme'); ?></th>
        <th><?php echo $this->translate('Subject'); ?></th>
        <th><?php echo $this->translate('Complete Credit Hours') ?></th>
    </tr>
    <?php
    if ($this->list) {
        $no = 0;
        foreach($this->list as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $loop['Name']; ?></td>
                <td align="center"><?php echo $loop['Student_ID']; ?></td>
                <td><?php echo $loop['Programme_Name']; ?></td>
                <td><?php echo $loop['Programme_Scheme']; ?></td>
                <td>
                    <?php
                    if (isset($loop['sublist']) && count($loop['sublist']) > 0) {
                        foreach($loop['sublist'] as $subloop) {
                            echo $subloop['SubCode'].' - '.$subloop['SubjectName'].'<br/>';
                        }
                    }
                    ?>
                </td>
                <td align="center"><?php echo $loop['completech']; ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>