<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="exportList2();">
                    <span class='download'></span>
                    <?php echo $this->translate('Download') ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<?php
$searchbox = !empty($this->formData) ? 0 : 1;
?>
<div id="search_form">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>

<?php if ($this->paginator): ?>
    <h3> <?php echo $this->translate('Progress List'); ?> (<?php echo number_format($this->totalRecord); ?>) </h3>
    <?php echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml'); ?>
<?php endif; ?>


<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th rowspan="2" width="15%"><?php echo $this->translate("Supervisor Name"); ?></th>
        <th rowspan="2" width="5%"><?php echo $this->translate("Programme") ?></th>
        <th rowspan="2" width="15%"><?php echo $this->translate("Student Name") ?></th>
        <th rowspan="2" width="5%"><?php echo $this->translate('Student ID') ?></th>
        <th colspan="4"
            width="5%"><?php echo isset($this->formData['Year']) && $this->formData['Year'] != '' ? $this->translate($this->formData['Year']) : 'All Year' ?></th>
    </tr>

    <?php
    $check_seq = '';
    if ($this->formData):
        $repModel = new Thesis_Model_DbTable_Report();
        $check_seq = $repModel->getSeq($this->formData['IdSemester']);
    endif;
    ?>

        <tr>
            <th width="5%"
                style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 1 ? '' : 'display:none' ?>"><?php echo $this->translate("Jan"); ?></th>
            <th width="5%"
                style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 2 ? '' : 'display:none' ?>"><?php echo $this->translate("May") ?></th>
            <th width="5%"
                style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 3 ? '' : 'display:none' ?>"><?php echo $this->translate("Sept") ?></th>
            <th width="5%" style="<?php echo !$check_seq['sequence'] ? '' : 'display:none' ?>"><?php echo $this->translate("Total") ?></th>
        </tr>

        <?php
        $i = 0;
        if ($this->paginator):
            foreach ($this->paginator as $index => $data):
                ?>
                <tr>
                    <td>
                        <?php echo strtoupper($data['fName']) ?>
                    </td>
                    <td><?php echo $data['ProgramCode'] ?></td>
                    <td><?php echo strtoupper($data['appl_fname']) ?></td>
                    <td><?php echo $data['registrationId'] ?></td>
                    <td align="center" style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 1 ? '' : 'display:none' ?>">
                        <?php
                        if ($data['student_id']) {
                            $repModel = new Thesis_Model_DbTable_Report();
                            $num1 = $repModel->getProgressPerSemesterYear($data['student_id'], $this->formData['IdSemester'], $this->formData['Year'], 1);
                            echo $num1['num'];
                        } else {
                            echo '0';
                        }
                        ?>
                    </td>
                    <td align="center" style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 2 ? '' : 'display:none' ?>">
                        <?php
                        if ($data['student_id']) {
                            $repModel = new Thesis_Model_DbTable_Report();
                            $num2 = $repModel->getProgressPerSemesterYear($data['student_id'], $this->formData['IdSemester'], $this->formData['Year'], 2);
                            echo $num2['num'];
                        } else {
                            echo '0';
                        }
                        ?>
                    </td>
                    <td align="center" style="<?php echo !$check_seq['sequence'] || $check_seq['sequence'] == 3 ? '' : 'display:none' ?>">
                        <?php
                        if ($data['student_id']) {
                            $repModel = new Thesis_Model_DbTable_Report();
                            $num3 = $repModel->getProgressPerSemesterYear($data['student_id'], $this->formData['IdSemester'], $this->formData['Year'], 3);
                            echo $num3['num'];
                        } else {
                            echo '0';
                        }
                        ?>
                    </td>
                    <td align="center" style="<?php echo !$check_seq['sequence'] ? '' : 'display:none' ?>">
                        <?php
                        if ($data['student_id']) {
                            echo $num1['num'] + $num2['num'] + $num3['num'];
                        } else {
                            echo '0';
                        }
                        ?>
                    </td>
                </tr>
                <?php
                $i++;
            endforeach;
        else:
            ?>
            <tr>
                <td colspan="8"><?php echo $this->translate('No record') ?></td>
            </tr>
        <?php endif; ?>

</table>


<?php
if ($this->paginator):
    echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml'); endif;
?>
<style type="text/css">
    .tooltip.reject {
        color: red
    }

    .hideANDseek {
        display: none;
    }
</style>
<script type="text/javascript">
    function searchbox() {
        $('#search_form').toggle();
        return false;
    }

    $(function () {
        $('#approval_date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $('#save').click(function () {
            var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'report', 'action' => 'progress-report'), 'default', true);?>";
            $('#search_form_progress').attr('action', url);
        });
    });


    function exportList2() {
        var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'report', 'action' => 'progress-report-export'), 'default', true);?>";
        $('#search_form_progress').attr('action', url);
        $('#search_form_progress').submit();
    }
</script>