<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'report', 'action' => 'pd-report'), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
<!--        <th>--><?php //echo $this->translate('Programme'); ?><!--</th>-->
<!--        <th>--><?php //echo $this->translate('Programme Scheme'); ?><!--</th>-->
<!--        <th>--><?php //echo $this->translate('Subject'); ?><!--</th>-->
<!--        <th>--><?php //echo $this->translate('Complete Credit Hours') ?><!--</th>-->
    </tr>
    <?php
    if ($this->data) {
        $no = 0;
        foreach($this->data as $loop) {
            $no++;
            ?>
            <tr>
                <td align="center" width="5%"><?php echo $no; ?></td>
                <td>
                    <?php
                    $repModel = new Thesis_Model_DbTable_Report();
                    $get_latest_pd = $repModel->getLatestPdByStudent($loop['IdStudentRegistration']);
                    ?>
                    <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'report', 'action' => 'student-detail','supervisor_id' => $loop['ps_supervisor_id'], 'id' => $get_latest_pd['p_id']), 'default', true); ?>">
                        <?php echo $loop['appl_fname']; ?>
                    </a>
                </td>
                <td align="center">
                    <?php
//                    if($loop['UserStatus'] == 1){
//                    $status = 'Active';
//                    }else{
//                        $status = 'Inactive';
//                    } echo $status;
                    echo $loop['profile_status'];
                    ?></td>
<!--                <td>--><?php //echo $loop['Programme_Name']; ?><!--</td>-->
<!--                <td>--><?php //echo $loop['Programme_Scheme']; ?><!--</td>-->
<!--                <td>-->
<!--                    --><?php
//                    if (isset($loop['sublist']) && count($loop['sublist']) > 0) {
//                        foreach($loop['sublist'] as $subloop) {
//                            echo $subloop['SubCode'].' - '.$subloop['SubjectName'].'<br/>';
//                        }
//                    }
//                    ?>
<!--                </td>-->
<!--                <td align="center">--><?php //echo $loop['completech']; ?><!--</td>-->
            </tr>
            <?php
        }
    }
    ?>
</table>