<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'report', 'action' => 'student-list', 'supervisor_id' => $this->supervisor_id), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<h3 class="info"><?php echo $this->translate('Student Details') ?></h3>
<table width="100%" class="table">
    <tr>
        <th width="15%"><?php echo $this->translate('Student Name') ?></th>
        <td width="35%"><?php echo $this->proposal['student_name'] ?></td>
        <th width="15%"><?php echo $this->translate("Programme") ?></th>
        <td width="35%"><?php echo $this->proposal['ProgramName'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Student ID') ?></th>
        <td><?php echo $this->proposal['appl_username'] ?></td>
        <th><?php echo $this->translate("Branch") ?></th>
        <td><?php echo $this->proposal['BranchName'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Identification No') ?></th>
        <td><?php echo $this->proposal['appl_idnumber'] ?></td>
        <th><?php echo $this->translate('Intake') ?></th>
        <td><?php echo $this->proposal['IntakeDesc'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Email') ?></th>
        <td colspan="3"><?php echo $this->proposal['appl_email'] ?></td>
    </tr>

</table>

<br/>

<h3 class="info"><?php echo $this->translate('Registration  Details') ?></h3>
<table width="100%" class="table">
    <tr>
        <th width="15%"><?php echo $this->translate('Course') ?></th>
        <td width="85%"><?php echo $this->proposal['SubCode'] . ' - ' . $this->proposal['course_name'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Semester') ?></th>
        <td colspan="3"><?php echo $this->proposal['SemesterMainCode'] ?>
            - <?php echo $this->proposal['SemesterMainName'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Research Title') ?></th>
        <td colspan="3"><?php echo $this->proposal['p_title'] ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Main Supervisor') ?></th>
        <?php foreach ($this->supervisors as $sup1) {
            if ($sup1['role_name'] == 'MAIN SUPERVISOR') {
                $name1 = $sup1['supervisor_name'];
            }
        } ?>
        <td colspan="3"><?php echo $name1; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Co Supervisor') ?></th>
        <td colspan="3">
            <?php
            $recNew = array();
            foreach ($this->supervisors as $key => $row) {
                if ($row['role_name'] == 'CO SUPERVISOR') {
                    $recNew[] = $row['supervisor_name'];
                }
            }

            $i = count($recNew);
            $j = 1;

            foreach ($recNew as $values) {

                if($i > 1){
                    echo $j.'. '.$values;
                    echo '<br>';
                }else{
                    echo $values;
                }
                $j++;
            }

            ?>
        </td>
    </tr>
</table>

<br/>

<h3 class="info"><?php echo $this->translate('List of Activities') ?></h3>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th width="50%">Activities</th>
        <th width="20%">Semester Registered</th>
        <th width="20%">Status</th>
<!--        <th width="10%"></th>-->
    </tr>

    <?php foreach ($this->activities as $index => $data):
        ?>
        <tr>
            <td><?php echo $data['DefinitionDesc'] ?></td>
<!--            <td>--><?php //echo format_date_to_view($data['created_date'], 'full') ?><!--</td>-->
            <td><?php echo $data['SemesterMainDefaultLanguage'] ?></td>
            <td><?php
                if ($data['DefinitionCode'] == 'registration') {
                    echo $data['status_description'];
                } elseif ($data['pd_status_name'] == 'applied') {
                    echo 'Pending for Approval';
                } elseif ($data['pd_status_name'] == 'rejected' || $data['dir_status_name'] == 'rejected') {
                    echo 'Rejected';
                } elseif ($data['pd_status_name'] == 'approved' && $data['dir_status_name'] == NULL) {
                    echo 'Pending for Approval';
                } else {
                    echo ($data['dir_status_description']) ? ucwords(strtolower($data['dir_status_description'])) : '<font color="red">Not Registered Yet</font>';
                }

                ?></td>
<!--            <td align="center">-->
<!--                --><?php //if ($data['DefinitionCode'] == 'registration'){ ?>
<!---->
<!--                    <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'activity_id' => $data['rat_type'], 'id' => $data['p_id'], 'student_id' => $this->student_id), 'default', true); ?><!--">-->
<!--                        --><?php //echo 'View'; ?>
<!--                    </a>-->
<!---->
<!--                --><?php //} else {
//
//                if ($this->proposal['status_name'] == 'registered'){
//                if (!$data['p_id']){ ?>
<!--                    <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-activity-add', 'activity_id' => $data['rat_type'], 'id' => $this->id, 'student_id' => $this->student_id), 'default', true); ?><!--"-->
<!--                       onclick="return checkSure()">-->
<!--                        --><?php //echo 'Register'; ?>
<!--                    </a>-->
<!--                --><?php //} else { ?>
<!--                <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'activity_id' => $data['rat_type'], 'id' => $data['p_id'], 'student_id' => $this->student_id), 'default', true); ?><!--">-->
<!--                    --><?php //echo 'View'; ?>
<!--                </a>-->
<!--                <span style='margin-right: 0.3em; display:inline-block;'></span>|-->
<!--                <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'delete-activity', 'activity_id' => $data['rat_type'], 'p_id' => $data['p_id'], 'pid' => $data['pid'], 'student_id' => $this->student_id), 'default', true); ?><!--">-->
<!--                    --><?php //echo 'Delete'; ?>
<!--                </a>-->
<!--            </td>-->
<!--            --><?php
//            }
//            }
//            }
//            ?>
        </tr>


    <?php endforeach; ?>
</table>
<script type="text/javascript">
    function checkSure() {

        if (sure('<?php echo $this->translate('Are you sure you want to register for this activity?')?>') == false) {
            return false;
        }
        return true;
    }

</script>