<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th width="15%"><?php echo $this->translate("Supervisor Name"); ?></th>
        <th width="15%"><?php echo $this->translate("Student Name") ?></th>
        <th width="5%"><?php echo $this->translate('Student ID') ?></th>
        <th width="30%"><?php echo $this->translate('Title') ?></th>
        <th width="5%"><?php echo $this->translate('Program Code') ?></th>
        <th width="5%"><?php echo $this->translate('Semester') ?></th>
<!--        <th width="5%">--><?php //echo $this->translate("Year") ?><!--</th>-->
    </tr>

    <?php
    $i=0;
    if ( count($this->paginator) > 0 ):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td>
                    <?php echo strtoupper($data['fName']) ?>
                </td>
                <td><?php echo strtoupper($data['appl_fname']) ?></td>
                <td><?php echo $data['registrationId'] ?></td>
                <td><?php echo $data['p_title'] ?></td>
                <td><?php echo $data['ProgramCode'] ?></td>
                <td align="center"><?php echo $data['SemesterMainDefaultLanguage'] ?></td>
<!--                <td align="center">--><?php //echo $data['AcademicYear'] ?><!--</td>-->
            </tr>
            <?php
            $i++;
        endforeach ;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No supervisor')?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
