<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	});
	
function checkAll(){
	 nodes = dojo.query('[name=\"studentIds[]\"]');
		if(document.getElementById('stdId').checked == true) {		 
			
			dojo.forEach(nodes,
			    function(node)
			    {					
			        dijit.getEnclosingWidget(node).set("checked",true);
			    }
			);
		}
		else {	
			dojo.forEach(nodes,
				    function(node)
				    {						
				        dijit.getEnclosingWidget(node).set("checked",false);
				    }
				);
		}			 
	}
function validateForm(){
	 var n = document.getElementById("CountRows").value;
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		if(document.getElementById("studentIds"+i).checked) flgs	=	1;
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Invoice');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo $this->translate("Student Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/studentfinance/bulkinvoice/index/search/1" method="POST">
                     <script type="dojo/method" event="onSubmit">
						alert('sdf');
              			  if (this.validate()) {
								return true;
               			 } else {
                 			   return false;
               			 }
					</script>
                         <table width="100%">
                         	 <tr>
			                   <td><?php echo $this->translate("Program");?><span>*</span></td>
			                   <td><?php echo $this->lobjform->field8;?></td>
			                   <td></td>
			                   <td></td>
			                 <tr>
			                   <td><?php echo $this->translate("Student Name");?></td>
			                   <td><?php echo $this->lobjform->field5;?></td>
			                   <td><?php echo $this->translate("I.C No");?></td>
			                   <td><?php echo $this->lobjform->field2;?></td>
				             </tr>
                             <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?><?php echo $this->lobjform->Clear;?>
								</td>							    
                              </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
    <?php if (count($this->paginator)): ?>
	<fieldset>
	  <form action="<?php echo $this->baseUrl();?>/studentfinance/bulkinvoice/newstudentinvoice" method="POST">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
		    	<th><input type="checkbox" name="stdId" id="stdId" dojoType="dijit.form.CheckBox" onClick="checkAll();" ></th>
			  	<th><?php echo $this->translate("Student Name");?><input type="hidden"  name="idProgram" id="idProgram" value="<?php echo $this->idProgram;?>"></th>
		    	<th><?php echo $this->translate("IC No.");?><input type="hidden" name="CountRows" id="CountRows" value="<?php if (count($this->paginator)) echo count($this->paginator); else echo "0";?>"></th>
		    </tr>
	        <?php $cnnt = 1;  ?>
	        <?php foreach ($this->paginator as $lobjstudents): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><input type="checkbox" name="studentIds[]" dojoType="dijit.form.CheckBox" value="<?php echo $this->escape($lobjstudents['IdApplication']);?>" id="studentIds<?php echo $cnnt?>" class="checkClass"> </td>
		       	<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?></td>
	        	<td><?php echo $this->escape($lobjstudents['ICNumber']);?></td>	           
			</tr>
			 <?php $cnnt++; endforeach; ?>	          
			<tr>
	        	<td colspan="8" align="right">  <input type="submit" value="Generate Bill" label="Generate Bill" class="autogenarateButton" dojoType="dijit.form.Button" onClick="return validateForm();"></td>
   			</tr>
		</table>
		 </form>	
	</fieldset>
	<?php endif;  ?>
</body>
</html>