<style type="text/css">
    th {
        text-align: left !important;
    }
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->baseUrl(); ?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('Salutation'); ?></th>
        <td><?php echo $this->profile['salutationname']; ?></td>
        <th><?php echo $this->translate('Name'); ?></th>
        <td><?php echo $this->profile['FullName']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Email'); ?></th>
        <td><?php echo $this->profile['Email']; ?></td>
        <th><?php echo $this->translate('Role'); ?></th>
        <td><?php echo $this->profile['rolename']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Staff ID'); ?></th>
        <td><?php echo $this->profile['StaffId']; ?></td>
        <th><?php echo $this->translate('Staff Type'); ?></th>
        <td><?php echo $this->profile['StaffAcademic']==0 ? 'Academic Staff':'Non-Academic Staff'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Phone'); ?></th>
        <td><?php echo $this->profile['Phone']; ?></td>
        <th><?php echo $this->translate('Mobile'); ?></th>
        <td><?php echo $this->profile['Mobile']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Level'); ?></th>
        <td><?php echo $this->profile['levelname']; ?></td>
        <th></th>
        <td></td>
    </tr>
</table>