<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Scholarship Dependent Weightage"); ?></h2>
</div>
<br />

<form id="myForm" action="" method="post" name="myForm">
    <input type="hidden" name="dependentweight[id]" value="<?php echo $this->dependentweight->id; ?>" >
    <table width="100%" class='table'>
        <tr>
            <td><?php echo $this->translate("Dependent")  ;?></td>
            <td><input type="text" name="dependentweight[from]"  value="<?php echo $this->dependentweight->from; ?>" > to <input type="text" name="dependentweight[to]"  value="<?php echo $this->dependentweight->to; ?>" ></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Weight")  ;?></td>
            <td><input type="text" name="dependentweight[score]"  value="<?php echo $this->dependentweight->score; ?>" ></td>
        </tr>
        <td align="right" colspan="2">
            <input type="submit" name="save">
        </td>
    </table>
</form>