<script type="text/javascript">    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('programscheme');
            },
            complete: function() {
		hideLoading('programscheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#programscheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'report', 'action'=>'print'),'default',true);?>";
	$('#search_form').attr('action',url);
	$('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->studentList) > 0){
            ?>
            <li>
                <a href="#" onclick='print()'>
                <span class='download'></span>
                <?php echo $this->translate("Download");?>
                </a>
            </li>
            <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form">
        <table>
            <tr>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->form->intake; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->form->programscheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Category'); ?></td>
                <td><?php echo $this->form->studentcategory; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Status'); ?></td>
                <td><?php echo $this->form->status; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester Status'); ?></td>
                <td><?php echo $this->form->semesterstatus; ?></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php
    if ($this->studentList){
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
        <thead>
            <tr>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Sal.'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Student Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Marital Status'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Gender'); ?></th>
                <th><?php echo $this->translate('Funding Type'); ?></th>
                <th><?php echo $this->translate('Sponsor'); ?></th>
                <th><?php echo $this->translate('Programme'); ?></th>
                <th><?php echo $this->translate('Programme Majoring'); ?></th>
                <th><?php echo $this->translate('Programme Status'); ?></th>
                <th><?php echo $this->translate('Programme Mode'); ?></th>
                <th><?php echo $this->translate('Programme Type'); ?></th>
                <th><?php echo $this->translate('Semester Intake'); ?></th>
                <th><?php echo $this->translate('Contact No'); ?></th>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Fax'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Mobile No'); ?></th>
                <th><?php echo $this->translate('Email ID'); ?></th>
                <th><?php echo $this->translate("INCEIF's Email ID"); ?></th>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Correspondence Contact No.'); ?></th>
                <th><?php echo $this->translate('Correspondence Fax'); ?></th>
                <th><?php echo $this->translate('Correspondence Mobile No'); ?></th>
                <th><?php echo $this->translate('Probation Count'); ?></th>
                <th><?php echo $this->translate('Race'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Type of Nationality'); ?></th>
                <th><?php echo $this->translate('Nationality'); ?></th>
                <th><?php echo $this->translate('Bumiputera Eligibility'); ?></th>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Permanent Address'); ?></th>
                <th><?php echo $this->translate('Permanent City'); ?></th>
                <th><?php echo $this->translate('Permanent State'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Permanent Country'); ?></th>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Permanent Postcode'); ?></th>
                <th><?php echo $this->translate('Correspondence Address'); ?></th>
                <th><?php echo $this->translate('Correspondence City'); ?></th>
                <th><?php echo $this->translate('Correspondence State'); ?></th>
                <th><?php echo $this->translate('Correspondence Country'); ?></th>
                <th><?php echo $this->translate('Correspondence Postcode'); ?></th>
                <th><?php echo $this->translate('Date of Birth'); ?></th>
                <th><?php echo $this->translate('Age'); ?></th>
                <th><?php echo $this->translate('Idtype'); ?></th>
                <th><?php echo $this->translate('Idnumber'); ?></th>
                <th><?php echo $this->translate('Religion'); ?></th>
                <th><?php echo $this->translate('Industry Name'); ?></th>
                <th><?php echo $this->translate('Years of Experience'); ?></th>
                <th><?php echo $this->translate('Base Plan'); ?></th>
                <th><?php echo $this->translate('Discount Plan'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Scholarship Plan'); ?></th>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('Semester Name'); ?></th>
                <th><?php echo $this->translate('University'); ?></th>
                <th><?php echo $this->translate('Degree'); ?></th>
                <th><?php echo $this->translate('Major/Specialisation'); ?></th>
                <th><?php echo $this->translate('Class'); ?></th>
                <th><?php echo $this->translate('cgpa'); ?></th>
                <th><?php echo $this->translate('Month of Graduation'); ?></th>
                <th><?php echo $this->translate('Year of Graduation'); ?></th>
                <th><?php echo $this->translate('English Proficiency'); ?></th>
                <th><?php echo $this->translate('Date Taken (English Proficiency)'); ?></th>
                <th><?php echo $this->translate('Result for English Proficiency'); ?></th>
                <th><?php echo $this->translate('Highest Level'); ?></th>
                <th><?php echo $this->translate('Employment Status'); ?></th>
                <th><?php echo $this->translate('Company'); ?></th>
                <th><?php echo $this->translate('Company Address'); ?></th>
                <th><?php echo $this->translate('Company Telephone Number'); ?></th>
                <th><?php echo $this->translate('Company Fax Number'); ?></th>
                <th><?php echo $this->translate('Designation'); ?></th>
                <th><?php echo $this->translate('Position'); ?></th>
                <th><?php echo $this->translate('Years of Service'); ?></th>
                <th><?php echo $this->translate('Industry (Company background)'); ?></th>
                <th><?php echo $this->translate('Applied Date'); ?></th>
                <th><?php echo $this->translate('Access'); ?></th>
                <th><?php echo $this->translate('Malaysian Visa'); ?></th>
                <th><?php echo $this->translate('Visa Status'); ?></th>
                <th><?php echo $this->translate('Visa Expiry Date'); ?></th>
                <th><?php echo $this->translate('Financial Support'); ?></th>
                <th><?php echo $this->translate('Health Condition'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Status'); ?></th>
                <th><?php echo $this->translate('Current Semester Status'); ?></th>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('No. of Year Study'); ?></th>
                <th><?php echo $this->translate('No. semester registered'); ?></th>
                <th><?php echo $this->translate('Total Semester Registered'); ?></th>
                <th><?php echo $this->translate('Graduation Year'); ?></th>
                <?php
                }
                ?>
                <th><?php echo $this->translate('Branch'); ?></th>
                <th><?php echo $this->translate('CP'); ?></th>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <th><?php echo $this->translate('CP Student Id'); ?></th>
                <th><?php echo $this->translate('Remarks'); ?></th>
                <?php
                }
                ?>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->studentList as $studentLoop){
            ?>
            <tr>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['salutation']; ?></td>
                <?php
                }
                ?>
                <td><?php echo $studentLoop['appl_fname'].' '.$studentLoop['appl_lname']; ?></td>
                <td><?php echo $studentLoop['registrationId']; ?></td>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['maritalstatus']; ?></td>
                <?php
                }
                ?>
                <td align="center"><?php echo $studentLoop['appl_gender']==1 ? 'Male':'Female'; ?></td>
                <td>
                    <?php
                    if (isset($studentLoop['Sponsorship'])){
                        echo 'Sponsorship';
                    }else if (isset($studentLoop['Scholarship'])){
                        echo 'Scholarship';
                    }else{
                        echo 'Self-funding';
                    }
                    ?>
                </td>
                <td>
                    <?php //echo isset($studentLoop['Sponsorship']) ? $studentLoop['Sponsorship']:'Self-funding'; ?>
                    <?php
                    if (isset($studentLoop['Sponsorship'])){
                        echo $studentLoop['Sponsorship'];
                    }else if (isset($studentLoop['Scholarship'])){
                        echo $studentLoop['Scholarship'];
                    }else{
                        echo 'Self-funding';
                    }
                    ?>
                </td>
                <td><?php echo $studentLoop['programname']; ?></td>
                <td><?php echo $studentLoop['programmajoring']; ?></td>
                <td><?php echo $studentLoop['mos']; ?></td>
                <td><?php echo $studentLoop['mop']; ?></td>
                <td><?php echo $studentLoop['pt']; ?></td>
                <td><?php echo $studentLoop['intakename']; ?></td>
                <td><?php echo $studentLoop['appl_phone_home']; ?></td>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['appl_fax']; ?></td>
                <?php
                }
                ?>
                <td><?php echo $studentLoop['appl_phone_mobile']; ?></td>
                <td><?php echo $studentLoop['appl_email_personal']; ?></td>
                <td><?php echo $studentLoop['appl_email']; ?></td>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['appl_cphone_home']; ?></td>
                <td><?php echo $studentLoop['appl_cfax']; ?></td>
                <td><?php echo $studentLoop['appl_cphone_mobile']; ?></td>
                <td><?php  ?></td>
                <td><?php echo $studentLoop['race']; ?></td>
                <?php
                }
                ?>
                <td>
                    <?php
                    $dModel = new App_Model_General_DbTable_Definationms();

                    if ($studentLoop['appl_category'] == 579){
                        $dId = 547;
                    } else if ($studentLoop['appl_category'] == 580){
                        $dId = 548;
                    } else {
                        $dId = 549;
                    }

                    $getton = $dModel->getData($dId);
                    echo $getton['DefinitionDesc'];
                    ?>
                </td>
                <td><?php echo $studentLoop['nationality']; ?></td>
                <td><?php echo $studentLoop['bumiputera']; ?></td>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['appl_address1'].' '.$studentLoop['appl_address2'].' '.$studentLoop['appl_address3']; ?></td>
                <td><?php echo $studentLoop['appl_city']==99 ? $studentLoop['appl_city_others']:$studentLoop['permanentcity']; ?></td>
                <td><?php echo $studentLoop['appl_state']==99 ? $studentLoop['appl_state_others']:$studentLoop['permanentstate']; ?></td>
                <?php
                }
                ?>
                <td><?php echo $studentLoop['permanentcountry']; ?></td>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['appl_postcode'] ?></td>
                <td><?php echo $studentLoop['appl_caddress1'].' '.$studentLoop['appl_caddress2'].' '.$studentLoop['appl_caddress3']; ?></td>
                <td><?php echo $studentLoop['appl_ccity']==99 ? $studentLoop['appl_ccity_others']:$studentLoop['correspondencecity']; ?></td>
                <td><?php echo $studentLoop['appl_cstate']==99 ? $studentLoop['appl_cstate_others']:$studentLoop['correspondencestate']; ?></td>
                <td><?php echo $studentLoop['correspondencecountry']; ?></td>
                <td><?php echo $studentLoop['appl_cpostcode'] ?></td>
                <td><?php echo ($studentLoop['appl_dob']==null || $studentLoop['appl_dob']=='') ? '':date('d-m-Y', strtotime($studentLoop['appl_dob'])); ?></td>
                <td>
                    <?php 
                    $age = date('Y-m-d') - date('Y-m-d', strtotime($studentLoop['appl_dob']));
                    echo $age;
                    ?>
                </td>
                <?php
                $model = new Records_Model_DbTable_Report();
                $qualification = $model->getQualification($studentLoop['spId']);
                $engPro = $model->getEnglishProfeciency($studentLoop['spId']);
                $industry = $model->getWorkingIndustry($studentLoop['spId']);
                $employment = $model->getEmployment($studentLoop['spId']);
                $visa = $model->getVisa($studentLoop['spId']);
                $health = $model->getHealthCondition($studentLoop['spId']);
                if (isset($studentLoop['idscheme']) && $studentLoop['idscheme']!=null){
                    $curSem = $model->getCurrentSem($studentLoop['idscheme']);
                }else{
                    $curSem = false;
                }
                ?>
                <td><?php echo $studentLoop['idnumbertype']; ?></td>
                <td><?php echo $studentLoop['appl_idnumber']; ?></td>
                <td><?php echo $studentLoop['appl_religion']==99 ? ($studentLoop['religionother']=='' ? 'Other':$studentLoop['religionother']):$studentLoop['religion']; ?></td>
                <td>
                    <?php  
                    if ($industry){
                        foreach ($industry as $industryLoop){
                            echo $industryLoop['industry'].', ';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php 
                    if ($industry){
                        foreach ($industry as $industryLoop){
                            echo $industryLoop['years'].', ';
                        }
                    }
                    ?>
                </td>
                <td><?php echo $studentLoop['baseplan']; ?></td>
                <td><?php //echo $this->translate('Discount Plan'); ?></td>
                <?php
                }
                ?>
                <td><?php //echo $studentLoop['']; ?></td>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php echo $studentLoop['semestermastername']; ?></td>
                <td><?php echo $qualification['ae_institution']==999 ? $qualification['others']:$qualification['institutionname']; ?></td>
                <td><?php echo $qualification['ae_degree_awarded']; ?></td>
                <td><?php echo $qualification['ae_majoring']; ?></td>
                <td><?php echo $qualification['classdegree']; ?></td>
                <td><?php echo $qualification['ae_result']; ?></td>
                <td><?php echo date('F', strtotime('01-'.str_replace('/', '-', $qualification['ae_year_graduate']))); //var_dump(str_replace('/', '-', $qualification['ae_year_graduate'])); ?></td>
                <td><?php echo date('Y', strtotime('01-'.str_replace('/', '-', $qualification['ae_year_graduate']))); ?></td>
                <td><?php echo $engPro['ep_test']==25 ? $engPro['ep_test_detail']:$engPro['testname']; ?></td>
                <td align="center"><?php echo ($engPro['ep_date_taken']!='0000-00-00' && $engPro['ep_date_taken']!=null && $engPro['ep_date_taken']!='') ? date('d-m-Y', strtotime($engPro['ep_date_taken'])):''; ?></td>
                <td><?php echo $engPro['ep_score']; ?></td>
                <td><?php echo $qualification['QualificationLevel']; ?></td>
                <td><?php echo $employment['employmentstatusname']; ?></td>
                <td><?php echo $employment['ae_comp_name']; ?></td>
                <td><?php echo $employment['ae_comp_address']; ?></td>
                <td><?php echo $employment['ae_comp_phone']; ?></td>
                <td><?php echo $employment['ae_comp_fax']; ?></td>
                <td><?php echo $employment['ae_designation']; ?></td>
                <td><?php echo $employment['positionname']; ?></td>
                <td><?php echo $employment['emply_year_service']; ?></td>
                <td><?php echo $employment['industryname']; ?></td>
                <td><?php echo ($studentLoop['applieddate']==null || $studentLoop['applieddate']=='') ? '':date('d-m-Y', strtotime($studentLoop['applieddate'])); ?></td>
                <td><?php //echo $this->translate('Access'); ?></td>
                <td align="center"><?php echo $visa['av_malaysian_visa']==1 ? 'Yes':'No'; ?></td>
                <td><?php echo $visa['visastatusname']; ?></td>
                <td align="center"><?php echo ($visa['av_expiry']!=null && $visa['av_expiry']!='' && $visa['av_expiry']!='1970-01-01' && $visa['av_expiry']!='0000-00-00') ? date('d-m-Y', strtotime($visa['av_expiry'])):''; ?></td>
                <td><?php echo $studentLoop['financemethod']; ?></td>
                <td>
                    <?php 
                    if ($health){
                    foreach ($health as $healthLoop){
                    echo $healthLoop['healthstatusname'].'<br/>'; 
                    }
                    }
                    ?>
                </td>
                <?php
                }
                ?>
                <td><?php echo $studentLoop['status']; ?></td>
                <td>
                    <?php
                    echo $semStatus = Records_ReportController::defineSemesterStatus($studentLoop['IdStudentRegistration'], $studentLoop['profileStatus'], $studentLoop['idscheme']);
                    ?>
                </td>
                <?php 
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td align="center">
                    <?php
                    if ($studentLoop['profileStatus']==92 && $studentLoop['idscheme'] != null){
                        echo $yos = Records_ReportController::countYearOfStudy($studentLoop['IdStudentRegistration'], $studentLoop['idscheme']);
                    }else{
                        echo $yos = '-';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($studentLoop['profileStatus']==92 && $studentLoop['idscheme'] != null){
                        echo $as = Records_ReportController::countSemesterActive($studentLoop['IdStudentRegistration'], $studentLoop['idscheme'], $yos);
                    }else{
                        echo '-';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($studentLoop['profileStatus']==96 && $studentLoop['idscheme'] != null){
                        echo Records_ReportController::countSemesterRegistered($studentLoop['IdStudentRegistration']);
                    }else{
                        echo '-';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($studentLoop['profileStatus']==96 && $studentLoop['idscheme'] != null){
                        $convo = Records_Model_DbTable_Report::getConvocation($studentLoop['IdStudentRegistration']);

                        echo $convo['c_year'];
                    }else{
                        echo '-';
                    }
                    ?>
                </td>
                <?php
                }
                ?>
                <td><?php echo $studentLoop['branchname']; ?></td>
                <td><?php echo $studentLoop['branchname']; ?></td>
                <?php
                if ($this->role == 1 || $this->role == 455){
                ?>
                <td><?php // $this->translate('Collaboration Student Id'); ?></td>
                <td><?php echo $studentLoop['sr_remarks']; ?></td>
                <?php
                }
                ?>
            </tr>
            <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    }
    ?>
</fieldset>