<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');	
?>
<?php 
if ($this->visaReportList){
$i = 1;
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Gender'); ?></th>
        <th><?php echo $this->translate('Religion'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th><?php echo $this->translate('Nationality'); ?></th>
        <th><?php echo $this->translate('Intake'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Passport No.'); ?></th>
        <th><?php echo $this->translate('Visa ref No.'); ?></th>
        <th><?php echo $this->translate('Date of Passport Issue'); ?></th>
        <th><?php echo $this->translate('Student Passport Expiry Date'); ?></th>
        <th><?php echo $this->translate('Date of Visa Issue'); ?></th>
        <th><?php echo $this->translate('Student Visa Expiry Date'); ?></th>
        <th><?php echo $this->translate('Dependent Pass'); ?></th>
    </tr>
    <?php
    foreach ($this->visaReportList as $visaReportLoop){
    ?>
    <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $visaReportLoop['appl_fname'].' '.$visaReportLoop['appl_lname']; ?></td>
        <td><?php echo $visaReportLoop['registrationId']; ?></td>
        <td><?php echo $visaReportLoop['appl_gender']==1 ? 'Male':'Female'; ?></td>
        <td><?php echo $visaReportLoop['religionName']; ?></td>
        <td><?php echo $visaReportLoop['statusName']; ?></td>
        <td><?php echo $visaReportLoop['nationName']; ?></td>
        <td><?php echo $visaReportLoop['intakeName']; ?></td>
        <td><?php echo $visaReportLoop['programName']; ?></td>
        <td><?php echo isset($visaReportLoop['studentpassport']['p_passport_no']) ? $visaReportLoop['studentpassport']['p_passport_no']:''; ?></td>
        <td><?php echo isset($visaReportLoop['studentpass']['av_reference_no']) ? $visaReportLoop['studentpass']['av_reference_no']:''; ?></td>
        <td><?php echo (isset($visaReportLoop['studentpassport']['p_date_issue']) && $visaReportLoop['studentpassport']['p_date_issue']!='' && $visaReportLoop['studentpassport']['p_date_issue']!=null && $visaReportLoop['studentpassport']['p_date_issue']!='1970-01-01' && $visaReportLoop['studentpassport']['p_date_issue']!='0000-00-00') ? date('d-m-Y', strtotime($visaReportLoop['studentpassport']['p_date_issue'])):''; ?></td>
        <td><?php echo (isset($visaReportLoop['studentpassport']['p_expiry_date']) && $visaReportLoop['studentpassport']['p_expiry_date']!='' && $visaReportLoop['studentpassport']['p_expiry_date']!=null && $visaReportLoop['studentpassport']['p_expiry_date']!='1970-01-01' && $visaReportLoop['studentpassport']['p_expiry_date']!='0000-00-00') ? date('d-m-Y', strtotime($visaReportLoop['studentpassport']['p_expiry_date'])):''; ?></td>
        <td><?php echo (isset($visaReportLoop['studentpass']['p_expiry_date']) && $visaReportLoop['studentpass']['av_issue_date']!='' && $visaReportLoop['studentpass']['av_issue_date']!=null && $visaReportLoop['studentpass']['av_issue_date']!='1970-01-01' && $visaReportLoop['studentpass']['av_issue_date']!='0000-00-00') ? date('d-m-Y', strtotime($visaReportLoop['studentpass']['av_issue_date'])):''; ?></td>
        <td><?php echo (isset($visaReportLoop['studentpass']['av_expiry']) && $visaReportLoop['studentpass']['av_expiry']!='' && $visaReportLoop['studentpass']['av_expiry']!=null && $visaReportLoop['studentpass']['av_expiry']!='1970-01-01' && $visaReportLoop['studentpass']['av_expiry']!='0000-00-00') ? date('d-m-Y', strtotime($visaReportLoop['studentpass']['av_expiry'])):''; ?></td>
        <td>
                <?php
                if (isset($visaReportLoop['dependentpass']) && count($visaReportLoop['dependentpass'])>0){
                    ?>
                    <table class="table" width="100%">
                        <tr>
                            <th><?php echo $this->translate('Name'); ?></th>
                            <th><?php echo $this->translate('Relationship'); ?></th>
                            <th><?php echo $this->translate('Expiry Date'); ?></th>
                        </tr>
                    <?php
                    foreach ($visaReportLoop['dependentpass'] as $depLoop){
                        ?>
                        <tr>
                            <td align="center"><?php echo $depLoop['sdp_name']; ?></td>
                            <td align="center"><?php echo $depLoop['relation']; ?></td>
                            <td align="center"><?php echo (isset($depLoop['sdp_expiry_date']) && $depLoop['sdp_expiry_date']!='' && $depLoop['sdp_expiry_date']!=null && $depLoop['sdp_expiry_date']!='1970-01-01' && $depLoop['sdp_expiry_date']!='0000-00-00') ? date('d-m-Y', strtotime($depLoop['sdp_expiry_date'])):''; ?></td>
                        </tr>
                        <?php
                    }
                    ?>
                    </table>
                    <?php
                }
                ?>
            </td>
    </tr>
    <?php
    $i++;
    }
    ?>
</table>
<?php
}
?>