<div class="message error">
<?php echo $this->content?>
</div>

<?php if ( isset($this->redirect) && $this->redirect != '' ) { ?>
<input type="button" class="btn-submit" onclick="window.location.href='<?php echo $this->redirect?>'" value="<?php echo $this->translate('Go Back')?>" />
<?php } ?>