<?php
	if(isset($this->toolbarclasses)) {
		$classes = $this->toolbarclasses;
	} else {
		$classes = '';
	}
?>
<div class="message toolbar <?php $classes; ?>">
	<h2><?php echo $this->translate($this->title);?></h2>
</div>
<br />