<?php echo $this->partial('partials/title.phtml','default', array('title' => 'Hostel Reservation')); ?>
<form method="post" id="reservation_form" dojoType="dijit.form.Form">

 <script type="dojo/method" event="onSubmit">
 	//validation
 	valid = true;
 	error_string = '';

 	roomtype = $('input[name=IdHostelRoomType]:checked', '#reservation_form').val();
	if(typeof(roomtype) == 'undefined') {
		valid = false;
		error_string += 'Please select room type \n';
	}
 	
 	if(!valid) {
 		alert (error_string);
 	}

 	return valid;
</script>

<fieldset>

	<table class="table" width="100%">
		<tr>
			<th></th>
			<th><?php echo $this->translate('Room Type'); ?></th>
			<th><?php echo $this->translate('Rate'); ?></th>
		</tr>
		<?php foreach($this->roomtypes as $roomtype) { ?>
		<tr>
			<td><input dojoType="dijit.form.RadioButton" name='IdHostelRoomType' value='<?php echo $roomtype['IdHostelRoomType']; ?>'>
			</td>
			<td><?php echo $roomtype['RoomType']; ?></td>
			<td><?php echo $roomtype['Rate']; ?> per <?php echo $roomtype['tenancy_period']; ?></td>
			
		<?php } ?>
	</table>
	<hr />
	<table class="table" width="100%">
		<tr>
			<th><?php echo $this->translate('Duration'); ?></th>
			<td><input dojoType="dijit.form.TextBox" name='duration' value='' required="true" id="duration"> <?php echo $this->translate('months. (applicable for temporary stay only)'); ?></td>
		</tr>
	</table>
	<button type="submit" dojoType="dijit.form.Button" name="submit" value="Submit" label="Submit" >Submit</button>
</fieldset>
</form>

<script>
/*
	function submit() {		
		$('#reservation_form').submit();
	}

	$(document).ready(function() {

		$('#reservation_form').on('submit', function () {
			if(!validate()) {
				event.preventDefault();
			}
		});
	});
*/
</script>