
<script type="text/javascript">

        dojo.addOnLoad(function () {

        });


        function stateAdd() {
            var flag = true;
            if(dijit.byId("StateCode").value==''){
                dijit.byId("StateCode").attr('required','true');
                dijit.byId("StateCode").focus();flag = false;
            }
            if(dijit.byId("StateName").value==''){
                dijit.byId("StateName").attr('required','true');
                dijit.byId("StateName").focus();flag = false;
            }
            if(flag == true) {
                StateInsertion();
            }
            return flag;
        }

         function clearpagestate() {
            dijit.byId('StateCode').set("value","");
            dijit.byId('StateName').set("value","");
        }

        $(function() {
            $( "#tabs" ).tabs();

            $('#checkall').click(function () {
                $('.chk').prop('checked', this.checked);
            });

            //disable going to anchor
            setTimeout(function() {
                if (location.hash) {
                    window.scrollTo(0, 0);
                }
            }, 1);
        });

    </script>

<!--zeta commented on 25/01/2018
<div style="overflow: hidden;">
<ul class="stepsmenu">
    <li class="first"><a href="<?php echo $this->baseUrl(); ?>/generalsetup/countrymaster">Country Master</a></li>
    <li class="second"><a href="<?php echo $this->baseUrl(); ?>/generalsetup/state">State</a></li>
    <li class="third"><a href="<?php echo $this->baseUrl(); ?>/generalsetup/city">City</a></li>
</ul>
</div>-->

<div class="message toolbar">
    <h2><?php echo $this->translate("Edit Country"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'countrymaster', 'action' => 'index'), 'default', true); ?>';">
                    <span class='back'></span>
                    <?php echo $this->translate("Back"); ?>
                </a>
            </li>

        </ul>
    </div>
</div>
<br><br>

<div id="tabs">
    <ul>
        <li><a href="#tab-1"><?php echo $this->translate('Country'); ?></a></li>
        <li><a href="#tab-2"><?php echo $this->translate('State'); ?></a></li>
        <!--<li><a href="#tab-3"><?php echo $this->translate('City'); ?></a></li>-->
    </ul>

    <!-- TAB 1 -->
    <div id="tab-1">
        <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl(); ?>/generalsetup/countrymaster/countrymasterlist/id/<?php echo $this->idCountry; ?>" method="post"  name= "myForm">
               <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>

            <table class="table" width="100%">
                <tr>
                    <th colspan="4"><?php echo $this->translate("Country Details"); ?></th>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Country Name"); ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjCountrymasterForm->CountryName; ?></td>
                    <td><?php echo $this->translate("Alias"); ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjCountrymasterForm->Alias; ?>
                        <?php echo $this->lobjCountrymasterForm->idCountry; ?>
                        <?php echo $this->lobjCountrymasterForm->UpdDate; ?>
                        <?php echo $this->lobjCountrymasterForm->UpdUser; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Country ISO"); ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjCountrymasterForm->CountryIso; ?></td>
                    <td><?php echo $this->translate("Nationality"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->Nationality; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Currency Name"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->CurrencyName; ?></td>
                    <td><?php echo $this->translate("Currency Short Name"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->CurrencyShortName; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Currency Symbol"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->CurrencySymbol; ?></td>
                    <td><?php echo $this->translate("Active"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->Active; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Default Language"); ?></td>
                    <td><?php echo $this->lobjCountrymasterForm->DefaultLanguage; ?></td>
                    <td><?php echo $this->translate("Country Code"); ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjCountrymasterForm->CountryCode; ?></td>
                <tr>
                <tr>
                    <td align="right" colspan="4"><?php echo $this->lobjCountrymasterForm->Save; ?>
                    </td>
                </tr>
            </table>
        </Form>
    </div> <!-- end tab 1 div -->

    <!-- TAB 2 -->
    <div id="tab-2">
        <div class="toolbar-button">
            <input type="button" value="Add State" onClick="window.location.href='<?php echo $this->baseUrl(); ?>/generalsetup/state/statelist/id/<?php echo $this->idCountry; ?>';">
            <br><br>
        </div>
        <div id='loading_target3'></div>
        <br>
        <br>
        <h3><?php echo $this->translate('State List') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

        <?php
        echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
        ?>

        <table class="table" width="100%" id="stateList">
            <thead>
            <tr>
                <th><?php echo $this->translate("State Name"); ?></th>
                <th><?php echo $this->translate("State Code"); ?></th>

                <th width='10%'><?php echo $this->translate(""); ?></th>
            </tr>
            </thead>
            <tbodY>
            <?php
            if (count($this->stateData) > 0) {
                foreach ($this->stateData as $state) { ?>
                    <tr>
                        <td><?php echo $state['StateName']; ?></td>
                        <td><?php echo $state['StateCode'] ?></td>

                        <td class="options" align='center'>
                            <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'state', 'action'=>'statelist' ,'id'=>$this->idCountry,'edit'=>'true','idState'=>$state['idState']),'default',true);?>" >Edit</a>
                            | <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'city', 'action'=>'citylist', 'id'=>$this->idCountry,'idState'=>$state['idState']),'default',true);?>" > City Details</a>
                        </td>



                    </tr>
                <?php }
            } ?>
            </tbodY>
            <tr>
                <td colspan="8" align="right">
                    <div class="pagination">
                        <?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
                        <?php
                        echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
                        ?>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- end tab 2 div -->
</div> <!-- end main tab div -->
<br></br>

