<script>
    dojo.addOnLoad(function () {
        dijit.byId('field2').focus();
    });
</script>

<!--<div class="breadcrum">
    <ul class="tri-steps">
        <li class="current">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'countrymaster', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("Country Master"); ?></a>
            </div>
        </li>
        <li class="empty">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'state', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("States"); ?></a>
            </div>
        </li>
        <li class="last">
            <div class="text"><a
                    href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'city', 'action' => 'index'), 'default', true); ?>"><?php echo $this->translate("City"); ?></a>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>-->

<div class="message toolbar">
    <h2><?php echo $this->translate("Country Master"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#"
                   onclick="window.location.href='<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'countrymaster', 'action' => 'newcountrymaster'), 'default', true); ?>';">
                    <span class='add'></span>
                    <?php echo $this->translate("Add"); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br><br>
<fieldset>
    <legend><?php echo $this->translate("Country Master"); ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/generalsetup/countrymaster/index/search/1" method="POST">
        <dl class="zend_form">
            <dt><?php echo $this->translate("Country Name"); ?></dt>
            <dd><?php echo $this->lobjform->field2; ?></dd>
            <dt><?php echo $this->translate("Alias"); ?></dt>
            <dd><?php echo $this->lobjform->field3; ?></dd>
            <dt><?php echo $this->translate("Country ISO"); ?></dt>
            <dd><?php echo $this->lobjform->field4; ?></dd>
            <dt><?php echo $this->translate("Active"); ?></dt>
            <dd><?php echo $this->lobjform->field7; ?></dd>
            <dd>
                <?php echo $this->lobjform->Search; ?>
                <!--<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php //echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php //echo $this->url(array('module'=>'generalsetup','controller'=>'countrymaster', 'action'=>'newcountrymaster'),'default',true);?>';" />-->
                <?php echo $this->lobjform->Clear; ?>
            </dd>
        </dl>
    </form>
</fieldset>
<br/>

<h3><?php echo $this->translate('Country Master') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">

        <tr>
            <th><?php echo $this->translate("Country Name"); ?></th>
            <th><?php echo $this->translate("Alias"); ?></th>
            <th></th>
        </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjcountrymaster): ?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0", "#FFFFFF"))->next() ?>">
            <td><?php echo $this->escape($lobjcountrymaster['CountryName']); ?></td>
            <td><?php echo $this->escape($lobjcountrymaster['Alias']); ?></td>
            <td align="center">
                <a href="<?php echo $this->url(array('module' => 'generalsetup', 'controller' => 'countrymaster', 'action' => 'countrymasterlist', 'id' => $lobjcountrymaster['idCountry']), 'default', true); ?>">Edit</a>
            </td>
            <?php endforeach; ?>
            <?php endif; ?>
        </tr>
        <tr>
            <td colspan="8" align="right">
                <div class="pagination">
                    <?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
                    <?php
                    echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
                    ?>
                </div>
            </td>
        </tr>

    </table>
</fieldset>
