<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/studentfinance/account-code/add-account-code">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<table class="table" width="100%">
	<thead>
	<tr>
		<th><?php echo $this->translate('Account Code'); ?></th>
		<th><?php echo $this->translate('Account Description'); ?></th>
		<th><?php echo $this->translate('Account Type'); ?></th>
		<th><?php echo $this->translate('Status'); ?></th>
		<th><?php echo $this->translate('Last Edit by'); ?></th>
		<th><?php echo $this->translate('Last Edit Date'); ?></th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php 
	if($this->account_code_list){
		foreach ($this->account_code_list as $acode){
	?>
	<tr>
		<td><?php echo $acode['ac_code'];?></td>
		<td><?php echo $acode['ac_desc'];?></td>
		<td><?php echo $acode['ac_acc_type_name'];?></td>
		<td><?php echo $acode['ac_status']==1?$this->translate('Active'):$this->translate('inactive');?></td>
		<td><?php echo $acode['last_edit_by_name'];?></td>
		<td><?php echo date('d-m-y g:ia',strtotime($acode['ac_last_edit_date']));?></td>
		<td align="center"><a href="/studentfinance/account-code/edit-account-code/id/<?php echo $acode['ac_id']; ?>"><?php echo $this->translate('Edit');?></a></td>
	</tr>
	<?php 
		}
	}
	?>
	</tbody>
</table>