<div id="tab-2">

    <div class="toolbar-button">
        <input type="button" value="Add" onClick="addAcademic();">
        <br><br>
    </div>

    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th colspan="2"><?php echo $this->translate("Requirement"); ?></th>
            <th><?php echo $this->translate("Requirement (Malay)"); ?></th>
            <th><?php echo $this->translate("Honors"); ?></th>
            <th><?php echo $this->translate("Require AU"); ?></th>
            <th><?php echo $this->translate("Compulsory"); ?></th>
            <th>&nbsp;</th>
        </tr>
        <?php
        if (count($this->data)): ?>
            <?php
            $i = 1;
            foreach ($this->data as $data): ?>
                <tr>
                    <td><?php echo ($data['pid'] == 0) ? $i . '.' : ''; ?></td>
                    <td><?php echo $data['requirement']; ?></td>
                    <td><?php echo $data['requirementMalay']; ?></td>
                    <td align="center"><?php echo ($data['honors'] == 1) ? 'Yes' : 'No' ?></td>
                    <td align="center"><?php echo ($data['require_au'] == 1) ? 'Yes' : 'No' ?></td>
                    <td align="center">
                        <?php echo ($data['compulsory'] == 1) ? 'Yes' : 'No' ?></td>
                    <td align="center">

                        Edit

                    </td>
                </tr>
                <?php

                if ($data['pid'] == 0) {
                    $i++;
                }
            endforeach; ?>
        <?php endif; ?>
    </table>
</div>

<div id="add-academic-requirement" title="<?php echo $this->translate("New Open Entry"); ?>">
    <?php echo $this->form; ?>
</div>


<div id="edit-academic-requirement" title="<?php echo $this->translate("Edit Academic Requirement"); ?>">
    <?php //echo $this->form; ?>
</div>

<div id="add-subject" title="<?php echo $this->translate("Add Subjects"); ?>">
    <?php echo $this->formSubject; ?>
</div>


<script type="text/javascript">

    $(function () {

        $("#add-academic-requirement").dialog({
            modal: true,
            autoOpen: false,
            width: 800,
            buttons: {
                "Save": function () {
                    $("#formAddAcademic").submit();
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#add-subject").dialog({
            modal: true,
            autoOpen: false,
            width: 800,
            buttons: {
                "Save": function () {
                    $("#formAddAcademicSubject").submit();
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

    });

    function addAcademic() {
        $("#add-academic-requirement").dialog('open');
    }

    function editAcademic() {
        $("#edit-academic-requirement").dialog('open');
    }

    function addGroup(IdProgramEntryReq) {
        $('#pid').val(IdProgramEntryReq);
        $("#Mandatory").attr("disabled", true);
        $("#add-academic-requirement").dialog('open');
    }

    function addSubject(IdProgramEntryReq, IdQualification) {
        $('#IdProgramEntryReq').val(IdProgramEntryReq);
        $('#add-subject').dialog('open');
        getGrade(IdQualification);
    }

    function getGrade(IdQualification) {

        if (IdQualification != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'get-grade'), 'default', true);?>",
                data: {'IdQualification': IdQualification},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#IdGrade').empty();
                    $('#IdGrade').append('<option value="">ANY</option>');
                    $.each(data, function (index) {
                        var sel = '';
                        $('#IdGrade').append('<option value="' + data[index].id + '"' + sel + '>' + data[index].sg_grade + ' (' + data[index].sg_grade_desc + ')</option>');
                    });

                },
                error: function () {
                    alert("failure");
                },
                beforeSend: function () {
                    showLoading('gradediv');

                },
                complete: function () {
                    hideLoading('gradediv');
                }
            });
        }
    }

    function showLoading(target) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }

</script>


