
<script type="text/javascript">
  dojo.addOnLoad(function (){
    dijit.byId("GroupName").set('readOnly',true);
    dijit.byId("QualificationName").set('readOnly',true);
    dijit.byId("NoofSubject").set("value",1);
  });
  var rowid = <?php echo count($this->larrstatusmessagelist) + 1; ?>;
  var batchArray  = new Array();
  var batchArray2 = new Array();
  <?php foreach($this->larrstatusmessagelist as $statusmessage) { ?>
  <?php if($statusmessage['SubjectId'] != 0){?>
	batchArray.push('<?php echo $statusmessage['SubjectName'].' - '.$statusmessage['SubjectCode']; ?>');
  <?php }else if($statusmessage['SubjectId']==0 && $statusmessage['fieldofstudy'] != 0 ){?>
  batchArray.push('<?php echo $statusmessage['FieldofstudyName']."Any"; ?>');
  <?php }else if($statusmessage['fieldofstudy'] == 0 && $statusmessage['SubjectId']==0){?>
  batchArray.push('<?php echo "NAAny" ?>');
  	<?php }?>
  <?php } ?>

  dojo.addOnLoad(function(){
    dijit.byId("IdSubject").set('value','');
    dijit.byId("IdSubject").set('placeHolder','Any');
    dijit.byId("fieldofstudy").set('value','');
    dijit.byId("fieldofstudy").set('placeHolder','Select');
    dijit.byId("MinGradePoint").set('value','');
    dijit.byId("MinGradePoint").set('placeHolder','Select');
  });

  function clearpageAdd(){
    dijit.byId("IdSubject").set("value","");
    dijit.byId("IdSubject").set('placeHolder','Any');
    dijit.byId("fieldofstudy").set("value","");
    dijit.byId("fieldofstudy").set('placeHolder','Select');
    dijit.byId("NoofSubject").set("value",1);
    dijit.byId("MinGradePoint").set("value","");
    dijit.byId("MinGradePoint").set('placeHolder','Select');
  }

  function addProgramentry() {
    var flag = true;

//    if(dijit.byId("IdSubject").value==''){
//      dijit.byId("IdSubject").attr('required','true');
//      dijit.byId("IdSubject").focus();
//      flag = false;
//    }
    if(!dijit.byId("MinGradePoint").validate()) {
      dijit.byId("MinGradePoint").focus();
      flag = false;
    }
    if(flag == true) {
      InsertSubject();
    }
    return flag;
  }
  function setsubject(){
	  IdSubject = dijit.byId("IdSubject");
	  if(IdSubject != "0"){
		  subjectCatagory(IdSubject);
		  dijit.byId("NoofSubject").setValue("1");
		  $('#NoofSubject').attr('readonly','readonly');
	  }
	  else{
		  subjectCatagory(IdSubject);
		  $("#NoofSubject").removeAttr('readonly');
	  }
  }

  function subjectCatagory(IdSubject){ 
	  if(IdSubject != "")
		  console.log("<?php echo $this->baseUrl()?>"+"/application/programentry/getsubjectcatagory/idsubject/"+IdSubject);
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/application/programentry/getsubjectcatagory/idsubject/"+IdSubject,
					handleAs:'json',
					load:function(data){
						 console.log(data);
						 AutoFillNextEditableDropDown("fieldofstudy",data);
					}
			   };
			dojo.xhrGet(xhrArgs);
	   }
			
  }	

  function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
	    var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
	    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
  }

  function InsertSubject(){
    var groupId = dijit.byId("GroupId").value;
    var groupName = dijit.byId("GroupName").value;

    var qualificationId = dijit.byId("QualificationId").value;
    var qualificationName = dijit.byId("QualificationName").value;

    var SubjectId = dijit.byId("IdSubject").value;
    var SubjectName = dijit.byId("IdSubject").displayedValue;
    console.log(SubjectName);

    var fieldofstudyId = dijit.byId("fieldofstudy").value;
    var fieldofstudyName = dijit.byId("fieldofstudy").displayedValue;

    var noofsubject = dijit.byId("NoofSubject").value;


    var mingradepointId = dijit.byId("MinGradePoint");
    var mingradepointName = dijit.byId("MinGradePoint").displayedValue;


	if(fieldofstudyId == ''){
		fieldofstudyId = "0";
		fieldofstudyName = "NA";
	}
    if(SubjectId == ''){
    	SubjectId = "0";
    	SubjectName = "Any";
    }
   
    
    if(SubjectName == "Any"){
    	batchArray.push(fieldofstudyName+SubjectName);
    	if(arrHasDupes(batchArray))
    	{	 
    		batchArray = batchArray.unique();
    		alert("Duplicate Entry");
    		//return false;
    	} 
    	else{
    		      var trow=document.getElementById('hor').insertRow(rowid);
    		      var tcol1=trow.insertCell(0);
    		      var tcol2=trow.insertCell(1);
    		      var tcol3=trow.insertCell(2);
    		      var tcol4=trow.insertCell(3);
    		      var tcol5=trow.insertCell(4);
    		      var tcol6=trow.insertCell(5);
    		      var tcol7=trow.insertCell(6);

    		      tcol1.innerHTML="<input type='hidden' value='"+groupId+"' name=groupgrid[]>"+groupName;
    		      tcol2.innerHTML="<input type='hidden' value='"+qualificationId+"' name=qualificationgrid[]>"+qualificationName;
    		      tcol3.innerHTML="<input type='hidden' value='"+SubjectId+"' name=subjectgrid[]>"+SubjectName;
    		      tcol4.innerHTML="<input type='hidden' value='"+fieldofstudyId+"' name=fieldofstudygrid[]>"+fieldofstudyName;
    		      tcol5.innerHTML="<input type='hidden' value='"+noofsubject+"' name=noofsubjectgrid[]>"+noofsubject;
    		      tcol6.innerHTML="<input type='hidden' value='"+mingradepointId+"' name=mingradepointgrid[]>"+mingradepointName;
    		      tcol7.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
    		      rowid++;
    	}
    }
    else if (SubjectName != "Any"){
      batchArray.push(SubjectName);
      if(arrHasDupes(batchArray)) {
	      batchArray = batchArray.unique();
	      alert("Duplicate Entry");
	      //return false;
      }
      else {
          var trow=document.getElementById('hor').insertRow(rowid);
          var tcol1=trow.insertCell(0);
          var tcol2=trow.insertCell(1);
          var tcol3=trow.insertCell(2);
          var tcol4=trow.insertCell(3);
          var tcol5=trow.insertCell(4);
          var tcol6=trow.insertCell(5);
          var tcol7=trow.insertCell(6);

          tcol1.innerHTML="<input type='hidden' value='"+groupId+"' name=groupgrid[]>"+groupName;
          tcol2.innerHTML="<input type='hidden' value='"+qualificationId+"' name=qualificationgrid[]>"+qualificationName;
          tcol3.innerHTML="<input type='hidden' value='"+SubjectId+"' name=subjectgrid[]>"+SubjectName;
          tcol4.innerHTML="<input type='hidden' value='"+fieldofstudyId+"' name=fieldofstudygrid[]>"+fieldofstudyName;
          tcol5.innerHTML="<input type='hidden' value='"+noofsubject+"' name=noofsubjectgrid[]>"+noofsubject;
          tcol6.innerHTML="<input type='hidden' value='"+mingradepointId+"' name=mingradepointgrid[]>"+mingradepointName;
          tcol7.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a>";
          rowid++;
        }
    }
    
  }
	
  function deleteRow(r){
    var ret = confirm("Are you sure to delete");
    if(ret){
        rowid--;
        var i=r.parentNode.parentNode.rowIndex;
        batchArray.splice(parseInt(i-1),1);
        document.getElementById('hor').deleteRow(i);
        console.log(batchArray);
    }
  }


  Array.prototype.indexOf = function(elt /*, from*/)
  {
    var len = this.length >>> 0;

    var from = Number(arguments[1]) || 0;
    from = (from < 0)
         ? Math.ceil(from)
         : Math.floor(from);
    if (from < 0)
      from += len;

    for (; from < len; from++)
    {
      if (from in this &&
          this[from] === elt)
        return from;
    }
    return -1;
  };
  
  function deletesubject(GroupId,ProgramEntry,IdSubject){     
	var ret = confirm("Are you sure to delete");
	    if(ret){
	      var xhrArgs = {url: "<?php echo $this->baseUrl(); ?>"+"/application/programentry/deletesubject/GroupId/"+GroupId+"/ProgramEntry/"+ProgramEntry+"/IdSubject/"+IdSubject,
	        handleAs:'json',
	        load:function(data){
		   	 	 window.location = "<?php echo $this->baseUrl(); ?>"+"/application/programentry/addgrouptosubject/groupid/"+GroupId+"/programentry/"+ProgramEntry+"/programentryreq/<?php echo $this->IdprogramEntryReq;?>/update/true";
		    }
	      }
	      dojo.xhrPost(xhrArgs);
	    }
  }
  function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                         // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}

Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }

        }
        r[r.length] = this[i];
    }
    return r;
}

</script>
<fieldset>
  <legend><?php echo 'Subject' . ' ' . $this->translate("Group") . ' ' . $this->translate("Entry"); ?></legend>
  <form dojoType="dijit.form.Form"  id="myForm" action="" method="POST"  name= "myform">
    <script type="dojo/method" event="onSubmit">
      if (this.validate()) {
      var flag = true;
      return flag;
      }else{

      return false;
      }
    </script>
    <table class="table" width="100%" >
      <tr>
        <th colspan="4">
          <?php echo 'Subject' . ' ' . $this->translate("Entry"); ?>
          <?php echo $this->lobjsubjecttogroupForm->UpdDate; ?>
          <?php echo $this->lobjsubjecttogroupForm->UpdUser; ?>
        </th>
      </tr>
      <tr>
        <td><?php echo $this->translate("Group") ?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjsubjecttogroupForm->GroupName; ?><?php echo $this->lobjsubjecttogroupForm->GroupId; ?></td>
        <td><?php echo $this->translate("Qualification") ?><span class="reqMark">*</span></td>
        <td><?php echo $this->lobjsubjecttogroupForm->QualificationName; ?><?php echo $this->lobjsubjecttogroupForm->QualificationId; ?></td>
      </tr>
      <tr>
        <td>Subject</td>
        <td>
          <?php echo $this->lobjsubjecttogroupForm->IdSubject; ?>
          <?php echo $this->lobjsubjecttogroupForm->IdProgramEntry; ?>
          <?php echo $this->lobjsubjecttogroupForm->IdProgramEntryReq; ?>
        </td>
        <td>Field of Study</td>
        <td><?php echo $this->lobjsubjecttogroupForm->fieldofstudy; ?></td>
      </tr>
      <tr>
        <td>No of Subject</td>
        <td><?php echo $this->lobjsubjecttogroupForm->NoofSubject;?></td>
        <td>Minimum Grade Point</td>
        <td><?php echo $this->lobjsubjecttogroupForm->MinGradePoint;?></td>
      </tr>
      <tr>
        <td colspan="4" align = "right">
          <?php echo $this->lobjsubjecttogroupForm->Add; ?>
          <?php echo $this->lobjsubjecttogroupForm->Clear; ?>
        </td>
      </tr>
    </table>
    <table  class="table" width="100%"  id="hor">
      <tr>
        <th><?php echo $this->translate("Group"); ?></th>
        <th><?php echo $this->translate("Qualification"); ?></th>
        <th>Subject</th>
        <th><?php echo $this->translate("Field of Study"); ?></th>
        <th><?php echo $this->translate("No of").' '.'Subject'; ?></th>
        <th><?php echo $this->translate("Minimum Grade point"); ?></th>
        <th><?php echo $this->translate("Delete") ?></th>
      </tr>
      <?php foreach ($this->larrstatusmessagelist as $statusmessage) {
 ?>
            <tr>
              <td><?php echo $statusmessage['GroupName'] ?><input type="hidden" value="<?php echo $statusmessage['GroupId'] ?>" name="groupgrid[]" /></td>
              <td><?php echo $statusmessage['QualificationLevel'] ?><input type="hidden" value="<?php echo $statusmessage['IdQualification'] ?>" name="qualificationgrid[]" /></td>
              <?php if($statusmessage['SubjectId']==0){?>
              <td><?php echo $this->translate("Any");?><input type="hidden" value="0" name="subjectgrid[]"/></td>
              <?php }else{?>
              <td><?php echo $statusmessage['SubjectName'] . "-" . $statusmessage['SubjectCode'] ?><input type="hidden" value="<?php echo $statusmessage['IdSubject'] ?>" name="subjectgrid[]" /></td>
              <?php }?>
              <?php if($statusmessage['fieldofstudy']==0){?>
              <td><?php echo $this->translate("NA");?><input type="hidden" value="0" name="fieldofstudygrid[]" /></td>
              <?php }else{?>
              <td><?php echo $statusmessage['FieldofstudyName'] ?><input type="hidden" value="<?php echo $statusmessage['fieldofstudy'] ?>" name="fieldofstudygrid[]" /></td>
              <?php }?>
              <td><?php echo $statusmessage['NoofSubject'] ?><input type="hidden" value="<?php echo $statusmessage['NoofSubject'] ?>" name="noofsubjectgrid[]" /></td>
              <?php if($statusmessage['MinGradePoint'] == 0){?>
              <td><?php echo "NA";?><input type="hidden" value="0" name="mingradepointgrid[]" /></td>
              <?php }else{?>
              <td><?php echo $statusmessage['MinGradePoint'] ?><input type="hidden" value="<?php echo $statusmessage['MinGradePoint'] ?>" name="mingradepointgrid[]" /></td>
              <?php }?>
              <?php if($statusmessage['SubjectId']==0){?>
               <td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a></td>
              <?php }else{?>
              <td><a href='#' onClick='deletesubject(<?php echo $statusmessage['GroupId']; ?>,<?php echo $statusmessage['ProgramEntry'];?>,<?php echo $statusmessage['IdSubject'];?>);'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a></td>
              <?php }?>
            </tr>
<?php } ?>
        </table>
        <table class="table" width="100%">
          <tr>
            <td align = "right">
<?php echo $this->lobjsubjecttogroupForm->Save; ?>
              <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'index'), 'default', true); ?>'+'/editprogramentry/id/'+<?php echo $this->Idprogramentry;?>;" />
        </td>
      </tr>

    </table>
  </form>
</fieldset>
