<div class="message toolbar">
    <h2>
        <?php echo $this->translate('Edit Entry Requirements'); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'index'), 'default', true); ?>"
                   onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<table class="table" width="100%">
    <tr>
        <th width="15%"><?php echo $this->translate('Scheme'); ?></th>
        <td width="35%"><?php echo $this->cur_program_entry['SchemeName']; ?></td>
        <th width="15%"><?php echo $this->translate('Start Date'); ?></th>
        <td width="35%"><?php echo format_date_to_view($this->cur_program_entry['StartDate']); ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program'); ?></th>
        <td><?php echo ($this->cur_program_entry['ProgramName'])?$this->cur_program_entry['ProgramName']:'ALL'; ?></td>
        <th><?php echo $this->translate('End Date'); ?></th>
        <td><?php echo format_date_to_view($this->cur_program_entry['EndDate']); ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <td><?php echo $this->cur_program_entry['ProgramName']; ?></td>
        <th><?php echo $this->translate('Website Link'); ?></th>
        <td><?php echo $this->cur_program_entry['pe_url']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Open Entry'); ?></th>
        <td colspan="3"><?php echo ($this->cur_program_entry['open_entry'] == 1) ? 'Yes' : 'No'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Proposal Submission'); ?></th>
        <td colspan="3"><?php echo ($this->cur_program_entry['pe_proposal'] == 1) ? 'Yes' : 'No'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Description'); ?></th>
        <td colspan="3"><?php echo $this->cur_program_entry['Description']; ?></td>
    </tr>
</table>
<br>

<div id="tabs">
    <ul>
        <li><a href="#program_requirements_summary"><?php echo $this->translate('Summary'); ?></a></li>
        <li>
            <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'academic-requirement', 'id' => $this->id), 'default', true); ?>#tab-2"><?php echo $this->translate('Academic Requirements'); ?></a>
        </li>
        <li>
            <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'academic-requirement-oe', 'id' => $this->id), 'default', true); ?>#tab-3"><?php echo $this->translate('Open Entry'); ?></a>
        </li>
    </ul>

    <div id="program_requirements_summary">
        <table class="table" width="100%">
            <?php
            $group_count = 0;
            foreach ($this->academicsreq_bygroup as $group_id => $academic_requirements) {
                $group_count++;
                ?>
               <!-- <th>
                    <?php /*if ($group_count > 1) { */?>
                        <?php /*echo $this->translate('OR'); */?> -
                    <?php /*} */?>
                    <?php /*echo $this->groupincurrentreq[$group_id]; */?>
                </th>-->
                </tr>
                <?php if (!empty($academic_requirements['academic_requirement'])) { ?>
                    <?php foreach ($academic_requirements['academic_requirement'] as $acad_req) { ?>
                        <tr>
                            <td>
                                <?php echo $acad_req['EntryLevelname'] ? $acad_req['EntryLevelname']: $acad_req['requirement'] ?>
                                <?php if (!empty($acad_req['Itemname'])) { ?>

                                    <?php echo ($acad_req['Value'] != 0) ? 'with minimum '.$acad_req['Itemname'].' '. $acad_req['Conditionname'].' '.$acad_req['Value'] : '';?>
                                    <?php if (isset($this->programentrysubjectacad_req)) { ?>
                                        <?php foreach ($this->programentrysubjectacad_req as $program) { ?>
                                            <?php if ($acad_req['GroupId'] == $program['GroupId']) { ?>
                                                ,Minimum Grade Point <?php if ($program['IdSubject'] == 0) { ?>
                                                    <?php echo $program['MinGradePoint']; ?> for Any <?php echo $program['NoofSubject'] . ' ' . $program['fosn'] ?> Subject(s),
                                                <?php } else { ?>

                                                    <?php echo $program['MinGradePoint']; ?> for <?php echo $program['SubjectName']; ?>
                                                <?php } ?>

                                            <?php }
                                        }
                                    } ?>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>

                <?php if (!empty($academic_requirements['other_requirement'])) { ?>
                    <?php foreach ($academic_requirements['other_requirement'] as $acad_req) { ?>
                        <tr>
                            <td>
                                <?php echo $acad_req['Itemname']; ?><?php echo $acad_req['Conditionname']; ?><?php echo $acad_req['Value']; ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>

            <?php } ?>
        </table>
    </div>

</div>

<script type="text/javascript">

    $(function () {
        $( "#tabs" ).tabs({
            beforeLoad: function(event, ui){
                $(ui.panel).html("Loading...");
            }
        });
    });

</script>