<div class="message toolbar">
    <h2>
        <?php echo $this->translate('Edit Entry Requirements'); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'index'), 'default', true); ?>"
                   onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<table class="table" width="100%">
    <tr>
        <th width="15%"><?php echo $this->translate('Scheme'); ?></th>
        <td width="35%"><?php echo $this->cur_program_entry['SchemeName']; ?></td>
        <th width="15%"><?php echo $this->translate('Start Date'); ?></th>
        <td width="35%"><?php echo format_date_to_view($this->cur_program_entry['StartDate']); ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program'); ?></th>
        <td><?php echo $this->cur_program_entry['ProgramName']; ?></td>
        <th><?php echo $this->translate('End Date'); ?></th>
        <td><?php echo format_date_to_view($this->cur_program_entry['EndDate']); ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <td><?php echo $this->cur_program_entry['ProgramName']; ?></td>
        <th><?php echo $this->translate('Website Link'); ?></th>
        <td><?php echo $this->cur_program_entry['pe_url']; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Open Entry'); ?></th>
        <td colspan="3"><?php echo ($this->cur_program_entry['open_entry'] == 1) ? 'Yes' : 'No'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Proposal Submission'); ?></th>
        <td colspan="3"><?php echo ($this->cur_program_entry['pe_proposal'] == 1) ? 'Yes' : 'No'; ?></td>
    </tr>
    <tr>
        <th><?php echo $this->translate('Description'); ?></th>
        <td colspan="3"><?php echo $this->cur_program_entry['Description']; ?></td>
    </tr>
</table>
<br>

<div id="tabs">
    <ul>
        <li><a href="#program_requirements_summary"><?php echo $this->translate('Summary'); ?></a></li>
        <li>
            <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'academic-requirement', 'id' => $this->id), 'default', true); ?>#tab-2"><?php echo $this->translate('Academic Requirements'); ?></a>
        </li>
        <li><a href="#other_requirements"><?php echo $this->translate('Open Entry Requirements'); ?></a></li>
        <li><a href="#proposed_program"><?php echo $this->translate('Proposed Program'); ?></a></li>
    </ul>
    <div id="program_requirements_summary">
        <table class="table" width="100%">
            <?php
            $group_count = 0;
            foreach ($this->academicsreq_bygroup as $group_id => $academic_requirements) {
                $group_count++;
                ?>
                <th>
                    <?php if ($group_count > 1) { ?>
                        <?php echo $this->translate('OR'); ?> -
                    <?php } ?>
                    <?php echo $this->groupincurrentreq[$group_id]; ?>
                </th>
                </tr>
                <?php if (!empty($academic_requirements['academic_requirement'])) { ?>
                    <?php foreach ($academic_requirements['academic_requirement'] as $acad_req) { ?>
                        <tr>
                            <td>
                                PASSED <?php echo $acad_req['EntryLevelname'] ?>
                                <?php if (!empty($acad_req['Itemname'])) { ?>
                                    WITH <?php echo $acad_req['Itemname']; ?>
                                    <?php echo $acad_req['Conditionname']; ?>
                                    <?php echo $acad_req['Value']; ?>
                                    <?php if (isset($this->programentrysubjectacad_req)) { ?>
                                        <?php foreach ($this->programentrysubjectacad_req as $program) { ?>
                                            <?php if ($acad_req['GroupId'] == $program['GroupId']) { ?>
                                                ,Minimum Grade Point <?php if ($program['IdSubject'] == 0) { ?>
                                                    <?php echo $program['MinGradePoint']; ?> for Any <?php echo $program['NoofSubject'] . ' ' . $program['fosn'] ?> Subject(s),
                                                <?php } else { ?>

                                                    <?php echo $program['MinGradePoint']; ?> for <?php echo $program['SubjectName']; ?>
                                                <?php } ?>

                                            <?php }
                                        }
                                    } ?>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>

                <?php if (!empty($academic_requirements['other_requirement'])) { ?>
                    <?php foreach ($academic_requirements['other_requirement'] as $acad_req) { ?>
                        <tr>
                            <td>
                                <?php echo $acad_req['Itemname']; ?><?php echo $acad_req['Conditionname']; ?><?php echo $acad_req['Value']; ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>

            <?php } ?>
        </table>
    </div>
    

    <div id="other_requirements">
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <th colspan="4"><?php echo $this->translate("Other Requirements") ?></th>
            </tr>
            <tr>
                <td><?php echo $this->translate("Group") ?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjprogramentryform->GroupOther; ?><span id='awards'></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Type") ?></td>
                <td><?php echo $this->lobjprogramentryform->ItemOther; ?></td>
                <td><?php echo $this->translate("Condition") ?></td>
                <td><?php echo $this->lobjprogramentryform->ConditionOther; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Result Value") ?></td>
                <td><?php echo $this->lobjprogramentryform->ValueOther; ?></td>
            </tr>
            <?php
            $this->lobjprogramentryform->clearOther->setAttrib('OnClick', 'clearpageOther()');
            $this->lobjprogramentryform->AddOther->setAttrib('OnClick', 'addOtherDetail()')
            ?>
            <tr>
                <td colspan="4"
                    align="center"><?php echo $this->lobjprogramentryform->AddOther; ?><?php echo $this->lobjprogramentryform->clearOther; ?>
                </td>
            </tr>
        </table>

        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <th><?php echo $this->translate("Group") ?></th>
                <th><?php echo $this->translate("Type") ?></th>
                <th><?php echo $this->translate("Condition") ?></th>
                <th><?php echo $this->translate("Result Value") ?></th>
                <th></th>
            </tr>
            <tbody id="other_details">
            </tbody>
        </table>
    </div>

    <div id="proposed_program">
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
            <tr>
                <th><?php echo $this->translate("Proposed Programme") ?></th>
            </tr>
            <tr>
                <td><a class="positive addLink" href="#" onClick="javscript:addProposed();">Set Proposed Program </a>
                </td>
            </tr>
        </table>

        <table class="table" width="100%">
            <thead>
            <tr>
                <th><?php echo $this->translate('Program Code'); ?></th>
                <th><?php echo $this->translate('Programme Name'); ?></th>
                <th><?php echo $this->translate('Award'); ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="proposed_program_body">
            </tbody>
        </table>


        <div id="dialog-proposed" title="<?php echo $this->translate("Proposed Programme"); ?>">
            <form name="formAddProposed" id="formAddProposed" method="post"
                  action="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'addproposed'), 'default', true); ?>">
                <input type="hidden" name="idProgram" id="idprogramentry" value="<?php echo $this->idprogramentry; ?>">
                <table class="table" width="100%">
                    <tr>
                        <th><input type="checkbox" name="checkall"
                                   id="checkall">&nbsp;<?php echo $this->translate("Check All") ?></th>
                        <th><?php echo $this->translate('Programme Code'); ?></th>
                        <th><?php echo $this->translate('Programme Name'); ?></th>
                        <th><?php echo $this->translate('Award'); ?></th>
                    </tr>
                    <?php
                    if (!empty($this->programs)) {
                        foreach ($this->programs as $program) {
                            ?>
                            <tr>
                                <td width='10%'><input class='chk pprogram'
                                                       id="proposed_program_<?php echo $program['IdProgram']; ?>"
                                                       type='checkbox' name='proposed_program[]'
                                                       value='<?php echo $program['IdProgram']; ?>'/></td>
                                <td width='15%'><?php echo $program['ProgramCode']; ?></td>
                                <td width='40%'><?php echo $program['ProgramName']; ?></td>
                                <td width='40%'><?php echo $program['award']; ?></td>
                            </tr>
                        <?php }
                    } ?>
                </table>
            </form>
        </div>
    </div>
    <table class="table" width="100%">
    </table>
</div>


<script type="text/javascript">
    var rowid = 1;
    var rowidother = 1;
    dojo.addOnLoad(function () {
        // changebutton();
        // changebuttonother();
        // //disableCheck();

        dijit.byId("Group").set('value', '');
        dijit.byId("Group").set('placeHolder', 'Select');
        dijit.byId("Item").set('value', '');
        dijit.byId("Item").set('placeHolder', 'Select');
        dijit.byId("Condition").set('value', '');
        dijit.byId("Condition").set('placeHolder', 'Select');
        dijit.byId("IdSpecialization").set('value', '');
        dijit.byId("IdSpecialization").set('placeHolder', 'Any');
        dijit.byId("EntryLevel").set('value', '');
        dijit.byId("EntryLevel").set('placeHolder', 'Select');

        //fnGetProgramList();
        //dijit.byId('IdProgram').set('value',<?php echo $this->lobjprogramentryform->getValue('IdProgram'); ?>);

        $("#dialog-proposed").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "Cancel": function () {
                    $(this).dialog("close");
                },
                "Save": function () {

                    $("#formAddProposed").submit();
                    $(this).dialog("close");
                }
            }
        });

        $('#formAddProposed').submit(function (event) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->baseUrl(); ?>/application/programentry/addproposed',
                data: $(this).serialize(),
                success: function (data) {
                    fill_proposed_body(data);
                    check_proposed_program(data);
                },
                dataType: 'json'
            });
            event.preventDefault();
        });

        $('#checkall').change(function () {
            $('.pprogram').prop('checked', $('#checkall').is(":checked"));
        });

       // fetch_academic_requirements();
        fetch_other_requirements();
        fetchproposedProgram();


        $('#tabs').tabs();
    });

    function fnGetProgramList() {

        var xhrArgs = {
            url: "<?php echo $this->baseUrl(); ?>" + "/application/programentry/getprogramlist/",
            handleAs: 'json',
            load: function (data) {
                AutoFillNextEditableDropDown("IdProgram", data);
            }
        }
        dojo.xhrGet(xhrArgs);

    }

    function changebutton() {
        var form = dijit.byId("myForm");
        var value = form.attr('value').IdProgramReq;

        if (value == "") {
            dijit.byId('Add').set('label', 'Add');
        } else {
            dijit.byId('Add').set('label', 'Update');
        }
    }

    function changebuttonother() {
        var form = dijit.byId("myForm");
        var value = form.attr('value').IdProgramReq;

        if (value == "") {
            dijit.byId('AddOther').set('label', 'Add');
        } else {
            dijit.byId('AddOther').set('label', 'Update');
        }
    }

    function fnget(value) {
        alert(value);
    }


    function addProgramentry() {
        var flag = true;

        if (dijit.byId("Group").value == '') {
            dijit.byId("Group").attr('required', 'true');
            dijit.byId("Group").focus();
            flag = false;
        }

//    if(dijit.byId("IdSpecialization").value==''){
//      dijit.byId("IdSpecialization").attr('required','true');
//      dijit.byId("IdSpecialization").focus();
//      flag = false;
//    }

        if (dijit.byId("EntryLevel") == '') {
            dijit.byId("EntryLevel").attr('required', 'true');
            dijit.byId("EntryLevel").focus();
            flag = false;
        }

        var EntryLevel = dijit.byId("EntryLevel");
        if (EntryLevel.get('value') == "") {
            EntryLevel.set('class', 'dijitTextBoxError dijitComboBoxError');
            flag = false;
        }

        if (flag == true) {
            programdetailsInsert();
        }
        return flag;
    }


    function programdetailsInsert() {

        var IdProgramEntry = dijit.byId("IdProgramEntry").value;
        var IdProgramReq = dijit.byId("IdProgramReq").value;
        var groupId = dijit.byId("Group").value;
        var Grouplabel = dijit.byId("Group").displayedValue;

        var EntryLevel = dijit.byId("EntryLevel").value;
        var EntryLevellabel = dijit.byId("EntryLevel").displayedValue;

        var IdSpecialization = dijit.byId("IdSpecialization").value;
        var Specializationlabel = dijit.byId("IdSpecialization").displayedValue;
        if (IdSpecialization == '') {
            IdSpecialization = "0";
            Specializationlabel = 'Any';
        }

        var Validity = dijit.byId("Validity").value;

        if (Validity == '') {
            Validity = '';
        }


        var Item = dijit.byId("Item");
        var Itemlabel = dijit.byId("Item").displayedValue;
        if (Item == '') {
            Itemlabel = '';
        }


        var Condition = dijit.byId("Condition");
        var Conditionlabel = dijit.byId("Condition").displayedValue;
        if (Condition == '') {
            Conditionlabel = '';
        }


        var Value = dijit.byId("Value").value;

        if (Value == '') {
            Value = '';
        }

        tosend = "IdProgramEntry=" + IdProgramEntry + "&IdProgramReq=" + IdProgramReq + "&IdSpecialization=" + IdSpecialization + "&Item=" + Item + "&EntryLevel=" + EntryLevel + "&Condition=" + Condition + "&Value=" + Value + "&Validity=" + Validity + "&groupId=" + groupId;
        $.ajax({
            type: "POST",
            data: tosend,
            url: "<?php echo $this->baseUrl(); ?>" + "/application/programentry/insertprogramreq",
            success: (function (data) {
                if (data == '1') {
                    fetch_academic_requirements();
                    updateprogramsummary();
                } else if (data == '2') {
                    alert("Duplicate Qualification");
                }
            }),
            dataType: 'html'
        });

    }

    function fetch_academic_requirements() {
        $.ajax({
            type: "POST",
            url: '<?php echo $this->baseUrl(); ?>/application/programentry/fetch-academic-requirements/id/' + <?php echo $this->idprogramentry; ?> ,
            success: function (data) {
                fill_academic_requirements(data);
            },
            dataType: 'json'
        });
    }

    function fill_academic_requirements(academic_requirements) {
        $('#academic_program').empty();
        $.each(academic_requirements, function (key, value) {
                if (value.SpecializationName == null) {
                    value.SpecializationName = '<?php echo $this->translate('Any'); ?>';
                }

                if (value.Itemname == null) {
                    value.Itemname = '';
                }

                if (value.Conditionname == null) {
                    value.Conditionname = '';
                }

                rowstring = "<tr id='academic_requirement_" + value.IdProgramEntryReq + "'>"
                    + "<td>" + value.Groupname + "</td>"
                    + "<td>" + value.EntryLevelname + "</td>"
                    + "<td>" + value.SpecializationName + "</td>"
                    + "<td>" + value.Validity + "</td>"
                    + "<td>" + value.Itemname + "</td>"
                    + "<td>" + value.Conditionname + "</td>"
                    + "<td>" + value.Value + "</td>"
                    + "<td><a href='#' onclick='delete_academic_requirement(" + value.IdProgramEntryReq + ")'>Delete</a></td>"
                    + "</tr>";
                $('#academic_program').append(rowstring);
            }
        );
    }

    function delete_academic_requirement(IdProgramEntryReq) {
        var ret = confirm("<?php echo $this->translate('Are you sure?'); ?>");
        if (ret) {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl(); ?>" + "/application/programentry/deleteprogramentry/IdProgramEntryReq/" + IdProgramEntryReq,
                handleAs: 'json',
                load: function (data) {
                    if (data == '1') {
                        $('#academic_requirement_' + IdProgramEntryReq).remove();
                        updateprogramsummary();
                    } else if (data == '2') {

                    }
                }
            }
            dojo.xhrPost(xhrArgs);


        }

    }


    function clearpageAdd() {
        dijit.byId("Group").set("value", "");
        dijit.byId("EntryLevel").set("value", "");
        dijit.byId("IdSpecialization").set("value", "");
        dijit.byId("Validity").set("value", "");
        dijit.byId("Item").set("value", "");
        dijit.byId("Condition").set("value", "");
        dijit.byId("Value").set("value", "");

    }

    function clearpageOther() {
        dijit.byId("GroupOther").set("value", "");
        dijit.byId("ItemOther").set("value", "");
        dijit.byId("ConditionOther").set("value", "");
        dijit.byId("ValueOther").set("value", "");

    }

    function getprogramentryreq($IdTemp, $groupId, $EntryLevel, $Specialization, $Item, $Validity, $Condition, $Value) {
        dijit.byId("IdProgramReq").set("value", $IdTemp);
        dijit.byId("Group").set("value", $groupId);
        dijit.byId("EntryLevel").set("value", $EntryLevel);
        dijit.byId("IdSpecialization").set("value", $Specialization);
        if ($Validity == '') {
            dijit.byId("Validity").set("value", '');
        } else {
            dijit.byId("Validity").set("value", $Validity);
        }
        dijit.byId("Condition").set("value", $Condition);
        if ($Value == '') {
            dijit.byId("Value").setValue('');
        } else {
            dijit.byId("Value").set("value", $Value);
        }
        if ($Item == '') {
            dijit.byId("Item").setValue('');
        } else {
            dijit.byId("Item").set("value", $Item);
        }
        changebutton();
    }

    function addOtherDetail() {
        var flag = true;

        if (dijit.byId("GroupOther").value == '') {
            dijit.byId("GroupOther").attr('required', 'true');
            dijit.byId("GroupOther").focus();
            flag = false;
        }

        if (dijit.byId("ItemOther").value == '') {
            dijit.byId("ItemOther").attr('required', 'true');
            dijit.byId("ItemOther").focus();
            flag = false;
        }

        if (dijit.byId("ConditionOther").value == '') {
            dijit.byId("ConditionOther").attr('required', 'true');
            dijit.byId("ConditionOther").focus();
            flag = false;
        }

        if (dijit.byId("ValueOther").value == '') {
            dijit.byId("ValueOther").attr('required', 'true');
            dijit.byId("ValueOther").focus();
            flag = false;
        }

        if (flag == true) {
            insertOtherDetails();
        }
        return flag;
    }

    function insertOtherDetails() {

        var IdProgramEntry = dijit.byId("IdProgramEntry").value;
        var GroupId = dijit.byId("GroupOther").value;
        var Item = dijit.byId("ItemOther").value;
        var Condition = dijit.byId("ConditionOther");
        var Value = dijit.byId("ValueOther").value;
        var IdProgramReq = dijit.byId("IdProgramReq").value;

        tosend = "IdProgramEntry=" + IdProgramEntry + "&IdProgramReq=" + IdProgramReq + "&GroupId=" + GroupId + "&Item=" + Item + "&Condition=" + Condition + "&Value=" + Value;
        $.ajax({
            type: "POST",
            data: tosend,
            url: "<?php echo $this->baseUrl(); ?>" + "/application/programentry/insertotherdetailreq",
            success: (function (data) {
                if (data == '1') {
                    fetch_other_requirements();
                    updateprogramsummary();
                } else if (data == '2') {
                    alert("Duplicate Qualification");
                }
            }),
            dataType: 'html'
        });
    }

    function fetch_other_requirements() {
        $.ajax({
            type: "POST",
            url: '<?php echo $this->baseUrl(); ?>/application/programentry/fetch-other-requirements/id/' + <?php echo $this->idprogramentry; ?> ,
            success: function (data) {
                fill_other_requirements(data);
            },
            dataType: 'json'
        });
    }

    function fill_other_requirements(other_requirements) {
        $('#other_details').empty();
        $.each(other_requirements, function (key, value) {


                if (value.Itemname == null) {
                    value.Itemname = '';
                }

                if (value.Conditionname == null) {
                    value.Conditionname = '';
                }

                rowstring = "<tr id='other_requirement_" + value.IdProgramEntryReqOtherDetail + "'>"
                    + "<td>" + value.GroupName + "</td>"
                    + "<td>" + value.Itemname + "</td>"
                    + "<td>" + value.Conditionname + "</td>"
                    + "<td>" + value.Value + "</td>"
                    + "<td><a href='#' onclick='deleteOtherDetails(" + value.IdProgramEntryReqOtherDetail + ")'>Delete</a></td>"
                    + "</tr>";
                $('#other_details').append(rowstring);
            }
        );
    }

    function deleteOtherDetails(IdProgramEntryReqOtherDetail) {
        if (confirm("Are you sure to delete")) {
            var xhrArgs = {
                url: "<?php echo $this->baseUrl(); ?>" + "/application/programentry/deleteotherdetail/IdProgramEntryReqOtherDetail/" + IdProgramEntryReqOtherDetail,
                handleAs: 'json',
                load: function (data) {
                    if (data == '1') {
                        $('#other_requirement_' + IdProgramEntryReqOtherDetail).remove();
                        updateprogramsummary();
                    }
                }
            }
            dojo.xhrPost(xhrArgs);
        }

    }

    function clearotherAdd() {
        dijit.byId("GroupOther").set("value", "");
        dijit.byId("ItemOther").set("value", "");
        dijit.byId("ConditionOther").set("value", "");
        dijit.byId("ValueOther").set("value", "");
    }

    function getotherdetail($IdTemp, $groupId, $Item, $Condition, $Value) {
        dijit.byId("IdProgramReq").set("value", $IdTemp);
        dijit.byId("GroupOther").set("value", $groupId);
        dijit.byId("ConditionOther").set("value", $Condition);
        dijit.byId("ValueOther").set("value", $Value);


        if ($Item == '') {
            dijit.byId("ItemOther").setValue('');
        } else {
            dijit.byId("ItemOther").set("value", $Item);
        }
        changebuttonother();
    }


    function AutoFillNextEditableDropDown(EditableDropDownId, JSONText) {

        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label: "name"
            , identifier: "key",
            items: JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore({data: options});
    }

    function addProposed() {
        $("#dialog-proposed").dialog('open');
    }

    function fill_proposed_body(proposed_programs) {
        $('#proposed_program_body').empty();
        $.each(proposed_programs, function (key, value) {
                rowstring = "<tr id='proposed_row_" + value.pp_id + "'>"
                    + "<td width='15%'>" + value.ProgramCode + "</td>"
                    + "<td width='40%'>" + value.ProgramName + "</td>"
                    + "<td width='35%'>" + value.award + "</td>"
                    + "<td><a href='#' onclick='removeProposedProgram(" + value.pp_id + ")'>Delete</a></td>"
                    + "</tr>";
                $('#proposed_program_body').append(rowstring);
            }
        );
    }

    function check_proposed_program(proposed_programs) {
        $('.pprogram').prop('checked', false);
        $.each(proposed_programs, function (key, value) {
            $('#proposed_program_' + value.IdProgram).prop('checked', true);
        });
    }

    function fetchproposedProgram() {
        $.ajax({
            type: "POST",
            url: '<?php echo $this->baseUrl(); ?>/application/programentry/fetchproposed/id/' + <?php echo $this->idprogramentry; ?> ,
            success: function (data) {
                fill_proposed_body(data);
                check_proposed_program(data);
            },
            dataType: 'json'
        });
    }

    function removeProposedProgram(id) {
        $.ajax({
            type: "POST",
            url: '<?php echo $this->baseUrl(); ?>/application/programentry/removeproposed/program_id/' + id,
            success: function (data) {
                $('#proposed_row_' + id).remove();
                updateprogramsummary();
            },
            dataType: 'json'
        });
        $('#proposed_program_' + id).prop('checked', false);
    }

    function updateprogramsummary() {
        $.ajax({
            type: "GET",
            url: '<?php echo $this->baseUrl(); ?>/application/programentry/generatesummary/id/' + <?php echo $this->idprogramentry; ?> ,
            success: function (data) {
                $('#program_requirements_summary').html(data)
            },
            dataType: 'html'
        });

    }

</script>