<fieldset>
  <legend><?php echo $this->translate("Summary Of Programme Requirement"); ?></legend>
  <table class="table" width="100%">
    <?php 
    $group_count = 0;
    foreach($this->academicsreq_bygroup as $group_id => $academic_requirements) { 
      $group_count++;
    ?>
      <th>
        <?php if($group_count > 1) { ?>
          <?php echo $this->translate('OR'); ?> - 
        <?php } ?>
        <?php echo $this->groupincurrentreq[$group_id]; ?>
      </th>
    </tr>
      <?php if(!empty($academic_requirements['academic_requirement'])) { ?>
        <?php foreach($academic_requirements['academic_requirement'] as $acad_req) { ?>
        <tr>
          <td>
            PASSED  <?php echo $acad_req['EntryLevelname']?> 
            <?php if(!empty($acad_req['Itemname'])) { ?>
            WITH <?php echo $acad_req['Itemname'];?>
             <?php echo $acad_req['Conditionname'];?>
             <?php echo $acad_req['Value'];?>
            <?php if(isset($this->programentrysubjectacad_req)){?>
              <?php foreach($this->programentrysubjectacad_req as $program){?>
              <?php if($acad_req['GroupId']==$program['GroupId']){?>
              ,Minimum Grade Point <?php if($program['IdSubject'] == 0){?>
                <?php echo $program['MinGradePoint'];?> for Any <?php echo $program['NoofSubject'].' '.$program['fosn']?> Subject(s),
              <?php }else{?>

                <?php echo $program['MinGradePoint'];?> for <?php echo $program['SubjectName'];?>
              <?php }?>

              <?php }
                  }
                }?>
            <?php } ?>
          </td>
        </tr>
        <?php } ?>
      <?php } ?>

      <?php if(!empty($academic_requirements['other_requirement'])) { ?>
        <?php foreach($academic_requirements['other_requirement'] as $acad_req) { ?>
        <tr>
          <td>
            <?php echo $acad_req['Itemname'];?> <?php echo $acad_req['Conditionname'];?> <?php echo $acad_req['Value'];?>
          </td>
        </tr>
        <?php } ?>
      <?php } ?>

    <?php } ?>
  </table>
</fieldset>