<head>
    <script>
        dojo.addOnLoad(function () {
            //dijit.byId('field3').focus();
            dijit.byId("field1").set('value', '');
            dijit.byId("field1").set('placeHolder', 'Select');
        });
    </script>
</head>

<div class="message toolbar">
    <h2>
        <?php echo $this->translate('Entry Requirements'); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'newprogramentry'), 'default', true); ?>">
                    <span class='add'></span>
                    Add
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<fieldset>
    <legend><?php echo $this->translate("Search"); ?></legend>
    <form action="<?php echo $this->baseUrl(); ?>/application/programentry/index/search/1" method="POST">
        <table width="100%">
            <tr>
                <td width="20%"><?php echo $this->translate('Scheme'); ?></td>
                <td><?php echo $this->lobjform->field1; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate($this->Program); ?></td>
                <td><?php echo $this->lobjform->IdProgram; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <?php echo $this->lobjform->Search; ?>
                    <?php echo $this->lobjform->Clear; ?>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate('Scheme'); ?></th>
        <th><?php echo $this->translate('Old Scheme'); ?></th>
        <th><?php echo $this->translate('Program Code'); ?></th>
        <th><?php echo $this->translate($this->Program) . ' ' . $this->translate("Name"); ?></th>
        <th><?php echo $this->translate('Program Scheme'); ?></th>
        <th><?php echo $this->translate("From Date"); ?></th>
        <th><?php echo $this->translate("End Date"); ?></th>
<!--        <th>--><?php //echo $this->translate("Open Entry"); ?><!--</th>-->
        <th></th>
    </tr>
    <?php if (count($this->paginator)):

        ?>
        <?php foreach ($this->paginator as $lobjprogrambranch): ?>
            <tr>
                <td><?php echo $lobjprogrambranch['EnglishDescription'];?></td>
                <td><?php echo $lobjprogrambranch['SchemeOld'];?></td>
                <td><?php echo ($lobjprogrambranch['ProgramCode']) ? $lobjprogrambranch['ProgramCode'] : 'ALL';?></td>
                <td>
                    <a href="<?php echo $this->baseUrl(); ?>/application/programentry/editprogramentry/id/<?php echo $this->escape($lobjprogrambranch['IdProgramEntry']); ?>"><?php echo ($lobjprogrambranch['ProgramName'])?$lobjprogrambranch['ProgramName'] : 'ALL'; ?></a>
                </td>
                <td><?php echo $lobjprogrambranch['mode_of_program'];?> <br><?php echo $lobjprogrambranch['mode_of_study'];?> <?php echo $lobjprogrambranch['program_type'];?></td>
                <td><?php echo format_date_to_view($lobjprogrambranch['StartDate'], 'd-m-Y'); ?></td>
                <td><?php echo format_date_to_view($lobjprogrambranch['EndDate'], 'd-m-Y'); ?></td>
<!--                <td>--><?php //echo ($lobjprogrambranch['open_entry'] == 1) ? 'Yes' : 'No';?><!--</td>-->
                <td align="center">
                    <a href="<?php echo $this->baseUrl(); ?>/application/programentry/editmainprogramentry/id/<?php echo $this->escape($lobjprogrambranch['IdProgramEntry']); ?>">Edit</a>
                </td>

            </tr>
        <?php endforeach; ?>
    <?php endif; ?>

</table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>
