<div class="message toolbar">
    <h2>
        <?php echo $this->translate('New Entry Requirements'); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'index'), 'default', true); ?>"
                   onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>
<br/>

<form dojoType="dijit.form.Form" id="myForm" action="" method="POST" name="myform">
    <script type="dojo/method" event="onSubmit">
      var flag = true;
      $.ajax({
          type: 'POST',
          async: false,
          url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'checkclash'), 'default', true); ?>',
          data: $('#myForm').serialize(),
          success: function(data) {
            if(data == 'true') {
             alert('<?php echo $this->translate('Program requirement already set at that duration'); ?>');
              flag = false;
              return false;
            }  else {
              flag = true;
              return false;
            }
          }
      });
      
      if (flag) {
          //and last check
					flag = this.validate();
					return flag;
				} else {
					return false;
      }





    </script>
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Program Entry"); ?><?php echo $this->lobjprogramentryform->UpdDate; ?>
                <?php echo $this->lobjprogramentryform->UpdUser; ?></th>
        </tr>
        <tr>
            <td width="20%"><?php echo $this->translate('Scheme') ?><span class="reqMark">*</span></td>
            <td width="30%"><?php echo $this->lobjprogramentryform->IdScheme; ?><?php echo $this->lobjprogramentryform->IdProgramReq; ?><?php echo $this->lobjprogramentryform->IdProgramEntry; ?></td>
            <td width="20%"><?php echo $this->translate("Start Date") ?></td>
            <td width="30%"><?php echo $this->lobjprogramentryform->StartDate; ?>
        </tr>
        <tr>
            <td><?php echo $this->translate("Program") ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjprogramentryform->IdProgram; ?></td>
            <td><?php echo $this->translate("End Date") ?></td>
            <td><?php echo $this->lobjprogramentryform->EndDate; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Program Scheme") ?></td>
            <td><?php echo $this->lobjprogramentryform->IdProgramScheme; ?></td>
            <td><?php echo $this->translate("Website URL"); ?></td>
            <td><?php echo $this->lobjprogramentryform->pe_url; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Open Entry?") ?></td>
            <td colspan="3"><?php echo $this->lobjprogramentryform->open_entry; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Proposal Submission?") ?></td>
            <td colspan="3"><?php echo $this->lobjprogramentryform->pe_proposal; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Description"); ?></td>
            <td colspan="3"><?php echo $this->lobjprogramentryform->Description; ?></td>
        </tr>

    </table>
    <br>
    <table class="table" width="100%">
        <tr>
            <td align="center">
                <?php echo $this->lobjprogramentryform->Save; ?>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">

    dojo.addOnLoad(function () {
        dijit.byId('IdProgram').set('value', '');
        dijit.byId('IdProgram').set('placeHolder', '<?php echo $this->translate('Select')?>');

        dijit.byId('IdProgramScheme').set('value', '');
        dijit.byId('IdProgramScheme').set('placeHolder', '<?php echo $this->translate('Select')?>');

    });

    function getProgramScheme() {
        var id_program = dijit.byId("IdProgram");

        if (id_program != '') {
            var xhrArgs = {
                url: "/generalsetup/intake/get-program-data/type/scheme/idProgram/" + id_program,
                handleAs: 'json',
                load: function (data) {
                    if (data) {
                        AutoFillNextEditableDropDown('IdProgramScheme', data);
                    }
                },
                error: function (error) {
                }
            }
            dojo.xhrGet(xhrArgs);
        }
    }

    function AutoFillNextEditableDropDown(EditableDropDownId, JSONText) {
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        ddwidget.setAttribute('required', false);
        var options = {
            label: "name",
            identifier: "key",
            items: JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore({data: options});
    }


</script>