<div class="message toolbar">
    <h2>
        <?php echo $this->translate('New Entry Requirements'); ?>
    </h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'index'), 'default', true); ?>"
                   onclick="return back()"><span class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>
<br/>

<fieldset>
    <legend><?php echo $this->translate($this->Program) . ' ' . $this->translate("Entry"); ?></legend>
    <form dojoType="dijit.form.Form" id="myForm" action="" method="POST" name="myform">
        <script type="dojo/method" event="onSubmit">
      var flag = true;
      $.ajax({
          type: 'POST',
          async: false,
          url: '<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'checkclash'), 'default', true); ?>',
          data: $('#myForm').serialize(),
          success: function(data) {
            if(data == 'true') {
             alert('<?php echo $this->translate('Program requirement already set at that duration'); ?>');
              flag = false;
              return false;
            }  else {
              flag = true;
              return false;
            }
          }
      });
      
      if (flag) {
          //and last check
					flag = this.validate();
					return flag;
				} else {
					return false;
      }


        </script>
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Program Entry"); ?><?php echo $this->lobjprogramentryform->UpdDate; ?>
                    <?php echo $this->lobjprogramentryform->UpdUser; ?></th>
            </tr>
            <tr>
                <td width="20%"><?php echo $this->translate('Scheme') ?><span class="reqMark">*</span></td>
                <td width="30%"><?php echo $this->lobjprogramentryform->IdScheme; ?><?php echo $this->lobjprogramentryform->IdProgramReq; ?><?php echo $this->lobjprogramentryform->IdProgramEntry; ?></td>
                <td width="20%"><?php echo $this->translate("Start Date") ?></td>
                <td width="30%"><?php echo $this->lobjprogramentryform->StartDate; ?>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program") ?><span class="reqMark">*</span></td>
                <td><?php echo $this->lobjprogramentryform->IdProgram; ?></td>
                <td><?php echo $this->translate("End Date") ?></td>
                <td><?php echo $this->lobjprogramentryform->EndDate; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Program Scheme") ?></td>
                <td><?php echo $this->lobjprogramentryform->IdProgramScheme; ?></td>
                <td><?php echo $this->translate("Website URL"); ?></td>
                <td><?php echo $this->lobjprogramentryform->pe_url; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Open Entry?") ?></td>
                <td colspan="3"><?php echo $this->lobjprogramentryform->open_entry; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Proposal Submission?") ?></td>
                <td colspan="3"><?php echo $this->lobjprogramentryform->pe_proposal; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate("Description"); ?></td>
                <td colspan="3"><?php echo $this->lobjprogramentryform->Description; ?></td>
            </tr>

        </table>


        <div id="tabs">
            <ul>
                <li><a href="#program_requirements"><?php echo $this->translate('Requirements'); ?></a></li>
                <li><a href="#other_requirements"><?php echo $this->translate('Other Requirements'); ?></a></li>
                <li><a href="#proposed_program"><?php echo $this->translate('Proposed Programme'); ?></a></li>
            </ul>
            <div id="program_requirements">
                <table class="table" width="100%">
                    <tr>
                        <th colspan="4"><?php echo $this->translate($this->Program) . ' ' . $this->translate("Requirements") ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Group") ?><span class="reqMark">*</span></td>
                        <td><?php echo $this->lobjprogramentryform->Group; ?><span id='awards'></span></td>
                        <td><?php echo $this->translate("Qualification"); ?><span class="reqMark">*</span></td>
                        <td><?php echo $this->lobjprogramentryform->EntryLevel; ?><span id='awards'></span></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Specialization") ?><span class="reqMark">*</span></td>
                        <td><?php echo $this->lobjprogramentryform->IdSpecialization; ?></td>
                        <td><?php echo $this->translate("Validity (Years)") ?><span class="reqMark"></span></td>
                        <td><?php echo $this->lobjprogramentryform->Validity; ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Result Item") ?></td>
                        <td><?php echo $this->lobjprogramentryform->Item; ?></td>
                        <td><?php echo $this->translate("Condition") ?></td>
                        <td><?php echo $this->lobjprogramentryform->Condition; ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Result Value") ?></td>
                        <td><?php echo $this->lobjprogramentryform->Value; ?></td>

                    </tr>

                    <tr>
                        <td colspan="4"
                            align="right"><?php echo $this->lobjprogramentryform->Add; ?><?php echo $this->lobjprogramentryform->Clear; ?>
                        </td>
                    </tr>
                </table>
                <table class="table" width="100%" id="hor">
                    <tr>
                        <th><?php echo $this->translate("Group") . ' ' . $this->translate("Id") ?></th>
                        <th><?php echo $this->translate("Qualification") ?></th>
                        <th><?php echo $this->translate("Specialization") ?></th>
                        <th><?php echo $this->translate("validity") ?></th>
                        <th><?php echo $this->translate("Result") . '' . $this->translate("Item") ?></th>
                        <th><?php echo $this->translate("Condition") ?></th>
                        <th><?php echo $this->translate("Result Value") ?></th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div id="other_requirements">
                <table class="table" width="100%">
                    <tr>
                    </tr>
                    <tr>
                        <th colspan="4"><?php echo $this->translate("Other Requirements") ?></th>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Group") ?><span class="reqMark">*</span></td>
                        <td><?php echo $this->lobjprogramentryform->GroupOther; ?><span id='awards'></span></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Type") ?></td>
                        <td><?php echo $this->lobjprogramentryform->ItemOther; ?></td>
                        <td><?php echo $this->translate("Condition") ?></td>
                        <td><?php echo $this->lobjprogramentryform->ConditionOther; ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate("Result Value") ?></td>
                        <td><?php echo $this->lobjprogramentryform->ValueOther; ?></td>
                    </tr>

                    <tr>
                        <td colspan="4" align="right">
                            <?php
                            $this->lobjprogramentryform->clearOther->setAttrib('OnClick', 'clearpageAddOther()');
                            $this->lobjprogramentryform->AddOther->setAttrib('OnClick', 'otherdetailsInsert()');
                            echo $this->lobjprogramentryform->AddOther;
                            echo $this->lobjprogramentryform->ClearOther;
                            ?>
                        </td>
                    </tr>
                </table>

                <table class="table" width="100%" id="horother">
                    <tr>
                        <th><?php echo $this->translate("Group") ?></th>
                        <th><?php echo $this->translate("Type") ?></th>
                        <th><?php echo $this->translate("Condition") ?></th>
                        <th><?php echo $this->translate("Result Value") ?></th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div id="proposed_program">
                <table class="table" width="100%" cellpadding="5" cellspacing="1">
                    <tr>
                        <th><?php echo $this->translate("Proposed Program") ?></th>
                    </tr>
                    <tr>
                        <td><a class="positive addLink" href="#" onClick="javscript:addProposed();">Set Proposed
                                Program </a></td>
                    </tr>
                </table>

                <table class="table" width="100%">
                    <thead>
                    <tr>
                        <th><?php echo $this->translate('Program Code'); ?></th>
                        <th><?php echo $this->translate('Program Name'); ?></th>
                        <th><?php echo $this->translate('Award'); ?></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="proposed_program_body">
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table" width="100%">
            <tr>
                <td align="center">
                    <?php echo $this->lobjprogramentryform->Save; ?>
                </td>
            </tr>
        </table>
    </form>
</fieldset>

<div id="dialog-proposed" title="<?php echo $this->translate("Proposed Program"); ?>">
    <form name="formAddProposed" id="formAddProposed" method="post"
          action="<?php echo $this->url(array('module' => 'application', 'controller' => 'programentry', 'action' => 'addproposedtemp'), 'default', true); ?>">
        <input type="hidden" name="idProgram" id="idprogramentry" value="<?php echo $this->idprogramentry; ?>">
        <table class="table" width="100%">
            <tr>
                <th><input type="checkbox" name="checkall"
                           id="checkall">&nbsp;<?php echo $this->translate("Check All") ?></th>
                <th><?php echo $this->translate('Program Code'); ?></th>
                <th><?php echo $this->translate('Program Name'); ?></th>
                <th><?php echo $this->translate('Award'); ?></th>
            </tr>
            <?php
            if (!empty($this->programs)) {
                foreach ($this->programs as $program) {
                    ?>
                    <tr>
                        <td width='10%'><input class='chk pprogram'
                                               id="proposed_program_<?php echo $program['IdProgram']; ?>"
                                               type='checkbox' name='proposed_program[]'
                                               value='<?php echo $program['IdProgram']; ?>'></input></td>
                        <td width='15%'><?php echo $program['ProgramCode']; ?></td>
                        <td width='40%'><?php echo $program['ProgramName']; ?></td>
                        <td width='40%'><?php echo $program['award']; ?></td>
                    </tr>
                <?php }
            } ?>
        </table>
    </form>
</div>


<script type="text/javascript">
    var rowid = 1;
    var rowidother = 1;
    dojo.addOnLoad(function () {

        dijit.byId("Group").set('value', '');
        dijit.byId("Group").set('placeHolder', 'Select');
        dijit.byId("Item").set('value', '');
        dijit.byId("Item").set('placeHolder', 'Select');
        dijit.byId("Condition").set('value', '');
        dijit.byId("Condition").set('placeHolder', 'Select');
        dijit.byId("IdSpecialization").set('value', '');
        dijit.byId("IdSpecialization").set('placeHolder', 'Select');
        dijit.byId("IdProgram").set('value', '');
        dijit.byId("IdProgram").set('placeHolder', 'Select');
        dijit.byId("EntryLevel").set('value', '');
        dijit.byId("EntryLevel").set('placeHolder', 'Select');
        //disableCheck();

        $("#dialog-proposed").dialog({
            modal: true,
            autoOpen: false,
            width: 600,
            buttons: {
                "Cancel": function () {
                    $(this).dialog("close");
                },
                "Save": function () {

                    $("#formAddProposed").submit();
                    $(this).dialog("close");
                }
            }
        });

        $('#formAddProposed').submit(function (event) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->baseUrl(); ?>/application/programentry/addproposedtemp',
                data: $(this).serialize(),
                success: function (data) {
                    fill_proposed_body(data);
                    check_proposed_program(data);
                },
                dataType: 'json'
            });
            event.preventDefault();
        });

        $('#checkall').change(function () {
            $('.pprogram').prop('checked', $('#checkall').is(":checked"));
        });

        $('#tabs').tabs();

    });


    function addProgramentry() {
        var flag = true;

        if (dijit.byId("Group").value == '') {
            dijit.byId("Group").attr('required', 'true');
            dijit.byId("Group").focus();
            flag = false;
        }

        if (dijit.byId("IdSpecialization").value == '') {
            dijit.byId("IdSpecialization").attr('required', 'true');
            dijit.byId("IdSpecialization").focus();
            flag = false;
        }


        if (dijit.byId("EntryLevel") == '') {
            dijit.byId("EntryLevel").attr('required', 'true');
            dijit.byId("EntryLevel").focus();
            flag = false;
        }

        var EntryLevel = dijit.byId("EntryLevel");
        if (EntryLevel.get('value') == "") {
            EntryLevel.set('class', 'dijitTextBoxError dijitComboBoxError');
            flag = false;
        }

        if (flag == true) {
            programdetailsInsert();
        }
        return flag;
    }

    var batchArray = new Array();
    var oldContent = "";
    var NoCnt = 0;

    function programdetailsInsert() {

        var Group = dijit.byId("Group");
        var Grouplabel = dijit.byId("Group").displayedValue;

        var EntryLevel = dijit.byId("EntryLevel");
        var EntryLevellabel = dijit.byId("EntryLevel").displayedValue;

        var Specialization = dijit.byId("IdSpecialization");
        var Specializationlabel = dijit.byId("IdSpecialization").displayedValue;
        if (Specialization == '') {
            Specializationlabel = 'Any';
        }

        var Validity = dijit.byId("Validity").value;

        if (Validity == '') {
            Validity = '';
        }


        var Item = dijit.byId("Item");
        var Itemlabel = dijit.byId("Item").displayedValue;
        if (Item == '') {
            Itemlabel = '';
        }


        var Condition = dijit.byId("Condition");
        var Conditionlabel = dijit.byId("Condition").displayedValue;
        if (Condition == '') {
            Conditionlabel = '';
        }


        var Value = dijit.byId("Value").value;

        if (Value == '') {
            Value = '';
        }

        var trow = document.getElementById('hor').insertRow(rowid);
        var tcol1 = trow.insertCell(0);
        var tcol2 = trow.insertCell(1);
        var tcol3 = trow.insertCell(2);
        var tcol4 = trow.insertCell(3);
        var tcol5 = trow.insertCell(4);
        var tcol6 = trow.insertCell(5);
        var tcol7 = trow.insertCell(6);
        var tcol8 = trow.insertCell(7);


        tcol1.innerHTML = "<input type='hidden' value='" + Group + "' name=groupgrid[]>" + Grouplabel;
        tcol2.innerHTML = "<input type='hidden' value='" + EntryLevel + "' name=EntryLevelgrid[]>" + EntryLevellabel;
        tcol3.innerHTML = "<input type='hidden' value='" + Specialization + "' name=Specializationgrid[]>" + Specializationlabel;
        tcol4.innerHTML = "<input type='hidden' value='" + Validity + "' name=Validitygrid[]>" + Validity;
        tcol5.innerHTML = "<input type='hidden' value='" + Item + "' name=Itemgrid[]>" + Itemlabel;
        tcol6.innerHTML = "<input type='hidden' value='" + Condition + "' name=Conditiongrid[]>" + Conditionlabel;
        tcol7.innerHTML = "<input type='hidden' value='" + Value + "' name=Valuegrid[]>" + Value;
        tcol8.innerHTML = "<a href='#' onClick='deleteRow(this); return false;'>delete</a>";
        rowid++;
    }


    function deleteRow(r) {
        var ret = confirm("Are you sure to delete");
        if (ret) {
            rowid--;
            var i = r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i - 1), 1);
            document.getElementById('hor').deleteRow(i);
        }
    }

    function otherdetailsInsert() {

        var Group = dijit.byId("GroupOther");
        var Grouplabel = dijit.byId("GroupOther").displayedValue;

        var Item = dijit.byId("ItemOther");
        var Itemlabel = dijit.byId("ItemOther").displayedValue;
        if (Item == '') {
            Itemlabel = '';
        }


        var Condition = dijit.byId("ConditionOther");
        var Conditionlabel = dijit.byId("ConditionOther").displayedValue;
        if (Condition == '') {
            Conditionlabel = '';
        }


        var Value = dijit.byId("ValueOther").value;

        if (Value == '') {
            Value = '';
        }

        var trow = document.getElementById('horother').insertRow(rowidother);
        var tcol1 = trow.insertCell(0);
        var tcol2 = trow.insertCell(1);
        var tcol3 = trow.insertCell(2);
        var tcol4 = trow.insertCell(3);
        var tcol5 = trow.insertCell(4);


        tcol1.innerHTML = "<input type='hidden' value='" + Group + "' name=groupothergrid[]>" + Grouplabel;
        tcol2.innerHTML = "<input type='hidden' value='" + Item + "' name=Itemothergrid[]>" + Itemlabel;
        tcol3.innerHTML = "<input type='hidden' value='" + Condition + "' name=Conditionothergrid[]>" + Conditionlabel;
        tcol4.innerHTML = "<input type='hidden' value='" + Value + "' name=Valueothergrid[]>" + Value;
        tcol5.innerHTML = "<a href='#' onClick='deleteOtherRow(this); return false;'>delete</a>";
        rowidother++;
    }


    function deleteOtherRow(r) {
        var ret = confirm("Are you sure to delete");
        if (ret) {
            rowidother--;
            var i = r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i - 1), 1);
            document.getElementById('horother').deleteRow(i);
        }
    }


    function arrHasDupes(A) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n = A.length;
        // to ensure the fewest possible comparisons
        for (i = 0; i < n; i++) {                // outer loop uses each item i at 0 through n
            for (j = i + 1; j < n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i] == A[j]) return true;
            }
        }
        return false;
    }

    Array.prototype.unique = function () {
        var r = new Array();
        o:for (var i = 0, n = this.length; i < n; i++) {
            for (var x = 0, y = r.length; x < y; x++) {
                if (r[x] == this[i]) {
                    continue o;
                }

            }
            r[r.length] = this[i];
        }
        return r;
    }

    function clearpageAdd() {
        dijit.byId("Group").set("value", "");
        dijit.byId("EntryLevel").set("value", "");
        dijit.byId("IdSpecialization").set("value", "");
        dijit.byId("Validity").set("value", "");
        dijit.byId("Item").set("value", "");
        dijit.byId("Condition").set("value", "");
        dijit.byId("Value").set("value", "");
    }

    function clearpageAddOther() {
        dijit.byId("GroupOther").set("value", "");
        dijit.byId("ItemOther").set("value", "");
        dijit.byId("ConditionOther").set("value", "");
        dijit.byId("ValueOther").set("value", "");
    }

    function AutoFillNextEditableDropDown(EditableDropDownId, JSONText) {
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label: "name",
            identifier: "key",
            items: JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore({data: options});
    }

    function addProposed() {
        $("#dialog-proposed").dialog('open');
    }

    function check_proposed_program(proposed_programs) {
        $('.pprogram').prop('checked', false);
        $.each(proposed_programs, function (key, value) {
            $('#proposed_program_' + value.IdProgram).prop('checked', true);
        });
    }

    function fill_proposed_body(proposed_programs) {
        $('#proposed_program_body').empty();
        $.each(proposed_programs, function (key, value) {
                rowstring = "<tr id='proposed_row_" + value.IdProgram + "'>"
                    + "<td width='15%'>" + value.ProgramCode + "</td>"
                    + "<td width='40%'>" + value.ProgramName + "</td>"
                    + "<td width='35%'>" + value.award + "</td>"
                    + "<td><a href='#' onclick='removeProposedProgram(" + value.IdProgram + ");$(this).parent().parent().remove();'>delete</a>"
                    + "<input type='hidden' name='proposed_program[]' value='" + value.IdProgram + "' >"
                    + "</td>"
                    + "</tr>";
                $('#proposed_program_body').append(rowstring);
            }
        );
    }


    function removeProposedProgram(id) {

        $('#proposed_program_' + id).prop('checked', false);
    }

</script>