<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip', 'action'=>'exam-center-setup', 'id'=>$this->info['esr_id']),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="20%"><?php echo $this->translate('Semester'); ?></td>
            <td width="1%">:</td>
            <td><?php echo $this->info['SemesterMainName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Assesment Type'); ?></td>
            <td>:</td>
            <td><?php echo $this->info['assessment_name']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Date & Time Release'); ?></td>
            <td>:</td>
            <td><?php echo date('d-m-Y h:i a', strtotime($this->info['esr_date'].' '.$this->info['esr_time'])); ?></td>
        </tr>
    </table>
</fieldset>
<br />
<fieldset>
    <legend><?php echo $this->title; ?></legend>
    <form method="post" id="add_form" name="add_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Exam Center'); ?> <span class="reqMark">*</span></td>
                <td>
                    <select id="exam_center" name="exam_center" class="select" required="required">
                        <option value="">-- Please Select --</option>
                        <?php
                        if ($this->examCenter) {
                            foreach ($this->examCenter as $examCenter) {
                                ?>
                                <option value="<?php echo $examCenter['ec_id']; ?>"><?php echo $examCenter['ec_name']; ?></option>
                                <?php
                            }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="add" name="add" value="add"><?php echo $this->translate('Add Exam Center'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>