<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if (isset($this->student_list)){
    ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr>
            <th><?php echo $this->translate("Student Name");?></th>
            <th><?php echo $this->translate("Student ID");?></th>
            <th><?php echo $this->translate("Programme");?></th>
            <th><?php echo $this->translate("Student Status");?></th>
            <th><?php echo $this->translate("TER Status");?></th>
            <th><?php echo $this->translate("Exam Attend");?></th>
        </tr>
        <?php
        foreach ($this->student_list as $lobjstudents){
        ?>
        <tr>
            <td align="left"><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_lname']);?></td>
            <td align="center"><?php echo $this->escape($lobjstudents['registrationId']);?></td>
            <td align="center"><?php echo $this->escape($lobjstudents['ProgramCode']);?></td>
            <td align="center"><?php echo $this->escape($lobjstudents['profileStatus']);?></td>
            <td align="center">
                <?php
                echo $lobjstudents['terstatus'] == 0 ? 'Complete':'Incomplete';
                ?>
            </td>
            <td align="center">
                <?php
                if (isset($lobjstudents['examlist']) && count($lobjstudents['examlist']) > 0){
                    ?>
                    <table class="table" width="100%" cellpadding="5" cellspacing="1">
                        <tr>
                            <th>Exam Center</th>
                            <th>Course</th>
                            <th>Attendance Status</th>
                        </tr>
                        <?php
                        foreach ($lobjstudents['examlist'] as $examList){
                            ?>
                            <tr>
                                <td><?php echo $examList['ec_name']; ?></td>
                                <td><?php echo $examList['SubCode'].' - '.$examList['SubjectName']; ?></td>
                                <td><?php echo $examList['attStatus']; ?></td>
                            </tr>
                            <?php
                        }
                        ?>
                    </table>
                    <?php
                }
                ?>
            </td>
            <?php
            }
            ?>
        </tr>
    </table>
    <?php
}
?>
