<script type="text/javascript">
    $(function(){
        $('.check-all').on('click', function(){
            $('.check').prop('checked', this.checked);

            /*if ( this.checked == true ){
                $('.check').parent().parent().addClass('hlchk');
            }else{
                $('.check').parent().parent().removeClass('hlchk');
            }*/
        });

        $('.check').on('change', function(){
            //$(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');

            if ( this.checked == true ){
                if ($('.check').not(':checked').length == 0){
                    $('.check-all').prop('checked', true);
                }else{
                    $('.check-all').prop('checked', false);
                }
            }
            else{
                $('.check-all').prop('checked', false);
            }
        });

        if ($('.check').not(':checked').length == 0){
            $('.check-all').prop('checked', true);
        }
    });
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip', 'action'=>'add-exam-center', 'id'=>$this->info['esr_id']),'default',true);?>" >
                    <span class='add'></span>
                    <?php echo $this->translate("Add Exam Center");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="20%"><?php echo $this->translate('Semester'); ?></td>
            <td width="1%">:</td>
            <td><?php echo $this->info['SemesterMainName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Assesment Type'); ?></td>
            <td>:</td>
            <td><?php echo $this->info['assessment_name']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Date & Time Release'); ?></td>
            <td>:</td>
            <td><?php echo date('d-m-Y h:i a', strtotime($this->info['esr_date'].' '.$this->info['esr_time'])); ?></td>
        </tr>
    </table>
</fieldset>
<br />
<div class="message notice"><span class="icon-info-circled"></span> Please tick to publish SOE for exam center</div>
<br />
<form method="post" id="ecform" name="ecform">
    <table width="100%" class="table">
        <tr>
            <th width="2%"><input type="checkbox" name="check-all" id="check-all" class="check-all" title="Check All"></th>
            <th><?php echo $this->translate('Exam Center Name'); ?></th>
            <th></th>
        </tr>
        <?php
        if ($this->ecList) {
            foreach ($this->ecList as $ecLoop) {
                ?>
                <tr>
                    <td><input type="checkbox" name="check[<?php echo $ecLoop['rec_id']; ?>]" id="check_<?php echo $ecLoop['rec_id']; ?>" <?php echo $ecLoop['rec_status']==1 ? 'checked=""':''; ?> class="check"></td>
                    <td><?php echo $ecLoop['ec_name']; ?></td>
                    <td align="center" class="option">
                        <?php
                        if ($ecLoop['rec_status']==1) {
                            ?>
                            <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip', 'action'=>'course-setup', 'id'=>$ecLoop['rec_id']),'default',true);?>"><?php echo $this->translate('Course Setup'); ?></a>
                            <?php
                        }
                        ?>
                    </td>
                </tr>
                <?php
            }
        } else {
            ?>
            <tr>
                <td colspan="3"><?php echo $this->translate('No Exam Center Setup'); ?></td>
            </tr>
            <?php
        }
        ?>
    </table>
    <div class="form-opt">
        <button type="submit" name="save" id="save" value="save"><?php echo $this->translate('Save'); ?></button>
    </div>
</form>
