<script>

$(function() {
    $( "#tabs" ).tabs();


	$('.datepicker').datepicker({
		dateFormat: 'dd-mm-yy',			
		changeMonth: true,
		changeYear: true
	});

	$(".timepicker").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});

	  
    $( "#dialog-edit-status" ).dialog({
        autoOpen: false,
		resizable: false,
        height:180,
        modal: true,
        open: function(){
	  	  $('input').blur();	  	  
	  	},  
        buttons: {
        	"Save": function() {

	  		var flag=true;
	  		 		  		 	
    			if( $('#esr_date').val()=='' ){
    				$('#esr_date').addClass('error');
    				//$("<div id='notice' class='error'>Please enter work experience</div>").insertBefore("#esr_date");
    				var flag =  false;	
    			}

    			if( $('#esr_time').val()=='' ){
    				//$('#esr_time').addClass('error');
    				var flag = false;	
    			}

    		 	if(flag==true){
        			$('#form_edit_status').submit();
    		 	}else{
					return false;
    		 	}
          	},
          	Cancel: function() {
            	$( this ).dialog( "close" );
          	}
        }
	});


	
});
  
function print_final_exam(sid, nim, ass_type){

	if(sid !="" && nim!=""){

		var sem = $('#semester').val();
		
		$('#form_print_kpu').remove();
		$('body').append(
			$('<form />')
			.attr('id','form_print_kpu')
			.attr('action','/examination/exam-slip/print-exam-slip/')
			.attr('method','post')			
			.attr('target','_BLANK')
			.append(
				'<input type="hidden" name="sid" value="'+sid+'" />' +
				'<input type="hidden" name="nid" value="'+nim+'" />' +
				'<input type="hidden" name="semid" value="'+sem+'" />' +
				'<input type="hidden" name="ass_type" value="'+ass_type+'" />'	
			)
		);

		
		
		$('#form_print_kpu').submit();
	}
}


function release_exam_slip(sem,ass_type,esr_date,esr_time){

	$.ui.dialog.prototype._focusTabbable = $.noop;
	
	$('#esr_semester_id').val(sem);
	$('#esr_assessment_type_id').val(ass_type);
	$('#esr_date').val(esr_date);
	$('#esr_time').val(esr_time);
	
	$( "#dialog-edit-status" ).dialog('open');
}


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'index'),'default',true);?>"><?php echo $this->translate("Release");?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'view'),'default',true);?>"><?php echo $this->translate("View");?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

<br></br>

 <form name='myform' id='myform' method='post'>
  	   <br></br>
  	   <table class="" width="500px">
  	   	<tr>
  	   		<td>  <?php echo $this->translate("Semester");?> </td>
  	   			<td>:
  	   			<select class='select' name='IdSemester' id='IdSemester' onchange='myform.submit();'>
  	    		<option value=''><?php echo $this->translate("-- Please Select --");?></option>
  	    	<?php foreach($this->semesterList as $semester){
  	    			if($this->idSemester==$semester['key']){
  	    				$sel = 'selected';
  	    			}else{
  	    				$sel = '';
  	    			}
  	    		?>
  	    		<option value='<?php echo $semester['key'];?>' <?php echo $sel; ?>><?php echo $semester["value"]; ?></option>
  	    	<?php } ?>
  	    </select></td>
  	   	</tr>  	  
  	    </table>
  	    </form>
  	    
		<br></br>
		<?php if(count($this->exam_release)>0){ ?>
    	<table class="table" width="100%">
    		<tr>
    			<th><?php echo $this->translate("Semester");?></th>
    			<th><?php echo $this->translate("Exam Type");?></th> 
    			<th><?php echo $this->translate("Publish Date");?></th> 
    			<th><?php echo $this->translate("Publish Time");?></th>    			
    			<th>&nbsp;</th>
    			
    		</tr>
    		<?php foreach ($this->exam_release as $release):?>
    		<tr>
    			<td  align="center" rowspan="<?php echo sizeof($release['assessment_type']);?>"><?php echo $release['value'];?></td>
    			<td><?php echo $release['assessment_type'][0]['DefinitionDesc'];?></td>  
    			<td align="center"><?php echo  (isset($release['assessment_type'][0]['esr_date'])) ?  date('d-m-Y',strtotime($release['assessment_type'][0]['esr_date'])):'';?></td>  	
    			<td align="center"><?php echo $release['assessment_type'][0]['esr_time'];?></td>		
    			<td align="center" class="options">
    				<a href="#" onclick="release_exam_slip(<?php echo $release['key']?>,<?php echo $release['assessment_type'][0]['idDefinition'];?>,'<?php echo $release['assessment_type'][0]['esr_date']; ?>','<?php echo $release['assessment_type'][0]['esr_time'];?>')"><?php echo $this->translate("Edit");?></a>
					<?php
					if ($release['assessment_type'][0]['esr_id']!=null) {
						?>
						|
						<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'exam-center-setup', 'id'=>$release['assessment_type'][0]['esr_id']),'default',true);?>"><?php echo $this->translate('Setup'); ?></a>
						<?php
					}
					?>
				</td>
    		</tr>
    			<?php 
    				for($i=1; $i<sizeof($release['assessment_type']); $i++){
						$assessment = $release['assessment_type'][$i];
						$esr_date = $release['assessment_type'][$i]['esr_date'];
    			?>
    		<tr>
    				<td><?php echo $assessment['DefinitionDesc'];?></td>
    				<td align="center"><?php echo (isset($esr_date)) ? date('d-m-Y',strtotime($esr_date)):'';?></td>
    				<td align="center"><?php echo $release['assessment_type'][$i]['esr_time'];?></td>   				
    				<td align="center" class="options">
    					<a href="#" onclick="release_exam_slip(<?php echo $release['key']?>,<?php echo $release['assessment_type'][$i]['idDefinition'];?>,'<?php echo $release['assessment_type'][$i]['esr_date']; ?>','<?php echo $release['assessment_type'][$i]['esr_time'];?>')"><?php echo $this->translate("Edit");?></a>
						<?php
						if ($release['assessment_type'][$i]['esr_id']!=null) {
							?>
							|
							<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'exam-center-setup', 'id'=>$release['assessment_type'][$i]['esr_id']),'default',true);?>"><?php echo $this->translate('Setup'); ?></a>
							<?php
						}
						?>
					</td>
    		</tr>
    			<?php }?>
    		
    		<?php endforeach;?>
    	</table>	
    	<?php } ?>
    	

<div id="dialog-edit-status" title="<?php echo $this->translate("Exam Slip Release Info");?>">
	<form name="form_edit_status" id="form_edit_status" method="post" action="/examination/exam-slip/exam-slip-release">
		<input type="hidden" name="esr_semester_id" id="esr_semester_id" value="" />
		<input type="hidden" name="esr_assessment_type_id" id="esr_assessment_type_id" value="" />
	<table>
		<tr>
			<td><?php echo $this->translate("Date");?></td>
			<td>:</td>
			<td><input type='text' name='esr_date' id='esr_date' class='datepicker' value=''></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Time");?></td>
			<td>:</td>
			<td><input type='text' name='esr_time' id='esr_time' class='timepicker' value=''></td>
		</tr>
	</table>
	</form>
</div>



