<script>

$(function() {
    $( "#tabs" ).tabs();


	$('.datepicker').datepicker({
		dateFormat: 'dd-mm-yy',			
		changeMonth: true,
		changeYear: true
	});

	$(".timepicker").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});

	  
    $( "#dialog-edit-status" ).dialog({
        autoOpen: false,
		resizable: false,
        height:180,
        modal: true,
        open: function(){
	  	  $('input').blur();	  	  
	  	},  
        buttons: {
        	"Save": function() {

	  		var flag=true;
	  		 		  		 	
    			if( $('#esr_date').val()=='' ){
    				$('#esr_date').addClass('error');
    				//$("<div id='notice' class='error'>Please enter work experience</div>").insertBefore("#esr_date");
    				var flag =  false;	
    			}

    			if( $('#esr_time').val()=='' ){
    				//$('#esr_time').addClass('error');
    				var flag = false;	
    			}

    		 	if(flag==true){
        			$('#form_edit_status').submit();
    		 	}else{
					return false;
    		 	}
          	},
          	Cancel: function() {
            	$( this ).dialog( "close" );
          	}
        }
	});


	
});
  
function print_final_exam(sid, nim, ass_type){

	if(sid !="" && nim!=""){

		var sem = $('#semester').val();

		var url = "/examination/exam-slip/print-exam-slip/";
		
		$('#form_print_kpu').remove();
		$('body').append(
			$('<form />')
			.attr('id','form_print_kpu')
			.attr('action',url)
			.attr('method','post')
			.attr('target','_blank')	
			.append(
				'<input type="hidden" name="sid" value="'+sid+'" />' +
				'<input type="hidden" name="nid" value="'+nim+'" />' +
				'<input type="hidden" name="semid" value="'+sem+'" />' +
				'<input type="hidden" name="ass_type" value="'+ass_type+'" />'	
			)
		);

		$('#form_print_kpu').submit();
	}
}

function view_final_exam( sid, nim, ass_type){

	if(sid !="" && nim!=""){

		var sem = $('#semester').val();

		var url = "/examination/exam-slip/view-slip/";
		
		$('#form_print_kpu').remove();
		$('body').append(
			$('<form />')
			.attr('id','form_print_kpu')
			.attr('action',url)
			.attr('method','post')
			.attr('onsubmit','target_popup(this)')	
			.append(
				'<input type="hidden" name="sid" value="'+sid+'" />' +
				'<input type="hidden" name="nid" value="'+nim+'" />' +
				'<input type="hidden" name="semid" value="'+sem+'" />' +
				'<input type="hidden" name="ass_type" value="'+ass_type+'" />'	
			)
		);

		$('#form_print_kpu').submit();
	}
}


function target_popup(form) {
    window.open('', 'formpopup', 'width=400,height=400,resizeable,scrollbars');
    form.target = 'formpopup';
}

function release_exam_slip(sem,ass_type,esr_date,esr_time){

	$.ui.dialog.prototype._focusTabbable = $.noop;
	
	$('#esr_semester_id').val(sem);
	$('#esr_assessment_type_id').val(ass_type);
	$('#esr_date').val(esr_date);
	$('#esr_time').val(esr_time);
	
	$( "#dialog-edit-status" ).dialog('open');
}


</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<div class="breadcrum">
	<ul class="tri-steps">
		<li class="current"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'index'),'default',true);?>"><?php echo $this->translate("Release");?></a></div></li>
		<li class="last"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exam-slip','action'=>'view'),'default',true);?>"><?php echo $this->translate("View");?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>
<br></br>

 <?php echo $this->form;?>
		
		<?php 
		if (isset($this->paginator)){
		?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th><?php echo $this->translate("Student Name");?></th>				  
		    	<th><?php echo $this->translate("Student ID");?></th>
		    	<th><?php echo $this->translate("Programme");?></th>
		    	<th><?php echo $this->translate("Student Status");?></th>
		    	<th><?php echo $this->translate("TER Status");?></th>
		    	<th>&nbsp;</th>
		    </tr>
		    <?php    		
		        foreach ($this->paginator as $lobjstudents){
		        ?>
		  		<tr>	  		
		        	<td align="left"><?php echo $this->escape($lobjstudents['appl_fname'].' '.$lobjstudents['appl_lname']);?></td>		        	
		        	<td align="center"><?php echo $this->escape($lobjstudents['registrationId']);?></td>
		            <td align="center"><?php echo $this->escape($lobjstudents['ProgramCode']);?></td>
		        	<td align="center"><?php echo $this->escape($lobjstudents['profileStatus']);?></td>
					<td align="center">
						<?php
						$model = new Examination_Model_DbTable_TerStatus();
						$semeser['IdSemesterMaster'] = $this->formData['semester'];
						$terstatus = $model->getTerCompleteStatus($lobjstudents, $semeser);

						echo $terstatus == 0 ? 'Complete':'Incomplete';
						?>
					</td>
		        	<td align="center">
						<?php
						if ($this->publish_soe) {
							?>
							<a href="#"
							   onclick="view_final_exam(<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>,'<?php echo $this->escape($lobjstudents['registrationId']); ?>','<?php echo $this->exam_type; ?>');">View</a>
							|
							<a class="button" href="#"
							   onclick="print_final_exam(<?php echo $this->escape($lobjstudents['IdStudentRegistration']); ?>,'<?php echo $this->escape($lobjstudents['registrationId']); ?>','<?php echo $this->exam_type; ?>');"><?php echo $this->translate('Download'); ?></a>
							<?php
						}
						?>
					</td>
		       <?php 
		        }  
		        ?>
			</tr>
			<tr>
			<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding','exam-grouping/kpu-paginationLink.phtml'); ?></div></td>
			</tr>
		</table>
		<?php 
		}
		?>   


