<?php
//get locale
$registry = Zend_Registry :: getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();
$auth = Zend_Auth :: getInstance();
$db = Zend_Db_Table::getDefaultAdapter();
$larrmodules = array ();
$larrcontrollers = array ();

if ($locale == 'ar_YE') {
	$this->direction = "rtl";
	$this->float = "right";
	$locale = 'ar';
}
elseif ($locale == 'en_US') {
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
} else {
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
}


/*
 * SIS Setup
 */
$this->gobjsessionsis = Zend_Registry :: get('sis');
$lobjinitialconfigModel = new GeneralSetup_Model_DbTable_Initialconfiguration();
$larrInitialSettings = $lobjinitialconfigModel->fnGetInitialConfigDetails($this->gobjsessionsis->idUniversity);
$this->College = empty ($larrInitialSettings['CollegeAliasName']) ? "College" : $larrInitialSettings['CollegeAliasName'];
$this->Department = empty ($larrInitialSettings['DepartmentAliasName']) ? "Department" : $larrInitialSettings['DepartmentAliasName'];
$this->Subject = empty ($larrInitialSettings['SubjectAliasName']) ? "Subject" : $larrInitialSettings['SubjectAliasName'];
$this->Program = empty ($larrInitialSettings['ProgramAliasName']) ? "Program" : $larrInitialSettings['ProgramAliasName'];
$this->Branch = empty ($larrInitialSettings['BranchAliasName']) ? "Branch" : $larrInitialSettings['BranchAliasName'];
$this->Landscape = empty ($larrInitialSettings['LandscapeAliasName']) ? "Landscape" : $larrInitialSettings['LandscapeAliasName'];
$this->language = $larrInitialSettings['Language'];

?>
<?php
	/*
	 * Sidebar Population
	 */
	
	$module = Zend_Controller_Front :: getInstance()->getRequest()->getModuleName();
	$controller = Zend_Controller_Front :: getInstance()->getRequest()->getControllerName();
	$action = Zend_Controller_Front :: getInstance()->getRequest()->getActionName();

	//get current menu id 
	$navigation   = $this->navigation();
	
	$active = $navigation->findActive($navigation->getContainer());
	

    $ses_menu = new Zend_Session_Namespace('menu');
    
    if ( isset($this->layout()->sidebar) && $this->layout()->sidebar != '' )
    {
	    $menu_id = $this->layout()->sidebar;
	    $ses_menu->menuId = $menu_id;
    }
    else
    {
    	if( isset($active['page']) && $active['page']->id){
	    	$menu_id = $active['page']->id;
	    	$ses_menu->menuId = $menu_id;
	    }else{
	    	if ( empty($ses_menu->menuId) )
			{
				//(bug: redirection with no parent from session will get fatal error)
				$navigation->findOneBy('module',$module)->setActive(true);
				$active = $navigation->findActive($navigation->getContainer());
				$menu_id = $active['page']->id;
	    		$ses_menu->menuId = $menu_id;
			}
			else
			{
				$menu_id =  $ses_menu->menuId;
			}
	    }
    }
	        
    /*
     * Get Sidebar to populate
     */
    
    
    
    //title
    
    $sql = $db->select()
              ->from(array("a" => "tbl_role_resources_nav"))
              ->join(array('b'=>'tbl_sidebar_menu'), 'b.sm_tm_id = a.rrn_menu_id and b.sm_id = a.rrn_title_id' )                   
              ->where("a.rrn_menu_id = ?", $menu_id)
              ->where("a.rrn_role_id = ?", $auth->getIdentity()->IdRole)
              ->where("b.sm_visibility = 1")
              ->order("b.sm_seq_order")
    		  ->group("b.sm_id");
    
    $title = $db->fetchAll($sql);
    
    $sidebarList = array();
    if($title){
		$i=0;
		foreach ($title as $tt){
			$i++;

			$sidebarList[$i] = array(
				'title_head' => 1,
				'name' => $tt['sm_name'],
				'module' => $tt['sm_module'],
				'controller' => $tt['sm_controller'],
				'action' => $tt['sm_action'],
			);

			//child
			$sql2 = $db->select()
					->from(array("a" => "tbl_role_resources_nav"))
					->join(array('b'=>'tbl_sidebar_menu'), 'b.sm_tm_id = a.rrn_menu_id and b.sm_id = a.rrn_screen_id and b.sm_parentid = '.$tt['sm_id'] )
					->where("a.rrn_menu_id = ?", $menu_id)
					->where("a.rrn_role_id = ?", $auth->getIdentity()->IdRole)
					->where("b.sm_visibility = 1")
					->order("b.sm_seq_order")
					->group("b.sm_id");
					
			$child = $db->fetchAll($sql2);
			
			if($child){
				foreach ($child as $tt2){
					$sidebarList[$i]['child'][] = array(
							'title_head' => 0,
							'name' => $tt2['sm_name'],
							'module' => $tt2['sm_module'],
							'controller' => $tt2['sm_controller'],
							'action' => $tt2['sm_action'],
							'sm_status' => $tt2['sm_status'],
					);
				}
			}
			
		}
	}

?>
<?php  echo $this->doctype(); ?>

<html>
<head>
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headMeta(); ?>
        
	<?php $this->headLink()->prependStylesheet($this->baseUrl().'/css/inceif/simpletree.css'); ?>
	<?php $this->headLink()->prependStylesheet($this->baseUrl().'/css/inceif/style_v2.css'); ?>
	<?php $this->headLink()->prependStylesheet($this->baseUrl().'/fonts/entypo/entypo.css'); ?>

	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $locale;?>'"></script>
	<?php
	///////////////////////// DOJO //////////////////////////
	//$this->headScript()->appendFile($this->baseUrl().'/js/dojo/dojo/dojo.js', 'text/javascript', array('djConfig:parseOnLoad: true','locale:\''.$locale.'\''));
	$this->headScript()->appendFile($this->baseUrl().'/js/dojo/dojo/nls/dojo_'.$locale.'.js', 'text/javascript');
    $this->headScript()->appendFile($this->baseUrl().'/js/parsley.min.js');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dojo/resources/dojo.css');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dojox/grid/enhanced/resources/Pagination.css');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dijit/themes/claro/claro.css');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/dojo/dijit/themes/claro/Editor.css');


	///////////////////////// END DOJO //////////////////////
	
	
	//////////////////////// JQUERY ////////////////////////
	$this->jQuery()->enable();
	$this->jQuery()->setVersion('1.9.1');
	$this->jQuery()->useCdn(false);
 	$this->jQuery()->setLocalPath($this->baseUrl().'/js/jquery/jquery.19.1.min.js');
	
	$this->jQuery()->uiEnable();
	$this->jQuery()->setUiVersion('1.10.2');
	$this->jQuery()->useUiCdn(false);
	$this->jQuery()->addStylesheet($this->baseUrl().'/css/jqueryui/smoothness/jquery-ui.css');
	$this->jQuery()->setUiLocalPath($this->baseUrl().'/js/jquery/jquery-ui.1.10.2.min.js');
		
	//////////////////////// END JQUERY ////////////////////////
	
	///////////////   JQUERY PLUGIN /////////////////////
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/perifer-timePicker/jquery.timePicker.js', 'text/javascript');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/perifer-timePicker/timePicker.css');
	
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/multiselect-1.12/jquery.multiselect.min.js', 'text/javascript');
	$this->headLink()->prependStylesheet($this->baseUrl().'/js/jquery/plugin/multiselect-1.12/jquery.multiselect.css');
	
	//comment this and uncomment the previous colorbox if there is any problem.
	//this new one doesn't break with jquery 1.19.1
	//$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/colorbox/jquery.colorbox-min.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery.colorbox-min.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery.bt.min.js', 'text/javascript');
	
	$this->headLink()->appendStylesheet($this->baseUrl().'/css/colorpicker.css');
	$this->headLink()->appendStylesheet($this->baseUrl().'/css/colorbox/colorbox.css');
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/fancybox/jquery.fancybox.css');

	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/qtip/jquery.qtip.min.js', 'text/javascript');
	$this->headLink()->appendStylesheet($this->baseUrl().'/js/jquery/plugin/qtip/jquery.qtip.min.css');

	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/jeditable/jquery.jeditable.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/fancybox/jquery.fancybox.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/baloontip/jquery.balloon.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/tablednd/jquery.tablednd.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/number/jquery.number.min.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/jquery/plugin/maskedinput/maskedinput.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/modernizr.js', 'text/javascript');
	$this->headScript()->appendFile($this->baseUrl().'/js/global.js', 'text/javascript');
	?>
	
	<?php 
	echo $this->jQuery();
	
	echo $this->headLink();
	echo $this->headScript();

	//acl cache
	$reloadacl = '';
	if ( defined('ACL_USECACHE') && ACL_USECACHE == 1 )
	{
		$reloadacl = ' | <small><a href="?resetACL=1">'.$this->translate('Reload Access').'</a></small>';
	}
	?>
</head>
<body  class="claro">
<?php $uri = Zend_Controller_Front :: getInstance()->getRequest()->getRequestUri(); ?>

<header id="header">
	<div class="wrap">
		<a href="<?php echo $this->baseUrl()?>/" class="logo" title="INCEIF"></a>
		<div class="head-info">
			<h3><?php echo APPLICATION_TITLE; ?></h3>

			<div id="language"><span class="icon icon-user"></span> <?php echo $auth->getIdentity()->loginName;?> <small title="<?php echo $this->translate('Your Role')?>">(<em><?php echo $this->gobjsessionsis->rolename; ?></em>)</small> <?php echo $reloadacl ?> | 
				<select style="width: 80px;" onchange="window.location = '?lang=' + this.options[this.selectedIndex].value">
					<option value="en"
						<?php echo $this->locale=="en_US"?"selected='selected'":""; ?>>English
					</option>
					<option value="ms"
						<?php echo $this->locale=="ms_MY"?"selected='selected'":""; ?>>Malay
					</option>	
				</select>
			</div>
		</div>
	</div>
</header>
<nav id="main-menu">
	<div id="small-logo"><img src="<?php echo $this->baseUrl()?>/images/logo_small.png" alt="INCEIF" /></div>
	<div id="logout">
		
		<a href="<?php echo $this->baseUrl()?>/index/logout"><span class="icon icon-lock-open"></span> <?php echo $this->translate('Logout')?></a>
	</div>

	<?php echo $this->navigation()->menu(); ?>
</nav>

<div id="main">
	<div class="wrap cf">
	<!-- wrap -->
		
		<?php if($sidebarList):?>
		<div id="sidebar">
		<ul>
			<?php foreach ( $sidebarList as $sidebar ) : ?>
			<li><h3><?php echo $sidebar['name'] ?></h3>
				<?php if ( count($sidebar['child']) > 0 ): ?>
				<ul>
				<?php foreach( $sidebar['child'] as $child ) :?>
				<?php
					$active = $child['module']==$module&&$child['controller']==$controller&&$child['action']==$action ? 'active':'';

					$status = '';
					if($child['sm_status'] == 1){
						$status = '<font color="green"><span class="icon icon-check"></span></font>';
					}elseif($child['sm_status'] == '0'){
						$status = '<font color="#ff4500"><span class="icon icon-check"></span></font>';
					}
					?>
					<li><a class="<?php echo $active?>" href="<?php echo $this->url(array('module'=>$child['module'],'controller'=>$child['controller'],'action'=>$child['action']),'default',true) ?>"><?php echo $this->translate($child['name']); ?> <?php echo $status;?></a></li>
				<?php endforeach; ?>
				</ul>
				<?php endif; ?>
			</li>
			<?php endforeach; ?>
		</ul>
		</div>
		<?php endif; ?>

		<div id="body-content" <?php echo $sidebarList ? '' : 'class="full"';?>>
		<div class="wrap">
		<!-- content -->
		<?php 
			if(!empty($this->gobjsessionsis->flash)) {
				echo $this->partial('partials/notification.phtml','default', array('flash' => $this->gobjsessionsis->flash ));
				unset($this->gobjsessionsis->flash);
			}
		?>
		
		<?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger'); ?>
		<?php if (count($flashMessenger->getMessages())) : ?>
		<?php foreach ($flashMessenger->getMessages() as $message) : ?>
		<div class="fsm message <?php echo key($message)?>">
		<?php if ( key($message) == 'success' ) { ?><span class="icon icon-check"></span><?php } ?>
		<?php if ( key($message) == 'error' ) { ?><span class="icon icon-attention"></span><?php } ?>
		<?php if ( key($message) == 'notice' ) { ?><span class="icon icon-info-circled"></span><?php } ?>
		<?php echo $this->translate(current($message)); ?>
		</div>
		<?php endforeach; ?>
		<?php endif; ?>

		<?php echo $this->layout()->content; ?>
		<!-- /content -->
		</div>
		</div>
	<!-- /wrap -->
	</div>
</div>
<footer id="footer">
	<div class="wrap">
		<div class="foot-wrap">
			<div class="copyright"> &copy; <?php echo APPLICATION_ENTERPRISE?> &copy; <?php echo date('Y')?> . All Rights Reserved </div>
		</div>
	</div>
</footer>
</body>
</html>
