<script>
$(function() {
	$( ".datepicker" ).datepicker({
		dateFormat: "yy-mm-dd"
	});
});
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'currency', 'action'=>'rate-setup'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Currency Rate');?>
	</legend>
	<?php echo $this->form; ?>
</fieldset>

<br />

<table class="table" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th><?php echo $this->translate('Exchange Rate'); ?></th>
			<th><?php echo $this->translate('Min Rate'); ?></th>
			<th><?php echo $this->translate('Max Rate'); ?></th>
			<th><?php echo $this->translate('Effective From'); ?></th>
			<th><?php echo $this->translate('Updated By'); ?></th>
			<th><?php echo $this->translate('Update Date'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php 
	if($this->currency){
		foreach ($this->currency as $count=>$currency){
	?>
		<tr>
			<td><?php echo $count+1; ?></td>
			<td><?php echo $currency['cr_exchange_rate']; ?></td>
			<td align='center'><?php echo $currency['cr_min_rate']; ?></td>
			<td align='center'><?php echo $currency['cr_max_rate']; ?></td>
			<td align='center'><?php echo date('d/m/Y', strtotime($currency['cr_effective_date'])); ?></td>
			<td><?php echo $currency['update_by_name']; ?></td>
			<td align='center'><?php echo date('d/m/Y', strtotime($currency['cr_update_date'])); ?></td>
		</tr>
	<?php 
		}
	}
	?>
	</tbody>
</table>