<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/studentfinance/currency/add-currency">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
	<legend>
		<?php echo $this->translate('Search');?>
	</legend>
	<form method="post">
		<table>
			<tr>
				<td><?php echo $this->translate('Currency Name');?></td>
				<td>:</td>
				<td>
					<input type="text" class="input-txt" name="desc" id="desc" value="<?php echo isset($this->search['desc'])?$this->search['desc']:"";?>" />
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Currency Code');?></td>
				<td>:</td>
				<td>
					<input type="text" class="input-txt" name="code" id="code" value="<?php echo isset($this->search['code'])?$this->search['code']:"";?>" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				</td>
				<td>
					<input type="submit" name="search" id="btn_search" class="btn-submit" value="<?php echo $this->translate("Search");?>" />
					<input type="button" name="search" id="btn_clear" class="btn-clear" value="<?php echo $this->translate("Clear");?>" onclick="window.location = '/studentfinance/currency/setup'" />
				</td>
			</tr>
		</table>
	</form>
</fieldset>

<br />

<table class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate('Code'); ?></th>
			<th><?php echo $this->translate('Description'); ?></th>
			<th><?php echo $this->translate('Description (Default Language)'); ?></th>
			<th><?php echo $this->translate('Symbol Prefix'); ?></th>
			<th><?php echo $this->translate('Symbol Suffix'); ?></th>
			<th><?php echo $this->translate('Decimal Places'); ?></th>
			<th><?php echo $this->translate('Default Currency'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	if(isset($this->currency)){
		foreach ($this->currency as $currency){
	?>
		<tr>
			<td><?php echo $currency['cur_code']; ?></td>
			<td><?php echo $currency['cur_desc']; ?></td>
			<td><?php echo $currency['cur_desc_default_language']; ?></td>
			<td align='center'><?php echo $currency['cur_symbol_prefix']; ?></td>
			<td align='center'><?php echo $currency['cur_symbol_suffix']; ?></td>
			<td align='center'><?php echo $currency['cur_decimal']; ?></td>
			<td align='center'><?php echo $currency['cur_default']=='Y'?"Default":""; ?></td>
			<td align='center'><?php echo $currency['cur_status']==1?"Active":"Inactive"; ?></td>
			<td align="center" class="options">
				<a href="/studentfinance/currency/edit-currency/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('Edit');?></a>
				|
				<a href="/studentfinance/currency/set-default-currency/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('Set Default');?></a>
				|
				<a href="/studentfinance/currency/rate-setup-detail/id/<?php echo $currency['cur_id']; ?>"><?php echo $this->translate('View FOREX Rate');?></a>
			</td>
		</tr>
	<?php 
		}
	}
	?>
	</tbody>
</table>