
<script type="text/javascript">

	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>              
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'checklist-documents', 'action'=>'index'),'default',true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>
			  </li>
		</ul>
	</div>
</div>

<br />

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0" id="applist">
	<tr>
		<th width="25%"><?php echo $this->translate("Filename");?></th>
		<th><?php echo $this->translate("Filesize");?></th>
		<th><?php echo $this->translate("Checklist");?></th>
	</tr>
	<?php foreach ( $this->files as $file ) : ?>
	<tr>
		<td><a href="http://cdn.inceif.org/migrate/AppDoc/<?php echo $file['filename']?>" target="_blank"><?php echo $file['filename']?></a></td>
		<td><?php echo file_size($file['filesize'])?></td>
		<td></td>
	</tr>
	<?php endforeach; ?>
</table>