<script>
	function loadScreen(taggingsectionid){
		 window.location = '<?php echo $this->url(array('module'=>'application','controller'=>'index','action'=>'view','txn_id'=>$this->txn_id),'default',true) ?>/section_id/'+taggingsectionid;
		$( '#content' ).load( "<?php echo $this->url(array('module'=>'application','controller'=>'index','action'=>'txn-detail','txn_id'=>$this->txn_id),'default',true) ?>/section_id/1" );
	}	

	
	
</script>

 <style>
li.link-menu { 
	clear: left; width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 

}
ul#menu-container{
	margin: 0;
	padding: 0;
}
ul#menu-container li{
	display: block;
	list-style: none;
	margin: 2px 0;
}

ul#menu-container li a{
	background: #CCC;
	padding: 5px 10px;
	display:block;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">		
	</div>
</div>

<br>
<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>




<table width="100%">
	<tr >
		<td style="width: 150px; padding-right: 10px;" valign='top'>
			<ul id="menu-container">
			<?php 
			$tab=1; 
			foreach($this->section_list as $list){		
			?>
				<li class="link-menu"><a href="#" onclick='loadScreen("<?php echo $list["id"]?>")'><?php echo $list['name'];?></a></li>
				
			<?php $tab++; } ?>
			</ul>
		
		</td>
		<td id="content" style="vertical-align: top;">
		</td>
	</tr>

</table>
