<h3><?php echo $this->activity['title']?></h3>

<table width="100%" class="table" id="comments">
	<tr>
		<th width="35%"><?php echo $this->translate('Poster')?></th>
		<th><?php echo $this->translate('Text')?></th>
	</tr>
	<?php foreach ( $this->comments as $cmt ) { ?>
	<tr class="comment-row">
		<td>
			<div class="userinfo">
				<div class="name"><strong><?php echo $cmt['posted_name']?></strong></div>
				<?php if ( $cmt['posted_type'] == 'supervisor' ) { ?><div class="rank super">Supervisor</div><?php } else { ?>
				<div class="rank student">Student</div>
				<?php } ?>

			</div>
		</td>
		<td>
			<div class="date" title="<?php echo time_ago(strtotime($cmt['posted_date']))?>"><span class="icon icon-clock"></span> <?php echo format_date_to_view($cmt['posted_date'],'full'); ?></div>
			<div class="comment-text">
				<?php echo nl2br($cmt['comment'])?>
			</div>
			<div class="attachments">
				<?php $attachments = Thesis_Model_DbTable_Tracking::getFiles($cmt['c_id'],'comments');
				if ( !empty($attachments) ) { ?>
				<div class="attach-content">
					<p><strong><?php echo $this->translate('Attachment')?></strong></p>
					<ol>
						<?php foreach ( $attachments as $attach ) { ?>
						<li><a class="fancy" href="<?php echo DOCUMENT_URL.$attach['af_fileurl']?>"><?php echo $attach['af_filename']?></a></li>
						<?php } ?>
					</ol>
				</div>
				<?php
				}
				?>
			</div>
		</td>
	</tr>
	<?php } ?>

	<?php if ( empty($this->comments) ) { ?>
	<tr>
		<td colspan="2"><?php echo $this->translate('No feedback yet.')?></td>
	</tr>
	<?php } ?>
</table>

<style type="text/css">
	td .icon { color:#ccc }
	#color { padding:2px; }

	.userinfo { }
	.userinfo .name { color:#15aee3; margin-bottom:4px; }

	.rank { font-size:10px; text-transform:uppercase; color:#fff; background:#b1b1b1; display:inline; padding:2px 5px;  }
	.rank.super { background:#fba113 }
	table .date { float:right; font-size:11px; color:#888;  padding-bottom:10px; margin-bottom:15px; }
	table .comment-text { font-size:14px; line-height:1.7em; }
	.attach-content { margin-top:10px; padding-top:10px; border-top:1px solid #f1f1f1; }
	.attach-content ol { margin-left:15px; margin-top:6px; }
	.attach-content ol li { margin-bottom:4px; }
	table .comment-row td { border-bottom:1px solid #eee; padding:8px; }
</style>