<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'id' => $this->research['p_id']), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<br/>

<form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
<table width="100%" class="table">
    <tr>
        <td width="20%"><?php echo $this->translate('Grade Awarded') ?></td>
        <td><?php echo $this->form->grade_viva ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Student must submit correction within') ?></td>
        <td><?php echo $this->form->correction_viva ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Examiner') ?></td>
        <td><?php echo $this->form->examiner_viva ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Institution') ?></td>
        <td><?php echo $this->form->institution ?></td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Committee in principle agreed to accept the thesis with the following verdict') ?></td>
        <td><?php echo $this->form->accept_viva ?></td>
    </tr>
    <tr>
        <td>Grade</td>
        <td>
            <!--                <select name="grade" -->
            <?php //echo !is_null($this->research['grade_status']) ? 'disabled="disabled"' : '' ?><!-->
            <select name="grade">
                <?php

                foreach ($this->gradinglist as $grade) :
                    $selected = '';
                    if ($this->research['grade_status'] == $grade['key']) {
                        $selected = 'selected = "selected"';
                    }
                    ?>
                    <option
                        value="<?php echo $grade['key']; ?>" <?php echo $selected; ?>><?php echo $grade['value']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <tr>
        <td><?php echo $this->translate('Attachment') ?></td>
        <td><input type="file" name="file"</td>
    </tr>

</table>

    <div class="form-opt">
        <input type="submit" name="save" id="save" value="<?php echo $this->translate('Submit') ?>" class="btn-submit"/>
        <input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel') ?>"
               class="btn-cancel"
               onclick="window.location ='<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal'), 'default', true); ?>'"/>
    </div>

</form>

<script type="text/javascript">

    $(function () {
        getExaminerId();
    });

    function getExaminerId(element) {

        if ($('#examiner_viva').val() == '') {
            var examiner_id = $(element).val();
        }else{
            var examiner_id = $('#examiner_viva').val();
        }

        if (examiner_id != '') {
            $.ajax({
                url: "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'manage', 'action' => 'get-institution'), 'default', true);?>",
                data: {'examiner_id': examiner_id},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#institution').val(data.institution);

                },
                error: function () {
                    alert("failure");
                },
                beforeSend: function () {
                    showLoading('institution');

                },
                complete: function () {
                    hideLoading('institution');
                }
            });
        }
    }

    function showLoading(target) {
        $('#' + target).hide();
        $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target) {
        $('#loading').remove();
        $('#' + target).show();
    }

    function checkForm() {
        var error = 0;

        $("#form_topic .reqfield").each(function () {
//            if ($(this).attr("type") != 'radio') {
//                var field = $(this).parent().prev().html();

            var p = $(this).val();

            if (p == '') {
                //alert(field+" cannot be empty");
//                    $(this).parent().prev().addClass("req");
//                    $(this).focus();

                error = 1;
                //return false;
            }
//                else {
//                    $(this).parent().prev().removeClass("req");
//                }
//            }
        });

        var c1 = $('.chk1:checked').length;
        var c2 = $('.chk2:checked').length;
        var c3 = $('.chk3:checked').length;

        if (c1 == 0 || c2 == 0 || c3 == 0) {
            error = 1;
        }

        if (error == 1) {
            alert('Please fill in all the required fields');
            return false;
        }

        $(window).unbind('beforeunload');

        return true;
    }

</script>