<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'id' => $this->research['p_id']), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<br/>

<form method="post" action="">
    <table width="100%" class="table">
        <tr>
            <td><?php echo $this->translate('Date / Time') ?></td>
            <td><?php echo format_date_to_view($this->research['pd_date'], 'full') ?></td>
        </tr>

        <?php
        //        echo '<pre>'; print_r($this->research);
        if (!empty($this->assessors)) :
            $i = count($this->assessors); ?>
            <tr>
            <td rowspan="<?php echo $i ?>">Assessor</td>
            <?php foreach ($this->assessors as $assessors) : ?>
            <td><?php echo $assessors['supervisor_name'] ?></td>
            </tr>
        <?php endforeach; ?>
        <?php else: ?>
            <tr>
                <td>Assessor</td>
                <td><?php echo $this->translate('No supervisors has been assigned yet') ?></td>
            </tr>
        <?php endif; ?>

        <tr>
            <td>Grade</td>
            <td>
                <!--                <select name="grade" -->
                <?php //echo !is_null($this->research['grade_status']) ? 'disabled="disabled"' : '' ?><!-->
                <select name="grade">
                    <?php

                    foreach ($this->gradinglist as $grade) :
                        $selected = '';
                        if ($this->research['grade_status'] == $grade['key']) {
                            $selected = 'selected = "selected"';
                        }
                        ?>
                        <option
                            value="<?php echo $grade['key']; ?>" <?php echo $selected; ?>><?php echo $grade['value']; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>

        <tr>
            <td>Mark</td>
            <td><input type="text" name="mark" value="<?php echo $this->research['total_marks'] ?>"></td>
        </tr>

        <tr>
            <td>Remarks</td>
            <td><input type="text" name="remark" value="<?php echo $this->research['grade_remarks'] ?>"></td>
        </tr>

        <tr>
            <td>Upload Files</td>
            <td>
                <button onclick="addResearchFile();" type="button"><span
                        class="icon icon-plus-circled"></span> <?php echo $this->translate('Upload New') ?></button>
            </td>
        </tr>

    </table>

    <div class="form-opt">
<!--        <input type="submit" class=" -submit" name="gradesubmit" value="Submit" onclick="addfile()"/>-->
        <input type="submit" class=" -submit" name="gradesubmit" value="Submit" />
    </div>
</form>

<div id="dialog-addfile" title="Add File" style="display:none">
    <?php echo $this->addfile_form ?>
</div>

<script type="text/javascript">

    $(function(){

        $( "#dialog-addfile" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function() {

                    var check =$("#form_addfile").submit();

                    if ( check == true )
                    {
                        $( this ).dialog( "close" );
                    }

                },
                "Cancel": function() {
                    if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
                    {
                        $( this ).dialog( "close" );
                    }
                }
            }
        });

    });

    function addfile() {
        $("#form_addfile").submit();
    }

    function addResearchFile() {
        $("#dialog-addfile").dialog('open');
    }

</script>