<?php if ($this->ajax == 0) { ?>
    <div class="message toolbar">
        <h2><?php echo $this->translate($this->title); ?></h2>
    </div>
    <br/>
<?php } ?>

<h3><?php echo $this->translate('Evaluation') ?></h3>


<table width="100%" class="table">
    <!--<tr>-->
    <!--	<th width="50%">Examiner</th>-->
    <!--	<th>Evaluation</th>-->
    <!--	<th></th>-->
    <!--</tr>-->
    <?php //foreach ( $this->examiners as $row ) {?>
    <!--<tr>-->
    <!--	<td>--><?php //echo $row['internal_fullname']?><!--</td>-->
    <!--	<td align='center'>-->
    <?php //echo $row['sheet_id'] != '' ? '<span class="icon icon-check"></span>':'&mdash;'?><!--</td>-->
    <!--	<td align='center' class="options">-->
    <!--	-->
    <!--	--><?php //if ( $row['sheet_id'] == '' ) { ?><!--<a href="-->
    <?php //echo $this->baseUrl()?><!--/thesis/evaluation/sheet-add/research_id/-->
    <?php //echo $this->research['research_id']?><!--/type/--><?php //echo $this->type?><!--/student_id/-->
    <?php //echo $this->research['student_id']?><!--">Add</a> | --><?php //} ?><!--<a href="-->
    <?php //echo $this->baseUrl()?><!--/thesis/evaluation/sheet-list/student_id/-->
    <?php //echo $this->research['student_id']?><!--">View</a></td>-->
    <!--</tr>-->
    <?php //} ?>
    <?php //if ( empty($this->examiners) ) { ?>
    <!--<tr>-->
    <!--	<td colspan="3">No examiner assigned yet.</td>-->
    <!--</tr>-->
    <?php //} ?>

    <tr>
        <th>STUDENT ID</th>
        <th>STUDENT NAME</th>
        <th>SEMESTER</th>
        <th>COURSE</th>
        <th>TITLE</th>
        <th>STATUS</th>
        <th></th>
    </tr>
    <?php if (!empty($this->research)) { ?>
        <!--	--><?php //foreach ( $this->examiners as $row ) {?>
        <tr>
            <td align="center"><?php echo $this->research['registrationId'] ?></td>
            <td align="center"><?php echo $this->research['student_name'] ?></td>
            <td align="center"><?php echo $this->research['SemesterMainCode'] ?></td>
            <td align="center"><?php echo $this->research['SubCode'] ?></td>
            <td align="center"><?php echo $this->research['p_title'] ?></td>
            <td align="center"><?php echo $this->research['pd_status_description'] ?></td>
            <td align='center' class="options"><a href="
            <?php echo $this->baseUrl()?>/thesis/manage/grade/id/<?php echo $this->id ?>/type/<?php echo $this->type ?>/student_id/<?php echo $this->student_id ?>">View</a>
            </td>
        </tr>
        <!--	--><?php //} ?>
    <?php } else { ?>
        <tr>
            <td colspan="3">No research applied yet.</td>
        </tr>
    <?php } ?>
<!--    	--><?php //echo '<pre>'; print_r($this->research);exit; ?>
</table>