<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a href="#" onclick="exportList();">
                    <span class='download'></span>
                    <?php echo $this->translate('Download') ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>

<div id="search_form">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
    <tr>
        <th><?php echo $this->translate("Student ID") ?></th>
        <th><?php echo $this->translate("Student"); ?></th>
        <th><?php echo $this->translate("Type"); ?></th>
        <th><?php echo $this->translate('Course ID') ?></th>
        <th><?php echo $this->translate('Course Description') ?></th>
        <th width="20%"><?php echo $this->translate('Research Title') ?></th>
        <th><?php echo $this->translate("Assessor/ Examiner Name") ?></th>
        <th width="10%"><?php echo $this->translate("Date"); ?></th>
        <th><?php echo $this->translate("Time"); ?></th>
        <th><?php echo $this->translate("Venue"); ?></th>
        <th><?php echo $this->translate("Remarks"); ?></th>
    </tr>

    <?php
    $i = 0;
    if (count($this->paginator) > 0):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td align="center"><?php echo $data['registrationId'] ?></td>
                <td>
<!--                    <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal-edit', 'id' => $data['p_id']), 'default', true); ?><!--">-->
                        <?php echo $data['student_name']; ?>
<!--                    </a>-->
                </td>
                <td align="center"><?php
                    $db = new Thesis_Model_DbTable_Event();
                    $type = $db->getType($data['event_type']);

                    echo $type['DefinitionDesc']; ?></td>
                <td><?php if ($data['SubCode']) {
                        echo $data['SubCode'];
                    } else {
                        echo '-';
                    } ?></td>
                <td><?php if ($data['SubCode']) {
                        echo $data['course_name'];
                    } else {
                        echo '-';
                    } ?></td>
                <td><?php echo $data['p_title']
                    ?>
                </td>
                <td align='left'>
                    <?php
                    if (isset($data['examiner']) && count($data['examiner']) > 0) {
                        $no = 1;
                        foreach ($data['examiner'] as $examiner) {
//                            $no++;
                            echo $no++ . ') ';
                            echo $examiner['internal_fullname'] != '' ? $examiner['internal_fullname'] : $examiner['supervisor_name'];
                            echo '</br>';
                        }
                    }
                    ?>
                </td>
                <td align='center'>
                    <?php
                    echo date('d-m-Y', strtotime($data['event_date']));
                    ?>
                </td>
                <td align='center'>
                    <?php
                    echo $data['start_time'].' - '.$data['end_time'];
                    ?>
                </td>
                <td align='center'>
                    <?php
                    echo $data['event_venue'];
                    ?>
                </td>
                <td align='center'>
                    <?php
                    echo $data['event_remark'];
                    ?>
                </td>
            </tr>
            <?php
            $i++;
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="10"><?php echo $this->translate('No proposals yet') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>
<style type="text/css">
    .tooltip.reject {
        color: red
    }
</style>
<script type="text/javascript">
    function searchbox() {
        $('#search_form').toggle();
        return false;
    }

    $(function () {
        $('#approval_date').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $('#start_date').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $('#end_date').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
            //maxDate: '0'
        });

        $('#save').click(function () {
            var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'proposal-defense-report', 'action' => 'proposal-defense-report'), 'default', true);?>";
            $('#search_form_lala').attr('action', url);
        });
    });


    function exportList() {
        var url = "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'proposal-defense-report', 'action' => 'proposal-defense-export'), 'default', true);?>";
        $('#search_form_lala').attr('action', url);
        $('#search_form_lala').submit();
    }
</script>