<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="' . $this->filename . '"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th><?php echo $this->translate("Student ID") ?></th>
        <th><?php echo $this->translate("Student"); ?></th>
        <th><?php echo $this->translate("Type"); ?></th>
        <th><?php echo $this->translate('Course ID') ?></th>
        <th><?php echo $this->translate('Course Description') ?></th>
        <th><?php echo $this->translate('Research Title') ?></th>
        <th><?php echo $this->translate("Assessor/ Examiner Name") ?></th>
        <th><?php echo $this->translate("Date"); ?></th>
        <th><?php echo $this->translate("Time"); ?></th>
        <th><?php echo $this->translate("Venue"); ?></th>
        <th><?php echo $this->translate("Remarks"); ?></th>
    </tr>

    <?php
    $i = 0;
    if (count($this->paginator) > 0):
        foreach ($this->paginator as $data):
            ?>
            <tr>
                <td align="center"><?php echo $data['registrationId'] ?></td>
                <td>
                    <?php echo $data['student_name']; ?>
                </td>
                <td align="center"><?php
                    $db = new Thesis_Model_DbTable_Event();
                    $type = $db->getType($data['event_type']);

                    echo $type['DefinitionDesc']; ?></td>
                <td><?php if ($data['SubCode']) {
                        echo $data['SubCode'];
                    } else {
                        echo '-';
                    } ?></td>
                <td><?php if ($data['SubCode']) {
                        echo $data['course_name'];
                    } else {
                        echo '-';
                    } ?></td>
                <td><?php echo $data['p_title'] ?></td>
                <td>
                    <?php
                    if (isset($data['examiner']) && count($data['examiner']) > 0) {
                        $no = 1;
                        foreach ($data['examiner'] as $examiner) {
//                            $no++;
                            echo $no++ . ') ';
                            echo $examiner['internal_fullname'] != '' ? $examiner['internal_fullname'] : $examiner['supervisor_name'];
                            echo '<br />';
                        }
                    }
                    ?>
                </td>
                <td>
                    <?php
                    //                    echo format_date_to_view($data['meeting_date']);
                    echo date('d-m-Y', strtotime($data['event_date']));
                    ?>
                </td>
                <td><?php
                    echo $data['start_time'] . ' - ' . $data['end_time'];
                    ?></td>
                <td><?php
                    echo $data['event_venue'];
                    ?></td>
                <td><?php
                    echo $data['event_remark'];
                    ?></td>
            </tr>
            <?php
            $i++;
        endforeach;
    else:
        ?>
        <tr>
            <td colspan="7"><?php echo $this->translate('No proposals yet') ?></td>
        </tr>
        <?php
    endif;
    ?>
</table>
