<div class="message toolbar">
    <h2>Financial Aid</h2>
</div>

<div class="welcome">
    <div class="icon"><img src="<?php echo $this->baseUrl()?>/images/dashboard/financialaid.png" alt="" /></div>
    <h3>e-University Financial Aid Module</h3>
</div>
<style type="text/css">
    .welcome { overflow:hidden  }
    .welcome .icon { float:left; margin-right:10px }
    .welcome h3 { margin-top:15px }
</style>