<style type="text/css">
	.table th{
		text-align: right;	
	}
</style>

<script type="text/javascript">
	function approve(){
		var msg = "Confirm to approve this credit note?";

		if( confirm(msg) ){
			$('#result').val(1);
	
			$('#form_result').submit();
		}
	}

	function cancel(){
		var msg = "Confirm to cancel this credit note?";

		if( confirm(msg) ){
			$('#result').val(2);

			$('#form_result').submit();
		}
	}	
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>

<fieldset>
	<legend><?php echo $this->translate("Profile"); ?></legend>
	<table>
		<tr>
			<th><?php echo $this->translate("Applicant/Student Name");?></th>
			<td>:</td>
			<td>
				<?php echo $this->profile['appl_fname']." "; ?>
				<?php echo $this->profile['appl_mname']." "; ?>
				<?php echo $this->profile['appl_lname']." "; ?>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Applicant/Student ID");?></th>
			<td>:</td>
			<td><?php echo $this->data['cn_fomulir']." "; ?></td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Program");?></th>
			<td>:</td>
			<td><?php echo $this->program['ArabicName']; ?> (<?php echo $this->program['ProgramCode']; ?>)</td>
		</tr>
	</table>
</fieldset>

<table class="table" width="100%">
	<tr>
		<th width="150px"><?php echo $this->translate("CN No");?></th>
		<td><?php echo $this->data['cn_id']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("Billing No");?></th>
		<td><?php echo $this->data['cn_billing_no']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("CN Amount");?></th>
		<td><?php echo $this->data['cn_amount']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("CN Description");?></th>
		<td><?php echo $this->data['cn_description']?></td>
	</tr>
	<tr>
		<th><?php echo $this->translate("CN Creator");?></th>
		<td>
			<?php echo $this->data['cn_creator']==-1?"System Generated":$this->data['creator_name']; ?>
		</td>
	</tr>
	<tr>
		<th><?php echo $this->translate("CN Created Date");?></th>
		<td><?php echo date('d-m-Y H:ia', strtotime($this->data['cn_create_date']));?></td>
	</tr>
</table>

<form id="form_result" method="post">
	<input type="hidden" name="cn_id" id="cn_id" value="<?php echo $this->data['cn_id']?>" />
	<input type="hidden" name="result" id="result" value="" />
	
	<div align="center" width="100%" style="padding: 5px 0; margin: 5px 0; background: #CCC;">
		<input type="button" value="Approve CN" onclick="approve();" />
		<input type="button" value="Cancel CN" onclick="cancel();" />
	</div>
</form>