<script>
  $(function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.error(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });
  });
</script>
  
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
		</ul>
	</div>
</div>
<br />

<div id="tabs">
  <ul>
    <li><a href="/studentfinance/credit-note/approval"><?php echo $this->translate("Awaiting Approval"); ?></a></li>
    <li><a href="/studentfinance/credit-note/history"><?php echo $this->translate("Approve / Cancelation History"); ?></a></li>
  </ul>  
</div>