<script type="text/javascript">

	$(function() {
	  $('.toolbar-button a').balloon();
	});
	
	function search_student(){

		var url_search = '/studentfinance/credit-note/search-cn-student';

		$.fancybox({
			  href : url_search,
			  type : 'ajax'
		});
        
        return false;
	}
	
</script>

<div class="toolbar-button">
	<ul>
		<li>
			<a href="#" onclick="search_student()" title="Search Student">
				<span class='search'></span>
				<?php echo $this->translate("Search Applicant/Student/Bill"); ?>
			</a>
		</li>
	</ul>
</div>
	
<?php
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>	
<table class="table" width="100%">
	<tr>
		<th>CN Number</th>
		<th>Name</th>
		<th>Billing No</th>
		<th>Payee</th>
		<th>Amount</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created Date</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'credit-note', 'action'=>'approval-detail', 'id'=>$entry['cn_id']),'default',true);?>">
				<?php echo $entry['cn_id']; ?>
			</a>
		</td>
		<td><?php echo $entry['name']; ?></td>
		<td align="center"><?php echo $entry['cn_billing_no']; ?></td>
		<td align="center"><?php echo $entry['cn_fomulir']; ?></td>
		<td><?php echo $entry['cn_amount']; ?></td>
		<td><?php echo $entry['cn_description']; ?></td>
		<td><?php echo $entry['creator_name']; ?></td>
		<td align="center"><?php echo $entry['cn_create_date']; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
	
	<?php 
		if(count($this->paginator)==0){
	?>
	<tr>
		<td colspan="8" align="center">
			<?php echo $this->translate("No Credit note waiting for approval");?>
		</td>
	</tr>
	<?php
		} 
	?>
</table>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>