<script type="text/javascript">

	function search_student(){

		var url_search = '/studentfinance/credit-note/search-student';

		$.fancybox({
			  href : url_search,
			  type : 'ajax'
		});
        
        return false;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="search_student()">
					<span class='search'></span>
					<?php echo $this->translate("Search Applicant/Student/Bill"); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<?php echo $this->form; ?>