<table class="table" width="100%">
	<tr>
		<th>CN No.</th>
		<th>Name</th>
		<th>Billing No</th>
		<th>Payee</th>
		<th>Amount</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created Date</th>
		<th>Status</th>
		<th>Status By</th>
		<th>Status Date</th>
	</tr>
	<?php 
	$i=0;
	foreach ($this->paginator as $entry):
	
		$status = "-";
		$status_by = "-";
		$status_date = "-";
		
		if(isset($entry['cn_approver'])){
			$status = "Approved";
			$status_by = $entry['approver_name'];
			$status_date = $entry['cn_approve_date'];
		}
		
		if(isset($entry['cn_approver']) && $entry['cn_approver']==-1 ){
			$status_by = "System Generated";
		}

		if(isset($entry['cn_cancel_by'])){
			$status = "Canceled";
			$status_by = $entry['canceler_name'];
			$status_date = $entry['cn_cancel_date'];
		}
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'credit-note', 'action'=>'approval-detail', 'id'=>$entry['cn_id']),'default',true);?>">
				<?php echo $entry['cn_id']; ?>
			</a>
		</td>
		<td><?php echo $entry['name']; ?></td>
		<td align="center"><?php echo $entry['cn_billing_no']; ?></td>
		<td align="center"><?php echo $entry['cn_fomulir']; ?></td>
		<td><?php echo $entry['cn_amount']; ?></td>
		<td><?php echo $entry['cn_description']; ?></td>
		<td><?php echo $entry['cn_creator']==-1?"System Generated":$entry['creator_name']; ?></td>
		<td align="center"><?php echo $entry['cn_create_date']; ?></td>
		<td><?php echo $status; ?></td>
		<td><?php echo $status_by; ?></td>
		<td><?php echo $status_date; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>
	
	<?php 
		if(count($this->paginator)==0){
	?>
	<tr>
		<td colspan="11" align="center">
			<?php echo $this->translate("No Credit note history");?>
		</td>
	</tr>
	<?php
		} 
	?>
</table>