<script type="text/javascript">
  
	function search_student(){

		var name = $('#name').val();
		var id = $('#id').val();
		var type = $('input[name=type]:checked').val()

		var table = $("#result tbody");
        $(table).empty();
         
		$.ajax({
		      url: "/ajax-utility/search-transaction",
		      type: "post",
		      data: {'name':name, 'id':id, 'type':type},
		      dataType: 'json',
		      success: function(data){

		         

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='detail("+data[i].at_trans_id+","+data[i].at_appl_type+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"<td>"+data[i].at_pes_id+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }

		          $('#result').show();
		      },
		      error:function(){
		    	  $('#result').hide();
		          alert("failure");
		      }   
		}); 
	}

	function detail(id,appl_type){
		window.location = '<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice', 'action'=>'detail'),'default',true);?>/txn/'+id+'/type/'+appl_type;		
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="/studentfinance/credit-note/add">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend>
		<?php echo $this->translate('Search Applicant / Student');?>
	</legend>
	<form method="post" action="">
	<table>
		<tr>
			<td><?php echo $this->translate('Name');?></td>
			<td>
				<input type="text" name="name" class="input-txt" id="name" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ID');?></td>
			<td>
				<input type="text" name="id" class="input-txt" id="id" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Credit Note No');?></td>
			<td>
				<input type="text" name="invoice_id" class="input-txt" id="invoice_id" value="" />
			</td>
		</tr>
		
		<tr>
			<td valign="top"><?php echo $this->translate('Type');?></td>
			<td>
				<input type="radio" name="type" id="type" value="1" checked="checked" /> <?php echo $this->translate("Applicant"); ?> 
				<br />
				<input type="radio" name="type" id="type" value="2" /> <?php echo $this->translate("Student"); ?> 
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="search" id="btn_search" class="button" value="Search" />
				<input type="reset" name="reset" id="btn_search" class="button" value="Clear" />
			</td>
		</tr>
	</table>
	</form>
</fieldset>

<br />
<?php if ( count($this->paginator) > 0 ):?>

<form id="cancel" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'credit-note','action'=>'cancel'), 'default', true);?>" onsubmit="return submitForm();">

<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("CN No.");?></th>
			<th><?php echo $this->translate("Date")?></th>
			<th><?php echo $this->translate("ID");?></th>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("Programme");?></th>
			<th><?php echo $this->translate("Description")?></th>
			<!--<th><?php echo $this->translate("Type")?></th>
			--><th><?php echo $this->translate("Status");?></th>
			<th><?php echo $this->translate("Created By");?></th>
			<th><?php echo $this->translate("Status Date");?></th>
			<th><?php echo $this->translate("Status By");?></th>
			<th><?php echo $this->translate("Total Amount");?></th>
			<th></th>
			<th><?php echo $this->translate("Cancel");?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
		$i=0;
		
		foreach ($this->paginator as $data): 
		?>
		<tr>
			<td><?php echo $data['cn_billing_no']?></td>
			<td><?php echo format_date_to_view($data['cn_create_date'])?></td>
			<td><?php echo $this->formData['type'] == 1 ? $data['at_pes_id'] : $data['registrationId']?></td>
			<td><?php echo $this->formData['type'] == 1 ? $data['applicant_name'] : $data['student_name']?></td>
			<td><?php echo $data['ProgramCode']?></td>
			<td><?php echo $data['cn_description']?></td>
			<td>
			<?php 
			if($data['cn_status'] == 'A'){
				echo "ACTIVE";
			}else if($data['cn_status'] == 'X'){
				echo "CANCEL";
			}else if($data['cn_status'] == 'E'){
				echo "ENTRY";
			}
			
			?></td>
			<td><?php echo $data['creatorName']?></td>
			<td>
			<?php 
			if($data['cn_status'] == 'A'){
				echo format_date_to_view($data['cn_approve_date']);
			}else if($data['cn_status'] == 'X'){
				echo format_date_to_view($data['cn_cancel_date']);
			}else if($data['cn_status'] == 'E'){
				echo format_date_to_view($data['cn_create_date']);
			}
			?>
			
			</td>
			<td>
			<?php 
			if($data['cn_status'] == 'A'){
				echo $data['updName'];
			}else if($data['cn_status'] == 'X'){
				echo $data['cancelName'];
			}else if($data['cn_status'] == 'E'){
				echo $data['creatorName'];
			}
			?>
			</td>
			<td align='right'><?php echo $data['cur_symbol_prefix'].' '.$data['cn_amount']?></td>
			<td><a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'credit-note', 'action'=>'view','id'=>$data['cn_id']),'default',true);?>"><?php echo $this->translate('View');?></a></td>
			<td align="center">
			<?php if($data['cn_status']=="A"){?>
			<input type="checkbox" name="invoice_id[]" id="invoice_id[]" value="<?php echo $data['cn_id'];?>" class="chk" />
			<?php }?></td>
			
		</tr>
		<?php 
		$i++;
		endforeach; ?>
		
	</tbody>
</table>

<input type="hidden" name="typeSearch" id="typeSearch" value="<?php echo $this->type;?>">
<div class="form-opt">
		<input type="submit" name="search" id="btn_search" class="button" value="<?php echo $this->translate('Cancel');?>" />
</div>
</form>	
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<?php endif; ?>

<div id="dialog-update" title="<?php echo $this->translate('Edit Invoice Status');?>">
<form id="updatestatus" method="post" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'invoice','action'=>'update-status','type'=>$this->type), 'default', true);?>" onsubmit="return submitFormUpdate();">

<input type="hidden" name="proforma" id="proforma" value="">
  <table>
  	<tr>
  		<td><?php echo $this->translate('Type');?></td>
  		<td>
  		<select name="status" id="status">
  			<option value="W">Waived</option>
  			<option value="E">Exempted</option>
  			<option value="S">Sponsorship</option>
  		</select>
  		</td>
  	</tr>
  	<tr>
  		<td><?php echo $this->translate('Remarks');?></td>
  		<td><textarea name="remarks" id="remarks"></textarea></td>
  	</tr>
  </table>
  </form>
</div>

<script type="text/javascript">

var wWidth = $(window).width();
var dWidth = wWidth * 0.8;
var wHeight = $(window).height();
var dHeight = wHeight * 0.8;

function submitForm(){
//	var receipt = $('input[name=receipt[]]:checked').val();
//	if(!receipt){
//		alert('Please select Receipt');
//		return false;
//	}

	var total = $(".chk:checked").length;
	if (total == 0)
	{
		alert('<?php echo $this->translate('No data selected')?>');
		return false;
	}
	
	return sure('<?php echo $this->translate('Are you sure to Cancel this Credit Note?')?>');
}

function submitFormUpdate(){
	var remark = $('#remarks').val();
	if(!remark){
		alert('Please fill in Remarks');
		return false;
	}

	return sure('<?php echo $this->translate('Are you sure to Update this Invoice?')?>');
}

function updateStatus(id){
	$('#proforma').val(id);
	$( "#dialog-update" ).dialog('open');
	
}


$(function() {

	$( "#dialog-update" ).dialog({
	  	  autoOpen: false,
		      modal: true,
		      position : 'center',
		      width: 450,
			  height: 300,
			  buttons: {
				'Submit': function() {
			        $('#updatestatus').submit();
			      },
		        'Close': function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });
});


</script>