<script type="text/javascript">
	$('#btn_search').click(function(){
		var name = $('#name').val();
		var id = $('#id').val();
		
		$.ajax({
		      url: "/ajax-utility/search-transaction",
		      type: "post",
		      data: {'name':name, 'id':id},
		      dataType: 'json',
		      success: function(data){

		          var table = $("#result tbody");
		          
		          $(table).empty();

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='bill_detail("+data[i].at_pes_id+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].at_pes_id+"</td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		          alert("failure");
		          $("#result").html('there is error while submit');
		      }   
		}); 
	});

	function bill_detail(txn_id){

		$.ajax({
		      url: "/studentfinance/credit-note/search-bill",
		      type: "post",
		      data: {'txn_id':txn_id},
		      dataType: 'json',
		      success: function(data){

		          var table = $("#result_invoice tbody");
		          
		          $(table).empty();

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='update_form(\""+data[i].name+"\","+data[i].no_fomulir+","+data[i].appl_id+",\""+data[i].bill_number+"\","+data[i].bill_amount+")'>"+data[i].bill_number+"</a></td>"+
				          				"<td>"+data[i].bill_description+"</td>"+
				          				"<td>"+data[i].bill_amount+"</td>"+
				          				"<td>"+data[i].cn_amount+"</td>"+
				          				"<td>"+data[i].bill_paid+"</td>"+
				          				"<td>"+data[i].bill_balance+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		          alert("failure");
		      }   
		});
		
		$('#div_search').hide();
		$('#div_invoice').show();
		
	}

	function update_form(name,payee, appl_id, bill, amount){
		console.log(name);
		console.log(payee);
		console.log(bill);
		console.log(amount);
		
		$('#applicant').val(name);
		$('#payee_label').val(payee);
		$('#payee').val(payee);
		$('#appl_id').val(appl_id);
		$('#cn_billing_no_label').val(bill);
		$('#cn_billing_no').val(bill);
		$('#cn_amount').val(amount);
		
		$.fancybox.close();
	}
</script>

<div id="div_search" align="center" style="width:600px;">
<fieldset>
	<legend>
		<?php echo $this->translate('Search Applicant / Student');?>
	</legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Applicant / Student Name');?></td>
			<td>:</td>
			<td>
				<input type="text" name="name" id="name" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Applicant / Student ID');?></td>
			<td>:</td>
			<td>
				<input type="text" name="id" id="id" value="" />
			</td>
		</tr>
		<tr>
			<td colspan="3" align="center">
				<input type="submit" name="search" id="btn_search" class="btn" value="Search" />
			</td>
		</tr>
	</table>
</fieldset>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("No Fomulir");?></th>
			<th><?php echo $this->translate("Email");?></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>

<div id="div_invoice" style="display: none">
	<h2><?php echo $this->translate('Invoice'); ?></h2>
	<table id="result_invoice" class="table" width="100%">
		<thead>
			<tr>
				<th><?php echo $this->translate("Bill Number");?></th>
				<th><?php echo $this->translate("Description");?></th>
				<th><?php echo $this->translate("Amount");?></th>
				<th><?php echo $this->translate("CN Amount");?></th>
				<th><?php echo $this->translate("Paid");?></th>
				<th><?php echo $this->translate("Balance");?></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>