<script type="text/javascript">
	$('#btn_search').click(function(){
		var name = $('#name').val();
		var id = $('#id').val();
		
		$.ajax({
		      url: "/studentfinance/credit-note/search-student",
		      type: "post",
		      data: {'name':name, 'id':id},
		      dataType: 'json',
		      success: function(data){

		          var table = $("#result tbody");
		          
		          $(table).empty();

		          if(data.length>0){
		        	  for(var i=0; i<data.length; i++){
				          var content = "<tr>" +
				          				"<td><a href='#' onclick='bill_detail("+data[i].appl_id+")'>"+data[i].name+"</a></td>"+
				          				"<td>"+data[i].appl_email+"</td>"+
				          				"</tr>"
			        	  $(table).append(content);
			          }
		          }else{
		        	  var content = "<tr><td> No Search Result </td></tr>"
		        	  $(table).append(content);
		          }
		      },
		      error:function(){
		          alert("failure");
		          $("#result").html('there is error while submit');
		      }   
		}); 
	});

	function bill_detail(appl_id){

		window.location = '/studentfinance/account-applicant/ledger/id/'+appl_id
		
	}
</script>

<div id="div_search" align="center" style="width:600px;">
<fieldset>
	<legend>
		<?php echo $this->translate('Search Applicant / Student');?>
	</legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Applicant / Student Name');?></td>
			<td>:</td>
			<td>
				<input type="text" name="name" id="name" value="" />
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Applicant / Student ID');?></td>
			<td>:</td>
			<td>
				<input type="text" name="id" id="id" value="" />
			</td>
		</tr>
		<tr>
			<td colspan="3" align="center">
				<input type="submit" name="search" id="btn_search" class="btn" value="Search" />
			</td>
		</tr>
	</table>
</fieldset>
<table id="result" class="table" width="100%">
	<thead>
		<tr>
			<th><?php echo $this->translate("Name");?></th>
			<th><?php echo $this->translate("Email");?></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>

<div id="div_invoice" style="display: none">
	<table id="result_invoice" class="table" width="100%">
		<thead>
			<tr>
				<th><?php echo $this->translate("Bill Number");?></th>
				<th><?php echo $this->translate("Description");?></th>
				<th><?php echo $this->translate("Amount");?></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>