<script type="text/javascript">
function addCourseType(){
    window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'coursetype', 'action'=>'newcoursetype'),'default',true);?>";
}
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate("Course Type"); ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="addCourseType()" >
                <span class='add'></span>
                <?php echo $this->translate("Add");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br></br>
<fieldset>
<legend><?php echo $this->translate->_("Course Type Search");?></legend>
	<form action="<?php echo $this->baseUrl();?>/generalsetup/coursetype/index/search/1" method="POST">
            <dl class="zend_form">
            <dt><?php echo $this->translate("Course Type");?></dt>
            <dd><?php echo $this->lobjform->field2;?></dd>		
            <!--<dt ><?php ////echo $this->translate("Credit Hours Mandatory");?></dt>
            <dd ><?php echo $this->lobjform->field14;?></dd>-->
            <dt><?php echo $this->defaultlanguage;?></dt>
            <dd ><?php echo $this->lobjform->field3;?></dd>
            <!--<dt ><?php echo $this->translate("Project");?></dt>
            <dd ><?php //echo $this->lobjform->field21;?></dd>-->
            <dt ><?php echo $this->translate("Active");?></dt>
            <dd ><?php echo $this->lobjform->field7;?></dd>
            <dd>
            <?php echo $this->lobjform->Search;?>
            <?php echo $this->lobjform->Clear;?>					
            </dd>
            </dl>
	</form>	
</fieldset>
</br>
    <?php 
        echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	<tr>
	     <th><?php echo $this->translate("Course Type");?></th>
	      <th ><?php echo $this->defaultlanguage;?></th>
              <th><?php echo $this->translate(''); ?></th>
	</tr>
	<?php if (count($this->paginator)): 
		foreach ($this->paginator as $CourseType ): ?>
	<tr>
		<td>
			<a href="<?php echo $this->baseUrl();?>/generalsetup/coursetype/coursetypelist/id/<?php echo $this->escape($CourseType['IdCourseType']);?>" rel="lyteframe" rev="width: 870px; height: 475px; scrolling: auto" >
			<?php echo $this->escape($CourseType['CourseType']);?>
			</a>
		</td>
		<td><?php echo $this->escape($CourseType['Bahasaindonesia']);?></td>
                <td align="center" class="options">
                    <a href="<?php echo $this->baseUrl();?>/generalsetup/coursetype/coursetypelist/id/<?php echo $this->escape($CourseType['IdCourseType']);?>" rel="lyteframe" rev="width: 870px; height: 475px; scrolling: auto" >
			<?php echo $this->translate('Edit'); ?>
			</a>
                </td>
	</tr>
		<?php endforeach;
	endif; ?>
</table>
    <div class="pagination opt">
    <?php 
        echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    </div>
