<div class="message toolbar">
	<h2>
		<?php if($this->itemregid=='') { 
			echo $this->translate("Add Item Register");
		} else {  echo $this->translate("Edit Item Register");
		} ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'itemregistersetup', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<script>
function delRec(val) {    
    var dStat = confirm("Are you sure you want to delete the Itemregister?");
    if(dStat == true){        
        var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/hostel/itemregistersetup/delitemregister/id/"+val,
			handleAs:'text',
			load:function(data){
                             window.location = "<?php echo $this->baseUrl();?>/hostel/itemregistersetup/index";
                         }
	              }
	dojo.xhrPost(xhrArgs);        
    }
}       
</script>
<Form dojoType="dijit.form.Form" id="myForm" method="post" name="myForm">
	<script type="dojo/method" event="onSubmit">
			if (this.validate()) {
				return true;
			} 
			else {
				return false;
			}
			</script>
	<table class="table" width="100%">



		<tr>
			<th colspan="4"><?php echo $this->translate("Item Register Details");?>
			</th>
		</tr>
		<tr>
			<td><?php echo $this->translate("Name");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjform->Name;?>
			
			<td><?php echo $this->translate("Code");?><span class="reqMark">*</span>
			</td>
			<td><?php echo $this->lobjform->Code;?></td>
		</tr>

		<tr>
			<td><?php echo $this->defaultlanguage;?></td>
			<td><?php echo $this->lobjform->DefaultLang;?></td>
			<td colspan='2'></td>
		</tr>

		<tr>
			<td colspan=4 align="center">
				<?php echo $this->lobjform->Save;?> 
			</td>

		</tr>
	</table>