<div class="message toolbar">
	<h2>
		<?php 
			echo $this->translate("Item Register");
		?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->baseUrl();?>/hostel/itemregistersetup/additemregister" >
					<span class='add'></span>
					Add
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<script>
dojo.addOnLoad(function(){
             dijit.byId("Name").setAttribute('required', false);
             dijit.byId("Code").setAttribute('required', false);
             dijit.byId("ShortName").setAttribute('required', false);
	});
        
 function addrecords() {
     window.location = "<?php echo $this->baseUrl();?>/hostel/itemregistersetup/additemregister";
 } 
 
 function clearpageAdd() {
     window.location = "<?php echo $this->baseUrl();?>/hostel/itemregistersetup/index";
 }
</script>

	<fieldset>
		<legend>
			<?php echo $this->translate("Search");?>
		</legend>
		<form
			action="<?php echo $this->baseUrl();?>/hostel/itemregistersetup/index/search/1"
			method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("Name");?></td>
					<td><?php echo $this->lobjform->Name;?></td>
				<tr>
				</tr>
					<td><?php echo $this->translate("Code");?></td>
					<td><?php echo $this->lobjform->Code;?></td>
				</tr>


				<tr>
					<td><?php echo $this->translate("Short")." ".$this->translate("Name");?>
					</td>
					<td><?php echo $this->lobjform->ShortName;?></td>
				<tr>
				</tr>
					<td><?php echo $this->defaultlanguage;?></td>
					<td><?php echo $this->lobjform->DefaultLang;?></td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
					</td>

				</tr>
			</table>
		</form>
	</fieldset>
	<br />

	<?php if($this->blankMsg=='1') { ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<td align="center" style="color: red">No matching record found. Try
				different keywords.</td>
		</tr>
	</table>
	<?php } ?>

	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Item Name");?>
			</th>
			<th><?php echo $this->translate("Code");?></th>
			<th><?php echo $this->defaultlanguage;?></th>
			<th></th>
		</tr>

		<?php if (count($this->paginator)){
			foreach ($this->paginator as $values){
			?>
		<tr>
			<td>
				<?php echo $values['Name'];?>
			</td>
			<td>
				<?php echo $values['Code'];?>
			</td>
			<td>
				<?php echo $values['DefaultLang'];?>
			</td>
			<td>
				<a href="<?php echo $this->baseUrl();?>/hostel/itemregistersetup/additemregister/itemregid/<?php echo $values['IdHostelItem'];?>">
					<?php echo $this->translate('Edit'); ?>
				</a>
			</td>
		</tr>
		<?php } 
} ?>

		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
							'/partials/my_pagination_control.phtml'); ?>
				</div></td>
		</tr>
	</table>