<script type="text/javascript">

$(function () {

	$('.ajaxDelete').click(function(e){
		
		var link = $(this).attr("href");
		
		var msg = confirm('<?php echo $this->translate('Are you sure you want to delete?'); ?>');

		if(msg){
			$.ajax({
				url:link,
				method:'GET'
			});
		}
		
		
	});

	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Save": function() {            	
    			url="<?php echo $this->url(array('module'=>'examination','controller'=>'publish-result','action'=>'save'), 'default', true);?>";
    			$("#formAdd").attr('action',url);

    			var semester = $("#idProgram option:selected").val();
    			var program = $("#idProgram option:selected").val();
    			var tarikh = $("#DisplayDate").val();
    			var masa = $("#DisplayTime").val();
    			
             	if(semester==0 || program==0 || tarikh=='' || masa==''){
            		alert('All fields are required.');
             	}else{                 	
    				$("#formAdd").submit();    
             	}     	
            },
            "Cancel": function() {
                $( this ).dialog( "close" );
            }
        }
    });	


	$("#DisplayDate").datepicker({
		"dateFormat":"dd-mm-yy",
		"changeMonth":"true"		
	});

	$("#DisplayTime").timePicker({
	  	  startTime: "06:00", // Using string. Can take string or Date object.
	  	  endTime: new Date(0, 0, 0, 23, 30, 0), // Using Date object here.
	  	  show24Hours: true,
	  	  separator: ':',
	  	  step: 10});
});



function add(){
	$( "#dialog-box" ).dialog('open');	
}



</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			<li>							
				<a href="#" onClick="add()">
				<span class='add'></span>Add</a>				
			</li>	
			
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>


<div style="width:100%;">
<?php echo $this->form; ?>

<br>
<?php  if(count($this->publish_data) > 0 ){ ?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>		
		<th width="40%"><?php echo $this->translate("Program"); ?></th>
		<th width="20%"><?php echo $this->translate("Semester"); ?></th>
		<th width="10%"><?php echo $this->translate("Category"); ?></th>
		<th width="10%"><?php echo $this->translate("Publish Date"); ?></th>
		<th width="10%"><?php echo $this->translate("Publish Time"); ?></th>
		<th width="10%" align="center">&nbsp;</th>
	</tr>
	<?php
			foreach($this->publish_data as $data){
	?>
	<tr>
		<td align="center"><?php echo $data["ProgramCode"].' - '.$data["ProgamName"]?></td>
		<td align="center"><?php echo $data["SemesterName"]?></td>
		<td align="center"><?php echo ($data['pm_category']==1) ? 'Comprehensive Exam':'Standard'; ?></td>
		<td align="center"><?php echo date("d-m-Y",strtotime($data["pm_date"]));?></td>
		<td align="center"><?php echo $data["pm_time"];?></td>
		<td><a href='<?php echo $this->url(array('module'=>'examination','controller'=>'publish-result','action'=>'delete','id'=>$data["pm_id"]), 'default', true);?>' class='ajaxDelete'><?php echo $this->translate("Delete"); ?></a></td>
	</tr>
	<?php } ?>
		
</table>
	<?php }?>
</div>


<div id="dialog-box" title="<?php echo $this->translate("Setup Publish Result Form"); ?>">
<form id="formAdd" method="post">
<dl class="zend_form">
	
		
		 <dt id="IdSemester-label">
			<label class="required" for="IdSemester"><?php echo $this->translate("Semester"); ?></label>
		</dt>
		<dd id="IdSemester-element">
			<select id="idSemester" name="idSemester" >
			    <option value="0"><?php echo $this->translate("Please Select");?></option>
			    <?php 
			    	foreach ($this->semester_list as $semester):
			    ?>
			    		<option value="<?php echo $semester["key"];?>"><?php echo $semester["value"];?></option>
			    <?php 
			    	endforeach;
			    ?>
			</select>
		</dd>
		
		<dt id="IdProgram-label">
			<label class="required" for="IdProgram"><?php echo $this->translate("Program"); ?></label>
		</dt>
		<dd id="IdProgram-element">
			<select multiple id="idProgram[]" name="idProgram[]" size='10' >			   
			    <?php 
			    	foreach ($this->program_list as $program):
			    		
			    ?>
			    		<option value="<?php echo $program["IdProgram"];?>"><?php echo $program["ProgramCode"].' - '.$program["ProgramName"];?></option>
			    <?php 
			    	endforeach;
			    ?>
			</select>
		</dd>
		
		<dt id="Category-label">
			<label class="required" for="category"><?php echo $this->translate("Type"); ?></label>
		</dt>
		<dd id="IdProgram-element">
			<select id="category" name="category" >
				<option value='0'>Standard</option>
				<option value='1'>Comprehensive Exam</option>
			</select>
		</dd>
		
		<dt id="DisplayDate-label">
			<label class="required" for="DisplayDate"><?php echo $this->translate("Display Date");?></label>
		</dt>
		<dd id="DisplayDate-element">
			<input type="text" name="DisplayDate" id="DisplayDate" value="">
		</dd>
			<dt id="DisplayTime-label">
			<label class="required" for="DisplayTime"><?php echo $this->translate("Display Time");?></label>
		</dt>
		<dd id="DisplayTime-element">
			<input type="text" name="DisplayTime" id="DisplayTime" value="" placeholder='HH24:MM'>
		</dd>	
	</dl>
</form>  
</div>
