<script type="text/javascript">
    $(function(){
        var filterby = <?php echo $this->filterby; ?>;
        
        if (filterby != ''){
            if (filterby == 1){
                $('#weekrow').show();
                $('#monthrow').hide();
                $('#weekfilter').attr('required');
                $('#monthfilter').removeAttr('required');
            }else{
                $('#weekrow').hide();
                $('#monthrow').show();
                $('#weekfilter').removeAttr('required');
                $('#monthfilter').attr('required');
            }
        }
        
        $('.scheduledate').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,			
            //maxDate: '0'
        });
        
        $( "#dialog-form" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650
        });
    });
    
    function loadreason(value, id){
        if (value==396){
            $('#reason'+id).show();
        }else{
            $('#reason'+id).hide();
        }
    }
    
    function loadFilter(value){
        if (value==1){
            $('#weekrow').show();
            $('#monthrow').hide();
            $('#weekfilter').attr('required');
            $('#monthfilter').removeAttr('required');
        }else if (value==2){
            $('#weekrow').hide();
            $('#monthrow').show();
            $('#weekfilter').removeAttr('required');
            $('#monthfilter').attr('required');
        }else {
            $('#weekrow').hide();
            $('#monthrow').hide();
            $('#weekfilter').removeAttr('required');
            $('#monthfilter').removeAttr('required');
        }
    }
    
    function print(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance', 'action'=>'print', 'id'=>$this->groupInfo['IdCourseTaggingGroup']),'default',true);?>";
	$('#filter').attr('action',url);
	$('#filter').submit();
    }
    
    function printPDF(){
        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'attendance', 'action'=>'pdf', 'id'=>$this->groupInfo['IdCourseTaggingGroup']),'default',true);?>";
	$('#filter').attr('action',url);
	$('#filter').submit();
    }
    
    function filtersubmit(){
	$('#filter').removeAttr('action');
	$('#filter').submit();
    }
    
    function editSchedule(date, groupid){
        var url = "<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'attendance', 'action'=>'edit-schedule'),'default',true);?>/date/"+date+"/groupid/"+groupid;

        $('#dialog-form').dialog('open');

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'html',
            beforeSend: function(){
                $('#dialog-form').html('<span class="loading"><?php echo $this->translate('Loading')?>...</span>');
            },
            success: function(data){	
                $('#dialog-form').html(data);
            }
        });

        return false;
    }
</script>
<style type="text/css">
td {
    white-space: nowrap;
}
</style>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick='printPDF()'>
                <span class='download'></span>
                <?php echo $this->translate("Download PDF");?>
                </a>
            </li>
            <li>
                <a href="#" onclick='print()'>
                <span class='download'></span>
                <?php echo $this->translate("Download Excel");?>
                </a>
            </li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'course-group', 'action'=>'group-list', 'idSubject'=>$this->groupInfo['IdSubject'], 'idSemester'=>$this->groupInfo['IdSemester']),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Info'); ?></legend>
    
    <table>
        <tr>
            <td><?php echo $this->translate('Section Name'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['GroupName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Section Code'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['GroupCode']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Subject'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['subjectname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Semester'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['semestername']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Lecturer'); ?></td>
            <td> : </td>
            <td><?php echo $this->groupInfo['lecturername']; ?></td>
        </tr>
    </table>
</fieldset>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Filter'); ?></legend>
    <form id="filter" method="post">
        <table>
            <tr>
                <td><?php echo $this->translate('Filter By'); ?></td>
                <td> : </td>
                <td>
                    <select name="filterby" id="filterby" onchange="loadFilter(this.value)" class="select">
                        <option label="-- Show All --" value="0">-- Show All --</option>
                        <option label="Week" value="1" <?php echo $this->filterby == 1 ? 'selected':''; ?>>Week</option>
                        <option label="Month" value="2" <?php echo $this->filterby == 2 ? 'selected':''; ?>>Month</option>
                    </select>
                </td>
            </tr>
            <tr style="display: none;" id="weekrow">
                <td><?php echo $this->translate('Week'); ?></td>
                <td> : </td>
                <td>
                    <select name="weekfilter" id="weekfilter" class="select">
                        <?php
                        if ($this->weekArr){
                        $weekCount = 1;
                        foreach ($this->weekArr as $weekLoop){
                        if ($weekLoop == $this->week){
                            $selected = 'selected';
                        }else{
                            $selected = '';
                        }
                        ?>
                        <option <?php echo $selected; ?> label="<?php echo $weekCount; ?>" value="<?php echo $weekLoop; ?>"><?php echo $weekCount; ?></option>
                        <?php
                        $weekCount++;
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr style="display: none;" name="monthrow" id="monthrow">
                <td><?php echo $this->translate('Month'); ?></td>
                <td> : </td>
                <td>
                    <select id="monthfilter" name="monthfilter" class="select">
                        <?php
                        if ($this->monthArr){
                        foreach ($this->monthArr as $monthLoop){
                        if ($monthLoop == $this->month){
                            $selected = 'selected';
                        }else{
                            $selected = '';
                        }
                        ?>
                        <option <?php echo $selected; ?> label="<?php echo $monthLoop; ?>" value="<?php echo $monthLoop; ?>"><?php echo $monthLoop; ?></option>
                        <?php
                        }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input class="btn-submit" type="button" name="filter" onclick="filtersubmit();" value="<?php echo $this->translate('Filter'); ?>"></td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<form method="post" id="attform" name="attform">
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate('No'); ?></th>
                <th><?php echo $this->translate('Name'); ?></th>
                <th><?php echo $this->translate('Student ID'); ?></th>
                <th><?php echo $this->translate('Code'); ?></th>
                <?php
                if ($this->classList){
                //asort($this->classList);
                foreach ($this->classList as $classLoop){
                if ($classLoop['sc_date'] != null){
                ?>
                <th>
                    <input type="text" value="<?php echo date('d-m-Y', strtotime($classLoop['sc_date'])); ?>" name="scheduledate[<?php echo date('Y-m-d', strtotime($classLoop['sc_date'])); ?>]" id="scheduledate<?php echo date('Y-m-d', strtotime($classLoop['sc_date'])); ?>" class="scheduledate" title="dd-mm-yyyy" constraints="{datePattern:'dd-MM-yyyy'}">
                    <br/>
                    <a href="#" onclick="editSchedule(<?php echo strtotime($classLoop['sc_date']); ?>, <?php echo $this->groupInfo['IdCourseTaggingGroup']; ?>);"><?php echo $this->translate("Edit Schedule"); ?></a>
                </th>
                <?php
                }
                }
                }
                ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if ($this->studentList){
            $count = 1;
            foreach ($this->studentList as $studentLoop){
            ?>
            <tr>
                <td align="center"><?php echo $count; ?></td>
                <td><?php echo $studentLoop['studentName']; ?><?php echo $studentLoop['exam_status']=='U' ? ' *':'' ?></td>
                <td align="center"><?php echo $studentLoop['registrationId']; ?></td>
                <td align="center"><?php echo $studentLoop['ProgramCode']; ?></td>
                <?php
                if ($this->classList){
                foreach ($this->classList as $classLoop){
                if ($classLoop['sc_date'] != null){
                ?>
                <td>
                    <?php
                    if ($this->status){
                    $model = new GeneralSetup_Model_DbTable_Attendance();
                    $status = $model->checkAttendanceStatus($this->groupInfo['IdCourseTaggingGroup'], $studentLoop['IdStudentRegistration'], $classLoop['sc_date']);
                    $i = 0;
                    
                    if ($status['ctd_status']==396){
                        $style = '';
                        $reason = $status['ctd_reason'];
                    }else{
                        $style = 'style="display: none;"';
                        $reason = '';
                    }
                    ?>
                    <input type="hidden" name="item[<?php echo $studentLoop['IdStudentRegistration']; ?>][<?php echo $classLoop['sc_date']; ?>]" id="item<?php echo $studentLoop['IdStudentRegistration'].$classLoop['sc_date']; ?>" value="<?php echo $classLoop['idClassType']; ?>">
                    <select id="status<?php echo $studentLoop['IdStudentRegistration'].$classLoop['sc_date']; ?>" name="status[<?php echo $studentLoop['IdStudentRegistration']; ?>][<?php echo $classLoop['sc_date']; ?>]" onchange='loadreason(this.value, <?php echo $studentLoop['IdStudentRegistration'].strtotime($classLoop['sc_date']); ?>);'>
                    <?php
                    foreach ($this->status as $statusLoop){
                    ?>
                    <?php
                    ?>
                    <option value="<?php echo $statusLoop['idDefinition']; ?>" <?php echo $status['ctd_status']==$statusLoop['idDefinition'] ? 'selected=""':''; ?> label="<?php echo $statusLoop['DefinitionDesc']; ?>"><?php echo $statusLoop['DefinitionDesc']; ?></option>
                    <?php
                    $i++;
                    }
                    ?>
                    </select>
                    <div <?php echo $style; ?> id="reason<?php echo $studentLoop['IdStudentRegistration'].strtotime($classLoop['sc_date']); ?>">
                        <br/>
                        <input type="text" class="input-txt" style="width: 171px;" placeholder="Reason" value="<?php echo $reason; ?>" name="reason[<?php echo $studentLoop['IdStudentRegistration']; ?>][<?php echo $classLoop['sc_date']; ?>]">
                    </div>
                    <?php
                    }
                    ?>
                </td>
                <?php
                }
                }
                }
                ?>
            </tr>
            <?php
            $count++;
            }
            }
            ?>
        </tbody>
    </table>
    <div class="form-opt">
        <button type="submit" class="btn-submit" name="submit"><?php echo $this->translate('Update'); ?></button>
    </div>
</form>
<div id="dialog-form" title="<?php echo $this->translate('Edit Schedule')?>" style="display:none"></div>