<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li>
                <a id="dt_add" href="/generalsetup/registry-value/add/id/<?php echo $this->id;?>">
                    <span class='add'></span>
                    <?php echo $this->translate('Add'); ?>
                </a>
            </li>
            <li>
                <a href="#" onclick="return searchbox()">
                    <span class='search'></span>
                    <?php echo $this->translate('Search') ?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'registry-type', 'action'=>'index'),'default',true);?>" >
                    <span class='back'></span>
                    Back
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<?php
$searchbox = !empty($this->formData) ? 0 : 1;
?>
<div id="search_form" style="<?php echo $searchbox == 1 ? 'display:none' : '' ?>">
    <fieldset>
        <legend><?php echo $this->translate('Search') ?></legend>
        <?php echo $this->form; ?>
    </fieldset>
</div>
<br/>

<?php if (isset($this->noticeMessage)) { ?>
    <div class="message notice"><strong><?php echo $this->noticeMessage; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeSuccess)) { ?>
    <div class="message success"><strong><?php echo $this->noticeSuccess; ?></strong>.</div>
    <br/>
<?php } ?>
<?php if (isset($this->noticeError)) { ?>
    <div class="message error"><strong><?php echo $this->noticeError; ?></strong>.</div>
    <br/>
<?php } ?>


<!--<h3>--><?php //echo $this->translate('Registry Types') ?><!-- (--><?php //echo number_format($this->totalRecord) ?><!--)</h3>-->


<table class="table" width="100%">
    <thead>
    <tr>
        <th><?php echo $this->translate('Code'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Name (Malay)'); ?></th>
        <th><?php echo $this->translate('Description'); ?></th>
        <th><?php echo $this->translate('Active'); ?></th>
        <th><?php echo $this->translate('Default'); ?></th>
        <th><?php echo $this->translate('Last Edit by'); ?></th>
        <th><?php echo $this->translate('Last Edit at'); ?></th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if ($this->data) {
        foreach ($this->data as $data) {
            ?>
            <tr>
                <td><?php echo $data['code']; ?></td>
                <td><?php echo $data['name']; ?></td>
                <td><?php echo $data['name_malay']; ?></td>
                <td><?php echo $data['description']; ?></td>
                <td><?php echo $data['active'] == 1 ? $this->translate('Yes') : $this->translate('No'); ?></td>
                <td><?php echo $data['default'] == 1 ? $this->translate('Yes') : $this->translate('No'); ?></td>
                <td><?php echo ($data['updated_user']) ? $data['updated_user'] : $data['created_user']; ?></td>
                <td><?php echo isset($data['updated_at']) ? format_date_to_view($data['updated_at'], 'full') : format_date_to_view($data['created_at'], 'full'); ?></td>
                <td align="center"><a
                        href="/generalsetup/registry-value/edit/id/<?php echo $data['id']; ?>"><?php echo $this->translate('Edit'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>

<script type="text/javascript">

    function searchbox() {
        $('#search_form').toggle();
        return false;
    }

</script>

