<script type="text/javascript">
    function getSemester(id){

        var url = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'manage-class-schedule', 'action'=>'get-semester'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('semester');
            },
            complete: function() {
                hideLoading('semester');
            }
        })
            .done(function(data) {
                var content = '<option label="-- Select --" value="">-- Select --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+'</option>';
                });
                $('#semester').html(content);
            })
            .fail(function() {
                alert("error load semester");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Department'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->scheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?> <span class="reqMark">*</span></td>
                <td><?php echo $this->form->semester; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Code'); ?></td>
                <td><?php echo $this->form->subcode; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Course Name'); ?></td>
                <td><?php echo $this->form->coursename; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="search" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="button" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'waiting-list', 'action'=>'clear'),'default',true);?>';" id="clear" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table class="table" width="100%">
    <tr>
        <th><?php echo $this->translate('No.'); ?></th>
        <th><?php echo $this->translate('Name'); ?></th>
        <th><?php echo $this->translate('Student ID'); ?></th>
        <th><?php echo $this->translate('Programme'); ?></th>
        <th><?php echo $this->translate('Semester'); ?></th>
        <th><?php echo $this->translate('Subject'); ?></th>
        <th><?php echo $this->translate('Group'); ?></th>
        <th><?php echo $this->translate('Type'); ?></th>
        <th><?php echo $this->translate('Status'); ?></th>
        <th></th>
    </tr>
    <?php
    if ($this->waitingList) {
        $no = 0;
        foreach ($this->waitingList as $waitingLoop) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $waitingLoop['appl_fname'].' '.$waitingLoop['appl_lname']; ?></td>
                <td align="center"><?php echo $waitingLoop['registrationId']; ?></td>
                <td align="center"><?php echo $waitingLoop['ProgramCode']; ?></td>
                <td align="center"><?php echo $waitingLoop['SemesterMainName']; ?></td>
                <td align="center"><?php echo $waitingLoop['SubCode'].' - '.$waitingLoop['SubjectName']; ?></td>
                <td align="center"><?php echo $waitingLoop['GroupName']; ?></td>
                <td align="center">
                    <?php
                    if ($waitingLoop['twl_repeat']==0) {
                        if ($waitingLoop['twl_replace']!=0) {
                            echo 'Replacement with '.$waitingLoop['replacecode'];
                        }else{
                            echo 'Normal';
                        }
                    }else{
                        echo 'Repeat';
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($waitingLoop['twl_status']==0){
                        echo 'Entry';
                    }else if ($waitingLoop['twl_status']==1){
                        echo 'Approved';
                    }else{
                        echo 'Rejected';
                    }
                    ?>
                </td>
                <td align="center">
                    <a href="<?php echo $this->url(array('module'=>'registration','controller'=>'waiting-list', 'action'=>'waiting-list-registration', 'id'=>$waitingLoop['twl_id']),'default',true);?>"><?php echo $this->translate('View'); ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>