<script type="text/javascript">
    function checkRegister(element,no,mandatory,item_id){

        var isChecked = $(element).is(':checked');

        if(mandatory==1){

            if(isChecked==true){
                $('.IdItem'+no).prop("checked", true);
            }else{
                $('.IdItem'+no).prop("checked", false);
            }
        }
    }

    function validate(available, availableReserve, className){
        if ($('.chk').is(':checked') == false){
            alert('Please select at least one item to register');
            return false;
        }else{
            if ($('#includecalculation').is(':checked') == false) {
                if (available <= 0) {
                    var ask2 = confirm('You have reach the maximum student for the ' + className + 'class, would you like to proceed?');

                    if (ask2 == false) {
                        return false;
                    }
                }
            }else{
                if (availableReserve <= 0) {
                    var ask3 = confirm('You have reach the maximum reservation student for the ' + className + 'class, would you like to proceed?');

                    if (ask3 == false) {
                        return false;
                    }
                }
            }

            var ask = confirm('Are you sure to register this waiting list?');

            if (ask == true){
                return true;
            }else{
                return false;
            }
        }
    }

    function rejectWaitingList(){
        var ask = confirm('Are you sure to reject this waiting list?');

        if (ask == true){
            return true;
        }else{
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'registration','controller'=>'waiting-list', 'action'=>'index'),'default',true);?>';" >
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
<fieldset>
    <legend><?php echo $this->translate('Student Info'); ?></legend>
    <table width="100%">
        <tr>
            <td width="25%"><?php echo $this->translate('Name'); ?></td>
            <td width="2%">:</td>
            <td><?php echo $this->waitingListInfo['appl_fname'].' '.$this->waitingListInfo['appl_lname']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student ID'); ?></td>
            <td>:</td>
            <td><?php echo $this->waitingListInfo['registrationId']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme'); ?></td>
            <td>:</td>
            <td><?php echo $this->waitingListInfo['ProgramName']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Programme Scheme'); ?></td>
            <td>:</td>
            <td><?php echo $this->waitingListInfo['ProgramMode'].' '.$this->waitingListInfo['StudyMode'].' '.$this->waitingListInfo['ProgramType']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Intake'); ?></td>
            <td>:</td>
            <td><?php echo $this->waitingListInfo['IntakeDesc']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Student Status'); ?></td>
            <td>:</td>
            <td><?php echo $this->waitingListInfo['studentstatus']; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Waiting List Status'); ?></td>
            <td>:</td>
            <td>
                <?php
                if ($this->waitingListInfo['twl_status']==0){
                    echo 'Entry';
                }else if ($this->waitingListInfo['twl_status']==1){
                    echo 'Approved';
                }else{
                    echo 'Rejected';
                }
                ?>
            </td>
        </tr>
    </table>
</fieldset>
<br />
<?php
if ($this->waitingListInfo) {
    ?>
    <form method="post" id="wform" name="wform">
        <table class="table" width="100%">
            <tr>
                <th><?php echo $this->translate('Course Name'); ?></th>
                <th><?php echo $this->translate('Course Code'); ?></th>
                <th><?php echo $this->translate('Credit Hour'); ?></th>
                <th><?php echo $this->translate('Course Type'); ?></th>
                <th><?php echo $this->translate('Semester'); ?></th>
                <th><?php echo $this->translate('Register ?'); ?></th>
                <th><?php echo $this->translate('Reservation'); ?></th>
                <th><?php echo $this->translate('Quota Info'); ?></th>
                <th><?php echo $this->translate('Course Section'); ?></th>
                <th><?php echo $this->translate('Waiting List Type'); ?></th>
            </tr>
            <tr>
                <td><?php echo $this->waitingListInfo['SubjectName']; ?></td>
                <td align="center"><?php echo $this->waitingListInfo['SubCode']; ?></td>
                <td align="center"><?php echo $this->waitingListInfo['CreditHours']; ?></td>
                <td align="center"><?php echo $this->waitingListInfo['coursetypename']; ?></td>
                <td align="center"><?php echo $this->waitingListInfo['SemesterMainName']; ?></td>
                <td align="center">
                    <table class="table" width="100%">
                        <?php
                        foreach($this->waitingListInfo['item'] as $item){
                            //if($item['isRegisterItem']==1){
                                ?>
                                <tr>
                                    <td width="2%" align="center">
                                        <input <?php echo $this->waitingListInfo['twl_status']!=0 ? 'disabled=""':''; ?> <?php echo $item['mandatory']==1 ? 'checked':''; ?> class="chk IdItem<?php echo $this->waitingListInfo['IdStudentRegistration']; ?>" type='checkbox' name='IdItem[<?php echo $this->waitingListInfo['IdStudentRegistration']; ?>][<?php echo $item['item_id'];?>]' id='IdItem<?php echo $this->waitingListInfo['IdStudentRegistration']; ?><?php echo $item['item_id'];?>' value='<?php //echo $item['srsd_id'];?>' onclick='checkRegister(this,"<?php echo $this->waitingListInfo['IdStudentRegistration']; ?>","<?php echo $item['mandatory']; ?>","<?php echo $item['item_id'];?>")'>
                                    </td>
                                    <td width="25%"><?php echo $item['item_name']; ?></td>
                                </tr>
                            <?php
                            //}
                        }
                        ?>
                    </table>
                </td>
                <td align="center">
                    <input type="checkbox" name="includecalculation" id="includecalculation" value="1" checked="">
                </td>
                <td align="center">
                    <?php
                    echo 'Normal Quota : '.$this->available;
                    echo '<br />';
                    echo 'Reserve Quota : '.$this->availableReserve;
                    ?>
                </td>
                <td align="center"><?php echo $this->waitingListInfo['GroupName']; ?></td>
                <td align="center">
                    <?php
                    if ($this->waitingListInfo['twl_repeat']==0) {
                        if ($this->waitingListInfo['twl_replace']!=0) {
                            echo 'Replacement with '.$this->waitingListInfo['replacecode'];
                        }else{
                            echo 'Normal';
                        }
                    }else{
                        echo 'Repeat';
                    }
                    ?>
                </td>
            </tr>
        </table>
        <?php
        if ($this->waitingListInfo['twl_status']==0) {
            ?>
            <div class="form-opt">
                <textarea id="remark" name="remark" placeholder="Remarks..."></textarea>
                <br/>
                <br/>
                <button id="register" name="register" value="register" type="submit" onclick="return validate(<?php echo $this->available; ?>, <?php echo $this->availableReserve; ?>, '<?php echo $this->waitingListInfo['GroupName']; ?>');"><?php echo $this->translate('Register'); ?></button>
                <button id="reject" name="reject" value="reject" type="submit" onclick="return rejectWaitingList();"><?php echo $this->translate('Reject'); ?></button>
            </div>
            <?php
        }else {
            ?>
            <br />
            <table class="table" width="100%">
                <tr>
                    <td width="25%"><?php echo $this->translate('Remarks'); ?></td>
                    <td><?php echo $this->waitingListInfo['twl_remark']; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->waitingListInfo['twl_status']==1 ? $this->translate('Registered By'):$this->translate('Rejected By'); ?></td>
                    <td><?php echo $this->waitingListInfo['loginName']; ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->waitingListInfo['twl_status']==1 ? $this->translate('Registered Date'):$this->translate('Rejected Date'); ?></td>
                    <td><?php echo date('d-m-Y h:i a', strtotime($this->waitingListInfo['twl_approvedate'])); ?></td>
                </tr>
            </table>
            <?php
        }
        ?>
    </form>
    <?php
}
?>