<script>

$(function () {

	 getSubject('#IdProgram');
	
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chk').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chk').prop('checked', false);
		 }
	 });

		
	 $("#idCountry").change(function () {
		    //get city
			getCity(this);
	 });

	 $("#idCity").change(function () {
		    //get ec
			getExamCenter(this);
	 });

	 $(".btn-submit").click(function () {

		 var status =  validate();

		 if(status){
			 	var msg = confirm("<?php echo $this->translate('Are you sure you want to register?');?>");
			 	if(msg){
				 	url = "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'register-exam'),'default',true);?>";
				 	
				 	$("#myform2").attr('action',url);
					$("#myform2").submit();

					return true;
			 	}
		 }else{
			return false;
		 }
	 });
});

function validate(){

	var isChecked = $('.chk').is(':checked');

	 if(isChecked==true){

		if( $('#idCountry').val() == ''){
			alert('Please select country');
			return false;
		}

		if( $('#idCity').val() == ''){
			alert('Please select city');
			return false;
		}

		if( $('#ec_id').val() == ''){
			alert('Please select exam center');
			return false;
		}

		return true;
		 
	 }else{
		alert("<?php echo $this->translate('You did not select any student. Please select.');?>");
		return false;
	 }

	 
	 
}


function getCity(element){

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-city'),'default',true);?>",
			data: {'idCountry':$(element).val()},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				console.log(data);
		    	$('#idCity').empty();
				$('#idCity').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {			    			    
		    		$('#idCity').append('<option value="'+data[index].idCity+'">'+data[index].CityName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('idCity');
		      
			},
			complete: function() {
				hideLoading('idCity');
			}  	
		});
}

function getExamCenter(element){

	var idCountry = $('#idCountry').val();
	var idCity = $(element).val();

	if(idCountry!='' && idCity!=''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-exam-center'),'default',true);?>",
				data: {'idCountry':$('#idCountry').val(),'idCity':$(element).val()},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					console.log(data);
			    	$('#ec_id').empty();
					$('#ec_id').append('<option value="">-- Please Select --</option>');			    	
			    	$.each(data, function(index) {			    			    
			    		$('#ec_id').append('<option value="'+data[index].ec_id+'">'+data[index].ec_name+'</option>');	
			    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ec_id');
			      
				},
				complete: function() {
					hideLoading('ec_id');
				}  	
			});
	}
}


function getSubject(element){

	 var idProgram  = $(element).val();
	 var idSemester = $('#IdSemester').val();
	 var idSubject  = '<?php echo $this->idSubject; ?>';
	
		if(idProgram != '' && idSemester != ''){
			 $.ajax({
					url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-subject'),'default',true);?>",
					data: {'idSemester':idSemester,'idProgram':idProgram},
					type: 'POST',
					dataType: 'json',
					success: function(data){
						console.log(data);
				    	$('#IdSubject').empty();
						$('#IdSubject').append('<option value="">-- Please Select --</option>');			    	
				    	$.each(data, function(index) {
					    	if(idSubject==data[index].IdSubject){
								var sel = 'selected';
					    	}else{
								var sel = '';
					    	}					    
				    		$('#IdSubject').append('<option value="'+data[index].IdSubject+'"'+sel+'>'+data[index].SubCode+' - '+data[index].SubjectName+'</option>');	
				    	});
				          
					},
					error:function(){
				          alert("failure");
					},
					beforeSend: function() {
						showLoading('IdSubject');
				      
					},
					complete: function() {
						hideLoading('IdSubject');
					}  	
				});
		}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>	
		</ul>
	</div>
</div>

<br>
<?php echo $this->form; ?>

<br />

<?php if(count($this->student_list)>0){ ?>
<form name='myform2' id='myform2' method='post' action="">


<input type='hidden' name='idProgram' id='idProgram' value='<?php echo $this->idProgram;?>' />
<input type='hidden' name='idSemester' id='idSemester' value='<?php echo $this->idSemester;?>' />
<input type='hidden' name='idSubject' id='idSubject' value='<?php echo $this->idSubject;?>' />

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
		<tr>
			<th><?php echo $this->translate("Country");?></th>
			<td>
			<select name='idCountry' id='idCountry' class='input-txt'>
				<option value=''><?php echo $this->translate("-- Please Select --");?></option>
				<?php foreach($this->country as $c){?>					
				<option value='<?php echo $c["idCountry"];?>'><?php echo ($this->locale=='ms_MY') ? $c["DefaultLanguage"]:$c["CountryName"];?></option>
				<?php } ?>
			</select>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("City");?></th>
			<td>
			<select name='idCity' id='idCity' class='input-txt'>
				<option value=''><?php echo $this->translate("-- Please Select --");?></option>
			</select>
			</td>
		</tr>
		<tr>
			<th><?php echo $this->translate("Exam Centre");?></th>
			<td>
			<select name='ec_id' id='ec_id' class='input-txt'>
				<option value=''><?php echo $this->translate("-- Please Select --");?></option>
			</select>
			</td>
		</tr>
	</table>
<br></br>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
		<th><?php echo $this->translate("No");?></th>
		<th><?php echo $this->translate("Student Name");?></th>
		<th><?php echo $this->translate("Student ID"); ?></th>		
		<th><?php echo $this->translate("Course Registration Date"); ?></th>		
		<th><?php echo $this->translate("Register Exam?");?><br><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>	
	</tr>

	<?php 
	
	$no =1; 
	foreach ($this->student_list as $student){ ?>
	<tr style="background-color:<?php echo $this->cycle(array("#FFFFFF","#F0F0F0"))->next()?>">
		<td><?php echo $no;?>.</td>
		<td><?php print_r($this->escape($student['appl_fname'].' '.$student['appl_mname'].' '.$student['appl_lname']));?></td>
		<td align='center'><?php echo $student['registrationId'];?></td>		
		<td align='center'><?php echo date("d-m-Y",strtotime($student['UpdDate']));?></td>	
		<td align='center'>			
		<input type="checkbox" class="chk" id="IdStudentRegSubjects[]" name="IdStudentRegSubjects[]" value="<?php echo $student['IdStudentRegSubjects'];?>" >		 
		</td>
	</tr>
	<?php $no++; } ?>
</table>
<div class="form-opt">	
<input type="button" name="save" id="save" value="Save" class="btn-submit">
</div>
</form>
<?php } ?>