<script>

$(function () {

	
	 $("#idCountry").change(function () {
		    //get city
			getCity(this);
	 });

	 $("#idCity").change(function () {
		    //get ec
			getExamCenter(this);
	 });
	 
	$( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Save": function() {

				var flag=true;
				
    			if($('#idCountry').val()==''){
    				$('#idCountry').addClass('error');
    				alert('Please select country');
    				flag = false;	
    			}

    			if($('#ec_id').val()==''){
    				$('#ec_id').addClass('error');
    				alert('Please select exam center');
    				flag = false;		
    			}

    			if(flag==true){
        			$('#changeForm').attr('action',"<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'change-center'),'default',true);?>")
        			$('#changeForm').submit();
    			}
    			
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
});


function changeCenter(erid){
	
	$('#er_id').val(erid);
	$( "#dialog-box" ).dialog('open');	
}

function getCity(element){

	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-city'),'default',true);?>",
			data: {'idCountry':$(element).val()},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				console.log(data);
		    	$('#idCity').empty();
				$('#idCity').append('<option value="">-- Please Select --</option>');			    	
		    	$.each(data, function(index) {			    			    
		    		$('#idCity').append('<option value="'+data[index].idCity+'">'+data[index].CityName+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('idCity');
		      
			},
			complete: function() {
				hideLoading('idCity');
			}  	
		});
}

function getExamCenter(element){

	var idCountry = $('#idCountry').val();
	var idCity = $(element).val();

	if(idCountry!='' && idCity!=''){
		 $.ajax({
				url: "<?php echo $this->url(array('module'=>'registration','controller'=>'exam-registration', 'action'=>'get-exam-center'),'default',true);?>",
				data: {'idCountry':$('#idCountry').val(),'idCity':$(element).val()},
				type: 'POST',
				dataType: 'json',
				success: function(data){
					console.log(data);
			    	$('#ec_id').empty();
					$('#ec_id').append('<option value="">-- Please Select --</option>');			    	
			    	$.each(data, function(index) {			    			    
			    		$('#ec_id').append('<option value="'+data[index].ec_id+'">'+data[index].ec_name+'</option>');	
			    	});
			          
				},
				error:function(){
			          alert("failure");
				},
				beforeSend: function() {
					showLoading('ec_id');
			      
				},
				complete: function() {
					hideLoading('ec_id');
				}  	
			});
	}
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
			<a href="<?php echo $this->backUrl; ?>" >
					<span class='back'></span>
					Back
				</a>
			</li>	
		</ul>
	</div>
</div>

<br>

<table class="table" width="50%" cellpadding="5" cellspacing="1">	
	  <tr>
	   	 <th><?php echo $this->translate("Semester");?></th>	
	   	 <td><?php echo $this->semester[0]['SemesterMainName'];?></td> 
	  </tr>
	  <tr>
	   	 <th><?php echo $this->translate("Course Name");?></th>	
	   	 <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?> (<?php echo $this->subject['SubCode'];?>)</td>
	  </tr>
	   <tr>
	   	 <th><?php echo $this->translate("Exam Center");?></th>	
	   	 <td><?php echo ($this->locale=='ms_MY') ? $this->ec['ec_default_language']:$this->ec['ec_name']; ?></td>
	  </tr>
</table>
<br></br>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
	    <th><?php echo $this->translate("No");?></th>	
		<th><?php echo $this->translate("Student Name"); ?></th>		
		<th><?php echo $this->translate("Student ID"); ?></th>		
		<th></th>			
	</tr>		
	
	<?php if(count($this->student_list)>0){
			foreach($this->student_list as $index=>$student){
	?>	
		<tr>		
			<td align='center'><?php echo $index+1;?></td>			
			<td align='left'><?php echo $student['appl_fname'].' '.$student['appl_lname'];?></td>
			<td align='center'><?php echo $student['registrationId'];?></td>
			<td align='center'><a href="javascript:void(0);" onclick='changeCenter("<?php echo $student['er_id']; ?>")' ><?php echo $this->translate("Change Exam Center"); ?></a></td>			
		</tr>
		
	<?php } } ?>
</table>

<div id="dialog-box" title="<?php echo $this->translate("Change Exam Center"); ?>">
<form name='changeForm' id='changeForm'  method='post'>
<input type='hidden' name='fr' id='fr' value='<?php echo $this->fr; ?>'></input>
<input type='hidden' name='er_id' id='er_id' value=''></input>
<input type='hidden' name='idSemester' id='idSemester' value='<?php echo $this->idSemester;?>'></input>
<input type='hidden' name='idSubject' id='idSubject' value='<?php echo $this->idSubject;?>'></input>
<input type='hidden' name='cur_ec_id' id='cur_ec_id' value='<?php echo $this->cur_ecid;?>'></input>

<table class="table" width="100%" cellpadding="5" cellspacing="1">	
			<tr>
				<th><?php echo $this->translate("Country");?></th>
				<td>
				<select name='idCountry' id='idCountry' class='input-txt'>
					<option value=''><?php echo $this->translate("-- Please Select --");?></option>
					<?php foreach($this->country as $c){?>					
					<option value='<?php echo $c["idCountry"];?>'><?php echo ($this->locale=='ms_MY') ? $c["DefaultLanguage"]:$c["CountryName"];?></option>
					<?php } ?>
				</select>
				</td>
			</tr>
			<tr>
				<th><?php echo $this->translate("City");?></th>
				<td>
				<select name='idCity' id='idCity' class='input-txt'>
					<option value=''><?php echo $this->translate("-- Please Select --");?></option>
				</select>
				</td>
			</tr>
			<tr>
				<th><?php echo $this->translate("Exam Centre");?></th>
				<td>
				<select name='ec_id' id='ec_id' class='input-txt'>
					<option value=''><?php echo $this->translate("-- Please Select --");?></option>
				</select>
				</td>
			</tr>
		</table>
	</form>
</div>
