<script>
function changeProgram(id){
	return true;
	document.getElementById('program_id').options.length = 0;
	
	$.ajax({
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'admission-record','controller'=>'batch-registration','action'=>'ajax-get-program'),'default',true);?>", 
		data: "id=" + id,
		context: document.body, 
		success: function(data){
			response = eval(data);
			var course = document.getElementById('program_id');
			course.options.length = 0;
			course.options[0]=new Option('-- Select Program --','');
			
			for(var i=0; i<response.length; i++) {
				course.options[i+1]=new Option(response[i].main_name,response[i].program_id );
			}		
		}
	});
}

function get_program_scheme() {
	$.ajax({
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging','action'=>'get-program-scheme-by-program'),'default',true);?>", 
		data: {program_id: $('#program_id').val() },
		context: document.body, 
		success: function(data){
				data = eval(data);
				
				options = "";
				
				$.each(data, function(k, v) {
				options = options + "<option value='"+ v['id'] +"' >"+ v['value'] +"</option>";
				});
				
				console.log(options);
				$('#IdProgramScheme').html(options);	
				
			
		
		}
	});
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div><p>

<form name="form1" method="post" action="">
	<input type="hidden" name="id" value="<?php echo $this->id;?>">
	<table border="0" cellpadding=" 5" cellspacing="1">
		<tr>
			<td width="153"><?php echo $this->translate('Set Form Name');?></td>
			<td width="3">:</td>
			<td width="919"><input type="text" name="form_name" value="" class="input-txt"></td>
		</tr>
		<tr>
			<td width="153"><?php echo $this->translate('Branch');?></td>
			<td width="3">:</td>
			<td width="919">
				<select name="branch_id" id="branch_id" onChange="changeProgram(this.options[this.selectedIndex].value);"
				 class="select"
				>
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					
					<?php 
					foreach($this->branch as $branch):		  
						?>
					<option value="<?php echo $branch['IdBranch'];?>">
						<?php echo $branch['BranchName'];?></option>
					<?php endforeach;?> 
				</select> 
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Semester');?></td>
			<td width="3">:</td>
			<td>
				<select name="semester_id" id="semester_id"  class="select">
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					<?php
					foreach ($this->semesterlist as $semester) {
						if($semester['key'] ==$this->semesterID){
							$selected="selected='selected'";
						}else{
							$selected="";
						}
						echo "<option value='".$semester['key']."' ".$selected." >".$semester['code'] ."</option>";
					}
					?>
				</select>			
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Programme');?></td>
			<td width="3">:</td>
			<td>
				<select name="program_id" id="program_id"  class="select" onchange="get_program_scheme()" >
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					<?php 
					foreach($this->programs as $program) {
						?>
						<option value="<?php echo $program['IdProgram'];?>">
							<?php echo $program['ProgramName']; ?>
						</option>
						<?php } ?> 
					</select>
				</td>
			</tr>
					<tr>
			<td><?php echo $this->translate('Programme Scheme');?></td>
			<td width="3">:</td>
			<td>
				<select name="IdProgramScheme" id="IdProgramScheme"  class="select">
					<option value="0"><?php echo $this->translate('Please Select');?></option>
				</select>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate('List of Question Pool');?></td>
				<td>:</td>
				<td>
					<?php foreach($this->pool as $pool): ?>
					<input type="checkbox" name="question_pool[]" id="question_pool[]"  value="<?php echo $pool['id'];?>">
					<?php echo $pool['name'];?></br>
				<?php endforeach; ?>      </td>
			</tr>
			<tr>
				<td><?php echo $this->translate('Active');?>?</td>
				<td>:</td>
				<td>
					<input type="hidden" name="status" value="2">
					<input type="checkbox" name="status" value="1" id="status" checked="checked">
				</td>
			</tr>	
			<tr>
				<td colspan="2">&nbsp;</td>
				<td><input type="submit" name="Submit" value="Save">
				</tr>
			</table>
		</form>