<script>

$(function() {
	getProgramScheme('#program_id');

});

function changeProgram(id){
	return true;
	document.getElementById('program_id').options.length = 0;
	
	$.ajax({
		type: "POST",
		url: "<?php echo $this->url(array('module'=>'admission-record','controller'=>'batch-registration','action'=>'ajax-get-program'),'default',true);?>", 
		data: "id=" + id,
		context: document.body, 
		success: function(data){
			response = eval(data);
			var course = document.getElementById('program_id');
			course.options.length = 0;
			course.options[0]=new Option('-- Select Program --','');
			
			for(var i=0; i<response.length; i++) {
				course.options[i+1]=new Option(response[i].main_name,response[i].program_id );
			}		
		}
	});
}

function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php echo $this->info['IdProgramScheme']; ?>';

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'report', 'action'=>'get-program-scheme'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#IdProgramScheme').empty();
				$('#IdProgramScheme').append('<option value="0">Please Select</option>');			    	
		    	$.each(data, function(index) {
			    	if(IdProgramScheme==data[index].IdProgramScheme){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdProgramScheme');
		      
			},
			complete: function() {
				hideLoading('IdProgramScheme');
			}  	
		});
	 }
}


function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>


<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<form method="post" action="">
	<input type="hidden" name="sectiontagging_id" value="<?php echo $this->info['id']?>" />
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="1">
<tr>
	<th colspan="2">Copy From</th>
</tr>
<tr>
	<th width="100">Set Form Name</th>
	<td width="437"><?php echo $this->SectionData['form_name'];?></td>
</tr>
<tr>
	<th width="100">Branch</th>
	<td width="437"><?php echo $this->SectionData['branch_name'];?></td>
</tr>

<tr>
	<th>Semester</th>
	<td><?php echo $this->SectionData['semester_name'];?>	</td>
</tr>
    <tr>
        <th>Programme</th>
        <td><?php echo $this->SectionData['program_name'];?></td>
    </tr>
    <tr>
        <th>Programme Scheme</th>
        <td><?= $this->SectionData['mode_of_program_name'] ?> <?= $this->SectionData['mode_of_studies_name'] ?> <?php echo ($this->SectionData['mode_of_program_type_name'] != ' ')?$this->SectionData['mode_of_program_type_name']:"";?></td>
    </tr>
<tr>
	<th colspan="2">Copy To</th>
</tr>

		<tr><th><?php echo $this->translate('Set Form Name')?></th>
		<td><input type="text" name="form_name" value="<?php echo $this->escape($this->info['form_name']);?>" class="input-txt" /></td>
		<tr><th><?php echo $this->translate('Branch')?></th>
		<td>
		<select name="branch_id" id="branch_id" onChange="changeProgram(this.options[this.selectedIndex].value);"
				 class="select"
				>
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					
					<?php 
					foreach($this->branch as $branch):	

					$selected = '';
					if($this->info['branch_id'] ==  $branch['IdBranch']){
						$selected = "selected='selected'";
					}
						?>
					<option value="<?php echo $branch['IdBranch'];?>" <?php echo $selected;?>>
						<?php echo $branch['BranchName'];?></option>
					<?php endforeach;?> 
				</select> 
		</td>
		<tr><th><?php echo $this->translate('Semester')?></th>
		<td>
		<select name="semester_id" id="semester_id"  class="select">
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					<?php
					foreach ($this->semesterlist as $semester) {
						
						$selected = '';
						if($this->info['semester_id'] ==  $semester['key']){
							$selected = "selected='selected'";
						}
					
						echo "<option value='".$semester['key']."' ".$selected." >".$semester['code'] ."</option>";
					}
					?>
				</select>
		</td>
		<tr><th><?php echo $this->translate('Programme')?></th>
		<td>
		<select name="program_id" id="program_id"  class="select" onchange="getProgramScheme(this);">
					<option value="0"><?php echo $this->translate('Please Select');?></option>
					<?php 
					foreach($this->program as $program) {
						
						$selected = '';
						if($this->info['program_id'] ==  $program['IdProgram']){
							$selected = "selected='selected'";
						}
						
						?>
						<option value="<?php echo $program['IdProgram'];?>" <?php echo $selected;?>>
							<?php echo $program['ProgramName']; ?>
						</option>
						<?php } ?> 
					</select>
		</td>
		<tr><th><?php echo $this->translate('Programme Scheme')?></th>
		<td>
		<select name="IdProgramScheme" id="IdProgramScheme"  class="select">
					<option value="0"><?php echo $this->translate('Please Select');?></option>
				</select>
		</td>
</tr>
<tr>
	<th colspan="2"><input type="submit" name="submit" value="<?php echo $this->translate('Submit')?>" class="btn-submit" /></th>
</tr>

</table>