<script type="text/javascript">
function addRowToTable()
{
	/*--------------------------listRubric------------------------------------*/
	var tbl = document.getElementById('tblComponent');
	var lastRow = tbl.rows.length; 
	var iteration = lastRow;
	var row = tbl.insertRow(lastRow);

	document.getElementById('iteration').value = iteration

	var cellLeft = row.insertCell(0);
	var textNode = document.createTextNode(iteration);
	cellLeft.appendChild(textNode);

	//ValueNumber
	var valueNumber = row.insertCell(1);
	var VN = document.createElement('input');
	VN.type = 'text';
	VN.name = 'ValueNumber' + iteration;
	VN.id = 'ValueNumber'+ iteration;
	VN.size = 20;

	//desc.onkeypress = keyPressTest;
	valueNumber.appendChild(VN);

	//description
	var description = row.insertCell(2);
	var dest = document.createElement('input');
	dest.type = 'text';
	dest.name = 'description'+ iteration;
	dest.id = 'description'+ iteration;
	dest.size = 20;

	//desc.onkeypress = keyPressTest;
	description.appendChild(dest);

	//weightage
	var weightage = row.insertCell(3);
	var wg = document.createElement('input');
	wg.type = 'text';
	wg.name = 'weightage' + iteration ;
	wg.id = 'weightage'+ iteration;
	wg.size = 20;

	//  wg.onblur = onblurRow;  
	weightage.appendChild(wg);

}

function keyPressTest(e, obj)
{
	var validateChkb = document.getElementById('chkValidateOnKeyPress');
	if (validateChkb.checked) {
		var displayObj = document.getElementById('spanOutput');
		var key;
		if(window.event) {
			key = window.event.keyCode; 
		}
		else if(e.which) {
			key = e.which;
		}
		var objId;
		if (obj != null) {
			objId = obj.id;
		} else {
			objId = this.id;
		}
		displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
	}
}

function removeRowFromTable()
{
	var tbl = document.getElementById('tblComponent');
	var lastRow = tbl.rows.length;

	curval = document.getElementById('iteration').value;
	if (lastRow > 2) tbl.deleteRow(lastRow - 1);   
	document.getElementById('iteration').value = curval-1;
}

function openInNewWindow(frm)
{
  // open a blank window
  var aWindow = window.open('','TableAddRowNewWindow','scrollbars=yes,menubar=yes,resizable=yes,toolbar=no,width=400,height=400');

  // set the target to the blank window
  frm.target = 'TableAddRowNewWindow';
  
  // submit
  frm.submit();
}

function validateRow(frm)
{	 
	var tbl = document.getElementById('tblComponent');

	var lastRow = tbl.rows.length - 2;

	var i;
	var total=0;		  

	for (i=1; i<=lastRow; i++) {
		var aRow = document.getElementById('component_item_weightage' + i);

		if (aRow.value.length <= 0) {
			alert('Row ' + i + ' is empty');
			return false;
		}

	         //get total weightage
	         rowVal = aRow.value;
	         total=total+Math.abs(rowVal);	
	     }  

	     if(total !=100){
	     	alert('Total weightage is '+total+' .Please make sure...');
	     	return false;
	     }

	     return true;
	 }

	 function onblurRow(){

    	//get total weightage
    	var tbl = document.getElementById('tblComponent');
    	var lastRow = tbl.rows.length - 2;

    	var i;
    	var total=0;		  

    	for (i=1; i<=lastRow; i++) {
    		var aRow = document.getElementById('weightage' + i);
		     //get total weightage
		     rowVal = aRow.value;
		     total=total+Math.abs(rowVal);

		     if(total > 100){
		     	alert('Total weightage is '+total+' .Please make sure...');					
		     	aRow.value=0;
		     	aRow.focus();
		     	return;
		     }	
		 }  

		}


		function subForm(action){
	if(action==2){//delete
		document.frmcomp.action="<?php echo $this->url(array('module'=>'exam','controller'=>'asscompitem','action'=>'deleteitem'))?>";
		document.frmcomp.submit();	
	}

	if(action==1){
		document.frmcomp.action="<?php echo $this->url(array('module'=>'exam','controller'=>'asscompitem','action'=>'modifyitem'))?>";
		document.frmcomp.submit();	
	}
}

function isNumberKey(evt)
{
	var charCode = (evt.which) ? evt.which : event.keyCode
	if (charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
	
	return true;
}

</script>
<?php   $iteration = count($this->RubricData); ?>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
			<li>
				<a  href="#" onclick="addRowToTable();">
					<span class='add'></span>
					Add Row
				</a>
			</li>
			<li>
				<a href="#" onClick="removeRowFromTable();">
					<span class='remove' style="center"></span>
					Remove Row
				</a>
			</li>
		</ul>
	</div>
</div>

<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br>
<?}?>
<br></br>


<form name="frmcomp" id="frmcomp" method="post" action="">
	<input type="text" name="main_set_id" id="main_set_id" value="<?php echo $this->main_set_id;?>">
	<input type="hidden" name="pool" value="<?php echo $this->pool;?>"></input>

	<table class="table3" width="404" cellpadding="5" cellspacing="0" border="1">
<!--<tr>
	<th width="137">Question Pool</th>					
	<td width="241"><?php echo $this->poolData["poolname"]; ?></td>
</tr>-->
<tr>
	<th>Section</th>	
	<td><input type="text" name="id_Section" id="id_Section" value="<?php echo $this->topic["chaptername"]; ?>"></td>
</tr>		
<tr>
	<th>Question type</th>	
	<td>

       <!--<select name="question_type" id="question_type">
		<option value="0">-- Select Question Type --</option>
    <?php 
      foreach ($this->Sectiontagging as $Sectiontagging):
      $select="";
      if($Sectiontagging['id']==$this->topic['question_type']){
						$select = "selected='selected'";
					}
      	?>
      	<option <?php echo $select;?> value="<?php echo $Sectiontagging['id'];?>"><?php echo $Sectiontagging['questiontype'];?> </option>	
		<?php endforeach;?>
		</select>
	-->

	<input type="text" name="question_type" id="question_type" value="<?php echo $this->topic["questiontype"];?>"></input>					

                    <!-- <select name="question_type" id="question_type" onchange="javascript:getList(this.options[this.selectedIndex].value)"> 
                                  <option value="0">--Select a Question Type--</option>
                                  <?php foreach ($this->pool1 as $pool1){?>
						           <option value="<?php echo $pool1['id'];?>"><?php echo $pool1['name'];?></option>
					              <?php }?>                                  
					          </select>-->
					      </td>		
					  </tr>			
					  <tr>
					  	<th>Status</th>	
					  	<td>
					  		<select name="status" id="status">
					  			<option value="0" > --Select Status-- </option>
					  			<option value="1" <?php if($this->topic['status'] == 1){echo "selected='selected'";}?>>Active</option>
					  			<option value="2" <?php if($this->topic['status'] == 2){echo "selected='selected'";}?>>Not Active</option>		
					  		</select>
					  	</td>
					  </tr>		

					</table>

					<br></br>

					<?php 
//echo "<pre>";
//print_r($this->poolData);
					if($this->poolData['question_type_id']==3){//questiontype=rubric?>
					<div id="rubric_table">
						<table id="tblComponent"  class="table3" width="100%" cellpadding="5" cellspacing="1" >

							<tr>
								<th>Number</th> 
								<th>Value</th>  
								<th>Description</th>
								<th>Weightage</th>
							</tr>
							<?php 
							if($this->RubricData){

								$no=1;	
								foreach ($this->RubricData as $rubricdetails){?>

								<tr>
									<td><?php echo $no;?>.</td>   
									<td><input type="hidden" name="id" value="<?php echo $rubricdetails["id"];?>"></input>
										<input type="text" name="ValueNumber<?php echo $no;?>"value="<?php echo $rubricdetails["ValueNumber1"]?>" onkeypress="return isNumberKey(event);"></input></td>
										<td><input type="text" name="description<?php echo $no;?>" value="<?php echo $rubricdetails["description1"]?>"/></td>		    
										<td><input type="text" name="weightage<?php echo $no;?>" value="<?php echo $rubricdetails["weightage1"]?>"onkeypress="return isNumberKey(event);"></input></td>
									</tr>
									<?php $no++; } }//end if?>
								</table>
							</div>
							<?php }else{//questiontype!=rubric?>
							<br>
							<div id="nonrubric_table" style="display:none">
								echo "table not found";
							</div>
							<?php }?>

							<input type="hidden" name="iteration" id="iteration" value="<?php echo $iteration?>"/>
							<input type="hidden" name="ValueNumber" id="ValueNumber1" size="20"/>
							<input type="hidden" name="description" id="description1" size="20"/>
							<input type="hidden" name="weightage" id="weightage1" size="20"/>

							<!--<br></br>-->
							<!--<input type="submit" value="Submit">-->
						</form>