
<script type="text/javascript">
$(function() {
	getProgramScheme('#program');

});
function getProgramScheme(element){

	 var idProgram = $(element).val();
	 var IdProgramScheme = '<?php echo $this->IdProgramScheme; ?>';

	 if(idProgram != ''){
	 $.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'report', 'action'=>'get-program-scheme'),'default',true);?>",
			data: {'idProgram':idProgram},
			type: 'POST',
			dataType: 'json',
			success: function(data){
				
		    	$('#IdProgramScheme').empty();
				$('#IdProgramScheme').append('<option value="">Please Select</option>');			    	
		    	$.each(data, function(index) {
			    	if(IdProgramScheme==data[index].IdProgramScheme){
						var sel = 'selected';
			    	}else{
						var sel = '';
			    	}
		    		$('#IdProgramScheme').append('<option value="'+data[index].IdProgramScheme+'"'+sel+'>'+data[index].ProgramMode+' '+data[index].StudyMode+' '+data[index].ProgramType+'</option>');	
		    	});
		          
			},
			error:function(){
		          alert("failure");
			},
			beforeSend: function() {
				showLoading('IdProgramScheme');
		      
			},
			complete: function() {
				hideLoading('IdProgramScheme');
			}  	
		});
	 }
}

function showLoading(target){
	$('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
}

function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
}
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		<li>
				<a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'add'));?>" >
					<span class='add'></span>
					Add
				</a>
			</li>
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<fieldset><legend>
		<?php echo $this->translate('Search');?>
	</legend>
<form method="post" action="" id="search_form">
<table>
	<tr>
		<td><?php echo $this->translate('Branch');?></td>
		<td><select name="branch_id" id="branch_id" class="select">
			<option value=""><?php echo $this->translate("Please Select");?></option>
				<?php foreach($this->branchList as $branch){
				$selected= '';
				if($this->formData['branch_id'] == $branch['IdBranch']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $branch['IdBranch'];?>"
				<?php echo $selected;?>><?php echo $branch['BranchName'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Semester');?></td>
		<td><select name="semester_id" id="semester_id" class="select">
			<option value=""><?php echo $this->translate("Please Select");?></option>
				<?php foreach($this->semesterlist as $semester){
				$selected= '';
				if($this->formData['semester_id'] == $semester['key']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $semester['key'];?>"
				<?php echo $selected;?>><?php echo $semester['code'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme');?></td>
		<td><select name="program_id" id="program_id" class="select"
			onchange="getProgramScheme(this);">
			<option value=""><?php echo $this->translate("Please Select");?></option>
				<?php foreach($this->programs as $program){
				$selected= '';
				if($this->formData['program_id'] == $program['IdProgram']){
					$selected = "selected='selected'";
					
				}
					?>
				<option value="<?php echo $program['IdProgram'];?>"
				<?php echo $selected;?>><?php echo $program['ProgramName'];?></option>
				<?php }?>
				</select></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Programme Scheme');?></td>
		<td><select name="IdProgramScheme" id="IdProgramScheme" class="select">
			<option value=""><?php echo $this->translate("Please Select");?></option>
		</select></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="search"
			id="btn_search" class="button" value="Search" /> <input type="reset"
			name="reset" id="btn_search" class="button" value="Clear" /></td>
	</tr>
</table>
</form>
</fieldset>
</br>
<?php if($this->paginator){?>
<table border="0" cellpadding="5" class="table" width="100%">
	<tr>
		<th><?php echo $this->translate('Set Name'); ?></th>
		<th><?php echo $this->translate('Semester'); ?></th>
		<th><?php echo $this->translate('Programme'); ?></th>
		<th><?php echo $this->translate('Programme Scheme'); ?></th>
		<th><?php echo $this->translate('Branch'); ?></th>
		<th><?php echo $this->translate('Section Tagging'); ?></th>
		<th><?php echo $this->translate('Created Date'); ?></th>
		<th><?php echo $this->translate('Created By'); ?></th>
		<th><?php echo $this->translate('Status'); ?></th>
        <th></th>
	</tr>
	
	
	<?php 
	$j=0;
	foreach ($this->paginator as $entry){
	    $sectiontagging = new App_Model_Question_DbTable_SectionTagging();
		$component_item = $sectiontagging->getInfo($entry["id"]);
	?>
	<tr <?php echo $j%2==0?"class='shade'":""; ?>>
		<td>
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging','action'=>'view','id'=>$entry['id']));?>"><?php echo $entry['form_name'];?></a>
        </td>
        <td>
            <?php echo $entry['semester_id'];?>
        </td>
		<td>
            <?php echo $entry['program_id']; ?>
        </td>
        <td>
        
        <?php
		  $scheme_name = $entry['mode_of_program_name'].' <br> '.$entry['mode_of_studies_name'];
		
			if(isset($entry['mode_of_program_type_name']) && $entry['mode_of_program_type_name']!=' '){
			$scheme_name .= ' <br> '.$entry['mode_of_program_type_name'];
			}
		
		echo $scheme_name;
		   ?>
   
        </td>
		<td>
            <?php echo strtoupper($entry['branch_name']); ?>
        </td>
		<td>
		        <?php 
		        $comp_items = array();
		        echo "<ul>";
				foreach ($component_item as $ci): 
					$comp_items[] = $ci['question_pool'];
					echo "<li>".$ci['question_pool']."</li>";
				endforeach; 
				echo "</ul>";
//				  echo implode('<br/>', $comp_items);
				?>
		</td>
		<td>
            <?php echo $entry['createdDate']; ?>
        </td>
        <td>
            <?php echo $entry['creatorName']; ?>
        </td>
		<td align="center"><?php echo $entry['status']==1?"Active":"Inactive";?></td>
        <td align="center">
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'edit', 'id' => $entry['id'] ));?>"
            >
                <?php echo $this->translate('Edit'); ?>
            </a>
            |
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'copy', 'id' => $entry['id'] ));?>"
            >
                <?php echo $this->translate('Copy'); ?>
            </a>
            |
            <a href="<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'delete', 'id' => $entry['id'] ));?>"
               onclick="return(confirm('<?php echo $this->translate('Are you sure to delete?');?>'))"
                >
                <?php echo $this->translate('Delete'); ?>
            </a>
        </td>
	</tr>
	<? $j++; } ?>
	
</table>
<?php }?>
<script>
function copy_setup() {
    $('#dialog-copy').dialog('open');
    getCopyData();
}
</script>