<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
?>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		
		<li>
				<a href="#" onclick="javascript:add();">
					<span class='add'></span>
					Add
				</a>
			</li>
			
			<!--<li>
				<a href="#" onclick="copy_setup();">
					<span class='copy'></span>
					Copy
				</a>
			</li>
		--><li><a href="#" onclick="history.go(-1)" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>

<table border="0" cellpadding=" 5" cellspacing="1">
    <tr>
      <td><?php echo $this->translate('Branch'); ?></td>
      <td>:</td>
      <td><?php echo $this->SectionData['branch_name'];?></td>
    </tr>
    <tr>
			<td><?php echo $this->translate('Program'); ?></td>
			<td width="3">:</td>
			<td><?php echo $this->SectionData['program_name'];?>
			</td>
	</tr>
	<tr>
        <td>Programme Scheme</td>
        <td width="3">:</td>
        <td><?= $this->SectionData['mode_of_program_name'] ?> <br><?= $this->SectionData['mode_of_studies_name'] ?> <br><?php echo ($this->SectionData['mode_of_program_type_name'] != ' ')?$this->SectionData['mode_of_program_type_name']:"";?></td>
    </tr>
		<tr>
			<td><?php echo $this->translate('Semester'); ?></td>
			<td width="3">:</td>
			<td><?php echo $this->SectionData['semester_name'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Pool Name'); ?></td>
			<td width="3">:</td>
			<td><?php echo $this->pool['name']; ?></td>
		</tr>
</table>
<br></br>
<div id="tabs" style="padding: 0 20px;">
	<ul>
		<li><a href="#tabs-1"><? echo $this->translate("Section List"); ?></a></li>
        <li><a href="#tabs-2"><? echo $this->translate("Guideline"); ?></a></li>
	</ul>
	
	
	<!-- display section name,question type,status,total question -->
	<div id="tabs-1">
		<div class="span-7 buttons">
		    
        </div>
		<br>
		<?php if($this->topic){	?>
        <form method="post">
		<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
                <th width="8%"><?php echo $this->translate('Order'); ?></th>
				<th><?php echo $this->translate('Section Name'); ?></th>
				<th><?php echo $this->translate('Registration Item'); ?></th>
				<th><?php echo $this->translate('Question Type'); ?></th>
				<th><?php echo $this->translate('Instruction'); ?></th>
				<th><?php echo $this->translate('Total Question'); ?></th>
                <th><?php echo $this->translate('Active'); ?></th>
				<th></th>
			</tr>
			
			<?php
			if($this->topic){				
				$i=1;
				foreach ($this->topic as $data): 
					$questiontagging = new App_Model_Question_DbTable_QuestionTagging();
					$ManageQuestion = $questiontagging->getQuestionTagging($this->id,$data['idChapter']); 
					$totalQuestion = count($ManageQuestion);
				?>
				<tr <?php echo $i%2==0?"class='shade'":""; ?>>
                    <td align="center">
                        <input type="text" name="order[<?php echo $data['idChapter']; ?>]" value="<?php echo $data['order']; ?>" style="width:50px;text-align:center;" class="input-txt">
                    </td>
					<td><?= $data['chaptername']?></td>
					<td><?= $data['item_name']?></td>
					<td><?= $data['questiontype']?></td>
					<td><?= $data['subsection_instruction']?></td>
					<td align="center">
                        <a class="edit" href="#" onClick="displayQuestion(<?=$data['idChapter']?>)">
                               <?=$totalQuestion?>
                        </a>
                    </td>
                    <td align="center">
                        <?=$data['status']==1 ? $this->translate("Yes") : $this->translate("No"); ?>
                    </td>
					<td>
					<ul>
					<li>
						<a class="editLink" href="#" onClick="edit(<?=$data['idChapter']?>)">
                            <?php echo $this->translate('Edit'); ?>
                        </a>
                       </li>
                       <li>
						<a class="editLink" href="#" onClick="manageQuestion(<?=$data['idChapter']?>)">
                            <?php echo $this->translate('Manage Question'); ?>
                        </a>
						<? if($data['question_type_id']==4): ?>
                        </li>
                        <li>
						<a class="editLink" href="#" onClick="manageRadioOptions(<?=$data['idChapter']?>)">
                            <?php echo $this->translate('Manage Answer Option'); ?>
                        </a>
						<? endif; ?>
						</li>
						<li>
						<a class="editLink" href="#" onClick="deleteSection(<?=$data['idChapter']?>)">
                            <?php echo $this->translate('Delete'); ?>
                        </a>
                        </li>
                        </ul>
					</td>
				</tr>
				<?php 
				$i++;
				endforeach; 
			}
			?>
		</table>
        <div class="form-opt">
             <input type="submit" name="submitorder" value="Save">
        </div>
       
        
    </form>
    <?php }?>
	</div>
    <div id="tabs-2">
        <form method="post" action="<?php echo $this->baseUrl() . '/survey-bank/sectiontagging/update-instructions/id/' . $this->id; ?>">
          
            <input type="hidden" name="id" value="<?php echo $this->id; ?>">
          
            <textarea name="guideline" id="guideline"><?php echo $this->SectionData['section_instructions']; ?></textarea>
        </input>
        
         <div class="form-opt">
             <input type="submit" name="saveinstruction" value="Save">
        </div>
        
    </div>
</div>

<div id="dialog-copy" title="<?php echo $this->translate("Copy Question Tagging Setup");?>">
  <form id="form_copy" name="form_copy" action="/survey-bank/sectiontagging/copy-data-ajax" method="post">
  <input type="hidden" name="sem" id="sem" value="<?php echo $this->id;?>">
  <table class="table" width="100%" cellpadding="3" cellspacing="1">
    <tr>
      <th colspan="3"><?php echo $this->translate("From");?></th>
    </tr>
    <tr>
      <td width="20%"><?php echo $this->translate("Semester");?></td>
      <td width="1%">:</td>
      <td width="80%">
        <select id="from_intake_id" name="from_intake_id" >
          <option><?php echo $this->translate("--Please select--");?></option>
         
        </select>
      </td>
    </tr>
    <tr>
      <td><?php echo $this->translate("Pool Name");?></td>
      <td>:</td>
      <td><?php echo $this->pool['name']; ?></td>
    </tr>
    
  </table>
  <br>
  <table class="table" width="100%" cellpadding="3" cellspacing="1">
    <tr>
      <th colspan="3"><?php echo $this->translate("To");?></th>
    </tr>
    <tr>
      <td width="20%"><?php echo $this->translate("Semester");?></td>
      <td width="1%">:</td>
      <td width="80%"><?php echo $this->SectionData['semester_name'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate("Pool Name");?></td>
      <td>:</td>
      <td><?php echo $this->pool['name']; ?></td>
    </tr>
    
  </table>
 
  </form>
</div>

<!--  Popup to add section name, question type, status -->
<div id="dialog-detail-modal" title="Add Section">

<form name="addsection" id="addsection" action="/survey-bank/chapter/add" method="post">
<input type="hidden" name="main_set_id" name="main_set_id" value="<?php echo $this->id;?>">
<input type="hidden" name="pool_id" name="pool_id" value="<?php echo $this->poolid;?>">
	
	<table class="table1" width="100%" cellpadding="5" cellspacing="1" border="0">
			<tr>
				<td width="25%">Section Name</td>				
				<td width="1%">:</td>
				<td width="75%">
				<input type="text" name="id_Section" id="id_Section" value="" class="input-txt">
			
           </tr>
           
			<tr>
			     <td>Question Type</td>				
				 <td>	:	</td>						
                     <td>
                     <select name="question_type" id="question_type" onchange="javascript:getList(this.options[this.selectedIndex].value)" class="select"> 
                                  <option value="0">Please Select</option>
                                  <?php foreach ($this->pool1 as $pool1){?>
								<?php if($pool1['enable']==1): ?>
					          		<option value="<?php echo $pool1['id'];?>"><?php echo $pool1['name'];?></option>
					          	<?php endif; ?>
				              <?php }?>                                  
                      </select>
                     </td>		
			</tr>	
			<tr>
			     <td>Registration Item</td>				
				 <td>	:	</td>						
                     <td>
                     <select name="registration_item_id" id="registration_item_id" class="select"> 
                                  <option value="0">Please Select</option>
                                  <?php foreach ($this->item as $data){?>
					          		<option value="<?php echo $data['item_id'];?>"><?php echo $data['item_name'];?></option>
				              <?php }?>                                  
                      </select>
                     </td>		
			</tr>	
			
			<tr>
			    <td>Section Instructions</td>
			    <td>	:	</td>			
			    <td>
			        <textarea name="subsection_instruction" class="subsection_instruction"></textarea>
			    </td>
			</tr>
			<tr>
			<td>Active?</td>
			<td>:</td>
			<td>
                <input type="hidden" name="status" value="2">
                <input type="checkbox" name="status" value="1">
            </td>
			</tr>
		</table>
		
	<br>	
<div id="listRubric" style="display:none">

<table id="tblComponent" class="table" width="100%" cellpadding="5" cellspacing="1">
  <tr>
    <th>No</th> 
    <th>Value</th>  
    <th>Description</th>
    <th>Weightage</th>   
  </tr>
  <tr>
      <td>1</td>
      <td><input type="text" name="ValueNumber1" id="ValueNumber1" size="20" onkeypress="return isNumberKey(event);"/></td>
      <td><input type="text" name="description1" id="description1" size="20"/></td>
      <td><input type="text" name="weightage1" id="weightage1" size="20" onkeypress="return isNumberKey(event);"/></td> 
  </tr>
</table>

<input type="hidden" name="iteration" id="iteration" value="1"></input>
 <div class="form-opt">
    <input type="button" name="add" value="Add Row" onclick="addRowToTable();">
    <input type="button" name="remove" value="Remove Row" onclick="removeRowFromTable();">
</div>


</div>


</form>

</div>

<!--  Popup display question -->
<div id="dialog-detail-display-modal" title="List of Question"></div>

<!--  popup for edit section-->
<div id="dialog-detail-edit-modal" title="Edit Section"></div>

<!--  popup Manage Question -->
<div id="dialog-detail-manage-modal" title="Manage Question"></div>

<!--  popup Manage Radion Answer Option -->
<div id="dialog-manage-radio-answer-modal" title="Manage Answer Option"></div>

<script><!--

$(function () {
    var tips = $(".validateTips");

    CKEDITOR.replace( 'subsection_instruction', {
    	toolbar: [
    		{ name: 'document', items: [ 'Source', '-','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' , '-','Bold', 'Italic','list', 'indent', 'blocks', 'align' ] }
    	],
    	width : '400px'
    });

    CKEDITOR.replace( 'guideline', {
    	toolbar: [
    		{ name: 'document', items: [ 'Source', '-','Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' , '-','Bold', 'Italic','list', 'indent', 'blocks', 'align' ] }
    	],
    	width : '600px'
    });
    
  
    $("#tabs").tabs();
    $("#dialog:ui-dialog").dialog("destroy");

    //popup add section
    $("#dialog-detail-modal").dialog({

        width: 750,
        minHeight: 400,
        maxHeight: ($( window ).height() - 50),
        modal: true,
        autoOpen: false,
        position : 'center',
        buttons: {
		   	 "Save": function () {
		        $("#addsection").submit();
		    },
            Cancel: function () {
                $(this).dialog("close");
            }
           
        }
    });


    //copy
    $('#dialog-copy').dialog({
        autoOpen: false,
        width: 500,
        modal: true,
        buttons: {
            "<?php echo $this->translate("Copy"); ?>": function () {

                var semester = $('#from_intake_id').val();

                if (semester == "0") {
                    alert('Please select Semester');
                    return false;
                } else {
                    var msg = "<?echo $this->translate('Confirm to Copy?'); ?>";

                    if (confirm(msg)) {
                        $('#form_copy').submit();
                    } else {
                        $(this).dialog("close");
                    }

                }

            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    //popup edit section
    $("#dialog-detail-edit-modal").dialog({

        width: '750',
        minHeight: 400,
        maxHeight: ($( window ).height() - 50),
        modal: true,
        autoOpen: false,
        position : 'center',
        buttons: {
		    "Save": function () {
		        $("#frmcomp").submit();
		    },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    //popup manage question
    $("#dialog-detail-manage-modal").dialog({

        width: '80%',
        minHeight: 400,
        maxHeight: ($( window ).height() - 50),
        modal: true,
        autoOpen: false,
        buttons: {
    		"Save": function () {
		        $("#manage").submit();
		    },
            Cancel: function () {
                $(this).dialog("close");
            }
            
        },
        open: function (event, ui) {
            $(event.target).parent().css('position', 'absolute');
            $(event.target).parent().css('top', '0px');
        }
    });

    //popup display question
    $("#dialog-detail-display-modal").dialog({

        width: '80%',
        minHeight: 400,
        modal: true,
        autoOpen: false,
      
    });

    //popup manage radio answer option
    $("#dialog-manage-radio-answer-modal").dialog({
        width: '70%',
        minHeight: 500,
        modal: true,
        autoOpen: false,
        buttons: {
            Cancel: function () {
                $(this).dialog("close");
            },
            "Done": function () {
                $(this).dialog("close");
                //$("#manage").submit();
            }
        },
        closeOnEscape: false
    });

    function checkLength(o, n, min, max) {
        if ($(o).val().length > max || $(o).val().length < min) {
            $(o).addClass("ui-state-error");
            updateTips("Length of " + n + " must be between " +
                min + " and " + max + ".", $(o));
            return false;
        } else {
            return true;
        }
    }

    function updateTips(t) {
        tips
            .text(t)
            .addClass("ui-state-highlight");
        setTimeout(function () {
            tips.removeClass("ui-state-highlight", 1500);
        }, 500);
    }

});


function copy_setup() {
    $('#dialog-copy').dialog('open');
    getCopyData();
}

//function add section
function add() {

    $('#dialog-detail-modal').dialog('open');
}

//function edit section
function edit(id) {
    $('#dialog-detail-edit-modal').load("<?=$this->url(array('module'=>'survey-bank','controller'=>'chapter','action'=>'edit','main_set_id'=>$this->id),'default',true)?>/id/" + id);
    $('#dialog-detail-edit-modal').dialog('open');
}

//function manage question
function manageQuestion(id) {
    $('#dialog-detail-manage-modal').load("<?=$this->url(array('module'=>'survey-bank','controller'=>'question','action'=>'manage','main_set_id'=>$this->id,'pool_id'=>$this->pool['id']),'default',true)?>/section_id/" + id);
    $('#dialog-detail-manage-modal').dialog('open');
}

//function manage radio answer option
function manageRadioOptions(id) {
    $('#dialog-manage-radio-answer-modal').load("<?=$this->url(array('module'=>'survey-bank', 'controller'=>'radio-options','action'=>'radioanswer','main_set_id'=>$this->id,'pool_id'=>$this->pool['id']),'default',true)?>/section_id/" + id);
    $('#dialog-manage-radio-answer-modal').dialog('open');
}

//function display question
function displayQuestion(id) {
    $('#dialog-detail-display-modal').load("<?php echo $this->url(array('module'=>'survey-bank', 'controller'=>'question','action'=>'displayquestion','main_set_id'=>$this->id),'default',true);?>/id/" + id);
    $('#dialog-detail-display-modal').data('id', id).dialog('open');
}

function getCopyData() {

    var poolid = <?php echo $this->pool['id']; ?>;

    $('#from_pool').empty();
    $.ajax({
        url: "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'sectiontagging', 'action'=>'get-list-pool-ajax'),'default',true);?>",
        data: {'id': poolid},
        type: 'GET',
        dataType: 'json',
        context: document.body,
        beforeSend: function () {
            $('#from_pool').parent().append('<div class="loading"><img src="/images/ajax-loader-bar.gif" /></div>');
            $('#from_pool').hide();

        },

        success: function (data) {

            $('.loading').remove();
            $('#from_pool').show();

            response = eval(data);
            var course = document.getElementById('from_intake_id');
            course.options.length = 0;
            course.options[0] = new Option('<?php echo $this->translate('-- Please Select --');?>', 0);

            for (var i = 0; i < response.length; i++) {
                course.options[i + 1] = new Option(response[i].semester_name+' - '+response[i].ProgramCode+' - '+response[i].mode_of_program_name+' '+response[i].mode_of_studies_name+' '+response[i].mode_of_program_type_name, response[i].idMain);
            }


        }

    });
}

function previewData() {

    $('#from_pool').parent().append('<a href="" onclick="openPreview()">[Preview]</a>');


}

function deleteSection(id){
	if(confirm('Are you sure to delete this section?')){
		window.location.href = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'chapter', 'action'=>'delete','main_set_id'=>$this->id),'default',true);?>/id/" + id;
    }else{
        return false;
    }
}


function openPreview() {
    var id = $('#from_pool').val();
    var sem = $('#from_intake_id').val();
    alert(id);

    var url = "<?php echo $this->url(array('module'=>'survey-bank','controller'=>'publish', 'action'=>'preview-evaluation'),'default',true);?>/main_set_id/" + id + "/semester_id/" + sem + "/poolid/1";

    var myWindow = window.open(url, "", "width=200, height=100");
//  preview-evaluation/main_set_id/77/semester_id/13/poolid/1


}


function addRowToTable()
{
    /*--------------------------listRubric------------------------------------*/
    var tbl = document.getElementById('tblComponent');
    var lastRow = tbl.rows.length;
    var iteration = lastRow;
    var row = tbl.insertRow(lastRow);
    //alert(iteration);

    document.getElementById('iteration').value = iteration

    var cellLeft = row.insertCell(0);
    var textNode = document.createTextNode(iteration);
    cellLeft.appendChild(textNode);

    //ValueNumber
    var valueNumber = row.insertCell(1);
    var VN = document.createElement('input');
    VN.type = 'text';
    VN.name = 'ValueNumber' + iteration;
    VN.id = 'ValueNumber'+ iteration;
    
    VN.size = 20;

    //desc.onkeypress = keyPressTest;
    valueNumber.appendChild(VN);

    //description
    var description = row.insertCell(2);
    var dest = document.createElement('input');
    dest.type = 'text';
    dest.name = 'description'+ iteration;
    dest.id = 'description'+ iteration;
    dest.size = 20;

    //desc.onkeypress = keyPressTest;
    description.appendChild(dest);

    //weightage
    var weightage = row.insertCell(3);
    var wg = document.createElement('input');
    wg.type = 'text';
    wg.name = 'weightage' + iteration ;
    wg.id = 'weightage'+ iteration;
    wg.size = 20;

    //wg.onblur = onblurRow;
    weightage.appendChild(wg);
}

function keyPressTest(e, obj)
{
    var validateChkb = document.getElementById('chkValidateOnKeyPress');
    if (validateChkb.checked) {
        var displayObj = document.getElementById('spanOutput');
        var key;
        if(window.event) {
            key = window.event.keyCode;
        }
        else if(e.which) {
            key = e.which;
        }
        var objId;
        if (obj != null) {
            objId = obj.id;
        } else {
            objId = this.id;
        }
        displayObj.innerHTML = objId + ' : ' + String.fromCharCode(key);
    }
}

function removeRowFromTable()
{
    var tbl = document.getElementById('tblComponent');
    var lastRow = tbl.rows.length;

    curval = document.getElementById('iteration').value;
    if (lastRow > 2) tbl.deleteRow(lastRow - 1);
    document.getElementById('iteration').value = curval-1;
}

function validateRow(frm)
{
    var tbl = document.getElementById('tblComponent');

    var lastRow = tbl.rows.length - 2;

    var i;
    var total=0;

    for (i=1; i<=lastRow; i++) {
        var aRow = document.getElementById('weightage' + i);

        if (aRow.value.length <= 0) {
            alert('Row ' + i + ' is empty');
            return false;
        }

        //get total weightage
        rowVal = aRow.value;
        total=total+Math.abs(rowVal);
    }
    return true;
}

function onblurRow(){

    //get total weightage
    var tbl = document.getElementById('tblComponent');
    var lastRow = tbl.rows.length - 2;

    var i;
    var total=0;

    for (i=1; i<=lastRow; i++) {
        var aRow = document.getElementById('weightage' + i);
        //get total weightage
        rowVal = aRow.value;
        total=total+Math.abs(rowVal);

        if(total > 100){
            alert('Total weightage is '+total+' .Please make sure...');
            aRow.value=0;
            aRow.focus();
            return;
        }
    }

}
function show(val){

    if(val==1){
        document.getElementById('tbltype1').style.display = '';
        document.getElementById('tbltype2').style.display = 'none';
    }

    if(val==2){
        document.getElementById('tbltype1').style.display = 'none';
        document.getElementById('tbltype2').style.display = '';
    }

}
</script>

<script>
function formValidation(){
    var semester = $("#semester_id").val();
    var semester_status = $("#semester_status").val();
    var subject = $('input[name=course_id[]]:checked').val();

    if(semester == "0"){
        alert('Please select Semester');
        $('#semester_id').focus();
        $('#semester_id').addClass("focus");
        return false;
    }

    if(semester_status == "0"){
        alert('Please select Semester Status');
        $('#semester_status').focus();
        $('#semester_status').addClass("focus");
        return false;
    }

    if(!subject){
        alert('Please select Course');
        return false;
    }

    if(confirm('Are you sure to register this course?')){
        return true;
    }else{
        return false;
    }


}

function checkall(){
    var flag = $("#chkall").is(':checked');

    if( flag ){
        $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', true);
    }else{
        $("INPUT[@name='stud_id[]'][type='checkbox']").attr('checked', false);
    }
}

function getList(id){

    if(id == 3){
        $("#listRubric").show();
        $("#listRubricValue").hide();
    }else if(id == 4){
        $("#listRubric").hide();
        $("#listRubricValue").hide();

    }else{
        $("#listRubric").hide();
        $("#listRubricValue").hide();
    }
}
function isNumberKey(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

    return true;
}

</script>