<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Credit Transfer Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/registration/credittransfer/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("I.C No");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                   <td><?php echo $this->translate("Applicant  Name");?></td>
                   <td ><?php echo $this->lobjform->field5;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("$this->Program Name");?></td>
                   <td ><?php echo $this->lobjform->field8;?></td>
                   <td></td>
                   <td ></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%">
		
	    	<tr>
	       	    <th><?php echo $this->translate("Applicant Name");?></th>
	            <th><?php echo $this->translate("I.C No");?></th>
	       	    <th><?php echo $this->translate("$this->Program Name");?></th>
	       	 </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjCredittransfer ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'registration','controller'=>'credittransfer', 'action'=>'credittransferlist' , 'idapplicant'=>$lobjCredittransfer['IdApplication']),'default',true);?>" ><?php print_r($this->escape($lobjCredittransfer['FName'].' '.$lobjCredittransfer['MName'].' '.$lobjCredittransfer['LName']));?></a></td>
	        	<td><?php echo $this->escape($lobjCredittransfer['ICNumber']);?></td>
	        	<td><?php echo $this->escape($lobjCredittransfer['ProgramName']);?></td>
	    	    <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
