<script>
$(function () {
	 
	 var str = "";
	 $('#checkall').click(function () {	

		 var isChecked = $('#checkall').is(':checked');

		 if(isChecked==true){			 
			 $('.chkbx').each(function() {
				    if(this.disabled==false){
				    	$(this).prop('checked',true);
				    }
			 });
		 }else{
			 // Un-check
			 $('.chkbx').prop('checked', false);
		 }
	 });
	
	 
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>	
</div>

<br />

<fieldset>
<legend><?php echo $this->translate('Search');?></legend>
<?php echo $this->form; ?>
</fieldset>

<br>

<?php if(count($this->student)>0) { ?>
<form id="form1" method="post">
<input type='hidden' name='type' id='type' value='<?php echo $this->type; ?>'>
<table width="100%" class="table">
	<tr>
		<th width="10%"><input type="checkbox" id="checkall"  value="" > <?php echo $this->translate("Check All"); ?></th>
		<th><?php echo $this->translate('Status')?></th>
		<th><?php echo $this->translate('No. of Guest Approve')?></th>
		<th><?php echo $this->translate('Name')?></th>
		<th><?php echo $this->translate('Student ID')?></th>
		<th><?php echo $this->translate('Programme')?></th>
		<th><?php echo $this->translate('Application Type')?></th>
		<th><?php echo $this->translate('No. of guest applied')?></th>
		<th><?php echo $this->translate('Convo Session')?></th>
		<th><?php echo $this->translate('Remarks')?></th>
		<th><?php echo $this->translate('Applied Date')?></th>
		<th><?php echo $this->translate('Fee')?></th>	
		<th><?php echo $this->translate('Approval Date')?></th>
		
		
		
		
	</tr>
	<?php 	 
		foreach($this->student as $index=>$student){
	?>
	<tr>
		<td align="center">
			<input class='chkbx'  type='checkbox' name='id[]' id='id' value='<?php echo $student['id']; ?>'>
		</td>
		<td align='center'>
		<?php //if($student['status']==='APPLIED'){?>
		<!--<input class='chkbx'  type='checkbox' name='id[]' id='id' value='<?php //echo $student['id']; ?>'>-->
		<?php /*}else {*/ echo $student['status']; //} ?>
		</td>
		
		<td align='center'>
		<?php if($student['status']==='APPLIED'){?>
		<select class="" name="guests[<?php echo $student['id']; ?>]" id="guests">
				<?php for($i=1; $i<=$student['guests']; $i++){
					if($i==$student['guests']){
						$sel = 'selected';
					}else{
						$sel = '';
					}
					?>
					<option value='<?php echo $i; ?>' <?php echo $sel;?>><?php echo $i;?></option>
				<?php } ?>
		</select>
		<?php }else{ echo $student['guest_approve']; }?>
		</td>
		
		<td><?php echo $student['student_name']; ?></td>		
		<td align='center'><?php echo $student['registrationId']; ?></td>
		<td align='center'><?php echo $student['ProgramCode']; ?></td>
		<td align='center'><?php echo ($student['type']==1) ? 'Guest':'Refreshment'; ?></td>
		<td align='center'><?php echo $student['guests']; ?></td>
		<td><?php echo 'Year: '.$student['c_year'].' Session: '.$student['c_session'].' <br/>Date: '.date("d-m-Y",strtotime($student['c_date_from'])).' to '.date("d-m-Y",strtotime($student['c_date_to'])); ?></td>
		<td align='center'><?php echo $student['note']; ?></td>
		<td align='center'><?php echo date('d-m-Y h:i:s',strtotime($student['applied_date'])); ?></td>
		<td align='center'><?php if($student['status']=='APPROVED') { echo $student['cur_symbol_prefix'].' '.number_format($student['bill_amount'],2); } ?></td>
		<td align='center'><?php echo (isset($student['approval_date']) && $student['approval_date']!='') ? date('d-m-Y h:i:s',strtotime($student['approval_date'])):''; ?></td>
		
		
	</tr>
	<?php 
		}?>
		
	
</table>
<?php 
	if(count($this->student)>0 && $this->status==='APPLIED') { 		
	?>
<div class='form-opt'>
	<input type='submit' name='submit' class='btn-submit' value='Approve'>&nbsp;
	<input type='submit' name='submit' class='btn-submit' value='Reject'>
</div>
<?php } ?>
<?php
if(count($this->student)>0 && $this->status==='APPROVED') {
	?>
	<div class='form-opt'>
		<input type='submit' name='submit' class='btn-submit' value='Revert'>&nbsp;
		<input type='submit' name='reject' class='btn-submit' value='Reject'>
	</div>
<?php } ?>
</form>

<?php 
	}
	?>