<script type="text/javascript">
    $(function (){
        $( "#datefrom" ).datepicker({
            //defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeYear: true,
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#dateto" ).datepicker( "option", "minDate", selectedDate );
            }
        });

        $( "#dateto" ).datepicker({
            //defaultDate: "+1w",
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#datefrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });

        $('#check_all').change(function(){
            if( $(this).prop('checked') ){
                $('.check').prop('checked',true);
            }else{
                $('.check').prop('checked',false);
            }
        });

        $('#check_all_semester').change(function(){
            if( $(this).prop('checked') ){
                $('.checksemester').prop('checked',true);
            }else{
                $('.checksemester').prop('checked',false);
            }
        });

        getSemester('#program');
    });

    function getSemester(element){

        var idProgram = $(element).val();


        if(idProgram != ''){
            $.ajax({
                url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-semester'),'default',true);?>",
                data: {'idProgram':idProgram},
                type: 'POST',
                dataType: 'json',
                success: function(data){

                    $('#semesterdiv').empty();
                    $.each(data, function(index) {

                        $('#semesterdiv').append('<input type="checkbox" name="semester[]" id="semester[]" value="'+data[index].IdSemesterMaster+'" class="checksemester">'+data[index].SemesterMainName+'<br>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('semesterdiv');

                },
                complete: function() {
                    hideLoading('semesterdiv');
                }
            });
        }
    }

    function getIntake(element){

        var idProgram = $(element).val();


        if(idProgram != ''){
            $.ajax({
                url: "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'report', 'action'=>'get-intake'),'default',true);?>",
                data: {'idProgram':idProgram},
                type: 'POST',
                dataType: 'json',
                success: function(data){

                    $('#intakediv').empty();
                    $('#intakediv').append('<input type="checkbox" name="" id="check_all" />ALL<br>');
                    $.each(data, function(index) {

                        $('#intakediv').append('<input type="checkbox" class="check" name="intake[]" id="intake[]" value="'+data[index].IdIntake+'">'+data[index].IntakeDesc+'<br>');
                    });

                },
                error:function(){
                    alert("failure");
                },
                beforeSend: function() {
                    showLoading('intakediv');

                },
                complete: function() {
                    hideLoading('intakediv');
                }
            });
        }
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function print(){
        url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'billing-vs-coursereg', 'action'=>'print'),'default',true);?>";
        $('#search_form').attr('action',url);
        $('#search_form').submit();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <?php
        if ($this->list) {
            ?>
            <ul>
                <li>
                    <a href="#" onclick="print();">
                        <span class='download'></span>
                        <?php echo $this->translate('Download') ?>
                    </a>
                </li>
            </ul>
            <?php
        }
        ?>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="search_form" name="search_form">
        <table>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Intake');?></td>
                <td>
                    <input type="checkbox" name="" id="check_all" />ALL<br>
                    <?php foreach($this->intakeData as $intake){ ?>
                        <input type="checkbox"  name="intake[]" id="intake[]" class="check" value="<?php echo $intake['key'];?>"><?php echo $intake['IntakeDesc'];?><br>
                        <?php
                    }?>
                </td>
                <td><?php echo $this->translate('Semester');?></td>
                <td>
                    <input type="checkbox" name="" id="check_all_semester" />ALL<br>
                    <div id="semesterdiv"></div></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Date From'); ?></td>
                <td><?php echo $this->form->datefrom; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Date To'); ?></td>
                <td><?php echo $this->form->dateto; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" name="search" id="search" value="search"><?php echo $this->translate('Search'); ?></button>
                </td>
            </tr>
        </table>
        <?php
        if($this->semester){
            foreach($this->semester as $key=>$value){
                ?>
                <input type="hidden" name="semester_id[]" id="semester_id[]" value="<?php echo $value;?>">
            <?php }
        }?>
        <?php
        if($this->intake){
            foreach($this->intake as $key=>$value){
                ?>
                <input type="hidden" name="intake_id[]" id="intake_id[]" value="<?php echo $value;?>">
            <?php }
        }?>
    </form>
</fieldset>
<br />
<?php
if ($this->list) {
    ?>
    <table class="table" width="100%">
        <tr>
            <th rowspan="2"><?php echo $this->translate('Applicant ID'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Student ID'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Student Name'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Intake'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Status'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Programme'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Programme Mode'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Study Mode'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Programme Type'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Semester'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Course Status'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Item'); ?></th>
            <th rowspan="2"><?php echo $this->translate('Date'); ?></th>
            <th colspan="5"><?php echo $this->translate('COURSE REGISTRATION (Link to course registration ASAD)'); ?></th>
            <th colspan="4"><?php echo $this->translate('BILLING (Link to gross amount invoices)'); ?></th>
        </tr>
        <tr>
            <th><?php echo $this->translate('Course Registered'); ?></th>
            <th><?php echo $this->translate('Currency Rate as per Inv Date'); ?></th>
            <th><?php echo $this->translate('Rate/Cr Hour (USD)'); ?></th>
            <th><?php echo $this->translate('Rate/Cr Hour (MYR)'); ?></th>
            <th><?php echo $this->translate('Cr hour'); ?></th>
            <th><?php echo $this->translate('Invoice Date'); ?></th>
            <th><?php echo $this->translate('Invoice No'); ?></th>
            <th><?php echo $this->translate('Amount as per billing (USD)'); ?></th>
            <th><?php echo $this->translate('Amount as per billing (MYR)'); ?></th>
        </tr>
        <?php
        foreach($this->list as $loop) {
            ?>
            <tr>
                <td align="center"><?php echo $loop['at_pes_id']; ?></td>
                <td align="center"><?php echo $loop['registrationId']; ?></td>
                <td><?php echo $loop['appl_fullname']=='' ? $loop['student_fullname']:$loop['appl_fullname']; ?></td>
                <td align="center"><?php echo $loop['IntakeDesc']; ?></td>
                <td align="center"><?php echo $loop['profileStatus']; ?></td>
                <td align="center"><?php echo $loop['applicant_program']; ?></td>
                <td align="center"><?php echo $loop['mop']; ?></td>
                <td align="center"><?php echo $loop['mos']; ?></td>
                <td align="center"><?php echo $loop['pt']; ?></td>
                <td align="center"><?php echo $loop['SemesterMainName']; ?></td>
                <td align="center">
                    <?php
                    /*var_dump($loop['examStatus']);
                    var_dump($loop['courseStatus']);
                    echo '-----------------------------------------------<br />';
                    var_dump($loop['subject_id']);
                    var_dump($loop['IdStudentRegistration']);
                    var_dump($loop['semester']);*/

                    if ($loop['courseStatus']==null){
                        $loop['courseStatus']==99;
                    }

                    switch ($loop['courseStatus']){
                        case 0:
                            if ($loop['examStatus']=='CT' || $loop['examStatus']=='EX' || $loop['examStatus']=='U'){
                                $courseStatus = 'Applied';
                            }else {
                                $courseStatus = 'Pre-Registered';
                            }
                            break;
                        case 1:
                            if ($loop['examStatus']=='CT' || $loop['examStatus']=='EX' || $loop['examStatus']=='U'){
                                $courseStatus = $loop['examStatus'];
                            }else {
                                $courseStatus = 'Registered';
                            }
                            break;
                        case 2:
                            $courseStatus = 'Drop';
                            break;
                        case 3:
                            $courseStatus = 'Withdraw';
                            break;
                        case 4:
                            $courseStatus = 'Repeat';
                            break;
                        case 6:
                            $courseStatus = 'Replace';
                            break;
                        case 9:
                            $courseStatus = 'Pre-Repeat';
                            break;
                        case 10:
                            $courseStatus = 'Pre-Replace';
                            break;
                        case null:
                            $courseStatus = '-';
                            break;
                        default:
                            $courseStatus = '-';
                            break;
                    }

                    echo $courseStatus;
                    ?>
                </td>
                <td><?php echo $loop['fi_name']; ?></td>
                <td align="center"><?php echo date('d-m-Y',strtotime($loop['invoice_date'])); ?></td>
                <td align="center"><?php echo $loop['SubCode']; ?></td>
                <td align="right"><?php echo /*$loop['cur_id']!=1 ?*/ $loop['cr_exchange_rate']/*:''*/; ?></td>
                <td align="right">
                    <?php
                    if ($loop['credit_hour_registered']==null){
                        $ch =  $loop['CreditHours'] <= 0 ? 1:$loop['CreditHours'];
                    }else{
                        $ch =  $loop['credit_hour_registered'] <= 0 ? 1:$loop['credit_hour_registered'];
                    }

                    echo $loop['cur_id']!=1 ? number_format(($loop['amount']/$ch), 2, '.', ''):'';
                    ?>
                </td>
                <td align="right">
                    <?php
                    echo $loop['cur_id']==1 ? number_format(($loop['amount']/$ch), 2, '.', ''):'';
                    ?>
                </td>
                <td align="center"><?php echo $loop['credit_hour_registered']==null ? $loop['CreditHours']:$loop['credit_hour_registered']; ?></td>
                <td align="center"><?php echo date('d-m-Y',strtotime($loop['invoice_date'])); ?></td>
                <td align="center"><?php echo $loop['invoice_no']; ?></td>
                <td align="right"><?php echo $loop['cur_id']!=1 ? number_format($loop['bill_amount'], 2, '.', ''):''; ?></td>
                <td align="right">
                    <?php
                    if ($loop['cur_id']!=1){
                        echo number_format(($loop['amount']*$loop['cr_exchange_rate']), 2, '.', '');
                    }else{
                        echo number_format($loop['amount'], 2, '.', '');
                    }
                    ?>
                </td>
            </tr>
            <?php
        }
        ?>
    </table>
    <?php
}
?>