<?php
    //$this->ckeditor = 'ckeditor'; //To tell the layout ckeditor must be loaded .
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
?>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<div class="chev-step">
	<ul>
		<li>1. <?php echo $this->translate('Recipients')?></li>
		<li>2. <?php echo $this->translate('Review')?></li>
		<li class="current">3. <?php echo $this->translate('Compose')?></li>
		<li>4. <?php echo $this->translate('Send')?></li>
	</ul>
</div>

<div id="compose-wrap">
	
	<form method="post" enctype="multipart/form-data" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose-send'), 'default', true);?>" onsubmit="return checkform()">
		<input type="hidden" id="rec_list" name="rec" value="<?php echo $this->rec?>" />
        <input type="hidden" id="fromwhere" name="fromwhere" value="<?php echo $this->fromwhere?>" />
		<input type="hidden" id="rectype" name="rectype" value="<?php echo $this->comp_rectype ?>" />
		
		<dl class="zend_form">
			<?php echo $this->form->comp_subject ?>
			<dt><?php echo $this->translate('Recipients')?></dt>
			<dd><?php echo $this->total ?> <?php echo $this->translate('Recipients') ?> (<a href="#" onclick="return viewRecipients()"><?php echo $this->translate('View')?></a>)</dd>
			<?php echo $this->form->comp_tpl_id ?>
			<?php echo $this->form->comp_lang ?>
			<?php echo $this->form->comp_type ?>
			<?php //echo $this->form->comp_file_attach ?>
			<dt id="fileAttach-label">
				<label class="optional" for="fileAttach">Attachment</label>
			</dt>
			<dd id="fileAttach-element">
				<input type="hidden" id="MAX_FILE_SIZE" value="31457280" name="MAX_FILE_SIZE">
				<div id='uploaddiv'>
					<input type="file" id="fileAttach" name="comp_file_attach[]">&nbsp;&nbsp;<a id='addmoreupload' href='javascript:void(0)' onclick='addmoreupload();'><?php echo $this->translate('Add More'); ?></a>
				</div>
			</dd>
			<dd id="autoAttach" style="display: none; margin-top: -9px;">
				<p><?php echo $this->translate("Attachment will attach automatically");?></p>
			</dd>
		</dl>
		
		<div id="wrap-content">
			<div class="content-tags">
			</div>
			<textarea name="content" id="content" class="tpl_content"><?php echo $this->formData['content']?></textarea>
		</div>
		<div id="wrap-smscontent">
			<textarea name="smscontent" id="smscontent" class="tpl_smscontent"><?php echo $this->formData['smscontent']?></textarea>
			<div id="charcount">0</div>
		</div>
		<div class="form-opt">
			<input type="button" name="preview" onclick="previewCompose()" value="<?php echo $this->translate('Preview')?>" class="btn-submit"/>
			<input type="submit" name="send" onclick="return sure()" value="<?php echo $this->translate('Send')?>" class="btn-submit"/>
		</div>
	</form>
</div>

<script type="text/javascript">
var sms_type = '<?php echo $this->commTypesByName['SMS']?>';
var changed_scheme_type = '<?php echo isset($this->commTypesByName['Changed Scheme Email']) ? $this->commTypesByName['Changed Scheme Email'] : ''?>';

function checktype()
{
	var type = $("#comp_type").val();

	if ( type == sms_type )
	{
		$("#wrap-content").hide();
		$("#wrap-smscontent").show();
	}
	else
	{
		$("#wrap-content").show();
		$("#wrap-smscontent").hide();
	}

	if (type == changed_scheme_type){
		$("#uploaddiv").hide();
		//$("#fileAttach").hide();
		$("#autoAttach").show();
	}else{
		$("#uploaddiv").show();
		//$("#fileAttach").show();
		$("#autoAttach").hide();
	}
}

function back()
{
	//$(window).unbind('beforeunload'); //might wanna ask the guy first

	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'compose'), 'default', true);?>";

	return false;
}

function checkform()
{
	var title = $("#comp_subject").val();
	if ( title == '' )
	{
		alert('<?php echo $this->translate('Please enter subject/title this message')?>');
		return false;
	}

	$(window).unbind('beforeunload');
	return true;
}

$(document).ready(function() 
{
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});

	$(window).on('beforeunload', function(){
		return '<?php echo $this->translate('Are you sure you want to leave without sending?')?>';
	});
	
	//CKEDITOR.instances['content'].destroy();

	CKEDITOR.replace( 'content',
	{
		removePlugins : 'resize,placementtest',
		toolbar : 'Basic',
		height: 400
	});

	<?php if ($this->trigger) {?>
		$("#comp_tpl_id").trigger('change');
	<?php } ?>
});

function sure()
{
	var ask = confirm('<?php echo $this->translate('Are you sure you want to send this?')?>');

	if ( ask === false )
	{
		return false;
	}

	return true;
}


function viewRecipients()
{
	var reclist = $("#rec_list").val();
	var rectype = $("#rectype").val();

	data = 'rec='+reclist+'&rectype='+rectype;

	$.ajax(
	{
		type: "POST",
		cache: false,
		url: '<?php echo $this->baseUrl()?>/communication/<?php echo $this->module?>/compose-recipients',
		data: data,
		success: function (data) 
		{
			$.fancybox(data, 
			{
				fitToView: false,
				width: 650,
				height: 450,
				autoSize: false,
				closeClick: false,
				openEffect: 'none',
				closeEffect: 'none'
			});
		}
	}); // ajax

	return false;
}

function previewCompose()
{
	$("#content").val(CKEDITOR.instances['content'].getData());
        
        var reclist = $("#rec_list").val();

	$.ajax(
	{
		type: "POST",
		cache: false,
		url: '<?php echo $this->baseUrl()?>/communication/<?php echo $this->module?>/compose-send',
		data: { 'preview':'1', 
				'comp_subject': $("#comp_subject").val(), 
				'smscontent':$("#smscontent").val(),
				'content': $('#content').val(),
				'comp_type': $("#comp_type").val(),
                'rec':reclist,
				'rectype':$("#rectype").val()
                //'comp_tpl_id':$("#comp_tpl_id").val
		},
		success: function (data) 
		{
			$.fancybox(data, 
			{
				fitToView: false,
				width: 750,
				height: 500,
				autoSize: false,
				closeClick: false,
				openEffect: 'none',
				closeEffect: 'none'
			});
		}
	}); // ajax

	return false;
}

function changetpl(element)
{
	var tpl_id = $(element).val();
	var locale = $("input[name=comp_lang]").val();
	
	if(tpl_id=='')
	{
		return false;
	}

	$.ajax({
		url: "<?php echo $this->baseUrl()?>/communication/ajax/get-tpl",
		data: {
				'tpl_id':tpl_id,
				'locale':locale
		},
		type: 'POST',
		dataType: 'json'
	}).done(function ( data ) 
	{
		CKEDITOR.instances['content'].setData(data.content);
		$("#comp_type").val(data.tpl_type);
	});
}

function addintoEditor(text)
{
	CKEDITOR.instances['content'].insertText(text);
}

function getTplTags(element)
{
	var tpl_id = $(element).val();

	if(tpl_id=='')
	{
		return false;
	}
	

	$.ajax({
		url: "<?php echo $this->baseUrl()?>/communication/ajax/get-tags",
		data: {'tpl_id':tpl_id, 'module': '<?php echo $this->module?>'},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) 
	{
		$(".content-tags").empty();
		$.each(data, function(index) 
		{
			$('.content-tags').append('<input type="button" class="btn-tag" value="'+data[index].tag_name+'" onclick="addintoEditor(\' ['+data[index].tag_name+'] \')" /> ');
		});
	});
}

$.fn.extend( {
   limiter: function(limit, elem) {
		$(this).on("keyup focus", function() {
		   setCount(this, elem);
	   });
		function setCount(src, elem) {
		   var chars = src.value.length;
			if (chars > limit) {
				src.value = src.value.substr(0, limit);
				chars = limit;
			}
			elem.html( limit - chars );
		}
		setCount($(this)[0], elem);
	}
});

var elem = $("#charcount");  
$("#smscontent").limiter(160, elem);


function addmoreupload(){
	var i = $('#subrowcount').val();
	$("#uploaddiv").append("<div id='upload-"+i+"'><br/><input type='file' id='fileAttach' name='comp_file_attach[]'>&nbsp;<a id='removerow' href='javascript:void(0)' onclick='removeUploadRow("+i+");'>Remove</a></div>");
	i++;
	$('#subrowcount').val(i);
}

function removeUploadRow(i){
	$('#upload-'+i).remove();
}
</script>
<input type="hidden" id="subrowcount" value="0">
<style type="text/css">
#comp_subject 
{ 
	margin:0; 
	border:1px solid #b5bcc7; 
	padding:5px;  
	width: 450px;
	font:normal 14px Verdana, Arial, sans,serif; 
}

#compose-wrap .zend_form { border:1px solid #eee; margin:10px 0; }
#compose-wrap .zend_form dd { margin-bottom:5px }
#compose-wrap input[type=radio] { margin-right:5px; vertical-align:bottom }
#comp_lang-element label { margin-right:5px; }
select optgroup { font-style:normal; font:bold 11px Verdana, Arial, sans-serif }
select optgroup option { font:normal 11px Verdana, Arial, sans-serif }
#wrap-smscontent { padding:10px; display:none; }
#wrap-smscontent .tpl_smscontent { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:99%; padding:10px; border:1px solid #ccc; font:normal 12px Verdana, Arial, sans-serif; margin:5px; }
#wrap-smscontent #charcount { font-size:12px; margin:0 10px; color:#ccc; }
</style>