<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'groups-detail','id' => $this->id), 'default', true);?>";

	return false;
}

function checkform()
{
	var checked = $(".chk:checked").length;
	var ask = confirm('<?php echo $this->translate('Are you sure?')?>');
	
	if (ask === false)
	{
		return false;
	}

	if ( checked == 0 )
	{
		alert('<?php echo $this->translate('Please select atleast one applicant')?>');	
		return false;
	}

	return true;
}

$(document).ready(function() {
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});        
});

</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<br />

<h3><?php echo $this->translate('Group Information')?></h3>


<table class="table" cellpadding="5" cellspacing="1" border="0" width="100%">
	<tbody>
	<tr>
		<td width="20%"><?php echo $this->translate('Name')?></td>
		<td><?php echo $this->group['group_name']?></td>			
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Description')?></td>
		<td><?php echo $this->group['group_description']?></td>			
	</tr>
	<tr>
		<td width="20%"><?php echo $this->translate('Recipients')?></td>
		<td><?php echo $this->group['total_recipients']?></td>			
	</tr>
	</tbody>
</table>

<br />

<h3><?php echo $this->translate('Recipients')?></h3>
<form method="post" action="" onsubmit="return checkform()">

<input type="hidden" value="<?php echo $this->group['group_id']?>" name="group_id"/>

<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><input type="checkbox" name="checkall" id="select-all" value="" /></th>		
		<th><?php echo $this->translate("applicant_name");?></th>
	</tr>
	
	<?php foreach ($this->results as $entry): ?>
	<tr>
		<td class="center">
			<input type="checkbox" class="chk" name="rec_id[<?php echo $entry['rec_id']; ?>]" value="<?php echo $entry['rec_id']; ?>" />
		</td>		
		<td>
			<?php echo $entry['recipient_name']; ?>
		</td>
	</tr>
	<?php
	endforeach;
	?>
</table>


<div class="form-opt">
	<input type="submit" value="<?php echo $this->translate('Delete')?>" name="delete" />
</div>
</form>