
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate('Info')?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th><?php echo $this->translate("Title");?></th>
		<th><?php echo $this->translate("Type")?></th>
		<th><?php echo $this->translate("Total Recipients");?></th>
		<th><?php echo $this->translate("Created By");?></th>
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module, 'action'=>'history-detail', 'id'=>$data['comp_id']),'default',true);?>">
				<?php echo $data['comp_subject']; ?>
			</a>
		</td>
		<td><?php echo $data['comp_type_name']?></td>
		<td><?php echo $data['comp_totalrecipients']?></td>
		<td><?php echo $data['created_by_name']; ?></td>
		<td><?php echo date('d-m-Y H:ia', strtotime($data['created_date'])); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No history available')?></td>
	</tr>
	<?php
	endif;
	?>
</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
