<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="#" onclick="return back()"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>

<h2><?php echo $this->translate('Information')?></h2>

<table class="table" cellpadding="5" cellspacing="1" border="0" width="100%">
	<tbody>
	<tr>
		<th width="30%"><?php echo $this->translate('Subject/Title')?></th>
		<td><?php echo $this->comp['comp_subject']?></td>			
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate('Date')?></th>
		<td><?php echo date('d-m-Y H:ia', strtotime($this->comp['created_date']))?></td>			
	</tr>
	<tr>
		<th width="30%"><?php echo $this->translate('Type')?></th>
		<td><?php echo $this->comp['comp_type_name']?></td>			
	</tr>
	</tbody>
</table>


<h2><?php echo $this->translate('Recipients')?></h2>
<form method="post" target="_blank" action="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'download'), 'default', true);?>" onsubmit="return checkform()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="15"><input type="checkbox" name="checkall" id="select-all" value="" /></th>
		<th><?php echo $this->translate("Name");?></th>
		<th><?php echo $this->translate("Applicant ID")?></th>
		<th width="10%"><?php echo $this->translate("Option");?></th>
	</tr>
	
	<?php foreach ($this->results as $rec): ?>
	<tr>
		<td><input type="checkbox" value="<?php echo $rec['cr_id']?>" name="rec[]" class="chk" /></td>
		<td><?php echo $rec['app_name']?></td>
		<td><?php echo $rec['at_pes_id']?></td>
		<td>
			<a href="<?php echo $this->baseUrl()?>/communication/<?php echo $this->module?>/getpdf/id/<?php echo $rec['cr_id']?>"><?php echo $this->translate('Download')?></a> |
			<a target="_blank" href="<?php echo $this->baseUrl()?>/communication/<?php echo $this->module?>/getprint/id/<?php echo $rec['cr_id']?>"><?php echo $this->translate('Print')?></a>
		</td>
	</tr>
	<?php
	endforeach;
	?>
</table>

<button type="submit" class="btn-submit"><img src="<?php echo $this->baseUrl()?>/images/icon/box-zipper.png" alt="" /><?php echo $this->translate('Download ZIP')?></button>
</form>

<script type="text/javascript">
function back()
{
	window.location="<?php echo $this->url(array('module'=>'communication','controller'=>$this->module,'action'=>'history'), 'default', true);?>";

	return false;
}

$(document).ready(function() {
    $("#select-all").click(function(){
	  $('.chk').not(this).prop('checked', this.checked);
	});        
});

function checkform()
{
	var total = $(".chk:checked").length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('Please select atleast one recipient')?>');
		return false;
	}

	return true;
}
</script>
<style type="text/css">
button.btn-submit img { vertical-align:bottom; margin-right:5px; }
</style>