<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	});
</script>
</head>
<body class="claro">
	<fieldset>
		<legend>
			<?php echo $this->translate("Student Search");?>
		</legend>
		<form
			action="<?php echo $this->baseUrl();?>/examination/studentattandance/index"
			method="POST">
			<table width="100%">
				<tr>
					<td><?php echo $this->translate("Semester");?></td>
					<td><?php echo $this->lobjform->field2;?></td>
					<td><?php echo $this->translate("Student Name");?>
					</td>
					<td><?php echo $this->lobjform->field1;?></td>
				</tr>
				<tr>
					<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn"
						dojotype="dijit.form.Button"
						label="<?php echo $this->translate("Clear"); ?>"
						onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentattandance','action'=>'index'),'default',true);?>';" />
					</td>

				</tr>
			</table>
		</form>
	</fieldset>
	<br />

	<?php if(count($this->results) > 0) { ?>
	<form name="studentattandance" method="POST">
		<fieldset>
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
					<th><?php echo $this->translate("Student Name");?>
					</th>
					<th><?php echo $this->translate("Registration ID No.");?>
					</th>
					<th><?php echo $this->translate("Semester");?></th>
					<th><?php echo $this->translate("Present");?></th>
				</tr>

				<?php $mm =0; ?>
				<?php foreach ($this->results as $lobjstudents): ?>
				<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
					<td><?php print_r($this->escape($lobjstudents['FName'].' '.$lobjstudents['MName'].' '.$lobjstudents['LName']));?>
					</td>
					<td><?php echo $this->escape($lobjstudents['registrationId']);?></td>
					<td><?php echo $this->escape($lobjstudents['ShortName']);?> <input
						type="Hidden" name="IdSemester"
						value="<?php echo $this->escape($lobjstudents['IdSemester']);?>"
						id="idApplication<?php echo $mm;?>" /> <input type="Hidden"
						name="IdStudentRegistration[]"
						value="<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>"
						id="idApplication<?php echo $mm;?>" />
					</td>
					<td><input type="Checkbox"
						name="attandance[<?php echo $this->escape($lobjstudents['IdStudentRegistration']);?>][]"
						dojoType="dijit.form.CheckBox" value="1"
						id="attandance<?php echo $mm;?>" /></td>
				</tr>
				<?php $mm++;  endforeach;?>
			</table>
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
					<td align="right"><?php echo $this->lobjStudentattandanceForm->Save;?>
						<input type="button" class="NormalBtn"
						dojotype="dijit.form.Button"
						label="<?php echo $this->translate("Clear"); ?>"
						onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentattandance','action'=>'index'),'default',true);?>';" />
					</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<?php }?>
</body>
</html>
