<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'proposal'), 'default', true);?>"><?php echo $this->translate('Proposal')?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'articleship'), 'default', true);?>"><?php echo $this->translate('Articleship')?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'exemption'), 'default', true);?>"><?php echo $this->translate('PPP')?></a></div></li>
	</ul>
	<div class="clear"></div>
</div>

<br /><br />

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>							
				<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration','action'=>'exemption'), 'default', true);?>"><span class='back'></span><?php echo $this->translate('Back')?></a>				
			</li>
		</ul>
	</div>
</div>
<br />

<?php 
	 echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()">
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="2%"></th>
		<th><?php echo $this->translate("Student");?></th>
		<th><?php echo $this->translate("Student ID")?></th>
		<th><?php echo $this->translate("Status");?></th>
		<th><?php echo $this->translate("Date Created");?></th>
	</tr>
	
	<?php 
	$i=0;
	if ( count($this->paginator) > 0 ):
	foreach ($this->paginator as $data): 
	?>
	<tr>
		<td><input type="checkbox" value="<?php echo $data['e_id'] ?>" name="chk[]" class="chk" /></td>
		<td>
			<a href="<?php echo $this->url(array('module'=>'thesis','controller'=>'registration', 'action'=>'exemption-edit', 'id'=>$data['e_id']),'default',true);?>">
				<?php echo $data['student_name']; ?>
			</a>
		</td>
		<td align='center'><?php echo $data['registrationId']?></td>
		<td align='center'><?php echo $data['status_code']?></td>
		<td align='center'><?php echo format_date_to_view($data['created_date'],'full'); ?></td>
	</tr>
	<?php 
	$i++;
	endforeach ;
	else:
	?>
	<tr>
		<td colspan="6"><?php echo $this->translate('No proposals found')?></td>
	</tr>
	<?php
	endif;
	?>
</table>

<div class="form-opt">
	<input type="submit" class="btn-submit" name="approve" value="<?php echo $this->translate("Approve")?>" />
	<input type="submit" class="btn-submit" name="reject" value="<?php echo $this->translate("Reject")?>" />
</div>

</form>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<script type="text/javascript">
function checkForm()
{
	var total = $('.chk:checked').length;

	if ( total == 0 )
	{
		alert('<?php echo $this->translate('You must select atleast one ppp to approve/reject');?>');
		return false
	}

	if ( sure('<?php echo $this->translate('Are you sure?')?>') == false )
	{
		return false;
	}

	return true;
}

$(function ()
{
    $('.checkall').on('click', function () 
       {
        $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
    });

   $('.chk').on('click', function()
	{
	   $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
	});
});
</script>
<style type="text/css">
    .hlchk { background: #fffcae !important; }
</style>