<!--<div class="breadcrum">-->
<!--	<ul class="tri-steps">-->
<!--		<li class="current"><div class="text"><a href="--><?php //echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'proposal'), 'default', true);?><!--">--><?php //echo $this->translate('Proposal')?><!--</a></div></li>-->
<!--		<li class="empty"><div class="text"><a href="--><?php //echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'articleship'), 'default', true);?><!--">--><?php //echo $this->translate('Articleship')?><!--</a></div></li>-->
<!--		<li class="last"><div class="text"><a href="--><?php //echo $this->url(array('module'=>'thesis','controller'=>'approval','action'=>'exemption'), 'default', true);?><!--">--><?php //echo $this->translate('PPP')?><!--</a></div></li>-->
<!--	</ul>-->
<!--	<div class="clear"></div>-->
<!--</div>-->
<!---->
<!--<br /><br />-->

<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
<!--    <div class="toolbar-button">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="--><?php //echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal'), 'default', true); ?><!--"><span-->
<!--                        class='back'></span>--><?php //echo $this->translate('Back') ?><!--</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
<br/>

<fieldset>
    <table>

        <legend>
            <?php echo $this->translate('Search') ?>

        </legend>
        <!--            <tr>-->
        <!--                <td>-->
        <!--                    Course ID-->
        <!--                </td>-->
        <!--                <td>-->
        <!--                    <input type="text" name="fname">-->
        <!--                </td>-->
        <!--            </tr>-->
        <div class="test">
            <?php echo $this->form; ?>
        </div>


    </table>
</fieldset>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>
<form method="post" action="" name="form_appr" onsubmit="return checkForm()" enctype="multipart/form-data">

    <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
        <tr>
<!--            <th width="2%"></th>-->
            <th width="25%"><?php echo $this->translate("Student"); ?></th>
            <th><?php echo $this->translate("Student ID") ?></th>
            <th><?php echo $this->translate("Course"); ?></th>
            <th width="25%"><?php echo $this->translate("Title"); ?></th>
            <th><?php echo $this->translate("Activity"); ?></th>
            <th><?php echo $this->translate("Registered Date"); ?></th>
            <th><?php echo $this->translate("Attachment"); ?></th>
            <th><?php echo $this->translate("Remarks"); ?></th>
            <th><?php echo $this->translate("Status"); ?></th>
        </tr>

        <?php
        $i = 0;
        if (count($this->paginator) > 0):
            foreach ($this->paginator as $data):
                ?>
                <tr>
<!--                    <td><input type="checkbox" value="--><?php //echo $data['p_id'] ?><!--" name="chk[]" class="chk"/></td>-->
                    <td>
                        <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'approval', 'action' => 'proposal-view', 'id' => $data['p_id']), 'default', true); ?>">
                            <?php echo $data['student_name']; ?>
                        </a>
                    </td>
                    <td align='center'><?php echo $data['registrationId'] ?></td>
                    <td align='center'><?php echo $data['SubCode'] ?></td>
                    <td><?php echo $data['p_title'] ?></td>
                    <td align='center'><?php echo $data['DefinitionDesc'] ?></td>
                    <td align='center'><?php echo format_date_to_view($data['applied_date']); ?></td>
<!--                    <td>--><?php //echo format_date_to_view($data['pd_date'], 'full'); ?><!--</td>-->
<!--                    <td><input type="file" name='file_--><?php //echo $data['p_id']?><!--' class="chk"></td>-->
                    <td align='center'>
                        <?php
                        $file = new Thesis_Model_DbTable_Registration();

                        $files = $file->getEvaluationFiles($data['p_id'],'approval');

                        if ($files) : ?>
                                <?php foreach ($files as $efile) : ?>
                                    <a href="<?php echo DOCUMENT_URL . $efile['ef_fileurl'] ?>"
                                           class='fancy'><?php echo $efile['ef_filename'] ?></a>
                                <?php endforeach; ?>
                        <?php else: ?>
                            -
                        <?php endif; ?>
                    </td>
                    <td align='center'><?php echo $data['approval_remarks'] ?></td>
                    <td align='center'><?php echo $data['dir_status_description'] ?></td>
                </tr>
                <?php
                $i++;
            endforeach;
        else:
            ?>
            <tr>
                <td colspan="9"><?php echo $this->translate('No proposals found') ?></td>
            </tr>
            <?php
        endif;
        ?>
    </table>

<!--    <div class="form-opt">-->
<!--        <input type="submit" class="btn-submit" name="approve" value="--><?php //echo $this->translate("Approve") ?><!--"/>-->
<!--        <input type="submit" class="btn-submit" name="reject" value="--><?php //echo $this->translate("Reject") ?><!--"/>-->
<!--    </div>-->

</form>

<div id="dialog-addfile" title="Add File" style="display:none">
    <?php echo $this->addfile_form ?>
</div>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>

<script type="text/javascript">
    function checkForm() {

        var total = $('.chk:checked').length;

        if (total == 0) {
            alert('<?php echo $this->translate('You must select atleast one proposal to approve/reject');?>');
            return false
        }

        if (sure('<?php echo $this->translate('Are you sure?')?>') == false) {
            return false;
        }

        return true;
    }

    $(function () {
        $('.checkall').on('click', function () {
            $('.chk').prop('checked', this.checked).parent().parent().toggleClass('hlchk');
        });

        $('.chk').on('click', function () {
            $(this).prop('checked', this.checked).parent().parent().toggleClass('hlchk');
        });
    });

    $(function(){

        $( "#dialog-addfile" ).dialog({
            modal: true,
            autoOpen: false,
            width: 650,
            buttons: {
                "Save": function() {

                    var check =$("#form_addfile").submit();

                    if ( check == true )
                    {
                        $( this ).dialog( "close" );
                    }

                },
                "Cancel": function() {
                    if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
                    {
                        $( this ).dialog( "close" );
                    }
                }
            }
        });

    });

    function addfile() {
        $("#form_addfile").submit();
    }

    function addResearchFile() {
        $("#dialog-addfile").dialog('open');
    }

</script>
<style type="text/css">
    .hlchk {
        background: #fffcae !important;
    }
</style>