<div class="message toolbar">
    <h2><?php echo $this->translate($this->title); ?></h2>
    <div class="toolbar-button">
        <ul>
            <!--<li>
                <a href="<?php /*echo $this->url(array('module' => 'thesis', 'controller' => 'approval', 'action' => 'reject', 'id' => $this->proposal['p_id'], 'type' => 'proposal'), 'default', true); */ ?>"
                   onclick="return sure()"><span class='delete'></span><?php /*echo $this->translate('Reject') */ ?></a>
            </li>
            <li class="divider"></li>-->
            <li>
                <a href="<?php echo $this->url(array('module' => 'thesis', 'controller' => 'approval', 'action' => 'pd-approval'), 'default', true); ?>"><span
                        class='back'></span><?php echo $this->translate('Back') ?></a>
            </li>
        </ul>
    </div>
</div>

<br/>
<?php
//echo '<pre>';
//print_r($this->proposal);
//print_r($this->examiners);
//exit;
?>
<div id="tabs">
<!--    <ul>-->
<!--        <li><a href="#det">--><?php //echo $this->translate('Registration') ?><!--</a></li>-->
<!---->
<!--        --><?php //if ($this->proposal['status_name'] == 'registered') { ?>
<!--            <!--<li>-->
<!--                <a href="--><?php ///*echo $this->baseUrl() */ ?><!--/thesis/submission/pre/id/--><?php ///*echo $this->proposal['p_id'] */ ?><!--/student_id/--><?php ///*echo $this->proposal['student_id'] */ ?><!--">--><?php ///*echo $this->translate('Pre-Submission') */ ?><!--</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="--><?php ///*echo $this->baseUrl() */ ?><!--/thesis/submission/final/id/--><?php ///*echo $this->proposal['p_id'] */ ?><!--/student_id/--><?php ///*echo $this->proposal['student_id'] */ ?><!--">--><?php ///*echo $this->translate('Final Submission') */ ?><!--</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="--><?php ///*echo $this->baseUrl() */ ?><!--/thesis/manage/tracking/id/--><?php ///*echo $this->proposal['p_id'] */ ?><!--/student_id/--><?php ///*echo $this->proposal['student_id'] */ ?><!--">--><?php ///*echo $this->translate('Tracking') */ ?><!--</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="--><?php //echo $this->baseUrl() ?><!--/thesis/manage/progress/id/--><?php //echo $this->proposal['p_id'] ?><!--/student_id/--><?php //echo $this->proposal['student_id'] ?><!--/type/proposal">--><?php //echo $this->translate('Progress Report') ?><!--</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                --><?php //if ($this->proposal['DefinitionDesc'] == 'Viva') { ?>
<!--                    <a href="--><?php //echo $this->baseUrl() ?><!--/thesis/manage/viva/id/--><?php //echo $this->proposal['p_id'] ?><!--/student_id/--><?php //echo $this->proposal['student_id'] ?><!--/type/proposal">--><?php //echo $this->translate('Evaluation') ?><!--</a>-->
<!--                --><?php //} else { ?>
<!--                    <a href="--><?php //echo $this->baseUrl() ?><!--/thesis/manage/evaluation/id/--><?php //echo $this->proposal['p_id'] ?><!--/student_id/--><?php //echo $this->proposal['student_id'] ?><!--/type/proposal">--><?php //echo $this->translate('Evaluation') ?><!--</a>-->
<!--                --><?php //} ?>
<!--            </li>-->
<!--            <li>-->
<!--                <a href="--><?php //echo $this->baseUrl() ?><!--/thesis/manage/files/id/--><?php //echo $this->proposal['p_id'] ?><!--/student_id/--><?php //echo $this->proposal['student_id'] ?><!--/type/proposal">--><?php //echo $this->translate('Files') ?><!--</a>-->
<!--            </li>-->
<!--        --><?php //} ?>
<!--        <li>-->
<!--            <a href="--><?php //echo $this->baseUrl() ?><!--/thesis/manage/history/id/--><?php //echo $this->proposal['p_id'] ?><!--">--><?php //echo $this->translate('Submission History') ?><!--</a>-->
<!--        </li>-->
<!--    </ul>-->

    <div id="det">
        <!--        --><?php //echo '<pre>'; print_r($this->proposal); ?>
        <form method="post" id="form_topic" onsubmit="return checkForm()" enctype="multipart/form-data">
            <h3 class="info"><?php echo $this->translate('Student Details') ?></h3>
            <input type="hidden" name="Idcheme" id="IdScheme" value="">
            <table width="100%" class="table">
                <tr>
                    <td width="20%"><?php echo $this->translate('Student Name') ?></td>
                    <td width="30%"><?php echo $this->proposal['student_name'] ?>
                        <input type="hidden" class="input-txt" name="student-search" id="student-search"
                               value="<?php echo $this->proposal['student_name'] ?>"/>
                        <?php echo $this->form->student_id ?>
                    </td>
                    <td width="20%"><?php echo $this->translate("Programme") ?></td>
                    <td width="30%" id="programme"></td>
                </tr>
                <tr width="20%" class="inforow" style="display:none">
                    <td><?php echo $this->translate("Student ID") ?></td>
                    <td id="studid"></td>
                    <td><?php echo $this->translate("Branch") ?></td>
                    <td id="info-branch"></td>
                </tr>

                <tr class="inforow" style="display:none">
                    <td><?php echo $this->translate("Identification No") ?></td>
                    <td id="info-idno"></td>
                    <td><?php echo $this->translate("Intake") ?></td>
                    <td id="info-intake"></td>
                </tr>
                <tr class="inforow" style="display:none">
                    <td><?php echo $this->translate("Email") ?></td>
                    <td colspan="3" id="info-email"></td>
                </tr>
            </table>

            <br/>

            <h3 class="info"><?php echo $this->translate('Registration Details') ?></h3>

            <table width="100%" class="table">
                <tr>
                    <td width="20%"><?php echo $this->translate('Course') ?></td>
                    <td width="80%" colspan="3"><?php echo $this->proposal['SubCode'].' - '.$this->proposal['course_name']  ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Activity') ?></td>
                    <td colspan="3"><?php echo $this->proposal['DefinitionDesc'] ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Registration Date') ?></td>
                    <td colspan="3"><?php echo format_date_to_view($this->proposal['applied_date']) ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate('Semester') ?></td>
                    <td colspan="3"><?php echo $this->proposal['SemesterMainCode'].' - '.$this->proposal['SemesterMainName'] ?></td>
                </tr>
                <tr>
                    <td width="20%"><?php echo $this->translate('Research Title') ?></td>
                    <td width="30%"><?php echo $this->proposal['p_title'] ?></td>
                </tr>
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->translate('Registration Status') ?><!--</td>-->
<!--                    <td colspan="3">--><?php //echo $this->proposal['pd_status_description'] ?><!--</td>-->
<!---->
<!--                </tr>-->

            </table>
            <br/>

<!--            <h3 class="info">--><?php //echo $this->proposal['DefinitionDesc'] ?><!--</h3>-->
<!---->
<!--            <table width="100%" class="table">-->
<!--                <tr>-->
<!--                    <td width="20%">--><?php //echo $this->translate('Research Title') ?><!--</td>-->
<!--                    <td width="30%">--><?php //echo $this->proposal['p_title'] ?><!--</td>-->
<!--                    <td width="20%" rowspan="5">--><?php //echo $this->translate('Synopsis') ?><!--</td>-->
<!--                    <td width="30%" rowspan="5">--><?php //echo $this->form->p_description ?><!--</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->translate('Research Topic') ?><!--</td>-->
<!--                    <td>--><?php //echo $this->form->p_topic ?><!--</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td width="20%">--><?php //echo $this->translate('Research Area') ?><!--</td>-->
<!--                    <td width="30%">--><?php //echo $this->form->p_category ?><!--</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->translate('MJPAU Date') ?><!--</td>-->
<!--                    <td>--><?php //echo $this->form->meeting_date ?><!--</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->translate('Completion Date') ?><!--</td>-->
<!--                    <td>--><?php //echo $this->form->completion_date ?><!--</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->translate('Document') ?><!--</td>-->
<!--                    <td colspan="3">-->
<!--                        --><?php //echo $this->form->uploadfile ?>
<!--                        <small class='desc'>--><?php //echo $this->translate('Allowed types') ?><!--: jpg, jpeg, png, gif, doc,-->
<!--                            pdf, docx-->
<!--                        </small>-->
<!---->
<!--                        --><?php //if (!empty($this->uploadedfiles)) : ?>
<!--                            <br/>-->
<!--                            <table class="table filetable inline">-->
<!--                                <tr>-->
<!--                                    <th>--><?php //echo $this->translate('File') ?><!--</th>-->
<!--                                    <th></th>-->
<!--                                </tr>-->
<!--                                --><?php //foreach ($this->uploadedfiles as $file) : ?>
<!--                                    <tr id="filerow---><?php //echo $file['af_id'] ?><!--">-->
<!--                                        <td><a href="--><?php //echo DOCUMENT_URL . $file['af_fileurl'] ?><!--"-->
<!--                                               class='fancy'>--><?php //echo $file['af_filename'] ?><!--</a></td>-->
<!--                                        <td><a href="#"-->
<!--                                               onclick="return deleteFileAjax(--><?php //echo $file['af_id'] ?><?php //echo $this->translate('Delete') ?><!--</a>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                --><?php //endforeach; ?>
<!--                            </table>-->
<!--                        --><?php //endif; ?>
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>--><?php //echo $this->proposal['DefinitionDesc'].' Status' ?><!--</td>-->
<!--<!--                    <td colspan="3">--><?php ////echo $this->proposal['pd_status_description'] ?? '<font color="red">Not yet registered</font>' ?><!--<!--</td>-->
<!--                    <td>--><?php
//                        if ($this->proposal['DefinitionCode'] == 'registration') {
//                            echo $this->proposal['status_description'];
//                        } else {
//                            echo ($this->proposal['pd_status_description']) ? ucwords(strtolower($this->proposal['pd_status_description'])) : '<font color="red">Not Registered Yet</font>';
//                        } ?><!--</td>-->
<!--                </tr>-->
<!---->
<!--            </table>-->



            <!-- supervisor -->
            <br/><br/>

            <h3 class="info"><?php echo $this->translate('Supervisors') ?></h3>
            <table width="100%" class="table" id="supervisor_table">
                <tr>
                    <th><?php echo $this->translate('Supervisor') ?></th>
                    <th><?php echo $this->translate('Role') ?></th>
                    <!-- <th><?php echo $this->translate('Type') ?></th>
                    <th><?php echo $this->translate('Notified?') ?></th>
                    <th></th>-->
                </tr>
                <?php if (!empty($this->supervisors)) : ?>
                    <?php foreach ($this->supervisors as $supervisor) : ?>
                        <tr id="row-<?php echo $supervisor['ps_id'] ?>">
                            <td>
                                <?php echo $supervisor['supervisor_name'] ?>
                            </td>
                            <td align='center'><?php echo $supervisor['role_name'] ?></td>
                            <!--<td align='center'><?php echo $supervisor['ps_supervisor_type'] == 0 ? 'Internal' : 'External' ?></td>
                            <!--<td align="center"><?php echo $supervisor['ps_notified'] == 1 ? '<span class="icon icon-check"></span>' : '' ?></td>
                            <!--<td align='center'><?php echo $supervisor['ps_active'] == 1 ? $this->translate('Yes') : $this->translate('No') ?></td>-->
                            <!-- <td align='center' class='options'><a
                                    href="<?php echo $this->baseUrl() ?>/thesis/registration/notify/id/<?php echo $supervisor['ps_id'] ?>/type/proposal/research_id/<?php echo $this->proposal['p_id'] ?>"
                                    onclick="return sure()"><?php echo $this->translate('Notify') ?></a> | <a href="#"
                                                                                                              onclick="return deleteSupervisorRowAjax(<?php echo $supervisor['ps_id'] ?>)"><?php echo $this->translate('Delete') ?></a>
                                <?php if ($supervisor['ps_notified'] == 1) { ?>| <a
                                    href="<?php echo DOCUMENT_URL . $supervisor['ps_pdf'] ?>"><?php echo $this->translate('Download') ?></a><?php } ?>
                            </td>-->
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <tr class='emptyrow'>
                        <td colspan='5'><?php echo $this->translate('No supervisors yet') ?></td>
                    </tr>
                <?php endif; ?>
            </table>
            <!-- /supervisor -->

            <!-- examiner -->
            <!--<br/><br/>

            <div class="opt float nomargin">
                <button onclick="addExaminer();" type="button"><span
                        class="icon icon-plus-circled"></span> <?php //echo $this->translate('Add Examiner') ?></button>
            </div>
            <h3 class="info"><?php /*echo $this->translate('Examiners') */?></h3>
            <table width="100%" class="table" id="examiner_table">
                <tr>
                    <th><?php /*echo $this->translate('Examiner') */?></th>
                    <th><?php /*echo $this->translate('Role') */?></th>
                    <th width="20%"><?php /*echo $this->translate('Active') */?></th>
                    <th></th>
                </tr>
                <?php /*if (!empty($this->examiners)) : */?>
                    <?php /*foreach ($this->examiners as $examiner) : */?>
                        <tr id="exrow-<?php /*echo $examiner['ex_id'] */?>">
                            <td><?php /*echo $examiner['internal_fullname'] != '' ? $examiner['internal_fullname'] : $examiner['supervisor_name'] */?></td>
                            <td><?php /*echo $examiner['role_name'] */?></td>
                            <td align='center'><?php /*echo $examiner['ex_active'] == 1 ? $this->translate('Yes') : $this->translate('No') */?></td>
                            <td align='center'><a href="#"
                                                  onclick="return deleteExaminerRowAjax(<?php /*echo $examiner['ex_id'] */?>)"><?php /*echo $this->translate('Delete') */?></a>
                            </td>
                        </tr>
                    <?php /*endforeach; */?>
                <?php /*else: */?>
                    <tr class='exemptyrow'>
                        <td colspan='4'><?php /*echo $this->translate('No examiners yet') */?></td>
                    </tr>
                <?php /*endif; */?>
            </table>-->

            <!-- /examiner -->

            <!--<div class="form-opt">
                <?php if ($this->proposal['status_name'] == 'registered' && $this->proposal['pd_status'] == null) { ?>
                    <input type="submit" name="submit_proposal" id="submit_proposal"
                           onclick="return checkFormProposal()"
                           value="<?php echo $this->translate('Submit Proposal Defence') ?>"
                           class="btn-submit"/>
                <?php } ?>
                <input type="submit" name="save" id="save" value="<?php echo $this->translate('Save') ?>"
                       class="btn-submit"/>
                <input name="cancel" id="cancel" type="button" value="<?php echo $this->translate('Cancel') ?>"
                       class="btn-cancel"
                       onclick="window.location ='<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'proposal'), 'default', true); ?>'"/>
            </div>-->

        </form>

    </div>

    <!-- examiner dialog -->
    <div id="dialog-examiner" title="Add Examiner" style="display:none">
        <?php echo $this->examiner_form ?>
    </div>
    <!-- /examiner dialog -->


    <!-- supervisorr dialog -->
    <div class="ui-dialog" id="dialog-supervisor" title="Add Supervisor" style="display:none">
        <?php echo $this->supervisor_form ?>
    </div>
    <!-- /supervisor dialog -->
    <script type="text/javascript">
        var supervisor_array = [<?php echo $this->supervisor_ids?>];
        var examiner_array = [<?php echo $this->examiners_ids?>];

        var roles_array = [<?php echo $this->supervisor_roles?>];
        var mainrole = '<?php echo $this->mainrole?>';

        $(function () {
            getStudInfo();
//            searchSupervisor();
//            getCourseId();

            $(".datepicker").datepicker({dateFormat: "yy-mm-dd"});

            $(".fancy").fancybox();

            $("#tabs").tabs();

            <?php if ( !empty($this->tab) ) { ?>
            $("#tabs").tabs("option", "active", <?php echo $this->tab ?>);
            <?php } ?>

            $("#student-search").attr('disabled', 'disabled');

            $("#dialog-supervisor").dialog({
                modal: true,
                autoOpen: false,
                width: 650,
                buttons: {
                    "Save": function () {

                        if ($("#supervisor_userid").val() == '' || $("#supervisor_role").val() == '') {
                            alert('<?php echo $this->translate('Please complete all required fields') ?>');
                            return false;
                        }

                        if ($.inArray($("#supervisor_userid").val(), supervisor_array) !== -1) {
                            alert('<?php echo $this->translate('This staff is already a supervisor') ?>');
                            return false;
                        }

                        if ($.inArray($("#supervisor_role").val(), roles_array) !== -1 && $("#supervisor_role").val() == 1 || mainrole == 'selected' && $("#supervisor_role").val() == 1) {
                            alert('<?php echo $this->translate('Student can only have one Main Supervisor') ?>');
                            return false;
                        }

                        //successful
                        addNewSupervisor();

                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        if (sure('<?php echo $this->translate('Are you sure?')?>') === true) {
                            $(this).dialog("close");
                        }
                    }
                }
            });

            $("#dialog-examiner").dialog({
                modal: true,
                autoOpen: false,
                width: 650,
                buttons: {
                    "Save": function () {

                        if ($("#examienr_userid").val() == '') {
                            alert('<?php echo $this->translate('Please complete all required fields') ?>');
                            return false;
                        }

                        if ($.inArray($("#examiner_userid").val(), examiner_array) !== -1) {
                            alert('<?php echo $this->translate('Cannot add the same examiner more than once') ?>');
                            return false;
                        }

                        //successful
                        addNewExaminer();

                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        if (sure('<?php echo $this->translate('Are you sure?')?>') === true) {
                            $(this).dialog("close");
                        }
                    }
                }
            });
        });

        function addNewSupervisor() {
//            var supervisor_name = $("#supervisor_userid option:selected").text();
            var supervisor_name = $("#supervisor_name").val();
            var supervisor_id = $("#supervisor_userid").val();

            var supervisor_rolename = $("#supervisor_role option:selected").text();
            var supervisor_role = $("#supervisor_role").val();

            var supervisor_active = $("#supervisor_active:checked").val() == 1 ? 1 : 0;
            var supervisor_active_name = $("#supervisor_active:checked").val() == 1 ? '<?php echo $this->translate('Yes')?>' : '<?php echo $this->translate('No')?>';

//            var supervisor_type_name = $("#supervisor_type").val() == 1 ? 'External' : 'Internal';
//            var supervisor_type = $("#supervisor_type:checked").val();

            var supervisor_type = $("#supervisor_type:checked").val();
            var supervisor_type_name = supervisor_type == 1 ? 'External' : 'Internal';

            var html = "<tr>"
                + "<td>" + supervisor_name + "<input type='hidden' name='supervisor_userid[]' value='" + supervisor_id + "' /></td>"
                + "<td align='center'>" + supervisor_rolename + "<input type='hidden' name='supervisor_role[]' value='" + supervisor_role + "' /></td>"
                + "<td align='center'>" + supervisor_type_name + "<input type='hidden' id='supervisor_type' name='supervisor_type[]' value='" + supervisor_type + "' /></td>"
                + "<td align='center'>" + supervisor_active_name + "<input type='hidden' name='supervisor_active[]' value='" + supervisor_active + "' /></td>"
                + "<td align='center'>" + "<a href='#' onclick='deleteSupervisorRow(" + supervisor_id + ", this); return false;'><?php echo $this->translate('Delete')?></a>" + "</td>"
                + "</tr>";

            $("tr.emptyrow").remove();
            $("#supervisor_table").append(html);

            supervisor_array.push(supervisor_id);
            roles_array.push(supervisor_role);
        }

        function deleteSupervisorRowAjax(id) {
            var ret = sure("<?php echo $this->translate('Are you sure to delete?')?>");

            if (ret == false) {
                return false;
            }

            var reason = prompt('Please specify a reason');

            $.ajax({
                url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-supervisor",
                type: "post",
                data: {'id': id, 'reason': reason, 'type': 'proposal'},
                dataType: 'json',
                success: function (data) {
                    if (data.msg == '') {
                        $('#row-' + id).remove();
                    }
                    else {
                        alert(data.msg);
                    }

                    location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });

            return false;
        }

        function deleteFileAjax(id) {
            var ret = sure("<?php echo $this->translate('Are you sure to delete?')?>");

            if (ret == false) {
                return false;
            }

            $.ajax({
                url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-file",
                type: "post",
                data: {'id': id},
                dataType: 'json',
                success: function (data) {
                    if (data.msg == '') {
                        $('#filerow-' + id).remove();
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function () {
                    alert("failure");
                }
            });

            return false;
        }

        function addSupervisor() {
            $("#dialog-supervisor").dialog('open');
        }

        function deleteSupervisorRow(supervisor_id, what) {
            var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');

            if (ask === false) {
                return false;
            }

            //remove from array
            var i = supervisor_array.indexOf(supervisor_id.toString());
            if (i != -1) {
                supervisor_array.splice(i, 1);
            }

            //remove row
            $(what).parent().parent().remove();
        }

        function addNewExaminer() {
            var examiner_name = $("#examiner_userid option:selected").text();
            var examiner_id = $("#examiner_userid").val();

            var examiner_rolename = $("#examiner_role option:selected").text();
            var examiner_role = $("#examiner_role").val();

            var examiner_active = $("#examiner_active:checked").val() == 1 ? 1 : 0;
            var examiner_active_name = $("#examiner_active:checked").val() == 1 ? '<?php echo $this->translate('Yes')?>' : '<?php echo $this->translate('No')?>';

            var html = "<tr>"
                + "<td>" + examiner_name + "<input type='hidden' name='examiner_userid[]' value='" + examiner_id + "' /></td>"
                + "<td>" + examiner_rolename + "<input type='hidden' name='examiner_role[]' value='" + examiner_role + "' /></td>"
                + "<td align='center'>" + examiner_active_name + "<input type='hidden' name='examiner_active[]' value='" + examiner_active + "' /></td>"
                + "<td align='center'>" + "<a href='#' onclick='deleteExaminerRow(" + examiner_id + ", this); return false;'><?php echo $this->translate('Delete')?></a>" + "</td>"
                + "</tr>";

            $("tr.exemptyrow").remove();
            $("#examiner_table").append(html);

            examiner_array.push(examiner_id);
        }

        function addExaminer() {
            $("#dialog-examiner").dialog('open');
        }

        function deleteExaminerRow(examiner_id, what) {
            var ask = sure('<?php echo $this->translate('Are you sure you want to delete?')?>');

            if (ask === false) {
                return false;
            }

            //remove from array
            var i = examiner_array.indexOf(examiner_id.toString());
            if (i != -1) {
                examiner_array.splice(i, 1);
            }

            //remove row
            $(what).parent().parent().remove();
        }

        function deleteExaminerRowAjax(id) {
            var ret = confirm('<?php echo $this->translate('Are you sure you want to delete?')?>');

            if (ret == false) {
                return false;
            }

            $.ajax({
                url: "<?php echo $this->baseUrl()?>/thesis/ajax/delete-examiner",
                type: "post",
                data: {'id': id},
                dataType: 'json',
                success: function (data) {
                    if (data.msg == '') {
                        $('#exrow-' + id).remove();
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function () {
                    alert("failure");
                }
            });

            return false;
        }

        function getStudInfo() {
            var id = $("#student_id").val();

            $.getJSON("<?php echo $this->baseUrl()?>/ajax-utility/get-student/id/" + id, function (data) {
                $(".inforow").show();
                $("#programme").html(data.ProgramName);
                $("#studid").html(data.registrationId);
                $("#IdScheme").val(data.IdScheme);
                $("#studname").html(data.appl_fname + " " + data.appl_lname);

                // info-branch, info-idno, info-intake, info-email, info-address, info-homeno, info-mobileno
                $("#info-branch").html(data.BranchName == null ? '-' : data.BranchName);
                $("#info-idno").html(data.appl_idnumber);
                $("#info-intake").html(data.IntakeDesc);
                $("#info-email").html(data.appl_email);
                $("#info-address").html(data.address);
                $("#info-homeno").html(data.appl_phone_home);
                $("#info-mobileno").html(data.appl_phone_mobile);
            });

        }

        function searchSupervisor() {

            $("#supervisor_name").autocomplete({
                source: "<?php echo $this->baseUrl()?>/thesis/ajax/supervisor",
                select: function (event, ui) {
                    $("#supervisor_name").val(ui.item.label);

                    $("#supervisor_userid").val(ui.item.value);

                    return false;
                },

                open: function (event, ui) {
                    var dialog = $(this).closest('.ui-dialog');
                    if (dialog.length > 0) {
                        $('.ui-autocomplete.ui-front').zIndex(dialog.zIndex() + 1);
                    }
                },

                minLength: 2
            });

        }

        function checkForm() {
            var error = 0;

            $("#form_topic .reqfield").each(function () {
                if ($(this).attr("type") != 'radio') {
                    var field = $(this).parent().prev().html();

                    var p = $(this).val();

                    if (p == '') {
                        //alert(field+" cannot be empty");
                        $(this).parent().prev().addClass("req");
                        $(this).focus();

                        error = 1;
                        //return false;
                    }
                    else {
                        $(this).parent().prev().removeClass("req");
                    }
                }
            });

            if (error == 1) {
                alert('Please fill in all the required fields');
                return false;
            }

            /*if (supervisor_array.length == 0) {
             alert('Please assign atleast one supervisor');
             return false;
             }*/

            $(window).unbind('beforeunload');

            return true;
        }

        function checkFormProposal() {

            if (sure('<?php echo $this->translate('Are you sure?')?>') == false) {
                return false;
            }
            return true;
        }

        function cuba() {
            $("#supervisor_type-0").attr("id", "supervisor_type");
            $("#supervisor_type-1").attr("id", "supervisor_type");
        }

        function getCourseId(element) {

//            var course_id = $(element).val();
            var course_id = $('#course_id').val();
//            var rat_type = $('#activity_id').val();
            var rat_type = '<?php echo $this->activity_id ?>';

            if (course_id != '') {
                $.ajax({
                    url: "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'get-course-id'), 'default', true);?>",
                    data: {'course_id': course_id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {

                        $('#activity_id').empty();
                        $('#activity_id').append('<option value="">-- Select --</option>');
                        $.each(data, function (index) {
                            if (rat_type == data[index].rat_type) {
                                var sel = 'selected';
                            } else {
                                var sel = '';
                            }
                            $('#activity_id').append('<option value="' + data[index].rat_type + '"' + sel + '>' + data[index].DefinitionDesc + '</option>');
                        });

                    },
                    error: function () {
                        alert("failure");
                    },
                    beforeSend: function () {
                        showLoading('activity_id');

                    },
                    complete: function () {
                        hideLoading('activity_id');
                    }
                });
            }
        }

        function getSemester(element) {

            var registerDate = $(element).val();

            console.log(registerDate);

            $.ajax({
                url: "<?php echo $this->url(array('module' => 'thesis', 'controller' => 'registration', 'action' => 'get-semester'), 'default', true);?>",
                data: {
                    'date': registerDate,
                    'IdScheme': $('#IdScheme').val()
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    $('#semester_start').empty();
                    $.each(data, function (index) {
                        $('#semester_start').append('<option value="' + data[index].IdSemesterMaster + '">' + data[index].SemesterMainCode + ' - ' + data[index].SemesterMainName + ' (' + data[index].SchemeName + ')</option>');
                    });

                },
                error: function () {
                    alert("failure");
                },
                beforeSend: function () {
                    showLoading('semester_start');

                },
                complete: function () {
                    hideLoading('semester_start');
                }
            });
        }

        function showLoading(target) {
            $('#' + target).hide();
            $('#' + target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
        }

        function hideLoading(target) {
            $('#loading').remove();
            $('#' + target).show();
        }

    </script>

    <style type="text/css">
        div.opt.nomargin {
            margin: -5px 0 0 0
        }

        div.opt.nomargin button {
            margin: 0;
        }

        .table.inline {
            margin-top: 10px;
            width: 250px;
        }
    </style>