<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'roles','action'=>'index'), 'default', true);?>" >
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("Info");?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br></br>

<form action='' method='post' name='form1'> 
<table class="" width="100%">
	<tr>
		<td width='20%'><?php echo $this->translate("Definition Code");?></td>
		<td><?php echo $this->lobjMaintainanceForm->DefinitionCode;?></td>
	</tr>
	<tr>
		<td width='20%'><?php echo $this->translate("Definition Description");?></td>
		<td><?php echo $this->lobjMaintainanceForm->DefinitionDesc;?></td>
	</tr>
	<tr>
		<td><?php echo $this->defaultlanguage;?></td>
		<td><?php echo $this->lobjMaintainanceForm->BahasaIndonesia;?></td>
	</tr>
	<tr>
		<td><?php echo $this->defaultlanguage;?>&nbsp;<?php echo $this->translate("Description");?></td>
		<td><?php echo $this->lobjMaintainanceForm->Description;?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Active");?></td>
		<td><?php echo $this->lobjMaintainanceForm->Status;?></td>
	</tr>	
	<tr>
		<td></td>
		<td><input type='submit' name='' class='submit-btn' value='Save'></input></td>
	</tr>
</table>
</form>