
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	 <div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-add/pid/<?php echo $this->pid?>/type/<?php echo $this->type?>">
					<span class='add'></span>
					<?php echo $this->translate("Add");?>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/new">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<div class="chev-step">
	<ul>
		<li>Programme</li>
		<li class="current">Scholarship Type</li>
		<li>Details</li>
	</ul>
</div>

<br />


<table class="table" width="100%">
	<thead>
		<tr>	
			<th><?php echo $this->translate('Scholarship Type')?></th>
			<th><?php echo $this->translate('Programme Name')?></th>
			<th><?php echo $this->translate('Programme Scheme')?></th>
			<th><?php echo $this->translate('Student Category')?></th>
			<th width="25%"></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ( $this->results as $row ) : ?>
		<tr>
			<td><?php if ($row['stype']==1){echo $row['sch_name'];}else if($row['stype']==2){echo $row['fName'];}else if($row['stype']==3){echo $row['name'];}?></td>
			<td><?php echo $row['ProgramName']?></td>
			<td align="center"><?php echo $row['mop'].' '.$row['mos'].' '.$row['pt']; ?></td>
			<td align="center"><?php echo $row['sc']?></td>
			<td align="center" class="options">
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-detail/id/<?php echo $row['id']?>/type/<?php echo $this->type; ?>"><?php echo $this->translate('View')?></a>
				|
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/delete/id/<?php echo $row['id']?>/type/<?php echo $this->type; ?>"><?php echo $this->translate('Delete'); ?></a>
			</td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>
