
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	 <div class="toolbar-button">
        <ul>
			
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-list/pid/<?php echo $this->pid?>/type/<?php echo $this->type?>">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>
<br />

<form method="post" action="" name="form_reapp" onsubmit="return checkform()">

<input type="hidden" name="program_id" value="<?php echo $this->pid?>" />
<input type="hidden" name="type" value="<?php echo $this->type?>" />
<input type="hidden" name="application_type" value="0" />

<table class="table" width="100%">
	<tr>	
		<td width="20%"><?php echo $this->translate('Programme')?></th>
		<td><?php echo $this->program['ProgramName']?></td>
	</tr>
	<tr>
		<td ><?php echo $this->translate('Program Scheme')?></th>
		<td><?php echo $this->form->programscheme; ?></td>
	</tr>
	<tr>
		<td ><?php echo $this->translate('Student Category')?></th>
		<td><?php echo $this->form->studentcategory; ?></td>
	</tr>
        <tr>	
		<td ><?php echo $this->translate('Type')?></th>
		<td><?php echo $this->form->stype?></td>
	</tr>
	<tr>	
		<td ><?php echo $this->translate('Scholarship Type')?></th>
		<td><?php echo $this->form->ScholarshipType?></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" class="btn-submit" name="save" value="<?php echo $this->translate('Submit')?>" />
		</td>
	</tr>
</table>
</form>

<script type="text/javascript">
	/*dojo.addOnLoad(function(){
		dijit.byId('ScholarshipType').set('value','');	
		dijit.byId('ScholarshipType').set('placeHolder','<?php //echo $this->translate('Select')?>');
	});

	function checkform()
	{
		if (dijit.byId('ScholarshipType').value == '' )
		{
			alert('<?php //echo $this->translate('Select a scholarship type')?>');
			return false;
		}

		return true;
	}*/
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function getScholarship(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'applicationformsetup', 'action'=>'get-scholarship'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ScholarshipType');
            },
            complete: function() {
		hideLoading('ScholarshipType');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].id+'">'+data[index].name+'</option>';
            });
            $('#ScholarshipType').html(content);
        })
        .fail(function() {
            alert("error load scholarship"); 
        });
    }
</script>
