<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
	$commtplModel = new Communication_Model_DbTable_Template();

?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-list/pid/<?php echo $this->info['program_id']?>/type/<?php echo $this->info['type']?>">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<div class="chev-step">
	<ul>
		<li>Programme</li>
		<li>Scholarship Type</li>
		<li class="current">Details</li>
	</ul>
</div>

<br />

<fieldset>
<ul>
	<li><strong><?php echo $this->translate('Programme')?></strong>: <?php echo $this->info['ProgramName']?></li>
	<li><strong><?php echo $this->translate('Programme Scheme')?></strong>: <?php echo $this->info['mop'].' '.$this->info['mos'].' '.$this->info['pt']; ?></li>
	<li><strong><?php echo $this->translate('Student Category')?></strong>: <?php echo $this->info['sc']?></li>
	<li><strong><?php echo $this->translate('Scholarship Type')?></strong>: <?php if ($this->info['stype']==1){echo $this->info['sch_name'];}else if($this->info['stype']==2){echo $this->info['fName'];}else if($this->info['stype']==3){echo $this->info['name'];}?></li>
</ul>
</fieldset>

<br />

<h3><?php echo $this->translate('Instructions')?></h3>
<form method="post" action="" name="form_desc">
	<textarea id="description" name="description"><?php echo isset($this->info['description']) ? $this->info['description'] : '' ?></textarea>

	<div class="form-opt">
		<input class="btn-submit" type="submit" name="save" value="Submit" />
	</div>
</form>


<h3><?php echo $this->translate('Status List')?></h3>

<table class="table" width="100%">
	<thead>
		<tr>	
			<th><?php echo $this->translate('Name')?></th>
			<th><?php echo $this->translate('Description')?></th>
			<th><?php echo $this->translate('Exists?')?></th>
			<th><?php echo $this->translate('Attachment')?></th>
			<th></th>

		</tr>
	</thead>
	<tbody>
	<?php  foreach ( $this->status as $status ) : ?>
		<tr>
			<td><?php echo $status['DefinitionCode']?></td>
			<td><?php echo $status['DefinitionDesc']?></td>
			<td align="center">
				<?php
				$apptypename = $this->info['application_type'] == 0 ? 'New Application' : 'Re-Application';
				$typename = $this->info['type'] == 'student' ? 'Student' : 'Applicant';
				
				$status_tag = 'status-'.strtolower($status['DefinitionCode']).'-application-'.$this->info['id'];
				$template = $commtplModel->getTemplatesByCategory('scholarship',$status_tag, 1);
				

				echo !empty($template) ? '<span class="icon-check icon"></span>' : '';
				?>
			</td>
			<td>
				<?php
				$SponsorModel = new Studentfinance_Model_DbTable_Sponsor();
				$listattch = $SponsorModel->getAttachmentList($this->info['id'], $status['idDefinition']);

				if ($listattch){
					foreach ($listattch as $key => $listattchLoop){
						echo ($key+1).') '.$listattchLoop['tpl_name'].'<br />';
					}
				}
				?>
			</td>
			<td width="25%" class="options center">
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/status-template/id/<?php echo $status['idDefinition']; ?>/apptype/<?php echo $this->info['application_type']?>/type/<?php echo $this->info['type']?>/rid/<?php echo $this->info['id']?>"><?php echo $this->translate('Edit Template')?></a>
				<?php
				if ($status['idDefinition'] != 966) {
					?>
					|
					<a href="javascript:void(0);" onclick="openDialog(<?php echo $status['idDefinition']; ?>, <?php echo $this->info['id'] ?>, '<?php echo $this->type; ?>');"><?php echo $this->translate('Attachment'); ?></a>
					<?php
				}
				?>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
</form>

<!-- attachment dialog -->
<div id="dialog-confirm" title="Attachment">

</div>
<input type="hidden" id="status_id" name="status_id" value="0">

<script type="text/javascript">
	$(function()
	{
		CKEDITOR.replace( 'description',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});

		$( "#dialog-confirm" ).dialog({
			autoOpen: false,
			resizable: false,
			height: "auto",
			width: 800,
			modal: true,
			close: function() {
				$(this).dialog( "close" );
				$('#dialog-confirm').empty();
				return false;
			},
			buttons: {
				"Save": function() {
					//$(this).dialog( "close" );
					//$('#dialog-confirm').empty();
					var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'applicationformsetup', 'action'=>'save-attachment'),'default',true);?>";
					$('#attachment_form').attr('action', url);
					$('#attachment_form').submit();
				},
				Cancel: function() {
					$(this).dialog( "close" );
					$('#dialog-confirm').empty();
					return false;
				}
			}
		});
	});

	function openDialog(statusid, id, type){
		var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'applicationformsetup', 'action'=>'load-attachment'),"default",true);?>/id/"+id+"/statusid/"+statusid;
		var data = {};

		$.ajax({
			type: "POST",
			url: url,
			data: data,
			dataType: 'json'
		})
		.done(function(data) {
			var content = '<form id="attachment_form" name="attachment_form" method="post">';
			$.each(data,function(index){
				var checked = '';
				if (data[index].check == 1){
					checked = 'checked=""';
				}

				content += '<input type="checkbox" name="check[]" value="'+data[index].tpl_id+'" id="check_'+data[index].tpl_id+'" '+checked+'> '+data[index].tpl_name+'<br />';
			});

			content += "<input type='hidden' id='form_id' name='form_id' value="+id+" >";
			content += "<input type='hidden' id='form_status_id' name='form_status_id' value="+statusid+" >";
			content += "<input type='hidden' id='form_type' name='form_type' value="+type+" >";
			content += '</form>';

			$('#dialog-confirm').append(content);
		})
		.fail(function() {
			alert("error load attachment");
			return false;
		});

		$('#status_id').val(id);
		$("#dialog-confirm").dialog('open');
	}
</script>