<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
</div>


<div class="chev-step">
	<ul>
		<li class="current">Programme</li>
		<li>Scholarship Type</li>
		<li>Details</li>
	</ul>
</div>

<br />

<div id="tabs">
	<ul>
		<li><a href="#tab-1"><?php echo $this->translate('Applicant')?></a></li>
		<li><a href="#tab-2"><?php echo $this->translate('Student')?></a></li>
	</ul>

	<div id="tab-1">
	<!-- tab 1 -->	
		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate('Programme Code')?></th>
					<th><?php echo $this->translate('Programme Name')?></th>
					<th width="25%"></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ( $this->program_list as $program ) : ?>
				<tr>
					<td><?php echo $program['ProgramCode']?></td>
					<td><?php echo $program['ProgramName']?></td>
					<td align="center"><a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-list/pid/<?php echo $program['IdProgram']?>/type/applicant"><?php echo $this->translate('Configure')?></a></td>
				</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	<!-- /tab 1 -->
	</div>

	<div id="tab-2">
	<!-- tab 2 -->
	
		
		<table class="table" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate('Programme Code')?></th>
					<th><?php echo $this->translate('Programme Name')?></th>
					<th width="25%"></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ( $this->program_list as $program ) : ?>
				<tr>
					<td><?php echo $program['ProgramCode']?></td>
					<td><?php echo $program['ProgramName']?></td>
					<td align="center"><a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/application-list/pid/<?php echo $program['IdProgram']?>/type/student"><?php echo $this->translate('Configure')?></a></td>
				</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	
	<!-- /tab 2 -->
	</div>
</div>


<script type="text/javascript">
	$(function()
	{
		$("#tabs").tabs();
		setTimeout(function()
		{
			if (location.hash) {
			window.scrollTo(0, 0);
			}
		}, 1);

		CKEDITOR.replace( 'description_applicant',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});

		CKEDITOR.replace( 'description_student',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});
	});
</script>