<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
	$commtplModel = new Communication_Model_DbTable_Template();
?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	
</div>
<br />

<div id="tabs">
	<ul>
		<li><a href="#tab-1"><?php echo $this->translate('Applicant')?></a></li>
		<li><a href="#tab-2"><?php echo $this->translate('Student')?></a></li>
	</ul>

	<div id="tab-1">
	<!-- tab 1 -->	
		<form method="post" action="" name="form_desc">
			<input type="hidden" value="applicant" name="type" />
			<input type="hidden" value="0" name="application_type" />
			<textarea id="description_applicant" name="description"><?php echo isset($this->info_applicant['description']) ? $this->info_applicant['description'] : '' ?></textarea>

			<div class="form-opt">
				<input class="btn-submit" type="submit" name="save" value="Submit" />
			</div>
		</form>


		<h3><?php echo $this->translate('Status List')?></h3>

		<table class="table" width="100%">
			<thead>
				<tr>	
					<th><?php echo $this->translate('Name')?></th>
					<th><?php echo $this->translate('Description')?></th>
					<th><?php echo $this->translate('Exists?')?></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<?php  foreach ( $this->status as $status ) : ?>
				<tr>
					<td><?php echo $status['DefinitionCode']?></td>
					<td><?php echo $status['DefinitionDesc']?></td>
					<td align="center">
						<?php
						$apptypename = 'application';
						$typename = 'Applicant';
						$status_tag = 'status-'.strtolower($status['DefinitionCode']).'-'.$apptypename.'-'.$this->info_applicant['id'];
						$template = $commtplModel->getTemplatesByCategory('scholarship',$status_tag, 1);
			
						echo !empty($template) ? '<span class="icon-check icon"></span>' : '';
						?>
					</td>
					<td width="25%" class="options center"><a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/status-template/id/<?php echo $status['idDefinition']?>/apptype/0/type/applicant/rid/<?php echo $this->info_applicant['id']; ?>"><?php echo $this->translate('Edit Template')?></a></td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
	<!-- /tab 1 -->
	</div>

	<div id="tab-2">
	<!-- tab 2 -->

		<form method="post" action="" name="form_desc">
			<input type="hidden" value="student" name="type" />
			<input type="hidden" value="0" name="application_type" />
			<textarea id="description_student" name="description"><?php echo isset($this->info_student['description']) ? $this->info_student['description'] : '' ?></textarea>

			<div class="form-opt">
				<input class="btn-submit" type="submit" name="save" value="Submit" />
			</div>
		</form>


		<h3><?php echo $this->translate('Status List')?></h3>

		<table class="table" width="100%">
			<thead>
				<tr>	
					<th><?php echo $this->translate('Name')?></th>
					<th><?php echo $this->translate('Description')?></th>
					<th><?php echo $this->translate('Exists?')?></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<?php  foreach ( $this->status as $status ) : ?>
				<tr>
					<td><?php echo $status['DefinitionCode']?></td>
					<td><?php echo $status['DefinitionDesc']?></td>
					<td align="center">
						<?php
						$apptypename = 'application';
						$typename = 'Student';
						$status_tag = 'status-'.strtolower($status['DefinitionCode']).'-'.strtolower($apptypename).'-'.$this->info_student['id'];
						$template = $commtplModel->getTemplatesByCategory('scholarship',$status_tag, 1);
			
						echo !empty($template) ? '<span class="icon-check icon"></span>' : '';
						?>
					</td>
					<td width="25%" class="options center"><a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/status-template/id/<?php echo $status['idDefinition']?>/apptype/0/type/student/rid/<?php echo $this->info_student['id']; ?>"><?php echo $this->translate('Edit Template')?></a></td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
	
	<!-- /tab 2 -->
	</div>
</div>


<script type="text/javascript">
	$(function()
	{
		$("#tabs").tabs();
		setTimeout(function()
		{
			if (location.hash) {
			window.scrollTo(0, 0);
			}
		}, 1);

		CKEDITOR.replace( 'description_applicant',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});

		CKEDITOR.replace( 'description_student',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});
	});
</script>