<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor4/ckeditor.js'); 
	$commtplModel = new Communication_Model_DbTable_Template();

?>
<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
        <ul>
			<li>
				<a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/reapplication-list/pid/<?php echo $this->info['program_id']?>/type/<?php echo $this->info['type']?>">
					<span class='back'></span>
					<?php echo $this->translate("Back");?>
				</a>
			</li>
        </ul>
    </div>
</div>

<div class="chev-step">
	<ul>
		<li>Programme</li>
		<li>Scholarship Type</li>
		<li class="current">Details</li>
	</ul>
</div>

<br />

<fieldset>
<ul>
	<li><strong><?php echo $this->translate('Programme')?></strong>: <?php echo $this->info['ProgramName']?></li>
        <li><strong><?php echo $this->translate('Scholarship Type')?></strong>: <?php if ($this->info['stype']==1){echo $this->info['sch_name'];}else if($this->info['stype']==2){echo $this->info['fName'];}else if($this->info['stype']==3){echo $this->info['name'];}?></li>
</ul>
</fieldset>

<br />

<h3><?php echo $this->translate('Instructions')?></h3>
<form method="post" action="" name="form_desc">
	<textarea id="description" name="description"><?php echo isset($this->info['description']) ? $this->info['description'] : '' ?></textarea>

	<div class="form-opt">
		<input class="btn-submit" type="submit" name="save" value="Submit" />
	</div>
</form>


<h3><?php echo $this->translate('Status List')?></h3>

<table class="table" width="100%">
	<thead>
		<tr>	
			<th><?php echo $this->translate('Name')?></th>
			<th><?php echo $this->translate('Description')?></th>
			<th><?php echo $this->translate('Exists?')?></th>
			<th></th>

		</tr>
	</thead>
	<tbody>
	<?php  foreach ( $this->status as $status ) : ?>
		<tr>
			<td><?php echo $status['DefinitionCode']?></td>
			<td><?php echo $status['DefinitionDesc']?></td>
			<td align="center">
				<?php
				$apptypename = $this->info['application_type'] == 0 ? 'New Application' : 'Re-Application';
				$typename = $this->info['type'] == 'student' ? 'Student' : 'Applicant';
				
				$status_tag = 'status-'.strtolower($status['DefinitionCode']).'-reapplication-'.$this->info['id'];
				$template = $commtplModel->getTemplatesByCategory('scholarship',$status_tag, 1);
				

				echo !empty($template) ? '<span class="icon-check icon"></span>' : '';
				?>
			</td>
			<td width="25%" class="options center"><a href="<?php echo $this->baseUrl()?>/studentfinance/applicationformsetup/status-template/id/<?php echo $status['idDefinition']?>/apptype/<?php echo $this->info['application_type']?>/type/<?php echo $this->info['type']?>/rid/<?php echo $this->info['id']?>"><?php echo $this->translate('Edit Template')?></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
</form>



<script type="text/javascript">
	$(function()
	{
		CKEDITOR.replace( 'description',{
			removePlugins : 'resize,placementtest',
			toolbar : 'Basic'
		});
	});
</script>