<script type="text/javascript">

function showLoading(target,target_div,loading_id){
	$(target).hide();
	$(target_div).after("<div id='"+loading_id+"'><img src='/images/ajax-loader-bar.gif' /></div>");
}

function hideLoading(loading_id,target){
	$('#'+loading_id).remove();
	$(target).show();
}


$(function() {
	
	$( "#dialog-answer" ).dialog({
        autoOpen: false,
        width: 650,
        height: 400,
        modal: true,
        buttons: {          
            "Close": function() {
                $( this ).dialog( "close" );
            }
        }
    });


	$( "#dialog-upload" ).dialog({
        autoOpen: false,
        width: 650,
        modal: true,
        buttons: {
            "Upload": function() {
                //$( this ).dialog( "close" );
                $('#upload').submit();

            	              	
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        }
    });
    
	
});

function openDialog(IdStudentRegistration){
	url = "<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet-group','action'=>'student-answer','gid'=>$this->group_id), 'default', true);?>/IdStudentRegistration/"+IdStudentRegistration;
	$( "#dialog-answer" ).load(url).dialog('open');	
}

function uploadOMR(){
	$( "#dialog-upload" ).dialog('open');	
}

function back(){
	window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet','action'=>'index'), 'default', true);?>";
}


</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="uploadOMR();">
					<span class='upload'></span>
					<?php echo $this->translate('Upload OMR');?>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/examination/exam-sheet-group/index">
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<br />
<?php }?>

<fieldset>
	<legend><?php echo $this->translate('Group Info');?></legend>
<table>
	<tr>
		<td><?php echo $this->translate("Semester");?></td>
		<td>:</td>
		<td><?php echo $this->group['semester_name'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Subject");?></td>
		<td>:</td>
		<td><?php echo $this->group['subject_name'];?> - <?php echo $this->group['subject_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Name");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_exam_name'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Group Name");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_group_name'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Group Code");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_group_code'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Date");?></td>
		<td>:</td>
		<td><?php echo date('d-m-Y', strtotime($this->group['eg_date']));?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Time");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_start_time'];?> - <?php echo $this->group['eg_end_time'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Room");?></td>
		<td>:</td>
		<td><?php echo $this->group['av_room_name_short'];?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate("Exam Capacity");?></td>
		<td>:</td>
		<td><?php echo $this->group['eg_capacity'];?></td>
	</tr>
</table>
</fieldset>

<h2><?php echo $this->translate("Supervisor List");?></h2>
<table class="table" width="100%">
	<tr>
		<th width="20px"><?php echo $this->translate('Bil');?></th>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('NIK');?></th>
		
	</tr>
	<?php
	if($this->supervisor_list) {
		foreach($this->supervisor_list as $index=>$supervisor):
	?>
	<tr>
		<td><?php echo $index+1;?>.</td>
		<td><?php echo $supervisor['FullName'];?></td>
		<td><?php echo $supervisor['StaffId'];?></td>
		
	</tr>
	<?php
		endforeach;
	}
	?>
</table>

<h2><?php echo $this->translate("Student List");?></h2>
<table class="table" width="100%">
	<tr>
		<th width="20px"><?php echo $this->translate('Bil');?></th>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('NIM');?></th>
		<th><?php echo $this->translate('Program');?></th>
		
	</tr>
	<?php
	if($this->student_list) {
		foreach($this->student_list as $index=>$student):
	?>
	<tr>
		<td><?php echo $index+1;?>.</td>
		<td>
			<?php echo $student['appl_fname']!=null?$student['appl_fname']." ":"";?>
			<?php echo $student['appl_mname']!=null?$student['appl_mname']." ":"";?>
			<?php echo $student['appl_lname']!=null?$student['appl_lname']." ":"";?>
		</td>
		<td><a href="#" onclick="openDialog(<?php echo $student["IdStudentRegistration"];?>);"><?php echo $student['egst_student_nim'];?></a></td>
		<td><?php echo $student['ProgramName'];?> - <?php echo $student['ProgramCode'];?></td>
		
	</tr>
	<?php
		endforeach;
	}
	?>
</table>

<br>
<div id="dialog-answer" title="<?php echo $this->translate("Student Answer"); ?>">
  
</div>

<div id="dialog-upload" title="<?php echo $this->translate("Upload OMR"); ?>">
    <?php echo $this->form; ?> 
</div>