
<div class="breadcrum">
	<ul class="tri-steps">
		<li class="empty"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet-group','action'=>'group-detail','id'=>$this->group_id,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>"><?php echo $this->translate("Student List"); ?></a></div></li>
		<li class="prevDone"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet-group','action'=>'upload-omr','id'=>$this->group_id,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>"><?php echo $this->translate("Upload"); ?></a></div></li>
		<li class="lastCurrent"><div class="text"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'answer-sheet-group','action'=>'mark-processing','id'=>$this->group_id,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject),'default',true);?>"><?php echo $this->translate("Mark Processing"); ?></a></div></li>	
	</ul>
	<div class="clear"></div>
</div>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		 
			<li>							
					<a href="#" onClick="back()">
						<span class='back'></span>Back</a>				
			</li>	
			
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div style="width:100%;">

</div>