<script type="text/javascript">
$(function() {
	$( "#search-dialog" ).dialog({ 
		autoOpen: false,
		width: 400,
		modal: true,
		buttons: { 
			"Search": function() {
				 
				$("#course_form").submit();
				$(this).dialog("close"); 
			},
			"Close": function() { 
				$(this).dialog("close"); 
			} 
		} 
	});
	
});

function searchbox(){
	$( "#search-dialog" ).dialog('open');
}

</script>

<script type="text/javascript">
	function del(){

		var id = $('input[name=place_id]:checked').val();
		
		if(confirm('Are you sure to delete?')){
			window.location = "<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'add'),'default',true);?>";
	}

	function edit(){
		var id = $('input[name=place_id]:checked').val();
		window.location="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test', 'action'=>'edit'),'default',true);?>/id/"+id;
	}
	
	function printMe(){
			
		var print_url = '<?php echo $this->url(array('module'=>'application','controller'=>'candidate', 'action'=>'index','scid'=>$this->scid,'room_id'=>$this->room_id,'room_type_id'=>$this->room_type_id,'order'=>$this->order, 'act'=>'print'),'default',true); ?>';
	
		window.open(print_url,'mywindow','width=500,height=200');
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:printMe()">
					<span class='pdf'></span>
					Export PDF
				</a>
			</li>		
			<li>							
				<a href="#" onClick="back()"><span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br />
<fieldset>
	<table class="">
		<tr>
			<td width="150"><?php echo $this->translate("Placement Test Code");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['aps_placement_code'];?></td>
		</tr>
		<tr>
			<td><?php echo $this->translate("Location");?></td>
			<td>:</td>
			<td><?php echo $this->schedule_data['al_location_name'];?></td>
		</tr>
		<?php 
		if(is_array($this->room)){
		?>
		<tr>
			<td><?php echo $this->translate("Room");?></td>
			<td>:</td>
			<td><?php echo $this->room['av_room_name'];?> (<?php echo $this->room['av_room_name_short'];?>)</td>
		</tr>		
		<?php 
		}
		?>
		<tr>
			<td><?php echo $this->translate("Date");?></td>
			<td>:</td>
			<td><?php echo date('d F Y', strtotime($this->schedule_data['aps_test_date']));?></td>
		</tr>
	</table>
</fieldset>
<br />
<table class="table" width="80%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<td width="10">#</td>
		<th width="20%"><a href="<?=$this->url(array('module'=>'application','controller'=>'candidate', 'action'=>'index', 'order'=>'apt_no_pes'),'default',false); ?>"><?php echo $this->translate("No Peserta"); ?></a></th>
		<th width=""><a href="<?=$this->url(array('module'=>'application','controller'=>'candidate', 'action'=>'index', 'order'=>'appl_fname'),'default',false); ?>"><?php echo $this->translate("Nama"); ?></a></th>
		<th width="20%"><?php echo $this->translate("No Formulir"); ?></th>
		<th width="20%""><?php echo $this->translate("No Kursi"); ?></th>
	</tr>
	<?php
		if($this->candidatelist){
			$xx=1;
			foreach ($this->candidatelist as $candidatelist):
	?>
	<tr>
	<td width="10"><?php echo $xx?></td>
		<td><?=$candidatelist["apt_no_pes"]?></td>
		<td><?=$candidatelist["appl_fname"]?> <?=$candidatelist["appl_mname"]?> <?=$candidatelist["appl_lname"]?></td>
		<td align=""><?=$candidatelist["at_pes_id"]?></td>
		<td><?=$candidatelist["apt_sit_no"]?></td>
	</tr>
	<?php 
		$xx++;
	endforeach; 
	}
	?>
</table>

