<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a id="dt_add" href="/application/block-applicant/add">
					<span class='add'></span>
					<?php echo $this->translate('Add'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<br/>

<fieldset>
	<legend><?php echo $this->translate('Search') ?></legend>
	<form action="<?php echo $this->baseUrl(); ?>/application/block-applicant/index/search/1" method="POST">
	<?php echo $this->form; ?>
</fieldset>
<br/>

<?php if(isset($this->noticeMessage)){?>
	<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
	<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
	<br />
<?php }?>
<?php if(isset($this->noticeError)){?>
	<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
	<br />
<?php }?>

<br/><br/>
<h3><?php echo $this->translate('Block Applicant') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>

<table class="table" width="100%">

	<thead>
	<tr>

		<th><?php echo $this->translate('IC Number'); ?></th>
		<th><?php echo $this->translate('Name'); ?></th>
		<th><?php echo $this->translate('Remark'); ?></th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>

	<?php if ($this->paginator) {

		foreach ($this->paginator as $app) {
			?>
			<tr>

				<td><?php echo $app['IcNo'];?></td>
				<td><?php echo $app['Name'];?></td>
				<td><?php echo $app['Remark'];?></td>
				<td align="center"><a href="/application/block-applicant/edit/id/<?php echo $app['Id']; ?>"><?php echo $this->translate('Edit');?></a></td>
			</tr>
			<?php
		}
	}
	?>
	</tbody>
</table>
<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
?>