<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'setup-index'), 'default', true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back') ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<form id='form1' enctype="multipart/form-data" action="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'add-setup'), 'default', true);?>" method="post">
	<table class="" >		
		<tr>
			<td><?php echo $this->translate('Name'); ?></td>
			<td>
				<input type="text"  name='name' id='name'>
			</td>
		</tr>	
		<tr>
			<td><?php echo $this->translate('Description'); ?></td>
			<td>
				<textarea name='description' id='description'></textarea>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Upload'); ?></td>
			<td>
				<input type='checkbox' name='upload' name='upload' >
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Attachment'); ?></td>
			<td>
				<input type='file' name='attachment[]' id='attachment'><br><br>
				<input type='file' name='attachment[]' id='attachment'>
			</td>
		</tr>		
		<tr>
		<td></td>
		<td><input type='submit' name='submit' value='Save'></td>
		</tr>
	</table>
</form>
