<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'index','c_id'=>$this->c_id));?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
<legend><?php echo $this->translate('Convocation Info');?></legend>
<table class="" >
	<tr>
		<td><?php echo $this->translate('Convocation Year');?></td>
		<td>:<?php echo $this->convo['c_year']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Session');?></td>
		<td>:<?php echo $this->convo['c_session']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Capacity');?></td>
		<td>:<?php echo $this->convo['c_capacity']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('No of Guest');?></td>
		<td>:<?php echo $this->convo['c_guest']; ?></td>
	</tr>
</table>
</fieldset>
<br></br>
<form action="" method="post">
<input type='hidden' name='c_id' value='<?php echo $this->c_id;?>'>
	<table class="" >
		<tr>
			<td width='25%'><?php echo $this->translate('Programme');?></td>
			<td>
				<select multiple  name="idProgram[]" size='11'>					
					<?php 
					foreach ($this->program_list as $program):
						$select ="";						
					?>
					<option value="<?php echo $program['key']; ?>" <?php echo $select; ?>><?php echo $program['value']; ?></option>
					<?php 
					endforeach;
					?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Checklist Item'); ?></td>
			<td>
				<?php 
				if(count($this->checklist) > 0 ){
				foreach($this->checklist as $checklist){?>
					<input type='checkbox' name='idChecklist[]' id='idChecklist' value='<?php echo $checklist['id']; ?>'>&nbsp;<?php echo $checklist['name']; ?>
					&nbsp;&nbsp;
					<?php foreach($checklist['docs'] as $doc){?>
					<a target='_blank' href='<?php echo DOCUMENT_URL.$doc["gd_filepath"];?>'><?php echo $doc['gd_ori_filename']; ?></a>&nbsp;&nbsp;
					<?php } ?>
					<br><br>
				<?php } } else {  echo 'No checklist';}?>
			</td>
		</tr>
		<tfoot>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="<?php echo $this->translate('Submit'); ?>">
				</td>
			</tr>
		</tfoot>
	</table>
</form>
