
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'setup-index'), 'default', true);?>" >
					<span class='back'></span>
					<?php echo $this->translate('Back') ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<form id='form1' enctype="multipart/form-data" action="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'edit-setup'), 'default', true);?>" method="post">
<input type='hidden' name='id' id='id' value='<?php echo $this->id; ?>'>
	<table class="" >		
		<tr>
			<td><?php echo $this->translate('Name'); ?></td>
			<td>
				<input type="text"  name='name' id='name' value='<?php echo $this->checklist['name'];?>' class='input-txt'>
			</td>
		</tr>	
		<tr>
			<td><?php echo $this->translate('Description'); ?></td>
			<td>
				<textarea name='description' id='description' class='input-txt'> <?php echo $this->checklist['description'];?></textarea>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Upload'); ?></td>
			<td>
				<input type='checkbox' name='upload' name='upload' <?php echo ($this->checklist['upload']==1) ? 'checked':'';?> >
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Attachment'); ?></td>
			<td>
				<input type='file' name='attachment[]' id='attachment'>
				<br>
				<br>
				<input type='file' name='attachment[]' id='attachment'>
			</td>
		</tr>	
		<tr>
			<td><?php echo $this->translate('Status'); ?></td>
			<td>
				<input type='radio' name='status' value='0' <?php echo ($this->checklist['status']==0) ? 'checked':''; ?> >&nbsp;Not Active 
				<input type='radio' name='status' value='1' <?php echo ($this->checklist['status']==1) ? 'checked':''; ?>>&nbsp;Active 
			</td>
		</tr>
		<tr>
		<td></td>
		<td><input type='submit' name='submit' value='Save'></td>
		</tr>		
	</table>
</form>

<?php if(count($this->documents)>0){?>
<br>
<table width='50%' class="table" >	
	<tr>
		<th>No</th>
		<th>Filename</th>
		<th></th>
	</tr>
	<?php foreach($this->documents as $index=>$doc){ ?>
	<tr>
		<td align='center'><?php echo $index+1;?></td>
		<td><a target='_blank' href='<?php echo DOCUMENT_URL.$doc["gd_filepath"];?>'><?php echo $doc['gd_ori_filename']; ?></a></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'del-doc','id'=>$this->id,'gdid'=>$doc['gd_id']), 'default', true);?>" onclick="return(confirm('Are you sure you want to delete this file?'));">Delete</a></td>
	</tr>
	<?php } ?>
</table>
<?php } ?>