<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'add','c_id'=>$this->c_id));?>" >
					<span class='add'></span>
					<?php echo $this->translate('Add');?>
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<fieldset>
<legend><?php echo $this->translate('Convocation Info');?></legend>
<table class="" >
	<tr>
		<td><?php echo $this->translate('Convocation Year');?></td>
		<td>:<?php echo $this->convo['c_year']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Session');?></td>
		<td>:<?php echo $this->convo['c_session']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('Convocation Capacity');?></td>
		<td>:<?php echo $this->convo['c_capacity']; ?></td>
	</tr>
	<tr>
		<td><?php echo $this->translate('No of Guest');?></td>
		<td>:<?php echo $this->convo['c_guest']; ?></td>
	</tr>
</table>
</fieldset>
<br></br>

<table class="table" width="100%">
		<tr>
			<th><?php echo $this->translate('Programme Code'); ?></th>	
			<th><?php echo $this->translate('Programme Name'); ?></th>
			<th><?php echo $this->translate('Checklist'); ?></th>				
			<th></th>
		</tr>
		<?php 
		if(count($this->program)>0){
			foreach($this->program as $program){
		?>
		<tr>
			<td align='center'><?php echo $program['ProgramCode']; ?></td>
			<td><?php echo $program['ProgramName']; ?></td>
			<td>
			<?php 
			if(count($program['checklist'])>0){
				echo '<ul>';
				foreach($program['checklist'] as $checklist){
					echo '<li>'.$checklist['name'].'</li>';
				}
				echo '</ul>';
			}
			?>
			</td>
			<td  align='center'><a href="<?php echo $this->url(array('module'=>'graduation','controller'=>'checklist','action'=>'edit','c_id'=>$this->c_id,'cc_id'=>$program['cc_id']));?>">Manage Checklist</a></td>
		</tr>
		<?php } } ?>
</table>
