<script type="text/javascript">
function updateStatus(){
	$( "#dialog-update" ).dialog('open');
	
}


$(function() {

	$( "#dialog-update" ).dialog({
	  	  autoOpen: false,
		      modal: true,
		      position : 'center',
		      width: 450,
			  height: 200,
			  buttons: {
				'Submit': function() {
                                    
                                    if ($('#semester').val()!='' && $('#startdate').val()!='' && $('#enddate').val()!=''){
                                        $('#updatestatus').submit();
                                    }else{
                                        alert('All field are required');
                                    }
			      },
		        'Close': function() {
		          $( this ).dialog( "close" );
		        }
		      }
		    });
});

function submitFormUpdate(){

	return sure('<?php echo $this->translate('Are you sure to process this data?')?>');
}

  $(function() {
    $( "#startdate" ).datepicker({
      //defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: 'dd-mm-yy',
      yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y")+100; ?>',
      onClose: function( selectedDate ) {
        $( "#enddate" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#enddate" ).datepicker({
      //defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: 'dd-mm-yy',
      yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y")+100; ?>',
      onClose: function( selectedDate ) {
        $( "#startdate" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
</script>

<div class="message toolbar">
	<h2><?php echo $this->translate($this->title); ?></h2>
	<div class="toolbar-button">
            <ul>
                <!--/course-registration/timetable/process-->
                <li>
                    <a href="#" onclick="updateStatus()">
                        <span class='approve'></span>
                        <?php echo $this->translate('Process'); ?>
                    </a>
                </li>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'course-registration','controller'=>'timetable','action'=>'cancel'), 'default', true);?>">
                        <span class='delete'></span>
                        <?php echo $this->translate('Cancel'); ?>
                    </a>
                </li>
            </ul>
        </div>
</div>
<!--<div class="breadcrum">
	<ul class="tri-steps">
		<li class='empty'><div class="text"><a href="<?php //echo $this->baseUrl()?>/"><?php echo $this->translate('Home')?></a></div></li>
		<li class="prevDone"><div class="text"><?php //echo $this->translate('Registration')?></div></li>
		<li class="lastCurrent"><div class="text"><?php //echo $this->translate('Import CSV')?></div></li>
	</ul>
	
</div>-->

<br />
<div>
    <?php if(count($this->results) < 1 ) { ?>
	<fieldset>
	<legend>Upload Timetable CSV</legend>
	<form method="post" enctype="multipart/form-data" action="<?php echo $this->baseUrl();?>/course-registration/timetable/import-csv">
            <input type="file" name="uploadFile" required=""/>
		<input type="submit" name="Submit" value="Submit" />
	</form>
	</fieldset>
	<br />
    <?php }?>
	<table class="table">
		<thead>
			<tr>
			<th></th>
			<?php foreach ($this->column as $a => $col) {?>
				<?php 
					$doNotDisplay = array('id');
					if(!in_array($a,$doNotDisplay)) {
				?>
				<th><?php echo strtoupper(str_replace('_',' ',$a));?></th>
			<?php 
					}
				}
			?>
			</tr>
		</thead>
		<tbody>
			<?php if(count($this->results) > 0 ) {
				foreach($this->results as $key => $data) {
			?>
			<tr>
			<td><?php echo $key+1;?></td>
			<?php
					foreach($data as $index => $value) {
						if(!in_array($index,$doNotDisplay)) {
				?>
						<td><?php echo $value;?></td>
					<?php 
						}
					}?>
			</tr>
			<?php }
			}
			?>
		</tbody>
	</table>
</div>


<div id="dialog-update" title="<?php echo $this->translate('Select Semester');?>">
<form id="updatestatus" method="post" action="<?php echo $this->url(array('module'=>'course-registration','controller'=>'timetable','action'=>'process'), 'default', true);?>" onsubmit="return submitFormUpdate();">

  <table>
  	<tr>
            <td><?php echo $this->translate('Semester');?> <span class="reqMark">*</span></td>
            <td>
            <select name="semester" id="semester" class="select" required="">
            <?php foreach($this->semester as $sem){?>
                    <option value="<?php echo $sem['SemesterMainName'];?>"><?php echo $sem['SemesterMainName'];?></option>
                    <?php }?>
            </select>
            </td>
  	</tr>
        <tr>
            <td><?php echo $this->translate('Class Start Date'); ?> <span class="reqMark">*</span></td>
            <td><input type="text" id="startdate" name="startdate" class="input-txt" required=""></td>
        </tr>
        <tr>
            <td><?php echo $this->translate('Class End Date'); ?> <span class="reqMark">*</span></td>
            <td><input type="text" id="enddate" name="enddate" class="input-txt" required=""></td>
        </tr>
  </table>
  </form>
</div>

