<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<script type="text/javascript">
	function del(title, id){
		if(confirm('Are you sure to delete '+title+'?')){
			window.location = "<?php echo $this->url(array('module'=>'admission','controller'=>'registration', 'action'=>'delete')); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'admission','controller'=>'registration', 'action'=>'add'));?>";
	}

	function edit(id){
		window.location="<?php echo $this->url(array('module'=>'admission','controller'=>'registration', 'action'=>'edit'));?>/id/"+id;
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<table class="table" width="100%" cellpadding="5" cellspacing="1">	
	<tr>
		<th colspan="2">Intake</th>
		<th>Total</th>
		<th>Total Branch</th>
		<th></th>
	</tr>
	<?php
	if(isset($this->applicant)){
		$i=0; 
		foreach ($this->applicant as $index=>$applicant):
		?>	
		<tr>
			<td width="5px"><?php echo $index+1; ?>)</td>
			<td><?php echo $applicant['ARD_INTAKE']; ?></td>
			<td align="center"><?php echo $applicant['total']; ?></td>
			<td align="center"><?php echo $applicant['total_branch']; ?></td>
			<td align="center"><a href="">Migrate</a></td>
		</tr>
		<?php   
		$i++;
		endforeach; 
	}
	?>
</table>


