<br>
<fieldset>
    <legend>
        <?php echo $this->translate("Credit Transfer Application"); ?>
    </legend>
    <?php if($this->ApplicationStatus == "193" || $this->ApplicationStatus == "") { ?>
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Add Application"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Semester"); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjcredittransferForm->IdSemesterAdd; ?></td>
            <td><?php echo $this->translate("Course"); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjcredittransferForm->IdCourse ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Credit") . " " . $this->translate("Hours"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->CreditHours; ?></td>
            <td><?php echo $this->translate("Application") . " " . $this->translate("Date"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->Date; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Applied") . " " . $this->translate("By"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->AppliedByName; ?><?php echo $this->lobjcredittransferForm->AppliedBy; ?></td>
            <td><?php echo $this->translate("Application") . " " . $this->translate("Status"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->ApplicationStatus; ?><?php echo $this->lobjcredittransferForm->ApplicationStatusByName; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Remarks"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->Comments; ?></td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <?php echo $this->lobjcredittransferForm->Add; ?>
                <?php echo $this->lobjcredittransferForm->Clear; ?>
            </td>
        </tr>
     </table>
     <?php } ?>
        <table class="table" width="100%" id="hor">
            <tr>
                <th><?php echo $this->translate("Semester") ?></th>
                <th><?php echo $this->translate("Course") ?></th>
                <th><?php echo $this->translate("Credit Hours") ?></th>
                <th><?php echo $this->translate("Application") . " " . $this->translate("Date"); ?></th>
                <th><?php echo $this->translate("Applied") . " " . $this->translate("By"); ?></th>
                <th><?php echo $this->translate("Application") . " " . $this->translate("Status"); ?></th>
                <th><?php echo $this->translate("Remarks")?></th>
               <?php if($this->ApplicationStatus == "193" || $this->ApplicationStatus == "") { ?> <th><?php echo $this->translate("Delete") ?></th> <?php } ?>
            </tr>
            <?php
            if(isset($this->credittransferdet)){
            $arr = $this->credittransferdet;?>
            <?php foreach( $arr as $det){?>
            <?php if(!empty($det)){?>
            <tr>
            <?php
                $idsem = '';
                if($det['IdSemester'] != ''){
                    $idsem = $det['IdSemester'].'_detail';
                    $semName = $det['semestername'];
                }
                if($det['IdSemesterMain'] != ''){
                    $idsem = $det['IdSemester'].'_detail';
                    $semName = $det['mainsemestername'];
                }
            ?>
            <td><input type='hidden' value='<?php echo $idsem ?>' name=IdSemesterGrid[]><?php echo (isset($semName) && $semName!='') ? $semName : '' ;?></td>
            <td><input type='hidden' value='<?php echo $det['IdCourse']?>' name=IdCourseGrid[]><?php echo ($det['course']!='') ? $det['course'] : ''?></td>
            <td><input type='hidden' value='<?php echo $det['CreditHours']?>' name=CreditHourseGrid[]><?php echo ($det['CreditHours']!='') ? $det['CreditHours'] : '';?></td>
            <td><input type='hidden' value='<?php echo $det['ApplicationDate']?>' name=DateGrid[]><?php echo ($det['ApplicationDate']!='') ? $det['ApplicationDate'] : '';?></td>
            <td><input type='hidden' value='<?php echo $det['AppliedBy']?>"' name=AppliedByGrid[]><?php echo ($det['loginName']!='') ? $det['loginName'] : '';?></td>
            <td><input type='hidden' value='<?php echo $det['ApplicationStatus']?>' name=ApplicationStatusGrid[]>
            <?php
                
                if($det['creditStatus'] == "1"){
                    echo "APPROVED";
                } elseif ($det['creditStatus'] == "0") {
                    echo "DISAPPROVED";
                } else {echo "ENTRY";} ?>
            </td>
            <td><input type='hidden' value='<?php echo $det['Comments']?>' name=CommentsGrid[]><?php echo ($det['Comments']!='') ? $det['Comments'] : '';?></td>

            <?php if($this->ApplicationStatus == "193" || $this->ApplicationStatus == "") { ?><td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a></td> <?php } ?>

        </tr>
            <?php }}} ?>
            <?php if($this->ApplicationStatus == "193" || $this->ApplicationStatus == "") { ?>
           <tr>
                <td colspan="8" style="text-align:right;">
                    <?php echo $this->lobjcredittransferForm->Save;?>
                </td>
            </tr>
            <?php } ?>
            <tr>
                <td align="right" colspan="8">
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'credittransferapplication'),'default',true);?>';" />
                </td>
            </tr>

        </table>
</fieldset>