<script type="text/javascript">
    dojo.addOnLoad(function() {
        dijit.byId('IdInstitution').set('value','');
        dijit.byId('IdInstitution').set('placeHolder','Select');
        dijit.byId('IdQualification').set('value','');
        dijit.byId('IdQualification').set('placeHolder','Select');
        dijit.byId('IdSpecialization').set('value','');
        dijit.byId('IdSpecialization').set('placeHolder','Select');
        dijit.byId('EquivalentCourse').set('value','');
        dijit.byId('EquivalentCourse').set('placeHolder','Select');
        dijit.byId('EquivalentGrade').set('value','');
        dijit.byId('EquivalentGrade').set('placeHolder','Select');
    });
</script>
<br>

<fieldset>
    <legend>
        <?php echo $this->translate("Add Credit Transfer Application"); ?>
    </legend>
    <table class="table" width="100%">
        <tr>
            <th colspan="4"><?php echo $this->translate("Add Application"); ?></th>
        </tr>
        <tr>
            <td><?php echo $this->translate("Semester"); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjcredittransferForm->IdSemesterAdd; ?></td>
            <td><?php echo $this->translate("Course"); ?><span class="reqMark">*</span></td>
            <td><?php echo $this->lobjcredittransferForm->IdCourse ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Credit") . " " . $this->translate("Hours"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->CreditHours; ?></td>
            <td><?php echo $this->translate("Institution"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdInstitution; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Qualification"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdQualification; ?></td>
            <td><?php echo $this->translate("Specialization"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->IdSpecialization; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Equivalent")." ".$this->translate("Course") ?></td>
            <td><?php echo $this->lobjcredittransferForm->EquivalentCourse; ?></td>
            <td><?php echo $this->translate("Equivalent")." ".$this->translate("Grade") ?></td>
            <td><?php echo $this->lobjcredittransferForm->EquivalentGrade; ?></td>
        </tr>
         <tr>
            <td><?php echo $this->translate("Equivalent")." ".$this->translate("Credit")." ".$this->translate("Hours"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->EquivalentCreditHours; ?></td>
            <td><?php echo $this->translate("Application") . " " . $this->translate("Date"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->Date; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Applied") . " " . $this->translate("By"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->AppliedByName; ?><?php echo $this->lobjcredittransferForm->AppliedBy; ?></td>
            <td><?php echo $this->translate("Application") . " " . $this->translate("Status"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->ApplicationStatus; ?><?php echo $this->lobjcredittransferForm->ApplicationStatusByName; ?></td>
        </tr>
        <tr>
            <td><?php echo $this->translate("Remarks"); ?></td>
            <td><?php echo $this->lobjcredittransferForm->Comments; ?></td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <?php echo $this->lobjcredittransferForm->Addautoct; ?>
                <?php echo $this->lobjcredittransferForm->Clearct; ?>
            </td>
        </tr>
     </table>
        <table class="table" width="100%" id="hor">
            <tr>
                <th><?php echo $this->translate("Semester") ?></th>
                <th><?php echo $this->translate("Course") ?></th>
                <th><?php echo $this->translate("Credit Hours") ?></th>
                <th><?php echo $this->translate("Institution") ?></th>
                <th><?php echo $this->translate("Qualification") ?></th>
                <th><?php echo $this->translate("Specialization") ?></th>
                <th><?php echo $this->translate("Equivalent")." ".$this->translate("Course") ?></th>
                <th><?php echo $this->translate("Equivalent")." ".$this->translate("Grade") ?></th>
                <th><?php echo $this->translate("Equivalent")." ".$this->translate("Credit")." ".$this->translate("Hours"); ?></th>
                <th><?php echo $this->translate("Application") . " " . $this->translate("Date"); ?></th>
                <th><?php echo $this->translate("Applied") . " " . $this->translate("By"); ?></th>
                <th><?php echo $this->translate("Application") . " " . $this->translate("Status"); ?></th>
                <th><?php echo $this->translate("Remarks")?></th>
                <th><?php echo $this->translate("Delete") ?></th>
            </tr>
            <?php
            if(isset($this->credittransferdet)){
            $arr = $this->credittransferdet;?>
            <?php foreach( $arr as $det){?>
            <?php if(!empty($det)){?>
            <tr>
            <?php
                $idsem = '';
                if($det['IdSemester'] != ''){
                    $idsem = $det['IdSemester'].'_detail';
                    $semName = $det['semestername'];
                }
                if($det['IdSemesterMain'] != ''){
                    $idsem = $det['IdSemester'].'_detail';
                    $semName = $det['mainsemestername'];
                }
            ?>
            <td><input type='hidden' value='<?php echo $idsem ?>' name=IdSemesterGrid[]><?php echo ($semName) ? $semName : '' ;?></td>
            <td><input type='hidden' value='<?php echo $det['IdCourse']?>' name=IdCourseGrid[]><?php echo $det['course']?></td>
            <td><input type='hidden' value='<?php echo $det['CreditHours']?>' name=CreditHourseGrid[]><?php echo $det['CreditHours']?></td>
            <td><input type='hidden' value='<?php echo $det['IdInstitution']?>' name=IdInstitutionGrid[]><?php echo $det['InstitutionName']?></td>
            <td><input type='hidden' value='<?php echo $det['IdQualification']?>' name=IdQualificationGrid[]><?php echo $det['QualificationLevel']?></td>
            <td><input type='hidden' value='<?php echo $det['IdSpecialization']?>' name=IdSpecializationGrid[]><?php echo $det['Specialization']?></td>
            <td><input type='hidden' value='<?php echo $det['EquivalentCourse']?>' name=EquivalentCourseGrid[]><?php echo $det['equivalentcourse']?></td>
            <td><input type='hidden' value='<?php echo $det['EquivalentGrade']?>' name=EquivalentGradeGrid[]><?php echo $det['subjectgrade']?></td>
            <td><input type='hidden' value='<?php echo $det['EquivalentCreditHours']?>' name=EquivalentCreditHoursGrid[]><?php echo $det['EquivalentCreditHours']?></td>
            <td><input type='hidden' value='<?php echo $det['ApplicationDate']?>' name=DateGrid[]><?php echo $det['ApplicationDate']?></td>
            <td><input type='hidden' value='<?php echo $det['AppliedBy']?>"' name=AppliedByGrid[]><?php echo $det['loginName']?></td>
            <td><input type='hidden' value='<?php echo $det['ApplicationStatus']?>' name=ApplicationStatusGrid[]><?php echo strtoupper($det['DefinitionDesc']);?></td>
            <td><input type='hidden' value='<?php echo $det['Comments']?>' name=CommentsGrid[]><?php echo $det['Comments']?></td>
           
            <td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl(); ?>/images/delete.png'  border=0 width='16' height='16'></a></td>

        </tr>
            <?php }}} ?>


           <tr>
                <td colspan="14" style="text-align:right;">
                    <?php echo $this->lobjcredittransferForm->Save;?>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="14">
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'credittransferapplication'),'default',true);?>';" />
                </td>
            </tr>
        </table>
</fieldset>