<head>
    <script type="text/javascript">
        dojo.addOnLoad(function() {
        
        });

        function fnSaveCredits(val1,val2,val3) {
            //var dataStringValue = $('#saveuntick').serialize();
            
            var flag = [];
            
            var IdStudentRegistration =  $('#IdStudentRegistration').val();
            var items = [];
            var itemsmore = [];
<?php foreach ($this->creditDetails as $values) { ?>
                  var str = 'transfersubj-'+<?php echo $values['IdCreditTransferSubjects']; ?>;
                  var IdStatus = dijit.byId(str).value;
                  items.push(IdStatus);
<?php } ?>

     



              var test_arr = $("input[name*='discomments']");
              $.each(test_arr, function(i, item) {  //i=index, item=element in array
                  var value = $(item).val();
                  var id = $(this).attr('id');
                  var combItem = id+'-'+value;
                  itemsmore.push(combItem);
                  
                  var cids = 'transfersubj-'+id;
                  //console.log(cids);
                  var cidval = $('#'+cids).val();
                  //console.log(cidval);
                  //var mySplitResults = cidval.split("-");
                  //var firstPs = mySplitResults['0'];
                  //var secondPs = mySplitResults['1'];
                  //console.log(secondPs);
                  if(cidval == 'Disapprove') {  
                      if(value=='') {  
                            var flags = '1';  
                            flag.push(flags); 
                            alert('Disapproval Remark cannot be left blank'); 
                       } 
                  } else { //var flag = []; 
                  }
                  
                  
              });
              
              
              
              if(flag.length==0) { 
                //alert('Disapproval Remark is a Mandatory Field');  
              $.post("<?php echo $this->baseUrl(); ?>/records/credittransferapp/savecreditstransferapproval", { commentData:itemsmore ,selData: items, studentId:IdStudentRegistration, type: val1, creditID: val3 },
               function(data) {
                  window.location.href = "<?php echo $this->baseUrl(); ?>/records/credittransferapp/credittransferapplicationapproval";
              });
              }

          }

          function fnRevertCredits(val1,val2,val3) {
              var IdStudentRegistration =  $('#IdStudentRegistration').val();
              $.post("<?php echo $this->baseUrl(); ?>/records/credittransferapp/revertcreditstransfer", { studentId:IdStudentRegistration, type: val1, creditID: val3 },
              function(data) {
                  window.location.href = "<?php echo $this->baseUrl(); ?>/records/credittransferapp/credittransferapplicationapproval";
              });

          }

        function distext(val1,val2) { 
               
                var mySplitResult = val1.split("-");
                var firstP = mySplitResult[0];
                var secondP = mySplitResult[1];
                var ids = val2;
                if(secondP=='0') {
                     $("#"+ids).attr("readonly",false);
                } else { 
                    $("#"+ids).attr("readonly",true);
                    $("#"+ids).val('');
                }

        }
        
        
        
    </script>
    <style>
        .makebold { font-weight: bold; }
    </style>
</head>

<fieldset>
    <legend>
        <?php echo $this->translate("Application Approval"). ' ' . $this->translate("For Credit Transfer"); ?>
    </legend>

    <div id="studdetail">
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Student Detail"); ?></th>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Student Id"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['registrationId']) ? $this->dcreditdetail[0]['registrationId'] : '' ?></td>
                <td class="makebold" ><?php echo $this->translate("NRIC Id"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['ExtraIdField1']) ? $this->dcreditdetail[0]['ExtraIdField1'] : '' ?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Name"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['FName']) ? ($this->dcreditdetail[0]['FName'] . ' ' . $this->dcreditdetail[0]['LName']) : '' ?></td>
                <td class="makebold" ><?php echo $this->translate("Scheme"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['EnglishDescription']) ? $this->dcreditdetail[0]['EnglishDescription'] : '' ?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Intake"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['IntakeDesc']) ? $this->dcreditdetail[0]['IntakeDesc'] : '' ?></td>
                <td class="makebold" ><?php echo $this->translate("Program"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['ProgramName']) ? $this->dcreditdetail[0]['ProgramName'] : '' ?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Profile Status"); ?></td>
                <td><?php echo ($this->dcreditdetail[0]['profilestatus']) ? $this->dcreditdetail[0]['profilestatus'] : '' ?></td>
                <td class="makebold" ><?php echo $this->translate("Semester Status"); ?></td>
                <td><?php echo $this->studsemstatus; ?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Current Semester"); ?></td>
                <td ><?php echo ($this->currsem) ? strtoupper($this->currsem) : ''; ?></td>
                <td class="makebold" ><?php echo $this->translate("Application Status"); ?></td>
                <td ><?php echo ($this->AppStatus) ? strtoupper($this->AppStatus) : ''; ?></td>
            </tr>
        </table>
    </div>
    <br/>
    <form name="saveuntick" id="saveuntick" method="post" >
        <fieldset>
            <legend>
                <?php echo $this->translate("Course Detail"); ?>
            </legend>
            <table class="table" width="100%" cellpadding="5" cellspacing="1">                
                <tr>
                    <th><?php echo $this->translate("Semester"); ?></th>
                    <th><?php echo $this->translate('Course'); ?></th>
                    <th><?php echo $this->translate("Credit Hours"); ?></th>
                    <th><?php echo $this->translate("Application Date"); ?></th>
                    <th><?php echo $this->translate("Applied By"); ?></th>
                   
                    <th><?php echo $this->translate("Remarks"); ?></th>
                    <th><?php echo $this->translate("Disapproval Remark"); ?></th>
                    
                    <th><?php echo $this->translate("Approve/Disapprove"); ?></th>
                </tr>

                <?php
                if (count($this->creditDetails) > 0) {
                    foreach ($this->creditDetails as $values) {
 ?>
                        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0", "#FFFFFF"))->next() ?>">
                            <td><?php if ($values['SemesterMainCode'] != '') {
                            echo $values['SemesterMainCode'];
                        } else {
                            echo $values['SemesterCode'];
                        } ?></td>
                            <td><?php echo $values['SubjectName']; ?> </td>
                            <td><?php echo $values['CreditHours']; ?></td>
                            <td><?php echo $values['ApplicationDate']; ?></td>
                            <td><?php echo $values['username']; ?></td>                            
                            <td>
                                <?php echo $values['Comments']; ?>
                            </td>
                            
                            
                            <td>
                            <input style="width:150px" class=""  readonly="readonly" type="text" name="discomments-<?php echo $values['IdCreditTransferSubjects']; ?>" id="<?php echo $values['IdCreditTransferSubjects']; ?>" value="<?php echo $values['disapprovalComment']; ?>"  dojotype="dijit.form.ValidationTextBox" >
                           </td>

                            
                            <td>
                                <select   onchange="distext(this.value,<?php echo $values['IdCreditTransferSubjects']; ?>)"  class="transfersubj" name="transfersubj-<?php echo $values['IdCreditTransferSubjects']; ?>" id="transfersubj-<?php echo $values['IdCreditTransferSubjects']; ?>"  <?php if (($this->disableSelect == '1') ||($values['disapprovalComment'] != "")) { ?> readonly="readonly" <?php } ?> dojoType="dijit.form.FilteringSelect" >
                                    <option value=<?php echo $values['IdCreditTransferSubjects'] . '-1'; ?>  <?php if ($values['creditStatus'] == '1') {
                            echo 'SELECTED';
                        } ?> >Approve</option>
                                    <option value=<?php echo $values['IdCreditTransferSubjects'] . '-0'; ?> <?php if ($values['creditStatus'] == '0') {
                            echo 'SELECTED';
                        } ?> >Disapprove</option>
                                </select>
                                <input type="hidden" name="IdStudentRegistration" id="IdStudentRegistration" value="<?php echo $values['IdStudentRegistration']; ?>" >
                    </td>
                </tr>
<?php }
                } ?>

                <tr>
                    <td colspan="8" align="right">
<?php
                        if ($this->displayRevert == '0') {
                            echo $this->lobjform->Save;
                        } else {
                            if($this->configDetail['RevertCreditTransfer']){
                                echo $this->lobjform->Revert;
                            }
                        }
?>
                    </td>
                </tr>
                <tr>
                <td align="right" colspan="14">
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'credittransferapplicationapproval'),'default',true);?>';" />
                </td>
            </tr>

            </table>
        </fieldset>
    </form>

</fieldset>
