<script type="text/javascript">
    
    $(function() {
        $('#DateFrom').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>),
        });

        $('#DateTo').datepicker({
            dateFormat: 'dd-mm-yy',			
            changeMonth: true,
            changeYear: true,
            maxDate: '0',
            yearRange: '<?php echo date("Y")-100; ?>:<?php echo date("Y"); ?>',
            defaultDate: new Date(<?php date("Y"); ?>),
        });
    });
    
    function getProgramScheme(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'changemode', 'action'=>'getprogramscheme'),"default",true);?>/id/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
</div>
<br/><br/>
<fieldset>
    <legend>
        <?php echo $this->translate("Search"); ?>
    </legend>
    <form method="post" id="searchForm">
        <table width="100%">
            <tr>
                <td><?php echo $this->translate('Program'); ?></td>
                <td><?php echo $this->form->Program; ?></td>
                <td><?php echo $this->translate('Program Scheme'); ?></td>
                <td><?php echo $this->form->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->form->Semester; ?></td>
                <td><?php echo $this->translate('Applying For'); ?></td>
                <td><?php echo $this->form->AppType; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application ID'); ?></td>
                <td><?php echo $this->form->ApplicationID; ?></td>
                <td><?php echo $this->translate('Application Status'); ?></td>
                <td><?php echo $this->form->AppStatus; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->form->StudentId; ?></td>
                <td><?php echo $this->translate('Student Category'); ?></td>
                <td><?php echo $this->form->StudentCategory; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->form->StudentName; ?></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application Date From'); ?></td>
                <td><?php echo $this->form->DateFrom; ?></td>
                <td><?php echo $this->translate('Application Date To'); ?></td>
                <td><?php echo $this->form->DateTo; ?></td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn-submit" name="search" value="search"><?php echo $this->translate('Search'); ?></button>
                    <button class="btn-submit" name="clear" value="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
    ?>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th><?php echo $this->translate("Application Date"); ?></th>
                <th><?php echo $this->translate("Application ID"); ?></th>
                <th><?php echo $this->translate("Applying For"); ?></th>
                <th><?php echo $this->translate("Student ID"); ?></th>
                <th><?php echo $this->translate("Programme"); ?></th>
                <th><?php echo $this->translate("Name"); ?></th>
                <th><?php echo $this->translate("Application Status"); ?></th>
                <th><?php echo $this->translate("Source"); ?></th>
                <th><?php echo $this->translate(""); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php
            if ($this->paginator):
            foreach ($this->paginator as $ctAppLoop):
            ?>
            <tr>
                <td align="center"><?php echo date('d-m-Y', strtotime($ctAppLoop['DateApplied'])); ?></td>
                <td><?php echo $ctAppLoop['IdCTApplication']; ?></td>
                <td align="center"><?php echo $ctAppLoop['ApplicationTypeName']; ?></td>
                <td><?php echo $ctAppLoop['registrationId']; ?></td>
                <td><?php echo $ctAppLoop['ProgramName']; ?></td>
                <td><?php echo $ctAppLoop['appl_fname'].' '.$ctAppLoop['appl_lname']; ?></td>
                <td align="center"><?php echo $ctAppLoop['AppStatusName']; ?></td>
                <td align="center"><?php echo $ctAppLoop['source']; ?></td>
                <td align="center" class="options">
                    <a href="<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'ct-approve', 'IdCreditTransfer'=>$ctAppLoop['IdCreditTransfer']),'default',true);?>"><?php echo $this->translate('View'); ?></a>
                </td>
            </tr>
            <?php
            endforeach;
            endif;
            ?>
        </tbody>
    </table>
    <div class="pagination">
    <?php 
        echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
    ?>
    </div>
</fieldset>
