<script type="text/javascript">
    dojo.addOnLoad(function() {
        //showappsdetails(<?php echo $this->dcreditdetail[0]['IdStudentRegistration'];?>);
    });    

    function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        dijit.byId(EditableDropDownId).setValue("");
        var ddwidget = dijit.byId(EditableDropDownId);
        ddwidget.setAttribute('disabled', false);
        var options = {
            label:"name",
            identifier:"key",
            items:JSONText
        };
        ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    }

    function getStudentdetail(studentId){
        if(studentId != ''){
            $.ajax({
                type: 'GET',
                async: false,
                url: '<?php echo $this->url(array('module' => 'records', 'controller' => 'credittransferapp', 'action' => 'detailstudent'), 'default', true); ?>',
                data: "IdStudent=" + studentId,
                success: function(data) {
                     $("#studdetail").html(data);
                     showappsdetails(studentId);
                }
            });
        }
    }

function showappsdetails(studentId) {
//$('#resultApps').load('<?php //echo $this->baseUrl();?>/records/credittransferapp/detailapps/IdStudent/'+studentId);
    $.ajax({
    url: '<?php echo $this->url(array('module' => 'records', 'controller' => 'credittransferapp', 'action' => 'detailapps'), 'default', true); ?>?IdStudent='+studentId,
    success: function(data) {
         $("#resultApps").show();
         $("#resultApps").html(data);
    }
    });
}


function fnSaveCredits(val1,val2,val3) {
     //var dataStringValue = $('#saveuntick').serialize();
     var IdStudentRegistration =  $('#IdStudentRegistration').val();
     var items = [];
     var itemsmore = [];
     $('.transfersubj > option:selected').each(function() {
            //alert($(this).text() + ' ' + $(this).val());
            items.push($(this).val());
     });


     var test_arr = $("input[name*='comments']");
     $.each(test_arr, function(i, item) {  //i=index, item=element in array
        var value = $(item).val();
        var id = $(this).attr('id');
        var combItem = id+'-'+value;
        itemsmore.push(combItem);
     });


     //console.log(itemsmore);
     $.post("<?php echo $this->baseUrl();?>/records/credittransferapp/savecreditstransferapproval", { commentData:itemsmore ,selData: items, studentId:IdStudentRegistration, type: val1, creditID: val3 },
     function(data) {
         //showappsdetails(val2);
         location.reload();
     });

}


function fnRevertCredits(val1,val2,val3) {
     //var dataStringValue = $('#saveuntick').serialize();
     var IdStudentRegistration =  $('#IdStudentRegistration').val();
     //console.log(dataStringValue);
     $.post("<?php echo $this->baseUrl();?>/records/credittransferapp/revertcreditstransfer", { studentId:IdStudentRegistration, type: val1, creditID: val3 },
     function(data) {
         //showappsdetails(val2);
         location.reload();
     });

}


</script>
<style>
.makebold { font-weight: bold; }
</style>
<fieldset>
    <legend>
        <?php echo $this->translate("Application For Credit Transfer"); ?>
    </legend>
    <form id="crdittranferapplicationForm" name="crdittranferapplicationForm">
    <div id="studdetail">
        <table class="table" width="100%">
            <tr>
                <th colspan="4"><?php echo $this->translate("Student Detail"); ?></th>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Student Id"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['registrationId']) ? $this->dcreditdetail[0]['registrationId'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("NRIC Id"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['ExtraIdField1']) ? $this->dcreditdetail[0]['ExtraIdField1'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Name"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['FName']) ? ($this->dcreditdetail[0]['FName'].' '.$this->dcreditdetail[0]['LName']) : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Scheme"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['EnglishDescription']) ? $this->dcreditdetail[0]['EnglishDescription'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Intake"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['IntakeDesc']) ? $this->dcreditdetail[0]['IntakeDesc'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Program"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['ProgramName']) ? $this->dcreditdetail[0]['ProgramName'] : ''?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Profile Status"); ?></td>
                <td><?php echo  ($this->dcreditdetail[0]['profilestatus']) ? $this->dcreditdetail[0]['profilestatus'] : ''?></td>
                <td class="makebold" ><?php echo $this->translate("Semester Status"); ?></td>
                <td><?php echo ($this->studsemstatus) ? strtoupper($this->studsemstatus) : '' ;?></td>
            </tr>
            <tr>
                <td class="makebold" ><?php echo $this->translate("Current Semester"); ?></td>
                <td colspan="3"><?php echo ($this->currsem) ? $this->currsem  : '' ;?></td>
            </tr>
        </table>
    </div>
    </form>
    <?php $autoCT = 0 ;if($autoCT == 1 ){?>
        <?php //echo $this->partial("credittransferapp/addcredittransferwithautoct.phtml", array('lobjcredittransferForm' => $this->lobjcredittransferForm)); ?>
    <?php }else{ ?>
    <?php //echo $this->partial("credittransferapp/addcredittransferwithoutautoct.phtml", array('lobjcredittransferForm' => $this->lobjcredittransferForm,'msgList' => $this->msgList)); ?>
    <?php }?>


    <p> </p>
    <div id="resultApps"> </div>



</fieldset>