<script type="text/javascript">
    /*var batchArray  = new Array();
    var rowid = 1;
    
    $(function(){
        if (<?php //echo $this->ctInfo['ApplicationStatus']; ?> != '784'){
            $("#Remarks").attr('disabled', 'disabled');
        }
        $("#Remarks").val("<?php ///echo $this->ctInfo['Comments']; ?>");
        
        //$( "#tabs" ).tabs();
        
        $("[name*='IdOrStudent']").click(function(){
            var type_id = $(this).val();
            $( "#StudentIDName" ).autocomplete({
                source: '<?php ///echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/'+type_id,
                minLength: 3,
                search: function(event, ui) {
                    $("#student_search_status").html('<?php //echo $this->translate('searching...'); ?>');
                },
                response: function (event, ui) {
                    $("#student_search_status").html('');
                },
                select: function(event, ui) {
                    $('#ProfileStatus').val(ui.item.StatusName);
                    $('#Intake').val(ui.item.IntakeName);
                    $('#Branch').val(ui.item.BranchName);
                    $('#Programme').val(ui.item.ProgramName);
                    $('#ProgScheme').val(ui.item.ProgramSchemeName);
                    $('#Address').val(ui.item.Address);
                    $('#PhoneHome').val(ui.item.PhoneHome);
                    $('#PhoneMobile').val(ui.item.PhoneMobile);
                    $('#PhoneOffice').val(ui.item.PhoneOffice);
                    $('#Email').val(ui.item.Email);
                    $('#AppliedDate').val(ui.item.AppliedDate);
                    $('#AppliedBy').val(ui.item.AppliedBy);
                    $('#AppliedStatus').val(ui.item.AppliedStatus);
                    $('#ApplicationID').val(ui.item.ApplicationID);
                    $('#applicationId').val(ui.item.ApplicationID);
                    $('#studRegId').val(ui.item.id);
                    $('#programId').val(ui.item.ProgramId);
                    
                    //load course drop down
                    loadCourseDropDown(ui.item.LandscapeId);
                }
            });
        });
        
        $( "#StudentIDName" ).autocomplete({
            source: '<?php //echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/1',
            minLength: 3,
            search: function(event, ui) {
                $("#student_search_status").html('<?php //echo $this->translate('searching...'); ?>');
            },
            response: function (event, ui) {
                $("#student_search_status").html('');
            },
            select: function(event, ui) {
                $('#ProfileStatus').val(ui.item.StatusName);
                $('#Intake').val(ui.item.IntakeName);
                $('#Branch').val(ui.item.BranchName);
                $('#Programme').val(ui.item.ProgramName);
                $('#ProgScheme').val(ui.item.ProgramSchemeName);
                $('#Address').val(ui.item.Address);
                $('#PhoneHome').val(ui.item.PhoneHome);
                $('#PhoneMobile').val(ui.item.PhoneMobile);
                $('#PhoneOffice').val(ui.item.PhoneOffice);
                $('#Email').val(ui.item.Email);
                $('#AppliedDate').val(ui.item.AppliedDate);
                $('#AppliedBy').val(ui.item.AppliedBy);
                $('#AppliedStatus').val(ui.item.AppliedStatus);
                $('#ApplicationID').val(ui.item.ApplicationID);
                $('#applicationId').val(ui.item.ApplicationID);
                $('#studRegId').val(ui.item.id);
                $('#programId').val(ui.item.ProgramId);
                
                //load course drop down
                loadCourseDropDown(ui.item.LandscapeId);
            }
        });
    });
    
    function loadCourseDropDown(LandscapeId){
        var url = "<?php //echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-course'),"default",true);?>/landscapeId/"+LandscapeId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('Course');
            },
            complete: function() {
		hideLoading('Course');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubjectName+'</option>';
            });
            $('#Course').html(content);
        })
        .fail(function() {
            alert("error load course drop down"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function insertAppRow(){
        //get value
        var CreditHours = $('#credithours').val();
        var ApplicationID = $('#ApplicationID').val();
        var Semester = $('#Semester').val();
        var SemesterName = $('#Semester option:selected').text();
        var AppType = $('#AppType').val();
        var AppTypeName = $('#AppType option:selected').text();
        var AppliedBy = $('#AppliedBy').val();
        var InstitionType = $('#InstitionType').val();
        var InstitionTypeName = $('#InstitionType option:selected').text();
        var AppliedDate = $('#AppliedDate').val();
        var AppliedStatus = $('#AppliedStatus').val();
        var CourseId = $('#Course').val();
        var CourseName = $('#Course option:selected').text();
        
        //validate value
        var flag = true;
        
        if (ApplicationID == '' || ApplicationID == 'undefined'){
            flag = false;
        }
        if (Semester == '' || Semester == 'undefined'){
            flag = false;
        }
        if (AppType == '' || AppType == 'undefined'){
            flag = false;
        }
        if (AppliedBy == '' || AppliedBy == 'undefined'){
            flag = false;
        }
        if (InstitionType == '' || InstitionType == 'undefined'){
            flag = false;
        }
        if (AppliedDate == '' || AppliedDate == 'undefined'){
            flag = false;
        }
        if (AppliedStatus == '' || AppliedStatus == 'undefined'){
            flag = false;
        }
        if (CourseId == '' || CourseId == 'undefined'){
            flag = false;
        }
        
        //if validate failed
        if (flag == false){
            alert('Please field all required field!');
            return false;
        }else{ //validate pass
            batchArray.push(CourseId);
            if(arrHasDupes(batchArray)){ //check duplicate entry
                batchArray = batchArray.unique();
                alert("Duplicate Entry of Course");
                return false;
            }else{
                    var trow=document.getElementById('appTable').insertRow(rowid);
                    var tcol1=trow.insertCell(0);
                    var tcol2=trow.insertCell(1);
                    var tcol3=trow.insertCell(2);
                    var tcol4=trow.insertCell(3);
                    var tcol5=trow.insertCell(4);
                    var tcol6=trow.insertCell(5);
                    var tcol7=trow.insertCell(6);
                    var tcol8=trow.insertCell(7);
                    var tcol9=trow.insertCell(8);

                    tcol1.innerHTML="<input type='hidden' value='' name=institution[]>"+
                                    "<input type='hidden' value='"+InstitionType+"' name=institutionType[]>"+
                                    "<input type='hidden' value='"+Semester+"' name=semester[]>"+
                                    "<input type='hidden' value='"+AppType+"' name=appType[]>";
                    tcol2.innerHTML="<input type='hidden' value='"+CourseId+"' name=subjectcourse[]>"+CourseName;
                    tcol3.innerHTML="<input type='hidden' value='"+CourseId+"' name=course[]>"+CourseName;
                    tcol4.innerHTML="<input type='hidden' value='"+CreditHours+"' name=credithours[]>"+CreditHours;
                    tcol5.innerHTML="<select class='select' id='gred' name='gred' style='display: inline-block; width:95px';>"+
                                    "<option value='' label='-- Select --'>-- Select --</option>"+
                                    "<option value='1' label='A'>A</option>"+
                                    "<option value='1' label='B'>B</option>"+
                                    "<option value='1' label='C'>C</option>"+
                                    "<option value='1' label='D'>D</option>"+
                                    "<option value='1' label='E'>E</option>"+
                                    "<option value='1' label='F'>F</option>"+
                                    "</select>";
                    tcol6.innerHTML="<input type='hidden' value='' name=remarks[]>";
                    tcol7.innerHTML="<input type='checkbox' value='1' name=charge[]>";
                    tcol8.innerHTML="<a href='#'><?php //echo $this->translate("View"); ?></a>";
                    tcol9.innerHTML="<a href='javascript:void(0);' onClick='deleteRow(this); return false;'><?php //echo $this->translate('Delete'); ?></a>";
                    rowid++;
            }
        }
    }
    
    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }
    
    function deleteRow(r){
        var ret = confirm("Are you sure to delete");
        if(ret){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            document.getElementById('appTable').deleteRow(i);
        }
    }
    
    function courseInfo(courseId){
        var url = "<?php //echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-course-info'),"default",true);?>/courseId/"+courseId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json'
        })
        .done(function(data) {
            $('#credithours').val(data.CreditHours);
        })
        .fail(function() {
            alert("error load course info"); 
        });
    }*/
    
    $(function(){
        if (<?php echo $this->ctInfo['ApplicationStatus']; ?> != '784'){
            $("#Remarks").attr('disabled', 'disabled');
        }
        $("#Remarks").val("<?php echo trim(preg_replace('/\s\s+/', ' ', $this->ctInfo['Comments'])); ?>");
    });
    
    function checkRemarks(){
        /*var remarks = $('#Remarks').val();
        
        if (remarks == '' || remarks == 'undefined'){
            alert("Remarks are required!");
            return false;
        }else{
            return true;
        }*/
        var ask = confirm('<?php echo $this->translate('Are you sure you want to approve this application ?')?>');

	if (ask === false){
            return false;
	}else{
            return true;
        }
    }
    
    function viewDocument(ctSubId, ctId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-file-upload'),'default',true);?>/ctSubId/"+ctSubId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
        })
        .done(function(data) {
            
            var content = "";
            content = "<div id='fileTable'>";
            content += "<table class='table' width='100%'>";
            content += "<tr>";
            content += "<th><?php echo $this->translate("Bil"); ?></th>";
            content += "<th><?php echo $this->translate("File Name"); ?></th>";
            content += "<th><?php echo $this->translate("Upload Date"); ?></th>";
            //content += "<th><?php //echo $this->translate(""); ?></th>";
            content += "</tr>";
            
            if (data) {
                var i = 1;
                $.each(data,function(index){
                    content += "<tr>";
                    content += "<td align='center'>"+i+"</td>";
                    content += "<td><a href='<?php echo DOCUMENT_URL; ?>"+data[index].FileLocation+"' target='_blank'>"+data[index].FileName+"</a></td>";
                    content += "<td>"+data[index].UpdDate+"</td>";
                    //content += "<td><a onclick='delUpload();' href='<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'delete-upload-file'),"default",true);?>/id/"+data[index].IdCreditTransferSubjectsDocs+"/ctId/"+ctId+"'><?php echo $this->translate('Delete'); ?><a></td>";
                    content += "</tr>";
                    i++;
                });
            }
            
            content += "</table>";
            content += "</div>";
            
            $("#fancybox").fancybox({
                helpers: {
                    title : {
                        type : 'float',
                    }
                }
            });
            $.fancybox({ 
                content: content,
                fitToView: false,
                width: 750,
                height: 300,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        })
        .fail(function() {
            alert("error load document checklist"); 
        });
    }
    
    function delUpload(){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this file ?')?>');

	if ( ask === false ){
            return false;
	}
	return true;
    }
    
    function revertApp(id){
        if(confirm('Are you sure to revert this application ?')){
            window.location="<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'revert-application'),'default',true);?>/ctId/"+id;
        }else{
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'printapplication', 'id'=>$this->ctInfo['IdCreditTransfer']),'default',true);?>" target="_blank">
                <span class='print'></span>
                <?php echo $this->translate("Print");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'credittransferapplicationapproval'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->title ?></legend>
    <form method="post" id="ctform">
    <table class="table" width="100%">
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Student Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Student ID/Name'); ?></td>
                <td><?php echo $this->ctInfo['registrationId'].' - '.$this->ctInfo['appl_fname'].' '.$this->ctInfo['appl_lname']; ?></td>
                <td><?php echo $this->translate('Profile Status'); ?></td>
                <td><?php echo $this->ctInfo['StatusName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID Type'); ?></td>
                <td><?php echo $this->ctInfo['IdTypeName'];  ?></td>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->ctInfo['IntakeName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID No'); ?></td>
                <td><?php echo $this->ctInfo['appl_idnumber']; ?></td>
                <td><?php echo $this->translate('Branch'); ?></td>
                <td><?php echo $this->ctInfo['BranchName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->ctInfo['ProgramName'] ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->ctInfo['mop'].' '.$this->ctInfo['mos'].' '.$this->ctInfo['pt']; ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Funding Method'); ?></td>
                <td><?php echo $this->ctInfo['afMethodName']; ?></td>
                <td><?php echo $this->translate('Sponsorship Name'); ?></td>
                <td><?php echo $this->ctInfo['af_sponsor_name']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Scholarship Type') ?></td>
                <td><?php echo $this->ctInfo['typeScholarshipName']; ?></td>
                <td><?php echo $this->translate('Scholarship Name') ?></td>
                <td><?php echo $this->ctInfo['af_type_scholarship']==522 ? $this->ctInfo['af_scholarship_secured']:$this->ctInfo['applScholarshipName']; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Contact Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5"><?php echo $this->translate('Address'); ?></td>
                <td rowspan="5"><?php echo $this->address; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Home)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_home']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Mobile)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_mobile']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Office)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_office']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Email'); ?></td>
                <td><?php echo $this->ctInfo['appl_email']; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Add Application'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Application ID'); ?></td>
                <td><?php echo $this->ctInfo['IdCTApplication']; ?></td>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->ctInfo['SemesterName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application Type'); ?></td>
                <td><?php echo $this->ctInfo['ApplicationTypeName']; ?></td>
                <td><?php echo $this->translate('Applied By'); ?></td>
                <td><?php echo $this->ctInfo['appliedName'] ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Institution Type'); ?></td>
                <td><?php echo $this->ctInfo['InstitutionTypeName']; ?></td>
                <td><?php echo $this->translate('Application Date'); ?></td>
                <td><?php echo date('d-m-Y', strtotime($this->ctInfo['DateApplied'])); ?></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><?php echo $this->translate('Application Status'); ?></td>
                <td><?php echo $this->ctInfo['AppStatusName']; ?></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <fieldset>
        <legend><?php echo $this->translate('Course Info For Credit Transfer/Exemption'); ?></legend>
        <table class="table" width="100%" id="appTable">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Institution'); ?></th>
                    <th><?php echo $this->translate('Subject/Courses'); ?></th>
                    <th><?php echo $this->translate('Courses Equivalent'); ?></th>
                    <th><?php echo $this->translate('Credit Hours'); ?></th>
                    <th><?php echo $this->translate('Grade'); ?></th>
                    <th><?php echo $this->translate('Remarks'); ?></th>
                    <!--<th><?php //echo $this->translate('Processing Fee'); ?></th>-->
                    <th><?php echo $this->translate('Exemption Fee'); ?></th>
                    <th><?php echo $this->translate('Processing Fee Status'); ?></th>
                    <th><?php echo $this->translate('Exemption Fee Status'); ?></th>
                    <th><?php echo $this->translate('Upload Doc'); ?></th>
                    <th><?php echo $this->translate('Status'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php 
                if ($this->ctSubject):
                $i = 0;
                foreach ($this->ctSubject as $subjectLoop):
                ?>
                <tr>
                    <td>
                        <?php echo $subjectLoop['institutionName']; ?>
                        <input type='hidden' value='<?php echo $subjectLoop['institutionName']; ?>' name=institutionName[<?php echo $subjectLoop['EquivalentCourse']; ?>]>
                    </td>
                    <td>
                        <?php
                        $model = new Registration_Model_DbTable_Studentregistration();
                        $courseList = $model->getCtSubMore($subjectLoop['IdCreditTransferSubjects']);
                        if ($model):
                        foreach ($courseList as $courseLoop):
                        //var_dump($courseLoop);
                        if ($courseLoop['csm_type']==783){
                        ?>
                        <?php echo $courseLoop['csm_subjectexternal']; ?><br/>
                        <input type="hidden" value="<?php echo $courseLoop['csm_subjectexternal']; ?>" name="course[<?php echo $subjectLoop['EquivalentCourse']; ?>][]">
                        <?php
                        }else{
                        ?>
                        <?php echo $courseLoop['courseCode'].' - '.$courseLoop['courseName']; ?><br/>
                        <input type="hidden" value="<?php echo $courseLoop['csm_subjectinternal']; ?>" name="course[<?php echo $subjectLoop['EquivalentCourse']; ?>][]">
                        <?php
                        }
                        endforeach;
                        endif;
                        ?>
                    </td>
                    <td>
                        <?php echo $subjectLoop['courseCode'].' - '.$subjectLoop['courseEqName']; ?>
                        <input type='hidden' value='<?php echo $subjectLoop['EquivalentCourse']; ?>' name=courseeq[<?php echo $subjectLoop['EquivalentCourse']; ?>]>
                    </td>
                    <td align="center">
                        <?php echo $subjectLoop['EquivalentCreditHours']; ?>
                        <input type='hidden' value='<?php echo $subjectLoop['EquivalentCreditHours'] ?>' name=credithours[<?php echo $subjectLoop['EquivalentCourse']; ?>]>
                    </td>
                    <td align="center">
                        <?php echo $subjectLoop['EquivalentGrade']; ?>
                        <input type='hidden' value='<?php echo $subjectLoop['EquivalentGrade'] ?>' name=gred[<?php echo $subjectLoop['EquivalentCourse']; ?>]>
                    </td>
                    <td>
                        <?php echo $subjectLoop['Comments']; ?>
                        <input type='hidden' value='<?php echo $subjectLoop['Comments'] ?>' name=remarks[<?php echo $subjectLoop['EquivalentCourse']; ?>]>
                    </td>
                    <!--<td align="center">
                        <input type='hidden' value='0' name=charge[<?php //echo $subjectLoop['IdCreditTransferSubjects']; ?>]>
                        <input type='checkbox' value='1' name=charge[<?php //echo $subjectLoop['IdCreditTransferSubjects']; ?>] <?php //echo $subjectLoop['charge']==1 ? 'checked=""':''; ?> <?php //echo $this->ctInfo['ApplicationStatus']==784 ? "":"disabled=''" ?>>
                    </td>-->
                    <td align="center">
                        <input type='hidden' value='0' name=chargeex[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>]>
                        <input type='checkbox' value='1' name=chargeex[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>] <?php echo $subjectLoop['charge2']==1 ? 'checked=""':''; ?> <?php echo $this->ctInfo['ApplicationStatus']==784 ? "":"disabled=''" ?>>
                    </td>
                    <td align="center"><?php echo $subjectLoop['paid_0']==1 ? 'Paid':'Not Paid'; ?></td>
                    <td align="center"><?php echo $subjectLoop['paid_1']==1 ? 'Paid':'Not Paid'; ?></td>
                    <td align="center"><a href='javascript:void(0);' onclick="viewDocument(<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>, <?php echo $this->ctInfo['IdCreditTransfer']; ?>);"><?php echo $this->translate("View"); ?></a></td>
                    <td align="center">
                        <select class="select span-3" id="AppStatus_<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>" name="AppStatus[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>]" style="width:100px;" <?php echo $this->ctInfo['ApplicationStatus']==784 ? '':'disabled="disabled"' ?> required="true">
                            <option label="-- Select --" value="">-- Select --</option>
                            <option label="Approve" value="1" <?php echo ($subjectLoop['creditStatus']==1 && $subjectLoop['creditStatus']!=null) ? 'selected=""':''; ?>>Approve</option>
                            <option label="Reject" value="0" <?php echo ($subjectLoop['creditStatus']==0 && $subjectLoop['creditStatus']!=null) ? 'selected=""':''; ?>>Reject</option>
                        </select>
                    </td>
                </tr>
                <?php 
                endforeach;
                endif;
                ?>
            </tbody>
        </table>
    </fieldset>
    <br/>
    <fieldset>
        <legend><?php echo $this->translate('Approval Info'); ?></legend>
        <table width="100%" class="table">
            <tr>
                <td rowspan="3"><?php echo $this->translate('Remarks'); ?></td>
                <td rowspan="3"><?php echo $this->form->Remarks; ?></td>
            </tr>
            <tr>
                <td valign="top">
                <?php 
                if ($this->ctInfo['ApplicationStatus']==784 || $this->ctInfo['ApplicationStatus']==786){
                    echo $this->translate('Approved By'); 
                }else if ($this->ctInfo['ApplicationStatus']==785){
                    echo $this->translate('Cancel By');
                }else{
                    echo $this->translate('Rejected By');
                }
                ?>
                </td>
                <td valign="top"><input type="text" class="span-7" disabled="disabled" value="<?php echo $this->ctInfo['ApplicationStatus']==784 ? $this->userInfo['loginName']:$this->ctInfo['approvedName']; ?>" id="approvedBy" name="approvedBy"></td>
            </tr>
            <tr>
                <td valign="top">
                <?php 
                if ($this->ctInfo['ApplicationStatus']==784 || $this->ctInfo['ApplicationStatus']==786){
                    echo $this->translate('Approved Date'); 
                }else if ($this->ctInfo['ApplicationStatus']==785){
                    echo $this->translate('Cancel Date');
                }else{
                    echo $this->translate('Rejected Date');
                }
                ?>
                </td>
                <td valign="top"><input type="text" class="span-7" disabled="disabled" value="<?php echo $this->ctInfo['ApplicationStatus']==784 ? date('d-m-Y'):date('d-m-Y', strtotime($this->ctInfo['DateApproved'])); ?>" id="approvedBy" name="approvedBy"></td>
            </tr>
        </table>
        <br/>
        <?php
        if ($this->ctInfo['ApplicationStatus']==784){
        ?>
        <div class="form-opt">
            <button type="submit" name="approve_app" onclick="return checkRemarks();"><?php echo $this->translate('Approve'); ?></button>
            <!--<button type="submit" name="reject_app" onclick="return checkRemarks();"><?php //echo $this->translate('Reject'); ?></button>-->
        </div>
        <?php
        }
        if ($this->ctInfo['ApplicationStatus']==786 || $this->ctInfo['ApplicationStatus']==787){
        ?>
        <div class="form-opt">
            <button type="button" name="approve_app" onclick="revertApp(<?php echo $this->ctInfo['IdCreditTransfer']; ?>);"><?php echo $this->translate('Revert'); ?></button>
        </div>
        <?php 
        }
        ?>
    </fieldset>
    <!--<div id="tab-3">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th><?php //echo $this->translate("Bil"); ?></th>
                    <th><?php //echo $this->translate("Old Status"); ?></th>
                    <th><?php //echo $this->translate("New Status"); ?></th>
                    <th><?php //echo $this->translate("Update By"); ?></th>
                    <th><?php //echo $this->translate("Date"); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                /*if ($this->historyList):
                $i = 1;
                foreach ($this->historyList as $historyLoop):*/
                ?>
                <tr>
                    <td><?php //echo $i; ?></td>
                    <td><?php //echo $historyLoop['OldStatusName']; ?></td>
                    <td><?php //echo $historyLoop['NewStatusName']; ?></td>
                    <td><?php //echo $historyLoop['username']; ?></td>
                    <td><?php //echo date('d-m-Y', strtotime($historyLoop['cth_upddate'])); ?></td>
                </tr>
                <?php
                /*$i++;
                endforeach;
                endif;*/
                ?>
            </tbody>
        </table>
    </div>-->
    </form>
</fieldset>