<script type="text/javascript">
    var batchArray  = new Array();
    var rowid = 1 + <?php echo count($this->ctSubject); ?>;
    
    <?php
    if ($this->ctSubject){
    foreach ($this->ctSubject as $ctSubLoop){
    ?>
    batchArray.push(<?php echo $ctSubLoop['EquivalentCourse']; ?>);
    <?php
    }
    }
    ?>
    
    $(function(){
        $("[name*='IdOrStudent']").click(function(){
            var type_id = $(this).val();
            $( "#StudentIDName" ).autocomplete({
                source: '<?php echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/'+type_id,
                minLength: 3,
                search: function(event, ui) {
                    $("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
                },
                response: function (event, ui) {
                    $("#student_search_status").html('');
                },
                select: function(event, ui) {
                    $('#ProfileStatus').val(ui.item.StatusName);
                    $('#Intake').val(ui.item.IntakeName);
                    $('#Branch').val(ui.item.BranchName);
                    $('#Programme').val(ui.item.ProgramName);
                    $('#ProgScheme').val(ui.item.ProgramSchemeName);
                    $('#Address').val(ui.item.Address);
                    $('#PhoneHome').val(ui.item.PhoneHome);
                    $('#PhoneMobile').val(ui.item.PhoneMobile);
                    $('#PhoneOffice').val(ui.item.PhoneOffice);
                    $('#Email').val(ui.item.Email);
                    $('#AppliedDate').val(ui.item.AppliedDate);
                    $('#AppliedBy').val(ui.item.AppliedBy);
                    $('#AppliedStatus').val(ui.item.AppliedStatus);
                    $('#ApplicationID').val(ui.item.ApplicationID);
                    $('#applicationId').val(ui.item.ApplicationID);
                    $('#studRegId').val(ui.item.id);
                    $('#programId').val(ui.item.ProgramId);
                    $('#landscapeId').val(ui.item.LandscapeId);
                    $('#IdType').val(ui.item.IdType);
                    $('#IdNo').val(ui.item.IdNo);
                    
                    //load course drop down
                    loadCourseDropDown(ui.item.LandscapeId);
                }
            });
        });
        
        $( "#StudentIDName" ).autocomplete({
            source: '<?php echo $this->url(array('module' => 'records', 'controller' => 'Credittransferapp', 'action' => 'find-student'), 'default', true); ?>/searchType/1',
            minLength: 3,
            search: function(event, ui) {
                $("#student_search_status").html('<?php echo $this->translate('searching...'); ?>');
            },
            response: function (event, ui) {
                $("#student_search_status").html('');
            },
            select: function(event, ui) {
                $('#ProfileStatus').val(ui.item.StatusName);
                $('#Intake').val(ui.item.IntakeName);
                $('#Branch').val(ui.item.BranchName);
                $('#Programme').val(ui.item.ProgramName);
                $('#ProgScheme').val(ui.item.ProgramSchemeName);
                $('#Address').val(ui.item.Address);
                $('#PhoneHome').val(ui.item.PhoneHome);
                $('#PhoneMobile').val(ui.item.PhoneMobile);
                $('#PhoneOffice').val(ui.item.PhoneOffice);
                $('#Email').val(ui.item.Email);
                $('#AppliedDate').val(ui.item.AppliedDate);
                $('#AppliedBy').val(ui.item.AppliedBy);
                $('#AppliedStatus').val(ui.item.AppliedStatus);
                $('#ApplicationID').val(ui.item.ApplicationID);
                $('#applicationId').val(ui.item.ApplicationID);
                $('#studRegId').val(ui.item.id);
                $('#programId').val(ui.item.ProgramId);
                $('#landscapeId').val(ui.item.LandscapeId);
                $('#IdType').val(ui.item.IdType);
                $('#IdNo').val(ui.item.IdNo);
                
                //load course drop down
                loadCourseDropDown(ui.item.LandscapeId);
            }
        });
    });
    
    function loadCourseDropDown(LandscapeId){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-course'),"default",true);?>/landscapeId/"+LandscapeId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('CourseEquivalent');
            },
            complete: function() {
		hideLoading('CourseEquivalent');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubCode+' - '+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubCode+' - '+data[index].SubjectName+'</option>';
            });
            $('#CourseEquivalent').html(content);
        })
        .fail(function() {
            alert("error load course drop down"); 
        });
    }
    
    function getCourseToTransfer(programId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'getcoursetotransfer'),"default",true);?>/programid/"+programId;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('Course');
            },
            complete: function() {
		hideLoading('Course');
            }
        })
        .done(function(data) {
            var content = '';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].subname+'" value="'+data[index].IdSubject+'">'+data[index].subname+'</option>';
            });
            $('#Course').html(content);
        })
        .fail(function() {
            alert("error"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function insertAppRow(){
        //get value
        var CreditHours = $('#credithours').val();
        var ApplicationID = $('#ApplicationID').val();
        var Semester = $('#Semester').val();
        var SemesterName = $('#Semester option:selected').text();
        var AppType = $('#AppType').val();
        var AppTypeName = $('#AppType option:selected').text();
        var AppliedBy = $('#AppliedBy').val();
        var InstitionType = <?php echo $this->ctInfo['InstitutionType'] ?>;
        var InstitionTypeName = $('#InstitionType option:selected').text();
        var AppliedDate = $('#AppliedDate').val();
        var AppliedStatus = $('#AppliedStatus').val();
        //var CourseId = $('#Course').val();
        //var CourseName = $('#Course option:selected').text();
        var CourseEqId = $('#CourseEquivalent').val();
        var CourseEqName = $('#CourseEquivalent option:selected').text();
        var Gred = $('#Gred').val();
        var Remarks = $('#Remarks').val();
        
        if (InstitionType == '783'){
            var CourseId = $('#ExternalSubject').val();
            var CourseName = $('#ExternalSubject').val();
            var InstitutionName = $('#InstitutionName').val();
        }else{
            var CourseId = $('#Course').val();
            var CourseName = $('#Course option:selected').text();
            var InstitutionName = 'INCEIF';
        }
        
        //validate value
        var flag = true;
        
        if (CourseEqId == '' || CourseEqId == 'undefined'){
            flag = false;
        }
        if (CourseId == '' || CourseId == 'undefined' || CourseId == null){
            flag = false;
        }
        if (Gred == '' || Gred == 'undefined'){
            flag = false;
        }
        /*if (Remarks == '' || Remarks == 'undefined'){
            flag = false;
        }*/
        if (InstitionType == '783'){
            if (InstitutionName == '' || InstitutionName == 'undefined'){
                flag = false;
            }
        }
        
        //if validate failed
        if (flag == false){
            alert('Please field all required field!');
            return false;
        }else{ //validate pass
            batchArray.push(CourseEqId);
            if(arrHasDupes(batchArray)){ //check duplicate entry
                //batchArray.unique();
                alert("Duplicate Entry of Course");
                return false;
            }else{
                    var trow=document.getElementById('appTable').insertRow(rowid);
                    var tcol1=trow.insertCell(0);
                    var tcol2=trow.insertCell(1);
                    var tcol3=trow.insertCell(2);
                    var tcol4=trow.insertCell(3);
                    var tcol5=trow.insertCell(4);
                    var tcol6=trow.insertCell(5);
                    var tcol7=trow.insertCell(6);
                    var tcol8=trow.insertCell(7);
                    var tcol9=trow.insertCell(8);
                    //var tcol10=trow.insertCell(9);
                    
                    tcol4.align = "center";
                    tcol5.align = "center";
                    tcol7.align = "center";
                    //tcol8.align = "center";
                    tcol9.align = "center";

                    tcol1.innerHTML="<input type='hidden' value='"+InstitutionName+"' name=institutionName["+CourseEqId+"]>"+InstitutionName;
                    if (InstitionType == '783'){
                        $("input[name='ExternalSubject[]']").each(function(){
                            //console.log(this.value);
                            tcol2.innerHTML+="<input type='hidden' value='"+this.value+"' name=course["+CourseEqId+"][]>"+this.value+"<br/>";
                        });
                    }else{
                        $("#Course :selected").each(function(){
                        //$("select[name='Course[]']").each(function(){
                            //console.log(this.value);
                            tcol2.innerHTML+="<input type='hidden' value='"+this.value+"' name=course["+CourseEqId+"][]>"+this.text+"<br/>";
                        });
                    }
                    tcol3.innerHTML="<input type='hidden' value='"+CourseEqId+"' name=courseeq["+CourseEqId+"]>"+CourseEqName;
                    if (<?php echo $this->ctInfo['IdProgram'] ?>==2){
                        if (CourseEqId == 111){
                            var select1 = "";
                            var select2 = "";
                            if (CreditHours==3){
                                select1 = "selected";
                            }else if (CreditHours==6){
                                select2 = "selected";
                            }

                            tcol4.innerHTML+="<select class='select' name='credithours["+CourseEqId+"]' required='' style='width:40px; !important'>"
                            +"<option label='3' value='3' "+select1+">3</option>"
                            +"<option label='6' value='6' "+select2+">6</option></select>";
                            //tcol4.innerHTML+="</select>";
                        }else{
                            tcol4.innerHTML="<input type='hidden' value='"+CreditHours+"' name=credithours["+CourseEqId+"]>"+CreditHours;
                        }
                    }else{
                        tcol4.innerHTML="<input type='hidden' value='"+CreditHours+"' name=credithours["+CourseEqId+"]>"+CreditHours;
                    }
                    tcol5.innerHTML="<input type='hidden' value='"+Gred+"' name=gred["+CourseEqId+"]>"+Gred;
                    tcol6.innerHTML="<input type='hidden' value='"+Remarks+"' name=remarks["+CourseEqId+"]>"+Remarks;
                    tcol7.innerHTML="<input type='hidden' value='0' name=charge["+CourseEqId+"]><input type='checkbox' value='1' name=charge["+CourseEqId+"] checked='checked'>";
                    //tcol8.innerHTML="<input type='hidden' value='0' name=chargeex["+CourseEqId+"]><input type='checkbox' value='1' name=chargeex["+CourseEqId+"] checked='checked'>";
                    tcol8.innerHTML="<div id='uploaddiv"+CourseEqId+"'><input type='file' name='uploadFile"+CourseEqId+"[]' id='uploadFile' value='lala'>&nbsp;<a id='addmoreupload' href='javascript:void(0)' onclick='addmoreupload("+CourseEqId+");'><?php echo $this->translate('Add More'); ?></a></div>";
                    tcol9.innerHTML="<a href='javascript:void(0);' onClick='deleteRow(this, 0); return false;'><?php echo $this->translate('Delete'); ?></a>";
                    rowid++;
            }
        }
    }
    
    function arrHasDupes( A ) {              // finds any duplicate array elements using the fewest possible comparison
        var i, j, n;
        n=A.length;
        // to ensure the fewest possible comparisons
        for (i=0; i<n; i++) {                // outer loop uses each item i at 0 through n
            for (j=i+1; j<n; j++) {          // inner loop only compares items j at i+1 to n
                if (A[i]==A[j]) return true;
            }	}
        return false;
    }
    
    function deleteRow(r, id){
        var ret = confirm("Are you sure to delete");
        if(ret){
            rowid--;
            var i=r.parentNode.parentNode.rowIndex;
            batchArray.splice(parseInt(i-1),1);
            document.getElementById('appTable').deleteRow(i);
        }
        
        if (id!=0){
            $("#deletDiv").append('<br/><input type="hidden" value="'+id+'" id="deleteColVal" name="deleteColVal[]">');
        }
    }
    
    function courseInfo(courseId){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-course-info'),"default",true);?>/courseId/"+courseId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json'
        })
        .done(function(data) {
            $('#credithours').val(data.CreditHours);
        })
        .fail(function() {
            alert("error load course info"); 
        });
    }
    
    function getGred(appTypeId){
        var landscapeId = $('#landscapeId').val();
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-gred'),"default",true);?>/appTypeId/"+appTypeId+"/landscapeId/"+landscapeId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
            beforeSend: function() {
		showLoading('Gred');
            },
            complete: function() {
		hideLoading('Gred');
            }
        })
        .done(function(data) {
            var content = '<option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].name+'" value="'+data[index].name+'">'+data[index].name+'</option>';
            });
            $('#Gred').html(content);
        })
        .fail(function() {
            alert("error load gred"); 
        });
    }
    
    function validateForm(){
        //alert('Please field all required field!');
        //get value
        var CreditHours = $('#credithours').val();
        var ApplicationID = $('#ApplicationID').val();
        var Semester = $('#Semester').val();
        var SemesterName = $('#Semester option:selected').text();
        var AppType = $('#AppType').val();
        var AppTypeName = $('#AppType option:selected').text();
        var AppliedBy = $('#AppliedBy').val();
        var InstitionType = $('#InstitionType').val();
        var InstitionTypeName = $('#InstitionType option:selected').text();
        var AppliedDate = $('#AppliedDate').val();
        var AppliedStatus = $('#AppliedStatus').val();
        var CourseId = $('#Course').val();
        var CourseName = $('#Course option:selected').text();
        var CourseEqId = $('#CourseEquivalent').val();
        var CourseEqName = $('#CourseEquivalent option:selected').text();
        var Gred = $('#Gred').val();
        var Remarks = $('#Remarks').val();
        alert('Please add course first before submit');
        var flag=true;
        
        if (ApplicationID == '' || ApplicationID == 'undefined'){
            flag = false;
        }
        if (Semester == '' || Semester == 'undefined'){
            flag = false;
        }
        if (AppType == '' || AppType == 'undefined'){
            flag = false;
        }
        if (AppliedBy == '' || AppliedBy == 'undefined'){
            flag = false;
        }
        if (InstitionType == '' || InstitionType == 'undefined'){
            flag = false;
        }
        if (AppliedDate == '' || AppliedDate == 'undefined'){
            flag = false;
        }
        if (AppliedStatus == '' || AppliedStatus == 'undefined'){
            flag = false;
        }
        
        if (flag == false){
            alert('Please field all required field!');
            return false;
        }else{
            return true;
        }
    }
    
    function checkcourse(){
        //alert('Please add course first before submit');
        if (batchArray.length == 0){
            alert('Please add course first before submit');
            return false;
        }else{
            return true;
        }
    }
    
    function showHideInstitution(institutionType){
        if (institutionType == '783'){
            $('#institutionform').show();
            $('#internalCourse').hide();
            $('#externalCourse').show();
        }else{
            $('#institutionform').hide();
            $('#internalCourse').show();
            $('#externalCourse').hide();
        }
    }
    
    function addMoreIn(){
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-course-more'),"default",true);?>";
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('addmorein');
            },
            complete: function() {
		hideLoading('addmorein');
            }
        })
        .done(function(data) {
            var content = '<br/><br/><select class="select" id="Course" name="Course[]"><option label="-- Select --" value="">-- Select --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SubjectName+'" value="'+data[index].IdSubject+'">'+data[index].SubjectName+'</option>';
            });
            content += '</select>';
            $("#internalCourse").append(content);
        })
        .fail(function() {
            alert("error load course more"); 
        });
    }
    
    function viewDocument(ctSubId, ctId){
        
        var url = "<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'get-file-upload'),'default',true);?>/ctSubId/"+ctSubId;
        var data = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: 'json',
        })
        .done(function(data) {
            
            var content = "";
            content = "<div id='fileTable'>";
            content += "<table class='table' width='100%'>";
            content += "<tr>";
            content += "<th><?php echo $this->translate("Bil"); ?></th>";
            content += "<th><?php echo $this->translate("File Name"); ?></th>";
            content += "<th><?php echo $this->translate("Upload Date"); ?></th>";
            content += "<th><?php echo $this->translate(""); ?></th>";
            content += "</tr>";
            
            if (data) {
                var i = 1;
                $.each(data,function(index){
                    content += "<tr>";
                    content += "<td align='center'>"+i+"</td>";
                    content += "<td><a href='<?php echo DOCUMENT_URL; ?>"+data[index].FileLocation+"' target='_blank'>"+data[index].FileName+"</a></td>";
                    content += "<td>"+data[index].UpdDate+"</td>";
                    content += "<td><a onclick='delUpload();' href='<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'delete-upload-file'),"default",true);?>/id/"+data[index].IdCreditTransferSubjectsDocs+"/ctId/"+ctId+"'><?php echo $this->translate('Delete'); ?><a></td>";
                    content += "</tr>";
                    i++;
                });
            }
            
            content += "</table>";
            content += "</div>";
            
            content += "<div class='form-opt' style='position: bottom: 0;'>";
            content += "<form enctype='multipart/form-data' id='uploadFile' method='post' action='<?php echo $this->url(array('module'=>'records','controller'=>'Credittransferapp', 'action'=>'upload-file'),"default",true);?>'>";
            content += "<input id='file' type='file' name='file' required>";
            content += "<input id='ctSubId' type='hidden' name='ctSubId' value='"+ctSubId+"'>";
            content += "<input id='ctId' type='hidden' name='ctId' value='"+ctId+"'>";
            //content += "<input id='tableId' type='hidden' name='table_id' value='"+tableId+"'>";
            //content += "<input id='sectionId' type='hidden' name='section_id' value='"+sectionId+"'>";
            content += "<input type='submit' value='upload' class='btn-submit'>";
            content += "</form>";
            content += "</div>";
            
            $("#fancybox").fancybox({
                helpers: {
                    title : {
                        type : 'float',
                    }
                }
            });
            $.fancybox({ 
                content: content,
                fitToView: false,
                width: 750,
                height: 300,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        })
        .fail(function() {
            alert("error load file"); 
        });
    }
    
    function delUpload(){
        var ask = confirm('<?php echo $this->translate('Are you sure you want to delete this file ?')?>');

	if ( ask === false ){
            return false;
	}
	return true;
    }
    
    function addMoreEx(){
        var i = $('#subrowcount').val();
        $("#externalCourse").append('<div id="exsub-'+i+'"><br/><input type="text" class="span-7" value="" id="ExternalSubject1" name="ExternalSubject[]">&nbsp;<a id="removerow" href="javascript:void(0)" onclick="removeSubRow('+i+');">Remove</a></div>');
        i++;
        $('#subrowcount').val(i);
    }
    
    function removeSubRow(i){
        $('#exsub-'+i).remove();
    }
    
    function addmoreupload(element){
        var i = $('#subrowcount').val();
        $("#uploaddiv"+element).append("<div id='upload-"+i+"'><br/><input type='file' name='uploadFile"+element+"[]' id='uploadFile' value='lala'>&nbsp;<a id='removerow' href='javascript:void(0)' onclick='removeUploadRow("+i+");'>Remove</a></div>");
        i++;
        $('#subrowcount').val(i);
    }
    
    function removeUploadRow(i){
        $('#upload-'+i).remove();
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'printapplication', 'id'=>$this->ctInfo['IdCreditTransfer']),'default',true);?>" target="_blank">
                <span class='print'></span>
                <?php echo $this->translate("Print");?>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'records','controller'=>'credittransferapp', 'action'=>'credittransferapplication'),'default',true);?>';" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->title ?></legend>
    <form method="post" id="ctform" enctype="multipart/form-data">
    <table class="table" width="100%">
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Student Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Student ID/Name'); ?></td>
                <td><?php echo $this->ctInfo['registrationId'].' - '.$this->ctInfo['appl_fname'].' '.$this->ctInfo['appl_lname']; ?></td>
                <td><?php echo $this->translate('Profile Status'); ?></td>
                <td><?php echo $this->ctInfo['StatusName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID Type'); ?></td>
                <td><?php echo $this->ctInfo['IdTypeName'];  ?></td>
                <td><?php echo $this->translate('Intake'); ?></td>
                <td><?php echo $this->ctInfo['IntakeName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('ID No'); ?></td>
                <td><?php echo $this->ctInfo['appl_idnumber']; ?></td>
                <td><?php echo $this->translate('Branch'); ?></td>
                <td><?php echo $this->ctInfo['BranchName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->ctInfo['ProgramName'] ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->ctInfo['mop'].' '.$this->ctInfo['mos'].' '.$this->ctInfo['pt']; ?></td>
                <td><?php ?></td>
                <td><?php ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Funding Method'); ?></td>
                <td><?php echo $this->ctInfo['afMethodName']; ?></td>
                <td><?php echo $this->translate('Sponsorship Name'); ?></td>
                <td><?php echo $this->ctInfo['af_sponsor_name']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Scholarship Type') ?></td>
                <td><?php echo $this->ctInfo['typeScholarshipName']; ?></td>
                <td><?php echo $this->translate('Scholarship Name') ?></td>
                <td><?php echo $this->ctInfo['af_type_scholarship']==522 ? $this->ctInfo['af_scholarship_secured']:$this->ctInfo['applScholarshipName']; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Contact Info'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5"><?php echo $this->translate('Address'); ?></td>
                <td rowspan="5"><?php echo $this->address; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Home)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_home']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Mobile)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_mobile']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Telephone (Office)'); ?></td>
                <td><?php echo $this->ctInfo['appl_phone_office']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Email'); ?></td>
                <td><?php echo $this->ctInfo['appl_email']; ?></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Add Application'); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->translate('Application ID'); ?></td>
                <td><?php echo $this->ctInfo['IdCTApplication']; ?></td>
                <td><?php echo $this->translate('Semester'); ?></td>
                <td><?php echo $this->ctInfo['SemesterName']; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Application Type'); ?></td>
                <td><?php echo $this->ctInfo['ApplicationTypeName']; ?></td>
                <td><?php echo $this->translate('Applied By'); ?></td>
                <td><?php echo $this->ctInfo['appliedName'] ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Institution Type'); ?></td>
                <td><?php echo $this->ctInfo['InstitutionTypeName']; ?></td>
                <td><?php echo $this->translate('Application Date'); ?></td>
                <td><?php echo date('d-m-Y', strtotime($this->ctInfo['DateApplied'])); ?></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><?php echo $this->translate('Application Status'); ?></td>
                <td><?php echo $this->ctInfo['AppStatusName']; ?></td>
            </tr>
        </tbody>
        <?php
        if ($this->ctInfo['ApplicationStatus']==784){
        ?>
        <thead>
            <tr>
                <th colspan="4"><?php echo $this->translate('Add Course Info') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php 
            if ($this->ctInfo['InstitutionType']==782){
            ?>
            <tr>
                <td><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->form->program; ?></td>
                <td><?php //echo $this->translate('Programme Scheme'); ?></td>
                <td><?php //echo $this->form->programscheme; ?></td>
            </tr>
            <?php
            }
            ?>
            <tr>
                <td><?php echo $this->translate('Subject/Course'); ?></td>
                <?php
                if ($this->ctInfo['InstitutionType']==782){
                ?>
                <td id="internalCourse"><?php echo $this->form->Course; ?><!--&nbsp;<a id="addmorein" href="javascript:void(0)" onclick="addMoreIn();"><?php //echo $this->translate('Add More'); ?></a>--></td>
                
                <?php
                }else{
                ?>
                <td id="externalCourse"><?php echo $this->form->ExternalSubject; ?>&nbsp;
                    <a id="addmoreex" href="javascript:void(0)" onclick="addMoreEx();"><?php echo $this->translate('Add More'); ?></a>
                    <input type="hidden" id="subrowcount" value="0">
                </td>
                <?php
                }
                ?>
                <td><?php echo $this->translate('Course Equivalent'); ?></td>
                <td>
                    <?php echo $this->form->CourseEquivalent; ?>
                    <input type="hidden" value="" name="credithours" id="credithours">
                    <input type="hidden" value="" name="studRegId" id="studRegId">
                    <input type="hidden" value="" name="programId" id="programId">
                    <input type="hidden" value="" name="applicationId" id="applicationId">
                    <input type="hidden" value="" name="landscapeId" id="landscapeId">
                </td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Grade'); ?></td>
                <td><?php echo $this->form->Gred; ?></td>
                <td><?php echo $this->translate('Remarks'); ?></td>
                <td><?php echo $this->form->Remarks; ?></td>
            </tr>
            <?php
            if ($this->ctInfo['InstitutionType']==783){
            ?>
            <tr id="institutionform">
                <td><?php echo $this->translate('Institution'); ?></td>
                <td><?php echo $this->form->InstitutionName; ?></td>
                <td></td>
                <td></td>
            </tr>
            <?php
            }
            ?>
            <tr>
                <td colspan="4" align="right"><input type="button" class="btn-submit" onclick="insertAppRow();" value="<?php echo $this->translate('Add'); ?>"></td>
            </tr>
        </tbody>
        <?php
        }
        ?>
    </table>
    <br/>
    <fieldset>
        <legend><?php echo $this->translate('Course Info For Credit Transfer/Exemption'); ?></legend>
        <table class="table" width="100%" id="appTable">
            <thead>
                <tr>
                    <th><?php echo $this->translate('Institution'); ?></th>
                    <th><?php echo $this->translate('Subject/Courses'); ?></th>
                    <th><?php echo $this->translate('Courses Equivalent'); ?></th>
                    <th><?php echo $this->translate('Credit Hours'); ?></th>
                    <th><?php echo $this->translate('Grade'); ?></th>
                    <th><?php echo $this->translate('Remarks'); ?></th>
                    <th><?php echo $this->translate('Processing Fee'); ?></th>
                    <!--<th><?php //echo $this->translate('Exemption Fee'); ?></th>-->
                    <th><?php echo $this->translate('Upload Doc'); ?></th>
                    <?php
                    if ($this->ctInfo['ApplicationStatus']==784){
                    ?>
                    <th><?php echo $this->translate(''); ?></th>
                    <?php
                    }
                    ?>
                </tr>
            </thead>
            <tbody>
                <?php 
                if ($this->ctSubject):
                $i = 0;
                foreach ($this->ctSubject as $subjectLoop):
                ?>
                <tr>
                    <td>
                        <?php echo $subjectLoop['institutionName']; ?>
                        <!--
                        <input type='hidden' value='<?php //echo $subjectLoop['institutionName']; ?>' name=institutionName[<?php //echo $subjectLoop['EquivalentCourse']; ?>]>
                        -->
                    </td>
                    <td>
                        <?php
                        $model = new Registration_Model_DbTable_Studentregistration();
                        $courseList = $model->getCtSubMore($subjectLoop['IdCreditTransferSubjects']);
                        if ($model):
                        foreach ($courseList as $courseLoop):
                        if ($courseLoop['csm_type']==783){
                        ?>
                        <?php echo $courseLoop['csm_subjectexternal']; ?><br/>
                        <!--
                        <input type="hidden" value="<?php //echo $courseLoop['csm_subjectexternal']; ?>" name="course[<?php //echo $subjectLoop['EquivalentCourse']; ?>][]">
                        -->
                        <?php
                        }else{
                        ?>
                        <?php echo $courseLoop['courseCode'].' - '.$courseLoop['courseName']; ?><br/>
                        <!--
                        <input type="hidden" value="<?php //echo $courseLoop['csm_subjectinternal']; ?>" name="course[<?php //echo $subjectLoop['EquivalentCourse']; ?>][]">
                        -->
                        <?php
                        }
                        endforeach;
                        endif;
                        ?>
                    </td>
                    <td>
                        <?php echo $subjectLoop['courseCode'].' - '.$subjectLoop['courseEqName']; ?>
                        <!--
                        <input type='hidden' value='<?php //echo $subjectLoop['EquivalentCourse']; ?>' name=courseeq[<?php //echo $subjectLoop['EquivalentCourse']; ?>]>
                        -->
                    </td>
                    <td align="center">
                        <?php 
                        if ($this->ctInfo['IdProgram']==2){
                            if ($subjectLoop['EquivalentCourse']==111){
                                $selected1 = "";
                                $selected2 = "";
                                if ($subjectLoop['EquivalentCreditHours']==3){
                                    $selected1 = 'selected';
                                }else if ($subjectLoop['EquivalentCreditHours']==6){
                                    $selected2 = 'selected';
                                }
                                ?>
                                <select class='select' name='Credithours[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>]' required='' style="width:40px;" <?php echo $this->ctInfo['ApplicationStatus']==784 ? "":"disabled=''" ?>>
                                    <option label='3' value='3' <?php echo $selected1; ?>>3</option>
                                    <option label='6' value='6' <?php echo $selected2; ?>>6</option>
                                </select>
                                <?php
                            }else{
                                echo $subjectLoop['EquivalentCreditHours'];
                            }
                        }else{
                            echo $subjectLoop['EquivalentCreditHours']; 
                        }
                        ?>
                        <!--
                        <input type='hidden' value='<?php //echo $subjectLoop['EquivalentCreditHours'] ?>' name=credithours[<?php //echo $subjectLoop['EquivalentCourse']; ?>]>
                        -->
                    </td>
                    <td align="center">
                        <?php echo $subjectLoop['EquivalentGrade']; ?>
                        <!--
                        <input type='hidden' value='<?php //echo $subjectLoop['EquivalentGrade'] ?>' name=gred[<?php //echo $subjectLoop['EquivalentCourse']; ?>]>
                        -->
                    </td>
                    <td>
                        <?php echo $subjectLoop['Comments']; ?>
                        <!--
                        <input type='hidden' value='<?php //echo $subjectLoop['Comments'] ?>' name=remarks[<?php //echo $subjectLoop['EquivalentCourse']; ?>]>
                        -->
                    </td>
                    <td align="center">
                        <input type='hidden' value='0' name=Charge[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>]>
                        <input type='checkbox' value='1' name=Charge[<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>] <?php echo $subjectLoop['charge']==1 ? 'checked=""':''; ?> <?php echo $this->ctInfo['ApplicationStatus']==784 ? "":"disabled=''" ?>>
                    </td>
                    <!--<td align="center">
                        <input type='hidden' value='0' name=chargeex[<?php //echo $subjectLoop['IdCreditTransferSubjects']; ?>]>
                        <input type='checkbox' value='1' name=chargeex[<?php //echo $subjectLoop['IdCreditTransferSubjects']; ?>] <?php //echo $subjectLoop['charge2']==1 ? 'checked=""':''; ?> <?php //echo $this->ctInfo['ApplicationStatus']==784 ? "":"disabled=''" ?>>
                    </td>-->
                    <td align="center"><a href='javascript:void(0);' onclick="viewDocument(<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>, <?php echo $this->ctInfo['IdCreditTransfer']; ?>);"><?php echo $this->translate("View"); ?></a></td>
                    <?php
                    if ($this->ctInfo['ApplicationStatus']==784){
                    ?>
                    <td align="center" id="deleteCol<?php echo $subjectLoop['IdCreditTransferSubjects']; ?>"><a href='javascript:void(0);' onclick='deleteRow(this, <?php echo $subjectLoop['IdCreditTransferSubjects']; ?>); return false;'><?php echo $this->translate('Delete'); ?></a></td>
                    <?php
                    }
                    ?>
                </tr>
                <?php 
                endforeach;
                endif;
                ?>
            </tbody>
        </table>
    </fieldset>
    <br/>
    <?php
    if ($this->ctInfo['ApplicationStatus']==784){
    ?>
    <div class="form-opt">
        <button type="submit" name="submit_app" onclick="return checkcourse();"><?php echo $this->translate('Save'); ?></button>
    </div>
    <?php
    }
    ?>
    <!-- use for delete -->
    <div id="deletDiv"></div>
    </form>
</fieldset>