<script type="text/javascript">
function postIt(url, data){
	
    $('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: url
    }));

    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }

    $('#jQueryPostItForm').submit();
}

function regenerate(){
	postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'regenerate-invoice'),'default',true);?>', {'selection_type':'<?php echo $this->formData['type']; ?>','selection_nomor':'<?php echo $this->formData['nomor']; ?>'});
	return false;
}

function viewApplicant(txn_id){
	$('#txn_id').val(txn_id);
	$('#form_applicant_detail').submit();
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:regenerate()">
					<span class='cycle'></span>
					Regenerate Invoice
				</a>
			</li>
			<li class="divider">&nbsp;</li>
			<li>
				<a href="#" onclick="window.location='<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'index'),'default',true);?>'">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div id="" style="">
	<fieldset>
		<legend><?php echo $this->translate("Selection Information");?></legend>
		<table>
			<tr>
				<td><?php echo $this->translate("Decree Number");?></td>
				<td>:</td>
				<td>
					<?php echo $this->formData['nomor'];?>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
<br />
<div style="width:100%;">
<?php
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="5px">&nbsp;</th>
		<th width="50%"><?php echo $this->translate("Applicant")?></th>
		<th width="50%">
			<?php echo $this->translate("No Billing")?>
		</th>
		<th><?php echo $this->translate("Offered Program Code"); ?></th>
		<th><?php echo $this->translate("Proforma Program Code"); ?></th>
	</tr>
	
	<?php 
	$i=0;
	if($this->applicantList){
	foreach ($this->applicantList as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td align="center"><?php echo $i+1; ?></td>
		<td>
			<a href="#" onclick="viewApplicant('<?php echo $entry['at_trans_id']; ?>');">
				<?php echo $entry['appl_fname']!=null?$entry['appl_fname']." ":""; ?>
				<?php echo $entry['appl_mname']!=null?$entry['appl_mname']." ":""; ?>
				<?php echo $entry['appl_lname']!=null?$entry['appl_lname']." ":""; ?>
			</a>
		</td>
		<td align="center">
			<?php 
				if($entry['proforma_status']==1){
					echo "<img src='/images/icon/tick.png' />";
				}else{
					echo "<img src='/images/icon/delete_16.png' />";
				}
			?>
			<?php echo $entry['at_pes_id']; ?>
		</td>
		<td><?php echo $entry['program_offered']['ap_prog_code'] ?></td>
		<td><?php echo $entry['proforma'][0]['ref3'] ?></td>
	</tr>
	<?php 
	$i++;
	endforeach; 
	}
	?>

</table>
</div>
<?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>

<form name="form_applicant_detail" id="form_applicant_detail" action="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant-detail'),'default',true);?>" method="post">
	<input type="hidden" name="selection_type" id="type" value="<?php echo $this->formData['type']; ?>" />
	<input type="hidden" name="selection_nomor" id="nomor" value="<?php echo $this->formData['nomor']; ?>" />
	<input type="hidden" name="txn_id" id="txn_id" value="" />
</form>