<script type="text/javascript">
	function postIt(url, data){
	
	    $('body').append($('<form/>', {
	      id: 'jQueryPostItForm',
	      method: 'POST',
	      action: url
	    }));
	
	    for(var i in data){
	      $('#jQueryPostItForm').append($('<input/>', {
	        type: 'hidden',
	        name: i,
	        value: data[i]
	      }));
	    }
	
	    $('#jQueryPostItForm').submit();
	}
	
	function regenerate(){
		postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'regenerate-invoice'),'default',true);?>', {'selection_type':'<?php echo $this->data['selection_type']; ?>','txn_id':'<?php echo $this->data['txn_id']; ?>','nomor':'<?php echo $this->data['selection_nomor']; ?>'});
		return false;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<?php
			$session = new Zend_Session_Namespace('sis'); 
			if($session->IdRole == 1){
			?>
			<li>
				<a href="#" onclick="javascript:regenerate()">
					<span class='cycle'></span>
					Regenerate Proforma Invoice
				</a>
			</li>
			<?php }?>
			<li class="divider">&nbsp;</li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant'),'default',true);?>">
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />

<div id="">
	<fieldset>
		<legend>Applicant Info</legend>
		<table>
			<tr>
				<td><?php echo $this->translate("Name");?></td>
				<td>:</td>
				<td>
					<?php echo $this->profileData['appl_fname']!=null?$this->profileData['appl_fname']." ":""; ?>
					<?php echo $this->profileData['appl_mname']!=null?$this->profileData['appl_mname']." ":""; ?>
					<?php echo $this->profileData['appl_lname']!=null?$this->profileData['appl_lname']." ":""; ?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("No. Billing");?></td>
				<td>:</td>
				<td>
					<?php echo $this->profileData['at_pes_id'];?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Nationality");?></td>
				<td>:</td>
				<td>
					<?php echo $this->profileData['nationality']['CountryName']; ?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Program Offered");?></td>
				<td>:</td>
				<td>
					<?php echo $this->program; ?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Rank");?></td>
				<td>:</td>
				<td>
					<?php echo $this->data['rank']; ?>
				</td>
			</tr>
			<tr>
				<td><?php echo $this->translate("Nomor Decree");?></td>
				<td>:</td>
				<td>
					<?php echo $this->data['selection_nomor']; ?>
				</td>
			</tr>
		</table>
	</fieldset>
	<br />
</div>

<div style="width:100%;">
<?php
	//echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="50%"><?php echo $this->translate("Bill")?></th>
		<th width="50%"><?php echo $this->translate("Ref1")?></th>
		<th width="50%"><?php echo $this->translate("Ref1")?></th>
		<th width="50%"><?php echo $this->translate("Ref1")?></th>
		<th width="50%"><?php echo $this->translate("Ref1")?></th>
		<th width="50%"><?php echo $this->translate("Ref1")?></th>
		<th width="50%"><?php echo $this->translate("Amount Total")?></th>
		<th width="50%"><?php echo $this->translate("Amount 1")?></th>
		<th width="50%"><?php echo $this->translate("Amount 2")?></th>
		<th width="50%"><?php echo $this->translate("Amount 3")?></th>
		<th width="50%"><?php echo $this->translate("Amount 4")?></th>
		<th width="50%"><?php echo $this->translate("Amount 5")?></th>
		<th width="50%"><?php echo $this->translate("Amount 6")?></th>
		<th width="50%"><?php echo $this->translate("Amount 7")?></th>
		<th width="50%"><?php echo $this->translate("Amount 8")?></th>
		<th width="50%"><?php echo $this->translate("Amount 9")?></th>
		<th width="50%"><?php echo $this->translate("Amount 10")?></th>
	</tr>
	
	<?php 
	$i=0;
	if($this->invoices){
	foreach ($this->invoices as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td><?php echo $entry['billing_no']; ?></td>
		<td><?php echo $entry['ref1']; ?></td>
		<td><?php echo $entry['ref2']; ?></td>
		<td><?php echo $entry['ref3']; ?></td>
		<td><?php echo $entry['ref4']; ?></td>
		<td><?php echo $entry['ref5']; ?></td>
		<td><?php echo $entry['amount_total']; ?></td>
		<td><?php echo $entry['amount1']; ?></td>
		<td><?php echo $entry['amount2']; ?></td>
		<td><?php echo $entry['amount3']; ?></td>
		<td><?php echo $entry['amount4']; ?></td>
		<td><?php echo $entry['amount5']; ?></td>
		<td><?php echo $entry['amount6']; ?></td>
		<td><?php echo $entry['amount7']; ?></td>
		<td><?php echo $entry['amount8']; ?></td>
		<td><?php echo $entry['amount9']; ?></td>
		<td><?php echo $entry['amount10']; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach; 
	}
	?>

</table>
</div>
<?php 
	//echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
<br />