<table class="table" width="100%">
					<tr>
						<th colspan="4"><?php echo $this->translate("Proforma Invoice Main");?></th>
					</tr>
					<tr>
						<td width="15%"><?php echo $this->translate("Student ID");?></td>
						<td width="35%"><?php echo $this->studDet['registrationId']?><input type="hidden" id="StudentId" name="StudentId" value="<?php echo $this->studDet['IdStudentRegistration'];?>"/>
						<input type="hidden" id="StudentCode" name="StudentCode" value="<?php echo $this->studDet['registrationId'];?>"/>
						</td>
						<td width="15%"><?php echo $this->translate("Student Name");?></td>
						<td width="35%"><?php echo $this->studDet['name']?></td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Enter By");?></td>
						<td><?php echo $this->userName;?></td>
						<td><?php echo $this->translate("Document Date");?></td>
						<td><?php echo date('d-m-Y');?></td>
					</tr>
					<tr>
						<td><?php echo $this->translate("Status");?></td>
						<td colspan="3"><?php echo $this->studDet['statusProfile']?></td>
						
					</tr>
					
					
</table>