<script>
$(document).ready(function() {
	<?php 
		if( isset($this->detailPSSB) ){
	?>
		 postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant-detail'),'default',true);?>', {'selection_type':'PSSB','txn_id':'<?php echo $this->detailPSSB['txn_id']; ?>','selection_nomor':'<?php echo $this->detailPSSB['selection_nomor']; ?>'});
	<?php
		}else 
		if( isset($this->detailUSM) ){
	?>
		postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant-detail'),'default',true);?>', {'selection_type':'USM','txn_id':'<?php echo $this->detailUSM['txn_id']; ?>','selection_nomor':'<?php echo $this->detailUSM['selection_nomor']; ?>'});
	<?php
		}else
		if( isset($this->selectionPSSB) ){
	?>
		postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant-list'),'default',true);?>', {'type':'PSSB','nomor':'<?php echo $this->selectionPSSB['nomor']; ?>'});
	<?php
		}else
		if( isset($this->selectionUSM) ){
	?>
		postIt('<?php echo $this->url(array('module'=>'studentfinance','controller'=>'proforma-invoice', 'action'=>'applicant-list'),'default',true);?>', {'type':'USM','nomor':'<?php echo $this->selectionUSM['nomor']; ?>'});
	<?php
		}
	?> 
});		

function postIt(url, data){
	
    $('body').append($('<form/>', {
      id: 'jQueryPostItForm',
      method: 'POST',
      action: url
    }));

    for(var i in data){
      $('#jQueryPostItForm').append($('<input/>', {
        type: 'hidden',
        name: i,
        value: data[i]
      }));
    }

    $('#jQueryPostItForm').submit();
}

</script>
