<?php
    echo $this->headScript()->appendFile( $this->baseUrl().'/js/ckeditor/ckeditor.js');
?>
	<div class="message toolbar">
    <h2>
        <?php 
        	echo $this->translate("Online Reservation Configuration");
        ?>
    </h2>

	<div class="toolbar-button">
		<ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'hostel','controller'=>'online-reservation-config', 'action'=>'index'),'default',true);?>" >
                <span class='back'></span>
                <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
</fieldset>
<br />
<fieldset>
	
	<legend><?php echo $this->translate('Sections'); ?></legend>
	<form method="POST" id="sectionform">
		<input type="hidden" name="id" value="<?php echo $this->section['id']; ?>" >
	    <table class="table" width="100%">
	        <tr>
	            <td>
	            	<?php echo $this->translate('Section Name'); ?>
	           	</td>
	            <td>
	            	<input type="text" name="section_name" value="<?php echo $this->section['section_name']; ?>" style="width:800px;" >
	            </td>
	        </tr>
	        <tr>
	            <td><?php echo $this->translate('Section Name Malay'); ?></td>
	            <td><input type="text" name="section_name_malay" value="<?php echo $this->section['section_name_malay']; ?>"   style="width:800px;"  ></td>
	        </tr>
	        <tr>
	            <td><?php echo $this->translate('Instruction'); ?></td>
	            <td>
	            	<textarea name='instruction' id='instruction'><?php echo $this->section['instruction']; ?></textarea>
	            </td>
	        </tr>
	        <tr>
	            <td><?php echo $this->translate('Active'); ?></td>
	            <td>
	            	<input type="hidden" name="status" value='0'>
	            	<input type="checkbox" name="status" value="1" 
	            		<?php if($this->section['status'] == 1) { echo "checked='checked'"; } ?>
	            	>
	            </td>
	        </tr>
	        <tr>
	            <td colspan="2" align="center"> <input type="submit" value="<?php echo $this->translate('Save'); ?>"></td>
	        </tr>
	    </table>
   	</form>
</fieldset>

<script type="text/javascript">  
    $(function() {
	CKEDITOR.replace( 'instruction',{
            removePlugins : 'resize,placementtest',
            toolbar : 'Basic',
            height : '250px',
            width : '800px'
	} );
    });
</script>