<script type="text/javascript">
    function checking(i){
        if (i > 0){
            var ask = confirm("Are you proceed this process");
            
            if (ask){
                window.location="<?php echo $this->url(array('module'=>'generalsetup','controller'=>'erp-user-sync', 'action'=>'import-file'),'default',true);?>";
            }else{
                return false;
            }
        }else{
            alert('No file to import');
            return false;
        }
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="#" onclick="window.location.href='<?php echo $this->url(array('module'=>'generalsetup','controller'=>'erp-user-sync', 'action'=>'log-all'),'default',true);?>';" >
                <span class='preview'></span>
                <?php echo $this->translate("View Log"); ?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('File List'); ?></legend>
    <table class="table" width="100%">
        <tr>
            <th width="5%"><?php echo $this->translate('No.'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
        </tr>
        <?php
        $i = 0;
        if ($this->file){
        foreach ($this->file as $file){
        if (is_dir($file)==false){
        if ($file != '.' && $file != '..'){
        if (in_array($file, $this->fileArr)==false){
        $i++;
        ?>
        <tr>
            <td><?php echo $i; ?></td>
            <td><?php echo $file; ?></td>
        </tr>
        <?php
        }
        }
        }
        }
        }
        ?>
    </table>
    <div class="form-opt">
        <button class="btn_submit" onclick="checking(<?php echo $i; ?>);"><?php echo $this->translate('Import'); ?></button>
    </div>
</fieldset>