
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
		    <li>
					<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'student-list','id'=>$this->idGroup,'idProgram'=>$this->idProgram,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject), 'default', true);?>">
						<span class='back'></span>Back</a>				
			</li>
		</ul>
	</div>
</div>
<br>


<?php if(!empty($this->results)){?>
<div class="datebar opt float">
    <div class="center">
        <strong>Changes By:</strong>
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <?php foreach ($this->results as $result) { ?>
                <option value="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'history','id'=>$this->idGroup,'idProgram'=>$this->idProgram,'idSemester'=>$this->idSemester,'idSubject'=>$this->idSubject,'idLog' => $result['log_id']), 'default', true);?>" <?php echo $this->idLog == $result['log_id'] ? 'selected':''?>><?php echo format_date($result['created_date'],'full')?> By <?php echo $result['FullName']?></option>
            <?php } ?>
        </select>
    </div>
</div>

<?php } ?>

<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<!--
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	-->
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?>  (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Section Name "); ?></th>   
		    <td><?php echo $this->group["GroupName"].' - '.$this->group["GroupCode"];;?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Lecturer"); ?></th>   
		    <td><?php echo $this->group['FullName']; ?></td>   
	</tr>
	
</table>

<br>


    <?php if(!empty($this->results)){?>

        <table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
            <tr>
                <th rowspan='3' width="25px">&nbsp;</th>
                <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student Name")?></th>
                <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student ID")?></th>

                <?php foreach($this->rs_component as $m=>$component){
                    if($component['FinalExam']==1){
                        $attendance = 1;
                    }else{
                        $attendance = 0;
                    }
                    if(count($component['component_item'])>0){
                        $colspanx = abs(count($component['component_item'])*2)+1+abs($attendance);
                    }else{
                        $colspanx = abs(count($component['component_item'])*2)+1+abs($attendance);
                    }
                    ?>
                    <th align="center" colspan="<?php echo $colspanx;?>">
                        <?php echo $component['component_name'];?>
                    </th>
                    <?php
                }?>

                <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grand Total")?></th>
                <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grade")?></th>
                <?php if($this->program['IdScheme']==11){?>
                    <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grade Point")?></th>
                <?php } ?>
            </tr>


            <tr>
                <?php for($m=0; $m<count($this->rs_component); $m++){
                    for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++)  {
                        ?>
                        <th colspan=2>
                            <?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>
                            <?php
                            $mddb=new GeneralSetup_Model_DbTable_Moodle();
                            if ($this->rs_component[$m]['component_item'][$j]['moodle_type']==1){
                                //echo ' ( Quiz )';
                                $isQzMoodleExist = $mddb->checkQuizExist($this->rs_component[$m]['component_item'][$j]['IdMarksDistributionDetails']);
                                //print_r($isQzMoodleExist);
                                if(is_array($isQzMoodleExist)){
                                    ?><br />( <a class="markLink" href="<?php echo $this->serverUrl()?>/examination/mark-entry/get-mark-from-moodle/id/<?php echo $this->idGroup; ?>/idDetail/<?php echo $this->rs_component[$m]['component_item'][$j]['IdMarksDistributionDetails'];?>/m/<?php echo $m;?>/j/<?php echo $j;?>">Sync</a> )
                                    <?php
                                }
                            }
                            ?></th>
                    <?php } ?>
                    <th rowspan="2" style="vertical-align:middle;">Total</th>
                    <?php
                    if($this->rs_component[$m]['FinalExam']==1){
                        echo ' <th rowspan="2">Attendance Status</th>	';
                    }
                    ?>
                <?php }?>
            </tr>


            <tr>
                <?php foreach($this->rs_component as $m=>$component){
                    foreach($component['component_item'] as $n=>$item){
                        ?>
                        <th align='center'>Raw<br><?php echo $item['Weightage']?></th>
                        <th align='center'>Weightage<br><?php echo $item['Percentage']?></th>
                    <?php }
                }?>
            </tr>


            <?php
            $i=1;
            $row_bgcolor = '';
            foreach($this->students as $student){

                if($student['AssessmentMethod']=='point'){
                    $textbox = 'text';
                }else{
                    $textbox = 'hidden';
                }

                $enable_entry = 'disabled';

                $row_bgcolor = 'style="background-color: #FFFFFF"';

                if ($student['mark_approval_status']==1){
                    $row_bgcolor = 'style="background-color: #F5F6CE"';
                }else
                    if($student['mark_approval_status']==2){
                        $row_bgcolor = 'style="background-color: #D8F6CE"';
                    }else
                        if($student['mark_approval_status']==3){
                            $row_bgcolor = 'style="background-color: #F6CED8"';
                            $enable_entry = '';
                        }else{
                            $enable_entry = '';
                        }
                ?>

                <tr <?php echo $row_bgcolor;?>>
                    <td align='center' style="vertical-align:middle;"><?php echo $i;?></td>

                    <td align='left' style="vertical-align:middle;">
                        <?php echo $student["appl_fname"].' '.$student["appl_lname"];?>

                        <?php if($student['prev_absent_with_reason']){?>
                            <br><span class="absent">(<?php echo $student['prev_absent_with_reason']['prev_absent_sem'];?> - <a href='<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'view-prev-mark','id'=>$student['prev_absent_with_reason']['IdStudentRegSubjects']),'default',true);?>' title='Click here to view previous gradebook' class='linkDialog'><?php echo $this->translate('Absent with valid Reason'); ?></a>)</span>
                        <?php } ?>
                    </td>
                    <td align='center' style="vertical-align:middle;">
                        <?php echo $student["registrationId"];?>
                    </td>

                    <?php
                    $j=0;

                    foreach($this->rs_component as $component){

                        //get main component info

                        if($component['FinalExam']==1 &&  ($student['er_attendance_status']==396 || $student['er_attendance_status']==398) ){
                            //final exam componenct detected
                            //put dash in mark entry column
                            $dash = true;
                            $mark_entry_type = 'hidden';

                        }else{
                            $dash = false;
                            $mark_entry_type = 'text';
                        }

                        $k=0;
                        $total_item = count($component['component_item']);

                        foreach($component['component_item'] as $item){
                            ?>
                            <td align='center' style="vertical-align:middle;">
                                <?php if($dash==true){ echo '-'; } ?>

                                <?php if($component['FinalExam']==1) {?>
                                    <input type='<?php echo $mark_entry_type;?>' class="input-txt small markitem" size='3' name='r[]' id='r<?php echo $i.$j.$k?>' value='<?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>' readonly <?php echo $enable_entry;?>>
                                <?php }else{?>
                                    <input type='<?php echo $mark_entry_type;?>' class="input-txt small markitem continuosAssesment_<?php echo $i;?>" size='3' name='r[]' id='r<?php echo $i.$j.$k?>' value='<?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>' readonly <?php echo $enable_entry;?>>
                                <?php }?>
                            </td>

                            <td align='center' style="vertical-align:middle;">
                                <input type='text' class="input-txt small" size='3'  name='w[]'  id='w<?php echo $i.$j.$k?>' value='<?php echo (isset($student["w".$item['IdMarksDistributionDetails']])) ? $student["w".$item['IdMarksDistributionDetails']]:'' ;?>' readonly style='background-color : #d1d1d1; ' <?php echo $enable_entry;?>>
                            </td>

                            <?php $k++; } ?>
                        <td align='center' style="vertical-align:middle;">
                            <input type='text' class="input-txt small" size='3' name='tic[]' id='tic<?php echo $i.$j;?>' value='<?php echo (isset($student["tic".$component['IdMarksDistributionMaster']])) ? $student["tic".$component['IdMarksDistributionMaster']]:'';?>' readonly style='background-color : #d1d1d1;'>
                        </td>
                        <?php
                        if($component['FinalExam']==1){
                            echo ' <td align="center" style="vertical-align:middle;">'.$student['attendance'].'</td>	';
                        }
                        ?>
                        <?php $j++;}?>


                    <td align='center' style="vertical-align:middle;"><input type='text' class="input-txt small" size='3' name='grandTotal[]' id='grandTotal<?php echo $i?>' value='<?php echo $student['final_course_mark']?>' readonly style='background-color : #d1d1d1;'></td>
                    <td align='center' style="vertical-align:middle;"><input type='text' class="input-txt small" size='3' name='grade[]' id='grade<?php echo $i?>' value='<?php echo $student['grade_name']?>' readonly style='background-color : #d1d1d1;' /></td>
                    <?php if($this->program['IdScheme']==11){?>
                        <td align='center' style="vertical-align:middle;"><input type='<?php echo $textbox;?>' class="input-txt small" size='3' name='point[]' id='point<?php echo $i?>' value='<?php echo $student['grade_point']?>' readonly style='background-color : #d1d1d1;' /></td>
                    <?php } ?>
                </tr>

                <?php $i++; }  ?>
        </table>


    <?php } else { ?>
        <div  class="message error">No changes has been made yet.</div>
    <?php }  ?>

<script>
    var logdata = <?php echo $this->logData; ?>

        $(function()
        {
            populateData();
        });

    function populateData()
    {
        $.each(logdata, function (key, data) {
            if ( data != '' ) {
                $("#" + key).addClass("changed").val(data);
            }
        })
    }

</script>

<style type="text/css">
    .changed { border:1px solid #428b31; background-color:#f2fef3}
</style>