<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
			
	</div>
</div>
<br>
<div style="width:100%;">

<?php echo $this->form; ?>
<br>


<form name='formApproval' method='post'>
<?php if(count($this->groups)>0){?>
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
	<tr>
		<th width="25px"><?php echo $this->translate("No")?></th>
		<th><?php echo $this->translate("Section Name")?></th>		
		<th><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Programme")?></th>
		<th><?php echo $this->translate("Lecturer")?></th>
		<th><?php echo $this->translate("Total Registered Student")?></th>
		<th><?php echo $this->translate("Total Submit for approval")?></th>
		<th><?php echo $this->translate("Total Approved")?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	$i=1;	
	foreach($this->groups as $group){
		
	?>
		
	<tr>
		<td align='center'><?php echo $i;?></td>
		<td align='left'><?php echo $group["GroupName"];?></td>		
		<td align='center'><?php echo $group["SubCode"];?></td>
		<td align='center'><?php echo ($this->locale=='ms_MY') ? $group['ProgramCode']:$group['ProgramCode'];;?></td>
		<td align='center'><?php echo $group['FullName'];?></td>
		<td align='center'><?php echo $group['total_student'];?></td>
		<td align='center'><?php echo $group['total_submit'];?></td>
		<td align='center'><?php echo $group['total_approve'];?></td>
		<td align='center'><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'student-list','id'=>$group['IdCourseTaggingGroup'],'idProgram'=>$group['IdProgram'],'idSemester'=>$group['IdSemester'],'idSubject'=>$group['IdSubject']),'default',true);?>"><?php echo $this->translate("View")?></a></td>
	</tr>
		<?php 
		$i++; }// }?>
	
</table>

</form>
<?php }//end if?>
</div>