<?php 
//header('Content-Type: application/xlsx');
header("Content-Type: application/vnd.ms-excel; charset=UTF-8;");
header('Content-Disposition: attachment; filename="'.$this->filename.'"');	
?>

<table class="table" width="600px" cellpadding="0" cellspacing="1" border="1">
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td colspan=5>'<?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td colspan=5><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?>  (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Section Name "); ?></th>   
		    <td colspan=5><?php echo $this->group["GroupName"].' - '.$this->group["GroupCode"];;?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Lecturer"); ?></th>   
		    <td colspan=5><?php echo $this->group['FullName']; ?></td>   
	</tr>
</table>
<br /><br />
<table class="table" width="100%" cellpadding="5" cellspacing="2" border="1">	  
	  <tr>
	    <th rowspan='3' width="25px">No</th>
	    <th rowspan='3' width="25px" style="vertical-align:middle;" >Status</th>
	    <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $m=>$component){
		    	 if($component['FinalExam']==1){
		    		$attendance = 1;
		    	 }else{
		    	 	$attendance = 0;
		    	 }
			     if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item']))+abs($attendance);
				 }else{					 
					 	$colspanx = abs(count($component['component_item']))+abs($attendance);
				 }	    	
	    ?> 	    
	     <th align="center" colspan="<?php echo $colspanx;?>">
	     	<?php echo $component['component_name'];?>	     	
	     </th>
	     <?php 
	     }?>
	 </tr>
	 
	 
	 <tr>  	    
	     <?php for($m=0; $m<count($this->rs_component); $m++){	     		
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++){
	     	?> 	     
	     	<th colspan=1>
	     	<?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>
	     	
	     	</th>	     	   
	    <?php } ?> 	    
	        <?php
	     	if($this->rs_component[$m]['FinalExam']==1){ 
	     	 echo ' <th rowspan="2">Attendance Status</th>	';
	     	}
	     	?>	   
	      <?php }?>
	 </tr>
	<tr >
		<?php foreach($this->rs_component as $m=>$component){
			foreach($component['component_item'] as $n=>$item){
				?>
				<th align='center'>Raw<br /><?php echo $item['Weightage']?></th>
			<?php }
		}?>
	</tr>

	<?php
		$i=1;	
		$row_bgcolor = '';
		foreach($this->students as $student){	
			
			if($student['AssessmentMethod']=='point'){
				$textbox = 'text';
			}else{
				$textbox = 'hidden';
			}
			
			$row_bgcolor = 'style="background-color: #FFFFFF"';
			
			if ($student['mark_approval_status']==1){	    			
				$row_bgcolor = 'style="background-color: #F5F6CE"';
    		}else 
    		if($student['mark_approval_status']==2){
    			$row_bgcolor = 'style="background-color: #D8F6CE"';
    		}else
    		if($student['mark_approval_status']==3){
    			$row_bgcolor = 'style="background-color: #F6CED8"';	    		
    		}else{
    			$enable_entry = '';
    		}
	  ?>
	  
	  <tr <?php echo $row_bgcolor;?>>
	    <td align='center' style="vertical-align:middle;"><?php echo $i;?></td>
	    <td align='center' style="vertical-align:middle;"> 
	    	<?php if($student['mark_approval_status']==0){ 
	         		echo 'Entry';
	         } else { 
	    		if ($student['mark_approval_status']==1){	    			
					echo 'Waiting for approval';
	    		}else 
	    		if($student['mark_approval_status']==2){
	    			echo 'Approved';
	    		}else
	    		if($student['mark_approval_status']==3){
	    			echo 'Rejected';	    		
	    		}
	    	}
	    	?>
	    </td>
		<td align='left' style="vertical-align:middle;"><?php echo $student["appl_fname"].' '.$student["appl_lname"];?></td>
	  	<td align='center' style="vertical-align:middle;"><?php echo $student["registrationId"];?></td> 	
	 	

 		<?php 
 		    $j=0;
 		    
 			foreach($this->rs_component as $component){
 				    
 				    //get main component info
 				    
 					$k=0;
 					$total_item = count($component['component_item']);
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center' style="vertical-align:middle;">
	     		<?php echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;?>
		    </td>
		     
	    <?php $k++; } ?>
	    	 <?php
	     	if($component['FinalExam']==1){ 
	     	 echo ' <td align="center" >'.$student['attendance'].'</td>	';
	     	}
	     	?>	  
	  <?php $j++;}?>
	  </tr>
	  
	  <?php $i++; } ?>
</table>

<!-- <img src="<?php //echo $this->graph1 ?>" /> -->