<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <li class="divider"></li>
            <li>
                <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry', 'action'=>'student-list', 'id'=>$this->idGroup, 'idProgram'=>$this->idProgram, 'idSemester'=>$this->idSemester, 'idSubject'=>$this->idSubject),'default',true);?>">
                    <span class='back'></span>
                    <?php echo $this->translate("Back");?>
                </a>
            </li>
        </ul>
    </div>
</div>
<br/><br/>
<div class="message notice"><span class="icon-info-circled"></span> Supported file format : xls and xlsx</div>
<fieldset>
    <legend><?php echo $this->translate('Upload'); ?></legend>
    <form method="post" id="upload_form" name="upload_form" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input type="file" id="mark_file" name="mark_file" required=""></td>
                <td><button type="submit" id="upload_mark" name="upload_mark"><?php echo $this->translate('Upload'); ?></button></td>
            </tr>
        </table>
    </form>
</fieldset>