<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">	  
	  <tr>
	    <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student Name")?></th>
	    <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Student ID")?></th>
	   	        
	    <?php foreach($this->rs_component as $m=>$component){
		    	 if($component['FinalExam']==1){
		    		$attendance = 1;
		    	 }else{
		    	 	$attendance = 0;
		    	 }
			     if(count($component['component_item'])>0){					 
					 	$colspanx = abs(count($component['component_item'])*2)+1+abs($attendance); 
				 }else{					 
					 	$colspanx = abs(count($component['component_item'])*2)+1+abs($attendance); 
				 }	    	
	    ?> 	    
	     <th align="center" colspan="<?php echo $colspanx;?>">
	     	<?php echo $component['component_name'];?>	     	
	     </th>
	     <?php 
	     }?>
	     
	     <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grand Total")?></th>
	     <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grade")?></th>
	     <?php if($this->program['IdScheme']==11){?>
	     <th rowspan='3' style="vertical-align:middle;"><?php echo $this->translate("Grade Point")?></th>
	     <?php } ?>
	 </tr>
	 
	 
	 <tr>  	    
	     <?php for($m=0; $m<count($this->rs_component); $m++){	     		
	     		for($j=0; $j<count($this->rs_component[$m]['component_item']); $j++)  {
	     	?> 	     
	     	<th colspan=2>
	     	<?php echo $this->rs_component[$m]['component_item'][$j]['ComponentName'];?>
	     	<input type='hidden' name='IdMarksDistributionDetail[]' id='IdMarksDistributionDetail<?php echo $m.$j?>' value='<?php echo $this->rs_component[$m]['component_item'][$j]['IdMarksDistributionDetails']?>' size="2">
	     	</th>	     	   
	    <?php } ?> 	    
	        <th rowspan="2" style="vertical-align:middle;">Total</th>
	        <?php 
	     	if($this->rs_component[$m]['FinalExam']==1){ 
	     	 echo ' <th rowspan="2">Attendance Status</th>	';
	     	}
	     	?>	   
	      <?php }?>
	 </tr>
	 
	 
	  <tr>
	 <?php foreach($this->rs_component as $m=>$component){
	     		foreach($component['component_item'] as $n=>$item){
	     	?>    
	      	<th align='center'>Raw<br><?php echo $item['Weightage']?><input type='hidden' name='raw<?php echo $m.$n;?>' id='raw<?php echo $m.$n;?>' value='<?php echo $item['Weightage']?>' size="2"></th>
	      	<th align='center'>Weightage<br><?php echo $item['Percentage']?><input type='hidden' name='weightage<?php echo $m.$n;?>' id='weightage<?php echo $m.$n;?>' value='<?php echo $item['Percentage']?>'  size="2"></th>	     
     		    
	    <?php } 
	     	}?>
	   </tr>
	   
	   
	   
	   <?php 	  
			$student = $this->student;
			
			if($student['AssessmentMethod']=='point'){
				$textbox = 'text';
			}else{
				$textbox = 'hidden';
			}			
	  ?>
	  
	  <tr>	   
		<td align='left' style="vertical-align:middle;">
			<?php echo $student["appl_fname"].' '.$student["appl_lname"];?>
		</td>
		
	  	<td align='center' style="vertical-align:middle;">
	  		<?php echo $student["registrationId"];?>
	  	</td>

 		<?php 
 		    $j=0;
 		   
 			foreach($this->rs_component as $component){
 				    
 				    //get main component info
 				    
	 				if($component['FinalExam']==1 &&  ($student['er_attendance_status']==396 || $student['er_attendance_status']==398) ){ 
	 					//final exam componenct detected
	 					//put dash in mark entry column 
	 					$dash = true;	 					
	 					$mark_entry_type = 'hidden';
	 					
	 				}else{
	 					$dash = false;
	 					$mark_entry_type = 'text';
	 				}
 				    
 					$k=0;
 					$total_item = count($component['component_item']);
 					
 					foreach($component['component_item'] as $item){
	     	?> 	     
	     	<td align='center' style="vertical-align:middle;">
	     	   				            
		    	<?php 
		    	if($dash==true){ 
		    		echo '-'; 
		    	}else{
		    		if($component['FinalExam']==1) {
		    			echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;
		    		}else{
		    			echo (isset($student["r".$item['IdMarksDistributionDetails']])) ? $student["r".$item['IdMarksDistributionDetails']]:'' ;
		    		}
		    	}
		    	?>
		    	
		   </td>
		   
		   <td align='center' style="vertical-align:middle;">
				<?php echo (isset($student["w".$item['IdMarksDistributionDetails']])) ? $student["w".$item['IdMarksDistributionDetails']]:'' ;?>
		   </td>	 
		     
	    <?php $k++; } ?>
	    	<td align='center' style="vertical-align:middle;">
	    		<?php echo (isset($student["tic".$component['IdMarksDistributionMaster']])) ? $student["tic".$component['IdMarksDistributionMaster']]:'';?>
	    	</td>
	    	 <?php 
	     	if($component['FinalExam']==1){ 
	     	 echo ' <td align="center" style="vertical-align:middle;">'.$student['attendance'].'</td>	';
	     	}
	     	?>	  
	  <?php $j++;}?>
	  
	  
     	<td align='center' style="vertical-align:middle;"><?php echo $student['final_course_mark']?></td>
	    <td align='center' style="vertical-align:middle;"><?php echo $student['grade_name']?></td>		
	   	<?php if($this->program['IdScheme']==11){?>
	   	<td align='center' style="vertical-align:middle;"><input type='<?php echo $textbox;?>' class="input-txt small" size='3' name='point[]' id='point<?php echo $i?>' value='<?php echo $student['grade_point']?>' readonly style='background-color : #d1d1d1;' /></td>	     	
	  	<?php } ?>
	  </tr>
	  
</table>