<script>

function back(role){	
	if(role==1){//admin
		window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'index'), 'default', true);?>";
	}else{
		window.location="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'group-list'), 'default', true);?>";
	}
}

</script>



<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>	
		  <?php if($this->rs_component){	?>
			<li>
				<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'student-list','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'gid'=>$this->idGroup,'idScheme'=>$this->idProgramScheme),'default',true)?>" >
					<span class='edit'></span>
					<?php echo $this->translate("Add/Edit Mark"); ?>
				</a>
			</li>	
			<?php } ?>
			<li>							
					<a href="#" onClick="back('<?php echo $this->role; ?>')">
						<span class='back'></span>Back</a>				
			</li>	
			
			
			
		</ul>
	</div>
</div>
<br>

<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<br>

<div style="width:100%;">

<form name='form1' method='post'>
<table class="table" width="600px" cellpadding="5" cellspacing="1" border="0">
	<tr>
		    <th width="20%"><?php echo $this->translate("Programme Name"); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->program['ArabicName']:$this->program['ProgramName'];?></td>   
	</tr>
	<tr>
		    <th width="20%"><?php echo $this->translate("Semester Name "); ?></th>   
		    <td><?php echo $this->semester[0]['SemesterMainName'];?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Course Name "); ?></th>   
		    <td><?php echo ($this->locale=='ms_MY') ? $this->subject['subjectMainDefaultLanguage']:$this->subject['SubjectName'];?>  (<?php echo $this->subject['SubCode'];?>)</td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Section Name "); ?></th>   
		    <td><?php echo $this->group["GroupName"].' - '.$this->group["GroupCode"];;?></td>   
	</tr>
	<tr>
		    <th><?php echo $this->translate("Lecturer "); ?></th>   
		    <td><?php echo $this->group['FullName']; ?></td>   
	</tr>
		
</table>
</form>
<br>


<br><br>	

<?php if($this->idProgramScheme){ ?>
	<table class="table noalt number" width="100%" cellpadding="5" cellspacing="1" >
	<tr>
		<th><?php echo $this->translate('Component Type'); ?></th>
		<th><?php echo $this->translate('Component Item'); ?></th>
		<th><?php echo $this->translate('Raw'); ?></th>
		<th><?php echo $this->translate('Weightage'); ?></th>
		<!--<th><?php echo $this->translate(''); ?></th>
	--></tr>	
	 <?php 
		  if($this->rs_component){			  
		  foreach ($this->rs_component as $component){
		  	$rowspan = !empty($component['component_item']) ? count($component['component_item'])+1 : 0;
		  ?>
			<tr>
				<td align='center' class='border2' <?php echo $rowspan > 0 ? 'rowspan="'.$rowspan.'"':''?>><?php echo $component['component_name'];?></td>
				<td align='center'>&nbsp;</td>
				<td align='center'><?php //echo $component["Marks"];?></td>
				<td align='center'><?php //echo $component["Percentage"];?></td>
				<!--<td align="center">		       
		        	<a class="editLink" href="<?php echo $this->url(array('module'=>'examination','controller'=>'mark-entry','action'=>'student-list','idSemester'=>$this->idSemester,'idProgram'=>$this->idProgram,'idSubject'=>$this->idSubject,'gid'=>$this->idGroup,'id'=>$component["IdMarksDistributionMaster"]),'default',true)?>" >Add/Edit Mark</a>		    	
				</td> 
			--></tr>
			<?php 
				if($component['component_item']){
					$i=0;
					$last = count($component['component_item']);
									
					foreach ($component['component_item'] as $item){
						$i++;
					?>
					<tr <?php echo $i == $last ? 'class="border2"':''?>>
						<?php if ( $rowspan == 0 ) { ?><td align='center'></td><?php } ?>
						<td align='center'><?php echo $item["ComponentName"]?></td>
						<td align='center' class='num'><?php echo $item["Weightage"]?></td>
						<td align='center' class='num'><?php echo $item["Percentage"];?></td>
						
					</tr>
			
	<?php 		} //end if
			 }//end for
	?>
			<tr class="special">
				<td align='center'><strong><?php echo $this->translate('Total'); ?> <?php echo $component['component_name'];?></strong></td>
				<td align='center'></td>
				<td align='center' class='num'><strong><?php echo $component["Marks"];?></strong></td>
				<td align='center' class='num'><strong><?php echo $component["Percentage"];?></strong></td>
				
			</tr>
	
	<?php 
		  }//end for
		}else { //end if
	?>
	<tr bgcolor="#FFFFFF">
	    <td colspan="5">No assessment component has been setup</td>   
    </tr>
	<?php }  ?>
</table>
<?php }  ?>

	
</div>