<script>
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
    $( "#dialog-address" ).dialog({
      modal: true,
      autoOpen: false,
      width: 650,
      buttons: {
        
        "Save": function() {

            if($('#address_type').val() =='' || $('#country').val()=='' || $('#state').val()==''|| $('#city').val()=='' || $('#address1').val()=='' || $('#phone').val()=='' || $('#email').val()==''){

               alert('Please fill in all required fields.');
               
           }else{
				
	           $("#form1").attr('action', '/generalsetup/exam-center/add-address');
	       	   $("#form1").submit();
	       	   $( this ).dialog( "close" );
           }
       	   
          },
		"Cancel": function() {
		if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
		{
			$( this ).dialog( "close" );
		}
		}
      }
    });

    $( "#dialog-edit-address" ).dialog({
        modal: true,
        autoOpen: false,
        width: 650,
        buttons: {
         
          "Save": function() {

        	  	   if($('#address_type').val() =='' || $('#country').val()=='' || $('#state').val()==''|| $('#city').val()=='' || $('#address1').val()=='' ||  $('#phone').val()=='' || $('#email').val()==''){

                       alert('Please fill in all required fields.');
                       
                   }else{
		        	   $("#form1").attr('action', '/generalsetup/exam-center/edit-address');
		         	   $("#form1").submit();
		         	   $( this ).dialog( "close" );
                   }
         	   
            },
			"Cancel": function() {
			if ( sure('<?php echo $this->translate('Are you sure?')?>') === true )
			{
				$( this ).dialog( "close" );
			}
			}
        }
      });
	
});

function addAddress(){	
	$('#dialog-address').load("<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'exam-center','action'=>'add-address','id'=>$this->id_ec),'default',true); ?>");
	$("#dialog-address" ).dialog('open');
}


function delAddress(id){
	//var id = $('input[name=add_id]:checked').val();

	if(!id){
		alert('Please select any address first');
	}else{
		if(confirm('Are you sure to delete this address?')){
			window.location = "<?php echo $this->url(array('module'=>'generalsetup','controller'=>'exam-center', 'action'=>'delete-address','id'=>$this->id_ec),'default',true); ?>/add_id/"+id;
		}
	}
}

function editAddress(id){
	//var id = $('input[name=add_id]:checked').val();

	if(!id){
		alert('Please select any address first');
	}else{

		$('#dialog-edit-address').load("<?php echo $this->url(array('module'=>'generalsetup', 'controller'=>'exam-center','action'=>'edit-address','id'=>$this->id_ec),'default',true); ?>/add_id/"+id);
		$('#dialog-edit-address').dialog('open');
	}
}
</script>



	<div class="toolbar-button">
		<ul>
		 <li>
				<a href="#" onclick="javascript:addAddress()" >
					<span class='add'></span>
					<?php echo $this->translate("Add New");?>
				</a>
			</li>
			<!--<li>
				<a href="#" onclick="javascript:editAddress()" >
					<span class='edit'></span>
					<?php echo $this->translate("Edit");?>
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:delAddress()" >
					<span class='delete'></span>
					<?php echo $this->translate("Delete");?>
				</a>
			</li>-->
			
		</ul>
	</div>

	
<br></br>
	
<table class="table" width="100%" id="address">
<thead>
	<tr>

		<th><?php echo $this->translate("Type");?></th>
		<th><?php echo $this->translate("Address");?></th>
		<th><?php echo $this->translate("Country");?></th>
		<th><?php echo $this->translate("Email");?></th>
		<th><?php echo $this->translate("Phone");?></th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
<?php if(count($this->address_list)>0){
foreach($this->address_list as $add){
?>
	<tr>
	    <!--<td align="center"><input type='radio' name='add_id' value='<?php echo $add["add_id"]?>'></td>-->
		<td><?php echo $add['addressType'];?></td>
		<td><?php 
                    $stateName = $add['add_state']!=99 ? $add['StateName']:$add['add_state_others'];
                    $cityName = $add['add_city']!=99 ? $add['CityName']:$add['add_city_others'];
                    echo $add['add_address1'].'<br/>'. $add['add_address2'].'<br/>'. $add['add_zipcode'].'<br/>'. $stateName.'<br/>'. $cityName;
                    ?>
                </td>
		<td><?php echo $add['CountryName'];?></td>
		<td><?php echo $add['add_email'];?></td>
		<td><?php echo $add['add_phone'];?></td>
		<td><a href="#" onclick="javascript:editAddress(<?php echo $add["add_id"]?>)" >Edit</a> |
			<a href="#" onclick="javascript:delAddress(<?php echo $add["add_id"]?>)" >Delete</a></td>
	</tr>
<?php }} ?>
</tbody>
</table>
	
<div id="dialog-address" title="Add New Address">
</div>

<div id="dialog-edit-address" title="Edit Address">
</div>