<script type="text/javascript">
var cur_element_edit = null;

$(function(){
	$('#dialog-change-course-fee').dialog({
		autoOpen: false,
		width: 350,
		modal: true,
		buttons: {
	        "Save": function() {
	        	submit_form_change_fee();
	          	
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
		}
		
	});	
});

function edit_fee(program_id, subject_id, element){
	cur_row_edit = $(element);
	
	$('#dialog-change-course-fee').html('<div id="loading"><?php echo $this->translate('Loading');?> <img src="/images/ajax-loader-bar-small.gif" /></div>');
	$('#dialog-change-course-fee').dialog('open');
	
	$.ajax({ 
		url: "/studentfinance/fee-resit/change-course-fee",
		data:{'pid':program_id,'cid':subject_id},
		type: 'GET',
		dataType: 'json'
	})
	.done(function(response){
		
		$('#dialog-change-course-fee').html(response.form);
		$( ".datepicker" ).datepicker({
			dateFormat: 'dd-mm-yy'
		});
		
	});
}

function submit_form_change_fee(){
	
	$.ajax({
		url: '/studentfinance/fee-resit/change-course-fee',
		data: { 'program_id': $('#program_id').val(), 'course_id':$('#course_id').val(), 'fee':$('#fee').val(), 'effective_date':$('#effective_date').val() },
		type: 'POST',
		dataType: 'json',
		cache: false,
		beforeSend: function(){
			$('#form_course_resit_fee').append('<div id="loading"><?php echo $this->translate('Loading');?> <img src="/images/ajax-loader-bar-small.gif" /></div>');
		}
	})
	.done(function(data){
		$('#loading').remove();
		
		if(data.status ==1){
			$('#dialog-change-course-fee').html(data.form);
			$( ".datepicker" ).datepicker({
				dateFormat: 'dd-mm-yy'
			});
		}else
		if(data.status ==2){
			
			var effective_dt = $(cur_row_edit).parent().prev();
			var resit_fee = $(effective_dt).prev();

			$(effective_dt).html(data.item.effective_date);
			$(resit_fee).html(data.item.fee);

			$('#dialog-change-course-fee').dialog('close');
		}	
		//console.log(data);
	});
    
}

function view_history(program_id, subject_id){
	
	$('#dialog-course-fee-history').remove();
	$('body').append($('<div>').attr('id','dialog-course-fee-history').attr('title','Resit Fee Changes History'));
			
	$('#dialog-course-fee-history').dialog({
		width: 550,
		modal: true,
		buttons: {
	        Close: function() {
	          $( this ).dialog( "close" );
	        }
		},
		open: function(){
			$.ajax({
				url: '/studentfinance/fee-resit/course-resit-fee-history',
				data: { 'pid': program_id, 'cid':subject_id },
				type: 'GET',
				dataType: 'html',
				cache: false,
				beforeSend: function(){
					$('#dialog-course-fee-history').html('<div id="loading"><?php echo $this->translate('Loading');?> <img src="/images/ajax-loader-bar-small.gif" /></div>');
				}
			})
			.done(function(result){
				$('#loading').remove();
				$('#dialog-course-fee-history').html(result);
			});
		}
		
	});
}
</script>

<style>
.faculty{
	font-weight: bold;
	padding: 10px 5px;
}
.zend_form dd {
    padding: 2px 0 2px 95px;
    width: 152px;
}
.zend_form dt {
    width: 95px;
}
.zend_form input[type="text"] {
    width: 150px;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-resit', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		</ul>
	</div>
</div>
<br />


<fieldset>
	<legend><?php echo $this->translate("Program Information");?></legend>
	<table>
		<tr>
			<td><?php echo $this->translate('Faculty');?></td>
			<td>:</td>
			<td><?php echo $this->faculty['ArabicName'];?> (<?php echo $this->faculty['CollegeCode'];?>)</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Program');?></td>
			<td>:</td>
			<td><?php echo $this->program['ArabicName'];?> (<?php echo $this->program['ProgramCode'];?>)</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('Total Courses in landscape');?></td>
			<td>:</td>
			<td><?php echo sizeof($this->courses);?> </td>
		</tr>
	</table>
</fieldset>


<table class="table" width="100%" cellpadding="15" cellspacing="1" border="0">
	<tr>
		<th rowspan="2"><?php echo $this->translate("Course Name")?></th>
		<th rowspan="2"><?php echo $this->translate("Course Code")?></th>
		<th><?php echo $this->translate("Resit Fee")?></th>
		<th><?php echo $this->translate("Effective Date")?></th>
		<th rowspan="2">&nbsp;</th>
	</tr>
	<tr>
		<th align="center">IDR</th>
		<th align="center">dd-mm-yyyy</th>
	</tr>
	<?php 
		foreach ($this->courses as $course):
	?>
	<tr>
		<td>
			<?php 
				if($course['subjectMainDefaultLanguage']!=""){
					echo $course['subjectMainDefaultLanguage'];
				}else{
					echo $course['BahasaIndonesia'];
				}
			?>
		</td>
		<td align="center"><?php echo $course['SubCode'];?></td>
		<td><?php echo sprintf('%0.2f', $course['resit_fee']);?></td>
		<td><?php echo isset($course['resit_effective_date'])?date('d-m-Y',strtotime($course['resit_effective_date'])):"";?></td>
		<td align="center">
			<a href="#" onclick="edit_fee(<?php echo $this->pid;?>,<?php echo $course['IdSubject'];?>, this);">Edit</a> | 
			<a href="#" onclick="view_history(<?php echo $this->pid;?>,<?php echo $course['IdSubject'];?>); return false;">History</a>
		</td>
	</tr>
	<?php 
		endforeach;
	?>
</table>

<div id="dialog-change-course-fee" title="<?php echo $this->translate('Edit Course Resit Fee');?>"></div>

