<script type="text/javascript">
	function del(){

		var id = $('input[name=id]:checked').val();

		if(!id){
			alert('<?php echo $this->translate("Please select any item first"); ?>');
		}else{
			if(confirm('Are you sure to delete?')){
				window.location = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item', 'action'=>'delete'),'default',true); ?>/id/"+id;
			}
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'studentfinance','controller'=>'fee-item', 'action'=>'add'),'default',true);?>";
	}

	function searchbox(){
		$('#div_search').show();
	}
</script>

<style>
.faculty{
	font-weight: bold;
	padding: 10px 5px;
}
</style>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>

		</ul>
	</div>
</div>
<br />



<div style="width:100%;">

<table class="table" width="100%" cellpadding="15" cellspacing="1" border="0">
	<tr>
		<th><?php echo $this->translate("Faculty")?></th>
		<th><?php echo $this->translate("Programme")?></th>
		<th>&nbsp;</th>
	</tr>
	<?php 
	foreach($this->faculty_list as $idx=>$faculty):
		if(isset($faculty['program_list'])){
	?>
	<tr <?php echo $idx%2==0?"class='shade'":"";?>>
		<td rowspan="<?php echo sizeof($faculty['program_list'])+1;?>">
			<span class="faculty"><?php echo $faculty['ArabicName'];?> - <?php echo $faculty['CollegeCode'];?></b></span>
		</td>
	</tr>
	<?php 
		for($i=0; $i<sizeof($faculty['program_list']); $i++ ){
			$program = $faculty['program_list'][$i]; 
	?>
	<tr <?php echo $idx%2==0?"class='shade'":"";?>>
		<td><?php echo $program['ArabicName'];?> (<?php echo $program['ProgramCode'];?>)</td>
		<td align="center"><a class=btn" href="/studentfinance/fee-resit/course-resit-fee/pid/<?php echo $program['IdProgram'];?>"><?php echo $this->translate("Course Resit Charges");?></a></td>
	</tr>
	<?php 
		}
		}
	endforeach;
	?>
</table>
</div>
