<style type="text/css">
.zend_form dt {
    width: 177px;
}
.zend_form dd {
    padding: 2px 187px;
}
</style>
<script type="text/javascript">
	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
		$( "#dialog-info" ).dialog({
			modal: true,
			autoOpen: false,
			width: 600,
			buttons: {
				"Save": function() { 
					dialog_nomor = $("#dialog_nomor").val(); 
					dialog_decree_date = $("#dialog_decree_date").val(); 

					 if(!validateRank()){
						$(this).dialog("close");	
						alert("<?php echo $this->translate('Please enter rank for accepted application') ?> ");
					 }else
					 if(!$("#dialog_nomor").val() || !$("#dialog_decree_date").val()){
							alert("<?php echo $this->translate('Fields cannot be empty.') ?> ");
							$(this).dialog("close"); 
					 }else{
						//alert(dialog_nomor+'--'+dialog_decree_date);
						$("#nomor").val(dialog_nomor);
						$("#decree_date").val(dialog_decree_date); 
						
						//$(this).dialog("close"); 
						$("#myform").submit(); 
					 }
				}, 
				"Cancel": function() { 
					$(this).dialog("close"); 
				}
				
			}
		});


		$("#dialog_decree_date").datepicker({
			"dateFormat":"yy-mm-dd",
			"changeMonth":"true"		
			
		});
		
		$('#dean_status_toggler').change(function() {
            var all_val = $(this).val();
            
        	$('select[name="dean_status[]"]').each(function(){
        	    $(this).val(all_val);

        	    changeRating($(this));
        	});

        	
        });
	});


	function save(){
		$( "#dialog-info" ).dialog('open');
		
		//document.myform.submit();
	}

	
	function printPreview(){
		
		url = "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'print-batch-dean-rating','faculty_id'=>$this->faculty_id,'program_code'=>$this->program_code,'intake_id'=>$this->intake_id,'period_id'=>$this->period_id,'load_previous_period'=>$this->load_previous_period),'default',true);?>";
		window.open (url, "mywindow","location=1,status=1,scrollbars=1, width=800,height=600");
	}

	function printNilaiRaport(){
		
		url = "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'print-nilai-raport','faculty_id'=>$this->faculty_id,'program_code'=>$this->program_code,'intake_id'=>$this->intake_id,'period'=>$this->period_id,'load_previous_period'=>$this->load_previous_period),'default',true);?>";
		window.open (url, "mywindow","location=1,status=1,scrollbars=1, width=500,height=500");
	}

	function getProgramme(element,targetElement){
		var faculty_id = $(element).val();
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool', 'action'=>'ajax-get-program'),'default',true);?>",
			data: {'faculty_id':$(element).val()},
			type: 'POST',
			dataType: 'json'	
		}).done(function ( data ) {

			
			$(targetElement).empty().append('<option value=""> <?php echo $this->translate("All"); ?> </option>');
		
			$.each(data, function(index) {
				$(targetElement).append('<option value="'+data[index].ProgramCode+'"> '+data[index].ProgramName+' </option>');
			});
		});
	}
	
	function getPeriod(element){
		var intake_id = $(element).val();
		
		$.ajax({
			url: "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool', 'action'=>'ajax-get-period'),'default',true);?>",
			data: {'intake_id':intake_id},
			type: 'POST',
			dataType: 'json'	
		}).done(function ( data ) {
			
			$('#period_id').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
		
			$.each(data, function(index) {
				$('#period_id').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
			});
		});
	}

	function changeRating(element){
		var stat = $(element).val();

		if(stat=="2" || stat=="3"){
			$(element).parent().prev().find("select").val("");
			//$(element).parent().prev().find("select").attr('disabled',true);
		}else{
			//$(element).parent().prev().find("select").removeAttr('disabled');

			if( $(element).parent().prev().find("select").val()=="" ){
				$(element).parent().prev().find("select").val("3");
			}
		}
	}	

	function validateRank(){
		
		var status = true;

		
		$('select[name="dean_status[]"]').each(function(){

    	    if( $(this).val()==1 && $(this).parent().prev().find("select").val()==0 ){
        	    
    	    	$(this).parent().prev().find("select").css('border','1px solid red');
    	    	status = false;
        	    return false;
        	    
    	    }else{
    	    	$(this).parent().prev().find("select").css('border','');
    	    }
    	});
		
		return status;
	}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
		
		   <?php if(isset($this->paginator)){?>
		   
		   <li>
				<a onclick="save();">
					<span class='save'></span>
					<?php echo $this->translate("save")?>
				</a>
			</li>
			<li>
				<a onclick="printPreview();" href="javascript:void(0);" >
					<span class='print'></span>
					<?php echo $this->translate("print")?>
				</a>
			</li>
			<!--<li>
				<a onclick="printNilaiRaport();" href="javascript:void(0);" >
					<span class='print'></span>
					<?php echo $this->translate("cetak nilai raport")?>
				</a>
			</li>
			-->
			<li class="divider"></li>
			<!--<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'format'));?>" >
					<span class='format'></span>
					<?php echo $this->translate("format")?>
				</a>
			</li>
			--><li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'download-batch-dean-rating','faculty_id'=>$this->faculty_id,'program_code'=>$this->program_code,'intake_id'=>$this->intake_id,'period_id'=>$this->period_id,'load_previous_period'=>$this->load_previous_period),'default',true);?>" >
					<span class='dcsv'></span>
					<?php echo $this->translate("download")?>
				</a>
			</li>
		
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'upload-batch-dean-rating','faculty_id'=>$this->faculty_id,'program_code'=>$this->program_code,'intake_id'=>$this->intake_id,'period_id'=>$this->period_id,'load_previous_period'=>$this->load_previous_period),'default',true);?>" >
					<span class='upload'></span>
					<?php echo $this->translate("upload")?>
				</a>
			</li>
			
			<?php } ?>
			
			
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<div style="width:100%;">
<?php echo $this->form;?>

<!-- List of Applicant -->
<?php if(isset($this->paginator)){?>
<!--
<?php echo $this->translate("to_download_batch_rating_format");?>&nbsp;
<a href="http://<?php echo APP_HOSTNAME;?>/documents/template/dean_rating_format.csv"><?php echo $this->translate("please_click_here");?></a>
<br>
<br>
-->
<small><?php echo $this->translate("Click on No. PES to view application details");?></small>
<br />
<form name="myform" id="myform" method="post" action="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'save-dean-rating'),'default',true);?>">
				
				<input type="hidden" name="nomor" id="nomor"  value="">
				<input type="hidden" name="decree_date" id="decree_date" value="">
				<input type="hidden" name="faculty_id" id="faculty_id" value="<?php echo $this->faculty_id?>">
				
				<table class="table" width="100%" cellpadding="5" cellspacing="2" border="0">
					<tr>
						<th rowspan="2"><?php echo $this->translate("Bil");?></th>			
						<th rowspan="2"><?php echo $this->translate("No PES");?></th>
						<th rowspan="2"><?php echo $this->translate("Applicant Name");?></th>	
						<th rowspan="2"><?php echo $this->translate("School");?></th>	
						<th rowspan="2"><?php echo $this->translate("Program Selection");?></th>
						<th rowspan="2"><?php echo $this->translate("Intake");?></th>
						<th rowspan="2"><?php echo $this->translate("Period");?></th>	
						<th rowspan="2"><?php echo $this->translate("High-School Mark Average");?></th>
						<th rowspan="2"><?php echo $this->translate("TPA Mark");?></th>
						<th rowspan="2"><?php echo $this->translate("Application type");?></th>		
						<th rowspan="2"><?php echo $this->translate("rank")?></th>
						<th><?php echo $this->translate("status")?></th>
						
					</tr>
					<tr>
						<td align="center">
							<select name="dean_status_toggler" id="dean_status_toggler">
								<option value="1"><?php echo $this->translate("All Accept")?></option>
								<option value="2"><?php echo $this->translate("All Reject")?></option>
								<option value="4" selected="selected"><?php echo $this->translate("All First Level Approval")?></option>
								<option value="3" selected="selected"><?php echo $this->translate("All Pending")?></option>	
							</select>
						</td>
					</tr>
					
					<?php 					
					$no=1;
					foreach ($this->paginator as $entry){
						
					//get school
					$schoolDB = new App_Model_Application_DbTable_ApplicantEducation();
					$school = $schoolDB->getSchool($entry["appl_id"],$entry["at_trans_id"]);
					
					//get education average mark
					$educationDB = new App_Model_Application_DbTable_ApplicantEducation();
					//$education = $educationDB->getEducationDetail($entry["appl_id"]);
					$everage_mark = $educationDB->getSelectionAverageMark($entry["appl_id"],$entry["at_pes_id"]);
					
					
					?>
					<tr>
						<td align="center"><?php echo $no;?></td>		
						<td>
							<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool','action'=>'selection-detail','txn_id'=>$entry['at_trans_id']),'default',true);?>" target="_BLANK">
								<?php echo $entry["at_pes_id"]?>
							</a>
						</td>
						<td><?php echo $entry["appl_fname"].' '.$entry["appl_mname"].' '.$entry["appl_lname"]?></td>
						<td><?php echo $school["sm_name"]; ?></td>
						<td><?php echo $entry["program_name_indonesia"]?></td>
						<td><?php echo $entry["IntakeDefaultLanguage"]?></td>
						<td><?php echo $entry["ap_desc"]?></td>	
						<td align="center"><?php echo round($everage_mark,2);?></td>
						<?php
								$ptestDb = new App_Model_Application_DbTable_ApplicantPtest();
								$tpa_mark = $ptestDb->getTpaMark($entry['at_trans_id']);
						?>
						<td align="center"><?php echo $tpa_mark!=null?round($tpa_mark,2):"-";?></td>
						<td align="center"><?php echo $entry["at_appl_type"]==2?"PSSB":"USM"?></td>	
						<td align="center">
						    <input type="hidden" name="transaction_id[]" value="<?php echo $entry["at_trans_id"]?>"></input>
							<select name="dean_rating[]">
								<option value=""> </option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3" selected="selected">3</option>
							</select></td>
						<td align="center">						    
							<select name="dean_status[]" onchange="changeRating(this)">
								<option value="1"><?php echo $this->translate("Accept")?></option>
								<option value="5" selected="selected"><?php echo $this->translate("First level Approval")?></option>
								<option value="2"><?php echo $this->translate("Reject")?></option>
								<option value="3" selected="selected"><?php echo $this->translate("Pending")?></option>
							</select>
						</td>
					</tr>
					<?php $no++;}//end paginator 
					?>
						
				</table>
				</form>

	
	
<?php }//end paginator?>
</div>
<br />

<div id="dialog-info" title="Details Info">
	<h3><?php echo $this->translate("Selection Detail");?></h3>
	<table width="100%" class="table5">
		<tr>
			<td>
				<?php echo $this->translate("Nomor")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="dialog_nomor" id="dialog_nomor" style="width:250px" />
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate("Decree Date")?>
			</td>
			<td width="5px">:</td>
			<td>
				<input type="text" name="dialog_decree_date" id="dialog_decree_date" style="width:250px" readonly />
			</td>
		</tr>
	</table>
</div>
