<script>

function getPeriod(element){
	var intake_id = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool-report', 'action'=>'ajax-get-period'),'default',true);?>",
		data: {'intake_id':intake_id},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#period').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
	
		$.each(data, function(index) {
			$('#period').append('<option value="'+data[index].ap_id+'"> '+data[index].ap_desc+' </option>');
		});
	});
}


function getNomor(element){
	var academic_year = $(element).val();
	
	$.ajax({
		url: "<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool-report', 'action'=>'ajax-get-nomor'),'default',true);?>",
		data: {'academic_year':academic_year},
		type: 'POST',
		dataType: 'json'	
	}).done(function ( data ) {
		
		$('#nomor').empty().append('<option value=""> <?php echo $this->translate('please_select'); ?> </option>');
	
		$.each(data, function(index) {
			$('#nomor').append('<option value="'+data[index].asd_id+'"> '+data[index].asd_nomor+' </option>');
		});
	});
}
</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool-report', 'action'=>'report-list'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		
			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>


<div style="width:100%;">
<?php echo $this->form; ?>
</div>
