<script>
$(function() {
	$("#decree_date").datepicker({
		"dateFormat":"yy-mm-dd",
		"changeMonth":"true"		
		
	});
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
		
		  	<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool', 'action'=>'batch-dean-rating'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>		
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<div style="width:100%;">
<?php echo $this->form;?>
</div>