<script>
$(function() {
	$("#decree_date").datepicker({
		dateFormat: "dd-mm-yy",
		"changeMonth":"true"		
	});

	$( ".from" ).datepicker({
		dateFormat: "dd-mm-yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( ".to" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( ".to" ).datepicker({
    	dateFormat: "dd-mm-yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( ".from" ).datepicker( "option", "maxDate", selectedDate );
        }
    });

    $( ".from2" ).datepicker({
    	dateFormat: "dd-mm-yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( ".to2" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( ".to2" ).datepicker({
    	dateFormat: "dd-mm-yy",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( ".from2" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
});
</script>
<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>		
			
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'selection-highschool', 'action'=>'batch-rector-rating'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
		
			
			<li>
				<a href="#" >
					<span class='info'></span>
					<?php echo $this->translate("info")?>
				</a>
			</li>
		</ul>
	</div>
</div>


<?php if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
<?php }?>
<?php if(isset($this->noticeError)){?>
<div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
<?php }?>

<?php echo $this->form;?>