<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <!-- start table head -->
    <thead>
    <tr>
        <th><?php echo $this->translate("No.");?></th>
        <th><?php echo $this->translate("Student Name");?></th>
        <th><?php echo $this->translate("Student ID");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Semester Applied");?></th>
        <th><?php echo $this->translate("Course Selection") ?></th>
        <th><?php echo $this->translate("Date Selection"); ?></th>
        <th><?php echo $this->translate("Type"); ?></th>
        <th><?php echo $this->translate("Fisabilillah Amount"); ?></th>
        <th><?php echo $this->translate("Amount - net after discount and adj"); ?></th>
    </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
    <?php
    if ($this->applications){
        $curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
        $no = 0;
        foreach ($this->applications as $key => $application) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $application['Student_Name']; ?></td>
                <td align="center"><?php echo $application['Student_ID']; ?></td>
                <td align="center"><?php echo $this->status[$application["Status"]];?></td>
                <td align="center"><?php echo $application['Semester_Applied']; ?></td>
                <td>
                    <?php
                    $model = new Studentfinance_Model_DbTable_ScholarshipReport();

                    if ($application['App_Type'] == 'Application') {
                        $courseList = $model->getApplicationCourse($application['ID']);
                    }else{
                        $courseList = $model->getReApplicationCourse($application['ID']);
                    }

                    if ($courseList){
                        $no = 0;
                        foreach ($courseList as $courseLoop){
                            $no++;
                            echo $no.') '.$courseLoop['SubCode'].' - '.$courseLoop['SubjectName'].'<br/>';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $courseDate = $model->getApplicationCourse($application['ID'], 1);

                        if ($courseDate){
                            echo date('d-m-Y', strtotime($courseDate['sac_upddate']));
                        }
                    }else{
                        $courseDate = $model->getReApplicationCourse($application['ID'], 1);

                        if ($courseDate){
                            echo date('d-m-Y', strtotime($courseDate['src_upddate']));
                        }
                    }
                    ?>
                </td>
                <td align="center"><?php echo $application['App_Type'] ?></td>
                <td align="right">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $amount = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaid($courseLoop['sac_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amount = ($amount + $amtex);
                            }
                        }
                    }else{
                        $amount = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaid($courseLoop['src_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amount = ($amount + $amtex);
                            }
                        }
                    }

                    echo 'RM '.number_format($amount, 2, '.', ',');
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $amountAdj = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaidAdjustment($courseLoop['sac_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amountAdj = ($amountAdj + $amtex);
                            }
                        }
                    }else{
                        $amountAdj = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaidAdjustment($courseLoop['src_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amountAdj = ($amountAdj + $amtex);
                            }
                        }
                    }

                    echo 'RM '.number_format(($amount-$amountAdj), 2, '.', ',');
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>
