<?php 
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<?php
if ($this->sponsor_application){
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <!-- start table head -->
    <thead>
    <tr>
        <th><?php echo $this->translate("Student Name");?></th>
        <th><?php echo $this->translate("Student ID");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Semester Applied");?></th>
        <th><?php echo $this->translate("Course Selection") ?></th>
        <th><?php echo $this->translate("Date Selection"); ?></th>
    </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
    <?php
    if ($this->sponsor_application){
        foreach ($this->sponsor_application as $key => $application) {
            $applicant_name = $application['appl_fname'].' '.$application['appl_lname'];
            $app_link = $this->baseUrl().'/studentfinance/scholarship/view-application/id/'.$application['sa_id'];
            ?>
            <tr id="<?php echo $application["sa_id"];?>">
                <td><?php echo $applicant_name;?></td>
                <td align="center"><?php echo $application['registrationId']; ?></td>
                <td align="center"><?php echo $this->status[$application["sa_status"]];?></td>
                <td align="center"><?php echo $application['SemesterMainName'].' - '.$application['SemesterMainCode']; ?></td>
                <td>
                    <?php 
                    $model = new Studentfinance_Model_DbTable_ScholarshipReport();
                    $courseList = $model->getApplicationCourse($application['sa_id']);

                    if ($courseList){
                        $no = 0;
                        foreach ($courseList as $courseLoop){
                            $no++;
                            echo $no.') '.$courseLoop['SubCode'].' - '.$courseLoop['SubjectName'].'<br/>';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    $courseDate = $model->getApplicationCourse($application['sa_id'], 1);

                    if ($courseDate){
                        echo date('d-m-Y', strtotime($courseDate['sac_upddate']));
                    }
                    ?>
                </td>
            </tr>
        <?php
        }
        }
        ?>
    </tbody>
</table>
<?php 
} 
?>