<script type="text/javascript">
    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('ProgramScheme');
            },
            complete: function() {
                hideLoading('ProgramScheme');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
                });
                $('#ProgramScheme').html(content);
            })
            .fail(function() {
                alert("error load program scheme");
            });
    }

    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'get-semester-applied'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
                showLoading('SemesterApplied');
            },
            complete: function() {
                hideLoading('SemesterApplied');
            }
        })
            .done(function(data) {
                var content = '<option label="-- All --" value="">-- All --</option>';
                $.each(data,function(index){
                    content += '<option label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
                });
                $('#SemesterApplied').html(content);
            })
            .fail(function() {
                alert("error load semester");
            });
    }

    function showLoading(target,target_div){
        $('#'+target).hide();
        $('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
        $('#loading').remove();
        $('#'+target).show();
    }

    function print(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship-report', 'action'=>'export-financial-aid-report'),'default',true);?>";
        $('#searchform').attr('action',url);
        $('#searchform').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php
            if (count($this->applications) > 0){
                ?>
                <li>
                    <a href="#" onclick='return print();'>
                        <span class='download'></span>
                        <?php echo $this->translate("Export");?>
                    </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>
<br />
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchform" name="searchform">
        <table width="100%">
            <tr>
                <td width="25%"><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->searchForm->Program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->searchForm->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester Applied'); ?></td>
                <td><?php echo $this->searchForm->SemesterApplied; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->searchForm->StudentName; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->searchForm->StudentID; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->searchForm->Status; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" value="search" class="btn_submit" name="search" id="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" value="clear" class="btn_submit" name="clear" id="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
    <!-- start table head -->
    <thead>
    <tr>
        <th><?php echo $this->translate("No.");?></th>
        <th><?php echo $this->translate("Student Name");?></th>
        <th><?php echo $this->translate("Student ID");?></th>
        <th><?php echo $this->translate("Status");?></th>
        <th><?php echo $this->translate("Semester Applied");?></th>
        <th><?php echo $this->translate("Course Selection") ?></th>
        <th><?php echo $this->translate("Date Selection"); ?></th>
        <th><?php echo $this->translate("Type"); ?></th>
        <th><?php echo $this->translate("Fisabilillah Amount"); ?></th>
        <th><?php echo $this->translate("Amount - net after discount and adj"); ?></th>
    </tr>
    </thead>
    <!-- end table head -->

    <!--start table body -->
    <tbody id="tbl_scholarship">
    <?php
    if ($this->applications){
        $curRateDB = new Studentfinance_Model_DbTable_CurrencyRate();
        $no = 0;
        foreach ($this->applications as $key => $application) {
            $no++;
            ?>
            <tr>
                <td align="center"><?php echo $no; ?></td>
                <td><?php echo $application['Student_Name']; ?></td>
                <td align="center"><?php echo $application['Student_ID']; ?></td>
                <td align="center"><?php echo $this->status[$application["Status"]];?></td>
                <td align="center"><?php echo $application['Semester_Applied']; ?></td>
                <td>
                    <?php
                    $model = new Studentfinance_Model_DbTable_ScholarshipReport();

                    if ($application['App_Type'] == 'Application') {
                        $courseList = $model->getApplicationCourse($application['ID']);
                    }else{
                        $courseList = $model->getReApplicationCourse($application['ID']);
                    }

                    if ($courseList){
                        $no = 0;
                        foreach ($courseList as $courseLoop){
                            $no++;
                            echo $no.') '.$courseLoop['SubCode'].' - '.$courseLoop['SubjectName'].'<br/>';
                        }
                    }
                    ?>
                </td>
                <td align="center">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $courseDate = $model->getApplicationCourse($application['ID'], 1);

                        if ($courseDate){
                            echo date('d-m-Y', strtotime($courseDate['sac_upddate']));
                        }
                    }else{
                        $courseDate = $model->getReApplicationCourse($application['ID'], 1);

                        if ($courseDate){
                            echo date('d-m-Y', strtotime($courseDate['src_upddate']));
                        }
                    }
                    ?>
                </td>
                <td align="center"><?php echo $application['App_Type'] ?></td>
                <td align="right">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $amount = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaid($courseLoop['sac_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amount = ($amount + $amtex);
                            }
                        }
                    }else{
                        $amount = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaid($courseLoop['src_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amount = ($amount + $amtex);
                            }
                        }
                    }

                    echo 'RM '.number_format($amount, 2, '.', ',');
                    ?>
                </td>
                <td align="right">
                    <?php
                    if ($application['App_Type'] == 'Application') {
                        $amountAdj = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaidAdjustment($courseLoop['sac_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amountAdj = ($amountAdj + $amtex);
                            }
                        }
                    }else{
                        $amountAdj = 0.00;
                        if ($courseList){
                            foreach ($courseList as $courseLoop){
                                $amt = $model->getSponsorPaidAdjustment($courseLoop['src_receiptid']);
                                $crid = $amt[0]['rcp_cur_id'];
                                //var_dump($crid);
                                if ($crid != 1 && $crid != null){
                                    //var_dump($crid); exit;
                                    $exrate = $curRateDB->getRateByDate($crid, $amt[0]['rcp_receive_date']);
                                    $amtex = ($amt[0]['sponsorpaid'] * $exrate['cr_exchange_rate']);
                                }else{
                                    $amtex = $amt[0]['sponsorpaid'];
                                }

                                $amountAdj = ($amountAdj + $amtex);
                            }
                        }
                    }

                    echo 'RM '.number_format(($amount-$amountAdj), 2, '.', ',');
                    ?>
                </td>
            </tr>
            <?php
        }
    }
    ?>
    </tbody>
</table>