<script type="text/javascript">
    function getProgramScheme(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'scholarship-tagging-ajax'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('ProgramScheme');
            },
            complete: function() {
		hideLoading('ProgramScheme');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'" value="'+data[index].IdProgramScheme+'">'+data[index].programType+' '+data[index].mop_name+' '+data[index].mos_name+'</option>';
            });
            $('#ProgramScheme').html(content);
        })
        .fail(function() {
            alert("error load program scheme"); 
        });
    }
    
    function getSemester(id){
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship', 'action'=>'get-semester-applied'),"default",true);?>/id/"+id;
        var data_dropdown = {};

        $.ajax({
            type: "POST",
            url: url,
            data: data_dropdown,
            dataType: 'json',
            beforeSend: function() {
		showLoading('SemesterApplied');
            },
            complete: function() {
		hideLoading('SemesterApplied');
            }
        })
        .done(function(data) {
            var content = '<option label="-- All --" value="">-- All --</option>';
            $.each(data,function(index){                    
                content += '<option label="'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'" value="'+data[index].IdSemesterMaster+'">'+data[index].SemesterMainName+' - '+data[index].SemesterMainCode+'</option>';
            });
            $('#SemesterApplied').html(content);
        })
        .fail(function() {
            alert("error load semester"); 
        });
    }
    
    function showLoading(target,target_div){
        $('#'+target).hide();
	$('#'+target).after("<div id='loading'><img src='/images/spinner.gif' width='30' heigth='30' /></div>");
    }

    function hideLoading(target){
	$('#loading').remove();
	$('#'+target).show();
    }
    
    function print(){
        //alert('sdvewvewbv');
        var url = "<?php echo $this->url(array('module'=>'studentfinance','controller'=>'scholarship-report', 'action'=>'export-application'),'default',true);?>";
	$('#searchform').attr('action',url);
	$('#searchform').submit();
        return true;
    }
</script>
<div class="message toolbar">
    <h2><?php echo $this->title; ?></h2>
    <div class="toolbar-button">
        <ul>
            <?php 
            if (count($this->applications) > 0){
            ?>
            <li>
                <a href="#" onclick='return print();'>
                <span class='download'></span>
                <?php echo $this->translate("Export");?>
                </a>
            </li>
            <?php
            }
            ?>
        </ul>
    </div>
</div>
<br/><br/>
<fieldset>
    <legend><?php echo $this->translate('Search'); ?></legend>
    <form method="post" id="searchform" name="searchform">
        <table width="100%">
            <tr>
                <td width="25%"><?php echo $this->translate('Programme'); ?></td>
                <td><?php echo $this->searchForm->Program; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Programme Scheme'); ?></td>
                <td><?php echo $this->searchForm->ProgramScheme; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Semester Applied'); ?></td>
                <td><?php echo $this->searchForm->SemesterApplied; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student Name'); ?></td>
                <td><?php echo $this->searchForm->StudentName; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Student ID'); ?></td>
                <td><?php echo $this->searchForm->StudentID; ?></td>
            </tr>
            <tr>
                <td><?php echo $this->translate('Status'); ?></td>
                <td><?php echo $this->searchForm->Status; ?></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" value="search" class="btn_submit" name="search" id="search"><?php echo $this->translate('Search'); ?></button>
                    <button type="submit" value="clear" class="btn_submit" name="clear" id="clear"><?php echo $this->translate('Clear'); ?></button>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br/>
<fieldset>
    <table id="tbl_menu" class="table" width="100%" cellpadding="5" cellspacing="1">
        <!-- start table head -->
        <thead>
        <tr>
            <th><?php echo $this->translate("Student Name");?></th>
            <th><?php echo $this->translate("Student ID");?></th>
            <th><?php echo $this->translate("Status");?></th>
            <th><?php echo $this->translate("Semester Applied");?></th>
            <th><?php echo $this->translate("Course Selection") ?></th>
            <th><?php echo $this->translate("Date Selection"); ?></th>
        </tr>
        </thead>
        <!-- end table head -->

        <!--start table body -->
        <tbody id="tbl_scholarship">
        <?php
        if ($this->applications){
            foreach ($this->applications as $key => $application) {
                $applicant_name = $application['appl_fname'].' '.$application['appl_lname'];
                $app_link = $this->baseUrl().'/studentfinance/scholarship/view-application/id/'.$application['sa_id'];
                ?>
                <tr id="<?php echo $application["sa_id"];?>">
                    <td><?php echo $applicant_name;?></td>
                    <td align="center"><?php echo $application['registrationId']; ?></td>
                    <td align="center"><?php echo $this->status[$application["sa_status"]];?></td>
                    <td align="center"><?php echo $application['SemesterMainName'].' - '.$application['SemesterMainCode']; ?></td>
                    <td>
                        <?php 
                        $model = new Studentfinance_Model_DbTable_ScholarshipReport();
                        $courseList = $model->getApplicationCourse($application['sa_id']);
                        
                        if ($courseList){
                            $no = 0;
                            foreach ($courseList as $courseLoop){
                                $no++;
                                echo $no.') '.$courseLoop['SubCode'].' - '.$courseLoop['SubjectName'].'<br/>';
                            }
                        }
                        ?>
                    </td>
                    <td align="center">
                        <?php
                        $courseDate = $model->getApplicationCourse($application['sa_id'], 1);
                        
                        if ($courseDate){
                            echo date('d-m-Y', strtotime($courseDate['sac_upddate']));
                        }
                        ?>
                    </td>
                </tr>
            <?php
            }
            }
            ?>
        </tbody>
    </table>
</fieldset>