

<script type="text/javascript">

dojo.addOnLoad(function(){
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
    dijit.byId("field5").attr('required','true');

    dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
    dijit.byId("field1").attr('required','true');

    dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
    //dijit.byId("field8").attr('required','true');
	
	});

fnGetPlacementtest(<?php echo $this->IdPrgm;?>);
function fnGetPlacementtest(idProgram){ 
	if(idProgram != "" && idProgram != 0)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/application/placementtestmarksbulk/getplacementtestlist/idProgram/"+idProgram,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown('field1',data);  
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>



<fieldset>
	<legend>
		<?php echo $this->translate("Placement Test Student Search");?>
	</legend>
	<form
		action="<?php echo $this->baseUrl();?>/application/placementtestmarksbulk/index/search/1"
		method="POST" dojoType="dijit.form.Form" id="myForm">

		<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
				}
				else
				{					
					return false;
                }
				</script>


		<table width="100%">
			<tr>
				<td><?php echo $this->translate("Student Name");?>
				</td>
				<td><?php echo $this->lobjform->field3;?></td>
				<td><?php echo $this->translate("Personal ID");?>
				</td>
				<td><?php echo $this->lobjform->field2;?></td>
			</tr>
			<tr>
				<td><?php echo $this->translate("$this->Program");?><span>*</span></td>
				<td><?php echo $this->lobjform->field5;?></td>
				<td><?php echo $this->translate("Placement")." ".$this->translate("Test");?><span>*</span>
				</td>
				<td><?php echo $this->lobjform->field1;?></td>

			</tr>
			<tr>
				<td><?php echo $this->translate($this->Branch);?></td>
				<td><?php echo $this->lobjform->field8;?></td>
				<td><?php echo $this->translate("Active");?></td>
				<td><?php echo $this->lobjform->field7;?></td>
			</tr>
			<tr>
				<td align="center" colspan="4"><?php echo $this->lobjform->Search;?>
					<input type='button' class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Clear')?>" value='Clear'
					onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementtestmarksbulk', 'action'=>'index'),'default',true);?>';" />
					<br /> <span> Please choose mandatory search criteria for results </span>
				</td>

			</tr>
		</table>
	</form>
</fieldset>
<br />
<?php if (count($this->paginator)) {?>
<form name="placement" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
				<th><?php echo $this->translate->_("Student").' '.$this->translate->_("Name");?>
				</th>
				<th><?php echo $this->translate->_("Address");?></th>
				<th><?php echo $this->translate->_("IC")." ".$this->translate->_("Number");?>
				</th>
				<th><?php echo $this->translate->_("Program")." ".$this->translate->_("Name");?>
				</th>
				<th><?php echo $this->translate->_("Program")." ".$this->translate->_("Test");?>
				</th>
				<th><?php echo $this->translate->_("Date");?></th>
				<th><?php echo $this->translate->_("Time");?></th>
				<th><?php echo $this->translate->_("City");?></th>
				<th width="11%"><?php echo $this->translate->_("Component");?></th>
				<th width="4%"><?php echo $this->translate->_("Weightage");?></th>
				<th width="5%"><?php echo $this->translate->_("Total")." ".$this->translate->_("Marks");?>
				</th>
				<th width="5%"><?php echo $this->translate->_("Minimum")." ".$this->translate->_("Marks");?>
				</th>
				<th width="15%"><?php echo $this->translate->_("Marks")." ".$this->translate->_("Obtained");?>
				</th>


			</tr>
			<input type="hidden" name="IdPlacementTest" id="IdPlacementTest"
				value="<?php echo $this->IdPlacementTest;?>">
			<?php

			if (count($this->PlacementTestComponents)):
						foreach ($this->PlacementTestComponents as $studentcomponents ): ?>

			<input type="hidden" name="IdPlacementTestComponent[]"
				id="IdPlacementTestComponent<?php echo $studentcomponents['IdPlacementTestComponent'];?>"
				value="<?php echo $studentcomponents['IdPlacementTestComponent'];?>">

			<?php endforeach;
			endif;
			$marks  =$this->marks;


			if (count($this->paginator)): $cnt =0;
		foreach ($this->paginator as $studentApplication ):  ?>
			<tr>
				<td><?php echo $this->escape($studentApplication['FName']);?> <input
					type="hidden" name="StudentsIds[]"
					id="StudentsIds<?php echo $cnt;?>"
					value="<?php echo $this->escape($studentApplication['IdApplication']);?>">

				</td>
				<td><?php echo $this->escape($studentApplication['PermAddressDetails']);?>
				</td>
				<td><?php echo $this->escape($studentApplication['ICNumber']);?>
				</td>
				<td><?php echo $this->escape($studentApplication['ProgramName']);?>
				</td>
				<td><?php echo $this->escape($studentApplication['PlacementTestName']);?>
				</td>
				<td><?php echo date("d-m-Y" , strtotime($this->escape($studentApplication['PlacementTestDate'])));?>
				</td>
				<td><?php echo $this->escape($studentApplication['PlacementTestTime']);?>
				</td>
				<td><?php echo $this->escape($studentApplication['CityName']);?>
				</td>

				<td colspan="5">
					<table width="100%">
						<?php if (count($this->PlacementTestComponents)): 
						foreach ($this->PlacementTestComponents as $studentcomponents ): $cnt++; ?>
						<tr>
							<td width="34%"><?php echo $this->escape($studentcomponents['ComponentName']);?>
							</td>
							<td width="15%"><?php echo $this->escape($studentcomponents['ComponentWeightage']);?>
							</td>
							<td width="15%"><?php echo $this->escape($studentcomponents['ComponentTotalMarks']);?>
							</td>
							<td width="15%"><?php echo $this->escape($studentcomponents['MinimumMark']);?>
							</td>
							<td width="35%"><input type="text"
								name="Marks[<?php echo $this->escape($studentApplication['IdApplication']);?>][<?php echo $studentcomponents['IdPlacementTestComponent'];?>]"
								id="marks<?php echo $this->escape($studentApplication['IdApplication']);?>/<?php echo $studentcomponents['IdPlacementTestComponent'];?>"
								value="<?php if($marks['marks'][$studentApplication['IdApplication']][$studentcomponents['IdPlacementTestComponent']]) echo $marks['marks'][$studentApplication['IdApplication']][$studentcomponents['IdPlacementTestComponent']]; else echo 0;?>"
								dojoType="dijit.form.ValidationTextBox"
								<?php if($marks['marks'][$studentApplication['IdApplication']][$studentcomponents['IdPlacementTestComponent']] && $marks['marks'][$studentApplication['IdApplication']][$studentcomponents['IdPlacementTestComponent']] < $this->escape($studentcomponents['MinimumMark'])) {?>
								style="border-color: red; border-style: solid; width: 158px;"> <?php } else { ?>
								style="width:158px;" <?php } ?></td>
						</tr>
						<?php endforeach;
	endif; ?>
					</table>

				</td>
			</tr>
			<?php endforeach;
	endif; ?>

		</table>
		<table class="table" width="100%">
			<tr>
				<td align="right" colspan="4"><input type='submit' class="NormalBtn"
					dojotype="dijit.form.Button" name="Save"
					label="<?php echo $this->translate('Save')?>" value='Save' /> <input
					type='button' class="NormalBtn" dojotype="dijit.form.Button"
					label="<?php echo $this->translate('Back')?>" value='click'
					onclick="window.location.href='<?php echo $this->url(array('module'=>'application','controller'=>'placementtestmarksbulk', 'action'=>'index'),'default',true);?>';" />
				</td>
			</tr>
		</table>
	</fieldset>
</form>
<?php }?>