<script type="text/javascript">
    $('#submit-dialog-credithour').click(function(){

        var total_credit_taken = parseInt( $('#total_credit_taken').val() );
        var subject_credithour = parseInt( $('#subject_credithour').val() );
        var credit_hour = parseInt( $('#credit_hour').find(":selected").val() );

        if( (credit_hour+total_credit_taken)>subject_credithour ){
            alert('The credit hour entered is more than the credit hour available.');
            return false;
        }

        $("#credit-<?php echo $this->idsubject?>-<?php echo $this->iditem?>").val( credit_hour );
        $("#type-<?php echo $this->idsubject?>-<?php echo $this->iditem?>").val( 271 );
        $(".credit-<?php echo $this->idsubject?>").val( credit_hour );

        $('#dialog-credithour').dialog('close');
    });
</script>

<input type="hidden" name="subject_credithour" id="subject_credithour" value="<?=$this->subject_credithour?>">
<input type="hidden" name="total_credit_taken" id="total_credit_taken" value="<?=$this->total_credit_taken?>">
<table class="table">
    <tr>
        <td width="250">Total Credit Hour Taken / Available</td><td><?=$this->total_credit_taken?> / <?=($this->subject_credithour-$this->total_credit_taken)?></td>
    </tr>
    <tr>
        <td>Enter credit hour</td>
        <td>
            <select id="credit_hour">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option value="12">12</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td><td><input type="submit" value="Submit" id="submit-dialog-credithour"></td>
    </tr>
</table>