<p><a href="#" onclick="return section(<?php echo $this->idsemester?>,<?php echo $this->idsubject?>,<?php echo $this->iditem?>)"><span class="icon icon-left-open"></span> Back</a></p>

<table width="100%" class="maintable">
	<tr>
		<th><?php echo $this->translate('Venue')?></th>
		<th><?php echo $this->translate('Date')?></th>
		<th><?php echo $this->translate('Day')?></th>
		<th><?php echo $this->translate('Start Time')?></th>
		<th><?php echo $this->translate('End Time')?></th>
	</tr>
	<?php if  ( !empty($this->schedule) ) : ?>
	<?php foreach ( $this->schedule  as $schedule ) : ?>
	<tr>
		<td><?php echo $schedule['DefinitionDesc']?></td>
		<td><?php echo format_date($schedule['sc_date'])?></td>
		<td><?php echo $schedule['sc_day']?></td>
		<td><?php echo $schedule['sc_start_time']?></td>
		<td><?php echo $schedule['sc_end_time']?></td>
	</tr>
	<?php endforeach; ?>
	<?php else: ?>
	<tr>
		<td colspan="5"><?php echo $this->translate('No schedule found')?></td>
	</tr>
	<?php endif; ?>
</table>
