<?php
header('Content-Type: application/xlsx');
header('Content-Disposition: attachement; filename="'.$this->filename.'"');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border=1>
    <tr>
        <th rowspan="2">Student Name</th>
        <th rowspan="2">Student ID</th>
        <th rowspan="2">Program</th>
        <th rowspan="2">Program Scheme</th>
        <th rowspan="2">Sponsor No.</th>
        <th rowspan="2">Currency</th>
        <th rowspan="2">Sponsor Amount (USD)</th>
        <th rowspan="2">Sponsor Amount (MYR)</th>
        <!--<th>Sponsor Amount Payment (MYR)</th>-->
        <th colspan="2">Adjustment</th>
    </tr>
    <tr>
        <th>Gain (MYR)</th>
        <th>Loss (MYR)</th>
    </tr>
    <?php
    if ($this->list){
        foreach ($this->list as $list){
            ?>
            <tr>
                <td><?php echo $list['studentname'] ?></td>
                <td align="center"><?php echo $list['registrationId'] ?></td>
                <td align="center"><?php echo $list['ProgramName'] ?></td>
                <td align="center"><?php echo $list['mop'].' '.$list['mos'].' '.$list['pt']; ?></td>
                <td align="center"><?php echo $list['invoice_no']; ?></td>
                <td align="center"><?php echo $list['cur_code']; ?></td>
                <td align="right"><?php echo $list['cur_id']!=1 ? number_format($list['credit'], 2, '.', ''):0.00; ?></td>
                <td align="right"><?php echo number_format($list['credit_myr'], 2, '.', ''); ?></td>
                <!--<td align="right"><?php //echo number_format($list['credit_pymnt'], 2, '.', ''); ?></td>-->
                <td align="right"><?php echo number_format($list['gain'], 2, '.', ''); ?></td>
                <td align="right"><?php echo number_format($list['loss'], 2, '.', ''); ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>