<script type="text/javascript">
dojo.addOnLoad(function(){
    dijit.byId('field29').set('value','');
    dijit.byId('field29').set('placeHolder','Select');
});
</script>
<div class="message toolbar">
	<h2>
		<?php echo $this->translate('Institutions'); ?>
	</h2>
	<div class="toolbar-button">
		<ul>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'application','controller'=>'institutionsetup', 'action'=>'newinstitution'),'default',true);?>" >
					<span class='add'></span>
					Add
				</a>
			</li>
		</ul>
	</div>
</div>

<?php if(isset($this->noticeMessage)){?>
    <div class="message notice"><strong><?php echo $this->noticeMessage;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeSuccess)){?>
    <div class="message success"><strong><?php echo $this->noticeSuccess;?></strong>.</div>
    <br />
<?php }?>
<?php if(isset($this->noticeError)){?>
    <div class="message error"><strong><?php echo $this->noticeError;?></strong>.</div>
    <br />
<?php }?>
<br>

<fieldset>
	<legend>
		<?php echo $this->translate("Search");?>
	</legend>

	<form action="<?php echo $this->baseUrl();?>/application/institutionsetup/index/search/1" method="POST">
            <dl class="zend_form">    
                <dt><?php echo $this->translate("Institution Name");?></dt>
                <dd><?php echo $this->lobjform->field3;?></dd>
                <dt><?php echo $this->translate("Institution Code");?></dt>
                <dd><?php echo $this->lobjform->field4;?></dd>
                <dt><?php echo $this->translate("Country");?></dt>
                <dd><?php echo $this->lobjform->field29;?></dd>
                <dd><?php echo $this->lobjform->Search;?>
                <?php echo $this->lobjform->Clear;?>
                </dd>
            </dl>
	</form>
</fieldset>
<br />

<h3><?php echo $this->translate('Institutions') ?> (<?php echo number_format($this->totalRecord) ?>)</h3>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'paginationTop.phtml');
?>


<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr>
			<th><?php echo $this->translate("Institution Name");?>
			</th>
			<th><?php echo $this->translate("Institution Code");?>
			</th>
			<th></th>

			<?php if (count($this->paginator)): ?>
			<?php foreach ($this->paginator as $lobjInstitutionsetup): ?>
		
		
		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<td><!--<a
				href="<?php //echo $this->baseUrl();?>/application/institutionsetup/editinstitution/id/<?php //echo $this->escape($lobjInstitutionsetup['idInstitution']);?>">--><?php print_r($this->escape($lobjInstitutionsetup['InstitutionName']));?>
			<!--</a>--></td>
			<td>
				<?php echo $this->escape($lobjInstitutionsetup['InstitutionCode']);?>
			</td>
			<td align="center">
				<a href="<?php echo $this->baseUrl();?>/application/institutionsetup/editmain/id/<?php echo $this->escape($lobjInstitutionsetup['idInstitution']);?>">Edit</a>
			</td>

			<?php endforeach; ?>
			<?php endif; ?>
		</tr>
		<tr>
			<td colspan="8" align="right"><div class="pagination">
					<?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
                    <?php
                    echo $this->paginationControl($this->paginator, 'Sliding', 'paginationBottom.phtml');
                    ?>
				</div></td>
		</tr>

	</table>
</fieldset>
